[2022-09-23 10:59] ilyam8 commented on #13687
What metric do you have in mind? Can you name it?

[2022-09-23 11:29] shyamvalsan commented on #13687
Yes and "Time since link down" is `master_link_down_since_seconds`

[2022-09-23 11:44] #13687 closed

[2022-09-23 11:54] Dim-P commented on #12360
@sashwathn I am closing this due to inactivity. If it still persists in recent versions of the agent, please feel free to reopen and provide more information.

[2022-09-23 11:54] #12360 closed

[2022-09-23 12:01] Dim-P commented on #12303
@Divya-kalluru Did you find the time to do this and share the memory usage with us? Is Netdata still consuming a lot of memory?

[2022-09-23 12:14] thiagoftsm commented on #12719
Hello @vobruba-martin ,

We had an internal talk about this yesterday, and we expect to have next release in the first weeks of October.

[2022-09-23 13:30] ktsaou commented on #13160
I think ephemerality is related to host health management. So, probably it should be like (in `netdata.conf`):

[code]

With `permanent` being the default.

This could also set the host label `_node_type` which will be propagated to parent nodes.

I prefer `_node_type` over `_is_ephemeral` mainly because this will allow us to have more types in the future, like:

* permanent (pet)
* ephemeral (ins

[2022-09-23 13:53] Ferroin opened #13711 "[Bug]: Stop using 'grep' to obtain the user or group information."
### Discussed in https://github.com/netdata/netdata/discussions/13095

<div type='discussions-op-text'>

<sup>Originally posted by **iigorkarpov** June  9, 2022</sup>
At least in two files

[code]
we use `grep` to get some info on login or group. Meanwhile the recommended way is to use `getent` instead. The main difference is that now we cannot handle the cases with centralized authentication, lik

[2022-09-23 13:59] Ferroin commented on #13705
Already brought this up in Slack, but mentioning it here so it’s publicly visible:

Providing any stats at all will be much easier if we finally migrate the claiming code into the agent itself as I’ve suggested in https://github.com/netdata/netdata/discussions/12179, and IMO supporting sending arbitrary stats on claim that we already send as part of the regular anonymous statistics messages is ano

[2022-09-23 14:17] shyamvalsan commented on #13691
OK Let's proceed without the Latency alert for now.

[2022-09-23 14:34] ced1check opened #13723 "[Bug]: can't monitor haproxy 2.4.18"
### Bug description

I've followed those 2 guides:
https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/haproxy
https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/haproxy

The later mentions using socket, but no matter what I do in debugging the issue it never uses the socket parameter.

The first uses an http URL which I've configured in haproxy and reports stats u

[2022-09-23 14:44] CreeperFace00 commented on #13694
I did a packet capture, and interestingly the child nodes are still communicating and sending metrics to the parent node as normal, even with the dashboard inaccessible.

[2022-09-23 14:48] CreeperFace00 commented on #13694
Ah, it did generate a coredump, it just did not report a segfault in dmesg.
Here's the output of `coredumpctl debug`

[code]

[2022-09-23 15:11] ilyam8 commented on #13691
@sh I just started a few Redis containers (using official images, redis_version:7.0.4) and mem_fragmentation_ratio is 12-13 (no load at all).

[2022-09-23 15:13] shyamvalsan commented on #13691
How is the ratio being calculated? Because ratio of 1.5 might imply 150%

[2022-09-23 15:16] ilyam8 commented on #13691
It is used_rss / used_memory

[code]

[2022-09-23 15:31] ilyam8 commented on #13691
@shyamvalsan ok, the description

So my understanding is that this is not a very accurate metric and is completely wrong when the process RSS overhead (code, shared libraries, stack, etc) is relatively high (like in my case, no data no load).

[2022-09-23 16:31] cakrit opened #13713 "[Feat]: Improve the UX of kickstart installation on systems with no systemd"
### Problem

The following is confusing, because the very important error message on not being able to start the service is basically hidden before claiming and a bunch of other stuff

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/43294513/192008260-a50c63d3-7f57-45bc-af2c-c2e623e2ad46.png">

I tried to manually do the standard `systemctl start netdata` until I reali

[2022-09-23 16:37] Ferroin commented on #13160
I concur with @ktsaou here, both on the point of this being part of the health management info, and on needing it to be more than simply a boolean flag, though am not completely sold on the user-defined node types.

At minimum, I see a need for three types here:

- `permanent`, which has all the current ‘standard’ behaviors and should be the default barring special cases.
- `intermittent`, which w

[2022-09-23 16:41] cakrit opened #13714 "[Bug]: Can't stop or restart netdata on WSL (no systemd)"
### Bug description

I was wondering why netdata wouldn't read an updated netdata.conf, until I realized that `service netdata restart` didn't actually restart it. In fact, `service netdata stop` doesn't work at all. I had to manually `killall` and run `service netdata start` again.

### Expected behavior

Proper netdata service implementation on WSL

### Steps to reproduce

1. Install netdata on

[2022-09-23 16:43] Ferroin commented on #13714
My gut instinct here is that this is not a Netdata bug, but an issue with WSL itself.

In fact, I’m not even sure why `service netdata start` works on WSL. They’re likely doing some hacky thing themselves to handle this without involving systemd.

[2022-09-23 16:45] cakrit commented on #13714
I shared our draft instructions with you @Ferroin , you can try it to see what you can make of it.

[2022-09-23 17:06] ilyam8 commented on #13691
Added 2 and 4.

- mem_fragmentation: not an accurate metric according to my quick research. At the same time can't say that _allocator_frag_ratio_ is the way to go.
- **hit**rate: bites again: we need a miss rate. Hit is not applicable for an alarm for us.
- latency: can't use PING latency for a stock alarm.

[2022-09-23 17:07] Ferroin commented on #13714
Indeed. It will probably take a while though, as the only Windows system I have readily available is part of a dual-boot setup on my laptop and I _really_ don’t do any development work there. Looks like it’s about time for me to finally try setting up a Windows 11 VM on my home server...

[2022-09-23 17:09] cakrit commented on #13714
We will actually need a windows server for a demo environment. I'll want to put on it IIS and SQL server too at some point. I'll see the best way to get one and give you access.

[2022-09-23 17:11] cakrit opened #13716 "[Feat]: Add a default windows_export job in wmi.conf, for WSL"
### Problem

It's easy to auto-detect a default installation of windows_exporter (and any other prometheus endpoints, actually), when running netdata on WSL. But we're not doing it.

### Description

WSL has this very nice feature, that the windows host it's running on can be accessed via the hostname `$(hostname).local`
e.g.
[code]
So this actually works:
[code]

We should add some way to do this

[2022-09-23 17:53] patademahesh commented on #3234
We were able to fix this alert by setting below sysctl params on the varnish server.

`net.ipv4.tcp_max_syn_backlog = 512`
`net.ipv4.tcp_syn_retries = 1`

[2022-09-23 23:45] thiagoftsm opened #13717 "[Bug]: Streaming issue with libasan"
### Bug description

While I was testing PR https://github.com/netdata/netdata/pull/13708 I observed parent stopping due memory issues. This behavior is happening only when we use `libasan` and it also shows issues with machine learning.

To create this issue I used the following environment:

| Distribution | hardware | Is parent? |
|-----------------|--------------|---------------|
|Slackware cu

[2022-09-24 09:33] AvMavs commented on #13709
For those who might come across this issue, it does not operate as your user and thus, you must give the Netdata user (UID/GID 201) ownership of the folders manually. Adding a PGID/PUID env variable does not work either, chmod is the only way that worked for me.

But yeah, this is more of a make-do than a fix, I think just allowing it to run as my user (which I can specify using the general .env f

[2022-09-24 09:56] ilyam8 commented on #13709
Hi, @AvMavs. Just a note: we don't recommend using [bind mounts](https://docs.docker.com/storage/bind-mounts/) for lib and cache directories. The [suggested setup](https://learn.netdata.cloud/docs/agent/packaging/docker#create-a-new-netdata-agent-container) uses [volumes](https://docs.docker.com/storage/volumes/). Because of many reasons and the permission problem is one of them. I think it is imp

[2022-09-24 13:15] Forza-tng opened #13718 "[Bug]: glibc detection failed"
### Bug description

During compilation of netdata from git/master there is a warning that libc is not found, and that this disables the ebpf collector.

### Expected behavior

Glibc should have been detected.

### Steps to reproduce

1. `git clone --branch master https://github.com/netdata/netdata.git --depth=100 --recursive`
2. `./netdata-installer.sh --enable-lto --enable-ml --disable-telemetry

[2022-09-25 06:21] juacker opened #13722 "[Bug]: Error fetching charts due to invalid encoded chart IDs"
### Bug description

We've detected, for some specific node IDs, that the cloud is returning a 500 error on the single node charts endpoint:

The problem is that the cloud cannot decode the response received from the agent.

When the cloud requests charts to the agent through `/api/v1/charts`, we're receiving these kind of `charts` entries:

[code]

The chart ID field is not properly encoded (`\E`

[2022-09-26 07:09] shyamvalsan commented on #13691
@ilyam8 instead of hitrate we can use keyspace_misses directly as a metric to alert on.

For mem_fragmentation let me think some more, do you have a system with redis running where I can login and check these metrics?

[2022-09-26 07:49] MrZammler commented on #13718
Hi @Forza-tng let me check this, I remember we had a fix for this on Gentoo...

[2022-09-26 08:33] ilyam8 commented on #13691
No, I have no. I used a Redis docker container on my VM

[code]

You can start it and check.

[2022-09-26 08:55] ilyam8 commented on #13691
- we don't collect keyspace_misses.
- if we do we can't really use (assuming collecting as-is (failed lookups), not percentage) - can you explain how?

This would be the current value, I think we want an average over time.

[2022-09-26 08:57] Superpaul209 commented on #13433
@MrZammler Hello, this issue seems fixed. I dont have it anymore on my nodes. We can close this issue. Thanks 👍🏻

[2022-09-26 08:57] #13433 closed

[2022-09-26 10:31] shyamvalsan commented on #13691
Found this in DD [documentation ](https://www.datadoghq.com/blog/how-to-monitor-redis-performance-metrics/#metric-to-alert-on-keyspace_misses) but not sure if there's a way we can figure out whether Redis is being used as a cache or not.

[2022-09-26 11:06] MrZammler commented on #13694
Hi @CreeperFace00

I think there are 2 problems here, one is a crash during shutdown (corrupted double-linked list) but then it should have started correctly (I think the shutdown is part of the update procedure).

The dashboard being inaccessible after the start seems like a locking problem...

[2022-09-26 11:13] underhood commented on #13705
@Ferroin I agree with you about this topic. Ideally claiming is performed by agent not by external script.

[2022-09-26 11:30] juacker commented on #13722
Currently, the cloud is returning a _500 status - Internal Server Error message_ if the agent response cannot be decoded. I'm wondering if we should return a different status code and/or a more descriptive error message to the user if this happens.

@papazach, @ralphm what do you think about it?

[2022-09-26 12:50] Forza-tng commented on #13718
Yes, you are correct. I have an alias for `ls` The test `command -v ls` gives  `alias ls='ls --color=auto'`. Maybe change to `which ls` instead?

[code]

[2022-09-26 12:53] MrZammler commented on #13718
Maybe... yes... are you setting this per user or in /etc/profile perhaps? (I have mine in .zshrc locally and the script seems to resolve to /bin/ls)

[2022-09-26 12:55] Forza-tng commented on #13718
Yes. I have /etc/profile.d/aliases.sh where I set ls, ll, llh  and other goodies :)

[2022-09-26 13:49] #13637 closed

[2022-09-26 14:27] Ferroin commented on #13714
After some further digging, AFAICT, this is indeed an issue with WSL itself. The fact that `service start netdata` happens to work is almost certainly coincidental, as the `service` command should not (based on what I can tell from code inspection) work at all on WSL.

Note that this is also part of a more general issue, namely that ‘services’ in WSL are _not_ Windows services, and (should) get te

[2022-09-26 14:34] Ferroin commented on #13716
I would say we can probably go a step beyond this, and add jobs for _any_ collectors that would be expected to work against a Windows system using this mechanism (in particular, _most_ of the network services we have collectors for do support running on Windows).

On a side note, this actually happens to work on any Linux system with a properly configured mDNS stack as well, so we ideally should h

[2022-09-26 14:44] CreeperFace00 commented on #13694
I was suspecting that as well, as it only seems to stay up for about a day before I have to restart it again.
I'll pause automatic updates and see if it remains functional.

[2022-09-26 15:43] cakrit opened #13725 "[Feat]: Change the WMI menu-submenu organization"
### Problem

The organization of [windows_exporter collector](https://github.com/prometheus-community/windows_exporter) metrics on the Netdata UI should probably follow a similar philosophy with the rest of our app, i.e. probably one menu item per collector.
We'll need to discuss this.

### Description

-

### Importance

nice to have

### Value proposition

-

### Proposed implementation

_No res

[2022-09-26 15:46] cakrit opened #13726 "[Feat]: Add more WMI (windows_exporter) collectors"
### Problem

The full list of collectors is at https://github.com/prometheus-community/windows_exporter
At a minimum we should have everything related to the system + IIS and SQL server.

### Description

-

### Importance

must have

### Value proposition

Windows support is still lacking and we want to improve it.

### Proposed implementation

_No response_

[2022-09-26 16:11] cakrit opened #13727 "[Feat]: Proper Windows Support via WSL and the windows_exporter collector"
### Problem

Officially support windows in the best way we can, without a windows agent.

### Description

Our solution will be based on Windows Subsystem for Linux 2 + the WMI collector, which currently processes the output of a few `windows_exporter` collectors.

Blockers:
- [ ] #13933
- [x] #13716
- [x] #13726
- [x] Prepare demo room with a monitored Windows Server (cloud SRE team). (DONE - Ask

[2022-09-26 16:49] ralphm commented on #13722
I assume the Agent side of this, is that JSON is created by concatenation, causing the backslash to not be escaped.

On the Cloud side, unfortunately I see no way to somehow parse this more liberally, so we can't do much but reject the response.

We should not have any `500` response codes. For this particular case, I think we should reply with a `502 Bad Gateway`. [Per the RFC](https://datatracke

[2022-09-26 16:57] Ferroin commented on #13727
Reposting this here from Slack, as requested (minus one point which is already being taken care of internally):

A couple of observations regarding our decision to use WSL as a way to say we support Windows (after having thought on this over the weekend):
- We will never manage to have clean service handling in WSL unless MS decides to support handling WSL services as Windows services (not especia

[2022-09-26 17:37] cakrit opened #13728 "[Feat]: Monitor Hashicorp's Boundary"
### Problem

Metrics:
The sample dashboard json file can be found [here](https://github.com/hashicorp/learn-boundary-prometheus-metrics/blob/main/compose/Boundary-Overview-Dashboard.json)
The tutorial associated can be found [here](https://learn.hashicorp.com/tutorials/boundary/prometheus-metrics)
Persona: Most likely an systems/Boundary admin or operator would be the one that cares about the info

[2022-09-26 17:39] cakrit opened #13729 "[Feat]: Monitor Hashicorp's Vault"
### Problem

https://learn.hashicorp.com/tutorials/vault/monitor-telemetry-audit-splunk

### Description

-

### Importance

nice to have

### Value proposition

-

### Proposed implementation

_No response_

[2022-09-26 18:47] shyamvalsan opened #13730 "[Feat]: Go collector for generic timeseries CSV data"
### Problem

I want to monitor using Netdata any timeseries CSV data in a quick and simple way - without having to write a custom collector each time.

### Description

Given a CSV file of the format

`timestamp,var1,var2,var3,var4,...,varN`

This request is for a Go collector that will take as configuration input the following information per job

[code]

On enabling, the collector should:
- Crea

[2022-09-26 19:02] brotherdust opened #13731 "Statistics for Network Interfaces in a Different Linux NetNS Not Showing"
### Bug description

I have several physical network interfaces that are attached to a NetNS. Netdata doesn’t see them.

### Expected behavior

Netdata should be able to see the interfaces in the netns and report statistics on them.

### Steps to reproduce

1. Create a netns
2. Add physical adapters to it
3. Start Netdata

I actually have some systemd units to automate this, see:

### Installation

[2022-09-27 00:26] thiagoftsm commented on #4819
Hello guys,

Sorry for the delay to bring updates. After to do some initial research, I am glad to inform that we took a look in different possibilities and we starting working again with Kafka.

| Software | Configuration | Metrics |
|--------------|-------------------|-----------|
| Kafka | [kafka_cfg.txt](https://github.com/netdata/netdata/files/9629707/kafka_cfg.txt) | [kafka.txt](https://gith

[2022-09-27 07:28] ilyam8 commented on #13731
@brotherdust hi, that is not a bug, but expected. Netdata reads `/proc/net/dev`. Check it on your system:

[code]

[2022-09-27 08:06] juacker commented on #13722
Thanks for your comment @ralphm, looking at the RFC description for the `502 Bad Gateway` I fully agree that this is the correct response code to return, we will update our service accordingly.

[2022-09-27 08:47] MrZammler opened #13732 "[Bug]: install-type should not be part of configuration files"
### Bug description

This is maybe for discussion...

At least for our debian packages (this was tested on Debian 10), `.install-type` is marked as a configuration file:

[code]

This means that when using native packages, if a user removes netdata but does not purge it, and then rm's `/etc/netdata/`, next invocations of kickstart script will fail in various ways (e.g. will fail to setup updates,

[2022-09-27 12:55] sashwathn commented on #13486
@cakrit : Now that we allow custom labels at the job level, I want to understand the actual use of this.
I believe what we are allowing users to set is some custom labels for their jobs (to differentiate one from another). But we already have a default label _collect_job which we are able to "Group by" and "Filter" from and these custom labels will now be an additional label over and above these a

[2022-09-27 13:06] shyamvalsan opened #13734 "[Feat]: Update dashboard info and create summary overview for Redis"
### Problem

_No response_

### Description

Update dashboard info for Redis metrics (where required) and create summary overview dashboard for Redis

### Importance

blocker

### Value proposition

1. Improved usability for Redis monitoring use-case

### Proposed implementation

_No response_

[2022-09-27 17:48] underhood commented on #13655
Cmake now allows disabling of ACLK regardless of what autotools say

[2022-09-27 17:48] #13655 closed

[2022-09-28 09:17] AreAArseth opened #13737 "[Bug]: EOF found in spawn pipe."
### Bug description

After nightly upgrade Netdata is in a crash loop. About half of my nodes have this while the others seem ok.

/var/log/netdata/error.log shows:

2022-09-28 10:45:33: netdata INFO  : MAIN : Scanning file "/var/cache/netdata/dbengine/journalfile-1-0000001517.njf"
2022-09-28 10:45:33: netdata INFO  : MAIN : Scanning file "/var/cache/netdata/dbengine/journalfile-1-0000001518.njf"

[2022-09-28 09:26] MrZammler commented on #13737
Hi @AreAArseth thanks, we'll check ASAP.

[2022-09-28 09:45] MrZammler commented on #13737
Can you please post latest part from `access.log` ?

[2022-09-28 10:05] ralphm commented on #13160
Thinking about this a bit more, I'm not convinced on having a single configuration for a node type, as it only indirectly conveys information on how such nodes should be handled:

- Whether a node is expected to be continuously connected (a machine in a datacenter) or not (a laptop, a fixed machine with unreliable connectivity like a submarine, or even a machine that is expected to be turned off r

[2022-09-28 10:50] AreAArseth commented on #13737
Sure:
2022-09-28 03:40:36: 1453: 2476826 '[192.168.31.70]:48432' 'CONNECTED'
2022-09-28 03:40:36: 1453: 2476826 '[192.168.31.70]:48432' 'DISCONNECTED'
2022-09-28 03:40:36: 1453: 2476826 '[192.168.31.70]:48432' 'DATA' (sent/all = 649247/25752346 bytes -97%, prep/sent/total = 615.67/76.64/692.31 ms) 200 '/api/v1/allmetrics?format=prometheus'
2022-09-28 03:41:36: 1454: 2476807 '[192.168.31.70]:43506'

[2022-09-28 11:16] MrZammler commented on #13737
@AreAArseth what is the version of protobuf you have installed?

[2022-09-28 11:27] underhood commented on #13160
Well we could add 2 config values:
1. node is permanent/ephemeral (expected to never reconnect and thus cloud can remove it auto-magically)
2. node connection is expected to be intermittent or not (e.g. laptops, in which case we could silence online/offline alarms etc.)

As for allowing any value for those config values as Costa suggested... I am not sure about that. We should allow user defined l

[2022-09-28 11:41] AreAArseth commented on #13737
$ dnf list installed |grep protobuf
protobuf.x86_64                               3.5.0-13.el8                            @rhel-8-for-x86_64-appstream-rpms

[2022-09-28 11:48] #13734 closed

[2022-09-28 11:55] Ferroin commented on #13160
@ralphm Indeed, that’s almost certainly a better approach in terms of scalability. I still think any configuration overrides should probably be in the health section on the client side (or possibly a new section just for this?) however.

I would also argue that marking a node as ephemeral should probably shorten the max age before it gets cleaned up automatically in addition to hiding it if offlin

[2022-09-28 12:21] MrZammler commented on #13737
Is it possible to do the following? Edit `/var/lib/netdata/cloud.d/cloud.conf` and set `enabled = no` ? That will stop the agent from trying to reach the cloud. Then please send the output of `http://localhost:19999/api/v1/info` to `manolis@netdata.cloud` ?

Can you maybe pinpoint the differences from the other nodes you see running ok to the ones that don't? I.e. os version, connected to cloud or

[2022-09-28 12:42] AreAArseth commented on #13737
All the hosts **should** be identical. Same hardware, same os, same packages. They are all connected to cloud.
![image](https://user-images.githubusercontent.com/92016247/192780769-e2b71fb3-6421-47d9-9851-5bf16449b1c7.png)

I can send the api info.json for one of the ones that are online now.

[2022-09-28 15:31] AiryXu opened #13739 "[Bug]: wrong path netdata cloud.d caused node cannot connecct to Cloud"
### Bug description

[Bug]:  wrong path netdata cloud.d caused node cannot connecct to Cloud

### Expected behavior

[Bug]:  wrong path netdata cloud.d caused node cannot connecct to Cloud

cp -r /var/lib/netdata/cloud.d/ /opt/netdata/var/lib/netdata/

restart netdata service works well

### Steps to reproduce

OS  CentOS 7.9

1. yum remove netdata   -y

2. rm -rf  /var/lib/netdata/registry/netdat

[2022-09-28 15:49] CreeperFace00 commented on #13694
Yep, disabling the update script appears to have solved that issue.
Since this looks like a separate problem than the original STREAM_RECEIVER segfault issue, would you like me to submit a new issue to help troubleshoot the update procedure?

[2022-09-28 16:20] MrZammler commented on #13739
Hi @AiryXu thanks for your report! We will try to reproduce. It appears the agent before the update was from the package manager, then switched to a static build with kickstart.

Was the agent claimed to the cloud before the update?

[2022-09-28 16:33] cakrit commented on #13714
There is the option of demanding a [WSL2 version that supports systemd](https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/) but I'm afraid that it won't be available on the majority of Windows Server OSs out there (they say in the linked page that you need windows 11 or newer etc.

Let's dig a bit more on what's possible with WSL. I can't accept that there's no way

[2022-09-28 16:41] cakrit commented on #13714
[This](https://www.how2shout.com/linux/how-to-start-wsl-services-automatically-on-ubuntu-with-windows-10-startup/) worked on my Windows 11

[2022-09-28 16:53] Ferroin commented on #13714
The issue is not that there’s no way to do it.

The problem is that there is no _clean_ (that is, guaranteed to work in an idempotent manner and not cause problems for users) way for us to automatically do it.

IOW, we can support this, but the user will have to do some extra steps themselves to make it work properly.

[2022-09-28 16:53] cakrit commented on #13714
WRT to the `service` command working/not working, I did some debugging and the only reason it didn't work perfectly was that /var/run/netdata did not exist as a directory, so /var/run/netdata/netdata.pid couldn't be created and therefore it couldn't be stopped. It started working after I manually created the directory.

I don't know where/how we create /var/run/netdata. I see that  `/var/run` is a

[2022-09-28 16:55] cakrit commented on #13714
Ah, regarding the `clean` way, don't worry about it for now, let's at least find something that works. It's ok to have an extra couple of steps for now. Perhaps in the future we'll create a windows installer to do this, maybe a user will help us improve the process.

[2022-09-28 16:59] Ferroin commented on #13714
Same results here.

It’s supposed to be created as part of the service startup. See https://github.com/netdata/netdata/blob/master/system/netdata.service.in#L18 for where it’s done with systemd services.

That’s standard on Linux, and we should actually already be using `/run` instead of `/var/run` in most cases on Linux systems.

[2022-09-28 17:03] cakrit commented on #13716
This is a brilliant idea. Indeed, everything we do an HTTP request against  will work (including all Prometheus collectors), database access, pretty much every single job that has a localhost should also be running against `$(localhost).local`.

[2022-09-28 17:05] cakrit commented on #13714
Perhaps when you run kickstart for the first time on the windows server we'll have tomorrow, do it in debug mode and search for a failure in creating the directory. Very strange...

[2022-09-28 17:12] cakrit commented on #13727
WRT to the comment on a "clean" solution, I answered [here](https://github.com/netdata/netdata/issues/13714#issuecomment-1261195569). I also mention there that we could also provide an installer if that's needed (not hard to do with some commercial SW).

The system info is going away, our instructions are coming with a configuration specific to WSL. i.e. with every collector except `go.d` disabled

[2022-09-28 17:18] cakrit commented on #13486
Since the question is public, I'm pasting here the responses we provided in Slack:
<img width="741" alt="image" src="https://user-images.githubusercontent.com/43294513/192847343-c0881aaf-da1b-4742-9a29-3944a143e0d4.png">

[2022-09-28 17:35] #13737 closed

[2022-09-28 18:00] ilyam8 commented on #13716
Why? Isn't this needed only for one collector (wmi)?

[2022-09-28 18:04] ilyam8 commented on #13716
Also, the case is pretty much you testing Netdata on WSL. I doubt somebody will install Netdata on a win machine to monitor it (because it is not possible), I assume the default use case is installing Netdata on a Linux server and collect windows metrics from it (one server collects metrics from N wmi_exporters).

[2022-09-29 07:10] ralphm commented on #13160
@underhood agreed. I originally suggested having this as a boolean to limit the possible options, with an additional value `auto` to explicitly let Netdata figure it out. When such heuristics are indeed implemented, that would be the default. Otherwise I'd take the defaults for ephemerality and expected connectedness to reflect always on.

@Ferroin sure we could clean up nodes known to be ephemera

[2022-09-29 07:20] MrZammler commented on #13694
Hi @CreeperFace00. Let's get some more info, and maybe we'll open a new issue.

Can you check please from the system logs, cron or similar, when the updater script was run on that day? (2022-09-23) ?

[2022-09-29 07:22] michaelweinold commented on #13676
I now have the Netdata service running on a more powerful node also:
[code]
vs the Raspberry Pi, for which I opened this issue:
[code]
So far no issues with the higher performance node. @MrZammler - any insights so far?

[2022-09-29 07:38] MrZammler commented on #13676
Sorry, not much yet... I'm a bit reluctant to suggest something with the static build, or the raspberry itself...

We've had another internal case, similar as yours, on a raspberry pi... I will try something and let you know.

[2022-09-29 07:51] MrZammler commented on #13694
I don't think it's the updater's fault (unless it somehow asked netdata to stop when it shouldn't..). From the log file:

1) There is a clean exit at 07:20:02
2) Starts again at 07:20:07 with that days nightly (141), so the updater _must_ have run.
3) Asked to exit (SIGTERM) at 07:21:54 <- who asked it? Maybe the updater?
4) This shutdown caused the crash
5) Starts again with 141 version at 07:22:

[2022-09-29 08:40] Dim-P commented on #13714
FWIW, I am using https://github.com/arkane-systems/genie . It's not perfect or ideal, but it's an option.

[2022-09-29 08:42] amirhmoradi opened #13741 "[Bug]: kickstart.sh fails with --reinstall-clean"
### Bug description

Invoking `kickstart.sh` with `--reinstall-clean`
The script does the following:
* creates a /tmp subfolder (random name)
* uninstalls netdata,
* removes its /tmp subfolder created above
* then tries to download native package in the now non-existing /tmp subfolder.

This causes curl to fail:
`curl: (23) Failed writing body`

Reproducible on Ubuntu 20.04 and Debian 11.

### Exp

[2022-09-29 08:45] Dim-P commented on #13690
@lamka02sk Do you still have this issue using the kickstart script?

[2022-09-29 08:50] amirhmoradi commented on #13212
I got a similar issue, and fixed it by running these:

[code]

[2022-09-29 09:28] UltimateByte opened #13742 "[Bug]: Netdata autoupdate generates ipv4_tcp_resets"
### Bug description

Most mornings at relatively fixed times, I saw ipv4_tcp_resets email alerts on most of my servers, that went "Clear" right after.

After digging syslogs, it appears to occur during netdata updates.
Examples:
![unknown](https://user-images.githubusercontent.com/8805941/192993628-7fca415f-719a-4107-8658-09e747b8050a.png)
[code]
![lobby](https://user-images.githubusercontent.com/

[2022-09-29 10:17] ilyam8 commented on #13742
Hi, @UltimateByte. Can you try the changing the warn

https://github.com/netdata/netdata/blob/22cc4d60d1af3a5e06e600307d50fc99d5409056/health/health.d/tcp_resets.conf#L19-L29

to

[code]

I add `netdata.uptime.uptime > (1 * 60) AND`, it adds 1 minute delay after Netdata (re)start. The `10s_ipv4_tcp_resets_received` can be modified in the same way.

[2022-09-29 10:46] UltimateByte commented on #13742
Hi @ilyam8
I've applied the change on 3 servers with low traffic. Now we wait for the next update I assume... ? 😄

[2022-09-29 11:20] zyxep opened #13743 "[Feat]: ubuntu any version systemd service not applicable to reload"
### Bug description

Hi,

I am trying to trigger a `systemctl reload netdata` when updating some kind of config files.
But i get `Failed to reload netdata.service: Job type reload is not applicable for unit netdata.service.`

### Expected behavior

What about adding that functionality or alias for stop/start/restart ?

### Steps to reproduce

triggering systemctl reload netdata

### Installation m

[2022-09-29 11:46] Ferroin commented on #13160
I would argue that in that case, we should automatically clamp the lifetime of the node on the Cloud side to the lifetime of the last metrics collected from it that the Cloud can still access. We can in theory infer that from the streaming topology and the parent configs, and once you can't get metrics for the node there’s not really much point in the Cloud continuing to remember that it existed a

[2022-09-29 11:48] Ferroin commented on #13741
Confirmed here, working on a fix and should have a PR up within a few hours.

[2022-09-29 11:54] ilyam8 commented on #13716
What stuff? Can you be more specific? I don't remember any requests (issues), so I have nothing in mind.

---

Regarding the 2nd topic - it is like installing Netdata in a Docker container and calling it macOS support. I don't understand the point.

What I am saying is:
 - you need `$(hostname).local` only for wmi_exporter (assuming the thing is installed!).
 - you need `$(hostname).local` only wh

[2022-09-29 12:08] ilyam8 commented on #13742
Yes.

[2022-09-29 12:13] Ferroin commented on #13714
OK, I’ve figured out at least part of the issue: something is going wrong in our service install code, though I’m not certain what.

We’re going to at minimum need https://github.com/netdata/netdata/pull/13451 merged before I can actually fix this properly. AFAIK there’s only one outstanding issue before that can be merged, and I’m working right now on figuring that out.

[2022-09-29 12:27] ralphm commented on #13160
Indeed, I would like to keep this simple and first just have a way to mark nodes as being ephemeral, as suggested in https://github.com/netdata/netdata/issues/13160#issuecomment-1237952768. Then we can work separately on other _markings_, as well as define how we'd handle ephemeral nodes on Cloud.

[2022-09-29 13:31] ilyam8 commented on #13743
Hi, @zyxep. I don't think that is a bug. Why do you think we need an alias for restart (reload)?

[2022-09-29 13:35] zyxep commented on #13743
well, either the reload functionality should be there.
e.g. `kill -HUP` to reload the process, so reading the configs again.

Or an alias for reload that trigger a restart, when you do changes config files.
I discovered this when writing our automation for netdata in saltstack.
Saltstack in our case couldn't trigger a `systemd reload netdata`

It could be a feature, but i chose to create it as a b

[2022-09-29 14:14] #13741 closed

[2022-09-29 14:15] Ferroin commented on #13741
Fix merged. Should be live within the next half hour or so.

[2022-09-29 14:27] CreeperFace00 commented on #13694
I'll check the cron logs.
This parent node is very large, it's receiving 100,000+ metrics per second from all of the children, though I have not cranked any of the retention settings past their defaults since I haven't gotten it stable yet.
When I started the parent again after my last post 3 days ago, I did have to clear the dbengine as the agent would not start, presumably it had been corrupted.

[2022-09-29 14:36] cakrit commented on #13716
Getting `wmi_exporter` to work with this default job is the minimum.
I said "stuff" thinking along the lines of @Ferroin 's brilliant idea that anything at all running on that windows host that is accessible via tcp is also accessible to our collectors. So the idea is to ensure that in every place where we have a job configured for `localhost` (e.g. mysql), we also add a job for `$(hostname).local

[2022-09-29 14:40] MrZammler commented on #13694
The crash happened on a streaming thread (63481) while it was shutting down, but the problem could be somewhere else entirely (corruption) and just manifested there...

I tried to reproduce with some amount of children (30) but with not near as much metrics as your case, but couldn't.

The crash yes, could have corrupted dbengine, really sorry about that... I will continue with more stress tests t

[2022-09-29 14:50] CreeperFace00 commented on #13694
Ok, let me know if there's anything I can do to help out.
Heck, I could even give you SSH into the parent if you need it to test on. It's a dedicated system for this job, so it's not too big of deal for me.

[2022-09-29 15:04] CreeperFace00 commented on #13694
Hmm, I ran the update script for the first time in a few days and it immediately started segfaulted and became unresponsive.
[syslog dump](https://gist.github.com/CreeperFace00/5064e744ccc465ecb88bcbf8080df7db)
[error.log](https://gist.github.com/CreeperFace00/5c745c6313be02c773c01f9d303cdba3)

[2022-09-29 15:21] CreeperFace00 commented on #13694
Weird. It appears the db corrupted again after the update, it seems to just hang (though it is running?) and doesn't even output anything to the logs until I move the items out of /var/cache/netdata/ and start it again, then resumes working normally.

[2022-09-29 15:41] ilyam8 commented on #13743
Ok, I see. Anyway, I do not think the lack of reloading functionality can be considered a bug.

But I guess it is not a big deal to change to `systemd restart netdata`.

cc @Ferroin @cakrit

[2022-09-29 15:50] cakrit commented on #13743
I'd rather we actually support `reload` and have it be whatever is possible at any time. Right now, it can only reload the health configuration, but we may change that in the future. So I wouldn't make it equivalent to restart.
I agree it's not a bug ,even if it's widely available. It could actually be a bit misleading to say that we successfully executed the reload command and yet the only config

[2022-09-29 16:02] ilyam8 commented on #13743
Then it reminds me of #6432 and reloading is a part of configuration management.

[2022-09-29 16:46] CreeperFace00 commented on #13694
I think I was able to reproduce the crash and db corruption using `systemctl stop netdata`
I've done cleared the db folder 3 times so far and stopping the daemon seems to produce the database corruption and agent crashes/hangs/strangeness. The behavior isn't always exactly the same, but clearing the databases and restarting the agent returns it to a stable state until the next restart.

[2022-09-30 07:32] MrZammler commented on #13694
Hi @CreeperFace00

Is it easy to test a build of the parent without streaming compression? (Easiest way would be to put `[enable_compression="no"]` in `configure.ac` in line 162). Thanks!

[2022-09-30 07:51] nawafoly commented on #10061
Do you want to continue? [Y/n] y
Extracting templates from packages: 100%
dpkg: unrecoverable fatal error, aborting:
 unknown system user '_gvm' in statoverride file; the system user got removed
before the override, which is most probably a packaging bug, to recover you
can remove the override manually with dpkg-statoverride
E: Sub-process /usr/bin/dpkg returned an error code (2)

[2022-09-30 07:53] nawafoly commented on #10061
**i need to help pless**

Do you want to continue? [Y/n] y
Extracting templates from packages: 100%
dpkg: unrecoverable fatal error, aborting:
 unknown system user '_gvm' in statoverride file; the system user got removed
before the override, which is most probably a packaging bug, to recover you
can remove the override manually with dpkg-statoverride
**E: Sub-process /usr/bin/dpkg returned an erro

[2022-09-30 13:59] CreeperFace00 commented on #13694
I will try that and let you know.

[2022-09-30 14:42] cakrit opened #13748 "[Bug]: Installer doesn't recognize CloudLinux as being natively supported"
### Bug description

This is copied from a user:

[code]

### Expected behavior

Since it's a CentOS fork, kickstart should work with the binary packages.

### Steps to reproduce

Obvious

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

I will ask the user to do a PR for this, since he mentioned he changed kickstart

[2022-09-30 15:12] lamka02sk commented on #13690
Hi, installation with kickstart script worked. Thanks

[2022-09-30 15:12] #13690 closed

[2022-09-30 15:33] Pulseeey commented on #13748
This is resolved by editing line 610 of the kickstart.sh (https://my-netdata.io/kickstart.sh) script.

`            almalinux|rocky|rhel)
`

to

`            cloudlinux|almalinux|rocky|rhel)
`

[2022-09-30 16:02] ilyam8 commented on #13748
Hi, @Pulseeey. Are you willing to make a PR?

[2022-09-30 16:43] sashwathn opened #13749 "[Feat] [Use-cases]: Vault Monitoring with Netdata"
### Problem

Netdata currently does not support monitoring Vault metrics and we now need to support this use-case.

### Description

# Key Metrics

Vault provides a /sys/metrics end point which can be used to collect all the key metrics.
https://www.vaultproject.io/api-docs/system/metrics

Prometheus uses the /sys/metrics end point as well and there is a format parameter specifically for "promethe

[2022-09-30 17:09] Ferroin commented on #13749
Quick suggestion WRT the implementation: ‘Vault’ is a common enough product name among a wide variety of software companies that we should probably name the collector something like `hashicorp_vault` instead of just `vault` so that it’s unambiguous which ‘Vault’ we support.

[2022-09-30 17:41] Pulseeey commented on #13748
Took me a hot minute to work out how to do that (not a big Github user), but I believe I've managed to get one created.

[2022-09-30 19:01] sashwathn commented on #13749
@Ferroin : You are right and we need to think about an apt name for this collector.
I am not too sure if we should use hashicorp though.

[2022-09-30 19:02] brotherdust commented on #13731
@ilyam8 , Ok. ... so should I change it to a feature request, then?

[2022-10-01 01:05] love4taylor opened #13751 "[Bug]: ebpf.d sysmalloc Assertion failed, then killed with SIGTERM"
### Bug description

[code]

[code]

### Expected behavior

ebpf.d works fine and can return data

### Steps to reproduce

1. install netdata
2. start netdata
3. ebpf.d report error
4. ebpf.d aborted

### Installation method

native binary packages (.deb/.rpm)

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-10-01 22:34] RaitoBezarius opened #13753 "[Bug]: recurrent segmentation faults since an upgrade"
### Bug description

Since a system upgrade (`libc`, `systemd`, etc.), netdata 1.36.1 (and nightly 1.35.0-xxx), netdata is crashing regularly every 5 minutes.

### Expected behavior

It should not crash.

### Steps to reproduce

No easy reproducer for now, alas.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

coredump logs: https

[2022-10-02 17:00] thiagoftsm commented on #13753
@stelfrag I am not sure if the reported issue could have relationship with other `sqlite` issues I reported, but this is something we need to take a look, because the reported environment is completely different of the previous I had tested.

[2022-10-02 17:45] thiagoftsm commented on #13751
Hello @love4taylor ,

I have `netdata` and `ebpf.plugin running on `Debian 11` and I cannot observe the issues you are reporting, but I can see important differences between our environments:

| Difference  | Personal environment | @love4taylor |
|----------------|-------------------------------|--------------------|
| Kernel        | Linux bullseye 5.10.0-18-amd64 #1 SMP Debian 5.10.140-1  (2022-

[2022-10-03 04:25] love4taylor commented on #13751
1. I installed 5.18.0-0.deb11.4-amd64 from debian backport repo, but as I said above it's not a kernel version issue, I have that issue on the debian default kernel 5.10.0-18-amd64.
2. I installed netdata from the script provided by netdata.cloud.
3. This machine is running within ESXi virtualization.

[2022-10-03 07:05] MrZammler commented on #13753
Hi @RaitoBezarius

Can you share a bit more about your setup? Is it in a parent/child setup? Is it connected to the cloud?

Also, not sure, are there packages provided for 1.36.X versions? Can you check with a latest nightly ?

[2022-10-03 12:36] danielslyman commented on #10070
same issue here

[2022-10-03 12:36] thiagoftsm commented on #13751
Hello @love4taylor ,

Thank you for your additional explanation. I remember to run kernel `4.18.x` on `Slackware current` and `Arch`, but I did not have issues with kernel. Now that you gave me the whole setup, I will recreate it and verify what is happening.

[2022-10-03 12:46] love4taylor commented on #13751
For additional information, the following is prompted in the systemd log after netdata starts. I don't know if these logs make sense, and I haven't been able to figure out what process PID 31197 is.

[code]

[2022-10-03 12:57] thiagoftsm commented on #13751
The next three are information related to plugin behavior:

[code]

Thank you!

[2022-10-03 13:57] MrZammler commented on #13739
I tried to re-produce (alas in Centos 8), but the following: `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token "MY TOKE KEYS" --claim-url https://app.netdata.cloud/ --install-version 1.36.1` seems to install the static build and claim the agent correctly.

Tried a local build (could not install the netdata package due to a dependenc

[2022-10-03 16:19] #13748 closed

[2022-10-03 18:31] shodanshok opened #13756 "[Feat]: Present ZFS arc and l2arc stats as absolute values"
### Problem

Currently, some of the ZFS arc and l2arc values are shown as percentage. What's wrong with it? In short, the percentage value ignore the absolute magnitude of the hit/miss events, leading to wrong interpretation.

For example, consider an L2ARC device which shows the following hits/misses:
[code]
The relative netdata zfs.l2hits chart will show two datapoints with a first almost-all-gr

[2022-10-04 07:49] ilyam8 commented on #13742
@UltimateByte hey, did the patch help?

[2022-10-04 08:17] MrZammler commented on #13753
Can you please also post your `error.log` file ? If you want, you can send to manolis@netdata.cloud.

Thanks!

[2022-10-04 08:23] RaitoBezarius commented on #13753
Yes, this is a parent, it has 3-4 children, it's not connected to the cloud.
I will test for a nightly, no problem.

Sending you the `error.log` by email.

[2022-10-04 08:43] MrZammler commented on #13677
https://github.com/netdata/netdata/pull/13703 may have helped for this as well.

@herauthon can you try a version with the above patch to check if it's ok now please?

[2022-10-04 09:30] MrZammler commented on #13616
Hi @shyamvalsan !

Just tried on a clean 22.04 VM and it seems to work ok. Kickstart both started and claimed the agent, so I think on a basic level it's ok. Also updated it to 22.04.1 and it seems to work.

On the colab notebook, indeed the netdata service is not started from the kickstart script. There is an output:
[code]

But that seems more like a "problem" with the environment rather that ou

[2022-10-04 09:43] MrZammler commented on #13753
Oh! Even gzipped is too much? Can we maybe pick a file transfer if you know any .. ?

Essentially I'm looking for those parts around the times of the crash, not sure how easy it would be to extract just those...

[2022-10-04 11:58] MrZammler commented on #13680
Hi Thiago.

Have you still got this problem? I'm trying to reproduce it, does your rpi have been set up for alert notifications? Did you notice if it happens when/after a notification is triggered?

[2022-10-04 12:07] thiagoftsm commented on #13680
Last two days I worked with my raspberry pi the whole day and I did not have this issue again, so I am closing it.

[2022-10-04 12:07] #13680 closed

[2022-10-04 12:08] #13756 closed

[2022-10-04 12:16] MrZammler commented on #13722
@ilyam8 Do you think this should be handled on the wmi module, or in the agent... ?

[2022-10-04 12:25] UltimateByte commented on #13742
Hello @ilyam8
I now can confirm that I didn't receive any alert from the nodes with altered config, while they did run auto-updates.
Though I can't be 100% sure it is due to the fix, since the alert is not triggered 100% of the time, chances are pretty high IMHO that the config change helped since almost every other node triggered alarms.

Planning to implement this by default? It probably could a

[2022-10-04 13:10] cakrit commented on #13742
Netdata shouldn't be generating any alerts due to its update process.

[2022-10-04 13:13] UltimateByte commented on #13742
@cakrit That's actually a relevant remark.
Maybe the solution doesn't lie in fixing the alert but rather in understanding the root cause for the TCP drops generated by the update. In the meantime, altering the alert config by default with the proposed fix would still be a suitable solution as far as I'm concerned.

[2022-10-04 14:52] ilyam8 commented on #13722
both?

[2022-10-04 15:05] ilyam8 commented on #13742
- "understanding root cause" is not a blocker for adding a temporary (permanent) workaround.
- the problem is not new, but very old (see #9799).

The OP issue is (I hope) fixed in #13761.

[2022-10-04 15:50] #13742 closed

[2022-10-04 17:37] UltimateByte commented on #13742
Perfect, thank you!

[2022-10-05 08:08] mcinquin commented on #12736
Hello,

I can add that being able to output everything is an important feature in an air-gapped environment.

[2022-10-05 10:17] underhood commented on #13160
As I was thinking about this now. Should this be .dotfile (like in case of .do_not_track) so that it could easily be set by installer/claim script etc.?

[2022-10-05 14:49] Ferroin opened #13766 "[Bug]: dnsmasq collector fails if any of the stats queries are not supported."
### Bug description

Not all dnsmasq installations provide all of the cache statistics queries that the dnsmasq plugin expects. In particular, the `auth.bind` query is only supported if dnsmasq has been built to support running as an authoritative name server. This, in turn, causes our dnsmasq collector to fail, as it requires _all_ of the stats queries it makes to succeed.

### Expected behavior

[2022-10-05 14:57] Ferroin commented on #13160
Probably as a way to set the default value, though we almost certainly should have a ‘regular’ config option for it as well.

[2022-10-05 17:01] Ferroin opened #13767 "[Feat]: Server status collection support for H2O web server."
### Problem

Much like many other web servers, the [H2O web server](https://h2o.examp1e.net/index.html) provides an option to expose an endpoint which provides runtime performance metrics of the web server itself. Being able to scrape this endpoint for metrics would allow users of H2O to better monitor the performance of the web server.

### Description

The de-facto standard (based on the documen

[2022-10-06 04:34] milindpatel63 opened #13768 "[Bug]: Pihole plugin not using default web header config"
### Bug description

I am running the latest version of netdata agent on Ubuntu 20.04

According to "web" package docs here: https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/pkg/web

Any plugin that uses that package should inherit all it's configuration option, "Having HTTP embedded your configuration inherits all [configuration options](https://learn.netdata.cloud/docs/agent/collect

[2022-10-06 06:08] milindpatel63 commented on #13768
As a workaround for now, i am using "cloudflared" binary to create a proxy for that external pihole in my local network on the same server on which netdata is running.

I am running a systems service like below

[code]

Since that external pihole is protected via cloudflare access, and I want to proxy it on a local server and not have to deal with authenticating it every time, I am using "Cloudfla

[2022-10-06 07:12] ilyam8 commented on #13768
Hi, @milindpatel63. There is an indentation problem in your config

[code]

=>

[code]

[2022-10-06 07:20] milindpatel63 commented on #13768
that's just indented wrong while copying and pasting in github...in my config, it is like below

[code]

[2022-10-06 07:23] ilyam8 commented on #13766
@Ferroin thanks for the report. I decided to remove auth.bind because, as you correctly noticed, the result is unused. I make a note to add a proper fix, but I think it is a low priority.

[2022-10-06 07:28] ilyam8 commented on #13768
@milindpatel63 the collector uses only 'url' from [HTTP request options](https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/pkg/web#configuration-options), that is a bug.

[2022-10-06 07:34] #13766 closed

[2022-10-06 07:49] vkalintiris opened #13769 "[Feat]: clang-format action"
### Problem

Currently, we don't enforce a single formatting style in the codebase. The result is that each contributor uses their own preferred style which results in mentally context-switching through multiple styles when trying to understand various parts of the agent.

This issue is about creating a (non-required) check that will run clang-format through an action on every PR. The check should

[2022-10-06 07:49] ilyam8 commented on #13593
@sashwathn this request is not easy as it may look:
 - exposed set of [telemetry metrics](https://www.consul.io/docs/agent/telemetry) depends on setup (not a specialist, perhaps depends on the number of instances in a cluster, on mode (agent), etc.). The list I get when querying your instance:

<details>
<summary>click</summary>

[code]
</details>

- There are 4 metric types: Gauge, Counter, Point

[2022-10-06 09:22] zyxep opened #13770 "[Bug]: error log shows mysql password when configured with password."
### Bug description

I've set up mysql monitoring with a regular tcp connection to user:password@tcp(localhost:3306)/database.

I've seen in the error log that it's writing the actual password in there.
here is my log output (with obfuscated information:

2022-10-06 09:39:33: go.d ERROR: mysql[*******] error on pinging the mysql database [netdata:*******@tcp(localhost:3306)/*******]: Error 1044: A

[2022-10-06 09:48] andrewm4894 commented on #13770
thanks @zyxep !

[2022-10-06 09:49] #13770 closed

[2022-10-06 10:06] ilyam8 commented on #13677
Closing due to no response. @herauthon, hey 🙋‍♂️ The issue is (likely) fixed in #13703.

[2022-10-06 10:06] #13677 closed

[2022-10-06 10:30] Dim-P commented on #13769
Absolutely agree with this and I would also say we _do_ want it to be a "required" and not "optional" check, otherwise it won't be enforced easily before merges to master.

Clang-format could be added locally as pre/post git commit hook as you suggested or as pre/post code build action.

[2022-10-06 10:59] Dim-P commented on #12427
@DShreve2 This one has gone stale so assigning it to you! If the instructions have been updated recently we can close it, otherwise a PR can be created to reflect the requested changes?

[2022-10-06 11:20] vkalintiris commented on #13769
Oh, it will become required.. :) I just want to make sure everyone has the proper setup/support from their choice of IDE.

[2022-10-06 11:47] Ferroin commented on #13769
After a bit more digging, this is not as easy as it sounds. We also need to figure out:

- What minimum version of clang-format we are requiring. I would vote for 13, as that at least allows for slightly saner syntax for the formatting configuration.
- How we want to handle submodules. In practice, we probably need to exclude them from the format list, but doing that ‘automatically’ without using

[2022-10-06 12:20] vkalintiris commented on #13769
Sure, that's why I want us to get going with the a non-required check, ie. setup the boilerplate, figure out the corner cases and then discuss more how we want to proceed.

Let's pick 13 then.

[I don't think we need to worry about this.](https://github.com/llvm-mirror/clang/blob/aa231e4be75ac4759c236b755c57876f76e3cf05/tools/clang-format/git-clang-format#L35)

Let's start with just *.c & *.h file

[2022-10-06 13:20] MrZammler commented on #10070
Hi guys, sorry for the lack of replying. There have been efforts from our infra team on it, we need to do some testing and will update hopefully soon.

[2022-10-06 13:35] ilyam8 commented on #13593
@sashwathn my understanding is 10 secs, not 60

[2022-10-06 13:46] sashwathn commented on #13700
@thiagoftsm : I am putting a quick comment based on our discussion right now.
The "Read Latency" and "Write Latency" metrics will need to be grouped by the "Keyspace" and "Scope" labels and we should also look at other metrics that need these or other labels.

Please add any other findings from your side into this issue.

[2022-10-06 13:49] sashwathn commented on #13593
@ilyam8 : Yes, indeed. My bad. :)
The prometheus collector has a collection interval of 60 seconds by default and hence the confusion.

[2022-10-06 16:52] vlvkobal opened #13777 "[Feat]: Combine IP statistics in one collector"
### Problem

_No response_

### Description

The statistics in `/proc/net/netstat`, `/proc/net/snmp`, and `/proc/net/snmp6` is not really meaningfully divided between these files.

### Importance

really want

### Value proposition

We need to revisit all the charts and group metrics based on their meaning, not the files they come from.

### Proposed implementation

_No response_

[2022-10-06 17:05] ilyam8 commented on #13777
The kernel maintains [ipv4/ipv6 stats for the following counters](https://github.com/torvalds/linux/blob/master/include/net/netns/mib.h#L7-L43):
 - ip
 - udp
 - udplite
 - icmp

TCP counters are not per IP address family.

- /proc/net/netstat
  - tcp_ext
  - ip_ext (v4)
- /proc/net/snmp
  - ip (v4)
  - icmp (v4)
  - icmpmsg (v4)
  - tcp
  - udp (v4)
  - udplite (v4)
- /proc/net/snmp6
  - ip (v6)

[2022-10-06 18:45] Forza-tng opened #13779 "[Bug]: madvise(MADV_SEQUENTIAL) failed. (errno 12, Out of memory)"
### Bug description

When using `dbengine page cache with malloc = no` on the parent netdata instance, it eventually crashes with out of memory errors. This is problem is reliably triggered within a few days or a week. If I set `malloc = yes` the problem does not seem to happen.

### Expected behavior

Netdata should not fail to allocate memory. This is a 128GB RAM system with only a few GB of act

[2022-10-07 00:34] milindpatel63 opened #13781 "[Bug]: Pihole Plugin reporting wrong gravity.list file existence state"
### Bug description

Recently out fo nowhere, i started receiving this error in my netdata cloud dashboard,
![image](https://user-images.githubusercontent.com/11052427/194441777-44417d32-fe4b-478b-914b-26af661ac6a8.png)

It started showing same error at the same time for all my pihole instances. I am sure neither my pihole was updated or netdata at that time.

I ran "pihole -g" command to update b

[2022-10-07 07:14] MrZammler commented on #13781
Hi @milindpatel63 thanks for the report.

We will try to reproduce and will update on the issue.

[2022-10-07 09:33] #12736 closed

[2022-10-07 10:22] MrZammler commented on #13676
Hi @michaelweinold

Can you please check if with v1.36.0-183 things have somewhat improved for the cloud connection?

You can check by looking at the `ACLK/Cloud connection status` chart, in section `ACLK` under `Netdata Monitoring`.

Thanks!

[2022-10-07 10:51] underhood commented on #9401
This will be achieved by combination of:
https://github.com/netdata/netdata/issues/13705
https://github.com/netdata/netdata/issues/12626
and the elastic events in cloud

[2022-10-07 10:51] #9401 closed

[2022-10-07 10:53] underhood commented on #13705
For the record I am waiting with this mainly for the reason of planned claiming redesign.
When we do that "new claiming" I plan to do it internally from within the agent. Therefore I consider implementing this in current claim script wasted work.

[2022-10-07 11:55] Dim-P commented on #13781
I can confirm I saw the same alert popping up on my pihole setup.

[2022-10-07 12:35] stelfrag commented on #13779
@Forza-tng thank you for reporting this. We will probably switch to malloc = yes as a default until we can handle this better

[2022-10-07 13:14] michaelweinold commented on #13676
Issue seems to be fixed with `v1.36.0-183-g45ff154cb`. Chart below:

<img width="1180" alt="Screenshot 2022-10-07 at 15 12 15" src="https://user-images.githubusercontent.com/23102087/194562089-6c6c34aa-80c2-4381-ad8e-587e5021bf6d.png">

Many thanks for following up 🙏🏻

[2022-10-07 15:57] andrewm4894 commented on #13676
Thanks @michaelweinold i was just confirming this today myself as i had similar issue with my own node. @MrZammler did a fix yesterday.

Going to check it again on Monday but looking promising so far from what i can see.

[2022-10-08 03:33] yezhem commented on #13453
@vlvkobal can you complete this feat, or can I pull pr to complete it?

[2022-10-08 16:18] RaitoBezarius commented on #13753
@MrZammler Tried the latest nightly (185): https://clbin.com/ZNDG5 — same crashes.

[2022-10-08 16:19] RaitoBezarius commented on #13753
cc @thiagoftsm

[2022-10-08 17:05] thiagoftsm commented on #13753
Thank you @RaitoBezarius for the report.

I will try to recreate this issue today. I observed that when you wrote the initial description, you were running `Version: netdata v1.35.0-256-nightly`, and right now I am running the following version:

[code]

Please, can you confirm that you already updated for the latest version?

Best regards!

[2022-10-08 17:25] RaitoBezarius commented on #13753
@thiagoftsm

[code]
I confirm :).

[2022-10-09 01:57] thiagoftsm commented on #13753
Hello @RaitoBezarius ,

When your Netdata crashed, did you have an error like this:

[code]

 inside your `/var/log/netdata/error.log`?

[2022-10-09 10:42] haldi4803 commented on #9362
works pretty well with editing the cloud.conf file to no.
But is there a docker variable for this?

[2022-10-10 06:37] MrZammler commented on #9362
Hi @haldi4803

Can you try with this https://github.com/netdata/netdata/pull/13106 ?

[2022-10-10 08:36] shyamvalsan commented on #13714
Hey @Ferroin now that https://github.com/netdata/netdata/pull/13451 is merged, do we have a way forward here?

[2022-10-10 08:41] shyamvalsan commented on #13616
@MrZammler still see the problem in windows/docker ubuntu setup. Here's the stdout, let me know if you want me to grab any logs.

[code]

[2022-10-10 09:47] MrZammler commented on #13781
Hi @milindpatel63 ! Can you check please that tomorrow's nightly has resolved the issue?

[2022-10-10 10:24] vlvkobal commented on #13453
It would be nice if you create a PR.

[2022-10-10 10:36] RaitoBezarius commented on #13753
Yes!

[2022-10-10 10:36] RaitoBezarius commented on #13753
No!

[2022-10-10 10:58] vlvkobal opened #13794 "[Bug]: Uninitialised bytes in eBPF plugin"
### Bug description

Valgrind reports errors while running the eBPF plugin:
[code]

### Expected behavior

No errors when the eBPF plugin is running under Valgrind.

### Steps to reproduce

Run `sudo -E valgrind --log=valgrind.log ./ebpf.plugin > /dev/null`, look into the log file.

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No

[2022-10-10 11:32] stelfrag commented on #13779
@Forza-tng , a memory leak has been fixed which would be a likely cause for this (https://github.com/netdata/netdata/pull/13792 will be available in the next nightly build)

[2022-10-10 12:50] thiagoftsm commented on #13753
@MrZammler it looks like we are talking about the same issue.

On my end I am using SSL.

[2022-10-11 07:56] DeanVanGreunen commented on #12611
Hi, this issue has been solved by someone from the discord server

On Fri, Apr 8, 2022 at 2:02 PM odynik ***@***.***> wrote:

--

*Dean Van Greunen* | Senior Software Engineer
LinkedIn: deanvangreunen <https://www.linkedin.com/in/deanvangreunen/>
Mobile: +27663922868 | 0663922868

[2022-10-11 08:24] MrZammler commented on #13753
Admittedly an interesting experience with NixOS...

I've installed NixOS 22.05, updated to unstable as it seems 22.11, and installed Netdata 1.36.1. I have 10 children streaming to it, and will check it for any crashes.

Can you share your config for Netdata so I can replicate the setup? Btw, was Netdata ok on 22.05 ?

[2022-10-11 08:32] dhmilburn commented on #12697
Can someone please contact me ASAP.

I got the NetData node working last night around 6pm. The installation
broke all of by nginx services. They all run only intermittently now. I
believe this is because of ipv4 tcp reset issues.

I uninstalled NetData but the problem continues. There must be a
configuration issue somewhere.

Please help me.

David

On Thu, Apr 21, 2022 at 3:27 AM Emmanuel Vasilak

[2022-10-11 08:34] dhmilburn commented on #12697
All,

Huh?

Just went back to my dashboard and my node is connected. Everything appears
to be working fine.

Thanks for all of your help.

Best,

David

On Thu, Apr 21, 2022 at 5:12 PM David Milburn ***@***.***> wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-10-11 08:37] #13676 closed

[2022-10-11 08:38] caroffer12 commented on #13430
Hi Team,

I tried restarting the service . But still no luck.

 tail -f /opt/netdata/var/log/netdata/error.log | grep -i aclk
^C
***@***.***:/# tail -f /opt/netdata/var/log/netdata/error.log
2022-07-26 14:27:27: cgroup-name.sh: INFO: cgroup
'docker_6c9f06d75e28c61c75018b27500d48e6eb7d0cdcc260347b4a0ad53e375b71ae'
is called 'es06'
2022-07-26 14:27:27:
/opt/netdata/usr/libexec/netdata/plugins.d/cgro

[2022-10-11 08:45] MrZammler commented on #13694
Hey @CreeperFace00 !

As discussed, can you please check starting from version >=v1.36.0-202 that the parent behaves ok now?

[2022-10-11 08:50] MrZammler commented on #13430
Hey @caroffer12 !

The log you're pasting is from July, is this a new problem? Is it the same node we where checking or a new one? Can you check `/var/log/netdata/error.log`?

[2022-10-11 09:40] MrZammler commented on #13717
@thiagoftsm hey!

This looks like something that might be fixed by #13798

Was this reproducable? Could you check the behavior with latest master ?

Thanks!

[2022-10-11 10:27] #13160 closed

[2022-10-11 11:08] milindpatel63 commented on #13781
Can confirm the issue is resolved after the latest nightly update. 👍

[2022-10-11 11:36] RaitoBezarius commented on #13753
Yeah, it looked like this: https://git.rz.ens.wtf/Klub-RZ/infrastructure/src/branch/master/machines/core-services-01/monitoring.nix#L80-L134
Netdata was okay on 22.05, more: netdata is okay on other NixOS hosts on unstable and so on.

I had this bug while upgrading from ~22.05 to 22.11 indeed, assuming some state beforehand in `/var/cache/netdata` I think.

[2022-10-11 12:19] Ferroin commented on #13714
@shyamvalsan Currently, #13451 being merged means we’re refusing to install any service on WSL unless the user does so manually. In the short term:

- You can manually install what was getting installed before #13451 got merged by running `/usr/libexec/netdata/install-service.sh --type initd` after running the installer. This does not appear to work _exactly_ like it used to, but AFAICT it does mo

[2022-10-11 15:05] #13777 closed

[2022-10-11 15:55] MrZammler commented on #13694
Thanks Max!

[2022-10-11 15:55] #13694 closed

[2022-10-11 16:31] thiagoftsm commented on #13717
@MrZammler ,

It is not possible to confirm this, because when I reported the issue, it was possible to compile `netdata` and linking to `libasan` with flags `-DNETDATA_DEV_MODE=1 -DNETDATA_INTERNAL_CHECKS=1 `, but now when I compile with them we have other errors that Costa already reported:

[code]

so, right now it is not possible to confirm the issue was fixed.

[2022-10-11 16:37] ilyam8 commented on #13717
@thiagoftsm can you

- check out the commit before "other errors that Costa already reported"
- apply the patch
- test!

?

[2022-10-12 00:43] thiagoftsm commented on #13717
It looks like the issue was fixed, but I will still retest it in the future when it is possible to compile with all options. :handshake:

[2022-10-12 00:43] #13717 closed

[2022-10-12 06:17] MrZammler commented on #13717
Thanks Thiago! Yes, we'll check again if this surfaces later.

[2022-10-12 09:19] MrZammler commented on #13237
Hi @andrewm4894 , is this still an issue? There have been a lot of changes on the query engine...

Tried to replicate it somehow, but wasn't actually successful but I'm not sure if it was just my case of data.

[2022-10-12 10:21] #13237 closed

[2022-10-12 10:41] zyxep opened #13811 "[Bug]: kickstarter-static.sh --uninstall // netdata-uninstaller.sh --yes doesn't remove data only repo"
### Bug description

Hi,

I just triggered an uninstall on one of our nodes that seems to fail.
It looks like it's only removing the repo(s) not the data it self.

### Expected behavior

I expect it to delete the following:

**folders**
[code]

**user/group**
netdata

and anything else.
The .deb from ubuntu doesn't seem to remove it.
Could be because the uninstaller only does `remove` and not `pur

[2022-10-12 14:42] cakrit commented on #13714
Just to clarify, this is our major blocker for Windows Support. It will be amazing if we can have a working installation with the default kickstart command in 1.37.0. I'll do my best to put together an msi installer in paraller.

[2022-10-12 15:05] MrZammler commented on #13377
Hi @hugovalente-pm

Mind if I close this?

The go.d last collected alerts where disabled with #13485 and there is also a similar one #13310 ?

[2022-10-12 15:07] MrZammler commented on #13377
Ok, sorry this was forked from #13310, will leave open.

[2022-10-12 15:10] MrZammler commented on #13356
Hi @dr460nf1r3 !

Is there any update on this?

Thanks!

[2022-10-12 15:34] andrewm4894 commented on #13426
@hugovalente-pm i think we should explore what would need to be done to make these available in NC

e.g: https://london.my-netdata.io/api/v1/data?chart=httpcheck_Bangalore_Demo_Site.response_time&points=1&group=percentile90

eg making some of them available in here:

![image](https://user-images.githubusercontent.com/2178292/195386163-eb7a0292-052c-417c-ab8f-570bc2deb912.png)

[2022-10-12 15:41] novykh commented on #13426
It should be only frontend work.

[2022-10-12 15:46] MrZammler commented on #13564
Closing this, @alfrenovsky if this does not work for you (i.e. does not redirect you to your local agent) please re-open.

[2022-10-12 15:46] #13564 closed

[2022-10-12 16:09] andrewm4894 commented on #13426
@hugovalente-pm  makes sense - or we could just add a subset for now assuming that dropdown is scrollable.

Start with just:

Trimmed Mean
Trimmed Median
Percentile 99
Percentile 95
Percentile 75
Percentile 90
Percentile 25
Percentile 10
Percentile 5
Percentile 1

Unsure how ugly or not that might look (?)

[2022-10-12 16:17] hugovalente-pm commented on #13377
@MrZammler since we have forked the #13310 into multiple ones that probably means that one can be closed as `won't do` mentioning that lower task bugs/tickets have been opened. wdyt?

[2022-10-12 16:18] hugovalente-pm commented on #13377
actually, I had mentioned that but didn't close it... my bad
https://github.com/netdata/netdata/issues/13310#issuecomment-1183392014

[2022-10-12 16:18] hugovalente-pm commented on #13310
closing as per the previous comment https://github.com/netdata/netdata/issues/13310#issuecomment-1183392014

[2022-10-12 16:18] #13310 closed

[2022-10-12 16:44] novykh commented on #13426
We can just add another input if any of
[code]
is selected.

So the filter will look like: "each as `Percentile` of `99`" (make it a sentence I mean)

[2022-10-12 17:29] hugovalente-pm commented on #13426
that looks better! will raise a ticket and if it is not a big effort task we could prioritize it

[2022-10-13 06:35] Raph0773 opened #13814 "[Feat]: Monitor Kubernetes PVCs"
### Problem

_No response_

### Description

Hello,

Currently I use NetData to monitor Kubernetes clusters.
Is it possible to monitor the PVCs of the different containers and have an alert at a certain level (80% Warning - 90% Hign - 95% Critical) ?

Thanks for your help !

### Importance

really want

### Value proposition

- Alert at a certain level (80% Warning - 90% Hign - 95% Critical)

###

[2022-10-13 07:13] ilyam8 commented on #12860
Hi, @ghoekstra. The 'titleoid' feature didn't make it into the go version. Having instance-specific data in a chart title is a problem when aggregating on the Cloud (see relevant issue https://github.com/netdata/netdata/issues/12641). We need to think about what we can do.

[2022-10-13 11:23] Ferroin commented on #13714
@cakrit Assuming #13774 gets merged in time for the release as is the current plan, we should have at least equivalent behavior to what we did prior to #13451 being merged, plus working support for systemd in WSL. It _might_ also resolve this issue (in traditional WSL setups, it will correctly prefer the LSB-style init script over the plain init.d style script we were previously installing, and I

[2022-10-13 12:16] Ferroin commented on #13811
The cloud removal aspect is unfortunately not something we can really do right now. We _should_ be able to do this, but the PMs seem to have trouble recognizing that even just manual removal of nodes is something users _really_ want.

Regarding the config removal, you’re correct that it’s because we’re using `remove` and not `purge`. We intentionally don’t wipe this stuff by default so that it’s p

[2022-10-13 16:09] thomasmerz commented on #13781
@milindpatel63

Over here I also observed this timeline:
* Oct, 9th 05:17am **Critical**, pihole_blocklist_gravity_file = 0 boolean (via email)
* Oct, 11th 05:18am, **Clear**, pihole_blocklist_gravity_file = 1 boolean (via email)
* Oct, 13th 05:18am, **Critical**, pihole_blocklist_gravity_file = 0 boolean (via email)
* But there's no alert in Netdata shown!?

[2022-10-13 16:14] ilyam8 commented on #13781
I [installed Pihole](https://docs.pi-hole.net/main/basic-install/), and my findings:

- the latest has no problems with alarms.
- Pihole guys removed the [gravity.list](https://github.com/pi-hole/pi-hole/pull/2871#issuecomment-520251509) file.
- That means the `blocklist_file_existence_state` metric has no sense and can be removed (along with the corresponding alarm).
- They read domains directly

[2022-10-13 16:17] ilyam8 commented on #13781
@thomasmerz it looks like you are not using the latest Netdata (nightly) release. What version do you use?

[2022-10-13 19:29] thiagoftsm opened #13820 "Excessive number of warnings on 32 bits arm"
### Bug description

We merged some machine learning modification that brought a lot of warnings when we compile on 32 bits arm as you can see
[here](https://github.com/netdata/netdata/files/9780064/err.txt).

### Expected behavior

Compile on 32 bits arm without warnings.

### Steps to reproduce

1. Compile netdata with following CFLAGS:
[code]

### Installation method

from source

### System in

[2022-10-14 05:55] k0ste commented on #13673
Any change to get patch for this in next release? Ready to test on baremetal ⚙️

[2022-10-14 08:17] ilyam8 commented on #13673
Hi, @k0ste. We plan to implement the following fix: if the port is physical we assume it always should have speed, duplex, carrier, and operstate. So for physical ports, we will never give up trying to read these metrics (files). But we will add a timeout: read -> error -> skip N data collections -> try to read again.

[2022-10-14 09:52] thomasmerz commented on #13781
@ilyam8 you absolutely right. Now with latest version everything is allright 👍🏻

[2022-10-14 11:37] andrewm4894 opened #13823 "[Feat]: Log to seperate log files per plugin/collector"
### Problem

Making a feature request following this discussion on discord: https://discord.com/channels/847502280503590932/1027957189245157386

Problems:
1. The netdata log files can be quite hard to read and understand as there is just lots of stuff in one place.
2. A lot of error messages get thrown in the normal running of things that can make it harder to distinguish between "normal" error me

[2022-10-14 18:03] Dentrax opened #13827 "[Bug]: Fatal errors on fresh installation on macOS: `Failed to initialize database`"
### Bug description

[code]

If I run it with sudo:
[code]

cli coulnd't help:
[code]

Got some errors during installation:
[code]

### Expected behavior

It should work?

### Steps to reproduce

1. `$ wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh`
2. `chmod +x /tmp/netdata-kickstart.sh`
3. `/tmp/netdata-kickstart.sh`
4. After installation succeded, run: `/usr/local/netdata/

[2022-10-14 18:22] Dentrax commented on #13827
It seems it already runs on `:19999` 🤔

[2022-10-14 19:17] Dentrax opened #13828 "[Feat]: /api/v1/allmetrics should return OpenMetrics compatible Content-Type"
### Problem

`/api/v1/allmetrics` endpoint returns Content-Type: `text/plain; charset=utf-8` but it's not an OpenMetrics standard. Instead it should return `application/openmetrics-text; version=1.0.0; charset=utf-8`

### Description

https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#overall-structure

Content-Type should be:
[code]

### Importance

nice to ha

[2022-10-14 19:58] Dentrax opened #13829 "[Bug]: Couldn't stop the agent on macOS (already running)"
### Bug description

Agent does not shutdown even I run `sudo /usr/local/netdata/usr/sbin/netdatacli shutdown-agent` command several times. I couldn't understand why it doesn't shutdown. When I run second time of the following command:
[code]

It says `Make sure the netdata service is running.`. But it's already running:

[code]

Why it throw `uv_pipe_connect(): connection refused` error? What doe

[2022-10-15 00:32] ebiagi opened #13830 "[Bug]: high cpu usage on master after alarms raised by slaves"
### Bug description

I've a master and a couple of slave hosts, when one or more slaves alerts are raised (even when I reboot a slave host) the master netdata CPU usage raise a lot, not lowering until netdata is restarted

### Expected behavior

CPU usage not to grow

### Steps to reproduce

1. raise a test alarm or reboot a slave machine
2.
3.
...

### Installation method

kickstart.sh

### Syste

[2022-10-15 06:49] HolgerHees opened #13831 "[Bug]: delay seems to be ignored"
### Bug description

My alarm 10min_disk_backlog happens first time at 05:00:30. In my alarm log I see the state change at 05:02:02 from CLEAR to CRITICAL and at 05:12:02 back to CLEAR.

My Notification was send the first time at 05:02:03 and the second one at 05:12:03

My Alarm configuration delay looks like

delay: up 30m down 15m multiplier 1.2 max 1h

How is this possible, is there anything wr

[2022-10-15 09:19] HolgerHees commented on #13831
found my configuration issues

[2022-10-15 09:19] #13831 closed

[2022-10-15 09:38] andrewm4894 commented on #13831
Can you share if possible? Just in case useful to others for learning in future (and me :) )

[2022-10-15 09:40] andrewm4894 commented on #13828
Thanks @Dentrax for the request, I think this is really important.

[2022-10-16 10:56] HolgerHees commented on #13831
sure. Sorry for my short answer before. Normally I don't like this too :-)

I was implementing a script which synchronizes my alerts between netdata and alertmanager.

The script is triggered first by netdata as usual, but is also running as a cron job every 5 minutes to refresh alerts and mark them still as active, but also to creates missing or outdated alerts which can happen during restarts of

[2022-10-16 14:29] andrewm4894 commented on #13831
Oh cool

[2022-10-16 15:45] nikobearrr opened #13833 "[Bug]: pihole dns_queries_percentage export is wrong"
### Bug description

Running the pihole go.d plugin to fetch metrics for pihole works very well. However there is a strange issue that the chart `pihole.dns_queries_percentage` is exactly the same as `pihole.dns_queries` when exported to graphite. No issue with any of the other graphs

### Expected behavior

I would expect that each chart is exported as seen on the netdata dahsboard

### Steps to

[2022-10-16 17:34] ilyam8 commented on #13833
Hi, @nikobearrr. This is expected because of "as collected". The metrics are **collected as numbers** (that is why I mentioned "as collected") and we don't convert them into percentages during data collection (pihole collector). The conversion is done later by Netdata, the reason is [percentage-of-absolute-row dimension algorithm](https://github.com/netdata/go.d.plugin/blob/927cfd943f539abad847146

[2022-10-16 17:47] ilyam8 commented on #13833
Despite the issue not being a bug, netdata/go.d.plugin#922 adds calculating percentage instead of using "percentage-of-incremental-row". It should fix the problem @nikobearrr

[2022-10-16 17:53] #13833 closed

[2022-10-17 07:03] MrZammler commented on #13830
Hi @ebiagi thank for the report. Sorry for this. We'll try to replicate and find the cause.

[2022-10-17 07:04] MrZammler commented on #13830
Is it possible to try with a newer nightly version? We're currently at -228.

[2022-10-17 07:47] MrZammler commented on #13829
Hi @Dentrax

The `uv_pipe_connect()` error I think comes from the fact that `netdatacli` can not communicate with the main `netdata` binary through a file in `/tmp/netdata-ipc`.

I've seen the error before, it could be as simple as a permissions error... I'll have a look again  and will let you know. Thanks!

[2022-10-17 07:57] pgassmann commented on #13670
@ilyam8 do you have an idea why this is not recovering on its own? its great that netdata ensures it does not steal resources when other process need it, but it should work properly once the load is over.

it is always a disk metric that is reported.

[2022-10-17 08:03] ilyam8 commented on #13670
Hi, @pgassmann. Any chance you can test the latest nightly release? (using docker container for example) There is a lot of optimization changes since v1.36.1.

[2022-10-17 08:54] bluepuma77 opened #13838 "[Bug]: netdata agent in Docker is unexpectedly restarting"
### Bug description

We run netdata agent on 10 servers, this is the only one where netdata agent in Docker is unexpectedly restarting. It's a big bare-metal server with 128GB RAM and 15 disks in RAID5 running Debian.

On this server we use cron to run a script every 30 minute that creates about 100 mongodump containers in sequence. Each one lives from a few seconds to 2 minutes, then the next one

[2022-10-17 09:00] MrZammler commented on #13838
Hi @bluepuma77 !

Is it possible please to update to latest nightly to check if the issue is there as well?

[2022-10-17 09:22] ilyam8 commented on #13838
@bluepuma77 in addition, can you try to filter out the container - my understanding is that it is always one container at a time and the name is mongodump.

Use the `enable by default cgroups names matching` config option.

`
enable by default cgroups names matching = !mongodump *`
`

[2022-10-17 11:14] bluepuma77 commented on #13838
Updated, it happens every couple of days, so we need to wait ;-)

[2022-10-17 11:29] bluepuma77 commented on #13838
I run netdata within Docker, without any configuration. That's the cool thing about it :-)

When I add the line to the empty (except comments) `/etc/netdata/netdata.conf`, I get an error after container restart:
[code]

[2022-10-17 11:35] bluepuma77 commented on #13838
@MrZammler I pulled and re-created with `netdata/netdata:latest` from docker hub , but I find this in the logs: `program_version 'v1.36.0-228-nightly'`, not `v1.36.1`

[2022-10-17 12:03] MrZammler commented on #13838
Hi @bluepuma77 `v1.36.0-228-nightly` is normal, yes it's after `1.36.1` :-)

[2022-10-17 12:11] wojtekxtx commented on #13829
@MrZammler

By definition, `/tmp`folder ( in many modern OSes ) stores **temporal** data, so no wonder `netdatacli` cant communicate with files in it. All files in `/tmp` folder are "transparent"

[2022-10-17 12:27] Ferroin commented on #13714
Just merged #13774. Based on testing of that, I _believe_ this issue is resolved, at least in some cases. At minimum, our WSL support should overall be better now than it was when this issue was opened, though there is still lots of room for improvement.

[2022-10-17 12:40] ilyam8 commented on #13838
Should be

[code]

[2022-10-17 13:33] ndsda opened #13840 "[Bug]: Centos 7, fails to start after yum update"
### Bug description

I updated Netdata by running "yum update" but since then it will not start.

### Expected behavior

I expected it to update and restart as normal.

### Steps to reproduce

I ran "yum update" and it updated Netdata but now it will not start.

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

I've experienced the

[2022-10-17 13:39] tmbuthi opened #13846 "[Bug]: Issue with Centos Nodes Netdata Service is not starting"
### Bug description

I have installed Netdata using the Kickstart script and the service is not starting.

### Expected behavior

I expected netdata to work properly once installed so I can monitor the node

### Steps to reproduce

1.
Created the .environment file but it is still now running the service. Seen a forum with a similar issue and followed steps to ending the netdata.service file and st

[2022-10-17 14:05] MrZammler commented on #13840
Hi @ndsda Can you post/paste part of `error.log` during the start?

[2022-10-17 15:13] cakrit commented on #13716
@ilyam8 see if it's possible to get this done next week, if not this one.

[2022-10-17 15:27] cakrit opened #13843 "[Feat]: Windows MSI installer for Netdata on WSL2"
### Problem

Publish a netdata.msi to install WSL2 and a preconfigured Netdata on it, with optional connection to the cloud.

### Description

Draft instructions on how to use Netdata on Windows are at [here](https://docs.google.com/document/d/1qdZiAG341GceX2baMpHnDvAS1QF6hBtIDfjpW8FK2Bg), but we still have a few todos and needs an installer for production deployments.

We are outsourcing the deve

[2022-10-17 16:04] douglasparker commented on #4366
This is still an issue for me. I have a browser tab open on a second monitor for monitoring an external node.

Once a day I am greeted with a white error page with the following message: `Error code: Out of Memory in browser`

I noticed #9231 was closed as a duplicate. This is definitely not an issue that's been resolved.

My machine has 64 GB of ram, and it seems that RAM usage continues to grow

[2022-10-17 18:14] ndsda commented on #13840
Hello @MrZammler the error.log file is empty.

[2022-10-17 19:51] cakrit commented on #13714
Plz check tomorrow if it works properly on our windows server and if it does, close this issue. Thanks @Ferroin !

[2022-10-17 20:36] andrewm4894 opened #13845 "[Feat]: enable or install a collector from a GitHub url"
### Problem

Can we make it easy for users to just enable a collector from a GitHub url. At the moment installing and enabling a custom collector is a little onerous or manual. Wondering if there could be a way we could just let users install/enable from source url in some way. So just automate the curl steps etc.

### Description

Ability to enable a collector and tell netdata the url it lives at

[2022-10-18 06:51] MrZammler commented on #13827
Hi @Dentrax

Generally, custom building on MacOS has issues. Would it be possible to try the version from [homebrew](https://formulae.brew.sh/formula/netdata) instead ?

[2022-10-18 07:23] MrZammler commented on #13356
Nico, will close this. If the issue persists with newer versions of agent, do let us know to have a look. Thanks!

[2022-10-18 07:23] #13356 closed

[2022-10-18 08:30] hugovalente-pm commented on #13846
@tmbuthi to speed-up the triage process could you provide the following information:
* Installation method
   Select installation method you used.
   Describe the method in the "Additional info" section if you chose "other".

![image](https://user-images.githubusercontent.com/82235632/196378378-4e60dc72-17c4-4e0b-bc40-59b04aa08f5c.png)

* System info
   Provide information about your system. To ge

[2022-10-18 10:32] tbarbette commented on #10330
The --allow-duplicate-install flag appears to be removed. It worked with "--reinstall" though.

[2022-10-18 11:24] ilyam8 commented on #13700
@shyamvalsan @thiagoftsm I added some adjustments, you can check the latest version and add changes if needed.

[2022-10-18 11:25] shyamvalsan opened #13847 "[Feat]: Add alerts for Cassandra"
### Problem

_No response_

### Description

Add the alerts for the following metrics to the Cassandra collector:

- latency
- cache
- exceptions
- throughput

### Importance

must have

### Value proposition

1. Pre-built alerts make troubleshooting easier and faster

### Proposed implementation

_No response_

[2022-10-18 11:50] Ferroin commented on #13845
This could probably be done using a relatively simple script.

The caveat is that if we want to do this, we need to define a ‘standard’ repo layout for third-party collectors, otherwise we have no way to ensure we get things put in place properly.

[2022-10-18 12:15] shyamvalsan commented on #13700
Looks better @ilyam8

can we rename:

- jvm gc --> garbage collection
- cassandra --> Cassandra

The compaction charts looks a bit confusing to me. Why are there multiple charts for pending compactions?

[2022-10-18 12:15] shyamvalsan commented on #13847
Don't think we have one yet - but you can get the latest names from [here ](https://app.netdata.cloud/spaces/development/rooms/all-nodes/overview#chartName=menu_cassandra&appliedFilteredIds=&liveNodeIds=&staleNodeIds=&offlineNodeIds=&filteredNodesSearchParams=)

[2022-10-18 12:29] Ferroin commented on #13714
OK, this is a bit more complicated than I originally expected, and the `service` command is actually buggy.

The ‘quick’ workaround for non-systemd WSL setups is to just use the static build instead of native packages.

The more ‘correct’ workaround, that lets you continue using native packages, is to:

- Manually run (as root) `/usr/libexec/netdata/install-service.sh` after running the kickstart

[2022-10-18 13:14] Dentrax commented on #13827
Oh, didn't know there was a brew package for this! I was reading the [installation method](https://github.com/netdata/netdata/blob/master/packaging/installer/README.md#have-a-different-operating-system-or-want-to-try-another-method) and couldn't notice. Maybe we should add `brew` installation method on there for awareness. Wdyt?

[2022-10-18 13:15] sashwathn commented on #13847
The alerts config now attached here for validation.
[cassandra_v2.conf.txt](https://github.com/netdata/netdata/files/9810772/cassandra_v2.conf.txt)

[2022-10-18 13:20] thomasmerz commented on #13781
Sorry, it's me again, @ilyam8 …

[code]

But there have been these mails today:

---
<html><head></head><body>

Chart:                                                     pihole_remote_https.unwanted_domains_blocking_status
--
Family:                                                     status
Recovered from warning, (was warning for 10 seconds)
 
On

[2022-10-18 13:47] MrZammler commented on #13827
Yes! Care to make a PR? :-)

[2022-10-18 14:38] milindpatel63 commented on #13781
@MrZammler I still have the issue present.

![image](https://user-images.githubusercontent.com/11052427/196461657-57155666-60f0-443e-9e4d-dca8cd43f6d8.png)

[2022-10-18 14:52] thomasmerz commented on #13781
@ilyam8 , increasing delay-up should fix **my** false-alerts. Thanks a lot for this hint!

[2022-10-18 14:54] thiagoftsm commented on #13700
Hello @shyamvalsan ,

Two of the charts you wrote in the issue (task completed, task queued), the third has relationship with bytes compacted.

Best regards!

[2022-10-18 14:59] ilyam8 commented on #13700
Can you clarify this? 🤔

There are [more JVM metrics](https://cassandra.apache.org/doc/latest/cassandra/operating/metrics.html#jvm-metrics) (which can be added later). All of them are JVM runtime metrics. Do you still think that removing `jvm ` is a good idea?

[2022-10-18 15:58] milindpatel63 commented on #13781
Yes
![image](https://user-images.githubusercontent.com/11052427/196482406-8263d77f-b547-4331-a1f1-fe9f33dda33b.png)

[2022-10-18 17:21] cakrit commented on #13781
It never occurred to me that I can't simply exit without copying the file.
Could we perhaps provide a `view-config`? Or somehow else allow users to NOT copy the file when they exit the editor? It's a simple bash script after all...

[2022-10-18 17:34] ilyam8 commented on #13673
Hi, @k0ste. Can you test the [fix](https://github.com/netdata/netdata/pull/13850)?

[2022-10-18 17:38] shyamvalsan commented on #13700
@ilyam8 in that case if it really does stand out so much - the preferred option is to go with JVM runtime.

[2022-10-18 17:40] ilyam8 commented on #13700
How it looks

<img width="218" alt="Screenshot 2022-10-18 at 20 39 48" src="https://user-images.githubusercontent.com/22274335/196504770-c1c3d337-cecb-4467-9a6f-85607ceeaf3a.png">

[2022-10-18 17:51] cakrit commented on #13714
Why can't we check if `systemd` is being used and run it automatically if it's not? It's extremely rare for systemd to be used anyway, you need a special version of WSL AFAIK. See the link below, we can do checks specific to WSL only to ensure we're doing the right thing:

https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/#how-can-you-get-systemd-on-your-machine

U

[2022-10-18 18:16] ilyam8 commented on #13847
Usually, can be found in a [readme file](https://github.com/netdata/go.d.plugin/tree/master/modules/cassandra#metrics).

[2022-10-18 18:19] Ferroin commented on #13714
It’s more common than you might think, and it’s been possible for quite some time. MS finally adding official support has been in response to people complaining about needing third-party software to do it.

Actual usage is likely to increase as this moves from being functionally an open beta to being mature software, as a rather irritating number of things depend on systemd these days.

And detect

[2022-10-18 19:01] milindpatel63 commented on #13781
We should have a git repo containing all the latest config files in one place, and it should be documented on netdata docs, with instructions like, how to edit those configs...

[2022-10-18 19:11] cakrit commented on #13714
Ok, how about we focus on getting the steps right for our msi installer:
- The installer by default expects that there's no WSL and it will install the image that is built the way we want it.
- If the msi detects that a WSL distribution is already installed, it aborts and points the user to a page with more info on what they should do

I just have no idea what they could possibly do then. I don't

[2022-10-18 22:06] dfpr commented on #13714
I am aiming to have the installer detect WSL as a Windows feature so will install it if not already installed or go to the next nextdata installation step if installed.

[2022-10-18 22:37] thiagoftsm commented on #13726
On a default Windows 11 installation I got [these metrics](https://github.com/netdata/netdata/files/9815498/iis_metrics.txt).

[2022-10-18 22:38] thiagoftsm commented on #13726
@cakrit before I proceed with IIS and SQL Server, I will complete the list of metrics that we are missing.

[2022-10-19 07:03] MrZammler commented on #13739
Hi @AiryXu, any update on this? Thanks!

[2022-10-19 07:54] MrZammler commented on #13709
Hi @AvMavs

Can you try to add in your compose file:

[code]

?

[2022-10-19 08:08] MrZammler commented on #13616
It [appears](https://stackoverflow.com/questions/46247032/how-to-solve-invoke-rc-d-policy-rc-d-denied-execution-of-start-when-building) to be a docker _problem_ rather than netdata's.

More here: http://jpetazzo.github.io/2013/10/06/policy-rc-d-do-not-start-services-automatically/

If I understand correctly, by default Ubuntu under docker prohibits services (not just netdata) from starting automat

[2022-10-19 09:39] marcelmfs commented on #6999
I have built v1.36.1 from the repository and am facing this issue. My work around is to stop abrtd altogether but that's not ideal, albeit I don't really care too much for abrtd on this instance, it only runs netdata as proxy, no dbengine, no web, only proxying traffic.

[2022-10-19 11:01] shyamvalsan commented on #13700
@ilyam8 I don't think that's too bad - doesn't look out of place to me.

[2022-10-19 11:19] MrZammler commented on #6999
Hi @marcelmfs . Can you share your `error.log` ? You can send to manolis@netdata.cloud

Does it happen during shutdown ? Could you maybe try a nightly build?

[2022-10-19 11:30] marcelmfs commented on #6999
Hello @MrZammler - no, it happens during startup whenever I issue `systemctl restart netdata`, I see processes starting, but they get aborted right away, I could try a nightly build later today...

[2022-10-19 11:41] Dentrax commented on #13827
Sure! Here: https://github.com/netdata/netdata/pull/13851

[2022-10-19 11:51] Ferroin opened #13852 "[Feat]: cgroups.plugin: Expose memory.high, memory.swap.high, memory.low, and memory.min values as chart variables for cgroup.mem_usage charts."
### Problem

We currently expose the values of the `memory.max` and `memory.swap.max` values as chart variables for each cgroup under the associated `cgroup.mem_usage` chart. These are useful for configuring alerts, but they provide an incomplete picture of memory cgroup behavior.

### Description

It would be useful to additionally expose the following other values for this chart:

- `memory.high

[2022-10-19 12:21] cakrit commented on #13726
- First do all the system ones, starting with what we already have (if they are missing metrics).
- Leave the applications last.
- Do one PR for each "collector" in the table https://github.com/prometheus-community/windows_exporter#collectors
- Wherever possible, organize and name metrics and charts the same way with our Linux charts.
- Wherever possible, take existing alerts we have for Linux and

[2022-10-19 12:34] cakrit commented on #13714
@dfpr try the steps @Ferroin mentioned, manually running as root `/usr/libexec/netdata/install-service.sh` and then use the `/etc/init.d` commands directly. Haven't done it myself yet.

[2022-10-19 13:26] k0ste commented on #13673
Hi, @ilyam8. Sure!

[2022-10-19 13:59] Ferroin commented on #13714
@cakrit Regarding the case of an existing WSL distro, that’s a non-issue. We just install our own alongside it and everything is fine. Each distro is it’s own container (irrespective of WSL1 versus WSL2).

[2022-10-19 16:06] dr460nf1r3 commented on #13356
Hey @MrZammler ! Sorry for the very late reply, this somehow slipped through my issues. In the end, we eventually ended up replacing the container and haven't had issues since. Now happily running Netdata on Nix based infrastructure. Sorry for letting this get stale again!

[2022-10-19 16:42] jacob-linode opened #13855 "[Bug]: parsing of configuration files has issues with special characters in passwords"
### Bug description

Hello,

I've noticed when configuring [postgres.conf](https://github.com/netdata/go.d.plugin/blob/master/config/go.d/postgres.conf) that some passwords do not work / are not parsed correctly. Particularly, I've noticed the # character seems to break things, as shown by the debug output:

[code]

Is this a limitation of netdata, go.d.plugin, or the DSN specification? Is there a

[2022-10-19 19:44] ilyam8 commented on #13855
Hi, @jacob-linode.

We use the [jackc/pgx](https://github.com/jackc/pgx#pgx---postgresql-driver-and-toolkit) library. It supports 2 ways to set DSN (follows [libpq connstring](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING)):
 - URL (URI).
 - connection string (key/word).

URLs (URIs) generally [RFC3986](https://www.rfc-editor.org/rfc/rfc3986). The jackc library intern

[2022-10-20 05:38] michaelweinold commented on #13676
@MrZammler, my Raspberry node again is offline intermittently (until restarted manually). Can you confirm?

[2022-10-20 06:00] #12660 closed

[2022-10-20 06:01] #12020 closed

[2022-10-20 06:06] stelfrag commented on #13590
with the latest changes this may be fixed

[2022-10-20 06:15] stelfrag commented on #12505
can we revisit this?. The idea being if a user uses a nightly build and reports a crash, we request the core dump and we see exactly the source code line it failed.

[2022-10-20 07:39] MrZammler commented on #13840
Hi @ndsda , if you try to execute the netdata binary manually, do you get any output?

First make sure that systemd does not try to launch netdata `sudo systemctl stop netdata`

Then try `sudo -u netdata /usr/sbin/netdata -D`

Thanks!

[2022-10-20 07:40] MrZammler commented on #13840
Can you also please paste the contents of `/usr/lib/systemd/system/netdata.service` ?

[2022-10-20 12:23] Ferroin commented on #12505
Do we have any indication of whether `-Og` is actually needed here? It almost certainly reduces both performance _and_ memory efficiency, and if we just need line number resolution it’s almost certainly overkill.

[2022-10-20 14:38] underhood commented on #13682
@ralphm is this still valid?

[2022-10-20 15:17] #13212 closed, assigned to Ferroin

[2022-10-20 15:33] Dim-P commented on #13616
Is this expected behaviour then? Doesn't sound like a Netdata bug to me.

[2022-10-20 15:39] Dim-P commented on #13829
@Dentrax Just to make sure, you don't possibly have another version of Netdata installed through a different method (such as a local build) ?

[2022-10-20 15:45] Dentrax commented on #13829
Correct, it was my first attempt to install netdata using kickstart.sh script.

[2022-10-20 16:56] cakrit opened #13857 "[Feat]: Host labels of a netdata running on WSL should include information on the Windows machine useful to users"
### Problem

Host labels for  a Windows node running Netdata in WSL already include some info about the Windows node, but they could use some improvements.

### Description

This came up due to https://github.com/netdata/go.d.plugin/pull/931
Our current host label values are getting filled in with some info from WSL and some info from the windows host
A list from a netdata on WSL on my Windows 11

[2022-10-20 17:36] Ferroin commented on #13616
Yes, it’s generally expected when running in a context without a usable service manager that we can’t start the agent as part of the install.

[2022-10-20 17:49] Dim-P commented on #13616
@shyamvalsan Are you OK if we close this since it isn't actually a bug on our end?

[2022-10-20 21:05] m1khal3v commented on #4813
Many useful information about ClickHouse monitoring can be found in Altinity's wiki

https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-monitoring/

[2022-10-21 01:47] thiagoftsm commented on #13726
I observed that for CPU we are not collecting these metrics:

- windows_cpu_clock_interrupts_total : Total number of received and serviced clock tick interrupts (I am not sure if we should collect this)
- windows_cpu_processor_performance: Processor Performance is the average performance of the processor while it is executing instructions, as a percentage of the nominal performance of the processo

[2022-10-21 02:20] thiagoftsm commented on #13726
About Cache, to match what eBPF plugin shows we need to collect:

- windows_cache_async_fast_reads_total : Number of reads from the file system cache that bypass the installed file system and retrieve the data directly from the cache.
- windows_cache_copy_read_hits_total: Number of copy read requests that hit the cache, that is, they did not require a disk read in order to provide access to the pa

[2022-10-21 02:23] thiagoftsm commented on #13726
We have network, but we can also offer `TCP` info:

- windows_tcp_connection_failures_total: Number of times TCP connections have made a direct transition to the CLOSED state from the SYN-SENT state or the SYN-RCVD state, plus the number of times TCP connections have made a direct transition from the SYN-RCVD state to the LISTEN state
- windows_tcp_connections_active_total: Number of times TCP con

[2022-10-21 02:28] thiagoftsm commented on #13726
Considering the list is too big, instead to write I will give link. I am years without to configure any windows server, but I cannot imagine any situation where we should not monitor [ADFS](https://github.com/prometheus-community/windows_exporter/blob/master/docs/collector.adfs.md) and [AD](https://github.com/prometheus-community/windows_exporter/blob/master/docs/collector.ad.md).

[2022-10-21 09:02] douglasparker commented on #4366
Memory usage continues to grow until it crashes my browser...

@jacekkolasa  @ilyam8 Can we please have this issue reopened until this can be resolved? This is a major pain point for anyone that wants 24/7 monitoring on a secondary monitor.

![Screenshot 2022-10-21 015830](https://user-images.githubusercontent.com/18235822/197156736-50cf6d32-8b30-47fc-99b0-b022fb97eab2.png)

[2022-10-21 09:41] douglasparker commented on #4366
It’s the local agent; exposed via the latest version of Caddy.

[2022-10-21 09:55] #13616 closed

[2022-10-21 10:25] hugovalente-pm commented on #13858
moving to the Agent repo, not sure if the recommendation here is to ask for a PR on https://github.com/netdata/netdata/blob/master/health/health.d/mysql.conf

wdyt @MrZammler ?

[2022-10-21 11:44] ilyam8 commented on #13858
Added collecting "Table_open_cache_overflows" in netdata/go.d.plugin#936. I don't have experience/enough understanding to create an alarm. @ced1check if you are willing to help, please open a PR.

[2022-10-21 12:05] #13858 closed

[2022-10-21 12:35] Dim-P commented on #13829
@Dentrax I asked one of our team members to run `sudo /usr/local/netdata/usr/sbin/netdatacli shutdown-agent` on his macOS installation and he confirmed it works as expected. Not sure what the problem is with yours. Maybe if you try a clean uninstall / reinstall?

[2022-10-21 12:38] #13673 closed

[2022-10-21 12:53] bluepuma77 commented on #13838
Did both, netdata restarted.
[code]

Docker tells me
[code]

From the Docker logs:
[code]

[2022-10-21 13:00] Dim-P commented on #13557
@mpohle-transporeon Any news on this?

[2022-10-21 13:07] Dim-P commented on #13298
@vkalintiris Are there more outstanding helgrind issues after the 2 PRs you created above?

[2022-10-21 13:10] Ferroin commented on #13827
Running without root, that’s expected behavior.

Running with `sudo`, the message you got is ‘fine’, and things should be working without issue.

The fact that it failed to set things up with launchd to run the agent as a system service is a bug though, and there seems to be some issue resulting from that.

@Dentrax Can you share the output of `/usr/local/netdata/urs/libexec/netdata/install-servic

[2022-10-21 13:16] Ferroin commented on #13230
Closing this as the second and third issues are resolved, and the first has been split out into a more general issue regarding install prefix handling at https://github.com/netdata/netdata/issues/13242. I plan to get back to that particular problem in the near future, though there have been some improvements recently (such as the latest nightlies finally being fixed to install the init script in `

[2022-10-21 13:54] nil0x42 opened #13859 "[Bug]: Some cgroups are randomly missing from `Systemd services`"
### Bug description

Since today's nightly (v1.36.0-248-nightly), some cgroups are missing from `Systemd services` category.

They are missing from all graphs (cpu, mem

I use it to monitor approx 50 cgroups, using custom matching rules. I use it since approx. 1 year and it always worked until today.

I tried to restart netdata, and other cgroups disapeared as well.

This bug appears on dashboard,

[2022-10-21 14:09] ilyam8 commented on #13859
Hi, @nil0x42. Can you provide additional info:

- Have you been using the nightly channel all the time? Do I understand you correctly: the day before all was good after the **latest** nightly you have the problem?

- Ok, it was 50. How many do you have now?

- Can you share the rules?

- Can you show `grep -i cgroup /var/log/netdata/error.log` output?

- Show
  - if cgroup v2: `tree -d /sys/fs/cgr

[2022-10-21 14:36] ilyam8 commented on #13838
Can you show `docker inspect netdata  | jq '.[] | .State' | grep -v Output`? (install `jq`)

---

@vkalintiris is it c++ related? Asking because I google it and it seems it it.

[2022-10-21 14:47] andrewm4894 commented on #4366
@douglasparker hey - i wonder if this might be a work-around for now perhaps until we figure it out? https://chrome.google.com/webstore/detail/tab-auto-refresh/jaioibhbkffompljnnipmpkeafhpicpd

Raising with our FE team to try figure it out.

I'll leave a tab open on my end and try to recreate too.

[2022-10-21 14:55] jacekkolasa commented on #4366
Hi @douglasparker , since you mentioned Netdata is exposed by Caddy - can you tell if it looks similarly as https://registry.my-netdata.io/? Ie. Is the left bar present in the Dashboard?
I'm asking because some 3rd party providers were bundling the old version of Dashboard, ie. https://registry.my-netdata.io/old/

[2022-10-21 15:22] Tezar opened #13860 "[Bug]: definition for rc-service doesn't respect install path"
### Bug description

`kickstart.sh` installs into` /opt/netdata` but `/etc/runlevels/default/netdata` refers to `required_files="/etc/netdata/netdata.conf"`
running `rc-service netdata restart` afterwards then fail

### Expected behavior

`rc-service netdata restart` working out of the box

### Steps to reproduce

1. install from kickstart
2. try to restart service

### Installation method

kickst

[2022-10-21 15:59] cakrit commented on #13726
We should monitor the services. See systemd units and do exactly same thing. Off by default, user decides what we monitor, we create groups of services etc.

[2022-10-21 17:01] Ferroin commented on #13860
Quite so. That line actually should not be there at all given that we don’t actually do anything in the script that requires the config file to exist.

I’ve added a commit to https://github.com/netdata/netdata/pull/13115 to resolve this (it’s planned to be merged late next week after the release of v1.37.0). In the short term, you should be able to work around this by creating a symlink at `/etc/n

[2022-10-21 18:29] ndsda commented on #13840
Hello @MrZammler, this is the output:

[code]

And here's netdata.service:

[code]

[2022-10-21 19:22] okgolove commented on #9736
I got the same when I changed hostname one of my child nodes. Cloud is not enabled.

[2022-10-21 19:24] okgolove commented on #9736
Interesting, this happens because of wrong symbols in hostname. Should not Netdata check hostname using dns regex?

[2022-10-21 19:53] okgolove commented on #2516
Can I (and should I?) manage it manually if I want to keep a new machine in parent netdata with the same hostname?

[2022-10-21 20:25] tmbuthi commented on #13846
Sounds good will do

[2022-10-21 21:15] douglasparker commented on #4366
@jacekkolasa It has the left bar present in the Dashboard. I am using the official NetData Docker image.

@andrewm4894 Thank you, I will take a look at this extension!

[2022-10-22 21:35] Forza-tng opened #13865 "[Bug]: can't find virsh domain from cgroup"
### Bug description

 `cgroup-network-helper.sh` fails to get the correct domain/name for my virtual machines.

[code]

[code]

The cgroup is actually `/sys/fs/cgroup/machine/qemu-1-alpinelinux3.16.libvirt-qemu` but the shell script doesn't seem to handle the `qemu-1-` prefix. Removing it on the command line gives correct output:
[code]

### Expected behavior

Correct virsh domain should be detect

[2022-10-22 22:26] Ferroin commented on #13865
Confirmed locally with a static install of v1.36.1.

[2022-10-22 22:29] ilyam8 commented on #13865
Thanks for the report and for finding the problem, @Forza-tng. Fixed in #13866.

[2022-10-22 22:48] Forza-tng commented on #13865
That was quick!

Tested it and it looks like it works! 🐦
![Screenshot_20221023_004533](https://user-images.githubusercontent.com/68693597/197365033-6fbab40c-6604-4e89-8447-4fabcd62271c.png)

[2022-10-23 16:36] #13865 closed

[2022-10-23 23:43] thiagoftsm commented on #13726
Windows System also has metrics that needs to be added to collector:

[code]

[2022-10-24 06:56] #13527 closed

[2022-10-24 07:26] MrZammler commented on #13356
No problem @dr460nf1r3 thanks for following up!

[2022-10-24 07:46] MrZammler commented on #2516
Hi @okgolove

You can have a new netdata machine with the same hostname; assuming that their `netdata.public.unique.id`'s are different, they should not cause anything wrong.

If it's a new installation (not a full copy of the other one) Netdata will handle creating a new unique `netdata.public.unique.id`.

[2022-10-24 08:20] MrZammler opened #13870 "[Bug]: Centos 8 install fails with libjson-c error"
### Bug description

It seems in Centos 8 installation from package fails with:

[code]

This is by using kickstart even with `--stable-channel`. Static install then runs, and completes.

### Expected behavior

Should install.

### Steps to reproduce

1. Run kickstart on a clean Centos 8

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional

[2022-10-24 08:21] MrZammler commented on #13840
Can you please check your `/etc/netdata/netdata.conf` if it lists directory `/usr/lib64/netdata/conf.d` ?

Is there anything under `/usr/lib/netdata/conf.d` ?

The libdir seems to be set for `/usr/lib64`...

We've had this problem [before](https://github.com/netdata/netdata/issues/13114) it seemed then re-installing with kickstart solved the issue, although perhaps it was mostly a workaround by in

[2022-10-24 08:23] pgassmann commented on #13670
@ilyam8 thanks. looking forward to the next release. I now installed the nightly version from the edge apt repository.

Why is the nightly version lower than the current release? `v1.36.0-257-nightly`
our systems do automatically update apt packages.

[2022-10-24 09:10] ktsaou commented on #13753
Is it still crashing?

[2022-10-24 09:17] okgolove commented on #2516
If I set the same hostname I got two nodes with the same hostname on parent netdata: one offline (old) with old metrics and one live (new) with new metrics. Is there a possibility to "merge" it?

[2022-10-24 09:23] MrZammler commented on #2516
Not easily I'm afraid, if not at all. The parent netdata will keep separate metric databases for those two, since their id's are different.

[2022-10-24 11:06] ilyam8 commented on #13716
@cakrit will check today, downloading windows11...

[2022-10-24 12:26] Ferroin commented on #13870
For _actual_ CentOS 8 (not Stream), this is largely expected. It stopped getting updates nine months ago, and we do not support it at all.

For CentOS _Stream_ 8, this may or may not be the case, but we officially do not try to support CentOS Stream (we target RHEL/Alma/Rocky, but not CentOS these days).

[2022-10-24 12:44] Dim-P opened #13872 "[Bug]: Segmentation fault using static builds on Raspbian 11 (32-bit)"
### Bug description

When installing the latest nightly on a 32-bit Raspbian, the agent keeps restarting and hitting a segmentation fault.

### Expected behavior

Not to crash.

### Steps to reproduce

Install `netdata v1.36.0-257-g19f023c11` on a 32-bit Raspbian using a static build (default on Raspberry Pi).

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[2022-10-24 12:58] ilyam8 commented on #13716
@cakrit I went with just replacing `hostname` in the URL host.

[code]

[2022-10-24 13:10] #13716 closed

[2022-10-24 13:17] #13682 closed

[2022-10-24 13:50] tmbuthi commented on #13846
1. To Install I used the kickstart.sh
2. System Info

# Linux
[tmbuthi@webrelease01 ~]$ uname -a; grep -HvE "^#|URL" /etc/*release
Linux webrelease01.alertinnovation.com 3.10.0-957.1.3.el7.x86_64 #1 SMP Thu Nov 29 14:49:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
/etc/centos-release:CentOS Linux release 7.6.1810 (Core)
/etc/os-release:NAME="CentOS Linux"
/etc/os-release:VERSION="7 (Core)"
/etc/os-r

[2022-10-24 13:53] Dim-P commented on #13820
@thiagoftsm I've noticed that too when building from source on my RPi 32-bit, however I am removing the `bug` label since it builds fine (and the users actually shouldn't build from source, but rather use the static builds by default - that's the officially supported way on RPis AFAIK). I will have a look if we can hide them or submit an upstream PR that fixes this issue.

[2022-10-24 14:11] Dim-P commented on #13779
@Forza-tng Did you have time to check if the PR that @stelfrag mentioned above fixes the issue?

[2022-10-24 14:19] MrZammler commented on #13846
Seems similar to #13840

[2022-10-24 14:30] MrZammler commented on #13739
Most likely, it was the `--install-version 1.36.0` that caused the issue.

This requested a specific version that we did not have a package for (we have for 1.36.1 which is the latest stable), so kickstart did a static install instead.

The static install (which lives under `/opt`) will not use the cloud information under `/var/lib/netdata/cloud.d`.

[2022-10-24 14:30] #13739 closed

[2022-10-24 14:45] Dim-P commented on #13811
Maybe related: https://github.com/netdata/netdata/issues/11911

[2022-10-24 14:55] thiagoftsm commented on #13820
Thanks @Dim-P !

[2022-10-24 16:35] #13768 closed

[2022-10-24 16:38] blackketter commented on #13872
Seeing this on Raspbian GNU/Linux 10 (buster) too...

[2022-10-24 17:35] ebiagi commented on #13830
Sorry for the late answer, I've upgraded to the v1.36.0-257-nightly but I've also uninstalled and reconfigured the parent host, the problem disappeared.
I've tried to raise some alarms from one or two of the child hosts by stopping some services, the parent reports the alarm correctly but then the CPU is not touched anymore.
I don't know if it's due to a configuration error, I've applied the previ

[2022-10-24 17:53] Dim-P commented on #13830
@ebiagi Glad to hear it's resolved now, we will keep monitoring this internally to see if it happens on any of our parent - children setups. I am closing this now since it's not an issue anymore, but please prompt us if it occurs again so we can reopen it (or open a new ticket yourself).

[2022-10-24 17:53] #13830 closed

[2022-10-24 17:53] MrZammler commented on #13830
Hi @ebiagi thank you very much for the follow up.

There have been some changes since v1.34.0-202-nightly most likely something was fixed by now.

[2022-10-24 17:55] Dim-P commented on #13872
@blackketter We know what's causing this and we are on it, seems like it happens only with static builds, so an immediate workaround is to build Netdata locally (I think this would make it work without the agent crashing).

[2022-10-24 18:00] blackketter commented on #13872
Thanks.  I can wait if it's likely to be fixed in the next nightly, but happy to try to build locally if that would help you.

[2022-10-24 18:06] ilyam8 commented on #13872
Switching to local builds can be problematic because it takes a lot of time, CPU, and memory resources to build Netdata with ML and Cloud support on a Raspberry Pi device.

[2022-10-24 18:13] cakrit commented on #13716
I really think that it will be confusing in the overview screen, if we leave the job name like this. We can't group by URL.
Can you make the name hostname as well and put the result of the command there too?

[2022-10-24 18:13] cakrit commented on #13716
BTW I haven't yet tested it, will do so tomorrow.

[2022-10-24 19:53] tmbuthi commented on #13846
I just tried the steps you suggested in https://github.com/netdata/netdata/issues/13840 and the directory /usr/lib/netdata does not exist. Neither does /usr/lib64/netdata

[2022-10-25 00:29] Dim-P commented on #12659
@Ferroin what's the plan of action here?

I can see 3 possible solutions to eventually close this one:

1. Make a PR now to remove `--install` support in next week's release.
2. Add a final deprecation warning in the release notes of next week's release and remove `--install` one release after the next one.
3. Leave it as is and remove `--install` support when Netdata v2.0.0 gets released.

Though

[2022-10-25 11:33] #13860 closed

[2022-10-25 11:40] Ferroin commented on #12659
I had originally been planning on option 2, but option 3 is probably the better approach. That said, if we’re still planning on the next release being 2.0, then options 2 and 3 are equivalent.

[2022-10-25 12:01] MrZammler commented on #13846
@tmbuthi

Can you please run the kickstart script again, and provide it's output?

Also can you do a `yum repolist enabled` ?

[2022-10-25 13:13] #13820 closed

[2022-10-25 14:24] #13872 closed

[2022-10-25 15:43] MrZammler commented on #13872
@blackketter Hi! Could tell us please if the problem is fixed for you with tommorow's nightly ?

Thanks!

[2022-10-25 22:27] Forza-tng commented on #13779
Yes, so far i haven't seennany more issues :)

[2022-10-26 02:05] blackketter commented on #13872
We seem to be back in business.  Thanks so much for the fast turnaround.

[2022-10-26 09:33] MrZammler commented on #13779
Thank you for your follow up! Closing this then, if any issues pop up, please let us know!

[2022-10-26 09:33] #13779 closed

[2022-10-26 09:41] MrZammler commented on #13840
Hi @ndsda similar as I asked on the other thread.

Can you please run the kickstart script again and provide the full output (and the parameters to the script). Thanks!

Also if possible (before the kickstart run) the output of `yum repolist enabled` ?

[2022-10-26 11:43] ndsda commented on #13840
Here's the repo list:

[code]

And here's the output when I run `wget -O /tmp/netdata-kickstart.sh my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --non-interactive`

[code]

[2022-10-26 11:54] MrZammler commented on #13840
Thanks @ndsda

One more thing please, can you do a `yum whatprovides netdata` and a `yum list installed | grep netdata` ?

Most likely your current package installed is provided by another repository than ours.

[2022-10-26 12:28] shyamvalsan opened #13888 "[Bug]: Cassandra latency values don't match expectation"
### Bug description

There appears to be a discrepancy in how latency is measured in the new Cassandra collector.

Cassandra collector reports latency in seconds, see below for read latency shown as 10 seconds

![image](https://user-images.githubusercontent.com/24860547/198024968-31ab88ff-2806-44b5-ae48-aa4f1af71cba.png)

However, the reported time period was when I was running cassandra-stress to

[2022-10-26 12:33] ilyam8 commented on #13888
@shyamvalsan I think you missed the difference between total latency (all requests) vs a request min/max/avg latency.

[2022-10-26 12:43] shyamvalsan commented on #13888
Hmm - in that case maybe we are querying the wrong metric. Not sure how useful a "TotalLatency" counter is.

org.apache.cassandra.metrics.ColumnFamily.ReadTotalLatency is a [Counter](http://metrics.dropwizard.io/2.2.0/apidocs/com/yammer/metrics/core/Counter.html) which gives the sum of all read latencies.

org.apache.cassandra.metrics.ColumnFamily.ReadLatency is a [Timer](http://metrics.dropwizard

[2022-10-26 12:50] ilyam8 commented on #13888
I think those are different metrics. I assume ClientRequest includes network latencies whether ColumnFamily does not.

Maybe, not a Cassandra specialist. ClientRequest's been taken because of https://www.datadoghq.com/blog/how-to-collect-cassandra-metrics/.

ColumnFamily and Table metrics are [filtered](https://github.com/netdata/go.d.plugin/blob/221262f5b5d03f2c1748b328dcac747031bd4d76/modules/ca

[2022-10-26 12:53] shyamvalsan commented on #13888
But aren't they (DD) querying both kinds of latency

![image](https://user-images.githubusercontent.com/24860547/198030597-7c66366f-ca80-437e-80f7-dc873c0f1ea7.png)

what is shown in their dashboard is definitely not the total we are querying

![image](https://user-images.githubusercontent.com/24860547/198030750-e18149d2-e846-409c-9c99-cfa445789562.png)

[2022-10-26 12:56] ndsda commented on #13840
@MrZammler thanks for your continued support with this issue! Looks like the repo switched from netdata-edge to epel

[code]

[code]

[2022-10-26 12:57] ilyam8 commented on #13888
My understanding is that it is not a different kind of latency.

- TotalLatency is the sum of read/write latencies.
- Latency is the sum of read/write requests.
-

[2022-10-26 13:00] shyamvalsan commented on #13888
So we should collect both and calculate the latency that should be displayed in chart?

[2022-10-26 13:17] ilyam8 commented on #13888
@shyamvalsan our two charts show: the total number of read/write requests and the one below it total time it took to  (let's say) process all the read/write requests.

[2022-10-26 13:25] shyamvalsan commented on #13888
What I am saying is - can we query the actual latency (not the TotalLatency)

Being able to see for example the average, 95th and 99th percentile latency is more useful than seeing TotalLatency. If we need to split read latency and write latency into separate charts then we should do that but still get the actual useful data.

[2022-10-26 14:07] tmbuthi commented on #13846
yum repolist enabled
Loaded plugins: fastestmirror
Bad id for repo: CentOS-7 - SCLo sclo, byte =   8
Bad id for repo: InfluxDB Repository - RHEL 7, byte =   8
Repository 'pd-agent' is missing name in configuration, using id
Determining fastest mirrors
 * base: atl.mirrors.clouvider.net
 * centos-sclo-rh: mirror.metrocast.net
 * centos-sclo-sclo: mirror.vtti.vt.edu
 * centos_extra: mirrors.greenmou

[2022-10-26 14:13] tmbuthi commented on #13846
systemctl status netdata
● netdata.service - Real time performance monitoring
   Loaded: loaded (/usr/lib/systemd/system/netdata.service; enabled; vendor preset: disabled)
   Active: inactive (dead) (Result: exit-code) since Mon 2022-10-24 15:48:47 EDT; 1 day 18h ago
  Process: 28042 ExecStart=/usr/sbin/netdata -P /var/run/netdata/netdata.pid -D (code=exited, status=1/FAILURE)
  Process: 28038 Exe

[2022-10-26 14:17] MrZammler commented on #13840
So, not sure how this happened, and I'm not a yum expert at all.

According to [various](https://serverfault.com/questions/476776/yum-the-same-packages-in-two-repositories-force-to-install-the-package-from-a) posts, there is a way to define from which repo to install a package.

From what I've seen, yum should pick the latest version in this case, and it would make sense that 1.36.1 would appear a

[2022-10-26 14:18] MrZammler commented on #13846
This appears to be the same as #13840 @tmbuthi do you mind if we continue there? There are also some suggestions there.

[2022-10-26 14:18] #13846 closed

[2022-10-26 14:19] jacob-linode commented on #13855
Hello @ilyam8, thanks for the help here. I seem to be having better luck with the connection string format:

`dsn: 'host=192.168.1.10 port=5432 dbname=postgres user=postgres password=Random#Password'`

Looks like that RFC doesn't allow for special characters like # in the URI format, so I will stick to the connection string.

Thanks again!

[2022-10-26 14:19] #13855 closed

[2022-10-26 14:25] ilyam8 commented on #13888
from [this blog](https://www.batey.info/cassandra-clientrequest-metrics.html) (I don't have that console tool)

<img width="886" alt="Screenshot 2022-10-26 at 17 23 07" src="https://user-images.githubusercontent.com/22274335/198052182-de192cbb-9b74-468e-aabd-c728db6eedf3.png">

average(mean), 95th, and 99th percentile latency are the latest calculated values. If we add them they will be changed if

[2022-10-26 14:59] Ferroin commented on #13840
Hmm, it’s concerning that we’re seeing this type of issue. We should be pulling in `yum-plugin-priorities` as part of setting up the repository configuration, which _should_ be causing our repo to be selected over EPEL or other repos when it comes to installing Netdata packages.

@ndsda Can you confirm if `/etc/yum.repos.d/netdata-edge.repo` contains lines defining priorities for the Netdata repos

[2022-10-26 15:17] tmbuthi commented on #13840
@MrZammler  I ran the yum remove netdata and then try to specify e.g. yum install netdata-1.36.0.165.nightly-1.el7.x86_64 and netdata installed correctly. I claimed the node so I can see the alerts on netdata cloud. But I get the message:

Make sure the netdata service is running.
The claim was successful but the agent could not be notified (0)- it requires a restart to connect to the cloud.

afte

[2022-10-26 15:25] MrZammler commented on #13840
Can you post some entries (or the whole) of `/var/log/netdata/error.log` please ?

Also it _could_ need a `systemctl daemon-reload` if a different unit is installed.

[2022-10-26 15:25] ndsda commented on #13840
@MrZammler I ran `yum remove netdata` and then `yum install netdata-1.36.0.165.nightly-1.el7.x86_64` . It installed from netdata-edge repo and started without any issues as expected.

Next, I ran `yum update netdata` and it installed `1.36.1-1.el7` from epel - then it failed to start as before.

I run `yum update` every 1st of the month. All I know is that it worked like usual on 1st Sep and this

[2022-10-26 16:02] ndsda commented on #13840
@Ferroin That worked. It installed `1.36.0.273.nightly-1.el7` from the `netdata-edge` repo.

[2022-10-26 17:00] shyamvalsan commented on #13888
My understanding is they are the average or percentile of all the requests that are received - so why would they be non-zero if there are zero requests?

[2022-10-26 17:08] ilyam8 commented on #13888
ok, we show the requests as a rate. If there are no requests rate is 0. But the mean (95th, 99th, etc) latency is not 0, because it is the mean (95th, 99th, etc) latency for all previous requests.

[2022-10-26 17:09] Ferroin commented on #13840
OK, sounds like for some reason that package was not getting pulled in automatically. That at least gives us something to look into.

[2022-10-26 17:18] shyamvalsan commented on #13888
But is that a problem - if the request rate remains at 0 for a considerable period of time then eventually all latencies will also show 0.

[2022-10-26 17:27] ilyam8 commented on #13888
No, they will not. It doesn't matter if "request rate remains at 0" because the average or any other calculated value doesn't change. Example: calculate the average of 1+2+3 today and tomorrow morning. The result doesn't change if the input doesn't change.

[2022-10-26 17:36] tmbuthi commented on #13840
@MrZammler - /var/log/netdata/error.log

`2022-10-26 15:10:03: netdata INFO  : PLUGINSD[charts.d] : thread with task id 18001 finished
2022-10-26 15:10:05: cgroup-name.sh: INFO: cgroup 'docker' is called 'docker'
2022-10-26 15:10:05: cgroup-name.sh: INFO: Running command: docker inspect --format='{{range .Config.Env}}{{println .}}{{end}}CONT_NAME={{ .Name}}' "b39ab5e4dc590d6a03dbfeb69841f744ed1c5b

[2022-10-26 19:47] #13888 closed

[2022-10-26 21:28] milindpatel63 commented on #13768
Can confirm that this is fixed, and i can use headers in my pihole. 👍

[2022-10-27 16:10] cakrit opened #13900 "[Bug]: cgroup-name.sh failure on Amazon EKS (kubernetes)"
### Bug description

We noticed that under certain conditions, the cloud kubernetes dashboard with the boxes for each container or pod fails and shows only a single container. The issue was traced to the lack of k8s_* labels from the cgroups collector. The root cause is the inability of [cgroup-name.sh to retrieve the container metadata from the kubernetes API](https://github.com/netdata/netdata/b

[2022-10-27 16:31] cakrit opened #13901 "[Feat]: Create a mechanism to warn us when a new alert is added, so we can document it"
### Problem

See https://github.com/netdata/netdata-cloud/issues/631

### Description

We need to have a way to discover missing documentation for alerts, so we can add it.

### Importance

really want

### Value proposition

Make netdata easy for newcomers

### Proposed implementation

It's trivial to write a script that gets all alert names and checks if URLs under community.netdata.cloud exist

[2022-10-27 16:39] DepomytymopeD opened #13902 "[Bug]: go.d.plugin prometheus `max_time_series` is ignored, default `3000` is used"
### Bug description

# The `max_time_series` is ignored within config.
### Issue https://github.com/netdata/netdata/issues/11504 found.
### Double checked the option is defied on the job section 🤷🏻‍♂️

With config
[code]

Getting:
[code]

### Expected behavior

The `max_time_series` used and applied to plugin.

### Steps to reproduce

- Configure netdata prometheus go plugin importer with:
[code]

[2022-10-27 17:46] ilyam8 commented on #13902
Thanks for reporting. The bug was added in https://github.com/netdata/go.d.plugin/pull/941.

[2022-10-27 18:03] #13902 closed

[2022-10-27 20:14] mikewalshchicago opened #13904 "[Bug]: netdata eBPF routines cause kernel panic/ system reboot on RHEL 8.3"
### Bug description

I have had an open case with Redhat since Oct 11th.  They are analyzing vmcore dumps from 6 machines with fresh installs of RHEL 8.3 with my base configuration deployed via ansible.  In these installs, I am only deploying 3 3rd party applications: 1. Datto RMM (AEMAgent), netdata, and splunkd.  The crashes appear to happen when the system is idle - I have run CPU and network s

[2022-10-27 20:16] mikewalshchicago commented on #13904
[netdata.conf.txt](https://github.com/netdata/netdata/files/9882834/netdata.conf.txt)

[2022-10-27 20:17] mikewalshchicago commented on #13904
The VMcores are too big to upload. I could upload them to a dropbox or just upload the dmesg if that's useful

[2022-10-27 20:18] mikewalshchicago commented on #13904
[RedhatAnalysis.txt](https://github.com/netdata/netdata/files/9882851/RedhatAnalysis.txt)

[2022-10-27 20:29] ilyam8 commented on #13904
Hi, @mikewalshchicago. Thanks for reporting the issue.

eBPF plugin is an optional component and can be disabled in netdata.conf. Look for `[plugins]` section and uncomment the line with ebpf and set it to no.

[2022-10-27 21:26] #13700 closed

[2022-10-27 21:51] thiagoftsm commented on #13904
Hello @mikewalshchicago ,

Thank you for your complete report.
In fact gcc compiler is generating some `int3` in our eBPF code. I do not have `RH8.3`, but I am trying to recreate the issue using `Alma 8.6`.

Best regards!

[2022-10-28 02:51] thiagoftsm commented on #13904
I ran during 5 consecutive hours the collector on `Alma 8.6` kernel `4.18.0-372.32.1.el8_6.x86_64` and the issue did not appear. I am also monitoring `do_sys_open` that crashed on your system.

I will continue digging tomorrow.

[2022-10-28 10:49] zyxep opened #13905 "[Feat]: node overview doesn't get updated specs, only ran on start"
### Problem

Hi,

Recently I just expanded vCPU on some of our nodes and the CPU metrics did get updated but not the overview.

### Description

As I understand it, that information is being sent went the agent is starting up, it's simply running https://github.com/netdata/netdata/blob/master/daemon/system-info.sh to get that info.

### Importance

really want

### Value proposition

I am not quit

[2022-10-28 15:50] fayak opened #13908 "[Feat]: Configure auto discovery"
### Problem

Sometimes a service being monitored by netdata crashes on our infra. From what I have understood of Netdata's behavior, once a datasource returns an error for x amount of times (I don't even know what x is), it is considered as dead and removed from netdata list of collectors. In this case, my service that crashed won't be monitored by Netdata anymore if it comes back alive after a ce

[2022-10-29 12:50] alirizaaribas-ibg commented on #10330
Nothing worked even I didn't set any custom style or install any netdata:

[code]

[2022-10-29 21:45] ilyam8 commented on #13908
Hi, @fayak 👋

What collector are you referring to? Because it is not the case, for instance, for python.d.plugin and go.d.plugin. Both of them never give up on trying to collect data, but gradually slow down attempts on consecutive data collection failures. As soon as data collection succeeds the penalty gets reset. The penalty is added for every 5th failed data collection.

<details>
<summary>Pen

[2022-10-31 10:28] MrZammler commented on #13840
@tmbuthi

There's nothing really weird in the log above. Have you tried again since? Is it running, or do you get the fails again ?

[2022-10-31 12:44] Dim-P commented on #13723
Hi @ced1check , thanks for reporting this issue and sorry for the delay in getting back to you.

I just tested this and it seems to be working find on my setup (you shouldn't need to change the mode to `CSV`, in fact, you shouldn't have to change the default configuration unless you are using a different port to expose the `/metrics` on).

Let's try to find what's wrong. Can you please confirm the

[2022-10-31 13:14] bluepuma77 commented on #13838
[code]

[2022-10-31 14:20] Dim-P commented on #13859
@nil0x42 Could you please provide the information that @ilyam8 asked for, this would help us debug the issue. Thanks!

[2022-10-31 14:55] ced1check commented on #13723
@Dim-P thanks for getting back to me on this.

I've not compiled anything for HAProxy, only installed the latest ubuntu version.

It appears to work on one of our server, while it fails like described on the other. I checked the various configuration for haproxy and netdata but couldn't find any differences.

On the server it now works I've tried many different options/settings, with no results wh

[2022-10-31 15:12] Dim-P commented on #13670
Hi @pgassmann . Do you still see this issue using the latest nightly release?

We will also soon release a new stable version (hopefully this week).

[2022-10-31 15:16] MrZammler commented on #13557
Hi @mpohle-transporeon

We're closing this for now, please let us know if this continues to be an issue for you or it was resolved.

Thanks!

[2022-10-31 15:17] Dim-P commented on #13590
@ktsaou @stelfrag Is this fixed or should we keep it open?

[2022-10-31 15:27] Dim-P commented on #13606
@xkisu Did you manage to reproduce this at your home setup? There have been several changes in the agent since you opened this (and even more significant ones coming up), so if you haven't noticed it since, I will go ahead and close it.

[2022-10-31 15:36] MrZammler commented on #13377
This is similar I guess to https://github.com/netdata/netdata/issues/13376, i.e. provide more meaningful info in the alerts. We continue there I think, ok @hugovalente-pm ?

[2022-10-31 15:42] #13377 closed

[2022-10-31 15:53] Dim-P commented on #13242
Hey @Ferroin , do we have any planes on fixing this one? Also, do we need a separate ticket for the `/var` issue?

[2022-10-31 15:59] MrZammler commented on #13226
@Ferroin do you agree we should move this to `/usr/libexec/netdata/` ? I think it's do-able, provided we take care of existing custom plugins there (do we have such?)

[2022-10-31 17:58] ilyam8 commented on #13838
@bluepuma77 I'd like to see the output after "Docker is unexpectedly restarting". The status of Netdata container is "Up 40 hours (healthy)".

[2022-10-31 18:06] Ferroin commented on #13226
Yes, we should move it, but we should keep looking in the old location as well for compatibility reasons (and maybe issue a warning if we find things there?), at least for a few releases.

[2022-10-31 18:57] ktsaou opened #13918 "[Bug]: netdata crash on start"
### Bug description

SIGSEGV

[code]

### Expected behavior

Not crash

### Steps to reproduce

1. While netdata restarts
2. Watch a dashboard on netdata cloud

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-10-31 19:02] #13590 closed

[2022-10-31 19:45] cakrit opened #13921 "[Feat]: Improve behavior of plugins on WSL1"
### Problem

We've been testing Netdata running on WSL2, where the underlying windows host's prometheus endpoint for the windows_exporter is at http://$(hostname).local:9182

We now saw that on WSL1, the underlying host is at http://$(hostname):9182, which is basically the same as http://localhost:9182 (fun eh?).

The result, when we add a job called wsl1 with the proper URL is the following:

<im

[2022-10-31 19:47] cakrit commented on #13921
Also, in both cases we'll probably want to output the correct hostname as the job name.

[2022-10-31 20:17] #13921 closed

[2022-10-31 20:26] #13918 closed

[2022-10-31 22:00] Dim-P opened #13922 "[Bug]: Attempting free on address which was not malloc()-ed (eBPF)"
### Bug description

See below:

[code]

### Expected behavior

eBPF not to crash when building with address sanitizer.

### Steps to reproduce

Install Netdata from source using the following arguments (run using address saitizer):
[code]

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-11-01 12:44] andrewm4894 commented on #13210
@Dim-P no, not related - i think we can actually close this one as things have moved on and we are using the new /weights endpoint for this.

[2022-11-01 12:44] #13210 closed, assigned to vkalintiris

[2022-11-01 13:22] stelfrag opened #13929 "[Bug]:"
### Bug description

[code]

### Expected behavior

no crash

### Steps to reproduce

No clear yet

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-11-01 16:30] cakrit opened #13933 "[Bug]: Netdata can't be shut down gracefully in WSL1"
### Bug description

Both `netdatacli shutdown-agent` and `killall netdata` just don't work and start creating a huge load on the windows machine.
Things seem to work with WSL2, but not WSL1.

### Expected behavior

Gracefully shut down netdata

### Steps to reproduce

1. Run the msi-installer from github.com/netdata/msi-installer and ensure that it installed WSL1
[code]

2. Try to kill netdata wi

[2022-11-01 16:33] cakrit commented on #13714
Closing this as https://github.com/netdata/netdata/issues/13933 is much more important.

[2022-11-01 16:33] #13714 closed

[2022-11-01 16:36] cakrit commented on #13843
We have the basic installer, but also a list of open issues in github.com/netdata/msi-installer. Closing this one.

[2022-11-01 16:36] #13843 closed

[2022-11-01 16:59] cakrit commented on #13726
Actually, I need to reopen, because having process and service monitoring disabled from the installation time is extremely problematic and unfriendly to users. We need to find a better solution.

[2022-11-01 17:04] ilyam8 commented on #13726
Taking into account that having/suggesting a predefined filter for processes and services does not look possible and collecting all processes/services metrics significantly increases CPU usage is unavoidable... I can only suggest reducing data collection frequency for processes and services. I see it is possible to [whitelist collectors during scraping](https://github.com/prometheus-community/wind

[2022-11-01 17:09] thiagoftsm commented on #13726
As I described on slack and complementing what @ilyam8 wrote, when we have they enabled, 94,6% of metrics are from `services` and `CPU`:

[code]

The `windows_exporter` disabled them by default.

[2022-11-02 03:14] ryanmerolle opened #13936 "[Feat]: Network Device GNMI Support"
### Problem

It would be nice if netdata could simplify gNMI like it has for setting up other IT monitoring.

### Description

Many network devices are starting [gNMI](https://datatracker.ietf.org/meeting/101/materials/slides-101-netconf-grpc-network-management-interface-gnmi-00) based telemetry via a gRPC based telemetry subscription and/or polling model that allows for real time or at least more

[2022-11-02 12:32] ilyam8 opened #13937 "[Bug]: negative values when removing a "percentage-of-incremental-row" dimension"
### Bug description

The dimension values become negative if:
 - remove a dimension (dimensions).
 - the chart dimensions algorithm is "percentage-of-incremental-row".

Because current total collected < the last total collected

https://github.com/netdata/netdata/blob/a581f2f647e741f7dbdbb8554996cf72b390afb1/database/rrdset.c#L1718-L1721

### Expected behavior

Not negative values

### Steps to re

[2022-11-02 13:26] #13859 closed

[2022-11-02 15:50] cakrit commented on #13726
We had an internal discussion and agreed that we will have them enabled by default, with a slower polling frequency that the other metrics, plus config options to make them even slower, if needed. The user will never see thousands of dimensions on a chart, they're already grouped.

[2022-11-02 16:06] andrewm4894 opened #13940 "[Feat]: PCA based algo for Metric Correlations"
### Problem

It would be nice/useful to have a few more algorithims/methods to use as part of the metric correlations feature.

### Description

A [PCA](https://en.wikipedia.org/wiki/Principal_component_analysis) based approach might be a nice complement since it would work in a different way (roughly by focusing on changes in the variance space instead - so might capture different 'types' of chan

[2022-11-02 21:46] ktsaou commented on #2516
On Netdata Cloud you can have them both in the same Room(s) and the overview dashboard will merge their data on the charts.

[2022-11-02 22:15] lukasmrtvy commented on #12595
@ilyam8 Hey, I am trying this change on Fedora CoreOS 36.20221029.20.1 ( Podman 4.3.0, Kernel 6.0.5, Nedata 1.36.1 ) with cgroups v2 enabled, but graphs for `CPU Throttled Runnable Periods` and  `CPU Throttled Time Duration` are 0 in both cases.
The problem is that container is actually throttled:

[code]

[2022-11-02 23:07] ilyam8 commented on #12595
Hi, @lukasmrtvy. You have very small throttling counters. These counters only accumulate over time and never decrease. The throttling charts show the per-second rate. No increase - 0 values expected. The container you show is not really throttled.

[2022-11-03 09:50] #13937 closed

[2022-11-03 14:15] ced1check commented on #13723
Thanks for the suggestion. It didn't work or even make any differences.

FWIW, we have 6 servers, and both haproxy and netdata are installed on all of them, in the exact same way.

On server 1 (where it works), I also did this:
`sudo usermod -a -G haproxy netdata`

Did the same on server 6 (the one I'm trying to activate), it's not working.

Just noticed it's working on server 3 now... which I bar

[2022-11-03 14:17] cakrit commented on #13726
Closing this, if anything new comes up, we'll see.

[2022-11-03 14:17] #13726 closed

[2022-11-03 14:25] thiagoftsm commented on #13794
I removed `bug` flag due the fact it is not an issue in our code, and I am closing the issue waiting for changes in future kernel versions.

[2022-11-03 14:25] #13794 closed

[2022-11-03 14:26] thiagoftsm commented on #13794
I forgot to mention, I used different kernel functions to set variables and they were not recognized due these functions.

[2022-11-03 15:15] cakrit commented on #13725
It's better the way it is now, we'll add virtual nodes later.

[2022-11-03 15:15] #13725 closed

[2022-11-03 15:20] okgolove commented on #2516
@ktsaou unfortunately I can't use netdata cloud and the only one setup is capable for me is having parent and multiple children.

[2022-11-03 15:34] Dim-P commented on #13723
` sudo usermod -a -G haproxy netdata` <- I don't think this is required.

In this case, it may be using the Go Prometheus collector instead of the Haproxy one. I am not sure.

I believe it's something you need to add to `haproxy.cfg` manually, at least I had to on my system.

@ilyam8 Any ideas here?

[2022-11-03 16:04] ced1check commented on #13723
Server 3 has no frontend stats section and it works fine as you can see in below screenshot.

When I ran initial tests to configure server 1, I had to run the usermod command otherwise netdata was unable to open the socket. After that I couldn't get any data out of it and gave up. The next day, to my surprise, it was working!?

Server 6 reported data with prometheus config, but there is no consist

[2022-11-04 07:12] ced1check commented on #13723
Ok, I managed to get something consistent across all 3 servers (and configured 2 others) with this:

In haproxy.cfg:

[code]

In python.d/haproxy.conf:

`socket: '/run/haproxy/admin.sock'`

It would be nice to have that plugin/module fully documented, with both python.d and go.d plugins details. I went through all kind of configuration mixes using both but nothing was working.

[2022-11-04 07:12] #13723 closed

[2022-11-04 08:04] n0099 commented on #8653
I'm encountering this issue too, for me it's delayed for 15mins and netdata version is `v1.36.0-314-nightly`

[2022-11-04 08:26] MrZammler commented on #8653
Hi @n0099

Can you describe your problem exactly? You are getting CLEARED alarms notifications after a 15 min delay ?

On the alert you have this problem, does it's configuration have a [delay](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-delay) ?

[2022-11-04 08:52] MrZammler commented on #13933
Hi!

Just did a local build of master Netdata inside an Ubuntu running on wsl1, it appears shutdown either with `netdatacli` or `killall` works ok.

Will try using the installer.

[2022-11-04 10:05] MrZammler commented on #13933
Do we have an `error.log` from an affected system? Seems installer is currently not working...

[2022-11-04 10:24] Dim-P commented on #13723
@ced1check Good to hear you got it sorted in the end, although I'm still not sure what was the issue.

Just to say by taking another look at your screenshot, it seems like Server 6 uses the Prometheus Go plugin instead of the HAProxy one. We are probably going to deprecate the HAProxy plugin in the future in favour of the Prometheus one.

[2022-11-04 10:27] Dim-P commented on #13753
@RaitoBezarius Do you still see crashes with the recent nightlies?

[2022-11-04 10:33] Dim-P commented on #7857
@Ferroin Is this still an issue?

[2022-11-04 12:56] MrZammler commented on #13933
I've imported as @Ferroin our image into wsl1, and indeed there is issue. It seems there is problem stopping threads, will investigate...

[2022-11-04 13:17] Ferroin commented on #7857
Yes, but the cleanup of the spec file being done as part of https://github.com/netdata/netdata/pull/13927 should fix it.

[2022-11-04 15:55] bluepuma77 commented on #13838
On my bare metal server netdata is still restarting, latest 12 hours ago. I tried to reproduce it on a VM by continuously creating and removing dummy containers ever 0-65 seconds, but netdata is stable for 48 hours.

[2022-11-04 16:20] ilyam8 commented on #13838
The only lines that indicate a problem I found are

[code]

[2022-11-04 17:51] n0099 commented on #8653
Yes, but I'm not sure that will it always be waiting for 15mins since this server have only alarmed two times till now.

They are built-in alarms so how can I figure out its default config?

[2022-11-04 18:45] MrZammler commented on #8653
Most likely the configuration files for the alerts should be in `/usr/lib/netdata/conf.d/health.d/`

What is the alert that is firing?

[2022-11-05 12:58] n0099 commented on #8653
I've just done some pressure tests on the server, all these alarms had notified me via the browser push notification:
![image](https://user-images.githubusercontent.com/13030387/200120337-005f1015-ea5d-44ab-a11e-5ae05fafbe75.png)
![image](https://user-images.githubusercontent.com/13030387/200120330-ac6b6dda-f809-4792-9d8d-90e6597a2d2e.png)

But only the `system.ram` and `memory.available` alarms h

[2022-11-05 13:00] n0099 commented on #8653
The `/usr/lib/netdata/conf.d/health.d/ram.conf` file have these lines:
![image](https://user-images.githubusercontent.com/13030387/200121111-2545df9f-8814-450f-9791-a87e842ce57d.png)

[2022-11-07 07:24] MrZammler commented on #8653
Hi @n0099

You can remove, or decrease the down delay, by creating a custom copy of this alert for your system.

In `/etc/netdata/`, try running `sudo ./edit-config health.d/ram.conf`. This will open an editor, edit the `down 15m` to e.g. `down 1m` and restart Netdata.

Cleared `ram_available` alerts should then send a notification after 1m.

[2022-11-07 08:28] n0099 commented on #8653
Thanks, but how can I let other alarms to notify through `custom_sender()`? Currently only system.ram and memory.available will.

[2022-11-07 10:33] NotSqrt opened #13949 "[Bug]: prometheus_remote_write + https does not graceful handle end of keep-alive connection"
### Bug description

When exporting data with `prometheus_remote_write + https` (and potentially other exports with https), the connection is typically kept alive.
When a connection timeout occurs (for instance, with nginx, after a defined number of requests), the connection is closed (expected) but some data is lost (even with `buffer on failures` and a short timeout): in my case, with `update ev

[2022-11-07 11:06] amalkov opened #13950 "[Feat]: Add Functions capability"
### Problem
After introducing the Functions feature we need to know that the Agent support this or not

### Description

Epic: https://github.com/netdata/netdata-cloud/issues/602
Initial implementation (BE): https://github.com/netdata/cloud-backend/issues/380

### Importance
really want

### Value proposition
We would be able to know upfront do we need to make a call to get a list of all available

[2022-11-07 12:08] papazach commented on #13950
From cloud-be side, after agreeing on the actual capability name - mentioning this since I know that @underhood is a fan of small capability names [maybe `funcs` ?] - we should not have a lot to actually do given that the mechanism is already in place.

So those new capabilities should be present in the `api/v2/spaces/{spaceID}/rooms/{roomID}/nodes` response and the front-end could use them to fil

[2022-11-07 12:32] #8594 closed

[2022-11-07 12:39] k0ste commented on #8594
Also, who will be looking for complete smartctl solution (HDD, NVMe) - we was releases couple of weeks ago at https://github.com/prometheus-community/smartctl_exporter/pull/87, the stable [smartctl_exporter](https://github.com/prometheus-community/smartctl_exporter)

[2022-11-07 16:35] amalkov opened #13952 "[Bug]: Unable to install Netdata on Mac"
### Bug description

[code]

### Expected behavior

Expected no errors

### Steps to reproduce

1. Go to netdata.cloud
2. Navigate to the room
3. Go to Nodes tab
4. Press "Add Nodes"
5. Go to "Mac OS" tab
6. Copy the command
7. Execute
[code]

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

FYI: @Ferroin

[2022-11-07 18:03] xkisu commented on #13606
Sorry for the delay - yeah I've managed to reproduce it a few times in the last 2-3 weeks, both on my homelab and on another client's servers using the latest nightly agent builds. Every time it's happened after something completely different though so I've not been able to reliably reproduce it or capture a snapshot.

Sometimes it happens from an agent restart, sometimes from a config change, and

[2022-11-07 18:06] ktsaou commented on #2516
@okgolove Oh! I see. Is this a company wide policy to not use SaaS or something else we probably miss?

Generally, Netdata Cloud stores in its databases just a few metadata about your infrastructure (the nodes you have, the metrics they collect, the retention of the metrics collected, etc). No sensitive business or technical information is collected or stored. Not even the metrics data. All the me

[2022-11-08 04:29] douglasparker commented on #4366
Any updates on this? Can we have this issue reopened?

I don't particularly like using extensions from developers that I do not know.

[2022-11-08 08:04] andrewm4894 commented on #4366
Relabeling and renaming and reopening. @hugovalente-pm I think we maybe need to do an investigation here. @jacekkolasa had a quick look but i think maybe we need to get it more formally onto the FE teams radar probably.

[2022-11-08 10:38] MrZammler commented on #13952
Alex hi!

Is it possible to share the complete output of the procedure? Or @vkalintiris I remember you had problem with it as well. I assume #13854 has caused the issue, but on a quick test here I see:

[code]

So eventually it set's up those and compile succeeds, but something fails in other cases...

[2022-11-08 11:04] MrZammler commented on #13952
Ok, kickstart installs `autoconf-archive` & `autogen`, with those `AX_COMPILER_VENDOR` is resolved, but there is no `llvm-ar` & `llvm-ranlib` on mac.

[2022-11-09 05:22] okgolove commented on #2516
@ktsaou first of all the company doesn't want to be dependent on cloud solutions which is not managed by us at all. As an example I can give your temporary free cloud plan. Currently it has unlimited notification integrations, but who knows what will happen as soon as paid plan arrives. And this is only one example.

I don't mean you cloud solution is bad, I think this is a cool feature (especiall

[2022-11-09 09:25] pablorf-dev opened #13963 "[Bug]: Prometheus metric name for counters is different between remote write and pull export on 'as-collected`"
### Bug description

When using prometheus remote with data source as 'raw' or 'as-collected', counter metrics are not suffixed with 'total', which leads to have different metrics depending on the scraping method on a prometheus instance

### Expected behavior

Both pull & remote write prometheus scraped metrics should have the same metric names

### Steps to reproduce

1. Set up a prometheus inst

[2022-11-09 10:03] hugovalente-pm commented on #4366
thanks for bringing this to my attention @andrewm4894.

I know we have plans to replace the local Agent dashboard so that Netdata Cloud UI dashboard will be providing the dashboard experience on the agent. we don't know yet when this will happen so wanted to get also @novykh and @amalkov 👀 and opinion on this one

[2022-11-09 13:23] garinichsan opened #13964 "[Bug]: ACLK-available-is-false"
### Bug description

Cannot connect node to Netdata Cloud.
I was able to "claim" this done, but it is showing as unavailable in the netdata.cloud console.

### Expected behavior

Visualize node through Netdata Cloud.

### Steps to reproduce

1. Installed netdata
2. ran claim script from netdata.cloud

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

#

[2022-11-09 13:51] MrZammler commented on #13964
Hi @garinichsan thank you for the report, we will look into it asap.

Could you please send the error.log to manolis@netdata.cloud ?

Thanks.

[2022-11-09 14:43] zyxep opened #13965 "[Feat]: expand postfix collector with postfix_exporter"
### Problem

the current collector only shows queue of postfix, nothing else.

### Description

There are so many more information within postfix that is relevant when running a large mail server setup.
there I have personally found https://github.com/kumina/postfix_exporter which look into postfix to generate more metrics.
With the help of https://grafana.com/grafana/dashboards/10013-postfix/ das

[2022-11-09 17:12] mx2k commented on #9614
Syno stores os-release info in /etc/VERSION, not /etc/os-release. No idea how to mount that to docker so Netdata displays the actual OS info instead of N/A. I have not gotten this to work anyhow, so I just commented out the os-release mount and live without that info for now.

[code]
This volume mount doesn't throw the os-release error on container start. However, netdata still does not read the O

[2022-11-09 17:41] andrewm4894 opened #13967 "[Bug]: `/weights` endpoint seems to return a lot less when `options=raw,anomaly-bit` vs `options=raw`"
### Bug description

full discussion here: https://netdata-cloud.slack.com/archives/C01UDJ0C6MQ/p1668014725494349

for some reason when we try and run the MC ks2 algo on the anomaly bits instead of the raw metrics we are getting back a lot less metrics than expected.

example 1 "run ks2 but do it on anomaly bits": https://newyork.my-netdata.io/api/v1/weights?method=ks2&options=raw,anomaly-bit

exa

[2022-11-09 19:13] willman42 opened #13969 "[Bug]: Inline comment in streams.conf breaks API key verification"
### Bug description

In `stream.conf` (most likely all configs but I haven't tested any others) if you put a comment at the end of the `[API_KEY]` line (as if to help the admin remember which node(s) this API key serves), it appears to cause the Netdata master node to improperly handle API key verification from sending slave nodes. Example:

```[5245b480-4ad6-48fb-847f-3a7f43b779f1] # lab-server01

[2022-11-09 19:30] ilyam8 commented on #13969
Hi, @willman42. You are right. Inline comments are not allowed/supported. It is known and not a bug.

There is even an [open feature requests](https://github.com/netdata/netdata/issues/12924) for adding them (it is "netdata.conf", but "stream.conf" is the same format).

[2022-11-09 19:34] willman42 commented on #13969
Oops! My bad. I did a search for `is:issue`, not thinking this could already be a feature request... Sorry for the noise.

[2022-11-09 19:38] ilyam8 commented on #13969
No problem, now we are 2 people who are waiting for this 😄

[2022-11-09 19:38] #13969 closed

[2022-11-10 08:51] MrZammler commented on #13964
Hi @garinichsan

Just to check whether this is a Netdata problem, or a system one, is the machine there in general in ok shape, is it updated, does it show any other network issues? Are you perhaps behind a very restrictive firewall ? What does `curl https://api.netdata.cloud` from that machine?

Thanks

[2022-11-10 11:25] andrewm4894 opened #13972 "[Bug]: I enabled prometheus collector but it does not seem to be doing ML on the metrics."
### Bug description

I enabled some prometheus data collection like this.

Pulling from the [Prometheus demo site](https://demo.do.prometheus.io/) node exporter [endpoint](https://node.demo.do.prometheus.io/metrics):

[code]

I can see all the expected prometheus metrics in netdata but they dont seem to be getting picked up for training for ML for the native anomaly detection within Netdata.

###

[2022-11-10 13:14] Mr4lci opened #13973 "[Bug]: Opsgenie - Alerts when 'to: silent'"
### Bug description

Alerts are send when it's been configured 'to silent' for 3rd party alerting system on our side we're using Opsgenie.

On the mail side it's seems doing it fine and respects the statement 'to: silent'

Is there something going wrong that doesn't parse it for 3rd party alerting system(s)

### Expected behavior

'To silent' must be applied for 3rd party alerting systems. We have

[2022-11-10 16:23] lds-lds opened #13976 "[Bug]: lost lxd conteneurs in dashboard"
### Bug description

Hello
since today I no longer see my lxd containers in the netdadta dashboard

my system is
- ubuntu focal
- lxd 4.0.9
- netdata v1.36.0-333-g6b62c18d9

### Expected behavior

view my container in dashboard

### Steps to reproduce

unknow

### Installation method

kickstart-static64.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-11-10 17:12] vlvkobal commented on #13976
Please provide path/name for lxd containers that disappeared from the dashboard.

[2022-11-10 17:13] MrZammler commented on #13973
Hi @Mr4lci thank you for your report, we will look into it!

[2022-11-10 17:16] ilyam8 commented on #13976
And let's see cgroup related logs

[code]

[2022-11-10 17:22] cakrit commented on #13976
Just to be sure, you are talking about the agent UI, not the cloud, correct?
Because I just responded to https://community.netdata.cloud/t/docker-containers-visible-in-agent-web-ui-but-not-netdata-cloud/959/5 about something similar, but it's specific to the change done in the single node view in the cloud

[2022-11-10 17:26] lds-lds commented on #13976
agent ui (blabla.bla.com:19999) and the cloud

[2022-11-10 17:31] lds-lds commented on #13976
@ilyam8
Just INFO in grep -i cgroup /opt/netdata/var/log/netdata/error.log no ERRORS
I can't copy paste the result, it's private data, sorry

[2022-11-10 17:35] lds-lds commented on #13976
@ilyam8

here  an anonymized log entry

2022-11-10 18:20:25: cgroup-name.sh: INFO: cgroup 'lxc.payload.xxxxxxxxxxxxxxx' is called 'xxxxxxxxxxxxxxx'
2022-11-10 18:20:25: /opt/netdata/usr/libexec/netdata/plugins.d/cgroup-network INFO  : MAIN : running: exec /opt/netdata/usr/libexec/netdata/plugins.d/cgroup-network-helper.sh --cgroup '/sys/fs
/cgroup/cpu,cpuacct/lxc.payload.xxxxxxxxxxxxxxx'
2022-11-1

[2022-11-10 20:19] dfpr commented on #13933
I've just tested this but `killall netdata` still goes to max cpu usage using WSL1, I used the latest docker image, could it be the change would be applied tomorrow?

[2022-11-10 22:46] SteveHH72 opened #13979 "[Bug]: raspberrypi is "unseen" at netdata cloud"
### Bug description

I installed Netdata at my Raspi to monitor it in the netdata cloud.
In the Netdata Cloud i see the raspi but it's "Unseen".
In my Opinion the Raspi connected to the Netdata Cloud but after this they can't exchange data - but why ?

I follow all points at Troubleshoot Agent-Cloud connectivity issues - all things are OK.
Here are all outputs of the Troubleshoot-Hints - perhaps Y

[2022-11-11 05:53] garinichsan commented on #13964
That may be the case. The machine is behind my university's firewall. Is there any port that I have to open to the public? So I can request my university to allow it.

the result is `default backend - 404`

Thanks!

[2022-11-11 08:12] #13963 closed

[2022-11-11 08:15] MrZammler commented on #13979
Hi @SteveHH72

Can you please share your `/var/log/error.log` to `manolis@netdata.cloud` ?

Thank you!

[2022-11-11 10:58] sashwathn opened #13982 "[Feat]: Add NGINX Plus metrics to our NGINX collector"
### Problem

Our current NGINX collector only collects metrics from the open source NGINX deployments and this should be extended to also collect metrics from NGINX plus which readily provides additional metrics.

### Description

NGINX Plus provides all the metrics available from NGINX and in addition some key metrics. NGINX Plus provides a JSON feed with much richer data. Read the companion post

[2022-11-11 12:04] Ferroin commented on #13933
It should be in the current latest Docker image. They only get published once a day at around 01:00 UTC.

[2022-11-11 12:21] ilyam8 commented on #13982
@sashwathn it is paid, how do you expect us to implement it?

[2022-11-11 12:58] MrZammler commented on #13964
Hi @garinichsan

You can check [this](https://learn.netdata.cloud/guides/troubleshoot/troubleshooting-agent-with-cloud-connection) regarding some info on troubleshooting the connection. I'm not sure there's need to open a specific port, as much maybe check if needed domains in that doc are permitted in general.

[2022-11-11 14:38] amalkov commented on #13952
@MrZammler sorry for the delay, still the same issue.

[code]

[2022-11-11 15:01] sashwathn commented on #13982
I will get a subscription for us to implement this.

On Fri, Nov 11, 2022 at 5:52 PM Ilya Mashchenko ***@***.***>
wrote:

[2022-11-11 15:03] sashwathn commented on #13982
@ilyam8 : We can get a 1 month free trial for NGINX Plus. Will that be sufficient for our implementation?

[2022-11-11 15:14] ktsaou commented on #13950
@underhood this would be nice to have before the release. Is it something simple for you to do today?

[2022-11-11 23:16] ktsaou opened #13984 "[Bug]: ACLK/Cloud problems with 62 children"
### Bug description

## Problem 1 - ACLK disconnecting while working

[code]

## Problem 2 - Too much traffic

In the following image we see the traffic required to view an overview dashboard with all 62 nodes in it. Netdata Agents sends more than 10 Mbps of traffic to the cloud.

![image](https://user-images.githubusercontent.com/2662304/201443788-e55a8a28-58c6-4811-be33-b690d6dff06c.png)

Our in

[2022-11-12 06:50] AvMavs commented on #13709
It worked for me, thank you! I don't have any issues now!

[2022-11-12 17:31] shodanshok opened #13986 "[Feat]: Show which guest is using most resources"
### Problem

It is currently difficult to identify which guests, from the ones running, is consuming resources.

### Description

As stated above, it is currently difficult to identify which guests, from the ones running, is consuming resources. Take, for example, this graph:

![screenshot](https://user-images.githubusercontent.com/13137622/201486666-031cb4f1-b4cd-4a3c-b3b3-a26c513dbda2.JPG)

One

[2022-11-14 07:10] MrZammler commented on #13933
Hi @dfpr

Have you perhaps tried a more recent nightly?

[2022-11-14 08:16] MrZammler commented on #13952
Alex hi, can you please do a `brew update` followed by a `brew upgrade` and then try again ?

[2022-11-14 08:17] vkalintiris commented on #13952
FWIW, I can build the agent without any problems from origin/master.

[2022-11-14 09:57] MrZammler commented on #13952
Thanks Vasili.

Alex, can you check the output of `which ar` and `which ranlib` ?

[2022-11-14 12:45] dfpr commented on #13933
@MrZammler I tried last Friday and still had the issue, I'll try again today.

[2022-11-14 12:53] pcm32 opened #13994 "[Bug]: Netdata through helm setup doesn't start on k8s"
### Bug description

After executing:

[code]

as instructed by the netdata room page, the pods never reach readiness and keep restarting:

[code]

and all nodes appear offline on the netdata cloud UI. Please note that netdata-parent iterates between ready and not ready.

netdata-k8s-state tends to fail with:

[code]
and
[code]

netdata-parent fails with:
[code]

and it shows readiness and livenes

[2022-11-14 14:09] aarushisoni commented on #13994
Hi! I would like to contribute to this issue.

[2022-11-14 14:11] aarushisoni commented on #13986
I want to contribute to this issue . Kindly guide me .

[2022-11-14 14:28] andrewm4894 commented on #13986
Thanks @shodanshok and @aarushisoni. @MrZammler or @stelfrag any idea if this actually could be a good example use case for the new "functions" functionality.

More info on the functions functionality can be seen [here](https://github.com/netdata/netdata-cloud/issues/602). Still in fairly early development/conception but this issue seemed like could be a good example use case perhaps.

[2022-11-14 14:52] Dim-P commented on #13979
@SteveHH72 In addition to the `error.log` that @MrZammler asked for, can I ask you if this is the only Netdata instance you have installed on your Raspberry Pi? Just want to make sure you haven't installed another Netdata instance in a different way (e.g. built from source or using static builds) ?

[2022-11-14 14:58] Dim-P commented on #9863
@Ferroin Is this still the case or is the updater aware of changes to `$TMPDIR` now?

[2022-11-14 15:00] Dim-P commented on #10881
Dropping this one to low priority and adding label for first time contributors, as I think it can be handled without necessarily too much knowledge about how everything else works.

[2022-11-14 15:13] Dim-P commented on #13753
@RaitoBezarius Any updates on whether you still observe any crashes?

[2022-11-14 15:49] andrewm4894 commented on #13986
@shodanshok i think there maybe is an easy way to see this in Netdata Cloud app that groups the individual charts.

For example on my node below i can see that the `airbyte-db...` and `airbyte-temporal...` containers spiked together.

![image](https://user-images.githubusercontent.com/2178292/201703712-aaa7f401-da9f-4db4-ab43-8718fa116277.png)

Is this the sort of thing you mean?

[2022-11-14 15:54] godismyjudge95 commented on #9863
Based on our server installs it is still an issue that has to be manually fixed.

[2022-11-14 15:59] shodanshok commented on #13986
@andrewm4894 yeah, something similar, but not necessarily tied to cgroup and especially not to netdata cloud.

[2022-11-14 19:42] vermaete opened #13996 "[Bug]: ./configure --without-PACKAGE ?"
### Bug description

When doing a `./configure --without-health` or `--without-perf` the configure script it failing with

[code]
or

[code]

(well, the output comes from the do_configure step in Yocto)

Could it be the --help info of `./configure` is wrong or generated wrong with the autotools?

[code]

or is e.g. perf not a package?

### Expected behavior

I guess something not clear for me in t

[2022-11-15 01:49] thiagoftsm commented on #13996
Hello @vermaete ,

The `perf` is an internal plugin of netdata, while `health` is our notification thread, this is the motive you cannot disable both with the flags you are using.

Best regards!

[2022-11-15 01:56] thiagoftsm commented on #13996
An additional information, you can take a look in the available options looking for `--with-` in [this](https://github.com/netdata/netdata/blob/master/configure.ac) file.

[2022-11-15 02:49] Dim-P commented on #9863
Thanks for the update @godismyjudge95 .

[2022-11-15 07:36] MrZammler commented on #8653
Hi @n0099

You can do the same check for the other alerts (not all of them have this option), and adjust as needed.

[2022-11-15 07:42] MrZammler commented on #13838
Hi @bluepuma77

Can you try in your `netdata.conf` to change the option of `dbengine page cache with malloc` from `no` to `yes` ?

[2022-11-15 09:58] fayak commented on #13908
Hello @ilyam8 !

Sorry for the delay in the response.

In this case my deductions are wrong, but observed multiple times custom plugins under python.d.plugin that got disabled, likely because the plugin failed a few times, or because the underlying service died for some time.

It happened to us a few times, and we didn't have much more information than that :/ Since it's not very frequent, and we

[2022-11-15 14:11] lds-lds commented on #13976
@vlvkobal
Hello :)
have you been able to progress on the correction of this bug because it is a real big problem for us

[2022-11-15 15:11] ilyam8 commented on #13976
Hi, @lds-lds. The log lines you shared have no indication of any problem. What dashboard are you referring to? Cloud UI or local dashboard (accessible via 19999).

[2022-11-15 15:26] andrewm4894 commented on #13972
@vkalintiris i think this one could potentially be a bug or something - could there be some reason that new charts and dims coming from enabling Prometheus exporter might not be getting picked up by ml for training and inference?

[2022-11-15 17:45] n0099 commented on #8653
What checks? for example in the `ram.available` alarm above:
![image](https://user-images.githubusercontent.com/13030387/200121111-2545df9f-8814-450f-9791-a87e842ce57d.png)
which prop defined the behavior of sending notification to `custom_sender()`?

[2022-11-15 21:05] #13950 closed

[2022-11-16 14:17] #13984 closed

[2022-11-16 15:01] MrZammler commented on #13994
Hi @pcm32

Thanks for the report.

So is `Executing /usr/libexec/netdata/plugins.d/system-info.sh` the last thing you see on the logs? Is there more after that?

[2022-11-16 15:07] MrZammler commented on #13964
Hi @garinichsan

There have been some fixes from our side as well, regarding some general connectivity issues, have you perhaps re-tried ?

[2022-11-16 16:25] pcm32 commented on #13994
I think that this is specific to using CoreOS as image for the VMs in the
k8s hosts. Moving away from CoreOS into rke2 with Ubuntu has removed this
problem. We noticed other helm charts having issues with file descriptors
(/dev/null) with CoreOS.

On Wed, 16 Nov 2022, 15:01 Emmanuel Vasilakis, ***@***.***>
wrote:

[2022-11-16 17:47] spinitron opened #14008 "[Feat]: Dont count idle disk io (e.g. raid scrub) towards health alarms"
### Problem

Some of my Debian servers do a [monthly RAID scrub](https://raid.wiki.kernel.org/index.php/Scrubbing_the_drives) that triggers alarms from Netdata disk.util health check. The kernel does the scrub so I trust it to schedule that io at idle priority. And I observe no impact on performance of anything else the system does. So it's not a problem that the device is at 100% utilization for

[2022-11-16 20:09] bluepuma77 commented on #13838
@MrZammler I am running a plain `netdata` Docker container, so there is no `netdata.conf`.

I pulled latest, removed all volumes and created and started the container, then created `/etc/netdata/netdata.conf` and added this content:
[code]
Container restart was successful, lets see if the container will live longer now.

[2022-11-17 09:05] #13996 closed

[2022-11-17 09:44] garinichsan commented on #13964
Because of the long process that we have to spend to propose changes in the firewall rule to our campus, we decide to use a local monitoring system instead. That is currently enough for us.
Thank you for being so helpful.

[2022-11-17 12:43] lds-lds commented on #13976
@ilyam8
i have 19 servers with lxd
all containers disappeared from Cloud UI
everything is ok on local dashboard

[2022-11-17 12:52] lds-lds commented on #13976
I understood.
Now there is only one cgroup menu and for each entry "cpu ram etc" we can filter on the instances
So it's a reorganization of visualization
It's a big big big regression ....

[2022-11-17 14:46] mathewmeconry commented on #13964
Had the same issue.... disabling the internal IPv6 network resolved it.
I am not sure if it was my firewall or something on netdatas side. But a IPv6 connection didn't work eventho the DNS resolved to some IPv6 addresses on AWS

[2022-11-17 15:23] MrZammler commented on #13964
Indeed there have been some fixes lately related to the above, thanks @mathewmeconry .

@garinichsan feel free to try again. Also you could consider that the Netdata agent runs locally as well and is accessible through it's local dashboard if you need so.

[2022-11-18 09:34] ilyam8 commented on #14008
Hi, @spinitron.

No, it doesn't to my knowledge. Diskstats metrics come from `/proc/diskstats`. See the [stats description](https://www.kernel.org/doc/Documentation/ABI/testing/procfs-diskstats).

[code]

Disk utilization is calculated using

[2022-11-18 09:39] ilyam8 commented on #14008
I think the only solution at the moment is to use Health Management API. If monthly raid scrub is executed by a script, you can update the script like:

 - silence disk.util
 - run raid scrub
 - unsilence disk.util

See [Disable or silence specific alarms](https://learn.netdata.cloud/docs/agent/web/api/health#disable-or-silence-specific-alarms) for details.

[2022-11-18 12:51] MaxMatti opened #14016 "[Bug]: netdata crash when trying to stream from Jetson Nano to AMD64-pc"
### Bug description

After setting up streaming according to https://learn.netdata.cloud/docs/agent/streaming#configuration the parent keeps crashing as soon as the child connects to it.

### Expected behavior

No crash

### Steps to reproduce

## Child config:

* `netdata.conf`
[code]

* `stream.conf`
[code]

## Parent config:
* `netdata.conf`
[code]

* `stream.conf`
[code]

### Installation meth

[2022-11-18 13:12] spinitron commented on #14008
Thanks @ilyam8 for the answer and for netdata which I find very useful.

[2022-11-18 13:12] #14008 closed

[2022-11-18 13:19] MaxMatti commented on #14016
Child log:
[code]

Parent log:
[code]

[2022-11-18 17:21] shyamvalsan commented on #13845
Let's just:
- create a standard repo layout as @Ferroin says
- create a script (netdata-install-collector) that is packaged with the agent
- running `netdata-install-collector <url>` should download the files, copy them to the right location and restart the netdata agent.

[2022-11-19 12:59] MrAlucardDante opened #14022 "[Feat]: Don't update latest on Docker Hub everytime something is pushed to master"
### Problem

On Docker Hub, there is currently no difference between the edge and the latest tags.

Everytime there is a commit pushed to the master branch, both tags are updated.

### Description

The latest tag should point to the latest official release, and the edge tag should point to the master.

Some might even say that everytime something is pushed to master, there should be a new official

[2022-11-19 19:49] #13982 closed

[2022-11-21 07:59] papazach opened #14028 "[Feat]: Add more information regarding claiming errors"
### Problem

It seems that there are cases when the process of claiming a node to the Cloud fails and not much information is returned back to the user. For instance the following error response:

[code]

It does not provide any hints at all to the user so as to try to address it, or provide extra information upon creating a support ticket to the Netdata Cloud.

### Description

It would make sens

[2022-11-21 10:37] calvinxu commented on #13840
Hi, I met the same error when installed on redhat7.9 with the version 1.36.1-1.el7, is the bug on this version?  Anyone could share something, thanks.

netdata[78490]: Cannot change directory to '/usr/lib64/netdata/conf.d'
netdata[78490]: EXIT: netdata prepares to exit with code 1...
netdata[78490]: 2022-11-21 05:33:44: netdata FATAL : netdata : Cannot change directory to '/usr/lib64/netdata/conf.

[2022-11-21 13:28] ilyam8 commented on #11364
Added in https://github.com/netdata/go.d.plugin/pull/992

[2022-11-21 13:28] ilyam8 commented on #6730
Fixed in https://github.com/netdata/go.d.plugin/pull/992

[2022-11-21 14:16] MrZammler commented on #14016
Hi @MaxMatti thanks for the report, we will try to reproduce the issue and find the cause.

[2022-11-21 14:28] cakrit commented on #13933
@MrZammler can you check again here?

[2022-11-21 14:31] cakrit commented on #13727
It turns out that WSL can't be used in production systems. The installer is available, with a couple of issues pending for improvements, but it can only be used for dev purposes, so we can't consider this the official windows support.

The next thing we'll do other than improving the windows_exporter collector is to provide a way to show Windows nodes as nodes in the cloud, regardless of where net

[2022-11-21 14:31] #13727 closed

[2022-11-21 14:54] MrZammler commented on #6307
Hi guys!

There have been since then a lot of improvements on streaming, including compression and replication. If it's possible, please check with a more recent version to see how the issue still exists and in what extent. We would pick then up again in a new issue.

Thanks!

[2022-11-21 14:54] #6307 closed

[2022-11-21 14:54] Dim-P commented on #13952
@amalkov I can see from your logs that you tried installing using `netdata-kickstart.sh` and at that point `netdata-v1.36.0-333-g6b62c18d9` was pulled, which was the nightly release created right before the PR that fixes this issue was merged (https://github.com/netdata/netdata/pull/13959).

I believe it will be fixed if you try it now, so I am going to close it (since also @MrZammler and @vkalint

[2022-11-21 14:54] #13952 closed

[2022-11-21 15:02] MrZammler commented on #12303
There is an upcoming PR that will reduce memory usage, and will be part of the next stable release (1.37.0).

We'll close this for now and will re-evaluate the situation after the next release.

[2022-11-21 15:02] #12303 closed

[2022-11-21 15:12] Dim-P commented on #13979
@SteveHH72 Do you still have this issue or did you manage to figure out what is wrong? If it still persists, can you please share with us the logs that @MrZammler requested and also if it was the first (and only) instance of Netdata you installed on that RPi?

[2022-11-21 15:28] Dim-P commented on #13753
@RaitoBezarius No problem, thanks for the update. It would be very helpful if you share the database folder that was crashing (maybe upload it on some cloud storage service and send the link to `dpantazis[at]netdata.cloud`) , so maybe we can reproduce the issue.

Just to confirm, you mean you haven't seen any crashes since you started with a clean database?

[2022-11-21 15:54] sashwathn opened #14170 "[Bug]: The "net" section in the cgroups container is picking the wrong / random interface name"
### Bug description

The net section under cgroups (container) adds a random interface to the sub-section name (probably from one of the containers).

### Expected behavior

The sub-section should only be named generically as "net".

### Steps to reproduce

1. Create multiple containers on the system with different virtual interfaces
2. Open the Cloud dashboard and look at the cgroups container se

[2022-11-21 16:17] Mr4lci commented on #13973
Hi @MrZammler is there any news about this issue?

[2022-11-21 16:19] MrZammler commented on #13973
Not yet @Mr4lci sorry for this, will try to have an update during the week.

[2022-11-21 19:14] ilyam8 commented on #13900
We checked the issue and it was a misconfiguration problem - a lack of needed permissions to query K8s API.

[2022-11-21 19:14] #13900 closed

[2022-11-22 03:19] calvinxu commented on #13840
when installed the v1.36.0-374-nightly from kickstart.sh, it works, and I checked that the conf.d is under /usr/lib/netdata, while installed 1.36.1-1.el7, netdata folder is not existed under /usr/lib/ , and from the log, it reported:
netdata[78490]: 2022-11-21 05:33:44: netdata FATAL : netdata : Cannot change directory to '/usr/lib64/netdata/conf.d' # : No such file or directory..

This obviously

[2022-11-22 08:52] ilyam8 commented on #13840
I think that is not our package, it is https://dl.fedoraproject.org/pub/epel/7Server/x86_64/Packages/n/

[2022-11-22 17:52] Dim-P commented on #13994
Hi @pcm32 , thank you for reporting this.

I spent some time today on this issue (setting up Fedora CoreOS as a VM - not as straightforward as I thought it'd be!).

First off, a wild guess, but Kubernetes troubleshooting reports that [/usr is mounted read-only on nodes](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#usr-mounted-read-only). No idea wh

[2022-11-22 19:06] rodrigobuch opened #14036 "[Bug]: Configure Netdata Postgresql 10 and PgAgent"
### Bug description

Error in scenario with PgAgent Postgresql 10

2022-11-22 15:55:25.242 -03 [2604435] netdata@postgres ERROR:  permission denied for schema pgagent
2022-11-22 15:55:25.242 -03 [2604435] netdata@postgres STATEMENT:
        SELECT current_database()                                   as datname,
               schemaname,
               relname,
               seq_scan,

[2022-11-23 01:16] calvinxu commented on #13840
correct, sounds like issue lies in epel package, create a softlink /usr/lib64/netdata/conf.d -> /etc/netdata/conf.d get it working

[2022-11-23 05:21] c0depool commented on #13432
It will be awesome to have ntfy.sh integration available out of the box. For anyone looking for a workaround, try adding something like this in your health_alarm_notify.conf to make use of the [custom](https://learn.netdata.cloud/docs/agent/health/notifications/custom) notifications -

[code]

[2022-11-23 07:25] pcm32 commented on #13994
Yes, saw that as well. Unfortunately I stopped using that k8s setup as I was running into problems due to CoreOS on other deployments as well. So I can't check easily what you ask for :-(. But thanks for taking a look at this.

[2022-11-23 07:26] pcm32 commented on #13994
This was on an OpenStack setup, using Magnum as k8s deployer.

[2022-11-23 08:42] Forza-tng commented on #13751
Hi,

I just compiled Netdata nightly from GIT on ubuntu 22.04 and face the same issue.
[code]
[code]

[code]

Here is the output when running as root.
[code]

[2022-11-23 09:08] bluepuma77 commented on #13838
`netdata` is up and running for 6 days now, so `dbengine page cache with malloc = yes` seems to have fixed it.

@ilyam8 @MrZammler What does that mean now? Should I always include that config or will you change code or defaults?

[2022-11-23 10:30] #13691 closed

[2022-11-23 10:32] ilyam8 commented on #14036
Hi @anayrat, @benoitdm-oslandia. Can you help with this issue?

How it works. Postgres collector discovers queryable databases using [this query](https://github.com/netdata/go.d.plugin/blob/d931ae4eed39e50b1caae09284b6cc3937fc9fad/modules/postgres/queries.go#L456):

[code]

Then it creates an additional connection for every queryable database and executes:

[code]

The query fails with "permission

[2022-11-23 13:13] MrZammler commented on #13933
Yes, sorry, somehow missed that the check was with -344.

[2022-11-23 13:40] thiagoftsm commented on #13973
Hello @Mr4lci and @MrZammler ,

I was testing the alerts here and I could not recreate the issue, I ran the following tests:

1. Firstly I wrote this alert :
[code]

and the new alert has permission `644`.
2. After this I start netdata and I got expected notifications:
[code]

3. After this I stop netdata and I modified alert:
[code]
4. And after restart netdata, I got the following message:
[code

[2022-11-23 14:12] thiagoftsm commented on #13751
Hello guys,

Few days I started a rewrite of `socket` thread with this [PR}(https://github.com/netdata/kernel-collector/commit/dd759ef9b504500e56bf111f6ec96f4eb482c531),  next week I expect to finish the necessaries steps and remove completely issues you are having.

I could not recreate this issue direct on my system, neither on VM. @Forza-tng I saw that you have a `coredump` on your system ,plea

[2022-11-23 14:22] thiagoftsm commented on #13751
Quick update, I merged now the second [PR](https://github.com/netdata/ebpf-co-re/pull/31) necessary to rework socket.

My intention is to fix this issue together this https://community.netdata.cloud/t/ebpf-network-connection-chart-is-not-what-im-expecting/3500/4 another issue.

[2022-11-23 15:02] ilyam8 commented on #13973
@Mr4lci also check if `/etc/netdata/health.d/postgres.conf` is readable by `netdata` user.

[2022-11-23 16:33] andrewm4894 opened #14040 "[Feat]: `api/v1/dataframe`"
### Problem

I would like to get data from multiple charts in one simple api call to the agent.

### Description

I want to hit `api/v1/dataframe?chart_filter=apps.cpu*|apps.*mem&freq=30s&dimension_filter=ssh|cron&group=average&after=-3600&before=0&format=csv`

To get back a csv table of dimensions matching `ssh` or `cron` from all `apps.cpu*` and `apps.*mem` charts. Averaged to a frequency (`freq

[2022-11-24 08:25] anayrat commented on #14036
Maybe we should add an option to exclude database?  Thus, we could add a filter `AND datname NOT IN (...)`

[2022-11-24 08:40] ilyam8 commented on #14036
Yes, that is always an option, @anayrat. I am wondering if there is a way to automatically exclude not queryable tables/schemas, etc. Like we do for databases by checking 'connect' privilege.

[code]

[2022-11-24 08:48] anayrat commented on #14036
Indeed, it is a solution!

[2022-11-24 10:01] MrZammler commented on #13973
Tested this as well, with a custom copy of `ram.conf` on which only `ram_in_use` was set to `silent`. Have mail and slack notifications.

When set to silent, it should get `FATAL: All notification methods are disabled. Not sending notification for host '6am', chart 'system.ram' to 'silent' for 'ram_in_use' = '91' for status 'WARNING'.` as @thiagoftsm noted.

To check what @ilyam8 is mentioning, ca

[2022-11-24 10:02] Forza-tng commented on #13751
Hi,

Not sure how to analyse the crash file.  Any suggestions? This is the output from it:

[code]

[2022-11-24 12:08] thiagoftsm commented on #13751
Hello @Forza-tng ,

In normal situation I used `coredumpctl`, but considering you gave us the initial report with `/var/cash` I think in your case you need to run [these](https://askubuntu.com/questions/434431/how-can-i-read-a-crash-file-from-var-crash) commands, where `cat ExecutablePath` will be `/opt/netdata/usr/libexec/netdata/plugins.d/ebpf.plugin` .

Best regards!

[2022-11-24 12:22] Forza-tng commented on #13751
Seems there is not much debug info. Maybe I should compile netdata with debug enabled. How do I do this?

[code]

[2022-11-24 12:25] Dim-P commented on #13994
@pcm32 Thanks for the update.

Since:

1. Fedora CoreOS is not in our [list of officially support platforms](https://learn.netdata.cloud/docs/agent/packaging/platform_support).
2. You saw issues with other deployments there, so the issue isn't probably specific to Netdata.
3. You don't have the setup to reproduce it anymore.
4. And most importantly , you got it working using Ubuntu as VMs in the k

[2022-11-24 12:25] #13994 closed

[2022-11-24 16:00] andrewm4894 commented on #13967
This is still a problem.

[2022-11-24 18:09] thiagoftsm commented on #13751
Hello @Forza-tng ,

Thank you for your return.

I am assuming that you are installing on a machine that already had `netdata`. To compile `netdata` from source code, you need to run the following steps:

[code]

Any doubt, please, let us know.

[2022-11-25 08:02] Forza-tng commented on #13751
@thiagoftsm

Here is the output of `gdb /opt/netdata/usr/libexec/netdata/plugins.d/ebpf.plugin`:

[code]

[2022-11-25 14:02] thiagoftsm commented on #13751
Awesome @Forza-tng this is exactly what I was needing. :)

I merged the PR https://github.com/netdata/netdata/pull/14024 so I will start working on this :handshake: .

Best regards!

[2022-11-25 22:37] ktsaou commented on #14040
Patterns already work:

[code]

The only problem is the number of points, which you must give.
If you want averaging over 30s, give:

[code]

For this to work, `before` and `after` need to be both absolute timestamps, or relative duration. That is, don't mix absolute and relative in the same query for this calculation. Also, make sure `(before - after)` is a multiple of 30, otherwise netdata may a

[2022-11-25 22:38] ktsaou commented on #14040
btw, netdata can also produce csv with `&format=csv` (remove the `jsonwrap` option if you want it raw, without a json header).

[2022-11-27 02:48] huntson commented on #9948
Still having the same issue years later.  No one here actually solved the problem: they just decided to find ways to manually write the hostname.  Silly

[2022-11-28 09:17] shyamvalsan opened #14050 "[Feat]: Windows services should be displayed under the service name, not under WMI"
### Problem

Currently, all windows services monitored by Netdata (using WMI collector) all show up under WMI section in TOC.

This is not ideal - an application or service being monitored should be listed under its own section.

### Description

There are multiple problems of clubbing everything windows related under WMI.

1. The current limitation in terms of nested sections means that some of t

[2022-11-28 09:23] shyamvalsan opened #14051 "[Feat]: Mock collector"
### Problem

Maintaining demo spaces for every collector is expensive (especially since some of the paid services only offer short trial periods). We need a way to run the service once, collect real data and then replay it using a mock collector.

### Description

Create a mock collector that can spoof any existing collector

- While developing the collector we test it out with the real service
-

[2022-11-28 12:25] andrewm4894 commented on #14051
I think we could maybe generalized this to a notion of a "Replay" collector (which i think is what this is maybe we just try and implement it in most useful and geenral way possible) that just replays data from some saved dataset you point it at.

Such a thing could actually also be very useful for additional testing of ML code when we make changes etc where we could replay various golden datasets

[2022-11-28 12:28] Forza-tng opened #14055 "[Bug]: plugin PROC[diskspace] cannot handle mount points with non-English charaters"
### Bug description

The `diskspace` plugin fails to read the full path to a mount-point in a path containing the Swedish letter `ä`.

The error logged is
[code]
There are two NFS mounts in the path `/media/mätrum/`, but netdata doesn't see them because it can't properly parse the `ä` character.

### Expected behavior

No errors logged.

### Steps to reproduce

1. Install netdata
2. create some mo

[2022-11-28 12:35] shyamvalsan commented on #14051
Yes, we could have useful test datasets for different anomaly patterns for example, this might help us validate algorithm or design changes.

[2022-11-28 12:58] Ferroin commented on #14022
Strictly speaking, `edge` is tracking our nightly builds, not ‘every commit to master’. This is an intentional choice because building our Docker images is not computationally cheap (a full build takes about 90 minutes right now), so it’s impractical for us to build on every single commit (and it also means that we have Docker images that track our nightly builds).

As far as tracking the latest r

[2022-11-28 13:24] ilan-schemoul opened #14057 "[Bug]: WSL 2 snapshots are not working"
### Bug description

On WSL 2 everything seem to work except snapshots. Importing a snapshot that has been exported via a netdata running on a WSL instance shows all graphs as "no data" once imported. Importing it on linux or WSL has the same effect so it seems that the export function is broken not the import.

### Expected behavior

I expect the import snapshot function to show me the data inste

[2022-11-28 14:26] andrewm4894 commented on #14040
oh cool - did not realise this.

Will play with it and try use it in [`netdata-pandas`](https://github.com/netdata/netdata-pandas) instead of making lots of async calls for each chart.

Was also going to ask/explore at some stage ability to say `format=parquet` to get back an [apache parquet](https://parquet.apache.org/) file as that would be a lot smaller than sending csv or json back (i think -

[2022-11-28 14:31] andrewm4894 commented on #14040
hmm:

works:

https://london.my-netdata.io/api/v1/data?chart=system.cpu&before=0&after=-600&format=csv

does not work:

https://london.my-netdata.io/api/v1/data?chart=system.*&before=0&after=-600&format=csv

[2022-11-28 15:48] ilyam8 commented on #12824
The OP issue was fixed in https://github.com/netdata/netdata/pull/13081 (native packages)

#14058 fixes the problem for static builds

[2022-11-28 15:52] thiagoftsm commented on #14050
I will proceed with the working I am doing now with AD, and we finish it (I am missing two PRs), I will reorganize menus before to work with MS Exchange and .NET framework.

[2022-11-28 16:07] ralphm opened #14060 "[Feat]: Support `unattended-upgrades` in Debian based systems"
### Problem

When the Netdata agent is installed by the `kickstart.sh` script, it also uses the `netdata-updater.sh` script, either via a systemd timer or via cron. However, if you just install the package from the `netdata` or `netdata-edge` PPA on Debian-based systems (including Ubuntu), no automatic updates happen.

### Description

The `unattended-upgrades` package gives the administrator grea

[2022-11-28 17:05] thiagoftsm commented on #14055
Hello @Forza-tng ,

Thank you for more one report.
I created an environment to replicate this issue :

[code]

and I had success to replicate it. Today I am busy with another collector, but I already observed the following:

1. The function responsible to parse the line with UTF8 characters is called at this line https://github.com/netdata/netdata/blob/0c6181523125a4d73113c8664ed07b7dd39dd4c3/coll

[2022-11-28 17:22] Forza-tng commented on #14055
That was quick :) Thank you for explaining the issue too. It's not an urgent issue, and it is easy enough to make another mount using only US-ASCII paths.

[2022-11-28 17:31] thiagoftsm commented on #14055
All right @Forza-tng .
As soon I have an update I will bring it here.

[2022-11-28 17:32] MrAlucardDante commented on #14022
Thank you for the clarification.

I wasn't aware of the existence of the stable tag, it's buried down the list on the docker hub page. I will update my compose so it watch stable instead of the latest.

I am closing this issue