[2022-05-29 07:09] yasharne commented on #9919
The issue still persists @ilyam8

[2022-05-29 15:03] marigbede commented on #12419
I will be posting some updates soon.

[2022-05-30 08:10] iigorkarpov opened #13034 "[Bug]: Our description of manual build preparation does not correspond reality"
### Bug description

According to our [page, describing the manual build preparations](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual), the user should run

` bash <(curl -sSL https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh)`

to install the dependencies. But in fact this script does not work without specifying pa

[2022-05-30 14:36] MrZammler commented on #9358
Hi guys!

There is a recent update on this on this discussion thread -> https://github.com/netdata/netdata/discussions/12674.

[2022-05-30 14:40] MrZammler commented on #13018
Hi @Raltrwx

Yes, the leak is something we should look into. Would it be possible though for you to switch to a nightly version of Netdata (assuming this is a node you can do that) to check whether the leak still exists there? Thanks in advance!

[2022-05-31 09:48] ilyam8 commented on #9919
@netdata/agent-sre, please check https://github.com/netdata/netdata/issues/9919#issuecomment-1136795266

[2022-05-31 10:31] #12967 closed

[2022-05-31 14:59] Ferroin commented on #13029
Long term we probably want this internally anyway, as it should make finally transitioning off of PackageCloud to our own repo infrastructure much easier.

As of right now we’re just publishing the packages with the names they get given by Debian’s own package build infrastructure (`dpkg-buildpackage` and associated tooling), so it should be relatively easy to just rename them prior to upload.

[2022-05-31 15:01] Ferroin commented on #13034
Actually, you can just manually append parameters to the command line and it generally works.

We need to get rid of that damn `<()` syntax though, it only works in some shells, does not work properly with wrappers (such as `sudo` or `doas`), and makes some error types much harder to debug.

[2022-05-31 20:33] RubenKelevra opened #13043 "[Bug]: RAM usage warning via email"
### Bug description

I get a lot of ram warnings via email. The module analyzing the memory usage isn't taking the used memory of the ARC by ZFS into account - which is substantial on this machine.

Additionally, if there would be really a low memory issue on the machines the PSI (Pressure Stall Information) for the memory would be non-zero. But it is zero nearly all the time.

So it would be nice

[2022-06-01 06:50] ilyam8 commented on #13043
Hi, @RubenKelevra. This is a duplicate of #12843, fixed in #12847. Will be in the next stable release.

[2022-06-01 06:50] #13043 closed

[2022-06-01 06:55] RubenKelevra commented on #13043
Thanks for the fast response! Yeah didn't found that via the search 🤔

Thanks for fixing

[2022-06-01 08:36] ilyam8 commented on #13003
How long? The default `livenessProbe`/`readinessProbe` `timeoutSeconds` value is too small I guess, I see [it is 1 second](https://github.com/netdata/helmchart/blob/f2555ae91e70457d093c5f3b370508aa521b8a3f/charts/netdata/values.yaml#L94-L103).

[2022-06-01 11:34] Ferroin opened #13046 "[Feat]: Provide a way to automatically preserve config when doing a clean reinstall."
### Problem

The only way to change the installation method on a given system is to perform a clean reinstall. We have support for this already in the kickstart script, but some additional manual steps are required to preserve configuration.

### Description

We should have an option in the kickstart script to automatically preserve configuration when performing a clean reinstall.

### Importance

[2022-06-01 20:29] shyamvalsan opened #13050 "Re-evaluate the default value for "host anomaly rate threshold""
Currently `host anomaly rate threshold` is set to `0.01` by default.

This means that if more than 1% of dimensions are anomalous at the same time then the host itself is considered in an anomalous state.

Reasons for re-evaluation
- 1% seems a bit low, and we maybe risking background noise levels of anomaly rate triggering anomaly events
- Now that the feature has been released, we can actually a

[2022-06-01 20:44] shyamvalsan commented on #13050
From what I can see on production, in almost every case where I drill down into an anomaly rate spike (where anomaly rate < 2%) the resultant anomalous metrics are pure noise and not really telling me anything interesting.

[2022-06-01 20:46] shyamvalsan commented on #13050
Let's update `host anomaly rate threshold` to 0.02 on staging and doing a comparative study?  @vkalintiris @andrewm4894

[2022-06-02 09:47] iigorkarpov commented on #13034
Even considering what you say, our documentation is misleading, isn't it? An idea of kickstart is to make it possible for using by an inexperienced user.

[2022-06-02 10:36] #12994 closed

[2022-06-02 13:43] Ferroin opened #13057 "[Feat]: Official support for RHEL/Alma 9"
### Problem

_No response_

### Description

As stated in the title.

### Importance

blocker

### Value proposition

Required for us to officially support Alma Linux 9.

### Proposed implementation

Alma has a couple of key differences from how CentOS had been handling things, most notably that they are using a different name for their version of the PowerTools repo.

[2022-06-02 13:44] Ferroin commented on #13057
Initial package builder support expected shortly.

Proper installation support will take much longer, as it will require a number of non-trivial changes in our dependency-handling scripts.

Actual native packages will depend on how long it takes PackageCloud to pull their heads out of their arses and realize that there’s a new release they need to support...

[2022-06-02 16:55] underhood opened #13059 "[Feat]: Add bytes sent/received metric to ACLK"
### Problem

_No response_

### Description

currently, we have only metrics showing how much we add to MQTT queue but not actually how much is sent and received.
this will also be used to make ACLK react to the current situation in the future (e.g. reduce the number of messages sent if the upload is saturated etc.)

### Importance

really want

### Value proposition

1. Better monitoring
2.
3.
..

[2022-06-03 04:06] William8Work opened #13063 "[Bug]: Installation error - deal looping"
### Bug description

I tried to install netdata on my ubuntu 20.04 machine but the installation was kept looping.

In file included from ml/kmeans/dlib/dlib/all/../dnn/../matrix.h:11,
                 from ml/kmeans/dlib/dlib/all/../dnn/tensor.h:8,
                 from ml/kmeans/dlib/dlib/all/../dnn/cpu_dlib.h:9,
                 from ml/kmeans/dlib/dlib/all/../dnn/cpu_dlib.cpp:8,

[2022-06-03 12:34] ktsaou commented on #12931
Do we have any insights on the numbers of installations happening with old versions of netdata?
I think this is high priority.

[2022-06-03 14:32] cakrit opened #13068 "[Bug]: fping charts shouldn't have the hostname"
### Bug description

https://github.com/netdata/netdata/issues/12641 was closed, but the issue with `fping` remains. If the maintainer in https://github.com/schweikert/fping/pull/253 doesn't merge the PR, we should source it or find another way to handle the issue.

### Expected behavior

No hostname on fping charts

### Steps to reproduce

1.
2.
3.
...

### Installation method

kickstart.sh

###

[2022-06-03 15:48] Ferroin commented on #13029
PR is up to fix this in future packages, but we have no practical way currently to correct existing package file names on PackageCloud.

As mentioned above, we have plans in the works to move to self-hosting our repos, and if we still have any packages sitting around at that point that need their names fixed, catch them then.

[2022-06-03 16:47] cakrit opened #13069 "[Bug]: Wrong cpufreq for N6005 CPU"
### Bug description

See all details in https://github.com/netdata/netdata-cloud/issues/250
We probably need to tweak https://github.com/netdata/netdata/blob/master/daemon/system-info.sh

@realEthanZou please locate `system-info.sh` in your netdata installation, go to that dir and run `bash -x ./system-info.sh`

You can verify that the cpufreq is retrieved incorrectly there and it will help us ide

[2022-06-04 07:58] ilyam8 commented on #13069
@realEthanZou we have added several CPU freq detection fixes since v1.33.0.

The following command downloads the latest version of the `system-info.sh` script and runs it:

[code]

Try it and show the output.

[2022-06-04 10:38] andrewm4894 commented on #4813
We have this PR that maybe just needs a little bit of refactoring perhaps.

https://github.com/netdata/netdata/pull/8682

Would be really cool to try get this over this line.

[2022-06-05 01:24] ValorousSalmon commented on #13029
Excellent news! Once the new packages get published with non-colliding filenames, I don't believe the existing packages will be a problem, at least for our mirroring purposes. Thanks!

[2022-06-05 15:00] Piroro-hs opened #13071 "[Bug]: Executing kickstart.sh with --non-interactive does not affect netdata-updater.sh"
### Bug description

Executing `kickstart.sh --non-interactive` does not affect `netdata-updater.sh` script, so script still shows prompts from package managers if `[ ! -t 1]` is false. In case of CentOS 7, it shows `Is this ok [y/d/N]:` from `yum` for GPG key import and actual package upgrade.

### Expected behavior

No interactive prompt is shown.

### Steps to reproduce

1. `wget -O /tmp/netdat

[2022-06-06 08:49] shyamvalsan commented on #13050
After a few days of observing production and staging - I think it would be safe bet to update the default value `host anomaly rate threshold` to `0.02 `

thoughts? @vkalintiris @andrewm4894

[2022-06-06 08:51] vkalintiris commented on #13050
Fine by me.

[2022-06-06 10:05] #12481 closed

[2022-06-06 11:30] #13057 closed

[2022-06-06 11:36] iigorkarpov commented on #12942
@Ferroin is there a reason to send the informational output to stderr?

[code]

[2022-06-06 13:53] Ferroin opened #13078 "[Feat]: Support running the updater on a weekly schedule instead of just daily."
### Problem

For some users (especially those using stable versions or using a metered internet connection), the daily nature of our auto update support wastes resources most of the time.

### Description

We should add support for running the updater on either a daily _or_ a weekly schedule.

### Importance

nice to have

### Value proposition

1. The updater check will be less intrusive for user

[2022-06-06 14:17] stelfrag commented on #12901
Closing as this was due to unrelated corruption in host creation (in part of the code that is not in production)

[2022-06-06 14:17] #12901 closed

[2022-06-06 14:18] jinetjose opened #13079 "[Bug]: Not able to gather data from Unbound installed on a RasPi along with Pihole"
### Bug description

Unbound installed on a RasPi along with Pihole

pihole data is pulled correctly

followed this guide for setup (https://learn.netdata.cloud/guides/collect-unbound-metrics) , tried both manual and copy methods

still not able to plot the data

unbound remote control working and "sudo unbound-control -c /etc/unbound/unbound.conf stats_noreset" returns

[code]

pi-hole shows unbo

[2022-06-06 14:44] #13050 closed

[2022-06-06 14:52] ilyam8 commented on #13079
Hi, @jinetjose. Can you try the [debug mode](https://github.com/netdata/go.d.plugin/tree/master/modules/unbound#troubleshooting)?

Netdata `unbound.conf` looks wrong: I think you need to delete

[code]

[2022-06-06 15:07] Ferroin commented on #12942
@iigorkarpov Yeah, it’s just a sequencing issue AFAICT, just reordering things properly so the redirection setup is done earlier in the script should be enough to fix this properly.

[2022-06-06 19:46] ilyam8 commented on #12942
The stderr data comes from [self_update()](https://github.com/netdata/netdata/blob/1e9d602ad5e2467eaea7eb335240c46fe829d817/packaging/installer/netdata-updater.sh#L413), stdout from [update_binpkg()](https://github.com/netdata/netdata/blob/1e9d602ad5e2467eaea7eb335240c46fe829d817/packaging/installer/netdata-updater.sh#L664) (update repo metadata, update Netdata). Fixed in #13081.

[2022-06-07 00:09] jinetjose commented on #13079
ran debug after removing the earlier entry  ,debug showing failed to connect

[code]

what is going wrong ?

[2022-06-07 05:52] #13079 closed

[2022-06-07 07:48] iigorkarpov commented on #12942
I'd rather say this output produced by

[code]

[2022-06-07 08:13] thunko commented on #13003
It was something like 190s. After that services got up stable.

I still have some issues for exposing the service. Do you have any good guide for that ? the one in the instructions is not working for me.

Thanks,

[2022-06-07 10:07] #12942 closed, assigned to Ferroin, iigorkarpov, maneamarius

[2022-06-07 11:12] iigorkarpov commented on #12942
This does not resolve the issue:

[code]

[2022-06-07 11:46] Ferroin commented on #12942
@iigorkarpov Were you testing with stdout not connected to a controlling terminal or just running interactively?

[2022-06-07 11:48] iigorkarpov commented on #12942
@ferroin run-parts: /etc/cron.daily/netdata-updater exited with return code 1

[2022-06-07 11:49] Ferroin commented on #12942
If you’re manually running `run-parts` though, the individual scripts still have their output connected to the terminal you’re running from, and thus see it as an interactive run.

[2022-06-07 11:50] iigorkarpov commented on #12942
The only thing is that these messages were produced by _local_ version of the updater script. This installation is  the`edge` one. Maybe tomorrow it'll be better.

[2022-06-07 12:50] lzclff opened #13084 "[Bug]: install error: mqtt_wss_client.h No such file or directory"
### Bug description

[code]

### Expected behavior

can't install the netdata

### Steps to reproduce

1. curl -Ss 'https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh' >/tmp/install-required-packages.sh && bash /tmp/install-required-packages.sh -i netdata-all
Install all dependencies
2.install netdate error
3.
...

### Installation method

fro

[2022-06-07 13:50] DmitruMoth opened #13085 "[Bug]: adaptec_raid.chart.py does not work with netdata systemd unit"
### Bug description

Hello, i want to use arcconf utility to monitor my raid. I added `netdata ALL=(root) NOPASSWD: /usr/local/bin/arcconf` to sudoers. But there is no charts in web interface.
Log (/var/log/netdata/error.log):
[code]
I tried add to the python script more log info, seems like arcconf cant find any raid devices: `Controllers found: 0`
But if i run `arcconf getconfig 1 ld` from a nor

[2022-06-07 14:30] Ferroin opened #13086 "[Feat]: Vendor libJudy in our source tree."
### Problem

We are increasingly dependent on Judy for features and performance. However, it’s abandonware, and is not universally packaged. Right now, we’re functionally vendoring it when needed by handling things in the install script. However, this approach has a number of issues:

- Due to how our CI works, it means everything has to build successfully without Judy available, even though we al

[2022-06-08 08:33] ilyam8 commented on #13085
Hi, @DmitruMoth. You are right, the problem is CapabilityBoundSet. I don't know what specific capabilities we are missing (have no Adaptec RAID controller for tests) - if you can figure it out, please do. A working solution is to reset Netdata's Systemd unit CapabilityBoundSet - it is [described in the readme](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/adaptec_raid#r

[2022-06-08 09:14] ilyam8 commented on #13084
Hi, @lzclff. I suggest trying [Install Netdata with kickstart.sh](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart).

[2022-06-08 11:45] ilyam8 opened #13090 "[Bug]: `netdata` user is not added to desired groups when installing using native packages"
### Bug description

There is a [list of user groups](https://github.com/netdata/netdata/blob/86b979aaadbe3f2c2358f3dc76d2fcd60b51d5d4/packaging/makeself/install-or-update.sh#L107) we want `netdata` user to be added (e.g `adm` to read NGINX/Apache web server logs).

We do it when using:

 - build from the source.
 - static build.

### Expected behavior

`netdata` user is added to desired groups wh

[2022-06-08 14:26] iigorkarpov commented on #13090
This can be a tricky thing to implement. These groups will be different for different versions of different distributions. Though currently we provide relatively small set.

[2022-06-08 16:34] iigorkarpov commented on #13090
I will look at it first thing tomorrow.

[2022-06-08 23:36] ZaneA opened #13092 "[Bug]: SSL_read in streaming/receiver.c not checking for disconnection, 100% CPU"
### Bug description

When agents disconnect from a Netdata server after being connected via SSL, we found the server burning 100% of a CPU core. This happened after upgrading the Netdata server (past 1.32.x I believe), reverting back to an older version would fix things, until attempting to upgrade again. The agent version would be relatively recent (e.g. 1.34.x).

`strace` pointed to a `read` sys

[2022-06-09 06:45] tuaris opened #13093 "[Feat]: Add Data point for postfix collector "Average delay""
### Problem

Netdata's Postfix collector only offers information about the queue size by data storage and count.

### Description

I would like to have a 3rd data point: "average delay".  I want to know what's the average age of the message is sitting in the queue and have that plotted over time.

### Importance

really want

### Value proposition

1. No reason to use 3rd party outdated (Perl base

[2022-06-09 06:52] MrZammler commented on #13092
Hi @ZaneA ! Thank you for the report, we will try to reproduce and fix!

[2022-06-09 07:12] ilyam8 commented on #13093
Hi, @tuaris. Can you show `postqueue -p` (Netdata [uses it](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/postfix/postfix.chart.py)) output?

[2022-06-09 07:34] ilyam8 commented on #13069
I think this is fixed. @realEthanZou [test the latest version](https://github.com/netdata/netdata/issues/13069#issuecomment-1146562663), I will reopen and fix the issue if needed.

[2022-06-09 07:34] #13069 closed

[2022-06-09 07:41] olivluca opened #13094 "[Bug]: visited nodes empty with local registry"
### Bug description

I have configured a local registry, I see that the browser is contacting the registry url and it gets back a list of urls, but the visited nodes list is empty.
I'm now on 1.35.0 but this started a couple of versions (years?) ago, when the collapsible menu on the left was introduced.
In case it is relevant, all nodes are fronted by the same nginx host, so there is no cookie pro

[2022-06-09 08:59] iigorkarpov commented on #13090
Is this true for both RPM. and DEB? On which systems was this tested?

[2022-06-09 09:27] ilyam8 commented on #13090
Debian 11.

[2022-06-09 09:28] iigorkarpov commented on #13090
Thanks. Then I'll start with DEB. Any info on RPM?

[2022-06-09 09:30] iigorkarpov commented on #13090
Also, I was once told that collectors that require special access rights run with sudo/doas, etc... Is that not true?

[2022-06-09 09:44] iigorkarpov commented on #13090
Just an idea. Wouldn't it make more sense to use the uniform approach for all collectors?

[2022-06-09 09:47] ilyam8 commented on #13090
I am not sure what you mean, but this discussion doesn't belong to this issue.

[2022-06-09 10:15] underhood opened #13097 "[Feat]: Remove Legacy Cloud protocol support from agent and clean up the code"
### Problem

_No response_

### Description

Legacy JSON based protocol was removed on cloud. Remove support on agent side.
Lot of code and logic doesn't make sense after that -> do that clean up too.

### Importance

blocker

### Value proposition

1. Allows other features to be developed faster due to cleaner code and lot of logic removed and code simplified
2.
3.
...

### Proposed implementatio

[2022-06-09 12:29] stelfrag opened #13101 "[Bug]: Node information in cloud FE is delayed during initial registration"
### Bug description

When a node connects to the cloud, the node information is delayed until after all the chart and dimension metadata have been transmitted.

### Expected behavior

The node info should be sent as soon as the registration is completed.

### Steps to reproduce

- Claim a new node and visit the cloud dashboard, information on the node is not available immediately

### Installation

[2022-06-09 12:36] Ferroin opened #13102 "[Bug]: When updating a static install, the updater script unconditionally disables automatic updates."
### Bug description

As outlined in the title.

### Expected behavior

Updating leaves automatic updates in the state they were previously in.

### Steps to reproduce

Attempt to update a static install of Netdata which has the auto-updater enabled.

### Installation method

any

### System info

[code]

### Netdata build info

[code]

### Additional info

Due to this issue, we have temporarily di

[2022-06-09 13:12] Ferroin opened #13105 "Improve updater CI coverage."
We need to significantly improve our CI coverage for the updater script.

The current CI code (in the `updater-check` job in the `build.yml` workflow) just verifies that the version of the updater from the branch it’s running on can update the latest nightly build to the version of the code present in the branch, only checking for the specific case of a local build.

We ideally need to add the fol

[2022-06-09 13:26] Ferroin commented on #13090
@iigorkarpov Things are mostly uniform right now. C code and other compiled code utilizes either SUID or capabilities to get the right permissions, while the scripts (which do not work with SUID or filesystem capabilities) utilize `sudo` (though it would be great if we could properly support other elevation mechanisms there).

[2022-06-09 16:29] tuaris commented on #13093
Here's some sample output with redactions.

[code]

The formatting is different, but the same information is available.  Just may requiring more parsing unfortunately.

Though... I think the actual raw mail logs might be a more accurate source of this information?

[code]

The value `delay=0.66` can be extracted from the logs?

[2022-06-09 16:34] Ferroin commented on #13093
@ilyam8 Couldn’t we in theory get info about what’s queued and what isn’t from the mail logs as well? If so, that would probably be far more efficient than what we’re doing right now.

[2022-06-09 18:58] thiagoftsm commented on #13094
Hello @olivluca,

I create an environment from scratch to debug what you are describing, this environment have:

1. Parent running registry on `Slackware current` and latest `netdata` with the following configuration inside `netdata.conf`:
[code]
The IP in the configuration it is the parent IP.
2. I configure a client running `Slackware 15.0` and another running `Arch Linux`, on both I set inside

[2022-06-09 20:00] fmudhir commented on #1892
@ilyam8 any updates? I couldn't find it on community forum. Thanks

[2022-06-09 23:27] hugovalente-pm commented on #13094
I think you are right @thiagoftsm, I've only seen it tracking Nodes connected to Cloud (this feature was implemented before I joined Netdata so don't know the full background of it)

I found some docs about this:
* https://learn.netdata.cloud/docs/agent/web/gui#cloud-menus-spaces-war-rooms-and-visited-nodes
* https://learn.netdata.cloud/docs/agent/agent-cloud which all about Nodes connected to Clo

[2022-06-09 23:37] thiagoftsm commented on #13094
Thank you to confirm @hugovalente-pm !

Please, can you assign a teammate from Front End team to add a message given a proper information for our users? Probably the message needs links that you gave us.

Best regards!

[2022-06-09 23:54] hugovalente-pm commented on #13094
@shyamvalsan can you pick on this from Mgmnt & Navigation?

[2022-06-10 01:03] danilobbezerra commented on #5158
I was having this error on a VM on proxmox reading the comments here I accessed my TPLINK TL-SG108E switch and disabled Loop Prevention and it worked.

Thanks.

[2022-06-10 04:46] thiagoftsm commented on #13092
Hello @ZaneA ,

Thank you very much for your description. I was able to replicate the issue that you described right now. I observed that `netdata` is entering in an infinite loop and `SSL_get_error` is returning `SSL_ERROR_SYSCALL`. Considering that I am a long time without to work with this specific code, I am stopping right now, because it is too late in my timezone, and when I start working in

[2022-06-10 07:02] realEthanZou commented on #13069
@ilyam8 Now it's shown as 2.00 GHz, N6005's base frequency, whereas other CPUs report boost frequency.

[2022-06-10 07:20] shyamvalsan commented on #13094
@hugovalente-pm @cpipilas @thiagoftsm Does this mean the documentation [here](https://learn.netdata.cloud/docs/agent/agent-cloud#navigate-between-dashboards-with-visited-nodes) needs to be updated? I don't think this is the current behavior anymore.

[2022-06-10 07:30] ilyam8 commented on #13069
Can you show `lscpu` output?

[2022-06-10 07:36] hugovalente-pm commented on #13094
@shyamvalsan from the quick look I took I didn't see an issue with documentation.

 @thiagoftsm 's suggestion was to add something on the UI to make clear what is tracked on Visited Nodes feature, probably we could add (one or both):
* some tooltip to clarify what the Visited Nodes are
 * an hyperlink to docs (like we have done on some other places in Cloud)

[2022-06-10 07:51] shyamvalsan commented on #13094
@hugovalente-pm the docs say that you can sign in but remain on agent dashboard and see visited nodes (without going to cloud UI) - but when I sign in from my agent dashboard it automatically takes me to the cloud UI.

Am I missing something here?

[2022-06-10 07:57] olivluca commented on #13094
I still don't understand why one needs to connect to the cloud to get the list of visited nodes: the registry works, the json gives the list of hosts.
And it worked before, it just stopped working with the new ui introduced some versions ago.

[2022-06-10 08:01] hugovalente-pm commented on #13094
you are right @shyamvalsan, I had done a diagonal check on docs.
I was thinking about this just now because I remembered about this work https://github.com/netdata/cloud-frontend/issues/2954 (internal issue but it was highlighted that we had issues with multiple URLs for same node Cloud and local dashboard).

sorry for all the confusion guys 🙇‍♂️

yes @olivluca and @shyamvalsan  the docs say exact

[2022-06-10 08:45] realEthanZou commented on #13069
[code]

[2022-06-10 11:30] Ferroin commented on #13102
The requried fix is deployed in the nightly builds, and we are in the process of publishing a patch release with the fix for the stable channel. We expect to re-enable updates for static builds at some point later today. This issue will remain open until then.

[2022-06-10 12:28] dizorg commented on #6307
Hello

I've installed v1.34.1 in parent and child nodes to try to avoid gaps in graphs from a child node that has limited bandwidth.

The topology is:
    Parent <- Proxy <- Child

Proxy plots fine, without issues, Child has gaps, and after upgrade the Parent now has 100% CPU all the time.

Has anyone else experienced anything like this?

Best!

[2022-06-10 15:58] #13102 closed

[2022-06-10 16:00] Ferroin commented on #13102
Updates are now enabled again for systems using static builds.

As mentioned in the original post, if you were affected by this bug and no longer have auto-updates enabled, you can re-enable them by following [instructions in our documentation](https://learn.netdata.cloud/docs/agent/packaging/installer/update#control-automatic-updates).

[2022-06-11 08:14] yasharne opened #13113 "[Feat]: url_pattern get response time per match and request method"
### Problem

When I use `url_pattern`, I get response time per `match` and method's `RPS` based on the `match`.

### Description

I wonder if it is possible to separate the response time based on the `match` and the status code.

### Importance

really want

### Value proposition

1. Different request methods can have different response time

### Proposed implementation

_No response_

[2022-06-11 12:37] ndsda opened #13114 "[Bug]: Centos 7: Cannot start after updating via yum"
### Bug description

I ran "yum update" to update all packages including Netdata, but after the update installed Netdata will not start.

`# service netdata status
Redirecting to /bin/systemctl status netdata.service
● netdata.service - Real time performance monitoring
   Loaded: loaded (/usr/lib/systemd/system/netdata.service; enabled; vendor preset: disabled)
   Active: activating (auto-restart)

[2022-06-11 17:57] IDeletedSystem64 commented on #12839
After running Netdata for approximately two weeks on a fresh Arch installation (with system restarts here and there), there have been no memory leaks, which leads me to believe it could be either something from a previous Netdata version. or something else on the old Arch installation some how causing Netdata to leak memory

[2022-06-12 11:16] SteveBox0 opened #13116 "[Bug]: CPU Frequency"
### Bug description

The CPU Frequency does not report the current clock rate or effective clock rate. This means it display the base frequency that does not change for AMD CPUs. Ideally we should be graphing effective clock rate like HWinfo on Windows, as this is the most useful metric for displaying the real CPU Frequency.

### Expected behavior

CPU Frequency should not always stay at the same

[2022-06-12 15:34] SteveBox0 commented on #12893
I have also noticed on some deployments even after installing the netdata-plugin-freeipmi package that i have to run the below for output to show up. E.g. Run debug for 5 seconds and then exit it. IPMI graphs will work from that point onwards.
[code]

[2022-06-12 16:18] ProfessorManhattan commented on #9358
This is like the prettiest UI but I just spent 20 minutes and I couldn't figure it out

[2022-06-13 13:13] ilyam8 commented on #13090
I tried to find an answer myself. The only manipulation we do with `netdata` user:

https://github.com/netdata/netdata/blob/4c64b8ea4ff720d946bbb9a11ca7474c5673bb6c/netdata.spec.in#L450-L455

If I am not missing something - the issue is not fixed for RPM.

[2022-06-13 14:10] cakrit commented on #12697
@dhmilburn apologies for not receiving any guidance earlier, but it's best if you request such help on our [Discord server](https://discord.com/invite/kUk3nCmbtx). Closing it from here, as this is only for bug reports and feature requests.

[2022-06-13 14:10] #12697 closed

[2022-06-13 14:20] cakrit commented on #12692
Looks fixed.

[2022-06-13 14:20] #12692 closed

[2022-06-13 14:21] cakrit commented on #12611
The precise process to reconnect a node is documented in https://learn.netdata.cloud/docs/agent/claim#remove-and-reconnect-a-node

[2022-06-13 14:21] #12611 closed

[2022-06-13 14:24] cakrit commented on #9743
No comment in the past two years probably means it's not much of an issue. Closing and we can reopen if necessary.

[2022-06-13 14:24] #9743 closed

[2022-06-13 14:28] cakrit commented on #10481
Packaging has been completely revamped, closing.

[2022-06-13 14:31] cakrit commented on #10627
@stelfrag this seems to be linked to the ability to display charts that aren't live, so it's either a duplicate or can be linked to a PR in progress that will resolve it.

[2022-06-13 14:38] Ferroin commented on #7904
To further clarify, this is an issue with the system-info.sh script, so it specifically affects data as reported on the cloud.

[2022-06-13 15:08] iigorkarpov commented on #13090
I worked only with DEB. The issue was closed automatically.

But I checked installation on Rocky Linux 8. Netdata user was added to
[code]

[2022-06-13 17:41] ilyam8 commented on #13090
Interesting, I installed Netdata in a Rockylinux 8 docker container (before installing Netdata I made sure I had `adm` and `nignx` groups):

[code]

[2022-06-14 02:14] non-bin opened #13122 "[Feat]: 1 legend for multiple charts"
### Problem

I have a core utilization chart for each of my 4 CPU cores. Having 4 legends wastes space, but I don't remember what the colors mean.
<details><summary>Examples</summary>

## All

![image](https://user-images.githubusercontent.com/36313060/173475193-91f10c79-6f94-4e46-beee-6a30693077c9.png)

## One

![image](https://user-images.githubusercontent.com/36313060/173476277-98136b78-f61e-4b

[2022-06-14 06:43] SteveBox0 commented on #12893
Workaround for the second issue was
`echo "netdata	ALL=(ALL)	NOPASSWD: /usr/libexec/netdata/plugins.d/freeipmi.plugin" >> /etc/sudoers.d/netdata-ipmidcmi`

[2022-06-14 06:52] iigorkarpov commented on #13090
I bet I never added netdata to any group manually. Let me double-check this.

[2022-06-14 07:18] ilyam8 commented on #13090
@iigorkarpov try to find a place in the code where we add `netdata` to groups - I couldn't (except [this](https://github.com/netdata/netdata/issues/13090#issuecomment-1153898391)).

[2022-06-14 10:33] ozsen06 opened #13124 "[Bug]: Netdata installer sh script does not work on Keenos"
### Bug description

Keenos is an os for routers based on openwrt by Keenetic
it allows you to install opkg packages like
`opkg install netdata`
witch, I was successful of installing netdata but I wanted to use netdata cloud with my device (from my findings the maintainer of the pre compiled package is not so interested in supporting cloud) I used the install script
`curl https://my-netdata.io/kic

[2022-06-14 10:42] underhood commented on #13084
This looks like missing git submodules

[2022-06-14 10:44] iigorkarpov commented on #13090
Ansible installation to Fedora 35 does not add netdata to any group except `docker`

[2022-06-14 10:56] iigorkarpov commented on #13090
Yes

[2022-06-14 11:03] ilyam8 commented on #13084
We have `--recursive` in the [docs](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual#install-netdata).

[2022-06-14 11:28] underhood commented on #13084
Yes we do. Maybe intermittent failure to get one of the submodules due to network error or sth.

Just did fres CentOS7 minimal install. No modification on system only followed documentation steps as follows:
[code]

Result OK:
[code]

Error user reports is exactly same error you will get if you for some reason miss the necessary git submodule.

[2022-06-14 12:46] Ferroin commented on #13124
This unfortunately is not as simple as it probably sounds. The key issue here is not that the system is like OpenWRT, it’s that you want to install on what appears to be 32-bit MIPS hardware. Put simply, we have no practical way to provide pre-built packages for such hardware currently (static builds would be the only way we could theoretically do it, but we’re dependent on Alpine as a build platf

[2022-06-14 13:24] ilyam8 opened #13128 "[Feat]: add "type" label to proc.plugin/proc_net_dev charts"
### Problem

Not possible to split proc_net_dev metrics for virtual and real (physical) interfaces.

### Description

Add "type" label to proc_net_dev charts. The value should be either "virtual" or "physical" (or "real").

### Importance

really want

### Value proposition

1. Will allow to group "Network Interfaces" charts by type when using Cloud.

### Proposed implementation

_No response_

[2022-06-14 13:40] ilyam8 opened #13129 "[Bug]: "Interface Duplex State" should have a dimension per state"
### Bug description

We encode an interface duplex state as a number, as a result, we have the following problems:
 - have to add a "State map" to dashboard info:

 - any grouping method **makes no sense** (`average`, `sum`, `min`, `max`). We use `average` when zooming out using the local dashboard, and `sum` on the Cloud overview page.

### Expected behavior

The "Interface Duplex State" should h

[2022-06-14 13:45] ilyam8 opened #13130 "[Bug]: "Interface Operational State" should have a dimension per state"
### Bug description

We encode an interface duplex state as a number, as a result, we have the following problems:
 - have to add a "State map" to dashboard info:

 - any grouping method **makes no sense** (`average`, `sum`, `min`, `max`). We use `average` when zooming out using the local dashboard, and `sum` on the Cloud overview page.

### Expected behavior

The "Interface Operational State" сha

[2022-06-14 13:53] IDeletedSystem64 commented on #12839
5.17.x, Likely 5.17.5 not exactly sure on which particular version

On Tue, Jun 14, 2022 at 8:13 AM thiagoftsm ***@***.***> wrote:

[2022-06-14 14:07] ilyam8 commented on #12839
Thanks for the information. Closing as "can't reproduce". @thiagoftsm feel free to open if you (somehow) want to keep debugging it.

[2022-06-14 14:07] #12839 closed

[2022-06-14 14:33] cakrit commented on #9124
Since there hasn't been an update on this specific ticket for a while, let's summarize first the current situation:
 - The step to disconnect a node from the cloud is documented at https://learn.netdata.cloud/docs/agent/claim#remove-and-reconnect-a-node . It is simply an `rm` command, followed by a restart of the agent. One can put it in a script if needed.
 - A functionality deployed recently to

[2022-06-14 14:44] thiagoftsm commented on #12839
All right @ilyam8 ,

Today I am still busy with OpenSSL, but I intend to return this week yet to investigate these possible leaks. :handshake:

[2022-06-14 14:47] #9393 closed

[2022-06-14 15:25] #13059 closed

[2022-06-14 15:49] ilyam8 commented on #13084
@lzclff, hey. @underhood is correct, you forgot the `--recursive` option when was git cloning the repo.

So there are 2 ways:

 - clone it again (see the command in the [docs](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual#install-netdata)).
 - `cd` into the cloned repo and run `git submodule update --init --force --recursive`.

---

As we figured out - it is not a packa

[2022-06-14 15:49] #13084 closed

[2022-06-14 15:49] SteveBox0 commented on #13116
Workaround with https://github.com/netdata/netdata/pull/2714 and turbostat from Linux Kernel 5.19.

[2022-06-14 16:09] stohn opened #13133 "[Bug]: Netdata Crash (netdata FATAL : DBENGINE : Cannot allocate dbengine page cache page, with mmap() # : Invalid argument)"
### Bug description

I experience crashes of the netdata process with the new 1.35.0 / 1.35.1 versions.

From netdata error.log:
`netdata FATAL : DBENGINE : Cannot allocate dbengine page cache page, with mmap() # : Invalid argument`

I run a master server with 6 clients streaming to it (Server: 8 Cores, 48GB RAM).
The master stores everything within a large dbengine:
[code]

This holds a lot of da

[2022-06-14 16:52] Ferroin commented on #10481
Reopening this as it’s not actually done and we are planning on doing it, the timeline has just slipped horribly because native package improvements have largely been low priority in favor of fixing other install/update related issues, and this one slipped through the cracks for a number of reasons other reasons as well.

I intend to get this properly planned out by the middle of next month, and h

[2022-06-14 18:09] sea-lmarchal opened #13134 "[Bug]: Netdata lots of Python plugins import errors in latest Docker images (past 1.34.1)"
### Bug description

There's lots of errors when starting netdata with any docker images past 1.34.1. It seems like it's a Python issue (maybe related to an underlying upgrade to Python 3.10 in the container). Any plugins using `import 'Mapping' from 'collections'` are failing

[code]

### Expected behavior

Python plugins do not error on import

### Steps to reproduce

1. Use v1.35.1
2. Start Net

[2022-06-14 19:49] ilyam8 commented on #13134
Hi, @sea-lmarchal. Thanks for reporting the issue. All modules that use (vendored version of) `urrlib3` library don't work.

[2022-06-14 20:00] #13124 closed

[2022-06-14 21:00] #13134 closed

[2022-06-15 01:23] cakrit opened #13138 "[Bug]: Chart not respecting the time selection when data collection stops"
### Bug description

The following two screenshots show what happened when I gracefully stopped the only child streaming to a parent. In both screenshots you can see at the top charts that are unrelated with streaming and below the charts that are related. Instead of keeping everything synchronized to indeed respect the "last 3 minutes" shown on the datetimepicker, the bottom charts started changi

[2022-06-15 02:55] thiagoftsm opened #13139 "Adjust ACLK code to use latest specifications of OpenSSL 3.x"
### Bug description

When an environment is using `OpenSSL 3.x` during compilation time we receive the following warnings:

[code]

This is happening because the low-level functions were deprecated and we need to update our code to use the high-level interface. For more details, please, take a look at [OpenSSL wiki](https://wiki.openssl.org/index.php/OpenSSL_3.0).

### Expected behavior

We cannot

[2022-06-15 06:33] stelfrag commented on #13133
@stohn thank you for reporting this. In our tests we have used a page cache size of 30000 without problems (collecting 90K+ metrics per second), but looks like something is not quite right (in general).  We will add an option to switch to malloc.

[2022-06-15 08:58] cpipilas commented on #3233
There is no activity on this for quite some time, if there is still interest we can revisit it.

[2022-06-15 08:58] #3233 closed

[2022-06-15 09:11] #5094 closed

[2022-06-15 09:12] cpipilas commented on #5941
@Ferroin is there any action for this or we can close it?

[2022-06-15 09:26] #6316 closed

[2022-06-15 09:48] cpipilas commented on #7487
Closing due to inactivity, please open a new ticket if you still have suggestions on this matter

[2022-06-15 09:48] #7487 closed

[2022-06-15 10:35] #10150 closed

[2022-06-15 11:59] Ferroin commented on #12818
This is done, not sure how I forgot to tag the PR that implemented it to close this...

[2022-06-15 11:59] #12818 closed

[2022-06-15 12:00] Ferroin commented on #5941
I think we can probably close it at this point.

It would definitely be nice to have, but it’s probably more effort than it’s worth right now.

[2022-06-15 12:00] #5941 closed

[2022-06-15 12:07] marcelmfs opened #13144 "[Bug]: High CPU usage after upgrade to 1.34.1 and usage of streaming compression with lz4-v1.9.3"
### Bug description

I have compiled netdata 1.34.1 with lz4-v1.9.3 to try to mitigate gaps in graphs from a bandwidth constrained netdata agent from a client in Africa (~250ms latency).

Now my CPU usage looks like this:
![image](https://user-images.githubusercontent.com/5718899/173821894-68369c06-a39e-494a-9431-e723dfdf8c32.png)

I have one parent netdata receiving streamed data from a netdata p

[2022-06-15 12:21] marcelmfs commented on #13144
After upgrade on June 7th:

![image](https://user-images.githubusercontent.com/5718899/173825518-687a5348-dfcd-4f2d-9617-10ebb2e1d2d0.png)

[2022-06-15 12:21] marcelmfs commented on #13144
Even after upgrading the server from 4 vCPU to 6, it didn't improve CPU usage.

[2022-06-15 12:22] marcelmfs commented on #13144
<img width="1359" alt="image" src="https://user-images.githubusercontent.com/5718899/173825728-39605739-6823-4ee6-9726-a3216d18e6a3.png">

[2022-06-15 13:03] MikeJakubik opened #13147 "[Bug]: Version 1.35.1 agent crashes when viewing dashboard via cloud"
### Bug description

Hi,

I recently updated to 1.35.1 and the agent is now crashing as soon as I click on overview or node via the cloud interface. I can access the interface locally and it keeps on running just fine. Below is what I can see in error.log.

[code]

In my system log I see evidence of the crash.

`pid 31790 (netdata), jid 0, uid 302: exited on signal 10 (core dumped)`

### Expected

[2022-06-15 13:03] mailinglists35 commented on #10044
Thank you, I have followed one of the replies and set
`CapabilityBoundingSet = CAP_SYS_RAWIO`

it was on the same system that worked with `~`, but was upgraded from 1.30 to 1.34.1 (oracle linux 7 via OL7_developer_epel repo)

Could you please add this bit of info about the capabilities in the plugin documentation?

Thanks!

[2022-06-15 13:36] mailinglists35 opened #13151 "[Feat]: Able to click agent URL in email in offline environment"
### Problem

When seding out email alerts, the netdata agent provides the url in the message like this:

`Details: this is a test alarm to verify notifications work GO TO CHART <https://app.netdata.cloud/alarms/redirect?agentId=dc755fac-ecad-11ec-93b1-782bcb09968f&host=test&chart=test.chart&family=test.family&alarm=test_alarm&alarm_unique_id=1&alarm_id=1&alarm_event_id=2&alarm_when=1655299513&alar

[2022-06-15 13:57] MrZammler commented on #13147
Hi @MikeJakubik thanks for the report.

Can you please share your `access.log` and `error.log` to manolis at netdata dot cloud?

Thanks!

[2022-06-15 14:05] MikeJakubik commented on #13147
Sure, logs have been sent.

[2022-06-15 14:13] underhood opened #13153 "[Feat]: Add ephemeral flag to claiming and make it accessible trough kickstart"
### Problem

_No response_

### Description

Make it possible to mark agent as ephemeral. Forward this info to cloud during claiming.

### Importance

really want

### Value proposition

1. ability to mark claimed agent as ephemeral
2.
3.
...

### Proposed implementation

_No response_

[2022-06-15 14:22] marcelmfs commented on #13144
Upgrading to 1.35.1 still don't yield notable results in terms of CPU usage...

[2022-06-15 14:26] MrZammler commented on #13144
Hi @marcelmfs thanks!

We will try to reproduce the behavior. Have you pinpointed to streaming? I.e. if a child stops streaming does the parent cpu lower?

[2022-06-15 14:39] ilyam8 commented on #10044
@mailinglists35 I added CAP_SYS_RAWIO to Netdata's systemd unit CapabilityBoundingSet in #13154.

[2022-06-15 15:03] #13092 closed

[2022-06-15 15:18] marcelmfs commented on #13144
I haven't done that yet, these are production systems and we aim to keep everything running all the time... I'll see if stopping netdata on the children lowers CPU usage...

[2022-06-15 15:31] marcelmfs commented on #13144
I have stopped everything on the Parent netdata instance and it topped already almost 600% of CPU usage, with 6 vCPUs, so I can't rule out the issue is with streaming compression.

[2022-06-15 15:45] marcelmfs commented on #13144
![image](https://user-images.githubusercontent.com/5718899/173869849-d24489f4-0b73-4985-9bb0-7f447ebc12bc.png)

[2022-06-15 16:24] ilyam8 commented on #13144
@marcelmfs can you send a [snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) to `ilya@netdata.cloud`? And it would be very nice if you upgrade to the latest stable version (it has much more netdata internal components metrics).

[2022-06-15 16:41] #13133 closed

[2022-06-15 21:50] axllent commented on #13144
@marcelmfs Is the client using SSL to connect to the host? If so, there is a bug (just fixed, but not released yet) on the server end that will result in 100% CPU on the server when a streaming client connection breaks (see https://github.com/netdata/netdata/issues/13092).

[2022-06-16 07:09] marcelmfs commented on #13144
Hello @ilyam8:

I did that yesterday:

Hello @axllent:

Yes! I was having an issue with this Child netdata not able to establish streaming protocol version 4 or 5, it was only returning protocol 0 and the parent netdata was answering plain HTTP.

In the end I "solved" it by having the stream receiver listening on port 20000 with SSL^force, instead of ^optional. I wasn't sure what I was doing or wh

[2022-06-16 07:22] ilyam8 commented on #13069
Let's see

[code]

[2022-06-16 07:34] MrZammler commented on #13147
Hi @MikeJakubik

Thanks for the logs! There is a hint there to indicate the crash taking place after a specific query. Although different compiler, and different environment, is it maybe possible to try a nightly version that contains this patch https://github.com/netdata/netdata/pull/13137 ?

[2022-06-16 07:45] cpipilas commented on #11571
There are no recent reports of relevant issues with Red Hat 8.3 after applying a number of fixes in the latest releases, this issue can be closed.

[2022-06-16 07:45] #11571 closed

[2022-06-16 07:48] underhood commented on #13139
@thiagoftsm are you working on this?

[2022-06-16 09:07] marcelmfs commented on #13144
@axllent - It seems that removing the SSL directive in stream.conf wasn't enough, I had to remove the /var/cache/netdata folder on the Parent instance and restart, now that no other agent is sending encrypted traffic anymore the Parent's CPU usage is back to normal levels, albeit for a small percentage of `nice` share, that I don't think I was seeing before. When can I expect SSL to be functional

[2022-06-16 09:11] ilyam8 commented on #13144
@marcelmfs the [fix](https://github.com/netdata/netdata/pull/13112) was merged yesterday and

- we have it in the latest nightly release.
- will be in the next stable release (v1.36.0).

If you want to test it - you need to switch from stable to nightly branch and update your Agents.

[2022-06-16 09:13] marcelmfs commented on #13144
Thanks @ilyam8 - I'll wait for the next stable release.
I'm wondering here how this wasn't caught by other people running the nightly distribution...

[2022-06-16 09:59] #12588 closed

[2022-06-16 10:00] stelfrag commented on #12770
Closing as there have been several changes / improvements. Will create a new one if needed

[2022-06-16 10:00] #12770 closed

[2022-06-16 10:11] cpipilas commented on #11277
Closing since all relevant PRs have been merged.

[2022-06-16 10:11] #11277 closed

[2022-06-16 10:26] ilyam8 commented on #13144
Ok, so this issue is a duplicate of #13092 which is fixed in #13112. Closing it. Thanks for the help in debugging @axllent @marcelmfs.

[2022-06-16 11:19] Ferroin commented on #11859
As of right now, for most new installs, this should no longer be an issue as we default to using pre-built versions of the agent in most cases.

For existing installs, you may be able to update mostly in-place to use pre-built binaries, which will avoid this issue. An explanation of how to do this can be found [in our documentation](https://learn.netdata.cloud/docs/agent/packaging/installer/reinst

[2022-06-16 11:32] cpipilas commented on #11814
Closing due to inactivity.

[2022-06-16 11:32] #11814 closed

[2022-06-16 11:48] #12132 closed

[2022-06-16 12:12] underhood opened #13160 "[Feat]: Add ability to mark node as ephemeral, propagate that flag trough streaming (to parents)"
### Problem

_No response_

### Description

- Add ability to mark node as ephemeral
- propagate that flag trough streaming (to parents)
- send that info to cloud as part of NodeInfo message

### Importance

really want

### Value proposition

1.
2.
3.
...

### Proposed implementation

_No response_

[2022-06-16 12:12] #13153 closed, assigned to underhood

[2022-06-16 14:11] underhood commented on #13059
Implemented in #13091

[2022-06-16 14:44] underhood commented on #13153
Closed in favor of https://github.com/netdata/netdata/issues/13160

[2022-06-16 14:56] MikeJakubik commented on #13147
I found the doc describing the build process @ https://github.com/netdata/netdata/blob/master/packaging/installer/methods/source.md

However, i get this error when compiling. This file doesn't exist in netdata or my system (when the port version compiled OK)

  CC       database/ram/rrddim_mem.o
  CC       database/sqlite/sqlite_functions.o
  CC       database/sqlite/sqlite_aclk.o
In file included

[2022-06-16 15:04] MrZammler commented on #13147
Hi Mike, sorry for not responding earlier.

Inside the netdata directory, please run the following: `git submodule update --init --recursive` and then try again. Thanks!

[2022-06-16 15:07] MrZammler commented on #13063
Hi @William8Work ! Sorry for the (very) late reply.

Does this error occur still? Have you tried recently? Can you retry please and paste the whole command output?

Thanks!

[2022-06-16 15:40] sashwathn opened #13164 "[Bug]: After the Netdata agent installation it stays offline"
### Bug description

## Issue

After installing Netdata using the kickstart script, the user faced an issue where the agent stayed offline. It looks like the daemon is not started by the kickstart script by default.

cc: @MrZammler @cpipilas

### Expected behavior

On executing the kickstart script, the netdata agent / daemon should start running automatically and if the claim tokens are used, the

[2022-06-16 15:56] cakrit commented on #13164
The issue I saw was not because the agent didn't start, so I'm creating a different issue on the experience on the cloud side.

[2022-06-16 15:59] MikeJakubik commented on #13147
Hi,

Thanks that did the job compile-wise. But I can't quite run it as is, it's missing the magic that the port gives it. If I could get a release style tgz based on the master branch I could trick the port into building it instead of 1.35.1.

The port looks for https://github.com/${PORTNAME}/${PORTNAME}/releases/download/v${DISTVERSION}/

[root@staging ~]# daemon -c -u netdata /tmp/netdata/netdat

[2022-06-16 16:30] pikeas commented on #12419
I'm experiencing this as well.

Environment: Netdata 1.35.1 (running on host), Nomad 1.3.1, Ubuntu 22.04.

Netdata logs:

[code]

Netdata config:
[code]

Netdata shows all containers with ID only, except for ones with a prefix of `nomad-slice`.

Running a container in docker directly also appears in Netdata as ID only. AFAIK, Nomad doesn't alter Docker's service configuration, so this may be on th

[2022-06-16 16:37] ilyam8 commented on #12419
@pikeas hey

1. if Netdata is running in a docker container too we need to mount docker.sock inside the container (`-v /var/run/docker.sock:/var/run/docker.sock:ro`).
2. if Netdata is installed on the host we need to add `netdata` user to the `docker` (`sudo gpasswd -a netdata docker`) group and restart netdata service.

The 2nd case is either you install Netdata before installing Docker Engine (u

[2022-06-16 16:40] ilyam8 commented on #7904
Closing because we can't really fix this issue because we have no access to systems with DM multipath (setup a lab is also somewhat complicated). We will reopen and fix the issue if there will be a user that has a system with DM multipath and want us to help.

[2022-06-16 16:40] #7904 closed

[2022-06-16 16:40] pikeas commented on #12419
This did the trick! Adding the netdata to the docker group and restarting the service worked.

For the team, it would be great if this logged an error. When Netdata is running, Docker is also running on the host, and the Docker plugin is enabled, it's reasonable to assume that operators want container names.

[2022-06-16 16:51] ilyam8 commented on #12419
There is an error, it is not properly formatted but there is.

I removed `netdata` from `docker`

[code]

---

I think it is sorted by container name. Can you show a screenshot?

[2022-06-16 16:57] pikeas commented on #12419
Ah, thanks! Then I'm surprised the errors are logged to a separate file - they're invisible to systemd/journalctl.

<img width="201" alt="Screen Shot 2022-06-16 at 12 55 25 PM" src="https://user-images.githubusercontent.com/686573/174125461-aa8e5c5b-f33e-4903-b2ba-69b63077e8e4.png">

[2022-06-16 17:50] cpipilas commented on #13164
Confirmed with Ubuntu 20.04 & Netdata 1.35.0-29-nightly

[code]

cc @stelfrag @Ferroin @underhood

[2022-06-16 20:05] MikeJakubik commented on #13147
Hi,

I have figured out finally how to get this running (had to edit the configure.ac file dir locations), it is not crashing now when I hit overview in the cloud UI.

Thank you!

[2022-06-16 21:05] #13164 closed

[2022-06-17 05:50] ced1check opened #13186 "[Bug]: Lost all historical data upon update"
### Bug description

2 servers updated to 1.35.0-41 nighlty and lost all historical data, while another remained on 1.35.0-29.
It already happened when updated from 1.34.* to 1.35 and again now. Graphs are also very odd compared to old version!?
![netdata_graphs](https://user-images.githubusercontent.com/104206200/174233524-92812ba1-c243-4385-be2b-01168ab058a2.png)

Is there something I can do to

[2022-06-17 05:58] ced1check opened #13178 "[Bug]: general config is frequently lost upon updating"
### Bug description

Using nightly versions, configuration is often lost.

I've updated it using the following command:

`sudo /etc/netdata/edit-config netdata.conf`

In webmin console, I often see a message like configuration has been changed, keep old (Y, N, ..., A)" when this happens.

I just upgraded a server from 1.35.0-29 to -41 and it didn't loose configuration, but it happened with previou

[2022-06-17 08:26] iigorkarpov commented on #13114
Can't reproduce.

I've installed netdata agent to Centos 7.9 with kickstart:

`wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh`

Then I ran `yum update` but only repository information was updated.

Next day I ran `yum update` again and this time the new version of the agent was available and successfully installed:

[code]

Netdata agent servic

[2022-06-17 09:05] ilyam8 commented on #12419
If you are concerned about security - using https://github.com/Tecnativa/docker-socket-proxy is an option. We have a guide on [how to use it with Netdata](https://learn.netdata.cloud/docs/agent/packaging/docker#docker-socket-proxy-safest-option) but it is only for dockerized Netdata.

[2022-06-17 09:24] MrZammler commented on #13147
Good to hear! Thank you very much for taking the time and effort to update!

[2022-06-17 09:24] #13147 closed

[2022-06-17 09:32] MrZammler commented on #13114
Hi @ndsda can you please send your `error.log` file to manolis at netdata dot cloud? It should be under `/var/log/netdata`. Thanks!

[2022-06-17 09:41] stelfrag commented on #13138
Fix applied

[2022-06-17 09:41] #13138 closed

[2022-06-17 09:42] stelfrag commented on #12314
Fix applied

[2022-06-17 09:42] #12314 closed

[2022-06-17 09:51] #13130 closed

[2022-06-17 11:14] #12414 closed

[2022-06-17 11:24] hugovalente-pm opened #13172 "[Bug]: BSD available memory showing strange overly big values"
### Bug description

With the fix on https://github.com/netdata/netdata/pull/13140 the `mem.available` chart is now available for BSD hosts, but the values presented are strange and not representative of actual memory

![image](https://user-images.githubusercontent.com/73555475/174154666-0022f719-205b-4953-a0c4-c44e9913ead0.png)

Issue reported here https://github.com/netdata/netdata-cloud/issues/

[2022-06-17 11:26] hugovalente-pm commented on #13172
@MikeJakubik pinging you also here

[2022-06-17 11:36] MrZammler commented on #13172
The description is also wrong ....

@MikeJakibik, can you post please your system info ?

[2022-06-17 12:18] MikeJakubik commented on #13172
Hi,

I im running 13.1 stable, this should all be the same all the way back to 11 (or older).

`FreeBSD staging.swift-api.com 13.1-STABLE FreeBSD 13.1-STABLE #0 stable/13-be3f66738: Tue Jun 14 14:45:31 EDT 2022     root@staging.swift-api.com:/usr/obj/usr/src/amd64.amd64/sys/GENERIC amd64`

The following links will help understand and calculate FreeBSD memory.

https://wiki.freebsd.org/Memory
https

[2022-06-17 12:18] Ferroin commented on #7904
Switched closure reason, this is not completed, it’s not planned for the time being.

[2022-06-17 12:28] MrZammler commented on #13172
Hi @MikeJakubik thanks for this, indeed that is what is (at least tries to) do there for the available ram. Will check and get back to you. Thanks!

[2022-06-17 12:38] MrZammler commented on #13172
Can you also post please a screenshot of `System overview` -> `ram` ?

[2022-06-17 12:46] MikeJakubik commented on #13172
![Screenshot 2022-06-17 084605](https://user-images.githubusercontent.com/73555475/174301019-fd5e72c8-1e9c-4277-991c-2a3abca3ecd9.png)

[2022-06-17 12:55] MrZammler commented on #6307
Hi @dizorg !

Are you using SSL? There is a similar discussion here -> https://github.com/netdata/netdata/issues/13144

Thanks!

[2022-06-17 12:55] MikeJakubik commented on #13172
While we're on this topic, I just noticed that wired here shows incorrectly as well. It's in the negatives.

According to top:

Mem: 709M Active, 10G Inact, 19G Wired, 104K Buf, 94G Free

According to Netdata:
Wired = -6.3 GiB

[2022-06-17 13:51] #13129 closed, assigned to vlvkobal

[2022-06-17 14:18] ekexcello opened #13175 "[Bug]: mysql check issues rendering apps.plugin faulty"
### Bug description

This issue is maybe related to [another mysql check issue with go plugin](https://github.com/netdata/netdata/issues/13317).

The installation has following configuration of go.d plugin:
[code]

The issue happens on setup with mariadb-10.4.25 and mariadb-10.6.8-r1, buth run galera-26.4.10-r1. First one has heavy load (production), second has no load. Each nude has two instances

[2022-06-17 14:42] cakrit commented on #12419
@ilyam8 / @Ferroin shouldn't `kickstart.sh` do this by default? I understand the concerns, but it took us months to get to a suggested fix, for something that apparently we knew all along.

[2022-06-17 15:16] ilyam8 commented on #12419
@cakrit, we do it by default (except for cases when we install Docker after Netdata - during Netdata install there was no `docker` group - this case would be fixed by the next Netdata update).

We do it for:

- install from the source.
- static builds.
- native packages were the case where we wouldn't do it. For deb the bug was fixed 4 days ago. For rpm - not fixed atm.

[2022-06-17 15:22] ilyam8 commented on #13175
Hi, @ekexcello. Do you have `requested a SET to dimension with id` lines in error.log? Can you check?

[2022-06-17 15:48] ilyam8 commented on #13175
Every time such an event occurs Netdata would disable go.d.plugin. We fixed it in https://github.com/netdata/go.d.plugin/pull/689 (but haven't released the new go.d.plugin since then).

Any change you can build go.d.plugin from the master branch, replace go.d.plugin in plugins.d and see if it helps?

[2022-06-17 15:58] ekexcello commented on #13175
Will try to rebuild go plugin from master branch and let you know, thank you!

[2022-06-18 19:50] ekexcello commented on #13175
Hello @[ilyam8](https://github.com/ilyam8),
Unfortunately, even with fixes from master the issue is present.

[2022-06-18 20:01] ilyam8 commented on #13175
Can you do a [shapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) while there are problems with rendering and send it to `ilya@netdata.cloud`?

[2022-06-18 22:16] ndsda commented on #13114
@MrZammler OK, I will email it now.

[2022-06-20 08:18] ilyam8 commented on #13113
Hi, @yasharne. For every URL pattern we create the following charts:

- Responses By Status Code
- Requests By HTTP Method
- Bandwidth
- Request Processing Time

You want the response time (request processing time) per URL pattern per HTTP status code?

[2022-06-20 09:59] hugovalente-pm commented on #13178
issue was moved to the `netdata/netdata` repo since this is specific to the Agent

[2022-06-20 11:30] Ferroin commented on #13178
@ced1check Can you share the output of `netdata -W buildinfo` on a system where you have been seeing this, as well as info about what Linux distribution or FreeBSD/macOS version you’re running the agent on?

[2022-06-20 11:52] ced1check commented on #13178
Here is buildinfo:

Version: netdata v1.35.0-49-nightly
Configure options:  '--build=x86_64-linux-gnu' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--disable-option-checking' '--disable-silent-rules' '--libdir=${prefix}/lib/x86_64-linux-gnu' '--libexecdir=${prefix}/lib/x86_64-linux-gnu' '--disable-maintainer-mode' '--prefix=/usr' '--sysconfdir=/

[2022-06-20 12:06] Ferroin commented on #13178
OK, given that it’s a native DEB package, I’m guessing something is going wrong here with configuration handling in our use of APT/dpkg.

Are you using our updater script for automatic updates, running our updater script manually, invoking APT directly to update the package, or using something like unattended-upgrades?

[2022-06-20 13:50] yasharne opened #13316 "proxysql migration from python to go"
Hi @ilyam8 ,
I wonder if anyone is developing a go version of proxysql plugin.
If no one is working on it, I would like to give it a try

[2022-06-20 15:39] MrZammler commented on #13172
@MikeJakubik Hi!

Can you also please post what `htop` reports (especially on the wired) ?

[2022-06-20 15:43] blastehh commented on #13172
Hi,
Just updated the netdata plugin on Truenas and noticed that the wired ram is incorrect as well.
You can see the point at which the plugin was updated:
![image](https://user-images.githubusercontent.com/8324677/174637906-f80f8ce7-4a4c-4a34-94ef-1b9d0fc2f1dc.png)
![image](https://user-images.githubusercontent.com/8324677/174637919-9ca90c0f-5d71-42e0-b914-fd234f052c0b.png)

[2022-06-20 15:52] MikeJakubik commented on #13172
I don't trust htop or most Linux htop like programs to properly report memory usage on FreeBSD.

[2022-06-20 15:56] blastehh commented on #13172
Also taking a look at /api/v1/allmetrics?format=prometheus_all_hosts&source=as-collected
seems the metrics are outputting 2 separate values??
![image](https://user-images.githubusercontent.com/8324677/174640094-3558a039-116e-4d3b-8263-82a823a0f14f.png)

[2022-06-20 16:19] ilyam8 commented on #13172
@blastehh @MikeJakubik can you show

[code]

[2022-06-20 16:20] MikeJakubik commented on #13172
[root@staging ~]# sysctl vm.stats.vm.v_wire_count
vm.stats.vm.v_wire_count: 3255308
[root@staging ~]# pagesize
4096
[root@staging ~]# sysctl kstat.zfs.misc.arcstats.size
kstat.zfs.misc.arcstats.size: 8759291232
[root@staging ~]# sysctl kstat.zfs.misc.arcstats.c_min
kstat.zfs.misc.arcstats.c_min: 4286929920

[2022-06-20 16:36] blastehh commented on #13172
[code]

[2022-06-20 17:39] ilyam8 commented on #13172
Negative wired fixed in #13183

[2022-06-20 18:51] MikeJakubik commented on #13172
Still shows negative here.

![Screenshot 2022-06-20 145144](https://user-images.githubusercontent.com/73555475/174662945-30fafb5f-78eb-4a3f-a36a-f5c4893c0111.png)

[2022-06-20 18:55] MikeJakubik commented on #13172
Also, mem.available is messed up, 18TiB of RAM???

![Screenshot 2022-06-20 145316](https://user-images.githubusercontent.com/73555475/174663304-2933f2a5-f0bc-40c5-92f1-bd9b673a9464.png)

[2022-06-21 02:30] MR-TABATA opened #13185 "[Bug]: ERROR Installer exited unexpectedly (0-806)"
### Bug description

[code]

### Expected behavior

See Bug description

### Steps to reproduce

See Bug description

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-06-21 08:06] hugovalente-pm commented on #13186
this could be linked to [Bug]: general config is frequently lost upon updating #13178

got the buildinfo from that other ticket
@ced1check please rectify anything if needed

[code]

[2022-06-21 08:51] ilyam8 commented on #13172
@MikeJakubik the PR hasn't been merged yet. Both negative wired and wrong mem avail will be fixed when it is merged.

[2022-06-21 11:19] iigorkarpov commented on #13185
on modern macOS versions GNU utilities have `g` prefix (except those which already have the leading `g` in their names).
Thus, the realpath is called grealpath (provided it is installed with Macports or Homebrew)

[2022-06-21 17:29] sashwathn opened #13190 "[Feat]: Add an apps section within each container"
### Problem

Currently Netdata only visualises the cpu, mem, disk and net on each container. It will be of great help for users to monitor the applications within each container.

<img width="203" alt="image" src="https://user-images.githubusercontent.com/96257330/174860974-a29aead0-6c65-471e-af35-c1802650cbac.png">

cc: @ktsaou @cakrit @cpipilas

### Description

Currently Netdata only visualises

[2022-06-21 17:34] sashwathn opened #13191 "[Feat]: Default alerts for apps plugin"
### Problem

Currently our Netdata default alerts are not configured based on process groups in the apps plugin. It will be great to have alerts specific to app / process groups and allow users to set limits per group.

### Description

Currently our Netdata default alerts are not configured based on process groups in the apps plugin. It will be great to have alerts specific to app / process group

[2022-06-21 17:45] Ferroin commented on #13191
The reason we don’t have this is that for alerts on app groups to make sense, you have to know the _exact_ workload the system is supposed to be running, as well as a lot of details about the hardware.

Saying, for example, that nginx or Apache shouldn’t exceed some percentage of CPU utilization is good, but to decide what that percentage should be, you need to know how much CPU time is needed to

[2022-06-21 18:06] sashwathn commented on #13191
@Ferroin Yes you are absolutely right and may be we can create some sample alerts which our users can configure based on their infrastructure and configurations.

But do you think we can actually identify memory leaks by monitoring the memory footprint of a process / process group? Ideally the memory footprint should be relatively stable / static and could we report in case we see that a specific

[2022-06-22 02:13] tuaris commented on #13093
Using the tutorial in the official documentation and some posts here on GH, I tried to write my own collector, but I'm not sure where I need to put this file?

I currently have it under `/usr/local/etc/netdata/custom-plugins.d/postfix_delay.chart.py`.

[code]

[2022-06-22 08:39] #13128 closed

[2022-06-22 10:16] ilyam8 opened #13198 "[Bug]: network interface "type" label gets removed when renaming device for cgroup"
### Bug description

The "type" label was added in #13187. The bug is we remove it when moving the network interface under the appropriate container section.

### Expected behavior

The network interface "type" label doesn't get removed when renaming device for cgroup.

### Steps to reproduce

Check cgroups network chart labels.

### Installation method

from git

### System info

[code]

### Netd

[2022-06-22 11:12] ilyam8 commented on #13093
Hi, @tuaris. You need to put it under `/usr/libexec/netdata/python.d/`. Python.d.plugin doesn't check `custom-plugins.d/` because Netdata doesn't expose it as an environment variable.

[2022-06-22 12:17] ilyam8 opened #13201 "[Feat]: Expose custom plugins directories as `NETDATA_USER_PLUGINS_DIRS` environment variable"
### Problem

`[directories]->plugins` is a space-separated list of strings. The first item on the list is

https://github.com/netdata/netdata/blob/7b48097e0d87af876d7d805a8675c48925e3220b/daemon/analytics.c#L841

However, we don't expose the rest as an environment variable - this can be used by the external plugins (e.g. by python.d.plugin to load custom collectors).

### Description

Expose **the

[2022-06-22 14:14] MrZammler commented on #13114
After checking @ndsda's logs (thank you!) it seems the install with yum actually was missing directories like /usr/lib/netdata/conf.d/ from the installation. Installing from kickstart was successful and the agent is up now.

[2022-06-22 14:23] Piroro-hs commented on #13071
I edited the issue.
I think the main problem is setting `non-interactive` does not affect the `netdata-updater.sh` script, so
that every yum (and possibly other package managers) operation are executed without `interactive_opts` configured.

[2022-06-22 14:40] #13198 closed

[2022-06-22 15:23] cakrit commented on #13191
Doesn't it make sense in most use cases to have an automated warning when any process group takes more than 95% CPU and critical when it goes to 98% or 99%?

The memory leak @sashwathn mention also makes sense, we discussed this with Costa.

There's also the following, shouldn't anything above 0 be a warning?
<img width="365" alt="image" src="https://user-images.githubusercontent.com/43294513/1750

[2022-06-22 16:25] MikeJakubik commented on #13172
mem.available appears to display correctly now, however, while we're on the subject, the mem.commited metric displays an odd value of "Commited_AS".

![Screenshot 2022-06-22 122247](https://user-images.githubusercontent.com/73555475/175085198-caad6bb0-3842-4047-b3b4-8be29b959b7d.png)

[2022-06-22 21:24] StiviiK opened #13204 "[Bug]: Kickstart Script cannot be downloaded from an IPv4 only network"
### Bug description

The `kickstart.sh` script can only be fetched via an IPv6 connection. If you are trying to fetch the script from an IPv4 only network the connection times out.

### Expected behavior

I want to be able to download the script via both ip stacks.

### Steps to reproduce

[code]

### Installation method

other

### System info

[code]

### Netdata build info

[code]

### Addition

[2022-06-23 07:42] ilyam8 commented on #13172
I guess the idea was to have the same dimensions name as on Linux:

from man procfs

This is FreeBSD `mem.committed` chart

https://github.com/netdata/netdata/blob/a878ed36431db17bebb53004200e41bb91e9248f/collectors/freebsd.plugin/freebsd_sysctl.c#L278-L292

We use `vmtotal.t_rm`, which [total real memory in use](http://fxr.watson.org/fxr/source/sys/vmmeter.h?v=FREEBSD-11-STABLE#L213).

[code]

--

[2022-06-23 08:18] harpo opened #13205 "[Bug]: Exporting to Graphite/Hisser backend exception"
### Bug description

Exporting metrics to Graphite/Hisser backend exception.

Since running the recent nightly builds >=1.35.0-4-nightly my hisser backend throws exceptions:

`Traceback (most recent call last):
  File "/pypkg/lib/python3.8/site-packages/hisser/utils.py", line 66, in run_in_fork
    func(*args, **kwargs)
  File "/pypkg/lib/python3.8/site-packages/hisser/db.py", line 144, in new_nam

[2022-06-23 10:21] ced1check commented on #13178
FWIW, just upgraded the server running 1.32.0-32 netdata version to match other servers (1.35.0-65) and configuration got lost again.
Here is the output of the apt-get update performed from webmin.

Strangely it says it will keep my version but then installs a new version or it's just logs?

[code]

[2022-06-23 11:03] Ferroin commented on #13178
Based on the output above, webmin is choosing to replace your edited config files instead of going with the normal dpkg default of just leaving the edited files as is. So this is either an issue of configuration of webmin on the affected systems, or a bug in webmin, but I’m honestly not able to make heads or tails of their overly complex Perl code to tell which is the case.

[2022-06-23 11:06] ced1check commented on #13178
Thanks for the reply. i've disabled the repo so that it stops updating nightly, so I'll avoid the issue until I can get this solved.

[2022-06-23 11:20] Ferroin commented on #13186
Most likely not related to https://github.com/netdata/netdata/issues/13178 (that particular issue should not be affecting anything but configuration, and it’s an external issue in webmin).

Regarding updates, stable versions, and such:

- Given that you’re using our native packages, you can switch the system from nightlies to stable updates by manually running `apt-get install netdata-repo` (this

[2022-06-23 11:25] ced1check commented on #13186
Thanks for the info on updates, I suppose removing the edge repo should do it and keep me on stable versions, less frequent updates.

Yes I'm using Ubuntu 21.10, and 21.04 was upgraded to that version a while back, however the repo was not updated. I'll be upgrading the systems to 22.04 sooner or later so it should be no problem, right?

[2022-06-23 11:31] Ferroin commented on #13185
@iigorkarpov That does need fixed, but is tangential to the issue here (the variable being set there is not used at all in the code path that’s causing an issue here).

The issue comes down to `${tmpdir}` being empty on line 806. I’ve found the root cause for that and should have a PR up shortly to fix it.

[2022-06-23 14:26] cakrit opened #13210 "[Bug]: After child disconnection and reconnection, parent returns nulls for anomaly rates"
### Bug description

We saw with @andrewm4894 that after a child node restarted, we started getting nulls for certain highlighted windows in the anomaly advisor. The screenshot is from one of them. We had a similar issue in the past. The weird that for other windows it did return data.

<img width="1674" alt="image" src="https://user-images.githubusercontent.com/43294513/175322705-941ecdc9-09e2-47

[2022-06-23 14:36] andrewm4894 commented on #13210
this is failing because we get all nulls from the anomaly rates chart from the parent for some reason - here is internal slack thread to discuss private since is ip addresses etc involved.

https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1655994946769379

[2022-06-23 17:56] Ferroin commented on #13204
The site in question is proxied through CloudFlare, which had major issues at around the time this issue was opened. Given this, together with the fact that I cannot reporduce it (checking from a dozen different networks worldwide), I’m going to assume that this was a result of the aforementioned issues with CloudFlare and close this.

If you are still seeing this issue, please comment here and we

[2022-06-23 17:56] #13204 closed

[2022-06-23 19:10] StiviiK commented on #13204
Unfortunately I am still unable to open an IPv4 connection to that server. Other Websites proxied through Cloudflare seem to be working fine for me.
But also I unterstand you can't really help me there, as it is a problem of my Provider or Cloudflare itself.

[2022-06-23 20:16] amvots opened #13212 "Installed Netdata on Ubuntu via wget but netdata.service is not found[Bug]:"
### Bug description

I installed Netdata via the wget command from the installation doc with all the defaults. But I could not do any of the systemctl commands to query or restart Netdata.

rita@ubuntuServer3:~$ sudo systemctl status netdata
netdata.service
   Loaded: error (Reason: No such file or directory)
   Active: inactive (dead)

### Expected behavior

I expected to something similar to the

[2022-06-23 22:50] TheOldMan2000 opened #13213 "[Bug]: SSL Handshake error (error:00000005:lib(0):func(0):DH lib) on socket 80"
### Bug description

Unable to connect via https port 19999 following nightly update 3-4 days ago. Browser can no longer connect over internet. Netdata Error Log reports:

`netdata INFO  : WEB_SERVER[static1] : You are running an OpenSSL older than 1.1.0, web server will not enable multithreading.`

This is false, I'm using 1.1.1.o:

Server Version: Apache/2.4.54 (cPanel) **OpenSSL/1.1.1o** mod_fc

[2022-06-24 01:18] thiagoftsm commented on #13213
Hello @TheOldMan2000 ,

When I installed a CentOS 7.x VM I have the exactly same information reported by you, but on my environment the OpenSSL is older than `1.1.0`:

[code]
For me to recreate what you are describing I need an information, did you compile `OpenSSL 1.1.1o` on your CentOS? Or did you install the package from a specific repo?

Best regards!

[2022-06-24 07:44] TheOldMan2000 commented on #13213
Hello @thiagoftsm

Thanks for the reply. I just ran the same commands as in your post and I can't believe it, but I get the same version coming back as you! It looks like there are 2 versions installed. I don't know where OpenSSL 1.0.2k-fips came from, but it looks like Netdata is going off that one instead of the version detailed via WHM/Cpanel.

`root@vpsxxx [~]# openssl version
OpenSSL 1.0.2k-f

[2022-06-24 09:09] ilyam8 commented on #13212
Hi, @amvots. Can you try

[code]

[2022-06-24 09:16] TheOldMan2000 commented on #13213
Hello, I just found some info on this issue in this Cpanel topic. I need some sleep to digest it, but it seems to cover the discrepancy we're seeing...

https://forums.cpanel.net/threads/openssl-1-1-1n-should-we-update-it-manually-or-will-it-be-done-by-cpanel-soon.699085/

[2022-06-24 09:32] #13201 closed

[2022-06-24 14:31] ilyam8 commented on #13093
Loading python modules from `/usr/local/etc/netdata/custom-plugins.d/python.d` added in #13214

[2022-06-25 07:55] tuaris commented on #13093
I got (something) working.  I need to push more data to it to see if it makes sense
https://github.com/tuaris/netdata-collectors/tree/master/postfix_delay

However, it's showing up as it's own separate section, even though I have the context setup to be `postfix.delay`:
![image](https://user-images.githubusercontent.com/5660265/175763974-5fdae2dd-e7e2-426a-9f9f-e324fd1fc7b4.png)

Secondly, as I th

[2022-06-25 22:32] rafaelwastaken opened #13218 "[Bug]: qemu VM names not being parsed correctly"
### Bug description

It seems like netdata isn't correctly parsing the name for my qemu VMs.
![image](https://user-images.githubusercontent.com/26192097/175791056-3e6311b3-c1ba-4cca-9948-7fa9b19a133f.png)
For context, these VMs were created using Cockpit (which I believe just uses libvirt) on Arch, and I am currently running the latest netdata nightly as of today (v1.35.0-71-nightly).

After pokin

[2022-06-26 04:26] janislley opened #13219 "[Bug]: Code properties violations found - dereference failure: invalid pointer"
### Bug description

Hello,

We found some potential code failures that might cause a security vulnerability.
To identify this kind of vulnerabilities I used tool ESBMC-WR: https://github.com/thalestas/esbmc-wr

More about the tool: https://arxiv.org/pdf/2102.02368.pdf
Our main objective was to check memory safety properties (e.g., pointer dereference and memory leaks) while
performing the verific

[2022-06-26 16:27] kousu commented on #10627
Yes, that seems about right! I want to be able to see unlive charts, machines that haven't connected. Though eventually I want machines that I've fully taken out of service, or machines that were ephemeral, to get deleted. I have trust that those PRs in progress have a way to handle tuning what counts as permanent vs ephemeral.

[2022-06-27 03:17] matrey opened #13222 "[Bug]: Static build for v1.35.1 installs netdata v1.35.0-2-gfee539f8e"
### Bug description

Static build for v1.35.1 installs netdata v1.35.0-2-gfee539f8e

[code]

The UI then mentions an update is available
![image](https://user-images.githubusercontent.com/5174727/175853281-6b00e8b3-7dcf-49aa-b536-48af903fa748.png)

### Expected behavior

Get the netdata version advertised in the static build name

### Steps to reproduce

Download static package from https://github

[2022-06-27 07:32] svrnwnsch opened #13223 "[Bug]: Anomaly Detection enabled by default for new installation"
### Bug description

I installed netdata in version `v1.35.0-69-g7a14c6ae9` by default my netdata configuration only contains values I want to change. So the `[ml]` section is completely missing.

Running with such a configuration resulted in netdata automatically starting the Anomaly Detection.
The documentation on: https://learn.netdata.cloud/guides/monitor/anomaly-detection still states that th

[2022-06-27 11:40] Ferroin opened #13224 "[Feat]: Properly handle existing installs from distro repos in kickstart script."
### Problem

_No response_

### Description

When attempting to install on a system that has an existing `custom` install created from the local package manager, we should detect that and if possible cleanly replace it.

### Importance

really want

### Value proposition

Users who previously installed the agent through their system package manager without using our tools will be able to cleanly u

[2022-06-27 11:40] #13185 closed

[2022-06-27 11:44] #13071 closed

[2022-06-27 12:24] andrewm4894 commented on #13223
Thanks @svrnwnsch - this is more like a little grey area in our docs. That page you mention was planned to be like a central landing page for all things ML or AD related once we had built out the main features. A while back i had just updated it to have the ml readme section while we built the Anomaly Advisor.

As such it was just a temporary static copy of the [agent ML readme](https://github.com

[2022-06-27 14:03] #13097 closed

[2022-06-27 15:14] #13218 closed

[2022-06-27 16:44] ilyam8 opened #13226 "[Bug]: `custom-plugins.d/` is created under `/etc/netdata` which shouldn't contain executable scripts"
### Bug description

- `custom-plugins.d/` is created under `/etc/netdata`

https://github.com/netdata/netdata/blob/157dafc232de64b3447dbe5f9e3a23c0e2a18e5a/collectors/Makefile.am#L31

- Netdata uses `CONFIG_DIR/custom-plugins.d` as the default

https://github.com/netdata/netdata/blob/157dafc232de64b3447dbe5f9e3a23c0e2a18e5a/collectors/plugins.d/plugins_d.c#L126-L128

### Expected behavior

`custo

[2022-06-27 17:23] cakrit opened #13228 "[Bug]: Old hostname appears in cloud after following all steps to clear it from the agent"
### Bug description

Seems impossible to change a hostname on cloud. The only explanation based on the steps below is that the hostname is stored in an internal DB used by the ACLK, ignoring the actual name that the daemon knows.

### Expected behavior

New hostname should appear upon connection to the cloud.

### Steps to reproduce

- Claim node and see it in a room
- Change `hostname` in `netdat

[2022-06-27 17:24] #13228 closed

[2022-06-27 17:43] cakrit opened #13229 "[Bug]: fping alerts got triggered erroneously"
### Bug description

I cloned a VM where I had an fping running for app.netdata.cloud
Netdata on both VMs generated invalid alerts for latency and quality, for slightly different reasons.
The first VM generated alerts right after a restart.
The second VM generated alerts when it started collecting data. The attached files are from the second VM.

### Expected behavior

Data collection starts/resta

[2022-06-27 17:54] thiagoftsm commented on #13213
Hello @TheOldMan2000 ,

Sorry for the delay to answer, but I was on vacation.
I saw the topic in the `cpanel` channel, and I will try to recreate with the issue with the environment described there and I will bring a fix.

Best regards!

[2022-06-27 20:50] MikeJakubik opened #13230 "[Bug]: kickstart.sh on FreeBSD is all sorts of wrong"
### Bug description

The kickstart script works on FreeBSD for brand new installations, however, it has a number of issues.

1) Installation directory is not complaint with FreeBSD hier, it installs to /usr/local/usr. The use of the last usr directory is unnecessary.
2) Subsequent runs of kickstart fail due to " Found an existing netdata install at /usr/local/usr, but could not determine the insta

[2022-06-27 21:46] MikeJakubik opened #13231 "[Bug]: Committed memory is not calculated properly on FreeBSD"
### Bug description

The Committed_AS (whatever AS means) memory seems wrong on FreeBSD. Netdata shows this as 660MiB, while according to the system it should be 2,012M.  According to the FreeBSD folks, this should be a calculated value of active+inactive memory.

"Wired memory is memory that, for whatever reason, cannot be relocated or swapped at the time of polling. It generally includes IO page

[2022-06-28 07:02] ilyam8 commented on #13231
Relevant comment: https://github.com/netdata/netdata/issues/13172#issuecomment-1164066008

[2022-06-28 09:14] ilyam8 commented on #13229
@cakrit `app.netdata.cloud` is not _pingable_ (no response) 🤷‍♂️ I checked 3 different IP addresses.

Perhaps it depends on domain name -> IP address resolution. Sometimes you get an IP that responds to ICMP.

[2022-06-28 09:49] andrewm4894 opened #13237 "[Bug]: `anomaly_detection.anomaly_rates` sometimes inconsistent with `points=1`"
### Bug description

If i make a request like this to the agent i see the raw data

[code]

Now if i make the window here 30s smaller i can see a subset of above data:

[code]

All fine. The problem is if i do the same 2 requests above but with `points=1` i see some inconsistency.

[code]
now with the smaller window i see:

[code]

The `0` in this last response is the problem, it should be the ave

[2022-06-28 09:59] TheOldMan2000 commented on #13213
Thank you, much appreciated. Hope you had a good break!

I'm unsure why this recently became an issue, from reading the threads at Cpanel forums, it seems that there have always been 2 versions of OpenSSL in on CentOS 7 WHM/EasyApache servers, one in EasyApache and an outdated system version.

My Netdata install still refuses to let me connect to its 19999 Dashboard, so I'm hoping it's something t

[2022-06-28 10:27] thiagoftsm commented on #13213
Hello @TheOldMan2000 ,

Yes it was very good, thank you! :)

I was talking with people from our SRE team (@Ferroin, @maneamarius) about your issue and they reported me that by default the kickstart will always try to use the local environment packages, this means that it will always link against the `OpenSSL 1.0.2`, but `netdata` also allows users to use the `static` version hat is compiled with a

[2022-06-28 11:27] Ferroin commented on #13230
1 is a known bug in the build system itself (though we don’t yet have a dedicated issue for it.

2 is unexpected, but may be related to the first item. I’ll look into this to try and at least figure out what the root cause is.

3 is an issue of our own handling of installation, and needs some further work to resolve (and, TBH, we should work with Clang installed and GCC not installed no matter wha

[2022-06-28 11:29] Ferroin commented on #13230
Correction, we actually do have an issue open for item 1 already, see the discussion near the end of https://github.com/netdata/netdata/issues/12430 (the initial issue was a misunderstanding, but uncovered this particular problem as well).

[2022-06-28 11:54] Ferroin opened #13242 "[Bug]: Building with `--prefix=/foo` installs files to `/foo/usr` when it should not do so."
### Bug description

When building the agent with a prefix, we install files into `usr` under that prefix, even though we should not be doing so.

For example, if installing to `/usr/local` as a prefix, the binaries end up in `/usr/local/usr/bin` and `/usr/local/usr/sbin`, instead of `/usr/local/bin` and `/usr/local/sbin` like they should.

### Expected behavior

Installing in a prefix puts the fi

[2022-06-28 12:00] Ferroin commented on #12430
Closing this in favor of https://github.com/netdata/netdata/issues/13242, which more concretely explains the specific issue that this was being kept open for.

[2022-06-28 12:00] #12430 closed

[2022-06-28 12:11] MikeJakubik commented on #13230
I'd imagine you probably want to use Clang on macOS as well since it is also a part of the base OS.

[2022-06-28 12:17] MikeJakubik commented on #13242
Also, keep in mind the var location is also technically wrong, it goes to /usr/local/var/run/netdata but no freebsd port that i know of uses anything like this and instead uses /var, i.e. /var/db/netdata, /var/cache/netdata, or /var/log/netdata. This isn't as much of a deal as the other issue but thought id mention it.

[2022-06-28 12:25] Ferroin commented on #13230
I _think_ we may already do so there. Our dependency handling for builds is unfortunately rather messy right now, so I’m not certain.

I’m double checking internally though to confirm that we have no build issues with Clang, and if that’s the case this particular part will be much easier to fix than I originally expected.

[2022-06-28 12:31] MikeJakubik commented on #13230
That should be the case, it's been building on FreeBSD since Clang 11 and Netdata 1.5.0.

[2022-06-28 13:00] Ferroin commented on #13230
See: https://github.com/netdata/netdata/pull/13243 for item 2.

[2022-06-28 13:29] Ferroin commented on #13242
That’s a very good point, and we will actually need to fix it eventually, though it will likely be more involved than just patching the build system.

[2022-06-28 13:29] #12300 closed

[2022-06-28 13:34] cakrit opened #13246 "[Bug]: web_log plugin should be able to read a file with global read access"
### Bug description

For some reason, if the netdata user on an Ubuntu 20.04 isn't in the `adm` group, it can't parse the apache access log for the go.d plugin web_log. Steps shown below.

### Expected behavior

Global read access should suffice.

### Steps to reproduce

[code]

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No

[2022-06-28 13:40] MikeJakubik commented on #13242
If it helps, you can see how the port patches the installer to use appropriate directories here.

https://github.com/freebsd/freebsd-ports/tree/main/net-mgmt/netdata

[2022-06-28 13:41] cakrit opened #13247 "[Bug]: kickstart doesn't add user netdata to the adm group on Ubuntu 20.04"
### Bug description

The user `netdata` needs to be in user group `adm` for collectors like `web_log` to work. The kickstart script (updater) is supposed to ensure it happens, but it doesn't.

### Expected behavior

Ensure `netdata` is in `adm` after an update to latest.

### Steps to reproduce

- Run kickstart
- Run `groups netdata`

### Installation method

kickstart.sh

### System info

[code]

[2022-06-28 13:59] ilyam8 commented on #13246
Hi. I think the `netdata` user does not have sufficient privileges to list and read files under `/var/log/apache2/`.

Try this

[code]

[2022-06-28 14:41] Ferroin commented on #13247
Cannot reproduce for a new install, only happens on upgrades.

Also, not the responsibility of the kickstart script if it’s an issue with updates, that’s the updater.

Regardless, working on a fix.

[2022-06-28 16:46] CaptInsano commented on #6882
I think you may have a typo here: is it meant to be `--cap-add SYS_ADMIN` not `--cap-add SYS_SYS_ADMIN`?

[2022-06-28 16:56] ilyam8 commented on #6882
Yes, I meant `CAP_SYS_ADMIN`.

[2022-06-28 16:57] TheOldMan2000 commented on #13213
Thanks @thiagoftsm much appreciated!

I read up following that link and made backups then ran your command as root.
I don't think it's worked for me, as I'm still seeing Netdata error.log complain OpenSSL is out of date and it won't let me connect to the Dashboard via port 19999 as normally does until last week.

`
# uname -a; grep -HvE "^#|URL" /etc/*release
Linux vps71163.inmotionhosting.com 3.1

[2022-06-28 17:19] cakrit commented on #13229
Ok, maybe it stopped being pingable after the migration to AWS. I should have looked more closely to the charts I guess.

[2022-06-28 17:19] #13229 closed

[2022-06-28 17:20] amvots commented on #13212
Hi @ilyam8,
Here are the results from the commands that you asked me to execute on our system:

Last login: Thu Jun 23 16:23:15 2022 from 147.21.64.22
rita@ubuntuServer3:~$ sudo systemctl enable netdata
Failed to issue method call: No such file or directory
rita@ubuntuServer3:~$

rita@ubuntuServer3:~$ sudo systemctl start netdata
Failed to issue method call: Unit netdata.service failed to load: No

[2022-06-28 17:24] cakrit commented on #13246
It needed the following as well
`sudo chmod +rx /var/log/apache2`

[2022-06-28 17:24] #13246 closed

[2022-06-28 23:37] amvots commented on #13212
The netdata.service is installed in the directory /opt/netdata/system/. I added this directory to the $PATH but the service is still not available.

[2022-06-29 01:53] Garahk opened #13251 "[Bug]: container name resolution doesn't work - kind cluster"
### Bug description

I have a VM test environment, where a k8s cluster has been deployed using kind. There I deployed netdata using helm charts

Besides the docker container where Kind cluster is mounted, kubelet and kubeproxy sections, the rest is a long list of what I assume are the pods of the cluster, no identifiable names, picture attached

![image](https://user-images.githubusercontent.com/9

[2022-06-29 07:31] maneamarius opened #13253 "[FEAT] eBPF CO-RE - implement test automation"
[eBPF CO-RE](https://github.com/netdata/ebpf-co-re) needs to be tested.
We need CI in place which will test at PR that the binaries work as expected on all supported platforms.

[2022-06-29 08:04] Ferroin commented on #7773
We’re in the process of migrating to new repository hosting infrastructure, and this will be handled as part of that migration.

[2022-06-29 08:12] Ferroin commented on #11183
Closing this as a duplicate of https://github.com/netdata/netdata/issues/7773.

As mentioned in the most recent comment there, this should be handled as part of the aforementioned migration from PackageCloud to self-hosted repos (we already need GPG set up properly to sign the repo metadata, so signing packages will be trivial to add as well).

[2022-06-29 08:12] #11183 closed

[2022-06-29 09:10] cpipilas commented on #13210
@andrewm4894 what was the version used?

[2022-06-29 09:29] Ferroin commented on #13186
Quick update based on internal discussion:

My initial comment that this was probably unrelated to https://github.com/netdata/netdata/issues/13178 may be wrong. If non-default settings for the dbengine (or history if you’re using something other than dbengine for storage), then the issue in #13178 would result in that being reset to the defaults, which in turn would wipe any excess history when it

[2022-06-29 09:32] Ferroin commented on #13114
We’ve been unable to reproduce this internally, and between that and the above-mentioned resolution by reinstalling, I’m inclined to believe this was a result of a transient error on the affected system itself.

As such, I’m closing this as unplanned. If we get any other reports of the same issue from other users, we’ll revisit it at that point.

[2022-06-29 09:40] #13085 closed

[2022-06-29 09:52] Ferroin commented on #13063
Closing this due to no response. If we get a response to the above request for more information, we will reopen it.

[2022-06-29 09:52] #13063 closed

[2022-06-29 09:54] ced1check commented on #13186
When this happens I loose all historical data, not just the default. And it may happen without loosing custom configuration.

[2022-06-29 10:01] cpipilas commented on #13018
@Raltrwx what was the kernel version running?
 Would it be possible to update to the latest netdata agent and see if this is still valid?

[2022-06-29 10:30] #12934 closed

[2022-06-29 10:35] cpipilas commented on #12915
Closed, a lot of fixes introduced recently. If the problem still persists, please comment.

[2022-06-29 10:37] vlvkobal commented on #12922
We can't fix this at the moment because of the current design of charts and variables. We are going to redesign the chart and variable naming in the coming (braking) changes to Netdata.

[2022-06-29 10:37] #12922 closed

[2022-06-29 10:50] #12821 closed, assigned to iigorkarpov

[2022-06-29 10:52] Ferroin commented on #12893
This is expected behavior (other than needing to manually set permissions on the plugin itself) from our perspective. The IPMI (and CUPS) plugin is split out as a separate package for native packages so that users who don’t actually need it don’t end up having to deal with all the dependencies brought in by FreeIPMI, and we also intentionally have it listed as a suggested package (soft dependency,

[2022-06-29 10:52] cpipilas commented on #12816
@bnesbitt would it possible to re-test with latest version?

[2022-06-29 10:53] Ferroin commented on #12871
Closing this as it appears to have been an issue with user configuration.

[2022-06-29 10:53] #12871 closed

[2022-06-29 10:54] cpipilas commented on #12780
@srozinov would it be possible to update to the latest version and  re-test?

[2022-06-29 10:55] #13012 closed

[2022-06-29 10:57] Ferroin commented on #12717
Closing this as it should be resolved now that https://github.com/netdata/netdata/pull/13206 has been merged.

If this is still an issue, please comment and we will reopen it.

[2022-06-29 10:57] #12717 closed

[2022-06-29 11:00] Ferroin commented on #13034
Closing as duplicate of https://github.com/netdata/netdata/issues/12427

[2022-06-29 11:00] #13034 closed

[2022-06-29 11:00] cpipilas commented on #12740
Closing due to inactivity.

[2022-06-29 11:00] #12740 closed

[2022-06-29 11:07] cpipilas commented on #12578
A few related bugs have been fixed  lately, please reopen if it's still an issue.

[2022-06-29 11:17] Ferroin commented on #12485
On further inspection, we are probably not setting the correct permissions on the freeipmi plugin on install, which in turn would cause the issues described with debugging.

[2022-06-29 11:21] cpipilas commented on #12396
@underhood what is the latest status on this?

[2022-06-29 11:23] cpipilas commented on #12360
@sashwathn do you still have this issue?

[2022-06-29 11:29] cpipilas commented on #12303
@Divya-kalluru would be good if you can update to the latest version and show the netdata memory usage during the last two days.

[2022-06-29 11:31] cpipilas commented on #12301
A lot of fixes have been introduced since Mar, please comment if the problem still exists.

[2022-06-29 11:31] #12301 closed

[2022-06-29 11:35] cpipilas commented on #12472
Nodes can now be properly removed from Netdata Cloud

[2022-06-29 11:35] #12472 closed

[2022-06-29 11:39] cpipilas commented on #12232
Closing due to inactivity, updating to latest version would be ideal if the problem still persists.

[2022-06-29 11:39] #12232 closed

[2022-06-29 11:40] cpipilas commented on #12200
Closed, a lot of fixes introduced recently. If the problem still persists, please comment.

[2022-06-29 11:40] #12200 closed

[2022-06-29 11:44] cpipilas commented on #12172
@jacekkolasa any ideas/options to move this forward?

[2022-06-29 11:46] cpipilas commented on #12035
Closing due to no activity.

[2022-06-29 11:46] #12035 closed

[2022-06-29 11:46] Ferroin commented on #12069
Closing this as it should be resolved.

If it’s still an issue, please comment back here and we will reopen it.

[2022-06-29 11:46] #12069 closed

[2022-06-29 11:50] cpipilas commented on #11985
Closing due to inactivity

[2022-06-29 11:50] #11985 closed

[2022-06-29 11:53] cpipilas commented on #11930
Fixed in https://github.com/netdata/netdata/pull/11931

[2022-06-29 12:13] srozinov commented on #12780
Yes after update the issue has gone. OK to close it, thanks!

[2022-06-29 12:13] #12780 closed

[2022-06-29 12:50] cpipilas commented on #11890
Closing this issue due to inactivity, update to the latest netdata version and let us know if the issue is still valid.

[2022-06-29 12:57] cpipilas commented on #11736
Issues related with installing on FreeBSD have been fixed.
Currently pfSense is not properly supported but we consider this in our future roadmap.

[2022-06-29 13:01] cpipilas commented on #11615
@ilyam8 Has been fixed in the latest Netdata version

[2022-06-29 13:01] #11615 closed

[2022-06-29 13:03] cpipilas commented on #11602
@andrewm4894 any updates on this?

[2022-06-29 13:04] cpipilas commented on #11590
No longer relevant

[2022-06-29 13:04] #11590 closed

[2022-06-29 13:16] cpipilas commented on #11477
node.d plugin has been deprecated in recent versions.

[2022-06-29 13:16] #11477 closed

[2022-06-29 13:24] cpipilas commented on #11415
This is a know issue, more info -> https://learn.netdata.cloud/docs/agent/running-behind-nginx
We consider reworking this on a future release.

[2022-06-29 13:24] #11415 closed

[2022-06-29 13:29] cpipilas commented on #11347
Closing due to no activity. If it's still persists please add a comment.

[2022-06-29 13:32] thiagoftsm commented on #13213
Hello @TheOldMan2000 ,

I created a VM running CentOS from scratch and after this I installed netdata:

[code]

I went to directory `/opt/netdata/etc/netdata/ssl` and I created self signed certificates and after this I adjusted the permissions:

[code]

Finally I accessed the dashboard using `Mozilla Firefox 102.0` and when I took a look at `access.log` I did not have the error:

[code]

It called

[2022-06-29 13:49] cpipilas commented on #11214
Fixed in latest versions

[2022-06-29 13:49] #11214 closed

[2022-06-29 13:50] #11191 closed

[2022-06-29 13:54] cpipilas commented on #10989
Fixed in the latest releases.

[2022-06-29 13:54] #10989 closed

[2022-06-29 14:04] Ferroin commented on #10721
Given that we have never been able to reliably reproduce this one, and we _think_ it’s fixed now, I’m closing it.

[2022-06-29 14:04] #10721 closed

[2022-06-29 14:06] cpipilas commented on #11379
Closing in favour of https://github.com/netdata/netdata/issues/10627

[2022-06-29 14:06] #11379 closed

[2022-06-29 14:07] cpipilas commented on #10548
Fixed  in  the latest releases

[2022-06-29 14:09] cpipilas commented on #10539
Fixed in the latest releases

[2022-06-29 14:09] #10539 closed

[2022-06-29 14:17] cpipilas commented on #10390
Original issue has been fixed.

[2022-06-29 14:17] #10390 closed

[2022-06-29 14:19] #10362 closed

[2022-06-29 14:31] #9777 closed

[2022-06-29 14:34] cpipilas commented on #9717
@stelfrag please reopen if it's still an issue.

[2022-06-29 14:34] #9717 closed

[2022-06-29 14:41] #9342 closed

[2022-06-29 14:44] cpipilas commented on #9296
Fixed in the latest releases.

[2022-06-29 14:44] #9296 closed

[2022-06-29 14:49] Ferroin commented on #7905
We’re in the process of (finally) migrating to self-hosted package repositories, which will provide unencrypted HTTP access.

[2022-06-29 14:50] cpipilas commented on #6644
Closing due to inactivity. @MrZammler reopen if you think it should be fixed.

[2022-06-29 14:50] #6644 closed

[2022-06-29 15:02] cpipilas commented on #3593
Tested, can't reproduce it in latest versions.

[2022-06-29 15:03] cpipilas commented on #3381
We did several fixes, working as expected now.

[2022-06-29 15:03] #3381 closed

[2022-06-29 16:01] andrewm4894 commented on #11602
@cpipilas i pinged you on this internal slack with the PH guys: https://netdata-cloud.slack.com/archives/C01F31E9PRD/p1633080866040200

I think we should ping them again maybe.

[2022-06-29 16:58] TheOldMan2000 commented on #13213
Ah, thanks for all your help anyway! TBH I can't understand why this was never an issue before last week, I've left it running for a few months but a reinstall seems in order. Presumably I would copy the current 3 backup configs and folders to the static install, except for the netdata.conf, as that would reference and switch back the old /etc/Netdata directories?

[2022-06-29 17:06] TheOldMan2000 commented on #13213
I ran that command again to see what it actually reported, in case you can spot any clues as to why it does work for me...

[code]

[2022-06-29 17:23] amvots commented on #13212
I saw this post but I am not sure if it is still relevant. Should I give this a go? Thanks.

https://samiux.blogspot.com/2016/04/howto-netdata-on-ubuntu-14044-lts.html

[2022-06-29 22:37] fzyzcjy commented on #9777
:(

[2022-06-30 06:20] underhood commented on #12396
@cpipilas this is a relatively small issue, it was not picked up due to what I perceive to be higher prio. things (now for example fixing the mqtt5 problem from yesterday)
it is just a matter of planning, also a good beginner-friendly issue

[2022-06-30 06:24] underhood commented on #12396
In general, it is problem only for bigger parents and `netdatacli aclk-state` command which is to my knowledge the only one which can produce longer output (and only in case there are a lot of children). This same data can be received also by `/api/v1/aclk-state` endpoint.

For those reasons, I consider it a low priority.

[2022-06-30 06:38] #12775 closed

[2022-06-30 07:11] #13139 closed

[2022-06-30 07:57] MrZammler commented on #12876
This is discussed, there is code to test for the functionality (it will be completely new message), and will be tested and PR next week with @vkuznecovas .

We'll keep it open, and close it when it works.

[2022-06-30 08:10] thiagoftsm commented on #13213
As I said previously, I had the same issue when I updated a browser. I do not use neither `CentOS` nor `Cpanel` in a high frequency, so the unique conclusion I can arrive right now, it is they manage to update packages in a way that the issue was generated recently.

When you pass the argument `--static-only` it will start using directory `/opt/netdata/etc/netdaa` instead `/etc/netdata.

[2022-06-30 08:12] maneamarius opened #13268 "Automate updating all Vagrant boxes on cache.netdata.cloud"
We need to automate the process of updating all Vagrant boxes on cache.netdata.cloud, so we have newest machines to use in testing.
Acceptance criteria:
 - scripts are in place which allow updating the boxes
 - cron job is created to run the update every day at 9pm
 - the list of boxes is according to the list of supported distros in`netdata/.github/data/distros.yml`
 - execute manually the update

[2022-06-30 08:41] svrnwnsch commented on #13223
Okay I was not aware of the change to have `ml.enabled = true` by default. I only checked the release notes. This caused some performance problems on my VM due to now higher CPU usage of netdata.

[2022-06-30 12:55] underhood opened #13278 "[Bug]: Lot of timeouts waiting for agent reply, part of #incident-41"
### Bug description

an unusually high amount of timeouts on queries to the agent from the cloud
this also causes initial sync to be way too slow

additional issues found during incident-41 have to be investigated/fixed separately

### Expected behavior

no timeouts if the network connection is OK

### Steps to reproduce

1. claim new agent with mqtt5 enabled
2.
3.
...

### Installation method

ot

[2022-06-30 12:58] hugovalente-pm opened #13279 "[Bug]: Alpine linux native package install get v1.31.0"
### Bug description

When installing netdata using the Alpine linux native packages we get the version `1.31.0`
This is a major issue because this version can never connect to Cloud due to the new architecture (protobuf dependencies).

### Expected behavior

Using native packages would expect to get a more recent version: nightly or stable

### Steps to reproduce

1. On an Alpine Linux do `apk add

[2022-06-30 13:04] Ferroin commented on #13279
We do not provide or maintain the packages in the Alpine repositories, therefore this is out of scope for our packaging work.

[2022-06-30 13:09] underhood commented on #13279
https://pkgs.alpinelinux.org/package/edge/community/x86_64/netdata

yes it is at latest version but without cloud (no protobuf)

[2022-06-30 13:12] ilyam8 commented on #13279
👍

[2022-06-30 13:15] Ferroin commented on #13279
The protobuf thing is indeed something we need to fix.

The package version thing is something we _cannot_ fix.

Also, for the record, you _can_ update Alpine in-place in WSL using exactly the same mechanisms that you would use to update a persistent install.

[2022-06-30 13:16] hugovalente-pm commented on #13279
yes, that was what I was going to try now. was just mentioning how I got the 3.15 installed in the first place

[2022-06-30 13:52] hugovalente-pm commented on #13279
for reference, an e-mail has been sent to the maintainer to try to get the dependency on google protobuf library for the latest Alpine Linux 3.16

[2022-06-30 14:09] TheOldMan2000 commented on #13213
Thank you both, much appreciated. I'm using an iPad with the latest iPadOS to view it and I test via SSLLabs and get A+ for the server hostname itself (which is how I connect to Netdata), and each of my website domains the same rating, and all provide TLSv1.2 and TLSv1.3 fine (even with Cloudflare disabled for my actual websites).

 I will certainly try the option to put it behind Apache. I tried

[2022-06-30 14:26] #13231 closed

[2022-06-30 15:41] #13278 closed

[2022-06-30 16:07] svrnwnsch commented on #13223
There is a low level 2cpu b-series vm (Standard_B2s) on azure running they have some credits on how much CPU you can use.
There are some docker images running. Netdata is collecting 2.565 metrics every 2 seconds.
It seemed that the CPU usage of netdata increased over time after installation.
I assume over time more and more data existed to train the ML algorithm which caused higher CPU usage.

At

[2022-06-30 17:37] andrewm4894 commented on #13223
hmm - thanks @svrnwnsch i'll try recreate a similar set up on such Azure VM and see what i can see.

It will by default max out at last `14400`, so ~4 hours, observations based on the `maximum num samples to train` param.

https://learn.netdata.cloud/docs/agent/ml#configuration

So after its had 4-5 hours it should sort of be in a steady state in terms of the ML overhead.

Anyway - ill have a look

[2022-06-30 17:39] andrewm4894 commented on #13223
adding PR to clean up the original docs as reference: https://github.com/netdata/netdata/pull/13238

[2022-06-30 17:50] luisj1983 opened #13315 "SNMP: Missing chart dimension algorithm defaults dimension to 'absolute'"
Using the SNMP Go module, if I specify a single chart with two dimensions and specify the algorithm to be used in the first dimension to be 'incremental' but omit the algorithm for the second dimension then the second dimension defaults to 'absolute'.

If you run the SNMP in debug mode then it will show the algorithm as empty: ''
This should show what the actual running value is, such as in this c

[2022-06-30 18:34] CreeperFace00 opened #13283 "[Bug]: tls_collect_extensions:unsolicited extension when streaming metrics using SSL"
### Bug description

When configuring Netdata child agents to stream metrics to a parent agent using SSL, the connection fails.

Relevant output of error.log when the connection fails:

2022-06-30 16:20:52: netdata INFO  : STREAM_SENDER[arm1] : STREAM arm1 [send to netdata.mydomain.com:20000]: initializing communication...
2022-06-30 16:20:52: netdata ERROR : STREAM_SENDER[arm1] : SSL RFC4158 chec

[2022-06-30 18:35] marliyev opened #13284 "[Bug]: service cant start"
### Bug description

netdata agent service cant start on client

Ubuntu 20.04.4 LTS
Linux 5.4.0-109-generic
netdata v1.35.0-104-nightly

### Expected behavior

N/A

### Steps to reproduce

1.

### Screenshots

_No response_

### Error Logs

kernel: [4484994.051211] netdata[2946070]: segfault at 318 ip 000055acc6f89cf4 sp 00007ffd77bd7310 error 4 in netdata[55acc6e20000+359000]
 kernel: [4484994.05

[2022-07-01 05:50] razielin commented on #10548
@stelfrag @cpipilas
I am still experiencing this problem, so it's not fixed.
Yesterday, I have updated netdata to the latest version (v1.35.1), It looks like the probability of the bug occurrence has decreased. Right now I have 15 slave netdata nodes. Previously this bug occurred  every hour or so, now it's about just once per 4 hours.

[2022-07-01 06:45] maneamarius commented on #13268
resolved

[2022-07-01 06:45] #13268 closed

[2022-07-01 08:13] hugovalente-pm commented on #13284
@marliyev could you aslo share
* Netdata build info
[code]

* the [installation method](https://learn.netdata.cloud/docs/agent/packaging/installer#alternative-methods) you used.

![image](https://user-images.githubusercontent.com/82235632/176853733-d606125b-bf5e-49dc-b339-dd776afac719.png)

[2022-07-01 08:36] marliyev commented on #13284
netdata -W buildinfo
Version: netdata v1.35.0-123-nightly
Configure options:  '--build=x86_64-linux-gnu' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--disable-silent-rules' '--libdir=${prefix}/lib/x86_64-linux-gnu' '--libexecdir=${prefix}/lib/x86_64-linux-gnu' '--disable-maintainer-mode' '--prefix=/usr' '--sysconfdir=/etc' '--localstatedir=/var

[2022-07-01 09:57] MrZammler commented on #10548
Hi @razielin !

Could you please do the following on the parent node: ?

* Enable debugging of health. You can do that by un-commenting the line `debug flags` in `netdata.conf` and using the value of `0x0000000000800000` for it.
* Let it run for a while, at least until you notice the parent has stopped running health for a child.
* Share the `error.log` and `debug.log` to `manolis@netdata.cloud`.

[2022-07-01 10:20] socialityCoop commented on #11602
I found a workaround that is ok for us, that is to add `--disable-telemetry --disable-cloud` on executing kickstart.sh.
We don't use cloud, for our scopes this excellent documentation by Netdata is ok:
https://learn.netdata.cloud/docs/agent/running-behind-nginx
I don't know which of the two parameters actually eliminates the cookie problem, I'll try to update the thread on this.

[2022-07-01 10:48] MrZammler commented on #13284
Hi @marliyev

Can you please attach a snippet of `error.log` during the attempt to start? Thanks!

[2022-07-01 11:08] feliperaul commented on #8041
I'm also facing this on netdata v1.35.0-123-nightly

[code]

Is the recommended fix `rm -rf /opt/netdata/var/lib/netdata/` and `rm -rf /opt/netdata/var/cache/netdata/` ? are these safe to do without stopping netdata first?

[2022-07-01 11:08] andrewm4894 commented on #11602
Thanks @socialityCoop i think we will still defo follow up with the folks from PostHog just to be sure.

I wonder if maybe related to these too:

- https://github.com/PostHog/posthog-js/issues/251
- https://github.com/PostHog/posthog-js/issues/168

I guess the reason for this default maybe it mentioned here:

https://posthog.com/docs/integrate/client/js#website-vs-app

![image](https://user-images

[2022-07-01 11:16] underhood opened #13286 "[Feat]: Log protobuf messages of ACLK into aclk.log for easier debugging"
### Problem

_No response_

### Description

Allow building of netdata in a mode it will log Agent<->Cloud communication in plain-text for easier debugging and troubleshooting

Current solution with https://github.com/netdata/aclk_log_viewer was marked as not sufficient by @ktsaou due to it not alowing to do operations like grep etc. that would be otherwise possible on plain text log.

### Importa

[2022-07-01 11:32] marliyev commented on #13284
2022-07-01 11:29:53: netdata INFO  : MAIN : Scanning file "/var/cache/netdata/dbengine/journalfile-1-0000001387.njf"
2022-07-01 11:29:53: netdata INFO  : MAIN : Scanning file "/var/cache/netdata/dbengine/journalfile-1-0000001388.njf"
2022-07-01 11:29:53: netdata INFO  : MAIN : Scanning file "/var/cache/netdata/dbengine/journalfile-1-0000001389.njf"
2022-07-01 11:29:53: netdata INFO  : MAIN : Scann

[2022-07-01 11:55] Ferroin commented on #13213
I’m not quite as versed in configuration with Apache as with NGinx or H2O, but from your description it sounds like it might make the most sense to put Netdata in it’s own virtual host. I have no idea what may be needed to integrate that with Cpanel or WHM though.

---

On a side note, closing this as the original issue is effectively resolved (by having multiple workarounds). We can continue the

[2022-07-01 11:55] #13213 closed

[2022-07-01 14:37] #13090 closed

[2022-07-01 14:38] TheOldMan2000 commented on #13213
Thank you, I'll have a play around with it. It's certainly frustrating how they let CentOS7 continue to run an insecure encryption system without updating it. I expect my host will move to Almalinux or Lightspeed at some point this year, especially now that WHM/Cpanel are dropping support soon.

[2022-07-01 19:31] TheOldMan2000 commented on #13213
I couldn't get it work by putting it behind Apache, same thing happens. The Apache access and Netdata access logs show I'm connecting, I get 200 http codes, but the Netdata error log shows the same errors every time I try to connect via any of my virtual hosts or the server host name with /netdata folders.

[2022-07-01 20:39] TheOldMan2000 commented on #13213
I managed to get Netdata working again.

I did an uninstall then ran the static command and it this time it installed in the /opt/netdata/etc/netdata folder (yuck!).

`curl https://my-netdata.io/kickstart.sh > /tmp/netdata-kickstart.sh && sh /tmp/netdata-kickstart.sh --static-only --static-install-options --disable-telemetry --disable-cloud`

I saw the installer mentioned it was accessing /etc/ssl

[2022-07-01 21:29] Divya-kalluru commented on #12303
@cpipilas Sure. What is the latest stable version of NETDATA? just wanted to make sure that I bump the same version.

[2022-07-01 21:45] synthead opened #13292 "[Bug]: Applications > mem shows high email usage when exim, postfix, and dovecot aren't installed"
### Bug description

The email metric in Applications > mem shows high memory usage on my box:

![image](https://user-images.githubusercontent.com/820984/176970857-8c690f43-0c06-49d1-886c-c87751fa5fd9.png)

The documentation says that this metric gathers data about exim, postfix, and dovecot usage:  https://github.com/netdata/netdata/blob/master/collectors/COLLECTORS.md#email=

However, exim, post

[2022-07-02 06:39] razielin commented on #10548
Hi @MrZammler
Do I need to compile netdata from source to enable debugging?
I'm using docker netdata image from Docker Hub. I set `debug flags = 0x0000000000000000` and changed default `debug log` path to `debug log = /var/log/netdata/debug2.log` because default log path values are symlinks to stdout/stderr. I also changed `error log` and `access log` paths in `netdata.conf`:
[code]
But the `debug

[2022-07-02 06:42] razielin commented on #10548
@MrZammler
Here is my `stream.conf`:
[code]

[2022-07-03 04:36] entrptaher commented on #8041
Faced same false alert with netdata v1.35.0-127-nightly

![image](https://user-images.githubusercontent.com/8284972/177024779-e68eae82-5ad8-4c54-9d3f-5c44bcd980c2.png)

[2022-07-03 08:48] ilyam8 commented on #13292
Hi, @synthead. "Applications > mem" metric source is [apps.plugin](https://github.com/netdata/netdata/tree/master/collectors/apps.plugin#appsplugin).

- It collects processes metrics (not application-specific metrics) and groups them. So the metrics are per **process groups**. Data collection is reading `/proc/PID/stat` and `/proc/PID/status` for every process.
- Process/group mapping is done by m

[2022-07-03 15:07] aehlke commented on #12204
Upstream now moved it to scheduled for their upcoming sprint, and have asked for any input on what metrics would be helpful - any experience to offer them on that point?

[2022-07-03 15:13] tms0 opened #13293 "[Bug]: Latest stable static version (1.35.1) prints wrong version number (and break updater)"
### Bug description

The latest stable static version (1.35.1) prints a wrong version number (netdata v1.35.0-2-gfee539f8e), it causes the updater script to trigger an update each time it runs.

### Expected behavior

The version number should be the correct one (1.35.1-xxxx)

### Steps to reproduce

Run kickstart script twice on a fresh install:

[code]

### Installation method

kickstart.sh

###

[2022-07-03 18:24] shyamvalsan opened #13294 "[Feat]: Post install if the agent cannot connect to cloud the reason for it should be sent to cloud UI via HTTPs"
### Problem

When Netdata agent installs successfully using kickstart/claim script - but is not able to connect to cloud for whatever reason - the fact of and reason for this should be communicated to the cloud UI for the user to see. Currently the UI just shows the nodes as offline with no explanation why.

### Description

If the Netdata agent, post install from the kickstart claim script, fails

[2022-07-03 18:27] shyamvalsan commented on #13294
cc: @cpipilas @ktsaou @hugovalente-pm

We've started work on BE (and soon FE) to detect nodes that are disconnected post install and show appropriate information to users, but the work described in this ticket would be needed from agent side to ensure we can provide accurate steps to recover.

[2022-07-04 04:00] entrptaher commented on #8041
This is continuously getting same critical error for last few days. The redis logs says it's perfectly fine.

![image](https://user-images.githubusercontent.com/8284972/177079212-8d15ea4c-c0c1-4fd8-a68e-b11801da32fd.png)

[2022-07-04 06:23] haomi123 commented on #13293
I think that's because of the  netdata-x86_64-v1.35.1.gz.run

[2022-07-04 07:31] iigorkarpov commented on #12904
The statement about conflicting packages is not really true for RPM. There you can disallow and allow repositories without removing them. I did this when I wrote Ansible playbooks and it works.

[2022-07-04 08:36] MrZammler commented on #8041
Hi all.

Could you please enable debug mode for health (in netdata.conf use `0x0000000000800000` in `debug flags`), restart netdata, wait for the alert to be raised, and then share the `debug.log` to `manolis@netdata.cloud` ?

If also possible, can you check the local agent dashboard when the alarm is raised to see if the alert is also raised there?

Thanks!

[2022-07-04 08:58] MrZammler commented on #13222
Hi guys, thanks for the reports, we will have a look asap.

[2022-07-04 09:01] ilyam8 commented on #13293
Closing as duplicate of #13222

[2022-07-04 09:13] dimko commented on #10548
@razielin @MrZammler just a note here, after editing the netdata.conf inside the docker container a restart of the agent is required for the new config to take effect. Also please keep in mind that editing the netdata.conf directly requires to uncomment the line in order to override the default value.

An alternative to directly editing the **netdata.conf** is using the netdatacli to edit those va

[2022-07-04 10:37] ilyam8 commented on #8041
@entrptaher, thanks for reporting the problem. Fixed in #13296.

[2022-07-04 11:21] vkalintiris opened #13297 "[Bug]: Active-active grandparent reports only immediate children on restart."
### Bug description

Setting up the following active-active hierarchy works correctly:

![graphviz](https://user-images.githubusercontent.com/25480816/177138562-06bc6c05-c07e-4b18-96c8-6397e48b76c3.svg)

That is, `ggp1`'s dashboard reports all the nodes, `gp1` reports all nodes except for `ggp1` and `ggp2`, etc.

However, after restarting `gp1` a couple times and visiting its dashboard, I can see

[2022-07-04 11:22] #12890 closed

[2022-07-04 11:30] MrZammler commented on #13297
Hi @vkalintiris . Will check this.

[2022-07-04 11:35] vkalintiris commented on #13297
@MrZammler for the time being I'm only interested in having the team look into the logs that I've attached, in case I've missed something.

I'll try to reproduce this with a smaller/simpler hierarchy of nodes, I created the issue with the full hierarchy of nodes in order to have this available for future reference.

[2022-07-04 11:38] MrZammler commented on #13297
Do note (in case it matters) there is a small delay between reconnects (and we should get rid of that), i.e. when disconnecting from one destination and go to another, do allow some time (~30 secs) before the new connection is activated to check the dashboard.

[2022-07-04 11:44] vkalintiris commented on #13297
Right, I've let the whole thing run for ~30 mins. Also, the issue persists even when restarting `gp1` again (which makes me suspect the sender part of the connection is the culprit).

[2022-07-04 12:19] #13292 closed

[2022-07-04 12:46] MrZammler commented on #12303
Hi @Divya-kalluru ! Latest stable is 1.35.1.

[2022-07-04 13:55] maneamarius commented on #13222
For what is worth, I've tested the previous release `1.35.0` and it has a similar issue.
The version reported there is `v1.34.0-293-ge61633a9e`

[2022-07-04 14:28] andrewm4894 commented on #13223
I have a b1s and b2s node running on Azure and have ML enabled. Going to give it 24 hours and see how things look then in Netdata and Azure monitoring.

[2022-07-04 14:37] vkalintiris opened #13298 "[Bug]: Fix (possible) data races in the agent"
### Bug description

When running netdata under helgrind reports many issues, rendering the tool effectively unusable when trying to verify the correctness of our changes due to the noise.

I'm opening this issue so that we can fix the low-hanging fruit first. Thankfully, most of them seem to be related to non-atomic variables RD/RW accesses. However, some of these variables are used as guards for

[2022-07-04 15:16] hugovalente-pm commented on #13294
thanks for the visibility @shyamvalsan, the BE work you are speaking about is this right? Identify newly claimed nodes which are disconnected from cloud netdata/cloud-backend#253

@cpipilas @stelfrag do you think we can prioritize this work on agent side?

[2022-07-04 17:58] Garahk commented on #13251
Hello @ilyam8 let me know if there's any other information missing, I'll be glad to provide. I understand there's a lot of issues to take care, let me just add that this is my testing server, however we have a dozen production servers which were recently migrated to K8s, waiting for the testing server to work so that we can apply Netdata to the others.

[2022-07-04 18:15] ilyam8 commented on #13251
@Garahk, hey. I just installed a kind cluster and Netdata. I see it is not only the name resolution is broken but cgroups monitoring in general:

<img width="1626" alt="Screenshot 2022-07-04 at 21 15 20" src="https://user-images.githubusercontent.com/22274335/177202763-1543db69-0028-48b4-9453-4448d2adb18e.png">

[2022-07-04 19:24] Garahk commented on #13251
@ilyam8 Regarding the cgroups, I wasn't sure if it was due to the naming or something else, didn't think of including, my apologies

[2022-07-04 20:52] thiagoftsm commented on #13213
Hello @TheOldMan2000 ,

Thank you for the additional information, I had some issues past 3 days so I could not write a new PR, but I am already planning for this week to create a PR that will look in more directories to fix this issue,

Best regards!

[2022-07-04 22:02] ayamayab opened #13300 "Service monitoring in Java and GO"
### Problem

Help with viewing requests for services created in Java and Go

### Description

I have NetData cloud mode implemented, but I see information about my k8s, the pods and nodes, but nevertheless I do not see metrics of the services created in Java or GO technology, we want to see metrics such as requests received by the service.

### Importance

nice to have

### Value proposition

1.Be

[2022-07-05 07:19] shyamvalsan commented on #13294
Yes @hugovalente-pm

Without this agent fix, the plan is to do:
- https://github.com/netdata/cloud-backend/issues/253 on BE to identify such nodes
- https://github.com/netdata/cloud-frontend/issues/3594 on FE to notify users about this
- https://github.com/netdata/learn/issues/1080 on Docs for a page to redirect users to

But with this agent fix, we can be more specific about what the user needs t

[2022-07-05 08:27] ilyam8 commented on #13251
Hi, @Garahk. Can you test `ilyam8/netdata-test-for-github` image? It is built using the #13302 branch.

[2022-07-05 08:36] marliyev commented on #13284
hi team, any update? i have 400 nodes and 90 of them unreachable coz of this issue, service not starting and some of them service up but still unreachable.

[2022-07-05 08:48] MrZammler commented on #13284
Hi @marliyev sorry for the late reply. Do you have `coredumpctl` installed? Can you check for `coredumpctl list` if there is something for netdata?

[2022-07-05 08:55] MrZammler commented on #13284
Also, does every failed start ends with `Health configuration for alarm 'oom_kill' cannot be applied, because the host k8s-prod-master01 does not have the label(s) '_is_k8s_node=false'` ?

Can you check if removing this alert (https://github.com/netdata/netdata/blob/dd01f896b466ed8411d58a816db8de2b940f7265/health/health.d/ram.conf#L36-L47) from `/usr/lib/netdata/conf.d/health.d/ram.conf` (it shoul

[2022-07-05 09:15] andrewm4894 commented on #13223
I have had both a b1s (dev) and b2s (dev-b2s) running for 24 hours now just with default set up - looks like about 1500 metrics on each by default. Both running `v1.35.0-130-nightly`.

All looking ok to me in terms of the ML running fine with little overhead as far as i can see. Obviously with nothing else going on these machines this is not conclusive or anything but i just wanted to make sure at

[2022-07-05 09:25] marliyev commented on #13284
coredumpctl list
TIME                            PID   UID   GID SIG COREFILE  EXE
Tue 2022-07-05 09:23:28 UTC  2996884   112   119  11 present   /usr/sbin/netdata

i put this alert to silent, cant start

[2022-07-05 09:25] andrewm4894 opened #13303 "[Feat]: Improved Netdata usage/overhead telemetry"
### Problem

Currently we depend on users reporting Netdata overhead and impact issues. This is too reactive and can lead to bad user experiences.

### Description

We should collect some key Netdata performance measures as part of existing telemetry events such that we can easily spot areas where netdata seems to be mis-behaving.

I would suggest that in the META telemetry events that agents send

[2022-07-05 09:27] marliyev commented on #13284
ahm, removed this alert completely from file and service started, looks good now

[2022-07-05 09:40] marliyev commented on #13284
its directly installed on node not on k8s cluster, netdata on on k8s not working, after deploy showing all pods crashloopback

[2022-07-05 10:25] ilyam8 opened #13304 "[Bug]: netdata crashes in `rrdcalc_labels_unlink_alarm_loop()`"
### Bug description

Netdata crashes on start in `rrdcalc_labels_unlink_alarm_loop()` when health [host_labels](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-host-labels) line contains a  label name/value that the host has no.

- coredump

[code]

- valgrind report

[code]

### Expected behavior

Netdata doesn't crash.

### Steps to reproduce

1. Change https://github.com/netd

[2022-07-05 10:32] ilyam8 commented on #13284
I bumped into the same problem today, closing this issue in favor of #13304 because it is a more specific - condition when Netdata crashes and steps on how to reproduce it.

[2022-07-05 10:32] #13284 closed

[2022-07-05 10:47] marliyev opened #13307 "[Bug]: netdata on kubernetes crashing"
### Bug description

new deployment of netdata on k8s cluster all pods crashing

### Expected behavior

n/a

### Steps to reproduce

1.
2.
3.
...

### Installation method

helmchart (kubernetes)

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-07-05 11:02] ilyam8 commented on #13307
Hi, @marliyev. Can you provide more details, e.g.:

- bare-metal/VM or Cloud?
- have you changed any values in the helmchart or just installed using defaults?
- what do you mean by "crashed"? What commands did you use to identify that? Can you share the commands/output?
- did you check Netdata containers logs?

[2022-07-05 11:10] marliyev commented on #13307
VM
default
kubectel get pods -> all crashed
container logs shows just crashed
i am tried on 10 new k8s cluster, same, netdata just crashing

[2022-07-05 11:17] ilyam8 commented on #13307
Thanks, but I am still not clear what "crashed" is. Can you share both the command output and the logs? Thanks in advance!

[2022-07-05 11:33] marliyev commented on #13307
i think you never deployed netdata on k8s cluster! coz netdata not working on k8s!

[2022-07-05 11:40] marliyev commented on #13307
kubectl describe pod netdata-child-62jrv
Name:         netdata-child-62jrv
Namespace:    default
Priority:     0
Node:         k8s-dev-worker04/10.0.7.70
Start Time:   Tue, 05 Jul 2022 11:27:29 +0000
Labels:       app=netdata
              controller-revision-hash=78f5bcc879
              pod-template-generation=1
              release=netdata
              role=child
Annotations:  checksum/config

[2022-07-05 12:08] #13251 closed

[2022-07-05 12:09] ilyam8 commented on #13251
I merged the PR because I tested the changes locally on my kind cluster.

[2022-07-05 12:20] ilyam8 commented on #13307
You can change [.Values.child.port](https://github.com/netdata/helmchart/blob/88db726b409e92b1d5fa461998f9d1a8e6beb097/charts/netdata/values.yaml#L211-L213) (e.g. adding `--set child.port=20000` when installing the helmchart).

Why do you need 2 instances of Netdata running on a host?

[2022-07-05 12:22] #13307 closed

[2022-07-05 12:52] Ferroin commented on #13222
More specifically, it’s something that’s _not_ in the `v1.34` branch, otherwise 1.34.1 would be affected as well. Unfortunately, this is not something we can easily bisect, and there’s a few hundred commits to go through...

[2022-07-05 12:54] marliyev commented on #13307
thanks

[2022-07-05 12:55] marliyev commented on #13284
thanks

[2022-07-05 13:12] JamesReynolds commented on #5887
Summary - add:
[code]
to the end of your config to fix this.

I've found the reason for this. If you're modifying `/etc/netdata/health_alarm_notify.conf` (or that file in `NETDATA_USER_CONFIG_DIR`) then those changes are applied _after_ the defaults. ...and the defaults do this:

[code]
so if you change `DEFAULT_RECIPIENT_EMAIL` it _won't_ affect the value in `role_recipients_email`.

[2022-07-05 13:12] marliyev commented on #13307
cool, thanks a lot ;)

[2022-07-05 13:17] #13304 closed

[2022-07-05 14:00] jacekkolasa commented on #12172
@myin142 is the authentication header sent properly, if the charts are on the same host as the host of the Custom Dashboard?

I've proxied dashboard behind `auth_basic` and the headers seem to be ok.
If you have different hosts in Custom Dashboard, i suggest you setup your routing in nginx config. Maybe it will work when you first access host of those charts directly in the browser, so you're then

[2022-07-05 14:03] Ferroin commented on #13222
I’m starting to wonder whether this might be a timing issue. Given the code involved, the only situation where this should be possible is if the build workflow is getting triggered on the correct commit, but the associated tag is _not_ present in the copy of the repo that it’s checking out.

We’re definitely pushing the tag correctly (see the output of the ‘Commit Changes’ step in https://github.c

[2022-07-05 15:15] ilyam8 commented on #12204
@aehlke I think the developers know better - in general performance and health metrics.

[2022-07-05 15:26] myin142 commented on #12172
I assume so. I needed this because I wanted a single dashboard for multiple servers and I think the same host worked but not the remote host since that needed authentication. But I'm not working on that project anymore. I can't really try things out anymore.

[2022-07-05 15:56] #12172 closed

[2022-07-05 16:09] laurnts commented on #9358
<img width="1531" alt="Screenshot 2022-07-05 at 18 08 42" src="https://user-images.githubusercontent.com/5869140/177370919-f356a327-d2c3-4a2c-8eab-32f407fdbf72.png">
Now there is a delete node button exist! Problem solved! 👍

[2022-07-05 16:55] shyamvalsan opened #13310 "[Bug]: Flood of alerts (python.d_job_last_collected_secs, go.d_job_last_collected_secs) which are not actionable"
### Bug description

Netdata is sending out a huge amount of alert notifications for these two alerts:
- python.d_job_last_collected_secs
- go.d_job_last_collected_secs

### How often do we sent alert notification emails for these alerts?

- In the **last 30 days** these alerts were sent out  **350K** times
- In the **last 7 days** these alerts were sent out **70K** times
- In the **last 24 hours*

[2022-07-05 16:57] Garahk commented on #13251
Hello @ilyam8 , how can I test the fix? As I mentioned I use helm to install netdata, when I try to test it in my cluster, the official image will be downloaded (1.35.1), do I have to wait for the changes to be part of the next release? Or is there any specific way to create the chart/image that has the changes you just added.

Thank you in advace,

BR

[2022-07-05 17:16] ilyam8 commented on #13251
You can test it today by adding `--set image.repository=ilyam8/netdata-test-for-github --set image.tag=latest` to helm install.

[2022-07-05 17:47] Garahk commented on #13251
I tested it like you mentioned, it would seem it now resolves the names correctly, however shouldn't we get CPU/memory statistics as well? Only getting net eth0 metrics on all pods:

![image](https://user-images.githubusercontent.com/99432183/177386262-d1be7d66-da05-423a-adb7-65268e93153f.png)

[2022-07-05 17:55] ilyam8 commented on #13251
For me, it works (see the After screenshot in https://github.com/netdata/netdata/pull/13302). Can you send me a [snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) to `ilya@netdata.cloud`? Also, maybe you need to wait up to 10 seconds until the CPU/mem stats will appear. Did you try to refresh the page later?

[2022-07-05 18:35] Garahk commented on #13251
Apologies you were right, I had it running for some minutes more, and now I see cpu/mem/disk/eth metrics on most of the pods, however I see there are duplicated entries on the list for each pod, I've sent you an snapshot to ilya@netdata.cloud, would you be able to take a look and confirm if it's working properly?

Thank you again.

BR,

[2022-07-06 07:44] ilyam8 commented on #13251
@Garahk, hey.

I see you have metrics for both pods (`k8s_pod_...`) and containers (`k8s_cntr_...`) - by default, we should filter all the pods (don't really need them because a pod metrics is an aggregation of pod containers metrics), but it didn't work in your case.

Let's do the following:

[code]

---

I believe the issues you were having are kind cluster specific - we never tested installing

[2022-07-06 07:51] shyamvalsan commented on #13310
cc: @ktsaou @cakrit @netdata/product

[2022-07-06 11:28] synthead commented on #13292
Interesting, it looks like `zmstat*` was added in 2016 with this PR: https://github.com/netdata/netdata/pull/585

ZoneMinder has a script called `zmstats.pl` that I think is getting picked up as a "mail" client by mistake.  Here's the process running on a machine (via `ps -ef`):

[code]

[2022-07-06 11:34] ilyam8 commented on #13292
I see it was moved from zimbra to email in https://github.com/netdata/netdata/pull/630

[2022-07-06 11:47] ilyam8 commented on #13292
@synthead I think we can exclude that zoneminder script

[code]

[2022-07-06 13:15] thiagoftsm opened #13321 "[Bug]: `--target` works partially with our `*.run`"
### Bug description

When we install netdata with the following command:

[code]

The majority of the files are extracted inside the specified target, but we still need to move the following:

[code]

### Expected behavior

Use `run` files to install in any specified directory.

### Steps to reproduce

1. Run command `./netdata-v1.35.1.gz.run --target /home/vagrant/netdata` and observe that we sti

[2022-07-06 14:00] razielin commented on #10548
@dimko @MrZammler
I tried to add:
[code]
to the end of my netdata's Dockerfile. The resulted netdata start command looks ok
[code]
But still no luck, debug2.log remains empty as with config file.
If I understand correctly the docs, [netdata should be compiled from source to enable debug logging.](https://learn.netdata.cloud/docs/agent/daemon#debugging)
I compiled and installed netdata from source,

[2022-07-06 14:26] Garahk commented on #13251
@ilyam8 , hello,

Attaching here the output of tree command:
[netdata-child-wqrdm_tree-output.log](https://github.com/netdata/netdata/files/9055495/netdata-child-wqrdm_tree-output.log)

Been working with the Netdata version for Docker for quite sometime now and it works flawlessly, but we have some customers that decided to go with Kind for production (temporarily but also indefinitely, while they

[2022-07-06 14:30] ilyam8 commented on #13251
Interesting, I was under the impression that Kind is not for production 😄

Yes, we need to adjust the default filter - that is why I asked you for the `tree` output.

[2022-07-06 14:54] MrZammler commented on #13310
Hi!

There have been some changes in the past week to reduce the number of those alerts. Also we're trying to make alerts more descriptive in general. And we will focus on these last collected more.

[2022-07-06 15:33] ilyam8 commented on #13251
@Garahk the 2nd snapshot looks good, I see there are only `k8s cntr ...` containers (no more `k8s pod ...`). The latest `ilyam8/netdata-test-for-github` is built using the #13324 branch.

[2022-07-06 15:38] Garahk commented on #13251
@ilyam8 Yes, I tested the changes, and they work wonders, seems to me it's in tip-top shape :), glad you could take a look to the snapshot.

On a completely unrelated question, do you know if there's any planning to include a count of expected pods? as in a relation of running vs. expected pods, as to know whether there's a pod that's not coming up (crashloopback or error)

[2022-07-06 15:42] Garahk commented on #13251
@ilyam8 , I know that is to soon to ask, but if I may, when could we expect to have this in the official netdata/helmchart? so as to deploy with:

helm repo add netdata https://netdata.github.io/helmchart/
helm install netdata netdata/netdata

[2022-07-06 15:43] ilyam8 commented on #13251
We recently added [k8s state collector](https://github.com/netdata/go.d.plugin/tree/master/modules/k8s_state#kubernetes-cluster-state-monitoring-with-netdata). I think it provides those metrics, check the docs.

I also [updated netdata helmchart](https://github.com/netdata/helmchart/pull/286): add a new instance (Deployment) with that collector. But the feature is disabled by default because the l

[2022-07-06 15:47] ilyam8 commented on #13251
It is not really helmchart related. The default is using the latest stable Netdata image, but it is configurable. So you have 2 options:

 - keep using stable release - then you wait until we release a new version of Netdata.
 - use nightly Netdata release - no need to wait but it is nightly 😄

[2022-07-06 17:17] timololipop commented on #12915
Same issue here. Local dashboard works, the cloud cannot fetch any data.
`"cloud-enabled": true,
	"cloud-available": true,
	"aclk-ng-available": true,
	"aclk-ng-new-cloud-protocol": true,
	"aclk-legacy-available": false,
	"aclk-implementation": "Next Generation",
	"agent-claimed": true,
	"aclk-available": true,`

I dont know where I need to search.

[2022-07-06 17:44] timololipop opened #13326 "Cloud doesnt receive metrics"
### Bug description

The cloud shows "No data" or 0% although port 19999 is exposed and shows all metrics.
I dont know if it matters, we are in the Telekom OTC, I got the same issue even if I spin up a new server.

![image](https://user-images.githubusercontent.com/25285295/177611203-67788d5f-5239-4144-b188-0448073d3143.png)

<details>
<summary>logs</summary>

[code]

</details>

### Expected beha

[2022-07-06 21:05] ilyam8 commented on #13251
No. The one you used is my personal, it will be `netdata/netdata`. We build `netdata/netdata:latest` every night if there are any changes. So we need to wait when #13324 is merged +1 day.

It is `latest` - `--set image.tag=latest`. I wouldn't recommend using it temporarily for testing, not sure it is a good idea to use it in production.

Correct!

---

I did some changes and rebuilt `ilyam8/netdat

[2022-07-06 23:36] Garahk commented on #13251
Hello @ilyam8,

Ok, I'll monitor then #13324 and wait for it to be merged plus 1 additional day, to find the netdata/netdata:latest to be the winner 😄

I tested it, looks great, sent you a snapshot as well from this latest test.

[2022-07-07 06:39] MrZammler commented on #13326
Hi @timololipop ! So the logs show at least that the chart definitions and alerts, i.e. protobuf messages are exchanged between cloud and agent. So you have in the cloud the charts, but not data.

What you're missing is `data` requests from cloud to the agent to display the actual metrics. From the logs these doesn't appear to be reaching the agent (you should see something like `2022-06-16 13:18:

[2022-07-07 08:22] Isalg opened #13329 "ACLK-available-is-false"
### Bug description

Cannot connect node to Netdata Cloud.

### Expected behavior

Visualize node through Netdata Cloud.

### Steps to reproduce

1. Install Netdata using docker container
2. Wait the container to be ready
3. Check Netdata Cloud, the node appears offline

### Installation method

docker

### System info

[code]

### Netdata build info

[code]

### Additional info

In the logs the f

[2022-07-07 08:34] Isalg commented on #13329
More info:

[code]

[2022-07-07 08:58] Isalg commented on #13329
# openssl version
OpenSSL 1.0.2k-fips  26 Jan 2017

[2022-07-07 11:34] MrZammler commented on #12876
Closing in favor of #13330 .

[2022-07-07 11:38] MrZammler commented on #13329
Hi @Isalg !

Can you please post the contents of the file `/var/lib/netdata/cloud.d/cloud.conf` ?

Thanks!

[2022-07-07 11:38] marliyev commented on #13307
ok, thanks, anyone can help with this issue?

[2022-07-07 11:49] Isalg commented on #13329
Yes of course:
[code]

I have another node with same problem, the logs are similiar:

[code]

The openssl version I told before is wrong, the container openssl version is this one:

[code]

Both nodes with problem to connect have 1.1.1q version.

I checked the openssl version in other node with docker installation which is running properly and it is 1.1.1p:

[code]
Could be a problem with openssl

[2022-07-07 11:57] marliyev commented on #13307
fixed by deleting helm deployed filesystem pvc and recreating local pvc

[2022-07-07 12:54] thiagoftsm commented on #2324
Hello @igolemanski ,

You can select the charts that you want to send for netdata parent using the option [send charts matching](https://learn.netdata.cloud/docs/metrics-storage-management/reference-streaming#send-charts-matching) inside the configuration file `stream.conf`.

Best regards!

[2022-07-07 14:48] igolemanski commented on #2324
Thank you for the advice! I have done it and it works when I am directly logged in to the child I can see the limited metrics. Still when I move from the parent to the child I still see all of the running processes as usual.

My goal is to completely stop the unnecessary metrics and to leave only the systemd, so that way It won't use additional server resources.

[2022-07-07 15:24] schmyd opened #13333 "[Bug]: Exporting to opentsdb fails with v1.35.0-137-nightly"
### Bug description

I observed the following bug when switching vom v.1.34 to v1.35.0-145-nightly. Metric export to influxdb (v1.8) via opentsdb doesn't work anymore. Data never appears in the influxdb database, no error logs on influxdb or netdata visible. The only visible trace were frequent warnings via alarms - contrary to the green indication: no data was ever received in influxdb
![image](h

[2022-07-07 18:45] timololipop commented on #13326
@MrZammler It is really weird, now I receive data in the cloud, didnt change anything. The only thing not working yet is the "Applications" tab for any reason. So I cannot check which process is e.g. eating ram. This is so weird

[2022-07-07 19:20] MrZammler commented on #13326
Hey, glad that it worked!!

By the Applications tab not working, what exactly do you mean? Does it appear on the local dashboard and not in cloud, or it's not even in the local one?

[2022-07-07 20:51] thiagoftsm commented on #2324
Hello @igolemanski ,

I misunderstood your initial goal, I am sorry for this.
Well, when you want to collect only specific metrics, this means that collectors need to be disabled as you can see in [this](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#configuration) link. For your current necessity you will need to keep `cgroup.plugin` enabled.

Best regards!

[2022-07-08 06:39] Isalg commented on #13329
Hi @MrZammler

Yes, It resolves the IP:

bash-5.1# ping app.netdata.cloud
PING app.netdata.cloud (54.198.178.11): 56 data bytes

Outside the docker the IP is different:

[root@sc21 ~]# ping app.netdata.cloud
PING main-ingress-545609a41fcaf5d6.elb.us-east-1.amazonaws.com (44.196.50.41) 56(84) bytes of data.

Thank you.

[2022-07-08 08:33] #13286 closed

[2022-07-08 08:41] Ancairon opened #13337 "[Bug]: Breaking changes in nightly on static armv7 builds"
### Bug description

I tried to update the Agent from v1.35.0-84 to 153 and I am receiving
[code]
Agent hangs and doesn't spawn further worker threads

[code]

### Expected behavior

After the update the Agent should start properly

### Steps to reproduce

1. Run
[code]
   on a Raspberry Pi

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additio

[2022-07-08 08:46] underhood commented on #13329
@MrZammler yes that `total_slab_reclaimable` seems like random string picked from somewhere. will investigate ASAP

[2022-07-08 11:21] socialityCoop commented on #11602
Latest stable kickstart installations do not have the issue. If anyone has more info, please add.

[2022-07-08 11:23] #11602 closed

[2022-07-08 11:34] MrZammler commented on #13329
The error back (errno 11, Resource temporarily unavailable) also points to basically a generic system error (`EAI_SYSTEM - Other system error;`)... I suppose it could be some system library, misbehaving, is it possible to try openssl 1.1.1p on those too... ?

Do the other nodes that work, are on same versions of the host machine? All updated ?

Have you tried a restart on the docker since yesterda

[2022-07-08 12:58] Isalg commented on #13329
Restarting docker worked for both nodes!

Thank you very much!

[2022-07-08 15:28] ilyam8 opened #13341 "[Feat]: build an additional Netdata nightly image with debug symbols in CI"
### Problem

We have to build a custom Netdata image manually every time we need to debug a segfault when Netdata is running inside a Docker container.

It would be very nice to build a Netdata image with `CFLAGS="-O1 -ggdb"` in our CI.

### Description

A nightly Netdata image build with `CFLAGS="-O1 -ggdb"`.

### Importance

really want

### Value proposition

We need it to debug segfaults when

[2022-07-08 15:36] Divya-kalluru commented on #12303
@MrZammler Will work on this when I get time. Thanks for your reply

[2022-07-08 17:18] #13337 closed

[2022-07-08 17:32] thiagoftsm commented on #13321
I am closing the issue, and I will reopen if we decide to bring this drastic change on future.

[2022-07-08 17:32] #13321 closed

[2022-07-08 17:40] Ferroin commented on #13341
Could I get some better clarification about _exactly_ what is desired here that is not working (IOW exactly what debugging functionality is missing that is needed)? `-ggdb` is an exceedingly heavy option, both at build time and at runtime, and while it is possible to eliminate the runtime overhead it is somewhat complicated to get it right.

If all we care about is working symbolic backtraces and

[2022-07-09 06:32] MrZammler commented on #6822
Closing this since the linked PR was closed.

[2022-07-09 06:32] #6822 closed

[2022-07-09 06:37] ktsaou opened #13344 "[Feat]: ML should now stop producing new metrics for the anomaly rate"
### Problem

ML is creating a hidden chart with the anomaly rate of all dimensions.

Now that we have tiering and a new query engine that can automatically select the optimal tier to query, and it also calculates anomaly rates together and in parallel with data queries, we should stop duplicating the metrics.

Duplication of the metrics heavily impacts the memory footprint of dbengine and it also

[2022-07-09 06:38] ktsaou commented on #13344
@vkalintiris @andrewm4894

[2022-07-09 10:34] ktsaou opened #13346 "[Bug]: a few collectors collect data more frequently than expected"
### Bug description

Compiling netdata with `NETDATA_INTERNAL_CHECKS` I have these logs constantly:

[code]

### Expected behavior

Such logs are ok during the first iteration of each collector, but not ok after that.

### Steps to reproduce

1. Run netdata with `NETDATA_INTERNAL_CHECKS`
2. tail the error.log

### Installation method

from source

### System info

[code]

### Netdata build info

[

[2022-07-09 11:08] ktsaou opened #13347 "Breaking changes for Netdata Agent 2.0"
### Problem

There are a number of changes that will break backwards compatibility. So, users who are using Netdata and have integrated it to their monitoring stack may experience incompatibilities after an upgrade to a Netdata with these changes.

The same is true when using multiple Netdata Agents versions at the cloud. New and old Netdata Agents may produce incompatible results that cannot be a

[2022-07-09 12:33] thiagoftsm commented on #13346
@ktsaou I will take a look on this tomorrow :handshake:

[2022-07-09 16:02] ilyam8 commented on #13341
@Ferroin I didn't mean building Netdata nightly with `CFLAGS="-O1 -ggdb"`, but an additional nightly image (e.g. `netdata/debug:latest`)

[2022-07-10 00:17] thiagoftsm commented on #13346
A quick update on this, tonight I could not recreate this locally on a system without `systemd`,  on the other hand I was able to recreate the issue using a VM running Arch Linux, this explains the motive this was still present nowadays. :/

[2022-07-10 03:14] synthead commented on #13292
Awesome!!  Thanks a bunch, @ilyam8!

[2022-07-10 08:06] dr460nf1r3 commented on #13326
I have the same issue with one of my Netdata agents. Both cloud and Netdata parent (that the affected node streams to) aren't receiving data regularly.

![image](https://user-images.githubusercontent.com/12834713/178135747-630ceece-b76e-4b33-b916-b2e9df9ed5c7.png)

The corresponding log of that period is [here](https://bin.garudalinux.org/?1f8270b2ee2620be#7KoLZFtJ8LgL1naJeA1yHK48bSWrH359vRrwa6jJc

[2022-07-10 08:34] MrZammler commented on #13326
Hi @dr460nf1r3 ! Thank you for your report.

This looks different than what @timololipop reported here. From your logs, there's seems to be a problem with the connection of your child node (build) to the parent node (netdata_parent).

Particularly this line `buffer full (10485760-bytes) after 13378864 bytes. Restarting connection` indicates most likely that the parent node did not manage to "proce

[2022-07-10 09:27] dr460nf1r3 commented on #13326
Thanks for getting back at me :)
Judging from my configuration files and the documentation, `10485760` seems to be the default value for `buffer size bytes`:

The parent wasn't under stress in any of those situations. The machines are connected via Zerotier SDN and the connection seems to be fine (was running a constant ping which didn't indicate issues with the connection).

I applied the data co

[2022-07-10 09:47] MrZammler commented on #13326
Ah, sorry for that, it was bumped indeed to 10MB and I missed it. :-)

You could also then try to increase it further, to see if it helps. You could also check stream compression to see if it's enabled.

How often would you say these disconnections happen?

Do note also there there is an ongoing effort to bring replication feature into the agents. This would help in situations like these, since me

[2022-07-10 10:00] dr460nf1r3 commented on #13326
It was happening every 10-30 minutes, constantly. I applied your suggestions, but also having applied the previous suggestions it has been an hour since the last alert :eyes: Might in fact have been helping! If it occurs again, I'll open another issue.

Thanks for the help! :)

[2022-07-10 10:13] MrZammler commented on #13326
Good to hear! And, in any case, if the alerts are bothering (which for these specific alerts we also [plan to minimize](https://github.com/netdata/netdata/issues/13310) their frequency) you could also check about [silencing them](https://learn.netdata.cloud/guides/monitor/stop-notifications-alarms/) :-)

[2022-07-11 07:12] MrZammler commented on #13326
Hey guys, closing this issue.

@timololipop if you want to look at the Applications problem, please open a new one.
@dr460nf1r3 let us know if we need to check more on the streaming situation.

Thank you both!!

[2022-07-11 07:12] #13326 closed

[2022-07-11 07:25] vkalintiris commented on #13347
I'm curious about these two, we can discuss them in more detail on the separate issues that we will open.

Also, since we are on the topic of breaking changes for 2.0, it would be nice if we could add improvements in the streaming version negotiation on the list.

[2022-07-11 07:30] ktsaou commented on #13347
added it

[2022-07-11 08:00] ilyam8 opened #13353 "[Bug]: parent instance fills gaps with zeroes instead of nan"
### Bug description

Gaps => the child instance was stopped.

- **child** instance (gaps)

<img width="1362" alt="Screenshot 2022-07-11 at 10 54 50" src="https://user-images.githubusercontent.com/22274335/178215827-2ed3299c-449e-47f2-b72b-e8477bad82ff.png">

- **parent** instance (zeroes)

<img width="1374" alt="Screenshot 2022-07-11 at 10 54 19" src="https://user-images.githubusercontent.com/2227

[2022-07-11 08:05] vlvkobal opened #13354 "[Bug]: Remove host tags from the API output in Prometheus format"
### Bug description

Historically, we had `host tags` option in the `[backends]` section. The backends subsystem was removed completely. We announced breaking changes when we deleted the backends subsystem, so there is no need to keep host tag metrics. We should remove `netdata_host_tags` and `netdata_host_tags_info` from the API output in Prometheus format.

### Expected behavior

http://localhos

[2022-07-11 08:48] Isalg commented on #13329
Hi,

Sorry for reopen this issue but another node with the same errors cannot connect to Netdata Cloud.

**System info**
[code]

**Netdata build info**
[code]

**More info**

[code]

http://hosting-2316-4581-sd.lineagrafica.es:19999/api/v1/info
[code]

[code]
**OpenSSL**
[code]
**Ping**
[code]

Errors in log:
[code]

[2022-07-11 09:30] #13101 closed, assigned to MrZammler, stelfrag

[2022-07-11 10:00] dr460nf1r3 opened #13356 "[Bug]: Agent not sending metrics to parent node periodically"
### Bug description

Continuing the discussion from here: https://github.com/netdata/netdata/issues/13326#issuecomment-1179678994
One agent does not successfully stream metrics at times, resulting in false alerts and no data.

![image](https://user-images.githubusercontent.com/12834713/178235965-485d4397-9ed0-4e43-b5f8-3329ecd2019d.png)

Parents log of the time period: https://bin.garudalinux.org/

[2022-07-11 11:54] #13333 closed

[2022-07-11 12:05] Ferroin commented on #13341
I reiterate though, what _specifically_ is needed here? AIUI, `-ggdb` is only needed to get things like line number references in function names, hence my question of what debugging functionality is not working here.

On a side note, you _probably_ want `-Og`, not `-O1` for this type of thing.

[2022-07-11 12:25] Ferroin commented on #13341
OK, based on discussion in the agent sync meeting I understand better what’s actually needed here.

Current plan is:

- Add a new build argument (`DEBUG_BUILD`) to the Dockerfile to switch the default CFLAGS from `-O2 -pipe` to `-Og -ggdb -pipe`. This way we have a cleanly reproducible to easily test builds locally.
- Add a new docker image named `netdata/netdata-dbg`, which will mirror `netdata/n

[2022-07-11 12:32] ilyam8 commented on #13341
Thanks, one little thing from me - `netdata-debug` looks better than `netdata-dbg`.

[2022-07-11 14:56] ralphm opened #13366 "[Bug]: Alert notifications UNKNOWN → CLEAR"
### Bug description

I'm regularly receiving alert notification e-mails that go from `UNKNOWN` to `CLEAR`. In all cases I examined, there are no prior notifications for the same alert, the time from the previous status is usually a few seconds, but no more than a minute.

### Expected behavior

No notifications of this kind should be sent.

### Steps to reproduce

1. Monitor e-mail notifications o

[2022-07-11 15:35] shyamvalsan opened #13360 "[Bug]: More user friendly logs for collector config parser errors"
### Bug description

When the YAML parser fails while parsing collector config files the error message that is logged currently is not very user friendly

`2022-07-11 14:14:48: python.d ERROR: plugin[main] : [postgres] error on loading '/etc/netdata/python.d/postgres.conf' : ParserError(None, None, "expected '<document start>', but found '<block mapping start>'", <pyyaml3.error.Mark object at 0x7f

[2022-07-11 16:21] ralphm opened #13361 "[Bug]: last-collected alerts can have negative values"
### Bug description

In some cases, the value for the `_job_last_collected` alerts can have negative values.

![image](https://user-images.githubusercontent.com/116741/178306913-c667a93f-e3c3-4b43-bde3-1bfeb6e3d2fc.png)

![image](https://user-images.githubusercontent.com/116741/178303014-c35f2576-5acd-4a97-bce1-4fb3884b761d.png)

![image](https://user-images.githubusercontent.com/116741/178310726-

[2022-07-11 17:05] #13354 closed

[2022-07-11 19:33] ekexcello commented on #13175
Sorry to say, @ilyam8, but last days the issue is not visible.
There were several system updates (but not kernel) in mean time, also netdata was updated.
Current running versions are netdata-1.35.1 and go-plugin 0.33.0.
Can I ask you to keep this bug open for the case the issue appears again? If it will not appear within 2-3 months, let's consider it might be reasonable to consider it gone, as for

[2022-07-11 20:28] ilyam8 commented on #13175
@ekexcello thanks for the info. I am going to close the issue but will reopen it if needed. No need to keep it open if you can't reproduce it.

[2022-07-11 20:29] #13175 closed

[2022-07-11 21:13] rtgibbons commented on #9420
Curious if there are any updates on this. FreeBSD package shows it's being copmiled with `--disable-cloud` wasn't sure if this was related to the issues 2 years ago, or an active decision from FreeBSD to disable it

[code]

[2022-07-11 21:46] andrewm4894 commented on #9420
Hmm I see this recent discussion that looks like some work ongoing https://forum.netgate.com/topic/172459/netdata-doesn-t-work-in-pfsense-2-6-0

Unsure of specifics myself, might be more details in that thread as I do see one of my colleagues in there. I'll ping internally too to see if any updates.

[2022-07-12 06:39] #13360 closed

[2022-07-12 10:53] ilyam8 commented on #13353
I think it is not only parent-child but a single instance too -  0 values is the time when the service was manually stopped and the collector wasn't running.

<img width="1321" alt="Screenshot 2022-07-12 at 13 50 12" src="https://user-images.githubusercontent.com/22274335/178473882-3fc4e4e3-84e9-45b2-a743-1d6b1d469f34.png">

Looks exactly as https://github.com/netdata/netdata/issues/13025

[2022-07-12 11:27] vkalintiris opened #13365 "[Bug]: Mutex lock failures reported in logs"
### Bug description

Getting these kind of messages in error.log:

[code]

Backtrace:

[code]

### Expected behavior

No such messages in logs.

### Steps to reproduce

Just start the agent and grep the logs. I noticed this on MacOS but I don't have any reason to suspect this isn't reproducible on Linux.

### Installation method

other

### System info

[code]

### Netdata build info

[code]

###

[2022-07-12 12:07] hugovalente-pm commented on #13366
@ralphm moving this ticket to Agent repo since these notifications are triggered from the Agent

@MrZammler I know some transation skips were done for states like `REMOVED` and `UNITIALIZED` ([comment](https://github.com/netdata/product/issues/2819#issuecomment-1057260611), probably we also need to skip the `UNKNOWN`. what do you think?

[2022-07-12 12:16] odidev commented on #12895
@Ferroin, "[Works on Arm](https://github.com/WorksOnArm)" is an initiative that provides free access to Arm based clusters (on Equinix). This is for the purpose of giving open source projects access to Arm HW to support build-test loops. If Interested we can ask for access of the same.

[2022-07-12 13:24] dr460nf1r3 commented on #13356
Hey :)
So yes, the problem continues but it did indeed happen less. I increased the timeout value, now I'm evaluating the result. Will get back at you once I have some data :)

[2022-07-12 16:22] ralphm commented on #13366
@MrZammler The screenshot is of a cloud notification e-mail, that's why I initially filed it against `netdata-cloud`.

@hugovalente-pm: even if alerts state transitions are initiated by the Agent, this doesn't mean there's nothing that can be done on Cloud to address this. Moving the ticket seems premature.

[2022-07-12 16:39] MrZammler commented on #13366
Okay, we can check tomorrow with @car12o. @hugovalente-pm has a point, and we need to check the alert's history to see what could cause it.

In general though, if it wasn't before critical or warning, the agent should not have sent it...

[2022-07-12 17:23] ValorousSalmon commented on #13029
@Ferroin I assume we're due for another stable release soon - any chance we'll see this fix in place at that time?

[2022-07-12 22:11] Emporea opened #13372 "[Feat]: Disable "Discover the free benefits of Netdata Cloud""
### Problem

I disabled cloud functionality in cloud.conf but this Banner is still present and i want it to be removed.

### Description

I want the banner removed.

### Importance

nice to have

### Value proposition

1. less used space for more important stuff than some cloud functionality i will never use.
2.
3.
...

### Proposed implementation

_No response_

[2022-07-13 07:42] MrZammler commented on #13366
Ralph hi, can we have the node_id for the node of this alert (it should be listed in `access.log` when it reports protobuf messages exchange)? Is the laptop streaming to a parent, or claimed by itself?

I assume the alert relates to the mouse... Was the laptop maybe used for some time without this mouse? Can you also please send me the output of `http://node:19999/api/v1/alarm_log` to manolis at n

[2022-07-13 11:17] #13341 closed

[2022-07-13 15:26] Garahk opened #13375 "[Bug]: zero alarms and no alarm logs displayed in dashboard - kind cluster"
### Bug description

I have a test environment, where a k8s cluster has been deployed using kind. There I deployed netdata using helm charts

The alarm's section of the dashboard shows zero alarms critical/warning, despite doing stress tests:

![image](https://user-images.githubusercontent.com/99432183/178767008-77d517c7-2512-4239-9977-56e800a79512.png)

The section of alarm logs won't also displa

[2022-07-13 15:33] hugovalente-pm commented on #13310
this was discussed and this bug actually needs to be split into multiple ones:

- [ ] Provide additional information that can help pinpoint where the problem actually is
- [ ] Review the python.d_job_last_collected_secs and go.d_job_last_collected_secs alert names to be more meaningful
- [ ] Understand what problems are happening or configurations tweaks are needed on the collectors to reduce the

[2022-07-13 15:40] hugovalente-pm opened #13376 "[Bug]: Provide additional information that can help pinpoint where the problem actually is"
### Bug description

For now, on the below alerts we need to be able to show additional information that will help the user pinpoint where the actual problem is:
* python.d_job_last_collected_secs, go.d_job_last_collected_secs: which module from the collectors actually failed
* httpcheck_web_service_unreachable: which URL was unreachable (reported here also https://github.com/netdata/netdata-cloud

[2022-07-13 15:42] hugovalente-pm opened #13377 "[Bug]: Review the python.d_job_last_collected_secs and go.d_job_last_collected_secs alert names to be more meaningful"
### Bug description

These alert names current aren't meaningful to the user, we should review them to mention clearly that this is a Netdata collector failure or something similar

### Expected behavior

Have more meaningful alert names presented to the user

### Steps to reproduce

N/A

### Installation method

other

### System info

[code]

### Netdata build info

[code]

### Additional info

[2022-07-13 15:44] hugovalente-pm opened #13378 "[Bug]: Understand what problems are happening or configurations tweaks are needed on the collectors to reduce the number of alerts"
### Bug description

Following the report on https://github.com/netdata/netdata/issues/13310 we have these alerts being triggered to often and flooding the users'

### Expected behavior

We should dive into to understand the collector failures that are happening and if there is some fix to be done or we need to adjust our configurations

### Steps to reproduce

N/A

### Installation method

other

[2022-07-13 15:49] hugovalente-pm commented on #13310
closing this one as not to be done since we should track the work that sinned out of this one

[2022-07-13 15:53] hugovalente-pm commented on #13377
as part of the discussions different scenarios were considered and we seemed to fall into the conclusion that we should:
* have the current name as the `id` of the alert
* the `name` field should be used as a more meaningful to the user (same cases it could be the same as the `id`)
* the `name` field should be able to be complemented with variables (e.g. `$family` or some chart labels)

[2022-07-13 16:11] Garahk commented on #13375
@ilyam8 , seems I was looking at the child instance, but reading on documentation is the parent who handles the alarms and alerts, is that correct? or can the child also handle alarms?

@MrZammler , I looked at the child instance and the health is disabled,

![image](https://user-images.githubusercontent.com/99432183/178780156-8d7156d8-1ac7-4d35-a420-56c37bd7fcdc.png)

while the parent has health

[2022-07-13 16:53] ilyam8 commented on #13375
@Garahk the helmchart default is disabled health on children and enabled on the parent. The parent instance does health checks for chidren metrics.

[2022-07-13 16:55] ilyam8 commented on #13375
Because almost all the collectors disabled on the parent instance - there is a child netdata that runs on the same host and it collects metrics.

[2022-07-13 16:55] #13375 closed

[2022-07-13 18:10] schmyd commented on #13333
can confirm it's working. Thanks guys

[2022-07-13 21:13] ilyam8 commented on #3817
Hi, @ipkpjersi. Try `rss` instead of `size`. Or check python.d.plugin memory usage on the dashboard - Applications->mem.

[2022-07-14 03:16] ipkpjersi commented on #3817
[code]

[2022-07-14 14:07] ghost opened #13380 "[Bug]: Ran out of protocol buffer space"
### Bug description

I have a bunch of domains to check: `httpcheck`/`x509check` 303 items, `whoisquery` 165 items.
From time to time netdata is restarted, with `assertion 'SPAWN_PROT_EXEC_CMD == header->opcode' failed`.

Proxmox VE
LXC container, unprivileged, nesting=1
RAM: 8G
vCPU: 8

### Expected behavior

no unexpected restarts

### Steps to reproduce

add many sites to check

### Installatio

[2022-07-14 15:24] Ferroin commented on #13029
I’m hoping to get this fixed in time for the release at the end of the month, but I’ve not had time to actually dig into this yet, so it unfortunately may not be fixed by then.

[2022-07-14 16:03] ilyam8 commented on #13329
Hi, @Isalg. Can you try to use the `ilyam8/netdata-test-for-github` image? It is latest master branch + #13382.

[2022-07-14 21:33] sm-edr commented on #13380
Hi @MrZammler
I've created a [test repository](https://github.com/sm-edr/playground).
There are [250 domains](https://github.com/sm-edr/playground/blob/master/files/domains.tsv).

In a fresh test container, it restarts in 12 min:
[code]
There are 1 GB RAM, and 2 vCPU.

[2022-07-15 07:27] zhangke-zk opened #13386 "[Feat]: Missing after compilation and installation netdata.sevice"
### Problem

 Missing after compilation and installation netdata.sevice

### Description

Use the following methods compile :
autoreconf -ivf
./configure --prefix=/root/test/netdata/bin --sysconfdir=/root/test/netdata/bin/etc --localstatedir=/root/test/netdata/bin/var --libexecdir=/root/test/netdata/bin/usr/libexec --disable-x86-sse --host=arm-linux
make

install:
make install

### Importance

rea

[2022-07-15 07:34] shyamvalsan opened #13387 "[Feat]: Go collector for PostgreSQL"
### Description

A better performant Go collector for PostgreSQL must be created and used as the default. Currently only a Python collector exists, which also has a 3rd party package dependency.

---

https://github.com/netdata/product/issues/2956

### Importance

really want

### Value proposition

1. Will enable Netdata to include Postgres in service discovery in K8s environments
2. Better perfo

[2022-07-15 09:00] ilyam8 commented on #13317
Hey, @ekexcello. Do you still have the issue? Perhaps it was connected with #13175.

[2022-07-15 09:02] ilyam8 commented on #11822
Closing due to no response.

[2022-07-15 09:02] #11822 closed

[2022-07-15 10:01] ilyam8 commented on #12013
@achillemyette1, hey 👋 Did you try the debug mode as `netdata` user? I see no "replication and oplog" family on your screenshot.

[2022-07-15 10:02] #11929 closed

[2022-07-15 10:21] ilyam8 commented on #13068
Fixed in https://github.com/netdata/cloud-frontend/issues/3510

[2022-07-15 10:24] #10321 closed

[2022-07-15 10:53] ilyam8 commented on #9737
I think the issue is fixed in the latest stable version. @jurgenhaas let us know if I am wrong and if it is not fixed yet.

[2022-07-15 10:53] #9737 closed

[2022-07-15 11:00] #13068 closed

[2022-07-15 11:00] #11038 closed

[2022-07-15 11:12] hugovalente-pm commented on #13366
@car12o you mentioned this on the daily today. the work you did was to avoid triggering these notifications from Cloud?
just to check, since the conversation had evolved to try to not send these transitions from the Agent to Cloud.

[2022-07-15 11:17] car12o commented on #13366
@hugovalente-pm the issue is on the cloud as the verifycation of if we should notify was broken, I will deploy the fix in a couple of mins.
Regarding these transitions from the Agent to Cloud, we need to have them as they are used to trigger some side processes.

[2022-07-15 11:39] MrZammler commented on #13386
Hi @zhangke-zk

Any reason why you use this to compile? Can you check the [kickstart](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart/) script? It should handle most of the cases you refer to.

[2022-07-15 11:48] thiagoftsm commented on #13387
Hello @shyamvalsan and @ilyam8 ,

Go collector will need a dependency to communicate with PostgreSQL server, and in the best case scenario this dependency will use protocol V3 to speed up some analysis from our end.  Of course due the fact we are talking about `Go`, we will have an improvement due the fact we will use as static binary.

A quick research shows that we have at least two projects ([l

[2022-07-15 11:48] car12o commented on #13366
Fix deployed to prod!

[2022-07-15 11:48] #13366 closed

[2022-07-15 11:50] thiagoftsm commented on #13387
I forgot one important thing, like python plugin we will need to ensure that our plugin is working in different versions of the database, including the future [15](https://www.postgresql.org/about/news/postgresql-15-beta-2-released-2479/)

[2022-07-15 11:53] hugovalente-pm commented on #13366
understood, will push this back to netdata-cloud repo
you were right @ralphm 🙇‍♂

[2022-07-15 15:09] mmattel opened #13389 "[Bug]: Docker: stock config files location broken"
### Bug description

Just installed netdata via docker compose (using portainer) on a RPi using RaspOS64. Things are running fine but two issues occured.

* I was not able to start the container without setting in the compose file the DOCKER_USR/GRP info.
* The `netdataconfig` folder on the host contains an `orig` folder which linked to `orig -> /usr/lib/netdata/conf.d`, but orig is empty, no conf

[2022-07-15 15:57] ilyam8 commented on #13389
Hi, @mmattel. What are you trying to achieve? Can you show your docker-compose file?

If you want to overwrite stock use /etc/netdata.

[2022-07-15 16:01] #12706 closed

[2022-07-16 03:13] Hicsy commented on #2938
as above.
 I also followed the steps in 2 of the other github issues, and now i just get:
```sh netdata-kickstart.sh --uninstall```

[2022-07-16 03:21] Hicsy commented on #2938
my only solution was as per: https://linux-packages.com/ubuntu-focal-fossa/package/netdata
```sudo apt autoclean && sudo apt autoremove```
just doing autoclean on it's own (after the apt remove and the manual cleaning steps) is not enough ...

It's worth noting that after doing this, it still wont install on Proxmox using the "recommended method" either, but that is another issue for someone more

[2022-07-16 09:08] mmattel commented on #13389
To answer the question about the reason why configuration changes are needed, simply add [temperature monitoring](https://learn.netdata.cloud/guides/monitor/pi-hole-raspberry-pi) to my RPi as described by netdata in the link.

I have found the solution and sorry to say, the documenttion has a lot of room for improvement...

**What is causing the problem**
The problem of two issues:

* There is a s

[2022-07-16 10:35] mmattel commented on #13389
Addon, to make `edit-config` work, you need to set the needed environment variables when using docker - which is also missing in the documentation.

As an example, edit the `.bashrc` file and add at the end the following to define the environment variables:
[code]

When done, just type in your shell `source ~/.profile` to activate it.

To see if it is working, run `~/netdata/netdataconfig/edit-con

[2022-07-16 13:57] ilyam8 commented on #13389
@mmattel, hey. I am confused a bit. I still don't understand why you are trying to mount `/usr/lib/netdata`. What is your goal? Host-editable configuration (it should be /etc/netdata, not /usr/lib/netdata)?

[2022-07-16 14:13] mmattel commented on #13389
We are talking about container, not a local install.

The issue is the symlink of the `orig` folder **in** the container.

In general, mounting a directory of a container which contains a symlink means, that the symlink stays the same and tries by nature to resolve to a directory on the host and not inside the container. If the symlinked directory on the host does not exist, you are messed up...

[2022-07-16 14:39] #12592 closed

[2022-07-16 18:13] tickez opened #13390 "[Bug]: ebpf.plugin core dumped"
### Bug description

After starting the netdata agent, systemd reports a core dump of the ebpf.plugin.

Starting the plugin directly from the CLI results in the same behavior. It fails with both, the static build and the compiled version.

[code]

[code]

### Expected behavior

The plugin should not produce a core dump on this system.

### Steps to reproduce

1. Start netdata agent
...

### Instal

[2022-07-16 21:58] thiagoftsm commented on #13390
Hello @tickez ,

Thank you for your report, I will investigate this tomorrow :handshake: .

Best regards!

[2022-07-17 15:46] shyamvalsan commented on #13387
Interesting open source tool written in go which collects most postgres metrics we need

https://github.com/rapidloop/pgmetrics

[2022-07-17 16:39] thiagoftsm commented on #13390
Hello @tickez ,

I built an environment with [Vagrant OpenSuse 15.4 image](https://app.vagrantup.com/opensuse/boxes/Leap-15.4.x86_64). This image has the following kernel:

[code]
Considering the logs you gave us, I suppose you installed netdata with following command (or using wget):

[code]

firstly can you confirm my conclusion? Now, after to run this command I started `netdata` with default co

[2022-07-17 16:48] thiagoftsm commented on #13387
I read few parts of the code, and I agree with your initial impression. I liked the fact that it is monitoring PostgreSQL since version `9.4`, and it also  taking care of `WAL` and `Replication`.

[2022-07-17 16:51] tickez commented on #13390
Hi @thiagoftsm

Thanks for looking into this. I used the wget kickstarter with this exact command line
`wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --no-updates --disable-telemetry`

The machine runs virtualized on kvm and I was able to reproduce the exact same behavior on another openSUSE 15.4 running on VMWare Fusion.
As you can see from t

[2022-07-17 18:24] shyamvalsan commented on #13387
Interestingly they also have a section on AWS RDS monitoring via cloudwatch, which is also something we need.

https://pgmetrics.io/docs/aws.html

[2022-07-18 00:13] thiagoftsm commented on #13390
Hello @tickez ,

Thank you for your additional information. After you publish these message, I tried to recreate the issue with `Ubuntu 22.04` and `OpenSuse` without success, but I could create the same issues with `Arch Linux`. I already started working with this issue, and I expect to have the final solution in next hours.

Best regards!

[2022-07-18 11:25] ilyam8 commented on #13387
@anayrat, @NikolayS, @unhandled-exception, hey guys 👋 We plan to rewrite python Postgres collector in go and improve it (add new metrics, change grouping, etc). Can we use your expertise to help us with improving it (e.g. ask questions, test new version)?

[2022-07-18 11:53] anayrat commented on #13387
Great! I think, the most suitable driver is https://github.com/jackc/pgx

[2022-07-18 12:09] #13346 closed

[2022-07-18 12:36] shyamvalsan opened #13394 "[Feat]: Data collector for AWS RDS"
### Problem

_No response_

### Description

### Description

A Go collector for AWS RDS must be created to monitor RDS specific metrics.

### Importance

really want

### Value proposition

1. Will enable Netdata to comprehensively monitor databases deployed in RDS

### Importance

really want

### Value proposition

1. Ability to monitor RDS metrics for databases such as PostgreSQL deployed in A

[2022-07-19 02:24] phuna opened #13400 "[Bug]: Cannot remove node (running MicroK8s) from Netdata Cloud after Helm reinstall"
### Bug description

I have a node running Ubuntu 22.04, MicroK8s 1.24.0 with Helm3 & NFS addons enabled.
After I installed Netdata using Helm chart method & register it with Netdata Cloud, I can't remove it from Netdata Cloud. I tried to uninstall then reinstall it without registering to Netdata Cloud but my node still appears in Netdata Cloud.

### Expected behavior

My node should not be displa

[2022-07-19 07:00] ilyam8 commented on #13400
Hi, @phuna. I think you have claimed children nodes too, not only the parent, correct? If so
- every child instance uses `/var/lib/netdata-k8s-child` [hostPath](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) mount to store `/var/lib/netdata` (see [child.persistence](https://github.com/netdata/helmchart/blob/43f6f30a9708e435bfdb7548779fa47d97fadca4/charts/netdata/values.yaml#L262-L2

[2022-07-19 07:24] phuna commented on #13400
@ilyam8 that works, thanks a lot for your prompt reply.

[2022-07-19 07:43] Isalg commented on #13329
Hi @ilyam8,

I tried the image but I receive the same errors:

[code]

[2022-07-19 07:56] MrZammler commented on #13329
Hi @Isalg

Can you please tell us what dns nameservers are you using? Is it a local one, an ISP one, or one of the google's ? Do the nodes that work have different dns nameservers in `/etc/resolve.conf` ? Can you test with e.g. `8.8.8.8` ?

[2022-07-19 08:57] Isalg commented on #13329
Hi @MrZammler,

I was using 8.8.8.8, but I tried the same nameservers as other nodes without success.

resolv.conf node file:
[code]

resolv.conf container file:
[code]

Also tried in both node and container:
[code]

I'm using this docker-compose.yml:

[code]

Here is the complete log from the container:

[log.txt](https://github.com/netdata/netdata/files/9139153/log.txt)

[2022-07-19 12:52] hugovalente-pm opened #13403 "[Bug]: on /data calls when asking to get the metadata we must respect the selected timeframe"
### Bug description

When making a data request asking for the metadata, `show_dimensions`, the resulting values don't respect the selected timeframe (before and after)

### Expected behavior

The metadata returned must respect the selected timeframe (before and after) this is for:
* `full_dimension_list`
* `full_chart_list`
* `full_chart_labels`

### Steps to reproduce

1. Make a call asking for

[2022-07-20 03:39] jamtur01 opened #13408 "[Feat]: Standalone collector installation/documentation"
### Problem

As stated in https://github.com/netdata/netdata/issues/8510 the Homebrew recipe does not install any collectors.

The README in https://github.com/netdata/netdata/tree/master/collectors states:

[code]
I've had a look through the docs and can find no reference to how to install collectors manually or standalone. It'd be great if standalone installation were possible and/or documented.

[2022-07-20 12:21] unhandled-exception commented on #13387
I'm ready to help.

[2022-07-20 13:28] ilyam8 commented on #12883
Closing in favor of #13387

[2022-07-20 13:28] #12883 closed

[2022-07-20 15:24] ilyam8 commented on #13389
Ah, so your case is:

1. set up host-editable configuration.
2. execute the `.edit-config.sh` config script on the host.

And you expected 2 to work?

[2022-07-20 15:31] mmattel commented on #13389
I am wondering that this question comes up from your side. It is naturally to use the edit-config script as netdata points out in its documentation to use it. Remember that I wrote at the first comment using Raspberry PI and netdata proposes a settings change to be made to enable temperature control... (not limited to RPi though)

[2022-07-20 15:38] ilyam8 commented on #13389
@mmattel it is not a bug, it is expected, but yeah, we probably should have explicitly mentioned that using the script doesn't work when using docker container + host-editable config.

[2022-07-20 15:54] ilyam8 commented on #13389
Big thanks, I saw it! My opinion is that we can't use it as it is - suggesting to create `/usr/lib/netdata/` on the host just for the script to be working is a no-go. Probably there are better ways.

@Ferroin what do you think about this issue? @mmattel problem is https://github.com/netdata/netdata/issues/13389#issuecomment-1190426172

[2022-07-21 09:53] ktsaou commented on #13347
@ralphm check this.

[2022-07-21 10:34] hugovalente-pm commented on #13347
These two relate to this work https://github.com/netdata/netdata-cloud/issues/354 where me and @ilyam8 had been iterating on an approach to tackle it https://github.com/ilyam8/nd-ctx-menu. This approach doesn't give the solution to 3. (initial idea was to have, for example, k8s as a prefix on the context)

[2022-07-21 11:50] vkalintiris commented on #13297
Well... multiple levels of active-active configurations are not actually supported (at least, for the time being). The limitation comes from the fact that we can specify the destinations only through `[stream] destination = dst1 dst2 dst3`, and the agent picks only the 1st successful connection.

[2022-07-21 11:50] #13297 closed

[2022-07-21 11:50] Ferroin commented on #13389
I think documenting that it’s doable is a good idea, but I would tend to agree that it’s not the preferred approach.

My gut instinct here is to add support to the script for copying out of a container instead of using host tooling (effectively, figure out where the symlink is pointing, then use that as a prefix with `docker cp` to grab the file out of the container itself). Such an approach would

[2022-07-22 13:18] ktsaou opened #13422 "[Feat]: Interactive queries to plugins"
### Problem

We need a way to get live data from plugins on demand. For example:

1. Get the top slow queries from an SQL database
2. Get the currently top pids from apps.plugin
3. Get the currently established connections from ebpf.plugin
4. etc.

This is a design document, for discussion.

### Description

1. Netdata will open 2 pipes between its plugins, one for sending queries and one for read

[2022-07-22 13:19] ktsaou commented on #13422
@cakrit @ilyam8

[2022-07-22 13:37] Ferroin opened #13424 "[Feat]: Support setting retention time instead of space usage limits in dbengine configuration."
### Problem

Currently, the dbengine only allows setting disk usage limits to control data storage. This is useful in some scenarios, but runs into a couple of usability issues in others:

- Users who don’t care about disk usage, but need a specific retention limit have to either do some non-trivial math themselves, or rely on our online space requirements calculator.
- Retention targets are depen

[2022-07-22 21:41] andrewm4894 opened #13426 "[Feat]: "Trimmed Mean" aggregation function"
### Problem

A "trimmed mean" could be a useful aggregation function in netdata in addition to a regular mean.

### Description

- https://en.wikipedia.org/wiki/Truncated_mean
- https://www.statisticshowto.com/trimmed-mean/
- https://www.investopedia.com/terms/t/trimmed_mean.asp

### Importance

nice to have

### Value proposition

1. more flexible aggration options

### Proposed implementation

S

[2022-07-22 21:48] andrewm4894 commented on #13426
In addition to median it could also be useful to add p5,p10,p90,p95 percentiles as aggregation functions too.

[2022-07-23 14:35] ekexcello commented on #13317
Hello @ilyam8
It might be connected, but it will be clear a bit later whether this is gone or not: this is usually visible during extended maintenance with services taken down and up. Last weeks this wasn't happening, at least, but no big maintenance happened also.

[2022-07-23 14:55] ekexcello opened #13427 "[Bug]: false positives on mysql/galera cluster size"
### Bug description

Mysql mysql.galera_cluster_size has false-positive status and is marked "resolved" when it should be critical.

For example, on 2-node cluster that runs two nodes for long time, alert is always present:

[code]

Even more strange point, when one of the nodes has problems and cluster size is reduced, a "resloved" notification is sent (like `recovered, mysql_Galera.galera_cluste

[2022-07-23 18:13] ilyam8 commented on #13427
Hi, @ekexcello. The problem with Redis alarms is fixed in the latest master (https://github.com/netdata/netdata/pull/13296).

---

Did you check the alarms values?

- `mysql_galera_cluster_size_max_2m` is the `max` values of `wsrep_cluster_size` (nodes) in the last 2 minutes.
- `mysql_galera_cluster_size` is the current value of `wsrep_cluster_size` (nodes).

I checked the config and it is expecte

[2022-07-23 19:03] ekexcello commented on #13427
Hello @ilyam8

Yes, it should work in the way you wrote, for example: server is started and joined the cluster. This triggers the alert as current value is bigger than maximum of last 2 minutes. In 2 minutes + hysteresis time, the alert might be gone as current number of nodes (`mysql.galera_cluster_size`), that is 2, becomes equal to `mysql_galera_cluster_size_max_2m` that is also 2 as cluster si

[2022-07-23 19:34] ilyam8 commented on #13427
What is your setup?

- parent/child or standalone?
- number of mysql jobs? 1 or more?

[2022-07-23 20:07] ekexcello commented on #13427
We have standalone setup and single mysql job. Used to be two, situation was the same.

[2022-07-23 20:42] ilyam8 commented on #13427
So the value of `mysql_galera_cluster_size_max_2m` was 1? Did you check it when the alarm was raised? Was it 1 or `-`?

[2022-07-23 20:48] ekexcello commented on #13427
Checked it, on 2-node cluster mysql_galera_cluster_size_max_2m is 2 and in same time alarm is in "warning" state.

[2022-07-24 11:19] mfinelli opened #13428 "[Feat]: enable apt repository for raspberrypi os / raspbian"
### Problem

_No response_

### Description

Following the guide here (https://learn.netdata.cloud/guides/monitor/pi-hole-raspberry-pi) to enable netdata on a raspberry pi it mentions that it will build netdata from source. Since the project already provides compiled binaries for aarch64 and arm7l architectures, and you maintain a debian apt repository, it would be nice if you could create/enable

[2022-07-25 04:40] securewithsam commented on #2938
For ubuntu use -
/opt/netdata/usr/libexec/netdata/netdata-uninstaller.sh --yes

[2022-07-25 14:08] ilyam8 commented on #13427
Can you send me a [snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) when the alarm is active? (ilya at netdata.cloud)

[2022-07-25 15:10] underhood commented on #13347
There were some internal discussions regarding netdata 2.0 already. Is this issue meant to encompass all of them or only the new "metric organisation model" described above?

[2022-07-25 15:35] caroffer12 opened #13430 "The installer failed to prepare the required dependencies for Netdata Cloud functionality"
### Bug description

Hi Team,

we are using netdata cloud and installed the agent with one-line installer on the ubuntu server it was working for long time. when we restarted our server last week netdata stopped working. we tried to reinstall netdata using the below command . But it still doesn't work. can you please check on this.
wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.

[2022-07-26 07:32] ilyam8 commented on #13430
Hi, @caroffer12. It looks like there is no problem with dependencies, because you have

[code]

It means that the Agent is built with Cloud support.

[code]

^^ And that means that the Agent is not claimed/ACLK is not connected.

Did you check error.log? If not:

[code]

[2022-07-26 07:34] #13086 closed

[2022-07-26 07:35] underhood commented on #13086
#13362

[2022-07-26 07:53] mabed-fr opened #13432 "[Feat]: ntfy.sh"
### Problem

My notification services is not available

### Description

ntfy (pronounce: notify) is a simple HTTP-based [pub-sub](https://en.wikipedia.org/wiki/Publish%E2%80%93subscribe_pattern) notification service. It allows you to send notifications to your phone or desktop via scripts from any computer, entirely without signup, cost or setup. It's also [open source](https://github.com/binwied

[2022-07-26 08:37] #13353 closed

[2022-07-26 09:07] ktsaou commented on #13347
Everything that breaks compatibility, default behavior, etc should be here.

[2022-07-26 09:21] Superpaul209 opened #13433 "[Bug]: Netdata agent node shows offline occasionnally (Stop timeout)"
### Bug description

I have an issue where some of my nodes are unreachable at the time of the day for no reason. I mean while they are "unreachable" I can access it by SSH and everything is running fine. The netdata agent has a problem with the stop signal which timeouts after a period of time. The daemon is killed instead of stopped and restarted a few minutes later.

### Expected behavior

The

[2022-07-26 10:23] MrZammler commented on #13433
Hi @Superpaul209

I will update the issue with what we discussed already on discord. Thanks for opening this.

[2022-07-26 12:43] MrZammler commented on #13433
@Superpaul209 just to make sure, the problem still occurs with `v1.35.0-215-nightly`, right?

And the same error like the following:

[code]

@thiagoftsm can you please have a look? It seems ebpf.plugin refuses to shutdown, delaying the restart, thus creating some reachability emails from the cloud. Thanks!!

[2022-07-26 12:59] ilyam8 commented on #13433
Confirm. I have seen it many times. It doesn't happen on evert restart though.

[2022-07-26 14:40] caroffer12 commented on #13430
Hi @ilyam8,

I have tried restarting the service but no luck.

 tail -f /opt/netdata/var/log/netdata/error.log | grep -i aclk
^C
root@ubuelastic:/# tail -f /opt/netdata/var/log/netdata/error.log
2022-07-26 14:36:13: cgroup-name.sh: INFO: docker container '6c9f06d75e28c61c75018b27500d48e6eb7d0cdcc260347b4a0ad53e375b71ae' is named 'es06'
2022-07-26 14:36:13: cgroup-name.sh: INFO: cgroup 'docker_6c9f

[2022-07-26 14:50] MrZammler commented on #13430
Hi @caroffer12

Can you try to re-claim the agent? Most likely that means re-running the kickstart command (which should find the installation) and pass it the token and related data from the cloud page, as if adding a new node.

[2022-07-26 14:51] MrZammler commented on #13430
Do you remember if something happened, i.e. an upgrade or similar that could cause the installation to lose it's cloud configuration? Have you noticed whether e.g. any custom configuration was lost as well?

[2022-07-26 14:57] caroffer12 commented on #13430
Hi @MrZammler,

I already tried reinstall. do you still want me to try again
wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --reinstall

Yes i don't see netdata folder under /etc . I have setup elasticsearch monitoring . But that file is missing.

[2022-07-26 15:09] MrZammler commented on #13430
Hi!

You don't need to re-install. You just need to claim, i.e. if you go to the cloud, hit "Add node", it should list the command you need to run to claim the agent (i.e. make it aware to the cloud). It should look something like this:

[code]