[2020-06-08 13:43] timchou commented on #9275
![image](https://user-images.githubusercontent.com/352302/84037152-c31d7200-a9d0-11ea-90f0-3fb1b6e591e6.png)
@thiagoftsm I have added the code and when the alarm raised, I will post here.

Thank you

[2020-06-08 14:07] jacekkolasa commented on #6515
@underhood YES! :) Thanks!

[2020-06-08 14:07] #6515 closed

[2020-06-08 14:27] thiagoftsm commented on #9221
Hi @kovacshuni ,

We will merge this week the PR #9178 that will fix good part of the problems with the integration between apps and ebpf.
Ubuntu is a little bit different of debian, it is possible you are having another problem, what is the Ubuntu version that you are running?

Best regards!

[2020-06-08 14:30] kovacshuni commented on #9221
`Ubuntu 20.04 LTS`
Thank you. I managed to get netdata up and running, seems like those error messages can be ignored (if i don't want to use those data probably).

[2020-06-08 14:38] thiagoftsm commented on #9221
Yes you are right @kovacshuni , I will test on Ubuntu `20.04`, I have tested on Ubuntu 18.04 and it is working there, I am not sure if Ubuntu changed something between these versions.

[2020-06-08 14:46] Horkyze commented on #9270
@ilyam8 so there is no way to achieve it in the older version?

[2020-06-08 16:58] thiagoftsm commented on #9270
Hi @Horkyze ,

Netdata 1.12 had the streaming working and it also had registry, in theory if the package was created with the necessary dependencies, you should have it running. There are features that are only enabled on Netdata during the compilation time, if somehow the maintainers did not allow them, you won't be able to run.

Best regards!

[2020-06-08 17:03] Ferroin opened #9296 "Update check in dashboard not working correctly in Docker images."
##### Bug report summary

In some cases, the update check shown on the dashboard in our Docker images is not correctly reporting the absence of a new version.

##### OS / Environment

Any Docker install

##### Netdata version

Confirmed on current nightiles.

##### Component Name

area/packaging
area/web

##### Steps To Reproduce

Run our official Docker image as shown in the documentation, then n

[2020-06-08 17:07] Ferroin commented on #9206
It looks like the versions built in Travis were still linking against a copy of OpenSSL from the build environment instead of the locally-built copy I don't yet have a fix for this, but I do have a few ideas about how to go about fixing it. Provided one of those works, I should have a PR up in time for the pre-relase code freeze later this week.

[2020-06-08 20:35] asdokfgsopdkg commented on #9065
https://www.eff.org/https-everywhere is a reasonably trustable browser based workaround in the mean time

[2020-06-08 23:57] sticcino opened #9299 "Ability to hide other sections"
Hi,
 is it possible to hide any other sections, i reviewed topic 1250, which allows hiding the users and groups, was wondering if it can extend to hiding postfix and IPv6 sections as in our case, we don't use those services on many of our servers.

Thanks

[2020-06-09 00:13] startryst commented on #9289
happened twice yesterday: around 2AM and 10PM:
![image](https://user-images.githubusercontent.com/22472752/84092137-20dda880-aa29-11ea-9a98-c5c3e761eefb.jpeg)

[2020-06-09 01:18] timchou commented on #9275
@thiagoftsm
After one night long,there is no /tmp/return_from_curl file ...Even there is alarm.

![image](https://user-images.githubusercontent.com/352302/84095534-225f9e80-aa32-11ea-9615-d9e26c618696.png)

ls: cannot access '/tmp/return_from_curl': No such file or directory

[2020-06-09 07:18] kromit opened #9300 "Streaming agent fails to reconnect to master"
##### Bug report summary
Out master went down for maintenance. After restart only about a half of agents were able to reconnect to the master and send streams. Agent error:
[code]

Restarting the agent service fixes the issue so it is not a master problem.

##### OS / Environment

Agents run on Centos7 or Centos8. Installed via static kickstarter. No updates were run on agents or something like th

[2020-06-09 07:22] kimmoahola commented on #9139
Same here, installing `pkg-config` fixed the problem.

The package mentioned in the error message when installation fails:

[code]

[2020-06-09 08:45] vlvkobal commented on #8628
Could you grep `diskspace` in your `error.log`?

[2020-06-09 09:03] ilyam8 commented on #9300
Hi @kromit

what is exact version?

Can you `netdata -v` ?

[2020-06-09 09:05] vlvkobal commented on #9220
Netdata sends an HTTP header
[code]

The only thing that is missing

[2020-06-09 09:08] tinyhammers opened #9301 "404 when adding node to Netdata Cloud"
Hi guys...

I've added a small number of nodes to Netdata Cloud (whoop!) without issue.
However, I'm trying to add some more today and I'm getting the following:
[code]
I'm doing this with Ansible, and thought it might be that, but I've run the command locally on one of the boxes and I get the same error.

Here's my command, redacted, obvs
`netdata-claim.sh -token=THIS-IS-MY-TOKEN -rooms=THIS-IS-M

[2020-06-09 09:10] vlvkobal commented on #9220
Could you test #9302? Does it work correctly with Cortex?

[2020-06-09 09:17] tinyhammers commented on #9301
Ohhhhhhhhhh. I know what it is.
I've not upgraded to v1.22.1 on those nodes, have I?
D'oh.
Pardon my stupidity.

[2020-06-09 09:17] #9301 closed

[2020-06-09 09:28] kromit commented on #9300
That is the version. The output is `netdata v1.22.1`.
I do not use nightly updates since it deleted entire configuration on all nodes once.

[2020-06-09 09:30] mfundul commented on #9289
@startryst netdata will crash if it runs out of memory, it does not dynamically modify its data structures when the system is under memory pressure.

I suspect your setting `dbengine disk space = 2048` is the one that will consume a lot of memory over time. Look [here](https://learn.netdata.cloud/docs/agent/database/calculator) for RAM calculations. Depending on the compression ratio this disk spa

[2020-06-09 09:39] startryst commented on #9289
![image](https://user-images.githubusercontent.com/22472752/84132045-f6670c00-aa77-11ea-954f-68147227f455.jpeg)
See above, before it crash, the DB engine savings is at 80%, how can I interpret this value?

[2020-06-09 09:44] startryst commented on #9289
![image](https://user-images.githubusercontent.com/22472752/84132453-7c835280-aa78-11ea-88af-a8b5b1cab8d4.jpeg)

After I input all my current settings and value, it turns out the memory required is around 150MB, but the system comes with 512MB, should we reduce the page cache size from 30 to something even lower, like 5?
![image](https://user-images.githubusercontent.com/22472752/84132641-b3f1ff00

[2020-06-09 09:49] startryst commented on #3756
I'm another use of vnstat, just try to bring this topic back again to see if it's possible to add vnstat to netdata?

[2020-06-09 09:51] startryst opened #9304 "Vnstat support by Netdata"
This is same as #3756 , but would like to see any possibility to make it happen.

[2020-06-09 10:07] mfundul commented on #9289
So one thing the calculator says is that you should set disk space to `761 MiB`. However, you've set it to 2048, which would increase the RAM usage considerably. Setting the days to `80` would approximate the 2048 MiB better and would give a more realistic RAM usage.

In order to see real numbers look at the `NetData DB engine RAM usage (netdata.dbengine_ram)` chart.

[2020-06-09 10:12] startryst commented on #9289
Thanks, @mfundul , it looks I'm getting on track, check it out below, now after I set `dbengine disk space = 400`
![image](https://user-images.githubusercontent.com/22472752/84135489-a3438800-aa7c-11ea-96f1-c76a3c05c862.jpeg)

[2020-06-09 10:20] mfundul commented on #9289
Check out the documentation [here](https://learn.netdata.cloud/docs/agent/database/engine) or [here](https://github.com/netdata/netdata/blob/master/database/engine/README.md).

[2020-06-09 10:26] MuhammadMunir12 commented on #9223
Hey, @thiagoftsm

The ownership of these files is under:
root and Netdata.

[root@abc ~]# ls -l /usr/libexec/netdata/plugins.d/ebpf.plugin
-rwsr-x---. 1 root netdata 51128 May 27 20:41 /usr/libexec/netdata/plugins.d/ebpf.plugin

I was working with root user but still faced this issue.

And thank you for mentioning the command options for it, that was missing in doc earlier.

[2020-06-09 11:08] #9282 closed

[2020-06-09 11:08] #9283 closed

[2020-06-09 11:26] startryst commented on #9289
Thank you @mfundul  this is to the point and helpful!

[2020-06-09 11:26] #9289 closed

[2020-06-09 11:27] mfundul commented on #9113
@bashirs-investing could you run the latest code from master branch, or wait one day for the next nightly, to get some more verbose output from netdata?

[2020-06-09 11:28] thiagoftsm commented on #9300
Hi @kromit ,

Are you using TLS connections?
Another doubt, can you access master dashboard  on slave using `curl`?

Best regards!

[2020-06-09 11:31] MuhammadMunir12 commented on #9222
Hi @thiagoftsm
As you mentioned the steps for having insights of tacepoints, kprobes we have to create a PR request first and then proceed accordingly. That's great piece of information.

 I have a little query just to clear my doubts and have better vision of custom plugins, to write any custom plugin or collector **do we have to follow the same steps** as you mentioned earlier like; creating PR

[2020-06-09 11:42] Romanow88 commented on #8628
No hits.

[2020-06-09 11:43] kromit commented on #9300
I am using SSL key and cert on master with
[code]

But this does not matter since the master is definitively reachable.  Some agents have no trouble reconnecting, some so. Its about 50/50 chance. On exactly identical machines. Restarting the slave agent service fixes the connection issue.

[2020-06-09 11:46] mfundul commented on #9300
How many slaves would that be? Be sure to check the master's `error.log` for errors. It could also be related to file descriptor limits or something else.

[2020-06-09 11:55] kromit commented on #9300
20+ nodes total. On the master it looks like this.
[code]
The update rate is set 5 hence the delay.

Again, the master is not the problem. All I need to fix this is to restart the slave, like I've already did 10+ times.

[2020-06-09 12:55] amoss commented on #9300
It's an interesting issue. The error reported from the openssl library is not very helpful and simply indicates that the underlying BIO failed, but not why. We have seen some problems recently on static installations on CentOS that relate to openssl but they were problems retrieving the certificate roots so they don't apply here. We've made large changes to the streaming code this month but they d

[2020-06-09 12:58] amoss commented on #9300
And seconds after posting....

This is probably the problem:
[code]

This configuration is unusual, it means that `HTTPS_ENABLED` is set in the code and some of the connections are SSL but others are not. So after the return from `connect_to_any` we may have a socket in either state. I can take a look at this after we merge the current changes.

[2020-06-09 12:59] amoss commented on #9291
@mfundul / @stelfrag I've fixed the crash that was caused by the dbengine failing to open the file. Could you take a look at the database problem and see if it is the `null` hostname or something else?

[2020-06-09 13:21] mfundul commented on #9291
By looking at the log:
[code]
It appears that this file `datafile-1-0000000005.ndf` is corrupted. You can delete the pair:
[code]
to work around this problem. Or you could delete the whole database folder.

[2020-06-09 13:45] jlbriston commented on #7133
**May 2020 Contributors of the Month** 🎉

Thank you all for your contributions! The time and expertise that you've volunteered are vital to our success and we want to thank you.

Please email us at **rewards@netdata.cloud**, your username, physical address, and preferred t-shirt size to receive your gift.

@cherouvim
@electropup42
@Steve8291
@rushikeshjadhav
@elelayan
@slavaGanzin
@araemo
@ernesto

[2020-06-09 14:22] Duffyx commented on #8707
I just tested this but unfortunately this did not reproduce :-/

[2020-06-09 16:19] okasap commented on #9277
[netdata.txt](https://github.com/netdata/netdata/files/4753386/netdata.txt)

[2020-06-09 16:35] okasap commented on #9277
on docker you can see the logs with below command
docker logs <Name of the docker instance> -f 2

[2020-06-09 16:47] #8884 closed

[2020-06-09 17:30] Ferroin opened #9306 "CentOS 8 PR checks failing intermitently"
Failure is during the prep step that creates a docker image with the required dependencies.

<details>
<summary>Sample log from failing step</summary>
<pre>
2020-06-09T15:56:00.8603772Z Sending build context to Docker daemon  20.98MB
2020-06-09T15:56:00.8603896Z
2020-06-09T15:56:00.8755773Z Step 1/8 : ARG BASE
2020-06-09T15:56:00.8756196Z Step 2/8 : FROM ${BASE}
2020-06-09T15:56:01.0558148Z 8: Pul

[2020-06-09 20:02] ilyam8 commented on #9277
<details>
<summary>click click</summary>

[code]

</details>

- check your config syntax
- `1.3.6.1.4.1.25461.2.1.2.3.9.1.6` is not a valid OID, use `snmpwalk` to get correct one
- increase the timeout

[2020-06-09 20:06] ilyam8 commented on #9304
Hi

I think we already collect network traffic from proc.

Can you elaborate a bit? I didnt read #3756 carefully, but since it is a new issue it would be nice to have more or less detailed description who you ask.

[2020-06-09 21:55] okasap commented on #9277
In my previous threat we fixed it as 1.3.6.1.4.1.25461.2.1.2.3.9.1.6.1
there is no problem with snmpwalk..

[2020-06-09 21:59] ilyam8 commented on #9277
Those are problems i see in the [netdata.txt](https://github.com/netdata/netdata/issues/9277#issuecomment-641411209)

This is how you debug it

Check error.log, no errors? good.

Add something and it stops working? Back to error log, the answer is (likely) in there.

[2020-06-09 22:43] Joshua2504 commented on #8977
I run into the same issue using docker.

I've started netdata using the given docker-compose.yml.

[2020-06-09 23:51] Saruspete commented on #2620
Greetings,

Would some people interested here to test the PR on their hardware, and give me some feedback ?

Thanks,

[2020-06-09 23:53] Saruspete commented on #6523
Hello there. Would it be possible to assign someone to this **epic** feature please ?

[2020-06-10 01:54] startryst commented on #9304
So, let me share this to you as the outcome what I'm trying say:
[code]
![image](https://user-images.githubusercontent.com/22472752/84217866-da0eb200-aaff-11ea-8ca4-61885ffe39a4.png)

So as you see above, through vnstat, we can get a aggregate of how many bytes has been transferred, rather than the real-time one, would be nice if we can get similar output from netdata.

[2020-06-10 03:25] thiagoftsm commented on #9223
Hi @MuhammadMunir12 ,

I apologize the delay, but yesterday I had a busy day preparing the new release of `ebpf.plugin` that will bring integration with `apps.plugin`.

About the permission you are showing in the previous comment, I am not sure if bash is understanding correct this permission, because the user does not have any permission, and the SUID looks to be applied only to user, please, can

[2020-06-10 03:48] thiagoftsm commented on #9222
Hi @MuhammadMunir12 ,

Yes, you are right. For you do the final integration, you will need to do another PR here. You will need to do the following steps to do the whole work.

1 - Clone `netdata/kernel-collector` repository.
2 - Create a new branch and after this to do a PR for the repository.
3 - Clone `netdata/netdata` repository.
4 - Create a new branch for this repository.

I will try today t

[2020-06-10 08:56] timchou commented on #9275
But when I run : bash -x /usr/libexec/netdata/plugins.d/alarm-notify.sh test

I can see the content of /tmp/return_from_curl

[2020-06-10 08:57] timchou commented on #9275
So it means netdata didn't call "/usr/libexec/netdata/plugins.d/alarm-notify.sh" ?

[2020-06-10 09:50] yambakshi opened #9307 "What causes HTTP_VALIDATION_NOT_SUPPORTED?"
##### Question summary
I'm receiving HTTP_VALIDATION_NOT_SUPPORTED when requesting charts from Netdata.
What could cause my request to fail on HTTP_VALIDATION_NOT_SUPPORTED?

##### OS / Environment
CentOS 7

##### Component Name
Web

##### Expected results
HTTP will be validated successfully

[2020-06-10 10:04] thiagoftsm commented on #9307
Hi @yambakshi ,

Netdata only returns this message when the Header sent by the client is not completely understood. What is the software that you are using to do requests for Netdata?

Best regards!

[2020-06-10 10:28] yambakshi commented on #9307
Hey @thiagoftsm ,
Thanks for the response!
The request is sent sent by the client goes to a proxy server and then to netdata.
These are the proxy request headers:
[code]

Thanks!

[2020-06-10 13:53] #9220 closed, assigned to vlvkobal

[2020-06-10 17:55] Daniel15 opened #9314 "Linux slab info"
Netdata currently displays reclaimable and unreclaimable slab usage:
![](https://d.sb/2020/06/firefox_10-10.51.05.png)

However, it would be useful to also show the types of the slabs that are in use, similar to the output from `slabtop`.

My exact use case is that I'm encountering a memory leak in the kernel with `kmalloc-64` slabs, so I'd like to see how the number and size of `kmalloc-64` slabs

[2020-06-10 22:53] Daniel15 commented on #9314
Even just the top 10 types would be useful, or some way of logging particular types (so I could enable it just for the generic `kmalloc-*` types)

[2020-06-10 23:45] gamefundas commented on #9201
@prologic I got a little delayed responding back on this.

I would say that custom/external AMI may not be a preferred option with people in general as most firms would already be managing security/vulnerability using their own devops engineering process. There is a very streamlined audit process to validate software packages, update images quarterly etc to certify AMI's and yum repo's in the orga

[2020-06-10 23:50] thiagoftsm commented on #9307
Hi @yambakshi ,

It looks like that the headers are fine, probably the original request is having problem. I would say possibles problems that come in my mind:

1 - The proxy is not finishing the request with `\r\n\r\n`.
2 - The proxy is using a request that is not expect, for example, `POST`. Netdata works mainly with `GET` and `OPTIONS`.
3 - There is a TLS misconfiguration in one of the sides, e

[2020-06-11 00:06] gamefundas commented on #9208
Most companies that I know about who are AWS shoppers, are using Amazon Linux extensively mainly due to, good support, frequent security patches and healthy ecosystem that it offers. In my opinion this should be prioritized sooner.

[2020-06-11 00:13] thiagoftsm commented on #9208
Hi @gamefundas ,

We already had an internal talk about this situation and we will take a look on this ASAP.

Best regards!

[2020-06-11 00:17] gamefundas commented on #5062
@cakrit stale network interactions can be managed via agent configuration as to what level of sensitivity the user wants to maintain about these connections. If its a ephemeral node that keeps changing too often they could configure it to a smaller value, few hours, but if its a host that potentially has a longer life span then someone can configure it to go stale only after few days of inactivity

[2020-06-11 06:00] startryst opened #9317 "Unreachable in netdata cloud, and error shows required indendencies to enable netdata cloud"
`netdata v1.22.1-240-nightly`

it was fine couple of days ago and can report back to netdata cloud, but now it's unreachable on netdata cloud

and when I open the device netdata page, it shows below:
![image](https://user-images.githubusercontent.com/22472752/84350227-837ea200-abeb-11ea-9800-42ab07a7029f.jpeg)

but actually the json-devel and all dependencies already installed, I even run the one-

[2020-06-11 06:00] startryst commented on #9317
[code]

[2020-06-11 09:10] prologic commented on #9201
@gamefundas No worries :) It was mostly a tongue-in-cheek comment. We have a few problems supporting our eBPF plugin on the Redhat family of Linux dustri(s) which include CentOS and Amazon Linux. We're working on it however. Stay tuned!

[2020-06-11 09:35] startryst commented on #9317
when try to claim the node, get back to me below:
`This agent was built without the dependencies for Cloud and cannot be claimed`

[2020-06-11 10:21] #8989 closed

[2020-06-11 11:35] euggge opened #9319 "cannot claim node - code error 28"
##### Bug report summary

whenever i try to claim a node i get the following error:
[code]
##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1-248-nightly

##### Component Name

##### Steps To Reproduce

1. ... Install netdata
2. ... Claim node

##### Expected behavior

for the node to be claimed

[2020-06-11 11:48] cakrit opened #9320 "Per chart settings on netdata.conf & streaming"
##### Bug report summary
When we have dbengine with multiple child nodes sending to a parent, the web request for netdata.conf takes forever, because it includes the settings for each chart.

##### Steps To Reproduce
Visit http://host:19999/netdata.conf on any parent node with dbengine and tens of children

##### Expected behavior
netdata.conf returns in a timely manner.

We discussed with @ktsaou

[2020-06-11 12:07] prologic commented on #8862
Unfortunately, no. I haven't had an opportunity to get back to this at the moment. How many nodes do you have to manage? Would you be able to try running the Static Netdata agent on them via `kickstart-static64`?

[2020-06-11 12:10] #8560 closed

[2020-06-11 12:11] prologic commented on #8560
This is not worth being in any backlog. Fix them as you go along and don't break anything in the process.

[2020-06-11 12:23] prologic commented on #9306
@Ferroin I suspect this _might_ actually have something to do with CentOS mirrors hosted within Microsoft(s) Datacenter for their Azure Cloud. Have you checked this? We've had issues with this in the past with their Ubuntu/Debian mirrors. Since they manage the runners we use (_since we're not using our own self-hosted ones_) they also manage the network and the OS and have control over what mirror

[2020-06-11 12:26] prologic commented on #9296
@Ferroin Can you please post screenshots of the error or some sample test? Is it just that if there is no new version it still thinks there is?

[2020-06-11 14:11] cakrit commented on #9287
@jiuchen1986 can you please test PR #9321?

[2020-06-11 14:22] Ferroin commented on #9306
They don't manage the Docker images we're using to do the testing itself though, and if they're intercepting and replacing or modifying the one's we're downloading even just to force usage of their own local repo caches, that's unacceptable, _period_.

[2020-06-11 14:26] Ferroin commented on #9296
Effectively yes, with the caveat that the reported new version doesn't actually exist, and doesn't match the version numbers used in our Docker containers (which may be part of the issue).

I _think_ it's looking at a source other than the Docker images to try and figure out if a new version is available, but I'm not sure, and I don't know how we might fix it (or why it wouldn't be happening in th

[2020-06-11 15:09] underhood commented on #9319
@euggge did you try again after some time? could it be some intermittent unavailability of the `app.netdata.cloud`?

[2020-06-11 15:36] mailinglists35 opened #9322 "heap memory leak on rpm-based linux distro"
##### Bug report summary

after 3 months of running, I found netdata process consuming over 1GB of ram.
##### OS / Environment

[code]

##### Netdata version

[code]
##### Component Name

/usr/sbin/netdata
##### Steps To Reproduce

[code]

wait 3 months, then check memory usage:

[code]
##### Expected behavior

after 3 months, use about the same memory as when starting:
[code]

##### Additional In

[2020-06-11 15:46] euggge commented on #9319
i doubt it, i tried it multiple times in the span of 3 days, both with the stable e and the nightlty version, same error

[2020-06-11 16:28] mrbrutti commented on #8862
I tried, with `brew install netdata` with `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` and with clonning master and executing `sudo ./netdata-installer.sh --install /usr/local`

[2020-06-11 16:30] mrbrutti commented on #8862
I assume you meant this, I just tried it and it says it is linux only.
[code]

[2020-06-11 17:02] underhood commented on #9319
are you able to to `wget https://app.netdata.cloud`?
I can try this on RPi tomorrow, I have one lying around (not sure it is 2nd or 3rd gen)

[2020-06-11 17:21] mrbrutti commented on #8862
what i don't understand is why if this is just an issue of not picking up the OpenSSL libraries why the exports are failing to do a proper compile.

[2020-06-11 19:06] euggge commented on #9319
yes wget works as expected
[code]

thanks!

[2020-06-11 20:56] jacekkolasa commented on #8830
hi @mritzmann , i confirm - the snapshot exported via UI has different structure than `data?chart=` call. It has more other data, like chart metadata, metrics for other charts, hostname, etc. It is unfortunately now impossible to export snapshot without UI. It would be a nice feature to have, i agree!

[2020-06-11 20:56] jacekkolasa commented on #8830
cc @dim08

[2020-06-11 22:14] prologic commented on #8862
Hmm I'm so sorry I had a brain fart. Yes of course our static builds only build for Linux :/ But this is wrong and needs to be fixed.

[2020-06-11 22:18] prologic commented on #9306
True but they do control the network. It is "their" Datacenters :) I asked if you had explored the environment differences though? If not I'll have a look at this if I have time today.

[2020-06-11 23:49] mrbrutti commented on #8862
No need to apologize. Let me know if you do have a solution in mind and I will be happy to test it in some of my nodes.

[2020-06-12 07:26] #8894 closed

[2020-06-12 07:26] #8908 closed

[2020-06-12 07:33] stdedos commented on #9007
Given no objections @stale, I'd prefer a response 😃

[2020-06-12 07:54] ilyam8 commented on #9007
Hi

https://github.com/netdata/netdata/blob/1bd8a255441de6056a0d51a7bb787f76b590ffb6/health/health.d/disks.conf#L158-L164

We have not top processes and processes in general, there are process groups - see appl.plugin charts.

[2020-06-12 08:49] stdedos commented on #9007
I haven't graduated reading netdata configuration 😅.

I assume this means "for a sliding window average between [-10,0) minutes from now"?

Good to know, thanks!
Would someone fix the links that lead to https://github.com/netdata/netdata/blob/master/docs/Add-more-charts-to-netdata.md ?

I am on v1.22.1-256-nightly (the latest?), and I am getting a semi-dead link.

[2020-06-12 08:59] stdedos commented on #9008
pls @stalebot

[2020-06-12 09:18] underhood commented on #9319
@euggge
I just tried on a fresh installation of `raspbian`. With Raspbery Pi.

[code]

[code]

Installed by: `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --disable-telemetry`

And claimed by **_(as root user)_**:
[code]

![Screenshot from 2020-06-12 11-09-53](https://user-images.githubusercontent.com/6674623/84486910-55a66580-ac9e-11ea-9957-9ddd77a1c0c0.png)

@euggge What inst

[2020-06-12 09:21] underhood commented on #9319
What we can try if you still cannot claim it is:
1. Delete all files under `/var/lib/netdata/cloud.d/`.
1. Delete file `/var/lib/netdata/registry/netdata.public.unique.id`.
1. Restart Netdata -> this should generate new identity file `/var/lib/netdata/registry/netdata.public.unique.id`
1. Try to claim again with this new identity (cloud will see your agent as a completely new/fresh).

[2020-06-12 10:11] diched commented on #2620
Hi Adrien,

I could do it, sure.
Please send me instructions what to install and how.

Cheers
Eduard

On Wed, Jun 10, 2020 at 1:51 AM Adrien Mahieux <notifications@github.com>
wrote:

[2020-06-12 10:15] euggge commented on #9319
i installed via `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`
I tried disabling my router's firewall, still no luck. I don't use any proxy

Delete all files under /var/lib/netdata/cloud.d/.
Delete file /var/lib/netdata/registry/netdata.public.unique.id.
Restart Netdata -> this should generate new identity file /var/lib/netdata/registry/netdata.public.unique.id
Try to claim again with this

[2020-06-12 10:21] KlavsKlavsen commented on #8613
I would very much like this as well - since we have hosts that are behind NAT - and we already use netdata proxy setup - so metrics are streamed to a central netdata - and it would be fantastic to just add prometheus /metric endpoints for a netdata agent to scrape, so it got streamed to our netdata proxy.

[2020-06-12 10:30] KlavsKlavsen commented on #7897
How is the generic prometheus scraper progressing? any place we can look - and perhaps assist? We are using netdata streaming feature - to forward all agent metrics to a central netdata proxy - so it can be reached (hosts are inaccessible from central place) - and would like to also scrape /metrics endpoints so we can get those, streamed to central location, via the netdata also.

[2020-06-12 10:47] lds-lds opened #9325 "how to disable lxc.monitor"
hello
since using the snap version of lxd, lxc.monitor and lxc.payload has appeared on the netdata interface
I only need lxc.payload
How to disable lxc.monitor ?
thank you for all your work

[2020-06-12 11:04] #9206 closed

[2020-06-12 11:25] underhood commented on #9319
Hmmm strange...
Not sure what the problem can be at this point.

If you are willing to play with it a bit you can see the claiming script tries to just use `curl` if available and `wget` as fall back if curl not installed on system.
[code]
additionally, we can try and skip the deletion of `tmpout.txt`.
`rm -f "${CLAIMING_DIR}/tmpout.txt"` in netdata-claim.sh and then take a look into it

[2020-06-12 11:30] ilyam8 commented on #9325
Hi

Check [plugin:cgroups] `enable by default cgroups matching` in the `netdata.conf.

Syntax: https://learn.netdata.cloud/docs/agent/libnetdata/simple_pattern

[2020-06-12 11:31] underhood commented on #9319
If using curl the error code 28 seems to be:
[code]
might make sense to try and increase the --connect-timeout?

[2020-06-12 11:33] ilyam8 commented on #2620
@diched

you need to intall `Saruspete:collector_infiniband` branch

[code]

[2020-06-12 11:33] Ferroin commented on #9306
I've not looked all that deeply into it other than confirming that it works everywhere else I can test.

[2020-06-12 11:41] ilyam8 commented on #9007
Yes.

@joelhans please take a look

[2020-06-12 12:01] stdedos commented on #9007
Well, the e-mail arrived ~02:50 in the night ... so I guess it kinda looks like it made sense? 😕

I would think a more spot-on notification would be in order, but I am not complaining. I would've snored equally loud at-the-time 😁

[2020-06-12 12:35] #8912 closed

[2020-06-12 12:35] #8914 closed

[2020-06-12 13:00] lds-lds commented on #9325
Thank you for this information.
I test as soon as possible

[2020-06-12 13:22] stelfrag commented on #9320
@cakrit the issue title says chart settings on netdata.conf and streaming but the description says `... to remove the per-chart settings from netdata.conf`

Just to clarify. We want the per chart setting for the "child" nodes to go away or for the parent as well?

[2020-06-12 13:35] joelhans commented on #9007
@stdedos Where are you seeing these links? I've been poking around and I haven't been able to find links that point to that document.

[2020-06-12 14:10] stdedos commented on #9007
I think it is on "Add more charts" on the main page of Netdata app (or something like that, I don't have access to it at the moment)

[2020-06-12 14:23] euggge commented on #9319
that fixed it! I modified the netdata.claim.sh script following your suggestion as follows:
`URLCOMMAND="curl --connect-timeout 10 --retry 5 -s -i -X PUT -d \"@${CLAIMING_DIR}/tmpin.txt\""`
and I was finally able to claim the node
Thanks again.

However i wonder why it takes so long to establish a connection. I have a gigabit fiber connection to my home and the rpi wired directly to the router

[2020-06-12 14:28] joelhans commented on #9007
Oh, I see them now. Yes, I'll be sure to change those links. Thanks for letting us know.

[2020-06-12 14:37] #9007 closed

[2020-06-12 14:43] kovacshuni commented on #6061
i'd like to have this as well.
same discussion in https://github.com/netdata/netdata/issues/250

[2020-06-12 14:47] underhood commented on #9319
Yes that is definitely weird. What is the load on that raspberry pi? Is it possible that it is simply too busy and TLS handshake is simply not done in time because of that?

[2020-06-12 14:55] lds-lds commented on #9325
great il works, thanks :)
[plugin:cgroups]
        enable by default cgroups matching =  !*/init.scope  !/system.slice/run-*.scope  *.scope  /machine.slice/*.service  !*/vcpu*  !*/emulator  !*.mount  !*.partition  !*.service  !*.socket  !*.slice  !*.swap  !*.user  !/  !/docker  !/libvirt  !/lxc  !/lxc/*/*   !/lxc.pivot  !/lxc.payload  !/machine  !/qemu  !/system  !/systemd  !/user  *

[2020-06-12 15:07] euggge commented on #9319
the load it's usually pretty low and i'm using google dns
[code]

[2020-06-12 15:36] underhood commented on #9319
hmm, what I think is I close this issue as it seems to be unique for you. I want to improve however the error reporting in claiming script and maybe add flag `--conect-timeout` to it for cases where connection is slower for whatever reason

[2020-06-12 15:41] underhood commented on #9319
@euggge How about the cloud connection after you claimed it. Is it working OK?

[2020-06-12 15:46] underhood commented on #9025
Dear stale bot. I for one welcome our new robot overlords!
But please kindly try to understand that in this specific case you might have misjudged the situation **(definitely not saying you are wrong)** as this issue will soon be picked up by one of our meat and bones developers.

[2020-06-12 17:36] thiagoftsm opened #9328 "ebpf.plugin Installation on CenOS 7.x"
##### Bug report summary
`ebpf.plugin` does not start on CentOS 7.x, because `SELinux` is blocking it, we need to update our documentation,.

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-268-g78a19f94

##### Component Name
Collector

##### Steps To Reproduce

1. Install Netdata on CentOS 7.x

##### Expected behavior
To run ebpf.plugin on CentOS 7.x

[2020-06-12 17:40] thiagoftsm opened #9329 "ebpf.plugin does not close when SIGPIPE happens"
##### Bug report summary
When `netdata` binary exits, ebpf.plugin continues running. It should detect SIGPIPE and stop running.

##### OS / Environment
[code]

##### Netdata version
 netdata v1.22.1-268-g78a19f94

##### Component Name
Collectpr

##### Steps To Reproduce
1. Send a `kill -9` to netdata process.
2.ps aux| grep ebpf

##### Expected behavior
Close ebpf.plugin when SIGPIPE is received.

[2020-06-12 17:50] joosthoogendoorn opened #9331 "CentOS 6.10: "Cannot start netdata without the spawn server.""
When trying to install Netdata on CentOS 6.10 (using root) with:

`bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)`

I get the following logging:

[code]

Netdata is successfully installed, but isn't able to start. A process restart of netdata (/etc/init.d/netdata restart) gives the same logging output, obviously.

[2020-06-12 18:09] thiagoftsm opened #9332 "Unit is not resizing on ebpf charts"
##### Bug report summary
Netdata does not have units conversion for `bytes/s` and `B/s`.

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-268-g78a19f94

##### Component Name
dashboard

##### Steps To Reproduce

1. Start netdata
2. Start a download
3. take a look on ebpf socket charts

##### Expected behavior
Resize `bytes/s`.

[2020-06-12 18:09] thiagoftsm commented on #9332
@jacekkolasa I am fixing this for the old dashboard, but I am not sure if this also fixes for the react dashboard.

[2020-06-12 19:26] zilexa opened #9334 "cannot find index.html but it runs fine"
##### Question summary
I used the installation instructions to install Netdata on Ubuntu Budgie 19.10 and it runs just fine. However I would like to slightly modify the default system dashboard top overview, adding a temperature gauge.
Strangely, every documentation online points to /web/index.html. This does not exist in my install! The folder /usr/share/netdata does not even exist.
The only thin

[2020-06-12 19:33] thiagoftsm commented on #9223
Hi @MuhammadMunir12 ,

I could recreate this problem today, when the PR #9333 is merged, the problem reported will be fixed.

Thank you!

[2020-06-12 20:23] #9019 closed

[2020-06-12 22:49] euggge commented on #9319
The netdata cloud is working flawlessly. I’ll keep investigating on the connection problem on my end. A flag for —connect-timeout could be useful, i agree. Thanks again

[2020-06-12 22:49] #9319 closed

[2020-06-13 02:29] DSpeichert commented on #9206
I'm not sure if this is related but it still does not work, now with a different error in the dashboard:
![image](https://user-images.githubusercontent.com/1254971/84557819-16a6fd00-acfc-11ea-9abd-61fab810b98a.png)

I cannot find the error in the console this time because there is no line that greps for "cloud" and there are thousands of error printed from all sorts of plugins, making it hard to s

[2020-06-13 10:05] thiagoftsm commented on #9206
Hi @DSpeichert ,

Please, try to search error messages for "ACLK".

Best regards!

[2020-06-13 12:31] cgtown commented on #8846
Hello, I've installed netdata on Debian 8 using deb and have completely the same problem:
`2020-06-13 15:19:48: netdata ERROR : ACLK_Main : Challenge failed:  (errno 9, Bad file descriptor)
2020-06-13 15:19:48: netdata INFO  : ACLK_Main : Retrying to establish the ACLK connection in 4.218 seconds
2020-06-13 15:19:52: netdata INFO  : ACLK_Main : Attempting to establish the agent cloud link
2020-06-

[2020-06-13 12:32] antondemidov commented on #8846
Hello, I've installed netdata on Debian 8 using deb and have completely the same problem:
`2020-06-13 15:19:48: netdata ERROR : ACLK_Main : Challenge failed: (errno 9, Bad file descriptor) 2020-06-13 15:19:48: netdata INFO : ACLK_Main : Retrying to establish the ACLK connection in 4.218 seconds 2020-06-13 15:19:52: netdata INFO : ACLK_Main : Attempting to establish the agent cloud link 2020-06-13

[2020-06-13 16:09] DSpeichert commented on #9206
I saw something similar in #8977 and other closed issues.

[2020-06-13 17:30] rpelissi opened #9335 "megacli plugin not working"
##### Bug report summary
megacli plugin display can't locate "sudo" or "megacli" binary even if sudo and megacli command are installed

##### OS / Environment
[code]

##### Netdata version
/opt/netdata/bin/netdata -V
netdata v1.22.1-233-ge68048e2

##### Component Name
megacli

##### Steps To Reproduce
1. Install and update to latest version of proxmox 6.2
2. Install the megacli tool (apt install)

[2020-06-13 18:01] ilyam8 commented on #9335
hi @rpelissi

did you try `sudo` or `megacli` as `netdata` user?

[2020-06-13 18:38] ploedman commented on #3717
unfortunately does not work for me. It just loads the website without any authentication.

[2020-06-13 20:31] mfundul commented on #9331
I used an up-to-date clean Centos 6.10 VM and ran the same command as both a normal user and as root. I can't seem to reproduce this. Can you think of any configuration differences your system has to my set-up?

[2020-06-14 19:59] kachkaev commented on #7295
The issue is still there:

<img width="809" alt="Screenshot 2020-06-14 at 20 58 21" src="https://user-images.githubusercontent.com/608862/84602821-eb4e1a80-ae81-11ea-8f39-fe1c602a973e.png">

Please reopen 🙏

[2020-06-14 20:05] ilyam8 commented on #7295
@kachkaev https://github.com/netdata/netdata/issues/9296

[2020-06-14 20:12] joosthoogendoorn commented on #9331
The only thing I can think of is that it is a DirectAdmin server.

[2020-06-14 20:16] thiagoftsm commented on #9223
Ho @MuhammadMunir12 ,

An update about the PR #9333, @Ferroin called our attention for the fact that SELinux could be blocking `ebpf.plugin` to run on CentOS 7.x, and I could confirm this yesrteday. Today I updated our documentation on the PR, after to run the commands to create a new policy, the `ebpf.plugin` ran without problems on the latest CentOS 7.x .

Best regards!

[2020-06-14 20:29] kachkaev commented on #9296
Observing this problem using Docker image `netdata/netdata:v1.22.1`:

<img width="809" alt="Screenshot 2020-06-14 at 20 58 21" src="https://user-images.githubusercontent.com/608862/84602821-eb4e1a80-ae81-11ea-8f39-fe1c602a973e.png">

Issue history: #7295

[2020-06-14 21:26] mfundul commented on #9331
What is the output of the following commands?
[code]

[2020-06-14 22:18] joosthoogendoorn commented on #9331
[code]

[2020-06-15 02:16] mrbrutti commented on #8862
`sudo LDFLAGS="-L/usr/local/opt/openssl@1.1/lib" ./netdata-installer.sh --install /usr/local --disable-telemetry --require-cloud` worked.

[2020-06-15 03:49] fighting-cdd commented on #4053
Hi，how can I  set "NETDATA_INTERNAL_CHECKS" to false, is it can be set in netdata.conf ? netdata interval check may cause broken graph~

[2020-06-15 04:03] mfundul commented on #9331
Related to https://github.com/netdata/netdata/issues/9113

[2020-06-15 04:04] mfundul commented on #9331
What happens if you run netdata by hand, e.g. if you run `/opt/netdata/bin/srv/netdata`?

What is your running kernel?

[2020-06-15 05:03] prologic commented on #8862
Are you able to claim it via Netdata Cloud and connect it?

[2020-06-15 05:08] prologic commented on #8846
@joelhans Can you point @antondemidov to our docs on this? I'm pretty sure we've merged the relevant fixes and docs by now?

@antondemidov Yes it is possible but at very reduced security that has no way to verify the authenticity of the host you are connecting to. You are therefore susceptible to MitM attacks between your Agent(s) and our Netdata cloud. I would recommend upgrading your OS personal

[2020-06-15 06:33] antondemidov commented on #8846
Thank you @prologic
We have plans to upgrade it, but for now we have to use Debian 8
Looking forward to check documents

[2020-06-15 06:48] lds-lds commented on #9317
same error with ubuntu/xenial ubuntu/bionic solus

[2020-06-15 07:09] underhood commented on #8966
@ThoSap we did some troubleshooting and after recent changes from @Ferroin this issue should be resolved in latest nightlies.

[2020-06-15 07:27] ThoSap commented on #8966
@underhood perfect, good to hear😊
In the meantime I used the workaround using the symlink.

Thanks for your time and god bless this great project🤟🏻

[2020-06-15 07:39] #8966 closed

[2020-06-15 07:48] Kovah opened #9336 "Netdata start fails with "database/engine/rrdengineapi.c:80: rrdeng_metric_init: Assertion `0' failed.""
##### Bug report summary
I have an issue similar to #9113 but I am not sure if it's really the same problem. Netdata has stopped yesterday and won't start again:

[code]

I can remember that Netdata showed issues with not being able to connect to the cloud or something similar last week, but it worked without issues.

##### OS / Environment
[code]

##### Netdata version

netdata v1.22.1-276-nightl

[2020-06-15 08:16] stelfrag commented on #9336
Hi @Kovah would it be possible to share the two metadata log files so we can pin point the issue

- /var/cache/netdata/dbengine/metadatalog-00000-00001.mlf
- /var/cache/netdata/dbengine/metadatalog-00000-00002.mlf

you can send me directly at stelios@netdata.cloud

[2020-06-15 09:49] Kovah commented on #9336
I sent the files to the email address, as well as the complete error log file in case other information is needed.

[2020-06-15 09:59] pySilver commented on #6432
Hey! I just came across netdna and it looks great. The only problem I have is that I'm using orchestration, so I have no idea when and where my services are running. What are my options here?

Should I simply use `autodetection_retry` for services that I'm using at the moment? (I have few of them, like ~10)
If not using `autodetection_retry` I will still have VM host metrics, right?

[2020-06-15 10:26] stelfrag commented on #9336
Thank you -- files received. We are taking a look right now

[2020-06-15 11:41] mfundul commented on #9331
@joosthoogendoorn can you test #9339 ?
To compile from source you'd have to do the following:
[code]

To get any additional changes from the PR if it's needed you'd have to run:
[code]
from the same `netdata/` directory.

To replace the existing installation you need to install the dependencies and afterward run the installer. Run those from the `netdata/` directory:
[code]

[2020-06-15 11:45] prologic commented on #8117
Icing this for now... See [comment](https://github.com/netdata/netdata/pull/8705#issuecomment-644078790)

[2020-06-15 11:45] mfundul commented on #9113
@bashirs-investing can you test #9339 ?
To compile from source you'd have to do the following:
[code]

To get any additional changes from the PR if it's needed you'd have to run:
[code]
from the same `netdata/` directory.

To replace the existing installation you need to install the dependencies and afterward run the installer. Run those from the `netdata/` directory:
[code]
If your installation i

[2020-06-15 12:18] bashirs-investing commented on #9113
yup it solved the problem .

now it's working

[2020-06-15 12:43] joelhans commented on #8846
Hi @antondemidov! Here's a link to the relevant document about why your Debian 8 installation can't connect to Netdata Cloud: https://learn.netdata.cloud/docs/agent/packaging/installer#older-distributions-ubuntu-1404-debian-8-centos-6-and-openssl

We have a fix for Debian 8 enabled in our nightlies, but that fix won't hit the stable build until Wednesday. So, you can wait until Wednesday when v1.2

[2020-06-15 13:05] joosthoogendoorn commented on #9331
Unfortunately I cannot install Netdata from sources, as I have 2 different versions of OpenSSL installed, the installed distribution version and a manually installed local version. (https://github.com/netdata/netdata/issues/8306)

Thank you for asking this question, because this leaded into the right direction, the server was running a very old kernel (2.6.32.60xls-domU).
Netdata is running fine n

[2020-06-15 13:10] #9331 closed

[2020-06-15 13:22] yambakshi commented on #9307
Thanks @thiagoftsm !
Problem was the proxy server added some redundant headers, request body and request query.
Removing them solved the issue.
Thanks!

[2020-06-15 13:22] #9307 closed

[2020-06-15 13:25] yambakshi opened #9341 "Configuring CORS in netdata"
##### Question summary
Is there a way to configure netdata CORS to a specific URL instead of a wildcard?

##### OS / Environment
CentOS 7

[2020-06-15 13:27] antondemidov commented on #8846
Thanks, @joelhans and @prologic for quick response!
I'll wait for `1.23` release

[2020-06-15 13:41] #8900 closed

[2020-06-15 13:41] #8901 closed

[2020-06-15 13:42] #8902 closed

[2020-06-15 13:42] #8903 closed

[2020-06-15 13:43] #8924 closed

[2020-06-15 13:43] #8183 closed

[2020-06-15 13:53] ilyam8 commented on #9121
Unfortunately yes

Well, you choose some words from the alarm and then `grep <word> -R *` in the health.d  😄

[2020-06-15 14:25] amoss commented on #9121
@underhood - is it possible to set alarms on the new ACLK charts as that would be a better way of generating notifications that a server is unreachable?

[2020-06-15 14:36] underhood commented on #9121
@amoss - well they are the same charts like any other. Therefore it should be possible to set alarms on them.

However of course if ACLK goes offline then the notification will not reach the cloud. So if the feature requested here is cloud sending the notification we will have to implement something on cloud side.

[2020-06-15 15:06] mfundul commented on #9336
@Kovah do you run any custom collectors that are not bundled with netdata?

Can you send any older logs to Stelios (previous `error.log` files) to see what the timeline has been?

[2020-06-15 15:27] Kovah commented on #9336
I am not sure, I set up Netdata a year ago, but I don't think that I installed some custom plugins. Is there a way to check that?

I sent additional logs to the email address. As far as I can tell, the error first appeared at 2020-06-14 06:30:47, after a log rotation where Netdata seem to have restarted or something. Maybe an update?

[2020-06-15 15:33] stefano-cherchi commented on #9239
My NetData cloud worked flawlessly for weeks on Ubuntu 18.04 until today, when I updated it by running `bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)` as I did many times before.

From that moment on, the web dashboard started throwing an error:

`"Installation error , The installer could not prepare the required dependencies to enable Netdata Cloud Functionality" `

and when I try

[2020-06-15 15:42] ilyam8 commented on #9239
When was the last time? It is not really clear what your version was before the update.

[2020-06-15 15:44] underhood commented on #9239
@stefano-cherchi is it possible to get the output of the installer? It is quite long but it should say what failed.

[2020-06-15 15:48] mrbrutti commented on #8862
Yes. It looks like the only issue w/ the configuration was the lack of `LDFLAGS`.  I tested in two systems and it is working. One system had some issues w/ launchctl, after registering, but it is working now.

[2020-06-15 16:17] yasharne opened #9342 "netdata alerting service is not reliable"
##### Bug report summary

We have 5 netdata masters and all of them managed by ansible so they have the same configuration.
yesterday, I had to change an alert template about storage, after `killall -URS2 netdata` command, I only got 1 alert from past which was indicating one of our certificates will expire in 13 days which is correct, today, again I had to change an alert template about storage a

[2020-06-15 16:39] amoss commented on #9239
@stefano-cherchi I can replicate your problem here in Vagrant. I will give the Vagrantfile to the team and get them to take a look at it.

@agent-sre How do I extract the `config.log` from a system that was installed using `bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)` ?

[2020-06-15 16:51] amoss commented on #9239
@prologic / @Ferroin : I hacked the script to get the `.run` blob out and realised that there is no log for me to extract. Could you take a look at the build that produced the blob and work out which dependency is missing and why?

[2020-06-15 16:52] underhood commented on #9239
@agent-sre Can we persist the installer output in case of failure? This way when some users report issues we can see what failed.

[2020-06-15 18:26] MuhammadMunir12 commented on #9223
Heyy @thiagoftsm
Thank you for mentioning. I'll check that now and will let you know if I happen to meet any trouble.

[2020-06-16 02:52] stefano-cherchi commented on #9239
Here it is:
[code]

Apparently, the only "FAILED" tasks are those that add the netdata user to some non-existing groups.

[2020-06-16 08:32] Copaxy opened #9344 "Netdata install failure on OMV5 on Raspberyy-Pi4"
##### Question summary
Hello,
it is my first time using github and i never did a issue before but i hope i do nothing wrong.

 I think my issue is so easy for you and the pros probbably rolling their eyes but still please help me 😅
I have a failure while installing netdata on OMV5 on my Raspberry-Pi 4 with portainer.
Because i am just learning doing stuff with dockers i searched for a tutorial but

[2020-06-16 09:54] fighting-cdd opened #9345 "How to reload config such as snmp.conf without netdata restart?"

[2020-06-16 10:01] ilyam8 commented on #9345
Hi @fighting-cdd, there is no way i know.

I know that netdata restarts plugins if their exit code is `0`, so

could do, not sure `node.plugin` handles signals correctly, worth to try tho

[2020-06-16 12:05] #9223 closed

[2020-06-16 12:05] #9328 closed

[2020-06-16 12:05] #9329 closed

[2020-06-16 12:11] vlvkobal commented on #9332
It isn't fixed yet. It should be fixed in https://github.com/netdata/dashboard/issues/88.

[2020-06-16 12:15] startryst opened #9346 "Can't reclaim node into netdata cloud"
when claim the node to cloud, get back below, and let me know how can I remove the node from cloud and add it back?
[code]

[2020-06-16 14:55] ilyam8 opened #9347 "Add directory for storing lock files + Env variable"
##### Feature idea summary

Related: https://github.com/netdata/product/issues/1143

One and only one job with same `moduleName_jobName` should be in the running state. It is easy to achieve for a plugin and we do it.

The problem: we cannot guarantee that this condition is met globally - across all plugins. There is no single source of truth at the moment.

We decided to go with locking files app

[2020-06-16 15:33] PStoner3 commented on #9317
Same issue On CentOS 7 7.4.1708

I see these errors when the scripts runs:

[code]
The issue seems to be in `/packaging/bundle-mosquitto.sh:7` on line 7 where the script attempts to download Mosquitto version v.1.6.8_Netdata-4 from https://github.com/netdata/mosquitto/archive/. There is no file v.1.6.8_Netdata-4.tar.gz in https://github.com/netdata/mosquitto/archive. That file is only available fr

[2020-06-16 15:43] PStoner3 commented on #9317
Apologies. My last comment appears to be incorrect. Still investigating

[2020-06-16 15:49] Ferroin opened #9348 "Persist installation logs even when the install was successful."
##### Feature idea summary

We currently remove our installation logs after a successful install, even if there were non-fatal errors during the install. This makes it difficult in some cases to figure out what might have gone wrong when optional components didn't get built.

##### Expected behavior

Users are able to view installation logs even for successful installs.

@manos-saratsis

[2020-06-16 16:25] joelhans commented on #9346
Hi @startryst!

Have you seen these instructions in our docs? https://learn.netdata.cloud/docs/agent/claim#remove-and-reclaim-a-node

If you already claimed the node, you have to delete the `cloud.d` directory, and then run the claiming script again, but add `-id=$(uuidgen)` to the end of it. For example:

[code]

Let us know how that goes and we can try diagnosing other things if it doesn't work.

[2020-06-16 16:34] #9113 closed

[2020-06-16 16:53] PStoner3 commented on #9317
Continued investigation found similar situations in the netdata-installer.sh script. Scanning all applicable scripts and adding the proxy flag to all curl commands, I was bale to then manually install netdata successfully.

It would seem prudent to add a --proxy flag to the kickstart script to allow folks to pass in a proxy url to be used throughout the install process

[2020-06-16 20:24] rpelissi commented on #9335
Hi,
So I have enable bash for the netdata user:

[code]

[2020-06-16 21:10] ilyam8 commented on #9335
I see `megacli` module uses `find_binary` function

https://github.com/netdata/netdata/blob/ed2d5542cc6000d80a7d4377435cc175cfd519e4/collectors/python.d.plugin/python_modules/bases/collection.py#L8

https://github.com/netdata/netdata/blob/ed2d5542cc6000d80a7d4377435cc175cfd519e4/collectors/python.d.plugin/python_modules/bases/collection.py#L68-L77

https://github.com/netdata/netdata/blob/ed2d5542c

[2020-06-16 21:12] ilyam8 commented on #9335
I am not sure what is the problem, but it module fails to locate the binary - PATH doesnt contain some directory?

could you `which sudo && which megacli`

I suspect `megacli` is not in PATH

[2020-06-16 21:32] thiagoftsm opened #9351 "install-required-packages.sh does not install everything necessary"
##### Bug report summary
Today when I was installing Netdata on `CentOS 6.10` I could not use `install-required-packages.sh` as I expected, after to use it I also needed to use our documentation to install missing packages.

[code]

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-291-g7449814a

##### Component Name
Installer

##### Steps To Reproduce
Use a CentOS 6.10 that was

[2020-06-16 21:46] vince-lessbits commented on #8898
This also happens on Ubuntu 18.04.

[2020-06-16 21:49] #9332 closed

[2020-06-16 21:53] rpelissi commented on #9335
So If I check this in root:
[code]
Now if I check with the netdata user:
[code]
Oups, megacli is not there, let's check the $PATH
[code]
So let's fix with the $PATH from root user
`netdata@pve2:~$ export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`
and this time:
[code]
Better! Let's try the command:
[code]

Cool! it's working! But I do not want to have the netdata user got a

[2020-06-16 21:58] ilyam8 commented on #9335
Check `[plugins]` section in the `netdata.conf`, there you can set `PATH`

[2020-06-16 22:31] rpelissi commented on #9335
Thanks. I have tried to find some doc about how to set PATH in netdata.conf but not really sure how to do it..

I have temporery fix the issue by changing this:

[code]
Seems that by detault the standard user does nto have /usr/sbin in the $PATH so I have just change the line to add it at the end and now it works.

[2020-06-16 22:41] ilyam8 commented on #9335
open the file with your fav editor, uncomment the line and change the value

[code]

[2020-06-17 00:39] startryst commented on #9346
Thanks, solved exactly as you pointed out!

[2020-06-17 00:39] #9346 closed

[2020-06-17 02:40] prologic commented on #8117
I had a 2nd go of this (_being the type of person that doesn't accept failure and believes "Problems are Solved by Method"_)... I spent several late-hours hacking on [release-notes](https://github.com/prologic/release-notes) a tool I've put together based on prior art from the Kubernetes team that uses this approach to generate their own Release Notes.

I've now modified a forked version of this t

[2020-06-17 02:41] prologic commented on #8117
For reference the upcoming `v1.23.0` Release Notes / Change Log currently looks like this:

----

## New Features

- Integration between eBPF and Apps ([#9178](https://github.com/netdata/netdata/pull/9178), [@thiagoftsm](https://github.com/thiagoftsm))
- Adds metrics for ACLK performance and status ([#9269](https://github.com/netdata/netdata/pull/9269), [@underhood](https://github.com/underhood))

[2020-06-17 03:39] #8885 closed

[2020-06-17 03:42] prologic commented on #9239
@amoss What exactly are you looking for out of the static builds? These currently happen nightly from Travis (_being phased out_) but I put in place Github Workflow CI checks to prevent breakage of the static builds which you can see [here](https://github.com/netdata/netdata/runs/778881641?check_suite_focus=true) that produce output like:

[code]

If you help me understand what you're looking for

[2020-06-17 03:53] prologic commented on #9239
I actually suspect we have a bug in our build scripts that means `can_enable_aclk_POST` has a value of `"no"` in this script:

[code]

But I really have a dislike for autoconf/autotools and mixing multiple languages/DSLs in a source file so I can't yet find out how this is suppose to work:

[code]

[2020-06-17 03:54] prologic commented on #9239
I will test this hypothesis now since fortunately I did put some CI together for this and thus associated shell scripts to make producing/building our Static Netdata easier for anyone:

[code]

[2020-06-17 04:08] prologic commented on #9351
Looks like the version of `cmake` on CentOS 6 is quite old and hence the "Syntax Error". I'm not sure we can easily fix/solve this as we run the risk of adding a newer version of `cmake` from "somewhere" that _may_ collide with other packages on the system for that specific version of CentOS.

[2020-06-17 04:23] prologic commented on #9348
Let's prioritise this as low for now; we have much more critical things to get done at the moment; like actually fixing our current backlog of bugs.

That being said; I _think_ a reasonable approach to this is:

- Store the installation log in `/var/log/netdata/installer.log`
- Rotate this to a maximum of N installations/updates where `N` is a small non-zero number.

[2020-06-17 04:27] prologic commented on #8862
Would you be willing to put up a PR that fixes this for macOS users in our `netdata-installer.sh` script?

[2020-06-17 04:39] prologic commented on #8898
@olivluca Would you be willing to put up a PR that implements:

I will happily review this. I would prefer we use the `netdatacli` tool as this talks directly to the running daemon over its IPC and _hopefully_ something we can rely on that isn't system-dependent per se.

Thanks!

[2020-06-17 04:45] prologic commented on #9344
@Copaxy Hello! 👋Welcome to Netdata! Let me help you out here :) (_we all a n00bs! don't worry!_).

This error looks very much like DNS failure. Portioner (_however you've set this up_) and the Docker engine/daemon on your RPi4 is unable to lookup a valid IP address for the Docker Regsitry at `registry-1.docker.io`.

I would suggest firstly you fix this on your RPi4 and ensure you can:

- Perform h

[2020-06-17 04:58] prologic commented on #9239
Nope I was wrong;

[code]

[2020-06-17 06:27] lds-lds commented on #9317
Hello
the error seems to be resolved with the last agent version v1.22.1-294-g79c06c88

[2020-06-17 06:46] olivluca commented on #8898
I created the pull request, but I'm checking the machines where I applied that change when I originally reported this and error.log is empty and the messages are still appended to error.log.1. If I invoke netdatacli manually the logs are reopened.

[2020-06-17 06:57] olivluca commented on #8898
OK, all the machines where the new logrotate configuration doesn't work are debian 10, on mandriva and ubuntu 18.04 the logs are rotated. I guess the problem lies in debian 10.

[2020-06-17 06:59] amoss commented on #9239
Yes @prologic I need to see:
* The output of the configure step (should be captured in the config.log)
* The output of the build step (i.e. what I see on the terminal when I run make)
* Anything the installer would output not captured by the first two cases.

For this specific problem I think the config.log is enough, but for the general case of diagnosing failures in the static build I would need

[2020-06-17 07:23] cakrit commented on #5062
We would like to have something on the FOSS Netdata UI to show a single agent's view if inbound/outbout connections/traffic etc., but info on the entire network from multiple nodes will only be available on the cloud.

We will have an on-premise version available later in the year, but it's certain that the particular version won't be free forever for everyone. No more details on that at this poin

[2020-06-17 07:25] cakrit commented on #9320
Remove the ability to configure individual charts via netdata.conf altogether.

[2020-06-17 07:34] sirikon commented on #8906
For anyone looking for Ubuntu 20.04 apt packages: There's a Netdata package available in Ubuntu universe: https://packages.ubuntu.com/focal/netdata

As of today it's a bit outdated (1.19.0), but good enough until this gets done :)

[2020-06-17 07:48] lds-lds commented on #9325
no actually it doesn't work at all.
I don't think I understood the logic to get only lxd.payload

[2020-06-17 07:53] cakrit commented on #6523
@rduffield and @dim08 this is something we left out of the immediate roadmap. It's an extremely important feature, that is invaluable in troubleshooting. See [Grafana annotations](https://grafana.com/docs/grafana/latest/reference/annotations/) for an example of the UI part of it.

It is probably a feature that can come right before log collection, if we are to store the annotations in a DB, but it

[2020-06-17 08:03] lds-lds commented on #9325
Ok there is a difference in the organization of the cgroups tree between lxd versions 3.x.x and 4.x.x

example in 3.x.x

[code]
ls -l /sys/fs/cgroup/memory/

-rw-r--r-- 1 root root    0 Jun 17 09:52 cgroup.clone_children
--w--w--w- 1 root root    0 Jun 17 09:52 cgroup.event_control
-rw-r--r-- 1 root root    0 Jun 16 04:52 cgroup.procs
-r--r--r-- 1 root root    0 Jun 17 09:52 cgroup.sane_behavior
d

[2020-06-17 11:52] thiagoftsm commented on #9348
I liked the option to store the log on `/var/log/netdata/installer.log` we should move with this option instead the local directory,

[2020-06-17 12:19] DPR1604 opened #9356 "Judy-devel installation error"
##### Bug report summary

When Attempting to install netdata cloud agent I'm currently getting errors installing Judy-devel when using the kickstart script.

I have narrowed the issue down to this output

[code]
It looks like judy-devel has been removed from the centos8 official mirror

##### OS / Environment

[code]

##### Netdata version

##### Component Name

Kickstart.sh

##### Steps To Reprod

[2020-06-17 12:21] MuhammadMunir12 opened #9357 "Automating Netdata plugins enabling/disabling"
##### Question summary
I have a query that is it possible or any way to enable or disable plugins and per-plugin configs automatically?
Currently we have to enable them manually by editing the **netdata.conf** file that is tedious process sometimes.
Any insights about automating this thing will be helpful.

##### OS / Environment
RHEL 7.7

##### Component Name
All
##### Expected results
Getting ri

[2020-06-17 12:30] ilyam8 commented on #9357
Hi

What would you propose?

[2020-06-17 13:04] DeWaRs1206 opened #9358 "Delete unreachable node from Netdata Cloud"
Hello everyone,
During my tests for Netdata Cloud (which looks awesome btw), I created and delete some nodes that are now displayed as "unreachable". I can't find a way to remove these nodes from the dashboard. Is this possible ?

##### Expected results
Been able to manually remove nodes from the dashboard.

Thanks a lot for your answer.

[2020-06-17 13:35] MuhammadMunir12 commented on #9357
Hey @ilyam8
I was thinking of bash script or python script, it's just a wild idea or may be there's any other case I'm just looking into it if I can do this or not.

[2020-06-17 13:59] TSD26 opened #9359 "WMI exporter v13 debug error (check failed)"
Hello - I've setup NetData to run wmi_exporter via the Go orchestrator.   Using WMI exporter v13 this does not work and the debug error is: "check failed".   I tested one Windows server with exporter v12 (prior to the recent changes to the exporter in v13) and it works fine.    Is there a way to address this error in NetData ?
https://github.com/prometheus-community/windows_exporter/releases
https

[2020-06-17 14:37] TSD26 commented on #9358
Try the Manage Warroom link at the top for whichever room these nodes are in.  From that pop-up menu switch to the middle tab (Nodes).  Checkmark your node, then go to the gear icon - remove.

[2020-06-17 14:39] ilyam8 commented on #9359
Hi @TSD26

Indeed, i see breaking changes in v0.13.0

I think it doesn't make much sense to support older versions, we need to support the most recent one

[2020-06-17 14:41] ilyam8 commented on #9359
@TSD26 thx for reporting, i _watch_ `wmi_exporter` repo, but somehow i missed that release 🙈

[2020-06-17 14:42] Saruspete commented on #807
Greetings,

This is indeed a very needed feature. I'm still struggling to work with the different names, like "type", "name", "family", "context",  what's required, what's generated automatically, how to get info in the dashboard.

So far, I didn't find a way for plugins to add their hint on top of the charts. Only the `web/gui/README.md` file explaining how to create a whole new .js file with mod

[2020-06-17 14:59] ilyam8 commented on #807
Indeed, naming is confusing. Especially `type.it` (it is not type). `type.id` must be globally unique, all other chart definition parameters doesnt matter. (in fact they are different time series!).

Check `dashboard_info.js`

[2020-06-17 15:17] DeWaRs1206 commented on #9358
@TSD26 thanks, it works. Not really intuitive tbh, but at least it works :)
Thanks a lot !

[2020-06-17 15:18] #9358 closed

[2020-06-17 15:19] Saruspete commented on #807
That was the 2nd part of the paragraph :smile:  details for updating dashboard_info.js are in `web/gui/README.md`

I meant: currently, there's no way for a plugin to provide details for the charts it defines, without  changing any file in the /web interface.

[2020-06-17 15:28] ilyam8 commented on #807
Yes, and it is makes sense actually, that is dashboard feature.

But what you are saying makes sense too. Perhaps better solution would be to maintain module specific `*.js` file in the module dir or something like that.

[2020-06-17 15:38] thiagoftsm commented on #9341
Hi @yambakshi ,

What configuration are you trying to change?

Best regards!

[2020-06-17 15:50] stefano-cherchi commented on #9239
Just updated to v1.22.1-294-g79c06c88 and problem solved.

[2020-06-17 16:35] pySilver commented on #8600
Traefik v2 does not offer /health endpoint any more. However it has prometheus export that can be easily enabled.

[2020-06-17 17:12] mrbrutti commented on #8862
https://github.com/netdata/netdata/pull/9360

[2020-06-17 17:51] Copaxy commented on #9344
Hi thanks for your answer! :)

Yes i will do this and come back for questions :)

Many thanks for your reply!

[2020-06-17 18:32] ntlug commented on #9356
This is a "bug" with the extra repos (add ons) with RHEL 8.2/CentOS 8.2.  I did not have any problem with CentOS 8.1.  Judy, unfortunately, does not appear to be part of the "normal" repo, but comes from AppStream.  But right now for CentOS 8.2, they are incongruous, looks like Judy and Judy-devel might have been built from different "trees" (or Judy-devel was simply never updated correctly).  The

[2020-06-17 19:49] ilyam8 commented on #9082
I think there are no best practices, at least we have no such page in our documentation.

As for HA in general i heard that master/master replication is in our plan.

Does that mean _split-brains_ situation? some nd ~~slaves~~ [children](https://github.com/netdata/netdata/pull/9323) stream to A, some to B?

If you mean keealive leader (i dont know their terms) is being changed i suspect there shou

[2020-06-17 19:50] ilyam8 commented on #9082
@dim08 in general `nd` high availability setup is a good topic to think about.

[2020-06-17 19:51] Xenthys opened #9361 "Unexpected dbengine flushing errors"
#### Question summary
Should I worry a lot about "netdata.dbengine_global_errors" and the fact it happens on a quite unused server with SSDs? They are far from being loaded or slow according to my hdparm & dd tests, and Netdata itself also reports a very low usage.

#### OS / Environment
Currently running Proxmox 6.2, so using a Debian 10 base.
Linux 5.4.34-1-pve #1 SMP PVE 5.4.34-2 (Thu, 07 May 2

[2020-06-17 19:53] ilyam8 commented on #9082
@yasharne if you dont mind it would be nice to have clear view what is happening in your case, do a step by step description, i am not quite sure i understand actual sequence of events and results of these events.

[2020-06-17 19:56] mfundul commented on #9361
Related to https://github.com/netdata/netdata/issues/8384

[2020-06-17 20:06] TSD26 commented on #6196
Hello - I've been testing NetData for our company as a possible replacement for our NMS solution.  I've been very impressed overall.  In my POC I have an agent on Linux with the wmi collector, then being scraped with Prometheus (on Windows) and then read by Grafana.  The one area that has given us the most headaches is the overall support for Windows, but especially getting wmi collection working

[2020-06-17 20:06] saintaardvark opened #9362 "Have way of disabling sign-in/update/netdata cloud links in default dashboard"
##### Feature idea summary

It would be great to have a version of the default dashboard that did not include sign-in/update/netdata cloud links.

##### Expected behavior

The default dashboard is a great summary of activity on the system, but for my users the sign-in, update and netdata cloud buttons will be confusing or irrelevant.  I could imagine a couple mechanisms for achieving this:

- A co

[2020-06-17 20:09] yasharne commented on #9082
@ilyam8 We have two parent nodes, each has `keepalived` installed on and a separate IP address, we also have a shared IP between these two parents managed by `keepalived`, these `keepalived` instances will choose a server to be the parent and dedicate the shared IP to the parent server, each `keepalived` checks if the local netdata instance on the servers are running, they also check if both `keep

[2020-06-17 20:17] ilyam8 commented on #9082
Ok, i see, this is expected, thx.

I assume parent/parent replication should fix the issue (implying first parent really is unavailable). cc @amoss

[2020-06-17 20:41] ilyam8 commented on #6196
I think it will be fixed early next week.

as you know our wmi collector is just a ~wmi~ `windows_exporter` scraper, so we collect no more metrics then it provides.

There is windows support issue

It is in plan but not really top priority, but some work is underway.

[2020-06-17 20:54] thiagoftsm commented on #9342
Hi @yasharne ,

I am investigating this problem now, it looks like it has relationship with a reset Netdata does when it is reloading the logs. I will bring more information in the next hours.

Best regards!

[2020-06-17 21:08] Saruspete commented on #2620
I've tested with a 2 ports

@diched : The full command list for local installation (in `/opt/netdata.ib` for testing) would be:

[code]

Should be ok

[2020-06-17 21:46] ProfessorManhattan commented on #9202
Issue still exists for Mac OS X

[2020-06-17 21:49] prologic commented on #9239
Yes good. This means the Revert decision was the right one. I know which commits are the culprit ones then. In fact I was actually having problems building against them.

@amoss Leave this with me I'll figure this out if that's okay; I'm quite sure I can figure this out :)

[2020-06-17 22:28] whysthatso commented on #9358
i just had the same question, and i too believe the solution is not too intuitive.

thanks

[2020-06-17 23:05] kaplandani opened #9363 "netdata ERROR : MAIN : EOF found in spawn pipe."
#### Summary
netdata fails to start in a loop:

all I see in the log is this:

020-06-17 18:56:27: netdata INFO  : MAIN : Loading metadata log "/var/cache/netdata/dbengine/metadatalog-00000-00026.mlf".
2020-06-17 18:56:27: netdata INFO  : MAIN : Collector updated metadata for chart disk_qops.dm-22
2020-06-17 18:56:27: netdata ERROR : MAIN : EOF found in spawn pipe.
Shutting down spawn server event

[2020-06-17 23:05] prologic commented on #9202
There is a fix for macOS and Cloud support in #9360

[2020-06-17 23:06] ilyam8 commented on #9358
There are 2 _not too intuitive_ in a row, perhaps it is something you want to know @manos-saratsis

[2020-06-17 23:11] prologic commented on #9356
Yeah thanks @ntlug ! I can't really say for sure that I have a good solution for this at all. We keep running into issues with many systems that just simply a) don't have Judy or b) it is otherwise broken in some way.

I _think_ we should probably vendor Judy at this point. The problem here of course is that vendoring violates Debian packaging polices if you want to get into their official tress (

[2020-06-17 23:12] prologic commented on #8862
Thank you! I have tested your PR and it also works. Its approved. @Ferroin Please also test and review.

[2020-06-17 23:17] prologic commented on #8898
Thats kind of odd. And `netdatacli` manually works on those Debian 10 boxen? Any errors reported from the logrotate side from execve's the `netdatacli`?

[2020-06-18 00:22] prologic commented on #9239
I guess I should trust my instincts a bit more :) Turns out I was right. With @Ferroin PR revert reverted (_i.e: #9311 in place_) the build ends up constructing a `claim.sh` script with:

[code]

[2020-06-18 01:02] prologic commented on #9239
And there we go:

[code]

[2020-06-18 01:18] pySilver commented on #9037
Same here.

Errors like this:

[code]

inspection

[code]

[2020-06-18 02:14] prologic commented on #9239
This seems to be related to https://github.com/warmcat/libwebsockets/issues/1835

[2020-06-18 02:42] prologic commented on #9239
Upgrading libwebsockets from v3.2.2 to v3.3.3 has the same problem.

[2020-06-18 07:29] mfundul commented on #9363
Related to https://github.com/netdata/netdata/pull/9354

[2020-06-18 07:33] mfundul commented on #9363
Thank you for reporting this. What netdata version are you running? What was your installation method? Can you share more parts of the actual error log? You can take out any sensitive information before sharing.

[2020-06-18 08:18] DPR1604 commented on #9356
So I was having an extra poke around to see what else I could find this morning not tested it just yet but it appears to be part of okey repo according to this https://centos.pkgs.org/8/okey-x86_64/Judy-devel-1.0.5-18.el8.x86_64.rpm.html might be a viable workaround for centos 8.2 that doesn't involve yum-utils and yumdownloader going to give it a shot on a test VM and will get back to you.

[2020-06-18 08:33] mfundul opened #9365 "Memory corruption during agent shutdown by ACLK"
##### Bug report summary

During shutdown of the agent the localhost database is actively being used by ACLK statistics:
https://github.com/netdata/netdata/blob/13624215508c3bd472cb9ac5e9665df4f5006167/aclk/aclk_stats.c#L172
Since localhost-RRDHOST is being torn down, the aclk chart/dimensions are being freed. At the same time ACLK statistics are still collecting data and sending them to the local

[2020-06-18 08:34] underhood commented on #9365
Hi i am fixing this already

[2020-06-18 08:42] olivluca commented on #8898
Yes, as I said invoking netdatacli manually worked. Now I see this error in the syslog of those machines:

[code]

[2020-06-18 08:43] ilyam8 opened #9366 "k8s cluster (control-plane) monitoring"
##### Feature idea summary

These are [k8s cluster control-plane services](https://kubernetes.io/docs/reference/command-line-tools-reference/) that exposes metrics.

In addition there are bunch of addons, i assume most of them expose metrics too:

---

Picture (simple setup, can be not like that):

<img width="655" alt="Screenshot 2020-06-18 at 10 29 19" src="https://user-images.githubusercontent.

[2020-06-18 08:51] DPR1604 commented on #9356
Right so the above also didn't work however I did find the RPM still being hosted on rpmfind.net and managed to get the install working so as a temporary workaround the following works to get judy-devel install on centos 8.2

[code]
I cant any issues so far but will keep this thread updated if I experience anything.

[2020-06-18 08:53] olivluca commented on #8898
OK, in debian 10 the systemd unit for logrotate has

`PrivateTmp=true`

hence netdatacli cannot connect to the socket.
Maybe it's better to leave logrotate as it is and modify the netdata systemd unit to write the pid **or** put the socket somewhere else (e.g. in /run, I don't know if systemd also messes with that)

[2020-06-18 09:01] olivluca commented on #8898
Mmmg, the pipe location is hardcoded in daemon/commands.h so I guess the only option is to modify the systemd unit in the package to write the pid in /var/run/netdata/netdata.pid

[2020-06-18 09:39] whysthatso commented on #9358
as netdata cloud interface is quite new, i'm curious if there's a place where to dump some ui feedback, or feedback in general? i have a bunch of small quirks gathered that don't seem to make too much sense to pollute the agent repo issues with, but might be indicative for some areas to look into for the frontend devs. any advice?

[2020-06-18 09:55] lds-lds opened #9368 "cgroup errors with lxd 4.2"
Hello
on ubuntu bionic and lxd 4.2 snap version netdata does not report cgroup information regarding lxd (no lxd.payload containers on the interface)
I have these errors in the logs:

[code]

 Cannot open file '/proc/net/dev' is very strange because file exist :

[code]

[2020-06-18 09:58] mfundul opened #9369 "Memory corruption during agent shutdown by STREAMING"
##### Bug report summary

During shutdown of the agent the child database pointers are being used by STREAMING code.
After RRDHOST-children are torn down, STREAMING threads that were still connected to the sockets to receive data time out:
[code]

It seems that streaming code uses RRHOST pointers after deallocation (heap memory use after free).

Backtrace:
[code]

[code]

##### OS / Environment

[

[2020-06-18 10:04] mfundul commented on #9369
Relevant parts of error.log:
[code]

[2020-06-18 10:05] Copaxy commented on #9344
Hi i have good news. I fixed the problem :)

Thanks to prologic i got an idea what was going on. I first tried host and ping a DNS Server to check if there is internet access. This was succesful, internet access was there. But there was no ethernet and wifi shown up in the network settings. So i reinstalled OMV again to make sure everything is right.
- First i installed debian buster and set up my

[2020-06-18 10:06] #9344 closed

[2020-06-18 10:46] #9365 closed

[2020-06-18 11:11] ilyam8 commented on #9357
Related: https://github.com/netdata/netdata/issues/6432

But it is quite complex, far from being refined atm and there is no work underway.

[2020-06-18 11:23] manos-saratsis commented on #9358
@DeWaRs1206 @whysthatso @TSD26 Thank you for using Cloud and for letting us know your thoughts. Initially we did not provide the ability to remove a node from a War Room through the Nodes View but only through the War Room management screens. I would love to hearing your thoughts please use the help button at the button-right of Netdata Cloud Cc @zack-shoylev

[2020-06-18 11:40] amichelic opened #9371 "Absence of browser preferred language setting breaks graphs"
##### Bug report summary
When there's no preferred language for web pages set in the browser, charts stop working (JavaScript error). Nothing displayed at all.

##### OS / Environment
Netdata platform doesn't matter. Verified in Firefox: 68.8.0esr (Linux/amd64).

##### Netdata version
netdata v1.22.1-302-g5bc76f3b

##### Component Name
web (dashboard)

##### Steps To Reproduce
1. Open Firefox
2. a

[2020-06-18 11:43] whysthatso commented on #9358
not sure what that means, could you be more specific?

[2020-06-18 12:12] kromit opened #9373 "Charts are rendering misleading values. Missing peak values"
##### Bug report summary

Charts are rendering different values depending on zoom level. It looks like some time series are dropped.

![normal chart with zoom](https://i.imgur.com/cxESxyN.png)

![misleading chart with zoom](https://i.imgur.com/cqg9Otw.png)

Look at time stamps, percentage and value. The same peak around 13:30 is selected. It looks like the whole chart was lowered.
It creates entir

[2020-06-18 12:21] manos-saratsis commented on #9358
Did a typo. See below the button that is on the bottom-right.
<img width="352" alt="Screen Shot 2020-06-18 at 3 19 28 PM" src="https://user-images.githubusercontent.com/19746055/85019330-4e3bfc00-b177-11ea-9a27-e6eff55f48da.png">

[2020-06-18 15:26] MuhammadMunir12 commented on #9357
yeah but that was just a thought.

[2020-06-18 15:28] Ferroin commented on #9347
Quick thoughts on this:

* The lockfile prefix path should be a config option, and needs to have the default set at compile time (because it should be relative to the installation prefix just like all of our other paths are).
* The _ideal_ situation on Linux is to use `/run/netdata` for this (possibly with a dedicated sub-directory).
* The fallback (default for the default) should be under `/var/l

[2020-06-18 15:32] ilyam8 commented on #9347
@Ferroin it is up to you 😄 for me (plugins) it is just `NETDATA_LOCK_DIR`, right?

[2020-06-18 15:43] willhseitz opened #9375 "Some agents not setting $active_processors alarm variable"
##### Question summary
I am running a distributed setup with ~10 hosts streaming to a central server. Lately, I have been receiving a lot of "high system load" alerts. After some checking, I found that the `$active_processors` alarm variable is not being set on most of my systems, so the alarm is defaulting to 2 cpu cores (when most of my systems are 8+). When checking `https://my.central.server/h

[2020-06-18 15:46] willhseitz commented on #9375
also posted on reddit about the issue: https://www.reddit.com/r/netdata/comments/h9jj11/excessive_system_load_alerts_active_processors/

[2020-06-18 16:09] ilyam8 commented on #9347
@amoss take a look at @Ferroin comment, we need some @netdata/agent guy to help with that issue

[2020-06-18 17:39] amoss commented on #9347
These points seem mostly correct.
* Prefix does need to be config option as stated, it becomes one of the `_POST` subst options.
* I'm unclear on why `/run/netdata` is ideal - the advice that I read suggested it was intended for `.pid` files only and that lock-files should go in `/var/lock/netdata` - is there any background to this?
* I don't see how a fallback would work. Our default is the defau

[2020-06-18 17:40] amoss commented on #9347
@ilyam8 - have you not learned C yet... this could be a beautiful experience.... ;)

[2020-06-18 17:55] Ferroin commented on #9347
I wasn't even thinking it needed to be a post build substitution. Is there some reason to not have this handled as part of the regular agent config and thus have the default baked into the `netdata` binary?

Put differently, my thought was to have this be a configuration option for the core in `netdata.conf`, which then sets the above mentioned environment variable in the environment of any plugin

[2020-06-18 18:01] amoss commented on #9347
The installation prefix is normally handled as a substitution during the build, which then propagates to the constant strings that are the default for the related config options.

[2020-06-18 18:02] rsm3aaq commented on #4819
Additional metrics of interest would be under replicated partitions, offline partitions, follower time, fetch time, leader election rate, consumer lag, etc

[2020-06-18 18:03] amoss commented on #9347
Ok, I see that `/var/lock` on Debian is actually a sym link to `/run/lock`.

[2020-06-18 18:05] amoss commented on #9347
So then it seems that `/var/lock` would be a better default then `/run/lock` if it is consistent. Can we rely on `/var/lock` or do we need to use `/var/lib/netdata/lock` ?

[2020-06-18 18:28] ilyam8 commented on #9347
there is no `/var/lock` in macOS (i see no any `*lock*` in the `man hier`)

[2020-06-18 18:42] amoss opened #9376 "Using memory mode map causes a crash with streaming"
##### Bug report summary

* Setup 45 child nodes in docker containers (the config is in `build_external/scenarios/gaps_hi`), can be auto-scaled by docker.
* Connect to a parent node running `memory mode = save`
* Shutdown / restart the child nodes.
* Parent node crashes because `callocz()` fails to allocate memory.

##### OS / Environment
Debian 10

##### Netdata version
netdata v1.22.1-306-g81868

[2020-06-18 19:11] OneCricketeer commented on #4819
Consumer lag would be measured in the consumer themselves, unless interacting with a tool like Burrow.

The rest are available in JMX

[2020-06-18 19:25] thiagoftsm commented on #9375
Hi @willhseitz,

Please, can you run the shell script `./daemon/system-info.sh` that is inside netdata repo on a system that is not setting properly the variable and give us the output?

best regards!

[2020-06-18 19:56] davidlmaldonado commented on #5058
Is it possible to export data from a snapshot?

[2020-06-18 22:18] and0x000 commented on #8117
@prologic I'm sorry, but you have lost me on this. I'm not aware of any recent contribution of mine to this topic. Did I miss something? Is there anything that I'm expected to actively participate in?

[2020-06-18 22:21] thiagoftsm opened #9380 "install-required-packages.sh and CentOS 8"
##### Bug report summary
Today I had to install on CentOS 8 a Netdata client and I decided to use `install-required-packages.sh`, I observed that at the end the packages installed did not allow me to use the `dbengine`, because we are missing packages and the libuv installed is not recognized. I had to run the following commands to be able to compile Netdata:

[code]

##### OS / Environment
[code]

[2020-06-19 03:46] hbfs commented on #7294
@Ferroin ended up using `local` for start up and its been working fine
devuan beowulf 3.0.0 was released on 2020-06-09 https://dev1galaxy.org/viewtopic.php?id=3557
Curious to know why you think devuan is abandonware?

[2020-06-19 07:23] prologic commented on #9239
And voila!

[code]

Now to test this new binary...

[2020-06-19 07:28] ghisl1 commented on #9035
Hi,
I have the same issue.
I think that the callback url is malformed i.e. not including the url that sent the original request in order to be properly processed by the reverse-proxy
I'm not a developer but I saw in /usr/share/netdata/web/main.js that the function loadJs use url variable.

[2020-06-19 07:54] prologic commented on #9239
https://github.com/netdata/netdata/pull/9381 finally fixes Netdata Static to finally have full Netdata Cloud support. Tested on Debian 10 and CentOS 7.

[2020-06-19 08:31] #9336 closed

[2020-06-19 09:22] prologic commented on #8117
My apologies, I accidentally tagged you somehow :)

[2020-06-19 12:29] fzyzcjy opened #9383 "*all* charts (figures) disappeared in the panel, thus all components cannot be used :("
##### Bug report summary

**NOTE: I have uninstall & reinstall netdata**, and this problem re-appears after several hours.
All charts (figures) disappeared! I have scrolled down from top to bottom, and *all* of them disappeared. See screenshot:

<img width="1156" alt="截屏2020-06-19下午8 26 59" src="https://user-images.githubusercontent.com/5236035/85132373-3c3b8580-b26b-11ea-9721-d53efcc30540.png">

[2020-06-19 12:30] #9383 closed

[2020-06-19 12:44] mperochon commented on #9101
hey @prologic, do you have any update about this issue ?

[2020-06-19 15:37] willhseitz commented on #9375
@thiagoftsm thanks, is there an email I can send the info to, please?

[2020-06-19 17:37] #9369 closed

[2020-06-19 17:56] thiagoftsm commented on #9380
We also need to install `openssl-devel` and `cmake`.

[2020-06-19 20:49] prologic commented on #8898
@netdata/agent Can we add some command-line flags to make this a bit more convenient so we can support some of the more esoteric feature of SystemD :D

[2020-06-19 20:50] prologic commented on #9356
Yes where we used to get this RPM from on the CentOS mirrors I believe are now 404'ing. I don't yet have a good solution/alternative for this yet.

[2020-06-19 21:03] thiagoftsm commented on #9375
Hello @willhseitz , please, send to thiago@netdata.cloud.

[2020-06-19 21:21] prologic commented on #9101
@mperochon Does [this comment](https://github.com/netdata/netdata/issues/5071#issuecomment-460442980) help you at all? Did you see it?

[2020-06-19 22:47] thiagoftsm commented on #9375
Hi @willhseitz ,

Thank you very much to report us the problem and to send me the email, thanks your email I could eliminate a possible source of problem.
I tested Netdata 1.22.1  as child and I observed that the missed variable was present with it, I also tested the latest version of Netdata and I could not find more the variable.
Please, can you run the command `netdata -v` on a host that has th

[2020-06-19 22:56] willhseitz commented on #9375
All my servers are set to autoupdate on the nightly build. Both with and without variable are on `netdata v1.22.1-303-nightly`.

In case it helps, I just emailed the system-info for one of our servers that _does_ have the variable set

[2020-06-19 23:42] Rhywden opened #9385 "Netdata Cloud - Alarms not viewable"
I updated the clients to the latest versions through the bash script in case that is somehow related.

But basically the issue is this: When using Edge Chromium, I'm seeing alarms on some clients but when I then click on said clients, the Alarms tab states that there are no issues. Though I can actually see the details for the alarms for about half a second before they vanish.
I then tried a diffe

[2020-06-20 00:46] thiagoftsm commented on #9342
Hi @yasharne ,

I debugged your problem during the last days and I observed that when I had a small number of slaves, I could not recreate the problem, on the other hand, when the number was growing the event starts to happen.
I am suspecting that you are having problems with Netdata `lock` system that we are working. On the other hand, yesterday an user that is working with nightly builds reporte

[2020-06-20 03:41] #8942 closed

[2020-06-20 03:41] #8653 closed

[2020-06-20 03:41] #8995 closed

[2020-06-20 03:41] #8979 closed

[2020-06-20 03:41] #8947 closed

[2020-06-20 04:40] rpelissi commented on #9335
Perfect! I think we can close this ticket until you want to path the fact that the error message should be more explicit. Thanks again!

[2020-06-20 07:52] #5016 closed

[2020-06-20 07:54] #9335 closed

[2020-06-20 09:03] zilexa commented on #9334
Anyone who can point me in the right direction?

[2020-06-20 09:33] ilyam8 commented on #9334
ho did you install it?

---

This files is in the

[2020-06-20 11:56] #9359 closed

[2020-06-20 12:00] ilyam8 commented on #9359
@TSD26 i fixed the issue, however `go.d.plugin` version with the fix is not in the netdata latest and i think we wont include it (code freeze) in the nd upcoming release (next week).

Still you can build the plugin from the source and move it to the `plugins.d` dir (replace). Netdata aut-update script doesnt overwrite it.

[2020-06-20 20:23] ilyam8 commented on #9008
@dim08 please take a look, ther are user experience agent dashboard related question

[2020-06-20 20:40] ilyam8 commented on #8770
You understand it right, in order to check/monitor something, you need the metric == a chart with a dimension or dimensions.

Well, yes, huge amount of charts is not good and so as a chart with huge amount of dimensions. I think one of the fundamental problems of `nd` - you dont put a metric into database, you put a chart => chart is always on the dashboard, if it is not you cant perfrom `health`

[2020-06-21 00:48] phiberoptick commented on #9385
I thought it was just me.

I can confirm I have been getting the same recently in Chromium on Arch Linux.
Version 83.0.4103.106 (Official Build) Arch Linux (64-bit)

When first loading the page and clicking on any of the nodes to bring up the alarm screen, it is usually blank:
![Screenshot_2020-06-20_20-36-08](https://user-images.githubusercontent.com/2384869/85214191-f697bf00-b335-11ea-8d3e-541fb

[2020-06-21 07:42] NoahTroy opened #9386 "Automatic Unit Conversion Does Not Work For d3pie Charts"
I currently have a pull request open to add support for Vnstat to netdata. I've noticed, however, that the d3pie charts I'd like to use do not automatically convert all units, like the stacked charts do. This has been noticed by several testers across different OS's. You can find the full code/implementation in [this pull request](https://github.com/netdata/netdata/pull/8955).

If you do not want

[2020-06-21 10:05] cryptoluks commented on #7133
Hi, I got "nominated" for April 2020 reward. Sent you multiple mails since then but never got any reply/confirmation.

Thanks

[2020-06-21 17:42] thoggs commented on #7133
Me too, but rest assured, the Netdata team is competent and well organized ... For me, to be contributing with the tool that is part of my day to day, is a great pleasure.

[2020-06-22 02:14] thiagoftsm commented on #9375
Hi @willhseitz ,

Today I discovered that we are having problems on sender process that is not sending sometimes the missing variables to the receiver process.
We will work to fix this during this week.

best regards!

[2020-06-22 06:25] prologic commented on #8117
This is "done" for now. I will create further issues with @joelhans's help to improve the tool and replace all our usages of the old ruby one everywhere. This will be for `v1.24`.

[2020-06-22 06:25] #8117 closed

[2020-06-22 08:03] cakrit commented on #7133
We had a problem sending the rewards for April and May, due to a change in personnel. Rest assured, we're doing our best to get them out ASAP. Thank you for your contributions!!!

[2020-06-22 08:46] ilyam8 opened #9387 "External collectors (orchestrators) file locking jobs registry"
### Feature idea summary

Related https://github.com/netdata/product/issues/1143

One and only one job with same `moduleName_jobName` should be in the running state. It is easy to achieve for a plugin and we do it.

The problem: we cannot guarantee that this condition is met globally - across all plugins. There is no single source of truth at the moment.

This allows us to get rid of [_disabled by

[2020-06-22 08:48] manos-saratsis commented on #9385
@Rhywden @phiberoptick thx for your comments, we will investigate and come back to you soon.

[2020-06-22 09:06] ilyam8 opened #9388 "go.d.plugin: implement file locking jobs registry"
##### Feature idea summary

Related https://github.com/netdata/product/issues/1143

Part of #9387

WIll be implemented using my fork of [gofrs/flock](https://github.com/gofrs/flock) library.

Fork because of

It seems upstream is not active anymore.

##### Expected behavior

[2020-06-22 09:12] cakrit commented on #8779
Waiting on @knatsakis for this one, it shouldn't be closed.

[2020-06-22 09:17] cakrit commented on #5058
That's not possible right now, but it sounds like an interesting feature request, if you can explain the need. Please do it in a new issue though, this one should be left closed.

[2020-06-22 09:18] ilyam8 commented on #9387
@mfundul have we ever had problems with open files limit? I know there is _per process_ limit, external plugin are processes, so not a big deal, but i think there is _per user_ limit 🤔

[2020-06-22 09:18] #9388 closed

[2020-06-22 09:18] ilyam8 commented on #9388
Implementation is added but this feature is disabled for now.

[2020-06-22 11:49] Ferroin commented on #7294
As of March 5 when I made that comment, the Devuan website appeared to have not been updated for quite some time, there was no clearly visible evidence of ongoing development, and there was no visible evidence on the site that 2.0 had ever made it past beta status (IOW, it looked like development had died off before the release happened, and the only 'stable' release was based on an EOL release of

[2020-06-22 12:32] pkrasam opened #9390 "error: automatic one-line installation script"
##### Question summary
I ran the one-line installation script `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` and `systemctl status netdata` shows errors

##### OS / Environment
Operating System: Ubuntu 18.04.4 LTS
Kernel: Linux 4.15.0-88-generic

##### Component Name
netdata

##### Expected results
[code]

[2020-06-22 13:07] Ferroin commented on #9380
Known and expected behavior when running `install-required-packages.sh` without specifying a package set to install. It ideally should complain instead of continuing the way it does right now, but this is not causing problems for users who are using the `kickstart.sh` install script or following our installation documentation correctly.

@thiagoftsm for future reference, the required command is `.

[2020-06-22 13:11] Ferroin commented on #8898
I'd argue that we should actually fix the pipe location, as discussed in #7587.

[2020-06-22 13:15] Ferroin commented on #9123
Not stale, just slow. This will be comming as part of an impending redesign our our packaging and installation options.

[2020-06-22 13:17] Ferroin commented on #9387
Per-user limits only exist if the system administrator has configured them, and most sysadmins do not do so.

However, there may be _per-service_ limits imposed by systemd or through whatever container orchestration the user may be running Netdata under, but those are usually also only present if the sysadmin configures them.

[2020-06-22 14:34] underhood opened #9391 "ACLK `http` msg v2"
#### Feature idea summary

To further reduce latency new `http` message format will be implemented with payload outside of JSON. This removes some processing by ADC and allows it to forward the payload to the browser.

##### Expected behavior

[2020-06-22 14:37] #6762 closed

[2020-06-22 14:38] underhood opened #9392 "Multiple ACLK Query Threads"
##### Feature idea summary

The ACLK Query thread should be multiple threads competing for work from the Queue. In the case of long queries, there are other threads that can pick up the work.

##### Expected behavior

[2020-06-22 15:01] thiagoftsm commented on #9380
I used `./packaging/installer/install-required-packages.sh --dont-wait` when I had the problem reported.

[2020-06-22 15:02] underhood opened #9393 "Agent Unclaiming from Cloud"
##### Feature idea summary

Add ability to Un-claim node.

netdata/docs#210

Fixes #9124

##### Expected behavior

[2020-06-22 15:13] Ferroin commented on #9380
That's my point though, you didn't list which set of packages to pull in at the end, and therefore didn't get most of the packages. Our docs tell people (in an admitedly roundabout way) to specify either `netdata` or `netdata-all` in the command, and we explicitly use `netdata` for the regular install process.

[2020-06-22 15:14] ilyam8 commented on #9325
@lds-lds

There is cgroups filter

Probably i am missing something, it doesnt work for you?

[2020-06-22 15:19] ilyam8 commented on #7897
@KlavsKlavsen i could say the work is started.

This is very nice! I dont have question atm, just started working on it. But ill have them for sure, ill ping you when i need something

[2020-06-22 15:20] ilyam8 commented on #6432
`autodetection_retry` will do, `autodetection_retry` != 0 == do not drop the job, keep trying to start it every `autodetection_retry`.

[2020-06-22 15:25] ilyam8 commented on #9004
@scatenag so what function failes? `simple_bind`?

https://github.com/netdata/netdata/blob/289fb07015c42f676b4b662500827cd38549ff4c/collectors/python.d.plugin/openldap/openldap.chart.py#L164-L165

I dont really can help here, if you have time/willing it would be nice you try to debug/fix it

[2020-06-22 16:25] meulie opened #9395 "Typo in netdata/packaging/installer/methods/synology.md"
#3 of Create startup script mentions:
Make sure /etc/rc.local is executable: chmod 0755 /etc/rc.netdata

This should be:
Make sure /etc/rc.netdata is executable: chmod 0755 /etc/rc.netdata

[2020-06-22 16:40] ilyam8 commented on #9395
hi @meulie, are you willing to make a PR with the fix?

[2020-06-22 18:19] #9375 closed

[2020-06-22 18:23] thiagoftsm commented on #9380
I will try again, but considering that I could move forward and at the end I did not have what I was expecting ( Netdata + dbengine). Could we consider this a bug?

[2020-06-22 18:27] #9095 closed

[2020-06-22 18:36] Ferroin commented on #9380
Yes, I would consider the current behavior to be a bug, but I would not consider it a particularly high priority given that:

1. Assuming users are following our documentation, they shouldn't run into it.
2. We may actually end up eliminating this script as part of the upcoming packaging rework.

[2020-06-22 19:00] meulie commented on #9395
Willing: yes. Knowledgeable how to: not, unfortunately...  :$

[2020-06-22 19:03] Duffyx opened #9397 "Make it possible to run the FreeBSD IPFW plugin with sudo"
#### Feature idea summary
In short, the IPFW plugin of FreeBSD requires the daemon to run as root. It would be nice to be able to run the plugin as the netdata user by using a sudo entry (similar how the samba plugin works). It's not easy though, as currently the plugin is written in C. For this feature request we would need some kind of wrapper that extract data from running sudo-ed ipfw commands

[2020-06-22 19:04] ilyam8 commented on #9395
Oh oh, so it would be your first PR? No worries, not a big deal

[2020-06-22 19:05] Duffyx commented on #9397
Woops, closing in favor of 8890

[2020-06-22 19:05] #9397 closed

[2020-06-22 19:08] Duffyx commented on #8890
I like this idea. Given the fact that the plugin is implemented in C, I reckon casting commands using sudo privileges will not be possible? (similarly how samba python plugin works, using "sudo smbstatus" commands)

[2020-06-22 19:20] ilyam8 commented on #8890
we dont need sudo for external plugins, we can `setcap`

[2020-06-22 20:36] shrhawk-entertainer commented on #3924
its still exists

[2020-06-22 20:50] thiagoftsm commented on #4021
Hi @kevinp1005 I apologize the delay.
We are having internal discussion about what to do with SNMP.
@ilyam8 would be possible to move this collector to Go or Python?

[2020-06-22 21:05] ilyam8 commented on #4021
it seems the only way to maintain it

[2020-06-22 21:30] thiagoftsm commented on #9225
The first possible road would be to do download of the `static` libraries from [kernel collector](https://github.com/netdata/kernel-collector) and to do the linkage during the compilation time.

[2020-06-22 22:01] thiagoftsm commented on #9225
Another option to do the `static`  linkage will be to move the whole `ebpf.plugin` to  [kernel collector](https://github.com/netdata/kernel-collector) repository. To do this we will need to do the following changes in the `eBPF.plugin`:

-  Use `pthreads` directly instead `netdata_thread`
-  Create a short version of libnetdata on `kernel collector` repository that will have:
    - Netdata configu

[2020-06-22 22:57] thiagoftsm commented on #9373
Hi @kromit ,

Firstly I apologize the delay to answer you.
I tested now on Mozilla Firefox `68.9.0esr` and Google Chrome `83.0.4103.106`. I observed that the problem reported when the lower zoom is applied is happening with the `React` dashboard and also with the `classic` dashboard, no less important this is also affecting the cloud.
@jacekkolasa , @VLegakis, @Azein  and @manos-saratsis  this is

[2020-06-22 22:59] ilyam8 commented on #9373
I guess it is expected (i dont say it is correct), it is interpolation.

[2020-06-22 23:04] thiagoftsm commented on #9373
I could do a peak of `0.8` to become `0.4`, I am not sure if this is what we want.

[2020-06-22 23:12] thiagoftsm commented on #9322
Hi @mailinglists35 ,

What is the memory mode you are using on your Netdata?
Netdata is almost releasing the version `1.23`, I would suggest to update your Netdata.

best regards!

[2020-06-22 23:14] thiagoftsm commented on #9322
@Ferroin and @prologic I would expect that by default RPMs are installed with `dbengine`, please, can you confirm this?

[2020-06-23 02:51] prologic commented on #9322
This question comes up a lot. Can we include information about what features and capabilities Netdata was built with in a `netdata -v` output? Please :) Our build systems are quite complex and its time consuming to answer this type of thing, perhaps we should start having an FAQ too :)

[2020-06-23 02:52] prologic commented on #9322
AFAIK our RPM(s) are built with the required dependencies for dbengine:

[code]

[2020-06-23 06:34] prologic commented on #9380
I have fixed this with #9399 which now makes `netdata-all` the default behaviour.

[2020-06-23 06:39] prologic commented on #7587
Can we just make this configurable already? It seems rather limiting to have to hard-code something like this, most software (_MySQL, PostgrSQL included_) I'm fairly sure make this configurable! Making this configurable lets us be a bit more flexible at the packaging/systems level which would help to solve #8898

[2020-06-23 07:28] #4885 closed

[2020-06-23 07:35] dim08 commented on #9217
@amoss I have grouped this feature under ACLK/Claiming Improvements. Please include it in the technical grooming for the following release.

[2020-06-23 07:46] dim08 commented on #9008
Hi there will try to address this as part of a new feature we are currently designing

[2020-06-23 07:51] manos-saratsis commented on #9373
@kromit thanks for reporting it.

@dim08 this is high prio.

[2020-06-23 07:57] manos-saratsis commented on #9362
@saintaardvark Thx for sharing your thoughts. We already provide this option, see:
https://learn.netdata.cloud/docs/agent/aclk#disable-the-aclk

[2020-06-23 07:57] #9362 closed

[2020-06-23 08:23] mfundul commented on #7587
We should.

[2020-06-23 08:37] stdedos commented on #9008
Kindly use automated closing https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue so I can keep track of this.

Thanks!

[2020-06-23 08:44] jacekkolasa commented on #9373
I agree with @ilyam8 it's an interpolation problem. We can change the grouping method, but it won't work in all cases and current "average" setting is a compromise. Maybe we should have a setting for this? @dim08

[2020-06-23 10:02] underhood opened #9401 "Groom Inform Cloud about ACLK failure after claiming"
#### Feature idea summary
Product Ask:
 - "Claim for 1st time. If the claiming is successful but the ACLK is not established we should provide hints to the user and if possible send a hint to the Cloud so additional info can be presented to the Cloud users"

##### Expected behavior
On Cloud we should be able to show different messages for Unreachable agents:
- ACLK dependencies are not installed
-

[2020-06-23 11:12] thiagoftsm commented on #8730
The PR https://app.zenhub.com/workspace/o/netdata/kernel-collector/issues/151 on kernel-collector repository brought this feature to Netdata.

[2020-06-23 11:12] #8730 closed

[2020-06-23 11:14] #9395 closed

[2020-06-23 11:35] amoss commented on #7587
How does making the named pipe location configurable help fix #8898? I thought that required  change to the location of the netdata `.pid` file.

[2020-06-23 12:28] cakrit commented on #6898
No longer relevant

[2020-06-23 12:28] #6898 closed

[2020-06-23 12:34] cakrit commented on #8285
TODO: Add documentation

[2020-06-23 12:40] cakrit commented on #5979
Our plans have changed, we'll have static installations across the board.

[2020-06-23 12:40] #5979 closed

[2020-06-23 12:42] cakrit commented on #8120
Modified to set up CI for MacOS, as we have a different issue for FreeBSD

[2020-06-23 12:43] #8083 closed

[2020-06-23 12:47] cakrit commented on #7860
The only remaining issue here is to improve the documentation on the volumes that need to be mounted.

[2020-06-23 12:52] #7823 closed

[2020-06-23 13:02] ilyam8 commented on #7860
I guess this is not really a bug in my case, but I think maybe documentation can use a update for this bit of inf

it is already in the docs

[2020-06-23 13:03] ilyam8 commented on #7860
Fixed in https://github.com/netdata/netdata/pull/8813

[2020-06-23 13:03] #7860 closed

[2020-06-23 13:09] cakrit commented on #8396
The only thing needed from the agent team is a clean markdown document with a simple table with two columns: Feature (more than one words acceptable) and Library (one word only)

This will allow @Ferroin to fix install-required-packages once, link that document to the maintainer guide and enable future automations.

[2020-06-23 13:10] #7822 closed

[2020-06-23 13:24] #8298 closed

[2020-06-23 13:25] cakrit commented on #8576
Closing due to no response, feel free to comment here if the issue persist.s

[2020-06-23 13:25] #8576 closed

[2020-06-23 13:30] mailinglists35 commented on #9322
I have no idea. I have provided the origin rpm file.

is there any specific changelog entry related to memory management?

[2020-06-23 13:35] cakrit commented on #8311
Closing due to no response, please comment if the instructions above don't solve your problem.

[2020-06-23 13:35] #8311 closed

[2020-06-23 13:46] cakrit commented on #7346
This will be done as part of the move to GHA

[2020-06-23 13:46] #7346 closed

[2020-06-23 13:47] thiagoftsm commented on #8691
This issue was fixed when we merge information about SELinux. When SELinux is configured, we do not have more these problems.

[2020-06-23 13:47] #8691 closed

[2020-06-23 13:49] amoss opened #9403 "Update agent build system"
#### Summary

Switch the agent to a semi-static build. All external dependencies other than libc will be statically linked into the agent so that we have a known configuration of dependency versions. Each dependency can be overridden individually to link against system libraries or pre-supplied versions.

[2020-06-23 13:50] thiagoftsm commented on #8692
Debian specifies the kernel version inside a different variable, we fixed this problem creating the function

https://github.com/netdata/kernel-collector/blob/a043bb1e4bde7ab001cf698e882e8c141c2ededb/library/bpf_load.c#L140

inside our shared library.

[2020-06-23 13:50] #8692 closed

[2020-06-23 13:52] amoss commented on #8396
I've added this to the epic for changing the deps for the static build. I'll make the list as part of that work.

[2020-06-23 13:53] Ferroin commented on #8719
@dolohow Sorry about the long delay in responding to this.

This appears to be a misunderstanding about how libvirt works and how Netdata works with it.

What the libvirt plugin is actually tracking is the data reported by libvirt about the host's resource utilization resulting from each VM (for example, how much memory on the host each VM is taking up).

What you appear to want is data from the g

[2020-06-23 13:53] #8719 closed

[2020-06-23 13:57] amoss commented on #9403
@prologic We had some details left over to clear up after the meeting. Let's discuss them here. I've started by linking in a couple of existing open issues (the request to support system libraries instead of our custom deps, and the need for a machine-readable list of deps).

[2020-06-23 14:36] Ferroin commented on #8015
Apologies for the long delay on an official response to this.

When Netdata goes to read the files for the web UI, in addition to the regular permissions checks done by the OS, Netdata itself checks that the file ownership matches what is expected based on it's configuration, and refuses to serve them if they don't match.

The 'official' fix for this is to update `/etc/netdata.conf` (or the equiva

[2020-06-23 14:36] #8015 closed

[2020-06-23 14:51] prologic commented on #7587
Its a bit of both I believe. Since we want to use `netdatacli` more to reliably talk to the actual daemon running and tell it to "do stuff" we also need to ensure we can properly talk to it and not assume we know where its UNIX socket is. The pid file has always been configurable, but our shutdown sequence tries to (_since some tiem ago_) use `netdatacli shutdown-agent` preferentially I believe.

[2020-06-23 16:43] willhseitz commented on #9375
Hi @thiagoftsm and @amoss , I manually updated some systems that didnt have the host variables via the kickstart script to `v1.22.1-318-nightly`, but I am still not getting those variables some times. Is #9396 included in the nightly build?

[2020-06-23 16:59] Ferroin commented on #9264
The alarm is not wrong here.

BTRFS uses a two-stage allocator, first allocating large chunks of space (usually 1GB at a time) which it then allocates individual filesystem blocks within, with each chunk being used for only one type of filesystem block (data or metadata).

`df` (and our regular disk space charts) only report usage at the second (block-level) stage, while this alarm is looking at t

[2020-06-23 17:50] samm-git commented on #8890
@ilyam8 please read topic you replying to. We are now talking about FreeBSD, so setcap is not an option in this case.

[2020-06-23 17:53] samm-git commented on #8890
If we talking about FreeBSD - nearest alternative is  Mandatory Access Control (see mac(4)). However, i am not aware of mac for the raw sockets (and we need them) plus it will still require separation of the ipfw plugin. Anyway - it is 100% offtopic here @ilyam8, so as i mentioned  - 100% non-relevant comment.

[2020-06-23 18:16] thiagoftsm commented on #9264
Thank you for your comments @Ferroin .
I executed some tests using the following commands:

[code]

After this I got the Netdata variables used to calculate the alarm using the API:

[code]

Finally I copied a file bigger than my volume:

[code]

And again I requested data:

[code]

As @Ferroin said, the alarm worked as expected on both situation, and the command `df` was never given a complete in

[2020-06-23 18:28] saintaardvark commented on #9362
Hi @manos-saratsis -- thanks very kindly for pointing that out to me...I had completely missed it when going through the Netdata documentation.  That configuration option is perfect for not displaying the sign-in buttons.

However, I'm still left wondering:

- Is there a way to disable the "updates available" button?

- Is there a way to have the view shown by `npm run start:node-view` in a separa

[2020-06-23 18:34] thiagoftsm commented on #9375
Hi @willhseitz ,

It looks like that our kickstart has a problem, I am running the latest Netdata now, and we have the version `netdata v1.22.1-331-g641a4592` not the version you are running.
@Ferroin, please, can you confirm the version of the latest nightly?

Best regards!

[2020-06-23 18:55] ilyam8 commented on #9375
`v1.22.1-318-nightly`

[2020-06-23 19:07] thiagoftsm commented on #9375
Thank you @ilyam8 !

[2020-06-23 21:42] rjsears commented on #9144
Bump....

[2020-06-23 21:53] thiagoftsm commented on #9375
Hello @willhseitz ,

I retest now using a VM and I observed that the variable was sent to `receiver`. I decided to expand the test to be sure that this was not a coincidence, so I created 10 LXC clients and I configured the stream on them. When they connected to the `receiver` all hosts sent the correct variables, please, can you also update the `receiver` to confirm that the problem was fixed? I

[2020-06-23 21:58] thiagoftsm commented on #9238
Hi @Pingger ,

Thank you for your suggestion, I assigned this issue to Front End team for them to analyse your suggestion.

Best regards!

[2020-06-23 22:01] thiagoftsm commented on #9207
Hi @Steve8291 ,

Was your problem fixed after the cited PR to be merged?

Best regards!

[2020-06-23 22:29] ilyam8 commented on #9144
@rjsears perhaps chart or dimension ir wrong?

Check the chart/dimension via http api

[2020-06-23 23:15] thiagoftsm commented on #9059
Hi @Snuggle ,

I understand your point of view that buffers could be ignored inside the formula, but considering that buffers are inside the memory, the current formula is not wrong and I think to keep the buffers like it is right now, it is the most safety approach.

Best regards!

[2020-06-23 23:25] thiagoftsm commented on #9041
Hi @ekexcello ,

I ran the queries now on a local MariaDB and I verified that the queries are working fine on MariaDB  `10.4.13`, but I am many years without to work directly with MySQL, so I have few doubts:

1 - Is there a minimum version that these queries will run?
2 - Would make sense to convert the first two proposed charts `open_tables` and `opened_tables` as dimensions of one chart?

Best

[2020-06-24 01:38] prologic commented on #5910
I am closing this due to no response. If you are still having problem with this feel free to comment or raise a new issue. Thanks!.

[2020-06-24 01:38] #5910 closed

[2020-06-24 01:42] prologic commented on #6156
I am closing this due to no response. This is a nice cool idea et all but I don't see us doing this anytime soon and it seems more like a pet project. As it stands right now the way alarm notifications works is fairly flexible that you could script up anything you wanted, including sending signals out via GPIO or IC2 and make a bunch of LEDs blink :D

[2020-06-24 01:42] #6156 closed

[2020-06-24 01:58] prologic commented on #6688
Being done in #8864

[2020-06-24 01:58] #6688 closed

[2020-06-24 02:01] prologic commented on #6723
Assigning to you @amoss as we very rarely mess around wth the C build system. I know this issue is old so I'm not sure how relevant it is. Feel free to close it if it is not.

[2020-06-24 02:05] prologic commented on #7258
But in end the end we actually are sill supporting Ubuntu 14.04 (_trusty_) in the sense that we have made sure Netdata still correctly builds there with #8916 which once merged will close this issue out.

[2020-06-24 02:44] prologic commented on #7422
I'm 100% certain this was done, but somehow this Issue never got connected to a PR and got forgotten about. Sorry.

[2020-06-24 02:44] #7422 closed

[2020-06-24 02:46] prologic commented on #7511
@thiagoftsm What's the status of this? Is this still relevant?

[2020-06-24 02:47] prologic commented on #4002
@Ferroin This issue was created over 2 years ago. I don't see this getting done any time soon. Can we close it please or un-assign yourself and add "help wanted" and leave it up to the community?

[2020-06-24 02:50] prologic commented on #809
@cakrit This has been opened for over 4yrs and 2yrs with @Ferroin assigned to it. This clutters up our ability so focus on the important stuff. Is this issue still relevant? Can we split this out into relevant product issues (_if not already_)? Thanks!

[2020-06-24 02:53] prologic commented on #312
@cakrit Please appropriately hand this over to the right teams to plan and deliver. I'm un-assigning Austin to reduce clutter for our team.

[2020-06-24 03:01] prologic commented on #7957
I did this in netdata/internal#14

[2020-06-24 03:01] #7957 closed

[2020-06-24 03:03] prologic commented on #8118
@thiagoftsm Please correct me if I'm wrong, but since we now detect the running Kernel version at run-time and load the appropriate "shared library" or "stub + kernel specific implementation program" (_for upcoming static support_) this can be closed. This is effectively done IHMO. I will therefore close it.

[2020-06-24 03:03] #8118 closed

[2020-06-24 03:04] prologic commented on #8194
I'm almost certain this was done elsewhere.

[2020-06-24 03:04] #8194 closed

[2020-06-24 03:19] prologic commented on #8943
Closing this due to inactivity. If you still are having problems please feel free to comment or open a new issue.

[2020-06-24 03:19] #8943 closed

[2020-06-24 03:20] prologic commented on #9139
Closing this since we are unable to reproduce. If you are able to reproduce this and can put together a Docker image that demonstrates the failure we would be more than happy to revisit this. If you are still having issues please feel free to comment or open a new issue with specific details.

[2020-06-24 03:20] #9139 closed

[2020-06-24 03:23] prologic commented on #9143
Closing as dupe of #9163

[2020-06-24 03:23] #9143 closed

[2020-06-24 03:24] prologic commented on #9208
@thiagoftsm Do you know what the status of this is? Can you help me understand where we're at?

[2020-06-24 03:27] prologic commented on #9247
@RubenKelevra We haven't had a response from you in a while. Were you able to get these nodes connected after-all? We'd very much like to help you get these online. You should not be receiving 504 Gateway Timeout errors.

[2020-06-24 03:28] prologic commented on #9276
Closing due to inactivity and no response from the OP. Documentation has been improved around pfSense and I have seen some users have access getting Netdata to run there.

[2020-06-24 03:28] #9276 closed

[2020-06-24 03:30] prologic commented on #9317
Hello @PStoner3 You should also be able to export `http_proxy` / `https_proxy` too right? I'm not convinced we should add `-proxy` flags to all our `curl` commands per se. Can you confirm setting the environment variable also works for you?

[2020-06-24 03:31] prologic commented on #9317
@lds-lds How did you install Netdata? From `kickstart.sh` or `kickstart-static64.sh`?

[2020-06-24 03:33] prologic commented on #9317
Please note that we are also tracking all relevant issues we come across with connecting Netdata Agents to Netdata Cloud in #9239 -- many of which have been fixed since.

[2020-06-24 03:34] prologic commented on #9317
@startryst Could you please let us know if you are still having problems connecting your nodes?

[2020-06-24 03:39] startryst commented on #9317
no, fixed after re-install netdata.

[2020-06-24 03:39] startryst commented on #9317
thanks

[2020-06-24 03:39] #9317 closed

[2020-06-24 04:30] johncaz opened #9404 "netdata - monitoring docker container - how to alarm on container that exits"
netdata v1.22.1-332-nightly
AME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"

Hello
I'm trying to figure out how to alarm when a docker container exits. Is this possible?
Reading the documentation we monitor on 3 items for containers.
but hopefully, we can alarm when a cont

[2020-06-24 04:31] prologic commented on #9403
List of open issues I'm aware of:

- eBPF support (_plan in the works_)
- How we should handle NodeJS / Python collectors.
- Can this approach work on really old systems with super old Kernels? e.g: 2.x?
` `#ifdef` checks at compile time, accept4()
- different variants of builds

This is the current list of "open issues" I am aware of that we need to discuss/resolve. Other than that the rest of th

[2020-06-24 04:35] prologic commented on #9317
Nice Thanks!

[2020-06-24 04:41] mfundul commented on #9059
While it is unusual to have high buffer usage (usually it's high cache usage), as long as the buffers are not dirty and they are accounted for as "available" memory, which they are in this case, I tend to agree that this is a bug. What do you think @Ferroin ?

[2020-06-24 04:41] prologic commented on #8015
@joelhans Would you be able to update our "Troubleshooting" section with this? Basically if users run into permissions problems with accessing the Agent's local Dashboard that they should check the configured ownerships in the web section in the configuration and the ownership of the filfes and ensure they match and/or modify their configuration. Thanks!

[2020-06-24 04:45] prologic commented on #7860
Thanks @ilyam8 !

[2020-06-24 04:47] prologic commented on #8285
@Ferroin Since you are working a fair bit on documentation of late, can you please prepare a draft PR for this and get @joelhans 's help to get it through. I'll ensure we have CI for macOS / FreeBSD in parallel.

[2020-06-24 04:57] prologic commented on #9390
Is your Netdata Agent otherwise operating normally? Can you access the Agent Dashboard by visiting http://IP:19999/

[2020-06-24 05:17] amoss commented on #9375
I don't think that the version running on the parent node (receiver) will make a difference. As long as the child node (sender) is running the new code the problem should be fixed. Can we find out why the kickstart has delivered the old version (@prologic / @Ferroin ) ?

[2020-06-24 07:01] RubenKelevra commented on #9247
It looked like just a fluke at that they. Everything works fine now :)

[2020-06-24 07:02] #9247 closed

[2020-06-24 07:08] prologic commented on #9201
@thiagoftsm What's the status of this issue? From what I can see originally this was reported against a Netdata Static install which we don't support yet for eBPF. We have plans to fix that though, so is this issue still relevant? Perhaps we document that Netdata Static + eBPF is not currently yet supported and update our docs?

[2020-06-24 07:12] prologic commented on #9114
Circling back on this; I understand the problem to be that we don't report bare-metal instances of Netdata. Is this right @amoss @thoggs ?

[2020-06-24 07:13] prologic commented on #8488
Even on my iMac `./daemon/system-info.sh` reports:

[code]

have we never really ever differentiated between virtual/container and bare-metal before? 🤔

[2020-06-24 07:17] prologic commented on #8440
@PixiBixi After reading and re-reading what has been posted here, I actually don't really fully understand what's going on. Have you dug further into this yourself? Do you have any further insights? -- Also more over, what specific problems is this causing for you?

[2020-06-24 07:25] dim08 commented on #9373
@jacekkolasa will follow up with you

[2020-06-24 07:43] prologic commented on #9247
Nice! I'm glad it worked for you finally! We've been hard at work making things more and more stable!

[2020-06-24 07:44] aurrelhebert opened #9405 "Exporter prefix parameter seems broken"
##### Bug report summary
I added a Graphite exporter datasource with a prefix set as below:

[code]

And when listening for the TCP output I got:
[code]
I expected to get "test" as metrics prefix.

##### OS / Environment
- uname -a; sw_vers                      # macOS

[code]

##### Netdata version
netdata: stable 1.22.1
Diagnose infrastructure problems with metrics, visualizations & alarms
https

[2020-06-24 07:53] vlvkobal commented on #9405
Please add the prefix to the global section
[code]
Does it work for you?

[2020-06-24 08:01] aurrelhebert commented on #9405
Indeed with the global prefix it's working fine! Thanks for the turnaround :)

[2020-06-24 08:34] manos-saratsis commented on #9040
@2-man on it! Please give us a month and stay tuned :)

[2020-06-24 08:46] jacekkolasa commented on #9362
hi @saintaardvark !
Currently we don't have an option to disable "updates available" button. To do it, we would need to add a flag to netdata.conf and expose it via api. I'm not sure how big priority would that be, @dim08 what do you think?

Currently there is also no option to display dashboard from `npm run start:node-view` task, this was done only for development purposes. There are no installa

[2020-06-24 08:56] manos-saratsis commented on #9362
@saintaardvark we do not plan to remove the "updates available"

[2020-06-24 09:01] cakrit commented on #809
Indeed. We're rolling out alarm notifications on the cloud very soon and will focus on adding integrations, not routing and escalation policies.

[2020-06-24 09:01] #809 closed

[2020-06-24 09:11] cakrit opened #9406 "Move SNMP support to go.d plugin"
##### Feature idea summary

Deprecate the current version and provide better support, by writing a collector in go.
We'd probably want to use https://github.com/soniah/gosnmp (haven't seen anything else more mature, but others may know more).

##### Expected behavior

Have a well supported SNMP collector.

[2020-06-24 09:20] cakrit commented on #8819
So here we just provide 3 more command line params and at the end, after installation is completed and if the params where provided, we call the claiming script, right?

[2020-06-24 09:27] cakrit commented on #312
@dim08 we talked about this last week, @prologic discovered the old existing issue on it. Please ensure we either plan this one, or close it and link it to the issue you'll be monitoring for the implementation.

[2020-06-24 09:35] amoss commented on #6723
Thanks @prologic :)

[2020-06-24 09:37] amoss commented on #9114
Yes - the cloud UI should be updated to indicate bare metal.

[2020-06-24 09:41] ilyam8 commented on #9375
@willhseitz hi

the fix was not in the nightly at that moment, now it is, you need to update your nd instances one more time

[2020-06-24 09:43] amoss commented on #9375
@willhseitz, it turns out that working out which commits were in the nightly was slightly more complex that we realized. @ilyam8 has a nice trick for doing it:
[code]
This shows that the nightly was the day before the fix was merged. The nightly that had index `337` and onwards contain the fix.

[2020-06-24 10:37] amoss commented on #9225
Meeting summary:

* Option 1: download complete eBPF collector from kernel collector repo
    - Build on local machine:
    - Requires: collector (versioned)
    - Build remotely: BPF program, libBPF (fork), collector (with libnetdata)
    - Requires: kernel source, clang 5+ or gcc 10, libelf

* Option 2: download static libraries from kernel collector repo
    - Build on local machine: collector

[2020-06-24 10:43] 2-man commented on #9040
Next month with sunglasses 😎

[2020-06-24 11:05] thiagoftsm commented on #7511
Yes @prologic, we will need to change this.

[2020-06-24 11:07] manos-saratsis commented on #6450
Some ideas we could pick from:
- Graphite Wisper DB https://graphite.readthedocs.io/en/latest/whisper.html
- RRDtool https://oss.oetiker.ch/rrdtool/doc/rrdtool.en.html

[2020-06-24 11:07] thiagoftsm commented on #8118
I agree this could be closed.

[2020-06-24 12:07] Ferroin commented on #4002
Short term, yes, tagging as help-wanted.

Longer term, I do intend to get this working properly.

[2020-06-24 12:32] thiagoftsm commented on #9208
Hi @prologic ,

I already could get with our team  the access key for we access the Amazon Linux, so we will have conditions to bring support for Amazon Linux soon.

[2020-06-24 12:41] underhood commented on #9401
@netdata/cloud-be should we create an HTTPS endpoint for this (where agent can report failure to make ACLK connection)?

[2020-06-24 13:35] Steve8291 commented on #9207
I'm still seeing it on netdata v1.22.1-332-nightly
[code]

[2020-06-24 13:43] prologic commented on #9114
A quick one-line fix for this could be we just swap `unknown` for `bare-metal` and assume that if we cannot figure out what Hypervisor is being used that we _must_ surely be running on bare-metal (_if also not running in a container_). Will this work for everyone?

[2020-06-24 13:44] prologic commented on #8819
Sounds reasonable to me. 👍

[2020-06-24 13:53] thiagoftsm commented on #9201
@joelhans I do not remember if we added this specific information related to eBPF.plugin in our documentation, it will need to go in the release note for sure.

[2020-06-24 13:53] prologic commented on #9208
Ahh brilliant. Is this really something you want to be doing? The Agent SRE team can probably take care of ensuring we have first class support for Amazon Linux by spinning up an EC2. Is this what you were planning on doing? We could also go an extra step and setup some CI with a self-hosted Github Actions runner on an Amazon Linux EC2.

[2020-06-24 13:57] thiagoftsm commented on #9375
I am thinking that this can be another bug, all the tests that I made with success had a common pattern, I compiled both parent and children. It is possible that when the child is sending the data, some variables are not updated.

[2020-06-24 14:17] vlvkobal commented on #9225
After a long discussion with Thiago, we have identified that in reality the existing code in the kernel-collector repository can be simplified a lot:
- we need to prebuild only two versions of BPF programs;
- we need just a small patch for the libbpf library (for kernels < 4.15) instead of using three libraries;
- we don't need the existing complexity to build the code on different systems if we m

[2020-06-24 14:59] mfundul opened #9407 "HOST metadata log record does not survive compaction."
##### Bug report summary

The HOST metadata log record such as:
[code]

is emitted into the metadata log files but its UUID is never inserted in the GUID map, and as a result, metadata log compaction never finds it. The side-effect is that the `HOST` record will be missing after compaction, and this is going to be problematic for the multi-host DB implementation.

##### Steps To Reproduce

1. Obse

[2020-06-24 15:07] joelhans commented on #9201
@thiagoftsm I don't recall mentioning in the eBPF docs that it's not compatible with static builds. I'll add it to the release notes now and work up a PR for the eBPF docs later today.

[2020-06-24 15:10] joelhans commented on #8015
@prologic Sure thing. You mean add it to this section on the install doc? https://learn.netdata.cloud/docs/agent/packaging/installer#installation-notes-and-known-issues

[2020-06-24 15:19] Ferroin commented on #9114
@prologic that sounds like a reasonable solution to me. Barring stuff like cpuidle and frequency scaling, virtualization we can't ID is functionally equivalent to bare metal for our purposes.

[2020-06-24 15:36] nikobearrr commented on #8528
Hi @ilyam8 , I am bringin this topic again as I am evaluating the netdata -> local syslog -> any destination.
We are running our netdata in docker. How can I configure netdata to send to the local host? I checked the running container and there is no rsyslogd service running. I suspect you were not talking for netdata running in Docker and I am left with the impression that I cannot use syslog whe

[2020-06-24 15:59] saintaardvark commented on #9362
Hey @manos-saratsis and @jacekkolasa - many thanks for the additional info, this helps a lot!

[2020-06-24 16:00] ilyam8 commented on #8528
Well, if you need access `localhost:port` from the container, then (linux only)

[2020-06-24 16:02] ilyam8 commented on #8528
Perhaps changing logging driver to syslog could help (not sure, didnt have any exp with it)

[2020-06-24 16:11] cijlus opened #9409 "megacli failed to parse "/usr/bin/sudo -n /usr/local/bin/megacli -AdpBbuCmd -a0 -NoLog" output"
##### Question summary
"megacli" section is reporting adapter and pd info, but no BBU info. debug trace shows the following:
[code]

Here are the results from the megacli command referenced above:
[code]

##### OS / Environment
CloudLinux 7.8

##### Component Name
python.d megacli

##### Expected results
BBU Info

[2020-06-24 16:11] nikobearrr commented on #8528
Sadly the option with the docker logging driver does not work for us. We use community docker and in case we change the logging drive to syslog then we cannot do `docker logs <container>` anymore: https://docs.docker.com/config/containers/logging/configure/#limitations-of-logging-drivers

That is the reason why we want to make netdata send to our syslog server directly (not through docker's loggin

[2020-06-24 16:48] ilyam8 commented on #9409
Hi

Parsing based on

[code]

There is no `Capacity Info` in your output

[2020-06-24 16:52] ilyam8 commented on #8528
i agree

[2020-06-24 16:53] cijlus commented on #9409
Thanks for this. It seems like there's no good way to monitor my BBU then. No capacity info and no "State: Optimal" or anything similar. I will find another solution. Closing for now.

[2020-06-24 16:53] #9409 closed

[2020-06-24 18:47] Namenox opened #9410 "Spike to 0 in netdata_disk_space_GiB_average"
We have Netdata monitoring our systems, and occasionally (always for the same partition, /var), we get this strange behaviour

![image](https://user-images.githubusercontent.com/34040174/85615075-f4966e80-b65b-11ea-9e70-ade338c92b3c.png)

We get a spike to 0, causing a  false alarm that triggers a phone call to our on-call engineer.

It has already been checked that /var is not fillling up, so we

[2020-06-24 20:12] thiagoftsm commented on #9410
Hi @Namenox ,

Please, can you check your `error.log` for the exact time that events happen? It looks like that the collector is not able to collect data for this specific interval of time.
Another source of information that can help us to identify the problem is the output of the software `dmesg`.

Best regards!

[2020-06-24 20:45] arturrocha commented on #9390
Same here, seeing syslog error for that. Netdata works normally. http access normal.

2020-06-24 07:24:38 | xxxx | Error (3) | EBPF.PLUGINPROCFILE PROCFILE: Cannot open file '/etc/netdata/apps_groups.conf'
-- | -- | -- | --
  | 2020-06-24 07:24:37 | xxxx | Error (3) | EBPF.PLUGIN Does not have a configuration file inside `/etc/netdata/ebpf.conf. It will try to load stock file.

[2020-06-24 22:36] ntlug commented on #9356
What I said does "work" (quoting intentional).  Install Judy via dnf.  Use yumdownloader to pull the Judy-devel rpm down and install with --nodeps.

Then install netdata.

The real fix is having congruent packages for Judy and Judy-devel.

[2020-06-24 22:53] marioem opened #9411 "Segmentation fault (code=killed, signal=SEGV"
#### Bug report summary

I'm running Netdata on seven Raspberry Pis, on one of them the daemon dies after day of working due to segmentation fault:
[code]
[error.log.1.zip](https://github.com/netdata/netdata/files/4828227/error.log.1.zip)

Removing /var/cache/netdata resolves the issue (I'm not expecting however this to be a permanent fix).

##### OS / Environment

Raspberry Pi 3 A+
[syslog.1.zip]

[2020-06-25 00:12] dwdixon opened #9412 "alarm-notify.sh critical severity filtering behavior change with CLEAR alarm email notifications?"
##### Question summary
I upgraded to netdata 1.22.1 (previously on 1.18.x) and it seems that now when the email alarm recipients are set to receive critical alarms (e.g.  `username@domain.com|critical` ) via health_alarm_notify.conf that they do not receive the corresponding CLEAR notification when the CRITICAL alarm clears...?  Am I doing something stupid or missing something obvious or did somet

[2020-06-25 00:37] PStoner3 commented on #9317
I realize this issue has been closed but I did want to address the question posed to me about exporting the http(s)_proxy env variables.

I have since installed netdata on a different server and again encountered the same issue. I did try exporting both the http_proxy and https_proxy variables and no change in response. I also added a .curlrc specifying the proxy value with no change. From what I

[2020-06-25 04:19] prologic commented on #9163
All dependencies satisified:

[code]

[2020-06-25 04:27] prologic commented on #9163
And we have Netdata built from source and running on FreeBSD:

[code]

[2020-06-25 04:28] prologic commented on #9163
Confirming we are actually running:

[code]

[2020-06-25 04:30] prologic commented on #9163
FreeBSD Node successfully claimed:

[code]

[2020-06-25 04:31] prologic commented on #9163
<img width="888" alt="Screen Shot 2020-06-25 at 14 31 03" src="https://user-images.githubusercontent.com/1290234/85653538-83ed6180-b6f0-11ea-905d-aa3f23027f68.png">

[2020-06-25 07:16] prologic commented on #8015
Yes Please :)

[2020-06-25 07:16] prologic commented on #9201
Thanks @joelhans !

[2020-06-25 07:19] prologic commented on #9317
@PStoner3 Thanks! Appreciate your feedback. I'm a bit surprised exporting `(http/https)_proxy` doesn't work in this case. The curl `-q` option is only meant to disregard a user's `$HOME/.curlrc` which can cause problems for us. I'm happy to explore adding the `--proxy` flag if applicable somehow, if you could open a separate issue for this and tag me I'll gladly explore this a bi more?

[2020-06-25 07:22] prologic commented on #9390
I _think_ these errors in the logs are somewhat normal. We have a bit of a verbose/noisey logging AFIAK. cc @amoss / @ilyam8 to confirm.

[2020-06-25 08:21] underhood commented on #9244
Hi, guys as @Ferroin mentioned this is going to be solved by #8961. To better organize our issues I am closing this one as a duplicate.

[2020-06-25 09:17] underhood opened #9415 "Additional Chart Metadata"
#### Feature idea summary
Implements additional charts metadata as per netdata/docs#20. Fixes dead charts still being visible in cloud.

##### Expected behavior

[2020-06-25 09:21] #9015 closed

[2020-06-25 09:21] #9021 closed

[2020-06-25 09:21] #8925 closed

[2020-06-25 09:26] amoss commented on #9390
This is normal. It is because our logging does not distinguish between errors and infos. There is an issue created to fix it, should be in one of the next sprints. I can't link it here as it is in the product repo (cc @netdata/product).

[2020-06-25 09:59] MrFreezeex commented on #9221
Hi, I also have this error on release `1.23.0` with an installation with apt/packagecloud.io:

[code]

It tries to load ` /usr/libexec/netdata/plugins.d/libnetdata_ebpf.so.4.16.18` but this file doesn't exist, however `/usr/libexec/netdata/plugins.d/libnetdata_ebpf.so` does exists.

[2020-06-25 10:02] mfundul commented on #9411
@marioem after removing `/var/cache/netdata` did you see the issue again or is it not reproducible anymore?

[2020-06-25 10:10] KlavsKlavsen commented on #7897
Great - Our plan is to firstly use it with haproxy 2.0+ /metrics endpoint as that has more metrics than current netdata haproxy plugin :)

[2020-06-25 10:43] ilyam8 commented on #9390
Both errors from https://github.com/netdata/netdata/issues/9390#issuecomment-649061830 should be `info` level @thiagoftsm. It is ok to not have configuration in the user dir.

[2020-06-25 10:45] prologic commented on #9221
@thiagoftsm ☝️ What did we break? 😳

[2020-06-25 10:50] prologic commented on #9390
Thanks @amoss !

@pkrasam I think we can close this. As stated these are "normal" (_for various definitions of normal_) and as long as Netdata is operating for you otherwise there is no bug/problem here I can. see. Feel free to close the issue yourself if you're all good.

[2020-06-25 10:54] underhood commented on #9232
@technsandiego01 sad to hear you have issues with Netdata. Unfortunately without any additional details (logfiles), we are not able to identify the issue. Only way might be it being accidentally solved in new release based on another bug report/change.

I will close this issue as there is no response. Please feel free to reopen in case you have the logfiles or need help finding the logfiles.

[2020-06-25 10:54] #9232 closed

[2020-06-25 10:55] antondemidov commented on #8846
Confirmed 1.23 works as a charm for Debian 8. Thanks

[2020-06-25 10:56] ilyam8 commented on #9412
Sounds correct, it would expect the same.

@thiagoftsm ?

[2020-06-25 10:57] cakrit commented on #6765
Closing in favor of #8597

[2020-06-25 10:57] #6765 closed

[2020-06-25 11:46] ilyam8 commented on #9387
There are limits per process, i noticed it working on [go plugin file locking registry](https://github.com/netdata/go-orchestrator/pull/45).

linux open files limit

[code]

macOS open files limit

[code]

[2020-06-25 11:52] MrFreezeex commented on #9221
I did an `strace -f` on the ebpf.plugin and symlinked `libnetdata_ebpf.so.4.15.0-88-generic` and `libnetdata_ebpf.so.4.16.18`.

First it appears that there the lib with `-generic` is not loaded correctly probably because the string is not null terminated (?):
[code]
whereas the other lib is "correctly loaded":
[code]

But after the loading of the lib It also tries to load libbpf.so is not installe

[2020-06-25 11:57] underhood opened #9416 "Swagger Docu Errors"
##### Bug report summary
Swagger documentation from https://learn.netdata.cloud/docs/agent/web/api shows error in both cases *(Swagger Editor, Swagger UI)*

![Screenshot from 2020-06-25 13-55-51](https://user-images.githubusercontent.com/6674623/85715472-c8c2c980-b6eb-11ea-98e9-4cfad3a2f8b4.png)

##### OS / Environment
##### Netdata version
##### Component Name
Swagger API
##### Steps To Reproduce

[2020-06-25 12:18] thiagoftsm commented on #9390
Hi @arturrocha ,

These messages are default messages, the plugin tries to load some files that users edited first, it this is not possible, it loads the stock files.

Best regards!

[2020-06-25 12:57] dolohow commented on #8719
Currently, netdata tracks some cgroups data related to libvirtd.

I would like to track information provided by `libvirt`.  This plugin https://github.com/fromanirh/netdata-virt actually does what I want, but I think it is outdated and does not work (it is reporting data, but netdata does not pick them).

[2020-06-25 13:55] DeWaRs1206 commented on #7161
I know this is old but the solution I found is the following:

[code]
I basically use the filter property to create 2 differents chart based on the same file.

Hope this will help someone.

[2020-06-25 14:12] thiagoftsm commented on #9221
For one of the cases, the answer is no.

Hi @MrFreezeex ,

This looks like a problem with the DEB packages, I compiled Netdata now from scratch and I observed that from the master branch we are installing correct:

![image14](https://user-images.githubusercontent.com/49162938/85726785-f3aa1f00-b6e5-11ea-8700-0a7f6b460338.png)

About the trace you gave us, it looks like that you do not have `tracef

[2020-06-25 14:31] MrFreezeex commented on #9221
Indeed It was mounted at the wrong place, but It still doesn't launch because It doesn't load libbpf  (after adding the symlink manually).

Correct me If I'm wrong but I think that the netdata-installer choose the correct version of the shared lib but the debian package doesn't have any logic like that.

[2020-06-25 14:50] Rhywden commented on #9385
Seems to have been fixed. Thank you also for setting a max-height for Nodes in the overview - previously I could not use the "Total Network Bandwidth" because one node had over 20 virtual devices (due to Docker).

[2020-06-25 14:50] #9385 closed

[2020-06-25 15:17] thiagoftsm commented on #9221
Hi @MrFreezeex ,

You are right, we probably have something wrong with the DEB package. I cannot say for sure, because I do not work with DEB package in my daily basis. @prologic and @Ferroin , please, can you take a look on this?

About the strange error, I did not forget it and I will bring a fix for this soon.

Best regards!

[2020-06-25 15:30] stdedos opened #9419 "New UI questions - Sidebar/Nodes"
Somewhat related to https://github.com/netdata/netdata/issues/9008:

On one browser, I am getting the "visited nodes" functionality, but on another one I don't:

![image](https://user-images.githubusercontent.com/133706/85749484-9035e680-b711-11ea-90b3-ffcc39b67723.png)

Would this (and/or that https://github.com/netdata/netdata/issues/9008) be "somewhat related" to a modal I barely saw saying "Er

[2020-06-25 15:35] prologic commented on #9221
Ahh yes @thiagoftsm we don't currently yet ship the kernel-collector packages with our Debian packages at all :/ We don't even have an open issue for this. Can you create one in netdata/kernel-collector and we'll discuss tomorrow?

[2020-06-25 15:36] #8846 closed

[2020-06-25 15:37] #9390 closed

[2020-06-25 15:44] fayak commented on #9221
Yeah, I believe this is why this issue exists :p

[2020-06-25 15:48] prologic commented on #9221
Not quite :) We actually don't build it for any DEB packages, or RPM packages for that matter (_at least the DEB/RPM packages we build and host on packagecloud_) :/ So your report is the failure, whilst we actually have much more work to do to support this for PackageCloud-based installations :)

[2020-06-25 15:50] fayak commented on #9221
Alright ! My bad !

Please let me know if I can help in any way

[2020-06-25 15:57] NL-TCH opened #9420 "pfsense no cloud agent"
hey folks,

i installed Netdata on my pfsense-router with [this](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/pfsense) guide.
but when i want to connect to my netdata.cloud account it is saying that it is installed without the "cloud-plugin".
![Capture](https://user-images.githubusercontent.com/58732773/85753590-ae4d1800-b70c-11ea-91b4-9ad30bda94bd.PNG)

![Capture](https://us

[2020-06-25 16:08] ilyam8 commented on #9390
@thiagoftsm what do you think about https://github.com/netdata/netdata/issues/9390#issuecomment-649460961

I see no reason for those messages to be `error` level, i would even call it a bug

[2020-06-25 16:13] DeWaRs1206 opened #9421 "No alarm nofification since implementation of Netdata Cloud?"
##### Bug report summary
No Slack or Twillio notification since implementation of Netdata Cloud (I'm not sure if it's the cause or not...)

##### OS / Environment

I have one Master Netdata running on Ubuntu 18.04 that is collecting stream from multiple servers.

#############
Master Config
#############
My netdata.conf file:
[code]

My stream.conf on master:
[code]
I have around 30 nodes so I wil

[2020-06-25 16:29] manos-saratsis commented on #9385
@Rhywden still not fully fixed but we are on it

[2020-06-25 17:07] mbarper commented on #6839
I have this exact problem in some of my instances. I have set a cron every minute to get the statvfs and see the values when the problem happens again. In my case /var is the filesystem affectec. Will let you know the results.

[2020-06-25 18:09] thiagoftsm opened #9423 "DEB and RPM missing eBPF modules"
##### Bug report summary
As discussed on the issue #9221 the current packages we are delivering are not properly installing the eBPF programs necessary to run eBPF plugin.

##### OS / Environment
All distributions that has packages like DEB and RPM.

##### Netdata version
Netdata 1.23.0

##### Component Name
Packaging

##### Steps To Reproduce

1. Install Netdata using apt or yum

##### Expected b

[2020-06-25 18:15] thiagoftsm commented on #9221
I created the issue https://github.com/netdata/netdata/issues/9423 for we work on this @prologic .
I apologize everyone for the missing  packages.

[2020-06-25 18:41] thiagoftsm commented on #9221
Hi @MrFreezeex ,

The bug related with non ASCII characters were fixed in this [PR](https://github.com/netdata/netdata/pull/9374), when the code freeze finishes we will merge it. @prologic a doubt, should we merge this PR already for the RPMs and DEBs do not have it?

Best regards!

[2020-06-25 18:47] thiagoftsm commented on #9420
@prologic the PR you made to fix BSD compilation will also give conditions to install on pfSense?

[2020-06-25 18:49] thiagoftsm commented on #9390
I think it is a good approach @ilyam8, I am creating an issue now and when the code freeze finishes, I will create a PR doing this.

[2020-06-25 18:53] thiagoftsm opened #9424 "Convert calls from error to info inside ebpf.plugin"
##### Bug report summary
As we discussed on https://github.com/netdata/netdata/issues/9390#issuecomment-649661450 some messages should be classified as info by eBPF. plugin

##### OS / Environment
All Linux

##### Netdata version
netdata 1.23

##### Component Name
Collector

##### Steps To Reproduce
1. Start Netdata 1.23.0
2. Read error.log

##### Expected behavior
Reduce the level of information

[2020-06-25 18:55] thiagoftsm commented on #9207
Hi @Steve8291,

An user created a PR https://github.com/netdata/netdata/pull/9374 and we will merge it when the code freeze finishes.
Next week this problem won't exist more.

Best regards!

[2020-06-25 19:04] thiagoftsm commented on #9208
Yes @prologic , I intend to bring this together the static compilation.

[2020-06-25 20:17] marioem commented on #9411
Less that 24 hours after removing `/var/cache/netdata` it is still up and running.

[2020-06-25 23:29] prologic commented on #9420
In theory it should - yes.

[2020-06-25 23:31] prologic commented on #9221
We can maybe put this into the upcoming hotfix release. cc @amoss @mfundul

[2020-06-25 23:43] thiagoftsm commented on #9420
Hi @NL-TCH ,

@prologic merged few minutes ago the changes that allow to compile Netdata on FreeBSD, please, do you have conditions to test our master branch?

Best regards!

[2020-06-25 23:51] prologic commented on #9420
@NL-TCH @thiagoftsm Its actually on the `develop` branch whilst we're still in code freeze (_expecting a hotfix today/tomorrow_). Please Git clone and Git checkout that branch on your pfSense and see if you can get that to work. The instructions would be something like:

[code]

Good luck :)

[2020-06-26 01:01] thiagoftsm commented on #9412
Hi @dwdixon and @ilyam8 ,

I know what is happening here, according the text in our `health_alarm_notify.conf` we should have only critical alarms when `|critical` is set:

https://github.com/netdata/netdata/blob/4f5d6fbcf4f78c8ec8aa302304699457cead8315/health/notifications/health_alarm_notify.conf#L166

so I made a [PR](https://github.com/netdata/netdata/pull/7769) to fix the code behavior.
I agr

[2020-06-26 03:26] #9076 closed

[2020-06-26 04:37] hbfs commented on #7294
Thats understandable. The devuan site needs some love. The activity is elsewhere on the forums, mailing list, irc. Their philosophy is release when its stable and ready vs a periodic cadence. devuan 2.x is based on debian 9 which had a point release in Feb so it shouldn't be EOL.

I'll update this issue after trying netdata on a fresh install.

[2020-06-26 05:21] manos-saratsis commented on #9419
@stdedos thx for reporting this. Can you please let us know the agent version and Browsers, their version and OS so we can take a look? Also are you signed in on both browsers?

The visited nodes functionality moves to Cloud when you are signed in. Lack of connectivity to Cloud could have caused this. We show toast notifications when the [ACLK](https://learn.netdata.cloud/docs/agent/aclk) cannot b

[2020-06-26 06:09] ilyam8 commented on #9167
This error is configuration syntax error.

However there were breaking changes in `wmi_exporter` v0.13.0

It is no longer `wmi_exporter`, it is `windows_exporter` since v0.13.0.

Sync with upstream was added in https://github.com/netdata/go.d.plugin/pull/394

It is not in netdata v1.23.0, will be in the new go.d.plugin release

[2020-06-26 06:09] #9167 closed

[2020-06-26 07:29] olivluca opened #9427 ""registry to announce" not honoured in alarm-notify.sh"
With the latest release (1.23.0), the url in the notification always points to https://app.netdata.cloud (and, btw it goes to a 404 page) even with "registry to announce" set.
I see in alarm-notify.sh that it overrides the local registry url if the file /var/lib/netdata/registry/netdata.public.unique.id exists.
I tried to remove that file but it is regenerated as soon as netdata restart.
In the pr

[2020-06-26 07:39] NL-TCH commented on #9420
hey @prologic , i really appreciate it that you're looking into this!
but the shell of pfsense does not accept the "git" command for git clone.

[2020-06-26 07:52] mbarper commented on #9410
I have the same problem and followed the same steps described in https://github.com/netdata/netdata/issues/6839

[2020-06-26 09:43] vlvkobal commented on #9225
I checked libbpf on several distributions. It can be built succesfully on
- Ubuntu 20.04 - 5.4.0
- Ubuntu 18.04 - 4.15.0
- Ubuntu 16.04 - 4.4.0
- OpenSUSE 15.1 - 4.12.14
- Debian 9 - 4.9.0
- CentOS 7 - 3.10.0

It looks like we don't need any patches at all.

[2020-06-26 10:57] stdedos commented on #9419
Well ... you are not going to like it: :stuck_out_tongue_closed_eyes:
[code]

I don't use, and I don't want to use Netdata Cloud. All metrics are only mine :heart:
I hope you can respect that, and I that I don't have to block hosts for that :sweat_smile:

[2020-06-26 12:18] manos-saratsis commented on #9419
Thx for sharing the browser versions. Did you sign in to Netdata Cloud with any of these browsers?

Btw we keep metadata in Cloud so still the metrics are only yours :)
We respect that you do not want to use Cloud, you can disable Cloud via: https://learn.netdata.cloud/docs/agent/aclk#disable-the-aclk

[2020-06-26 12:25] stdedos commented on #9419
Given that I am avoiding cloud-_almost_-everything, I am inclined to say no.

I think I've done something related, but when I did it (long ago), I `touch`ed something after-the-fact.
I didn't know that the default kickstarting installation (done ~1 year ago, but I don't remember exactly) had cloud activated-by-default - I would've already done something by that time.

[2020-06-26 12:32] thiagoftsm commented on #9225
We will only need to add four `ifdef`s to cover the changes made on kernel `4.15`.
@vlvkobal a doubt, did you need to install only `libelf-devel` and `kernel-headers`?

[2020-06-26 13:24] vlvkobal commented on #9225
Only `libelf-devel`.
No need for `kernel-headers`.
No need for `ifdefs` - it works on 4.4 out of the box.

[2020-06-26 13:38] thiagoftsm commented on #9225
Our version will need to test `linux/version.h`, but I am glad that the original needs only `libelf-devel`.

[2020-06-26 14:08] DeWaRs1206 commented on #9421
I noticed that in `api/v1/alarms?all` there is no alarm configured for disk monitoring.

[2020-06-26 14:13] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

I am testing right now an environment like yours and I will bring detailed information about your problem in few hours.

Best regards!

[2020-06-26 15:39] thiagoftsm commented on #9421
@DeWaRs1206 I have few doubts to confirm I could set the same environment you have:

1 - I arrived in the conclusion that you are using nightly builds instead stable, please, can you confirm this?
2 - How did you install your Netdata on these hosts?

Best regards!

[2020-06-26 16:39] marioem commented on #9411
Still up 40 hours after removing cache.

[2020-06-26 16:53] candrews opened #9430 "[TEST] exporting/.../test_exporting_engine.h: error: unknown type name mongoc_uri_t"
##### Bug report summary
netdata 1.23.0 has a failing test:
[code]

Here's the full build output: https://729724.bugs.gentoo.org/attachment.cgi?id=646548
And here's the downstream bug report: https://bugs.gentoo.org/729724
##### OS / Environment

[code]

##### Netdata version

 1.23.0

##### Component Name

tests
##### Steps To Reproduce

Run tests using `make check`

##### Expected behavior

Test

[2020-06-26 17:01] manos-saratsis commented on #9419
@stdedos thx. It will take some weeks to respond due to other priorities & vacation. Cc @jacekkolasa

[2020-06-26 18:19] thiagoftsm commented on #9430
Hi @candrews ,

I ran a grep on my `mongoc.h` and I observed that I have this declaration inside it:

[code]

In my case, I compiled the `mongo-c-driver-1.16.2`. What is your `libmongoc` version?

Best regards!

[2020-06-26 18:21] candrews commented on #9430
I do not have `libmongoc` installed. In this case, I don't believe the test should be run at all.

[2020-06-26 18:35] thiagoftsm commented on #9430
I am according with you. @vlvkobal looks like we are missing some checks before run our unit tests.

[2020-06-26 19:46] ntlug commented on #9356
Querying a system which was able to do the yumdownloader approch, I get this back trying to determine what repo it got Judy-devel from (note it says repository is the "okay" repository):

[code]

[2020-06-26 22:50] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

## Environment

I executed three tests on my environment trying to replicate the problem you have. Before to start the tests, I did the following steps:

1 - I compiled the latest branch on master ( `netdata v1.23.0-3-g4f5d6fbc` )
2 - I compiled the version 1.22.1 on `slave` using VirtualBox.

## First Test

The first test was done with `master` claimed and `slave` not claimed, i

[2020-06-27 00:04] prologic opened #9431 "Improve Agent Release: Nightly for the stable on release day."
Without refactoring the entire release process (_plan in the works but significant work/effort_); we can:

- Move the nightly build/publish process to GHA (_mostly done already_)
- Trigger this workflow from Travis via `dispatch-events` using `curl` from the existing Travis release flows.
- Add a step to also trigger the same workflow on the day of the release.

This will ensure we have a nightly

[2020-06-27 00:05] prologic commented on #9431
This will of course increase the release time by about an hour as it takes that long to build the nightly artefacts.

[2020-06-27 01:18] drkt7 opened #9432 "Error update to Netdata 1.23 with netdata-updater.sh"
Hi

i have this error when a update netdata version: v1.22.1-332-gd875f4c5 to v1.23.0-4-nightly

[root@nws2032 ~]# /opt/netdata/usr/libexec/netdata/netdata-updater.sh
Entering /tmp/netdata-updater-lhhWrh
Fri Jun 26 20:56:26 EDT 2020 : ERROR:  FAILED TO UPDATE NETDATA : Static binary checksum validation failed. Stopping netdata installation and leaving binary in /tmp/netdata-updater-lhhWrh

[2020-06-27 11:45] DeWaRs1206 commented on #9421
Hi @thiagoftsm

Thanks a lot for your investigations.

I'm using a Chef Cookbook to install netdata, pulling master branch from github and running basically the following:
[code]

My installation folder on a slave contains the following:
[code]
Is there a way from the API or something to check which alarm are actually configured to trigger an alarm ?
When I check `api/v1/alarms?all` on my Master,

[2020-06-27 11:47] DeWaRs1206 commented on #9421
Meanwhile I found:
[code]

[2020-06-27 12:48] marioem commented on #9411
But less that 72 hours after it is back
[code]

[2020-06-27 14:32] amoss commented on #9411
Can we have a copy of your database cache before you delete it? It will be a huge help to us in replicating the crash so that we can fix it. If you are happy to share the data then please chat to @mfundul about sending a copy so that he can analyse how it has been corrupted.

[2020-06-27 14:35] thiagoftsm commented on #9427
Hi @olivluca ,

I discovered that the problem was created by the new `spawn` server that was introduced with the latest version.
I am creating a PR that will fix this bug right now.
We apologize for the bug! And thank you very much to give us the feedback.

Best regards!

[2020-06-27 15:56] mfundul commented on #9411
You can send any files you don't want to share publicly, but don't mind sending to netdata, to my e-mail (markos@netdata.cloud) or to support@netdata.cloud

[2020-06-27 16:35] jonasrejman commented on #9061
Hello. Discovered net data recently - very, very impressive.

I get the cloud to work on centOS in VM no problem.

However, I have the same issue on MacOS with home-brew ... This agent was build .... etc.
I would like to use netdata to monitor about a dozen MacOS workstations.

Is there any update on how to link the agent to the cloud on MacOS?

As an alternative to homebrew, the documentation des

[2020-06-27 21:55] Saruspete commented on #9314
Hello,

This collector is [already available](https://github.com/netdata/netdata/tree/master/collectors/slabinfo.plugin), but indeed was disabled by default as it leads to large quantities of dimensions in some setups.

To enable it, just set it in netdata.conf:
[code]

Cheers

[2020-06-27 22:06] ilyam8 commented on #9314
thx @Saruspete

fixed in https://github.com/netdata/netdata/pull/6800

[2020-06-27 22:06] #9314 closed

[2020-06-27 22:21] bjoe2k4 commented on #9411
Same here on a raspi3b with raspbian buster. I could send the /var/cache/netdata folder (has about 1hr of logs with 10s interval) if @marioem hasn't sent yet.

[2020-06-27 22:23] mfundul commented on #9411
Great. Please send `var/log/netdata/*` and `var/cache/netdata/*` to markos@netdata.cloud

[2020-06-27 22:35] bjoe2k4 commented on #9411
Done.

[2020-06-28 05:17] chenrui333 opened #9435 "netdata 1.23.0 failed on the dbengine test"
relates to Homebrew/homebrew-core#56993

netdata 1.23.0 currently failed on the dbengine test when running unittest, I just disabled the unittest for the upgrade

Couple of questions:
- any way that we can separate out the dbengine test from the other unittest suites?
- any way to solve this `Host machine GUID is not valid` error

Full log is in that PR. Thanks!

[2020-06-28 06:35] mfundul commented on #9435
`Host machine GUID is not valid` in this case is harmless and is not the reason the test fails.

Can anybody else who has a macos platform reproduce this failure by running `/usr/sbin/netdata -W unittest`?

I can't think of a reason why it is specifically failing on macos and not on linux, the logs are not useful.

[2020-06-28 09:05] arturrocha commented on #9390
based on rsyslog doc [1], I added this to /etc/rsyslog.conf to filter the messages before sending to the syslog server.

:msg, contains, "Cannot open file '/etc/netdata/apps_groups.conf'" stop
:msg, contains, " Does not have a configuration file inside `/etc/netdata/ebpf.conf. It will try to load stock file." stop

[1] https://www.rsyslog.com/doc/v8-stable/configuration/filters.html

[2020-06-28 09:20] yasharne commented on #9082
@ilyam8 parent/parent replication needs alert deduplication, if one parent sends an alert, another parent should not send the alert

[2020-06-28 10:12] marioem commented on #9411
Got another SEGV, this time it was quick to get there. @mfundul, I've sent you two tarballs, hope you've got them.

[2020-06-28 10:26] mfundul commented on #9411
@marioem @bjoe2k4 can you test #9436 ?
To compile from source you can do the following:
[code]

To get any additional changes from the PR if it's needed you'd have to run:
[code]
from the same `netdata/` directory.

To replace the existing installation you need to run the installer. Run those from the `netdata/` directory:
[code]

[2020-06-28 11:23] bjoe2k4 commented on #9411
I can confirm it's working again with #9436  (I didn't delete the old netdata folders which produced the crash).

FWIW, i got also quite confused from the error log where timestamps are mixed, go.d uses utc-time whereas everything else uses localtime.

[2020-06-28 11:35] mfundul commented on #9411
The timestamps are a different issue: https://github.com/netdata/netdata/issues/8949

[2020-06-28 11:50] ilyam8 commented on #9411
balme netdata daemon 😄

https://github.com/netdata/netdata/issues/8949#issuecomment-638294959

[2020-06-28 12:59] marioem commented on #9411
Same for me, compiled with #9436 and launched with old cache folders, and it's working for the time being. Will keep you posted after 24h.

[2020-06-28 17:58] yasharne opened #9437 "netdata 1.23.0 on parent is not showing the child's netdata version"
##### Bug report summary

I had a dashboard which indicates how many netdata are using what version of netdata:
![image](https://user-images.githubusercontent.com/7656049/85954567-a4861780-b98d-11ea-8c0d-9542ea247108.png)
I'm using this metric:
[code]
But after updating the netdata on parents to 1.23.0, this metric shows 1.23.0 as the version for all children streaming to this parent as well:
![im

[2020-06-28 18:39] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

You installed like me, probably you have either configuration problem or some libraries on Ubuntu 18.04 is creating problems for you.

The query `https://localhost:19999/api/v1/alarms?all` shows you all alarms that your host is working, and if you want to see the alarms applied to slave, you can change it for `https://localhost:19999/host/SLAVE_NAME/api/v1/alarms?all`. The same q

[2020-06-28 19:26] thiagoftsm commented on #9437
Hi @yasharne ,

Firstly we apologize for the problem. The latest release brought a lot of improvements on the stream, but it also brought this bug. I am already creating a bug fix for it and possibility tomorrow it will be merged on master branch.

Best regards!

[2020-06-28 23:03] thiagoftsm commented on #9208
Hello @gamefundas ,

Today I followed the instructions present in this [link](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/amazon-linux-2-virtual-machine.html) that Amazon give us to run the AWS Linux 2.

After to set up the VM, I installed Netdata, to do this firstly I install the following packages:

[code]

After this I got the Netdata branch from github and I compiled it with the follow

[2020-06-28 23:08] cybersholt commented on #9390
I had something similar happen after a reboot, same error message "netdata INFO  : MAIN : SIGNAL: Not enabling reaper", netdata service would just hang, the only thing that I've changed recently is to claim it with netdata cloud, I tried several other solutions such as reinstalling, reinstalling via different method & in the end I had to uninstall and reinstall then it worked out fine.

   Static

[2020-06-29 02:32] prologic commented on #8905
Waiting on reviews for the final PR #8916

[2020-06-29 02:41] prologic commented on #9420
You should be able to somewhat perform something like:

[code]

Then follow the rest of my instructions. pfSense being mostly FreeBSD(ish) you should be able to get this working. I have a pfSense 2.4 VM here I can test with later, but we have no good way of doing CI on pfSense at the moment so YMMV.

[2020-06-29 03:05] prologic commented on #9435
@mfundul

[code]

[2020-06-29 05:36] prologic commented on #9061
Unfortunately we haven't been able to get back to this yet. The way the Formula is built in Homebrew-core missed two important dependencies for the ACLK to work correctly. Mostly libwebsockets and our custom libmosquitto fork.

@rickard-von-essen / @issyl0 Can either of you help us out here with this Formula? I'd be more than happy to discuss and review any PRs.

[2020-06-29 05:38] prologic commented on #9432
@drkt7 I have a suspicion as to why you _might_ have received this error when trying to update; however are you able to try this again? Let me know if it still persists. Also are you on the stable or nightly channel in your installation?

[2020-06-29 06:00] rickard-von-essen commented on #9061
I can have a look.

Can you elaborate on this? How is this bundled, where are the patch etc.

[2020-06-29 06:01] prologic commented on #9356
I'm okay with this. Would you like to put up a PR to this effect for `./packaging/installer/install-required-packages.sh` This _may_ also help to solve #8602

[2020-06-29 06:09] prologic commented on #9061
The patches for libmosquitto are found in [this fork](https://github.com/netdata/mosquitto). We currently cannot push these upstream at this time. cc @amoss  for details.

lihwebsockets is stock-standard and taken from upstream -- But we "vendor" the source in the installer `netdata-installer.sh` and pin the version/checksum in `./packaging/libwebsockets.*`:

[code]

Hope this help!

[2020-06-29 06:22] prologic commented on #9356
I just had a quick look at this. Even if the Judy and Judy-devel packages work fine from the Okay repo, we also need the PowerTools repo for some build tools which also come (_it seems_) with conflicting versions of the same Judy / Judy-devel packages.

[2020-06-29 06:26] yasharne opened #9439 "netdata 1.23.0 alerts are not redirecting to local registry"
##### Bug report summary

After updating our parents to version `1.23.0`, when I click on the alert, It won't take me to the local netdata registry, it will take me to `app.netdata.cloud` instead.
I only have this problem on alerts, inside the netdata dashboard, I can click on the visited nodes without any problem so the registry is working file.
Here is my `netdata.conf` in parent servers:
[code]

[2020-06-29 06:28] prologic commented on #9356
PowerTools contains:

[code]

Which is missing `Judy-devel`; whilst Okay repo(s) contain:

[code]

Which requires:

[code]

I'm not yet sure how to resolve this conflict :/

[2020-06-29 07:17] ilyam8 commented on #9439
seem duplicate of https://github.com/netdata/netdata/issues/9427

fix is https://github.com/netdata/netdata/issues/9427

[2020-06-29 07:17] #9439 closed

[2020-06-29 08:14] glennie opened #9440 "/opt/netdata is hardcoded in system/install-or-update.sh"
Hello,

##### Bug report summary

I use ``netdata-vX.YY.Z.gz.run`` downloaded from the release section as the part of my automated installed process.

Using this executable, I should be able to change the installation path passing ``--target`` option.

But, when I use the target option installation process fails because the installation path is hard coded in ``system/install-or-update.sh`` script.

[2020-06-29 11:02] dim08 commented on #9373
Hi @kromit,

Thank you very much for your feedback. I followed up with one of our FE developers, it seems this is not a bug, it works like that by design. I will investigate further if we can change this feature.

[2020-06-29 11:21] #9427 closed

[2020-06-29 11:28] ilyam8 commented on #9439
@yasharne the issue should be fixed in master

[2020-06-29 11:33] #9437 closed

[2020-06-29 11:54] DeWaRs1206 commented on #9421
@thiagoftsm Thanks again for your answer.
I don't configure the memory mode on my slave:
[code]
so I assume the default mode is used

One my `master`, here is my config:
[code]

[2020-06-29 12:02] DeWaRs1206 commented on #9421
While checking this, I noticed my config was `memory mode` instead of `default memory mode`
I have update the config:
[code]
But the problem persist.

[2020-06-29 12:15] ilyam8 commented on #8613
We have no all detailes it is in _grooming_ state.

We collect metrics from some application that exposes data in prometheus format. They are:

- [cockroachdb](https://github.com/netdata/go.d.plugin/tree/master/modules/cockroachdb#cockroachdb-monitoring-with-netdata)
- [coredns](https://github.com/netdata/go.d.plugin/tree/master/modules/coredns#coredns-monitoring-with-netdata)
- [docker_engine](ht

[2020-06-29 12:23] kromit commented on #9373
Hi @dim08,

I do understand that this is how the FE is designed, so it is not qualified as a bug, but sometimes the initial design is not optimal.
I believe this is the case here. Saying  is a feature is like saying "It was intended to show wrong values when zoomed out".

I mean if the system runs into 100% CPU spikes every 10 min and if zoomed out it looks like the system is always on 10% CPU all

[2020-06-29 12:33] ilyam8 commented on #8613
We are thinking about configuration file for the collector (chart templates).

These are some points from me:

- format should be YAML
- should be explicit and clear

It is clear that using `PromQL` in configuration file in the config is error-prone so we need to avoid any other uncertainty/complexity to the config, it is clear that having a lot of chart templates == big config, but saving some li

[2020-06-29 12:35] KlavsKlavsen commented on #8613
Just an idea. Should one perhaps support the relabel syntax from prometheus? possibly even simply using its collector code (if it can be used seperately - I'd expect it would be a lib) ? Then its something prometheus users know already ? I scrape from netdata in the end, so I might as well relabel there..

[2020-06-29 12:39] ilyam8 commented on #8613
@KlavsKlavsen we are gonna use promethes query enging. I see there is `label_replace()` function, it think that is what you are saying.

So anything possible to do using `PromQL` is possible (ofc there are some restriction - we can functions that expectes instant vectors, scalars only, because we have not tsdb, we have only last crape metrics database).

[2020-06-29 12:41] KlavsKlavsen commented on #8613
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config was the one I was thinking of.

[2020-06-29 12:42] amoss commented on #8613
I don't think it is that straight-forward. Terse is more useful than verbose. If every detail is listed in the configuration file then it becomes large and unwieldy. This means that the important details are buried among the noise. We need to find a reasonable balance that promotes usability.

We need to see some outlines / sketches of config for different use-cases (as we discussed). I would like

[2020-06-29 12:52] ilyam8 commented on #8613
@KlavsKlavsen netdata metrics in fact have no labels, there is nothing to relabel. However we treat adding labels as one of the most important features we need to add.

[2020-06-29 13:09] Ferroin commented on #9440
Due to how our build process works, we cannot support arbitrary installation prefixes for pre-built copies of Netdata. We have to bake default paths into the binary at build time, and there is no sane way to override these at install time.

If you absolutely require a custom installation prefix, you will need to either use our [official installation script](https://learn.netdata.cloud/docs/agent/p

[2020-06-29 13:09] #9440 closed

[2020-06-29 13:13] Ferroin commented on #9061
Also, see the various `bundle-*.sh` scripts under `packaging/` to see how we handle bundling this stuff in our own packaging code (for DEB and RPM packages). The ones for LWS and mosquitto are run before the rest of the netdata build, while the dashboard one is run afterwards. In theory these could be directly used by the Homebrew code to pull things in correctly.

[2020-06-29 13:31] ilyam8 commented on #8613
Lets take `wmi` collector [charts](https://github.com/netdata/go.d.plugin/tree/master/modules/wmi#charts) as an example (metrics from [windows_exporter](https://github.com/prometheus-community/windows_exporter#windows_exporter)).

## CPU

- `windows_cpu_cstate_seconds_total`
- `windows_cpu_dpcs_total`
- `windows_cpu_interrupts_total`
- `windows_cpu_time_total`

[code]

---

Charts to get

- per co

[2020-06-29 14:08] ilyam8 commented on #8613
# Network

metrics:

- `windows_net_bytes_received_total`
- `windows_net_bytes_sent_total`
- `windows_net_bytes_total`
- `windows_net_packets_outbound_discarded`
- `windows_net_packets_outbound_errors`
- `windows_net_packets_received_discarded`
- `windows_net_packets_received_errors`
- `windows_net_packets_received_total`
- `windows_net_packets_received_unknown`
- `windows_net_packets_total`
- `wi

[2020-06-29 14:10] marcingarski opened #9442 "Problems loading eBPF modules on Proxmox 5.4"
##### Bug report summary

Since 29 may 2020 in dmesg there are output like this
[code]
Looking at error.log I see that Netdata have problem loading libnetdata_ebpf.so.4.15.18-21-pve library as there are only those
[code]
The Netdata was installed using kickstart.sh.
##### OS / Environment

[code]

##### Netdata version

netdata v1.23.0-13-nightly

##### Component Name

ebpf.plugin

##### Steps To

[2020-06-29 14:16] thiagoftsm commented on #9442
Hi @marcingarski ,

When errors like this happens:

[code]

This means that you either does not have `tracefs` mounted or you have `SELinux` enabled., please, can you verify that the following partition is mounted?

[code]

Does Proxmox 5.4 use `SELinux`?

Best regards!

[2020-06-29 14:36] marcingarski commented on #9442
Hi @thiagoftsm

The mount says I have `tracefs` mounted:
[code]
Proxmox 5.4 does not use `SELinux`.

This `Bad file descriptor` could be related to automatic updates, below is the log from later time.
[code]

[2020-06-29 15:05] #9411 closed

[2020-06-29 15:21] auxua opened #9443 "Deactivate Docker monitoring"
##### Question summary

I have several servers (Ubuntu 18.04) that are spanning a docker swarm for several hundred containers. Netdata cannot deal with that many containers as it tries to monitor all of them and permanently occupies one full CPU without being able to serve a netdata page. How can I deactivate the docker monitoring of netdata?

I tried adding ``enable cgroup docker = no`` to the ``

[2020-06-29 15:33] ilyam8 commented on #9443
Hi @auxua

`netdata.conf`

[code]

[2020-06-29 15:36] ilyam8 commented on #9443
perhaps decreasing `update_every` will do

[code]

[2020-06-29 15:42] mfundul commented on #9435
This commit https://github.com/netdata/netdata/commit/3a1625f480b6a48c8fcd6e99f557b7d41bafcb59 has broken the unittests:
[code]

[2020-06-29 15:53] ilyam8 commented on #9443
btw what occupies one full CPU? `netdata` process?

i created 300 containers (busybox), web ui navigation feels quite laggy, but i have no 100% cpu usage

<img width="1151" alt="Screenshot 2020-06-29 at 18 51 22" src="https://user-images.githubusercontent.com/22274335/86027580-8f66c280-ba39-11ea-87e8-d1fdc8ae8b7e.png">

[2020-06-29 16:43] abrbon opened #9444 "FreeNAS 11.3 Jail - Update 1.22.1 -> 1.23.0 failed"
On my Freenas 11.3-U3.2 i have Netdata installed in a jail (used build from git)
It is configured with autoupdate feature.

This has worked for me just fine from 1.21.x till 1.22.1.
But from v1.22.1 -> 1.23.0 it failed with the following error:

[code]

I tried the "--disable-dependency-tracking" option but it is not recognized as an option.

[2020-06-29 17:08] thiagoftsm commented on #9435
Hi @chenrui333 ,

Thank you for your report, I created a PR that will fix this bug.

Best regards!

[2020-06-29 17:21] mfundul commented on #9435
@thiagoftsm that bug that you're fixing doesn't exist in the stable release code (1.23.0) so I don't think it will fix this issue.

[2020-06-29 17:29] thiagoftsm commented on #9435
I updated the comment on the PR. Unfortunately I do not have any Mac to debug this issue.

[2020-06-29 17:33] #9435 closed

[2020-06-29 17:40] mfundul commented on #9407
@stelfrag I figured out what's at fault here. We have no support for the `HOST` keyword in the plugins.D language. We don't have support in either `collectors/plugins.d/pluginsd_parser.c` for the actual syntax nor in `database/engine/metadata_log/metalogpluginsd.c` for the log replay action itself. Let's keep that in mind when we do the multi-host DB implementation.

[2020-06-29 18:21] #9114 closed

[2020-06-29 18:24] Ferroin commented on #9114
A fix for the virtualization reporting that prompted this issue has been merged. We're planning on releasing 1.23.1 including this and a few other fixes within the next few days, but it should e in the nightlies starting tonight.

[2020-06-29 19:01] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

It is strange you do not have alarms on your `slave`, so probably you can also have limitations on master side. I will show a configuration that I have tested now to try to be nearest the possible the problems you are doing. I executed the following changes:

## On Slave

I set my `stream.conf` as:

[code]

Please, pay attention in the following configurations:
1 - I only set the

[2020-06-29 20:46] thiagoftsm commented on #9442
Hi @marcingarski ,

I had to do a download of Proxmax 5.4 to understand what was happening, and I discovered that the specified shared library  cannot be loaded, because we are missing a specific version of `glibc` that we compiled the ebpf against it:

![err](https://user-images.githubusercontent.com/49162938/86054180-36068f80-ba49-11ea-9722-b9af9a23a9b8.png)

We have a plan to fix this on Netdat

[2020-06-29 21:28] iamareebjamal commented on #5158
Same issue

[2020-06-30 05:23] Srinivasa381224 opened #9446 "Shell script to push kube status to an api"
Hi am srinivasa I need to write a script to push kubernetes status to an api there i need to grep only some columns after that i need to convert that output into json next i need to push that json output into my api please help me for this to write a script am a begginer to the scripting

my kubectl get pods output is```NAME                                             READY   STATUS    RESTARTS

[2020-06-30 06:34] pureexe commented on #9100
Problem solve on June 30. Thank you so much.
![Imgur](https://i.imgur.com/nt38NqF.png)

[2020-06-30 06:34] #9100 closed

[2020-06-30 06:55] auxua commented on #9443
Thank you @ilyam8 for the replies.

I tried that, but still netdata takes one full CPU core and is not able to serve the monitoring page. As the servers are only serving as docker swarm, I have no clue, what else is triggering the problems - also they started as the container amount was increasing. Is there a way to detect, what netdata is having trouble with? Logs, etc?

![image](https://user-ima

[2020-06-30 07:25] ilyam8 commented on #9443
What is your netdata version?

show output of the following command

[2020-06-30 07:26] ilyam8 commented on #9446
Hi @Srinivasa381224

If i understand it correct it is not netdata related question, right?

[2020-06-30 07:35] auxua commented on #9443
The netdata version is v1.23.0-24-nightly

The output of the command is

![image](https://user-images.githubusercontent.com/1534703/86097455-f9707d80-bab4-11ea-84bf-693285dbe2b4.png)

[2020-06-30 08:02] ilyam8 commented on #9443
sure? no other plugins?

[code]

[2020-06-30 08:03] auxua commented on #9443
Yes, nothing else to see in there

[2020-06-30 08:26] manos-saratsis commented on #9100
@pureexe thx for letting us know!

[2020-06-30 08:33] marcingarski commented on #9442
Thank you @thiagoftsm for explanation. I will wait until Netdata `1.24.0` release. Best regards!

[2020-06-30 08:58] DeWaRs1206 commented on #9421
Ok, well what I did is:
- Stop netdata on master
- Delete all DB history in `/var/lib/netdata` and `/var/cache/netdata`
- Restart netdata master

Here are the logs before the cleaning:
[code]

All alarm are available again. Didn't change any config what so ever... Very weird.

@thiagoftsm thanks a LOT for your help on this, you send a lot of time for this support.

[2020-06-30 10:12] amoss commented on #8613
Starting to fill out some of the details, the `%s` needs to be specified - i.e. what value is used to fill it. Here is an idea for the cpu core chart based on your example above. There are some issues with it, e.g. what to do if the value of the `core` label contains characters that are reserved for a field such as the `id` below.

[code]

Also I'm not sure about the placement of the `for-each` -

[2020-06-30 10:46] DeWaRs1206 commented on #9421
2 hours later, I restart my master => all alarms are gone again !!!

[2020-06-30 10:52] DeWaRs1206 commented on #9421
On Master
[code]

[2020-06-30 11:33] ilyam8 opened #9447 "python.d.plugin: implement file locking jobs registry"
##### Feature idea summary

Related https://github.com/netdata/product/issues/1143

Part of #9387

WIll be implemented using https://github.com/benediktschmitt/py-filelock.

Jobs registry is going to be mandatory so im gonna vendor that library - it is only [one file](https://github.com/benediktschmitt/py-filelock/blob/master/filelock.py).

Implementation is not blocked by https://github.com/netda

[2020-06-30 11:46] ilyam8 commented on #9443
Well, if cgroups plugin is the cause the problem should be fixed after

could you

And lets check netdata logs.

[code]

and share `error.log` content

[2020-06-30 12:38] amoss commented on #8613
The c_state charts look much more difficult - I think there is a bug in your description :) In the cpu utilization example you had idle as a hidden dimension so that the normalization onto a percentage would work properly. In the c_state chart there is no count of the number of second not in one of the three c_states, so it is the percentage of the sleep time in each c_state, not the percentage of

[2020-06-30 12:49] gamefundas commented on #250
@ilyam8 any update on this as it has been very difficult to move around the timeline in general especially triaging issues that happens around an event. We were forced to use Chronograf dashboard for some of our analysis.

I think to begin with a simple date/time range picker (global host level) along with some predefined mins, hourly windows should do the trick.

[2020-06-30 12:54] ilyam8 commented on #250
@gamefundas i completely agree, it is very hard or even impossible to browse data/charts if you are interested not in real-time (current) data.

@jacekkolasa @dim08

[2020-06-30 12:55] amoss commented on #8613
The summary chart for the cpu is an interesting case, I'm not sure about the PQL syntax but something like this?

[code]

It would be nice to wrap up those separate dimensions into a single expression that we template from...

[2020-06-30 13:00] ilyam8 commented on #8613
summary is just `sum by (mode) windows_cpu_time_total`

[2020-06-30 13:00] amoss commented on #8613
How does the result of the query map onto chart dimensions?

[2020-06-30 13:04] ilyam8 commented on #8613
result is always [`Instant vector`](https://prometheus.io/docs/prometheus/latest/querying/basics/#expression-language-data-types) (or scalar, but lets dont take into account it for now)

so it would be

[code]

each mode is a dimension - summary chart.

[2020-06-30 13:09] amoss commented on #8613
In the earlier example the outside `chart` should really be `template` and the `source` would make more sense as `source expr`, so? ...

[code]

[2020-06-30 13:12] amoss commented on #8613
This would be templating the dimensions in a single chart:
[code]

[2020-06-30 13:22] ilyam8 opened #9448 "sync python.d mysql collector with go.d mysql"
### Feature idea summary

- [python.d mysql](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/mysql/mysql.chart.py)
- [go.d mysql](https://github.com/netdata/go.d.plugin/blob/master/modules/mysql/mysql.go)

We need to add to the `go.d` version:
- [x] https://github.com/netdata/netdata/pull/6962
- [x] https://github.com/netdata/netdata/pull/6597
- [x] https://github.com/net

[2020-06-30 13:47] ilyam8 opened #9449 "migrate pyhton.d elasticsearch to go.d"
##### Feature idea summary

SSIA

[python.d elasticsearch](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/elasticsearch)

service-discovery feature available only in `go.d` plugin, we want to have es discovered and monitored in k8s.

pyhton version is outdated, it means it is more work then just to _convert_ python code to the golang code.

Detailes will be added later.

[2020-06-30 14:14] dim08 commented on #9373
Hi @kromit,

You are right, this is confusing. I am currently working with our engineers to figure out how to change it.

Cheers

[2020-06-30 14:21] #9287 closed

[2020-06-30 14:34] ilyam8 commented on #9041
@ekexcello 👋

if it is possible it would be very helpful to see those queries result.

[2020-06-30 15:29] thiagoftsm commented on #9041
@ilyam8 this is the result on MariaDB 10.5.4:

[code]

[2020-06-30 15:33] ilyam8 commented on #9041
I think no, `opened_tables` is counter (we use it for rate), `open_tables` is gauge.

[2020-06-30 15:36] ilyam8 commented on #9442
How about to add file/dir name to the error msg?

[2020-06-30 15:40] ilyam8 commented on #9442
oh, i am wrong, there is no file/dir, it is pipe eof error!

[2020-06-30 15:43] ilyam8 commented on #9442
@thiagoftsm friend of mine sent me result of `grep ebpf error.log`

<img width="1253" alt="Screenshot 2020-06-30 at 18 41 10" src="https://user-images.githubusercontent.com/22274335/86146789-53973000-bb01-11ea-83f2-c21edeed0f2f.png">

There is no msg that says why `ebpf.plugin` fails to collect data.

[2020-06-30 15:44] thiagoftsm commented on #9421
@stelfrag and @mfundul somehow the last changes on database could create this problem? Do you think this strange behavior can have relationship with lock system?

[2020-06-30 16:33] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

I observed reading the compilation logs that dbengine was compiled and your logs are also saying that your Netdata is running with it.
I also observed that you had different events with the following  message:

[code]

This happens, because the `alarm-notify.sh` could not send messages using one of the specified methods:

[code]

I observed in the example you gave us that you set

[2020-06-30 16:34] thiagoftsm commented on #9442
@ilyam8, what is the Linux distribution your friend is using? Does he have the `tracefs` mounted on his system?

[2020-06-30 16:49] ilyam8 commented on #9442
i dont know, i think if there are some requirements it would be nice to log meaningful message if they are not met - if it is possible. That is my main point, i dont try to debug his problem.

[2020-06-30 17:16] yasharne commented on #8751
Hi @thiagoftsm
I still have this problem on v1.23.0

[2020-06-30 17:19] DeWaRs1206 commented on #9421
@thiagoftsm Alarms should be send by the Master so on the HOST itself, SEND_SLACK is set to NO.

I have disable couple of alarms (tcp_listen.conf, udp_error.conf) by setting `to: silent`

Something I have mentioned earlier is that not all alarm are disable on the Master.

I have attached the result of api/v1/alarms from the master and the node
http://MASTER:19999/api/v1/alarms?all
[master_alarm_te

[2020-06-30 18:09] thiagoftsm commented on #9442
I will also work with @joelhans to bring also documentation for the possible `errno ` that we can receive from ebpf collector (2, 9 and 13 ).

[2020-07-01 00:55] fasihb opened #9451 "i see gaps in netdata charts and after sometime can't connect to netdata on 19999 just says waiting"
##### Question summary
i have installed netdata on few servers but on one server it's acting weird. I see the errors in my email notification
host is critical - 10min dbengine global flushing errors - netdata.dbengine_long_term_page_stats

I looked at other issues over here and followed them and raised "page cache size" and "dbengine disk space" but didn't help.

server is busy moderately. it has

[2020-07-01 03:13] drkt7 commented on #9432
yes the versions are correct. But I deleted and reinstalled the latest version to fix the problem

Thanks

[2020-07-01 07:22] svrnwnsch commented on #8980
I updated all my servers to version 1.23.0 and this is still not working.

[2020-07-01 08:15] dim08 commented on #250
Hi there,

I agree, this feature is on the way cc:@manos-saratsis.

[2020-07-01 08:32] mbarper commented on #6839
This behaviour has happened again and I have the statvfs outputs:
![image](https://user-images.githubusercontent.com/3797030/86221723-913d9c80-bb85-11ea-8be4-39733d106d03.png)

statvfs (Time difference is because server has UTC and my pc has CET):

[code]

[2020-07-01 08:33] mbarper commented on #9410
This behaviour has happened again and I have the statvfs outputs:
![image](https://user-images.githubusercontent.com/3797030/86221723-913d9c80-bb85-11ea-8be4-39733d106d03.png)

statvfs (Time difference is because server has UTC and my pc has CET):

[code]

[2020-07-01 08:35] ekexcello commented on #8576
Sorry for delayed reply. We filed to reproduce this on any system other then Gentoo with installation from portage. Both Netdata installed with official script on Gentoo, on Debian 10, on Centos 7 and old Netdata 1.12 installed with apt on Debian 10 worked correctly with signals. However, the installation this issue was initially reported for still has problems with installed Netdata 1.22.1 and di

[2020-07-01 08:51] ekexcello commented on #9041
Hello.

Sorry for the delay. As for minimal version - unfortunately, have no information about it. The oldest server we have is 10.3.22, these parameters already present. In fact, they should be present in mysql 5.x, these settings are very basic and common subject for tuning.
Output on one of our servers looks like:
[code]

and on another server...

[code]

From this example it's clear that a) `o

[2020-07-01 09:03] ilyam8 commented on #9041
This data present in `SHOW GLOBAL STATUS` (we do this query), we dont need `show global status like ...` queries. We need just to use it.

[2020-07-01 09:22] stelfrag opened #9452 "Calculate dbegine storage size for the localhost multidb"
#### Summary
Add a new `dbengine multihost disk space` parameter under the `[global]` section in `netdata.conf`

If defined it will be the maximum size the dbegine files of the locahost multidb will occupy.

The first time an agent starts it will try to define a maximum size for the dbengine files to use as a default. The agent will try to detect legacy dbengine folders and calculates the aggregat

[2020-07-01 09:22] stelfrag opened #9453 "Support the HOST command in the metadata log replay"
#### Summary

- Add support for the HOST command to the metadata log parser.
- Add the HOST GUID to the global GUID map
  - Compaction should work properly
- Add new archived flag for the HOST
  - Start a host in archived mode and reset when collection starts
  - Metadata log replay creates a host in archived mode
    - Charts are created in archived mode during metadata log replay
    - A collect

[2020-07-01 09:25] auxua commented on #9443
So for your first command:

[code]

For the logs, please find the file attached.
Looks like it is loading hundreds of cache files - is this normal for netdata or a hint for loaded caches?

[error.log](https://github.com/netdata/netdata/files/4856897/error.log)

[2020-07-01 09:35] ilyam8 commented on #9443
@mfundul  please take a look

[2020-07-01 09:43] stelfrag opened #9454 "Assign new children to localhost multidb"
#### Summary
By activating the localhost multidb functionality children that connect to the parent to begin streaming and are configured to use dbengine will fall into two categories by checking the existence of datafiles (under the `machine_guid/dbengine` folder)

- Currently in memory - already stored in the localhost multi db.
- Datafiles already exist
  - The child will connect in legacy mode

[2020-07-01 10:42] mfundul commented on #9451
@stelfrag consider setting https://github.com/netdata/netdata/blob/62ce25168560104393651c3754b102cd99945977/database/engine/rrdengineapi.c#L10 to 0 as a workaround for all those related issues until we fix the problem with flushing errors.

[2020-07-01 10:48] ilyam8 commented on #8613
# CPU

My main idea - you need to read configuration like English text and it should be understandable.

I think we can add defaults for some parameters (like title, charttype, dimalgorithm, etc...).

## Per Core Charts

**Used metrics**:
 - `windows_cpu_cstate_seconds_total`
 - `windows_cpu_cstate_seconds_total`

<details>
<summary>Metrics</summary>

[code]

</details>

**Configuration**:

[code]

[2020-07-01 11:18] ilyam8 commented on #8613
# Network

## Received/Sent bytes && NIC Bandwidth

Metrics:
- `windows_net_bytes_received_total`
- `windows_net_bytes_sent_total`
- `windows_net_current_bandwidth`

<details>
<summary>Metrics</summary>

[code]

</details>

**Configuration**:

[code]

All other network charts have ~same configuration, i am not gonna add them.