[2020-07-25 22:04] mahlonsmith opened #9607 "Exporting module: differing behavior vs 'backend'"
I'm unsure if this is related to #9512, but throwing it here as a more generic problem report.

##### Bug report summary

The exporting module has different connection behavior than the now deprecated backend environment.

The 'backend' connects to the destination when it has data queued to send, and upon a successful connection, immediately sends it.  In contrast, the exporting module connects to

[2020-07-25 22:47] mahlonsmith commented on #9607
I neglected to mention the core of this, which was if you exit 'nc' manually after receiving a batch of samples from the exporting module (manually closing the connection), then start it back up, the sample that would have come in during the pause isn't pushed to the next update, is lost.   Essentially makes an 'update every = 5' into an 'update every = 10', if you continue to drop connection betw

[2020-07-26 08:26] CLUB777ONE opened #9608 "Is there a package for Schumann resonance?"
Is there a package for Schumann resonance?

[2020-07-26 08:41] omaralitou commented on #9600
thanks

[2020-07-26 08:56] omaralitou opened #9609 "name measurements changes"
hi,
I configured netdata backends with influxdb and I enabled the Cgroups plugin to collect metrics from my containers and it works fine and netdata creates measurements with a prefix_name of container_name metric.

but the problem that I have when I restart my containers the id and the name of the container change and netdata creates new measurements with new name and it is not normal because I h

[2020-07-26 09:00] bokutin commented on #9604
I did a little more research.

I think it's faster to have a look at the test script.

[code]

It seems that any value can be used as the function name.

According to JOB_ASSIGN of http://gearman.org/protocol/ , it seems to be a constraint only for "NULL byte terminated function name".

I tried the following two as if they were dependent on the server implementation, but the behavior was the same.

[2020-07-26 09:36] #9600 closed

[2020-07-27 01:44] bokutin commented on #9604
It seems impossible to write a complete parser for the "status" output by gearman spec.

The function name can take any value except \0.
(Even line breaks and binaries)

I tried netdata to figure out the state of gearman.
But now I wrote what I want to record in rrd.
I also needed a history like this: https://github.com/netdata/netdata/issues/3235
However, munin's 5 minute resolution is unacceptab

[2020-07-27 06:41] ilyam8 commented on #9604
@bokutin i understand the problem, i think it is ok to **ignore all those edge cases** (`Even line breaks and binaries`).

But we need to handle prefixes:

[code]

right?

[2020-07-27 07:00] bokutin commented on #9604
It depends on how far you want the edge case to be, but in my case prefix_separator defaults to tab, so yes.
https://metacpan.org/pod/Gearman::Objects#prefix_separator([$separator]) default tab

[code]

[2020-07-27 07:23] prologic commented on #8343
if someone can get my a Synology VM ready to go I can make this happen.

[2020-07-27 07:32] vlvkobal commented on #9603
Check if you have access to `/proc/diskstats`. Are there any errors for diskstats module in `error.log`?

[2020-07-27 08:18] ilyam8 commented on #9604
I think we need to handle thix case: prefix and any space as a separators.

[2020-07-27 08:29] Elbje commented on #9530
@mfundul good news, the PR has fixed the bug. Netdata has been running stable for 4 days now. In the past, the bug was usually triggered in the first 24h after start up.

[2020-07-27 08:46] pmjcreations commented on #9603
Hi @vlvkobal,

`/proc/diskstats` says `-bash: /proc/diskstats: Permission denied`

This file has 444 (read-only) permission.

Would that the reason? If yes, what is the permission level that I need to make?

[2020-07-27 09:03] TheOldMan2000 opened #9611 "Web_Log not recognising Apache LogIOTrackTTFB Directive"
##### Bug report summary
Netdata Web_log doesn't seem to recognise the Apache custom log format string %^FB which can be enabled for tracking of time to first byte (TTFB).

LogIOTrackTTFB Directive

Delay in microseconds between when the request arrived and the first byte of the response headers are written. Only available if LogIOTrackTTFB is set to ON.
Available in Apache 2.4.13 and later.

http

[2020-07-27 09:21] ilyam8 commented on #9611
@TheOldMan2000 hey

show some lines with `%^FB`

[2020-07-27 09:44] #9530 closed

[2020-07-27 09:53] vanguardcloud commented on #8343
@prologic I just finished the Synology VM. Here is the URL for download: [https://www.transfernow.net/6tKeh5072020](url)

`user = admin | pass = Password100!`

Let me know if you need any assistance from here.

[2020-07-27 10:42] vlvkobal commented on #9603
@Ferroin do you have any ideas why `/proc/diskstats` can't be read?

[2020-07-27 10:48] mfundul commented on #9603
@vlvkobal I think @pmjcreations just ran the command `/proc/diskstats` and since the file is not an executable the output you get is `Permission denied`. The command you were looking for was probably `ls -l /proc/diskstats`.

[2020-07-27 10:55] vlvkobal commented on #9603
Thank you @mfundul! My bad, I didn't read the message carefully. @pmjcreations please do `grep diskstats /var/log/netdata/error.log`. Do you see any errors?

[2020-07-27 11:27] Ferroin commented on #8242
Not actually stale, just moving slowly, should hopefully have better progress soon.

[2020-07-27 11:32] Ferroin commented on #9606
Reopening this because it is, IMO, a bug (we're the ones who ship the systemd unit files, so it's a bug in the unit file but not Netdata itself).

[2020-07-27 11:35] pmjcreations commented on #9603
Hi @vlvkobal,

netdata ERROR : PLUGIN[proc] : PROCFILE: Cannot open file '/proc/diskstats' (errno 1, Operation not permitted)

[2020-07-27 11:39] Abjorge95 opened #9612 "Netdata export alarms [Resolved]"
Greetings,

I have been looking on Wiki and on Github for a way to export the alarms that are generated by Netdata, this could be for example by http url json or something like that when ever a new alarms is generated or an old one is cleared, this because i built a custom alarm monitoring platform for a project and would like to include all the hardware / OS alarms from Netdata.

Is this possible

[2020-07-27 12:19] prologic commented on #8343
Thank you! Downloaded. I'll have a play with this when I get other things off my plate!

[2020-07-27 12:20] #9334 closed

[2020-07-27 12:22] Ferroin commented on #9605
You appear to not have the EPEL repo enabled, which is required for installation to work correctly. The installation process _should_ try to install this itself, so you most likely said no to the prompt asking about installing it.

[2020-07-27 12:24] prologic commented on #9123
Not stale.

[2020-07-27 12:24] thiagoftsm commented on #9612
Hi @Abjorge95 ,

You can do the following request to Netdata:

`curl http://YOUR_IP:19999/api/v1/alarms?active`

To get the current active alarms, you can also request

`curl http://YOUR_IP:19999/api/v1/alarms?all`

to see all alarms.
Finally you can get the alarm log list using:

[code]

All requests will return to you a JSON output.

Best regards!

[2020-07-27 12:24] prologic commented on #9403
Not stale. Waiting on @amoss to get back from vacation...

[2020-07-27 12:24] as1988 commented on #9605
It’s definitely installed, or at least I’ve ran the command for it to be installed and I’ve not said no to it being installed either. I presumably haven’t been asked as it too recognised that it is installed. Any ideas on how to resolve?

[2020-07-27 12:29] #9604 closed

[2020-07-27 12:32] prologic commented on #9606
@Ferroin Do you have a PR for this already? It seems to be in Review?

[2020-07-27 12:40] prologic commented on #9605
There are open issues with Judy and Judy-devel currently. I'm working on bundling the Judy development libraries into our source tree. @Ferroin Perhaps you can assist me with this?

[2020-07-27 12:54] vanguardcloud commented on #8343
No problem @prologic ! Really enjoying the great work you guys are doing with netdata, so please feel free to reach me out if you need any assistance with Synology. Unfortunately I can't afford a real device, but if for any reason it is necessary, we can definitely use mine for tests :+1:

[2020-07-27 13:11] #8785 closed

[2020-07-27 13:11] #9006 closed

[2020-07-27 13:11] #9041 closed

[2020-07-27 13:11] #9448 closed

[2020-07-27 13:15] #9606 closed

[2020-07-27 13:15] Ferroin commented on #9606
@Hubro This should be fixed in tonight's nightly (by whitelisting `/run/netdata` in the systemd sandboxing).

[2020-07-27 14:17] TheOldMan2000 commented on #9611
Sure...

[code]

From File: /opt/netdata/etc/netdata/go.d/web_log.conf

[code]

[2020-07-27 14:57] vlvkobal commented on #9603
A hint kindly provided by @ilyam8
https://blog.cloudlinux.com/kernel-and-kernel-module-for-cloudlinux-8-and-cloudlinux-7-hybrid-updated

@pmjcreations could you check if this helps?

[2020-07-27 17:00] pmjcreations commented on #9603
@vlvkobal, my instance is created after CloudLinux fixed that issue.

And I checked both dependencies.

Here are the versions:

My Kernal version is `4.18.0-147.8.1.el8.lve.x86_64` and kmod-lve version is `kmod-lve-2.0-16.el8.x86_64`.

[2020-07-27 18:06] rdifrancesco commented on #9605
@prologic Could you elaborate on what those issues are with Judy?  Could any of them be related to agents unable to connect to Netdata Cloud?

[2020-07-27 18:46] outerepic opened #9614 "Docker Container Restarts"
Unable to find an exact match to what I am experiencing and don't know how to test latest release on my platform

##### Bug report summary

Netdata docker container on Synology NAS continuously restarts.

##### OS / Environment

[code]

I'm on a Synology DS218+ NAS with latest DSM running Netdata in docker (app is up to date)

##### Netdata version

netdata -V
-ash: netdata: command not found

###

[2020-07-27 20:17] jcormier opened #9615 "Ubuntu 18.04: "This agent was built without the dependencies for Cloud and cannot be claimed" even on updated machines"
##### Bug report summary
Servers which were installed using kickstart script and have auto update on, are not being built for cloud

Trying to run kickstart script again reports no update needed.

[code]

##### OS / Environment

[code]

##### Netdata version

 # netdata -V
netdata v1.23.2-67-nightly

##### Component Name
cloud

##### Expected behavior
Short of uninstalling and then reinstalling th

[2020-07-27 20:19] as1988 commented on #9605
Hi
I have managed to resolve this issue.
You first need to:
yum remove epel-release

and then
yum install epel-release

and then finally
yum install Judy-devel

and it actually locates the package and installs it!

[2020-07-27 20:30] jcormier commented on #9615
Ran the install-required-packages script to see what packages I might be missing that are new since netdata was first installed.

[code]

If I install these is there a way to force the updater to rebuild?

[2020-07-27 23:12] zack-shoylev opened #9616 "Netdata Community now available"
Hi all,

We've launched a [message board](https://community.netdata.cloud) for Netdata. You will be able to find many of us there. Registration is via email, Github, or Google, and we'll likely integrate it with Cloud at some point.

We are using the open-source [NodeBB](https://nodebb.org) project with a [Netdata theme](https://github.com/netdata/nodebb-theme-persona-netdata); pull requests welco

[2020-07-27 23:16] zack-shoylev commented on #7133
Hi all,

We are evaluating running the Contributors of the Month program over at the new [Netdata Community](https://community.netdata.cloud) website. See https://github.com/netdata/netdata/issues/9616

Let us know what you think and feel free to register over there as well.

[2020-07-28 00:20] #8770 closed

[2020-07-28 02:28] rdifrancesco commented on #9206
@DSpeichert did you ever get the Libwebsockets ssl error resolved?  I'm still experiencing this issue on RHEL6, RHEL7 and Amazon Linux 2.

[2020-07-28 02:57] rdifrancesco commented on #9169
@underhood Any ETA for a resolution on the issue with using the kickstart-static64.sh install method?

[2020-07-28 06:46] prologic commented on #9605
That's kind of odd that removing a repository and re-adding it fixes this. But I'm glad it worked for you.

@rdifrancesco To answer your question we've run into a situation in general where Judy is harder to get on some systems, and on CentOS 8 for example there is a dependency conflict that I cannot seem to resolve easily.

So I'm trying to bundle the library into our source tree to avoid these p

[2020-07-28 06:48] prologic commented on #8343
Thanks!  I'm still leaving this issue as "Help Wanted"; as that's actually true and I'm not sure when I'll be able to get to this. But I'll try :)

[2020-07-28 07:00] vlvkobal commented on #9603
@Ferroin @prologic any thoughts on the matter?

[2020-07-28 07:24] prologic commented on #9614
@outerepic Just going through your description of your problem now and trying to understand what's going on (_I have no Synolgy NAS to test with, I have a VM image but I haven't had time yet to play with that_)...

I _think_ you should attempt to fix this incorrect bind-mount first.

I'll keep reading and have a look at the other things you have attached/mentioned.

[2020-07-28 07:51] underhood commented on #9169
@rdifrancesco this should be closed already, I did testing on Amazon Linux in Virtual Box. In case you have a problem can you open a new issue and provide some more details/logs?
Maybe something broke in new versions...
Thanks

[2020-07-28 07:52] prologic commented on #9614
@mfundul Do you mind having a look at the logs attached which seem to be agent logs. Its not super clear ot me why it's bailing out here...

[2020-07-28 07:54] prologic commented on #9603
Just about to read this... Give me an hour or so.

[2020-07-28 08:20] prologic commented on #9603
So basically if I'mr eading this right:

[code]

This is the underlying problem?

This is `EPERM` (_different to `EACCESS`_) and I have a suspicion this _might_ have something to do with an LSM (_Linux Security Module_) such as ArpAmor or SELinux. 🤔

[2020-07-28 08:37] prologic commented on #9603
Some Q(s):

- Are you `root` when you try to run `ls -l /proc/diskstats`?
- What are the attributes on the `/proc` path? Run: `lsattr /proc`
- What are the mount options on the `/proc` mountpoiunt? Run: `mounts | grep proc`

Can you share the output of these? Thanks!

[2020-07-28 08:40] mfundul commented on #9614
The netdata cache folder has been corrupted. The workaround here is to delete `/var/cache/netdata/dbengine/*`. This is a duplicate of https://github.com/netdata/netdata/issues/9521

[2020-07-28 08:40] #9614 closed

[2020-07-28 08:50] pmjcreations commented on #9603
Hi @prologic,

- Yes, I was the root

- I see many lines like this:
`lsattr: Inappropriate ioctl for device While reading flags on /proc/fb`

And a few like:
`lsattr: Operation not supported While reading flags on /proc/mounts`

Do you want me to add every line here?

- mounts | grep proc says:
`-bash: mounts: command not found`

[2020-07-28 08:53] pmjcreations commented on #9603
mount | grep proc says:

[code]

[2020-07-28 09:12] yasharne commented on #9342
Sorry @thiagoftsm, I didn't notify on your answer.
1. yes I'm using the latest version
2. the connection is stable and there no gaps
I also encountered the same issue again, we had set an X509 certificate alert threshold on 30 days, later we changed it to 90 days, and today after running `killall -USR2 netdata` netdata fired an alert about this certificate indicating it will expire in 77 days! and

[2020-07-28 10:08] seagel opened #9617 "Netdata, slack notification only work for test scripts"
Hello,

I am using netdata installed on macos (High Sierra).
I have configured slack in the config file (health_alarm_notify.conf).

While testing is manually as in through test scripts it seems to work but not the other way.

Here is my config file :
`
SEND_SLACK="YES"
SLACK_WEBHOOK_URL="https://hooks.slack.com/services/****/***"
DEFAULT_RECIPIENT_SLACK="channel_name"
`
I am using stress-ng to pu

[2020-07-28 10:49] ilyam8 commented on #9617
Hi, did you check `error.log`?

Do you have [`delay`](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-delay) option in your alarms?

[2020-07-28 10:51] ilyam8 commented on #9342
Perhaps [`repeat`](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-repeat) option is workaround here?

[2020-07-28 11:07] Ferroin commented on #9615
Actually, if you install those now, the next auto-update should automatically build cloud support (it doesn't try to pull in new dependencies, but builds based off of what's actually on the system. The only two out of that list that should actually be needed are `cmake` and `libjson-c-dev`, plus their dependencies.

[2020-07-28 11:18] seagel commented on #9617
`template: 10min_cpu_usage
      on: system.cpu
      os: *
   hosts: *
  lookup: average -1m unaligned of user,system,softirq,irq,guest
   units: %
   every: 1m
    warn: $this > (($status >= $WARNING)  ? (15) : (25))
    crit: $this > (($status == $CRITICAL) ? (15) : (25))
    delay: down 1m up 1m
    info: average cpu utilization for the last 10 minutes (excluding iowait, nice and steal)

[2020-07-28 11:19] underhood commented on #9206
@Ferroin did anything change recently in the installer that could affect this?

[2020-07-28 11:20] Ferroin commented on #9206
Not that I know of.

[2020-07-28 11:26] yasharne commented on #9342
@ilyam8 The `repeat` option was turned on but we still didn't get the notification

[2020-07-28 11:28] underhood commented on #9608
Do you mean a collector? Not that I know of. Writing a collector is however relatively easy (if you have the data source) due to the text-based nature of the protocol.

List of supported collectors: https://learn.netdata.cloud/docs/agent/collectors/collectors
The description on how to write custom collector: https://learn.netdata.cloud/docs/agent/collectors/plugins.d#external-plugins-api

[2020-07-28 11:52] ktjd123 opened #9618 "duplicated uuid seems to be recognized as same server (cloud)"
##### Feature idea summary

Saved AWS EC2 instance as ami and started another instance with it.

Then netdata cloud seems to recognize as same instance . even I changed netdata name.

##### Expected behavior

recognize as different instance.

[2020-07-28 12:00] prologic commented on #9603
@pmjcreations  Thanks!

One last thing; Do you have SELinux enabled on this box?

[2020-07-28 12:04] #9454 closed

[2020-07-28 12:11] prologic commented on #9614
For our benefit, can you describe the pattern of log lines that you clearly know how to recognise :)

[2020-07-28 12:15] mfundul commented on #9614
Sure:
[code]

[2020-07-28 12:20] Steve8291 commented on #9616
Don't know if anyone else is experiencing this but I can't register for the message board. Both Firefox and Safari fail when trying to answer the captcha. Firefox never shows the challenge pics and Safari accepts the answer, green check in box, and then gives the same message as Firefox after clicking "Register Now"

[2020-07-28 12:32] CLUB777ONE commented on #9608
@underhood Thank you for the info. Will try to find accessible data source and then try to create a custom collector.

[2020-07-28 12:34] Saruspete opened #9620 "[netdata.spec] rpm package has bad default permissions 4750 to all files in /usr/libexec/netdata"
##### Bug report summary

In PR #6369 the line  `%defattr(4750,root,netdata,0750)` around [457](https://github.com/netdata/netdata/blame/master/netdata.spec.in#L457) introduced by  2c3b4cd set the setuid bit by default for all files in `/usr/libexec/netdata`.

This is not critical per se, as :
- scripts doesn't honor the setuid bit
- external binaries in `plugind.d` are external because they need

[2020-07-28 12:36] pmjcreations commented on #9603
Nope, @prologic

`SELinux status:                 disabled`

[2020-07-28 12:39] underhood commented on #9608
@CLUB777ONE no problem. Good to hear you will try to use Netdata. If you have some questions or need help writing the collector let us know. I am sure I or some other colleague from Netdata will be glad to help you.

[2020-07-28 12:51] underhood commented on #9618
You can claim the second node with different ID as following:
`sudo netdata-claim.sh -token=TOKEN -rooms=ROOM1,ROOM2 -url=https://app.netdata.cloud -id=$(uuidgen)`

Even better you can generate new UUID for the node by deleting `/var/lib/netdata/registry/netdata.public.unique.id` - Agent will generate new ID on next start up. Then claim the node.

[2020-07-28 13:24] ktjd123 commented on #9618
@underhood thank you for solution

[2020-07-28 13:24] #9618 closed

[2020-07-28 13:30] jcormier commented on #9615
Yeah that worked.  Just wish I didn't have to wait a full day to run the netdata-claim script, guess its time to use the at command...

[2020-07-28 13:30] #9615 closed

[2020-07-28 14:05] eresonance commented on #6527
For people searching for resolutions to these UDP Rx errors, I found a very similar issue with home assistant related to [zeroconf](https://github.com/home-assistant/core/issues/35031). Still no resolution there unfortunately :(

[2020-07-28 16:10] rdifrancesco opened #9622 "Best practice for editing netdata.conf"
##### Question summary
I'm wondering what the best practice is for maintaining the netdata.conf file.  There are about a dozen or so values within that file which we change from the default values.  We could either 1) keep the default netdata.conf file intact and only modify those dozen lines throughout the entire file or 2) blank out the netdata.conf file and then only include those dozen lines m

[2020-07-28 18:25] zack-shoylev commented on #9616
I am not aware of others with the same issue, but I will look into it!

[2020-07-28 18:50] zack-shoylev commented on #9616
@Steve8291 I did a few tests and I ran into some issues with reCaptcha... sometimes. I switched the captcha to hCaptcha and that seems to work better.. Let me know if that helps.

[2020-07-28 19:32] Steve8291 commented on #9616
Worked great. Thanks.

[2020-07-28 21:12] bbbenjie commented on #9579
Looks like /tmp is mounted with noexec option? This would explain starting ```check-reallocarray.sh``` within /tmp/netdata-whatever fails with ```Permission denied```.
Same situation and problem on one of my servers starting with the nightly update on 23/07/2020.

[code]

[2020-07-28 22:35] ilyam8 commented on #7897
yeah, https://github.com/netdata/go.d.plugin/pull/401 is kinda ready, it is super initial version with some hardcoded stuff and zero user configurable options. We are trying to figure out how this plugin should work. Will be in the master soon.

[2020-07-28 22:48] ilyam8 commented on #9622
hi @rdifrancesco, i am not sure about best practice but both of those options looks ok, choose whatever is easier/looks better for you.

@yasharne perhaps you could suggest something? i know you have a lot of netdatas

[2020-07-28 23:18] ccbarker commented on #4585
@swinkq I would like to contact you about a access control intercom project I am working on

[2020-07-29 01:51] jrod9k1 commented on #9579
@bbbenjie spot on, thank you for this. I ran into this issue on a CentOS 7 cPanel server that mounts /tmp with noexec. Temporarily remounting without noexec did the trick, kickstart script ran without a hitch
`mount /tmp -o remount,rw`

[2020-07-29 03:22] rdifrancesco opened #9624 "Netdata Cloud node unreachable in war room"
##### Bug report summary

When attempting to connect my nodes to Netdata Cloud, each node shows as unreachable in the war room and each node reports the following error:

[code]

The error log also reports:
[code]

I have been installing using the static binary:
[code]

This issue does not occur if I manually build Netdata or use the non-64bit kickstart script.

I've also read some recent similar

[2020-07-29 05:58] amoss commented on #9206
@rdifrancesco If you are seeing libwebsockets errors on the most recent build then please open a new issue with a bug report and we can take a look at what is happening.

[2020-07-29 09:13] yasharne commented on #8751
@ilyam8 reloading go plugin didn't fix the problem

[2020-07-29 09:22] ilyam8 commented on #8751
Well, i was thinking reload fixes it because `go.d.plugin` sends all active charts with `obsolete` flag on reload

Example with 3 example jobs running:

[code]

i think netdata should disable alarms for inactive charts.

[2020-07-29 10:15] yasharne commented on #8751
@ilyam8 I'm using netdata `1.23.2` with go version of `0.19.2` on the child and netdata `1.23.0` on the parent

[2020-07-29 11:10] ilyam8 commented on #8751
- i created 3 exmample jobs

[code]

- created 3 alarms

[code]

- restarted netdata

I see 3 alarms

- removed one job

[code]

- reloaded go plugin

- checked alarms, there is only 2, the one for the disabled job was turned off

[2020-07-29 11:11] ilyam8 commented on #8751
I used latest master, i didnt test child/master setup tho 🤔

[2020-07-29 11:13] Ferroin commented on #9622
I can't comment on scale, but based on personal experience, I've found it's more reliable to take the second approach (nuke the default `/etc/netdata/netdata.conf` file (which should actually be empty anyway in most cases) and then only put in the stuff that's different from the defaults). This is the approach I take on my own systems using Ansible.

[2020-07-29 11:21] yasharne commented on #9622
We use Ansible to manage our netdatas. our `netdata.conf` file is a template file which we choose the plugins/modules we want to disable based on the inventory groups

[2020-07-29 11:29] ilyam8 commented on #8751
Well, i tested child/parent setup. I did same steps as in https://github.com/netdata/netdata/issues/8751#issuecomment-665601439

On my parent node (`http://192.168.88.250:19998/host/ilyam-pc/`) i see no `example_local_3` charts and `example3_last_collected_secs` alarm.

@yasharne

this could be the problem

[2020-07-29 11:38] ilyam8 commented on #8751
@yasharne

Did you check child netdata dashboard? Is removed job in there or not?

[2020-07-29 12:02] yasharne commented on #8751
in the child, `memory mode` and `web` were set to none, I enabled the web and the removed charts weren't there but I guess this was expected as well, I think the problem is in the parent. because deleting the DB engine files on the parent and health data will solve the problem

[2020-07-29 12:03] #9456 closed

[2020-07-29 12:08] mfundul commented on #8751
`v1.23.2` should have some fixes related to health and memory mode `dbengine`.

[2020-07-29 12:16] yasharne opened #9625 "multiple prometheus reading metrics from the netdata cause problem"
##### Bug report summary

We have two Prometheis servers with exact same  configurations, one of the jobs on these servers is to read metrics from our parent netdata servers. the problem is, apparently some time one of the prometheis cannot read the metrics from some parents correctly, e.g. we have this output on one of our prometheus servers:

![image](https://user-images.githubusercontent.com/76

[2020-07-29 12:26] Ferroin opened #9626 "Installer and updater should sanely handle `/tmp` being mounted with `noexec`."
Currently we require a usable `/tmp` that is not mounted with `noexec` for our install, which causes otherwise sanely configured system to not work correctly.

Based on discussion between myself and @prologic, the plan is to update our installation and update tooling to fall back to `$PWD` if `/tmp` is mounted with `noexec` so that such systems work properly (or at least so that fewer of them fail

[2020-07-29 12:27] Ferroin commented on #9579
I've opened another issue for the `/tmp` `noexec` thing: #9626

[2020-07-29 12:33] mfundul commented on #9625
Since `v1.23.0` has some well known bugs can you upgrade to `v.1.23.2` to be sure if this is a new issue?

[2020-07-29 14:00] splastunov opened #9627 "Segfault with numerous records at stream.conf"
##### Bug report summary
I have about 3339 strings at stream.conf and netdata crash after few seconds after start.
I tried to reduce number of strings at stream.conf to 100-200 and netdata start and run fine.

At /var/log/netdata/error.log I found
[code]

##### OS / Environment
I have latest netdata installed from git with ```netdata-installer.sh```
[code]
Running on Debian 10(buster)
[code]

[2020-07-29 14:11] mfundul commented on #9627
What exactly do you mean when you say 3339 strings? Have you had this problem with an older version of netdata? You can try installing the stable release v1.23.2 by following the [instructions](https://learn.netdata.cloud/docs/agent/packaging/installer).

[2020-07-29 14:50] splastunov commented on #9627
I tried to install 1.21.1 and got the same error
[code]

3339 stings are calculated with wc -l
[code]

I think ```netdata v1.23.2-83-ga4ebf1d4``` is latest stable. I Installed it with ```./netdata-installer.sh --stable-channel --disable-telemetry --disable-cloud```

[2020-07-29 14:54] mfundul commented on #9627
Ok, thank you, that's interesting. Did you try using an [API key](https://learn.netdata.cloud/docs/agent/streaming#streaming-configuration)? If that could work it would drastically reduce the number of lines required in `netdata.conf`. Other than that we should try to reproduce this problem ourselves.

[2020-07-29 15:06] splastunov commented on #9627
I have uniq API key + option ```allow from = IP``` for each VDS.
I'm trying to protect netdata from fake data.

[2020-07-29 15:11] outerepic commented on #9614
Thank you for identifying the problem! Being on a Synology Docker install however I have been unable to find this file location. When I SSH into my Synology, login as root, and navigate to the /var/cache/ folder there is no netdata folder when doing _ls_, _ls .._, or _cd netdata_

I was thinking that because it's through Docker the location would be different. I am not an expert on doing complex c

[2020-07-29 15:19] mfundul commented on #9614
If the agent is inside a docker container, then yes you are correct, this path would have to be inside the container's namespace. I'm not sure exactly where it could be located, maybe you can find out by running something like `find / | grep "var/cache/netdata/dbengine".

Corruption could be due to segfaults in the agent, power failure, maybe killing the agent process. In any case it is a netdata

[2020-07-29 15:24] splastunov commented on #9627
I found another reason.
Yesterday I had problem that netdata can not receive stream data more than from 4 machines.
I have changed params at netdata.conf
[code]

[2020-07-29 15:26] mfundul commented on #9627
Do you have the same problem when running `v1.21.1`? Does `LimitNOFILE=65536` cause it to crash?

[2020-07-29 15:35] outerepic commented on #9614
Do you have any suggestions on how to go about fixing this bind mount error? When the container was initially working I ran the docker run command with that line removed and it didn't seem to cause any issues. If I remember correctly it was also working after throwing that error and just ignoring it. I don't know if this would be connected to when it crashed over the weekend.

[2020-07-29 15:39] mfundul commented on #9614
Since we have logs from the agent that point to the other issue, it's safe to say that the bind mount failure is not responsible for the netdata agent restarting, but the cache folder corruption. I believe if you resolve this (maybe delete the container?), the bind mount error will not stop netdata from running.

[2020-07-29 15:41] splastunov commented on #9627
Yes, the same behavior for 1.21.1

[2020-07-29 15:46] mfundul commented on #9627
How many child nodes are trying to connect to the parent netdata agent? I've done this with 1000 child nodes without an issue. Another thing you may want to try is changing `memory mode` or `default memory mode ` in `stream.conf` to something like `ram`, as an experiment. This would help us remove this variable from the equation.

[2020-07-29 15:57] splastunov commented on #9627
Now there are not more than 10 child nodes, but after 4 are connected at ```error.log``` there are a lot off errors
```Exceeded the budget of available file descriptors (300/256), cannot create new dbengine instance. (errno 17, File exists)```

[2020-07-29 16:02] mfundul commented on #9627
This means 2 things, firstly that the `65536` limit did not apply for some reason, and secondly the `memory mode` change did not work. Can you share your `stream.conf` file after stripping out any sensitive information?

[2020-07-29 17:57] outerepic commented on #9614
@mfundul I tried deleting the container along with deleting/reinstalling the image from the Synology Docker app with no luck.

I tried the _find / | grep "var/cache/netdata/dbengine"_ command you recommended from root folder with no results. When I ran _find / -type d -name dbengine_  I got this result: /volume1/@docker/volumes/netdatacache/_data/dbengine

I then ran: rm /volume1/@docker/volumes/n

[2020-07-29 19:53] splastunov commented on #9627
When I tried to change ```default memory mode``` in ```stream.conf``` netdata crashed with same error
[code]
[API_key1]
enabled = yes
allow from = xxx.xxx.xxx.xxx
default history = 3600
default memory mode = ram
health enabled by default = no
default postpone alarms on connect seconds = 60

[API_key2]
enabled = yes
allow from = xxx.xxx.xxx.xxx
default history = 3600
default memory mode = ram
healt

[2020-07-30 00:14] ibigbug opened #9629 "Temperature Sensor Wrong Number"
##### Bug report summary
The temperature sensor is showing wrong number
![image](https://user-images.githubusercontent.com/543405/88865903-b6343680-d23b-11ea-97f0-367632d6dcbb.png)

##### OS / Environment

[code]

##### Netdata version

root@pve:~# netdata -V
netdata v1.23.2-79-nightly

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

The temperature shouldn'

[2020-07-30 03:53] prologic commented on #9579
I'm going to close this issue as this can be fixed with a PR for #9626 Thanks @Ferroin

[2020-07-30 03:53] #9579 closed

[2020-07-30 05:52] prologic commented on #9614
Thanks @mfundul !

The _dead_ give away is:

I think :) Thanks!

[2020-07-30 05:55] prologic commented on #8905
What are we ding about this issue? Its been open for some time now... I've sort of lost the plot a bit here.

[2020-07-30 05:56] prologic commented on #9603
@pmjcreations I'm sort of stumped in that case :/ Are you willing to grant me remote access to the box in question if I hand you my public ssh key?

[2020-07-30 06:09] prologic commented on #9620
Thanks @Saruspete !

[2020-07-30 06:15] prologic commented on #9626
Thanks @Ferroin

[2020-07-30 06:49] prologic commented on #9608
@CLUB777ONE If you have any other questions or need help feel free to open a new issue. If you write the collector feel free to contribute it back so others in the community can benefit! Thanks!

[2020-07-30 06:49] #9608 closed

[2020-07-30 07:25] ilyam8 commented on #9629
hi @ibigbug

duplicate of https://github.com/netdata/netdata/issues/9110

[2020-07-30 07:25] #9629 closed

[2020-07-30 08:11] amoss commented on #8905
@joelhans Please can you confirm that this is documented and then close the issue?

[2020-07-30 08:52] #9470 closed

[2020-07-30 08:58] SWSAmor commented on #8961
What is happening? Stucked? Can I help you somehow? I'm eagerly want to use Netdata Cloud with my Gentoo servers.

[2020-07-30 11:38] #9620 closed

[2020-07-30 12:26] jpylypiw commented on #92
I've been thinking about deploying Netdata enterprise-wide for some time now, but my current state was also that Windows is not supported.
I was already so motivated to program a collector for Windows data when I stumbled upon this link: https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/wmi/
Apparently Windows is already supported by Netdata and some metrics are displayed.
I wi

[2020-07-30 12:44] den1s2 opened #9631 "Secure OpenTSDB backend does not work with InfluxDb"
##### Bug report summary
When turning on SSL for the opentsdb backend in the latest v23 netdata, a few measurements are created in the corresponding InfluxDB database, but only a few measurement points are written to it. No error messages on either netdata, or influxdb side.

This issue is already reported on GitHub: OpenTSDB and TLS #9068.
A test was performed, but the number of measurements, and

[2020-07-30 13:24] churnd opened #9632 "How do I use named slaves for mariadb?"
##### Question summary
Related to this PR:  https://github.com/netdata/go.d.plugin/pull/404

I see support was added to use `SHOW ALL SLAVES STATUS` for mariadb & the PR was merged to master.  I have the latest version installed on my MariaDB multi-master slave with 4 different named slaves.  I don't see anything showing up out of the box in regard to replication.  Do I need to do some extra confi

[2020-07-30 13:31] ilyam8 commented on #9632
@churnd i need to release new version of `go.d.plugin` (i plan to do it today) and add it to the netdata (see https://github.com/netdata/netdata/pull/9340)

[2020-07-30 13:33] ilyam8 commented on #9632
However you can test it right now:

- build the plugin from source (you need `go` v1.13+)
- replace the one that in the `plugins.d` with it

[2020-07-30 13:36] #9632 closed

[2020-07-30 15:39] jcormier opened #9634 "ubuntu 18.04.1 segfault after reinstalling netdata: usercopy: Kernel memory overwrite attempt detected to process stack (offset 0, size 4)!"
##### Bug report summary
3 of our Ubuntu 18.04.1 build servers have started crashing after I reinstalled netdata this week.

Machine 1 rebooted overnight and came up without networking last night.

Machine 2 seemed to have tried a netdata update and failed, its /usr/sbin/netdata was 0bytes.  When I tried to run kickstart, after building it crashed the machine and the system rebooted. After the reb

[2020-07-30 15:48] jcormier commented on #9634
I've not been able to find any kernel bugs in Machine 2's logs.

The kern.log shows no messages right before the crash
[code]

Same with the syslog.  Note the netdata service failure had been printing every minute due to the empty /usr/sbin/netdata file.
[code]

[2020-07-30 15:52] jcormier commented on #9634
Machine 1: Netdata version
[code]

[2020-07-30 15:54] jcormier commented on #9634
and netdata is currently failing to start with the only visible error being
[code]
[code]

[2020-07-30 15:58] ilyam8 commented on #9634
https://github.com/netdata/netdata/pull/9619

[2020-07-30 16:02] dwdixon commented on #9412
Hi @dim08 @thiagoftsm has this change been captured in another issue and being worked toward?  I noticed it's been flagged as inactive/stale and just wanted to make sure the full changes are planned to be worked out and eventually merged?

[2020-07-30 16:13] zack-shoylev opened #9635 "value too great for base"
##### Bug report summary
I am attempting to add a speedtest chart to my OSX netdata installation, but when i run “charts.d.plugin debug 60 speedtest” I get the error “./loopsleepms.sh.inc: line 21: 1596096886 * 1000 + 10#N: value too great for base (error token is “10#N”)”

also see https://community.netdata.cloud/topic/40/macos-errors-when-trying-to-add-a-chart

##### OS / Environment
OSX 10.15.6

[2020-07-30 16:17] thiagoftsm commented on #9634
Hi @jcormier ,

I observed different errors on your report.
I will try to recreate them and I will bring a return later.

best regards!

[2020-07-30 16:20] ilyam8 commented on #9635
i can reproduce the issue if i use macOS `date`, there is no issue if i use gnu `date`

 - gnu `date`

[code]

- macos `date`

[code]

[2020-07-30 16:21] ilyam8 commented on #9635
i have installed `coreutils` + they are preferable over macos build-ins

[code]

[2020-07-30 16:26] ilyam8 commented on #9635
ok, it seems we need to use

- `date +'%s * 1000 + 10#%-N / 1000000'` with gnu date
- `date +'%s * 1000 + 1%-N / 1000000'` with not gnu date

[2020-07-30 16:45] vlvkobal commented on #9634
Have you tried to update the kernel?

[2020-07-30 16:50] thiagoftsm commented on #9634
I was looking for more information about the `NXDOMAIN` error, because I could not recreate it on Slackware, and I observed that different people are reporting the same problems with other tools, and there is a consensus that this problem has a relationship with [systemd links](https://forums.linuxmint.com/viewtopic.php?t=286655) . On this [link](https://www.linode.com/community/questions/17384/wh

[2020-07-30 17:08] thiagoftsm commented on #9631
Hi @den1s2 ,

On the PR  #9068 I used the OpenTSDB with [exporter](https://learn.netdata.cloud/docs/agent/export) instead the `backend` that will become obsolete in a near future, please, can you try to use the exporter file?

best regards!

[2020-07-30 17:23] jcormier commented on #9634
Just checked for updates.  Machine 1 had no updates available.  Machine 2 had a bunch of updates but none of them were kernel-related.

[2020-07-30 17:23] #8734 closed

[2020-07-30 17:31] Ferroin commented on #92
I can comment from personal experience that the WMI collector works pretty well.

However, the main goal that this issue exists to track is native support for running Netdata _on_ Windows without needing to use a VM or WSL.

[2020-07-30 17:47] jcormier commented on #9634
Correction, coworker had already run apt dist-upgrade before I did.  So there were new updates available but no new kernel

[code]

[2020-07-30 18:49] jcormier commented on #9634
Machine 3 came up in a boot loop due to kernel panics. Booted it in single user, disabled netdata, and it was ok.

Updated, then switched from netplan to ifupdown to fix networking issue.  It's possible the netplan issue is unrelated, these machines haven't been rebooted for a while so a netplan update could have broken this...

Syslog shows similar kernel panics as machine 1
[code]

Machine 3: [s

[2020-07-30 19:25] jcormier commented on #9634
Collecting some info on all the ubuntu machines I updated to see if there is a pattern.

Only the three machines running the 4.18.0-13-generic hwe kernel have shown these issues.
Of the three machines, userv2 is the only one running netdata without crashes.  And it also happens to be running netdata v1.23.2 stable, instead of nightly.

Noticed an unrelated issue.  netdata on "vault" was running at

[2020-07-30 19:26] jcormier commented on #9634
What changed between netdata v1.23.2 and netdata v1.23.2-84-nightly

[2020-07-30 19:34] ilyam8 commented on #9634
@jcormier

i think you mean it but lets make it super clear

if you have `netdata` disabled there is no kernel panics and there are if `netdata` enabled?

If so lets try to disable `ebpf` plugin

it is under `[plugins]` section in the `netdata.conf`

[code]

[2020-07-30 19:43] jcormier commented on #9634
Machine 3:

Okay ebpf disabled and netdata started.  So far no kernel errors and confirmed there were no EBPF print outs in kern.log

Will give it 10 minutes then re-enable ebpf and to see if it crashes.

[2020-07-30 20:43] jcormier commented on #9634
Okay just re-enabled ebpf and restarted netdata.  I immediately lost my ssh connection.  Hopefully, the machine reboots or I'll have to wait until tomorrow to check on it

[2020-07-30 21:08] ilyam8 commented on #9634
🤞

[2020-07-30 21:47] jcormier commented on #9634
Had to force power-down the machine.  netdata service is still disabled so it didn't put us back into the boot loop.

Captured a quick video of the kernel panics
https://drive.google.com/file/d/1U9m0VeLK_qhDbrgfxafTLtvJ3dwjz3oa/view?usp=sharing

[2020-07-30 23:24] thiagoftsm commented on #9634
Hi @jcormier ,

We do not change any connection when ebpf is running, we only read arguments given to the functions and few variables on `struct sock`.
I will install this specific Linux version to verify what is happening, I think this will be the best way to recreate the problems you are having.

Best regards!

[2020-07-30 23:25] thiagoftsm commented on #9634
I think we merged the next steps necessary to bring the Network Viewer that is not finalized.

[2020-07-31 07:04] pmjcreations commented on #9603
I get that working now, @prologic.

I had to add `netdata` to `clsupergid` group.

Then a Netdata restart solved my issue.

![KotAGlAOva](https://user-images.githubusercontent.com/7301824/89009443-2f11bc00-d32a-11ea-8d8d-06049a0a36d5.png)

[2020-07-31 07:31] #9603 closed

[2020-07-31 08:27] underhood commented on #9634
@thiagoftsm yes we do not change connections but if we cause kernel panic/corruption the indirect consequence can be also loss of network communication

[2020-07-31 08:40] splastunov commented on #9627
Any new ideas?

[2020-07-31 08:46] mfundul commented on #9521
@raduburla do you still have this problem after updating to the latest master?

[2020-07-31 09:03] #9541 closed

[2020-07-31 09:11] mfundul commented on #9627
We'll try to reproduce this and fix it. As a workaround, you could use multiple parent nodes for your child nodes, limited to under 300 children per parent. There are already performance scaling issues with 300 child nodes, e.g. when having a lot of alarm notifications.

[2020-07-31 09:12] #8727 closed

[2020-07-31 09:21] adocampo commented on #9124
Yes, I did a test with a wrong email account and I'm unable to remove the node from that account, I did moved the content of "/var/lib/netdata/cloud.d/" minus cloud.conf and tried to claim on the correct email account, but it didn't worked either and now I see as "UNREACHABLE" the node on the orioginal claimed netdata account, and I cannot do anything with this... :|
The error when trying to add t

[2020-07-31 09:35] mfundul commented on #9634
It shouldn't be possible for ebpf to crash any kernel, that's the whole point of ebpf in general. This points to a buggy kernel build to me.

[2020-07-31 09:45] underhood commented on #9634
@mfundul yes you are right. eBPF VM should not allow it to do anything that can cause corruption That is if there is no bug in the kernel...

[2020-07-31 11:05] raduburla commented on #9521
Hi, the problem is still there.

I managed to isolate the issue, when i start one of the agents, the master crashes, so it seems the agent is sending something that the master does not like.

Both instances, master and agent use the same version: netdata v1.23.2-91-nightly

The agent  info are:

System info
`
Debian GNU/Linux 8 - Linux debian 3.16.0-6-amd64 #1 SMP Debian 3.16.57-2 (2018-07-14) x86

[2020-07-31 11:17] Aman1994 opened #9638 "Added my custom plugin but charts not appearing"
Hello, i added my own custom plugin in `charts.d.plugin` as `license.chart.sh` and when i run in debug made as `netdata` user it runs fine too -

[code]
But, i am not able to view the chart in UI.

[2020-07-31 11:22] vlvkobal commented on #6481
I can't find any changes in the cgroups plugin's code that might lead to reverting the expected behavior. Probably, lxd directory structure was changed again.

@Kramerican could you send your error.log to vlad@netdata.cloud?

[2020-07-31 11:32] ilyam8 commented on #9638
Hi

check `error.log`

[2020-07-31 11:56] Aman1994 commented on #9638
I did that, but was not able to find anything. Maybe,I got it solved. I had to restart my netdata. Now, i am seeing the charts.
But, encountered another issue -
The value it collects it an integer `SET license_total = 6`, but while displaying it shows as float `6.0000000` ?

[2020-07-31 13:19] camjesus2 opened #9640 "Samba monitoring stopped working after update"
Hi all!
Running netdata (v1.23.2-91-nightly) on Debian Buster (Linux EHFS 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux)

After a recent (around July 20th) netdata update, SAMBA monitoring stopped working.
When I start netdata, the log shows
[code]

However, running `su -s /bin/bash netdata` as netdata returns `/usr/local/samba/bin/smbstatus -P
`
Running `sudo -n sm

[2020-07-31 13:33] jcormier commented on #9634
Based on my collection of data between all my machines, I'd agree that this is some mix of the kernel and eBPF problem.  Since this is only tripping up with the combination of netdata v1.23.2-84-nightly and the specific 4.18.0-13-generic kernel.

The machines that have the 4.15 kernel and the nightly netdata aren't having issues.  And the machines that have the 4.18 kernel and the last stable netd

[2020-07-31 13:46] Ferroin commented on #9634
@jcormier Do you have any third-party repos set up or possibly have holds on the kernel packages? I'm trying to reproduce this locally but can't see any 4.18 series kernels in the official Ubuntu 18.04 repos.

[2020-07-31 13:57] jcormier commented on #9634
I updated Machine 3 to the hwe kernel and with netdata v1.23.2-91-nightly no crash so far.

Idk if there were relevant changes in last night's nightly though.

Linux userv3 5.4.0-42-generic #46~18.04.1-Ubuntu SMP Fri Jul 10 07:21:24 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-07-31 14:01] jcormier commented on #9634
Sounds reasonable to me.  I'm switching my machines to the netdata stable branch.

[2020-07-31 14:03] jcormier commented on #9634
Is there a way to switch to the stable branch using kickstart without having to run netdata-uninstall and lose my /etc/netdata settings?

[2020-07-31 14:04] Ferroin commented on #9634
Unfortunately no. The only solution right now is to manually copy `/etc/netdata` before the uninstall and then copy it back after the new install.

[2020-07-31 14:05] Ferroin commented on #9634
Also, FWIW, we've got a new stable release planned for some time next week, but it will have the fix to refuse loading the eBPF plugin on the problematic kernel version.

[2020-07-31 14:35] ilyam8 commented on #9640
Hi @camjesus2

Show the output the following commond

[2020-07-31 14:42] jcormier commented on #9634
Dirty workaround but I was able to delete /usr/sbin/netdata and the kickstart script proceeded to install the stable version.

[2020-07-31 15:03] camjesus2 commented on #9640
hi @ilyam8,
I've made a mistake on my post.
Running  `sudo -n -l smbstatus -P` as netdata returns `/usr/local/samba/bin/smbstatus -P`

[2020-07-31 15:11] ilyam8 commented on #9640
https://github.com/netdata/netdata/blob/cfd74bbb406fc118d58016f659fcab4a96de1da7/collectors/python.d.plugin/samba/samba.chart.py#L124-L129

we execute `sudo -n -l /usr/local/samba/bin/smbstatus -P` and expect to see `/usr/local/samba/bin/smbstatus -P`

---

Add

[code]

right after line 126 (`allowed = self._get_raw_data(command=command)`)

and check it in the debug mode (again, as `netdata` user)

[2020-07-31 16:06] camjesus2 commented on #9640
Here goes.  It seems there is one extra slah in WANT. Could that be it?

17:02-EHFS:/usr/libexec/netdata/python.d# su -s /bin/bash netdata
netdata@EHFS:/usr/libexec/netdata/python.d$ ../plugins.d/python.d.plugin debug samba
2020-07-31 17:03:36: python.d INFO: plugin[main] : using python v2
2020-07-31 17:03:36: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib

[2020-07-31 16:21] ilyam8 commented on #9640
Yes. I wonder where does it come from 🤔

https://github.com/netdata/netdata/blob/cfd74bbb406fc118d58016f659fcab4a96de1da7/collectors/python.d.plugin/samba/samba.chart.py#L111

---

could you try in `python` interpreter

[code]

---

if it returns `/usr/local/samba/bin//smbstatus` then the fix is

[code]

[2020-07-31 16:21] ilyam8 commented on #9640
Oh, some of your PATHes ends with `/`

[2020-07-31 16:25] ilyam8 commented on #9640
@camjesus2 can you test the fix #9641 ?

[2020-07-31 16:44] camjesus2 commented on #9640
@ilyam8

Indeed they do. Damn copy/paste

After modifying collection.py as per #9641, running  `python.d.plugin debug samba` does not give any errors and seems to work as expected.

[2020-07-31 18:20] #9446 closed

[2020-07-31 19:54] silentwolf15 opened #9642 "Netdata causing PiHole access.log to grow very large"
**Version:** netdata v1.23.2-91-nightly

**Issue:** Netdata is accessing the api so often that the /var/log/lighttpd/access.log log file grows almost out of control

-rw-r--r-- 1 www-data www-data     4378 Jul 25 09:14 error.log.1
-rw-r--r-- 1 www-data www-data      747 Jul 30 10:15 error.log
-rw-r--r-- 1 www-data www-data **71470202** Jul 31 13:47 access.log

This is less then one days worth of l

[2020-07-31 20:04] ilyam8 commented on #9642
Hi, i see it is 71MB. Is it a problem? What is log rotate period? Daily?

It is 5 requests per `update_every`, this parameter is configurable.

https://github.com/netdata/go.d.plugin/blob/53903fae83db4cbe2f5c962e85db70ae86f557bd/modules/pihole/collect.go#L97-L104

[2020-07-31 20:09] ilyam8 commented on #9642
Is pi-hole related? I see it is lighttpd log

[2020-07-31 20:13] silentwolf15 commented on #9642
It's an issue when I am using Log2Ram for /var/log directory :) Raspberry Pi only has so much RAM available :)

[2020-07-31 20:16] ilyam8 commented on #9642
It is possible to not log some requests, that is how to do it for Apache

I guess lighttpd has something similar

---

well, as i said `update_every` is user configurable, change to `5` or whatever you think is ok

[2020-07-31 20:19] silentwolf15 commented on #9642
Thank you!

[2020-07-31 20:19] #9642 closed

[2020-08-01 04:59] myfri09 commented on #5158
Also same issue on Proxmox Node.

[2020-08-01 05:53] v12mike commented on #8242
I hope that it is appropriate to ask here, but how should one disable ebpf?

I compiled and installed netdata v1.23.2-91-nightly, installed on Centos 7.8.2003 with kernel  3.10.0-1127.18.2.el7.x86_64.  After installing, and each time the machine is booted, the CPU usage of the ebpf.plugin process gradually grows so that after 12 hours it is using 100% of one core.  I would like to just switch off

[2020-08-01 08:21] #9008 closed

[2020-08-01 08:21] #9325 closed

[2020-08-01 08:22] #9144 closed

[2020-08-01 08:22] #9404 closed

[2020-08-01 09:34] ilyam8 commented on #8242
@thiagoftsm @vlvkobal ^^

@v12mike it is in the `netdata.conf` under `[plugins]` section.

[2020-08-01 14:39] thiagoftsm commented on #8242
Hi @v12mike ,

As @ilyam8 said, you can disable it with the following configuration inside your `netdata.conf`:

[code]

[2020-08-01 14:48] ilyam8 commented on #8242
@thiagoftsm i mentioned both of you because of

couldbe something we want to investigate 🤷‍♂️ 😄

[2020-08-02 06:43] Mic92 commented on #9567
Fixed by https://github.com/netdata/netdata/pull/9569 ?

[2020-08-02 07:01] v12mike commented on #8242
Thanks. That solves the immediate issue.

I don't think that the issue should be hard to reproduce, but I found it on a live server, so don't want to play around with it any more than I need to.

[2020-08-02 10:06] Dany21000 commented on #7590
Hi,

I'm using one VM with netdata "as central instance" with victoriametrics backend to collect few others netdata configured as streamers.
I'm thinking to replace the VM with a docker stack.

I have this problem, no backend compiled.

Can you provide new image with docker file prepared  with all backends ? like on debian package ?
I'm trying to create my own image from buster and APT package, bu

[2020-08-02 10:57] expsl commented on #92
New Relic just announced that it will be open sourcing its agents, this includes specific application agents as well as the windows infrastructure agent.

For more details see:
https://opensource.newrelic.com/

Repo:
https://github.com/newrelic/infrastructure-agent

Open Telemetry Standard:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/README.md

[2020-08-02 12:28] webdock-io commented on #6481
@vlvkobal error log sent your way by email :)

[2020-08-02 12:31] MykhailoSobol commented on #7590
Hi,
The backends system is now deprecated in favor of the exporting engine.
https://learn.netdata.cloud/docs/agent/exporting
but I have not check exporting engine

[2020-08-02 19:55] #9468 closed

[2020-08-02 19:55] #9469 closed

[2020-08-02 21:24] Dany21000 commented on #7590
Thanks a lot, I haven't read the release notes since 1.15 or 1.17. Netdata is really good and I have no problem with it... I'm trying to use it in a professional context. At this time it's just for personal use.

[2020-08-02 23:45] Dany21000 commented on #7590
I'm still thinking about a compilation problem :
I work on both netdata,  the first on debian by APT,  the second on docker.

I ve removed the backend section from netdata.conf and create a exporting.conf with the content shown from the edit-config script.

Everything work fine on the full debain VM but no on the docker version :
[code]

I'm stupid or not ?

[2020-08-03 02:40] KrisShannon opened #9643 "Packagecloud Centos 7 1.23.2-1 rpm does not install"
#### Bug report summary
The [netdata-1.23.2-1.el7.x86_64.rpm](https://packagecloud.io/netdata/netdata/packages/el/7/netdata-1.23.2-1.el7.x86_64.rpm) on Packagecloud requires `libc.so.6(GLIBC_2.26)(64bit)` which is not available on CentOS 7

##### OS / Environment
[code]

##### Netdata version
Currently running netdata v1.23.1
Yum update to v1.23.2 fails

[2020-08-03 04:30] #9638 closed

[2020-08-03 06:17] #8284 closed

[2020-08-03 06:22] prologic commented on #8961
@SWSAmor We've put this on Ice for the time being... If you want to have a crack at it by all means. There is nothing stopping you from building Netdata from source on Gentoo with our existing tools. What you _may_ not be able to do and expect to work is to build against Gentoo managed libraries for libmosquitto -- libwebsockets should be fine (_as long as its built correctly on Gentoo_).

[2020-08-03 06:27] prologic commented on #7590
We (Agent SRE) haven't triaged this. Added to our Followup column to do so. Sorry about that!

[2020-08-03 06:29] prologic commented on #9567
Possibly. Can you confirm?

[2020-08-03 06:37] #9570 closed

[2020-08-03 06:40] SWSAmor commented on #8961
Thx for the info.

[2020-08-03 07:43] vlvkobal commented on #9410
It's interesting, that even if `bavail` would have changed somehow, `breserved_root` should have changed as well but it didn't
[code]

[2020-08-03 07:58] cakrit commented on #8527
We intend to work on this, but it's not high on our prio list. We would appreciate a pull request to get it working in China.

[2020-08-03 08:08] cakrit commented on #7133
We still need to be adding comments with the `@user` here, so our contributors can be notified via GitHub to send us their physical addresses.

[2020-08-03 08:13] manos-saratsis commented on #9419
Cc @jacekkolasa a topic to look at

[2020-08-03 08:17] cakrit commented on #7897
Part of this is in https://github.com/netdata/netdata/pull/9644, which contains the PR @ilyam8 mentioned above.

[2020-08-03 08:37] vlvkobal commented on #6481
@webdock-io, @Kramerican please test #9645.

[2020-08-03 08:44] cakrit commented on #92
@expsl this is very interesting, but I couldn't locate the definition of the API between the agent and New Relic itself. Open Telemetry doesn't provide an exposition format, Open Metrics (Prometheus) is one and I doubt the agent exposes metrics to New Relic using that. Do you have a few more pointers on how we could possibly use this to get metrics into Netdata? If that wasn't the purpose of this

[2020-08-03 09:12] Dany21000 commented on #7590
It's not a problem, i think you'll add this at the compilation list during the next release, it's just a little oversight, nothing else.
Have a good day and lot of thank for this great product.

[2020-08-03 09:41] Kramerican commented on #6481
@vlvkobal How exactly? By building from source, or?

[2020-08-03 09:48] vlvkobal commented on #6481
Well, maybe installing Netdata from source is an overkill. You can temporarily set the following options in `netdata.conf` in `[plugin:cgroups]` section.

[code]

[2020-08-03 09:58] Kramerican commented on #6481
@vlvkobal That effectively breaks monitoring of containers and I get no metrics whatsoever for any containers now :(

I copy/pasted your lines and then just did a `systemctl restart netdata`

[2020-08-03 10:05] Mic92 commented on #9567
Sorry, cannot test right now. We have not packaged that for NixOS. But maybe the issue author can have a look.

[2020-08-03 10:12] ilyam8 commented on #9567
I am on manjaro (5.7.9), eBPF plugin works on latest, i did clean install

[2020-08-03 10:24] prologic commented on #8961
LMK how it all goes!

[2020-08-03 10:26] prologic commented on #9567
@ilyam8 Do you think we can close this issue then?

[2020-08-03 10:29] prologic commented on #8527
I'm not sure its as simple as a Pull Request. As I [originally laid out](https://github.com/netdata/netdata/issues/8527#issuecomment-633394322) (_and I think my original thoughts are still on par_)... We (_Netdata Inc._) would have to be solely responsible for pushing source dists and binary archives somewhere else besides Google's Cloud Storage bucket infra (_which is part the problem here_).

[2020-08-03 10:31] prologic commented on #8527
Just had a quick look at DigitalOcean's Datacenters again, they don't have a DC in China anywhere that I can see... I'm not even sure how we get "gear" in CH in the first place...

[2020-08-03 10:32] ilyam8 commented on #9567
i think yes, eBPF works for me on latest

i get these warning during compilation but that is another issue

[code]

[2020-08-03 10:36] prologic commented on #9643
I will look into this...

[2020-08-03 10:49] prologic commented on #9550
@Ferroin Fixed this in #9628 and we know why this failed and now we have CI checks

[2020-08-03 10:49] #9550 closed

[2020-08-03 10:50] prologic commented on #9479
@Vincinator Since your PR is merged and this is working for you (_right?_) can I close this?

[2020-08-03 11:14] rcrvano commented on #1960
any update on this?

[2020-08-03 11:21] #9635 closed

[2020-08-03 11:38] #9567 closed

[2020-08-03 11:54] startryst commented on #8527
Not have to be something 'in China', as we mentioned earlier, the thing is GCP is blocked in China, so if you have another alternative(as long as near to China, like Singapore, Japan or HK), and reachable to China, that can be the option.

This way will broaden the options for you, but if you're looking for something in China, even better, but so far to my knowledge, it will be a separate cloud, a

[2020-08-03 11:54] Vincinator commented on #9479
@prologic Sure! thanks for your support on this! :)

[2020-08-03 11:56] #9479 closed

[2020-08-03 11:58] prologic commented on #8527
Are you willing to test if I host some artefacts on a SG hosted server on DO? Our installer (_as of some weeks ago_) actually has support for grabbing artefacts from alternative sources (_I had other reasons for adding this support but it should work here..._).

[2020-08-03 12:02] rkachowski commented on #8384
I'm seeing this issue repeatedly on one of my servers

[code]

[2020-08-03 12:02] startryst commented on #8527
Sure, and it can be easy as you open a web server with 443 port, I'll try to see if that TLS can be established.

But you can also go as deep into a full installation of Netdata through DO SGP

[2020-08-03 12:34] jlbriston commented on #7133
July 2020 Contributors of the Month 💫

Thank you all for your contributions! We appreciate the time and expertise that you volunteer and we'd like to thank you.

Please email us at rewards@netdata.cloud, your username, physical address, and preferred t-shirt size to receive your gift 🎁

@bmatheny
@mrbarletta
@tinyhammers
@AliMickey
@anirudhdggl
@nmindz
@K900

[2020-08-03 12:46] thiagoftsm commented on #9412
@dim08 , is there a plan to create  this feature for next increments?

[2020-08-03 12:48] ilyam8 opened #9647 "ebpf related warning during compilation"
##### Bug report summary

I get the following warning during compilation, i do

[code]
##### OS / Environment

[code]

##### Netdata version

[code]

##### Component Name

ebpf

##### Steps To Reproduce

1. install via `netdata-installer.sh` script
2. ...

##### Expected behavior

No warning during compilation

[2020-08-03 12:48] vlvkobal commented on #8242
I've run a test for 6 hours - no visible changes to CPU usage. Tested it on CentOS 7 3.10.0-957 and Arch Linux  5.7.11.

[2020-08-03 13:21] thiagoftsm commented on #8242
I also never had problems like this on Slackware, but CentOS 7.x has a special kernel.

[2020-08-03 13:48] thiagoftsm commented on #9647
@ilyam8 ,

I ran two compilations now, the first I used:

[code]

After this I ran on master branch

[code]

For both cases I could not see any message like this, what is your GCC version?

[2020-08-03 14:46] vlvkobal commented on #6481
Could you try this configuration?
[code]

[2020-08-03 14:53] alexcavazos67 opened #9649 "MySQL not showing in"
I installed netdata in my web server. Apache appears but I cannot get MySQL to show up. I've read all the past posts and ran all the recommended measures but without success. I am attaching all the relevant files.

### **uname**
/etc/lsb-release:DISTRIB_ID=Ubuntu
/etc/lsb-release:DISTRIB_RELEASE=18.04
/etc/lsb-release:DISTRIB_CODENAME=bionic
/etc/lsb-release:DISTRIB_DESCRIPTION="Ubuntu 18.04.4 LTS

[2020-08-03 14:58] ilyam8 commented on #9649
hi

do as `netdata` user

---

did you create `netdata` mysql user?

[2020-08-03 15:02] ilyam8 commented on #9647
i did

my distro is manjaro

[code]

[code]

[2020-08-03 17:49] modem7 opened #9650 "Unable to get pihole plugin working."
##### Bug report summary

Netdata installed via autoinstall sh script.
Fedora
netdata v1.23.2-105-nightly

Followed guide in: https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/pihole

Doesn't show up in Netdata. Attempted troubleshooting steps. Troubleshooting seems to fail however.

Steps I took:
[code]

[code]
[code]

Output of http://192.168.0.2/admin/api.php
![image](https:

[2020-08-03 18:53] camjesus2 commented on #9640
Sorry, but I've been out on the road and couldn't follow up on this.
Again, after modifying collection.py as per #9641, running `python.d.plugin debug samba` as netdata does not give any errors and seems to work as expected.
However, `systemctl start netdata` still throws
[code]

Did I miss something?

Best regards
Carlos

[2020-08-03 19:02] ilyam8 commented on #9650
Hi

I usually do

[code]

Dont forget to check `error.log`

[2020-08-03 19:04] ilyam8 commented on #9640
You did not. If it doesnt work after the change check https://github.com/netdata/netdata/issues/9640#issuecomment-667171495 again

[2020-08-03 19:45] camjesus2 commented on #9640
hummm. after #9640 and #9641, running `python.d.plugin debug samba` as netdata gives
[code]

[2020-08-03 19:52] camjesus2 commented on #9640
starting netdata gives
[code]
WANT!=GOT

[2020-08-03 20:40] ilyam8 commented on #9640
hi @ntlug, any ideas?

[2020-08-03 20:56] thiagoftsm commented on #9647
After to update my Manjaro VM and compile with gcc 10.1 I could see the error, the PR fixes it.

[2020-08-03 20:56] ntlug commented on #9640
I'm looking.  I run the nightlies, haven't seen the issue.

[2020-08-03 21:05] ntlug commented on #9640
Taking a wild guess, something didn't reenable requiretty in your sudo?

[2020-08-04 00:20] raviktiwari007 commented on #9634
Hi,

I am very new to Netdata (less than a week), so while googling an issue, this is where I landed and I can see there is a correlation (not exact, but quite similar), so I was wondering if you folks might be  able to assist.

I have 2 issues/question:

1.>
Logwatch is throwing 1 Kernel error:
1 Time(s): trace_kprobe: Event   kprobes/p_netdata_tcp_cleanup_rbuf_0 doesn't exist.

Just so you know

[2020-08-04 00:44] bmatheny commented on #9451
@mfundul can you link to any related open issues? It sounds like this is a known issue but I couldn't find any ongoing work. I'd rather not fix this myself if someone is already working on it. Thanks!

[2020-08-04 01:48] HuyQuachHCM opened #9653 "Can't install and configure netdata in UBUNTU 16.04"
Hello everyone. I follow the instructions from netdata website, I get the following error::
- Fist, i install following command:
  apt-get install zlib1g-dev uuid-dev libmnl-dev gcc make git autoconf autogen automake pkg-config.
- Second i clone git :
![image](https://user-images.githubusercontent.com/69178310/89243783-0261eb00-d62f-11ea-96cd-6a206ffe681d.png)
- Third i get the following error:
![

[2020-08-04 01:52] prologic commented on #8527
I will work on something over the next coming days and post back here when I have something I _think_ you can help me test. 🤝

[2020-08-04 02:01] camjesus2 commented on #9640
Neither Defaults    !requiretty nor Defaults    requiretty nor removing the line entirely made any difference.
Is the line in `python.d.plugin debug samba` output,  `WANT=/usr/local/samba/bin/smbstatus -P, GOT=[u'/usr/local/samba/bin/smbstatus -P\n']` what you expect?

[2020-08-04 04:04] mfundul commented on #9451
Sure, https://github.com/netdata/netdata/issues/8384

[2020-08-04 06:03] v12mike commented on #8242
I turned on ebpf again today, and here is the result.  The real memory used bu the ebpf.plugin process increased from 1.5MB to 16MB over the same period.
![ebpf](https://user-images.githubusercontent.com/14261011/89258630-9c03b980-d67c-11ea-9557-f64011659e73.png)

[2020-08-04 07:02] AussieJD commented on #9635
thankyou

[2020-08-04 07:57] modem7 commented on #9650
Heya,

So I get the following:

]$ sudo su -s /bin/bash netdata
bash-4.4$ ./go.d.plugin -d -m pihole
bash: ./go.d.plugin: Permission denied
bash-4.4$

2020-08-04 02:47:19: go.d ERROR: pihole[remote] Get "http://192.168.0.2/admin/api.php?version&auth=LqPfgB6dwd5rMcWHv0oJjuXKrPP+/IZj5OSY7ujje7gadPd27/P/WbD4C+ygNjDF": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
2020-08-

[2020-08-04 07:58] AussieJD commented on #9061
+1 on the "This agent was built without the dependencies for Cloud and cannot be claimed ".

This is doing my head in a little, as I had previously added the same mac to a war room in the cloud [ there have been many uninstalls and re-installs since ] ... not sure how I actually did that now....

Novice netdata user, but long term OSX / UNIX user.... so happy to help test it that helps at all....

[2020-08-04 08:15] manos-saratsis commented on #9124
The unclaiming feature will be delayed by a month due to other priorities.

[2020-08-04 08:15] jw-g19 commented on #5158
I found the RRCP broadcasts from both TP-link TL-SG105e and Netgear GS908e were stopped by disabling "loop prevention" on the switch.
Alternatively, nftables can be used to drop the packets at ingress using something like:

table netdev filter {
        chain eth0input {
                 type filter hook ingress device eth0 priority 0;
                   ether type 0X8899 counter drop # RRCP from

[2020-08-04 08:20] vlvkobal commented on #8242
Well, I couldn't see any changes in CPU usage charts but I confirm that memory used by eBPF plugin is constantly growing.

[2020-08-04 08:28] amoss commented on #8242
This is problematic. In the short-term use the new kernel version reject-list to switch off eBPF on this particular CentOS kernel, then we can test on this specific kernel version internally to find and fix the problem in the code.

[2020-08-04 08:31] ilyam8 commented on #9650
bash: ./go.d.plugin: Permission denied

cd to the `plugins.d` dir and do the following

[code]

[2020-08-04 08:32] ilyam8 commented on #9650
What is this script? How did you install it? Show the exact command.

[2020-08-04 08:37] modem7 commented on #9650
@ilyam8 Heya, it was the kickstart script.

However, I think I understand what might be happening here, and it's probably docker's fault, rather than NetData's.

I suspect because pihole is on a macvlan it has no route from the host. I'll have a play around tonight and see if it's something as simple as that!

Will report back once I get this investigated on my end

[2020-08-04 08:49] danmichaelo opened #9654 "SSO fail in Vivaldi"
##### Bug report summary

If I press the green "Sign-in" button at the top right on one of my nodes, say http://some-host:19999, I can sign it at https://app.netdata.cloud/, but when I get back to http://some-host:19999, I'm not signed in there.

So similar problem to #6298, but I'm not sure if it's really related, since I do not get the same error in the console. Instead I get this:

![image](htt

[2020-08-04 08:51] danmichaelo commented on #9654
Update: It *is* related to #6298. Turns out Vivaldi also disables third party cookies by default. After I unchecked that option, it worked as expected.

[2020-08-04 09:14] ilyam8 commented on #9640
That is why check fails/not fails

We execute `/usr/bin/sudo -n -l COMMAND` and expect to get `COMMAND`

2020-08-03 20:40:39: python.d INFO: samba[samba] : WANT=/usr/local/samba/bin/smbstatus -P, GOT=[u'/usr/local/samba/bin/smbstatus -P\n']

`/usr/local/samba/bin/smbstatus -P` == `/usr/local/samba/bin/smbstatus -P` (new line removed)

[2020-08-04 09:15] ilyam8 commented on #9640
I dont understand why it works in debug mode as `netdata` user and doesnt work in the normal mode.

[2020-08-04 09:17] weijing24 commented on #9487
@thiagoftsm any update?

[2020-08-04 11:41] thiagoftsm commented on #9487
@manos-saratsis, @cakrit and @amoss  this is a missing feature since the cloud was released, please, can you bring an update here? Our users are able to redirect alarms only when they have a local register.

[2020-08-04 13:48] squash commented on #8995
This issue is still unsolved. Is there a issue tracking it other than this one?

[2020-08-04 14:33] florianmagnin opened #9657 "[VARNISH] Cannot handle multiple storage backend"
##### Bug report summary

Hi,

I've multiple storage backend, SSD + RAM, and netdata cannot handle it. It shows only one store 'disk' and not ram.

##### OS / Environment
[code]

[code]

[code]

I got only that on netdata :
[code]

##### Netdata version

[code]

##### Expected behavior

Each storage backend in a list (sma + smf)
netdata_varnish_storage_usage_MiB_average﻿{something =~ "sma or smf n

[2020-08-04 14:40] mfundul opened #9658 "netdata agent SQLite integration Proof-Of-Concept"
Modify agent to build with the SQLite latest stable library (version 3.32.3)

Implement metadata log replay with SQLite assistance. The purpose of this POC is to serve all RRDDIM metadata from the SQLite storage instead of the metadata log. This way, we will demonstrate significantly smaller memory footprint for the following use case:

First, run the workload generator with the stable version of

[2020-08-04 14:50] ilyam8 commented on #9657
~ related https://github.com/netdata/netdata/issues/6169

[2020-08-04 14:51] florianmagnin commented on #9657
I found  this, it's look like you already fixed it 2 years ago https://github.com/netdata/netdata/issues/4073

[2020-08-04 14:57] ilyam8 commented on #9657
No, it is not fixed, main problem is

---

[code]

What charts do we need from that data?

[2020-08-04 14:58] ilyam8 commented on #9657
That is code

https://github.com/netdata/netdata/blob/684a496bb86022f457a8d34a5c2cfc1b5aab8818/collectors/python.d.plugin/varnish/varnish.chart.py#L323-L342

[2020-08-04 15:57] #9647 closed

[2020-08-04 15:58] ilyam8 opened #9659 "the dashboard scales units only when the values are being changed"
@jacekkolasa scale units works strange - the dashboard scales units only when the values are being changed (looks like)

- 2nd chart has `Hz`

<img width="1175" alt="Screenshot 2020-07-31 at 17 41 30" src="https://user-images.githubusercontent.com/22274335/89046046-1ec30680-d355-11ea-9576-d4ef0f1f852e.png">

- 3rd chart has `bytes`

<img width="1189" alt="Screenshot 2020-07-31 at 17 42 56" src="ht

[2020-08-04 17:59] jcormier commented on #9634
```trace_kprobe: Event kprobes/p_netdata_tcp_cleanup_rbuf_0 doesn't exist```

As far as I'm aware this isn't an error and can be ignored.

Assuming you installed with the kickstart script, this worked for me to switch to the stable branch
[code]

[2020-08-04 18:06] ilyam8 commented on #9654
@jacekkolasa is this something we need/plan to fix?

[2020-08-04 19:06] mbarper commented on #9410
Apparently is solved in https://github.com/netdata/netdata/pull/9540 but I couldn't test it yet

[2020-08-04 19:32] longtrip1 opened #9660 "failed to bulid"
#### Summary
Sorry! netdata failed to build...

You may need to check these:

1. The package uuid-dev (or libuuid-devel) has to be installed.

   If your system cannot find libuuid, although it is installed
   run me with the option:  --libs-are-really-here

2. The package zlib1g-dev (or zlib-devel) has to be installed.

   If your system cannot find zlib, although it is installed
   run me with t

[2020-08-04 19:54] #9634 closed

[2020-08-05 00:49] raviktiwari007 commented on #9634
Sorry I am new here, so not sure if my posting anything else will re-open this, thread - if it does, please excuse me and feel free to close it again if you think it needs to be closed.

I wanted to add 2 points and also ask 2 questions.

1.> Thanks for your input @jcormier. It worked.
2.> I think deleting the "usr/sbin/netdata" folder was the key, because I had tried the 2nd command earlier also

[2020-08-05 08:24] ilyam8 commented on #9578
@joelhans please take a look

[2020-08-05 08:42] cakrit commented on #9487
Indeed, we had left it out and forgot about this one. We'll discuss, maybe we'll want to do something different here.

[2020-08-05 09:12] florianmagnin commented on #9657
Hi !

You just need the same thing with sma right ?

Florian

[2020-08-05 09:17] ilyam8 commented on #9657
I am not really sure what is `SMA.ram` and `SMA.Transient` :shrug:

ok, lets try to modify 334 to

[code]

and see if it works

[2020-08-05 09:40] xPaw commented on #9581
Sorry I didn't get around to testing the pull request, but it's still crashing for me after updating (v1.23.2-126-nightly).

Here's the full error log: https://s.xpaw.me/2020-08/05-0940-AppropriateGoldfinch.log

[2020-08-05 09:43] mfundul commented on #9581
This seems to be a different issue than https://github.com/netdata/netdata/issues/9530.

[2020-08-05 09:45] mfundul commented on #9581
@vlvkobal it seems like the mdstat collector reuses some chart pointers, even after the chart was obsoleted and deallocated. I think this is what's causing the crash in this case.

[2020-08-05 09:52] mfundul opened #9662 "Netdata master crashing at streaming set-up"
@raduburla do you still have this problem after updating to the latest master?

_Originally posted by @mfundul in https://github.com/netdata/netdata/issues/9521#issuecomment-667010587_

[2020-08-05 09:54] mfundul commented on #9662
@raduburla I've created a new issue since this is a different situation than where you posted your comment https://github.com/netdata/netdata/issues/9521#issuecomment-667065911

[2020-08-05 10:41] vlvkobal opened #9663 "Incorrect visualization of stacked charts with negative values"
##### Bug report summary
If there are negative values/negative multiplier in stacked charts they are sometimes visualised as if they were positive:
![image](https://user-images.githubusercontent.com/22008543/89402638-d70af900-d71f-11ea-8314-750643294463.png)
Another possible appearance - incorrect colors:
![image](https://user-images.githubusercontent.com/22008543/89402656-df633400-d71f-11ea-8742-

[2020-08-05 10:58] xPaw commented on #9581
What does obsoleted/deallocated mean in this context? Is it for historical data?

I have `history = 86400` in the config if that matters.

[2020-08-05 11:02] prologic commented on #9543
This turned out to be really hard to reproduce. I'm am closing this for now.

[2020-08-05 11:02] #9543 closed

[2020-08-05 11:12] prologic opened #9664 "Optimise size of Docker Image"
Recently the size of our Docker Image has increased from ~500MB to ~700MB.

- [Slack thread](https://netdata-cloud.slack.com/archives/CTGECGQMA/p1596497612040300)

Suspected cause: https://github.com/netdata/helper-images/pull/80

cc @amoss @ilyam8

[2020-08-05 11:13] prologic commented on #9664
Tried to utilise [docker-slim](https://github.com/docker-slim/docker-slim) today but unfortunately its a little too clever and doesn't really work out very well. It strips too much and doesn't have context on what needs to remain.

[2020-08-05 11:15] prologic opened #9665 "DEB/RPM CI build tests in Travis should not test i386"
ssia

Mostly because the LXC images we use do not have `i386` images for some systems we do the RPM/DEB build test cycle on. The original intention was to only perform an RPM/DEB package build cycle test on only one system/arch each just as a way to ensure we don't break packaging.

[2020-08-05 11:17] prologic commented on #9665
Example failed job:

- https://travis-ci.com/github/netdata/netdata/builds/178487688
  - https://travis-ci.com/github/netdata/netdata/jobs/368469563

[2020-08-05 11:21] mfundul commented on #8384
Do you guys see anything like this: `will be charted with memory mode = none, because the maximum number of charts` in the logs?

[2020-08-05 12:12] jacekkolasa commented on #9654
@danmichaelo thanks for letting us know. BTW. i installed Vivaldi (for the first time, on macOS) and it seems to be working fine, with third party cookies enabled by default (maybe they've changed the default setting? i'm not sure..). Anyway, there's not much we can do right now. I hope that in the future we will be able to ask user for single-sign-on consent via browser API. Safari is trying to d

[2020-08-05 12:12] #9654 closed

[2020-08-05 12:12] florianmagnin commented on #9657
"ram" is just the name of the storage that I choosed, it could be anything else. Same for "disk". We need to take every sma + smf and prefix metric with the custom name.

"Transient" is when the object is still not in memory or not cached.

I'll try to modify this line, thanks.
Regards,
Florian

[2020-08-05 12:13] jacekkolasa commented on #9659
Thanks @ilyam8 for creating ticket. @manos-saratsis i think it's a medium-high priority

[2020-08-05 12:21] ilyam8 commented on #9657
If it fixes the problem i suggest to make a PR

[2020-08-05 12:21] mfundul commented on #9581
It is for historical data yes. The `history` setting does not apply in your current configuration because your `memory mode` is not `save` but `dbengine` which is the [default](https://github.com/netdata/netdata/blob/master/database/engine/README.md).

[2020-08-05 12:23] florianmagnin commented on #9657
![image](https://user-images.githubusercontent.com/61228428/89411986-99f63500-d726-11ea-9e6c-d8d03d3721bb.png)

It looks good for me, but we should rename metric "Disk" to something else like "Storage". Don't know why varnish use MiB and not MB.

Florian

[2020-08-05 12:25] mfundul commented on #9581
@xPaw can you test the Pull Request by following [these](https://github.com/netdata/netdata/pull/9667#issuecomment-669162721) instructions?

[2020-08-05 12:27] ilyam8 commented on #9657
I agree. We need to change the template

https://github.com/netdata/netdata/blob/19aac83f4579a5340faff9a3e50783bc11fdfb2f/collectors/python.d.plugin/varnish/varnish.chart.py#L158-L173

---

Are you willing to make a PR?

[2020-08-05 12:32] raviktiwari007 commented on #9634
Yes it is enabled on both servers and it is also scheduled to update every 1 hour, but commented out. This is how it looks:

ebpf = yes

[plugin:ebpf]
	# update every = 1
	# command options =

This is how it looks - both server have got very similar entry. I can't confirm 100% because there are 1000s of lines and the entries are not like for like... for example line no. 14 on 1st server is availab

[2020-08-05 12:33] ilyam8 commented on #9657
See https://en.wikipedia.org/wiki/Mebibyte

[2020-08-05 12:36] xPaw commented on #9581
I have applied that pull request (netdata v1.23.2-130-g61bffa42). I'm not sure how many days need to pass to verify that it won't crash. How does this also play with the automatic updater that runs on cron?

[2020-08-05 12:46] mfundul commented on #9581
Sorry, please do `git pull origin pull/9667/head` and install again because I pushed some more necessary changes.

You can reinstall via the standard method to overwrite this and you should be back to nightly builds.

How long does it typically take to crash for you?

[2020-08-05 12:48] xPaw commented on #9581
At least 3 or more days. I can't say precisely because I don't check it every day.

[2020-08-05 12:50] #9407 closed

[2020-08-05 12:59] florianmagnin commented on #9657
![image](https://user-images.githubusercontent.com/61228428/89415501-3bcc5080-d72c-11ea-9352-bf4d952f17e6.png)

Everything is perfect, thanks @ilyam8 !!

Have a nice day.

[2020-08-05 13:13] vlvkobal commented on #9634
I meant kernel, not Netdata. It looks like your kernel doesn't have eBPF support compiled in.

[2020-08-05 13:20] den1s2 commented on #9631
Hi @thiagoftsm,

Thanks for the suggestion. Using the helm chart with the below config, the exporting.conf file is not created based on the logs.
In the value.yaml:
+        [exporting:global]
+          enabled = yes
+        [opentsdb:https:my_instance0]
+          enabled = yes
+          destination = influxdb:4242

In the pod logs:
2020-08-05 13:16:40: netdata INFO  : EXPORTING : thread creat

[2020-08-05 13:45] thiagoftsm commented on #9631
I think you had permission problems:

[code]

please, can you check that Netdata is able to read `/etc/netdata/exporting.conf`?

[2020-08-05 14:05] den1s2 commented on #9631
The problem is that it is not created in the first place:
bash-4.4# ls /etc/netdata/
charts.d                  go.d                      netdata.conf              python.d                  stream.conf
custom-plugins.d          health.d                  node.d                    ssl
edit-config               health_alarm_notify.conf  orig                      statsd.d

[2020-08-05 14:12] thiagoftsm commented on #9631
please use `./edit-config exporting.conf` to create it, because stock files are updated every new release, you can lose information with this.

[2020-08-05 14:16] den1s2 commented on #9631
I can do that, but I'm trying to launch netdata-parent in Kubernetes, and it looks like exporting is currently not configurable via the respective ConfigMap. Is this the case?

[2020-08-05 14:33] mfundul commented on #9581
@xPaw the Pull Request has been merged to master branch so you can switch to the official installation method again if you wish (`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`). Those fixes are not guaranteed to fix your specific problem so I will not be closing this issue until you can verify that it's fixed.

[2020-08-05 14:38] ilyam8 commented on #9631
you can add any configuration addint it to the `values.yml`, see

https://github.com/netdata/helmchart/blob/a0b4cce6fd050558b23d2acb623cb5d162428d5b/values.yaml#L105-L114

[2020-08-05 14:39] xPaw commented on #9581
The script is just quitting as it thinks its running a higher version already.

[2020-08-05 14:45] mfundul commented on #9581
Hmm, you could wait until tomorrow to do it, when the next nightly build is released. Alternatively, you could run the uninstaller (`/usr/libexec/netdata/netdata-uninstaller.sh`) but in this case make sure you back-up any configuration files you've altered.

[2020-08-05 15:15] xPaw commented on #9043
I did a clean reinstall and this is still an issue.

[2020-08-05 16:21] euthonis commented on #4633
[code]

Much easier approach to this instead of banging my head against a wall:

[code]

[2020-08-05 16:52] ncfrak opened #9670 "Central netdata server only sends its own data"
Hello,

Overall setup
[code]

I have a central netdata server which receives monitoring data from several servers.
For resiliency / accessibilty / security reasons, I export the central server data to another remote server with Influx / Grafana.

On the Influx DB I only receives data of my central netdata server. All the series are tagged with `host=centralserver`

Maybe something is missing in my

[2020-08-05 17:17] raviktiwari007 commented on #9634
How do I check that?

If my kernel doesn't have eBPF support compiled in, should I disable it in Netdata?

[2020-08-05 20:09] ibyteapps opened #9671 "Netdata installation fails"
##### Bug report summary

My netdata installation crashed today and it wouldn't let me browse to index page. After a few suggested solutions, I decided to start with a fresh install. So I uninstalled netdata and used kickstart. I got the following error during installation

/tmp/netdata-libwebsockets-1yhMPF/libwebsockets-3.2.2/include/libwebsockets/lws-genhash.h:79:18: error: field 'ctx' has incom

[2020-08-06 00:30] modem7 commented on #9650
Yupper, this is a Docker issue centered around macvlan's, and their (intended) inability to contact the container directly from the host.

I'll try to find a workaround via traefik to expose the API.

Thanks for the assistance however!

[2020-08-06 00:30] #9650 closed

[2020-08-06 06:15] prologic commented on #9653
Hello @HuyQuachHCM 👋

Can you please try the following steps:

[code]

We have tools to make this easy for you. You can also just execute the following for an even quicker install:

[code]

[2020-08-06 07:11] LimeZky opened #9672 "Netdata localization"
Hi there, I noticed that https://github.com/netdata/localization has been archived. It seems that Netdata stops localization. Why not start it again?

[2020-08-06 07:11] LimeZky commented on #9672
I am very willing to help with it.

[2020-08-06 07:48] stemy2 opened #9673 "Config files seems nonexistent"
##### Bug report summary
I'd like to mute all alarms, but the config files mentioned in the doc doesn't exist.

##### OS / Environment
OS: Yunohost 4 (Based on Debian 10)
Kernel: 4.19.0-9-amd64

##### Netdata version
1.22.1

##### Component Name
Config files

##### Steps To Reproduce
1. Trying different methods to mute alarms mentioned in the doc.
2. The response is the same for all config files (

[2020-08-06 07:51] xPaw commented on #6975
This is still an issue. By default clicking a row in alert logs goes to Netdata's cloud promotion page asking me to sign up.

Changing registry url gets me to "Sorry... your account is not linked to a netdata server named:" page.

[2020-08-06 07:57] xPaw opened #9674 "200 response code is red in web_log.detailed_response_codes"
##### Bug report summary

On `response_statuses` and `response_codes` charts, the success/2xx code is using green color, but on `detailed_response_codes` chart, the 200 code is red, and 400 is yellow which is confusing.

![image](https://user-images.githubusercontent.com/613331/89506319-9b316b80-d7d3-11ea-89a0-74f7b9acf6fb.png)

##### Netdata version
netdata v1.23.2-131-nightly

##### Component Na

[2020-08-06 08:24] ilyam8 commented on #9674
@xPaw this chart has dynamic dimensions - no dimensions on start, we add them (http resp codes) as they appear in the logs, so there is no predefined order, but color depends on the order.

[2020-08-06 08:28] xPaw commented on #9674
Hm, I thought so, but I never saw it be any other color over the years.

[2020-08-06 08:29] ilyam8 commented on #9674
If you set `Setting=>Performance=>Which dimension to show?=>All` you will see that there is _green_ http code already.

[2020-08-06 08:31] xPaw commented on #9674
Indeed, I can see green being 101 code.

Does netdata have any mechanism for dimensions to suggest its color?

[2020-08-06 08:37] ilyam8 commented on #9674
No, it doesnt.

I think it is possible to overwrite some parameters like color in [dashboard_info.js](https://github.com/netdata/netdata/blob/master/web/gui/dashboard_info.js) but i am not sure.

You could set this option to `no`

https://github.com/netdata/netdata/blob/79c56b71c4567ce947e755b5fbe6d0b4eeffd046/collectors/python.d.plugin/web_log/web_log.conf#L70

If it is `no` you get 5 charts with

[2020-08-06 09:12] vlvkobal commented on #9634
I already sent a link to the documentation in https://github.com/netdata/netdata/issues/9634#issuecomment-669020453. Please read https://learn.netdata.cloud/docs/agent/collectors/ebpf.plugin#confirm-kernel-compatibility.

[2020-08-06 09:30] ilyam8 commented on #9674
@jacekkolasa if there is something please halp

[2020-08-06 09:30] #9674 closed

[2020-08-06 09:49] marcelmfs commented on #9627
As I'm only using netdata as collector aggregation and polling from prometheus to plot in grafana, I can trigger netdata primary restarts frequently without loosing much data or having gaps in my graphs, and systemd is keeping up with the segfaults when netdata crashes, but it's not as stable as one would like it to be:

That said, I'm also seeing recurrent segfaults in several different threads:

[2020-08-06 09:57] mfundul commented on #9627
@marcelmfs is this related to the original issue, i.e. do you have hundreds of entries in `stream.conf`? If not then you should probably create a new issue for your situation. In any case, can you share your `var/log/netdata/error.log` and anything non-standard in the configuration files in `etc/netdata/*.conf`?

[2020-08-06 10:03] cakrit commented on #6975
I don't see it, let's see what you're not doing correctly.
You need at least one netdata instance configured with :
[code]
That's your private registry server, let's say its URL is http://server1:19999
Then, every netdata instance you have, including server1, should have:

[code]
Restart after the config.
Then, you visit all your netdata instances one by one, so that your private registry learns t

[2020-08-06 10:04] marcelmfs commented on #9627
Central netdata doesn't have any non-standard in `etc/netdata/*conf`, only my netdata nodes have around 3 custom plugins sending data back each, and I have around 20 nodes, not all of them have the custom plugins, only the ones currently in production environments. There is a broad range of different versions installed on the nodes, as it's not as easy to upgrade netdata in some of our clients. I'

[2020-08-06 10:11] xPaw commented on #6975
Adding `enabled = yes` was the fix yeah. But why is netdata not aware that the log comes from the same instance and can't just navigate directly on the already open page?

I don't have multiple instances, and I don't want the cloud/registry stuff.

[2020-08-06 10:19] vlvkobal commented on #9627
Related https://github.com/netdata/netdata/issues/9634#issuecomment-668905634

[2020-08-06 10:23] ilyam8 commented on #9627
If [this](https://github.com/netdata/netdata/issues/9627#issuecomment-669830595) problem is ebpf related we can verify it disabling ebpf plugin. @marcelmfs can you check it?

[2020-08-06 10:28] cakrit commented on #9617
Please run `grep alarm-notify /var/log/netdata/error.log` and post here what you see, when your alarms change state.

[2020-08-06 10:35] cakrit commented on #6975
Perfectly valid question actually, I don't see any reason why we need to jump through hoops to just scroll down to the correct chart.  @thiagoftsm was there a technical reason we chose to do it this way? We're not talking about the links in the alarm notifications of course, just the ones on the alarm logs entries.

[2020-08-06 10:35] marcelmfs commented on #9627
If anything I've enabled it to see if it would solve anything - after seeing some logs complaining about apps_groups.conf or similar, is the ebpf default config disabled or not?

[2020-08-06 10:51] vlvkobal commented on #9627
eBPF plugin is enabled by default
[code]
But it won't start if BPF programs can't be loaded. You'll see something like
[code]

[2020-08-06 10:58] mfundul commented on #9627
Guys, it's the netdata agent threads that are segfaulting, not the ebpf process. I don't think this is related to the ebpf issue.

[2020-08-06 11:01] vlvkobal commented on #9627
I didn't mean that the issue is related to eBPF, but https://github.com/netdata/netdata/issues/9627#issuecomment-669830595 is.

[2020-08-06 11:13] mfundul opened #9675 "segfault with streaming to multi-host dbengine instances"
As I'm only using netdata as collector aggregation and polling from prometheus to plot in grafana, I can trigger netdata primary restarts frequently without loosing much data or having gaps in my graphs, and systemd is keeping up with the segfaults when netdata crashes, but it's not as stable as one would like it to be:

That said, I'm also seeing recurrent segfaults in several different threads:

[2020-08-06 11:15] mfundul commented on #9675
@marcelmfs I've created a new issue for you as this is not related to the original issue. It appears there is some memory corruption from crashes at `malloc()` or `free()` sites.

[2020-08-06 11:18] cakrit commented on #9673
Please go through https://learn.netdata.cloud/guides/step-by-step/step-04 and let us know if you still aren't able to do this.

[2020-08-06 11:21] cakrit commented on #9672
We're still making radical changes to our documentation, which inevitably affects any localization effort. We should revisit this when the bigger reorganization steps are completed.

[2020-08-06 11:27] stemy2 commented on #9673
I does not work, i have the message `connection failed`.

[2020-08-06 11:30] cakrit commented on #9622
Then just overwrite the default `netdata.conf` with the one containing your own overrides. That's the way it's supposed to work.

[2020-08-06 11:38] stemy2 commented on #9673
I found 3 netdata.conf using the command find in CLI. Wich one is the right file ?

[code]

[2020-08-06 11:57] marcelmfs commented on #9627
@vivkobal I've some entries like:
[code]

[2020-08-06 12:15] vlvkobal commented on #9627
As far as kprobes do not exist in the kernel, it just denies to load the BPF programs and eBPF plugin exits.
[code]

[2020-08-06 12:17] #8918 closed

[2020-08-06 12:17] #8181 closed

[2020-08-06 12:45] amoss commented on #9043
@manos-saratsis / @jacekkolasa What is happening with this bug - is there a plan to fix it?

[2020-08-06 12:45] amoss commented on #8642
This issue is obsolete.

[2020-08-06 12:45] #8642 closed

[2020-08-06 12:46] ncfrak commented on #9670
I don't know if it's related but I upgraded netdata to 1.23.2 and now I have the series from all the hosts.
I am going to close this issue.

[2020-08-06 12:46] #9670 closed

[2020-08-06 12:46] amoss commented on #8613
@ilyam8 Do we still need this issue or can you close it?

[2020-08-06 12:47] amoss commented on #8613
Oh, it is assigned to me. That makes it easier :)

[2020-08-06 12:47] #8613 closed

[2020-08-06 12:47] jacekkolasa commented on #9043
@amoss we should have time in next week to fix few issues in Agent Dashboard, so we can definitely work on this one.

[2020-08-06 12:50] LimeZky commented on #9672
OK, once the update completes, please contact me, I will help with the localization (Simplified Chinese). Besides, completed document can also be translated.

[2020-08-06 12:51] amoss opened #9676 "Automatic testing for the streaming code"
### Feature idea summary

During development of the gap-filling code it was realized that we cannot achieve any kind of reasonable coverage of the streaming code using manual testing as there are too many cases. We need an automated test driver that do integration-level testing of streaming configurations and scenarios.

##### Expected behavior

* Test driver that can configure and create docker-c

[2020-08-06 12:53] amoss commented on #9676
We will do a technical groom on Friday:
* Demo of the code that exists so far
* Discussion of the test cases that we need for 2/3 level streaming topologies
* Discussion of the checks and outputs that we need from the tester

Overall purpose is to get initial feedback.

[2020-08-06 13:34] den1s2 commented on #9631
Thanks a lot. With the below values.yaml section the exporting feature started:
    export:
      enabled: true
      path: /etc/netdata/exporting.conf
      data: |
        [exporting:global]
          enabled = yes
        [opentsdb:https:my_instance0]
          enabled = yes
          destination = influxdb:4242

But data is still not being written to influxdb. Here are the logs from both sides

[2020-08-06 13:48] ilyam8 commented on #9673
this one

[2020-08-06 14:07] keithmork commented on #8242
I meet the same problem.

![image](https://user-images.githubusercontent.com/5634347/89541471-fc3b5c80-d830-11ea-90a0-5bad75e494a2.png)

- CentOS Linux release 7.7.1908 (Core)
- kernel 3.10.0-957.21.3.el7.x86_64
- netdata v1.23.2-131-nightly, fresh install

[2020-08-06 14:26] vlvkobal commented on #8242
@keithmork what does mean "the same problem"? `java` is growing. How is it connected to eBPF and what can we do about it?

[2020-08-06 14:27] amoss commented on #9043
That sounds great. We also have some problems that are affecting the Network Viewer that are very important but we can talk about those separately.

[2020-08-06 14:27] vlvkobal commented on #8242
Or do you mean that eBPF takes 52% of CPU usage?

[2020-08-06 14:31] amoss commented on #8242
Hi @keithmork, thanks for the report. It does not look like the same problem as the CPU load from the eBPF plugin is constant but high, rather than growing. This is higher that we expected and we would like to investigate why it is consuming so much CPU time. Could you open a separate bug report? This will allow us to track it and get some information on the workload on your system to try to inves

[2020-08-06 14:37] ilyam8 commented on #8242
@keithmork zoom out chart (to get bigger timespan, it is 7 minutes on your charts) and choose only `ebpf` dimension. It is not clear - is it growing or constant but high?. Check `mem` charts too.

[2020-08-06 14:52] cakrit commented on #9082
Don't know anything about `keepalived`, but it looks like you can execute a script when the old parent loses its IP:

Keyword | Definition | Type
-- | -- | --
notify_backup | specify a shell script to be executed during transition to backup state | path
notify_fault | specify a shell script to be executed during transition to fault state | path

That script could for example [silence alarms](https

[2020-08-06 14:52] #9082 closed

[2020-08-06 15:01] amoss commented on #9607
@vlvkobal Could you take a look at this?

[2020-08-06 15:07] cakrit commented on #9471
Something is very strange here @shoopdawoop. Can you please a `top` and/or a `ps faux` to show what is actually using the memory? Memory can't just go nowhere, netdata itself should have seen that 1.3G being used by a process in one application group. It looks like the memory used by all of the apps together doesn't even come close to the Used memory shown in the total mem chart and in `free -h`

[2020-08-06 15:11] keithmork commented on #8242
@vlvkobal @amoss @ilyam8
OK I'll move to a new issue and provide more details there.
For short, it isn't growing but always that high.   ebpf takes about 30%+ usr and 15% sys (total 100%) on a 4-core machine.

(The java process above is fine and not related to any issue, just the result of growing requests at that time.  Sorry for the confusion)

[2020-08-06 15:21] cakrit commented on #9412
So it's basically a matter of just adding back those two `return` lines and verifying that a WARNING or a CLEAR notification will only be sent for an alarm that had gone to CRITICAL. The initial bug report that caused PR #7769 was therefore not triaged appropriately, the WARNING alarms the users were seeing were probably for alarms that had gone to CRITICAL.

Testing should also be very straightfo

[2020-08-06 15:51] thiagoftsm opened #9677 "kickstart-static64 --target ignores destination"
##### Bug report summary
While I was testing  the installation using `netdata-v1.23.2-119-g0daf574d.gz.run` I observed that `--target` is ignored and by default it installs everything inside `opt`. The option `--target` only worked with relative paths, but it gives errors related `/opt/netdata`.

##### OS / Environment
[code]

##### Netdata version
1.23.2-119

##### Component Name
Installer

#####

[2020-08-06 17:11] #9673 closed

[2020-08-06 20:43] thiagoftsm commented on #6975
Hello everyone,

@cakrit  there is not any special reason to redirect to cloud instead to go direct to the chart on the same page, but I request @jacekkolasa or @VLegakis to fix this, because they have a better JS knowledge to close the box and go to the chart direct, I am not sure about the necessary methods to call.

[2020-08-06 21:37] git1977 opened #9678 "How do I get the target server system information like OS, Distro, Arch etc."
##### Question summary

##### OS / Environment

##### Component Name

##### Expected results

[2020-08-06 21:51] ilyam8 commented on #9678
Hi @git1977

It is not on the dashboard, but you can get that info from `/api/v1/info` endpoint

[2020-08-06 21:55] git1977 commented on #9678
Thank you. I am able to see all the detailed information on default port 19999.
In my scenario, I have connected netdata to promethues. Can I access this/similar information in promethues by any chance?

[2020-08-06 22:12] ilyam8 commented on #9678
No, it is not possible. @vlvkobal correct me if i am wrong

[2020-08-06 23:22] gaia commented on #9363
Problem is still present on Debian 10. Just takes a bit longer to stop

[2020-08-07 02:22] thiagoftsm opened #9679 "Ebpf.plugin needs to make hidden and visible charts"
##### Feature idea summary
It is necessary to change some internal functions of the current `ebpf.plugin` to allow creation of hidden charts, the following changes are necessary:

-  Separate caps (one for visible  and another for hidden charts)
-  Add another link list that will be used to create the hidden charts.
-  Change internal functions to allow the creation of hidden charts.
-  Create a n

[2020-08-07 02:26] thiagoftsm opened #9680 "Persistent dimensions on ebpf.plugin"
##### Feature idea summary
Keep a list of network connections that were detected until the cap for the number of dimensions in a network viewer chart has been reached. The list should be stored in a cache file inside the NETDATA_CACHE_DIR (`/var/cache/netdata`) directory. Load the list on Netdata restart. Reset the cache if the configuration of the eBPF plugin was changed.

-  Store a network conn

[2020-08-07 02:30] thiagoftsm opened #9681 "Traffic charts (ebpf.plugin)"
##### Feature idea summary
Netdata needs two group of charts (visible and hidden) that will be used to show the network traffic of the host Netdata is running.
The following steps are expected:

-  Inbound charts to specific destination ports.
-  Outbound charts to specific destination ports.
-  Outbound traffics for sockets opened.
-  Tests against tools like `tcpdump`.

##### Expected behavior
N

[2020-08-07 03:15] rdifrancesco commented on #9624
Checking if there are any thoughts or updates on this issue.

[2020-08-07 04:20] badi95 opened #9682 "Stable Docker Image"
Is there a stable tag for netdata docker images on dockerhub? I like to check for image updates for my containers regularly, but don't want to be running the nightly of netdata.

[2020-08-07 04:34] git1977 commented on #8242
Even for me in the cpu usage by apps, I see ebpf is using 8% of CPU on single core machine.
Followup question: What will I be losing if I disable ebpf?

[2020-08-07 04:44] git1977 opened #9683 "Does netdata work with configuration files located on remote server?"
Lets say netdata installed on machine A and config files moved to remote machine B. Anyway to connect netdata to these config files?

[2020-08-07 05:00] #8906 closed

[2020-08-07 05:01] git1977 opened #9684 "How to get AWS zone information from EC2 service discovery?"
Using the link for EC2 service discovery, I am able to get the information like EC2 instance ID, Name as labels into promethues, but how can I get the AWS zone/region information?.

https://www.robustperception.io/automatically-monitoring-ec2-instances

[2020-08-07 05:26] prologic commented on #9683
Not natively at this time I _don't think_. You _could_ achieve this with a NFS share however.

[2020-08-07 05:27] prologic commented on #9682
Yes. Use a tagged release.

[2020-08-07 06:24] mfundul commented on #9363
Maybe it's a different issue. Can you tell us the netdata version, installation method and the contents of `var/log/netdata/error.log`?

[2020-08-07 07:03] ilyam8 commented on #9684
The link is not related to netdata, it is prometheus service discovery

[2020-08-07 07:03] #9684 closed

[2020-08-07 07:06] ilyam8 commented on #8242
- see `eBPF` section charts
- see `ebpf syscall`, `ebpf net` subsections under `Applications` section

[2020-08-07 07:26] cakrit commented on #9594
@amoss I think we need your help to understand what can be done here

[2020-08-07 08:14] cakrit commented on #9580
You are correct, but fixing this isn't simple at all, because the module doesn't do individual requests for each OID, but sends multiple of them in a single request (see the `slice`  around https://github.com/netdata/netdata/blob/master/collectors/node.d.plugin/snmp/snmp.node.js#L244 ). You can tell when you run the module in debug mode that the entire request fails, if a single OID is problematic

[2020-08-07 08:14] ilyam8 commented on #9477
@jacekkolasa see screenshot https://github.com/netdata/netdata/issues/9477#issue-650879130

Any ideas?

[2020-08-07 08:22] amoss commented on #9624
This is a packaging issue. We need to check that the version of openssl being bundled in the static install is working correctly on this configuration. The underlying problem is whether or not the CA-roots have been installed correctly. I thought this had been fixed, @Ferroin / @prologic please investigate.

[2020-08-07 08:23] cakrit commented on #9578
We don't need to reproduce by hand, let's improve what's shown in https://developers.google.com/speed/pagespeed/insights/?hl=en-US&url=learn.netdata.cloud

[2020-08-07 08:25] cakrit commented on #9560
@vlvkobal plz check

[2020-08-07 08:26] amoss commented on #9594
I'll set up a Centos 8.2 VM and see what happens.

[2020-08-07 08:28] ilyam8 commented on #9088
@vlvkobal indeed, `&types=yes&help=yes` output is broken

[2020-08-07 08:30] amoss commented on #9585
It sounds as if there is a stale mount in the system that is triggering a bug in the collector. Could you provide a piece of your log around the `Cannot stat /tmp/.mount_jetbrains` line so that we can understand what is going on?

It might also be useful to see the output of `mount` on your system.

[2020-08-07 08:32] amoss commented on #9376
I had forgotten about this. I'll setup a test and see what happens.

[2020-08-07 08:32] cakrit commented on #9524
This is old and it hasn't been looked into. @weijing24 I expect that you can delete that problematic room and just put any other nodes it had elsewhere, they will still exist in your workspace. If you're still having problems, better email support@netdata.cloud which is focused on Netdata Cloud, or even better, post on https://community.netdata.cloud.

[2020-08-07 08:32] #9524 closed

[2020-08-07 08:34] amoss commented on #8816
@thiagoftsm Please check if this is still a problem and then fix / close it.

[2020-08-07 08:44] cakrit commented on #9506
Closing due to no response.

[2020-08-07 08:44] #9506 closed

[2020-08-07 08:52] ilyam8 commented on #9505
@RubenKelevra any updates?

[2020-08-07 08:55] RubenKelevra commented on #9505
@ilyam8 sorry for the delay, not feeling well right now. When I'm healthy again I'll get right to this. :)

[2020-08-07 09:16] srcshelton opened #9686 "netdata Cloud: Allow counter baseline reset"
##### Feature idea summary

Amongst the monitored metrics which netdata reports on are `net_packets.<interface>`, `net_drops.<interface>`.  Alerts are generated if these are non-zero.

However, these values are counters intended to be compared to a previous baseline, and - short of a reboot or removing and reinstalling the pertinent kernel module - there is no way to zero them.

(See https://www.d

[2020-08-07 10:09] amoss commented on #7302
We could not reproduce this problem so we cannot fix it. If new information is available to allow us to reproduce it then please re-open the issue.

[2020-08-07 10:09] #7302 closed

[2020-08-07 10:10] #7290 closed

[2020-08-07 10:40] ilyam8 commented on #9505
@RubenKelevra it is a simple change and i did it, the changes are pretty straighforward and no really tests are needed, but test the [PR](https://github.com/netdata/netdata/pull/9687) when you have time.

And get well 🤞

[2020-08-07 10:40] cakrit commented on #9487
I am doing a PR to temporarily have that URL replaced with at least a proper link to https://app.netdata.cloud
We will revisit this functionality, as a lot has changed in the past few months.

[2020-08-07 10:48] ilyam8 commented on #7234
current supporter version is [go weblog](https://github.com/netdata/go.d.plugin/tree/master/modules/weblog#web-log-apache-nginx-monitoring-with-netdata), if there is a bug (not critical) in python it is wontfix i think..

[2020-08-07 10:48] #7234 closed

[2020-08-07 10:48] vlvkobal commented on #9485
I can replicate it on macOS 10.15.6.
When I delete `/usr/local/var/cache/netdata/*` it works again until the next restart.

[2020-08-07 10:51] mfundul commented on #9485
Does this happen on latest master? Does this happen with `memory mode = save`?

[2020-08-07 10:55] vlvkobal commented on #9485
[code]

[2020-08-07 11:09] nodiscc commented on #6592
Hi, I believe I closed this issue in error. Necessary API endpoints were added in https://github.com/netdata/netdata/pull/6554, however it is still not (?) possible to show badges with the number of alarms as I described

[2020-08-07 11:12] ilyam8 commented on #9580
i tend to agree, if that is really the case it is not good, i marked that issue as `unread`, will try to look into it on weekend, if it is an easy fix (i dont know nodejs) will try to fix it.

[2020-08-07 11:14] ilyam8 commented on #6592
@nodiscc i believe we have aggregated active alarms numbers per severity in the cloud, it is not you want but worth to mention.

[2020-08-07 11:15] vlvkobal commented on #9485
The issue occurs in the latest master (v1.23.2-142-g5a718bb8) as well.

[2020-08-07 11:18] vlvkobal commented on #9485
I can't replicate the issue with `memory mode = save`.

[2020-08-07 11:19] nikobearrr commented on #9580
I haven't really looked into how the node js plugin works and I generally agree with you @cakrit
However, in this specific case we have a switch which has a virtual interface which tends to change it's OID, at random intervals, sometimes every day, sometimes every week. Surely that is not up to netdata to handle, but once it changed this OID all the data cannot be fetched due to an invalid OID. Th

[2020-08-07 11:23] ilyam8 commented on #9366
We gonna use [prometheus collector](https://github.com/netdata/go.d.plugin/tree/master/modules/prometheus) to get data the control-plane components

This requires only [k8s agent service discovery config](https://github.com/netdata/helmchart/blob/master/sdconfig/child.yml) to be updated.

In addition we can add all other prometheus endpoints, well-known pattern is look for `prometheus.io/scrape` a

[2020-08-07 11:25] ilyam8 commented on #9580
I had same problems with virtual ifaces on linux, i got new oid on every server restart 😅

[2020-08-07 11:39] ilyam8 commented on #9640
there is [no problem according](https://github.com/netdata/netdata/issues/9640#issuecomment-668237628) @ntlug (samba plugin author, nightly channel user), i am closing this issue (a bug) but we can continue to debug your problem @camjesus2 here

[2020-08-07 11:39] #9640 closed

[2020-08-07 11:51] ilyam8 commented on #8041
Impossible.

https://github.com/netdata/netdata/blob/5a718bb8b02eef930b41ef1f79873d93c2d38248/collectors/python.d.plugin/redis/redis.chart.py#L228

It is either `0` or `1`.

---

We have fixed a bug with archived charts/health and some other related related bugs.

I am closing the issue. @mfundul @thiagoftsm if you think there is something we need to investigate feel free to reopen.

[2020-08-07 11:51] amoss commented on #9627
@marcelmfs Your problem does not look like it is the same bug as this one - the crash that you are seeing in the web server threads is not related to the problem with too many entries in the `stream.conf`. Please open a new bug report and explain your problem so that we can investigate it and try to help you.

[2020-08-07 11:53] amoss commented on #9627
@marcelmfs I see that @mfundul has done this for you in https://github.com/netdata/netdata/issues/9675 - I am working through my inbox in chronological order...

[2020-08-07 11:55] ilyam8 commented on #9627
I testes `too many entries case`, i created witn several thoushand entries - had no problems.

[code]

[code]

[2020-08-07 11:55] amoss commented on #7557
@vlvkobal Can you check if this is still a problem and close or provide new info as appropriate.

[2020-08-07 12:17] ovizii opened #9689 "How does netdata running inside a docker container send email notifications?"
The reason I am asking is because I see this kind of errors in my netdata container lgos:

[code]

##### OS / Environment
Debian 10
##### Expected results
Notification emails being sent

[2020-08-07 12:17] ilyam8 commented on #9686
Hi.

What [alarms](https://github.com/netdata/netdata/blob/master/health/health.d/net.conf) are you referring to?

[2020-08-07 12:22] thiagoftsm commented on #9154
Hi @llevet ,

We brought a fix to support the newest TLS version, are you able to access Netdata without problems now?

Best regards!

[2020-08-07 12:25] amoss commented on #9059
The charts seems to be inconsistent. Consistent approaches for Netdata are:
1. The memory in the buffers is free/avail and it should count against the alarm
2. The memory in the buffers is not free/avail and it should not count against the alarm.

I'll take a look at the code in the collector and see what we are doing. @mfundul may be on the right track if we are tracking the clean/dirty state of

[2020-08-07 12:32] cakrit commented on #7838
Alarm redirection is no longer working with the new cloud, we will provide more info on it in #9487

[2020-08-07 12:32] #7838 closed

[2020-08-07 12:38] cakrit commented on #8312
The alarms on the netdata UI should take you directly to the chart shown on the same UI. There's another issue open, to fix that, can't find it right now.
Alarm redirection when signed in (clicking in a URL in an email notification doesn't work, that's tracked in #9487

[2020-08-07 12:38] #8312 closed

[2020-08-07 12:44] cakrit commented on #9477
@yasharne
It's been a while on this, but if it's still happening, can we see the `api/v1/data` requests and responses for this chart? (browser console, network tab).
Also, do an https://localhost:19999/api/v1/charts request and find the specific chart, put all the variables you see in a comment below.

We want to look at the timestamps in both of those things, to see what's happening. Please also

[2020-08-07 12:45] vlvkobal opened #9690 "Benchmarks analysis for Network Viewer"
##### Feature idea summary
We need to determine the impact of the Network Viewer part of the eBPF plugin on CPU, memory resources and UI usage experience. Based on that information we should tune the Network Viewer module to provide maximum information without breaking Netdata usability.
- Check if UI is usable with different combinations of chart/dimension number. Find a limit when UI begins beha

[2020-08-07 13:03] badi95 commented on #9682
The only options I see for tags on dockerhub are "latest", which is nightly, and specific versions like "v1.23.2". Is there a way to get the newest tagged release automatically like from a "stable" tag on dockerhub?

[2020-08-07 13:11] ilyam8 commented on #9682
i think bash script will do

[code]

[2020-08-07 13:22] #9682 closed

[2020-08-07 13:33] ilyam8 commented on #6439
ok, i have a second thought.

Considering

I think it is `wontfix`.

[2020-08-07 13:33] #6439 closed

[2020-08-07 13:45] jaydio commented on #9040
Hey guys, any update on this? :dark_sunglasses:

[2020-08-07 14:36] amoss commented on #9239
@prologic I'm not sure how we can close this - it seems to be open-ended. Do you have any ideas?

[2020-08-07 14:38] amoss commented on #9264
I'm labelling this as wontfix because based on the discussion above it is not a bug in the agent. Please re-open if there is new information.

[2020-08-07 14:38] #9264 closed

[2020-08-07 14:40] amoss commented on #9242
@prologic / @thiagoftsm This is now working isn't it? Can we close the issue?

[2020-08-07 14:42] #8763 closed

[2020-08-07 15:12] thiagoftsm commented on #9242
@amoss kickstart-static64 is not installing ebpf.plugin, but I am closing this issue, because @vlvkobal already fixed it.

[2020-08-07 15:12] #9242 closed

[2020-08-07 15:18] thiagoftsm commented on #9689
Hi @ovizii ,

You need to configure [health_alarm_notify.conf](https://learn.netdata.cloud/docs/agent/health/notifications/email) for Netdata sends email for a destination.

Best regards!

[2020-08-07 15:30] amoss commented on #9291
We fixed the problem that would crash the agent when the database file failed to open. There was not any progress in finding the source of the database corruption. The crash should not reoccur if you upgrade to a newer version. If you see any further database corruption (or similar problems) then please open a new bug report so that we look into it.

[2020-08-07 15:30] #9291 closed

[2020-08-07 15:42] amoss commented on #9101
This does not seem to be a fixable problem. As discussed in the linked issue (#5071) we are not aware of any way to monitor the disk space on a volume without mounting inside the container doing the monitoring.

[2020-08-07 15:42] #9101 closed

[2020-08-07 15:45] llevet commented on #9154
Hi,

No i'm in version v1.23.2-51-gf32713e and the problem is still here.
One Firefox, interface is not loading (only backgroud).
On chrome, need multiple refresh F5 to work.

[2020-08-07 15:45] ovizii commented on #9689
thanks for the pointer but I need some more info. As I mentioned I am using netdata via docker setup like this: https://learn.netdata.cloud/docs/agent/packaging/docker and there is no mentioning of mounting a persistent volume which I assume I would need to provide health_alarm_notify.conf with the correct configuration.

Any pointers how best to mount this? Or should I simply do this in my docker

[2020-08-07 15:48] amoss commented on #9625
Hi,

We've having some trouble trying to work out what might be happening in this scenario. The lack of metrics could have several different causes, for example a network problem or a problem servicing the request because the CPU is saturated.

* Can we start by comparing the chart on the Netdata node with the two Prometheus charts?
* What does a `/api/v1/data?` query show on the chart for that ti

[2020-08-07 16:36] gaia commented on #9363
thanks Markos

`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

v1.23.2-137-nightly

log https://we.tl/t-hiFTJv2FsV (i got to send you the pword via another channel, could you contact me at https://t.me/onegaia or another channel? I also sent a connection request on LinkedIn)

[2020-08-07 16:53] amoss commented on #9322
Hello @mailinglists35,

Did libleak produce any information?
Did you upgrade to 1.23.2, and did it have any impact on your memory consumption?
Assuming that you did upgrade, how has the memory consumption changed since the restart?

[2020-08-07 18:32] manos-saratsis commented on #9040
@jaydio It's prioritized and mid September it will be out.

[2020-08-07 18:54] joestringer opened #9691 "Security policy does not specify how non-netdata people can report vulnerabilities"
It appears that the security policy as currently written requires an @netdata.cloud account on Google Groups to "create a post". When following the link on the [security page](https://github.com/netdata/netdata/security/policy) (https://groups.google.com/a/netdata.cloud/forum/#!newtopic/security), users not signed in with such an account are directed to an authorization page:

![image](https://use

[2020-08-07 20:27] rymonroe commented on #9671
I have a similar issue where I installed netdata last week without issue and just tried on machine with same specs and got error.

[2020-08-07 21:00] thiagoftsm commented on #9689
@ovizii what you wrote makes sense to me, but I am not a docker specialist.
@ilyam8 can you confirm that to map the `health_alarm_notify.conf` is enough to have alarms working on docker? Is it also necessary to do some network configuration?

[2020-08-07 23:27] ilyam8 commented on #9689
Do you have mail server running on the host?

[2020-08-07 23:44] ilyam8 commented on #9689
Yes, dont edit it with `vim`, its default behavior is to create a file and replace the old one which changes inode. (changes are not propagaged if i remember it correctly).

[2020-08-08 04:04] git1977 opened #9692 "Is there a way to open port 19999 automatically during installation"
Can we open automatically the needed port(default 19999) during netdata installation?

[2020-08-08 08:00] nikobearrr commented on #9483
In order to see a list of my nodes on the left menu do I need to have streaming enabled?

[2020-08-08 09:15] camjesus2 commented on #9640
Hy Ilya,
thanks for all your help. Good to know it's not a bug but a configuration
issue.
I still can't monitor samba even though I could in the past.
I'm just not really sure where to go from here.
Any ideas, again would be appreciated.

Best regards,
Carlos

Ilya Mashchenko <notifications@github.com> escreveu no dia sexta, 7/08/2020
à(s) 12:39:

[2020-08-08 12:20] ilyam8 commented on #9580
ok, i tried to reproduce the problem but couldnt

- i created `TEMP_DUMMY` interface

[code]

- created `snmp.conf` (collect `ifHCInOctets` and `ifHCOutOctets`)

[code]

- restarted `netdata.service`

There are two charts on the dashboard: in/out for `lo` and `temp` interfaces

- deleted `TEMP_DUMMY` interface

[code]

- checked the dashboard

No problems with charts, i see `snmp` section

<img wi

[2020-08-08 12:32] ilyam8 commented on #9580
No, it doesnt. I pull everything in one chart (in_temp, out_temp, in_lo, out_lo), despite the error module keeps collecting `lo` iface data.

[2020-08-08 12:42] ilyam8 commented on #9692
@git1977 what do you mean? Open where?

[2020-08-08 12:43] ilyam8 commented on #9692
You mean some firewall?

[2020-08-08 12:48] Steve8291 commented on #7557
I'm no longer seeing the issue I mentioned when trying to `systemctl stop netdata.service`
The only error I get is in regards to `reset_netdata_trace.sh` which I don't think has anything to do with this issue.
`Process: 2567 ExecStopPost=/usr/libexec/netdata/plugins.d/reset_netdata_trace.sh (code=exited, status=1/FAILURE)`

[2020-08-08 13:17] ilyam8 commented on #9580
It is because of broken (i think?) log flood control

https://github.com/netdata/netdata/blob/3d33eea007967ffe70f7918e6b617366cb34dd28/collectors/node.d.plugin/node_modules/netdata.js#L174

error log function

https://github.com/netdata/netdata/blob/3d33eea007967ffe70f7918e6b617366cb34dd28/collectors/node.d.plugin/node_modules/netdata.js#L287-L294

---

So it **only logs one error** during collect

[2020-08-08 13:31] ilyam8 commented on #9580
@nikobearrr

[2020-08-08 16:10] nikobearrr commented on #9580
Hi @ilyam8 , thank you for the effort.
I will come back to you with debug data as soon as possible

[2020-08-08 19:06] Abjorge95 commented on #9612
Greetings,

This is great, didn't know, thank you very much for the reply :)
This is exactly what i was looking for!

Kindest regards.

[2020-08-09 00:14] git1977 commented on #9692
I have my machine on AWS EC2. I am thinking if there is a way to open the port 19999 automatically without doing it manually on AWS security group.

[2020-08-09 07:57] xPaw commented on #9581
Fixed I think.

[2020-08-09 07:57] #9581 closed

[2020-08-09 08:29] alexcavazos67 commented on #9649
mysql user missing. SOLVED.

[2020-08-09 08:29] #9649 closed

[2020-08-09 10:59] andrew-kennedy opened #9693 "How to make netdata docker container run on rootful podman?"
##### Question summary
In principle, netdata docker containers should be able to be run on fedora under podman as long as they run as rootful podman. However, the provided instructions do not allow the docker container to run in podman. Can anyone point me in the right direction to get this running in a container on fedora 32 without installing docker?
##### OS / Environment
Fedora 32, podman 2.0.

[2020-08-09 11:45] #9516 closed

[2020-08-09 15:55] thiagoftsm commented on #8816
Hi @dpsy4 and @amoss ,

I observed that our `netdata-swagger.yaml` has the definition for the object:

https://github.com/netdata/netdata/blob/4a4696e091cdc4deb8f482b3f837153a9c666d33/web/api/netdata-swagger.yaml#L1547

I also used the [link](https://apitools.dev/swagger-parser/online/) you gave us with the URL `https://raw.githubusercontent.com/netdata/netdata/master/web/api/netdata-swagger.yaml`

[2020-08-09 15:55] #8816 closed

[2020-08-09 15:58] thiagoftsm commented on #9483
Hi @nikobearrr ,

Yes, you need to have streaming enabled to see them.

[2020-08-09 16:00] thiagoftsm commented on #7557
Hi @Steve8291 ,

The error with `ExecStopPost` looks like a possible problem with RPM or DEB installation, did you install your Netdata using one of these methods?

Best regards!

[2020-08-09 16:34] Steve8291 commented on #7557
Thanks @thiagoftsm I installed with the install script from netdata docs. I'll try reinstalling to see if it goes away.

[2020-08-09 17:12] thiagoftsm commented on #9612
I am glad I could help you. :)
I am closing this question now, but be free to reopen if you need another help in this direction.

Best regards!

[2020-08-09 17:12] #9612 closed

[2020-08-09 17:16] thiagoftsm commented on #7557
@prologic and @Ferroin, please, take a look in our service installation, when I tested on a VM I thought everything was OK, but it is possible I missed something.

[2020-08-09 18:21] nikobearrr commented on #9483
Thank you for the info @thiagoftsm

[2020-08-09 18:21] #9483 closed

[2020-08-09 18:44] ilyam8 commented on #9692
No, i dont think we can do it during install. I suggest to ask aws support.

[2020-08-09 18:44] #9692 closed

[2020-08-09 19:08] tixetsal commented on #9035
Anyone have any ideas? I would think that this is affecting a large number of folks, but maybe I don't understand the target audience or am using netdata in a weird way with basic auth and apache reverse proxy. *?*

[2020-08-09 19:14] nyetwurk commented on #8384
I'm also seeing alerts being triggered on negative values
[code]

[code]

[2020-08-09 19:23] Steve8291 commented on #7557
@thiagoftsm @prologic @Ferroin Just uninstalled netdata on Ubuntu 18.04.5 LTS (bionic) and reinstalled with the kickstart.sh Still getting that same error when I stop netdata with `systemctl stop netdata.service`
[code]

[2020-08-09 23:43] thiagoftsm commented on #9154
Hi @llevet ,

I executed two tests now that can help us to understand better the problem. Firstly I had the following environment:

-  Virtual Machine using CentOS 7.8.2003, Kernel 3.10.0-1127.18.2-el7 and OpenSSL 1.0.2k
-  Browser Firefox 68.11-0-1.el7

All the packages were installed today, I used `yum`. On this scenario I started the X graph using `startx` and I did not have any problem to acce

[2020-08-10 01:12] HuyQuachHCM commented on #9653
@prologic Thank you so much.

[2020-08-10 01:12] #9653 closed

[2020-08-10 06:59] mfundul commented on #9675
@marcelmfs can you recompile the netdata agent with debug information so that we can figure out what's going on?

You can replace the existing installation by reinstalling from the git master branch as follows:

1. Download the source code:
[code]

2. Install the address sanitizer to catch the memory corruption:
[code]

3. Reinstall the netdata agent with the required debug flags:
[code]

This way

[2020-08-10 07:13] mfundul commented on #9363
@gaia In these logs you sent me I can see only information only for the date "2020-08-07". During this period there is only one netdata agent shutdown, which was triggered by a SIGTERM signal, probably the auto-updater process that updates the netdata agent. However, there was a crash during shutdown, (cc @stelfrag):
[code]

This may be seemingly different from the original issue in the way it man

[2020-08-10 07:57] cakrit commented on #9691
Thanks for the report, the fix is in #9696

[2020-08-10 08:37] cakrit commented on #6975
High priority, let's get this working soon.

[2020-08-10 08:47] cakrit commented on #6592
How about converting the response to be compatible with https://shields.io/endpoint? Then people can use shields.io.

[2020-08-10 08:47] marcelmfs commented on #9675
@mfundul It's done, as soon as I detect it again I'll paste the log section here.

[2020-08-10 09:02] cakrit commented on #9580
The interesting thing to verify is this: Given X OIDs to collect, Y SNMP get request should be done, with X < Y. Say X=6 and Y=2, so each request attempts to get data for 3 OIDs (don't know how exactly the array is getting spliced to tell you the truth, so this is hypothetical). If an invalid OID exists in the first request, all 3 OIDs should return no value. But if the other 3 OIDs in the second

[2020-08-10 09:12] cakrit commented on #8739
I believe that this was broken by #7769 caused by a probably erroneous bug report in #7756
I will verify and do a PR to fix it, if that's the case.

[2020-08-10 09:16] nikobearrr commented on #9580
@ilyam8

This is the exception I get:

[code]

When I run the `node.d.plugin debug` command I cannot see anything related to this device. It seems the snmp module makes a new check when starting as it does not even create the charts.

[2020-08-10 09:31] ilyam8 commented on #9580
ok, that is another error `NoSuchName`, in my tests it was `NoSuchInstance`

this branch

https://github.com/netdata/netdata/blob/9954ccf952893428475e7b3da58b8df57659fd13/collectors/node.d.plugin/snmp/snmp.node.js#L245-L251

my tests branch

https://github.com/netdata/netdata/blob/9954ccf952893428475e7b3da58b8df57659fd13/collectors/node.d.plugin/snmp/snmp.node.js#L252-L266

[2020-08-10 10:05] vlvkobal commented on #9368
Are you running Netdata in a container or on a host?

[2020-08-10 10:10] vlvkobal opened #9697 "Directory structure has been changed in LXC 4.0"
Posted in "No longer getting all metrics from LXD containers after switch to Snap", but defines a new issue:

This issue has now reverted for me, as of a few versions ago. I am up to date on `v1.23.1-77-g013c9da6` and seeing the exact same symptoms as before.

I am also seeing lots of the error messages in my error log you refer to earlier:

`2020-07-13 12:45:06: netdata INFO  : PLUGIN[cgroups] :

[2020-08-10 10:12] vlvkobal commented on #9697
Directory structure [has been changed](https://linuxcontainers.org/lxc/news/#major-changes) since LXC 4.0

[2020-08-10 10:28] vlvkobal commented on #9697
@Kramerican @webdock-io, #9645 is ready. You can build Netdata from source and test it.
[code]

[2020-08-10 10:39] cakrit commented on #8739
I verified it, #9698 has the fix.

[2020-08-10 11:19] prologic commented on #9653
You're welcome! 🤗

[2020-08-10 11:31] Kramerican commented on #9697
@vlvkobal It works almost perfectly.! I have sent you an email with some comments / questions regarding a few metrics which I can no longer find. But in general this seems to work

[2020-08-10 11:40] Ferroin commented on #8961
@prologic Unless something has changed while I was gone, we _still_ do not support linking against a system copy of LWS, even if it was built with the 'correct' options for our usage. That's part of the reason this was opened in the first place, until we properly support using system libraries for all the stuff we currently bundle that does not need custom patches, we have features that cannot be

[2020-08-10 11:42] amoss commented on #8961
The plan that we agreed was to add explict `--using-xxx` flags to `configure` to allow explicit override of libraries for an experienced user. It is still planned that we will do this, although we have high priority task right now.

[2020-08-10 11:47] prologic commented on #7557
@thiagoftsm / @amoss I've read through this issue, its not clear to me what's going on or what's being asked of @Ferroin and i?

[2020-08-10 11:49] Ferroin commented on #8527
Per https://aws.amazon.com/about-aws/global-infrastructure/regions_az/, AWS appears to have availability zones in Beijing and Ningxia with edge nodes in Bejing, Shanghai, Ningxia, and Shenzhen. That may be an option if we really want hosting inside China.

[2020-08-10 11:50] prologic commented on #9242
Thanks @thiagoftsm !

[2020-08-10 11:51] prologic commented on #9239
@amoss Yeah it was collecting all related issues here. We can close it I think as we have separate ones now to fix and I've not seen anymore to collect here. Closing...

[2020-08-10 11:51] #9239 closed

[2020-08-10 11:53] Ferroin commented on #9624
It should have been fixed indeed. I'll try and look into it today.

[2020-08-10 11:56] startryst commented on #8527
it's "another AWS" if you wish to go, even better for China users, but not the same AWS for you.

[2020-08-10 12:05] srcshelton commented on #9686
Actually, belay this - in addition to the one-off storm of bad packets, I've found that I've got a random IoT device hub which is seemingly probing the internal network on a particular UDP port which my iptables rules are then dropping, leading to the `net_*` metrics (which, now I've looked again, I see only cover the past 10 minutes) being non-zero.

So it's a valid alert, but one which I can't r

[2020-08-10 12:10] Ferroin commented on #9663
Discussion in #3327 regarding stacked charts is probably relevant here.

[2020-08-10 12:15] Kramerican commented on #9368
What I'm seeing seems related to this -

It looks like Netdata is only showing the virtual ethernet devices we create in order to do IP filtering which are now variably named, e.g.:

cgroup_CONTAINERNAME_submenu_net_veth1c02ddf6;theme=slate;help=true

Before we could grab metrics from the "actual" ethernet interface in the contaier, i.e. eth0:

` cgroup_lxc.payload.CONTAINERNAME.net_eth0`

Which w

[2020-08-10 12:17] Kramerican opened #9699 "Disk space utilization for LXD storage pools no longer present (LXD 4.2)"
I cannot find disk space utilization anymore - before we could access disk utilization with:

`disk_space._var_lib_lxd_storage_pools_lxd_containers_CONTAINERNAME`

But I cannot for the life of me find storage pools anywhere on the latest LXD and latest Netdata

[2020-08-10 12:18] splastunov commented on #9627
@ilyam8 thank you for test.
What OS are using for tests?

[2020-08-10 12:23] prologic commented on #9162
Not stale

[2020-08-10 12:29] amoss commented on #7557
@vlvkobal Is this a current issue on Arch Linux or should the issue be closed?

[2020-08-10 12:54] mfundul opened #9700 "Memory corruption in child streaming"
##### Bug report summary

When setting up streaming with one child host and one parent host the address sanitizer always aborts the child netdata agent.

[code]

##### OS / Environment

Both the child and parent hosts are:
[code]

##### Netdata version

netdata v1.24.0-8-ge90b4bc0

##### Component Name

##### Steps To Reproduce

1. Install the netdata agent in the parent and child host with the fo

[2020-08-10 13:05] thiagoftsm commented on #7557
@prologic  I remember we had this problem in the past, but I thought it was fixed, I am waiting @vlvkobal confirmation.

[2020-08-10 13:06] #9691 closed

[2020-08-10 13:13] marcelmfs commented on #9675
@mfundul it happened just now:

[code]

I'll update here as they keep coming.

[2020-08-10 13:14] mfundul commented on #9662
I've reproduced this. The way to do it is to create an invalid list of labels for the child node that is streaming. I added the following in the child's `/etc/netdata/netdata.conf`:
[code]
The first label has got a null value and causes this crash.

[2020-08-10 13:16] mfundul commented on #9662
@raduburla is it possible you have an invalid `[host labels]` section in one of your child nodes?

[2020-08-10 13:19] lds-lds commented on #9368
@ vlvkobal  : netdata run on the host.

[2020-08-10 13:19] Ferroin commented on #9677
This has been discussed before (though i do not recall where). Quite simply, we cannot support the `--target` option with the static install as we have to determine default paths at build time and the static install consists of an already built copy of Netdata.

The correct fix here is to remove the `--target` option from the static installer.

[2020-08-10 13:25] mfundul commented on #9700
Valgrind:
[code]

[2020-08-10 13:29] mfundul commented on #9675
@marcelmfs that's great! Since the address sanitizer output is kind of useless for some reason in CentOS 7 can you send the netdata binary `/usr/sbin/netdata` to markos@netdata.cloud so that I can run `gdb` against it?

[2020-08-10 13:35] Ferroin opened #9701 "[Bug]: Systemd service file should properly honor what user Netdata is configured to run as."
Currently, the systemd unit files we install blindly assume that the Netdata user and group names are `netdata`. While this works for the common case, it fails horribly in two cases:

* The user has installed with different username for the `netdata` user.
* The user has configured Netdata to run as a different user than the `netdata` user.

A reliable solution to this is non-trivial, and probably

[2020-08-10 13:45] vlvkobal commented on #7557
I've checked the exiting process on Arch Linux. I can't see the problem anymore. I'm closing the issue.

[2020-08-10 13:45] #7557 closed

[2020-08-10 13:47] cakrit commented on #9296
This is how it works, starting at https://github.com/netdata/netdata/blob/master/web/gui/main.js#L2945
For stable versions, we check the github releases. For nightlies, we check GCS. code is copied below for convenience.

Why do we have different version numbers for Docker? Do they at least have the same format? Are we supposed to be looking elsewhere for docker?

It's not a trivial change to impl

[2020-08-10 13:47] Ferroin commented on #7905
Still have not heard back from PackageCloud on this. There's been some internal discussion of moving to self-hosting our own repos (though that's kind of stalled at the moment pending upcoming changes to how we handle binary packages) which will likely functionally resolve this.

[2020-08-10 13:47] cakrit commented on #9296
BTW I did the last changes on this code, so I can pick it up, if we need to change it.

[2020-08-10 13:51] Ferroin commented on #6865
This has been root-caused as an issue in our handling of the environment on startup. We're unconditionally setting `$HOME` instead of preserving any existing value that may be set, which leads to us using the wrong Python search paths. In theory I could fix this myself, but it's almost certainly better to have someone from @netdata/agent do so as I'm not a C dev.

[2020-08-10 14:00] llevet commented on #9154
Hi thiagoftsm,

I access to Netdata from my desktop windows 10 with Firefox or Chrome latest version.

Trying to access Netdata in local is not relevant to real normal operation. It use loopback interface who use non standard MTU and haven't problem of packet order.

The negotiation of SSL /TLS version is between the server and the client at the beginning of the connexion. So, the problem is clear

[2020-08-10 14:06] Ferroin commented on #9689
As of https://github.com/netdata/helper-images/pull/82 being merged, we bundle msmtp in the Docker image in a way that allows Netdata to use it directly for email notification delivery. You will need to modify the `/etc/msmtrc` file in the container to correctly configure msmtp to relay to a valid mail server. The Arch Linux wiki has [a page about msmtp](https://wiki.archlinux.org/index.php/Msmtp)

[2020-08-10 14:17] mfundul commented on #9675
Thank you @marcelmfs , I need your help a little bit more unfortunately. Since the program crashed in debug codepath, I'd like to see where the problem lies in production. So can you reinstall with somewhat different arguments? It should be:
[code]

[2020-08-10 14:23] cakrit commented on #9254
@youreunwelcome I expect that the issue is caused by Netdata's attempt to show a gauge chart for each one of the 48 cpus you have there. Can you please look at
https://github.com/netdata/netdata/blob/master/web/gui/dashboard_info.js#L1711
through
https://github.com/netdata/netdata/blob/master/web/gui/dashboard_info.js#L1835
and start commenting out sections until you stop having problems?  The fir

[2020-08-10 14:25] cakrit commented on #9254
Of course we'll need to fix our default dashboard as well. @vlvkobal is it safer to just leave out the section on the CPUs? What do you think?

[2020-08-10 14:28] stelfrag commented on #9658
Update:

- Initialize SQLite database (under /tmp/database for now) and a `dimension` table as follows:
   - `CREATE TABLE dimension(dim_uuid text PRIMARY KEY, chart_uuid text, id text, name text, multiplier int, divisor int , algorithm int, archived int, options text);`
   - The database connection is configured with `PRAGMA synchronous=0`
      - For the same metadata log dataset (a few thousand

[2020-08-10 14:29] mfundul commented on #9675
heap-buffer-overflow on:

[code]

Allocated by:
[code]

[2020-08-10 14:33] raduburla commented on #9662
I never touched that section of netdata.conf but just to be sure i reinstalled netdata to get a fresh netdata.conf.
So I ma running the latest nightly on child (netdata v1.23.2-151-nightly) but the problem still exists. Only conf file changed is stream.conf.

When installing I also get this error, maybe it helps

[code]

My stream.conf file
[code]

All my other child nodes (4 of them) are configur

[2020-08-10 14:34] git1977 opened #9704 "Netdata dashboard not showing statsD"
I have netdata on a ubuntu machine and I have followed(everything above the section '**What is StatsD for?**') the following [link](https://magmax.org/blog/midiendolo-todo-con-statsd/) to send metrics to console and I do see the metrics on the console. I opened the port 8125 as well, but dont see statsD in the netdata dashboard. I am trying to figure out what am I missing here? I also tried to cha

[2020-08-10 14:42] cakrit commented on #6865
The value env variable "HOME" can be provided in `netdata.conf` `[global]` section, `home directory`. (See https://github.com/netdata/netdata/blob/master/daemon.main.c#L544)
The default value is `CACHE_DIR`, i.e. the same as the cache directory (https://github.com/netdata/netdata/blob/master/daemon/common.c#L14)

So to set a better default value, we could perhaps define one more directory like the

[2020-08-10 14:43] vlvkobal commented on #8359
@Gankarloo There are the following messages in your `error.log`
[code]

Could you run
[code]
and check if any of these messages have changed?

[2020-08-10 14:44] cakrit commented on #6865
Where do we use `HOME` though, other than in Python? Tests to verify that we're setting it correctly can be done just by playing with `netdata.conf` and then we can modify the code to get a better default.

[2020-08-10 15:07] ilyam8 commented on #9627
it is manjaro, i didnt setup parent/child setup really, i tested just having a lot of entries in the `stream.conf`

[2020-08-10 15:19] marcelmfs commented on #9675
OK, just to let you know that with that build options my monitoring broke altogether. None of my custom metrics were being plotted. As a matter of fact not even my central netdata instance was plotting correctly.

[2020-08-10 15:43] mfundul commented on #9675
Those options shouldn't have broken anything, that's very strange... In any case, you can reinstall the official build via the official method to get back to where you were. If something has gotten very wrong and you can't seemingly bring monitoring up for any reason, a safe hint is to delete the cached metrics in `/var/cache/netdata/dbengine/*` but this means you delete all metric history.

[2020-08-10 15:48] vlvkobal commented on #9254
We also probably have problems with the number of dimensions our dashboard is able to display flawlessly.

It looks like another bug I noticed today while I was working on LXC bugs. All containers with names `lxc.payload.*` were aggregated on a single menu item `lxc`.

@youreunwelcome what version of LXC do you use? Is it 4.x?

I don't think that 48 charts or dimensions should be considered as a c

[2020-08-10 15:59] cakrit commented on #9065
@thiagoftsm can u please fix the hard-coded https mentioned in https://github.com/netdata/netdata/issues/9065#issuecomment-631849380? It doesn't look like the `url` param will have the protocol (http/https), but the `web_client` struct _should_ have the hint required to select between http and https.

[2020-08-10 16:13] thiagoftsm commented on #9154
Hi @llevet ,

I agree with you, I tested on CentOS using its default browser, to verify that the problem was happening independent of specific configuration, after to have success with this approach, I started to consider that TLS version was the main reason for we have problems. I did not have the same error than you, but I also had other TLS/SSL errors.

Probably if the browser is configured to

[2020-08-10 16:26] amoss commented on #9203
Closing as I could find a way to replicate this.

[2020-08-10 16:26] #9203 closed

[2020-08-10 16:32] Ferroin commented on #9624
OK, tested a bit, and I cannot reproduce this locally in my CentOS 7 test VM (but that's unsurprising since that's what I used to test the changes that originally fixed this). I'll try with RHEL Docker images shortly and hopefully have better success there.

[2020-08-10 16:36] Saruspete opened #9705 "netdata.spec: libbpf is bundled even though it is disabled at compile time"
##### Bug report summary
When bundling for RHEL6, the specfile does not check if EBPF is available and fails to compile it.
In more recent versions the collector should not be available (from config) but still manages to compile and get packaged.

##### OS / Environment
RHEL6.10. Should be appliable to all redhat versions

##### Netdata version
v1.24.0

##### Component Name
netdata.spec.in

#####

[2020-08-10 17:12] marcelmfs commented on #9675
My history is being persisted long term in prometheus, so no harm done in deleting the cache.

Actually, my stop action in the systemd unit deliberately removes the cache every time a restart is executed.

[2020-08-10 17:26] gaia commented on #9363
@mfundul I will be on lookout for it. didn't see it in the current log.

lots of "Failed to flush dirty buffers quickly enough in dbengine instance "/var/cache/netdata/dbengine". Metric data are being deleted, please reduce disk load or use a faster disk". can i slow down data collection?

[2020-08-10 17:33] Ferroin commented on #6865
The problem here is not that we're able to set this value, it's that we do not honor it in the existing environment we get on startup even if we're not configured to ignore it.

IOW, running `HOME=/foo netdata` _does not work_, the value of `$HOME` passed to processes we call will not be `/foo` even if there is nothing in the config that says it should be otherwise.

This, in turn, causes problems

[2020-08-10 18:50] thiagoftsm opened #9706 "Health stopped working"
##### Bug report summary
While I was testing the PR #9698 I observed that initially I did not receive any alarm. After this I decided to clean up the `dbengine` files and starting my tests again, it worked during few hours, but after I change from a branch to another and recompile I stopped to receive any alarm.

In the first time that the problem happend, I observed that I had thousands of errors

[2020-08-10 19:04] git1977 commented on #9704
I figured out, since netdata has statsD server in it, dont need to start statsD server.

[2020-08-10 19:04] #9704 closed

[2020-08-10 19:47] Ferroin commented on #9624
@prologic Can you take a look at this, I'm not having any success reproducing the issues outlined here either in my CentOS test VMs or in CentOS or RHEL docker containers. I'm pretty sure I'm doing something wrong trying to reproduce it, but a second opinion would be appreciated.

[2020-08-10 19:52] ilyam8 commented on #9254
48 is not critical, i confirm it 😄  I tested it working on prometheus collector.

[2020-08-10 20:39] stelfrag commented on #9706
@thiagoftsm  How did you recompile

[2020-08-10 21:18] cakrit commented on #4730
This is released.

[2020-08-10 21:18] #4730 closed

[2020-08-10 21:22] ovizii commented on #9689
thanks for all the pointers, I will check it out this week. Let me close this thread for now although I will re-open it if I have more questions or post some final finding once I've got it running.

[2020-08-10 21:22] #9689 closed

[2020-08-10 21:28] anl opened #9707 "Ubuntu 16.04 deb install of 1.24.0 from pkgcloud fails looking for /usr/libexec/netdata/plugins.d/ebpf.plugin"
#### Bug report summary
Installing netdata 1.24.0 from packagecloud.io/netdata fails on Ubuntu 16.04:

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.24.0

##### Component Name

contrib

##### Steps To Reproduce

1. curl -s https://packagecloud.io/install/repositories/netdata/netdata/script.deb.sh | sudo bash
2. apt-get install netdata

##### Expected behavior

netdata p

[2020-08-10 21:41] thiagoftsm commented on #9706
I always compile using the following command line:

[code]

[2020-08-10 22:16] stelfrag commented on #9706
I verified that the alarm is not triggered (as you described). The USR2 signal (health reload) 'fixes' it without restart but it looks like a bug

[2020-08-10 22:30] CoreyVidal commented on #8055
Has this been addressed or updated in any way? I'm experiencing the same issues from this thread and #7604.

[2020-08-10 22:40] Saruspete opened #9708 "When behind a filtering proxy, react-dashboard hangs for 90sec before showing graphs"
##### Bug report summary
When using 1.24 behind a filtering proxy, the new react dashboard loads the chart definition, is still responsive, but the charts data doesn't load before the query to "app.netdata.cloud" finishes (after 90seconds). Also the buttons "+" and some other are broken (they don't react at all).

This also fails if netdata was configured with --disable-cloud

Note: I don't see th

[2020-08-11 00:03] CoreyVidal opened #9709 "Enabling wmi.conf prevents Netdata from logging in"
##### Bug report summary
When I enable wmi.conf, Netdata no longer loads past the splash page. Removing/commenting out wmi.conf solves it and allows login.

##### OS / Environment

[code]

##### Netdata version

netdata v1.23.2-151-nightly

##### Component Name

go.d.plugin
wmi.conf

##### Steps To Reproduce

I have tested this both on Ubuntu 20.04 (installed natively/bare metal), and separately v

[2020-08-11 01:42] thiagoftsm commented on #9342
Hi @yasharne ,

Firstly I apologize the big delay, but I was busy with other Netdata features.

I worked today debugging deeply the problem that you reported, and I arrived in the conclusion that in reality we have two bugs here and not only one.

I set up an environment that had parent(old master) and child (old slave) with the same Netdata version and configuration(they have the same `health_ala

[2020-08-11 01:52] thiagoftsm commented on #9065
Yes @cakrit . Netdata already has a flag to control the protocol, today I was busy working with health bugs, but tomorrow I will start the day fixing this bug.

[2020-08-11 03:05] git1977 opened #9710 "Changing installation directory"
Looks like netdata installs in /opt/ directory. Is there any option to change it to /etc/ directory?

[2020-08-11 04:48] mfundul commented on #9363
Please send me logs spanning more than a day, ideally I'd like to see a full log from agent start to agent finish, and I will take a look into those warnings.

[2020-08-11 05:03] prologic commented on #9624
Nope I am _unable_ to repro this either:

<img width="1312" alt="Screen Shot 2020-08-11 at 15 00 17" src="https://user-images.githubusercontent.com/1290234/89859083-8265f300-dbe3-11ea-8814-ef63316199dc.png">

I _suspect_ something else is going on here...

@rdifrancesco We need your help to figure this out. Either one of two things is happening... (_really hope its not the later..._):

- Your CA b

[2020-08-11 06:28] cakrit commented on #6865
Plz check PR #9711 then, I just set the default value to the environment's HOME. I started netdata locally and nothing broke, but this one will need some serious testing, in various environments.

[2020-08-11 06:33] nyetwurk commented on #8384
More negative values. Possibly some sort of integer rollover issues
[code]

[2020-08-11 07:01] raduburla commented on #9662
here is the output

[code]

[2020-08-11 07:10] ilyam8 commented on #9709
Hi.

Lets do debug

https://github.com/netdata/go.d.plugin/tree/master/modules/wmi#troubleshooting

[2020-08-11 07:20] stelfrag commented on #9706
The bug was introduced in 1.23.2 when trying to defer health configuration for archived charts

[2020-08-11 07:35] mfundul commented on #9662
The bug is probably caused by this label `"virtualization": ""`.

[2020-08-11 08:03] #9485 closed

[2020-08-11 08:59] mfundul commented on #9662
@Ferroin @prologic this line:
https://github.com/netdata/netdata/blob/56bc902bc6e08d191be8ec8a2c7833f322773610/daemon/system-info.sh#L18
can lead to empty `VIRTUALIZATION` variable.

[2020-08-11 09:54] mfundul opened #9713 "netdata crash during queries"
##### Bug report summary

Netdata crashes with division by zero when dbengine metrics have out of order timestamps:
[code]

The division by zero is as follows:
[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.24.0-9-g6caa2b6
##### Component Name

database
##### Steps To Reproduce

1. Set-up streaming with tens of children.
2. Restart the agent after some time.

##### Expec

[2020-08-11 10:22] vlvkobal commented on #8359
I can reproduce the issue on Proxmox VE 6.2-1. The problem is that the cgroups plugin needs `CAP_SYS_CHROOT` which is not set in the `netdata.service` unit file.

man setns:

@Ferroin @prologic can we simply add `CapabilityBoundingSet=CAP_SYS_CHROOT` to `system/netdata.service.in`?

[2020-08-11 10:35] prologic commented on #9662
We should probably default to "some" value. What though? `unknown`?

[2020-08-11 10:36] amoss commented on #9700
I've got the test up and running with the address sanitizer. What is "some number" of seconds roughly?

[2020-08-11 10:36] mfundul commented on #9662
We can be consistent with the other place:
https://github.com/netdata/netdata/blob/56bc902bc6e08d191be8ec8a2c7833f322773610/daemon/system-info.sh#L30

[2020-08-11 10:38] mfundul commented on #9700
20 seconds maximum?

[2020-08-11 10:38] llevet commented on #9154
Hi thiagoftsm,

I'm just upgrade to v1.24.0-14-g56bc902 and the problem is gone. It is working fine with Firefox, Chrome and Safari.

Thanks.

[2020-08-11 10:53] cakrit commented on #3289
dashboards.js has been completely rewritten.

[2020-08-11 10:53] #3289 closed

[2020-08-11 10:56] cakrit commented on #2293
I don't see this one as something to fix. It doesn't make sense to have the same name with different ids in the same chart. No one will know what they are looking at.

[2020-08-11 10:56] #2293 closed

[2020-08-11 11:35] Ferroin commented on #6865
One other thing I just noticed that's a contributing factor here, our default value for `$HOME` that we're using in the agent (the cache directory) does not match up with what we set for our user (which is the `/var/lib/netdata` directory). Those need to be synced up, and we can't easily change the password entry (it won't help on existing installs, and it runs the risk of breaking user configurat

[2020-08-11 11:42] thiagoftsm commented on #9710
Hi @git1977 ,

How are you installing Netdata? When we compile the branch, we can pass as argument the option `--install /opt`, the command would be:

[code]

Considering that you said that by default it installs on `/opt`, I will assume that you are using another Netdata script, so you can also try the option `--target` to specify a destination.

Best regards!

[2020-08-11 11:44] cakrit commented on #6015
I had forgotten about this and we need to improve this area. The operations that one can do on a metric to apply a function across a given time period should depend on a metric's "ALGORITHM". The following is very relevant:

This is what netdata supports:
[code]

- “absolute” is the same as a prometheus “gauge”, a single value that can’t be summed over time (with another value collected previously

[2020-08-11 11:44] amoss commented on #9700
I had the two node configured the wrong way around. I'm trying it again now - no abort so far but it did detect this:

[code]

[2020-08-11 11:45] kmlucy opened #9714 "MySQL and Postgres missing dependencies"
##### Bug report summary
I updated to v1.24, and my collectors for MySQL and Postgres are no longer working.

Here are the relevant logs:
[code]

##### OS / Environment
I am running in the official Docker container.

##### Netdata version
`netdata v1.24.0-9-g6caa2b65`

##### Component Name
collectors/python.d.plugin/postgres
collectors/python.d.plugin/mysql

##### Steps To Reproduce
1. Pull latest

[2020-08-11 11:48] thiagoftsm commented on #9154
Hi @llevet ,

I am glad with this report. I am closing this issue, but be free to reopen if it is necessary.

Best regards!

[2020-08-11 11:48] #9154 closed

[2020-08-11 11:52] amoss commented on #9700
Replicated the memory corruption. Now I will fix it properly.

[2020-08-11 12:15] vlvkobal commented on #8359
Well, I actually get other messages:
[code]
@Gankarloo have you updated Netdata? What version do you use at the moment? What kind of errors do you have in `error.log`? Have they changed?

[2020-08-11 12:16] vlvkobal commented on #9368
I get a different set of error messages on ubuntu 18.04 with lxd 4.4:
[code]
It's [the same problem we experience on Proxmox 6.2-1](https://github.com/netdata/netdata/issues/8359#issuecomment-671862942).

[2020-08-11 12:18] mfundul commented on #9662
@raduburla can you test the pull request to see if your problem is fixed. You can compile netdata from source in your nodes by doing the following:

[code]

[2020-08-11 12:21] vlvkobal commented on #9368
@lds-lds could you elaborate a bit? Don't you see containers at all or do you have problems with network interfaces?

[2020-08-11 12:24] rdifrancesco commented on #9624
@prologic I had thought there might be an issue with something on my end since initially I was experiencing this issue on my on-prem RHEL6 and RHEL7 servers.  But then I began testing against newly-launched Amazon Linux 2 instances and the issue persisted there, suggesting the problem isn't specific to my on-prem servers and that if it is an issue with the CA bundle, then it's coming "broken" stra

[2020-08-11 12:27] vlvkobal commented on #9368
I've checked log files from @Kramerican once more. His case is clear - the lack of `CAP_SYS_CHROOT`.

[2020-08-11 12:29] cakrit commented on #3361
If this was a problem, it works fine now. The first two charts on the default dahsboard are system.cpu (with 1 sec update every) and system.load (with 5 sec update every). Panning/zooming works fine.

[2020-08-11 12:29] #3361 closed

[2020-08-11 12:31] vlvkobal commented on #9368
@lds-lds what version of Netdata do you use?

[2020-08-11 12:45] prologic commented on #9662
@mfundul And yes here:

https://github.com/netdata/netdata/blob/56bc902bc6e08d191be8ec8a2c7833f322773610/daemon/system-info.sh#L30

We have `none`.

So which do we want? `none` or `unknown`? 😀

[2020-08-11 12:47] mfundul commented on #9662
@amoss will answer this one. In my opinion though, `unknown` means something very different than `none`.

[2020-08-11 12:48] prologic commented on #9662
@mfundul https://github.com/netdata/netdata/pull/9716

[2020-08-11 12:49] prologic commented on #9662
The _issue_ I have is that I'm not convinced we can reliably detect "no virtualisation at all" vs. "we just couldn't figure it out, but it might be" kind of thing.

[2020-08-11 13:27] #9662 closed

[2020-08-11 13:28] mfundul commented on #9662
@raduburla no need to test the Pull Request anymore, it has been merged to master so you can use the one-line official installation method or wait for tomorrow for the nightly updates to be installed.

[2020-08-11 13:30] raduburla commented on #9662
@mfundul I just tested it, it works now :)
No empty host labels now

[code]

Thank you

[2020-08-11 13:32] vlvkobal commented on #9560
@csutcliff please provide the output of `for i in {1..10}; do cat /proc/diskstats; sleep 1; done`.

[2020-08-11 13:44] #6865 closed

[2020-08-11 14:16] #9700 closed

[2020-08-11 14:34] mfundul opened #9717 "netdata crash with streaming set-up during dbengine rotation"
##### Bug report summary

Netdata crashes with heap-use-after-free when dbengine rotates its metrics. In the error log:
[code]

Relevant AddressSanitizer output:
[code]
gdb breakdown:
[code]

Freed by thread:
[code]
##### OS / Environment

[code]

##### Netdata version

 netdata v1.24.0-9-g6caa2b6

##### Component Name

database
##### Steps To Reproduce

1. Set-up streaming with tens of children.

[2020-08-11 15:03] csutcliff commented on #9560
`for i in {1..10}; do cat /proc/diskstats; sleep 1; done
   7       0 loop0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       1 loop1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       2 loop2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       3 loop3 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       4 loop4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       5 loop5 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
   7       6 loop6 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[2020-08-11 15:16] #9706 closed

[2020-08-11 15:40] vlvkobal commented on #9699
The diskspace plugin monitors the disk space usage of mounted disks. You don't have `/var/lib/lxd/` in your system and you [don't have mountpoints for your containers](https://discuss.linuxcontainers.org/t/rootfs-mount-locations-on-the-host-with-snap-lxd/2390/4) anymore. You can check it by running the `mount` command.

Please look at ["How to view the files of your LXD container from the host"](h

[2020-08-11 15:46] smilebasti opened #9719 "Unknown HTTP error during Cloud Claim"
I am having the same issue as #9506. As it was closed i opened this new one.

I ran the automatic one-line installation script on one server which runs Ubuntu 18.04. During the installation i did not have any Errors. Afterwards i created my Cloud-Access on wanted to claim my first Node by copying and pasting the code.

During the claim i got the Error: Failed to claim node with the following error

[2020-08-11 16:04] CoreyVidal commented on #9709
Hey @ilyam8, thanks.

I ran it and the output is long. Over 4,000 lines. I threw it up on Pastebin here: https://pastebin.com/fBsdKG1Y

[2020-08-11 16:15] ilyam8 commented on #9709
I think it is because `\`

[code]

I think disabling `logica_disk` collector will do (quick workaround)

[2020-08-11 16:31] CoreyVidal commented on #9709
Well waddaya know. It worked.

For documentation's sake:

*   I uninstalled windows\_exporter.
*   Reinstalled it:
    `msiexec /i D:\windows_exporter-0.13.0-amd64.msi ENABLED_COLLECTORS=cpu,memory,net,os,system,logon`
*   Confirmed it was serving to http://localhost:9182/metrics (and that it wasn't providing `logical_disk` information anymore)
*   Rebooted my Netdata system
*   $$$

Thanks for th

[2020-08-11 16:32] CoreyVidal commented on #9709
I'm not sure if this is considered fully solved or not. My specific problem is solved, but it does mean something's going on with `logical_disk`.

[2020-08-11 16:36] gaia commented on #9363
here it is, markos. same pword https://we.tl/t-IN9hBcctAK

[2020-08-11 17:25] fettfoen commented on #9707
Same problem here. I installed Netdata with provided Ubuntu 16.04 repo:

deb https://packagecloud.io/netdata/netdata/ubuntu/ xenial main
deb-src https://packagecloud.io/netdata/netdata/ubuntu/ xenial main

Today I updated (apt update/upgrade) my server and got the same error:

[code]

[2020-08-11 17:42] zack-shoylev commented on #9578
@cakrit I'm not sure how much we can rely on pagespeed to drive improvements. It's good to find specific issues, but the overall score does not seem that bad.

If you run it against netdata.cloud, it scores 12.
If you run it against developers.google.com it scores a 45.
For comparison learn.netdata.cloud scores 55.

Some more notes from looking into this:
The script stuff can maybe be improved by

[2020-08-11 17:53] git1977 opened #9720 "From metric name, is there a general logic to grab the unit?"
From netdata metric name, I am trying to grab the unit dynamically. I see that it is mostly the last word. Is it reliable way of doing this or may be there is another logic which is out there.

[2020-08-11 18:19] zack-shoylev commented on #9578
I verified we are running on the latest docusaurus.
The docusaurus conf seems to be properly configured (we don't even use any extra scripts).

@glaszig are the CSS style invalidations happening on Firefox or just Safari?

Otherwise I don't see much we can do unless we can track down the original issue.

[2020-08-11 18:21] git1977 commented on #9710
@thiagoftsm Thank you

[2020-08-11 18:21] #9710 closed

[2020-08-11 18:29] Gankarloo commented on #8359
I haven't looked at this in a long time.
When I find time I'll upgrade and see how it looks.

On Tue, Aug 11, 2020, 14:15 Vladimir Kobal <notifications@github.com> wrote:

[2020-08-11 18:51] zack-shoylev commented on #9578
@joelhans we can discuss further when you are back, but performance mostly looks alright to me. We can maybe get 500ms if we compromise with fonts.

[2020-08-11 19:08] UBERPHP commented on #9035
commit: d34f3ce1fc3fe6bdd46002311bd41a628a79717b
web/gui/main.js:1932

`url: `../${url}`,` -> url: `${url}`,

this should fix. However, I'm not Js expert and not familias with the bug fix flow in github, but  the problem with the path when loading js library via function `loadJs`

[2020-08-11 19:09] ilyam8 commented on #9709
No, it is not solved.

@amoss how should we handle https://github.com/netdata/netdata/issues/9709#issuecomment-672061347

[2020-08-11 20:09] UBERPHP commented on #9035
commit: d34f3ce1fc3fe6bdd46002311bd41a628a79717b
web/gui/main.js:1932

`url: `../${url}`,` -> url: `${url}`,

'../' removal should be the fix. However, I'm not Js expert, therefore I'm leaving it for someone else to fix it the proper way (with a pull request, etc. ) ;)

edit: friendly ping to @Ferroin

[2020-08-11 21:49] thiagoftsm commented on #9065
Hi @cakrit and @asdokfgsopdkg ,

The protocol was only part of the necessary changes to fix the bug with the PR https://github.com/netdata/netdata/pull/9722.
@asdokfgsopdkg I have two questions for you to confirm that all possible scenarios were covered in the [PR](https://github.com/netdata/netdata/pull/9722). I used nginx proxy, because I do not have a GCP HTTPS proxy to test. I could replicate

[2020-08-12 01:10] qidydl commented on #8384
I've been getting this error semi-randomly as well on version 1.24.0 with a pretty basic config (2918 metrics, 437 charts, 174 alarms). I didn't change much in the configuration at all, mostly just configuring the addresses to listen on and notification settings.

![netdata-errors](https://user-images.githubusercontent.com/5160192/89963739-6b8cc400-dc16-11ea-8f93-9247793f3afd.png)

ebpf.plugin see

[2020-08-12 02:42] hffej01 commented on #9660
I'm having the same issues on Centos 8.  With all of the above being installed.

[2020-08-12 03:30] git1977 opened #9723 "How to programatically check if installation is successful and metrics are emitted by netdata"
I have written a small bash script which calls netdata script(kickstart.sh). I would like to programmatically check whether netdata installation is successful and metrics are being successfully emitted on 19999. I am using the following command to check, but getting a 400 bad request.
Please help.

`curl -I http://localhost:19999`

Response:
`HTTP/1.1 400 Bad Request`

[2020-08-12 05:03] stelfrag commented on #9723
Hi @git1977

Similar to what you have written the following will display the last 5 seconds of metrics collection on the `system.cpu` charts dimension `user`

[code]

Example output
[code]

would what be helpful?

[2020-08-12 05:14] git1977 commented on #9723
yes that command works, but in bash script how to gab that command and programmatically determine that there is valid output which indirectly tells metrics are accessible so installation and configuration went all well.

[2020-08-12 06:31] ilyam8 commented on #9723
We use `/api/v1/info` for liveness and readiness probing in k8s

https://github.com/netdata/helmchart/blob/9dfcf366f973edb450b1f08295306a6ea2f6b66c/templates/deployment.yaml#L85-L96

[2020-08-12 06:36] mfundul commented on #9363
This issue may have been fixed by https://github.com/netdata/netdata/pull/9712. Do you use any custom alarms you've written? Please make sure your netdata version is at least `v1.24.0-19` and let's see if this happens again.

[2020-08-12 06:45] mfundul commented on #8384
@nyetwurk @qidydl can you send me your `var/log/netdata/error.log*` files at the markos@netdata.cloud e-mail address?

[2020-08-12 07:08] stelfrag opened #9724 "Memory leak during global GUID map object creation"
#### Summary

When an object of type `GUID_CHAR_TYPE` is about to be created but already exists, the memory allocated is not released
inside the `find_or_generate_guid` function.

Sample valgrind output:

[code]

[2020-08-12 07:29] lds-lds commented on #9368
I update regularly. now i use netdata v1.24.0-19-g914b1199

The problem is a little different with this version of netdata.
I have in the netdata interface entries for "lxc.monitor.containername" with cpu mem sections that do not contain any data. And "lxc.payload.containername" entries with cpu mem disk sections containing data

So for each container I have empty lxc.monitor (cpu mem) entries, an

[2020-08-12 07:37] vlvkobal commented on #9560
Look at https://github.com/netdata/netdata/issues/5744#issuecomment-479379202. In your case, the problem is the same - wrong major and minor numbers
[code]
You can try applying #5799 as a temporary workaround, but in general, it is better to look for a correctly working NVMe driver.

I'm closing this in favor of #5744.

[2020-08-12 07:37] #9560 closed

[2020-08-12 07:37] vlvkobal commented on #5744
The analogous issue (#9560) is happening on Proxmox 6.2 5.4.44-2.

@csutcliff if you get any additional information/ideas, feel free to reopen the issue.

[2020-08-12 07:47] lds-lds commented on #9368
i have this for each container in error log

2020-08-12 09:28:00: cgroup-name.sh: INFO: cgroup 'lxc.monitor.rproxy' is called 'lxc.monitor.rproxy'
2020-08-12 09:28:00: /opt/netdata/usr/libexec/netdata/plugins.d/cgroup-network INFO  : MAIN : running: exec /opt/netdata/usr/libexec/netdata/plugins.d/cgroup-network-hel
per.sh --cgroup '/sys/fs/cgroup/cpu,cpuacct/lxc.monitor.rproxy'
2020-08-12 09:28:00

[2020-08-12 07:48] lds-lds commented on #9368
2020-08-12 09:28:01: /opt/netdata/usr/libexec/netdata/plugins.d/cgroup-network ERROR : MAIN : there are not double-linked cgroup interfaces available.

[2020-08-12 08:11] vlvkobal commented on #9368
@lds-lds Please test #9726, it should fix the issue.

[2020-08-12 08:20] Kazyini commented on #9707
Same problem with Debian Stretch.

Repo:

deb https://packagecloud.io/netdata/netdata/debian/ stretch main
deb-src https://packagecloud.io/netdata/netdata/debian/ stretch main

[code]

[2020-08-12 08:27] vlvkobal commented on #9368
I forgot, there is another PR #9645, which fixes the issue with `lxc.monitor.containername` and `lxc.payload.containername`.

I'm closing this in favor of #9697 and #8359 as they are describing the problems separately.

[2020-08-12 08:27] #9368 closed

[2020-08-12 08:31] amoss commented on #9709
We need to validate the chart and dimension names on entry to Netdata, the collector should be modified to map the characters to the allow set.

[2020-08-12 08:42] Mic-Pod opened #9727 "High CPU usage by netdata after upgrade from 1.23 to 1.24"
##### Bug report summary
High CPU usage by netdata after upgrade from 1.23 to 1.24 (stable channel). Top show that ebpf.plugin is responsible for this.

##### OS / Environment
Ubuntu Server 18.04.5 LTS
Netdata installed via bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --stable-channel

##### Netdata version
v1.24.0

##### Component Name
ebpf.plugin

##### Steps To Reproduce
Scr

[2020-08-12 09:04] vlvkobal commented on #9727
Related but are discussed in a wrong issue
https://github.com/netdata/netdata/issues/8242#issuecomment-668397894
https://github.com/netdata/netdata/issues/8242#issuecomment-669988930

[2020-08-12 09:34] #9724 closed

[2020-08-12 09:45] vlvkobal commented on #8810
https://github.com/xcp-ng/xcp/issues/379:

It looks like we can do nothing with the xenstat plugin until the functionality is available from `libxenstat`.

I'm closing this. Please reopen the issue when conditions for further development on the Netdata side are in place.

[2020-08-12 09:45] #8810 closed

[2020-08-12 10:12] stelfrag opened #9728 "Release the memory allocated for the global GUID map on agent shutdown"
#### Summary

When the agent exits the memory allocated for the global GUID map is not released. Although that is not causing a issue
because the memory is reclaimed by the operating system anyway, using e.g `valgrind` to detect agent memory leaks pollutes the output with dozens of entries related to the global GUID map allocations.

e.g.

[code]

[2020-08-12 11:03] ilyam8 commented on #9709
What is allowed set? Why we have those limitations?

[2020-08-12 11:51] svrnwnsch opened #9730 "using dbengine multihost results in connection/data loss to children as a result of "too slow disk""
##### Bug report summary

We have a Parent where 37 children are streaming around 3700 metrics each 2 seconds to parent. With the old dbengine setup per child everything is working fine. After upgrading to 1.24 and deleting the old db cache we now had problems and alerts lik "ipv4 tcphandshake last collected secs = 00:02:10 ago" for many children periodically after ~20 minutes. Looking into the db

[2020-08-12 11:56] mfundul commented on #9730
May be related to #https://github.com/netdata/netdata/issues/8384

Can you share your `var/log/netdata/error.log*` files? You may send them to me at markos@netdata.cloud if you don't want them to be public.

[2020-08-12 12:01] Ferroin commented on #9723
We also use the same endpoint for health checks in our Docker images, and it's what I would personally recommend using for checking that Netdata is running. However, if you want ot actually ensure data is being collected and that the dashboard is being served correctly, you will need to use other endpoints.

[2020-08-12 12:06] svrnwnsch commented on #9730
I looked into the nedata docker container:
[code]

[2020-08-12 12:36] #9697 closed

[2020-08-12 12:41] amoss commented on #9709
I think mainly for efficiency. We have to communicate the chart and dimension names between collectors and Netdata using the plugins.d protocol. They have to be stored in the metadata-log and retrieved. To be useful they have to be passed to the dashboard wrapped in json. The allowed set of characters in the chart names means that we don't have to handle escaping and reformatting separately for ea

[2020-08-12 13:24] startryst opened #9731 "Bandwidth template of net interface is no longer available?"
![image](https://user-images.githubusercontent.com/22472752/90020083-ef5fb280-dce1-11ea-9553-50c6144b3867.jpeg)

As above the bandwidth measurement of network interface is the indicator to show how many traffic is flowing through the interface.

A few month ago, this parameter is available in the alarm list, but no longer there any more`netdata v1.24.0-10-nightly`:

[2020-08-12 13:31] thiagoftsm commented on #9363
@mfundul it looks like the problem was not fixed.

I am running Netdata ` v1.24.0-26-gd897c6512` and I am receiving the same error. In my case this is happening when I send `killall -USR2 netdata`.

I am using the following alarm to debug another bug:

[code]

[2020-08-12 13:32] jacekkolasa commented on #9663
i converted it from `bug` to `feature request`, because this was never working, due to Dygraph.js limitations (thx @Ferroin for linking the issue).

I have built a prototype, by summing the values on FE - i'm attaching a screenshot below. This is kind of a hack, so i hope we won't break anything. I apply it when `chart_type` is `stacked` and `min` property in `/data` response is negative. It would

[2020-08-12 17:11] Ferroin commented on #7590
Confirmed, this is indeed a result of not having the required dependencies at build time.

This should not be as complicated as fixing the static builds was as we do not need a static copy of Snappy for it.

[2020-08-12 17:12] wcallgair opened #9732 "/usr/local/var/lib/netdata/lock missing in 1.24.0"
##### Bug report summary
A fresh installation of a newly compiled netdata v.1.24 yields the following error when running any python plugin:

**Manually creating /usr/local/var/lib/netdata/lock/ fixes the issue.**

[code]
##### OS / Environment
[code]

##### Netdata version
[code]

##### Component Name
Python.d enabled, any plugin will yield same error

##### Steps To Reproduce

1. compile netdata

[2020-08-12 17:14] Ferroin commented on #9494
I _think_ this is fallout from the recent changes to how we handle certificate validation in our static builds. I'll need to look a bit deeper to determine for certain what's going on here.

[2020-08-12 17:22] Ferroin commented on #9494
OK, I _think_ I've figured it out. It looks like cURL is brain-dead and does not default to letting the SSL library sort out certificates if cURL itself cannot find them. I should have a PR up to fix this later today.

[2020-08-12 18:38] zack-shoylev opened #9734 "Unexpected disconnects between parent and child"
Multiple unexpected disconnects.

First brought up in this [community thread](https://community.netdata.cloud/topic/47/streaming-metrics-get-dropped).

##### Bug report summary

[code]

[code]

##### OS / Environment

ubuntu 18.04 using packagecloud .debs.

##### Netdata version
1.23.2

##### Component Name
Streaming

##### Expected behavior
Disconnects resulting in missing data should be mitigate

[2020-08-12 19:24] #9723 closed

[2020-08-12 19:25] git1977 commented on #9723
Thank you guys.

[2020-08-12 22:07] gaia commented on #9363
I have no custom alarms, but i do have different time periods and thresholds for existing alarms (to let them be more forgiving).

regardless, I take it that the issue is confirmed present. I will keep monitoring this issue.

[2020-08-13 05:49] prologic commented on #9065
@thiagoftsm We _should_ also respect inbound requests to the agent and the request schema in all redirect responses. For example you hit an agent with https:// and you have to redirect, make sure your `Location:` header also respects the requested URI schema. It makes no sense to do a redirect from https:// -> https:// on the same origin (_and vice versa_).

[2020-08-13 05:58] prologic commented on #9624
I'm actually following the same _exact_ steps as you are! The only difference is I'm not doing this from inside an AWS environment but on Docker containers locally on an iMac or Virtualbox CentOS VMs.

So... I'm only left with jumping on to a fresh EC2 instance on AWS to figure this out 👍 Unless there's something more you can share from your end? Happy to help!

[2020-08-13 06:42] #8359 closed

[2020-08-13 06:50] stelfrag opened #9735 "Coverity Defect CID 361262"
#### Summary
When a new dimension is created under a chart it must be properly configured so that it can part of the health system so that it can be used in alarms etc.

Currently we do not do the configuration if the dimension is in archive mode. The configuration is done when a dimension switches to non-archive, active mode.

This causes performance/scaling issues because right now the configura

[2020-08-13 07:14] vlvkobal commented on #6481
@webdock-io thank you for providing access to your system! It was much easier to figure out how to fix the issue seeing the live example.

[2020-08-13 08:12] jurgenhaas opened #9736 "Can't use dashboards directly since registration for cloud"
##### Bug report summary

I'm monitoring 50+ hosts in different data centers for years and I usually went to http://ip:19999 to access the dashboard. The host's firewall keeps that port open open just for my local IP.

Since I registered all of the hosts into Netdata's cloud service, that direct dashboard doesn't work anymore. On some hosts it just loads the start screen, on others it also loads t

[2020-08-13 08:41] vlvkobal commented on #9732
Please provide your environment variables.

[2020-08-13 08:42] jurgenhaas opened #9737 "Prometheus may cause API json response to be invalid"
##### Bug report summary

On one of my hosts with GitLab being installed, the API call to http://host:19999/api/v1/allmetrics?format=json&help=no&types=no&timestamps=yes&names=yes&data=average returns invalid JSON:

[code]

The error message reads `SyntaxError: JSON.parse: bad escaped character at line 2 column 150 of the JSON data` which is caused by the `\z` at the end of line 2 and many more fu

[2020-08-13 08:44] ilyam8 commented on #9732
And install parameters

[2020-08-13 08:53] ilyam8 commented on #9737
Hi

quick workaround is to disable

- the job

https://github.com/netdata/go.d.plugin/blob/5f61c42fdd4e0e4b4801d4ac574cc78a5f9a0dec/config/go.d/prometheus.conf#L405-L406

or

- the module

https://github.com/netdata/go.d.plugin/blob/5f61c42fdd4e0e4b4801d4ac574cc78a5f9a0dec/config/go.d.conf#L45

[2020-08-13 09:23] jurgenhaas commented on #9737
Confirmed. I guess the API requires some string sanitization generally before output.

[2020-08-13 09:30] jurgenhaas commented on #9736
OK, this one can be closed because the error was caused by #9737 and the other part of loading the dashboard but not the charts was only a delay of loading caused by an old registry configuration left in netdata.conf from prior the cloud age.

[2020-08-13 09:30] #9736 closed

[2020-08-13 10:13] stelfrag opened #9739 "Data endpoint returns data for parent node instead of child"
#### Summary

Due to possibly an internal state corruption in a multidb environment

##### Initial state

- Parent node **futura**
- Child node **alpine**
- Parent node is down
- Child node is down

- Starting parent
- Access **localhost:19999/host/alpine/archivedcharts**
  - Charts are present in archived mode (as they should be)

- Access **localhost:19999/host/alpine/api/v1/data?chart=system.cp

[2020-08-13 10:43] prologic commented on #9494
Nice work @Ferroin !

[2020-08-13 10:44] prologic commented on #7590
@MykhailoSobol Please note that this is now in our backlog, however if you wish to help out and contribute a PR we can probably get this in sooner. Thanks!

[2020-08-13 10:50] prologic commented on #9578
The _thing_ here is we moved from a docs site using a static site generator to a much more complicated services with a dynamic backend. Not that I _think_ that was a bad idea or anything, just that the expectation that it will ever be as "fast" as it was when we used a static site generator are unrealistic. We _did_ have the option of exploring [Hugo](https://gohugo.io/) as an alternative to the t

[2020-08-13 10:52] prologic commented on #9578
We also don't currently run this through Cloudflare's CDN and Edge proxies at all.

<img width="1038" alt="Screen Shot 2020-08-13 at 20 51 22" src="https://user-images.githubusercontent.com/1290234/90126303-cc4b0680-dda6-11ea-966c-24415bda04d1.png">

We _could_ enable "Orange Cloud" here as a first step?

[2020-08-13 11:01] prologic commented on #8055
I'm _fairly_ certain this has been [well documented](https://learn.netdata.cloud). Please have a look and if this is not the case please open an issue or file a PR addressing this. Thank you!

[2020-08-13 11:05] Dany21000 commented on #7590
Great new, I hope to see the next version. Thanks for your work!

[2020-08-13 11:14] #9494 closed

[2020-08-13 11:16] Ferroin commented on #9494
Fix merged, it should be in the next nightly (which will be out around 02:00 UTC tomorrow). Sorry about how long this sat here with almost no response.

[2020-08-13 11:42] prologic commented on #9707
Confirmed.

[2020-08-13 11:46] prologic commented on #9660
Hi @longtrip1 Can you please confirm the steps you used to attempt the installation? Thanks!

[2020-08-13 11:48] prologic commented on #9714
@ilyam8 Can you please look into ☝️ -- When I made the changes to reduce the size of our Docker images, part of my "Test Plan" was to ensure the Python interpreter on the image was able to `import <module>` as required. If the collectors themselves are looking for something else, then that's a different issue.

[2020-08-13 11:51] ilyam8 commented on #9714
error

https://github.com/netdata/netdata/blob/77714ecb5a9dce56c097a588e87f97980916a9a4/collectors/python.d.plugin/postgres/postgres.chart.py#L8-L16

https://github.com/netdata/netdata/blob/77714ecb5a9dce56c097a588e87f97980916a9a4/collectors/python.d.plugin/postgres/postgres.chart.py#L972-L975

---

tl dr: cant import `psycopg2`

[2020-08-13 11:55] ilyam8 commented on #9714
Oh, it is `psycopg2` - python2

[2020-08-13 11:55] prologic commented on #9701
Can we just simply not allow this in the first place? cc @amoss -- I find allowing "to much" flexibility to be problematic here honestly. It unnecessarily complicates what we have to support and the packaging/ci and testing code/infra we have to write and maintain.

[2020-08-13 11:56] prologic commented on #9701
I also wouldn't call this a "bug" per se so have categorised as an "enhancement". Its really a missing feature of how we package/ship the SystemD Unit.

[2020-08-13 11:59] prologic commented on #9677
Does this _imply_ we would fork Makeself in some way or submit patches upstream to fix this for us?

[2020-08-13 12:00] prologic commented on #9677
I'm "Icing" this as it was reported internally and I _doubt_ any of our users really pay attention to the `--help` of the Makeself self-extracting archive or care too much to diddle with anything beyond just running `kigkstart-static64.sh` like our docs indicate.

[2020-08-13 12:04] thiagoftsm commented on #9363
@mfundul I will give more two additional information that can help to debug this:

- When I send `killall -USR2 netdata` the first time the problem did not happen. It normally happens on the third or fourth time I sent the signal. I was sending the signal every minute while I was debugging the issue #9342.
- Finally something that I observed this morning, this never happens when I am using memory

[2020-08-13 12:05] ilyam8 commented on #9714
[code]

[2020-08-13 12:06] thiagoftsm commented on #9065
This is happening now @prologic, and the tests that  I propose in #9722 considered this scenario.
Thank you to call attention for this.

[2020-08-13 12:11] prologic commented on #9714
Wait... There's something odd going on here. I tested this damnit :)

[2020-08-13 12:12] prologic commented on #9714
https://github.com/netdata/helper-images/pull/84 is merged

but the dependent PR https://github.com/netdata/netdata/pull/9669 is not

:/

Merging now...

[2020-08-13 12:17] rdifrancesco commented on #9624
I'm out of ideas on my end.  If you are able to test against an EC2 instance (Amazon Linux 2 AMI), I'd appreciate it.  Then we'll know we're comparing apples to apples.

[2020-08-13 12:19] prologic commented on #9065
Thanks! And no problems! I wouldn't have mentioned it _could_ I understand and read C which I find cryptic at the best of times 😋

[2020-08-13 12:29] stelfrag commented on #9363
@thiagoftsm

- is this just a parent node ?
- Any children connected at any point in time ? (trying to see if multihost was activated)

[2020-08-13 12:58] Zorgji opened #9741 "Delete unreachable node from room"
[code]

![Screen Shot 2020-08-13 at 7 18 50 PM](https://user-images.githubusercontent.com/36134132/90136711-9e5fc500-dd9a-11ea-900f-030a99b09f4d.png)

[2020-08-13 13:08] prologic commented on #7905
Actually I _don't_ think its terribly hard to do this even now. I _might_ work on this _after_ we fix all the bugs in our backlog!

[2020-08-13 13:09] prologic commented on #9705
@thiagoftsm Can you handle making the build tooling changes here?

[2020-08-13 13:14] prologic commented on #9708
@jacekkolasa Please take a look at this ☝️

[2020-08-13 13:17] prologic commented on #9719
Are we able to see the full output/logs please as well as the `/var/log/netdata/error.log` -- maybe `grep -i aclk`. Please don't include your tokens in the output 👍 cc @amoss

[2020-08-13 13:21] Ferroin commented on #9701
No, this is a bug, we currently support both of these configurations, but do not work correctly in either of them without further user intervention.

Just having Netdata be responsible itself for dropping to the correct user account, always starting it as root, and then making it create the directories it needs if they aren't there (like it should be doing anyway) should fix this, it's just not so

[2020-08-13 13:22] Ferroin commented on #9677
I don't think so, I'm pretty sure it's our install code that's handling the option, not the makeself boilerplate code.

[2020-08-13 13:22] Ferroin commented on #9677
Users have brought this up before, so there are some who are affected by it. I would have linked back to the prior issues about it, but can't seem to find them.

[2020-08-13 13:26] prologic commented on #9720
@ilyam8 ☝️

[2020-08-13 13:27] Ferroin commented on #7905
Indeed, it should theoretically be doable now, it's just not currently top priority. It doesn't matter much for this issue though until we get #7773 dealt with, because we should still be enforcing HTTPS until we have signed packages to prevent trivial MitM attacks.

[2020-08-13 13:30] prologic commented on #7905
Yeah I actually built a repo with a really nice tool, HTTPS enabled and GPG signed. So I'll share this with you on Monday and we can implement it and start hosting our packages (_behind Cloudflare_) say say `pkgs.netdata.cloud`

[2020-08-13 13:31] prologic commented on #9701
Fine 👍

[2020-08-13 13:40] Ferroin commented on #8862
With the merge of #9360, this should be fixed now.

[2020-08-13 13:40] #8862 closed

[2020-08-13 13:49] OdysLam commented on #7005
Our swagger UI [link[9https://registry.my-netdata.io/swagger/#/default/get_data) produces an error in parsing the .json. We need a curly bracket at line 876. I am not sure what file should be changed in order for the registry to be updated.

[2020-08-13 13:56] thiagoftsm commented on #9363
@stelfrag I am not sure if this is happening on `child`, because the `parent` is always dying.

Yes I always have children connected during my tests.

[2020-08-13 14:00] thiagoftsm commented on #9363
An update, I ran a 10 minutes test now using `ram` as memory mode, and I can confirm that the problem is also happening with `memory mode = ram`, but it happens with a smaller frequency.

[2020-08-13 14:08] mfundul commented on #9363
@thiagoftsm if you can reproduce this with a clean netdata cache, with `ram` memory mode then we should probably classify this bug as part of the health AoR.

[2020-08-13 14:15] thiagoftsm commented on #9363
Now that I could recreate the problem with different memory mode, I agree with you, and I think we need to create a new issue for this, the final message is the same, but the source looks like different.

[2020-08-13 14:18] mfundul commented on #9363
We could close the original issue and have @gaia follow the new issue.

[2020-08-13 14:58] thiagoftsm opened #9742 "python.d.plugin ignores SIGPIPE"
##### Bug report summary
While I was debugging the issue #9342 I have observed that every time `Netdata` was crashing, `python.d.plugin` is never closing, this means that this plugin is not considering SIGPIPE.

##### OS / Environment
[code]

##### Netdata version
netdata v1.24.0-26-gd897c6512

##### Component Name
python.d.plugin

##### Steps To Reproduce

1. Start Netdata configured with dbengin

[2020-08-13 15:13] zack-shoylev commented on #9578
I looked at netlify briefly and it seems if you want "Enterprise-grade global edge network" you have to contact them for pricing. But yes, we should put it behind some CDN?

Otherwise, https://www.uptrends.com/tools/cdn-performance-check looks ok to me, but maybe there are better tools to check with.

[2020-08-13 15:39] glaszig commented on #9578
i was able to narrow excessive cpu usage down to when scrolling happens. i'm attaching a profile dump created with fx dev edition 80.0b7 on macOS 10.14.6. hope that helps.

https://silo.glasz.org/netdata-fx-profile.json

i don't think this is a cdn issue:
<img width="281" alt="activity" src="https://user-images.githubusercontent.com/201135/90155737-f4793c00-dd8b-11ea-8a50-f680450fd23b.png">

[2020-08-13 15:52] thiagoftsm opened #9743 "SIGUSR2 shutting down spawn server"
##### Bug report summary

When receives SIGUSR2 in a short interval of time, spawn server is written "EOF found in spawn pipe.", this problem is happening independent of the "memory mode" used.

This is the backtrace when the bug appears:

[code]

The line that is creating the problems is:

https://github.com/netdata/netdata/blob/4464bcc1cc2d4b69f4b7b03351e7c648be8e34c0/spawn/spawn.c#L105

##### O

[2020-08-13 16:03] thiagoftsm opened #9744 "Nefilter plugin ignores SIGPIPE"
##### Bug report summary
While I was debugging the issue #9342 I have observed that every time Netdata was crashing, `nfacct.plugin` is never closing, this means that this plugin is not considering SIGPIPE.

##### OS / Environment
[code]

##### Netdata version
netdata v1.24.0-26-gd897c6512

##### Component Name
Netfilter plugin

##### Steps To Reproduce
1. Start Netdata configured with dbengine an

[2020-08-13 16:33] joelhans commented on #9578
Thanks for the profile, @glaszig. Looking into this is high on my list of TODOs, although I haven't been able to reproduce it myself either, as I've been out the last few weeks.

@zack-shoylev I've been working on some optimizations in the background, but I haven't really proven that anything is making a huge difference yet. I was playing with fonts first, then was going to try lazy-loading the Sw

[2020-08-13 16:46] smilebasti commented on #9719
Ok after a reboot it showed it was already claimed after i tried to claim it again.
I resolved it by unclaiming it and reclaiming the node. Now it worked and it shows up in the Warroom.

[2020-08-13 16:46] #9719 closed

[2020-08-13 16:48] zack-shoylev commented on #9578
Just one more thing @glaszig, do you have GPU (hardware) acceleration enabled in the browser? If it only happens when scrolling this could explain it.

[2020-08-13 16:49] joelhans commented on #8905
Installing on 14.04 should be possible with the PR Costa himself wrote to address this issue: #9198

The caveats of installing on 14.04 are documented in two places:

https://learn.netdata.cloud/docs/agent/packaging/installer#older-distributions-ubuntu-1404-debian-8-centos-6-and-openssl
https://learn.netdata.cloud/docs/agent/claim#claiming-on-older-distributions-ubuntu-1404-debian-8-centos-6

This

[2020-08-13 16:49] #8905 closed

[2020-08-13 16:51] thiagoftsm commented on #9363
I created the issue https://github.com/netdata/netdata/issues/9743 for we work with the problem we I described here.
I am not closing this issue, because it is another source of error.

[2020-08-13 17:01] glaszig commented on #9578
hardware acceleration is off. webgl as well.
<img width="668" alt="perf" src="https://user-images.githubusercontent.com/201135/90163793-dbc25380-dd96-11ea-89d8-0c1eb0bbcfa8.png">
<img width="578" alt="webgl" src="https://user-images.githubusercontent.com/201135/90163825-e7ae1580-dd96-11ea-8f6c-33e826e9fe39.png">

i just noticed, any mouse interaction (hover over links, scrolling) let's cpu usage s