[2018-11-13 13:59] aleks-mariusz commented on #4536
btw ethtool -S is not supported on the bridge interface (nor on the bond0 that is inside the bridge, presuming can't use ethool on virtual interfaces in general).  I can run it on the underlying physical interfaces but there is no dropped fields reported there (and not sure how useful it would be to look at that anyway)

[2018-11-13 14:01] tom-- commented on #3196
@angel333 I use nginx but I agree the HTTP basic auth is most likely what breaks it.

In my config, each host with netdata runs the netdata server on port 19999 on its private VLAN interface. One server provides rproxy for them. Idk if this is equivalent to a DMZ. Its nginx public-facing server block has

        # reverse proxy for netdata monitor server
        location ^~ /net/data {

[2018-11-13 14:13] tsingletonacic opened #4641 "pre-built static binary install script does not detect SLES as systemd OS"
##### Bug report summary

Using the pre-built static binary on SLES (Suse Linux Enterprise Server) 12.3, I get an error at init file registration

 --- Install netdata at system init ---
I don't know what init file to install on system 'sles-12.3'. Open a github issue to help us fix it.
 FAILED  Cannot install netdata init service.

SLES 12.3 uses /usr/lib/systemd as systemd path instead of /lib/s

[2018-11-13 14:15] tsingletonacic commented on #4641
[code]

[2018-11-13 14:30] ncorralreformam opened #4645 "Can't seem to find the external plugins"
##### Question summary

I've been checking out the docs on how to activate plugins but I can't seem to find them. I don't have the /usr/libexec/ folder on my installation. When I go to /etc/netdata/python.d/ the folder has several .conf files but no plugins. Editing python.d.conf and enabling all plugins doesn't seem to enable them on netdata.

##### OS / Environment

Ubuntu 18.04.1 LTS
##### Comp

[2018-11-13 14:44] ktsaou commented on #4536
Please post the output of this:

[code]

[2018-11-13 14:47] Ferroin commented on #4641
Confirmed also on OpenSUSE Leap and Tumbleweed.

[2018-11-13 14:51] paulfantom commented on #4645
How did you install netdata? Were you using installation script?

[2018-11-13 15:00] ncorralreformam commented on #4645
I used `sudo apt install netdata`.

[2018-11-13 15:04] Ferroin commented on #4645
Please double check that the `netdata-data` package is installed as well.  It should get pulled in automatically by installing the `netdata` package, but given what you've said it sounds like it didn't.

[2018-11-13 15:07] ncorralreformam commented on #4645
Yes, it's installed.

[2018-11-13 15:17] kr4ut commented on #3991
Not calling for it but when you go for a community chat avoid free Slack and use https://rocket.chat/
Real Slack is damn pricey and the freemium plan is like crack for an open source community.
Telegram and Gitter are alternatives as well. But features crippled by business model suck long term.

[2018-11-13 15:20] hznovich commented on #4602
('fan1_input', 0, 256, 0.0)
('temp1_input', 0, 512, 27.8)
('temp1_crit', 1, 516, 106.0)
('temp2_input', 2, 512, 29.8)
('temp2_crit', 3, 516, 106.0)
('temp1_input', 0, 512, 43.0)
('temp1_max', 1, 513, 85.0)
('temp1_crit', 2, 516, 105.0)
('temp1_crit_alarm', 3, 643, 0.0)
('temp2_input', 4, 512, 43.0)
('temp2_max', 5, 513, 85.0)
('temp2_crit', 6, 516, 105.0)
('temp2_crit_alarm', 7, 643, 0.0)
('temp3_

[2018-11-13 15:21] Ferroin commented on #4645
Just checked on one of my test VM's.  Ubuntu is apparently weird, and installs the stuff that we normally put under `/usr/libexec/netdata` in `/usr/${ARCH}-linux-gnu/netdata` (so, `/usr/x86_64-linux-gnu/netdata` on 64-bit x86 systems).

[2018-11-13 15:47] Ferroin commented on #4645
Can you post the output of `dpkg-query -L netdata` run as root?

[2018-11-13 15:51] ncorralreformam commented on #4645
Yes, here it is. Looks like it was installed in `/usr/lib/x86_64-linux-gnu/netdata`
[code]

[2018-11-13 15:54] cakrit opened #4650 "Replace all wiki links with repo links in netdata files"
Replace 135 stale references to wiki pages in all md files

[2018-11-13 15:55] Ferroin commented on #4645
Oops, I just realized I forgot the `/lib` part in the paths I mentioned above.  Sorry about the confusion.

So, yes, if you mentally substitute `/usr/lib/x86_64-linux-gnu/netdata` for every instance of `/usr/libexec/netdata` in the documentation, it should be much more helpful.

[2018-11-13 16:10] ktsaou commented on #4574
This is an interesting source for AWS metrics: https://github.com/monitoringartist/grafana-aws-cloudwatch-dashboards

[2018-11-13 17:54] l2isbad commented on #4602
i will try to fix it asap @hznovich

[2018-11-13 18:12] aleks-mariusz commented on #4536
here ya go:

[code]

[2018-11-13 20:14] #4602 closed

[2018-11-13 20:15] l2isbad commented on #4602
fixed in https://github.com/netdata/netdata/pull/4651

[2018-11-13 20:32] cakrit commented on #4416
Internal links in the repo work, but I'm urgently writing the sanity checker because many links don't work when we build the static site. It will also help with #4650

[2018-11-13 22:30] ktsaou commented on #4536
Found it and fixed it in #4653
I have described the bug in detail there.

[2018-11-13 22:31] ktsaou commented on #4536
@MarcusSattler 	thank you for reporting this!

[2018-11-13 23:32] #4536 closed

[2018-11-13 23:36] ktsaou commented on #4593
ok, I missed that gist.

So, in this gist it crashed in `makeself`. In this directory and Makefile does nothing. The crash is inside the toolchain, not in netdata.

I suggest to try it somewhere else. On my tests with FreeBSD it does not crash. If you can find a way to reproduce this, it would be very helpful to find the root cause of it.

[2018-11-13 23:37] ktsaou commented on #4593
@paulfantom 	I removed the `bug` flag. There is no indication that there is something faulty in netdata here. It is probably a corrupted toolchain, or something similar.

@m-d-johnson 	of course, we will update this if you can reproduce this on another installation.

[2018-11-13 23:41] ktsaou commented on #4536
merged the fix.

[2018-11-13 23:42] ktsaou commented on #4536
please update your netdata and confirm this fixed it.

[2018-11-14 03:16] hznovich commented on #4602
Thanks

[2018-11-14 03:41] hznovich commented on #4602
Sensors work now, thanks!!!

[2018-11-14 09:11] ivandal77 commented on #4637
Maybe the problem is in this module:
`single-threaded.c`
sorry for asking, but you have some indication about the fixing time?
Thanks a lot

[2018-11-14 09:40] ktsaou commented on #4637
I suggest to use the `static-threaded` web server, set to 1 thread if you want just one thread for the API.

[2018-11-14 09:52] ktsaou commented on #4637
@paulfantom 	I guess you marked this as bug, to increase/control the number of file descriptors allowed in netdata docker images. ok please do this.

However, the `single-threaded` web server uses `select()` for handling connections and it does not support file descriptors above 1024. The `static-threaded` web server does not use `select()`, so it does not have this limitation and can be limited t

[2018-11-14 10:20] paulfantom commented on #4593
@ktsaou if this is a problem with toolchain we are shipping, then it is a bug. Repository doesn't contain only netdata code, so "bug" can mean a problem with any part that is shipped in this repo.

[2018-11-14 10:32] ivandal77 commented on #4637
Dear all,
I confirm setting  `static-threaded` and `web server threads = 1` fix the problem in docker.
I suggest this as default configuration in docker hub image netdata/netdata.
Thanks to all,

Ivan

[2018-11-14 11:00] aleks-mariusz commented on #4536
actually i'm unsure the original issue that @MarcusSattler opened is the same as the one i provided debug info.. it may be, but his original desc has mention of firewall functionality being related to dropped packets.. i may have inadvertently hijacked his issue because the description sounded "close-enough" to what i and likely @efaden have experienced

may want to confirm with @MarcusSattler his

[2018-11-14 11:02] ktsaou commented on #4637
The default is not `static-threaded`?

[2018-11-14 12:00] ktsaou commented on #4637
So, the default is `static-threaded`.
I guess @ivandal77 	was asking to make `web server threads = 1` the default, but I am not sure why. The default is to use `min(cpu cores, 6)`, so it will use one thread for each cpu core, up to 6.

[2018-11-14 12:07] ncorralreformam commented on #4645
Thank you for the help, I managed to get it working but I had to fix something else. I found out I was missing pyyaml2 module, looks like it's related to this issue https://github.com/netdata/netdata/issues/3854. Fixed it by reinstalling using the quickstart script like it says in the comments, but apparently that issue was fixed back then so maybe `sudo apt install netdata` still gives problems.

[2018-11-14 12:30] ncorralreformam commented on #4645
Also, I just noticed that now I have both `/usr/libexec/netdata` and `/usr/lib/x86_64-linux-gnu/netdata/`. The .conf files from `/etc/netdata/python.d/` are all gone except `mysql.conf`, which is the one I originally edited, and `exim.conf`. I don't know if this has something to do with reinstalling.

[2018-11-14 13:52] ivandal77 commented on #4637
Dear,
`# netdata can generate its own config.
#Get it with:
#wget -O /etc/netdata/netdata.conf "http://localhost:19999/netdata.conf"
#or
#curl -s -o /etc/netdata/netdata.conf "http://localhost:19999/netdata.conf"
#4658 `
 but I curl from the wrong netdata installation.
The correct  generated default part set:
`mode = static-threaded `
`web server threads = 6`
So should be fine, thanks for the supp

[2018-11-14 13:52] #4637 closed

[2018-11-14 14:03] Gino opened #4659 "Can't update to the latest version"
Hi there,

I tried to update my Netdata to the latest version with `sudo ./netdata-updater.sh`.

Unfortunately it gives me merge conflicts, even though I didn't change anything:
`Wed Nov 14 15:01:56 CET 2018 : INFO:  Updating netdata source from github...
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as ap

[2018-11-14 14:09] Gino commented on #4659
Fixed it by running:

[code]

[2018-11-14 14:09] #4659 closed

[2018-11-14 15:07] paulfantom commented on #4659
Sorry about that, we posted info about this issue in 1.11.0 release notes: https://github.com/netdata/netdata/releases/tag/v1.11.0

[2018-11-14 15:59] FedericoCeratto opened #4660 "Monitor disk access latency (e.g. ioping)"
##### Feature idea summary
Monitor disk access latency like ioping does, e.g. a tiny unbuffered read every second

[2018-11-14 17:01] ScrumpyJack opened #4661 "netdata_smartd_log_write_total_err_corrected_errors_average missing in prometheus scrape"
While the metrics appears in api/v1/allmetrics like so ...
[code]

... it does not end up being scraped by Prometheus.

All other smartd related metrics are fine

[2018-11-14 21:41] ktsaou commented on #4593
This is probably a bug in `make` at the specific installation. I can't reproduce on a similar system, so it must be specific to that installation.

[2018-11-14 21:44] ktsaou commented on #4536
ok, thanks!

@MarcusSattler 	sorry for the confusion.
Could you please check if your issue is resolved too?

[2018-11-14 22:29] xciter327 commented on #3469
On first look, I'm missing pf statistics, CARP statistics, IPSec monitoring does not seem, DHCP, DNS, NTP. Traffci shaper monitoring would be awesome to have too.

[2018-11-15 07:06] sohwaje opened #4664 "Not running node.d.plugin!!!"
Not showing snmp section in dashboard.
![notshowing](https://user-images.githubusercontent.com/19942049/48535452-be750280-e8ee-11e8-8431-2cee5955555c.JPG)

##### Question summary

1. I already installed node.js.
#node -v
v6.11.3
2. I configured snmp.conf file.
# vi /etc/netdata/node.d/snmp.conf
![snmp](https://user-images.githubusercontent.com/19942049/48535618-43f8b280-e8ef-11e8-98ba-51a607e29720

[2018-11-15 08:11] h0lzi commented on #4660
my thoughts:
This is more or less already collected via the disk stats. We have service time etc.
Which is more or less the latency just that it's not fixed to 4k requests. So if you have bigger requests the service time is longer. But this way I have latency for my workload and not a "artificial" one with e.g. 4k which I might never have in my app.

Also these stats are collected without adding e

[2018-11-15 09:50] petrukngantuk opened #4666 "What is The Right Role for Netdata MongoDB Python Plugins?"
##### Question summary
I want to enabled mongodb plugins in netdata, but my mongodb is protected with auth, and I want to create different user n role for netdata monitoring, what is the right role for use in netdata monitoring, that can work in all chart?
Anyone can share the command for db.createUser(...) here?

##### OS / Environment
Ubuntu 16.04 Server

##### Component Name
python.d/mongodb.co

[2018-11-15 10:36] l2isbad commented on #4666
Hi @petrukngantuk

You need a read-only user in the admin database

MongoDB 3+

[code]

[2018-11-15 11:01] petrukngantuk commented on #4666
what do you thing about this :
[code]
it's same as yours but can read any database, it's secure right?

[2018-11-15 11:39] petrukngantuk commented on #4619
can I replace the loginctl with who command?

[2018-11-15 12:31] l2isbad commented on #4666
I think your example is OK, but keep in mind i am not a secure specialist, not even a mongo db user honestly

[2018-11-15 12:44] Ferroin commented on #4619
Unfortunately no, the parsing is pretty specific and won't work with the regular `who` command.

[2018-11-15 16:49] zet694 opened #4670 "General issue"
##### Question summary

1) I have set up a telegram notification and a full scan message comes to me, but how to do that would be all the same when the event also came notification? (Why the silence when comes threshold)

Example my config:
[code]

2) How to save all settings if I use docker? (Each time they are reset)
3) How do I add location tracking to specific drives?
4) How can I remove kerne

[2018-11-15 20:12] l2isbad commented on #4615
@MarjanSadat
change `self.path = '/opt/other/test.txt` to whatever you need

[code]

[2018-11-15 20:20] l2isbad commented on #4615
netdata api doesn't support truly dynamic charts, in runtime you can:
* add new charts
* add new dimension to charts

that's pretty much all, you can't delete dimension and delete chart (you can mark it as deleted, but not
 delete)

[2018-11-15 20:40] Firemanjoe commented on #4592
Yeah, I'm not sure how to make it work. I attempted to do it, but it didn't work. I'm still getting the same error.

[2018-11-15 20:44] paulfantom commented on #4592
Did you run what git told you to run? Mainly:
[code]
?

[2018-11-15 21:06] paulfantom opened #4672 "Invalid links in *.md files"
##### Bug report summary

I ran awesomebot against our repo and found two things:
- some links which leads to 404s
- inconsistency in naming of example domains, sometimes it is `box` other times it is `server`, but there is RFC2606 clearly defining what is allowed for use in example domains.

##### Component Name

Documentation

##### Additional information

Command which was run:
[code]

Parsed o

[2018-11-16 00:30] sohwaje commented on #4664
also found.
![node d_2](https://user-images.githubusercontent.com/19942049/48590267-317b8900-e982-11e8-9e66-c05b0a308e60.JPG)

[2018-11-16 08:21] aadityabagga commented on #3252
Authentication is working for me now with **netdata v1.11**

[2018-11-16 08:54] petrukngantuk commented on #4666
so the most secure is

[code]

[2018-11-16 09:18] aadityabagga commented on #4666
Yes, I believe so. Checked the logs and did not find any error relating to mongodb permissions.

If I look at the code, some more commands are run:
https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/mongodb/mongodb.chart.py#L574

With `clusterMonitor` permissions, I am able to run them as well.
https://docs.mongodb.com/manual/reference/built-in-roles/#clusterMonitor

[2018-11-16 09:32] johlandabee opened #4675 "Ubuntu 18.04 apt package is still on v1.9.0, though apt is the recommended installation method"
Installing netdata using the distribution's package manager is the recommended installation method. Thus, the packages should be up-to-date. As for Ubuntu 18.04 `v1.9.0` will be installed using `apt install netdata`.

[2018-11-16 09:40] iselind opened #4676 "Push from subsystem"
##### Question summary

I'm trying to figure out if a subsystem on my devices can somehow push data to the netdata server running on the same device.

All i find are plugins that seem to poll for to get their data when i read the documentation. Some of the data we want to collect isn't suitable to be collected in that way. Using push would be far better.

[2018-11-16 10:06] paulfantom commented on #4675
This is **not** a recommended way of installing netdata. We currently rely on community to package it while we are refactoring our build system to allow such packaging to happen automatically. We have a project tracking this complex problem here: https://github.com/netdata/netdata/projects/13 and also a related one here: https://github.com/netdata/netdata/projects/17

[2018-11-16 10:12] paulfantom commented on #4592
Yes, you need to run those two commands and you can put whatever you want inside quotation marks.

For more information on how git works go here: https://git-scm.com/book/en/v1/Getting-Started

[2018-11-16 10:12] petrukngantuk commented on #4666
I believe it too, I just revoke user role except clusterMonitor, I restart netdata n checked the chart, everything is fine,

please add it too Readme on MongoDB Python.d Section, for better wiki

[2018-11-16 11:44] johlandabee commented on #4675
Sounds good. Though, the docs should probably be updated. [Currently it states the following](https://github.com/netdata/netdata/tree/master/installer#installation):

[2018-11-16 12:33] Ferroin commented on #4676
Netdata provides an implementation of the statsd protocol for situations like this.  More info can be found [here](https://github.com/netdata/netdata/tree/master/collectors/statsd.plugin).

[2018-11-16 14:47] springerst94 opened #4677 "Netdata cpu tags"
Is it possible to use wildcards, i.e.  an * as a wild card in a tag?  I'd like to create a variable that gives me the ability to create a drop down window in grafana - using netdata to feed an influxdb database using an opentsdb format.

the current os is Ubuntu 16.04 on all systems

Kubernetes containers are running

[2018-11-16 19:09] Firemanjoe commented on #4592
Thank you! I have it working, but now I'm getting this error.... ugh! LOL - not sure where to go from here.

pi@TARDIS:~/netdata $ sudo ./netdata-updater.sh -f
Fri Nov 16 15:07:52 AST 2018 : INFO:  Running on a terminal - (this script also supports running headless from crontab)

Fri Nov 16 15:07:52 AST 2018 : INFO:  Updating netdata source from github...
M	.codacy.yml
M	.gitignore
M	.lgtm.yml
U	.

[2018-11-16 20:35] janbildsoehansen opened #4678 "on uinstall from dietpi software uninstaller netdata delete my etc file mappe???"
##### Question summary

sory for my bad english :/

want to delete netdata thru my dietpi software uninstaller just to install it again but after starting my uninstall of netdata sudenly it stop and made a erorr of some sort made a reboot not thinking more about it and then i cant boot up it says im missing some files

but the disk to my mac and can se that im missing my etc file folder now..??

#

[2018-11-16 23:01] ktsaou commented on #4678
Hi,

we are very sorry for that. The uninstaller does not delete anything without asking you. All `rm` commands are run with `-i` which means "ask the user", so it asks you for each and every directory and file it deletes.

Check the code here: https://github.com/netdata/netdata/blob/4e5e060e45f034dca720968d581185733b835748/netdata-installer.sh#L975-L1082

Do you have the console output of the uni

[2018-11-17 00:57] janbildsoehansen commented on #4678
ok but it dit on the uninstall via dietpi :(

all it says it error: file '/grub/i386-pc/normal.mod' not found
entering rescue mode...
grub rescue>

[2018-11-17 06:46] ktsaou commented on #4678
hm... so you installed a netdata package and you uninstalled it.
I don't know how to help you in this case. You should probably as for help at a dietpi community.

[2018-11-17 09:32] janbildsoehansen commented on #4678
haf hade it on my debian system for a wile. and it ditten wann update then i just uinstall it..
and it made a error some how and i reboot my machine and bum no etc folder no apache conf files no ssl certificats.. hade 5 live pages no only one is online for now :I

[2018-11-17 09:45] janbildsoehansen commented on #4678
it there any places to find a log to see what happen..?

[2018-11-17 22:10] kachkaev opened #4679 "Renaming a docker container does not change its name in netdata"
##### Bug report summary

[Renaming a docker container](https://docs.docker.com/engine/reference/commandline/rename/) does not change its name in netdata

##### OS / Environment
* Linux my-hostname 4.4.0-138-generic #164-Ubuntu SMP Tue Oct 2 17:16:02 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* netdata [9a071dea](https://github.com/netdata/netdata/tree/9a071dea2d73f663d9d478703c8c2ae85b4096a3) (being

[2018-11-17 22:50] paulfantom commented on #4679
Name in the UI is taken from the hostname, not from container name. You cannot know about container name from inside of a container unless you mount a docker socket.

[2018-11-17 22:53] paulfantom commented on #4679
Also @kachkaev please tell me how did you install netdata using a docker container AND an ansible role which doesn't use docker containers?

[2018-11-17 23:13] kachkaev commented on #4679
👋 Hi @paulfantom and sorry if I was a bit unclear. The netdata is installed with the ansible role and so it is not sitting in a container. I do have some docker containers running on the same machine though and my issue is with their representation by netdata. Netdata has full access to the docker socket and it can successfully show me all metrics related to the containers. It just feels that it's

[2018-11-18 01:56] efaden commented on #4536
I updated mine, still having the issue on both of my computers.

[2018-11-18 08:17] paulfantom opened #4680 "Issues with prometheus exposed metrics"
##### Bug report summary

Data exposed currently is useless from prometheus perspective. We need to fix:
- [ ] drop timestamp
- [ ] stop doing precalculations, prometheus prefers raw data
- [ ] counters are better than absolute values
- [ ] try to remove `honor_labels: true` if possible

@SuperQ please chime in to identify more issues.

##### OS / Environment

All, system independent.

##### Compo

[2018-11-18 08:39] paulfantom commented on #4670
One by one:

I don't understand, could you explain a bit more what do you want to achieve?

You can mount `/etc/netdata` with configuration files inside a docker container

For others @ktsaou please jump in.

[2018-11-18 08:53] SuperQ commented on #4680
The pre-calculations is probably the easiest quick benefit, since it will reduce the amount of duplicate data output, which will reduce scrape time/bandwidth, and storage requirements to use netdata.

[2018-11-18 08:59] paulfantom commented on #4570
This cannot be fixed in `1.11.0` as we need to modify files inside already released package. #4625 fixed that on a master branch so we can do a bugfix release ex. `1.11.1` with a fix (@ktsaou wdyt?).

TL;DR Problem was in `configure.ac` and it is solved in current master branch.

[2018-11-18 10:58] MarjanSadat commented on #4615
I do not know how to thank you @l2isbad ,I'm sorry for my delay.
i used your code it workde perfectly.thanks

[2018-11-18 11:32] paulfantom commented on #4129
Pros | Cons
-----|-----
easier development | Documentation synchronization
separate release cycles | a bit harder to create a release, we probably will need to decouple release cycles
we can use build system native to a language |
better directory structure, more close to ones used by language |
separate test frameworks |
faster CI feedback loop due to less things needed to be checked |

[2018-11-18 14:34] paulfantom opened #4684 "Add option to do pre-releases in GitHub"
##### Feature idea summary

CI should be able do to pre-releases at the end of milestones. Currently it can only do full releases.

##### Expected behavior

- tag for pre-release is created by CI

Optional:
- pre-release is created in GitHub and artifacts are attached

[2018-11-18 14:40] #4248 closed

[2018-11-18 14:41] paulfantom commented on #3030
Is this solved?

[2018-11-18 14:41] #4133 closed

[2018-11-18 14:43] #4166 closed

[2018-11-18 14:57] cakrit opened #4685 "Collector definition file to assemble collector-related info in one place"
##### Feature idea summary
For each collector, we want a definition file (probably in yaml format) that would support the following:

- [ ] Provide info currently provided in dashboard_info.js (both help text and formatting info).
- [ ] Use it in the plugin where possible (i.e. have the definition of the charts in the yaml file).
- [ ] Generate parts of the documentation (e.g. charts, alarms)
- [

[2018-11-18 15:04] paulfantom commented on #4573
Do you have those packages installed?

[2018-11-18 15:32] paulfantom commented on #4633
You can run netdata-uninstaller.sh.

[2018-11-18 15:34] l2isbad commented on #3729
https://github.com/netdata/netdata/pull/4334

[2018-11-18 15:38] paulfantom commented on #4641
Closing since #4643 is merged. Please reopen if it still doesn't work.

[2018-11-18 15:38] gmosx commented on #2422
But what would be a 'graceful degradation' ? And why would someone want to use Netdata GUI without JavaScript enabled?

[2018-11-18 15:39] paulfantom commented on #4579
We agreed not to do this :smile:

[2018-11-18 15:39] #4579 closed

[2018-11-18 15:44] cakrit commented on #3636
Apologies for not replying this far. Netdata supports versions 2 and 3. Whether your distribution supports either or how to install it is something best asked of the particular community.

[2018-11-18 15:44] #3636 closed

[2018-11-18 15:45] cakrit commented on #4322
Not relevant to the issue

[2018-11-18 15:45] #4322 closed

[2018-11-18 20:50] paulfantom commented on #4456
I am closing this as it is essentially a duplicate of https://github.com/netdata/netdata/issues/3844

[2018-11-18 20:50] #4456 closed

[2018-11-18 20:55] paulfantom commented on #419
There is no plan on implementing updating netdata from netdata itself. This will be also in direct opposition to binary packaging.

[2018-11-18 20:55] #419 closed

[2018-11-18 20:59] paulfantom commented on #2918
Is this still an issue?

[2018-11-18 21:00] paulfantom commented on #2794
I can confirm that this is due to wrong SELinux context.

[2018-11-18 21:02] #2932 closed

[2018-11-18 21:02] paulfantom commented on #2932
Current installation method provides a way to disable auto-updater.

[2018-11-18 21:09] paulfantom commented on #4009
We also moved everything to `/usr` to have the ability to update installed files which weren't modified by a user.

If this issue is still present please reopen it.

[2018-11-18 21:09] #4009 closed

[2018-11-18 21:29] #474 closed

[2018-11-18 23:07] ktsaou commented on #532
This has been implemented with the `static-threaded` web server.
It does not use `epoll()`, but `poll()`, which is considered more efficient for up to 100 client sockets (the most likely for netdata).

[2018-11-18 23:07] #532 closed

[2018-11-18 23:10] ktsaou commented on #3977
Could you please run the freeipmi plugin by hand, using this:

[code]

Leave it running for a few minutes and please post here the output.

[2018-11-18 23:14] ktsaou commented on #503
I am closing this in favor of #531 (just to have one issue for all these cases).

[2018-11-18 23:14] #503 closed

[2018-11-18 23:16] ktsaou commented on #3908
Closing due to inactivity.
If the problem persists, please post here to help us trace it.

[2018-11-18 23:16] #3908 closed

[2018-11-18 23:18] ktsaou commented on #4184
Closing this due to inactivity.
Please post to provide additional information.

[2018-11-18 23:18] #4184 closed

[2018-11-19 07:53] MarjanSadat commented on #101
hi and thanks for netdata,
is it possible to have an authentication like this before seeing netdata??

![77777777](https://user-images.githubusercontent.com/31684355/48693050-6fc8b080-ebed-11e8-9123-4ed71ccd6241.png)

[2018-11-19 08:11] cakrit commented on #4408
Thanks for your report. We've done several updates on the wiki links recentely. These links don't exist there any more.

[2018-11-19 08:11] #4408 closed

[2018-11-19 08:16] l2isbad commented on #3156
#4224 is merged
call to `/api/v0/pin/ls` is disabled by default
upstream [bug isn't fixed](https://github.com/ipfs/go-ipfs/issues/3874) yet

i am closing this

[2018-11-19 08:16] #3156 closed

[2018-11-19 08:17] cakrit commented on #2792
@simonnagl 	are you still working on this?

[2018-11-19 08:19] ktsaou commented on #367
I a changing this to a feature request.
netdata already gives the same color to the same dimension across multiple charts, but it the html interface does not allow setting specific colors to dimensions (it is more like auto-assignment, that can be influenced, but cannot be overwritten for a specific dimension).

[2018-11-19 08:30] ktsaou opened #4687 "new database format design"
##### Feature idea summary

netdata internal database v2.
Specs to follow.

##### Expected behavior

[2018-11-19 08:31] ktsaou commented on #2382
This will be fixed with the new database format.
So I am closing this in favor of #4687

[2018-11-19 08:31] #2382 closed

[2018-11-19 08:35] ktsaou commented on #2385
I can't reproduce this anymore.
I guess it has been fixed via another issue.
If the system persists, please post here and we will try to trace it.

[2018-11-19 08:35] #2385 closed

[2018-11-19 08:36] ktsaou commented on #2812
I think this issue has been fixed.
If you still have problems, just post here and we will try to fix it.

[2018-11-19 08:36] #2812 closed

[2018-11-19 08:37] paulfantom commented on #4520
This is the same as #2293. Closing as a duplicate

[2018-11-19 08:37] #4520 closed

[2018-11-19 08:38] ktsaou commented on #3319
@gmosx 	if you can't figure out the problem, based on the description above, ping me to explain it a bit more.

[2018-11-19 08:38] #4560 closed

[2018-11-19 08:51] cakrit commented on #4013
Closing due to inactivity. If you still have issues, please let us know.

[2018-11-19 08:51] #4013 closed

[2018-11-19 08:57] cakrit commented on #1734
Closing due to inactivity. Please help us reproduce it to proceed.

[2018-11-19 08:57] #1734 closed

[2018-11-19 09:04] ktsaou commented on #4049
This is fixed.
We identified an issue at the streaming (slaves), that where unable to properly reconnect to master after a certain type of network disruption (it was a timing issue).

I am closing this, but if the problem still remains, please post here to help us find the issue.

#4370 #4425

[2018-11-19 09:04] #4049 closed

[2018-11-19 09:06] ktsaou commented on #4518
I'll add a permanent fix for this case to the new database format #4687
So I am closing this in favor of the new one.

[2018-11-19 09:06] #4518 closed

[2018-11-19 09:19] l2isbad commented on #4350
Hi @askd77
Have you solved it?

[2018-11-19 09:19] cakrit commented on #4007
We won't have this issue with our own packaging, which is the way we will be distributing netdata in the future.
Thank you for the report.

[2018-11-19 09:19] #4007 closed

[2018-11-19 09:21] cakrit commented on #3896
This will be resolved with our own packaging, which will be the way we will be distributing netdata in the future. Thank you for the report.

[2018-11-19 09:21] #3896 closed

[2018-11-19 09:51] l2isbad commented on #4661
@ktsaou any ideas?

[2018-11-19 09:52] cakrit commented on #4326
Will just work on #356

[2018-11-19 09:52] #4326 closed

[2018-11-19 09:56] gmosx commented on #4311
Converting this to a feature-request.

[2018-11-19 10:04] paulfantom commented on #170
Closing this issue due to inactivity.

[2018-11-19 10:04] #170 closed

[2018-11-19 11:26] MarjanSadat opened #4691 "create authenticate page"
hi and thanks so much for netdata,
 is it possible to have an authentication like this before seeing netdata??
![48693050-6fc8b080-ebed-11e8-9123-4ed71ccd6241](https://user-images.githubusercontent.com/31684355/48704193-2e46fe00-ec0b-11e8-98f2-b7a69954c4e9.png)

[2018-11-19 11:27] #4691 closed, assigned to nobody

[2018-11-19 12:37] casperklein commented on #2918
I haven't tried it again since then, as installing the "libtool" package before fixed it for me.

[2018-11-19 13:01] Ferroin commented on #4129
Possibly, but not necessarily the case,

This can be a con too.  Think of what things will be like for users having to deal with keeping packages in sync across changes like #4562.  Requiring complex limits on dependencies is a pain in the arse for users.

Only an advantage for some languages.  This would be great for Go.  This will be useless for whatever charts.d plugins we keep, and it's going

[2018-11-19 13:04] Ferroin commented on #4685
I would very much prefer the reverse of this.  IOW, generate the charts definitions for the file from the plugin.  I would very much like to avoid depending on an extra data file for each module/plugin.

[2018-11-19 13:08] Ferroin commented on #2422
Displaying a message that you need JavaScript enabled to view this site, just like used to be the standard for sites that required it.  Bonus points if it's done in a way that works correctly with stuff that blocks script execution without disabling JavaScript, because browser extensions that do that are starting to become popular in the tech-savvy community.

They probably wouldn't, and I'm not s

[2018-11-19 13:41] #2654 closed

[2018-11-19 13:47] sohwaje commented on #4664
Is this a bug? Plz help me.

[2018-11-19 14:46] paulfantom commented on #2918
I am closing this as it is no longer an issue to original author.

[2018-11-19 14:46] #2918 closed

[2018-11-19 14:48] iselind commented on #4676
Thanks a lot.

[2018-11-19 14:48] #4676 closed

[2018-11-19 15:13] springerst94 commented on #4677
In netdata there are graphs that are based upon cpu.cpu0, cpu.cpu1, etc. I have not been able to create a tag withing netdata that uses wild card so I can specify cpu.cpu* and select multiple systems via one tag. The tags I've tried are in the influxdb database, port into grafana, but do not allow multiple selections. 
The issue is I need to create/specify one tag in netdata backend that equals cp

[2018-11-19 15:55] gmosx commented on #2422
OK, I guess displaying a message is reasonable. Regarding proper handling of the script blockers, I will do some research.

[2018-11-19 16:40] DavidS3141 opened #4692 "Sensors module of python plugin not working (again?)"
##### Question summary
How do I get the sensors module of the python plugin running? Especially I want to monitor temperatures.

##### OS / Environment
Different combinations all inside Docker containers tested:
- latest titpetric/netdata container
- simple self-constructed container based on debian:stretch
- simple self-constructed container based on alpine:edge

##### Component Name
Sensors modu

[2018-11-19 16:42] l2isbad commented on #4685
nogo

[2018-11-19 17:00] paulfantom opened #4693 "requirements.txt in TLD are not related to netdata"
##### Bug report summary

Documentation scripts added files confusing to contributors and not related to netdata software such as:
- requirements.txt
- runtime.txt

Especially that we are using python inside and both files relate to python.

##### OS / Environment

All

##### Component Name

Python, Documentation

##### Steps To Reproduce

[code]

##### Expected behavior

No such files in top leve

[2018-11-19 19:32] simonnagl commented on #2792
I think this is patly implemented. Currently I am not working on this. If you want I can check the state of this issue.

[2018-11-19 20:33] zet694 commented on #4670
@paulfantom

Sure, i want to get notified from telegram bot.  My steps:

1) Create docker-compose. Example:
[code]

2) I created health_alarm_notify.conf and add TELEGRAM_BOT_TOKEN and DEFAULT_RECIPIENT_TELEGRAM

3) Execute command:
[code]
Its worked.

Now I would like to be notified when the space on my hard drive is 95% occupied+. My steps:
1) Create folder ''health.d", create file "disks.conf"

[2018-11-19 20:38] dkebler opened #4695 "Ignores EMAIL_SENDER"
First, sendmail (ssmtp and mailx in my case) works fine outside netdata.

But the EMAIL_SENDER parameter seems to be ignored so email is still being sent as netdata and thus is rejected as I can only send from the address I gave in EMAIL_SENDER.

Here is pertinent part of conf file
[code]

Here is the test debug output.
[code]

[2018-11-19 20:40] dkebler commented on #4695
Is it required to restart netdata after making changes to the conf file??

[2018-11-19 21:04] dkebler commented on #4695
nevermind :-).  In ssmtp one must either add an alias for netadata or allow the user to change the sender in the conf file.  Mine is set to no that's why it ignored the -f flag.  I opted to add the alias

`sudo nano /etc/ssmtp/revaliases`

then add this
`netdata:sysadmin@domain.com:smtp.domain.com.net:587`

[2018-11-19 21:04] #4695 closed

[2018-11-19 22:13] askd77 commented on #4350
Hello @l2isbad
unfortunately no, the netdata tool it doesnt work with unbound dns

[2018-11-20 09:14] fmercier-almerys commented on #3846
Hi and if you need to connect to mongo with double authent (client cert validation and ssl server communication) is your patch working ?
To trust replicaSet cert I am use to trust the ROOT CA into OS , mongodb client works well in this way .

[2018-11-20 09:40] hazcod opened #4696 "CockroachDB monitoring"
##### Feature idea summary
CockroachDB is a cloud-native SQL database for building global, scalable cloud services that survive disasters. https://github.com/cockroachdb/cockroach
They already expose a lot of metrics via their web interface, so it should be easier to implement.

##### Expected behavior
Provide an agent that monitors cockroachdb metrics.
Datadog: https://docs.datadoghq.com/integrat

[2018-11-20 13:10] Ferroin commented on #2422
@gmosx I can't say I've done any research, but the few pages I've seen that do handle them correctly have the message in the actual HTML outside of the usual `<noscript>` tags so that it gets rendered, and then delete that first-thing in their scripts.

[2018-11-20 13:13] Ferroin commented on #4692
The first one is a compatibility issue I accidentally introduced with #4667 because I forgot to test against Python 2.7.

The second one is a typo that I somehow missed in the same PR.

I'll have a fix for both shortly.

[2018-11-20 13:19] paulfantom commented on #4692
@DavidS3141 Just an info, our official docker container is `netdata/netdata`.

[2018-11-20 13:31] Ferroin commented on #4685
@l2isbad The only problem I see with this is handling of things that dynamically generate charts, but providing definitions like we're talking about here is likely to be problematic for those regardless.

[2018-11-20 13:33] DavidS3141 commented on #4692
Thanks for the fast replies and the fix. I will use the official docker now, hopefully, that will work.

[2018-11-20 13:38] Ferroin commented on #4692
It probably won't until at least tonight, as the PR is still not merged (it's waiting on a specific person to review it).

[2018-11-20 16:38] AleAntunez opened #4698 "Metrics in users.mem and apps.mem over physical memory"
Hi there,

We're trying to profile and application using Netdata so we can see the overall RAM usage of it. While the system memory seems to be correct (Within the physical memory bounds), it is not the case for the apps.mem and users.mem, which values seems to be over the physical memory in our machine.

![imagen](https://user-images.githubusercontent.com/1734346/48788413-134bbb00-eceb-11e8-8ca2-

[2018-11-20 17:30] ktsaou commented on #4698
@vlvkobal to trace such issues, it would be nice to provide an `apps.plugin` command line switch, to dump some information about the grouping it does. This is not high priority (to do it now), but it would help to have it, so please add it to your roadmap.

[2018-11-21 04:59] Firemanjoe commented on #4592
I tried to follow the instructions that you indicated and it didn't resolve anything. if I run the commands:

cd /usr/src
cd netdata
./netdata-installer.sh

once I change into the src, I can't get into netdata as the doesn't exist. If I run the installer from the netdata directory, well, it installs it again, but doesn't resolve my existing install issue.

Should I simply remove it and start from

[2018-11-21 05:02] sohwaje commented on #4664
I already posted it. Do CTRL+F -> "/usr/libexec/netdata/plugins.d/node.d.plugin 1 snmp"

# sudo su -s /bin/sh netdata
# /usr/libexec/netdata/plugins.d/node.d.plugin 1 snmp
CHART "network interface eth21" "network interface eth21" "network interface eth2 1" "megabits/s" "ports" "" "area" 50001 10
DIMENSION "in" "in" "incremental" 8 1024
DIMENSION "out" "out" "incremental" -8 1024
BEGIN network inte

[2018-11-21 05:58] #4692 closed

[2018-11-21 06:02] l2isbad commented on #4350
@askd77 :cry:

@Ferroin any ideas how to trace the issue?

[2018-11-21 06:58] l2isbad commented on #4615
spread the word about `netdata` :+1:

[2018-11-21 06:58] #4615 closed

[2018-11-21 07:03] l2isbad commented on #4564
@Ferroin any ideas?

[2018-11-21 08:43] paulfantom commented on #4592
Installing from scratch seems like a good idea.

[2018-11-21 09:48] cakrit commented on #4650
markdown files were fixed last week. Today I'm doing a PR for the other files as well

[2018-11-21 10:09] cakrit commented on #4633
Also, the documentation is [here](https://github.com/netdata/netdata/blob/master/installer/UNINSTALL.md#uninstalling-netdata). Please let us know if anything mentioned there hasn't worked for you.

[2018-11-21 12:21] #4650 closed

[2018-11-21 12:59] Ferroin commented on #4350
@l2isbad At this point, I'm thoroughly stumped.  I tried again yesterday to reproduce this in a CentOS 7 VM , both with a build of Netdata created from the commit that added Unbound support, and the most recent tree, using both methods of configuring the Unbound control socket (both listening on loopback, and using a UNIX socket), and was unsuccessful again at reproducing it.  As far as I can tell

[2018-11-21 13:19] cutalion commented on #2391
Hi! Similar question. How to disable all alarms for master in master-slave setup? Or how to disable them for a specific host?

[2018-11-21 14:21] l2isbad commented on #4350
@askd77

please post here (i know you did it, but please do again and please do new debug)
* `unbound` configuration file
* `unbound` debug log with trace

[2018-11-21 14:36] #4672 closed

[2018-11-21 15:00] cakrit commented on #4574
@l2isbad can you please prioritize the openmetrics implementation?
It just became official.

[2018-11-21 15:03] ktsaou commented on #4574
@l2isbad 	I think a nice way is to support `OpenMetricsService` in python.d.plugin, to allow building customized openmetrics modules.

The same could be used for a `PrometheusService` to collect prometheus formatted metrics.

[2018-11-21 16:35] cakrit commented on #4696
The lack of a plugin for cockroachdb is also mentioned in #4574
@HazCod can you help out with additional info on what should be collected, how it should be presented and the types of alarms that should be added?

This will help the devs [understand what they have to do](
https://github.com/netdata/netdata/blob/master/CONTRIBUTING.md#help-the-developers-understand-what-they-have-to-do), so that net

[2018-11-21 16:57] cakrit commented on #4670
For this, you need to configure the [families](https://github.com/netdata/netdata/blob/master/health/README.md#alarm-line-families)

[2018-11-21 17:37] jakk2809 opened #4702 "Random number example data not matching?"
##### Question summary

I have enabled the 'example' Python plugin and I'm trying to understand why I can't find any matching data from the Python plugin debug tool and the plot I see in a web browser. I run the commands below to get a print out of what is being generated.

[code]

When I hover over the chart in a web browser I can't find any matching data. When I hard-code values into the example

[2018-11-21 17:51] cakrit commented on #4685
Based on further discussion in Athens, we should just look into the following now:

For each collector, we want a definition file (probably in yaml format) that would support the following:

- [ ] Provide info currently provided in dashboard_info.js (both help text and formatting info).
- [ ] Generate parts of the documentation (e.g. charts, alarms)
- [ ] Documenting the alarms and possibly adding

[2018-11-21 17:56] cakrit commented on #2792
It's just one of several issues linked to #2663. Since a lot of work was already done, we could ask others in the community to assist, if you are not able to move it forward.

[2018-11-21 18:59] l2isbad commented on #4685
We have agreed that we don't put charts definitions to that yaml file for all modules. We add new feature to plugins, they will generate charts definitions based on some mock input or something like that. I really don't like the idea to have charts definitions in a separate file. Doing that only for part of the modules looks even more ugly to me.

[2018-11-21 19:06] cakrit commented on #4693
Netlify doesn't work without them.
Under https://www.netlify.com/docs/#helpful-hints, see the python section:

You can tell Netlify which version of Python to use to build your site by placing a runtime.txt file in your project’s root directory.

[2018-11-21 19:07] cakrit commented on #4693
I created a dummy site deployed from a personal branch that doesn't have the files, you can see it in https://app.netlify.com/sites/eloquent-kilby-5943bf/overview
There are no options to move those files elsewhere and I doubt we can do something from inside the build script itself.

[2018-11-21 19:23] l2isbad commented on #4702
Hi @jakk2809

There is no interpolation in `example` python module (no interpolation for `absolute` values). Netdata plots exactly what it sends.

`example` uses random number generator, yes.

[2018-11-21 19:36] cakrit commented on #2391
Does [this](https://github.com/netdata/netdata/tree/master/health#alarm-line-hosts) help you?

[2018-11-21 19:39] jakk2809 commented on #4702
Hi @l2isbad

Hmm, interesting. Here is a screenshot of what I'm seeing:

![image](https://user-images.githubusercontent.com/7157378/48864399-84818180-ed70-11e8-8527-dbe7751b4768.png)

While hovering over the data point at 9:25:28, the data from the debug tool doesn't show it. It just seemed a little strange when working with the random numbers and I'm not sure what's causing it.

[2018-11-21 19:59] l2isbad commented on #4702
@jakk2809

These are two different instances of `python.d.plugin`.

https://github.com/netdata/netdata/blob/87cb02e50d38c558f8c9b022103e9a53ce997c00/collectors/python.d.plugin/example/example.chart.py#L46

Every value is random

[2018-11-21 20:01] cakrit commented on #2074
We do have a [springboot collector](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/springboot) now, so closing.

[2018-11-21 20:01] #2074 closed

[2018-11-21 20:32] jakk2809 commented on #4702
@l2isbad

Oh, I see. So that debugging tool is running another instance. Is there a way to check the 'raw data' being shown in the chart from the console?

Thank you.

[2018-11-21 20:33] #4675 closed

[2018-11-21 21:00] l2isbad commented on #4702
Exactly.

Netdata shows `absolute` raw values as-is and does interpolation for `incremental` (if algorithm isn't  specified for a dimension `absolute` is being used)

[2018-11-21 22:35] cutalion commented on #2391
@cakrit Oh, how did I miss it? Thank you!

[2018-11-21 22:46] cutalion commented on #2391
Hm.. tried to add it to global `[health]` section in `netdata.conf`. Did not work.
Should I add this to every health.d config?

[2018-11-21 22:47] simonnagl commented on #2074
The current springboot collector uses Spring Boot Actuator. Spring introduced another system for metrics, [Micrometer](https://docs.spring.io/spring-boot/docs/2.1.0.RELEASE/reference/htmlsingle/#production-ready-metrics), which provides a simple facade over the instrumentation clients for the most popular monitoring systems. This may be used to collect even more Spring Boot Metrics.

I do not want

[2018-11-21 23:44] #4416 closed

[2018-11-22 09:38] cakrit commented on #4670
I'm relatively certain that you haven't properly configured the recipients in health_alarm_notify.conf. The stock file is at `/usr/lib/netdata/conf.d/health_alarm_notify.conf`. Check out the section with the comments below and please let me know if it helps.

# You can append |critical to limit the notifications to be sent.
#
# In these examples, the first recipient receives all the alarms
# while

[2018-11-22 09:51] cakrit commented on #2391
hosts and families can only be specified in the individual conf files under health.d, so I don't know of another way to do it. It could just be a copy and a sed command to  add it to all of them anyway though.

[2018-11-22 10:09] ritzzbv opened #4705 "headless node statsd config"
##### Question summary

I have a Netdata setup with single master node and other servers as netdata headless nodes.
Now I am setting up statsd counters, I am able to see counters coming from Master on netdata dashboard.
But headless node's data is not showing in dashboard.

##### OS / Environment

##### Component Name

##### Expected results

[2018-11-22 10:36] paulfantom commented on #4693
Another reason not to have docs mixed with code :stuck_out_tongue:

[2018-11-22 11:01] cakrit commented on #4705
Please share slave and master configs, after reviewing [the documentation] (https://github.com/netdata/netdata/tree/master/streaming#metrics-streaming).

Ensure you have set the correct API Key and Machine GUIDs as mentioned there.

I assume you have already tested connectivity from the slaves to the master.

[2018-11-22 11:03] cakrit commented on #4693
I will ask Netlify if they can add an option to specify the path for these files.

[2018-11-22 11:07] cakrit commented on #4693
I asked their support. Will close this for now. If Netlify does provide a setting to specify their location, it will be a very quick fix.

[2018-11-22 11:34] AleAntunez commented on #4698
Hi,

thanks for your reply. We're attaching below a snapshot where the problem reported can be observed.

Thanks!

[netdata-20181122-111134-3206.zip](https://github.com/netdata/netdata/files/2607835/netdata-20181122-111134-3206.zip)

[2018-11-22 12:16] paulfantom commented on #4693
So why close this issue? I would understand closing it **after** getting response from them, not before. Closing it when it is essentially in progress seems very strange.

[2018-11-22 12:37] zet694 commented on #4670
@cakrit Thanks for your reply. I checked my file health_alarm_notify.conf. If I understood correctly then I will receive all messages. (since there is no flag "|critical warning" and other), but still nothing comes in the telegram.

Screenshot:
![image](https://user-images.githubusercontent.com/16643155/48903173-d78c2f00-ee6b-11e8-9327-dfb4a2ac5dfd.png)

[2018-11-22 13:36] cakrit commented on #4670
I hope that what looks like a pipe at the end of the default recipient is just an artifact.
Also, I assume you haven't played with the roles (i.e. you didn't specify a different recipient by changing  role_recipients_telegram[sysadmin] in health_alarm_notify.conf)
Finally, I expect that you do correctly see the alarm raised on your host's netdata web gui.

If all of the above assumptions are corre

[2018-11-22 14:42] gmosx opened #4708 "Improve footer of web/gui"
Add proper copyright notice, remove credits, link to `REDISTRIBUTED.md` instead.

[2018-11-22 15:17] rpirsc13 opened #4710 "Dashboard TV white page"
##### Bug report summary

TV dashboard and main page no longer work on WebOS Browser. The page loads but the background is white. I can see the div titles but no graphs are shown. I am assuming that the dashboard.js script is the culprit. However I have no idea on how to extract the console output of the browser from the device.

Netdata server has been updated on November 19th 2018.

##### OS / E

[2018-11-22 15:22] gmosx commented on #4710
Thank you for the report. Do you see any error messages in the console of the Web Browser? If so, can you post them here? `tv.html` seems to be working fine on my Chrome browser.

[2018-11-22 16:07] #4708 closed

[2018-11-22 16:09] gmosx commented on #4710
Maybe the WebOS browser does not support modern JS features.

[2018-11-22 16:10] gmosx commented on #2335
I believe this issue is fixed in the baster branch. Will close the issue.

[2018-11-22 16:10] #2335 closed

[2018-11-22 16:14] gmosx opened #4711 "Should use IEC-compliant abbreviations, e.g. KiB, MiB, etc."
As those are multipliers of 1024, then according to IEC standard their unit should be represented in kibibytes (KiB), mebibytes (MiB) and so on. KB, MB and alike are reserved for multipliers of 1000 so there is no confusion with SI standards of unit naming.

Standard was also implemented by IEEE in 2002 as IEEE 1541-2002.

Original issue:
https://github.com/netdata/netdata/pull/4707

[2018-11-22 17:13] paulfantom commented on #4711
IEEE 1541-2002 standard:
  - full: https://standards.ieee.org/standard/1541-2002.html
  - overview: https://en.wikipedia.org/wiki/IEEE_1541-2002

ISO/IEC:
  - overview: https://en.wikipedia.org/wiki/ISO/IEC_80000

[2018-11-22 17:14] paulfantom commented on #4710
One could probably use an emulator to reproduce it: http://webostv.developer.lge.com/sdk/tools/emulator/introduction-emulator/

[2018-11-22 17:33] paulfantom commented on #4641
This should be fixed in #4643. Please reopen if it still doesn't work for you.

[2018-11-22 17:33] #4641 closed

[2018-11-22 17:37] paulfantom commented on #3346
Installer uses "${NETDATA_PREFIX}" for every path now. Seems that this is fixed. Please reopen if the bug still persist.

[2018-11-22 17:37] #3346 closed

[2018-11-22 17:40] paulfantom commented on #3030
Closing due to inactivity. Please reopen if this bug is still present in newest release.

[2018-11-22 17:40] #3030 closed

[2018-11-22 17:45] paulfantom commented on #3793
We are working on providing binary packages. Tracking current progress on this matter can be done by visiting this github project: https://github.com/netdata/netdata/projects/13.

Binary packages will be signed, but until then there is no other method of installing netdata apart from shell script or docker container.

[2018-11-22 17:45] #3793 closed

[2018-11-22 17:47] paulfantom commented on #4465
https://github.com/netdata/netdata/pull/4643 was bringing back check for systemd directory so this should be fixed now. @Nani-o please reopen if this problem still persists.

[2018-11-22 17:47] #4465 closed

[2018-11-22 18:11] #4684 closed

[2018-11-22 18:13] paulfantom commented on #2124
Closing due to inactivity. Please reopen if needed.

[2018-11-22 18:13] #2124 closed

[2018-11-22 18:15] paulfantom commented on #3313
By design netdata should be installed at all monitored hosts.

[2018-11-22 18:15] #3313 closed

[2018-11-22 18:29] ktsaou commented on #4455
A few infographics, are really dense:

https://cdn.chiefmartec.com/wp-content/uploads/2018/04/marketing_technology_landscape_2018_slide.jpg?fbclid=IwAR20PVdnpF0FGLNMwCYTfvf0UCNYVju3fqgJJYnoO31a6JFa3F7QgaWOvBQ

[2018-11-22 18:34] cakrit commented on #4693
Yes, you're right. I got an answer, I can move the files under htmldoc by adding a netlify.toml at the root directory that points there. It's better than having these files there, so I'll do it.

[2018-11-22 18:39] paulfantom commented on #4711
If most of the world you mean Microsoft and other slow moving corporations - then yes. On the other hand most of the Open Source world adopted those standards and most software which does monitoring use them, for example DataDog: https://docs.datadoghq.com/developers/metrics/#units.

One major space where those are super important is storage and example is simple. When you buy 1TB hard drive this

[2018-11-22 18:45] rpirsc13 commented on #4710
@paulfantom I will try that to get some information out of it
@gmosx It has worked just fine until the last few updates. Slow :) but fine. Will try the emulator and post the errors here

[2018-11-22 18:51] gmosx commented on #4710
We started using some ES6 features in the latest version, I guess that's the culprit. Need to think how to resolve this.

[2018-11-22 19:05] paulfantom commented on #2549
Seems like this is already implemented.

[2018-11-22 19:05] #2549 closed

[2018-11-22 20:00] cakrit commented on #4711
Fine, I saw a few more monitoring solutions that support IEC units as well, so let's do it. We'll need to keep it in mind when we try to work with Windows though :)

[2018-11-22 21:11] ktsaou commented on #3253
traced it to find the issue.

The bug is at the internal web server of netdata. It parses the URLs like this:

1. a request comes

2. it checks it received the whole of it (it searches for `\r\n\r\n` - i.e. an empty line as defined in the spec)

3. BUG 1: it decodes the whole URL. This is a bug since any `/` or `?` URL encoded will be decoded before actually parsing the URL. To work properly it sh

[2018-11-22 21:23] ktsaou opened #4717 "web server URL parsing ignores escaped characters"
There is a bug at the internal web server of netdata. It parses the URLs like this:

1. a request comes

2. it checks it received the whole of it (it searches for `\r\n\r\n` - i.e. an empty line as defined in the spec)

3. BUG 1: it decodes the whole URL. This is a bug since any `/` or `?` URL encoded will be decoded before actually parsing the URL. To work properly it should decode the URL part b

[2018-11-22 22:14] paulfantom opened #4718 "Use `--future-release` in changelog generation"
##### Feature idea summary

Changelog generator allows to reference new tag before it is applied to git repository. This is achieved with `--future-release` flag. By using this flag we could generate changelog before doing release and include it in a release package in correct form instead of generating it after doing release.

##### Expected behavior

Proper changelog is included in release paylo

[2018-11-22 22:15] paulfantom commented on #4718
This will also need a change how commits are created in release pipeline and also can potentially reduce number of commits needed from 2 to only 1.

[2018-11-22 22:17] ktsaou opened #4719 "bcache writeback_rate unknown units"
##### Bug report summary

netdata logs this:

[code]

[code]

According to the documentation: https://www.kernel.org/doc/Documentation/bcache.txt

[code]

Netdata supports: https://github.com/netdata/netdata/blob/8fbf817ef83b3524b15f908251909d9d6feb5532/collectors/proc.plugin/proc_diskstats.c#L169-L193

##### OS / Environment

Linux with bcache

##### Component Name

proc.plugin, diskstats

#####

[2018-11-22 22:19] paulfantom commented on #2501
Closing this due to prolonged inactivity. Please reopen if you think this is still relevant.

[2018-11-22 22:19] #2501 closed

[2018-11-22 22:50] paulfantom commented on #3825
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 22:50] #3825 closed

[2018-11-22 22:51] paulfantom commented on #3257
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 22:51] #3257 closed

[2018-11-22 22:52] paulfantom commented on #3402
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 22:52] #3402 closed

[2018-11-22 22:52] paulfantom commented on #3333
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 22:52] #3333 closed

[2018-11-22 22:53] paulfantom commented on #3618
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 22:53] #3618 closed

[2018-11-22 23:13] #3253 closed

[2018-11-22 23:16] #4321 closed

[2018-11-22 23:16] #4693 closed

[2018-11-22 23:29] ktsaou opened #4721 "registry items are clickable, but no action is taken"
##### Bug report summary

`my-netdata` items are clickable but nothing happens.
The items take action only when the hostname is clicked.

![peek 2018-11-23 01-26](https://user-images.githubusercontent.com/2662304/48924278-08e21a80-eebf-11e8-8c8e-624fbd883daf.gif)

##### OS / Environment

##### Component Name

##### Steps To Reproduce

[code]

##### Expected behavior

When the row is clicked, the a

[2018-11-22 23:35] paulfantom commented on #449
--sort-ascending

[2018-11-22 23:36] paulfantom commented on #2729
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #2729 closed

[2018-11-22 23:36] paulfantom commented on #2883
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #2883 closed

[2018-11-22 23:36] paulfantom commented on #3064
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3064 closed

[2018-11-22 23:36] paulfantom commented on #3173
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3173 closed

[2018-11-22 23:36] paulfantom commented on #3193
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3193 closed

[2018-11-22 23:36] paulfantom commented on #3420
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3420 closed

[2018-11-22 23:36] paulfantom commented on #3475
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3475 closed

[2018-11-22 23:36] paulfantom commented on #3509
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3509 closed

[2018-11-22 23:36] paulfantom commented on #3550
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3550 closed

[2018-11-22 23:36] paulfantom commented on #3559
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3559 closed

[2018-11-22 23:36] paulfantom commented on #3567
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3567 closed

[2018-11-22 23:36] paulfantom commented on #3596
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3596 closed

[2018-11-22 23:36] paulfantom commented on #3626
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3626 closed

[2018-11-22 23:36] paulfantom commented on #3718
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:36] #3718 closed

[2018-11-22 23:39] paulfantom commented on #1723
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #1723 closed

[2018-11-22 23:39] paulfantom commented on #1919
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #1919 closed

[2018-11-22 23:39] paulfantom commented on #2466
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #2466 closed

[2018-11-22 23:39] paulfantom commented on #2504
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #2504 closed

[2018-11-22 23:39] paulfantom commented on #2766
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #2766 closed

[2018-11-22 23:39] paulfantom commented on #2925
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:39] #2925 closed

[2018-11-22 23:40] paulfantom commented on #3503
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:40] #3503 closed

[2018-11-22 23:40] paulfantom commented on #3528
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:40] #3528 closed

[2018-11-22 23:41] paulfantom commented on #3789
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3789 closed

[2018-11-22 23:41] paulfantom commented on #3796
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3796 closed

[2018-11-22 23:41] paulfantom commented on #3808
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3808 closed

[2018-11-22 23:41] paulfantom commented on #3809
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3809 closed

[2018-11-22 23:41] paulfantom commented on #3851
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3851 closed

[2018-11-22 23:41] paulfantom commented on #3859
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3859 closed

[2018-11-22 23:41] paulfantom commented on #3892
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:41] #3892 closed

[2018-11-22 23:47] paulfantom commented on #4060
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:47] #4060 closed

[2018-11-22 23:48] #4219 closed

[2018-11-22 23:49] paulfantom commented on #2168
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-22 23:49] #2168 closed

[2018-11-22 23:55] paulfantom commented on #4528
Extend functionality by assigning `area/*` to Pull Requests based on content they modify.

[2018-11-22 23:58] ktsaou commented on #4698
You are using an older netdata.
Could you please update to the latest version and provide the snapshot again?

[2018-11-23 00:07] ktsaou commented on #4685
@cakrit 	the important part here is to have the chart definitions for the documentation.

Let @l2isbad 	decide how he likes this done. After all, if his solution does not work, he will have to somehow find a way to fix it... :)

[2018-11-23 00:13] ktsaou commented on #4677
I think this is a problem of the opentsdb format.
In prometheus, we use the `context` as the metric and the chart id is a label attached to the values pushed.

So, instead of `cpu.cpu1.user`, in prometheus we push `cpu_cpu{chart="cpu.cpu1",dimemsion="user"}`. This allows grouping them in grafana.

I don't know if OpenTSDB supports this kind of labels attached to metrics.
If it supports it, it woul

[2018-11-23 00:18] #4633 closed, assigned to nobody

[2018-11-23 00:19] ktsaou commented on #4592
I am closing this, but you need help just post.

[2018-11-23 00:19] #4592 closed

[2018-11-23 00:41] ktsaou commented on #4661
@ScrumpyJack 	could you please post the same metric when `?format=prometheus` is given at the URL?

[2018-11-23 00:42] ktsaou commented on #3505
Closing due to inactivity.
@n0coast 	if you still have problems, just post here.

[2018-11-23 00:42] #3505 closed

[2018-11-23 01:36] ktsaou commented on #4570
@paulfantom 	is this now fixed?

[2018-11-23 01:42] ktsaou commented on #1306
We are working on it... please wait a bit more...

[2018-11-23 02:10] ktsaou commented on #4680
ok, let me check:

1. timestamps: we can just comment them out.
2. I am not sure I understand what do you mean with `precalculations`: when using `as-collected` mode, netdata does not process the collected values in any way. It exposes the last value collected, exactly as-collected.
3. counters vs gauges: when using `as-collected` mode, everything is sent in the format it is collected (counters as

[2018-11-23 02:14] ktsaou commented on #3983
This is nice.
So you actually say to provide a way to support a URL pointing to a specific chart (any chart).

[2018-11-23 02:19] ktsaou commented on #4376
Sorry for the late reply.

Many of the `ipv4.*` metrics are actually metrics of the whole IP stack of the Linux kernel (ipv4 + ipv6). So, we have renamed them to `ip.*`.

[2018-11-23 02:30] ktsaou commented on #4395
Yes, this would be good.

Keep in mind netdata supports some kind of fault tolerance. You can configure the slave with:

[code]

Using the above, `master2` will be used only when `master1` is offline.
You could also configure `master1` to mirror its metrics to `master2`.

So, it will be like this:

`slave` -> `master1` -> `master2`

If `master1` is down, the slave will automatically switch to `mas

[2018-11-23 02:34] ktsaou commented on #4395
Since we plan to add compression and streaming of past metrics, another perfect solution would be:

`slave` -> `master1` <-> `master2`

In this scenario, `master1` and `master2` form a loop, so that only the one receiving the metrics from `slave` will stream to the other end.

This implementation would not need multiple streaming threads at the slave.

[2018-11-23 02:34] #4613 closed

[2018-11-23 04:01] Firemanjoe commented on #4592
No problems on having it closed, but it didn't work. I don't know if I needed to remove all of the subfolders that go with it, but I simply ran the uninstaller and then I re-ran the installer. Should I have done more?

[2018-11-23 08:06] AleAntunez commented on #4698
These are the results for the latest version of netdata (v1.11.1-4-g1149ce3_rolling).

![imagen](https://user-images.githubusercontent.com/1734346/48932964-b294cc00-eefe-11e8-9837-76e2efcc4906.png)

![imagen](https://user-images.githubusercontent.com/1734346/48932952-a4df4680-eefe-11e8-82c6-88f184a28a9c.png)

We're also attaching the snapshot:

[netdata-20181123-085929-300.zip](https://github.com/

[2018-11-23 08:12] SuperQ commented on #4680
Ahh, thanks for the explanation. Yes, because Prometheus is a monitoring system itself, it expects as-collected or raw data. Can you explain the differences between `as-collected` and `raw`?

[2018-11-23 08:39] ktsaou commented on #345
@gmosx 	this is on our roadmap: provide a better dashboard menu for handling kubernetes and and hierarchical (nested) containers.

[2018-11-23 08:40] ktsaou commented on #205
@gmosx 	is is on our roadmap.

[2018-11-23 08:41] ktsaou commented on #219
@gmosx this is on our roadmap, low priority though.

[2018-11-23 08:42] ktsaou commented on #416
We are already working on a few of these.
@gmosx 	you may want to cherry pick features from this. This is generally on our roadmap...

[2018-11-23 08:43] ktsaou commented on #265
I am not sure this is still valid.
So, I am closing it. If the problem remain, please post a few screenshots to understand the issue better.

[2018-11-23 08:43] #265 closed

[2018-11-23 08:43] l2isbad commented on #3589
https://github.com/netdata/go.d.plugin

[2018-11-23 08:44] ktsaou commented on #250
@gmosx 	this is on our roadmap.
I am sure I have seen another one requesting the same feature.

[2018-11-23 08:44] ktsaou commented on #359
@gmosx 	this is on our roadmap.

[2018-11-23 08:45] ktsaou commented on #505
@gmosx 	this will be solved with the sharing feature of the new netdata hub we build.
So, it is on our roadmap.

[2018-11-23 08:48] ktsaou commented on #130
This is on our roadmap, but no high priority.

Web sockets could help us lower the traffic required between netdata and the web server and it may allow the web dashboard to render only part of the chart on each update. Though, complexity will increase dramatically.

So it is an optimization. Not a feature.

[2018-11-23 08:48] ktsaou commented on #312
This is on our roadmap.

[2018-11-23 08:50] ktsaou commented on #4619
This is another raw list we could expose on the dashboard raw / as-collected.
We should probably collect all those lists at an issue.

[2018-11-23 08:58] ktsaou commented on #2174
This could probably be implemented with eBPF.

[2018-11-23 09:01] #1673 closed

[2018-11-23 09:05] ktsaou commented on #1140
@gmosx 	this is about merging charts from multiple servers.
I have seen another one requesting the same.
It is on our roadmap.

[2018-11-23 09:12] anayrat commented on #4090
Sorry, I forgot this issue. locks can be taken for a very short time, it is possible that value changes quickly. I looked at the code and I don't see how you can have different results between netdata and manually run the query. Did you run with the same user?

[2018-11-23 09:14] paulfantom commented on #3909
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:14] #3909 closed

[2018-11-23 09:14] paulfantom commented on #3924
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:14] #3924 closed

[2018-11-23 09:14] paulfantom commented on #4019
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:14] #4019 closed

[2018-11-23 09:14] paulfantom commented on #4072
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:14] #4072 closed

[2018-11-23 09:15] paulfantom commented on #4086
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:15] #4086 closed

[2018-11-23 09:15] paulfantom commented on #3581
Closing issue due to inactivity. Please reopen if this is still relevant.

[2018-11-23 09:15] #3581 closed

[2018-11-23 09:17] #4084 closed

[2018-11-23 09:29] ktsaou commented on #4080
@guilhermetb 	we are very sorry we didn't respond to you so far.
If you still have issues, please post here.

[2018-11-23 09:29] #4080 closed

[2018-11-23 09:29] ktsaou commented on #4079
This was a question.
So, I am closing it.
If you still need help, just post here.

[2018-11-23 09:29] #4079 closed

[2018-11-23 09:30] ktsaou commented on #4077
This was a question. So, I am closing it.
If you need help, just post.

[2018-11-23 09:30] #4077 closed

[2018-11-23 09:32] ktsaou commented on #4108
We have fixed a number of bugs in interrupts parsing and also cleaned up a lot the generated metrics for interrupts.

So, I think your issue should have been fixed.
If it does not, please post here.

[2018-11-23 09:32] #4108 closed

[2018-11-23 09:32] ktsaou commented on #4100
I think we can close this.
if the problem remains, please post here.

[2018-11-23 09:32] #4100 closed

[2018-11-23 09:33] ktsaou commented on #4118
We are working on providing our own packages.
So, I think we can close this.

[2018-11-23 09:33] #4118 closed

[2018-11-23 09:33] ktsaou commented on #4130
Closing due to inactivity.
If you still need help, just post.

[2018-11-23 09:33] #4130 closed

[2018-11-23 09:36] ktsaou commented on #4158
@l2isbad 	I think I have seen this on my laptop too.
On boot, netdata does not provide metrics about fans.
But if netdata is restarted once the machine completes booting, fans are collected and reported.

So, I am marking this as a bug.

[2018-11-23 09:41] ktsaou commented on #4198
This was a question. So, I am closing it.
If you still have issues with your master, just post here.

[2018-11-23 09:41] #4198 closed

[2018-11-23 09:50] gmosx commented on #250
I think we can do this in netdata agent.

[2018-11-23 09:50] ktsaou commented on #4187
I am closing this.
If you still need help, just post.

[2018-11-23 09:50] #4187 closed

[2018-11-23 09:52] gmosx commented on #219
@ktsaou I think we could add some code from Google Translate to automatically handle this for web/gui.

[2018-11-23 09:57] ktsaou commented on #219
If we provide the strings in a file and we load the right language on demand, I am sure contributors will be very keen to translate them in all possible languages.

[2018-11-23 09:57] paulfantom commented on #219
Or use sth like [babel](http://babel.pocoo.org/en/latest/)

[2018-11-23 10:00] ktsaou commented on #4232
This was a question. So I am closing.
If you need help, just post.

[2018-11-23 10:00] #4232 closed

[2018-11-23 10:00] ktsaou commented on #4229
Closing due to inactivity.
If you need help, just post.

[2018-11-23 10:00] #4229 closed

[2018-11-23 10:03] ktsaou commented on #770
netdata can monitor NVIDIA cards: https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/nvidia_smi

I am not sure how to do it for AMD cards.
I am closing this. If you need can help with AMD, please open a new issue.

[2018-11-23 10:03] #770 closed

[2018-11-23 10:05] ktsaou commented on #256
This is obsolete.
I think the right way is to pass error.log through the netdata daemon.

[2018-11-23 10:05] #256 closed

[2018-11-23 10:06] gmosx commented on #219
I would prefer to leave this for hub.

[2018-11-23 10:06] ktsaou commented on #444
Not relevant any more.

[2018-11-23 10:06] #444 closed

[2018-11-23 10:07] ktsaou commented on #422
Closing due to inactivity.
If you want to contribute, please post here to discuss this.

[2018-11-23 10:07] #422 closed

[2018-11-23 10:08] ktsaou commented on #443
I think we support Centos 6 now.
So, I am closing this.

[2018-11-23 10:08] #443 closed

[2018-11-23 10:09] ktsaou commented on #219
You will not be getting contributions then... I would open-source these files to let people help.

[2018-11-23 10:09] ktsaou commented on #219
But we have plenty of time to discus this later.

[2018-11-23 10:11] ktsaou commented on #78
We will add many more visualization in netdata. The visualization you suggest is nice, but it only shows the current snapshot of the data. netdata would need a visualization that would allow also a view over time.

Anyway, I am closing this.
We will discuss such visualizations later.

[2018-11-23 10:11] #78 closed

[2018-11-23 10:12] ktsaou commented on #266
@gmosx 	this is on our roadmap.

[2018-11-23 10:34] ktsaou commented on #4680
Just aliases. Both do the same thing: expose the latest value of the collected metrics, exactly as they were collected.

So, netdata still collects all the metrics every second (for its own purposes), but keeps a copy of the latest collected value, in raw format - as it was collected.

Adding `data=as-collected` or `data=raw` instructs the prometheus exporter inside netdata, to ignore the netdata

[2018-11-23 10:41] ktsaou commented on #4680
Can you explain what `honor_labels: true` is and what should netdata do?

[2018-11-23 10:52] SuperQ commented on #4680
Prometheus works similarly, we collect the raw data in one shot, and timestamp it (millisecond resolution). This is why we prefer counters, as it eliminates the sampling jitter issues with gauges.

In the case of scraping netdata, we may want to keep the timestamp, as we can honor it as an authoritative TSDB source. We usually want targets to not include timestamps, as we're trying to track the ob

[2018-11-23 10:52] cakrit commented on #3581
Duplicate of #219

[2018-11-23 10:52] ktsaou commented on #3986
Closing due to inactivity.
If you still need help, just post.

[2018-11-23 10:52] #3986 closed

[2018-11-23 10:59] ktsaou commented on #4680
ok, the next major release will have this change. Until then, users will have to add it to the URL.

This could be an issue for exporters that expose many sources (like node exporter). There could be a significant delay between the first and the last metric collected.

How do you solve this with counters, without taking into account the timestamp each of the metrics was collected?

[2018-11-23 11:03] ktsaou commented on #3993
Closing due to inactivity.
If you need help, just post.

[2018-11-23 11:03] #3993 closed

[2018-11-23 11:04] cakrit opened #4725 "Change "netdata" to "Netdata" in all docs"
The official name of project netdata/netdata is "Netdata". All references to "netdata" that aren't about the executable, the directory structure, github links etc. will need to be replaced with "Netdata". This can't safely be done with simple replacement, as the lower case version appears several thousand times in the various places.

We'll be doing it gradually and any help would be much apprecia

[2018-11-23 11:05] ktsaou commented on #4000
I am closing this due to inactivity.

Reporting some kind of lists is already a feature a lot of users ask. So, the plugin could frequently expose a list of the top X IPs or whatever. But for this to happen we need to improve the external plugins API.

It is already on our roadmap, so we can close this.

[2018-11-23 11:05] #4000 closed

[2018-11-23 11:06] ktsaou commented on #4018
Closing due to inactivity.
If you still need help, just post.

[2018-11-23 11:06] #4018 closed

[2018-11-23 11:07] ktsaou commented on #4022
Closing due to inactivity.
If something is still pending, just post here.

[2018-11-23 11:07] #4022 closed

[2018-11-23 11:08] ktsaou commented on #4026
Closing due to inactivity.
If you still need help, just post.

[2018-11-23 11:08] #4026 closed

[2018-11-23 11:09] ktsaou commented on #4053
Closing due to inactivity.
If there is something pending, just post here.

[2018-11-23 11:09] #4053 closed

[2018-11-23 11:15] ktsaou commented on #4698
ok, this is nice!

I understand this is your ssh session and it seems long standing (not just a spike), so we can trace it.

If you run `sudo ps fax` you will see the whole process list as a tree. Could you please post here the tree of your `ssh` session? Once we have the PIDs of the processes, we will need `cat /proc/PID/statm` for all of them.

[2018-11-23 11:16] ktsaou commented on #1996
@l2isbad 	this is on our roadmap (monitor the performance of Oracle databases).

[2018-11-23 11:17] cakrit commented on #130
Keeping the "feature request" label even though it's optimization, to prevent the bot from marking it as stale again.

[2018-11-23 11:29] ktsaou commented on #1134
I really like this idea, but we need to find a way of doing efficiently at the edge.

[2018-11-23 11:30] ktsaou commented on #809
This is on our roadmap.

[2018-11-23 11:32] ktsaou commented on #2415
This has been implemented in a couple of ways.
So, I am closing it.

[2018-11-23 11:32] #2415 closed

[2018-11-23 11:32] ktsaou commented on #2099
This is nice!

[2018-11-23 11:33] ktsaou commented on #1143
This is on our roadmap.
There are a couple of duplicate issues too.

[2018-11-23 11:34] Saruspete commented on #4624
This sysctl net.core.netdev_budget_usecs is not available on all distributions.
For a long time, it was fixed at 2HZ, and RHEL/CentOS does not have this sysctl to tune it (kernel 3.10). Even if increasing the netdev_budget, this timeout will still go out of the loop, and the alert cannot be fixed.

Is there any way to check for sysctl /proc/sys/net/core/netdev_budget_usecs presency and adjust the

[2018-11-23 11:42] cakrit commented on #1134
Assigning to myself, to discuss and split work.

[2018-11-23 11:47] ktsaou commented on #1982
@gmosx 	check this.
The chart I posted above has different legend (below the chart).
This is also very important for a mobile view (not much width on the screen).

Other than that, this issue can be closed.

[2018-11-23 11:47] #1982 closed

[2018-11-23 11:47] ktsaou commented on #1134
@cakrit 	low priority. This is important, but not now.

[2018-11-23 11:51] ktsaou commented on #1921
Generating PNGs from the netdata server, would allow us to embed such charts in emails and notifications.

I would love to have this as part of the netdata hub.
So, it would be nice to discuss this a bit.

@cakrit 	@gmosx

[2018-11-23 11:52] ktsaou commented on #2317
I am closing this due to inactivity.
There is no demand for this feature.

[2018-11-23 11:52] #2317 closed

[2018-11-23 11:54] ktsaou commented on #2295
So, we don't have an alarm for unmatched entries?
@l2isbad 	can you add this?

[2018-11-23 11:56] ktsaou commented on #1297
Closing due to inactivity.
node plugin did not take off. So, there is little value to refactor it.
Our current focus is on go.d.plugin

[2018-11-23 11:56] #1297 closed

[2018-11-23 11:57] cakrit commented on #238
I'm having a hard time understanding from this thread what exactly Netdata would be doing while in power saving mode. What I understand from this request is that we can have a lower collection rate (though per second monitoring is a key differentiator of Netdata) and perhaps completely turning off everything related to health monitoring, to save the cycles used to evaluate whether an alarm should

[2018-11-23 11:59] ktsaou commented on #1126
I think we should find a way to support multiple config files for all modules that support jobs (python.d, node.d, etc).
This would allow applications to register themselves to netdata (install a file in a directory for letting netdata know what to collect).

We could also support `inotify` so that netdata can configure itself at runtime.

@l2isbad 	what do you think?
@cakrit 	we probably need thi

[2018-11-23 12:00] ccremer commented on #3498
I can only assume that Sophos is doing something wonky with its HA setup. Once I disabled HS, the packet loss is almost gone.
So, closing this one.

[2018-11-23 12:00] #3498 closed

[2018-11-23 12:03] ktsaou commented on #238
I think this is a workstation feature, not a server or IoT one.

Of course we need to support workstations too, and netdata perfectly runs laptops, it is friendly to hibernation, automounting of disks, waking up of remote filesystems, etc. but I think this is as far as we can get with workstation support.

So, unless we can find a real use for servers, VMs, IoT, I don't think we should explore thi

[2018-11-23 12:03] #238 closed

[2018-11-23 12:05] ktsaou commented on #1169
We are working to provide our own packages for netdata.
So, I think we can close this.

[2018-11-23 12:05] #1169 closed

[2018-11-23 12:08] ktsaou commented on #810
@cakrit 	working on alarms is a crucial part of netdata.
We have many things to do, like:

- add more alarms for common issues, especially for the monitored applications
- fix the threshold and calculations, so that the alarms will be more useful and less chatty
- provide better notifications
etc

We need to discuss this, by prioritizing the importance of data collection plugins and finding users

[2018-11-23 12:08] #810 closed

[2018-11-23 12:09] cakrit commented on #2413
Hi @promethe42, will you be able to progress with this one?

[2018-11-23 12:09] ktsaou commented on #1663
@cakrit this is about providing more meaningful and useful alarm notifications.
I am closing it, but please add it together with the other alarm features.

[2018-11-23 12:10] matyhaty opened #4726 "Example of Custom Dashboards"
Thought this might be useful for those also looking
We created a dashboard like this today......

Each card is a different server.
The guage is current CPU
Then RAM %, HDD Space %, Outgoing Data (MB/s), And CPU History.
The green bar indicates which one is getting updated. Once done is loves onto the next
The right hand column will show any current alarms (which remove when resolved)

We are runni

[2018-11-23 12:13] ktsaou commented on #807
@cakrit 	this is one of the most important tasks at the netdata core.

We should take into account OpenMetrics for this.

It will be a breaking change. It may change the external plugins API, the streaming API, etc. So, we could also rename other incorrectly parts of netdata with the same release (like `charts.d`).

[2018-11-23 12:14] ktsaou commented on #4726
nicely done!
thank you for sharing it.
It would be nice if you could also share the source HTML file.

[2018-11-23 12:16] ktsaou commented on #2401
@cakrit 	this is on our roadmap: extend the cgroups plugin to collect also the limits applied to cgroups, so that alarms about exhausted resources can be triggered.

[2018-11-23 12:18] ktsaou commented on #2477
@Ferroin 	we could modify `alarm-notify.sh` to send the FQDN of the host sending the alarm. It could be an option actually.

[2018-11-23 12:18] julsemaan commented on #3761
@ktsaou

I've submitted a PR (#3828) to fix this issue.

Any chance it can be merged ?

[2018-11-23 12:19] l2isbad commented on #1126
All jobs in 1 file looks better to me. I like 1 config file + `reload` feature

[2018-11-23 12:21] cakrit opened #4727 "Improve stock Netdata alarms"
From #810 :
[code]

We need a lot of help from the community on this one, so please help us! A lot of PRs will be linked to this general issue. We will also create other issues linked to this one, asking for help from past contributors.

[2018-11-23 12:30] ktsaou commented on #2239
There is already a chart with this info:

![image](https://user-images.githubusercontent.com/2662304/48943562-4761ee80-ef2c-11e8-85ce-50abf996d0b7.png)

So, it is just a matter of defining a new alarm in netdata.

[2018-11-23 12:30] cakrit commented on #3990
@gmosx please check out this one as well, it has a lot of info related to our roadmap.

[2018-11-23 12:33] ktsaou commented on #1126
I didn't mean to remove this feature.

But we could support (eg for `web_log`):

- `/etc/netdata/python.d/web_log.conf`
- `/etc/netdata/python.d/web_log.d/` having a `.conf` file for each job.

Both at the same time.

[2018-11-23 12:42] alsoGAMER commented on #4131
yes @cakrit of course is it

[2018-11-23 12:46] #4718 closed

[2018-11-23 12:49] ktsaou commented on #3761
@julsemaan 	sorry for the delay. A lot have happened in the last few months.
I think we will be able to proceed faster now.

@gmosx 	have a look at the PR #3828
We need this - it is on our roadmap, and it is implemented.

[2018-11-23 12:52] ktsaou commented on #2427
Somehow I forgot to update this.

Netdata now supports `hosts: host1 host2 host* !host4 ...` in alarms, so you can configure each alarm to be applied to one or more netdata hosts.

I am closing this. But if you believe something is still missing, just post.

[2018-11-23 12:52] #2427 closed

[2018-11-23 12:54] ktsaou commented on #1490
@cakrit 	smarter alarms is on our roadmap.
We have already added a lot statistical algorithms to the query engine, but we need to work more for providing a smarter, automated engine for detecting anomalies.

[2018-11-23 12:57] ktsaou commented on #2095
eventually, alarms will be dispatched centrally by netdata hub.

So, although we do not plan to rewrite `alarm-notify.sh`, we will provide a much better alternative: a free service to dispatch alarm notifications centrally.

So, I am  closing this.

cc: @gmosx 	@cakrit

[2018-11-23 12:57] #2095 closed

[2018-11-23 12:58] ktsaou commented on #1667
MacOS is already in travis.
FreeBSD is not supported by travis.

So, I am closing this.

[2018-11-23 12:58] #1667 closed

[2018-11-23 12:59] ktsaou commented on #1776
I think the whole updating mechanism will be rewritten, when we will have our packages.
So, I am closing this.

[2018-11-23 12:59] #1776 closed

[2018-11-23 12:59] ktsaou commented on #1566
@gmosx 	this is on our roadmap (provide more functionality at the charts' legends)

[2018-11-23 13:01] ktsaou commented on #2093
@gmosx 	this is on our roadmap.

[2018-11-23 13:02] ktsaou commented on #2351
@cakrit 	this is on our roadmap. But it has to be done at the netdata core.

[2018-11-23 13:03] ktsaou commented on #2107
@cakrit 	this is on our roadmap. Low priority though.

[2018-11-23 13:06] ktsaou commented on #2339
Now, there is a `d3pie` chart in netdata. It is not currently used by the dashboard, though you can use it in custom dashboards.

It is very fast (optimized by me) and very silk.

![peek 2018-11-23 15-05](https://user-images.githubusercontent.com/2662304/48944961-58612e80-ef31-11e8-8c6d-6e58480544c7.gif)

[2018-11-23 13:06] #2339 closed

[2018-11-23 13:08] ktsaou commented on #1614
@cakrit 	this is on our roadmap.
I found a couple of similar other issues too.

[2018-11-23 13:08] #1614 closed

[2018-11-23 13:09] ktsaou commented on #946
@cakrit 	this is part of the notification improvements.

[2018-11-23 13:09] ktsaou commented on #2296
@gmosx 	this is on our roadmap.

[2018-11-23 13:10] ktsaou commented on #1195
@gmosx 	I think this is nice.

[2018-11-23 13:13] ktsaou commented on #1195
oh! I think this is already implemented.

![peek 2018-11-23 15-12](https://user-images.githubusercontent.com/2662304/48945229-3f0cb200-ef32-11e8-841e-b36f61011fee.gif)

Just press ALT + select an area on any chart.

[2018-11-23 13:13] #1195 closed

[2018-11-23 13:16] ktsaou commented on #1446
@gmosx 	this issue is about flattening multiple dimensions into one. It is a nice feature for a few cases. The netdata query engine can do it, so we have to support it at the dashboard somehow.

[2018-11-23 13:17] ktsaou commented on #2405
This will be part of the netdata hub we are developing.

[2018-11-23 13:17] #2405 closed

[2018-11-23 13:18] ktsaou commented on #1041
Closing due to inactivity.
The netdata hub we are developing will provide a network view and will also provide the means to pre-register a server.

[2018-11-23 13:18] #1041 closed

[2018-11-23 13:18] ktsaou commented on #2149
@cakrit 	this is on our roadmap.

[2018-11-23 13:19] ktsaou commented on #2061
@cakrit 	this is on our roadmap (use the database to avoid gaps when streaming).
It requires a new protocol for slave->master communication.

[2018-11-23 13:20] ktsaou commented on #896
This will be fixed with the new database format we are designing.
So, I am closing it.

[2018-11-23 13:20] #896 closed

[2018-11-23 13:22] ktsaou commented on #2373
@cakrit 	this is on our roadmap. But low priority.
I would also add: support emulating other collectors too.

[2018-11-23 13:30] ktsaou commented on #3296
closing due to inactivity.

[2018-11-23 13:30] #3296 closed

[2018-11-23 13:34] ktsaou commented on #3426
this is already implemented with:

- fping
- tcp_check
- http_check

[2018-11-23 13:34] #3426 closed

[2018-11-23 13:36] ktsaou commented on #2709
Closing due to inactivity.

[2018-11-23 13:36] #2709 closed

[2018-11-23 13:37] ktsaou commented on #3685
@l2isbad 	collecting openmetrics and prometheus metrics are on our roadmap. High priority.

[2018-11-23 13:38] ktsaou commented on #3518
Closing due to inactivity.

[2018-11-23 13:38] #3518 closed

[2018-11-23 13:41] ktsaou commented on #2921
I think we have done a lot in this area: fping, portcheck, httpcheck, etc.
I suggest to close this for the moment.

[2018-11-23 13:41] #2921 closed

[2018-11-23 13:52] ktsaou commented on #2689
@cakrit 	this feature could also allow netdata to emulate other data collectors.
So, we could provide a config file that will allow netdata to emulate `collectd` or `telegraf`, or `node.exporter`, etc.

[2018-11-23 14:01] ktsaou commented on #3187
@cakrit 	this is on our roadmap.

[2018-11-23 14:19] cakrit commented on #1416
@yetanothernerdk the links to the code you were working on are no longer valid. Do you have it somewhere? Will you be able to continue on this?

[2018-11-23 14:38] ktsaou commented on #2631
@gmosx 	this is on our roadmap

[2018-11-23 14:40] ktsaou commented on #2737
@gmosx 	I think this should be part of the hub.

[2018-11-23 14:46] cakrit commented on #1663
No reason to close it then, assigning to me for now.

[2018-11-23 14:50] ktsaou commented on #2746
@cakrit 	we should do this with #807 and #4680
So, at some point we will have to implement all the breaking changes and increase netdata major version.

[2018-11-23 14:53] ktsaou commented on #2692
The netdata daemon already tracks the plugin and module of each chart.
So, what we miss now is configuration:

1. set a different history of the charts of a specific plugin or module
2. centrally control which modules should be run

[2018-11-23 14:56] ktsaou commented on #2781
@cakrit 	another one for controlling external plugin modules from `netdata.conf`.
The idea of having a `netdata.conf` called `[environment]` to allow configuring external plugins env variables is also nice (today, such variables are scattered in netdata.conf).

[2018-11-23 14:59] ktsaou commented on #2690
@cakrit 	this is about improving the OpenTSDB backend to support tags, like the prometheus one does.
Generally, we should support backends in the most comperhensive way.

[2018-11-23 15:02] cakrit commented on #1490
Automatic anomaly detection is in the roadmap, will discuss with @gmosx

[2018-11-23 15:08] ktsaou commented on #2637
@cakrit 	this is required for porting netdata to windows.

[2018-11-23 15:09] ktsaou commented on #3830
@cakrit 	this is on our roadmap.

[2018-11-23 15:10] ktsaou commented on #3830
And I think I found another similar one.

[2018-11-23 15:11] ktsaou commented on #2540
@cakrit 	yet another issue for fixing the streaming protocol to stream past metrics.
This is highly critical for IoT and quite handy for servers.
So, it is quite high in our priorities.

[2018-11-23 15:13] ktsaou commented on #3693
@cakrit 	another breaking change that depends on #807

[2018-11-23 15:15] ktsaou commented on #2579
I think this is already implemented.
So I believe that the same alarm can be defined, matching different families each, and the first matching will be used for each disk.

So, I am closing this. But if you need help configuring it, just post.

[2018-11-23 15:15] #2579 closed

[2018-11-23 15:16] ktsaou commented on #2623
Closing due to inactivity.
This will be implemented when we will support collecting resource limits from cgroups.

[2018-11-23 15:16] #2623 closed

[2018-11-23 15:17] ktsaou commented on #4154
@cakrit 	this is very important. Without this feature combined alarms cannot be easily created.

[2018-11-23 15:21] cakrit commented on #946
Adding it to the backlog

[2018-11-23 15:30] ktsaou commented on #4592
I suggest to use the one line installation, and post here the output of it:

[code]

Don't sudo or anything else. Just run it. Then copy and whole output from your terminal and paste it here.

[2018-11-23 15:35] roedie commented on #4090
Yes, I've ran the query with the same user. At this moment the load on our platform is not high enough, but I can send you a screenshot of the netdata graph and from my munin graph so you can see the difference.

[2018-11-23 15:38] ktsaou commented on #4036
This is a feature that **MUST** be added with netdata hub and must be by default enabled. It is really unbelievable that we don't have any visibility on module usage. We don't even know which modules are actually useless, so we spend time maintaining code that is not used at all.

1. I agree to remove all obsolete modules from the repo.
2. I don't agree to remove charts.d.plugin - this is the easi

[2018-11-23 15:39] ktsaou commented on #4090
Please do...

[2018-11-23 15:41] ktsaou commented on #4011
Closing due to inactivity.
It seems there is no demand for this request.

[2018-11-23 15:41] #4011 closed

[2018-11-23 15:43] ktsaou commented on #3071
@cakrit 	a network view will be provided with netdata hub.

[2018-11-23 15:44] ktsaou commented on #2360
@l2isbad 	the request we were talking before, about supporting directories of configuration files for plugin module jobs.

[2018-11-23 15:45] ktsaou commented on #3044
@cakrit 	this is probably a feature-set for the hub.

[2018-11-23 15:46] ktsaou commented on #3750
@cakrit 	this is important. It affects everything about containers.

[2018-11-23 15:46] cakrit commented on #3689
This seems fixed. Please reopen if there are any issues.

[2018-11-23 15:47] ktsaou commented on #3689
@cakrit 	how is it fixed?

[2018-11-23 15:49] cakrit commented on #2994
Seems fixed. Please reopen if necessary.

[2018-11-23 15:49] #2994 closed

[2018-11-23 15:52] ktsaou commented on #3918
@cakrit 	k8s monitoring is very important for netdata. Add it to our roadmap please.

[2018-11-23 15:55] ktsaou commented on #3643
@cakrit 	this is a nice feature. It would allow even blogs to be created for hands on experience on performance troubleshooting with netdata.

[2018-11-23 17:07] ktsaou commented on #2403
Currently this can be done only with custom dashboards.
But we are developing the netdata hub, a free service that will provide such a network overview.

So, I am closing this.

[2018-11-23 17:07] #2403 closed

[2018-11-23 17:08] ktsaou commented on #3247
Closing due to inactivity.
@tmtmtm 	is you can provide a few logs, we could adapt the regular expressions to support haproxy log format.

[2018-11-23 17:09] ktsaou commented on #3311
Sorry for the long delay in this response.

Netdata streaming is not HTTP. So, it cannot be proxies.
We are working on a new version of the streaming protocol that will use  websockets and will be HTTP proxy friendly.

[2018-11-23 17:09] #3311 closed

[2018-11-23 17:10] ktsaou commented on #4254
This is done now. No need to do more.

[2018-11-23 17:10] #4254 closed

[2018-11-23 17:12] ktsaou commented on #4679
Yes, this is a feature request. Netdata reads the docker container name when it detects a container, but it does not refresh this name later.

Is there an event, or something we could use to detect this container rename, without polling for it?

[2018-11-23 17:16] kachkaev commented on #4679
https://docs.docker.com/engine/reference/commandline/events/

There seems to be a rename event in the list of container events. Is this stream what netdata is listening to already?

[2018-11-23 17:18] ktsaou commented on #4660
This is a nice request, but as @h0lzi 	suggested, we could achieve a probably more objective result by examining the metrics already collected.

For example, if disk backlog is pilling up, or service time increases and utilization is high too, then the disk struggles to do the job.

Of course `ioping` could be useful in remote filesystems, or filesystems that do not provide block device performanc

[2018-11-23 17:20] ktsaou commented on #4679
We are not listening for any events from docker. Netdata detects containers using CGROUPS.
But it would be interesting to listen for events from docker.

[2018-11-23 17:22] bitcoiners opened #4729 "streaming from multiple slave nodes configuration issue"
##### Question summary
Trying to setup streaming from multiple slave nodes to a master node and have links to charts for slave nodes show up in "Databases available on this host" menu like this
![image](https://user-images.githubusercontent.com/38520/48954464-232dfe00-ef7c-11e8-8ba8-481b7599fdc7.png)

Having problems with only the latest slave node to restart showing up in the menu.
![image](https

[2018-11-23 17:32] ktsaou commented on #3948
Sorry for the long delay in this question.

You can install netdata as non-root. Netdata will run, although a few plugins will not work.

Follow this guide: https://github.com/netdata/netdata/tree/master/installer#install-netdata

You will need to pass the parameter `--install ~/` to `netdata-installer.sh` to install netdata in your home. Other than that, everything is the same.

[2018-11-23 17:32] #3948 closed

[2018-11-23 17:38] FedericoCeratto commented on #4660
The disk backlog is useful but the metric it provides has a different meaning than I/O latency on an unloaded system, similarly to network latency with or without traffic. Perhaps this could go into a plugin.

[2018-11-23 17:50] SuperQ commented on #4680
@ktarasz The node_exporter is a bit of an exception, on the high side of time-per-gathering. Even still, a typical collection happens in under 15 milliseconds. That timing includes full round-trip-time, I think the gathering internally happens in under 10ms, and we haven't done any parallel operations to reduce this.

On the typical scrape interval of 15 seconds, we're talking about less than 0.1%

[2018-11-23 17:54] bitcoiners commented on #4729
Thank you!
sudo rm /var/lib/netdata/registry/netdata.public.unique.id
on each slave node and restart of netdata worked.

[2018-11-23 17:54] #4729 closed

[2018-11-23 17:59] cakrit commented on #4717
Isn't this closed by #4716 ? What is left to do?

[2018-11-23 18:10] FedericoCeratto commented on #1490
Having worked with large proprietary metric analysis platforms, few thoughts:
- never use or show minimum/maximum/average values: they are often misleading. Use percentiles, typically 1,5,10,50,90,95,99
- you should not trust a host to monitor itself and take remedial actions
- don't average/min/max across different (identical) hosts running the same workload: there are often outlier hosts on any

[2018-11-23 18:51] cakrit commented on #3997
@Ferroin any chance you can look into this after #3960 is merged?

[2018-11-23 18:55] cakrit commented on #3853
@dpointk can you help us with this?
@gmosx this is very interesting for the hub

[2018-11-23 19:04] cakrit commented on #4660
@mfundul can you look into this and perhaps work with @vlvkobal

[2018-11-23 19:11] cakrit commented on #3643
Doesn't this URL need to point to a cloud service with the appropriate permission handling schema? Sound a lot like a very good feature for the hub.

[2018-11-23 19:39] mfundul commented on #4660
Will help @vlvkobal eagerly, working is going to be sporadic for a few days unfortunately.

[2018-11-23 19:47] cakrit commented on #4206
Keeping it on me until the new issue is created and triaged.

[2018-11-23 19:49] cakrit commented on #4154
Assigning to myself for triage.

[2018-11-23 19:54] cakrit commented on #2540
Duplicate of #2061

[2018-11-23 19:54] #2540 closed

[2018-11-23 19:59] cakrit commented on #2637
No one to pick it up right now, leaving it on me until we get someone to work on windows support.

[2018-11-23 20:02] cakrit commented on #2781
Leaving it on me until we have someone to work on this.

[2018-11-23 20:12] cakrit commented on #2673
Related to #3187

[2018-11-23 20:16] cakrit commented on #2373
Emulating other collectors will be covered in #2689. I suggest we keep this focused on dimension filtering.

[2018-11-23 20:21] cakrit commented on #4131
Thanks @alsoGAMER
@Ferroin, @l2isbad could you please see if you can help? This is a bug.

[2018-11-23 20:36] cakrit commented on #3935
@LeeNX why don't you just tell us which metrics and charts make sense and what alerts would be meaningful? We could then handle the implementation of the collector relatively quickly. We'd also love it if you could help us with debugging the collector.

[2018-11-23 20:47] cakrit commented on #3735
Can we discuss this a bit more? Netdata is all about providing the info users need. If autoscaling is a bit too aggressive for some charts, then isn't it better to identify those and configure it appropriately so it provides meaningful presentation OOB?

[2018-11-23 21:01] cakrit commented on #3540
Hi @Wing924, will you be able to progress this?

[2018-11-23 21:06] ktsaou commented on #4680
ok.

In netdata things are bit more optimal (due to optimized C code). So, a typical data collection is about 5ms for the whole proc.plugin (includes almost everything netdata collects from the system).

Still the problem is that on busy cloud servers this gives latency spikes up to 20x, not for the whole proc.plugin but for random parts of it. I traced these and found they are blocking I/O while

[2018-11-23 21:07] cakrit commented on #3117
@gmosx if you can help on how to get this, modifying the array shouldn't be an issue.

[2018-11-23 21:12] cakrit commented on #449
Sub-second is still on the roadmap, I'm just not sure if we have a duplicate somewhere.

[2018-11-23 21:14] ktsaou commented on #4680
@paulfantom 	if there is not anything more on this, I think we can close it.

@cakrit you are maintaining a list of blocking changes to be introduced in v2 of netdata, I think related to #807 . So, let's add this change to this list, and close this issue.

[2018-11-23 21:20] cakrit commented on #3609
Apologies for the late response @Avamander. As Netdata is all about meaningful presentation, could you [help the developers understand what they have to do]( https://docs.netdata.cloud/contributing/#help-the-developers-understand-what-they-have-to-do)?

[2018-11-23 21:20] ktsaou commented on #4717
I applied a fix to make parsing a bit more strict, but the whole HTTP parser is faulty. It needs to be rewritten. Not high priority, but this will eventually lead to issues as netdata matures.

[2018-11-23 21:33] ktsaou commented on #1490
@FedericoCeratto 	you are opening a large discussion.

Of course.

Then, you should not trust anything, since the host collects and exposes the metrics. If the collection is wrong, everything will be wrong - no matter where it is located.

My experience with netdata, is exactly the opposite. The network may be lost, the disks may fail, but netdata will still run collecting metrics.

The only thing

[2018-11-23 21:34] cakrit commented on #3971
@paulfantom can you help with this?

[2018-11-23 21:50] #4680 closed

[2018-11-23 22:00] cakrit commented on #4199
Apologies for the late response @alsoGAMER
As Netdata is all about [meaningful metrics](https://docs.netdata.cloud/contributing/#meaningful-metrics), we will need you to [help developers understand what they have to do](https://docs.netdata.cloud/contributing/#help-the-developers-understand-what-they-have-to-do).

Could you please provide some more detailed info on what exactly you want to see and

[2018-11-23 22:15] ktsaou commented on #4660
We could follow the `fping` example:

1. Make a PR in `ioping` to output metrics in netdata format.
2. Write a simple wrapper script to call `ioping` with the right parameters.
3. The wrapper could also be used to install / compile the right version of `ioping` when it is not available.

This is what the netdata `fping` plugin does...

[2018-11-23 22:18] ktsaou commented on #3643
Yeap it could be.

[2018-11-23 23:09] alsoGAMER commented on #4199
@cakrit I do not know what details to provide, I sent the link to the software source .. but more than that I can not say

[2018-11-23 23:50] Avamander commented on #3609
@cakrit

The way OSSEC data could be meaningfully displayed is displaying every alert level's count in a specified timeframe. Just like the nginx plugin shows the amount of 2xx and 4xx codes, the OSSEC plugin could show "alert level [0-13]" count. An additional metric would be the amount of "active response"-s. For example an increased amount of active responses indicates increased attempts at pro

[2018-11-24 00:00] ktsaou commented on #4592
So, it runs.
Did you check it?

[2018-11-24 00:25] ktsaou opened #4730 "openmetrics and prometheus data collection (and possibly graphite and opentsdb)"
## Motivation

[OpenMetrics](https://github.com/OpenObservability/OpenMetrics) is becoming the de-facto format for application metrics. This format assumes that applications willing to expose metrics, will be listening to an HTTP endpoint and the monitoring system should pull metrics at regular intervals by scraping that HTTP endpoint.

OpenMetrics exposition format is very close to the [Prometheu

[2018-11-24 00:57] ktsaou opened #4731 "RFC: service discovery at run-time and auto-detection"
## Motivation

Netdata already supports service auto-detection, to find the sources available for collecting metrics. This works very nice for a quick start, but it has certain limitations:

1. Netdata has to be restarted to run auto-detection again

2. Netdata has to be restarted to add or remove sources at runtime

3. There is no way for letting netdata know it should insist in collecting certai

[2018-11-24 01:42] sohwaje commented on #4664
OK. Here it is.
![snmp_conf](https://user-images.githubusercontent.com/19942049/48963445-a6c80900-efd5-11e8-852e-35823dc95268.JPG)

![snmwalk](https://user-images.githubusercontent.com/19942049/48963446-ad568080-efd5-11e8-87da-e7cccf830cf6.JPG)

[2018-11-24 06:56] gmosx commented on #2553
This is an issue of the daemon (web server) not the GUI.

[2018-11-24 06:58] gmosx opened #4732 "Add @jsdoc comments in dashboard.js to support static typing on e.g. VSCode"
<https://medium.com/@trukrs/type-safe-javascript-with-jsdoc-7a2a63209b76>

[2018-11-24 07:16] wccropper commented on #4376
Thanks, Yes I found the renamed items recently and forgot I to update this.

[2018-11-24 07:16] #4376 closed

[2018-11-24 11:08] ktsaou commented on #4664
Thanks. Can you copy and paste it as text? I need to copy it too, so an image cannot do.

[2018-11-24 13:50] askd77 commented on #4350
@l2isbad
im posting again the debug log of netdata below
bash-4.2$ /usr/libexec/netdata/plugins.d/python.d.plugin unbound debug trace 1
2018-11-24 08:36:57: python.d INFO: plugin: main: Using python 2
2018-11-24 08:36:57: python.d DEBUG: plugin: main: loading '/etc/netdata/python.d.conf'
2018-11-24 08:36:57: python.d DEBUG: plugin: main: module load source: 'unbound' => [OK]
2018-11-24 08:36:57: p

[2018-11-24 15:12] cakrit commented on #4730
I vote to go directly to a generic openmetrics plugin (and similar plugins for the other sources). We write it once and then it's just config files.

[2018-11-24 16:38] cakrit commented on #3999
This requires a query functionality to aggregate dimensions across charts, that netdata currently lacks. We will be looking into this in the future and would appreciate any relevant contributions.

[2018-11-24 16:46] ktsaou commented on #4047
We have added this information already:

![image](https://user-images.githubusercontent.com/2662304/48970784-21664800-f019-11e8-815b-d86373bbbc2b.png)

You can edit the files shown to setup your own alarms.

If you need more help, post here.

[2018-11-24 16:46] #4047 closed

[2018-11-24 17:03] cakrit commented on #4730
We discussed it with Costa and it looks like the best approach for OpenMetrics is indeed a plugin orchestrator with modules for each OpenMertics exporter. The reason is that the modules give us a great deal of flexibility in how to organize the metrics.

Graphite and OpenTSDB push metrics, just like statsd, so for them extending the current functionality in statsd (which includes synthetic charts)

[2018-11-24 18:41] ktsaou opened #4735 "RFC: anonymous usage statistics"
## Motivation

We need anonymous statistics about netdata. Such statistics will be used for:

1. **Quality assurance**, to help us understand if netdata behaves as expected and help us identify repeating issues for certain distributions or environment.

2. **Usage statistics**, to help us focus on the parts of netdata that are used the most, or help us identify the extend our development decisions

[2018-11-24 19:22] D34DC3N73R opened #4736 "Nvidia GPU monitoring in container"
I'm running the netdata/netdata docker container and I've installed nvidia-docker2 to give containers access to gpu, passing /dev/dri to the netdata container as well as environment variables `- NVIDIA_VISIBLE_DEVICES=all`, `- NVIDIA_DRIVER_CAPABILITIES=all`. The default runtime is `nvidia`. When I run `nvidia-smi` from within the container, I get `/usr/bin/nvidia-smi: No such file or directory`.

[2018-11-24 20:02] n0guest commented on #4035
Yep, it works. With and without "variables=yes":

[code]

Thank you.

PS: Sorry for delay.

[2018-11-24 20:13] paulfantom commented on #4736
Netdata container doesn't ship `nvidia-smi`. So to enable it, you need to add this binary to a container. To do this you need to create your own container image. Your dockerfile should similar to this:
[code]

[2018-11-24 20:16] paulfantom commented on #4735
This is largely a duplicate of #4041

[2018-11-24 20:28] yzgyyang opened #4737 "Free memory shows as 'inactive' in FreeBSD"
##### Bug report summary

I found that on FreeBSD, most of the free memory are in the 'inactive' memory category. This results in a constant warning of memory used by 95%+. My server is at https://netdata.ygy.io/.

##### OS / Environment

[code]

##### Component Name

ram

##### Steps To Reproduce

default configuration

default

##### Expected behavior

I expect the free memory to be displayed as

[2018-11-24 20:47] ktsaou commented on #4730
The main issue being discussed here, is how we will add more data collection sources to netdata. Since OpenMetrics is the upcoming standard, we should support it and we should do it in the best possible way:

1. it should be easy to add more data collection sources
2. it should be easy to correlate the metrics add the missing metadata (i.e to form meaningful dashboards using the collected metrics)

[2018-11-24 21:04] paulfantom commented on #4735
Generally yes, with some minor caveats:
- IP and shouldn't be collected at all (it shouldn't even go over the wire) to be compliant with GDPR. If this is necessary, then this system cannot be opt-out and needs to be opt-in.
- `systemd-detect-virt` isn't very portable or common. We cannot use it inside docker container or on non-systemd hosts.
- I don't see any value in installation/deinstallation

[2018-11-24 21:33] Komic commented on #3600
@cakrit Well, by defining periods of expected activity on the server in advance, we could both add a new layer of information to the netdata dashboard (what happens and when), and make already existing alarms more relevant (I don't care about my iowait metrics going up during a backup, for example).
Even better, by implementing some kind of API, whatever runs on the server could send a "hey, I'm s

[2018-11-24 21:57] paulfantom commented on #3600
So this is essentially extending concept of silencing alarms (issues #2673 and #3187) with data analysis and forecasting.

[2018-11-24 22:32] paulfantom commented on #4036
We have a `go.d.plugin` in the making, maybe those modules should have a priority to be implemented in go?

[2018-11-24 22:33] ktsaou commented on #4735
IPs cannot be avoided. They will be known to our server, not matter what we do. We will not use them, apart for security (spam protection, etc). They could also be a strong indication that we really have that many servers installed (i.e. if 50% of our installations are reported by single IP, something is very wrong).

GDPR is about personal data. Any data (including IPs) that are not personalized

[2018-11-24 22:40] ktsaou commented on #4380
hm... another breaking change to be implemented with #807 and its friends...

[2018-11-24 22:42] ktsaou commented on #3600
This is also related to #312 	(annotations).
It is interesting approach to have annotations influence the alarms...

[2018-11-25 00:40] D34DC3N73R commented on #4736
It's my understanding that is taken care of with the nvidia-docker2 package. `docker run -e NVIDIA_VISIBLE_DEVICES=all --rm base/archlinux nvidia-smi` results as expected, outputting

[code]

[2018-11-25 07:04] sohwaje commented on #4664
Yes. I do. But I don't have to publish the DEVICE IPADDRESS.
Because It is a public IP. so I used a private IP.

{
    "enable_autodetect": false,
    "update_every": 10,
    "servers": [
        {
            "hostname": "10.0.0.1",
            "community": "public",
            "update_every": 10,
            "options": { "timeout": 20000 },
            "charts": {
                "network inter

[2018-11-25 08:35] ktsaou commented on #4664
this one works for me:

[code]

I think the main problem was the chart name `network interface eth2`.

[2018-11-25 10:09] SuperQ commented on #4680
Ahh, it wasn't obvious by your description that netdata had some kind of internal tracking. Is this being tracked by client IP? It sounds fragile.

[2018-11-25 10:10] ktsaou commented on #4680
IP by default, but each prometheus can name itself at the URL with `&server=NAME`. So, it is up to configuration.

[2018-11-25 10:26] cakrit opened #4739 "Installation instruction for each flavor/OS"
Our installation page is the second most visited page in Netdata. Several users have had difficulty with the instructions and @ktsaou is simplifying it a bit in PR #4734.
However, it still needs a major restructuring, so that we guide new users on what exactly they need to do, based on their OS. We have several options on how to present this information appropriately in the documentation, but we'r

[2018-11-25 10:53] cakrit commented on #3973
@gmosx I believe that if we can combine this with #3643, it will be a killer for the hub. Where the snapshot will be stored and limiting the amount of storage required so we don't abuse the disk in an alarm storm is something that will need some design of course.

[2018-11-25 11:01] cakrit commented on #2391
I am closing this, please reopen if you have additional questions/issues.

[2018-11-25 11:01] #2391 closed

[2018-11-25 11:14] cakrit commented on #4702
@l2isbad I couldn't find in our documentation the answer to this:

How would we do it e.g. for a Python module?
I think it could be a good addition to the [documentation](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/README.md)

[2018-11-25 11:33] cakrit commented on #2058
Closing this in favor of #3824, which has a bit more info.

[2018-11-25 11:33] #2058 closed

[2018-11-25 11:33] SuperQ commented on #4680
Sounds reasonable, we should make sure this is documented for users who want to use the averages.

It turns out I was mistaken. We do collect all data in the node_exporter in parallel using a [goroutine sync group](https://github.com/prometheus/node_exporter/blob/9c9e17aba7d1995dd8a1abdcece42c04f4af4095/collector/collector.go#L112-L123). This should nicely align the data coming out of the exporter

[2018-11-25 11:47] cakrit commented on #4636
Hi @Charanjet, can you please share the configs you have under /etc/netdata/ and /etc/netdata/health.d ?
You're probably not using the default configuration and ended up disabling all alarms.
The stock config is under /usr/lib/netdata/conf.d/health.d as explained [here](https://netdata.netlify.com/health/#health-configuration-reference)

[2018-11-25 11:48] cakrit commented on #4564
The last question was asked again in #4636, so closing this one and we will continue the investigation there.

[2018-11-25 11:48] #4564 closed

[2018-11-25 13:52] cakrit commented on #4735
I agree of course that we need to be able to collect data, but data collection (even anonymous) must be opt-in, not opt-out. We've had some strong, understandable complaints in #2760. Trust is paramount here, all data collection should be disabled by default, even if it hurts.

What I'm not sure about is when/where the question to opt-in should appear. Upon first use of the web GUI perhaps.

[2018-11-25 14:02] cakrit commented on #3600
Yes, this is a very good area for improvement and we can do a lot with it, by linking the various issues together and looking at them holistically. I'll try to group them together and get a design discussion together.

[2018-11-25 14:12] paulfantom commented on #4259
This is already implemented

[2018-11-25 14:12] #4259 closed

[2018-11-25 14:18] paulfantom commented on #4736
I cannot reproduce it since i don't have any linux machine with nvidia card.

From what I see it looks more like a problem with nvidia-docker2 setup than with netdata. We don't ship `nvidia-smi` inside our image and nvidia-docker2 package makes some magic to add this into netdata container. But for some unidentified reason you cannot run it. Maybe it doesn't work with alpine images?

[2018-11-25 14:37] paulfantom commented on #4735
I am against of telemetry as an opt-in feature for following reasons:
1. We don't have any way to modify netdata configuration from WebGUI and that is good from security perspective. This means that users need to modify config files, but on the other hand we advertise that netdata uses autoconfiguration and there is not much need to touch config files.
2. Installation from binary packages doesn't

[2018-11-25 15:17] ktsaou commented on #4735
I agree with both of you, but I would prefer the @paulfantom 	way (enabled by default, action required additional action to opt-out), since this is the only way to have practical statistics.

Of course, this would require clear documentation about it (all over the place and centralized at a wiki) and simple actions to disable it.

Since netdata is free and open-source software, having such minimal

[2018-11-25 16:33] giang-nghg commented on #3689
@cakrit Sorry, I am still working on it, but not actively. I'm fine with someone else taking over.
If I can complete it before it's fixed, I will make a PR.

[2018-11-25 19:31] D34DC3N73R commented on #4736
That does seem to the case as the above command doesn't work with the Alpine image either. After searching through their GitHub issues it appears their drivers won't work with non glibc-based distributions. https://github.com/NVIDIA/nvidia-docker/issues/509

I haven't been able to build an Alpine image with Nvidia drivers, but it seems that would bloat the image to an unreasonable size, and it may

[2018-11-25 21:51] paulfantom commented on #4736
It should be fairly easy to build netdata by using busybox instead of alpine. However currently we cannot switch netdata image to use busybox since [multiarch project](https://github.com/multiarch) doesn't have up to date busybox images (last was pushed 3 years ago).

We could look into using https://hub.docker.com/r/multiarch/debian-debootstrap/ image as a base, but this in turn drastically incre

[2018-11-25 22:32] ktsaou commented on #4735
Example script to do the job:

[code]

[2018-11-25 22:38] ktsaou commented on #4735
Created WIP PR #4743

[2018-11-26 01:04] Wing924 commented on #3540
@cakrit It's very hard for me to implement this because the code is hard to read and can't compile in local (Mac):
[code]
Could you help me?

[2018-11-26 01:05] Firemanjoe commented on #4592
Ok, so an update was available and I attempted to update it via the way that I was always doing it

cd /netdata
sudo ./netdata-updater.sh

I get the same "merge files" error. I'm not the most savvy user - clearly - but I'm trying to make sense of it all.

[2018-11-26 01:40] sohwaje commented on #4664
Thank you so much. I got it.
![thanks](https://user-images.githubusercontent.com/19942049/48988230-ba0ade00-f167-11e8-9bd1-ddae58465177.JPG)

[2018-11-26 01:43] Wing924 commented on #3540
@paulfantom Is there any internal docs or examples about the web part?

[2018-11-26 02:03] sohwaje commented on #4664
Is CPU, MEMORY possible?

[2018-11-26 06:08] ShankarSharma01 opened #4745 "How Can I refresh custom chart of netdata of different server after clicking on server option?"
##### Question summary

Currently I am refreshing chart after click on a button, I am including dashboard.js of server, but the chart data remains the same. It should be reflect on the basis of server url.

##### OS / Environment

##### Component Name

##### Expected results

[2018-11-26 06:41] l2isbad commented on #857
Hm, i see we have almost finished (@simonnagl  confirm or deny ) [CUPS plugin in C](https://github.com/netdata/netdata/pull/1678)

@vlvkobal please have a look, maybe you can take over it

[2018-11-26 06:44] l2isbad commented on #1126
This is `split snmp.conf into several conf files possible` feature request. So @gmosx :smile:

[2018-11-26 06:52] l2isbad commented on #1890
I see `ipcs` command provides info about:

- Shared memory segments
- Message queues
- Semaphore arrays

`Semaphore arrays` already [implemented in C](https://github.com/netdata/netdata/issues/1128#issuecomment-259550276) (i haven't found link to the actual commit/PR)

@ktsaou @vlvkobal

I mean if we can avoid

[2018-11-26 07:01] l2isbad commented on #1931
Back to this, i am maybe be wrong, but it looks to me that `SocketService` is enough for custom Redis-like modules.

FrameworkService is responsible for getting raw data, not parsing it :thinking:

Or it should work like this
 * user defines list of commands

[code]

 * Framework service executes all commands and returns `{reqeusts': response, ...}` dict

?

[2018-11-26 07:13] l2isbad commented on #1960
Ok, this is `PM2 support` issue.
I see @paulfantom doesn't like it for some reason - i see a bunch of downvotes from him.

@paulfantom ?

@vmarchaud

Any updates on this?

Please give some good examples of such modules. I haven't found how to `retrieve information from PM2`. I read [monitoring](http://pm2.keymetrics.io/docs/usage/monitoring/) page but still no luck.

[2018-11-26 07:21] l2isbad commented on #2295
Yes

[2018-11-26 07:32] l2isbad commented on #2413
Ha, i see we have [riak module](https://github.com/netdata/netdata/issues/2413#issuecomment-312923018), but it doesn't have charts..

[2018-11-26 07:34] l2isbad commented on #2612
@Ferroin can you help on this?

[2018-11-26 07:36] ktsaou commented on #4592
Could you please post the error?

[2018-11-26 07:36] l2isbad commented on #3111
This feature will be in `go` version (i added it already, but `web_log` should be rewritten to supprt high load, to it will take some time), `python` version will be dropped

[2018-11-26 07:37] ktsaou commented on #4592
You can find update errors with this:

[code]

[2018-11-26 07:43] ktsaou commented on #3540
@Wing924 	as your repo is already, please run the installer. This will run `autoconf` and generate `config.h`. Then cmake will work. If not, post here the error you get.

The web part is relatively simple:

This is the entry point: https://github.com/netdata/netdata/blob/cfc740a7a2e7b7236ad1378fdb7a73c281cb867e/web/api/web_api_v1.c#L643

There is an array of API commands just above that function.

[2018-11-26 07:43] l2isbad commented on #3218
@gdelafond @stefnats hey guys

We are interested in adding `Apache Solr` monitoring to netdata, can you help?

@gdelafond do you have some time to work on this? if no, don't you mind if i will use your code and make a PR?

[2018-11-26 07:43] gmosx commented on #3540
I am also using a Mac, but I use a simple Ubuntu docker container for development:

Dockerfile:

[code]

Then

[code]

To compile from within the container:

[code]

Please note that thanks to the volume, I can use my editors on MacOS (e.g. VSCode) for development.

Hope this helps.

[2018-11-26 07:44] ktsaou commented on #4664
Yes, everything is possible. Just define the OIDs.

[2018-11-26 07:46] sohwaje commented on #4664
Can I have your example file? like a CPU or MEM...

[2018-11-26 07:46] l2isbad commented on #3332
:+1:

@vlvkobal  please [have a look](https://github.com/netdata/netdata/issues/3332#issuecomment-437761967). I looks like you can help there :smile:

[2018-11-26 07:47] ktsaou commented on #4745
I am not sure I understand the question.

You want to create a custom dashboard with charts coming from different servers?

The dashboard you have created is not refreshing the charts?

Something else?

[2018-11-26 07:48] l2isbad commented on #3603
@jedblack hi

It this still true?

[2018-11-26 07:51] ktsaou commented on #1126
I think we need this generally. Check #4731

I am closing this. Let's discuss this issue there.

[2018-11-26 07:51] #1126 closed

[2018-11-26 07:53] ktsaou commented on #1890
yes, it is very simple to do it in C.
We just need to extend the ipc module of proc.plugin

https://github.com/netdata/netdata/blob/master/collectors/proc.plugin/ipc.c

[2018-11-26 07:55] ktsaou commented on #2360
The motivation and a more generic solution is discussed in #4731

[2018-11-26 07:58] ktsaou commented on #4664
hm... I don't have any SNMP device exposing CPU and Memory.
@cakrit @l2isbad 	can you help?

[2018-11-26 07:59] l2isbad commented on #3609
@Avamander

Since you are the only `OSSEC` user here, please provide more details on logs.

Do we need to read both of this files?
Which lines in `active-response.log`/`ossec.log`  are interesting to us?

[2018-11-26 08:02] ktsaou commented on #3332
I added "help wanted" and "priority/low".
Unless I am mistaken, this is not on our roadmap. So, let's wait for a contributor to take it over.

[2018-11-26 08:13] l2isbad commented on #3620
Well, this requests adds additional queries to mysql and most of them `need the "PROCESS" privilege to have all process infos`.

Before adding it to roadmap we have to make sure this is needed.

I am not a mysql user myself.

@Ferroin what do you think? @ktsaou

[2018-11-26 08:18] l2isbad commented on #4574
[This is](https://github.com/netdata/netdata/issues/4574#issue-378142278) not `a list to implement`.

We have to analyze that list, remove some modules and prioritize others. After that it will be a sorted by priorrity list of modules to implement.

About remove: i think we can remove all `collectd` stuff, it's very specific..

[2018-11-26 08:32] l2isbad commented on #4062
Hey @martin-m-wang. Have you solved it? Is it still a thing?

[2018-11-26 08:48] l2isbad commented on #4664
Ha, it depends on device, some big devices has **a lot of** cpus (route processor cpu, switrch processor cpu, every line card has it's own cpu, etc ,etc ).

some examples:

Thats for cisco single cpu devices
[code]

dlink
[code]

[2018-11-26 08:52] cakrit opened #4746 "Create documentation on how to opt-out of anonymous data collection"
Related to #2760 and #4735

The page should explain what is collected and how to turn it off and needs to be updated every time a change in the anonymous data collection process is done.

The page should link to our privacy policy.

[2018-11-26 09:30] paulfantom commented on #3540
Similar docker image is already build by us and is available on docker hub.
Image: https://hub.docker.com/r/netdata/builder/
Dockerfile: https://github.com/netdata/helper-images/blob/master/netdata/builder/Dockerfile

[2018-11-26 09:43] #3752 closed

[2018-11-26 09:44] paulfantom commented on #1960
Idea is ok, I just downvote people who don't use GitHub reactions and instead add comments which doesn't add any value to the discussion.

[2018-11-26 09:50] ShankarSharma01 commented on #4745
can you please help me to out this?

[2018-11-26 09:51] paulfantom commented on #3935
It looks like what you need is [Home Assistant](https://home-assistant.io)

[2018-11-26 10:20] cakrit commented on #3685
Closing as duplicate of #4730, it will be delivered there.

[2018-11-26 10:20] #3685 closed

[2018-11-26 10:34] paulfantom commented on #4570
No, it is not fixed. This needs one more change in `configure.ac` - remove `_rolling` suffix from version string.

[2018-11-26 10:49] LeeNX commented on #3935
Actually used [OpenHAB](https://www.openhab.org) v1.8 in the past, but did not like the too many things in one place and how poor the trends/graphs.

Other options are systems like Node-Red and Domoticz, but I will re-deploy my OpenHAB automation in the near future, but would like to keep trends and possible alerts in netdata.

Getting by with my bash hacks, so not stress.

[2018-11-26 10:54] paulfantom commented on #3935
That's why Home Assistant can export data to other solutions: https://www.home-assistant.io/components/#history. Sadly there is no netdata there.

[2018-11-26 11:20] ShankarSharma01 commented on #4745
Yes.

I have list of servers, when I click one of them, then my chart should be reflect with data on that particular server.

________________________________
From: Costa Tsaousis <notifications@github.com>
Sent: 26 November 2018 13:17:38
To: netdata/netdata
Cc: Shankar Sharma; Author
Subject: Re: [netdata/netdata] How Can I refresh custom chart of netdata of different server after clicking on ser

[2018-11-26 11:39] cakrit commented on #4574
As discussed with @l2isbad, the list will be updated to show the service first (as some lines are duplicates) and it will have an additional column, referencing the relevant issue if it already exists. For each row that doesn't have an issue already, @l2isbad will call the GitHub API to create an issue with the label "help wanted" using the GitHub API, where we will request a sponsor and votes for

[2018-11-26 11:53] ktsaou commented on #3620
Generally, the more the better.
But we need to prioritize it a bit. I would suggest to wait for a few likes at the original post before  adding it to our roadmap.

Of course any contributor could work on it. But @l2isbad 	make sure all these are added in a non breaking way (i.e. if the module fails to collect these due to permissions, do not abort the whole module - continue to collect whatever is

[2018-11-26 12:05] ktsaou commented on #3935
There is statsd.

[2018-11-26 12:06] ktsaou commented on #4745
I am sorry, but I still don't get it. Can you post a few screenshots of your problem?

[2018-11-26 12:20] #4474 closed

[2018-11-26 12:50] AleAntunez commented on #4698
Hello,

we've re-executed to get all the data. This is, again, the memory profile:

![imagen](https://user-images.githubusercontent.com/1734346/49014731-60afa880-f181-11e8-9cd5-56854576af22.png)

![imagen](https://user-images.githubusercontent.com/1734346/49014750-70c78800-f181-11e8-8a9c-ad19ada56097.png)

And we're attaching the snapshot, ad the requested process data.

[netdata-20181126-133216-6

[2018-11-26 13:20] ktsaou commented on #4474
why did you close it?

[2018-11-26 13:35] simonnagl commented on #857
The basis work was done. I would not say I almost finished it.

[2018-11-26 13:40] Ferroin commented on #4727
I intend to be looking at stuff for the applications we can monitor that I actually understand and making PR's to add alarms for them, even if it's just examples that are disabled by default.

[2018-11-26 13:48] Ferroin commented on #2239
The problem is figuring out what to set the trigger point at.  Any arbitrary absolute value is likely to not work for everybody, and end up either annoying the crap out of people, or just never fire.  We really need to base this on the maximum number of processes that the system can have active.  On Linux, we can query `/proc/sys/kernel/pid_max` to get that value, but I'm not sure what's needed on

[2018-11-26 13:50] Ferroin commented on #4002
Marked as low priority because I so far seem to be the only person who wants this, and I've been having serious issues getting it tested properly.

[2018-11-26 13:56] Ferroin commented on #3311
More accurately, you can't proxy it via an HTTP proxy.  The stream proxy support in NGinx works fine for it, though that of course loses you most of the benefits of proxying it over just exposing it directly.

[2018-11-26 13:58] Ferroin commented on #3997
Yes.

[2018-11-26 14:02] Ferroin commented on #4131
@alsoGAMER Sorry about not getting back with you on this, I got sidetracked by something else, and the issue got lost in the shuffle.  I never did get around to actually trying to reproduce it, so I'll get on attempting to do so ASAP.

[2018-11-26 14:05] kenschwarz opened #4751 "Python3 *only* plugin"
I'm still getting my legs with Netdata, especially with Python plugin, but I'm still confused about python3 compatability.  Can I used a third-party python library that *requires* Python3 in a Python plugin (specifically Pyton 3.6)?  /var/log/netdata/error.log still states "using python2" when I restart netdata and attempt to run my plugin.  I'm running on a RHEL 7.5 VM with Netdata 1.10.0-1 build

[2018-11-26 14:12] Ferroin commented on #4737
Netdata is almost certainly correct that you have that much inactive memory.  FreeBSD, like most UNIX systems, frees memory when space is needed, not when the last reference to that memory is dropped.  So all that inactive memory is reusable by the system, but is not technically free.

Given this, the correct fix would seem to be to update the memory usage alarm to account inactive memory on FreeB

[2018-11-26 14:15] Ferroin commented on #1133
This is likely going to require work on the C side of things, which is a bit beyond my current expertise.  I can still help with it, but it may get done faster if someone else is involved.

[2018-11-26 14:37] Ferroin commented on #2239
Relevant to #4313

[2018-11-26 14:39] Ferroin commented on #2984
This is likely to need a significant redesign of `alarm-notify.sh`, so unless someone else wants this with high priority (or someone submits a PR that does it), I'm inclined to say it should wait for the hub.

[2018-11-26 14:44] Ferroin commented on #1133
Closing in favor of #3187, as that has slightly more fleshed out discussion.

[2018-11-26 14:44] #1133 closed

[2018-11-26 14:52] springerst94 commented on #4677
I'm using influxdb. Is ther a format in influxbd that supports how netdata records the individual cpu data. 

      From: Costa Tsaousis <notifications@github.com>
 To: netdata/netdata <netdata@noreply.github.com>
Cc: springerst94 <ecollingjr@sbcglobal.net>; Author <author@noreply.github.com>
 Sent: Thursday, November 22, 2018 7:14 PM
 Subject: Re: [netdata/netdata] Netdata cpu tags (#4677)

I thi

[2018-11-26 14:54] Ferroin commented on #4751
If you're on RHEL, then functionally no, because they don't provide any Python 3 support.

If, by some miracle, you can actually get a working installation of Python 3 without breaking your system when using RHEL, and you can configure Netdata to use it (just make sure it's in $PATH for Netdata before any other python implementation), then you could use third-party libraries that require Python 3.

[2018-11-26 14:56] paulfantom commented on #4751
Python 3.6 on RHEL7: https://developers.redhat.com/blog/2018/08/13/install-python3-rhel/

[2018-11-26 15:00] petarkozic commented on #4565
Sorry on last answer.
After upgrade of netdata problems disappear.

[2018-11-26 15:00] #4565 closed

[2018-11-26 15:01] martin-m-wang commented on #4062
Not yet, I let it go and managed to gather the nvme data using bash module. I'll try to reproduce and do some work around and read more books on JavaScript to see if I could find out the reason.
Thank you for your reply.

[2018-11-26 15:01] Ferroin commented on #4735
Disclosure can't be avoided, but there's no reason we need to log them (or if we do log them, that we have to retain them long term).

Except this isn't reliable for the same reasons that IP's aren't PII.  There are actual, currently operating, ISP's who have thousands of customers in a NAT routing configuration behind a _single_ IP address.

[2018-11-26 15:06] paulfantom commented on #4735
Basically half of Great Britain :smile:

[2018-11-26 15:15] ilyam8 commented on #4062
Ok, i am closing this for now. Feel free to reopen if you have any questions.

[2018-11-26 15:15] #4062 closed

[2018-11-26 15:46] alibo commented on #1931
@ilyam8 You're right, but we already have `MysqlService` which also parses the response of mysql.

Probably without `\r\n` :D

Yes 👍(You probably needs a redis module for this :) )

[2018-11-26 15:54] ktsaou commented on #3868
Point 1 needs some work to make it properly (it should sort the dimensions so that the zero dims are at the bottom - this sorting should happen on every update, if the zero/non-zero dims changed).

Point 2 is somewhat problematic. If everything is zero, an empty chart will be the result.

[2018-11-26 16:31] Ferroin commented on #4574
@l2isbad I still see some value in specific collectd modules.  The LVM checking is useful for anyone doing automatic storage reconfiguration (which LVM itself actively supports for certain cases).  FSCache is really specific, but again useful for things that are actively supported (CSC is pretty typical usage in big enterprise settings, and the only CSC support on Linux is FSCache).  The Xeon Phi

[2018-11-26 16:33] Ferroin commented on #4313
We've got much of the frameworks for both of these implemented already, and in fact already have some decent implementations in a few cases (if fully configured, the `web_log` module provides RED for web servers).

I'll look at getting alarms added for USE stuff that we don't currently have alarms for and putting together a set of feature requests for stuff from that which we don't currently track

[2018-11-26 17:21] ktsaou commented on #4727
@Ferroin 	this is good.
if you also disable alarms by default on your installations, I think we should change the thresholds or make them more reasonable.

[2018-11-26 17:32] ktsaou commented on #4737
This seems simple. Can you make a PR?

[2018-11-26 17:36] ktsaou commented on #2239
@Ferroin 	this is nice!

Regarding the threshold, we can also compare the max number for the timeframe -10min to -60min with the average number of the timeframe 0 to -10min. If the later is +X% we can trigger the alarm. This should detect sudden changes in the number of processes.

[2018-11-26 17:37] ktsaou commented on #2984
I agree...

[2018-11-26 17:59] Ferroin commented on #4727
The only ones I disable by default are the softnet ones, but I also only do so after making certain that they hardware can sustain the network workloads the system is supposed to handle.

Personally, I think _most_ of the default thresholds are reasonable, except possibly the disk backlog alarm, but that's going to be so configuration specific that I see little value in trying to fine-tune it.

[2018-11-26 18:01] Ferroin commented on #2239
I like that idea too,  though I can think of at least a couple of cases where it might produce false positives unless we put a lower bound on the number of new processes created.

[2018-11-26 18:41] krinfels opened #4755 "Change in Incomming Webhooks Slack API breaks alerts"
##### Bug report summary
Slack ignores "channel" and "username" parameters.
The API has been changed so that now it is required to specify the channel the messages will be posted to during the creation of a webhook

 [source](https://api.slack.com/custom-integrations/incoming-webhooks)

I guess that it also makes #3722 obsolete.

##### OS / Environment

##### Component Name
slack.alert

##### Step

[2018-11-26 18:46] D34DC3N73R commented on #4736
I stumbled across https://github.com/frol/docker-alpine-glibc which does work with nvidia-docker2. I grabbed and edited the Dockerfile from [here](https://github.com/netdata/netdata/blob/master/docker/Dockerfile). When attempting to build netdata with it, I get the following error in the build process. I haven't really had a need to create my own image before this so any tips would be appreciated.

[2018-11-26 18:47] jakk2809 opened #4756 "Python.d.plugin infinite retries, ignore penalty, and plotting 'None'"
##### Feature idea summary

These 3 features kind of work together so charts update, even if there is no data. I have a RabbitMQ queue that has data from another program being published to it every second. I wrote a python.d.plugin that subscribes to this data and passes it on to Netdata to plot (update_every = 1). However, if the source stops publishing data, it would be nice if the plot (optiona

[2018-11-26 18:52] Ferroin commented on #4737
Just took a look at the current upstream version, and it looks to me like we already are accounting it.  The listed calculation line for the raised `ram_in_use` alarm on the linked dashboard is different from what the upstream alarm config shows, displaying:

    (($active + $wired) - $used_ram_to_ignore) * 100 / (($active + $wired) - $used_ram_to_ignore + $cached + $free)

instead of:

    ($acti

[2018-11-26 19:01] gmosx commented on #4474
It's already extracted into src/dashboard.js/registry.js. This was an old obsolete issue.

[2018-11-26 19:57] paulfantom commented on #4736
Where did you execute it from? If you just changed netdata Dockerfile and it is still in `docker/` then you need to build you image with `docker build -t netdata-glibc --file=docker/Dockerfile ./` while being in top level directory of this repo.

Look here: https://github.com/netdata/netdata/blob/dbbe252e93e2b45e1e86e0cc73b754304a3c0b41/docker/build.sh#L33-L35

[2018-11-26 19:58] #4158 closed

[2018-11-26 20:03] ilyam8 commented on #4756
Retries is user configurable. Actully i don't think we need it at all (i removed it in [go.d](https://github.com/netdata/go.d.plugin)).

I think we can remove it from `python` too @Ferroin @ktsaou

Penalty is nice. But we can make it user configurable.

This won't work

[2018-11-26 20:05] #4666 closed

[2018-11-26 20:06] Ferroin commented on #4756
I don't think we need retrying on updating the chart, provided that it properly updates when new data starts coming back in.

We absolutely need to keep any retrying related to auto-detection though (although giving that some kind of exponential back-off might be a good idea).

[2018-11-26 20:10] ilyam8 commented on #4756
Oh, my bad. I was talking about module [retries](https://github.com/netdata/netdata/blob/79df60266d07033ed4dc652f95a1140297506116/collectors/python.d.plugin/python.d.plugin.in#L51).

[2018-11-26 20:12] D34DC3N73R commented on #4736
I created a new directory `netdata-glibc` cd'ed into that and created the Dockerfile there. Then ran `docker build -t netdata-glibc .` I was under the impression the `.` told docker build to use the Dockerfile in the working directory.

[2018-11-26 20:12] ilyam8 commented on #4756
Chart penalty? You can disable it per module/job

https://github.com/netdata/netdata/blob/79df60266d07033ed4dc652f95a1140297506116/collectors/python.d.plugin/beanstalk/beanstalk.conf#L42-L50

[2018-11-26 20:18] ilyam8 commented on #4756
We have `retries` option, job dies after it fails to update n `retries` in a row. I don't like it.
I think we should keep trying to recover indefinitely (with optional exponential back-off enabled by default ofc).

[2018-11-26 20:21] Ferroin commented on #4756
@ilyam8 Seconded.  Even though I start Netdata after almost everything else on my systems, I regularly have to restart it a few minutes after the system finishes booting just so it detects everything it's supposed to be monitoring.

[2018-11-26 20:30] paulfantom commented on #4736
No, `.` tells docker that your working directory is a dir where you currently are and docker assumes that Dockerfile is in this dir. Working directory is later used as a point of reference for things like COPY directive ([Like here](https://github.com/netdata/netdata/blob/master/docker/Dockerfile#L31)). That's why you usually see Dockerfile in tld.
Since we don't have Dockerfile in tld and we need

[2018-11-26 20:35] ilyam8 commented on #4756
No, if job `check()` fails, plugin drops the job (if it's not `autodetection retry` job).
`Retries` option is for jobs which passes check. That is why i suggest to remove it - if job passes check we should never kill it.

[2018-11-26 20:37] ilyam8 commented on #4756
@jakk2809

Updates with what? With previously collected data?

[2018-11-26 20:40] Ferroin commented on #4756
@ilyam8 Ah, I misunderstood how the auto-detection retry stuff actually works, sorry about the confusion.  That said, I still think having infinite retries and exponential back-off for them makes sense.

[2018-11-26 20:40] D34DC3N73R commented on #4736
Thanks, I did get the image to build. At first I missed the second `FROM` in the Dockerfile, but I've now edited both instances to `frolvlad/alpine-glibc` and still don't see any reference to GPU monitoring.

[2018-11-26 20:42] jakk2809 commented on #4756
Sorry, I guess printing a blank 'SET' line isn't necessary. Omitting the dimension completely doesn't freeze the graph or causes errors, my mistake. Here is what I was doing to print None:

![image](https://user-images.githubusercontent.com/7157378/49040915-eb83a980-f167-11e8-8499-aef21d239b3f.png)

Things to seem to freeze when all the dimensions are set to None. I'm guessing that's because there

[2018-11-26 20:52] ilyam8 commented on #4756
Thats by design and this is valid.

[2018-11-26 21:01] jakk2809 commented on #4756
Okay. I guess the main thing is the infinite retries and optional exponential back-off.

[2018-11-26 21:01] ilyam8 commented on #4756
`SET `data2` = ` is only handy in debugging

Empty `SET` and not `SET` is same for netdata

[2018-11-26 21:04] ilyam8 commented on #4756
Ok, let's start from the beginning.

What exactly are you trying to achieve? :smile:

[2018-11-26 21:30] ilyam8 commented on #4756
it's default behaviour, netdata does exactly that.

same, default behaviour.
By default `python.d` plugin supresses charts which weren't updated `chart_cleanup` times in a row (charts considered updated if at least one dimension was updated). This can be overriden in module configuration file (`charts_cleanup: 0`)

[2018-11-26 21:35] ilyam8 commented on #4756
So the problem is `penalty` thing.

[2018-11-26 21:37] ilyam8 commented on #4756
Sum it up:
 * remove retries completely (job retries)
 * make job `penalty` (exponential back-off) optional, but enabled by default.

[2018-11-26 21:40] jakk2809 commented on #4756
Yes. I think so.

[2018-11-26 21:41] paulfantom commented on #4736
Have you checked if you can run `nvidia-smi` inside that container?

[2018-11-26 21:51] D34DC3N73R commented on #4736
Yes that works now.
[code]

[2018-11-26 23:13] paulfantom commented on #4736
Did you enable `nvidia_smi` netdata module? By default it is disabled ([docs](https://docs.netdata.cloud/collectors/python.d.plugin/nvidia_smi/)).

[2018-11-26 23:41] D34DC3N73R commented on #4736
I see reference to NETDATA_USER_CONFIG_DIR and NETDATA_STOCK_CONFIG_DIR environment variables. Would they not be used here? Also looking at netdata.conf, I see 104 references to `nvidia` what exactly needs to be uncommented? If I map a volume, `.config/netdata/netdata.conf:/etc/netdata.conf` would that work?

[2018-11-26 23:56] sohwaje commented on #4664
OID? I found. Thank you everyone.

[2018-11-26 23:56] #4664 closed

[2018-11-27 00:48] paulfantom commented on #4736
Netdata installed in a container expects user configs in `/etc/netdata`. `nvidia_smi` is an external netdata module so to enable it you need to put configuration in `/etc/netdata/python.d.conf` file. All stock configuration files are located in `/usr/lib/netdata/conf.d`.

[2018-11-27 02:31] D34DC3N73R commented on #4736
I really appreciate all the help, but I'm just not wrapping my head around what file needs to be edited, and where it needs to be placed to enable GPU monitoring.

I copied `/etc/netdata/python.d.conf` and uncommented `nvidia-smi=yes`. I then mapped the host copy to `/etc/netdata/python.d.conf` as a volume and started the container. After entering the container shell, `cat /etc/netdata/python.d.co

[2018-11-27 03:22] sohwaje opened #4760 "Can I monitor a F5BIG-IP Memory using SNMP?"
I have make snmp.conf for Switch Interface. It's awesome.
But I cannot make other device. For instance Memory, CPU.....
Can I monitor a MEM using SNMP?
I know MIB & OID.
sysStatMemoryTotal 1.3.6.1.4.1.3375.2.1.1.2.1.44
sysStatMemoryUsed  1.3.6.1.4.1.3375.2.1.1.2.1.45

How does it make this?

[2018-11-27 03:49] D34DC3N73R commented on #4736
As a side note, the glibc built image comes in at 105.6 MB while the netdata/netdata image is 110 MB. Using that alpine-glibc repo might be a nice way to enable GPU monitoring for other docker users in the future. I guess my next steps are to figure out how to automate the build of a glibc version of netdata upon new releases.

[2018-11-27 06:35] promethe42 commented on #2413
@cakrit We're moving away from riak and riak-cs so sadly I won't have the resources to work on this.

[2018-11-27 07:02] alivxlive commented on #1168
`Hello,`
I have the same problem, netdata out-of-memory:

OS: Ubuntu 18.04
Ram size: 8 GB.
just a small app running in the server for testing.
So there is nothing can fill up the memory.
Netdata error log:

`2018-11-27 06:25:47: netdata INFO  : MAIN : resources control: allowed file descriptors: soft = 1024, max = 4096
2018-11-27 06:25:47: netdata INFO  : MAIN : Out-Of-Memory (OOM) kept as-is (run

[2018-11-27 07:14] ShankarSharma01 commented on #4745
Its ok, No problem.

I just want to know, where i have to mentioned the server ip address when refresh the chart?

[2018-11-27 08:36] ilyam8 commented on #4760
Short answer - yes, you can monitor anything if you know OID.

Check from the cli if your device returns something for these OIDs.

[code]

[2018-11-27 08:48] cakrit commented on #4755
Thanks, I noticed the other day too. It's a documentation issue, the integration does work. I'll test it with random values in DEFAULT_RECIPIENT_SLACK and update the instructions accordingly.

[2018-11-27 09:00] DavidS3141 commented on #2479
I was just about to open a new feature request when I found this (through the GitHub beta of related issues, its working amazingly well). So I see from above that it was never the intention to add this functionality to the install script, but some pointed out that it seems not to difficult and after more than a year there is still no official package releases (or am I missing something). I would a

[2018-11-27 09:07] paulfantom commented on #4736
Main problem with `alpine-glibc` is that it is not supported by multiarch project, so we loose other platforms by switching to it.

[2018-11-27 10:25] namdeorraj opened #4761 "Refresh Issue"
##### Question summary
How to load new dashboard.js file in html file.
##### OS / Environment
windows
##### Component Name

##### Expected results
The new dashbord.js should get load and should get called the functions from new port id

for eg. firstly i am loading one url
https://xyz.com/netdata/111.111.111.111/dashboard.js
and after clicking on another server I am loading new url
https://xyz.com

[2018-11-27 10:28] #4761 closed, assigned to nobody

[2018-11-27 10:53] NicolasGoeddel opened #4762 ""Out of disk inodes" alarm when restarting LXC containers"
##### Bug report summary
I installed netdata on a host which runs several LXD/LXC containers on a ZFS filesystem. Every night these containers are temporarily stopped, snapshotted and restarted. During this downtime (less than 10 seconds usually) for every container I get bombarded with alarms from  `/usr/lib/netdata/conf.d/health.d/disks.conf` with this error:

Edit: I forgot to mention that also

[2018-11-27 10:55] DavidS3141 opened #4763 "Installing and updating netdata to stable releases only (v2)"
This feature request is basically a duplicate of #2479 (same title), but I could not reopen that issue and was not sure if anyone would see it. Feel free to close this and reopen #2479 as I documented this post there as well.
##### Feature idea summary
Currently the `kickstart.sh` installs the current repo state with all the latest bugs. You have released versions. Would it be possible to add a ve

[2018-11-27 11:00] cakrit commented on #4755
I did some tests, you can still specify a different channel or even a user and it overrides the default configuration in the webhook.
I am removing the default addition of '#' to the "channel", so it can support both channels and users
netdata will add the '#' if it's not already there in the recipient, for backwards compatibility.
You can't just leave the default recipient empty, as this has a sp

[2018-11-27 11:50] #2295 closed

[2018-11-27 11:55] cakrit commented on #2413
Leaving with tag "help wanted". To progress, we require at least one sponsor, who will assist with the following:
- Specify the metrics required and how they should be presented in charts.
- Specify the alarms that would make sense for each metrics
- Test the implementation in their own environment
- Use the charts and alarms in their day to day work and provide additional feedback after the colle

[2018-11-27 13:20] cakrit commented on #4439
Site live, all links updated to point to [https://docs.netdata.cloud](https://docs.netdata.cloud)

[2018-11-27 13:20] #4439 closed

[2018-11-27 13:42] rda0 commented on #1206
@ktsaou is it possible that `exclude space metrics on paths` no longer works?

We are using the latest netdata version from github and are unable to exclude nfs mounts with:

[code]

Excluding by type (`nfs`, `autofs`) with `exclude space metrics on filesystems` has no effect as well:

[code]

[2018-11-27 13:54] cakrit commented on #4762
Actually, according to [the documentation](https://docs.netdata.cloud/collectors/cgroups.plugin/#monitoring-ephemeral-containers) this isn't supposed to happen.

[2018-11-27 13:54] tbblake opened #4766 "edit-config question?"
On my home systems I configure netdata to only e-mail me critical alarms via:

/etc/netdata/edit-config health_alarm_notify.conf

Can I just copy the file, use sed on it to tweak the config, and bounce netdata? Or do I have to use edit-config?

[2018-11-27 14:03] Ferroin commented on #4766
Yes, you should be fine just copying the relevant config files and then editing them with `sed` (or any other editor of your choice.  The `edit-config` script is literally just a wrapper to handle copying the file from the correct location to the correct location and starting an editor.

[2018-11-27 14:05] tbblake commented on #4766
Great, I'm a big fan of scripting/automation.  Thank you!

[2018-11-27 15:29] kenschwarz commented on #4751
Thank you for your quick responses!  After some more pushing, I'm getting further down the road but haven't had that "ah-ha" moment yet.

I added a symbolic link: /usr/local/bin/python3.6 -> /bin/python
I also moved my third party Python libs to  /usr/libexec/netdata/python.d

Here's the output of /var/log/netdata/error.log when I restart netdata (plugin is named /usr/libexec/netdata/python.d/rena

[2018-11-27 15:37] paulfantom commented on #4762
This is probably more related to disk monitoring than containers. Seems like either LXC or ZFS is doing some intensive disk operations when stopping a container which in turn trigger an alarm.

[2018-11-27 15:49] cakrit commented on #345
We are working with high priority on a different implementation for Kubernetes monitoring, which means that there will be very little need for a cgroups hierarchy.

[2018-11-27 15:49] #345 closed

[2018-11-27 15:52] cakrit commented on #3750
We are working with high priority on a new implementation for Kubernetes monitoring, which means that there will be little need for supporting hierarchical cgroups. I am leaving this one open in case someone in the community would like to assist with the v2 support.

[2018-11-27 15:54] ilyam8 commented on #4751
https://github.com/netdata/netdata/issues/1731#issuecomment-277767601

[2018-11-27 15:57] cakrit commented on #3520
As a first step to improve the support for Kubernetes we will implement a new collector that will utilize the available API, instead of cgroups. This issue will be  focused on the implementation of the new collector.

[2018-11-27 15:58] cakrit commented on #3918
Blocked by #3520, which will provide the new Kubernetes collector.

[2018-11-27 16:07] Ferroin commented on #3750
I disagree that we don't need to support hierarchical cgroups.  Not needing support for them for k8s is one thing, but there are many other applications of them than just k8s.  systemd-nspawn comes to mind as one example, but it's also not a unique case.

[2018-11-27 16:11] Ferroin commented on #3750
Also, I don't have time personally to learn the C code responsible for this right now, but if someone wants to work on it let me know and I'll be happy to help with the testing side of things.

[2018-11-27 16:36] shadycuz commented on #3520
@cakrit I would still like to help on this feature. If I understand this right then a collector is a Netdata object to collect data and turn it into a format that can be rendered into charts/graphs. When you say available API I presume you mean the Kubelet on each node? and the last question which will determine how much I can help, is this collector going to be written in C? It's a weak point of

[2018-11-27 16:37] shadycuz commented on #3520
@cakrit @ktsaou Are you guys at re:invent in vegas? We could meet up.

[2018-11-27 17:08] D34DC3N73R commented on #4736
So what's the plan for enabling GPU stats in the container? Or is that not going to happen on the official image?

[2018-11-27 17:12] cakrit commented on #3520
Thanks @shadycuz we will definitely need a sponsor/power user to help us with meaningful presentation. @ilyam8 and @paulfantom will be discussing with you in this thread. The new collector will be either in Go or in Python.

[2018-11-27 17:21] NicolasGoeddel commented on #4762
Could it be related to snapshotting a ZFS volume instead of stopping/starting a container? I try to check that manually.
After the snapshot I am using `zfs send` and `zfs receive` on another host to make an incremental backup from the snaphot which was made between the `lxc stop` and `lxc start` commands. This way I can make efficient backups without a long downtime.

[2018-11-27 18:31] krinfels commented on #4755
That is weird. Before posting this issue I have tried setting DEFAULT_RECIPIENT_SLACK to different values and the alerts would always appear on channel that was assigned to the webhook during its creation. Perhaps you are using a webhook that was created before the API change?

[2018-11-27 18:36] ilyam8 commented on #4702
`python.d.plugin` has  debug mode, there you can see all data it pushes to `netdata`. This is 100% in the docs.

Example output:

Creating charts

[code]

Updating charts
[code]

Depends on [dimension algorithm](https://docs.netdata.cloud/collectors/plugins.d/#dimension).

[2018-11-27 18:53] cakrit commented on #4755
Nope, I just added another webhook and Slack is clear about it:

[2018-11-27 19:31] ktsaou commented on #3520
hm... we missed this year. But next year we will be for sure.

[2018-11-27 19:59] krinfels commented on #4755
You're right. The problem was that I created the webhook following the official [guide](https://api.slack.com/incoming-webhooks), however using the webhook created with [this](https://my.slack.com/apps/A0F7XDUAZ-incoming-webhooks) seems to do the trick.
The main issue is that changing the channel has been disabled when using the "new" webhooks that are attached to an app, but since one can still c

[2018-11-27 21:58] D34DC3N73R commented on #4736
Could something like this https://github.com/sgerrand/docker-glibc-builder be added on top of the multiarch alpine base? Maybe outputting to a different branch? netdata/netdata:glibc etc?

[2018-11-27 22:20] ktsaou commented on #4737
@yzgyyang could you please update your netdata?

[2018-11-28 00:04] ktsaou commented on #2637
I just found this: https://github.com/h2o/h2o/

It is an http 1.1 and http2 web server, which also uses libuv when it is built as a library. It also supports SSL/TLS. Licensed under MIT.

Too good to be true. We could drop the internal web server(s) entirely, and at the same time gain SSL/TLS, http2 support and move to libuv !

[2018-11-28 00:07] ktsaou commented on #2637
It also supports websocket...

[2018-11-28 00:46] paulfantom commented on #4736
I need to check which other modules need glibc and if it is worth switching base image. But if we are going to switch base image it will be only to other "official" one so in this case it would be debian.

Other option is to use netdata/netdata as a base and add glibc on top of that.

[2018-11-28 00:46] sohwaje commented on #4760
Yes. I did.
[1]Result
memory_total = SNMPv2-SMI::enterprises.3375.2.1.7.1.1.0 = Counter64: 33767403520
memory_used = SNMPv2-SMI::enterprises.3375.2.1.7.1.2.0 = Counter64: 6526475320

How do I next?

[2018-11-28 00:48] paulfantom commented on #3520
Preferably in go as this language has the best support for k8s.

[2018-11-28 00:57] paulfantom commented on #4762
Seems like this might be the issue.

[2018-11-28 00:58] #4570 closed

[2018-11-28 01:19] winstonyin opened #4769 "Fail2ban: Read "Restore Ban" for persistent bans"
##### Feature idea summary
Current fail2ban module only increments counter when a new IP is banned (`NOTICE [sshd] Ban xx.xx.xx.xx` in log), but fails to increment when an old IP is re-banned (`NOTICE [sshd] Restore Ban xx.xx.xx.xx` in log). The "Restore Ban" event occurs when one sets the fail2ban jail time to -1 (banned forever), and the fail2ban service is restarted.

##### Expected behavior
Fa

[2018-11-28 07:44] cakrit commented on #4755
I will try it out and update the documentation accordingly in a different PR, with lower priority. The new webhooks will work when you put `DEFAULT_RECIPIENT_SLACK="#"` in health_alarm_notify.conf, so this issue will be closed with the merge of #4765

[2018-11-28 07:44] #3722 closed

[2018-11-28 07:44] #4755 closed

[2018-11-28 07:47] gmosx opened #4771 "Register (claim) a Netdata Agent to a specific Netdata Account"
Will support the registration of a Netdata Agent to a specific Netdata Account.

[2018-11-28 07:58] cakrit commented on #4760
Hi @sohwaje, please follow the instructions in [the documentation](https://docs.netdata.cloud/collectors/node.d.plugin/snmp/) and let us know if are still not able to do it, so we can improve it.

[2018-11-28 08:18] ilyam8 commented on #4769
Hey @winstonyin
I think your fix should work

1.  change
https://github.com/netdata/netdata/blob/caf7b045a5d5ab87f61411f45e3eeeb3ffd161bc/collectors/python.d.plugin/fail2ban/fail2ban.chart.py#L49

to
[code]

2. change
https://github.com/netdata/netdata/blob/caf7b045a5d5ab87f61411f45e3eeeb3ffd161bc/collectors/python.d.plugin/fail2ban/fail2ban.chart.py#L119

to
[code]

Have you tried it?

[2018-11-28 08:31] winstonyin commented on #4769
Yes that is precisely the modified fix I tried. The result is that even though dozens of IPs are re-banned in a short amount of time when fail2ban is restarted, netdata only picks up 3 or 4. This gives a totally incorrect count of total number of banned IPs in jail.

[2018-11-28 08:38] ilyam8 commented on #4769
Module uses `LogService` framework service, it reads all new lines every iterations.

So it should count **all** restore ban ips.

So you say if i add , for example, 1000k `Restore Ban` ips to the `fail2ban.log` module fails to parse them?

I need a step by step guide how to reproduce the bug

[2018-11-28 08:51] winstonyin commented on #4769
When the fail2ban service is restarted, 100 Restore Ban entries appear in fail2ban.log, but netdata chart corresponding to the fail2ban jail only goes up to, say, 3.

[2018-11-28 09:57] ilyam8 commented on #4769
@winstonyin fixed it

[2018-11-28 10:07] ilyam8 commented on #4769
@winstonyin

thx for reporting it :+1:

[2018-11-28 10:10] #4769 closed

[2018-11-28 11:09] ktsaou commented on #4756
Another solution would be for the UI to pick up the lack of updates and visualize them.

Today we have this problem in many more cases. For example:

1. a container is not updated any more but someone views its charts. There is no indication it stopped receiving updates and there is no way to push empty chart updates for it (its charts are marked `obsolete` in netdata).

2. there is a network fail

[2018-11-28 11:14] ktsaou commented on #4763
Hi, thanks!

We are currently trying to release our own binary packages for all major distros. Once we have released them, let's discuss this again. I think this won't be needed.

[2018-11-28 11:17] ktsaou commented on #1168
In `dmesg` there should be logs about OOM (Out-Of-Memory).
Could you please post them here?

[2018-11-28 11:22] cakrit commented on #4745
Are you referring to the bug in #4721? That one was fixed by #4733
If not, maybe you can read [the registry documentation](https://docs.netdata.cloud/registry/) to understand how the 'my-netdata' menu works.
Without a registry, you have to separately point your browser to the netdata URL of your server(s).

[2018-11-28 11:24] DavidS3141 opened #4775 "Backup data automatically on some signal event"
##### Current setup
Before going into the feature request short overview over my setup:

Like discribed on this [documentation (Netdata, Prometheus, Grafana stack)](https://docs.netdata.cloud/backends/walkthrough/) of yours, I am setting up this stack for a cluster covering a few machines (ca. 30). The current approach is, to install `netdata` on each worker node and have two prometheus instances,

[2018-11-28 11:30] DavidS3141 commented on #4763
Ok thanks. Do you happen to have a time frame within all the binary packages are going to be released? I am asking because #2479 was answered similarly and is already more than a year old.

Like I wrote in #2479, I would considering doing a PR for this if the binary packages are more than 2-3 months into the future.

[2018-11-28 11:45] ilyam8 commented on #4756
This is great. I like it!

[This](https://github.com/netdata/netdata/issues/4756#issuecomment-441808299) still should be implemented.

[2018-11-28 11:50] ktsaou commented on #4439
I think the main `README.md` needs update too. There is a section about documentation.

[2018-11-28 12:20] paulfantom commented on #4775
Use only one prometheus with frequent scrape (ex. ~5s) and forward data to sth like InfluxDB (via prometheus remote_write) to save historical data. It is discouraged to store long-term (more than 90 days) of data in prometheus instances.

[2018-11-28 12:21] ktsaou commented on #1206
Just tested excluding `nfs`. It works.

The filesystem is extracted from `/proc/self/mountinfo` (the third parameter before the end of each line).

[2018-11-28 12:48] Ferroin commented on #2637
We might have to change the streaming protocol to support it though, but that might not be a bad thing (making the streaming use websockets or real HTTP would be awesome).

[2018-11-28 13:14] paulfantom commented on #4763
We currently plan to move from using git to use tarballs for releases. After that implementing this feature will be much simpler, but I still don't know if we want to go down this road. Preferably I would like not to implement new features in installation and/or upgrader scripts to allow faster and easier transition.

[2018-11-28 13:23] paulfantom commented on #2637
I couldn't agree more!

[2018-11-28 14:35] Ferroin commented on #3750
My second comment was more about the cgroups-v2 support in general than the UI specifically.

[2018-11-28 16:02] paulfantom commented on #4775
Prometheus wasn't designed to store long-term data. You can do it, but it is not a design goal. You can find prometheus instances running in production which have a retention period of 24h as short retention periods put less stress on disk and CPU when storing and retrieving data.

I think that 1s resolution for distributed systems will be achieved with our netdata hub (work in progress).
Also I h

[2018-11-28 18:35] cakrit commented on #3961
Hi @T1MOXA and apologies for the delayed response. Do you still face this issue? If so, we'd like to help you resolve it by getting some more information.

[2018-11-28 18:45] cakrit commented on #3643
I am closing this and including it as a requirement of #3973. I will request feedback for the design that I have in mind there.

[2018-11-28 18:45] #3643 closed

[2018-11-28 19:48] #4628 closed

[2018-11-28 19:55] cakrit commented on #3973
My suggestion is the following:

1. Extend health/health.c to:
 - Export up to SNAPSHOTS_NFILES snapshots to disk (default 0)
 - Using compression SNAPSHOTS_COMPRESSION (possible values pako.deflate, pako.deflate.base64, lzstring.uri, lzstring.utf16, lzstring.base64) (default pako.deflate.base64).
 - With SNAPSHOTS_SEC_PER_POINT seconds per point (default 1)
 - Keeping data for the last SNAPSHOTS_

[2018-11-28 20:53] #4319 closed

[2018-11-28 21:06] ktsaou commented on #4756
sounds reasonable (infinite retries by default, exponential back-off enabled by default - both configurable).

[2018-11-28 21:29] ilyam8 commented on #4756
I am not sure about configurable retries. It makes no sense to me. Why should we stop it? I suggest to make it non configurable. We will change it only if there will be request for that feature with use case.

[2018-11-28 21:50] ktsaou commented on #4775
netdata will solve this problem in a number of ways:

1. We develop a new database format that will decouple memory footprint from database size. Our goal is to have at least 24h of high resolution metrics, with minimal / ignorable disk activity on the host itself. On netdata masters, the new format would allow them to scale a lot better compared to what we have today. So on masters the new databa

[2018-11-28 22:07] ktsaou commented on #4756
You are right. It is hard to find a case for this.

However, if later we support adding new jobs at run time, a finite retries could be useful to allow netdata retire from e.g. autoscaled apps that somehow did not manage to cleanup properly.

I think both settings could have a max and it is pretty simple to implement.

The defaults could be:

- for retries, `max` would be zero (retry forever)
- fo

[2018-11-28 22:10] VSG24 commented on #92
I'd like a windows port as well.

[2018-11-28 22:47] #4608 closed

[2018-11-29 04:20] sohwaje commented on #4760
Yes I do. But I don't know.
"charts", "dimensions".... Where are they?

[2018-11-29 07:48] cakrit commented on #4624
If you mean to adjust the threshold for the alert automatically, then the answer is no. What you will probably want to do is to [modify the alarm trigger](https://docs.netdata.cloud/health/#alarm-lines-warn-and-crit) for the alarms you're receiving, by [configuring](https://docs.netdata.cloud/health/#health-configuration-reference) the relevant conf file. You can see the name of that file in the "

[2018-11-29 07:48] #4624 closed

[2018-11-29 07:54] cakrit commented on #3883
This appears to be answered, please reopen if there are any more questions.

[2018-11-29 07:54] #3883 closed

[2018-11-29 08:00] cakrit commented on #4775
@DavidS3141 I believe that #3973 will address your need exactly, without waiting for the new DB format. I am closing this one as duplicate and please provide your feedback in #3973, if there's something additional or different you'd like to see. We intend to work on it very soon.

[2018-11-29 08:00] #4775 closed

[2018-11-29 08:05] cakrit commented on #4762
We will provide a solution for these types of issues via #3600 (definition of recurring tasks/maintenance windows), with the option to disable alarms during those periods.

[2018-11-29 08:05] #4762 closed

[2018-11-29 08:07] cakrit commented on #3600
Will follow up in #3187, closing this one as duplicate.

[2018-11-29 08:07] #3600 closed

[2018-11-29 08:20] th0th opened #4778 "Jumpy data when running on kubernetes"
##### Question summary
Charts are jumpy, not persistent. I really don't know how to explain this :) Please see this: [Here is a gif screencast.](https://user-images.githubusercontent.com/698079/49208335-92668080-f3c8-11e8-8467-6be097f20780.gif)

##### OS / Environment
Ubuntu 16.04 / Kubernetes v1.11.2 / Docker 17.3.2

[2018-11-29 08:23] cakrit opened #4779 "Add high level explanation of dashboard contents"
##### Feature idea summary
We say very little about what our dashboards contain in
https://docs.netdata.cloud/web/gui/
and
https://docs.netdata.cloud/web

We will need to add some screenshots and explanations, e.g. explaining that a chart is composed of dimensions, that you can see its context somewhere etc.

[2018-11-29 08:30] cakrit commented on #4778
Perhaps you just need to click this button?
![image](https://user-images.githubusercontent.com/43294513/49208883-50820e00-f3b9-11e8-8069-f4458828587b.png)

[2018-11-29 08:40] th0th commented on #4778
@cakrit thanks for the reply. I tried and it didn't change anything :/

The chart feels like its getting data from multiple sources and switching between those, really strange. Do you want me to record a bit longer screencast? Would it help?

[2018-11-29 08:44] cakrit commented on #4778
Yes, please do. About 30sec to 1 min if you can.

[2018-11-29 08:47] cakrit commented on #3833
@mfundul can you help with this one?

[2018-11-29 08:48] th0th commented on #4778
Oh, [here is the link to running netdata instance](http://116.203.23.177:30000), you can see it yourself.

[2018-11-29 08:56] ktsaou opened #4780 "richer dashboard fragments"
Netdata support "overview" sections, like these:

## Main system overview

![image](https://user-images.githubusercontent.com/2662304/49209531-65fc3580-f3c3-11e8-8029-48338ee5bcf3.png)

## web_log overview

![image](https://user-images.githubusercontent.com/2662304/49209552-77454200-f3c3-11e8-9374-702d9e015b1e.png)

## container overview

![image](https://user-images.githubusercontent.com/2662304/

[2018-11-29 08:58] cakrit commented on #2296
We will address this request in #2673, though not via a UI. Combined with #3187, we will be able to resolve these issues. Features for alarm & notification management via a UI will be provided by the hub.

[2018-11-29 08:58] #2296 closed

[2018-11-29 09:14] cakrit commented on #4778
Very strange. @ktsaou please check.

[2018-11-29 09:30] cakrit commented on #1142
Such alarm floods due to planned maintenance will be preventable when #3187 and #2673 are closed. Still, a way to clear/dismiss alarms in batch should be provided. We probably won't be able to do it via the UI at this stage, but I'm adding this with the others.

[2018-11-29 09:37] SuperQ commented on #4680
We converted our demo to use `data=raw`. The data [looks to be correct now](https://prometheus.demo.cloudalchemy.org/graph?g0.range_input=6h&g0.step_input=60&g0.expr=sum%20without%20(dimension%2Cchart)%20(irate(netdata_cpu_cpu_total%7Bdimension!%3D%22idle%22%7D%5B4m%5D))&g0.tab=0).

[2018-11-29 09:38] ktsaou commented on #4778
i think you have installed multiple netdata servers and the k8s is balancing requests among them. So, a few charts refreshes are coming from netdata A, and others are coming from netdata B.

[2018-11-29 09:45] th0th commented on #4778
Wow, nice catch! Thanks a lot!

[2018-11-29 09:45] #4778 closed

[2018-11-29 10:05] cakrit opened #4781 "Improve configuration documentation"
##### Feature idea summary
The main configuration guide at https://docs.netdata.cloud/daemon/config/ should provide an overview of what can be configured where (not just for the daemon, but also e.g. for notifications). It should point to individual READMEs with the config details of each area.

The various config READMEs should make sense as a whole, with cross-references where necessary.

[2018-11-29 10:36] SlavikCA opened #4782 "Can't enable synproxy performance plugin"
##### Question summary
Can't enable synproxy performance plugin
I enabled it in the config, but can't see in the dashboard.

##### OS / Environment
Ubuntu 18.04
netdata 1.11.1 installed via bash command, not via apt

##### Component Name
synproxy performance
Also described as /proc/net/stat/synproxy

##### Expected results
I expect to see synproxy graph in the dashboard.

##### Config file:
[code]

[2018-11-29 10:47] SlavikCA commented on #4782
I found this line in the log:
`
2018-11-29 10:17:12: netdata ERROR : PLUGIN[proc] : PROCFILE: Cannot open file '/proc/net/stat/synproxy' (errno 2, No such file or directory)
`

Does that mean, that /proc/net/stat/synproxy is not supported on Ubuntu?

[2018-11-29 11:02] gmosx opened #4783 "RFC Generation of agent_id"
# Generation of agent_id

We would like to offer a mechanism for a user to prove the ownership of a Netdata Agent. For example, in the upcoming 'Hub' service, the user should be able to 'claim' the ownership of his Netdata Agents.

We propose to replace the current `machine_guid` identifier with a new cryptographically derived identifier, called `agent_id`.

In the following, we entertain two diff

[2018-11-29 11:15] rda0 commented on #1206
Thank you @ktsaou for your reply.

I think I was confused, because I did not understand how netdata needs to be configured in a master-slave setup (with all ephemeral slaves). With the following lines in the **master `netdata.conf`**:

[code]

I can do the following on the master:

[code]

Which led me to the assumption, that the configuration from the master is inherited somehow by the slave. But

[2018-11-29 12:07] cakrit commented on #3187
My proposal is to do this in two steps:
Step 1 - No health checks at all during the specified period.
Step 2 - Support silencing of specific alarms.

For both use cases, I propose to build a mechanism that supports the iCalendar format. The basic idea is the following:
- I use any scheduling tool I like, to create a calendar for my maintenance times. There I can specify events any way I like (recu

[2018-11-29 12:09] cakrit commented on #3187
One more thing. The iCal format enables us to quickly add a widget to display the maintenance times on the UI as well. We have countless options to do that.

[2018-11-29 12:25] deep7710 opened #4784 "How to do custom monitoring in Netdata??"
##### Question summary

##### OS / Environment

##### Component Name

##### Expected results

[2018-11-29 12:32] ktsaou commented on #4680
nice, thank you!

[2018-11-29 12:37] gmosx commented on #4780
This overlaps with the work I am doing on 'console'. We could reuse some of the code for the Netdata Agent WebUI.

Regarding additional chart types, it's in my roadmap 😀

[2018-11-29 12:37] cakrit commented on #4784
You can try writing a [python plugin](https://docs.netdata.cloud/collectors/python.d.plugin/) or a [node.js plugin](https://docs.netdata.cloud/collectors/node.d.plugin/)

Does this answer your question?

[2018-11-29 12:46] Ferroin commented on #4783
Personally, I'm more in favor of the ECDSA approach.  It's both more robust, and more secure.

A slightly better workflow than what's proposed might be something like this:

1. The user asks Netdata for the public key, then adds that key to their account on the hub.
2. The user then tells Netdata what their account ID is and tells it to associate with that account.
3. Netdata calls out to the Hub

[2018-11-29 12:54] Ferroin commented on #3187
Agreed on the iCal support.  Two thoughts for features that would be nice to additionally have:

* Support for fetching calendars from a given URL, with an option to refresh it on a regular basis.  This gives us easy integration with existing infrastructure (CalDAV uses iCal, and lots of companies use CalDAV), and allows for the reasonably common case of maintenance being scheduled ahead of time b

[2018-11-29 12:55] ktsaou commented on #4782
I think you have to use `-j SYNPROXY` in iptables commands for that file to be enabled. Have you configured iptables synproxy?

[2018-11-29 13:02] tbblake opened #4785 "Netdata recompiling every night?"
##### Bug report summary
When the netdata updater runs every morning around 6:30am from /etc/cron.daily/netdata-updater on my raspberry pis it seems to be reinstalling/recompiling it every night.  I've got Zabbix monitoring on the pis and the CPU load was spiking every morning, but I was never awake to research why.  This morning I happened to be up, saw netdata being recompiled when looking at th

[2018-11-29 13:11] yoorshop commented on #2474
Hello,

I installed netdata on node openvz 7 (default with no custom anything), but in netdata, in users section, the IDs are not correct (not equal to user VPS ID, or VID)

However, i get a good an accurate ouput in this command : systemd-cgtop

I sent you report from GUI netdata quoting : https://github.com/netdata/netdata/issues/2474

Config default 👍
# cgroups = yes

	# max cgroups to allow =

[2018-11-29 13:14] #4766 closed

[2018-11-29 13:22] yoorshop commented on #2474
I just enabled for test prupose  	enable cgroup / = yes
	search for cgroups under / = yes
	enable cgroup user.slice = yes
	enable cgroup system.slice = yes
	search for cgroups under /system.slice = yes
	enable cgroup system.slice/system-getty.slice = yes

But same result....

[2018-11-29 13:30] paulfantom commented on #4785
That's not a bug, it is an effect of how updater was designed. It should update netdata every day if there are new commits added to master branch. Since we are currently working hard on netdata, this results in adding commits almost every day and thus also triggering updates every day.

Does you CentOS boxes have netdata updates enabled? Seems like you either have auto-updates disabled for them or

[2018-11-29 13:30] #4785 closed

[2018-11-29 13:48] Ferroin commented on #4785
Or, it's just not being noticed there because they have more processing power than the Raspberri Pi's, and thus the build finishes quickly.

[2018-11-29 13:59] cakrit commented on #3973
We have discussed with @ktsaou that the proposed solution would require great care in deciding when to take the snapshot, to guarantee that we don't stress the server when it has a problem. Several alternatives were discussed and we'll think about it a bit more before starting the work. Lowering priority to medium for now.

[2018-11-29 14:00] #4146 closed

[2018-11-29 14:07] gmosx commented on #4783
Can you elaborate on this?

Regarding the nonce/replay-attacks you are right, I will revise the proposal, thanks.

[2018-11-29 14:12] gmosx commented on #4783
Also, please note that this issue describes the generation of `agent_id` only, and _not_ the procedure of claiming the agent on the Hub. A more detailed issue for this will come later. The example use-cases are just that, an example.

[2018-11-29 14:13] cakrit commented on #3187
I like this idea very much. We could actually leave the synch completely out of netdata and instruct people to use [vdirsyncer](https://github.com/pimutils/vdirsyncer). Then all netdata needs is the path/filename where it would look for the calendar.

This is actually what I meant with the "Look for affected hosts" part.

[2018-11-29 14:23] Ferroin commented on #4783
Spoofing was probably not the best choice of term for what I'm worried about.  My concern here is that without requiring the user to prove they have access to the public key before they can claim a given server, users could accidentally (or intentionally) associate their Netdata instances to a different user's account.  By itself, this would be just a nuisance, but I could see it being a potential

[2018-11-29 14:49] Anachron commented on #3707
I'm still having this issue on

[code]

[2018-11-29 14:50] Anachron commented on #3707
I'm still having this issue/error on `netdata 1.10.1_rolling`.

[2018-11-29 14:55] gmosx commented on #4783
As I said, this issue is not concerned with the claim process. The examples where just examples. But since you mentioned it, the users need to be signed-in to associate a Netdata Agent, so your concern is irrelevant. Please wait for the proper design issue for claiming (I am prototyping this at the moment).

[2018-11-29 15:04] gmosx commented on #4783
Again I don't understand, this issue just proposes to replace one 128bit number (`machine_guid`) that we already use, with another 128bit number (`agent_id`), which allows for verification of his owner using a simple scheme. That's all.

Btw, 2^128 is not 'a lot', it's humongous: "This number is equivalent to generating 1 billion UUIDs per second for about 85 years, and a file containing this many

[2018-11-29 15:07] gmosx commented on #4783
Btw, we could use more bits for the `agent_id`. For example use 160bits or even 256bits. No need to keep it to 128bits. Would that alleviate your concerns?

[2018-11-29 15:20] Ferroin commented on #4783
The concerns about uniqueness yes.  The whole first example still scares me a bit though.  Is there some technical reason that we _can't_ use public key cryptography here, or at least some kind of existing well tested and audited authentication mechanism (because this _is_ authentication)?

[2018-11-29 15:22] paulfantom commented on #3707
@Anachron please upgrade. Current version is 1.11.1.

[2018-11-29 15:47] mfundul commented on #3833
This is related to [#3089](https://github.com/netdata/netdata/issues/3089). We should decide whether we want to maintain our own customized low overhead high maintenance ZFS IOCTL support or just use the zfs and zpool utilities.

[2018-11-29 16:22] Anachron commented on #3707
@paulfantom seems like actually I am at `1.11.0` but it claims to be `netdata 1.10.1_rolling`.

This is the package template: https://github.com/void-linux/void-packages/blob/a7ada3ea5a55f511dc0fe6ddc22b308f41e0b0b5/srcpkgs/netdata/template#L15

I think the error should not occur in this version.

[2018-11-29 16:40] paulfantom commented on #3707
Please verify in version v1.11.1, we had some fixes regarding various parts of netdata in that version.

[2018-11-29 16:49] Anachron commented on #3707
I'll reevaluate the situation once the package on Void Linux is updated to 1.11.1. For now the setup works,- thanks for your quick replies!

[2018-11-29 17:11] candlerb commented on #3833
`zfs list` and `zpool get` have `-H` and `-p` flags to make parsing the output easier.

Before:

[code]

After:

[code]

`zpool list` and `zpool events` support `-H` but not `-p`. Unfortunately `zpool status` has neither.

However, `zpool get -Hp all` or `zpool get -Hp size,allocated,free,health,dedupratio,fragmentation` would be a reasonable way of checking the zpool status, I think.

[2018-11-29 18:03] paulfantom opened #4788 "Unexpected behavior of installation script"
##### Bug report summary
Currently documentation doesn't state that `sudo` is required and installer will continue without it but with some unexpected results. For example it won't put a link in `/etc/cron.daily/` for auto updater script.

##### OS / Environment
All which doesn't have `sudo` installed.

##### Component Name
packaging
installer

##### Steps To Reproduce
Run installation on any syst

[2018-11-29 19:15] paulfantom opened #4791 "Uninstaller script is always interactive"
##### Bug report summary
Currently uninstaller script requires `--force` flag to be run. This flag commonly means NOT to ask for anything and do whatever user thinks is ok (look how `rm -f` works). However we do not respect this common design pattern and run every command in interactive mode. This poses two problems:
1. Using a flag in an uncommon way, misleading to users
2. Cannot uninstall netda

[2018-11-29 19:46] D34DC3N73R commented on #4736
That actually works surprisingly well.
[code]

[2018-11-29 20:13] yuvapradeep opened #4793 "Netdata is not generating any alarms"
In alarm section we have never received any alerts, is it default config or Do we have to enable any parameters.

![nedata_alarm](https://user-images.githubusercontent.com/8336280/49248999-23793e00-f441-11e8-9274-4f8bda8c3e51.PNG)

[2018-11-29 20:44] ktsaou commented on #2474
Could you please post a couple of screenshots and mention the IDs shown by netdata, versus the right ones?

[2018-11-29 20:53] SlavikCA commented on #4782
When I read the docs, I was thinking, that I just need to enable it in the config like this:
[code]

Now, it looks like I needed to pay attention to this:

When I tried to read these guides - it seems to be overly complicated for me.

Do I understand it correctly, that in order to see SYNPROXY metrics I need to install FireHOL?

Or is it just `iptables` command that I need to run? I tried to Googl

[2018-11-29 20:59] ktsaou commented on #4782
Well, netdata is a monitoring tool. It monitors what you use. So, netdata will not enable SYNPROXY for you - it will just use the SYNPROXY metrics exposed by your kernel.

FireHOL (another project I founded), is a firewall manager for iptables. This can configure SYNPROXY (using the guides you stated - though you have to learn that tool and understand how it works).

So, Netdata will monitor SYNPR

[2018-11-29 21:47] ilyam8 commented on #4085
Hey @WoozyMasta

Please run `python.d.plugin` in debug mode

[code]

[2018-11-29 23:42] ilyam8 commented on #4036
Priority for `SNMP`? Please no :pray:

[2018-11-29 23:48] paulfantom commented on #4036
We need to do something with this, we currently have node.d plugin just because of those two modules. So it is either reimplementing it in python, in C or in go. I don't have any strong opinions about in which one of those it should be implemented I just know it cannot stay in javascript.

[2018-11-29 23:49] ilyam8 commented on #4036
About the `SNMP`. I think it should stay as simple as possible. Otherwise we need a special guy only for that plugin.

[2018-11-29 23:57] paulfantom commented on #4036
I agree with that.

[2018-11-30 00:20] paulfantom commented on #4256
Seems like we have an email address, so now we can provide public GPG key and do the same.

[2018-11-30 07:20] #4782 closed

[2018-11-30 07:49] gmosx commented on #4783
I also agree we should go with something similar to the 2nd strategy. I will prepare an updated RFC.

[2018-11-30 09:01] cakrit commented on #4746
I reviewed our instructions on Security in docs/netdata-security.md and registry/README.md.

- [x] Security information is very prominent in our new documentation, [here](https://docs.netdata.cloud/docs/netdata-security/) and [here](https://docs.netdata.cloud/registry/#what-data-the-registry-maintains)
- [x] User IPs are no longer collected (documentation corrected in PR #4786)
- [ ] The hub will

[2018-11-30 09:01] #4528 closed

[2018-11-30 11:32] yoorshop commented on #2474
The right ones 👍

[root@vps ~]#  systemd-cgtop

Path                                                           Tasks   %CPU   Memory  Input/s Output/s

/                                                                563 1163.0    84.6G        -        -
/machine.slice                                                     - 1058.3    89.1G        -        -
/machine.slice/537

[2018-11-30 11:47] cakrit opened #4798 "Cookie consent for the Netdata sites"
##### Feature idea summary
For GDPR compliance and since we use GA, we need to have a cookie consent mechanism.
We should be able to use the same mechanism in all our sites (documentation, web site, hub etc).

[2018-11-30 12:08] anayrat commented on #4090
I am waiting for the screenshot.

[2018-11-30 12:10] cakrit commented on #4793
Please click the "All" tab to see which alarms are enabled.
If it does show alarms enabled, then the triggers haven't fired. You can also look click the "Log" tab, to see if any alarms were ever raised. If you want to receive alarms without being on the UI, you will need to [configure notifications](https://docs.netdata.cloud/health/notifications/)

[2018-11-30 12:32] roedie commented on #4090
Sorry about that. It looked like it was somehow a bit fixed so I was investigating that. But no.. So, here are the screenshots.

<img width="1195" alt="screenshot 2018-11-30 at 13 22 14" src="https://user-images.githubusercontent.com/1014038/49289422-0590f500-f4a4-11e8-8510-8643b93113f1.png">
<img width="904" alt="screenshot 2018-11-30 at 13 22 24" src="https://user-images.githubusercontent.com/10

[2018-11-30 12:37] ktsaou commented on #4036
SNMP has quite a few issues outstanding (like support for the latest protocol, modular configuration, auto-detection of the SNMP collected metrics, etc).
It is not priority though. It would be nice if this handled by a contributor.

[2018-11-30 12:38] ktsaou commented on #4036
But, we can't remove the existing one, until then...

[2018-11-30 12:41] Ferroin commented on #4036
I _might_ be able to put together something in Python to handle SNMP support, but it would end up changing what we depend on for SNMP support (my preferred SNMP tool has an option for dumping most or all of the data from the remote system in an easily machine parseable format, but it depends on all the relevant MIB's being installed locally).

[2018-11-30 12:43] gmosx commented on #4798
I added this script in the new site: https://cookieconsent.insites.com/

Works great.

[2018-11-30 12:49] ktsaou commented on #4783
Please keep in mind there are 2 use cases:

1. User installs by hand, one or more netdata and then claims them.
2. User installs netdata via a continuous delivery platform and needs them to be pre-claimed (i.e. all information about assigning these netdata to hub accounts and possibly groups of that hub account is pre-determined).

Both use cases should be supported for both installing netdata at

[2018-11-30 12:51] ktsaou commented on #4746
User IPs were never collected.
They were only stored at web server access.log files.

[2018-11-30 13:04] cakrit commented on #2760
An update on what has happened on this.

- Security information is now very prominent in our new documentation, [here](https://docs.netdata.cloud/docs/netdata-security/) and [here](https://docs.netdata.cloud/registry/#what-data-the-registry-maintains)
- User IPs were never stored anywhere (documentation corrected in PR #4786)
- The privacy policy was added to the documentation in PR #4797. You can

[2018-11-30 13:17] ilyam8 commented on #4085
edited

[2018-11-30 13:17] cakrit commented on #4798
To be perfectly clear on this, this only has to do with the use of the GA tracking (https://www.blastam.com/blog/5-actionable-steps-gdpr-compliance-google-analytics).
I will add the script to the docs myself.