[2022-03-28 09:55] surajnpn opened #12541 "[Feat]: Migrate ovpn_status_log to go.d.plugin with support for status version 2 and 3"
### Problem

openvpn_status_log collector written in python.d plugin doesn't work with newer openvpn versions

### Description

Currently, openvpn_status_log collector is a part of python.d plugin which hasn't been updated for long time. This collector only supports `status-version` 1. Newer openvpn by default use `status-version` 2. Supporting version 2 is a big chunk of work, and at this point m

[2022-03-28 11:41] rogeriojlle commented on #12520
this is solved for me

https://github.com/netdata/netdata/issues/2794#issuecomment-346936121

[2022-03-28 11:41] #12520 closed

[2022-03-28 13:52] #12527 closed

[2022-03-28 17:02] bennypi commented on #12525
I have the same problem as mentioned in #12531. Is there any workaround available while we wait for the patch?

[2022-03-28 17:09] #12397 closed

[2022-03-28 17:29] #12525 closed

[2022-03-28 18:39] Daniel15 opened #12545 "[Bug]: Typo: "Netada""
### Bug description

I can't find the source code for this dialog box, but it has a typo in the title:
![](https://d.sb/2022/03/firefox_28-11.36.36.png)

### Expected behavior

No typo in the product name!

### Steps to reproduce

Load a node that triggers this dialog (I'm not sure what triggers it)

### Installation method

native binary packages (.deb/.rpm)

### System info

[code]
[code]
[code]

[2022-03-29 08:00] MrZammler commented on #12516
Hi @gfay63 !

Can you please, after the compile fails, go into the compilation folder and do a `grep PROTO Makefile` and paste the output? Thanks!

[2022-03-29 10:29] vkalintiris opened #12549 "Support parent/child setups for ML-related charts."
#### Summary

Issue to track progress of things discussed in https://github.com/netdata/netdata/discussions/12477

[2022-03-29 11:01] MrZammler commented on #12376
Ok, indeed it doesn't work correctly.

I have a parent (**(6am) f34bed50-af44-11ec-af72-0c3796231cc3**) and a child (**(raspberrypi) 4266cdbe-af46-11ec-910b-e45f01241614**) both unclaimed.

When I get an alert from the parent for the child, the parent constructs this url:

`https://app.netdata.cloud/alarms/redirect?agentId=f34bed50-af44-11ec-af72-0c3796231cc3&host=raspberrypi&chart=system.ram&fami

[2022-03-29 12:12] underhood commented on #12516
What does `cpp -v` on your system say? It should list system include search paths. Does any of that paths include some system copy of protobuf on your system?

[2022-03-29 12:20] underhood commented on #12516
gcc states: `There are a number of command-line options you can use to add additional directories to the search path. The most commonly-used option is -Idir, which causes dir to be searched after the current directory (for the quote form of the directive) and ahead of the standard system directories. You can specify multiple -I options on the command line, in which case the directories are searche

[2022-03-29 13:38] underhood commented on #12516
Thanks to @MrZammler for noticing our installer actually adds those paths here:

https://github.com/netdata/netdata/blob/0746b58e7abe6a63c8c07c626eef3cb8c0217a43/netdata-installer.sh#L32-L50

That is incorrect and we are working on a fix

[2022-03-29 14:35] yasharne commented on #10989
Hi @MrZammler
No, as I checked, the netdata agent was fine during the problem

[2022-03-29 15:12] gfay63 commented on #12516
Hey @MrZammler and @underhood ! Thank you! Looks like you maybe have a fix. Here are some responses to the above in case it helps...

[code]

Looks like it does NOT include any reference to protobuf.

I did NOT add them myself, so the script must have. Aside, I did try a reinstall with those removed for kicks last week, and it made no difference.

YES! It contains `google` and that is a symlink to

[2022-03-29 15:29] gfay63 commented on #12516
Hmm, interesting. If it helps at all, I just noticed that symlink was created on Mar 14, 2022 at 12:29 AM CT. My install was on March 12th, but we were digging into the ACLK issue and I was collecting some info for you guys at that same moment.

_This comment was 15 minutes after the symlink was evidently created:
https://github.com/netdata/netdata/issues/12383#issuecomment-1066403971_

[2022-03-29 15:39] gfay63 commented on #12514
Just FYI that a subsequent uninstall again did leave the orphaned `com.github.netdata` plist file in place, pointing to the non-existent path `/usr/local/netdata/usr/sbin/netdata`

[2022-03-29 15:58] underhood commented on #12516
@gfay63 this should fix your problems when it gets merged https://github.com/netdata/netdata/pull/12554

If you can uninstall protobuf from `brew` (assuming no other of your software/packages needs it) it should serve as a workaround until that gets merged.

Thanks a lot again for reporting, cooperation and patience :)

[2022-03-29 16:19] gfay63 commented on #12516
@underhood  Great. Thank YOU! I did remove it, and I was able to complete a successful install again. So yay!

Aside, though, I am still having the other issue regarding updates not working. I discovered this when I tried to claim the node after install:

[code]

Note that this appears to be the exact same series of errors that I got with just doing regular updates per this issue I had reported ea

[2022-03-29 16:27] gfay63 commented on #12516
FYR, here is the full kickstart script output of my macos install in case it sheds any light on other macos install issues....
[netdata install after google symlink rename.txt](https://github.com/netdata/netdata/files/8373313/netdata.install.after.google.symlink.rename.txt)

[2022-03-29 16:46] ilyam8 opened #12555 "[Bug]: cgroups.plugin sometimes hangs on `cgroups_detect_systemd()`"
### Bug description

We debugged the problem with @vlvkobal and found out that the plugin hangs on `fgets()`

https://github.com/netdata/netdata/blob/0746b58e7abe6a63c8c07c626eef3cb8c0217a43/collectors/cgroups.plugin/sys_fs_cgroup.c#L119

when executing "systemd --version"

https://github.com/netdata/netdata/blob/0746b58e7abe6a63c8c07c626eef3cb8c0217a43/collectors/cgroups.plugin/sys_fs_cgroup.c#L1

[2022-03-29 17:11] gfay63 commented on #12516
And one last FYR...here is the .environmnet file the kickstart created. It does have that

`--with-bundled-protobuf --with-bundled-libJudy`

in it...

[code]

[2022-03-29 17:21] underhood commented on #12516
@Ferroin can you take a peek at the updater issue?

[2022-03-29 18:17] gfay63 commented on #12516
@underhood , I'm sorry having major problems again (that was an issue that I had before those protobuf issue distracted from it). Not sure if related to any of this above, but I can't get netdata to work **at all** now. Essentially once I shut down netdata, I am unable to restart it at all.

The error logs show this over and over and over:

[code]

I have even tried a re-install, and though it ran

[2022-03-29 18:21] #12027 closed

[2022-03-29 19:44] Ferroin commented on #12515
Looks like at least two bugs:

- An issue (possibly two) in the code that checks for a newer version of the updater script (specifically the `newer_commit_date` function). This is largely harmless, it just means that any fixes here on GitHub won’t be used until Netdata itself is updated. You can silence that particular part of the error output by just running the updater script directly with with

[2022-03-29 21:16] gfay63 commented on #12515
Not having much luck. If I echo $TMPDIR, it is set to:

`/var/folders/y3/hsh81nzs1r35v9ylm6b778wm0000gn/T/`

and looking at the errors above, that is exactly the path that the script is failing on.

After doing some research, this $TMPDIR weirdness is what the macOS evidently does normally. And my understanding is that this is so that the system creates folders within it with the proper privs, and

[2022-03-30 06:34] #12555 closed

[2022-03-30 07:55] MrZammler commented on #12516
Hi @gfay63 , ok, from the logs we need to take a look at the syntax error for system-info.sh, and also a question, does it always print `STREAM_COMPRESSION: Compressor Reset` before the `EOF found` ?

So, does this mean that Netdata starts ok, e.g. after a reboot, but then on Netdata's restart it fails?

Thanks!!

[2022-03-30 09:32] stelfrag opened #12559 "[Bug]: Agent crash on api/v1/info call"
### Bug description

[code]

### Expected behavior

Agent should not crash

### Steps to reproduce

1. Setup parent - child
2. Specify on the parent `cleanup orphan hosts after seconds = 30`
3. Start parent and child
4. Go to the parent dashboard and view the child's metrics
5. Stop the child while still viewing the childs dashboard (via the parent)
6. Parent crashes

### Installation method

from

[2022-03-30 09:34] cpipilas opened #12560 "[Bug]: Failed to manually update netdata on macOS from v1.33.1-28-nightly"
### Bug description

I'm trying to manually update netdata agent from v1.33.1-28-nightly to latest but re-installation fails:

[code]

Full log: https://pastebin.com/AzEHYvjL

### Expected behavior

The update should complete successfully.

### Steps to reproduce

- On a macOS 12.1 try to update/reinstall netdata from v1.33.1-28-nightly using kickstart

### Installation method

kickstart.sh

### S

[2022-03-30 09:48] MrZammler commented on #12516
Also interesting is this line: `2022-03-29 12:53:33: netdata INFO  : MAIN : STREAM_COMPRESSION: Compressor Reset`

Are you streaming to another agent? Can you try by disabling streaming compression (https://learn.netdata.cloud/docs/agent/streaming/) by setting `enable compression = no`

[2022-03-30 10:05] surajnpn commented on #12560
I wonder if it is a regression from upgrade protocol buffer. Could you test it again with older version of protocol buffer?

[2022-03-30 10:14] ilyam8 commented on #12560
@surajnpn I think it could be a regression after #12082.

[2022-03-30 10:34] ilyam8 commented on #12541
@surajnpn so we have 4 different variants:

- `--status-version 1`.
- `--status-version 2`.
- `--status-version 3`.
- [pre-shared keys case](https://github.com/netdata/netdata/issues/2075) (`--status-version` parameter doesn't affect the format).

[2022-03-30 10:39] #12539 closed

[2022-03-30 11:47] Ferroin commented on #12505
@ktsaou You did not answer my actual question. I’m not asking about debugging symbols, I’m asking about proper backtraces, and which install method you used that you then saw a crash and were not able to get a symbolic backtrace.

Loading a locally built copy of Netdata into GDB, built using our current default CFLAGS (so with `-O2` but without `-ggdb`), I can produce entirely correct symbolic bac

[2022-03-30 12:33] gfay63 commented on #12516
Heya @MrZammler . sorry, I'm in the States so slow to respond.

Yes, it does. Though I didn't get that EOF found when I first installed it.

Actually, it doesn't work at all anymore. The processes launch for a few seconds, then die. I just tried a reboot and got slightly different logs:

[code]

No, I am not.

FYI that on the initial install, I still get that line, but it continued on to work.Here

[2022-03-30 12:39] gfay63 commented on #12516
@MrZammler , for kicks, I pulled in stream.conf via edit-config. It was defaulted to `enabled = no`. Saved and tried to run again, and got the exact same logs as above.

[code]

[2022-03-30 12:41] gfay63 commented on #12516
Is there some debugging I can turn on to show more in the logs? I see a `debug flags = 0x0000000000000000` in netdata.conf but not sure how to use that.

[2022-03-30 12:41] #12319 closed

[2022-03-30 12:53] Ferroin commented on #12515
@gfay63 If you want to help with testing the copy from the PR, you can download it from https://raw.githubusercontent.com/Ferroin/netdata/updater-tmpdir-fix/packaging/installer/netdata-updater.sh.

It would need to be run with `sudo` using the same options I mentioned above: `--updater-no-self-update --not-running-from-cron`. The PR itself only fixes the TMPDIR thing though, because I’ve been unab

[2022-03-30 13:09] #12173 closed

[2022-03-30 13:10] shyamvalsan commented on #12177
Closed by https://github.com/netdata/netdata/pull/12494

[2022-03-30 13:10] #12177 closed

[2022-03-30 13:11] gfay63 commented on #12515
@Ferroin Thank you so much! That truly means a lot. I think your product is amazing so am determined to make it work, even though macos won't be a huge part of my platform later on...just is now for dev.

Testing that PR copy now...

[2022-03-30 13:22] MrZammler commented on #12516
Ok, so it crashes :-) and generally when it does, things in logs do not always reveal a hint where it might do so. But having repeatable printing `STREAM_COMPRESSION: Compressor Reset` before it does, could lead us to something.

Just to make sure, please add this to stream.conf, under the [stream] header:

`enable compression = no`

Thanks for your patience!

[2022-03-30 13:29] gfay63 commented on #12515
@Ferroin It is completed! But right, it still was not able to launch due to that other issue.

Oddly, there isn't even anything in the logs as though it didn't even "try" to launch?

There is one error at the very end. Not sure if important, but here is the final output:

[code]

...and here is the full dump in case anything in there of interest:

[netdata updater fix PR test run 3-30-22.txt](http

[2022-03-30 14:09] ilyam8 opened #12564 "[Feat]: add an option to filter containers by (resolved) names"
### Problem

At the moment we have only one option to filter out containers (cgroups) - "[enable by default cgroups matching](https://github.com/netdata/netdata/blob/dd437d66fbe6fd7dae1dbd801175306e9ece5259/collectors/cgroups.plugin/sys_fs_cgroup.c#L399)":

- it checks the pattern against the path of the cgroup.
- cgroup "id" usually is a long alphanumeric string that may change over time (e.g. an

[2022-03-30 14:14] jacekkolasa commented on #12376
@MrZammler I think we need to have the child's GUID anyway, especially in those cases where we redirect to the Cloud (AFAIK we cannot identify using hostname in the Cloud).

Could we maybe have `agentId` for a child, but also, have for example `parentId` represent parent guid? This way, if we cannot find the child in visited-nodes api, we could try navigating to parent via /host url. Having both i

[2022-03-30 14:37] ilyam8 opened #12566 "[Feat]: expose the `send charts matching` behavior as a URL query parameter to the `/allmetrics` endpoint"
### Problem

The problem is described in https://github.com/netdata/netdata/issues/3198

### Description

A URL query parameter that allows filtering charts when querying the `/allmetrics` endpoint.

### Importance

really want

### Value proposition

1. no need to change the configuration file and restart Netdata to adjust the filtering option (which means you need to have access to the host with

[2022-03-30 15:42] MrZammler commented on #12376
Ok, we could try this. We could add a `childId` (and leave `agentId` as is to represent the parent, so that the change would be cleaner) ?

[2022-03-30 15:43] gfay63 commented on #12516
@MrZammler Sure, I will email netdata.conf now. I have not customized it at all.

I tried turning off health completely and the netdata process still won't start up:

[code]

[2022-03-30 15:52] MrZammler commented on #12516
Ok, one small thing to try. Can you please delete everything under `/usr/local/netdata/var/cache/netdata/` ?

In essence it will remove your metric history, and start fresh.

Thank you!

[2022-03-30 15:57] gfay63 commented on #12516
@MrZammler Well, sir...that did it!!! It ran and stayed up!

However, once I did `sudo killall netdata`, I was then unable to start it up again (and the same logs messages returned). But you are on to something!

[2022-03-30 16:03] marcelmfs commented on #9675
Hi, I'm using nightly builds:

[code]

[2022-03-30 16:04] gfay63 commented on #12516
also, I should mention that re:

Yes, that "was" the version I was on. But we were able to get the updater script to work from this other issue [#12515](https://github.com/netdata/netdata/issues/12515) today, so I am now on `netdata v1.33.1-250-nightly`.

[2022-03-30 16:05] marcelmfs commented on #9675
They were working fine, until this last Monday 28th, when I started seeing gaps in Grafana and high IO/Wait on our central netdata.

[2022-03-30 17:08] gfay63 commented on #12516
@MrZammler Sure!

Yes, it does. There are a zillion lines after I killed it, but here is the tail...

[code]

Great! I think you will find quite a few issues with things. Lots of errors mainly with trying to monitor things by default that don't exist.

OK. I made that change to RAM and deleted the files again. I was able to restart it, let it run a bit, did killall, and it did not survive. I did n

[2022-03-30 17:57] stelfrag opened #12567 "[Bug]: Data queries may not respect dimension hidden option"
### Bug description

While the agent is starting, if you have a dashboard open and refreshing, the system.cpu chart may momentarily present incorrect data that might look like this

![image](https://user-images.githubusercontent.com/52996999/160898495-3f2993fd-9675-42e6-af90-3c9c336babc9.png)

The CPU usage will be 100% (doesn't show in this screenshot)

This is because the data query will run aga

[2022-03-30 21:02] #12559 closed

[2022-03-31 02:59] doublescotch commented on #12490
All is fixed for me, i have updated and succeed to install my cloud token today,
Thanks all

[2022-03-31 07:34] #12250 closed

[2022-03-31 07:53] stelfrag opened #12568 "[Bug]: Failure to create a management API key file should not shutdown the agent"
### Bug description

When the agent fails to create a `management API key file` it will shutdown with a fatal error. It should log an error instead and continue operation. This api key is used in the health management API

### Expected behavior

The agent should start up normally

### Steps to reproduce

1. Configure agent so that the `netdata.api.key` resides in a location that cannot be written

[2022-03-31 08:51] surajnpn commented on #12541
Some samples from linux @ilyam8

**Version 2** with connected client:
[code]
**without connected client**
[code]

[2022-03-31 09:28] vlvkobal commented on #12560
We found the cause. It was an old version of Xcode Command Line Tools.

[2022-03-31 09:40] MrZammler commented on #12568
How would we like to continue when this happens?

1) Disable the api.
2) Create a key in memory, print it in error.log, and allow to work with it while the agent is up. On restart user would need to use a new one again or fix the path.
3) Store this key in sqlite instead of a file, but provide a way for the user to see it:
3a) Migrate the key to sqlite all together
3b) Use both (the file and sqlit

[2022-03-31 09:42] #12560 closed

[2022-03-31 11:18] #12515 closed

[2022-03-31 12:02] MrZammler commented on #12516
We'll reopen to check the cause of the crash, although @underhood PR fixed the initial problem with proto.

[2022-03-31 12:23] MrZammler commented on #12516
Agreed, yes thanks Timo, @gfay63 do you mind if you open this in a new issue?

[2022-03-31 12:23] #12516 closed

[2022-03-31 13:01] ktsaou opened #12572 "[Bug]: prometheus collector should specify the application it collects metrics from"
### Bug description

In netdata we need to group metrics together in a meaningful way. For this we need the context to uniquely identify the application the metrics come from.

The context is used by the cloud to provide cross-instance dashboards in an automatic way. So, having the right context is crucial.

Today, the prometheus collector uses the following context:

[code]

The way it is now, if

[2022-03-31 13:05] ktsaou opened #12573 "[Bug]: in k8s setup, most go.d.plugin stock configs should be disabled"
### Bug description

By running netdata in k8s with auto-discovery, the user may end-up with 2 sets of data collections per application:

1. One detected by the stock go.d.plugin configs
2. One auto-discovered via service discovery

### Expected behavior

In k8s setup, only auto-discovery should be operational.

### Steps to reproduce

Run netdata in k8s

### Installation method

helmchart (kubern

[2022-03-31 13:49] ilyam8 commented on #12541
@surajnpn why skipping v1? 🤔

[2022-03-31 14:49] #12316 closed

[2022-03-31 15:08] gfay63 opened #12578 "[Bug]: Unable to restart netdata on macOS following process shutdown"
### Bug description

On macOS, after node install, it works fine. However, the node will not restart again after any netdata shutdown (killall, system restart, etc...). It launches briefly for a few seconds but then dies with the following error logs:

[code]

### Expected behavior

netdata process should restart and stay up.

### Steps to reproduce

1. Install netdata on MacOS.
2. Claim node. (no

[2022-03-31 15:11] gfay63 commented on #12516
@MrZammler Yes, done: #12578

LMK what if anything I can do to help...

[2022-03-31 16:16] Roki100 opened #12579 "[Bug]: ioping doesn't seem to work after update"
### Bug description

So i have updated my netdata today (apt upgrade, arm64, raspberrypi), and ioping doesn't seem to work anymore for me, i haven't changed any configuration and it worked before

### Expected behavior

ioping is working fine as before i updated netdata

### Steps to reproduce

1. Update netdata from any recent version before `v1.33.1-262-nightly` to `v1.33.1-262-nightly`

### Ins

[2022-03-31 16:23] #12496 closed

[2022-03-31 16:51] #12486 closed

[2022-03-31 16:53] nodiscc commented on #8898
I can still reproduce this (Netdata 1.33.1 package from packagecloud.io, Debian 11). `/var/log/netdata/error.log` is empty and messages are appended to `/var/log/netdata/error.log.1`

[2022-03-31 16:57] Ferroin commented on #12578
@gfay63 Regarding the aside at the end, just opening an issue here on GitHub outlining all the documentation discrepancies, and then opening issues about the other things you encounter would be greatly appreciated. Just having a record that _somebody_ ran into the problem is a huge part of us actually getting things fixed, even if the user who reported it isn’t necessarily able to dedicate a bunch

[2022-03-31 17:27] #12573 closed

[2022-03-31 17:33] #12572 closed

[2022-03-31 18:23] ilyam8 commented on #12579
I checked and it seems that reinstalling Netdata removes setuid bit.

[code]

[2022-03-31 18:30] #12325 closed

[2022-03-31 19:53] gfay63 commented on #12578
OK @Ferroin will do as I catch things going forward...

[2022-04-01 10:25] papazach commented on #12443
Both be tasks have been merged and released to production, if they were the only dependency of this ticket I suppose we can close this as well.

[2022-04-01 11:27] #12274 closed

[2022-04-01 13:08] #12579 closed

[2022-04-01 15:12] #12443 closed

[2022-04-02 06:24] ktsaou commented on #12443
Great to see this is done. You rock guys!

[2022-04-02 06:37] ktsaou commented on #12274
@cpipilas I would like an update on the current figures of the cloud connected nodes.

[2022-04-02 12:29] ktsaou opened #12588 "[Bug]: netdata crash at aclk"
### Bug description

[code]

### Expected behavior

Not to crash

### Steps to reproduce

I am not sure.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

@ilyam8 @stelfrag

[2022-04-02 12:32] ktsaou opened #12589 "[Bug]: ebpf.plugin crashes"
### Bug description

[code]

### Expected behavior

Not crash

### Steps to reproduce

Not sure

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

@thiagoftsm @ilyam8

[2022-04-02 21:50] ktsaou opened #12592 "[Bug]: VerneMQ collector fixes"
### Bug description

chart `vernemq.socket_events`:

* `line` chart
* `open` positive (as it is)
* `close` negative (multiplier -1)

chart `vernemq.queue_processes_events`:

* `line` chart
* `setup` positive (as it is)
* `teardown` negative (multiplier -1)

chart `vernemq.router_matched_subscriptions`:

* `line` chart

chart `vernemq.router_memory`:

* `area` chart

chart `vernemq.average_schedule

[2022-04-02 22:18] ktsaou opened #12593 "[Feat]: streaming charts are missing"
### Problem

We don't have any visibility of how streaming works in netdata.

### Description

We need to monitor how streaming works.

### Importance

must have

### Value proposition

Have charts to show the performance of the streaming protocol.

### Proposed implementation

In the section Netdata Monitoring there should be charts about streaming:

## Children connections

1. `netdata.streaming

[2022-04-03 12:43] ilyam8 opened #12595 "[Feat]: add collecting CPU throttling statistics to cgroups.plugin"
### Problem

Not possible to see if a container's CPU gets throttled. See netdata/netdata-cloud#375.

### Description

The idea is to track containers' CPU throttling enforced by the [CFS-Cgroup bandwidth control mechanism](https://www.kernel.org/doc/html/latest/scheduler/sched-bwc.html).

### Importance

must have

### Value proposition

1. This enhancement will allow identifying excessively (CPU

[2022-04-04 07:02] vkalintiris opened #12596 "Fix Coverity issues in ML"
#### Summary

[code]

All of them, are trivial to fix.

[2022-04-04 07:10] xrgman opened #12597 "[Bug]: Reviewdog in pipeline does not show filename"
### Bug description

When I submitted my pull-request I noticed that one of the automatic checks failed to complete, the ESLint check. When looking deeper into the issue, I saw that this was because of the complexity of some JavaScript functions. The error does however **Not** show me which file the error occurs in, leaving me to guess where to find the error.

I think it would be better to alter

[2022-04-04 07:43] xrgman commented on #12597
@ilyam8 Yes! I already had a screenshot ready. Forgot to include it in the issue description.

[2022-04-04 08:43] #12383 closed

[2022-04-04 08:47] ilyam8 commented on #12597
@xrgman you can see the warnings here https://github.com/netdata/netdata/pull/12546/files (just scroll down through the changed files)

[2022-04-04 08:55] ilyam8 commented on #12597
@xrgman I think it is supposed to work like that. I guess this can be tuned by changing the [reporter](https://github.com/reviewdog/action-eslint#reporter) parameter

https://github.com/netdata/netdata/blob/feb2b193dbbf044fc89120b17371699a67190ab7/.github/workflows/review.yml#L107

but not sure we need that. cc @netdata/agent-sre

[2022-04-04 08:55] #12597 closed

[2022-04-04 11:22] #12549 closed

[2022-04-04 12:01] #12596 closed

[2022-04-04 12:32] #12589 closed

[2022-04-04 15:38] #12595 closed

[2022-04-04 17:52] ktsaou opened #12603 "[Bug]: multihost queries alignment"
### Bug description

When multiple nodes are queried in parallel from the cloud, currently the nodes may respond with a different `view_update_every`, depending on the database `update_every` but also depending on the available data (they truncate the query if it exceeds the available retention).

The result is something like this:

<details>
<summary>click to see json</summary>

[code]

</details

[2022-04-04 19:15] cakrit opened #12604 "[Bug]: User reports invalid timex alert"
### Bug description

A user has reported in an interview that he started receiving alerts for `timex.conf`. He doesn't have NTP running, they're using something else instead.

### Expected behavior

Don't assume that NTP is running, alert only if it is?

### Steps to reproduce

I suppose it's to
1. Disable NTP
2. Run Netdata

### Installation method

kickstart.sh

### System info

[code]

### Netd

[2022-04-05 07:58] MrZammler commented on #12588
Costa, was there any entry of `uv_async_init` in the error.log ?

[2022-04-05 11:02] MrZammler commented on #12376
@jacekkolasa I've posted a small change to the agent's notification in https://github.com/netdata/netdata/pull/12609, and we can discuss/test when you have time.

However, I'm a bit confused on how exactly this whole thing works, even if past tests revealed the problem, today I can't get a redirect (and makes sense since my test new agent was never claimed to the cloud - how does it know how to re

[2022-04-05 11:14] DeanVanGreunen opened #12611 "[Bug]: Can reconnect after restoring from a data backup"
### Bug description

After I loaded  a backup of my Compute Instance, then when I went to the NetData dashboard it shows that its disconnected, so I tried using the command to add the instance to the node list, using the provided command from netdata

### Expected behavior

after restoring a backup, then running the netdata command should reload/add the instance to the node list

### Steps to repr

[2022-04-05 11:15] DeanVanGreunen commented on #12611
here is my dash, the red circled is the original before the backup
the yellow circle is after backup

![image](https://user-images.githubusercontent.com/22296075/161742168-b0d03593-b065-4180-9308-d369eaac21b4.png)

[2022-04-06 07:32] ktsaou commented on #12603
@stelfrag we need this, even without interpolation.

[2022-04-06 08:41] maneamarius commented on #12523
This is resolved now.

[2022-04-06 08:41] #12523 closed

[2022-04-06 10:42] #12432 closed

[2022-04-06 18:17] dokutan opened #12616 "[Feat]: AMD GPU monitoring"
### Problem

There is currently no support for monitoring AMD GPUs.

### Description

Monitoring the utilization, frequencies and VRAM usage of AMD GPUs.

### Importance

really want

### Value proposition

Users can monitor their AMD GPU using Netdata.

### Proposed implementation

The relevant metrics are availabe in the sysfs, under /sys/class/drm/card*/device.

The kernel documentation has all

[2022-04-06 18:58] ktsaou commented on #12603
This is what we see with the misaligned results:

(The chart comes from 4 nodes, and I stopped one, while the parent is still serving data for it)

![image](https://user-images.githubusercontent.com/2662304/162048500-3ab8b9b8-4ab7-4193-ba73-85fb10e92f43.png)

[2022-04-06 19:07] ktsaou commented on #12603
file:///home/costa/Videos/Peek%202022-04-06%2022-07.gif

[2022-04-06 19:09] ktsaou commented on #12603
![Peek 2022-04-06 22-07](https://user-images.githubusercontent.com/2662304/162050524-c6b8cc56-d540-45db-aa5a-b9d3e1d9cc9e.gif)

[2022-04-06 21:28] marigbede commented on #12419
So I have a question. When Netdata becomes aware of a container, what fields or metadata does it look for so as to pick the names of the running container?

[2022-04-07 06:23] ilyam8 commented on #12616
@dokutan, hi. Let's see the following:

[code]

[2022-04-07 06:31] MrZammler commented on #12616
I can help :-)

`Device: AMD Radeon RX 570 Series (POLARIS10, DRM 3.42.0, 5.15.26-gentoo, LLVM 13.0.0) (0x67df)`

[code]

[code]

[2022-04-07 08:11] dokutan commented on #12616
And for my GPU if it helps to have this information for different GPUs:
Advanced Micro Devices, Inc. [AMD/ATI] Pitcairn XT [Radeon HD 7870 GHz Edition]
Kernel version: 5.17.1-arch1-1

<details>
<summary>tree /sys/class/drm/card0</summary>

[code]
</details>

<details>
<summary>find /sys/class/drm/card0/ -type f -exec printf "\n[%s]\n" {} \; -exec cat {} \;</summary>

[code]
</details>

[2022-04-07 08:15] vlvkobal opened #12618 "[Bug]: Valgrind reports errors"
### Bug description

Reported errors:
[code]

### Expected behavior

None of the above errors are reported.

### Steps to reproduce

Build Netdata
[code]
Run it with Valgrind
[code]

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-04-07 08:50] vlvkobal opened #12620 "[Bug]: Memory leaks on Netdata exit"
### Bug description

Reported leaks
[code]
The leaks are neither critical nor persistent. It would be nice to get rid of them someday though. It needs rewriting the canceling procedure for some threads - they have to be joined on exit after they clean the allocated memory.

### Expected behavior

No memory leaks on Netdata exit.

### Steps to reproduce

Build Netdata
[code]
Run it with Valgrind
[c

[2022-04-07 09:16] vlvkobal opened #12621 "[Bug]: Conditional jump or move depends on uninitialised value(s) in ACLK/MQTT"
### Bug description

Valgrind reports the following errors
[code]

### Expected behavior

No errors should be displayed.

### Steps to reproduce

Build Netdata
[code]
Run it with Valgrind
[code]

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-04-07 10:06] Quazz commented on #12478
This still happens, but perhaps not for the reason you think.

This also occurs for libbpf (though not as disastrously)

It's the real culprit, imo. This then creates an invalid downloadlink and eBPF cannot be properly installed and is thus disabled.

For some reason the "working directory" remains the directory you called the script from and not the netdata installer folder

adding cd "${INSTALLE

[2022-04-07 11:59] thiagoftsm commented on #12478
Hello @Quazz ,

It looks like that your Alma did not get all necessary files to compile from this repo. The fix made by @Ferroin was tested with success on this environment:

[code]

, please, can you give us your `/etc/os-release`?

Best regards!

[2022-04-07 12:05] Quazz commented on #12478
@thiagoftsm

Basically identical

`
[root@localhost ~]# cat /etc/os-release
NAME="AlmaLinux"
VERSION="8.5 (Arctic Sphynx)"
ID="almalinux"
ID_LIKE="rhel centos fedora"
VERSION_ID="8.5"
PLATFORM_ID="platform:el8"
PRETTY_NAME="AlmaLinux 8.5 (Arctic Sphynx)"
ANSI_COLOR="0;34"
CPE_NAME="cpe:/o:almalinux:almalinux:8::baseos"
HOME_URL="https://almalinux.org/"
DOCUMENTATION_URL="https://wiki.almalinux.org

[2022-04-07 12:28] underhood opened #12624 "[Bug]: ACLK doesn't always cleanly shutdown when agent is shutting down"
### Bug description

`netdata -D` then press `CTRL+C` ACLK will sometimes not shutdown cleanly with sending `disconnect` message to cloud. It will look like this:
[code]

So instead of clean shutdown it thinks there is connection error and tries to reconnect before noticing agent is shutting down.

### Expected behavior

ACLK should detect shutdown correctly and do clean shutdown incl. sending `di

[2022-04-07 12:37] underhood opened #12626 "[Feat]: ACLK flight recorder"
### Problem

_No response_

### Description

Record the history of ACLK connections, their start/end, reason for disconnection and various major events of interest into SQLite DB.

Creates ID for every ACLK connection attempt and records events (both by their ID and as a log) into the DB. This way it is easy to query what happened with every connection in history (up to what we set as maximum hist

[2022-04-07 13:16] thiagoftsm commented on #12478
Thank you @Quazz !

You're right when you say that this should not be related to Alma, because the file is used with all Linux distributions. I only cited Alma, because we identified the problem on it.

@Quazz when you were installing your netdata, did you have any message like these:

- Failed to get CO-RE. You will not be able to use eBPF plugin
- Unable to fetch sources for eBPF CO-RE. You will

[2022-04-07 13:53] thiagoftsm commented on #12478
Thank you for your help @Quazz, now it is clear what is happening.

About the error you reported, it is possible that some 'submodules` were  not initialized, and if you run the following command:

[code]

@Ferroin it looks like we are missing `submodule` initialization when we use `netdata-installer.sh`, and we are still having a problem with `kickstart.sh`, because sometimes it is not able to ge

[2022-04-07 16:53] #12568 closed

[2022-04-07 22:09] MatthewABrantley opened #12628 "[Feat]: Report when Hard Drive(s) are in a read-only state"
### Problem

As a netdata user,

It is possible that monitored nodes have their hard drives put into "Read-Only" mode, and then Netdata Agent+Cloud will have every individual chart in an error state for the node, but the node itself will not be in an "error state" in Netdata Cloud. This happens at least in Ubuntu as this is the default behavior for failing hard drives, it may occur in other cases.

[2022-04-07 22:17] thiagoftsm commented on #12628
ping @cpipilas !

[2022-04-08 07:03] cpipilas commented on #12628
Thanks @Raltrwx!

[2022-04-08 07:44] MahdiGhiasi opened #12629 "[Feat]: Connecting to ACLK via http proxy with user/pass is not working properly."
### Bug description

I have a server in an environment which does not have direct access to the internet, and direct access is established via a http proxy to another server.

I've successfully claimed the node via `--claim-proxy` argument on the kickstart script, but since then the server is listed as UNREACHABLE in netdata cloud app.

The proxy is already been set in `netdata.conf`, in the `[clo

[2022-04-08 11:57] Ferroin opened #12630 "[Feat]: Overhaul handling of options for installer code in the kickstart script."
### Problem

Currently, the kickstart script blindly saves all unrecognized options to pass them to either `netdata-installer.sh` or the static installer code. This has a number of issues:

1. The resultant behavior is inconsistent. `netdata-installer.sh` and the static installer code do not support the same set of options, and on many systems neither is ever even invoked. This means that any give

[2022-04-08 12:01] Ferroin opened #12631 "[Feat]: Kickstart script should summarize errors and warnings encountered during a run at the end of the run."
### Problem

Right now, any errors or warnings generated by the kickstart script are spread throughout the full output. This makes it difficult to reliably understand what went wrong, and also means that users may not actually see any warnings we issue.

### Description

The kickstart script should collect all warnings and errors it encounters during execution, and provide an itemized list at the

[2022-04-08 12:02] odynik commented on #12611
Hi @DeanVanGreunen thanks for reporting the issue.

Could you please share here the error output of the step 5,

[2022-04-08 12:09] Ferroin opened #12632 "[Feat]: Installer and updater code should propagate errors back to the kickstart script when possible."
### Problem

Currently, when the updater or installer code encounters an error, it simply exits with a non-zero exit code, almost always 1.

This makes it difficult for any calling scripts to understand exactly what is happening and respond appropriately.

### Description

A mechanism should be provided in at least the installer and updater scripts to allow propagating error information to the cal

[2022-04-08 12:15] Ferroin opened #12633 "[Feat]: Kickstart script should be able to install a specific version of the agent, not only the latest stable or nightly."
### Description

It should be possible to specify an exact version of Netdata to install using our kickstart script.

### Importance

really want

### Value proposition

1. Users will be able to easily ensure that the version of Netdata installed across their infrastructure is consistent, avoiding any potential issues resulting from having different versions on different systems.
2. Testing of upg

[2022-04-08 12:55] #12478 closed

[2022-04-08 13:18] #12624 closed

[2022-04-08 14:06] gfay63 commented on #12578
@MrZammler, any update on this? Netdata is mostly unusable for me currently as I cannot do anything that will force me to kill it, as I then have to delete the database to get it working again.

[2022-04-08 14:15] MrZammler commented on #12578
Hi @gfay63 , sorry no updates...

I've done some small tests, albeit in an M1 not an Intel, and can't see the same problem.

Only test I could suggest for now is to install in a local directory (using `--install`, let's say in /Users/youruser/netdata`) and see if it exhibits the same problem. This could point to being a permissions problem or similar.

If that doesn't help, then our only chance is

[2022-04-09 17:55] ilyam8 opened #12641 "[Bug]: many chart titles contain instance-specific information which is "wrong""
### Bug description

It is not explicitly mentioned in our documentation, but it appears that having instance-specific information in a chart title should be avoided because it causes some problems on the Cloud.

The biggest _offenders_:

- [ ] diskspace.plugin

- [ ] Anomaly detection

- [ ] ML

- [ ] go.d.plugin

- [ ] python.d.plugin

- [ ] python.d.plugin (sensors)

- [ ] charts.d.plugin (sens

[2022-04-11 06:15] stelfrag opened #12648 "[Bug]: Agent crash during anomaly calculation"
### Bug description

The `host->sender` is null causing a crash

[code]

### Expected behavior

Agent should not crash

### Steps to reproduce

Not quite sure. It may be there case that the calculation is running while a child disconnects. I will update with more info
if I can pin point it

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additiona

[2022-04-11 08:08] MrZammler opened #12651 "[Bug]: Stale alerts in the agent"
### Bug description

Sometimes alerts are still raised for `last collected secs` when data collection has stopped. The alerts are still active even after long time of stopped data collection (e.g. 1+ days).

### Expected behavior

TBD

### Steps to reproduce

Will investigate the best way to reproduce. Most likely involves parent and children setups.

### Installation method

from source

### Syst

[2022-04-11 08:55] wolph opened #12654 "[Feat]: Disable cloud sign-in dialog"
### Problem

I've got multiple machines that I have netdata running on and multiple machines that I access netdata from and I'm getting really tired of seeing this dialog constantly. I'm already connected to the cloud but it keeps on asking me to sign-in.

Note that I don't want to disable the cloud support, I like it. It's just the dialog that's really annoying.

### Description

Add a setting to

[2022-04-11 09:07] iigorkarpov commented on #12630
Are there supposed to be multiple options? If so, what delimiter do we use?

[2022-04-11 11:21] Ferroin commented on #12630
My expectation here is to grab the next argument after the `--static-install-options` or `--local-build-options` argument and simply append that to the internal options string that would be passed to the installer code. So users could specify a single option, or could specify a string containing a list of options, or could even use the option multiple times to specify multiple single options.

IOW

[2022-04-11 11:43] Ferroin commented on #12630
In this case it’s not really all that much more complicated. We’re just storing values for these options, ergo we simply need to store them in a way that we can check after all the options are parsed if they were valid or not. We already do this in a couple of cases as is (for example, handling of install prefixes), and in this case it’s just a couple of extra conditionals after the parsing loop.

[2022-04-11 12:00] Ferroin opened #12659 "[Feat]: Rename `--install` option for `kickstart.sh`."
### Problem

The name `--install` is very generic, and does not actually describe what the option does very well.

### Description

The option should be renamed to a more descriptive name, such as `--install-prefix`.

### Importance

really want

### Value proposition

1. Less potential confusion from users as to what a given set of options for the script means.
2. We can internally reuse the `--i

[2022-04-11 14:41] stelfrag opened #12660 "[Feat]: Reduce info messages"
### Bug description

In this following case, a child connecting to a parent will cause an attempt to redefine alarms.

The function calls involved are

- rrdcalctemplate_link_matching
- rrdcalctemplate_link_matching_test
- rrdcalc_create_from_template

`rrdcalc_create_from_template` is reporting
[code]

and

`rrdcalctemplate_link_matching_test` is reporting
[code]

We should investigate if this ca

[2022-04-11 16:18] stelfrag opened #12662 "[Bug]: Metadata changes to dimensions should be propagated to the cloud"
### Bug description

The dimension metadata sent to the cloud includes the dimension id, dimension name and the chart id the dimension belongs to.
For the dimension metadata update, changing the name should trigger an update message to the cloud

### Expected behavior

Dimensions changes should be sent to the cloud

### Steps to reproduce

To verify

1. Have an agent claimed and running
2. Define

[2022-04-11 18:26] stelfrag commented on #12648
I am adding another bt from another crash (it may or may not be related). If needed we will make another issue to investigate.

The agent information is the same

[code]

[2022-04-11 18:28] stelfrag commented on #12648
[code]

[2022-04-12 05:39] yasharne opened #12666 "[Bug]: Netdata not following dbengine configuration after update"
### Bug description

after upgrading netdata to latest stable version (1.33.1) using the update script, I see the below log in `systemctl status netdata`:
netdata[13512]: 2022-04-12 09:59:04: netdata INFO  : MAIN : Found 0 legacy dbengines, setting multidb diskspace to 256MB

But when I open `http://127.0.0.1:19999/netdata.conf`, I see my custom value (which is correct):
[code]
if I do `systemctl

[2022-04-12 07:27] MrZammler commented on #12666
Hi @yasharne!

The message `Found 0 legacy dbengines, setting multidb diskspace to 256MB` _should_ only appear on a fresh install, when there is no netdata.conf yet. And even after that, if you don't edit the `netdata.conf` to put a custom `dbengine multihost disk space`, it should not display again (the value computed is stored in a file (you should see the message `Created file /somewhere/dbengi

[2022-04-12 11:57] surajnpn commented on #12541
v1 is already implemented, just following the existing example for that. In addition to support for v2/v3 status log, I will implement separate charts per user with individual traffic in/out dimensions. The python collector for openvpn just compiles total user and total bandwidth and creates 2 charts. The go.d collector for openvpn(the one that uses management interface instead of status log), how

[2022-04-12 13:49] bioshazard commented on #9123
Very interested in armv6 builds for RPi Zero

[2022-04-12 14:40] #12648 closed

[2022-04-12 19:52] stelfrag opened #12677 "[Bug]: Deadlock when deleting host and ML training is running"
### Bug description

We have a deadlock on the agent possibly when a child host is deleted and ML training is running for that host

The bt for 3 threads involved is as follows

[code]

This needs to finish quite fast because the calling sequence is
[code]
because `ml_delete_host` is taking a long time, everything blocks on `rrd_rdlock();`

[code]

and

[code]

### Expected behavior

The agent sho

[2022-04-13 05:45] yasharne commented on #12666
Thanks for your explanation @MrZammler
So in my scenario, it wasn't a fresh install, I was upgrading an older netdata using the update script, therefore I had a `netdata.conf` file there already.
But as I checked the endpoint you mentioned, it shows the correct value (same as the one inside the old `netdata.conf` file)

[2022-04-13 06:49] MrZammler commented on #12666
There is a possibility that even though there is an option already in `netdata.conf` we still evaluate the automatic detection, maybe we could skip it perhaps...

Thanks!

[2022-04-13 06:49] #12666 closed

[2022-04-13 07:38] pcm32 commented on #8510
This seems to be the case for linux as well, for reasons that go beyond the scope of this issue, we need to have netdata installed by an unprivileged user through homebrew in linux, and we want to make use of the solr and zookeeper Go based collectors. Would it be possible to at least have some documentation on how to install the go orchestrator plugin manually please? Thanks!

[2022-04-13 09:05] aldem opened #12679 "[Bug]: Static installer ignores --no-updates options"
### Bug description

When using static installer (kickstart-static64.sh) the option `--no-updates` has no effect.

### Expected behavior

`--no-updates` option is expected to disable automatic updates.

### Steps to reproduce

1. Run `kickstart-static64.sh --no-updates`
2. Crontab entry is created: `/etc/cron.daily/netdata-updater` and points to update script.

### Installation method

kickstart-s

[2022-04-13 14:57] #12631 closed

[2022-04-13 17:44] #12677 closed

[2022-04-13 17:50] ktsaou commented on #12588
Unfortunately I don't have the logs of that day. For the last 8 days, there is no log with `uv_async_init`.

[2022-04-14 07:28] #6733 closed

[2022-04-14 07:28] #9735 closed

[2022-04-14 10:15] stelfrag opened #12685 "[Bug]: Spawn server / client uses uv_write with buffers in the stack"
### Bug description

Buffers used in uv_write (memory pointed to by those) should remain valid and deallocated in the callback function

### Expected behavior

- Allocate buffers
- Free in the callback function

### Steps to reproduce

Unpredictable behavior

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-04-14 14:01] stelfrag commented on #9713
Cannot reproduce

[2022-04-14 14:01] #9713 closed

[2022-04-14 19:51] Ferroin opened #12692 "[Bug]: Incorrect versioning of release artifacts and binaries in release v1.34.0"
Due to bugs in the new release engineering code, there are numerous issues with versioning for the v1.34.0 release of Netdata. More specifically:

- The release artifacts on the release itself show a version of `v1.33.1-339-g0046735ba` instead of `v1.34.0`
- The binaries for the release, irrespective of the source, also show the same version.
- The Docker images for the release have incorrect imag

[2022-04-15 06:58] MrZammler commented on #10871
Hi, closing this, thanks for the follow up!

[2022-04-15 06:58] #10871 closed

[2022-04-15 09:16] vobruba-martin opened #12693 "[Bug]: Wrong charttype used for ip.inbound_conn?"
### Bug description

It looks like that ip.inbound_conn chart is collecting absolute values instead of incremental.
![image](https://user-images.githubusercontent.com/6897988/163551419-a80ad63a-a1db-4c42-90f1-24093a5f5ed5.png)
Those drops are caused by Netdata restarts.

### Expected behavior

The chart should look like ip.tcp_outbound_conn because I doupt that I have millions of inbound connectio

[2022-04-15 12:29] thiagoftsm commented on #12693
Thank you @vobruba-martin I will take a look on this today.

[2022-04-15 15:44] Dim-P opened #12696 "[Bug]: Netdata fails to build successfully on 32-bit Raspbian bullseye"
### Bug description

Netdata local build fails on 32-bit Raspbian bullseye (unless `-fpermissive` CFLAG or `--disable-ml` Netdata flag is used):

[code]
Result of `cat config.log | grep atomic` :
[code]

### Expected behavior

Expect to be able to build locally with no errors.

### Steps to reproduce

`sudo ./netdata-kickstart.sh --reinstall-clean --build-only`

### Installation method

kickstart.

[2022-04-15 19:44] dhmilburn opened #12697 "[Bug]: Cannot create/claim node"
### Bug description

Netdata installed but cannot claim node. I'm running the following script provided in my NetData workspace:

### Expected behavior

Create node.

### Steps to reproduce

1.  Run script provided in the workspace:

wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token R2hN5FiXWtmjOayMgYil3uB3xD9s_hdLA8wYSkDmmt0SEjSIuUC

[2022-04-15 20:19] candrews commented on #12692
The newly created [1.34.1 release](https://github.com/netdata/netdata/releases/tag/v1.34.1) still has some problems.

The release archive https://github.com/netdata/netdata/releases/download/v1.34.1/netdata-v1.34.1.tar.gz contains at its root a directory named `netdata-v1.33.1-345-g89fb721f6`

[2022-04-15 23:17] thiagoftsm commented on #12693
Helo @vobruba-martin ,

Sorry for the delay, but today is a holiday in my country. The bug will be fixed with the PR https://github.com/netdata/netdata/pull/12698.

A doubt, considering that you were running the `socket` thread, did you have the bugs reported [here](https://github.com/netdata/netdata/issues/12027), or the sockets ran normally?

Best regards!

[2022-04-16 06:17] vobruba-martin commented on #12027
@thiagoftsm 24 hours ago I updated Netdata to 1.34 and since then I'm going with `socket=yes`. I've got no errors so far. Thank you!

[2022-04-16 06:25] vobruba-martin commented on #12693
Thank you @thiagoftsm !

Yes, I'm currently testing the socket thread. It runs without any error. Good job!

[2022-04-16 16:30] ilyam8 commented on #12692
Netdatabot is also [unaware there is 1.34.1](https://github.com/netdata/netdata/commit/f526e03f4780c4dc46e10f539e5d7affbfa45265).
Latest (nightly) Debian package is `1.34.0-9-nightly`

[code]

[2022-04-16 16:35] thiagoftsm commented on #11439
I am closing this issue, because we already merged all PRs.

[2022-04-16 16:35] #11439 closed

[2022-04-16 16:48] thiagoftsm commented on #12027
Thank you for your update @vobruba-martin !

We apologize for all problems we have created.

Best regards!

[2022-04-16 16:56] thiagoftsm commented on #12693
Hello @vobruba-martin ,

Thank you very much for your update. The PR already have enough approves, but I will merge it only on Monday. When it is merged the problems you are having with the chart will be fixed.

Best regards!

[2022-04-16 17:23] ilyam8 opened #12700 "[Bug]: updater installs the newest version of all currently installed packages on Debian"
### Bug description

[The issue](https://community.netdata.cloud/t/netdata-installation-causing-issues-for-jenkins-service/2785) was reported on our community forum: passing a package name to `apt-get upgrade` doesn't change the command scope and it upgrades all currently installed packages on the system.

We do `upgrade` [twice](https://github.com/netdata/netdata/blob/f526e03f4780c4dc46e10f539e5d

[2022-04-17 07:22] vermaete commented on #12692
The [sha256sums.txt](https://github.com/netdata/netdata/releases/download/v1.34.1/sha256sums.txt) still has the files of the  1.33.1 release.

[2022-04-17 08:08] ilyam8 commented on #12692
Ok, I see, the v1.34.1 tag was created in the [v1.34 branch](https://github.com/netdata/netdata/tree/v1.34). If that is expected then it looks like CI is not ready for this change.

[2022-04-17 09:30] stevecharon commented on #9124
Got stuck with this crap not being solved
How hard could it be to remove a dataset?
I clearly miss any insight on this project but it cant be that hard to figure out in two years

[2022-04-17 10:05] metajiji commented on #12692
Now `https://my-netdata.io/kickstart.sh` - broken too and install latest 1.33.1 instead real latest 1.34.1 version. The root cause in github artifacts.

Actual behavior for `v1.34.1` release

[code]

Expected behavior for as example `v1.32.0` release

[code]

[2022-04-18 06:39] vobruba-martin opened #12705 "[Feat]: Add MySQL Percona statistics"
### Problem

_No response_

### Description

Percona Server for MySQL provides additional statistics. It would be great to see them in Netdata.

User/Thread statistics and status variables for 8.0:
https://www.percona.com/doc/percona-server/8.0/diagnostics/user_stats.html
https://www.percona.com/doc/percona-server/8.0/ps-variables.html#status-variables

User/Thread statistics and status variables

[2022-04-18 08:36] ilyam8 commented on #12705
Hi, @vobruba-martin. I see you mention:
 - [INFORMATION_SCHEMA.CLIENT_STATISTICS](https://www.percona.com/doc/percona-server/8.0/diagnostics/user_stats.html#CLIENT_STATISTICS)
 - [INFORMATION_SCHEMA.USER_STATISTICS](https://www.percona.com/doc/percona-server/8.0/diagnostics/user_stats.html#THREAD_STATISTICS)
 - [INFORMATION_SCHEMA.THREAD_STATISTICS](https://www.percona.com/doc/percona-server/8.0/d

[2022-04-18 08:44] MrZammler commented on #12697
Hi @dhmilburn thanks for your report!

So, I'm assuming you run the standalone claim script as `/opt/netdata/bin/netdata-claim.sh -token=tGGghpNQ5wdQJoX6JBAiAsBDEblugjTa7uFQBrxL2132W5Hlly-gucIBVQ7KA_uKMcKxbxvo3zQm4wcmI-R138Y -rooms=1d66b04f-7f1c-413f-9638-f0c6e281f721 -url=https://app.netdata.cloud/`

And it returned `failed with exit code 7` most likely.

This might mean that it could not connect

[2022-04-18 08:49] shyamvalsan commented on #12178
Considering the improvements in performance made which reduce the impact of training ML models on agent + the work planned for ML improvements in https://github.com/netdata/product/issues/2769 this issue is being closed. Will move this discussion to https://github.com/netdata/product/issues/2769 for further reference.

[2022-04-18 08:49] #12178 closed

[2022-04-18 08:53] MrZammler commented on #11679
Hi @dillera. Really sorry we left this stale and un-answered. There have been some recent advancements for macos compilation and usage, and netdata is also in [homebrew](https://formulae.brew.sh/formula/netdata). Can we pick it up by using a newer version and see if you still have problems?

Thanks and again sorry for not communicating earlier.

[2022-04-18 09:12] vobruba-martin commented on #12705
It looks good but I would also add these stats (if I'm not mistaken, all of them are also available in MariaDB):

Important for me:
`TOTAL_CONNECTIONS`, `BINLOG_BYTES_WRITTEN`, `ROLLBACK_TRANSACTIONS` and `LOST_CONNECTIONS`

Less important for me but still nice to have:
`COMMIT_TRANSACTIONS`, `DENIED_CONNECTIONS`, `ACCESS_DENIED` and `EMPTY_QUERIES`

[2022-04-18 09:40] ilyam8 commented on #12705
Oh, both of these counters are commands, so I guess we can just add them to the "Commands" chart.

[2022-04-18 09:41] vobruba-martin opened #12706 "[Bug]: Empty/Useless connection charts from go.d/apache collector"
### Bug description

`go.d/apache` is showing empty connection charts in case the server is not running with `event` MPM.
![image](https://user-images.githubusercontent.com/6897988/163788636-1856d4d4-1a1c-4d32-9646-140bf1b069a2.png)
![image](https://user-images.githubusercontent.com/6897988/163788669-062e4106-44ea-44e8-b1b0-eb251a8597eb.png)

### Expected behavior

The collector should check `Serv

[2022-04-18 09:49] ilyam8 commented on #12706
Hi, @vobruba-martin. Can you share `server-status?auto` data when ServerMPM is not `event`.

Also, a brief guide on how to configure it would be awesome.

[2022-04-18 10:20] vobruba-martin commented on #12706
[code]

From what I know, there is no standard way in linux distros on how to switch between MPMs. For example in [Ubuntu](https://fedingo.com/how-to-change-apache-prefork-to-worker-in-ubuntu/) you use their `a2dismod` & `a2enmod` scripts.

I build Apache for myself and I use static (compiled-in) MPM. I just run `./configure --with-mpm="prefork"`.

[2022-04-18 10:39] vobruba-martin commented on #12705
I think that `COMMIT` and `ROLLBACK` commands should be in separate charts. They are transaction commands and they are mostly autogenerated by the server. Especially if you have autocommit turned ON, which is the default behavior.

[2022-04-18 11:10] ilyam8 commented on #12706
Thanks, @vobruba-martin. The diff between `event` [extended-status](https://github.com/netdata/go.d.plugin/blob/master/modules/apache/testdata/extended-status.txt) and your sample is:

[code]

So yes, the problem is Conns* metrics.

[2022-04-18 11:21] dhmilburn commented on #12697
Thanks for the response.

I can telnet fine:
[image: image.png]

On Mon, Apr 18, 2022 at 4:44 AM Emmanuel Vasilakis ***@***.***>
wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-18 12:40] #12693 closed

[2022-04-18 12:41] thiagoftsm commented on #12693
Hello @vobruba-martin ,

Next nightly will have the bug fixed.

Thank you for your report, and I apologize for the bug.

Best regards!

[2022-04-18 13:04] MrZammler commented on #12697
@dhmilburn Can you please run the claim script and paste the output? I.e.:

`/opt/netdata/bin/netdata-claim.sh -token=tGGghpNQ5wdQJoX6JBAiAsBDEblugjTa7uFQBrxL2132W5Hlly-gucIBVQ7KA_uKMcKxbxvo3zQm4wcmI-R138Y -rooms=1d66b04f-7f1c-413f-9638-f0c6e281f721 -url=https://app.netdata.cloud/`

Thank you!

[2022-04-18 13:07] Ferroin commented on #12692
We’re working on fixing the release artifacts for v1.34.1 as we speak.

[2022-04-18 13:08] Ferroin commented on #12692
This is expected, and the CI is correct. If we’re doing patch releases on release branches (as was discussed), then nightlies by definition are _not_ based on those patch releases (because they aren’t patch whatever plus some number of commits, since patch whatever is not a snapshot of the state of the `master` branch).

[2022-04-18 15:11] Ferroin commented on #12692
The release artifacts on the v1.34.1 release should be correct now.

[2022-04-18 15:50] LimeZky opened #12710 "[Feat]: Translations for the main programs"
### Problem

_No response_

### Description

I think that Netdata should have translations for its main programs. You can do this by uploading texts to a translate platform and everyone free can help with it.

### Importance

must have

### Value proposition

1. Help local developers from different countries
2. More easy to understand
3. More people will know and use Netdata

### Proposed implemen

[2022-04-18 17:46] Divya-kalluru commented on #12303
Hi @stelfrag,
I hope you are doing good. I was curious to know the status of the ticket as it's been a month.
Do you have any updates on this?

[2022-04-18 17:47] dhmilburn commented on #12697
[image: image.png]

On Mon, Apr 18, 2022 at 9:04 AM Emmanuel Vasilakis ***@***.***>
wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-19 07:03] MrZammler commented on #12697
Hi @dhmilburn ! Sorry, I can't see the image attached....

[2022-04-19 07:59] #12618 closed

[2022-04-19 08:34] #12685 closed

[2022-04-19 08:56] zeylos opened #12715 "[Bug]: v1.33.1-319-nightly very high disk usage"
### Bug description

Hi there,

I have multiple nodes using `v1.33.1-319-nightly` on a child-parent architecture (Kubernetes cluster, one parent and 3/4 childs).
With this version appeared a bug where the child is using a lot of disk IO and triggers the `Disk backlog` alert among others →
![image](https://user-images.githubusercontent.com/24226163/163962795-ad7561fe-32db-4f97-a4d0-1d7cfbf69137.png

[2022-04-19 09:08] rickard-von-essen opened #12717 "[Bug]: Install of 1.34.1 on macOS Big Surr failes - ${tmpdir} empty string"
### Bug description

Installation of 1.34.1 on _macOS Big Surr_ failes

[code]

### Expected behavior

Installs Netdata without issues.

### Steps to reproduce

1. `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh`

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

Installing with

[2022-04-19 09:23] MrZammler commented on #12715
Hey @zeylos ! So after a restart, it's ok for a while until at some point it starts pushing the disk? Is it possible to correlate that point in time with logs from the agent that's causing it somehow? I.e. if you can send the part of the logs the time it starts?

Also, is it possible to check the size of the sqlite database ? Thank you!

[2022-04-19 09:32] zeylos commented on #12715
hey @MrZammler, it stops for good, I'll keep a eye and tell you if it does restart pushing the disk.

About the logs, the only thing I can tell for now is that I only see these logs on the problematic child (and not on the others) and whenever I trash it so it recreates a pod, these logs aren't appearing on the new one.
I'll check the logs again whenever I get the alert

The dbengine database is l

[2022-04-19 09:34] MrZammler commented on #12715
Well, if you are talking apo the `ACLK RES` logs, then these are connectivity messages for the cloud. Are the children claimed to the cloud, or just the parent?

[2022-04-19 10:01] MrZammler commented on #12717
Hi @rickard-von-essen ! Can you please share the `error.log` from the execution of Netdata from homebrew? It should be under `/usr/local/var/log/netdata`.

Thanks!

[2022-04-19 10:07] zeylos commented on #12715
Sorry I didn't see the comment, the children are claimed too

[2022-04-19 10:14] iigorkarpov commented on #12717
I would say it is an installation via kickstart.sh. It does assume Homebrew on the system, but technically speaking, a Homebrew installation looks like

brew install netdata

I can't reproduce this error on Monterrey - everything goes perfectly fine. Judging by the log, there are at least two suspicious places:

a) the use of yubikey keys and error message produced during/after authorization.
b) u

[2022-04-19 10:55] vobruba-martin opened #12719 "[Bug]: eBPF integration with apps.plugin is causing excessive CPU/memory usage growing with time"
### Bug description

![image](https://user-images.githubusercontent.com/6897988/163982529-37d2f5ba-d6d0-4262-9a28-ed244b2ab2b9.png)
You can see that %sys CPU usage is growing with time. This is happening only if I have `apps = yes` in `ebpd.d.conf`.

I don't see Netdata directly causing this issue. It seems to be caused by Apache httpd processes bun only if `apps = yes`.

![image](https://user-ima

[2022-04-19 11:03] ilyam8 commented on #12719
@vobruba-martin hi, did you check memory usage? Does it grow too?

<details>
<summary>I noticed it a few days ago on my server, the memory usage is constantly growing.</summary>

![image](https://user-images.githubusercontent.com/22274335/163989874-dfd5e23f-c727-4268-b61f-ce508acd758d.png)

</details>

[2022-04-19 11:22] vobruba-martin commented on #12719
@ilyam8 Yes, memory usage seems growing
![image](https://user-images.githubusercontent.com/6897988/163992319-b97440d4-09ad-462b-b2e6-6ba300e055b3.png)

With `apps = no` there was no memory usage at all.
![image](https://user-images.githubusercontent.com/6897988/163992495-b86e5407-526e-4749-adaf-fe6de5e2c289.png)

[2022-04-19 11:37] rickard-von-essen commented on #12717
[error.log](https://github.com/netdata/netdata/files/8512608/error.log)

[2022-04-19 11:39] thiagoftsm commented on #12719
Hello @vobruba-martin ,

I have only one more question, because this will be my priority for today. Are you using default configuration for plugin? Or did you change your configuration?

Best regards!

[2022-04-19 11:43] rickard-von-essen commented on #12717
Ruling out both of these, removing my Yubikey and setting `SHELL=/bin/bash` and entering `bash`.

[code]

Same issue.

Looking at the Homebrew PR CI builds there seems to be some discrepancies between Monterrey and Big Surr since the build fails on 12 but builds fine on my 11.

[2022-04-19 11:44] vobruba-martin commented on #12719
Hi @thiagoftsm ,

I'm running with all ebpf programs set to yes.

<details>
<summary>See my ebpf.d.conf</summary>

[code]
</details>

[2022-04-19 11:55] Dim-P commented on #12696
@vkalintiris You said you can fix this one? I can then test it easily since I already have a 32-bit Raspbian system set up.

[2022-04-19 12:22] iigorkarpov commented on #12717
@rickard-von-essen thank you for excluding both suspects. I misread the log regarding Yubikey. There's nothing wrong about it.
Actually, somehow $tmpdir is undefined in line 737. So kickstart.sh makes an attempt to create /install-type and fails, because macOS does not allow writing to protected parts of the system (System Integrity Protection).

[2022-04-19 13:09] rickard-von-essen commented on #12717
Ok, uninstalling the 🍺  Homebrew installed netdata resolves this issue. Seems like having a homebrew installed version trips up the script in some way.

[2022-04-19 13:47] yasharne opened #12721 "[Bug]: go.d mysql collector is showing false information"
### Bug description

We got an alert saying MySQL server is using 96% of its connections. at first, I saw a peak on the chart which showed MySQL is using 481 connections while it can have 500 connections in total, I tried to increase the timeframe to see its occurrence, then all of a sudden the peak of 481 drops to 260 and as I keep increasing the time range, the peak keeps decreasing to about 54.

[2022-04-19 13:51] ilyam8 opened #12722 "[Chore]: remove node.d/* announced in v1.34.0 deprecation notice"
### Problem

n/a

### Description

In accordance with v1.34.0 [deprecation notice](https://github.com/netdata/netdata/releases#deprecation-notice), in the upcoming release we want to have removed:

- [x] [node.d](https://github.com/netdata/netdata/tree/v1.33.1/collectors/node.d.plugin#nodedplugin) plugin.
- [x] [node.d/snmp](https://github.com/netdata/netdata/tree/v1.33.1/collectors/node.d.plugin/

[2022-04-19 14:00] ilyam8 commented on #12721
@yasharne hi, I think that is expected behavior - the more you zoom out the [more average result you get](https://github.com/netdata/netdata/issues/9373).

[2022-04-19 14:10] ilyam8 opened #12723 "[Chore]: remove python.d/* announced in v1.34.0 deprecation notice"
### Problem

n/a

### Description

In accordance with v1.34.0 [deprecation notice](https://github.com/netdata/netdata/releases#deprecation-notice), in the upcoming release we want to have removed:

- [x] [python.d/apache](https://github.com/netdata/netdata/tree/v1.33.1/collectors/python.d.plugin/apache)
- [x] [python.d/couchdb](https://github.com/netdata/netdata/tree/v1.33.1/collectors/python.d.pl

[2022-04-19 14:15] ilyam8 commented on #12710
Hi, @LimeZky. Thanks for the request, but we have [no plans for multilingual support](https://github.com/netdata/netdata/issues/8933#issuecomment-625319404) for now.

[2022-04-19 14:16] #12710 closed

[2022-04-19 14:22] yasharne commented on #12721
@ilyam8 so can 481 connections be correct? MySQL exporter shows some different values (it scrapes every minute)

[2022-04-19 14:31] ilyam8 commented on #12721
I believe the number is correct. It is the [Threads_connected](https://dev.mysql.com/doc/refman/8.0/en/server-status-variables.html#statvar_Threads_connected) counter. We chart it as it is (absolute type dimension) - no internal processing applied.

[2022-04-19 14:33] dhmilburn commented on #12697
It said
Connection attempt successful
Failed to claim node
Token exception
Token not found
Token invalid

On Tue, Apr 19, 2022, 3:03 AM Emmanuel Vasilakis ***@***.***>
wrote:

[2022-04-19 14:37] #12700 closed

[2022-04-19 14:56] LimeZky commented on #12710
As there is not only for documents, but more for the main UI which is more stable

[2022-04-19 14:58] Ferroin commented on #12723
We will need to audit what dependencies each of these have on the host system, as we can probably cut back on what Python modules we install in some of our packaging code.

[2022-04-19 17:02] rickard-von-essen commented on #12717
I guess it's just legacy since it didn't exist when I originally created the homebrew packaging formula. But now when there are some native packages (rpm/deb) it's much easier to reverse engineer and verify the package content comparing the different types. Let me review the content in 1.34.1 since it's anyway broken somehow.

[2022-04-19 18:59] thiagoftsm commented on #12719
Hello @vobruba-martin ,

The behavior that you and @ilyam8  described is happening, mainly because `ebpf.plugin` allocates memory dynamically for `apps`. And every time a process ends, it goes and clean this memory.

I agree with you that we have room to improve the way the plugin is working right now, and I agreed with product team to work with this issue in the next days.

As soon the PR is merg

[2022-04-19 19:16] ilyam8 commented on #12719
Does it describe constant CPU/mem **increasing** (no descreasing)?

[2022-04-19 19:28] SR-G commented on #9358
I'm 100% confused and i'm not able to find anymore how to remove a node from the UI...

This has always been a very difficult and time-consuming task (i can't believe it's so complex to find this feature inside the UI), but this time, after having upgraded all my agents, i'm not able to find anywhere that remove feature ... is it still availble somewhere ?!

Under "Manage War Room" (from top) > "M

[2022-04-19 20:54] thiagoftsm commented on #12719
Yes. Every time you require a kernel a specific area, it tries to allocate more memory than you have required. When you have a big sample of connections or other actions on your host from different processes/threads, it can increase both data, because you are requiring more effort from kernel to allocate data.

Now about the "decreasing", I am reviewing all codes related to allocating with this PR

[2022-04-20 00:48] #12463 closed

[2022-04-20 00:49] thiagoftsm commented on #11227
Keep active!

[2022-04-20 01:43] jwaring commented on #9358
+1 on SR-G comment. I too cannot find a way to remove unreachable nodes

[2022-04-20 02:48] iculookn commented on #9358
same, found this topic because I could not find a way to remove a node.

[2022-04-20 07:05] MrZammler commented on #12697
Hi!

It seems maybe the token isn't valid any more. Can you please visit the cloud again, and see if it now displays a new one?

[2022-04-20 07:26] rickard-von-essen commented on #12717
@iigorkarpov IMHO I think this is a bug. This should be properly handled with a nice error message or so.

[2022-04-20 07:41] iigorkarpov commented on #12717
I agree with you. This can be easily 'fixed' with such an error messages. But the real solution suggests finding out the reason of what happened. And this is what is quite tricky to achieve because I can't reproduce the issue. But I'll look into kickstart.sh today searching for places where tmpdir is set/modified . Maybe I'll be lucky enough the find the bug.

[2022-04-20 09:21] ilyam8 commented on #12679
Fixed in https://github.com/netdata/netdata/pull/12296.

[2022-04-20 09:21] #12679 closed

[2022-04-20 09:29] jwaring commented on #9358
Thanks for the quick response @MrZammler. Look forward to the new feature coming out

[2022-04-20 11:31] MrZammler commented on #12697
Okay, lets try this: First we need to make sure the agent is running correctly. Please start it, and then check the local dashboard (http://host-ip:19999).

If it does, we need to check if it is connected to the cloud. Please paste the output from http://host-ip:19999//api/v1/aclk Let it run for a while before checking, to make sure it has time to connect.

Thanks!!

[2022-04-20 11:32] #12166 closed

[2022-04-20 11:47] dhmilburn commented on #12697
The netdata.service is no longer installed.

On Wed, Apr 20, 2022 at 7:32 AM Emmanuel Vasilakis ***@***.***>
wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-20 12:16] MrZammler commented on #12697
Do you get an error when trying to reinstall ? Can you paste it here please? Thanks!

[2022-04-20 12:30] dhmilburn commented on #12697
Can you please send me the full script for the reinstall (rooms, claim
number, etc).

Or if I do the kickstart how do I claim my node?

On Wed, Apr 20, 2022 at 8:16 AM Emmanuel Vasilakis ***@***.***>
wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-20 12:40] MrZammler commented on #12697
You can visit netdata cloud where there are instruction on how to run the kickstart script, along with the parameters you need to pass for the claiming of the agent to the cloud.

You could also start initially by just installing the agent on your machine, using [this guide](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart/). When this is done, and you make sure the age

[2022-04-20 12:53] dhmilburn commented on #12697
Ran the info in the guide. Got:

 --- Updated existing install at /opt/netdata ---
 --- Successfully updated existing netdata install at /opt/netdata. ---
 --- Not attempting to claim existing install at /opt/netdata (no claiming
token provided). ---

On Wed, Apr 20, 2022 at 8:40 AM Emmanuel Vasilakis ***@***.***>
wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-20 17:00] cakrit commented on #12419
For each cgroup identified, Netdata executes the `cgroup-name.sh` script you can find in one of our folders (don't recall exactly were). On githubt you can see its template [here](https://github.com/netdata/netdata/blob/master/collectors/cgroups.plugin/cgroup-name.sh.in)

@vlvkobal and @ilyam8 this is a very common question. I think we need to document how we name containers (what the script does)

[2022-04-20 17:54] marigbede commented on #12419
Thanks @cakrit. The reason for this questions is if I can make out how Netdata picks out the names (hoping some form of tags can be used to pick out the names of the running containers), then we can finally resolve the issue where we only see IDs instead of container names.

[2022-04-21 07:20] ktsaou opened #12732 "[Bug]: unaligned data in parents when update_every is not 1"
### Bug description

When update_every is not 1, data in the database should always be stored at timestamps matching `now % update_every == 0`. So, data with `update_every = 5` should be stored at timestamps ending in 00, 05, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55 only.

It seems however that the way parents receive data from children, allows data to be stored in misaligned timestamps.

In a setup

[2022-04-21 07:27] MrZammler commented on #12697
All right, so it seems installed. Is it running? Can you check through a web browser if http://host-ip:19999 is ok ?

[2022-04-21 11:57] cakrit commented on #12419
The question I still have is if we have a next step. I had missed @ilyam8 's responses above when I wrote this. What we need @marigbede is a way to get to nomad resource name from a cgroup id, by running a linux command.  Perhaps we can ask Hashicorp's support?

[2022-04-21 12:01] jonathanmmm opened #12736 "[Feat]: Feature or Bug: Disable cloud in Docker Container"
### Problem

Hi,

I am using netdata in my local setup, I put it behind a proxy (only being inside a local docker network, netdata itself having no internet connection).

I am trying to disable all requests that go to another ip, than the one of my server.

I set:
[code]
as environment variables via docker-compose (the last two are probably not intended to work)

Also I mounted

`/var/lib/netdata/

[2022-04-21 12:19] dhmilburn commented on #12697
No.

The netdata.service is not installed:
***@***.***:~$ sudo systemctl status netdata.service
[sudo] password for fscinc:
Sorry, try again.
[sudo] password for fscinc:
● netdata.service
     Loaded: not-found (Reason: Unit netdata.service not found.)
     Active: failed (Result: exit-code) since Wed 2022-04-20 11:44:14 UTC;
24h >

Apr 20 11:44:14 915C4C1 systemd[1]: netdata.service: Failed to sc

[2022-04-21 13:37] Ferroin commented on #12736
The `latest-version.txt` Google URL is part of the update check code. We probably should have a way to disable this for reasons that have nothing to do with privacy. However, this _cannnot_ be self-hosted by the agent’s internal web server, and we do have a legitimate interest in informing the user that a newer version of our software.

The `netdata-news.cdn.prismic.io` URL is for the news functio

[2022-04-21 16:20] marigbede commented on #12419
@cakrit Thanks we are getting there. I want to believe that the default way of configuring the jobs in Nomad sees this **cgroup id** as an optional label.  Therefore, lets use docker for example, if I am running docker on a linux machine manually, what fields would the script or meta data would the script look at to try to pick out the name of the running container. we can either try to hack this

[2022-04-21 20:07] jonathanmmm commented on #12736
Thanks for your answer, I don't want to selfhost anything, except using the netdata dashboard without anything, no update check, no cloud connection, no analytics. Just the dashboard.

Of course pressing the button, like "check update" or "sign in" would connect to any service, but if I don't press these buttons.
I see your interest, but not giving people the choice to use it privately will hurt n

[2022-04-21 21:04] dhmilburn commented on #12697
I was able to find this script:

wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh
/tmp/netdata-kickstart.sh --claim-token
H_G6bM0_vj3fNGQESpNWh8th0b_xsPwNcz50lBZYqYJ5nyvsmp0PKjPGzRb7yEHceqYz4sBSeyQ_d5wfRJOrqvDk3jacCt6Z4WoRaBiE_u0QvUO-7_g2urtc9SIhrnNO0IELPB4
--claim-rooms 73cb81de-3d42-4eaa-90c1-9c650f8d000d --claim-url
https://app.netdata.cloud

I ran it and it installed

[2022-04-21 21:12] dhmilburn commented on #12697
Also, I have port 19999 open in our firewall.

On Thu, Apr 21, 2022 at 5:04 PM David Milburn ***@***.***> wrote:

--
Support Voter Integrity: votervetting.com <http://votervetting.com>

[2022-04-21 22:27] ilyam8 commented on #12641
@vlvkobal we need to fix https://github.com/netdata/ioping

[2022-04-21 23:50] laurnts commented on #9358
The option to delete unreachable node from the manage war room is gone in my case
<img width="716" alt="Screenshot 2022-04-22 at 01 49 18" src="https://user-images.githubusercontent.com/5869140/164568957-403793b9-b6e1-4ee1-8241-509ce9ba5ebd.png">

[2022-04-22 00:27] dhmilburn commented on #12697
Help!

The netdata node was working, but all of my other services stopped working.

I uninstalled NetData but the problem continues.

My nginx services for the web start then stop then start.

I've also gotten email alerts from Netdata such as:

10s_ipv4_tcp_resets_received
on 915C4C1
0.06 tcp resets/s
Details: average number of received TCP RESETS over the last 10 seconds.
This can be an indicati

[2022-04-22 11:17] hugovalente-pm opened #12740 "[Bug]: User doesn't see the node as connected in Netdata Cloud"
### Bug description

User sees 500 error page when trying to visit parent node on the cloud dashboard.
Parent node agent dashboard works fine, but not on the cloud.
Also, parent node says that it is not connected to the cloud on the agent dashboard

[Discord thread](https://discord.com/channels/847502280503590932/966046965932634133)

user also shared `access.log` and `error.log` files, available i

[2022-04-22 13:55] koebi001 commented on #12715
I also see lots of disk write operations from netdata on some of my KVM virtual machines.
The write operations go to `/var/cache/netdata/netdata-meta.db-wal` although I am using `memory mode = ram`.
All nodes are claimed to the cloud and run version `v1.34.1` installed using the `kickstart.sh` (`INSTALL_TYPE='kickstart-build'`).
There is nothing in the error log (`/var/log/netdata/error.log`) when

[2022-04-22 14:12] ilyam8 commented on #12715
Good finding! I also see that _bug_ several times when the file keeps constantly increasing (16M->(sic!)21G)

[2022-04-22 21:50] Legolaszstudio commented on #12696
Having the same problem, when updgrading:
[code]

Sysinfo:
[code]

Netdata:
[code]

[2022-04-22 23:12] mallman commented on #3735
I would also like to see this capability. I think this can be especially useful where we're tracking a capacity. Personally, I'm less interested in seeing the lower bound of memory or disk usage than I am to see how close they are to zero.

I believe this is a valid issue. How do we reopen it?

[2022-04-23 08:35] ktsaou opened #12744 "[Feat]: dbengine page cache should not be dumpable and should enable KSM"
### Problem

Today we allocate pagecache pages using `malloc()` and free them with `free()`:

- `malloc()`: https://github.com/netdata/netdata/blob/72a5ec6e37d22dd6c7cfe2562ef72bc86025b114/database/engine/rrdengine.c#L179
- `malloc()`: https://github.com/netdata/netdata/blob/72a5ec6e37d22dd6c7cfe2562ef72bc86025b114/database/engine/rrdengine.c#L334
- `malloc()`: https://github.com/netdata/netdata/b

[2022-04-23 08:37] ktsaou commented on #12744
@stelfrag @ilyam8 please check this.

[2022-04-23 08:52] ktsaou commented on #12744
For coredump control, keep in mind that there is also a `/proc/PID/coredump_filter` which allows selecting the type of memory that will be dumped, but I think we need to allocate with `mmap()` to actually make any good use of it. See `man core` for more information.

[2022-04-23 09:17] andrewm4894 commented on #3735
@mallman yep I would like to be able to have some way to have dynamic y-axis, fixed one (current), and more flexible options like you mention like 0 bound (or some better name).

@netdata/product what's best way to track this?

A fresh feature request?

[2022-04-23 18:53] ilyam8 commented on #2161
I installed Netdata on Proxmox 7.1-12, created several VMs and containers, my observations so far:

- `cpu` % utilization is broken because we don't the number of allocated cores.
- `mem` % utilization is broken because we don't the amount of allocated memory. Also, there could be a misunderstanding with the memory usage value. It is:
    - NOT the value you see when `free -h` inside a VM.
    - N

[2022-04-23 19:35] ilyam8 opened #12748 "[Feat]: add cgroups.plugin discovery thread CPU usage to Netdata Monitoring"
### Problem

- The "Netdata CGroups Plugin CPU usage" reflects the main thread.
- The discovery thread does a lot of work (finding all cgroups, cgroups name resolution), but we don't track its CPU usage.

### Description

We need to add the CPU usage chart for the discovery thread to "Netdata Monitoring -> cgroups".

### Importance

must have

### Value proposition

Our plugins self statistics are

[2022-04-23 22:49] ildar170975 commented on #9358
Confirm. No checkbox to remove a node

[2022-04-24 13:13] #12721 closed

[2022-04-24 15:23] lamk0006 commented on #9358
Yes, it is not there anymore. It was there previously back in december-january

[2022-04-25 07:52] illes opened #12754 "[Bug]: Incorrect display of small negative values in chart"
### Bug description

Vertical (_y_ axis) scale and value display on charts will smallish negative values is not in order:
![Screenshot 2022-04-25 at 09-37-26 Get control of your Linux Servers Simple Effective Awesome ](https://user-images.githubusercontent.com/971224/165043381-f9eca39f-b52a-472a-8fd4-2bf622963f04.png)

Example shows chart `system.clock_sync_offset`:
- positive values are displayed

[2022-04-25 11:25] Ferroin commented on #12744
Speaking with my user hat on, this is also helpful for users who simply want to run with a larger DBEngine page cache size (for example, because they want to ensure that accessing the dashboard does not hit the disk until they get very deep into historic data), albeit not as much as for those who are dealing with large numbers of child nodes.

[2022-04-25 13:26] vlvkobal commented on #7511
It isn't possible to configure chart names anymore. See #12209. So, the issue is irrelevant.

[2022-04-25 22:32] Dim-P commented on #12696
@Legolaszstudio There is a PR which will probably make it into the next agent release that should be fixing this issue here: https://github.com/netdata/netdata/pull/12730 .

[2022-04-26 07:07] MrZammler commented on #12715
Thanks @koebi001 for this!

[2022-04-26 07:32] MrZammler commented on #12740
Hi Hugo, will pick this up with the user.

His error.log shows what appears many restarts, but most importantly a few `This agent doesn't have ACLK` entries.

[2022-04-26 07:46] MrZammler opened #12761 "[Bug]: system-info.sh error on macOS"
### Bug description

While investigating a macOS issue with (related to https://github.com/netdata/netdata/issues/12578), the error log contains this line:

`/usr/local//netdata/usr/libexec/netdata/plugins.d/system-info.sh: line 346: 1953309744+844+2929959336+26%+1953309744+26% * 1024: syntax error: operand expected (error token is "* 1024")`

Thought I'd leave it here so not to forget.

### Expec

[2022-04-26 08:23] ilyam8 commented on #12761
The problem is empty "types" when we execute `df`

https://github.com/netdata/netdata/blob/030309dd59ddf492f6e6ee770c2c5c7cf0b3bb5d/daemon/system-info.sh#L334-L346

[2022-04-26 08:27] ilyam8 commented on #12761
On my system, the script doesn't fail when detecting disk size but reports the wrong value (I have more than 500MiB 😄 )

[code]

[2022-04-26 08:32] iigorkarpov commented on #12761
Could you please explain me the goal of this tightrope-walking? What exactly we try to get?

[2022-04-26 08:51] ilyam8 commented on #12761
Hi, we try to get the total storage(disk) size. Or what do you mean?

[2022-04-26 09:19] rerime commented on #1566
@ktsaou Does it already merged?

[2022-04-26 09:29] iigorkarpov commented on #12761
`/usr/libexec/PlistBuddy -c "Print :TotalSize" /dev/stdin <<< $(diskutil info -plist /)` provides an exact size in Bytes.

[2022-04-26 15:05] vobruba-martin commented on #12719
BTW today I had to set `apps = no` because `socket = no` was not enough.
![image](https://user-images.githubusercontent.com/6897988/165331433-678f30dc-67e1-46b0-bb1d-b978ceb5556d.png)

[2022-04-26 15:30] thiagoftsm commented on #12719
Hello @vobruba-martin ,

The PR was initially created last night, but I was missing few threads to finish it. Now that the PR blocking the fix was merged, I am working with it today, and tomorrow it will be ready for reviewers, I expect to merge the final solution until Friday.

Best regards!

[2022-04-26 16:09] ilyam8 commented on #12761
@iigorkarpov, thanks! Doesn't work for me tho.

[code]

What works for me is:

[code]

[2022-04-26 17:01] iigorkarpov commented on #12761
I suspect you have broken (heavily modified) system

[2022-04-27 07:49] #12761 closed

[2022-04-27 11:44] #12632 closed

[2022-04-27 13:04] MrZammler opened #12766 "[Feat]: Monitor Netdata's sqlite database"
### Problem

We should have charts monitoring our sqlite, in terms of size, operations, etc.

### Description

Especially for cloud connectivity, sqlite is constantly used. Monitoring it could also reveal ways to optimize operations and how it correlates with the whole Netdata state.

### Importance

nice to have

### Value proposition

1. Understand how it is used, and ways to optimize if needed.

[2022-04-27 19:59] andrewm4894 commented on #12766
Curious, do we actually have a SQLite collector? I searched but couldn't find one.

[2022-04-27 23:52] startryst commented on #8527
update to keep it active.

[2022-04-28 07:00] #12541 closed

[2022-04-28 07:31] ktsaou opened #12770 "[Bug]: dbegnine deadlock"
### Bug description

We have two parents. The setup is like this:

20 childs -> parent1 -> parent2

On the parents we randomly experience deadlocks at the dbengine. Once this happens, the parents do not respond to data queries any more.

It is totally random. It happens daily, but we don't know what exactly triggers it. It does not happen on both parents concurrently. Sometimes only on parent 1, o

[2022-04-28 08:19] #12744 closed

[2022-04-28 08:28] #7133 closed

[2022-04-28 08:28] #11512 closed

[2022-04-28 12:50] Tejes opened #12774 "[Bug]: k8s cgroups/containers do not show up when installed outside of kubernetes"
### Bug description

I just installed netdata v1.34.1 directly on a VM which is a kubernetes node running several pods. On the netdata dashboard, I can only see a single container, which was started using docker and not kubernetes. No k8s containers show up.

### Expected behavior

Kubernetes containers show up on the dashboard.

### Steps to reproduce

1. Set up a kubernetes node running some pod

[2022-04-28 15:47] Dim-P opened #12775 "[Bug]: Free non-malloc()-ed memory during eBPF cleanup"
### Bug description

When exiting Netdata through a SIGINT signal, the following is reported sometimes:

[code]

### Expected behavior

Fix wild pointer `free()` attempt during eBPF cleanup.

### Steps to reproduce

1. Install Netdata with eBPF enabled
2. Try to exit Netdata using a `NETDATA_SIGNAL_EXIT_CLEANLY` way.

### Installation method

other

### System info

[code]

### Netdata build info

[2022-04-28 18:08] Dim-P commented on #12300
It also seems like the description always points to [/etc/netdata/python.d/web_log.conf](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/web_log/web_log.conf) no matter which plugin is used, which makes it even more confusing to the user :

Not sure if this deserves its own ticket.

[2022-04-29 01:48] thiagoftsm commented on #12719
Hello guys,

An update, I am finishing the description of the PR that fixed the majority of the problems right now. As you can see in the next image, when the PR is merged, the eBPF.plugin will use less CPU than apps:

![Screenshot_20220429_011158](https://user-images.githubusercontent.com/49162938/165873128-a6426c2e-8685-49ba-b0f2-d43cfc78d326.png)

And it will also use less memory:

![Screenshot

[2022-04-29 10:18] srozinov opened #12780 "[Bug]: UPS/NUT label and data not appeared in Netdata Cloud after changing"
### Bug description

1. Added NUT support:
nut_ups=ups@172.19.0.1

It appeared in Agent and Cloud, all was OK.

2. Added
nut_names["ups@172.19.0.1"]="Main UPS"

and renamed several times. Now it appeared in Agent under new label but in Cloud the old label persisted and no new data posted.

3. Removed NUT support by commenting out above lines. It disappeared in both Agent and Cloud after a while.

[2022-04-29 10:25] srozinov commented on #12780
Screens:

Cloud: https://drive.google.com/file/d/1FJR2kjYab0SENpFDj9IrbMebVtOCIRT3/view?usp=sharing
Local: https://drive.google.com/file/d/1FG_EcRk1qkIpcPlvcJ9Xqmr9Qrbe-znl/view?usp=sharing

[2022-04-29 10:44] ilyam8 commented on #12780
@srozinov hi, can you adjust the title? It is "[Bug]:".

[2022-04-29 17:22] jacekkolasa commented on #12376
@MrZammler if your agent hadn't been claimed to the cloud, you could still get the redirect using the cloud's registry. Iframes save every agent when you visit it while being signed-in to the cloud. So the next time you'll get notifications, it checks agentId<->visitedUrl pair and, if it's found, redirects (or at least shows the list of urls so you can redirect manually).

Maybe you didn't fulfill

[2022-04-29 20:56] gfay63 commented on #12578
@MrZammler

Sorry, took me a bit to get some time back on this. :)

**First**, yes, the netdata user did NOT have write privs to /etc/local/netdata and below. I added them, and it DID get rid of the SQLite error, and I now do get: `SQLite initialization succeeded`, however, it did NOT solve the main problem. It still would not restart without deleting the cache db files.

**Second**, I did try a p

[2022-04-30 15:36] ilyam8 commented on #2161
Made to fixes for networking [[1](https://github.com/netdata/netdata/pull/12788), [2](https://github.com/netdata/netdata/pull/12789)]. Networking is ~fixed (at least in my setup - Proxmox 7.1).

[2022-04-30 22:48] gfay63 commented on #12578
@MrZammler,

Well, I re-installed it with homebrew. It took some work, as documentation is off, but got it working.

Originally, it "seemed" to work fine, stopping and restarting. But as soon as I copied in my config files from before (and corrected the file permissions to the have read/write), restarting is back to where we were before.

Logs:
[code]
I removed those config files just for kicks an

[2022-04-30 23:31] gfay63 commented on #12578
@MrZammler,

Just FYI...I wanted this so bad, I tried a few more times, this time using your instructions from the email before, and was trying to install to a completely different "safe" path on another internal volume. But even THAT fails with the weird error. Sounds like maybe something unrelated has broken in the netdata installer since this happens now no matter how I try to install...

[code

[2022-05-01 17:49] thiagoftsm opened #12793 "[Bug]: Netdata cannot compile on FreeBSD"
### Bug description

After we merge the PR https://github.com/netdata/netdata/pull/12765 when we try to compile `netdata` on  `FreeBSD 13.0-RELEASE-p11` we receive the following error:

[code]

### Expected behavior

As user I want to compile netdata on FreeBSD

### Steps to reproduce

1. Clone current netdata master branch
2. Try to compile it.

### Installation method

from source

### System in

[2022-05-01 19:29] phiberoptick commented on #11615
Sorry for posting on a closed issue, but I am actually experiencing this exact same issue.  Identical to the OP and across at least 12 servers (that I have checked so far).

Disabling ebpf remedies the situation obviously.  The ebpf plugin procs do die but require a SIGKILL.  Restarting Netdata will eventually kill of the processes but can take 5-10 minutes at times.

As you can imagine, it wreaks

[2022-05-02 07:19] thiagoftsm commented on #11615
Hello @phiberoptick,

Thank you to report this. I am installing a VM to replicate this issue.
I will bring more updates after tests.

Best regards!

[2022-05-02 10:05] thiagoftsm opened #12797 "[Bug]: Warnings when compiled on FreeBSD (plugins)"
### Bug description

When we compile Netdata on `FreeBSD` the following warnings are shown:

[code]

### Expected behavior

Compile Netdata without warnings.

### Steps to reproduce

1. Clone Netdata
2. Compile `master` branch using the flags `CFLAGS="-O1 -ggdb -Wall -Wextra -fno-omit-frame-pointer -Wformat-signedness -fstack-protector-all -DNETDATA_INTERNAL_CHECKS=1 -D_FORTIFY_SOURCE=2 -DNETDATA_

[2022-05-02 11:18] #12793 closed

[2022-05-02 13:08] ilyam8 commented on #12723
Among those we are deleting only the mysql collector has a dependency:

 - we kind of need it for custom collectors (see #1906)
 - on the other hand, we can add a note in the docs - if you want to use a custom python collector that uses MySQLService - you need to install the lib manually.

[2022-05-02 14:22] ilyam8 commented on #12723
@Ferroin `python-dnspython` package can be removed

[2022-05-02 15:05] Ferroin opened #12801 "[Feat]: Add support to the kickstart script to configure our package repositories on a system but not install the Netdata agent."
### Description

As described in the issue title. The idea here is to have a way to quickly configure our repositories on a given system without necessarily installing the Netdata Agent.

### Importance

nice to have

### Value proposition

1. Support for this would simplify test coverage for certain parts of the kickstart script, as well as simplifying development of support code for installing n

[2022-05-02 15:15] #12723 closed

[2022-05-02 17:10] cakrit commented on #3735
Feature requests for cloud can still  be opened [in the community forum](https://community.netdata.cloud/c/feature-requests/7)

[2022-05-02 17:29] cakrit commented on #12419
Again took a while for me to respond, apologies @marigbede

What we need is any command that we can run, that takes as input the container id and returns a name. For docker, we use
`docker ps`.  See first [line 350](https://github.com/netdata/netdata/blob/master/collectors/cgroups.plugin/cgroup-name.sh#L350). This code is called if the `hash` command has returned `docker` as a recently executed pr

[2022-05-02 17:45] cakrit commented on #2760
We are anonymizing IPs everywhere where we suspect they may be leaked. The agent hasn't been using GA for a while now, we just have PostHog there, which is an open source project. I haven't seen any IPs there either, though I did just ask them to double check and verify.

[2022-05-02 17:55] jonathanmmm commented on #2760
It does not matter what you do. If I acces example.com of course my IP address gets leaked to them and the hoster they use, but it should not be leaked without explicit acceptance by the user to any third party (e.g. Google)

[2022-05-02 20:50] ekexcello opened #13317 "One failed check breakes all the others"
**Environment:**
OS: Linux 5.10.110-gentoo x86_64
Netdata version: netdata-1.34.1-r1
Go.d plugin: 0.31.2

Same used to happen with Netdata-1.33 and all the versions of plugin tested (using since 0.30.0 at least)

**The issue:**
Several checks configured to be monitored with go.d plugin, for instance mysql, nginx, directory check and some other things.
Mysqld has certain misconfiguration and perfor

[2022-05-03 06:16] #12722 closed

[2022-05-03 11:29] srozinov opened #12804 "[Feat]: Go plug-in: Integer type support for SNMP monitoring"
### Problem

When querying Mikrotik router for CPU/Memory usage, I see:

[ DEBUG ] run[manager] run.go:41 tick 0
[ DEBUG ] snmp[Router] collect.go:46 skipping OID '1.3.6.1.2.1.25.3.3.1.2.1' (unsupported type 'Integer')
[ DEBUG ] snmp[Router] collect.go:46 skipping OID '1.3.6.1.2.1.25.2.3.1.5.65536' (unsupported type 'Integer')
[ DEBUG ] snmp[Router] collect.go:46 skipping OID '1.3.6.1.2.1.25.2.3.1

[2022-05-03 11:43] ilyam8 commented on #12804
@surajnpn the type we skip

[code]

I think `Integer` is that list by (my) mistake 😅

[2022-05-03 12:32] #12804 closed

[2022-05-03 14:15] zeylos commented on #12715
Hi,

I confirm the issue is still present with `v1.34.0-52-nightly`.
I also confirm the issue comes from the child (using `memory mode = ram`) and not the parent (if I reschedule a parent on a problematic node, the disk still writes a lot), the writes are indeed directed to `/var/cache/netdata/netdata-meta.db-wal`, although the size doesn't change (it stays at 16MB).

I'm down for a debugging sess

[2022-05-03 15:37] cakrit commented on #2760
We'll take the risk then. As long as the 3rd party provider (which I repeat isn't Google) is verifiably not storing personal data, we believe we'd win in court. The benefits of a sizeable percentage of anonymous statistics far outweigh the small risk of being ordered to do it in a different way.

[2022-05-03 17:13] Ferroin commented on #12659
Reopening this so that the second part does not get forgotten. Target date for that is currently 3 months from now (2022-08-03).

[2022-05-04 08:03] #12801 closed

[2022-05-04 08:07] iigorkarpov commented on #12659
Is it YYYY-MM-DD?

[2022-05-04 08:09] iigorkarpov commented on #12659
My PR left non-merged. Should I remove it?

[2022-05-04 10:32] maneamarius commented on #12659
Sounds good, let's keep the ticket open until we implement the second part.

[2022-05-04 10:43] ilyam8 commented on #12774
Hi, @Tejes. In order to resolve k8s container names and add labels, Netdata queries the K8s API server. There are 2 ways:

- **when inside a cluster**: we get host from `KUBERNETES_SERVICE_HOST` env var, port from `KUBERNETES_PORT_443_TCP_PORT`, and bearer token from `/var/run/secrets/kubernetes.io/serviceaccount/token`.

https://github.com/netdata/netdata/blob/8e46581d822180b2bf6874372492e44203a1

[2022-05-04 12:12] bnesbitt opened #12816 "[Bug]: core dump on shutdown [1.34.1]"
### Bug description

I have observed that netdata dumps core occasionally on shutdown. This has happened on multiple versions and now happens with the latest - 1.34.1. We are stopping netdata using 'systemctl stop netdata' and 'systemctl restart netdata'

This is the RHEL 8 RPM version obtained from: https://packagecloud.io/netdata/netdata/packages/el/8/netdata-1.34.1-1.el8.x86_64.rpm

gdb output:

[2022-05-04 12:16] Tejes commented on #12774
Allowing netdata to read `/etc/kubernetes/admin.conf` solves the problem indeed, but shouldn't there be a fallback when it cannot? Instead of ignoring the cgroup altogether. If I understand correctly, netdata only reads pod names via kubectl, so it could show statistics for those cgroups without access to the k8s API, just under a different name.

[2022-05-04 12:28] Ferroin opened #12817 "[Feat]: Use externally prepared Docker images for static builds instead of creating them on-demand for each build."
### Problem

Currently, our static build process prepares a Docker image locally each time a static build is run. This is inefficient and wastes resources in CI, as well as leaving things in an undesirable state on developer systems.

### Description

The static build process should use pre-built Docker images instead of building them on-demand each time a static build is run.

### Importance

rea

[2022-05-04 12:32] Ferroin opened #12818 "[Feat]: Static build CI should cache invariant components between builds."
### Problem

A nontrivial percentage of the time spent running our static builds involves building static copies of bash and other tools. These only rarely change however, so most of this time is in fact wasted.

### Description

Instead of rebuilding these components every time, they should be built once and cached for subsequent builds. The caching should be keyed off of the checksum of the file

[2022-05-04 12:53] maneamarius commented on #12069
Are you still having this issue? I believe it should be resolved in the latest code.

[2022-05-04 15:58] cvalentine99 opened #12821 "[Bug]: kickstart.sh fails on macOS "sh: /install-type: Read-only file system""
### Bug description

hecking for existing installations of Netdata... ---
sh: /install-type: Read-only file system
/tmp/netdata-kickstart.sh: line 760: /install-type: No such file or directory
 ERROR  Installer exited unexpectedly (0-760)

This is almost certainly the result of a bug. If you have time, please report it at https://github.com/netdata/netdata/issues/new/choose.
chasev@FVFGR9JCQ05N ~

[2022-05-04 17:54] ilyam8 commented on #12821
Hi, @cvalentine99. Can you update the title? It is "[Bug]:".

[2022-05-05 00:00] narcarsiss commented on #9358
Same Issue here, We did a decommission of 20 nodes and now :\ stuck with a large list of unreachables.

[2022-05-05 07:59] mikehearn opened #12824 "[Bug]: Noisy update cron job"
### Bug description

After installing the netdata agent I get a noisy no-op apt-get output from cron every day. This is pointless, as nothing was actually changed. I disabled auto updates for now as I use unattended-upgrades anyway.

### Expected behavior

No spammy cron emails.

### Steps to reproduce

1. Install using kickstart script on Ubuntu.
2. Wait.

### Installation method

kickstart.sh

#

[2022-05-05 08:33] ivangergo3 commented on #12817
@dimko we might need to change our CI as well

[2022-05-05 12:32] maneamarius opened #12827 "[Bug]: Bad file descriptor in netdata-uninstaller.sh"
### Bug description

When running kickstart.sh --uninstall got this:

 --- Checking for existing installations of Netdata... ---
 --- Found existing netdata-uninstaller. Running it.. ---
[/]# /opt/netdata/usr/libexec/netdata/netdata-uninstaller.sh --yes
/opt/netdata/usr/libexec/netdata/netdata-uninstaller.sh: line 63: 3: Bad file descriptor

### Expected behavior

Running without error.

### Steps

[2022-05-05 15:08] #12827 closed

[2022-05-05 16:20] solracsf opened #12830 "[Feat]: Monitor Maxscale query proxy"
### Problem

_No response_

### Description

Monitor Maxscale query metrics trough its API
https://mariadb.com/kb/en/maxscale-6-rest-api/

There is actually an Exporter that exports the MaxScale metrics for Prometheus
https://github.com/vbezgachev/maxctrl_exporter

Would be nice to see this integrated to Netdata

### Importance

nice to have

### Value proposition

1. Monitor Maxscale Query Proxy

[2022-05-05 16:32] #12566 closed

[2022-05-05 20:04] cvalentine99 commented on #12821
What shall I change it to? Thanks

[2022-05-06 05:16] solracsf commented on #12824
Same here, using `--static-only` option.

[code]

[2022-05-06 08:29] iigorkarpov commented on #12824
@Ferroin @maneamarius
We have to remove the symbolic link creation from installation/updating procedure

`/etc/cron.daily/netdata-updater -> /usr/libexec/netdata/netdata-updater.sh`

and create the new file in `/etc/cron.d/` containing something like this

[code]
In case if this file already exists, it should not be rewritten.

Corresponding changes in documentation also required.

[2022-05-06 09:00] solracsf commented on #12824
@iigorkarpov `--static-only` installs should also be handled.

`/etc/cron.daily/netdata-updater -> /opt/netdata/usr/libexec/netdata/netdata-updater.sh`

[2022-05-06 12:25] PatTheMav commented on #12824
Thank you for this issue, I also get a nightly mail with a whole lot of `apt` progress output for every server I have netdata running on.

I'd actually prefer if netdata uses `systemd` timers instead, but it looks like the `binpkg` variant does not install the necessary unit files, so even running `sudo /usr/libexec/netdata/netdata-updater.sh --enable-auto-updates systemd` fails with `Failed to en

[2022-05-06 12:34] PatTheMav opened #12837 "[Bug]: Kickstart script doesn't check for default release configuration on Debian-based Linux"
### Bug description

The kickstart script will add a custom apt repository on compatible systems to install netdata. By default, this script will prefer nightly builds of netdata, which are given priority level 500 (check via `apt-cache policy netdata`).

If a system has a "default release" configuration set-up, e.g. via `APT::Default-Release "stable"`, then the default stable distribution will ha

[2022-05-06 16:53] IDeletedSystem64 opened #12839 "[Bug]: Netdata experiences slow memory leak"
### Bug description

Netdata slowly consumes all of the memory on the system.
Yesterday I was looking at my server, saw that it was using over 6 GB of 8 and Netdata was consuming most of that. (4.4 GB)
On my Debian system, (albeit running a older version) its only using 191 MB (with 3 days uptime)

### Expected behavior

Netdata to not consume most of the system memory, (normally for me, under 256

[2022-05-06 21:19] diizzyy commented on #12839
You should most likely report that to the maintainer for Arch for further debugging, there's also lot of non standard flags used.
Since it seems to accumulate rather quickly I'd disable all plugins and enable one by one until you see the issue or if it still occurs in "barebone" configuration.

[2022-05-06 22:30] drawks opened #12840 "[Feat]: When more than one certificate placed in the "ssl certificate" file only the first cert is returned"
### Bug description

When following the documented steps for enabling tls by placing
[code]
in the config and restarting netdata. Netdata starts and is attempting to start a tls session, however it only ever offers the first certificate present in the `ssl certificate` file, I would expect that it would offer up all certificates from this file suchy that a certificate and its intermediate could be

[2022-05-08 05:28] callumgare opened #12843 "[Bug]: system.ram.used too high as it does not take into account zfs arc"
### Bug description

The system.ram chart for one of my nodes looks like this:
![Screen Shot 2022-05-08 at 14 37 57](https://user-images.githubusercontent.com/346340/167282107-dbd70eb9-f0d5-4130-9ac7-8daa478aa8d8.png)

That looks a bit worrying because it makes it seems like I have less than 1GiB of headroom but in reality I actually have over 10GiB. The reason for this is that it doesn't take int

[2022-05-08 05:37] callumgare commented on #12843
While this doesn't fix the issue of the charts showing misleading values, to anyone else in this situation a workaround to  least fix the mem.avaliable "ram_avaliable" alert is to cd'ing into your netdata config dir, run `sudo ./edit-config health.d/ram.conf`, and change the `calc` value for the mem.avaliable's "ram_avaliable" alert from it's original value of `$avail * 100 / ($system.ram.used + $

[2022-05-08 06:06] callumgare opened #12844 "[Bug]: Sidebar list in agent web ui usable with certain pointer devices like a drawing tablet."
### Bug description

I use a Wacom drawing tablet instead of a mouse for accessibly reasons (it helps my RSI). This isn't usually an issue however for some reason Netdata is treating it different to a mouse when it comes to the right-hand sidebar. If I move the cursor over the sidebar (as shown in the video below) it treats it as if I'm on a phone and have attempted to scroll the list by dragging

[2022-05-08 09:16] ilyam8 commented on #12843
Hi, @callumgare. Thanks for the detailed bug report 👍

The `mem.available` chart data is `MemAvailable` from `/proc/meminfo`.

It is:

- from `man procfs`.

- from `man free`.

---

I think we don't modify this value because we show the kernel estimation: if the kernel believes that X memory can be used without swapping that it is what it is.

That is an interesting topic, but we get different and

[2022-05-08 11:15] ilyam8 commented on #12843
@callumgare can you test #12847?

[2022-05-08 13:39] callumgare commented on #12843
Wow! What incredible turn around time 🤩

I built it with `sudo ./netdata-installer.sh` first on the master branch and then on fix_proc-meminfo_consider_zfs_arc_as_cache to compare (hence the chart values changing dramatically towards the end) and it does indeed seem to be working.
![Screen Shot 2022-05-08 at 23 33 45](https://user-images.githubusercontent.com/346340/167298786-83c09b3a-3e24-4293-82

[2022-05-08 13:49] ilyam8 commented on #12843
@callumgare I think `used -= (arcsize - arc_min)` is a better way to calc used than `used -= arcsize`, I guess we can do a patch to `htop` 🤔

[2022-05-08 13:53] callumgare commented on #12843
@ilyam8 Yeah, that makes sense to me. Good find tracking down the htop patch.

[2022-05-08 21:01] Darkvgold commented on #9358
Any changes regarding removing nodes from the web panel?

[2022-05-09 01:55] IDeletedSystem64 commented on #12839
Ight, Where can I view plugins? (I didn't know Netdata supported plugins, but being non-standard flags I want to check)

[2022-05-09 06:40] C64Axel commented on #3296
This Code work for me:
`# no need for shebang - this file is loaded from charts.d.plugin

# netdata
# real-time performance and health monitoring, done right!
# (C) 2018 Costa Tsaousis <costa@tsaousis.gr>
# GPL v3+
#

# _update_every is a special variable - it holds the number of seconds
# between the calls of the _update() function
strongswan_update_every=1

# the priority is used to sort the cha

[2022-05-09 06:48] C64Axel commented on #3296
This work for me.
<details>
[code]
</details>

[2022-05-09 06:49] C64Axel commented on #3296
This work for me:
[code]

[2022-05-09 06:54] ilyam8 commented on #12839
@IDeletedSystem64 can you:
 - change the time range to the last 6 or 12 hrs.
 - check 'Applications->mem->apps.mem' chart. It will help us to identify which process consumes a lot of memory (e.g.: whether it is `netdata` or one of its external plugins).

[2022-05-09 07:28] MrZammler commented on #12839
Hi @IDeletedSystem64 , is the agent connected to Netdata cloud?

[2022-05-09 08:09] ilyam8 commented on #3198
Implemented in #12566

[2022-05-09 08:14] iigorkarpov commented on #12824
@PatTheMav systemd timers do not provide an easy way to deliver email report from the job unfortunately. Probably this was the main reason for using cron. And if our priorities are changed, we probably could use it as well. At least on the systems with systemd service.

[2022-05-09 11:35] #12633 closed

[2022-05-09 11:45] Ferroin commented on #12840
This appears to be a result of the fact that CentOS 7 is still using a 1.0.x version of OpenSSL. OpenSSL versions prior to 1.1.0 had issues with handling of full certificate chains all in one file.

@thiagoftsm is looking into this a bit further to confirm for certain and see if there are any workarounds. Independent of what he may find, our static builds _should_ be unaffected by this issue on Ce

[2022-05-09 11:47] maneamarius opened #12853 "[Feat]: autodetect channel from the specific install version"
### Problem

_No response_

### Description

Autodetect channel from the specific install version so that users would not neet to pass `--stable-channel`.

### Importance

really want

### Value proposition

When users install Netdata via kickstart.sh and use `--install-version` option, the script should automatically detect channel so that users would not need to pass options to specify the chann

[2022-05-09 11:59] maneamarius opened #12854 "[Feat]: create static website hosted in github pages which displays available netdata versions"
### Problem

_No response_

### Description

It would be nice to have website which displays available netdata versions, to make things easier for end users.

### Importance

really want

### Value proposition

Create static website hosted in github pages, which displays available netdata versions.

### Proposed implementation

_No response_

[2022-05-09 12:04] maneamarius opened #12855 "[Feat]: implement helper script which retrieves available netdata versions"
### Problem

We don't have a easy way to find available netdata versions for installation.

### Description

Implement helper script which retrieves available netdata versions.

### Importance

nice to have

### Value proposition

Will be easier for end users to find available netdata versions.

### Proposed implementation

_No response_

[2022-05-09 17:19] Famku opened #12860 "[Bug]: node.d snmp to go.d snmp doesn't work properly"
### Bug description

Hi,

I try to change my snmp config for my Mikrotik switch to go.d.

My old config for node.d worked perfectly for years:

[code]

For go.d my config looks like this:

[code]

I checked this with ./go.d.plugin -d -m snmp and I can see all ports in the dashboard.

But units shows as "ports" with values that not make sense.

Can someone give me a hint what I doing wrong?

### Ex

[2022-05-09 17:49] ilyam8 commented on #12860
Hi, @Famku.

- Can you share a screenshot?
- and `./go.d.plugin -d -m snmp` output

[2022-05-09 18:07] Famku commented on #12860
This is the dashboard from my old config

<img width="1265" alt="image" src="https://user-images.githubusercontent.com/27890413/167470622-554dfe5c-e53a-4a76-a3f0-9b819200808f.png">

[2022-05-09 18:08] ilyam8 commented on #12860
@Famku you need to add ` algorithm: "incremental"` to `- name: "out"`

[2022-05-09 18:10] ilyam8 commented on #12860
The units/ports problem is a bug, indeed.

https://github.com/netdata/go.d.plugin/blob/8d8bb6c053d351175fc5ca959ba21c06596afb0b/modules/snmp/charts.go#L70-L71

[2022-05-09 18:19] ilyam8 commented on #12860
@Famku

- the problem with the values is a misconfiguration. You haven't added `algorithm` for the 2nd dimension. Adding it will fix the issue. But we need to implement guessing based on OID value type (e.g. Counter64 - use incremental if not set).
- the problem with the wrong chart units is fixed in netdata/go.d.plugin#682. I will merge the fix and release a new version of go.d.plugin - the fix (

[2022-05-09 18:20] Famku commented on #12860
omg, I didn't see this, It works now.

Thank you very much!

Is it possible to change the name "ports" manually?

[2022-05-09 18:25] Famku commented on #12860
I will wait for the next release, thanks again

[2022-05-09 18:27] #12860 closed

[2022-05-09 20:57] odynik commented on #12603
Still in backlog.

[2022-05-10 00:13] Divya-kalluru commented on #12303
Hi @stelfrag,
I hope you are doing good. I was curious to know the status of the ticket as it's been a month.
Do you have any updates on this?

[2022-05-10 07:58] ilyam8 opened #12864 "[Bug]: system ram calculation does not take into account ZFS ARC on FreeBSD"
### Bug description

ZFS ARC accounted as used memory, but part of it should go into cached.

From the [Oracle docs](https://docs.oracle.com/cd/E26505_01/html/E37386/chapterzfs-3.html#gjheb):

---

The same issue on Linux is #12843.

### Expected behavior

[Based on `htop`](https://github.com/htop-dev/htop/blob/2da8f71209d2d1c3bfe23f8a76ae4f965065e81f/freebsd/FreeBSDProcessList.c#L363-L366):

- ca

[2022-05-10 09:16] MrZammler commented on #12369
Closed via https://github.com/netdata/netdata/pull/12544

[2022-05-10 09:16] #12369 closed

[2022-05-10 09:33] MrZammler commented on #9358
Hi guys, sorry there are no news on this, it is still being worked on.

[2022-05-10 10:23] ilyam8 commented on #12774
@Tejes I believe #12865 fixes the problem. I did test it manually in my GKE cluster and it works great, but if you have time to test it too - please, do.

[2022-05-10 11:25] iigorkarpov commented on #10390
@krital sorry for long silence. They say that better late than never; I doubt that but I am looking at your issue now and have to ask you, is this still actual? Many things have changed during this time.

[2022-05-10 11:30] #12817 closed

[2022-05-10 11:52] #12774 closed

[2022-05-10 14:59] LarkRiseMedia commented on #2938
In the newer version the script is in the tmp directory. It is called netdata-kickstart.sh

`sudo sh netdata-kickstart.sh --uninstall`

This does it for me having installed it by their methods on the website...

[2022-05-10 16:45] stelfrag commented on #12603
There is a small fix being tested (k8s-prod room) -- PR will follow

[2022-05-10 17:03] IDeletedSystem64 commented on #12839
@ilyam8
![image](https://user-images.githubusercontent.com/47640864/167683260-edcbaacd-1691-4e65-bba8-bd7b029b93de.png)
Just Netdata consuming the memory.
@MrZammler
No it isn't.

[2022-05-11 06:52] MrZammler commented on #12839
Hi @IDeletedSystem64 , can you please also share your `netdata.conf` file? Thank you!

[2022-05-11 08:55] zeylos commented on #12715
Hi there,

This bug is getting pretty serious for my case, it's happening nearly everyday on a random node of each cluster, which means I need to restart at least 3 or 4 nodes everyday :(.
It's problematic for kubernetes because when this happens Kubelet detects DiskPressure and stops scheduling pods on the problematic node.

I have 2 nodes on a testing cluster that have the alert up for 2 days, i

[2022-05-11 08:58] solution-al opened #12871 "[Bug]: Invalid permissions of /etc/netdata after installation on Ubuntu 20.04"
### Bug description

I installed netdata on a brand new Ubuntu 20.04 VPS like this when running as `root`:
[code]

Installation ends with exit code 0, but netdata is unable to start - this is a first problem - exit code should not be 0 in this case!

Now, when looking `netdata` service log, then this is seen:
[code]

Looking at `/etc/netdata` permissions shows the following:
[code]

Also, all file

[2022-05-11 09:08] MrZammler commented on #12715
Hi @zeylos sorry we didn't have much news since some days...

There are a couple of PRs to look for that might fix/reduce this problem. One is https://github.com/netdata/netdata/pull/12859 which is already merged, and the other is https://github.com/netdata/netdata/pull/12852 which should go in soon.

Please let us know if after these situation has gotten better/worse/same. Thank you again for you

[2022-05-11 09:44] maneamarius commented on #12871
I tested on a fresh VM running Ubuntu 20.04 and I can not reproduce the issue, it works fine for me.
Could you please try uninstalling netdata, cleaning up any related folders (/etc/netdata, /usr/lib/netdata etc.), and then try installing again.
Maybe take a screenshot of the last page of the installation log, would be helpful and if you see any errors during the installation try to capture them.

[2022-05-11 10:26] solution-al commented on #12871
I did recrate a new VPS from snapshot (in Hetzner) and performed a clean installation while seeing this problem. However, when this problem does not exist (on some other VPS), then I see that the only difference with permissions is this:
[code]

Basically read-write permissions are assigned to others too. This feels also wrong and might be even insecure.

Does netdata store its installation log so

[2022-05-11 10:37] iigorkarpov commented on #12871
These permissions are perfectly normal. Please compare the other directory permissions in /etc/
Permissions for directory are slightly different from the file permissions. For directory drwr-xr-x meant the the owner can do whatever he wants, his group can "read" the directory, that is to list the files in it, and "execute" it, which means they can cd to this directory and access its content. Same

[2022-05-11 11:34] solution-al commented on #12871
@iigorkarpov I understand what these permissions mean, but I disagree that it's fine since other directories in `/etc` have same permissions (which in major cases is like you said, but is also not always true due to some exceptions - at least for my installation).

However, since `/etc/netdata` might contain sensitive data (for example `/etc/netdata/python.d/postgres.conf` containing database acce

[2022-05-11 11:36] MrZammler opened #12876 "[Feat]: Populate UpdateNodeInfo message with services"
### Problem

Currently the `services` field (https://github.com/netdata/netdata/blob/7a6a36d2dfd708cacf620610118e307c04890bce/database/sqlite/sqlite_aclk_node.c#L55) in `sql_build_node_info` is NULL. We need to fill this with the unique combinations of `modules` and `plugins`, so that from this the cloud can extract and display services related to that agent.

This functionality existed in the old

[2022-05-11 11:40] #12603 closed

[2022-05-11 11:50] iigorkarpov commented on #12871
@solution-al sorry for being a Captain Obvious 😃
I can't answer your last question however. Historically, maybe?

[2022-05-11 12:59] andrewm4894 opened #12878 "[Feat]: toggle in setting of agent dashboard to disable all cloud features and messaging"
### Problem

Some users want to just run netdata locally and not connect to cloud ever for various reasons.

At the moment we try nudge or 'educate' users about cloud but some already know and this can be annoying each time they just want to use the local netdata dashboard.

### Description

Some users want to just run netdata locally and not connect to cloud ever for various reasons.

Idea here i

[2022-05-11 13:06] vlvkobal opened #12880 "[Bug]: Netdata crashes while sending an alarm notification on FreeBSD"
### Bug description

Netdata crashes while sending an alarm notification on FreeBSD with a message
[code]

### Expected behavior

No crashes

### Steps to reproduce

Do anything that raises an alarm with a consecutive notification.

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-05-11 13:50] vlvkobal commented on #12880
It looks like it works when `--disable-telemetry` is used.

[2022-05-11 14:05] iigorkarpov opened #12881 "[Bug]: Systemd unit files are missing."
### Bug description

Systemd unit files are missing both in RPM and DEB packages (edge). So the target systems have zero-sizes files:

[code]

### Expected behavior

These files should be included into the packages.

### Steps to reproduce

N/A

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-05-11 14:17] ilyam8 opened #12882 "[Feat]: collect PSI stall time metric"
### Problem

[PSI](https://www.kernel.org/doc/html/latest/accounting/psi.html) file format is:

[code]

- `avg{10,60,300}`: The share of time in which at least some (`some`) or all non-idle (`full`) tasks are stalled on a given resource. The ratios (in %) are tracked as recent trends over ten, sixty, and three hundred second windows.
- `total`: The total absolute stall time.

**Netdata collects on

[2022-05-11 14:47] ilyam8 opened #12883 "[Feat]: migrate python.d/postgres to go.d/postgres"
### Problem

- All python.d collectors don't support service discovery in K8s.
- We need a Postgres collector to monitor our Cloud infra (and we need to migrate it anyway).

### Description

The plan is to have Postgres collector written in go.

### Importance

must have

### Value proposition

1. ability to collect metrics from Posgres instances (both inside and outside to a K8s cluster) will be

[2022-05-11 15:02] #12864 closed

[2022-05-11 21:26] nderambure commented on #9358
Hello, does the remove a node feature be so hard to add ? I'm a bit confused, the interface is so messy and seems way more complex that removing a node, but I'm sure Netdata Cloud has its reasons ?

[2022-05-11 21:29] marmig0404 commented on #9358
I would suspect not, given that it existed on the interface not so long ago (thus the closed issue).

[2022-05-12 04:01] iigorkarpov commented on #10390
Please do if you have some spare time.

[2022-05-12 07:16] #12882 closed

[2022-05-12 07:28] solution-al commented on #12871
After further investigation I suspect that the problem is caused by a more secure cloud-provider (in this particular case Hetzner) VPS base image. `umask` in that VPS shows the following:
[code]

However, on a default Ubuntu installation:
[code]

As mentioned above then `netdata` creates `/etc/netdata` directory with the following permissions on a new system:
[code]

This in turn means that if def

[2022-05-12 08:01] iigorkarpov commented on #12871
Luckily I have Hetzner account. So I created Ubuntu 20 VPS:

[code]

It seems that you set the custom mask at some moment.

[2022-05-12 08:46] solution-al commented on #12871
@iigorkarpov thanks for checking! After further investigation I can indeed confirm that we have changed default umask configuration by our provision software to be more secure by default.

Nevertheless:

1) `netdata` should work even with these stricter permission settings in effect - can be accomplished by setting user and group of `/etc/netdata` to `netdata` instead of `root`. I can confirm that

[2022-05-12 09:46] tiliarou commented on #9358
I'm trying netdata these days and can't believe that there is no option to remove nodes ?! WTH...

[2022-05-12 11:12] vkuznecovas commented on #12876
Just a thought - since this is already not working, we don't have to use the `services` property in the `UpdateNodeInfo`, we can create one that better corresponds to what we're actually sending there - maybe `collectors`?

[2022-05-12 11:50] MrZammler commented on #12876
Hey Viktoras, yes, we could but we have the name already -> https://github.com/netdata/aclk-schemas/blob/d8342ee6d932c152a78c9fe886281fe28170a6c4/proto/nodeinstance/info/v1/info.proto#L105 changing it I think we would need to keep it forever and it's id...

[2022-05-12 11:55] vkuznecovas commented on #12876
I agree, but my point is since we're not using this field we can comment it out and add a new one to contain the items that it actually will contain, as we're not going to be receiving services from the agent side, but the collectors, right?

[2022-05-12 12:05] MrZammler commented on #12839
Also if possible a copy of the `error.log` file please! Thanks!!

[2022-05-12 12:19] Ferroin commented on #12837
OK, this appears to actually be two bugs:

1. We’re not handling priorities correctly. I was under the impression that APT does not support per-repository priorities like DNF (or Zypper/YaST2, or Portage, or pretty much any other sane package manager) does, and thus that there was no clean way for us to handle this. If there _is_ some way we can set a priority per-repo and not resort to package pi

[2022-05-12 12:57] Ferroin commented on #12824
@iigorkarpov Could you please provide an actual explanation for your reasoning that we can’t use a symlink in `/etc/cron.daily` instead of just stating it as if it’s an indisputable fact.

---

Regarding the current handling of scheduling of automatic updates:

- We _currently_ support three different scheduling mechanisms:
    1. Symlinking the script in either `/etc/cron.daily` or `/etc/periodic

[2022-05-12 13:14] Ferroin commented on #12881
Do we know yet if this is _just_ the DEB packages, or both DEB and RPM packages? Likely root cause is different in either case.

[2022-05-12 13:15] iigorkarpov commented on #12824
As you no doubt know, in a Unix/Linux type system, the possible solution is rarely the only one. This was the simplest solution that came to my mind when I saw the current way of calling the script by schedule. And flexible as well - the user could easily forbid sending any mail using the `MAILTO=` construct with an empty right hand side.
Later, when I became more familiar with the script itself,

[2022-05-12 15:54] iigorkarpov commented on #12881
As I wrote above, both DEB & RPM packages are impacted. I can double-check this.

[2022-05-12 15:58] laurnts commented on #9358
Yes this kinda horrible, it's getting hard to sort out the unreachable because it's decommissioned or it's really unreachable due to an error. Hopefully it's resolved soon

[2022-05-12 16:53] Ferroin commented on #12881
Ah, sorry, missed that in the original post somehow.

[2022-05-12 17:09] ilyam8 opened #12888 "[Feat]: guess the release channel from the program version if `.environment` doesn't exist"
### Problem

[get_release_channel()](https://github.com/netdata/netdata/blob/73bb8888f3bffcb36b99b9341f15d21b3de844d0/web/api/formatters/charts2json.c#L7-L37) expects:

- `%s/.environment` file.
- `RELEASE_CHANNEL` line in the file.

❗ **Native packages have no that file**.

If the file doesn't exist we always assume that the release channel is stable:

https://github.com/netdata/netdata/blob/73bb

[2022-05-12 17:10] iigorkarpov commented on #12881
Well, I did not emphasize this

[2022-05-12 17:14] Ferroin commented on #12888
Relevant to https://github.com/netdata/dashboard/issues/393, which this should actually fix.

[2022-05-12 17:36] ilyam8 opened #12889 "[Bug]: cpuidle charts dimension ids contain instance specific info, it should be removed"
### Bug description

Because it "breaks" the charts' aggregation on the Overview page on Netdata Cloud.

### Expected behavior

[code]

I think we can just use state (lowercase) names

[code]

---

In addition I think we need to change the context: `cpuidle.cpuidle` `cpuidle.cpu_cstate_residency_time` (or something like that, `cpuidle.cpuidle` is wrong).

### Steps to reproduce

<img width="1303"

[2022-05-12 18:12] cakrit opened #12890 "[Bug]: Agent incorrectly registers children to the cloud"
### Bug description

When an agent changes MACHINE_GUID while using DBengine, upon connection to the cloud it treats the old GUIDs as additional agents and itself as a parent. The result is that it registers every one of its own previous databases and invalid, unreachable nodes appear on the cloud:

[code]

### Expected behavior

The agent should have a way to realize that those old DBs weren't st

[2022-05-12 19:03] stelfrag commented on #12890
In this case the "old" agent will be registered with hops=1 (instead of hops=0).

I will try to replicate, switch to hops=0 and see if it works

[2022-05-12 19:47] Dim-P commented on #11813
@Mausy5043 I just tried installing Netdata through a local build (`wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --build-only`) on a clean installation of `buster` and I didn't encounter any `libssl-dev` dependency issues. The following library version were installed:

[code]

Unless this is still an issue for you, I will mark it as resolved a

[2022-05-12 20:21] SteveBox0 opened #12893 "[Bug]: IPMI plugin not installing on Ubuntu 22.04 LTS"
### Bug description

Hello,

I am currently got a machine running Ubuntu 22.04 with libipmimonitoring-dev (1.6.9-2) and ipmimonitoring (1.6.9) installed.

I am unable to see the freeIPMI plugin installed and have check the folder location as well. (/usr/libexec/netdata/plugins.d/)
[code]

I even created the link as per the documentation but to no luck.

`sudo ln -s /usr/lib/x86_64-linux-gnu/pkgcon

[2022-05-12 22:20] IDeletedSystem64 commented on #12839
@MrZammler
[error.log](https://github.com/netdata/netdata/files/8682866/error.log)
[netdata.conf](https://pastebin.com/JeyZjK0y)

[2022-05-13 04:39] SteveBox0 commented on #12893
The below commands fixed the issue as a workaround. Then it must just be the installer not detecting IPMI correctly and skipping the package.

sudo apt-get install netdata-plugin-freeipmi
chmod 4755 /usr/libexec/netdata/plugins.d/freeipmi.plugin

[2022-05-13 04:40] stelfrag commented on #12893
Thank you @SteveBox0 , we will take a look

[2022-05-13 05:26] stelfrag commented on #12732
Resolved by https://github.com/netdata/netdata/pull/12870

[2022-05-13 05:26] #12732 closed

[2022-05-13 05:28] stelfrag commented on #12621
@underhood a quick fix on the current code before we move to the new one

[2022-05-13 05:28] stelfrag commented on #12651
Can we close this?

[2022-05-13 06:26] stelfrag commented on #12232
@data-dude did you manage to reproduce? (or update to a newer version)?

[2022-05-13 06:30] stelfrag commented on #12056
Closing this as it seems to be resolved

[2022-05-13 06:30] #12056 closed

[2022-05-13 06:31] #11529 closed

[2022-05-13 06:34] #9376 closed

[2022-05-13 06:36] stelfrag commented on #8839
Closing in favor of https://github.com/netdata/netdata/issues/10539

[2022-05-13 06:36] #8839 closed

[2022-05-13 06:39] stelfrag commented on #7327
Closing this as further improvements have gone into the code (stream compression). Please create a new issue if needed

[2022-05-13 06:39] #7327 closed

[2022-05-13 06:44] stelfrag commented on #11912
@nnovikov are you still experiencing this  ? (as we haven't managed to figure out what is going on)

[2022-05-13 06:47] MrZammler commented on #12651
PRs that handle cases that can cause this are in. We can close but continue to monitor.

[2022-05-13 06:47] #12651 closed

[2022-05-13 06:50] odidev opened #12895 "[Feat]: Enable testing for Linux/Arm64 platform in CI"
### Problem

_legacy & cmocka_ tests are running through GitHub Actions for Linux/AMD64 via [tests.yml](https://github.com/netdata/netdata/blob/master/.github/workflows/tests.yml). It would be great if these tests were also available for Linux/ARM64 via GitHub Actions CI.

### Description

As we know Netdata now has support for aarch64 platform as well, and binary is getting released for aarch64 p

[2022-05-13 07:51] MrZammler commented on #12839
Hi @IDeletedSystem64, it seems perhaps the `error.log` is truncated, there's not much in... Can you also send any `error.log.gz.X` files present in `logs`? Thanks!

[2022-05-13 08:07] ralphm opened #12897 "[Feat]: Use systemd units as apps groups"
### Problem

The apps.plugin allows for grouping processes under a logical name. Everything that is not mentioned in `apps_groups.conf` is then grouped under `other. Systemd services are examined by the cgroups plugin, and represented as a separate navigation item.

### Description

The systemd services examined by the cgroups plugin could be use to provide additional default groups. This allows u

[2022-05-13 09:16] ilyam8 commented on #12604
- We did some improvements to the alarm and corresponding chart description in #12495.
- We added the "System Clock Status" chart which provides the clock synchronization fault source in #12501.

We don't assume NTPd (or any other time sync daemon) running, but report whatever the system clock state is according to the kernel.

E.g. the problem in #12405 was that the system was configured to read

[2022-05-13 09:48] #12888 closed

[2022-05-13 10:22] #12482 closed

[2022-05-13 10:25] stelfrag opened #12901 "[Bug]: Core on chart obsoletion"
### Bug description

Core dump

[code]

### Expected behavior

No crash

### Steps to reproduce

Unknown for now

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-05-13 11:53] data-dude commented on #12232
@stelfrag I'm running Netdata on other clusters with no problems.  The one cluster that has a problem has 120+ nodes on it and I believe the number of nodes and metrics is causing the problem.   v1.31 doesn't have any problems but v1.33 does.  Unfortunately this cluster has been locked down for a while and I haven't been given permission to tinker with it.  As soon as I can I'll get in there and r

[2022-05-13 12:07] Ferroin commented on #12895
This is theoretically doable, but not easy. GHA only provides 64-bit x86 environments. Unless that changes (not likely IMO, for multiple reasons), we have only two options for this type of thing:

- Set up a self-hosted GHA runner with the correct CPU architecture. This is not realistically happening unless GH makes significant changes to how their runners work, because right now using a self-host

[2022-05-13 12:22] zeylos commented on #12715
Hi there,

Updated the nodes this morning to v1.34.0-157-nightly which should contain both PRs, but still have the issue :(
![image](https://user-images.githubusercontent.com/24226163/168282133-cac74e84-9fc8-47b9-9bea-fb56504ed5a6.png)

[2022-05-13 13:00] cakrit commented on #12890
It will be very confusing to see the same agent as different instances. Can't even see their data in the cloud, because they show up as unreachable.  Proper behavior here would be to show a continuity in the charts with all of the data coming from the same node, but I don't know if this will be possible.

[2022-05-13 14:39] cakrit commented on #12604
Closing based on this latest comment and as the user hasn't commented.

[2022-05-13 14:39] #12604 closed

[2022-05-13 16:53] nnovikov commented on #11912
This does not happen again on the new version.

[2022-05-13 16:53] #11912 closed

[2022-05-13 18:37] Mausy5043 commented on #11813
Thanks.

[2022-05-13 18:37] #11813 closed

[2022-05-13 19:41] stelfrag commented on #12890
yes, we will work on that (continuity in the charts)

[2022-05-13 20:16] Dim-P commented on #11869
@rtbon Have you managed to resolve this?

[2022-05-13 20:29] ghost opened #12904 "[Bug]: Changing From Nightly To Stable (w/ `apt`)"
### Bug description

Had a little trouble switching from the nightly version to the stable version.

### Expected behavior

To go into a `netdata`'s configuration file and switch a setting rather than reinstalling the whole program.

### Steps to reproduce

[code]

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

I am kind surpris

[2022-05-13 21:19] stelfrag commented on #12232
Thank you so much!!

[2022-05-14 00:10] #11040 closed

[2022-05-14 14:45] #12797 closed

[2022-05-14 20:14] krital commented on #10390
Ok so I gave it another go, it didnt requite sudo but asked for my password which is fine. However it failed to install with the following:

`configure: error: libuv required but not found. Try installing 'libuv1-dev' or 'libuv-devel'.
 FAILED  ''

 ABORTED  Failed to configure Netdata sources.

  ^
  |.-.   .-.   .-.   .-.   .-.   .  netdata  .-.   .-.   .-.   .-.   .-.   .-
  |   '-'   '-'   '-'

[2022-05-14 20:25] krital commented on #10390
I actually installed libuv manually (compiled locally) and it is still failing. This could be because its looking for headers in the wrong place or that you are assuming the wrong CPU architecture? (I am running on an Apple Silicon Mac)

[2022-05-14 20:33] krital commented on #10390
Ok so I tried to install on an intel Mac and it fails with a compilation error this time:

`  CC       libnetdata/eval/eval.o
libnetdata/clocks/clocks.c:192:19: error: implicit declaration of function 'clock_nanosleep' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    while( (ret = clock_nanosleep(clock, TIMER_ABSTIME, &req, NULL)) != 0 ) {
                  ^
libnetdata/clocks/clock

[2022-05-15 03:13] hx210 opened #12907 "[Bug]: docker containers do not show resource information when displaying names"
### Bug description

![image](https://user-images.githubusercontent.com/76199340/168455231-05d050ad-c9f7-4da3-bb80-71f43207639c.png)

### Expected behavior

Display the container name and also the resource information

### Steps to reproduce

Deploying with docker
Add
[code]
with
https://github.com/Tecnativa/docker-socket-proxy

### Installation method

docker

### System info

[code]

### Netdata

[2022-05-15 09:28] ktsaou opened #12909 "[Bug]: agent under k8s sends CHARTS to cloud forever"
### Bug description

It does this endlessly:

[code]

### Netdata build info

[code]

### Additional info

@stelfrag check this

[2022-05-15 18:24] kryztoval opened #12914 "[Bug]: Charts from sys and proc with repetitive gaps every few seconds"
### Bug description

Graphs under CPU up to Firewall show constant repetitive gaps that are spaced a couple seconds as can be seen in the image
![image](https://user-images.githubusercontent.com/5733028/168487724-3fc4bd0a-f0f9-415a-9e9a-8b6faf44c277.png)

### Expected behavior

There should be no gaps when collecting the data

### Steps to reproduce

This is my current setup, not sure if there are

[2022-05-15 22:31] gary-albano opened #12915 "[Bug]: Node does not show data in Netdata Cloud"
### Bug description

same as https://github.com/netdata/netdata/issues/9877#issue-692143948
I have a few VPS / metal nodes that are fine in the local agent dashboard, however, I started to add them to the cloud dashboard, and some seem not to log any data; I see the flashing but no recorded data.

### Expected behavior

run script claim script, view dashboard in cloud dash board dashboard

### Ste

[2022-05-15 22:38] gary-albano commented on #12915
I noticed *some* after creating this ticket; I thought to check if it was my home lab stuff or VPS ( not in my home )
looking back now, they all are not displaying any data, and some did as I was adding them; I would check, they displayed at one time.
The local agent display as it should on all of them. Just when I try to view them from the cloud dashboard.
![image](https://user-images.githubuserc

[2022-05-16 05:50] vickyingle01 commented on #12915
I'm facing same issue as well.
Below are few errors

[code]

[code]

[2022-05-16 08:20] x-zvf commented on #9358
Not being able to remove dead nodes is pretty bad, it'd be great if this issue would be prioritised, especially since it was possible in the past...

[2022-05-16 09:44] iigorkarpov commented on #10390
Just to be sure - did you use the kickstart script?

[2022-05-16 09:54] farconada commented on #11602
same problem here
I'm got blocked by the internal WAF cause of this

[2022-05-16 10:07] maneamarius commented on #11430
This problem is fixed in latest kickstart code, I tested on centos78. I believe we should close this issue.

[2022-05-16 10:49] iigorkarpov commented on #12837
1. It does not. As I said, using priorities is a bad idea. But `apt -t <repository-name>` forces (at least in theory) `apt` to use specified repository:
`-t, --target-release, --default-release
This option controls the default input to the policy engine. It creates a default pin at priority 990 using the specified release string. The preferences file may further override this setting. In short, th

[2022-05-16 12:31] k0ste opened #12922 "[Bug]: netdata: croup qemu uses prometheus old metrics format"
### Bug description

Currently `netdata` some produces metrics in wrong Prometheus format
[code]

### Expected behavior

This metrics should be named like this
[code]

### Steps to reproduce

1.
2.
3.
...

### Installation method

native binary packages (.deb/.rpm)

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-05-16 12:38] ilyam8 commented on #12922
@vlvkobal those metrics are chart variables (`/api/v1/allmetrics?format=prometheus&source=raw&variables=true`).

[2022-05-16 12:39] k0ste commented on #8594
@guerby, currently `smartmontools` [7.3 released](https://www.smartmontools.org/browser/tags/RELEASE_7_3/smartmontools/NEWS) still without "NVMe -A" support ([issue #1190](https://www.smartmontools.org/ticket/1190)), so `netdata` still lack's of NVMe support...

[2022-05-16 13:03] ilyam8 opened #12924 "[Feat]: add support for inline comments in netdata.conf"
### Problem

Using newly added [SQLite options](https://github.com/netdata/netdata/pull/12917) made me 😕

The section

[code]

How do you know which values are acceptable for the first four? No way. Having inline comments would be sweet!

Using `ini` format inline comment format just as an example:

[code]

### Description

The request is to add support for inline comments in `netdata.conf`.

###

[2022-05-16 13:38] hugovalente-pm opened #12927 "[Feat]: Change charttype of idlejitter charts to heatmap"
### Problem

No heatmap visualization for latency charts

### Description

As discussed in the main https://github.com/netdata/netdata-cloud/issues/265, when we have heatmaps available in agent, it will be necessary to change the idlejitter chart which measures CPU idle jitter in milliseconds lost per second.

### Importance

really want

### Value proposition

Correct visualization for this type

[2022-05-16 13:41] hugovalente-pm opened #12928 "[Feat]: Change charttype of fping charts to heatmap"
### Problem

No heatmap visualization for latency charts

### Description

As discussed in the main https://github.com/netdata/netdata-cloud/issues/265, when we have heatmaps available in agent, it will be necessary to change the fping charts which latency into heatmpas

### Importance

really want

### Value proposition

Correct visualization for this type of charts

### Proposed implementation

[2022-05-16 13:45] hugovalente-pm opened #12929 "[Feat]: Change charttype of statds.plugin charts to heatmap"
### Problem

No heatmap visualization for latency charts

### Description

As discussed in the main netdata/netdata-cloud#265, when we have heatmaps available in agent, it will be necessary to change the statsd charts with latency metrics (TBC)

### Importance

really want

### Value proposition

Correct visualization for this type of charts

### Proposed implementation

_No response_

[2022-05-16 14:01] ilyam8 commented on #12928
@hugovalente-pm having changes added to the fping plugin will take some time, because we will need:
 - Make a PR to https://github.com/schweikert/fping (fast).
 - Wait until it is merged and a new version is released.

[2022-05-16 14:02] thiagoftsm commented on #12929
Hello @hugovalente-pm ,

As you can see in our [documentation](https://learn.netdata.cloud/docs/agent/collectors/statsd.plugin), this is a generic collector, so I do not think we can create a statiic list.

Best regards!

[2022-05-16 14:11] ilyam8 commented on #12929
@hugovalente-pm scroll down from https://learn.netdata.cloud/docs/agent/collectors/statsd.plugin#counters

[2022-05-16 14:42] Ferroin commented on #12837
@iigorkarpov The problem with that is the same as what we run into trying to use equivalent options for DNF/YUM. Namely, it _only_ applies for that specific invocation of the package manager, and then never again unless users specify the option again. That would allow the install to work correctly, but the moment the user runs a system upgrade in the scenario described in the issue description, th

[2022-05-16 14:49] Ferroin commented on #12837
Shorter term though, we need to figure out why the `apt-cache policy` check we’re doing (currently located on [line 1137 of the kickstart script](https://github.com/netdata/netdata/blob/master/packaging/installer/kickstart.sh#L1137)) isn’t working in this particular case. While not ideal, fixing that would at least mean that users could get the latest version of the agent, even if it would be a st

[2022-05-16 14:52] PatTheMav commented on #12837
That's because the check will never fail - the command will generate output similar to this:

[code]

The nightly versions will all appear, the `grep` for "packagecloud.io" will successfully return. However 1.29.3-4 will be installed, because it's priority has been bumped to 900 because of the `APT::Default-Release "stable` setting.

[2022-05-16 14:59] Ferroin opened #12931 "[Feat]: Kickstart script should still install the latest version on unsupported platforms if possible."
### Problem

If we have ever published native packages for a platform, then the kickstart script will use those in preference to static builds even if this means installing an old version.

### Description

The kickstart script should include an additional check in the native package installation code that falls back if all of the following conditions are true:

- The user did not ask for a specif

[2022-05-16 15:01] luison opened #12932 "[Feat]: health editor or assistant"
### Problem

Very happy with netadata features, but I still struggle to edit values for false positive alarms on specific values.
We for example now have a specific disk partition raising an inode time and value alarm. I can't figure out exactly how I should change the health.d configuration file to affect only this specific value that we would like to increase for that partition.
On the previous

[2022-05-16 15:48] ilyam8 commented on #12928
If by the rest you mean non-fping related - it doesn't block, yes.

[2022-05-16 16:20] Anasxrt opened #12934 "[Bug]: Cloud dashboard showing "Error No data" for all charts after updating"
### Bug description

I have latest nightly netdata v1.34.0-170-nightly, after install/update, on the node dashboard showing error.

refer screenshot https://imgsh.net/a/hnU3zs4.png

### Expected behavior

I should show the details as usaual

### Steps to reproduce

1. just yum update, once the new version installed the error is appear.
2.
3.
...

### Installation method

kickstart.sh

### System i

[2022-05-17 07:31] GMTA opened #12937 "[Bug]: Fping returns wrong values when run with `-N`"
### Bug description

Since Netdata v1.32.1, `fping` provides the wrong values when it is running with the `-N` argument. Netdata v1.32.0 does not expose this issue, and the issue is still relevant in the latest Netdata (v1.34.1 as of today).

This issue is causing fping alerts to inadvertently trigger.

Example (wrong) output:
[code]

### Expected behavior

Correct output when running Netdata v1.3

[2022-05-17 07:33] krital commented on #10390
Yes, specifically used the command Netdata.cloud suggested to add an agent:

`curl https://my-netdata.io/kickstart.sh > /tmp/netdata-kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token T69***** --claim-rooms 8cf**** --claim-url https://app.netdata.cloud`

[2022-05-17 07:44] vlvkobal commented on #12937
Could you elaborate a bit? What exactly is wrong? `DIMENSION`, `SET`? In what way?

I would better make changes to [`fping`](https://github.com/schweikert/fping) if needed.

[2022-05-17 07:50] GMTA commented on #12937
@vlvkobal

The `DIMENSION` is different and this output is not correct:
[code]

The actual latency is ~10ms.

[2022-05-17 07:57] vlvkobal commented on #12937
Could you open an issue at [fping repository](https://github.com/schweikert/fping)?

[2022-05-17 08:03] GMTA commented on #12937
Done! I created this issue here since it seems to be a Netdata-specific functionality.

[2022-05-17 08:20] ilyam8 commented on #12937
@GMTA what is your fping version? If it is below 5.1 I suggest to update because of https://github.com/schweikert/fping/issues/219

[2022-05-17 08:24] GMTA commented on #12937
@ilyam8

Running fping 5.0, which is part of the Netdata v1.34.1 Docker image.

[2022-05-17 08:58] vlvkobal commented on #12922
No. They are host variables. The format is actually [correct](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#abnf)
[code]
We could add an empty set of labels - `{}`. But what for?

[2022-05-17 09:31] sheldsdeac commented on #9124
Any movement on this functionality?

[2022-05-17 10:05] #12621 closed

[2022-05-17 10:16] xyzulu commented on #12915
I'm seeing the same issue... I can see data in the "Overview" section if I select the node from the top right 'select' menu however.

[2022-05-17 10:20] MrZammler commented on #12915
Hi guys, thanks for the reports.

Can you please also check the `access.log` ? It should contain information on agent <-> cloud connectivity.

Thanks!

[2022-05-17 10:20] vlvkobal commented on #12880
Can't reproduce anymore.

[2022-05-17 10:20] #12880 closed

[2022-05-17 10:30] gary-albano commented on #12915
I'm checking today, and I see some cloud dashboards are working, and some are not.

[2022-05-17 10:30] xyzulu commented on #12915
access.log seems to indicate no issues. As I mentioned, the data is in netdata cloud, just in the overview section, not on a per node basis.

[2022-05-17 10:49] gary-albano commented on #12915
not sure how helpfule
[code]

[2022-05-17 10:50] gary-albano commented on #12915
Nothing to mention in the access.log

[2022-05-17 11:37] ilyam8 commented on #12914
Hi, @kryztoval. Can you do the following:

- update to the nightly release.
- check if it has the bug.
- if so - export a [snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot).
- and send it to `ilya@netdata.cloud`.

[2022-05-17 11:51] Ferroin commented on #12937
Alpine Edge has 5.1, so you should be able to get it in the container by running:

[code]

Short term, manually updating the containers like that should get things working.

Longer term, I’ll try and get a fix in for the nightlies today, but it’s unlikely at the moment that we will do a v1.34.2 release just to fix this in the stable releases (I will talk to the team about that though, there are a

[2022-05-17 12:18] hugovalente-pm commented on #12927
blocked by Fall-back to stacked chart type for charts flagged as heatmaps netdata/dashboard#403

[2022-05-17 12:18] hugovalente-pm commented on #12928
blocked by Fall-back to stacked chart type for charts flagged as heatmaps netdata/dashboard#403

[2022-05-17 12:18] hugovalente-pm commented on #12925
blocked by Fall-back to stacked chart type for charts flagged as heatmaps netdata/dashboard#403

[2022-05-17 12:18] hugovalente-pm commented on #12929
closed as per the above

[2022-05-17 12:18] #12929 closed

[2022-05-17 12:19] Ferroin commented on #12937
Fix is up at https://github.com/netdata/helper-images/pull/164. That should get merged either today or tomorrow and end up in nightly builds shortly afterwards.

Our next regular stable release is expected in two weeks, so we will not be doing a v1.34.2 patch release just to fix this in the stable images.

[2022-05-17 12:25] stelfrag opened #12939 "[Bug]: Agent fails with possible corrupted label message from streaming"
### Bug description

[code]

### Expected behavior

Agent should handle this and not crash

### Steps to reproduce

- n/a

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-05-17 13:00] GMTA commented on #12937
Sounds great @Ferroin. I can confirm that manually updating to Fping v5.1 by pulling it from the Alpine Edge repositories resolves this issue.

[2022-05-17 13:58] #12662 closed

[2022-05-17 14:55] Ferroin commented on #9863
@netdata/agent-sre The remaining issue here is that we are, in at least some cases, not properly utilizing a saved value of `$TMPDIR` in the updater (the installation process should persist this in a way that the updater picks up properly, though it is only needed for static installs and local builds).

[2022-05-17 14:56] Ferroin commented on #10195
Can we get confirmation of whether this is still an issue or not, and if not close it?

[2022-05-17 14:59] #12564 closed, assigned to vlvkobal

[2022-05-17 14:59] Ferroin commented on #10307
GitHub Packages will probably not be used for this.

AWS ECR usage will be investigated at some later point in time once we have finished migrating the Cloud infrastructure to AWS.

[2022-05-17 15:00] Ferroin commented on #10450
As there has been no response on this, I’m closing it as probably fixed. If there are still any issues here, please open a new issue regarding it.

[2022-05-17 15:02] cpipilas commented on #9701
@Ferroin It's a bug and needs to be fixed. Let's add in our backlog for proper grooming/sizing since to my understanding we are talking about horizontal changes in the agent.

[2022-05-17 15:04] Ferroin commented on #10666
Updating assigned people on this because its primarily a packaging thing.

@netdata/agent-sre The fix here should be properly detecting common cases where there is no service manager on the system (primary cases are running under WSL or in an OCI image), and instead of saying we couldn’t determine what type of init file to install, simply say that we can’t install Netdata as a system service.

[2022-05-17 15:06] thiagoftsm commented on #10195
@Ferroin I will test it and if the problem is fixed, I will close it.

[2022-05-17 15:06] vlvkobal commented on #8801
Closed in favor of a [label & tag support product epic](https://github.com/netdata/product/issues/915).

[2022-05-17 15:06] #8801 closed

[2022-05-17 15:08] Ferroin commented on #10695
Closing this as it’s no longer relevant. https://github.com/netdata/netdata/pull/12809 will add support for offline installs with static builds in the new kickstart script. We have no plans currently to implement such support for native packages (users should use their distro’s native mechanisms for this) or local builds (the required changes for this are complex and far-reaching, and it’s an unco

[2022-05-17 15:08] #10695 closed

[2022-05-17 15:13] #12433 closed

[2022-05-17 15:14] Ferroin commented on #10881
@netdata/agent-sre If someone wants to pick this up, currently desired behavior for the resolution of this is:

- Only message tags (`OK`/`FAILED`/`ABORTED`) should use colors, they should set a background color, and they should use bold text.
- Clean fallback behavior should be provided if possible for the case of terminals which do not support colors or bold text.

[2022-05-17 15:16] #12620 closed

[2022-05-17 15:16] Ferroin commented on #11039
This is now implemented for patch releases, which is sufficient to fix the two issues outlined in the original post.

[2022-05-17 15:16] #11039 closed

[2022-05-17 15:17] Ferroin commented on #11174
Closing this, as it’s no longer valid.

[2022-05-17 15:17] #11174 closed

[2022-05-17 15:22] #11430 closed

[2022-05-17 15:27] Ferroin commented on #12003
The check that was causing this particular problem has been removed, so this should no longer be an issue.

[2022-05-17 15:27] #12003 closed

[2022-05-17 15:33] Ferroin commented on #12111
https://github.com/netdata/netdata/pull/12809 will re-add basic support for offline installation of static builds, albeit with a completely new mechanism for handling all of this that should make things _much_ easier to work with.

For native packages, we have no plans to implement special handling, though our packages _should_ work fine with normal tooling for that type of thing (such as `apt-off

[2022-05-17 15:44] #12485 closed

[2022-05-17 15:47] Ferroin commented on #12530
Closing as a duplicate of https://github.com/netdata/netdata/issues/12404.

[2022-05-17 15:47] thiagoftsm commented on #10195
I tested now on `FreeBSD 13.0-RELEASE-p11` and I observed the problem was fixed.

@rcmelendez I am going to close this issue, but if you still have the issue, please, let us know for we reopen and fix.

[2022-05-17 15:47] #10195 closed

[2022-05-17 15:55] #12111 closed

[2022-05-17 16:04] tomeq82 opened #12942 "[Bug]: Netdata updater script outputs to error instead of info"
### Bug description

This is very similar issue to [https://github.com/netdata/netdata/issues/12286](https://github.com/netdata/netdata/issues/12286)

The update script whenever it is invoked from the cron.daily writes to error instead of any other stream.
Because of that, cron is emailing the whole update output log each day. I tried to overcome this somehow - by for example, use cronic tool, but

[2022-05-17 17:04] Ferroin commented on #12904
It’s not properly documented yet, but you actually can switch release channels for native packages without having to use the kickstart script. Our repository configuration is handled as a package itself, so you can use the package manager to switch which repo config is installed.

On a Debian/Ubuntu system with an existing Netdata install, the following should switch from nightly builds to stable

[2022-05-17 17:11] zach83 commented on #12904
Good to know!

[2022-05-17 17:34] Ferroin commented on #12914
This is unexpected, we _should_ be publishing usable AArch64 and ARMv7l native packages for Ubuntu 22.04 in the nightlies in addition to stable builds, and even if those do not get pulled in for some reason the ARM static builds should work.

For future reference, with the native packages, you can switch between release channels using the distribution package manager as described here: https://git

[2022-05-17 20:53] kryztoval commented on #12914
Yeah I did change repositories but the version didn't change from v1.34.1 to anything different but it didn't. I also was expecting something to say it was nigthly in the version name but there was nothing.

So it seems the v1.34.1 that was installed

 is the nigthly build?

Even then, build-only still had the gaps, v1.34.0-q (followed by a bunch of numbers) also had the gaps and installing from n

[2022-05-17 21:52] ilyam8 commented on #12914
@kryztoval for some reason the snapshot has not enough data and the data is only for the last 5 minutes.

Check the 2nd chart under "Netdata Monitoring" -> "proc" section. Some of the proc collectors need more than a second to gather data.

[2022-05-17 23:07] kryztoval commented on #12914
I exported the last 5 minutes at 1s resolution, otherwise it would export 2 hours at 5second resolution which would obscure the gaps.

Under netdata monitoring -> proc I can see that netdev is taking an average of 2000 units while all others are between 0 and 7.
![image](https://user-images.githubusercontent.com/5733028/168926242-870d8983-2a5d-4136-b066-d35231239caf.png)

and as soon as I plug in

[2022-05-18 01:15] jrca025 opened #12944 "[Bug]: There are no alerts for warning even if it already meets the threshold"
### Bug description

I use netdata mainly for monitoring disk space usage. There is 1 monitor that already exceeds the warning threshold but there are no alerts being sent.

![image](https://user-images.githubusercontent.com/89201548/168936779-6162eed1-e73e-4bae-a3ab-8421e0a943fb.png)

### Expected behavior

When threshold is reached for warning/critical level, alerts would be sent

### Steps to r

[2022-05-18 05:33] callumgare opened #12946 "[Feat]: More targeted overriding capability for alarms"
### Problem

Currently modifying alarms in netdata is extremely blunt. You either override a whole set of alarms or you override none. As soon as you've copied one of the default health.d configs to make your own changes then you're stuck with maintaining all the alarms in there. If the config for any of the other alarms in that set changes in the default one you'll not get that automatically. You

[2022-05-18 06:04] callumgare commented on #12946
Until this is becomes a thing I've made a little script based on `edit-confg` to make checking for changes slightly eaiser (basicly the only really advanatge of it over just using `diff` directly is to stop me having to try and remember the path of the default config directory every time xP).

/etc/netdata/diff-config.sh
[code]

I use docker to run netdata with a container called netdata_netdata_1

[2022-05-18 09:15] ilyam8 commented on #12944
Hi, @jrca025. Do you have the alarm raised on the Agent local dashboard (Amarms->Active)?

[2022-05-18 09:36] jrca025 commented on #12944
Hi @ilyam8 where do I find that option in here?

![image](https://user-images.githubusercontent.com/89201548/169008073-e262fdab-7893-460d-898d-2c4bd94e8e2e.png)

[2022-05-18 09:48] ilyam8 commented on #12944
@jrca025 See [Local Agent Dashboard](https://learn.netdata.cloud/docs/agent/web/gui)

[2022-05-18 09:59] jrca025 commented on #12944
@ilyam8 I dont see the (Alarms->Active) option on local dashboard.

However on the netdata.conf

The health section is commented out which means it is active/enabled by default right?

![image](https://user-images.githubusercontent.com/89201548/169013253-af24ced3-84d3-4a48-b331-61d9c54d6743.png)

[2022-05-18 11:05] #12853 closed

[2022-05-18 12:44] MrZammler commented on #12944
Hi @jrca025

When you are in the local dashboard of the agent, check the upper right corner of the page. It should look like this:

![image](https://user-images.githubusercontent.com/1905463/169041356-17431fbb-a0db-4dc2-9a14-dec38b08b001.png)

Click on either numbers and you'll get the current raised alerts for that agent.

[2022-05-18 16:57] ilyam8 commented on #12914
To debug it:

- go to `HOST:19999/netdata.conf`
- find `[plugin:proc:/proc/net/dev]` section. It will show you which files it read:

[code]

The first one contains data for all network interfaces, and the rest (with `%s`) - Netdata reads every one of those files for every network interface (`%s` replaced with the iface name).

- We could check if disabling reading any of the files by:
  - uncommen

[2022-05-18 17:36] kryztoval commented on #12914
if I do
`time cat /sys/devices/net/enx############/speed`
it takes over 1s and returns a -1 when the wire is unplugged

if I do the same with the wire plugged it takes 0m0.006s
I think that is the query that is timing it out

The weird thing is that it does not take that amount of time all the time, it returns in 0m0.007s some times and then it takes aroind 3.5s to respond other times.

Trying to

[2022-05-18 17:57] kryztoval commented on #12914
Those are the descriptors that generate delays when the ethernet wire is not plugged it
[code]

[2022-05-18 18:48] ilyam8 commented on #12914
`/proc/net/wireless` too?

[2022-05-18 19:13] kryztoval commented on #12914
Yes. I checked each of them individually, as long as 1 of those are being queried the gaps will be there.

First I disabled only network, and the gaps were still there, then removed wireless. no more gaps.
Since there is only 1 thing in wireless I went to check it and, sure enough, it also had the same 0.006s response most of the time and then it would take 3.6s to reply.

[2022-05-18 19:19] ilyam8 commented on #12914
So if you

[code]

Do you still have gaps because of wireless?

[2022-05-18 19:29] kryztoval commented on #12914
I did this and I still got gaps. yes.

[code]

[2022-05-18 19:56] Piroro-hs opened #12953 "[Bug]: netdata-updater.sh fails on yum based systems"
### Bug description

`netdata-updater.sh` fails to update repository metadata on yum based systems because it just executes `yum` without options.

### Expected behavior

It does not fail.

### Steps to reproduce

1. `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh`
2. `sh /tmp/netdata-kickstart.sh --native-only`
3. `sh /tmp/netdata-kickstart.sh --native-only`

Result: `FATAL:

[2022-05-18 21:46] kryztoval commented on #12914
This is the most annoying thing ever. I updated the kernel and wireless does not show gaps on its own now.

So I thouight, what if I create a loop that reads the speed and duplex things and then when it finishes it writes it to a file, in such a way that it can wait for proc to be done without making netdata wait, data would then be read from the cache file instead of being collected every seconds

[2022-05-19 00:03] IDeletedSystem64 commented on #12839
[error.log.9.gz](https://github.com/netdata/netdata/files/8721616/error.log.9.gz)
[error.log.10.gz](https://github.com/netdata/netdata/files/8721617/error.log.10.gz)
[error.log.7.gz](https://github.com/netdata/netdata/files/8721618/error.log.7.gz)
[error.log.8.gz](https://github.com/netdata/netdata/files/8721619/error.log.8.gz)
@MrZammler Here's the past 4, Heads up that I may not be able to perfo

[2022-05-19 08:19] #12914 closed

[2022-05-19 09:22] MrZammler commented on #12944
Hi! Ok, it will actually trigger a WARNING after 90%.

The part there on the alert config says that if the current status is WARNING or CRITICAL, then trigger a WARNING after 80%, else trigger it after 90.

If you wish you can [create](https://learn.netdata.cloud/docs/monitor/configure-alarms) a custom alert from this, and use your own thresholds.

[2022-05-19 09:28] jrca025 commented on #12944
Hi @MrZammler thank you for this. Can I just modify this existing config so it can fit my expectations?

- Send a warning when usage > 80%
- Send a critical alert when usage > 90%

warn: $this > 80
  crit: $this > 90

[2022-05-19 09:38] MrZammler commented on #12944
Sure!

If you follow the link above, using `edit-config health.d/disks.conf`, you will make a copy of this alert config in your /etc/netdata/health.d/ folder. Edit the numbers then to reflect your choice. Most likely you want:

`warn: $this > (($status >= $WARNING ) ? (70) : (80))`
`crit: $this > (($status == $CRITICAL) ? (80) : (90))`

So that's going to trigger a WARNING from a CLEAR when 80%, w

[2022-05-19 09:49] jrca025 commented on #12944
Thanks for this @MrZammler

[2022-05-19 09:49] #12944 closed

[2022-05-19 09:50] ilyam8 commented on #12944
See [Special use of the conditional operator](https://learn.netdata.cloud/docs/agent/health/reference#special-use-of-the-conditional-operator)

[2022-05-19 10:37] andrewm4894 opened #12957 "[Feat]: BigQuery exporting"
### Problem

I would like to be able to export my data to Google BigQuery using the [netdata exporting engine](https://learn.netdata.cloud/docs/agent/exporting)

### Description

I would like to just be able to configure BigQuery like any of the other supported methods listed [here](https://learn.netdata.cloud/docs/agent/exporting#integration)

### Importance

really want

### Value proposition

1

[2022-05-19 10:41] andrewm4894 opened #12958 "[Feat]: Snowflake exporting engine"
### Problem

I would like to export netdata data to snowflake for long term storage and analytics

### Description

I would like to just be able to configure Snowflake like any of the other supported methods listed [here](https://learn.netdata.cloud/docs/agent/exporting#integration)

### Importance

nice to have

### Value proposition

1. Easy long term storage in a modern managed data lake like S

[2022-05-19 11:20] vlvkobal commented on #12893
cc: @netdata/agent-sre

[2022-05-19 12:19] crafty35a opened #12959 "[Feat]: Show UPS load in watts"
### Problem

There is no way to track actual power consumption.

### Description

Currently, Netdata graphs UPS load in percent (this is APCUSD's LOADPCT value). It would be really handy to also see load in watts. Here is how UnRAID shows it: ![image](https://user-images.githubusercontent.com/1082003/169289929-5bce7268-28ff-4dd8-bf14-dae68308965c.png)

Although APCUPSD does not provide this value,

[2022-05-19 12:23] kryztoval commented on #12914
I agree with this. It may be an isolated case for a specific kernel/device combination. At least this time we know exactly where it is presenting itself so if it appears again affected users have a workaround.

Thanks for all the help :)

[2022-05-19 12:41] ilyam8 commented on #12959
@crafty35a, hi 👋 Can you show the output of `apcaccess status <IP>`?

[2022-05-19 13:59] ewlikodjo opened #12960 "[Bug]: tmp/netdata-kickstart.sh: 342: arithmetic expression: expecting primary: "" ERROR Installer exited unexpectedly (0-)"
### Bug description

I'm trying to install netdata on my kali

### Expected behavior

/tmp/netdata-kickstart.sh                                       [  <=>                                                                                                                                    ]  74.57K   364KB/s    in 0.2s

2022-05-19 19:18:14 (364 KB/s) - ‘/tmp/netdata-kickstart.sh’ saved [76362]

/tmp

[2022-05-19 14:37] odynik opened #12962 "[Bug]: No data retention in parent Agent with an older version child on OpenWRT"
### Bug description

User has Netdata running on a Debian machine (v1.34) and setup for dbengine, user has netdata on an Openwrt X86 router (still on v1.30). webUI and local metrics are disabled.

It seems to be streaming fine to the Linux machine but not getting any history stored/recalled from the dbengine it seems.
dbengine disk space and dbengine multihost disk space has been configured. Don't

[2022-05-19 19:09] crafty35a commented on #12959
No problem! Here it is:
[code]

[2022-05-19 19:50] JfrAziz commented on #9124
any update for this issue?

[2022-05-19 20:54] ilyam8 commented on #12959
@crafty35a can you test #12965?

[2022-05-19 22:01] crafty35a commented on #12959
Absolutely - do I just wait for a new edge build to show up on docker hub?

[2022-05-20 05:35] #12907 closed

[2022-05-20 07:27] shyamvalsan opened #12967 "[Bug]: Anomaly rate for some metrics remains constantly 100% despite no change in metric value"
### Bug description

In some scenarios, for some metrics, the Anomaly Rate is constantly 100% even though the metric value has not changed for the last 6+ hours. See example below.

![image](https://user-images.githubusercontent.com/24860547/169475633-50a8cf57-e8e2-4ba4-9956-f041773eb61b.png)

### Expected behavior

Models get retrained periodically and should learn the current metric behavior to

[2022-05-20 07:30] ilyam8 commented on #12907
Hi, @hx210. What was the problem?

[2022-05-20 08:11] PatTheMav commented on #9358
It should be noted that this seems to also impact functionality of the dashboards, as missing nodes will inevitably interfere with the "Overview" tab of the "General" war room, as it will try to fetch data from nodes you cannot remove anymore.

[2022-05-20 08:24] dragon2611 commented on #12962
I think its working with the openwrt end on 1.34, I restarted both nodes and the data from about 16:10 Yesterday onward was still showing.

[2022-05-20 08:47] ilyam8 commented on #12959
@crafty35a I created a docker image from my branch, use it for testing: `ilyam8/netdata-test-for-github`. It is built for the Linux platform only, if you need different - just say and I'll make it multiarch.

[2022-05-20 09:16] apertureless commented on #9124
I had around 15 Severs in netdata cloud. However the agent update did not work properly. And then I could not update the agents manually, because the "installation method" could not be determined. Even tho I just installed them over the curl script.

So I ended uninstalling and re-installing netdata on the servers.
Now I have duplicates in the UI, which are not reachable. And how can I remove them

[2022-05-20 09:33] odynik commented on #12962
Nice !!! 🚀
Thank you @dragon2611 for reporting the issue.

[2022-05-20 09:33] #12962 closed

[2022-05-20 12:02] MrZammler commented on #10989
Hi @yasharne

There have been some recent changes regarding children and alerts. Any chance you have updated to a latest nightly? If you are on stable releases, then let's revisit this after the next stable release.

Thanks!

[2022-05-20 12:07] crafty35a commented on #12959
Seems to be working great, thank you very much!
![image](https://user-images.githubusercontent.com/1082003/169524900-606bd156-35da-4cf9-8062-e99fca4654ff.png)

[2022-05-20 12:08] MrZammler commented on #11930
Hi @Saruspete

This should work by now. `--disable-cloud` should also disable aclk, and also `--disable-ml` can be used.

Also some of the concerns in the linked PR have been addressed.

Is this still an issue for you @Saruspete ?

[2022-05-20 12:11] MrZammler commented on #11927
Closing this. @hiwaveSupport please report if you are still having issues! Thanks!

[2022-05-20 12:11] #11927 closed

[2022-05-20 12:14] MrZammler commented on #11869
@rtbon Will close this, please if you continue to have problems do re-open (or a new one).

[2022-05-20 12:14] #11869 closed

[2022-05-20 12:15] erdem2000 commented on #11472
Hi @bnesbitt,  I tried to reproduce the issue but couldn't be succesfull.
Are you still experiencing this issue?

[2022-05-20 12:25] #11805 closed

[2022-05-20 12:29] bnesbitt commented on #11472
No we haven't seen this one in a while. We're now on 1.34 and we haven't seen this core.

[2022-05-20 12:40] MrZammler commented on #11736
Hi @XanNava

Have you managed to compile on pfsense? There is a relavent document here https://learn.netdata.cloud/docs/agent/packaging/installer/methods/pfsense/ maybe it could use an update depending on your experience.

Thanks!

[2022-05-20 12:42] MrZammler commented on #11679
Closing this, the situation on macos should be better by now. If anything still is wrong we should check in a fresh issue.

[2022-05-20 12:42] #11679 closed

[2022-05-20 12:48] ilyam8 commented on #12959
Nice, don't forget to switch back to netdata/netdata after the PR is merged 😄

[2022-05-20 12:58] MrZammler commented on #8751
Hi! There have been some recent changes to how a parent will handle alerts for a child who's _charts_ become obsolete, especially with the `last_collected` related alerts. Also not sure how relevant the discussion on cloud alerts still is...

@ilyam8 / @stelfrag  should we keep this discussion still ?

Also @yasharne this seems related to other tickets regarding children/parent setups and alerts.

[2022-05-20 13:00] #12959 closed

[2022-05-20 13:01] ilyam8 commented on #12959
The changes will be in today's nightly release.

[2022-05-20 13:11] MrZammler commented on #12939
I can't seem to find a way to reproduce this, at least not via streaming. Tried garbage in CLABELS, combinations of BEGIN without END, multiple CLABEL_COMMIT etc.

Possible way to occur if this certain label was freed right at the moment of the loop, or some corruption in other parts...

[2022-05-20 13:12] ilyam8 commented on #8751
I believe the case described in "Steps To Reproduce" is fixed in the latest master (#12707). I think we can close the issue @MrZammler.

[2022-05-20 13:22] MrZammler commented on #6644
Hi @jacekkolasa I'm guessing this is still an issue, right? Not sure though we can do much to extract the timezone as we want it from MacOS... Will try to find a mac installation of the agent and check if it's doable.

[2022-05-20 13:23] MrZammler commented on #8751
Thanks!

[2022-05-20 13:23] #8751 closed

[2022-05-20 13:27] MrZammler commented on #6307
Hi!

Recent versions of the agent have [streaming compression](https://learn.netdata.cloud/docs/agent/streaming/#streaming-compression) capabilities.

Is it possible to check if by enabling it resolves (or even reduces) the problem?

Thanks!

[2022-05-20 13:30] MrZammler commented on #9901
This has been implemented in https://github.com/netdata/netdata/pull/12226

Thanks @JPAMaia for the report!

[2022-05-20 13:30] #9901 closed

[2022-05-20 13:44] MrZammler commented on #9342
@yasharne hi! Have you checked with an updated agent?

[2022-05-20 13:48] MrZammler commented on #8920
Closing because of https://github.com/netdata/netdata/pull/12556

[2022-05-20 13:48] #8920 closed

[2022-05-20 14:00] MrZammler commented on #10696
Hi. This should be okay by now. Even if the link points to `app.netdata.cloud` there will be a redirect back to local agent's dashboard. Redirecting also to a child dashboard should be fixed when #12609 is merged.

[2022-05-20 14:48] IslamAlam commented on #12960
I am having the same issue in Ubuntu too:

    wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh
    --2022-05-20 14:45:41--  https://my-netdata.io/kickstart.sh
    Resolving my-netdata.io (my-netdata.io)... 188.114.96.10, 188.114.97.10, 2a06:98c1:3120::a, ...
    Connecting to my-netdata.io (my-netdata.io)|188.114.96.10|:443... connected.
    HTT

[2022-05-21 13:15] Thin-Troll commented on #5744
@bdossantos,
how did you solve this problem?
I have exactly the same conditions and situations

[2022-05-22 10:39] renantea opened #12981 "[Bug]: Failed to build/compile in MacOS 12.4 Monterey"
### Bug description

Tried to install NetData agent on MacOS 12.4 Monterey but always getting an error. See log below:

`libnetdata/clocks/clocks.c:192:19: error: implicit declaration of function 'clock_nanosleep' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    while( (ret = clock_nanosleep(clock, TIMER_ABSTIME, &req, NULL)) != 0 ) {
                  ^
libnetdata/clocks/clocks.c:1

[2022-05-23 07:27] ilyam8 commented on #6882
The fix is updating documentation, we need:

- `--pid=host` (required for reading `cgroup.procs`)

https://github.com/netdata/netdata/blob/528378baf9f6f844790f16d069e7a7ad7a9a8e40/collectors/cgroups.plugin/cgroup-network.c#L317-L320

- `--cap-add SYS_SYS_ADMIN` (required for using [setns](https://man7.org/linux/man-pages/man2/setns.2.html))

https://github.com/netdata/netdata/blob/528378baf9f6f844

[2022-05-23 07:48] stelfrag commented on #12939
More info on this. The labels seem to be fine as processed by the parse but the chart has flag `RRDSET_FLAG_ARCHIVED` set

[2022-05-23 08:02] ilyam8 opened #12984 "[Feat]: make `proc.plugin/proc_net_dev` a separate thread"
### Problem

[proc.plugin](https://github.com/netdata/netdata/tree/master/collectors/proc.plugin):

1. collects almost all system metrics (CPU, memory, networking, etc.).
2. has a lot of modules.
3. these modules are **not separate threads**, so they are **executed sequentially**.
4. if one of the module's data collection takes a lot of time, we get gaps in all the proc charts.
5. the overall impr

[2022-05-23 08:45] ilyam8 commented on #10150
@vlvkobal let's do the following:
 - exclude slow mount points from data collection (e.g. after N slow `statvfs` calls, this could be applied only for known network filesystems).
 - make it an option `exclude slow mount points  (`yes` by default), so users who prefer having gaps over a lack of metrics can disable excluding slow mount points.

[2022-05-23 09:20] iigorkarpov opened #12985 "sudo should not be used with kickstart on macOS"

[2022-05-23 09:22] iigorkarpov commented on #12981
Confirmed for both Intel and Silicon macOS.

[2022-05-23 10:24] iigorkarpov commented on #12985
I probably should not create this issue, because though we do not mention sudo in our recent installation instructions, a lot of howtos across Internet still do. We just can't help it.

[2022-05-23 10:24] #12985 closed

[2022-05-23 11:50] Ferroin commented on #10150
I agree that this is probably the best approach, but I would argue that we should not just limit the check to known network filesystems. At minimum, clustered filesystems (such as OCFS2) can behave like this as well in some cases, and I would not be surprised if a media error in just the right place on poorly designed consumer grade storage devices could cause a similar issue for a local filesyste

[2022-05-23 11:52] #12960 closed

[2022-05-23 12:00] Ferroin commented on #12981
`clock_nanosleep` isn’t available on macOS, and we should not be trying to use it here unguarded.

Broken by commit eb216a1f4b, which removed the guards that were preventing us from using this on platforms other than Linux.

@netdata/agent I’m unassigning the SRE team from this one and relabeling appropriately, as it’s an issue of demonstrably broken C code and not a packaging problem.

[2022-05-23 12:17] Ferroin commented on #12981
Also, to clarify, this breaks the build on _all_ platforms other than Linux.

[2022-05-23 12:19] iigorkarpov commented on #12981
I have commented this in Slack: https://www.gnu.org/software//gnulib/manual/html_node/clock_005fnanosleep.html

[2022-05-23 13:07] zeylos commented on #12715
Hi there,

Good news, looks like the bug is resolved with `v1.34.0-202-nightly`, I upgraded 2 clusters (7 nodes) on Friday and no IO load since then ! :).

I'll keep a eye on it for some time and tell you if it ever happens again.

Great job guys thank you !

[2022-05-23 13:57] MrZammler commented on #12715
@zeylos thanks again for the follow up and tests!!

[2022-05-23 15:34] #12715 closed

[2022-05-23 20:59] underhood opened #12989 "[Feat]: Add Topic Alias support for the new MQTT5 client"
### Problem

Currently not supported. Add Topic Alias support.

### Description

Currently not supported. Add Topic Alias support.

### Importance

nice to have

### Value proposition

1. reduced MQTT message size (topic is not sent as string anymore but as an integer)
2. netdata agent uses very limited list of topics so they could all be aliased
3.
...

### Proposed implementation

_No response_

[2022-05-24 10:59] MrZammler opened #12994 "[Bug]: Parent does not unlink alerts for children over host labels"
### Bug description

`host labels` entry in alert configuration is not respected for children alerts running on a parent.

The way it works is that all alerts, regardless of the setting in `host labels` is loaded during the agent start or when a child is connected.

During the start of the health thread, the agent tries to unlink any already loaded alerts that doesn't match the `host labels` with

[2022-05-24 12:26] webdock-io opened #12998 "[Bug]: netdata.conf bloating to hundreds of megabytes"
### Bug description

After upgrading with:

`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstall --no-updates  --stable-channel`

(I got a warning here that the installer could not determine the method of installation, which is odd as the previous original install was done in the exact same way)

After install, I refresh netdata.conf in order to change some settings with:

`wget -O /et

[2022-05-24 12:47] vkalintiris commented on #12998
Per-chart configuration sections were removed in #12209 and #12728. The upcoming stable release will contain these PRs.

[2022-05-24 12:59] webdock-io commented on #12998
@vkalintiris OK I guess we can close this issue then :) I'll make sure to upgrade when the time comes

[2022-05-24 14:57] ilyam8 commented on #10150
The alternative solution (which is better) is:
 - have 2 threads
   - 1st with update_every 1
   - 2nd with update_every 5
 - move slow mount points to the 2nd thread

Benefits:
- We don't lose metrics of slow mount points.
- Slow mount points don't affect the rest (no gaps).

[2022-05-24 15:25] ilyam8 opened #13001 "[Feat]: skip collecting speed and duplex if carrier is down in `proc.plugin/proc_net_dev`"
### Problem

There is a [case](https://github.com/netdata/netdata/issues/12914#issuecomment-1130297126) when reading:

- `/sys/devices/net/<iface>/speed`
- `/sys/devices/net/<iface>/duplex`

hangs (3+ seconds) when the carrier (the current physical link state of the interface) is down. The result is gaps in all network interface charts (before #12996 we had gaps in all `proc.plugin` charts).

###

[2022-05-24 15:32] vlvkobal commented on #12922
I understand, that inclusion of the instance id into the metric name is somewhat weird, but formally - the format is correct.

Anyway, the variables are shown only with `variables=yes` and they really are host variables, not chart ones. @k0ste, how do you use these variables? Do you really need them? You can see the list of the variables in `http://localhost:19999/api/v1/allmetrics?format=promethe

[2022-05-24 20:10] thunko opened #13003 "[Bug]: child pods netdata containers are not created and parent pod is unestable"
### Bug description

hi,

netdata containers are not being created on child pods because they are unable to mount required directories:

[code]

They also use `HostPath` storage class which we don't use as default storage but PV. Some of those directories don't exist in our cluster e.g. `/var/run/docker.sock`, is this intended to run only on Docker CRI ?
I also set the flag with `--set child.persi

[2022-05-24 20:16] ilyam8 commented on #13003
Hi, @thunko.

I doubt we need access to docker.sock at all when running inside a K8s cluster 🤔 Does it work if you remove the mount?

[2022-05-24 20:24] thunko commented on #13003
hi @ilyam8

I can't remove the mount because the container is not created, can't log into it.

[2022-05-24 20:35] ilyam8 commented on #13003
@thunko I mean is:
 - git clone netdata/helmchart
 - comment out the mount
 - helm install from the local repo

[2022-05-25 02:59] iredmail opened #13004 "[Bug]: kernel: ... traps: netdata[...] general protection fault ip"
### Bug description
netdata failed to start and log these lines:
[code]

### Expected behavior

netdata service starts normally.

### Steps to reproduce

1. Download the latest `.gz.run` package
2. Install with command `./netdata-v1.34.1.gz.run --accept`.

Note: tried netdata versions: 1.34.1, 1.34.0, 1.33.1.

### Installation method

other

### System info

[code]

### Netdata build info

[code]

[2022-05-25 08:31] MrZammler commented on #13004
Hi @iredmail thank you for your report.

We will try to reproduce the issue. Is it possible to check with `coredumpctl` utility for any core dumps kept by systemd?

Also if possible, can you share the `error.log` file?

Is this a new, fresh install? Or has this happened after an update?

Thanks!

[2022-05-25 08:31] #12939 closed

[2022-05-25 08:42] iredmail commented on #13004
Didn't find any coredump files (under `/var/lib/systemd/coredump`).

Here it is: https://pastebin.com/fME8bfRJ

Not a fresh install.

It ran an old netdata release before, then i just upgrade it (`./netdata-v1.34.1.gz.run --accept`) with the latest 1.34.1. As mentioned in first post, i also tried 1.34.0, 1.33.1, neither works.

[2022-05-25 08:50] MrZammler commented on #13004
Ok, thanks!

There is something we can try, but this unfortunately might mean that the agent will start with a clean state of metrics. (But we need to do it to check if that's the problem).

Can you please rename the folder `/opt/netdata/var/cache/netdata/dbengine` to e.g. `/opt/netdata/var/cache/netdata/dbengine_old` ? (dbengine is where the metrics are held. The `error.log` suggests it might fai

[2022-05-25 08:56] iredmail commented on #13004
It works after renamed the folder. :)

[2022-05-25 08:56] #13004 closed

[2022-05-25 09:28] MrZammler opened #13006 "[Feat]: Include ML and MC in agent analytics"
### Problem

Gather info, and see usage of ML and MC on the agents.

### Description

Analyze the usage of those features, if are enabled/capable on agents.

### Importance

nice to have

### Value proposition

1. Have a picture of the usage of those features.

### Proposed implementation

_No response_

[2022-05-25 10:10] MrZammler commented on #13004
Nice, glad to hear it! One favor though, if possible.

Can you please pack the contents of the dbengine_old folder (not sure of the total size) and maybe forward them to manolis at netdata dot cloud? Not sure if they will fit an email, perhaps not...

[2022-05-25 10:22] thunko commented on #13003
@ilyam8

Okay. I just tried that but I'm getting the same symptoms as in the description of this issue. Also in the parent pod, which also fails probing.

[2022-05-25 10:24] k0ste commented on #12922
I see wrong metric format then report, currently we receive dozens of metrics from each hypervisor host
[code]

Why we use `variables=yes`? Because without this, for example, we can't expose current usage of conntrack table without `netdata_netfilter_conntrack_max` metric

[code]

[2022-05-25 10:47] iredmail commented on #13004
Too late, I removed it. :(

[2022-05-25 11:01] iigorkarpov opened #13008 "[Bug]: Wrong logic in kickstart.sh"
### Bug description

If the user changed their mind during kickstart install, refusing to install/upgrade the packages, the installer makes an attempt to continue with the static install.

### Expected behavior

Should stop installation.

### Steps to reproduce

Run the kickstart script. When rpm asks you for permission to install/update/upgrade the packages, say 'No'
[code]

### Installation meth

[2022-05-25 11:58] ilyam8 commented on #13003
Ok, did you check the reason for CrashLoopBackOff? I think `kubectl -n <namespace> describe pod netdata-child-2jdqb` will help.

[2022-05-25 12:28] Ferroin commented on #13008
This is not exactly trivial to implement because it’s the package manager providing the prompts, not us.

- APT returns a different exit code on errors compared to cancelling the operation.
- Zypper, YUM, and DNF do _not_ differentiate errors and cancelled operations in their exit codes.

So we can ‘fix’ this for DEB-based systems pretty easily, but making it work for RPM-based systems requires a

[2022-05-25 12:30] Ferroin commented on #12937
Closing this as it is confirmed fixed in the nightlies and will be fixed in the next stable release (expected next week).

[2022-05-25 13:43] MrZammler commented on #12946
Hi @callumgare !

Indeed this is something we've discussed in the team before, but there hasn't been a clear decision/solution yet.

From my perspective as a user, it is an issue for other packages as well, besides Netdata. But still as a user, it is what my package manager handles for me (portage, Gentoo). Whenever there is an update that requires new /etc/ files, portage will inform and provide

[2022-05-25 15:51] thunko commented on #13003
@ilyam8
Yes mentioned briefly it fails the readiness/liveness probing

[code]

[2022-05-26 02:44] ghuntley opened #13012 "[Bug]: netdata/devenv is broken and does not contain correct dependencies"
### Bug description

[code]

### Expected behavior

Clone netdata/netdata, open in Visual Studio Code and it works ✅

### Steps to reproduce

1. Clone netdata/netdata
2. Open repository in VSCode using the ~/.devcontainer/devcontainer.json
3. Run cmake

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

n/a

[2022-05-26 08:34] danesparza commented on #9358
Just came here to try to figure this out.  This is such an old issue.  I'm evaluating Netdata and this is really a major sticking point with evaluation.  It makes netdata look incredibly unprofessional.

[2022-05-26 08:36] danesparza commented on #9002
This page does not exist in community (or is marked private).  Is this something that is not an option?  I find that hard to believe.

[2022-05-26 09:11] callumgare commented on #12946
Thanks for the info! Glad to hear it's being thought about :)

[2022-05-26 13:24] MrZammler commented on #12934
Hi @Anasxrt . Sorry for the late reply.

Is it possible please to share your `error.log` and `access.log` ?

[2022-05-26 13:26] MrZammler commented on #12915
Hi guys, sorry for the late reply.

There had been some issues with cloud connectivity those past days, can you please update whether you are still having connectivity issues?

Thanks.

[2022-05-26 14:05] MrZammler commented on #12839
Hi @IDeletedSystem64 !

Sorry, there's not much indication in the logs as to what could be causing the leak.

I see you're running the latest stable, is it possible maybe to switch to a nightly version to see whether it still exhibits the same behavior? Whenever it's possible.

Thanks!

[2022-05-26 23:06] Raltrwx opened #13018 "[Bug]: OOM Killer invoked, but not logged/charted?"
### Bug description

One of my nodes began to run out of memory. The OOM-killer got invoked and killed several Netdata processes (And python3), which got the system back into a working state. However, Netdata didn't record any of this in the OOM-Killer chart.

You can see in the memory chart the memory growing over a week, then it was suddenly resolved, that's when the OOM-Killer kicked in, but in

[2022-05-27 10:54] #12376 closed

[2022-05-27 11:02] #12953 closed

[2022-05-27 12:44] MrZammler commented on #13018
Hi @Raltrwx !

Well, not sure how the oom killer chart works, but I would guess by oom killing netdata it could fail to record the kills.

Can you please also post a long, couple of days chart of Applications -> mem ?

Thanks!

[2022-05-27 13:28] ilyam8 opened #13025 "[Bug]: query engine returns the last collected value instead of null"
### Bug description

There are gaps because Netdata was not running:

<img width="1346" alt="Screenshot 2022-05-27 at 16 18 31" src="https://user-images.githubusercontent.com/22274335/170707860-60931b06-6b33-4302-97ad-af2a08c4fb7e.png">

The current master

<img width="1343" alt="Screenshot 2022-05-27 at 16 19 28" src="https://user-images.githubusercontent.com/22274335/170707874-23a4e70b-d931-4736

[2022-05-27 13:39] ilyam8 commented on #13018
We get it from `/proc/vmstat` (the field name is `oom_kill`).

[2022-05-27 14:20] ilyam8 commented on #13018
Looks like it. This issue is probably a duplicate of #12839.

[2022-05-27 14:51] Raltrwx commented on #13018
@MrZammler Sure thing,

![image](https://user-images.githubusercontent.com/20295023/170723861-84c6d277-5212-46b6-b6f3-d118feeacd19.png)

[2022-05-27 15:44] #13025 closed

[2022-05-27 18:55] ValorousSalmon opened #13029 "[Feat]: Mirroring Debian package repos fail due to duplicate file names."
### Problem

My institution maintains a local debian repository that contains mirrors of mutlple releases, for ease of controlling patch cycles on our test/dev/prod servers.

While attempting to mirror the Netdata repos for Debian Stretch, Buster, and Bullseye (9, 10, 11) using aptly, I received an error:

`ERROR: unable to publish: unable to process packages: error linking file to ...../pool/main