[2021-07-16 12:33] #2474 closed

[2021-07-16 12:36] ilyam8 commented on #2431
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:36] #2431 closed

[2021-07-16 12:40] Ferroin opened #11345 "The installer should properly detect a target directory for a clean install."
As of right now, the `kickstart.sh` and `netdata-installer.sh` scripts blindly assume that they should always install Netdata directly under `/`. However, certain systems need different install paths for a ‘clean’ install, specifically:

* On macOS, it is by default not possible to install things directly under `/` unless the user has willfully compromised the security of their system. The correct

[2021-07-16 12:40] ilyam8 commented on #7182
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:40] #7182 closed

[2021-07-16 12:41] ilyam8 commented on #6038
Related issue https://github.com/netdata/netdata/issues/7182

[2021-07-16 12:47] ilyam8 commented on #3693
easypiechart graphic

[2021-07-16 12:47] #3693 closed

[2021-07-16 12:48] ilyam8 commented on #3652
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:48] #3652 closed

[2021-07-16 12:50] ilyam8 commented on #4415
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:50] #4415 closed

[2021-07-16 12:51] ilyam8 commented on #5102
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:51] #5102 closed

[2021-07-16 12:51] ilyam8 commented on #7142
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:51] #7142 closed

[2021-07-16 12:54] Ferroin commented on #9348
Dredging up an old issue that I never responded further to, I agree that the correct approach is to actually put logs under `/var/log/netdata` and use some sanely limited log rotation.

My thoughts would be that this should additionally:

* Create `/var/log/netdata` if it doesn’t exist.
* Rotate any existing install log as the absolute first thing it does.
* If installing under a prefix, ideally p

[2021-07-16 12:55] Ferroin commented on #9348
See also #10472, which should ideally be solved at the same time as this if this issue gets tackled first.

[2021-07-16 12:58] ilyam8 commented on #4532
Closing this feature request. We will re-evaluate the request internally.

[2021-07-16 12:58] #4532 closed

[2021-07-16 13:00] ilyam8 commented on #4619
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 13:00] #4619 closed

[2021-07-16 15:57] dimko opened #11346 "Running kickstart script with claim arguments when netdata is already installed, doesn't claim netdata to the cloud"
Running the following command (or executing the kickstart.sh  directly from netdata dir) when there is an already present netdata installation on user's machine doesn't claim agent to the cloud.

`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait --claim-token <token> --claim-rooms <rooms> --claim-url https://app.netdata.cloud`

Command output:

[code]

[2021-07-17 08:53] yasharne opened #11347 "Some alert rule has no value therefore no alert is raised"
##### Bug report summary

We had an incident which the reason was the load on one of the servers:
![image](https://user-images.githubusercontent.com/7656049/126031599-3aa27d85-833c-48a8-9af6-60adb1574ef8.png)
‌
But we didn't get anything from netdata, I checked the alarms in the dashboard and I realized the alerts for the `load` are not working at all:
![image](https://user-images.githubuserconten

[2021-07-19 05:08] #11186 closed

[2021-07-19 06:52] stelfrag commented on #11312
Hi @mrhussnain Please provide more information as to what is not working

[2021-07-19 07:05] stelfrag commented on #11347
Hi @yasharne, thank you the report!
@MrZammler please have a look

[2021-07-19 07:35] MrZammler commented on #11347
Hi @yasharne !

Is it possible to send us the `error.log` file please ? Please send it to manolis at netdata dot cloud.

Thanks!

[2021-07-19 08:12] #10747 closed

[2021-07-19 11:45] MrZammler commented on #11324
Well, it seems that the snapshot can't pick up the gaps, as in the screenshot (on the latest snapshot you sent...)

The screenshot shows a metric collected at about 17:15, a gap up until 17:23:57 when there is another metric being collected.

When I load the snapshot (netdata-ip-10-9-65-56-20210715-165857-540.snapshot) I see constant values from 17:59 up to 18:07:15... At the same time the local w

[2021-07-19 14:36] ilyam8 commented on #2176
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 14:36] #2176 closed

[2021-07-19 14:39] #2236 closed

[2021-07-19 14:41] ilyam8 commented on #2302
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 14:41] #2302 closed

[2021-07-19 14:45] ilyam8 commented on #2347
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 14:45] #2347 closed

[2021-07-19 14:48] ilyam8 commented on #2359
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 14:48] #2359 closed

[2021-07-19 14:50] ilyam8 commented on #2373
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 14:50] #2373 closed

[2021-07-19 14:51] ilyam8 commented on #2495
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-19 14:51] #2495 closed

[2021-07-19 14:53] ilyam8 commented on #2631
Implemented.

[2021-07-19 14:53] #2631 closed

[2021-07-19 14:54] ilyam8 commented on #2650
Duplicate of #2359

[2021-07-19 14:54] #2650 closed

[2021-07-19 14:55] ilyam8 commented on #2651
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 14:55] #2651 closed

[2021-07-19 14:57] ilyam8 commented on #2689
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 14:57] #2689 closed

[2021-07-19 15:00] ilyam8 commented on #2690
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 15:00] #2690 closed

[2021-07-19 15:05] ilyam8 commented on #2724
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 15:05] #2724 closed

[2021-07-19 15:09] ilyam8 commented on #2737
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 15:09] #2737 closed

[2021-07-19 15:18] #3022 closed

[2021-07-19 15:23] #3086 closed

[2021-07-19 15:23] ilyam8 commented on #3101
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-19 15:23] #3101 closed

[2021-07-19 15:25] ilyam8 commented on #3247
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 15:25] #3247 closed

[2021-07-19 15:32] #3272 closed

[2021-07-19 15:37] ilyam8 commented on #3378
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 15:37] #3378 closed

[2021-07-19 15:43] ilyam8 commented on #3536
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 15:43] #3536 closed

[2021-07-19 15:48] ilyam8 commented on #3564
Closing this feature request. We will re-evaluate the request internally.

[2021-07-19 15:48] #3564 closed

[2021-07-19 15:52] #3675 closed

[2021-07-19 15:54] ilyam8 commented on #3689
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-19 15:54] #3689 closed

[2021-07-19 15:59] ilyam8 commented on #3761
Duplicate of #2359

[2021-07-19 15:59] #3761 closed

[2021-07-19 16:54] intelfx commented on #3272
Why was this closed?

[2021-07-19 17:13] ilyam8 commented on #3272
Hi @intelfx

The request is

As I mentioned in https://github.com/netdata/netdata/issues/3272#issuecomment-768966604 it is already possible, because we added alarms status collector.

I read the discussion and it was sidetracked to:
 - Can we than send alert from netdata to alertmanager as on alerta ?
 - How to use exactly netdata alarm into prometheus alert rules.

[2021-07-19 17:17] intelfx commented on #3272
Ah, I see. I (mis-)understood the original feature request similar to the second commenter here (https://github.com/netdata/netdata/issues/3272#issuecomment-357691575), but apparently this is not what the OP wanted.

By the way, what about the _alertmanager_ format for Netdata alerts?

[2021-07-19 18:09] manos-saratsis commented on #9401
@underhood this is still valid. ACLK needs to be traceable. Cloud needs to know all the connects & disconnects and if possible the reason why eg timeout, connection refused, libraries missing. An endpoint will help.

[2021-07-19 18:40] kaskavel opened #11351 "Modified version of docker run command including claim parameters does not work"
##### Bug report summary

Following the method proposed in the [documentation](https://learn.netdata.cloud/docs/agent/claim/#claim-an-agent-running-in-docker), running `docker run` with claim parameters to cloud, we notice that the node does not show up in the room that was meant to be claimed.

Logs from docker container are attached as a reference.

##### OS / Environment

Darwin Kernel Version

[2021-07-19 19:02] ilyam8 commented on #11351
Hey, @kaskavel. Could be that you did some tests and don't undo them? You are using `netdatalib` volume and its content persists across restarts/container re-creation.

These are the logs

- this tell us that `claimed_id` existed before container creation

[code]

- this tell us that we are waiting for Cloud to be enabled 🤔

[code]

---

I get the same result by disabling Cloud in the `cloud.conf`

[2021-07-20 08:33] albert-92 commented on #11324
Ok, so it looks like the system time is drifting / jumping. This might cause the problem in netdata.

[code]

I was not able to solve the time problem yet. As soon as it is fixed, i'll let you know if it also resolves the problem with netdata.

[2021-07-20 08:35] ilyam8 opened #11352 ""Nesting of hosts is not allowed" when using GUID to access replicated nodes"
##### Bug report summary

If I access a replicated node with `<IP>:<Port>/host/<GUID>/` then switching to another one using replicated nodes menu I get _Nesting of hosts is not allowed._ response (`<IP>:<Port>/host/<GUID>/host/<Hostname>/` URL).

[That message comes from `web_client_switch_host` function](https://github.com/netdata/netdata/blob/d2030d0241ec30a372c84656ff6a7bc3fe0c9e81/web/server/w

[2021-07-20 09:16] kaskavel commented on #11351
Hi @ilyam8!
Actually, I tried again with a branch new container (after a docker system prune), with same results.
By the way, if I set the claim parameters in the docker run command, shouldn't cloud be enabled by default in cloud.conf?

[2021-07-20 09:20] ilyam8 commented on #11351
It is enabled, yes. My main point was

I didn't know you did `docker system prune` (w/ `--volumes` option?).

[2021-07-20 09:26] kaskavel commented on #11351
Yes, I just ran it again, with the --volumes explicit option. Same result.

[2021-07-20 09:39] kaskavel commented on #11351
Logs from last run:

[docker_logs_2.txt](https://github.com/netdata/netdata/files/6847200/docker_logs_2.txt)

[2021-07-20 10:01] noslav opened #11353 "noslav @ethcc on macos"
    ~/Doc/c/m/go-ethereum  on   feature/multicall !2 ?2  ssh -i /Users/pranay/Downloads/ethcc_netdata root@51.159.190.143
               _
 ___  ___ __ _| | _____      ____ _ _   _
/ __|/ __/ _` | |/ _ \ \ /\ / / _` | | | |
\__ \ (_| (_| | |  __/\ V  V / (_| | |_| |
|___/\___\__,_|_|\___| \_/\_/ \__,_|\__, |
                                    |___/

Welcome on Docker + Docker-Compose + go

[2021-07-20 10:51] kaskavel commented on #11351
After a debugging session, we 've found that if all docker containers are stopped **and** the user executes a:
`docker system prune --volumes` then auto claim works as expected.
ie: there was indeed some config left in the mounted volume, messing up the expected result in subsequent docker runs.

[2021-07-20 10:51] #11351 closed

[2021-07-20 13:16] KeemoLV opened #11354 "Cannot send alarms to multiple MS Teams channels"
I cannot figure out how to send alarm notification to multiple MS team channels. I've configured health_alarm_notify.conf, and I can send to one channel without any problems. So, my MSTEAMS_WEBHOOK_URL is right. My DEFAULT_RECIPIENT_MSTEAMS looks like this `DEFAULT_RECIPIENT_MSTEAMS="CHANNEL1_ENCODED CHANNEL2_ENCODED"`. But when I run alarm-notify.sh test it sends alarm twice to the first channel.

[2021-07-20 13:40] ilyam8 commented on #3778
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 13:42] ilyam8 commented on #3813
Closing this feature request. We will re-evaluate the request internally.

[2021-07-20 13:42] #3813 closed

[2021-07-20 13:44] ilyam8 commented on #3814
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 13:44] #3814 closed

[2021-07-20 13:46] ilyam8 commented on #3824
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 13:46] #3824 closed

[2021-07-20 13:57] ilyam8 commented on #3868
Closing this feature request. We will re-evaluate the request internally.

[2021-07-20 13:57] #3868 closed

[2021-07-20 14:04] ilyam8 commented on #3931
Closing this feature request. We will re-evaluate the request internally.

[2021-07-20 14:04] #3931 closed

[2021-07-20 14:12] ilyam8 commented on #3983
This is implemented. An example: `http://pc:19999/#;chart=netdata.uptime`

[2021-07-20 14:12] #3983 closed

[2021-07-20 14:12] KeemoLV commented on #11354
If I add 3 channels, it will send the test alarm 3 times to one channel.

[2021-07-20 14:13] ilyam8 commented on #3999
Duplicate of #2359

[2021-07-20 14:13] #3999 closed

[2021-07-20 14:15] ilyam8 commented on #4028
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 14:15] #4028 closed

[2021-07-20 14:16] ilyam8 commented on #4033
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 14:16] #4033 closed

[2021-07-20 14:17] ilyam8 commented on #4235
Closing this feature request. We will re-evaluate the request internally.

[2021-07-20 14:17] #4235 closed

[2021-07-20 14:20] ilyam8 commented on #4311
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 14:20] #4311 closed

[2021-07-20 14:23] ilyam8 commented on #4313
Closing this feature request. We will re-evaluate the request internally.

[2021-07-20 14:23] #4313 closed

[2021-07-20 14:26] ilyam8 commented on #4325
Related issue https://github.com/netdata/product/issues/2104

[2021-07-20 14:26] #4325 closed

[2021-07-20 14:27] ilyam8 commented on #4434
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-20 14:27] #4434 closed

[2021-07-20 14:27] ilyam8 commented on #4490
Not relevant anymore

[2021-07-20 14:27] #4490 closed

[2021-07-20 14:28] ilyam8 commented on #4497
Not relevant anymore

[2021-07-20 14:28] #4497 closed

[2021-07-20 14:34] #11261 closed

[2021-07-20 14:35] ilyam8 commented on #4597
Not relevant anymore

[2021-07-20 14:35] #4597 closed

[2021-07-20 14:42] ilyam8 commented on #11354
Hi, @KeemoLV. Please update the issue according to [the bug template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug_report.md) (summary, netdata version, install method, etc.).

[2021-07-20 15:20] ilyam8 commented on #11354
@KeemoLV I think I've found the problem, can you test #11355?

[2021-07-21 05:09] startryst commented on #8527
No, probably the accessibility is intermittent, in general, still not be able to access.

@OdysLam better to have a plan B.

[2021-07-21 05:10] startryst commented on #8527
wget https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh
--2021-07-21 13:08:29--  https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh
Resolving raw.githubusercontent.com... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com|185.199.109.133|:443...

[2021-07-21 07:40] IakymLynnyk-TomTom opened #11357 "NetData fiaring alarms about disk space exciding (false positive alarm) and too many open files error in the log.s."
##### Bug report summary

Netdata errors in logs "too many open files", disc full false positive alarms.

##### OS / Environment
Azure VM
Internal disk 30G
CentOS CentOS Linux release 7.6.1810 (Core)

[code]

##### Netdata version

netdata v1.25.0

##### Installation method

RPM:
Judy-1.0.5-8.el7.x86_64.rpm
protobuf-2.5.0-8.el7.x86_64.rpm
libuv-1.38.0-2.el7.x86_64.rpm
protobuf-c-1.0.2-3.el7.x86_64

[2021-07-21 07:42] #11354 closed

[2021-07-21 07:49] ilyam8 commented on #11357
Hey, @IakymLynnyk-TomTom.

The latest stable is [v1.31.0](https://github.com/netdata/netdata/releases/tag/v1.31.0). Let's start with upgrading Netdata.

[2021-07-23 03:34] kalufinnle commented on #10665
encounter the same problem

[2021-07-23 03:35] kalufinnle commented on #10665
libuuid1 (= 2.31.1-0.4ubuntu3.7) but 2.34-0.1ubuntu9.1 is to be installed
E: Unable to correct problems, you have held broken packages.

 libblkid-dev : Depends: libblkid1 (= 2.34-0.1ubuntu9) but 2.34-0.1ubuntu9.1 is to be installed
 uuid-dev : Depends: libuuid1 (= 2.34-0.1ubuntu9) but 2.34-0.1ubuntu9.1 is to be installed
E: Unable to correct problems, you have held broken packages.

[2021-07-23 07:35] KeemoLV commented on #11354
Sorry, I couldn't test this earlier. This indeed fixed my problem, thank you very much.

I've got one more question. I have channel dedicated to critical alarms, and one for all other alarms. Can I exclude critical alarms from sending to that channel?

[2021-07-23 08:31] ilyam8 commented on #11354
I don't think so.

That is the only alarms severity filtering option we have

https://github.com/netdata/netdata/blob/c5732041b66e6417a7d948905525a1ce70be8f18/health/notifications/health_alarm_notify.conf#L163-L169

[2021-07-23 12:09] Ferroin commented on #10665
I can’t reproduce this in a clean Ubuntu 20.04 install. Can you please share the output of `cat /etc/apt/sources.list.d/*` on a system where you’re seeing this issue?

[2021-07-23 14:23] rudysetiawan commented on #10665
got the same issue with ubuntu 16.04:

`The following packages have unmet dependencies:
 libuv1-dev : Depends: libuv1 (= 1.8.0-1) but 1.9.1-3+deb.sury.org~xenial+1 is to be installed
E: Unable to correct problems, you have held broken packages.`

my list of sources.list.d:
`deb http://apt.newrelic.com/debian/ newrelic non-free
deb http://ppa.launchpad.net/nginx/stable/ubuntu xenial main
# deb-src

[2021-07-23 15:09] Ferroin commented on #10665
OK, it’s exceedingly likely that this is a package dependency conflict caused by something in a third-party repository (hence my query about the contents of `/etc/apt/source.list.d`. We’ve had people report such issues a couple of times before as well, and there’s unfortunately not much we can do about it. Assuming it’x a 64-bit x86 system, you should be able to get things working correctly by [us

[2021-07-24 03:46] Just-Insane commented on #9109
Was this ever resolved? It seems like the package was never built with cloud support (or at least not in a way I've been able to get to work across two machines). I also haven't gotten an install via `kickstart.sh` to work due to dependency issues on FreeBSD 12

[2021-07-25 07:48] raven428 commented on #9348
@Ferroin  I've performed [several changes](https://github.com/netdata/netdata/compare/c5732041b...19601322a) to enable logging in according to [your dredging](https://github.com/netdata/netdata/issues/9348#issuecomment-881425964). Could you please take a look? If these changes are enough I'll start a pull request, else I'll continue my improvements.

[2021-07-25 12:53] bpbbc1979 commented on #9348
Unsubscribe

Sent from Brian Carmicle’s iPhone X

[2021-07-25 15:29] UnamedRus commented on #4813
Good list of metrics / alerts used by our Prometheus collector.
https://kb.altinity.com/altinity-kb-setup-and-maintenance/cluster-production-configuration-guide/monitoring-considerations

[2021-07-26 07:26] nmarantos opened #11364 "Netdata - Nginx Plus API"
Hi,

We are facing an issue with netdata configuration about Nginx Plus and API.
We have installed nginx plus [ nginx/1.19.10 (nginx-plus-r24-p1) ] , we have updated netdata to the version 1.31.0 and we have tried with python 2 and 3 both to solve our issue.

We are trying to install python.d.plugin/nginx_plus (NGINX Plus monitoring with Netdata | Learn Netdata) but perhaps the plugin is based on

[2021-07-26 08:44] ilyam8 commented on #11364
Hi, @nmarantos

Answered in https://community.netdata.cloud/t/netdata-nginx-plus-api/1552/2?u=ilyam8

Related issue https://github.com/netdata/netdata/issues/6730

[2021-07-26 08:44] ilyam8 commented on #11364
Hi, @nmarantos

Answered in https://community.netdata.cloud/t/netdata-nginx-plus-api/1552/2?u=ilyam8

Related issue https://github.com/netdata/netdata/issues/6730

[2021-07-26 09:01] nmarantos commented on #11364
Hi @ilyam8

thank you

[2021-07-26 09:01] #11364 closed

[2021-07-26 09:08] wangpei-nice opened #11365 "get EBPF_VERSION dynamically"
##### Bug report summary

Hi netdata maintainers.
A few days ago,  netdata/packaging/ebpf_version was still v0.7.4,  I compiled netdata by running ./netdata-installer.sh. The following error occurred when I started ebpf.plugin.
![image](https://user-images.githubusercontent.com/81410079/126955430-43faa252-1380-40f2-95d3-9a81553b80fe.png)
I downloaded https://github.com/netdata/kernel-collector/rel

[2021-07-26 09:14] ilyam8 commented on #11365
@thiagoftsm please, take a look

[2021-07-26 09:15] ilyam8 commented on #11364
@nmarantos let's continue the discussion on [the forum](https://community.netdata.cloud/t/netdata-nginx-plus-api/1552).

[2021-07-26 11:06] #10200 closed

[2021-07-26 13:04] thiagoftsm commented on #11365
Hello @wangpei-nice ,

We already detected this problem days ago, and we made this [PR](https://github.com/netdata/kernel-collector/pull/243/files) on `kernel-collector` repo and this [PR](https://github.com/netdata/netdata/pull/11348) here at `netdata/netdata`. The latest `nightly` already have the fix for the version `0.7.5`, but `0.7.4` had the bug.

Thanks to report!

Best regards,

Thiago

[2021-07-26 13:04] #11365 closed

[2021-07-26 14:06] ilyam8 commented on #6252
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:06] #6252 closed

[2021-07-26 14:11] ilyam8 commented on #6456
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-26 14:11] #6456 closed

[2021-07-26 14:14] ilyam8 commented on #6196
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:14] #6196 closed

[2021-07-26 14:15] ilyam8 commented on #5556
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:15] #5556 closed

[2021-07-26 14:16] ilyam8 commented on #4891
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-26 14:16] #4891 closed

[2021-07-26 14:18] ilyam8 commented on #5754
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-26 14:18] #5754 closed

[2021-07-26 14:19] ilyam8 commented on #6250
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-26 14:19] #6250 closed

[2021-07-26 14:21] #8523 closed

[2021-07-26 14:22] ilyam8 commented on #5480
Closed in favour of #6038

[2021-07-26 14:22] #5480 closed

[2021-07-26 14:32] ilyam8 commented on #9097
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:32] #9097 closed

[2021-07-26 14:42] ilyam8 commented on #5782
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:42] #5782 closed

[2021-07-26 14:43] ilyam8 commented on #6012
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:43] #6012 closed

[2021-07-26 14:46] ilyam8 commented on #8681
Closing this feature request. We will re-evaluate the request internally.

[2021-07-26 14:46] #8681 closed

[2021-07-26 14:49] ilyam8 commented on #3824
@d-mo we will consider this issue when re-evaluating https://github.com/netdata/netdata/issues/8681

I agree that we need to add basic HTTP auth to all exporting destinations if applicable.

[2021-07-26 15:06] d-mo commented on #3824
@ilyam8 Thanks for the heads up. Sounds like a feature that's highly desired by the community and shouldn't be hard to implement. It would also enable us to explore potential integrations between Netdata and Mist.

[2021-07-26 15:26] ilyam8 commented on #3824
@d-mo what [exporter](https://github.com/netdata/netdata/tree/master/exporting#features) do you use? prometheus remote write?

[2021-07-26 16:04] Ferroin commented on #9348
@raven428  Can you please open a PR with the changes? Just open it as a draft (you can select this in a dropdown  and @mention me in the description.  We tend to prefer such an approach because it makes it easier to keep track of discussion about the changes in the context of the project itself.

From a cursory glance, the changes themselves do look pretty good though.

[2021-07-26 20:38] rgiovanardi commented on #10298
I can try to solve this issue

[2021-07-27 07:15] yasharne commented on #11347
Hi @MrZammler
Sorry for my late response, but I don't find any log about that particular host on `error.log` file

[2021-07-27 07:26] MrZammler commented on #11347
Hi @yasharne ! The load incident was on the child node? The parent should have raised an alert... Still, can we have the `error.log` of the parent node? It could still reveal some problem. If possible, please attach also the rotated `error.log` if it exists, preferably the one that contains the timeframe the load occurred.

Thanks!

[2021-07-27 07:39] yasharne commented on #11347
@MrZammler yes the child has the load problem. I sent you the logs few minutes ago

[2021-07-27 10:14] cloudition commented on #11164
Hi,
I have a constant CPU utilization between 20% and 60%. Is this normal? As far as I remember this was not the case in the past...
![image](https://user-images.githubusercontent.com/60007632/127137331-ef181792-81d7-42a4-bef2-74ae735f95c0.png)

[2021-07-27 10:20] MrZammler commented on #11343
Hi @sniffski !

Sorry for our late reply... Currently there is no support for compressing streaming data. However there are currently ongoing efforts to re-visit this area (streaming/replication).

I'm not sure how feasible is to use an external way to compress the traffic, i.e. if using openvpn (and the streaming traffic goes over it) to enable compression on it...

[2021-07-27 10:25] MrZammler commented on #11347
Thanks @yasharne , got them, yes, there is not much in there... We'll try to recreate the scenario (i.e. child has high load, no alerts triggered on the parent, is this correct?) to see if we can pinpoint the problem.

[2021-07-27 11:36] yasharne commented on #11347
@MrZammler Yes the scenario is correct

[2021-07-27 13:02] MrZammler commented on #11347
@yasharne just noticed that the `load.conf` file is a custom one (in `/etc/`) can you please share it with us too ?

[2021-07-27 13:21] raven428 commented on #9348
replacing the commit owner

[2021-07-27 14:21] ilyam8 commented on #7678
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 14:21] #7678 closed

[2021-07-27 14:32] yasharne commented on #11347
sure @MrZammler , here is the content:
[code]

[2021-07-27 14:32] ilyam8 commented on #6169
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-27 14:32] #6169 closed

[2021-07-27 14:38] ilyam8 commented on #4996
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 14:38] #4996 closed

[2021-07-27 14:42] ilyam8 commented on #4967
Closing this feature request. We will re-evaluate the request internally.

[2021-07-27 14:42] #4967 closed

[2021-07-27 14:45] ilyam8 commented on #7344
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 14:45] #7344 closed

[2021-07-27 14:48] ilyam8 commented on #10074
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 14:48] #10074 closed

[2021-07-27 14:52] ilyam8 commented on #9406
Closing this feature request. We will re-evaluate the request internally.

[2021-07-27 14:52] #9406 closed

[2021-07-27 14:54] ilyam8 commented on #9184
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 14:54] #9184 closed

[2021-07-27 14:57] ilyam8 commented on #9580
Closing this feature request. We will re-evaluate the request internally.

Related https://github.com/netdata/netdata/issues/9406

[2021-07-27 14:57] #9580 closed

[2021-07-27 15:02] #7420 closed

[2021-07-27 15:06] ilyam8 commented on #7517
Closing this feature request. We will re-evaluate the request internally.

[2021-07-27 15:06] #7517 closed

[2021-07-27 15:09] #6827 closed

[2021-07-27 15:12] ilyam8 commented on #5372
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-27 15:12] #5372 closed

[2021-07-27 15:21] ilyam8 commented on #4679
Closing this feature request. We will re-evaluate the request internally.

[2021-07-27 15:21] #4679 closed

[2021-07-27 15:23] ilyam8 commented on #9210
Closing as duplicate of #364

[2021-07-27 15:23] #9210 closed

[2021-07-28 07:37] ilyam8 commented on #11164
[Depends on your setup/workload](https://github.com/netdata/netdata/issues/11164#issuecomment-844994163).

---

We haven't changed apps.plugin [for a long time](https://github.com/netdata/netdata/commits/master/collectors/apps.plugin/apps_plugin.c). _not the case in the past_ - did you have the same workload on the server?

[2021-07-28 14:05] ilyam8 commented on #11164
@cloudition Could you send [a snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) to <ilya@netdata.cloud>?

[2021-07-28 14:31] odidev commented on #7824
@Ferroin, Thanks for the explanation.
Actually i tried building "netdata.gz.run" for Arm64 platform using the script similar to (In fact same) _"packaging/makeself/build-x86_64-static.sh"_  and it got build successfully and i've also successfully installed netdata using the built binary in Arm64 platform.
just wanted to know what else we need to add the static build support for arm64?

[2021-07-28 14:33] #8285 closed

[2021-07-28 14:35] ilyam8 commented on #10407
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 14:35] #10407 closed

[2021-07-28 14:37] #8320 closed

[2021-07-28 14:47] ilyam8 commented on #6592
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-28 14:47] #6592 closed

[2021-07-28 14:52] ilyam8 commented on #10266
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 14:52] #10266 closed

[2021-07-28 14:58] ilyam8 commented on #10132
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 14:58] #10132 closed

[2021-07-28 15:08] ilyam8 commented on #10073
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 15:08] #10073 closed

[2021-07-28 15:14] ilyam8 commented on #10238
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 15:14] #10238 closed

[2021-07-28 15:27] ilyam8 commented on #10191
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 15:27] #10191 closed

[2021-07-28 15:29] ilyam8 commented on #10141
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 15:29] #10141 closed

[2021-07-28 15:32] ilyam8 commented on #10140
Closing this feature request. We will re-evaluate the request internally.

[2021-07-28 15:32] #10140 closed

[2021-07-28 15:38] #9072 closed

[2021-07-28 17:13] stdedos commented on #10238
Maybe we can get a summary publicly?
There's the ticket already anyway 😕

[2021-07-28 17:56] Ferroin commented on #7824
As of right now, three things would be needed:

* The filename needs to change to embed the architecture (like a lot of package managers do with their package files). This would not be especially difficult, but may break some existing installs.
* Proper CI support for building it. This is reasonably simple to do (maybe a dozen lines of code).
* The kickstart-static64.sh script would have to be upd

[2021-07-28 19:24] dkennedy-dejero opened #11379 "Netdata 1.31.0 chart API does not handle archived charts"
##### Bug report summary

After the change to sqlite for the chart metadata (https://github.com/netdata/netdata/issues/9658 and https://github.com/netdata/netdata/issues/9815), it seems like the api/v1/chart API entrypoint does not handle archived charts.

##### OS / Environment

`Linux/x86_64`

##### Netdata version

[code]

##### Component Name

web/api

##### Steps To Reproduce

For a given arc

[2021-07-28 19:26] dkennedy-dejero commented on #11379
If I can get confirmation that the expected behavior is reasonable (as this appears to be a regression), I can start looking at creating a patch.

[2021-07-28 19:51] ilyam8 commented on #10238
When we have it - for sure. We've considered this feature request important even it has no "👍"

[2021-07-29 04:42] void4 opened #11380 "eBPF.plugin server crash on intensive cpu/ram/disk use"
##### Bug report summary

My website received a lot of traffic yesterday which led to a high CPU, RAM and disk use.

This seems to have caused the netdata ebpf.plugin to crash and took down the server. /var/crash log:

https://gist.github.com/void4/8503282d6bfcff02b5b3f9ed9b4f4fce

![image](https://user-images.githubusercontent.com/11392207/127432782-c7acd45a-4fec-47bb-952b-bdd317405958.png)

![im

[2021-07-29 10:50] lwbt opened #11381 "Failing to build ipmi plugin on Ubuntu 21.04"
**Update:** Netdata build scripts---sorry if I use the wrong term here---should be updated to look for `/usr/lib/x86_64-linux-gnu/pkgconfig/libipmimonitoring.pc/libipmimonitoring.pc` not just `/usr/lib/pkgconfig/libipmimonitoring.pc`. In the meantime you can resolve this build issue with: `sudo ln -s /usr/lib/x86_64-linux-gnu/pkgconfig/libipmimonitoring.pc/libipmimonitoring.pc /usr/lib/pkgconfig/l

[2021-07-29 12:33] ilyam8 commented on #8604
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-29 12:33] #8604 closed

[2021-07-29 12:37] ilyam8 commented on #9910
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 12:37] #9910 closed

[2021-07-29 12:44] #7917 closed

[2021-07-29 12:50] #6696 closed

[2021-07-29 12:51] ilyam8 commented on #9872
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 12:51] #9872 closed

[2021-07-29 12:54] ilyam8 commented on #8046
Added

[2021-07-29 12:54] #8046 closed

[2021-07-29 12:55] ilyam8 commented on #7672
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 12:55] #7672 closed

[2021-07-29 12:58] ilyam8 commented on #10083
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 12:58] #10083 closed

[2021-07-29 12:59] ilyam8 commented on #10069
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 12:59] #10069 closed

[2021-07-29 13:01] ilyam8 commented on #10017
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 13:01] #10017 closed

[2021-07-29 13:02] #9995 closed

[2021-07-29 13:04] ilyam8 commented on #10065
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 13:04] #10065 closed

[2021-07-29 13:13] ilyam8 commented on #10010
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-29 13:13] #10010 closed

[2021-07-29 13:16] ilyam8 commented on #8953
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 13:16] #8953 closed

[2021-07-29 13:19] ilyam8 commented on #9955
Implemented

[2021-07-29 13:19] #9955 closed

[2021-07-29 13:22] ilyam8 commented on #9924
Closing this feature request. We will re-evaluate the request internally.

[2021-07-29 13:22] #9924 closed

[2021-07-29 14:14] OdysLam commented on #7133
![](https://media.tenor.com/images/db70e338c91c4a9f1b5bf20b95592d59/tenor.gif)

Hi everyone, long time no see! These last few months have been hectic and I seem to have dropped the ball with our contributors. Mea culpa!

All these fabulous gents and ladies listed below are the first-time contributors for the months of May, June, and July.

That means that they made their first contribution to our

[2021-07-29 14:38] rudysetiawan commented on #10665
@Ferroin  yupp in fact I used the static version and it just worked right away. Thank you!

[2021-07-29 18:10] ilyam8 opened #11382 "Add basic HTTP authentication to various exporting connectors"
##### Feature idea summary

(Requested in #3824 and #8681)

We need to add basic HTTP authenticaion to the following exporting connectors:
 - [prometheus remote write](https://github.com/netdata/netdata/tree/master/exporting/prometheus/remote_write#prometheus-remote-write-exporting-connector)
 - [graphite](https://github.com/netdata/netdata/tree/master/exporting/graphite#export-metrics-to-graphite

[2021-07-29 18:59] thiagoftsm commented on #11380
This looks like something direct linked with Ubuntu :thinking: I will test here to confirm, but this would not be the first time that this happened, thank you to report.

[2021-07-29 20:13] stelfrag commented on #11280
Closing as no additional information is available

[2021-07-29 20:13] #11280 closed

[2021-07-29 20:14] stelfrag commented on #11312
Closing as no additional information is available

[2021-07-29 20:14] #11312 closed

[2021-07-29 20:18] stelfrag commented on #10815
Closing this. If the issue persists, please update to the latest version and / or reopen this issue so we can further investigate

[2021-07-29 20:18] #10815 closed

[2021-07-29 20:19] stelfrag commented on #10750
No need to keep this

[2021-07-29 20:19] #10750 closed

[2021-07-29 20:25] stelfrag commented on #10219
Wow this one fell between the cracks @ilyesm did you manage to install ?

[2021-07-29 20:27] stelfrag commented on #9930
Closing this. @ZYL9 please feel free to comment on your progress

[2021-07-29 20:27] #9930 closed

[2021-07-30 06:16] stelfrag commented on #10526
Not applicable with the new architecture -- will revisit if needed

[2021-07-30 06:16] #10526 closed

[2021-07-30 06:49] stelfrag commented on #11379
Hi @dkennedy-dejero well spotted.

It is a known issue and be supported by reworking the chart / archivedcharts endpoints. The ARCHIVED state for a chart will be removed (on a running agent) as it made sense only when we kept the entire metadata always in memory (pre-sqlite) and we were rebuilding all the charts on startup.

Although that made the charts available (in memory) the archivedcharts en

[2021-07-30 09:06] stelfrag commented on #10277
Hi @hitmoon , it has been a while :frowning_man:

Are you still facing this issue (update to the latest version?)

[2021-07-30 09:13] stelfrag commented on #10049
Closing in favor of https://github.com/netdata/netdata/issues/9533

[2021-07-30 09:13] #10049 closed

[2021-07-30 11:31] hitmoon commented on #10277
@stelfrag I have stopped  using netdata for 6 months,  do not know if this issue still exists in the latest version ；-）

[2021-07-30 12:05] #8883 closed

[2021-07-30 12:13] #9676 closed

[2021-07-30 12:13] #7897 closed

[2021-07-30 12:21] ilyam8 commented on #9527
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-30 12:21] #9527 closed

[2021-07-30 12:27] ilyam8 commented on #5062
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:27] #5062 closed

[2021-07-30 12:29] ilyam8 commented on #6061
Fixed by adding date-time picker.

[2021-07-30 12:29] #6061 closed

[2021-07-30 12:32] ilyam8 commented on #8830
duplicate of #9872

[2021-07-30 12:32] #8830 closed

[2021-07-30 12:35] ilyam8 commented on #9292
That is possible by writing a custom script (that captures/saves network dump) and using [alarm-line-exec](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-exec).

[2021-07-30 12:35] #9292 closed

[2021-07-30 12:38] ilyam8 commented on #9022
That is fixed.

[2021-07-30 12:38] #9022 closed

[2021-07-30 12:38] ilyam8 commented on #9288
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-30 12:38] #9288 closed

[2021-07-30 12:41] ilyam8 commented on #9272
@mailinglists35 hey, we have improved our stock alarms and will keep doing that. If you have specific examples, please share, and let's have a discussion.

[2021-07-30 12:41] #9272 closed

[2021-07-30 12:42] ilyam8 commented on #5613
That is fixed.

[2021-07-30 12:42] #5613 closed

[2021-07-30 12:43] #7819 closed

[2021-07-30 12:46] ilyam8 commented on #8792
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:46] #8792 closed

[2021-07-30 12:48] ilyam8 commented on #9197
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:48] #9197 closed

[2021-07-30 12:49] ilyam8 commented on #6873
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:49] #6873 closed

[2021-07-30 12:53] ilyam8 commented on #6162
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:53] #6162 closed

[2021-07-30 12:55] ilyam8 commented on #4986
Closing this feature request. We will re-evaluate the request internally.

[2021-07-30 12:55] #4986 closed

[2021-07-30 13:12] stelfrag commented on #10277
@hitmoon thank you for your feedback. Feel free to have a look at netdata again in the future :smiley:

[2021-07-30 13:12] #10277 closed

[2021-07-30 14:18] ilyam8 opened #11384 "ebpf.plugin doesn't add "module" when sending CHART definition"
##### Bug report summary

[CHART](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#chart) is

eBPF plugin doesn't send [module].

As the result, we have only one entry in the [api/v1/info](https://registry.my-netdata.io/swagger/#/default/get_info) response and one entry in anonymous statistics.

[code]

##### OS / Environment

not relevant

##### Netdata version

`Version: netdata v1.31

[2021-07-30 14:25] dkennedy-dejero commented on #11379
Making sure I understand:
Is the plan to eliminate the concept of "archived" chart, so that all charts from the current session and prior sessions are available through /api/v1/charts, /api/v1/chart and /api/v1/data, and to eliminate /api/v1/archivedcharts (undocumented anyway)?

Separately, is there any plan to shift inactive charts out of memory, or alternatively to reduce the memory footprint o

[2021-07-31 09:59] lwbt opened #11385 "A node's dashboard does not show new charts in netdata registry while http://${ip}:19999 does"
##### Bug report summary

I noticed that one of my nodes did not update in my space on https://app.netdata.cloud/spaces/. I imported more zpools (no recompiling of the agent) and added the ipmi plugin (recompiled the agent) after I first opened the node in my space. I kept the tab open. Not the browser tab, the tab in the navigation under *War Rooms* > *General*, where it reads *Overview*, *Nodes*

[2021-08-01 14:12] ilyam8 commented on #9016
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:12] #9016 closed

[2021-08-01 14:14] ilyam8 commented on #9080
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:14] #9080 closed

[2021-08-01 14:18] ilyam8 commented on #6793
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:18] #6793 closed

[2021-08-01 14:23] ilyam8 commented on #9010
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-01 14:23] #9010 closed

[2021-08-01 14:26] ilyam8 commented on #8833
Hey, @misterbit-pro.

Assuming you are referring to the Netdata Cloud. You can disable it, see https://learn.netdata.cloud/docs/agent/aclk#disable-the-aclk

[2021-08-01 14:26] #8833 closed

[2021-08-01 14:27] ilyam8 commented on #7164
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:27] #7164 closed

[2021-08-01 14:31] ilyam8 commented on #8574
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:31] #8574 closed

[2021-08-01 14:33] ilyam8 commented on #7908
@thiagoftsm if that Epic is relevant, please move it under netdata/product.

[2021-08-01 14:33] #7908 closed

[2021-08-01 14:38] ilyam8 commented on #4941
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:38] #4941 closed

[2021-08-01 14:40] ilyam8 commented on #5072
This issue is fixed

[2021-08-01 14:40] #5072 closed

[2021-08-01 14:42] ilyam8 commented on #5246
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:42] #5246 closed

[2021-08-01 14:46] ilyam8 commented on #5398
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:46] #5398 closed

[2021-08-01 14:47] ilyam8 commented on #5399
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 14:47] #5399 closed

[2021-08-01 14:48] ilyam8 commented on #5822
Implemented

[2021-08-01 14:48] #5822 closed

[2021-08-01 14:48] #8790 closed

[2021-08-01 14:56] ilyam8 commented on #8773
Hey, @ScottAtConvesio. It is possible to create a different set of alarms for cgroups using [families](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-families) filter.

[We've excluded](https://github.com/netdata/netdata/pull/10806) cgroups net ifaces from packets dropped alarms.

[2021-08-01 14:56] #8773 closed

[2021-08-01 14:58] #8767 closed

[2021-08-01 15:02] ilyam8 commented on #8674
Hi, @analytically. There is no default `netdata.conf` as a file per se.

Netdata can generate its own config which is available at `http://<netdata_ip>/netdata.conf`.

You can download it with command like: `wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf`

[2021-08-01 15:02] #8674 closed

[2021-08-01 15:11] ilyam8 commented on #8631
That is fixed

[2021-08-01 15:11] #8631 closed

[2021-08-01 15:14] ilyam8 commented on #8506
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-01 15:14] #8506 closed

[2021-08-01 15:16] ilyam8 commented on #8423
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-01 15:16] #8423 closed

[2021-08-01 15:16] #8345 closed

[2021-08-01 15:17] ilyam8 commented on #6488
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 15:17] #6488 closed

[2021-08-01 15:19] ilyam8 commented on #7276
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 15:19] #7276 closed

[2021-08-01 15:19] ilyam8 commented on #7144
Closing this feature request. We will re-evaluate the request internally.

[2021-08-01 15:19] #7144 closed

[2021-08-01 15:20] #7145 closed

[2021-08-01 16:59] thiagoftsm commented on #11384
To fix this issue it is necessary to change the helper [ebpf_write_chart_cmd](https://github.com/netdata/netdata/blob/e2303fea720871ef568a175d8a50a478154a1db8/collectors/ebpf.plugin/ebpf.c#L393-L406) and pass as argument for the function the module name. I am bringing a PR to fix this.

[2021-08-01 20:03] rgiovanardi commented on #10773
Working on that

[2021-08-02 00:05] thiagoftsm commented on #7908
I will talk with @manos-saratsis about this, right now we have different priorities.

[2021-08-02 10:08] ilyam8 commented on #8008
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 10:08] #8008 closed

[2021-08-02 10:10] ilyam8 commented on #8045
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 10:10] #8045 closed

[2021-08-02 10:11] #7775 closed

[2021-08-02 10:15] #7833 closed

[2021-08-02 10:17] ilyam8 commented on #8026
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 10:17] #8026 closed

[2021-08-02 10:22] ilyam8 commented on #7457
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 10:22] #7457 closed

[2021-08-02 10:24] ilyam8 commented on #7931
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 10:24] #7931 closed

[2021-08-02 10:25] ilyam8 commented on #7380
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 10:25] #7380 closed

[2021-08-02 10:27] ilyam8 commented on #7523
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 10:27] #7523 closed

[2021-08-02 10:30] ilyam8 commented on #7858
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 10:30] #7858 closed

[2021-08-02 10:31] ilyam8 commented on #7858
@Steve8291 a very nice idea 👍

[2021-08-02 13:37] ilyam8 commented on #7852
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 13:37] #7852 closed

[2021-08-02 13:39] #7844 closed

[2021-08-02 13:42] ilyam8 commented on #6972
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 13:42] #6972 closed

[2021-08-02 13:44] ilyam8 commented on #7522
Closing as duplicate of #5246.

[2021-08-02 13:44] #7522 closed

[2021-08-02 13:47] ilyam8 commented on #5958
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 13:47] #5958 closed

[2021-08-02 13:51] ilyam8 commented on #5247
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 13:51] #5247 closed

[2021-08-02 13:53] ilyam8 commented on #4934
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 13:53] #4934 closed

[2021-08-02 13:54] #7098 closed

[2021-08-02 13:55] #7093 closed

[2021-08-02 13:56] #7097 closed

[2021-08-02 13:58] ilyam8 commented on #7094
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 13:58] #7094 closed

[2021-08-02 14:13] ilyam8 commented on #7456
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:13] #7456 closed

[2021-08-02 14:16] ilyam8 commented on #7095
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:16] #7095 closed

[2021-08-02 14:17] ilyam8 commented on #7099
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:17] #7099 closed

[2021-08-02 14:20] ilyam8 commented on #7621
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 14:20] #7621 closed

[2021-08-02 14:21] ilyam8 commented on #7519
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-02 14:21] #7519 closed

[2021-08-02 14:23] ilyam8 commented on #7508
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:23] #7508 closed

[2021-08-02 14:25] ilyam8 commented on #6496
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:25] #6496 closed

[2021-08-02 14:25] ilyam8 commented on #7165
Enhance the testability of the Netdata internal web-server

[2021-08-02 14:25] #7165 closed

[2021-08-02 14:27] ilyam8 commented on #7029
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:27] #7029 closed

[2021-08-02 14:27] ilyam8 commented on #6968
Closing this feature request. We will re-evaluate the request internally.

[2021-08-02 14:27] #6968 closed

[2021-08-02 18:27] ilyam8 opened #11388 "invalid "plugin" or missing "module" when sending CHART definition"
##### Bug report summary

Some of our stock plugins/plugin's modules:
- set invalid "plugin"
- or set invalid "module"
- or don't set "module"

when sending [CHART](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#chart) definition.

Correct "plugin"/"module" needed for accounting plugins usage statistics.

Discovered problems:

| Plugin       | Problem     | Fix |
| ------------ | ----

[2021-08-02 18:28] ilyam8 commented on #11384
Closing in favor of #11388

[2021-08-02 18:28] #11384 closed

[2021-08-02 20:39] davidak commented on #9288
I'm actually not interested in Drone anymore since it's not fully open source. There is a fork: https://github.com/woodpecker-ci/woodpecker

[2021-08-02 22:15] thiagoftsm commented on #11388
@ilyam8 I was running a branch here that I am developing and I observed that the following plugins are also missing `module`:

[code]

Do you think we need to add them for the to do list?

[2021-08-02 22:24] ilyam8 commented on #11388
There is more than that. Not all plugins have modules.

[2021-08-03 07:26] xclusive1111 commented on #250
Is anyone still having issues with the time range filter?
I'm using the binary installer and everything works out of the box except the time range picker. I try to pick a time range but it only applies the lower bound, the upper bound is completely ignored

[Here's the captured video of this issue](https://streamable.com/em6j12)

[2021-08-03 13:20] ilyam8 commented on #7370
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:20] #7370 closed

[2021-08-03 13:22] ilyam8 commented on #6751
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:22] #6751 closed

[2021-08-03 13:24] ilyam8 commented on #7044
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:24] #7044 closed

[2021-08-03 13:31] ilyam8 commented on #5125
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:31] #5125 closed

[2021-08-03 13:31] #6717 closed

[2021-08-03 13:33] #6763 closed

[2021-08-03 13:37] ilyam8 commented on #6141
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:37] #6141 closed

[2021-08-03 13:38] ilyam8 commented on #7147
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-03 13:38] #7147 closed

[2021-08-03 13:40] ilyam8 commented on #5809
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-03 13:40] #5809 closed

[2021-08-03 13:41] ilyam8 commented on #6637
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-03 13:41] #6637 closed

[2021-08-03 13:45] ilyam8 commented on #6866
That is fixed (apart from the "freeze" part).

I observe the same behavior for both active alarms and entries from "Log" tab.

[2021-08-03 13:45] #6866 closed

[2021-08-03 13:46] #5648 closed

[2021-08-03 13:46] ilyam8 commented on #5648
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:47] ilyam8 commented on #6577
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-03 13:47] #6577 closed

[2021-08-03 13:50] ilyam8 commented on #6536
Closing this feature request. We will re-evaluate the request internally.

[2021-08-03 13:50] #6536 closed

[2021-08-03 18:09] ilyam8 commented on #11388
About the `statsd.plugin` issue.

- we [use the chart source as module](https://github.com/netdata/netdata/blob/a3ec601cda2fd95837d821008d0485a1437f5c80/collectors/statsd.plugin/statsd.c#L1989-L1999) when creating [synthetic](https://learn.netdata.cloud/docs/agent/collectors/statsd.plugin#synthetic-statsd-charts) charts.
- chart source format is [`<line>@filename`](https://github.com/netdata/netda

[2021-08-03 22:02] Cosmo121 commented on #7534
This fixed my issue with installing on Rocky Linux. Thanks friend!

[2021-08-04 08:07] hamzash9500 opened #11395 "specification for the Netdata master"
Hello All,

I have a plan to monitor more than 200 devices using the Netdata but I have some concerns and questions:

1) what is the specification for the Netdata master needed to handle more than 200 clients.

2)Is there an equation to calculate the CPU, RAM, and bandwidth needed for Netdata master.

Thanks in advance.

[2021-08-04 08:57] albert-92 commented on #11324
Okay, so the problem emerged due to some conflicts of ntp and puppet on my aws ec2 instance. This caused the system time to jump / drift and netdata apparently got confused.

After solving the time issues on my system, netdata is also working fine. So it was not a netdata error.

[2021-08-04 08:57] #11324 closed

[2021-08-04 11:27] MrZammler commented on #11324
Thank you @albert-92 for your follow up!

[2021-08-04 11:34] ilyam8 commented on #9532
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:34] #9532 closed

[2021-08-04 11:34] ilyam8 commented on #9523
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:34] #9523 closed

[2021-08-04 11:34] ilyam8 commented on #9238
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:34] #9238 closed

[2021-08-04 11:35] #9127 closed

[2021-08-04 11:36] ilyam8 commented on #8889
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:36] #8889 closed

[2021-08-04 11:37] ilyam8 commented on #5091
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:37] #5091 closed

[2021-08-04 11:37] ilyam8 commented on #7283
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:37] #7283 closed

[2021-08-04 11:38] ilyam8 commented on #6798
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:38] #6798 closed

[2021-08-04 11:38] ilyam8 commented on #6735
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 11:38] #6735 closed

[2021-08-04 11:41] #6327 closed

[2021-08-04 11:43] #6326 closed

[2021-08-04 11:52] #6267 closed

[2021-08-04 11:59] ilyam8 commented on #5128
It should be fixed

[2021-08-04 11:59] #5128 closed

[2021-08-04 12:02] ilyam8 commented on #7865
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 12:02] #7865 closed

[2021-08-04 12:07] #10540 closed

[2021-08-04 12:29] ilyam8 commented on #9373
Closing this feature request. We will re-evaluate the request internally.

[2021-08-04 12:29] #9373 closed

[2021-08-04 13:01] #7888 closed

[2021-08-04 13:02] #8231 closed

[2021-08-04 13:02] #8344 closed

[2021-08-04 13:03] #9679 closed

[2021-08-04 13:03] #9204 closed

[2021-08-04 13:04] ilyam8 commented on #8346
Issue moved to [netdata/kernel-collector #247](https://github.com/netdata/kernel-collector/issues/247) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-04 13:04] #8346 closed

[2021-08-04 13:04] #9681 closed

[2021-08-04 13:05] #9680 closed

[2021-08-04 13:06] #9690 closed

[2021-08-04 13:09] #11097 closed

[2021-08-04 14:15] HolgerHees opened #11397 "PROCFILE: Cannot open file '/sys/fs/cgroup/blkio/system.slice/...."
I know that there are some bugreports related to cgroups but I think this is different, because it is related to short running static services.

On my system the services "systemd-hostnamed" and "snapperd" are triggered every hour and are running between 30 seconds and 1 minute. Every time when they succeeded I get a message like

[code]

or

[code]

##### OS / Environment
os: openSuSE 15.3
kernel

[2021-08-04 14:41] manos-saratsis commented on #10407
@rider8581 you can use [dashboards](https://learn.netdata.cloud/docs/cloud/visualize/dashboards) on Netdata Cloud including the date time picker for charts and component synchronization. Not scoped to be added to agent custom dashboards

[2021-08-04 15:54] #9977 closed

[2021-08-04 16:22] ilyam8 commented on #9977
The problem was likely the CapabilityBoundingSet issue. Can be fixed by adding required capabilities or resetting the set.

[2021-08-04 17:01] ilyam8 commented on #11395
Hey, @hamzash9500. That is not a bug, closing in favor of https://community.netdata.cloud/t/specification-for-the-netdata-master/1596

[2021-08-04 17:01] #11395 closed

[2021-08-05 06:39] #11388 closed

[2021-08-05 07:28] ilyam8 commented on #11397
Hi, @HolgerHees.

You can filter out those cgroups. Use [the "enable by default cgroups matching" option](https://github.com/netdata/netdata/tree/master/collectors/cgroups.plugin#enabled-cgroups) in the `netdata.conf`. The filter syntax is [simple patterns](https://learn.netdata.cloud/docs/agent/libnetdata/simple_pattern).

[2021-08-05 07:41] HolgerHees commented on #11397
thanks. I already found this parameter.

I want to avoid using it. Because then I have to repeat to long default pattern + my additional ones and if you change the default one in the future, I have to adapt this changes too.

maybe is there an option to extend the default parameter?

[2021-08-05 08:11] ilyam8 commented on #11397
Unfortunately, there is no way to extend it but only replace it. Reaping is not a problem, because you just uncomment the option and prepend your additional ones.

That makes sense, you are correct. But I think that some imaginary problem from the future shouldn't stop you from solving the one you are having now.

[2021-08-05 09:20] HolgerHees commented on #11397
I changed it now on my system.

During investigation I found more similar cases

snapperd, systemd-hostnamed, logrotate and backup-rpmdb are affected. All of these a static triggered jobs.

Maybe on a long term there is a more generic fix.

[2021-08-05 09:49] #11385 closed

[2021-08-05 09:49] ilyam8 commented on #11385
Issue moved to [netdata/netdata-cloud #128](https://github.com/netdata/netdata-cloud/issues/128) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-05 09:51] ilyam8 commented on #11385
Hey, @lwbt. You are using Netdata Cloud, I moved the issue to the Netata Cloud issues tracker.

[2021-08-05 11:32] #10248 closed

[2021-08-05 11:36] ilyam8 commented on #8555
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-05 11:36] #8555 closed

[2021-08-05 11:43] ilyam8 commented on #11397
@HolgerHees Where did you get those logs from?

[2021-08-05 11:50] ilyam8 commented on #3295
Closing this. @RicardoSette hey 👋 Are you still interested in getting [your PR](https://github.com/netdata/netdata/pull/3893) merged? If yes, please reopen it or create a new one.

[2021-08-05 11:50] #3295 closed

[2021-08-05 11:53] HolgerHees commented on #11397
from journalctl

and the netdata related config is "error log = syslog"

[2021-08-05 11:55] ilyam8 commented on #3319
Closing this issue. @jacekkolasa, please reopen if have doublechecked this and it appears to be a problem in the new dashboard as well.

[2021-08-05 11:55] #3319 closed

[2021-08-05 12:10] ilyam8 commented on #3381
@davidmehren hey.

The title says "System Ram used" and it looks like you were discussing [ram_in_use](https://github.com/netdata/netdata/blob/a9769d8e413e73e3322aa59efcfaa48f023c5436/health/health.d/ram.conf#L16-L31) alarm.

But according to the OP, I think you were referring to [cgroup_ram_in_use](https://github.com/netdata/netdata/blob/a9769d8e413e73e3322aa59efcfaa48f023c5436/health/health.d/cg

[2021-08-05 12:13] #3703 closed

[2021-08-05 12:14] ilyam8 commented on #3907
Closing this feature request. We will re-evaluate the request internally.

[2021-08-05 12:14] #3907 closed

[2021-08-05 12:24] ilyam8 commented on #4591
Closing as `wontfix`, because `destination` configuration option syntax is properly described in https://learn.netdata.cloud/docs/metrics-storage-management/reference-streaming#destination

[2021-08-05 12:24] #4591 closed

[2021-08-05 12:26] ilyam8 commented on #5234
Closing this issue since it is a discussion and [not a problem caused by Netdata](https://github.com/netdata/netdata/issues/5234#issuecomment-703135543).

@XxLilBoPeepsxX consider opening a new issue.

[2021-08-05 12:26] #5234 closed

[2021-08-05 12:32] #5582 closed

[2021-08-05 12:32] ilyam8 commented on #5582
Issue moved to [netdata/dashboard #288](https://github.com/netdata/dashboard/issues/288) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-05 12:38] ilyam8 commented on #5663
Fixed in #11050

[2021-08-05 12:38] #5663 closed

[2021-08-05 12:46] ilyam8 commented on #5730
That is a minor issue, the fix is using the [`store_first` CHART option](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#chart) (see options).

[2021-08-05 12:46] #5730 closed

[2021-08-05 13:03] ilyam8 commented on #11397
Aug 04 15:01:03 marvin netdata[1509]: PROCFILE: Cannot open file '/sys/fs/cgroup/blkio/system.slice/snapperd.service/blkio.throttle.io_serviced'

@vlvkobal the problem is the severity level of the message ("error"). We log these messages on containers deletion. That is not an unexpected event. I think we don't even need to make it "info" level, but to not log at all ("errno 2, No such file or dire

[2021-08-05 15:21] jackyaz opened #11402 "netdata installed from repo is missing SSL support"
Installed today from https://packagecloud.io/netdata/netdata

[code]

[code]

[2021-08-05 17:16] #11402 closed

[2021-08-06 12:06] ilyam8 commented on #10306
Hey, @Andrew7374. We suggest using [dbengine](https://learn.netdata.cloud/docs/agent/database) (the default memory mode). Assuming that you collect 2000 metrics on your system, this should give you ~3 days of retention. Use [the calculator](https://learn.netdata.cloud/docs/store/change-metrics-storage) to have a more accurate estimation.

[2021-08-06 12:06] #10306 closed

[2021-08-06 12:21] ilyam8 commented on #11353
Hey, @noslav. Please, adjust the OP according to our [bug template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug_report.md), and update the title. It is not clear what the problem is.

[2021-08-06 12:21] #11353 closed

[2021-08-06 12:24] #11333 closed

[2021-08-06 12:40] ilyam8 commented on #11336
@vlvkobal we need to submit a fix to the https://github.com/schweikert/fping.

[2021-08-06 12:43] ilyam8 commented on #11325
Thanks, @FedericoCeratto!

[2021-08-06 12:43] #11325 closed

[2021-08-06 14:42] samrafalowski opened #11408 "View/Edit All Configured Alerts"
**Goal:**

See a complete list of all alerts in the Alerts Smartboard, including clear, warning, and critical. Each alert should be able to be edited, silenced, snoozed, and deleted from the UI. These configurations will be found in the right hand bar.

**Acceptance Criteria**

- As a user, I want to know if there are alerts associated with a node for a specific timeframe.
- As a user, I want to b

[2021-08-06 14:54] k0ste commented on #11336
@ilyam8 thanks, I was found where it in fping

[code]

I think this is format for netdata charts. If we replace underscores to dots - this may break netdata charts or alerts?

[2021-08-06 15:10] ilyam8 commented on #11336
I think we need to use unmangled value for the family, it won't break [stock fping alerts](https://github.com/netdata/netdata/blob/master/health/health.d/fping.conf).

The fix is pretty simple, we just need to use `h->host` instead of `h->name` as a family [in CHART](https://github.com/schweikert/fping/blob/d05a7e7bf981fd9f626a3ccef13d175b3b7de5b5/src/fping.c#L1665).

[2021-08-06 17:31] k0ste commented on #11336
Thanks, I was made https://github.com/schweikert/fping/pull/226, hope I was fixed the label in all the right places...

[2021-08-06 18:03] ilyam8 commented on #11336
@k0ste you can [build](https://github.com/schweikert/fping#installation) your version and try it

[2021-08-06 19:03] k0ste commented on #11336
@ilyam8, sure, I will do

[2021-08-07 08:03] k0ste commented on #11336
Build with fping path, now `family` label looks good:

[code]

Also, charts works and header of chart show dots between octets!

<img width="1040" alt="Screen Shot 2021-08-07 at 11 00 27" src="https://user-images.githubusercontent.com/7759548/128593361-cfc6cace-ec29-4a6f-8bae-1e1010af2091.png">

[2021-08-07 10:16] a-schaefers opened #11409 "Netdata is sometimes unable to restart"
On Ubuntu 18.04 and 20.04 servers I have found on multiple servers that sometimes `systemctl restart netdata` fails. The result is that sometimes I am not receiving alerts for things until it is too late because netdata is not being automatically restarted if it e.g. were to crash.

Here are my findings during debugging:

1. Netdata logs contain `Aug 05 18:38:55 server reset_netdata_trace.sh[24756

[2021-08-07 20:43] a-schaefers commented on #11380
@thiagoftsm Why does it look like something directly linked with Ubuntu?

[2021-08-07 20:48] a-schaefers commented on #11380
@void4  How do we know that netdata crashed your server, and not that your server ran out of resources and netdata just crashed along with your server?

[2021-08-07 22:11] a-schaefers commented on #11409
Regarding the graphical interface still working while systemd claims it's failed - the issue is very serious, because it is not fully functional. For example I have observed that the servers in this state are **not sending out alert emails**

[2021-08-08 06:32] void4 commented on #11380
I only know that this crash log preceded my server being down, I don't know more.

[2021-08-09 02:02] thiagoftsm commented on #11380
Firstly sorry for the delay to answer.

Let me explain the motive I suspected that this could be a problem with Ubuntu kernel, but of course I do not discard this was a RAM problem as you described. Right now Ubuntu 18.04 running kernel `4.18` is the unique kernel that we are rejecting to run eBPF.plugin, because according some users report the server was crashing, but considering that eBPF runs i

[2021-08-09 06:24] jacekkolasa commented on #3319
@ilyam8 thanks for closing, i confirm this is not happening anymore

[2021-08-09 08:37] void4 commented on #11380
Thank you! So far the issue has not occured again.

[2021-08-09 09:33] davidmehren commented on #3381
I can't look it up anymore, as we stopped running the `proc` plugin inside containers, but I'm pretty sure I was talking about the `ram_in_use` alarm. We ran netdata *inside* the container, so there shouldn't have been any cgroups to monitor.

[2021-08-09 09:58] davidmehren commented on #3381
I just enabled a default Netdata config inside one container. The container has 2 GB of RAM, but Netdata  still includes the ARC of the host in its calculations and arrives at completely ridiculous values for RAM usage:
![image](https://user-images.githubusercontent.com/5023650/128689458-541e20e8-0297-4a4d-b9c6-a629baa0ca1e.png)

[2021-08-09 10:50] davidmehren commented on #10871
I experience a similar problem in a streaming setup.
All child notes only have gray alarm badges.

If I set `health enabled by default = on` in `stream.conf` on the parent node, the alarms start working. Maybe the default of `auto` for this option is somehow broken?

[2021-08-09 14:11] stelfrag commented on #11409
Hi @a-schaefers. Thank you for reporting this!

- what version of netdata are you using?
- what was the installation method?

[2021-08-09 14:21] stelfrag commented on #10871
@davidmehren Can you share the parent `stream.conf` ?

I am interested to see if there is both a API key section (that sets the `health enabled by default`) and a machine guid section that has a `heath enabled` parameter.

[2021-08-09 14:31] davidmehren commented on #10871
We don't have anything child-specific configured, you can take a look at the template at https://gitlab.fachschaften.org/fsi-ansible/netdata-server/-/blob/master/templates/stream.conf.j2

[2021-08-09 14:48] stelfrag commented on #10871
@davidmehren thank you for the information.

We will try to reproduce. In the meantime, would it possible for you to share the netdata version running on the parent ? (netdata -v)

[2021-08-09 16:04] mailinglists35 commented on #9272
@ilyam8 I've been thinking about it during holiday while keeping getting email alerts on my phone. I think no matter how we try to tune the thresholds, we also need a third eye to detect false alarms.

I've submitted the idea here: https://community.netdata.cloud/t/false-alarms-detection/1607

[2021-08-09 21:21] spmsupun commented on #9346
Delete the volume if you use docker.

[2021-08-10 00:19] a-schaefers commented on #11409
netdata v1.31.0-165-nightly
we used the kickstart script

[2021-08-10 06:23] MrZammler commented on #11409
Hi @a-schaefers ! Can you please forward the `error.log` file (preferably if you can for the time the restart failed) to manolis at netdata dot cloud?

Thank you!

[2021-08-10 07:19] MrZammler commented on #11409
`reset_netdata_trace.sh` also fails on my test system (although not at the moment the main netdata binary), and we need to take a look at that... It could perhaps cause systemd to flag the service as failing.

[2021-08-10 08:02] stelfrag commented on #10871
The issue observed does not seem to be related to the `auto` option.

[2021-08-10 11:00] Rishabhraghwendra18 commented on #11305
@ilyam8 Sorry for late reply due to health issues I was not able to reply . No I haven't used `smartd_log` collector . I am first timer you can say . I will like to give it a try

[2021-08-10 12:31] susl16c opened #11414 "translation"
Where are the files for translation into other languages and what, if any, commands are used for this ?

[2021-08-10 12:31] Ferroin commented on #6932
Re-labeling this as a feature request per my above comment. I plan to tackle this by deagregating the Netdata packages to a greater degree as part of the followup work to the upcoming installation/updater overhaul.

[2021-08-10 12:32] Ferroin commented on #4303
This obviously did not get tackled back when I intended to. As of right now, it’s planned to be tackled as part of the overhaul of the installer/updater code.

[2021-08-10 12:34] Ferroin commented on #5052
Te aforementioned split dashboard package _may_ be done as part of the followup work after the installer overhaul.

@ilyam8 Other than the above bit, this can be collected for product to look at.

[2021-08-10 12:35] #6739 closed

[2021-08-10 12:35] Ferroin commented on #6748
Properly working offline install support will be added as part of the impending overhaul of our installer/updater code.

[2021-08-10 12:35] #6748 closed

[2021-08-10 12:38] Ferroin commented on #6847
This is planned as part of the followup work for the upcoming overhaul of the installer and updater code. Right now, the plan is to just worry about 32 and 64 bit ARM in our static builds and some binary packages. Longer term we _may_ add POWER8+ support as well.

[2021-08-10 12:39] Ferroin commented on #7127
Closing this due to a lack of reply. If it’s still an issue please comment here.

[2021-08-10 12:39] #7127 closed

[2021-08-10 12:40] Ferroin commented on #6848
@ilyam8 This can be punted to product for further evaluation.

[2021-08-10 12:41] Ferroin commented on #7146
No current plans to implement this.

[2021-08-10 12:41] #7146 closed

[2021-08-10 12:43] Ferroin commented on #7258
Closing this as it’s old and already answered. A decision was made to simply drop support for anything but static installs on Ubuntu 14.04 due to issues with dependencies.

[2021-08-10 12:43] #7258 closed

[2021-08-10 12:44] Ferroin commented on #7773
We still have plans to eventually implement this, it’s just not likely to happen any time soon.

[2021-08-10 12:45] Ferroin commented on #7631
This still needs some work, but is overall mostly just research that needs to be done so that we flag individual plugins with the correct capabilities.

[2021-08-10 12:46] Ferroin commented on #7820
No longer relevant.

[2021-08-10 12:46] #7820 closed

[2021-08-10 12:46] Ferroin commented on #7821
No longer relevant.

[2021-08-10 12:46] #7821 closed

[2021-08-10 12:47] Ferroin commented on #6847
Closing as a duplicate of #7824, which will be the canonical issue for this going forwards.

[2021-08-10 12:47] #6847 closed

[2021-08-10 12:59] Ferroin commented on #8488
This should hopefully be handled as part of the work on overhauling the installer/updater code.

[2021-08-10 13:00] Ferroin commented on #8766
I think this can be closed, as both the original question and the followup stuff have both been handled.

[2021-08-10 13:00] #8766 closed

[2021-08-10 13:01] Ferroin commented on #7930
We may want to consider this eventually, but the given use-case is not really something we support anyway, so closing it as wontfix  for the time being.

[2021-08-10 13:01] #7930 closed

[2021-08-10 14:38] Ferroin commented on #8820
Can you confirm if this is still an issue or not?

[2021-08-10 14:42] Ferroin commented on #9380
Closing as `wontfix` based on the reasoning in https://github.com/netdata/netdata/issues/9380#issuecomment-647702190.

[2021-08-10 14:42] #9380 closed

[2021-08-10 14:42] Ferroin commented on #9528
Closing due to lack of response and inability to reproduce the issue.

[2021-08-10 14:42] #9528 closed

[2021-08-10 14:43] Ferroin commented on #9594
Closing this as it appears to be solved.

[2021-08-10 14:43] #9594 closed

[2021-08-10 14:44] Ferroin commented on #9677
Closing as `wontfix` since we simply cannot fix it.

[2021-08-10 14:44] #9677 closed

[2021-08-10 16:41] paper42 opened #11415 "example.com/netdata (without / at the end) gets stuck at the loading screen"
##### Bug report summary

When I go to example.com/netdata/, everything loads fine, but when I go to example.com/netdata (without / at the end), netdata tries to load resources from example.com/ instead of example.com/netdata/ and fails which results in an infinite loading screen.

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

an OpenWrt package updated

[2021-08-10 16:48] paper42 opened #11416 "netdata --version returns the version of the OS"
##### Bug report summary

`netdata --version` returns the version of the OS, not version of netdata. This used to work in 1.30.0. Is there a way to overwrite the version string at build-time by the build system?

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

OpenWrt package updated to 1.31.0

##### Component Name

both cli and web

##### Steps To Reprodu

[2021-08-10 17:20] #11346 closed

[2021-08-10 20:01] thiagoftsm commented on #11409
Hello @MrZammler ,

This script is not necessary, because we are using now `libbpf`, this was used only with the first eBPF versions.

[2021-08-11 08:55] hugovalente-pm opened #11417 "Custom Dashboards Charts 2.0 - Product & Design QA"

[2021-08-11 08:56] #11417 closed

[2021-08-11 09:53] MrZammler commented on #11409
Thanks @thiagoftsm ! So we should probably remove it?

I don't think the script is the one causing the fail to the main netdata binary, as the pids show, it seems maybe like the old instances of netdata did not shutdown gracefully... We'll need to look the `error.log` for any clues...

[2021-08-11 10:06] dw130 opened #11418 "Netdata collector in Go only support int64 value"
![image](https://user-images.githubusercontent.com/43978442/129010882-1ae404eb-d7ad-4cc2-b1d6-4c5508fce8eb.png)

I think float is better

O(∩_∩)O

[2021-08-11 11:06] thiagoftsm commented on #11409
I think so, I will make a PR for this.

[2021-08-11 16:15] amit-punjabi commented on #7304
I have updated the bash version on my machine and can see version > 4 when I do `bash --version`.

However, the alarm script is still picking the older bash version. @warrenkerrigan can you please share how did you force alarm script to use updated bash? Thanks in advance! :)

[2021-08-11 17:11] amit-punjabi commented on #7304
Ahhh that seems to do the trick! Thanks a ton @warrenkerrigan!

[2021-08-11 18:34] a-schaefers commented on #11409
I'm still trying to find time to get that `error.log` file for you guys. Sorry for the delay. Stay tuned.

[2021-08-11 23:28] diizzyy commented on #11416
This is most likely due to https://github.com/netdata/netdata/issues/11214

[2021-08-12 04:19] smdx opened #11428 "On the problem of rate unit display"
Hello, everyone
Can you provide options for different fixed units when setting up a fixed unit? For example, kilobytes/s, KB/s, MB/s, etc. . Manually modifying the config document is too difficult for the average user. Thank you

##### OS / Environment
Linux OpenWrt 5.10.51

##### Netdata version
netdata 1.30.1-1

[2021-08-12 08:46] dex4er opened #11430 "Error: Package: netdata-1.31.0-1.el7.x86_64 (epel)"
##### Bug report summary

I cannot install netdata on CentOS 7.

[code]

[code]

[code]

[2021-08-12 10:29] paper42 commented on #11416
yes, this seems to be a duplicate of #11214, because patching configure.ac fixes it

[2021-08-12 10:29] #11416 closed

[2021-08-12 11:41] ShreeshT opened #11431 "Agent installation issue- netdata-installer.sh failed to build"
#### Summary

I am trying to install Netdata agent using kickstart.sh and its failing with below error:

configure: error: libuv required but not found. Try installing 'libuv1-dev' or 'libuv-devel'.
 FAILED

I am attaching complete output here. Please help.
[installer script output.docx](https://github.com/netdata/netdata/files/6975156/installer.script.output.docx)

[2021-08-12 12:27] ShreeshT commented on #11431
Issue has been resolved by installing packages separately.

[2021-08-12 14:10] MrZammler commented on #11409
Hi @a-schaefers , sorry for not mentioning it, it should be under `/var/log/netdata/`. If there are also rotated `error.log`, we could use them as well. Thanks!

[2021-08-12 14:28] dex4er commented on #11430
No, it is fresh install. Do you mean that I should explicitely remove EPEL repo from yum.d?

[2021-08-13 00:29] brizzbane commented on #9358
This is still not implemented, correct?

[2021-08-13 11:33] 0x3333 opened #11434 "apcupsd status check inconsistent"
##### Bug report summary

In the apcupsd script, it has been changed in PR #8688 to replace a check if the `ups` is online from "ONLINE" and "ONBATT" to "COMMLOST" or "SHUTTING DOWN", but the `awk` script has not been changed accordingly.

In my case, when the nobreak is on status "TRIM ONLINE", the script thinks it is not online and raises an alarm.

The alarm:
![Screen Shot 2021-08-13 at 08 28 2

[2021-08-13 13:36] 643406834 opened #11436 "Netdata no docker monitored"
##### Bug report summary
no docker monitor
![image](https://user-images.githubusercontent.com/39716940/129364454-9f67b99f-07a2-44a2-b5bd-dfc383fb4baf.png)

##### OS / Environment
openwrt liunx router x64
![image](https://user-images.githubusercontent.com/39716940/129364548-7fcb7afa-0761-4caf-9745-5c7f25bc25a4.png)

[code]

##### Netdata version
netdata | 1.30.1-1
docker | 20.10.7-1
![image](https:

[2021-08-13 14:11] dex4er commented on #11430
Ok, it looks like disabling EPEL fixed thing. But this is some obscure workaround. Maybe you should upload the package with greater number of version than this from EPEL? Probably in this case packagecloud's package will be prefered.

[2021-08-13 16:51] Ferroin commented on #11430
We’re working on an overhaul to our installation method, including a complete rework of how we handle binary package installation, that should eliminate this in the first place.

[2021-08-14 12:58] araemo commented on #8820
I just pulled my manual edit out of the systemd config, and will report back after watching for this error for a while.

[2021-08-14 15:14] #11436 closed

[2021-08-14 15:33] ilyam8 commented on #11436
Hey, @643406834, what was the problem?

[2021-08-14 21:52] 643406834 commented on #11436
solved：
[plugins]
	cgroups = yes

[plugin:cgroups]
	cgroups plugin resource charts = yes
	update every = 2
	check for new cgroups every = 10
	use unified cgroups = yes
	path to unified cgroups = /sys/fs/cgroup

[2021-08-16 06:37] #11434 closed

[2021-08-16 09:46] ilyam8 commented on #11428
Hi, @smdx.

Netdata's Dashboard has Scale Units feature

It is enabled by default. Can be disabled via "Dashboard options => Locale => Scale Units".

<details>
<summary>screenshot [click]</summary>

<img width="1262" alt="Screenshot 2021-08-16 at 12 43 29" src="https://user-images.githubusercontent.com/22274335/129544284-19cbdcf2-8fe9-4e73-8b6b-204044c19b01.png">

</details>

The list of scalable

[2021-08-16 10:31] smdx commented on #11428
Hello, thank you for your reply. I mean the fixed rate unit selection for network traffic (such as KB/s, MB/s) is provided after you switch to the fixed unit for the Locale page, now you need to modify netdata.a if you want to fix the rate display KB/s. Conf, which is a bit difficult for the average user.

[2021-08-16 10:46] olivluca commented on #8882
I was going to upgrade a test machine from debian 10 to debian 11 but I see that there are still no packages for it, (I only checked for https://packagecloud.io/netdata/netdata/packages/debian/bullseye/netdata-repo_1-1_all.deb)

[2021-08-16 11:55] Ferroin commented on #8882
@olivluca Yeah, we’re having issues getting them to build correctly in CI at the moment. I’m hoping to get the PR including all of CI related to Debian 11 merged some time today or tomorrow, but it may be a while before we have binary packages working correctly.

[2021-08-16 14:21] thiagoftsm opened #11439 "Update eBPF documentation and dashboard navigation"
#### Description

eBPF team and product team are working together to improve navigation and our documentation. When this issue is closed, we expect:

-  To have all functions that we are monitoring described in our documentation.
-  Easy navigation between correlated charts
-  To remove the eBPF menu from our dashboard.
-  To have an entry for `ebpf.d.plugin` under `Netdata monitoring` submenu.

#

[2021-08-16 17:47] ilyam8 commented on #11428
@smdx you want to manually set units for specific charts? For instance, network charts to be in MiB/s (and doesn't scale to KiB/GiB). Am I right?

That is possible, but as you said _a little hard_. I agree, in order to do it, you need

- disable "Scale Units"
- set units to desired units in the "netdata.conf` for the chart + modify multiplier,divisor

That sounds like a feature request, not a bug.

[2021-08-16 17:47] #11428 closed

[2021-08-16 18:42] ilyam8 commented on #6848
Closing this feature request. We will re-evaluate the request internally.

[2021-08-16 18:42] #6848 closed

[2021-08-16 18:43] ilyam8 commented on #5052
Closing this feature request. We will re-evaluate the request internally.

[2021-08-16 18:43] #5052 closed

[2021-08-17 13:29] ilyam8 commented on #2736
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-17 13:29] #2736 closed

[2021-08-17 13:42] ilyam8 commented on #3317
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-17 13:42] #3317 closed

[2021-08-17 13:48] ilyam8 commented on #3593
@stelfrag please, verify the bug.

[2021-08-17 13:57] ilyam8 commented on #3624
Closing this feature request. We will re-evaluate the request internally.

[2021-08-17 13:57] #3624 closed

[2021-08-17 14:01] ilyam8 commented on #3816
Closing this feature request. We will re-evaluate the request internally.

[2021-08-17 14:01] #3816 closed

[2021-08-17 14:11] ilyam8 commented on #3891
@timothynfarmer, hi. We tried to reproduce this issue using v1.31.0, but there is no problem. The parent instance exposes metrics for all its children.

[2021-08-17 14:11] #3891 closed

[2021-08-17 14:14] ilyam8 commented on #4366
@jacekkolasa can you comment if that is still an issue?

[2021-08-17 20:56] dudztroyer commented on #4812
Just in case someone is needing the updated collector for PgBouncer with SHOW STATS;, I've updated @jweede collector and tweaked some stuff. The configuration file should be as:

[code]

[2021-08-18 13:11] #8882 closed

[2021-08-18 13:11] Ferroin commented on #8882
OK, we’ve _finally_ got the CI and packaging working. Debian 11 packages should be available for nightly builds starting from tonight’s nightly and for stable builds starting from the next release.

[2021-08-18 22:47] pnunn opened #11443 "netdata-updater failing on all of my systems with /lib/cpp failes sanity check"
##### Bug report summary

netdata is trying to run the updater from cron and failing.

Large amounts of output that seems to work, stuff built OK etc.
Gets to protobuf and fails with the error
checking how to run the C preprocessor... gcc -E
checking how to run the C++ preprocessor... /lib/cpp
configure: error: in `/tmp/netdata-protobuf-kTxGOH/protobuf-3.17.3':
configure: error: C++ preprocessor "

[2021-08-19 07:13] MrZammler commented on #11443
Hi @pnunn , thank you for your report, we will look into it as soon as possible.

[2021-08-19 08:14] underhood commented on #11443
The correct behavior should be for installer to continue even if protobuf fails to build. Autotools can afterwards either use system protobuf in case `detect` used or disable ACLK-NG altogether.

@Ferroin I think we have to change this in installer and I will retest behavior of autotools to make sure it works as expected

[2021-08-19 08:14] underhood commented on #11443
@pnunn as @MrZammler mentioned above installing C++ compiler will fix the issue

[2021-08-19 13:32] ilyam8 commented on #4394
Closing this feature request. We will re-evaluate the request internally.

[2021-08-19 13:32] #4394 closed

[2021-08-19 13:33] ilyam8 commented on #4431
Closing this feature request. We will re-evaluate the request internally.

[2021-08-19 13:33] #4431 closed

[2021-08-19 13:35] #4438 closed

[2021-08-19 13:35] ilyam8 commented on #4509
Not relevant anymore

[2021-08-19 13:35] #4509 closed

[2021-08-19 13:36] ilyam8 commented on #4514
Not relevant anymore

[2021-08-19 13:36] #4514 closed

[2021-08-19 13:39] ilyam8 commented on #4824
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:39] #4824 closed

[2021-08-19 13:40] ilyam8 commented on #4830
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:40] ilyam8 commented on #4835
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:40] #4835 closed

[2021-08-19 13:41] ilyam8 commented on #4837
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:41] #4837 closed

[2021-08-19 13:41] ilyam8 commented on #4840
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:41] #4840 closed

[2021-08-19 13:41] ilyam8 commented on #4853
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:41] #4853 closed

[2021-08-19 13:42] ilyam8 commented on #4862
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:42] #4862 closed

[2021-08-19 13:42] ilyam8 commented on #4871
Closing this feature request. If someone is still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 13:42] #4871 closed

[2021-08-19 13:43] #4876 closed

[2021-08-19 13:44] #4830 closed

[2021-08-19 13:45] #5041 closed

[2021-08-19 13:46] #5086 closed

[2021-08-19 13:49] ilyam8 commented on #5255
Not relevant anymore

[2021-08-19 13:49] #5255 closed

[2021-08-19 14:00] ilyam8 commented on #5942
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-08-19 14:00] #5942 closed

[2021-08-19 14:11] ilyam8 commented on #6015
Closing this feature request. We will re-evaluate the request internally.

[2021-08-19 14:11] #6015 closed

[2021-08-19 14:25] #6310 closed

[2021-08-19 14:46] #6674 closed

[2021-08-20 01:58] pnunn commented on #11443
Thanks guys. Not sure this is a great answer. I'm not sure I want a c++ compiler living in my firewall.

[2021-08-20 08:44] ilyam8 commented on #8555
@FedericoCeratto we use `/etc/netdata/python.d/` for configuration files. Which directory do you think will do for custom python modules? `/etc/netdata/python.d/modules/`?

[2021-08-20 09:11] ilyam8 commented on #8555
@Ferroin which directory could we use for custom python modules?

[2021-08-20 09:40] #6679 closed

[2021-08-20 09:40] #6716 closed

[2021-08-20 09:41] #6720 closed

[2021-08-20 09:41] #6719 closed

[2021-08-20 09:41] #6718 closed

[2021-08-20 09:46] ilyam8 commented on #6723
Closing this issue, because it looks like a very low priority.

[2021-08-20 09:46] #6723 closed

[2021-08-20 10:18] ilyam8 commented on #7122
Closing this feature request. We will re-evaluate the request internally.

[2021-08-20 10:18] #7122 closed

[2021-08-20 10:49] FedericoCeratto commented on #8555
`/etc/` is not meant for scripts. The directories for custom plugins could be configurable and perhaps default to `/opt/netdata/python.d/` and `/usr/lib/netdata/python.d/` or similar.

[2021-08-20 11:17] Ferroin commented on #11443
@underhood The current behavior in the installer _should_ be to only fail the install on a failure to build protobuf if the `--require-cloud` flag was passed. Otherwise we just log the error and report it at the end of the install.

@pnunn Could you share the contents of `/etc/netdata/.environment` (assuming you’ve installed without setting a custom install prefix) on an affected system?

[2021-08-20 12:01] Ferroin commented on #11443
NVM, per discussion with @underhood on Slack, the current behavior is incorrect, so a PR will be forthcoming shortly to fix it.

[2021-08-20 12:45] Ferroin commented on #8555
@ilyam8 It should be something under `/usr/lib/netdata` if it’s for Netdata specifically. The bigger issue is our broken handling of Python site directories, we currently do not have the same module search path when running the `python.d` plugin from the agent and when running an interactive shell as the Netdata user, which means that you can’t just start a shell as the Netdata user and `pip insta

[2021-08-23 12:22] samrafalowski opened #11448 "Alerts Smartboard Timeline"
**Goal**
As a user, I want to be able to view a timeline of all historical alerts that have been raised. I want to be able to select and zoom in on specific parts of the timeline to better troubleshoot issues in my node. I want to be able to see a highlight in accordance to when the alert was first raised as a warning (yellow highlight) and when the alert was raised as critical (red highlight).

*

[2021-08-23 13:49] #7356 closed

[2021-08-23 14:32] ilyam8 commented on #7650
Closing this issue, because it is Ubuntu 16 specific problem (deleting a VM doesn't remove the corresponding cgroup).

[2021-08-23 14:32] #7650 closed

[2021-08-23 14:34] ilyam8 commented on #7657
Closing this feature request. We will re-evaluate the request internally.

[2021-08-23 14:34] #7657 closed

[2021-08-23 16:28] #8343 closed

[2021-08-24 12:21] jacekkolasa commented on #4366
@ilyam8 thanks for closing, this ticket was created before the big refactor last year, i think it's no longer an issue

[2021-08-24 14:18] #8526 closed

[2021-08-24 14:20] #8600 closed

[2021-08-24 14:31] ilyam8 commented on #8689
Closing this issue. The warning was added in #8686. We will rewrite the collector in go.

[2021-08-24 14:31] #8689 closed

[2021-08-24 18:09] vitabaks opened #11453 "Problem with Netdata on the PostgreSQL database with cascading replication"
##### Bug report summary

When installing and configuring Netdata for monitoring the local postgres database configured in the cascade replication mode, there are simply no postgres charts in the netdata dashboard.

When debugging the postgres module, we observe the following error:
[code]
The following errors are found in the PostgreSQL logs:
[code]

SQL Statement
[code]

https://github.com/netda

[2021-08-24 18:59] ilyam8 commented on #11453
Hi, @vitabaks. Thanks for reporting the problem.

@anayrat, hi, as always, your help would be appreciated. Any ideas what's happening?

[2021-08-25 06:40] #9059 closed

[2021-08-25 08:04] anayrat commented on #11453
Indeed, I was able to reproduce the issue:

- Create a replication slot on a standby
- execute the above query
This remind me this issue from another project: https://github.com/OPMDG/check_pgactivity/issues/203

[2021-08-25 08:21] ilyam8 commented on #11453
Thanks! Can you suggest a fix:
 - do not execute the query on a standby
 - modify the query

I checked the referenced issue, and it looks like we need 2nd. Any chance you can submit a PR?

[2021-08-25 08:31] anayrat commented on #11453
@vitabaks can you try with this fix? https://github.com/netdata/netdata/pull/11455/commits/fac3ff725aede8f8f36e34f8131e401120427606

[2021-08-25 09:03] vitabaks commented on #11453
@anayrat thanks!

I replaced the file postgres.chart.py (with your changes) and restarted the netdata service, but there are still no postgres charts on standby leader.
Here is the error that I see when debugging:

[code]

[2021-08-25 09:42] ilyam8 commented on #11453
@anayrat I am not sure, I googled the problem and the fix is

[2021-08-25 10:16] vitabaks commented on #11453
yes it works

[code]

[2021-08-25 10:35] anayrat commented on #11453
oh, sorry for the error, I pushed the last version with `%%`

[2021-08-25 11:10] #11443 closed

[2021-08-25 12:26] #11453 closed

[2021-08-25 15:11] #9110 closed

[2021-08-25 15:11] ilyam8 commented on #9110
Issue moved to [netdata/netdata-cloud #131](https://github.com/netdata/netdata-cloud/issues/131) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-25 15:16] #9163 closed

[2021-08-25 15:20] #9229 closed

[2021-08-25 15:21] ilyam8 commented on #9231
Duplicate of #4366

[2021-08-25 15:21] #9231 closed

[2021-08-25 15:22] ilyam8 commented on #9259
Issue moved to [netdata/netdata-cloud #132](https://github.com/netdata/netdata-cloud/issues/132) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-25 15:23] ilyam8 commented on #9267
Closing because Fedora 31 is EOL.

cc @underhood

[2021-08-25 15:28] ilyam8 commented on #9229
Will be possible to install Netdata Agent on a RPi using our packagecloud repo after https://github.com/netdata/netdata/pull/10769 is merged.

[2021-08-25 21:49] anandio-ml opened #11456 "edit-config fails if zsh is not installed"
##### Bug report summary

As a bash user (yes!) following the documentation and trying to configure health alerts, the edit-config command gives an syntax error:

michael@build:/etc/netdata$ sudo ./edit-config health.d/cpu.conf
./edit-config: 7: /etc/profile.d/bash_aliases.sh: Syntax error: "(" unexpected
michael@build:/etc/netdata$

When using zsh explicitly, like:

sudo zsh ./edit-config health.

[2021-08-26 16:50] Ferroin opened #11460 "[Bug]: Official RPM packages fail to install inside openSUSE Docker images."
##### Bug report summary

When attempting to install our official RPM packages on openSUSE in a Docker container, the installation fails due to the container not running systemd.

##### OS / Environment

Any version of openSUSE running in a Docker container that we build a RPM package for (currently leap 15.2 and Leap 15.3).

##### Netdata version

Any

##### Installation method

Native RPM packag

[2021-08-27 08:45] #11456 closed, assigned to nobody

[2021-08-27 15:16] #9806 closed, assigned to joelhans

[2021-08-27 15:47] jesayafn opened #11464 "Failed to write new machine GUID. Please make sure you have rights to write to /var/lib/netdata/registry/netdata.public.unique.id."
##### Bug report summary

##### OS / Environment: Ubuntu 20 LTS

[code]

##### Netdata version
netdata v1.31.0-222-nightly

##### Installation method

One line script
##### Component Name

##### Steps To Reproduce

1. Install the netdata
2. Claim the node but failed to claim the node
`Failed to write new machine GUID. Please make sure you have rights to write to /var/lib/netdata/registry/netdata.p

[2021-08-27 15:50] #11464 closed, assigned to nobody

[2021-08-27 17:00] jessie-txt opened #11468 "Fail to collect HAProxy stats site"
##### Bug report summary

##### OS / Environment: Ubuntu 20

[code]

##### Netdata version
netdata v1.31.0-222-nightly

##### Installation method
One line script

##### Component Name
`python.d/haproxy.conf`

##### Steps To Reproduce

1. Following guide in https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/haproxy with a little modification (username, oassword, port, url)
2. Not sho

[2021-08-28 00:57] araemo commented on #8820
This error still exists.  My error.log is spammed with
`postdrop: warning: mail_queue_enter: create file maildrop/747866.169215: Read-only file system`
again.

[2021-08-29 22:48] camoz commented on #3203
In case someone is interested, here's a link to the mentioned discussion on the btrfs mailing list: [Recommendations for balancing as part of regular maintenance?](https://www.mail-archive.com/linux-btrfs@vger.kernel.org/msg71971.html)

[2021-08-30 06:59] ilyam8 commented on #5897
Percona exporter "mongosMetrics" vs proposal

| Metric      | Collect    |
| ----------- | ----------- |
| Total number of sharded databases ()      | Title       |
| Paragraph   | Text        |

[2021-08-30 18:24] ilyam8 commented on #7879
Hi, @ekexcello. I have a question

Why do we need that? Why is that query so special we need its fetch time? Сan it take a long time?

[2021-08-30 18:43] #7879 closed

[2021-08-31 10:28] ekexcello commented on #7879
Hello @ilyam8
The reason for measuring time for fetching processlist is that from one side this is done by query and from another side, this doesn't require opening any (table) files. In same time, this query provides enough details to analyze status of other queries. Thus, in case time to fetch processlist is tiny but time of longest running query is several seconds or more, this would mean that

[2021-08-31 10:42] bnesbitt opened #11472 "Core on shutdown - Red Hat 7.9"
##### Bug report summary

Intermittent coring observed on shutdown on Red Hat 7.9. It's hard to reproduce every time unfortunately:
`(gdb) bt
#0  0x00007f9f194e5387 in raise () from /lib64/libc.so.6
#1  0x00007f9f194e6a78 in abort () from /lib64/libc.so.6
#2  0x00007f9f19ec414b in uv_async_send () from /lib64/libuv.so.1
#3  0x0000000000421770 in commands_exit () at daemon/commands.c:717
#4  signal

[2021-08-31 10:54] ilyam8 commented on #7879
Ok, I see, thanks for the detailed response. We have [slow_queries](https://dev.mysql.com/doc/refman/8.0/en/server-status-variables.html#statvar_Slow_queries), which indicates the system is overloaded (measured in real-time, not CPU time) or MySQL itself requires some tuning.

I am thinking that it probably makes sense to add fetch time for [all the queries we execute](https://github.com/netdata/g

[2021-08-31 12:09] Ferroin opened #11473 "Static build artifact filenames should include the build architecture."
This is required for sane handling of multiarch support for static builds in the installer.

[2021-08-31 13:14] Ferroin commented on #11472
To clarify, did you install through EPEL, or through [our official repositories](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/packages)?

[2021-08-31 13:19] bnesbitt commented on #11472
Hi,

Yes I got the RPM from the official repo https://packagecloud.io/netdata/netdata, in particular: **netdata-1.31.0-1.el7.x86_64**
https://packagecloud.io/netdata/netdata/packages/el/7/netdata-1.31.0-1.el7.x86_64.rpm

Regards
Brian.

[2021-08-31 14:10] ilyam8 commented on #9891
Closing because Centos6 is EOL

[2021-08-31 14:10] #9891 closed

[2021-08-31 14:20] ilyam8 commented on #9921
@parenok, hi. Can you re-test claiming?

[2021-08-31 14:31] ilyam8 commented on #9940
As @Ferroin said, the docs and the help are correct. Closing this issue.

As for "experience is inconsistent", which i am agree with, we need to open a new issue.

[2021-08-31 14:31] #9940 closed

[2021-08-31 14:44] ilyam8 commented on #9981
Closing this as "wontfix", because, as @Saruspete [correctly mentioned](https://github.com/netdata/netdata/issues/9981#issuecomment-743133964), the default behaviour of the `freeipmi` plugin is correct and the problem is likely with the firmware.

If someone wants to make a PR with [the suggested workaround](https://github.com/netdata/netdata/issues/9981#issuecomment-743763727) - feel free to do.

[2021-08-31 14:44] #9981 closed

[2021-08-31 14:51] ilyam8 commented on #10033
Tested the kickstart script on a clean ubuntu 20.04, can't reproduce the problem. Closing the issue.

[2021-08-31 14:51] #10033 closed

[2021-08-31 14:51] #10090 closed

[2021-08-31 14:51] ilyam8 commented on #10090
Issue moved to [netdata/dashboard #297](https://github.com/netdata/dashboard/issues/297) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-31 15:06] ilyam8 commented on #10116
No longer the issue.

[2021-08-31 15:06] #10116 closed

[2021-08-31 15:10] #10175 closed

[2021-08-31 15:10] ilyam8 commented on #10175
Issue moved to [netdata/dashboard #298](https://github.com/netdata/dashboard/issues/298) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-01 12:06] parenok commented on #9921
Hi. Node was claimed successful.

[2021-09-01 12:08] ilyam8 commented on #10187
We will discuss "Install Netdata on pfSense" guide problem internally. Keeping the list of required packages up to date is not possible.

[2021-09-01 12:08] #10187 closed

[2021-09-01 12:26] ilyam8 commented on #10219
Closing due to no response. The OS crash may be due to a bad SD card. @ilyesm, if you still have a problem when installing Netdata, please let us know.

[2021-09-01 12:26] #10219 closed

[2021-09-01 12:28] ilyam8 commented on #10233
No longer the case. #11222

[2021-09-01 12:28] #10233 closed

[2021-09-01 12:32] ilyam8 commented on #10250
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-09-01 12:32] #10250 closed

[2021-09-01 12:40] ilyam8 commented on #10260
Closing due to no response. @fayak if you still experiencing the problem with the current stable version (v1.31.0), please let us know and we will continue the investigation (keep in mind that we still will need you to compile Netdata with `NETDATA_INTERNAL_CHECKS`).

[2021-09-01 12:40] #10260 closed

[2021-09-01 12:42] ilyam8 commented on #10272
The problem is invalid YAML syntax in the `ceph.conf`. Closing due to no response.

[2021-09-01 12:42] #10272 closed

[2021-09-01 13:02] ilyam8 commented on #10309
Closing this feature request. We will re-evaluate the request internally.

[2021-09-01 13:02] #10309 closed

[2021-09-01 13:15] ilyam8 commented on #9921
Thanks for the quick answer!

[2021-09-01 13:15] ilyam8 commented on #9921
Closing this issue, because we can't reproduce it and there is no other users report the same problem and it appears to be working for @parenok now.

[2021-09-01 13:15] #9921 closed

[2021-09-01 13:20] georgeok commented on #5897
@ilyam8 Yes this table looks correct. balancerEnabled and chunksBalanced are boolean and I don't how we can properly display it. I think we will get `Total number of chunks` because the `Shard chunks` chart is a stack chart. And we could also get `Total number of drainingshards` relatively easy.

[2021-09-01 13:22] Ferroin commented on #7824
https://github.com/netdata/netdata/pull/11463 is probably of interest to anyone who is following this issue as it lays the ground work for multi-arch support in CI for our static builds (specifically, it covers the first two things mentioned in my above comment).

[2021-09-01 14:47] ilyam8 commented on #5897
Well, `0` or `1` will do.

All is good then, let's proceed to adding those metrics

[2021-09-01 18:15] kpapadatos opened #11477 "node.d is not running"
##### Bug report summary

`node.d` is not running. When I run it manually it seems to run but charts return 404.

##### /etc/netdata/netdata.conf (plugins section):
[code]

##### `ps fax`:
[code]

##### Custom Dashboard:
![image](https://user-images.githubusercontent.com/3382344/131722288-4c7002a5-9d3e-449f-98c1-03b8aa89bd41.png)

##### /usr/libexec/netdata/node.d/cx.node.js:
[code]

##### /usr/sh

[2021-09-01 20:06] realdevnullius opened #11478 "netdata installation fails on ubuntu 20.04 with curl: (23) Failure writing output to destination (but /tmp is full access for everyone, with sticky 't' enabled)"
`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`
 gives
[code]

##### Bug report summary

I can't install. Somehow curl insists I don't have the proper permission (either as root or as the principle user roet), which is incorrect:
[code]
The folder `/tmp/netdata-kickstart-xGmP9b9BUx` does get created and it's no problem to cat  > blah something. There are just no files  in it.

If I do `curl

[2021-09-01 20:19] realdevnullius commented on #11478
If I manually download kickstart.sh and run it, I get this:
[code]

[2021-09-01 20:21] realdevnullius commented on #11478
This seems to be getting me somewhere (though original problem remains!)

[code]

[2021-09-01 20:22] realdevnullius commented on #11478
`All Done! - Now proceed to the next step.`
 Next step is  figuring out what the next step IS I suppose :)

[2021-09-01 20:27] realdevnullius commented on #11478
[code]
No luck so far though...

[code]

[2021-09-02 08:29] MrZammler commented on #11478
Hi @realdevnullius, thanks for your report!

This is a bit strange.... I assume you've already tried when `/tmp` is set to `root:root` permissions... (And that `/tmp` does have the space required). Can you try please these steps to see what might be wrong?

Try `mktemp -d -t test-XXXXXXXXXX`. This will return the real name of the directory.
Try then a `curl -q -sSL --connect-timeout 10 --retry 3 -

[2021-09-02 11:44] ilyam8 commented on #10337
Closing this issue, the fix is https://github.com/netdata/netdata/issues/10337#issuecomment-742695375

[2021-09-02 11:44] #10337 closed

[2021-09-02 11:49] ilyam8 commented on #10367
Cleaning up the issues.

@gregjhogan sorry for the delay. If are you still experiencing this behavior, please let us know.

[2021-09-02 11:49] #10367 closed

[2021-09-02 12:08] ilyam8 commented on #10413
Docker engine restarts the container according to [the Restart Policy](https://docs.docker.com/config/containers/start-containers-automatically/#use-a-restart-policy) (which is `unless-stopped` in our documentation). Since your docker commands stop working it looks like there is a problem with the docker engine - it doesn't respond.

We can't reproduce the issue.

[2021-09-02 12:08] #10413 closed

[2021-09-02 12:32] ilyam8 commented on #10431
Cleaning up issues.

@fate8383 if you still experience this issue consider using our [Discord channel](https://discord.gg/mPZ6WZKKG2). There are people who can answer/help you.

[2021-09-02 12:32] #10431 closed

[2021-09-02 12:33] #10435 closed

[2021-09-02 12:34] #10449 closed

[2021-09-02 12:39] ilyam8 commented on #10499
Cleaning up the issues.

Using python3 is a requirement according to the collector [documentation](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/anomalies#requirements).

[2021-09-02 12:39] #10499 closed

[2021-09-02 12:39] ilyam8 commented on #10512
No longer relevant.

[2021-09-02 12:39] #10512 closed

[2021-09-02 12:41] ilyam8 commented on #10534
Closing due to no response. @cstrouse thanks for sharing the fix 👍

[2021-09-02 12:41] #10534 closed

[2021-09-02 12:44] ilyam8 commented on #10554
Issue moved to [netdata/dashboard #299](https://github.com/netdata/dashboard/issues/299) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-02 12:44] #10554 closed

[2021-09-02 13:54] Ferroin commented on #11478
There’s a possibility that there are per-user temp directories set up in this case, and I don’t know if we handle that properly or not.

Also, you probably want to uninstall the copy of netdata installed through the package manager before going any further, it’s very likely that you’ll end up with a broken install of netdata if you have mixed install methods like that.

Alternatively, if you’re on

[2021-09-05 01:32] schklom commented on #11069
Hey, I upgraded to Debian 11 and cgroup v2 is now active. The problem is that I still cannot see any sign of Docker containers on Netdata.

I think it is because Rootless Docker doesn't create files `/sys/fs/cgroup/cpuacct/docker /sys/fs/cgroup/cpuset/docker /sys/fs/cgroup/memory/docker /sys/fs/cgroup/blkio/docker /sys/fs/cgroup/devices/docker`.
`find /sys/fs/cgroup/ -name "docker"` gives me nothi

[2021-09-05 12:45] realdevnullius commented on #11478
(I'll be back - sorry for the delay!)

[2021-09-05 13:47] realdevnullius commented on #11478
So let's start with that cleanup first:
[code]

[2021-09-05 13:58] realdevnullius commented on #11478
Sure. I first did a rm -Rf /tmp/*, then I did this:
[code]

[code]

[code]

No, thank YOU! :) Appreciated!

[2021-09-05 14:00] realdevnullius commented on #11478
[code]
I won't post all the output :)

[2021-09-05 14:02] realdevnullius commented on #11478
Nice tip, I just wish you could search on the linux distribution too... In my case, Ubuntu 20.04 :)

[2021-09-05 14:09] realdevnullius commented on #11478
Ubuntu 20.04 works with DEBIAN binary packages, so for a .deb netdata installation I followed these instructions:
[code]
Testing next if this got it installed :)

[2021-09-05 14:13] realdevnullius commented on #11478
Apparently, this didn't really do anything?

[code]
I'm once again open for suggestions :)

[2021-09-05 14:18] realdevnullius commented on #11478
Just for giggles I'll try the original approach again - without having fixed anything special up to now:
[code]

[2021-09-05 14:20] realdevnullius commented on #11478
For the record: the server hasn't rebooted since originally posting my problem, but it looks all is working well now??!
[code]

[2021-09-05 14:26] realdevnullius commented on #11478
There were some remarks and errors towards the end... But I think it should all be working now. I'll follow the RAM suggestion next too.
[code]

[2021-09-05 14:34] realdevnullius commented on #11478
I can confirm :) I'm not sure how we solved it though. The only thing I hadn't done previously, is this: `curl -s https://packagecloud.io/install/repositories/netdata/netdata/script.deb.sh | sudo bash`. Could that have solved it somehow?

[2021-09-05 14:36] realdevnullius commented on #11478
Looking back at  my previous logs, no it was and isn't. It's set to the user account:
[code]

[2021-09-05 14:51] realdevnullius commented on #11478
For others googling to this page... Apparently, I overlooked this one: https://github.com/netdata/netdata/issues/5319

So before moving on to a new installation, first do `sudo systemctl unmask netdata`

[2021-09-06 12:52] ekexcello opened #11485 "mysql go plugin - wrong Buffer Pool Operations chart label"
##### Bug report summary

go.d plugin, mysql module has incorrect chart labeling, namely, chart displaying `mysql_local_go.innodb_buffer_pool_read_ahead (operations/s)` is labeled:

[code]
should be `InnoDB Buffer Pool Operations (mysql_local_go.innodb_buffer_pool_read_ahead)` instead.

##### OS / Environment

Linux 5.10.61-gentoo x86_64 AMD

##### Netdata version

netdata v1.31.0

##### Installat

[2021-09-06 13:10] #11473 closed

[2021-09-06 13:16] Ferroin commented on #10695
Will be resolved by https://github.com/netdata/product/issues/2315.

[2021-09-07 08:41] MrZammler commented on #11478
Hi @realdevnullius ! Sorry for my late reply. Glad it finally worked, although not apparent why it failed in the first place. Thanks!

[2021-09-07 08:41] #11478 closed

[2021-09-07 13:17] ilyam8 commented on #10954
Closing in favour of #10472

[2021-09-07 13:17] #10954 closed

[2021-09-07 13:37] #10571 closed

[2021-09-07 13:37] ilyam8 commented on #10571
Issue moved to [netdata/dashboard #301](https://github.com/netdata/dashboard/issues/301) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-07 13:42] ilyam8 commented on #10573
@fzyzcjy not estimation today, but we will have it.

Closing in favor of #6038

[2021-09-07 13:42] #10573 closed

[2021-09-07 13:45] ilyam8 commented on #10575
Closing due to no response.

[2021-09-07 13:45] #10575 closed

[2021-09-07 13:56] #10650 closed

[2021-09-07 14:01] ilyam8 commented on #10665
Closing because that is not Netdata bug and _the fix_ is provided.

[2021-09-07 14:01] #10665 closed

[2021-09-07 14:08] ilyam8 commented on #10685
Closing due to no response.

[2021-09-07 14:08] #10685 closed

[2021-09-07 14:54] ilyam8 commented on #10722
Will be fixed after the next stable release.

[2021-09-07 14:58] ilyam8 commented on #10724
Fixed in https://github.com/netdata/netdata/pull/11003

[2021-09-07 14:58] #10724 closed

[2021-09-08 09:13] ilyam8 commented on #11485
Hey, @ekexcello. That is an issue, indeed.

Actually, [it is `pages`](https://dev.mysql.com/doc/refman/8.0/en/server-status-variables.html#statvar_Innodb_buffer_pool_read_ahead)

A unit representing how much data InnoDB transfers at any one time between disk (the data files) and memory (the buffer pool). A page can contain one or more rows, depending on how much data is in each row.

[2021-09-08 09:25] ilyam8 commented on #11485
Ok, I think that is "operations/s" because we have [Innodb_buffer_pool_read_ahead_rnd](https://dev.mysql.com/doc/refman/8.0/en/server-status-variables.html#statvar_Innodb_buffer_pool_read_ahead_rnd) in the same chart, which is

A type of I/O request that prefetches a group of pages (an entire extent) into the buffer pool asynchronously

`Innodb_buffer_pool_read_ahead` and `Innodb_buffer_pool_read_

[2021-09-08 10:02] #11485 closed

[2021-09-08 10:08] vlvkobal commented on #10595
I think the messages are correct and we shouldn't make any changes to Netdata, so I'm closing the issue.

[2021-09-08 10:08] #10595 closed

[2021-09-08 10:19] ilyam8 commented on #11477
Hey, @kpapadatos

- Did you check "error.log"?

- Let's see the whole node.d.plugin output, not partial (let's get at least 2 data collections)

[2021-09-08 10:52] kpapadatos commented on #11477
@ilyam8
![image](https://user-images.githubusercontent.com/3382344/132496894-4c5fcbf1-2437-4680-92f4-9297b1535f18.png)

[2021-09-08 11:04] ilyam8 commented on #11468
Hey, @jessie-txt.

Let's [run the python.d.plugin in the debug mode](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin#how-to-debug-a-python-module) (change `<module>` to `haproxy`).

[2021-09-09 07:13] #10783 closed

[2021-09-09 07:16] #10862 closed

[2021-09-09 07:32] vlvkobal commented on #10765
No, you don't need it, and, actually, it might be the cause of such a long response. I'm closing the issue, but feel free to reopen it if you still experiencing the delay.

[2021-09-09 07:32] #10765 closed

[2021-09-09 08:11] DonkeyHotNew opened #11494 "Last update won't start in docker"
##### Bug report summary
Last update won't start in docker

##### OS / Environment
Ubuntu 20.04 LTS

##### Netdata version
latest: Pulling from netdata/netdata
e519532ddf75: Pull complete
eb40d12b1e37: Pull complete
8dc89d5ada7f: Pull complete
ec48cede855b: Pull complete
a012af41805b: Pull complete
1f9d96966d9b: Pull complete
Digest: sha256:f03b9f47c22fc0f9a564053e27986a37645e40b36d630cde099da29ed

[2021-09-09 08:51] ilyam8 commented on #11494
@DonkeyHotNew, thanks for the bug report 👍

[2021-09-09 09:28] wbulot commented on #11494
I confirm today's latest version does not work on any of my docker environments.

[2021-09-09 09:54] ipeacocks commented on #11494
As I've got you don't use proper docker image tagging. So only `latest` and `v1.31.0` tags (4 month old one). Thus, there is no way to use older one image.

[2021-09-09 10:03] #11494 closed

[2021-09-09 10:16] ilyam8 commented on #11284
@Knocks83, hey. Apologizing for the late reply. I think [`ohthehugemanatee/netdata-speedtest`](https://github.com/ohthehugemanatee/netdata-speedtest/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) is the right place to ask.

[2021-09-09 10:16] #11284 closed

[2021-09-09 11:37] WalkxCode commented on #11494
Same issue.

[2021-09-09 14:05] Ferroin commented on #11494
This should be fixed on the `latest` tag once tonight’s nightlies get published (some time around 2021-09-10 01:00 UTC).

As far as the tagging, we do not have explicit tags for our old nightly builds. `latest` tracks whatever was most recently pubished (be it a nightly or stable version), `stable` trackes the latest stable release (as of right now equivalent to `v1.31.0`, though there should hope

[2021-09-09 18:10] fuomag9 commented on #11494
I confirm the issue as well

[2021-09-09 18:46] NicolasCARPi commented on #11494
Thanks @ilyam8 for the rapid fix! :)

[2021-09-09 18:47] chrisfw opened #11498 "Disk space metrics missing for standard mounted filesystem (/home)"
##### Bug report summary

We went through the investigation steps identified in [#3716](https://github.com/netdata/netdata/issues/3716) and it appeared that the underlying commands were returning the information missing from the dashboard.  We then added the /home volume manually in netdata.conf as below which corrected the issue:
[code]

Our version of netdata agent was not up to date, so we upgr

[2021-09-09 19:56] Peterkal2112 opened #11499 "Error running Netdata agent in Docker"
##### Bug report summary

NetData not working. Cannot run.
Getting Error in the log:

“ls: /var/run/balena.sock: No such file or directory
Netdata detected docker.sock
Account databases are not writable, assuming you know what you’re doing and continuing.
chown: unknown user/group netdata:root”
##### OS / Environment
Debian 11, Docker container

 uname -a; grep -Hv "^#" /etc/*release
Linux HOME-SE

[2021-09-09 20:20] Pro-Tweaker commented on #11499
Same as #11494, already (presumably) fixed but not yet builded and pushed to docker hub.

[2021-09-10 05:46] Ferroin commented on #11499
Closing as duplicate of #11494.

[2021-09-10 07:52] Yannis-San opened #11500 "Move management screens to a dedicated page"

[2021-09-10 07:56] Peterkal2112 commented on #11499
OK, after the update to new version it started to boot, but the log gives me a different errors.

"ls: /var/run/balena.sock: No such file or directory
Netdata detected docker.sock
Creating docker group 998
addgroup: group 'docker' in use
Could not add group docker with ID 998, its already there probably
Assign netdata user to docker group 998
2021-09-10 07:51:34: netdata INFO  : MAIN : CONFIG: can

[2021-09-10 09:34] Ferroin commented on #11499
@Peterkal2112 I’m unable to reproduce this locally.

Can you confirm the permissions on `/var/lib/netdata`, `/var/cache/netdata` and `/etc/netdata` inside the container?

If you’re using named volumes (the default behavior if you0re using the command from the docs) you can get a shell in the container to check this by using the `docker run` command from the docs but replacing `-d --name=netdata` w

[2021-09-10 10:31] Peterkal2112 commented on #11499
OK, I am closing this, i had to delete all Volumes and let Docker to recreate them and now it is working.

[2021-09-10 10:31] #11499 closed

[2021-09-11 15:38] Saruspete commented on #10077
Well, I forgot about this thread, and I just encountered the issue on a server of mine...

Also, it seems the `/proc/cpuinfo` has also the frequency, but they are sometimes slightly different from scaling_cur_freq. and it seems not available on all architectures (like arm)
However, they have the benefit of always being available in a single file.

It's available on a 7763 + centos8 / kernel 4.18.0

[2021-09-11 22:43] RX14 commented on #10077
On my ryzen laptop:
[code]

seems fairly different, especially where it interacts with hyperthreading. The scaling_cur_freq feels like a longer-term average than the `/proc/cpuinfo` values. Since the actual clock frequency in the chip is likely only ever instantaneously integer multiples of 100MHz because of how the PLL works.

[2021-09-12 12:31] Fieel commented on #8663
I had this issue while running Netdata on my Synology DS1520+, using the given docker-compose.yml file in the docs (https://learn.netdata.cloud/docs/agent/packaging/docker). It turns out it was a permission problem and I just had to set my environmental variables:

    environment:
      - DOCKER_USR=1026
      - DOCKER_GRP=100

[2021-09-13 08:28] yasharne opened #11502 "prometheus plugins metrics are not exposed in the netdata metrics"
##### Bug report summary
I have configured `prometheus` plugin to scrape metrics from a [wmware exporter](https://github.com/pryorda/vmware_exporter), and the charts are shown in the netdata UI:
![screenshot_14](https://user-images.githubusercontent.com/7656049/133049372-6df12388-1a56-4199-9327-0b93f486ddba.png)
this child is streaming to a parent which is scraped by a prometheus sever, the proble

[2021-09-13 09:02] Kramerican opened #11503 "Naming convention of LXD container graphs keep changing between versions"
##### Bug report summary

Up until Netdata 1.28 (at least) I could stream statistics for my LXD containers (using labels for example) using the convention:

cgroup_containername.cpu (or whatever I wanted)

Now I had to set up some new environments, and in the latest nightly - v1.31 - this has changed yet again. Now I need to access metrics using:

cgroup_lxc-payload-containername.cpu

_Why does th

[2021-09-13 19:03] gusarg81 commented on #9202
Hi. same case for me. netdata-claim.sh does not exist when installing from Ubuntu repo.

[2021-09-14 09:52] yasharne opened #11504 "Cannot scrape windows exporter metrics because it has more than 3000 metrics"
##### Bug report summary
I have added windows_exporter to the prometheus exporters plugin. but it won't show me the logs, when I run it in debug mode I get the below log:
[code]

##### OS / Environment

[code]

##### Netdata version

v1.31.0

##### Installation method

Docker

##### Component Name

go.d

[2021-09-14 10:04] ilyam8 commented on #11504
Hi, @yasharne.

There are [max_time_series](https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/config/go.d/prometheus.conf#L99-L102) and [max_time_series_per_metric](https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/config/go.d/prometheus.conf#L94-L97) configuration options. You can change the limit.

I believe it is in the logs

[2021-09-14 10:21] ilyam8 commented on #11502
Hi, @yasharne.

Could you try the following

Do you get any `vmware` metrics?

[2021-09-14 10:25] ilyam8 commented on #11500
@Yannis-San, hey. It looks like this issue belongs to https://github.com/netdata/product

[2021-09-14 10:43] ilyam8 commented on #11448
@samrafalowski , hey. It looks like this issue belongs to https://github.com/netdata/product

[2021-09-14 10:43] ilyam8 commented on #11408
@samrafalowski , hey. It looks like this issue belongs to https://github.com/netdata/product

[2021-09-14 17:54] ilyam8 commented on #11503
Hi, @Kramerican.

Let's see. `cgroup.plugin` uses [cgroup-name.sh](https://github.com/netdata/netdata/blob/master/collectors/cgroups.plugin/cgroup-name.sh.in) bash script to map id's into names. These are the changes since v1.28.0

[code]

Added in #11006

---

Could you show

[code]

[2021-09-14 22:35] thiagoftsm commented on #11380
Hello @void4 I am closing this issue, but if somehow the problem happens again, be free to reopen it.

[2021-09-14 22:35] #11380 closed

[2021-09-15 05:40] yasharne commented on #11502
Hi @ilyam8 No it doesn't show anything

[2021-09-15 06:54] ilyam8 commented on #11502
- you see the charts on both the child and parent dashboard
- you don't get those charts(metrics) exported when using `/api/v1/allmetrics` endpoint

Is that correct?

Keep in mind that you need to change `format=prometheus` to `format=prometheus_all_hosts` when scraping the parent.

[2021-09-15 07:06] UmanShahzad opened #11512 "Race between short-lived processes & procfs parsing"
In https://github.com/netdata/netdata/pull/11470 we discovered an interesting scenario:

- The eBPF OOM kill chart logic uses process data that is parsed by the eBPF `process` thread, which uses a lot of similar logic to `apps.plugin` for parsing the proc filesystem.
- When testing, we created processes that would get OOM killed extremely fast, before the `process` thread could parse their entries

[2021-09-15 07:07] yasharne commented on #11504
Hi @ilyam8
I have set `max_time_series_per_metric: 300000` and `max_time_series: 100000` but I still get this error:
[code]
P.S: neither `max_time_series_per_metric` nor `max_time_series`'s default values were not 3000, maybe there is another variable I should set

[2021-09-15 07:07] UmanShahzad commented on #11512
Would be nice to get some feedback @ilyam8 @thiagoftsm @stelfrag @underhood @vlvkobal & others.

[2021-09-15 07:12] underhood commented on #11512
I am not sure what can be done here other than tracking the process creation through eBPF directly instead of `procfs` (and if it is feasible/not extremely dificult to get all necessary info that way)?

[2021-09-15 07:15] UmanShahzad commented on #11512
It may not be possible to get that data through eBPF because, as we discovered, structure fields are randomized in the kernel for some structures as a security feature, and the process structure is one of them.

[2021-09-15 07:17] ilyam8 commented on #11504
[3000 is the default](https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/modules/prometheus/prometheus.go#L31).

Could you show this line?

If you have set `max_time_series` it should be in the "config" map.

---

Or show `/etc/netdata/go.d/prometheus.conf`.

[2021-09-15 07:33] ilyam8 commented on #11512
I see 3 options:
 1. don't account for short-lived processes
 2. account using "other" dimension
 3. account using "short-lived" dimension

I think we are in agreement that "don't account" is not the way, so it is either 2 or 3.

I tend to prefer 3 over 2 for the following reasons:
 - "other" means all processes that don't fall into apps groups.
 - adding "short-lived" in there => we extend the me

[2021-09-15 07:53] UmanShahzad commented on #11512
cc @netdata/agent

[2021-09-15 08:08] yasharne commented on #11504
@ilyam8
[code]

[2021-09-15 08:11] ilyam8 commented on #11504
@yasharne ok, I see, those are not global settings.

Try the following:

[code]

[2021-09-15 08:18] yasharne commented on #11504
@ilyam8 Works now thanks, I saw `global` keyword in the description of this parameter that's why I put it in global section :)
https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/config/go.d/prometheus.conf#L99-L102

[2021-09-15 08:22] ilyam8 commented on #11504
I agree that is a bit misleading (a lot of text, hard to understand)

- [[ GLOBAL ]](https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/config/go.d/prometheus.conf#L12-L29)
- [[ List of JOB specific parameters ]](https://github.com/netdata/go.d.plugin/blob/9e912ff0bde663f2319f00bc315140d59c59fc91/config/go.d/prometheus.conf#L58-L184)

[2021-09-15 08:24] #11504 closed

[2021-09-15 08:55] yasharne commented on #11502
Thanks @ilyam8 the problem was now using `prometheus_all_hosts`

[2021-09-15 09:32] #11502 closed

[2021-09-15 10:49] thiagoftsm commented on #11512
@UmanShahzad I remember that we discussed this when we were integrating `apps.plugin` and `ebpf.plugin`. To keep compatibility between both process, our initial choice was to use the `/proc` to show the same information for charts made by both plugins.

The other approach that we can bring, and I am already doing this to integrate `cgroup.plugins` and `ebpf.plugins` will be to create a shared memo

[2021-09-15 16:05] ilyam8 commented on #11409
Please, do!

[2021-09-15 17:13] thiagoftsm commented on #11409
Done :handshake: !

[2021-09-15 18:54] stelfrag commented on #11409
@thiagoftsm so can we close this issue now? :smiley:

[2021-09-15 20:07] ralpheichelberger opened #11518 "loading dashboard via wireguard from rasbian install"
I have a fresh install on a rasbian (RPI4)
Linux  5.10.17-v7l+ #1414 SMP Fri Apr 30 13:20:47 BST 2021 armv7l GNU/Linux
(installed using the oneliner bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait)

If works fine if coming directly over the network - loads the system overview and all - BUT if I try to load it via my wireguard tunnel it loads forever and doesn't show any data.

The

[2021-09-15 20:39] UmanShahzad commented on #11512
Alright, I think we are in consensus that "short-lived" is a new dimension we should introduce and set to for such scenarios. I'll leave this issue open and make a PR to try to introduce writing this dimension for `apps.plugin` & ebpf's version of that code.

[2021-09-15 22:50] thiagoftsm commented on #11409
Yes @stelfrag ! :)

[2021-09-15 22:50] #11409 closed

[2021-09-15 23:37] schklom commented on #11069
@ilyam8 As posted just above this, I now have activated cgroups v2 but still no luck, so I think it qualifies as a bug now.
Any chance you have new insights on this issue? ^^

[2021-09-16 07:56] acsfer opened #11519 "/etc/cron.daily/netdata-updater email from cron but update succeed"
##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

Netdata with kickstart-static64.sh

##### Steps To Reproduce

1. Install netdata agent
2. Wait for`/etc/cron.daily/netdata-updater` to run

##### Expected behavior

Email should be received by cron only if updater fails, but this is received every days.

[code]

[2021-09-16 08:09] ilyam8 commented on #11069
Hey, @schklom. `cgroups.plugin` works with v2, we need to check.

Are you still on that version? I suggest you try v1.31.0, v2 detection was fixes in https://github.com/netdata/netdata/pull/11102

[2021-09-16 13:05] ilyam8 commented on #11408
Issue moved to [netdata/product #2347](https://github.com/netdata/product/issues/2347) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-16 13:05] #11408 closed

[2021-09-16 13:06] #11448 closed

[2021-09-16 13:06] ilyam8 commented on #11448
Issue moved to [netdata/product #2348](https://github.com/netdata/product/issues/2348) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-16 13:13] ilyam8 commented on #10886
@nodiscc, hey 👋 Do you still have the problem?

[2021-09-16 13:17] ilyam8 commented on #10905
Issue moved to [netdata/dashboard #309](https://github.com/netdata/dashboard/issues/309) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-16 13:17] #10905 closed

[2021-09-16 13:27] ilyam8 commented on #10927
@crouthamela, hey 👋 Sorry for the late response. Could you provide a sample of NetBox prometheus metrics?

[2021-09-16 13:29] ilyam8 commented on #10988
Closing due to no response. @ciber96 if you still experiencing the problem let us know.

[2021-09-16 13:29] #10988 closed

[2021-09-16 13:35] ilyam8 commented on #10989
@yasharne are you still having this issue with v1.31.0?

[2021-09-16 13:55] ilyam8 commented on #11016
@hope1234567hope, hey 👋 if you have a problem with connecting Netdata Agent to the Cloud consider using our [community forum](https://community.netdata.cloud/c/metrics-alerts-insights/10) or [Discord server](https://discord.gg/mPZ6WZKKG2).

[2021-09-16 13:55] #11016 closed

[2021-09-16 14:01] ilyam8 commented on #11018
@nicknaychov, hey. ACLK-NG is included in the static build, there is no need to add that parameter.

[2021-09-16 14:01] #11018 closed

[2021-09-16 15:29] nodiscc commented on #10886
Hi @ilyam8 :wave: yes I still have this problem on multiple hosts running netdata 1.31.0 (empty dashboard, JS errors in console, truncated JS files)

One thing to note is that I only have this problem on machines where netdata was installed from [packagecloud](https://packagecloud.io/netdata/netdata), I still have a few hosts where netdata is installed from the `.sh` installer and none of them see

[2021-09-16 16:45] schklom commented on #11069
Hey, thanks for getting back to me!

I moved to v1.31.0, but still no luck :/
Is there any info I can provide to pinpoint the issue?

[2021-09-16 19:16] ilyam8 commented on #10886
Could you check that `http://NODE:19999/api/v1/charts` returns valid JSON output?

- open `http://NODE:19999/api/v1/charts` in your browser.
- copy/paste the output to https://jsonformatter.curiousconcept.com/ and click "Process".

[2021-09-16 20:03] ilyam8 commented on #11069
Let's check `error.log`

[code]

[2021-09-16 21:30] schklom commented on #11069
This part is good.

    2021-09-16 21:29:36: netdata INFO  : PLUGIN[cgroups] : use unified cgroups true

[2021-09-17 14:42] #10996 closed

[2021-09-17 15:13] cakrit commented on #11498
Issue #3716 had a detailed analysis of the cause with @Ferroin after it was closed and apparently there was nothing we could do from our side. Not sure this is the same use case though, as a simple config change results in presenting the charts. This definitely warrants further investigation.

[2021-09-17 15:14] nodiscc commented on #10886
http://NODE:19999/api/v1/charts

Firefox built-in JSON viewer shows an error:

[code]

The output is not valid JSON (it is truncated):

[code]

Refreshing the page shows the output truncated at a different byte/length

[code]

After refreshing several times, I can see that the response is *always* truncated exactly at `line 2263` or `line 3702` in a seemingly random pattern (confirmed by curl)

[c

[2021-09-17 20:12] gamefundas opened #11529 "dbengine loses all metrics data on service restart"
Netdata Version: 1.31.1
OS: Amazon Linux 2

Recently we updated Netdata master to latest version on our Amazon Linux 2 EC2 instance and I noticed that with the below configuration (memory mode - dbengine) the metrics data is lost on service restart (_"service netdata restart"_).

As much as I understand dbengine uses the file system as store for all the collected metrics. I tried switching to map

[2021-09-17 20:29] crouthamela commented on #10927
Here is an example from a running NetBox 3.0 deployment:

[code]

[2021-09-18 17:16] #10927 closed

[2021-09-18 22:12] flyrobot27 opened #11530 "Syntax Error in netdata uninstaller script"
##### Bug report summary

unable to uninstall netdata using the official script with the error stating:

bash: syntax error near unexpected token `newline'

##### OS / Environment

POP OS 20.04 LTS
Linux 5.11.0-7633-generic #35~1630100930~20.04~ae2753e-Ubuntu SMP  x86_64 x86_64 x86_64 GNU/Linux

##### Netdata version

netdata v1.31.0-258-nightly

##### Installation method

Using provided script: b

[2021-09-19 09:15] hugovalente-pm opened #11531 "Charts 2.0 Agent integration"

[2021-09-20 06:56] MrZammler commented on #11529
Hi @gamefundas thanks for your report!

Is it possible to share a complete `error.log` file please? Ideally one that contains a complete restart of Netdata?

Thanks!

[2021-09-20 07:41] vlvkobal commented on #11498
@chrisfw, please provide the contents of `/proc/self/mountinfo` and the output of `ls -ald /home`.

[2021-09-20 07:47] vlvkobal commented on #11498
Might be relevalt: #9585

[2021-09-20 08:47] #8926 closed

[2021-09-20 10:42] stelfrag commented on #11530
Hi @flyrobot27

Note that the `<environment_file>` needs to be replaced by the path of the .environment file for your installation.

[code]

So the command in this case would look

`./netdata-uninstaller.sh --yes --env  /etc/netdata/.environment`

[2021-09-20 11:13] #10472 closed

[2021-09-20 14:05] Ferroin commented on #11498
If adding the entry to the netdata config manually fixed the issue, then it’s almost certainly not the same as #3716. It sounds to me like something strange is going on here with our auto-detection logic.

[2021-09-20 19:07] ilyam8 commented on #11336
Closing as this an upstream issue, nothing we can do. I hope your PR will be merged @k0ste 🤞

[2021-09-20 19:07] #11336 closed

[2021-09-20 19:54] gamefundas commented on #11529
Here's a shutdown/restart log

2021-09-20 19:36:00: netdata INFO  : MAIN : SIGNAL: Received SIGTERM. Cleaning up to exit...
2021-09-20 19:36:00: netdata INFO  : MAIN : Shutting down command server.
2021-09-20 19:36:00: netdata INFO  : MAIN : Shutting down command event loop.
2021-09-20 19:36:00: go.d INFO: main[main] received terminated signal (15). Terminating...
2021-09-20 19:36:00: netdata INFO

[2021-09-20 20:04] gamefundas commented on #11529
I notice that not all the metrics are lost; just that it loses for a certain duration leaving gaps in the chart. And strangely its missing data for a longer duration than the amount of time it was shutdown. A simple restart in the above case instroduced a gap of 20 min in the charts; i.e. previous 20 min data was lost. The load chart on the other hand is missing data for 4 hours. Other charts seem

[2021-09-20 21:18] stelfrag commented on #11529
The logs indicate that the agent did not shutdown properly. It exited or terminated (or killed) while it was storing the metrics in the database (maybe `service restart netdata` force-killed the process after a certain timeout)

This is also indicated by an "INCOMPLETE_SHUTDOWN" event recorded when it restarts.

The 20 minutes gap is "normal" in the sense that you have configured `update every = 3

[2021-09-21 01:17] flyrobot27 commented on #11530
Looks like my brain was smooth. Thanks.

[2021-09-21 01:17] #11530 closed

[2021-09-21 02:36] gamefundas commented on #11529
Not lag with "service restart netdata" its instantaneous. I tried stop/start as well and the result is the same.
I am unable to attached any snaps of the charts as the firewall is blocking me. Posting the values here for your review.

**netdata.page_cache_stats**
descriptors: 18412
populated: 18412
dirty: 18156
backfills: 0
evictions: 0
used by collectors: 18156

**netdata.dbengine_long_term_page_

[2021-09-21 05:29] SilverBut commented on #8594
Thanks for the script. This is important for NVMe users, since `smartd` is not [supporting `-A` logging for NVMe drives](https://www.smartmontools.org/ticket/1190).

[2021-09-21 08:26] ilyam8 commented on #11087
I tried to "make dist" on centos8 (docker) and it worked for me without any problems, what i did it:

[code]

@ElCoyote27 hey, I suggest you try it again using latest master branch. If there are still any problems, please report them.

[2021-09-21 08:26] #11087 closed

[2021-09-21 08:29] ilyam8 commented on #11093
Closing this issue since it's been resolved by using another cloud provider's Ubuntu 20.04 image.

[2021-09-21 08:29] #11093 closed

[2021-09-21 08:40] ilyam8 commented on #11095
Closing due to no response. @gvasquez95 @naaano please check the new Netdata release and if the issue remains let us know.

[2021-09-21 08:40] #11095 closed

[2021-09-21 08:59] ilyam8 commented on #11138
@fti-cneve, hey, have you been able to fix the problem? We still can't reproduce it.

[2021-09-21 11:24] Ferroin commented on #11529
Which is entirely expected with systemd. By default, start/restart/stop requests for units are asynchronous, and aFAIK there is no good way to force it to run synchronously (that is, so it only returns after the state change has finished).

For interactive usage, the way around this is to check `systemctl status netdata` every 10-15 seconds after issuing the start/stop/restart and watch for the st

[2021-09-21 13:57] #11519 closed

[2021-09-21 14:17] cakrit opened #11542 "[Bug]: Dimension not stored in apps.mem"
##### Bug report summary

##### OS / Environment

Ubuntu 20.04

##### Netdata version

Latest nightly

##### Installation method

kickstart

##### Component Name

charts, dbengine

##### Steps To Reproduce

Using memory mode dbengine.
Run updater or kickstart reinstall while netdata is running and you have the UI open on the Applications memory chart. Observe the "build" dimension in Applications

[2021-09-21 14:53] elelayan opened #11544 "proc collector: Undefined state DEGRADED for zpool"
##### Bug report summary

the proc collector is broken: [STATE_SIZE = 8](https://github.com/netdata/netdata/blob/master/collectors/proc.plugin/proc_spl_kstat_zfs.c#L9) is too small by 1 character to store `"DEGRADED\n"`. Only `DEGRADED\0` is stored, resulting in this [message](https://github.com/netdata/netdata/blob/master/collectors/proc.plugin/proc_spl_kstat_zfs.c#L388)
[code]

##### OS / Enviro

[2021-09-21 14:58] ilyam8 commented on #11544
Hi, @elelayan. Thanks for reporting the issue and very nice "Bug report summary". Since you've figured out the problem, are you willing to make a PR to fix the problem?

[2021-09-21 15:09] ilyam8 commented on #11544
Thanks for the quick fix 👍 Yes, you are right.

[2021-09-21 16:24] #11544 closed

[2021-09-21 21:30] ilyam8 commented on #10927
It is not filtering metrics, one prefix is enough (assuming NetBox always exposes at least one metric with "django_" prefix).

[2021-09-21 21:32] crouthamela commented on #10927
Ah got it. Thanks!

[2021-09-22 04:15] mmeija commented on #11498
I've been able to re-create this with a fresh install of Red Hat 7.9 via the kvm guest image they provide
I then created a new logical volume in lvm and mounted it to /home

Applying the configuration change:
[code]
resolves this as described in the original report

[code]

[code]

[code]

[code]

##### OS / Environment
Red Hat Enterprise Linux 7.9 Update KVM Guest Image (20210209)rhel-server-7.9-

[2021-09-22 09:31] kaaaq opened #11550 "There is no "backend response statistics" in netdata v1.31.0 for varnish template"
Hi, @ilyam8
There was a good metric in previous  netdata version  named: "backend response statistics"
but in new netdata there is not, This is picture is from old version of netdata ( netdata version: v1.15.0):
![image](https://user-images.githubusercontent.com/43205944/134318678-8b9ad70e-deac-4ab0-84ea-a628c77d8846.png)
But in version 1.31.0, There is no "backend response statistics"  :
![image]

[2021-09-22 09:53] vobruba-martin opened #11551 "Can't view replicated node"
When trying to open netdata for child from parent netdata I see nothing but this error in JS console:

![Screenshot](https://user-images.githubusercontent.com/6897988/134322400-b4533d95-9c06-4563-bb66-d01f941bf26a.png)

Parent netdata version: v1.31.0-265-ge7cd69dba
Child netdata version: v1.19.0-10-g48525f9

[2021-09-22 15:25] 0xpr03 opened #11555 "systemctl restart netdata hanging at systemd-tty-ask-password-agent"
##### Bug report summary
`systemctl restart netdata` takes many seconds with a child process "systemd-tty-ask-password-agent --watch"

##### OS / Environment
Debian 9

[code]

##### Netdata version

 netdata v1.31.0-279-nightly

##### Installation method

bash script per github readme

##### Component Name

service control

##### Steps To Reproduce

1. install
2. systemctl restart netdata
3. watch

[2021-09-23 01:49] thiagoftsm opened #11558 "Integration between eBPF and cgroups"
The eBPF plugin will be integrated with cgroup plugin showing charts for each available cgroup.
When the host has `systemd`, eBPF plugin will also show charts for every service running on host.

The following steps are planned to bring the full integration between collectors, according previous meetings:

- [x] Bring descriptions to dashboard, this will be used to update links later. (https://gith

[2021-09-23 07:13] ilyam8 commented on #11555
Hi, @0xpr03.

Does `systemctl restart netdata` always hang? Or sometimes?

Having `systemd-tty-ask-password-agent` process is expected, [it always runs alongside](https://github.com/systemd/systemd/issues/9507#issuecomment-404078079) `systemctl` whenever invoked

<details>
  <summary>a screenshot</summary>

<img width="706" alt="Screenshot 2021-09-23 at 10 12 23" src="https://user-images.githubuse

[2021-09-23 09:30] Osfuco opened #11563 "Can’t Acces to the dashboard from http://ip:19999"
Good afternoon, I just installed Netdata on my CentOS Linux 7.9.2009 (Core) server with the command that appears on github (bash <(curl -Ss https://my-netdata.io/kickstart.sh)
), but I can’t access through http: // 82. (full ip): 19999

I've tried reinstalling but doesn't works.

[2021-09-23 09:59] g0rbe commented on #9921
I cant claim my nodes too.

[code]

[2021-09-23 11:13] 0xpr03 commented on #11555
It always hangs, systemd also reports killing the shutdown process due to timeout.

[2021-09-23 12:20] ilyam8 commented on #11555
Was it a clean install? Can you remove Netdata and install it again and see if the problem still exists.

[2021-09-23 14:57] 0xpr03 commented on #11555
Yeah it's a clean install, was right after installation as I wanted it to bind only to 127.0.0.1

[2021-09-24 08:58] MrZammler commented on #11563
Hi @Osfuco !

A few questions, is your server perhaps behind a firewall? Is the port 19999 open to the outside world?

Are you getting a specific error when trying to access it?

Did the installation complete okay, and can you see that the netdata service is indeed running?

Thanks!

[2021-09-24 11:38] UmanShahzad opened #11568 "Long/short options don't work for eBPF plugin binary"
##### Bug report summary

Long (and I believe short) options provided to the eBPF plugin are not properly applied; all other programs still get run even if only specific ones are selected.

##### Component Name

ebpf.plugin

##### Steps To Reproduce

1. Compile everything.
2. Try to run the `ebpf.plugin` binary with any long/short command and notice that all other programs still run.

##### Expect

[2021-09-24 16:36] stelfrag opened #11571 "[BUG] Coring issues created from netdata on redhat 8.3"
@davidwadddell commented on [Thu Sep 23 2021](https://github.com/netdata/netdata-cloud/issues/137)

**Describe the bug**
We are seeing several different coring issues created from netdata on redhat 8.3.
These are sporadic, we see occasionally (e.g. 1 in 3 days across 32 nodes) .

**To Reproduce**

Deploy netdata :

[code]

netdata will core on some nodes :

[code]

[code]

[code]

**Expected behav

[2021-09-25 05:01] samueljmorris commented on #11381
I encountered the exact same issue on Proxmox 7 (proxmox-ve: 7.0-2 (running kernel: 5.11.22-4-pve))

The IPMI collector would not build no matter what I did until I tried the symlink fix described above. I agree, this should be patched or at least documented in the freeipmi.plugin docs. I was pulling my hair out trying to figure it out! Thank you 👍

[2021-09-25 13:53] iconoclasthero commented on #10330
My initial install was done via apt and then I saw this on [url=https://linuxhint.com/how-to-install-netdata-monitoring-tool-on-ubuntu-20-04/] _Linux Hint_ suggesting the use of the kickstarter script.

I did an apt remove and then an apt purge and when I still got the ABORTED message, I did a `find / -iname "netdata*" -type d -exec mv {} {}~ \;` (ok: I did the -exec part manually, might not work)

[2021-09-27 01:17] bioshazard commented on #11563
Default is to serve on localhost. Can you `curl localhost:19999` on the machine its installed? If so, you need to update the `bind` config in `/etc/netdata/netdata.conf` and for full IP access, you need router port forwarding, but that would be  outside the NetData responsibility.

[2021-09-27 08:48] shellshock1953 commented on #10330
Got same issue, uninstalled netdata using apt
but kickstart.sh runs only after apt autoclean:
`sudo apt autoclean`

[2021-09-27 11:25] ilyam8 commented on #11563
Closing in favour of https://community.netdata.cloud/t/cant-acces-to-the-dashboard-from-http-ip-19999/1768/2

[2021-09-27 11:25] #11563 closed

[2021-09-27 13:29] MrZammler commented on #11571
This PR https://github.com/netdata/netdata/pull/11575 should address the second core case described here.

[2021-09-27 15:23] MrZammler commented on #11571
I'm also looking at the others.

[2021-09-28 08:05] ilyam8 commented on #11138
Cleaning up the issues. Closing due to no response.

[2021-09-28 08:05] #11138 closed

[2021-09-28 08:10] ilyam8 commented on #11158
Closing due to no response.

[2021-09-28 08:10] #11158 closed

[2021-09-28 08:11] MrZammler commented on #11571
The first one perhaps could be "mitigated" with a check for `struct rrdeng_page_descr *descr` like e.g.

[code]

Of course, as to why `descr` is null, requires more search...

[2021-09-28 08:24] ilyam8 commented on #11164
Hey, guys, are you still having this issue with the latest version? @bymodude @cloudition

[2021-09-28 08:28] cloudition commented on #11164
Hi,
not it's running normal again. Thank you very much!

![image](https://user-images.githubusercontent.com/60007632/135051707-c70246c8-4770-4b83-aa94-4552e19fbb07.png)

[2021-09-28 08:32] ilyam8 commented on #11185
@Ferroin can you help with this issue?

Relevant link: https://support.cloudflare.com/hc/en-us/articles/200170056-Understanding-the-Cloudflare-Security-Level

[2021-09-28 08:35] ilyam8 commented on #11191
@vlvkobal could be that [moving cleanup of obsolete charts to a separate thread](https://github.com/netdata/netdata/pull/11222) fixed the issue? Can you try to reproduce it now?

[2021-09-28 08:44] ilyam8 commented on #11198
Closing because this has been fixed (likely). @Reeceline if you still have the problem, please let us know.

[2021-09-28 08:44] #11198 closed

[2021-09-28 08:50] ilyam8 commented on #11213
@diizzyy hey, can you explain (or reword) what do you want us to make optional?

[2021-09-28 08:51] vlvkobal commented on #11191
No, the issue isn't fixed. Look at [test results](https://github.com/netdata/netdata/pull/11222#issuecomment-868367920). It became a little bit better with the separate thread but still is not ideal.

[2021-09-28 08:59] ilyam8 commented on #11268
Will do that, no need to keep the issue open.

[2021-09-28 08:59] #11268 closed

[2021-09-28 09:04] MrZammler commented on #11277
Thanks @ilyam8 for remind me this, will check if it still applies.

[2021-09-28 09:07] ilyam8 commented on #11277
Just checked

and it worked for me without any problems.

[2021-09-28 09:10] MrZammler commented on #11277
Hmmm, does it try to compile aclk-ng when you tested it ? (It still breaks here, e.g:

[code]

[2021-09-28 11:31] ilyam8 commented on #11277
You are right, it doesn't work when compiling with aclk-ng.

[2021-09-28 11:53] Ferroin commented on #11185
In general, fetching directly from the master branch here on GitHub is safe. I’ve been trying to push for just using that in general for some time now, but have been unsuccessful because then we can’t see how many times people download the script.

[2021-09-28 12:15] ilyam8 commented on #11185
Ok, but we set "Security Level" for a reason and are not going to change it, correct?

[2021-09-28 12:21] ilyam8 commented on #11185
I am thinking we could change it from Medium (the default according to doc) to Low and that is it 🤔

[2021-09-28 12:24] Ferroin commented on #11185
That would be a question for @netdata/cloud-sre, as they are the ones generally responsible for that part of our infrastructure.

[2021-09-28 17:49] ilyam8 commented on #11164
Ok, thanks for the quick reply. Closing for now. Аf the problem reappears, let us know.

[2021-09-28 17:49] #11164 closed

[2021-09-28 19:59] thiagoftsm opened #11590 "`plugins.d` obsolete chart"
##### Bug report summary

As it was described [here](https://github.com/netdata/netdata/pull/11573#issuecomment-927744895), when there is inversion of values when we are obsoleting charts, this will create problems for Netdata and agent can crash.

The test was made creating the chart with the following command:

[code]

And the problem was discovered when the following obsolete line was sent:

[c

[2021-09-28 21:13] diizzyy commented on #11213
Hi,
Disable "upstream" version check and hide the icon for it?

[2021-09-29 08:03] jacekkolasa commented on #11213
cc @manos-saratsis

[2021-09-29 08:04] manos-saratsis commented on #11213
@diizzyy thx for raising this. Your concern is valid and we will consider how to respond to this issue. For now we advise you to use kickstart or packages provided by Netdata rather than installing packages provided by the package maintainers as we cannot guarantee that everything required is included Cc @cpipilas

[2021-09-29 13:53] waby38b opened #11594 "ebpf - cross-compilation support"
##### Bug report summary

Cross compilation of Netdata failed when ebpf is enabled
This failure append during "configure"

"configure.ac" use AC_CHECK_FILE during configure process which is not permitted when cross compiling
(...)
**configure: error: cannot check for file existence when cross compiling**

[code]
##### OS / Environment

[code]
For cross -compilation, I use buildroot-2021.08.x
=> I

[2021-09-30 08:13] ilyam8 commented on #11185
Closing is for now. But we are still waiting for @netdata/cloud-sre response.

[2021-09-30 08:13] #11185 closed

[2021-09-30 08:22] #11279 closed

[2021-09-30 08:22] ilyam8 commented on #11279
Issue moved to [netdata/netdata-cloud #139](https://github.com/netdata/netdata-cloud/issues/139) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-30 08:27] ilyam8 commented on #11290
Hey, @cybertechsolution. Sorry for the late reply. I believe it has been fixed, please verify and let us know if you still have the problem.

[2021-09-30 08:27] #11290 closed

[2021-09-30 08:30] ilyam8 commented on #11291
Closing this in favor of #10422 (the same issue - the kickstart script doesn't work on Big Sur).

[2021-09-30 08:30] #11291 closed

[2021-09-30 08:36] ilyam8 commented on #11299
@austin-agronick hi, sorry for the late response. Can you try the latest version?

[2021-09-30 08:41] ilyam8 commented on #11327
Closing this as wontfix. @underhood if you think that we still need to get this fixed for ACLK legacy, please reopen.

[2021-09-30 08:41] #11327 closed

[2021-09-30 08:46] ilyam8 commented on #11343
As @MrZammler correctly said, unfortunately, there is no support for compressing streaming data at the moment, but we've added this feature request to our backlog.

[2021-09-30 08:46] #11343 closed

[2021-09-30 08:57] ilyam8 commented on #11344
Hey, @tuzkiyoung.

I just installed [Netdata v1.31.0](https://packagecloud.io/netdata/netdata) on Centos8 (docker container) and the directory has been created.

[code]

[2021-09-30 09:55] ilyam8 commented on #11550
Hey, @kaaaq. Sorry for the late reply. Let's see what is happening.

- the chart [backend response statistics](https://github.com/netdata/netdata/blob/aadd6e12f5957202b94ae65b4a37091ce0030472/collectors/python.d.plugin/varnish/varnish.chart.py#L139-L153).
- we add these metrics in the [get_vbe_backends](https://github.com/netdata/netdata/blob/aadd6e12f5957202b94ae65b4a37091ce0030472/collectors/pyt

[2021-09-30 10:25] kaaaq commented on #11550
@ilyam8 ,Thanks for your response;

This is my test cluster metric:
`$varnishstat -1`
[code]

[2021-09-30 10:42] georgeok commented on #10903
It looks like if we update the [base and build images](https://github.com/netdata/helper-images) to `alpine 3.14`  the issue will be fixed. I've made a relevant [PR](https://github.com/netdata/helper-images/pull/140).

[2021-09-30 11:10] #5897 closed

[2021-09-30 12:10] ilyam8 commented on #11550
Hey, @kaaaq, can you check #11596? Also, what is your varnish version?

[2021-09-30 13:20] ilyam8 commented on #11551
Hey, @vobruba-martin. Have you considered updating the child instance? Or that is not an option for you?

[2021-09-30 15:25] kaaaq commented on #11550
@ilyam8

OK, I will test it,
Varnish version:
varnishd (varnish-6.0.7 revision 525d371e3ea0e0c38edd7baf0f80dc226560f26e)
Copyright (c) 2006 Verdens Gang AS
Copyright (c) 2006-2020 Varnish Software AS

[2021-09-30 17:49] socialityCoop opened #11602 "Multi-host cookie set by PostHog"
##### Bug report summary

From time to time, when I visit Netdata interface a cookie is set by PostHog. This cookie is not a host-only cookie, but a multi-host one starting with a dot, see screenshot:
![Screenshot_20210927_141218](https://user-images.githubusercontent.com/34302244/135502778-a754dc44-7fce-458d-8b8c-e2401e15aa67.png)
After that, if I visit a CSRF-aware web app (namely, ISPConfig), t

[2021-10-01 01:14] BuxtonCalvin commented on #11499
I solved this issue by  using "docker-compose pull netdata" command.  Restarting the compose file, which included a "latest" tag, did not pull down the fixed version.....

[2021-10-01 09:37] andrewm4894 commented on #11602
Thanks @socialityCoop - PostHog is our open source (self hosted) product analytics and telemetry we have moved to recently so that we could get off Google Analytics and GTM.

I will follow up internally and with the PostHog folks and update back here when i have more info.

Thanks for letting us know.

[2021-10-01 16:56] maravento opened #11610 "fatal error: Invalid argument (setcap)"
Ubuntu 20.04.3 x64
Netdata 1.31.0

Install:
[code]
Error:
[code]

[2021-10-01 17:07] ilyam8 commented on #11610
Hi, @maravento. This issue is a duplicate of #10773, fixed in #11386.

[2021-10-01 17:17] maravento commented on #11610
great thanks

[2021-10-01 17:43] ilyam8 commented on #11468
Closing due to no response.

[2021-10-01 17:43] #11468 closed

[2021-10-01 17:47] ilyam8 commented on #11550
@kaaaq I tested the PR using your data sample, it fixes the issue. I will merge the fix.

[2021-10-01 18:25] underhood commented on #11327
I think it is reasonable. Legacy will be removed in one or two releases completely.

[2021-10-01 18:43] #11550 closed

[2021-10-01 20:11] thiagoftsm commented on #11594
Hello @waby38b ,

Thank you for your report, I already had a talk with @Ferroin about this reported bug. We are planning to bring eBPF support for ARM during this quarter.

Best regards!

[2021-10-04 09:19] arsenick69 commented on #9921
Hello, i have the same problem on 2 servers (debian jessie and debian 9)

[code]

and

[code]

[2021-10-04 10:13] kaskavel commented on #9921
@arsenick69 can you try the solution described [here](https://community.netdata.cloud/t/certificate-verification-error-connecting-to-the-cloud/1790) ?

[2021-10-04 12:38] #7824 closed

[2021-10-04 13:34] IsmaelMoussaoui opened #11613 "Firewall and Netdata Cloud"
Hello,

I installed netdata on 3 nodes and I access it via netdata cloud. However, I wanted to reactivate my firewall on a node, so I added my usual rules, HTTPS, SSH etc .. and port 19999 in TCP and UDP for netdata. However by going to the cloud I see my server on which the firewall is active as unreacheable whereas when I access it via its public ip I come across the service and everything works

[2021-10-04 14:06] ilyam8 opened #11615 "ebpf.plugin hangs when installing with deb package"
##### Bug report summary

ebpf.plugin fails to load BPF object files, starts and finishes data collection threads, but keeps running and doesn't exit. As the result, `systemctl restart netdata` hangs.

<details>
<summary>See the log</summary>

[code]

</details>

---

❗ ebpf.plugin **works** when installing from the source

##### OS / Environment

`Linux deb10-ukraine 4.19.0-17-amd64 #1 SMP Debian

[2021-10-04 18:48] nodiscc opened #11620 "Debian 11 Packagecloud repository is empty"
##### Bug report summary

After following the instructions on https://packagecloud.io/netdata/netdata/install on Debian 11 stable (Bullseye), no `netdata` package is available from packagecloud repositories:

[code]

##### OS / Environment

[code]

##### Netdata version

None

##### Installation method

https://packagecloud.io/netdata/netdata/install

##### Component Name

Packaging

##### Steps T

[2021-10-05 06:04] amuckart commented on #8820
Still an issue on Ubuntu 20.04 with the log spamming and netdata dashboard not loading. @mologie's systemctl fix worked for me.

[2021-10-05 08:21] ilyam8 commented on #11357
Closing due to no response.

@IakymLynnyk-TomTom upgrading to the latest stable will fix the issue with too many open files.

[2021-10-05 08:21] #11357 closed

[2021-10-05 08:32] ilyam8 commented on #11414
Hi, @susl16c. Sorry for the late reply. Unfortunately, there are no files for translation.

[2021-10-05 08:32] #11414 closed

[2021-10-05 08:48] ilyam8 commented on #11503
We will try to be more careful with such changes in the future. Thanks for reporting @Kramerican.

[2021-10-05 08:48] #11503 closed

[2021-10-05 08:54] ilyam8 commented on #11518
Hey, @ralpheichelberger. I suggest you use our [community forum](https://community.netdata.cloud/) or [Discord](https://discord.gg/kUk3nCmbtx).

As for the

Specify SameSite=None and Secure if the cookie is intended to be set in cross-site contexts. Note that only cookies sent over HTTPS may use the Secure attribute.

this [has been added in v1.30.0](https://learn.netdata.cloud/docs/agent/registry

[2021-10-05 08:54] #11518 closed

[2021-10-05 11:59] araemo commented on #8820
This error doesn't effect the dashboard for me.  Just email notifications.  Until I apply the ReadWriteDirectories fix, I get no email notifications and the log gets spammed.

[2021-10-05 18:20] ralpheichelberger commented on #11518
Thanḱ you, Ilya, I found the problem somewhere else,. It just was the wrong
server (wrong location) that I used as a wireguard hub.
I now have a working wireguard network. Its just perfect!

Cheers!

Am Di., 5. Okt. 2021 um 10:54 Uhr schrieb Ilya Mashchenko <
***@***.***>:

--
Ralph Eichelberger, Ing.
6645 Vorderhornbach 122
Mobil: +43 677 620 321 85

[2021-10-06 12:29] jmherbst commented on #11046
I'd be interested in helping accomplish this if you're looking for help on this one @Ferroin ?

If So - mind pointing me to where nightlies happen currently? Travis?   How about releases?

[2021-10-06 13:16] ilyam8 commented on #11615
@thiagoftsm can we add handling of such situations? What I mean is - if we can't load objects, etc - shutdown `ebpf.plugin` so we don't have it running.

[2021-10-06 14:16] thiagoftsm commented on #11615
Yes we can, the load is something that I will work this week, but we will have it completely fixed only when DEB packages are using correct `libbpf`.

[2021-10-07 08:09] ilyam8 commented on #11555
@0xpr03 I suspect the same problem as I get in https://github.com/netdata/netdata/issues/11615

Let's try to disable `ebpf.plugin` and see if it helps

[code]

[2021-10-08 10:48] adamsj182 commented on #11218
Sorry for the close and reopen....was having a brain-glitch moment.

[2021-10-08 11:27] Ferroin commented on #11620
Not without it republishing _everything_ else at the same time.

An overhaul of our release engineering process is the next big project on the list for @netdata/agent-sre once the current project of overhauling the installer is done, and dealing with this particular issue is near the top of the list of things to fix.

[2021-10-12 04:34] agross opened #11652 "netdata-installer.sh fails since `12f1606`"
##### Bug report summary

I run netdata updates daily. SInce netdata/netdata@12f16063f51e51a8e3c0e0ae727a634258b95219 the updater fails (and the installer as well):

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

[code]

##### Component Name

Not sure.

##### Steps To Reproduce

See installation method

##### Expected behavior

Build succeeds.

[2021-10-12 06:54] vkalintiris commented on #10076
@Ferroin Ok to close this now that we have packages for arm targets?

[2021-10-12 07:17] underhood commented on #11652
There is a bug on our side and we will fix it.
However, we need to investigate why the tarball doesn't have the git submodule files. @Ferroin can you help me check this?

[2021-10-12 09:52] nitrogear commented on #11652
Can be fixed with cloning submodules:
[code]

[2021-10-12 11:42] nitrogear opened #11653 "netdata.conf is broken after new installation"
##### Bug report summary

Tried to perfom a weekly upgrade with:
./netdata-installer.sh --install /opt --enable-ebpf
Compilation and installation went without any error, but config /opt/netdata/etc/netdata/netdata.conf was renewed to:
[code]

Tried to delete completely /opt/netdata, cloned repo again and got the same result on 2 servers.

##### OS / Environment

Ubuntu: 18.04
Ubuntu: 16.04

#####

[2021-10-13 09:20] MrZammler commented on #11653
Yes, it seems that it is a permissions issue.

During installation netdata will try with curl or wget to download the netdata.conf from a running agent.

Does your local IP match one of those in `allow netdata.conf from` ?

[2021-10-13 12:44] schklom commented on #11069
@ilyam8 Thank you so much for persevering :)

[code]

Without `2>&1`, there is way too much log to display. But given the amount of errors, I thought it may help
[code]

[2021-10-14 11:05] nitrogear commented on #11653
@ilyam8 yes, that's right
no errors during installation. Installed once again the latest night build `netdata v1.31.0-381-nightly`
however, build v1.31.0-381-nightly doesn't try to download config from localhost:19999/netdata.conf at the end of installation, so now the main config wasn't touched
but issue is still present: I have `allow netdata.conf from = localhost` and can't get config with `cur

[2021-10-14 18:50] nodiscc commented on #10886
@ilyam8 any clue? I notice the response length is always a multiple of 16...

[2021-10-15 10:43] ilyam8 commented on #11069
@schklom I see there are too few lines, let's restart the container, wait for 20 seconds and grep again.

[2021-10-15 11:05] thiagoftsm commented on #11568
@ilyam8 it is on my horizon, I plan to fix this and the DEB packages before new release.

[2021-10-15 11:34] ilyam8 commented on #9777
Hi, @fzyzcjy no updates to my knowledge. Assigned it to me so it is not get forgotten.

[2021-10-15 14:26] ilyam8 commented on #11653
Hey, @nitrogear. Let's check what is happening

 - install this branch, it contains additional logging

[code]

- let's disable log flood protection

[code]

- and now we can `curl` and check the logs

[code]

[2021-10-15 15:05] ilyam8 commented on #11653
Just to make it clear: **every time** you `curl localhost:19999/netdata.conf` you get

in the error.log?

[2021-10-15 15:21] #11653 closed

[2021-10-16 12:54] Osfuco opened #11669 "I can't access NetData "my-ip:19999" after making a backup"
Yesterday I made a mistake uploading files to the server by FTP and I had to restore using a backup made a few hours before. The problem is that until yesterday I could access the NetData through http: // my-ip: 19999, but now I cannot access it. How can I solve that?

EDIT: If I write netdata in th ssh cmd i get: "netdata INFO: MAIN : CONFIG: cannot load cloud config `var/netdata/cloud.d/clod.con

[2021-10-18 09:32] #11669 closed

[2021-10-19 07:09] #11568 closed

[2021-10-19 12:23] MrZammler commented on #9109
@78Star Hi!

Our current master branch should be able to compile on FreeBSD 12... I'll do a check on a VM, and will let you know, probably would need to compile it...

Thanks!

[2021-10-19 12:38] ilyam8 commented on #11498
Hey, @mmeija. Let's debug the problem.

 - undo manually applied changed (remove `[plugin:proc:diskspace:/home]` from netdata.cond)
 - disable log flood protection

[code]

 - install this branch, it contains additional logging

[code]

- let Netdata run for ~5 seconds and let's check logs

[2021-10-19 20:50] VMLTV opened #11679 "netdata failed to install on Mac"
Hello,

Does anybody found some fixes for these?

Sorry! netdata failed to build...

You may need to check these:

1. The package uuid-dev (or libuuid-devel) has to be installed.

   If your system cannot find libuuid, although it is installed
   run me with the option:  --libs-are-really-here

2. The package zlib1g-dev (or zlib-devel) has to be installed.

   If your system cannot find zlib, alth

[2021-10-20 06:32] MrZammler commented on #11679
Hi @VMLTV

Are you trying on an Intel, or M1 mac ? Also the OS version please?

Support for building on Mac is currently in progress...

[2021-10-20 06:44] VMLTV commented on #11679
Hello @MrZammler Intel Catalina 10.15.7

[2021-10-20 06:52] MrZammler commented on #11679
Ok, thanks! Are you trying to build via the kickstart script (https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart) or by cloning the repo?

[2021-10-20 06:56] VMLTV commented on #11679
Via the kickstart
bash <(curl -Ss https://my-netdata.io/kickstart.sh) --install /usr/local/

First error with Bash
bash --version echo $?
GNU bash, version 5.1.8(1)-release (x86_64-apple-darwin19.6.0)

This script does not support running as EUID 0 on macOS. Please run it as a regular user.
 FAILED

 WARNING  It failed to install all the required packages, but installation might still be possible.

[2021-10-20 19:30] HenriqueGranatto commented on #6882
Sharing: The solution described in this issue solved my problem

https://github.com/netdata/netdata/issues/9037

I hope it helps!

[2021-10-20 21:14] ilyam8 commented on #6882
Thanks, @HenriqueGranatto! Actually, you need only '--pid host' (and this is why this _feature_ [is on in our helmchart](https://github.com/netdata/helmchart/blob/5c28ab3f37baf3478d44a90e83ed20f08c63c1f6/charts/netdata/templates/daemonset.yaml#L41)).

[2021-10-20 22:28] schklom commented on #11069
@ilyam8
[code]

[2021-10-21 05:01] iTonyYo opened #11693 "Temperature graph does not show up on OpenWrt device"
I tried this method, but it didn't work. https://github.com/netdata/netdata/issues/858#issuecomment-248432790

##### OS / Environment

[code]

[code]

##### Netdata version

[code]

[2021-10-21 05:02] #11693 closed

[2021-10-21 05:03] iTonyYo opened #11694 "Temperature graph does not show up on OpenWrt device"
I tried this method, but it didn't work. https://github.com/netdata/netdata/issues/858#issuecomment-248432790

##### Sensors
[code]

##### OS / Environment

[code]

[code]

##### Netdata version

[code]

[2021-10-25 10:34] cpipilas opened #11711 "Improve memory footprint of the Agent"

[2021-10-25 10:37] #11711 closed, assigned to nobody

[2021-10-26 12:56] #11694 closed, assigned to ilyam8

[2021-10-26 15:50] dyioulos opened #11722 "packages installer failed"
The experimental packages installer failed.

System OS is Red Hat Enterprise Linux release 8.4 (Ootpa)
All required packages/dependencies that can be installed are installed.

This is what it says:

```curl -Ss 'https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh' >/tmp/install-required-packages.sh && bash /tmp/install-required-packages.sh -i n

[2021-10-26 16:41] #11722 closed, assigned to nobody

[2021-10-27 07:43] moucho opened #11724 "Netdata fails to install on CentOS 7"
##### Bug report summary

Installing Netdata, when running `post-installer.sh`, it fails:

[code]
Content of post-installer.sh:

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

I'm using https://my-netdata.io/kickstart-static64.sh as the installer script

##### Component Name

The service is not installed or running

##### Steps To Reproduce

1. In

[2021-10-27 15:26] nicknaychov opened #11727 "issues with static build on Centos7"
I get alerts on all my system:
Details: Number of filesystem errors in the last 10 minutes. Dbengine is experiencing filesystem errors (too many open files, wrong permissions, etc.).
I am using the static build veriosn of netdatat. Checking the log:
`2021-10-27 11:22:08: netdata ERROR : MAIN : Failed to open file "/opt/netdata/var/cache/netdata/dbengine/datafile-1-0000000663.ndf". (errno 13, Permi

[2021-10-28 08:44] #11727 closed, assigned to nobody

[2021-10-28 08:53] #11724 closed, assigned to nobody

[2021-10-30 18:41] 78Star opened #11736 "Add node with kickstart script on freebsd failing."
##### Bug report summary

I try to run the falling script.

`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --claim-token [My Token] --claim-rooms [My Room] --claim-url https://app.netdata.cloud`

[code]

and it fails. I have run scripts that make sure all the pkgs it needs are installed, but just to make sure here is a list of my packages

[code]

I can do

`pkg add netdata`

But that seems

[2021-10-30 19:33] 78Star commented on #11736
I add the fallowing
`pkg add https://pkg.freebsd.org/FreeBSD:12:amd64/quarterly/All/openssl-1.1.1l,1.txz`

Which seemed to get rid of the Cmake error about missing openSSL

[2021-10-30 20:30] 78Star commented on #11736
After changing gcc version with

`pkg add https://pkg.freebsd.org/FreeBSD:12:amd64/quarterly/All/gcc12-devel-12.0.0.s20210919.txz`

The number of errors went way down. Bellow is the new output I am getting (sadly still not working, but went from 500+ lines to 200ish)

https://pastebin.com/V9t4HpA7

[2021-10-30 21:23] 78Star commented on #11736
Well looks like installing the specific gcc version didn't really solve it as it was just not linked correctly. So after liking I can now do gcc --version fine, and this is the new output.

https://pastebin.com/gR4snw1b

[2021-10-31 22:36] diizzyy commented on #11736
You can build (compile) the port using the ports framework to (and) enable cloud support and/or use Poudriere to generate a package.

In general I wouldn't recommend you to mix (binary) packages and ports though, expect breakage if you're not entirely sure what you're doing and make sure to use the same git branch.

https://docs.freebsd.org/en/books/handbook/book/#ports-using
https://www.freshport

[2021-11-01 07:55] MrZammler commented on #11736
Hi @78Star , thanks for your report!

Will try to reproduce on a pfsense install, and see how we can get it going.! Thanks !

[2021-11-01 12:56] MrZammler commented on #11736
From a bit of search I did, it seems pfsense (and the likes) intentionally prevent from compiling on these platforms. Their suggestion is to run a comparable FreeBSD VM, compile there, and move the binaries to pfsense. Have you considered it?

You could perhaps build on a VM (define a specific install directory (e.g /opt/netdata)) and then move the whole thing to pfsense.

[2021-11-02 00:31] MartMlr opened #11742 "Error 101: Cannot load jQuery: [...]/lib/jquery-2.2.4.min.js"
##### Bug report summary

The shipped jquery version in /usr/share/netdata/lib/ seem to have changed in the recent nightly build from 2.2.4 to 3.6.0, which causes localhost:19999/dashboard.html and all custom made dashboards to break.

This only occures on freshly installed maschines with the most recent build. (v1.31.0-450-nightly)
Last install i made successfully without this issue was 1.31.0-37

[2021-11-02 09:22] ilyam8 commented on #11742
@MartMlr thanks for reporting the issue. I tested #11710 and it fixes the problem.

[2021-11-02 15:35] #11742 closed

[2021-11-02 15:56] aharonh commented on #4868
Hi Chris and Ilya,

Is this feature achieved? As you may already have noticed, kubernetes has depricated docker use so without cri monitoring there is no monitoring of containers, right?

Thanks,
Aharon

[2021-11-03 10:39] cakrit commented on #4868
Definitely sounds like we need to work on it. I hadn't kept up to be honest. @ilyam8 here's a link
https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/
We need to see what this means for us and do the work. FYI @cpipilas

[2021-11-03 10:50] ilyam8 commented on #4868
Hi, @aharonh. Netdata is not dependant on a container runtime when monitoring _containers_ (cgroups).

 - we collect cgroups metrics reading from `/sys/fs/cgroup`.
 - we query k8s API when doing name resolution.

So I think that containers monitoring won't be broken on GKE w/o docker.

[2021-11-03 11:18] cakrit commented on #4868
@aharonh regardless of @ilyam8 's comment, if you are willing to be the sponsor for this collector and help us test it in your production environment, we can certainly plan its implementation.

[2021-11-03 17:46] aharonh commented on #4868
@cakrit I would be glad to test it in our environment and provide feedback. Not sure what sponsor means other than that.
currently it looks that cgroup-name.sh is failing to detect the naming convention of cgroups with containerd

[code]
this is followed by errors from k8s_get_kubepod_name reported warnings

[code]

[2021-11-03 18:32] ilyam8 commented on #4868
@aharonh let's see, could you do exec into any netdata-child container

[code]

and do the following (share the output)

[code]

[2021-11-04 08:11] maneamarius commented on #11460
I reproduced the issue with the following Dockerfile:

[code]

The output of ```docker build -t netdata .``` shows:

[code]

[2021-11-04 09:24] aharonh commented on #4868
@ilyam8 here it is

[code]

[2021-11-04 10:26] ilyam8 commented on #4868
Thanks, @aharonh. We need to adjust [k8s_get_kubepod_name()](https://github.com/netdata/netdata/blob/e9efad18e8c53ac4cb777d553efe4b22cc874b7b/collectors/cgroups.plugin/cgroup-name.sh.in#L120) function.

Forgot to ask, I also need `containerID` field from any Netdata pod spec.

[code]

I need to know how to parse it. In the case of docker, [we remove](https://github.com/netdata/netdata/blob/e9efad1

[2021-11-04 11:23] aharonh commented on #4868
Hi @ilyam8 ,
here is the container id
[code]

[2021-11-04 21:12] mkaand opened #11757 "How can I change my space name?"
Hello,

I just joined and installed netdata on my server and I liked dashboard. But how can I change my space name? It looks like doesn't let me change it. Thanks in advance.

[2021-11-04 21:19] ilyam8 commented on #4868
Hey, @aharonh. I made a [PR](https://github.com/netdata/netdata/pull/11756) with the fix and created a docker image `ilyam8/netdata-test`. Can you test it? Just change Netdata daemonset (child) image to my image. Name resolution should be fixed 🤞

[2021-11-05 09:59] aharonh commented on #4868
Hey @ilyam8 ,

I am excited to report that the change looks good! The log is much cleaner now with just a fraction of errors/warnings then earlier. In what version do you think this change will propagate and how soon is it expected to be released?

Thank you so much for the lighting fast response!

The log with the new container:
[code]

[2021-11-05 10:06] ilyam8 commented on #4868
@aharonh some errors are expected because every pod contains a [pause container](https://docs.mirantis.com/mke/3.4/ref-arch/pause-containers.html) ([src code](https://github.com/kubernetes/kubernetes/blob/master/build/pause/linux/pause.c)). (can't resolve names for them).

[2021-11-05 12:29] aharonh commented on #4868
@ilyam8 , thanks for clarification. the most important is that the cgroups are now shown in the monitoring dashboard.

I see there is some issue in the build on the arm7 Ubuntu on the PR. I hope it gets resolved soon.

Good luck and thanks a lot!

[2021-11-05 12:36] ilyam8 commented on #4868
Do you mean my image doesn't work for arm7? Yes, I built it only for amd64 architecture. Also, don't forget to switch to the official Netdata image (sooner or later I'll rebuild/push ilyam8/netdata-test with some other branch I need to test).

[2021-11-05 12:43] aharonh commented on #4868
yes, that is indicated in the PR checks here https://github.com/netdata/netdata/runs/4110428997?check_suite_focus=true

[2021-11-05 12:50] ilyam8 commented on #4868
Oh, you mean our ci. The error is not related to PR changes.

[2021-11-05 17:28] waby38b commented on #11594
Hi @thiagoftsm ,

Thanks for your msg, but I'm not sure to catch your point.... since I use source of official [libbpf](https://github.com/libbpf/libbpf) library (v0.5.0)... So this is already aligned with your new [release](https://github.com/netdata/libbpf/archive/refs/tags/v0.5_netdata.tar.gz) ?!?

I use [buildroot](http://buildroot.org/) project to build (from scatch) my configuration.

My Lin

[2021-11-05 17:43] ilyam8 opened #11760 "replacing `.` with `-` breaks some regex matches in cgroup-name.sh"
##### Bug report summary

Regression bug introduced in https://github.com/netdata/netdata/pull/11050

- When doing cgroup name resolution cgroups.plugin [passes chart_id](https://github.com/netdata/netdata/blob/6d0c55b7710c8d539d72ae6b915184d6b397e455/collectors/cgroups.plugin/sys_fs_cgroup.c#L1416) as an argument to [cgroup-name.sh](https://github.com/netdata/netdata/blob/master/collectors/cgroup

[2021-11-05 21:00] wbreiler opened #11761 "Unable to resolve my-netdata.io"
##### Bug report summary

I am unable to resolve `my-netdata.io` on any device.

##### OS / Environment

[code]

##### Expected behavior

Installation script should be able to grab the file from the website and run, but since the website is unreachable that is not possible.

[2021-11-05 22:40] thiagoftsm commented on #11594
Hello @waby38b ,

I was thinking that you were using the version `0.4.2` instead the current `0.5.0`. Thanks to bring this update.

Now about the reported problem, as you can see in your error log, there was a try to append a `kprobe` for `__x64_sys_fdatasync`, but this is a function present only on `x86_64` platforms. Since kernel `4.17.0`, kernel team began to append platform as prefix for sysca

[2021-11-06 07:10] eZwzAEkx commented on #11761
ping: my-netdata.io: Temporary failure in name resolution

[2021-11-06 10:14] #4868 closed

[2021-11-06 15:40] ilyam8 commented on #11761
Thanks for reporting, guys. The issue is identified and we are working on resolving it. Will be fixed soon.

[2021-11-06 16:19] ilyam8 commented on #11761
The issue is fixed 🎉

[2021-11-06 16:37] #11761 closed

[2021-11-08 08:17] #10886 closed

[2021-11-08 13:10] waby38b commented on #11594
Hello @thiagoftsm ,

As per your suggestion (disabling mount, sync, shm) , I've now run /usr/libexec/netdata/plugins.d/ebpf.plugin without error
using  precompile BPF kernel-collector from [github](https://github.com/netdata/kernel-collector/releases/download/v0.8.6/netdata-kernel-collector-glibc-v0.8.6.tar.xz) on my ARM32 platform

and here output of "**bpftool prog list**"
[code]
Here full logs

[2021-11-09 01:21] thiagoftsm commented on #11594
Hello @waby38b ,

I am glad that we give a step forward. :)
I also observed that some numbers stored for thread and task are pretty high.
Before I take another action at `kernel-collector` repo, I will require you to run only one more command, please, after to load the eBPF.plugin, can you run the following command:

[code]

It will print for you all values inside the table:

[code]

Thank you!

[2021-11-09 08:20] waby38b commented on #11594
Hi @thiagoftsm ,

hum... I think you spot something ;)

With official (or my own compiled) kernel-collector, this return, just nothing....

[code]

[2021-11-09 15:43] Mahoo12138 commented on #10243
So disappointed to see this issue

[2021-11-09 18:06] nodiscc commented on #10886
@ilyam8 it seems to have fixed the problem for me so far! Thanks!
I initially disabled gzip compression to mitigate the risk of [BREACH](https://www.breachattack.com/) but i don't think this was required:

To my knowledge netdata does not fit the last 2 conditions

[2021-11-09 18:28] #11498 closed

[2021-11-09 18:29] ilyam8 commented on #11498
This bug should be fixed @chrisfw @mmeija

[2021-11-09 18:50] chrisfw commented on #11498
Thanks very much Ilya!

Regards,
Chris

[2021-11-10 02:24] thiagoftsm commented on #11594
Hello @waby38b ,

This was exactly what I was thinking.
Today I had a busy day, but tomorrow I will get an ancient 32 bits laptop that I still have, and I will do some tests on it. I installed kernel `5.15.0`, so I am not far from you at least on this. I am expecting at least to repeat one of the problems you are having with it.

[2021-11-10 14:21] maravento commented on #11610
I know this BUG is already fixed, but when do you update the installation channel with the fix version? (currently, it is v1.31.0 for Ubuntu 20.04)
[code]

[2021-11-10 14:37] ilyam8 commented on #11610
Hi, @maravento. We plan to release v1.32.0 this month.

[2021-11-10 14:39] maravento commented on #11610
great work. thanks

[2021-11-10 14:39] #11610 closed

[2021-11-11 12:02] HG00 commented on #9358
Hi folks,

I saw from here that i need to remove it from the "Manage War Room" view, so i looked for that and found the decoy version under the left menu (More... Manage War Room*s*). From here i can see a list of war rooms, but there's a nodes tab, clicking on that just gives a list of nodes under the claiming script that you can do nothing with. By luck i found that clicking the war room name dr

[2021-11-11 18:09] #11760 closed

[2021-11-11 22:49] dillera commented on #11679
Running into this issue. I can build and install netdata by hand, following the info here:

https://github.com/netdata/netdata/issues/6863
`
autoreconf -ivf
./configure --prefix=/usr/local/netdata/usr --sysconfdir=/usr/local/netdata/etc --localstatedir=/usr/local/netdata/var --with-zlib --with-math --with-user=netdata CFLAGS="-O2 -I$(brew --prefix)/opt/openssl/include" LDFLAGS="-L$(brew --prefix)/

[2021-11-12 00:04] dillera commented on #11679
use brew to install all of those dependancies. It will still break however on openssl.

[2021-11-12 06:51] MrZammler commented on #11679
Hi @dillera, thanks for your input!

We are currently working on the best way to install on MacOS. At the moment it seems the best bet is to install on a local user directory if you want to try it out.

Thanks!

[2021-11-12 11:13] DocMAX commented on #3095
ja you also add support for multiple profiles (e.g. show raid5 and single usage)?

[2021-11-12 13:21] jrwren commented on #8917
I had a very similar issue with v1.29.3 as packaged in Ubuntu 21.10 universe but `Cannot cd to directory '/home/netdata'` I worked around it by `cd /home; sudo ln -s /var/log/netdata/`

[2021-11-12 15:51] manos-saratsis commented on #11757
@mkaand Unfortunately you cannot right now. This is high prio on our to do list and should be there after a couple of weeks

[2021-11-12 17:22] dillera commented on #11679
So @MrZammler - i can install by hand on my Mac.

How can I:

1. run the scripts that will discover all the devices and create the /etc/netdata.conf file?

Once I have that I can start the agent, once the agent starts I can run the net-claim.sh and attach the node to my account.

[2021-11-12 23:38] NikolayS commented on #9872
@ilyam8 may we learn what was decided back then in 2020? The feature would be really great to have – Netdata turned out to be an excellent tool for various experiments and benchmarks – if you have a series of experiment runs and need to collect metrics with visualization, export and import done programmatically is exactly what's needed.

[2021-11-13 01:39] thiagoftsm commented on #11594
Hello @waby38b,

I tested on `i686` computer as I said to you, but the eBPF programs did not load giving error `4007`. According some information I read in other forums, this has relationship with some features we are using. I will dig more this error during next days.

Best regards!

[2021-11-13 09:05] vitabaks commented on #9872
I'm agree with @NikolayS , we would really appreciate the automation of export netdata snapshots .

[2021-11-13 10:19] metajiji commented on #11430
No, this not helps, because netdata is require `libuv.so.1` from epel repo

[code]

[2021-11-13 11:10] ilyam8 commented on #9872
@NikolayS Nothing was decided to my knowledge. We like this feature and have added it to the product team evaluation feature request list.

cc @cpipilas

[2021-11-13 22:11] fontanj opened #11781 "One-liner installation failed on CentOS 7"
Hi all,
I'm running into trouble installing netdata via the one-liner script on a compute node of a CentOS linux cluster.

##### Bug report summary

netdata fails to install with the one-liner intallation script.

netdata was previously installed on the computer via yum, then uninstalled via yum and /etc/netdata removed.

##### OS / Environment

[code]

##### Steps To Reproduce
I don't know if thi

[2021-11-14 09:43] mkaand commented on #11757
Thanks for information. I'll wait for updates.

[2021-11-14 09:43] #11757 closed

[2021-11-14 17:47] mx5gr opened #11784 "Ubuntu 14.04 & kickstart static 64: Agent is correctly claimed, no data is sent (libwebsockets err=20)"
##### Bug report summary
Netdata is correctly installed using the kickstart-static-64 script, agent is claimed correctly within Cloud but no data is displayed on the Cloud (node shows as unavailable".

##### OS / Environment

Ubuntu 14.04 LTS with OpenSSL 1.0.1f and 1.0.2g

Linux pc09nj2s 4.2.0-35-generic #40~14.04.1-Ubuntu SMP Fri Mar 18 16:37:35 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
/etc/lsb-r

[2021-11-15 08:55] MrZammler commented on #11784
Hi @mx5gr thanks for your report!

It seems there was a recent issue with ca-certificates, which may be the cause of your problem. Can you try to update the package on your install ?

Can you please also paste the output of `curl -vs https://app.netdata.cloud` ?

[2021-11-15 09:28] srozinov opened #11786 "Error relocating /usr/lib/libnspr4.so: gettid: symbol not found"
Hello!

##### Bug report summary
Trying to set up UPS monitoring according to
https://learn.netdata.cloud/docs/agent/collectors/charts.d.plugin/nut

What I get in my netdata container:
bash-5.0# upsc
Error relocating /usr/lib/libnspr4.so: gettid: symbol not found

##### OS / Environment
Linux aquanas 5.4.128-1-pve #1 SMP PVE 5.4.128-2 (Wed, 18 Aug 2021 16:20:02 +0200) x86_64 Linux
/etc/alpine-rele

[2021-11-15 09:45] vlvkobal commented on #3095
@DocMAX could you elaborate? What information should we read and how to treat it? How it looks in the `/sys/fs/btrfs/*` files? What should we show on the charts?

[2021-11-15 09:51] ilyam8 commented on #11786
Hi, @srozinov. Thanks for reporting, but I think this is the same issue as #10903. It will be solved after[ switching to alpine 3.14](https://github.com/netdata/helper-images/pull/140#issuecomment-954758278).

Closing as duplicate.

[2021-11-15 09:51] #11786 closed

[2021-11-15 12:43] Ferroin commented on #11430
The short-term fix for this is to remove any existing PackageCloud repository configuration on the system, and then fetching and installing one of:

* https://packagecloud.io/netdata/netdata-repoconfig/packages/el/7/netdata-repo-edge-1-1.noarch.rpm/download.rpm (for nightly builds).
* https://packagecloud.io/netdata/netdata-repoconfig/packages/el/7/netdata-repo-1-1.noarch.rpm/download.rpm (for sta