[2020-10-13 11:46] thiagoftsm commented on #1278
Hello @DonZheng ,

The cloud is a project that we started this year and we would love to hear feedback from it. :) Please, be free to join our community  https://community.netdata.cloud and post a question! You can also send me an email (thiago@netdata.cloud) and we will try to schedule a meeting to hear you.

Best regards!

[2020-10-13 15:55] mcnaveen commented on #10061
Yeah. Thanks @OdysLam

[2020-10-13 17:47] Komic commented on #7391
@prologic should this be reopened, or would you rather track this in a separate issue?

[2020-10-13 18:14] thiagoftsm commented on #10054
All right @AnoopAlias, let us keep this issue open until they fix their bug :handshake: , and please, let us know if we can help you with anything.

[2020-10-13 21:31] TIBTHINK opened #10065 "updating netdata through the webpage"
Basically when there is an update available there is a button that will update it through the webpage it self

[2020-10-14 01:01] DonZheng commented on #5690
@ilyam8 Thanks to your guidance, I have managed to successfully install openvpn plugin on multiple machines.

I wonder if it is possible to install plugins along with netdata isntallation script? Something like:

`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait -- plugin openvpn, nginx, <plugin3>, <plugin4>....`

This would be very handy for users who need to install netdata+plugin

[2020-10-14 06:07] ilyam8 commented on #5690
It is so, you have all plugins after install, you only need to configure them (in case of openvpn - enable in go.d.conf)

[2020-10-14 08:07] ilyam8 commented on #7391
@Komic i think a separate issue is better

[2020-10-14 08:58] hope1234567hope commented on #9995
In our country，i  Can not  visit  netdata cloud.
ask you a question，docker install netdata，my ip is 11.11.114.208，
this is my python.d/mongodb.conf   ：
remote207:
    name : 'remote207'
    authdb: 'admin'
    host : '11.11.114.207'
    port : 27017
    user : 'netdata'
    pass : '1234qwer'
but web not display remote207？why？

[2020-10-14 09:10] manos-saratsis commented on #10062
@DonZheng it's not just you, we need to improve there and maybe let users switch to their preferred units

[2020-10-14 09:13] manos-saratsis commented on #10062
@DonZheng I am closing the ticket as we opened a separate one to track it. Low prio unfortunately

[2020-10-14 09:13] #10062 closed

[2020-10-14 09:42] ilyam8 commented on #9995
@hope1234567hope could be a lot of reasons, see https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin#how-to-debug-a-python-module

[2020-10-14 15:49] andrewm4894 opened #10069 "Click a line to select it in same way selecting it in the legend does."
##### Feature idea summary

It would be very useful if clicking a line on a chart in the netdata dashboard had the same effect as clicking its series from the legend.

Sometimes it is quite tricky to figure out from looking at the legend what line you are actually interested in selecting. Being able to just 'click' the line itself would be very useful.

##### Expected behavior

For example I would

[2020-10-14 21:03] #8949 closed

[2020-10-14 21:07] rodrigoferrazazevedo commented on #3953
Netdata cannot monitor the voltage of Raspberry Pi? Anyone here done this?

[2020-10-14 21:11] ilyam8 commented on #3953
I see it should collect voltage data

https://github.com/netdata/netdata/blob/d568a47c6bb7c2096d4dc534cd7775923bd5adfa/collectors/charts.d.plugin/sensors/sensors.chart.sh#L151-L158

[2020-10-14 21:15] rodrigoferrazazevedo commented on #3953
Thanks, ilyam8, but in my laptop the sensor data is enabled but in my Raspberry Pi only the temperature sensor is showed. I searched in the documentation but don't able to enable this in Raspberry.

[2020-10-14 21:25] ilyam8 commented on #3953
Could be there are no other sensors in `/sys/devices`

https://github.com/netdata/netdata/blob/d568a47c6bb7c2096d4dc534cd7775923bd5adfa/collectors/charts.d.plugin/sensors/sensors.chart.sh#L16-L17

https://github.com/netdata/netdata/blob/d568a47c6bb7c2096d4dc534cd7775923bd5adfa/collectors/charts.d.plugin/sensors/sensors.chart.sh#L47-L55

https://github.com/netdata/netdata/blob/d568a47c6bb7c2096d4dc

[2020-10-14 21:36] rodrigoferrazazevedo commented on #3953
Thanks. My terminal listed only the thermal sensor in devices/virtual.

[2020-10-14 22:19] Martin-Luther opened #10070 "IPv6 not configured for app.netdata.cloud ?"
[code]

##### Question summary

I was trying to claim from a machine using only one IPv6 interface (No IPv4)
I can ping and download the agent from `my-netdata.io` which is IPv6 compliant.
I can not ping or claim using `app.netdata.cloud` which is not configured for IPv6, while `netdata.cloud` is.

Could my problem be related to the fact that the subdomain `app.netdata.cloud` is not configured for

[2020-10-14 22:20] Martin-Luther opened #10071 "Failed to connect to https://app.netdata.cloud, return code 7"
[code]

##### Question summary

I was trying to claim from a machine using only one IPv6 interface (No IPv4)
I can ping and download the agent from `my-netdata.io` which is IPv6 compliant.
I can not ping or claim using `app.netdata.cloud` which is not configured for IPv6, while `netdata.cloud` is.

Could my problem be related to the fact that the subdomain `app.netdata.cloud` is not configured for

[2020-10-14 22:52] ilyam8 commented on #10071
Hi @Martin-Luther

Seems duplicate of #10070, closing the issue

[2020-10-14 22:52] #10071 closed

[2020-10-15 01:08] JakeMHughes opened #10073 "Is it possible to compress CPU section?"
##### Question summary
The CPUs section in netdata displays all the CPU data with a separate chart for each core. With most CPUs this is perfectly fine, but with multi-processor servers this section gets pretty large.

Are there any options to compress this section some? for instance Windows task manager would have multiple smaller charts on the same line, is there anything similar in netdata?

If

[2020-10-15 02:03] TheOldMan2000 commented on #10073
Great idea, my VPS has 48 virtual cores so I tend to avoid this section.

[2020-10-15 02:30] TheOldMan2000 opened #10074 "Zend Opcache and PHP charts"
##### Feature idea summary

I noticed that there are no stats in Netdata for Opcache by default. In the past I've noticed that there are a few Opcache dashboards showing big colourful pie charts etc for stats on GitHub, and I noticed some stats displayed in PHP info.

Zend Opcache
Opcode Caching | Up and Running
-- | --
Optimization | Enabled
Startup | OK
Shared memory model | mmap
Cache hits | 33

[2020-10-15 02:46] TheOldMan2000 opened #10075 "Histograms always showing +Inf"
##### Bug report summary
Throughout the Dashboard the Histograms in web_log go.d charts only ever show +Inf and no actual values. Been this way a while I think.

##### OS / Environment
[code]

##### Netdata version
 v1.25.0-164-g023a622b

##### Component Name
Web

##### Steps To Reproduce

Screenshot attached.

Using default histogram configuration values.

##### Expected behavior

Netdata to rest

[2020-10-15 05:11] ilyam8 commented on #10075
Hi, it seems buckets are in in microseconds

https://github.com/netdata/go.d.plugin/blob/f66c28fd6f7bbc68815567f06e5daf5b822de942/config/go.d/web_log.conf#L98-L101

https://github.com/netdata/go.d.plugin/blob/f66c28fd6f7bbc68815567f06e5daf5b822de942/modules/weblog/logline.go#L560-L568

[2020-10-15 05:16] jeremyjpj0916 commented on #7327
@mfundul  Seeing things like this in the children nodes, but not the one you are asking about at the moment:

[code]

Parent node not showing too much in logs atm besides the standard statsD chart type already exists warning thing, would be nice if I could silence that since I expect many apps have a multi child to parent relationship sending data over the same chart type name because its the same

[2020-10-15 05:16] ilyam8 commented on #10073
Hi, atm you either have per core charts or no

[code]

[2020-10-15 07:14] OdysLam commented on #10054
Hey @AnoopAlias thanks for bringing this bug to our attention, we will keep an eye out for the fix. If you happen to notice it fixed, please do ping us here!

Welcome to our community btw :)

[2020-10-15 07:15] OdysLam commented on #1279
@mcnaveen

Welcome to our community! If you have any other question please create an issue or even better create a post at our [forums](https://community.netdata.cloud)

[2020-10-15 07:16] OdysLam commented on #3953
@rodrigoferrazazevedo, so the Rpi has not enabled or doesn't have a voltage sensor?

BTW, welcome to our community! If you have any other questions please create an issue or even better create a post at our [forums](https://community.netdata.cloud)! :)

[2020-10-15 07:17] OdysLam commented on #10071
Hey @Martin-Luther,

Thanks for pinging us on this issue. As Ilya wrote, we are aware and we work on fixing this. Thanks for bearing with us 💪

BTW, welcome to our community! If you have any other questions please create an issue or even better create a post at our [forums](https://community.netdata.cloud)! :)

[2020-10-15 07:18] OdysLam commented on #10073
@JakeMHughes ,  thanks for the suggestion. The tip that Ilya suggests is suitable for your needs?

BTW, welcome to our community! If you have any other questions please create an issue or even better create a post at our [forums](https://community.netdata.cloud)! :)

[2020-10-15 08:36] mfundul commented on #7327
It looks like you're running out of buffer space at the child nodes, take a look [here](https://github.com/netdata/netdata/blob/master/streaming/README.md#slow-connections-between-parent-and-child).

You should update `etc/netdata/stream.conf` in the child nodes to use a larger buffer size, e.g.
[code]

[2020-10-15 08:52] mickae1 opened #10076 "Debian 8 arm linux gnueabi-hf"
Hi,

I would like to find a package compatible with Debian 8 arm linux gnueabi-hf.

do you know where I can find it ?

[2020-10-15 08:53] mickae1 commented on #7826
@prologic  it's done #10076

[2020-10-15 09:51] Windyo opened #10077 "Netdata CPU usage and Frequency monitoring ignores Boost"
##### Bug report summary
On the Netdata dashboard:
- CPU Utilization caps at 100%
- CPU Freq caps at the on-demand indicated max.

My CPU has Boost enabled, with Boost being able to go up to 200% of the normal load (from 1.6Ghz max  to 3.0Ghz max).
Boost is active and when checking the CPU in the machine itself by `cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq` I can see that the CPU d

[2020-10-15 10:24] kozicpetar opened #10079 "Adaptec RAID plugin bug"
##### Bug report summary
On server where I monitoring Adaptec RAID, netdata plugin stop monitoring from 10. August. Nothing changed on system side.

I have enabled adaptec_raid in `python.d.conf`
[code]

In `python.d` folder I have config file `adaptec_raid.conf`:
[code]

In sudoer I have set permission:
[code]

arcconf exists and works, I checked:
`sudo -n arcconf GETCONFIG 1 LD`
[code]

In netda

[2020-10-15 10:32] ilyam8 commented on #10079
Hi

We want `bash`, not `sh`, i think that is the problem.

if it works in debug mode and doesn't in normal that it is likely systemd unit limitations issue ([CapabilityBoundingSet](https://github.com/netdata/netdata/blob/a0900ae81151211322160043d564141f8f9584fe/system/netdata.service.in#L47-L65) i guess)

[2020-10-15 10:38] kozicpetar commented on #10079
Yes, works with bash:

[code]

What mean that, I need to add manually this capability in systemd?
I saw that is fixed, when we can expect that in `main` repo and I hope that will be updated through auto-update.

[2020-10-15 10:40] ilyam8 commented on #10079
i am not sure it is fixed

show

[2020-10-15 10:42] kozicpetar commented on #10079
[code]

[2020-10-15 10:42] kozicpetar commented on #10079
Same problem was with megacli RAID

[2020-10-15 10:44] arpogo commented on #9002
I have dynamic scaling infrastructure, 1 Netdata agent on every prod instance.
But for this i have many dead instances in list, i tried to make a jenkins job for cleaning up dead instances.. but unfortunately only one way to use "netdata cloud api" - https://app.netdata.cloud/api/v1/spaces/${ND_SPACE}/rooms/${ND_ROOM}/nodes
Is using Cookie - that is really not great,

Would be great to have as min

[2020-10-15 10:49] ilyam8 commented on #10079
Was? Have you fixed it?

---

I am not really systemd unit specialist 😅 That is just my assumption based on old issues.

I would try the following:

 - commented out all `CapabilityBoundingSet...`
 - `sudo systemctl daemon-reload`
 - `sudo systemctl restart netdata`
 - 🤞

[2020-10-15 11:00] kozicpetar commented on #10079
No, I didn't. But I think same problem is.

Yes, I commented Capability and works now.

[code]

Do you have idea will be this sorted on some automatic way, some update or similar? I'm aware what will be when netdata update next time if I changed service file manually.

[2020-10-15 11:01] ilyam8 commented on #10074
Hi @TheOldMan2000 👋 I have feeling that

I see there is [`opcache_get_status`](https://www.php.net/manual/en/function.opcache-get-status.php) function in php to get those metrics, have no clue how to it works and how to get those metrics or if they even exposed.

What are you referring to? What php chart? 🤔

[2020-10-15 11:03] ilyam8 commented on #10079
🎉

I guess there are some missing capabilities we need to add to the bound set. We need to figure out what is missing and add it.

[2020-10-15 11:05] ilyam8 commented on #10079
related issue https://github.com/netdata/netdata/issues/10037

[2020-10-15 11:26] ilyam8 commented on #10079
@kozicpetar try to add `CAP_SETUID` to the set and see if it works.

[2020-10-15 11:32] kozicpetar commented on #10079
Don't work.

Same error:
[code]

[2020-10-15 11:57] ilyam8 commented on #10079
Have you `sudo systemctl daemon-reload` after the change?

[2020-10-15 12:03] kozicpetar commented on #10079
Yes, sure

[2020-10-15 12:16] ilyam8 commented on #10079
Well, tough luck 😞 We need to investigate it, i don't even know is it sudo itself needs some capabilities or the command we want to execute with it (i think both, and for the command it seems we need some specific capability 🤷‍♂️).

@cinderblock i rememeber you are very good in debugging such problems, would be very nice to get you helping ☺️

[2020-10-15 13:33] jeremyjpj0916 commented on #7327
But why is the buffer full every second, and why do  get weird connection invalid arg erros (errno 22, Invalid argument) . In a stream w mostly my statsD data the buffer should relatively fluctuate w the traffic coming through the gateway app the child is sidecar with. But this error seems an ongoing thing that happens night(when utilization is low) or day. Will try playing w that param though.

[2020-10-15 13:50] manos-saratsis commented on #9002
@arpogo we will offer this feature within the upcoming months. Apologies for the inconvenience in the meanwhile.

[2020-10-15 14:39] Ferroin commented on #10070
Yes, it’s probably due to our current lack of IPv6 support on the Cloud itself. I’ve just mentioned this as an issue to our infrastructure team.

[2020-10-15 14:42] Ferroin commented on #3953
Most likely, the kernel itself does not have a driver for the voltage sensor (whether this is due to lack of availability of such a driver, or just that kernel build not having it enabled I don’t know). The SoC itself should have a voltage sensor.

[2020-10-15 14:45] 0xpr03 commented on #8886
On debian 10 you can install netdata via apt from the default repos, the .dpkg builds aren't working

[2020-10-15 14:46] Ferroin commented on #10073
Perhaps we could add an option to display the per-core charts at half height? Even with only 16 vCPUs on a Ryzen 7 1700 these sections get a bit unwieldy.

[2020-10-15 17:39] Ferroin commented on #10077
For CPU utilization, it quite simply does not work the way you seem to expect, in _any_ tool. What the percentage shown for CPU utilization actually is is a measure of what percentage of time the CPU has actually been executing machine code over the past second. The fact that it’s time-based is important for monitoring for three reasons:

* It provides consistency with network and disk utilization

[2020-10-15 17:44] Windyo commented on #10077
Hey 😁
Re: utilization, noted and understood. Let's leave that by the wayside.
-------------
Re: frequency monitoring I use the CPU frequency component in the home dashboard. I can confirm it never shows a boosted state even when I know that the rate is in fact boosted, and when querying the current freq tells me that the freq is in fact over 1.6Ghz.

[2020-10-15 17:51] Ferroin commented on #10077
OK, can you provide some more info about your specific CPU as well as the contents of `/sys/devices/system/cpu/cpufreq/policy0/scaling_driver` and `/sys/devices/system/cpu/cpufreq/policy0/scaling_governor`.

[2020-10-15 18:00] Ferroin commented on #10076
We don’t currently provide packages for any architectures other than x86 and 64-bit x86, though we do have plans to support at least ARM (both 32 and 64-bit). Unfortunately said plans are currently on-hold pending the completion of a major rewrite of our binary packaging handling code.

Due to Debian 8 being in it’s 'extended long-term-support period' we are not currently providing packages for De

[2020-10-15 18:08] Windyo commented on #10077
CPU info:
[code]
analyzing CPU 0:
  driver: acpi-cpufreq
  CPUs which run at the same hardware frequency: 0
  CPUs which need to have their frequency coordinated by software: 0
  maximum transition latency: 4.0 us
  hardware limits: 1.20 GHz - 1.60 GHz
  available frequency steps:  1.60 GHz, 1.40 GHz, 1.20 GHz
  available cpufreq governors: conservative ondemand userspace powersave performance sch

[2020-10-15 18:19] JakeMHughes commented on #10073
So digging in the docs a bit, I found the page about [custom dashboards](https://learn.netdata.cloud/docs/agent/web/gui/custom).
Looks like a simple
[code]
works and looks decent enough
![data](https://user-images.githubusercontent.com/46405216/96170122-30965d80-0ef1-11eb-85ed-f76004449591.png)

So thats definitely an option, but it would be nice to have it as an optional setting in the base dashb

[2020-10-15 18:21] Ferroin commented on #10077
I have personally seen boost frequency reporting issues with AMD CPUs of the same vintage in the past, _but_ that was years ago on a much older version of Linux and it included the data reproted in sysfs not being consistently correct, so I don’t think that’s what you are seeing here.

Given this, I do believe you have indeed found a bug in Netdata itself. Unfortunately I don’t have AMD hardware t

[2020-10-15 18:23] Ferroin commented on #10073
Actually, being able to have them be reduced width like that as well as reduced height would be awesome. The change would indeed need to be in the dashboard code though.

@jacekkolasa Any idea how much effort this might require?

[2020-10-15 19:07] candlerb opened #10081 "Question: how to disable the "apache" collector"
#### Question summary

I am most likely being dense here.  I want to disable the apache collector, so that it doesn't keep logging:

[code]

I have tried:

[code]

Edited this file:

[code]

Restarted netdata, no difference.

I have also edited /opt/netdata/etc/netdata/netdata.conf

[code]

Again no difference.

I tried to search [documentation](https://learn.netdata.cloud/docs/agent/collectors/re

[2020-10-15 19:22] ilyam8 commented on #10081
Hi @candlerb 👋 You need to disable python version too (`python.d.conf`).

[2020-10-15 19:23] ilyam8 commented on #10081
You disabled it correctly, it is `go.d.conf` and there you enabled/disable specific collectors.

[2020-10-15 19:23] ilyam8 commented on #10081
We migrating py=>go so we have some collectors written in both/languages 😄

[2020-10-15 19:33] candlerb commented on #10081
Thank you!

For reference, I did the following:

[code]
[code]

Then after `systemctl restart netdata` the problem is solved.

(also I put `netdata.runtime_apache_local` back how it was in `netdata.conf`)

[2020-10-15 19:33] #10081 closed

[2020-10-15 19:40] ilyam8 commented on #10081
These are _Time Execution_ charts for every py/go collector jobs. (`Netdata Monitoring->{go.d,python.d}`)

[2020-10-15 19:49] candlerb commented on #5385
Nice solution, in my case I went for a slight variation:

[code]

[2020-10-15 21:35] ilyam8 commented on #10077
@vlvkobal take a look

[2020-10-15 23:07] TheOldMan2000 commented on #10075
Thanks, I'm sure it used to work fine out of the box with default histogram: [1,3,10,30,100] which relate to seconds.

1sec = 1000 milliseconds (multiply the time value by 1000)
and
1ms = 0.001 seconds (divide the time value by 1000)

so as the histogram chart says requests per second and not milliseconds, I tried
`histogram: [0.001,0.002,0.003,0.004,0.005]`

but no success, it still says +Inf (un

[2020-10-15 23:09] cinderblock commented on #10079
You might try setting `CapabilityBoundingSet=~` to clear all capability restrictions to see if that makes it work. If so, it's just a matter of finding the specific CAP that's needed. If not, something else is blocking the capability.

[2020-10-16 07:11] kozicpetar commented on #10079
I just test to set:
`CapabilityBoundingSet=~`

With this RAID plugin work.

[2020-10-16 07:18] ilyam8 commented on #10079
Same as we did in https://github.com/netdata/netdata/issues/10079#issuecomment-709165541

So we know it is capabilities that is blocking, not somethine else.

[2020-10-16 07:34] kozicpetar commented on #10079
Yes, I know.
We need to find what blocking.

[2020-10-16 10:09] stdedos opened #10083 "Enhance the installer script to inform about options passed to the installer (e.g. --disable-telemetry)"
##### Feature idea summary

Enhance the installer script to inform about options passed to the installer (e.g. --disable-telemetry)

##### Expected behavior

[code]

[2020-10-16 10:17] mickae1 commented on #10076
I have this error:

[2020-10-16 10:31] mickae1 commented on #10076
I don't have the rpm-tools:
-- Looking for RPMTools... - rpmbuild NOT FOUND
---------------------------------------------------------------------
  Settings:  (For more help do cmake -LH <srcpath>)
---------------------------------------------------------------------
 LWS_WITH_STATIC = ON
 LWS_WITH_SHARED = ON
 LWS_WITH_SSL = ON (SSL Support)
 LWS_SSL_CLIENT_USE_OS_CA_CERTS = 1
 LWS_WITH_WOLFSSL =

[2020-10-16 11:32] Ferroin commented on #10076
Hmm, I forgot we have unconditional eBPF support in our packages.

You should be able to get it working by just removing the following line from the `debian/rules` file (should be line 39 if you have the most recent sources):

    packaging/bundle-libbpf.sh .

[2020-10-16 14:39] mickae1 commented on #10076
Thx it works,

But because I've two version of openssl, the link failed.

How can I specify a version of openssl ?

example:
LIBSSL_CFLAGS = -I/usr/include
LIBSSL_LIBS = -L/usr/lib/arm-linux-gnueabihf -lssl

but I'm using this command:
dpkg-buildpackage -us -uc -rfakeroot

[2020-10-16 14:52] BKPepe opened #10086 "1.26.0 - Plugin: Slabinfo - compilation warnings (expect argument)"
### Bug report summary

While cross-compilation of Netdata 1.26.0, I noticed these warnings:
https://gist.github.com/BKPepe/82f9a66e8f01e1eb0565b57baa182c1d

Almost the same for collectors/proc.plugin/sys_class_infiniband.c and  `collectors/proc.plugin/proc_pagetypeinfo.c`

##### OS / Environment
Linux super_cool_name 5.4.0-48-generic #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020 x86_64 x86_64 x86_6

[2020-10-16 14:53] mickae1 commented on #10076
I had the same issue in the past, but I could not find a solution ......

#7016
https://github.com/netdata/netdata/issues/7016

[2020-10-16 14:59] mickae1 commented on #10076
and the final
https://github.com/netdata/netdata/issues/8306

But Is there a way to force the version ?

I can make some modification somewhere if Have to ....

example:
LIBSSL_CFLAGS = -I/usr/include
LIBSSL_LIBS = -L/usr/lib/arm-linux-gnueabihf -lssl

[2020-10-16 15:51] TheOldMan2000 commented on #10075
Putting the integers in 1000's produces some more info and a list on the right.

e.g. histogram: [1000,2000,3000,4000,5000,10000]

<img width="756" alt="netdata Dashboard histogram" src="https://user-images.githubusercontent.com/13329789/96280343-c4d6f200-0fcf-11eb-9e37-301e5f41556d.png">

[2020-10-16 16:04] TheOldMan2000 commented on #10074
#What are you referring to? What php chart?

Exactly! ;)

[2020-10-16 21:08] cinderblock commented on #10079
This should be pretty straightforward to fix then.

The full list seems to be here: https://man7.org/linux/man-pages/man7/capabilities.7.html

Add all of them, make sure it works. Remove one at a time until you find what breaks. Could do a binary search to find it faster.

[2020-10-16 21:53] ilyam8 commented on #10079
I think i found, pretty obvious

- `CAP_SETGID`
- `CAP_SETUID`

[2020-10-16 22:08] kozicpetar commented on #10079
I tried that yesterday, didn't work.

On Fri, Oct 16, 2020, 23:54 Ilya Mashchenko <notifications@github.com>
wrote:

[2020-10-16 22:12] ilyam8 commented on #10079
Both of them?

Clear `error.log` (`cp /dev/null error.log`), restart `netdata.service` and

[2020-10-16 22:39] cinderblock commented on #10079
Bash trick for easier file emptying: `> error.log`

[2020-10-17 08:17] mdhz opened #10089 "netdata update failing"
**Question summary:**
The auto update failed to update netdata to latest version so I went ahead to update it manually but I am getting an error.
Using the kickstart file is failing to update netdata. Error is Failed to update existing Netdata install.
http://puu.sh/GDU9S/e65a53a898.png

/etc/netdata/.environment file contents:
https://puu.sh/GDU8l/d05a91dbba.png

**OS / Environment:**
Ubuntu 18.0

[2020-10-17 12:04] TheOldMan2000 opened #10090 "Text font size is far too small to read without large zooming on gauges when using an iPad."
##### Bug report summary
Although responsive, the text that accompanies dashbaord gauges is far too small to read when using a standard iPad.
(Gauges shown at top in System Overview and those recently restored in Go.d Web_Log)

##### OS / Environment
ipad OS 14x

##### Netdata version
v1.26.0-6-g33c7a110

##### Component Name
web

##### Steps To Reproduce

General usage.

##### Expected behavior

[2020-10-17 12:08] TheOldMan2000 opened #10091 "Resizing the height of a chart using the up and down icons broken on mobile (iPad)"
##### OS / Environment

iPad OS

##### Netdata version
v1.26.0-6-g33c7a110

##### Component Name
Web

##### Steps To Reproduce

When using an ipad, attempt to resize the height of a chart using the up and down icons. Nothing happens.

##### Expected behavior
Restore height adjustment controls on dashboard charts.

[2020-10-17 13:58] davtur19 opened #10092 "Memory leak"
##### Bug report summary

The latest version on docker has a memory leak
previous version: sha256:cccd8d5d278b5d8035e39c6c3a1eb82f1977ff03dbe210665a25d5a17e41ae76
current version: sha256:7e190b9d58fb679e701716ada472e1220e8f91f552f516470f53f804b8e54329

##### OS / Environment
Running on docker image: netdata/netdata

Host info:
[code]

##### Netdata version

 netdata v1.26.0-5-gc7f2b109

##### Comp

[2020-10-17 19:46] olg33 commented on #10040
ok Thanks.

[2020-10-17 20:30] #10040 closed

[2020-10-17 20:40] #9868 closed

[2020-10-17 20:40] #9885 closed

[2020-10-17 20:40] #9899 closed

[2020-10-18 01:39] startryst commented on #8527
Update to keep it warm

[2020-10-18 04:03] emanzx opened #10094 "FreeBSD net inbound and net outbound does not have data."
##### Bug report summary

Net data failed to get data on net inbound and net outbound for the aggregated network bandwidth.

##### OS / Environment

[code]

##### Netdata version

  $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V
2020-10-18 11:59:19: netdata INFO  : MAIN : CONFIG: cannot load cloud config '/var/lib/netdata/cloud.d/cloud.conf'. Running with internal defaults.
2020-10-18 11:59:19: ne

[2020-10-18 18:09] ilyam8 commented on #10092
Hi @davtur19

So prev version has no? Did you use `v1.25.0`?

Lets see components memory usage `Applications->mem`

[2020-10-18 18:19] davtur19 commented on #10092
The previous version is this: sha256:cccd8d5d278b5d8035e39c6c3a1eb82f1977ff03dbe210665a25d5a17e41ae76 from netdata/netdata:latest
So it's netdata/netdata:latest from two days ago, I'm not sure what the previous version was, but I'm sure of the image I was using and it didn't give any problems

![image](https://user-images.githubusercontent.com/13476215/96376423-17a2dc00-117f-11eb-80d2-08c9e18cabd4

[2020-10-18 21:15] hamedbrd commented on #9611
@ilyam8 May you explain this part a bit more?

 if we want to fetch  `%^FB` without any patterns then how should we fetch this log field from apache log file? it would be great to give me an example withing netdata to see how we should fetch such log field.

And does it need to add one more case to this method?
https://github.com/netdata/go.d.plugin/blob/1305e1afb4b57776ce29daa2fedfa631c16dde1d/mo

[2020-10-19 06:57] mfundul commented on #10092
@Ferroin can you point us to the relevant git commits between those 2 docker builds? @thiagoftsm could this be a memory leak in ebpf?

@davtur19 can you share your error logs? (could be at `var/log/netdata/error.log` or in the docker logs). Are you using the ebpf collector?

[2020-10-19 07:20] mickae1 commented on #10076
@Ferroin  any idea ? :'(

[2020-10-19 10:06] mickae1 commented on #6943
@prologic I've still the same problem, any idea ?

#10076

[2020-10-19 10:06] Saruspete commented on #9872
Keep it open please.

[2020-10-19 10:07] Saruspete commented on #9815
Keep it open please.

[2020-10-19 11:38] AysadKozanoglu commented on #9202
if installed netdata from with one-liner kickstart script than you can find netdata-claim under:

```/opt/netdata/bin/netdata-claim.sh```

[2020-10-19 11:39] Ferroin commented on #10076
Sorry about the delayed response.

There’s currently not any reliable way to specify a particular OpenSSL version unless you’re trying to use a custom build that is not part of the main system libraries (and isn’t in the standard system paths), in which case ensuring that all of `LDFLAGS`, `CFLAGS`, `PKG_CONFIG_PATH` and `CMAKE_FLAGS` are set correctly for the desired copy of OpenSSL should work.

[2020-10-19 12:09] duhzon opened #10099 "Remote ssh setup"
Hello guys! Last year i installed netdata on Beowulf cluster setup with fedora in my University lab, but we had some problem and it was re installed. Due to covid situation i cant go to lab and im trying to setup again all metrics in one display with a custom dashboard. But im facing a early situation. I can run netdata on main network node, but cannot display netdata on other machine.
I will brie

[2020-10-19 12:10] ilyam8 commented on #10092
@mfundul it is not ebpf

[2020-10-19 12:16] ilyam8 commented on #10099
@duhzon hi

I think `parent-child` setup would help you, see https://learn.netdata.cloud/docs/agent/streaming.

Then you ssh into parent(main) node and observe add hosts from there.

Could be netdata listens only on localhost, see

[code]

[2020-10-19 12:23] thiagoftsm commented on #10094
Hello @emanzx ,

I installed the latest Netdata now on `FreeBSD 12.1-RELASE-p10` and I configured this Netdata to stream data for another Netdata and I am having the network chart with the data:

![err](https://user-images.githubusercontent.com/49162938/96450392-a8bc9600-1205-11eb-9b11-540cc0d9e46e.png)

Which Netdata version (`netdata -V`) are you runing?
How did you install your Netdata?

Best r

[2020-10-19 12:26] thiagoftsm commented on #6943
@Ferroin , please, take a look on this.

[2020-10-19 12:41] thiagoftsm commented on #10092
No @mfundul , `ebpf.plugin` by default does not run on docker, because Alpine team does not compile the `bpf` syscall with its kernel, also there are other configuration with docker that disable the plugin.

[2020-10-19 13:11] mfundul commented on #10092
@davtur19 can you also share your `etc/netdata/netdata.conf`?

[2020-10-19 13:27] davtur19 commented on #10092
[error.log](https://github.com/netdata/netdata/files/5401891/error.log)

[netdata.conf](https://github.com/netdata/netdata/files/5402006/netdata.conf.txt)

Now I am using the latest version netdata/netdata:latest, same problem
I tried version 1.26.0 and 1.25.0 from docker and I have the same problem
It is very strange, since I did not have such a high RAM usage before, I use `save` as database, bu

[2020-10-19 14:59] ilyam8 commented on #10075
Yes, it show number of requests per second. I see we store the value in microseconds

https://github.com/netdata/go.d.plugin/blob/1305e1afb4b57776ce29daa2fedfa631c16dde1d/modules/weblog/logline.go#L560-L568

What we can do is to have configuration in seconds (`0.001`, etc) and convert internally to microseconds.

[2020-10-19 15:13] ilyam8 commented on #10075
@hamedbrd do you want to fix this?

Configuration is in milliseconds

https://github.com/netdata/go.d.plugin/blob/1305e1afb4b57776ce29daa2fedfa631c16dde1d/config/go.d/web_log.conf#L98-L101

Both `request processing time` and `upstream response time` values are in microseconds (we convert them)

https://github.com/netdata/go.d.plugin/blob/1305e1afb4b57776ce29daa2fedfa631c16dde1d/modules/weblog/logl

[2020-10-19 16:06] #10092 closed

[2020-10-19 18:42] KOHPM opened #10101 "Cannot install netdata from source (the source directory does not include netdata-installer.sh). Leaving all files in /tmp/netdata-kickstart-RH8spBRm6P"
solved

[2020-10-19 18:58] TheOldMan2000 commented on #10075
Thanks guys, you're awesome. I think probably milliseconds as that's how responses are measured in Apache logs and if you are using a page tester like GT Metrix.

[2020-10-20 03:15] altimore opened #10104 "Adding another modifier than ALT + click + mouse drag for the linux users"
##### Feature idea summary
Hello,

The default behaviour in some (most) linux system window manager for ALT + click + drag is to move the window so we cannot use your metric correlation function in the netdata cloud interface.

##### Expected behavior
It would be nice if you can add a different shortcut which would be usable without changing the window manager settings.

Regards,

Thomas.

[2020-10-20 06:25] lzclff opened #10105 "netdata cannot monitor Kubernetes clusters？"
##### Feature idea summary
I hope to monitor the operation of the Linux system on the Kubernetes clusters machine
##### Expected behavior

[2020-10-20 07:31] ilyam8 commented on #10105
Hi @lzclff 👋

See https://github.com/netdata/helmchart#netdata-helm-chart-for-kubernetes-deployments

[2020-10-20 08:44] ipiasecki opened #10106 "Netdata update failed - Centos 6"
Hi.

I tried to update netdata on centos 6, but process failed.

I attached a screenshot.

What now ?
![Zrzut ekranu 2020-10-20 104246](https://user-images.githubusercontent.com/11630236/96562657-4aed8400-12c1-11eb-9bcb-68ff52df7694.png)

[2020-10-20 08:59] #10006 closed

[2020-10-20 09:00] #10014 closed

[2020-10-20 11:04] #6333 closed

[2020-10-20 11:44] vlvkobal commented on #10106
@stelfrag Please check #9978. You defined `CONTEXT_PARAM` twice.

[2020-10-20 12:51] stelfrag commented on #10106
Taking a look

[2020-10-20 12:52] #9487 closed

[2020-10-20 16:41] a-camacho commented on #3656
Thanks !

[2020-10-21 07:17] #10075 closed

[2020-10-21 10:53] ilyam8 commented on #9611
@hamedbrd my proposal is to not add `%^FB` but add `custom_time_field` feaute like we have [`custom_field`](https://github.com/netdata/go.d.plugin/tree/master/modules/weblog#custom-fields-feature)

[2020-10-21 12:03] hamedbrd commented on #9611
@ilyam8  you earlier mentioned

So does that mean in config file, in case of apache log, we should have something like this:
custom_time_fields:
  - name:  FB
    histogram: [.005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10]
  - name:  D
    histogram: [.005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10]

[2020-10-21 12:22] ilyam8 commented on #9611
yes, something like this

[code]

[2020-10-21 12:41] #10106 closed

[2020-10-21 12:45] ilyam8 commented on #10086
@BKPepe thx for reporting!

@Saruspete hi, since you are the collector author, would be nice if you help us one more time 😉

[2020-10-21 14:28] 643406834 opened #10111 "PROCFILE: Cannot open file '/proc/sysvipc/shm'"
Wed Oct 21 11:51:30 2020 daemon.err netdata[2090]: PROCFILE: Cannot open file '/proc/sysvipc/shm'
Wed Oct 21 11:51:32 2020 daemon.err netdata[2090]: PROCFILE: Cannot open file '/proc/sysvipc/shm'
Wed Oct 21 11:51:34 2020 daemon.err netdata[2090]: PROCFILE: Cannot open file '/proc/sysvipc/shm'
Wed Oct 21 11:51:36 2020 daemon.err netdata[2090]: PROCFILE: Cannot open file '/proc/sysvipc/shm'
Wed Oct

[2020-10-21 15:24] ilyam8 commented on #10063
dup of https://github.com/netdata/netdata/issues/9097

[2020-10-21 15:29] ilyam8 commented on #10063
Hi @exetico ,unfortunately there is no such option.

There is [health management API](https://learn.netdata.cloud/docs/agent/web/api/health#disable-or-silence-specific-alarms), it allows to enabled/disable specific alarms in runtime. I understand that is not what you want but still worth to mention.

[2020-10-21 15:29] #10063 closed

[2020-10-21 16:09] stemy2 opened #10113 "Graphical glitches"
##### Bug report summary
Some indicators have an ugly graphical glitch.

##### OS / Environment

[code]

##### Netdata version

 1.22.1 (latest version available on YNH)

![Screenshot_20201021_180354](https://user-images.githubusercontent.com/22192600/96747372-b87bdc00-13b7-11eb-944f-4060ee786cf8.png)

[2020-10-21 17:26] vpnable opened #10114 "Stream Server SegFaults"
# Bug report summary

After an update one of our stream server instances started to segfault frequently.
We've manually compiled commit 012d8553712b36c9b7c5cb339df1ad194a949774 to get a gdb backtrace.
[code]
The container/host were updated and rebooted, futhermore a memory test was run. None of it fixed or showed any problems.
Other instances/softwares on the corresponding host system ran without

[2020-10-21 17:28] evrynet1 commented on #10106
Unfortunately I'm still getting the same error even after @stelfrag fix using:

bash <(curl -Ss https://my-netdata.io/kickstart.sh)

(I removed the tmp files from /tmp before re-running the installer)

[2020-10-21 17:35] mfundul commented on #10114
Nice work @vpnable ! Can you check if https://github.com/netdata/netdata/commit/2595f1d77217e45c9bb9be0e1c907e99da85601e fixes your issue?

[2020-10-21 17:44] vpnable commented on #10114
Just tested, still crashes, I suspect it's the same problem.

[2020-10-21 18:02] mfundul commented on #10114
There is a chance that multi-host db [backward compatibility](https://github.com/netdata/netdata/blob/master/database/engine/README.md#backward-compatibility) is problematic. You could try deleting your history and start fresh, so that only the new multi-host db codepath is used, by deleting `var/netdata/cache/*`. If this still does not fix the issue we will have to work together so that I can rep

[2020-10-21 18:22] thiagoftsm commented on #10113
Hello @stemy2 ,

I am not sure what is  a `YNH`, but Netdata released the version 1.26 few days ago, and our official repositories are listed [here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/packages).

I never saw images like you are showing here, so it is possible that there was a problem with the packages that you are using.

Best regards!

[2020-10-21 18:35] vpnable commented on #10114
We deleted /var/cache/netdata and restarted the affected netdata instance with
[code]
It crashed again with the following content in /var/cache/netdata/ and its subdirectory
[code]
If required then we can create another gdb backtrace using commit 2595f1d.

[2020-10-21 18:40] mfundul commented on #10114
Thanks @vpnable, that's great. Those files are empty, because it crashed before flushing any data. This is why all the files are 4096 bytes long.

I would like to see `/var/log/netdata/error.log` contents, `/etc/netdata/netdata.conf` and `/etc/netdata/stream.conf` contents, as long as you remove any sensitive information. If you don't want to publicly share these, you can send them to me at markos

[2020-10-21 18:42] stelfrag commented on #10106
The nightly build (that will have the above fix) will be available in a few hours (lets say 6 hours to be on the safe side).

Can you try again?

[2020-10-21 18:58] evrynet1 commented on #10106
@stelfrag still the same but I will wait overnight and give it a try tomorrow. thank you!

[2020-10-21 19:14] vpnable commented on #10114
Thanks also :)

Sent you the files via mail as I'm not 100% sure if I removed all sensitive infos.
GDB:
[code]

[2020-10-21 19:35] stemy2 commented on #10113
YNH = yunohost, an OS based on debian for selfhosting, it uses its own repository with specifically packaged apps.

[2020-10-21 19:46] mfundul commented on #10114
@vpnable are you by any chance using host-labels in your child nodes?

[2020-10-21 19:48] ilyam8 opened #10116 "netdata.cloud cannot see go.d/mysql"
@diegomontoya commented on [Wed Oct 21 2020](https://github.com/netdata/go.d.plugin/issues/463)

Very strange.

1) Netdata.cloud cannot see the gathered go.d/mysql server data or go.d process for monitoring.
2) Accessing the agent directly via ip:19999 shows the go.d/mysql single server stats perfectly fine.

With netdata.cloud, both the go.d/mysql server info/data is missing as well as the Netdat

[2020-10-21 19:54] vpnable commented on #10114
No, we use `hostname` in `[global]`-section and `host tags` in `[backend]`.

[2020-10-21 20:07] mfundul commented on #10114
Do you only use `host tags` in the parent node (streaming server) or in the child nodes as well? Does it stop crashing if you comment out the `host tags` in `[backend]`?

[2020-10-21 20:23] vpnable commented on #10114
We use host tags on all nodes. Checking if it stops crashing when all host tags are commented out might take a while. On that note, just to explicitly mention it, child nodes are not crashing and running stable.

[2020-10-21 20:31] mfundul commented on #10114
This looks like it's heap memory corruption, it might get tricky to track. I think using address sanitizer to compile and test the parent node is going to prove invaluable.

So, if it's easy to reproduce the crash (and it seems like it is), you could compile netdata with address sanitizer for Ubuntu 20.04 and it could pinpoint the exact heap corruption source.

To install address sanitizer in Ubun

[2020-10-21 20:50] thiagoftsm commented on #10113
Thank you to explain me.

I was reading the release notes of the version [1.22](https://github.com/netdata/netdata/releases/tag/v1.22.0), and I saw that this was the version we made the New cloud  available, since April we made a lot of improvements and it is possible that when the distribution updates their package, you will have better images.

Another possibility that you could test without to

[2020-10-21 20:57] vpnable commented on #10114
Thanks again! Done that. Sent you mail due private information in the log.

[2020-10-21 22:47] levinale-github opened #10117 "injecting/marking a checkpoint from cli"
##### Feature idea summary
When debugging/inspecting performance it typically comes with some testing or a scenario, e.g. fio. As it is, it's sometimes hard to tell where the test starts and ends as in many cases the system has other processes or pre-conditions.

##### Expected behavior
I would want to be able to inject markers, from cli to mark a test start and test finish so that the analysis wo

[2020-10-21 22:50] #10101 closed

[2020-10-21 22:51] KOHPM commented on #10101
solved [ here](https://community.netdata.cloud/topic/160/cannot-install-netdata-from-source-the-source-directory-does-not-include-netdata-installer-sh-leaving-all-files-in-tmp-netdata-kickstart-rh8spbrm6p/8)

[2020-10-22 00:13] Saruspete commented on #10086
Hello,

Thanks for reporting. These difference in type seems to be related to the target CPU Arch (I guess 32bit CPU ?)
It appears to be a way to automatically get the target format: https://en.cppreference.com/w/cpp/types/integer

I've updated the reported printf in my branch "fix_printf". Can you please test it: https://github.com/Saruspete/netdata/tree/fix_printf

Thanks

[2020-10-22 02:55] Rav4s opened #10118 "Netdata Cloud ECN href tag appears to be formatted incorrectly"
##### Bug report summary

When you navigate to a specific node in Netdata Cloud and scroll to ECN, the raw HTML is visible instead of a link.
![Screenshot 2020-10-21 121228](https://user-images.githubusercontent.com/63246200/96818398-0e1bad00-13e7-11eb-840d-65d6aca9fc69.png)

I inspected the webpage HTML and found that the <a> tag was using &lt and &gt instead of < and >.
![Screenshot 2020-10-21 1

[2020-10-22 03:59] BKPepe commented on #10086
Hi,

Yes, target CPU is 32 bit. I tried your patch and I see there are still some warnigns.

[code]

[2020-10-22 04:09] mfundul commented on #10114
[code]

[2020-10-22 06:11] cg-cnu opened #10119 "Custom python plugins breaks with print statement"
##### Bug report summary

Not sure if I am doing something wrong here, but having a **print** statement in any of the custom **python plugins** stops all of them from loading. Lost couple of hours trying to debug this.

##### OS / Environment

[code]

##### Netdata version

v1.24.0

##### Component Name

Python plugins

##### Steps To Reproduce

1. enable the custom.chart.py
2. random values chart

[2020-10-22 06:26] evrynet1 commented on #10106
@stelfrag worked perfectly now, thanks for the quick fix

[2020-10-22 07:24] Saruspete commented on #10086
Ok, fixed

I'll create PR

[2020-10-22 08:01] Saruspete commented on #10077
Hello,

From the output of `cpupower frequency-info` it's your governor that limits the max freq to 1.6GHz

[code]

Try by doing `cpupower frequency-set --max 3000000``` (freq on cli are in KHz)

[2020-10-22 08:29] mfundul commented on #10114
@vpnable can you test if https://github.com/netdata/netdata/pull/10121 fixes your problem?

You can download the code this way:
[code]
To get any additional changes from the PR if it's needed you'd have to run:
[code]

[2020-10-22 08:40] ilyam8 commented on #10119
Hi. This is expected, plugins.d reads `stdout`, see https://learn.netdata.cloud/docs/agent/collectors/plugins.d#operation

There are `self.error`/`self.warning`/`self.info`/`self.debug` for logging.

[2020-10-22 10:12] #10086 closed

[2020-10-22 12:41] agarthetiger opened #10124 "Document reinstallation procedure on https://learn.netdata.cloud/docs"
##### Feature idea summary
Document reinstallation procedure on docs site

I'm trying to configure netdata running on a Raspberry Pi 4b to export to VictoriaMetrics running on the same instance. I'm following https://learn.netdata.cloud/docs/agent/exporting/prometheus/remote_write which says to install (Google) protobuf and snappy and then reinstall netdata.

According to https://github.com/netdat

[2020-10-22 13:11] vpnable commented on #10114
Thank you for your work, i have checked out the branch and netdata has been stable for about 3 hours now. It is safe to assume that the problem has been corrected.

[2020-10-22 13:19] #10114 closed

[2020-10-22 13:19] Rav4s commented on #10118
Just discovered that this affects the softnet chart as well:
![Screenshot 2020-10-22 081433](https://user-images.githubusercontent.com/63246200/96877454-46e77080-143f-11eb-90b2-9df070698066.png)

[2020-10-22 13:31] Ferroin commented on #10124
Agreed, the docs could be made significantly more clear here.

In practice, you just need to use the same options you used originally with the install (so in your case `--no-updates --stable-channel --disable-telemetry`).

Also, for future reference, instead of manually removing the updater script, you can add `--reinstall` to the options you pass to the installer to have it act as if the update s

[2020-10-22 15:23] junpet opened #10127 "Disk warn calculation question"
Why is this alarm green? It should throw a warning. What do I miss?

##### Question summary
![image](https://user-images.githubusercontent.com/3465278/96893381-ef6ef200-148a-11eb-9a20-8aeaeca9d192.png)

##### OS / Environment
Debian / Docker
##### Component Name
Alarm
##### Expected results
it should be yellow and warning.

[2020-10-22 15:45] thiagoftsm commented on #10127
@jacekkolasa, please, take a look on this.

[2020-10-22 19:33] jacekkolasa commented on #9231
Thanks @PegasisForever (if you're reading this after months...) I'm setting priority/low because other bugs/feature-requests seems to be more needed, but if this issue is problematic for someone, please leave your notes. We've experienced up to 1.1 GB consumption (overnight, no scrolling involved). If it will be hard to fix this (for example it could be related to old charting libraries), maybe we

[2020-10-22 19:38] PegasisForever commented on #9231
That sounds like an acceptable workaround

[2020-10-22 19:49] jacekkolasa commented on #8834
closing, as there's not enough information to fix it. @davebuchholz-bny if there's still an issue, please reopen

[2020-10-22 19:49] #8834 closed

[2020-10-22 19:52] jacekkolasa commented on #8721
I see that the problem is now fixed

[2020-10-22 19:52] #8721 closed

[2020-10-22 19:54] jacekkolasa commented on #8514
fixed in https://github.com/netdata/netdata/pull/9786

[2020-10-22 19:54] #8514 closed

[2020-10-22 19:55] ilyam8 commented on #10127
Hi @junpet 👋 It is green because 89.3 < 90.

See https://learn.netdata.cloud/docs/agent/health/reference#special-use-of-the-conditional-operator

[2020-10-22 21:15] jamesnr opened #10128 "Netdata not updating"
I have tried to find a related issue, though have not seen one.

Netdata is not updating overnight and I can not manually update via "bash <(curl -Ss https://my-netdata.io/kickstart.sh)", I receive:
bash <(curl -Ss https://my-netdata.io/kickstart.sh)
 --- Found existing install of Netdata under: / ---
 ABORTED  Existing installation detected which cannot be safely updated by this script, refusing

[2020-10-22 23:22] gph-sn opened #10129 "Failed to do static compiling on Linux"
##### Bug report summary
I need to have a static build of netdata for ARMv7l. So I am trying to do this on my Raspberry Pi 3. It failed. So I tried my Ubuntu 18.04. It failed again with similar errors like `undefined reference to dlopen`.

I am using the latest github version `fb4d65e0 2020-10-21 21:44:19`. I am following instructions on this page [Manually build Netdata from source](https://learn

[2020-10-23 02:58] cg-cnu commented on #10119
Hey @ilyam8 I was not aware of that. I was under the assumption the **data** returned by get_data is used by Netdata. Thanks!

[2020-10-23 02:58] #10119 closed

[2020-10-23 06:10] junpet commented on #10127
Ah sorry, I was too tired and missed the syntax. Thanks and sorry for taking your time.

[2020-10-23 06:10] #10127 closed

[2020-10-23 07:39] stelfrag commented on #10128
Hi @jamesnr ,

can you check

https://learn.netdata.cloud/docs/agent/packaging/installer/update#one-line-installer-script-kickstartsh

and see if `--reinstall` helps?

[2020-10-23 08:26] Saruspete commented on #10117
Hello,

Looks like Epic #6523 which I would love to have since many years !
There's also #9815 that would allow to store such events.

[2020-10-23 08:28] stdedos opened #10130 "New alarms UX is confusing"
##### Feature idea summary

The new alarms UX (non-interactive counter on the left, interactive bell on the right), confuse me as to "where to click to expand this error".

##### Expected behavior

Since I guess you are not going back to merge the counter and the bell; would you make the counter interactive too? (i.e. same as the bell)

[2020-10-23 08:29] jamesnr commented on #10128
Hi @stelfrag

Tried the reinstall, actually I forgot to include that previously, get:

bash <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstall
 --- Found existing install of Netdata under: / ---
 ABORTED  Existing install is a static install, please use kickstart-static64.sh instead.

Part of the challenge maybe that I don't have an ".environment" file in /etc/netdata

This option was defi

[2020-10-23 09:01] stelfrag commented on #10128
@Ferroin Can you please take a look ? (if there is a way to document how this can be fixed)

[2020-10-23 12:17] manos-saratsis commented on #10130
@stdedos we will change soon the top navbar and your feedback will be discussed. I am closing this and stay tuned!

[2020-10-23 12:17] #10130 closed

[2020-10-23 12:21] dongvan9 opened #10131 "Unable to install netdata on Raspbian"
##### Question summary
Unable to install netdata on Raspbian

I want to install netdata and add my node to the cloud https://app.netdata.cloud/
Previously, I have installed it via the apt but it didn't work. I have remove the application, delete /etc/netdata and  give a try with the script and it was not working either.
Can you advise how to fix this? Thank you!

[code]

##### OS / Environment
`Li

[2020-10-23 12:25] jamesnr commented on #10128
Just in case as the install advised, I tried a static install and received

bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)
 --- Found existing install of Netdata under: / ---
 ABORTED  Existing installation detected which cannot be safely updated by this script, refusing to continue.

[2020-10-23 12:54] stelfrag commented on #10131
Related to #10128

[2020-10-23 13:44] OdysLam commented on #10022
@gpastuszko we are glad that we found a solution that works. @ilyam8 and @thiagoftsm great work as always!

[2020-10-23 14:03] OdysLam commented on #10131
Hey @dongvan9,

Welcome to our community and we are super sorry for encountering this bug. We are working towards fixing this.

Thank you for bearing with us 💪

[2020-10-23 14:05] OdysLam commented on #10127
@junpet No worries, welcome to the community :)  Make sure you create an account and join our forum at https://community.netdata.cloud 🙏

[2020-10-23 14:29] OdysLam commented on #10124
hey @agarthetiger , welcome to our community, and thanks for bringing this to our attention! cc @joelhans you might find this interesting.

[2020-10-23 14:30] OdysLam commented on #10119
@cg-cnu Thanks for bringing this to our attention. Perhaps @joelhans this is some feedback to improve our docs, thoughts?

(P.S @cg-cnu welcome to our community :) )

[2020-10-23 14:31] OdysLam commented on #10118
Thanks @Rav4s for bringing this to our attention and welcome to our community!

Please, if you have any feedback for us, we would love to hear your thoughts at our forums: https://community.netdata.cloud

[2020-10-23 15:56] Kuro-Maii opened #10132 "Fixed scales for temperature graphs"
##### Question summary
When looking at the graphs generated by `sensors` for the CPU and GPU temperatures it is very hard to see where in the acceptable range it is for the visible data.
The temperature graphs also have a tendency to flatten out to +- 0.4°C if the temperature is stable enough.

I have tried to figure out how to set a scale from the documentation but I could not figure this out bey

[2020-10-23 16:07] OdysLam commented on #10117
Hey @levinale-github,

Thanks for this feature request and welcome to the forums. As @Saruspete said, we are already investigating this, but due to the sheer number of features that we want to build, we have to be ruthless with our prioritization. BTW, welcome to our community!

@Saruspete thanks for providing the information :)

[2020-10-23 16:08] OdysLam commented on #10106
@evrynet1, we are glad that we made it work in the end! BTW, welcome to our community!

Please, if you have any feedback for us, we would love to hear your thoughts at our forums: https://community.netdata.cloud

[2020-10-23 16:09] OdysLam commented on #10114
@vpnable

Thanks for helping us pin this bug down and welcome to our community :)

Please, if you have any feedback for us, we would love to hear your thoughts at our forums: https://community.netdata.cloud

[2020-10-23 16:13] OdysLam commented on #6523
@cakrit FYI this came up again, see #10117 .

[2020-10-23 18:23] levinale-github commented on #10117
Thanks @OdysLam .

I really like the way netdata allows a "look under the hood" but keep in mind that most if not all need for performance debug is for a specific load. If need be I can provide a few real examples. Load is generated by scenarios/tests controlled only from shell.

Just looking at netdata while running load is good, but allowing to take precise snapshot or mark events (e.g. DTPF eve

[2020-10-23 19:59] FedericoCeratto commented on #6932
@rda0 : the Debian packages are developed independently.

Optional dependencies are always preferred to mandatory ones. Netdata should made modular where possible.

[2020-10-23 20:21] agarthetiger commented on #10124
Thank you for the welcome and for confirming the original options. I think I'll also be using the `--reinstall` flag as I've still got issues with getting the prometheus remote write working, but I'll post on the community forum about that separately.

It would be great to mention the `--reinstall` flag in the docs too.

[2020-10-23 22:00] rbjorklin opened #10134 "Add Pressure Stall Information (PSI) for cgroups"
##### Feature idea summary
Pressure Stall Information was originally requested in #5901 and implemented in the `proc.plugin` in #7209. This request is for adding PSI to the [cgroups.plugin](https://learn.netdata.cloud/docs/agent/collectors/cgroups.plugin/). The information is available under `/sys/fs/cgroup/unified/*/*/[io|cpu|memory].pressure`

##### Expected behavior
Each container should have i

[2020-10-23 22:05] agarthetiger commented on #10124
It looks like I can't add the `--reinstall` flag to the existing options. When I do I get the following output.

[code]

If I remove the other options and just run `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstall` then netdata will re-install, but I presume it has not retained all the previous settings. The console output shows it has not remembered the `--no-updates` flag, as the

[2020-10-24 06:34] dongvan9 commented on #10131
Hey @OdysLam,

Thanks for the response. I have another Orange Pi 2+ and would love to have netdata installed but it doesn't work either. Should I raise a new topic or I can update it here as well?

[2020-10-24 07:28] OdysLam commented on #10124
Thanks for the additional info @agarthetiger. @Ferroin is looking into it and he will respond here promptly. Thanks for pointing this out and for your patience!

In the meantime, please remove the update script and confirm that everything works as expected. Rest assured that your feedback will lead to a timely improvement on this front. Thanks for helping us :)

[2020-10-24 07:30] OdysLam commented on #10131
It seems that there are a number of connected issues. Please bear with us as we try to pinpoint the origin @dongvan9

In the meantime can you follow all the procedures that are required to remove a package in debian (e.g by following this [guide](https://linuxhint.com/uninstall-debian-packages/)).

[2020-10-24 08:42] agarthetiger commented on #10124
No problem :) I tried reinstalling by removing the file `/usr/libexec/netdata/netdata-updater.sh` and adding the `--reinstall` flag, but got the following output. The web dashboard shows I'm running version v1.26.0 which might be relevant.

[code]

[2020-10-24 10:49] mcnaveen opened #10135 "Stop netdata being accessed with IP:PORT (NGINX Reverse Proxy)"
##### Question summary

How to block accessing netdata via IP:PORT

##### OS / Environment
Linux sitsg-server 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

##### Expected results
I have netdata running on VPS. And I did reverse proxy it with Domain Name.

The problem is I can still access it via IPADDR:PORT. I want to block it. I just want to open it

[2020-10-24 11:47] Saruspete commented on #10135
Hello,

You can add the following configuration in /etc/netdata/netdata.conf :

[code]

That should filter the connections to allow only your locally running apps (like your reverse proxy)

[2020-10-24 13:25] fzyzcjy opened #10136 "No chart is showing - exactly *zero* metrics/charts/alerms/nodes?"
##### Bug report summary

After installation, netdata shows exactly zero charts... So no chart is on the screen...

![image](https://user-images.githubusercontent.com/5236035/97082833-18d07f00-163f-11eb-9978-a83e36a43717.png)

**Note** (that maybe helpful to debug)

0. I am using Netdata Helm chart on Kubernetes.
1. Here is the log of netdata child and netdata parent:
[netdata-child.log](https://g

[2020-10-24 13:55] Saruspete commented on #10129
Hello,

Can you try adding "-ldl": `LDFLAG="-static -ldl"

[2020-10-24 13:59] Saruspete commented on #10132
That is indeed an interesting feature: disable the auto-scaling on the fly per chart. That would work also with other graphs, like "All systems processes" or "Entropy"

I would love a small button for every chart to enable/disable the auto-scaling (scale back to 0, instead of the min value)

[2020-10-24 15:05] gph-sn commented on #10129
Hello @Saruspete, after adding `-ldl` to `LDFLAGS`, it still have errors. Also I tried it on a Ubuntu PC and it also failed. So it's not a problem limited to ARM. So I updated my post to show the error in PC instead.

[2020-10-24 15:21] gph-sn commented on #10129
After using `-static` as `LDFLAGS` and putting `-ldl` in `LIBS` flag instead, the static compilation is successful.

[2020-10-24 15:21] #10129 closed

[2020-10-24 17:21] mcnaveen commented on #10135
Perfect 💯

[2020-10-24 17:21] #10135 closed

[2020-10-24 21:02] kiler129 commented on #2961
While this discussion is very old it's a first google result for the problem (and it happens on many Dell & HP servers).
The solution is to execute:

[code]

[2020-10-25 00:53] #9907 closed

[2020-10-25 00:53] #9935 closed

[2020-10-25 00:53] #9929 closed

[2020-10-25 00:53] #9945 closed

[2020-10-25 04:44] 42Network opened #10137 "netdata/mosquitto will not build on macOS"
##### Bug report summary

netdata/mosquitto will not build on macOS. This means I cannot get netdata to claim my system.
[code]
##### OS / Environment

[code]

##### Netdata version

netdata v1.26.0-63-g92c32f27

##### Component Name

netdata/mosquitto

##### Steps To Reproduce

1. sudo ./netdata-installer.sh --install /usr/local
2. Error:

/var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/netdata-

[2020-10-25 10:19] OdysLam commented on #9921
Hey @parenok,

We seem that we dropped the ball on this issue. Pinging again the team to look into it, thank you for your patience!

[2020-10-26 05:00] cg-cnu commented on #10119
Thanks @OdysLam 🙂
The document page for writing the [custom python plugin](https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin#how-to-write-a-new-module) clearly outlined how to write the python plugin, adding Segments on **local testing** and **caveats** would be very helpful.

[2020-10-26 05:40] cg-cnu opened #10138 "gpu name not updating in Nvidia-smi python plugin"
##### Bug report summary

I installed Netdata on a brand new machine. Tested out the **K2200** gpu, on the machine. Swapped the card with an **RTX**, booted back and enabled Netdata. All the charts are displaying proper data reflecting the new card, but the name under nvidia smi is still showing as **gpu0 Quadra K2200** instead of RTX.

##### OS / Environment

[code]

##### Netdata version

 netda

[2020-10-26 07:59] OdysLam commented on #10124
@agarthetiger Thanks for the additional data point. So it doesn't pick up the --reinstall flag.

Without users like you, we wouldn't be able to find issues and bugs so fast ,thanks!

[2020-10-26 08:06] OdysLam commented on #10117
Hey @levinale-github,

Thanks for the thorough feedback. As I am logging this and communicating back with the team, would you like to be able to insert timestamp marks in Netdata which will be communicated back to the user in the charts?

[2020-10-26 09:04] OdysLam commented on #9941
Hey @kozicpetar,

Did you manage to get this going, I would love to learn more about your experience, as I recently created a small sample application where I used Consul for dynamic configuration management of Netdata (https://github.com/netdata/netdata-community/tree/main/configuration-management/Consul). The automatic provision of netdata + service discovery + dynamic configuration creates an i

[2020-10-26 09:16] Saruspete commented on #10117
Hello,

More than a timestamp, we need a label too. Just having a mark per-see without text / tag is not that useful.

[2020-10-26 09:23] jacekkolasa commented on #9296
@Ferroin From what i see there is no issue with different pattern in Docker - it's just that version in docker is always patch nr less than the one available on GCS. The structure of version string stays the same

For example currently, on GCS: https://www.googleapis.com/download/storage/v1/b/netdata-nightlies/o/latest-version.txt?generation=1603673642145948&alt=media gives me `v1.26.0-64-nightly`

[2020-10-26 13:03] Ferroin commented on #10132
Agreed, this would be an excellent feature to have in general. Re-tagging this as a feature request.

@jacekkolasa Any idea how hard this might be to implement?

[2020-10-26 13:26] jacekkolasa commented on #10132
@Kuro-Maii You're right, there is no way to change that directly in the App (there's no UI for that). But you can change that in dashboard_info.js file, like it has been done for the CPU: https://github.com/netdata/netdata/blob/master/web/gui/dashboard_info.js#L759

You can do it either in that file, and repeat that change after every installation, or add custom dashboard_info.js, according to tho

[2020-10-26 13:26] Ferroin commented on #10138
I _think_ what’s going on here is a combination of two things:

* The chart’s ID is tied to the GPU device index (so GPU 0 is always the same chart).
* We never actually update the chart names once they are created.

The first point is, strictly speaking, _technically_ correct in that it matches up with the view provided by other monitoring tools, as well as what the NVIDIA tools themselves will s

[2020-10-26 14:05] Ferroin commented on #10138
@cg-cnu This was a case of shutting down, replacing the card, and then rebooting, not hot-swapping cards, correct?

Just want to make sure because I’m pretty sure we can only fix this for the case of switching out cards across a reboot, not the case of hot-swapping cards.

[2020-10-26 14:10] Ferroin commented on #9296
I think it’s a side effect of how we currently build the Docker images, and it _should_ be fixable, but I’m not certain what is causing it currently.

In theory, if it does not get fixed before we finally migrate over to GitHub Ations for the release workflow, that migration should fix it as most of that is being done from scratch in such a way that we aren’t screwing around with local commits in

[2020-10-26 14:11] Ferroin commented on #9296
Moving this to the SRE backlog and updating assignee and tags because I’m pretty sure now that it’s a CI/release issue not a dashboard issue.

[2020-10-26 14:41] Ferroin commented on #10131
Most likely, uninstalling did not properly remove things (or the package got reinstalled somehow). The way the check that is failing here works, it looks for a copy of the `netdata` binary in `$PATH` (you can manually do the same check using `command -v netdata`) to find existing installs, and if it finds one tries to figure out the type of install and decide what to do based on that. The particul

[2020-10-26 14:45] Ferroin commented on #10128
The ideal fix is to completely clean off the existing install of Netdata. The case this check is trying to protect against is a user installing Netdata through some external source, then installing through our installer, then uninstalling through that external source, which will usually break the install done through the installer.

If you are _100% certain_ that you have properly cleaned off the

[2020-10-26 14:52] cakrit commented on #9921
We need to investigate this, so that you don't have to change your IPs @parenok. Either @Ferroin or @knatsakis will continue the investigation and @kaskavel will see if we can reproduce the issue in the lab.

[2020-10-26 15:17] Ansem93 opened #10140 "Simple way to manage data collecting"
##### Feature idea summary
Since I need to only monitor some thing on my serve I would like to choose which data will netdata collect and store.
Also it would like to order them

##### Expected behavior
I was thinking about some option:
1) In the settings add a tab where every chart is listed. Something like two columns: on the left the active ones and on the right the disabled ones. From there ma

[2020-10-26 15:36] vlvkobal commented on #10111
Since there is no such file on your system, you can disable `shared memory totals` in the `[plugin:proc:ipc]` section of `netdata.conf` to get rid of these messages.
[code]

[2020-10-26 16:02] cakrit commented on #3319
@jacekkolasa do you get what this is? Can you add a prio please?

[2020-10-26 16:04] cakrit commented on #6298
@jacekkolasa can we have an answer on this and close it if there's nothing else we can do? Not even sure it's relevant any more, after the introduction of the new cloud.

[2020-10-26 16:05] cakrit commented on #7122
@mfundul @stelfrag  will this be handled with the work we do on sqlite?

[2020-10-26 16:07] jacekkolasa commented on #3319
@cakrit i think it's even less than priority/low. This is not an issue in new dashboard, i think the problem exists only in old dashboard.js, but i'll double check that.

[2020-10-26 16:08] cakrit commented on #7321
@vlvkobal #1369 resulted in what was supposed to be a fix. Can you check?

[2020-10-26 16:11] cakrit commented on #6511
Do we need to do something here, or has it gone away from a fix for some other issue?

[2020-10-26 16:11] #6712 closed

[2020-10-26 16:12] cakrit commented on #7388
This should be a very quick fix. Can we do it?

[2020-10-26 16:15] Saruspete opened #10141 "dashboard: allow to collapse graphs (per-graph, per-family, etc..)"
##### Feature idea summary

In the dashboard, when we have systems with a large number of CPUs (more and more common these days), at least 4 graphs are generated per CPU: utilization, interrupts, softirq, softnet. which can take up to 1/3 a page
Same for disk_mountpoint: 10 graph per filesystem/disk, which fills another 1/3 of a page.

When trying to identify a workload problem, we often need to c

[2020-10-26 16:18] jacekkolasa commented on #6298
I was trying to get some info from Brave community, but i had no luck (maybe i didn't tried hard enough). I think there's not much i can do now, but we can wait, perhaps a feature called Storage Access API will be brought to Brave, which will allow us to ask users if they're ok with being tracked.

We can track this issue to know if Brave Browser is ready - https://github.com/brave/brave-browser/i

[2020-10-26 16:20] cakrit commented on #6307
@mfundul this is one more thing that we should ensure the new streaming implementation will resolve.

[2020-10-26 16:27] cakrit commented on #6730
@ilyam8 perhaps we can pick this one up as soon as we get labels  support in this quarter.

[2020-10-26 16:28] cakrit commented on #8689
Let's do this rewrite then! :)

[2020-10-26 16:30] cakrit commented on #8854
https://github.com/netdata/netdata/pull/8863 was closed yesterday. @Ferroin can you follow up here?

[2020-10-26 16:37] #6752 closed

[2020-10-26 16:38] thiagoftsm commented on #9221
I am closing this issue considering that the fixes were already merged, if you are having problems with this, please, be free to reopen it.

[2020-10-26 16:38] #9221 closed

[2020-10-26 16:44] #6298 closed

[2020-10-26 16:45] cakrit commented on #5883
The easiest thing to do that will be backwards compatible is to force the collectors to only send the allowed characters, in the first place. If we allow more characters, we need to take into consideration the allowed format for all different exporters as well. I suggest we ensure that we can accept and properly handle in the FE all valid characters in the prometheus and openmetrics exporting form

[2020-10-26 16:46] Ferroin commented on #8854
Yeah, I can take care of it.

I kind of wish prologic had poked us about the pending PRs he had open. The repo has been deleted so we not only can’t reopen it (even though it was ready to be merged), we can’t trivially reconstruct the changes either...

[2020-10-26 16:49] jacekkolasa commented on #9036
closing, the main problem has been fixed

[2020-10-26 16:49] #9036 closed

[2020-10-26 16:58] cakrit commented on #9208
No response since August, closing. If there's additional info, please comment and we can reopen it.

[2020-10-26 16:58] #9208 closed

[2020-10-26 16:59] cakrit commented on #9376
@mfundul plz check you have some time.

[2020-10-26 17:03] cakrit commented on #8839
This should be very simple to fix, if it's still happening.

[2020-10-26 17:04] cakrit commented on #9625
No response since August. Closing, please comment so we can reopen, if you still have an issue with the latest version.

[2020-10-26 17:04] #9625 closed

[2020-10-26 17:06] cakrit commented on #9533
I upped the prio to medium, this shouldn't be hard to fix.

[2020-10-26 17:10] cakrit commented on #9709
Related to #5883
We need to set rules for allowed chart, dimension, label etc. names/ids and prevent collectors from sending strings that don't follow those rules.

[2020-10-26 17:12] Ferroin commented on #6932
The current stance on this is that while we have room to improve, we don’t currently have the manpower to work on this concretely.

Personally, I’d love to see us have separate packages for each plugin and the dashboard as well as the core and just tag all the extra stuff as recommends, but actually putting that together is not exactly trivial.

[2020-10-26 17:15] cakrit commented on #9731
@startryst where do you see it missing? I see the required variables when I do e.g. https://frankfurt.my-netdata.io/api/v1/alarm_variables?chart=net.eth0 (that's running v1.26)

[2020-10-26 17:16] Ferroin commented on #7824
Long-term we have plans to support (at minimum) x86_64, AArch64, and AArch32 (probably both ARMv8.1 and ARMv7a), but this is currently stalled pending a rework of our packaging infrastructure (which is unfortunately taking far longer than anticipated).

[2020-10-26 17:18] cakrit commented on #6523
From #312

[2020-10-26 17:18] cakrit commented on #9892
Duplicate of #6523

[2020-10-26 17:18] #9892 closed

[2020-10-26 17:20] cakrit commented on #9910
We should prioritize this. Related to #6523

[2020-10-26 17:21] cakrit commented on #10117
Closing this as a duplicate of #6523. Let's continue there.

[2020-10-26 17:21] #10117 closed

[2020-10-26 17:24] cakrit commented on #7011
duplicate of #9713, though that one says we're getting segfaults. Closing this one.

[2020-10-26 17:24] #7011 closed

[2020-10-26 17:24] Ferroin commented on #8604
Marking this as help wanted as it should (theoretically) be easy for someone who actually has a proper understanding of how `firewalld` works, but we currently are not likely to get to it any time soon ourselves.

[2020-10-26 17:25] cakrit commented on #9713
This was seen in #7011 as well, we should probably deal with it when we're done with the high prio ones.

[2020-10-26 17:30] Ferroin commented on #7587
I’m planning to pick this up some time in the near future as it’s blocking a couple of other issues and should (in theory) be an easy fix.

[2020-10-26 17:31] jamesnr commented on #10128
I've found the environment file with the following contents. Just checking, do I need to still fully install.. The "./netdata-installer.sh" ran, completed though didn't update the site, ie change the version. Thoughts?

You help is much appreciated.

# Created by installer
PATH="/usr/local/cpanel/3rdparty/lib/path-bin:/usr/local/jdk/bin:/usr/kerberos/sbin:/usr/kerberos/bin:/usr/local/sbin:/usr/loc

[2020-10-26 17:48] Ferroin commented on #10128
Manually running `./netdata-installer.sh` from a clone of the repo will never update you to anything other than the version of the repo that you checked out, which is why the version did not appear to change.

By ‘kickstart install command’ I meant `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`. Running `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --allow-duplicate-install` should g

[2020-10-26 17:51] Ferroin commented on #9664
Closing this as it’s about as good as it can get without a significant redesign our how our Docker image works, which will be handled as a separate issue.

[2020-10-26 17:51] #9664 closed

[2020-10-26 17:52] OdysLam commented on #10131
So is this expected behaviour @Ferroin ? What would be the best-case scenario in the above use-case and what happened here?

I am trying to figure out how to log this feedback.

[2020-10-26 17:54] #9948 closed

[2020-10-26 17:58] Ferroin commented on #10131
It’s expected if the previous install didn’t get correctly cleaned up. I’m not sure there is a best-case scenario for handling this, but we can’t reliably detect the difference between a working existing install handled through some install method we don’t support and a failed/incomplete uninstall, and we can’t safely install over top of an existing install.

[2020-10-26 17:58] thiagoftsm commented on #10140
Hello @Ansem93 ,

I assignee our product manager to take a look in your request, but while we do not bring this feature for the UI, you can disable `plugins` or some features editing `netdata.conf`.

Best regards!

[2020-10-26 17:59] OdysLam commented on #10131
@Ferroin Could we have a script that nukes the system for any mention of Netdata and uninstall it so we can start from square-1?

[2020-10-26 18:07] Ferroin commented on #10131
No, not really, as that just moves the location we would be dealing with the issues and risking breaking a user’s system.

The correct fix here is to get proper support in various distribution’s package managers so that users don’t _need_ to use our installer unless they want nightly versions, that way the default install approach that any sane sysadmin takes on a Linux system (namely, install it

[2020-10-26 18:10] Ferroin commented on #10131
IOW, we have an XY problem here, the real problem is that our support from distributions is crappy, so when users go to install there first they have issues and then go find our installer and then just run it without uninstalling any existing copy of Netdata (that’s the whole reason we do these checks in fact). This, in turn, is causing these problems. If we solve that primary problem (lack of goo

[2020-10-26 18:31] dongvan9 commented on #10131
Hi guys,
Thanks for the update. I have found that netdata still resides at /usr/bin. After apt-get –purge & apt-get autoremove –purge, I am able to install the application with the script.
There were still some error message but netdata runs at the end. Should I pay attention to it?

[code]

[2020-10-26 18:38] thiagoftsm commented on #9442
Hi @arrjay ,

I am closing this issue, because this problem was already addressed with old merged PRs.

Best regards!

[2020-10-26 18:38] #9442 closed

[2020-10-26 18:41] jamesnr commented on #10128
Apologies, I knew that. I'll arrange an uninstall an re-install and advise.

Best regards,
Reece James
07500 115311
https://www.fides-it.co.uk

This email and any attachments are confidential and intended solely for the
use of the addressee. You should not copy or disclose its contents to any
other person. If you have received this email in error, please notify the
sender immediately. Unless other

[2020-10-26 18:49] Ferroin commented on #10131
@dongvan9 Given the errors, you will probably not see Netdata start automatically on system boot. You can fix that by running `systemctl unmask netdata.service` as root. Other than that, everything should work fine.

[2020-10-26 19:02] dongvan9 commented on #10131
Thank you, @Ferroin . With the command, it is working fine after reboot. The issue is resolved and I will close it.
Thanks for the support!

[2020-10-26 19:02] #10131 closed

[2020-10-26 19:16] nabijaczleweli commented on #8854
I mean, `git am`ing https://github.com/netdata/netdata/pull/8863.patch doesn't seem difficult.

[2020-10-26 19:45] mfundul commented on #7122
This looks like it's orthogonal to the metadata log or sqlite. Any work that is done will not change the data model of netdata so no unit transformation will take place for sure. Moreover, invalidating past data if a unit change is detected is something that could probably be done for both the metadata log and sqlite implementations.

[2020-10-26 20:54] thiagoftsm commented on #9742
This problem affects only `python 3.8`, after to upgrade for python `3.9` I could not recreate the problem, so it does not have relationship with the plugin.

[2020-10-26 20:54] #9742 closed

[2020-10-26 23:12] Ferroin commented on #7388
In general, no SMART attributes should be treated as incremental _unless_ we want a running total. They’re all inherently absolute counters or absolute gauges, because that’s quite simply how SMART works.

All of the stuff listed in the OP should indeed be incremental, and they’re also all definitely counters (they all count discrete events). Most of the other attributes with things like `retries`

[2020-10-26 23:14] Zeik0s commented on #9573
will also try the upgrade, but i have the same Error on an x64 VServer, with some HDDs as Storage. So i presume for me that i don't have any data at rest corruption.

[2020-10-27 00:31] cg-cnu commented on #10138
Hey @Ferroin !

Yes, its not hot-swapping cards, shutdown and replace.

[2020-10-27 01:02] #9731 closed

[2020-10-27 02:08] AnoopAlias commented on #7321
This was fixed.

[2020-10-27 02:08] #7321 closed

[2020-10-27 08:37] jamesnr commented on #10128
OK, I performed the uninstall process per instructions.

wget https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/netdata-uninstaller.sh
chmod +x ./netdata-uninstaller.sh
./netdata-uninstaller.sh --yes --env <environment_file>

However the uninstall errors as per below.

./netdata-uninstaller.sh --yes --env <environment_file>
bash: syntax error near unexpected token `newli

[2020-10-27 09:04] miemiekurisu opened #10147 "internal compiler error: Segmentation fault on raspberry pi netdata-v1.26.0-70-gbea0eb64"
##### Bug report summary

I try to install netdata on raspberry Pi b3+,
and use the
`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`
official command.
But it crashed when compiling with the openssh.
I've  tried servial times, but it crashed and cause the pi reboot everytime at the same point.
The last compile messgages are below:

[code]

##### OS / Environment

[code]

##### Netdata version

[2020-10-27 09:08] ilyam8 commented on #10138
Hi there. There is only gpu index in the chart id.

https://github.com/netdata/netdata/blob/4b56242ec0e5abd64da7f0ca80a231e0c264c19b/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L460-L461

https://github.com/netdata/netdata/blob/4b56242ec0e5abd64da7f0ca80a231e0c264c19b/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L290-L292

https://github.com/netdata/netdata/blob/4b56242e

[2020-10-27 09:12] ilyam8 commented on #10138
@cg-cnu not a fix but if you are not interested in metrics (charts) history you could remove dbengine data

[code]

[2020-10-27 09:49] mfundul commented on #10147
Wow, the compiler crashed. Any chance you have bad RAM or bad SD card storage? Can you update your compiler packages?

[2020-10-27 09:53] underhood commented on #8839
@Ferroin maybe related to following?
When I look at systemd service file `/usr/lib/systemd/system/netdata.service` inside the PIDfile is set to:
`PIDFile=/var/run/netdata/netdata.pid`

But when I look at `/etc/logrotate.d/netdata` I see it tries to use nonexistent `/opt/netdata/var/run/netdata/netdata.pid` to send signal to:
[code]

[2020-10-27 09:54] cg-cnu commented on #10141
I usually end up creating a custom dashboard for the specific use case, which is pretty easy to get started and faster to load especially when I am working on a custom plugin. But, I agree with you on having the ability to collapse the un necessary stuff. If the hidden/collapsed charts are remembered across sessions it would help in load times as well. Netdata right now takes a decent minute to lo

[2020-10-27 10:01] underhood commented on #8839
@Ferroin  What I am not sure yet is how we end up in this state... maybe install method related? When I compile on my local system the `system\` folder contains the correct (same) path in both `netdata.service` and `netdata.logrotate`.

[2020-10-27 10:59] cg-cnu commented on #10141
I felt I need to explain this. Usually netdata is blazing fast, I have it running on my raspberry Pi 4 and zero and the UI is responsive on both the machines in seconds. But at work, where we are on legacy browsers and it takes time. So, its not an issue with netdata but the browser version. But, it would be great, if Netdata have a way to disable/hide certain charts to improve the load times and

[2020-10-27 11:07] jacekkolasa commented on #9533
This is related to local browser settings, timezone and language.
@aldem Do you still experience this issue? If yes, can you please share which timezone settings to your have in the Dashboard? It's under settings/locale/"Show browser local time or server time?" section

Can you also tell which browser are you using and check your detected language, by running `navigator.language` in browser consol

[2020-10-27 11:14] Ferroin commented on #8854
@nabijaczleweli Actually, I had no idea you could extract patches from PRs like that. Thanks for the tip!

[2020-10-27 11:23] Ferroin commented on #10131
@OdysLam Quick rundown of the primary points that came up in discussion here as requested:

* We cannot safely install over top of an existing install that was not created by our installer, so our installer bails if it sees evidence of such an install.
* Incomplete uninstalls can sometimes leave behind such evidence, but we can’t really differentiate between that and an actual working install crea

[2020-10-27 11:38] aldem commented on #9533
@jacekkolasa Yes, I still do (at least in 1.26 stable, didn't try nighties yet).

Indeed, the problem is probably browser related - I have no issue with Firefox but it is present in Chrome and Edge (all most recent). Language is detected as "en" (Edge) and "en-US" (Chrome). Timezone is set to server which is in turn set to CET (though this is also client's side time zone).

[2020-10-27 11:57] Ferroin commented on #10147
Seconding what @mfundul said. In roughly 99% of cases, a segfault in the compiler is a hardware issue of some sort. The fact that this happened in a core system header and not Netdata code reinforces this probability.

If this is reproducible after rebooting and consistently fails in the same place, then you’ve got at-rest data corruption somewhere inpersistent storage, and should look at reinstal

[2020-10-27 12:00] Ferroin commented on #8839
Yeah, I have no idea how that state could have happened either.

Either way this could theoretically be prevented by fixing #8244.

[2020-10-27 12:45] Saruspete commented on #10141
Sorry to tell that, but this is totally unrelated to the issue here.
I'm not talking about Rpi toys, but real servers with between 40 and 256 CPUs. Performance is not the issue, it's about the UX during troubleshooting analysis.

If the browsers provided at work are old, just download a newer one: firefox or chrome doesn't need admin rights to install since many years.
By default, netdata will onl

[2020-10-27 14:28] ilyam8 commented on #10138
Since it is not a bug i am closing the issue

[2020-10-27 14:28] #10138 closed

[2020-10-27 15:37] ilyam8 commented on #10136
closing in favor of https://github.com/netdata/helmchart/issues/176

[2020-10-27 15:37] #10136 closed

[2020-10-27 18:54] paxsali opened #10149 "How to export snapshots of over 10 minutes length?"
Netdata stores about 1 hour worth of history per default on the live view.

When exporting this data to a snapshot, the length varies from a 4min time window to 12min maximum from simple tests I have done.

How do I export a snapshot of the entire 1 hour or 3600 seconds (current) time frame to disk, so I can import it later to another netdata instance and have it displayed there in full length (of

[2020-10-27 23:51] hexchain commented on #10134
I think these are already in place since https://github.com/netdata/netdata/commit/8a70725c132deb6fc313edcdccaea756a685fc49?

[2020-10-28 09:09] miemiekurisu commented on #10147
@mfundul @Ferroin Thx for your suggestion, I've upgraded the rasbian OS and tried again.
The compiler and system still crashed at the same point servial times,
until I run the install command direct in tty instead of in TMUX, at last it was compiled successful.

So I still don't know what happend and what the conflict between TMUX and netdata, but it seems everything is OK :)

[2020-10-28 09:55] maxlklaxl opened #10150 "NetData Disk Space Plots for all disks are missing values because of problems with a mounted CIFS"
##### Bug report summary

NetData Disk Space Plugin is not showing values for any disks if CIFS share has a problem. We are not sure what the problem with the CIFS is but each time this mounted drive has problems we see that plots of other disks are affected and show missing values ( " - ")

/mnt/SHARE is a cifs vers=3.0
/mnt/TMP is an internal SSD which is completely fine. The other internal disk

[2020-10-28 09:57] vlvkobal commented on #10134
Yes. It should work right out of the box.
[code]

[2020-10-28 11:20] vlvkobal commented on #10150
@maxlklaxl do you have any `DISKSPACE` errors in your `error.log`?

It looks like `stat()`, `statvfs()` calls are blocking the data collection process. Do you experience any delays for the `df` command at the problematic moments?

[2020-10-28 11:39] ncmans opened #10151 "Support PagerDuty API v2"
##### Feature idea summary

Use [PagerDuty's API v2](https://developer.pagerduty.com/docs/events-api-v2/trigger-events/) to send alerts.

Currently, [Netdata](https://github.com/netdata/netdata/blob/5156fb013fc024d7f62611bed50c4c154033f01a/health/notifications/alarm-notify.sh.in#L1014) uses [PagerDuty's API v1](https://developer.pagerduty.com/docs/events-api-v1/trigger-events/) to trigger and reso

[2020-10-28 11:51] cg-cnu commented on #10141
Sorry, I felt like I butted into your conversation. I agree with you. Cheers!

[2020-10-28 12:19] maxlklaxl commented on #10150
I see a bunch of these in error.log

[code]

could not try `df ` as now /mnt/SHARE is fine again. However, I did experienced delays of `ls /mnt/SHARE` at the problematic moments

[2020-10-28 12:24] ilyam8 commented on #10150
I think @vlvkobal is right and we need to call `stat/statvfs` with a timeout, like

[2020-10-28 12:37] Ferroin commented on #10150
Indeed, the `statvfs()` call should be time limited (probably should add a timeout on the `stat()` calls in the new file check module in the Go plugin too for that matter).

Short term fix though is to just not check network filesystems (or at least, not check known network filesystems by defulat). In most cases, disk space monitoring for them should be happening on the server, not the client.

[2020-10-28 13:13] nzjrs commented on #10150
Maybe there is more to your suggestion that I am not understanding, but we would like to continue to use netstat to monitor free disk space of network shares - we can't ask our share provider to 'do monitoring on the server' - we get the share we get and would like to continue to monitor its usage from our (the client) side.

[2020-10-28 13:33] agrimal opened #10152 "Can't configure Netdata to export via prometheus_remote_write to Victoria Metrics"
As I'm having trouble configuring Netdata with Victoria Metrics backend via prometheus_remote_write, I opened an issue on Victoria Metrics github.
Here's the link : [VictoriaMetrics/VictoriaMetrics/issues/867](https://github.com/VictoriaMetrics/VictoriaMetrics/issues/867)

Please tell me if I have to copy/paste the full content of the issue here, or if you need more information.

[2020-10-28 13:48] #9858 closed

[2020-10-28 13:54] ByteAlex opened #10153 "Used RAM percentage incorrect"
##### Bug report summary
The "Used RAM" percentage in the "System Overview" tab is wrong.

[code]
![grafik](https://user-images.githubusercontent.com/2230292/97444823-dd7acc80-192c-11eb-8224-7a35ef42d159.png)

Here's the "ram" visualization, confirming above `free` command output
![grafik](https://user-images.githubusercontent.com/2230292/97444945-fc795e80-192c-11eb-8dd1-325aca55636a.png)

##### O

[2020-10-28 13:54] drayvs commented on #9121
@manos-saratsis did you release this feature yet? And can I get norifications via telegram that server "x" is unreachable?

[2020-10-28 14:15] vlvkobal commented on #10152
Could you try #9911? There were changes to the Prometheus remote write connector and the issue might be already solved.

[2020-10-28 14:56] agrimal commented on #10152
I can confirm it's working with Netdata v1.24.0 but not since 1.25.0.
I'm only using debian packages for Netdata installation, will this PR be included in a nightly package soon ?

[2020-10-28 15:28] Ferroin commented on #9306
libuv issue seems to be resolved.

A remaining libJudy issue seems to be caused by an issue in the libjudy build system which will be ixed by https://github.com/netdata/libjudy/pull/3.

[2020-10-28 15:35] Ferroin commented on #9322
@mailinglists35 Can you please confirm if you still see this issue or not? There have been multiple releases with numerous improvements since the discussion died down here, so it may no longer be an issue.

[2020-10-28 15:37] Ferroin commented on #9444
@abrbon Can you please confirm if this is still an issue or not? There have been a number of build and packaging related changes since v1.23.0 and it may be fixed now in current versions.

[2020-10-28 15:40] Ferroin commented on #9821
@yasharne Could you please confirm if this is still an issue or not on v1.26.0?

[2020-10-28 15:43] ilyam8 commented on #10153
Hi 👋 Why is it incorrect?

[code]

[2020-10-28 16:40] rbjorklin commented on #10134
Then maybe this issue should have been reported as a bug instead. I can see PSI on the host level but not on the container level using Netdata 1.21.1.

[2020-10-28 17:18] abrbon commented on #9444
Hi Ferroin,

Yes i can confirm this issue has been resolved for me.

However another issue i now have is that the auto-update doesn't seem to work.
If i run the "/etc/periodic/daily/netdata-updater" script manually it does work fine altough i have to answer 1 question during the script with "Y" before it can continue and finish the update.
Unfortunatelly i can't remember which question it was :(
I

[2020-10-28 17:36] ilyam8 commented on #7650
What about `virsh list --all`?

To be honest not really a `cgroups` plugin bug. It monitors cgroups and if some cgroups are not deleted then we keep showing them.

---

I see @stelfrag did some tests

- Start a few VMs with QEMU
- Start Netdata
- VsM are monitored
- Stop one VM
- Refresh the Netdata page and that VM disappears

Looks strange:
- _stop vm => cgroup is removed_
- _delete vm => cgroup

[2020-10-28 17:45] jacekkolasa commented on #8240
done in https://github.com/netdata/netdata/pull/10122

[2020-10-28 17:45] #8240 closed

[2020-10-28 17:46] jacekkolasa commented on #9009
fixed in https://github.com/netdata/netdata/pull/10122, thanks @stdedos!

[2020-10-28 17:46] #9009 closed

[2020-10-28 17:55] vlvkobal commented on #10134
What is the value of `path to unified cgroups` in the `[plugin:cgroups]` section of `yourhost:19999/netdata.conf`?

Please also provide the full path for the `cpu.pressure` file for any container in your hierarchy.

[2020-10-28 18:01] vlvkobal commented on #10134
It looks like you have both versions of cgroups enabled. Please set `use unified cgroups = yes`.

[2020-10-28 18:15] vlvkobal commented on #10152
It's almost ready for a review. It might be merged the next week.

[2020-10-28 18:17] stdedos commented on #9009
I am glad! I am wondering though; what was the issue? I only see a dependcy pull, and not actual code changes in the PR.

[2020-10-28 18:21] jacekkolasa commented on #9009
We moved dashboard to separate repo, the fix was in this pr: https://github.com/netdata/dashboard/pull/159 , and that was the specific fix: https://github.com/netdata/dashboard/pull/159/commits/e0557c37f2180f8052a925d918441dab877f4f34
It was a bug that happened during dashboard rewrite to react.js

[2020-10-28 18:27] ByteAlex commented on #10153
@ilyam8 The available RAM is 31% so the used RAM should be 69% or am I mistaken.

Available / Total = 79 / 251 = 0,31

Best,
Alex

[2020-10-28 18:27] #9444 closed

[2020-10-28 19:26] stdedos commented on #9009
I see! Thank you for the disambiguation! :-D

[2020-10-28 19:28] mfundul commented on #10153
@ByteAlex can you share the output of `cat /proc/meminfo` please?

[2020-10-28 19:30] ilyam8 commented on #10153
@ByteAlex we don't treat `cached` as `used` [because it is not the case](https://www.linuxatemyram.com/).

[2020-10-28 19:32] mfundul commented on #10153
It's more complicated than that @ilyam8 because there can be clean or dirty cached pages. Dirty pages are actually used and clean are available. In any case it would be nice if we can see the breakdown of `/proc/meminfo`.

[2020-10-28 19:37] ilyam8 commented on #10153
`system.ram` chart:
- `free`
- `used`
- `cached`
- `buffers`

[`Used RAM` top gauge calculation](https://github.com/netdata/netdata/blob/1a50899551674e0f0fa684daeadd043503be949b/web/gui/main.js#L1662-L1675):
 - linux (`used` + `buffers`) / (sum all dims) / 100
 - freebsd (`used` + `buffers` + `active` + `wired`) / (sum all dims) / 100

[2020-10-28 19:39] ByteAlex commented on #10153
The JVM with Xmx 128G and ZGC with using THPs claims to have about 100G comitted (close to 50% of total system memory).
So I assume this memory shouldn‘t be considered free.

Also I shared free -g in my first post where available was less than 50% so the „used“ should be more than 50% right?

Also heres the current meminfo.
[code]

@ilyam8 @mfundul

[2020-10-28 19:41] Ferroin commented on #9444
Hmm, that’s strange. Once you’ve got more info, please feel free to open a new issue, as that’s almost certainly a bug (probably a result of differences between FreeBSD and GNU userspace).

[2020-10-28 20:12] mfundul commented on #10153
Ok, this is kind of getting into philosophical territory, but the "Used RAM" field is actually consistent with what `free` returns as "used" in its output. For a description of how `free` calculated "used" memory see [here](https://man7.org/linux/man-pages/man1/free.1.html).

Now, what you're arguing is that "Used RAM" should be the complement of "available", and not the same as "used". From the m

[2020-10-28 20:16] mfundul commented on #10153
@ByteAlex I wonder if you clean the system cache how these fields will change. Can you try running `echo 3 > /proc/sys/vm/drop_caches` and then running `free` again?

@Ferroin any thoughts?

[2020-10-28 20:25] ByteAlex commented on #10153
Will this cause any trouble to my system?
It‘s a production server running a decent workload.
Though I have tons of performance.

[2020-10-28 20:28] mfundul commented on #10153
It will behave as if it's a cold boot performance wise, so yes, the workloads will not be hot anymore.

You could also share the output of `cat /proc/zoneinfo`, to see if the page cache low watermarks are too high, and limit the amount of "available" memory of the estimation calculation.

[2020-10-28 20:50] CaptInsano commented on #6882
Just to add to this issue:

I found this script which lists veth interfaces to the correct docker names, I thought it may help in searching for a solution.

https://github.com/micahculpepper/dockerveth

Thanks again for all your work

[2020-10-28 20:55] rbjorklin commented on #10134
This does indeed work when you [RTFM](https://learn.netdata.cloud/docs/agent/collectors/cgroups.plugin/#unified-cgroups-cgroups-v2-support). Sorry guys and thanks for the pointer!

[2020-10-28 20:57] rbjorklin commented on #10134
Actually when enabling the unified cgroups all the other metrics disappear. Is this intended?

[2020-10-28 20:57] ByteAlex commented on #10153
I‘m not home currently. I‘ll do as you told in a few minutes. Thank you!

[2020-10-28 21:10] ilyam8 commented on #10134
@rbjorklin are you sure you have expected cgroups `/sys/fs/cgroup/unified/**`?

I created docker container and i see it

[code]

I can't find it in `/sys/fs/cgroup/unified/`.

[2020-10-28 21:20] rbjorklin commented on #10134
I'm not entirely sure what's expected but this is what I see:

[code]

and this is for the `unified` directory:
[code]

[2020-10-28 21:33] hexchain commented on #10134
Can't say for sure, but I guess some stats do not appear if the corresponding controller on that subtree is not enabled. Could you please check `cgroup.controllers` (for that tree) and `cgroup.subtree_control` (for subtrees) in `/sys/fs/cgroup/unified/lxc` and any of the descendants?

On my machine (I have `systemd.unified_cgroup_hierarchy`), I have `cpu io memory hugetlb pids` at the root and `cp

[2020-10-28 21:44] rbjorklin commented on #10134
`cgroup.controllers` and `cgroup.subtree_control` both exist under `/sys/fs/cgroup/unified/lxc` and descendants but they are empty. Is that expected?

The kernel parameter `systemd.unified_cgroup_hierarchy` is not set. Not sure if it matters but the kernel is `5.3.0-40-generic #32~18.04.1-Ubuntu`

[2020-10-28 21:54] ByteAlex commented on #10153
So just making sure I understand everything correctly.
`echo 3 > /proc/sys/vm/drop_caches` will drop my caches once and it will reset to the previous value automatically?

Here's the zoneinfo so far: (cc @mfundul )
[code]

[2020-10-28 21:56] mfundul commented on #10153
It will drop the caches yes, then they will start filling up again from your workload that is already running. I am curious how that will change the `free -g` command output. It might move "available" memory towards the direction of "used" memory.

[2020-10-28 21:57] mailinglists35 commented on #9322
I have managed to update to 1.22.1 on Monday

[code]

I keep running it under libleak
so far (after only 48 hours) it is the second top ram consumer
[code]

I'll look to see what more recent prepackaged rpm I can find

[2020-10-28 21:57] ByteAlex commented on #10153
[code]
Feels like it didn't change. Maybe because the caches are containerized?

[2020-10-28 22:00] mfundul commented on #10153
Ah, that's a good theory. Containers will mess things up with regards to available memory. Unfortunately I feel like there is no conclusion drawn. Containers do mess with memory accounting and this is becoming a very complex problem to solve. Even `free` does not produce consistent results (since "used" and "available" do not add up to "total").

I still tend to trust the "used" number more as I e

[2020-10-28 22:03] ByteAlex commented on #10153
![grafik](https://user-images.githubusercontent.com/2230292/97501481-9ebb3580-1971-11eb-889c-b7dda9313337.png)

My application output tells me it has more memory in use than the `free` tells me. That's what made me dig into netdata.

[2020-10-28 22:04] ByteAlex commented on #10153
This information is retrieved by the following code:
[code]

[2020-10-28 22:07] mfundul commented on #10153
Well, heap memory is not necessarily equal to physical memory. It's possibly virtual memory not being physically backed fully. It could be some strange side-effect of huge pages? What does `ps auxw` report for the application's pid?

[2020-10-28 22:09] ByteAlex commented on #10153
[code]

[2020-10-28 22:12] hexchain commented on #10134
Being empty means no controller is enabled. That is probably the reason why you don't have other metrics after enabling unified cgroups in netdata.

[2020-10-28 22:14] mfundul commented on #10153
Ok, so clearly I don't believe the application is using 377GB (from RSS) so there is something funky going on with your kernel's memory accounting. I don't have a theory right now, maybe somebody else can think of something.

[2020-10-28 22:18] ByteAlex commented on #10153
Okay funky, I don't believe it uses 377GB either lol. My server has a total of 256GB.

Running openjdk:15 inside kubernetes container with the arguments shown above.
- ZGC
- 64G-128G heap
- no memory uncommit (that might destroy the kernels memory accounting?)
- Use Large Pages, Use Transparent Huge Pages

might worth a try without `-XX:-ZUncommit`

[2020-10-28 22:23] mailinglists35 commented on #9322
I have now updated to

[code]

I had to reconfigure the yum repo file as instructions from https://packagecloud.io/netdata/netdata no longer work with oracle linux (yum repo `baseurl` no longer has "ol" available, I had to replace it with "el" https://packagecloud.io/netdata/netdata/el/7/x86_64)

[2020-10-28 22:27] ByteAlex commented on #10153
Also, htop is showing me 171GB "used"
![grafik](https://user-images.githubusercontent.com/2230292/97503363-31110880-1975-11eb-8189-43e8c1839f05.png)

[2020-10-28 23:19] mailinglists35 commented on #9322
I cannot make the new version work. I am reverting back to oracle epel version. I wasted too much time trying to fix the broken new version that keeps crashing.

Oct 29 01:04:04 hostname kernel: sh[13610]: segfault at 8 ip 00007f34cabde46b sp 00007ffc7e5cf770 error 4 in libc-2.17.so[7f34cab70000+1c3000]
Oct 29 01:05:44 hostname kernel: netdata[16986]: segfault at 8 ip 00007f47b61c646b sp 00007f47b

[2020-10-28 23:21] mailinglists35 commented on #9322
2020-10-29 01:05:52: apps.plugin INFO  : MAIN : started on pid 17368
sh: /usr/libexec/netdata/plugins.d/perf.plugin: Operation not permitted
sh: /usr/libexec/netdata/plugins.d/perf.plugin: Success
2020-10-29 01:05:52: netdata ERROR : PLUGINSD[perf] : read failed: end of file (errno 9, Bad file descriptor)
2020-10-29 01:05:52: netdata INFO  : PLUGINSD[perf] : PARSER ended
2020-10-29 01:05:52: netda

[2020-10-28 23:22] mailinglists35 commented on #9322
2020-10-29 01:05:52: apps.plugin INFO  : MAIN : started on pid 17368
sh: /usr/libexec/netdata/plugins.d/perf.plugin: Operation not permitted
sh: /usr/libexec/netdata/plugins.d/perf.plugin: Success
2020-10-29 01:05:52: netdata ERROR : PLUGINSD[perf] : read failed: end of file (errno 9, Bad file descriptor)
2020-10-29 01:05:52: netdata INFO  : PLUGINSD[perf] : PARSER ended
2020-10-29 01:05:52: netda

[2020-10-29 00:09] mailinglists35 commented on #9322
I've wiped everything and updated back to 1.26 rpm

[2020-10-29 00:36] mailinglists35 commented on #9322
keeps crashing even with clean install and all ausearch and audit2allow hacks needed to let it run with selinux

 Oct 29 02:18:57 hostname kernel: sh[21733]: segfault at 8 ip 00007f5217c0e46b sp 00007ffc2aa58c30 error 4 in libc-2.17.so[7f5217ba0000+1c3000]
Oct 29 02:18:57 hostname abrt-hook-ccpp[21734]: Process 21733 (bash) of user 985 killed by SIGSEGV - dumping core

this is enormously frustrati

[2020-10-29 00:47] rbjorklin commented on #10134
Hmm... It looks like this was indeed requested in #3750 and later on implemented in #5407. `io.stat` and `memory.stat` among others are indeed missing. I think this can be written of as user error in the end.

[2020-10-29 00:47] #10134 closed

[2020-10-29 01:39] rjbathgate opened #10159 "Alarm incorrectly in CLEAR status - disk_space_usage"
##### Bug report summary
I am testing alarms, specifically disk space usage (disk_space_usage).

Contents of: /usr/lib/netdata/conf.d/health.d/disks.conf

[code]
Note, WARN set to 40-90.

Actual disk space usage is around 70%

[code]

API returning value_string of 70%, so well within the WARN criteria.

However STATUS = Clear and the Cloud Dashboard is also not showing the alarm.

Data from: 19999

[2020-10-29 05:51] ilyam8 commented on #10159
Hi @rjbathgate 👋

See https://github.com/netdata/netdata/issues/10127

[2020-10-29 06:15] mfundul commented on #10153
Again that doesn't make much sense to me, because `htop` does the same calculations as `free`. By looking at the source code [here](https://github.com/hishamhm/htop/blob/59166da773d8a9a97c8f1b087346865bc8cda9fa/linux/Platform.c#L203) and [here](https://github.com/hishamhm/htop/blob/59166da773d8a9a97c8f1b087346865bc8cda9fa/linux/LinuxProcessList.c#L961) the used memory formula is:
[code]
which is s

[2020-10-29 10:15] jacekkolasa commented on #10118
fix deployed to https://app.netdata.cloud/, thanks @Rav4s!

[2020-10-29 10:15] #10118 closed

[2020-10-29 11:08] stelfrag commented on #7650
@ilyam8 probably not (forgotten); else I would have put a comment here

[2020-10-29 12:06] vlvkobal commented on #10152
Well, then #9775 can be the cause of the issue.

What's weird is that I've tested #9911 with the following configuration
[code]
and it works with
[code]

[2020-10-29 12:16] ilyam8 commented on #10152
if you use docker you/we can create a custom image and you test it. What do you think?

[2020-10-29 12:44] agrimal commented on #10152
I'm trying to test your PR from a `git clone` install of Netdata, but I can't get the prometheus remote write backend enabled, because missing libraries :
[code]

[2020-10-29 13:08] agrimal commented on #10152
So I think this is still not working with your PR, althought I'm not 100% sure i did things right.

Steps :
[code]
And then :
[code]
After setting configuration for exporting and restarting i still get these logs :
[code]

Conf :
[code]
[code]

[2020-10-29 13:16] ilyam8 commented on #10152
@agrimal what is your VictoriaMetrics version?

[2020-10-29 13:20] agrimal commented on #10152
[code]

[2020-10-29 15:02] vlvkobal commented on #10152
Quite a strange endpoint `remote write URL path = /insert/1/prometheus/api/v1/write` 🤔.

[2020-10-29 15:10] agrimal commented on #10152
Look [Cluster-VictoriaMetrics](https://victoriametrics.github.io/Cluster-VictoriaMetrics.html), section `URL Format`
Also it doesn't work with `/insert/1/prometheus` endpoint.
But all of this work with Netdata v1.24.0.

[2020-10-29 15:49] thiagoftsm commented on #9785
Hello @Bearzooka ,

I am sorry for the delay, but I was busy with other projects. Today I made the PR you requested, it is set as draft, because the documentation needs to be improved, but if you have a time to test it, please, let me know if I achieved what was expected.

Best regards!

[2020-10-29 16:03] vlvkobal commented on #10152
Ah, I see, both suffixes are allowed. Then we have a problem with reproduction ☹.

[2020-10-29 16:07] vlvkobal commented on #10152
The only change I see between 1.24.0 and 1.25.0 is
[code]

[2020-10-29 17:55] rjbathgate commented on #10159
@ilyam8 thank you! I presumed it was meaning "between 80 and 90".

Thanks for pointing me in the right direction.

[2020-10-29 17:55] #10159 closed

[2020-10-29 18:08] cakrit commented on #7634
Registry:
https://learn.netdata.cloud/docs/agent/registry shows how to run your own registry

sso-agent:
That has been disabled in more recent versions.

New version checks:
I don't recall seeing any complaints about this before and it's been part of netdata for several years. We are evolving netdata very fast and would like to keep people informed of what we're doing, with updated agents. I haven

[2020-10-29 18:08] #7634 closed

[2020-10-29 20:27] agrimal commented on #10152
Hmm okay, what else could I do to help you ?

[2020-10-29 20:42] jacekkolasa commented on #10049
Hi @nenonano!
Do you have default timezone settings in Dashboard-options/Locale tab?

Can you check /api/v1/charts response, to make sure timezone is the same, and check in any chart `last_entry` value, if it's not in the future??

[2020-10-29 21:47] jacekkolasa commented on #10113
Hi @stemy2! Can you please go to https://london3.my-netdata.io/ on the same machine and check if it looks similar to your case?

[2020-10-29 21:49] stemy2 commented on #10113
Yup, same problem.

[2020-10-29 21:50] jacekkolasa commented on #10091
Hi @TheOldMan2000 , is this the same issue as https://github.com/netdata/netdata/issues/9286?

[2020-10-29 21:56] jacekkolasa commented on #10149
Hi @paxsali! Before you click "export", please zoom out the charts (for example by using `-` button on one of the toolboxes), then the visible timeframe should be exported. Please change "seconds per point" slider to store more points. Will that solve your problem?

We'll have date-range-picker soon, zooming out should be easier then. :)

[2020-10-29 22:12] jacekkolasa commented on #10104
Hi @altimore! Can you check if other modifier keys work (ctrl or meta/windows key)? Perhaps only our description is wrong? It should support also other modifier keys.

[2020-10-29 22:20] jacekkolasa commented on #10113
thanks! This issue is very surprising, i haven't seen it yet and those charts are here for few years already. Can you share your browser and version nr?

Can you also check http://rendro.github.io/easy-pie-chart/ page and look if you see similar artefacts?

[2020-10-30 05:56] TheOldMan2000 commented on #10091
Hi @jacekkolasa yes, thank you, it's the same issue.

[2020-10-30 06:33] #10091 closed

[2020-10-30 08:12] l-jonas commented on #7634
What I want is a way to disable the registry feature completely - I don't need it.

I don't need any update checks within netdata. My package manager does the updates together with all the other updates. And they leak to third parties when I look at my monitoring. This is not optimal.

i did not test if NetData still uses the JavaScript eval function - using eval and not setting a CSP by default a

[2020-10-30 08:18] phuthinh2202 opened #10163 ""Send names instead of ids = no" not working"
##### Bug report summary

I start netdata-child as DaemonSet and netdata-parent as Deployment on my Kubernetes cluster. I configure on exporting.conf below:
[code]
But netdata-parent still send metrics with name to Graphite, i expect send ids metric to Graphite.

##### OS / Environment

[code]

##### Netdata version

``` Netdata version on Kubernetes: 1.26.```

##### Component Name

##### Steps To

[2020-10-30 09:12] ilyam8 opened #10164 "plugins.d: chart `type.id` 200 chars limit"
##### Feature idea summary

From the [external plugins api docs](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#external-plugins-api):

**I think this is ok and should be so**, but sometimes we need to be less strict and don't disable a plugin on any problem.

Disabling a plugin is not good if the plugin is an orchestrator (contains a lot of collectors).

---

There is implicit chart

[2020-10-30 09:21] mfundul commented on #10164
The limit cannot be increased without breaking compatibility with memory modes `map` and `save`.

[2020-10-30 09:24] ilyam8 commented on #10164
Ok, i vote for

[2020-10-30 10:08] mihailigoshin opened #10165 "exporting.conf seems not working"
This is not working:

` /etc/netdata/edit-config exporting.conf
`
[code]

PS.  I've tried via tcp but for sure influxdb graphite is via udp

This is working:

`/etc/netdata/edit-config netdata.conf`

[code]

Here is the exact configuration from influxdb.conf

[code]

Influxdb is on a remote machine
BTW I've tried with opentsdb and got the same results

[2020-10-30 10:22] ilyam8 commented on #10165
Hi @mihailigoshin, netdata version?

[2020-10-30 10:37] iugo commented on #8527
`curl -q -sSL --connect-timeout 10 --retry 3 --output /tmp/netdata-kickstart-WuqUtWeMO8/install-required-packages.sh https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh curl: (7) Failed to connect to raw.githubusercontent.com port 443: connection refused`

We can not use raw.githubusercontent.com:443 in China.

[2020-10-30 10:54] mihailigoshin commented on #10165
@ilyam8 Hi,

netdata v1.26.0

[2020-10-30 12:00] Asheboy opened #10167 "TV Dashboard showing one graph per row, instead of two."
##### Bug report summary
TV Dashboard page styling is broken, as such that it no longer shows two graphs per row.

##### OS / Environment
Netdata installed via the kickstart script.

[code]

##### Netdata version
netdata v1.26.0-91-nightly

##### Component Name
`/tv.html`

##### Steps To Reproduce
1. Navigate to `/tv.html`
2. Graphs will appear one per row.
![image](https://user-images.githubuserc

[2020-10-30 12:10] ilyam8 opened #10168 "dark theme Replicated Nodes menu colors are wrong"
##### Bug report summary

Dark theme (🛑)
<img width="1141" alt="Screenshot 2020-10-30 at 15 05 31" src="https://user-images.githubusercontent.com/22274335/97703240-5d39a000-1ac1-11eb-898a-907d0cdc4c8c.png">

White theme (✅)

<img width="1214" alt="Screenshot 2020-10-30 at 15 06 11" src="https://user-images.githubusercontent.com/22274335/97703306-75a9ba80-1ac1-11eb-8b41-28740e8e66b1.png">

##### OS

[2020-10-30 14:02] #9784 closed

[2020-10-30 14:02] #9785 closed

[2020-10-30 14:10] #5577 closed

[2020-10-30 16:43] max3163 commented on #250
Any news about the implementation?

[2020-10-30 18:35] carlhoerberg commented on #7824
docker got experimental support for qemu-user-static, which I found made it easy to build for foreign architectures:

[code]

or with docker buildx: https://docs.docker.com/buildx/working-with-buildx/

[2020-10-30 19:20] juanvasquezreyes opened #10169 "Hide "Update now" button"
Is there a way to hide the button "update now" without updating the version?

if not, can the check be on until the last number version v1.26.x

This is my current version
Your netdata version: v1.26.0

And this is the version it want me to update to
Latest version: v1.26.0-91-nightly

[2020-10-30 19:59] Ferroin commented on #7824
We’re actually using the same functionality right now for our ARM Docker image builds. It works rather well, but is unfortunately exceedingly slow. Our long-term plan is to set up dedicated build hosts for alternate architectures.

[2020-10-30 21:45] jacekkolasa commented on #250
Next week on nightlies, thank you for your patience! I'll link the pr to this issue.

[2020-10-31 03:37] alexanderankin commented on #2938
are the instructions different for `1.10.0`? not having any success with any of the options here

[2020-10-31 19:57] ByteAlex commented on #10153
[code]

No difference.
Meanwhile I removed the flag `-XX:-ZUncommit`, but thats all. Nothing else changed.

[2020-10-31 20:38] mfundul commented on #10153
Ok, I think I figured it out. So, apparently you have over 100GiB (`Shmem:          121669976 kB`) of shared memory in your system.  `htop` played around with it by moving it around the "used" or "cached" categories (see [this](https://github.com/hishamhm/htop/commit/a84aa2e78226563cd758711171c69c9c79131c53) PR).

This is mostly what's making the big difference in netdata. It's possible you're usi

[2020-10-31 20:47] ByteAlex commented on #10153
My `df -h` is kinda bloated due to kubernetes spamming container mounts.
Though I can imagine the JVM's THPs are going to use shared memory and thats the amount of memory which is missing in the netdata graphs.
I set up my JVM's 128GB heap to use THPs which aligns with the Shmem output and so on.

Thanks for taking this into discussions & investigation!

[2020-10-31 21:44] mfundul commented on #10153
[Here](http://calimeroteknik.free.fr/blag/?article20/really-used-memory-on-gnu-linux)'s an interesting link that doesn't get everything right, but focuses on the relevant issue of "shmem".

[2020-10-31 22:02] mfundul commented on #10153
Ok, so my gut feeling initial proposal is the following:

"shmem" is a subset of "cached" and it cannot be in addition to "cached" and "used", or we'll exceed 100% of RAM. Since there is an overlap, we shouldn't be using it as a chart dimension whatsoever.

However, even though "shmem" is "cached" memory, it is practically unreclaimable. The only way to get it back is to unmount the relevant files

[2020-11-01 07:22] yasharne commented on #9821
@Ferroin There seems to be no problem with `v1.26.0` as one of our parents is running this version for about a week and it is working fine

[2020-11-01 07:23] #9958 closed

[2020-11-01 07:23] #9957 closed

[2020-11-01 07:23] #7947 closed

[2020-11-01 07:23] #9959 closed

[2020-11-01 07:23] #9816 closed

[2020-11-01 07:23] #9954 closed

[2020-11-01 09:38] Kuro-Maii commented on #10132
@jacekkolasa Even with the instructions page it was a lot of trail and error before I managed to actually figure out what file I needed to edit where and then what to put in said `custom_dashboard_info.js`.
adding to that it took almost an hour till I figured out that it was being chased somewhere server side and all I could do was change the filename, edit the config to match and restart. just re

[2020-11-01 14:22] manos-saratsis commented on #9121
@drayvs This feature is expected to go out next week. Initially you will receive notifications only via email. Later on more integrations will be added.

[2020-11-01 14:26] manos-saratsis commented on #10169
@juanvasquezreyes There is no configuration for hiding the update button. It will be more subtle in the future. Also we should consider not showing this when the user is on the latest stable.

[2020-11-01 22:13] rjbathgate opened #10173 "Alarm: web log 1m internal errors"
#### Question summary

My "web log 1m internal errors" flagged critical recently.

In the dashboard, the graph shows a big spike in request, with a decent amount of errors (in particular 5xxs). See screenshots attached.

![Netdata-Cloud](https://user-images.githubusercontent.com/14904553/97816553-ed165e80-1cfa-11eb-9c1c-1dfd266909dc.png)
![Netdata-Cloud2](https://user-images.githubusercontent.com/

[2020-11-01 23:37] rjbathgate commented on #9121
@manos-saratsis - is there a 'new feature' email I can subscribe to (or similar?) as I'm really keen to use this once it's available, and also keep in loop going forward.

[2020-11-02 08:30] #9611 closed

[2020-11-02 09:40] parenok commented on #9921
Ok. I will wait.

[2020-11-02 09:57] ilyam8 commented on #10173
Hi @rjbathgate

No, you are not wrong, `weblog` collector reads log file.

These are predefined `weblog` jobs (if you haven't created your `web_log.conf` that files is use)

See `paths` parameter:

One of them is active.

To get which one:
 - cd netdata log dir
 - (as `root`) `> error.log`
 - (as `root`) `systemctl restart netdata.service`
 - `grep web_log error.log`

---

Yeah, see the chart righ

[2020-11-02 10:06] mfundul commented on #10153
@ilyam8 @vlvkobal @Ferroin  @thiagoftsm comments?

[2020-11-02 10:56] fayak opened #10174 "Set alarm URL, or make it redirect to host"
##### Question summary

I have hundreds of netdata agents monitoring an infrastructure. I also configured one to be a registry, and all the nodes announce this node as the registry. When an alarm is triggered on Slack, I have 3 links:

![netdata](https://user-images.githubusercontent.com/11300056/97859649-35387f80-1d01-11eb-8c0d-729119a54fb6.jpg)

1. is a link to the node triggering the alert FQDN

[2020-11-02 12:17] KickerTom opened #10175 "Disabling proc plugin causes snapshot save to report error"
##### Bug report summary

When I disable _plugin:proc_ using _netdata.conf_ configuration and then try saving snapshot using the default dashboard,js, I receive an error that one graph failed to be saved.
This seems to be caused by this section in _index.html_ (starting line 124), hardcoding access to _system.intr_ data:

[code]

For my use-case, I have commented out this section entirely, but tha

[2020-11-02 12:26] Ferroin commented on #9821
@yasharne OK, given that it sounds like it’s working, I’m going to close this as fixed.  If you see the same issue again, drop a comment here and we can reopen this and start investigating further.

[2020-11-02 12:26] #9821 closed

[2020-11-02 12:28] Ferroin commented on #10169
@manos-saratsis The fix here is to have the dashboard on stable installs only check against stable versions for updates. I’m not sure how difficult that actually is to achieve though.

[2020-11-02 12:29] luokaink opened #10176 "statsd_process() in dead loop"
##### Bug report summary
static inline size_t statsd_process(char *buffer, size_t size, int require_newlines);
if buffer is ":", this function will never end.

I do not know why the buffer is ":" and it only happens on virtual machines. Anyway, there is a definitely bug in function statsd_process().

[2020-11-02 12:29] ilyam8 commented on #10153
@mfundul great work 👍 Your suggestion sounds good for me.

[2020-11-02 12:33] Ferroin commented on #10153
Possibly odd question, but if we can track the actual amount of shared memory, why not just subtract it from cached and have it as it’s own dimension? Obviously still account it as used for the purpose of alarms, but I can see some value in actually differentiating it from ‘regular’ used memory.

[2020-11-02 12:45] mfundul commented on #10153
We could. But I'm not sure what code's in place elsewhere (e.g. dashboard) that expects the well known dimensions to exist. We need to predict the side-effects if we are to do that.

[2020-11-02 12:52] ilyam8 commented on #10153
link to dashboard code part that uses that chart is in this post https://github.com/netdata/netdata/issues/10153#issuecomment-718164081

[2020-11-02 13:06] kaskavel commented on #9921
hello @parenok. We did some thorough investigation of this issue. However we believe that the problem isn't on our part of the system.
To be more specific, as already mentioned we are not firewalling any IPs and for sure not the one discussed here. Logs investigation in haproxy do not help since we are not logging any timed out requests (only successful tcp sockets). Whatever similar setup we have

[2020-11-02 13:35] KickerTom opened #10177 "More generic overwiew in standard dashboard"
##### Feature idea summary
I am learning to customize the standard dashboard, it's amazing how flexible you made it, congratulations. There is only one thing missing (or that I haven't discovered yet :-) ), and that's a bit more flexible overview at the top of the page. I love how the standard dashboard puts important values in gauges at the top, but as far as I know, it is possible to add only va

[2020-11-02 13:57] KickerTom opened #10178 "libnetdata is not usable from c++ (cpp)"
##### Bug report summary
Attempting to write a new plugin for netdata in C++, I found that the headers are C only, unusable for C++ application. I understand netdata is (partially) C project, but interface libraries, and especially headers, could be C++ clean to make it more usable.
One of the most prominent problems is usage of _this_ as a struct member, while _this_ is reserved keyword in cpp.

[2020-11-02 15:27] #10167 closed

[2020-11-02 15:27] #10168 closed

[2020-11-02 15:28] jacekkolasa commented on #10167
Thanks a lot @Asheboy!

[2020-11-02 18:09] vlvkobal commented on #10165
I've tried with
[code]
and
[code]
everything is working as expected 🤷‍♂️.

[2020-11-02 18:13] vlvkobal commented on #10165
Please check the Netdata part using `nc -l -p 2003`.

[2020-11-02 18:49] rhenwood-arm commented on #7824
@Ferroin : Travis-CI have a free tier with native AArch64 support https://blog.travis-ci.com/arm-architecture-adoption-grows-on-travis-ci

Is that helpful?

[2020-11-02 21:08] stelfrag commented on #10147
I am closing this then. It could be SD card. I couldn't reproduce on PRi (eg. in TMUX)

my env
[code]

[2020-11-02 21:08] #10147 closed

[2020-11-03 00:01] erselbey commented on #9863
I have solved problem. Thank you

[2020-11-03 00:06] rjbathgate opened #10182 "Cloudflare and Netdata - increase in Error 521 (site down)"
##### Question summary

For the last 6 months, all my domains have been running through CloudFlare, with no problems whatsoever.

Last week I installed Netdata on the web servers these domains point to.

Since then, I have experienced a large number of Error 521 (Web Service Down).

https://community.cloudflare.com/t/community-tip-fixing-error-521-web-server-is-down/42461
[code]

I don't beleive i

[2020-11-03 05:13] rjbathgate commented on #10173
This references `/var/log/apache2/access.log` - not the error.logs, and the 500 errors in question won't be stored in the access.log, but rather the error log.

So, following the same path, `/var/log/apache2/error.log` is, as mentioned, empty. All error.log archives in here are all but empty.

Sorry but not clear what you're suggesting with that - can you elaborate?

I appreciate 2 a second isn't

[2020-11-03 07:14] manos-saratsis commented on #10174
@fayak Thanks for using Netdata! These problems will not exist in Cloud as we will soon offer centralized dispatch of alarm notifications from Cloud. Initially we will offer notifications via emails to the users of the space and within the next months we will add other integrations like Slack. The metric data will remain in your servers as we do not store metric data in Cloud. Also you will be abl

[2020-11-03 07:42] ilyam8 commented on #10173
Ok, there are some debug messages about log file during format autodetection

https://github.com/netdata/go.d.plugin/blob/1cfb9a649aa805654c61ee80ce54d4f3c23a5a97/modules/weblog/init.go#L101-L137

Try debug mode

[2020-11-03 07:54] ilyam8 commented on #10182
Hi

I don't think it is Netdata related, but it is easy to check - enable/disable `netdata.service` and check the errors.

[2020-11-03 08:01] kozicpetar commented on #10079
I tried again this, but as I told you, didn't work, same problem.

If I set in deamon:
[code]

`systemctl daemon-reload`
`systemctl restart netdata`

In netdata I can't see adapter RAID metrics.

Works only when all Capabilities disabled.

[2020-11-03 08:05] ilyam8 commented on #10079
@kozicpetar

let's see [sudo related messages in the error log](https://github.com/netdata/netdata/issues/10079#issuecomment-710676294) when `CAP_SETGID` and `CAP_SETUID` are set

[2020-11-03 08:14] kozicpetar commented on #10079
With enabled Capabilities, I see this in error log:

[code]

But debug command show like check works:

`su -s /bin/bash netdata /usr/libexec/netdata/plugins.d/python.d.plugin 1 debug adaptec_raid`

[code]

But there is no charts.

When I comment all Capabilities in daemon, I can see charts and everything works as expected.

[2020-11-03 08:20] ilyam8 commented on #10079
So there is no `sudo: unable to change to root gid:` ?

Ok, it is this code fails

https://github.com/netdata/netdata/blob/4548a54cf6f9bde87989f111ed932ec1c95ace40/collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py#L181-L183

This function

https://github.com/netdata/netdata/blob/4548a54cf6f9bde87989f111ed932ec1c95ace40/collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py#L207-

[2020-11-03 08:27] kozicpetar commented on #10079
But this show error only when Capabilities enabled. This function works when capabilities disabled.

[2020-11-03 08:48] jamesnr commented on #10128
I've tried an uninstall with a --force and while it uninstalls, the bash <(curl -Ss https://my-netdata.io/kickstart.sh) --allow-duplicate-install fails with  Cannot install netdata from source (the source directory does not include netdata-installer.sh). Leaving all files in /tmp/netdata-kickstart-vexnUzr6fI

I have read that you may need to just remove directory structure "/opt/netdata" is that c

[2020-11-03 08:50] ilyam8 commented on #10079
I know i know, i am trying to find what capability is missing.

If you want to disable capabilities w/o altering the upstream unit file do as `root`

[code]

This should fix the issue

[2020-11-03 09:19] kozicpetar commented on #10079
@ilyam8 yes, that works but I'm aware what will be when netdata update again. If something changed.

[2020-11-03 09:19] #10176 closed

[2020-11-03 09:20] ilyam8 commented on #10176
@luokaink thx for reporting the bug!

[2020-11-03 09:22] ilyam8 commented on #10079
This change will persist after Netdata update, no worries.

[2020-11-03 10:12] vlvkobal commented on #10163
I set up streaming and checked if the `send names instead of ids` is working correctly.

`exporting.conf` on the parent
[code]

Child: `http://arch-esxi:19999/host/ubuntu-20-04/api/v1/chart?chart=disk_svctm.sr0`
[code]

Parent: `http://arch-esxi:19999/host/arch-esxi/api/v1/chart?chart=disk_svctm.sr0`
[code]

`nc -l -p 2003` when `send names instead of ids = yes`
[code]

`nc -l -p 2003` when `send

[2020-11-03 10:13] vlvkobal commented on #10163
@phuthinh2202 could you provide similar information from your setup.

[2020-11-03 10:38] vlvkobal commented on #10152
Please check if exporting is working with `data source = average`.

[2020-11-03 10:42] mfundul commented on #10153
Check out #10183 for the simplest possible fix where there shouldn't be any unpredictable side-effects. @vlvkobal, @thiagoftsm  what do you think about @Ferroin 's proposal of creating a new "shared" dimension? Can you think of all possible side-effects in the rest of the agent/cloud solutions?

@ByteAlex you can test this Pull Request by compiling from source:
[code]
and running the installer:
[c

[2020-11-03 11:19] thiagoftsm commented on #10153
I agree with @ilyam8 , this looks like a good approach that we should follow.

[2020-11-03 11:40] vlvkobal commented on #10153
We need to change alarms, `main.js`, and `dash-example.html`. There is nothing else I can think of.

[2020-11-03 12:03] mfundul commented on #10153
So how should we proceed? Should we merge the simple fix as soon as possible and test the new dimension at a later time, or should we try to include the new dimension in the current PR?

[2020-11-03 12:05] ByteAlex commented on #10153
I'll be able to test that later today

[2020-11-03 12:09] Ferroin commented on #10128
That particular issue is (probably unrelated  unrelated to the uninstall issue, though it may be related to the failures to update. Please see #9863.

[2020-11-03 12:10] thiagoftsm commented on #10153
Give me few hours, I ran a kernel compilation and it looks ok, right now I am starting  a simulation that forces PostgreSQL to load Gigabytes of data and I will be able to measure Ram usage and alarms.

[2020-11-03 12:16] vlvkobal commented on #10057
Please try `send charts matching = !ipv6* !*tun0* !users* !netdata* *`.

[2020-11-03 12:21] ilyam8 commented on #10153
Sounds good, merge the fix asap and open a new issue. @thiagoftsm don't spend time, @ByteAlex will test it

[2020-11-03 12:42] thiagoftsm commented on #10178
Hello @KickerTom ,

I am a long time without to write `C++` code, but I agree with everything you wrote, so I would like your help to refresh my memory, would be enough to add:

[code]

inside our headers?

Best regards!

[2020-11-03 13:06] fayak commented on #10057
[code]

[2020-11-03 13:56] vlvkobal commented on #10057
#9911 will fix the issue with the exporting engine.

[2020-11-03 13:59] fayak commented on #10057
Sweet, thanks !

[2020-11-03 14:00] thiagoftsm commented on #10153
To complement @Ferroin 's comment, a specific `shared memory` dimension would be very useful, as you can see on my [comment](https://github.com/netdata/netdata/pull/10183#pullrequestreview-522518106), I know that I configured 1GB of shared memory for PostgreSQL, but it is not explicit on chart.

[2020-11-03 14:57] dnk8n commented on #9693
I would also be keen to know about this.

[2020-11-03 14:58] dnk8n commented on #9693
Think it is best to just install Netdata uncontainerized for now? Do containers provide a superset or a subset of uncontained Netdata features?

[2020-11-03 15:00] ilyam8 commented on #9693
Hi @dnk8n

[2020-11-03 15:35] KickerTom commented on #10178
Unfortunately, it's not that easy. Extern "C" clause helps to get function signatures without decorations, so they can be linked with C++ code. That's needed to make the headers usable, but that can also be done from outside, in the worst case.
e.g.:
[code]
But that can be the last step. What needs to be done first is to make the code C++ clean. E.g. the mentioned **this** in _libnetdata/eval/eval

[2020-11-03 15:59] KickerTom commented on #10178
After a quick first check, I found two distinct issues. First is the mentioned **this** struct member, which needs to be renamed. Second is multiple cases when type has the same name as its instance (which is not allowed in C++). This is the case for avl and avl_tree structures. I will open MR to show this in detail, then we can discuss possible solution.

[2020-11-03 16:25] ilyam8 commented on #10164
Back to this, it seems the fastest workaround is to fix this inside go.d.plugin, just not create (CHART ...) charts with len(type.id) >= 200.

[2020-11-03 17:10] thiagoftsm commented on #10178
All right @KickerTom .

I already assigned myself and other developers that will be reviewers of your work, when you finish, it is only necessary to remove the `draft` from the PR.

I will also do another request, please add `Fixes #10178` for your PR, this will close this issue when it is merged.

Thank you to bring this fix for us!

Best regards!

[2020-11-03 18:25] LaurentDumont opened #10187 "Cannot start netdata 1.26 on Pfsense 2.4.5 (FreeBSD 11)"
##### Bug report summary
I'm trying to use Netdata 1.26 on PFsense 2.4.5 (based on FreeBSD 11)

##### OS / Environment
[code]

##### Netdata version
[code]

# netdata -V
/usr/local/lib/libjson-c.so.5: version JSONC_0.14 required by /usr/local/sbin/netdata not defined

##### Steps To Reproduce
Install the pre-requisites packages for Netdata
[code]

Try to start netdata
[code]

##### Expected behavi

[2020-11-03 18:30] LaurentDumont commented on #10187
Looking around, it seems a similar issue was seen here : https://github.com/netdata/netdata/issues/7030

But the steps to fix it do not apply anymore as the latest package is now 1.26 (and I haven't found a way to downgrade Netdata to 1.23 or 1.17.

I'll keep looking around.

[code]

[2020-11-03 18:43] ilyam8 commented on #10164
In addition to changes to the go.d.plugin we need to add this to the plugins.d documentation (minor).

[2020-11-03 19:02] #10164 closed

[2020-11-03 19:02] dnk8n commented on #9693
Ok, so something worth running on the host if convenient anyway.

Are there similar issues to running netdata container on kubernetes? Just thinking that maybe the answer to that question could be useful to the future of solving this issue.

Personally, I am going to avoid the issue and install netdata on the host.

[2020-11-03 19:07] ilyam8 commented on #9693
What issues?

If your container runtime is docker there is no OP problem.

See https://github.com/netdata/helmchart#netdata-helm-chart-for-kubernetes-deployments

[2020-11-03 20:17] dnk8n commented on #9693
By this issue, I am referring to https://github.com/netdata/netdata/issues/9693 :)

This issue is all about rootful podman, which is **not** a docker container runtime. And I was referring to Kubernetes based netdata containers **without** a Docker container runtime. Does it run into the same problems as podman based netdata containers would? Or are they slightly different problems?

To emphasize

[2020-11-03 22:10] wash2 opened #10188 "Libreswan Plugin: doesn't track traffic/uptime and check function fails"
### Bug report summary

##### Doesn't track traffic/uptime
The charts.d Libreswan plugin doesn't properly parse `add_time`, `inBytes`, and `outBytes` from `ipsec whack --trafficstatus`. This causes the graphs in the dashboard to have no data for the libreswan plugin.

There is an extraneous comma at line 81, character 45, in `/usr/libexec/netdata/charts.d/libreswan.chart.sh` that prevents the rege

[2020-11-03 23:27] ilyam8 commented on #10188
Hi, yeah, we have problems with all the collectors that use `sudo` since we _hardened_ netdata systemd unit file 😅

Related PR https://github.com/netdata/netdata/pull/10088 / issue https://github.com/netdata/netdata/pull/10088

So the solution is to guess/find missed capability or unset [CapabilityBoundSet](https://github.com/netdata/netdata/issues/10079#issuecomment-720983709).

[2020-11-03 23:30] ilyam8 commented on #10188
If it is only comma then let's make it optional (`.?`). Are you willing to make a PR?

btw very nice bug report summary @wash2 👍

[2020-11-03 23:33] wash2 commented on #10188
Sure I'll make a PR that makes the comma optional. And thanks :).

[2020-11-04 08:15] jamesnr commented on #10128
I don't think so, I have standard settings of drwxrwxrwt and I'm logged in as root which is the owner.  Any other thoughts?

[2020-11-04 08:39] nicknaychov commented on #4574
Hi I would add to the list and Kamailio.
It is pretty popular SIP engine. It is similar to Opensips, for which you already have chart.s plugin so I suspect should be easy addition.
All the best

[2020-11-04 08:42] DonZheng opened #10191 "De-claim node via command line"
##### Feature idea summary
De-claiming node from cloud waroom via command line. i.e.
`sudo netdata-declaim.sh -token=<token> -rooms=<roomid> -url=https://app.netdata.cloud`

At the moment, operator can remove node from waroom manually on netdata.cloud. This cannot scale well. In case of managing large server pool where add/delete server operations are frequent, a command line option will be very u

[2020-11-04 09:40] fayak commented on #10174
Hi @manos-saratsis !

Thanks for your response. I'm not sure our company will be comfortable using Netdata's cloud features, even it does not store our monitoring data. To be honest, I don't understand quite well the value added by Netdata's cloud that cannot be performed in a self hosted solution.

I think I'll fix it temporarily with this patch for the moment:
[code]

which does exactly what I w

[2020-11-04 09:47] manos-saratsis commented on #9121
@rjbathgate please wait a couple of days and we will ship it. As an admin you will be able to allow email notifications for a space and all users will be able to manage the notifications they receive for every Space & War Room they are in.

[2020-11-04 09:55] fayak commented on #10174
I'll go with this ansible task:
[code]

We'll see how it performs :man_shrugging:

[2020-11-04 10:56] vlvkobal opened #10193 "The Pub/Sub exporting connector cannot be compiled with new grpc versions"
##### Bug report summary
If gRPC version 1.32 or higher and other dependencies for Pub/Sub support are installed, Netdata's build process stops with a compilation error.

[googleapis/cpp-cmakefiles](https://github.com/googleapis/cpp-cmakefiles) is not supported anymore. We should rewrite the Pub/Sub exporting connector using a new [C++ library](https://github.com/googleapis/google-cloud-cpp) that

[2020-11-04 12:52] ilyam8 opened #13320 "[Bug]: `pulsar` module creates charts with huge number of dimensions"
Which messes things up on the netdata dashboard.

We need to disable/filter stuff and provide only the summary by default. As an test data input we need to use data from pulsar on the cloud testing/staging.

For instance this chart

https://github.com/netdata/go.d.plugin/blob/a8b243886cacebb4df226bfbf9e2ebe15a0b1d7d/modules/pulsar/charts.go#L418-L426

has 680 dimensions 😅

[2020-11-04 13:04] ilyam8 commented on #4574
@nicknaychov 👋 since this issue is closed i recommend to open a new issue.

[2020-11-04 13:06] ilyam8 commented on #4574
I see there is prom exporter https://github.com/florentchauveau/kamailio_exporter, it makes it easier to write the collector.

[2020-11-04 13:07] ilyam8 commented on #9693
I am not a specialist and have 0 exp with podman, but i think that k8s is not related, since all the problems are only container runtime related in that case.

[2020-11-04 13:11] thiagoftsm opened #10195 "Option `--build-judy` on FreeBSD `12.2`"
##### Bug report summary
When I tried to use `--build-judy` on FreeBSD 12.2 I had the following problems that did not allow me to use `dbengine` with FreeBSD:

1 - I had to install `libtool` that was not installed after I upgrade
2 - On FreeBSD I cannot finish the compilation thanks these [errors](https://github.com/netdata/netdata/files/5487805/files.zip)

##### OS / Environment
[code]

##### Net

[2020-11-04 13:16] mfundul commented on #10195
I don't really see the errors in the attached file, but I do see the use of libasan and ebpf. You should remove all those extra flags for FreeBSD.

[2020-11-04 13:26] #10188 closed

[2020-11-04 13:28] ilyam8 commented on #10188
The issue with permissions (`CapabilityBoundingSet`)/documentation is not resolved. @Ferroin what do we do? Are you ok with adding

[code]

?

[2020-11-04 13:29] jurgenhaas opened #10196 "Oracle monitoring reports wrong data"
##### Bug report summary

Started to configure Oracle monitoring today and got confused about the reported metrics, so I think this needs to be reported. When I use this SQL in my Oracle database

[code]

I get the sizes reported like this:

[code]

But the netdata plugin reports much lower values:

![Screenshot from 2020-11-04 14-28-51](https://user-images.githubusercontent.com/1475675/98117494-2

[2020-11-04 13:46] ilyam8 commented on #10196
Hi @jurgenhaas

I see

- the query

https://github.com/netdata/netdata/blob/3f70299e3521ac4708bd6f47abbf46f70e8692e8/collectors/python.d.plugin/oracledb/oracledb.chart.py#L186-L195

- query result

https://github.com/netdata/netdata/blob/3f70299e3521ac4708bd6f47abbf46f70e8692e8/collectors/python.d.plugin/oracledb/oracledb.chart.py#L581-L584

https://github.com/netdata/netdata/blob/3f70299e3521ac47

[2020-11-04 13:46] ilyam8 commented on #10196
Try same query as we do, probably there is something wrong 🤷‍♂️

[2020-11-04 14:21] thiagoftsm commented on #10195
@mfundul , please , take a look at `err` file:

[code]

[2020-11-04 14:29] jurgenhaas commented on #10196
I think the difference is that you take `tablespace_size` as the MAX BYTES metric which return the maximum size that's allowed for the oracle database. That value is always the same, in my case it's `3.4360E+10` (around 3 GB) for an XE license.

But a database may not necessarily grow to that size, only if you have auto-allocate enabled, which is not always recommended.

Instead, in our query we u

[2020-11-04 14:44] ilyam8 commented on #10196
@jurgenhaas are you willing to make a PR?

[2020-11-04 14:47] jurgenhaas commented on #10196
I'm not a Oracle expert but I'll give it a try.

[2020-11-04 15:04] ilyam8 commented on #10196
Me neither. Since you have access to an oracle instance, it is easier for you to fix the issue and test it.

[2020-11-04 17:29] jurgenhaas commented on #10196
@ilyam8 here you go, https://github.com/netdata/netdata/pull/10197 is working on 6 instances in our environment and the added code is similar to the tablespace code which was there before.

[2020-11-04 17:37] ilyam8 commented on #10196
@jurgenhaas great! so fast! 😲 👍

[2020-11-04 17:40] abrbon opened #10198 "TrueNAS (FreeBSD) auto update does not work"
On my TrueNAS 12 server (based on FreeBSD) the auto-update does not work.

If i run the "/etc/periodic/daily/netdata-updater" script manually it does work fine altough i have to answer 1 question during the script with "Y" (or "N") before it can continue and finish the update.

`[/tmp/netdata-updater-XXXXXXXXXX.SxF11L2O/netdata-v1.26.0]# mv go.d.plugin-v0.23.0.freebsd-amd64 /usr/local/netdata/usr/

[2020-11-04 17:50] abrbon commented on #9444
I have opened a new issue for this update issue on my TrueNAS server.

[2020-11-04 18:15] Ferroin commented on #10198
Most likely cause is a difference between GNU and FreeBSD userspace. I’ll try to make a point to look into this further either later today or early tomorrow.

[2020-11-04 18:47] ilyam8 commented on #10198
Default is no confirmation, `mv` asks on overwriting only when it is explicitly called with `-i` option. Same behavior for both GNU and bsd versions ([a funny related topic](https://forums.freebsd.org/threads/prompt-confirmation-y-n-to-move-a-file.70676/)).

[2020-11-04 18:53] ilyam8 commented on #10198
Likely not, but i have only this in mind - could it be an alias?

[2020-11-04 18:57] Ferroin commented on #10198
It might be an alias, but I would be rather surprised if that was leaking into a shell script. Aliases should be defined in the profile files, not the shell rc files, and thus should not be visible in shell scripts.

[2020-11-05 00:58] abrbon commented on #10198
I don't think it's an alias issue because there is a second 'mv' command i can see in the installer log which did not ask for confirmation during install.

`[root /root/netdata-v1.25.0]# mv go.d.plugin-v0.22.0.freebsd-amd64 /usr/local/netdata/usr/libexec/netdata/plugins.d/go.d.plugin  ... OK
[root /root/netdata-v1.25.0]# chown root:netdata /usr/local/netdata/usr/libexec/netdata/plugins.d/go.d.plug

[2020-11-05 02:38] abrbon commented on #10198
I think i found the problem in the netdata-updater.sh script.
It is in the random sleep function :

[code]
The problem is the 's' on the end of the 'sleep ...' line.
FreeBSD does not expect a 's' on the end.
It should always be in seconds.
Simply removing the 's' at the end of the line seems to solve the problem in my case.

[2020-11-05 04:36] abrbon commented on #10198
With the little bit of bash scripting knowledge i have i made the following changes to the 'netdata-updater.sh' file to make this work on my FreeBSD install on TrueNAS.

[code]

[2020-11-05 07:26] kjellgren opened #10200 "netdata 1.26 rpm contain a empty ebpf.plugin"
##### Bug report summary
RPM for netdata 1.24 install file `/usr/libexec/netdata/plugins.d/ebpf.plugin` that is working fine but when I use the RPM for 1.26 I get an empty file (that do not work).

##### OS / Environment
RHEL (RedHat) 7.9

##### Netdata version
1.26.0

##### Component Name
ebpf

##### Steps To Reproduce
Install netdata-1.26.0-1.el7.x86_64.rpm

[2020-11-05 07:48] tycho commented on #9640
I ran into this, and there's a problem with the systemd service definition.

I modified `ExecutableService.py` to print the stdout/stderr from the command:
[code]
Note that I can run this manually as the netdata user:
[code]

The `CapabilityBoundingSet` in the systemd service doesn't have sufficient capabilities for sudo:
[code]
If I add this, it starts working:
[code]

[2020-11-05 09:27] kozicpetar commented on #10128
I wrote in other issue, I have same problem.
Manual run of netdata-updater.sh

[code]

If I need to remove and install again all my netdata instance that will be devastating. I have more than 50 servers.

[2020-11-05 12:11] Ferroin commented on #10198
Confirmed, that is indeed the issue.

@abrbon Would you be willing to open a PR with your changes? I can do so instead if you want, but I’d much rather you got the credit for the fix since you were the one who figured it out.

[2020-11-05 15:15] ilyam8 commented on #4811
@hamedbrd 👋 Are you willing to help with `couchbase` collector?

[2020-11-05 17:08] #9607 closed

[2020-11-05 17:08] #9189 closed

[2020-11-05 17:08] #9631 closed

[2020-11-05 17:08] #10057 closed

[2020-11-05 19:24] OdysLam commented on #10187
Pfsense is challenging, as we have to manually update the documentation. The thing is that we recently did update the documentation so it's strange that it doesn't work.

Since I am not sure that we have a testing facility for pfsense, would you mind helping us pinpoint the exact culprit?

Btw, welcome to our community :)

[2020-11-05 19:25] OdysLam commented on #9693
Hey @dnk8n ,

Welcome to our community :)

Thanks @andrew-kennedy for the question!

[2020-11-05 19:26] OdysLam commented on #9863
Welcome to our community @erselbey, we are on top of it!

[2020-11-05 19:29] OdysLam commented on #7824
Thanks @rhenwood-arm for chiming in and welcome to our community :)

Although I am not an expert, thanks for pointing this out. Curious 😬 on what our chief packager @Ferroin has to say !

[2020-11-05 19:30] OdysLam commented on #10176
@luokaink Thanks for reporting this bug and welcome to our community. Actually, this is very awesome, as you not only pointed out the bug but knew exactly what was it.

We would love to have your expert voice in our community forums: https://community.netdata.cloud 🚀

[2020-11-05 19:32] OdysLam commented on #2938
Hey @alexanderankin, sorry to see you go but welcome to the community!

[2020-11-05 23:24] LaurentDumont commented on #10187
Sure!

What would you need from my side? Looking at the install steps here (which I missed the first time around) - my package versions look pretty similar.

The only difference seems to be the `json-c-0.15_1.txz` lib.

[code]

[code]

[2020-11-06 00:22] abrbon commented on #10198
Thx Ferroin, i created my very first PR today :)
Hope i have done it correctly. Let me know if not.

[2020-11-06 03:08] phuthinh2202 commented on #10163
I setup follow by helm chart of Netdata:
And values below:
[code]

When I see metric on Netdata-parent chart:
[code]

I want to netdata-parent send ID of metric, so i configure for netdata-parent:

[code]
But when i configure dashboard on Grafana still see name of metric:
```cgroup_k8s_pwa_wap_cbff46f45_skhcz_2fb61df2_7b30_4d1e_a72b_f49653872737_pwa_wap.net_eth0```

[2020-11-06 08:41] vlvkobal commented on #10163
It's not the name you see. It's the id that was sanitized (everything except digits, letters, and periods was changed to underscores).

[2020-11-06 11:01] jacekkolasa commented on #10149
closing but feel free to reopen if you have further questions

[2020-11-06 11:01] #10149 closed

[2020-11-06 11:12] #10151 closed

[2020-11-06 11:57] Fran17mc opened #10205 "Running Firefox as root in a regular user's session is not supported. ($HOME is /root which is owned by netdata.)"
##### Bug report summary
Since I have installed Netdata in my system, I can't open Firefox Browser.
I have the log below:

[code]
**Running Firefox as root in a regular user's session is not supported.  ($HOME is /root which is owned by netdata.)**

I change this, and I think that it's the source of the problem:

https://github.com/netdata/go.d.plugin/issues/473

[code]

##### OS / Environment

[c

[2020-11-06 12:05] #9306 closed

[2020-11-06 12:06] #8854 closed

[2020-11-06 12:28] thiagoftsm commented on #10205
Hello @Fran17mc ,

It is always complicated to change permissions and owners for `/root` directory.  I saw in your discussion with @ilyam8 that you wanted to monitor a file inside `/root`, so I have few questions for you:

1 - Is it possible to move this file for another directory?
2 - If it is not, did you try only to change its permission and give read access for others(this is also not safe)?

[2020-11-06 12:30] ilyam8 commented on #10205
@Fran17mc it is not since

Can you provide a step by step what you did?

[2020-11-06 12:41] Ferroin commented on #10205
Indeed, Firefox is not the only thing that this change is likely to break. Public-key based SSH access as root will also not work if permissions are set this way, and there are other things as well that will refuse to run under this setup.

A slightly better approach to what you seem to be trying to do would be to remove the changes, and then add an ACL on the directory itself to allow the netdata

[2020-11-06 12:43] #10153 closed

[2020-11-06 12:46] mfundul opened #10206 "Create a new "shared" dimension for "System RAM" chart"
##### Feature idea summary
Create a new "shared" dimension for "System RAM" chart.
See the discussion [here](https://github.com/netdata/netdata/issues/10153#issuecomment-720444099) for more details.

[2020-11-06 12:49] Fran17mc commented on #10205
I have make rollback and I'm back to:
[code]

But, I have done as NetData:
[code]

And it's seems working. Firefox now is working, and Filecheck also is reporting data.

[2020-11-06 12:52] ilyam8 commented on #10205
@Ferroin actually we don'nt need `r`, but `x`

pointed to by statbuf. No permissions are required on the file
itself, but—in the case of stat(), fstatat(), and lstat()—execute
(search) permission is required on all of the directories in pathname
that lead to the file.

[code]

[code]

And it works

[code]

[2020-11-06 12:57] ilyam8 commented on #10205
Ok, we need `r` for directories.

[2020-11-06 13:54] OdysLam commented on #10153
The RAM question has come up more than a few times. Let's write something for our FAQ/Knowledge-Base @joelhans
Could you help us compile all the information in one piece @mfundul ? If you remember, you replied to a relevant question on the forums, so this ambiguity is more common than we thought.

@joelhans I know that we don't have a KB, let's add it for future reference and chat on Monday on a p

[2020-11-06 14:53] ilyam8 commented on #10205
i will update the collector readme

[2020-11-06 20:29] InvisibleSymbol opened #10207 "Netdata doesn't remove orphan hosts automatically"
##### Bug report summary
Netdata doesn't seem to automatically remove Orphan Hosts. My netdata.conf is as follows:
[code]
But even after waiting minutes over the specified duration netdata never removes the dead hosts. (In this case both worker-1 and worker-2:)
![](https://i.imgur.com/wScUjCE.png)

##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0-130-nightly

##### Component

[2020-11-06 22:19] mfundul commented on #10207
First of all, your `netdata.conf` is wrong because it's `dbengine` but you wrote `db-engine`, for more information look [here](https://github.com/netdata/netdata/blob/master/database/engine/README.md).

Moreover, the `global` section of `netdata.conf` is only for the parent itself (localhost). The slave nodes that the parent receives from are configured from `stream.conf`. For more information see

[2020-11-06 22:59] InvisibleSymbol commented on #10207
whoops my bad. My actual config file has it written correctly, must've have somehow misstyped it.

Indeed, I only posted that part as it shows my custom "cleanup orphan hosts after seconds" setting, as that part seemed to be not working.
<details><summary>My main-server "stream.conf" </summary>

[code]
</details>

<details><summary>My worker-server "stream.conf" </summary>

[code]
</details>

<det

[2020-11-07 00:11] thiagoftsm commented on #10178
I am closing this issue after to merge #10185.

[2020-11-07 00:11] #10178 closed

[2020-11-07 02:51] Roki100 opened #10208 "feature: make charts legend position configurable via gui"
Hello! i have upgraded my netdata from 1.14 to 1.26 and i really hate the recent 1.26 change that brings the labels on the bottom instead of the right, and i have a question if there is any possibility to bring the "normal" look back without downgrading? if no, how i can downgrade to the latest version that includes the better look?

[2020-11-07 07:26] mfundul commented on #10207
I'm still not clear from this snippet which `memory mode` is used in `stream.conf`. If you want the metric cache storage of the child nodes itself to be deleted, then you should probably use `save` instead of `dbengine` in `stream.conf`. `dbengine` will only clean up the storage after it rotates, which means when the metrics have grown old enough.

[2020-11-07 12:28] InvisibleSymbol commented on #10207
I assume that you are talking about the `stream.conf` of my main server, because the child nodes itself don't store any data.
The main-server `stream.conf` does declare `default memory mode = dbengine` for that api-key, and even after changing it to `save`, there is still no clean up of the orphan child.

[2020-11-07 12:35] mfundul commented on #10207
That could be because those data have already been archived in `dbengine` storage. You could try deleting the cache `var/cache/netdata/*` and start fresh with `default memory mode = save`. Then you could observe the folders that are created in `var/cache/netdata`. Each folder has the machine GUID of the child node as its filename. The clean up of the orphan child would eventually delete this folde

[2020-11-07 12:53] InvisibleSymbol commented on #10207
After stopping netdata, clearing the cache, starting it again with `default memory mode = save` and starting & stopping the child node, the files of the orphan child `7c64fc78-20f6-11eb-8f73-f202ef3d3a02` persist to stay after the defined timeout (which is set to 30 sec for quicker testing).
![](https://i.imgur.com/3h9Jtba.png)

[2020-11-07 12:57] mfundul commented on #10207
After reviewing the code it looks like the cleanup process will only be triggered after a child node connects to the parent.

If that is the case, I would expect one of the orphan hosts to be deleted if the second child reconnects, or both of them to be deleted if a 3rd child connects. Can you verify?

[2020-11-07 13:08] InvisibleSymbol commented on #10207
I deployed another child-server for testing and after this one started to stream to the main-server the orphan node still wasn't removed.
`7c64fc78-20f6-11eb-8f73-f202ef3d3a02` is the offline child
`6a801e40-20f9-11eb-ac2b-f202ef3d0155` is the new child
`7564a4fe-1e90-11eb-a168-f202ef3d2c6c` is permanently online during testing

![](https://i.imgur.com/ZICetbV.png)

[2020-11-07 14:09] ilyam8 commented on #10037
Probably fixed by https://github.com/netdata/netdata/pull/10201

[2020-11-07 16:41] free514 opened #10209 "convert kilo to megabytes"
how change diplay kilobytes to megabytes
in cloud netdata

http://prntscr.com/vf7qmj

[2020-11-07 19:12] #10099 closed

[2020-11-07 19:28] duhzon opened #10210 "Mirrored_host orderer in dash.html and Display it outsite of lan!"
Hello guys!
Im trying to use default netdata multi host dashboard to show metrics! i ran all way up streaming configuration and im getting charts from dash.html aswell but the chart order is random!
for example: charts is display from left to right in order: myserver1,myserver4,myserver6,myserver13,myserver5,myserver7...
How do dash.get_ordered_hosts(); work? its orderer by ip? label? Let me say a

[2020-11-07 20:28] ilyam8 commented on #10210
Hi @duhzon 👋

@tnyeanderson if you have time please take a look.

[2020-11-07 23:51] tnyeanderson commented on #10210
Hi @duhzon !

By default, the hosts are ordered alphabetically by hostname.

If you click the settings gear in the bottom right of the `dash.html` page, you will get a graphical interface where you can reorder the hosts.

Alternatively, line 449 is where you could use a different sort method:

[code]

The last thing about getting it "outside of lan".... you have to make the netdata API accessible

[2020-11-08 08:24] parenok commented on #9921
Ip changing is solve problem. But some servers are still can't connect to app.netdata.cloud.

[2020-11-08 11:33] free514 commented on #5690
is possible put ovpn_status_log in netdata Cloud?

[2020-11-08 12:04] ilyam8 commented on #5690
If you have it enabled and working on the agent you should see it on the cloud too. In case you see `ovpn_status_log` on the agent dashboard, but not on the cloud try to `Empty Cache and Hard Reload` the page.

[2020-11-08 12:08] #10205 closed

[2020-11-08 13:21] duhzon commented on #10210
Really thanks! I Will give a try on gear in Dash.html! About outside of lan acess its like a suspect but how do i expose my api to the client and make proper internal resolution without internal ip? Its in .conf files?  Another thing its possible to use some sort of dns to acess it? Like myserver.com ? I saw registrer and colector documentation in learn netdata but it was a little Blur to me ! Sor

[2020-11-08 13:30] duhzon commented on #10210
Another thing i have some kind of report i was installing last year netdata by clone git metod and install.sh all was fine but my cluster got formated and i gave netdata by kickstart metod a try. The thing is that netdata was unnable to apply change on netdata/web/stream.conf so i moved the conf to etc/netdata along with netdata.conf and it worked, no stream.conf was created with kickstart install

[2020-11-08 16:35] tnyeanderson commented on #10210
For access from outside your lan, I'd recommend one of two options:

1. Best option - use  a VPN to get into your lan from anywhere, then make the requests as normal (internal IPs and all)
2. Less secure - Set up port forwarding on your router to the ip:port of your netdata server. If you don't have a static IP for your router, then you'll also need a ddns service. Keep in mind to ONLY use this ov

[2020-11-08 19:23] duhzon commented on #10210
I see @tnyeanderson thanks for the advices! Not sure if i will work on it yet but i will keep that in mind! Im happy with what i achieved with netdata so far and I already got dash.html reorderer thanks to your tip.
Cloosing the issue as you asked

[2020-11-08 19:24] duhzon commented on #10210
I see @tnyeanderson thanks for the advices! Not sure if i will work on it yet but i will keep that in mind! Im happy with what i achieved with netdata so far and I already got dash.html reorderer thanks to your tip.
Cloosing the issue as you asked

[2020-11-08 19:24] #10210 closed

[2020-11-08 19:35] badkaktus opened #10212 "Doesnt see all slaves on master"
##### Question summary
I have 7 servers with netdata. 1 of them - master, other 6 is slaves. Netdata version - 1.23.2. When i started service, i see on master only 5 servers (1 master and random 4 slaves). After every restart i saw random servers. Why i doesn't see all slaves?

Master settings:
`cat /etc/netdata/netdata.conf`
[code]

Slaves settings:
`cat /etc/netdata/netdata.conf`
[code]
and i tr

[2020-11-08 20:38] AWHubGit commented on #9061
I tried to build netdata for macOS exactely as per
https://learn.netdata.cloud/docs/agent/packaging/installer/methods/macos#install-netdata-from-source
sudo ./netdata-installer.sh --libs-are-really-here --require-cloud --install /usr/local

Build fails: configure: error: User required agent-cloud-link but it can't be built!
.../lib/mosquitto.c:59:10: error: implicit declaration of function 'mach_a

[2020-11-08 20:46] AWHubGit opened #10213 "build netdata for macOS from source fails"
I tried to build netdata for macOS exactely as per
https://learn.netdata.cloud/docs/agent/packaging/installer/methods/macos#install-netdata-from-source
sudo ./netdata-installer.sh --libs-are-really-here --require-cloud --install /usr/local

Build fails: configure: error: User required agent-cloud-link but it can't be built!
.../lib/mosquitto.c:59:10: error: implicit declaration of function 'mach_a

[2020-11-09 02:10] free514 commented on #5690
seems is not enable
i getting this in logs

`python.d INFO: plugin[main] : [ovpn_status_log] built 1 job(s) configs
python.d WARNING: plugin[main] : ovpn_status_log[default] : unhandled exception on check : IOError(13, 'Permission denied'), skipping the job`

`2020-11-09 03:05:47: python.d INFO: plugin[main] : no jobs to serve
2020-11-09 03:05:47: python.d INFO: plugin[main] : exiting from main...

[2020-11-09 03:46] phuthinh2202 commented on #10163
ok, thank you.

[2020-11-09 03:46] #10163 closed

[2020-11-09 07:29] #9217 closed

[2020-11-09 07:29] #10018 closed

[2020-11-09 08:35] OdysLam commented on #10047
Hey @alexmyczko,

We are in contact with the Debian Maintainers and we are trying to find a slot and have a kickoff meeting so that we can address their reservations and properly support the Official Package manager!

[2020-11-09 08:50] OdysLam commented on #10213
Hey @AWHubGit,

We are sorry that you encountered this and welcome to our community!

We are working on it. Can you please tell us the OS version that you are using?

Best,
Odysseas

[2020-11-09 09:35] AWHubGit commented on #10213
macOS 10.15.7 (19H15).

[2020-11-09 13:42] #10198 closed

[2020-11-09 15:27] vlvkobal commented on #10165
Well, I'm closing this. I can't reproduce the issue and there were quite considerable changes to the exporting engine during the last days. @mihailigoshin if you still face the problem after updating Netdata and you are able to provide more information, feel free to reopen the issue.

[2020-11-09 15:27] #10165 closed

[2020-11-09 18:10] OdysLam commented on #7133
Hey everyone,

Another month, another list of amazing contributors who invested time and energy in making Netdata Agent better for everyone, for free. We are indeed grateful for their contributions.

As always, please do send us an email at rewards@netdata.cloud with the following info (so you can claim your reward ✌️)

GitHub Username
First Name
Last Name
Email
Phone
Full Shipping Address (includ

[2020-11-09 18:53] ilyesm opened #10219 "Issue Installing & Subsequently Updating Netdata"
##### Bug report summary
When I tried to install Netdata, the kickstart installation script had a fatal error and made the OS crash. After a couple tries, the install went through, but when I try to run the kickstart script to update the installation, the same crash happens. The crash always happens after the following verbose log:

`make[2]: Entering directory '/tmp/netdata-updater-cFg09QMcxy/net

[2020-11-09 18:55] bdossantos commented on #5744
Hi! I encountered the same "bug" with some Debian 10 box backed by NVME SSD and a 4.19 kernel.

"fun" fact: In my case, It seem switching I/O scheduler from `none` to `mq-deadline` fixed the reporting of the real disk utilization ...

[code]

<img width="1146" alt="Screen Shot 2020-11-09 at 7 10 03 PM" src="https://user-images.githubusercontent.com/245284/98583819-49621b00-22c5-11eb-9947-4700229f7

[2020-11-09 19:03] spytzo commented on #7133
Hello Odysseas,

Thank you so much, I am not sure I ever sent my details properly after the
December 2019 rewards post: https://github.com/netdata/netdata/issues/7133

Would it be possible to reach out and send them to you in private?

Wishing you all the best,
Spyros

On Mon, Nov 9, 2020 at 8:10 PM Odysseas Lamtzidis <notifications@github.com>
wrote:

[2020-11-10 02:32] champtar opened #10220 "Gaps in streamed charts / k8s helm deployment"
##### Bug report summary
Investigating some random issue on a K8S cluster, trying to deploy netdata to have more visibility, the graphs are full of gaps/holes/discontinuities
![image](https://user-images.githubusercontent.com/3536755/98616602-2175b600-22cb-11eb-921e-5b0c0e85d074.png)

##### OS / Environment
[code]

##### Netdata version
[code]

##### Component Name
?

##### Steps To Reproduce

Dep

[2020-11-10 03:18] champtar commented on #10220
Ok I added `errors flood protection period = 0` and now I see
[code]
(one could argue that rate limiting errors by default is a really bad idea but that is out of topic)

so the issue is that `buffer size bytes` is ignored

[2020-11-10 05:30] startryst opened #10221 "Health alarm can do both (execute script on top of the alarm)?"
After add the execute: path, the notification by alarm-notify.sh seemed be overrode, so how can do both?

[2020-11-10 06:35] startryst opened #10222 "Permission issue of alarm execute"
##### Question summary
trying to execute the script when alarm raised, pretty simple configuration under one of the health .conf with additional line like below:
`exec: /root/test.sh`

and below are the permissions of the file:
[code]

inside the test.sh, it's pretty simple, print all the parameters to test.txt:
[code]

But no matter how I tried, I ended up with below error from netdata:

[code]

[2020-11-10 11:15] hamedbrd commented on #4811
@ilyam8
where should we start?

I took a look at official pkg to see how to get the stats but I think we can not have stats in the official sdk(not too sure about this), but in the unofficial version as they mentioned we do have access to them exactly like your script, so shall we investigate more in offcial package?

Bucket struct in official pkg
https://github.com/couchbase/gocb/blob/171294ec44d

[2020-11-10 12:41] stelfrag commented on #10212
@badkaktus can we see what is happening in the parents error.log after it is restarted as the children try to connect?

[2020-11-10 13:01] #10152 closed

[2020-11-10 13:02] thiagoftsm commented on #10212
Hello @badkaktus ,

Another suggestion, I observed you are using the version `1.23.2`, and we are actually working with Netdata `1.26`, if it is possible, please, try to update your Netdata.

Best regards!

[2020-11-10 13:08] thiagoftsm commented on #10221
Hello @startryst ,

I understood that you want to use both `alarm-notify.sh` and another script, if this is correct, you can create another script that calls both methods like this:

[code]

And this script will be the value for the variable `execute`.

Best regards!

[2020-11-10 13:10] thiagoftsm commented on #10222
hello @startryst ,

Netdata runs as `netdata` user that should not have access to file inside `/root`, please, can you move the script to another directory to test?

Best regards!

[2020-11-10 14:33] ilyam8 commented on #4811
@hamedbrd since we have only connect/gather metrics functionallity i think it is ok to use the unofficial pkg. I am pretty sure it works well, it is [used by telegraf couchbase input plugin](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/couchbase/couchbase.go).

[2020-11-10 16:55] joelhans commented on #8069
Just realized that we fixed this a while back with #9513. Closing.

[2020-11-10 16:55] #8069 closed

[2020-11-10 17:12] #10196 closed

[2020-11-10 20:34] thiagoftsm commented on #6509
Hello everybody,

I made the PR that will bring support for `WolfSSL`, but I observed that when `libwebsockets` is compiled against `WolfSSL`, it does not recognize some functions that `WolfSSL` has, this means that the `cloud` is a function that is not available when it is used. :disappointed:

I will take a look later to verify if a patch to `libwebsockets` can fix this problem.

Best regards!

[2020-11-10 22:38] rjbathgate commented on #9121
@manos-saratsis any update on this? Apologies if I'm being inpatient.

[2020-11-11 01:59] xgdgsc opened #10228 "nvidia-smi overview"
##### Feature idea summary

Currently there' s only seperate cards metrics, less useful than the plain nvidia-smi output for me.

##### Expected behavior

Provide a concise overview like nvidia-smi output.

[2020-11-11 05:05] altimore commented on #10104
Hello,

It's working with the ctrl key, thanks.

Maybe you could add an overlay like when we press the "?" key in GMail with all the shorcuts available.
![004_best-gmail-keyboard-shortcuts-4686794-0852ef75c64547feb336f96dbb1be04e](https://user-images.githubusercontent.com/662362/98771026-f2f7f800-23fc-11eb-9f63-e737e2c493b1.jpg)

Regards,

Thomas.

[2020-11-11 05:05] #10104 closed

[2020-11-11 08:17] ilyam8 commented on #10228
Hi @xgdgsc

Are you referring to this output?

[code]

---

That is indeed more compact view, unfortunately we are limited in representation options atm 🤷‍♂️

What we can do is to add some metrics (ex.: fan, temp, power) as gauges like we have in `System Overview`

<img width="1175" alt="Screenshot 2020-11-11 at 11 16 09" src="https://user-images.githubusercontent.com/22274335/98786556-4ecb7c80-24

[2020-11-11 08:27] xgdgsc commented on #10228
Yes. I have 4 cards that needs overview. Something like the system overview would be great.

[2020-11-11 09:12] ilyam8 commented on #10228
What metrics would you like to have in the overview?

[2020-11-11 09:19] stdedos commented on #9585
Umm ... I know I am not the only ticket around here ... but please help me?

[2020-11-11 09:25] xgdgsc commented on #10228
gpu memory and temperature would suffice for me

[2020-11-11 09:32] badkaktus commented on #10212
Here 2 log-files
[error_slave04.log](https://github.com/netdata/netdata/files/5523107/error_slave04.log)
[error_master.log](https://github.com/netdata/netdata/files/5523108/error_master.log)

error_master.log - its parents error.log. _server-dts02_ - its master server, other - slaves.

error_slave04.log - log-file from server, cannot connect to parent

unfortunately, the servers are located inside

[2020-11-11 09:58] underhood commented on #6509
@thiagoftsm we are planning the ACLK-NG that will not need libwebsockets.

[2020-11-11 10:20] hitmoon opened #10229 "netdata start crash randomly"
version: e3b04fb39a06991d9a2deed0488044dd7d340e3f

My use case:
Starting netdata with two other node streaming  to localhost node, netdata crash randomly.

Here is what a got from gdb bt:
![netdata-gdb-bt](https://user-images.githubusercontent.com/3981296/98797723-ed73cf80-2447-11eb-9fb5-3506dcc80094.png)

The stack trace shows that crash happend at: rrddim_set_by_pointer function called by global

[2020-11-11 10:35] nurlennart commented on #10208
+1

[2020-11-11 10:38] F-He commented on #10208
Agreed, an option to switch back to the "normal" design would be nice.

[2020-11-11 10:39] mfundul commented on #10229
This cannot be a race condition since there is always only one thread running `global_statistics_charts()`. Moreover, It looks quite impossible for `rrddim_add()` to return `NULL`.

The other possible explanation is memory corruption, which fits with the "crash randomly" behaviour. Can you give some more information about your set-up? E.g. can you share your `etc/netdata/netdata.conf` and `etc/net

[2020-11-11 11:10] vlvkobal commented on #9585
Unfortunately, I don't have any ideas about what's going on. Is it possible to have access to your machine?

[2020-11-11 11:34] hitmoon commented on #10229
After a closer look, I think I know where the problem is.
Thank you very much !

[2020-11-11 11:37] #10229 closed

[2020-11-11 11:38] stdedos commented on #9585
Most definitely not 😕

[2020-11-11 11:45] vlvkobal commented on #9585
What do you mean by "clean install"? Do you think that Netdata is cluttered with some incorrect cached information? But you've cleaned the cache folder already without success.

[2020-11-11 11:55] startryst commented on #10222
@thiagoftsm Thanks, that's the point of my issue, and now I can execute the script fine.

but another issue is, some of my command and file manipulation of my script still facing the same issue, so how can I execute the script by user of root? rather than user of netdata? because it's clumsy for me to change all the necessary files into netdata access ready.

[2020-11-11 11:56] hamedbrd commented on #4811
@ilyam8 I see in `telegraf` they just fetch BasicStats from `couchbase`, are these metrics enough for what we need?
if so, then would be great to let me know which of these metrics you think we need to involve in the plugin and have a chart for each of them

this is what `telegraf` export from couchbase

[code]

[2020-11-11 11:57] stdedos commented on #9585
I think my /home is not such a special configuration ...
`/home` is in a separate partition, provisioned from lvm2, and my home directory is encrypted with ecryptfs.

I am not saying it's "typical", but not totally weird either.

I cannot think of anything else, even though I know I haven't "really" configured netdata (except --no-telemetry, and every instance looking on my "main" instance as a se

[2020-11-11 12:12] thiagoftsm commented on #6509
Thanks for the update @underhood ! I won't expend time trying to fix the wolfssl compilation against `libwebsockets` considering that we won't need it.

[2020-11-11 12:36] thiagoftsm commented on #10222
Hello @startryst ,

This is not a simple case,  Netdata is not installed as root, because this is not recommended. One possible solution for you, it would be to set permissions for your script like `ebpf.plugin`, but this is not recommended unless you have very good motives to do this. The `ebpf.plugin` has these permissions, because it needs to load ebpf programs inside the kernel.

@Ferroin and

[2020-11-11 13:18] startryst commented on #10222
Hi, @thiagoftsm

I tried your u+s approach, check it out below, still facing some issues when running:

the permission set to exactly the same as ebpf.plugin:
[code]

In the test.sh, there're two commands need to be executed:
[code]

but comes with below error with the alarm been raised:
[code]

[2020-11-11 14:39] ilyam8 commented on #4811
@hamedbrd to be honest i can't really answer this question right now, fortunately we have @Kobaruon helping us, see

---

I do think that this basic stats per bucket is ok, at least is ok to start with.

[2020-11-11 17:17] #10228 closed

[2020-11-12 00:04] free514 commented on #10209
any update?

[2020-11-12 00:07] alitoufighi commented on #2961
Since this is a top Google result I would also like to mention that loading `acpi_ipmi` kernel module fixed those error messages on a HPE DL380 Gen10 running Ubuntu 20.04.1:
[code]

[2020-11-12 02:54] ByteAlex commented on #10153
Sorry for my late response!
That topic drowned somehow, luckily I run over this as I cleaned up old browser tabs.

The PR is working fine on my end:
![grafik](https://user-images.githubusercontent.com/2230292/98889525-669c1280-249a-11eb-9f00-da152949aac2.png)
![grafik](https://user-images.githubusercontent.com/2230292/98889551-71ef3e00-249a-11eb-9d8a-2bf8e3714057.png)
![grafik](https://user-images

[2020-11-12 03:36] startryst commented on #10222
For above finding, it all comes down permission issue, sed and systemctl needs to be +s as well, and also the write permission to the folder of /etc/ is not allowed for netdata user.

So this looks not a sustainable approach, welcome to other ideas.

[2020-11-12 05:00] WeebHiroyuki commented on #2269
Hello. I can reproduce this issue but I can't seem to fix it. https://github.com/firehol/netdata/wiki/monitoring-systemd-services redirects me to the main wiki page. Can someone help please?

[2020-11-12 07:31] stdedos commented on #9419
Still happens again

![vivaldi_2020-09-23_09-59-36](https://user-images.githubusercontent.com/133706/98908936-cf4eb380-24c9-11eb-9419-59e939f8eb1f.png)

... but I don't want netdata to prepare anything

[2020-11-12 07:32] vlvkobal commented on #2269
Please look at https://learn.netdata.cloud/docs/agent/collectors/cgroups.plugin#monitoring-systemd-services

[2020-11-12 08:26] solution-al commented on #4069
This is how we try to install netdata in an unattended way:

[code]

It still asks us for the initial installation permission and while updating/installing with apt. We would like to have a way of not getting any prompts.

[2020-11-12 09:18] #9595 closed

[2020-11-12 09:25] vlvkobal commented on #9585
Please set
[code]
in `netdata.conf` and restart Netdata. Do you see the chart in `http://localhost::19999/api/v1/chart?chart=disk_space._home`?

[2020-11-12 09:35] vlvkobal commented on #9585
Oh! There is also
[code]
in the log you shared. Please set
[code]
and check for `diskspace` errors in `error.log`.

[2020-11-12 11:13] thiagoftsm commented on #10153
Thank you for your feedback @ByteAlex !

[2020-11-12 11:20] thiagoftsm commented on #10222
Hello @startryst ,

the message:

is saying that your filesystem was mounted with read-only option, so it is not possible to do any changes on file system.

On the other hand, the permission `4750` that you applied allow any user to execute the script as `root`, and `root` user does not have blockers to read, but it cannot write when the file system is read only.

- Are you mounting the file syste

[2020-11-12 12:05] ilyam8 commented on #10222
Well, it is getting complicated, what i would do is to write a service which is running as root and add to this service an HTTP API and would use this API to do what i need, then i have no permissions issue and don't need to mess with `netdata` user, etc.

Not sure tho, just thinking out loud.

let's wait for help from @Ferroin

[2020-11-12 14:46] manos-saratsis commented on #9419
@stdedos if you have disabled aclk for access to Netdata Cloud (with https://learn.netdata.cloud/docs/agent/aclk#disable-the-aclk) we should fix it Cc @jacekkolasa

[2020-11-12 14:51] manos-saratsis commented on #10208
@Roki100 thx for your feedback. Moving forward we will do more changes on the charts. Regarding the dimensions at the bottom of the chart we want to offer a setting so you can place them on the right hand side Cc @jacekkolasa

[2020-11-12 14:55] stdedos commented on #9419
I just did it manually, so I guess I haven't had it disabled.

I tried doing `--reinstall` (to make sure `--disable-cloud` is passed), but it does not let me (current >= new).
Can I somehow force it to reinstall (without uninstalling manually and/or otherwise loosing settings)?

[2020-11-12 15:09] stdedos commented on #9585
I did both of the above, no dice

[netdata.log](https://github.com/netdata/netdata/files/5531429/netdata.log)

I did set, however `errors flood protection period = 10`; as I am planning to have this instance running, and I don't want to worry about "log flooding"

[2020-11-12 17:46] jamesnr commented on #10128
Can I ask if this is being looked at or any ideas? I have two servers and one is updating correctly and there's a marked difference between V1.26 and the server that has this problem. Thank you.

[2020-11-12 19:42] stelfrag commented on #10128
@Ferroin can you please check ?

[2020-11-13 10:43] mfundul opened #10233 "Chart creation very slow over time"
##### Bug report summary

Start an agent that has tens of thousands of charts in the same host, and measure the time before it's up.

Creating a chart will trigger obsoletion cleanup code whose time complexity is directly proportional to the number of charts in that host. The worst-case scenario is a single node (parent or child) where ephemeral charts have been generated over time. You can end up

[2020-11-13 12:02] ilyam8 commented on #8473
Fixed in https://github.com/netdata/netdata/pull/10064

[2020-11-13 12:02] #8473 closed

[2020-11-13 13:55] ilyam8 commented on #10220
Tend to agree 👍

---

It is `10485760` in the config and `1048576` according logs.

@vlvkobal take a look.

[2020-11-13 15:17] hexchain opened #10234 "proc plugin thread sometimes consume 100% CPU in an endless loop"
##### Bug report summary

Sometimes `netdata` takes 100% CPU (1 core) in the `PLUGIN[proc]` thread. It happens randomly and I haven't find a stable way to reproduce. However, gdb says it is caught in an endless loop here:
https://github.com/netdata/netdata/blob/1a09f7fb810b0afd55c1659f3c135f9a122c960f/database/rrdhost.c#L1530-L1532

##### OS / Environment

[code]

##### Netdata version

 netdata v

[2020-11-13 15:21] lapin-b opened #10235 "smartd_log module from python plugin crashes with a ScannerError"
##### Bug report summary
When setting up the storage device monitoring with `smartd` according to [the relevant documentation](https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/smartd_log/) and executing the module in debug mode, a ScannerError shows up and the script halts:

[code]

##### OS / Environment
[code]

Netdata is running on the Proxmox hypervisor.

The `smartmontools` v

[2020-11-13 15:24] ilyam8 commented on #10235
Hi @lapin-b

`ScannerError` comes from yaml parser, `/etc/netdata/python.d/smartd_log.conf` has YAML syntax error.

You can check it using http://www.yamllint.com/ (copy paste your config in there)

[2020-11-13 15:59] thiagoftsm commented on #10234
Hi @hexchain ,

Please, can you share the `gdb` stack trace?

Best regards!

[2020-11-13 16:02] lapin-b commented on #10235
Hi @ilyam8,

I guess I've made the mistake of hitting the tab key in nano when the `edit-file` script opened it!

Thanks for pointing that out ^^'

[2020-11-13 16:02] #10235 closed

[2020-11-13 16:04] hexchain commented on #10234
I don't have a stack trace at hand, but I can run netdata for a few days
and wait for the bug to surface again. It could also proof that my fix is
valid.

[2020-11-13 17:15] hamedbrd commented on #4811
@ilyam8 if you think basic stats per bucket would be enough to start, then means these metrics
`Bucket 'travel-sample', map[string]interface {}{"dataUsed":5.565952e+07, "diskFetches":0, "diskUsed":6.3980604e+07, "itemCount":31591, "memUsed":5.4327416e+07, "opsPerSec":0, "quotaPercentUsed":51.81066131591797, "vbActiveNumNonResident":0}`

Shall we have a chart per each of these metrics? for example

[2020-11-13 17:21] ShagoY opened #10237 "Need help on a custom python.d plugin with local json import"
Hello,
First of all, I have little experience with Python but with the help of existing scripts I managed to do what I wanted.

Context :

I created a script that generates a json file in the following form:
[code]
So here is my python script :
[code]
The .conf file
[code]
My problems are :

1- With check() = False and testing it in debug mode, my script doesn't close properly. I have to ctrl+c ma

[2020-11-13 17:27] ilyam8 commented on #4811
@hamedbrd give me some time to think about grouping, will try to come up with something by Monday and we discuss it. And if you have time please think about it too 😉

[2020-11-13 17:43] ilyam8 commented on #10237
@ShagoY 👋

config is a set of jobs, job is an instance of module with specific parameters.

https://github.com/netdata/netdata/blob/4f117894d2ca499bad82dd622a1cfeced50bb87d/collectors/python.d.plugin/apache/apache.conf#L50-L56

Example config:

[code]

---

As all errors in python - usually you use `try/except`.

[code]

---

There are dozens of way how you get data - the general idea is you need

[2020-11-14 08:47] OdysLam commented on #7133
Hey @spytzo,

Just follow the instructions and we will sort you out. Thanks for contributing and sorry for this delay, weird times for all of us ✌️

[2020-11-14 15:33] kdy1968 commented on #10187
i was having the same issue, you might not want to do this in a business environment....
`pkg delete -f  json-c-0.14`
`pkg add http://pkg.freebsd.org/FreeBSD:11:amd64/latest/All/json-c-0.15_1.txz`
...seems to be a issue with PFsense packaging of json....perhaps..
[code]
not noticed any side effects..yet....

[2020-11-14 19:53] hexchain commented on #10234
Here is the stack trace:

[code]

[2020-11-14 19:59] ilyam8 commented on #10234
@hexchain i assume #10236 fixes the bug? Asking because of `should fix`

[2020-11-14 20:11] hexchain commented on #10234
I cannot say for sure because I do not have a stable reproducer.

In theory, it should, because the loop is exactly where it gets stuck.

[2020-11-15 01:38] thiagoftsm commented on #10234
After to see the backtracee and compare with your code, I agree that your PR should solve the problem. I did not merge the PR on Friday, because we would have a weekend in front, but the PR must be merged tomorrow or Monday.

Thank you very much @hexchain !

[2020-11-15 15:01] ShagoY commented on #10237
@ilyam8
Thanks a lot, I was able to solve my first two issues :-)

But as for the last one (dict), I'm afraid it's completely beyond me..
I tried to use the existing ones but they are of "UrlService" class, so they require some modifications that goes far beyond my python skills.
I just can't get my values from "_get_raw_data" :-(

I would have liked a simple example of a python script that grabs

[2020-11-15 15:22] ilyam8 commented on #10237
@ShagoY there is debug mode, see readme

So you can debug your module.

[code]

is not a valid json, you can check it https://jsonlint.com/, that is why your module doesn't work.

valid is

[code]

---

See your CHARTS, all of them has dimensions (`lines`), first parameter is dimension id, in your case they are:

- `temp`
- `rpm`
- `pwm`

`_get_data` returns `dict`: keys - dimensions ids, values -

[2020-11-15 15:44] ShagoY commented on #10237
I am literally in tears...

It was so simple... It seemed to me that I had tested it.
I was using the debug mode but considering my level, I certainly didn't understand my mistake :-|

Note: For the json, it was a bad copy/paste, sorry.

Thank you so much, You are my god.

[2020-11-15 15:44] #10237 closed

[2020-11-15 17:27] #10234 closed

[2020-11-15 18:52] #10037 closed

[2020-11-15 18:52] #9979 closed

[2020-11-15 18:52] #10023 closed

[2020-11-15 18:52] #10038 closed

[2020-11-15 18:57] Martin-Luther commented on #10070
Any news ?

[2020-11-16 10:09] ilyam8 commented on #4811
This [monitoring-couchbase-best-practices](https://github.com/netdata/netdata/issues/4811#issuecomment-706088139) document is very good. I see that ideally we need to go trhough the whole document to create a good collector, however i think it is ok to start with minimal implementation - collect buckets basic stats metrics, and improve it gradually.

Some points from the doc we need to take into a

[2020-11-16 10:45] stdedos opened #10238 "Color-code relevant System Overview gauges"
##### Feature idea summary

For the basic "System Overview" (i.e. the gauges)
![image](https://user-images.githubusercontent.com/1153921/80827388-b9fee100-8b98-11ea-8f60-0d7824667cd3.gif)

I would expect that they would be color coded i.e. CPU/RAM/SWAP would appear orange >80%, red at >=95%
It is really weird to me that I see sometimes 100% Used Swap in green (one of the times being when I am flus

[2020-11-16 12:26] Ferroin commented on #10073
Updating the tags on this one, it’s a UI/UX feature request for the dashboard at this point, not a question.

[2020-11-16 13:08] stelfrag commented on #10212
Hi @badkaktus, sorry for the delayed response

The `error_master.log` file ends at `12:00` and so there is no way to check what happened at

[code]

when the child tried to connect.

Could you also share the `stream.conf` for the parent and children?

[2020-11-16 13:49] Kobaruon commented on #4811
I think "chart per metric, buckets are dimensions" is a better option.

[2020-11-16 15:15] ilyam8 commented on #250
fixed in https://github.com/netdata/netdata/pull/10239

[2020-11-16 15:17] ilyam8 commented on #250
<img width="1424" alt="Screenshot 2020-11-16 at 18 17 29" src="https://user-images.githubusercontent.com/22274335/99271678-01e50d00-2838-11eb-8d20-01363be531bb.png">

[2020-11-16 15:49] ilyam8 commented on #10220
Yes, you are right. The fix is coming!

[2020-11-16 19:26] #10220 closed

[2020-11-16 22:55] laguill opened #10243 "netdata using termux"
Hi,
I'm using termux on an asus memo pad 7, i386 arch
I would like to collect and dispaly data from a weather station running on a esp32. I'm using mqtt and node red.
Is it possible to install netdata with termux.
I tried https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart but that was unsucessfull
If someone can help me on this
I'm pretty new in termux

[2020-11-17 00:55] thepra opened #10244 "Went to restart the netdata through systemctl, found that the service is masked and can't restart"
##### Bug report summary
Can't restart netdata through systemctl, is says: Failed to restart netdata.service: Unit netdata.service is masked.
How am I supposed to make it work now?

##### OS / Environment
[code]

##### Netdata version
netdata v1.26.0

##### Component Name
netdata.service

##### Steps To Reproduce
Type with root user: `systemctl restart netdata.service`

##### Expected behavior
Bei

[2020-11-17 00:58] thepra commented on #10244
Figured out that I had to `systemctl unmask netdata.service` first... still strange that it was masked in the first place.

[2020-11-17 00:58] #10244 closed

[2020-11-17 05:55] dlevene1 opened #10245 "Hostname is not written into syslog when using streaming."
##### Question summary

When streaming from multiple hosts and alerting on one via syslog, the hostname is not being written into the file. SMTP notifications are correctly referencing the hostname, but syslo

![image](https://user-images.githubusercontent.com/10554724/99351726-251fc300-28f1-11eb-86ef-3ed0b0db1a00.png)

Config is pretty basic, but worked on a standalone host.

![image](https://use

[2020-11-17 10:55] kozicpetar opened #10246 "Netdata won't install on Centos 7"
##### Bug report summary
I tried to install Netdata on Centos WHM server with kickstart. I already have netdata on several WHM servers and as I know can work.
I tried to run command:
`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --stable-channel`
and
`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait --stable-channel`

Script run, install dependency and back with error:

[code

[2020-11-17 13:09] Slind14 opened #10247 "mdstat_mismatch_cnt - should not be default alert"
The mdstat_mismatch_cnt is automatically configured as an alert. Unfortunately, this triggers on pretty much every system with fast/heavy writes, and according to https://serverfault.com/a/885574 , this is harmless.

Even when resyncing a raid, the miss-match is back within just a few minutes to hours when there is a lot of fast writes going on.

I would like to suggest removing this from the defa

[2020-11-17 13:31] ilyam8 opened #10248 "Collectors Deprecation Strategy"
##### Feature idea summary

We have collectors written in:
 - `c`
 - `bash`
 - `python`
 - `nodejs`
 - `golang`

`c` is used mainly for internal collectors.

Collectors written in `bash`, `python`, `nodejs` and `golang` are external, all of them follow the same approach: a plugin + data collection modules.

It totally makes sense to choose one language for core external collectors. `golang` has be

[2020-11-17 13:35] ilyam8 commented on #10247
Hi @Slind14

From that discussion:

So there are cases where we don't want to miss `mismatch_cnt` event.

Current alarm:

https://github.com/netdata/netdata/blob/8c57672cbfbc9c243381e2dff1b9055c7f332079/health/health.d/mdstat.conf#L20-L27

Perhaps we need to change its severity level to `warn` and tune the condition ( `> 0` => `> someNumber`). What do you think?

[2020-11-17 14:04] Ferroin opened #10249 "Make netdata-updater self-update prior to updating Netdata."
##### Feature idea summary

Put simply, our updater script should always try to run the latest version of itself so that any bugs in older versions are avoided. This translates to fetching the most recent version of itself and switching to that code prior to actually updating Netdata.

##### Expected behavior

The updater script properly recovers from a wider variety of updater bugs than it curren

[2020-11-17 15:30] Slind14 commented on #10247
I see. If there is no better metric for that, would `warn` at `> 1024` or similar be a good solution?

Unfortunately, I don't have any experience with this metric. We are seeing it at up to 32k without any harmful cause from what I can tell.

80% is =< 1024

[2020-11-17 15:54] ilyam8 commented on #10247
Yes, `crit` => `warn`, 0 => 1024 looks good to me. And i think we can add [`delay: up`](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-delay) parameter.

[2020-11-17 17:42] ilyam8 commented on #10247
I am not quite sure, but it looks that we need to inform a user if `mismatch_cnt`:
 - is relatively big.
 - does not decrease within some time period.

_relatively big_ and _ome time period_ are 🤷‍♂️ for me, we could choose something and tune it later if there are any issues.

For instance:

[code]

I have nothing to suggest any better. @Ferroin any ideas?

[2020-11-17 17:47] #250 closed

[2020-11-17 17:47] #8952 closed

[2020-11-17 17:47] #9286 closed

[2020-11-17 17:58] ilyam8 commented on #10245
Hi @dlevene1 Thx for reporting 👋

Looks like a bug according provided logs. Not sure who to tag 🤔 @thiagoftsm perhaps you? 😄

[2020-11-17 18:39] Nirjonadda commented on #9002
Now end of November. So when happen this ability?

[2020-11-17 19:17] jacekkolasa commented on #10073
It's not that difficult to do, but we would need to build some UI to control this, because if we change the behaviour for everyone, there will be always someone who won't like it...

Right now you can build custom dashboards using app.netdata.cloud. There are more features coming there. I'm not sure how big priority this is to build new features like this in Agent Dashboard.
CC @manos-saratsis @di

[2020-11-17 19:20] jacekkolasa commented on #10208
@manos-saratsis maybe we could put this setting to Dashboard Options? I was thinking that we could remove "Enable data padding when panning and zooming?" setting (i think it has very insignificant impact) and put legend-position in that place?