[2020-05-05 10:59] prologic commented on #8868
The short answer is writing external collectors in Go is more portable. Having to distribute software in interpreted languages (_bytecode or not_) is difficult to say the least.

Short answer is that QT/GTK/wWidgets/etc is just not a portable platform to write user interfaces in. The industry at large as moved to the Web and Web technologies for good reason. Try to imagine how you'd get your QT ap

[2020-05-05 11:06] stelfrag commented on #8618
Closing as this does not appear to be a problem

[2020-05-05 11:06] #8618 closed

[2020-05-05 11:18] amoss commented on #8889
Switching off the cache seems like an over-reaction, should we not put
[code]
into the standard headers instead? (@cosmix)

[2020-05-05 11:43] cosmix commented on #8889
I'm good with that, as long as the `Expires` header is valid for the cases that @jacekkolasa has in mind, e.g. `index.html` etc.

[2020-05-05 11:57] Rubix982 commented on #8868
I have never thought about this before. Something I should probably research on more.

I would have to write some checks if all the packages are available at compile as well as run time. If not, I would have to ask for a lot of permissions from the user to setup packages on their machine - and it may not be guaranteed that the same setup works across all platforms... got it.

I think I have my que

[2020-05-05 11:57] #8868 closed

[2020-05-05 12:21] cakrit commented on #8847
I prepared https://github.com/netdata/helmchart/pull/96, but we'll need to get some more info on why it was done in the first place. I didn't see any missing metrics in my test @Peggy4444, so I suggest you keep that setting for now. I assume you also saw in the k8s docs that `ClusterFirstWithHostNet` depends on the value `HostNetwork` and set that one to `false` or removed it as well in the daemon

[2020-05-05 13:00] prologic commented on #6740
This will be clsoed by #8864 -- I'm taking over this issue as I'm already actively working on this.

[2020-05-05 13:26] prologic commented on #8847
This seems very similar to https://github.com/kubernetes/kubernetes/issues/87852 (_which I'm trying to understand myself, I came here firstly from the PR so apologies I'm a bit out-of-context here, so trying to catch up and see if there's something missed with DNS itself_).

[2020-05-05 14:17] ktsaou opened #8905 "INFO: run netdata on ubuntu 14.04 LTS"
Ubuntu 14.04 LTS is EOL, but still if you have such a server, netdata can be run with this:

add a repo to get `libuv1-dev` (https://stackoverflow.com/a/49628607/4525767)

[code]

export CFLAGS to disable the requirement of openssl host verification. This will lesser your security, but still the version of openssl installed on ubuntu 14.04 LTS cannot do better.

[code]

With the above netdata is i

[2020-05-05 14:57] berendt opened #8906 "Building packages for Ubuntu 20.04 (Focal)"
Currently only packages up to Ubuntu 19.10 (Eoan) are available on Packagecloud. Please add the build for Ubuntu 20.04 (Focal).

[2020-05-05 15:21] underhood opened #8907 "cgroups error with Fedora 32 (cgroups v2)"
##### Bug report summary
When running default install on Fedora 32 VM the cgroups errors are in the logs and `systemd services` metric group is gone (compared to Fed 31):
[code]

##### OS / Environment
Fedora 32 AMD64

##### Netdata version
`go-live` branch

##### Component Name
agent/PLUGIN[cgroups]

##### Steps To Reproduce
Install default netdata as root on Fedora 32.

##### Expected behavior
I

[2020-05-05 16:18] olg33 opened #8908 "Limit of data streams displayed in a traffic graph."
Hi,

I have created a dashboard where I'm displaying network traffic coming in and out of interface eth0 in an Ubuntu VM. The trafic has DSCP marks, so for every mark a different data stream is created, I modified the fireqos.config file where I created 12 traffic classes with 12 defined DSCP marks:

`class AF-12'
               ' match dscp AF-12 prio 10'
        class AF-11
                match

[2020-05-05 16:42] underhood opened #8909 "Grooming Master-Slave Cloud support MVP1"
At the end it should be clear:
* Scope of Master-Slave cloud MVP1 - What has to be done
* How to implement it
* Estimated issues on how to get there
* Maybe a mid-sprint replanning after groom so implementation can start right away considering the deadline (which might or might not be tight depending on result of grooming).

[2020-05-05 16:43] thiagoftsm commented on #7873
After the last meeting with all options available, the Core team unanimous agree to move forward with the `shared library`.

[2020-05-05 16:43] #7873 closed

[2020-05-05 16:59] thiagoftsm commented on #8881
Considering it does not have certificate, please, change your `registry to announce =` to  `http://netdata-central.x.y.z`

This is another issue that we will need to change, the name must be updated after each connection. ( @amoss this is something that we can fix with the next upgrades we will bring to fix the gaps, it is 2 lines code maximum ).

[2020-05-05 18:21] thiagoftsm commented on #8877
Hi @Pingger ,

I am accessing your dashboard now and I could confirm some of the following problems:

#### Dashboard error

Case you access `https://netdata.iskariot.info/api/v1/alarms?all` and see the alarm, you will see that it is defined as `NULL`, so Netdata does not use to raise alarms, but there is a bug on our dashboard ( @jacekkolasa, please, take a look on it ).

The same thing happens wi

[2020-05-05 20:36] thiagoftsm commented on #7871
Hi @araemo ,

You can always do a request to Netdata using the web API to verify the used values, please, do the following requests to confirm that the data is correct:

1 - Get values for specific chart: `http://localhost:19999/api/v1/alarm_variables?chart=zfs.arc_size`
2 - Get data for the chart: `http://localhost:19999/api/v1/alarm_variables?data=zfs.arc_size&after=-60`

Thank you for the sugge

[2020-05-05 21:06] eviemsrs commented on #7133
**APRIL 2020 CONTRIBUTORS**

Thank you for your contribution!
Please email us your username and physical address to receive your gift!!! Please include your preferred T-shirt size.

email address: rewards@netdata.cloud

@IceCodeNew
@thenktor
@elelayan
@luckman212
@dpsy4
@FedericoCeratto
@cryptoluks
@lab-w
@adamwolf
@manniL
@carehart
@ghasrfakhri

[2020-05-05 23:34] thiagoftsm commented on #8653
Hi @olivluca ,

I was testing now in my environment, and I observed that I can receive the clean alarms:

![err56](https://user-images.githubusercontent.com/49162938/81125775-abae1d80-8f28-11ea-8e40-1a009ae3fc6c.png)

Please, could you give me the alarm that is not sending `clear` notification for you?

best regards!

[2020-05-06 00:51] thiagoftsm opened #8912 "Copy functions from apps.plugin to ebpf.plugin"
##### Feature idea summary
We have defined at #7873 that we will use a common shared library between both collectors, but my initial suggestion is we copy the necessary functions to `ebpf.plugin` and after this to do the shared library. This copy must be done to the main `thread` to be available for all eBPF threads that will be created on the collector. The following functions need to be copied:

[2020-05-06 03:24] thiagoftsm opened #8914 "Change threads to create charts inside `Apps` submenu"
##### Feature idea summary
The eBPF programs are reading only hash table with global information from the thread, but they are also storing a PID statistics in another hash table. Netdata needs to read these information from kernel ring to make the charts.  To move this forward we need to do the following changes on the eBPF.plugin threads:

- Map the functions `bpf_map_get_next_key`, `bpf_map_del

[2020-05-06 04:13] thiagoftsm opened #8915 "Update apps.plugin documentation"
##### Feature idea summary
With the integration of  `apps.plugin` and `ebpf.plugin`, this needs to be documented, we also need to document the new charts that will come from `epbf plugin`.

Considering that these charts will go inside the Apps submenu, this plugin needs to have its documentation updated.
##### Expected behavior
Give information for users about the new charts.

[2020-05-06 05:27] yasharne commented on #8251
@mfundul I still face this problem on version `1.21.1`, it is not as severe as before, but It happens sometimes, in the Prometheus, it usually takes less than 12 seconds to read the metrics but some times it exceeds the 75s timeout. In the meantime, system CPU usage goes a little high:
![image](https://user-images.githubusercontent.com/7656049/81140633-57825800-8f7f-11ea-8ea5-7d243e33f55a.png)
and

[2020-05-06 05:49] stelfrag commented on #6448
Will be handled in #8900

[2020-05-06 05:49] #6448 closed

[2020-05-06 06:10] esamson opened #8917 "Service fails to start: `Cannot cd to directory '/usr/lib64/netdata/conf.d'`"
##### Bug report summary

I have netdata installed from RPMs from Package Cloud repo. All is working well when using **1.20.0**. This error happens on a new machine I set up with **1.21.1** installed.

The service fails to start. `journalctl -u netdata.service` says:

[code]

Comparing file listings of the installed packages do show that `/usr/lib64/netdata/conf.d` is indeed missing in the more re

[2020-05-06 06:57] olivluca commented on #8653
I receive them too but there's a discrepancy between the dashboard (where the alarm shows as cleared immediately) and the clear notification (which is sent only after the `delay down` time has passed)

[2020-05-06 07:55] #8899 closed

[2020-05-06 08:02] olivluca commented on #8653
E.g: this alarm (fping.ftpserver_quality) shows as cleared at 9:01 on the dashboard, but the notification was sent at 9:31

![image](https://user-images.githubusercontent.com/8250980/81150756-995fce00-8f80-11ea-80fa-390b837425a7.png)

![image](https://user-images.githubusercontent.com/8250980/81150778-9fee4580-8f80-11ea-81ac-e7cb31c222fb.png)

[2020-05-06 08:18] mfundul opened #8918 "Add GUIDs to streaming protocol"
Add support for passing GUIDs through streaming. This way, an object of the slave should have the same GUID as an object of the master.

Both the master and the slave must be using `memory mode = dbengine`.This will require a new streaming protocol version.

This will help with replication of metrics. Imagine having multiple netdata master servers for high availability. The slaves are streaming th

[2020-05-06 08:47] yasharne commented on #8881
@thiagoftsm Seting `registry to announce` to `http://netdata-central.x.y.z` didn't solve the problem and now I cannot even see the registry server inside the registry dashboard:
![image](https://user-images.githubusercontent.com/7656049/81156885-a6d68180-8f9b-11ea-92f0-7c956c07c320.png)
P.S: `http://netdata-central.x.y.z` is only accessible via `https` and `http` requests redirects to `https`

[2020-05-06 08:53] amoss opened #8919 "Add db support to enumerate GUIDs on a host"
[Not yet groomed - will be refined]

## In the case that the slave disconnected / reconnected:
* Inside `rrdpush_receive` we retrieve the `RRDHOST *host`.
* Via `host->rrdset_root ... -> next` we can enumerate the charts.
* Via `chart->dimensions` we can enumerate the `RRDDIM`.

Via in the in-memory structures we have access to the chart / dimension identities, and the `last_collected_time`. We ca

[2020-05-06 08:57] amoss opened #8920 "Add db support to store a batch of data"
* Parse the `RBEGIN`, `RSET`, `REND`  responses
* Store into the data using the `store_metric_next` callback.
* If the final gap drops below a threshold (1 second? 2 seconds?) then the gap-filling ends and we drop into the normal sender/receiver thread loops.
* Test
* Evaluate and tune
    - If the memory pressure caused by the extra filling / flushing is too high then we will need to throttle the

[2020-05-06 09:00] amoss opened #8921 "Update streaming protocol"
* Add a new version of the streaming protocol and version negotiation.
* Change the polling code in the sender / receiver to look for messages in the other direction.
* Add a simple state machine in the protocol start phase where the replication will occur

Note: this will happen on a feature-branch so that we don't leak versions with the new protocol version into the wild otherwise they will brea

[2020-05-06 09:04] amoss opened #8922 "Sender should push gap data on reconnect"
* New message in the backward direction REPLICATE chart start end now
* Sender will respond with `RBEGIN dim1 dim2 dim3...`
* Followed by `RSET val1 val2 val3...` for each sample in the range
* Ends with `REND now`
* Sender side will pull data from the db to fill the responses.
* On incoming streams use the last slew estimate and the new timestamp to estimate the gap

[2020-05-06 10:01] ilyam8 commented on #8803
as it turned out it was super optimistic, however alpha version is in https://github.com/netdata/agent-service-discovery/pull/1.

There are some missing things we need to add to get it releasable.

[2020-05-06 10:01] #8803 closed

[2020-05-06 10:55] mfundul opened #8923 "Investigate handling of non collected old data"
After implementing persistent metadata a new situation arises in the agent.
- Data that is not currently being collected (side-effects):
      - How should the alarms be handled when you're not collecting
            - e.g. They should not go off because you're not collecting
            - Do not run alarms on data have been collected longer than 1h ago

- Data beyond the obsolescence period

[2020-05-06 11:16] mfundul opened #8924 "Add support for collectors updating their metadata"
Add support for collectors updating their metadata.

When a collector begins it will update those structures (rrdset/rrddim) with more up-to-date information.

##### Cases

- `CHART name title family context charttype priority update_every options plugin module`
What cannot be updated for CHART is:
    - `type.id units`

- `DIMENSION name algorithm multiplier divisor options`
What cannot be update

[2020-05-06 11:55] ilyam8 opened #8925 "service discovery: first version release blockers"
##### Feature idea summary

Initial version was added in https://github.com/netdata/agent-service-discovery/pull/1

it
 - collects data from k8s
 - converts it to the netdata plugins configuration
 - writes these configuration to appropriate files

Taking into accout it should work in k8s cluster there are some blockers we need to fix.

___

k8s discovery module:
 - [x] gather env variables. From

[2020-05-06 11:59] cakrit commented on #6765
We ask @andrewm4894 to provide an endpoint in Google Cloud so we can send the data directly to our own BigQuery DB. All we'll need to change in the script that sends the anonymous statistics will be the URL of the endpoint and the name of the parameters we send, to make their content more explicit. Any objections?

[2020-05-06 12:58] mfundul commented on #8251
This is potentially related to https://github.com/netdata/netdata/issues/8368 and https://github.com/netdata/netdata/issues/8384.

[2020-05-06 14:04] Ferroin opened #8926 "Log lines sent to stdout/stderr instead of log files at startup."
##### Bug report summary

On startup, Netdata prints a log message about the reaper code to stdout/stderr instead f logging it in the configured log files.

##### OS / Environment

All systems, though it's not overtly visible unless you manually restart the agent through the service manager (or by just manually starting it), and it may be masked in some cases if the method of starting the agent re

[2020-05-06 14:52] mfundul commented on #8926
This happens because the print is executed before log file configuration has taken place.

[2020-05-06 14:53] amoss commented on #8615
The generic collector has been de-prioritized - I will reopen when we decide to do it.

[2020-05-06 14:53] #8615 closed

[2020-05-06 14:54] amoss commented on #8614
The generic Prometheus collector has been de-prioritized - I will reopen when we decide to do it.

[2020-05-06 14:54] #8614 closed

[2020-05-06 14:54] amoss commented on #8617
The generic Prometheus collector has been de-prioritized - I will reopen when we decide to do it.

[2020-05-06 14:54] #8617 closed

[2020-05-06 14:58] thiagoftsm commented on #8341
@niltonvasques and @ddddoooo1243  I am considering that after we merge the support for the latest TLS your problem was fixed, be free to reopen case it is necessary.

[2020-05-06 14:58] #8341 closed

[2020-05-06 17:40] BR0KK opened #8928 "Why can't i delete this server it isn't even mine?"
I Just added a few ubuntu installs to my netdata.

In my overview i now see every PC but there is one i didn't add and its not even mine.

london3.my-netdata.io

Why is this server even inside my nodes page?
![netdata](https://user-images.githubusercontent.com/2887095/81209942-701b5e00-8fd1-11ea-9145-b758dda768b2.JPG)

?

[2020-05-06 20:11] yasharne commented on #8251
@mfundul The thing is, we haven't added any nodes to this master in the past three weeks and it was monitoring only 200 nodes (when I created this issue it was monitoring 250 nodes) but not we are encountering the same problem:
![image](https://user-images.githubusercontent.com/7656049/81220168-22651c80-8ff6-11ea-9c8c-e1ecb7cffd0d.png)
The weird thing is I moved 35 nodes from this master to the ot

[2020-05-06 20:21] yasharne opened #8930 "Rebooted slave cannot send metrics to the master anymore"
##### Bug report summary

One of our slaves restarted due to some problem and the netdata master gave up the last collected alerts so we realized there was something wrong with the slave (which was great) but the problem is after the reboot, the slave couldn't send metrics to the master, here is the error logs on the slave:
[code]
and here is the error logs on the master about this host:
[code]

#

[2020-05-06 21:13] thiagoftsm commented on #8930
Hi @yasharne ,

During the slave reboot, could you see in the logs if the slave was closed graceful?  I am thinking that Netdata could not close correctly the stream and the master is not allowing it to reconnect.

Another doubt, how long the slave wait for to reconnect  with Netdata? It is possible we need to adjust this.

Best regards!

[2020-05-06 22:03] yasharne commented on #8930
Hi @thiagoftsm
the error logs were not enabled before the reboot so I cannot see the logs but according to our NOC report, it wasn't graceful (the os was crashed)
The reconnect delay is 5 seconds

[2020-05-06 22:56] thiagoftsm commented on #8930
This explains the problem!

@mfundul, @amoss, @vlvkobal we will need to bring changes in our code to accept new connections when events like this happens.

[2020-05-07 05:57] yasharne commented on #8251
After losing netdata web again for about an hour, I stopped the master netdata and deleted all of the contents of `/opt/netdata/var/lib/netdata/` and `/opt/netdata/var/cache/netdata/` and started the service again and everything seems fine for now

[2020-05-07 06:02] yasharne commented on #8041
@thiagoftsm After deleting contents of `/opt/netdata/var/lib/netdata/` and `/opt/netdata/var/cache/netdata/` on the master node, the fake alarms disappeared too.

[2020-05-07 07:07] heya0 opened #8932 "Add UUID to the slave URL"
##### Feature idea summary
In the replication mode, when two slaves have the same host name, their URLs are the same(http://xx.xx.xx.xx:19999/host/hostname/). After testing, both URLs point to the slave that added later, so that we cannot access another slave. If the UUID or IP of each slave is added to the URL, they can be perfectly distinguished.
##### Expected behavior
When slave nodes have the

[2020-05-07 08:24] Cat7373 opened #8933 "Multilingual support"
##### Feature idea summary
Provide a multi-language support framework to allow contributors familiar with other languages to submit translations in other languages to make it more friendly to non-native English speakers.

##### Expected behavior
\-

[2020-05-07 09:29] ilyam8 commented on #8933
Imo this is nice to have but doesnt worth - it is hard to maintain, if we had it it would be outdated/partially translated all the time. Keep in mind that our documentation is constantly changing. And we cant guarantee quality of the translation.

@joelhans

[2020-05-07 09:30] ilyam8 commented on #8933
btw https://github.com/netdata/localization

[2020-05-07 09:32] ilyam8 commented on #8933
As a non-native English i prefer docs in E (original!) over broken Ru (there are always bugs in translation) any day.

[2020-05-07 09:36] okias opened #8934 "send notify over Matrix protocol"
##### Feature idea summary
Matrix is an open protocol for real-time communication. It is designed to allow users with accounts at one communications service provider to communicate with users of a different service provider via online chat, Voice over IP, and Videotelephony.

##### Expected behavior
Would be nice to be able receive alerts on Matrix channels.

[2020-05-07 09:39] ilyam8 commented on #8934
@okias 👋

take a look

https://github.com/netdata/netdata/pull/5741

Probably you can take over it and finish the PR

[2020-05-07 10:36] vlvkobal commented on #8628
Do you have any relevant errors in `error.log`?

[2020-05-07 10:38] jacekkolasa commented on #8928
@BR0KK That node exists here only because you accessed it, and you were automatically logged in to the cloud. It is kind of a "visible nodes" list. You can remove it by scrolling down and clicking trash icon on the right of url in "Node URLs" - and then clicking "Forget"

[2020-05-07 10:38] jacekkolasa commented on #8928
I'll close this now but please ask here if you have other questions

[2020-05-07 10:38] #8928 closed

[2020-05-07 10:56] farzinnasiri opened #8935 "How to see openvpn server status inside docker container with netdata"
I have the following container running on my ubuntu server:
https://github.com/kylemanna/docker-openvpn

I use this for my open vpn connections.
I installed netdata on my server and everything works but I want to monitor my openvpn connections. How can achieve this>
##### OS / Environment
Ubuntu server 16.04

##### Expected results
openvpn monitoring

[2020-05-07 10:57] csch42 commented on #8930
I have been observing similar behavior. We are using netdata on routers and some of them (mobile ones, using LTE) are observing "unexpected" link-downs. After re-connect the slave on the router cannot re-establish a stream to the master for ~ 2 hours. Wiresharking the connection reveals, that the slave _can_ establish a TCP connection, but immediately after sending his initial "greeting", the serv

[2020-05-07 11:08] ilyam8 commented on #8935
There is openvpn collector which uses management interface to get clients number/traffic stats

It is disable by default because of mi limitations

[2020-05-07 11:13] ilyam8 commented on #8930
@csch42 m/s version? latest?

[2020-05-07 11:20] cakrit commented on #8930
I see the slave is v1.19, but that doesn't matter. The master should have realized that it's not receiving metrics from the slave with the particular GUID any more and immediately accept the new connection.

[2020-05-07 11:41] cosmix commented on #6765
This is something we can do very easily with a Google Cloud Function. It's a good example why this is going to work well, until in the short term, while we use BigQuery for this, as:

1. It will autoscale to support our needs
2. It provides the APIs to write to BigQuery (via PubSub or other means)
3. It's easy to maintain without having to use third-party systems/services/etc.

At scale, this migh

[2020-05-07 11:50] csch42 commented on #8930
Master is v1.19.0-258-nightly, slaves are of various versions, for example also netdata v1.19.0-258-nightly

[2020-05-07 11:52] ilyam8 commented on #8930
i think it could help, if you have it please share

[2020-05-07 11:55] Romanow88 commented on #8628
Nothing in particular. Filled with stuff like:

[code]

[2020-05-07 12:05] csch42 commented on #8930
I'll create one later today (force a network disruption).

[2020-05-07 12:14] mfundul commented on #8930
The master cannot accept metrics from the slave until it makes sure the existing thread serving the previous connection is invalid. This is the logic that can fix this issue.

[2020-05-07 12:43] #8788 closed

[2020-05-07 13:35] vbakayev commented on #8132
Hey @prologic ,

I'm running few EMR clusters, which operate based on Amazon Linux 2018.03, and I'm running into this on a regular basis :) Till now my repeatable solution was to do repository checkout, and then return back to commit before libuv2 dependency got introduced: 198c7fa

Few ideas:

1) Amazon Linux packages are listed on https://aws.amazon.com/amazon-linux-ami/2018-03-packages/, no ind

[2020-05-07 14:41] thiagoftsm commented on #8932
Hi @heya0 ,

I agree with your suggestion, this would solve this problem.
@jacekkolasa and @amoss we need to change the server response, but probably it is necessary to change something on front end.

Thank you for your suggestion!

Best regards!

[2020-05-07 15:18] joelhans commented on #8933
@Cat7373, are you referring to the product itself, as in the content in the dashboard, or the documentation? Or both?

Regarding the documentation, we've moved away from that localization project @ilyam8 linked above for the exact reason he mentioned—it's very difficult to move quickly on translations and ensure docs fixes are distributed quickly across translations. I do want to support translati

[2020-05-07 15:30] ilyam8 commented on #8933
i think it is wontfix atm, no need to keep it open

[2020-05-07 15:30] #8933 closed

[2020-05-07 16:42] thiagoftsm commented on #8041
Thank you for the additional information @yasharne .
Probably there was something wrong with the data stored (@mfundul did you already see problems like this with the static-binaries?)

[2020-05-07 16:55] #8663 closed

[2020-05-07 16:55] #8800 closed

[2020-05-07 17:03] mfundul commented on #8041
Haven't seen this before.

[2020-05-07 17:50] prologic commented on #8132
Just a thought; but are you able to use our static binary instead? `kickstart-static64.sh`?

[2020-05-07 18:07] mfundul commented on #8919
This is overly complicated and does not seem to cover all cases.

Imagine a collector in the slave that initialized after the streaming sync is done. Then no gap is filled ever.

I propose syncing every metric individually as it begins being streamed by the slave. This covers both slave disconnection and master disconnection. Moreover, it also covers the case of collectors coming online later.

[2020-05-07 20:11] thiagoftsm commented on #8919
Only to confirm, this change will happens after handshake that determines among other things the protocol version. Is this conclusion correct?

[2020-05-08 02:43] wade-p commented on #7356
One way to install on the host is to [enable the pkg manager](https://www.justinsilver.com/random/fix-pkg-on-freenas-11-2/) then pkg install netdata

I needed to tweak the config in /usr/local/etc/netdata/netdata.conf to bind to something other than localhost (127.0.0.1) since I wanted to scrape netdata with prometheus.

[2020-05-08 09:44] amoss commented on #8919
This is not less complex, it just moves problems to another place.

1. If we decide to sync when the collector comes online then we have an incoming stream of live data - how should we handle this in parallel to filling the gap?
2. The initialization phase of the stream connection is bi-directional, then it drops to a uni-directional stream. If we sync each metric individually then we need to rewr

[2020-05-08 10:27] mfundul commented on #8919
It's true, it's also complex.

1. I was thinking:
   - If master/slave is not synced live data are ignored.
   - DB latest timestamps are compared and the diff is streamed at the DB level and not the collector level.
   - When sync is finished live data stop being ignored.
2. Yes, a new layer would be required.

[2020-05-08 10:39] cakrit commented on #6765
@andrewm4894 we need a public endpoint that accepts either HTTP POST or JSON PUT requests (whatever is easier) with the fields listed below. The result will be an entry in a table called `agent-events` or something similar, with the timestamp of the request and a column for each of the fields.

It would be great if you could also do a PR to modify the `curl` and `wget` commands in https://github.c

[2020-05-08 10:52] amoss commented on #8919
I don't have a strong understanding yet of which option would be more complex so I'll prepare a description of approaches for the groom on Monday and we can try and estimate complexity then.

[2020-05-08 11:03] andrewm4894 commented on #6765
i wonder if we should push messages to pubsub instead of a cloud function, and then use a cloud function (or dataflow) to stream from pubsub into BQ.

I'll look into the various trade offs in the below two options:

(1) send messages straight to a cloud function.
(2) send message to pubsub.

I think (2) might be better as easier to set up dataflow (https://cloud.google.com/dataflow) streaming job

[2020-05-08 11:18] amoss commented on #8846
This was solved, we passed the internal testing flag to @ktsaou and it allows an insecure connection to be opened to the cloud. @joelhans Do you know about this flag as we should document how to use it to get old distros to support the cloud.

[2020-05-08 11:18] amoss commented on #8846
While I remember, there is another incompatibility that we can fix by putting `-lrt` into the build options for libwebsockets, we should document both in the troubleshooting section.

[2020-05-08 12:17] Compizfox opened #8938 "Enable CPU frequency chart"
I want to have the CPU clock frequency chart enabled in Netdata. If I'm not mistaken, this is handled by `proc.plugin`, which is enabled by default. However, my Netdata instance does not have the CPU frequency chart.

In [the docs](https://learn.netdata.cloud/docs/agent/collectors/proc.plugin/#monitoring-cpus) I found this statement:

The machine in question has a Threadripper 3970X (32 cores, 64

[2020-05-08 12:37] ilyam8 commented on #8938
i see that 50 limitation it is hardcoded

https://github.com/netdata/netdata/blob/77749bb923dc2ff33f39f8e5f40f98f427435ef0/collectors/proc.plugin/proc_stat.c#L488-L504

[2020-05-08 12:39] cakrit commented on #6765
The tech. solution is for @andrewm4894 and @cosmix, I won't get involved.

[2020-05-08 12:39] mfundul commented on #8938
That's not a problem @ilyam8 .

The "cores" word is wrong in this document. In reality it's what linux calls "processors" or "CPUs". The computer architecture term would be "hardware threads".

If you want to enable all of the options that are automatically disabled due to high processor count in `proc_stat` module you need to enable in `netdata.conf` section `[plugin:proc:/proc/stat]` the followi

[2020-05-08 12:41] Compizfox commented on #8938
Thanks for the quick response!

Ah, right, like I suspected ;)

So it is possible to override this behaviour in the config. Thanks!

[2020-05-08 12:46] joelhans commented on #8846
@amoss I think I saw the flag cruise by on Slack at some point, but I didn't have the wherewithal to record it at the time.

To paraphrase, we can write in the troubleshooting section that if claiming fails, and you grep your error log for `ACLK` and see a line that contains `your tls lib is too old to have X509_VERIFY_PARAM_set1_host`, you can use this flag to connect to Cloud. It will be insecur

[2020-05-08 12:53] #8938 closed

[2020-05-08 12:54] Compizfox commented on #8938
Okay, quick second question: the clock frequency figures I see in the Netdata chart differ from those I obtain from /proc/cpuinfo under load.

In Netdata, the frequency doesn't exceed 3.7 Ghz (the CPU's base clock), but using /proc/cpuinfo I see it boosting to about 4.1 GHz.

[2020-05-08 13:08] mfundul commented on #8938
It's taken from `/sys/devices/system/cpu/cpuX/cpufreq/scaling_cur_freq`.

[2020-05-08 13:34] vbakayev commented on #8132
Yes, static binary install works flawlessly.

[2020-05-08 14:09] #8657 closed

[2020-05-08 15:34] joelhans opened #8941 "Docs: Improve proc.plugin document for users with high core/thread CPUs"
Per #8938, the proc.plugin document needs to be updated with some better verbiage around cores vs. CPUs/threads. In addition, we should probably add a section with the suggested config so that other users with fancy CPUs don't run into the same problem.

From @mfundul:

    keep per core files open = yes
    keep cpuidle files open = yes
    core_throttle_count = yes
    package_throttle_count = y

[2020-05-08 15:47] mbarper opened #8942 "Is this value the number of characters, size in bits/bytes?"
https://github.com/netdata/netdata/blob/fece01fc269ebe0b6cea58aad3677b6788b0f441/collectors/apps.plugin/apps_plugin.c#L98

[2020-05-08 16:15] scatenag commented on #914
I vote for integration in netdata Master release. :)

[2020-05-08 17:46] vlvkobal commented on #8942
`static char cmdline[MAX_CMDLINE + 1];`

[2020-05-08 18:14] thiagoftsm commented on #8942
Hi @mbarper ,

This is calculated in bytes, as you can see here:

https://github.com/netdata/netdata/blob/fece01fc269ebe0b6cea58aad3677b6788b0f441/collectors/apps.plugin/apps_plugin.c#L1124

Best regards!

[2020-05-08 18:27] Prabhjot-code opened #8943 "Can we include all required RPM or mandatory RPM in the software installer so it doesn't need to go or depend on other system RPMs"
Can we include all required RPM/packages or required libraries or mandatory RPM in the software installer so it doesn't need to go   or depend on other system RPMs or libraries

[2020-05-08 19:10] thiagoftsm commented on #8877
Hi @Pingger ,

Firstly I apologize for the delay, but I had busy schedule these days.
I ran the first part of the debug I wanted to do. To study the alarms and the expected results, firstly I ran three queries on your server:

[code]

After this I imported the data from `data.txt` to a PostgreSQL 12.2 server to have conditions to do the math faster and I got the following results:

| variable

[2020-05-08 19:35] prologic commented on #8132
Are you happy with that for the time being? I would love to build native support for compiling on AWS instances and packaging for it but I don't have the bandwidth now.

[2020-05-08 19:39] prologic commented on #8943
Hi! Could you elaborate on this a bit more? Specifically I'd like to know what options you explored for installing Netdata agent on your system(s). This will help me understand the context of your question.

[2020-05-08 19:41] prologic commented on #8846
This _might_ be a bit late to the piece; but a static install would also solve this right? The only caveat is that I'm not even sure we build cloud support into our static binaries right now! (_in fact I'm retty sure we aren't -- but IHMo we really should be -- and/or providing a different set of said binaries_).

[2020-05-08 19:44] prologic commented on #6765
This _might_ be a stupid question; but why can't we just piggy back off the MQTT telemetry (_yes double word here!_) link to the Netdata cloud itself? ANd take that stream of messages and write a µService whose sole job it is to process these messages -- What it does is entirely implementation dependent -- But we are then free to do whatever we want + plus we are decoupled from any specific tech b

[2020-05-08 20:57] prologic opened #8945 "Agent hangs on netdatacli shutdown-agent if built against musl libc (e.g: Alpine)"
##### Bug report summary

##### OS / Environment

- Any version of Alpine
  - Specifically any Agent built against [musl libc](https://musl.libc.org/)

##### Netdata version

- All versions since `netdatacli` was introduced.
  - Introduced in #7325
  - Released in [v1.20.0](https://github.com/netdata/netdata/releases/tag/v1.20.0)

##### Component Name

- area/daemon

##### Steps To Reproduce

Give

[2020-05-09 04:28] TBNolan opened #8947 "nginx reverse proxy with multiple nodes and auth_basic"
Is it possible to run multiple netdata instances on different machines, all set up with nginx reverse proxy using `auth_basic`, and manage them from the node console?

I have successfully set up 3 machines, all with different FQDNs and using `auth_basic`. However, they can't talk to each other from `console.html` because they unsurprisingly can't access each others' API behind the `auth_basic`.

D

[2020-05-09 04:42] TBNolan commented on #8947
Here is a sample nginx site config
[code]

[2020-05-09 06:19] startryst commented on #798
Guys, just wonder in terms of simple and straightforward installation, can we just below code in ansible to install netdata:
[code]

Or any better ideas?

[2020-05-09 10:08] agustinvinao commented on #8600
Hi, @knatsakis do you have a running example on traefik v2 to share please thanks

[2020-05-09 10:56] slavaGanzin opened #8948 "Ignoring stock config folder after editing apps_groups.conf"
##### Bug report summary
After `/etc/netdata/edit-config apps_groups.conf` stock directory plugins are ignored.

##### OS / Environment
Linux prod.whatnot 5.5.3-arch1-1 #1 SMP PREEMPT Tue, 11 Feb 2020 15:35:41 +0000 x86_64 GNU/Linux
##### Netdata version
netdata v1.21.1-116-nightly

##### Component Name
configuration

##### Steps To Reproduce
1. make sure at least one plugin is working (in my case

[2020-05-09 11:56] yasharne opened #8949 "go.d.plugin: log timestamp is always in UTC"
##### Bug report summary

Netdata is not following the server's timezone, as you see, there are 4:30 hours delay between the servers current time and the times appeared in the log file:
![image](https://user-images.githubusercontent.com/7656049/81473091-9596aa80-9211-11ea-8922-4d07322eb198.png)

##### OS / Environment

[code]

##### Netdata version

 netdata v1.21.1

[2020-05-09 12:51] ilyam8 commented on #8949
@yasharne thx for reporting!

[2020-05-09 12:53] ilyam8 commented on #8948
Hi @slavaGanzin

stock configs are in `usr/lib/netdata/conf.d/`, user config - `/etc/netdata/`

[2020-05-09 13:22] bjoe2k4 commented on #8885
I am using the streaming option and 1500 metrics at an interval of 10s almost saturates a dialup connection (56-64 kbit/s or 7-8 kb/s), taken from the network interfaces metric while nothing else is running.

[2020-05-09 13:27] cakrit commented on #6765
Because we also need agent telemetry from agents that don't use the cloud. Some of the events have to do with not being able to install the ACLK dependencies

[2020-05-09 14:54] mynetfocus commented on #1605
I encountered similar problem:

2020-05-09 10:16:23: apps.plugin ERROR : MAIN : pid 3298645 netdata states parent 1, but the later does not exist.
2020-05-09 10:16:25: apps.plugin ERROR : MAIN : pid 3298645 netdata states parent 1, but the later does not exist.
2020-05-09 10:16:27: apps.plugin ERROR : MAIN : pid 3298645 netdata states parent 1, but the later does not exist.
2020-05-09 10:16:29: ap

[2020-05-09 15:44] thiagoftsm commented on #8949
Hi @yasharne ,

Netdata gets the time to write the log from the function

https://github.com/netdata/netdata/blob/ca3019e403df01cdc23d55b5534c11c0b85f8823/libnetdata/clocks/clocks.c#L67

But, according the documentation ( `man 3 clock_gettime`) :

[code]

Considering the manual information, let me ask something to you, does your server update their time using NTP? It looks like that Netdata using

[2020-05-09 15:52] thiagoftsm commented on #8947
Hi @TBNolan ,

Netdata is working now to bring a new cloud environment and we hope this will fix these kinds of problems, but for you do not wait it to be released, I was thinking that a possible solution for this would be you centralize all Netdata in local registry inside your network, did you already try this?

Best regards!

[2020-05-09 16:38] thiagoftsm commented on #8881
@yasharne can you give the name of the tool that you are using as load balancer ? When I set everything with direct access, I could not recreate the problem.

[2020-05-09 17:11] TBNolan commented on #8947
Thanks for your response @thiagoftsm

That's an interesting idea and I'll have to look more into it. Is this the implementation you're referring to? [Netdata: Run your own registry](https://github.com/netdata/netdata/tree/master/registry#run-your-own-registry)

Looking at it briefly, it looks like I'll need each of my nodes to announce to a chosen one of my servers. Since they are all still protec

[2020-05-09 17:27] yasharne commented on #8949
Hi @thiagoftsm,
yes use NTP

[2020-05-09 17:41] yasharne commented on #8881
@thiagoftsm we use `HA proxy`

[2020-05-09 17:44] yasharne commented on #8881
@thiagoftsm I also have tried another scenario, here is the registry configuration on the registry server:
[code]
and use this as the registry configuration on the slaves:
[code]
but I still have the same problem which is the slave is not added to the registry when I open it on the slave's master node.
Should I do a specific configuration on the master nodes?

[2020-05-09 17:49] thiagoftsm commented on #8653
Hi @olivluca ,

Firstly I apologize the delay to answer you, but we are having busy days.
Inside your `error.log` we have log for both events, the packet loss and the time that we send data to alert, please can you confirm that the times that we see in these screenshots are the same inside your `error.log`?
Another doubt, is this netdata receiving streams from other slaves?

Best regards!

[2020-05-09 18:11] slavaGanzin commented on #8948
@ilyam8

Yeah I know:
[code]

[2020-05-09 18:15] olivluca commented on #8653
Yes

[code]

No.

[2020-05-09 18:17] olivluca commented on #8653
Note that the difference (30 minutes) is exactly the `delay down` in the rule for that alarm.

[2020-05-09 18:28] thiagoftsm commented on #8947
Yes, this is my suggestion.

This would be the first step.

When I gave the suggestion, I imagined a scenario where all hosts with Nedata were behind an unique firewall, but they could communicate direct among them.

I will give a suggestion for you, please, verify whether this could be a good road for you. Netdata allows us to open different ports and specify what we can do in that port, for exam

[2020-05-09 18:40] thiagoftsm commented on #8653
Considering what we are reading in the logs and screenshots, I think the dashboard is probably doing a wrong math to convert the timestamp that it receives from Unix epoch to user value. @jacekkolasa , please, can you take a look on this?

A last doubt, is your computer configured in a timezone that is not an integer value? For example, GMT 4:30?

[2020-05-09 19:02] olivluca commented on #8653
I think it's not that: I noticed this problem because when I click on the alerta message it leads me to the netdata dashboard and there is no alarm there.
At first I though that netdata wasn't sending the notification but the I realized it sent it after the delay.

Besides the start time of the alarm (not shown in the screenshot) is correct.

And, no, my timezone is gmt +2:00

[2020-05-09 19:47] #8583 closed

[2020-05-09 20:29] ilyam8 commented on #8948
If there is a problem with `python.d.plugin`

(as `netdata` user)

[code]

___

what is the list?

[2020-05-09 20:29] ilyam8 commented on #8949
@thiagoftsm there is no connection with libnetdata

[2020-05-09 20:30] ilyam8 commented on #1605
@vlvkobal please take a look

[2020-05-09 22:26] Pingger commented on #8877
Hi,

I'm not quite sure, what you mean with this question. My guess you'd like to know a time, when to best download data from the server: anytime you want, it is very unlikely you exceed 10GBit/s and even then, you would be limited on a fairuse system, that prevents server overloading by small groups of computers.

You should be able to run this yourself, but there you go [data.json.txt](https://

[2020-05-09 23:20] TBNolan commented on #8947
I was successful configuring my instances of netdata according to your recommendations @thiagoftsm so thank you very much!

I was able to keep port `:19999` firewalled on all my machines and opened `20000` on the registry machine but blocked non-registry traffic by doing `bind to = *:20000=registry`. I think I can further tighten this by changing this from `bind to = *=registry` to `bind to = netd

[2020-05-10 01:31] thiagoftsm commented on #8877
Hi @Pingger ,

I could get the data and I already could debug 11 alarms, there are few remaining, but I won't finish today, because it is too late in my timezone, tomorrow this will be the first thing that I will do.

Best regards!

[2020-05-10 05:04] kevinp1005 opened #8950 "Netdata SNMP stopped creating charts when failed to connect to a server."
I have a config file of thousands of SNMP Devices that we are trying to get the traffic data. When I run netdata, some of the charts are created and it is working properly, but not all of them are created, when I test the config file, it stopped creating charts after some errors (RequestTimedOutError).
![Screen Shot 2020-05-10 at 13 00 39](https://user-images.githubusercontent.com/25806608/8149121

[2020-05-10 11:06] cakrit opened #8952 "New dashboard is missing info about extending history retention"
The dashboard doesn't show the dbengine info when we move the chart past the beginning of collection:
[code]
@dim08 can we re-validate this text and the links therein, ensure they still point to the correct place?
@jacekkolasa can we please show the text in the new dashboard?

[2020-05-10 11:17] 3tilley opened #8953 "Instrumenting my own app with open telemetry"
Hello,

This is more of a theoretical question, but am I right to think that if I want to instrument my own app or proprietary db, I need to write netdata-specific collectors? Is there a vision to be able to use hook into apps that have opentelemetry instrumentation?

[2020-05-10 11:55] Prabhjot-code commented on #8943
We are planning to install netdata agent on RHEL 6.9 and centos 7.6. Theses servers are database servers and web application servers.  99 percent of the database servers are not connected to internet  or outside repository so installing RPMs like automake, libuv-devel, libuuid, zlib-dev, pkgconfig, autoconfig,libwebsocket and libmosquitto are a challenge for us a s many firewall policies has been

[2020-05-10 15:24] thiagoftsm commented on #8877
Hi @Pingger ,

I finished the work with the alarms, and once again I used the PostgreSQL to import the data and do math. I got data from the interval `2020-04-09 23:06:20` to `2020-05-09 23:06:15` using the queries

[code]

After this I created a very simple table

[code]

and I imported the data. After this I ran the following queries on the database:

[code]

After to run the queries, I created

[2020-05-10 18:38] thiagoftsm commented on #8947
Netdata has custom dashboards, but I have to confess I never worked with it, so I cannot answer you. On the other hand we are releasing new cloud soon and I hope this also can help you. For while, I have to transfer your question for other coworker, because this is an area that I am not sure, so I prefer do not give answer, to avoid give you a wrong answer. @jacekkolasa , please, can you answer th

[2020-05-10 19:32] thegcat commented on #3381
Is there progress or planning in this issue? We are still seeing erroneous values here and get warnings about memory being used at 20000+% :-)

[2020-05-10 19:48] yasharne opened #8954 "some slaves' metrics are not accepted by the prometheus server"
##### Bug report summary

I have a job on the Prometheus which gathers metrics from 4 netdata master servers. Here is the scenario I had:
- on netdata master number 1, I gather metrics of  about 200 slaves
- For some reason, I decided to move 12 slaves (a1,a2,a3,a4,b1,b2,b3,b4,c1,c2,c3,c4) from the first netdata master to the second netdata master
- Now I only see metrics from 8 servers on the Pro

[2020-05-10 20:37] ilyam8 commented on #8950
wow! 😲

___

Do you mean there is no updates after RequestTimedOutError? I am not clear what is _stopped creating charts_

[2020-05-10 21:01] thiagoftsm commented on #3381
Hi @thegcat ,

We already have a PR ( https://github.com/netdata/netdata/pull/8913 ) ready to be merged that will fix this, but we are in code freeze for the new release. In the next few days the solution will be merged.

We apologize the delay!

Best regards!

[2020-05-10 21:19] Pingger commented on #8877
Fixed, I messed up some copy paste there.

**No,** the final result given here is `Gibi Byte / hour`
To me the unit for `datacap_use_rate` should be `GB / hour`. I have `kbit/s` from `total_average_3h`. divding by 8 gives me `kbyte/s`, dividing by 1024 results in `MByte/s`, dividing again in `GByte/s`. now multiplying by 60 results in `GByte/minute`, multiplying again in `GByte/hour`. The server u

[2020-05-10 21:49] thiagoftsm commented on #8653
It is possible your database was locked during a long time and this affected the notification.  Are you using `memory mode = dbengine`? If you are, can you see any error related to it inside your logs?

We executed a long study to try improving the lock scheme that Netdata currently has. We will bring updates to it soon.

Thank you for the additional information.

[2020-05-10 22:21] olivluca commented on #8653
Yes, it's dbengine, and no, I cannot see any locking error (I see some LOG FLOOD PROTECTION messages but logging has resumed by the time the alarm shows as cleared on the dashboard).

The screenshot was just an example, other notifications are sent 1 hour later and that's the down time programmed for those alarms.

I may be wrong but I really think that's something to do with the delay down parame

[2020-05-11 03:30] kevinp1005 commented on #8950
@ilyam8 Yes, this is just an assumption, I can't be sure of the problem because the error log is not telling me much. Let's say i have 3000 devices configured in the config file, total charts that are created is only 1000 devices. If I changed it to only 100 devices, total charts created is only 60 devices. I'm not sure what stopped it. Here's another error that I get other than the RequestTimeOut

[2020-05-11 03:42] kevinp1005 commented on #8950
@ilyam8 The error only occurred if I configure it with more than hundreds of devices, if i just put this device in its own in the config file, it works.

[2020-05-11 03:55] jamesbiederbeck commented on #3611
What's the current state of this? I'd be happy to test anything currently in progress.

[2020-05-11 04:05] prologic commented on #8943
I see. Thanks for the background.

Q: How many servers are we talking about here?

Would you be open to the possibility of installing a pre-built static binary onto these servers rather than `yum install`'ing from repositories?

[2020-05-11 04:23] kevinp1005 commented on #8950
[UPDATE] : I run the debugging script for node.d.plugin. Here's what I got before the error occurred

![Screen Shot 2020-05-11 at 12 18 40](https://user-images.githubusercontent.com/25806608/81523964-27bdc080-9382-11ea-83c5-3e1c42494d37.png)
.

![Screen Shot 2020-05-11 at 12 19 21](https://user-images.githubusercontent.com/25806608/81523957-1f658580-9382-11ea-921c-7c3bfb416868.png)

Does this have

[2020-05-11 06:45] slhck opened #8957 "Reverse proxy via Caddy does not load dashboard?"
##### Bug report summary

When installing nightly via the Kickstart script and reverse-proxying via Caddy, the dashboard does not load.

##### OS / Environment

[code]

##### Netdata version

netdata v1.21.1-160-nightly

##### Component Name

Web

##### Steps To Reproduce

1. Install Netdata via the Kickstart script
2. Run the following Caddyfile (Caddy v2):

[code]

##### Expected behavior

I exp

[2020-05-11 07:05] slhck commented on #8957
I fixed it by removing the `/` from the Caddyfile. Solved with [this suggesion](https://caddy.community/t/reverse-proxy-mime-type-issue/7713/9).

[2020-05-11 07:05] #8957 closed

[2020-05-11 08:34] WKu5 commented on #3405
hello, I have a question.  After I  operate  such as touch,mkdir,  I use the command 'smbstatus -P' , but  ouput informations display zero,  some of them are as follows：

**** "SMB Calls" **************************************************************
SMBmkdir_count:                                                               0
SMBmkdir_time:

[2020-05-11 08:40] heya0 opened #8958 "How to send alarm notice through Python?"
##### Question summary
My SMS service provider, their API only supports Python / Java / go for sending SMS, I only see that curl is used to send notifications in `plugins.d/alarm-notify.sh`, how to use Python?

Should I put the python script for sending SMS in the `custom_sender()` function in `plugins.d/alarm-notify.sh`, and then let this function call the python script?
##### OS / Environment
RH

[2020-05-11 09:14] thanasisk commented on #8907
Hello @underhood - how did you install netdata? I am trying to reproduce on my FC32 box.

[2020-05-11 09:14] slavaGanzin commented on #8948
I've updated netdata and can't reproduce now. Can't say was it update or moon phase change, but now it works as it should. So closing this issue

@ilyam8, thanks for your time.

[2020-05-11 09:14] #8948 closed

[2020-05-11 09:28] cakrit commented on #8958
1. Create your python script and test it outside of netdata
2. Follow the instructions [here](https://learn.netdata.cloud/docs/agent/health/notifications/custom)

[2020-05-11 09:28] #8958 closed

[2020-05-11 09:43] underhood commented on #8907
Fresh VM Fedora workstation 32 64bit. Install all the build dependencies `dnf install zlib-devel libuuid-devel libuv-devel lz4-devel Judy-devel openssl-devel libmnl-devel gcc make git autoconf autoconf-archive autogen automake pkgconfig curl findutils python cmake`.  Clone from git and then install with `netdata-installer.sh --disable-telemetry`

[2020-05-11 11:30] Saruspete commented on #2620
Greetings everyone !

I need this feature. Is any work already in progress, or may I start working on it ?

Cheers

[2020-05-11 13:11] thanasisk commented on #8907
Starting from FC31, IIRC, Fedora is using cgroups v2 by default. This breaks a lot of software by default.

A temporary workaround is to instruct the kernel to fall-back to cgroups v1 - you can do this by the following commands:

`sudo dnf install grubby`

`sudo grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"`

Doing so, took care of cgroups related errors in my FC32 (VM) in

[2020-05-11 13:30] thanasisk commented on #8907
Hi there @underhood
I did a bit of research. Fresh FC32 install, netdata installed as per your instructions, I was able to reproduce the error. It appears to be `cgroups v2` related.

Once I have setup my FC32 installation to use `cgroups v1`, the relevant functionality was there and no error messages in the logs.

What puzzles me is that FC31, which according to what you say, runs normally - to t

[2020-05-11 13:55] underhood commented on #8907
@thanasisk ok so most probably it doesn't work on Ferora 31 as well out of the box. I force cgroups v1 in my Fed31 system *(which is my main devel workstation) due to docker (and I guess lot of other people do from team here)*

Thanks for helping figure out the problem

[2020-05-11 14:20] candrews opened #8961 "Allow use of system libwebsockets and mosquitto"
##### Feature idea summary
Currently, netdata builds bundled copies of libwebsockets and mosquitto. It would be better to (at least optionally) use the system provided libwebsockets and mosquitto libraries, just like netdata does for all of its other dependencies.

##### Expected behavior
In the autotools build system, `configure` should take `--enable-libwebsockets` and `--enable-mosquitto` argum

[2020-05-11 14:21] Ferroin opened #8962 "Access control defaults incorrect for Netdata served over a UNIX socket."
##### Bug report summary
Per the [documentation](https://learn.netdata.cloud/docs/agent/web/server/#binding-netdata-to-multiple-ports), no access controls should be applied by default to connections over a UNIX socket. However, at least some calls to the agent over a UNIX socket re blocked as if access controls were in place.

##### OS / Environment

[code]

##### Netdata version
v1.22.0

##### Co

[2020-05-11 14:26] ilyam8 commented on #8954
i see it is `instance`

[2020-05-11 15:22] Prabhjot-code commented on #8943
Thanks Gentleman,

We are targeting 4 servers to monitor via netdata,
While installation -  log says

Press ENTER to build and install delphix to your system >
 --- Prepare custom libmosquitto version ---
v.1.6.8_netdata-4.tar.gz: FAILED
sha256sum: WARNING: 1 of 1 computed checksum did NOT match
 FAILED  mosquitto files checksum validation failed.

 FAILED  Unable to fetch sources for libmosquitto

[2020-05-11 15:31] nikobearrr commented on #8950
I am also using netdata SNMP and I have gotten to the following observation: if you write a wrong oid (typo or it generally doesn't exist on the device) netdata snmp throws an error "it doesn't exist". Everything which is configured afterwards in the json will not be drawn as it seems the SNMP stops processing on the first error.

[2020-05-11 15:38] amoss commented on #2620
Hi, nobody on the team is currently scheduled to work on this and we would love to see a contribution here.

[2020-05-11 15:41] cakrit commented on #8962
Which type of access controls actually blocked access? Perhaps it's the doc that needs to be updated...

[2020-05-11 15:42] #8945 closed

[2020-05-11 16:41] ThoSap opened #8966 "Netdata Cloud node unreachable in War Room"
##### Bug report summary
Netdata Cloud cannot connect to a CentOS 8 (8.1.1911) node behind NGINX reverse proxy and Cloudflare.
Netdata was fresh installed using:
[code]

![image](https://user-images.githubusercontent.com/6555967/81579640-adeefc80-93ac-11ea-96fb-e69158da4162.png)
[code]
![image](https://user-images.githubusercontent.com/6555967/81585634-ba775300-93b4-11ea-89cc-84a6b0506351.png)

##

[2020-05-11 16:48] ThoSap commented on #8966
The communication between NGINX and Netdata is not encrypted.
The connection from NGINX to LAN or Cloudflare is HTTPS only using a Let’s Encrypt certificate.

I also tried to install libwebsockets as it is not installed by default on CentOS 8:
[code]

Unfortunately, this did not solve the issue either.

[2020-05-11 17:00] amoss commented on #8966
Hello, thanks for the bug report. Very detailed, we should be able replicate this quickly. It looks like a problem with the openssl library linked into libwebsockets but we will have to replicate the problem to check.

@underhood Can you set up a CentOS 8 VM and use the kickstart-static64 steps as above. Skip the nginx proxy at first as that should not affect the ACLK connection and see what you g

[2020-05-11 17:00] yasharne commented on #8881
@thiagoftsm Some nodes are added to the registry server but I cannot open them on the registry server :
![image](https://user-images.githubusercontent.com/7656049/81588922-434eb880-93ce-11ea-83f7-e49d349694a8.png)
![image](https://user-images.githubusercontent.com/7656049/81589235-81e47300-93ce-11ea-85cd-91f76c9f8f0d.png)
I don't get it, the address is correct but why netdata cannot open it?

[2020-05-11 17:03] yasharne commented on #8954
@ilyam8 Sorry, my explanation was not complete, we have a relabeling on the instance and change it to host,
Somehow, changing the master node fixed the problem, I have no logical explanation on it and now I'm not even sure if this is a netdata problem or Prometheus

[2020-05-11 17:04] amoss commented on #8961
The version of mosquitto that we use is not standard so we cannot use the system copy. Now that we have got through the release we will talk to the maintainers and see if we can merge our modifications back upstream.

For libwebsockets we have a different problem - we need a specific version that has been compiled in a specific way. If one of the options was not specified in the build then we will

[2020-05-11 17:06] ThoSap commented on #8966
You're welcome 😉
If you need more details just hit me up.

[2020-05-11 17:07] ilyam8 commented on #8954
👻

Well, it is nice there is no problem anymore 😄

[2020-05-11 17:07] #8954 closed

[2020-05-11 17:10] kevinp1005 commented on #8950
@nikobearrr

do you have the solution for this?

[2020-05-11 17:22] PatTheMav opened #8967 "Kickstart Installation fails due to failed checksum validation"
##### Bug report summary
When trying to update an existing netdata installation using the kickstart script via `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` the script fails with the following message:

[code]

##### OS / Environment

[code]

##### Component Name
* Kickstart Installer

##### Steps To Reproduce
1. Run `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

##### Expected beh

[2020-05-11 17:34] candrews commented on #8961
That's good news - perhaps when you've submitted the change requests upstream, you could link to them here, and interested parties can follow along.

Perhaps change requests can be submitted upstream to address this problem, just like what is planned for mosquitto?

[2020-05-11 17:37] amoss commented on #8961
I'm not that we can do the same with libwebsockets. It is not a change to the code or the functionality of the library, the problem is the build configuration. In our case we had weird problems if libcap was not included in the libwebsockets build via a compile-time flag. This is not a change that we can push back upstream - they have support for it already, but it depends on how it is compiled fo

[2020-05-11 17:43] Peggy4444 commented on #8847
Hi All,
Here are some updates regarding the issues:

1. **flannel - DNS problem**:  As disscussed in issue #96 & #87852 , we replaced flannel with calico. The streaming and connection of master-slaves are working well with calico, and enabeling HostNetwork. So there is no more problem with streaming configuration, and no more disappearing slaves.

2. **opentsdb:https** backend: does not work with

[2020-05-11 18:00] candrews commented on #8961
How about making it optional via a `configure` option? For example, `--enable-system-libwebsockets`? Each distro's packager would be responsible for making sure that the libwebsockets system library is compiled with `libcap` before they enable this option for their package.

[2020-05-11 18:03] Ferroin commented on #8961
I would actually second this sentiment (though I should comment that it's not at ll my decision). Gentoo actually _can_ have libwebsockets built the way we need (it needs to be merged with `USE='caps'` (I've not actively tested this, but building with the `caps` USE flag sets the CMake option that we need set in the libwebsockets build)).

[2020-05-11 18:04] thiagoftsm commented on #8847
Hi @Peggy4444 ,

@vlvkobal we have an option for this inside `stream.conf`, do we have for `exporting.conf` or `netdata.conf`?

This should not affect the opentsdb, because their TLS contexts are completely independent, but I will take a look. Thank you to give us this additional information.

[2020-05-11 18:04] amoss commented on #8961
@core-sre What do you think about how this would affect our packaging and the reliability of Netdata? If it is set wrongly then the agent will crash without any obvious way to diagnose it other than look in the build logs.

[2020-05-11 18:04] Snuggle commented on #8966
Having this issue too on RHEL 8, could it be related to firewalld?

[2020-05-11 18:08] amoss commented on #8961
We have posted at the same time :) If we put it in as a configure flag only (i.e. it is not accessible easily from the installer) then I am less concerned about the reliability, although it would be better to put in something like `--with-libwebsockets=` and force the user to supply an explicit path to the library. This reinforces the "at your own risk" nature of overriding this way.

[2020-05-11 18:09] thiagoftsm commented on #8877
You are right, I am sorry for this. You have 13 alarms testing `this > VALUE`, and somehow I assumed the last alarm followed the same comparison pattern but now I could see it is different.

I am running your alarms today on my environment, but I changed the time interval from hours and days to seconds and minutes respectively. Until now I did not receive any alarm, but I will be running these tes

[2020-05-11 18:10] Ferroin commented on #8961
The ideal situation IMO is that we figure out a way to check that LWS was built with libcap support. I don't think we ever really investigated that possibility much as we determined very quickly that none of the major binary distros ship LWS with libcap support.

if we can get that, we can just add an option to use the system copy of LWS (or better yet, default to trying to use it if we don't see

[2020-05-11 18:15] underhood commented on #8961
Hi, guys the reason to bundle Mosq was the changes we did to it to integrate it with LWS.
But for bundling LWS we had (if i remember correctly) different reason -> SOCKS5 support.
Only after doing that we discovered that LWS build system (cmake) does detect lcap in system and builds with it if present. Builds without it as well.
Only thing we had to do is link -lcap if it was build with it to netd

[2020-05-11 18:18] IvanTurgenev commented on #8083
adding `- DOCKER_USR=root` fixed it for me

[code]

[2020-05-11 18:18] Ferroin commented on #8961
Ah, yes, you're right @underhood, it was indeed SOCKS5 support that was the issue.

That actually doesn't change much in this case though, Gentoo can do that too (`USE='sock5'` will set that build flag).

[2020-05-11 18:20] Ferroin commented on #8961
It looks like this should be easy to test for too. LWS installs an `lws_config` header as part of the standard install which includes all the build-time settings.

The exact symbol we would need to look for is `LWS_WITH_SOCKS5`. And if we're dynamically linking we can ignore the libcap stuff, because _that_ should be handled correctly by the runtime linker.

[2020-05-11 18:23] Ferroin commented on #8966
It might be. Netdata needs to be able to make outbound connections to port 443 on app.netdata.cloud for the agentto actually connect to the cloud.

[2020-05-11 18:30] Snuggle commented on #8966
Even after stopping firewalld or adding a rule allowing port 443 unrestricted access, this still seems to be an issue.

![image](https://user-images.githubusercontent.com/26250962/81597505-bf8cd000-93bd-11ea-8717-8bc8b6900ec5.png)

[2020-05-11 19:47] JohnGalt1717 opened #8969 "Docker - Ubuntu 20.04 host Error - No Web response"
I have the following docker compose file that worked fine with ubuntu 19.10, but fails with 20.04

[code]

Here's the logs: (note this is the run without a configuration file, which I tried because of these errors but it does the same with a default config file)

[code]

[2020-05-11 19:53] JohnGalt1717 commented on #8969
BTW, here's what you get from 19999: Access to file is not permitted: /usr/share/netdata/web//index.html

[2020-05-11 20:37] Veltys commented on #8966
Hi everyone,

I would like to comment with my problem, maybe it could help. I can give additional details if needed.

I personally have the same problem with all my nodes; with the change to the new cloud panel, everyone has gone "unreachable".

I have to say my configuration is somewhat heterogeneous: some systems are Raspberry Pi with Raspbian, others are VPS from different providers with Ubuntu

[2020-05-11 20:40] FrankFromHR opened #8970 "JSON-C isn't fetched from Sources"
##### Bug report summary

Updated two machines to try and test out the new version of Netdata Cloud, however I'm not able to connect them as the JSON-C doesn't seem to be fetched from sources.

 --- Prepare JSON-C ---
cat: packaging/jsonc.version: No such file or directory
sha256sum: sha256sums.txt: no properly formatted SHA256 checksum lines found
 FAILED  jsonc files checksum validation failed.

[2020-05-11 22:12] Ferroin commented on #8966
For anybody using Netdata on a 64-bit x86 system, if you're seeing the above issues, you may be able to get things working by using our [pre-built static install](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart-64).

[2020-05-11 22:31] NCook15 opened #8971 "Unable to locate default installation directories"
I'm trying to make some adjustments to the netdata.conf file, but none of the default Netdata installation directories seem to exist where they should be. I made a new installation of Netdata today, and ran into the problem described in [#3764](https://github.com/netdata/netdata/issues/3764).

While searching for the config file, I found that none of the expected directories were created in their

[2020-05-11 22:48] dmnc-net opened #8972 "Container with Netdata as non-root is not working."
##### Bug report summary
Docker: Netdata can't access index.html while running as non-root user. `/usr/sbin/netdata` is running under `netdata` user. Even with exported `DOCKER_USR` variable I can't change it.
It seems to be ignored or not passed to container because `DO_NOT_TRACK` is not working neither (I've tried to export variables and also run docker command like this: `DOCKER_USR="root" dock

[2020-05-11 23:44] prologic opened #8973 "Github Issues links were wrong in the installer"
Reported by @ktsaou

[2020-05-12 00:27] dmnc-net commented on #8972
I see, I can control the `DOCKER_USR` and `DO_NOT_TRACK` with `--env` during the container creation. But still, I don't want to run that as root (even inside the container) and the Netdata Learn Docker command produces permission issue.

[2020-05-12 00:55] dmnc-net commented on #8972
So this is at least working Docker command:
[code]

- `DOCKER_USR` env
- `DO_NOT_TRACK` to stop anon. statistics
- bind Docker socket

[2020-05-12 01:05] Cellane commented on #8972
@dmnc-net This also fixed my Netdata deployment in Dokku, thank you! 🎉

[2020-05-12 03:27] thiagoftsm commented on #8242
We are waiting code freeze finishes to merge the PR that will solve this, the next release will also convert the eBPF from alpha to a stable version.

[2020-05-12 03:46] thiagoftsm commented on #8877
@mfundul I ran during more than 8 hours the alarms after to change all `every` to be sure they would be raised during this interval, but this did not happen. What is the possibility of the pages not being read correctly from memory and Netdata is raising the last alarm of https://github.com/netdata/netdata/files/4606759/datalimit.conf.txt .? I do not think this can happen, but I would like to conf

[2020-05-12 05:22] k0ste opened #8975 "smartd: after 30 min netdata loose logs 'connection'"
##### Bug report summary

1. Restart smartd;
2. Restart netdata;
3. Now netdata get smartd metrics;
4. After 30 minutes:

[code]

And more logs... After this netdata is not catch smartd metrics.

Full logs for smartd & netdata from start
[netdata.service.log](https://github.com/netdata/netdata/files/4613525/netdata.service.log)
[smartd.service.log](https://github.com/netdata/netdata/files/4613526/

[2020-05-12 05:38] startryst opened #8976 "After upgrade to v1.22.0-8-nightly, Cloud-available is False"
After check `http://NODE:19999/api/v1/info`:
cloud-enabled: true
cloud-available: false
agent-claimed: false
aclk-available: false

CentOS7, and netdata cloud function is working fine before the upgrade.

Let me know what info you need to help to diagnostic.

[2020-05-12 05:56] ThoSap commented on #8966
@Ferroin I used kickstart-static64.sh as the distribution support matrix suggests for AMD64 CentOS 8.X and RHEL 8.X.
https://learn.netdata.cloud/docs/agent/packaging/distributions/

Unfortunately, this did not solve the issue with the ACLK local issuer certificate check error seen in the gist of my initial post.

[2020-05-12 06:12] underhood commented on #8966
The issue with cloud connection should not be the inbound connections. Are you able to access `app.netdata.cloud 443` from the machine where the agent is running? Does machine where the agent is running have unrestricted access to the internet or is it behind a proxy/corporate firewall?

I am setting up CentOS8 VM as I write this to check if this is issue of some incompatibility with the CentOS8 o

[2020-05-12 06:15] evilalmus opened #8977 "ACLK-available-is-false"
##### Bug report summary
I was able to "claim" this done, but it is showing as unavailable in the netdata.cloud console.

##### OS / Environment
[code]

##### Netdata version
[code]

If Netdata is running, execute: $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V
[code]

##### Component Name
ACLK

##### Steps To Reproduce
Installed netdata
ran claim script from netdata.cloud
that's it...
Info from /

[2020-05-12 06:28] ThoSap commented on #8966
Yes, I am able to access `app.netdata.cloud 443` from the machine. The machine has unrestricted access to the internet and no proxy/corporate firewall is in place. The only thing is "special" in my setup is that I use Pi-hole as DNS Server. But the subdomain `app.netdata.cloud` is not blocked there and resolves just fine.

[code]

[2020-05-12 07:18] stdedos opened #8979 "web_log_apache.response_codes Escalated to CRITICAL"
##### Question summary

What is

[code]
and what am I supposed to do in response to this?

There is no explanation here https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/web_log/.

Apache here is your average facilitator interface - it's not really doing anything.

##### OS / Environment

##### Component Name

##### Expected results

[2020-05-12 07:23] svrnwnsch opened #8980 "Link from Master node to Replica nodes not working with v1.22.0"
##### Bug report summary

After upgrade the our mater server which runs inside docker to version 1.22.0 the linking to the slave servers no longer works correctly with the new switcher. The master is accessible on the url: `https://monitoring.example.com/`
 The new links look like:
`https://monitoring.example.com/host/node1` which then redirects to `http://netdata:19999/host/node1/` but the correc

[2020-05-12 07:40] olivluca opened #8981 "is the debian package really 1.22.0"
I have some hosts running mageia with no package available so I installed using kickstart.
Other hosts are running debian so I used the packages from packagecloud.io.
Today I upgraded both hosts, and while the one installed with kickstart changed its interface, the one installed from packages is still using the previous one:

 **host with kickstart**
![imatge](https://user-images.githubusercontent

[2020-05-12 07:45] underhood commented on #8966
Seems to have some SSL issues on CentOS8:
[code]

[2020-05-12 08:01] underhood commented on #8966
@ThoSap can you take a look at Netdata log `grep -i ACLK /opt/netdata/var/log/netdata/error.log` (assuming you installed into `opt` dir) to see if the errors you are getting is the same?

[2020-05-12 08:04] ilyam8 commented on #8975
hi @k0ste,i think it is expected, smartd module removes all log files which have not been updated in last 30 minutes

https://github.com/netdata/netdata/blob/8562dbbb343c28c3ccf473ebe590587fdca2a160/collectors/python.d.plugin/smartd_log/smartd_log.chart.py#L651-L661

https://github.com/netdata/netdata/blob/8562dbbb343c28c3ccf473ebe590587fdca2a160/collectors/python.d.plugin/smartd_log/smartd_log.ch

[2020-05-12 08:09] ThoSap commented on #8966
@underhood this is the exact error I get.
The gist of my initial post: https://gist.github.com/ThoSap/f5647ba35097c12dcb5f3b92ef457ac4

Could it be that libwebsockets cannot verify the full chain because app.netdata.cloud does not send the root CA `DST Root CA X3` of `Let's Encrypt Authority X3` in the full certificate chain?
https://www.ssllabs.com/ssltest/analyze.html?d=app.netdata.cloud

Sendin

[2020-05-12 08:10] ilyam8 commented on #8979
Hi @stdedos

`web_log` modules collects data every second, so we expect to have data and if there is no data - alarm

https://github.com/netdata/netdata/blob/8562dbbb343c28c3ccf473ebe590587fdca2a160/health/health.d/web_log.conf#L4-L14

As you see last time web_log returned data - 00:01:01 ago

I think `error.log` is a good place to start

[2020-05-12 08:24] mritzmann commented on #8830
I found this https://github.com/netdata/netdata/issues/309#issuecomment-343900018:

If this information is still current, this issue is no longer a question but a feature request. :-)

[2020-05-12 08:32] ThoSap commented on #8981
Maybe the browser still has the old interface in the cache.
Try to access the package installation in the browsers incognito mode or refresh the page using the shortcut Crtl + Shift + R (Empty Cache and Hard Reload).

[2020-05-12 08:37] k0ste commented on #8975
@ilyam8, thanks. I found that my deploy is 3600 seconds, instead of defaults 1800.

https://github.com/smartmontools/smartmontools/blob/master/smartmontools/smartd.cpp#L150

It's possible to set `DEF_AGE` via netdata.conf?

[2020-05-12 08:39] stdedos commented on #8979
I am coming up empty:

[code]

[2020-05-12 08:48] ilyam8 commented on #8975
Yes, it is possible - set `age` parameter in the module conf file

[2020-05-12 08:48] #8975 closed

[2020-05-12 08:55] ilyam8 commented on #8972
dup of #8969

[2020-05-12 08:55] #8972 closed

[2020-05-12 08:56] ilyam8 commented on #8971
there is a bug, see #8969

[2020-05-12 08:56] olivluca commented on #8981
Thanks, but I already tried that before submitting the question.

[2020-05-12 08:58] k0ste commented on #8975
I meant `netdata.conf`, not module conf. In this case, it's time to add new features to deployment tool...

Thanks

[2020-05-12 08:58] ilyam8 commented on #8971
Configuration files are in `/etc/netdata` btw

[code]

[2020-05-12 08:59] ilyam8 commented on #8975
Oh, man, didnt notice **via netdata.conf** part 🙈

No, it is not possible, it is module specific parameter

[2020-05-12 09:11] ilyam8 commented on #8979
Yeah, it is likely the case, i see it takes up to 60 seconds to handle log rotation for web_log.

i meant in the netdata error.log (i installed in `/opt/`)

[code]

[2020-05-12 09:16] stdedos commented on #8979
[code]

[2020-05-12 09:17] ilyam8 commented on #8830
@jacekkolasa please take a look

[2020-05-12 09:18] GNURub opened #8983 "v1.22.0 Access to file '/usr/share/netdata/web/index.html' is not permitted"
Using docker image netdata/netdata:v1.22.0 I get this error:

`Access to file '/usr/share/netdata/web/index.html' is not permitted`

(With version v1.21.1 works fine!)

[2020-05-12 09:19] stdedos commented on #8979
Your rotation seems off too:
[code]

[2020-05-12 09:28] kgns commented on #8967
Additionally, when I manually download the latest tarball like this:
`root@kgns:~# curl -sSL --connect-timeout 10 --retry 3 https://storage.googleapis.com/netdata-nightlies/netdata-latest.tar.gz --output netdata-latest.tar.gz

root@kgns:~# sha256sum netdata-latest.tar.gz
05e5cb922782e2ad4359e68110f2431af7ccc40fa1467c9d7db7561bde3134ee  netdata-latest.tar.gz

root@kgns:~# ls -l netdata-latest.tar.g

[2020-05-12 09:30] PatTheMav commented on #8967
Seems fixed with today's nightly release.

[2020-05-12 09:33] spupuz commented on #8983
same error here

[2020-05-12 09:33] ilyam8 commented on #8983
hi @GNURub, we are working on it

dup of #8969

[2020-05-12 09:33] #8983 closed

[2020-05-12 09:49] kgns commented on #8967
I still experience the problem, these findings in my previous post are fresh (11:55 am 12:24 pm Europe/Istanbul timezone)

[2020-05-12 09:56] ThoSap commented on #8966
I did some testing with my own domain using a Let's Encrypt certificate.
As I also had the root CA `DST Root CA X3` in the certificates full chain I never had an issue on CentOS 8.

Removing the root CA `DST Root CA X3` from the full chain results in the same error that app.netdata.cloud gets:

[code]

@underhood @Ferroin **Just add the `DST Root CA X3` to the full chain of your NGINX webserver ce

[2020-05-12 10:01] ThoSap commented on #8966
P.S. Don't forget to restart NGINX after adding the `DST Root CA X3` to the full chain, otherwise the certificate change will not be loaded by NGINX.

[2020-05-12 10:07] mfundul commented on #8877
What pages are you talking about exactly? If you're talking about dbengine pages then this would only be relevant to the `lookup:` lines in the alarms. We can confirm what values the database returns by executing the data query. I'm not sure I understand your question.

[2020-05-12 10:17] Pingger commented on #8877
using this exact command, run as root: `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --disable-telemetry --auto-update --enable-ebpf`

[2020-05-12 10:20] kgns commented on #8967
`curl -sSL --connect-timeout 10 --retry 3 https://storage.googleapis.com/netdata-nightlies/netdata-latest.tar.gz --output netdata-latest.tar.gz`
works correctly, but
`curl -sSL --connect-timeout 10 --retry 3 https://storage.googleapis.com/netdata-nightlies/netdata-latest.tar.gz > netdata-latest.tar.gz`
-the kickstart script way of doing it- does not work, it somehow adds an extra byte making it a

[2020-05-12 10:29] ilyam8 commented on #8979
error.log.1: 654       :2020-05-10 07:36:44: python.d INFO: plugin[main] : [web_log] built 13 job(s) configs

error.log: 530 :2020-05-12 07:39:10: python.d INFO: plugin[main] : [web_log] built 13 job(s) configs

i see both `go.d` and `python.d` plugins were restarted at 07:36:43 and at 07:39:10

Did you restart it manually?

[2020-05-12 10:36] vlvkobal commented on #8847
There are no SSL-related options for the `opentsdb:https` backend. You can enable/disable it. That's it.

[2020-05-12 10:37] PatTheMav commented on #7157
Good news, the new netdata cloud works fine with my setup. I have issues and opinions on the new cloud system, but those are out-of-scope. 😄

[2020-05-12 10:37] vlvkobal commented on #1605
Please look at the previous [comment](https://github.com/netdata/netdata/issues/1605#issuecomment-274762694).

[2020-05-12 10:43] stdedos commented on #8979
I was _a lot_ asleep at the time, so no. Could it be automatic updates of netdata?

I do have https://github.com/liske/needrestart installed (which could trigger this as post-update hook), but all updates are manual and explicitly verified by me (_and I was asleep at-the-time_)

[2020-05-12 10:52] cakrit commented on #7157
Excellent! Nice to hear @PatTheMav

[2020-05-12 10:52] #7157 closed

[2020-05-12 11:18] mspencerl87 opened #8984 "Netdata Sign In (Cloud) 404 page not found version v1.22.0-12-nightly"
##### Bug report summary
Updated all my servers to v1.22.0-12-nightly
attempt to sign in loads page 404 not found on all instances

##### OS / Environment

[code]

##### Netdata version

 /usr/sbin/netdata

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2020-05-12 11:27] mspencerl87 commented on #8984
Clear browser cache

[2020-05-12 11:27] #8984 closed

[2020-05-12 11:30] thiagoftsm commented on #8976
Hi @startryst,

Did you claim your agent? Do you have ACLK errors inside your error.log?

Best regards!

[2020-05-12 11:31] thiagoftsm commented on #8976
Depending of your logs, it is possible this error has relationship with #8977.

[2020-05-12 11:37] startryst commented on #8976
No, I tired to run the netdata-claim.sh script, but there isn't such script in my machine.

below is the output of ACLK in error.log:
[code]

[2020-05-12 11:38] startryst commented on #8976
And since I indicate below earlier, where I think it's not about claim, it's about the system isn't ready:
cloud-available: false
agent-claimed: false
aclk-available: false

[2020-05-12 11:40] underhood commented on #8977
I will try to reproduce with Ubuntu LTS in VM. I also contacted the cloud team to see if they can get any helpful info from the other (cloud) side.

[2020-05-12 11:44] startryst commented on #8976
The below screenshot is the one will show-up every time I opened the dashboard of netdata
![Screen Shot 2020-05-12 at 7 35 22 PM](https://user-images.githubusercontent.com/22472752/81683741-f67be800-9488-11ea-8473-96ab6a0e0fcd.jpg)

[2020-05-12 11:56] TetrisWolf opened #8985 "Net drops warnings going red"
Using Ubuntu Server 20.04LTS on Intel NUC BEH2 intel core i3

I get warnings for netdrops and packetloss.
If i do ifconfig i get RX drops.

how do I fix this or is this no bug/issue?

![netdata](https://user-images.githubusercontent.com/65229847/81684935-bf411300-9457-11ea-9c6a-a6e3589359d2.PNG)
![Capture](https://user-images.githubusercontent.com/65229847/81685188-2c54a880-9458-11ea-8a12-82cd8cf3

[2020-05-12 12:04] thiagoftsm commented on #8981
Hi @olivluca ,

A doubt, did you also try to access Netdata using `New private window` or `New incognito window` depending of the browser?

Best regards!

[2020-05-12 12:12] MrFreezeex commented on #8981
I have a similar issue, my netdata instance is in 1.22.0 (the "update check" also confirms that) and the UI didn't change from 1.21.x. I also checked from a private window.

[2020-05-12 12:21] underhood commented on #8977
@evilalmus Does the machine where you are running affected agent have connection to `https://app.netdata.cloud`?

[2020-05-12 12:22] amoss commented on #8966
@cloud-sre Please take a look at the comments above about the certificate chain.

[2020-05-12 12:38] olivluca commented on #8981
I tried now a new private window with the same result (apart from the default dark theme instead of the light one I selected in my normal window).

[2020-05-12 12:51] TetrisWolf commented on #8985
1Hour later and keeps rising drops and warnings
![89722184_3109846059048870_3190492253692887040_o](https://user-images.githubusercontent.com/65229847/81693320-06cb9d00-9460-11ea-9a95-f92cbc00140d.jpg)

[2020-05-12 12:57] olivluca commented on #8981
I unpacked the debian on the mageia machine to compare the files. In the machine installed with kickstart the files are in `/usr/share/netdata/web` while in the deb some are in `/var/lib/netdata/www` and others in `/usr/share/netdata/www` and there are differences:

[code]

[2020-05-12 13:02] TetrisWolf commented on #8985
i Found some drops using the DropWatch, but i still dont know how to fix them... Or cant i fix them?
2 drops at __netif_receive_skb_core+14e (0xffffffff8633411e)
8 drops at netlink_broadcast_filtered+257 (0xffffffff8639f0e7)
3 drops at __netif_receive_skb_core+14e (0xffffffff8633411e)
1 drops at __udp4_lib_rcv+ae5 (0xffffffff863e9da5)
1 drops at __netif_receive_skb_core+14e (0xffffffff8633411e)
2

[2020-05-12 13:23] amoss commented on #8981
@core-sre Could we check what is happening with the Debian package? It sounds as if the stable release did not pick up the right version.

[2020-05-12 13:48] ilyam8 commented on #8979
Could be, but there are 2 restarts 🤔

Do you get this alarm every morning?

[2020-05-12 13:56] Ferroin commented on #8969
I _think_ I know what's wrong here, and I'm fairly certain it's not got anything to do with Ubuntu 20.04 but is instead a bug in our Docker image build process. Assuming I'm correct, I should have a PR up to fix this some time later today.

[2020-05-12 13:57] JohnGalt1717 commented on #8969
@Ferroin Thanks!

[2020-05-12 13:58] ilyam8 commented on #8969
it is not ubuntu related 100%

[2020-05-12 14:06] ilyam8 commented on #8985
It is hard to identify the cause, but i would use `tcpdump`.

[2020-05-12 14:36] 13Dima13 commented on #8969
I have Open Media Vault 5 and since tomorrow have the same issue
https://i.ibb.co/Tmt3s97/image.png

Usually, I created from Stack:
`version: '2'
services:
  netdata:
    image: netdata/netdata
    container_name: net_Data
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

[2020-05-12 14:37] cakrit commented on #8969
We've broken the `-W set` command that's used in `packaging/docker/run.sh` to set the web owner and group. We're doing a patch.

[2020-05-12 14:37] cakrit commented on #8980
We've broken the -W set command that's used in packaging/docker/run.sh to set the web owner and group. We're doing a patch.

[2020-05-12 14:39] cakrit commented on #8980
Duplicate of #8969

[2020-05-12 14:47] stdedos commented on #8979
No, it's the second time I am getting this alarm over my netdata period. The first time it scared me as _hell_, and now again too (considering again, that this apache does nothing more than facilitating this or that, and by no means anything else, getting any considerable amount of traffic etc etc).

After my epiphany with log rotation I feel a lot more relaxed (and a lot more inclined to say that

[2020-05-12 14:52] TetrisWolf commented on #8985
it now keeps repeating the same very fast..
![Capture](https://user-images.githubusercontent.com/65229847/81707529-01c31980-9471-11ea-809f-8812544ffdc7.PNG)

[2020-05-12 14:53] Ferroin commented on #8981
On it.

[2020-05-12 14:55] Ferroin commented on #8981
Looks like it's an issue in how we're copying the React dashboard. This may also affect the RPM packages, but I'm not sure.

I'm going to investigate further and should hopefully have a fix later today.

[2020-05-12 14:58] underhood commented on #8909
* Hierarchy of Agents is maintained by the cloud - therefore no changes to streaming seem to be necessary
* Agent sends a flat list of slave GUIDs and master GUID (if it streams to any) with an `on-connect` payload
* Agend pushes updates about new/lost slaves
* GUID will be added to messages to Cloud

[2020-05-12 15:03] TetrisWolf commented on #8985
i just changed the ip of that device and all rx drops are gone, uh ok? thx for the help!

[2020-05-12 15:07] ilyam8 commented on #8979
if so you would get the alarm every log rotate interval

and i am not sure why there is 2 restarts

anyway i think it is safe to add delay up timeout to the alarm

something like

[code]

[2020-05-12 15:10] ilyam8 commented on #8979
@stdedos [i see](https://linux.die.net/man/8/logrotate) there is `-f` parameter to force log rotation, could you test it? Does log rotation cause the alarm?

[2020-05-12 15:13] TetrisWolf commented on #8985
and after 10minutes it came back -_-

[2020-05-12 15:14] stdedos commented on #8979
As I was investigating, I was dumb enough to purge all of my compressed rotation 😕
So ... it is 1-2 months that my server needs to rotate logs? Maybe, but that's a very thin chance. So probably there is some race condition that could go on (and I don't know why the rotation delay would be so much).

Beats me 😕 netdata is silent for me, except with my disk space alarm and VMWare auto-snapshot featu

[2020-05-12 15:14] underhood commented on #8976
@startryst We have a new revamped Cloud version with v1.22 that has as consequence brought some new dependencies with it as the way agent communicates with Cloud has changed.

Can you check if `json-c-devel` is present in your system?

[2020-05-12 15:16] TetrisWolf commented on #8985
![Capture](https://user-images.githubusercontent.com/65229847/81711823-4b613380-9474-11ea-89f6-79ba870cf36f.PNG)

[2020-05-12 15:22] underhood opened #8989 "ACLK related metrics"
##### Feature idea summary
We should have a few basic metrics in Netdata related to ACLK.
This will help debug issues and prevent the need to add debug messages everywhere.

Example:
- kbps upload/download per second
- messages per second
- size of outgoing queue
- size of incoming data queue (between LWS and MOSQ)
- latency?

##### Expected behavior
New charts in `Netdata Monitoring` group of Net

[2020-05-12 15:34] joelhans opened #8990 "Remove old docs generation scripts and CI checks"
We need to remove all of the scripts, Netlify deploy previews, and CI checks related to building the old documentation site, which no longer exists. This is already interrupting the process of merging PRs, since the Netlify checks inevitably fail for one reason or another.

Here is my plan for removing this old logic:

1. **Remove scripts to build translations**. We're already having issues with t

[2020-05-12 15:34] TetrisWolf commented on #8985
if tcpdump runs everything will slowly descend and be okay.
Does this mean i should make a startup script for tcpdump?

[2020-05-12 15:51] thiagoftsm commented on #8877
I was talking about the dbengine page. I thought that probably during runtime we could have a problem, but after the last answer for @Pingger we can ignore this possibility. Thank you!

@prologic and @Ferroin , this is the second issue that we are having in the last weeks where users are installing Netdata with `kickstart.sh` and the alarms are raising false positives. The first user cleaned the d

[2020-05-12 15:52] underhood commented on #8977
@evilalmus Seems like the claiming got messed up somehow. Can you please delete following files:
- `/var/lib/netdata/cloud.d/claimed_id`
- `/var/lib/netdata/cloud.d/private.pem`
- `/var/lib/netdata/cloud.d/public.pem`
- `/var/lib/netdata/registry/netdata.public.unique.id`

Then remove the node from the cloud.
After you restart Netdata new `/var/lib/netdata/registry/netdata.public.unique.id` will b

[2020-05-12 15:54] NCook15 commented on #8971
That's odd... I do see the files when I run the command you listed, but there is no netdata directory when I look in `/etc/`. I also looked for it, and tried to edit the netdata.conf file as both user and root, and always ended up with a "no such file or directory" error. Could this be a permissions problem? Apologies, I'm pretty new to this, and there's probably a simple thing I'm missing.

`NCoo

[2020-05-12 15:59] ilyam8 commented on #8985
Yes, if you run tcpdump there is no drops.

I advised tcpdump to check rx traffic - probably your server connected via trunk port and there is vlan tagged traffic goes through it and your srv drops it.

No, you use it to check rx traffic and find what is being dropped.

___

I am closing the issue because there is no bug in Netdata.

[2020-05-12 15:59] #8985 closed

[2020-05-12 16:04] Nordikk opened #8995 "Netdata Cloud - Total Network Bandwidth - exclude interfaces"
Hi, I didn't find a solution to this via Google, so I'm now asking here.

In the Netdata Cloud, specifically in the metric "Total Network Bandwidth", how can I exclude interfaces from there? I want to exclude the interfaces marked in the screenshot. (The interface cgroup_bluemine.net_eth0 doesn't even exist anymore.)

![Anmerkung 2020-05-12 180147](https://user-images.githubusercontent.com/4889551

[2020-05-12 16:11] ilyam8 commented on #8995
@Nordikk 👋 i am pretty sure it is on roadmap and will be fixed soon

@manos-saratsis please take a look

[2020-05-12 16:12] ilyam8 commented on #8971
Keep in mind this directory is _inside_ docker container, it is no in `/etc/`

[2020-05-12 16:36] #8981 closed

[2020-05-12 16:37] #8970 closed

[2020-05-12 16:38] Ferroin commented on #8981
Fix merged. We're on schedule to release version 1.22.1 within the next 48 hours with this and an assortment of other fixes.

[2020-05-12 16:38] Ferroin commented on #8970
Fix merged. We're on schedule to release version 1.22.1 within the next 48 hours with this and an assortment of other fixes.

[2020-05-12 16:49] webash opened #8997 "Netdata cloud 'see our documentation' uses JS link"
##### Bug report summary
The link 'see our documentation' link on the 'claim first nodes' page doesn't populate the `href` tag of the `<a>`, so you can't middle click/use your own link handler. Please use a standard link.

##### OS / Environment

[code]

##### Netdata version

Netdata Cloud

##### Component Name

Netdata Cloud

##### Steps To Reproduce

1. Sign-up
2. Go through onboarding steps
3.

[2020-05-12 16:52] amoss commented on #8966
Before release we saw a similar problem, but only on very old versions of openssl. I think you may have identified the root cause of why.

[2020-05-12 16:54] amoss commented on #8953
@dim08 / @ilyam8 - Interesting question, what do you think?

[2020-05-12 16:58] NCook15 commented on #8971
Ah, ok, that makes sense. Thanks, @ilyam8. Since it's inside the docker container, is there a way to edit it? I was going to try the workaround listed in [#3764](https://github.com/netdata/netdata/issues/3764), setting `web files owner = root` to see if it fixes the "Access to file '/usr/share/netdata/web/index.html' is not permitted" problem I'm running into.

However, I will wait and see what co

[2020-05-12 17:08] #8969 closed

[2020-05-12 17:16] vlvkobal commented on #6136
It has been already [implemented](https://github.com/netdata/netdata/blob/master/exporting/README.md).

[2020-05-12 17:16] #6136 closed

[2020-05-12 17:18] vlvkobal commented on #2352
It has been already [implemented](https://github.com/netdata/netdata/blob/master/exporting/README.md).

[2020-05-12 17:18] #2352 closed

[2020-05-12 17:19] olivluca commented on #8981
thank you

[2020-05-12 17:21] vlvkobal commented on #7167
Closed by #7149

[2020-05-12 17:21] #7167 closed

[2020-05-12 17:27] vlvkobal commented on #8847
#8111 - the same problem?

[2020-05-12 17:28] webash opened #8998 "Manage claimed nodes does not actually allow management of already claimed nodes"
##### Bug report summary

When clicking 'Manage claimed nodes' in a Space, you'd expect options for managing nodes that have already been claimed, instead the fly-out shows instructions for _claiming_ nodes, and shows recently claimed nodes. There are no management or deletion capabilities here.

##### OS / Environment

[code]

##### Netdata version

 Netdata Cloud

##### Component Name

Netdata C

[2020-05-12 17:29] thiagoftsm commented on #8847
It is possible to have relationship with this.

[2020-05-12 17:35] Peggy4444 commented on #8847
@vlvkobal  yes, but we even did not set up a reverse proxy with Nginx.
Normal opentsdb:https backend does not work with self-signed certificate

[2020-05-12 18:08] evilalmus commented on #8977
Thank you. How do you remove the node from the cloud? The docs say to use the "Node View" (https://learn.netdata.cloud/docs/agent/netdata-cloud/nodes-view) which doesn't seem to exist anymore. I can remove a node from a War Room using the "Manage War Room" screen, but that does not seem to remove it from the cloud registry.

[2020-05-12 18:09] thiagoftsm commented on #8847
@Peggy4444 the last time that I worked with OpenTSDB it did not have enabled TLS communication, and according the resources of the current release ( http://opentsdb.net/docs/build/html/resources.html ) this is only possible using proxy.

[2020-05-12 18:12] roedie commented on #8267
@ColonelRyzen I had exactly the same issue. Increasing the filedescriptors did the trick for me. I have modified the netdata.service systemd unit to contain `LimitNOFILE=65536` under the `[service]` stanza.

After this change, multiple slaves could connect at the same time.

[2020-05-12 18:13] underhood commented on #8977
@evilalmus Yes the removing with "Manage War Room/Nodes" then tree dot menu and remove will do. Should have been more clear.

After you do that claiming it under new id will work. There will be "unclaim" node feature in future but for now claiming under new unique id will do.

[2020-05-12 18:16] Peggy4444 commented on #8847
@thiagoftsm  @vlvkobal  true, but I am not using OpenTSDB. Im using influxdb with type:opentsdb:https
Do we still need reverse proxy?

[2020-05-12 18:20] evilalmus commented on #8977
After following these steps it seems that the node did not generate the new ID:
[code]

[2020-05-12 18:44] mfundul commented on #8977
Looks like `/var/lib/netdata/registry/netdata.public.unique.id` did not get regenerated by the agent. Take a look at `var/log/netdata/error.log` for any suspicious error messages.

Is it possible you deleted some of the `var/lib/netdata` subdirectories and recreated them as the `root` user?

Take a look at the permissions for the full path of `/var/lib/netdata/registry/netdata.public.unique.id`. T

[2020-05-12 18:45] mfundul commented on #8267
Closing this due to inactivity. Feel free to post again if necessary.

[2020-05-12 18:45] #8267 closed

[2020-05-12 19:37] ilyam8 commented on #8971
well, to persist configuration files i would suggest to use bind volume

- create temp netdata and copy user configs to the `netdataconf/`

[code]

 - create netdata and mount `netdataconf/`
[code]

___

so you have all netdata configs in the host system.

[2020-05-12 19:37] ilyam8 commented on #8971
And you need to wait for v1.22.1 docker image, v1.22.0 has broken web

[2020-05-12 19:38] #8971 closed

[2020-05-12 19:42] evilalmus commented on #8977
I dont see anything that looks relevant in the error log (in fact I don't see anything after an exit from one of the restarts, so maybe its not saving logs correctly now?)
LAst message in error log:
[code]
When following the instructions in the Wiki I did delete all of /var/log/netdata/clud.d/
but it was recreated when I started it back up again and is owned by netdata:netdata
I did not ever creat

[2020-05-12 19:59] ilyam8 commented on #8998
@manos-saratsis take a look

[2020-05-12 20:07] mfundul commented on #8977
This all sounds broken to me. I don't see how the `netdata` binary of the agent failed to recreate `/var/lib/netdata/registry/netdata.public.unique.id` when the path is owned by `netdata:netdata` and at the same time the `netdata-claim.sh` command created files owned by `root`.

Maybe an uninstall fixes the issues for you, it's a good idea to try.

[2020-05-12 20:27] evilalmus commented on #8977
okay, I uninstalled and reinstalled and the problem went away. Thank you.

[2020-05-12 20:34] thiagoftsm commented on #8847
For InfluxDB, it looks like they already support [TLS]( https://v2.docs.influxdata.com/v2.0/security/enable-tls/#requirements), but our exporting is not, on the other hand, the `backend` is already accepting this.

We expect in the next days to have support for Influx and OpenTSDB in the next weeks merged in our exporting system.

Best regards!

[2020-05-12 20:55] ryansk commented on #8998
Same issue, here. Following documentation, I'm not actually able to re-register the node, either.

https://learn.netdata.cloud/docs/agent/claim/#unclaim-remove-an-agent-from-netdata-cloud

I tried removing `/var/lib/netdata/cloud.d`, however, I still have the above error. I also removed the node from the previous war room.

[2020-05-12 21:29] breenjoe opened #9001 "brew upgrade netdata not getting latest"
##### Bug report summary
check for updates in application interface at http://localhost:19999 on update tab.
indicates that there is a new version of netdata available (at time of writing latest version is v1.22.1)
run brew upgrade netdata command in terminal on mac - this shows "warning: netdata 1.21.1 already installed." but doesn't upgrade it to the latest available.

##### OS / Environment
[co

[2020-05-12 22:01] Nirjonadda opened #9002 "How to delete Claimed Nodes?"
We have deleted War Room because can not edit War Room name. So we have added new Room But can not Claiming command for this room.

[code]

[2020-05-12 22:10] Nirjonadda commented on #9002
OK done [this steps](https://learn.netdata.cloud/docs/agent/claim/#unclaim-remove-an-agent-from-netdata-cloud) but still having this issue.

[code]

[2020-05-12 22:55] scatenag opened #9004 "Openldap plugin fails to bind with Empty result. Check bind username/password."
##### Question summary
Openldap plugin fails to bind even if ldapsearch works fine with same dn and password.
**Empty result. Check bind username/password. Message:  {'desc': u'No such object'}**
How to debug used dn / fix it ?

##### OS / Environment
Ubuntu 18.04.4 LTS
$OpenLDAP: slapd  (Ubuntu) (May  1 2020 17:11:02)
netadata v1.22.0-12-nightly
Python 2.7.17

**Setup of openldap netdata plugin**

[2020-05-12 23:47] prologic commented on #8990
As discussed we can also trigger a downstream workflow from the merge of a PR to netdata/netdata that changes documentation. This is possible.

[2020-05-12 23:48] prologic commented on #8990
The only thing missing here is the Preview(s) -- But to be honest I never found them that useful myself and I preview to review the diffs and use the rich diff viewer in Github itself on things like Markdown.

[2020-05-13 00:37] prologic commented on #8877
`kickstart.sh` effectively builds from source and ensures all build dependencies exist on a user's system. What I _am not_ sure of however is whether we ensure they are up-to-date.

[2020-05-13 00:37] prologic commented on #8877
But the `configure` script should be checking this right?

[2020-05-13 00:40] prologic commented on #8242
I think you're safe to merge today :) -- If you want to get this into a `v1.22.x` nightly :)

[2020-05-13 01:05] thiagoftsm commented on #8242
I will wait few hours after 1.22.x to be released, it is the safest option! :)

[2020-05-13 01:22] prologic commented on #8943
Are you running `./netdata-installer.sh` or `kickstart.sh` from our webstie?

[2020-05-13 01:23] prologic commented on #8242
I think `v1.22.1` is already out not?

[2020-05-13 01:56] RoyalClem commented on #9002
I am having the same issues too. I updated netdata, and now my cloud.d is regenerated. The cloud.d folder is empty, but still getting the same issue.

`Base URL: https://app.netdata.cloud
Id: b8c2765e-93e9-11ea-b4fa-dca63263e3be
Rooms: 6cd64977-c22c-4433-98fd-d227490bd4a9
Hostname: gestachpi
Proxy:
Netdata user: netdata
Extracting public key from private key.
writing RSA key
The agent cloud base u

[2020-05-13 02:20] startryst commented on #8976
No, that package is not installed in my CentOS 7, let me know how should I proceed to get it fixed.

[2020-05-13 02:40] prologic commented on #8976
If you run `./packaging/installer/install-required-packages.sh` frmo our repo this will bring in the new / missing deps. `kickstart.sh` also uses this as well. Not sure how you installed Netdata on to your system though?

[2020-05-13 02:45] startryst commented on #8976
My netdata installed using the suggested/default way, which auto update is turned on, instead of doing anything, can I just wait until my netdata upgraded to v1.22.1, since I see some patches around JSON-C is on that release.

You know if this is the easiest/untouchable way....

[2020-05-13 02:48] prologic commented on #8967
Any of you guys able to do a binary diff and show me what the "one byte" is that differs? I have a hunch but I'm not certain. This has come up before and I blamed "transient network errors" then and moved on. But let's look at this a bit more closely, trouble is I've never been able to reproduce this on anything I have :/

[2020-05-13 03:06] prologic commented on #8961
Why are we going out of our way to avoid our own bundled dependencies here? I get that we can push some upstream changes we made to mobmosquitto, but there are very good reasons why we chose to bundle some of our dependencies. Furthermore we are not really thinking about other systems here, e.g: *BSD, macOS, pfSense, Docker Images, Windows, etc. I also find it really hard to imagine that this won'

[2020-05-13 03:21] prologic commented on #8976
Unfortunately the `netdata/updater.sh` which is run via Cron doesn't automatically touch your system and update build dependencies (_and IHMO it should.n't_). This is one case where breaking changes and new hard dependencies require some manual intervention. I would suggest you simply re-run `kickstart.sh` again which does everything.

[2020-05-13 04:43] nikobearrr commented on #8950
Hi @kevinp1005, the only solution I have is to remove the "unknown" oid from the json and restart netdata

[2020-05-13 04:46] yasharne opened #9006 "mysql go plugin is not showing the replication lag time in the alert template"
##### Bug report summary

Mysql replication lag is not showing the current value in the alert template:
![image](https://user-images.githubusercontent.com/7656049/81771531-7ab98400-94f8-11ea-9035-3c2545ff012b.png)
the color is green so the alert is fine but since the value is undefined, I'm not sure if we get alarmed if the threshold is passed
Here is the alert template for this database:
[code]
H

[2020-05-13 05:09] startryst commented on #8976
where is the `kickstart.sh`? and I assume this will keep my existing configuration unchanged.

[2020-05-13 06:07] ilyam8 commented on #9006
should be `$seconds_behind_master` or `$time`

https://github.com/netdata/go.d.plugin/blob/b33118b931768edbb5803166905555576e4c17db/modules/mysql/charts.go#L496

[2020-05-13 06:09] ilyam8 commented on #9001
its over 9k issue 😄

[2020-05-13 06:19] ilyam8 commented on #8950
doesnt sound good, we need to check it

[2020-05-13 06:23] ilyam8 commented on #9004
@ekartsonakis could you help?

[2020-05-13 06:28] yasharne commented on #9006
@ilyam8 so there is an inconsistency in the alert templates? because it calculates the `$seconds` in the template:
https://github.com/netdata/netdata/blob/master/health/health.d/mysql.conf#L90
I'm migrating some of our plugins from their python version to the go version, is there any way to check if the alert templates are compatible with the go version plugins?

[2020-05-13 06:30] #8977 closed

[2020-05-13 06:31] kgns commented on #8967
[code]
the only difference appears to be an extra 0x0a byte at the end

[2020-05-13 06:34] vlvkobal commented on #8847
@thiagoftsm, @Peggy4444 is using backends (`[backend]` section in `netdata.conf`), so TLS should be supported in his case.

[2020-05-13 06:41] prologic commented on #8967
Bingo! That's what I thought ;) I"ll see if I can fix this.

[2020-05-13 06:42] prologic commented on #9001
Troll :P

[2020-05-13 06:42] prologic commented on #9001
Anyways... I'm working on this...

[2020-05-13 07:19] stdedos opened #9007 "Disk backlog question"
##### Question summary
I have received an e-mail for disk backlog issues for the highlighted region:

![netdata-backlog_alarm-vivaldi_2020-05-13_10-16-21](https://user-images.githubusercontent.com/133706/81783036-734ba800-9503-11ea-8b82-065c9f3b09fe.png)

but not for the region that precedes it.

* Is there some heuristic that this alarm is working on?
* Is there a list of the top 10 processes (or

[2020-05-13 07:35] stdedos opened #9008 "New UI questions"
##### Question summary

![netdata-backlog_alarm-vivaldi_2020-05-13_10-16-21](https://user-images.githubusercontent.com/133706/81783036-734ba800-9503-11ea-8b82-065c9f3b09fe.png)

* Highlighting animation seems a bit off to me - in the way that from the time I Alt+Click, to the time I click again, there is nothing obvious on what I started. If it would be too taxing to continuously focus the mouse a

[2020-05-13 07:44] stdedos commented on #8979
It seems that I am log-rotating daily, so no need to force to logrotate.
Also, no warning today. So I guess this really happens once in a blue moon.

Can I add only an override to the alarm to some other, non-netdata file, or do I have to patch that specific file? At this time, I cannot decide if it's cleaner to patch the file itself, or override it cleanly, separately, with my own (the latter bei

[2020-05-13 08:00] stdedos opened #9009 "Netdata not printing shown area, reverts to `$now` instead"
##### Bug report summary
I have a specific area shown & highlighted, and I press Print.
I expect I will print what I see.

Instead, I am printing `$now`:
![netdata-print_bug-vivaldi_2020-05-13_10-45-00](https://user-images.githubusercontent.com/133706/81786843-de4bad80-9508-11ea-9750-76716257eed1.png)

##### OS / Environment

[code]

##### Netdata version

 v1.22.1-4-nightly

##### Component Name

[2020-05-13 08:22] ilyam8 commented on #8979
well, as for all user configs you need to `edit-config` it (we have stock and user configs, stock are being overwritten on every update)

from `/etc/netdata`

Add changes to the `/etc/netdata/health.d/web_log.conf`

[2020-05-13 08:29] stdedos commented on #8979
That looks like much coarse that the +1,-1 change I wanted to do 😕

Cost/benefit (given the cost) does not seem worth it

[2020-05-13 08:32] stdedos opened #9010 "Bash auto-completion for `./edit-config`"
##### Feature idea summary
https://github.com/netdata/netdata/issues/8979#issuecomment-627830109

For `sudo ./edit-config he`<kbd>Tab</kbd> I am getting `health.d` (since directory exists), but nothing
For `sudo ./edit-config health.d/we`<kbd>Tab</kbd>

##### Expected behavior

[2020-05-13 08:36] amoss commented on #8989
This is a good idea, we should have the same for streaming instead of the current logging.

[2020-05-13 08:41] svrnwnsch commented on #8980
So I updated to v1.22.1 but this bug of incorrect links still persists. I even reverted the netdata web config to the old state, which now works without any permissions problems. But the problems I mentioned above still persists.

[2020-05-13 09:01] manos-saratsis commented on #9002
@Nirjonadda @RoyalClem  When you claim nodes these nodes are claimed to a space and you can add/remove them to rooms. Select a War Room from the left panel, go to Top Navigation Bar -> War Room -> Manage War Room -> Nodes and press the green "+" button to add nodes that are claimed in the space to this War Room.

As you deleted the `cloud.d` directory then your agent will no longer have access to

[2020-05-13 09:03] Saruspete commented on #2620
Perfect, I've started working on it, based on `proc.plugin/proc_net_dev.c`.

From `Documentation/infiniband/sysfs.txt`, there's no procfile that would list the interfaces, so I got to list folders in `/sys/class/infiniband/`. Is there any helper to do so, like `procfile_open`, or do we need to do the glob/opendir ?

[2020-05-13 09:09] #7155 closed

[2020-05-13 09:12] ilyam8 commented on #8804
Current implementation:

- look for specific configuration file in `NETDATA_USER_CONFIG_DIR/go.d`, `NETDATA_STOCK_CONFIG_DIR/go.d` (in that order) directories
- use the first one found
- create jobs (job - a module with specific parameters) from the config file
- start jobs

**We do this only at the start of plugin.**

Config file has `global` and `jobs` sections, example:

[code]

**There is no i

[2020-05-13 09:16] cakrit commented on #8990
- The previews ARE useful, html isn't the same as markdown. I'm ok with temporarily not having them.
- Needs another task, to kill the localization project itself. Change its main README and any mention of it in the docs to begin with and eventually archive the project.

Other than that, I'm good with the plan.

[2020-05-13 09:43] Nirjonadda commented on #9002
Perfect, Thanks

[2020-05-13 09:47] Nirjonadda opened #9011 "Alarms view more menu"
Alarms view more menu are not showing correctly from drop/down.

![ScreenShot00349](https://user-images.githubusercontent.com/6899856/81797811-8b292900-950f-11ea-82a9-400703920379.png)

[2020-05-13 09:52] ilyam8 opened #9012 "service discovery: k8s module: gather env variables from ConfigMap and Secret"
##### Feature idea summary

Part of #8925

In addition to other fields it would be nice to gather env variables, sometimes it is mandatory, for example we need `POSTGRES_PASSWORD` to connect to postgres db.

Example postgres deployment that stores `POSTGRES_PASSWORD` in the secret.

<details>
<summary>deployment</summary>

[code]

</details>

<details>
<summary>secret</summary>

[code]
</details>

[2020-05-13 10:12] kevinp1005 commented on #8950
@ilyam8 this happen to me as well, but i am sure that my configuration file is correct, for me the problem only occurred if i put more than 100 devices. I tried to update net-snmp to the latest version, but the problem still occurred. Is this net-snmp problem?

[2020-05-13 10:17] ilyam8 commented on #8950
i think it is any error, not invalid oid only (request timeout)

probably some limitations of the current implementation, not sure, we need to check

[2020-05-13 10:19] underhood opened #9013 "Master-Slave Cloud Support MVP1"
##### Feature idea summary
Implement Master-Slave (streamed nodes) support for Cloud in Agent in the scope defined by grooming as MVP1 (See details on #8909).

Communicate and test with cloud team.

Some time buffer was added to estimate due to expected on-the-go changes during implementation *(e.g. cloud or agent team figuring out original message format is not good during implementation)*.

Impl

[2020-05-13 10:23] ilyam8 opened #9014 "service discovery: k8s module: pod discoverer local node mode"
##### Feature idea summary

Part of #8925

Our way to install netdata is:
- statefulset netdata master
- daemonset netdata slaves

We need to make it an option - discover only local node pods.

This can be done by adding `spec.nodeName=<NODE_NAME>` to the field selector.

---

# TODO

- check for `MY_NODE_NAME` env var
- if it is set add `spec.nodeName=$MY_NODE_NAME` to the field selector during [

[2020-05-13 10:37] ilyam8 opened #9015 "service discovery: k8s sane default config"
##### Feature idea summary

Part of #8925

We want to get service discovery working in k8s cluster, it means we need default configuration with predefined identification rules, configuration templates, etc.

<details>
<summary>service discovery example config file</summary>

[code]

</details>

---

Mainly we need to :

- add identification rules, current idea is to use port + image name:

[code]

[2020-05-13 10:42] ilyam8 commented on #8980
it wasnt duplicate, the problem in `Additional Notes:` is not the OP problem

[2020-05-13 10:43] ilyam8 commented on #8980
@jacekkolasa i think you can help here, please

[2020-05-13 10:45] ilyam8 commented on #8979
do you mean a PR?

i dont want to do it because

and i am not really understand why, i need to check it (to play with logrotate)

[2020-05-13 10:55] stdedos commented on #8979
My expectations:
[code]

Reality:

`mv /usr/.../health.d/web_log.conf /etc/netdata/health.d/web_log.conf`

(It's not _really_ `mv`, but it looks clear to me that from now on, the `/usr/` file is ignored)

[2020-05-13 10:58] stdedos opened #9016 "Avoid the initial `cd /etc/netdata` for `./edit-config`"
##### Feature idea summary

https://github.com/netdata/netdata/issues/8979

[code]

Skip the `cd` and instead, for the full context of `./edit-config`, we `cd` to its parent directory (i.e. `/etc/netdata` in this case)

##### Expected behavior

[2020-05-13 11:01] manos-saratsis commented on #8998
@webash Under 'Manage claimed nodes' you can currently see the claiming command and the list of the claimed nodes. We will soon offer a feature letting users to unclaim/delete their nodes from the space.

@ryansk To reclaim/re-register the agent (after removing the /var/lib/netdata/cloud.d/ directory) it is necessary to pick a new identity, this can be done by adding -id=$(uuidgen) to the claiming

[2020-05-13 11:06] manos-saratsis commented on #8995
@Nordikk thx for using Netdata Cloud. It's a valid concern and we will add it in the roadmap.

[2020-05-13 11:20] Ferroin commented on #8961
Because the ideal situation long term is that each distro is maintaining up-to-date Netdata packages themselves without us having to manage it ourselves.

To actually achieve this, we need to support their requirements for packaging, which in many cases means allowing usage of system libraries instead of bundled ones.  In the specific case of Gentoo, the old mantra of 'you break it you fix it' app

[2020-05-13 11:21] ilyam8 opened #9017 "service discovery: pipeline reload on configuration changes"
##### Feature idea summary

Part of #8925

Reloading on config changes is crucial in k8s.

We gonna use [ConfigMap](https://kubernetes.io/docs/concepts/configuration/configmap/) to store sd configuration. As a user i expect to get configurations (ConfigMap) changes applied w/o any additional actions.

# TODO
- implement configuration manager
- implement pipeline manager

configuration will be prov

[2020-05-13 11:25] jacekkolasa commented on #8980
Sure, thanks @ilyam8 for asking. @svrnwnsch could you please explain what you mean by "redirect"? If you right+click and do "Copy link address" (in Chrome), what do you get?

[2020-05-13 11:28] ilyam8 opened #9018 "service discovery: add logging"
##### Feature idea summary

Part of #8925

Currently [sd](https://github.com/netdata/agent-service-discovery) has no logging at all. (it wasnt a blocker for poc/initial implementation)

We definitely need to add some logging to make it easier to see errors, etc.

## TODO:
 - choose logging library
 - add logging to the sd

##### Expected behavior

Have logging in sd

[2020-05-13 11:31] ilyam8 opened #9019 "service discovery: add some documentation"
##### Feature idea summary

Part of #8925

Currently [sd](https://github.com/netdata/agent-service-discovery) has no documentation at all. (it wasnt a blocker for poc/initial implementation)

We definitely need to add some documentation, examples to the sd.

## TODO:

- add sd README, describe there how it works, add some examples, etc.

##### Expected behavior

Have sd documentation.

[2020-05-13 11:37] ilyam8 opened #9020 "service discovery: ci/cd"
##### Feature idea summary

Part of #8925

There are no checks at all in the sd repo

We need to add following checks:

- build
- vet
- test
- format

In addition:

- docker publish workflow

##### Expected behavior

have proper ci/cd in the sd repo

[2020-05-13 11:43] jacekkolasa commented on #4091
It's fixed now, with new dashboard version

[2020-05-13 11:43] #4091 closed

[2020-05-13 11:47] jacekkolasa commented on #7285
done

[2020-05-13 11:47] #7285 closed

[2020-05-13 12:00] jacekkolasa commented on #5613
@dim08 We could do this, what do you think?

[2020-05-13 12:03] ilyam8 opened #9021 "service discovery: integrate into our helmchart"
##### Feature idea summary

Part of #8925

Optinally install sd in our [helmcharts](https://github.com/)

## TODO:
 - add ConfigMap with sd default configuration
 - update nd serviceaccount permissions (if needed)
 - add sd as optional service
 - update go.d.plugin config (enable disabled modules, etc)
 - tests

##### Expected behavior

[2020-05-13 12:03] jacekkolasa commented on #6279
fixed with new navbars

[2020-05-13 12:03] #6279 closed

[2020-05-13 12:04] jacekkolasa commented on #6986
fixed with new navbars

[2020-05-13 12:04] #6986 closed

[2020-05-13 12:05] jacekkolasa commented on #5755
not relevant anymore in new dashboard

[2020-05-13 12:05] #5755 closed

[2020-05-13 12:06] jacekkolasa commented on #6793
@dim08 FYI

[2020-05-13 12:13] jacekkolasa commented on #8765
Related to https://github.com/netdata/netdata/issues/8581, fixed now. Unfortunately users need to manually remove broken urls, sorry for that! I hope it's not a big problem, but if it is, we can work on adding a code snippet to remove all broken urls

[2020-05-13 12:13] #8765 closed

[2020-05-13 12:19] jacekkolasa commented on #6262
I think this issue is not valid anymore with the new-navbars dashboard. Please, anyone, correct me if i'm wrong

[2020-05-13 12:19] #6262 closed

[2020-05-13 12:25] ilyam8 commented on #8979
yes, if there is a user config we ignore the stock config, that is how you change stock - copy it to the user dir and make changes there.

edit-config is a helper script

[2020-05-13 12:35] stdedos commented on #8979
This is why I call this overkill. I don't want to fall back in configuration, for one very small change.

In a sense, I would much more prefer resolving `dpkg` diff-conflicts each time, rather than risk falling behind updates.

Or even keep getting the error.

[2020-05-13 12:36] 0x11DFE opened #9022 "Button title for hover feedback"
##### Feature idea summary
While trying to hover between the button (options) on the top right corner,
I could not explain what are all the icon meaning so i thought adding a title html attribute could help.

##### Expected behavior
Adding a title attribute could help describing the icons.

##### Example
[code]
![preview](https://user-images.githubusercontent.com/43712252/81812729-d26ee400-9526-11

[2020-05-13 12:37] jacekkolasa commented on #8487
That should be working now with new release (1.22). Please note that `Block third-party cookies` setting should be disabled (it's the default) in Chrome, under chrome://settings/content/cookies page. I'm closing now but please respond here if the issue is still present under the new cloud

[2020-05-13 12:37] #8487 closed

[2020-05-13 12:43] #8670 closed

[2020-05-13 12:46] jacekkolasa commented on #8947
@TBNolan unfortunately the local registry takes care only of keeping track of visited nodes and redirecting after alarm. Have you tried the newly released cloud (1.22)? This makes problems with `auth_basic` irrelevant (metrics go through netdata.cloud, not directly from browser)

[2020-05-13 12:46] ilyam8 commented on #9011
@manos-saratsis take a look

[2020-05-13 12:48] prologic commented on #8990
@joelhans Are you able to look into what options we have here with Docusaurus? We just need a way to trigger some workflows to build the thing and host _that_ version somewhere.

[2020-05-13 12:50] svrnwnsch commented on #8980
The url changes as described above (tested on firefox) so you enter `https://monitoring.example.com/host/node1` and then the url is `http://netdata:19999/host/node1/` which cannot work as the port is not accessible as we use caddy with basic auth to block access.

Manually appending the `/` to fix url to `https://monitoring.example.com/host/node1/` works as expected.

[2020-05-13 12:51] prologic commented on #8961
Please let's table this for the time being (_sorry @candrews_) until we've had a proper chance to review the plan I've proposed and have made a decision going forward regarding packaging in general.

[2020-05-13 12:55] jacekkolasa commented on #9022
thanks @0x11DFE , great idea, we'll implement it soon!

[2020-05-13 12:56] prologic commented on #7155
Just as a final note on this; but I will not reopen this.

Its not that we don't want to support building the Netdata agent on an LFS system. We probably should and at the very least document it. We just don't have the bandwidth for this righ tnow.

The static binary (`kickstart-static64.sh`) will actually work just fine and I run this on some very custom (_built from scratch_) Linux systems I run

[2020-05-13 13:01] manos-saratsis commented on #9011
@Nirjonadda thx for using Netdata Cloud! We will soon resolve this. Can you please share your browser and screen size to help us reproduce in the meanwhile?

[2020-05-13 13:09] #8293 closed

[2020-05-13 13:22] candrews commented on #8961
All major distros prohibit library bundling, and with good reason, including security, legal/licensing, and bug fixing/maintainability. I'm sure the other netdata package maintainers, including @svenstaro @lhw @FedericoCeratto @willysr @didier13150, would be able to elaborate on this topic as well.

Links to distro policies:
Debian: https://wiki.debian.org/UpstreamGuide#No_inclusion_of_third_party

[2020-05-13 13:30] ilyam8 commented on #8653
Well, it is expected then, we **send** notifications only after delay up/down time. It doesnt apply to the alarm log.

[2020-05-13 13:55] Snuggle commented on #8966
@ThoSap How would you add this certificate? I'm using the LetsEncrypt to manage my certificates behind a NGINX reverse proxy, which is proxying Netdata, I'm not sure why the reverse proxy's certificates matter here?

[2020-05-13 13:59] joelhans commented on #8990
@prologic I'll investigate the previews. I never used them either, but if others find them useful, let's make sure they get added at some point.

@cakrit I added a step about localization. Can you help review the PRs related to this project? We can, and _should_, remove all the old docs tooling ASAP. #8991, #8994, and #9003 in particular.

[2020-05-13 14:02] yasharne opened #9023 "netdata alarm custom sender prints the variable name instead of its value"
##### Bug report summary

We have a webhook which we use to send the Grafana alerts into it, and now we want to use it to send the netdata alerts as well, I can send the alerts in the custom section of the `health_alarm_notify.conf` file, but it doesn't show the contents of the variable files I've used in it:
![image](https://user-images.githubusercontent.com/7656049/81822080-eaa32b00-9547-11ea-8b

[2020-05-13 14:04] Nordikk commented on #8995
Alright! Thanks for the quick answer. Have a nice day :)

[2020-05-13 14:15] kozicpetar opened #9024 "Can I monitoring sshfs process?"
##### Question summary
On many linux servers I have set mounted drive over sshfs. I don't have any information about status service and that mount.

Because I'm using netdata to send metrics to prometheus I checked scrape metrics on url:
`hostname.com/api/v1/allmetrics?format=prometheus` but there is no one process for sshfs.

I tried to set apps_groups.conf and I added
[code]
Also, I tried with
[

[2020-05-13 14:34] kevinp1005 commented on #8950
@ilyam8 do you have any suggestion in which file we have to check ? is [here](https://github.com/netdata/netdata/blob/master/collectors/node.d.plugin/snmp/snmp.node.js) a good start assuming this is a collector problem?

[2020-05-13 14:47] underhood opened #9025 "ACLK and Docu inconsistencies"
##### Bug report summary
During the development of Cloud/ACLK the actual communication protocol diverged from what Documentation states.

This issue entails going over documentation and check every message against what the agent really sends. Then updating documentation to match reality and become the source of truth again.

##### Component Name
ACLK/Docu

##### Expected behavior
Documentation for

[2020-05-13 14:57] Ferroin commented on #8961
@prologic Our own packaging is functionally orthogonal to this. _No_ distribution is going to accept what we've been working on planning for in their repos (except _possibly_ Ubuntu in their Universe repo).

And long term, it is a _very_ good thing for us if we have packages in the main repos of the major distros that receive regular updates. That lowers the bar for us in terms of our own packagin

[2020-05-13 15:01] MykhailoSobol opened #9026 "Backend: How can I add "host tag" to my metrics?"
##### Question summary

Hello! I enabled backend with config

    type = prometheus_remote_write
    host tags = tagtag="test", tagtag2="test1"
    destination = xx.xx.xxxx:8428
    remote write URL path = /api/v1/write
    enabled = yes

I expected that my metrics will have two new tag(label)
`netdata_system_ram_MiB_average{chart="system.ram",dimension="buffers",family="ram",instance="name-001",

[2020-05-13 15:08] vlvkobal commented on #9026
You can't. Your tags are in
[code]

There is a plan to implement labels on the metric level, but it's an epic project which involves a database redesign. Some discussions and links are in #6503, #7891.

[2020-05-13 15:08] ilyam8 commented on #9026
@MykhailoSobol hi

it is not implemented, there is no way to add tags/labels to all metric sets atm

@vlvkobal correct me if i am wrong

[2020-05-13 15:14] #8716 closed

[2020-05-13 15:16] breenjoe commented on #9001
It's working now. :)

[2020-05-13 15:19] MykhailoSobol commented on #9026
Thank you for the answer

[2020-05-13 15:19] #9026 closed

[2020-05-13 15:23] joelhans commented on #8990
I also just ported over the work I did in #9003 to the Learn site. This way, we'll have link validation on the PR stage going in to netdata/netdata and an additional link validation check when I rebuild the docs site.

[2020-05-13 15:25] vlvkobal commented on #9024
Please do
[code]

[2020-05-13 15:27] ThoSap commented on #8966
@Snuggle nothing needs to change in your environment.

It seems like the NGINX reverse proxy of `app.netdata.cloud` is only supplying the intermediate chain, not the full chain of the Let's Encrypt certificate.

Somehow OpenSSL which is used by libwebsockets requires the full certificate chain in some environments. To mitigate this issue `app.netdata.cloud` should provide the full certificate chai

[2020-05-13 15:50] ncmans commented on #8966
@ThoSap thanks for digging into this. We use cert-manager with ACME to get certificates for our domain and up until recently, cert-manager didn't seem to populate the issuer's cert correctly. [A recent version](https://github.com/jetstack/cert-manager/issues/2111) may have fixed the issue you're experiencing.

[2020-05-13 16:56] #8717 closed

[2020-05-13 17:12] jacekkolasa commented on #8980
@svrnwnsch indeed, in the new dashboard version we don't append `/` at the end, that is a bug, apologies for that! I'll add it to the next nightly and stable builds. All servers which we used to test it had a redirect in this scenario, that's why we didn't catch it... Is it possible for you to tweak your caddy config until you'll have the fix?

[2020-05-13 17:26] jacekkolasa commented on #8932
To do this, we would also need to add that UUID information into the /charts endpoint (which is an unfortunate source of stream-nodes information).

Url (IP) won't work here, Netdata Agent doesn't know the address.

@dim08 FYI

[2020-05-13 17:37] Prabhjot-code commented on #8943
We are running ./netdata-installer.sh with user which has sudo access.

[2020-05-13 17:56] amoss commented on #8932
We already support accessing replicated agents by their GUID, you can just replace the hostname with the GUID in the URL, e.g.:
[code]
This handles part of what you need. Is there a specific place that the urls with the hostnames are shown that is causing a problem?

[2020-05-13 18:37] olivluca commented on #8653
It may be expected but it is confusing: I see an alarm active in alerta (in may case), click it, go to netdata dashboard and there's no alarm there.

[2020-05-13 18:53] thiagoftsm commented on #8653
Hi @olivluca ,

Did you update your Netdata for a version bigger than 1.22? Case this happened, we are not redirecting yet the alarms with the new cloud and dashboard, but we will bring this feature soon. @VLegakis  and I are already working on this.

Best regards!

[2020-05-13 18:56] olivluca commented on #8653
Yes, now I'm using 1.22.1

[2020-05-13 19:04] thiagoftsm commented on #8461
Thank you for your suggestion @marcomusso !

[2020-05-13 19:05] mbarper opened #9028 "apps.plugin service name support"
##### Feature idea summary

This idea is for apps.plugin

I have a lot of troubles to monitor services based in a string that is searched in

-  ps -e or /proc/PID/stat
-  in case of substring mode: /proc/PID/cmdline

This problems come when users run command containing that string configured in apps_groups.conf and then the processes number change, and values for KPIs as well.

My idea is add sup

[2020-05-13 19:06] mbarper commented on #9028
If you agree with me about adding this feature I could try to do it myself but I have my C/C++ quite forgoten.

[2020-05-13 19:09] mbarper commented on #8942
I have processes with much more size than that and the string defined to detect the process as a service is beyond that size. I had to change the string to something before that size and it is not as accurate as the first one. Any chance to modify it? or any other advise?

[2020-05-13 20:47] thiagoftsm commented on #8942
Hello @mbarper ,

This strings supports 16kb, how many bytes would be necessary to support your process? You can change this defintion for the size that you want you also can  create a PR suggesting the change in the variable size.

Best regards!

[2020-05-13 22:15] zack-shoylev opened #9032 "Node unreachable from Cloud after reclaiming"
##### Bug report summary

##### OS / Environment

OS:
root@media ~ # cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"

Netdata Version:
root@media ~ # netdata -v
netdata v1.22.1-4-nightly

Installation Method:
bash <(curl -Ss https://my-netdata.io/kickstart.sh) --non-interactive >> $log 2>&1

Error log:
[error.log](https://github.com/netdata/netdata/files/4625006/error.log)

[2020-05-13 23:02] thiagoftsm commented on #9023
Hi @yasharne ,

Is the variable `$images_base_url` exported for the whole environment?
Another doubt, please, can you run the command `shell-check` in the file that has this script? After to copy it and run in my local machine, I got errors like:

[code]

and

[code]

These errors can explain possible problems that you are having.

Best regards!

[2020-05-13 23:09] #8624 closed

[2020-05-13 23:14] thiagoftsm commented on #8242
You are right @prologic , I already merged the majority of the PRs related to eBPF, but we are missing few steps to merge others.

[2020-05-13 23:15] thiagoftsm commented on #8847
Thank you @vlvkobal .
I will work on this tomorrow.

[2020-05-14 01:18] #8976 closed

[2020-05-14 04:49] prologic commented on #9016
@stdedos Can you help me understand the problem we're solving here? I don't object to this btw just not sure what the benefit ie either way :)

[2020-05-14 05:31] stdedos commented on #9016
It feels a little wrong that, in order to run a script/program, I need to `cd` in its directory

[2020-05-14 05:41] amoss commented on #9032
It is not clear from the bug report what series of steps the user went through. The log file indicates that the agent is not claimed. What was the output of the claiming script? Which node is unreachable - the original (which is still in the space) or the new one? How is the user telling them apart?

[2020-05-14 07:54] mixe3y commented on #6879
@prologic I think this issue still exists:

[code]

[2020-05-14 07:54] #8023 closed

[2020-05-14 08:03] #8891 closed

[2020-05-14 08:10] #7871 closed

[2020-05-14 08:13] vlvkobal commented on #3381
#8913 is merged. Can we close the issue?

[2020-05-14 08:20] djmattyg007 opened #9035 "Alarms dialog does not load correctly"
##### Bug report summary
Loading the Alarms dialog by clicking on the Alarms button in the toolbar does not work correctly. I get four error messages, one after the other, informing me that various JS libraries failed to load.

Specifically, the following libraries fail to load:

- clipboard-polyfill-be05dad.js
- bootstrap-table-1.11.0.min.js
- bootstrap-table-export-1.11.0.min.js
- tableExport-1.

[2020-05-14 08:28] svrnwnsch commented on #8980
I am currently replacing the link manually in my browser which is acceptable as the alerting via webhook still works and I do not need to do it to often. Nevertheless I would be happy with a quick fix :)

[2020-05-14 08:34] kozicpetar commented on #9024
Yes, that is valid.

`cat /proc/29519/stat`

[code]

`cat /proc/29519/cmdline`

[code]

[2020-05-14 08:42] #7173 closed

[2020-05-14 08:53] skrzyp1 commented on #8907
Have you tried using: https://github.com/netdata/netdata/tree/master/collectors/cgroups.plugin#unified-cgroups-cgroups-v2-support
As i remember there was no automatic cgroup type detection when i was working on that - it had to be switched manually.

[2020-05-14 08:57] #8368 closed

[2020-05-14 09:00] amoss commented on #3381
As long as it fixes the problem.

[2020-05-14 09:16] vlvkobal commented on #9024
It's strange. Every configuration you mentioned should work. Did you restart Netdata after changing the `apps_groups.conf`?

[2020-05-14 09:19] kozicpetar commented on #9024
Yes, several times and I tried to set that on several servers, same configuration.

Do I need to enable something special in netdata.conf

This is my netdata.conf

[code]

and I tried to add
[code]

but same results.

[2020-05-14 09:24] vlvkobal commented on #9024
Could you show your application groups with the "Which dimensions to show" option set to `All`
![image](https://user-images.githubusercontent.com/22008543/81917423-d578db80-95dd-11ea-8276-a0055d79f6d0.png)

[2020-05-14 09:26] vlvkobal commented on #9024
Even better to do it for the `apps.processes` chart.

[2020-05-14 09:30] vlvkobal commented on #3381
@davidmehren, @thegcat, please check if the issue was resolved.

[2020-05-14 09:31] kozicpetar commented on #9024
Here it is:

![Screenshot 2020-05-14 at 11 30 41](https://user-images.githubusercontent.com/53332414/81918120-62b83200-95d6-11ea-8a6e-344396eadb9c.png)

[2020-05-14 09:38] lassebm commented on #8905
I've observed that while `CFLAGS` are persisted in `.environment` by `kickstart.sh`, it's ignored and overwritten by `netdata-updater.sh`, breaking the workaround during the nightly updates.

[2020-05-14 09:42] vlvkobal commented on #9024
It looks like you have many more groups in the chart than are seen in the screenshot. Have you scrolled it and checked if there is an `sshfs` group?

Please check your `error.log`. Do you have something like this in the log?
[code]

[2020-05-14 09:46] kozicpetar commented on #9024
I scrolled and enlarge whole lists, there is no sshfs.

Yes, I have that error in error.log

[2020-05-14 09:47] vlvkobal commented on #9024
Please share that part of your log.

[2020-05-14 09:49] mwalbeck opened #9036 "DNT breaks chart loading"
##### Bug report summary
When Do Not Track is enabled in your browser and Netdata is set to respect DNT, charts no longer load. It seems Netdata requests **/api/v1/registry?action=hello** every time you access the web interface. This request errors with a HTTP 400 when DNT is enabled, and causes an error in the JavaScript code, which I assume causes the charts to no longer load.

If DNT is disable

[2020-05-14 09:50] kozicpetar commented on #9024
Sorry, that error in log is old.

When I restar netdata I get this:

[code]

[2020-05-14 10:17] vlvkobal commented on #9024
I think this is the problem:
[code]

Put the line with `sshfs` group before `ssh`.

[2020-05-14 10:25] cakrit commented on #8990
Please complete the work between the two of you, I really can't help at all this week.

[2020-05-14 10:30] kozicpetar commented on #9024
Great, it's works.
Thank you very much on fast repsonse @vlvkobal

[2020-05-14 10:30] #9024 closed

[2020-05-14 10:30] HolgerHees opened #9037 "CGroup PID not detected when running netdata as a container"
Hello,

I'm currently using your latest docker container 1.22.0.

Mostly everything runs fine except the network interface detection from other docker containers running on the host system.

The netdata container is running with SYS_PTRACE and "apparmor:unconfined" and the directory /sys is mounted as /host/sys readonly.

Inside the container I can see that it was detected as a sysfs

But I get a

[2020-05-14 11:52] Ferroin commented on #8531
Sorry for the (further) delay on this one. I should have a quick fix to avoid nuking the `netdata.conf` file some time later today, and if all goes well it should land in the nightlies within the next few days.

[2020-05-14 12:17] stohn opened #9039 "Stream client buffer exhausting and closing of connection causes reconnect problems with stream server."
##### Bug report summary
Stream client buffer exhausting and closing of connection causes reconnect problems with stream server.

This seems to be a network caused issue (slow connections) but the handling seems to be a bug in stream server.

##### OS / Environment
OS: debian10 for stream server and stream client
[code]

##### Netdata version
kickstart-static installs, tested with :
netdata v1.19.

[2020-05-14 12:21] mfundul commented on #9039
Maybe duplicate of https://github.com/netdata/netdata/issues/8825 ?

[2020-05-14 12:28] 2-man opened #9040 "Dark theme for app.netdata.cloud"
Please, make dark version for app.netdata.cloud
My eyes 🔥🔥

Thank you 💚

[2020-05-14 12:30] momon commented on #9032
Just to note: did you change something about this in last night's update? I went in this morning to reproduce the test for you and suddently it appears to be working (before doing anything).  The "unclaimed / unreachable node" is now showing data.

That being said, I will go through the steps now to try and reproduce it:

1) I go to manage war room > nodes and remove the node.
2) I go into my node

[2020-05-14 12:42] stohn commented on #9039
@mfundul
Based on the description of #8825 it seems to be related. Sorry, missed this one when I was searching.

[2020-05-14 12:45] amoss commented on #9032
Thanks @momon - very helpful info. It is possible that something changed on the cloud side, or it could be a connection bug in the agent. What do your agent logs show if you `grep ACLK error.log` ?

[2020-05-14 12:56] mfundul commented on #9039
No need to be sorry! It may be a duplicate, or it may be simply related. My comment was mostly directed at @thiagoftsm

[2020-05-14 13:08] ekexcello opened #9041 "monitor number of open tables - table cache usage"
##### Feature idea summary
For monitoring MySQL, It would be helpful to see not only query cache, but also table open cache in mysql charts.
There are 3 parameters that are easy to get from command line, but would be helpful to see in charts, namely:

- open_tables (this is table cache utilization, can be checked with `show global status like 'open_tables'`)
- opened_tables (this is counter of ope

[2020-05-14 13:21] #8848 closed

[2020-05-14 13:21] momon commented on #9032
Here you go, seems like there is some sensitive info here but since this is still just tests I'll ignore it.  I will eventually re-link things (when it works):

[code]

[2020-05-14 13:32] amoss commented on #9032
Thanks for the log. I don't think any of the sensitive info should be a problem (the machine GUID is random and we wipe the challenge/response so it cannot be replayed).

What I can see in the log is that initially the cloud and the agent disagree about the credentials. The messages about the output buffer mean that when the agent attempted to decrypt the challenge from the cloud it used a key tha

[2020-05-14 13:39] momon commented on #9032
Sounds good @amoss thanks for looking into it.

Don't forget that "overnight" it worked.  So there may also be some sort of timing issue tied to this, would be interesting to see this go overnight also (same for the other users) to see if after x amount of attempts it eventually reconnects.  Maybe the cloud app blocks attempts for x amount of time before it can allow for an actual "reconnect"?

I'

[2020-05-14 13:46] amoss commented on #9032
@hmoragrega The log here looks similar to what we saw on #8977. I am wondering if there is a way for the credentials used in the challenge-response to get out of sync with the credentials in VerneMQ. Do we have a way to look into this and find out what was happening on the other end of the connection?

[2020-05-14 13:48] thiagoftsm commented on #8881
Hi @yasharne ,

Firstly I apologize the delay, please, can you open the browser developer tools and send us the network information?
Days ago I helped another user to configure a network that is more or less like yours and we opened another port to take care of registry, you can see more details [here](https://github.com/netdata/netdata/issues/8947), but I am not sure if the solution we found for

[2020-05-14 13:56] PrakashLakhara opened #9042 "Securing the access."
How can we make it secure. Accessing with user name and password ?

[2020-05-14 14:11] #8749 closed

[2020-05-14 14:12] stohn commented on #8825
@thiagoftsm
I started an issue (#9039) which sounds very much like this one.

In my case no load at all is involved.

Just a slow SSL connection from slave to master and a small buffer size on slave (1MB) triggers this very often for me. As a workaround I increased the buffer size on slave to 10MB which lets this happen not so often anymore.

[2020-05-14 14:14] HolgerHees commented on #9037
I was able to get it working by "--pid host" together with "--privileged"

but this will give the container nearly unlimited access to the host system.

[2020-05-14 14:18] xPaw opened #9043 "Disabling cloud still performs requests to app.netdata.cloud"
##### Bug report summary

I put `[global] enabled = false` in `/var/lib/netdata/cloud.d/cloud.conf`

Info api response:
[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1-17-nightly

##### Component Name

Web/dashboard

##### Steps To Reproduce

1. Disable cloud
2. Open the dashboard and monitor requests in devtools to `sso/sign-in`

##### Expected behavior

When cloud

[2020-05-14 14:32] ilyam8 commented on #9042
Hi @PrakashLakhara

There is nothing built-in for securing access with username/password

We suggest to run Nedata behind web server/proxy if you need username/password auth.

See

---

related #3501

---

@dim08 take a look, probably we need to rethink it and implement at some point

[2020-05-14 14:32] #9042 closed

[2020-05-14 14:51] Ferroin commented on #9016
I would tend to agree, `edit-config` only works right now if you're in `/etc/netdata` (or the equivalent for your install prefix), which feels kind of odd.

[2020-05-14 15:11] mfundul commented on #8923
List of development actions:
- Introduce new web API call that lists all charts, both active and historical/obsolete ones
   - introduce additional information per chart about this status
- Update cloud with list of charts whenever `cleanup obsolete charts after seconds` seconds have passed since a chart has been marked as `OBSOLETE`.
   - Do **not** delete the data structures at that point anymor

[2020-05-14 15:11] #8923 closed

[2020-05-14 15:24] amoss commented on #9032
@momon The trace showed the problem and we've found the bug in the agent. I'll have a PR to fix it shortly, might be in the nightly later today.

[2020-05-14 15:28] stdedos commented on #9016
It's not complicated ... just about 10 lines to clean this up, "safeguard it", and make the `cd` inside `edit-config`'s context.

The question is, who is not bored at this time 😛

[2020-05-14 15:30] momon commented on #9032
@amoss fantastic stuff.  Thanks guys! This new update is awesome, loving it so far.  I am testing it out so I can eventually migrate my production servers over from Zabbix.  You guys are doing a fantastic job with this.

Thanks again!

[2020-05-14 16:00] Peggy4444 commented on #8847
We have tested several backend type over **calico** to see the result. but opentsdb:http is not working in influxdb.
we use the latest version from all of those, no error in influxdb logs, and such errors in netdata master logs:  2020-05-14 10:41:19: netdata ERROR : BACKENDS : BACKEND: failed to write data to database backend 'influxdb:4242'. Willing to write 8021137 bytes, wrote 370132 bytes. Wil

[2020-05-14 16:02] thiagoftsm commented on #8825
Hi @stohn ,

Thank you for your suggestion, would you like to create a PR increasing this buffer?

best regards!

[2020-05-14 16:04] thiagoftsm commented on #9039
Yes @mfundul there is a relationship between both.
@stohn I already answered you there, so I am closing this issue for we move forward there.

Best regards!

[2020-05-14 16:04] #9039 closed

[2020-05-14 16:05] mfundul commented on #8825
I thought he was talking about this:
https://github.com/netdata/netdata/blob/c35149a3b44c6ef6a4c8c71b5e390700076c2884/streaming/stream.conf#L81

[2020-05-14 16:06] ilyam8 commented on #9039
dup of ##8825

[2020-05-14 16:50] #8998 closed

[2020-05-14 18:09] jacekkolasa commented on #9036
Thanks @mwalbeck for detailed report! There was indeed a bug, the fix should go soon to Nightly build.

BTW DNT stops users from accessing Netdata Cloud, @cakrit @dim08 @manos-saratsis do we want to stick with that? It happens because `cloud-base-url` is not accessible in this case (registry call returns error). If you confirm that, maybe we should update `respect do not track` section in https://

[2020-05-14 18:50] zack-shoylev opened #9050 "Azure Monitor export support"
##### Feature idea summary
It would be great if it was possible (and there was a guide on how) to export Netdata metrics to [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/overview).

##### Expected behavior
Azure Monitor uses their own custom restful APIs to ingest metrics - see https://docs.microsoft.com/en-us/rest/api/monitor/metrics%20(data%20plane)/create
It might be poss

[2020-05-14 19:03] jacekkolasa commented on #8877
@thiagoftsm do you still think there is problem with Dashboard here? I'm not sure if i should spend time on this issue

[2020-05-14 19:12] jacekkolasa commented on #9043
@xPaw currently `cloud-enabled` setting is related more to Agent-Cloud connection (not Browser-Cloud), so we don't display Call To Actions to Cloud, notifications about insufficient dependencies or sign-in button. But we load the iframes, in case users sign in on different Agent, to have the Visited Nodes list. We don't store any information when you're not logged in, but if you want to prevent th

[2020-05-14 19:14] xPaw commented on #9043
That does work, but feels like a hack, really.

The same issue happens with the registry, setting it to disabled still performs requests, and the only way to avoid that is to change the url.

[2020-05-14 19:17] thoggs opened #9051 "Bundle missing in ClearLinux* OS: ERROR when running one line installation script"
As I title, I noticed that, when trying to run the installation script using the --stable-channel flag, on Clear Linux * OS (Server), the script returns an error, claiming that lib libuuid-devel (package uuid is speaking) -dev).

**I solved the problem by installing:**
=> devpkg-util-linux bundle

**ERROR:** netdata failed to build...
**OS:** Clear Linux* OS - Server
**Netdata v1.22.1**

[2020-05-14 19:30] jacekkolasa commented on #9043
I agree, it's a hack, i'm giving this hint because we just don't have that feature yet... :( `"cloud-enabled": false` serves a little different purpose.

Another option would be setting `respect do not track policy = yes` in `/etc/netdata/netdata.conf` - this way no call to cloud is made, but you need to configure browser to add DNT flag. This is how it works in old Dashboard (accessible still wit

[2020-05-14 19:34] thiagoftsm commented on #8877
No @jacekkolasa , I am thinking it is a problem related with the compilation process.
You do not need to spend a time here, I am trying to recreated the alarm situation, but I did not have success yet.
Thank you!

[2020-05-14 19:35] xPaw commented on #9043
The ideal solution I see is when cloud and registry are set to disabled, actually disable anything related to these features.

[2020-05-14 19:49] jacekkolasa commented on #9043
I agree that we should allow disabling it completely, but for this we would need to add new flags. CC @cakrit @dim08

[2020-05-14 19:55] amoss commented on #9032
@momon  Hi, we've run into a delay. The bug that we fixed has uncovered something more serious and we need to diagnose another problem before we can release this.

While I was replicating it though I've worked out why it went wrong -
Step 5 - this sets up the claimed state of the agent and it tries to connect to the cloud.
Step 6 - at the end of the new claim it reloads the state in the agent memo

[2020-05-14 20:08] amoss commented on #9043
I think that is the meaning of the `cloud-enabled` flag. If it is set to false then it means the user explicitly switched off cloud support, either the way that @xPaw has described or by passing `--disable-cloud` to the installer. In either case there should be no cloud related navbars shown and no requests to sso.

I think that the other meaning that @jacekkolasa is thinking of is the `aclk-enabl

[2020-05-14 20:46] momon commented on #9032
Aha! that makes perfect sense.  No worries I am not pressed for the change, just excited to see it working so I can start adding more nodes and look at an upgrade path for my infrastructure.

You guys are killing it, keep it up.

[2020-05-14 20:56] jacekkolasa commented on #9043
@amoss we have decided with @manos-saratsis to always try to check if user is signed in - only to have the possibility to see Visited Nodes. So it's a feature completely unrelated to Agent-Cloud Link. We disable sign-in button in this case but leave the possibility for SSO open if you've signed in on other Agent.

[2020-05-15 01:49] doodie commented on #8970
tried 1.221 and same issue

`-- Configuring incomplete, errors occurred!
See also "/tmp/netdata-jsonc-Huhddu/json-c-json-c-0.14-20200419/CMakeFiles/CMakeOutput.log".
See also "/tmp/netdata-jsonc-Huhddu/json-c-json-c-0.14-20200419/CMakeFiles/CMakeError.log".
 FAILED

[/tmp/netdata-jsonc-Huhddu/json-c-json-c-0.14-20200419]# env CFLAGS= CXXFLAGS= LDFLAGS= make
make: *** No targets specified and no ma

[2020-05-15 02:49] thoggs opened #9054 "FAILED build in FreeBSD 12.1 -> Solution alternative (netdata cloud service now works)"
Hi,
I encountered a problem when trying to install FreeBSD 12.1 RELEASE; during the construction process, watching the Netdata 1.22.1 installation script returned error:

**1 -> FAILED, the cmake, needed to compile libwebsockets, could not be found.**

**Solution to the problem:**
I installed the cmake via pkg.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
**OS:** FeeBSD 12.1 RELEASE, without debug kernel and

[2020-05-15 03:59] esamson commented on #8917
I no longer see this issue in the latest release, **1.22.1-1.el7**.

[2020-05-15 03:59] #8917 closed

[2020-05-15 05:09] #8627 closed

[2020-05-15 05:56] dosiek opened #9055 "Netdata keeps compiling something (High CPU usage/makes the device freeze)"
Hey, so basically I found a weird thing. I saw my device freezing a lot so I tried to get the reason why its doing it. So when I saw high CPU usage I went ahead and ran top and saw that process cc1 takes 90% CPU. Used ps -eF | grep cc1 and got the logs that it's something with netdata. Can't find any thread so hope you can help me :)
Logs:
[code]

[2020-05-15 05:57] manos-saratsis commented on #9043
@jacekkolasa I think @xPaw and @amoss are right. If a user has `[global] enabled = false` they shouldn't see even visited nodes served by the Cloud unless they setup their private registry. I'll add a separate issue to track this.

[2020-05-15 06:36] mynetfocus commented on #1605
It displayed cat: /proc/1/stat: No such file or directory

So, how to get it working?

[2020-05-15 06:50] ncmans commented on #8779
@ilyam8 do we have instructions on how to claim agents on kubernetes/via our helm chart?

[2020-05-15 07:04] projik opened #9056 "Dashboard - Incorrect links in Replicated Nodes menu"
##### Bug report summary
The 'Replicated Nodes' menu sets the URL for the 'Master' node to the URL of whichever node you are viewing. This means that:

1.  You can't return to the dashboard of the master node by clicking on it in the menu
2. You get an error if you try to click on another node in the menu.

##### OS / Environment

[code]

##### Netdata version

 netdata v1.22.1-33-nightly

##### C

[2020-05-15 07:30] ilyam8 commented on #8779
as far as i know we dont, i didnt think about it at all but i guess we need only to add some `args` (if token and rooms are set) 🤷‍♂️

[2020-05-15 07:34] ilyam8 commented on #8779
i think there are some problems we need to address with persistent claiming stuff too 🤔

[2020-05-15 07:36] #8714 closed

[2020-05-15 07:44] Hierosme opened #9057 "Permit to change installation directory and user"
It look impossible to change the installation directory, when using kickstart script, and the kick start script require root acces for create user/group directory.

If i can change the user/group , and installation directory then we'll can simulate netdata installation.
(still have systemd , but will be happy without)

#### Feature idea summary
**--user**=the username to user
**--group**=the group

[2020-05-15 08:04] vlvkobal commented on #1605
Provide as much information about your environment (which operating system and distribution you're using, if Netdata is running in a container, etc.) as possible.
[code]

[2020-05-15 10:29] stohn commented on #8825
After I increased buffer size in "netdata/streaming/stream.conf" to 10 MB
`buffer size bytes = 12328960`
I never got my initial problem (could not reconnect after buffer overrun).

So it clearly is related to slave closes connection, master does not recognize/handle it properly.

This also looks like issue #8930

[2020-05-15 11:50] ilyam8 commented on #8825
it looks like yes, same problem as in #8930

[2020-05-15 11:59] thiagoftsm commented on #9056
Hi @projik ,

It is possible your problem has relationship with space on hostname, could you access these hosts on old dashboard? @jacekkolasa we had a problem like this before, do you remember whether we brought a fix?

Best regards!

[2020-05-15 12:04] thiagoftsm commented on #9057
Hi @Hierosme ,

Netdata allows to use `--install /directory` to specify a destination, on the other hand, for user and group, I think we do not have this option. @Ferroin and @prologic can you confirm this? If we do not have, I have to say that I liked @Hierosme suggestion we could think more about to bring these new options.

Thank you for your suggestion @Hierosme !

[2020-05-15 13:06] mynetfocus commented on #1605
/etc/cloudlinux-release:CloudLinux release 7.8 (Alexei Leonov)
/etc/os-release:NAME="CloudLinux"
/etc/os-release:VERSION="7.8 (Alexei Leonov)"
/etc/os-release:ID="cloudlinux"
/etc/os-release:ID_LIKE="rhel fedora centos"
/etc/os-release:VERSION_ID="7.8"
/etc/os-release:PRETTY_NAME="CloudLinux 7.8 (Alexei Leonov)"
/etc/os-release:ANSI_COLOR="0;31"
/etc/os-release:CPE_NAME="cpe:/o:cloudlinux:cloudlin

[2020-05-15 13:33] vlvkobal commented on #1605
Do you run Netdata in a container?

[2020-05-15 13:58] Hierosme commented on #9057
May be that the kickstart-static64.sh, but --install look to be a unknow option

[code]
Our goal is to simulate massive installation of netdata on our DEV venv, without compilation, and without root access. (just test files download and setting templates)

We have push to later the **systemd**  but in case a option like **--no-install-systemd-service** will help.

Thanks for you assistance.

[2020-05-15 14:14] Snuggle opened #9059 "system.ram High Utilization Warnings"
##### Bug report summary
I keep getting a warning/critical alarm for the `system.ram` module, which in turn is sending critical notifications about my server to my phone.

My VM server has a high amount of buffers usage but for some reason this is being taken into account in the `system.ram` alarm notification. Shouldn't buffers be counted in the variable `$used_ram_to_ignore` since they're just a

[2020-05-15 14:29] Ferroin commented on #9051
@thoggs Thank you for reporting this! I'll have a PR up with a fix shortly, and it should hopefully be in the nightly builds within the next few days.

[2020-05-15 14:35] breenjoe opened #9061 "[macOS / Homebrew] This agent was built without the dependencies for Cloud and cannot be claimed"
##### Bug report summary
Installed the latest version with brew upgrade netdata
Then tried to claim the node using the following:
`sudo netdata-claim.sh -token=tokenkey -rooms=room-key -url=https://app.netdata.cloud`
The following message is returned:

##### OS / Environment
10.15.4 (19E287)

Place the output from the command in the code section below.
 -->
[code]

##### Netdata version

##### Com

[2020-05-15 14:38] ilyam8 commented on #9061
hi @breenjoe

unfortunately we dont maintain Netdata brew package

cc @prologic @Ferroin

[2020-05-15 14:48] Ferroin commented on #8970
@doodie I'm fairly certain that that's a different issue, JSON-C had to have been fetched and unpacked correctly, otherwise it wouldn't have gotten to trying to configure and build it. Can you open a new issue and include all of the output from the installer.

[2020-05-15 14:52] Ferroin commented on #9054
Was this with the FreeBSD Port of Netdata, or our official installer (`kickstart.sh` or `netdata-installer.sh`)?

[2020-05-15 15:00] Ferroin commented on #9057
As of right now, there unfortunately no easy way we can support either of these for our static build. There are a number of default config options that are determined at compile time based on the user and prefix that Netdata is being configured to use.

[2020-05-15 15:22] Hierosme commented on #9057
Yep understand the hard requirement for static build.

Our work arround is to make our devellopemnt and tests inside a LXE container.
In any way thanks to have take a look and i hope it will help to improve netdata distribution design.

By the way in that case **/opt** is the perfect location.

Regards

[2020-05-15 15:26] mynetfocus commented on #1605
It runs in cpanel with cloudlinux and litespeed webserver.

[2020-05-15 15:30] vlvkobal commented on #1605
@Ferroin do you have any idea on the matter?

[2020-05-15 15:53] Ferroin commented on #1605
If it's affecting root, it's probably an LSM interfering with access to `/proc`.

@mynetfocus Can you run `ls -lZ /proc` and see if it lists anything after the user and group name in the output? If it's anything other than just a `?` for everything, then SELinux is probably the issue here.

[2020-05-15 16:19] thoggs commented on #9054
It happened with the Netdata installer (netdata-installer.sh).

Ports/pkg versions are out of date.

[2020-05-15 16:20] thoggs commented on #9054
It happened with the Netdata installer (netdata-installer.sh).
Ports/pkg versions are out of date.

[2020-05-15 16:24] thoggs commented on #9051
Thank you very much for your attention.
I am also a developer, and I understand about Shell Script, maybe I can help the project to progress even more...

[2020-05-15 16:36] thiagoftsm commented on #9054
I already communicated the BSD team about the latest version.

[2020-05-15 16:37] daneroo commented on #9061
If anyone knows how to contact the brew formula maintainer, please leave any hints here. Thanks

[2020-05-15 16:44] thoggs commented on #9054
Thank you!
Netdata is such an interesting project that there is no way not to help the project...

[2020-05-15 16:54] amoss commented on #8919
Closing in favour of new issues (design shifted, we won't need to enumerate GUIDs)

[2020-05-15 16:54] #8919 closed

[2020-05-15 17:05] amoss opened #9063 "Communicate slew for determining the gap size"
* Put extra time stamps in the existing messages - add remote timestamps to BEGIN on the plugins.d protocol and make sure they are ignored in the plugins.d parser.
* Generate slew estimates from the timestamps
REMOVED * Communicate slew estimates
REMOVED * Persist the slew estimates to disk</st>

[2020-05-15 17:07] gb5256 opened #9064 "Gaps in Graphs"
Hello,
I expierence gaps in the graphs:

<img width="1121" alt="image" src="https://user-images.githubusercontent.com/324658/82076900-c6c61d80-96de-11ea-9ada-b2987cc0f6b6.png">

Looking at the netdata error logs I see lots of missing heartbeats:
2020-05-15 04:30:04: netdata ERROR : STATSD : heartbeat missed 1668006 monotonic microseconds
2020-05-15 04:30:04: netdata ERROR : PLUGIN[cgroups] : heart

[2020-05-15 17:10] thiagoftsm commented on #9054
We are glad to read words like yours, and of course, in my case I am also glad to read words like these ( "Isso aconteceu com o FreeBSD Port of Netdata, ou com o nosso instalador oficial" ) :D

[2020-05-15 17:14] thiagoftsm commented on #9064
Hi @gb5256 ,

Do you have slave connections on this server? Or is it a standalone Netdata ?

Another doubt, please, can you share the values that you are using for `memory mode`, `page cache size` and `dbengine disk space`?

best regards!

[2020-05-15 17:19] gb5256 commented on #9064
Hi, thanks for your help..
this is a standalone Netdata server.
The values for memory mode etc are untouched, so they are the netdata default values:
        # memory mode = dbengine
        # page cache size = 32
        # dbengine disk space = 256

[2020-05-15 17:27] thiagoftsm commented on #9064
Hi @gb5256 ,

Considering that default values are probably creating problems for you, it is possible you need to adjust your environment, please, take a look on our [documentation](https://learn.netdata.cloud/docs/agent/database/engine/#file-descriptor-requirements).

Best regards!

[2020-05-15 18:25] Ferroin commented on #9054
OK, then unfortunately this is expected. Our installer currently doesn't have support for pulling in dependencies on FreeBSD. Progress on that can be tracked in #8130, though it's low priority at the moment as our SRE team (who are also responsible for our packaging/installer code) is abnormally busy at the moment due to the Netdata Cloud release.

[2020-05-15 18:27] Ferroin commented on #9054
Closing this as a duplicate of #8130.

[2020-05-15 18:27] #9054 closed

[2020-05-15 18:55] asdokfgsopdkg opened #9065 "308 redirect to http site when running behind SSL termination proxy"
##### Bug report summary
Netdata master is running behind a GCP HTTPS proxy.

Node streaming is working fine (streaming ingress is done via GKE LoadBalancer and NOT via the HTTPS proxy).

When I mouse over a streaming node in the dashboard, the link to it is https.
When I click on the node, a http 308 redirect is given to the client, with a `location: http://...` header, which redirects the browse

[2020-05-15 20:40] #8941 closed

[2020-05-15 20:43] AlexHeylin commented on #3824
+1 from me too

[2020-05-15 20:46] davidmehren commented on #3381
I just checked using `v1.22.1-33-nightly` and get `-126%` on the `ram in use` alert. So there probably won't be any alerts because of that but the value is still wrong ;)

I think @tnyeanderson is right and netdata needs some kind of container detection or setting, which switches the memory and CPU load metrics to use the correct values.

[2020-05-15 21:20] vlvkobal commented on #3824
@dim08 please pay attention to the number of votes.

[2020-05-15 22:50] projik commented on #9056
Hi @thiagoftsm,

I replaced the spaces in the hostnames with dashes and that has fixed the problem.

I don't know if there was a problem on the old dashboard, I only started the streaming set-up in the last 24 hours.

David

[2020-05-15 23:10] thiagoftsm commented on #9056
Thank you for the feed back @projik !
When I heard about this problem before, it was with the old dashboard, probably Netdata did not fix this problem yet.
I am glad that you could fix the problems in your side. I will keep this issue open, for we remember to fix this in a near future.

best regards!

[2020-05-16 01:10] thiagoftsm commented on #9065
@jacekkolasa , I think this has relationship with the dashboard instead the agent, because the streaming is working correctly, but case I am wrong, please, let me know.

[2020-05-16 02:09] #8640 closed

[2020-05-16 03:01] thiagoftsm commented on #8461
After tests with OpenTSDB and InfluxDB, it was possible to confirm that the current Header format is not impacting a system when it is running with 1600 metrics.

Return [Top](https://github.com/netdata/netdata/issues/8461#issue-586226714)

[2020-05-16 03:40] thiagoftsm commented on #8847
Hi @Peggy4444 ,

I created now the PR #9068 that expects to fix the problems that you are having with this.
We apologize the delay to deliver the solution.

best regards!

[2020-05-16 03:41] thiagoftsm commented on #8111
Hello @mixe3y  and @szike,

I created the PR #9068 that we expect to fix the problem you are reporting here.

best regards!

[2020-05-16 10:48] yasharne opened #9069 "proxysql plugin requires mysqldb library on python3"
##### Bug report summary

When I set the flag `-ppython3` in the netdata.conf file, the `proxysql` plugin stops working, here is the output of  `/opt/netdata/usr/libexec/netdata/plugins.d/python.d.plugin -ppython3 proxysql debug trace`:
[code]
I checked the configuration page on the github but no dependency was mentioned: https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/pr

[2020-05-16 10:51] ilyam8 commented on #9069
Hi @yasharne

It requires mysql lib on both py2 and py2, its parent class is `MySQLService`

https://github.com/netdata/netdata/blob/6396b77b8e3f9fb817caeb50ac26ecd159394783/collectors/python.d.plugin/proxysql/proxysql.chart.py#L199-L200

[2020-05-16 10:51] ilyam8 commented on #9069
Yes, this is a bug

[2020-05-16 10:54] mynetfocus commented on #1605
ls -lZ /proc
dr-xr-xr-x root     root     ?                                1
dr-xr-xr-x root     root     ?                                10
dr-xr-xr-x root     root     ?                                1046332
dr-xr-xr-x root     root     ?                                1046377
dr-xr-xr-x root     root     ?                                11
dr-xr-xr-x root     root     ?

[2020-05-16 10:54] mynetfocus commented on #1605
cat /etc/selinux/config

# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enforced.
#     permissive - SELinux prints warnings instead of enforcing.
#     disabled - No SELinux policy is loaded.
SELINUX=disabled
# SELINUXTYPE= can take one of three two values:
#     targeted - Targeted processes are

[2020-05-16 10:59] JonAnder83 opened #9070 "Netdata docker image creating zombie process"
##### Bug report summary

I've noticed netdata causes a process to go zombie on my systems running it from within docker.

##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1-32-gc35149a3

##### Component Name

##### Steps To Reproduce

1. Deploy the image
2. Get netdata to run

Reproduced on 2 different raspberry pi's model 3B+ running same version of arch, same configuration f

[2020-05-16 11:05] ilyam8 commented on #9070
Hi @JonAnder83

This is all, just `docker run ...` and there is zombie process?

This my output (manjaro)

[code]

[code]

[2020-05-16 11:16] JonAnder83 commented on #9070
[code]

I run the image based on this yml file I tailored:

[code]

The zombie process seems to come and go. I've noticed it because I'm collecting stats with grafana.
At first, some days ago, I thought it was just something normal, but after seeing it oftenly, I've decided to look into it, now that the weekend allows me to dig deeper in this kind of stuff.

Thanks!

[2020-05-16 11:29] ilyam8 commented on #9070
ok ok i my nd image was not latest

No i see the process

[code]

[2020-05-16 11:31] ilyam8 commented on #9070
Possible cause

[2020-05-16 11:39] mfundul commented on #9070
@JonAnder83 is it only 1 zombie process for ever, or is the number of zombie processes growing with time?

[2020-05-16 11:41] vlvkobal commented on #8461
We should define alarms for the exporting engine and use templates as far as we have a set of charts for every instance.

[2020-05-16 11:47] JonAnder83 commented on #9070
I think top I've seen is two at the same time. Don't know if it does have to do with me tinkering with the processes trying to id and kill them. Usually it's just only one.

[2020-05-16 12:14] yasharne commented on #8881
Thanks @thiagoftsm ,
I'm not sure if this is what you've asked, but here is the output:

![image](https://user-images.githubusercontent.com/7656049/82119514-7dd0a080-9794-11ea-8ab0-f4d98f0008de.png)

[2020-05-16 13:10] thiagoftsm commented on #8461
I will create alarms for exporting engine in the same PR that I will create alarms for the backend.

[2020-05-16 13:11] gb5256 commented on #9064
Hi @thiagoftsm,
thanks for you remarks. I have played around with several settings, but not of them made any difference. I have then found somebody complaining about ubuntu 18.4 freezing problems with kernel 4.x So I have upgraded to kernel 5.x as that comes with some hardware improvements. That has actually solved the issues. So it looks like the gaps where not related to netdata, but just to the

[2020-05-16 13:11] #9064 closed

[2020-05-16 14:28] #9069 closed

[2020-05-16 14:29] ilyam8 commented on #9069
thx for reporting @yasharne

[2020-05-16 16:56] chrisfw commented on #8966
Hi,
How does one who is not using NGINX or any reverse proxy but still gets this error on CentOS 7 resolve the issue?  The fix sounded more like something that should be done on the netdata cloud side by providing the full certificate chain?
Thanks in advance for any clarity you can provide.  I am happy to provide logs if necessary, but it sounds like the same exact issue related here.

Regards,
C

[2020-05-16 19:45] thiagoftsm commented on #9064
Hi @gb5256,

Be free to reopen the issue if the problem happens again and let us know case you need any help.

Best regards!

[2020-05-16 20:09] vladsol commented on #8966
OS: CentOS Linux release 7.8.2003 (Core) x86_64

When installing from prebuilt binaries (stable and nightly build), claimed nodes appears in dashboard as "unreachable"

2020-05-16 22:50:35: netdata INFO  : ACLK_Main : Attempting to establish the agent cloud link
2020-05-16 22:50:35: netdata INFO  : ACLK_Main : Retrieving challenge from cloud: app.netdata.cloud 443 /api/v1/auth/node/node..id/challe

[2020-05-17 07:58] dt-rush commented on #7288
This is now possible as we've added labels to allow `:ro` mounting of `sysfs` and `procfs`.

Simply add the following as a service in your `docker-compose.yml`:

[code]

[2020-05-17 11:01] dosiek commented on #9055
bump

[2020-05-17 11:05] ilyam8 commented on #9055
@mfundul @Ferroin take a look, i am 🤷

[2020-05-17 11:11] dosiek commented on #9055
Also there is some other processes not only cc1 but it's cc1 most time, and it happens around 7-8 AM everyday from my observations.

[2020-05-17 11:26] ffMathy opened #9072 "Using Pull Dog"
I recently launched a service that I believe could be helpful in this repository. It's free to use (from a demo-cluster pool of free servers), and I need feedback. I think it could really be a win-win for us both.

https://dogger.io

It automatically spawns up a Docker-based test environment for each of your pull requests, based on a docker-compose.yml file that you choose.

I think it could be he

[2020-05-17 11:32] mfundul commented on #9055
Maybe netdata is auto-updating every day from source, thus recompiling the latest nightly build.

[2020-05-17 12:01] Lyoko-Jeremie opened #9073 "netdata master only can handle 4 slave ?"
##### Question summary
is the master node only can handle 4 slave streaming data ?

i have 4 machine A,B,C,D on my home LAN, and i let the A as master with dbengine and B,C,D stream  data to A.
now i can see A,B,C,D on the A 's web left-top panel ( home A with slave B,C,D). and i can see the B,C,D with `http://A:19999/host/{B,C,D}` . they are work well. i'm very happy~

then, i want to monitor my

[2020-05-17 12:07] mfundul commented on #9073
Look for suspicious errors in your master netdata server's error log `var/log/netdata/error.log`. Also look for any alarms that may have been triggered in the master's dashboard.

You may have hit a file descriptor limit. Look [here](https://github.com/netdata/netdata/tree/master/database/engine#file-descriptor-requirements) for how to increase it. I have successfully set-up a master server with 1

[2020-05-17 13:28] Lyoko-Jeremie commented on #9073
@mfundul
yes, you are right.
after i set the `LimitNOFILE` , it work well.

thank you very much ~~

[2020-05-17 13:28] #9073 closed

[2020-05-17 15:03] yasharne opened #9076 "netdata master server uses more ram than expected"
##### Bug report summary

We have defined in the master node to allow each slave to use 64Mb of ram and 256Mb of disk in the `netdata.conf` file:
[code]
On the Other hand, 50 slaves are streaming to this master, So I expect 3264Mb of ram dedicated to all nodes (51*64mb).
Also, we have 51 dbengine files, so I expect 51* 256Mb= 13056Mb of dbengine file size on the disk, according to the charts, comp

[2020-05-17 15:54] mfundul commented on #9076
You seem to have a lot of dbengine memory allocated to collectors. How many metrics does each slave collect? Over 5000?

You should check out the calculator here: https://learn.netdata.cloud/docs/agent/database/calculator/

The `metadata` metric in the `netdata.dbengine_ram` seems to be bigger than expected for 50 slaves.

This way you should be able to approximately calculate dbengine memory cons

[2020-05-17 16:10] thoggs opened #9077 "FAILED not critical -> after installing using the official installation script"
Hello,
After running the `netdata.io/kickstart.sh` installation script, at the end of the installation, you receive the following error:
**Note:** cronie is already installed
![Captura de Tela 2020-05-17 às 12 54 45](https://user-images.githubusercontent.com/43221193/82153620-f55b0a00-983e-11ea-8d4d-f8ac182ab102.png)

**Note 2:** installation made on a clean operating system, without any customiz

[2020-05-17 17:36] #8744 closed

[2020-05-17 21:24] thiagoftsm commented on #8881
Hi @yasharne ,

This was exactly what I wanted, now I think I have enough information to talk with our frontend guys, thank you!
@jacekkolasa There is a problem with our dashboard that is not allowing @yasharne to open his hosts, please, take a look on the image and please, identify the error that is happening in our js files.

[2020-05-17 21:30] thiagoftsm commented on #8949
The logs written inside `error.log` use the function I reported to get the date @ilyam8, this was the motive I asked the information. The difference between times that we see can have relationship with some changes made by NTP according official documentation of the function called from libnetdata. It is possible we need to change the function that we use to get the time before to write the log.

[2020-05-17 21:31] ilyam8 commented on #8949
I think the problem is using UTC time in go.d logger

[2020-05-17 21:33] thiagoftsm commented on #8949
Thank you @ilyam8 !

[2020-05-17 21:34] thiagoftsm commented on #8949
@yasharne are you have problems with other logs?
Or do you have this time difference only with go.d?
I assumed that you had problems with all.

[2020-05-17 21:35] ilyam8 commented on #8949
it is only with go.d according his screenshot and i confirm it, there is a bug

[2020-05-17 21:37] thiagoftsm commented on #8949
I agree that the screenshot is only showing go.d, this is the motive I asked about the rest.

[2020-05-18 02:50] prologic commented on #8604
Sorry for the dealy on this; but I I believe you want to do something like this on your system9s):

[code]

I ran into this myself while doing some testing on CentOS 8 where pretty much everything inbound is blocked (_by default_) except for ICMP and SSH.

Please let me know if this helps! It is not clear to me (_yet_) whether we should be adding this to the Netdata installer or any of our packagi

[2020-05-18 03:47] prologic commented on #8604
Once you do this you also want to:

[code]

[2020-05-18 05:47] dosiek commented on #9055
Is there anyway to prevent it? It's literally freezing my raspberry pi...

[2020-05-18 06:18] yasharne commented on #9076
Thanks @mfundul for your explanation, Yes some of our bare metals are also streaming to this master and the collected metrics vary from 8000 to 16000 on them, others collect about 1500 metrics
The number returned by the calculator is almost correct, the `metadata` is now over `1.5Gb`

[2020-05-18 07:18] ilyam8 commented on #9055
@dosiek consider to switch to stable channel

[2020-05-18 07:33] mfundul commented on #9076
Let's see now, with 87% compression savings and 256MB disk space we get about 256/0.13=2GB of uncompressed metrics per slave. That is 100GB of uncompressed storage for 51 nodes. In that case the `metadata` can go up to 3GB when all database files are full.

[2020-05-18 07:48] yasharne commented on #9076
Thanks @mfundul for your explanations, I guess I have to disable the unnecessary plugins on the bare metals and reduce the page cache size to somehow handle this.

[2020-05-18 09:44] #8909 closed

[2020-05-18 09:59] heya0 commented on #8932
YES，in node menu, the URL of the node is through the host name.

![netdata-node-menu](https://i.loli.net/2020/05/18/Fk2E89OSaZxA1o5.png)

[2020-05-18 12:00] jackmawer opened #9080 "[Cloud] Combine multiple interfaces into one graph"
(Related to #8995.)
Currently, when looking at the nodes page on cloud, if the user has multiple disks or network interfaces, they are bombarded with graphs for that one node, obscuring the rest.
![image](https://user-images.githubusercontent.com/3983253/82210569-3c143700-9907-11ea-88b6-76d3a7c2abd1.png)

I propose that instead all of these interfaces are combined to reflect the title of the colum

[2020-05-18 12:03] ilyam8 commented on #9080
@manos-saratsis take a look

[2020-05-18 12:14] Ferroin commented on #9080
Overall fix would be to match on `system.io` and `system.net` contexts.

@jackmawer You can actually do this by hand with the following steps:

1. Click the gear icon at the far right of the metrics headers.
2. In the dropdown that opens, hover the metric group you want to change.
3. On the far right of the line a pencil icon should appear, click that to edit the metric group.
4. Update the contex

[2020-05-18 12:25] jackmawer commented on #9080
@Ferroin thanks very much for the workaround!
I still think changing the contexts of the default metric set would align better with the titles

[2020-05-18 12:57] Ferroin commented on #9080
I absolutely agree, I've done the same in all of my spaces too (though mostly because of disks in my case (one of my systems has a total of 26 charts for disks because the default pulls in LVM volumes too)).

[2020-05-18 14:18] Kamik commented on #8967
attempt to install from scratch does not work
`root@mail /usr/src # bash <(curl -Ss https://my-netdata.io/kickstart.sh)`
`ABORTED  Tarball checksum validation failed. Stopping netdata installation and leaving tarball in /tmp/netdata-kickstart-8zfUfG`
check of bash script
`root@mail /usr/src # [ "f1e7aa92ca64b797fdc14df59faad205" = "$(curl -Ss https://my-netdata.io/kickstart.sh | md5sum | cut -d '

[2020-05-18 14:26] Kamik commented on #8967
`root@mail /tmp/netdata-kickstart-wWR0Lw # diff -y <(xxd netdata-latest.tar.gz) <(xxd netdata-latest.tar.gz.correct) --suppress-common-lines`
`00415d80: e78b 7efe 3fa7 dfe2 b800 c034 0164 6e73  ..~.?..... | 00415d80: e78b 7efe 3fa7 dfe2 b800 c034 01         ..~.?.....`
`00415d90: 6c6f 6f6b 7570 3a20 302e 3030 3420 7c20  lookup: 0. <`
`00415da0: 636f 6e6e 6563 743a 2030 2e30 3039 207c  connect: 0 <

[2020-05-18 15:45] yasharne opened #9082 "Netdata high availability best practices"
##### Question summary
We have 5 clusters of netdata masters, each cluster has two machines with a shared IP address using `keepalived` watching the `netdata` systems unit.
In most cases, everything is fine unless in situations where the machines inside the cluster cannot see each other and the master node changes in the cluster, after 10 minutes we start to get lots of `last collected` alerts fro

[2020-05-18 15:59] cakrit commented on #9065
@jacekkolasa I believe we had seen this in the past and fixed it, apparently it's reared its ugly head again.

[2020-05-18 17:34] yasharne opened #9083 "Invalid dbengine disk space 64 given. Defaulting to 256"
##### Bug report summary

Here is the `netdata.conf` file for the master server:
[code]
but when I restart the netdata unit, I see this error:
[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1
##### Component Name

dbengine

[2020-05-18 17:58] kmlucy opened #9084 "system.active_processes out of control since update"
##### Bug Report Summary
I just updated to v1.22.1-51-gb3cfa54b from v.1.21 and now the `system.active_processes` metric is rising uncontrollably.

In the below image, `A` is where I upgraded, and `B` is where I restarted Netdata.

![image](https://user-images.githubusercontent.com/13952475/82243866-4e45a380-990e-11ea-900d-7e84323eefe9.png)

Running `ps -aux | grep netdata` on the host results in:

[2020-05-18 18:13] ilyam8 commented on #9084
looks like same issue as https://github.com/netdata/netdata/issues/9070

[2020-05-18 18:30] jeffgdotorg opened #9085 "Prometheus TYPE lines incorrectly formatted (when enabled via query parm)"
##### Bug report summary
When the Prometheus backend's optional `TYPE` lines are enabled (by adding `types=yes` to the query parameters), the resulting lines incorrectly start with `# COMMENT TYPE` instead of `# TYPE` as specified in the [Prometheus project's specification](https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposition_formats.md#comments-help-text-and-type-i

[2020-05-18 18:49] cakrit commented on #8779
The task in on the Cloud SRE team to specify how claiming will be done in k8s. Claiming should mandate that `master.alarms.persistence` is `true`. For the link between the two, see and reply to [this comment](https://github.com/netdata/helmchart/issues/93#issuecomment-622363852).

[2020-05-18 18:53] kmlucy commented on #9084
It may be. I saw that issue, but as it only had occasional zombie processes, and a max of two, I thought it also might be unrelated.

For now, I'm having to restart my Netdata container every few hours to keep the processes under control.

[2020-05-18 18:55] ilyam8 commented on #9084
Have you considered downgrade?

[2020-05-18 18:57] kmlucy commented on #9084
I could downgrade, but I'm inevitably going to have to run the v1.22 again to troubleshoot. I just put a restart command in my crontab and that way I have a running container from which to pull logs, data, etc.

[2020-05-18 18:59] tmalaher commented on #8966
Same problem on  Centos 7, Debian and Amazon Linux 2.
Installing from kickstart-static64.sh displays the problem
building from source with kickstart.sh works fine.

[2020-05-18 19:45] jacekkolasa commented on #9065
@asdokfgsopdkg can you please check if adding `/` at the end of link (the one with https://) will not result in broken redirect?

[2020-05-18 20:01] plexmini opened #9087 "Errors when installing on Brand New Rpi 3b+"
##### Bug report summary

When running the automated install script on a fresh install of Raspian OS for Rpi3b+, I get "internal compiler error" and it exits with error every time.  I'll attach the full readout after entering the automated script below.

##### OS / Environment

[code]

---

<details>
<summary>Full output (click)</summary>

[code]

</details>

[2020-05-18 20:30] jeffgdotorg opened #9088 "Prometheus backend's optional TYPE and HELP lines repeated for each instance of each metric"
##### Bug report summary
This issue is related to #9085 but does not break the parser I'm using the way that one does, and strikes me as harder to fix.

When the optional `TYPE` and/or `HELP` lines are enabled in the Prometheus backend (by setting `help=yes` and/or `types=yes` in the URL parms), the enabled lines appear before every instance of every metric. This behavior contradicts the [Promethe

[2020-05-18 20:42] jeffgdotorg opened #9089 "Prometheus HELP lines incorrectly formatted (when enabled via query parm)"
#### Bug report summary
Related to #9085 but does not break the parser I'm using the way that one does, so less critical from my perspective. Also related to #9088 but this one seems easier to fix.

When the Prometheus backend's optional HELP lines are enabled (by adding `help=yes` to the query parameters), the resulting lines incorrectly start with `# COMMENT` instead of `# HELP` as specified in

[2020-05-18 21:12] ilyam8 commented on #9089
I see they have COMMENT Entry in their parser, dont know what it means

https://github.com/prometheus/prometheus/blob/e825282dd1b7a62999ed50d5c8039c5fdda89bea/pkg/textparse/interface.go#L72-L82

[2020-05-18 21:32] jeffgdotorg commented on #9089
I don't think this tells us that `# COMMENT` is necessarily A Thing, but that the parser understands some unit which is retrieved by calling the `Comment()` method. I'd have to study the whole parser to be sure, and to do that I'd need to learn to read Go properly, so I'm leaning on my experience with parsers I've made using antlr in this assessment. Happy to be shown wrong.

The [Prometheus `node

[2020-05-18 21:49] ilyam8 commented on #9089
i see prom parser skips all comments (comment everything that starts with `#` but w/o HELP,TYPE)

https://github.com/prometheus/prometheus/blob/8224ddec23598152d7506b7b39f5235a77b5e036/scrape/scrape.go#L1121-L1122

So you can add any comments but they are not being parsed by the parser

[2020-05-18 21:50] ilyam8 commented on #9089
i was not trying to argue, just did a quick search

[2020-05-18 21:59] ilyam8 commented on #2620
@Saruspete

i dont know if it helps but there is a go lib to get infiband metrics

https://github.com/Mellanox/rdmamap

[2020-05-18 22:20] Saruspete commented on #2620
Nice find @ilyam8 ! Seems this lib is scanning the /sys/class/infiniband/ path too. It uses the same place & uint64 as i did (put kernel struct' reference in the code for completeness):
[code]

I was hoping to find some mapping & detail about the metrics, but it's just plain values, no hint / naming.

Currently, the PR provides parsing for "counters". Link speed & "hw_counters" still need to be do

[2020-05-19 00:48] ncmans commented on #8966
Update: we'll be testing cert-manager v1.15.0 (which should fix this issue) and will deploy it soon if all goes well.

[2020-05-19 01:03] #8650 closed

[2020-05-19 02:20] prologic opened #9093 "Support eBPF plugin for Netdata static64"
##### Feature idea summary

Now that #8665 is merged and we have a fully working (_on by default_) eBPF plugin for Netdata which should start hitting our nightly builds; we alos need to bring support for eBPF to the Netdata static binaries we build and support through `kickstart-static64.sh`.

##### Expected behavior

Installing Netdata via `kicksart-static64.sh` also packages our eBPF plugin ans

[2020-05-19 02:22] prologic commented on #9093
cc @thiagoftsm

[2020-05-19 02:35] prologic commented on #9001
Looks like I was ~2 days late to the party:

[code]

This is good! Nothing for me to do here.

[2020-05-19 02:35] #9001 closed

[2020-05-19 02:39] prologic commented on #9001
@issyl0 Is there some way we can help you get `netdata.rb` updated faster to avoid issues like this? Is it something we can automate and automatically send [homebrew-core](https://github.com/Homebrew/homebrew-core) a PR when we release a new version?

[2020-05-19 02:52] prologic commented on #8967
The really frustrating thing here is I am unable to reproduce this; I haven't found a system I can repro this on (yet):

[code]

[2020-05-19 07:30] mfundul commented on #9084
Can you share `var/log/netdata/error.log` since agent start?

[2020-05-19 08:19] mfundul commented on #9084
@kmlucy can you run `ps -eo "pid,ppid,user,args"` inside the container?

[2020-05-19 08:21] thoggs opened #9095 "[GUIDE] -> How to install Netdata on FreeBSD"
Hello,
I recently did a Netdata installation tutorial on FreeBSD, for the community of that operating system; and I would like to share it here too, in case any future Netdata user chooses to install on FreeBSD.
The official Netdata tutorial for FreeBSD does not work properly, due to the lack of some components of the cmake package, and does not instruct how to mark the Netdata service as bootable

[2020-05-19 08:28] issyl0 commented on #9001
@prologic Absolutely. There are a variety of GitHub Actions that can check for releases and automatically run `brew bump-formula-pr`. The one I've used most is https://github.com/marketplace/actions/bump-homebrew-formula.

[2020-05-19 09:41] ilyam8 commented on #9084
[code]

[2020-05-19 10:04] ilyam8 commented on #9084
@kmlucy could you disable `charts.d.plugin` and check if the problem exists? If it doesnt help i would try to disable `health`.

[2020-05-19 10:15] Kamik commented on #8967
you are right, the problem is with the server itself. I tried on another - everything passes.

[2020-05-19 10:27] PatTheMav commented on #8967
Just a hunch, but `0A` is the ascii code for "line-feed" and used in curl for line-breaks. I haven't had time to test this, but _maybe_ the redirection used in the kickstart script causes an additional line-break to be added on bash.

(IIRC `0A` is also what curl uses as line-breaks).

[2020-05-19 10:30] nicknaychov opened #9097 "Ability to enable/disable alarms for certain hours of the day"
Hi
Great work on that project, you guys are rockstars!
System can fit almost all my monitoring needs , however I think there is small room for improvement.
I would like to be able to enable certain alarm for certain time frame only.
I am monitoring calls and I have set an alarm for lack of new calls in past minute so i will get notified if something with traffic gets wrong. But because during midn

[2020-05-19 10:38] kgns commented on #8967
I found the culprit (in my case at least). For some reason a while ago I applied this (https://stackoverflow.com/a/14614203/13567850) to be able to see some cURL logs in a nice fashion. This however added \n to the ending of every cURL stdout. Thus cURL worked correctly when it was supplied with an --output argument, but did not when the stdout was used to pipe into a file.

[2020-05-19 10:40] kgns commented on #8967
Thanks for @PatTheMav for inspiring me about what to search by mentioning line-feed char :)

[2020-05-19 10:42] kgns commented on #8967
In the end, it might be better of modifying the kickstart script to use the --output argument of cURL, as the real intent of using that command is to download the archive and save it to a file rather then to output it. I don't know if it wasn't like that due to compatibility issues with different versions of cURL and/or distributions though.

[2020-05-19 10:44] PatTheMav commented on #8967
Great news - might also explain why the issue was fixed with a new nightly for me but persisted for you.

[2020-05-19 10:44] Kamik commented on #8967
my   .curlrc
`root@mail ~ # cat .curlrc`
`-w "dnslookup: %{time_namelookup} | connect: %{time_connect} | appconnect: %{time_appconnect} | pretransfer: %{time_pretransfer} | starttransfer: %{time_starttransfer} | total: %{time_total} | size: %{size_download}\n"`
I don’t even know when it appeared there)

[2020-05-19 10:55] jacekkolasa commented on #8932
@amoss that's good news, however Dashboard has no access to that GUID yet. Dashboard renders slave nodes from information in `/api/v1/charts`, there is only `hostname` there

[2020-05-19 11:21] kmlucy commented on #9084
@mfundul

[code]

Error logs (`stderr`): https://termbin.com/h8f8

@ilyam8

Disabling the NUT collector seems to have fixed the issue.

[code]

[2020-05-19 11:23] mfundul commented on #9084
The takeaway here is that all those processes are under PID 1 and not under PID 7. I'll look into it.

[2020-05-19 11:38] ilyam8 commented on #9084
`charts.d` strikes again 😞

[2020-05-19 11:52] manos-saratsis commented on #9080
@jackmawer thx for using Cloud! Regarding your request, we want to give the option to see one chart per node & column with the use of aggregate functions (eg Sum, Sum of Absolute, Min, Max, Average). Stay tuned.

[2020-05-19 11:54] Vudubond commented on #8966
Same issue on Cloudlinux 6.xx

ACLK_Main : Libwebsockets: SSL error: unable to get local issuer certificate (preverify_ok=0;err=20;depth=1)

[2020-05-19 13:24] thiagoftsm commented on #9095
Hi @thoggs ,

Netdata has a directory called `docs/step-by-step`, please, take a look in this directory and the file formats there. You can adapt your text to the format we use and create a PR for it.
Thank you for your post in the cited forum.

Best regards!

[2020-05-19 13:26] #9083 closed

[2020-05-19 15:21] cakrit commented on #9043
Guys, let's please fix this quickly, it's clearly a bug from a user's perspective, regardless of what was discussed internally. No calls whatsoever to the cloud for iframes or anything else with cloud disabled. Local registry entries can be shown just with the local "off-line" UI.

[2020-05-19 15:30] pureexe opened #9100 "[Cloud] Please sort nvidia-smi in dashboard order by GPU id"
##### Feature idea summary
Currently, nvidia-smi on cloud dashboard look weird. they are in random order  which hard to read.
![image](https://user-images.githubusercontent.com/1303847/82345517-8ee11200-9a1f-11ea-9fc9-9533c1625c26.png)

##### Expected behavior
It's should sort by GPU id like this. (this photo was editted)

![image](https://user-images.githubusercontent.com/1303847/82346090-3d85528

[2020-05-19 15:47] mperochon opened #9101 "Netdata report only the disk space for the partition inside the container"
Netdata report only the disk space for the partition inside the container.

I cannot get the informations about partition on the host.

##### Bug report summary
Netdata report only the disk space for the partition inside the container.

I cannot get the information about partition on the host.

##### OS / Environment
I use the latest netdata container on Ubuntu 18.04.4 LTS.

##### Netdata version