[2021-04-28 13:37] GrumpyMetalGuy opened #11056 "Curl SSL verification failed with Let's Encrypt generated certificates"
##### Bug report summary

When running netdata from a docker image pulled from docker hub, the docker container is failing a health check around curl SSL certificate validation after securing the server with SSL certificates issued by Let's Encrypt. Health check error is listed as:

[code]

The SSL certificates are working fine for the web frontend.

##### OS / Environment

[code]

Running in a do

[2021-04-28 13:59] ilyam8 commented on #11056
@GrumpyMetalGuy hey

A quick fix is to switch to health checks using `netdatacli`

https://github.com/netdata/netdata/blob/6ec39d20ccb48f90b8e801dd91f51ab9141b941a/packaging/docker/health.sh#L10-L12

[2021-04-28 14:34] GrumpyMetalGuy commented on #11056
Perfect, thank you for the help!

[2021-04-28 14:34] #11056 closed

[2021-04-28 23:32] #11000 closed

[2021-04-29 01:20] crn420 commented on #6158
docker.pkg.github.com/microsoft/opensource.microsoft.com/custom-jekyll-builder:sha-77aabe0

[2021-04-29 01:20] crn420 commented on #6158
docker.pkg.github.com/microsoft/opensource.microsoft.com/custom-jekyll-builder:sha-77aabe0docker pull docker.pkg.github.com/microsoft/opensource.microsoft.com/custom-jekyll-builder:sha-77aabe0FROM docker.pkg.github.com/microsoft/opensource.microsoft.com/custom-jekyll-builder:sha-77aabe0https://drive.google.com/file/d/12wgCyWHqDsEJJr6nGwwQI_B1fCVMkMPs/view?usp=drivesdkhttps-github-com-yanz-androidi

[2021-04-29 06:37] dorpauli commented on #10946
It's working on v1.30.1-97-nightly and with Chromium browser now thanks! 🥇

On Firefox it prints this ugly pop up on every page by the way:
![grafik](https://user-images.githubusercontent.com/70518303/116510644-877be700-a8c5-11eb-9860-6734d8cd70b7.png)

One awesome feature now would be to be able to print snapshots to pdf. But i think that's another issue worth and i believe i already read about t

[2021-04-29 06:37] #10946 closed

[2021-04-29 08:13] ilyam8 commented on #10946
So it's been fixed 🎉

@allelos please check this [Firefox ugly pop up on every page](https://github.com/netdata/netdata/issues/10946#issuecomment-828977520) issue.

[2021-04-29 09:55] savitarde13 opened #11061 "packages installer failed"
The experimental packages installer failed.

This is what it says:

[code]

[2021-04-29 09:56] savitarde13 commented on #11061
![Capture](https://user-images.githubusercontent.com/62104673/116533687-f6673900-a8e1-11eb-8390-ef7dd9981c81.PNG)

[2021-04-29 10:49] stdedos opened #11062 "Ubuntu: Installing netdata package makes web interface inaccessible"
##### Bug report summary

Installing netdata package makes web interface inaccessible

A ton of `sudo chmod -R netdata ...` are needed to have an accessible interface (if not more)

##### OS / Environment

Ubuntu Focal

##### Netdata version
latest

##### Installation method

package

----

Side thoughts:

Your log files contain **a bajillion** of warnings and errors, that **should not be real err

[2021-04-29 11:18] stdedos opened #11063 "Export the list of apps not matching `apps_groups.conf`"
It would be nice, if:
* there was a list of the applications that fall through matching of `apps_groups.conf`
* there was a way to inherit (pre or post) the default `apps_groups.conf`, so I will be able to define my own stuff, and keep getting updated from your `apps_groups.conf` too

[2021-04-29 12:35] OdysLam commented on #11062
Hey @stdedos,

Thanks for this. Can you please verify for us what was your installation method and the version of netdata?
run `netdata -version`

[2021-04-29 13:40] Ferroin commented on #11061
You have a spurious space in your command, it should be `/tmp/install-required-packages.sh` not `/tmp/install- required-packages.sh`.

[2021-04-29 16:41] hferreira23 commented on #11053
Sorry for the delay, haven't had the time to further troubleshoot this.

2. actually send me in the path to fix my issue. I'm using docker-compose to manage the container and the mount for /sys is:

[code]

So its quite obvious what the issue was. Adding ``` path to unified cgroups = /host/sys/fs/cgroup ``` to the ``` plugin:cgroups ``` setting got everything working.

Not a bug in Netdata but me

[2021-04-29 18:30] ilyam8 commented on #11053
That actually looks like a bug.

I set `use unified cgroups` to yes, see the path - it has double `/host` prefix.

[code]

[2021-04-30 03:19] schklom opened #11069 "Non-root Docker -> no Docker containers CPU+Memory"
##### Bug report summary
The webpage doesn't include any information on Docker containers

##### OS / Environment

[code]

##### Netdata version

[code]
##### Installation method

Docker
##### Component Name

CPUs
Memory

I can see the CPU utilization of Docker processes, but there is no general list of containers where I can see CPU and Memory use.
##### Steps To Reproduce

1. Install [Rootless D

[2021-04-30 06:46] Conna576 commented on #11069
Thank you.  I don't understand it all, I just know I got hacked a very long
time ago.  Now & then, something weired happens to phone I try Investigate
it

Thank you
Suzi

On Fri, 30 Apr 2021, 04:20 schklom, ***@***.***> wrote:

[2021-04-30 09:10] #11061 closed

[2021-04-30 09:25] stdedos commented on #11062
v1.30.1

[2021-04-30 10:27] ilyam8 commented on #10969
Hi @kaiomatico

- t0: WARN => send notification
- t1 (repeat): still in WARN => send notification
- t2: CLEAR => send notification
- t3: WARN => delay sending a notification by `repeat`

That is what happening? Am I correct?

[2021-04-30 11:49] kaiomatico commented on #10969
Hi @ilyam8 yes this is correct. I think t3 should be handled as new event and therefore the notification not being delayed by the value of `repeat`.
I actually dont't remember if I have tested t1, so maybe leave out this step.

Thank you for looking having a look at this issue / feature request :+1:

[2021-04-30 12:43] ilyam8 commented on #10969
Well, it looks like a bug. I will try to reproduce it.

[2021-04-30 13:35] Ferroin opened #11072 "Bundle new dashboard code into the agent repository instead of fetching it on install."
This will provide a couple of concrete benefits:

* It will eliminate a large chunk of complexity from our install and packaging code.
* It will make life easier for anyone building and installing by hand from a git checkout.
* It will mean that third-party packages (such as Homebrew) will finally have the new dashboard code.

The general approach that will be taken here is as follows:

1. Create

[2021-04-30 13:39] Ferroin opened #11073 "Add a CI workflow to automate creation of dashboard update PRs."
The workflow will be triggered by a `workflow_dispatch` event and take the new dashboard version tag as it’s sole input.

It will fetch the dashboard tarball, compute it’s checksum, update `packaging/dashboard.version` and `packaging/dashboard.checksums` appropriately, and then generate a PR to merge those changes to `master`.

[2021-04-30 13:47] ilyam8 commented on #9028
Closing this issue due to the low interest in this feature.

If there is anybody who is interested in having this implemented please visit our Community Forum and create a new topic in the [Netdata Agent Feature Requests](https://community.netdata.cloud/c/feature-requests/agent-fr/21) category.

[2021-04-30 13:47] #9028 closed

[2021-04-30 13:57] Ferroin opened #11075 "Remove legacy dashboard code and add react dashboard code to repo in it’s place."
This will consist of:

* Removing all of the legacy dashboard code that is not required either by the new dashboard code or for custom dashboards.
* Adding the (pre-built) code from the current release from the most recent full release of https://github.com/netdata/dashboard.
* Modifying the build system accordingly.
* Removing the bundle-on-install code for the react dashboard from `netdata-insta

[2021-04-30 14:05] ilyam8 commented on #914
We added [Systemd units state](https://github.com/netdata/go.d.plugin/tree/master/modules/systemdunits#systemd-units-state-monitoring-with-netdata) collector and [alarms](https://github.com/netdata/netdata/blob/master/health/health.d/systemdunits.conf).

It collects Active state

If Sub state is important we can add it too. Feel free to request!

[2021-04-30 14:05] #914 closed

[2021-04-30 14:44] ilyam8 commented on #5590
ZFS Pools state (yes, only pools state so far) monitoring added in https://github.com/netdata/netdata/pull/11071#event-4669423367

Guys, few questions:
 -  there is [`INUSE` state](https://docs.joyent.com/private-cloud/troubleshooting/disk-replacement).

ZFS pool can't be in that state, only drives. Correct?

 - what alarms do we need? Notify a user when a pool in what state(s)?

[2021-05-01 11:08] MUzairS15 commented on #10003
Hello, i am new to open source pls tell me what i need to learn in order to contribute.

[2021-05-02 17:57] yasharne commented on #10989
`/api/v1/alarms?all=false&active=true` on the parent shows there are no alerts firing, so this seems to be a visual problem
[code]

[2021-05-02 19:20] thegamerrrr commented on #11023
I am trying again to send notifications and now the ssh send, like 700 strings:

/etc/netdata/health_alarm_notify.conf: line 835: $'\r': command not found
/etc/netdata/health_alarm_notify.conf: line 838: $'\r': command not found
/etc/netdata/health_alarm_notify.conf: line 842: $'\r': command not found
/etc/netdata/health_alarm_notify.conf: line 844: syntax error near unexpected token `$'{\r''
'etc

[2021-05-02 20:16] pjakuszew opened #11079 "Agent is unable to establish the ACLK session via IPv6 NAT64 gateway"
##### Bug report summary

Netdata agent is unable to connect to Netdata Cloud API when IPv6-only machine uses a NAT64 gateway to reach the Internet. I have discovered this when I tried to deploy Netdata agent on a couple of VMs hosted at Ungleich https://ipv6onlyhosting.com/ offering.

This is how Netdata Cloud address looks like from behind a NAT64 gateway:
[code]
(IPv6 record is generated by the

[2021-05-02 20:43] pjakuszew commented on #11079
Logs from unmodified agent:
[code]

After enabling `LWS_IPV6` flag:
[code]

[2021-05-03 00:19] KrisShannon opened #11081 "SSL random failures with multithreaded web server"
##### Bug report summary

We are externally monitoring that netdata is up using the API over SSL.

Since installing 1.29.1 from the PackageCloud repoisitory on the 10th of February we have had random SSL failures:

`Cant connect to 10.4.3.87:19999 (SSL connect attempt failed error:140943FC:SSL routines:ssl3_read_bytes:sslv3 alert bad record mac)`

This was intermittent and temporary and then every

[2021-05-03 00:23] KrisShannon commented on #11081
While trying to track this down I found this stack overflow answer ([bad_record_mac issue on TLS1.2](https://stackoverflow.com/questions/57373632/bad-record-mac-issue-on-tls1-2)) which pointed me at the idea of disabling the multi-threading which did "fix" the issue.

[2021-05-03 11:13] #10854 closed

[2021-05-03 12:14] thiagoftsm commented on #11023
It looks like that `/etc/netdata/health_alarm_notify.conf` was edited with a windows editor, because their editors use `\r` as break line. How did you edit your config file?

[2021-05-03 14:00] thiagoftsm commented on #11081
Hello @KrisShannon ,

I would like to do a question for you, considering that you are running `TLS1.2`, this means that you are running an old SSL version, because the current version is `TLS1.3` and  Netdata by default uses the latest TLS version installed on operate system. What is your openssl version?

Best regards!

[2021-05-03 15:30] KrisShannon commented on #11081
The current openssl for CentOS 7 based distributions (like CloudLinux 7) is `openssl-libs-1.0.2k-21.el7_9.x86_64`

The netdata rpm for EL7 from packagecloud requires `libssl.so.10` which is this 1.0.2 version stream.

[2021-05-03 15:49] KrisShannon commented on #11081
If the fix for this is to require an OpenSSL that provides TLS1.3 then I guess since you are already requiring EPEL for `libuv` you could build the EL7 packages against `openssl11-libs` from EPEL which is currently at `openssl11-libs-1.1.1g-3.el7.x86_64`

[2021-05-03 16:19] thiagoftsm commented on #11081
@Ferroin what are our requirements for CentOS 7.x?

I remember initially we were not forcing users to migrate for the latest TLS, instead we were using the maximum available on their host, but considering the reported problem, it is possible we need to reconsider this.

[2021-05-04 05:39] tknobi opened #11085 "Documentation: Is the lookup line really required?"
##### Bug report summary

From the [Health configuration reference](https://learn.netdata.cloud/docs/agent/health/reference/#entity-format):

However, it seems that the lookup line it is not required at all. [Example 1](https://learn.netdata.cloud/docs/agent/health/reference/#example-1) already does not have this line. Why is it written as required in the documentation? Should this be changed?

##

[2021-05-04 08:16] ilyam8 commented on #11085
Hi @tknobi

I think you are right, `lookup` is not mandatory.

For instance, all our _last_collected_secs_ alarms have no `lookup`

https://github.com/netdata/netdata/blob/master/health/health.d/apache.conf#L4-L16

[2021-05-04 08:26] ilyam8 commented on #5590
[Determining the Health Status of ZFS Storage Pools](https://docs.oracle.com/cd/E19253-01/819-5461/gamno/index.html)

I think we need `warn` when DEGRADED and `crit` when `FAULTED` or `UNAVAIL`

[2021-05-04 09:04] ThoSap commented on #5590
Here you have the official OpenZFS documentation instead of the, for OpenZFS outdated, Oracle documentation ;)
https://openzfs.github.io/openzfs-docs/man/8/zpoolprops.8.html?highlight=degraded#DESCRIPTION
https://openzfs.github.io/openzfs-docs/man/8/zpoolconcepts.8.html?highlight=degraded#Device_Failure_and_Recovery
https://openzfs.github.io/openzfs-docs/man/5/zfs-events.5.html?highlight=degraded#

[2021-05-04 09:11] ilyam8 commented on #5590
Thanks, @ThoSap, this documentation seems better, indeed!

[2021-05-04 12:16] RisedSky commented on #7445
People who can't find the ppa package :
sudo apt update
sudo apt -y install software-properties-common dirmngr apt-transport-https lsb-release ca-certificates

[2021-05-04 14:45] thiagoftsm commented on #11081
Hello @KrisShannon ,

After an internal talk, we decided that we won't enable more multithread when a version older than `1.1.0` is installed and TLS is enabled, our decision was based in the description we available in [OpenSSL official FAQ](https://www.openssl.org/docs/faq.html).

I am finishing a PR now, and when it is finished, I will work on this.

Best regards!

[2021-05-04 15:31] #11085 closed

[2021-05-04 18:54] dannysauer commented on #3611
Is there code in a branch somewhere that someone interested could perhaps contribute to, @ilyam8?  Is the plan to start anew in go, or iterate on https://github.com/vrst37/mqtt_netdata_plugin?  Maybe lifting some code from the Prometheus exporter work done at https://github.com/sapcc/mosquitto-exporter?

[2021-05-04 19:10] stelfrag commented on #10958
Inconclusive. Will revisit if it is observed again

[2021-05-04 19:10] #10958 closed

[2021-05-04 19:25] ilyam8 commented on #10989
@yasharne did you add `/host/HOSTNAME/`?

[2021-05-04 19:45] ElCoyote27 opened #11087 "make dist on RHEL8 fails with: "*** No rule to make target 'distdir'. Stop.""
RHEL8 x864_64,
latest git from:
commit 924bf118e59ddf72052b75f43c3eb7ef13afe693 (HEAD -> master, origin/master, origin/HEAD)
Author: Ilya Mashchenko <ilya@netdata.cloud>
Date:   Tue May 4 18:31:04 2021 +0300

    health: clarify which health configuration entities are required / optional (#11086)

Trying 'make dist' from topdir yields:
[code]

[2021-05-04 20:50] Izorkin opened #11088 "cgroup-network: error detecting network interfaces in libvirtd"
##### Bug report summary
Debug log:
[code]
Running cgroup-network-helper.sh from netdata user:
[code]
No result.
Running cgroup-network-helper.sh from root user:
[code]

##### OS / Environment
OS: Nixos

##### Netdata version
Version:
[code]
Configure options:
[code]

[2021-05-05 06:42] yasharne commented on #10989
Hi @ilyam8 adding `/host/HOSTNAME/` shows the alert:
[code]
And of course, the plugin is collecting data:
![image](https://user-images.githubusercontent.com/7656049/117105199-c82aa300-ad92-11eb-94ff-8d469160020a.png)

[2021-05-05 07:20] yasharne commented on #10729
@stelfrag Reinstalling the netdata is not a good solution, If I should re-install netdata every time I want to update a netdata instance then what is the use-case of the `netdata-updater` script?

[2021-05-05 07:50] vlvkobal commented on #11088
`there are no double-linked host interfaces available` - this is correct because you don't have `veth*` interfaces. The question is why `cgroup-network-helper.sh` doesn't find interfaces using the `virsh` command. I suspect this is because Netdata can't run the script with elevated privileges.

You should see in your log something like this:
[code]
Check please, what relevant messages do you have

[2021-05-05 08:00] vlvkobal commented on #10003
@MUzairS15 you can read our [contribution guide](https://learn.netdata.cloud/contribute/). I guess the [ quickstart](https://learn.netdata.cloud/contribute/handbook#contribution-quickstart) section is the most interesting part for you.

[2021-05-05 08:13] Izorkin commented on #11088
Found this log:
[code]

[2021-05-05 09:05] vlvkobal commented on #11088
`setresuid(0, 0, 0) failed. (errno 1, Operation not permitted)` - you should grant Netdata permissions to set UID.
From `setresuid` man:

[2021-05-05 09:23] vlvkobal commented on #11088
Could you check if `/usr/libexec/netdata/plugins.d/cgroup-network` has setuid bit set?

[2021-05-05 09:26] manos-saratsis commented on #11063
@stdedos thx for reaching out. I am not sure if I understand your needs:
- do you want to have a list of application matching each group via a GUI?
- why not to edit the apps_groups.conf to add your own stuff on top of the apps groups that are currently there?

[2021-05-05 09:34] Izorkin commented on #11088
With this patch
[code]

log:
[code]

[2021-05-05 09:35] Izorkin commented on #11088
It seems to me not safe to grant `CAP_SETUID` rights to child processes.

[2021-05-05 09:47] stdedos commented on #11063
All non-matching applications. I have quite a lot cpu spent on "other" apps, and I want to start working on reducing it, small steps at a time.
A way to query those applications for a specific point in time should be possible, as netdata seems to redraw the graph on-the-spot when the file is changed. Therefore, an API call that could query those "other" apps (i.e. by passing an epoch value) would

[2021-05-05 10:10] OdysLam commented on #3611
Hey @dannysauer,

We are under internal deliberations for improving our collector coverage. In general, the best approach would be to implement in Golang using the python collector as a basis for how to gather data and organize metrics into charts.

We are actively looking for contributors, so if you take a whack at it, we will be able to actively help you. We have a whole community category dedic

[2021-05-05 10:56] ilyam8 commented on #11063
Oh, I did it some time ago. That is what I did:
 - identify processes PIDs for a specific group
 - find those processes `/proc/PID/comm` and `/proc/PID/cmdline` (we match against these values)

For instance, if I want to debug `other` group

[code]

[2021-05-05 10:59] vlvkobal commented on #11088
What if you run `virsh -r domiflist "vm01dweb"`? Is `vm01dweb` a correct domain?

[2021-05-05 11:00] stdedos commented on #11063
Cool!

Of course, I'd prefer the API output (because that means, if I find a spike on the UI, I can ask the API "What was _that_ about?"), but that is workable too 😀

[2021-05-05 11:05] binaryfire opened #11093 "Ubuntu 20.04 installation fails"
Hi guys,

I'm trying to automate the installation of Netdata on Ubuntu 20.04. However the script is failing because of unmet package dependencies (see output below). Any ideas on how I could solve or work around this?

Thanks!

[code]

[2021-05-05 11:09] Izorkin commented on #11088
Correct domain `vm01-web`, not `vm01dweb`
[code]

[2021-05-05 11:13] binaryfire commented on #11093
Also, when I try and install libc6-dev manually I get the following error:

[code]

[2021-05-05 11:29] ilyam8 commented on #11088
`\x2d` is hex value of `-` character

[2021-05-05 11:35] Izorkin commented on #11088
With 'vm01\x2dweb':
[code]

[2021-05-05 11:49] ilyam8 opened #11094 "cgroups version detection fails when systemd.unified_cgroup_hierarchy=1 and default-hierarchy=hybrid"
##### Bug report summary

ssia

[cgroups_try_detect_version](https://github.com/netdata/netdata/blob/037584392c9ddb0fecae6ded7c258da783df5aec/collectors/cgroups.plugin/sys_fs_cgroup.c#L138-L198) fails to detect correct Cgroup version and fallbacks to v1.

The problematic part

https://github.com/netdata/netdata/blob/037584392c9ddb0fecae6ded7c258da783df5aec/collectors/cgroups.plugin/sys_fs_cgroup.c

[2021-05-05 11:56] ilyam8 commented on #11094
[IsCgroup2UnifiedMode](https://github.com/opencontainers/runc/blob/b23315bdd99c388f5d0dd3616188729c5a97484a/libcontainer/cgroups/utils.go#L35-L51) function from the [opencontainers/runc/libcontainer](https://github.com/opencontainers/runc/tree/master/libcontainer#libcontainer).

[code]

I think we could use the same logic:
 - statfs cgroup mountpoint
 - check the type

I tested this on several ser

[2021-05-05 12:04] #11081 closed

[2021-05-05 13:22] ilyam8 commented on #11088
I think we need to sanitize cgroups names (convert hex to characaters)

[code]

is the correct path, correct?

[2021-05-05 13:40] Izorkin commented on #11088
With this patch error - `ERROR : MAIN : there are no double-linked host interfaces available`
[code]

[2021-05-05 13:44] ilyam8 commented on #11088
Ok, can you manually execute `cgroup-network-helper.sh` after the patch ( see https://github.com/netdata/netdata/issues/11088#issuecomment-832501530)

[code]

[2021-05-05 13:49] Izorkin commented on #11088
[code]

[2021-05-05 13:51] Izorkin commented on #11088
Not found interface. NixOS uses cgroups v2.

[2021-05-05 13:52] Ferroin commented on #11093
Testing in a clean Ubuntu 20.04 docker container doesn’t demonstrate any of these issues. It’s likely a problem with the repositories you have configured on the systems where you are seeing these issues.

Can you please share the output of `find /etc/apt/sources.list* -type f -iname "*.list" -exec grep -viE '(^#|^$)' {} \;`? This will list all the enabled repositories on the system (because unfort

[2021-05-05 13:58] ilyam8 commented on #11088
Let's enable debug mode, we need to set NETDATA_CGROUP_NETWORK_HELPER_DEBUG to 1.

[code]

[2021-05-05 14:02] Izorkin commented on #11088
[code]

[code]
The interfaces are found by using the parameter `--pid`

[2021-05-05 14:29] ilyam8 commented on #11088
Well, at least we fixed 🎉

---

Please show `virsh domiflist vm01-web` output

[2021-05-05 14:29] gvasquez95 opened #11095 "High Traffic to Netdata Cloud"
**Issue with: High charges on AWS due to high traffic**

I just realized that only Netdata actual data sent to NetData Cloud cost us USD 100/daily, due to the high volume involved. How can this be optimized? We currently have a setup of around 40 EC2 instances sending info to your servers. Is some kind of aggregation and/or compression possible? Or maybe VPC peering within AWS?

[2021-05-05 14:33] Izorkin commented on #11088
[code]

[2021-05-05 14:41] cakrit commented on #11095
Not good, let us discuss internally and we'll get back to you.

[2021-05-05 14:44] gvasquez95 commented on #11095
Thanks @cakrit

I'll be waiting for your feedback

[2021-05-05 14:51] #11079 closed

[2021-05-05 15:33] ilyam8 commented on #11088
Oh, [you shared it recently](https://github.com/netdata/netdata/issues/11088#issuecomment-832604390), sorry 😄

---

Looks like we fail to parse `virsh -r domiflist`

https://github.com/netdata/netdata/blob/6be54a381c39a6f0f4c88427603819fcccdd114f/collectors/cgroups.plugin/cgroup-network-helper.sh#L179-L182

Likely because of the leading space, I see it is not expected, but you have it (` vnet3`).

[2021-05-05 15:43] Izorkin commented on #11088
With latest patch - `ERROR : MAIN : there are no double-linked host interfaces available.`
[code]
[code]

[2021-05-05 15:54] ilyam8 commented on #11088
That looks good, at least `cgroup-network-helper.sh` script returns correct data.

[code]

[2021-05-05 16:09] cakrit commented on #11095
I would like to look at the details of that usage with you @gvasquez95 . Please contact me at chris@netdata.cloud so we can arrange a call.

A few hints and some info on items in our roadmap, for the benefits of others:
- The chart `netdata.aclk_write_q` shows the outbound bandwidth utilized for data sent from the agent to the cloud. For the nodes you have in a room you can see the aggregate in kb

[2021-05-05 16:10] Izorkin commented on #11088
in PR need replace `52:54:00xx:xx:xx` to `52:54:00:xx:xx:xx`

[2021-05-05 16:13] Izorkin commented on #11088
`vm01\x2dweb => vm01-dweb` to` vm01\x2dweb => vm01-web`

[2021-05-05 16:42] ilyam8 commented on #11088
@Izorkin do you have the container's network interfaces after the patch?

[2021-05-05 16:52] Izorkin commented on #11088
Yes, interfaces are displayed, the graph also shows.
The error 'there are no double-linked host interfaces available' remains:
[code]

[2021-05-05 16:56] ilyam8 commented on #11088
It is not even an `error`, should be `info` or `debug` level message 😐

[2021-05-05 18:08] gvasquez95 commented on #11095
I just sent you a short email

[2021-05-05 18:35] thiagoftsm opened #11097 "Reorganize submenu related to block device"
Right now Netdata has different menus bring information about hard disks on our dashboard and this information is spread around our menu.

![Screenshot_20210505_175833](https://user-images.githubusercontent.com/49162938/117190344-d4345600-adce-11eb-9131-6c4fcd47731f.png)

We are given suggestion to reorganize our menu and put this information near each other to simplify the user visualization. We

[2021-05-05 19:35] ilyam8 opened #11098 "lots of "waiting for discovery thread to finish..." messages in the error.log on every restart"
##### Bug report summary

On every restart, we log a lot of messages like

See, there is 40 messages after the restart:

[code]

The code

https://github.com/netdata/netdata/blob/3f93df7aa3995d676a86f96cef061eb57ba14f50/collectors/cgroups.plugin/sys_fs_cgroup.c#L4005-L4009

##### OS / Environment

[code]

<details>
<summary>release [Click]</summary>

[code]

</details>

##### Netdata version

[cod

[2021-05-05 19:57] ilyam8 commented on #11053
I had no Cgroups v2 enabled when was testing https://github.com/netdata/netdata/issues/11053#issuecomment-829491646

Tested with enabled Cgroup v2 and all works well if I follow https://learn.netdata.cloud/docs/agent/packaging/docker#create-a-new-netdata-agent-container and set `use unified cgroups = yes` manually.

I opened [an issue for cgroups version detection problem](https://github.com/netda

[2021-05-05 19:57] #11053 closed

[2021-05-06 07:38] acuteaura commented on #1497
The way the data is supplied right now is useless beyond a human manually checking. These tags need to be on the metrics themselves to be useful. There is no reason not to do this either, it does not increase the cardinality of the metrics at all since these tags have a 1:1 relation to the instance.

Adding labels on RX doesn't work. We have one netdata instance for up to 10+ sets of host labels (

[2021-05-06 07:50] #11088 closed

[2021-05-06 08:15] Izorkin commented on #11088
setresuid(0, 0, 0) failed. (errno 1, Operation not permitted)

@vlvkobal is it possible to implement a different verification method without granting `CAP_SETUID` capability?

[2021-05-06 09:46] ilyam8 commented on #5590
ZFS pools state monitoring was added in https://github.com/netdata/netdata/pull/11071.

It is in the master branch/nightly release, will be in the upcoming release. Any feedback is appreciated!

If there is an interest we can proceed with ZFS pools - I guess the next step could be collection `io` metrics?

[2021-05-06 11:12] ilyam8 commented on #10989
@yasharne it is hard to track the cause. Have you tried `netdatacli reload-health`? I believe it should fix the current issue. Likely it will happen again after some time, but let's see.

[2021-05-06 11:38] #11098 closed

[2021-05-06 11:51] vlvkobal commented on #11094
Here is a quick dirty fix - #11102. We should rewrite cgroups plugin, though. It should support hybrid cgroup configurations and do correct detection based on mountpoints - no loose magic.

[2021-05-06 11:57] ilyam8 commented on #11094
Quick - agree, dirty - disagree 😉

[2021-05-06 14:02] #11094 closed

[2021-05-06 14:27] 8465231 opened #11106 "Unable to see ipmi-dcmi power statistics in netdata"
##### Bug report summary

I want to be able to track my servers power usage in netdata. The power information is available by running inside the container:

# ipmi-dcmi --get-system-power-statistic
Current Power                        : 254 Watts
Minimum Power over sampling duration : 0 watts
Maximum Power over sampling duration : 519 watts
Average Power over sampling duration : 236 watts
Time Sta

[2021-05-06 14:46] #11073 closed

[2021-05-06 15:09] Ferroin commented on #11097
I’m strongly of the opinion that this is a case where we would benefit from having more than just a two-level hierarchy for the side menu. Essentially, I’d love to see things structured so that partitions are clearly grouped under the associated device (and this gets more important for some cases, NVMe devices have another layer between the raw device and the partitions (namespaces) that we would

[2021-05-06 16:06] #10971 closed

[2021-05-06 22:49] cakrit commented on #11095
@underhood we went through the aclk_write_q charts with @gvasquez95
He was showing sustained writes of between 2 and 4 KBps on 4 of his nodes. When we restarted the agents, the pattern disappeared. One of the nodes still had spikes every few seconds, but we couldn't figure out what could be causing them.
Probably important, all of those nodes were running Amazon Linux 2 ARM based architecture (gra

[2021-05-06 22:50] cakrit commented on #11095
Look at the pattern below, across 1 day. It looks like it's not sustained, but constantly increasing until a restart.

<img width="1587" alt="Screen Shot 2021-05-06 at 18 48 48" src="https://user-images.githubusercontent.com/43294513/117374817-b9bbb480-ae82-11eb-8069-3213c141704f.png">

[2021-05-06 23:01] cakrit commented on #11095
@gvasquez95 says that all the nodes with issues were real-time processors running elixir, which creates and destroys processes all the time.
I had him disable ACLK until we can replicate the issue and find a solution.

[2021-05-06 23:15] cakrit opened #11110 "Empty red gearbox appearing on the agent dashboard."
We were looking at netdata dashboards with @gvasquez95, the user who reported https://github.com/netdata/netdata/issues/11095

He kept getting an extremely annoying red gearbox with no text every time he loaded the dashboard.
Please request any other info you need here.

[2021-05-06 23:23] cakrit opened #11111 "DBEngine using more memory than it should?"
@gvasquez95 has to restart netdata frequenty, because DBEngine is using too much memory. DBEngine memory usage increasing to 400MB with just 3808 metrics and the default settings. Goes down significantly after restart. From the charts I just saw that the page cache statistics chart showed the "descriptors" constantly increasing.

What's the expected memory footprint with the default settings for 4

[2021-05-06 23:29] novykh commented on #11110
So, red gearbox with no messages you say? 😄
@gvasquez95 could you please check the network (xhr for any response coming back with other than a 200 status code) while on the dashboard page. I guess all will be ok.
If I'm right and all the requests are ok, then please delete the indexedDB netdata cache, and try again.

[2021-05-07 07:54] underhood commented on #11095
Those charts indeed indicate there is something causing data to be stuck in the queue and Libwebsockets not being able to push it quickly enough.... In normal operation when not looking at the dashboard in cloud you will have tiny spikes which are MQTT keep-alives. But what is seen in screenshot is indeed not a normal operation.

@gvasquez95 what is the workload on elixir? Can I somehow emulate it

[2021-05-07 10:50] vlvkobal commented on #11088
I'm not aware of any other methods. Maybe @Ferroin can help.

[2021-05-07 11:03] ilyam8 commented on #11088
@Izorkin could you

[code]

It seems you have no `setuid` bit set.

[2021-05-07 11:04] OdysLam commented on #11095
Kinda offtopic but after we figure this out, @gvasquez95 I would be very interested to hear about your elixir use-case and how you use Netdata to monitor the application.

[2021-05-07 12:06] ilyam8 opened #11115 "Netdata doesn't log an error when sending analytics if any"
##### Bug report summary

- we don't log an error if `mypopen` fails.
- we don't check `anonymous-statistics.sh` return code (`mypclose`).

https://github.com/netdata/netdata/blob/aa42f9eecd2cfb6273ee296d67ee0e0544e620f7/daemon/analytics.c#L846-L854

- we don't check HTTP response status code (`curl`/`wget` exit code could be `0`, but status code != 200/whatever expected from PostHog).

https://gi

[2021-05-07 13:21] gvasquez95 commented on #11095
Not exactly all the nodes with issues, but most of them except for one that has a [Forever](https://www.npmjs.com/package/forever) based NodeJS cluster and is also affected by this issue

[2021-05-07 15:40] ilyam8 commented on #11069
Hi @schklom 👋

[That is default](https://learn.netdata.cloud/docs/agent/packaging/docker#create-a-new-netdata-agent-container). It supposed to be working when running as a non-root user.

---

Could you show (restart netdata docker container; wait ~30s)

[code]

[2021-05-07 15:40] thiagoftsm commented on #11097
@Ferroin this is our main goal, but right now we as a quick win are moving these families nearest each other.

[2021-05-07 16:01] thiagoftsm commented on #11097
After to have a talking with @jacekkolasa we observed that we will also need to change React dashboard to bring everything necessary to fix this issue. To avoid postpone what is possible to bring right now, I will split this issue in small issues.

[2021-05-07 16:17] schklom commented on #11069
@ilyam8 Hi 👋

Here are the results
[code]

[2021-05-07 16:22] ilyam8 commented on #11069
Let's see `tree -d /sys/fs/cgroup/`

[2021-05-07 16:36] schklom commented on #11069
[code]

[2021-05-07 20:05] ilyam8 commented on #11069
Hm, if I understand it right, i see:
 - Cgroups v1
 - driver `systemd`
 - systemd default-hierarchy=hybrid

I expect docker container cgroups to be in:
 - `/sys/fs/cgroup/cpuacct/system.slice/docker-<longid>.scope/`
 - `/sys/fs/cgroup/cpuset/system.slice/docker-<longid>.scope/`
 - `/sys/fs/cgroup/memory/system.slice/docker-<longid>.scope/`
 - `/sys/fs/cgroup/blkio/system.slice/docker-<longid>.scop

[2021-05-07 20:15] ilyam8 commented on #11069
Likely I am missing something 🤔

How did you install docker? Docker version?

[2021-05-07 20:17] ilyam8 commented on #11069
[Known limitations](https://docs.docker.com/engine/security/rootless/#known-limitations)

I guess you need to enable Cgroups v2.

[2021-05-07 20:22] ilyam8 commented on #11069
The following guide works for Manjaro, likely will do for debian too, **but better to google how to do it**.

- add _systemd.unified_cgroup_hierarchy=1_ to the `GRUB_CMDLINE_LINUX_DEFAULT` (`/etc/default/grub`)

[code]

- `update-grub`
- `reboot`

[2021-05-07 20:27] gvasquez95 commented on #11095
@OdysLam we are using netdata just really to monitor the hardware related resources of the EC2 instances, not exactly the elixir app itself

[2021-05-07 21:17] thiagoftsm opened #11118 "MDstat near disk"
As we were talking [here](https://github.com/netdata/netdata/issues/11097) we need to reorganize the charts moving everything related to disks near `Disks` submenu.

The first step of this movement will bring MDstat charts nearest Disk

[2021-05-07 23:05] schklom commented on #11069
I hadn't thought of this, nice find!
[Apparently](https://rootlesscontaine.rs/getting-started/common/cgroup2/), it requires Kernel 4.15 and a recent version of systemd `systemd 244 or later is recommended`.

I don't know why but I have no file for grub (I haven't modified any boot options, this is beyond what I'm comfortable doing)
[code]
In case it matters, I have a headless Debian 10 from https:

[2021-05-08 00:48] Conna576 commented on #11110
What's red gear box?

[2021-05-08 08:07] yasharne commented on #10989
@ilyam8 I tried `netdatacli reload-health` on the parent but it didn't fix the issue

[2021-05-08 09:48] ilyam8 commented on #11069
Unfortunately, no. And I have no Raspberry Pi to test anything.

@schklom closing this issue because [it is not a bug](https://github.com/netdata/netdata/issues/11069#issuecomment-834747968).

[2021-05-08 09:48] #11069 closed

[2021-05-08 11:30] gvasquez95 commented on #11095
error logs from `/var/logs/netdata` for 4 nodes available at:

- https://s3.amazonaws.com/tmp.jooycar/disposable/netdata/tc0.tar
- https://s3.amazonaws.com/tmp.jooycar/disposable/netdata/tc1.tar
- https://s3.amazonaws.com/tmp.jooycar/disposable/netdata/tc2.tar
- https://s3.amazonaws.com/tmp.jooycar/disposable/netdata/tc3.tar

[2021-05-08 13:01] diizzyy commented on #10971
Great, thanks!

[2021-05-09 08:03] Conna576 commented on #11097
Im so lost with all this, i do feel there is only harm with my phone so I should just throe away

[2021-05-09 15:41] thiagoftsm commented on #10989
Hello @yasharne ,

Is this alarm raised for data from a child or a parent node?  I ma trying to figure out why our database is not giving correct data for our health. :thinking: .
Another doubt, I assumed you are using dbengine on parent, please, can you confirm this.

Best Regards,

[2021-05-09 16:43] Izorkin commented on #11088
I could not implement such a method in NixOS.

[2021-05-09 17:56] Izorkin commented on #11088
@vlvkobal @ilyam8 how to change search path from 'netdata_configured_primary_plugins_dir' to custom locate dir?
[code]
here too
[code]
Fille paths are hardcoded.

[2021-05-09 19:32] ilyam8 commented on #11088
It is `[global] plugins directory = ` in the netdata.conf

[2021-05-09 19:53] Izorkin commented on #11088
My configuration file:
[code]
Need to runnig plugin `cgroup-network` from `/nix/store/g1gjpmyh1xkd0f4cq50wbx3cyb613mpv-wrapped-plugins/libexec/netdata/plugins.d` path
The default is hard-coded path `/nix/store/x7h8msqak7jsnzhnfhilss75w980wssk-netdata-1.30.1/libexec/netdata/plugins.d `

[2021-05-09 20:06] ilyam8 commented on #11088
If you need to change path to the `cgroup-network` script (`cgroup-network` uses `cgroup-name.sh`)

[code]

[2021-05-09 21:47] jonnygoz opened #11121 "Docs feedback on: Uninstall Netdata"
**Issue with: Uninstall Netdata**

So I installed netdata using apt but then saw the one line command installer and decided to remove netdata and use that to install. Well, the install aborts because it detects an install using the packeage manager. I deleted /etc/netdata but still cannot get the install to work. Any suggestions?

[2021-05-09 21:53] jonnygoz commented on #11121
Figured it out, deleted all netdata folders

[2021-05-09 21:53] #11121 closed

[2021-05-10 07:01] Izorkin commented on #11088
Thanks, with this variant working.

Found small error: the graph displays` qemu vm01web` instead of `qemu vm01-web`

[2021-05-10 08:32] underhood commented on #10971
@diizzyy  Thanks as well for reporting. It helps a lot to hear back from users.

[2021-05-10 10:08] yasharne commented on #10989
Hi @thiagoftsm child node (which is running MySQL) is streaming to the parent and the alert is raised from the parent as we do not store any metrics on the child
And yes, we are using dbengine the parent

[2021-05-10 11:05] diizzyy commented on #10971
Perhaps it would be an idea to add a FreeBSD CI to avoid similar issues in the future. The Gerbera project seems to have one running for instance.

[2021-05-10 11:13] ilyam8 commented on #11088
I guess this is not a bug, but a feature 😄

Looks like this code. It removes _\x2d_, not replaces it.

https://github.com/netdata/netdata/blob/695342fc7a27a517e25900e2c6e9602a3131c53c/collectors/cgroups.plugin/cgroup-name.sh.in#L439-L442

[2021-05-10 12:25] thiagoftsm commented on #10989
This explains what is happening, I remember I ran tests months ago and during the tests the parent was not raising all expected alarms for children. We are working to improve our stream (ping @stelfrag ) and I hope this will be fixed soon.

[2021-05-10 13:32] OdysLam commented on #11095
Thanks @gvasquez95 for your information.

How do you monitor the elixir app? Did I correctly understand that you are using StatsD _somewhere_ in the stack?

[2021-05-10 14:14] naaano commented on #11095
Hi, I'm the devops guy at jooycar. I'll add some useful info:
- Elixir apps don't start and kill processes all the time. They're threads within the same process that runs for very long time on most apps.
- we're not really monitor apps itself, but OS instance resources.
- The problem might not be related to elixir apps, since we've been experiencing the same issues on apps running on nodeJs and ap

[2021-05-11 06:09] lucasRolff opened #11131 "mysql go client autodetection_retry doesn't seem to work"
##### Bug report summary

I use Netdata extensively and recently made the switch from the python MySQL client to the Golang MySQL client in netdata.

However, whenever MySQL restarts (during upgrade or maintenance), it quite often results in the monitoring of MySQL stops (because of no metrics).

I've configured `autodetection_retry` to 60 in the `mysql.conf`, sadly I never see retry messages in t

[2021-05-11 07:38] ilyam8 commented on #11131
Hi @lucasRolff 👋

This should work w/o the `autodetection_retry` feature, the feature supposed to help you when the service starts after Netdata.

Could you do the following:
 - (assuming you have MySQL running)
 - run the go.d.plugin mysql module in the debug mode, ensure it connect to the MySQL instance and returns data
 - stop MySQL; wait a bit; start MySQL
 - see the debug output, copy it and

[2021-05-11 07:51] ilyam8 commented on #11131
Ok, I did some tests using [bitnami/bitnami-docker-mariadb-galera](https://github.com/bitnami/bitnami-docker-mariadb-galera) and docker stop/start

The gaps are docker stop mariadb; wait; docker start mariadb ():

<img width="1138" alt="Screenshot 2021-05-11 at 10 48 09" src="https://user-images.githubusercontent.com/22274335/117778586-77a9be80-b246-11eb-9790-957069ed7974.png">

---

The is [some

[2021-05-11 10:21] ilyam8 commented on #11097
@thiagoftsm I suggest doing the following:
 - find all related to disk/filesystem collectors
 - propose a hierarchy for them
 - do the changes (separate issues, PRs) following the hierarhy

Otherwise, it is hard to understand/review PRs like https://github.com/netdata/netdata/pull/11119

In addition, it will help us from changing priority again in again (e.g.: move Mdstat under Disks, then decided

[2021-05-11 11:11] ilyam8 commented on #9254
Fixed in https://github.com/netdata/netdata/pull/11050

[2021-05-11 11:11] #9254 closed

[2021-05-11 11:17] ilyam8 commented on #7203
Closing due to inactivity. @vobruba-martin, @mnicker if you can help us to debug the problem i will reopen it.

[2021-05-11 11:17] #7203 closed

[2021-05-11 11:28] ilyam8 commented on #10327
The issue was fixed in #10328.

[2021-05-11 11:28] #10327 closed

[2021-05-11 11:30] #11106 closed

[2021-05-11 13:17] 8465231 commented on #11106
I have read the documentation, it does not mention dcmi at all It only tells how to ignore sensors, not add missing sensors.

The power statistics only show up through dcmi, not the regular ipmi sensors.

[2021-05-11 13:20] ilyam8 commented on #11131
Nice finding! Indeed, i was using `TCP` socket in my test, not `unix` socket.

[2021-05-11 14:38] gvasquez95 commented on #11095
@underhood did you find anything worth investigating in the logs I provided?

[2021-05-11 16:24] underhood commented on #11095
@gvasquez95 at the initial look at aclk logs didn't see something suspicious but haven't given up yet

[2021-05-12 02:04] bazwalt opened #11135 "Deleted War-room has returned and cannot be deleted now."
Hi all,

I have a war-room in my space that was deleted yesterday evening and it has subsequently returned this morning upon my login.

I now cannot delete it again and it keeps telling me I am no longer a room member. I also cannot re-add myself to the room.

[2021-05-12 05:50] wangpei-nice opened #11136 "kernel crash when set "ebpf load mode = return" in /usr/lib/netdata/conf.d/ebpf.d/network.conf"
##### Bug report summary
kernel crash when set "ebpf load mode = return" in /usr/lib/netdata/conf.d/ebpf.d/network.conf

Here is the serial port log.
[minicom-log.txt](https://github.com/netdata/netdata/files/6463743/minicom-log.txt)

##### OS / Environment

OS: Debian 10
Kernel: 4.19
Arch: X86

##### Netdata version

Netdata Version: 1.30.1

##### Installation method

curl -s https://packagecloud

[2021-05-12 07:16] vlvkobal commented on #11106
I'm not a specialist in IPMI, moreover, I don't have access to IPMI hardware. Power statistics should be displayed by default in the `ipmi.watts` chart ("System Power read by IPMI"). `ipmi_monitoring_sensor_iterator_next()` walks through sensors, `ipmi_monitoring_sensor_read_sensor_reading()` gets data.

Maybe @Saruspete can help :shrug:.

[2021-05-12 08:04] #11135 closed

[2021-05-12 08:04] ilyam8 commented on #11135
Issue moved to [netdata/netdata-cloud #93](https://github.com/netdata/netdata-cloud/issues/93) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-12 08:19] ilyam8 commented on #11131
Confirm this.

That is how we _init_ and _check_ the collector:
 - Init(): always once, if it fails we drop the data collection job.
 - Check(): once or every `autodetection_retry` if configured.
 - Collect(): every `update_every`

The problem is we [open a connection in Init()](https://github.com/netdata/go.d.plugin/blob/fb4772c13c3beba5b8d5229dfefe8f62a64c7f6a/modules/mysql/mysql.go#L77-L95) and

[2021-05-12 10:55] underhood commented on #11095
Running netdata master on Amazon Linux 2 ARM64 doesn't reproduce the issue. Must be sth. else there... configuration? During the constantly increasing writes do you keep Cloud dashboard always displayed somewhere or does it increase all the time?

[2021-05-12 11:14] underhood commented on #11095
Do use use memory mode dbengine on all machines?

[2021-05-12 11:48] thiagoftsm commented on #9690
Talking about the limits, last time that we talked about this I remember it was defined:

-  We will store for inbound and outbound dimensions in the format `destination port:PROTOCOL`
-  We have defined a limit to store connections and we were storing them using a kind of race condition.

Should we think again about  the policy to store dimensions?

[2021-05-12 12:10] 8465231 commented on #11106
Yeah, the rest of the sensors work properly without an issue. The problem is that with supermicro motherboards (and apparently HP, possibly dell) the power statistics are delivered through the dcim and not the regular ipmisensors.

The data is there and available as you can see above, it uses the same freeipmi package to do it, just a different command.

Is there a way to add a manual graph to net

[2021-05-12 12:45] vlvkobal commented on #11106
You can write a custom plugin in [Bash](https://learn.netdata.cloud/docs/agent/collectors/charts.d.plugin#a-chartsd-module) or [Python](https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin#how-to-write-a-new-module).
Examples: [Bash](https://github.com/netdata/netdata/tree/master/collectors/charts.d.plugin/example), [Python](https://github.com/netdata/netdata/tree/master/collectors/py

[2021-05-12 13:03] gvasquez95 commented on #11095
The dashboard isn't regularly open on any screen

[2021-05-12 13:04] gvasquez95 commented on #11095
dbengine is a Netdata module? If so, we only use the default config, no tweaks at all.

[2021-05-12 13:20] underhood commented on #11095
@gvasquez95 it is configurable setting which determines how are metrics stored. Default is dbengine if it was built successfully.
You can verify by trying:
`http://127.0.0.1:19999/api/v1/charts` one of the json keys will be named `memory_mode`

[2021-05-12 13:32] gvasquez95 commented on #11095
@underhood I just checked on 6 of the "problem" EC2 instances and yes, all six of them show `"memory_mode": "dbengine"`

[2021-05-12 14:05] cakrit commented on #11111
It looks like the normal memory usage of the entire netdata process with 3 days of retention is under 200MB (closer to 180MB, aligned pretty well with the output of the calculator). So I'm closing this one, anything significantly above this figure can be configured a bug worth investigating.

[2021-05-12 14:06] #11111 closed

[2021-05-12 14:12] cakrit commented on #11110
@Conna576  It's a little pop-up window on the bottom right corner of the netdata agent (not the cloud) user interface. (e.g. http://yourserver:19999). It's supposed to show an error message, when it appears there's a timer that decreases and then it disappears.  We saw it 2-3 times when Gonzalo was accessing directly some agent UIs on your infra.

[2021-05-12 14:32] cakrit commented on #11095
@naaano / @gvasquez95 we did in parallel an investigation of Netdata's high memory usage in your infra.
There's a chance both the Agent - Cloud Link (ACLK) high traffic issue and the high memory footprint are connected and due to constantly changing metrics, which however I couldn't identify on the charts themselves. However, can you please let me know if you see a correlation between the memory u

[2021-05-12 14:38] cakrit commented on #11095
https://github.com/netdata/product/issues/2019 shows how the two can be linked (mentions RAM mode, but dbengine mode also increases memory when dimensions become obsoleted).

[2021-05-12 14:39] gvasquez95 commented on #11111
@cakrit it eats all memory on the instances despite how much memory is available, so it can add up to a couple GBs

[2021-05-12 14:41] underhood commented on #11095
there is PR for that https://github.com/netdata/netdata/pull/11133

[2021-05-12 14:47] cakrit commented on #11111
@gvasquez95 I asked in https://github.com/netdata/netdata/issues/11095 if you see the memory usage linked with the ACLK issue at all. Let's follow up there, we do know that when metrics appear and disappear all the time, we're doing a good job keeping the memory in check. I hadn't seen evidence for that in your infra, but we'll need to dig deeper.

[2021-05-12 14:52] underhood commented on #11095
@gvasquez95 would you be willing to compile netdata with a patch that adds some logs on the problematic node(s)?

[2021-05-12 15:03] Saruspete commented on #11106
I  used the standard FreeIPMI module on Dell, HPE, Intel and SuperMicro. And while testing that to be sure on supermicro, @8465231 is indeed right: the wattage is not reported on Supermicro systems through the sensor reading: only volts, rpms & temperature.

That would be a nice improvement, but would take a long time to be done (and subject to the rather slow 10second refresh time, while the `ipm

[2021-05-12 15:08] vlvkobal commented on #10077
I don't see any action we could do about the issue. Closing it due to inactivity.

[2021-05-12 15:08] #10077 closed

[2021-05-12 15:21] fti-cneve commented on #2133
@ktsaou
I am facing the same issue while running fping_gateway plugin through netdata. When I am executing it manually from console it doesn't shows any error.
Following are the debug logs of netdata:

`2021-05-13 00:13:10: netdata INFO  : PLUGINSD[fping_gateway] : (0247@collectors:pluginsd_worker): connected to '/opt/score/libexec/netdata/plugins.d/fping_gateway.plugin' running on pid 23040
2021-

[2021-05-12 15:38] ilyam8 commented on #5590
@ThoSap @thefiredragon  `zfs list` command returns per pool size/alloc/free data

Copying from the https://github.com/netdata/netdata/issues/3089#issuecomment-350450582

[code]

Any ideas where these metrics come from?

My guess is aggregated data from `objset-*` files?

And what are these metrics?

[code]

[2021-05-12 15:40] thanos-karachalios commented on #10881
I agree here with @Ferroin on point 2. Let's follow some basic rules with what exist in other terminals/IDEs. I don't think of this context as one for netdata branding etc.

[2021-05-12 15:40] fti-cneve opened #11138 "Unable to start fping_gateway.plugin"
I'm running netdata on a debian 10 (buster). When I try to start netdata with fping_gateway plugin enabled it doesn't load and exits with an error. Below is a debug logs of netdata with default debug level (0x0000000000000800):

Seems like fping output in a terminal is also correct while started the fping_gateway.plugin script directly and I can't see any error logs in the output either when run i

[2021-05-12 16:35] 8465231 commented on #11106
Yes, that would be fantastic, still quite new to linux (only be using it regularly for ~6 months) so it would take me much longer then I want to admit to figure this out by myself.

Still plan to figure out custom sensors at some point as there are a few other metrics I have wanted to monitor over time but that is a slow roll job for another time.

Right now I am trying to figure out the optimal p

[2021-05-12 19:19] fti-cneve commented on #9156
I think the same issue is with fping as well. Would you please check??

[code]

[2021-05-12 20:07] ilyam8 commented on #11138
Hi @fti-cneve

Did you test it as `netdata` user?

[2021-05-12 20:14] fti-cneve commented on #11138
Yes @ilyam8 . I tested it through netdata user.
Following are the console logs:

as a netdata user:
`**netdata**@buildhost:/opt/`

[code]

[2021-05-12 20:19] ilyam8 commented on #11138
Ok, if it works when running from the terminal and doesn't work when running as a system service... Let's try to disable systemd CapabilityBoundSet.

Do the following a `root`

[code]

[2021-05-12 22:46] ilyam8 commented on #10207
The fix is https://github.com/netdata/netdata/pull/11092

[2021-05-12 23:42] thiagoftsm opened #11140 "is swapio wrong?"
##### Bug report summary

While I was finishing the PR https://github.com/netdata/netdata/pull/11090 I observed that `in` and `out` on chart `swapio` are showing the opposite of `read` and `write` on eBPF charts. After to take a look in the sar official documentation available [here](https://man7.org/linux/man-pages/man1/sar.1.html) and also this [Red Hat description](https://access.redhat.com/doc

[2021-05-13 01:39] thiagoftsm opened #11141 "Extend SWAP monitoring"
As it was initially explained on the issue https://github.com/netdata/product/issues/1940, we are bringing additional information related to swap memory using eBPF.

Our goal with this new feature is to show when and how processes are accessing the memory swap.

[2021-05-13 01:40] thiagoftsm commented on #11140
@ilyam8 and @vlvkobal I am thinking to use #11090 to fix this issue.

[2021-05-13 02:27] thiagoftsm commented on #11136
Hello @wangpei-nice ,

I could recreate the problem, probably it is happening on Debian the same thing that happens on Ubuntu. The Ubuntu does not use the official Linux kernel and the patches applied created some problems, I will do a deeper investigation on this tomorrow. Please, can you confirm you are running the kernel `4.19.171-2`?

Best regards!

[2021-05-13 02:41] wangpei-nice commented on #11136
Hey @thiagoftsm , here is the result of 'uname -a'.
**Linux debian 4.19.0-16-amd64 #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64 GNU/Linux**
Best Regards.

[2021-05-13 06:08] vincentkersten commented on #10881
Just my input: I think I favor option 1, it keeps it easy (maintainable) , readable, and works 'everywhere'.

[2021-05-13 06:51] vlvkobal commented on #11140
I don't have any swap devices configured but I compared dimensions and their underlying data in `system.swapio`, `system.io`, and `disk.*`. It looks like everything is correct. Please check disk reads/writes when you are testing your PR.

[2021-05-13 09:19] ilyam8 commented on #11140
I took a look at [the documentation you are mentioning](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/4/html/introduction_to_system_administration/s1-memory-rhlspec):

 - `pswpin`:  the pages the system brought in swap.
 - `pswpout`: the pages the system brought out swap.

https://github.com/netdata/netdata/blob/07a9fd07631135fb2025169ab3c1e68f07c28f81/collectors/proc.plug

[2021-05-13 10:05] vlvkobal commented on #11140
`sar`:
[code]

Red Hat
[code]

Thus, `pswpin` = `read` from swap device, `pswpout` = `write` to swap device.

The sentence you crossed out is the correct one.

[2021-05-13 10:39] ilyam8 commented on #11140
Thanks, you are right. It confirms that in/out is confusing when you are looking at the swap chart 😄 You treat it as _in/out to swap_, but in fact, it is _out from/to swap_.

[2021-05-13 10:39] vlvkobal commented on #10206
The changes have been prepared, but in a discussion with @ilyam8 we decided that separating shared memory creates more problems than benefits. Especially it affects alarms, where we have to treat shared memory as used so in all places calculations should contain `$used + $shared`.

The change won't be implemented. I'm closing the issue.

[2021-05-13 10:39] #10206 closed

[2021-05-13 12:24] Ferroin commented on #10422
This issue is a result of macOS not allowing installation of files into the root filesystem combined with us not having a special exception for macOS to our default install path.

We have plans to fix this, but in the short-term you can work around it by using the `--install` option to specify a custom installation prefix. Our default when we do fix it will probably be `/usr/local/netdata`.

[2021-05-13 13:11] thiagoftsm commented on #11136
Thank you very much!

[2021-05-13 13:58] thiagoftsm commented on #11140
Yes, this was the conclusion I arrived, so the dimensions are inverted, and the next screenshot proofs this:

![Screenshot_20210513_135639](https://user-images.githubusercontent.com/49162938/118136024-2e4aa200-b3f3-11eb-8356-1c85252717f1.png)

I will push another commit to synchronize the information.

[2021-05-13 14:20] thiagoftsm commented on #11140
After an internal meeting, we arrived in agreement that the names can be strange for some developers, but they are not contradicting each other.

[2021-05-13 14:20] #11140 closed

[2021-05-14 01:36] jonnygoz opened #11146 "Docs feedback on: Infrastructure monitoring with Netdata"
**Issue with: Infrastructure monitoring with Netdata**

Hi, trying to figure out if/how I can claim my Mac after I installed Netdata and have a cloud account? I tried the claim script but it doesn't seem to work.

[2021-05-14 07:59] JohnnyBee2 commented on #3665
I have the same.

[2021-05-14 15:41] #11075 closed

[2021-05-16 01:59] danktankk commented on #10061
This solution also worked for me..  I has only the following two to remove in my case.  Thank you for the input to help me get this worked out.

root@user:~# grep 'netdata' /var/lib/dpkg/statoverride
netdata netdata 755 /var/cache/netdata
netdata netdata 755 /var/lib/netdata

root@user:~# dpkg-statoverride --remove /var/cache/netdata
root@user:~# dpkg-statoverride --remove /var/lib/netdata

Then I

[2021-05-16 15:03] jordihuertas commented on #10330
Maybe a little later but I had the same problem and I have found a solution.

I have uninstalled netnada to reinstall it without stopping the service, so netdata uninstaller removed all the files but left some trash behind, included the netdata service running.

So I have searched with `sudo find / -iname '*netdata*'` netdata files and I have removed them manually.
After this action, I have run th

[2021-05-16 18:35] fti-cneve commented on #11138
@ilyam8 Thanks. I tried the above and its working now.
But would you please tell me why we need to disable systemd CapabilityBoundSet ??

Thank you so much in advance

[2021-05-16 19:35] zilexa opened #11151 "Netdata kickstart script no Cannot open file /etc/netdata/apps_groups.conf (doesn't exist)"
##### Bug report summary

My boot log says:
[code]

When I check `/etc/netdata`, there is no file `apps_groups.conf`.
Netdata works, but I only use it to monitor a few things and I am no Netdata expert, maybe some graphs are missing.

##### OS / Environment
[code]

##### Netdata version
I am suprised to see the kickstart script installed a nightly version, not the latest stable!
[code]

##### Inst

[2021-05-17 02:09] thiagoftsm commented on #11136
@wangpei-nice the PR #11152 will fix the problem, I am already more than one hour running on Debian 10.9 kernel `4.19.171-2` without any crash, previously Netdata was crashing when the plugin started.

Have a nice week!

[2021-05-17 02:13] wangpei-nice commented on #11136
@thiagoftsm Thank you very much! Have a nice week, too!

[2021-05-17 02:16] Ferroin commented on #11151
The logged message isn’t an error, it’s just supposed to be informative to indicate that a user-provided config file was not found. Stuff like this can safely be ignored in the logs unless it’s for something you were explicitly trying to configure. There has been some discussion in the past about changing how this gets reported, but it’s never really gotten to the point of any conclusive plan.

As

[2021-05-17 08:00] manos-saratsis commented on #10881
@Ferroin I am in favor of the second option but more improvements will be required on the output such as:
- Show final status at the end & instructions how to proceed
- Copy all errors/warnings at the end
- Introduce -debug param which will have the same long output we currently have. If the param is not there show only final status ("Installation completed successfully") and errors/warnings

I su

[2021-05-17 08:08] OdysLam commented on #10330
Hey @jordihuertas can you give us information about your OS?

@Ferroin should it be troubling that the uninstaller left over files?

[2021-05-17 08:55] ilyam8 commented on #11151
Thanks for the detailed explanation @Ferroin

[2021-05-17 08:55] #11151 closed

[2021-05-17 09:22] ilyam8 commented on #11138
If something works in the debug mode but doesn't work when Netdata is running as a systemd service, it is always CapabilityBoundSet restrictions from my expirience.

It is the first time I see that problem with the `fping.plugin`. Usually they are bash/python collectors that use `sudo`.

See the comment https://github.com/netdata/netdata/issues/10044#issuecomment-825603027

---

I see we add `CAP_

[2021-05-17 09:29] fti-cneve commented on #11138
It is already added in netdata.service file for required plugins.

[code]

[2021-05-17 09:45] zilexa commented on #11151
Ok that makes a lot of sense... but!

Why is this shown as an actual red error in the journal on Ubuntu 21.04? I would expect it to have prio 4 (yellow) or just be normal white:

![2021-05-17 11_43_58-Obelix — Mozilla Firefox](https://user-images.githubusercontent.com/3430004/118468741-5d1f8b80-b705-11eb-9725-c657cc681bca.png)

[2021-05-17 09:55] ilyam8 commented on #11151
You are right @zilexa, it is not an error. I would say `info` level message. @thiagoftsm @vlvkobal please check

[2021-05-17 11:38] ilyam8 commented on #11138
Ok, I tested it on my system.

- it works if I have `CAP_NET_RAW`

- it doesn't work otherwise (removed `CAP_NET_RAW`; systemctl daemon-reload; systemctl restart netdata.service)

[code]

---

@fti-cneve let's check `grep -i fping error.log`

[2021-05-17 11:48] fti-cneve commented on #11138
I have removed the previously added file -> /etc/systemd/system/netdata.service.d/unset-capability-bounding-set.conf
`CAP_NET_RAW` kept as it is in netwdata.service.
Then restarted netdata service.

Following are the error logs of netdata:
[code]

[2021-05-17 11:51] ilyam8 commented on #11138
Ok, I see. Looks like `--iface wlan0 192.168.10.1` is the cause! Likely setting the interface requires additional capabilities.

[2021-05-17 11:56] fti-cneve commented on #11138
This is a gateway of my network and it is reachable.

What are the additional capabilities required??

JFYI, With the same configuration it was working with older version of netdata`v1.28.0`. now, I have upgraded netdata to the latest version and facing this issue.
Just a thought, Is there anything changed related to fping plugin in latest version of netdata?

[2021-05-17 12:04] ilyam8 commented on #11138
How did you install `fping`? Let's try to install it using the system package manager (it would be something like `/usr/bin/fping`) and use it.

[2021-05-17 12:11] fti-cneve commented on #11138
Its installed from here -> https://github.com/schweikert/fping
fping version: 4.2 (tried with latest version-5.0 as well)

[2021-05-17 12:52] Ferroin commented on #10881
@vincentkersten In theory, if we implement option 2, we will probably end up doing so in a way that functionally falls back to behaving like option 1 if we aren’t on a color terminal.

@manos-saratsis Agreed, we should sync up on this. Feel free to send an invite for a meeting. I personally think we should probably have some of the UX guys involved in the discussion as well as they may be able to

[2021-05-17 12:55] Ferroin commented on #10330
The uninstaller _should_ be stpping the Netdata service before it tries to remove anything if it0s running. If that fails, then some files being left behind is expected and there’s not really anything we can do about it.

[2021-05-17 12:56] thiagoftsm commented on #11151
For `ebpf.pluigin` error we are using the same code from `apps.pugin`, and we are giving information as an error, because Linux returns an error when it is not possible to open a file, I do not have objection to write this as an `info`.

[2021-05-17 13:08] Ferroin commented on #11151
I’d actually argue that if it’s a case of not being able to open the file because it doesn’t exist (that is, we get `-ENOENT` back from the `open()` call), we shouldn’t even log it for user configuration files. It’s an expected situation that there is no user configuration if they are just going with the default configuration. At minimum, I’d argue it’s a debug message, not info.

Now, that said,

[2021-05-17 13:09] ilyam8 commented on #11151
It depends on a file - if that is something optional, like `/etc/netdata/apps_groups.conf`, it is definitely not an error and not even a warning. You know that it is ok to not have that file 😄

The question is - why do we have that logline in the journald logs and not in the `error.log`?

[2021-05-17 13:12] thiagoftsm commented on #11151
Thank you @Ferroin and @ilyam8 , I will take a look at all C collectors and bring a PR converting the error for message.

[2021-05-17 13:14] ilyam8 commented on #11151
@thiagoftsm that is the sample output from `journalctl -u netdata`

[code]

Why is ebpf in there?

[2021-05-17 13:17] thiagoftsm commented on #11151
Because we call `error`, I will either remove the `error` call or to use `info`.

[2021-05-17 13:34] jordihuertas commented on #10330
@OdysLam my OS is Ununtu Server 20.04 LTS

[2021-05-17 13:47] OdysLam commented on #11146
Hey,

Thank you for this. We are currently working on our macOS release since a couple of bugs have been surfaced.

In the meantime, for the time being, we would suggest using Netdata in a docker container, using Docker Desktop for Mac.

[2021-05-17 13:47] #11146 closed

[2021-05-17 13:50] ilyam8 commented on #11131
@lucasRolff the _autodetection_retry doesn't seem to work_ bug is fixed in https://github.com/netdata/go.d.plugin/pull/577

The problem with UNIX socket is another problem and I am going to reproduce it and create a separate issue.

This one will be closed when the fix is merged.

[2021-05-17 13:54] ilyam8 commented on #11151
The problem is it seems like our logging is not initialized at the moment or something like that, as you may notice there are few messages: reaper + ebpf. Nothing more.

The severity level is not relevant. Will discuss it.

[2021-05-17 14:28] #11131 closed

[2021-05-17 14:59] Ferroin opened #11156 "Save information about what installation method was used when installing Netdata."
This will both let us collect this data in our anonymous statistics, and provide a way for users to definitively tell us how they installed Netdata without having to remember it or look through shell history.

The current plan is to store this in a way that we can easily retrieve it with the anonymous statistics script and that users can easily check it themselves. Most likely this will be a file

[2021-05-17 17:47] ilyam8 commented on #11138
I was thinking that binding to a specific interface requires additional capabilities, but `CAP_NET_RAW` is enough.

---

CapabilityBoundSet hasn't been changed since v1.28.0

[code]

---

I install https://github.com/schweikert/fping using make, it works for me (`/opt/fping/sbin/fping`)

[code]

Unfortunately, I can't reproduce the problem.

[2021-05-17 20:44] iTzEthqnHD commented on #10783
I tried the static installer again today and only a few things fail. I try claiming a node and says netdata-claim.sh: command not found

These are the only things that failed: [](https://i.ethqn.co/KKuZnq.png)

[2021-05-18 10:26] binaryfire commented on #11093
Hey @Ferroin, thanks for the info. I've tried with another cloud provider's Ubuntu 20.04 image and can confirm it works. So it may be an issue specific to Hetner's image. I'll experiment a bit more and let you know.

[2021-05-18 11:57] #11072 closed

[2021-05-18 12:31] thiagoftsm commented on #11097
Considering the suggestion received [here](https://github.com/netdata/netdata/pull/11119#discussion_r634099873) we will need to rename the Menu for `mdstat`.

[2021-05-18 13:08] Lazin opened #11158 "statsd metrics stop updating when the application is restarted"
##### Bug report summary

Statsd collector is not reliable if the application that sends metrics is restarted often.

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

kickstart.sh

##### Component Name

statsd

##### Steps To Reproduce

1. install netdata, enable statsd in config, restart netdata
2. run the application that expors statsd metrics
3. go to lo

[2021-05-18 17:16] Ferroin commented on #10783
Those failures are expected (we try to add the user Netdata runs as to a bunch of well known group IDs on install to help make sure as much as possible works out of the box, and those failures are just cases of such groups that you don’t have on the system in question).

As far as the claiming script, if you’re using the static installer either add `/opt/netdata/bin` to your `$PATH`, or instead in

[2021-05-18 17:19] Ferroin commented on #11093
Indeed, that would not surprise me. A lot of cloud providers add custom repositories to their Linux images to either force them to go through the provider’s local mirrors of the normal repos (and thus cut down on external bandwidth usage, which is usually a good thing for both the provider and the customer) or add some custom guest-side software for things like monitoring and backups. As a result,

[2021-05-18 17:44] binaryfire commented on #11093
@Ferroin Is there any reason why compiled versions aren't provided for each new release? For key archs like amd-64 etc.

I'm coming from Node Exporter / Prometheus. Going from single prebuilt go binaries to having to build from source on every node the agent is installed on feels like a big step backwards :)

It would also solve most of these kind of issues.

[2021-05-18 19:06] ilyam8 commented on #11158
Hi @Lazin 👋

Did you check `error.log`? If no I suggest doing the following:

 - enable statsd in config, restart netdata; run the application that exports statsd metrics;
 - `tail -f error.log`
 - stop the application; start the application again
 - check the log output

---

That is interesting, I wonder why the restart breaks anything 🤔 Perhaps the app sends something not expected?

Can we chec

[2021-05-18 19:08] fti-cneve commented on #11138
@ilyam8
I found that in older version(1.28.0), netdata is running as a netdata user. but in newer version (1.30.0) it is running as a root user. please check following:

Netdata version - 1.28.0
[code]
netdata version - 1.30.0
[code]
Apart from this, I found one more difference between older and newer version of netdata as follows:
I checked difference of netdata.service between 1.28.0 and 1.30.0

[2021-05-19 06:00] wangpei-nice commented on #11136
Hi @thiagoftsm,

Could you elaborate on how you debug this bug? I want to learn it.

[2021-05-19 06:36] vlvkobal commented on #7150
@stelfrag @vkalintiris we still support both - Autotools and CMake build systems, which is not wise. Can we plan further steps on the Epic? I believe that getting rid of Autotools will be of great benefit for us.

[2021-05-19 06:47] vlvkobal commented on #7150
BTW, we broke our CMake build configuration with the last commits. At least, ACLK is misconfigured.

[2021-05-19 09:52] GinoSchreuders opened #11162 "Unable to open the web interface of Netdata :("
Dear reader,

I've been working with Netdata since Monday.

At first my web interface worked but after I installed nginx my web interface stopped working.

I have now been working for more than 10 hours to get the web interface of Netdata working, but I can't.

Tried to reinstall Netdata several times and have also looked at solutions from others but they don't work for me.

It might be helpful to

[2021-05-19 10:44] thefiredragon commented on #5590
Opened for this an issue:
https://github.com/openzfs/zfs/discussions/12080

[2021-05-19 12:38] bymodude opened #11164 "apps.plugin consuming high cpu on medium load server"
##### Bug report summary

apps.plugin is consuming ~70% CPU (70% of a 5950x core) on my medium load server (cpu all core utilization only at 50%, not thousands of processes), this doesn't seem right, how would I go about debugging this?

##### OS / Environment
- uname -a; grep -Hv "^#" /etc/*release  # Linux
[code]

##### Netdata version
[code]

##### Installation method
kickstart.sh

##### Compon

[2021-05-19 12:51] ilyam8 commented on #11164
Hi @bymodude

You are right. 70% is a lot and not expected.

Could you send [a snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) to <ilya@netdata.cloud>? It will help us to debug the problem.

cc @vlvkobal

[2021-05-19 13:47] cakrit commented on #8597
We have already switched over to using Posthog and are receiving eye opening data that will help us improve the agent in many ways.

[2021-05-19 13:47] #8597 closed

[2021-05-19 15:56] Ferroin commented on #11093
Prometheus and Node Exporter are both written in Go, which inherently compiles to a single statically linked binary that only cares about what the kernel and CPU architecture are. This makes it trivial for them to provide prebuilt binaries for most platforms (in theory every platform that Go actually supports, though I don0t think they build for some of the more exotic ones).

Netdata, on the othe

[2021-05-19 17:10] chenrui333 commented on #10842
Any update on this thread?

[2021-05-19 18:32] Conna576 commented on #10842
I honestly don't think I have this installed right.  It all makes no sense.  😞

[2021-05-19 18:49] ilyam8 commented on #11162
Hi @GinoSchreuders

If you believe there is a bug, please add all the info according to [the bug template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug_report.md).

If you are unsure and need support consider using [our community forum](https://community.netdata.cloud/).

In any case, try to provide as much information as you can:

- what is _web

[2021-05-19 18:51] ilyam8 commented on #11162
Closing the issue because it is a question/support request and we use the community forum for that.

[2021-05-19 18:51] #11162 closed

[2021-05-19 18:52] underhood commented on #10842
@chenrui333 we are working on this. There is already one PR that improves things considerably and another one incoming. Currently, we are in code freeze ahead of release. They will go in ASAP as the code freeze is lifted.

[2021-05-20 00:11] 8465231 commented on #11106
No rush, just curious if you had a chance to make a script for this yet?

[2021-05-20 08:07] diizzyy opened #11171 "aclk-ng fails to build on FreeBSD 13"
[code]

[code]
Using netdata 1.31.0 release (builds with cloud functionality disabled)

[2021-05-20 08:08] diizzyy commented on #11171
@underhood
Hi, can you please have a look? :-)

[2021-05-20 08:23] underhood commented on #11171
thx @diizzyy will take a peek probably the `endian.h` needs to be `sys/endian.h` on FreeBSD but I have to verify

[2021-05-20 08:56] diizzyy commented on #11171
Indeed, it should probably look something like this instead
https://github.com/fcitx/libime/commit/974f4deadeedd87cc35c60775064bdcd462b3bea
No idea about CLOCK_BOOTTIME however

[2021-05-20 09:02] underhood commented on #11171
yeah the CLOCK_BOOTTIME i solved on Mac already and i recon it will be the same fix for the BSD
Will add some ifdefs there and should be fine.
But long term I really need to add some automated CI builds for BSD

[2021-05-20 10:57] ilyam8 commented on #11164
@bymodude

 - Does `apps.plugin` consume 70% right after the netdata restart? Or its CPU usage slowly increasing over time? (you sent the snapshot for the last 5 minutes)
 - `apps.plugin is consuming ~70% CPU` Did you check it using Netdata itself or some cli tool?

Let's double-check it using top

[2021-05-20 11:16] ilyam8 commented on #11164
Depends on the number of active processes/number of created processes/s. I get ~60% of a single core with 20k+ active processes.

[2021-05-20 12:41] underhood commented on #11171
@diizzyy do you build from source? I have a fix already and if you do build from source you can go to `mqtt_websockets` folder and do:
[code]
to get the latest version with the fix and go up one folder and run the installer again.

Other way is wait for the fix PR to go in

[2021-05-20 13:10] andyundso opened #11173 "Encoding issues(?) in dbengine files"
##### Bug report summary

I tried to upgrade our Netdata instance, which receives streams from other agents, to v1.31.0. Starting up this instance crashed with a segmentation fault and the following, unusual messages are visible in the log:

[code]

I downgraded back to v1.29.3, the messages are still visible but the instance now starts at least. I can't tell if those errors occurred already prior

[2021-05-20 13:34] knatsakis opened #11174 "BUG: Fix eBPF support on static binaries for Debian/RPM packages"
## Goal

Have eBPF enabled in all installations that have Kernel version newer 4.11

@Ferroin

We should include this on the "binary distros" epic.

Let's approach this holistically, and check

1. if eBPF is enabled by default on all supported platforms
2. if eBPF is enabled on all supported CPUs (depending on kernel version).
3. examine the possibility to differentiate CI/CD for the core agent fr

[2021-05-20 15:06] diizzyy commented on #11171
Fixed as of https://github.com/netdata/netdata/pull/11172

[2021-05-20 15:06] #11171 closed

[2021-05-21 08:24] MrZammler commented on #10721
Hi @OdysLam

Did a few tries here (M1), it seems to work.... (i.e. start, shutdown, start... cycle for 5-6 times in a row). I'm running it as a regular user, compiled from source (not homebrew).

[2021-05-21 09:44] OdysLam commented on #10721
@MrZammler I used the homebrew version. Does your version work with cloud? When you mean source, you don't mean kickstart.sh, right?

[2021-05-21 09:45] andrewm4894 opened #11176 "Add utm params to goto_url in notifications"
To better understand how users are using notifications and maybe even leverage this to build a some useful feature to help users themselves better or more painlessly prioritize notifications we need to start instrumenting them a bit better so we can baseline and measure improvements.

A first step in this is adding [standard utm params](https://en.wikipedia.org/wiki/UTM_parameters) to the `goto_ur

[2021-05-21 09:55] MrZammler commented on #10721
Yes, it works with cloud after the latest mqtt changes from @underhood . It takes a bit of a hassle, but it builds using `./netdata-installer.sh`. There's more info here: https://github.com/netdata/netdata/pull/11145

I'll try to help @underhood iron out some other build issues. I'm don't use the homebrew version, to avoid various conflicts. If it gets built from source, it should be ok then for h

[2021-05-21 10:17] stdedos commented on #11062
Can you please triage and fix this?

It even messes up with upgrades nowadays ...

[2021-05-21 10:32] andrewm4894 commented on #11176
@dim08 @MrZammler hey - here is the issue we discussed about the utm params.  Let me know if any of it not clear or any questions.

[2021-05-21 12:52] Ferroin commented on #11062
Apologies for the delayed response on this.

The most likely case is that you have custom values set for the `web files owner` and/or `web files group` options in `/etc/netdata.conf`. Those need to match the file ownership of the web UI files themselves (yes, I know this is stupid, but I’m unfortunately not the one who has any say in whether we do this or not).

[2021-05-21 13:55] stdedos commented on #11062
First of all, it's `/etc/netdata/netdata.conf`, and
no; `web files owner` and `web files group` are commented out, and their default value appears to be `netdata`.

From my position, I cannot make such claim (as I am _only_ a user) - but we seem to have a mutual feeling about this.

You must either ship a debian variant of `/etc/netdata/netdata.conf`; or (more easily probably), either pack the fil

[2021-05-21 13:57] vlvkobal commented on #9585
@stdedos could you check the permissions for the problematic mountpoint?

[2021-05-21 17:46] Ferroin commented on #11062
Yes, my bad.

This is strange, the default config file we ship in our official packages _should_ have those lines uncommented and set to `root` and `netdata` respectively. Doing so yourself should allow you to work around the issue in the short term.

Just to confirm, you are using our official packages as described [here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/packages

[2021-05-21 17:52] stdedos commented on #11062
The ones from PackageCloud.

Indeed, I just downloaded the package and the values inside seem to be root/netdata.
I guess the deb-specific configuration was somehow missed; I will apply it manually.

Let's check what will happen with the next update.

In the meantime, if you could somehow fix or note this

That'd be great 😀

[2021-05-22 13:37] ilyam8 commented on #11062
I installed Netdata v1.31.0 using the `PackageCloud` repository and I had not problems with the web interface.

I confirm it.

@stdedos closing the issue for now.

[2021-05-22 13:37] #11062 closed

[2021-05-22 13:39] ilyam8 commented on #11062
Also, confirm this too 😅

[2021-05-23 22:37] Jayto1 commented on #10330
Thank you so much I've spent the past couple of days trying to figure out how to remove Netdata from Raspbian and this was the only solution that worked. Much love

[2021-05-24 05:46] jordihuertas commented on #10330
@Ferroin, maybe the bug is not related to the operating system, but to the motherboard. I am also running it on a **Raspberry Pi**, like @Jayto1, who is using Raspbian.
Maybe it is due to low ram memory or a small processor?

[2021-05-24 05:58] Jayto1 commented on #10330
I don't know anything about Linux or how the code works but all I can tell you is that I reinstalled Netdata on my Ubuntu Server (PC) and it actually worked. Un-claiming it was very buggy but this was the case on my Raspberry Pi too. If there is any info you need from me let me know, more than glad to help.

[2021-05-24 07:12] stdedos commented on #9585
Sometime between the last comment, changing my installation to deb-based one, and manually fixing https://github.com/netdata/netdata/issues/11062#issuecomment-846409973 followed by `sudo apt-get install --reinstall netdata` - this was solved

[2021-05-24 07:12] #9585 closed

[2021-05-24 11:34] #11156 closed

[2021-05-24 11:49] groenator opened #11180 "Qnap - MD5 stats for two raids is missleading"
##### Bug report summary

I am running the netdata agent inside a docker container on my QNAP.

 I have two alerts from the mdstats about my raid. It does seem that the two raids in question are in use and they bypass the threshold.

This is my mdStat stats:

[code]

This is a screenshot from netdata:

![Screenshot 2021-05-24 at 12 42 01](https://user-images.githubusercontent.com/5445030/119343076

[2021-05-24 11:58] #11118 closed

[2021-05-24 12:03] #10842 closed

[2021-05-24 12:53] #11141 closed

[2021-05-24 12:57] ilyam8 commented on #11180
Hi @groenator

[code]

That line means:
 - ideally, the array would have 24 devices.
 - currently, 4 devices are in use.
 - 4 devices are in the `up` state (U).
 - 20 devices are in the `down` state (_).

=> the array is degraded (wants 24 devices, got 4).

[2021-05-24 14:24] thegamerrrr opened #11181 "Problem with health_alarm_notify.conf"
When i use the command: /usr/libexec/netdata/plugins.d/alarm-notify.sh test
Netdata doesn't send notification and send this errors: https://nekobin.com/domucaqene but the file is the same of the file on github, how can i solve it?

[2021-05-24 14:30] #11181 closed

[2021-05-24 14:33] thiagoftsm commented on #11181
[code]
I tested our master branch and everything was working, and while I was writing this the issue was closed :laughing:

[2021-05-24 14:37] andrewm4894 commented on #4813
i actually independently opened a request on the community for this - so linking here for reference.

https://community.netdata.cloud/t/clickhouse-collector/1318

[2021-05-24 14:47] thegamerrrr commented on #11181
Yes, I use visual studio that modified the file badly anyway I fixed it, I have a question if I can, after trying the test notifications do I have to run some command to actually activate the real notifications or is it not necessary?

[2021-05-24 15:13] stelfrag commented on #11173
Hi @andyundso thank you for reporting this. We will try to reproduce and fix

If you do not mind about alert historical data (limited history anyway), you can shutdown the agent and remove the

`health-log.db.old`
`health-log.db`

files.

The metrics collected are not affected by this. In fact the warning itself should not crash the agent (which will investigate)

If you wish, you can share one of

[2021-05-24 15:15] groenator commented on #11180
When you said 24 devices do you mean 24 HDDs? My array has only 4 hard disks.

[2021-05-24 15:27] groenator commented on #11180
I think I know why is showing the devices down. I've looked at that array with mdam command and I see a lot of devices removed.

[code]
If these devices are removed why netstat doesn't ignore them?

[2021-05-24 17:05] ilyam8 commented on #11180
Hey, @mailinglists35 👋 Can you help with the issue? You seem to have a good experience with MD arrays.

### My test

#### setup 3 devices level 1 raid

<details>
<summary>cli [Click]</summary>

[code]

</details>

[code]

#### remove 1 device from the array

<details>
<summary>cli [Click]</summary>

[code]

</details>

[code]

---

How do we handle this situation properly?

[2021-05-24 17:12] bv-ritesh commented on #10630
@mrckndt can you share the steps we need to follow to send email notifications from docker image?

[2021-05-24 17:15] ilyam8 commented on #11180
Ok, I see, there is `mdadm grow ...` that allows shrinking the array

After **remove 1 device from the array** step I need to

=>

[code]

---

@groenator that alarm is correct, you've removed some devices, but the number of active devices in the array (`--raid-devices`) values hasn't been changed.

[2021-05-24 20:21] #11180 closed

[2021-05-25 06:29] ticktockhouse opened #11183 "Netdata RPM package is not signed"
##### Bug report summary

Netdata package for CentOS 7 is not signed. The package repo is setup correctly with GPG, but the package itself is not signed, meaning the user must disable GPG checking when installing. This is concerning as it throws the provenance of the package file into question

The error is as follows:

[code]

##### OS / Environment

[code]

##### Netdata version

[code]
##### In

[2021-05-25 09:22] groenator commented on #11180
I havent removed anything, QTS QNAP OS did.

For now I just have to ignore it. I don't want to touch the raid and break it.

[2021-05-25 09:37] ilyam8 commented on #11180
Then I suggest you ask for their support, the arrays are in a degraded state. Just removing a disk is not enough, you need to shrink the array if you are not going to add another disk.

---

I understand your point. You can tune the alarm

[code]

=>

[code]

[2021-05-25 11:54] #11136 closed

[2021-05-25 12:04] Tejes opened #11184 "Segmentation fault in 1.31.0"
##### Bug report summary

netdata segfaults since update to 1.31.0

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

Packagecloud .deb package

##### Component Name

core?

##### Steps To Reproduce

1. Ubuntu 18.04 server running netdata 1.30.1
2. `apt update`
3. `apt upgrade -y`
4. `reboot`
5. ```
    $ service netdata status
    ● netdata.service - Real t

[2021-05-25 12:37] groenator commented on #11180
Thank you! I will contact QNAP. I've being told to ignore it for now.

I will look at adjusting the alarm too.

Thanks for your tip.

[2021-05-25 14:33] gvasquez95 commented on #11095
for sure @underhood .... @naaano is the correct one for such compilation procedure

[2021-05-25 14:49] ilyam8 commented on #11184
@Tejes thanks for the report!

We tried **Steps To Reproduce**, but got not segfault. So there is something specific to your setup... 🤔

- could you share your `error.log`

[code]

- does downgrading Netdata to v1.30.1 fix the problem? Did you try it? If not, please do.

[2021-05-25 15:07] lucasRolff opened #11185 "netdata installer blocked due to CloudFlare Captcha"
##### Bug report summary

It seems like sometimes CloudFlare flags IPs as "not nice" which results in a Captcha challenge for my-netdata.io - when being on a server, it's hard for us to to solve the captcha.

[code]

##### OS / Environment

[code]

##### Netdata version

N/A

##### Installation method

kickstart-static64

##### Component Name

Installer

##### Steps To Reproduce

A bit hard to rep

[2021-05-25 15:36] vlvkobal opened #11186 "High load when a lot of charts are created"
##### Bug report summary

If a lot of charts are created in a short period of time, which is particularly common for k8s, there is a high load and gaps in charts.

When there are ~20000 charts in Netdata, one call to `rrdhost_cleanup_obsolete_charts` takes ~0,0018 sec on Ryzen 3950. If, for example, 100 network interfaces are created, more than 1000 charts are added to Netdata and it takes ~1,8 se

[2021-05-25 15:48] ilyam8 commented on #11186
What else is common for k8s is limiting CPU resources which makes the problem even worse.

[2021-05-25 17:14] Ferroin commented on #10630
The primary requirement is to provide a suitable `/etc/msmtprc` and `/etc/aliases` for your setup. Assuming you don’t have any special requirements for how mail is routed and are just using the default alert configuration for Netdata, this consists of a trivial alias file mapping `root` (and, for debugging reasons, `postmaster` and `MAILER-DAEMON`) to the email address you want to receive the noti

[2021-05-25 17:47] pbk8s commented on #7824
Hey everyone - Just want to check if there are any updates on support for Arm platforms?

[2021-05-25 19:01] Ferroin commented on #7824
As of right now,:

* Our Docker images support 64 and 32 bit x86 and ARM. There are no short term plans to extend this.
* Our static builds currently only support 64-bit x86, but this is likely to change as part of an upcoming overhaul of our installation scripts and methodology. Short term plans are to add 32 and 64 bit ARM support.
* I’m still in the process of adding 32 and 64 bit ARM support f

[2021-05-25 19:24] Tejes commented on #11184
Thank you for your swift response @ilyam8 !

The `error.log` file contains these messages periodically with 30 seconds in-between, looks like systemd hasn't given up trying to start netdata:
[code]

I'll try to downgrade to 1.30.1, if I find out how to. I guess it will solve the problem, because netdata worked fine before updating.

[2021-05-25 19:29] ilyam8 commented on #11184
The following command works for me in Debian

[2021-05-25 19:39] Tejes commented on #11184
Downgrading worked with the command you wrote, and netdata now runs fine.

However there were suspicious messages during the downgrade process:

[code]

And on startup:
[code]

[2021-05-26 00:44] 8465231 commented on #11106
@Saruspete No rush, just curious if you had a chance to make that script? Thanks.

[2021-05-26 08:17] MrZammler commented on #11184
Hi @Tejes

Could you please share your `health-log.db` file? (And if it exists, the `health-log.db.old` one too). They should be in `/var/lib/netdata/health/`. You can send it if you want directly to manolis at netdata.cloud

Thanks!

[2021-05-26 08:21] apinsard opened #11190 "[SNMP] RequestFailedError: GeneralError: 1.3.6.1.2.1.2.2.1.10.1001"
#### Summary

I'm trying to setup SNMP to monitor my router. However I'm facing the following issue when I run `sudo -u netdata /usr/libexec/netdata/plugins.d/node.d.plugin 1 snmp`.

[code]

Here is my `node.d/snmp.conf`:

[code]

Which is basically the first example given from [the documentation](https://learn.netdata.cloud/docs/agent/collectors/node.d.plugin/snmp). I only changed the hostname, r

[2021-05-26 08:44] underhood commented on #11095
@gvasquez95 @naaano there has meanwhile been a new Netdata release. There has been some fixes merged that could cause unnecessary messages to be sent over ACLK (to cloud). Before we go ahead with the log patch could you confirm this issue persists also with new Netdata version?

[2021-05-26 08:53] ilyam8 commented on #11190
Hey @apinsard

Could you try

[code]

[2021-05-26 09:46] andyundso commented on #11173
Hi @stelfrag

Thanks for your reply. I just sent you a mail with both a log and a corrupt database file. Let me know if you didn't receive it.

[2021-05-26 09:55] apinsard commented on #11190
Hello ilyam, thank you for the quick reply!

[code]

[2021-05-26 09:59] stelfrag commented on #11173
Thank  you @andyundso  -- files received

[2021-05-26 10:47] ilyam8 commented on #11190
Let's try the same but with `-v2c`

If I remember correctly `snmp.plugin` uses `v2c` by default.

[2021-05-26 11:12] apinsard commented on #11190
The default version seems to be the version 1: https://github.com/netdata/netdata/blob/68f16bb/collectors/node.d.plugin/snmp/snmp.node.js#L344-L346

I had some troubles to figure out how to set version 2c, but I finally figured it out. You have to set `"version": 1` (https://github.com/markabrahams/node-net-snmp/blob/master/index.js#L177), which is quite counterintuitive (I think it would benefit

[2021-05-26 11:13] vlvkobal opened #11191 "Segmentation fault when a lot of charts are created/deleted"
##### Bug report summary

If a lot of charts are created/deleted in a short period of time, Netdata can crash with a segmentation fault

[code]

another (rare) variant

[code]

Error log

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

From sources.

##### Component Name

netdata core

##### Steps To Reproduce

1. Set
[code]

2. Enable the `example

[2021-05-26 11:13] Ferroin commented on #11184
For reference, the `setcap` error is expected at the moment (Debian has an old version of `setcap` that seems to not like the exact file capabilities we’re trying to use).

[2021-05-26 11:22] apinsard commented on #11190
I just tried with version 3 with the following settings:

[code]

The results are still the same:

[code]

[2021-05-26 11:29] ilyam8 commented on #11190
<details>
<summary>I agree, but that is how it is defined in the library 🤷‍♂️ </summary>

[code]

</details>

---

[code]

You forgot to add `.1001`: `.1.3.6.1.2.1.2.2.1.10.1` => `.1.3.6.1.2.1.2.2.1.10.1.1001`

[2021-05-26 11:31] ilyam8 commented on #11190
It should work w/ and w/o leading dot.

[2021-05-26 11:38] vlvkobal commented on #11186
I think we can call `rrdhost_cleanup_obsolete_charts` periodically (every 10 seconds, or even once per minute) from a separate thread instead of calling it on every chart creation. @stelfrag, what do you think about it?

[2021-05-26 11:44] ilyam8 commented on #11190
Ok, not _bad_ is mine 😄

- `1.3.6.1.2.1.2.2.1.10.1001` (not `1.3.6.1.2.1.2.2.1.10.1.1001`)
- `1.3.6.1.2.1.2.2.1.16.1001` (not `1.3.6.1.2.1.2.2.1.16.1.1001`)

You check these OIDs using `snmpget`.

- if `snmpget -t 20 -v2c -u guest -O fn -c COMMUNITY IP OID` you don't tune `options.version`, because default is using v2.
- if it works only with v1, you set `options.version` to 0.

[2021-05-26 11:59] apinsard commented on #11190
Bleh, I should have paid more attention when pasting the OID.

Anyway, we are unfortunately back to the initial error:

[code]

If I don't set the version in `snmp.conf`, it times out:

[code]

I'm pretty sure default version is Version 1 : https://github.com/netdata/netdata/blob/68f16bb/collectors/node.d.plugin/snmp/snmp.node.js#L344-L346 (net_snmp.Version1 is a constant which value is 0: https:/

[2021-05-26 12:10] ilyam8 commented on #11190
Yeah, the default is version 1 👍

That _GeneralError_ doesn't say much, perhaps [the vaguest error you can get](https://github.com/markabrahams/node-net-snmp/blob/e68632cfd2daf4a3b13aab622af188935886403f/index.js#L35-L55) 😄

Ok, what else we can do is to run the plugin in the debug mode

[2021-05-26 12:47] Saruspete commented on #11106
Woops, very sorry for not replying before @8465231
Yes, I did make some tests, and some refinements to avoid drift.

Let me do a few refinings on the script, and I'll publish it here.
For upstream, that would need more changes, like be incorporated in the freeipmi module... we'll see

[2021-05-26 12:51] 8465231 commented on #11106
Ok cool. Sounds good!

[2021-05-26 13:16] andyundso commented on #11173
FYI after deleting all the health log files, Netdata now properly works again.

[2021-05-26 13:24] apinsard commented on #11190
Indeed :disappointed:

Here is the result of `sudo /usr/libexec/netdata/plugins.d/node.d.plugin debug snmp`

[code]

[2021-05-26 14:44] Saruspete commented on #11106
Here's the plugin: https://gist.github.com/Saruspete/344304c48ae2af6edea6e856c09236ab

You can try it:
[code]

[2021-05-26 14:46] apinsard commented on #11190
There must be something specific about my router that requires some additional options to be passed. I enabled SNMP on another network device of my network and Netdata works fine on this device.

[code]

[code]

[2021-05-26 14:53] Saruspete commented on #11106
Note: for sudo to work with systemd capabilities drop, you'll need to add :
[code]

[2021-05-26 15:01] Tejes commented on #11184
Here you go @MrZammler

[health-log.db.zip](https://github.com/netdata/netdata/files/6547669/health-log.db.zip)

[2021-05-26 15:10] MrZammler commented on #11184
Thank you @tejes! Will have a look, and will let you know.

[2021-05-26 15:25] stelfrag commented on #11186
Yes I think it is a good idea to have it in a separate "service" thread. The new architecture will have an event loop per host that will handle various stuff (this can be one of them)

The rrdhost_cleanup_obsolete_charts is unpredictable (called under specific conditions).

[2021-05-26 19:47] 8465231 commented on #11106
I will try that tomorrow, re-doing some hardware in the server right now so it is down for the moment.

I am using the netdata docker, are the commands the same for that? I think it is based on alpine and sudo does not apply?

[2021-05-27 07:07] MrZammler commented on #11184
Hi @Tejes. I can't seem to reproduce a crash with your health-log.db files... Do you by any chance have another netdata instance streaming to this one (I'm asking because those would have their own `health-log.db` files).

If yes, then under `/var/lib/netdata` there should be directories with guids for each child node, and inside a `health` directory there should be `health-log.db` files for each

[2021-05-27 07:48] Tejes commented on #11184
@MrZammler that did the trick! I don't have any other netdata instance streaming to this one, but moving the health-log.db files away from their location and upgrading netdata to 1.31.0 again solved the crash. It runs fine now.

[2021-05-27 13:46] apinsard commented on #11190
I made a quick test using python `puresnmp` module and it works fine with my router.

[code]

I don't know what's wrong with the nodejs implementation. I think I'm gonna implement my own SNMP plugin using python.

[2021-05-27 14:57] MrZammler commented on #11173
@andyundso Thanks a lot for your help in identifying this. Glad you sorted it out! We'll continue to look into it, to determine exactly what caused it.

Thanks again, and sorry for the trouble!

[2021-05-27 14:57] #11173 closed

[2021-05-27 15:05] MrZammler commented on #11184
Glad you got it working! Sorry for the trouble on this, and thank you for your report, we have identified the reason, and will keep looking in it.

Thanks!

[2021-05-27 15:05] #11184 closed

[2021-05-27 15:07] MrZammler commented on #11191
Hi @vlvkobal ! Just wanted to let you know, I'm trying to reproduce it here, think I've got everything, will let you know what I find!

[2021-05-27 20:56] 8465231 commented on #11106
@Saruspete

Ok, got the server back up I think. gave the above commands a go in the docker but it failed on the :

echo "netdata	ALL=(ALL)	NOPASSWD: $dst" >> /etc/sudoers.d/netdata-ipmidcmi

I tried searching for both netdata-ipmidcmi file and sudoers.d folder but could not find it anywhere in the docker.

Not sure where to go from there.

[2021-05-27 21:03] Reeceline commented on #8967
I'm still having this problem, haven't been able to add one specific server for MONTHS

`[root@host tmp]# bash <(curl -Ss https://my-netdata.io/kickstart.sh)
/dev/fd/63: line 171: /tmp/netdata-test.J2NQ6JnJpC: Permission denied
/dev/fd/63: line 171: /tmp/netdata-test.pAoBuzbKYY: Permission denied

Unable to find a usable temporary directory. Please set $TMPDIR to a path that is both writable and a

[2021-05-27 21:09] Reeceline opened #11198 "Kickstart Installation fails due to failed checksum validation"
Issue has been brought up many times before, I havent been able to install netdata on one specific server for MONTHS.
https://github.com/netdata/netdata/issues/8967

##### Bug report summary

When trying to update an existing netdata installation using the kickstart script via bash <(curl -Ss https://my-netdata.io/kickstart.sh) the script fails with the following message:

Usually this is a result

[2021-05-28 08:16] bv-ritesh commented on #10630
@mrckndt thank you for your help.
I was able to configure netdata alarms in the following manner.
1. update /etc/msmtprc with correct details
2. updating the sendmail="/usr/bin/msmtp" in health_alarm_notify.sh

Again thank you.

[2021-05-28 08:59] Marcool04 opened #11200 "netdata-updater.sh: /opt/netdata/etc/netdata/.install-type not found"
##### Bug report summary

It seems commit https://github.com/netdata/netdata/commit/295d407fb01339a7eb38b5ffa9ccf85d8d57d10c introduced a bug on line 330 of the netdata-updater.sh script. This:

[code]

should probably be:

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

.deb package

##### Component Name

netdata-updater.sh

##### Steps To Reprodu

[2021-05-28 09:00] Marcool04 commented on #11200
Just a quick comment to mention @Ferroin since, as far as I can tell the issue is coming from your commit.

[2021-05-28 09:06] ilyam8 commented on #11200
Hi @Marcool04 👋

Thanks for reporting the issue.

Fixed in https://github.com/netdata/netdata/pull/11199

[2021-05-28 09:09] Marcool04 commented on #11200
Hi @ilyam8! You're quite welcome, well done for the super fast reaction and fix 👍

[2021-05-28 09:52] MrZammler commented on #11198
Hi @Reeceline ! Thanks for your report. We'll have a look, but this:

[code]

...seems weird... Do you get any errors if you go to `/tmp` and do just a `touch test_file` ?

[2021-05-28 11:58] Saruspete commented on #11106
Hum, I chose to run the whole script in sudo to avoid starting "sudo + ipmi-dcmi" every time (as sudo has a much more heavy performance impact, which would lead to sampling drift).

If you are in a docker without sudo, you can try to workaround this by either:
- setting /dev/ipm0 readable by netdata: `chgrp netdata /dev/ipmi0; chmod g+rw /dev/ipmi0`
- setting "ipmi-dcmi" setuid itself, and removin

[2021-05-28 12:43] 8465231 commented on #11106
@Saruspete
It is the official docker image which seems to be based on alpine. I have only been using linux regularly for 6 months, still very much in the learning curve.

After searching it seems that sudo can be installed on alpine but needs some extra configuration steps. I think I got it installed and the sudoer folder is now there.

I ran the commands again and all worked until I tried running

[2021-05-28 12:54] Saruspete commented on #11106
yes, it should be in /sbin or /usr/sbin. From the log output, there's only "/bin" "and "/usr/sbin" in $PATH

[2021-05-28 13:18] 8465231 commented on #11106
Well, I echo $PATH, it gives me this:

/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

but even though trying to run it manually didn't work it works in netdata!

![firefox_K5A6DydqkL](https://user-images.githubusercontent.com/76955719/119989709-017fb880-bfb7-11eb-8278-4e65f3a4e9aa.jpg)

Thanks a lot!

Is there an easy way to make this persistent with docker updates?

[2021-05-28 13:36] 8465231 commented on #11106
I can understand that, I am very grateful for your time getting this working on a limited scale anyways.

What about a more custom option for docker persistence such as a script in a local folder that could be run upon docker start that would check if it was installed and if not install it? not sure if these commands could be scripted?

[2021-05-28 14:42] wangpei-nice opened #11202 "if ebpf_load_program fails and return null pointer, the ebpf.plugin will be segfault"
##### Bug report summary

**collectors/ebpf.plugin/ebpf_process.c:**
Sometimes, ebpf_load_program may fail and return null pointer, then function ebpf_process_cleanup will be called,
bpf_link__destroy(probe_links[i]) will cause segfault, because the probe_links is null.
Same problems in **collectors/ebpf.plugin/ebpf_cachestat.c
                                       collectors/ebpf.plugin/ebpf_dcs

[2021-05-28 16:08] #11202 closed

[2021-05-28 17:09] #11200 closed

[2021-05-28 17:09] Ferroin commented on #11198
@MrZammler The check that0s failing is not just about the ability to create the file, it’s also verifying that the created file can be executed.

The fact that we're not bailing out on that error message is a bug though, execution should stop immediately after printing that error message, because at that point we already know the install _will_ fail (though it should not AFAICT be failing at the p

[2021-05-30 16:07] liwenjie119 opened #11208 "cannot enable nvidia-smi"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

[code]

<details>
<summary>buildinfo</summary>

[code]
</details>

##### Installation method

`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

I follow the guide in collectors/python.d.plugin/nvidia_smi/README.md to enable nvidia_smi, but it does not work.
I removed # before vidia_smi so it reads: nvidia_smi: ye

[2021-05-31 03:06] zero-man-ship opened #11211 "netdata-proxy: File does not exist, or is not accessible"
##### Bug report summary

I wrote a little netdata proxy which located at https://github.com/zero-man-ship/netdata-proxy. This proxy can dynamically proxy back to any netdata instance.

whenever I enter `http://$host/netdata-proxy/host/$backend/`, it works. However, whenever I remove the ending "/", it returns below error

[code]

The code  is quite simple, just forwarding anything from `netdata-p

[2021-05-31 07:05] ilyam8 commented on #11208
Hi @liwenjie119

Let's check the debug mode

[2021-05-31 07:42] #11115 closed

[2021-05-31 09:59] k0ste commented on #8594
Actually, if `smartmontools` will get support for HDD's like smartd logs - it's "just will works" for netdata's `smartd_log` module. Ticket for this - [smartmontools#1190](https://www.smartmontools.org/ticket/1190), and mailing list [thread](https://listi.jpberlin.de/pipermail/smartmontools-support/2021-February/000599.html).

[2021-05-31 17:45] thefiredragon commented on #2031
Official App would be great which would be also integreate the netdata cloud instance.
There are some apps in place from unkown like this:

https://apps.apple.com/us/app/netdata-server-monitoring/id1525322870

Would be a nice feature, best Regards

[2021-05-31 22:10] diizzyy opened #11213 "dashboard ignores /usr/share/netdata/web/version.txt"
@jacekkolasa
Using the solution mentioned here:
https://github.com/netdata/netdata/issues/233#issuecomment-210468649 no longer works

Another bad user experience caused by this bug is that when you've installed a packaged version of netdata it's not covered by the documentation (since it's impossible to cover all distros etc) and it's not advisable to work around package management frameworks in g

[2021-05-31 22:21] diizzyy opened #11214 "GNU autotools fails to determine version when using release archives"
Currently configure.ac relies on git and that netdata is in a git repo to determine version which fails since the packaged version isn't a valid git repo and relying on git for packaging isn't ideal.

Ref:
https://github.com/netdata/netdata/blob/master/configure.ac#L8

OS: FreeBSD 13
Tested version: 1.31.0 (it's been broken for quite some time now)

[2021-06-01 13:32] Ferroin commented on #11214
@netdata/agent It would be great if we could fix this. The ideal behavior is that if we are not in a git repo, we look at `packaging/version`. The code in `configure.ac` looks like it _should_ be behaving this way, but it appears to not do so at least for some systems, so we definitely have a bug somewhere.

I would volunteer to work on this, but I’m unfortunately a bit busy with the installer ove

[2021-06-01 14:05] liwenjie119 commented on #11208
I read the debug log and I found I set exclude_zero_memory_users :yes. I lost a space between : and yes

[2021-06-01 14:05] #11208 closed

[2021-06-01 18:56] 8465231 commented on #11106
Just dropping this here in case anyone finds this on google. Managed to create a script that installs this plugin (along with the apcupsd package needed for monitoring a UPS). I have not figured out how to have to run automatically on startup of the docker but it can be run manually inside the docker using a mapped persistent folder.

`#!/bin/bash

apk update && apk upgrade && apk add apcupsd sudo

[2021-06-01 21:34] ilyam8 commented on #11190
@apinsard unfortunately, I don't know too 😔 We plan to rewrite `snmp.plugin` in another language (not priority atm), we don't really maintain nodejs version. Sorry, that couldn't help you.

[2021-06-01 21:35] #11190 closed

[2021-06-02 08:15] adamsj182 opened #11218 "Brew: fail, Build-from-source: fail, Integrating on Darwin: FAIL!! Hate Docker: PASS."
Brew package is maintained up to v1.29.3-140-nightly. I can't claim my Darwin node because it wants the updated v1.31.0-41-nightly. You'd think the old nightly was smart enough to update to the new nightly but nope. Fail. This normally wouldn't bug me but your explicit instructions are to install and update using brew….so yeah…that kinda bugs the piss outta me.

Tried to build from source (like ab

[2021-06-02 09:45] bv-ritesh commented on #884
@ktsaou I am facing this issue now. running netdata v1.31.0 inside docker container using docker-compose.
with following compose file.
[code]

on removing the container i.e
[code]

and then again doing
`docker-compose up -d `

all my data is deleted. I have custom statsd data as well in this and everything is lost.

[2021-06-02 10:09] ilyam8 commented on #884
@bv-ritesh that is strange, you have your data persistent until you don't delete the volumes.

You can check if they are on the system after `docker rm netdata`

Another possibility is your memory mode is not `dbengine` 🤷‍♂️ Do you lose metrics after `docker restart netdata`?

[2021-06-02 10:15] bv-ritesh commented on #884
Hi @ilyam8 , thank you for your reply.

1. output of : `docker volume ls -f name=netdata`
[code]

2. I do not lose data after restart but losing it while removing and recreating the container. also all my configs are preserved inside netdata_netdataconfig

[2021-06-02 10:25] bv-ritesh commented on #884
@ilyam8 can this be because new container is not able to read this data properly? are there any logs which we can look into?

[2021-06-02 10:41] ilyam8 commented on #884
I don't think so, I believe Netdata wouldn't start in that case.

Just to ensure, I followed your _steps-to-reproduce_

<details>
<summary>copied your docker-compose</summary>

[code]

</details>

<details>
<summary>docker-compose up -d</summary>

See, 3 volumes are created.

[code]

</details>

<details>
<summary>docker-compose down</summary>

No volumes are deleted

[code]

</details>

<details>

[2021-06-02 10:48] bv-ritesh commented on #884
Yes, new volumes won't be created. but stats are not persisted.
are you able to replicate this issue? that stats are not persisted?

[2021-06-02 10:59] ilyam8 commented on #884
Oh, I forgot to add the result 😄  No, there is no issue for me.

<details>
<summary>See the screenshot (first up; down; up; down; up)</summary>

<img width="1131" alt="Screenshot 2021-06-02 at 13 58 27" src="https://user-images.githubusercontent.com/22274335/120469107-9ebd6100-c3aa-11eb-9831-b3e53466c886.png">.

</details>

[2021-06-02 12:19] bv-ritesh commented on #884
@ilyam8 just now tried `docker-compose down`  and found that the data is persisted.
it seems when we do `docker rm netdata` data is not persisted. can you validate that as well.
the steps to try are follows:
[code]

[2021-06-02 12:22] ilyam8 commented on #884
`docker-compose down` stops and removes the container as well (docker stop ..., docker rm ...)

[code]

I tried it, I do `docker rm `netdata` pretty often 😄  This command removes the netdata container, it doesn't remove volumes.

[2021-06-02 12:46] bv-ritesh commented on #884
HI @ilyam8, i am now able to persist the data. still not clear why it happened. it started persisting once i removed all the volumes related to it. and then docker-compose created them again.

after that both the command docker-compose down and docker rm netdata are persisting the data.

I have a feeling that my volumes might be having some data which might be causing the issue. as before I was tr

[2021-06-02 13:11] MrZammler commented on #11218
Hi @adamsj182, thanks for your report!

We're aware of the MacOS situation, and we are currently trying to make it a Netdata first class citizen! In general, if you have the required homebrew dependencies (https://learn.netdata.cloud/docs/agent/packaging/installer/methods/macos), it should build (at least on Intel macs, M1 ones are a bit different..) (Although the python error is strange...)

As a

[2021-06-03 06:52] bv-ritesh commented on #884
@ilyam8 sorry to bother you again. I can see that I am losing data even on restarting the docker sometimes.

More info about our system, we are having servers that run around 200 dockers in it added 5 servers of this type to netdata master which is running in docker v1.31.0 slave netdata is running on host without docker.

Issues.
1. some of these servers are not showing all the stats.
2. Alarms a

[2021-06-03 07:15] iigorkarpov commented on #8917
This issue is back again. Version 1.30.1-2.el7

[2021-06-03 10:40] pdgaaa commented on #10200
Hi,
I just installed last version from packagecloud 1.31.0 on RHEL 7.9 (kernel options for BPF are good) and I haven't the ebpf plugin, directory /usr/libexec/netdata/plugins.d/ebpf.d/ does not exist.

Is there somewhere the logs of the package build ?

Could we change the title of this issue as it concern netdata rpm not specificaly 1.26 ?

Regards

[2021-06-04 07:33] chongwang87 commented on #7762
https://github.com/netdata/netdata/issues/3620#issue-312822612

[2021-06-07 01:24] thiagoftsm commented on #11136
Hello @wangpei-nice ,

Sorry for the long time to answer you, but I was very busy these last days.
To debug everything related to eBPF, I generally use `bpftool` that is part of Linux kernel, you can find it inside `tools/bpf/bpftool`, in normal situation distributions have conditions to install it easily, but I use Slackware, so I compile from scratch. Considering that you wanna learn, I will giv

[2021-06-07 13:37] sannithkk commented on #4876
Hi I would like to contribute for this project.

[2021-06-07 15:00] OdysLam commented on #4876
Thanks @sannithkk,

There are 2 avenues. We can either use the already implemented [Prometheus endpoint collector](https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/prometheus) or use the [Prometheus package helper function](https://github.com/netdata/go.d.plugin/tree/master/pkg/prometheus) to easily code a new collector in Golang.

1) the First option is very easy since we onl

[2021-06-07 19:54] Macleykun commented on #3625
Any update on this?

[2021-06-08 02:05] kmlucy commented on #10903
Has there been any progress on this? I'm not able to upgrade to v1.30 with this bug.

[2021-06-08 05:31] wangpei-nice commented on #11136
@thiagoftsm  It's very kind of you, thank you very much for your detailed explanation.

[2021-06-08 07:54] underhood opened #11227 "fix eBPF installer flag --enable-ebpf"
##### Bug report summary

If I provide the installer with `--enable-ebpf` it means I specifically ask to build `ebpf` (as a user I say I really want this feature). In such case, if there is a failure to use it the error need to be more explicit and not some hidden warning on line 235 out of 2000 of installer output.

Currently, it just prints a warning that users need to search for in the log and

[2021-06-08 09:10] stelfrag commented on #10903
@Ferroin any idea on how to best handle this? Looks like alpine 3.12.7 is affected

[code]

[2021-06-08 10:45] sannithkk commented on #4876
That's sounds good,

Am interested in Option 2.
Am new to GO, but would like to contribute for sure.

On Mon, 7 Jun 2021, 8:30 pm Odysseas Lamtzidis, ***@***.***>
wrote:

[2021-06-08 11:39] tvarsis opened #11228 "BUG: kickstart-static64.sh - Doesn't work after latest commit"
Latest update to the kickstart-static64.sh references a file that does not exist and hence the install script will fail every time. This script does not create that file as other install scripts does, so should be very easy to reproduce.

Error: kickstart-static64.sh: 212: .: Can't open /opt/netdata/etc/netdata/.install-type

[2021-06-08 12:17] OdysLam commented on #4876
Awesome!

When you are ready, create a topic in our forum and we will continue the discussion there with @ilyam8 . We will give you a good example collector to start working from and whatever question, you can post there.

This forum topic will serve as a good guide for other people !

https://community.netdata.cloud/c/agent-development/9

[2021-06-08 13:03] apinsard commented on #11190
Thanks for your help anyway. :) To provide you with more information when you'll rewrite the plugin, here is a few things I noticed:

1. I tried 3 python modules, and had related issues with 2 of them. Only `pysnmp` worked properly.
2. Even using pysnmp, and polling every 300 seconds, my Cisco router's SNMP messes up after a few days and even CLI snmpwalk/snmpget fail for some (most) OIDs. And the

[2021-06-08 13:44] ilyam8 commented on #4876
I would [start from](https://github.com/netdata/netdata/issues/4876#issuecomment-593272919)

#### We have answers (not 100% sure)

- how metrics can be gathered?
  - Jenkins has REST API (`http://my-jenkins-instance:8080`)
- what endpoints should be used?
  - jobs metrics: `/api/json`
  - nodes metrics: `/computer/api/json`

#### We have no answers

- do we need both jobs and nodes metrics?
- we n

[2021-06-08 13:50] ilyam8 commented on #7762
Thanks, @chongwang87.

@gdelafond @arabiran are you still interested in this request?

[2021-06-08 13:56] gdelafond commented on #7762
Hello, yes it would be nice to have that to detect abusers or bugs in applications. @ilyam8

[2021-06-08 14:30] Ferroin commented on #11227
This should probably just fail the build, though it’s far from the only such case...

[2021-06-08 14:36] ilyam8 commented on #11227
My understanding of the pattern - the build should never fail (especially if the component is optional)

[2021-06-08 14:38] ilyam8 commented on #11227
I remember @Ferroin added a nice `defer errors` feature, so you can read all the errors at the end of the output

[2021-06-08 14:40] Ferroin commented on #10903
All versions of Alpine are affected, because the relevant packages are being pulled from the testing repo for Alpine Edge. NSPR appears to be broken _there_, and there is exactly nothing we can do about it.

[2021-06-08 14:48] Ferroin commented on #11227
If a user asked for a feature, and we can not provide it, then we should fail the build. Period.

If you go to get a pizza with a specific set of toppings, but the restaurant is out of one of those toppings, do you expect them to make the pizza without that topping and only tell you after they get it to your table, or should they ask you what to do _before_ making the pizza? The principle is the s

[2021-06-08 14:51] ilyam8 commented on #11227
[It wasn't my view](https://github.com/netdata/netdata/issues/11227#issuecomment-856824259) how it should work, just said that it doesn't look like the current pattern.

[2021-06-08 15:06] underhood commented on #11227
Well it is what I do on ACLK side and know from most other SW (3 state configure flags).... my apologies for assuming (probably incorrectly) that was the netdata pattern

[2021-06-08 15:09] underhood commented on #11227
in this case it is more like they make pizza without that topping and you only discover it after you started eating

[2021-06-08 15:14] ilyam8 commented on #11227
[I expect all of them to be printed to the terminal](https://github.com/netdata/netdata/blob/master/netdata-installer.sh#L1894) at the end of the output.

[2021-06-08 15:19] ilyam8 commented on #11227
@underhood @Ferroin you guys suggesting screwing up half-cooked pizza if there is no one ingredient. What a waste 😄

(jokes aside - i personally have nothing against this approach (if it is not a pizza ofc))

[2021-06-08 15:21] ilyam8 commented on #7762
Ok, then closing this issue in favor of #3620

[2021-06-08 15:21] #7762 closed

[2021-06-08 15:32] ilyam8 commented on #884
I would check the parent instance `stream.conf` - `[API KEY] -> default memory mode`

[2021-06-08 16:22] Ferroin commented on #11227
Agreed, we should definitely be making more active use of the deferred error reporting functionality than we currently are.

[2021-06-08 17:10] modem7 opened #11229 "IPMI plugin not installing"
##### Bug report summary

IPMI stats are not showing on Netdata. Nothing of note has changed as far as I'm aware bar regular Netdata updates.

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

[code]

##### Component Name

[code]

##### Steps To Reproduce

[code]
![image](https://user-images.githubusercontent.com/4349962/121228776-10068380-c885-11eb-8618-b74

[2021-06-08 17:14] ilyam8 commented on #11229
Hi @modem7

You need `libipmimonitoring-dev` or `libipmimonitoring-devel` installed on your system to compile the plugin. See [Compile freeipmi.plugin](https://learn.netdata.cloud/docs/agent/collectors/freeipmi.plugin#compile-freeipmiplugin) doc.

[2021-06-08 17:24] modem7 commented on #11229
My sincerest apologies, I'm an eejit.

I ran ipmimonitoring and assumed (bad decision right there) that -dev was already installed.

This resolved it! Thank you again and apologies for the incorrect assumption!

[2021-06-08 17:24] #11229 closed

[2021-06-09 02:59] #10222 closed

[2021-06-09 03:06] startryst commented on #8527
Update to keep this issue opened

[2021-06-09 03:18] ansred commented on #10764
Issue is fixed by code change on the gluetun VPN container.

[2021-06-09 03:18] #10764 closed

[2021-06-09 07:16] MrZammler commented on #10988
Hi @ciber96! Sorry for the late reply.... Do you still have this problem? Thanks!

[2021-06-09 08:02] underhood commented on #10746
bump

[2021-06-09 08:04] #10212 closed

[2021-06-09 08:08] vjt commented on #10886
I encountered this issue. I haven't delved into its details but I was able to work it around by pointing the browser to the target server's IP address instead of its DNS name.

[2021-06-09 09:01] ilyam8 commented on #11027
Closing due to no response. @GamerAtlantis I hope you managed to fix the problem!

[2021-06-09 09:01] #11027 closed

[2021-06-09 09:03] #10538 closed

[2021-06-09 11:18] rabbi696 commented on #2938
To uninstall NetData, this command works for me: `/usr/libexec/netdata/netdata-uninstaller.sh --force --yes`

[2021-06-09 11:21] fti-cneve opened #11232 "How to suppress charts generated through from filecheck plugin?"
How to suppress chanrts generated through filecheck plugin?
I need to hide the unnecessary charts from netdata graphs. Is there any way or configuration for filecheck or for netdata to hide or suppress the unnecessary charts?

OS / Environment:
Debian 10 (buster)
Netdata Version: v1.30.0

Output of uname -a; grep -Hv "^#" /etc/*release # Linux
[code]
Output of netdata -W buildinfo
[code]
##### Ins

[2021-06-09 15:23] ilyam8 commented on #11232
Hi @fti-cneve

That is not a bug, so I am going to close the issue. If there are any questions consider using [our community forum](https://community.netdata.cloud/)!

---

Correct, there is nothing. Still, there is a way to disable the chart.

You can find the chart in the `netdata.conf` and disable it.

[code]

If you can't find the chart in the conf you can download the actual config via Netdat

[2021-06-09 15:23] #11232 closed

[2021-06-09 20:28] vitabaks commented on #6050
I will wait for authorization in Netdata.  Thanks!

[2021-06-10 17:00] ilyam8 commented on #3620
We execute [SHOW USER_STATISTICS](https://mariadb.com/kb/en/show-user-statistics/), but use only the following metrics from the output:

- Cpu_time
- Rows_read
- Rows_sent
- Rows_deleted
- Rows_inserted
- Rows_updated
- Select_commands
- Update_commands
- Other_commands

@gdelafond take a look at [information_schema.USER_STATISTICS](https://mariadb.com/kb/en/information-schema-user_statistics-tabl

[2021-06-10 17:09] ilyam8 commented on #3620
We have it, it is [`Active Connections`](https://github.com/netdata/go.d.plugin/blob/f90d7ff39d052e3d8adb527ad6f4d68e07c71562/modules/mysql/charts.go#L140-L150) chart (`Threads_connected` metric).

[2021-06-10 17:16] ilyam8 commented on #3620
Yeah, it looks like we need [SHOW [FULL] PROCESSLIST](https://mariadb.com/kb/en/show-processlist/).

[2021-06-11 02:26] Syd-Ra commented on #4867
I've opened a feature request on the forum as suggested; link below for reference in case it's useful.
https://community.netdata.cloud/t/aws-ecs-fargate-support/1420

[2021-06-11 15:42] Snuggle commented on #9059
It doesn't seem as if https://github.com/netdata/netdata/pull/8913 from https://github.com/netdata/netdata/issues/3381 has fixed this issue as my memory usage is still reported as much higher than it actually is?

<img width="1147" alt="image" src="https://user-images.githubusercontent.com/26250962/121712350-931d1900-cad3-11eb-97b9-529f3aeaa672.png">
<img width="872" alt="image" src="https://user-

[2021-06-12 03:25] br01fox commented on #10205
Firefox does not support root. In my case!

[2021-06-13 10:50] #11211 closed

[2021-06-15 07:59] MrZammler commented on #11176
Hi @andrewm4894 , we can pick this up now... I will let you know...

[2021-06-15 09:10] catcherxuefeng commented on #8527
Currently, it can be accessed normally.
https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/install-required-packages.sh
https://storage.googleapis.com/netdata-nightlies/sha256sums.txt

Chinese users should Install use the .run package

[2021-06-15 12:09] ilyam8 commented on #10890
@fzyzcjy hey

[Was I correct?](https://github.com/netdata/netdata/issues/10890#issuecomment-821989269)

[2021-06-15 13:12] marionassef opened #11250 "Disable the local dashboard not working"
##### Bug report summary
Hi,
I'm trying to disable the local dashboard by edit "mode = none" but it doesn't work, still can access
Netdata dashboard on 19999 port,
[web]
        # ssl key = /opt/netdata/etc/netdata/ssl/key.pem
        # ssl certificate = /opt/netdata/etc/netdata/ssl/cert.pem
        # tls version = 1.3
        # tls ciphers = none
        # ses max window = 15
        # des max wi

[2021-06-15 13:22] OdysLam commented on #8527
That's awesome, thanks @catcherxuefeng for letting us know!

[2021-06-15 13:37] ilyam8 commented on #11250
Hey @marionassef, [you need to remove `#`](https://learn.netdata.cloud/docs/agent/web/server#configuration).

[2021-06-15 13:45] marionassef commented on #11250
@ilyam8 thanks bud, my bad

[2021-06-15 13:46] #11250 closed

[2021-06-15 23:48] RX14 commented on #10077
I've found that for AMD cpus, the `stats/time_in_state` reports the right values, and `scaling_cur_freq` does not.

I've added a systemd unit override containing
[code]
to work around this, and force netdata to fall back to the other file, and I get accurate frequency statistics.

Perhaps changing the order of these files on AMD cpus will give better results, or perhaps the latter file is good for

[2021-06-16 00:05] fzyzcjy commented on #10890
@ilyam8 Hi sorry I did not test it yet since have many high priority things to do... I will check it soon

[2021-06-16 06:05] fti-cneve opened #11254 "Slabinfo plugin is failing to load after reboot"
I'm running netdata on a debian 10 (buster). After reboot slabinfo plugin doesn't load but If I am restarting netdata service then slabinfo plugin is loading without any error.

OS / Environment:
Debian 10 (buster)
Netdata Version: v1.31.0

Output of `uname -a; grep -Hv "^#" /etc/*release # Linux`
[code]

Output of `netdata -W buildinfo`
[code]

##### Installation method
from github, using make

D

[2021-06-16 07:03] ilyam8 commented on #10077
@tycho hi, you seem to have a very good understanding of the subject. [What do you think?](https://github.com/netdata/netdata/issues/10077#issuecomment-861905902)

[2021-06-16 07:37] vlvkobal commented on #11254
@Saruspete, could you take a look?

[2021-06-16 09:38] tycho commented on #10077
This is one of the reasons I did the turbostat plugin before. It accounts for the turbo frequencies, most likely the same way as on Intel (through MSRs). Unfortunately my turbostat plugin doesn't work anymore because the output format of `turbostat --Dump` changed at some point. I probably just need to bite the bullet and read the MSRs from `/dev/cpu/*/msr` directly, but that would require knowing

[2021-06-16 21:47] Saruspete commented on #10077
Could you please provide the CPU Model, kernel & OS version + the output of `cpupower frequency-info` & `scaling_cur_freq` please ?

Since 4.13.14 / 4.14.0 there was [changes in kernel code](https://bugzilla.kernel.org/show_bug.cgi?id=197009) for /proc/cpuinfo, which may involve the internal loop that updated this quick value to be not well updated.

both  [cpupower](https://github.com/torvalds/li

[2021-06-16 21:59] Saruspete commented on #11254
From the message `requested a SET to dimension with id 'au_finfo'` and issue being at startup only, I assume it's a kernel driver (probably aufs) that loads lately, and get in the stats after the initial discovery has been done.

While it's not due to a change in collector code, it's a behavior that isn't well handled.

That could be done without too much performance impact by counting the [number

[2021-06-16 22:53] Saruspete commented on #11254
@fti-cneve can you please check with this fix: https://github.com/netdata/netdata/pull/11257

[2021-06-16 23:30] #9419 closed

[2021-06-16 23:30] #10169 closed

[2021-06-16 23:30] #10511 closed

[2021-06-16 23:30] #7812 closed

[2021-06-16 23:30] #10610 closed

[2021-06-16 23:30] #10209 closed

[2021-06-16 23:30] #10471 closed

[2021-06-16 23:30] #11023 closed

[2021-06-17 06:24] vlvkobal commented on #10209
Please look at a relevant [comment](https://community.netdata.cloud/t/change-chart-resolution-for-ntpd-plugin/1411/4) at Netdata community forum.

[2021-06-17 07:53] #11254 closed

[2021-06-17 13:03] RX14 commented on #10077
Oh, I mistyped: `stats/time_in_state` gives the wrong values (because it is limited to only the acpi frequency steps without boost), and `scaling_cur_freq` gives the correct value.

[code]

[2021-06-17 15:28] vibhutigupta opened #11260 "Unable to build on Oracle Linux 8.3 VM"
I am getting the following error, I even tried running install-required-packages.sh and then reinstalled using netdata installer but ended up with same issue.

Sorry! netdata failed to build...

You may need to check these:

1. The package uuid-dev (or libuuid-devel) has to be installed.

   If your system cannot find libuuid, although it is installed
   run me with the option:  --libs-are-really-

[2021-06-17 17:13] Saruspete commented on #10077
Yeah, it's the acpi_cpufreq module that just reports the BIOS populated values, and when the turbo is enabled, you have no control on it. That was the same with intel in older kernels (or if you disable the intel_pstate)
The new intel_pstate driver provides accurate freq + hints on the turbo so you can ask for min/max frequencies, even in turbo-boost mode.

We should discard the time_in_state read

[2021-06-17 17:23] ilyam8 commented on #10077
@Saruspete is that something you would be willing to help with? 🙃

[2021-06-18 07:08] raytracy opened #11261 "alarm-notify.sh has invalid conditional statements for sendmail"
##### Bug report summary

**alarm-notify.sh  cannot import the EMAIL_SENDER variable setting to change the sender name, and always send mail using netdata as sender.**

##### OS / Environment

uname -a; grep -Hv "^#" /etc/*release
[code]
##### Netdata version

netdata -W buildinfo
[code]

##### Installation method

**bash <(curl -Ss https://my-netdata.io/kickstart.sh)  --stable-channel --dont-wait

[2021-06-18 08:19] ilyam8 commented on #11261
Hey @raytracy

Try to change it to

[code]

---

sendmail --help 2>&1 | grep -q "-F
actually not work in my OS.
I have tested in CentOS 8/7, both of them will stuck with this statement and waiting for a stdin input.

You forgot to add closing `"`

[2021-06-18 08:19] ilyam8 commented on #11261
That condition were added in https://github.com/netdata/netdata/pull/10631

[2021-06-18 09:12] MrZammler commented on #11260
Hi @vibhutigupta ! Thanks for your report! We'll try to replicate, it's probably some missing dependencies!

[2021-06-18 12:07] Ferroin commented on #11260
This _may_ be related to a problem we0re having on CentOS 8 right now. Can you try installing libarchive and rerunning the Netdata installer? If it’s the same issue as the one on CentOS 8 that _should_ get things working.

[2021-06-18 12:15] MrZammler commented on #11260
I've just tried on a clean Oracle Linux 8.3, and I think libuv-devel is missing here... Configure fails with
`checking for uv_fs_scandir_next in -luv... no
configure: error: libuv required but not found. Try installing 'libuv1-dev' or 'libuv-devel'.`

And `dnf --setopt=strict=0 install libuv-devel` returns `No match for argument: libuv-devel`, guess it's no longer in default repositories...

[2021-06-18 12:18] Ferroin commented on #11260
Ah, yeah, that’s probably the case.

I’m not sure how we would get header files for libuv on OEL though, we have to depend on a third-party repo for RHEL/CentOS 8 as it is because of questionable choices made by RHEL (which seem to now be inherited by OEL).

We probably have a similar issue on whatever the most recent release of Amazon Linux is as well for exactly the same reason.

[2021-06-18 12:57] MrZammler commented on #11260
@vibhutigupta Can you try installing `libuv-devel` using `yum install https://yum.oracle.com/repo/OracleLinux/OL8/distro/builder/x86_64/getPackage/libuv-devel-1.40.0-1.el8.x86_64.rpm` and try to build again please?

@Ferroin Yes, not sure if it should be automated by the installer or provide instructions to the user....

[2021-06-18 13:17] vibhutigupta commented on #11260
@MrZammler It worked, Thanks guys for a quick turnaround.

[2021-06-18 13:34] Ferroin commented on #11260
@MrZammler We should add it to the installer. The better question is whether that’s a repo we can enable or not, as that would be preferred to pulling in single packages.

[2021-06-18 13:51] #11228 closed

[2021-06-18 19:50] raytracy commented on #11261
It still not working in my CentOS 8/7, this command did not echo anything, just hang on there and waiting for me to type some thing until I press Ctrl-C to break it.

[2021-06-18 20:12] vanpelt opened #11266 "kickstart-static64.sh is corrupt"
##### Bug report summary

The MD5 is no longer d80cb6e7b48f2825aade13120ec5364d as described [here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart-64).  When attempting to run it, it throws the following error:

[code]

This is the tail of the file:

[code]

##### OS / Environment

Docker

##### Netdata version

Latest

##### Installation method

Kickstart Static

###

[2021-06-18 20:38] ilyam8 commented on #11261
@raytracy could you try `sendmail -xxx`? The idea was to get _Usage_ adding any unrecognized option.

[2021-06-18 20:49] Ferroin commented on #11266
The script itself is indeed corrupted due to it having been incorrectly updated on the web server hosting it. Working on fixing it right now.

[2021-06-18 20:57] Ferroin commented on #11266
The copy on the web server has been fixed now. It may take an hour or so for the effects to propagate through any downstream caches though.

[2021-06-18 20:57] #11266 closed

[2021-06-20 18:50] ccremer opened #11268 "Please deprecate the node.js collector "fronius""
Hi.
I'm the original author that contributed the ["fronius"](https://github.com/netdata/netdata/tree/master/collectors/node.d.plugin/fronius) collector based on nodejs.
I have contributed the plugin years ago but not maintained it (not that it really needed it AFAIK).

In the meantime, I have developed an alternative [Prometheus exporter](https://github.com/ccremer/fronius-exporter) in Go.
I don't

[2021-06-21 06:36] fti-cneve commented on #2324
@ktsaou @ilyam8
I have multiple docker containers in my system. And I want to disable following charts from netdata for all docker containers:
- cgroup_system_services_config_ctr.cpu_limit
- cgroup_system_services_config_ctr.cpu_per_core
- cgroup_system_services_config_ctr.mem_utilization
- net_duplex.eth0

I tried to disable it from netdata.conf as follows:

[cgroup_system_services_config_ctr.cpu

[2021-06-21 08:23] ilyam8 commented on #11268
Yeah, we are going to deprecate it.

[2021-06-21 08:28] ilyam8 commented on #2324
Hey @fti-cneve, have you checked the `[plugin:cgroups]` section (`netdata.conf`)? It is not possible to disable specific charts but check `enable ...` options.

[2021-06-21 08:31] OdysLam commented on #11268
Thanks for letting us know @ccremer :)

[2021-06-21 09:43] webotop commented on #10471
Hi guys,

It was ok for a while but since a few days Netdata raises my ram up to 95% .... I get back my ram under 30% when I stop Netdata Agent service.

[2021-06-21 09:51] OdysLam commented on #10471
@webotop can you please verify that you are running the latest version of the Netdata agent? (run `netdata -v`)

[2021-06-21 11:18] OdysLam commented on #7587
This is also relevant to #10721, which appears intermitently.

[2021-06-21 11:20] OdysLam commented on #10721
From an internal slack chat @MrZammler I had with @Ferroin quite some time ago, we deduced that it's probably an issue with how we have hard-coded the pipe.

The issue appeared in the brew package quite often when I was testing netdata with a statsd plugin. I think that if we solve #7587, this should be solved once and for all as well.

[2021-06-21 11:51] wmertens commented on #7587
On NixOS, mariadb is configured like so:

https://github.com/NixOS/nixpkgs/blob/3b6c3bee9174dfe56fd0e586449457467abe7116/pkgs/servers/sql/mysql/8.0.x.nix#L46

and mariadb takes care of creating the missing directories.

See also https://github.com/NixOS/nixpkgs/pull/127382

[2021-06-21 13:47] webotop commented on #10471
I am running netdata v1.31.0-76-nightly

[2021-06-21 14:22] wmertens commented on #11218
@adamsj182 netdata is apparently building fine with nixpkgs https://hydra.nixos.org/job/nixpkgs/nixpkgs-unstable-aarch64-darwin/netdata.aarch64-darwin

You can just install nixpkgs via https://nixos.org/download.html, which will create the `/nix` path where everything is stored, and then you can get netdata ephemerally via `nix-shell -p netdata` or permanently with `nix-env -iA nixpkgs.netdata`.

[2021-06-21 16:45] ilyam8 commented on #10471
@webotop what's your setup? Parent/child? How many children instances?

[2021-06-22 06:00] cakrit commented on #10471
@webotop the calculator [here](https://learn.netdata.cloud/docs/store/change-metrics-storage) is fairly accurate regarding memory and disk space usage. The questions @ilyam8 asks are inputs to that calculator, which you can use yourself to tweak how much memory will be used (linked to retention).

P.S. We are working hard to drastically reduce these requirements.

[2021-06-22 08:30] zystem commented on #8784
This change brokes installation from official (https://packagecloud.io/netdata/netdata/el/7/$basearch) repo
`[root@jenkins netdata]# yum install --enablerepo=netdata_netdata netdata netdata-conf netdata-data
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.interhost.net.il
 * extras: centos.interhost.net.il
 * updates: centos.interhost.net.il
Package netdata

[2021-06-22 09:02] stdedos opened #11271 "Netdata News & Features"
The "News & Features" button sounds awfully like a "phone home" feature.
I have been explicitly trying to go away from "phone home" features, and that's on my list too.

Isn't there a way to have my installation just load stuff from itself, not communicating anywhere (except for downloading the deb packages I am)?

[2021-06-22 09:13] OdysLam commented on #11271
Hey @stdedos,

Although I understand where you coming from, in an attempt to ease your reservations, let me give you some more information.

The particular feature directly sources content from a [prismic](https://prismic.io/ and has nothing to do with analytics.

The Netdata Agent has a single point for all analytics, and that's the `anonymous-analytics` script. If you have added the appropriate

[2021-06-22 09:14] #11271 closed

[2021-06-22 10:54] webotop commented on #10471
Hi,

I am afraid the issue is not about my setup or the calculator, it is all about that Netdata is taking up to 95% of my real memory while it goes down to 30% without it running ...

[2021-06-22 17:32] ilyam8 commented on #10471
@webotop it would be very helpful if you describe your case using [the bug template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug_report.md)

- `##### Bug report summary`
- `##### OS / Environment`
- `##### Netdata version`
- `##### Installation method`
- `##### Steps To Reproduce`
- `##### Expected behavior`

We can discuss your case in this iss

[2021-06-22 22:26] maravento opened #11275 "netdata does not start"
Ubuntu 20.04.2 LTS
kernel 5.4.0-77-generic
netdata v1.19.0
netdata.conf
[code]

firewall: Everything from "lo", "127.0.0.1" is accepted. Port 19999 is open

**possible bug:**

[code]
port is not in use and there is no access to localhost: 19999

`netstat -nat | grep 19999`
out: nothing

[code]
**measures (netdata or netdata.service):**
[code]
screenshot

![Captura de pantalla -2021-06-22 18-51-40]

[2021-06-23 03:51] thiagoftsm commented on #11275
Hello @maravento ,

This is a very old Netdata version, our current version is 1.31. If you want to install a stable version using `apt`, my suggestion is to use our stable repo, you can see the instructions [here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/packages)

You can use `kicksstart` to get the stable version, but it will be necessary to pass as argument `--stable-

[2021-06-23 08:04] MrZammler opened #11277 "Handle build parameter --disable-https"
##### Bug report summary

When the flag `--disable-https` is provided to the installer, the agent fails to build. We should handle such cases perhaps during configure, and maybe disable parts of the agent that need it, so it can be built without SSL.

##### OS / Environment

[code]

##### Netdata version

##### Installation method

`netdata-installer.sh`

##### Component Name

##### Steps To Repro

[2021-06-23 11:30] Ferroin commented on #11277
The problem child is probably `dbengine`. I forget _why_ it depends on linking against `libcrypto`, but I’m fairly certain that it does not build correctly without it. Most likely this is just a case of the interdependencies between configure options not being handled correctly.

[2021-06-23 12:23] frukto commented on #5590
I think they are aggregated somewhere arround here https://github.com/openzfs/zfs/blob/master/module/zfs/spa.c#L307

The are seem to be somewhat unrelated, other files in `/proc/spl/kstat/zfs/` have similiar headers. And the last value is clearly a time stamp, the last update presumably.

[2021-06-23 12:41] maravento commented on #11275
and it is not easier to update the ubuntu/debian repositories with the latest more stable version

[2021-06-23 12:45] thefiredragon commented on #5590
More interesting would be if we could provide in netdata more informations about zfs, like Pool size, free Space of the Pool and which drives are in a Pool like the output from zpool status or zpool List

[2021-06-23 12:56] #11275 closed

[2021-06-23 14:35] thiagoftsm commented on #11277
Dbengine uses few functions from `openssl` in some parts of the [code](https://github.com/netdata/netdata/blob/107bb52b0139701368d9d53370be8504e312b228/database/engine/rrdengineapi.c#L25-L32). Support for `TLS` and `Dbengine` was brought more or less during the same period of time, but I do not remember which feature was merged before, probably we have some problems with our autoconf files as @Fer

[2021-06-23 17:10] thiagoftsm commented on #11275
I am Slackware user, so I confess I do not know. @Ferroin I will transfer this question for you.

About your post "¡Muchas Gracias! Me gustó mucho leelo :smile:, pido disculpas por no tenermos una instalación sencília en Debian/Ubuntu, pero no tenga duas que nos vamos a hacer todo el posibile para las personas haceren la instalación de netdata en sus computadoras de una manera más sencilia."

[2021-06-23 17:13] r33int opened #11279 ""uknown_alert" fired from my host"
##### Bug report summary

Hello, I am using Netdata Cloud to monitor my hosts. Sometimes, my Proxmox host fires a critical "uknown_alert" with a very high value. This happens on moderate system load in a VM/container (installing software for example). When I click this alert, the panel is loading forever, so I have no way to know where this alert comes from.

![image](https://user-images.githubuse

[2021-06-23 17:54] RatedR9 opened #11280 "one-click server is down"
bash <(curl -Ss https://my-netdata.io/kickstart.sh) is not work
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

##### Installation method

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2021-06-23 21:53] maravento commented on #7379
Please reopen this ticket. The solutions offered do not work and the processes are still open:
[code]

[2021-06-24 03:34] stelfrag commented on #11280
Hi @RatedR9 what is the error you are getting when you type that command?

[2021-06-24 05:23] magedfawzy commented on #7374
was there a fix.. i desperatly need to save as pdf for 1 hour at least. Thanks

[2021-06-24 08:03] MrZammler commented on #11261
Hi!

Ok, we could probably catch this if we check whether `sendmail` is actually a symlink to busybox. If it is, then don't set `-F`.

`-F` _should_ be missing only on busybox `sendmail`. Other `sendmail` implementations (i.e. from postfix) should be ok, and should be safe to set `-F` then.

What do you think @ilyam8 ?

Btw, I will try to install busybox to check for sure, but when I tried on Gent

[2021-06-24 08:14] MrZammler commented on #11279
Hi @r33int ! Thank you for your report! Do you get an email from this alert? Can you forward it please to manolis att netdata.cloud?

[2021-06-24 08:25] ilyam8 commented on #11261
Sounds good to me.

Consider using our docker image for testing.

[2021-06-24 10:31] webotop commented on #10471
@ilyam8 Okay if this can help you guys

Bug report Summary
Having netdata taking up to 95% ram when activated rather than 30% when not used.
I am having 2go of real memory.

OS / Environment
Debian GNU/Linux 10 (buster)

Netdata version
netdata v1.31.0-76-nightly

Installation Method
bash <(curl -Ss https://my-netdata.io/kickstart.sh)

Steps to reproduce
Well here I dunno I didn't change nothing i

[2021-06-24 10:59] ilyam8 commented on #10471
Thanks, @webotop!

- Is your setup a single Netdata instance?
- How do you measure memory? Using `free`?
- Could you show show `netdata -W buildinfo`?
- Could you send [a snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) to `ilya@netdata.cloud`?

[2021-06-24 14:04] r33int commented on #11279
Hi, thank you for your reply! Nope, I did not get any email from this alert.
Cheers

[2021-06-24 14:32] heapxor commented on #6527
Is there any fix? i have same issue running armbian on banan m1+ soc.

[2021-06-24 17:27] Ferroin commented on #11261
Our Docker image doesn’t use Busybox `sendmail`, it’s got msmtp installed and set up to use as `sendmail`(because it0s just about the easiest option out there to configure, and doesn’t have this issue).

However, such testing could be done by starting the Docker image and then uninstalling msmtp with `apk del msmtp`.

[2021-06-24 17:57] ilyam8 commented on #11261
Wait, is it not busybox sendmail?

[code]

[2021-06-24 21:11] Knocks83 opened #11284 "Cannot show custom graph"
##### Bug report summary

I'm trying to add [this](https://github.com/ohthehugemanatee/netdata-speedtest) chart to my dashboard but, instead of making appear the new graph, it makes disappear the docker monitoring.

##### OS / Environment

Netdata is running in a container.
Those are the host infos:
[code]

##### Netdata version

[code]

##### Installation method

Docker-compose. That's my compose

[2021-06-24 21:13] Knocks83 commented on #11284
Since in another issue you asked for it:
ps aux:
[code]

[2021-06-24 21:42] Knocks83 commented on #11284
Another update: I found what looks like the issue: I've installed the speedtest-cli package via pip3, but whenever I docker-compose down and up it again the package disappears. Got any solution?

[2021-06-25 10:40] MrZammler commented on #11277
I think (and as Timo also mentioned), we should also disable cloud when https is disabled. Right now for me at least, it fails to build with just `--disable-https` on aclk (but does build if I add `--disable-cloud`).

?

[2021-06-25 11:08] illes commented on #10539
this is still an issue with netdata 1.31.0 on Debian

[code]

After sending HUP to netdata:
[code]
signal handled, but `error.log` is not reopened:
[code]

[2021-06-25 15:32] Ferroin commented on #11261
It _shouldn’t_ be, looks like we may have a bug in our docker images...

[2021-06-27 19:57] debian-user-france1 commented on #10656
udisks2.service: Main process exited, code=killed, status=11/SEGV
That  happened to me with udisks2. So it is surely not your problem! It is a * problem of ubuntu. Also happened with a home assistant etc.
It could be because if broken config file, modules missing or...
Like it is trying something and dies

[2021-06-28 06:45] isaacloven commented on #8917
I have the same issue with  1.31.0-1.el7

[2021-06-28 08:04] stelfrag commented on #10539
@MrZammler :point_up:

[2021-06-28 13:28] MrZammler commented on #10539
Hi @illes ! Thanks for your report... Last time didn't get far with this...

Can you please share the output of `ps aux | grep 16897` ? (Assuming netdata hasn't been restarted). I'd like to see if `--special-spawn-server` is what holding it....

Thanks!

[2021-06-28 15:54] illes commented on #10539
It has been restarted there, here's a snapshot from another 1.31.0 instance:
[code]
[code]
[code]
[code]

[2021-06-28 16:33] illes commented on #10539
I could also reproduce this in vanilla docker as follows:

1. Start a fresh Debian Buster:

[code]

2. Install and start netdata 1.31.0 inside the container:

[code]

3. Simulate logrotate:

[code]

4. Verify `HUP` received:

[code]

5. Check if logs are reopened at `/var/log/netdata/error.log`:

[code]
[code]

This workflow could help someone close in on the revision/commit that is causing the is

[2021-06-29 09:35] MrZammler commented on #10539
Hi @illes thanks for your detailed report! Ok, so the plugins and the special-spawn-server are those that keep the files... We'll have a look how we can proceed to fix this.

Thanks again!

[2021-06-29 20:22] cybertechsolution opened #11290 "Netdata.cloud email notification 'localhost' issue"
I recently set up a netdata on my 4 nodes and im managing and monitoring the data of all 4 nodes on netdata.cloud. But I'm frustrated by one issue, when I received a mail of warning or critical issue it never mentions the node name I have given in the conf file of netdata nor it uses the hostname I given to my node, instead it just says 'localhost' on literally every node which is not distinguisha

[2021-06-29 20:30] samrafalowski opened #11291 "Netdata initial kickstart installation fails on Big Sur"
##### Bug report summary

When I run `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --install /usr/local/netdata`,
<img width="1135" alt="Screen Shot 2021-06-29 at 4 30 11 PM" src="https://user-images.githubusercontent.com/10368337/123863242-589ae500-d8f7-11eb-8f77-41c39d377135.png">
<img width="1139" alt="Screen Shot 2021-06-29 at 4 30 20 PM" src="https://user-images.githubusercontent.com/1

[2021-06-30 00:26] #10580 closed

[2021-06-30 00:39] thiagoftsm opened #11292 "Directory cache integrated with cgroups"
Monitor file access using directory cache .

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 00:41] thiagoftsm opened #11293 "Cachestat integrated with cgroups"
Monitor page cache access, creation and modification.

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 00:48] thiagoftsm opened #11294 "Memory swap integration with cgroup"
Access to memory swap.

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 00:52] thiagoftsm opened #11295 "eBPF Process Integration with cgroups"
Monitor process creation/end, and access to syscalls

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 01:00] thiagoftsm opened #11296 "eBPF sync integration with cgroups.plugin"
Monitor synchronization syscalls, monitoring when data is merged from memory to disk.

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 01:08] thiagoftsm opened #11297 "eBPF integration create helpers to write data on cgroups/systemd submenu"
We will proceed with integration between two plugins in the same way we integrated `apps.plugin` and `ebpf.plugin`, the following steps are necessary:

-  Load data from section `plugin:cgroups` present inside `/etc/netdata/netdata.conf`
-  Create cgroups inside `ebpf.plugin`. ( Parsing /proc/cgroups or reading `/sys/fs/cgroups/` )
-  Create functions to associate PID to cgroups created.

[2021-06-30 01:14] thiagoftsm opened #11298 "eBPF VFS integration with cgroups.plugin"
Monitor calls for Virtual Filesystem functions

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 01:16] austin-agronick opened #11299 "Netdata dashboard stuck loading on localhost and in NetData Cloud"
##### Bug report summary

NetData Cloud shows the spinning arrows icon. Visiting http://localhost:19999 either shows the netdata logo with "Real-time performance monitoring, done right!" or partial data with the 3 blinking dots loading.
##### OS / Environment
macOS Big Sur 11.4 and 11.2.3
Issue occurs on 3 different 2018 Mac Minis

[code]

##### Netdata version

Version: netdata v1.31.0-90-nightly

[2021-06-30 01:40] thiagoftsm opened #11300 "Split eBPF socket plugin in two eBPF programs"
This issue will create the basis to monitor cgroups connections.
This will also improve connection monitoring, we will use tracepoints when they are available.

[2021-06-30 01:45] thiagoftsm opened #11301 "eBPF network integration with cgroups.plugin"
Network monitoring for cgroup.

-  Create functions that make charts on cgroup section.
-  Create functions that sends chart and dimensions values for new charts.

[2021-06-30 07:44] magedfawzy opened #11302 "print"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

##### Installation method

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2021-06-30 08:05] #11302 closed

[2021-06-30 15:19] Steve8291 opened #11305 "python.d/smartd_log triggering alarms with python.d_job_last_collected_secs"
##### Bug report summary

I am getting alarms once per day with my current configuration using python.d/smartd_log
The alarm is for
Chart: netdata.runtime_smartd_log
Family: python.d
I have attempted to fix by increasing the value of `update_every: 10` in my `smartd_log.conf`
This does not fix the issue.
After looking deeper into the problem I can see that the alarm is thrown every time my logs ar

[2021-06-30 20:23] nodiscc commented on #10886
Accessing the host hy IP instead of DNS name doesn't seem to change anything for me. Most/all my hosts are affected by this problem, on some of them I can workaround the problem by repeatedly refershing the dashboard/F5 until it works. On others I simply can't access the dashboard whatever I do. All these hosts have the same config (https://github.com/nodiscc/xsrv/blob/master/roles/monitoring/temp

[2021-07-01 07:32] ilyam8 commented on #11305
@Steve8291 Thanks for reporting the issue!

Meanwhile, until it is fixed, you can modify [python.d_job_last_collected_secs](https://github.com/netdata/netdata/blob/365a8fb8bad397856f110595a65373c0b5ec47a1/health/health.d/python.d.plugin.conf#L4-L17) by excluding `smartd_log` module.

`module: *` => `module: !smartd_log *`

[2021-07-01 09:23] jparaskakis opened #11306 "Update Alarms with new Payloads for AlarmConfig + NodeInstanceAlarm"

[2021-07-01 19:42] OrionRandD commented on #10061
I have just had this issue. I upgraded debian and suddenly a new user - netdata - misteriously appeared in my lightdm login.
I was disturbed by that, since I could not login into the user account.
Then I did a little search with
apt-file search netdata | grep bin
and I found "netdata-core"
and issued:
apt purge netdata-core
I hope it did the job, since I could not find it any more with:
systemctl

[2021-07-03 16:59] tinjaw commented on #11218
Just discovered netdata only hours ago! I am so excited! Got two Unbuntu boxen up on cloud already. But, then there is my M1 Mac Mini. Brew installs fine but claims that it isn't compatible with cloud. I am assuming the "workaround" is to build from source. Buuuut I see this ^^^^^.

So who is working on the M1 builds? I am willing to be a tester. In the mean time, any notes on how to do it myself

[2021-07-03 20:16] wmertens commented on #11218
@tinjaw try the nixpkgs version (unstable channel), it has cloud support. However, if you want to configure it you need to copy the config directory from the hashed directory netdata is in and run netdata pointing to your config directory.

[2021-07-03 21:24] tinjaw commented on #11218
nixpkgs is completely new to me. And, I, being a narcissistic egomaniac, thought I knew everything.

Time to go learn.

BRB. Probably. 😃

[2021-07-03 21:54] tinjaw commented on #11218
OK, RTFM'd enough on Nix* to get the gist. I will add this to tomorrow's task list. Thanks @wmertens

[2021-07-04 00:56] mrhussnain opened #11312 "Not working with cPanel"
Hey why it not work with cpanel ??

[2021-07-04 20:04] shinebayar-g commented on #9002
Will this feature implemented by this year?

[2021-07-05 07:07] MrZammler commented on #11218
Hi @tinjaw !

Assuming you're feeling adventurous, you could try to build netdata from sources on the M1. First, make sure you have installed brew, and the required packages. Then, clone our master repo somewhere. cd into it, and run `git submodule update --init --recursive`.

After that, try to build with:

`CFLAGS="-O1 -ggdb -DNETDATA_INTERNAL_CHECKS=1 -I /opt/homebrew/include/ -I /opt/homebrew/

[2021-07-05 10:28] pgassmann commented on #8594
I created a small python script that collects metrics for nvme devices into a json object. the `nvme` command works only as root. That script could be run with a cronjob as root, writing the data to a file. That file could then be read with the netdata user, similar to the smart_log metrics.

`nvme_metrics.py`:

[code]

Example output wiith two devices:

[code]

[2021-07-05 16:37] pgassmann commented on #8594
I have extended my script to output valuable metrics in prometheus format. I now have a cronjob to write the metrics to a .prom file that is collected by node_exporter's textfile collector.
I published the script as part of my ansible collection and role for nvme_metrics: https://github.com/teamapps-org/ansible-collection-teamapps-general/blob/main/roles/nvme_metrics/files/nvme_metrics.py

[code]

[2021-07-06 08:22] UmanShahzad commented on #11095
@naaano light ping if you were able to check if the new Netdata release fixed the issue or if it still persists?

[2021-07-06 10:58] hugovalente-pm opened #11315 "Charts 2.0 - Design QA first iteration"
### Goal

The goal of this ticket is to highlight what is ready to be Design QA'ed on Single Node View page considering what has been completed so far in terms of development.

Just for reference, the full work is documented on this epic [Charts 2.0](https://app.zenhub.com/workspace/o/netdata/product/issues/1788) but for QA the focus should be the list below.

### Points to QA

 - [ ] Chart Point

[2021-07-06 11:02] #11315 closed

[2021-07-06 18:56] FailedShack opened #11317 "Chart legend displays misleading value depending on zoom level"
##### Bug report summary

This issue is similar to #9373 however this time in regards to the values displayed in chart legends, as they seem to be calculated from an average, when in this case the preferred outcome would be a sum for the given time range.

##### OS / Environment

[code]

##### Netdata version

[code]

##### Installation method

[code]

##### Component Name

[code]

##### Steps To

[2021-07-06 19:40] ilyam8 commented on #11317
Hi, @FailedShack.

You are correct, you get average when zooming out. That is the same issue as #9373.

[2021-07-07 06:48] UmanShahzad commented on #10747
For reference, here's a full list of charts (in pictures) available for ACLK-legacy currently (in reverse order):

![Screenshot from 2021-07-07 10-38-08](https://user-images.githubusercontent.com/10018065/124712673-0ff7b300-df19-11eb-9c58-6a02cf8c37aa.png)
![Screenshot from 2021-07-07 10-38-03](https://user-images.githubusercontent.com/10018065/124712684-11c17680-df19-11eb-877f-92adc0028e86.png)
!

[2021-07-07 10:50] k0ste commented on #8594
@pgassmann, thanks.

Run this script on 5 non-common NVM'es on host:

[code]

Json format

[code]

And metrics format

[code]

[2021-07-07 10:51] UmanShahzad commented on #10747
Hey @underhood, quick question:

We only want the `netdata.aclk_cloud_req_cmd` chart to be added in this issue. But this is a full list of charts below which are the ones in legacy and not in ng yet (not including `netdata.aclk_cloud_req_cmd` and the ones having to do with libmosquitto<->libwebsockets read/write queues):

- `netdata.aclk_cloud_req_version`
- `netdata.aclk_cloud_q_recvd_to_processe

[2021-07-07 10:56] k0ste commented on #8594
@ilyam8, how do you think, it's possible to integrate nvme module to netdata? Actually [nvme-cli](https://github.com/linux-nvme/nvme-cli) is stable interface and available on any production distro

[2021-07-07 14:15] Rishabhraghwendra18 commented on #11305
Hi @ilyam8 . may I also work with you on this issue ?

[2021-07-07 14:38] #11306 closed

[2021-07-07 14:51] underhood commented on #10747
- we will not need mosq<->lws charts as they do not make sense under new ACLK
- we should do the per thread usage charts - feel free to make them separate issue and PR
- netdata.aclk_cloud_q_recvd_to_processed is also good to have (can be separate PR and issue for easier tracking)

[2021-07-07 15:35] ilyam8 commented on #11305
Hey, @Rishabhraghwendra18. That would be awesome. Do you use `smartd_log` collector?

[2021-07-07 18:21] UmanShahzad commented on #10747
@underhood Excellent, thank you, I'll make new issues & PRs for each.

[2021-07-07 19:58] fti-cneve opened #11321 "Unable to suppress cgroup specific charts"
I'm running netdata on a debian 10 (buster). I need to suppress/hide following list of charts from netdata.
[code]

Unfortunately in netdata.conf I found that, We can only disable **"CPU Usage (100% = 1 core) Per Core (cgroup_xxxx_ctr.cpu_per_core)"** through netdata.conf. ( Please correct me if I am wrong. ) And **"Interface Duplex State (net_duplex)"** is also possible to disable but in that cas

[2021-07-08 05:16] vlvkobal commented on #11321
Please look at the relevant [comment](https://community.netdata.cloud/t/how-to-disable-some-of-the-cgroups-charts-from-netdata/1451/2?u=vlvkobal) on our community forum.

As for the `net_duplex` charts - you can disable them for all interfaces:
[code]

I'm closing the issue. If you have any questions, please consider using the [community forum](https://community.netdata.cloud).

[2021-07-08 05:16] #11321 closed

[2021-07-08 08:41] Kegelcizer commented on #4829
Hi,
Sad to see this hasn't move forward, but I would like to help.
I've got ~8400 lines in metrics of witch ~1600 are IIS related. Personally I wouldn't mind having all of them grouped by app pool and site where possible.
Can I send only the lines containing IIS? And where? Pastebin, gist, other?
Thanks!

[2021-07-08 12:06] ilyam8 commented on #4829
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-08 12:06] #4829 closed

[2021-07-08 12:14] ilyam8 commented on #15
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:14] #15 closed

[2021-07-08 12:16] ilyam8 commented on #16
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:16] #16 closed

[2021-07-08 12:18] ilyam8 commented on #130
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:18] #130 closed

[2021-07-08 12:22] ilyam8 commented on #205
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:24] #205 closed

[2021-07-08 12:27] ilyam8 commented on #266
Added in https://github.com/netdata/netdata/pull/11316

[2021-07-08 12:27] #266 closed

[2021-07-08 12:27] ilyam8 commented on #364
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-08 12:27] #364 closed

[2021-07-08 12:28] ilyam8 commented on #367
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:28] #367 closed

[2021-07-08 12:30] ilyam8 commented on #449
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:30] #449 closed

[2021-07-08 12:33] ilyam8 commented on #531
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:33] #531 closed

[2021-07-08 12:36] ilyam8 commented on #601
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-08 12:36] #601 closed

[2021-07-08 12:37] ilyam8 commented on #611
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-08 12:37] #611 closed

[2021-07-08 12:38] #612 closed

[2021-07-08 12:40] ilyam8 commented on #798
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:40] #798 closed

[2021-07-08 12:46] #807 closed

[2021-07-08 12:49] #1037 closed

[2021-07-08 12:50] ilyam8 commented on #1037
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:51] ilyam8 commented on #1086
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:51] #1086 closed

[2021-07-08 12:53] ilyam8 commented on #1118
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:53] #1118 closed

[2021-07-08 12:57] ilyam8 commented on #1134
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:57] #1134 closed

[2021-07-08 12:58] ilyam8 commented on #1142
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 12:58] #1142 closed

[2021-07-08 13:01] #1143 closed

[2021-07-08 13:07] ilyam8 commented on #1164
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-08 13:07] #1164 closed

[2021-07-08 13:09] ilyam8 commented on #1446
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:09] #1446 closed

[2021-07-08 13:11] ilyam8 commented on #1490
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:11] #1490 closed

[2021-07-08 13:12] ilyam8 commented on #1566
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:12] #1566 closed

[2021-07-08 13:14] ilyam8 commented on #1600
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:14] #1600 closed

[2021-07-08 13:15] ilyam8 commented on #1663
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:15] #1663 closed

[2021-07-08 13:18] ilyam8 commented on #1682
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:18] #1682 closed

[2021-07-08 13:19] ilyam8 commented on #1829
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-08 13:19] #1829 closed

[2021-07-08 13:21] ilyam8 commented on #1892
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-08 13:21] #1892 closed

[2021-07-08 13:22] ilyam8 commented on #1900
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:22] #1900 closed

[2021-07-08 13:25] ilyam8 commented on #1921
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:25] #1921 closed

[2021-07-08 13:29] ilyam8 commented on #1922
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-08 13:29] #1922 closed

[2021-07-08 13:30] ilyam8 commented on #1960
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-08 13:30] #1960 closed

[2021-07-08 13:31] ilyam8 commented on #2031
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:31] #2031 closed

[2021-07-08 13:33] ilyam8 commented on #2061
Will be fixed when https://github.com/netdata/netdata/pull/9832 is merged

[2021-07-08 13:33] #2061 closed

[2021-07-08 13:37] ilyam8 commented on #2093
Closing this feature request. We will re-evaluate the request internally.

[2021-07-08 13:37] #2093 closed

[2021-07-08 14:43] albert-92 opened #11324 "Auto refreshing of charts does not work properly, because data points appear in the future"
#### Summary

My fresh netdata installation is not working properly (on an aws ec2 instance).

Right after the installation it works for a few seconds, but then suddenly a data point in the future (like 15-20 min ahead of time) appears and the auto updating of the charts in the web interface does not work anymore (see screenshot below).

![2021-07-08 16_30_29-ip-10-9-65-56 netdata dashboard](https

[2021-07-08 15:12] pgassmann commented on #8594
on node_exporter, there is also some work on a nvme collector. but currently just for device infos: https://github.com/prometheus/node_exporter/pull/2062

[2021-07-08 15:50] FedericoCeratto opened #11325 "#netdata IRC channel"
There is now a #netdata IRC channel on Libera Chat, intended to replace the existing channel on Freenode
Related to #742

[2021-07-08 15:59] OdysLam commented on #11325
That's awesome! We have a large number of different platforms, including discord and a forum.

Would you be able to provide us with a link? Unfortunately, I don't have a huge experience with IRC :)

[2021-07-08 17:05] #10746 closed

[2021-07-08 17:22] FedericoCeratto commented on #11325
Some clients might support this URI `ircs://irc.libera.chat:6697/netdata`
There's also an experimental webchat: https://web.libera.chat/#netdata

Perhaps bridging the channel with other platform would be useful

[2021-07-09 05:52] stelfrag commented on #5896
Not reproduced

[2021-07-09 05:52] #5896 closed

[2021-07-09 05:54] stelfrag commented on #6322
This should help [Install Netdata on offline systems](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/offline)

[2021-07-09 05:54] #6322 closed

[2021-07-09 06:25] stelfrag commented on #9300
Closing since it has been a while without a response. Please reopen if needed

[2021-07-09 06:25] #9300 closed

[2021-07-09 06:32] stelfrag commented on #10128
Closing this after several updates to the updater (and recommended workarounds)

[2021-07-09 06:32] #10128 closed

[2021-07-09 11:17] UmanShahzad commented on #10747
We discussed privately and determined that due to a difference in how things work now between NG & legacy, we will create two charts rather than 1:

- `netdata.aclk_cloud_req_http_type` will show a breakdown of HTTP query types, e.g. `/api/v1/data` vs. `/api/v1/chart` etc.
- `netdata.aclk_cloud_req_type` will show a breakdown at a higher-level, e.g. `http` vs `alarm_update` vs `metadata_alarms` et

[2021-07-09 13:50] ilyam8 opened #11327 "Cannot establish websocket to api.netdata.cloud without IPv6"
@ohthehugemanatee commented on [Fri Jul 09 2021](https://github.com/netdata/helmchart/issues/225)

To reproduce:
- Boot a system with `ipv6.disable=1` on the kernel command line
- Install netdata with `ACLK-Legacy` and claim to the cloud
- Observe failure logs:
[code]

There are two possible changes we could make to address this:

1) Document IPv6 in the requirements section of the relevant docs,

[2021-07-09 14:24] ilyam8 commented on #7374
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-09 14:24] #7374 closed

[2021-07-09 14:28] ilyam8 commented on #3620
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-09 14:28] #3620 closed

[2021-07-09 14:37] ilyam8 commented on #3625
[The proposed solution](https://github.com/netdata/netdata/issues/3625#issuecomment-454986244) works. @Macleykun if you still have the problem I suggest opening a new bug report with a proper description/steps to reproduce.

[2021-07-09 14:37] #3625 closed

[2021-07-09 14:39] ilyam8 commented on #7150
@amoss ❤️

[2021-07-09 14:39] #7150 closed

[2021-07-09 14:41] ilyam8 commented on #3611
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-09 14:41] #3611 closed

[2021-07-09 14:45] ilyam8 commented on #11063
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-09 14:45] #11063 closed

[2021-07-09 14:50] ilyam8 commented on #10003
Closing this feature request. We will re-evaluate the request internally.

[2021-07-09 14:50] #10003 closed

[2021-07-09 14:51] ilyam8 commented on #2984
Closing this feature request. We will re-evaluate the request internally.

[2021-07-09 14:51] #2984 closed

[2021-07-09 14:52] ilyam8 commented on #4154
Closing this feature request. We will re-evaluate the request internally.

[2021-07-09 14:52] #4154 closed

[2021-07-09 14:55] #6158 closed

[2021-07-09 15:00] ilyam8 commented on #7671
We moved dash to [the netdata/community repo](https://github.com/netdata/community/tree/main/netdata-agent-dashboard). If there are any community dashboards related contributions they should go in there.

@OdysLam

[2021-07-09 15:00] #7671 closed

[2021-07-09 15:01] ilyam8 commented on #6432
Closing this feature request. We will re-evaluate the request internally.

[2021-07-09 15:01] #6432 closed

[2021-07-09 15:04] ilyam8 commented on #6706
Closing this because it may not be applicable anymore. @jacekkolasa please, reopen if needed.

[2021-07-09 15:04] #6706 closed

[2021-07-09 17:05] rahulonmars commented on #7633
This is still not working for me.
I tried setting the environment variable inside the container. It's still not picking the container name.

I also have created a user - netdata on my host machine and added that to the docker group.

P.S: netdata is running inside the container.

[2021-07-09 18:21] pgassmann commented on #8594
I updated the script and created a grafana dashboard for the metrics.

https://github.com/teamapps-org/ansible-collection-teamapps-general/blob/main/roles/nvme_metrics/files/nvme_metrics.py
https://github.com/teamapps-org/ansible-collection-teamapps-general/blob/main/roles/grafana/files/dashboards/default/nvme.json

![nvme_dashboard](https://user-images.githubusercontent.com/460192/125120563-e3978

[2021-07-10 23:50] NathanTheGr8 commented on #8882
I think this issue still exists. I just preparing for an upgrade to Debian 11 and got the same error as Daniel15 .

[2021-07-10 23:55] Daniel15 commented on #8882
@prologic @roedie The Bullseye launch is coming very soon (the freeze is one week from now, and the final release should be at most a few weeks after that) so this would be good to fix. It seems like it's still an issue, based on the comment above.

[2021-07-12 06:21] UmanShahzad opened #11331 "ACLK-NG per-thread usage charts"
We would like charts similar to these that exist in ACLK-legacy but not ACLK-NG:

![image](https://user-images.githubusercontent.com/10018065/125240255-4f504600-e303-11eb-8663-88022c745c01.png)

[2021-07-12 06:23] UmanShahzad opened #11332 "Add ACLK-NG chart `netdata.aclk_cloud_q_recvd_to_processed`"
We would like to add something like the `netdata.aclk_cloud_q_recvd_to_processed` chart from ACLK-legacy to also be in ACLK-NG:

![image](https://user-images.githubusercontent.com/10018065/125240435-8c1c3d00-e303-11eb-995d-a363c8b8abf9.png)

[2021-07-12 06:23] UmanShahzad commented on #10747
Made https://github.com/netdata/netdata/issues/11331 for per-thread CPU usage & https://github.com/netdata/netdata/issues/11332 for `netdata.aclk_cloud_q_recvd_to_processed`.

[2021-07-12 10:14] odidev commented on #7824
@Ferroin,  As builds are passing for Arm64 platform in  [#10769](https://github.com/netdata/netdata/pull/10769), may i know till when are you planning to add static build support for Arm64 platform in master branch?
Let me know if any help required regarding the same.

[2021-07-12 17:12] roedie commented on #8882
You cannot install the Buster version on Bullseye since libprotoc17 and libprotobuf17 are not available on these systems. That's just basic package management and not a bug. But, building on Bullseye most likely will work since during the build the version of libprotoc and libprotobuf which are available in Bullseye will be used. (Did not test yet, might do this later this week)

The Netdata team

[2021-07-12 18:08] NathanTheGr8 commented on #8882
I was not trying to install the buster version on bullseye. I think daniel15 and I were both trying to install a native bullseye package and got the 404 error code. I understood that these meant the package didn’t exist, I am just surprised with the stable release only weeks away that Netdata had not added it. A bug report may be the wrong way to handle this however it was one of the first google

[2021-07-12 19:49] roedie commented on #8882
It might be better to open up a new ticket with the request to build Bullseye packages.

[2021-07-12 21:55] WaseemAlkurdi opened #11333 "Netdata reads and reports an exaggerated amount of used RAM"
##### Bug report summary

On a fresh installation of Netdata on Ubuntu 20.04.2 LTS, Netdata reports that the used system RAM is about 60%, when in reality (as reported by `htop`) it's only a tenth of that amount.

##### OS / Environment

[code]

##### Netdata version
`$ netdata -W buildinfo` :
[code]

`$ $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V`:
[code]

##### Installation method
Installed v

[2021-07-13 07:14] MrZammler commented on #11324
Hi @albert-92 ! Thank you for your report.

Can you please share your `error.log` file (usually located under `/var/log/netdata/` please?

Thank you!

[2021-07-13 11:41] Ferroin commented on #6322
@stelfrag Actually, that doesn’t really help much. Our offline installation support is currently _very_ broken. Fixing that is one of the goals of the ongoing work to overhaul the installer and updater code.

Currently, the only way to install Netdata offline is to follow [the manual build instructions found here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/source).

[2021-07-13 11:47] Ferroin commented on #7824
As of right now, there’s no concrete ETA, but support for it is planned as part of an ongoing overhaul of our installer and updater code. I’m hoping to have most (if not al) of that work done by the end of the year, but as of right now it’s still in the early stages, so I’m not certain when exactly it will be done.

[2021-07-13 11:54] Ferroin commented on #8882
Do note however that there may be a delay in packages being available for Debian 11. We’re stuck with [Package Cloud](https://packagecloud.io/) for repository hosting right now (as much as I would love to switch to pretty much anything else), and they are not always quick about adding the relevant stuff to their API to support new releases of distros (it took multiple months from the release of Fe

[2021-07-13 14:45] k0ste opened #11336 "netdata: prometheus: netdata_fping_ metrics family value format"
In netdata v1.31.0 `fping` 'target' placed in family label in ipaddr format where dots replaces to underscores
[code]
This is inconvenient because it is impossible to make a `group_left()` queries with metrics where format is normal:
[code]

[2021-07-13 16:54] Daniel15 commented on #8882
@roedie That's what this issue was supposed to be :)

@Ferroin Have you considered self-hosting a repo using Aptly? That's what I did for Yarn v1 (v2 and later are only on npm though).

[2021-07-13 18:57] roedie commented on #8882
@Daniel15 Never mind me... somehow I missed the first message in this issue and thought this was about the buster package not installing on Bullseye.

[2021-07-14 07:16] bolausson opened #11337 "No rule to make target 'aclk/aclk-schemas/proto/agent/v1/connection.proto'"
Hej,

since a couple of days netdata failed to run the daily updates via CRON.
I manually reinstalled netadata to reproduce the error.

##### Bug report summary
[code]

Complete log attached:
[kickstart.log](https://github.com/netdata/netdata/files/6814240/kickstart.log)

##### OS / Environment
[code]

##### Netdata version
The currently running and last version that updated itself was:
[code]

Th

[2021-07-14 07:28] MrZammler commented on #11337
Hi @bolausson ! Thanks for your report. We're currently in the process of bundling protobuf with netdata, to solve this. (New dependency).

In the mean time, can you please install `dev-libs/protobuf` and let us know if it solves the compile problem?

Thanks!

[2021-07-14 07:35] bolausson commented on #11337
Thanks for the quick response.

dev-libs/protobuf-3.17.3 is already installed (as a dependency for tensorflow-2.5)

So maybe the version is incompatible (but I can't test another version as it will break other stuff)

[2021-07-14 09:22] underhood commented on #11327
Probably related to https://github.com/netdata/netdata/pull/11080

maybe we need to build LWS without IPv6 support on such systems or take a look at `LWS_FALLBACK_GETHOSTBYNAME`

[2021-07-14 09:24] underhood commented on #10817
Not sure this is needed anymore. Was an issue that had to do with tuning the TCP stack on Cloud. Reopen if still needed.

[2021-07-14 09:24] #10817 closed

[2021-07-14 09:25] underhood commented on #9401
@manos-saratsis is this still valid issue? Do we have new one that replaces this one?

[2021-07-14 09:27] underhood commented on #9415
Closing this as it seems obsoleted by New Cloud Architecture in combination with ACLK-NG. Reopen if that is not correct.

[2021-07-14 09:27] #9415 closed

[2021-07-14 09:38] MrZammler commented on #11337
Ok, Bjoern, thanks, no it's not an issue with your installation of protobuf, we will be fixing our nightly tarballs, thanks for reporting it, and sorry for the inconvenience!

[2021-07-14 09:47] bolausson commented on #11337
Thanks! I'll report back once it is compiling again :)

[2021-07-14 10:45] #11337 closed

[2021-07-14 11:12] Ferroin commented on #8882
Our plan long-term is to self-host all of our package repos as we’ve been rather dissatisfied with PackageCloud (long delays in support for new releases are actually the least of our complaints right now). The issue with getting this done now is more one of prioritization (there’s an ongoing overhaul of our installer and updater code to provide better integration between the different installation

[2021-07-14 14:04] jason-azze opened #11339 "netdata-updater fails with No rule to make target 'aclk/aclk-schemas/proto/agent/v1/connection.proto'"
##### Bug report summary

I have been running Netdata for many months with netdata-updater successfully running from `/etc/cron.daily/netdata-updater`. At some time in the last few weeks (today is 2021-07-14), anacron began reporting failures. Yesterday I got around to checking. :smiley:

The error is:
[code]
To attempt a fix, I re-ran `netdata-installer.sh` from yesterday's latest release. It see

[2021-07-14 14:08] MrZammler commented on #11339
Hi @jason-azze ! Thank you for reporting this!

The problem has been addressed with https://github.com/netdata/netdata/pull/11338, and it new nightly tarballs from today should be ok!

[2021-07-14 14:50] albert-92 commented on #11324
Sure. There is one INFO dominating the log. I guess it is related to the issue:

[code]

[2021-07-14 15:10] MrZammler commented on #11324
Hi @albert-92, thanks! Just to rule it out, can you check that there's not something weird with the system clock, ie. adjusting at some point to another data/time via ntp perhaps?

[2021-07-14 15:12] albert-92 commented on #11324
That was the first thing i checked, but it seems to be fine:

[code]

[2021-07-14 19:08] andrewm4894 commented on #11176
Hey @MrZammler i forgot about this one and hoping to get back to it in next week or so if you are able?

[2021-07-15 04:23] johnpiers commented on #11339
I can confirm that this issue has been resolved, @underhood (On Discord) was of massive assistance. :-)

[2021-07-15 07:14] MrZammler commented on #11339
Great! Thanks!

[2021-07-15 07:14] #11339 closed

[2021-07-15 07:38] MrZammler commented on #11324
Yes, long shot, but had to check :-)

So, does it happen on every restart of netdata? What method was used to install? Can you also check that there's not two or more instances of netdata running? Are you using dbengine as memory mode? Is it possible please to send the complete error.log file to manolis at netdata dot cloud?

From the screenshot you attached, I assume it works okay up to 16:31:30

[2021-07-15 08:54] ilyam8 commented on #11324
I think having [a snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) could be also useful. @albert-92, please!

[2021-07-15 09:58] ilyam8 commented on #11333
Hi, @WaseemAlkurdi 👋

[Used rame percentage top gauge calculation](https://github.com/netdata/netdata/blob/1a50899551674e0f0fa684daeadd043503be949b/web/gui/main.js#L1662-L1675) for Linux: `(used + buffers) / (sum all dims) / 100`.

cached/used calculations (data source is `/proc/meminfo`):

https://github.com/netdata/netdata/blob/03002eb22812ca342a591e9b961821e2c0afdcd1/collectors/proc.plugin/proc

[2021-07-15 11:15] albert-92 commented on #11324
Yes it happens on ever restart. I did a fresh _Automatic one-line installation script_ and the problem still occurs. I removed all netdata files previous to the fresh install. Only 1 instance is running in memory mode.

Exactly!

I sent you the error.log and snapshot.

[2021-07-15 13:42] ilyam8 commented on #11324
@albert-92

The snapshot you sent us has gaps only on external collectors charts (apps, python.d). Can you wait until (let's say) `system.cpu` chart stops showing the metrics and then do a snapshot?

---

And I noticed [python nvidia_smi](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/nvidia_smi#nvidia-gpu-monitoring-with-netdata) module consumes ~a lot of CPU.

Consider

[2021-07-15 14:05] ilyam8 commented on #8209
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:05] #8209 closed

[2021-07-15 14:05] ilyam8 commented on #8210
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:05] #8210 closed

[2021-07-15 14:05] ilyam8 commented on #8210
@mfundul ❤️

[2021-07-15 14:12] ilyam8 commented on #8932
Fixed in https://github.com/netdata/netdata/pull/10771

[2021-07-15 14:12] #8932 closed

[2021-07-15 14:13] #11317 closed

[2021-07-15 14:17] ilyam8 commented on #9803
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:17] #9803 closed

[2021-07-15 14:21] ilyam8 commented on #9956
This issue has been addressed.

[2021-07-15 14:21] #9956 closed

[2021-07-15 14:27] ilyam8 commented on #6514
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:27] #6514 closed

[2021-07-15 14:29] ilyam8 commented on #6584
Fixed in https://github.com/netdata/netdata/pull/10997

[2021-07-15 14:29] #6584 closed

[2021-07-15 14:30] ilyam8 commented on #6450
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:30] #6450 closed

[2021-07-15 14:34] ilyam8 commented on #2746
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:34] #2746 closed

[2021-07-15 14:36] ilyam8 commented on #4395
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:36] #4395 closed

[2021-07-15 14:38] ilyam8 commented on #3810
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:38] #3810 closed

[2021-07-15 14:41] ilyam8 commented on #2174
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-15 14:41] #2174 closed

[2021-07-15 14:43] ilyam8 commented on #8896
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:43] #8896 closed

[2021-07-15 14:46] #8243 closed

[2021-07-15 14:49] #7337 closed

[2021-07-15 14:50] ilyam8 commented on #8207
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:50] #8207 closed

[2021-07-15 14:51] #7893 closed

[2021-07-15 14:51] #7891 closed

[2021-07-15 14:55] ilyam8 commented on #5322
Closing this feature request. We will re-evaluate the request internally.

[2021-07-15 14:55] #5322 closed

[2021-07-15 17:27] albert-92 commented on #11324
Oh sorry i though it included gaps in all metrics. I disabled python nvidia_smi, deleted the cache and sent you guys a new snapshot.

[2021-07-15 18:43] OdysLam commented on #8594
Hey everyone, that's actually great.

The data scrape is the easy part. @k0ste and @pgassmann we will need your help in organizing the data into meaningful charts.

In other words, we need your input to define X different charts, where in each chart there are Y metrics. What are those charts? What are the use-cases that we care about?

I recently went through creating a collector myself and this i

[2021-07-15 19:03] k0ste commented on #8594
We should care about on netdata charts:

* **percentage_used** - contains a vendor specific estimate of the percentage of NVM subsystem life used based on the actual usage and the manufacturer’s prediction of NVM life. A value of 100 indicates that the estimated endurance of the NVM in the NVM subsystem has been consumed, but may not indicate an NVM subsystem failure. The value is allowed to excee

[2021-07-15 19:10] zdzichu commented on #8594
**temperature** is already reported through `hwmon` (sensors), so let's not duplicate it.

[2021-07-16 06:39] bolausson commented on #11337
I can confirm it is compiling and working as expected now:

[code]

Thanks for the quick fix!

Cheers,
Bjoern

[2021-07-16 07:31] sniffski opened #11343 "Is there an option to compress data before it is streamed?"
Hi Guys,
Great work and appreciate your efforts in making monitoring so powerful and easy to use!
I am facing an issue with excess data sent out of my computer, after some digging I've found out that netdata is streaming huge amount of data to my streaming collector server. I am using it to monitor my laptop's performance and all worked well until I've had to switch to metered connection and just

[2021-07-16 07:52] k0ste commented on #8594
Screenshot from NVMe host. No one of NVM'e sensors on chart

![Screen Shot 2021-07-16 at 10 52 01](https://user-images.githubusercontent.com/7759548/125912483-4a901b42-65b3-4ef7-9461-4317f8d536cb.png)

[2021-07-16 10:39] Ferroin commented on #8594
Only if the kernel was built with a specific config option, which a number of distros seem to not be enabling right now in their default kernels.

[2021-07-16 11:01] tuzkiyoung opened #11344 "RHEL/CentOS rpm installation missed default stock configuration"
##### Bug report summary

RHEL/CentOS rpm installation missed default stock configuration

##### OS / Environment
 CentOS 7.9. And I also tested on CentOS 7.8 and Debian 10.9.

##### Netdata version
v1.31.0 stable channel

##### Installation method

RPM

##### Component Name

configuration

##### Steps To Reproduce
1. update yum repo
2. yum install netdata

##### Expected behavior
In the current v

[2021-07-16 12:08] ilyam8 commented on #7850
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 12:08] #7850 closed

[2021-07-16 12:14] ilyam8 commented on #3198
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 12:14] #3198 closed

[2021-07-16 12:16] ilyam8 commented on #8890
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 12:16] #8890 closed

[2021-07-16 12:17] ilyam8 commented on #8160
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 12:17] #8160 closed

[2021-07-16 12:19] ilyam8 commented on #7249
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).

[2021-07-16 12:19] #7249 closed

[2021-07-16 12:25] ilyam8 commented on #3341
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

[2021-07-16 12:25] #3341 closed

[2021-07-16 12:31] ilyam8 commented on #3089
Closing this feature request and moving it to [our community forum](https://community.netdata.cloud/) for further discussion (link will be posted soon).

Related discussion https://github.com/netdata/netdata/issues/5590#issuecomment-839873994

[2021-07-16 12:31] #3089 closed

[2021-07-16 12:33] ilyam8 commented on #2474
Closing this feature request. If you are still interested in it, consider creating a topic on [our community forum](https://community.netdata.cloud/c/feature-requests/agent-fr/21).