[2019-05-23 14:38] mfundul opened #6103 "When the collector restarts after having stopped a long time ago fill the chart gaps efficiently"
##### Feature idea summary

When the collector restarts after having stopped a long time ago fill the chart gaps efficiently when using `memory mode = dbengine`. Right now the code will consume a lot of CPU resources.

[2019-05-23 14:40] mfundul opened #6104 "force page alignment per dimension of chart"
##### Feature idea summary
Force page alignment per dimension of chart by dropping page early so that all dimensions end up aligned when using `memory mode = dbengine` so as to reduce I/O utilization.

[2019-05-23 14:46] mfundul opened #6105 "SN_EMPTY_SLOT RRDDIMM value detection inside DB engine"
##### Feature idea summary
SN_EMPTY_SLOT RRDDIMM value detection inside DB engine instead of at RRDSET level. This way we can reduce the number of pages needed to be stored and indexed when using `memory mode = dbengine`.

[2019-05-23 14:48] mfundul opened #6106 "don't spread a chart across extents"
##### Feature idea summary
Try to not spread a chart across extents when using `memory mode = dbengine`. This will reduce the number of I/O requests needed to serve queries.

[2019-05-23 16:00] Ferroin commented on #6106
Just to clarify, is the issue here filesystem-level extents, or something internal to the dbengine files themselves?

[2019-05-23 16:06] mfundul commented on #6106
It's dbengine data-files internal extents.

[2019-05-23 17:08] ilyam8 commented on #6077
@koebi001 hi

Please do `http://x.x.x.x:19999/api/v1/data?chart=net.enp96s0f0&after=-180` (change x.x.x.x to servers IP address) request during flapping and share the result

[2019-05-23 17:15] Ferroin commented on #6106
@mfundal Thought so, but wanted to be sure (I've dealt with the other case before in other software, and it's a royal pain in the arse to even get remotely right).

[2019-05-23 17:20] #5863 closed

[2019-05-23 17:42] michaal94 opened #6107 "Stopping collectors on master"
Hi,

Is there a possibility to stop all collectors for Netdata (in netdata.conf I set all [plugins] to no - is that enough?)? Also, can I remove that whole instance from the dashboard menu? What I want to do is to use master only to show data from servers without collecting or displaying from the master.

[2019-05-23 17:49] ilyam8 commented on #6107
Hi @michaal94

have you checked the dashboard?

All plugins `no` + statsd `no`

![Screenshot_20190523_204850](https://user-images.githubusercontent.com/22274335/58274750-33446000-7d9c-11e9-810c-b4993a115a36.png)

[2019-05-23 17:53] ShagoY commented on #2161
Hi,
I can't find any docs about that so I'm going to ask it directly here....
Netdata only detects the CPU usage for VMs and CPU/MEM/NET usage for LXCs, right?

[2019-05-23 18:02] michaal94 commented on #6107
On the dashboard I am left with blank page for my master. Can I get rid of it?

[2019-05-23 18:11] ilyam8 commented on #6107
To be honest i am not clear how it is supposed to work - remove master dashboard and at the same to be able to switch between slaves and browse their data.

Do you mean to have only this and nothing else? :thinking:

![Screenshot_20190523_211032](https://user-images.githubusercontent.com/22274335/58276089-3bea6580-7d9f-11e9-9093-8548b9f13eb6.png)

[2019-05-23 18:14] ilyam8 commented on #2161
@ShagoY i believe it should detect CPU/MEM/NET for both VMs and LXCs

[2019-05-23 18:15] ilyam8 commented on #2161
@vlvkobal knows for sure!

[2019-05-23 18:17] michaal94 commented on #6107
It is like this:
![aaa](https://user-images.githubusercontent.com/25354680/58276471-70eebc00-7d8f-11e9-8be8-134ec62df019.png)

[2019-05-23 18:25] ilyam8 commented on #6107
Yes. The question is what do you want? Have only header?

[2019-05-23 18:27] michaal94 commented on #6107
I wanted to disable the tab in the menu

[2019-05-23 21:56] UltimateByte opened #6108 ""mdstat.mdX_disks" chart's total is misleading"
##### Bug report summary
Minor issue here, also likely simple to fix.

Basically, I find the chart "mdstat.mdX_disks" to be misleading:

To illustrate the way I noticed the issue, in this example, I have a 3 disks RAID 5 array:
![netdata raid inuse](https://user-images.githubusercontent.com/8805941/58288313-8249bf80-7db3-11e9-9891-53cd3f3f4818.PNG)

"Total" shows 3, in use shows 2 (since one disk

[2019-05-23 21:57] JonasDralle commented on #5863
Thanks so much :raised_hands:.
I especially like the notification line of the installer

[2019-05-23 23:57] apardyl commented on #2239
+1 for the feature, really useful for apps, that can spawn workers infinitely on error (e.g. Zulip chat).

Using an absolute value might not be that bad - both macosx and freebsd have hardcoded limit of `99999` (according to https://www.freebsd.org/cgi/man.cgi?query=intro&apropos=0&sektion=2&manpath=FreeBSD+12.0-RELEASE&arch=default&format=html and https://apple.stackexchange.com/questions/51119/w

[2019-05-24 03:41] thiagoftsm commented on #5987
This bug is completely killed when the HTTPS is merged, the final solution is to use client_port from POLLINFO.

[2019-05-24 06:01] ilyam8 commented on #2239
please do!

[2019-05-24 08:01] Pihaar opened #6110 "netdata doesn't start with the new dbengine"
Hello!

##### Bug report summary
When using the new parameter `memory mode = dbengine` in `/etc/netdata/netdata.conf` netdata doesn't start any more.

I installed all the required software, which was mentioned in #5878

This is the output of `/var/log/netdata/error.log`:
[code]
I assume thet this is the relevant line: `netdata FATAL : MAIN :RRD_MEMORY_MODE_DBENGINE is not supported in this platfor

[2019-05-24 08:07] mfundul commented on #6110
In your logs I can see this print: `RRD_MEMORY_MODE_DBENGINE is not supported in this platform.` which means you don't have the required dependencies. You should look at the official documentation as a better source of information in comparison to the github issue, see [here](https://github.com/netdata/netdata/blob/master/packaging/installer/README.md#prepare-your-system) and [here](https://github

[2019-05-24 08:28] Pihaar commented on #6110
Hi mfundul,
the problem is, that I don't build netdata localy on this host. I use an open build service and just install the rpm in my client.
In your first link, there are 4 dependencies which are explicitly stated for the "Netdata DB engine". I checked manually if they are there and what library files are provided.
#### libuv
[code]
This contains the following files:
[code]
#### liblz4
[code]
Th

[2019-05-24 08:41] mfundul commented on #6110
You need the development libraries, not only the standard libraries, from the README link above from the Fedora example we have:
`dnf install zlib-devel libuuid-devel libuv-devel lz4-devel Judy-devel openssl-devel libmnl-devel gcc make git autoconf autoconf-archive autogen automake pkgconfig curl findutils`
It should be similar in SLES. In any case you should check the output of the installer or t

[2019-05-24 08:57] mfundul commented on #6110
In case it's not clear, you NEED to have the development libraries in the build server that creates the rpm otherwise the binary will not support `memory mode = dbengine` no matter what.

[2019-05-24 12:02] koebi001 commented on #6077
[code]

[2019-05-24 12:08] paulkatsoulakis commented on #6049
The issue is now fixed, we had to attend more issue prior to updating kickstart and thus we delayed.
@mbravorus let me know if you face any further problems and thank you for your patience.
Do not hesitate to get in touch with us if you need our assistance again!

[2019-05-24 12:08] #6049 closed

[2019-05-24 12:48] Ehekatl commented on #5014
@cakrit I've confirmed that the hostname is unique
the multiple connection issue I guess it's related to load balancer in front of netdata master, but that's not the root problem.

Bypass lb give me the same result.

When I look the streaming data at master and slave at the same time, I found something interesting.

it does streaming, but delay more and more, at first it only delay seconds, then t

[2019-05-24 13:30] alejandrofm opened #6114 "Alarms on system boot"
Hi, i'm using V1.15.

My system currently has 4gb of free disk space, I know it's low (same happened with 7gb, low too), I don't receive an alarm on normal usage, but on reboot I get this alarms saying **if the system continues to add data with the rate of the last hour**, the system is been ON for 1 minute, and on boot it could reserve some disk.
Using 1 minute for 60 minutes prediction seems off

[2019-05-24 13:44] ilyam8 commented on #6077
@koebi001 thanks! one more thing

please do

during flapping

[2019-05-24 16:53] koebi001 commented on #6077
interesting both values get `0` sometimes
[enp96s0f0.log](https://github.com/netdata/netdata/files/3217840/enp96s0f0.log)

[2019-05-24 17:16] ilyam8 commented on #6077
That is the problem. Since the value is [counter
](https://prometheus.io/docs/concepts/metric_types/#counter) type it shouldn't decrease.

Related: #5701, #4962

[2019-05-24 21:17] bohannin opened #6117 "Netdata 1.15 crashes on Ubuntu 16.04"
Netdata was recently updated to 1.15 (manually as the updater script was stuck on 1.14).  Netdata starts then when the UI is hit, immediately crashes.  If I curl the url from the command line, I get the html response, but from a browser an ajax call once the page is loaded is crashing Netdata.  Ajax call is: https://netdata.url/api/v1/charts?_=1558732027083

I am reverse proxied through Nginx for

[2019-05-24 22:51] ilyam8 commented on #6117
@bohannin could you update to the latest and check if the problem is there?
[code]

[2019-05-25 00:25] bohannin commented on #6117
Thanks - I ran the updater which grabbed netdata v1.15.0-15-nightly, which has been stable so far.

[2019-05-25 00:27] #6117 closed

[2019-05-25 03:13] RobDean69 commented on #6092
Sorry @paulkatsoulakis, I thought I had commented (it must not have posted correctly).

I have a working install of Netdata so the problem isn't critical.
I have attached the full install log.

Rob

[Error1.txt](https://github.com/netdata/netdata/files/3219069/Error1.txt)

[2019-05-25 16:38] paulkatsoulakis commented on #6083
Hi @titpetric thanks again for your report, i have identified the issue you faced.
I am preparing a set of overall improvements as part of #6094 that should solve support issues too for debian 8 and 9.

In your case though, i see that you are probably working on the development version of jessie.
Is this correct?

[2019-05-25 17:36] paulkatsoulakis commented on #6088
I am afraid i could not reproduce the use case. I am suspecting it is tightly related to the fact we re-released our 1.15.0 and at that time something went terribly wrong. It may also be the case that the installed updater was buggy, as i noticed there was a fixed bug on 1.14.0-rc0-20 version.

At any case, i do not consider this resolved but rather it cannot be reproduced.

@alejandrofm by all me

[2019-05-25 17:36] #6088 closed

[2019-05-25 19:06] ktsaou opened #6123 "netdata crash reports"
To ensure the quality of netdata we should somehow collect crash reports.

So, every time a netdata agent crashes, we should be notified somehow.

The report should ideally include the following:

1. netdata version
2. netdata installation method
3. operating system identification information
4. backtrace of the point netdata crashed (optional)

I understand there are possibly 2 distinct cases the

[2019-05-26 01:54] Komic opened #6125 "web_log reports unmatched lines"
This seems to be the problematic line (should parse as a 502):

[code]

[2019-05-26 08:23] titpetric commented on #6083
Unsure. The install is dated, it may have been the unstable branch when it
was installed. The server /is/ on the way out tho, I’m just collecting some
metrics to test a netdata master/slave setup from the existing deployment.
I won’t be super sad if you tell me the install is too old 😂

On Sat, 25 May 2019 at 18:39, Paul Emm. Katsoulakis <
notifications@github.com> wrote:

[2019-05-26 10:28] ilyam8 commented on #6125
Hi @Komic

i think the problem is the comma. Do you really need it? What is you log format?

[2019-05-26 13:33] donets420 commented on #5757
Well, process uptime is important metric. In my case I need to find different monitoring solutions, not netdata unfortunately.

[2019-05-26 15:41] paulkatsoulakis commented on #6083
i see, i am curious, could you share the full log of the installer?
It will help me understand exactly the things it identified to take decisions so that i can guide you better.

[2019-05-26 17:19] Komic commented on #6125
My log_format directive is the one provided by web_log.conf, `log_format netdata '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent $request_length $request_time $upstream_response_time "$http_referer" "$http_user_agent"';`.

[2019-05-26 17:55] paulkatsoulakis commented on #5745
The issue is no longer manifesting after latest improvements on the installer.
There are only a set of last improvements to be pushed as part of #6094 (PR: #6121)

[2019-05-26 17:55] #5745 closed

[2019-05-26 19:17] titpetric commented on #6083
Sure, just tell me which files to collect and where to find them.

On Sun, 26 May 2019 at 17:42, Paul Emm. Katsoulakis <
notifications@github.com> wrote:

[2019-05-26 21:37] Wing924 commented on #6125
upstream_response_time may contain "," if first upstream server return error and nginx request to second server.

[2019-05-27 06:36] ilyam8 commented on #6125
ok, i think removing traling spaces from

https://github.com/netdata/netdata/blob/9f532f4981bdc4455a3115e580fe4014ff928efb/collectors/python.d.plugin/web_log/web_log.chart.py#L663

and

https://github.com/netdata/netdata/blob/9f532f4981bdc4455a3115e580fe4014ff928efb/collectors/python.d.plugin/web_log/web_log.chart.py#L671

will fix the problem, @Komic could you test it?

[2019-05-27 06:38] paulkatsoulakis commented on #6083
Hello, you 're running kickstart so grabbing your shell output (stdin/stderr) when running the installer should do

[2019-05-27 08:13] cakrit opened #6129 "Fix telemetry config in installer"
##### Summary
Move telemetry config before netdata is restarted and fix the console message

##### Component Name
installer

##### Additional Information
The config option --disable-telemetry was being checked after restarting netdata, which means that we would still send anonymous statistics the first time netdata was started.

The new message had the wrong format.

[2019-05-27 08:15] cakrit opened #6130 "Optimize calls that gather system-info"
##### Summary
Remove unecessary 2nd call of get_system_info at startup

##### Component Name
daemon

##### Additional Information
There is no need to have a second call to the system-info.sh script.

[2019-05-27 08:30] #6130 closed

[2019-05-27 08:45] cakrit opened #6131 "Reduce number of codacy issues"
We have an increase in the issues reported by Codacy and need to work on them.
- 19 Python
- 1036 Markdown #5941. Actually depending on the Linter options, you can see thousands of warnings.
- 136 C

[2019-05-27 08:46] #2239 closed

[2019-05-27 09:12] vlvkobal opened #6132 "Memory leak in power supply module"
##### Bug report summary
valgrind reports a memory leak on dir opening:

[code]

##### OS / Environment
Manjaro Linux 18.0.4 4.19.32-1-MANJARO

##### Netdata version (ouput of `netdata -V`)
netdata v1.15.0-28-gdfa3c906

##### Component Name
power supply module in proc plugin

##### Expected behavior
No memory leaks

[2019-05-27 09:13] cakrit commented on #6077
How about just ignoring zeroes in `/proc/net/dev`?

[2019-05-27 09:19] cakrit commented on #5823
We missed this one, apologies. Are you still facing this issue? Asking @paulkatsoulakis to take a look...

[2019-05-27 09:57] cakrit commented on #6114
I'd like to see the chart with a little over 1 hours' worth of data, for one of your disk space charts, right after the startup, where you get the alarm. Looking at how the calculations are done, you shouldn't be getting these alarms unless we mistakenly assume that the whole disk was available ~1 hour prior to the reboot.

netdata checks the 10m period from now - 60 min until now - 50 min and it

[2019-05-27 10:15] cakrit commented on #5014
We need to get rid of the `multiple streaming connections for the same host detected` for sure. netdata's behavior is completely unpredictable when that happens. Within a nine minute period in the log you sent me you had connections from 4 different IPs: `xxx.xxx.xx[1.50 , 1.52, 6.180, 1.48]`. All of them were from your LB?

I went back and saw another strange thing in your log:
[code]
From the co

[2019-05-27 10:31] cakrit commented on #5863
I had to move it up a bit and make the message more uniform with the other messages, see #6127.

[2019-05-27 10:40] #6094 closed

[2019-05-27 10:46] cakrit commented on #6107
There's nothing like what you're looking for. It looks like you need a very custom dashboard (i.e. your own index.html and main.js). We could leave this issue open for a bit, to see if other users are interested in such a feature.

[2019-05-27 10:47] #6129 closed

[2019-05-27 11:12] ilyam8 commented on #6077
I don't like ignore zeroes, because zero is a valid value. Imo it should be collected. For example both `errors` and `drops` values are zero on my pc.

But yes, the only way to handle `interesting both values get 0 sometimes` bug is to ignore it if prev value was collected and it was not zero. Maybe we should ignore it only one iteration, because in theory counters can be reseted by hand, at least

[2019-05-27 11:15] ilyam8 commented on #6077
@vlvkobal what do you think? it is not bug in netdata, but it would be nice if we could provide a workaround for the problem. Currently @koebi001 network interface charts are mess (huge spikes every several minutes or so)

[2019-05-27 11:18] #5840 closed

[2019-05-27 11:19] #5828 closed

[2019-05-27 11:21] ilyam8 opened #6133 "[feature] collect active processes limit"
#6116 uses hardcoded maximum number of active processes (default actually).

it is configurable value, we could collect it and calculate system active processes usage % and warn user based on it.

some info from @apardyl

I'm not sure if this is needed - 32768 processes is quite a number, I don't think many users get close to it on a single (virtual)machine. I can implement this as well, I see it

[2019-05-27 11:33] ilyam8 commented on #6131
![Screenshot_20190527_143247](https://user-images.githubusercontent.com/22274335/58417058-5026af00-808c-11e9-965c-c22c4ed14e2c.png)

[2019-05-27 11:37] cakrit commented on #6133
`active_processes` is in `collectors/freebsd.plugin/freebsd_sysctl.c` and `collectors/proc.plugin/proc_loadavg.c`
cc @vlvkobal

[2019-05-27 11:41] cakrit commented on #6131
![Screenshot from 2019-05-27 13-39-20](https://user-images.githubusercontent.com/43294513/58417443-14d4b200-8085-11e9-9274-29f6d2210e02.png)

You gotta love Codacy... :)

[2019-05-27 11:46] vlvkobal commented on #2161
Unfortunately, I don't know for sure. I don't have proxmox installed right now, but as far as it uses cgroups, stats are collected by cgroups plugin. It shows metrics for CPU/MEM/NET/DISK if they are available on cgroup level.

[2019-05-27 12:03] vlvkobal commented on #6131
@cakrit check if you are looking not at **netdata/netdata**
![image](https://user-images.githubusercontent.com/22008543/58418518-9e3db180-8090-11e9-9e76-0951d8056d24.png)

[2019-05-27 12:07] vlvkobal commented on #6131
Besides, we still have issues when new commits are checked not by netdata/netdata Codacy instance, but paulkatsoulakis/netdata.

[2019-05-27 12:10] cakrit commented on #6131
The pull requests are integrated with `paulkatsoulakis/netdata` instead of `netdata/netdata`. @paulkatsoulakis please fix it.

[2019-05-27 13:48] h0lzi opened #6135 "Display the whole timeframe of real-time history when DB Engine is used"
##### Feature idea summary
Display the whole timeframe of stored Data with DBengine.

The the Moment in the webconsole only Memory Timeframe is display:
netdata on centos01, collects every second 1.699 metrics, presented as 293 charts and monitored by 147 alarms, using **2 MB of memory for 1 hour, 6 mins and 36 secs of real-time history.**

##### Expected behavior
Display the whole timeframe store

[2019-05-27 13:50] Komic commented on #6125
yup, that worked, thanks!

[2019-05-27 13:53] cakrit commented on #6061
Also, from #6135

It's a good idea, even if it's not the default view.

[2019-05-27 13:54] cakrit commented on #6135
Thanks @h0lzi. It's a good idea. I added it to #6061 and I'll close this one as duplicate.

[2019-05-27 13:54] #6135 closed

[2019-05-27 13:58] alejandrofm commented on #6114
Hi, I need to restart the server again to test, I don't think it will happen this week, but if I restart it I'll post screenshots. Thank you

[2019-05-27 14:50] paulkatsoulakis commented on #5823
as per the documentation here: https://docs.netdata.cloud/collectors/python.d.plugin/dockerd/ you need the docker package on the instance if you want to use dockerd.

@cakrit should it be that by default package `docker` is installed on the image we ship?
I thought such a serious package is better to be explicitly installed if needed by the person setting up dockerd

[2019-05-27 14:52] katsil opened #6136 "Send to two backend"
##### Question summary
Hello. Guys, can someone help me please?
Is there any way to configute netdata sending metrics to 2 backends instead of one. I mean i want to send metrics to opentsdb and graphite simultaneously.

What i`m expecting:
[code]
Is there any way to do that? Or i cant?
##### OS / Environment
Ubuntu 18.04
##### Component Name
Netdata.Backend
##### Expected results
Allowing to send

[2019-05-27 15:02] cakrit commented on #5851
@ilyam8 I missed this one. Is what you were thinking to just be able to add to the alert the number of seconds since the last successful data collection? We can do that, it would be a feature request for health and only needs a change in the daemon I think.

[2019-05-27 15:07] cakrit commented on #5823
IMHO, our docker image needs to have everything required to run all collectors. We shouldn't be asking users to hack our Dockerfile to get something to work, it's complex enough as it is. The only other alternative is to explicitly document [here](https://docs.netdata.cloud/packaging/docker/) the options that people can provide to select what the image will contain, so that it doesn't become bloat

[2019-05-27 15:22] cakrit commented on #6136
The request is to be able to send to two different *types* of backends from a single netdata instance.
It can't be done by just parsing the `type` config option differently, because multiple hosts can already be configured on `destination` and we'd need to know which backend type to use for which host.

In fact, looking at how `destination` is defined, it looks like we don't even replicate to mult

[2019-05-27 15:23] ilyam8 commented on #5851
Request is

As for me this is `wontfix`, `x590check` collector is responsible only for collecting `Time Until Certificate Expiration in seconds`. So if it failed to retrieve that data it shouldn;t report _emtpy_ values.

As for `last_collected_secs` alarm, yes, i will add it.

[2019-05-27 15:38] katsil commented on #6136
wait.
can on the same host (i mean on this host) use 2 backends like:

[code]

[2019-05-27 15:40] katsil commented on #6136
wait. is there any way to do somethink like that: (on the same host without using stream metrics):

[code]
and the second
[code]

[2019-05-27 15:40] katsil commented on #6136
can i do somethik like that?

[2019-05-27 16:03] cakrit commented on #6136
No, I said you can't do that today. It's a very nice feature request though, so let's leave it open and we'll put it in the backlog.

[2019-05-27 17:40] Avik1993 commented on #3641
I am facing similar issue. My config looks like this:
`cool_website:
   url: 'http://localhost:2324/service/tick'
   status_accepted:
     - 200
     - 204
   timeout: 2
`

I get error

[2019-05-27 18:11] ilyam8 commented on #3641
@Avik1993 netdata version?

[2019-05-27 18:42] Avik1993 commented on #3641
Hi @ilyam8
netdata v1.14.0-29-g9f151a8

[2019-05-27 19:05] ilyam8 commented on #3641
You need to update `urllib3` package, `NewConnectionError` was added in [1.12 (2015-09-03)](https://github.com/urllib3/urllib3/blob/master/CHANGES.rst#112-2015-09-03)

[2019-05-27 19:08] Avik1993 commented on #3641
I am at version 1.7.1 for urllib3 in python 3. which version do i need to update it to?

[2019-05-27 19:15] ilyam8 commented on #3641
I suggest to the latest you can get in case nothing depends on `1.7.1`

[2019-05-27 19:16] Avik1993 commented on #3641
the package was installed as a dist-package. So I wont be able to remove it just using

Any other way to perform this?

[2019-05-27 19:21] Avik1993 commented on #3641
ok i seem to have made progress here.
I did upgrade `urllib3` to latest version. And the check also passed but I am not able to see any charts in Netdata UI.
Logs from Error.log file
`2019-05-27 19:23:35: python.d INFO: plugin[main] : httpcheck[cool_website] : init successful
2019-05-27 19:23:35: python.d INFO: plugin[main] : httpcheck[cool_website] : check successful
2019-05-27 19:23:35: netdata

[2019-05-27 20:29] Leosirth commented on #5823
Hi @cakrit  @paulkatsoulakis

thanks for your feedback.
As per my understanding the docker package is needed for some additional docker charts and would fix the error:

`2019-04-09 12:25:29: python.d ERROR: dockerd[local] : 'docker' package is needed to use dockerd module,`

Can you also help me for having container names instead of IDs?

Thanks and regards,

[2019-05-27 20:32] ilyam8 commented on #5823
@Leosirth

The message is produced by python.d module, it is not related to the problem

[2019-05-27 22:49] Wing924 commented on #6125
btw, since upstream_response_time may contain space, you need to wrap it with double quotation.

[2019-05-27 22:49] Wing924 commented on #6125
btw, since upstream_response_time may contain space, you need to wrap it with double quotation.

[2019-05-27 23:26] gamefundas opened #6140 "Netdata cloud - What information is stored?"
I was starting to explore the new "Nodes" feature as part of 1.5 release and the integration with Netdata cloud but don't see any documentation on what sort of information will be stored offsite when I choose one of the authentication methods.

My organization is apprehensive to store any information off the organization network so looking to see if this is only service metadata or network informa

[2019-05-28 03:15] thiagoftsm opened #6141 "Certifcate validation"
##### Feature idea summary
The current implementation of SSL only has two possibilities for the slave, either does not connect with master with invalid certificate or connect ignoring the error, we can improve this.

##### Expected behavior
To give more options for the users.

[2019-05-28 03:17] thiagoftsm opened #6142 "TLS 1.3"
##### Feature idea summary
The current implementation of the SSL works with protocols until TLS 1.2, due problems that we are having with Google Chrome, when Chrome begins to work better with TLS 1.3 we must accept this version of the protocol.

##### Expected behavior
Increase the safety in the communication.

[2019-05-28 03:43] ramonli commented on #6019
Thanks

[2019-05-28 03:43] #6019 closed

[2019-05-28 04:50] katsil commented on #6136
Okay. So now the only way is to use streaming?
But is this gonna works with 2 netdata`s and 1 stream?

I mean:

netdata1: backend -> opentsdb
netdata2: backend -> opentsdb

both netdata[1,2] pushing their metrics to `netdata-stream` and netdata-stream`s backend -> graphite.

will netdata-stream created folders for each netdata?
i mean this in graphite:
[photo](http://img.superhub.xyz/uploads/big/2

[2019-05-28 04:55] katsil commented on #6136
![](https://share.superhub.xyz/download/4e6d63e4499ccb5c6a8fc09e86f8a0fa)

[2019-05-28 05:09] katsil commented on #6136
![](http://p10.superhub.xyz/XHxYoTvV)

[2019-05-28 05:49] paulkatsoulakis commented on #6131
Guys, can you elaborate a bit more? Where do you see that the project is linked to the paulkatsoulakis/netdata repository? And why is this raising codacy errors in the first place even if that was true.

My account is used for the integration, is not using my repositories.

[2019-05-28 05:55] paulkatsoulakis commented on #6131
oh, github side, hm

[2019-05-28 06:02] paulkatsoulakis commented on #6131
Should be fixed now, let me know

[2019-05-28 06:02] #6131 closed

[2019-05-28 07:09] paulkatsoulakis commented on #6073
@cakrit here's the PR, kindly note that the package carrying virsh increases the overall image size

[code]

[2019-05-28 07:10] paulkatsoulakis commented on #6073
We could try install it on the builder image and copy only what is required on the runtime image, but i can't really tell if it would really make any difference though

[code]

[2019-05-28 07:13] paulkatsoulakis commented on #5823
actualy dockerd has a failover approach to retrieve docker name that depends on docker package

[2019-05-28 07:33] vlvkobal commented on #6136
Yes, it will create different folders for each host. You can also stream data from both agents to a master netdata and then push metrics to the backend.

[2019-05-28 07:41] cakrit commented on #6140
You're right @gamefundas, we need to update the [registry](https://docs.netdata.cloud/registry/) page with references to Netdata cloud. The information stored is what's mentioned in that page, except for the person guid, which is replaced with the info for the sign in functionality. So, when you sign in, we store URLs and host names.

The old registry did that as well, by default. To prevent it, y

[2019-05-28 07:54] vlvkobal commented on #6077
Saving a part of our discussion with @cakrit here:

worst case scenario, next few secs you get a non-zero, and THEN wrap

It's useful because if I know I was getting very close to the cap, then I expect one of the next values to wrap around. If I was very far, it's definitely a reset
it's just the definition of "close" and "far" that needs heuristics.
whereas now even the cap is calculated based o

[2019-05-28 08:23] paulkatsoulakis commented on #5823
I 'll have to take back the need for adding docker package.
the user can just pass the binary with -v option when running the image

I am continuing investigation.

[2019-05-28 08:32] cakrit commented on #6140
I updated the docs in #6144.

[2019-05-28 08:36] cakrit commented on #6141
Check section "Certificate Verification" in https://curl.haxx.se/docs/sslcerts.html, it covers all the cases.
We will have the exact same thing whenever netdata acts as a client (i.e. in streaming and backends now, when a netdata agent tries to connect to https://netdata.cloud later). But the options should not be the same for all connections, each destination may require a different policy. So th

[2019-05-28 08:58] #5851 closed

[2019-05-28 09:21] #6125 closed

[2019-05-28 10:25] paulkatsoulakis commented on #5823
@Leosirth could you confirm whether adding `-v /usr/local/bin/docker:/usr/bin/docker` in your docker run command solves your issue? I am facing some problems on my test environment so in the meantime it would help if you can check how this affects the docker name resolution

[2019-05-28 10:29] Leosirth commented on #5823
@paulkatsoulakis sure.
I'm not able to test it right now, give me a couple of hours and will let you know.

[2019-05-28 10:31] cakrit commented on #5843
I found a solution. Follow the instructions [here](https://docs.netdata.cloud/web/#customizing-the-standard-dashboards) and add to your custom dashboard js the line `netdataShowAlarms = false;`

[2019-05-28 10:33] cakrit commented on #5843
I'm closing, let us know if you have additional questions. I tested this and it works for me. Of course you can also disable or enable notifications from your browser's settings. The solution above will prevent netdata from asking but also, never inform you of alarms via browser notifications.

[2019-05-28 10:33] #5843 closed

[2019-05-28 10:45] cakrit commented on #6136
https://docs.netdata.cloud/backends/#features :

[2019-05-28 10:46] ilyam8 commented on #5843
Custom dashboard is not a solution.

[2019-05-28 10:49] ilyam8 commented on #5843
@keith-mojo

![Screenshot_20190528_134834](https://user-images.githubusercontent.com/22274335/58472611-4e71ef80-814f-11e9-951e-757efd390460.png)

but keep in mind

[2019-05-28 10:50] #5846 closed

[2019-05-28 11:45] Ferroin commented on #6123
AFAIK, there's no special extra handling with systemd beyond making it easier to set up an rlimit for core file size than most other init systems.  The 'special' stuff is pretty much universally distro (or meta-distro) specific (for example, ABRT on Fedora and friends), and is almost always handled through a global `/proc/sys/kernel/core_pattern` hook.

I would very much encourage looking into thi

[2019-05-28 11:48] paulkatsoulakis commented on #6036
Distributions to support as per the maintainers

* Ubuntu (https://wiki.ubuntu.com/Releases)
   * Ubuntu 14.04.6 LTS (Trusty Tahr)
   * Ubuntu 16.04.6 LTS (Xenial Xerus)
   * Ubuntu 18.04.2 LTS (Bionic Beaver)
   * Ubuntu 19.04 (Disco Dingo) **latest

* Debian (https://www.debian.org/releases/ and https://wiki.debian.org/LTS/)
    * Debian 7 (Wheezy)
    * Debian 8 (Jessie)
    * Debian 9 (Stretch

[2019-05-28 11:57] Ferroin commented on #6133
@apardyl is mostly correct, except that threads on Linux functionally have to have an assigned PID, so the highest possible PID value (the value listed in `/proc/sys/kernel/pid_max`) is a hard limit regardless of the maximum number of threads, while the `threads-max` file functionally places a hard limit on how many threads a single process can create.  So, the correct thing to track here is the m

[2019-05-28 12:04] mfundul commented on #6133
In my experience `threads-max` is the maximum number of threads in linux kernel and depends on physical memory, like it's described [here](https://stackoverflow.com/questions/344203/maximum-number-of-threads-per-process-in-linux).

[2019-05-28 12:41] mfundul commented on #6110
Documentation updated in #6111

[2019-05-28 12:41] #6110 closed

[2019-05-28 12:54] mfundul opened #6147 "Metrics Map Research/Spike"
##### Feature idea summary
Metrics Map Research/Spike towards  #6448.

[2019-05-28 12:59] mfundul opened #6148 "Netdata variable granularity Research"
##### Feature idea summary
Netdata variable granularity Research

[2019-05-28 13:18] Ferroin commented on #6133
@mfundul You're correct, I was mistaken about `threads-max`, though my comment about `pid_max` still being a limiting factor stands.

Given that, Netdata should probably look at both and only list the lower of the two.

[2019-05-28 14:02] Avik1993 commented on #3641
Hi
One more question @ilyam8 .
What if I want to run a different custom script for different endpoints monitored through httpcheck.
Say  I have one endpoint `http://a/b`, for which I want script `Alarm1.sh` to execute and for endpoint `http://c/d` i want `Alarm2.sh` to be triggered.
I know each alarm has a parameter exec, which can be used to run a custom script. But what I want to run a different

[2019-05-28 14:37] ilyam8 commented on #3641
You need to write all those alarm yourself then :smile:

Or

Write a wrapper wich executes certain script based on input params

default exec is [`alarm-notify.sh`](https://github.com/netdata/netdata/blob/master/health/notifications/alarm-notify.sh.in), i see input params are

https://github.com/netdata/netdata/blob/e11a4e4a5dc5231ffb2f58ff05f32156c052766a/health/notifications/alarm-notify.sh.in#L

[2019-05-28 14:39] cakrit commented on #6036
This needs to be greatly expanded and `kickstart-static64.sh` needs to be tested on all of them.
See https://repology.org/project/netdata/versions for a huge list, we need to filter the 50-70 that will be included here.

[2019-05-28 14:40] paulkatsoulakis commented on #6036
yep, i was thinking about this part, how to further expand in detail.
I 'll check repology now

[2019-05-28 14:43] cakrit commented on #5842
Let's close this and pick thing up again when we move with the implementaion.

[2019-05-28 14:43] #5842 closed

[2019-05-28 15:22] vpapas opened #6149 "varnish plugin not showing (varnish version 4)"
Hello,

After upgrading to netdata v1.15.0-29-ge11a4e4 varnish metrics are not showing.

Here is the netadata error log:

2019-05-28 17:59:52: python.d INFO: plugin[checker] : varnish : source successfully loaded
2019-05-28 17:59:52: python.d INFO: plugin[checker] : varnish : found config file '/usr/lib/netdata/conf.d/python.d/varnish.conf'
2019-05-28 17:59:52: python.d INFO: plugin[checker] : var

[2019-05-28 15:37] ilyam8 commented on #6149
Hi @vpapas

https://github.com/netdata/netdata/blob/e11a4e4a5dc5231ffb2f58ff05f32156c052766a/collectors/python.d.plugin/varnish/varnish.chart.py#L198-L202

The output from 'varnishstat -1' is empty for some reason.

Try to run it in debug mod
https://docs.netdata.cloud/collectors/python.d.plugin/#how-to-debug-a-python-module

[2019-05-28 15:43] vpapas commented on #6149
Hello,

Here is the output of the debug:

2019-05-28 18:42:33: python.d INFO: plugin[main] : using python v2
2019-05-28 18:42:33: python.d INFO: plugin[main] : starting setup
2019-05-28 18:42:33: python.d INFO: plugin[main] : checking for config in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2019-05-28 18:42:33: python.d INFO: plugin[main] : config found, loading config '/usr/lib/netdata/conf.d/py

[2019-05-28 16:12] lostradamu opened #6150 "Edited health config file, slack notifications not sending"
##### Bug report summary
I have edited the health config file with the appropriate Slack Webhook URL and when I try to run alarm-notify.sh all I receive is the following:

[code]
##### OS / Environment
MacOS

##### Netdata version (ouput of `netdata -V`)
v1.15.0-29-ge11a4e4
##### Component Name
Alarms/Health Monitoring
##### Steps To Reproduce
Edited health_alarm_notify.conf, ran `sh /usr/local/ne

[2019-05-28 16:23] ilyam8 commented on #6149
i see we are not logging anything here

https://github.com/netdata/netdata/blob/e11a4e4a5dc5231ffb2f58ff05f32156c052766a/collectors/python.d.plugin/python_modules/bases/FrameworkServices/ExecutableService.py#L36-L37

change it to

[code]

and run the plugin in debug mode again

___

so you are saying that
 - `sudo su -s /bin/bash netdata`
 - `varnishstat -1`

works for you?

Nothing was changed in

[2019-05-28 16:35] cakrit commented on #6150
- Did you also configure `DEFAULT_RECIPIENT_SLACK`?
- I'd like to see which `date` command fails as well. Please follow the instructions at the end of https://docs.netdata.cloud/health/notifications/#testing-notifications (with the bash -x) and paste here the relevant part.

[2019-05-28 16:45] paulkatsoulakis commented on #5823
Hi @Leosirth, any luck ?

[2019-05-28 17:18] lostradamu commented on #6150
Yes I have configured `DEFAULT_RECIPIENT_SLACK` with different slack channel names to no avail.

Here are the results of running the alarm script with `bash -x`.

[code]

[2019-05-28 17:43] cakrit opened #6151 "Remove deprecated charts.d plugins served by native plugins"
##### Feature idea summary
Take a look at #4104 and properly remove the legacy charts.d plugins.

##### Expected behavior
Only the c plugins should exist, the netdata-updater should remove references to the old plugins and files related to them.

[2019-05-28 17:44] cakrit commented on #6151
Do a new PR, notice @ktsaou's comment and close #4104.

[2019-05-28 18:05] cakrit commented on #2474
This shouldn't have been closed, it's because it was incorrectly marked as a question. Reopening.

[2019-05-28 18:06] cakrit commented on #2474
@vlvkobal check the linked PR, it contains feedback on some changes @ktsaou had made, trying to get this working.

[2019-05-28 19:15] astorath opened #6152 "httpcheck causes lots of SYN_SENT dangling sockets"
##### Bug report summary
*httpcheck* module of *go.d.plug* does not dispose sockets properly

`sudo lsof -i -P -n -l | grep SYN_SENT` shows that there are lots of sockets waiting for ACK despite of timeout:

[code]

##### OS / Environment
`CentOS Linux release 7.6.1810 (Core)`

##### Netdata version (ouput of `netdata -V`)
`netdata v1.15.0`

##### Component Name
*httpcheck*

##### Steps To Reprodu

[2019-05-28 19:49] Leosirth commented on #5823
Hi @paulkatsoulakis

sorry I was a little busy and also having some trouble finding the correct docker bin to use (QNAP is a little over-complicated).

In the end I still have the same issue even if I can successfully invoke docker from inside netdata container.

I'm pretty new on this so this could be nonsense but isn't that we need the python package instead of docker binary?

looking at:

https

[2019-05-28 21:26] ilyam8 commented on #6152
@astorath thx for reporting fixes in https://github.com/netdata/go.d.plugin/pull/225

[2019-05-28 21:49] #6073 closed

[2019-05-28 22:04] #6152 closed

[2019-05-28 22:07] ilyam8 commented on #5823
yes, python package

[2019-05-29 01:02] RobDean69 opened #6153 "opensuse - installation by hand issues due to hardcoded libexec in netdata-installer.sh"
I get errors when trying to install Netdata on an OpenSUSE 15 system as below. Same errors when running an update. I have attached a full log as a text file.

`[/tmp/netdata-kickstart-SJQXq1/netdata-v1.15.0]# chown -R root:netdata /usr/libexec/netdata
chown: cannot access '/usr/libexec/netdata': No such file or directory
FAILED

[/tmp/netdata-kickstart-SJQXq1/netdata-v1.15.0]# find /usr/libexec/ne

[2019-05-29 01:44] henrywhitaker3 opened #6154 "Can't load known netdata agents from netdata.cloud"
##### Bug report summary
Nodes won't load in the dropdown list, instead the message "Can't load known netdata agents from netdata.cloud!" is shown. Clicking on the 'Nodes' link in the navbar takes you to `/console.html` which is just a blank page, the console output is this: `Loading failed for the <script> with source “https://netdata.cloud/static/console/main.js?v=4”` although navigating to that

[2019-05-29 06:05] Avik1993 commented on #3641
so you mean i can write a wrapper script with which will accept the same number of arguments as alarm-notify.sh does. Filter based on input parameters `name`, `chart`, `family`.
Thats a nice idea!

[2019-05-29 07:32] vpapas commented on #6149
Hello again,

I've changed the code but i got the same result:

2019-05-29 10:27:37: python.d INFO: plugin[main] : using python v2
2019-05-29 10:27:37: python.d INFO: plugin[main] : starting setup
2019-05-29 10:27:37: python.d INFO: plugin[main] : checking for config in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2019-05-29 10:27:37: python.d INFO: plugin[main] : config found, loading config '/usr

[2019-05-29 07:42] ilyam8 opened #6155 "[feature] wmi collector: collect more metrics"
##### Feature idea summary
[wmi](https://github.com/netdata/go.d.plugin/tree/master/modules/wmi) module collects data from [`wmi_exporter`](https://github.com/martinlindhe/wmi_exporter).

Current implementation collects metrics from following `wmi_exporter` collectors:
 - [cpu](https://github.com/martinlindhe/wmi_exporter/blob/master/docs/collector.cpu.md)
 - [memory](https://github.com/martinlind

[2019-05-29 07:58] paulkatsoulakis commented on #6036
At the healthy code column i 'll be embedding a Travis badge to indicate code health status per distro
https://docs.travis-ci.com/user/status-images/

[2019-05-29 08:00] ilyam8 commented on #6149
Ok, see there is hardcoded timeout (`-t 1`), so module executed `varnishstat -1 -t 1`. Try the command with `-t 1`.

And try this code in python interpreter, this is basically same as collector does

[code]

[2019-05-29 08:12] vpapas commented on #6149
Ok, we caught the error:

(null)
usage: varnishstat [-1lV] [-f field_list] [-n varnish_name] [-N filename] [-w delay]
    -1                           # Print the statistics to stdout.
    -f field_list                # Field inclusion glob
                                 # If it starts with '^' it is used as an exclusion list
    -l                           # Lists the available fields to use w

[2019-05-29 08:17] ilyam8 commented on #6149
ok, i see, there is no `-t` option in your case

[2019-05-29 08:19] cakrit opened #6156 "Add support for ThingM Blink(1) notification LED's"
If someone else wants to pick this up, I'd be more than happy to help with testing (I've got half-a-dozen of the USB LED modules this is supposed to work with (specifically, the mk2 revision), so I can test complex configurations), and would be happy to provide some advice on working with the CLI tool this is using, but I'm not sure that I'm the best person to push this forwards right now.

Unless

[2019-05-29 08:20] cakrit commented on #6156
#3956 has a lot more details on this. If someone is interested in this, it's best to start from there.

[2019-05-29 08:22] astorath opened #6157 "httpcheck does not export some metrics in version 1.15"
##### Bug report summary
After installing netdata 1.15 (used 1.13 previously) some *httpcheck* metrics disappeared from prometheus export. For instance: `netdata_httpcheck_response_time`, `netdata_httpcheck_response_length`

##### OS / Environment
`CentOS Linux release 7.6.1810 (Core)`

##### Netdata version (output of `netdata -V`)
`netdata v1.15.0`

##### Component Name
*httpcheck*

##### Steps

[2019-05-29 08:24] astorath commented on #6157
Just checked 1.14, missing metrics are present there, so this is 1.15 issue

[2019-05-29 08:25] cakrit commented on #6150
I need a second `bash -x`:

[code]

You'll see a lot of output, so better redirect it to a file, and put here the few lines you will see before the `usage` error.

[2019-05-29 08:33] ilyam8 opened #6158 "finish Yoctopuce sensor units PR"
The PR is  #4008

to properly load the Yoctopuce modules.  As far as I could tell at the time, the dynamic import thing works, it's just an issue with getting Python to properly import modules that aren't in `system.path`, but I didn't look very deep beyond that.  Part of the problem there is that the Yoctopuce Python modules are not available through most distribution's package managers, which ad

[2019-05-29 08:39] ilyam8 commented on #6157
yes, i noticed it and fixed in https://github.com/netdata/go.d.plugin/pull/225

[2019-05-29 08:42] ilyam8 commented on #6157
could you check it btw?

(you need `go` installed on your system in order to compile the plugin from source)

 - `git clone https://github.con/netdata/go.d.plugin`
 - `cd go.d.plugin`
 - `make`
 - `stop netdata.service`
 - `cp bin/godplugin <path to plugins.d>/go.d.plugin` (in my case it is `/opt/netdata/usr/libexec/netdata/plugins.d/`)
 - `start netdata.service`

[2019-05-29 09:08] astorath commented on #6157
@ilyam8

The metrics are back, but with different names:
- `master`:
[code]

- `1.14`:
[code]

[2019-05-29 09:11] astorath commented on #6157
And #6152 is now ok btw

[2019-05-29 09:20] ilyam8 commented on #6157
yes, i changed them to be synced with python version (which will be obosleted after some time)

[2019-05-29 09:31] astorath commented on #6157
@ilyam8 On a side note:
I don't know if it's ok to break backward compatibility with label names for these metrics, but some other metrics' `chart` label has the following format:

[code]

For instance:
[code]

Maybe it should be one of these (in this case):
[code]

[2019-05-29 09:45] ilyam8 commented on #6157
for python and go.d modules format is <plugin name_job name>[.differentiator]

[2019-05-29 10:03] ilyam8 commented on #6157
@astorath reverted metric name changes
https://github.com/netdata/go.d.plugin/commit/ce0697ab961e0500c1ed5398b7a1e5768b7f192c

[2019-05-29 10:06] cakrit commented on #3641
It will be much easier for you, if you just put your code in a [custom notification sender](https://docs.netdata.cloud/health/notifications/custom/).

[2019-05-29 10:18] gpapamathND opened #6159 "Scope of 1.16-rc1"
After this sprint our users will be able to |   | Who
-- | -- | --
Disable alerts in a simpler way |   | Chris
See a higher percentage on the CII best practices badge | x  | Chris
Center the charts on all alarms not only the active ones by clicking the link on the alarm notification |   | Chris
Monitor VMWare machines and ESXI hosts |   | Ilya
See more detailed CPU performance metrics |   | Vladim

[2019-05-29 10:22] ilyam8 commented on #6157
@astorath is it ok now? i am thinking of releasing 0.6.1 with those fixes

[2019-05-29 11:05] astorath commented on #6157
`netdata_httpcheck_check_status` is gone (moved to `netdata_httpcheck_status{dimension="success"}` I guess), I assume this was intentional?

Other than that - it works the same as before.

[2019-05-29 11:11] ilyam8 commented on #6157
yes, context is used in alarms ([link](https://github.com/netdata/netdata/blob/master/health/health.d/httpcheck.conf#L16)) and context is the metric name.

[2019-05-29 12:30] vlvkobal commented on #5619
@valyala please test #6062 if it works well with VictoriaMetrics.

[2019-05-29 12:52] Avik1993 commented on #3641
Sure. Thanks @cakrit  Will try it out!

[2019-05-29 12:59] gregfr opened #6161 "[solved] ZFS database (was: netdata FATAL : MAIN :uv_fs_fsopen: invalid argument # : Invalid argument)"
Greetings
I've installed NetData and it's working fine. Now I try to enable the database like written in https://docs.netdata.cloud/database/engine/ :
[code]

Restarting NetData fails with the following error:
[code]

The file is however created:
[code]

What did I do wrong?

Thanks in advance

##### Bug report summary

##### OS / Environment
[code]

##### Netdata version (ouput of `netdata -V`)

[2019-05-29 12:59] paulkatsoulakis commented on #6153
linking with previous report #6092

Hi @RobDean69, thanks for coming back with this report.  Allow me to mention that you should have re-opened issue #6092 when you commented, so that we don't miss it. My apologies at any case for now getting back with comments earlier.

I 'll check the issue and let you know.

[2019-05-29 13:19] paulkatsoulakis commented on #6153
@RobDean69 could you provide me with the output of `/etc/os-release` too?
Thanks !

[2019-05-29 13:24] mfundul commented on #6161
Apparently ZFS on linux does not support [direct I/O](https://github.com/zfsonlinux/zfs/issues/224).

`dbengine` has been tested with the default filesystems of FreeBSD, OS X and various linux distributions and supports those mechanisms for direct I/O.

However, OpenSolaris is not supported and the linux port of ZFS is far from complete.

[2019-05-29 13:35] cakrit opened #6162 "Test Automation: Fuzz targets for OSS-fuzz (dynamic analysis tool)"
##### Feature idea summary
Spawned by #4256
Netdata was accepted in https://github.com/google/oss-fuzz 3 years ago, but we haven't created any fuzz targets.

##### Expected behavior

t is SUGGESTED that at least one dynamic analysis tool be applied to any proposed major production release of the software before its release. dynamic_analysis A dynamic analysis tool examines the software by executin

[2019-05-29 13:56] paulkatsoulakis commented on #6153
[code]
I could not get a reproduce on a containerised environment with the above version.
I might have to try a bare metal install, so i need your os-release to make sure i use the right image

[2019-05-29 14:31] RobDean69 commented on #6153
@paulkatsoulakis

Running `cat /etc/os-release` gives

`
NAME="openSUSE Leap"
VERSION="15.0"
ID="opensuse-leap"
ID_LIKE="suse opensuse"
VERSION_ID="15.0"
PRETTY_NAME="openSUSE Leap 15.0"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:opensuse:leap:15.0"
BUG_REPORT_URL="https://bugs.opensuse.org"
HOME_URL="https://www.opensuse.org/"
'

`uname -a` gives
`Linux linux-087A 4.12.14-lp150.12.61-default #1 SMP Tue M

[2019-05-29 14:35] gregfr commented on #6161
Thanks for your answer.
What alternatives do I have? All my hosts are on ZFS... would it be possible to use a regular file?

[2019-05-29 14:44] lostradamu commented on #6150
Hi @cakrit thank you for the assistance. I ran the command once again with the parameters suggested.

Here is the result:

[code]

[2019-05-29 14:55] Ferroin commented on #6161
@gregfr It's not a case of the file not being 'regular', it's how it's accessed.  Direct I/O just means that the kernel's normal filesystem caching is bypassed, which is actually kind of important here for performance reasons (that is, it's important for the performance of the rest of the system that we don't trash the VFS cache).  Ideally, we would be falling back gracefully, but I don't think li

[2019-05-29 14:59] mfundul commented on #6161
We could add some code to fall-back on buffered I/O instead of direct. What do you think @cakrit?

[2019-05-29 15:02] vlvkobal commented on #6108
@UltimateByte please check #6164. The issue should be fixed.

[2019-05-29 15:04] warrenkerrigan opened #6165 "MacOS Path Issues"
##### Bug report summary
I am having some issues with netdata paths and system integrity protection on MacOS High Sierra. The application itself is running, however if I attempt to run anything like edit-config, it fails due to incorrect paths.

##### OS / Environment
MacOS High Sierra (10.13.6)
Installed via Homebrew

##### Netdata version (ouput of `netdata -V`)
netdata v1.15.0

**Taken from htt

[2019-05-29 15:16] Ferroin commented on #6161
If such fallback code is added, I think it should probably include logging a warning that it's being used.  Probably something along the lines of:

    WARNING: <path> does not support direct I/O, falling back to buffered I/O.

[2019-05-29 15:47] cakrit opened #6167 "RFC: Test automation tools"
From #4256: We need a test framework either integrated with Travis CI, or not. We already have a few tests that are not automatically executed and we will certainly be spending a lot more time on adding automated regression tests. This issue is to investigate the available solutions.

Based on current research:
- We will continue to use Travis CI
- We will use [bats-core](https://github.com/bats-c

[2019-05-29 16:29] valyala commented on #5619
@vlvkobal , thanks for [the PR](#6062)! I'll test it and return with results in the near future.

[2019-05-29 16:57] gregfr commented on #6161
@Ferroin Thanks for the tip. I created a 20G zvol, mounted it in `/mnt/netdata`, and created a symlink for `/var/lib/netdata` and `/var/cache/netdata` and it's working!
So now I don't need Prometheus or Grafana ;)
Thanks!

[2019-05-29 19:06] ilyam8 commented on #6149
Hi @vpapas. I beleive the bug is fixed in #6168, could you test it?

[2019-05-29 19:26] ilyam8 opened #6169 "varnish: collect more metrics"
##### Feature idea summary

varnish [module](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/varnish) is outdated

New metrics were added in v6.0([link](https://varnish-cache.org/docs/6.2/whats-new/changes-6.2.html#varnishstat-1-and-varnish-counters-7)) (some people still use v4)

Besides that

returns a lot of metrics and we are collecting only few of them :cry:

<detail

[2019-05-29 20:21] Joshua-Stringfellow opened #6170 "Why is auto-update not working? V1.14.0"
##### Question summary

Why is netdata not automatically updating? We are using version v1.14.0, which appears to have been released since auto update was enabled by default, but it does not seem to be updating. We installed netdata using ``` bash <(curl -Ss https://my-netdata.io/kickstart.sh) ```. The cron job was created during the install, however, we are still on version v1.14.0.

##### OS / E

[2019-05-29 21:26] manojdhanda opened #6171 "Qemu-KVM stats not correct help wanted"
Hi,

We just installed netdata and found it's a great tool to monitor infra, We using kvm for host vms.

We able to track correct matrix for network and disks but CPU and RAM usages not seams correct.

<img width="997" alt="Screenshot 2019-05-30 at 2 52 02 AM" src="https://user-images.githubusercontent.com/4649986/58592632-80d23880-8286-11e9-8e4e-edaa87808f88.png">

[2019-05-30 07:16] matrey commented on #4871
FYI here are a few incidents "worthy of alerting" that I got in the past on AWS, and that can't be easily figured out from within the instance.
They can be detected through the free CloudWatch metrics listed in the AWS console under the "Monitoring" tab.

- dead instance
  - EC2 / "Status Check Failed (Any) ( Count )"
- very high latency between the instance and disk (> 100 ms)
  - EBS / "Average

[2019-05-30 08:01] vlvkobal commented on #6171
CPU usage is correct in your case: 1% of total CPU usage = 72% of single core CPU usage. The problem I see is the precision of the chart, which can't be less than 1.0%.
Please check #6172. It should slightly increase the precision of the cpu_limit chart.

What is the problem with RAM usage metrics?

[2019-05-30 09:09] #6010 closed

[2019-05-30 10:53] #6140 closed

[2019-05-30 11:07] gmosx commented on #6154
Hey Henry, I cannot reproduce this issue. I am not really sure I understand how exactly you did it. Could you add some more info, e.g. a screenshot of the Developer Console?

[2019-05-30 11:52] manojdhanda commented on #6171
Thank you for the response, I have updated same but no luck.

Not able to see how much ram in usage and CPU core showing of hypervisor machine, not the particular VM.

Please have a look live test screen and you can see the difference of stats here.

<img width="989" alt="Screenshot 2019-05-30 at 5 20 22 PM" src="https://user-images.githubusercontent.com/4649986/58631232-85870300-82ff-11e9-83eb-37

[2019-05-30 11:56] cakrit commented on #6150
Nope, this is definitely not the correct output of that command above. See these lines:
[code]
It means the script didn't even get the alarm status correctly passed on the command line. Can you check again and ensure you copy/paste the exact command?

When you rerun it, send me the entire output as an attachment to chris@netdata.cloud, I really want to understand what's happening here. I use slack

[2019-05-30 12:03] cakrit commented on #6170
Can you run the auto-updater manually and tell us what is says? Also, put here the contents of your `/etc/netdata/.environment` file, so we can check that too.

[2019-05-30 12:22] kralewitz commented on #5744
Update: we now have another server with NVMe disks, slightly different model though, and newer kernel. On the new machine, `/proc/diskstats` shows only the raw device names without the embedded controller ID, with the correct device numbers and stats, so netdata collects the metrics correctly there.

I will try to schedule a kernel upgrade on one of the original machines and let you know if the pr

[2019-05-30 12:27] #6105 closed

[2019-05-30 12:38] Ferroin commented on #6171
@manojdhanda Do I understand correctly that you're expecting Netdata to show the same CPU and RAM usage that tools run from _inside_ the VM in question do?  Because if so, that's not possible without running Netdata in the VM itself.

What's actually being shown here by Netdata is the VM activity that the host system sees, namely how much CPU time QEMU/KVM consumes, and how much memory QEMU is usi

[2019-05-30 14:57] lostradamu commented on #6150
I had not typed the entire command properly. I ran it again and send the entire output as a .txt file to your email address. Thanks!

[2019-05-30 15:02] manojdhanda commented on #6171
Noted and Thanks for the suggestion :)

Is there any way to monitor VM usages for CPU and RAM in percentage if we unable to get exact usages inside the VM?

Are you able to suggest any tool for that?

[2019-05-30 15:04] Joshua-Stringfellow commented on #6170
Contents of /et/netdata/.environment:
[code]
Result from running updater manually:
[code]

Result of ``` netdata -version ``` : ```netdata v1.14.0-rc0-29-nightly ```

[2019-05-30 15:24] Ferroin commented on #6171
@manojdhanda There are two options for getting this kind of data from a VM:

* Run Netdata inside the VM itself.  If you set up the Netdata instance in the VM to stream all it's metrics to an instance of Netdata running on the host and disable saving anything locally in the VM, this is actually pretty efficient and not hard to set up, and it will give you all the data for the VM's in one place (th

[2019-05-30 15:46] henrywhitaker3 commented on #6154
Here you go
![Screenshot from 2019-05-30 16-40-58](https://user-images.githubusercontent.com/36062479/58644823-99c40380-82f1-11e9-9f99-e73db75d0c25.png)
The loading failed for googletagmanager only happens intermittently.

I've just tried deleting the local storage entry for `options.destroy_on_hide` but it doesn't change anything, just comes back as undefined on refresh. Weirdly, this issue only

[2019-05-30 17:35] irvintim commented on #6001
@ilyam8 I am caught up following my outage, and would like to start testing this collector.  Looking over what I think you are doing, I need to install the wmi_exporter on my Windows test server, and then on a linux box running netdata use your collector go plugin to receive the data from the windows box.  Does the collector assign this data to a specific host representing the windows box, or is i

[2019-05-30 17:41] Avik1993 commented on #3641
@cakrit apart from adding logic to `custom_sender()` function, does anything needs to be configured?
I did add my logic (Filtering based on `$chart`, `$family`) and did log some messages using `info` as well but didnt see any of those messages in any log file for netdata.
Where exactly does those logs are written?

[2019-05-30 17:54] ilyam8 commented on #3641
@Avik1993 i think it will be easier to help you if you share the code

[2019-05-30 17:59] Avik1993 commented on #3641
@ilyam8 Thanks for responding.
Here is sample code:

[code]

[2019-05-30 18:05] ilyam8 commented on #6001
@irvintim here you go

**windows server**:
 - download latest `wmi_exporter` ([link](https://github.com/martinlindhe/wmi_exporter/releases/download/v0.7.999-preview.2/wmi_exporter-0.7.999-preview.2-386.exe))
 - run `wmi_exporter` on the Winows server

 - ensure that `/metrics` endpoint is reachable and reports metrics, check in the browser `http://<server ip address>:9182/metrics`

**linux server*

[2019-05-30 18:11] ilyam8 commented on #3641
just a quick comment about `sudo` there. Have you added netdata to the `sudo` group?
And you need `-n` flag for sudo.

[2019-05-30 18:22] Avik1993 commented on #3641
Yes, @ilyam8 I have netdata as a sudoer user.
Also, I didn't note about `-n` flag. That would surely be helpful.

And I figured out the issue. Actually the custom_sender() function in file `/opt/netdata/usr/lib/netdata/conf.d/health_alarm_notify.conf` needs to be modified but in documentation its mentioned to modify code in `/opt/netdata//usr/libexec/netdata/plugins.d/alarm-notify.sh`.
Could this

[2019-05-30 18:27] ilyam8 commented on #3641
So you are saying you get it working?

[2019-05-30 18:36] Avik1993 commented on #3641
Yes. After making the changes to `/opt/netdata/usr/lib/netdata/conf.d/health_alarm_notify.conf`, i got it working. Haven't tested the sudo functionality yet. But custom functionality is kicking in!

[2019-05-30 18:48] ilyam8 commented on #3641
this one will be rewritten after next upgrage

You need to copy stock config to the /etc/netdata and modify it there
https://github.com/netdata/netdata/tree/master/health/notifications#configuration

Where?

https://github.com/netdata/netdata/tree/master/health/notifications/custom

it is suggested to look in, not modify, anyway the path is wrong, you are right.

[2019-05-30 19:05] jakubgs opened #6175 "A failure to restore API access after Netdata restart due to memory leak"
### Summary

My `netdata` process stopped responding to API requests after being restarted due to a spike in memory usage.
Despite being unavailable it appeared to `systemd` as running.

### Versions

* `v1.12.2` - Netdata version
* `Ubuntu 18.04.2 LTS` - OS

### Steps To Reproduce

1. Run `netdata`
2. Try using up all the memory
3. See the API stop responding

I tried reproducing this using [`str

[2019-05-30 19:20] JohnMaguire commented on #2400
I think it would be nice to have a monitor that indicates the state of each Docker container:

- Started
- Stopped
- Failed

You could then setup alarms if there are failed containers.

[2019-05-30 19:51] ilyam8 commented on #2400
Not sure what is `failed`.

That is what docker_engine [exposes](https://docs.docker.com/config/thirdparty/prometheus/):

[code]

More detailed info can be retrieved via [docker remote api ](https://docs.docker.com/engine/api/v1.39)

In [the documentation](https://docs.docker.com/engine/api/v1.39/#operation/ContainerInspect) i see:
 - "created"
 - "running"
 - "paused"
 - "restarting"
 - "removing

[2019-05-30 20:20] gamefundas opened #6176 "State Node view - Group nodes by Tags in Master"
I was going through Netdata cloud feature and my understanding is that it provides a personalized view of application cluster/nodes and information is sort of categorized according to the user's preferences. As an enterprise feature this kind of makes a whole lot of sense. I also like the way the nodes are grouped along with corresponding alerts in those boxes.

However it also makes me think if t

[2019-05-30 20:41] csch42 opened #6177 "Chart's "name" not streamed"
##### Bug report summary

A chart's "name" (if set in netdata.conf) is not passed up to the stream collector if streaming is enabled.

##### OS / Environment

Linux / various (Ubuntu 18.04 on x86_64 as well as Debian Stretch on mips)

##### Netdata version (ouput of `netdata -V`)

netdata v1.15.0-31-gecc5fd4

##### Component Name

Streaming

##### Steps To Reproduce

Configure "streaming" to a net

[2019-05-30 21:21] csch42 commented on #6177
Meanwhile I found this code-snippet in `streaming/rrdpush.c`

[code]
 this means a name _must_ contain a period ('.') character or it isn't streamed. And if it does, only the part _after_ the period is streamed.

I wonder what the logic behind this might be? 🤔 It apparently makes the chart behave ("appear") differently on the streaming client than on the server/collector.

[2019-05-30 21:58] csch42 commented on #6177
According to the logic _discovered_ on my previous comment I was able to convince the client to stream the name, by specifying

[code]

in `netdata.conf`. Verified by sniffing the stream with _Wireshark_ again, yielding

[code]
inside the stream.

Yet, still "foobar" is nowhere to be found when querying the collector, so there is something wrong at the receiving end as well ... 🤷🏼‍♂️

Continuing t

[2019-05-30 22:16] irvintim commented on #6001
@ilyam8:

I followed your instructions but am not seeing the `wmi job_name` section in the dashboard.

The error_log has the following error:
`2019-05-31 04:31:10: go.d ERROR: main[main] skipping 'wmi': yaml: unmarshal errors:
  line 131: cannot unmarshal !!seq into orchestrator.moduleConfig
`

Here is the config that I am using:

[code]

When I go to the URL listed above I get the following -- th

[2019-05-30 22:25] ilyam8 commented on #6001
@irvintim
[code]

[2019-05-30 23:12] irvintim commented on #6001
That did the trick.

1.  I am getting data now in Netdata for that server.  All except CPU data, back on the server itself the wmi_exporter is outputting errors about CPU details:

[code]
I'll have to dig into that to see what's up there.

2.  Semantically, personally I would rather have this data treated like it's another netdata server, and have this windows server appear as one of the hosts in

[2019-05-30 23:46] irvintim commented on #6001
I tried wmi_exporter 32 and 64 bit (it's a 64-bit machine), but got the same error.  I have opened an issue on the wmi_exporter github project.

[2019-05-31 06:21] ilyam8 commented on #6001
`wmi_exporter` is technically just a remote source of metrics (same as apache, nginx, etc..) so just an another sectrion on the dashboard, that is how it is now.

We could add windows icon https://fontawesome.com/v4.7.0/icon/windows (instead of puzzle-piece) , it would look better imo

[2019-05-31 08:57] cakrit commented on #6165
The only thing we have now, is passing to the installer `--install /usr/local/Cellar/netdata/` (I'm not sure why you put the version in the path, it can only cause problems). With this option, everything will go under that path. Better comment out the rest of the paths you manually changed in `netdata.conf`.

Having said that, I also don't like the fact that these paths are hard-coded in the scrip

[2019-05-31 08:58] gpapamathND commented on #6167
Regarding the below:
- We MAY use additional tools for netdata's API testing (e.g. [integrate with postman](https://blog.getpostman.com/2017/08/23/integrate-api-tests-with-postman-newman-and-travis-ci/)), if bats-core starts causing issues.
- We will use [k6](https://k6.io/) for load testing

We could use:
1. [blazemeter](https://www.blazemeter.com) -> It combines simplicity of `postman` with load

[2019-05-31 09:36] warrenkerrigan commented on #6165
Hi @cakrit

Thank you for the response. Just to be clear, I had no intention of setting any paths.

This was a clean install by running the command `brew install netdata`

The paths were set by the installer, not manually added by me.

I am happy to remove all references to netdata and start again, but this is the same on two servers I run the brew installer on.

This is what my netdata.conf looks

[2019-05-31 09:44] cakrit commented on #6150
Got the file, thanks. It's amazing, I've never seen [right double quotation mark](https://graphemica.com/%E2%80%9D) used before!

[code]

Make them proper double quotes or single quotes and it will work.

I'll look into the date `usage` error as well, though it's not your problem

[2019-05-31 09:50] cakrit commented on #6150
The call to send_pushbullet used it's own `date -d` command which is not cross-platform. This will be fixed in a separate issue, to keep this thread clean.

[2019-05-31 09:50] cakrit opened #6178 "Fix date in pushbullet alarm notifications"
The call to send_pushbullet used it's own `date -d` command which is not cross-platform. This will be fixed in a separate issue, to keep this thread clean.

_Originally posted by @cakrit in https://github.com/netdata/netdata/issues/6150#issuecomment-497650238_

[2019-05-31 09:57] cakrit commented on #6170
Thanks @Joshua-Stringfellow . Please update `/etc/netdata/.environment` and put anything non-empty in `NETDATA_TARBALL_CHECKSUM`. e.g. `=xyz`

@paulkatsoulakis please fix `https://github.com/netdata/netdata/blob/master/packaging/installer/netdata-updater.sh#L98` to handle an empty `NETDATA_TARBALL_CHECKSUM` as well. (i.e. ensure we update when it's empty).

[2019-05-31 10:15] vlvkobal commented on #6101
Available instruments for collecting performance monitoring counters:
[perf_event_open()](https://manned.org/perf_event_open.2) system call
[libperf](https://github.com/theonewolf/libperf)
[libpfm4](http://perfmon2.sourceforge.net/)
[PAPI](http://icl.cs.utk.edu/papi/)
[Processor Counter Monitor (PCM)](https://github.com/opcm/pcm)

To access hardware performance counters via the perf_event mechanis

[2019-05-31 10:15] cakrit commented on #6154
2 different .js files from two different locations is definitely a client issue. Can you check the "Network" view and see what you get? I would expect a network issue, perhaps a timeout?

[2019-05-31 10:56] #6149 closed

[2019-05-31 11:09] cakrit commented on #6175
systemd did well to kill netdata. See [OOM Score](https://docs.netdata.cloud/daemon/#oom-score) if you want it to remain running when running out of memory, you'll need to decrease it.
I'm not sure what happens with a high OOM Score when netdata starts again and the system is still under memory pressure. Perhaps systemd sends netdata the `pause` signal?  Someone else may be able to explain it bett

[2019-05-31 11:27] cakrit commented on #6176
The request depends on the implementation of https://github.com/netdata/netdata/issues/4986
So we do have tags/labels on our roadmap and the standalone netdata agent will also utilize them, but we were only considering their use for the metrics it collects. What you're saying does make sense for a master/slave configuration though and it would definitely be a perfect fit for our kubernetes master.

[2019-05-31 11:58] cakrit commented on #6176
@ilyam8 said something very nice. For host tags, we don't need to wait for tags/labels in metrics. So we can definitely look at it independently, without even involving the DB at first.

[2019-05-31 13:52] cakrit commented on #6177
Ok, I got it. Since the chart id doesn't change, the master doesn't bother to update the name. This is definitely a bug, but the workaround is easy, you just restart the master.
As for the reason for sending only the second part, it came from https://github.com/netdata/netdata/pull/4508. We have a problem with our chart names, because of the special characters that jQuery doesn't like. So all the

[2019-05-31 13:54] cakrit commented on #6177
As for the "bug" part, I think that if anything in the chart info changes (i.e. the collector starts sending something different), plugins.d should be updating the `st` structure. Can you take a look at this part @vlkobal?

[2019-05-31 15:01] cakrit commented on #6167
It's cloud-based though and I don't like the limitations  see [here](https://www.blazemeter.com/pricing) for their pricing. If we want a UI (which is not necessarily true), we can use the cloud-based add-on to k6 ([pricing](https://loadimpact.com/pricing/)). The good thing about k6 is you can choose which tests you will use the cloud for (i.e. you are allowed to run them locally and push only what

[2019-05-31 15:08] #6170 closed

[2019-05-31 15:10] cakrit commented on #6165
No, wait. WE provide the instructions to use brew install, so we need to get this sorted out. Assigning to @paulkatsoulakis to take a look.

[2019-05-31 15:18] #6178 closed

[2019-05-31 15:35] trebonius0 opened #6183 "Monitoring CPU usage of multiple Redis instances"
Hey guys

I'm setting up multiple Redis instances on my server, to take advantage of the multiple cores, as I'm using 80% of one core atm.
I followed the response given in this question: https://github.com/netdata/netdata/issues/1946 and I was able to successfully see multiple redis graphs :
![image](https://user-images.githubusercontent.com/14201457/58716608-b469ab80-83c9-11e9-845c-500d5cf18615.p

[2019-05-31 17:39] csch42 commented on #6177
So I now set the name to `net.foobar` on the client side (although I could've set it to `anything.foorbar` as well ...) and restarted streaming client & server. And now I have "net.foobar" as an alternative chart name I can use on either. I can live with that for now :-)

It should be documented, though, that `xxx.yyy` must be specified on the client ('.' inside) and it shows up as `type.yyy` on t

[2019-05-31 17:40] csch42 commented on #6177
PS: unfamiliar with this, hence asking: Should I close the "issue" with some sort of a "workaround found" state or how do I handle this?

[2019-05-31 18:01] irvintim commented on #6001
@ilyam8 some follow up from our testing:

1. The CPU issue I mentioned earlier is a limitation in wmi_exporter, the project maintainers have identified the issue and are implementing a fix.  (The gist is that older versions of windows don't have all the metrics and the current code would bomb out if a metric didn't exist -- they are updating their code to ignore metrics that don't exist).
2. I put

[2019-05-31 18:44] ilyam8 commented on #6177
That is the `name` param description: https://docs.netdata.cloud/collectors/plugins.d/#chart

To be honest i don't understand the reason behind this

https://github.com/netdata/netdata/blob/cc2b9d2b4c1b3fbac91ac64b2f0e81c7850e344c/streaming/rrdpush.c#L176-L180

it looks like a bug to me, but it is very likely i am missing something because comment is

https://github.com/netdata/netdata/blob/cc2b9d

[2019-05-31 18:58] jakubgs commented on #6175
Thanks for the suggestion about the OOM Score, I've adjusted that. We'll see what happens.

And thanks for reminding me about a new version!

[2019-05-31 19:00] ilyam8 commented on #6001
:+1:

have you tried to increase http timeout option and lower collection frequency?

[code]

i understand your point, it was a quick implementation, just to have something.

No way they will do it, and i agree with it, they are doing prometheus exporter and it is not responsible for pushing metrics in netdata format.

[2019-05-31 19:07] ilyam8 commented on #6001
I guess this could be done on the cloud side @cakrit

[2019-05-31 19:45] irvintim commented on #6001
I had already set the timeout to 5, as wmi_exporter was responding in > 1 second each time and so I was getting no data initially.

I just set the update_every value to 5, I'll let you know if that changes anything.

Someone responded to my issue on the wmi_exporter site and suggested we try: https://github.com/leoluk/perflib_exporter  .  From the README on perflib_exporter:

[2019-05-31 20:09] irvintim commented on #6001
The `update_every` setting of 5 has resolved the timeout issues with wmi_exporter.  The netdata graphs are no longer showing missing datapoints.  However, the netdata `error.log` file is getting a ton of these:
[code]

[2019-05-31 20:14] ilyam8 commented on #6001
it is ok, not an error actually

[2019-05-31 20:34] gamefundas commented on #6176
@cakrit makes sense. It will be something to look forward to.

About the on-premise/cloud version I am not quite sure how the security on that will be. In our environment the lowest we can operate is using LDAP, if any external authentications come along then it gets trickier.

If I misunderstood this and its merely about hosting a module in an accessible location internally/running along with Net

[2019-05-31 20:39] gamefundas commented on #5062
The idea here was to do packet capture, using pcap or some unix libraries that sniff network traffic and then build relationship of all interactions between nodes where Netdata is running. The agent provides the ability to tap in to the network traffic information. Also standard port activity to external hosts outside of Netdata reach can be assumed to be "external" systems. 1521 activity is Oracl

[2019-05-31 20:59] bephinix commented on #5577
@cakrit As I see, you fixed the GTM leaks. Nevertheless, my browser still calls `https://www.googletagmanager.com/gtm.js?id=GTM-XXXXXX` on each page load of my netdata dashboard. I have touched `/opt/netdata/etc/netdata/.opt-out-from-anonymous-statistics` which is `0644` and I am currently running **netdata v1.15.0-35-g2f72bfaf** as a static binary.

[2019-05-31 23:11] eXcalibre opened #6184 "Centos7 netdata only showing ssh bans and not other 13 filters."
##### Bug report summary
when using netdata to monitor the blocks and bans on my system, it only shows sshd bans. i have 14 jails active and l/ogging in the log file. so only 1 of the 14 jails actually displays on the netdata fail2ban section. i understand that netdata only displays bans since it was started and i have attempted to restart the netdata daemons as well as restarting the fail2ban ser

[2019-06-01 06:26] paulkatsoulakis opened #6185 "netdata/packaging: Sporadic job failures in Travis CI"
##### Bug report summary
We seem to be facing some sporadic failures in Travis CI during package installation.
Suspecting the issue related to polyverse, but not 100% certain.
I am opening this for investigation with the support from the polyverse team

[code]
##### OS / Environment
Any, CI related

##### Netdata version (ouput of `netdata -V`)
Not relevant to netdata version

##### Component Name

[2019-06-01 06:29] paulkatsoulakis commented on #6185
Hello @archisgore, I 'll need your support on this. I am not sure i can find any further details about this issue from our side.

[2019-06-01 07:51] ilyam8 commented on #6184
Hi @eXcalibre
Could you run `faileban` module in [debug mode](https://docs.netdata.cloud/collectors/python.d.plugin/#how-to-debug-a-python-module)?

[2019-06-01 08:07] ilyam8 commented on #6184
https://github.com/netdata/netdata/blob/6d2ea32bd7349603a049f81554ac2b41441e4b21/collectors/python.d.plugin/fail2ban/fail2ban.chart.py#L206

^^ so if the jail auto detection failes to find any jails in the files module fall backs to only on jail - ssh.

It might be the case.

[2019-06-01 11:44] Steve8291 opened #6186 "Error messages on old database files"
##### Bug report summary
Would it be OK to silence the ERROR level messages about clearing old files from the database?

It seems that they are already set to level INFO in netdata/database/rrddim.c
Line: 235
`info("File %s is too old (last collected %llu seconds ago, but the database is %ld seconds). Clearing it.", fullfilename, dt_usec(&now, &rd->last_collected_time) / USEC_PER_SEC, rd->entries

[2019-06-01 11:52] eXcalibre commented on #6184
I am a noob to this, so will try and see if i can do what you have asked. :) thanks for the advice ilyam.

[2019-06-01 12:05] eXcalibre commented on #6184
Thanks ilyam. you seem to have hit the problem there, it is using the DEFAULT_JAILS section, i made a change to the DEFAULT_JAILS and added in another jail and now the two jails show on the netdata dashboard.
Any idea how i can find out why its not finding/using my jail.local or jail.conf? (they are duplicated to make sure one is found).
in the meantime, i will look into the debug option you poste

[2019-06-01 12:42] eXcalibre commented on #6184
Ok so in debug mode, it all seems to be getting seen ok and all jails are visible.

On the dashboard only DEFAULT jails are displayed.?
Does this help in any way??

OUTPUT OF DEBUG

/usr/libexec/netdata/plugins.d/python.d.plugin fail2ban debug trace
2019-06-01 13:39:02: python.d INFO: plugin[main] : using python v2
2019-06-01 13:39:02: python.d INFO: plugin[main] : starting setup
2019-06-01 13:39:

[2019-06-01 18:42] archisgore commented on #6185
Looking into this now. Please feel free to tag us anytime there's issues even if you don't suspect it is us, and we'll engage support and help. I'll post back soon....

[2019-06-01 19:47] ilyam8 commented on #6184
Hey @eXcalibre

Did you execute plugin as `netdata` user? if you did it as `root` the problem is very likely is permissions - netdata is not able to read those dirs/files.

[2019-06-01 19:48] ilyam8 commented on #6184
btw what is `DEFAULT` ? :smile:

[2019-06-01 19:50] ilyam8 commented on #6186
i think yes, looks like not an error level to me

@mfundul please

[2019-06-01 19:54] ilyam8 commented on #6184
The order is

https://github.com/netdata/netdata/blob/6d2ea32bd7349603a049f81554ac2b41441e4b21/collectors/python.d.plugin/fail2ban/fail2ban.chart.py#L176-L181

See  `man jail.conf` for details

[2019-06-02 06:17] 161134050 opened #6188 "tv.html errors on https"
##### Bug report summary
/tv.html fails to load the three left charts when accessed via https
![image](https://user-images.githubusercontent.com/39843740/58757522-40054880-8540-11e9-84bc-ce48f6beb878.png)

##### OS / Environment
Ubuntu 18.04
##### Netdata version (ouput of `netdata -V`)
netdata v1.15.0-42-nightly
##### Component Name
tv
##### Steps To Reproduce
Enable https on nginx, I just have i

[2019-06-02 08:50] paulkatsoulakis commented on #5967
The mechanism for containerising the build process is ready and under testing since last week.
What we did is take advantage of Travis CI and automate the process of:
1) Create an LXC container, for the distribution we wish to build RPMs on
2) Setup all required packages on that distribution
3) Run build process and generate the RPM
4) Publish the resulting RPM to packagecloud.io

Currently distri

[2019-06-02 08:58] paulkatsoulakis commented on #5968
The mechanism for containerising the build process is ready and under testing since last week.
What we did is take advantage of Travis CI and automate the process of:
1) Create an LXC container, for the distribution we wish to build RPMs on
2) Setup all required packages on that distribution
3) Run build process and generate contents for DEB package
4) Publish the resulting DEB package to packagec

[2019-06-02 09:02] paulkatsoulakis commented on #5979
Hello @Ferroin,
  Sorry for the late feedback. Let's have a short discussion over slack about the things need to be done here. I 'll have to onboard and automate the process on our CI infrastructure and any content required will probably be hosted within the netdata repository, but i 'll need to further understand a few things before going forward (We might need a separate private repo perhaps?)

[2019-06-02 09:21] eXcalibre commented on #6184
Hi ilyam.
I did, but i have just run it again as netdata user and the output is the same. I have also set the permissions to 755 to make sure its readable.
I have just reloaded netdata and fail2ban and both are now displaying as expected, so it was a permission issue.
sorry for reporting it, thanks for sorting it, ;)

[2019-06-02 09:21] #6184 closed

[2019-06-02 10:49] mykaul commented on #4824
How is this one different than https://github.com/netdata/netdata/issues/4827 ?

[2019-06-02 11:20] ilyam8 commented on #4827
dup of #4824

[2019-06-02 13:19] thiagoftsm commented on #6188
We have seen this while we were developing, in normal situation this happens due cache that the browsers keep, please, try to use the key combination "CTRL+SHIFT+R" to reolad the page completely.

[2019-06-02 14:12] Steve8291 opened #6190 "charts.d kills process twice"
##### Bug report summary
The following show up in the error.log every time netdata is stopped:
`systemctl stop netdata`
or
`systemctl restart netdata`
or
`reboot`

2019-06-01 07:48:55: netdata ERROR : PLUGINSD[charts.d] : '/usr/libexec/netdata/plugins.d/charts.d.plugin' (pid 27374) disconnected after 50 successful data collections (ENDs).
2019-06-01 07:48:56: netdata INFO  : PLUGINSD : stopping pl

[2019-06-02 14:16] 161134050 commented on #6188
Nope, doesn't work :S I've removed cache, still happens

I also tried on firefox, same thing

[2019-06-02 14:25] 161134050 commented on #6188
Yeah, it's still using http endpoints after clicking "load unsafe scripts'

example url
http://registry.my-netdata.io/api/v1/chart?chart=system.cpu&_=1559485426115

[2019-06-02 15:13] thiagoftsm commented on #6188
I remembered a specific problem that we had with Nginx, I do not know if this can be your problem, so I will describe here to try to help you. In our case, we tried to use nginx to only redirect for our HTTPS Netdata with the initial configuration that we had, and the Nginx got failures, after some tests we discovered that the simple redirect was not enough, so we appended the following lines on o

[2019-06-02 16:08] 161134050 commented on #6188
I've added that config to my nginx and everything seems to be working fine now, thanks

[2019-06-02 16:21] thiagoftsm commented on #6188
You are welcome!

[2019-06-02 19:11] gmosx commented on #5062
Interesting idea. I think this was already suggested by @ktsaou at some point (or at least is on his mind...)

[2019-06-02 19:20] faxx1080 opened #6191 "kickstart.sh: Getting Nightly SHA256 sums from storage.googleapis.com times out"
##### Bug report summary
Cannot download sha256sums.txt and netdata-latest.tar.gz from  https://storage.googleapis.com/netdata-nightlies. Similar to Issue #5768

##### OS / Environment
Ubuntu 19.04, VMWare, 1GB RAM, 20 GB on /

##### Netdata version (ouput of `netdata -V`)
Cannot install Netdata (nightly) with automatic script.

##### Component Name
kickstart.sh

##### Steps To Reproduce
run ./kic

[2019-06-02 21:59] paulkatsoulakis commented on #6191
Hi @faxx1080 ,
  Thank you for your report! I don't see a script error, could you pinpoint which error you believe indicates problem with netdata installers? If i am not mistaken, this may be related to Google's issue: https://www.google.com/appsstatus

I am monitoring closely, let me know in the meantime if simply retrying solves your problem.

[2019-06-03 01:37] Steve8291 opened #6193 "Update frequency for x509check alarm"
##### Bug report summary
Should the update frequency for the new template: x509check_last_collected_secs
in health/health.d/x509check.conf
be changed from 10 to 60s ?
It is getting set to 60 when go.d starts:

Relevant line is number 8 in
health/health.d/x509check.conf

##### OS / Environment

##### Netdata version (ouput of `netdata -V`)

##### Component Name
health/health.d/x509check.conf

#####

[2019-06-03 05:10] 161134050 commented on #6188
Just kidding, I was accidentally viewing over http.

Its still happening after applying that config

[2019-06-03 06:38] ilyam8 commented on #6193
Hi @Steve8291, yes, you are right, thanks!

[2019-06-03 07:13] paulkatsoulakis commented on #6191
Google outage restored around 7:30 hours ago as per the details on https://www.google.com/appsstatus#hl=en-GB&v=status
I think i will be resolving this, but by all means @faxx1080 reopen the issue if you have seen another issue we missed.

Thanks again for trusting us!

[2019-06-03 07:13] #6191 closed

[2019-06-03 07:37] paulkatsoulakis commented on #5967
Kindly note that for some distributions amd64 is not available.
For example Fedora 30 is only available on AMD64 and ARM as per https://getfedora.org/en/server/download/

[2019-06-03 09:36] cakrit commented on #5881
Unfortunately, this is how we ensure no URLs/Hostnames are sent by default to the netdata registry (now also the netdata cloud). Your alternative is to [run your own registry](https://docs.netdata.cloud/registry/#run-your-own-registry).

[2019-06-03 09:36] #5881 closed

[2019-06-03 09:39] thiagoftsm commented on #6188
All right, let us continue working on this. As you could see there are two possible possibilities to error, so please, can you send us the access.log log for both (Netdata and Nginx)?

[2019-06-03 10:12] cakrit commented on #5577
We haven't found a way to prevent loading `gtm.js` when statistics are enabled. As you'll see [here](https://docs.netdata.cloud/docs/anonymous-statistics/#google-tag-manager), we state that

If you, or anyone else can help us find a with a way to prevent this from happening when telemetry is disabled, we'll be happy to merge such a PR.

[2019-06-03 10:14] cakrit commented on #5577
I should have really opened a different issue for this last part, but I'm keeping it as a low priority bug.
I

[2019-06-03 10:21] cakrit commented on #6176
The email authentication method we use doesn't even store passwords, so it might be ok temporarily with security, as long as the corporate emails are used. They'd have to evaluate it of course. LDAP & probably Active Directory integration will definitely be one of the enterprise features we'll be offering.

I picture the on-premise version as a stand-alone host (a docker image is definitely a good

[2019-06-03 10:28] cakrit opened #6196 "WMI collector improvements"
@ilyam8 some follow up from our testing:

I do understand your point on the presentation of the data in a section of the main server dashboard, but ultimately the solution we are looking for would treat each host independently and not intermix data from one server into the dashboard of another server.  But what you have done here is a great start.
To make our goal possible, I have 3 ideas to spitb

[2019-06-03 10:33] cakrit commented on #6196
cc @ilyam8 as well.

@irvintim, if you really want a clean netdata UI with just the WMI stats for a single Windows server, then you would need multiple netdata docker images running, as many as the Windows hosts you want to monitor separately. Of course it would be a good idea to disable all other plugins, to keep those dashboards minimal.

We had discussed another alternative with @ilyam8 as well

[2019-06-03 10:41] cakrit commented on #5845
This shouldn't be closed. At the very minimum, we need to document the behavior better (i.e. not just in a single collector). If I understand correctly, the info from https://github.com/netdata/netdata/issues/5845#issuecomment-482786305 needs to go [here](https://docs.netdata.cloud/daemon/config/#per-chart-configuration). We can probably also add a paragraph [here](https://docs.netdata.cloud/docs/

[2019-06-03 10:42] cakrit commented on #6175
Sure, just please come back and close the issue if it works for you.

[2019-06-03 10:47] cakrit commented on #6177
It's what I wrote in https://github.com/netdata/netdata/issues/6177#issuecomment-497716657. "As for the reason..."

Agreed. @vlvkobal , it looks like we need a completely new paragraph under https://docs.netdata.cloud/streaming/, mentioning the strangeness with naming charts and the need to restart the master.

[2019-06-03 10:55] cakrit commented on #6190
Thanks @Steve8291 . Not the highest priority, but very good report and what you say makes sense. I'll see what we can do...

[2019-06-03 10:59] ilyam8 commented on #5845
In my opinion this is very confusing, zero value is a value and lack of chart looks like a bug for a user.

So i'd say global is ok but should be `off` by default.

Do we really need to hide charts with zero values?

[2019-06-03 11:17] cakrit commented on #6188
It's just the http links in that file. The fix is in @6198.

[2019-06-03 11:57] #6188 closed

[2019-06-03 12:12] Ferroin commented on #5979
@paulkatsoulakis Just message me on Slack when you've got some time to chat about it, and I'll try to answer any questions you have.

[2019-06-03 12:25] #6186 closed

[2019-06-03 12:26] #6161 closed

[2019-06-03 12:32] Ferroin commented on #5577
As mentioned above, setting a referrer policy should do this for most people (of the major browsers, only IE, Edge, and stuff on iOS ignores this).  The two options for this are either:

* The HTTP `Referrer-Policy` header (and yes, that is spelled correctly).  This may cause issues for some users who are proxying things.
* A `<meta name='referrer' />` tag in the HTML.  This one isn't as universal

[2019-06-03 12:34] cakrit commented on #5619
We'd like to get the test results before we merge the PR. Any chance of trying it out in the next couple of days?

[2019-06-03 12:45] #6193 closed

[2019-06-03 13:08] paulkatsoulakis opened #6199 "netdata/database: db engine crashing under certain conditions"
##### Bug report summary

[code]

##### OS / Environment
[code]

##### Netdata version (ouput of `netdata -V`)
[code]

##### Component Name
[code]

##### Steps To Reproduce

##### Expected behavior
Not crashing

[2019-06-03 13:30] churnd opened #6200 "Update fails because of new system dependencies"
I have netdata installed on several KVM hosts that run Debian 8/9.  I ran the install via `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` about a few months ago.  Over the weekend, they have all been failing to update due to missing system dependencies.  I decided to uninstall & reinstall on one of the hosts to see if it would install more packages that weren't already there.  Turns out, it

[2019-06-03 13:41] cakrit commented on #5577
I looked into this and there's an additional point where the referrer is sent, it's actually used for the cloud SSO functionality. I'll need to test if it's only SSO or sign-in in general that's affected with `same-origin`. If it works, we can provide an option in `netdata.conf` to set the header to any policy the user wants, with the disclaimer on the SSO.

[2019-06-03 13:50] gmosx commented on #5577
@cakrit I don't see how the SSO referer is an issue. The user can set `cloud base url` to a dummy value (or empty).

[2019-06-03 14:00] cakrit commented on #5577
No, I'm saying that I'd like to see if we can use the sign-in functionality and just lose the SSO if we don't send the referrer.

[2019-06-03 14:15] cakrit commented on #6200
The info on how to install the required packages is [here](https://docs.netdata.cloud/packaging/installer/#prepare-your-system).

`kickstart.sh` also has the following installer options:
[code]

With these options, the packages should be installed automatically (of course they're not enabled by default, which as you said, is a good thing).

[2019-06-03 14:26] #5400 closed

[2019-06-03 14:33] churnd commented on #6200
Yes, that part is fine & applies to the initial setup.  My question is more of how do we handle it when we are using the netdata automatic updater via cron daily & it starts failing because netdata starts requiring some new packages that weren't required before?  What's the proper way to detect which packages are missing?  This seems like an oversight to what should be a more automated process.

[2019-06-03 14:58] thiagoftsm commented on #5987
The solution for this issue was given together with the SSL implementation, so I am closing it.

[2019-06-03 14:58] #5987 closed

[2019-06-03 15:19] cakrit commented on #6200
You're right, the [netdata-updater](https://github.com/netdata/netdata/blob/master/packaging/installer/netdata-updater.sh) should be doing something about this. I'll discuss with @paulkatsoulakis, because we had said that we shouldn't be breaking the update process, even if the new packages were missing.

[2019-06-03 15:36] paulkatsoulakis commented on #6185
Hello @archisgore, any news on the matter? Looks like a really sporadic issue, so not sure if we can manage to spot anything.

[2019-06-03 15:39] paulkatsoulakis commented on #6200
Hello, indeed there shouldn't be any broken path because of missing dependencies regarding DB or SSL. I 'll have a look and let you know

[2019-06-03 15:51] archisgore commented on #6185
We did some investigation. There was no repro obviously. What it looks like is a signature mismatch. We have a few theories and are looking into them. It may be caused during mirror-sync (when Alpine mirrors are sync'ing.) I'm looking through the APK source code to look for the signature mismatch and find what conditions may cause it.

[2019-06-03 16:04] paulkatsoulakis commented on #6200
At a first glance, i ran a brand new debian 8 docker image and executed kickstart that brought the same version with you (1.15.0-42).

Process did not fail, even though i did notice a package for db not being installed, thus db-engine not being available as an option.

I went ahead and checked why libuv1-dev is not installed and it seems that this is available only on Debian 9 and not on Debian 8.

[2019-06-03 16:05] paulkatsoulakis commented on #6200
One note: the file you provided on gist, does not seem to be the full log.
Could you check if you can find the full logs from the update process that failed ?

[2019-06-03 16:45] churnd commented on #6200
Where does the update process log to?  The gist was from the output of the cron job that was emailed to me.  I think it's pretty clear that the issue is missing dependencies added after a system was bootstrapped earlier this year, as @cakrit said above:  https://github.com/netdata/netdata/issues/6200#issuecomment-498301715.  The issue is not with NEW installs, it's with OLD installs & new system d

[2019-06-03 16:49] paulkatsoulakis commented on #6200
Ok i got the reproduce scenario @churnd.
My apologies for facing this, we are working on a solution ASAP.
The installer should not fail in the absence of libraries for optional modules like DB engine or SSL support.

I 'll update you as soon as the solution is pushed on tonight's nightly release.
Thanks for reporting the issue !

[2019-06-03 17:07] Ferroin commented on #6200
@paulkatsoulakis I don't know that there is any sane option for handling libuv1 on older versions of Debian (or other distros that don't have it) other than bundling the code ourselves to build it locally if we can't install it.  The simple fact is that Debian tends to lag a bit behind other distros on a lot of packages (see for example NodeJS, which is still on 4.8 (compared to 10.16 for upstream

[2019-06-03 17:15] paulkatsoulakis commented on #6185
You could check the timestamps between the sync and the job above that is failing to verify the theory.

There is a timestamp that might help:
[code]

[2019-06-03 17:19] cakrit commented on #5442
Closing this one, as we've already delivered a few of the most requested features and any more responses will pollute the survey. Our appreciation goes to those of you who took the time to fill it in, it's been really helpful!

[2019-06-03 17:19] #5442 closed

[2019-06-03 19:25] #6200 closed

[2019-06-03 20:22] paulkatsoulakis commented on #6200
Our nightly process is in progress, next nightly will be with the fix for the above problem.
@churnd Please do let me know if the problem is now fixed

[2019-06-03 20:32] bephinix commented on #5577
@cakrit

Do you mean **when statistics are enabled** or **when statistics are disabled**? Maybe I got something wrong, I just want to clarify this.

Searching for `gtm.js` in this repository shows me, that `goto-host-from-alarm.html` and `console.html` does not check for the opt out flag. Is this behavior intended?

[2019-06-03 21:34] archisgore commented on #6185
@paulkatsoulakis Can you post a travis build link to a failed job? Ideally two? We are still investigating.

[2019-06-04 00:22] modem7 opened #6204 "Pihole stats modules"
##### Feature idea summary
Pi-Hole monitoring

##### Expected behavior
As netdata works excellently on a pi, may I suggest some form of pihole stats monitoring?

Eg.
DNS
DHCP
Queries blocked
Total queries
Percent blocked
And maybe (unsure if there's any point in this one as the value rarely changes significantly) number of domains blocked.

Pi-Hole now is available with an api, so it we should be

[2019-06-04 05:51] paulkatsoulakis commented on #6185
Here's a log that errored with that message: https://travis-ci.com/paulkatsoulakis/netdata/jobs/204862486

[2019-06-04 05:56] naclander commented on #3179
@jlgoolsbee  did you ever get around to submitting a PR? On my machine, when pointing the `isc_dhcd` plugin at `/var/lib/misc/dnsmasq.leases`, the plugin crashes. Most likely due to the leases file having an unparsable format by the current plugin.

@ktsaou Not sure if my issue is a separate/new one, so I figured I would first mention it here.

Log sample:

[code]

[2019-06-04 06:10] archisgore commented on #6185
Thank you!

[2019-06-04 06:49] ilyam8 commented on #6204
Hi @modem7

Could you provide a link to the api readme with all endpoints etc.? i see it has API v2 and v3.

i found this app
https://github.com/Qrome/Pi-hole-Monitor

it uses `/admin/api.php?summary`.

[2019-06-04 06:52] ilyam8 commented on #3179
Hi @naclander

yes, [`isc_dhcpd`](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/isc_dhcpd) is able to parse only `isc-dhcp-server` leases

[2019-06-04 07:01] archisgore commented on #6185
I'm testing for repros with and without this. I think I know what may be happening, but I'm going to confirm.

https://github.com/netdata/netdata/pull/6205

[2019-06-04 07:28] #6108 closed

[2019-06-04 07:35] ilyam8 opened #6206 "monitor dnsmasq dhcp server leases"
@jlgoolsbee  did you ever get around to submitting a PR? On my machine, when pointing the `isc_dhcd` plugin at `/var/lib/misc/dnsmasq.leases`, the plugin crashes. Most likely due to the leases file having an unparsable format by the current plugin.

Log sample:

[code]

_Originally posted by @naclander in https://github.com/netdata/netdata/issues/3179#issuecomment-498532234_

`dnsmasq` leases file

[2019-06-04 08:00] #6199 closed

[2019-06-04 08:09] vlvkobal commented on #6183
You can't use an asterisk in the middle of the pattern. From the apps.plugin [documentation](https://docs.netdata.cloud/collectors/apps.plugin/#configuration):

[code]
So, look at `/proc/PID/cmdline` for a Redis instance and figure out how to write a pattern in the form `*name*`.

[2019-06-04 08:40] cakrit commented on #5577
Yes, you got it wrong. See https://docs.netdata.cloud/docs/anonymous-statistics/#opt-out:
*- The Google Tag Manager Javascript snippet will remain in the page, but the linked tag will not be fired. The effect is that no data will ever be sent to GA.*

No GTM tags are triggered from `goto-host-from-alarm.html`. If we ever add a tag for it, we'll put the condition in.

`console.html` access requires

[2019-06-04 09:50] ilyam8 commented on #6167
i agree with suggestions from OP.

Speaking about tests i want to add that we need a clear picture on testing - what parts of netdata should be tested, which of them are tested and how they are tested (some public document?).

[2019-06-04 09:54] mfundul commented on #6167
Something that is very important to me is to somehow be able to run most tests locally and not depend on infrastructure and waiting indefinitely. This is very important for rapid testing cycles from the developer's perspective.

[2019-06-04 10:07] trebonius0 commented on #6183
Thanks :)
What if the command line itselfs contains a * ?

In my case the command line is

[2019-06-04 10:08] cakrit commented on #6167
This makes a lot of sense.
We discussed with @paulkatsoulakis and he'll write a script for us to be able to run any travis stage we want locally.

[2019-06-04 10:14] gmosx commented on #6167
The team already implements REST API calls using the standard Go testing infra as you describe. So +1 on this.

[2019-06-04 10:17] cakrit opened #6211 "Script to test travis CI stages locally"
This makes a lot of sense.
We discussed with @paulkatsoulakis and he'll write a script for us to be able to run any travis stage we want locally.

_Originally posted by @cakrit in https://github.com/netdata/netdata/issues/6167#issuecomment-498609213_

[2019-06-04 10:26] cakrit commented on #6167
The rules are generic, see the details in https://bestpractices.coreinfrastructure.org/en/projects/2231#quality

To be able to comply with these, we need unit and integration testing. Note that all of the items listed there are for **new functionality**

Where it gets hairy, is with "dynamic code analysis". See https://bestpractices.coreinfrastructure.org/en/projects/2231#analysis
There, we need t

[2019-06-04 11:19] vlvkobal commented on #6183
What is the content of `/proc/PID/cmdline` for this instance?

[2019-06-04 11:54] trebonius0 commented on #6183
`/usr/local/bin/redis-server *:6379`

[2019-06-04 13:16] mfundul opened #6213 "Benchmark Netdata dbengine with Time Series Benchmark Suite"
We should benchmark the Netdata dbengine with [Time Series Benchmark Suite](https://blog.timescale.com/time-series-database-benchmarks-timescaledb-influxdb-cassandra-mongodb-bc702b72927e/) to compare its performance with other DB engines and also catch any performance regressions. The github page of TSBS is [here](https://github.com/timescale/tsbs).

We should do research on how to bypass the trad

[2019-06-04 13:20] cakrit opened #6214 "Documentation improvements"
- #6212 Add code style guidance to CONTRIBUTIN
- #6208 Visibility fix in anonymous-statistics.m
- #6207 smartd documentation improvements
- #6181 Make custom notification's instructions clearer
- #6146 Fix typo in web/README.md

[2019-06-04 13:20] #6214 closed

[2019-06-04 13:26] idef1x opened #6215 "apps.plugin: add network interface bandwidth usage"
##### Feature idea summary
the apps.plugin collector currently collects no network usage per application. Only opened network sockets.
I think it would be great to see/monitor which application/group is using the servers interface bandwidth

##### Expected behavior
Collection of interface bandwidth usage per application/group

[2019-06-04 14:01] vlvkobal commented on #6183
Try using `"*/usr/local/bin/redis-server *:6379*"`.

[2019-06-04 14:05] vlvkobal commented on #6215
Do you have an idea of how it could be done? Does Linux have such information in `proc` filesystem?

[2019-06-04 14:10] ShagoY commented on #2161
Ok after many tests on Proxmox (Out of the BOX - Fresh install), I get the CPU/MEM/NET for my LXCs but only the CPU for my VMs (Qemu).

Here is the log for the VMs:
`2019-06-04 16:02:33: /usr/libexec/netdata/plugins.d/cgroup-network INFO  : MAIN : running: exec /usr/libexec/netdata/plugins.d/cgroup-network-helper.sh --cgroup '/sys/fs/cgroup/cpu,cpuacct/qemu.slice/300.scope'
2019-06-04 16:02:33: cg

[2019-06-04 14:51] vlvkobal commented on #3232
I've been searching in vain for grouping rules for the `perf_event_open()` system call. Does anybody know something about it on the spot?

[2019-06-04 14:58] FGIKCM commented on #3990
**Feature proposal - Manual add entry to registry (for DMZ hosts)**

For now, netdata instances talk to the registry to say "Hey, I'm here".
But imagine now:
 - your "registry netdata" is on a local network,
 - you have some netdata instances on a DMZ, with no incoming connections.
 - you can't have those instances auto-register to the registry. You will have to do it yourself on the main node, wi

[2019-06-04 14:59] idef1x commented on #6215
Not sure where exactly, but I was hoping you could do the same trick as doing for containers and use the metrics shown per cgroups? I am not a programmer, but will try to look for relevant info in the /proc filesystem...

[2019-06-04 15:13] archisgore commented on #6185
Some more details:
1. The failure happens after the polyverse step, in the block that installs `apk add make alpine-sdk`

2. Notice in a successful build this is what is logged:
[code]

2. In the failed build you linked to:

[code]

It only fetches two repositories. We are digging deeper into why this may happen intermittently. This is a big clue.

[2019-06-04 15:20] #6103 closed

[2019-06-04 15:33] ilyam8 commented on #6215
found this
https://github.com/raboof/nethogs

[2019-06-04 15:36] valyala commented on #5619
I built nedata from https://github.com/vlvkobal/netdata repository and `prometheus-remote-write` branch.

The following `backend` configuration doesn't write any data to [single-node VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics/wiki/Single-server-VictoriaMetrics):
[code]
It is translated to the following config on [localhost:1999/netdata.conf](http://localhost:19999/netdata.

[2019-06-04 16:13] modem7 commented on #6204
This is what I can find:

https://discourse.pi-hole.net/t/pi-hole-api/1863
https://github.com/pi-hole/api
https://pi-hole.net/2018/10/15/announcing-our-restful-api-contributions-welcome/

api.php?summary shows the following:
![Capture1](https://user-images.githubusercontent.com/4349962/58895538-0f621200-86ec-11e9-81fb-377d4d6d12c7.JPG)
![Capture2](https://user-images.githubusercontent.com/4349962/

[2019-06-04 16:16] gamefundas commented on #5062
An example of what I was thinking can be viewed here
https://www.instana.com/media/Instana-Dependency-Map-Calls-Latency-Errors.gif

And also within a cloud infrastructure a lot of the services can be discovered by Netdata using the cloud provider's api and that information could be used to identify several other dependencies in the infrastructure.

Operating inside an AWS VPC Netdata can discover

[2019-06-04 17:43] niroma commented on #1203
Hi,
Same problem for me ... netdata was working fine 'til today and now I can't access http:myip:19999 anymore ... connection refused
I'm running netdata on ubuntu 18.04 and even if I disable ufw problem is still here (service is working fine, and i got content running curl 127.0.0.1:19999)
I tried to set  bind to = * in netdata.conf but still doesn't work :'(

[2019-06-04 17:51] ilyam8 commented on #6204
@modem7

do you mean `/admin/api.php?summary` ?

i am not clear, with `api key` you have completely different response for same requests? or you get some info in addition?

What is `API key`? http basic auth?

[2019-06-04 17:56] ilyam8 commented on #1203
@niroma

please do `sudo ss -ntlp | grep netdata`

[2019-06-04 17:57] cakrit commented on #1203
Also, what was your `bind to` before you changed it to `*`?

[2019-06-04 18:00] niroma commented on #1203
Hi guys,
Thank you for the fast replies :)
@ilyam8
LISTEN   0         128               127.0.0.1:8125             0.0.0.0:*        users:(("netdata",pid=13186,fd=17))
LISTEN   0         128                 0.0.0.0:19999            0.0.0.0:*        users:(("netdata",pid=13186,fd=3))
LISTEN   0         128                   [::1]:8125                [::]:*        users:(("netdata",pid=13186,fd=16))

[2019-06-04 18:02] cakrit commented on #3232
You mean what is says [here](http://man7.org/linux/man-pages/man2/perf_event_open.2.html)?

       group has one event which is the group leader.  The leader is created
       first, with group_fd = -1.  The rest of the group members are created
       with subsequent perf_event_open() calls with group_fd being set to
       the file descriptor of the group leader.  (A single event on its own

[2019-06-04 18:04] cakrit commented on #1203
I replicated it. Lemme see what's happening...

[2019-06-04 18:06] niroma commented on #1203
@cakrit just edited my previous answer with "netstat -nat | grep 19999" if this can help :)

[2019-06-04 18:07] cakrit commented on #1203
Nope, I didn't replicate it. It was just the SSL redirect that messed with my request.

[2019-06-04 18:12] niroma commented on #1203
@cakrit thanks for your time, nevermind as its working by now for me !
OFF TOPIC : I'm running litespeed and I'd love to proxy/password protect netdata ... Any clues about how to do this ? As docs aren't really litespeed compliant :/

[2019-06-04 18:16] cakrit commented on #1203
With `bind to = 127.0.0.1` I have the following:
[code]
With `bind to = 127.0.0.1` I have the following:
[code]

Regardless of the setting, http://127.0.0.1:19999 works.

What's your netdata version?
I'll need to go off now, but we'll keep investigating, this is strange.

[2019-06-04 18:18] niroma commented on #1203
@cakrit hey man thanks again for watchning
NetData is auto updating, i'm currently running v1.15.0-53-nightly

[2019-06-04 18:28] ilyam8 commented on #1203
I see the problem is solved.

i rememeber it right `litespeed` thing is not free, i suggest to ask their support/ on their forum.

In case you are not aware - https://docs.netdata.cloud/web/server/#enabling-tls-support

[2019-06-04 18:35] modem7 commented on #6204
Within PiHole there is an API key they call "WebPassword", which is similar in format to 7547b7cf6fb7947a7cf5bc3850b3614cf943c9867cb324543fe93739494857cd.

On here: https://discourse.pi-hole.net/t/pi-hole-api/1863 - you can see what values you are able to retrieve with and without the API key.

So https://pihole.myiphost.com/admin/api.php?**topClients**&auth=webpassword would allow you to view the

[2019-06-04 18:46] ilyam8 commented on #6204
Which of them are useful and deserves to be collected?

[2019-06-04 19:02] cakrit opened #6218 "Use major/minor from sys/types.h"
Ubuntu 18.0.4, today's installation with `kickstart.sh`:
[code]

[2019-06-04 19:05] cakrit commented on #1203
Tried it on Ubuntu 18.0.4 as well, can't replicate it. @niroma, if you can get it to happen again, please send me your netdata.conf, access.log and error.log to chris@netdata.cloud (just in case it contains sensitive info).

[2019-06-04 19:10] cakrit commented on #6004
This is actually merged now!

[2019-06-04 19:10] #6004 closed

[2019-06-04 19:11] cakrit commented on #5973
Adding here also the link to [the blog post on netdata cloud](https://blog.netdata.cloud/posts/netdata-cloud-announcement/) and closing. #6004 is also closed now, enjoy the TLS encryption! :)

[2019-06-04 19:11] #5973 closed

[2019-06-04 19:12] cakrit commented on #5794
Closing due to inactivity, please comment here with additional info so we can help.

[2019-06-04 19:12] #5794 closed

[2019-06-04 19:20] mfundul commented on #6218
This warning has been there for at least 5 months now, I believe it is some gcc/glibc [bug](https://patchwork.kernel.org/patch/9490631/)?

[2019-06-04 19:22] cakrit commented on #3990
It's actually your browser that make the call to the registry, but I get what you're saying. The question is, if you can't actually see the UI of any of those nodes in the DMZ, what's the point of having them in your local registry? Wouldn't want to stream their data to a master that is actually accessible via HTTPS?

Having said that, the "claiming" feature mentioned in https://github.com/netdata

[2019-06-04 19:22] ilyam8 commented on #6218
dup of #2504

[2019-06-04 19:24] cakrit commented on #4798
This was done a while ago, we forgot to close it.

[2019-06-04 19:24] #4798 closed

[2019-06-04 19:40] modem7 commented on #6204
**values from /api.php?summaryRaw (no API key needed for these stats) (use /api.php?summary if formatted numbers are better):**

- Domains being blocked (unsure about this, some may like it, some may not): "domains_being_blocked"
- DNS Queries today "dns_queries_today"
- Ads Blocked today "ads_blocked_today"
- Ads percentage today "ads_percentage_today"
- Unique domains "unique_domains"
- queries

[2019-06-04 19:46] ilyam8 commented on #6204
Could you add metric types for those metrics? i mean [gauge/counter](https://prometheus.io/docs/concepts/metric_types/)

[2019-06-04 19:48] Ferroin commented on #6204
Other than the last two items and the `clients_ever_seen` value, all of those are pretty unquestionably useful values.  The `clients_ever_seen` value may or may not be useful depending on what exactly it tracks (if it's the total unique clients ever seen, then it's a better alarm trigger than `unique_clients`).  The relative query type percentages are mostly of interest to people who are super int

[2019-06-04 19:54] ilyam8 commented on #6204
i am not clear about the `_today` suffix. Are these counters reset every 24hr or what? :smile:

[2019-06-04 20:22] modem7 commented on #6204
@Ferroin - I have to agree with you on that, I wasn't 100% sure on it myself, but yes, it's a "total ever seen" counter. The last item is top request frequencies per client.

@ilyam8 the "today" is value over the last 24 hours, which might be better as a more accurate measure of what's occurring, otherwise we'll either end up with a humongous number, or a dinky "did one, one another, did yet anoth

[2019-06-04 20:34] ilyam8 commented on #6204
`gauge` - a value that can arbitrarily go up and down.
`counter` - a value can only increase or be reset to zero on restart.

i guess `_today` metrics are gauges.

@modem7 you deleted some stuff, if it is sensitive just describe it in text.

[2019-06-04 20:36] modem7 commented on #6204
I thought it was sensitive, but I was being a muppet. All of this is internal hostnames, in my case doesn't really matter if it's made public or not (hell, if they can scan the hostnames, I'm already screwed as they're in :P)

[2019-06-04 20:42] ilyam8 commented on #6204
i think these deleted stuff is worth to chart. Btw netdatas gui is not able to sort dimensions in whatever order, so i don't know what to do with top charts

[2019-06-04 20:43] lskillen commented on #5963
Hey folks - Saw that one of your users setup a test repository for this on @cloudsmith-io. We'd (I'm a Cloudsmither) be delighted to help support you if you'd like to let us handle all of the infrastructure for distribution. As per the list above, we support the majority of the formats and distributions (e.g. Debian, Ubuntu, CentOs, RedHat, Alpine, etc.) that you require, and we're receptive to ad

[2019-06-04 20:46] modem7 commented on #6204
Oops - I derailed slightly.

The top charts we'll ignore, was trying to equate it more to the gauges/counters part.

The deleted items which were redacted got replaced with non-redacted parts, and for images 1 and 2, I replaced the with what information is shown on mouseover (which will most likely be part of the chart in question)

[2019-06-04 20:46] archisgore commented on #6185
Another instance (this is for self-reference) - I may edit this comment to add more instances:
https://travis-ci.com/paulkatsoulakis/netdata/jobs/204422848
https://travis-ci.com/paulkatsoulakis/netdata/jobs/203195752
https://travis-ci.com/paulkatsoulakis/netdata/jobs/204862486

[2019-06-04 20:52] archisgore commented on #6185
Seems the issue occurs exactly every four days (13 days ago, 9 days ago, 5 days ago, and one day ago.)

[2019-06-04 21:09] paulkatsoulakis commented on #6185
So we are looking at some job that correlates with operations taking place on your side?
I do not recall we do anything at such intervals

[2019-06-04 21:15] pgassmann commented on #6004
Thank you for the great update. The corresponding merge is #5956

The related documentation:
- https://docs.netdata.cloud/streaming/#securing-the-communication
- https://docs.netdata.cloud/web/server/#enabling-tls-support

Now I need to find a way to integrate it into my setup with docker and a reverse-proxy with letsencrypt.
https://docs.netdata.cloud/packaging/docker/

As far as I understand, th

[2019-06-04 21:47] thiagoftsm commented on #6004
Hi @pgassmann , you are correct, the stream will send messages that looks like an HTTP, but it is not officially a HTTP. Netdata accepts the use of self-signed certificate, but in the slave you will need to enable "ssl invalid certificate = yes".

Best Regards!

[2019-06-04 22:04] ilyam8 commented on #6004
Yes, @thiagoftsm did a marvelous job :+1:

was changed to  `ssl skip certificate verification`

[2019-06-05 00:14] archisgore commented on #6185
Still looking for commonalities and why this is happening. There's no process on our side that happens every four days either.

I've found some commonalities and am now reproducing them on my host. This issue seems to be reported frequently on the Alpine User mailing list as a mirror problem. I'm trying to confirm.

[2019-06-05 00:43] archisgore commented on #6185
For instance, mirrors frequently rsync from each other. It's possible that there is some transient error. Just so we're on the same page, I don't see this issue going farther back than two weeks. Is that the same observation you have? So whatever is causing it, changed in the last two weeks.

[2019-06-05 01:00] archisgore commented on #6185
Our fork had the same failure 18 hours ago.
https://travis-ci.com/polyverse/netdata/jobs/205190086

[2019-06-05 02:29] thiagoftsm commented on #1642
This is officially a working in progress.

[2019-06-05 02:34] utdrmac opened #6221 "Difficulties understanding python.d chart plugin; multiple graphs"
##### Question summary
I'm trying to convert the charts.d NUT plugin to python.d. For the most part, I have this done. It works just fine with my environment.

There are two things I'm struggling with.

## 1.

The first is understanding how to tell the difference between "no config file provided" and "N number of jobs found in config."

If no config file present, the plugin should report on all co

[2019-06-05 02:41] archisgore commented on #6185
Just FYI, I want to wait till noon tomorrow (which'll be 24 hours from the last failure) and rerun my test. I have the container building every hour: https://travis-ci.com/polyverse/netdata/builds

If I don't find a consistent repro, we're ready to yank the polyverse mirrors. But I'd like to be sure that is the root cause, and nothing else.

[2019-06-05 06:11] idef1x commented on #6215
Indeed and since nethogs makes use of /proc, it must be somewhere I would say. There's a /proc/[pid]/net/dev, but apparently that shows the same as /proc/net/dev :(

[2019-06-05 06:36] ilyam8 commented on #6221
Hi @utdrmac

Number of configs == number of jobs. No config == 1 config.

No, there will be once section but with N subsections (families), every subsection is a separate UPS.

you have set of charts for every UPS, in case of multiply UPS you need to add multiply set of these charts. All this should be done in `check()` method.

[2019-06-05 06:59] #6157 closed

[2019-06-05 07:29] vlvkobal commented on #6215
NetHogs maintains a process list and a connection list, listens for TCP packets using libpcap, and finds what process the packet belongs to using the address and inode information from `/proc/net/tcp`. This method is neither precise nor simple.

[2019-06-05 07:39] cakrit commented on #6218
Unanswered question there:

[2019-06-05 07:45] vlvkobal commented on #3232
The problem I faced with is that I don't know for sure which events can be put into one group without conflicts. I figured out some working combinations experimentally, but it would be better to use a more reliable source of information.

[2019-06-05 07:52] cakrit opened #6224 "Encrypted streaming via reverse proxy"
Thank you for the great update. The corresponding merge is #5956

The related documentation:
- https://docs.netdata.cloud/streaming/#securing-the-communication
- https://docs.netdata.cloud/web/server/#enabling-tls-support

Now I need to find a way to integrate it into my setup with docker and a reverse-proxy with letsencrypt.
https://docs.netdata.cloud/packaging/docker/

As far as I understand, th

[2019-06-05 07:54] cakrit commented on #6224
@pgassman we didn't try this and it will be a great addition to the documentation. When you get it working, can you please let us know how so we can add the info, or even better do a PR to update the docs?

cc @thiagoftsm

[2019-06-05 08:01] vlvkobal commented on #5619
Looks like you haven't compiled Netdata with Remote Write API support. Please check these lines while building Netdata with `netdata-installer.sh`:
[code]

[2019-06-05 08:01] paulkatsoulakis commented on #5963
Hello @lskillen, glad to see people recognising our effort, it's awesome!
We will definitely be in touch, at the very worst case to collaborate on packaging issues.
cloudsmith.io offering looks quite interesting, we will investigate the available features and decide on an approach to this, probably on one of the upcoming sprints.

Thanks again, we 'll be in touch probably through this issue again!

[2019-06-05 08:45] cakrit commented on #6215
I get the 'not simple' part, but why 'not precise'?

[2019-06-05 08:48] vlvkobal commented on #6215
What about non-TCP traffic?

[2019-06-05 08:54] cakrit commented on #3232
@anayrat and @tycho can you help out here?

[2019-06-05 08:58] cakrit commented on #5619
You're referring to this, right @vlkobal?

To use the prometheus remote write API with [storage providers](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage) [protobuf](https://developers.google.com/protocol-buffers/) and [snappy](https://github.com/google/snappy) libraries should be installed first. Next, netdata should be re-installed from the source. The installer

[2019-06-05 09:05] mfundul commented on #6218
The solution is including <sys/sysmacros.h> for linux as explained [here](http://man7.org/linux/man-pages/man3/minor.3.html) and [here](https://bugs.schedmd.com/show_bug.cgi?id=3982).

[2019-06-05 09:09] mfundul commented on #6218
[Here](http://visa.lab.asu.edu/gitlab/fstrace/fstrace/commit/50608a4098dee3799791761dcba4d4453f95e8d2) is a workaround.

[2019-06-05 09:10] cakrit commented on #6215
Looks like pcap [can do UDP too](https://www.winpcap.org/docs/docs_412/html/group__wpcap__tut6.html)

[2019-06-05 09:21] vlvkobal commented on #6215
Yes, but how to find which process is responsible for a UDP packet transferred? Still, there is non-TCP && non-UDP traffic too.

[2019-06-05 09:57] idef1x commented on #6215
monitorix seems to do it  by reading /proc/[pid]/io (https://github.com/mikaku/Monitorix/blob/master/lib/process.pm) The outcome is substracting the read/write bytes from the read/write chars (see line 254). Doesn't look right to me though, since the man proc page defines it as storage io...The graphs monitorix produces looks quite alright, but have to look after some more tests if it's usable..

[2019-06-05 10:03] mfundul commented on #6218
[This](http://git.savannah.gnu.org/gitweb/?p=autoconf.git;a=commit;h=e17a30e987d7ee695fb4294a82d987ec3dc9b974) is probably the bug in autoconf that causes the warnings in Ubuntu 18.04.

[2019-06-05 12:25] mfundul commented on #6218
Since the problem is a bug in autoconf of Ubuntu 18.04 I think we should not take any action ourselves.

[2019-06-05 13:17] utdrmac commented on #6221
@ilyam8

How do I count the number of configs?

Hmm. This is different from the docker plugin where it shows 1 'main menu' for each docker with same sub-sections for each container. But I can see under 'Disks', there is 1 submenu for each disk.

1 family == 1 UPS?

[2019-06-05 13:29] ilyam8 commented on #6221
You don;t need to count them.

[code]

^^ There you can see 2 jobs, so two instances of module (collector) will be initialized with these configs.

You can read about it in [any config file](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/adaptec_raid/adaptec_raid.conf).

Yes, this is different.

[2019-06-05 13:55] utdrmac commented on #6221
@ilyam8
If there is no config file provided, how do I detect that? If no config is provided, then my plugin should auto-detect all connected UPS. But how can my code detect the difference between no config and 1 config with multiple jobs?

[2019-06-05 14:03] ilyam8 commented on #6221
https://github.com/netdata/netdata/blob/cae6ec1ad6d89dfc14665cc8d0af73086602bbd7/collectors/python.d.plugin/apache/apache.chart.py#L94-L99

config is `configuration`

i suggest to reflect flow from `nut.sh`

[code]

if `nut_ups` is an empty list then consider it as do all.

[code]

[code]

^^ all job params in `configuration`.

[2019-06-05 14:08] utdrmac commented on #6221
@ilyam8 Yes, I know all that already and have all that code already. As I stated above, yes, I am trying to reflect the same flow from nut.sh. But I do not understand how to determine/detect if a config is provided or no config provided.

If no config provided, how do I detect this so that I can get a list of all UPSes? (I know how to get the list, I just do not understand how to determine _if_ I

[2019-06-05 14:09] utdrmac commented on #6221
[code]

[2019-06-05 14:11] utdrmac commented on #5845
Glad I searched for this. Affects `netdata v1.14.0-64-g110797a6` as well running inside docker. I couldn't figure out why swap charts were not being displayed.

[2019-06-05 14:18] cakrit commented on #6218
Closing then.

[2019-06-05 14:18] #6218 closed

[2019-06-05 14:51] ilyam8 commented on #6221
As i said earlier there is no `config not provided`, there is always at least one config (one job).

If there is something mandatory should be provided by the user and this mandatory is missing, then `check` should return false, that is it.

___

Could you describe the python version work flow? Is it using `ups` binary to get data?

[2019-06-05 14:53] ilyam8 commented on #5845
This is quite a qick fix, at least for swap chart. `global` thing can be implemented later. @vlvkobal 	please

[2019-06-05 15:02] utdrmac commented on #6221
I'm working inside netdata docker container. `upsd` is running on the host. My plugin uses the SocketService framework to connect to upsd on port 3943 (default) to run commands like 'LIST VARS $UPSNAME'

[2019-06-05 15:21] ilyam8 commented on #6221
Nice. Is there a command to list all UPSs? I mean i see no reason to not chart some UPSs. Do you?

I suggest to remove filtering UPSs functionality, we can add it later if there will be request. What do you think?

[2019-06-05 15:28] utdrmac commented on #6221
Yes, `LIST UPS` :)
The goal was to support monitoring of UPSes on other hosts as well, but if you think that's overkill/unnecessary at this time, then I can simply rework it so that it only grabs UPSes connected to the `upsd` running on $host:$port.

[2019-06-05 15:32] ilyam8 commented on #6221
Well, there is always a possibility to add another job

[code]

[2019-06-05 16:11] naclander commented on #3179
@ilyam8 Ah, thanks for letting me know.

I think mentioning in the `isc_dhcpcd` README that dnsmasq style leases is not compatible would be helpful:
https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/isc_dhcpd

Or even better, support for dnsmasq style lease files =p

[2019-06-05 16:12] naclander commented on #6206
Would it make sense for this to be a whole new monitor? Or just extend the `isc_dhcpcd` monitor to also support he dnsmasq lease file format?

[2019-06-05 16:18] paulkatsoulakis commented on #5823
Hello! Sorry for the late come back, the precompiled `netdata/netdata` docker image should have everything needed to run all functionality of netdata.

I 'll re-iterate and let you know

[2019-06-05 18:44] utdrmac commented on #6221
If I define `CHARTS` at the top of my python script, how do I duplicate this for each UPS and also modify the family?

[code]

[2019-06-05 18:45] utdrmac commented on #6221
Must I create each chart programmatically?

[2019-06-05 19:33] utdrmac commented on #6221
I'm so lost. I have no idea how to create additional charts with different family names. All my code seems incredibly "non-standard" way of doing it within the plugin.

[2019-06-05 19:53] Ferroin commented on #6221
A large part of the issue here is that documentation is somewhat lacking.  I would encourage you to take a look at the [unbound module](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/unbound/unbound.chart.py) for an example of how to do this if you just need to generate charts at module startup (which is what this case sounds like).  The module itself generates one chart

[2019-06-05 20:42] vlvkobal opened #6226 "Improve hardware performance counter statistics"
##### Feature idea summary
Perf plugin can be improved by using libpfm4 and Performance API (PAPI). The former is used to name events in a human way. The latter allows getting statistics from additional devices in addition to CPU.

Related to #1086

##### Expected behavior
Perf plugin can display additional performance monitoring counters and can be configured using simple and human readable defin

[2019-06-05 20:45] vlvkobal commented on #6101
Libraries can be used in further perf plugin improvements (#6226)

[2019-06-05 20:45] #6101 closed

[2019-06-05 21:41] archisgore commented on #6185
I got a repro locally between 10-11 PM PST last evening. This means it's not environmental (aka having to do with Travis). However, the fact that it happened on my laptop at the same time I saw it on Travis, tells me it is being triggered by remote behavior. Just what that behavior is and why it's occurring is something I'm still investigating.

[2019-06-05 21:50] modem7 commented on #6191
I'm getting the following on both Fedora and Debian:

[/tmp/netdata-kickstart-uYwCmz]$ curl -sSL --connect-timeout 10 --retry 3 https://storage.googleapis.com/netdata-nightlies/sha256sums.txt
curl: (7) Failed to connect to storage.googleapis.com port 443: Connection refused
 FAILED

 ABORTED  Cannot download https://storage.googleapis.com/netdata-nightlies/sha256sums.txt

[2019-06-05 21:56] modem7 opened #6227 "kickstart.sh: Getting Nightly SHA256 sums from storage.googleapis.com times out"
Related to #6191

I'm getting the following on both Fedora and Debian:

Not seeing any disruptions or outages on https://www.google.com/appsstatus#hl=en-GB&v=status

[2019-06-05 22:54] ilyam8 commented on #6206
i think it would.

[2019-06-05 23:08] ilyam8 commented on #6221
Well, write a function `def ups_chart_template(name)` that returns a set of charts.

example

https://github.com/netdata/netdata/blob/3b72bed2a5d42ad1f22f18b573a937a8f2e40e42/collectors/python.d.plugin/beanstalk/beanstalk.chart.py#L117-L168

___

flow is

1. write ups chart template func.
2. get all available ups in `check` method.
3. create charts for every ups name and update `self.order` and `s

[2019-06-05 23:12] ilyam8 commented on #3179
i think better to mention that only isc dhcpd leases are supported, but you are right, readme is a little bit confusing

[2019-06-06 01:35] thiagoftsm commented on #1642
Hi @rickatnight11 and @DerDanilo , I finished to write the communication using HTTP API now, but while I was reading the official documentation of OpenTSDB I could not find direct support for SSL there on the other hand, I could see that OpenTSDB Proxy is used to authenticate users and to support SSL connections, so I am thinking to create a communication trought OpenTSDB Proxy for netdata uses en

[2019-06-06 03:35] manjotsc opened #6228 "Can't access web gui NetData PfSense"
logs:
<details>
<summary>click me!</summary>

[code]
</details>

[2019-06-06 05:55] chkch opened #6229 "The number of cpu cores obtained in the docker container is inconsistent with the actual number of allocations."
My service is k8s+Docker deployment mode. I install netdata in a single docker. The number of cpu cores and detailed data is the host, not the number of CPUs allocated to docker. (The host CPU is 40 cores, single. Taiwan docker is 2 cores)

The version is the latest v1.15, the operating system of the docker container is centos7, and the jdk version is 1.8u_211.

[2019-06-06 06:52] manjotsc commented on #6228
This is the logs after clean install pfsense on vmware,

2019-06-06 06:49:24: netdata INFO  : MAIN : Executing /usr/local/libexec/netdata/plugins.d/system-info.sh
2019-06-06 06:49:24: netdata INFO  : MAIN : NETDATA_SYSTEM_OS_NAME="unknown"
2019-06-06 06:49:24: netdata INFO  : MAIN : NETDATA_SYSTEM_OS_ID=unknown
2019-06-06 06:49:24: netdata INFO  : MAIN : NETDATA_SYSTEM_OS_ID_LIKE=unknown
2019-06-0

[2019-06-06 07:53] vlvkobal commented on #6228
The log files look like usual ones. Check your firewall settings.

[2019-06-06 07:59] manjotsc commented on #6228
Any specific I should check in firewall

[2019-06-06 08:07] vlvkobal commented on #6228
Netdata uses [port 19999](https://docs.netdata.cloud/docs/gettingstarted/#accessing-the-dashboard). So, you should allow tcp connections to the port 19999.

[2019-06-06 08:20] manjotsc commented on #6228
That I already did, but I am also getting error when "service netdata onestart" bad - c option and also it there instance this problem running.

[2019-06-06 08:50] vlvkobal commented on #6228
You might find a solution for `Bad -c option` in #3469.

[2019-06-06 09:27] ilyam8 commented on #6213
`influxdb` has [http api](https://docs.influxdata.com/influxdb/v1.7/tools/api/) which u is used by `Time Series Benchmark Suite`. It would be nice if netdata has something similar.

But is it fair to compare `dbengine` with other TSDBs? is dbengine a TSDB? (stores time series; a time series is a series of data points indexed in time order).

So those tests not only for load/query DB, but load DB w

[2019-06-06 09:30] ilyam8 commented on #6200
shouldnt we unpin the issue?

[2019-06-06 10:32] cakrit commented on #6227
Just did exactly the same thing and I have no problem. Of course it has nothing to do with the OS you're running on. Do you still have the issue?

[2019-06-06 10:37] vlvkobal commented on #6229
Netdata is executed with the `-s /host` option in a docker container and reads information from `/host/proc` and `/proc/sys`. You can run netdata without the `-s` option and it will read `/proc` and `/sys`. But I don't see any sense in monitoring the container itself.

[2019-06-06 10:49] cakrit commented on #6228
How did you install it? Did you follow the instructions [here](https://docs.netdata.cloud/packaging/installer/#pfsense)?

[2019-06-06 10:52] cakrit commented on #6213
Yes, we'll need to add such an API (useful for many things actually, also unit and load tests).
And yes, it is essentially a TSDB, with perhaps a couple of API calls missing (@mfundul had already mentioned something like "give me the 10 next entries").

[2019-06-06 11:18] cakrit commented on #6213
For the "query" part, can you use the `/api/v1/data` call? See https://editor.swagger.io/?url=https://raw.githubusercontent.com/netdata/netdata/master/web/api/netdata-swagger.yaml

If you can, then we just need a new `/api/v1/write` call.

@mfundul you'll need to add the new call to the array in https://github.com/netdata/netdata/blob/master/web/api/web_api_v1.c#L767
It will be `{ "manage/dbengine

[2019-06-06 11:18] cakrit commented on #6200
Done

[2019-06-06 11:21] cakrit commented on #6229
@chckh we strongly suggest you use and help improve our [helm chart](https://github.com/netdata/helmchart) for k8s.

[2019-06-06 11:34] modem7 commented on #6204
I've also posted here where the developer of pihole may have additional insights that I may not have regarding the API. I don't have any context on Netdata or how they h...

https://www.reddit.com/r/pihole/comments/bwtx9q/netdata_and_pihole_discussion/

[2019-06-06 13:11] ilyam8 commented on #6227
[WORKSFORME](https://bugzilla.mozilla.org/show_bug.cgi?id=399463) finally!

[2019-06-06 15:24] vlvkobal commented on #5619
@valyala were you be able to compile Netdata with Remote Write API support?

[2019-06-06 15:26] ieguiguren opened #6230 "Error during installation in devuan"
#### Summary

During the installation in a Devuan GNU/Linux system, the installation script complaints about a not-known package:
[code]

Devuan is a GNU/Linux system which avoided the adoption of systemd. So it seems to lack the installation parameters for the classic init.d system.

#### System:
root@server:/opt# lsb_release -a
No LSB modules are available.
Distributor ID:	Devuan
Description:	De

[2019-06-06 15:50] modem7 commented on #6227
@cakrit I certainly did, but I had a thought and it seems it was an ID10T error.

I've recently set up a pi-hole, and it was blocking storage.googleapis.com.

FML.

:D - Thanks for testing though! The label is perfect!

[2019-06-06 15:50] #6227 closed

[2019-06-06 16:05] vlvkobal commented on #5744
@kralewitz have you got any updates on the issue so far?

[2019-06-06 17:20] archisgore commented on #6185
We found nothing yet on our side. I've not got a machine running this build in a loop 24/7. About 3-4 builds per hour. When it reoccurs, I've got probe scripts to download a lot of files and cache them. Just in case.

[2019-06-06 20:07] stevenhrabok opened #6232 "Export on alert"
##### Feature idea summary
Requesting a configuration option to automate export of netdata snapshot when any warning/critical alerts occur to a storage destination (local filesystem/AWS S3 bucket/other providers).

In some cases alarms cannot be responded to within the default retention window (~1 hour) and instead of increasing the duration or creating a centralized netdata solution having snapsh

[2019-06-06 21:51] paulkatsoulakis commented on #6083
bump @titpetric -- any luck?
I need to close the sprint and looking to conclude with your issue, thanks !

[2019-06-06 22:01] paulkatsoulakis commented on #5922
Hi @donets420, my apologies for the late reply on this one.
Could you provide answer @cakrit feedback questions so that we can pick it up?

Quoting the questions again:

[code]

[2019-06-06 23:36] valyala commented on #5619
I installed all the required dependencies and now it works. I see a lot of the following metrics in VictoriaMetrics now:
[code]

[2019-06-07 05:52] manjotsc commented on #6228
Followed and working, I had to change blind from "127.0.0.1" to "192.199.40.1" to my pfsense IP address.
Thanks for helping.
![Annotation 2019-06-07 015029](https://user-images.githubusercontent.com/51430971/59083835-e47fe580-88c6-11e9-8b49-889f960d2228.png)

[2019-06-07 07:08] titpetric commented on #6083
I just re-ran it, and here's the full output:

[code]

Hopefully it helps. Thanks for the bump.

[2019-06-07 07:13] titpetric commented on #6083
Also I think you'd get the same result as a reproduction if you'd run debian:jessie in a docker container and replace the os-release quoted above. It's missing ID_VERSION or something, while the docker image already provides it:

[code]

[2019-06-07 08:06] cakrit opened #6238 "URL Parser changes, correct health cmd api conditions to create silencer"
https://scan4.coverity.com/reports.htm#v42935/p15826/fileInstanceId=62007025&defectInstanceId=11095378&mergedDefectId=341303

[code]

e.g.
[code]

This is happening because the conditions above those lines have been modified to use `lvalue`, but the initializer still has the old conditions:

[code]

[2019-06-07 08:07] cakrit commented on #6238
I also don't understand why `strncmp` is needed at all, if the strings are properly null-terminated.

[2019-06-07 08:13] cakrit commented on #6232
Thanks @stevenhrabok. As this is almost (but not quite) a duplicate of  #3973, I will close it, but please go through it and put your additional ideas there. I'm sure the discussion will trigger some more thoughts too. It's definitely on our roadmap.

[2019-06-07 08:13] #6232 closed

[2019-06-07 08:13] cakrit commented on #6232
Oh, and thanks for your kind words! :)

[2019-06-07 08:27] mfundul opened #6239 "netdata daemon collectors stuck"
##### Bug report summary
Netdata daemon can get stuck during collection or during shutdown.
##### OS / Environment
Ubuntu Linux 18.04
##### Netdata version (ouput of `netdata -V`)
netdata v1.15.0-66-nightly
##### Component Name
database/engine
##### Steps To Reproduce
Use small pages and create and delete a lot of IPC message queues.
##### Details
Stack trace during collection:
[code]
Stack trace

[2019-06-07 08:30] #6228 closed

[2019-06-07 08:48] #5619 closed

[2019-06-07 08:50] vlvkobal commented on #5619
Thank you @valyala! The PR is merged.

[2019-06-07 09:23] mfundul commented on #6239
This only happens when `memory mode = dbengine`.

[2019-06-07 10:06] #6104 closed

[2019-06-07 10:06] #6239 closed

[2019-06-07 11:01] thiagoftsm commented on #6238
This is a habbit to avoid buffer overflow, but I already create the PR(#6242) to fix this.

[2019-06-07 11:52] rickatnight11 commented on #1642
Hey, @thiagoftsm!  We've long since switched to another metrics solution, but when we used OpenTSDB, we did, indeed, use a separate process to terminate HTTPS and reverse-proxy to OpenTSDB, which does not natively support HTTPS.  I believe this is standard practice in the industry.

[2019-06-07 11:57] #6238 closed

[2019-06-07 12:02] thiagoftsm commented on #1642
Hi @rickatnight11 , I could see this! After to develop the functions to use the HTTP API, I am working with proxies to test the SSL.
I cannot confirm this is "standard pratice" as you defined, but after to bring the HTTPS to Netdata, I can say for you that the documentation of the libraries to TLS in normal situation is not good, so this postpone the implementation.

Best regards!

[2019-06-07 12:05] rickatnight11 commented on #1642
Understood. If it helps, any reverse-proxy implementation (like Nginx or even an AWS ELB) should do it.

[2019-06-07 12:11] paulkatsoulakis commented on #6083
Ok so it's clear that is the development version that messing things up.
We are not suppose to support development versions, so i think the only work around would be to tweak your /etc/os-release to point to a proper ID so that the installer can do its job properly.

If that solves your issues, then i think we can call it complete :D

[2019-06-07 13:14] mfundul commented on #6213
This is blocked until we implement variable granularity metrics, data blobs and metrics map.

[2019-06-07 13:41] gpapamathND opened #6243 "Scope of 1.16-rc2"
### After this sprint our users will be able to
- [ ] Disable alerts in a simpler way - @thiagoftsm
- [ ] Monitor VMWare machines and ESXI hosts - @ilyam8
- [x] Monitor dnsmasq dhcp leases - @ilyam8
- [x] Collect [pi-hole](https://pi-hole.net/) statistics - @ilyam8
- [x] See more detailed CPU performance metrics - @vlvkobal
- [ ] use TLS encryption on backends - @thiagoftsm
- [ ] Document detailed

[2019-06-07 13:42] #6159 closed

[2019-06-07 14:01] Faustino50-Cattaro opened #6244 ""Missing charts" on v1.15.0-70-nightly (**solved**)"
##### Bug report summary
We have a few server with Netdata installed on it.
Some servers have precedent version such 1.14 or 1.15.0.63
2 servers have the latest version but in my customized dashboard them doesn't appear (see images)
![123](https://user-images.githubusercontent.com/50456329/59109508-788c9400-893d-11e9-845b-4fe054745e70.png)

If I go on the full page, I can see the whole Netdata wit

[2019-06-07 14:18] DenHerm commented on #6244
Even the main https://my-netdata.io/ page seems to have the issue:
![image](https://user-images.githubusercontent.com/51485122/59110619-ca361e00-893f-11e9-9a31-2dd0e09c668d.png)

[2019-06-07 14:49] cakrit commented on #6244
We just noticed it about 30 min ago ourselves. It has to do with the new URL parser. We'll have the fix on tonight's nightly.

[2019-06-07 14:49] Faustino50-Cattaro commented on #6244
OOF

[2019-06-07 15:17] cakrit commented on #6244
We're removing the commits related to the URL parsing and publishing a new nightly. @paulkatsoulakis will comment here when it's done and running on the netdata servers. Apologies guys, we must have tested ~400 URL requests and didn't notice the problem until today. Will ensure we get a good automated API test coverage embedded in our CI in the next couple of weeks.

[2019-06-07 15:20] paulkatsoulakis commented on #6244
Hello all, we just revert the root cause for this issue.
We 'll be building a new nightly version ASAP and let you know here to update again.

Sorry for the inconvenience guys, just to let you know we are *already* working on more longer term solutions for live testing within our internal CI/CD lifecycle so that we eliminate such embarrassing situations. In the meantime, we 'll do our best to atte

[2019-06-07 15:48] archisgore commented on #6185
To check in... I've got a script running 15 builds per hour. I saw one repro, but my probe didn't capture useful data. I've modified the probe and it's running. When it repeats, we have a script that'll curl all the various Alpine mirrors (including ours), along with the scrambling repo, and look for symptoms or discrepancies. All logs/metrics on our service seemed nominal during all incidents and

[2019-06-07 15:50] DenHerm commented on #6244
Also FYI, soon after querying "/api/v1/chart?chart=system.cpu" and/or "/api/v1/chart?chart=apps.cpu" with data-dimensions="antivirus"
netdata on the affected hosts (6) started to run at 100% CPU
![image](https://user-images.githubusercontent.com/51485122/59116481-ef308e00-894b-11e9-8507-2db1c9fd8a73.png)
Nothing in the netdata error log - only a 404 notice in the access log:
'DATA' (sent/all = 68/

[2019-06-07 15:55] cakrit commented on #6244
We're pretty certain that the unreasonable CPU utilization and occasional segfaults are both the effect of the same root cause. You could see either or both after a mishandled query to the API

[2019-06-07 15:59] mfundul commented on #6244
Another question, what `memory mode` are you using?

[2019-06-07 16:22] DenHerm commented on #6244
Default "save" mode.

[2019-06-07 16:47] paulkatsoulakis commented on #6244
@DenHerm Could you please update to latest netdata and let us know if your problem is attended?

[2019-06-07 16:57] DenHerm commented on #6244
Charts are working again. Great stuff!

[2019-06-07 17:03] paulkatsoulakis commented on #6244
That is great to hear @DenHerm!
By all means do let us know if anything else weird happens and we will gladly jump in and solve it again.

One more time on behalf of the netdata team, we 're sorry for this inconvenience.
We strive hard to secure our releases from such situations, but this is still an on going effort with many fronts to cover!

[2019-06-07 17:47] thiagoftsm commented on #1642
Thank you! We used the nginx as reverse-proxy and our tests worked fine, now the code will be test by other coworkers and probably the next version will have the support to HTTP(S) already there.

[2019-06-07 20:43] EdgardoSchiffer opened #6246 "High CPU Usage and stop working with apache proxypass"
##### Question summary
I recently installed netdata on a 6 server enviroment, and it works fine on all servers but one, the task of this server is to listen and answer to (around) 25k sockets concurrently. For the access to netdata of each server, I configured in the server which resolves my DNS some proxypass rules on apache, and the problem with this last server is that when I access via the DNS

[2019-06-07 20:58] ilyam8 commented on #6246
Hi @EdgardoSchiffer

i think you faced same problem as in https://github.com/netdata/netdata/issues/6244#issuecomment-499938637

which is fixed in latest version.

Could you update your netdata and check if the problem is gone?

[2019-06-07 21:37] EdgardoSchiffer commented on #6246
Thanks, seems to be fixed.
If the issue persist I'll let you know.

[2019-06-07 21:44] ilyam8 commented on #6246
@EdgardoSchiffer nice the problem is solved, sorry for this :cry:

i am closing the issue in favor of #6244

[2019-06-07 21:44] #6246 closed

[2019-06-08 12:38] kralewitz commented on #5744
My maintenance window for the upgrade got pushed back, so not yet. Sorry :( I'll try to schedule it for this week, not sure it will get approved though.

[2019-06-08 16:09] gamefundas opened #6248 "Elasticsearch plugin error - 'module' object has no attribute 'Retry'"
##### Bug report summary
Elasticsearch plugin fails to load and the following error is reported in netdata logs. I am using ELasticsearch 7.1.0

2019-06-08 13:50:33: python.d INFO: plugin[checker] : elasticsearch : checking
2019-06-08 13:50:33: python.d INFO: plugin[checker] : elasticsearch : source successfully loaded
2019-06-08 13:50:33: python.d INFO: plugin[checker] : elasticsearch : found con

[2019-06-08 17:06] chkch commented on #6229
Thank you, I think I have got the answer I want.

[2019-06-08 17:06] #6229 closed

[2019-06-08 22:40] panpansh opened #6249 "SOLVED - SMTP configuration transport"
like this tool I use from a nodejs app : https://nodemailer.com/smtp/
I can define directly the transport like that :
[code]
It can be nice to have the same possibility 👍
Best Regards.

[2019-06-09 08:20] ilyam8 commented on #6248
Hi @gamefundas

you need to update `urllib3` python pacage

see https://github.com/netdata/netdata/issues/5182

[2019-06-09 08:48] #5823 closed

[2019-06-09 08:56] paulkatsoulakis commented on #6244
As the issue has been mitigated and no further reports have been seen, i will be resolving this.
Do not hesitate to reopen the issue or report a new one, if something goes wrong with Netdata again.
We 'll be glad to help, cheers!

[2019-06-09 08:56] #6244 closed

[2019-06-09 08:59] #5967 closed

[2019-06-09 09:01] paulkatsoulakis commented on #6083
Hi @titpetric, i 'll be resolving this for now. Hopefully the above recommendation does attend the peculiar situation in your installation.  Do let me know if this is not the case though and we 'll look into it further.

Cheers!

[2019-06-09 09:01] #6083 closed

[2019-06-09 10:20] svdblom commented on #5344
Thx, i was searching for this, but it is not working.. i see only one IPMI in the menu.

[2019-06-09 17:28] #6102 closed

[2019-06-09 17:38] Leosirth commented on #5823
Hi @paulkatsoulakis

I see nightly just triggered and I just updated netdata:

`v1.15.0-81-gabdd4b0e`

I mounted the docker socket with write permission, the PGID was already set, but I get the same issue and result.

docker python module is still missing and container names show IDs.

[2019-06-09 18:24] paulkatsoulakis commented on #5823
Hi @Leosirth, you also need to mount docker binary, so that netdata can use it to handle the translation of IDs to names for containers.

If you check [here](https://docs.netdata.cloud/packaging/docker/), you will notice we have added the following line also:

[code]

I am checking now the python package issue you mention, that sounds like a different thing all together and likely not related to t

[2019-06-09 18:40] Pratik32 opened #6250 "Support Veritas file system(VXFS)"
##### Question summary
Can it monitor performance of Veritas filesystem (VXFS)?
I went through the project's summary page, I can see it supports VxVM but not VXFS.
I would like to ask if you have any plans of supporting it with VXFS.
I work on VXFS as developer, would like to contribute towards the project by enabling the support.
Kindly respond.

[2019-06-09 18:57] Leosirth commented on #5823
Hi @paulkatsoulakis

I have already mounted the docker binary as asked previously on this issue.
I can invoke docker from inside netdata container.

I think the issue is still the permission on the docker socket.
This is the netdata ids:

`uid=201(netdata) gid=201(netdata) groups=201(netdata),201(netdata)`

While the docker socket has PID and GID 0

Regarding the python package I this it's not rel

[2019-06-09 21:18] vboufleur opened #6251 "Starting netdata official container fails with `addgroup: gid '999' in use`"
##### Bug report summary

Starting the official `netdata/netdata` image always fails with this in the container logs:
[code]

##### OS / Environment

Linux, x86_64

##### Netdata version (ouput of `netdata -V`)

Official `netdata/netdata:latest` image : `sha256:d8e252f8152a3609eef5f7b44b4ee88f0968cdbab1bef4f774a6b587239f817a`.

##### Steps To Reproduce

Just starting the container is causing this.

[2019-06-09 22:13] vboufleur commented on #6251
I fixed it by removing this environment variable that was set in the container: `PGID=999`

[2019-06-09 23:29] Wing924 opened #6252 "expose system start time instead uptime"
##### Feature idea summary

Currently, netdata expose system uptime via `System Uptime` and `netdata_system_uptime_seconds_average` metric.
There are 2 problems:
* This chart is not useful because it just show a straight line. A single text can represent it.
* For prometheus backend, it's better to expose system start time instead of uptime.
  *  `system start time` is constant unless restart syst

[2019-06-09 23:44] Korni22 commented on #6251
While I am far from an expert, I encountered the same problem and I think this might be the culprit:

https://github.com/netdata/netdata/commit/0a509325e3c967ae679ae2f27dc480edb5a1dc77

Can any dev maybe help? 😊

[2019-06-10 01:21] D34DC3N73R commented on #6251
I'm also having this issue even after changing /var/run/docker.sock:/var/run/docker.sock:ro to /var/run/docker.sock:/var/run/docker.sock:rw

[2019-06-10 01:51] D34DC3N73R opened #6253 "addgroup: gid '999' in use"
I get the following error when trying to start a netdata container now.
[code]
I've changed /var/run/docker.sock:/var/run/docker.sock:ro to /var/run/docker.sock:/var/run/docker.sock:rw as outlined [here](https://github.com/netdata/netdata/tree/master/packaging/docker).

##### OS / Environment
Ubuntu 18.04
##### Netdata version (ouput of `netdata -V`)
netdata/netdata:latest
##### Steps To Reproduce

[2019-06-10 07:35] ilyam8 commented on #6250
Hi @Pratik32.

I went through the project's summary page, I can see it supports VxVM but not VXFS.

Yes, you are right, there is not support for VXFS atm.

This is great :+1: 	@vlvkobal

[2019-06-10 08:03] ilyam8 commented on #5916
@andrebeltrami 	if you have any questions feel free to reopen

[2019-06-10 08:03] #5916 closed

[2019-06-10 08:49] cakrit commented on #6249
Are you suggesting a new/addition email notification method for alarms that instead of using `sendmail` ([see here](https://docs.netdata.cloud/health/notifications/email/)] connects directly to an SMTP server?

[2019-06-10 09:14] cakrit commented on #5344
I looked at the code again, it's because even the second one would send exactly the same chart.
There's no workaround that will work then, we just need to change the code, to support additional hosts.
Modifying the title and putting this on the backlog.

[2019-06-10 09:27] archisgore commented on #6185
We've finally narrowed down the problem on our side (or at least one problem, that the probes caught.) We're fixing it now.

[2019-06-10 09:35] paulkatsoulakis commented on #6253
Hello @D34DC3N73R, thanks for reporting this!
Let me touch base with netdata image state and i 'll let you know

[2019-06-10 09:39] paulkatsoulakis commented on #6251
Hello @vboufleur, we don't explicitly set PGID=999 on our docker image.
Could you elaborate a bit more where did you spot this action?

From what i see, docker image already has group 999 assigned so you need to probably choose a different group id

[code]

[2019-06-10 09:41] paulkatsoulakis commented on #6253
If that is okay i will reference #6251 and close this so that we have a single issue to conclude with the troubleshooting.  Thanks again for reporting this and we 'll catch up the resolution of the issue on #6251

[2019-06-10 09:41] #6253 closed

[2019-06-10 09:52] paulkatsoulakis commented on #6251
Here's what i tried to do and it worked:

I created my docker group on my macbook, then i ran the command ```dseditgroup -o read docker```, i get this group id of docker and pass it to the docker image like so:

[code]

The image starting up properly, i can access netdata and container names are resolved properly.

In your case, i understand that you use group ID 999 that already exists on the doc

[2019-06-10 09:52] paulkatsoulakis commented on #6251
let me know if i miss anything though, i am not negative that we may have an issue here

[2019-06-10 10:16] paulkatsoulakis commented on #5823
Hi @Leosirth yes for that separate issue on the python package, i think it would be better to reported on a new issue to distinct the use cases.

As a first step about this issue, please make sure you pull the latest docker image by doing a `docker pull netdata/netdata`.  Then make sure you have switched your docker compose as we said to have `rw` instead of `ro` on the docker socket mount command

[2019-06-10 10:49] paulkatsoulakis commented on #6185
Great news @archisgore thanks for attending this on a timely manner!
Let me know once this is resolved

[2019-06-10 11:47] gamefundas commented on #6248
Awesome. That resolves it.

[2019-06-10 12:30] UltimateByte commented on #6108
Awesome, thank you @vlvkobal !

[2019-06-10 12:47] UltimateByte commented on #2501
After a couple of years, I find it convenient to have I/O showing some CPU usage, it usually correlates to load and helps seing system bottlenecks.

So you were all right, nothing to change here.
Thank you all for taking time to discuss this suggestion.

[2019-06-10 13:01] mfundul opened #6254 "Netdata variable granularity support in dbengine"
##### Feature idea summary
Netdata variable granularity support in dbengine.
##### Expected behavior
dbengine API will need to implement API calls than enable variable granularity of data collection frequency of metrics collected by netdata or other API users (see #6255).

[2019-06-10 13:01] #6148 closed

[2019-06-10 13:10] mfundul opened #6255 "Netdata variable granularity support in netdata daemon - with basic unit testing"
##### Feature idea summary
Netdata variable granularity support in netdata daemon.
##### Expected behavior
Allow users to change data collection frequency of metrics without:
- deleting older chart data
- invalidating existing alarm data
- affecting streaming
- invalidating web server data queries of older data
- affecting backends

[2019-06-10 13:11] METAJIJI commented on #6006
Plugin for phpdaemon which i use
[code]

[2019-06-10 13:15] ilyam8 commented on #6006
@METAJIJI could you check what info phpdaemon reports via [http endpoint](https://daemon.io/docs/en/#apps/serverstatus)?

[2019-06-10 13:18] METAJIJI commented on #6006
I provide example data inside plugin code :)
[code]

[2019-06-10 14:15] ilyam8 commented on #6006
@METAJIJI that is the data from `phpd fullstatus`, i was asking about data from http endpoint.

Oh, i see from the docs that the data is the same.

[code]

[2019-06-10 14:47] vlvkobal commented on #6108
Thank you @UltimateByte for reporting the issue!

[2019-06-10 14:51] ElCoyote27 commented on #6250
Hi @Pratik32 I'm using Netdata on vxfs RHEL7.x machines. There aren't many metrics but it works out of the box. If netdata could make use of vxstat, then I'm sure the stats would be better.

[2019-06-10 14:55] ElCoyote27 opened #6256 "RFE: Minor change to the spec.in file in order to help with building rpms on RHEL"
Hi,

In order to easily build rpms of netdata on RHEL7.x, I have to use that patch (you cannot use dashes in an rpm version):

[code]
Please consider change the `Version:       @PACKAGE_VERSION@` line.
Thank you,
Vincent

[2019-06-10 15:07] Pratik32 commented on #6250
Hi @ElCoyote27 , VXFS has different types of metrics that we can use for its performance  analysis. e.g vxfsstat - this is a counters based utility that we can use for performance measurements. We also have other utilities to determine fragmentation `index.`
So, apart from vxstat(which measures disk/vol performance btw) we can do allot of other things with above mentioned utilities(there are many

[2019-06-10 15:54] D34DC3N73R commented on #6251
I'm not sure exactly what changed but setting the group to 999 works with previous releases, even with ping sharing the same group number.

On v1.15,0
[code]
with netdata/netdata:latest the container won't start and reports the error
[code]
If the PGID environment variable is removed, the container will start, but container names are no longer resolved.
[code]

I suspect this is only a problem whe

[2019-06-10 16:10] paulkatsoulakis commented on #6251
I see. As a first clarification, group 999 was just an example in the documentation.
It's a bit surprising how we ended up depending on that.

The current implementation is correct, though i understand the problem that was raised that i did not see it coming and i will work around it.

I will investigate a possible solution and let you know asap

[2019-06-10 16:41] makutamatey opened #6257 "Creating a custom dashboard for netdata"
I have a master/slave netdata architecture which currently works well. But I want to create a custom dashboard to display all the servers on one screen/dashboard. I have disabled the databases of the slaves before connecting them to the master. My question is do I have to enable all the databases of the slaves before I can create a custom dashboard to display the dashboards of all the slaves on on

[2019-06-10 16:42] D34DC3N73R commented on #6251
I think it has to do with the docker install on Ubuntu (and possibly other distributions) defaulting to 999 when not in use.

[2019-06-10 18:03] wcallgair opened #6258 "Q: Is it possible to compile netdata with freeipmi-devel but not require freeipmi?"
I am trying to have one rpm monitor our virtual machines and also our hardware. It seems that compiling netdata with freeipmi-devel will also add free ipmi to the installation dependencies.

I would rather not install freeipmi on my vms and manage this dependency with ansible.

Commenting out 'Requires: freeipmi' seems to break integration. Is it possible to build netdata for redhat with ipmi supp

[2019-06-10 19:04] #6258 closed

[2019-06-10 19:05] wcallgair commented on #6258
Closing. The comment above did fix the issue btw

[2019-06-10 20:24] ElCoyote27 commented on #6256
BTW, this gives me a nice easy way to build rpms that auto-update fine when the update is pushed to my local repos:

`$ ls -l */netdata*-1.15*
-rw-r--r--. 1 root root 3684234 May 25 00:33 SRPMS/netdata-1.15.0.15-20190525.1.el7.src.rpm
-rw-r--r--. 1 root root 3740184 Jun 10 15:14 SRPMS/netdata-1.15.0.84-20190610.1.el7.src.rpm
-rw-r--r--. 1 root root 2018056 May 25 00:33 x86_64/netdata-1.15.0.15-201

[2019-06-10 20:26] ElCoyote27 commented on #6256
e.g:
[code]

[2019-06-10 20:26] ElCoyote27 commented on #6256
And:
[code]

[2019-06-10 20:28] archisgore commented on #6185
So here's what happened, and it's a weird one. This is the bug details from our internal issue which may be private for the outside:

Netdata faced this issue: https://github.com/netdata/netdata/issues/6185

After a LOT of debugging it was apparent that:
1. ELB metrics don't display the timeout.
2. There was no latency regression.
3. No server load or request load.

What is most likely happening i

[2019-06-10 20:29] archisgore commented on #6185
We're now merging and deploying this fix.

[2019-06-10 20:57] AlexandreLicinio commented on #6257
If i understand well you @makutamatey, please have a look at [https://github.com/netdata/netdata/issues/5973#issuecomment-491716200](url) you know how to stream, i explain how to watch from a single html page multiple netdata instances (streaming/replication behaviour).

[2019-06-10 21:15] ilyam8 commented on #6257
No, you do not. You can request the slave data from the master.

See @AlexandreLicinio 	[comment](https://github.com/netdata/netdata/issues/5973#issuecomment-491716200)

[2019-06-10 22:57] phact commented on #3101
I took a stab at this a few years ago. I was using DSE at the time but the same approach should work with C* given that it was just using JMX.

https://github.com/phact/dse-netdata-agent

Something to consider: cassandra has thousands of metrics and hitting jmx every second (to get the realtime benefits of netdata) may affect cluster performance. The statsd approach may be more performant if we ca

[2019-06-11 06:25] paulkatsoulakis commented on #6185
I think its time you start using netdata and let us know of the collectors required :)

[2019-06-11 06:39] paulkatsoulakis commented on #6256
Hello @ElCoyote27 ! That is some pretty valuable info, love it, thanks!

I am actually working during this sprint on fine tuning our spec file and get it up to date with the latest stuff that going around with netdata. We are in the process of generating our own binary packages repositories.

I will resolve this issue and link it to #5969 as a resource. By all means do not hesitate to provide furt

[2019-06-11 06:39] #6256 closed

[2019-06-11 07:12] paulkatsoulakis commented on #6251
Hello all,
  I think i have a good workaround. I am preparing a fix as we speak and i will also build and publish a new latest docker image for you to pull. I 'll update the issue here once you 're ready to retry.

[2019-06-11 07:13] h0lzi commented on #6250
Hi,
for i/o stats for VxVM the stuff that is reported to /proc/diskstats already works.
Having more stats is always good. We use netdata on SLES and Redhat for around 30 Vertias/Oracle clusters with vxfs and odm.
with https://github.com/netdata/netdata/issues/4116 netdata made the Naming a little nicer for VxVM nodes.
What would be cool is having "online" paths. But that's VxVM not vxfs :)

[2019-06-11 08:11] paulkatsoulakis commented on #6230
Hello @ieguiguren, thanks for reaching out to us!
In order to efficiently support you, we need to see the complete log of the installation so that we can tell what decisions netdata installer took end to end.

The fact that systemd installation failed, does not mean netdata failed to install.
In the end the installer should have instructed you how you can stop/start the service once done.

I also

[2019-06-11 08:38] vlvkobal commented on #6250
What additional metrics can be collected for the VxFS and in what way? Are there any files we can read, libraries we can use, or queries we can make? While it is possible to use the `vxstat` or other tools and parse their output, this method is the least desirable.

[2019-06-11 08:51] ilyam8 commented on #6250
found this

https://www.veritas.com/support/en_US/article.100021327

the title looks related

[2019-06-11 09:09] ieguiguren commented on #6230
Hi, Paul.

I hope this helps you. The command I ran was:
`
bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates
`

Attached you may find the terminal output of the installation (so far I didn't found a log created by the installer).
[netdata_install.log](https://github.com/netdata/netdata/files/3275588/netdata_install.log)

Yes, that's correct, though it is not installed as a service A

[2019-06-11 09:33] paulkatsoulakis commented on #6251
Nightly build in progress, will update the issue as soon as latest docker image is available

[2019-06-11 09:43] paulkatsoulakis commented on #6165
I just did a review of the homebrew version of netdata and this is interesting.
We need to review the formulae that homebrew using to install netdata (https://formulae.brew.sh/formula/netdata --> https://github.com/Homebrew/homebrew-core/blob/master/Formula/netdata.rb)

Apparently they are not using our netdata installer.  I 'll get back on this once i get more info

[2019-06-11 10:41] gamefundas opened #6262 "How to hide Demo Netdata nodes?"
Is there a way to hide the Demo netdata nodes in Netdata master as the users are confused looking at demo servers worldwide. Couldn't see a property for this perhaps I missed out somewhere in the registry settings.

[2019-06-11 11:20] paulkatsoulakis commented on #6251
Images ready, please check latest docker image and let me know if that now works for you @D34DC3N73R and @vboufleur

[2019-06-11 11:47] vpapas commented on #6149
Hi @ilyam8,

I've tested it ant it works.
Thank you for your quick response.

Vasso

[2019-06-11 12:54] paulkatsoulakis commented on #6230
Hi @ieguiguren, thanks for your inputs!
I think the terminal output is not complete.
Seems like you are missing parts of it.

Could you try executing the following and send me the resulting files? (`/tmp/netdata_installer_output`, `/tmp/netdata_installer_error`)

within a bash shell, execute the following command:

[code]

[2019-06-11 12:59] paulkatsoulakis commented on #5922
Hello, i 'll be resolving this until we manage to get our hands on some feedback.
@donets420 feel free to reopen once you get the chance to provide us with some more details about the problem you are facing.  Also please answer the questions mentioned above by @cakrit, so that we can drive our troubleshooting to the right direction

Thanks for entrusting monitoring to netdata, talk to you soon, ch

[2019-06-11 12:59] #5922 closed

[2019-06-11 13:31] ElCoyote27 commented on #6256
Hi Paul,
Glad to hear it's being worked on. Please don't hesitate to reach out if I can be of assistance.
Regards,
Vincent

[2019-06-11 13:37] jchristgit commented on #2413
Hi @cakrit, I'd like to work on this. We run a moderately sized Riak cluster and are using Netdata with great success so far, we're just missing some information for Riak itself :)

I've started working on a plugin to see which metrics, charts and alarms would make sense based on the module posted by @ilyam8 but I'm a bit unsure about how to structure the metrics that are returned both [per-minute

[2019-06-11 13:55] ilyam8 commented on #2413
@jchristgit usually that is the most difficult part

^^The article is great!

Could you post here metrics from `/stats` endpoint?

[2019-06-11 14:24] paulkatsoulakis commented on #6153
I have identified the root cause of this behaviour, now i am working on understanding the right solution to this. I 'll update once i have a solution at hand

[2019-06-11 14:28] jchristgit commented on #2413
Thanks for the quick reply. It's a bit lengthy, but these are the metrics returned by the `/stats` endpoint for a development instance:
[code]

There's quite a lot here. I think graphing the metrics mentioned in the article is a good start. Alternatively, is there maybe a way to collect all of the metrics, but hide most from the resulting graphs?

[2019-06-11 14:42] ilyam8 commented on #2413
Well, something like that.

So we need to read through the riak metric article and understand what metrics are the most important and how to group them into charts.

[2019-06-11 15:16] Pratik32 commented on #6250
@ilyam8  , Yes that will be useful. in-fact there is an extensive tuning guide for every VXFS release.
@vlvkobal , VXFS does not store any perf data in any files. We generate it on the fly and dump it. like I mentioned earlier - 'vxfsstat' is one of those utility (not to be confused with 'vxstat' which is a VxVM thing.)
Here is the manual page for vxfsstat - [man page](https://sort.veritas.com/pub

[2019-06-11 15:27] jchristgit commented on #2413
I've set up a bunch of simple charts, but it seems like Riak's internal statistics update interval doesn't play very nice with Netdata (or rather, with the charts ?):

![image](https://user-images.githubusercontent.com/22679924/59284820-3466ff80-8c6d-11e9-880f-65a6fdc4e368.png)

It looks a lot better with metrics that are just "passed through" like the internal VM metrics. Maybe using the statisti

[2019-06-11 15:35] ElCoyote27 commented on #6250
It would also be nice if the vxfs tunables could be reported. In some environments, I've used things such as this:
[code]

[2019-06-11 15:40] Pratik32 commented on #6250
@ElCoyote27  Exactly, data produced by vxfsstat can leveraged to suggest smart tuning . whether it is related to I/O , I/O scheduling policies etc.

[2019-06-11 16:03] ilyam8 commented on #2413
@jchristgit i see (almost) all riak stats metrics are calculated over the
last 60 seconds and updated every second, am i right?

UI hides zero dimensions from the chart if at least one dimension is not zero.

[2019-06-11 16:03] vlvkobal commented on #6250
What would be the CPU usage for running the `vxfsstat` utility every second and parsing its output? Isn't there any lower-level method for collecting the counters?

[2019-06-11 16:14] ilyam8 commented on #2413
oh, and we have `riak-kv` and `riak-cs`
 - `riak-kv` - distributed database. `/stats` - https://docs.riak.com/riak/kv/latest/using/reference/statistics-monitoring/index.html
 - `riak-cs` - distributed storage. `/stats` - https://docs.riak.com/riak/cs/2.1.1/cookbooks/monitoring-and-metrics/

[2019-06-11 16:18] panpansh commented on #6249
yeah but I have the solution 👍
Maybe some users can like it then do this :

remove sendmail
install msmtp
make a symbolic link of /usr/bin/msmtp to /usr/sbin/sendmail (default debian location of senddmail)
login as netdata
create and make configuration of ~/.msmtprc (look at the doc it's simple)
it works

[2019-06-11 16:28] D34DC3N73R commented on #6251
The latest image works for me with PGID=999. Thanks!
[code]

[2019-06-11 16:31] archisgore commented on #6185
Yes indeed. :-)

[2019-06-11 16:52] Zolotkey commented on #4891
To help get the ball rolling...

1. Specify the metrics required and how they should be presented in charts.

Table Metrics-
* A chart for each table with the amount of ip's in the chart
* A chart for overall table-entries

Packet Metrics-
* how many  packets/bytes from each block/pass rule in a chart
* how many packets/bytes from each NAT/rdr rule in a chart

State Metrics-
* A chart for how many

[2019-06-11 17:00] ilyam8 commented on #4891
@Zolotkey 	thanks!

is `/sbin/pfctl -s info` enough to get all the metrics from your post?

[2019-06-11 17:13] Zolotkey commented on #4891
These were some of the flags I used in making my metrics ideas.
[code]

```/sbin/pfctl -t <table> -T show``` then count the amount

[2019-06-11 17:18] archisgore commented on #6185
The fix is deployed on our side. We're still in holding pattern with our probes - if there's no repro in 7 days, we'll call it resolved.

[2019-06-11 17:44] jchristgit commented on #2413
@ilyam8

Mostly yes, but from my understanding there are also the `_total` numbers which seem better to use here me. Using these variables, we get the direct data from Riak that it uses to calculate these averages - I think that would be more desirable since the end-user can then graph these as wanted in a backend. The only downside I see currently is the "zapping" graphs, but maybe we can do some

[2019-06-11 17:58] thiagoftsm commented on #5943
This was merged days ago!

[2019-06-11 17:58] #5943 closed

[2019-06-11 18:27] paulkatsoulakis opened #6265 "netdata/daemon: Service down with multiple "too many open files" occurring on DB engine"
##### Bug report summary
As discussed we need to investigate the root cause of netdata crash on one of our demo servers due to maximum open files limit.

- Netdata should not crash when max file descriptors are reached.

- Netdata should allocate a FD budget for dbengine and inform the user of the typical requirements. The user should be able to configure the service FD budget depending on her nee

[2019-06-11 19:01] madhermit opened #6266 "How to remove/unregister a streaming node to prevent the health alarms from triggering"
##### Question summary
Following this guide: https://docs.netdata.cloud/streaming/#monitoring-ephemeral-nodes
What should I do to a ephemeral (slave) node prior to terminating it to prevent the health alarms from triggering?

Thanks!

[2019-06-12 06:24] paulkatsoulakis commented on #6265
We had a fresh use case this time.
Even though we increased the max file descriptors for the service, there was a new crash raised.

logs indicating the max FD change:
[code]

logs around the time of the new crash:
[code]

[2019-06-12 06:28] alexcernat opened #6267 "Registry not working & related issues"
##### Bug report summary
"master / slave" environment, streaming is ok, but private registry doesn't seems to be working
##### OS / Environment
master: Debian 10
slave: Debian 9
##### Netdata version (ouput of `netdata -V`)
master: netdata-core  1.12.0-1 (netdata v1.12.0)
slave: netdata-core 1.12.1-2~bpo9+1  (netdata v1.12.1)
##### Component Name
registry
##### Steps To Reproduce
Master config (da

[2019-06-12 08:00] FGIKCM commented on #3990
Ah, I see what you mean. On my head, "UI" goes with "Apache proxy" / "HTTPS" / "HTTP hardening" / "Authentication" / "Kerberos set-up" / ...
So I wanted to have only a "main" node with all that configured, and other nodes only acting as "data collectors":
- for servers on my internal network: slaves sending data to the main node
- for servers on DMZ: mini nodes with just 19999 port opened, and onl

[2019-06-12 08:08] paulkatsoulakis opened #6269 "netdata/web: layout getting messed up on certain dimensions when resizing the window"
##### Bug report summary
<img width="1440" alt="Screenshot 2019-06-12 at 11 06 28" src="https://user-images.githubusercontent.com/34388743/59334034-4b0b6600-8d02-11e9-8f1a-67d35990f3de.png">
<img width="1299" alt="Screenshot 2019-06-12 at 11 07 16" src="https://user-images.githubusercontent.com/34388743/59334036-4b0b6600-8d02-11e9-86cb-c40dba076b0e.png">

##### OS / Environment
Any

##### Netdata

[2019-06-12 08:24] cakrit commented on #3990
Ok, let me close this one and monitor 3990 and our release announcements for updates.

[2019-06-12 08:24] #3990 closed

[2019-06-12 08:37] cakrit commented on #6267
Looks like you're missing the port 9998 on your master `registry to announce`.
[code]

Regarding the `bind to` section, you've essentially permitted the registry to be accessible via the unix socket (default is to accept all queries) and via the other two ports. So you should definitely not be getting any connection errors, as long as the port is configured properly (needs netdata restart of cours

[2019-06-12 08:42] cakrit commented on #6249
Awesome! Care to make a PR with this addition to the README [here](https://github.com/netdata/netdata/blob/master/health/notifications/email/README.md)? It may be of use to others :)

[2019-06-12 08:47] cakrit commented on #6266
What alarms do you get? I assume you have the master running the health checks and raising the alarms, correct?

[2019-06-12 09:31] alexcernat commented on #6267
Thanks for the quick answer.
Unfortunately, if I add the port to the "registry to announce" option, that setting is exported to the browser, and the browser will ask for registry at port 9998, which I want to avoid (the browser must access only the nginx server on 80 - later ssl on 443, both password protected, netdata ports should not be accessed directly by browser).

Indeed, for now all I need

[2019-06-12 09:51] alexcernat commented on #6267
And let's see if I fully understood about the master/slave and registry.
I was under impression that streaming the data is one process, but the slave must also "register" separately to the master, but seems I have it wrong.

So:
1. ONLY THE BROWSER TALKS TO THE REGISTRY
2. "registration" on master (as putting in the list of slaves) is done automatically on the first streamed data; also "de-registr

[2019-06-12 12:25] panpansh commented on #6249
https://github.com/netdata/netdata/commit/e515ecdd89cdfc559e79c5ff5695308cc8f6fbcc

[2019-06-12 12:27] paulkatsoulakis commented on #6256
will certainly do, cheers!

[2019-06-12 13:11] vlvkobal commented on #6002
@irvintim could you please provide the commands you issued for AWS SDK installation and the error you got while trying to install Netdata? Did Netdata fail to find the libraries on `./configure` or on the linking step?

[2019-06-12 15:30] bdschuster commented on #6251
On Debian 9.9, still having issue even with latest pull.

Netdata entrypoint script starting
Adding group with ID 999 and name 'docker'
addgroup: gid '999' in use
Could not add group docker with ID 999, its already there probably
Adding user 'netdata' to group 'docker/999'
Group creation and assignment completed, netdata was assigned to group ping/999
Adjusting ownership of mapped docker socket '/

[2019-06-12 16:46] madhermit commented on #6266
@cakrit Yes, I have `[health] enabled = no` for the slaves and `[health] enabled = yes` on master.

The alarms that are triggered when terminating a slave server are as follows:
- `memcached_local.cache` last collected
- `web_log_nginx.response_codes` last collected
- `ipv4.tcphandshake` last collected
- `netfilter.conntrack_sockets` last collected
- `ipv4.udperrors` last collected

[2019-06-12 17:43] mfundul commented on #6269
![image](https://user-images.githubusercontent.com/44345837/59373601-aa916200-8d52-11e9-998c-2190dcd391c0.png)
same thing with 1271 pixels width in firefox.

[2019-06-12 18:20] #5186 closed

[2019-06-12 18:32] ivorjvr commented on #6269
Possible fix for it to truncate the name. if you wrap the name in a `<div></div>`

`.someclass{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   max-width: 290px;
}`

[2019-06-12 20:44] modem7 opened #6273 "Two Netdata instances on one nginx"
Hi guys,

I currently have two Netdata instances (one on my raspbian pi, one on my fedora server), and I would like to have Nginx serve a single page where I can access both via the nodes feature.

Currently my condensed version (which doesn't work at all, got it from the Netdata guides) is:
https://pastebin.com/nEWmJwYn

My working single instance is:
https://pastebin.com/1eWWSEG0

I'm honestly n

[2019-06-13 05:54] #5314 closed

[2019-06-13 05:57] paulkatsoulakis commented on #5314
Sorry for not getting aligned with you on time @dbrody2004, we 're glad it worked after all!
We have updated our documentation also with new instructions around this, since we had another report (#5823) with problems around container name resolutions and we had to do small refactors.

Do not hesitate to get in touch with us soon

[2019-06-13 06:10] paulkatsoulakis commented on #5682
1) We are in the process of offering packaging ourselves, on top of what our precious community already does for us
2) We are working on our web presence and cloud offering, that among other things it includes forums and announcements so that we can get closer to our community
3) Pawel was right that maintainers can indeed "watch" our releases from github and get notified

I think we can call this

[2019-06-13 06:10] #5682 closed

[2019-06-13 07:32] cakrit commented on #6249
Excellent @panpansh, thanks! I requested a few changes in the PR, to make it even more awesome. :)

[2019-06-13 07:32] #6248 closed

[2019-06-13 08:06] jchristgit commented on #2413
I've found a solution for the "zapping graphs" and it turned out to simply be changing the default `update_every` interval for the plugin to `2`.

I've also started defining alarms via templates, and put them into `/etc/netdata/health.d/riak.conf`. However, it seems like these are not processed by netdata - the log sadly doesn't say much more than `netdata INFO  : MAIN : SIGNAL: Received SIGUSR2.

[2019-06-13 08:19] cakrit commented on #6267
I started replying twice and got interrupted, finally got around to it.

- The second comment with the list is spot on. Any contributions are always welcome, feel free to add the information in a PR and I'll review/merge.
- Since you access netdata via a proxy, your proxy should be sending the requests for location `/api/v1/registry` to a host:port that accepts registry requests (in your case even

[2019-06-13 09:01] paulkatsoulakis commented on #6251
Hi @bdschuster, thank you for reaching out to us!
If you check [docker install instructions](https://docs.netdata.cloud/packaging/docker/), the section about name resolution, you will see that you need to change your socket to RW in order for this to work.  Please do note that this has some security concerns, so be sure your docker image is well secured!

Cheers!

[2019-06-13 09:01] #6251 closed

[2019-06-13 09:04] cakrit commented on #6266
"Last collected" alarms shouldn't be triggered when a slave is no longer streaming.
Having seen the code for health, I can think of two ways to approach this:
- Hacky way is to ensure that all such alarms and templates have a specific string in the name (e.g. "last_collected" or use in the query "last_collected_secs"). Treat them differently and ensure that the slave is streaming, before raising a

[2019-06-13 10:04] cakrit commented on #6266
@ilyam8 @vlvkobal  @Ferroin and @thiagoftsm I'd like to have your input here as well.

[2019-06-13 10:46] thiagoftsm commented on #6266
I am already working with some Alarms issue at this moment, so I will simulate in my side what happened with @madhermit and I will fix the problem. I agree with you when you say "Better way is to explicitly add a flag to all such alarms, so that they are raised only if the slave is still streamin.g".

[2019-06-13 11:26] #6153 closed

[2019-06-13 11:44] cakrit commented on #6273
What URL do you use in the multiple server version? From should be `https://netdata.mydomain.com/netdata/backend-server1/` to access your pi. Even the trailing slash matters, based on the regex `/netdata/(?<behost>.*)/(?<ndpath>.*)`

[2019-06-13 11:45] cakrit commented on #6273
Oh, and the nodes view isn't related to this at all, we're just talking about the nginx config. You can access the nodes any way you like when signed in and you'll still see both on the nodes view.

[2019-06-13 11:49] #6206 closed

[2019-06-13 11:52] ilyam8 commented on #6206
@naclander i added `dnsmasq_dhcp` collector.

It autodetects all dhcp-ranges reading `dnsmasq` configuration files.

[Readme](https://github.com/netdata/go.d.plugin/tree/master/modules/dnsmasq_dhcp).

![Screenshot_20190613_144410](https://user-images.githubusercontent.com/22274335/59430367-bdf00c00-8dea-11e9-873a-ed4b98258e3a.png)

What do you think?

Could you test it? You need `go` on your syste

[2019-06-13 12:10] #5520 closed

[2019-06-13 12:22] ilyam8 commented on #3179
hey @modem7

could you test it too? you are the pi-hole thing user, i think it uses `dnsmasq` as dhcp server

[2019-06-13 12:23] modem7 commented on #6273
Heya,

Right, so currently (for single instances) I use netdatapi.mydomain.com and netdatahda.mydomain.com

No trailing slashes which is where as you say I'm probably going wrong!

How does one set a baseurl (/netdata) in the config?

[2019-06-13 12:23] ilyam8 commented on #6206
hey @modem7

Could you test it too? you are the pi-hole thing user, i think it uses `dnsmasq` as dhcp server

[2019-06-13 12:29] cakrit commented on #6273
You already set that up in https://pastebin.com/nEWmJwYn
Essentially you have a location called /netdata instead of a location called /. The `netdata` part gets stripped off due to the way the path is parsed here...
[code]
and the request that reaches netdata here:
[code]

[2019-06-13 12:53] ilyam8 commented on #6266
I think the slave should have flag `up/down`, and if the slave is in down state then netdata master should skip its database checking alarms.

[2019-06-13 12:59] ilyam8 commented on #2413
@jchristgit i would prefer to have the collector in `go`, what do you think?

[2019-06-13 13:05] ilyam8 commented on #6206
ok, the problem with that representation that i can't apply alarms for  all dhcp-ranges using template.

I think will i will add two charts (`active leases` and `utilization`) for every dhcp-range, dhcp-range will be the family.

[2019-06-13 14:59] #6230 closed

[2019-06-13 15:07] vlvkobal commented on #5907
@Ferroin do you still have the `config.log` from the failing build? Could you send it to me?

[2019-06-13 15:40] cakrit commented on #6266
This makes me feel like an idiot. Of course this is all we need, we don't need to bother with specific health checks at all. Haven't looked at what we can use to make this determination, we'll need to check the rrdhost struct carefully, in case that logic already exists.

[2019-06-13 15:50] ilyam8 commented on #6206
Changed to

![Screenshot_20190613_184929](https://user-images.githubusercontent.com/22274335/59447540-11268680-8e0c-11e9-8471-9379853966fb.png)

[2019-06-13 15:55] modem7 commented on #6206
Heya guys,

If you could give me a bit of a crash course on compiling the go plugin for netdata, I'll happily test!

[2019-06-13 16:09] ilyam8 commented on #6206
@modem7

Here you go:
 - `git clone https://github.com/netdata/go.d.plugin`
 - `cd go.d.plugin`
 - `make`
 - run module in debug mode

you will see something like this

[code]

To see the charts:
 - stop netdata.service
 - move/copy compiled plugin to the `plugins.d`

 - start netdata.service
 - see the dashboard

[2019-06-13 16:19] modem7 commented on #6206
$ make
go mod download
make: go: Command not found
Makefile:10: recipe for target 'download' failed
make: *** [download] Error 127

[2019-06-13 16:29] ilyam8 commented on #6206
https://drive.google.com/open?id=1Ew3kBemSSHl0cGYFZTsss5e6dgTSs2CF

[2019-06-13 16:42] modem7 commented on #6206
user@Pi:~/go.d.plugin $ sudo su -s /bin/bash netdata
netdata@Pi:/home/pi/go.d.plugin$ /bin/godplugin -m dnsmasq_dhcp -d
bash: /bin/godplugin: cannot execute binary file: Exec format error

[2019-06-13 16:46] thiagoftsm commented on #6266
All right, when I finish the json I will work on this!

[2019-06-13 16:47] ilyam8 commented on #6204
ok, i installed `pi-hole`

that is what i get right after install

[code]

[2019-06-13 16:52] ilyam8 commented on #6206
@modem7 do you use telegram? if yes ping me there (`ilyam8`)

[2019-06-13 17:05] cakrit commented on #6266
It's actually already implemented, but not documented in the README, only in `stream.conf`.

[code]

The default for the master is supposed to be `auto`. @madhermit can you verify that if it's set to auto you don't have an issue? As @ktsaou told me, for this to work, the slave needs to exit gracefully (i.e. netdata needs to stop). If it's a hard failure, the master will keep the connection open un

[2019-06-13 17:33] #6002 closed

[2019-06-13 17:36] madhermit commented on #6266
@cakrit Confirmed that in my `stream.conf` on the master I have `health enabled by default = auto`.
I just tested this again by terminating the slave and received notices for the above mentioned 5 alarms.
They immediately went to `needs attention` (ignoring the delay my `every` setting in the `last_collected` alarm config should have produced). Then 120 seconds later (the value for the `every` set

[2019-06-13 17:37] vlvkobal commented on #6002
@irvintim Could you check the installation instructions for AWS SDK from #6277? Is the advice applicable to your environment?

[2019-06-13 17:43] madhermit commented on #6266
@cakrit so rereading your post, it sounds like the (obvious) solution to my initial inquiry would be to shutdown the slave before terminating it. That makes sense!

[2019-06-13 17:45] irvintim commented on #6196
Hi @cakrit,

Sorry I missed your question in this thread.

The docker container idea isn't bad, but probably ultimately not feasible
since I don't see that scaling very well.

For us, ideally each "host" (I'm defining "host" as anything that runs it's
own operating system -- server, VM, instance, etc. -- and maybe (or maybe
not) containers) would be consistently reflected in NetData.  Our project

[2019-06-13 17:49] irvintim commented on #6002
@vlvkobal,  Sorry I didn't respond more quickly to your first request to
look at this -- I've been out of the office for a bit and and buried right
now trying to get caught up.  I will spin up a new test host today and test
out the installation (and will log everything I do) and will let you know
how it goes.

Thanks for the help with this!

Tim

On Thu, Jun 13, 2019 at 10:38 AM Vladimir Kobal <no

[2019-06-13 17:53] WebLiveVideo opened #6278 "TCP bad data trace out on Keyword TCPAbortOnData-Detecting and alarm"
Hi. For a long time we are using netdata. Very good tool.

My question is about Network Stack and TCP connection aborts. baddata (TCPAbortOnData). We have a server that shows every minute a baddata (see image). However We can not trace this bad data. Could you help use with some tips to detect and follow this baddata?. Thanks
![Errorbaddata](https://user-images.githubusercontent.com/25655370/59455

[2019-06-13 20:29] ilyam8 commented on #6006
guys @METAJIJI 	@donets420 	i am not clear about http endpoint to get `phpdaemon` stats.

Documentation says it is `http:///ServerStatus/` :smile:

i think it is wrong and correct url is `http://x.x.x.x/ServerStatus/`, am i right?

Have you configured `ServerStatus` thing?

The output is very clear and easy to parse. It contains info about uptime and number of workers in different states.

@donets

[2019-06-13 21:22] joelhans opened #6279 "No warning about losing private registry when signing into Netdata Cloud"
##### Bug report summary

When someone's Netdata is connected to a private registry, they will want to know that by signing in to Netdata Cloud, they will use the `netdata.cloud` registry instead of their private registry. If they click the `Sign In` button on the top-right corner, they see this popup:

![image](https://user-images.githubusercontent.com/1153921/59467062-a5c8be80-8de3-11e9-887c-7cc

[2019-06-13 23:46] irvintim commented on #6002
@vlvkobal Those instructions worked great.  Thanks!

[2019-06-14 07:38] cakrit opened #6280 "Update auto closing of issues"
The `stale` label on github issues is added too late to keep a discussion going. By the time we receive the notification that the `stale` label  has been added and look at the issue again, we have to read the whole history to regain context. In addition, the message in the comment of 'no capacity' is wrong, since we never automatically go to stale for bugs, feature requests and help wanted issues.

[2019-06-14 07:49] gpapamathND commented on #6280
I am not sure if 20 days of closing a stale issue is enough.

I would suggest though to put a reminder (for example send an email to the team) for an issue that is about to get closed, in X days.
This is the last chance to re-visit the ticket and take action.

[2019-06-14 07:52] paulkatsoulakis commented on #6280
Reducing the limits sounds fine, we don't want to keep idle issues for too long as it doesn't have any usage. We can adjust the message to prompt the user to reopen the issue if he considers we haven't attended his problem and we can also have a daily report to review with the issues that were closed on a day, in case something was missed

[2019-06-14 08:10] ilyam8 commented on #6280
10 and 20 looks too aggressive for me. Especially `daysUntilStale`.
Imo strategy should be `daysUntilStale` > `daysUntilClose`.

My suggestion is `30/7`.

[2019-06-14 08:27] mfundul commented on #6265
Libuv 1.9.1-3 of debian 9 crashes when there are no available file descriptors:
[code]

[2019-06-14 08:37] cakrit commented on #6280
The reminder IS the marking of the ticket as stale and it goes to everyone who follows notifications. In most situations, an answer or more info is required from the person who opened the issue. But do read until the end, because you may be right that we need an additional reminder, before stale.

Yes, good idea.

We all get notifications, no need for another thing to look at. For me, it's simple.