[2020-07-01 12:34] ilyam8 commented on #8751
@yasharne as a temorary workaround you can do this

[latest version](https://github.com/netdata/go.d.plugin/releases/tag/v0.19.2) support reload (no need to restart netdata if you want to reload go.d.plugin)

[2020-07-01 12:42] thiagoftsm opened #9455 "More options inside `ebpf.conf`"
##### Feature idea summary
We need to add the next new sections and options for `ebpf.conf`:

[code]

The function `read_collector_values` needs to be changed to also parse these new values.

The options related to `ips` and `ports` will need to be converted to linked list in bigendian format to speed up the comparison with data read from kernel ring.

##### Expected behavior

[2020-07-01 12:59] thiagoftsm opened #9456 "Read socket information from kernel ring (network viewer)."
##### Feature idea summary
The ebpf program is already storing socket information inside hash tables , but we need to read them to create the new charts. The following functions are missed now on `network viewer` thread:

- [x] Add function to convert big endian values (source ip, destination ip) into human readable format.
- [x] We will also have function to convert big endian (source port, desti

[2020-07-01 13:10] kaplandani opened #9457 "Netdata doesn't responds. I think it "loads" some cached files for a very long time"
netdata fails to response.
when I check the error.log I see these:

[code]

the folder has 68 mlf files.

I think it tries to load these files forever.

##### OS / Environment
Linux s5 4.19-ovh-xxxx-std-ipv6-64 #871709 SMP Thu Aug 29 08:31:48 UTC 2019 x86_64 GNU/Linux
/etc/os-release:PRETTY_NAME="Debian GNU/Linux 10 (buster)"
/etc/os-release:NAME="Debian GNU/Linux"
/etc/os-release:VERSION_ID="10"

[2020-07-01 13:11] ilyam8 commented on #9455
Have you considered using ip ranges/cidr format? It seems much more natural for IPs filtering.

[2020-07-01 13:39] #9136 closed

[2020-07-01 13:39] #9146 closed

[2020-07-01 13:59] kaplandani commented on #9457
cleared the database folder. netdata now loads, but no response from the web server... timeout.

[2020-07-01 16:29] thiagoftsm commented on #9455
I agree @ilyam8 , and other users already requested feature like this https://github.com/netdata/netdata/issues/8008.
We could use some code from https://github.com/thiagoftsm/iprange as @ktsaou already suggested for a case like this.

[2020-07-01 20:25] andrema2 opened #9459 "Netdata - Pfsense unbound"
Hi

I'm trying to get unbound stats to appear on netdata on my pfsense. Netdata is running and getting a lot of data but unbound.

I looked for the go.d.plugin and it's not installed on the system. I know unbound-control is working and it's generating stats.

To install Netdata I followed the guide for it on Netdata's page.

[2020-07-01 22:21] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

Sorry the delay, I am a little busy since yesterday with a new feature we are working now.

All right, I thought this was happening. If your `SEND_SLACK` is `YES` on master  and netdata is creating the errors:

[code]

It can mean that the current bash version is having problem to interpret the `alarm-notify.sh`

I saw the two files that you attached before, and I think that one

[2020-07-01 22:23] thiagoftsm commented on #9432
Hi @drkt7 ,

Considering your last message, I understand that the problem was fixed and I am closing the issue. Please, reopen it if the problem persists.

Best regards!

[2020-07-01 22:23] #9432 closed

[2020-07-02 00:59] gaia commented on #8967
I'm having the issue now, @prologic

[2020-07-02 08:19] #2620 closed

[2020-07-02 08:42] ilyam8 commented on #2620
thx @Saruspete

[2020-07-02 08:47] amoss commented on #8613
Ah, just like COBOL or Java :) I think we should aim for simple and understandable. There is a strange trade-off in how verbose we make the language.

* When everything is explicit it looks simpler in small cases - because we see everything.
* When a lot of information is implicit it looks more complex in small cases - because we have to know / infer parts.

When the cases become larger it flips a

[2020-07-02 08:49] ki0 commented on #364
Is this stopped? any updates?

[2020-07-02 08:53] amoss commented on #8613
[code]

It is not clear what this is - chart / template etc. We have to infer it from the `{{nic}}` inside some of the fields. This means that the value of the `id` field changes the meaning of the keys higher up in the tree - this could be confusing for users and more difficult to implement.

I think it is simpler to have some kind of keyword earlier that specifies that it is a template,  and som

[2020-07-02 08:56] amoss commented on #8613
Ok, I see how you have specified it from your comments:
* If there is a `{{...}` in the id then it is a template
* If there not then it is a single chart.

This could work - it is quite simple. Do we have any cases were we would want to index by two labels in the metrics?

[2020-07-02 08:56] ilyam8 commented on #8613
For me it is look pretty clear - `nic_{{nic}}_bandwidth` - a chart per nic.

[2020-07-02 08:57] amoss commented on #8613
Yes :) but it also needs to be clear to people who did not design the config language....

[2020-07-02 08:57] ilyam8 commented on #8613
- you do queries
- you have label in result instant vector
- you use labels in templates in `{{}}`

[2020-07-02 08:58] ilyam8 commented on #8613
It is implicitly implied - you need to know PromQL.

Grafana does same.

[2020-07-02 08:58] amoss commented on #8613
What happens to labels that you do not use in the template?

[2020-07-02 09:16] #9430 closed

[2020-07-02 10:07] ilyam8 commented on #8613
If you want a chart per 2 labels you include both of them in the id - `core_{{core}}_{{mode}}_cpu_utilization`.

It is just a template.

Nothing, we ingore them.

[2020-07-02 10:47] ilyam8 commented on #9459
Hi, check this issue

https://github.com/netdata/netdata/issues/8549

Installing - it seem you need to download go.d.plugin yourself

See https://github.com/netdata/netdata/issues/8549#issuecomment-612179807

(download latest - https://github.com/netdata/go.d.plugin/releases/latest)

[2020-07-02 11:13] #8512 closed

[2020-07-02 11:13] #9416 closed

[2020-07-02 12:33] #9405 closed

[2020-07-02 12:49] amoss opened #9464 "Add support for a bulk-data query to the web-server"
#### Summary

Add support for bulk data queries to the web API. Queries will look like this:
[code]

* The returned data will be a single json value encoding an array of dictionaries, one dictionary per chart.
* The `charts` parameter will encode a comma separated list of chart ids. The `,` is a reserved character in URL schemas and may need to be decoded from `U+002C` if the sending agent has enc

[2020-07-02 13:22] andrema2 commented on #9459
HI I was able to download the plugin

if i run ./go.d.plugin -d -m unbound I can see a bunch of statistics coming from unbound, but still after stop and starting Netdata service I don't see it on the page.

What am I missing ?

[2020-07-02 13:29] DeWaRs1206 commented on #9421
`1 - We are not sending all charts from slave to master.`
![Screenshot 2020-07-02 at 15 25 05](https://user-images.githubusercontent.com/11579317/86364484-84e63c00-bc78-11ea-8e19-ac0ec7837f07.png)
As you can see on the screenshot, graph are the same on Master and Slave.

Here is my limits file on the master:
[code]
I have this content for `/etc/systemd/system/netdata.service.d/override.conf`
[code

[2020-07-02 13:30] ilyam8 commented on #9459
i guess it is because you run it as a `root` user, am i right? Try as `netdata` 😄

Check this comment

[2020-07-02 13:31] andrema2 commented on #9459
This is part of the result of the run above

[ INFO  ] main[main] plugin.go:102 instance is started
[ INFO  ] main[main] setup.go:39 loading config file
### **[ INFO  ] main[main] setup.go:47 looking for 'go.d.conf' in [/usr/etc/netdata /usr/usr/lib/netdata/conf.d]
[ WARN  ] main[main] setup.go:51 couldn't find config, will use defaults**
[ INFO  ] main[main] plugin.go:106 using config: enabled 't

[2020-07-02 13:32] andrema2 commented on #9459
As per above it doesn't find some files. But it is using its default.
I guess not find it, makes it doesn't start with the service. What should I do to force it recognize that the unbound needs to start ?

[2020-07-02 13:35] ilyam8 commented on #9459
i see collector extracts all parameters from the `/etc/unbound/unbound.conf`, seems good.

[code]

---

as i mentioned above the problem is permissions - try to run the plugin in the debug mode as `netdata` user

[2020-07-02 13:36] ilyam8 commented on #9459
btw does the plugin prints charts after initialization? Do you see them in the debug output?

[2020-07-02 13:42] K900 commented on #7391
I've experimented with this a bit, and there seems to be an inherent permissions issue with Podman and Netdata - only the user who started the container can access it via `podman ps`, and only root can access the API socket. This basically means that Netdata has to run as root to get meaningful container names, which is unfortunate.

I've got a script working here: https://github.com/K900/netdata/

[2020-07-02 13:43] ilyam8 commented on #9459
@TDJ211 @andrema2

if you guys have time it would be nice to update [unbound module readme](https://github.com/netdata/go.d.plugin/tree/master/modules/unbound#unbound-monitoring-with-netdata) with instruction how to get it working on bsd systems. PRs are welcome!

[2020-07-02 14:05] andrema2 commented on #9459
Ok, so now I've created the go.d.conf and unbound.conf
The line for unbound is uncommented.
This is the result of the ./go.d.plugin -d -m unbound before the statistics starts to show

[ INFO  ] main[main] plugin.go:102 instance is started
[ INFO  ] main[main] setup.go:39 loading config file
[ INFO  ] main[main] setup.go:47 looking for 'go.d.conf' in [/usr/etc/netdata /usr/usr/lib/netdata/conf.d]
[

[2020-07-02 14:16] andrema2 commented on #9459
No there it no charts. Why do you think it is a permission issue ?

I try to look for the unbound.go file. It doesn't exist on my pfsense. Should it exist ?

[2020-07-02 16:03] ekexcello commented on #9363
Hello.
Got same error with Netdata 1.23.1 running on Gentoo (installed with portage).
Attempt to run Netdata logs:
[code]
Netdata crashes with segfault:
[code]
in kernel log corresponding messages (for two starts):
[Thu Jul  2 17:53:18 2020] traps: netdata[80981] general protection ip:7e02e1b985f7 sp:7fff7cd198f8 error:0 in libc-2.30.so[7e02e1a57000+152000]
[Thu Jul  2 17:58:04 2020] traps: netdat

[2020-07-02 16:44] ilyam8 commented on #9459
check logs

(cd to netdata log dir) `grep unbound error.log`

[2020-07-02 17:25] zack-shoylev commented on #9363
@ekexcello Can you uninstall your portage version and try installing through the script to see if it works that way? This will help eliminate possible dependency/portage-caused issues.

[2020-07-02 18:48] andrema2 commented on #9459
Tks, it was looking in a different place for the unbound.conf

[2020-07-02 18:48] #9459 closed

[2020-07-02 19:50] andrema2 commented on #9420
Has anyone tested it ? Does it work ?

[2020-07-02 20:11] andrewm4894 commented on #9464
@amoss one thing might be how we handle charts that capture data on different frequencies and how we can keep track of that without it getting too inefficient.

e.g it i want chart.a and chart.b but chart.a is every 1 sec and chart.b is every 5 sec.

We may be ok to just infer the frequency from the length of `data` perhaps.

But just wondering if this might get a bit crazy if had lots of charts a

[2020-07-02 22:34] tuxity commented on #8384
I have the same issue on all servers (with Netdata Cloud) `10min_dbengine_global_flushing_errors`.

I did the same as @SyntrophicConsortium for now, I will wait to see if the error comes back
[code]

[2020-07-03 03:51] #9133 closed

[2020-07-03 06:51] #9160 closed

[2020-07-03 07:00] jaffcheng commented on #1076
FWIW netdev_budget_usecs is converted to jiffies:
https://elixir.bootlin.com/linux/v5.0.21/source/net/core/dev.c#L6408

[2020-07-03 07:09] amoss commented on #9464
I've avoided duplicating the meta-data into the response to cut down on size. The `update_every` values are part of the chart metadata so the caller could choose to batch by update frequencies in the call.

[2020-07-03 07:13] stelfrag opened #9468 "Localhost multidb compaction process"
#### Summary
Make sure the metadata log compaction sequence works properly with localhost multidb. Each UUID that is written in the metadata log should be under the correct context.

e.g. a metric GUID should be preceded by the correct HOST and CHART context command

In the following sequence

[code]
we have the definition of a chart and dimension under the hosts
- `6d357aac-cb8b-4fcf-aabc-3d24a4a

[2020-07-03 07:45] art1415926535 commented on #7633
---

[code]

[code]

[2020-07-03 07:55] stelfrag opened #9469 "[WIP] Localhost multidb integration testing"
#### Summary
Test the new implementation for the localhost multidb. The configuration on the parent and all the children streaming should set storage dbegine.

Note: version 1.24 refers to the parent version supporting the multidb functionality.

The setup will involve parent and children in the following configuration

##### Before upgrading to version 1.24
1. Setup and parent and child streaming

[2020-07-03 07:57] ilyam8 commented on #7633
https://learn.netdata.cloud/docs/agent/packaging/docker#giving-group-access-to-the-docker-socket-less-safe

[2020-07-03 08:23] art1415926535 commented on #7633
Thanks!

[2020-07-03 09:19] ilyam8 opened #9470 "Generic Prometheus Collector private/auto mode"
### Feature idea summary

Build a generic collector that utilises prometheus metric format for collecting application/micro-service metrics.

Our plan is to have this plugin working ~ [`stats.d plugin`](https://learn.netdata.cloud/docs/agent/collectors/statsd.plugin#statsd-charts).

`stats.d` can visualize statsd collected metrics in 2 ways:
 - `private` charts: each metric gets its own private ch

[2020-07-03 09:46] ilyam8 commented on #7391
just thinking out loud - it sounds like we need _name resolution_ as an external plugin/service? 🤔

[2020-07-03 10:50] ekexcello commented on #9363
Hello @zack-shoylev,
As for installation from source, decision on this is in progress - the system I faced this issue on is production, so manipulating software is not straightforward task. However, I tried to install version 1.23.1 on two other servers that were under maintenance today and have very same configuration. Unpleasant surprise is that on those servers no error appeared with either 1.2

[2020-07-03 11:02] ekexcello commented on #9363
Small update.

Netdata that used to crash with
[code]
works stable with
[code]

[2020-07-03 12:37] K900 commented on #7391
Technically, container name resolution already _is_ an external service, it's just running on a restricted Unix socket. I actually managed to get around it on my machine by doing the docker-socket-proxy dance recommended in the docs for running Netdata itself in Docker, except binding the proxy to a local port and then pointing `PODMAN_HOST` to that (with my changes applied).

@ilyam8 would you be

[2020-07-03 14:40] shoopdawoop opened #9471 "Memory usage went way up with version 1.23.x"
After upgrading from v1.22.0 to v1.23.1 memory usage went up by a lot.

I noticed because the Ubuntu 18.04 LTS VM (VMware Fusion) I tested this on  was running just fine with a single CPU core and 1 GB RAM. After upgrading to v1.23.1 the VM crashed hard (out of memory).

So I tried again (rolled back to a snapshot) but assigned two CPU cores and 2 GB RAM to the same VM.
The update went fine, again

[2020-07-03 14:51] vlvkobal commented on #9471
Please look at the `apps.mem`chart. What group of applications is using the memory?

[2020-07-03 19:39] Saruspete commented on #6523
Hello again :)
Do you have an ETA for this feature ? or an idea of how to implement it, so others can help ?
thanks

[2020-07-03 20:50] prophoto opened #9472 "./go.d.plugin: No such file or directory"
New to Netdata, please bear with me. Experienced Linux sysadmin. Installed Netdata for the first time today on one of my webservers.  Was hoping to monitor OS stats as well as apache custom logs.

##### Bug report summary
Attempting to troubleshoot web_log go plugin. https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin. I've been searching for over 2 hours but can't find any additional do

[2020-07-03 20:57] ilyam8 commented on #9472
Hi. go.d.plugin is not in PATH.

if your netdata is running

[code]

[2020-07-03 21:06] ilyam8 commented on #7391
i meant some thing that we can setcap (linux) or something to avoid running nd from root user or something like that. nd would be just query that name resolution thing.

Feel free to make a PR, will see.

👍

[2020-07-03 21:07] prophoto commented on #9472
[centos@server9 opt]$ ps faxu | grep "[n]etdata"
netdata  19828  0.6  3.7 323240 38064 ?        Ssl  20:21   0:16 /usr/sbin/netdata -P /var/run/netdata/netdata.pid -D
netdata  19832  0.0  0.0  63268   332 ?        Sl   20:21   0:00  \_ /usr/sbin/netdata --special-spawn-server
netdata  19945  0.0  0.0   9692   932 ?        S    20:21   0:01  \_ bash /usr/libexec/netdata/plugins.d/tc-qos-helper.sh 1

[2020-07-03 21:09] ilyam8 commented on #9472
yeah, you have installed it not int `/opt`, see

[code]

So `cd /usr/libexec/netdata/plugins.d/`

[2020-07-03 21:12] prophoto commented on #9472
I just ran your one line installer, where it actually put the files was up to you haha

bash <(curl -Ss https://my-netdata.io/kickstart.sh)

[2020-07-03 21:42] thiagoftsm commented on #8751
Hi @yasharne ,

I apologize the delay to answer, but I am busy with a new feature these days.
We did not merge all changes we are working during the last release. I assigned our developer that is working with the stream for him take a look on this.
@amoss , please, see the comment https://github.com/netdata/netdata/issues/8751#issuecomment-616820633 above with some details about the error that is

[2020-07-03 21:44] prophoto commented on #9472
Ok now I know why the plugin is failing. Netdata is a member of apachelogs. Tried with Selinux set to permissive. Netdata still can't read access_log. Suggestions?

[centos@server9 conf]$ sudo ls -lat /var/log/httpd/access_log
-rwxr-x--x. 1 root apachelogs 17739986 Jul  3 21:42 /var/log/httpd/access_log
[centos@server9 log]$ sudo su -s /bin/bash netdata
bash-4.2$ cat /var/log/httpd/access_log
cat:

[2020-07-04 00:26] ilyam8 commented on #9472
I see it is readable for `apachelogs` groups members, but you get _Permission denied_, it is likely you are right and the problems is SELinux. I have no exp with SELinux so not much help from me 🤷‍♂️

[2020-07-04 05:49] yasharne opened #9473 "portcheck and x509 stop working for a while"
##### Bug report summary

We encountered a strange problem, one a netdata child, we have a few `portcheck` module destination and a few `x509` certificate checks. The system was working as expected until a few days ago (I'm not sure if it is related or not but after updating parents to version `1.23.0`), now every few hours, we start to get lots of `last collected` error from these two plugins. I

[2020-07-04 06:33] K900 commented on #7391
That would have to be `setuid` then and not `setcap` - Podman's rootful socket is `root:root 0600`.

[2020-07-04 07:49] #9187 closed

[2020-07-04 08:32] startryst opened #9475 "Netdata failed to start v1.23.1"
CentOS 6, no any change to the metadata, just update to nightly release automatically, below is the tail of the log when starting netdata:
[code]

[2020-07-04 08:33] startryst commented on #9475
tried of reinstallation by the one line script, couldn't fix as well

[2020-07-04 08:35] startryst commented on #9475
below is another machine(CentOS 7) also encountered the same, attach the tail of the error log:
[code]

[2020-07-04 08:39] startryst opened #9476 "How to change to stable release update after nightly release installation?"
Installed netdata with automatically update and nightly update, but wish to change to stable release, any way to do that rather than reinstall again with `--stable-channel`?

[2020-07-04 09:01] ilyam8 commented on #9473
Hi

Did you check logs?

[2020-07-04 11:58] yasharne opened #9477 "x509 certificate timestamps the metric in the future"
##### Bug report summary

Today is July 4th 15:42 Iran local time but I see future time (July 5th 17:33)in our x509 plugin:
![image](https://user-images.githubusercontent.com/7656049/86511453-a5e09580-be0e-11ea-97a1-cb2eb7f00ba6.png)
It is not happening on all x509 certificates

##### OS / Environment

[code]

##### Netdata version

 both parent and child are `v1.23.0`

##### Component Name

go.d

[2020-07-04 12:14] yasharne commented on #9473
Hi @ilyam8
Yes I did, during the successful collection, I get this output:
[code]
As you can see, between 11:09 to 11:58 (which we had the problem) I didn't see any output in the log file

[2020-07-04 12:16] shoopdawoop commented on #9471
Correction: I was running netdata 1.22.1 before updating to 1.23.1.

The apps.mem chart looks fine to me (Ubuntu 20.04 LTS, netdata v1.23.1).

<img width="160" alt="ub20-apps mem" src="https://user-images.githubusercontent.com/6615875/86512213-614dfd80-be00-11ea-9bc1-70459e976755.png">

Same on the Ubuntu 18.04 LTS VM...

Before (netdata v1.22.1):

<img width="168" alt="apps-mem-18 04-v1 22 1 " sr

[2020-07-04 13:27] yasharne commented on #9473
Also for X509 plugin I didn't find any error and the last log was successful collection of the metrics

[2020-07-04 13:31] camjesus2 opened #9478 "Problem with netdata-updater"
Hi all,
I've been struggling with this issue for the last few days and finally I think I have some useful info.
First, my setup:

4 Debian buster based machines on a 3 childs/1 parent setup. The parent uses ELK backend for long term storage. 1 child is a VM, all others are physical machines. Another child is an OpenMediaVault server for backups. Last child is a SAMBA File Server. All running last

[2020-07-04 13:52] ilyam8 commented on #9473
only go collectors? do you see gaps only only on go collectors charts?

[2020-07-04 13:55] ilyam8 commented on #9477
So the only chart with the wrong date is one of x509check collectors charts? All other charts have correct date?

[2020-07-04 14:01] ilyam8 commented on #9478
There are stock and user directories with config files.

updater overwrites stock config files on every update, you need to make changes in user configs

[2020-07-04 14:14] yasharne commented on #9473
@ilyam8 Yes only go collectors,
I see A LOT of gaps on the go collectors chart, some of them leading to `last collected` errors, e.g.
![image](https://user-images.githubusercontent.com/7656049/86514017-00d0b780-be24-11ea-9dad-b9da997fabc9.png)

[2020-07-04 14:23] yasharne commented on #9473
And also this machine makes a lot of alert causes parent server crash because of high system load.
The parent is only monitoring 51

[2020-07-04 15:27] ilyam8 commented on #9473
did u try debug mode during problem periods?

[2020-07-04 15:45] camjesus2 commented on #9478
According to this:
https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/samba
samba needs to " be explicitly enabled in python.d.conf".

Is the documentation wrong?

Ilya Mashchenko <notifications@github.com> escreveu no dia sábado,
4/07/2020 à(s) 15:01:

[2020-07-04 16:14] ilyam8 commented on #9478
no, it is not wrong, it should be explicitly enabled (`samnba: yes`) in the `python.d.conf`

[2020-07-04 16:15] camjesus2 commented on #9478
Then, again, after I enable it, the updater disables it every morning.

Ilya Mashchenko <notifications@github.com> escreveu no dia sábado,
4/07/2020 à(s) 17:14:

[2020-07-04 16:23] ilyam8 commented on #9478
see my comment

you need to make changes in user config, not in stock (which is overwritten by the updater)

Make changes in the `/etc/netdata/pyhton.d.conf`

[2020-07-04 16:26] yasharne commented on #9477
@ilyam8 Unfortunately this child caused lots of alerts and made a huge CPU load on the parent server and crashed it so keepalive changed the parent node and now I cannot  check the history of the collectors to see if there are other collectors affected as well

[2020-07-04 16:29] camjesus2 commented on #9478
There is no  /etc/netdata/pyhton.d.conf.
Should I copy the "stock" one?

Ilya Mashchenko <notifications@github.com> escreveu no dia sábado,
4/07/2020 à(s) 17:23:

[2020-07-04 16:34] yasharne commented on #9473
@ilyam8 Ilthough I have set the `NETDATA_USER_CONFIG_DIR` to point to the `/opt/netdata/etc/netdata/` directory, when I run `/opt/netdata/usr/libexec/netdata/plugins.d/go.d.plugin -d -m x509check` I get this error:
[code]

[2020-07-04 16:39] ilyam8 commented on #9478
yes, there is `edit-config` script in the `/etc/netdata`

[code]

[2020-07-04 17:55] thiagoftsm commented on #9472
Hello @prophoto ,

I am not sure if this can help, because I am not specialist in SELinux, but I had to use `audit2allow` to enable Netdata to run `ebpf.plugin` on CentOS 7.x . You can find details in this [link](https://learn.netdata.cloud/docs/agent/collectors/ebpf.plugin#creation-of-bpf-policies). Probably you will need to do few steps that I did to also enable Netdata to read these files.

Bes

[2020-07-04 18:22] Vincinator opened #9479 "Add mongo-c-driver to netdata Docker image to support mongoDB exporter"
NetData is amazing. I love it.

To use NetData's mongoDB exporter, the ```libmongoc >= 1.7.0``` library must be installed before NetData is built.
However, the Docker images do not have the required library installed before NetData is built.

##### Feature idea summary
Out of box support for MongoDB exporting for NetData docker images.

Below you will find an exemplary patch that adds ```mongo-c-d

[2020-07-04 18:37] sdeepakbz opened #9480 "KernelCare and Netdata conflicts with kprobe events"
##### Bug report summary

I installed Netdata on cPanel server with KernelCare. KernelCare is unable to apply kernel patches due to kprobe events created by the netdata.
We reached out kernel care support and they investigated the issue with Kernel Care Patch.  Find an image for reference below
http://prntscr.com/tbt6ih
##### OS / Environment

[code]
##### Netdata version

  currently its removed.

[2020-07-04 19:06] ilyam8 commented on #9477
doesnt sound good, any ideas what was the cause? It would be nice if we trace it

[2020-07-04 19:16] yasharne commented on #9477
@ilyam8 I think this issue is related to #9473 which caused a lot of last collected alerts and made a CPU load on the parent

[2020-07-04 19:40] yasharne opened #9481 "Go plugin is not following NETDATA_USER_CONFIG_DIR in version 1.23.0"
##### Bug report summary

We seem to have a problem with child netdatas running version `1.23.0` of netdata with `go.d.plugin` version `0.19.2`.
We always install the prebuilt binary package and had a problem running go plugins because the prebuild binary was looking for the configuration in  `/etc/netdata` or `/usr/lib/netdata/conf.d` whereas the prebuilt package is installed under `/opt/netdata`

[2020-07-04 19:42] ilyam8 commented on #9473
well, 🤷‍♂️, if it was set it would work

https://github.com/netdata/go.d.plugin/blob/c4db41e5edc0f75893dfafec2068aa6022413fe2/cmd/godplugin/main.go#L59-L100

However you can use `-c` option to set modules config dir.

[2020-07-04 19:46] ilyam8 commented on #9481
You need to set both `NETDATA_USER_CONFIG_DIR` and `NETDATA_STOCK_CONFIG_DIR`

see

https://github.com/netdata/go.d.plugin/blob/c4db41e5edc0f75893dfafec2068aa6022413fe2/cmd/godplugin/main.go#L59-L100

[2020-07-04 19:47] ilyam8 commented on #9481
Well, i kind of agree that it could work only with `NETDATA_USER_CONFIG_DIR`, but netdata deamon set both of them.

If you want to debug there is `-c` option.

[2020-07-04 19:52] ilyam8 commented on #9481
However it makes sense and it is very easy to fix, ill do it.

Set both `NETDATA_USER_CONFIG_DIR` and `NETDATA_STOCK_CONFIG_DIR` to get it working with current version.

[2020-07-04 19:56] yasharne commented on #9481
Thanks @ilyam8 m setting `NETDATA_STOCK_CONFIG_DIR` solved the problem

[2020-07-04 19:58] yasharne commented on #9473
@ilyam8  I will set `NETDATA_STOCK_CONFIG_DIR` as well, I hope this will fix the main problem

[2020-07-04 23:51] thiagoftsm commented on #9480
Hi @sdeepakbz ,

On CentOS 7.x I only could run the ebpf.plugin and to install the `kprobes` after I change the SELinux specific configuration. When Netdata installs the `kprobe` it does not block other systems to install their `kprobe`, because we are customizing our entries inside `/sys/kernel/debug/tracing/kprobe_events`.

I will take a look on KernelCare to try understand what it does, because

[2020-07-05 04:04] yasharne commented on #9473
Nope it didn’t help :(

[2020-07-05 09:54] Michkaya opened #9482 "mdstat metric no more updated when checking the raid5 consistency"
##### Bug report summary
Taking a look at mdstat current status for my md1 software raid5 array, it appears not to be updated.
Neither the status nor the percentage are taken into acount.
I'm pretty sure this behavior was not the one i had on june 7th (the last time this check was running)
##### OS / Environment
uname -a; grep -Hv "^#" /etc/*release
Linux Fire 4.19.0-9-686-pae #1 SMP Debian 4.19.1

[2020-07-05 15:28] gustavohw commented on #9363
Had this issue as well, firstly downgraded from `netdata v1.23.1-34-nightly` to `netdata v1.23.1` no luck:

[code]

Settings for storage:
[code]

Resolved by deleting /var/cache/netdata/dbengine as @kaplandani suggested. Lost some metrics but nothing critical.

[2020-07-05 16:33] nikobearrr opened #9483 "How to properly set up netdata registry with docker"
##### Question summary

I am trying to create a registry where I can browse through my netdata nodes through the menu on the left.
I have tried to follow up the guide here: https://learn.netdata.cloud/docs/agent/registry and I have created a small example of what I am trying to run. I am using docker compose with a primary and secondary (primary is the one holding hte registry).

This is my compos

[2020-07-05 17:17] ilyam8 commented on #9473
?

+ `grep go.d error.log`

[2020-07-05 20:08] Michkaya commented on #9482
Can't figure why, but having a look few minutes ago, the display was back running as awaited. I'm confused and apologizing in advance.

[2020-07-05 22:12] gaia commented on #9363
same issue here.

v1.23.1-34-nightly on Debian Buster.

installed from script. uninstalled and re-installed already. at first run after un/install cycle it works for a while. then it stops and the service loops.

PS: added this to the systemd file to keep it from re-trying forever: https://stackoverflow.com/a/39284869

[2020-07-05 22:29] thiagoftsm commented on #9480
Hi @stephenrauch ,

I could identify a problem in the collector that was not allowing the plugin to close as expect. I created the PR #9484 that will fix the problem. When it is merged, you will be able to use `systemctl stop netdata` to install KernelCare and after this you can restart netdata using `systemctl start netdata`.

Best regards!

[2020-07-06 00:52] sdeepakbz commented on #9480
@thiagoftsm there is another concern that the netdata events are still present in /sys/kernel/debug/tracing/kprobe_events file
even after netdata is Uninstalled from the System.
Due to these events kernelcare care auto patch cron always fails including manual patching. If we clean the /sys/kernel/debug/tracing/kprobe_events and kernel patching is successful.

Kernelcare team said that "KernelCare

[2020-07-06 03:15] sdeepakbz commented on #9480
Tried creating a test environment on AWS CentOS 7 image.
Installation gets stuck almost in the end and Instance is unreachable
http://prntscr.com/tcgoi6
http://prntscr.com/tcgpmy

Rebooting the instance boots the server but netdata status show.
systemctl status netdata
● netdata.service
   Loaded: masked (/usr/lib/systemd/system/netdata.service; masked; vendor preset: disabled)
   Active: inactive

[2020-07-06 03:35] fate8383 opened #9485 "MacOS/Catalina memory, swap and net info graphs disappear - after reboot or netdata service restart"
##### Bug report summary
MacOS/Catalina memory, swap and net info graphs disappear - after reboot or netdata service restart. It works all good after brand new installation but after reboot they are gone.

##### OS / Environment
Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
ProductName:    Mac OS X
ProductVersion: 10.15.5
BuildVersion:   19

[2020-07-06 06:22] jacekkolasa commented on #9286
Hi @TheOldMan2000 indeed, there's a bug, it was working before properly. In case you're not aware - you can always access the old dashboard using `/old` suffix. Thanks for the report!

[2020-07-06 06:48] auxua commented on #9443
@ilyam8 You are right - a complete removal and reinstall solved my problem on all machines. Interestingly, I could see the netdata dashboard for a short period of time on one machine. It indicated that netdata was handling nearly 1 million alarms - so maybe during one of the nightly updates it increased that number extremely...

[2020-07-06 06:48] #9443 closed

[2020-07-06 07:24] mjnaderi opened #9486 "python.d stops after a while"
##### Bug report summary

After installing NetData `v1.23.1-34-nightly` on a new server, sometimes I get "last collected" alarms for elasticsearch, redis, postgres, nginx. After that, netdata doesn't collect any metrics for them anymore and I have to restart netdata to fix it.

Corresponding lines from `error.log`:

Started netdata at 17:50. Error occured at 20:10.

[code]

Then I upgraded to `v1.

[2020-07-06 08:05] ilyam8 commented on #9486
Hi @mjnaderi

@stelfrag

Does it mean stats (chart?) `uwsgi_local.memory_vsz` has no dimension with `active` id?

---

And i dont get why id is `actvie`

https://github.com/netdata/netdata/blob/37efe37371ca74671624a84ae2c7f141101a49f4/collectors/python.d.plugin/uwsgi/uwsgi.chart.py#L118-L130

id is always `{}_{}`, should be `memory_vsz_KEY`.

And it is same algorithm for 5 dynamic charts (add dyna

[2020-07-06 08:08] #9482 closed

[2020-07-06 08:52] andrezaycev opened #9487 "Health notification alarm link - 404 not found"
##### Bug report summary

`404 page not found`error after click any Telegram alarm link.

![image](https://user-images.githubusercontent.com/9984761/86574822-61d9c600-bfb1-11ea-8290-48381e90ca67.png)

**Example link**
[code]
Agents claimed in app.netdata.cloud

##### Netdata version

 netdata v1.23.1-38-nightly

##### Steps To Reproduce

1. Claim agents to cloud
2. Click to alarm link in Telegram

[2020-07-06 08:54] stelfrag commented on #9486
Hi @mjnaderi could you grep in the `error.log` to see if there are any mentions of `Forcing compaction of chart`

eg. if on default setup

`grep "Forcing compaction of chart" /var/log/netdata/error.log`

[2020-07-06 08:59] foamz opened #9488 "Correct method to remove host from registry"
We have a private Netdata registry and all nodes in our EC2 environment automatically install Netdata and is configured to stream metrics to the registry. This works beautifully...
The issue we have is when we terminate a node. Since we have two guys that occasionally maintain Netdata and a bigger team of infrastructure guys, it has become increasingly difficult to manage when nodes are terminated

[2020-07-06 09:08] stelfrag commented on #9486
Yes that's what it is trying to find which is strange based on the code you refer to

[2020-07-06 09:22] #9481 closed

[2020-07-06 10:11] E46-S54 commented on #9217
@dim08 @amoss is there any further information around this, please?

[2020-07-06 11:01] sdeepakbz commented on #9480
On fresh AWS + CentOS 7 image installation went fine but it didn't add any kprobe events to the /sys/kernel/debug/tracing/kprobe_events file on the system.
http://prntscr.com/tco76r

However, netdata installation on testing cPanel server also didn't add any kprobe events. But the production server have those events even if netdata is uninstalled.

[2020-07-06 11:03] ilyam8 commented on #9486
@stelfrag i get similar problem
i get

[code]

in the debug mode i see

[code]

i guess the problem is parsing `SET`

[2020-07-06 11:06] mjnaderi commented on #9486
Hi @ilyam8 @stelfrag

No, there isn't any `Forcing compaction of chart` line in `error.log`.

Currently (normal operation after restart), the only charts that have a dimension with `active` id are (Found them using Ctrl+F on netdata's web page, don't know if there is any better method):
- System Active Processes (system.active_processes)
- IPv4 TCP Opens (ipv4.tcpopens)
- Active Connections (nginx

[2020-07-06 11:08] ilyam8 commented on #9486
@mjnaderi could you run uswgi plugin in the debug mode? i want to see charts/dimenstions.

I think we have ~ problem as i [described above](https://github.com/netdata/netdata/issues/9486#issuecomment-654165457).

[2020-07-06 11:28] cakrit commented on #6523
We haven't discussed the options yet. The best approach requires for sure at least a DB that can store timestamp, text, labels. Our time series DB (dbengine) will eventually support all of these, but plugging in null values for almost all the data doesn't seem right. So we may need something different (and much simpler) for this. We'll probably discuss this right after the summer.

[2020-07-06 11:31] stelfrag commented on #9486
In that case the solution would be to wrap the dimension in quotes

[code]

because otherwise the parser will detect the **=** as delimeter

[2020-07-06 11:42] ilyam8 commented on #9486
Hm, python.d.plugin wraps ids

https://github.com/netdata/netdata/blob/37efe37371ca74671624a84ae2c7f141101a49f4/collectors/python.d.plugin/python_modules/bases/charts.py#L23

[2020-07-06 11:43] mjnaderi commented on #9486
It's running for ~20mins without any problem. The regex `\S=` can't be found in the output.

[code]

[2020-07-06 11:45] ilyam8 commented on #9486
That is what i was saying

There is no a way dim id is `active`, it always has prefix `memory_vsz_` 🤔

[2020-07-06 12:36] thiagoftsm commented on #9421
@stelfrag, please, can you confirm that @DeWaRs1206 configuration is enough to have 30 slaves? I am suspecting that either we have a problem with the database configuration or the lock scheme is hurting his system, because it does not make sense after to remove all database files to have the alarms working during 2 hours and after this to stop again.
Thank you!

[2020-07-06 12:37] thiagoftsm commented on #9421
I apologize my mistake @DeWaRs1206 , I closed by accident your issue, but I already reopened it.

[2020-07-06 12:45] thiagoftsm commented on #9487
Your link is correct, so I  think we are having problem on the Cloud side. I assigned your issue to a cloud developer and to myself for we work on this.

Best regards!

[2020-07-06 13:54] DeWaRs1206 commented on #9421
@thiagoftsm no worries.
My Master is an virtual instance hosted on OpenStack (OVH), with 100Go of disk, 15Gb of Ram, 4vCores and public bandwidth of 250Mbps, so I hope this config is enough to handle 30 nodes (I have currently 24 nodes.)
I don't have any alarm raised on the master, disk usage is about 25%
I will disable netdata on none essential nodes and see if there is any changes in term of ala

[2020-07-06 13:56] thiagoftsm commented on #9488
Hello @foamz ,

You are right, we need to improve our documentation related to registry. You can delete entries from your database `/var/lib/netdata/registry/registry.db` or you can use the URL that is written in our source code `/api/v1/registry?action=delete&machine=${machine_guid}&name=${hostname}&url=${url}&delete_url=${delete_url}` to remove entries.

I will copy all URLs that we have inside

[2020-07-06 14:48] Steve8291 commented on #9207
PR #9374 fixed the issue.
I'm closing this.

[2020-07-06 14:48] #9207 closed

[2020-07-06 17:04] lgg42 commented on #8779
I'm interested in this. I could open a PR on the helm chart for claiming nodes. Our cluster autoscales up and down so we fancy this feature in order to use netdata cloud.

[2020-07-06 17:50] fasihb commented on #9451
Hello,
I see that's a setting in the code. How do i update it in my env?

Thanks,
-Fasih

[2020-07-06 18:44] sereeds opened #9493 "tc-qos helper is disabled after error"
Since recent upgrade to Netdata 1.23.1-1, my QOS graphs stop updating after a some time.  Sometimes 4 hours, sometimes 20 mins.  Restarting Netdata is a temporary fix for the issue, but the error occurs and stops the tc-qos helper.
I have multiple machines running the same OS and version of Netdata, all have the same issue with the QOS chart.
I have pasted relevant error:

Is there any way to have

[2020-07-06 19:19] fasihb commented on #9457
yeah, I am facing similar issue as well. when i stop and restart netdata it's taking long time to do that. i can then hit the url and it connects but right away start seeing gaps in the charts. If i come back later and hit the url then it just waits and waits. If i then again restart it works for a while with gaps in charts and then stops working.

I see this behavior only on one server where load

[2020-07-06 19:48] thiagoftsm commented on #9493
Hi @sereeds ,

The script is having problem to with the values it is getting, please, can you inform us your Operate System version for we try to recreate the problem?

Best regards!

[2020-07-06 20:18] sereeds commented on #9493
I am running Arch Linux, which is a rolling release.  Updated today.
I did notice that I was still running firehol 3.1.5.  I have now upgraded to firehol 3.1.6, and I will see if the problem persists.

[2020-07-06 21:48] ThoSap opened #9494 "Alarm notification not sent with kickstart-static64.sh installation"
##### Bug report summary

Hi, it's me again😉
I've set up Netdata Telegram notifications as described here
https://learn.netdata.cloud/docs/agent/health/notifications
and here
https://learn.netdata.cloud/docs/agent/health/notifications/telegram
and found that somehow the test notification works, **but real alarms are not sent** because of the following error message (taken from /opt/netdata/var/log

[2020-07-06 22:09] ThoSap commented on #9494
Maybe PR [#9263](https://github.com/netdata/netdata/pull/9263) did indeed fix the issue with ACLK but I still experience this issue in my kickstart-static64.sh installation because I previously created the symlink as stated here [#8966](https://github.com/netdata/netdata/issues/8966#issuecomment-636676683) and the installer then somehow detected `/etc/ssl/` instead of `/etc/pki/tls/`.
With this di

[2020-07-07 01:52] sereeds commented on #9493
Confirmed the QOS chart stops after some time.
firehol 3.1.6
netdata v1.23.1

2020-07-06 17:16:20: tc-qos-helper.sh: INFO: Loading config file '/usr/lib/netdata/conf.d/tc-qos-helper.conf'...
2020-07-06 17:16:20: tc-qos-helper.sh: INFO: Loading config file '/etc/netdata/tc-qos-helper.conf'...
/usr/lib/netdata/plugins.d/loopsleepms.sh.inc: line 21: 1594077380 * 1000 + 078779334: value too great for

[2020-07-07 02:51] startryst opened #9496 "Run external script when certain alarm is triggered"
I read the doc, it turns out this is from the global setting in `/etc/netdata/netdata.conf`, and the default is `# script to execute on alarm = /usr/libexec/netdata/plugins.d/alarm-notify.sh`.

But I would like to know is, I only need to run my external script when fping of reach certain threshold is reached and alarm been raised, but keep other alarms goes to the default one, is it supported?

[2020-07-07 07:09] stelfrag commented on #9475
I am trying to replicate the

[code]

error

[2020-07-07 07:25] ilyam8 commented on #9496
Hi, i see there is `exec` alarm configuration parameter

https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-exec

[2020-07-07 08:13] yasharne commented on #9473
@ilyam8
As I mentioned earlier I didn't find anything in the logs (it won't log anything during the period of not responding)
But I couldn't run the debug because it mostly happens in the middle of the night and I cannot test it.

[2020-07-07 09:14] stelfrag commented on #9453
The HOST command has been added and supports

-  machine_guid
-  hostname
-  registry_hostname
-  update_every
-  os
-  timezone
-  tags

localhost is handled differently as it doesn't really need the log replay to create the host structure

[2020-07-07 09:46] mjnaderi commented on #9486
Yes, it seems `uwsgi` plugin has no problem. But python.d keeps stopping after a while, every time I restart netdata.

Maybe somehow, it wants to `SET` dimension `active` (which belongs to `system.active_processes`, `ipv4.tcpopens` or `nginx_local.connections` chart) for `uwsgi_local.memory_vsz` chart. So strange.

As a temporary workaround, I added a cron job to restart netdata service every hour

[2020-07-07 09:54] prokon opened #9497 "netdata deamon quits after a few seconds"
I'm running netdata on a proxmox VE server 6.2-6 with kernel 5.4.44-2

The web interface is not respoding, the process does not seem to be running. Right after service restart I get:

[code]

Then after waiting a few seconds I get:
[code]

What I find a bit strange is that the error log seems to updated even after the 'ps' shows that the deamon is not running.

<details>
  <summary>Long list of er

[2020-07-07 10:03] ilyam8 commented on #9486
@mjnaderi is it possible to downgrade to v1.22.1 and see if it has the problem? i think it has no

[2020-07-07 10:11] stelfrag commented on #9486
This would only happen if the SETs arrive in a messed order --  that is an active dimension for a valid chart that arrives after the
BEGIN for uwsgi_local.memory_vsz.

I wonder if running the plugin in debug mode for a while (the amount of time it takes to reproduce) would show such behavior.

[2020-07-07 10:20] ilyam8 commented on #9486
Every chart has `update` method

https://github.com/netdata/netdata/blob/10e6b747dae6fa42ccfeeb7b4511e8fec31c61b2/collectors/python.d.plugin/python_modules/bases/charts.py#L241-L269

It is one block - `BEGIN..SET..END`, it doesnt write it line by line

https://github.com/netdata/netdata/blob/10e6b747dae6fa42ccfeeb7b4511e8fec31c61b2/collectors/python.d.plugin/python_modules/bases/charts.py#L261

Py

[2020-07-07 11:27] dim08 commented on #9217
Hi @E46-S54 thank you for the follow up. I have prioritised this feature as part of ACLK improvements. Based on the current engineering capacity we are expected to have it resolved within the next 1-2 months.

[2020-07-07 11:45] thiagoftsm commented on #9497
Hi @prokon ,

I observed this message on your log:

[code]

And I would like to do a question for you, what is the libuv version you have installed on proxmox VE server 6.2-6?

Best regards!

[2020-07-07 12:30] prokon commented on #9497
Hi @thiagoftsm ,

Thank you for you reply. I'm running 1.24.1-1

[code]

[2020-07-07 12:43] andrewm4894 commented on #8597
Wanted to add some Google Analytics alternatives to this thread for reference:

- https://github.com/PostHog/posthog
- https://piwik.pro/ (not sure this is really free or open source anymore)
- https://matomo.org/home/
- http://www.openwebanalytics.com/

Wider list here: https://en.wikipedia.org/wiki/List_of_web_analytics_software

[2020-07-07 13:29] oyabun commented on #8597
AFAIK Piwik === Matomo :)

From my side, I will love to use Segment plus Amplitude for example.
Google Analytics works great for eCommerce and media, for products I prefer to use at least Segment.
A good combination would be a CDP like a Segment and an ETL like Stich, and then integrate all the instrumentation through Segment API while we control the destination of data using other tools.
In the w

[2020-07-07 13:32] foamz commented on #9488
Hi @thiagoftsm

Thank you for your help. I ran the `access` and `delete` actions, both returning ok, but the node is still available in the registry and web.

[code]
returns:
[code]

Then I run `delete`:
[code]
returns:
[code]

Confirming deletion, but node is still there:
[code]

I also tailed the Netdata logs and get no error, unless I try run the delete action twice:
[code]

Is this a bug or am

[2020-07-07 13:53] foamz commented on #9483
I think you're missing a stream.conf file: https://learn.netdata.cloud/docs/agent/streaming

[2020-07-07 14:01] nikobearrr commented on #9483
Hi @foamz. I don't actually want to stream data from one instance to another. I just want to have the list of the nodes. Each of them sends data on it's own to the graphite backend. In the registry docs "stream" is not even mentioned (and I don't have a need for it): https://learn.netdata.cloud/docs/agent/registry
Thanks for the suggestion though

[2020-07-07 14:29] cakrit commented on #6839
@vlvkobal we need to understand what's happening here.
@mbarper can you check the netdata error.log around that time to see if anything interested was recorded?

[2020-07-07 14:31] cakrit commented on #8980
@jacekkolasa it's the same thing we were talking about yesterday, can you please provide an update when we have a proper fix?

[2020-07-07 14:53] Seoka opened #9498 "Netdata Container not starting due to apk error"
##### Bug report summary

docker Container is not starting, but leaving following log:
[code]

##### OS / Environment

[code]

##### Netdata version

[code]
 Container netdata/netdata:latest auf amd64

##### Component Name

Netdata is not starting at all

##### Steps To Reproduce

Well I just update Netdata each day.... I am using the default netdata Image from hub.docker.com. If needed, I can sup

[2020-07-07 15:01] SeaLife commented on #9498
Hey,

i was able to reproduce this error by setting the environment variable `RESCRAMBLE` just like @Seoka  did to `true`.

Regards
SeaLife

[2020-07-07 15:02] ilyam8 commented on #9498
https://github.com/netdata/netdata/blob/10e6b747dae6fa42ccfeeb7b4511e8fec31c61b2/packaging/docker/run.sh#L14-L23

[2020-07-07 15:16] Nirjonadda commented on #9002
@manos-saratsis Do you added ability to delete Recently Claimed Nodes?

[2020-07-07 15:34] ilyam8 commented on #9498
@Seoka

do you really need it?

https://learn.netdata.cloud/docs/agent/packaging/docker#run-the-agent-with-the-docker-command works withour problems for me

[2020-07-07 15:39] nikobearrr commented on #8528
I'd like to bring this question again, because I have been trying to figure out a [good] way to do this and so far I haven't. In that case I would like to open a feature request for this functionality - so we can set host, port and protocol for syslog logging. Should I create a new issue for the feature request or should this issue be converted into such?
I understand this is not of the highest pr

[2020-07-07 16:04] nmindz commented on #9444
Same issue here.
[code]
Running inside a `11.3-RELEASE` jail built manually with `iocage`. I decided to run a regular BSD jail, update my dependencies from there and follow [this guide](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/freebsd).

Everything went fine (and installed fine) until I reached the step that emphasizes it *very* important to update Netdata using the provi

[2020-07-07 16:46] mbarper commented on #6839
There are no messages in the error.log around that time. It is the first thing I checked.

[2020-07-07 19:04] thiagoftsm commented on #9421
All right @DeWaRs1206 !
I am having busy days here with new features, but I did not forget your problem. Let me know if your changes are enough to eliminate the problem, because it can be a problem with our lock scheme.

Best regards!

[2020-07-07 19:52] GemzzK opened #9500 "Monitor only required database in Postgres?"
I`m newbie to Netdata. I`ve added Postgres for monitoring but issue is that Netdata is monitoring and showing up all of my databases. Despite of only configured with one database credentials. Is there a way i can modify it to only monitor and show up required database. Im using ubuntu.
![image](https://user-images.githubusercontent.com/67978637/86835225-393af480-c0b5-11ea-91e9-2a8caf4dda24.png)

[2020-07-07 21:22] DeWaRs1206 commented on #9421
@thiagoftsm no problem.
The problem still persist, I have meanwhile enable alert from slaves themself but there is still this issue

[2020-07-07 22:09] thiagoftsm commented on #9480
Hi @sdeepakbz ,

I pushed another commit for the PR I created few days ago. I tested extensively on CentOS 7.x today, and I observed that on old kernels the plugin was not cleaning correctly the file every time it ran. The commit that I pushed is adding a script to help clean the probes, this script is also called from `systemd` when it is stopping the service. Systemd is also used during the unin

[2020-07-07 22:11] thiagoftsm commented on #9480
Did you disable SELinux on this image to run ebpf.plugin? On CentOS 7.x the plugin is not expected to run, thanks the default SELinux configuration.

Best regards!

[2020-07-07 22:13] thiagoftsm commented on #9480
As I said, the plugin cannot run with default SELinux configuration, please can run the next command and give us the output?

[code]

Finally, I apologize the delay to answer you, but I am working in another features that is taking my time.

Best regards!

[2020-07-07 22:52] ilyam8 commented on #9500
Hi

https://github.com/netdata/netdata/blob/10e6b747dae6fa42ccfeeb7b4511e8fec31c61b2/collectors/python.d.plugin/postgres/postgres.conf#L89

[2020-07-07 23:14] kaplandani commented on #9363
happened again tonight.
netdata v1.23.1-44-nightly

[2020-07-07 23:57] thiagoftsm commented on #9494
Hi @ThoSap,

@Ferroin, please, can you take a look on this?  I have the `health_alarm_notify.conf` configured with Telegram and I receive normally the messages on my bot, but I normally compile Netdata from scratch.

I was reading `curl` documentation, and I observed that it allow us to change the directory to check the peer (`--capath`), it is possible that if we use it during the installation th

[2020-07-08 00:41] thiagoftsm commented on #9497
Hi @prokon ,

Thank you for your answer, the libuv that you are using is what we need.
I was reading again your `error.log` to try figure out possible motives that could describe your problem. I installed Netdata on promox 5.4.1 days ago and I observed Netdata was running, so I do not believe that it is an incompatibility with libraries.
I observed that your installation is reporting a lot of prob

[2020-07-08 00:59] GemzzK commented on #9500
database_poll : 'dbase_name1 dbase_name2' # poll only specified databases (all other will be excluded from charts)

Thanks for jumping on this issue. I`ve tried but no luck if i modify this line "postgres local" header completely disappears from dashboard. i have database named as postgres and also tempelate0. HOw i can add them to this line to make it functional?
![image](https://user-images.gith

[2020-07-08 01:41] thiagoftsm commented on #9493
Hi @sereeds ,

Thank you for your initial feedback, I created an environment with `Firehol 3.1.6` and the latest `Netdata` like you, I am waiting for the collector fails. The unique difference from my environment for yours it is the fact I am using CentOS 8.2.2004, but this should not be a problem, because I am looking an error inside the collector.

I will return when I have more information.

Be

[2020-07-08 03:06] startryst commented on #9475
on another server, which also can't get started, with below errors:
[code]

[2020-07-08 03:16] startryst commented on #9496
I see @ilyam8 thanks, and would like to more a bit  more of what's the parameters description to the external script when I have a line of exec for certain alarm? I couldn't find any detail of that, now I'm  trying to digest the default `alarm-notify.sh` a bit, but would be good if there's any handy examples of this external exec invoking.

[2020-07-08 03:17] startryst commented on #9475
Or is below is the default parameter for the exec?
[code]

[2020-07-08 03:18] startryst commented on #9496
Or is below is the default parameter for the exec?
[code]

[2020-07-08 07:17] ilyam8 commented on #9500
it is not `postgres_local`

https://github.com/netdata/netdata/blob/1bc242d9378f5d5f6ada62e86f77f1a506b31f14/collectors/python.d.plugin/postgres/postgres.chart.py#L1053-L1057

Query:
https://github.com/netdata/netdata/blob/1bc242d9378f5d5f6ada62e86f77f1a506b31f14/collectors/python.d.plugin/postgres/postgres.chart.py#L389-L399

They are databases you see on the dashboard like `db DBNAME`

Charts

h

[2020-07-08 07:20] ilyam8 commented on #9496
@startryst i think you are right

So custom script gets same parameters

[2020-07-08 08:04] prokon commented on #9497
@thiagoftsm  ,

Thank you for your support.

As additional info I was running proxmox 5.4 on my box until quite recently. Then netdata was working without any issues. I upgraded to proxmox 6.2 not long ago. I don't remember if netdata stopped working when I upgraded but it was in the same time period I started having issues with netdata, but this could be a coincidence.

Answers to your questions

[2020-07-08 08:57] E46-S54 commented on #9217
🙇
@dim08
That is really good to know, thanks!

Are you planning for this be available as part of the self-hosted version?

[2020-07-08 09:45] Seoka commented on #9498
@ilyam8 No, I don`t need it. But still, it is a bug, isn`t it?

[2020-07-08 09:47] ilyam8 commented on #9498
Yes, u r right, it is a ~~feature~~ bug.

[2020-07-08 09:54] thiagoftsm commented on #9493
Hi @sereeds ,

I am 8 hours without any problems, if in I can complete 24 hours without stop, I will install the Arch Linux and verify possible problems when running on Arch.

Best regards!

[2020-07-08 10:59] mfundul commented on #9497
Possibly fixed by https://github.com/netdata/netdata/pull/9503

[2020-07-08 11:00] mfundul commented on #9475
Possibly fixed by https://github.com/netdata/netdata/pull/9503

[2020-07-08 11:01] mfundul commented on #9363
Possibly fixed by https://github.com/netdata/netdata/pull/9503

[2020-07-08 11:07] mfundul commented on #9457
Can you share any more output from `error.log`? Can you update your code to the latest nightly and see if your issue is resolved?

[2020-07-08 11:14] mfundul commented on #9480
@sdeepakbz there appears to be some corruption in your cache folder. You can delete the metric database by running `rm -f /var/cache/netdata/dbengine/*` to resolve this.

[2020-07-08 11:16] prologic commented on #8528
Why can't you use rsyslog and configure _that_ to send local syslog logs to a remote syslog server?

[2020-07-08 11:21] ilyam8 commented on #8528
@prologic https://github.com/netdata/netdata/issues/8528#issuecomment-648916991

[2020-07-08 11:22] mfundul commented on #9486
@stelfrag can this be related to https://github.com/netdata/netdata/pull/9503 ?

[2020-07-08 11:25] prologic commented on #9420
I'm asking the community to help me test this yere :) Hence my comments above :) Can you help?

[2020-07-08 11:49] prologic commented on #8967
Sorry I was on vacation (_just got back_). Are you able to share some details? I'm really not expecting the same failure cases here at all.

[2020-07-08 12:03] stelfrag commented on #9486
Not in a way that I can immediately see.

The behavior suggests a BEGIN on a chart which exists (otherwise it would disable it) with an error

`requested a BEGIN on chart xxx, which does not exist on host yyy. Disabling it.`

Then the SET command not finding a dimension under that chart.

[2020-07-08 12:16] mjnaderi commented on #9486
@ilyam8  I'm trying various versions and conditions to find the cause. Unfortunately, for each try I need to wait for a couple of hours.

Started latest  netdata  with python 3.8.2 at 2020-07-07 21:00:

[code]

Started netdata `1.22.1` with python 3.8.2 at 2020-07-07 23:30:

[code]

Started netdata `1.21.1` with python 3.8.2 at 2020-07-08 10:22:

[code]

Started netdata `1.21.1` with python 3.7.7

[2020-07-08 12:20] prologic commented on #8528
The agent sending its logs directly to a syslog server then is probably something the @netdata/agent team should look into prioritising. I can't say for sure. cc @amoss

[2020-07-08 12:32] GemzzK commented on #9500
Tried again but no luck at all. I have database test_sa, if i add that in "database_poll : 'test_sa'" image 1 .Then after restarting netdata "Postgres local" option disappears from dashboard like image 2. If i comment database_poll : 'test_sa' then "Postgres local" option appears but then starts showing all databases located under Postgres. image 3.

![image](https://user-images.githubusercontent.

[2020-07-08 12:41] ilyam8 commented on #9500
Lets check debug mode

as `netdata` user

[2020-07-08 12:55] ilyam8 commented on #9486
This is strange, `indices_search_query_total` is elasticsearch module chart dimension

https://github.com/netdata/netdata/blob/628598c4d5d401f41f5bb43dfb2951c0bae0703e/collectors/python.d.plugin/elasticsearch/elasticsearch.chart.py#L177-L185

---

Could be print buffering problems but shouldnt be the case

https://github.com/netdata/netdata/blob/986b401133b52fada9ec014c9e902660396f6880/daemon/main

[2020-07-08 13:02] sdeepakbz commented on #9480
Yes, now uninstalling netdata removes the /sys/kernel/debug/tracing/kprobe_events events as well correctly.

Thanks this fixed the startup of netdata process. Probably unexpected shutdown of the server while netdata was installing caused the cache corruption.

You are correct. SELinux was permissive. I disabled it and uninstalled netdata - rebooted server - started installation of netdata - got st

[2020-07-08 13:02] GemzzK commented on #9500
2020-07-08 09:00:18: python.d INFO: plugin[main] : using python v2
2020-07-08 09:00:18: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2020-07-08 09:00:18: python.d DEBUG: plugin[main] : loading '/usr/lib/netdata/conf.d/python.d.conf'
2020-07-08 09:00:18: python.d DEBUG: plugin[main] : '/usr/lib/netdata/conf.d/python.d.conf' is loaded
2020

[2020-07-08 13:05] ilyam8 commented on #9486
@mjnaderi try to apply the following changes and see if they fix the problem

[code]

[2020-07-08 13:09] ilyam8 commented on #9500
ok, it works.

add `database_poll` option and run it in the debug mode again

example config:

[code]

[2020-07-08 13:19] GemzzK commented on #9500
/usr/libexec/netdata/plugins.d/python.d.plugin debug postgres
2020-07-08 09:19:02: python.d INFO: plugin[main] : using python v2
2020-07-08 09:19:02: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2020-07-08 09:19:02: python.d DEBUG: plugin[main] : loading '/usr/lib/netdata/conf.d/python.d.conf'
2020-07-08 09:19:02: python.d DEBUG: plugin[

[2020-07-08 13:35] ilyam8 commented on #9500
wrong configuration file syntax

share your config

or you can try to find the error yourself using http://www.yamllint.com/

[2020-07-08 13:51] stelfrag commented on #8922
keep it

[2020-07-08 14:30] GemzzK commented on #9500
# netdata python.d.plugin configuration for postgresql
#
# This file is in YaML format. Generally the format is:
#
# name: value
#
# There are 2 sections:
#  - global variables
#  - one or more JOBS
#
# JOBS allow you to collect values from multiple sources.
# Each source will have its own set of charts.
#
# JOB parameters have to be indented (using spaces only, example below).

# ----------------

[2020-07-08 14:54] ilyam8 commented on #9500
[code]

<img width="852" alt="Screenshot 2020-07-08 at 17 53 07" src="https://user-images.githubusercontent.com/22274335/86934028-e3f9f400-c143-11ea-8db7-716805d8b667.png">

=>

[code]

[2020-07-08 15:07] jlbriston commented on #7133
June 2020 Contributors of the Month 🌟

Thank you all for your contributions! We sincerely appreciate the time and expertise that you volunteer and we'd like to thank you.

Please email us at rewards@netdata.cloud, your username, physical address, and preferred t-shirt size to receive your gift.

@meesaltena
@olivluca
@sjuxax
@scatenag
@mrbrutti
@Izorkin
@wags007
@oneoneonepig
@RubenKelevra
@rushik

[2020-07-08 15:10] GemzzK commented on #9500
Ok. Changed the file as per suggestion and now its showing all databases. Debug report

/usr/libexec/netdata/plugins.d/python.d.plugin debug  postgres
2020-07-08 11:06:44: python.d INFO: plugin[main] : using python v2
2020-07-08 11:06:44: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2020-07-08 11:06:44: python.d DEBUG: plugin[main] : loa

[2020-07-08 15:24] ilyam8 commented on #9500
as you can see `postgres[socket]` job is running, not `postgres[tcp]`

add `database_poll : 'test_sa'` to the `postgres[socket]` job.

[2020-07-08 16:50] ryanburnette commented on #9420
I have been wanting to get it running on my pfsense. I can test it.

[2020-07-08 17:09] gaia commented on #9363
Pls update this issue if indeed 9503 fixes it!

[2020-07-08 17:25] thiagoftsm commented on #9363
Hello @everyone,

The PR #9503 was already merged and the next nightly will have the fixes, please, if you can update and confirm tomorrow that the problem was fixed will be great for everybody.

Best regards!

[2020-07-08 17:33] thiagoftsm commented on #9480
Hi @sdeepakbz ,

How is the output of the following command after the patch to be applied?

[code]

Best regards!

[2020-07-08 17:39] thiagoftsm commented on #9488
Hi @foamz ,

You are not doing nothing wrong, let me explain.
The `mirrored_hosts` shows the list of the host that was created when they were connected with the Netdata running, if you restart your netdata, this list will be refreshed, on the other hand, I agree with you that when I remove a registry of a specific computer, it could be removed from the list.
@mfundul are registry db and host db ar

[2020-07-08 17:41] thiagoftsm commented on #9421
@mfundul and @stelfrag the pr merged today can fix the bug we have here? Or do we have another possible problem with DB in this issue?

[2020-07-08 17:49] sdeepakbz commented on #9480
Hello,

I am getting same

[code]
[root@ec2-13-58-160-243 ~]#

[2020-07-08 18:32] ryanburnette commented on #9420
I tested it on pfsense 2.4.5. I'm not a BSD user, so I didn't get very far.

This step succeeds.

[code]

This step fails.

[code]

I'm not a BSD user, but I tried my best to get the compiler toolchain in order.

[code]

The failure looks like #1216

Config.log is attached.

Not sure if this is relevant, or just my inability to compile in BSD

[config.log](https://github.com/netdata/netdata/files/

[2020-07-08 18:36] fasihb commented on #9457
ok, I have the latest netdata version: v1.23.1-49-nightly
The server is not busy at all suddenly my url wasn't responding kept waiting and waiting. I went into /var/cache/netdata and removed dbengine directory and then restarted netdata everything came back fine so far I did this few times now.
This is weird dunno why this is happening i don't see this on other servers which are on older version.

[2020-07-08 19:21] GemzzK commented on #9500
Cool. Issue resolved just minor error.

[2020-07-08 19:21] #9500 closed

[2020-07-08 19:30] mfundul commented on #9457
68 `.mlf` files sounds like a huge amount to me. Are you using a very large amount of metrics? Are you collecting ephemeral metrics, and not reusing them again?

[2020-07-08 20:01] ilyam8 commented on #9457
is this a problem? These days containers are very popular and they are ephemeral. It is common use case to create/delete containers in k8s for example.

---

btw i noticed that it takes quite a while to load all data/metdata

my setup

i **had** ~ 600 containers (add 100, delete 100 x 6 times with some interval)

[code]

it starts load dbengine files at `2020-07-08 22:53:44`
first collection threa

[2020-07-08 20:04] ilyam8 commented on #9457
big delay between `2020-07-08 22:53:52` and `2020-07-08 22:54:07`

[code]

[2020-07-08 20:09] ilyam8 commented on #9457
i guess if i continue to create/destroy containers it would get worse - load time would increase, so as amount of used ram.

[2020-07-08 20:21] mfundul commented on #9457
Yes, this is by design though to support querying of archived metrics. One way to limit that is by reducing the `disk space size` to not hold as many ephemeral metrics. One idea is to make it optional for users who don't care about ephemeral metrics.

[2020-07-08 20:23] thiagoftsm commented on #9497
Hi @prokon ,

Considering  @mfundul words, please, can you test next `nightly` after tomorrow 02:00 AM UTC? I hope the problem will be fixed.

Best regards!

[2020-07-08 20:27] ilyam8 commented on #9457
@mfundul what about https://github.com/netdata/netdata/issues/9457#issuecomment-655727747

[2020-07-08 20:30] mfundul commented on #9457
That looks like it's unrelated. Can you compare with v1.22.1?

[2020-07-08 21:31] RubenKelevra opened #9505 "[IPFS-plugin] netdata's fast polling causes massive CPU-load by IPFS"
##### Bug report summary
I searched a while for the reason of the high CPU load of IPFS, turns out the fast polling of metrics via the IPFS plugin causes IPFS to use an enormous amount of CPU load - two threads are fully saturated on an AMD EPYC 7702P just to return those metrics.

There's a [bug report](https://github.com/ipfs/go-ipfs/issues/7528) on go-ipfs for this issue since metrics shouldn't

[2020-07-08 21:38] ilyam8 commented on #9505
have you enabled `pinapi` option?

https://github.com/netdata/netdata/blob/11e4ac13577ebe65b24e7b2a7bd594ae5e128539/collectors/python.d.plugin/ipfs/ipfs.conf#L65-L68

[2020-07-08 21:40] ilyam8 commented on #9505
There are several requests

https://github.com/netdata/netdata/blob/11e4ac13577ebe65b24e7b2a7bd594ae5e128539/collectors/python.d.plugin/ipfs/ipfs.chart.py#L111-L122

Perhaps one of them causes high cpu usage? Can you debug it? (disable them one by one)

[2020-07-08 21:42] ilyam8 commented on #9505
Why 2 minutes and not 10 seconds? How long does it take to execute ipfs module `get_data`?

[2020-07-08 21:51] ilyam8 commented on #9457
i dont have that delay after `rm -rf *` dbengine data

[code]

[2020-07-08 23:19] CX32 opened #9506 "Claim giving me a unknown HTTP error message"
##### Bug report summary

When I run the claim script it tells me that the node was already claimed. I overwrite this with the `-id=$(uuidgen)` parameter but I receive this error message: `Failed to claim node with the following error message:"Unknown HTTP error message"`

##### OS / Environment

[code]

##### Netdata version

 netdata v1.23.1-49-nightly

##### Component Name

Claim script

#####

[2020-07-09 03:54] mjnaderi commented on #9486
I applied the patch, and seems it has solved the problem. It's working fine for 14 hours.

[2020-07-09 04:03] prologic commented on #9420
Thanks for testing this! I have a suspicion that the `install-required-packages` is missing a few critical components for pfSense specifically -- It is different enough from FreeBSD that it needs some special care.

[2020-07-09 04:29] prologic commented on #9479
Hello @Vincinator Thank you for the detailed request! Are you willing to put up a PR? I can help you with this; there are in fact two images you need to modify to make this happen in [helper-images](https://github.com/netdata/helper-images) namely the builder and base images that you see we inherit from above.

A PR from you would be wonderful :)

[2020-07-09 06:13] prologic commented on #9476
@startryst Hi 👋 You would in fact be effectively downgrading if you wanted to do this (_even if we had the tooling for this_). You would be better of just re-installing with the right option -- Which btw is also what upgrading does anyway.

FWIW you _could_ modified the following (_the default location_) hwoever I cannot vouch for this;

[code]

I would suggest you just re-install :)

[2020-07-09 06:14] prologic commented on #9476
Closing as duplicate of #9160

[2020-07-09 06:14] #9476 closed

[2020-07-09 06:20] startryst commented on #9476
ok, I'll go with re-install then. Thanks.

[2020-07-09 06:21] startryst commented on #9475
so how can I get fixed? by re-installing `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`? Then how can I know the version I re-install come swath this fix?

[2020-07-09 06:23] mfundul commented on #9475
Since the Pull Request got merged into master then yes, reinstalling the way you described should suffice.

You can see the version by running `netdata -V`.

[2020-07-09 06:56] startryst commented on #9475
will the stable release include this fix as well?
`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --stable-channel --disable-telemetry`

[2020-07-09 07:05] prologic commented on #8304
https://github.com/netdata/netdata/pull/9413 Added first class support for FreeBSD. What's left now is CI.

[2020-07-09 07:06] prologic commented on #8130
Fixed by https://github.com/netdata/netdata/pull/9413

[2020-07-09 07:06] #8130 closed

[2020-07-09 07:06] prologic commented on #9162
Not stale.

[2020-07-09 07:07] prologic commented on #9155
@thiagoftsm Do we still need this? How urgent is this to get fixed since we seem to have forgotten about it :)

[2020-07-09 07:09] prologic commented on #8576
If you are able to diagnose this, feel free to open a new issues with specific details we can look at. Thanks! :)

[2020-07-09 07:10] prologic commented on #9061
@rickard-von-essen Sorry I've been away on vacation and just got back. Are you still interested/willing to help us with this? LMK :)

[2020-07-09 07:14] rickard-von-essen commented on #9061
@prologic i did a very small start on this but I'm on vacation so I probably won't work on this for at least a month or so.

[2020-07-09 07:15] mfundul commented on #9475
Not until the next version.

[2020-07-09 07:16] ilyam8 commented on #9486
@mjnaderi lets wait at least one day to be sure.

Was it ~2hr to get the problem before the patch? How many python jobs do you have running?

[2020-07-09 07:42] stelfrag opened #9507 "Core dump during shutdown"
##### Bug report summary
- ACLK enabled
- Start agent and shutdown (control - C)

Occasionally there is a core dump :
[code]

[code]

[code]

Also
[code]

Which is traced to
[code]

and digging into that

[code]

##### OS / Environment

[code]

##### Netdata version
netdata v1.22.1-306-g8186870c

##### Steps To Reproduce
- Start agent
- First core:  Press control - C early enough in the ACLK estab

[2020-07-09 08:10] hqwisen commented on #9479
Hello,

I stumbled on the same issue and tried also another approach, so I am putting it here. Not especially better, but since the base image is based on 3.9 I found a bit weird to use repos for v3.11. Here you go:

[code]

You still need to copy the compiled libs (mainly `libbson*` and `libmongoc*` from `/usr/lib/`) in the main stage, since it's apparently required at runtime.

[2020-07-09 08:41] prokon commented on #9497
Hi @thiagoftsm

I ran the one-line installation script to update to the latest nightly:

[code]

But unfortunately I'm still having the same issues.

Is there any other data I can provide to help identify the bug?

[2020-07-09 08:45] mfundul commented on #9497
Can you attach your `error.log` file after the upgrade, without `grep`ing for `ERROR` please?

[2020-07-09 08:54] prokon commented on #9497
@mfundul  Thank you for your quick reply.

Uploaded the error.log here: https://github.com/prokon/netdataError/blob/master/errors-55-nightly.tar.gz

I compressed it since it's quite large

[2020-07-09 09:25] startryst commented on #9475
I re-installed by `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates`, and version is `netdata v1.23.1-55-nightly`, but still the netdata couldn't be started, see error log as below:
[code]

[2020-07-09 09:32] mfundul commented on #9457
@ilyam8 I've profiled the database files you sent me and it's now clear what's going on.

It's this line:
https://github.com/netdata/netdata/blob/33957ba3279d15b7ee9b0a66b3a40efc34960087/database/rrdhost.c#L1303

After bringing up the host, after reloading labels health is reloaded. This will create alarms for all metadata which will take a very long time:
[code]

[2020-07-09 09:33] mjnaderi commented on #9486
@ilyam8 It's still working fine (~20hrs).

Yes, most of the time it took ~2hrs to get the problem, but some times took longer (e.g. 4-5 hours). Result of `ps -efL | grep python.d.plugin` displays 8 threads.

[2020-07-09 09:40] ilyam8 commented on #9486
ok, i think we can call it the fix then.

[2020-07-09 09:40] ilyam8 commented on #9486
thx for debugging and all your time 👍

[2020-07-09 09:43] ilyam8 commented on #9475
2020-07-09 17:23:18: netdata ERROR : MAIN : RRDVAR: Attempted to delete variable ' ©"^O' from host 'yyy', but it is not found.

it looks like we have some problems with variables parsing, i saw a a lot of `Request to remove RRDVAR ... fail` in different issues.

[2020-07-09 09:48] stelfrag commented on #9475
@startryst would it possible to forward `/var/cache/netdata/dbengine/metadatalog-00000-00001.mlf"` to stelios@netdata.cloud ?

[2020-07-09 10:41] startryst commented on #9475
sent

[2020-07-09 11:33] prologic commented on #9479
Hmm in that case we are probably okay with also bumping the base image version of alpine we use as long as we throughly test it.

[2020-07-09 11:33] stelfrag commented on #9475
Thank you! I received the file and analyzing it..

[2020-07-09 11:39] thiagoftsm commented on #9155
Hi @prologic ,

it will be good for users avoid errors like `errno 9` when the plugin is starting. Let us bring it for the next release.

[2020-07-09 11:49] Vincinator commented on #9479
Hello @prologic, ah thanks - I was wondering where the Dockerfiles for base images are.

Ok, I will bump up the versions of builder and base to alpine 3.11, and add the library to these images as well.
I will create an PR here [helper-images ](https://github.com/netdata/helper-images).

I agree with @hqwisen that it feels weird to use a 3.11 repo on a 3.9 alpine image.

[2020-07-09 11:54] stelfrag commented on #9475
I managed to reproduce and identified the offending piece of code. A PR will be issued shortly

[2020-07-09 11:57] Vincinator commented on #9479
Unfortunately alpine 3.11 repos do not provide the ```py-mysqldb``` package in the [repos](https://pkgs.alpinelinux.org/packages?name=py-mysqldb&branch=v3.11), which is previously required by the netdata base image.

[2020-07-09 12:26] thiagoftsm commented on #9493
Hi @sereeds ,

After 32 hours collecting without any errors on  CentOS 8.x, I think that we have a problem when we are running on Arch Linux environment, I will get the same Arch Linux you are running today, and I will try to replicate this on Arch. I did not stop the plugin on CentOS, so I will have at least two environments to test the plugin.

Best regards!

[2020-07-09 12:26] ryanburnette commented on #9420
No problem. Let me know if you need another test run.

[2020-07-09 12:31] #9486 closed

[2020-07-09 12:35] ilyam8 commented on #9493
i think the error is self-explanatory

[code]

perhaps we need something like that?

- error

[code]

 - fix

[code]

@prologic ?

[2020-07-09 12:37] RubenKelevra commented on #9505
Nope

I wrote a cpu profile, it's clearly the repo request.

Btw there's no bandwidth graph shown, just peers, repo size and repo objects.

Because 200% which is barley keeping up means if we cut it in 10 parts is still above 10% two times on a fast processor.

That's unacceptable, since Netdata should be able to run on very low-end machines as well.

[2020-07-09 12:56] thiagoftsm commented on #9493
@sereeds ,

I was talking with @ilyam8 now,  and I would like to do a request for you that will also help me to check if I have the same Arch Linux that you have, please, can you give us the output of the following commands?

[code]

Best regards!

[2020-07-09 13:05] sereeds commented on #9493
It appears I have the same output as you.

`date --version`
date (GNU coreutils) 8.32
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <https://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Written by David MacKenzie.

`date +'%s * 1000 + %-N / 1000000

[2020-07-09 13:06] DeWaRs1206 commented on #9421
@thiagoftsm following your last comment, I have update my netdata master to the latest version available:
[code]
After restarting the service, all alarms are available for all slaves from the master. (which wasn't the case after a restart with the previous version installed).
I will wait a couple of hours and see if it's still the case.

[2020-07-09 13:10] ilyam8 commented on #9493
ok

this script exits with error after some time

https://github.com/netdata/netdata/blob/b9f9d8f771a03d5f246cba23719585d0ebc90fae/collectors/charts.d.plugin/loopsleepms.sh.inc#L21

[code]

if i fix it with `10#` it never exits

[code]

[2020-07-09 13:12] stelfrag commented on #9475
PR #9509 has been merged to master

[2020-07-09 13:17] stelfrag commented on #9497
PR #9509 has been merged to master

[2020-07-09 13:21] stelfrag commented on #9507
I haven't been able to reproduce after #9509 was merged

[2020-07-09 13:21] #9507 closed

[2020-07-09 13:23] thiagoftsm commented on #9421
Thank you for the initial report @DeWaRs1206 !
We will wait for another feedback before to consider this issue fixed :)

[2020-07-09 13:25] sereeds commented on #9493
Excellent work @ilyam8
Thank you.
I have applied your fix to my systems.

[2020-07-09 13:26] ilyam8 commented on #9493
@sereeds please lets us know if it fixes the bug

[2020-07-09 13:56] prokon commented on #9497
@stelfrag Thanks!

Will test again tomorrow with the nightly build.

[2020-07-09 14:17] ilyam8 commented on #9505
Well, it is not possible to have different charts with different `update_every`

i sugges to make `repo` request optional and disabled by default.

[2020-07-09 14:22] ilyam8 commented on #9505
@RubenKelevra if you have time a PR is welcome ☺️

[2020-07-09 15:00] RubenKelevra commented on #9505
Okay, will look into this. Feel free to assign me to this

[2020-07-09 15:00] itamar-marom opened #9511 "netdata streaming on openshift"
#### Question summary
My environment include VMs and pods on Redhat Openshift.
My master agent is running on openshift with EXPOSE 19999 and external route.
When I try to stream an agent on a VM to the master I get stuck and I think it's because our Openshift currently block by default every non-HTTP protocol from outside to inside the cluster. Am I right ? If I am, will it be changed ? and why it

[2020-07-09 19:40] fasihb commented on #9457
how do i resolve this issue? i keep deleting dbengine and restarting netdata
can you outline the steps to fix it?

[2020-07-09 20:18] nikobearrr opened #9512 "New exporting module is missing metrics compared to old when sending to graphite"
##### Bug report summary
I have migrated the exporting config from the old way (using `[backend]`) to the new way by using `exporting.conf`
However, there is something strange, or I have put wrong config, because we do not get all the metrics.

##### OS / Environment
Running netdata v1.23.1 on docker, together with grafana latest (v7.0.6) in docker and graphite 1.1.7-3 also in docker.
I am running

[2020-07-09 20:23] ndt8552 commented on #9304
Is there any update on this? My company uses vnstat and this will be very useful to us.

[2020-07-09 20:26] ilyam8 commented on #9304
@ndt8552 there is a pr with the plugin

You can test it, would be nice

[2020-07-09 21:34] sereeds commented on #9493
It's been over 8 hours, and I've pushed over 20 GB through 2 different boxes.
The chart is still working good; I believe this fix has solved the issue.
Thank you.

[2020-07-09 21:38] #9493 closed

[2020-07-09 21:49] prologic commented on #9444
I fixed this in #9413 already for FreeBSD;

[code]

Can you confirm the same fix on FreeNAS? I _assume_ it reports differently the output of `uname -s` and therefore the same conditional variables are not set to construct a correct build.

[2020-07-09 21:57] prologic commented on #9479
That's okay. Just make sure Python 3.x is installed and `pip` is also available and just `pip install` the required python libraries. I really have a thing against using a package manager for things that are already well packaged personally -- So if they're not in Alpine APK packages, they are in PyPi (_hopefully pre-packaged as wheels_).

[2020-07-09 21:58] prologic commented on #9155
Please remind me as this is quite low in our Backlog and there are many other things in its way. It should not be hard to get this done however :)

[2020-07-09 22:51] abrbon commented on #9444
Hi,

I have never used the SIFT command before, i tried inside my jail with netdata but it throws all kinds off errors.

`
root@netdata-custom:~/netdata # sift -C 3 '\-\-disable\-dependency'
aclocal.m4-  [--enable-dependency-tracking],
aclocal.m4-  [do not reject slow dependency extractors])
aclocal.m4-AS_HELP_STRING(
aclocal.m4:  [--disable-dependency-tracking],
aclocal.m4-  [speeds up one-time b

[2020-07-10 00:11] PNRxA commented on #6839
Didn't have enough time to run the python command but can confirm that this still happens from time to time.
I run this on approximately 60 servers all on AWS EC2 instances.

This is a different server than last time. While I'm guessing that stopping and starting it will fix it, is there any troubleshooting you want me to run?

![image](https://user-images.githubusercontent.com/16978632/87102559-a

[2020-07-10 00:41] thiagoftsm commented on #9512
Hello @nikobearrr ,

Do you have any error message inside your `error.log` for the `exporting` thread to share with us?

Best regards!

[2020-07-10 01:41] ChrisG661 opened #9514 "How to add new python collector module?"
##### Question summary
I'm currently in the process of creating a new python module. I have copied the test module named `test.chart.py` in `/etc/netdata/python.d` and enabled it in `python.d.conf` with `test: yes`. However, the module doesn't show up in the dashboard. Running debug trace gave me these result:
[code]
##### OS / Environment
Ubuntu Server 20.04
Latest Netdata nightly build
##### Com

[2020-07-10 01:55] ilyam8 commented on #9514
Hi @ChrisG661

is for configuration files

There is no user dir for python.d collectors, you need to put your script to the

(path depends on your install, i installed it in `/opt/`)
[code]

[2020-07-10 01:55] #9514 closed

[2020-07-10 01:56] ilyam8 commented on #9514
i am closing the issue because there is no issue. Feel free to ask here if any quiestion.

[2020-07-10 02:41] prologic commented on #9444
Sorry I did not mean for you to try to re-run my command-line search against our codebase. `sift` is a tool I use for quick/fast grep'ing against local files. It extremely fast :)

What I asked was this:

Meaning the same/similar fixes I applied in the aforementioned PR #9413 where I said:

If you are unable to do this, that's fine. I'll try to prioritise spinning up a FreeNAS VM to do some testin

[2020-07-10 02:55] prologic commented on #9201
With #9418 merged that documented eBPF not currently working with our Netdata Static installs; I'm going to close this. However to be __clear__ we actually do fully plan to support this and ti should be available before the next release. Please correct me if I'm wrong @thiagoftsm :)

[2020-07-10 02:55] #9201 closed

[2020-07-10 02:56] prologic commented on #9201
@gamefundas Appreciate your patience whilst we work through the technical details of supporting the eBPF kernel collector with our static builds.

[2020-07-10 02:59] prologic commented on #8488
@skanadian Sorry for the delay once again. I've added this to our immediate. backlog (_we try to fix bugs first_) and we'll add the extra paths. The scripts currently assume they are running as "root" which typically has these paths setup already in the `$PATH` environment, so you are right. Bare with us :) Meanwhile if you'd like to put up a PR I'd be more than happy to review it!

[2020-07-10 03:02] prologic commented on #8440
I am closing this due to inactivity and putting this down to "environment configuration". I'm not entirely sure we _could_ fix this per se. Please feel free to comment if this is still a problem for you or open a new issue.

[2020-07-10 03:02] #8440 closed

[2020-07-10 03:35] prologic commented on #9420
@ryanburnette There are documentation updates happening by another fellow contributor in https://github.com/netdata/netdata/pull/9499 that I'm wondering if you could go through to confirm that they in fact work for you and fix the problems you encountered.

If they do; I _might_ use this issue to codify up first-class support for pfSense as well into `install-required-packages.sh` like we've recen

[2020-07-10 04:07] nmindz commented on #9444
@prologic About `uname - s` on FreeNAS:

[code]

[2020-07-10 04:25] prologic commented on #8153
I'm tired of dealing with all these Judy problems we have. I'ma actually stuck on one in particular for CentOS/RHEL 8.x so this needs to be done with a matter of priority.

@mfundul I've imported from SVN (_because I don't trust anyone out there_) and started importing patches I can found that seem legit.

https://github.com/prologic/judy

I am however unable to currently import the Ubuntu patches

[2020-07-10 04:32] prologic commented on #9444
Thanks for the clarification! I'm a bit baffled then, because the fix I did in the mentioned PR should also be applied here as well. But for some reason your OP reports a very similar error/problem we originally had on FreeBSD (_which I fixed_). Perhaps FreeNAS is somehow different enough (_like pfSense_) that it _may_ as well not really be FreeBSD at all :/ I'll have to go spin up a VM to dig fur

[2020-07-10 05:25] ChrisG661 commented on #9514
Do i open a new issue or do i just ask here?

[2020-07-10 07:03] nikobearrr commented on #9512
Hi @thiagoftsm,
I do not see any error showing up. Since I use docker, the error.log is stdout, when I search for "exporting" this is what I get:

[code]

I just let it run with the old config (green) and just restarted to get the logs from the new one (yellow and blue). You can see the green one does not miss a point, whilst the other 2 are missing

![image](https://user-images.githubusercontent.

[2020-07-10 07:42] stelfrag commented on #9363
A new PR #9509 has been merged to master which addresses a corruption issue during startup. Please update to the latest code from master and try it.

[2020-07-10 08:04] nikobearrr commented on #9512
Hi again, I did another test where I enabled both of the exporting modules run together.
These are the results. The green one is the "old", the blue one is the "new"

Both of them together look like this. You can see there are missing points on the new:

![image](https://user-images.githubusercontent.com/8693064/87131053-e6279400-c2a4-11ea-9d9c-76b4a5532a93.png)

If I only take the old one you can

[2020-07-10 08:22] ilyam8 commented on #9512
@nikobearrr i believe there should be some error logs during the gaps

Are there any?

Run this and wait

[2020-07-10 08:22] stokbaek opened #9515 "Random slave stops sending to master (FAILED - CANNOT REPLY)"
##### Question summary
I have a setup for the following style: master -> proxy -> slaves.
There can be multiple proxies with their own range of slaves.

At some random point will the master node stop receiving data from some slaves (no specific slaves) and the log entry on the master is `'FAILED - CANNOT REPLY' host 'REDACTED' api key 'REDACTED' machine guid 'REDACTED'`

Proxy node has all the dat

[2020-07-10 08:25] nikobearrr commented on #9512
Hi @ilyam8, when I did the test with the new exporting config here: https://github.com/netdata/netdata/issues/9512#issuecomment-656519763 I took the logs from the container and have provided any log containing "EXPORTING". I do not see any errors. I can let it run again and check, but for those 15min there was nothing. You can see the logs in my comment

[2020-07-10 08:41] ilyam8 commented on #9512
any errors messages `docker logs -f CONTAINER_NAME | grep -i error` ?

[2020-07-10 08:59] jordibiosca opened #9516 "Removed charts from one machine"
Hey,

I have netdata on several machines on my network and I've lost some charts on one of them. I've tried restarting netdata and installing a new version but nothing changed. Right now, I'm using the version v1.23.1-62-nightly for the machine not showing the charts of _net_errors_, _net_drops_ and _net_events_ at the **Network Interfaces** family. Can someone help me with that issue?

[2020-07-10 09:29] prokon commented on #9497
@stelfrag @mfundul

After installing the latest nightly it now works like expected. Thank You!

[2020-07-10 09:29] #9497 closed

[2020-07-10 09:30] mfundul commented on #9457
Can you share your `error.log` file? If you're concerned with publicizing its contents but don't have a problem sharing it with netdata you may send it to me at markos@netdata.cloud

In the meantime you can try different memory modes. If you want to use `dbengine` you can test version 1.22.1 which ignores ephemeral metrics and should not suffer from this issue.

After we identify and fix the under

[2020-07-10 10:41] nikobearrr commented on #9512
Hi @ilyam8, I do not see anything related, but perhaps you know better. I ran a single netdata instance with both backend and exporting config.

netdata.conf:

[code]

exporting.conf:

[code]

docker images running:

[code]

This is the full log since the start of netdata
full log: [full-netdata-log.txt](https://github.com/netdata/netdata/files/4902596/full-netdata-log.txt)

I have also run the co

[2020-07-10 10:56] zack-shoylev opened #9517 "Install script should support OpenWRT"
Netdata should install and run on OpenWRT with the install script.

It is important for us that cloud works also (meaning cloud dependencies and cloud build should also work)

However, right now there are some basic problems - i.e. old version of tar being used by the install script.

See
https://forum.openwrt.org/t/how-to-claim-agent-on-netdata/68711/5
https://github.com/openwrt/packages/pull/121

[2020-07-10 11:00] thiagoftsm commented on #9516
Hi @jordibiosca ,

Please, can you share your error.log with us?

Best regards!

[2020-07-10 13:31] #9392 closed

[2020-07-10 17:52] macdaliot opened #9519 "spelling on dashboard"
[

#### I am a huge fan of netdata! thank you for the hard work!! Spelling mistake caught my eye - Summary

[2020-07-10 17:57] nmindz commented on #9444
@prologic If all you need is to read diagnostic data from, I might be able to provide you with access to one instance.

[2020-07-10 19:40] jacekkolasa commented on #9519
thanks @macdaliot! fixed in https://github.com/netdata/dashboard/pull/100

[2020-07-10 19:41] #9519 closed

[2020-07-10 20:10] prophoto commented on #9472
Wasn't an SELinux issue, some kind of special protected directory. Found answer here, question was perfectly relevant even though some idiots downvoted it and got it closed on stack.

https://serverfault.com/questions/548541/apache-logs-other-user-read-permissions#comment1001205_548544

chmod go+rX /var/log/httpd

[2020-07-10 20:13] thiagoftsm commented on #9512
Hi @nikobearrr,

I am doing some tests here to try to identifying the possible problem and I was thinking about possible errors reported in the Graphite side, do you have any error in your graphite for the interval without data? I apologize if I am doing a mistake in the question, but I never worked with graphite before, I only assumed that graphite could have errors that can help us.

best regard

[2020-07-10 20:23] #9472 closed

[2020-07-10 20:44] thiagoftsm commented on #9515
Hi @stokbaek,

Which proxy server are you using?

Best regards!

[2020-07-10 21:13] thiagoftsm commented on #9511
Hello @itamar-marom ,

Netdata uses an HTTP-like protocol to start the stream, it is not officially a HTTP, but it has the same format, but after the handshake, the protocol used is not more something that looks like a HTTP protocol, if you can allow all traffics from and to port 19999, it is possible that you won't have more problems.

Best regards!

[2020-07-10 22:20] abrbon commented on #9444
I got it working now.

- I just downloaded the latest 1.23.1 tarball version from github directly in my netdata Jail.
- Then i unzipped it there.
- And then copied the complete code from the netdata-installer.sh from https://github.com/netdata/netdata/blob/master/netdata-installer.sh to replace the netdata-install.sh from the tarball.
- And then installed netdata with this netdata-install.sh

This

[2020-07-10 23:15] alsoGAMER opened #9521 "Netdata fails to start"
##### Basic system informations
[code]

##### Netdata version
[code]

##### Installation source
[code]

##### Installation command & parameters
[code]

##### System Logs
<details>

[code]
</details>

##### Netdata Log file
[error.log](https://github.com/netdata/netdata/files/4905890/error.log)

[2020-07-10 23:35] prophoto opened #9522 "ebpf plugin memory violation"
Installed Netdata on a second web server today from script. Works fine except I can't get apache logs to show up. This is my latest error in /var/log/audit/audit.log

type=ANOM_ABEND msg=audit(1594422517.795:1589560): auid=4294967295 uid=994 gid=991 ses=4294967295 subj=system_u:system_r:unconfined_service_t:s0 pid=19998 comm="ebpf.plugin" reason="memory violation" sig=6

I had followed this tutori

[2020-07-10 23:37] prophoto commented on #9522
$ cat /var/log/netdata/error.log

2020-07-10 23:18:55: netdata INFO  : PLUGINSD : stopping plugin thread: plugin:ebpf
2020-07-10 23:18:55: netdata INFO  : PLUGINSD[ebpf] : data collection thread exiting
2020-07-10 23:18:55: netdata INFO  : PLUGINSD[ebpf] : killing child process pid 20513
2020-07-10 23:18:55: netdata INFO  : PLUGINSD[ebpf] : waiting for child process pid 20513 to exit...
2020-07-10

[2020-07-11 01:24] #8536 closed

[2020-07-11 01:24] #8935 closed

[2020-07-11 01:24] #9149 closed

[2020-07-11 01:24] #9200 closed

[2020-07-11 02:43] whalehub opened #9523 "[Feature Request] Implement Content Security Policy (CSP) best practices in Netdata"
#### Feature idea summary
It is currently impossible to write a _safe_ Content Security Policy for a self-hosted instance of Netdata because attempting to whitelist the sha256 hashes of its numerous inline styles and scripts results in a header which exceeds the maximum size allowed by Nginx. To get Netdata to work correctly, the `unsafe-inline` option must be used both in the `script-src` and the

[2020-07-11 07:19] weijing24 opened #9524 "War room keeps circling"
#### Summary
Hi, I have two war rooms, `server-info` works perfect, but `http-check` keeps circling. I can't see any information from this room. I have tried reclaimming node to this room, but still not worked. Any one have ideas or same problems?
![image](https://user-images.githubusercontent.com/8737314/87218866-47c12e80-c389-11ea-8d60-be10f88b1d1d.png)

#### Component Name
netdata cloud, War Ro

[2020-07-11 07:37] weijing24 commented on #9524
Update:

If I add the node to `server-info`, I can see nodes.

[2020-07-11 07:57] weijing24 commented on #9002
Seems 1.23.1 still can't delete Recently Claimed Nodes

[2020-07-11 08:25] nikobearrr commented on #9512
Hi @thiagoftsm, I do not have errors on graphite's side. Graphite itself does not know about what data it should have received. The way graphite works is that you need to send metrics to it on a fix interval (e.g. 10s). This is the default and that is what I am doing with my netata configuration as well. If a time-window of 10s does not get data then we will be missing a data point. If you put a m

[2020-07-11 09:09] itamar-marom commented on #9511
I wish it was possible but sometimes security comes first.
Thank you for your answer!

[2020-07-11 09:09] #9511 closed

[2020-07-11 09:27] tmikaeld opened #9525 "elasticsearch_last_collected, once alarm is raised, won't go away until netdata restart"
##### Bug report summary

alarm: elasticsearch_last_collected
on: elasticsearch_local.cluster_health_status

Once alarm is raised, won't go away until netdata restart.

##### OS / Environment

[code]

##### Netdata version

netdata v1.23.1-67-nightly

##### Component Name

elasticsearch_local

##### Steps To Reproduce

1. Start Elasticsearch
2. Stop data collection
3. Wait until alarm
4. Start dat

[2020-07-11 09:32] mfundul commented on #9457
@kaplandani @fasihb @ilyam8 can you test #9520?
To compile from source you can do the following:
[code]

To get any additional changes from the PR if it's needed you'd have to run:
[code]
from the same `netdata/` directory.

To replace the existing installation you need to run the installer. Run those from the `netdata/` directory:
[code]

[2020-07-11 10:58] mfundul commented on #9521
Your cache folder is corrupted. To work around the issue you can try deleting `/var/cache/netdata/dbengine/metadatalog-00000-02976.mlf`.

[2020-07-11 11:10] thiagoftsm commented on #9522
Hi @prophoto ,

Thank you for your report. Does the error happen during runtime or when you were stopping Netdata? If this happens when you are stopping Netdata, we already have a [PR](https://github.com/netdata/netdata/pull/9484) for it that will be merged next week.

Best regards!

[2020-07-11 11:13] ilyam8 commented on #9457
Before this PR:

- loading dbengine files: 13:53:06 - 13:53:17 = `11 seconds`
- loading health: 13:53:17 - 13:53:37 = `20 seconds`
- time to start (from a user perspective) = `31 seconds`

<details>
<summary>logs click click</summary>

[code]

</details>

---

After this PR:

- loading dbengine files: 14:03:57- 14:03:58 = `2 seconds`
- loading health: 14:03:58 - 14:04:08 = `10 seconds`
- time to s

[2020-07-11 11:31] ilyam8 commented on #9457
After last commit:

- loading dbengine files: 14:23:46- 14:23:47 = `1 second`
- loading health: 14:23:47 - 14:23:47 = `up to 1 second`
- time to start (from a user perspective) = `1 second`

<details>
<summary>logs click click</summary>

[code]

</details>

[2020-07-11 11:36] startryst commented on #9475
when I can re-install the netdata to give a try, i mean if the public available version include the fix.

[2020-07-11 11:37] thiagoftsm commented on #9222
Hi @MuhammadMunir12 ,

The bot sent a menssage today saying that it would close the this issue, if this happens, please, be free to reopen it.

Best regards!

[2020-07-11 11:40] thiagoftsm commented on #9299
Hi @sticcino ,

First I apologize the delay to answer you. The postfix is enabled only if it is installed, about IPV6 charts, you can disabled them inside your `netdata.conf`:

[code]

best regards!

[2020-07-11 11:44] mfundul commented on #9475
You can already try via the official method `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`.

[2020-07-11 11:49] thiagoftsm commented on #9512
Hi @nikobearrr ,

If you can give me this step by step, it will be great, because I can recreate the same structure that you have. :)

Best regards!

[2020-07-11 12:06] startryst commented on #9475
Fixed, thanks.

[2020-07-11 12:06] #9475 closed

[2020-07-11 12:51] thiagoftsm commented on #9511
Hi @itamar-marom ,

I agree with the sentence `security comes first`, so I have to do a question for you that will help us to improve Netdata. What is the exact problem that is not allowing Netdata to run inside your Network? If you have the list of words that starts each message, would this allow you to run Netdata?

Best regards!

[2020-07-11 14:06] yasharne commented on #9473
Installing netdata binaries again has fixed the problem apparently, so I'm going to close this issue

[2020-07-11 14:06] #9473 closed

[2020-07-11 14:27] #9457 closed

[2020-07-11 14:29] ilyam8 commented on #9525
@tmikaeld

[2020-07-11 14:31] tmikaeld commented on #9525
Will do, thanks!

[2020-07-11 14:32] tmikaeld commented on #9525
I'll close and reopen if it's a problem still

[2020-07-11 14:32] #9525 closed

[2020-07-11 15:06] #7518 closed

[2020-07-11 16:24] #8876 closed

[2020-07-11 16:29] alsoGAMER commented on #9521
Ok, now is working again, but this issue is kinda strange... I've reinstalled netdata from scratch to try to fix this issue, but I didn't get any fix.
Technically, shouldn't the installer delete the contents in the cache directories to avoid conflicts?

[2020-07-11 17:16] thiagoftsm commented on #9480
Hello @sdeepakbz,

I was a little busy last days with new features, so I did not have time to learn and test cPanel. Today I separated a time to move forward with everything I needed, unfortunately I could install cPanel on a VM, but when I tried to use `kcarectl --update` I discovered that I needed a license that is generated for a public IP, but the unique server that I have with public ip has C

[2020-07-11 19:45] nikobearrr commented on #9512
Hi @thiagoftsm,

You need to create 3 files. You need to put them in the same folder and replace `/path/to/your/folder` with the path you have put to bind the proper files.

You need to create `docker-compose.yml`:

[code]

Then you need to create `netdata.conf`:

[code]

And finally create `exporting.conf`:

[code]

Now you are ready to run it. From your folder you need to run `docker-compose up`

[2020-07-12 00:55] comperem opened #9527 "geo-location of fail2ban denied attempts and jailed ip's"
##### Feature idea summary
the next step in monitoring fail2ban logs is listing, or even plotting geo-location of failed intrusion attempts and banned IP addresses on a world map. location does not have to be precise, but country would be very informative.

##### Expected behavior
In addition to current fail2ban monitoring (which is outstanding, by the way) these two additions would take fail2ban

[2020-07-12 06:12] mfundul commented on #9521
The metric history is stored there and a software update shouldn't delete potentially days' worth of metrics storage.

[2020-07-12 08:46] alsoGAMER commented on #9521
Yes, I know, but it's nice if the installer could understand if the cache files are corrupted and try to fix them while reinstalling the product

[2020-07-12 09:38] stokbaek commented on #9515
I might not have explained it clear enough. The proxy servers are just netdata servers that is running in ram mode, and forwards all data to the master node.

[2020-07-12 09:49] mfundul commented on #9521
Well, the bugfix should be the agent itself repairing the corruption, no need to wait for the installer :)

[2020-07-12 09:51] alsoGAMER commented on #9521
Oh ok, but actually it didn't fixed itself, i wondering why...

[2020-07-12 09:52] mfundul commented on #9521
Because the bug hasn't been fixed yet.

[2020-07-12 09:57] alsoGAMER commented on #9521
Mh, ok, so I'll leave this issue opened for future references

[2020-07-12 10:07] #9250 closed

[2020-07-12 15:09] itamar-marom commented on #9511
Hi @thiagoftsm ,
Openshift have a main router (HAPROXY) for outside traffic (and that's for security; Openshift is well known for it's restrictions). The only thing he works with is HTTP/S traffic. I guess that after the first handshake, the node sends to the master no-HTTP format and the HAPROXY does not allow it.

[2020-07-12 15:12] Abjorge95 opened #9528 "Compilation in Ubuntu 20.04 LTS"
##### Bug report summary

Whet trying to install Netdata into my net Ubuntu Server 20.04 LTS, the installation break when trying to compile GEN netcatacli.

##### Log

`  GEN      netdatacli
/usr/bin/ld: externaldeps/libwebsockets/libwebsockets.a(context.c.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a PIE object; recompile with -fPIE
/usr/bin/ld: externaldeps/li

[2020-07-12 16:18] gaia commented on #9363
@stelfrag problem fixed for me on Debian 10. thank you.

[2020-07-12 18:42] Abjorge95 commented on #9528
Greetings,

I followed the manual guide in order to compile with GCC like explained on the page and it worked, yet, not im getting the below erros on service status.

`Jul 12 18:39:02 lb0host02 ebpf.plugin[55656]: Does not have a configuration file inside '/etc/netdata/ebpf.conf. It will try to load stock file.`
`Jul 12 18:39:02 lb0host02 ebpf.plugin[55656]: PROCFILE: Cannot open file '/etc/netdat

[2020-07-12 18:49] Abjorge95 commented on #9528
Greetings,

Weard update, but true, the fault above prevents me from visiting myip:19999 dashboard, but, if i use the cloud key to add to my cloud account, the new host will be added and all graphs are working and providing data and interaction.

[2020-07-12 20:11] redbaron-gt commented on #8882
Same problem with Ubuntu 20.04 LTS.

[2020-07-12 20:29] Daniel15 commented on #9314
Oh wow, I didn't know about this! Is this documented on the Netdata site anywhere?

[2020-07-12 21:00] thiagoftsm commented on #9314
Hi @Daniel15 ,

There is a description about this plugin and the motive it is disabled in this [link](https://learn.netdata.cloud/docs/agent/collectors/slabinfo.plugin).

Best regards!

[2020-07-13 00:59] OliverGee commented on #8967
I am also now having this issue with the kickstart script. Attempting to install on a fresh (but up to date) RPI 4 running Raspbian.

[2020-07-13 06:54] mkauzlar opened #9529 "ebpf.plugin segfault"
On every machine we installed netdata we have many errors such as:

[Mon Jul 13 06:39:01 2020] EBPF PROCESS[20218]: segfault at 6410 ip 0000000000006410 sp 00007f3f77e3fb78 error 14 in ebpf.plugin (deleted)[55973a385000+10000]
[Mon Jul 13 06:39:08 2020] trace_kprobe: Event kprobes/r_netdata_vfs_write_0 doesn't exist.
[Mon Jul 13 06:39:08 2020] trace_kprobe: Event kprobes/r_netdata_tcp_sendmsg_0 do

[2020-07-13 10:26] prologic commented on #9528
Very similar (_if not identical_) to #8882

[2020-07-13 10:36] Elbje opened #9530 "Netdata stops collecting metrics after a while"
##### Bug report summary

We have netdata running on almost 1000 servers, after a while netdata stops collecting metrics. The dashboard still works, the api endpoint also keeps working, it looks like everything is still functional except that no new metrics are being stored.
I have looked at error.log every time this happened (on all our servers) and it looks like netdata stops collecting/saving m

[2020-07-13 10:37] Elbje commented on #9530
also I have tested this with version 1.23.1 and had the same issue

[2020-07-13 10:41] mfundul commented on #9530
We have detected and fixed some bugs that affect both versions 1.23.0 and 1.23.1
Can you test the latest version and see if your problem is fixed? The [official installation method](https://learn.netdata.cloud/docs/agent/packaging/installer#automatic-one-line-installation-script) also pulls the latest code from master:
[code]

[2020-07-13 11:06] Saruspete commented on #9314
@Daniel15 If you think of features / configuration / filter that would be useful for this plugin, please tell us (or better, propose a PR :) )

I made it to debug kernel issues on trading environment, but I would love to hear about other usages !

[2020-07-13 11:20] prologic commented on #9517
if I could get a 👍 from the community of users and contributors that would help us prioritise this work and gauge the level of interest. Thanks!

[2020-07-13 11:22] Kramerican commented on #6481
Hello @vlvkobal

This issue has now reverted for me, as of a few versions ago. I am up to date on `v1.23.1-77-g013c9da6` and seeing the exact same symptoms as before.

I am also seeing lots of the error messages in my error log you refer to earlier:

`2020-07-13 12:45:06: netdata INFO  : PLUGIN[cgroups] : CGROUP: maximum number of cgroups reached (1000). Not adding cgroup '/lxc.payload.xxxx/system

[2020-07-13 11:25] #9423 closed

[2020-07-13 12:04] Ferroin commented on #9479
I'm not certain that this one is in PyPI actually, and it's not just Alpine that's dropped it, it's disappearing from a lot of distros.

On a separate note, if we're updating the base images, we should be umping to the latest Alpine, which is 3.12, not 3.11.

[2020-07-13 12:10] Ferroin commented on #9155
Quick reminder, this needs to:

1. Not modify anything if tracefs and debugfs are already mounted, even if they're _not_ in `/etc/fstab`. Some systems mount them during startup in ways that don't involve `/etc/fstab` at all.
2. Correctly handle systems that don't use `/etc/fstab` and only use systemd units. Short term correct handling is to not do anything, longer term correct handling is to creat

[2020-07-13 12:11] mfundul commented on #6839
@PNRxA @mbarper can you test #9531 to see if the problem goes away?
To compile from source you can do the following:
[code]

To get any additional changes from the PR if it's needed you'd have to run:
[code]
from the same `netdata/` directory.

To replace the existing installation you need to run the installer. Run those from the `netdata/` directory:
[code]

[2020-07-13 12:14] Ferroin commented on #8488
Actually, I _think_ this breaks things on Gentoo as well if run as a non-root user (Gentoo does not include any `*/sbin` paths in the default non-root `$PATH`).

There's more here than just adding paths though. The sample code block given in the original post will actually break for non-root installs if we add these paths, or possibly do very wrong things if it doesn't just stop working.

[2020-07-13 12:20] mfundul commented on #6839
Give it some time guys, the Pull Request is not ready yet, I will let you know when to run the code again.

[2020-07-13 12:49] Ferroin commented on #9480
@thiagoftsm In theory this is probably not specific to KernelCare. AFAICT, it's an interaction between our usage of kprobes and the Linux kernel's live patching functionality (I believe we're causing one of the live patching sanity checks to fail, it gets really picky about the state of the kernel being patched to ensure it actually works).

Unfortunately, I'm not sure of any other easy way to tes

[2020-07-13 12:50] Vincinator commented on #9479
Absolutely, I thought the same and bumped the alpine version to 3.12 in the PR.

The [py-mysqlclient](https://pkgs.alpinelinux.org/package/v3.9/community/x86/py-mysqlclient)  and the [py-mysqldb](https://pkgs.alpinelinux.org/package/v3.9/community/x86/py-mysqldb) alpine packages are referring both to the source [farcepest/MySQLdb1](https://github.com/farcepest/MySQLdb1) GitHub Repo.

The mysql cli

[2020-07-13 13:04] dragon2611 opened #9532 "Reliance on fonts.gstatic.com for netdata cloud."
This gets blocked on my network by a pihole, I could whitelist it but ideally it would be nice if there wasn't such an external dependency.

Mostly netdata cloud works but the chevrons don't display under visited nodes and the alt text makes the UI layout look awful.

<img width="270" alt="Screenshot 2020-07-13 at 14 04 13" src="https://user-images.githubusercontent.com/6185399/87307606-d1036d00-c

[2020-07-13 13:19] mfundul commented on #6839
Please disregard the PR, it does not fix the issue.

[2020-07-13 13:24] thiagoftsm commented on #9480
Thank you @Ferroin !
Do you know a Linux distribution that could help me to replicate this problem? I could not see this error with distributions I am working.

[2020-07-13 14:29] aldem opened #9533 "Incorrect time display in charts past midnight (24:01:30... till 01:00)"
##### Bug report summary
In dashboard chart display, the time since midnight and till 01:00 is reported as 24:01:30 and so on instead of 00:01:30:
![image](https://user-images.githubusercontent.com/754722/87315387-c0102700-c524-11ea-9ff8-e94384bd3704.png)

I see it in most recent nightly (v1.23.1-77-g013c9da6) but not in v1.23.1 stable and it affects all displayed charts, not only one.

##### OS /

[2020-07-13 15:53] Ferroin commented on #9480
Unfortunately, I don't know of any free ones that provide kernel live patching support. I _think_ paid versions of OEL and RHEL offer it, but I'm not certain.

[2020-07-13 19:18] thiagoftsm commented on #9512
Hi @nikobearrr ,

Thank you very much for the instructions, everything worked for I set up, and I already could see some problems as you described. I will work to understand and bring the fix for this.

Best regards!

[2020-07-13 20:36] prophoto commented on #9522
Must be at launch since I never get any Apache info into Netdata.

[2020-07-13 21:24] snoopotic commented on #9517
Hey, nice to read that!
It's quite a while I tried to compile it. So my following findings are incomplete and sadly not concrete.
The main message is: It is not possible yet for openwrt-builds to pass the configure.ac also by setting --force-cloud as there are some checks hardcoded in the configure script where the openwrt-libs/extensions are not placed although you may have defined/placed them.
l

[2020-07-13 22:10] thiagoftsm commented on #9511
Thank you for your explanation @itamar-marom !
Considering that it only accepts HTTP/S, my suggestion for you to use Netdata in this environment, it is to configure TLS cryptography on [client](https://learn.netdata.cloud/docs/agent/streaming#options-for-the-sending-node) and in the server [side](https://learn.netdata.cloud/docs/agent/web/server#enabling-tls-support),   with this additional config

[2020-07-13 22:16] thiagoftsm commented on #9529
Hi @mkauzlar ,

Is this happening when Netdata is ending? If this is the case, we already have a [PR](https://github.com/netdata/netdata/pull/9484) for this, if it is not, please, let me know and I will try to replicate and fix it.

Best regards!

[2020-07-13 23:03] thiagoftsm commented on #9522
Hi @prophoto ,

The following message:

Is happening because the `ebpf.plugin`  is right now using `/proc` to keep parity with `apps.plugin` charts, and I understand that this can generate a lot of error messages. I updated the PR [9484](https://github.com/netdata/netdata/pull/9484/) to hide these messages that are not a bug, in reality they are more informative.

Best regards!

[2020-07-14 00:42] aldem opened #9534 "Most alarms are disappearing after restart and "phantom" disks"
##### Bug report summary
I have noticed that only few alarms (from usually long list) are visible (in "All alarms" tab), so I tried to investigate what happens.

Deletion of dbengine data solved the issue... till netdata was restarted again - after restart I could see only fraction of all alarms:

![image](https://user-images.githubusercontent.com/754722/87366042-0347b580-c578-11ea-991a-270f508752

[2020-07-14 05:49] mkauzlar commented on #9529
Hi @thiagoftsm,

I think it's related to the restart. It happens every day when this cron runs:
/etc/cron.daily/netdata-updater

Best regards

[2020-07-14 06:50] ssm3e30 commented on #9206
I am having this issue on various Ubuntu 18.04 LTS and 16 servers. Nodes randomly go to an unreachable state on the Netdata cloud. Sometimes they recover quickly, sometimes not for hours. SSH into the server and Netdata is still running. The output of `grep ACLK /var/log/netdata/error.log` is blank.

No idea where to even start here since the error files are blank searching for ACLK as suggested.

[2020-07-14 08:14] ilyam8 commented on #9534
It was eary to reproduce for me

- stop netdata
- delete dbengine data
- start netdata
- check all alarms
- restart netdata
- check all alarms

After start:

<img width="432" alt="Screenshot 2020-07-14 at 11 06 59" src="https://user-images.githubusercontent.com/22274335/87401625-0ddb6c80-c5c3-11ea-951f-9c3401fc5743.png">

After restart:

<img width="434" alt="Screenshot 2020-07-14 at 11 10 52" src

[2020-07-14 09:44] #9534 closed

[2020-07-14 09:49] ilyam8 commented on #9534
@aldem thx for reporting!

[2020-07-14 10:47] thiagoftsm commented on #9529
Thank you for your answer @mkauzlar !

We already have a fix for it and we will have the solution applied to master in the next days.

Best regards!

[2020-07-14 10:47] prologic commented on #8488
How does adding a few extra search paths, specifically paths for binaries typically found in `/sbin/` and `/usr/sbin` break things exactly? The only possibility is a binary name collision between `bin` and `sbin` paths which the shell would use the search paths as defined right? So I'm a bit lost here :) Not sure how this would hurt non-root user from installing Netdata.

[2020-07-14 10:49] prologic commented on #9155
Perhaps it _might_ be easier if the Netdata agent mounted the required file systems on startup if not already mounted?

[2020-07-14 11:20] Ferroin commented on #8488
We're calling out to tools in a number of places that must be run as root without properly checking for `EUID=0`. I don't know that it will make things stop working, but it will make the script throw a lot of errors when run as a non-root user.

[2020-07-14 11:22] Ferroin commented on #9155
That might be better, with the caveat that Netdata would have to be run as root.

[2020-07-14 12:59] Ferroin commented on #9498
Polyverse seems to have changed a number of things recently, and I suspect this is fallout from that. Short term, the fix is to just not use `RESCRAMBLE=1`. Long term I'm not sure of a proper fix, but I'm personally in favor of just dropping Polyverse support as it really doesn't do much to protect the primary attack surface of our images (namely, Netdata itself).

[2020-07-14 13:22] prophoto commented on #9522
I was hoping this was the cause of my failure to get Apache info into Netdata. I've followed your tutorials and have it working on one of my instances, but can't get it going on a second. Suggestions where I can look to get it going? Any normal screw ups by noobies? Thanks.

[2020-07-14 13:40] Flat commented on #8384
I seem to have the same or similar error. The errors are triggered multiple times a second. All netdata configs are their default values.

netdata v1.23.1

error.log:
[code]

[2020-07-14 13:45] SyntrophicConsortium commented on #8384
I mentioned some changes I made above. Those seems to have worked for me. I saw the error one more time for a few hours since I made those changes, but since then, nothing more (and it's been a few months). I have an SSD, so in my case, the errors didn't make a lot of sense. I don't know for sure that the changes I made fixed it. I haven't reverted the changes to see if it happens again, but it's

[2020-07-14 13:50] ilyam8 opened #9541 "Units auto-scaling: add `bytes`"
##### Feature idea summary

I've enabled units auto-scaling feature, `bytes` still `bytes`

<img width="1158" alt="Screenshot 2020-07-14 at 16 48 41" src="https://user-images.githubusercontent.com/22274335/87433349-e18b1480-c5f1-11ea-8d2b-a3c13cd59f9a.png">

##### Expected behavior

Dashboard should auto-scale `bytes` to `kilobytes`, `megabytes`, etc.

[2020-07-14 13:51] ilyam8 commented on #9541
@jacekkolasa perhaps i should have it opened in the dahsboard repo, feel free to transfer the issue.

[2020-07-14 15:06] UBERPHP commented on #9035
I have the same issue on CentOS 8 on netadata v1.22.1

[2020-07-14 15:32] #6839 closed

[2020-07-14 15:53] Elbje commented on #9530
Thanks for your reply. Since we did not feel comfortable using the install script, we downgraded to version 1.22.1 and the bug seems to be not present in this version. Using this version is okay for us, thanks for your help!

Do you know when the next release (including these fixes) will be ?

[2020-07-14 16:06] mfundul commented on #9530
I expect the next release to be out by next week if all goes well.

[2020-07-14 16:37] manos-saratsis commented on #9002
@Nirjonadda @weijing24 this will be probable done by end of August. Reasoning is that we want to ship some other cool features first. You can delete nodes from War Rooms and if you like re-claim your agents (see my comment above) but the already claimed nodes will remain under Manage Claimed Nodes for now.

[2020-07-14 16:42] #9424 closed

[2020-07-14 16:42] #9480 closed

[2020-07-14 16:42] #9522 closed

[2020-07-14 16:42] #9529 closed

[2020-07-14 19:26] ilyam8 commented on #9530
This is understandable, but still it would be very nice if you could test latest master on one of your servers to ensure it is fixed, if it is not we need to do it before release.

[2020-07-14 19:44] thiagoftsm commented on #9522
Hi @prophoto ,

The `ebpf.plugin` reads information from kernel ring and allocates memory direct on `heap`, so it cannot have direct relationship with the Apache.
I am not sure about what you are trying to monitor, so I will give you all links that come in mind and I hope they will help you:

- To monitor weblog you have this: https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/w

[2020-07-14 19:51] ilyam8 commented on #9522
yeah, you dont use `ebpf.plugin` to parse apache logs.

I really dont understand the issue, i was thinking it is ebpf related.

@thiagoftsm @Ferroin ^^ is that a problem?

[2020-07-14 20:54] thiagoftsm commented on #9522
@ilyam8  these errors are normal when the Linux has SELinux enabled. Every time this happens, it is necessary to configure SELinux to allow ebpf.plugin to run. We documented the steps for the users to change their system, we are not doing automatically, because this affects directly the user policy.

[2020-07-15 00:02] prologic opened #9542 "Identify and fix `make dist` CI checks for missing files"
We keep getting biten by this.

Most recently:

- [This PR fixed missing `bundle-ebpf.sh`](https://github.com/netdata/netdata/pull/9539)
- [ This PR introduces `bundle-ebpf.sh` but forgot to include it in the dist](https://github.com/netdata/netdata/pull/9450)

However according to the [CI Check that ran](https://github.com/netdata/netdata/runs/823477814) it passed.

Clearly the check is either wr

[2020-07-15 00:03] prologic commented on #9542
@Ferroin Please look into this as a matter of mid-pri when you have other things out of the way. We keep getting bitten by this. Let's not get bitten again :)

[2020-07-15 00:08] Flat commented on #8384
Today that seems to have alleviated the issue for me. Will see if it comes back.

[2020-07-15 01:16] aldem commented on #8967
Initially I thought that I have similar issue (\n related), but after inspecting the files I see in downloaded static package:

[code]
But sha256sum.txt is referring to different build:

[code]

Either this is a Google's cache issue (I don't use any proxies nor .curlrc) or a bug somewhere... I tried several times within 20 minutes and problem is still there.

[2020-07-15 02:43] prologic commented on #8967
I _believe_ it is a Google caching issue which I'm not entirely sure what we can do about it to be honest. I'll have a poke around the Google Storage Bucket(s) again that serve this up and see if there are any knobs I can tweak.

[2020-07-15 02:46] prologic commented on #9155
Doesn't it anyway?

[2020-07-15 02:48] prologic commented on #8488
Unless we have __very__ good strong reasons to support running our installer(s) as non-root I would just make this consistent and not have to worry about this so much.

[2020-07-15 03:19] prologic commented on #8967
This [thread](https://stackoverflow.com/questions/37107171/google-cloud-storage-how-can-i-reset-edge-cache) seems relevant; specifically this bit:

[2020-07-15 04:06] prologic opened #9543 "Investigate Google Storage caching and Netdata nightlies checksum failures"
See https://github.com/netdata/netdata/issues/8967#issuecomment-658490042

Basically what I want to do here (_tomorrow; Slack reminder set_) is:

- When we publish the next nightly
- Before the (_default_) 1hr Cache-Control expiry
- Try to reproduce the problems our users see sometimes with checksum failures on our `kickstart-*.sh` scripts.

Then try to find a good solution to this; some ideas:

-

[2020-07-15 04:14] prologic commented on #8967
Based on my research from today I _think_ we may be able to improve this situation. I have some ideas I can try. I've created #9543 to investigate this tomorrow during the next nightly build and publish run.

[2020-07-15 11:28] Ferroin commented on #9155
By default it starts as root and drops privileges. Strictly speaking though, it can be started directly as the Netdata user without issue though.

[2020-07-15 11:30] Ferroin commented on #8488
They currently work correctly when run as a non-root user provided you specify an install prefix that you can write to (it sets things up to run as the current user, so you lose out on stuff that needs `EUID=0`, but otherwise works fine). I'm hesitant to break this, especially since it should be possible to handle this properly without breaking anything.

[2020-07-15 12:01] prologic commented on #8488
I _actually_ wonder how much of the Netdata agent's functionality is useable at this point. Do you have an enumerated list of what no longer becomes functional?

Just trying to understand the problem fully :)

[2020-07-15 12:03] prologic commented on #9155
So as long we we maintain that behaviour we're fine. If you start as a non-root or a non-suid binary, then we can just spit out a warning and disable the eBPF plugin as a result of those file systems not being available.

[2020-07-15 12:50] Ferroin commented on #8488
Anything that's SUID root in `/usr/libexec/netdata/plugins.d` stops working, because you can't make it SUID root if you're not root yourself (for obvious security reasons). As of right now on Linux, this consists of:

* slabinfo.plugin
* perf.plugin
* eBPF.process.plugin
* ioping.plugin
* apps.plugin (may still work on some system swiht lax security settings)
* Mapping of networking cgroup names.

[2020-07-15 13:13] Elbje commented on #9530
I added the nightly build repo (netdata/netdata-edge) and installed the latest version (1.32.177) to one of our servers, I suppose this is the same version as the latest master ?
I'll keep you updated on the performance of this version on our server.

[2020-07-15 16:40] arrjay commented on #9442
this also seems to be providing the wrong libraries when I built netdata for a raspberry pi.

[2020-07-15 17:09] thiagoftsm commented on #9442
Hi @arrjay ,

We are working to change the libraries and way ebpf.plugin is loaded, please, if you can share with us the errors you are having on raspberry pi, this will help us to also fix this.

Best regards!

[2020-07-15 17:46] arrjay commented on #9442
kernel:
[6397353.117434] trace_kprobe: Event kprobes/r_netdata_tcp_sendmsg_0 doesn't exist.
[6397354.308363] trace_kprobe: Event kprobes/r_netdata_vfs_write_0 doesn't exist.
[6397354.308391] trace_kprobe: Event kprobes/r_netdata_tcp_sendmsg_1 doesn't exist.

netdata error.log:
error.log:2020-07-15 18:41:38:  ERROR : MAIN : Does not have a configuration file inside `/etc/netdata/ebpf.conf. It will

[2020-07-15 18:34] macdaliot commented on #9519
Thank you!!!!

[2020-07-15 22:02] ntlug opened #9548 "Copyright 2018?"
##### Bug report summary

I printed off a PDF using the printer icon off the netdata dashboard, and the report at the bottom says:

Netdata (https://github.com/netdata/netdata/wiki)
Copyright 2018, Netdata, Inc (mailto:info@netdata.cloud).
Copyright 2016-2018, Costa Tsaousis (mailto:costa@tsaousis.gr).

##### OS / Environment

[code]

##### Netdata version

netdata v1.23.1-93-nightly

##### Compon

[2020-07-15 22:08] ntlug commented on #9356
We're sort of messed up if Judy is already installed.

However, if not, then when you pull in the okay repo, you can install both Judy and Judy-devel from it with

`dnf install Judy Judy-devel --disablerepo=AppStream`

This is still probabilistic.  But ideally, the ones it will find will come out of the okay repo.

(this is for CentOS 8 and presumably RHEL 8)

[2020-07-15 22:16] ilyam8 commented on #9548
hi

i think it is the first date, you read it as `2018 - present`.

[2020-07-16 04:06] prologic opened #9550 "Debian/Ubuntu with eBPF package fails to build correctly due to shlibdeps"
See: https://travis-ci.com/github/netdata/netdata/jobs/361530214

[2020-07-16 04:11] prologic commented on #9550
In fact we seem to have zero Debian packages.

See: https://travis-ci.com/github/netdata/netdata/jobs/361530329

They're all failing with Debian's library checking tools on libelf and various other libraries from the pre-built eBPF shared libraries.

[2020-07-16 04:45] ntlug commented on #9548
I think I was tired.  Little things.  Sorry about the false alarm.

[2020-07-16 04:46] #9548 closed

[2020-07-16 09:35] DeWaRs1206 commented on #9421
@thiagoftsm after 7 days I can confirm the issue seems to be solved with the new version on Netdata.
Thanks a lot for your support on this !

[2020-07-16 09:37] tinyhammers opened #9551 "megaRAID not alarming"
Hey guys...

Hope you're all keeping safe.
I'm trying to track down an issue I've got with the megaRAID alarm.
I've got a bunch of boxes using megaRAID, and I've got Netdata showing the adapter state, but for some reason isn't triggering an alarm when its degraded.

[code]

My understanding is the above should trigger an alarm if the state is greater than 0. Netdata is reporting the state as 1, bu

[2020-07-16 09:53] ilyam8 commented on #9551
Hi @tinyhammers

netdata version?

Did you try to update to the latest (master) and test it?

[2020-07-16 10:01] thiagoftsm commented on #9421
Hi @DeWaRs1206 ,

I am glad with this new report, I am closing this issue, because it looks like everything was solved, be free to reopen if the problem happens again.

Best regards!

[2020-07-16 10:01] #9421 closed

[2020-07-16 10:31] underhood commented on #9506
Are you behind any proxy?
Is access to https://app.netdata.cloud direct and working from the machine where you attempt claiming?
Did you attempt to do it again afterwards to rule out some intermittent connection issue?

[2020-07-16 10:35] tinyhammers commented on #9551
I've just updated to v 1.23.1 and given it a restart.
Problem still persists. Adapter state showing as 1 but no alarm 🤔

On the chart the dimension shows as `megacli_RAID_check.adapter_degraded`, so if I amend the config to:
`on: megacli_RAID_check.adapter_degraded` might that help?

[2020-07-16 10:48] ilyam8 commented on #9551
Do you see that alarm in the Alarms->All ?

[2020-07-16 10:52] tinyhammers commented on #9551
Oh no, I don't.
It's not there.

[2020-07-16 11:11] mfundul commented on #9551
@ilyam8 the bug you were thinking about does not exist in 1.23.1

[2020-07-16 11:32] mfundul commented on #9551
@tinyhammers Can you share your `var/log/netdata/error.log` contents? Does the chart `megacli_RAID_check.adapter_degraded` exist in the netdata dashboard when it's degraded?

[2020-07-16 11:33] ilyam8 commented on #9551
@tinyhammers we need to change all `alarm` to `template` in the

https://github.com/netdata/netdata/blob/master/health/health.d/megacli.conf

[2020-07-16 11:36] ilyam8 commented on #9551
Actually it is kind of impossible to use `alarm` with any py/go modules. `alarm` need exact chart id, we cant provide it beacuse a job name is user configurable and we always add the job name as the prefix to every chart.

[code]

in your that case chart is `RAID_check.adapter_degraded` not `megacli.adapter_degraded`

[2020-07-16 11:38] ilyam8 commented on #9551
@tinyhammers

are you willing to make a PR?

[2020-07-16 11:41] prologic commented on #9356
When I was digging into this-further, I wasn't even able to get Netdata built on CentOX 8.x even with just the Okay repo. But maybe I _might_ have to test this again.

[2020-07-16 12:10] #9225 closed

[2020-07-16 12:31] tinyhammers commented on #9551
Can confirm, changing `alarm` to `template` has fixed it.
Can do a PR to update. Should I do that in the develop branch?

[2020-07-16 12:40] thiagoftsm commented on #9551
Hi @tinyhammers ,

You can do your PR direct on `master` branch.

Best regards!

[2020-07-16 12:41] ilyam8 commented on #9551
the fastest way is go it via github gui

- make changes
- click on the `Propose Changes`

[2020-07-16 15:53] #9551 closed

[2020-07-16 15:58] #9452 closed

[2020-07-16 18:10] aldem opened #9554 "Incorrect display of LVM volume names in dashboard sidebar"
##### Bug report summary
After creating/removing volumes in LVM netdata shows previous (deleted) names instead of actual ones, while in chart itself it is correct.

I could not reproduce it with regular volumes so I believe this is LVM-bound (though I maybe wrong).

##### OS / Environment
[code]

##### Netdata version
`v1.23.1-93-g8677f158` (stable) and `v1.23.1-100-gf4826b08` (latest nightly)

Pl

[2020-07-16 19:24] ntlug commented on #9356
My working (flat) ansible for CentOS 8 (we have EPEL installed as part of a different playbook):

[code]

[2020-07-16 19:24] ntlug commented on #9356
(forget that comment about open-vm-tools)

[2020-07-16 21:00] #9453 closed

[2020-07-16 21:03] thiagoftsm commented on #9442
Hi @arrjay ,

We merged today a new structure that we are starting to use, it will compile ebpf.plugin against `libbpf` and we expect that some of the problems that you reported won't exist more, but the merged code is not the final work of the sprint, we will continue doing changes in the next weeks to fix all the problems.

Best regards!

[2020-07-17 01:13] aldem commented on #9554
Couple more glitches which are probably related:

![image](https://user-images.githubusercontent.com/754722/87735198-2327e500-c7d5-11ea-87fd-81c5bb0c4b44.png)

What is wrong:
- Sidebar: /var/lib/vz (existing mountpoint on LVM volume `npve-vz`)
- All I/O activity charts: unrelated (but existing) LVM volume `sraid-svar` (correct values for this volume)
- Space/files charts: volume which is indeed ma

[2020-07-17 05:04] fasihb commented on #9457
I did exactly as you suggested and i thought I am ok but still same issue it is now again not accessible. You also mentioned try different memory modes and I did that still same issue. I haven't tried testing v 1.22.1 will give it a shot and see.

[2020-07-17 07:43] mfundul commented on #9457
Trying different memory modes really shouldn't even attempt to load any `.mlf` files whatsoever. Can you share your `var/log/netdata/error.log` from those attempts? By the way, no need to test the Pull Request explicitly anymore, it has been merged into master and is now included both in the nightly builds and in the stable release.

[2020-07-17 08:32] mfundul commented on #9530
Btw the next release is out.

[2020-07-17 08:57] cakrit commented on #6683
@amoss @Ferroin any ideas so we can help with this?

[2020-07-17 10:11] skibbipl opened #9558 "Installation from local files is broken"
##### Bug report summary
I wanted to install netdata on a system with blocked internet connectivity to external sites. So I followed the documentation and used this command to install netdata but I got following errors:
[code]
I think the problem is that offline installer first goes to created temporary dir and then tries to copy non existing files there.

##### OS / Environment
[code]
I also trie

[2020-07-17 14:28] prophoto commented on #9522
Still figuring Netadata out. I'm sure I will like it more once its working as I need it to! I think I have apache monitoring working based on output below, but its still not showing in the GUI. Thoughts? Do I need to whitelist any other IPs for it to work? Right now I only have localhost, server IP and my work IP.

bash-4.2$ cd /usr/libexec/netdata/plugins.d/
bash-4.2$ ./go.d.plugin -d -m apache
[

[2020-07-17 15:48] RX14 commented on #8384
I'm running netdata `v1.23.0-18-ga36401f87` and getting the same errors:

[code]

I am collecting only 1885 metrics on a single machine, onto a SSD.

The interesting thing is that there is absolutely no IO operations happening:

![](https://elixi.re/i/gk6eomib.png)

After a certain period of time netdata just seems to stop writing to the DB. I've had this happen multiple times now. There's no IO l

[2020-07-17 15:58] RX14 commented on #8384
Interestingly, after a restart, the data is still there (minus the missing chunk from 02:45 to 06:30 from before the restart). The last logged data point was at 02:45:35, and the gradient of the "dirty" pages shows that the bug appeared at that time. There was an entry in the error log at 02:45:36:

[code]

hope this helps.

[2020-07-17 16:17] Snuggle commented on #9059
@mfundul Any idea what kind of scenarios could cause high buffer usage? For some reason it seems that QEMU/KVM disk caching is showing up as buffer usage on my RHEL system.

[2020-07-17 16:19] mfundul commented on #9059
Not sure, maybe qemu opened a block device directly instead of opening an image file? This would be one scenario I can think of that can allocated "buffered" memory instead of "cached".

[2020-07-17 16:42] fasihb commented on #9457
hello,
i was able to install v 1.22.1 and so far it's stable and i haven't had an issue like i was seeing in 1.23
v1.22.1-262-g603231d

-fasih

[2020-07-17 17:06] squash commented on #9121
Just wanted to chime in that this feature (alerts for unreachable hosts) is the primary reason I'm still looking for a monitoring system. Subscribed to the bug hoping to hear some movement happening!

[2020-07-17 20:14] olg33 opened #9559 "How to add data from two interfaces into one graph"
Hi,

I'm creating a graph from data coming from SPAN ports in a Cisco switch. One port has Rx data and the second one carries Tx data. Data is fed to an Ubuntu VM with two interfaces: ens192 and ens 224
To display them separately I created a BW_Display.html file with the following lines:

For Rx Data:

`div data-netdata="net.ens192"`
`data-title="Receive (Rx)"`
`data-chart-library="dygraph"`
`data

[2020-07-17 21:03] thiagoftsm commented on #9455
For more details about the change in the format, please, take a look at https://github.com/netdata/product/issues/488#issuecomment-660336651

[2020-07-17 22:41] csutcliff opened #9560 "Samsung PM1733 stats"
##### Bug report summary
Completely insane values for Samsung PM1733 SSDs
see: https://i.imgur.com/ia4sa7X.png

##### OS / Environment
Linux pve-1 5.4.44-2-pve #1 SMP PVE 5.4.44-2 (Wed, 01 Jul 2020 16:37:57 +0200) x86_64 GNU/Linux
/etc/os-release:PRETTY_NAME="Debian GNU/Linux 10 (buster)"
/etc/os-release:NAME="Debian GNU/Linux"
/etc/os-release:VERSION_ID="10"
/etc/os-release:VERSION="10 (buster)"

[2020-07-18 05:36] #9270 closed

[2020-07-18 05:36] #8628 closed

[2020-07-18 05:36] #9277 closed

[2020-07-18 05:36] #9275 closed

[2020-07-18 14:41] Steve8291 commented on #9550
Same problem for me on Ubuntu 18.04.4
eBPF is running and creating graphs for my netdata site but the installer fails and leaves the temporary directory it created from line 714 of the `netdata-installer.sh`
I get the following messages during an install:
[code]

[2020-07-18 19:49] thiagoftsm commented on #9550
Hi @Steve8291 ,

we are changing the way Netdata loads the ebpf.plugin and probably we are missing something on Ubuntu.
We have the missing file inside our branch, but I think we are missing something when `kickstart` is used.
@Ferroin, @prologic do you know what can be the problem with `kickstart`?

[2020-07-19 03:33] marty1885 commented on #9035
For those waiting for a proper solution. A quick hack to fix this is to make a link to the reverse proxy's default content directory. For me using `nginx` that becomes:

[code]

Or whatever path your Apache/Nginx/etc uses

[2020-07-19 07:53] UBERPHP commented on #9035
thanks @marty1885

[2020-07-19 09:48] Raki72 commented on #92
Netdata is now working nicely in the Linux Subsystem of Windows 10. I installed it with this tutorial: https://www.how2shout.com/how-to/how-to-install-netdata-on-windows-10-wsl.html?unapproved=203499&moderation-hash=f4b8e97f2042454b9ca2825a70ed0519#comment-203499

One problem stays - Netdata uses an insane amount of CPU. For me it's about 700%. This is making the resource measurements quite absurd

[2020-07-19 12:54] nikobearrr opened #9561 "How to disable ACLK?"
##### Question summary

I would like to disable ACLK. I am trying to follow this guide: https://learn.netdata.cloud/docs/agent/aclk but I do not think I succeed.

##### OS / Environment
Netdata v1.23.2 in docker

##### Component Name
aclk

##### Expected results

I have copied `cloud.conf` to `/etc/netdata/cloud.d/cloud.conf` and `/var/lib/netdata/cloud.d/cloud.conf` (just to be sure). So I don't

[2020-07-19 16:00] itamar-marom opened #9562 "streaming problem with api key"
##### Question summary
STREAMING problems with API KEY

##### OS / Environment
RHEL 7.x
netdata v1.21.1
isolated environment

##### Component Name
I'm having trouble with my streaming to master with API KEY.
bellow is my master stream.conf:

[code]

and my slave's stream.conf:

[code]

of course my key was made by uuidgen command.

here is the master error log:
[code]

here is the slave error log:

[2020-07-19 17:23] #9025 closed

[2020-07-19 23:23] thiagoftsm commented on #9562
Hi @itamar-marom ,

The configuration that you are showing us looks like correct, so but this message is only shown when the key does not match 100%. Is it possible that server or child has utf-8 editor?

Another thing that I would like to call attention, it is the fact that Netdata released `1.23.2` last week, please, can you update to confirm that this is not a bug already fixed?

Best regards!

[2020-07-19 23:47] abrbon opened #9563 "Update 1.23.1 -> 1.23.2 Failed on FreeNAS"
Hi,

Just tried to update my Netdata from 1.23.1 -> 1.23.2 and got the following error:

[code]

This is on my TrueNAS 12 installed in a jail (iocage).

[code]
Also tried to download the tarball for 1.23.2 and tried to install that but exact same error.

[2020-07-20 00:07] prologic commented on #9558
@skibbipl Thanks for reporting. While we look into this, in the meantime can you try just running the Makeself archive directly? It should be a self-extracting shell script.

[2020-07-20 00:31] prologic commented on #9563
Hi @abrbon I'm also working on this in other related/similar issues on FreeNAS 11.3. Unfortunately I have little experience with FreeBSD systems myself so I'm having to learn about how to use `iocage` and try to figure out what's wrong with our build system on FreeNAS/TrueNAS systems. I _tried_ the hard way to build straight up on a FreeNAS box (_no jail_) only to find that the compiler and build

[2020-07-20 00:31] prologic commented on #9563
If you are able to help with this in any way please let me know or free to put up a PR or two :)

[2020-07-20 02:02] prologic commented on #9543
Missed this again today. This is really hard to reproduce. I'll try again tomorrow, my hunch of what the problem is and how to fix it are still valid I think.

[2020-07-20 08:26] Elbje commented on #9530
Version 1.23.1-77-nightly still has the same bug. Netdata stopped saving/collecting new metrics at Friday 2020-07-17 15:11:31 after the same logs I saw in version 1.23.1 where present in error.log:

[code]

[2020-07-20 08:27] Elbje commented on #9530
Thank you for notifying me @mfundul . I will try the new release on the same server, hopefully the bug is fixed

[2020-07-20 09:45] XGhozt commented on #9168
**+1** This might be related to the python selector being enabled and the installation path of python being different. I'm not sure on this, haven't tried anything.

[2020-07-20 10:22] mfundul commented on #92
Netdata is hitting [this](https://github.com/microsoft/WSL/issues/4898#issuecomment-592196721) WSL bug.

[2020-07-20 11:10] Ferroin commented on #9498
@prologic @cakrit Do we want to just drop Polyverse support? Right now only possible for 64-bit x86 Docker images, is opt-in only, and appears to be broken due to upstream changes. We already stopped unconditionally using it as part of image builds a while back, and even runtime usage is of limited utility because it doesn't protect any of _our_ code.

I'm fine with dealing with this either way, b

[2020-07-20 11:20] Ferroin commented on #9077
This is potentially a bit more complicated than 'supportcronie and busybox crond' The issue isn't that we don't support them, it's that we don't support the approaches used by some distros that use them. _Most_ distros have `/etc/cron.daily` directories and provide default crontabs for whatever cron implementation you install through their PM that will execute the stuff in that directory on a dail

[2020-07-20 11:21] cakrit commented on #9498
I thought we had already removed it. Go ahead.

[2020-07-20 11:25] #8186 closed

[2020-07-20 11:25] #8198 closed

[2020-07-20 11:26] webdock-io commented on #6481
@vlvkobal any updates on this issue?

[2020-07-20 11:49] kmlucy opened #9565 "NUT collector broken"
##### Bug report summary
I updated Netdata and all of my NUT collectors stopped working.

Here is my `nut.conf`:
[code]

The only error logs that look relevant are as follows:
[code]

##### OS / Environment

Netdata is running in a Docker container, `kmlucy/docker-netdata`. It is built from the official Docker image with msmtp added. Here is the info for the host system.

[code]

##### Netdata ver

[2020-07-20 11:55] doumhfr commented on #92
bug or not I don't think we could consider as a working solution to nées WSL

[2020-07-20 12:02] Ferroin commented on #9498
Only the build-time usage of it, we kept the runtime support for users who wanted it, but that's broken now due to changes on Polyverse's end. I'll have a PR up shortly to remove that and fix this issue.

[2020-07-20 12:57] ilyam8 commented on #9522
@prophoto currently go apache collector is disabled by default, you need to explicitly enable it in the `go.d.conf`, see `go.d.conf` for details.

This enable/disable go/python problem will be solved soon.

[2020-07-20 13:05] ilyam8 commented on #9565
@kmlucy we have changed nothing in the `charts.d.plugin`/`nut.chart.sh` code.

[code]

Did this commands work before? Can you exec into netdata container and try to get data using `upsc ...`?

[2020-07-20 13:06] ilyam8 commented on #9559
@jacekkolasa please take a look

[2020-07-20 13:15] vlvkobal opened #9567 "eBPF plugin doesnt start after #9234 has been merged"
##### Bug report summary
eBPF plugin can't start after `netdata.service` configuration was changed in #9234
[code]

##### OS / Environment
Arch Linux - 5.7.9

##### Netdata version
netdata v1.23.2-28-geb42d2ad4

##### Component Name
systemd configuration

##### Steps To Reproduce
Restart Netdata, check if ebpf.plugin is running.

##### Expected behavior
ebpf.plugin doesn't crash on systems with sy

[2020-07-20 13:27] raduburla commented on #9521
Hi,

I have a similar if not the same issue with Netdata crashing at startup. I deleted all db files but it did not fix the issue.

Basic system informations
[code]

Netdata version
`v1.23.2-24-nightly`

Installation source
`netdata.cloud`

Installation command & parameters
`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

Netdata acts as a master, receiving streams from multiple agents (5).

[2020-07-20 13:31] thiagoftsm commented on #9567
@vlvkobal only root can do operations with  `Setrlimit(RLIMIT_MEMLOCK)` , it looks like that permission was missed.

[2020-07-20 13:39] kmlucy commented on #9565
Yes, everything works perfectly on the version I mentioned as working. On the newer version, the upsc commands work if I exec into the container, but I still get the errors in the logs.

The logs I posted weren't complete, I just searched for keywords, and missed the traceback. Here is an example of the complete logs:
[code]

[2020-07-20 13:41] Ferroin commented on #9567
After looking a bit further, I believe this is indeed the issue.

However, I'm curious why the eBPF plugin needs to manipulate resource limits like this. Is it in some way required for correct functioning of the plugin (more specifically in this case, do we actually _need_ to lock memory to get the plugin to work correctly, as I assume we're raising this limit so we can use `memlock()`)?

[2020-07-20 13:48] thiagoftsm commented on #9567
@Ferroin we set this, because this plugin is growing and we will have more memory management coming in the next months, no less important this is a common call among kernel [examples](https://github.com/torvalds/linux/tree/master/samples/bpf), mainly the socket examples.

[2020-07-20 13:50] Ferroin commented on #9567
@thiagoftsm My point though is that we probably don't actually _need_ this and should gracefully handle if setting rlimigs does not work and we can't lock memory. Ideally this should be behind a config option, because there are perfectly legitimate reasons for user to _not_ want us to lock memory.

[2020-07-20 13:52] mfundul commented on #92
It's not a working solution. It could be considered "runnable" if the bug is fixed which may be useful to a small number of people that can take advantage of the agent itself, hence I explained what the CPU utilization problem is.

[2020-07-20 13:55] ilyam8 commented on #9565
it seems the problem is the new alpine version

- apline:3.9

[code]

- apline:3.10

[code]

[2020-07-20 14:00] ilyam8 commented on #9565
it seems fix is

https://github.com/netdata/netdata/blob/eb42d2ad43680e0aa71dca21adb40cfcf2b505e8/collectors/charts.d.plugin/charts.d.plugin.in#L298-L305

=>

[code]

[2020-07-20 14:00] Ferroin commented on #9567
OK, the issue is indeed the call to `setrlimit()` and the lack of `CAP_SYS_RESOURCE` (and the failure to successfully lock memory resulting from that). We _really_ should not require this to work, and I'd argue shouldn't even be trying to do it if we can't substantiate _why_ we think we need it. Locking memory has the potential to cause all kinds of issues elsewhere on the system, and you should a

[2020-07-20 14:28] Ferroin opened #9570 "Bundling code for libbpf does not work reliably."
We're using `git apply` instead of just `patch` and utilizing a patch file stored in our source tree but not bundling that file into our dist archives.

We should either be using a custom fork of libbpf (we already select for a particular revision instead of pulling latest), or we should be properly bundling the patch and then applying it with `patch` instead of `git apply`

This causes the ebpf p

[2020-07-20 14:28] Ferroin commented on #9570
@thiagoftsm @vlvkobal Your input here would be appreciated.

[2020-07-20 14:32] kmlucy commented on #9565
@ilyam8 NUT is working properly for me with your fix. Thanks for the quick work!

[2020-07-20 14:33] vlvkobal commented on #9570
If I remember well, patch is not available on all systems while git is a hard dependency for Netdata.

[2020-07-20 14:55] vlvkobal commented on #9570
If you don't have `git` installed, you can't clone `libbpf` anyway, so what's the point of having `patch`?

I considered the idea of having our own fork but I didn't like it.

[2020-07-20 15:18] abrbon commented on #9563
Hi @prologic ,
Coming more from a Linux background i also do not have a lot of experience with FreeBSD but setting up a jail (iocage) with FreeNAS is pretty straightforward and not to complicated.
You should never install or build anything directly in FreeNAS but always use a jail. That is best practice.
Inside the jail you can install the basic packages needed for building from tarball.

Unfortun

[2020-07-20 15:20] cakrit commented on #92
I think I saw a couple of workarounds on the WSL issue thread, but I didn't read it carefully. I don't understand "nées WSL", what does that mean?

[2020-07-20 15:24] abrbon commented on #9563
Haven't written any (real) code since the 90's back in the day of Delphi :)
So not sure if i can help you with putting up that PR :D

[2020-07-20 15:24] Ferroin commented on #9570
We're not cloning it, we're directly downloading a code archive from GitHub. And the advantage to using `patch` here is that it's a lot less picky about exact matches (IOW, it's more likely to work correctly if some code moves upstream).

And did you consult with any of the other people who are going to be responsible for maintaining the installer code? Having our own fork with the required patche

[2020-07-20 15:40] vlvkobal commented on #9570
How can it change if we are downloading one particular version and verify it's checksum?

[2020-07-20 15:43] prophoto commented on #9522
Here is my config, is there something wrong here? Still no data showing.

`
[centos@server7 netdata]$ cat ./go.d.conf
# netdata go.d.plugin configuration
#
# This file is in YaML format.

# Enable/disable the whole go.d.plugin.
enabled: yes

# Enable/disable default value for all modules.
default_run: yes

# Maximum number of used CPUs. Zero means no limit.
max_procs: 0

# Enable/disable specific

[2020-07-20 15:50] ilyam8 commented on #9522
Did you check logs? (not debug mode)

[2020-07-20 15:55] prophoto commented on #9522
[code]

[2020-07-20 16:15] vlvkobal commented on #9570
Ah, sorry - my mistake, I forgot about this. But anyway, `git` is installed by `install-required-packages.sh` and it is mentioned in our documentation as a required package. Does it make sense to add a new dependency?

[2020-07-20 18:12] Ferroin commented on #9570
It _shouldn't_, but that doesn't mean that it _can't_. And when (yes, when, we're not sticking on the same version forever) we eventually update what version we're using, it's liely to require fewer (if any) changes to what we have if we're using `patch` instead of `git apply`.

I think it probably does make sense _because_ we're pulling in `git` already, because `git` usually pulls in `patch` on

[2020-07-20 18:13] Ferroin commented on #9570
However, irrespective of all that, I still am strongly of the opinion that we should handle this like we handle libmosquitto and just carry the patch in a fork of the upstream repo and then download that directly so we don't have to patch code on a user's system (and thus don't run the risk of the patch applying incorrectly and causing other issues).

[2020-07-20 18:50] ilyam8 commented on #9522
[code]

@Ferroin any ideas why it happens?

[2020-07-20 18:54] Ferroin commented on #9570
OK, I've verified now that #9490 _never_ worked for kickstart installs. I can't speak for @prologic, but I never realized it was even touching the install scripts, and even if I had I probably would not have thought to review it since it was opened while I was on vacation.

I can't see  I can't see any indication there either that the discussion around those changes actually involved @prologic, an

[2020-07-20 19:37] underhood commented on #9561
@nikobearrr
There are multiple ways to achieve that. The safest is disabling cloud functionality at compile time.
For example using `netdata-installer.sh --disable-cloud`.

Anyway ACLK doesn't initiate any network comunication unless cloud is enabled and node is claimed.
From your logfile it seems node is not claimed so do not worry there is/will be no network connections made.

However if you set

[2020-07-20 19:45] underhood commented on #9562
not sure UTF-8 can be an issue here since uuid keys can involve only ASCII chars with which UTF-8 is backward compatible

[2020-07-20 19:53] underhood commented on #9561
Just to be sure I tested on my local machine
[code]
and it seems to work, therefore it seems that your netdata in Docker doesn't see the `cloud.conf`

[2020-07-20 21:18] abrbon commented on #9563
Good news!
Fixed the issue.

If you run the 11.3 Release of your jail (either from FreeNAS 11.3 or the new TrueNAS 12.1) you need to change the following:

In the aclk_stats.c file in the aclk\ folder you need to change the "mempcpy" command to "memcpy".

After this is could build the tarball without any issue.

[2020-07-20 23:42] thiagoftsm opened #9572 "eBPF documentation"
##### Feature idea summary
It is necessary to bring description of the new charts in our documentation and also give additional information that will be used to describe them on dashboard.

##### Expected behavior

[2020-07-20 23:48] Vorsku opened #9573 "Error loading shared library libjson-c.so.4: No such file or directory"
##### Bug report summary
Fresh Docker install and container won't start

##### OS / Environment
[code]

##### Netdata version
Latest version via netdata/netdata:latest

##### Component Name
Core?

##### Steps To Reproduce
docker-compose.yml file:
https://pastebin.com/9fKkMPvG

docker-compose up

Resulting errors:
https://pastebin.com/gYEb7dyV

##### Expected behavior
Container to start

[2020-07-21 01:52] prologic commented on #9563
"Delphi' pfft :) Good 'ol days!

[2020-07-21 01:54] prologic commented on #9563
Thank you! I'll try to repeat your steps and come up with a patch to fix this properly for all users :)

[2020-07-21 01:57] prologic commented on #9570
@Ferroin Its okay :) I'm not personally emotionally attached to any work I do! These things happen and IHMO it really wasn't a big deal here. I made sure I'm tagged as a code owner on most things to further ensure things don't accidentally slip through the cracks.

Anyway... What's the issue with the way this patch is tored/applied/etc? What's the problem at hand here? TL;DR please.

[2020-07-21 01:59] prologic commented on #9498
Thanks @Ferroin . Thanks for removing this entirely finally. I never really saw the point of it myself as we're not really in the business of building security sensitive software products. Polyverse _does_ indeed solve a real problem but I don't believe its one we or our users particularly care about THH.

[2020-07-21 02:02] prologic commented on #9077
Let's do this please. Nice and simple and should be quite effective.

[2020-07-21 03:02] rdifrancesco commented on #8966
I'm still experiencing the issues described in the original post.  I'm running RHEL 6.10 and the latest version of netdata, having tried both the stable and nightly builds:

`bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh) --dont-wait --stable-channel`

I receive the "Connection problem" error and also
`Libwebsockets: SSL error: unable to get local issuer certificate (preverify_ok=0;e

[2020-07-21 06:00] Uzzi commented on #5158
Same issue on Proxmox node

[2020-07-21 06:12] nikobearrr commented on #9561
Hi @underhood. Perhaps I am not using the correct path. As I said in my OP I have put it on 2 places "just to be sure" - doesn't mean they are correct though.

I can see more or less the same logs in my docker container, except the `EXIT: Stopping main thread: ACLK_Main`. However, after it says that for you, 1 second later it creates a new thread with the same name and waits to be ready/enabled. T

[2020-07-21 06:46] #9447 closed

[2020-07-21 07:52] vlvkobal commented on #6481
I might be able to look at it next week.

[2020-07-21 08:31] #9565 closed

[2020-07-21 09:33] HansGeering commented on #9530
It seems the bug is still present on the latest release. Trying to update to the latest release shows that I am on the latest:
[code]
./error.log.1:2096:2020-07-21 01:48:06: netdata INFO  : MAIN : Deleting chart 'disk_space._home' ('disk_space._home') from disk...
./error.log.1:2097:2020-07-21 01:48:06: netdata ERROR : MAIN : Cannot read left-over chart directory to be deleted '/var/cache/netdata/

[2020-07-21 11:09] Ferroin commented on #9570
The big thing was that we did not include the patch in the dist archive.

As far as the `git apply` versus `patch` thing, that's more a practicality issue than anything else. We're currently downloading a copy of the repo as an archive and then using `git apply`, ut we should be just downloading the code at that revision (not the whole repo) and using `patch`, as it's more efficient.

Better yet t

[2020-07-21 11:33] ryanburnette commented on #9420
@prologic I'm eventually going to have time to do this. I wish I could work on it sooner. If someone else gets to it first, that's great, but I'll get around to it as soon as I possibly can. 😀

[2020-07-21 13:10] mfundul commented on #9530
I just noticed that your config file is using `history = 3600` which is not applicable to the default `memory mode` which is `dbengine` so what actually is taking place is you're using `dbengine` with the default values.

I will look into that some more, try and reproduce it. In the meantime can you share your `error.log` over a longer period of time, say since agent start and until after the time

[2020-07-21 13:44] Ferroin commented on #9077
I've opened a draft PR (rather ironically it's #9577) with initial work on this. I should have it ready for review some time later this week (hopefully tomorrow, more realistically probably Thursday if we account for testing).

[2020-07-21 13:45] mfundul commented on #9530
@Elbje some questions:
1. do all metrics stop being collected, or is it only a few of them?
2. Is it a subset of charts that freeze?
3. Is it only the metrics that are described in the `error.log` file the frozen ones, or different ones?
4. Do the `md` or the `veth` devices exist on the hosts when they stopped data collection, or did they disappear from the host system as well?

[2020-07-21 13:50] glaszig opened #9578 "help pages extremely slow"
##### Bug report summary

this is happening on learn.netdata.cloud.
the inspector showed me insane amounts of css style invalidations _every second_.
after some time, safari even shows a warning "this website uses a lot of energy".

usage in safari is a pain, in firefox not so much but still noticeable. battery drain is insane for a static page.

<img width="319" alt="Bildschirmfoto 2020-07-21 um

[2020-07-21 13:50] ilyam8 commented on #9455
Could you update OP?

It is not clear what is syntax/logic for `ips`/`ports`/`hostnames`.

I see there could be 2 different ways to match:

- return on first match: `false` if the pattern is negated (`!`), `true` otherwise
- match at least one positive pattern AND do not match any of negated patterns: `true` if the condition is met, `false` otherwise.

Which one of these 2 are u using for `ips`/`p

[2020-07-21 14:50] thiagoftsm commented on #9455
`hostnames` follows all rules that we have for simple patterns.
For `ips` and `ports`, when a range is denied `!139-145` We are rejecting the whole range, we always discard everything until the next space.

About the space, we work as  an `OR`, the `IP` and `PORT` must be inside one of the possible specified ranges.

[2020-07-21 15:04] ilyam8 commented on #9455
well, it is not clear for me still. There are 2 match logics in my post above.

Which one? Or there is another one? Can you explain **match condition** for `ips/ports`? If there is documentaion please give me the link.

[2020-07-21 15:07] Elbje commented on #9530
@mfundul
 1. yes, all metrics stop being collected
 2. All charts freeze, but the dashboard stays operational. I can scrol back in time and see the saved values. If i scroll forward (past
     the last collection timestamp) the charts stay empty.
 3. No not only those, all metrics are frozen.
 4. I'm 100% certain that the md device does still exist on the host when the data collection stops. I can

[2020-07-21 15:09] Elbje commented on #9530
Oh I didn't know, thanks for pointing out the config mistake, I will correct these.

[2020-07-21 15:33] thiagoftsm commented on #9455
The first is used:

[code]

[2020-07-21 15:56] #9563 closed

[2020-07-21 16:10] #9455 closed

[2020-07-21 16:23] RX14 commented on #9554
I can reproduce on netdata 1.23.2: ![](https://elixi.re/i/ebfo1ok9.png)

This is `lessar_left__cache`'s charts showing up under the heading of `lessar-test--vm`, which is a LV I had previously deleted.

[2020-07-21 17:14] Ferroin commented on #9554
I _think_ I know what's going on here, but don't have a concrete solution for how to fix it. Unless I'm mistaken, we use the actual `/dev/dm-*` path to keep track of the device stats (we actually have to use either that or the device  numbers to do so, there's not any other way, and the device numbers map 1:1 with the `/dev/dm-*` paths, so they would have the same issue). However, the uniqueness o

[2020-07-21 17:27] ilyam8 commented on #9554
Yeah, the problem is using old metadata for a new chart (assuming chart id is the same, but family, etc
 is different).

[2020-07-21 17:54] aldem commented on #9554
dmeventd is emitting events when there are changes in configuration - why not rescan and check mappings after every event which involves creation/deletion?

Or, as a last resort, it could be done once per minute, should not be that expensive, and in any case it should be re-examined on every restart.

[2020-07-21 18:23] Ferroin commented on #9554
We can't really rely on dmeventd always running and notifying about this, but if it's there we should probably use it. Same goes for watching for events from udev for this type of thing.

[2020-07-21 18:47] aldem commented on #9554
Well, polling once in a while (as an option) could be solution then, as there are systems where additions/deletions of volumes are quite frequent (and snapshots are volumes too).

[2020-07-21 18:58] verfai opened #9579 "Failed/aborted - netdata-installer.sh exited with error"
##### Bug report summary
New to Netdata, great project. Just tried installing on 3 similar CentOS 7 servers, 1 installed successfully, the other 2 fail.
[code]

##### OS / Environment

[code]

Thanks for your help!

[2020-07-22 00:26] prologic commented on #9420
No please by all means! Work on this. I'm working on getting Netdata to work (_with Netdata Cloud_) for FreeNAS at the moment.

[2020-07-22 00:37] prologic commented on #9578
I don't seem to be able to reproduce this here.

Specs:

- macOS 10.15.5
- Safari 13.1.1
- Firefox 78.0.2

[2020-07-22 05:45] nikobearrr opened #9580 "Netdata SNMP will not fetch data if an OID is missing/wrong"
##### Bug report summary
I have a small router which I would like to get some information from. I would like to fetch uptime and interface status. So far it has worked pretty well. However, for one of the virtual interfaces the OID changes all the time. That is not netdata's fault in any way, but when that happens all the other data (the other interface status AND the uptime) is not collected eith

[2020-07-22 06:50] barneyonline commented on #9485
I too have this issue - I only see the CPU and Disk Read/Write information.

**OS / Environment**

ProductName: Mac OS X
ProductVersion: 10.15.5
BuildVersion: 19F101

**Netdata version**

v1.23.2

[2020-07-22 07:28] vlvkobal commented on #9579
Could you run the following script and check its return code (`./script.sh | echo $?`)
[code]

[2020-07-22 07:42] verfai commented on #9579
Thanks for your reply;

`[root@b1 test]# ./script.sh | echo $?
0
-bash: ./script.sh: Permission denied`

[2020-07-22 07:44] mfundul commented on #9579
You can try:
[code]

[2020-07-22 07:46] verfai commented on #9579
[code]

[2020-07-22 07:46] xPaw opened #9581 "Netdata crashes every couple of days"
##### Bug report summary

journalctl log:
[code]

error.log:
[code]

error.log.1:
[code]

I already tried to clean `/var/cache/`, but that did not fix the crashing.

##### OS / Environment

[code]

##### Netdata version

netdata v1.23.2-40-nightly

[2020-07-22 08:06] wildlee2 opened #9582 "crashed in __strlen_avx2"
Fedora server 32, netdata installed via dnf.
Daily updated, started crashing few days back (I can trace the exact start, however every minute restart flooded the log).

Kernel > 5.7.9-200.fc32.x86_64
netdata >  v1.23.1

Process 26636 (netdata) of user 979 dumped core. Stack trace of thread 26636: #0 0x00007f5e911304f7 __strlen_avx2 (libc.so.6 + 0x1624f7)  systemd-coredump

Process 778 (netdata) cr

[2020-07-22 08:31] ilyam8 commented on #9581
Based on provided logs - possibly related issue https://github.com/netdata/netdata/issues/9530

@xPaw could you try to disable `/proc/mdstat` in the netdata.conf and see if it fixes the problem? (`[plugin:proc]` section)

[2020-07-22 08:36] mfundul commented on #9582
Please update to `v1.23.2`, this bug should have been fixed.

[2020-07-22 08:39] xPaw commented on #9581
I currently disabled ebpf plugin to see if that helps, gotta wait a couple of days though.

Based on the times in logs, isn't it more likely to be related to ebpf? "go.d INFO: main[main] received terminated signal (15). Terminating..."

[2020-07-22 08:42] mfundul commented on #9581
No, this is not related to `ebpf`. Can you provide the full logs so that we can see what happened before the crash?

[2020-07-22 08:50] wildlee2 commented on #9582
Since the package is not available yet at dnf,  I have only option to update manually, right?
Or perhaps I ll just wait till the update lands, not sure how long that might take.

[2020-07-22 08:54] mfundul commented on #9582
You can try manually [here](https://learn.netdata.cloud/docs/agent/packaging/installer) or try the official packages [here](https://packagecloud.io/netdata/netdata).

[2020-07-22 08:57] xPaw commented on #9581
That is the full log.

[2020-07-22 09:03] xPaw commented on #9581
Hm, I just noticed the mdstat charts are actually all empty with no data after restarting. So the assumption about mdstat plugin sounds correct.

[2020-07-22 09:15] vlvkobal commented on #9579
@thiagoftsm I remember you can reproduce something like this on your VM. Could you check if libbpf is built with `-DCOMPAT_NEED_REALLOCARRAY`?

[2020-07-22 09:27] vlvkobal commented on #9570
I'm starting to think maybe this way is a better one. It's easier to pull changes from upstream than maintaining an up to date patch. What about making releases? Does it need additional work to be done?

[2020-07-22 09:32] wildlee2 commented on #9582
I am just quite lazy to manually install it, and I am not dnf expert, I dont want mess up dnf configs with f32/f31 version mismatch I all just wait.  In the mean time, I just dowgraded to 1.21, seems to work fine, and as this bug is known and fixed, I quess we can close this.
Thanks for info.

[2020-07-22 09:32] #9582 closed

[2020-07-22 10:05] mfundul commented on #9530
@Elbje @HansGeering can you test the Pull Request to see if the problem is resolved? You can follow these instructions:
https://github.com/netdata/netdata/pull/9583#issuecomment-662364771

[2020-07-22 10:06] mfundul commented on #9581
@xPaw can you test the Pull Request to see if the problem is resolved? You can follow these instructions:
https://github.com/netdata/netdata/pull/9583#issuecomment-662364771

[2020-07-22 10:41] HansGeering commented on #9530
Thanks @mfundul - but unfortunately for me the missing metric has not returned. Netdata did not crash (as in the other issue) but kept on running, but completely ignores one specific drive (and the complete /proc/mdstat). Do you want me to create that into a separate issue?

[2020-07-22 10:59] itamar-marom commented on #9562
ITS A UTF-8 PROBLEM WITH VSCODE :(
If I write the conf file in putty it works...

[2020-07-22 10:59] #9562 closed

[2020-07-22 11:05] underhood commented on #9562
@itamar-marom thanks for the info. @thiagoftsm this is strange we have to investigate this. Do we use any special characters in this config? If we just use ASCII chars (<=127) then UTF-8 == ASCII and it should not be a problem.

[2020-07-22 11:10] stdedos opened #9585 "Missing chart_disk_space__home"
##### Bug report summary

Since these last 7 days, I am missing the `chart_disk_space__home` chart.
Reloading the service doesn't help.
No errors, except "`Cannot stat /tmp/.mount_jetbrains` something something bogus"

##### OS / Environment

[code]

##### Netdata version

v1.23.2-40-nightly

##### Component Name

diskspace

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2020-07-22 11:22] Seoka commented on #9498
Thanks for clarification.
I think the [documentation](https://learn.netdata.cloud/docs/agent/packaging/docker#package-scrambling-in-runtime-x86_64-only) should then be removed as well....
And you are right, at least for me, I actually just used it as a matter of interest.

[2020-07-22 11:35] Ferroin commented on #9570
It should only need a small amount of work for each release (essentially, update things, then just create the release on GitHub).

[2020-07-22 11:38] mfundul commented on #9530
This specific issue describes a condition where all netdata charts suddenly stop collecting, during the cleanup of obsolete charts of mdstat. This is related to the crash in the other issue, but quite different from not collecting a specific device which has reappeared.

You can try refreshing your dashboard URL in your browser (e.g. `127.0.0.1:19999`), this could show new charts that weren't avai

[2020-07-22 11:40] Ferroin commented on #9498
Reopening this, as it will be automatically closed when the PR with the fix gets merged (and is technically still an issue until that happens.

Also, nice catch on the documentation, I completely forgot about that when opening the PR, updated now to remove that too.

[2020-07-22 12:28] manos-saratsis commented on #9121
@drayvs @squash We will soon ship Centralized Alarm Notification in Netdata Cloud. Having notifications for unreachable hosts is a priority and will be shipped within the next days.

[2020-07-22 12:44] Ferroin commented on #9573
@Vorsku I cannot reproduce this locally with our current Docker images. Can you please try pulling the latest image and see if that fixes things for you? If you still see the issue, please post the output of `docker image inspect netdata/netdata:latest` run on the host where the container is running (if you're worried about possibly sensitive data, all I'm interested in is the contents of the "Id"

[2020-07-22 12:46] thiagoftsm commented on #9579
I tested now `-DCOMPAT_NEED_REALLOCARRAY` and `-UCOMPAT_NEED_REALLOCARRAY` and I could not compile in any situation on CentOS 7.8.2003

[2020-07-22 13:04] thiagoftsm commented on #9562
Hi @underhood ,

When our parser reads the line, it does not care for the character encode

https://github.com/netdata/netdata/blob/1a3a13397d4c6a87e69e1b65c31fadeac7a47e9d/libnetdata/config/appconfig.c#L646

We also do not have any restriction to the value name:

https://github.com/netdata/netdata/blob/1a3a13397d4c6a87e69e1b65c31fadeac7a47e9d/libnetdata/config/appconfig.c#L160

Considering that @

[2020-07-22 13:14] pgassmann commented on #8906
@Ferroin @prologic Is there something holding this back? focal is the current LTS release of Ubuntu, released 3 months ago, and now the default on many cloud providers.
Currently I just use the `eoan` repository as a workaround. It is working great, so I assume building it for focal directly should not be a big issue.

[2020-07-22 13:31] Ferroin commented on #8906
It's largely a combination of us having expected to have reworked our binary packaging by now (which would have updated our list of platofrms we provide packages for as part of the process) and other things coming up that were higher priority.

I'll be looking into this some time today or tomorrow, I _think_ you're right that there shouldn't be any changes needed beyond just adding it to the packa

[2020-07-22 14:08] Vorsku commented on #9573
@Ferroin looks like the new version is working now, thanks.

[2020-07-22 14:10] #9573 closed

[2020-07-22 14:41] Ferroin commented on #9573
@Vorsku Glad to hear it.

I'd suggest double checking the storage on the system in question BTW. The exact errors you were getting are rater reminiscent of stuff I've seen before in cases of at-rest data corruption, and the fact that pulling the latest image fixed it would be consistent with that possibility.

[2020-07-22 14:43] MichaelRiss opened #9588 "kickstart.sh hangs (without controlling terminal?)"
##### Bug report summary

We are running `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait` on our Fedora 31/32 machines with the ansible shell module to install and update netdata. Currently, updates this way don't work anymore; the ansible shell module hangs for a long time (30 min++, timeout?) without any activity.

Doing manual tests I found out that running
[code]
works, but
[c

[2020-07-22 14:50] mfundul commented on #9573
If it's an SD card device it's also notoriously consistent with the data corruption possibility.

[2020-07-22 15:20] vlvkobal commented on #9579
It looks like tar doesn't extract file permissions in the present case (`check-reallocarray.sh: Permission denied`)
[code]
We need to check it though.

[2020-07-22 15:48] underhood commented on #9561
@nikobearrr the EXIT is from the restart of netdata. I restarted the agent after changing the configuration so starting from `2020-07-20 21:51:41` is the relevant logs

[2020-07-22 15:59] Ferroin commented on #9588
Probable culprit is #9408, and I'm fairly certain looking back at the diff that I now what's wrong. I should have a PR up later today with a potential fix.

[2020-07-22 16:02] MichaelRiss commented on #9588
sounds good, thanks for looking into it!

[2020-07-22 16:06] Ferroin commented on #9588
OK, confirmed, the issue is that our updater script has a random delay to avoid a stampede effect from automatic updates, but I forgot when writing #9408 to set things up to disable that delay when called from `kickstart.sh`. I need to do a little bit more testing, but can guarantee that I'll have a PR for this today, and it should be fixed in the nightlies either tonight or tomorrow.

However, be

[2020-07-22 16:09] MichaelRiss commented on #9588
I understand. Currently I do a manual uninstall anyway to get the ansible playbook to work. So, this should suffice until the fix propagates through.

[2020-07-22 16:56] comperem commented on #5319
i had an unintentional (and surprising) netdata mask applied somehow. I never tried uninstalling netdata. the mask  was not intentional but did get removed with `systemctl unmask netdata`

[2020-07-22 19:50] prophoto commented on #9522
Ideas? Still can't get any logs to show from Apache.

[2020-07-22 21:38] ibyteapps opened #9590 "Telegram can send to one id only, but no other"
##### Bug report summary

I'm running netdata and my health alarm for telegram fires fine. But I've tried to add more recipients to the health alarm file and I get a 400 error. I have checked the id's multiple times. I have restarted the netdata service too.

##### OS / Environment

[code]

##### Netdata version

 netdata v1.23.2-40-nightly

##### Component Name

Net Data Health Alarm
##### Steps

[2020-07-22 21:43] ibyteapps commented on #9590
I'm closing the issue. Seems it's my fault. I sent a text from the new ID to the originally created BOT. It started working now.

[2020-07-22 21:43] #9590 closed

[2020-07-23 00:30] GarlandM commented on #9356
Also experiencing this issue.

[2020-07-23 04:03] prologic commented on #8906
@Ferroin As this was still in `Backlog` and assigned to us both, I assume you haven't started yet. So I'll get this done today.

[2020-07-23 05:36] startryst commented on #9138
any new development/progress on this?

[2020-07-23 05:37] startryst commented on #8527
any new development/progress on this?

[2020-07-23 06:55] prologic commented on #8527
@cakrit Can you chime in here please? Thanks!

[2020-07-23 09:54] Elbje commented on #9530
@mfundul I will test the PR right now, I'll keep you updated

[2020-07-23 10:20] Stefan24842 opened #9593 "Netdata database error, fails to start with ABRT (Request to remove RRDVAR '<90>ÊùDÀU' from index failed. Not Found.)"
##### Question summary
Starting netdata fails with an error message, it seems something is wrong with my database. Is there a way to delete/reset it?

In particular the variable names are things like `'���U'` (changing every time) which looks distinctly non-asci.

End of `/var/log/netdata/error.log`
[code]

`journalctl -u netdata -e`
[code]

##### OS / Environment
[code]
##### Component Name
datab

[2020-07-23 10:27] ilyam8 commented on #9593
@Stefan24842 hi

Latest is `v1.23.2`, try it

[2020-07-23 10:36] knatsakis commented on #8779
@joelhans now that we are done with netdata/helmchart#79 we should be able to proceed with this one.

The instructions for claiming with the Helm chart can be summarized as:

- Enable peristence
- Set `parent.claiming.enabled`, `parent.claiming.token` and `parent.claiming.rooms`

Note that this is for claiming the `parent` only. You can have a look at netdata/helmchart#79

LMK if you need anything

[2020-07-23 10:47] rienath opened #9594 "CentOS 8.2 Installation: "missing binary operator before token" and "Cannot detect if this is a 32 or 64 bit CPU""
I am installing netdata on CentOS 8.2 and running into  "missing binary operator before token" and "Cannot detect if this is a 32 or 64 bit CPU" errors. I have attached the output. It's and OpenHPC clusters master node.
[code]

[2020-07-23 10:47] Stefan-Heimersheim commented on #9593
Oh! It works now, thank you!

It just starts, no mention of the error (ignore the plugin errors).
[code]

You can close the issue :)

[2020-07-23 10:49] Stefan24842 commented on #9593
Oh! It works now, thank you!

It starts, without any mention of the error message :)
[code]

[2020-07-23 10:49] #9593 closed

[2020-07-23 11:12] #9498 closed

[2020-07-23 11:13] #8869 closed

[2020-07-23 11:14] #9588 closed

[2020-07-23 11:49] aviadcye opened #9595 "Netdata taking 100% CPU"
##### Bug report summary
Netdata process is taking 100% CPU (in top).
After the process starts using 100%, using strace gives the below lines in a loop:
[code]

##### OS / Environment
Not using a container.

[code]

##### Netdata version
Version: netdata v1.23.2-44-nightly

##### Steps To Reproduce
Actually I don't exactly know... It seems to related to my ansible playbook that installs it, if it'

[2020-07-23 11:54] aviadcye commented on #9595
[nlogs.gz](https://github.com/netdata/netdata/files/4965659/nlogs.gz)
Added logs directory

[2020-07-23 11:55] mfundul commented on #9595
I would suggest backing up the cache files in `var/cache/netdata` in something like a zip file for future reference. You could send them to me if you don't have any privacy concerns at markos@netdata.cloud

In any case, I believe clearing the cache directory may work around the issue for now:
`rm -rf var/cache/netdata/*`

[2020-07-23 11:59] aviadcye commented on #9595
What may be in the cache other then metrics?

[2020-07-23 12:04] mfundul commented on #9595
The corresponding metadata that reside in the `.mlf` files such as:
- dimension names, ids, units
- chart names and properties
- host GUID, domain name, labels

[2020-07-23 12:07] aviadcye commented on #9595
Cache dir sent

[2020-07-23 12:10] aviadcye commented on #9595
Cache dir deleted and CPU utilisation did subside.
Thank you for the super prompt response! :)

[2020-07-23 12:21] mfundul commented on #9595
No problem, it's not clear if this is a deadlock situation yet. It may be the case that your agent is producing a lot of metadata that take a long time to process, and would eventually move forward. However, it is a performance issue, especially since you're probably not using all those metadata.

Chances are, you have a lot of ephemeral metrics, which you don't actually need to use after they are

[2020-07-23 12:38] aviadcye commented on #9595
I don't think that we create "a lot" of temp containers... I'm that sure how many we do, but I think its like 10 tmp ones at most.

[2020-07-23 12:45] mfundul commented on #9595
It's all relative, for instance if you create 10 containers per hour and your database retention history is 10 days then this would be 2400 hosts(containers) times maybe 500 metrics then that would be over 1million metrics worth of metadata.

[2020-07-23 13:03] mfundul commented on #9595
In your case it was over 400 thousand metrics.

[2020-07-23 13:39] #9347 closed

[2020-07-23 14:00] fmercier-almerys opened #9596 "EPEL netdata and CloudPackage netdata installation requirements and modules"
Hello

When I installed netdata last version from epel release on Centos7 server it works but go plugin is not include :-(
When I installed netdata last version from official repo on Centos7 server it does not work because netdata expect glibc 2.26 whereas it is 2.17 on centos7
When I installed netdata from kickstart.sh it is hanged up (there is a current issue on it) and I need to install lots de

[2020-07-23 14:13] jrevillard commented on #9596
Same issue for me, I hope that a fix will be available really quickly !

[2020-07-23 15:18] TheOldMan2000 opened #9597 "Netdata refuses to start"
##### Bug report summary
Netdata refuses to start presumable after a recent nightly update in the last 1-2 days.
I have tried updating and it seems to install but will not run and I noticed it reports that I have disabled the updater, which is untrue.

The Dashboard won't load in my browser any longer.

I can't seem to get the version number but have attached netdata error.log and systemctl status

[2020-07-23 15:27] ilyam8 commented on #9597
[code]

Hi. Try https://github.com/netdata/netdata/issues/9595#issuecomment-662964633

[2020-07-23 15:28] ilyam8 commented on #9597
Perhaps @mfundul needs that file to check what happend, so dont hurry with deleting dbengine cache.

[2020-07-23 15:30] mfundul commented on #9597
You should delete `/opt/netdata/var/cache/netdata/dbengine/datafile-1-0000000357.ndf`. This is a duplicate of https://github.com/netdata/netdata/issues/9521

[2020-07-23 15:30] #9597 closed

[2020-07-23 15:57] TheOldMan2000 commented on #9597
Hi thanks for the fast response.
I forgot to add that I'd tried that suggestion from the other thread and it made no difference at all. I will try it again though.

[2020-07-23 16:07] TheOldMan2000 commented on #9597
I just tried deleting both files as suggested but effect. However it's saying the next file (in numerical sequence' is now fubared, so I will delete them all again.

[2020-07-23 16:10] TheOldMan2000 commented on #9597
And we're back! Deleting all the files worked this time with:
rm -rf /opt/netdata/var/cache/netdata/*

Thanks again.

[2020-07-23 16:27] aviadcye commented on #9595
So every time we deployed, we would compound to the problem... got it 👍

[2020-07-23 16:31] mfundul commented on #9595
@aviadcye we can work on fixing the overheads long-term but for the short term I'd say you can try a different memory mode (such as `save` instead of `dbengine`) which does not suffer from this problem whatsoever. I'm reopening this to keep track of it as a performance bug.

[2020-07-23 16:54] aviadcye commented on #9595
actually I wanted to use the dbengine (mainly because it is the new shiny)... should I reconsider?
What is the time table in your opinion?(I can live with deleting the cache for now in the deployment script, if it should be fixed in a month or so)

[2020-07-23 17:06] mfundul commented on #9595
`dbengine` does have a lot of advantages, such as much lower RAM utilization, much longer retention period, the ability to change data collection frequency without invalidating previous history. In general, metrics are not deleted with `dbengine`, only rotated due to disk space quota.

In the future there will be more features tied to it. One of which is what affects you, which is the ability to l

[2020-07-23 17:53] Ferroin commented on #9561
The path for the `cloud.d` directory should be the same for the Docker containers, though that path may not already exist. AFAICT we shouldn't be doing anything in the Docker container build that would prevent this from working correctly.

[2020-07-23 18:20] Flat commented on #8384
While this seems to have decreased the occurrence it still happens every couple days.

[2020-07-23 19:15] aviadcye commented on #9595
thank you, i'll do the limiting for now.

[2020-07-23 23:16] thiagoftsm opened #9599 "Network Viewer Charts MVP0"
##### Feature idea summary

We need to bring the following new charts as MVP0 of the Network Viewer:

 - ebpf.outbound_bytes:
     - `<port|service name>:<protocol>:<ip|hostname>_sent`
     - `<port|service name>:<protocol>:<ip|hostname>_received`
     - `other_sent`
     - `other_received`
   - ebpf.outbound_packets:
      - `<port|service name>:<protocol>:<ip|hostname>_sent`
      - `<port|servi

[2020-07-24 08:27] rienath commented on #9594
1 ticket for 2 bugs because looks like the problems are very similar

[2020-07-24 11:23] Ferroin commented on #9594
@netdata/agent While this was an issue on install, I'm fairly certain it's a problem with either the C code or the build system.

[2020-07-24 12:18] KlavsKlavsen commented on #7897
Could you share code on this ? We kinda need this too - and alternative is to implement our own "generic metrics pulling plugin"

[2020-07-24 12:29] KlavsKlavsen commented on #7897
https://github.com/netdata/go.d.plugin/pull/401/files would be the plugin I would start with

[2020-07-24 14:01] Zeblote commented on #9595
We've encountered the same issue with netdata suddenly taking up 100% cpu. Though in this case this is a server that doesn't really do anything all day, it just runs a simple perforce service. We're not deploying any containers or anything.

Tried to just leave it for a while but it does not recover. After clearing the cache folder like above, the 100% cpu usage went away.

![image](https://user-i

[2020-07-24 14:13] rienath commented on #9594
@Ferroin as I said it's OpenHPC cluster. Might be their problem, but does netdata need to access ohpc files it doesn't like?

[2020-07-24 15:30] mfundul commented on #9595
Yes this should be the netdata update, which cause netdata to restart.

That looks like a different issue, I don't know what happened here, but it's practically impossible for netdata to monitor itself during start-up, which was the case for the original issue reported here. So it's either a second netdata instance being monitor, or netdata itself stuck in a high "system CPU" usage livelock.

Can

[2020-07-24 16:13] jiuchen1986 commented on #9287
@cakrit Sorry for late response. Yes the fix works fine for us now. Thanks for the support.

[2020-07-24 16:17] omaralitou opened #9600 "plugin docker_engine does not detect my containers"
hi,
I configured the docker-engine plugin but I can't find my different containers.
I find that number of container running and we pause but I cannot find the metircs for each container.

thanks

[2020-07-24 16:18] ilyam8 commented on #8785
Hi

`Connection_Name` returned only with `SHOW ALL SLAVES STATUS`

@Hufschmidt If there are severl source and we use `SHOW SLAVE STATUS` result is several rows w/o `Connection_name`, right? like

[code]

[2020-07-24 16:21] ilyam8 commented on #8785
So basiaclly we need to use `SHOW SLAVE STATUS;` for `mysql` and `SHOW ALL SLAVES STATUS;` for `mariadb`

We are going to support only `go` version and deprecate python at some point, there is a PR that adds all features/fixes to the `go` version

I gonna fix the problem in that PR

[2020-07-24 16:30] mfundul opened #9601 "netdata suddenly taking up 100% cpu due to statsd"
We've encountered the same issue with netdata suddenly taking up 100% cpu. Though in this case this is a server that doesn't really do anything all day, it just runs a simple perforce service. We're not deploying any containers or anything.

Tried to just leave it for a while but it does not recover. After clearing the cache folder like above, the 100% cpu usage went away.

![image](https://user-i

[2020-07-24 16:34] ilyam8 commented on #9600
Hi @omaralitou

[cgroups](https://github.com/netdata/netdata/tree/master/collectors/cgroups.plugin#cgroupsplugin) plugin detects containers and collects their metrics.

`docker_engine` collects metrics exposes by the engine iteself ([still experiemental](https://docs.docker.com/config/daemon/prometheus/))

[2020-07-24 16:34] mfundul commented on #9601
As seen by the logs shared by @Zeblote there is a huge block of lines in the error log that repeat:
[code]
As a result the statsd plugin consumes 100% of 1 CPU which is mostly system time due to spinning on a system call.

[2020-07-24 16:34] ilyam8 commented on #9600
on the dashboard, each container has its own section on the dashboard menu.

[2020-07-24 17:45] BICB4 commented on #6423
I followed windows netdata monitoring using wmi, but it doesnt work, are there any more detailed instructions or video?

https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/wmi

[2020-07-24 17:54] ilyam8 commented on #6423
@BICB4 it has nothing to do with that issue, but

doesnt say much, see

[2020-07-25 05:21] pmjcreations opened #9603 "Netdata Disk Read and Disk Write + CloudLinux"
##### Question summary

Hello Community,

When I installed Netdata before installing CloudLinux OS 8, I can see Disk Read and Disk Write.

But once I converted the OS to CloudLinux, Disk Read and Disk Write aren't visible.

Anyone here using Netdata on a CloudLinux server that could see Disk Read and Disk Write?

##### OS / Environment

CloudLinux OS 8

##### Component Name

Disk Read and Disk Wri

[2020-07-25 05:39] #9345 closed

[2020-07-25 05:39] #9341 closed

[2020-07-25 05:39] #9361 closed

[2020-07-25 05:39] #9037 closed

[2020-07-25 05:49] bokutin opened #9604 "insufficient handling of gearman function name"
Hello,

##### Bug report summary

The function name of gearadmin --status may include spaces, tabs, /, | or ^M etc.

in https://github.com/netdata/netdata/blob/f75eb6674800063b9f53763c2db32c4eeaf7994e/collectors/python.d.plugin/gearman/gearman.chart.py#L141 , it does not have any such assumption.

##### OS / Environment

[code]

##### Netdata version

netdata v1.23.1

##### Component Name

python.

[2020-07-25 09:49] ilyam8 commented on #9604
hi, can you show `gearadmin --status` output?

[2020-07-25 10:02] bokutin commented on #9604
Hi, thank you for having interest.

[code]

I did an experiment as shown below to find out what value a function name can have, so it is dirty.
gearman -w -f "prefix1| \t\n^Mfunc1"
gearman -w -f "aaあほ\n aa"
etc ...

[2020-07-25 13:08] as1988 opened #9605 "CentOS 7 - No package Judy-devel available."
#####Question summary

Hi,
When I attempt to install via the kickstart method I get this error:

[code]

It would appear the Judy is not available for install on my version of CentOS 7? How do I get around this?

Thank you!

##### OS / Environment
CentOS Linux release 7.8.2003 (Core) - 3.10.0-1062.9.1.el7.x86_64
cPanel v88.0.13

[2020-07-25 13:10] Hubro opened #9606 "Fails to create UNIX socket with error "errno 30, Read-only file system""
##### Bug report summary

Fails to create UNIX socket with the error: "errno 30, Read-only file system"

##### OS / Environment

[code]

##### Netdata version

netdata v1.12.0

##### Component Name

web

##### Steps To Reproduce

Clean install on Debian 10:

    sudo apt-get install netdata

Use this `netdata.conf`:

[code]

Restart netdata:

    sudo systemctl restart netdata

Check output:

[2020-07-25 13:22] Hubro commented on #9606
I figured it out, it was due to these lines in the systemd service file:

[code]

I fixed it by overriding the service file:

    sudo EDITOR=vim systemctl edit netdata.service

With this config:

[code]

So this was not a bug in netdata.

[2020-07-25 15:38] #9357 closed

[2020-07-25 15:39] ilyam8 commented on #9604
[code]

so we need to join `aaあほ|` and ` aa2`? Is `aaあほ|aa2` ok? (no spaces)

If so perhaps something like this will do

[code]

Result:

[code]

[2020-07-25 19:53] vanguardcloud commented on #8343
@prologic @ilyam8 hey guys! This is my first post here at GitHub just because **I'm just following love with NETDATA**, specially for Synology! Based on this I feel that I have to contribute somehow. If you want to connect remotely in my system we can work on this and I can definitely get you access.

I will also try to configure for you a XPnology VM so you can do any test you want in the future,

[2020-07-25 21:12] kachunkachunk commented on #8343
I've personally been too busy and this slipped off my radar. I'm more of a VMware hypervisor kind of guy, as well. Hopefully you can put something convenient together for prologic or anyone else developing on VirtualBox or QEMU/KVM.