[2020-09-09 14:03] #9675 closed

[2020-09-09 14:53] thiagoftsm commented on #9901
Hi @JPAMaia ,

Considering that we have a conclusion about what is necessary according your last [comment](https://github.com/netdata/netdata/issues/9901#issuecomment-689573172), I converted the issue from `bug` to `feature request`.  I will talk with the product team (@dim08 ) for we bring this necessary feature.

Thank you very much for your suggestion!

Best regards!

[2020-09-09 15:56] manos-saratsis commented on #9121
@drayvs @squash due to some issues, we will be releasing the feature soon

[2020-09-09 16:43] thiagoftsm commented on #9899
In reality this is a feature that we have inside `apps.plugin`. The dimensions are updated and have data only when we are collecting data for it. If you do a request for `http://localhost:19999/api/v1/data?chart=apps.uptime`, you will see that dimensions are not created if the software was never running, or if the software stopped after Netdata to start collect it, it will be shown until the datab

[2020-09-09 22:08] ZerataX opened #9906 "netdata suddenly doesn't start"
##### Bug report summary

Netdata immideately stops when trying to start it via the systemd file

##### OS / Environment
[code]

##### Netdata version

netdata v1.24.0-204-nightly

##### Steps To Reproduce

1. I installed netdata (via the one line script)
 like a year ago and I now noticed that probably since end of August it stopped working (last message it send to a matrix channel)
2. Trying to

[2020-09-10 03:17] wonsangki commented on #7133
Hi.
i havent received anything too. i'm Feb cotributor.

[2020-09-10 03:23] wonsangki commented on #7133
Same here (february)

[2020-09-10 05:14] prologic commented on #5516
@joelhans Can you please amend our docs as per the above? Thanks!

[2020-09-10 05:29] prologic commented on #9851
Thank you! 🙇‍♂️ We will review this soon!

[2020-09-10 05:33] prologic commented on #9851
Done with https://github.com/netdata/helper-images/pull/87

[2020-09-10 05:33] #9851 closed

[2020-09-10 05:38] prologic commented on #8242
@Ferroin Correct me if I'm wrong, but don't we already support the eBPF plugin with our DEB/RPM packages? I _think_ we can close this right?

[2020-09-10 06:43] oleotiger opened #9907 "How to do if i wanna use collector only?"
I wanna use collectors in netdata only.

The way is to package collectors up with grpc with python.

My purpose is to collect a certain set of metrics at request with certain frequency.

What should I do?

Where is the entrance?

Any suggestion?

[2020-09-10 09:36] ilyam8 opened #9909 "Parent keeps showing child stale (removed) dimensions if the child mem mode is `none`"
##### Bug report summary

Parent netdata keeps showing child stale (removed) dimensions if the child mem mode is `none`.

That is test python module i use to reproduce the issue, it charts random[1-3] dimensions first 10 iterations, then it removes them (resends the chart definition with dimensions `obsolete` option set) and keeps charting random[4-7].

<details>
<summary>python script click click

[2020-09-10 09:40] ilyam8 commented on #9909
This issue was reported by @scatenag in #9372

[2020-09-10 10:33] hamedbrd commented on #6683
@ilyam8  I have checked out  node_exporter and has written this script to print those metrics we have in node_exporter especially for systems units.
https://gist.github.com/hamedbrd/0354a742b9f437d5f0a5dc28e76eb369

So for each systemtd unit by dbus we could have these {"active", "activating", "deactivating", "inactive", "failed"}

[2020-09-10 11:10] Ferroin commented on #8242
I _believe_ so, but I'm not sure.

[2020-09-10 11:15] Ferroin commented on #9906
@mfundul Based on the error log, this one looks like an issue with the dbengine.

[2020-09-10 11:20] mfundul commented on #9906
@ZerataX you've got some database corruption going on. You should delete your cache folder `var/cache/netdata/*` and start fresh.

[2020-09-10 11:56] andrewm4894 opened #9910 "Ability to add alarm events as overlays"
#### Feature idea summary

I think it could useful to be able to overlay in some way counts or 'points' for alarm events on the Netdata charts. This way i could see on any chart what alarms are firing and when in case it helps me notice any interesting behavior.

##### Expected behavior

Something like a toggle on the alarms to turn the alarm overlay on/off on all charts - and when you hovered ove

[2020-09-10 13:34] ilyam8 commented on #9794
I tend to disagree with

There are different things we want to have monitored for files and dirs, i dont relly like when it is a flat list of options and some of them work for one case and doesnt for others (ex.: `nfiles` works only for dirs).

It is likely we will add additional _checks_ for _files_ and for _dirs_ and they are different so flat configuration is confusing.

Also i dont think we ne

[2020-09-10 13:37] ilyam8 commented on #9794
[code]

🤔

[2020-09-10 14:28] marcelmfs commented on #9675
Thanks! I've just rebuilt and will keep an eye to see if crashes again.

[2020-09-10 14:30] mfundul opened #9914 "Parent keeps showing child stale (not recently collected) dimensions if the child mem mode is `none`"
##### Bug report summary

Parent netdata keeps showing child stale (removed) dimensions if the child mem mode is `none`.

That is test python module i use to reproduce the issue, it charts `random[1-3]` dimensions for the first 10 iterations, then it stops generating data for them and keeps charting `random[4-7]`.

<details>
<summary>python script click click</summary>

[code]

</details>

</detai

[2020-09-10 15:03] joelhans commented on #5516
![](https://github.trello.services/images/mini-trello-icon.png) [Improve docker configuration docs](https://trello.com/c/SzphqF8G/283-improve-docker-configuration-docs)

[2020-09-10 17:27] ashokgelal opened #9915 "Module 'web_log' job 'nginx' is being served by another job, skipping it"
##### Question summary
I enabled web_log for nginx as per the docs (disabling it in python.d.conf and enabling it in go.d.conf) but I don't seem the get the accurate results from nginx. When I do `grep web_log /var/log/netdata/error.log`, the following is what I see:

[code]
When a bombard my server with few hundred requests, I can see both CPU and Memory usage going high but nginx chart remains a

[2020-09-10 18:48] ilyam8 commented on #9915
Hi, do as `netdata` user

We need to understand what log file is used by the `nginx` job.

Means that you have 2 jobs with the `nginx`name and the first one is active and running.

I suspect you have several log files.

[2020-09-10 19:03] ashokgelal commented on #9915
This is the output of running `/usr/libexec/netdata/plugins.d/go.d.plugin -d -m web_log`

[code]

[2020-09-10 19:26] ilyam8 commented on #9915
[ DEBUG ] web_log[nginx] init.go:86 created log reader, current file '/var/log/nginx/access.log'

Is this the file?

Do you see there new entries when

?

[2020-09-10 19:51] ZerataX commented on #9906
yeah that seemed to have worked, thanks!

[2020-09-10 19:51] #9906 closed

[2020-09-10 20:33] ilyam8 commented on #6683
I run the script, the output

[code]

So for every systemd unit we can get its status, which exactly was requested.

@c1xx @marcomusso cirrect me if i am wrong.

Is there any additional info we can get? Or it is only status? @hamedbrd

[2020-09-10 20:36] ilyam8 commented on #6683
ok, i see unit structure is

[code]

[2020-09-10 20:41] hamedbrd commented on #6683
These are the metrics which are used in systemd of node_exporter, base on this issue, I think these are enough and we could solve this issue by creating a new module with these metrics

[2020-09-10 20:47] ilyam8 commented on #6683
i am not really specialist in the area, so using common sense here - i see there are two states:
- LoadState
- ActiveState

It looks like we could have two charts (load state and active state). @Ferroin pinging you because i think you can help here.

[2020-09-10 20:50] ilyam8 commented on #6683
I see your code ignores all units with load state != loaded. So it seems there is no sense to monitor not loaded units 🤔

[2020-09-10 21:07] ilyam8 commented on #6683
@marcomusso @c1xx @Ferroin

I have 160 systemd units in `loaded` state on my pc, the list

[code]

I dont think 160 dimensions in a chart is something we want, tho it looks logical to put them in there.

It is clear that we need a filter option for the module. Perhaps we can deal with big number of units adding some filter by default? Are there any units we dont want to monitor by default?

[2020-09-10 21:27] zebulon501 opened #9916 "Keep unix socket between restarts"
##### Bug report summary

When binding the netdata socket to a unix domain socket (i.e. "bind to = unix:/var/run/netdata.sock") and using it to a http reverse proxy in a docker container, each time netdata is restarted, the reverse proxy need to be restarted as the netdata socket is destroyed an recreated each time.

##### OS / Environment

[code]

##### Netdata version

`netdata v1.24.0`

##### C

[2020-09-10 21:28] hamedbrd commented on #6683
@ilyam8 we have many different types of units

if you take a look at your list you will notice there many different units types, do we really need to monitor all units? if we have a filter on these type then the list will be much better and looks good

[2020-09-10 21:42] ilyam8 commented on #6683
That is my units by type:

[code]

I see we can gather some units _properties_, like you did

[code]

Likely different types have different properties.

[2020-09-10 23:03] ashokgelal commented on #9915
Well, no. That's the file but each server behind the nginx gets its own log file. e.g `/var/log/nginx/example.com.log`.

I guess I was expecting the log entries to be collected. That seems to be the case for python plugin at least. If it is not, is there a way to collect them all?

[2020-09-10 23:10] ilyam8 commented on #9915
If you have several log files you need several jobs, eash job parses one files. This is true for both python and go version.

If you need to to get aggregated data on the netdata dashboard... Well we need the file with all servers logs. It is possible to have several `access_log` entries.

[2020-09-10 23:13] ilyam8 commented on #9915
[code]

[2020-09-10 23:16] ashokgelal commented on #9915
Great! I redirected all the access logs to the single `/var/log/nginx/access.log` file and it seems to be reflecting the right number. Once I add the jobs, stats such as requests/sec is aggregated from all the jobs correct? Or do I have to do configure something to make it do it?

[2020-09-10 23:19] ilyam8 commented on #9915
Those stats are per file, you have a separate section for every job on the dashboard.

[2020-09-10 23:25] ashokgelal commented on #9915
I'm sorry for keep stretching this but is there a demo dashboard that shows stats for different web apps on the same server (I checked all the demo servers but couldn't find one)? For an example, if this is what can be used for displaying requests/sec for stats collected from the `access.log` file: `web_log_nginx.requests`, what should we use for, say, `/var/log/nginx/example1.com.log`?

[2020-09-10 23:35] ilyam8 commented on #9915
i dont really get the question
- each weblog job parses **one** log file (`path` parameter)
- each weblog job has its own section on the dashboard
- the section name is web_log_<JOB_NAME> (<JOB_NAME> is `name` parameter)

[2020-09-10 23:41] ashokgelal commented on #9915
Actually, you just answered my question. I was actually asking the value for setting `data-netdata` on a custom dashboard.

I was just curious to see an actual demo for this - one where there are multiple weblog jobs.

[2020-09-10 23:45] ilyam8 commented on #9915
I dont think there is/was any such demo site

[2020-09-10 23:47] ashokgelal commented on #9915
It's ok. Thank you very much for your help. I really really really appreciate it 🙏

[2020-09-10 23:47] #9915 closed

[2020-09-11 02:04] thiagoftsm commented on #9916
Hi @zebulon501 ,

I am not sure about what is happening on docker, but I tested now Netdata direct on my host using nginx as reverse proxy and I could access Netdata trough my it after Netdata restart.

I used the following `netdata.conf`:

[code]

and my nginx.conf is:

[code]

How are you mapping your unix socket?

Best regards!

[2020-09-11 03:52] prologic commented on #9863
@Ferroin I seem to recall a week or so ago you made some changes to how we compute a suitable "temporary directory" in the updater/installer. Please have a look at what you changed, audit it and determine whether it was an appropriate change here, as we seem to have broken pre-existing "working" behaviour for others. Thanks! 🙇‍♂️

[2020-09-11 06:36] NoahTroy commented on #9386
I'm glad it's been fixed, thank you! :)

[2020-09-11 07:13] zebulon501 commented on #9916
Hi @thiagoftsm, thanks for your quick answer!

I map directly the netdata socket in the docker container: `docker run ... -v /tmp/netdata/netdata.sock:/tmp/netdata/netdata.sock ...`. The issue is that when it gets removed and recreated during the start up of netdata, the container still uses the old i-node.

After some more testing, it appear that mapping the directory containing the Unix socket (

[2020-09-11 07:16] #9909 closed

[2020-09-11 07:42] ilyam8 commented on #9366
`apiserver` exposes huge number of metrics

Minikube:

[code]

most of them are histograms

[code]

---

`kube-proxy`, `kubelet` and `etcd` are accesible via host network (require `hostNetwork: true`)

[2020-09-11 11:32] Ferroin commented on #9863
At least one line similar to`/tmp/netdata-test.huHeA0BnbW: Permission denied` is expected if `/tmp` is mounted noexec. It's a side-effect of the code that determines if we can actually use `/tmp` or not (namely, that it's writable and we can run files we write there) because we have to actually try to run a file off of it to reliably determine if we can use it (because there may be permissions bey

[2020-09-11 12:07] thiagoftsm commented on #9916
Hi @zebulon501 ,

I am not sure if this is a default docker behavior, but I am glad that this can fix the problem. @ilyam8, @prologic  and @Ferroin you have a longer experience with docker than me, is this the unique way to fix this problem?

I agree 100%, after we receive a new input from the teammates that I am asking some instructions, we will move forward with this.

You are welcome, let us kn

[2020-09-11 12:23] Ferroin commented on #9863
I cannot reproduce this locally with the current nightly build of Netdata. Tested on both CentOS 7 and Ubuntu 18.04 with multiple configurations for `/tmp` (tmpfs, separate filesystem on disk, etc).

@ndsda Can you please re-test with the most recent nightly as well and confirm if you're still seeing this or not?

[2020-09-11 14:18] OdysLam commented on #8966
Hi, sorry for taking this long to respond.

We are constantly rolling out fixes and improvements. @rdifrancesco  can you verify that you are still experiencing an issue so that we can start looking into it?

[2020-09-11 16:57] #9914 closed

[2020-09-11 19:44] thiagoftsm commented on #9907
Hi @oleotiger ,

I am not sure if I understood your doubt, but I understood that you wanna get the data that was collected, if this is the case, you will need to use our [api](https://editor.swagger.io/?url=https://raw.githubusercontent.com/netdata/netdata/master/web/api/netdata-swagger.yaml) to request the data you want.

Best regards!

[2020-09-11 21:01] zebulon501 commented on #9916
Hi @thiagoftsm,

After some further investigations, the issue I'm facing comes from the fact that I've put the Unix socket in `/var/run/netdata`  and this folder is managed by the systemd service file, i.e. created when the service is started and disposed when the service is stopped. Adding `RuntimeDirectoryPreserve=yes` to the service files allows to preserve this directory.

[2020-09-11 23:17] ndsda commented on #9863
Hi @Ferroin, I can confirm that I still get the same issue.

This week I have installed Netdata successfully on 4 low spec VPS servers, yet I've encountered this problem with the 3 dedicated servers I've tried. All are CentOS 7: centos-release-7-8.2003.0.el7.centos.x86_64

[2020-09-12 00:52] oleotiger commented on #9907
There still is some difference.

I have read the api. Getting collected data through api is to get data from the database.

Here I wanna get data from the server straightly through calling the collecting method?

Is there any api or may way i can try?

[2020-09-12 08:05] marcomusso commented on #6683
I quickly reviewed you comments and all makes sense to me. A filter will probably be needed, in my use case only srvices were needed but of course your setup might rely on much more than that (for example if you use systemd and a job scheduler or to open sockets etc...). All dimension on a chart seems way to much and if that can be solved by a filter (for example unit types and/or unit name) it's

[2020-09-12 08:21] ilyam8 commented on #6683
@marcomusso yes, filter is must have, this is clear, what is not clear is defaults:
1. make filter mandatory and do not start the collector until the filter is set
2. make filter optional and set default to allow all
3. make filter optional and set default to filter _something_ (🤷‍♂️)

It would be nice to show something by default so 2 and 3 look better.

[2020-09-12 08:26] ilyam8 commented on #6683
Ok i see we have this default filter in the cgroups collector config

[code]

[2020-09-12 08:27] marcomusso commented on #6683
Sensible defaults are normally better. I would be ok with 3 and only services but it's probably a biased opinion. I guess if thew user/admin uses other types of units he/she can then refine the config to include more units.

[2020-09-12 09:08] ilyam8 commented on #6683
- `systemd.mem_usage` chart dimensions (`cgroups to match as systemd services`) - 37 dimensions

[code]

- list of `loaded` units in `active` state (using dbus lib) - 40 units

[code]

---

- diff netdata dubs

[code]

- diff netdata dubs

[code]

---

So filtering all units that are not loaded + state != active gives us ~40 dims (i use my pc as an example for now) which is acceptable but it doesn

[2020-09-12 09:27] ilyam8 commented on #6683
i think the easiest solution is:
- default selector: collect only `service` type units
- disable the module by default

Module produces a chart per type, every unit is a dimension. It is up to a user to enable it and tune the filter.

[2020-09-12 14:19] nodiscc commented on #9794
True

True

As I said it could probably be done in a separate `linecount` module... in fact it's very similar to what the `web_log` module does, except it doesn't care for the time and always parses the whole file. Do one thing.

Do we? It would probably make configuration more complicated? Is that one chart per file matching the glob? x3 for existence/size/mtime... And how do you configure alarms

[2020-09-12 20:19] #9451 closed

[2020-09-12 20:19] #9410 closed

[2020-09-13 01:28] thomasjosif opened #9919 "Netdata install failing on multiple servers with "Static binary checksum validation failed""
##### Bug report summary

Fresh NetData agent installation "Tarball checksum validation failed." - Happening on multiple different machines / OS environments.

Full Error:

ABORTED  Static binary checksum validation failed. Stopping netdata installation and leaving binary in /tmp/netdata-kickstart-KKwvh9yish

##### OS / Environment

**Server 1**
[code]

**Server 2**
[code]

**Server 3**
[code]

##

[2020-09-13 02:53] thomasjosif commented on #9919
Seems like it was fixed, very strange issue.

[2020-09-13 02:53] #9919 closed

[2020-09-13 11:59] hamedbrd commented on #6683
if I'm correct you mean users should be able to enable other types from config file and by default, just service type is enabled,  right?

agree

So as you see we have these states
`var unitStatesName = []string{"active", "activating", "deactivating", "inactive", "failed"}`

 @ilyam8 do you mean we should just check systemd units that are in an active state?

lif you agree et's make this a bit mor

[2020-09-13 12:16] nikobearrr opened #9920 "High memory consumption on netdata 1.23.2"
##### Bug report summary
I have noticed that one of our netdata instances is consuming too much memory ~4.6G
We run netdata on all our hosts (more than 50) and normally, as seen so far, netdata runs with approx. 250MB memory usage.
Netdata is deployed globally and is run with docker. All hosts run on the same OS. There is nothing special about this particular one.

##### OS / Environment

[code]

[2020-09-13 12:19] parenok opened #9921 "cannot claim node - code error 28"
##### Question summary
When I try to claim some of my nodes I get
[code]
All my nodes have ip addresses from the same network. I suppose, that the problem can be some ware in firewall on host app.netdata.cloud. Why I think so - connection from my nodes to app.netdata.cloud is not established. I checked connection with **nc** and **wget** programmes
[code]
[code]
[code]
Log from tcpdump, when i try

[2020-09-13 16:46] ilyam8 commented on #9794
I think we do. Checking exact file is ok but i am pretty sure we will get a request to add filename globbing, usecase - checking all files in a directory. In my opinion this is a _legit_ request and it make sense to add it from the very beginning. Considering that we need a way to exclude a specific file, thats is i suggested.

[code]

It doesnt really make configuration more complicted, because c

[2020-09-13 16:53] ilyam8 commented on #9794
So `filecheck` is basically same as telegraf's [`filestat`](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/filestat) input.

`dircheck` is [`filecount`](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/filecount).

---

I suggested

[code]

because if we name it `filecheck` we are not tied with `stat` related metrics and can expand the module later, not sure tho

[2020-09-13 17:04] ilyam8 commented on #9794
Oh, and globbing allows to add files to check in runtime.

[2020-09-13 17:05] ilyam8 commented on #6683
Yes, this is achievable using selector.

[code]

Related links:
- https://github.com/netdata/go.d.plugin/tree/master/pkg/matcher#supported-format
- https://github.com/netdata/go.d.plugin/blob/master/pkg/matcher/expr.go

---

No, i dont think so, i think we need to _chart_ everything that matches selector.

---

Some notes about the module:
 - collects systemd units **actvive state**
 - collects on

[2020-09-13 17:17] #9683 closed

[2020-09-13 17:17] #9678 closed

[2020-09-13 17:59] jimerickson opened #9922 "Error: ACLK Main: could not retrieve challenge from auth response"
##### Bug report summary

i can claim the node but the netdata cloud page always says unreachable. i get a lot of the following in the error.log:
[code]
##### OS / Environment

[code]

on a raspberry pi 4 8gb version.

##### Netdata version

 netdata v1.24.0-44-g9996479f

##### Component Name

ACLK
##### Steps To Reproduce

1. claim node
2. go to netdata cloud and it says unreachable
3. check erro

[2020-09-13 21:16] thiagoftsm commented on #9916
@Ferroin and @prologic , should we add this on our files to avoid problems for other users?

[2020-09-13 23:07] thiagoftsm commented on #9907
This is not possible, because the collectors are clients, they cannot be consider as a server.

The collectors send data to Netdata using the [collector language](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#external-plugins-api), if you want to run an external collector and send data from it to an external service, this service will need to have a parser for the language.

You will

[2020-09-13 23:11] thiagoftsm commented on #9920
Hi @nikobearrr ,

You are using an old Netdata, probably this problem was already fixed, because we had reports like this for distributions using kernels older than `4.19`.
Please, could you upgrade for the latest Netdata version to confirm this?

Best regards!

[2020-09-13 23:32] fzyzcjy commented on #9774
Hi how is it going? If it is not added, I am going to try to add it by myself and make a PR today. Is it welcomed?

[2020-09-14 00:39] fzyzcjy commented on #9774
Hi I have created a PR! https://github.com/netdata/helmchart/pull/137 :)

[2020-09-14 03:36] prologic commented on #7826
@mickae1 Are you able to file a separate bug report for your inability to use our prebuilt Debian packages we provide? Those _should_ work.

[2020-09-14 03:37] prologic commented on #9762
As I cannot reproduce this either, I'm at a loss. So unless someone can point out a better set of reproducer steps I have no choice but to close this for now.

[2020-09-14 03:37] #9762 closed

[2020-09-14 03:38] prologic commented on #9267
@Ferroin Can you comment on this?

[2020-09-14 03:39] prologic commented on #9267
@underhood I'm a bit out of context, sorry. Can you elaborate on your previous comment?

[2020-09-14 03:43] prologic commented on #9061
I am closing this issue we "won't fix" as per [this comment](https://github.com/Homebrew/homebrew-core/pull/60472#discussion_r483508692) and [that comment](https://github.com/Homebrew/homebrew-core/pull/60472#discussion_r487635156) -- This is not high enough priority for us to work on at this stage and there are several hard blockers we haven't been able to resolve at this point, furthermore anyon

[2020-09-14 03:43] #9061 closed

[2020-09-14 04:08] #8242 closed

[2020-09-14 04:17] prologic commented on #9916
Its possible it has other unintended side effects for other users with a different setup. so No I don't htink we should.. Documenting this is probably enough. cc @joelhans

[2020-09-14 04:24] prologic commented on #8527
not stale, on our backlog but low priority.

[2020-09-14 04:25] prologic commented on #8304
on our backlog, low priority

[2020-09-14 04:25] prologic commented on #9162
Needed by #8304

[2020-09-14 04:32] prologic commented on #7590
I believe this is already fixed and should be in the nightly builds. This will be released tomorrow as planned.

[2020-09-14 04:38] prologic commented on #9861
Ahh I see! Sorry for the confusion! So many Github notifs/issues to go through! Do you want to submit a PR to our [helper-images](https://github.com/netdata/helper-images) repo for this? You'll want to add this to the `base/Dockerfile` file. Thanks! 🙏

[2020-09-14 05:30] ilyam8 commented on #9774
@fzyzcjy hi, this is very nice you managed to get prometheus endpoints identificited!

As i mentions in the PR there is wip - https://github.com/netdata/helmchart/pull/134

and it is blocked by netdata v1.25 release and sd release (which i do right after netdata v1.25, not really a blocker)

[2020-09-14 05:58] prologic commented on #9799
@PatTheMav Just a _thought_ but do you have something on your machines, network or environments or anywhere along your network paths that might be blocking outbound connections to `app.netdata.cloud` and thereby getting `RST` packets _which may_ be coming from come startup sequences in the agent attempting to talk to Netdata Cloud?

[2020-09-14 06:56] startryst opened #9923 "Unable to start fping in CentOS 7.3"
[code]

tried a few times to reinstall fping by `/usr/libexec/netdata/plugins.d/fping.plugin install` from `/etc/netdata/fping.conf`, and restarted netdata, but still out of luck

[code]

[code]

[code]

[2020-09-14 06:59] ilyam8 commented on #9923
Hi @startryst 👋 Netdata version? How did you install it?

[2020-09-14 07:01] startryst commented on #9923
netdata -V
netdata v1.24.0-229-nightly

I installed many weeks ago, by the one line bash script, and fping was running good where I barely can remember.

[2020-09-14 07:18] ilyam8 commented on #9923
I couldnt intall fping using

[code]

---

I have it installed from the distro repo

[code]

And it works for me

[code]

[2020-09-14 07:19] ilyam8 commented on #9923
I see `fping` section on the dashboard.

@startryst try

[2020-09-14 07:23] startryst commented on #9923
working on the console:
[code]

[2020-09-14 07:25] mfundul commented on #9920
It's possible that you've got a lot of ephemeral containers that create hundreds of thousands of archived metrics. Can you also share the "Netdata Monitoring"->"dbengine" part of the dashboard?

`memory mode = dbengine` will keep track of all of them. A workaround is to reduce your `dbengine multihost disk space` [quota](https://github.com/netdata/netdata/blob/master/database/engine/README.md#conf

[2020-09-14 07:28] startryst commented on #9923
my installation looks good:

[code]

[2020-09-14 07:31] ilyam8 commented on #9923
looks good for me, just to check - could you install `fping` using your distro package manager?

[2020-09-14 07:33] ilyam8 commented on #9923
my netdata is a little bit ahead, but i dont think it matters

[code]

[2020-09-14 07:41] startryst commented on #9923
Since it looks running good, I don't think the binary of fping come with issue, instead, it more of the way how netdata invoke  fping with flaws? or something settings somewhere not fit?

Btw, my distro to install is a bit too old for fping:
[code]

[2020-09-14 07:43] ilyam8 commented on #9923
you are right, i didnt take into account that centos7 is too stable to have latest `fping`, old version is not compatible with netdata

[2020-09-14 07:47] ilyam8 commented on #9923
@stelfrag any ideas why

[code]

the debug output looks ok

[2020-09-14 07:48] cakrit commented on #9296
@Ferroin / @prologic I will need a reply to https://github.com/netdata/netdata/issues/9296#issuecomment-671364169 if I'm to fix this.

[2020-09-14 08:28] OdysLam commented on #9921
Hey!

Welcome to our community @parenok. Someone from the team will try to reply as soon as possible.  As a starter, how did you install netdata on the systeM?

Happy monitoring :)

[2020-09-14 08:30] OdysLam commented on #9922
Hey @jimerickson,

Welcome to our community :) Can you verify that you are not blocking connections with a firewall, either on the rpi or network-wide? We use port 443 as we establish a secure web-socket. Moreover, how did you install netdata?

[2020-09-14 08:38] OdysLam commented on #9919
@thomasjosif , thanks for reporting it. We had a caching issue with the provider from which the package was downloaded. It is now fixed.

Thanks for contributing with issues  and welcome to our community :)

[2020-09-14 08:42] OdysLam commented on #9916
@zebulon501 Welcome to our community. We are glad that you. managed to solve this :)
Happy monitoring!
(p.s we also have our [forums](https://community.netdata.cloud))

[2020-09-14 08:48] OdysLam commented on #9915
@ashokgelal A demo site is a very good idea, noted!

Welcome to our community! If you have any other question, don't hesitate to open a ticket or reach us at our [forums]!(https://community.netdata.cloud)

[2020-09-14 08:48] parenok commented on #9921
Hello!
I use kickstart script with those options
[code]

[2020-09-14 10:14] marcelmfs commented on #9675
Hello Markos,

Just a follow up since last rebuilt and after some days of solid running. I've removed the cronjob that was restarting netdata to see what's the stability of the code and it seems that the biggest issue with the majority of segfaults and memory errors causing them are gone, but I do still have evidence of 2 segfaults since then:

[code]

But unfortunately no more stack traces in the

[2020-09-14 10:41] mfundul commented on #9675
Thank you very much @marcelmfs for your assistance. The `trap divide error` is probably  #9713

The memory consumption situtation could be related to #9595 which has to do with known limitations of `dbengine` for archived metrics support. A fix for this is in the roadmap.

If long-term retention is not what you aim for with netdata then you could consider [other](https://github.com/netdata/netdata

[2020-09-14 11:05] hamedbrd commented on #6683
@ilyam8
These unit types are excluded in node exporter, do you think we should consider a chart for each these in case of enabling them or we do not need to consider them?
`unitExcludePattern := regexp.MustCompile("^(?:.+\\.(automount|device|mount|scope|slice))$")`

[2020-09-14 11:24] Ferroin commented on #9794
I see little value to splitting them, 95% of the code is likely to be identical for both modules. Perhaps just create a single module with a name like 'fsobjectcheck'?

Hmm, yeah, I could see value to being able to match on xattr names/values and/or stuff like the attributes reported by `lsattr`.

Also, we may want to look into making this internally stateful with event-triggers via fanotify/inoti

[2020-09-14 11:37] jimerickson commented on #9922
well i installed netdata with the netdata-installer.sh script and i have four other nodes all connected to netdata cloud at this location so it not blocked network side. and i did "sudo iptables -F" on the rpi and it still is unreachable on netdata cloud.

[2020-09-14 12:01] ofirule opened #9924 "Streaming Bandwidth optimization"
### Background

I have multiple IOT devices running netdata v1.23.2
They are all deployed as follows:
- conf :  `update every = 10` and `memory mode = none`
- and only the following metrics are collected and streamed:  `system.cpu` `system.ram` `disk_space._`

My goal is to optimize the bandwidth on my devices since bandwidth over mobile data is expensive

I took network dumps using `tcpdump` for

[2020-09-14 12:07] mfundul commented on #9924
Thank you for your contribution. You are right that the streaming protocol is not efficient with relation to bandwidth or number of packets. However, it is not something we intend to do in the near future due to lack of resources.

[2020-09-14 12:31] ilyam8 commented on #6683
@hamedbrd i think whatever the selector matches. Default is https://github.com/netdata/netdata/issues/6683#issuecomment-691697167

[2020-09-14 12:32] thiagoftsm commented on #9916
Thank you @prologic !

I will work with @joelhans to document this.

Best regards!

[2020-09-14 13:27] underhood commented on #9267
@prologic the cmake doesn't detect libjudy-devel is installed on Fedora 31. This is not related to judy bundling. See following(latest master):

![Screenshot from 2020-09-14 15-26-13](https://user-images.githubusercontent.com/6674623/93091652-aadb8400-f69e-11ea-8115-a638b7d71765.png)

[2020-09-14 14:10] underhood commented on #9922
@jimerickson I will try and take a look at this. Just on a hunch can you post output of `ldd` for netdata executable?

[2020-09-14 14:14] Saruspete commented on #8926
Hello,

for what is worth, the logs are still sent to stdout if the log folder (/var/log/netdata) does not exists.
Maybe a configuration to create automatically the configured folders (if permissions allows it) would be a nice addition ?

[2020-09-14 14:16] jimerickson commented on #9922
sure no problem it is as follows:

pi@raspberrypi-8gb:~ $ ldd /usr/sbin/netdata
linux-vdso.so.1 (0x0000007f8b675000)
libm.so.6 => /lib/aarch64-linux-gnu/libm.so.6 (0x0000007f8b278000)
libelf.so.1 => /usr/lib/aarch64-linux-gnu/libelf.so.1 (0x0000007f8b24c000)
libz.so.1 => /lib/aarch64-linux-gnu/libz.so.1 (0x0000007f8b21f000)
libcrypto.so.1.1 => /usr/lib/aarch64-linux-gnu/libcrypto.so.1.1
(0x0000007

[2020-09-14 14:18] marcelmfs commented on #9675
Thanks for your comment. I've changed the memory mode from default to `save` as suggested, and subscribed to #9713 to recompile after that is fixed/merged.

[2020-09-14 14:25] Ferroin commented on #8926
@Saruspete Agreed, though I'd say it shouldn't even be a config option, on startup we should try to create any missing directories that we're configured to use. The fact that we choke if our cache directory is missing is even more ridiculous than handling of logging TBH...

[2020-09-14 14:38] Saruspete commented on #9816
Hello,

The only notification of OOM is when the kernel send some logs to syslog / dmesg. So I would rather suggest that you place this in your log management facility.

One way would be to modify a plugin collecting logs, like the [squidlog](https://github.com/netdata/go.d.plugin/tree/master/modules/squidlog) in go.plugin.d and parse /var/log/message (or other, depending on the syslog configurati

[2020-09-14 14:42] Saruspete commented on #9872
I would love this feature too, but I soon realized it was made in JS by the dashboard, from the API output.

I made a python script to somewhat recreate the format, but it's missing some charts, and the filtering may be bad as the colors in the charts are not properly kept (and sometimes, even the dimensions are messed-up)
https://github.com/Saruspete/netdata.tools/blob/master/netdata_export.py

I

[2020-09-14 15:22] Saruspete commented on #9097
Hello,

This reminds me of an old request, merged last year #3187

Can you check if it's what you need ?

Cheers,

[2020-09-14 20:25] PatTheMav commented on #9799
@prologic On the hosts themselves no outgoing connections are filtered and as these are virtualised environments I have of course no insight what happens on the actual host, but quick checks do not suggest any filtering of `app.netdata.cloud`.

Nevertheless this issue happens on _all_ my virtualised hosts after Netdata updates. Sometimes Netdata also doesn't start correctly after an update and get

[2020-09-14 22:52] Saruspete commented on #9815
Hello,

Nice idea ! Is it planned to use sqlite for other important states standardization, like :
- [Health management](https://learn.netdata.cloud/docs/agent/web/api/health/#health-management-api) currently in `/var/lib/netdata/health.silencers.json`
- Health status, currently in `/var/lib/netdata/health/health-log.db`
- Epic feature Ingest & Present Events #6523 that would allow to set custom m

[2020-09-15 02:37] #9916 closed

[2020-09-15 05:05] prologic commented on #9891
@Ferroin Please look into this when you're up. Thanks! 🙇‍♂️

[2020-09-15 05:15] prologic commented on #9267
Thanks! Do you have a proposed fix? Otherwise @Ferroin and I will look at this.

[2020-09-15 05:20] prologic commented on #9296
This is because different ecosystems require and use different patterns for versioning and we have to respect that. This includes RPM(s) too. If you do plan to fix this I _would_ recommend using a generalised version parsing/handling library.

[2020-09-15 05:36] prologic commented on #9919
it actually isn't fixed. But thanks for reminding me, I'll be reaching out to Google support to see if there are things we can do here. This is a bit of a tough one, "caching" is hard™

[2020-09-15 07:58] Xoib commented on #9799
Just to to confirm, I got the same alarm when an upgrade has been done automatically.

![image](https://user-images.githubusercontent.com/511705/93182023-7a94f380-f739-11ea-874d-0a9e1f53bf41.png)

DNS logs from the moment Netdata check for a new release to the telegram alert :

![image](https://user-images.githubusercontent.com/511705/93182241-c0ea5280-f739-11ea-822b-ca0c19261cae.png)

The only th

[2020-09-15 10:06] JPAMaia opened #9928 "Custom chart not displaying data"
##### Bug report summary
Custom chart does not display data in the netdata dashboard.

##### OS / Environment
[code]

##### Netdata version
netdata v1.24.0 -> installed from script kickstart-static64.sh with arguments stable-channel and no-updates

##### Component Name
Collectors

##### Steps To Reproduce
I'm making a custom collector to monitor pacemaker clusters using the pcs command in a bash s

[2020-09-15 10:11] ilyam8 commented on #9928
Hi @JPAMaia 👋

Try charts.d.plugin debug mode

as `netdata` user

[2020-09-15 10:49] JPAMaia commented on #9928
Hi @ilyam8

Thanks for the response!

I've run the charts.d.plugin in debug mode as the netdata user, but didn't see anything wrong in it.

Output:
[code]

Best Regards!

[2020-09-15 10:58] ilyam8 commented on #9928
`pcs.maintenance` != `pcs.loglevel`

[2020-09-15 11:12] hamzash9500 opened #9929 "bandwidth usage"
##### Question summary
Question:
Can netdata calculate the bandwidth usage for each process running on the server?
##### OS / Environment

##### Component Name

##### Expected results

[2020-09-15 11:23] JPAMaia commented on #9928
Thank you!
I don't know how i didn't see that!

Still, i get the same result.
I ran `./charts.d.plugin debug 1 pcs` as netdata user again and got this output:

[code]

However, when running `./charts.d.plugin` as netdata user i get this error:
`./loopsleepms.sh.inc: line 64: 3717513 67 1325949 68000: syntax error in expression (error token is "67 1325949 68000")`

Could it be related?

[2020-09-15 11:30] Ferroin commented on #9891
We don't have a conditional in the spec file for eBPF support, but we can't build eBPF support on CentOS 6. Should be a relatively easy fix, and I should have a PR up for this later today.

[2020-09-15 11:44] ilyam8 commented on #9929
Hi @hamzash9500 👋

If you have ebpf installed check `Applications->ebpf net`

[2020-09-15 11:58] Ferroin commented on #9891
Hmm, looking further, we do have such a conditional, it just doesn't appear to be working here. I'll try and reproduce this locally.

[2020-09-15 12:12] Ferroin commented on #9891
Based on quick and dirty testing here, i cannot reproduce this.

@Jolin-blank Could you please provide some more inf about how you're trying to build the RPMs on CentOS 6?

[2020-09-15 12:12] nicknaychov commented on #9097
Hi

you are right this is similar, however the solution you implemented does
not seems to have ability to configure time periods during which certain
alarms to be silenced, instead you need to do dynamic API calls. I think
if you have static file where you can just configure the time periods
during which certain alarms will be disabled or to apply different
thresholds depending on time will be eas

[2020-09-15 12:22] ZYL9 opened #9930 "Problem with installing in raspberrypi"
About the dependence
The other dependencies are
libssl-dev
libtool
libuv1-dev
...
maybe more.
It took me all afternoon to set up...
hope you guys can improve the readme

[2020-09-15 12:23] ilyam8 commented on #9929
Netdata installer installs it by default. How did you install netdata? Did you check installer logs?

[2020-09-15 12:25] dginhoux commented on #7590
Hi,

I've successfully upgraded my docker "central netdata" instance to 1.25.
Everything work fine and exporting work fine to my opentsdb with the old backend conf.

I'll try new exporting system.

Thank every one.

[2020-09-15 12:52] hamzash9500 commented on #9929
i have installed it  by apt repo (apt get install netdata)
os : Ubuntu 18.04.4 LTS
netdata version: v1.23.0

[2020-09-15 12:53] ilyam8 commented on #9929
@thiagoftsm you know better, ping!

[2020-09-15 16:04] ilyam8 commented on #9928
Could you provide full output of `./charts.d.plugin` ?

[2020-09-15 16:38] rienath commented on #9594
It is a very popular collection of software that people use to implement clusters.

Yeah, you are right. Now I see where the error is coming from. There is a part in openhpc installation guide, where you set up a default development environment (para 4.5). That is where the default compiler gets changed.

Way to reproduce:

1. Enable ohpc repo:
[code]

2. Install the environment
[code]

3. Install

[2020-09-15 16:44] JPAMaia commented on #9928
Yes, here it is:

[code]

[2020-09-15 18:19] joelhans commented on #9760
First off, sorry that it took so long for us to get you a response. The first two expected results are possible, but the third is not, as Netdata Cloud needs to query your node's local database to stream metrics to your browser.

To disable the local dashboard, open `netdata.conf`.

[code]

Scroll down to the `[web]` section, then change `mode = none`.

[code]

Restart the Agent with `service netd

[2020-09-15 18:19] #9760 closed

[2020-09-15 23:30] thiagoftsm commented on #9929
Hi @hamzash9500 ,

Please, can you verify that you have the file `/usr/libexec/netdata/plugins.d/ebpf.plugin` with your installation? I am not sure if the deb package had `ebpf.plugin` with Netdata 1.23.0, for the newest versions our SRE team worked to bring it.

Best regards!

[2020-09-16 02:53] kurdtpage commented on #9202
I am running Linux Mint 20 and I ran the installation via the website using `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` and when I try `sudo netdata-claim.sh -token=<token> -rooms=<rooms> -url=https://app.netdata.cloud` I get:
`sudo: netdata-claim.sh: command not found`
I have searched for the netdata-claim.sh file, but it is not on the system.

[2020-09-16 02:57] kurdtpage commented on #9202
I have found a workaround for Ubintu/Linux Mint:
[code]

[2020-09-16 03:41] git1977 opened #9933 "prefix for metricname not working"
Hello all,

I am trying to attach a prefix to the metric names, but when I go to this url to see the metrics I see 'netdata_' instead of the prefix I am using in netdata.conf. I am sure I am doing something wrong, but not sure what it is.

`<ip:19999>api/v1/allmetrics?format=prometheus&help=yes`
Here is my netdata.conf I am using:
[global]
bind socket to IP = 0.0.0.0
[backend]
prefix = mynetmetric

[2020-09-16 04:38] #9933 closed

[2020-09-16 04:58] nikobearrr commented on #9920
Thank you both for your suggestions.

I have updated to 1.25.0 and I have seen the same. Something that I have forgotten was to check the logs. I could see there was showing an error about "cgroup". There was 1 container which was constantly restarting. I have fixed this and now it seems OK. I'd expect that goes together with what @mfundul suggested.

Here are the screenshots of dbengine when I wa

[2020-09-16 05:52] prologic commented on #9594
Thank you. We'll look into how we can solve this on our end to avoid such situations. cc @Ferroin But as you've found a work-around I will put this on our Backlog at a lower priority after first discussing with the team. Thanks! 🙇‍♂️

[2020-09-16 06:02] prologic commented on #7590
Thanks for the confirmation! Closing! 🎉

[2020-09-16 06:02] #7590 closed

[2020-09-16 06:08] prologic commented on #9930
@ZYL9 I'd really _recommend)_ you choose another installation method on a RPi, especially if it has an SD Card. Please choose either a Static Binary installation or Docker as appropriate for needs, both are well documented. Thanks!

[2020-09-16 06:26] vlvkobal commented on #9933
Have you restarted Netdata? You can check the effective configuration using the http://localhost:19999/netdata.conf API call.

[2020-09-16 07:19] underhood commented on #9267
@prologic this is low prio as it is not user-facing (all our build methods use autotools). I think there was a plan to move over to cmake eventually (and again I guess the reason is future plan to support MS Doors OS).

For these reasons I didn't investigate much into this. I suspect maybe a way how fedora packages libjudy makes it not detected by cmake but it is a guess.

[2020-09-16 07:40] mfundul commented on #9920
I wanted to take a look at the memory consumption graph for `dbengine`. Is this host a master in a parent-child set-up? Newer netdata versions use a multi-host DB (many children are stored in the same `dbengine` instance) whereas v1.23.2 creates a new instance for every child host.

For backward compatibility reasons multi-host DB is only enabled for new children that connect. If you delete your c

[2020-09-16 07:44] underhood commented on #9922
Hmm,

I tried on Debian AMD64 and it seems to work well. Additionally since you conveniently included what was sent to agent  in log:
`{"challenge":"YrH14byFQogkTxrGjfG/uegXlQvL+x1IqNaPaHoznkk4D7jKglPnnlDZ/NJ7VR+riai6RnQRY7ONYg3kQnmaOMouvAAVXNHRLORl+taFm+yLIDa0W//c1zFV/2OmQfLQMIkWR0OYnq4fnTQ9QJboYSjV2Fyms2MtCdtJGSKybdPSvFpKxXcpxMUZ9/GxYirnD9l0MVIz7MP90idJzZlJSgTrlIfOZycyWoQBkjTilQddlXSAgOhZHVnEH87

[2020-09-16 07:53] underhood commented on #9921
@netdata/cloud-be can you guys check this? Is there any rate-limiting firewall or something like that? Seems only one node cannot connect for some reason.

[2020-09-16 08:11] parenok commented on #9921
At this moment I have 3 nodes which can't connect to https://app.netdata.cloud

[2020-09-16 08:18] nikobearrr commented on #9920
Hi @mfundul isn't the second picture showing the dbengine memory consumption?

The host is not part of a parent-child setup. We only have registry, but we dont stream metrics. We deploy the netdata globally and export metrics to graphite. Each host reports for itself.

This is the relevant config:

[code]

We also have `[plugins]` but that seems irrelevant. `netdata-master` is the registry

[2020-09-16 08:20] mfundul commented on #9920
It does yes. However, archived metrics are part of the netdata database and not part of `dbengine`, so it doesn't show here. You can try running the above command anyway, it should tell us something.

[2020-09-16 08:29] nikobearrr commented on #9920
Since I have put the 1.25.0 and fixed the restarting container it seems fine ( < 300MB memory usage).
I ran the command on the current one and it shows `8318`. On the UI it says `Every second, Netdata collects 6929 metrics`

[2020-09-16 08:33] mfundul commented on #9920
That seems like a small amount of extra archived metrics. Let's see if this gets out of hand for some reason. Maybe you ran into another bug that caused this. There have been many bugfixes since v1.23.2

[2020-09-16 08:52] mfundul commented on #9920
Please reopen if the problem persists.

[2020-09-16 08:52] #9920 closed

[2020-09-16 08:55] nikobearrr commented on #9920
Thank you for your time

[2020-09-16 08:55] mfundul commented on #9739
Fixed by https://github.com/netdata/netdata/pull/9855

[2020-09-16 08:55] #9739 closed

[2020-09-16 09:51] dim08 commented on #9210
hi @gamefundas this is Dimitris from product team. We appreciate your contribution, and we would like to ask you if you will be willing to have a get to know you meeting with our product team. If this is the case could you please share some contact details?

[2020-09-16 10:03] lexin8 opened #9935 "How to set display to KB / S"
![1](https://user-images.githubusercontent.com/61616502/93323266-f92b8700-f846-11ea-83cb-0d1c03926380.jpg)

[2020-09-16 10:23] underhood commented on #9391
closed by 54916258aa5b687766b8bcf7bb5a058fada3f855

[2020-09-16 10:23] #9391 closed

[2020-09-16 10:25] underhood commented on #8907
Closed by #9249

[2020-09-16 10:25] #8907 closed

[2020-09-16 10:26] underhood commented on #9013
This has been canceled and will be implemented in another way.

[2020-09-16 10:26] #9013 closed

[2020-09-16 10:49] ilyam8 commented on #9935
hi @lexin8

if you `Settings->Locale->Fixed Units: unset` you will get `kilobits/s`. If you want `KB/s` (kilobytes/s) then there is no way to get them.

[2020-09-16 10:54] hamzash9500 commented on #9929
thank you @ilyam8
@thiagoftsm  yes I found it and it works as expected, but I have two questions,

first one :
can we enable ebpf plugin when i install netdata by binary file? (using wget https://github.com/netdata/netdata/releases/download/v1.23.0/netdata-v1.23.0.gz.run **then** sh netdata-v1.23.0.gz.run )

second question :
how i can store metrics for the last  24 hour in CSV file i used the fol

[2020-09-16 10:55] stdedos commented on #9585
That took a little more than expected! Apologies:

[code]

[2020-09-16 11:17] Ferroin commented on #9594
Speaking from personal experience, _stock_ GCC 9.2.0 works just fine to build Netdata. This is something with the OpenHPC builds that's causing the issue. We do want to eventually have this working, but right now we can't technically even be certain that this is an issue with our code (we could be hitting a bug in the OHPC version of GCC with some uncommon but still standards compliant C code).

I

[2020-09-16 11:46] rdifrancesco commented on #8966
@OdysLam after putting my testing on hold for several weeks, I was now able to confirm that my nodes can successfully connect to the war room.  I no longer receive any ssl errors.  I've successfully tested on RHEL 6.10 and the latest Amazon Linux 2 image.  My guess is that something in the Netdata v1.24 agent resolved the issue.  Thanks for getting back to me.

[2020-09-16 12:35] ZYL9 commented on #9930
yeah!
After all the hard work, it was worth it!
thanks for your work!

[2020-09-16 14:41] joelhans commented on #9930
Glad to hear you got Netdata set up on your Raspberry Pi! Out of curiosity, did you use a kickstart script or Docker?

If you're interested, I just published this new guide about Raspberry Pis, Pi-hole, and Netdata just yesterday: https://learn.netdata.cloud/guides/monitor/pi-hole-raspberry-pi :wink:

[2020-09-16 14:53] ZYL9 commented on #9930
to be honest I'm a super rookie
I dont know how Docker works
I got an error yesterday when I used Kickstart
it seems to be "Exec format error"
and I dont know why
so I download your project and try to build on my own
hope these would help you

[2020-09-16 15:40] marcelmfs opened #9938 "netdata installer isn't detecting `ld`"
##### Bug report summary
Had this error thrown at me on a fresh install server:

[code]

##### OS / Environment
[code]

##### Netdata version
latest from fresh install

##### Component Name
netdata installer

##### Steps To Reproduce
1. Had a fresh RHEL7 install, with no `ld`
2. run the installer

##### Expected behavior
the dependencies detection should include binutils for RHEL.

[2020-09-16 15:47] thiagoftsm commented on #9938
HI @marcelmfs ,

Please, can you verify that `ld` is in your `$PATH`?

Best regards!

[2020-09-16 15:56] JPAMaia commented on #9928
Greetings!

I solved my problem! The variable IFS was set with a different value from default, in another custom collector, which caused `usr/libexec/netdata/plugins.d/loopsleepms.sh.inc` to crash.
After reseting the value to default, it started to work.

Thanks for your help!
Best Regards!

[2020-09-16 15:56] #9928 closed

[2020-09-16 15:59] thiagoftsm commented on #9929
Unfortunately this is not possible, I installed now this binary on a VM and the `ebpf.plugin` was not available with it. I also observed that the `ebpf.plugin` is not installed with the latest `netdata-v1.25.0.gz.run`. @prologic and @Ferroin I imagined this was already fixed, are we having problems to build the static binary with ebpf?

The API has an additional variable called `after`, by default

[2020-09-16 16:36] ilyam8 commented on #9928
oh man this is very nice you have found the problem 🎉 A very tricky one.

[2020-09-16 17:29] rdifrancesco commented on #9624
@prologic closing the loop on this.  After putting this on hold for several weeks, I just resumed testing with Netdata v1.24 and it seems all issues are resolved.  I can install the agent with the 64bit kickstart script and nodes can successfully connect to the war rooms.  I have successfully tested this on RHEL 6 and the latest Amazon Linux 2 instance.  Nothing in my testing routine changed so my

[2020-09-16 18:12] gaia opened #9939 "Updating to 1.2.5 from 1.2.4"
[code]

latest is > 001024000233, it's 1.2.5

[2020-09-16 18:28] ilyam8 commented on #9939
Indeed

[code]

[2020-09-16 18:39] cube-dan commented on #9863
This worked for me:

where (below):
+ `/tmp/netdata-kickstart-Q30do8Yo21` is the path that kickstart.sh tells you that it's: `Leaving all files in /tmp/netdata-kickstart-Q30do8Yo21`
+ `{your_user}` is your logged in user

[code]

[2020-09-16 18:47] UAnton commented on #8343
Same BUG in last update!

[2020-09-16 19:04] Redominus commented on #9863
The problem with that is the updater. It will break anyway.

El mié., 16 sept. 2020 20:39, Dan Bryant <notifications@github.com>
escribió:

[2020-09-16 20:45] jdelee opened #9940 "ubuntu package default 'bind to' contradicts help text in binary"
##### Bug report summary
The netdata.conf included in the ubuntu debian package binds to localhost by default.
the default behaviour when running netdata manually is the opposite:

###### default netdata.conf
[code]

###### help output
[code]

##### OS / Environment

[code]

##### Netdata version

 `netdata v1.24.0`

##### Component Name

##### Steps To Reproduce

1. apt-get -y install netdata
2.

[2020-09-16 22:24] kozicpetar opened #9941 "Register netdata in Consul"
Hi folks,
I found here closed task because inactivity with same question #3808

Can netdata register to Consul?
Because I'm using auto provision of netdata on newly installed virtual machines with Ansible and I'm using netdata with Prometheus that will be cool stuff in process of automation if netdata can be added in Consul.
Because Prometheus can doing discover and auto adding node to scrape from

[2020-09-16 22:49] JaseNZC opened #9942 "Enable nvidia plugin"
Running latest stable version on a up to date kali linux.

This is probably as plain as the nose on my face but I want to enable the nvidia_smi plugin. It mentions this is off by default and need to be turned on.
Where is this setting, I had a look in both the main config file as well as the nvidia_smi.config file.
Was not able to see anywhere that lists to enable this.

Any body able to put me in

[2020-09-17 01:42] startryst commented on #9923
@stelfrag can you take a look?

[2020-09-17 02:05] johnpiers commented on #9939
This seems to have (been) resolved itself. The update script eventually updated to v1.25.0-7-nightly. So, for now, it appears that things are working as expected, regarding the nightly update process. Cheers.

[2020-09-17 04:42] prologic commented on #9863
@Ferroin ☝️

[2020-09-17 04:43] prologic commented on #9624
So glad to hear this! I _really_ could not figure out wtf was going on! Glad it magically™ solved itself! 😀

[2020-09-17 04:45] prologic commented on #9267
Thanks @netdata/cloud Let's ice this then.

[2020-09-17 04:49] prologic commented on #9939
FWIW our release process is still a little manual, so the next nightly for the current stable can be up to a day out.j Sorry about this, it was actually my fault as I was so exhausted the previous day I didn't get up  in time to re-enable nightlies 😀

[2020-09-17 04:49] prologic commented on #9939
I will however close this as its not a bug, just a process deficiency and we're working on refactiring out entire release process (_its just taking time_).

[2020-09-17 04:49] #9939 closed

[2020-09-17 04:51] prologic commented on #8343
This issue is quite old, dare you able to share some details?

[2020-09-17 05:45] underhood commented on #9846
This was closed by @prologic updating the London3/CDN77 server.
In the future, there might be a discussion on how to better keep it up to date or host the API files elsewhere.

[2020-09-17 05:45] #9846 closed

[2020-09-17 05:50] ilyam8 commented on #9942
Hi

It is `python.d.conf`

[2020-09-17 05:55] ilyam8 commented on #9923
@startryst you [checked debug](https://github.com/netdata/netdata/issues/9923#issuecomment-691871351) as `netdata` user?

[2020-09-17 06:07] startryst commented on #9923
no, root.

[2020-09-17 06:16] ilyam8 commented on #9923
Try it as `netdata` user.

[2020-09-17 06:18] JaseNZC commented on #9942
yup found it thanks, was not where I thought it would be.

`nano /usr/lib/netdata/conf.d/python.d.conf`

[2020-09-17 06:21] ilyam8 commented on #9942
this one is stock config and it is overwritten on every update

cd to `/etc/netdata` and

[2020-09-17 06:28] JaseNZC commented on #9942
yup sorted and turned on but does not seem to work for me.

Back to the drawing board I guess.

Running latest version of ubuntu and latest netdata

[2020-09-17 06:30] ilyam8 commented on #9942
`python.d.plugin` has debug mode

as `netdata` user

[2020-09-17 06:50] startryst commented on #9923
Looks in good shape:

[code]

[2020-09-17 06:52] startryst commented on #9923
I tried again restart netdata, and capturing the logs relatable to ping:

[code]

[2020-09-17 07:06] JaseNZC commented on #9942
for me to run it just leaves a whole heap of a mess trying to debug it.

`etdata@pen:/$ /usr/libexec/netdata/plugins.d/python.d.plugin nvidia_smi debug trace
2020-09-17 19:05:11: python.d INFO: plugin[main] : using python v2
2020-09-17 19:05:11: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2020-09-17 19:05:11: python.d DEBUG: plugin[main

[2020-09-17 07:10] ilyam8 commented on #9942
You have some syntax errors in your `/etc/netdata/python.d.conf`

Check it using http://www.yamllint.com/ (copy paste the config in there and click `Go`)

[2020-09-17 07:12] ilyam8 commented on #9942
`python.d.conf` format is

[code]

[2020-09-17 07:16] underhood commented on #9921
@parenok Will try to get somebody from the cloud team to look at this. However, as you yourself see it is a network connectivity issue. Can be caused by the network on your side or by some firewall on the cloud side.
Are you by any chance behind any corporate firewall/proxy?

@netdata/cloud-be @prologic @Ferroin  any ideas?

[2020-09-17 07:33] JaseNZC commented on #9942
The plot thickens as its a valid yaml file still putting out the same error.

[2020-09-17 07:36] JaseNZC commented on #9942
[python.dconf.txt](https://github.com/netdata/netdata/files/5237105/python.dconf.txt)

[2020-09-17 07:36] ilyam8 commented on #9942
well, it is not valid

share `/etc/netdata/python.d.conf`

[2020-09-17 07:38] ilyam8 commented on #9942
There is extra space
[code]

=>

[code]

[2020-09-17 07:39] ilyam8 commented on #9942
<img width="913" alt="Screenshot 2020-09-17 at 10 38 46" src="https://user-images.githubusercontent.com/22274335/93435343-fa55c600-f8d1-11ea-9d39-52623bb0c854.png">

---

Removing the space solved the problem!

[2020-09-17 07:47] JaseNZC commented on #9942
Thanks for your help learnt a lot and sorted it out
enabled: yes was also one space out.

All good to go gpu's showing up now.

Cheers @ilyam8

[2020-09-17 07:49] #9942 closed

[2020-09-17 08:04] ilyam8 commented on #9923
i am not really sure it makes much sense, but lets check executing `fping` directly as `netdata` user

[2020-09-17 08:43] jamesnr opened #9944 "V1.25 stopped collecting MySQL data after install on Centos"
New version 1.25 was installed last night and has stopped collecting any MySQL stats. I have tried a re-install, though the install process states that the latest version is already installed. What stats are needed or recommended process to reconnect?

Runnung under Plesk
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-862.3.3.el7.x86_64

I have res

[2020-09-17 08:58] ilyam8 commented on #9944
Hi

Lets check error logs

cd to netdata var log dir and

[code]

[2020-09-17 09:10] jamesnr commented on #9944
OK, that worked and kick-started the processes. MySQL data now being collected. Thank you.

[2020-09-17 09:20] manos-saratsis commented on #9040
@jaydio @2-man no more sunglasses, go to app.netdata.cloud and Profile/Settings. Soon it will be the default one after we fix some bugs

[2020-09-17 09:20] #9040 closed

[2020-09-17 09:23] stelfrag commented on #9923
I can't see anything from the logs that would indicate a problem with the parser (it would have written something appropriate in the errror.log). The plugin must be shutting down for some, strange, reason.

[2020-09-17 09:32] #9944 closed

[2020-09-17 11:27] MahdiGhiasi opened #9945 "Plugin stats not visible on Netdata Cloud"
##### Question summary

I've recently installed Netdata on a server, and successfully claimed it in Netdata Cloud as well.

Then I added HAProxy plugin to my Netdata installation and restarted Netdata. Now, the plugin stats are visible when I visit the local dashboard at http://myserver:19999, but not on Netdata Cloud.

Here's the local dashboard, which shows the plugin:

![image](https://user-ima

[2020-09-17 11:32] fracasula commented on #9921
At a first glance it doesn't look like an agent or cloud issue. `wget` is failing too. Can we get a traceroute please @parenok?

`traceroute app.netdata.cloud`

[2020-09-17 11:36] marcelmfs commented on #9938
It wasn't installed.

I'm only saying that the dependency detection step could include the check for the binutils package in RHEL. Otherwise the installer fails.

Best,

[2020-09-17 11:37] jaydio commented on #9040
@manos-saratsis now we're talking, you guys rock! ;-)

[2020-09-17 11:38] MahdiGhiasi commented on #9945
I've found out that claiming the node again with a new id causes Netdata Cloud to *see* the new plugin, so it probably is a syncing issue rather than a fundamental limitation.

So, is there a better way to make Netdata Cloud sync the plugins status with the node, rather than having to reclaim the node with a new id?

(As deleting claimed nodes is not yet shipped, old ones will stay in the space, s

[2020-09-17 11:56] Ferroin commented on #9940
No, the docs are correct. The default behavior if `bind to` _is not defined in the config_ is to bind to all interfaces.

Whether our packages should define it or not is a whole different question. Personally, i'm actually of the opinion that our default 'bind to' value is wrong (not the one in the packages, but what you get if it's unset) because of the security implications of exposing Netdata o

[2020-09-17 11:57] prologic commented on #9846
No discussion required. Added to release process https://github.com/netdata/internal/commit/d6b0531856053de2766387b25fde989f1cea2a7a

[2020-09-17 12:06] fracasula commented on #9921
Sorry I meant on 443: `sudo traceroute --icmp -m 100 app.netdata.cloud 443`

[2020-09-17 12:33] Kobaruon commented on #4811
Hi everyone,

I can be a sponsor for this collector. We use Couchbase and have over thousands of nodes on development, stage and production. We are mainly using Prometheus + Grafana. Right now, Netdata with its Prometheus integration collects a great amount of metrics, but they are not organized in any way and pretty much in raw status.

Native Couchbase integration would be really great for Netda

[2020-09-17 12:34] jdelee commented on #9940
Fair enough, instead of providing a solution let me re-frame the problem this way. The user experience is *inconsistent*. Previous versions of the package bound to * by default, installing via the kickstart script binds to * by default, but recently when installed by apt binding is to localhost only. I've now updated my automation to ensure my desired results occurs but experienced a significant i

[2020-09-17 13:40] parenok commented on #9921
This cannot be confirmed at least until we see a backtrace from the app.netdata.cloud host to my server. In traceroute from my server to app.netdata.cloud, you can see that packets are coming at the network level. But communication is not established at the transport level. This may mean that packages are dropped either on the app.netdata.cloud host or on intermediate nodes. I assume that traffic

[2020-09-17 15:11] Nirjonadda commented on #9002
@manos-saratsis Please let me update when are implemented ability delete Recently Claimed Nodes.

[2020-09-17 15:16] ilyam8 commented on #4811
@Kobaruon 👋 That is very nice you are willing to help!

True.

---

- `lab env`: a guide how to setup couchbase test lab (single instance and HA setup if it is supported) - i guess using docker.
- do we need to add some data/simulate some load to get all the metrics?
- `metrics samples`: according their [monitoring documentation](https://blog.couchbase.com/monitoring-couchbase-cluster/) there is 2

[2020-09-17 15:39] fracasula commented on #9921
Yes, thank you :slightly_smiling_face:

Send them at francesco@netdata.cloud please.

You also mentioned that you were able to claim other nodes, if they are in the same network, can we please get a `tcptraceroute` from one of them please? Thanks.

[2020-09-17 16:22] parenok commented on #9921
Sent, check please.

Sure. Here is some examples
[code]
[code]
Ips of those hosts also provided in email.

[2020-09-17 19:57] 2-man commented on #9040
Oh @manos-saratsis you're saving my eyes, thank you!

[2020-09-17 20:49] jimerickson commented on #9922
let me know if you want me to try anything out. i have 2 of these raspberry pi 4 on 64-bit raspbian and the are both showing the same symptoms, however i do have a raspberry pi 0 on 32-bit raspbian and it works fine with netdata. so i think this is related to the 64-bit version of raspbian. i am willing to try anything you can come up with. thanks for all your work netdata has made my life easier!

[2020-09-17 23:19] huntson opened #9948 "How does one get the hostname on a netdata docker to follow the hostname of the server?"
##### Question summary
How does one get the hostname on a netdata docker to follow the hostname of the server?
##### OS / Environment
Synology 6.2
##### Component Name

##### Expected results
I have a Synology unit running a netdata docker.  I'm very new to the docker world so I feel this might be an easy one however I'd like the docker to display the hostname in the upper left hand corner when on

[2020-09-17 23:27] leotaku commented on #8961
Just FYI, this issue is also blocking getting cloud integration into the Nixpkgs package. (NixOS/nixpkgs#92782)

I'd like to offer some constructive feedback that might be useful to in order to make Netdata better accommodate Nixpkgs and maybe also other software distributions.

* Nixpkgs will accept vendored dependencies if they are vendored for a good reason.

*Mosquitto seems like a good candid

[2020-09-18 01:19] startryst commented on #9923
works well
[code]

[2020-09-18 01:20] startryst commented on #9923
From the log I attached above, as you see for the below lines, what's that supposed to take, in particular, the second line?
[code]

[2020-09-18 03:08] prologic commented on #9938
The installer already has this and __in fact__ already installs all required dependencies before attempting to build the software.

How did you install Netdata exactly?

This doesn't tell me much. Which installer did you run? There is __only_- one officially supported installer and that's our `kickstart-*.sh` script(s) which combine `./packaging/installer/install-required-packages.sh` and `./netda

[2020-09-18 03:09] prologic commented on #9938
Unless there is something specific, I'm closing this as "won't fix" as it is both well documented and well supported. I don't think we need to add autotools steps to detect `ld` in my opinion as any software that is built with language X requires tools for said language to be pre-installed. That's a given.

[2020-09-18 03:09] #9938 closed

[2020-09-18 04:01] prologic commented on #8961
@leotaku Thank you the very well written response and feedback. You are right we can use upstream libwebsockets, there is no need to bundle that as I'm not aware of any significant patches we've made for our specific use-case.

libmosquitto OTOH is the one we've made significant changes to that are unlikely to be pushed upstream.

In any case, we also have other "good reasons" to bundle other depe

[2020-09-18 04:04] prologic commented on #9921
@parenok / @fracasula The SRE team __does not__ actively (_or even unknowingly_) block IPs into our Infrastructure. The only _thing_ in place is rate limiting, but that would not explain the failed TCP routing I just saw above.

Can I get a `tcpdump` please? I'd love to see the PCAP on your side.

[2020-09-18 04:17] prologic commented on #9948
Hi @huntson There is a `-h/--hostname` option in `docker run`. See if this help you achieve your goals.

[2020-09-18 04:44] prologic commented on #9941
@kozicpetar Hi 👋I'm not aware of this being a first-class feature of Netdata. However that being said I would just register the service yourself via Consul API or CLI tooling. Tightly coupling this doesn't make sense to me. This is the same approach taken by (_for example_) [registrator](https://github.com/gliderlabs/registrator) LMK if this helps! 🤗

[2020-09-18 05:31] subhasish20202 opened #9950 "Critical Integer Overflow Vulnerability CVE_2017_7529"
$ python CVE_2017_7529.py https://search.yahoo.com/
INFO:__main__:target: https://search.yahoo.com/
INFO:__main__:status: 200
INFO:__main__:server: ATS
INFO:__main__:status: 206
INFO:__main__:server: ATS
INFO:__main__:vulnerable: Vulnerable to CVE-2017-7529

[2020-09-18 07:01] aureliomarcoag opened #9953 "What is the Netdata Cloud availability?"
##### Question summary
Hi! I've looked for this on the documentation, but haven't had any luck.
We loved Netdata Cloud and what it offers, but before using it in production we'd like to know more about it's availability.

In other words, what percentage of our Agents data does Netdata guarantee will reach Netdata Cloud (could we lose part of the data if netdata cloud goes down)?

What about the ap

[2020-09-18 07:03] aureliomarcoag commented on #9948
You can also use `hostname` on docker-compose:
[code]

[2020-09-18 08:01] Kobaruon commented on #4811
I tried to answer your questions. I hope it's clear.

* `lab env`:

[This documentation](https://docs.couchbase.com/server/current/install/getting-started-docker.html#section_msh_fbl_42b) should help you get started with multiple nodes on a cluster. Couchbase with its multi node setup is actually an HA solution. They have also XDCR setup which is DR scenario. We can get into that if you want. But

[2020-09-18 09:01] cakrit opened #9954 "Silencing alarms documentation"
https://learn.netdata.cloud/guides/monitor/stop-notifications-alarms should probably be mentioning or be merged with the info under https://learn.netdata.cloud/docs/agent/web/api/health#health-management-api

https://learn.netdata.cloud/docs/agent/health/notifications should probably be linking to those two, or to a single merged doc that will be produced.

FYI @prologic / @Ferroin / @ncmans / @kn

[2020-09-18 09:11] MahdiGhiasi opened #9955 "Set time interval in Netdata Cloud dashboards"
##### Feature idea summary

Currently user can set the time interval of all charts via a button on the top right corner on each node page. However, it is not available in the dashboards, and user has to use Shift+Scroll to change the intervals.

Having such control in dashboards makes them easier to use.

##### Expected behavior

Have a set of buttons for controlling the time interval of dashboard

[2020-09-18 09:13] ilyam8 commented on #9955
@manos-saratsis take a look

[2020-09-18 09:14] MahdiGhiasi opened #9956 "Netdata Cloud default selected time interval"
##### Feature idea summary

Currently every time you open Netdata Cloud, the time interval defaults to 5m. This should be customizable.

##### Expected behavior

It would be nice to either be able to set a custom default interval, or the page should remember the last selected time interval.

[2020-09-18 09:19] johnpiers opened #9957 "eBPF causes a coredump"
removed '/var/lib/systemd/coredump/core.tracker-extract.1000.4fdfe05aeff14eb39d4c0c6a0e239983.238320.1600420595000000.zst'
removed '/var/lib/systemd/coredump/core.tracker-extract.1000.4fdfe05aeff14eb39d4c0c6a0e239983.238346.1600420595000000.zst'
removed '/var/lib/systemd/coredump/core.tracker-extract.1000.4fdfe05aeff14eb39d4c0c6a0e239983.238381.1600420596000000.zst'
removed '/var/lib/systemd/cored

[2020-09-18 09:22] ilyam8 commented on #9957
Hi @johnpiers please add `Question summary`, `OS / Environment`, coredump logs, etc

[2020-09-18 09:28] ilyam8 commented on #9794
I dont think it is 95%, but `fsobjectcheck` sounds not bad!

[2020-09-18 09:30] johnpiers commented on #9957
@ilyam8 Sorry, I'm a bit of a clot. Hopefully I've given you what you need. Thank you.

[2020-09-18 11:18] thiagoftsm commented on #9950
Hi @subhasish20202 ,

Did you run this script on a Netdata parent or a Nginx acting as proxy for Netdata?

Best regards!

[2020-09-18 11:19] subhasish20202 commented on #9950
yes
Subhasish Mukherjee

    On Friday, 18 September 2020, 04:48:31 pm GMT+5:30, thiagoftsm <notifications@github.com> wrote:

Hi @subhasish20202 ,

Did you run this script on a Netdata parent or a Nginx acting as proxy for Netdata?

Best regards!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-18 11:28] ilyam8 commented on #9923
Means the plugins exits and the pipe is closed i think

I can do same

[code]

netdata error.log

[code]

[2020-09-18 11:34] thiagoftsm commented on #9953
Hi @aureliomarcoag ,

Any computer running Netdata [1.22 or higher](https://learn.netdata.cloud/docs/cloud/get-started#before-you-start) can work with the cloud.

If you are running Netdata with `memory mode = dbengine`, you will never lose data, because they are stored direct on your machine. When Netdata is connected with the cloud, you continue storing data locally, unless memory mode is set to

[2020-09-18 11:36] Ferroin commented on #9938
@prologic Actually, we don't explicitly pull in or check for binutils, we (sanely) assume that ensuring GCC is present will also ensure that binutils is present, because a vast majority of distros do not let you install any compiler without having a working assembler and linker.

However, I agree that this is not a normal case and is almost certainly a result of an abnormal configuration on the us

[2020-09-18 11:38] thiagoftsm commented on #9957
Hi @johnpiers ,

Please, can you run the following command and give us the output?

[code]

We need to know your kernel version and OS to try to recreate the problem.

Best regards!

[2020-09-18 11:44] Ferroin commented on #8961
Actually, we _may_ depend on LWS being built a specific way. AFAICT, the original reasoing for bundling LWS was that we wanted to use it's built-in SOCKS5 support, and very few distros actually build it with that support enabled (because they sensibly assume that people will use libsocks from the Dante project, which is what we _should_ have done here for multiple reasons, though I still don't app

[2020-09-18 11:47] marcelmfs commented on #9938
The case happened as follows:
1) Got a server provisioned by one of our customers
2) Tried installing netdata using `bash <(curl -sS https://my-netdata.io/kickstart.sh)`
3) The install-required-packages.sh installed needed libraries
4) One of the builds failed with missing `ld`
5) Manually installed binutils
6) ran the installer again

[2020-09-18 11:49] Ferroin commented on #9948
On top of both of the Docker-specific options mentioned above, you can actually override the hostname used by Netdata itself in all of it's alerts/dashboard/cloud functionality by setting the `hostname` key in the `[global]` section of `netdata.conf` for that install of Netdata.

[2020-09-18 11:55] parenok commented on #9921
pcap file is attached in zip archive. I run ```tcpdump -w tcpdump.pcap port 443 or 53``` and then run claim command and after ```nc -zv app.netdata.cloud 443```
[tcpdump.pcap.zip](https://github.com/netdata/netdata/files/5245293/tcpdump.pcap.zip)

[2020-09-18 12:01] Ferroin commented on #9953
WRT Netdata Cloud, we currently do not have any SLAs for the application itself (either the frontend web app or the backend that handles routing of the data from the agents).

Currently though we have had a relatively good track record in terms of downtime (we've only had a few major service disruptions since launch, and the only big one recently was a mostly planned instance earlier this week whe

[2020-09-18 12:05] huntson commented on #9948
The ideal solution would be something that allows netdata to read directly from the host that the docker is on rather than customizing the hostname on a per-docker basis.  I'm not above doing that however so please see my comments regarding that.

[2020-09-18 12:06] huntson commented on #9948
Would you mind giving me step-by-step instructions on how/where to run this on my Synology install please?

[2020-09-18 12:06] huntson commented on #9948
Would you mind giving me step-by-step instructions on how/where to run this on my Synology install please?

[2020-09-18 12:20] startryst commented on #9923
so what suppose to do next?

[2020-09-18 12:22] startryst commented on #9923
In addition, this occurred to multiple host of mine, not an individual case

[2020-09-18 12:25] ilyam8 commented on #9923
Is `fping` the only external plugin that doesnt work?

[2020-09-18 12:27] startryst commented on #9923
[code]

[2020-09-18 12:31] startryst commented on #9923
can you give me your /usr/local/bin/fping's md5sum value?

[2020-09-18 12:36] hamzash9500 opened #9958 "bandwidth per process"
# Question summary
is there any method i can use it to monitor bandwidth per process without using ebpf ,because my kernal version is older than 4.11.

Thanks in advance

##### OS / Environment
Ubuntu 18.04.5 LTS

[2020-09-18 12:38] ilyam8 commented on #9923
i didn't install `fping` via `fping.plugin` script.

[code]

[2020-09-18 12:40] ilyam8 commented on #9958
Hi, no, `epbf.plugin` is the only option.

[2020-09-18 12:43] startryst commented on #9923
so what should I suppose to do, totally uninstall netdata and do it over again?

[2020-09-18 12:50] ilyam8 commented on #9923
I dont know why `fping` doesnt work, there is no _reason_ in the logs.

I mean try to enable `python.d.plugin` or/and `apps` so we ensure that it is `fping` only having problems.

[2020-09-18 12:53] startryst commented on #9923
I've another server, which not only fping enabled, that one works fine.

[2020-09-18 12:55] startryst commented on #9923
I just copied the binary from that one to the problematic one, and did a try, still not working.

Having said that, the md5 hash of those two binary are different, even though the version are all 4.2

[code]

[2020-09-18 12:58] startryst commented on #9923
# md5sum fping
1b5ec44e2349de2727c8f3fd547ca8d0  fping
# md5sum fping.old
b13658485cc8da14c30b3cf05cd6f042  fping.old
# ./fping -v
./fping: Version 4.2
./fping: comments to david@schweikert.ch
# ./fping.old -v
./fping.old: Version 4.2
./fping.old: comments to david@schweikert.ch

[2020-09-18 13:01] builat commented on #8997
@webash should be resolved. Please confirm.

[2020-09-18 13:02] ilyam8 commented on #9923
well, i would completely remove and re-install netdata from the source (latest master branch).

[2020-09-18 13:05] startryst commented on #9923
I compared the netdata error logs of two hosts which both enabled fping, but one is good the other is not, from the log, the only difference is, the problematic one comes with below, but the good one is not, how to interpret this?

[code]

[2020-09-18 13:24] startryst commented on #9923
after reinstalled, still the same:
[code]

[2020-09-18 13:27] ilyam8 commented on #9923
Do other external plugins (app, python) work?

Since we have no understanding of the problem and guessing... I would try to build latest fping from [the source](https://github.com/schweikert/fping) and try to use it

[2020-09-18 13:32] startryst commented on #9923
[code]

[2020-09-18 13:35] ilyam8 commented on #9923
enabl `example` module in the `python.d.conf`, restart netdata service and check the dashboard - look for `Example Charts` section

[2020-09-18 13:40] startryst commented on #9923
![image](https://user-images.githubusercontent.com/22472752/93604120-8a416000-f9f7-11ea-945a-1c7b2da3f0fc.jpeg)

[2020-09-18 13:41] startryst commented on #9923
Installed the latest fping, but still out of luck:

[code]

[2020-09-18 13:46] ilyam8 commented on #9923
[code]

https://fping.org/fping.1.html

could be some permissions problems 🤷‍♂️  @Ferroin @stelfrag ?

[2020-09-18 13:54] startryst commented on #9923
[code]

[2020-09-18 13:55] startryst commented on #9923
[code]

[2020-09-18 14:03] startryst commented on #9923
after change the netdata user's shell to `/bin/bash`:
[code]

as as before, works fine by runuser:
[code]

[2020-09-18 14:43] builat commented on #9011
@Nirjonadda please, confirm that issue resolved for you

[2020-09-18 14:56] LordBonkerz commented on #9594
I have tried with openHPC on the their mailing list, they seem to have not seen this themselfs, yet I'm experiencing the very same thing. Everything bails out the same way when compiling anything. Could be related to the header file(s) statx.h?

Frustrating indeed.

[2020-09-18 15:17] LordBonkerz commented on #9594
/opt/ohpc/pub/compiler/gcc/9.2.0/lib/gcc/x86_64-pc-linux-gnu/9.2.0/include-fixed/bits/statx.h    REMOVE this file and all works WELL!

[2020-09-18 18:20] underhood commented on #9922
Closest I could get is running aarch64 in qemu with debian.
`qemu-system-aarch64 -M virt -m 4G -cpu cortex-a53`
it connected to cloud without issue. Will try with raspbian next week. The qemu is crazy slow :D

[2020-09-18 19:10] subhasish20202 commented on #9950
Nginx acting as proxy for Netdata?

Subhasish Mukherjee

    On Friday, 18 September 2020, 04:49:36 pm GMT+5:30, subhasish mukherjee <subhasishmukherjee2006@yahoo.com> wrote:

 yes
Subhasish Mukherjee

    On Friday, 18 September 2020, 04:48:31 pm GMT+5:30, thiagoftsm <notifications@github.com> wrote:

Hi @subhasish20202 ,

Did you run this script on a Netdata parent or a Nginx acting as proxy for

[2020-09-18 19:17] ilyam8 commented on #9950
Not related to netdata according OP

[2020-09-18 19:17] #9950 closed

[2020-09-18 19:23] thiagoftsm commented on #9957
@johnpiers ,

I am running more than 2 hours Netdata with `ebpf.plugin` enabled on a Slackware Linux current running kernel `5.8.9` and I cannot recreate the problem.

How did you install your Netdata on your machine? Is the update running automatically?

Best regards

[2020-09-18 20:09] johnpiers commented on #9957
@thiagoftsm I've always used, bash <(curl -Ss https://my-netdata.io/kickstart.sh) and the auto update has never worked. I've just waited for the nightly update and then just run the script. I meticulously uninstalled Netdata this evening and then did a clean install using the same kickstarter script. I've looked at everything that I can think of but my level has reached it's limit and I don't real

[2020-09-18 20:26] thiagoftsm commented on #9957
I will request more one thing for you, please, can you zip a core dump for ebpf.plugin and attach to the next answer?

@Ferroin you also work with Arch Linux, can you give us a tip about this error? I am not sure if this can have relationship with systemd.

Best regards!

[2020-09-18 22:24] olg33 opened #9959 "Questions related to a customized bandwidth graph."
I have created a customized graph to display bandwidth arriving into two network interfaces: ens192 and ens224 in my Ubuntu 18.04 VM.

Traffic is displayed using a dygraph chart as shown below:

                   div data-netdata="net.ens192"
                    data-dimensions="received"
                    data-title="Additional Comments"
                    data-chart-library="dygraph"

[2020-09-19 04:33] johnpiers commented on #9957
Sorry I'm only getting back to you guys now, I've been on a mission trying to see if I could solve this myself and then the internet went down.

The thing "causing" the dump is (tracker) tracker-miner-fs, that's found in usr/lib/tracker-miner-fs. As soon as I pkill tracker-miner-fs, whatever is causing the memory dump "obviously" stops.

Then I went about disabling everything using the method belo

[2020-09-19 05:14] startryst commented on #9923
I spun a new CentOS 7 machine, **clean and fresh**, installed netdata with **minimum steps and configurations**, and turns out the **same error**, check below for the steps which reflect what exact I did, and I believe you can reproduce the same:

**1.  CentOS version**
[code]

**2. Install epel**
[code]

**3. Install netdata**
[code]

**4. Add 8.8.8.8 as the host** `./edit-config fping.conf`

**5

[2020-09-19 05:57] ilyam8 commented on #9957
how is that connected with netdata/ebpf?

[2020-09-19 06:28] johnpiers commented on #9957
Apologies, as I said initially, I had no idea why I was getting these memory dumps:
Sun 2020-09-06 04:17:53 SAST 16518 134 134 6 missing /usr/libexec/netdata/plugins.d/ebpf.plugin
Mon 2020-09-07 08:22:30 SAST 380 134 134 11 missing /usr/bin/netdata
Tue 2020-09-08 10:55:19 SAST 229398 134 134 6 missing /usr/libexec/netdata/plugins.d/ebpf.plugin
Wed 2020-09-09 03:59:26 SAST 229457 134 134 6 missing

[2020-09-19 17:59] subhasish20202 commented on #9950
have u checked properly this information
Subhasish Mukherjee

    On Friday, 18 September 2020, 04:48:31 pm GMT+5:30, thiagoftsm <notifications@github.com> wrote:

Hi @subhasish20202 ,

Did you run this script on a Netdata parent or a Nginx acting as proxy for Netdata?

Best regards!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscri

[2020-09-19 23:07] #9699 closed

[2020-09-19 23:07] #9693 closed

[2020-09-19 23:07] #8922 closed

[2020-09-20 17:20] ionutnechita opened #9961 "netdatacli not located in /usr/bin/"
To stop netdata run:

  /usr/bin/netdatacli shutdown-agent

/usr/bin/netdatacli shutdown-agent
-bash: /usr/bin/netdatacli: No such file or directory

OS:
Debian 11 Sid

[2020-09-20 17:49] thiagoftsm commented on #9961
Hi @ionutnechita ,

I ran now a `whereis netdatacli` and I had this following output:

[code]

Please, can you also run the command `whereis` on your System?

Best regards!

[2020-09-20 18:23] ionutnechita commented on #9961
whereis netdatacli
netdatacli: /usr/sbin/netdatacli

this error is displayed during installation.
it's something minor, just display. I think it can be fixed by kidnapping a fix.

./netdata-installer.sh
...
To stop netdata run:

/usr/bin/netdatacli shutdown-agent

[2020-09-20 18:45] thiagoftsm commented on #9961
Now it is clear what is happening, the `netdata-installer.sh` has a typo error as we can see in the next line:

https://github.com/netdata/netdata/blob/f6a1be4daac668a13c829963351875c236851d79/netdata-installer.sh#L1622

I will create a PR to fix now .

Thank you very much for your error report.

[2020-09-20 19:43] ilyam8 commented on #9959
It is possible to remove the legend completely - `data-legend="no"`

[2020-09-20 19:56] #9747 closed

[2020-09-20 22:48] thiagoftsm commented on #9961
@vlvkobal  to complement my previous question, take a look in the Makefie.am:

https://github.com/netdata/netdata/blob/f6a1be4daac668a13c829963351875c236851d79/Makefile.am#L728

how it is expected inside `netdata-claim.sh`:

https://github.com/netdata/netdata/blob/f6a1be4daac668a13c829963351875c236851d79/claim/netdata-claim.sh.in#L92

And finally our uninstaller script:

https://github.com/netdata

[2020-09-21 05:14] aureliomarcoag commented on #9953
Thank you for the clarifications, much appreciated! @Ferroin @thiagoftsm

[2020-09-21 05:14] #9953 closed

[2020-09-21 06:26] #9774 closed

[2020-09-21 07:53] #8039 closed

[2020-09-21 08:17] manos-saratsis commented on #9955
@MahdiGhiasi thx for your feedback and for using Netdata Cloud. We are working on a date-time picker that will let users configure the timeframe in every view including Dashboards.

[2020-09-21 09:45] manos-saratsis commented on #9011
Closing this

[2020-09-21 09:45] #9011 closed

[2020-09-21 10:42] andrewm4894 commented on #8597
+1 for Segment as a potential option too.

Segment is becoming more and more popular in this space for sure and does have an export to data warehouse functionality which is very important for being able to do flexible custom product analytics.

Less sure of how segment looks from a cost point of view.

[2020-09-21 11:48] #9961 closed

[2020-09-21 13:19] #9870 closed

[2020-09-21 13:36] marcelmfs commented on #9675
After my latest restart 7 days ago with the change in memory mode, it seems there's still some memory leaking somewhere:

![image](https://user-images.githubusercontent.com/5718899/93773246-2b126400-fc20-11ea-8948-32ae816dcf93.png)

[2020-09-21 15:15] olg33 commented on #9959
Thanks!

[2020-09-21 15:47] OdysLam commented on #9961
@ionutnechita Thanks for this fix and welcome to our community :)

[2020-09-21 15:48] OdysLam commented on #9953
Hey @aureliomarcoag,

Welcome to our community. If you want to discuss further about Netdata Cloud, you should definitely join our forums at https://community.netdata.cloud

[2020-09-21 15:49] OdysLam commented on #9594
Hey @LordBonkerz,

Welcome to our community! We are glad that we got it fixed in the end. If you have any further question, don't hesitate to create a thread in our forums at https://community.netdata.cloud.

Take care!

[2020-09-21 16:10] nyetwurk commented on #8384
This is still not fixed why was it closed?

[2020-09-22 05:15] jeremyjpj0916 commented on #7327
@amoss Finally getting a chance to test this, going to re-iterate what my DOCKER file kinda looks like atm for prepping these images between the slave stream and master node:

Note: ```company``` is internal for us, masking our TLD.
[code]

Will be deploying to dev tomorrow and hopefully stage shortly after, I remember I tried alpine for awhile last time and it seemed to have issues so I went back

[2020-09-22 06:33] prologic commented on #8961
Correct me if I'm wrong, but do we actually use this in production or this a dev-only thing? Who/What uses or connects to app.netdata.cloud via a SOCKS5 proxy? @hmoragrega ?

[2020-09-22 06:36] prologic commented on #9954
cc @joelhans

As an aside, this is great but this is entirely missing some UI and API calls. We (today) use AlertManager (https://alertmanager.corp.app.netdata.cloud/#/silences) to actively silence problematic alarms for a time period until we resolve the problematic alarm cause.

We need to build out something useful here. cc @manos-saratsis

[2020-09-22 06:41] underhood commented on #8961
@prologic ACLK itself has SOCKS5 proxy support.

To solve this I can modify agent and buildsystem to detect if libwebsockets has SOCKS5 support and create some `#define` based on that. Then modify the code to make SOCKS5 support optional (available based on what libwebsocket has).

[2020-09-22 06:55] underhood commented on #8961
@Ferroin and @prologic
OK checked that LWS conveniently defines `#ifdef LWS_WITH_SOCKS5` if it was built with SOCKS support. Therefore as the first step, I will make SOCKS support optional in the agent and print an error message to log in case somebody has LWS without SOCKS and tries to use it.
second step would be modifying the installer and configure scripts to allow usage of the system library

[2020-09-22 07:15] stelfrag commented on #8961
We need to make sure that all the functions we use are available in the system installed version. The `lws_ring_xxxx` functionality comes in mind.

[2020-09-22 09:03] thedemonium opened #9970 "PostgreSQL python.d plugin error"
Hello, I'm unable to get postgresql monitoring enabled.

[code]

Seems I have everything set correctly, but still receiving this error:

[code]

Any hint in which way I should proceed? Thanks

[2020-09-22 09:16] #9970 closed

[2020-09-22 09:36] vlvkobal commented on #9923
I've repeated the installation step by step. I can't reproduce the problem 🤷‍♂️.

[code]

[code]

[2020-09-22 09:39] vlvkobal commented on #7947
I'd wait while the FreeBSD team makes a new package with Netdada 1.25.

[2020-09-22 09:44] startryst commented on #9923
Can you give a try on CentOS 7.3?

Sent from iPhone

[2020-09-22 10:50] prologic commented on #8961
This all sounds fine guys. I just have one question. Why did we do this in the first place if ND agents can connect to and talk to app.netdata.cloud without SOCKS5? Or am I missing something here like enterprise networks/firewalls/etc? I'm sure we had a good reason (_I just don't recall what it was now :/_)

[2020-09-22 11:12] Ferroin commented on #8961
@prologic Better support for corporate network setups I believe. SOCKS5 is uncommon, but it's far from unusual in corporate settings.

@underhood I agree that that's a sensible first step. Long-term though we _really_ should look into whether we can use libsocks from the Dante project so that we're not dependent on LWS being built a specific way _and_ we can support SOCKS5 for other connections (s

[2020-09-22 11:22] vlvkobal commented on #9585
Have you tried to remove the database (`/var/cache/netdata`)?

[2020-09-22 11:48] underhood commented on #8961
@Ferroin well making SOCKS optional is something we can do now. About allowing support for Dante libsocks or any other library in fact is completely another topic and would have to be agreed on and prioritized by someone higher.

[2020-09-22 11:53] stdedos commented on #9585
Ouch! Sorry 😕
[code]

[2020-09-22 11:59] Ferroin commented on #8961
Indeed, my only point is that if we want _proper_ SOCKS5 support, we shouldn't be relying on a feature that isn't reliably available in one of our existing dependencies.

Put differently, had I known that SOCKS5 support for the ACLK was a goal before the need to bundle LWS got kind of dumped in my lap, I would have actively argued against using the native support in LWS in favor of using libsocks,

[2020-09-22 15:03] ilyam8 commented on #9794
@nodiscc initial version is https://github.com/netdata/go.d.plugin/pull/445

See `limitations` in the description, my goal was to provide the functionality asap and improve later.

Any comments/suggestions are welcome.

[2020-09-22 15:29] OdysLam commented on #9970
@thedemonium I see that you found a solution and closed the issue. What was the problem?

Also, welcome to our little community :)

[2020-09-22 15:37] Danpiel commented on #9363
Facing same issue with unexpected shutdown with EOF found in spawn pipe in log of parent **netdata** pod.
Installed through Helm chart in Kubernetes cluster with 24+ nodes.

[2020-09-22 15:44] ilyam8 commented on #9970
The question not to me, but sharing my observations:

I see

[code]

https://github.com/netdata/netdata/blob/83c0121c53c25c58e4308e9723f5395af29ef9c0/collectors/python.d.plugin/postgres/postgres.chart.py#L934-L935

Could be an old `psycopg2` lib 🤔 🤷‍♂️

[2020-09-22 17:14] cube-dan commented on #9863
@Redominus, @prologic,

In that case guys sorry for the thread jacking. I ran into the error message "the source directory does not include netdata-installer.sh" while trying to do a manual update* and this page was somewhere in the "google knows everything" list.

Would you guys like me to delete my message from this thread?

PS:
**using the command `bash <(curl -Ss https://my-netdata.io/kickstar

[2020-09-22 18:17] Ferroin commented on #9863
@cube-dan Even if it doesn't completely fix the issue, it's still a good observation and would let someone having this problem at least install Netdata, even if updates don't work.

In theory we could actually make that behavior automatic (even for the updater). The issue is that it doesn't really solve the problem (namely, thing shouldn't be getting extracted the way they are in these cases).

[2020-09-22 18:35] webash commented on #8997
Yeap! Working! Thanks!

[2020-09-22 18:35] #8997 closed

[2020-09-22 20:10] OdysLam commented on #9363
@Danpiel, we are sorry that you are having the same issue. One of our agent team members will answer promptly (e.g @mfundul ), so bear with us as we try to get to the bottom of this!

Btw, welcome to our community. If you have any questions, don't hesitate to create an issue or join our community at https://community.netdata.cloud.

[2020-09-22 20:15] mfundul commented on #9363
@Danpiel if you're not seeing something similar to `Request to remove RRDVAR '' from index failed. Not Found` in `var/log/netdata/error.log` I advise you to create a new issue with detailed information. Can you take a look?

[2020-09-23 00:57] olg33 opened #9975 "Customizing colors on dygraph charts"
I'm creating a customized graph to display incoming and outgoing traffic on network interface.
I see that the default color for these graphs is green for received traffic and red for sent traffic::

![Capture](https://user-images.githubusercontent.com/61751672/93951787-43b07600-fd15-11ea-8c8d-dbc07daaaa88.JPG)

I'd like to know whether there is a way to customize these colors. I see that gauge cha

[2020-09-23 04:50] jeremyjpj0916 commented on #7327
So far put it on dev, no issues detected just yet. but dev is ghost town, wait till I get it on stage where there is lots of statsd data flowing and the streaming probably goes much harder. btw like the newer looking theme on 1.24.0 compared to what it used to look like, more modern web look 👍 .

[2020-09-23 07:23] hope1234567hope opened #9976 "use netdata docker Monitor Nginx"
use netdata docker  Monitor Nginx ，but  not find nginx data
The steps are as follows：
1 docker run -d --name=netdata \
  -p 19999:19999 \
  -v netdataconfig:/etc/netdata \
  -v netdatalib:/var/lib/netdata \
  -v netdatacache:/var/cache/netdata \
  -v /etc/passwd:/host/etc/passwd:ro \
  -v /etc/group:/host/etc/group:ro \
  -v /proc:/host/proc:ro \
  -v /sys:/host/sys:ro \
  -v /etc/os-release:/host

[2020-09-23 08:26] ilyam8 commented on #9976
Hi. Is nginx accesible from the netdata container?

[code]

[2020-09-23 08:31] alexmyczko commented on #9816
It would also be great if that plugin you want to write would consider log entries of https://github.com/hakavlad/nohang.

[2020-09-23 08:34] ilyam8 commented on #9976
I think it is not, to get your configuration working you need [`host` networking mode](https://docs.docker.com/network/host/)

[2020-09-23 08:47] kozicpetar opened #9977 "Problem with python custom plugin"
Hi,
I trying to write custom python plugin which get me information about available linux packages for updates.
In general that is few lines of code.
I checked examples for python plugin. I wrote plugin and enabled in netdata. In debug everything seems ok, but I can't see charts and values.

Can someone check my code and tell me what I'm doing wrong. I'm newbie with Python :)

I changed example pl

[2020-09-23 09:20] ilyam8 commented on #9977
Hi 👋

Are you debugging as `netdata` user? Could be some permissions problems. Check netdata `error.log`.

[2020-09-23 09:36] kozicpetar commented on #9977
Hi @ilyam8
looks like problem is there but more problems somewhere else :)

When I run debug as netdata user I saw this:

[code]

I checked that file, owner and group was root. I removed that file and restarted `netdata`.
After that lock file has good permission netdata:netdata

but now I get this in debug:

[code]

[2020-09-23 10:17] ilyam8 commented on #9977
it seems the `example.package` job is up and running and you see it on the netdata dashboard.

There is `nolock` cli option, it allows to skip registering

[2020-09-23 10:33] ilyam8 commented on #9977
Yeah, `python.d.plugin` creates locks and if you run it as `root` permissions is `root:root`.

But even `netdata.service` restart should delete the file, netdata daemon deletes all files in the `locks` dir.

[code]

[2020-09-23 10:43] kozicpetar commented on #9977
I don't have chart at dashboard. I don't know. Really strange.

[2020-09-23 10:55] ilyam8 commented on #9977
i suggest to rename your script, it seems you rewrote `example.chart.py`. And add some logging

[code]

[2020-09-23 11:11] #9794 closed

[2020-09-23 11:45] manos-saratsis commented on #9954
@prologic we will centrally manage alarm configuration from Cloud at some point. Silencing alarms can be handled from there. In the meanwhile users can use the Netdata agent alarm configuration and shortly they will be able to silence email notifications for the Spaces&War Rooms they are in.

[2020-09-23 11:55] mbarper opened #9979 "apps_groups plugin takes a while to show the rigth number of processes"
##### Question summary
When running a systemd service which calls a bash scritp to run a JAVA process I should get a number of processes equal to 2, the java process and its parent, the bash script process. apps.processes metric shows only 1 process and after some time (even hours) it updates to 2 processes.

What could be the problem or the behabior of the plugin that makes the number of processe

[2020-09-23 11:56] kozicpetar commented on #9977
I renamed plugin and add error logging.
Thank you for this logging.
I found what is error:
[code]

I just try to set `apt` in sudoers, on this way:
```netdata ALL=(root) NOPASSWD:/usr/bin/apt```

but no luck. I don't know may I solve this, because command `apt update` with sudoers entry still need to run as
`sudo apt update`

[2020-09-23 12:18] nklamann opened #9980 "Postgresql error in log in Version 11"
##### Bug report summary
In a postgres version 11 server the following lines occur in the error log of the database

[code]

##### OS / Environment

[code]

##### Netdata version

 netdata v1.25.0

##### Component Name

collectors/python.d.plugin/postgres

##### Steps To Reproduce

1.Start an postgres cluster in version 11:

postgres (PostgreSQL) 11.7 (Debian 11.7-0+deb10u1)

2. ... netdata connec

[2020-09-23 12:24] ilyam8 commented on #9980
Hi, thx for reporting.

@anayrat could you help?

[2020-09-23 12:42] ilyam8 commented on #9975
I am pretty sure it is possible to overwrite the color and i recall i used `data-colors` parameter and it worked.

@jacekkolasa correct me if i am wrong

[2020-09-23 13:06] anayrat commented on #9980
I wonder how could it be possible. We choose the query regarding postgres' version :
https://github.com/netdata/netdata/blob/f5c2b5595fd2e76431b3ea58eece807dd9b89244/collectors/python.d.plugin/postgres/postgres.chart.py#L655-L658

If we detect postgres above 9.6 we use the new default query:
https://github.com/netdata/netdata/blob/f5c2b5595fd2e76431b3ea58eece807dd9b89244/collectors/python.d.plugin

[2020-09-23 13:16] nklamann commented on #9980
On the same box existed a 9.6 Cluster some days ago. At which times takes netdata the inventory of the existing services ? How does it know that postgres exists at all ?

Is it possible / useful to force netdata to scan again ? If yes, how can it be done ?

[2020-09-23 13:21] ilyam8 commented on #9980
Restart `netdata.service` will do.

[2020-09-23 13:46] kozicpetar commented on #9977
@ilyam8
If you have some idea how can I run command with sudo privileges please let me know.

I tried with different code:

[code]

and put in sudoers:
```netdata ALL=(root) NOPASSWD:/usr/bin/apt```

but again I have problem and error like:
[code]

Thanks.

[2020-09-23 14:38] ilyam8 commented on #9977
@kozicpetar i dont really know how to fix it, lets have this issue open, if you are lucky someone from our community will help you 🤞

[2020-09-23 15:05] imily999 opened #9981 "IPMI values missing or reports incorrect values"
##### Bug report summary

Sensors portion is missing fan data, even though ipmitools returns fan speed as percentage. The voltages measured are also way off, unless I somehow created a flux capacitor.

![Screenshot_20200923-104755](https://user-images.githubusercontent.com/52512586/94030474-da1f7e80-fd8b-11ea-9b13-765d15beb8c5.png)

##### OS / Environment
Archlinux as a Docker container. Docker 2.

[2020-09-23 15:56] andrewm4894 commented on #8953
@dim08 not sure i'm the right person to assign this one too.

[2020-09-23 16:04] olg33 commented on #9975
In the above graph I have the following settings:

                   data-netdata="net.ens192"
                    data-dimensions="received"
                    data-chart-library="dygraph"
                    data-width="90%"
                    data-height="100%"
                    data-after="-300"
                    data-colors="#3366FF"

                   data-netdata="net.ens192"

[2020-09-23 17:11] jeremyjpj0916 commented on #7327
Put it in stage now, copied the startup of one of the master nodes recieving the streams. Output looks like this just as an FYI:

[code]

Let me know if anything seems to amiss there, nodes are up and running, time to see if they do that OOM crashing cycle I usually see them do a few 100 times a week.

[2020-09-23 17:17] jeremyjpj0916 commented on #7327
So far no crashes but will need time to tell, looking at UI from master browsing the slaves from using the prebuild run file I see little windows of gaps in the charts I think that building from src for us doesn't cause again:

![image](https://user-images.githubusercontent.com/31913027/94046804-2a540c00-fd9f-11ea-842b-affaa3dde9fd.png)

Will keep watching it though.

[2020-09-23 17:32] jeremyjpj0916 commented on #7327
Watching the slave nodes stream I see some connection reset logs, these generally never occured when I used to build from src on older versions in the logs I saw:
[code]

Maybe that explains some of the little gaps in the stream data and its visual presentation. Why I get connection resets between the two nodes streaming I am not sure but I think it likely has something to do with the differences

[2020-09-23 18:20] mfundul commented on #7327
Can you install the latest stable (v1.25)? It is mostly a bugfix release.

[2020-09-23 18:48] OdysLam commented on #9981
Hey @imily999,

You are not nearly close to [1.21 GIGAWATTS](https://www.youtube.com/watch?v=I5cYgRnfFDA&ab_channel=SabrinaPaula), which are required by the flux capacitor, but you are getting close!

Jokes aside welcome to our community! One of our engineers will respond shortly. Just to make sure, can you see the correct voltages using another tool which gathers data from the same data source?

[2020-09-23 19:23] jeremyjpj0916 commented on #7327
@mfundul Yes I can, didn't realize it was out there. if it has any stream adjustments or bug fixes there then maybe that will help. trying now will report back!

[2020-09-23 22:02] jeremyjpj0916 commented on #7327
Early reports the actual charts and visuals dont have the glitchy gaps and such in them. The logs from the streaming node however do have some error logs being printed occasionally.

Example slave stream node log:
[code]

Master node logs:
[code]

[2020-09-23 23:38] thiagoftsm commented on #9979
Hi @mbarper ,

Reading your description, I think the `apps_groups.conf` has a different name for the process, or it is trying to match an exact pattern that it cannot find inside `/proc`, how did you define the group you want to monitor inside `apps_groups.conf`?

Best regards!

[2020-09-24 02:14] hope1234567hope commented on #9976
thanks ilyam8 .
I found solutions;   Modify to host IP,not  localhost
vi python.d/nginx.conf
update_every : 10
priority : 90100
local:
url : 'http://192.168.137.153/stub_status'

but
[root@forp ~]# python -m SimpleHTTPServer 8887

then  other window  run  :
[root@forp ~]# ip addr show dev ens33 | grep 192.
    inet 192.168.137.153/24 brd 192.168.137.255 scope global noprefixroute dynamic ens33

[r

[2020-09-24 02:26] hope1234567hope commented on #9976
sorry，a moment ago  ，docker exec -it netdata curl http://192.168.137.153:8887  has   a result

[2020-09-24 04:59] nklamann commented on #9980
@anayrat

I managed to start a debug run  and it gives the correct version but "superuser: False", maybe that is the culprit ?

`
2020-09-24 04:37:32: python.d DEBUG: plugin[main] : postgres[socket] was previously active, applying recovering settings
2020-09-24 04:37:32: python.d DEBUG: postgres[socket] : server version: 110007
2020-09-24 04:37:32: python.d DEBUG: postgres[socket] : superuser: Fal

[2020-09-24 04:59] #9980 closed

[2020-09-24 05:28] mfundul commented on #9675
I wonder, did the memory usage stabilize at some point or is it still growing?

[2020-09-24 06:41] ilyam8 commented on #9976
👍

[2020-09-24 06:41] #9976 closed

[2020-09-24 09:14] JsliStorSwift opened #9983 "How to install python2 into a customized livecd rhel8 ISO within kickstart?"
##### Question summary
How to install python2 into a customized livecd rhel8 ISO within kickstart?
I want to use kickstart to generate a customized RHEL8 LiveCD ISO. And I want to install Python 2 into this LiveCD ISO. But I don't know how to write the correct lines in kickstart.

the following is the content of my kickstart:

repo --name=base --baseurl=file:///var/www/html/rhel/8.1/os/x86_64/Base

[2020-09-24 09:31] marcelmfs commented on #9675
No, it didn't stabilise. Here is the last 7 days (restarted early Monday):

![image](https://user-images.githubusercontent.com/5718899/94127349-1967d100-fe59-11ea-9ba8-8a564c5383e1.png)

But for me, instead of restarting netdata every 6 hours, I only restart it every 7 days, that's a huge improvement in my graphs.

[2020-09-24 09:46] mfundul commented on #9675
Can you tell me what is your `history = ` setting and how many metrics you are collecting?

[2020-09-24 10:10] marcelmfs commented on #9675
In the primary netdata config?

[2020-09-24 10:13] marcelmfs commented on #9675
I've it default, the line's still commented out:

``` # history = 3396```

[2020-09-24 10:18] mfundul commented on #9675
You should also check the `stream.conf` file, although I suspect it is the default as well. This means `3396 x 4 = 13KB` per metric. If you're collecting a million metrics, then the `memory mode = save` databatase will consume 13GB of RAM.

[2020-09-24 13:49] Ferroin commented on #9528
The build issue on Ubuntu 20.04  mentioned in the original post seems to be resolved as of at least release 1.25 (tested that, the current nightly, and the current master branch, and all seem to build without issue).

I'm working on trying to reproduce the issue with accessing the dashboard once built and installed.

[2020-09-24 13:55] jamesnr opened #9987 "Centos 7 Apache charts nolonger displaying correctly"
The Apache charts are not providing the totals by say connection type on the right-hand side after upgrade to version 1.25. This is only for the Apache stats. Any ideas how to get the stats working, also the lines clearly drawn again?

![image](https://user-images.githubusercontent.com/71431693/94153884-390cf280-fe75-11ea-8305-01eeedbc9527.png)

[code]

#
##### Netdata version
netdata d5e1197

Tha

[2020-09-24 14:01] Ferroin commented on #9528
OK, just checked, and I cannot reproduce the failure to access the dashboard on an up to date Ubuntu 20.04 system with v1.25, the current nightly, or the current master branch.

@Abjorge95 Can you please confirm if you are still seeing these issues or not? If not I'd say this issue can probably be closed.

[2020-09-24 14:03] imily999 commented on #9981
Ok! So I think the issue is more with the freeipmi plugin not being able to run, so it's only pulling from lm-sensors, which is where those values are reported. Here's the netdata log from docker when trying to start-up the freeipmi plugin

2020-09-24 14:01:34: netdata INFO  : PLUGINSD[freeipmi] : thread created with task id 144

2020-09-24 14:01:34: netdata INFO  : PLUGINSD[freeipmi] : set name o

[2020-09-24 14:05] ilyam8 commented on #9987
Hi. Could you

- stop `netdata.service`
- `rm -rf` dbengine data (this step deletes all your historical data)
- start `netdata.service`

[code]

[2020-09-24 14:06] ilyam8 commented on #9987
And share `grep -i apache error.log` output after the restart

[2020-09-24 14:17] jamesnr commented on #9987
Thanks for the fast response!! In regards to the directory /opt/netdata/var/cache/netdata/dbengine/, I can get to /opt/netdata/var/cache/netdata/ but this directory is empty. Any ideas? Apologies.

[2020-09-24 14:24] ilyam8 commented on #9987
It depends on you install path. Try `var/cache/netdata/dbengine/.

[2020-09-24 14:58] jamesnr commented on #9987
Thanks, yes I did look, missed it.

Hasn't made any difference. I missed getting you the error log. Is it a must as I'll redo and collect the data, the log file is particularly large at the moment.

[2020-09-24 15:08] Ferroin commented on #8205
For reference regarding this, there is a `snappy-static` package in Alpine 3.12, which we plan to switch to using when we update our static builds to use Alpine 3.12.

[2020-09-24 16:13] nodiscc commented on #9794
Thanks a lot @ilyam8 @Ferroin  for working on this. The inital version of the module looks great and covers my initial use case. I will give it a try (once the next netdata release including your module is out, afraid I will not get the chance earlier) and report back. Thanks again

[2020-09-24 18:36] ilyam8 commented on #9987
Lets see, do as `root`

[code]

[2020-09-24 20:09] jamesnr commented on #9987
OK, done, thank you for your patience. I have

2020-09-24 20:01:30: go.d INFO: main[main] looking for 'apache.conf' in [/etc/netdata/go.d /usr/lib/netdata/conf.d/go.d]
2020-09-24 20:01:30: go.d INFO: main[main] found '/usr/lib/netdata/conf.d/go.d/apache.conf
2020-09-24 21:01:30: charts.d: INFO: apache: is disabled. Add a line with apache=force in '/etc/netdata/charts.d.conf' to enable it (or remov

[2020-09-24 20:39] ilyam8 commented on #9987
i see, do

[code]

---

to fix the bug go to `/etc/netdata/` and

as `netdata` or `root` user

` ./edit-config python.d.conf

and change

`# apache: yes` to `apache: no` in there

---

i will check why we have both go and py `apache_local` jobs running (it seems because of `override` name in the python apache config)

[2020-09-24 20:51] ilyam8 commented on #9987
[code]

hold on, it is old version of `python.d.plugin`, current log messages

https://github.com/netdata/netdata/blob/f47b430780b812b37b5bba241982c4741dc934b7/collectors/python.d.plugin/python.d.plugin.in#L643-L646

[2020-09-24 20:55] ilyam8 commented on #9987
So the issue is having both python and go version of apache collector enabled.

What is your netdata version? (you said v1.25 but it seems it is not). How did you install it?

[2020-09-24 21:05] jamesnr commented on #9987
It was installed with a nightly update. Not manually. I can do a full manual update.

I haven't edited the "python.d.conf". Still need to?

[2020-09-24 21:14] ilyam8 commented on #9987
do

[2020-09-24 21:15] jamesnr commented on #9987
Have done so. Thanks

[2020-09-24 21:17] ilyam8 commented on #9987
fixed?

[2020-09-24 21:20] jamesnr commented on #9987
No. Have restarted netdata too. Still the same.

[2020-09-24 21:23] ilyam8 commented on #9987
I dont understand how come you have old `python.d.plugin` 😄

lets do

[code]

[2020-09-24 21:29] jamesnr commented on #9987
Done - still the same. Have restarted netdata too and refreshed the page. Still the same.

[2020-09-24 21:33] ilyam8 commented on #9987
Share the commands output, they do nothing, i need the output

[2020-09-25 01:02] startryst commented on #9923
Anyone can look into it?

[2020-09-25 04:59] jeremyjpj0916 commented on #7327
@mfundul

Anyone have some knowledge on the error 22 invalid argument stuff? Is the stream.conf files changed too from 1.10.x to these newer iterations? I remember it was just a secret key that set the auth before and I didn't touch my stream.conf when I upgraded.

[2020-09-25 05:09] jeremyjpj0916 commented on #7327
Also curious if this seems normal for a master node as far as data mem growth goes:

![image](https://user-images.githubusercontent.com/31913027/94228536-31783880-fecb-11ea-825f-06b8a1ab456d.png)

Master netdata node conf:
[code]

Maybe 15 mins is too significant. Maybe a 5 min window is all I need. Prometheus and graphana scrape my statsD metrics like every 10 seconds I think so as long as I reta

[2020-09-25 05:13] jeremyjpj0916 commented on #7327
And looks like my prod netdata pod is pretty stable in this kubernetes(openshift) project:

![image](https://user-images.githubusercontent.com/31913027/94229027-5b7e2a80-fecc-11ea-8c48-9f7a7dcb20e2.png)

[2020-09-25 05:21] jeremyjpj0916 commented on #7327
Ehh am actually seeing the chunky chart data now on 1.25.0 using the prebuilt run file thing:

![image](https://user-images.githubusercontent.com/31913027/94229408-6e452f00-fecd-11ea-9407-d7bfd62755fc.png)

Had high hopes hah.

[2020-09-25 06:26] mfundul commented on #7327
I can see from the logs that the child nodes have `memory mode = ram` and `history = 3996`. Those settings are in `etc/netdata/stream.conf` in the parent node and apply for each child node separately. First of all, this means that there is no persistent history (due to `ram`). Secondly, this means there are `3996 x 4 = 16KB` of RAM per metric, which can be a lot depending on the number of metrics

[2020-09-25 07:32] jamesnr commented on #9987
As requested:
ps faxu | grep "[n]etdata"
netdata  22068  1.8  0.1 344784 149856 ?       Ssl  Sep24  10:58 /usr/sbin/netdata -P /var/run/netdata/netdata.pid -D -W set global process scheduling policy keep -W set global OOM score keep
netdata  22084  1.0  0.0 212992 25900 ?        Sl   Sep24   6:12  \_ /usr/bin/python /usr/libexec/netdata/plugins.d/python.d.plugin 1
netdata  22099  0.4  0.0 731068 2

[2020-09-25 07:41] OdysLam commented on #9981
@ilyam8, it seems that the plugin does not have access to a file that it is required. Should we mount that file into the docker container?

@imily999, did you follow the instructions here https://learn.netdata.cloud/docs/agent/collectors/freeipmi.plugin ?

[2020-09-25 07:52] OdysLam commented on #9983
Hey @JsliStorSwift ,

Welcome to our community. I think this resource is a good start for your question! https://www.linux-live.org/

Closing this issue, as it's not related to netdata.

[2020-09-25 07:52] #9983 closed

[2020-09-25 08:29] marcingarski opened #9990 "Missing _get_interval_dir function in packaging/installer/functions.sh cause auto-updating not working"
##### Bug report summary

After #9598 Netdata stopped auto-updating. The cause of this is missing `_get_interval_dir` function which is called on line 967 (also on 969 for message display) that creates symlink to netdata-updater. The function that exist is `_get_intervaldir`.

##### OS / Environment

[code]

##### Netdata version

 1.25.0-41-nightly

##### Component Name

packaging
##### Steps To

[2020-09-25 11:28] ilyam8 commented on #9987
I suggest to completely remove your netdata and install it again from source

[2020-09-25 11:29] ilyam8 commented on #9981
@vlvkobal please take a look

[2020-09-25 11:34] Ferroin commented on #9990
PR opened to fix this (#9992). Once it's merged, you'll need to wait for the next nightly to go out (I plan to merge it today, which means it should be in tonight's nightly and therefore available after 2020-09-26 02:00 UTC).

Once it's in the nightlies, the next auto-update that would occur should work correctly, or you can manually trigger an update by running the kickstart script.

[2020-09-25 12:03] #9990 closed

[2020-09-25 12:45] #9363 closed

[2020-09-25 12:46] jamesnr commented on #9987
OK. I'll get that done.

[2020-09-25 14:52] juanvasquezreyes commented on #9483
Can you please share the latest version of your docker-compose and your configuration files?

[2020-09-25 15:11] jamesnr commented on #9987
All works fine now.

[2020-09-25 15:22] mbarper commented on #9979
Hi,

I have configured the process like this:

`myprocess: '*java blablabla*'
`

this JAVA process is launched by its father, a bash script inside a systemctl service, and it is launched almost inmediatly, so both processes are running.

At start of the systemctl service Netdata shows 1 process and after some time, couple of hours it shows 2 processes. It is weird and I don't find anything in the

[2020-09-25 17:10] #9987 closed

[2020-09-25 20:05] juanvasquezreyes opened #9994 "Cant see the child at my prometheus server"
I'm running netdata in one VM, enabled to receive metrics from childs, I configure the childs to send the metrics to the parent, that part is working and I can see it in the UI

Also I need to export the metrics to a prometheus server, currently I only see the parent metrics in prometheus, how can I see the child metrics in prometheus?

### These are the configs at my parent node
**exporting.conf*

[2020-09-25 20:17] ilyam8 commented on #9994
Hi @juanvasquezreyes 👋

See https://learn.netdata.cloud/docs/agent/exporting/prometheus#streaming-data-from-upstream-hosts

(format - `prometheus_all_hosts`)

[2020-09-25 20:20] juanvasquezreyes commented on #9994
Do I need the export.conf in each node and in prometheus,yaml set the target to each node as well?

[2020-09-25 20:23] ilyam8 commented on #9994
You need to set prom scrape job params as in the link above, you get all the data from the parent node.

[2020-09-25 20:31] juanvasquezreyes commented on #9994
Perfect, its now working, thank you

[2020-09-25 20:31] #9994 closed

[2020-09-27 04:10] hope1234567hope opened #9995 "How to compare multiple monitoring machines"
How to compare multiple monitoring machines？
One interface displays the same monitoring items of multiple machines？ Zabbix has this feature。

[2020-09-27 11:37] kaaaq opened #9996 "Kernel kills Netdata - out of memory"
Hi
I'm using varnish-6.0.5, and I'm monitoring them with netdata
Every day I've this error on journalctl that says: kernel killed Netdata because of getting into out of memory problem:

[code]

[code]

[code]
How can I solve this problem?
Best regards.

[2020-09-27 12:49] mfundul commented on #9996
Maybe taking a look [here](https://learn.netdata.cloud/docs/agent/database/calculator) can help.

[2020-09-28 02:41] gaia opened #9997 "Packets Dropped: Are they inbound or outbound?"
My alerts say inbound:

![image](https://user-images.githubusercontent.com/87547/94385298-a335c980-00f9-11eb-9acb-1764aef8d3be.png)

but the monitored machine says outbound (TX packets dropped)

![image](https://user-images.githubusercontent.com/87547/94385174-4803d700-00f9-11eb-91cf-456ef2698612.png)

tap201i0 faces the internet
tap201i1 faces the LAN's hypervisor guests (and is itself a guest: p

[2020-09-28 04:32] #8707 closed

[2020-09-28 04:32] #9789 closed

[2020-09-28 04:32] #9800 closed

[2020-09-28 04:32] #9578 closed

[2020-09-28 07:25] vlvkobal commented on #9997
The alerts inform you about drops from the container's point of view. It's logical, that RX/TX are reversed on the host side.

[2020-09-28 07:27] OdysLam commented on #9996
Hey @kaaaq, welcome to our little community!

I hope that the calculator will help, if you continue to struggle with it, just post a comment and we will figure it out.

Take care :)

[2020-09-28 07:41] OdysLam commented on #9994
@juanvasquezreyes

Welcome to our community! If you have any questions about configuration or our A W E S O M E [netdata cloud](https://app.netdata.cloud), come and join us at our [forum](https://community.netdata.cloud).

[2020-09-28 08:57] kaaaq commented on #9996
I'm really thankful for your friendly response and treatment.
I looked at Netdata calculator before, and I think, I adjust the suitable amount of memory for my machine
Could it happened because of another reason?
Is there anyway to log or see what happened for Netdata?

[2020-09-28 08:58] mfundul commented on #9996
You can look at `var/log/netdata/error.log`, and if you like you can share it with us.

[2020-09-28 09:23] kaaaq commented on #9996
I haven't any directory named 'netdata' in '/var/log/'

[2020-09-28 09:31] mfundul commented on #9996
Where did you install netdata? It depends on your installation prefix, it doesn't need to be under the root mountpoint (e.g. `/opt/netdata/var/log/netdata/error.log`)

[2020-09-28 10:09] kaaaq commented on #9996
My last error in journalctl was for 8:43 but at that time i've no error in my netdata error log (From 8:41 till 8:44) (obviously it is because of carshing, it couldnt log anything) :

[code]

Journalctl log:

[code]

error log:

[code]

[2020-09-28 10:17] mfundul commented on #9996
You can take a look at `dbengine` memory usage specifically by looking at the "Netdata Monitoring->netdata.dbengine_ram" chart and see if it is over what you expected it to be. E.g. :

![image](https://user-images.githubusercontent.com/44345837/94420507-ed1bbf80-018c-11eb-837b-9be51eec0ed2.png)

[2020-09-28 10:36] kaaaq commented on #9996
I haven't `dbengine` in netdata part,
With this log that I comment before, can we conclude anything?

[2020-09-28 10:40] mfundul commented on #9996
No the log is too short, I don't see anything potentially related to increased memory usage. What's your configuration in `etc/netdata/netdata.conf`?

[2020-09-28 11:07] #9077 closed

[2020-09-28 11:11] #9861 closed

[2020-09-28 11:19] kaaaq commented on #9996
Error log:
[code]

[2020-09-28 12:38] Ferroin commented on #9996
Surprised nobody's mentioned this yet, but Netdata intentionally gives itself a really high selection priority for the OOM killer, which means that any time the system hits an OOM condition at a global scope, it's far more likely to kill Netdata than anything else. Because of this, it may be some other thing on the system triggering an OOM condition, and Netdata just being collateral damage.

This

[2020-09-28 12:55] mfundul commented on #9996
On that front, it appears this machine has 16GB of physical memory and about 200GB of used swap space, where the varnish cache is using more than 80GB of virtual address space. So it does appear that netdata is not the bloated process in this scenario.

[2020-09-28 13:37] #9997 closed

[2020-09-28 21:13] juanvasquezreyes commented on #9689
I was able to make it work by just putting the environment variable of my SMTP Server
example using docker-compose
environment:
      - SMTPHOST=x.x.x.x

[2020-09-28 23:53] startryst commented on #9923
I did a try again, and it's weird that **under CentOS 7.3** (even though later release of CentOS 7 seems OK), if I restart netdata and tried to capture the error logs of fping:

[code]

but if I ran the exact command line(which is the line 197 of /usr/libexec/netdata/plugins.d/fping.plugin) as netdata user directly from the shell, it works:
[code]

[2020-09-29 00:07] joelhans commented on #8779
![](https://github.trello.services/images/mini-trello-icon.png) [Add documentation for claiming a k8s cluster parent node](https://trello.com/c/rdKDQlUb/261-add-documentation-for-claiming-a-k8s-cluster-parent-node)

[2020-09-29 04:11] prologic commented on #9948
@joelhans Would you mind updating our docs per the above comments from me, @Ferroin and @aureliomarcoag regarding the various ways to override/customize the hostname that is seen/used by the Netdata Agent when run in a Docker container?

Basically:

- Pass a `-h/--hostname` option to `docker run`
- Add a `hostname:` key/value pair into your `docker-compose.yml`
- Add a `hostname = ` key/value pair

[2020-09-29 08:07] vlvkobal opened #10003 "Show disk stats for cgroups with BFQ scheduler"
##### Feature idea summary
Cgroups plugin supports only proportional and max Block IO policies. We should support BFQ scheduler as well. Disk stats for the scheduler are in `blkio.bfq.io_service_bytes` and `blkio.bfq.io_serviced` files.

[2020-09-29 08:50] lzclff opened #10004 "Waiting for unfinished jobs"
[code]

[2020-09-29 09:22] mfundul commented on #10004
@thiagoftsm could this be related to https://github.com/netdata/netdata/commit/41168009c6e20ad4c925c42adc8cf788e049fd5f ?

[2020-09-29 10:41] ilyam8 opened #10006 "cgroups in k8s"
##### Question summary

Cgroups hierarchy in k8s is

`/kubepods/<qos_class>/<pod_uid>/<container_id>`

[code]

It means we can collect metrics for the following:
- summary across all pods
- summary across all pods per QOS_CLASS
- per pod (summary across all containers of the pod)
- per container

I think the best way is to collect _per container_ and add hierarchy metadata so all the summaries can

[2020-09-29 10:43] ilyam8 commented on #10006
@knatsakis @cakrit

[2020-09-29 10:57] #6683 closed

[2020-09-29 11:12] kozicpetar commented on #9863
Hi,

just to inform, same "problem" here.
I have production system with installed netdata in February.

Looks like I have latest version and updated don't need to do anything, but first what I can see that is permission error.

[code]

[2020-09-29 11:20] Ferroin commented on #10003
Anybody who picks this up, please tag me for review. I have interest in seeing this added to Netdata and will be more than happy to help with testing, but I unfortunately don't have the time to work on it myself right now.

[2020-09-29 11:34] #9996 closed

[2020-09-29 12:04] prologic commented on #9863
@kozicpetar I believe your _specific_ problem is quite different:

This is more related to #9626

[2020-09-29 12:16] ilyam8 commented on #10006
Example

[code]

There are 2 containers + pause container.

Netdata logs - we resolve pod cgroup name and fail to resolve its containers name.

[code]

contains first container name suffix.

[code]

[2020-09-29 12:25] Ferroin commented on #9863
Indeed, @prologic is correct, at least one line like:

[code]

Is expected if the system has `/tmp` mounted with the `noexec` option. The only way we can reliably test for this is to actually try to run a file there, and we can't reliably suppress the error message this generates, hence this line.

[2020-09-29 12:52] marcelmfs commented on #9351
The following fixed my issue with cmake (2.8.12.2) not having all required C++ extensions to build json-c (has requirement =  cmake-3.18.3).

PS: I had to manually build cmake-3.18.3, and in order to do it, `yum install gcc-c++-4.8.5-39.0.5.el7.x86_64` was needed.

[2020-09-29 15:15] thiagoftsm commented on #10004
It is possible @mfundul , I will create a PR for this now.

[2020-09-29 15:33] marcelmfs commented on #9351
I've tested it in a clean RHEL7 instance now, if you add gcc-c++ to the requirement libraries and download & build cmake 3.18.3 it will build json-c successfully.

[2020-09-29 15:40] olg33 commented on #9975
After creating a new template from scratch, now it works. Not sure what was wrong but colors are now being taken,

Thanks.

[2020-09-29 16:25] juanvasquezreyes opened #10010 "SAML authentication"
Will be nice to integrate it with some saml or auth authentication when going to the UI to secure when going to the dashboard

maybe something like this at the netadata.conf file
[web]
  saml enabled = yes
  saml Metadata URL = x.x.x.x
  saml Entity ID =
  saml NameID Format = ss

[2020-09-29 16:59] #9975 closed

[2020-09-29 17:05] olg33 opened #10011 "How to locate a chart on a specific position in the screen"
After going through demos and tutorials , I still can't grasp a very simple principle: How to locate a graph in the screen.

In my case I have two graphs with traffic coming out of two network interfaces:

                <div style="width: 50%; display: inline-block; height: 70px;">
                <div data-netdata="net.ens192"
                     data-title="Graph 1"
                     data-

[2020-09-29 18:21] #10004 closed

[2020-09-29 19:07] marcingarski commented on #9990
Thanks, for resolving the issue.

I had to manually trigger an update because the auto-update stopped working after #9598 (the symlink was not created).

[2020-09-29 22:38] gregjhogan opened #10012 "infiniband related file handle leak"
##### Bug report summary

after running for a short period of time (a few hours?) netdata stops working because it hits the process file limit (1024):
[code]
and I see lots of duplicate files open related to my infiniband network adapters
[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Component Name

all components are affected since it takes the entire service down

[2020-09-29 22:42] ilyam8 commented on #10012
Hi @gregjhogan. Thx for reporting.

@Saruspete halp!

[2020-09-29 23:36] Saruspete commented on #10012
Hi @gregjhogan sorry for that bug

To restore netdata monitoring quickly, you can disable infiniband monitoring by adding the following to your netdata.conf file
[code]

I'll get back to you quickly

[2020-09-30 00:26] TheOldMan2000 commented on #9810
Polite bump!

[2020-09-30 00:30] TheOldMan2000 commented on #9611
Any idea if and when Apache Logio TTFB value will be supported? Many thanks.

[2020-09-30 00:39] Saruspete commented on #10012
There was indeed a very visible leakage by miss of associated "closedir".
I wondered why I didn't encouter this issue, then I saw my ulimit is at 131072, that's about 36 hours for a leakage of 2 ports every 30 seconds (rediscovery time)

@gregjhogan  can you please test it ? I work on my side (I don't see any fd with lsof). Do you need instructions to build it ?

[2020-09-30 07:31] ilyam8 commented on #9995
Hi @hope1234567hope

Can you share a screenshot?

[2020-09-30 10:31] stdedos commented on #9419
Also, it seems that the one node that has "visited nodes" list, does not add a new one, if I visit it

[2020-09-30 12:11] ilyam8 commented on #9810
@hamedbrd can you help with this issue?

[2020-09-30 13:41] #8779 closed

[2020-09-30 13:45] jacekkolasa commented on #9419
@stdedos are your other agents configured to use private registry as well? https://learn.netdata.cloud/docs/agent/registry#run-your-own-registry

Please make sure you don't block third party cookies, in Chrome this setting is under chrome://settings/cookies, in Firefox under about:preferences#privacy

[2020-09-30 14:32] OdysLam commented on #10012
@gregjhogan Welcome to our community :)

@Saruspete thanks for chiming in immediately and solving the issue!

[2020-09-30 14:35] OdysLam commented on #10004
@lzclff Welcome to our community :)

We are so sorry that you are experiencing this issue. Apparently, @thiagoftsm already came to the rescue with a fix.

@thiagoftsm @mfundul I can't keep up with you guys! You fix issues faster than I have time welcoming our new members 😅 💪

[2020-09-30 14:38] OdysLam commented on #9996
Thanks, @Ferroin for that comment and @mfundul for following up. @kaaaq I see you closed the issue, so I would imagine that you have turned your crosshairs over to varnish 😅

If you have any other questions, just reach out here or in our forums at https://community.netdata.cloud !

Cheers everyone 🙏

[2020-09-30 15:15] yasharne commented on #9342
@thiagoftsm
I encountered the problem again, parent and child both are `v1.24.0` and I accidentally realized the child was not sending metrics for a long time but we didn't get any last collected errors at all:
![image](https://user-images.githubusercontent.com/7656049/94704377-b5f40c80-034c-11eb-9e0b-bd8ceca7071d.png)

The rime range is July 24th to September 30th

[2020-09-30 17:19] ilyam8 opened #10014 "add `plugin` and `module` entities to the alarm"
##### Feature idea summary

[Chart definition](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#the-output-of-the-plugin) has optional `plugin` and `module` fields. It would be nice to add these entities to alarms.

This will help with collectors migration. When we rewrite a collector we keep charts definitions the same, the only difference is `plugin` and `module` fields.

My usecase i

[2020-09-30 17:44] ilyam8 commented on #10012
Thx for the quick fix @Saruspete!

Fixed in #10013.

[2020-09-30 17:44] #10012 closed

[2020-09-30 19:56] Komic commented on #7391
Hi, I was finally able to try this out, I'm afraid this still isn't working as intended. Netdata is now displaying the 12-chars container ID, not their names. I can confirm it's able to read podman's socket. Podman v2.0.0 also shipped with a REST API, which may be relevant.

[2020-09-30 21:26] olg33 commented on #10011
OK, After taking a crash course on CSS I was able to fix the graph location issue.

Thanks.

[2020-09-30 21:28] #10011 closed

[2020-10-01 03:31] gregjhogan commented on #10012
@Saruspete thanks! I install from source, so can I just pull latest and run `./netdata-installer.sh` again to test?

[2020-10-01 06:46] stdedos commented on #9419
I have configured them to use _my registry_ - the one that has the bookmarks.
However, I do expect that the visited nodes registry would be something like "local storage"-populated

Actually, by sheer wtf, I used to accept 3rd-party cookies, so that's not it.
However, it won't happen again for sure

[2020-10-01 07:55] hamedbrd commented on #9810
@ilyam8 I will check it out and keep this issue updated

[2020-10-01 08:04] ilyam8 commented on #9810
It seems [go weblog charts](https://github.com/netdata/go.d.plugin/blob/master/modules/weblog/charts.go) has different context names or something

---

These are weblog gauges

https://github.com/netdata/netdata/blob/b9bc990af36ce8917fc037f681d0b1987b78eb81/web/gui/dashboard_info.js#L1959-L2082

and info

https://github.com/netdata/netdata/blob/b9bc990af36ce8917fc037f681d0b1987b78eb81/web/gui/dash

[2020-10-01 08:19] Saruspete commented on #9981
Hello @imily999 ,

Can you give the output of the following commands (if they work / bin is available)
[code]

[2020-10-01 11:26] OdysLam opened #10017 "Detect installation method & inform users"
##### Feature idea summary

A common user pattern is to install netdata using the native package managers of their Linux distributions, like APT and RPM. The problem is that we don't have any control over the packages that are maintained by the maintainers of the package managers and often they omit certain parts of netdata, namely netdata cloud libraries and the claiming script.

Thus, users are

[2020-10-01 11:32] Ferroin commented on #10017
Installation method detection is dead simple. If there's a `.environment` file in the user config directory (`/etc/netdata` on most builds, `/opt/netdata/etc/netdata` for the static builds), then it was installed through one of our official installers (our only installer that does not do this is our binary packages, but they have working cloud support so the second check should make this irrelevan

[2020-10-01 11:53] thiagoftsm commented on #10012
Hello @gregjhogan ,

You are right, if you clone the repo and install again using `./netdata-installer.sh`, you will have the bug fixed.

Best regards!

[2020-10-01 12:19] JMUsero commented on #9028
according to https://man7.org/linux/man-pages/man7/cgroups.7.html

[2020-10-01 15:00] RicardoJSTeixeira opened #10018 "Netdata has no metrics on apps.sockets."
Hi
Netdata has no metrics on apps.sockets.

I have more than 30 servers running netada, all fully funtional with the same configs.
I reinstalled netdata and nothing changed.
Netdata error logs doesn't say anything about apps.sockets, or that something is broke.

How can I debug this issue?

Thanks for your atention.

##### Question summary
no metrics on apps.sockets.

##### OS / Environment
Centos

[2020-10-01 18:59] juanvasquezreyes opened #10019 "Install issue in redhat 7.8"
Using this distribution /etc/redhat-release
Red Hat Enterprise Linux Server release 7.8 (Maipo)

uname -a
Linux 3.10.0-1062.el7.x86_64 #1 SMP Fri Aug 9 18:36:11 GMT 2019 x86_64 x86_64 x86_64 GNU/Linux

These are the instructions I follow to install
Create file /etc/yum.repos.d/centos1.repo with the following content
[centos]
name=CentOS-7
baseurl=http://ftp.heanet.ie/pub/centos/7/os/x86_64/
enable

[2020-10-01 19:24] juanvasquezreyes commented on #10019
cat netdata-installer.log

# Thu Oct  1 14:19:27 CDT 2020
CFLAGS="-O2" LDFLAGS="" ./netdata-installer.sh --auto-update --dont-wait
[root /tmp/netdata-kickstart-nGUnGnoq5h/netdata-v1.25.0-98-g7473ce84]# curl -q -sSL --connect-timeout 10 --retry 3 --output /tmp/netdata-mosquitto-HnexTr/v.1.6.8_Netdata-4.tar.gz https://github.com/netdata/mosquitto/archive/v.1.6.8_Netdata-4.tar.gz  ... OK
[root /tmp/n

[2020-10-01 19:29] juanvasquezreyes commented on #10019
I was able to fix it by installing this yum install perl-Thread-Queue.noarch

[2020-10-01 19:29] #10019 closed

[2020-10-01 19:38] OdysLam commented on #9028
@mbarper Thanks for the suggestion and welcome to our community! Members such as yourself are the core of every open source project, so a big thank you is in order!

Can't wait to work with you towards an improvement 👍

[2020-10-01 20:51] thiagoftsm commented on #10018
Hello @RicardoJSTeixeira ,

I tested now on my machine and I can see without any problems the sockets, so I have few questions for you:

1 - Did you upgrade for the latest Netdata version(`1.25.0`)?
2 - Did you compile Netdata? Or did you use kickstart to upgrade?
3 - Which memory mode are you using with these Netdata agents?
4 - I already had problems with CentOS and SELinux that affects `ebpf.pl

[2020-10-02 00:38] shimco commented on #9319
I experienced a similar issue on about 10 out of 20 the arm boards I installed on.
removing the files mentioned above and then running the netdata-claim.sh script again worked eventually on all devices, (sometimes it took more than 10 attempts).

I used this one liner to speed up the tedious process before retrying netdata-claim.sh again:
`
sudo rm /var/lib/netdata/cloud.d/* ; sudo rm /var/lib/net

[2020-10-02 06:47] OdysLam commented on #9319
Hi @shimco,

Welcome to our community and thanks for sharing your experience! The use-case sounds interesting, would you care to tell us more about it? Is it in a professional setting or you are an IoT enthusiast like me? What boards would those be? (Rpi3/4?)

Cheers :)

[2020-10-02 08:39] ilyam8 commented on #9611
Hi @TheOldMan2000, it's been delayed because i want to think about https://github.com/netdata/netdata/issues/7420#issuecomment-564017041 - perhaps it is possible to convert weblog to generic plugin - so there are several options how you can chart a log field and it is user configurable. We need to discuss it @vlvkobal @thiagoftsm

[2020-10-02 11:18] OdysLam commented on #10017
A user on Reddit had the same issue on macOS and homebrew.

[2020-10-02 13:59] shimco commented on #9319
HI OdysLam,
Thanks for your reply, I'd just like to say aside from this issue during install Netdata has been fantastic, I have been following the project for a while now, using it on a few personal devices first with a view to deploying it on production devices at work once cloud functionality was working, I finally got around to doing that yesterday!

In this case, we have 10 rpi3 boards running

[2020-10-02 14:57] TheOldMan2000 commented on #9611
Thanks @ilyam8 I honestly and probably naively thought it was just a quick addition, since %^FB is just a numerical value, like the others Netdata already displays %I %O etc. I realise you are the experts and code ninjas though! :)

[2020-10-02 15:01] TheOldMan2000 commented on #9810
Thanks for both for working on this.

[2020-10-02 15:27] ilyam8 commented on #9923
i downloaded [centos 7.3](http://ftp.iij.ad.jp/pub/linux/centos-vault/7.3.1611/isos/x86_64/), will try to reproduce the issue

[2020-10-02 15:52] Ferroin commented on #10017
Yeah, it's a known issue with the Homebrew formula.

They have the same requirements that almost all Linux distros do for packaging that are causing this issue, namely that they don't accept support for features that require statically linking in libraries that are already available as part of the repository itself.

As far as the _why_, it's largely a matter of ensuring good security, with static

[2020-10-02 15:55] Ferroin commented on #9319
For reference, the numeric error codes are exit codes from cURL, which map to the error codes and descriptions listed [here](https://curl.haxx.se/libcurl/c/libcurl-errors.html). 28 indicates that the request timed out.

[2020-10-02 17:26] thiagoftsm commented on #9979
Hi @mbarper ,

Firstly I apologize the delay, but I had a busy week.

I tested a scenario like yours and I think I discover a possible problem.

## Scenario with problems

1 - I created the following entry inside my `apps_groups.conf`:

[code]

2 - After this I created two shell scripts, the first I named `myprocess.java` and it initially had the following content:

[code]

3 - I created another s

[2020-10-02 21:43] jeremyjpj0916 commented on #7327
@mfundul The architecure for me is like so.

I could have 1...n pods of a api gateway application(kong) and it also runs a small netdata(child node) paired with each whose single job is to really stream basic metrics about the pods they are sidecar on in the pod as well as stream statsD metrics they receive from the Kong application over localhost to the parent netdata node which will serve as the

[2020-10-03 00:53] startryst commented on #9923
Thanks @ilyam8

[2020-10-03 10:56] mfundul commented on #7327
The debug prints shouldn't be a problem.

As far as the parent netdata CPU is concerned, I wasn't aware that it was so little resources. In my mind, a parent node should have at least 2 hardware threads to allow for netdata thread concurrency. Seeing gaps at the parent node side is to be expected if the CPU cannot keep up.

You should experiment with giving more CPU resources to the parent node an

[2020-10-03 14:18] OdysLam commented on #9202
@joelhans A number of users report issues with the claiming script, which is not added to PATH for some reason. Perhaps we can add a debugging mention in the claiming docs?

[2020-10-03 14:18] OdysLam commented on #9202
@prologic , this seems relevant. thoughts?
https://community.netdata.cloud/topic/126/any-idea-how-to-use-compile-netdata-cloud-under-archlinx

[2020-10-03 16:43] XxLilBoPeepsxX commented on #5234
I know this is an old issue, but since it is still open, and I am having the same issue now, currently in 2020, I thought it would be worthwhile to mention that I am having severe bottlenecking occur shortly before my server stops serving my website and subdomain-hosted websites for usually around an hour, due to netdata. I'm on ubuntu server 18.04. Has any additional progress been made in this is

[2020-10-03 17:16] Daniel15 commented on #5234
@XxLilBoPeepsxX This issue isn't about *actual* load caused by Netdata; rather it's about artificial load due to how Linux measures load average. If you're encountering actual issues due to Netdata then I'd suggest opening a separate issue, as it's unrelated to this one.

[2020-10-03 17:21] XxLilBoPeepsxX commented on #5234
@Daniel15 will do, thank you, my apologies for commenting on the wrong issue

[2020-10-03 20:52] jimerickson opened #10021 "missing metrics in war room"
##### Question summary
when i go to my netdata cloud war room it only displays metrics for total cpu utilazation, and available memory. it is not showing total disk i/o, total network bandwiidth, and tempurature. i have recently switched to ubuntu 20.10 arm64 because of problems getting raspbian 64-bit to connect. but all my amd64 machines on ubuntu 20.04 are affected too. when i go to "localhost:

[2020-10-03 22:08] jimerickson commented on #10021
[error.log](https://github.com/netdata/netdata/files/5322355/error.log)
[access.log](https://github.com/netdata/netdata/files/5322356/access.log)

ok here are the files, finally got it to work.

[2020-10-04 13:03] gpastuszko opened #10022 "Emails are not send despite successful notifications tests"
#### Summary

I’m running netdata in a container.

.msmtprc is setup correctly and all test as describe in [documentation ](https://learn.netdata.cloud/docs/agent/health/notifications/email) are successful. The 3 test email are sent out successfully!

[code]

However, when I stress the CPU for over 20min no notification email has been send.

Nothing in regards to failed alert can’t be found in the

[2020-10-04 16:12] OdysLam commented on #10017
Another one: https://community.netdata.cloud/topic/136/after-upgrade-to-ubuntu-20-04-lts-netdata-will-not-load-in-my-browser/5

All these incidents are since we created this issue, all from different users. As a data point for the prioritization.

[2020-10-04 20:33] ilyam8 commented on #9923
Well, i install centos7.3 and i get same problem.

[code]

[2020-10-05 07:09] mobcer opened #10023 "Tarball checksum validation failed"
##### Question summary
On the installation procedure executed by kickstart.sh, I get the following error

What should I do?
##### OS / Environment
Debian 9 with shell root access
##### Component Name
kickstart.sh
##### Expected results
to be installed without interrupt

[2020-10-05 07:40] OdysLam commented on #10022
Hey @gpastuszko

Welcome to our community! We are so sorry that you encounter this issue, but no worries, we will get to the bottom of this 💪

Just to be super clear, you have followed the troubleshooting mentioned in #6807? Furthermore, how did you install Netdata and what OS are you using?

Finally, please make sure that you are running the latest version of Netdata. You can update it following

[2020-10-05 07:48] gpastuszko commented on #10022
Your alarm_notify.sh script somehow doesn't pick the env $HOME variable of the netdata user.

**_workaround_**:
moving the **/etc/netdata/.msmtprc** onto **/etc/msmtp** and setting the permission to 0644 solves this problem.

[2020-10-05 07:55] ilyam8 commented on #9923
I noticed there were no `cap_net_raw` set, i added it

[code]

However it doesnt fix the problem, both `apps.plugin` and `fping.plugin` dont work

[code]

---

I 🤷‍♂️ what is the problem, the fix is to update centos.

[code]

[2020-10-05 08:01] ilyam8 commented on #9923
There is a bug, indeed, in `CentOS Linux release 7.3.1611 (Core)`, however it doesn't exist in centos latest (`7.8.2003`). I suggest to upgrade.

I am closing it but if someone want to dig into it to find the root cause it would be nice.

[2020-10-05 08:01] #9923 closed

[2020-10-05 09:09] ilyam8 commented on #9810
@hamedbrd

**Prepare python and go weblog jobs**

We need apache/nginx logs, we don't need a webserver, we need just logs, i suggest to take go weblog testadata: https://raw.githubusercontent.com/netdata/go.d.plugin/master/modules/weblog/testdata/full.log

[code]

Then we need to add python and go weblog jobs:

[code]

And restart `netdata.service`. After it there are 2 weblog jobs on the dashboar

[2020-10-05 09:23] marcingarski opened #10025 "Bad condition in enable_netdata_updater() function cause auto-updating not working"
##### Bug report summary

After #9966 Netdata stopped auto-updating. The cause of this is probably bad condition in `enable_netdata_updater()` function from `packaging/installer/functions.sh`. On line 984 you test for zero length string (`if [ -z "${1}" ] ; then`) but it should be non-zero length string (`-n`).

##### Component Name

packaging
##### Steps To Reproduce

1. Wait for auto-update or r

[2020-10-05 09:46] ilyam8 commented on #4811
@Kobaruon

i followed the [install-single-node-cluster docs](https://docs.couchbase.com/server/current/install/getting-started-docker.html#section_jvt_zvj_42b) and everything went smooth 🎉

i added 3 sample buckets

<img width="1289" alt="Screenshot 2020-10-05 at 12 39 26" src="https://user-images.githubusercontent.com/22274335/95064038-d1be3080-0707-11eb-97ca-54f5a885b4f7.png">

---

## /pools/de

[2020-10-05 09:49] ilyam8 commented on #10025
@Ferroin take a look

[2020-10-05 10:18] ilyam8 commented on #4811
I see there is  unofficial couchbase client library: https://github.com/couchbase/go-couchbase

[code]

I get these metrics

[code]

[2020-10-05 10:41] startryst commented on #9923
@ilyam8 Thanks for your support, workaround is crystal clear, but still wish if someone have ideas to fix (some of my server is not suitable to upgrade)

[2020-10-05 10:50] altimore opened #10026 "Graphs shown on local server (port 19999) but not on cloud."
##### Bug report summary

With the Network UPS Tool plugin (charts.d/ups.conf), i claimed the node on cloud, I can see the graphs for the UPS on the local server (http://raspberry_local_ip:19999/) but not on the cloud server.
![Screenshot from 2020-10-05 14-18-09](https://user-images.githubusercontent.com/662362/95070292-f4a51080-0718-11eb-8fa5-3881dd9ee382.png)

![Screenshot from 2020-10-05 14-38

[2020-10-05 10:59] stelfrag commented on #10026
Hi @altimore

Could you share your `error.log` file?

[2020-10-05 11:04] altimore commented on #10026
Hello @stelfrag,

Here it is :
[error.log](https://github.com/netdata/netdata/files/5326943/error.log)

[2020-10-05 11:18] altimore commented on #10026
My bad, the error.log i posted was almost empty, here is a new version after reloading both pages (http://192.168.100.54:19999/#menu_nut_nutdev1_submenu_ups;theme=white and https://app.netdata.cloud).

[error.log](https://github.com/netdata/netdata/files/5326999/error.log)

[2020-10-05 12:37] Ferroin commented on #10023
This is probably a result of caching issues we've had with Google Cloud Storage (which we use for hosting our build artifacts). As a general rule, if you try about an hour or so later when you run into this, it should work correctly.

We've been looking into solution for this for some time now but have so far not found any practical fix.

[2020-10-05 12:59] Ferroin commented on #10025
@marcingarski Nice catch, not sure how that got past review.

[2020-10-05 13:31] thiagoftsm commented on #10022
Hello @gpastuszko ,

When Netdata sends an email, it uses the function

https://github.com/netdata/netdata/blob/fba31ed22dd61161ec9ac4547e1b9b8a11cc35d3/health/notifications/alarm-notify.sh.in#L823

and this function does not get environment variables like `$HOME`, the command used to send the email that gets information from its internal configuration to send data.

About the permission, Netdata

[2020-10-05 13:46] hamedbrd commented on #9810
@ilyam8 thank you for clarification, by some changes on go web_log then I enabled the go web_log gauges on my local machine.
now we have two options, edit chart ID names in go web_log or adding current go web_log chart IDs to dashboard_info.js

which one do you recommend? I would say by changing go web_log chart ID names would be better as these two modules are doing the same job

[2020-10-05 13:55] ilyam8 commented on #9810
Yes, you understand it right, it is either change go weblog chart id's or add new gauges to the `dashboard_info.js`

About python `response_time` - this is wrong name and in fact it is `request_processing_time`.

`response_statuses` doesn't seem correct for me either. Let me think 🤔

[2020-10-05 14:01] havanahjoe commented on #10026
I've been meaning to post a similar report. I have a lot of missing graphs in my cloud that are available locally. This is happening on three servers, two Ubuntu 18.04.5 LTS and one Raspberry OS in two different physical locations. Running v1.25.0-115-nightly on all three.

Is there a limit somewhere that we might be hitting where certain sensors just don't get sent or are getting truncated? CPU d

[2020-10-05 14:20] stelfrag commented on #10026
Could you try the following:

Reload agent's health by doing (if agent installed under /usr)

- sudo /usr/sbin/netdatacli reload-health

or

- Send a USR2 signal to the agent's PID
  - e.g. something like  **sudo kill -USR2 _netdata_**
- Go to the cloud (app.netdata.cloud) and refresh the page

Do the missing charts appear with data?

[2020-10-05 14:21] hamedbrd commented on #9810
@ilyam8 if we want to change `response_time` to something, then it going to be a significant change for clients because I'm pretty sure many dashboards/queries were created base on this name. right?

[2020-10-05 14:33] ilyam8 commented on #9810
^^Yes, we are not changing python chart ids. We will have duplicates in the `dashboard_info.js`.

[2020-10-05 14:37] altimore commented on #10026
@stelfrag here are the commands i typed :
[code]

Then reloaded https://app.netdata.cloud/, same as before, no charts for the UPS.
I tried in Firefox and in Chrome, same result.

@havanahjoe Same problem on an Intel NUC with Ubuntu 20.04.1 LTS, missing the UPS data graphs with a similar NUT config.
I can see the CPU data and it tops at 20% maximum, it is not saturated.

[2020-10-05 15:01] Kobaruon commented on #4811
FYI, they also have official Go SDK https://docs.couchbase.com/go-sdk/current/hello-world/start-using-sdk.html

[2020-10-05 15:05] stelfrag commented on #10026
Hi @altimore

Please do not restart netdata after the -USR2 signal.

The USR2 will cause a health reload (and send refreshed chart information to the cloud). Seeing if that helps (or not) we will see how to further investigate.

[2020-10-05 15:33] jeremyjpj0916 commented on #7327
@mfundul would you recommend the parent node have say 1 CPU or does it need as much as 2 CPU then?

[2020-10-05 15:34] altimore commented on #10026
ok, i re ran the kill USR2 on the two processes and refreshed the browser on app.netdata.cloud without restarting netdata, i still miss the UPS graphs.

[2020-10-05 16:35] cakrit commented on #10006
We don't deliberately collect only pods. In a call we had today, we investigated two possibilities: Wrong identification in cgroup-name.sh OR cgroups not passing all the correct ids. Based on what you wrote here @ilyam8, the issue is really the first. So we need to fix cgroup-name.sh, so that we can get charts for all the containers. We also need to correct the names of the pod-level charts, or el

[2020-10-05 17:56] gpastuszko commented on #10022
Hey @OdysLam

Hello @thiagoftsm

Just to clarify,

- docker official installation
- email test are successful as **netdata** user
- no email alarm is send
- in logs: msmtp error 76
- moved msmtprc to` /etc/msmtprc `, still no good. netdata has no access
- changed the owner to netdata  -> works
- moving it to `/etc/netdata/.msmtprc`  and setting permissions to 666 results in no emails again
- movin

[2020-10-05 18:05] stelfrag commented on #10026
@hmoragrega Please take a look

[2020-10-05 18:07] ilyam8 commented on #10022
`$HOME` is https://github.com/netdata/netdata/blob/cedb8707c8ce1728984da85a58d24c26ddc24ad9/daemon/common.c#L14

btw, not `/etc/netdata`

---

[I see it is](https://wiki.archlinux.org/index.php/Msmtp)

- `~/.msmtprc` or `$XDG_CONFIG_HOME/msmtp/config`
- the system configuration file belongs at `/etc/msmtprc`

---

Do we suggest it in the docs?

[2020-10-05 18:16] thiagoftsm commented on #10022
We give in the [documentation](https://learn.netdata.cloud/docs/agent/health/notifications/email#simple-smtp-transport-configuration) instructions to read `msmtp` official documentation, but it was wrote there the following command:

[code]

and this is a contradiction with the found solution.

[2020-10-05 18:53] ilyam8 commented on #10022
[code]

home is

[2020-10-05 19:29] ilyam8 commented on #10022
oh, i missed _running netdata in a container_ part (first sentence i know 🙈).

it is `/etc/netdata`, indeed

[code]

That is why we have successful notifications tests.

What could be wrong is `HOME` is being changed on nd process start.

I added loging `HOME` env var to the python collector

[code]
And restarted netdata containers.

For some reason `HOME` is `/root`

[code]

[2020-10-05 19:48] ilyam8 commented on #10022
@gpastuszko i think this can be solved if we set `HOME` to `/etc/netdata` on container creating

[code]

[code]

[2020-10-05 20:48] mfundul commented on #7327
I would say 2 for a parent node.

[2020-10-05 21:38] jeremyjpj0916 commented on #7327
Editing netdata parent node from 200 millicores to 2 cores and 2 GB to 4 GB of RAM to see if behavior changes in stage with respect to chart gappings and some seen container restarts.

[2020-10-05 21:49] jeremyjpj0916 commented on #7327
Even after deploying with more resources the result is still the same from gaps in the chart from the netdata child nodes streaming to master, didn't think resource limits were the issue, the master nodes are hardly getting a workout at .01 cores being utilized right now processing 1700 Kib's/sec of data:

![image](https://user-images.githubusercontent.com/31913027/95135835-0bf0f780-0733-11eb-8883

[2020-10-06 00:53] ilyam8 commented on #9611
ok, i think https://github.com/netdata/netdata/issues/9611#issuecomment-678757105 is good

@hamedbrd are you willing to pick up this issue ?

[2020-10-06 04:27] mfundul commented on #7327
The replication PR mentioned above should fix the gaps, but it's still strange to see them in this use case. Do you still see those messages such as:
[code]

[2020-10-06 08:03] OdysLam commented on #10026
@havanahjoe, we are so sorry that you too are experiencing this. It's a known bug and we are racing to fix this.

On a sidenote, welcome to our community :) I hope you enjoy your stay here.  We also have a forum at https://community.netdata.cloud. Cheers!

[2020-10-06 08:07] OdysLam commented on #10023
@mobcer We are so sorry that you are experiencing this. As @Ferroin said, we are aware and we want to fix this. Thanks for mentioning it though, it helps to assess priority.

In any case, welcome to our community! Don't hesitate to comment on any thread and join our forums at https://community.netdata.cloud!

[2020-10-06 09:02] e-alfred opened #10033 "Installation of Netdata fails because of missing packages python-mysqldb python-psycopg2 python-pymongo"
##### Bug report summary
Installing Netdata fails because of missing packages

##### OS / Environment

[code]

##### Steps To Reproduce

1. Install Netdata

[code]

##### Expected behavior
Installation of Netdata should succeed without error.

[2020-10-06 09:26] marcelmfs commented on #1290
I've ran into this yesterday, on a server where the netdata user was first installed by the binary rpm, with $HOME = /opt/netdata, later upgraded to the repository installer, and somehow after a server reboot the service was silently failing. It was because the $HOME folder wasn't present, and somehow systemd was trying to $CWD to $HOME, and that was failing.

[2020-10-06 09:53] gpastuszko commented on #10022
way to go @ilyam8 ! You got to the bottom of that issue. Thanks a lot. (Thumbs up!)

Setting `ENV `var is what we did. Actually we went little further. We have set `msmtp `  locally on the host and only the binary is bind mounted to container. The rational behind it was, that we have some other services which required `sendmail `  too.

Kind regrads

[2020-10-06 11:09] KickerTom commented on #9750
This issue is still there, I can't cross-compile latest version getting the same error as OP. The problem is that the check for the header, causing the error "cannot check for file existence when cross compiling", happens **before** checking the "disable-ebpf" option. I have moved the test before all the ebpf checks in configure.ac and cross compilation with disabled ebpf works for me now.

[2020-10-06 11:10] thiagoftsm commented on #10014
@ilyam8 when a chart is created the optional parameters are given to it, and the simplest road to attach an alarm based on `plugin` or `module` would be allowing the users to set these values using the alarm line [on](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-on). To do this we would need to change the next function

https://github.com/netdata/netdata/blob/fa45006179f07ecd

[2020-10-06 11:20] ilyam8 commented on #10014
I dont get why you suggest to use `on`. Imo it should work same as `families`.

[2020-10-06 11:22] e-alfred commented on #10033
Solved by setting Python 3 as default:

`sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 2`

Please add a message for deprecated or non-existent packages if the Python version is too old that you need at least Python 3.

[2020-10-06 11:26] Ferroin commented on #9750
@KickerTom Would you possibly be willing to open a PR with that change?

[2020-10-06 11:28] KickerTom commented on #9750
Sure, I was not just sure such a simple change is worth the hassle of signing the agreement and all that :-).

[2020-10-06 11:37] thiagoftsm commented on #10014
I had an initial concern to break backward compatibility if we were storing `RRDCALC` inside the database as we do with `RRDSET`and `RRDHOST`, but considering that we are not, we do not have any problems to bring this two new options.

[2020-10-06 11:41] #10025 closed

[2020-10-06 11:54] ilyam8 commented on #10014
@thiagoftsm i added to the OP `Expected behavior` - should support simple patterns (so we can set list of modules).

[2020-10-06 12:00] Ferroin commented on #10025
Fix merged. This should automatically start working again without any user intervention once tonight's nightly build is published.

[2020-10-06 13:50] Nirjonadda opened #10035 "Cannot enable netdata updater tool"
How can enable netdata updater tool? I am using Automatic one-line installation script

`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

![ScreenShot00040](https://user-images.githubusercontent.com/6899856/95210182-84b38a80-07eb-11eb-8e88-c1c4e0b97893.png)

[2020-10-06 13:55] ilyam8 commented on #10035
Hi @Nirjonadda

This is duplicate of https://github.com/netdata/netdata/issues/10025, fixed in https://github.com/netdata/netdata/pull/10028

[2020-10-06 13:56] #10035 closed

[2020-10-06 14:35] arubacao commented on #5722
They published a documentation including their API/Query language here:
https://docs.aws.amazon.com/timestream/latest/developerguide/reference.html

[2020-10-07 00:58] DonZheng commented on #5690
Dear @ilyam8 @PrzemekSkw

The same issue brought me to your discussion. I managed to follow every single step mentioned in your discussion and got the same result as the blue screenshot shown above. Unfortunately I still don't see any OpenVPN chart on the dashboard.

I wonder if you have come up with any streamlined procedure ( in stead of try this or try that) for making openvpn plugin work for n

[2020-10-07 05:33] stelfrag commented on #10026
Hi @altimore , @havanahjoe

Could you upgrade to the latest nightly to check if the problem is resolved?

[2020-10-07 06:46] OdysLam commented on #5722
Hey @arubacao,

Thanks for that piece of information and welcome to our little community :) If you have any questions, please don't hesitate to reach out!

[2020-10-07 06:48] OdysLam commented on #9750
@KickerTom,

Thank you so much for this contribution. It doesn't matter if it's small or big, every PR counts towards creating a free OSS Monitoring Agent for all! If you want to participate more in our community, we invite you to https://community.netdata.cloud!

P.S Welcome to the Netdata Community. We are looking forward to interacting with you more :)

[2020-10-07 06:49] OdysLam commented on #10033
Thanks for that @e-alfred, a member from the team will respond promptly as we look into this bug™️

Welcome to our little community :) If you have any questions, please don't hesitate to reach out!

[2020-10-07 07:12] ilyam8 commented on #5690
Hi 👋

1. See [requirements](https://github.com/netdata/go.d.plugin/tree/master/modules/openvpn#requirements)
2. [it is disabled by default](https://github.com/netdata/go.d.plugin/tree/master/modules/openvpn#configuration), you need to enable it in `go.d.conf`.

Then try debug mode

[2020-10-07 07:57] #9810 closed

[2020-10-07 08:06] Seji64 commented on #5158
Thanks for this great hint! I disabled loop prevention on my TP-Link TL-SG116E. Finally i found the f**** reason for my rx_drops.

[2020-10-07 09:29] TheOldMan2000 commented on #9810
Thank you 🙏🏻 @hamedbrd @ilyam8

[2020-10-07 10:27] altimore commented on #10026
Hello,

It works with the latest version (v1.25.0-115-nightly) as a bonus it takes in account the parameter nut_priority=1 (which it did not on the cloud before) so i have it on top of the other metrics.

Thanks a lot for your prompt solution.

[2020-10-07 10:27] #10026 closed

[2020-10-07 10:55] hamedbrd commented on #9611
@ilyam8

Is this look like the module I have created two years ago for python plugins? Do we want to do something like that?
[PR 4900](https://github.com/netdata/netdata/pull/4900)

[2020-10-07 12:08] Nirjonadda commented on #10035
What version fixed this issue? Aldo does released fixed version?

[2020-10-07 12:12] ilyam8 commented on #10035
It is fixed in the master branch.

[2020-10-07 12:13] Nirjonadda commented on #10035
So we need re-run `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` it again to update Netdata?

[2020-10-07 12:16] ilyam8 commented on #10035
I think yes.

[2020-10-07 12:23] ilyam8 commented on #9611
Yes, we want in general, related issue - https://github.com/netdata/netdata/issues/7420.

This issue is to add `custom_time_fields` feature to the go weblog. In addition to [`custom_fields`](https://github.com/netdata/go.d.plugin/tree/master/modules/weblog#custom-fields-feature).

Let me think a bit and i provide some suggestion about the implementation.

[2020-10-07 15:11] DonZheng commented on #5690
@ilyam8
Thank you for your prompt reply. Much appreciated.

To avoid acting on muddled up system, I executed below commands on a new environment
- Ubuntu 18.04.2 LTS, OpenVPN
- OpenVPN 2.4.4 x86_64-pc-linux-gnu

# Install netdata
bash <(curl -Ss https://my-netdata.io/kickstart.sh) --dont-wait

# Grant netdata access to openvpn log file
cd /var/log/
chown :netdata openvpn-status.log && chmod 640 op

[2020-10-07 15:27] mbarper opened #10037 "charts.d plugin: Operation not permitted sudo: unable to initialize policy plugin"
##### Question summary

Unable to run sudo commands inside a chart.d plugin script. It reports:

[code]
##### OS / Environment

Ubuntu 16/18

##### Component Name

charts.d plugin

##### Expected results

I'm not really sure about if the problems come from Netdata user is a guess account or from a CapabilityBoundingSet thata avoids sudo commands, but I would like to execute sudo commands as anothe

[2020-10-07 15:33] juanvasquezreyes opened #10038 "Remove child nodes using streaming"
I'm currently using the following design https://user-images.githubusercontent.com/1153921/84290043-0c1c1600-aaf8-11ea-9757-dd8dd8a8ec6c.png

I have a parent node running with docker and 5 child nodes running locally, I stopped the service of one of my child nodes but I still can see it in the dashboard, is there a way I can remove that child node?

My parent is using dbengine as short term DB and

[2020-10-07 15:45] olg33 opened #10039 "Unique ID net_errors.eth0 Description"
I'm including the unique ID `net_errors.eth0` in my dashboard but I'd like to know what specific errors this ID displays.

Could you please elaborate? I haven't been able to find any document that describes this unique ID at detail.

Thank you.

[2020-10-07 15:48] olg33 opened #10040 "Unique ID net_errors.eth0 details"
I'm including the unique ID `net_errors.eth0` in my dashboard but I'd like to know what specific errors this ID displays.

Could you please elaborate? I haven't been able to find any document that describes this unique ID at detail.

Thank you.

[2020-10-07 16:47] baskinsy commented on #10037
I have the same issue with megacli python.d plugin. I have followed the official instructions to add netdata user to sudoers and also I added it to the sudo group with no luck.

[code]
Also on debug with the netdata user it works.

[2020-10-07 18:29] ilyam8 commented on #5690
There are 2 collectors:
 - [`ovpn_status_log`](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/ovpn_status_log#openvpn-monitoring-with-netdata) (python): it gathers data from the openvpn log file.
 - [`openvpn`](https://github.com/netdata/go.d.plugin/tree/master/modules/openvpn#openvpn-monitoring-with-netdata) (go): gathers data from the management interface.

---

If you

[2020-10-07 19:18] DonZheng commented on #5690
Hi @ilyam8,

Thanks again for the clarity. It seems I have 'turned on' both 'ovpn_status_log' and 'openvpn' by following the steps in my previous post?

I now run the './go.d.plugin -d -m openvpn' as 'netdata' user and it looks working fine. But the dashboard is not showing any charts for openvpn.

Is there anything I've missed/muddled up here?

Thanks in adv.

[2020-10-07 19:18] ilyam8 commented on #10037
Related https://github.com/netdata/netdata/issues/8535#issuecomment-606401520

[2020-10-07 19:21] ilyam8 commented on #5690
Could be you missed that it [disabled by default](https://github.com/netdata/go.d.plugin/tree/master/modules/openvpn#configuration), you need to enable it in the `go.d.conf`

[code]

[2020-10-07 19:59] ilyam8 commented on #10040
Hi, this metrics come from `/proc/net/dev`

[code]

i think they are all kind of errors detected by the device driver.

[2020-10-07 20:01] ilyam8 commented on #10039
dup of https://github.com/netdata/netdata/issues/10040

[2020-10-07 20:01] #10039 closed

[2020-10-07 20:02] DonZheng commented on #5690
Hi @ilyam8,

You were right (again) that I didn't enable it in 'go.d.conf'. I now have enabled it, and the go.d.conf now looks like:
![image](https://user-images.githubusercontent.com/40833875/95381101-65c01000-0933-11eb-8f2d-7f425a4374c1.png)

The go.d/openvpn.conf looks like:
![image](https://user-images.githubusercontent.com/40833875/95381165-7d979400-0933-11eb-9035-c1c50fddef8a.png)

Execute '

[2020-10-07 20:11] ilyam8 commented on #5690
check error.log

[2020-10-07 20:13] baskinsy commented on #10037
Tried the solution here: https://github.com/netdata/netdata/issues/8535#issuecomment-606401520

but got the same problem..

[2020-10-07 20:14] ilyam8 commented on #10037
Did you `systemctl daemon-reload`?

[2020-10-07 20:15] baskinsy commented on #10037
yes...

[2020-10-07 20:16] baskinsy commented on #10037
[code]

[code]
Strange it didn't worked...

[2020-10-07 20:18] DonZheng commented on #5690
@ilyam8
I seems there is no error related to 'openvpn' in the past half hour while I'm trying on this:
![image](https://user-images.githubusercontent.com/40833875/95383181-80e04f00-0936-11eb-9941-d93cc59d9d1e.png)

[2020-10-07 20:23] ilyam8 commented on #5690
there is

have you restarted netdata service after [the changes](https://github.com/netdata/netdata/issues/5690#issuecomment-705162993)? 🤔

[2020-10-07 20:31] DonZheng commented on #5690
Yes, I have excecuted 'systemctl restart netdata a few times in the past 10 minutes, hoping for seeing any change on the dashboard...

I'm doing it again now, just to double/triple confirm...

![image](https://user-images.githubusercontent.com/40833875/95384127-e5e87480-0937-11eb-9658-549c31ddc164.png)

I waited a couple minutes, still no change on the dashboard:
![image](https://user-images.githu

[2020-10-07 20:57] DonZheng commented on #5690
Please ignore my previous screenshot where I showed timestamp of error logs and system time. I just realized that the error log is not adopting the system time.

I just tried the same procedure on another machine. Same issue. debug looks fine but no charts on dashboard. 😢

[2020-10-07 21:03] ilyam8 commented on #5690
yes, that is why https://github.com/netdata/netdata/issues/8949

[2020-10-07 21:11] DonZheng commented on #5690
@ilyam8
Are you suggesting that the timezone issue is causing the openvpn not showing on dashboard? If so, what do you suggest me do?

while waiting for your response, I have tried verifying the issues indicated in the error logs:
It seems I cannot access the machine_ip:9176/metrics from my browser at home. Is this causing the issue? Any guidance?

[2020-10-07 21:17] ilyam8 commented on #5690
No, it is only log timestamp, just menationed that, indeed, there is a problem and we aware of it.

Anyway it is just a timestamp, the error message is

it means you have no openvpn enabled in the go.d.conf. I saw https://github.com/netdata/netdata/issues/5690#issuecomment-705162993 but that is what error message is.

just ignore that error message

[2020-10-07 21:23] DonZheng commented on #5690
As per the go.d.conf, there should a space before module name. I have validated the file against YAML validator.
![image](https://user-images.githubusercontent.com/40833875/95389330-6363b300-093f-11eb-9662-4565c6752eee.png)

Is there anything else I should do? （Please forgive me saying this, my feeling of frustration is growing inside me. )

[2020-10-07 21:27] ilyam8 commented on #5690
- cd to netdata log dir
- cp /dev/null error.log
- systemctl restart netdata.service
- wait a bit...
- grep go.d error.log

share grep output

[2020-10-07 21:28] DonZheng commented on #5690
Is there anything I should do in go.d/openvpn.conf ?
At the moment it looks like this:
![image](https://user-images.githubusercontent.com/40833875/95389861-26e48700-0940-11eb-8bce-e4fabe60e735.png)
![image](https://user-images.githubusercontent.com/40833875/95389891-349a0c80-0940-11eb-96c2-393bce766d6d.png)

I will follow your above advice and report back...

[2020-10-07 21:32] DonZheng commented on #5690
@ilyam8
Following your above advice, here is the result:

![image](https://user-images.githubusercontent.com/40833875/95390272-db7ea880-0940-11eb-92e4-752da42d1228.png)

[2020-10-07 21:41] ilyam8 commented on #5690
it doesnt look like it is restarted, lets see

And copy the text, no need to make a screenshot

for instance

[code]

[2020-10-07 21:45] DonZheng commented on #5690
Here it is:
root@vps237697:/var/log/netdata# ps faxu | grep "[n]etdata"
netdata  22303  1.7  2.9 325012 57920 ?        SNl  16:45   1:00 /usr/sbin/netdata
netdata  22306  0.0  0.2  48488  4160 ?        SNl  16:45   0:00  \_ /usr/sbin/netdata --special-spawn-server
netdata  22443  0.2  0.1  10388  3436 ?        SN   16:45   0:08  \_ bash /usr/libexec/netdata/plugins.d/tc-qos-helper.sh 1
root     22

[2020-10-07 21:45] DonZheng commented on #5690
[code]

[2020-10-07 22:19] DonZheng commented on #5690
Anything fishy here, @ilyam8 ?

[2020-10-07 23:48] DonZheng commented on #5690
@ilyam8 I think you are right, again.

`systemctl restart netdata.service`  does not restart the service at all. I tried 'service netdata restart' as `root` but still not effective.

Any thoughts on this issue?

[2020-10-08 00:00] DonZheng commented on #5690
@ilyam8

Couldn't restart service. I rebooted it and everything works now. Weird.

[2020-10-08 06:00] OdysLam commented on #7487
@joelhans Relevant to the architecture diagrams+ security discussion

[2020-10-08 06:54] OdysLam commented on #10037
Hey @baskinsy , welcome to the community :)

[2020-10-08 12:00] mbarper commented on #10037
Do you guys think we could use something like the perf plugin?

But with the setuid to the user you need to run the plugin.

Or maybe add the capabilities to be able to do `sudo` to another user.

[2020-10-08 14:14] Mosney commented on #9863
Same issue, I mount /tmp with `noexec` and autoupdater will not work until I remount `exec` manually. Any other way to avoid use /tmp in autoupdate process without set environment variables?

[2020-10-08 14:29] mihailigoshin opened #10043 "No alarm for go.d/portcheck"
Port 22 is open and status is green (as should be), port 19999 is not present and is red as failed (as should be) from the charts, but it is missing alarm for it.

[code]

[code]

[code]

[code]

In stream.conf for API key

[code]

[2020-10-08 16:55] DonZheng commented on #6050
Hi @cakrit , I am planning to monitor dozens of my nodes only through netdata cluod. I'm wondering how I can disable the each node's dashboard being accessed via note_ip:19999?
Kindly point me to the right direction, please.
Thanks in adv.

[2020-10-08 17:21] ysamouhos commented on #8589
Hi guyz.. This one just came up again on ubnt 14.04.

Exactly same error:
  GEN      netdata
externaldeps/libwebsockets/libwebsockets.a(unix-caps.c.o): In function `lws_plat_drop_app_privileges':
unix-caps.c:(.text+0x309): undefined reference to `cap_get_proc'
unix-caps.c:(.text+0x325): undefined reference to `cap_set_flag'
unix-caps.c:(.text+0x32d): undefined reference to `cap_set_proc'
unix-caps

[2020-10-08 17:37] wcallgair opened #10044 "freeipmi.plugin "exited with error code 1""
##### Bug report summary
I get the following error when starting netdata with freeipmi enabled:

[code]
Free ipmi works when ran manually or in debug from the netdata user:
[code]
I did notice that It takes about 10 seconds to gather any output from freeipmi on this machine. Could this by why netdata is abandoning freeipmi?

##### OS / Environment
[code]

##### Netdata version
netdata v1.24.0.19.n

[2020-10-09 06:28] stelfrag commented on #10021
Hi @jimerickson could you update to the latest  version ?

There is fix that will address the problem you are facing

[2020-10-09 09:09] hope1234567hope commented on #9995
in zabbix，have "Aggregation in graphs"  to display more machines。
you can see “https://pmmdemo.percona.com/graph/”，this   can  compare multiple machines。

[2020-10-09 09:37] alexmyczko opened #10047 "debian packaging"
you might want to work togetherbwith the official debian package maintainers of netdata.

and taking your packaging the following list of things should be fixed:

https://mentors.debian.net/package/netdata/

[2020-10-09 09:56] Kobaruon commented on #4811
By the way, I stumbled upon this document. It might help you. https://developer.couchbase.com/resources/best-practice-guides/monitoring-guide.pdf

[2020-10-09 11:23] jimerickson commented on #10021
thank you i will do that!

On Fri, Oct 9, 2020 at 1:28 AM Stelios Fragkakis <notifications@github.com>
wrote:

[2020-10-09 11:48] ilyam8 commented on #10043
Hi @mihailigoshin , thx for reporting, fixed in #10048

[2020-10-09 11:50] mihailigoshin commented on #10043
@ilyam8 , Thank you.

[2020-10-09 12:09] #10043 closed

[2020-10-09 12:10] mihailigoshin commented on #10043
I've changed the to
`  lookup: average -5m unaligned percentage of no_connection,failed
`
The restarted the netdata service but still do not receive an alarm nor notification.

[2020-10-09 12:14] ilyam8 commented on #10043
Could you find that [`connection_fails`](https://github.com/netdata/netdata/blob/2b640642ee8392ee7f697c23de4d8976c7aaed12/health/health.d/portcheck.conf#L36-L46) alarm (Alarms=>All=>portcheck*) and show the screenshot?

[2020-10-09 12:59] nenonano opened #10049 "weird time on charts"
Hi all

I'm running netdata on more than a linux server.. all VM under hyper-v

on just one machine, I'm having issues with the time in the grapps (see attach)

just upgraded netdata to the last available nightly release

sysadmin@srv-web:~$ $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V
netdata v1.25.0-138-nightly

sysadmin@srv-web:~$ uname -a
Linux srv-web 4.9.0-13-amd64 #1 SMP Debian 4.9.228-1

[2020-10-09 18:16] stelfrag commented on #6050
Hi @DonZheng

Checkout https://learn.netdata.cloud/docs/agent/web/server

[code]

[2020-10-09 18:41] DonZheng commented on #6050
Hi @stelfrag,

Thanks heaps for your kind guidance. Will disabling web server impact the netdata cloud in any way?

I searched in the forum but could not find any discussion on it.

Thanks and Regards

[2020-10-09 18:49] stelfrag commented on #6050
The cloud will work fine.

Just a note:

you will not be able to use that node as a parent to enable child nodes to stream metrics to it (since the port 19999 will be disabled). From your original question though that is not the case so everything will be ok.

[2020-10-09 19:05] DonZheng commented on #6050
@stelfrag Awesome! Thanks so much for your generous help. Much appreciated!

[2020-10-09 19:20] gaia commented on #5158
Also here on proxmox, but only on the tap interfaces for pfSense.

"It is especially true for some bonding configurations if an interface is a child or a bonding interface itself. If it is expected to have a certain number of drops on an interface for a certain network configuration"

from https://learn.netdata.cloud/docs/agent/collectors/proc.plugin#monitored-network-interface-metrics

I've disab

[2020-10-09 22:06] thefiredragon commented on #5590
For this feature we would also donate some coins if someone could handle this, best Regards

[2020-10-10 03:56] #9403 closed

[2020-10-10 03:56] #9123 closed

[2020-10-10 03:56] #9802 closed

[2020-10-10 03:56] #9833 closed

[2020-10-10 18:51] ilyam8 commented on #9617
Delay could be the reason.

[2020-10-10 18:51] ilyam8 commented on #9617
closing due to incactivity

[2020-10-10 18:51] #9617 closed

[2020-10-10 18:56] ilyam8 commented on #9995
@hope1234567hope i see there are 2 options:
 - use netdata.cloud
 - use [dash dashboard](https://learn.netdata.cloud/docs/agent/web/gui/custom#dash-multi-host-dashboard) (requires parent/child setup)

[2020-10-11 00:14] DonZheng commented on #1278
Hi @ktsaou sorry for bringing this topic up again, but I'm trying to figure out how to change openvpn.total_traffic to Mb/s.

I searched in netdata.conf and go.d/openvpn.conf but cannot find where to edit the `units`, `multiplier `and `divisor `options. Can you please advise where I should look at?

P.S. At the moment, my netdata cloud console displays openvpn.total_traffic in kilobits, which is n

[2020-10-11 09:38] ratulb commented on #9411
Same issue here - in ubuntu 20.04 lxc container.

root@worker-1:~# systemctl status containerd
● containerd.service - containerd container runtime
     Loaded: loaded (/etc/systemd/system/containerd.service; enabled; vendor preset: enabled)
     Active: activating (auto-restart) (Result: signal) since Sun 2020-10-11 09:37:45 UTC; 2s ago
       Docs: https://containerd.io
    Process: 2577 ExecStar

[2020-10-11 09:53] ratulb commented on #9411
Also,
**There is no /var/cache/netdata**
root@worker-1:~# ls -la /var/cache/netdata
ls: cannot access '/var/cache/netdata': No such file or directory

[2020-10-11 11:44] AnoopAlias opened #10054 "diskstats chart not populating on CloudLinux"
diskstats are not showing even though /proc/diskstats exist and readable

[root@rep4 ~]# cat /proc/diskstats
 259       0 nvme1n1 2329 82 271886 1464 1162001 6554981 967829856 6777223 0 1445085 6779053
 259       2 nvme1n1p1 58 0 5712 14 0 0 0 0 0 11 14
 259       3 nvme1n1p2 97 0 3506 7 70 18 27904 105 0 67 112
 259       5 nvme1n1p3 2028 82 251188 1426 1146762 6554963 967801952 6653580 0 1437866

[2020-10-11 12:33] mfundul commented on #9411
@ratulb please create a new issue and include all the required information (from the issue template), plus the logs (e.g. found in `var/log/netdata/` with the relevant path prefix if required, (e.g. `/opt/netdata/var/...`).

[2020-10-11 17:52] ratulb commented on #9411
Apologies!!!

Figured out my containerd binary got corrupted.

Thanks anyway.
________________________________
From: Markos Fountoulakis <notifications@github.com>
Sent: Sunday, October 11, 2020 6:03 PM
To: netdata/netdata <netdata@noreply.github.com>
Cc: Ratul <ratul75@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [netdata/netdata] Segmentation fault (code=killed, signal=SEGV (#

[2020-10-11 20:20] thiagoftsm commented on #1278
Hello @DonZheng ,

Are you having this problem on cloud dasboard or Netdata agent dashboard?
Which version are you running?  I remember we bring few versions ago a fix to convert traffic for ebpf that also affects openvpn.

Best regards!

[2020-10-11 20:23] thiagoftsm commented on #10054
Hi @AnoopAlias ,

Can you see errors correlated to `proc.plugin` inside your `error.log`?

Best regards!

[2020-10-11 21:51] DonZheng commented on #1278
@thiagoftsm , thank you for your reply.

Sorry that I didn't make the case clear enough. I'm having this problem on cloud dashboard.

Running environment: netdata v1.25.0-151-nightly on Ubuntu 20.04.1 LTS.

After netdata installation, then manually update conf files for openvpn, I can see charts as illustrated in my previous post. Trying to figure out how to change the metrics to Mb/s, so asking f

[2020-10-12 00:16] #9883 closed

[2020-10-12 00:16] #9720 closed

[2020-10-12 00:32] mcnaveen commented on #1279
Any update on this?

[2020-10-12 00:37] mcnaveen opened #10055 "How to view text-based Nginx Access log inside netdata?"
### Question summary
How to view text-based Nginx Access log inside netdata?

##### OS / Environment
Linux sitsg-server 5.4.0-48-generic # 52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

##### Component Name
Nginx

##### Expected results
Currently, all I can view is a chart of Nginx Logs. But I want to view and search the text-based log inside that. Is it possible? Becau

[2020-10-12 02:59] AnoopAlias commented on #10054
@thiagoftsm yes

[code]
But these files indeed exist and is readable by the world

[code]
Somehow netdata cannot access it !

[2020-10-12 06:09] hope1234567hope commented on #9995
thanks, Can these functions be operated on the interface
The Dash Dashboard was a bit complicated for me

[2020-10-12 07:18] ilyam8 commented on #10055
Hi @mcnaveen, no, it is not possible, all collected data is presented as charts.

[2020-10-12 07:19] mcnaveen commented on #10055
No other possible way buddy? Badly need that.

[2020-10-12 07:42] ilyam8 commented on #9995
I dont get what is

did you try netdata cloud?

[2020-10-12 07:53] ilyam8 commented on #10055
^^ not possible, yes. It is not because of lack of plugin, netdata doesnt store logs.

[2020-10-12 07:58] mcnaveen commented on #10055
Ok got it.

[2020-10-12 07:58] #10055 closed

[2020-10-12 10:56] yasharne opened #10056 "web_log module create dimension based on log's endpoint and status code"
##### Question summary
I have already done this in promtail and I wonder if it is possible to handle it on the netdata,
Our Nginx logs contain some endpoints and status codes, we want to know the status code per endpoint.
Right now I have to define patterns in order to get requests per pattern but still, I don't know the status codes per endpoint.
Here is a sample metric I have generated based on

[2020-10-12 10:56] fayak opened #10057 "Backend "send charts matching" doesn't filter out internal Netdata monitoring"
##### Bug report summary

I'm trying to export Netdata metrics to prometheus. I'm interested in keeping Netdata internal monitoring enabled, but I don't want it to be exported to prometheus. I used the `send charts matching` key in `[backend]` to filter it out, but this config is ignored.

##### OS / Environment

Arch linux
`Linux ... 5.8.13-arch1-1 #1 SMP PREEMPT Thu, 01 Oct 2020 20:40:35 +0000 x

[2020-10-12 12:14] ilyam8 commented on #10056
Hi. There are 3 charts per url pattern:
 - Responses By Status Code
 - Bandwidth
 - Request Processing Time

So it is possible to get response status codes per endpoint, do you mean a chart per every endpoint w/o setting a pattern?

How would that chart look like?

[2020-10-12 13:22] ilyam8 commented on #9611
@hamedbrd i check weblog code and it doesn't look simple/friendly, my firt intention was to simplify it but it could take some time.

I think we could add `custom_time_field`, then simplify the code.

We need:
 - add custim fime field metrics to the metrics.go and add them to the `metricsData`

since we want avg/min/max and histogram it is ~

[code]

 - add `custom_time_field` option the [the webl

[2020-10-12 13:30] yasharne commented on #10056
Thanks @ilyam8 for your clarification, I realized I had a misconfiguration and now I get response codes per pattern, but I wonder if it is possible to create patterns automatically so that we don't need to update the configuration every time

[2020-10-12 13:30] yasharne commented on #10056
Also, is it possible to have HTTP method per url_pattern?

[2020-10-12 13:37] ilyam8 commented on #10056
This is pretty easy to add.

Looks like another configuration option. How many different uri's do you have in your logs? Just curios.

[2020-10-12 13:47] yasharne commented on #10056
@ilyam8 This Nginx has 9 different URI but some of our Nginx servers have more than one hundred different URI

How can I add it the configuration file?

[2020-10-12 13:48] ilyam8 commented on #10056
no, it is not implemented😄 i mean easy to add to the source code.

[2020-10-12 14:17] yasharne commented on #10056
@ilyam8 Also, since both python version and go version of web_log is running, I cannot find the metrics generated by the go version on the Prometheus, do they have the same name on metrics?

[2020-10-12 14:28] ilyam8 commented on #10056
Then they have different job names.

[2020-10-12 18:08] mcnaveen opened #10061 "unknown system user 'netdata' in statoverride file after uninstalling netdata"
##### Bug report summary

##### OS / Environment
Linux sitsg-server 5.4.0-48-generic #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Place the output from the command in the code section below.
[code]

##### Steps To Reproduce

1. Remove netdata using following command: /usr/libexec/netdata/netdata-uninstaller.sh --yes

[2020-10-12 18:10] mcnaveen commented on #10061
Running `grep 'netdata' /usr/bin/dpkg-statoverride` solved the issue.

[2020-10-12 18:10] #10061 closed

[2020-10-12 19:16] cakrit commented on #10006
This should be easy to do, can we tackle it right after the next release?

[2020-10-12 19:52] ilyam8 commented on #10006
Yes

- get charts for all the containers
- correct the names of the pod-level charts, or **eliminate them altogether** (perhaphs using cgroups matching pattern so it is configurable)

[2020-10-12 21:07] thiagoftsm commented on #1278
Thank you for the additional information @DonZheng.

I will ask you to create a new issue, because this original issue was related to the agent.

I think with a separated issue, it will be more clear what we need to fix.

Best regards!

[2020-10-12 21:38] DonZheng commented on #1278
@thiagoftsm , roger that. I will create a new issue shortly.

Cheers.

[2020-10-12 21:47] DonZheng opened #10062 "Displaying Mb/s for OpenVPN.total_traffic plugin on Netdata.cloud"
##### Feature idea summary
When OpenVPN plugin is enabled, Netdata Could displays openvpn.total_traffic by `kilobits/s`.

What it looks now:
![image](https://user-images.githubusercontent.com/40833875/95792954-43156900-0d30-11eb-95ff-f9e18e8a6229.png)

##### Expected behavior
`Mb/s` is preferrable for most server monitering operators so that the metrics are more readable.
Suggest we set `Mb/s` as

[2020-10-12 22:29] thiagoftsm commented on #10054
Thank you @AnoopAlias ,

After to read these last logs you gave me and considering that your Netdata is installed on `/opt/netdata`, I would like to confirm something with you. Did you install Netdata using `kickstart-static64`?

I suspect we are missing something inside our `static64` package or after the reboot CloudLinux applied some rules that are not allowing Netdata to access the `/proc`.

B

[2020-10-12 22:42] thiagoftsm commented on #1278
Thank you @DonZheng !

I assigned the issue for the cloud team.

Best regards!

[2020-10-12 23:29] DonZheng commented on #1278
@thiagoftsm Absolutely my pleasure to contribute my 2 cents worth to this great tool.

I was thinking the netdata.cloud, as a closed source product, will not respond to user feedback on github. It they do, I would LOVE to raise a few more feedbacks.

I manage quite a number of servers and can see many simple but missing features on cloud (i.e. displaying server ip address,  sorting, alias/node_nam

[2020-10-13 03:39] AnoopAlias commented on #10054
@thiagoftsm yes, netdata was installed using https://my-netdata.io/kickstart-static64.sh script

I will open a ticket with cloudlinux to see if they have any changes that could cause this

[2020-10-13 07:16] OdysLam commented on #5158
@Seji64 We are happy that you got it sorted and welcome to our community :)

Thanks @jw-g19 for providing the hint!

[2020-10-13 07:19] OdysLam commented on #9863
@Mosney welcome to our community :)

I think at this moment you can not. There is a number of improvements we can do on the installer, but it's not currently on our priority. @Ferroin can provide more insight!

[2020-10-13 07:47] OdysLam commented on #10061
Welcome @mcnaveen to the community :) We are glad that you made it work in the end :)

[2020-10-13 07:49] OdysLam commented on #9411
Welcome to our community @ratulb ! We are glad that you made it work in the end :)

[2020-10-13 08:16] OdysLam commented on #7133
Hey everyone,

As every month, here are the contributors of the month for September 2020. Thank you so much for investing time in making this open-source project better for everyone. We hope that more users will take up the mantle and continue our great tradition. From our end, we will make sure to support you in any way, so we are launching some pretty awesome initiatives in the near future. Stay

[2020-10-13 09:09] exetico opened #10063 "Disable specific health-alarms in specific time-period"
##### Question summary
Is it possible to mute a alarm, in a specific time-period?

Real Scenario:
`ipv4 tcphandshake`, `ipv4  udperrors` and `netfilter last collected` are reporting error at 2:31 every night, due to daily backups. I can't control how it's done, but it's recovered after 5 minuters (appx.)

I know that the task will be executed at 2:30, so I was searching for an option to disable th

[2020-10-13 09:38] Mosney commented on #9863
True, a month pass away since it been reported.
For those who come after. In conclusion, you can only upgrade netdata manually with an environment variable `TMPDIR` has been set if you don't wanna change `/tmp` mount `noexec `to `exec`.

[2020-10-13 11:04] Ferroin commented on #9863
It’s not so much that it’s not a priority as it is that we have not been able to consistently reproduce the issue ourselves, which makes it rather difficult to figure out what exactly is going wrong.