[2022-02-18 20:43] ilyam8 commented on #12060
There is `-c` option in the Linux version

We add `-` so `sha256sum` uses stdin (grep output) as the file.

[code]

I think `-c` [works differently](https://www.freebsd.org/cgi/man.cgi?query=sha256&sektion=1&format=html) on Freebsd:

[2022-02-18 21:09] MikeJakubik commented on #12060
[root@fbsd13 /tmp/netdata-kickstart-XXXXXXXXXX.hzxlVe6R]# sha256sum -c "$(grep netdata-latest.tar.gz sha256sums.txt | cut -f1 -d' ')" netdata-latest.tar.gz
grep: sha256sums.txt: No such file or directory
sha256sum: : No such file or directory

[root@fbsd13 /tmp/netdata-kickstart-XXXXXXXXXX.hzxlVe6R]# ls
install-required-packages.sh    netdata-latest.tar.gz           sha256sum.txt

[2022-02-18 21:11] ilyam8 commented on #12060
my bad, it is `sha256sum.txt`, not "sha256sums.txt". I edited my prev post.

[2022-02-18 21:15] ilyam8 commented on #12060
And let's see building even works, let's skip `kickstart.sh` (anyway it only downloads latest tar.gz; uzip it and runs the installer), see https://learn.netdata.cloud/docs/agent/packaging/installer/methods/freebsd

[2022-02-18 21:15] MikeJakubik commented on #12060
No worries, I make those all the time 📦

[root@fbsd13 /tmp/netdata-kickstart-XXXXXXXXXX.hzxlVe6R]# sha256sum -c "$(grep netdata-latest.tar.gz sha256sum.txt | cut -f1 -d' ')" netdata-latest.tar.gz
sha256sum: 58ef020e0c9ba705b8f8fa56c6481ef0947d46f7dd8f06d5160d835095a23aae: No such file or directory

[2022-02-18 21:18] MikeJakubik commented on #12060
Yeah, you may run into issues there too. See my Github bug:

https://github.com/netdata/netdata/issues/12060

---- On Fri, 18 Feb 2022 16:15:40 -0500 Ilya Mashchenko ***@***.***> wrote ----

And let's see building even works, let's skip kickstart.sh (anyway it only downloads latest tar.gz; uzip it and runs the installer), see https://learn.netdata.cloud/docs/agent/packaging/installer/methods/freeb

[2022-02-18 21:19] ilyam8 commented on #12060
@MikeJakubik I guess FreeBSD VM is required to debug the issue. I Will let @netdata/agent-sre handle it.

[2022-02-18 21:29] MikeJakubik commented on #12060
Err, I replied to this thinking you were someone else as there is also a port being made for Netdata that mostly works, aside for some cloud issues (dashboard not displaying OS type or total system memory and complaining the API is out of date
![Screenshot 2022-02-18 162930](https://user-images.githubusercontent.com/73555475/154763752-e0e23934-efbc-48b6-85c2-bb06209e2dca.png)
while running 1.31. S

[2022-02-18 21:53] MikeJakubik commented on #12060
You may also just use the FreeBSD shasum command like so, also it's less complicated.

[root@fbsd13 /tmp/netdata-kickstart-XXXXXXXXXX.hzxlVe6R]# shasum --ignore-missing -c sha256sum.txt
./netdata-latest.tar.gz: OK

[2022-02-18 21:54] MikeJakubik commented on #12060
You may also just use the FreeBSD shasum command like so, also it's less complicated.

[root@fbsd13 /tmp/netdata-kickstart-XXXXXXXXXX.hzxlVe6R]# shasum --ignore-missing -c sha256sum.txt
./netdata-latest.tar.gz: OK

[2022-02-18 22:08] forkbomb9 commented on #12060
Hi, I've been following this for a little while.

I'm the (kinda) maintainer for `net-mgmt/netdata`, and I haven't encountered the issues @MikeJakubik did.

I haven't tried using the kickstart script, but the best way to check the sha256 sum would be
`sha256 -c "$(grep netdata-latest.tar.gz sha256sums.txt | cut -f1 -d' ')" netdata-latest.tar.gz`
This works for me
`SHA256 (netdata-latest.tar.gz) =

[2022-02-19 15:43] TheTyrius commented on #10264
Hello, I would like to propose another addition to this feature: Fallback to uid if `getpwuid` fails, regardless of docker involvement.
In my case, nvidia-smi reports the uid of a user inside an unpriviledged lsc container. This uid is not known on the host, and the monitoring fails with `2022-02-19 16:28:41: python.d ERROR: nvidia_smi[nvidia_smi] : update() unhandled exception: 'getpwuid(): uid n

[2022-02-19 16:19] ilyam8 commented on #10264
Hi, @TheTyrius. If I understand you correctly we need the following

[code]

Can you change `get_username_by_pid_safe` and see if it fixes your problem?

[2022-02-19 16:36] TheTyrius commented on #10264
Hi @ilyam8 thanks for getting back to me so very fast!
Indeed that is what I was asking. I edited the file and from my quick tests it seems to be working as expected.

I see you already drafted a PR, so I won't have to. I'd be glad to see this improvement merged :) Thanks again.

[2022-02-19 21:29] ktsaou opened #12186 "[Feat]: netdata-claim.sh is too cryptic, documentation missing"
### Problem

[code]

Now what? No URL on the above error message to find help. No link to discord either.

Let's try to claim it by hand:

`netdata-claim.sh` does not have any command line help:

[code]

The "Add Nodes to War Room" modal on the cloud, does not provide any hints on how to call `netdata-claim.sh`.

Let's hope `netdata-claim.sh` supports the same parameters as `kickstart.sh` does:

[

[2022-02-19 22:12] Mic-Pod opened #12187 "[Feat]: Alarms for NUT (UPS)"
### Problem

_No response_

### Description

Hi,
It would be great to have alarms for UPS monitored via nut. Such alarms exists for apcupsd (https://github.com/netdata/netdata/blob/master/health/health.d/apcupsd.conf).

### Importance

nice to have

### Value proposition

In some scenarios, users can't use apcupsd and has to use nut. Sadly, when using nut, netdata will not alert when there will be

[2022-02-20 09:01] ilyam8 commented on #12060
@forkbomb9 thanks for chiming in 👋 Since you are (kinda) the maintainer of https://www.freshports.org/net-mgmt/netdata: according to the attached screenshots, it seems Netdata is built without protobuf support. Why?

[2022-02-20 09:10] erdem2000 commented on #10553
Hi @Saruspete !
@ilyam8 and I tested this issue with different combinations on the master branch and latest version of the Netdata and unfortunately ( maybe fortunately :) ) we could not reproduce segfault.
So I would like to ask you if you still experience this issue with the latest version or the master branch of the Netdata. If you don't then we can close it.

[2022-02-20 13:20] Whisper40 opened #12189 "[Bug]: Strange behaviour very high use of storage at the start of the container"
### Bug description

I have 4 servers, on which Netdata is installed.
Today I got an alert from netdata:
disk_space._var_lib_netdata (/var/lib/netdata), disk space usage = 100%.
disk_space._var_cache_netdata (/var/cache/netdata), disk space usage = 100%.
disk_space._etc_netdata (/etc/netdata), disk space usage = 100%

Following this alert, I was noticed, and I saw that the / was complete, (its siz

[2022-02-20 13:59] ilyam8 commented on #12189
Hi, @Whisper40.

- Can you add the host system info to "System info"?
- Share the docker run/docker-compose file (remove any sensitive data if needed)

[2022-02-20 14:03] Whisper40 commented on #12189
@ilyam8 Updated :)

[2022-02-20 15:29] ilyam8 commented on #12189
@Whisper40 thanks! Do I understand you correctly:
 - Netdata container not started: `df -h` shows /dev/md2 Use% ~ 50%
 - After Netdata container started: `df -h` shows /dev/md2 Use% ~ 90%

[2022-02-20 15:38] forkbomb9 commented on #12060
@ilyam8 I hadn't noticed the new dependency on protobuf for the cloud, as I don't really use it.
But it's been fixed two days ago, after a conversation with @MikeJakubik, so now protobuf is a dependency when the cloud support is enabled.

[2022-02-20 16:11] MikeJakubik commented on #12060
Yes, just to confirm @forkbomb9 port is working great so far in FreeBSD 13 -stable. It is using the protobuf method.

[2022-02-20 17:23] Whisper40 commented on #12189
Yes, but the problem occurred in two cases:
1 ) Netdata has been running for 4 days, and suddenly this behaviour happens.

2 ) Netdata starts and the problem occurs within 10 minutes.

[2022-02-20 17:45] ilyam8 commented on #12189
I see you are using bind mounts, so we can check space usage from the host.

[code]

[2022-02-20 17:52] Whisper40 commented on #12189
[code]

[2022-02-20 17:54] Whisper40 commented on #12189
When the problem occurs :
![image](https://user-images.githubusercontent.com/30440458/154856661-2c068217-992e-4c23-8c81-f9682b4bf7f8.png)

After that the cache has been reduced :
![image](https://user-images.githubusercontent.com/30440458/154856703-7a124d84-24a3-4070-acbd-5a9c1ed7ac31.png)

[2022-02-20 18:11] ilyam8 commented on #12189
@Whisper40 yes, but it is not Netdata that uses the space. As you **[checked by yourself](https://github.com/netdata/netdata/issues/12189#issuecomment-1046288821)**, Netdata uses 2b7MiB. The charts in the OP are misleading, they show /dev/md2 (mounted at /) space usage.

[2022-02-20 18:16] Whisper40 commented on #12189
It seems that it is /var/lib/docker/overlay2/1ee2711........ that was using the space. But it seems that this volume is owned by netdata because it is netdata that has led to the increase in the amount of space used

The problem is that i don't understand how can netdata use space in / because it should only use space in /home/whisper40/config/netdata

[2022-02-20 19:31] thiagoftsm commented on #12027
Hello @vobruba-martin and @davidmehren,

Sorry for the delay, but I was waiting for netdata `1.33.1` to be released for me to bring the fix. I made the PR https://github.com/netdata/netdata/pull/12190 that is bringing the latest socket code I already merged with PR https://github.com/netdata/kernel-collector/pull/291.  While I was developing this new PR I did not observe any problem, including whe

[2022-02-21 02:13] AnnAngela opened #12193 "[Bug]: The Netdata Cloud said that my node does not have proto-support but my node said it does"
### Bug description

The Netdata Cloud said that my node does not have proto-support:

![image](https://user-images.githubusercontent.com/9762652/154877465-8806a935-4f4f-4559-a138-9630f8ebe642.png)

 but my node said it does:

![image](https://user-images.githubusercontent.com/9762652/154877554-f189b526-9298-4563-80b0-2a12761d2c0f.png)

I tried to reinstall the agent, but it doesn't change anythin

[2022-02-21 07:55] stelfrag commented on #12193
@AnnAngela thank you for reporting this, we will take a look on the cloud side. Your agent is good to go indeed and will work just fine.

[2022-02-21 08:08] stelfrag commented on #12193
@ravilushqa @burbuli8ra can you please check?

[2022-02-21 08:32] ravilushqa commented on #12193
@stelfrag yes, I'll check it

[2022-02-21 08:44] ravilushqa commented on #12193
@AnnAngela thanks for reporting! Can you please share your account email or space-id to identify your problem

[2022-02-21 09:16] burbuli8ra commented on #12193
Hello @stelfrag !
In Cloud dashboard FE we display the value of `isProtobufCapable` key for each node, received from the API call of `/api/v1/spaces/{spaceId}/rooms/{roomId}/nodes`!
I am not quite sure how the mechanism of BE validates protobuf support for adding the value to the response, but in order to make sure that this issue is on BE side only, would it be possible for you to invite me to th

[2022-02-21 10:27] ravilushqa commented on #12193
Also I've updated nodes state in the cloud, so your problem might be solved

[2022-02-21 10:27] ilyam8 commented on #10264
@TheTyrius the fix is merged

[2022-02-21 10:59] vobruba-martin commented on #12027
Hi @thiagoftsm,

I always use kickstart script to install netdata so I'm not familiar with manual installation. Is it enough to clone the branch, run `cmake -DNETDATA_INTERNAL_CHECKS=1` and that's it? Files in `/etc/netdata` and `cache directory` directories stay intact and after testing I can safely revert to the current version?

[2022-02-21 11:00] vlvkobal commented on #11878
Finally, reproduced the issue on my RPi.
[code]
What is interesting is the parent of the second `charts.d.plugin` (454718) is the first one (451274), not netdata.

[2022-02-21 11:02] mfundul commented on #11878
Hey @vlvkobal ! Can you kill the process with -9? Can you share your kernel log (`dmesg`)?

[2022-02-21 11:23] vlvkobal commented on #11878
No, I can't kill it with `kill -9`.

[code]

[code]

When I attach strace to 454718, I can't detach it, I can only kill it with `-9`.

[code]

[2022-02-21 11:52] phiberoptick commented on #11878
It doesn't appear to have anything at all regarding Netdata or those procs.  It's kind of lengthy but I will attempt to post here.

[code]

[2022-02-21 12:13] mfundul commented on #11878
It could be that the process is waiting for children with e.g. `waitpid()` (https://man7.org/linux/man-pages/man2/waitpid.2.html), and `SIGKILL` is restarting the syscall:
[code]
which could explain the high CPU utilization of the process, if it's in some kind of restart loop.

I think you should profile the process with `perf` and get a stack trace of the user and kernel level functions that are

[2022-02-21 13:44] AnnAngela commented on #12193
Oh, I've re-checked the space page and the notification has been gone, NP now.

(Just wanted to mention, in many times the space page needs too much time to update the nodes' states, for example the alarm status, IDK why =。=)

[2022-02-21 13:55] jonknud opened #12200 "[Bug]: Mdstat warning not disappearing after fixing raid"
### Bug description

I had an drive fail in my raid. I got an alarm from netdata - great :-)

I changed the drive and resynced the raid.

I still have the warning in netdata cloud.

Did I do something wrong with fixing my raid?

What is netdata checking?

Why is the waring still there?

### Expected behavior

The warning should go, if the raid is fixed.

### Steps to reproduce

I am not sure.

###

[2022-02-21 14:03] Ferroin commented on #12186
Possible partial fix here: https://github.com/netdata/netdata/discussions/12179

95% of the issues around this are because it’s a shell script that was cobbled together in a hurry early on in the life of the cloud and then never got reimplemented in the agent code like it should have been in the first place.

[2022-02-21 14:56] #12059 closed

[2022-02-21 14:56] ilyam8 commented on #12200
Hi, @jonknud. That is probably fixed in #12021. @MrZammler am I correct?

[2022-02-21 15:00] thiagoftsm commented on #12152
@Ferroin I think netdata agent could create a named shared memory for all process to communicate. between them. We could have a thread dedicated to do this.

[2022-02-21 15:00] ilyam8 commented on #12200
@jonknud did you try to restart Netdata? If not, let's do it and see if that fixes the problem.

[2022-02-21 15:06] jonknud commented on #12200
Yes, I restarted netdata and I also rebooted the server before I submitted the issue.

[2022-02-21 15:20] MrZammler commented on #12200
Hi @jonknud ! Can you please the local dashboard of Netdata, if the alert is also raised there?

Thanks!

[2022-02-21 16:21] vlvkobal commented on #11878
It looks like the process is stuck in kernel calls. What I don't understand is why functions like `udp_rcv` `ip_output` were caught by `perf record -p 454718`.
[code]

[2022-02-21 16:49] thiagoftsm commented on #12027
Hi @vobruba-martin ,

In normal situation, after to clone, I install Netdata with the following command:

[code]

The installation won't remove any file.

If you prefer, we already merged the PR, so tomorrow the solution will be available with our `kickstart`. As soon I test it, I will come here to give you an update and you will be able to use the `kickstart`.

[2022-02-21 16:56] vobruba-martin commented on #12027
Yes, I will wait for this. Thank you!

[2022-02-21 17:07] jonknud commented on #12200
I never used the local dashboard but I think it is not there.

![image](https://user-images.githubusercontent.com/28842347/154999901-26fb8793-9f06-4b00-8a66-1b88089fe788.png)

[2022-02-21 17:18] aehlke opened #12204 "[Feat]: NXINX Unit support"
### Problem

_No response_

### Description

I see explicit support for Nginx, Nginx+ but couldn't find reference if their more modern application server Nginx Unit is supported by this project. Thanks

### Importance

blocker

### Value proposition

1. performance monitoring not just of other layers of my stack, but also the web layer. nginx unit is clearly the future of nginx platform so more co

[2022-02-21 17:58] mfundul commented on #11878
Could be https://bugs.launchpad.net/ubuntu/+source/linux-raspi/+bug/1932586 or https://bugs.launchpad.net/ubuntu/+source/linux-raspi/+bug/1943043 ?

[2022-02-21 18:00] Ferroin commented on #12152
I suspect implementing it as a segment per info source may be better in the long run. The tricky part regardless would be dependency tracking though (for example, if we are running eBPF, then the process supplying the data needs to provide info from `/proc/net/tcp`, but if we are not running anything that needs it we shouldn’t waste resources parsing/fetching it)

[2022-02-21 18:01] Ferroin commented on #12186
The particular case mentioned in the OP is indeed that, but the general information is that this is a problem regardless of _why_ the claiming fails.

[2022-02-21 18:25] ilyam8 commented on #12186
I think that is the main problem here. If you need to claim your node the Cloud suggests using `kickstart`

<img width="826" alt="Screenshot 2022-02-21 at 21 20 27" src="https://user-images.githubusercontent.com/22274335/155008790-59ab4e34-eb00-4638-9621-c5d404d91a6e.png">

And the issue is - we don't call `claim()`.

I may be wrong, but I am under impression that `netdata-claim` is not supposed t

[2022-02-21 18:28] #11933 closed

[2022-02-21 19:12] wooyey opened #12205 "[Bug]: HP Smart Storage Arrays collector is failing to parse `ssacli` output"
### Bug description

hpssa collector fails when parsing `ssacli` output that includes `Disk Partition Information`:

[code]

Example data that triggers the error:
[code]

### Expected behavior

No parsing error

### Steps to reproduce

1. Use HP system with smart array configured in specific way...

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

###

[2022-02-22 06:18] #12193 closed

[2022-02-22 07:06] #12205 closed

[2022-02-22 07:17] vlvkobal commented on #11878
There is no heavy network usage on my RPi. It could be a burst transmission though. I tried starting new processes while downloading a huge file but couldn't reproduce the issue that way - I've got a zombie process instead.

Anyway, the issue we are discussing looks very similar to the bugs you mentioned. I suppose it is a kernel bug indeed.

[2022-02-22 09:15] MrZammler commented on #12200
Ok, thanks @jonknud !

We will have a look, but I will need a favor please: Can you send the `access.log` file from `/var/log/netdata` please to manolis at netdata dot cloud ? Thanks!

[2022-02-22 12:29] andrewm4894 commented on #12177
i'm not sure what the specific issue is with the defaults as they are?

application specific measures are covered by `!apps.*`.

unless maybe @ktsaou means that we should add more such that if specific collectors are enabled then they would be automatically picked up.

for example on london demo site you can see that [nginx charts](http://london.my-netdata.io/#menu_nginx_local;after=0;before=0;the

[2022-02-22 13:18] thiagoftsm commented on #12027
Hello @vobruba-martin ,

I tested now and the `kickstart` already has the latest version of `eBPF.plugin` for `nightly`, if you run the next command:

[code]

your system will be updated with it.

Best regards!

[2022-02-22 14:01] shyamvalsan commented on #12177
@andrewm4894 yes that's exactly the point, that any application specific charts (nginx, postgres, whatever) should show up here.
The config is after all named "charts to skip from training" so the user would not think they need to manually add any charts here.

[2022-02-22 15:24] #11344 closed

[2022-02-22 15:25] yasharne commented on #10989
Hi @ilyam8 @stelfrag
yes, today I encountered this issue again on 1.33.0:
![image](https://user-images.githubusercontent.com/7656049/155163077-4234a7a7-e159-4eeb-957f-4b4aa6fea500.png)
While it is the chart collecting data:
![image](https://user-images.githubusercontent.com/7656049/155163303-d995536b-a8cd-4bc8-95a5-b84b15a1f90b.png)
When I click on this icon:
![image](https://user-images.githubuse

[2022-02-22 15:28] Ferroin commented on #11183
We have plans to sign our packages, but for the moment they are on-hold pending a migration from Package Cloud to self-hosting of our repositories.

[2022-02-22 15:32] yasharne commented on #9342
Hi @ilyam8
I still see this problem in some children (it is not easy to find it, we discover it either by chance or when the service breaks)
![image](https://user-images.githubusercontent.com/7656049/155165208-7336c2e0-696b-404d-a350-a0d12a195560.png)

[2022-02-22 15:51] vobruba-martin commented on #12027
Hi @thiagoftsm,

Now I'm running `v1.33.1-42-nightly` with `socket = yes` and I can see that eBPF - network connections charts are back again. I will let you know after 1-2 days how is it going.

[2022-02-22 15:57] thiagoftsm commented on #12027
Hello @vobruba-martin ,

Thank you for your initial report! :)
We will waiting for your feedback!

Best regards!

[2022-02-22 16:06] Ferroin commented on #10356
Yes, I _think_ this can safely be closed now as the preferred claiming approach is to use the kickstart script, which _should_ find the claiming script correctly on macOS now.

[2022-02-22 16:06] #10356 closed

[2022-02-22 16:09] Ferroin commented on #10330
This should be essentially fixed now with the current kickstart script except for some uncommon edge cases.

If you still are seeing an issue like this, please open a new bug report with more specific details.

[2022-02-22 16:09] #10330 closed

[2022-02-22 16:11] #10076 closed

[2022-02-22 16:13] Ferroin commented on #9542
This can be closed as it’s been completely resolved.

[2022-02-22 16:13] #9542 closed

[2022-02-22 16:17] Ferroin commented on #9517
_Most_ of the work required for this should be done now, at least for the CPU architectures we provide static builds for (currently 64-bit x86, ARMv7a, AArch64, and POWER8+).

I believe we still need to fix the handling of compression in the self-extracting tarball header we use for our static builds (the code in the heredoc that makes p the majority of `packaging/makeself/makeself-header.sh`), bu

[2022-02-22 16:20] Ferroin commented on #9351
Closing this as we are working on completely replacing the indicated script, and the replacement will likely avoid the issues outlined here.

[2022-02-22 16:20] #9351 closed

[2022-02-22 16:21] Ferroin commented on #9296
Enough has changed here that we need to retest to see if it0s still an issue.

[2022-02-22 16:22] Ferroin commented on #8898
A number of things tangentially related to this have changed, so if someone could check and confirm if it’s still an issue that would be appreciated.

[2022-02-22 16:24] #8488 closed

[2022-02-22 16:25] Ferroin commented on #8396
Closing this as it’s obviously not going to happen, and we are pivoting instead to preferentially pulling in minimal dependencies and not building locally at all.

[2022-02-22 16:27] #8396 closed

[2022-02-22 16:36] Ferroin commented on #7901
Closing this, as it is (mostly) a non-issue now for newer installs and it’s not really possible for us to retrofit old installs to avoid the issue.

[2022-02-22 16:36] #7901 closed

[2022-02-22 16:39] Ferroin commented on #3711
This is long-since resolved.

[2022-02-22 16:39] #3711 closed

[2022-02-22 16:40] #4303 closed

[2022-02-22 16:46] vobruba-martin commented on #12027
Sadly it didn't take long and the error is back :(

[code]

[2022-02-22 16:55] ilyam8 commented on #9296
Still an issue, but different from https://github.com/netdata/netdata/issues/9296#issuecomment-716422394.

I installed v1.31.1 tag, but

[code]

[2022-02-22 17:15] marcelmfs commented on #9351
Hi, Could you please make it so that when invoking curl the environment variables are sourced?

I often find myself downloading the intermediate shell scripts to edit the curl command to allow for `-x proxy:port` or to declare `HTTPS_PROXY` at the top of the script.

[2022-02-22 18:25] ktsaou opened #12217 "[Feat]: netdatacli aclk-state info"
### Problem

[code]

### Description

Users do not have enough visibility on what is happening, so it is impossible for them to trace, debug and report ACLK connectivity issues.

### Importance

blocker

### Value proposition

Provide enough information so that people can see how cloud connectivity works.

### Proposed implementation

[code]

[2022-02-22 18:38] ktsaou commented on #12217
@underhood please have a look.

[2022-02-22 19:04] cronlabspl commented on #9342
@yasharne while I dont experience the bug you're experiencing, I can wholeheartedely agree that alerting service in ND sucks big time.

[2022-02-23 01:44] thiagoftsm commented on #12027
Hello @vobruba-martin ,

Thank you for your feedback. When I ran the tests, I could not recreate the problem, so I thought it had gone, but as you showed there is something that I am still missing. Tomorrow I will create another VM to recreate the problem.

[2022-02-23 09:07] vobruba-martin commented on #12027
Hello @thiagoftsm,

Maybe it is irrelevant but here is my `/etc/sysctl.conf` in which I've done some changes against the default one:

[code]

[2022-02-23 09:14] shyamvalsan opened #12222 "Add Anomaly Rate indication to every chart"
**User Perspective**

**Objective**
Enrich all Netdata charts with anomaly rate information

**Description**

- All Netdata charts for dimensions and metrics (presuming it is a metric for which ML anomaly detection is enabled) must display an anomaly rate indication.

- The user must have an option to disable the anomaly rate indicator if they so wish. But the default will be enabled. (Assuming th

[2022-02-23 09:18] shyamvalsan commented on #12222
cc: @novykh @hugovalente-pm this is probably the first item we should pick up once Anomaly Advisor MVP is done.

[2022-02-23 09:41] underhood commented on #12217
Yep on it, most of it is easily added.

- `Status: ONLINE or TRANSPORT (connected but never heard anything for cloud) or OFFLINE` This one needs to be groomed with cloud properly as agent currently has no notion of cloud considering it offline. We do care about MQTT connection being alive (both by sending MQTT pings and by other means like counting PUBACKS) so we do indeed know our comms are worki

[2022-02-23 11:16] MrZammler commented on #11347
Hi @yasharne ! Really sorry for the really late reply, let's try to find out what's happening...

There has been a patch over the last releases (from 1.33.0) where if child was to get disconnected, health would not run on the parent for it when it re-connected. Can you check please if the issue persists with a recent version on the parent?

Again, it's my understanding that the alerts don't work o

[2022-02-23 11:20] #10207 closed

[2022-02-23 11:26] ktsaou commented on #12217
You are right, but still there is a strong indication you are online: the cloud talks to you back at the application level. Until you hear something back, you are not online for sure.

Anyway, if you add the message counters I suggested, we will be able to see you are not online by the message counts.

Yes, ok.

[2022-02-23 11:35] ktsaou commented on #12177
@andrewm4894 no, they are not. `apps.*` monitors the resource utilization of applications. That is, their CPU, RAM, network, disk, etc. They do not include application metrics, my mysql queries, mysql index performance, nginx connections, etc.

In fact, every application generated metric is ignored with the default setting.

The filter should work the other way around. Exclude charts we know they

[2022-02-23 13:38] stelfrag commented on #9342
@yasharne what netdata version are you currently using?

[2022-02-23 13:59] #12180 closed

[2022-02-23 14:39] mjtice commented on #11191
I just noticed this happening to me with `1.32.1`.  Specifically when we enable statsd (to gather telemetry data from our Hashicorp Vault instance).
[code]

[2022-02-23 16:48] stelfrag commented on #11849
Closing this --> triggering discussion https://github.com/netdata/netdata/discussions/12229

[2022-02-23 16:48] #11849 closed

[2022-02-23 17:08] ktsaou commented on #12178
@shyamvalsan could you please give an example of a highly volatile dimension?

[2022-02-23 17:12] ktsaou commented on #12180
@vkalintiris I saw you kept the 1st training. Why? What do we gain by having the first training done on every metric?

[2022-02-23 17:34] shyamvalsan commented on #12178
@ktsaou let me try to show an example from [staging](https://staging.netdata.cloud/spaces/[myspace](https://staging.netdata.cloud/spaces/myspace/rooms/general/overview#chartName=menu_system_submenu_cpu)/rooms/general/overview#chartName=menu_system_submenu_cpu)

Here the first chart is the anomaly rate, which as you can see is all over the place, the second chart is the metric value itself.

![imag

[2022-02-23 17:58] ktsaou commented on #12178
ok. got it, thanks.

Any ideas on how to detect and exclude these?

[2022-02-23 18:09] Ferroin commented on #9296
Hmm, that looks like it0s a bug in how we’re building the Docker images. It’s _probably_ harmless (the image does appear to correctly be a build of v1.33.1), but it may be the root cause of this issue also.

[2022-02-23 18:23] shyamvalsan commented on #12178
We could check how many times the anomaly bit for a metric has toggled in the last 1 hour - if it is greater than some threshold X then exclude from training. But the problem would be - one we'd have to train once and measure anomaly bits for a certain duration to arrive at this conclusion.

Another option would be to detect during the initial training period - for example, if the K means clusters

[2022-02-23 18:59] ktsaou commented on #12178
This will possibly lead to a situation where we train for 1 hour, we don't train for 1 hour, then we train for 1 hour, then we don't train for 1 hour. Not good I think...

---

In the examples you posted, I see that the metric goes through a series of values. Not many of them. Just a few values (< 5) that change quite frequently. Probably if you average over 1 minute, these metrics are constant to

[2022-02-23 19:01] vkalintiris commented on #12180
If we skip training entirely, we won't have a trained model in order to compute the anomaly score if/when the dimension's value change at some point in the future.

I mulled over the idea of generating one on the spot, ie. as soon as we find that a dimension is no longer constant, but training is a time consuming operation and we can't block the thread that calls `rrdset_done` that long.

100% cor

[2022-02-23 19:11] mjtice commented on #11191
Hey @ilyam8 I built the nightly into `/opt/netdata` and pointed it at my current install `/etc/netdata.conf` via `ExecStart=/opt/netdata/usr/sbin/netdata -P /var/run/netdata/netdata.pid -D -c /etc/netdata/netdata.conf` and so far things are looking good (it hasn't crashed)!

[2022-02-23 19:34] ilyam8 commented on #9296
@Ferroin, it is the root cause. I forgot to add - manually changing RELEASE_CHANNEL to stable fixed the issue.

[2022-02-23 20:08] andrewm4894 commented on #12177
@vkalintiris maybe we might think a bit more about another more obvious and cleaner way to define this. With still some maybe hard upper limit perhaps so we still have some upper bound.

Not sure but agree would be nicer if the ml "just worked" a bit more out of the box for whatever collectors etc are enabled (up to some same limit or upper bound we can at least have a gaurantee on maybe (which th

[2022-02-23 21:00] data-dude commented on #11184
This is a problem for me with 1.33.0.
I'm running Netdata with 110 servers

[2022-02-23 21:01] ktsaou commented on #12180
So, let me understand.

1. We have a dimension that is always constant. Let's say 100.
2. We train a model for it.
3. The dimension now starts having variable values. 102, 120, 200, 90, etc.
4. Are they going to be outliers all of them until the next training?

If they are going to be outliers all of them, then just mark them as such.
If they are not going to be outliers, then don't mark them as s

[2022-02-23 21:14] ktsaou commented on #12186
There are several issues mentioned here:

1. Kickstart fails with a `custom` install.
2. Kickstart fails without a documentation link to help the user go through the manual steps required.
3. Kickstart fails without a a link to discord or any idea of how the user can ask for help.
4. Kickstart does not call `netdata-claim.sh` on `custom` installs that cannot be updated.
5. `netdata-claim.sh` does

[2022-02-23 21:52] data-dude opened #12232 "[Bug]: segfault in Netdata parent for v1.33.1"
### Bug description

I get a segfault in the Netdata parent randomly but usually within 30 minutes.

### Expected behavior

No segfault

### Steps to reproduce

1. Run the netdata helm chart.  although i debugged this by overriding the command with watch ls and then running /usr/sbin/run.sh manually.
2.
3.
...

### Installation method

helmchart (kubernetes)

### System info

[code]

### Netdata b

[2022-02-24 01:03] thiagoftsm commented on #12027
Thank you very much @vobruba-martin !!!
You gave us an important contribution, because I will have condition to be nearest your environment now.

[2022-02-24 06:31] cronlabspl commented on #9342
TBH after today's night where ND was left on-screen, and hasnt been touched for 7+ hours, all the charts in dashboard were displaying `timeout`, I musat say that not only alerting is unreliable, but **whole ND is piece of unusable crap**.

Sorry for my language, but situations like this ( timeouts ) is totally unacceptable in any serious workplace.

Just imagine monitoring critical infrastructure

[2022-02-24 08:00] ktsaou commented on #9342
@yasharne @cronlabspl thank you for these reports. Please don't give up yet.

From the chart you posted, I see that your system starved for CPU. Netdata by default runs with `CPUSchedulingPriority=idle` so your system didn't allow netdata to run while your system was under pressure.

We have made this choice as a default to respect the production applications you run. If they need all the CPU, Net

[2022-02-24 08:13] cronlabspl commented on #9342
@ktsaou oh c'mon; Seriously you think that timeouts are ok in serious monitoring solution ND tries to be? Or are you trying to say its not NDs fault? Than let me say this: there was other monitoring solution powered up monitoring same env, and guess what? **Nothing**, not even warming, not to mention critical alert.

[2022-02-24 08:14] ktsaou opened #12233 "[Bug]: EBPF plugin crashes (SIGSEGV)"
### Bug description

[code]

### Expected behavior

Not crash

### Steps to reproduce

1. Run netdata on my Gentoo box, with kernel 5.15.23-gentoo-dist

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-02-24 08:14] ktsaou commented on #12233
@thiagoftsm have a look here please.

[2022-02-24 08:19] MrZammler commented on #12232
Hi @data-dude ! Thanks for your report. Can you please share more on the environment it's running? OS, version, etc?. Also I assume the parent is not connected to the cloud, right?

Is it somehow possible to have the error.log of the parent ?

[2022-02-24 08:37] ktsaou commented on #9342
Well, if your system starves for resources, you have to pick. You want the monitoring to work or you want the application to work? I get your point though. Probably the right solution is to let both apps compete equally.

@Ferroin please make a PR to remove the settings that lower the scheduling priority of netdata. Let's have the netdata compete for resources.

Well, if your system starves for re

[2022-02-24 08:45] cronlabspl commented on #9342
@ktsaou there is nothing more to add in email as everything was posted by me here..........

Thats untrue. We have quite a big amount of resources lying idle waiting to be used. None of our system starves for resources.

Thats also untrue. Whats more: you arer pushing fault away from ND. As you are original creator of ND its quite understandable, but please, do not change facts........

Please rea

[2022-02-24 08:58] cpipilas commented on #12186
We need to decide if we still want to expose `netdata-claim.sh` for claiming or we will do claiming using `kickstart`. I'm in favour of the second option to keep things simple, especially due to the fact that claiming params/format is different between these two.

Currently, to reconnect a node we suggest the use of `netdata-claim.sh` [in our documentation](https://learn.netdata.cloud/docs/agent/c

[2022-02-24 09:04] Whisper40 commented on #12189
@ilyam8
Same problem today, again full for 30 minutes and then it decrease..
I don't understand why it is not netdata that is filling.
Are you sure, that it is something else that is responsible of this ?

[2022-02-24 09:20] vkalintiris commented on #12180
@andrewm4894 is Costa's suggestion sound from an ML perspective?

[2022-02-24 10:31] Tejes commented on #11184
@data-dude I'd advise opening a new issue for your problem. This one is closed, and you are most probably affected by a different bug.

[2022-02-24 10:39] MrZammler commented on #10989
Hi @yasharne , thanks for the follow up. What is the setting on the parent's `stream.conf` for `health enabled by default` ?

[2022-02-24 11:47] shyamvalsan commented on #12180
I don't think it makes sense to train a K means clustering model for a constant dimension. Our default is K=2, but our inputs are all going to be the same resulting in a single centroid equal to the input dimension.

In the case above, the model would only become useful when it has started seeing the non-constant dimensions (102,120,200,90 etc) so shouldn't we just wait for the flag to flip before

[2022-02-24 11:52] shyamvalsan commented on #12177
@andrewm4894 @vkalintiris wonder if as part of the testing that @erdem2000 is doing - after the default config is testing - we could run some tests to find the "breaking point" and set a max threshold for number of dimensions based on that? Then leave it to the user to change it if they so wish.

Also, can we arrive at a list of charts or metrics where we're all agreed we do NOT want to monitor fo

[2022-02-24 12:00] shyamvalsan commented on #12178
Yes, the examples I posted are of metrics that "steps" through various values. In the way we're currently detecting anomalies these will likely always show up at the top since the anomaly rate will be high.

At the least I think we should not be showing these noisy "anomalies" to the user in the UI - but ideally we should exclude these metrics from training.

Measuring the average over a longer du

[2022-02-24 12:55] shyamvalsan commented on #12180
In any case we should check what happens in dlib where we configure K=2 but the input for training is all constant dimensions, one of the centroids will be the input dimension, but what about the other? Will it be 0, initialized to some random number? Does dlib default to K=1?

I ran a quick test in Python using the Kmeans implementation in Sklearn and for the above example, it actually put 102, 1

[2022-02-24 12:58] shyamvalsan commented on #12178
I think if *both* average and stddev remain the same (or nearly the same) for previous X intervals then we could exclude those dimensions from training. If either average or stddev are no longer constant then start training for those metrics again.

Needs to be thought out a bit more to see if there's any error cases I'm missing.

[2022-02-24 13:01] ktsaou commented on #9342
You mean in this ticket? You haven't said much in this ticket, so probably you mean some other ticket. Please mention me in them. I really want to know! I am sorry I don't monitor every ticket. They are way too many...

Probably we are talking about different things. This is a very old ticket opened by @yasharne and the last image he has posted 2 days ago, shows clearly a system that starves for r

[2022-02-24 13:04] shyamvalsan commented on #12178
The point I was making earlier was if the anomaly bit for a metric is always 1 then the whole anomaly rate becomes less useful, especially since we average it across dimensions/nodes etc. There may still be value in having an upper limit on this - for example if anomaly bit is set for > 90% of interval then exclude that dimension from rest of the calculations and reporting to user.

![image](https

[2022-02-24 13:04] shyamvalsan commented on #12178
The point I was making earlier was if the anomaly bit for a metric is always 1 then the whole anomaly rate becomes less useful, especially since we average it across dimensions/nodes etc. There may still be value in having an upper limit on this - for example if anomaly bit is set for > 90% of interval then exclude that dimension from rest of the calculations and reporting to user.

![image](https

[2022-02-24 13:04] shyamvalsan commented on #12178
The point I was making earlier was if the anomaly bit for a metric is always 1 then the whole anomaly rate becomes less useful, especially since we average it across dimensions/nodes etc. There may still be value in having an upper limit on this - for example if anomaly bit is set for > 90% of interval then exclude that dimension from rest of the calculations and reporting to user.

![image](https

[2022-02-24 13:05] shyamvalsan commented on #12178
The point I was making earlier was if the anomaly bit for a metric is always 1 then the whole anomaly rate becomes less useful, especially since we average it across dimensions/nodes etc. There may still be value in having an upper limit on this - for example if anomaly bit is set for > 90% of interval then exclude that dimension from rest of the calculations and reporting to user.

![image](https

[2022-02-24 13:24] data-dude commented on #12232
@MrZammler  Yes it's not connected to the Internet.
Host: Redhat Enterprise Linux 8.4 (Ootpa), Kernel: 5.11.16-1-el8.elrepo.x86_64
container runtime: docker://20.10.7
Kubelet version: v1.21.3

The error logs go to sysout and it says:
EOF found in spawn pipe.
SEGMENTATION FAULT

[2022-02-24 13:35] data-dude commented on #11184
@Tejes I did Thanks
https://github.com/netdata/netdata/issues/12232#issuecomment-1049601927

[2022-02-24 13:38] ktsaou commented on #12178
I deleted 2 duplicate comments of yours @shyamvalsan

I think we will have a much understanding once we render the anomaly rate bar.

[2022-02-24 13:54] bbeckford commented on #12157
I'm currently experiencing this on one of my Centos 7 nodes (confirmed with Netdata live chat)

Is there a workaround whilst we're waiting for this pull request to be merged?

[2022-02-24 14:04] cronlabspl commented on #9342
Maybe one day it will be amazing, who knows? Let it be / let it not be. Its a question of your ( as a business leader ) skills.......
As of today: ND has long way ahead, should it become "amazing OSS monitoring solution"

ND core

Because itas heavily impacted by flawed design decisions taken when in planning-phase.........

Wow. Many. Just read Discord channel ( my nick on Discord is: wlisikpl ).

[2022-02-24 15:41] shyamvalsan commented on #12178
yeah, Github weirdness, I commented once and it showed up multiple times. I deleted one duplicate myself but seems there were more.

[2022-02-24 15:54] MrZammler commented on #12232
Thanks! Is it possible to post a few lines before the "EOF found in spawn pipe." ?

[2022-02-24 16:28] godismyjudge95 commented on #9863
We are on the latest version of Netdata, and we are still having the update issue on CloudLinux OS.  Unfortunately, there is not a package for CloudLinux so we have to use a static build and the static build still relies on the /tmp directory to run the script.  It would be great if we could have an official solution in the docs somewhere on how to resolve this issue.

[2022-02-24 16:45] MrZammler commented on #12233
@thiagoftsm for the last part, it could be gentoo's `ldd --version` does not output `glibc` or `musl` in it's output:
[code]

I've yet to see a musl Gentoo to see what it reports there.

[2022-02-24 16:48] Ferroin commented on #9296
OK, probably an issue in our docker CI workflow then, we’re most likely just missing a build arg there to set the channel properly.

[2022-02-24 16:56] thiagoftsm commented on #12233
I am install now the same Linux distribution that you are running to replicate and fix, but it is clear that when `netdata-installer.sh` is not able to detect `libc`, we should avoid download of eBPF programs, and probably we should not to compile eBPF.plugin.

We should not reach this level.

The problems were happening this time, because we are using a new `libbpf` version, and we changed our `e

[2022-02-24 17:51] Ferroin commented on #12186
OK, so IOW we _do_ want to support random unknown installation types such as users building _by hand_ on their own system or installing through their system package manager?

Because I’ve been under the impression given pretty much _everything_ discussed around any type of support that we do not care about such installs at all, which is _why_ the kickstart script explicitly refuses to attempt to c

[2022-02-24 18:00] Ferroin commented on #12157
Short term, explicitly asking for a static build (with `--static-only`) or a local build (with `--build-only`) _should_ work here.

I’ve also politely reminded people internally about it, so we should hopefully have enough reviews to get it merged before the end of the day tomorrow.

[2022-02-24 20:05] data-dude commented on #12232
Unfortunately I can't make changes to my system right now.  When the time comes that I can i'll run it and let you know. Thanks

[2022-02-25 00:35] cronlabspl commented on #9342
@ktsaou @cakrit
Just logged to my private ND instance and guess what I saw?

https://imgur.com/HtqjSbL

Pay close attention to RAM availability / usage......

This proves the problem reported by @yasharne **is still valid**.

Sorry guys, I seriously feel bad for you @ktsaou @cakrit .......

[2022-02-25 06:03] ktsaou commented on #9342
@cronlabspl

I understand you mean that the chart of memory availability in netdata is wrong.
Let's see. The data comes from here:

In the screenshot you posted, `htop` says you are using `459MB` out of `7.67G`. In the netdata chart I see the currently available is `7.0137G`.

Let's verify. Please run this:

[code]

What does it say?

[2022-02-25 07:23] stelfrag opened #12243 "[BUG]: Queries from the cloud for non existing nodes should return appropriate error"
### Problem

 Long timeouts on the cloud because the agent will not respond for failed queries with a failed message

### Description

Queries from the cloud for a non existent node id now record an error message in the error.log but do not inform the cloud

[code]

- The error should be in the access.log
-  A response of the failure should reach the cloud

### Importance

blocker

### Value propo

[2022-02-25 09:21] ktsaou commented on #12177
I think `netdata.*` can be safely excluded. These are internal netdata metrics, not something useful for the infra of the users.

For the others, I would first attempt not exclude anything and see in real-life which ones are usually noisy (via the anomaly rate bar on the charts), to exclude them. We have to be very picky here. We need to exclude only metrics that are alway problematic. If somethin

[2022-02-25 09:24] ktsaou commented on #12233
hm... github says I did some actions on this ticket, but I didn't. Strange...

[2022-02-25 09:41] ktsaou commented on #12186
If we can yes. If we can't no.
This only refers to the 1st bullet in my list.

Wait! "we do not care" ? No, we do care about every single netdata install.
But this "care" has many different weights.

I don't mind about automatically managing these installs, as long as there is clear help and documentation on what users should do.

So, points 1 and 4 may stay as they are if we believe that we can't

[2022-02-25 09:59] ktsaou commented on #12180
Let's make the example a little better:

1. We have a dimension that is always constant. Let's say 100.
2. We train a model for it.
3. The dimension now starts having variable values. 102, 102, 102, 102, 120, 120, 120, 120, 105, 105, 105, 105, etc.
4. Are they going to be outliers all of them until the next training?

If they are going to be outliers all of them, then just mark them as such.
If th

[2022-02-25 10:25] vkalintiris commented on #12177
I like this idea. I'll have a custom version of the agent run, and I'll try to see how many of them we could remove.

[2022-02-25 11:39] cronlabspl commented on #9342
@ktsaou what are you talking aBOUT? I cleasrly showed that alerting is unreliable; so what else you need? and what you need it for? There is nothing to verify.

You still seems to push guilt away from ND upon me.

[2022-02-25 12:46] #12157 closed

[2022-02-25 12:47] Ferroin commented on #12157
The fix for this is now merged and should show up in the nightly builds starting from tonight, as well as in the next stable release (which, IIRC, should be in a couple of weeks).

[2022-02-25 12:50] thiagoftsm commented on #12233
This was the motive I decided to add a new algorithm to detect, to run direct on terminal the file `/lib64/libc.so.6` looks like the safety to get output for `libc`.

[2022-02-25 12:51] thiagoftsm commented on #12233
I cannot see any log since yesterday, the unique `action` I can see is the label addition.

[2022-02-25 14:48] andrewm4894 commented on #12177
We will have thumbs up and down at the metric level when user expands a row in the heatmap. So from that over time we will build up a thumbs up/down ratio or thumbs down rate for each metric. From that then we will be able to see what metrics across all our users have consistently high thumbs down rates. That will then be user driven evidence that we will need to rethink those specific metrics.

I

[2022-02-25 14:57] bioshazard commented on #6523
I see the last reply here is over a year old now. I have been interested in this feature for years. Is there a branch in progress for this anywhere? If not, where can I catch up on how the DBEngine works if I wanted to contribute to the project? Annotations would allow me to consolidate my data operation exclusively onto NetData and it looks like DyGraph supports annotations in UI.

[2022-02-25 16:28] Ferroin commented on #12154
OK, I’ve gotten some confirmation that this is also an issue on some Fedora systems as well.

I’m still not sure what’s going on here, and I’m still inclined to believe this is a bug in YUM/DNF itself and not our code, we will need to investigate further regardless.

[2022-02-25 16:37] Ferroin commented on #12186
The stance you have effectively projected regarding _any_ third-party install method _since I started at the company_ is that we do not care, because they cannot be up to date enough for us to shove new features down users throats.

Apologies about both of these then, my understanding was that they were specifically about the claiming issue and not general complaints.

Yes, and because _we cannot

[2022-02-25 16:39] tkatsoulas opened #12250 "[Bug]: Netdata Agent does not start automatically in Ubuntu nodes."
### Bug description

When you install the Netdata Agent in a Ubuntu machine (v20.04+), the netdata.service is not enabled by default.

### Expected behavior

Autostart the Netdata Agent.

### Steps to reproduce

1. Create a fresh install of Ubuntu
2. Run the kickstart script

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No re

[2022-02-25 17:10] #12233 closed

[2022-02-25 17:10] ktsaou commented on #9342
@cronlabspl as you wish. Thank you for your contribution so far.

---

@yasharne sorry for derailing this ticket. Do you need help with the issue you face?

[2022-02-25 17:11] MikeJakubik opened #12472 "[BUG] Cant remove stale/non working nodes via webui or kicakstart script"
Hi,

I have a node that changed hostnames, ever since then I've been unable to get it running in the Cloud webui (there is no option to remove it). I tried deleting /var/dn/netdata/cloud.d and passing a new UUID only to get this error.

Connection attempt 1 successful
Failed to claim node with the following error message:"invalid node id"

Nothing is being reported in the error log but the webui s

[2022-02-25 17:23] ktsaou commented on #12243
This is not a feature. It is a high priority bug!

When the agent does not respond to the cloud, the cloud has only one option: wait a really long time and then timeout!

This is the worst thing to do at the agent. Is like keeping an HTTP socket open and never replying to it, waiting for the browser to timeout.

We are constantly experiencing such timeouts on the cloud. The cloud team has set a ha

[2022-02-25 17:32] ktsaou commented on #12233
I verified it is fixed! We have now working eBPF on Gentoo! Thank you @thiagoftsm !

[2022-02-25 17:42] thiagoftsm commented on #12233
You're welcome @ktsaou !
And of course, thank you to report this issue! :handshake:

[2022-02-25 17:43] Ferroin commented on #12250
Further info:

* I’ve reproduced this myself now on Ubuntu 20.04.
* Systemd recognizes properly that we should be enabled by default (second line of `systemctl status netdata` on an affected system includes `vendor preset: enabled`).
* The issue is invariant of the kickstart script. Manually configuring the repositories and installing the package by hand still shows the same problem. This indicate

[2022-02-25 20:16] ktsaou commented on #12180
@andrewm4894 so what about this process:

1. If a metric is constant, we don't train a model
2. If the metric changes value, we mark it anomalous (hard-coded) to the end of the training window
3. During the next training window, the metric is no longer constant, so we train a model
4. For the next hour we predict based on the training
5. If the metric becomes constant again, we just to point 1

Th

[2022-02-26 01:17] ktsaou commented on #12186
btw, `netdata-claim.sh` is needed also to claim static installs.

And if the node is old we have this:

[code]

To work, you have to do this:

[code]

[2022-02-26 05:52] iigorkarpov commented on #12154
I'm pretty sure that the problem is with our repository organization.

[2022-02-26 08:08] andrewm4894 commented on #12180
Dlib author says constant metrics would just have the 2 cluster centers be identical, which is perfect for this edge case for us. https://github.com/davisking/dlib/issues/2525

[2022-02-26 08:49] andrewm4894 commented on #12180
I read this as mainly an optimization to avoid the initial training on the constant values, correct?

The ml already sort of does this, parts 1 and 2. Fitting the model on constant values the first time will converge very fast anyway and so it's probably not really 'costing' that much in terms of CPU to just leave the ml alone to fit the cluster on the constant data.

I'm just not sure custom logi

[2022-02-26 10:16] yasharne commented on #11347
Hi @MrZammler I will update both parent and child to see if it will happen again
For your seconds question, alert for the parent it self works, even alert for the child on other mount points works as well, I only see this problem on `/var` of the child

[2022-02-26 11:33] ktsaou opened #12251 "Netdata and OOMScoreAdjust"
### Problem

Netdata by default sets the following in systemd `netdata.service`:

[code]

and in `netdata.conf`:

[code]

This means that netdata is the first application to be killed when the system runs out of memory, although netdata may not be the application with memory leak.

### Description

The original idea for this default, was to protect the system when we have a memory leak in netdata.

[2022-02-26 12:23] ktsaou commented on #12027
@thiagoftsm I think the problem is related to the traffic itself. From the kernel OOPS, I see that the kernel is saying:

[code]

This means that the kernel is trying to allocate some memory but it cannot for a reason. It does not necessarily mean it runs out of memory. It may mean that it cannot handle this memory allocation at that specific point.

On your lab, I suggest to setup something that

[2022-02-26 12:46] ktsaou opened #12252 "[BUG]: go.d.plugin web_log gives unmatched lines"
### Bug description

[code]

### Expected behavior

Match all lines

### Steps to reproduce

1. install netdata with an nginx

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-02-26 12:51] vobruba-martin commented on #12027
Network data from the MySQL server during the error:
New connections: ~1000/s
Active connections: ~1500
Traffic IN: ~70 Mbit/s
Traffic OUT: ~300 Mbit/s

[2022-02-26 12:51] ktsaou commented on #12252
A few lines from the log:

[code]

Most likely, it picks the wrong pattern at beginning because of the `stub_status`.

[2022-02-26 12:52] ktsaou commented on #12252
A sample log from iplists:

[code]

[2022-02-26 12:58] Ferroin commented on #12251
Starting with just moving to the default OOM score of zero should be sufficient in a vast majority of cases, and avoids the possibility of the agent not getting selected in the event of an OOM event it caused itself. Even if we don’t have any memory leaks, running with a negative score when we _are_ one of the larger memory consumers on most systems (even with dbengine usage) is a bit risky as it

[2022-02-26 13:11] ktsaou commented on #12252
I had the wrong log format in nginx. Fixed it now.

[2022-02-26 13:11] #12252 closed

[2022-02-26 15:57] ktsaou opened #12254 "Netdata and CPUSchedulingPolicy"
### Problem

Netdata sets by default in systemd `netdata.service`:

[code]

and in `netdata.conf:

[code]

The problem with these settings, is that when the monitored system starves for CPU resources, netdata doesn't get any CPU, so it stops. Example: https://github.com/netdata/netdata/issues/9342#issuecomment-1047917675

### Description

The original idea was that the monitoring system should not

[2022-02-26 16:17] ktsaou opened #12255 "[Feat]: static builds via kickstart are not predictable"
### Problem

Today, when you install netdata via the kickstart script, you may end up with an installation in `/opt/netdata`. This means that all configuration has now to be done in `/opt/netdata/etc` and all netdata commands need to be typed with `/opt/netdata/bin` in them.

### Description

Currently:

1. Users with a provisioning system can't know beforehand which version will be installed, so

[2022-02-26 16:38] ktsaou opened #12256 "[Bug]: Netdata packages installed by kickstart should have predictable binding by default"
### Bug description

Today, we ship binary packages that have by default a different binding for netdata:

1. DEB packages, bind by default to `localhost`
2. RPM packages, bind by default to `localhost`
3. Static binaries, bind by default to `*`
4. Source installations, bind by default to `*`
5. Docker installations, bind by default to `*`

Binding to `localhost` requires configuration by most use

[2022-02-26 16:45] ktsaou opened #12257 "[Bug]: Netdata packages deployed by kickstart.sh should not require specific distro related commands in netdata.conf"
### Bug description

Today, when kickstart.sh installs netdata via DEB and RPM packages the following `netdata.conf`  options are required:

[code]

But, people who are installing netdata via a provisioning system and use kickstart, they usually overwrite `netdata.conf` with their own options. Check this: https://github.com/netdata/netdata/issues/12003#issuecomment-1019938292

The above options sh

[2022-02-26 20:36] thiagoftsm commented on #12027
I agree, I am using Ubuntu to debug this. The configuration given [here](https://github.com/netdata/netdata/issues/12027#issuecomment-1048572541) is helping me to recreate some of the problems we are discussing in this issue.

[2022-02-26 23:14] ktsaou commented on #12257
As discussed here: https://github.com/netdata/netdata/discussions/12253

We should remove ownership checking on web files.

[2022-02-26 23:16] ktsaou commented on #12027
@thiagoftsm I don't think we need mariadb for this. It happens also with ceph, so probably it should be happening with any other solution you could use to produce big volumes of new connections, active connections, traffic in and out.

[2022-02-26 23:47] thiagoftsm commented on #12027
I said MariaDB, because I am years to work with MySQL. I expect they are more or less in the same level, with a small advantage for MariaDB.

I agree that a big sample of connections should be enough to replicate.

[2022-02-27 06:44] com6056 opened #12259 "[Bug]: netdata_configured_host_prefix double /host"
### Bug description

Not 100% sure what is causing it, but it seems like `netdata_configured_host_prefix` is being set with `/host/host`, at least when netdata is running in podman container.

This is causing config defaults like `path to unified cgroups = /host/host/sys/fs/cgroup/unified` which doesn't line up with what https://learn.netdata.cloud/docs/agent/packaging/docker#configure-agent-conta

[2022-02-27 09:59] yasharne commented on #10989
Hi @MrZammler this is my configuration:
[code]

[2022-02-27 11:10] iigorkarpov commented on #12154
The root of repository is (correct me if I'm wrong)
`https://packagecloud.io/netdata/netdata-repoconfig/`

[2022-02-27 21:14] ktsaou opened #12262 "[Feat]: eBPF on non X86_64 computers"
### Problem

eBPF is not always included when installing netdata with kickstart.sh

It is not included in non X86_64 binary packages.

### Description

When installing netdata in non X86_86 computers, eBPF is not offered.

Ideally, eBPF compilation should also be handled by kickstart.sh when compiling netdata from source and a binary eBPF package is not available.

### Importance

must have

### V

[2022-02-28 03:38] thiagoftsm commented on #12027
Hello @vobruba-martin,

Today I got the most poweful computer I have at my office, and I observed that when I run with default configuration, eBPF.plugin and the VM do not crash, on the other hand when I set the `sysctl.conf` that you gave me the VM crashes. Considering that extremes did not help me to detect which configuration is generating the problems and conducting the kernel for the `bug` si

[2022-02-28 08:08] mdoulabi1 opened #12264 "[Bug]: mqtt_wss_client.h: No such file or directory"
[Bug]: mqtt_wss_client.h: No such file or directory

hi
I'm using centos 7 and i'm trying to install net data but i get this eror
i'll be thanksfull to help me.

### Expected behavior

i wanna install netdata on my server

### Steps to reproduce

1. git clone https://github.com/netdata/netdata.git --depth=100
2. cd netdata/
3. ./packaging/installer/install-required-packages.sh --dont-wait --non-in

[2022-02-28 08:28] MrZammler commented on #12264
Hi @mdoulabi1 ! Thanks for the report.

Can you try again please but after the `cd netdata/` do also a `git submodule update --init --recursive` ? You might need to try it again in a clean checkout of netdata.

Thanks!

[2022-02-28 08:49] MrZammler commented on #10989
Hi @yasharne , thanks!

Have you noticed if the child crashes (or in any way disconnects/loses connection from the parent without informing the parent it's closing the connection), especially when the alert is raised ?

There might be something to indicate this in the child's `error.log`...

[2022-02-28 09:30] ktsaou commented on #12180
Well, the problem is like this:

1. A user installs netdata
2. After an hour, training starts
3. The user is monitoring CPU consumption to understand how efficient this is
4. The user sees twice the CPU utilization netdata will normally need, just because we train also constant metrics
5. The user makes the wrong conclusion: netdata ML needs double the CPU resources

What can you tell to this user

[2022-02-28 09:51] mdoulabi1 commented on #12264
thank you for your quick reply
i run `git submodule update --init --recursive`  and i got an other error that says :
the ..... file already exists
removed those file and run command again and fixed my problems.
thanks alot

[2022-02-28 10:00] ilyam8 commented on #12264
Hi, @mdoulabi1. You forgot to add `--recursive` option. See [Install Netdata on Linux from a Git checkout](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual#install-netdata):

[code]

[2022-02-28 10:00] #12264 closed

[2022-02-28 11:38] thiagoftsm commented on #12262
@Ferroin andd @cpipilas our big blocker for this is missing docker containers for different architectures on `github.com/netdata/kernel-collector`. This is necessary because since kernel `4.17` syscalls have prefixes:

[code]

[2022-02-28 11:46] cpipilas commented on #12262
Thanks @thiagoftsm, any other restrictions in regards to kernel version and recent developments with eBPF CO-RE? From what I see in the existing dockerfiles there are numerous kernel version reqs.

[2022-02-28 12:03] thiagoftsm commented on #12262
For `co-re` we are almost there, we are having a problem now with a github `action`, but I expect that when this is fixed we will be able to bring this for netdata.

The first PR that will add `co-re` codes for netdata will address all syscalls that are blockers right now.

The different containers to build on different architecture have relationship with legacy codes that we are supporting.

[2022-02-28 12:22] Ferroin commented on #12255
This would not actually eliminate the need to have install specific instructions for paths, just make it less likely that the user has to deal with a non-default case in some cases.

That said, I do think this is (generally) a good idea, though we need to figure out how we want to handle the case of there already being executables with the requisite names in whichever location we put things (also,

[2022-02-28 12:34] Ferroin commented on #12256
We _almost_ certainly do want access restricted by default. Netdata _should not_ be exposed globally without some form of security.

Given this, I would suggest that we should:

* Bind to all interfaces.
* Accept connections only from IP addresses that the local system has assigned to it’s interfaces, with the exact value generated at runtime on startup (IOW, on startup, Netdata should check what

[2022-02-28 12:37] Ferroin commented on #12154
No, the root of the repository in the above example is `https://packagecloud.io/netdata/netdata-repoconfig/el/7/x86_64`, or more generically `https://packagecloud.io/netdata/netdata{,-edge,-repoconfig}/<distro>/<version>/<architecture>`

So it’s not the metadata file location that’s the issue.

[2022-02-28 12:50] Ferroin commented on #12262
OK, so CO-RE does not require different builds for different architectures?

If that’s the case, I would actually vote for just not caring about this for non-CO-RE capable systems because we can’t support all the big platforms anyway (we’re limited to what we can get Docker containers plus QEMU usermode emulation for), and the amount of effort required for the ones we can support is nontrivial.

[2022-02-28 14:05] thiagoftsm commented on #12262
Different architectures have different syscalls, registers, and other minor changes, so we will have different output for the command

[code]

, thanks we are not completely independent.

[2022-02-28 14:57] Ferroin commented on #9863
@godismyjudge95 Can you create a new issue specifically for that problem with the static build and include the output you see when you run into these issues? It’s (almost certainly) unrelated to the original issue here, but it’s definitely a bug.

[2022-02-28 14:58] Ferroin commented on #9863
@ndsda  Please see https://github.com/netdata/netdata/issues/12154 for more details on that particular problem.

[2022-02-28 15:14] ktsaou commented on #12256
We already have an access list in netdata.conf:

[code]

This allows connections from all private networks.

But, this is a different discussion. This ticket is about binding, which should always be `*` by default.

[2022-02-28 16:18] ilyam8 commented on #12255
Then regular users (not root) won't be able to find/execute them.

[2022-02-28 16:36] bbeckford commented on #12157
This is working for me now! Thanks guys :)

[2022-02-28 16:38] Ferroin commented on #12256
I don’t agree that they are different discussions, but I do agree that the default access control list is _probably_ sufficient to not require us changing anything beyond the bind to address.

[2022-02-28 16:41] Ferroin commented on #12255
Regular users shouldn’t be trying to execute them. The claiming script does not work as a non-root user, and starting netdata as the ‘regular’ user it runs as actually does not work in many cases either.

That said, _most_ Linux distros actually include the `sbin` paths in their default search paths for regular users. The only one I know of which does not by default is Gentoo.

[2022-02-28 16:41] Ferroin commented on #12157
@bbeckford Always glad to get feedback that things truly are fixed. Sorry it took so long to get the fix merged in this case.

[2022-02-28 17:17] ilyam8 commented on #12255
Sounds convincing, I agree.

[2022-02-28 19:52] ktsaou commented on #12256
@Ferroin all users of netdata should get binding by default to `*`. We never agreed to change that. Please make sure the packages we ship do bind to `*`.

If you believe netdata's web interface should be protected somehow by default, please start a new discussion. For the moment this is not decided, so all netdata packages we ship should not have any access restriction by default. Users can config

[2022-02-28 20:03] ktsaou commented on #12255
You are right @Ferroin. I updated the ticket description to put them in `/usr/local/sbin`. Please proceed.

[2022-02-28 20:13] cpipilas opened #12274 "Explore the update functionality across different netdata versions"
### Problem

Updating Netdata to the latest version should work smoothly for the majority of use cases. They have been reports that this is not true under certain circumstances. This may result to numerous problems including cloud connectivity issues.

### Description

We need to explore and validate that we can properly update netdata to the latest version. A number of previous netdata versions c

[2022-02-28 20:17] cpipilas commented on #12274
cc @Ferroin @iigorkarpov @maneamarius @stelfrag @ktsaou @cakrit @amalkov

[2022-02-28 23:08] pgassmann commented on #12149
still getting the error after upgrading from apt repository on ubuntu 20.04 server:

![image](https://user-images.githubusercontent.com/460192/156073117-24297fa3-597b-4d01-9bda-d2490fa1a0e3.png)

[code]

[code]

[2022-03-01 04:47] burbuli8ra commented on #12149
Hello @pgassmann and thank you for reporting this issue!
@ravilushqa could you please check this?

[2022-03-01 09:19] vkuznecovas commented on #12149
Hey @pgassmann, this node does not seem to be in the same space as the previous ones. Could you please provide a room, space or node ID so I can check why it's flagged as non proto capable?

[2022-03-01 11:15] pgassmann commented on #12149
@vkuznecovas The node is now ok. It seems the warning is not removed immediately after upgrade but only after some time?
My node url:
`https://app.netdata.cloud/spaces/wolke-77/rooms/general/nodes/f6e2043c-31b8-11eb-8085-953c85a4e502`

[2022-03-01 11:25] odynik opened #12279 "[Feat]: Gap Filling in a parent node for data coming from replicated child nodes"
### Problem

The goal is to be able to fill gaps of replicated children nodes on a parent node following a network failure or a parent restart in a simple and fast solution with low complexity.

### Description

#### Stage 1
- [x] T1 - Negotiate a new stream protocol version
- [x] T2 - Tx/Rx thread mechanism implementation
- [x] ST2.1 - Initialization
- [x] ST2.2 - Creation
- [x] ST2.3 - Connectio

[2022-03-01 11:26] underhood opened #12280 "[Feat]: ACLK access logging is insufficient"
### Problem

Cleanup access logging in ACLK, add also access logs for protobuf based queries.

### Description

Cleanup access logging in ACLK, add also access logs for protobuf based queries.

### Importance

nice to have

### Value proposition

all incoming proto messages/commands should be logged properly

### Proposed implementation

_No response_

[2022-03-01 11:27] odynik commented on #12279
@cpipilas can you please add the proper product labels in this issue?

[2022-03-01 11:31] vkuznecovas commented on #12149
Yes, the update can take up to an hour to be propagated. We're currently making changes to make this faster.

Glad to hear that it is now updated, thanks for the info 😄

[2022-03-01 12:09] codeguru1 commented on #12139
One thing I don't understand about this feature request is, what benefit is there to collect the number of Zombie processes in a system? Except for holding PID they are not consuming any resources. A zombie process is a process which has exited properly, released all its resources, but is maintaining a place in the process table.

[2022-03-01 12:46] #12280 closed

[2022-03-01 12:48] shyamvalsan commented on #12180
Agree with @andrewm4894 that we should minimize custom logic in our ML solutions as far as possible - otherwise we it will get difficult to debug, maintain and update.

But @ktsaou brings up an important problem - of initial extra load on CPU and how it will be perceived by the user.

Does training models for all dimensions together at one-shot really make sense? Should we stagger this out to dist

[2022-03-01 13:24] andrewm4894 commented on #12180
We do this already. Thats what the small little bumps below are (i am retraining every 900 seconds on this example):

![image](https://user-images.githubusercontent.com/2178292/156177098-7743a5a3-ac3c-4c57-a94a-6fadf099d4e2.png)

[2022-03-01 15:21] Ferroin commented on #12274
The following cases have been identified as specific problems here:

1. RPM packages for CentOS 7 had not been handling protobuf properly.
2. Older installs that predate the introduction of the `.install-type` file which have not had the updater run on the since that file was introduced are not currently recognized correctly by the kickstart script.
3. Older installs that predate the introduction

[2022-03-01 15:54] stelfrag opened #12283 "Improve cloud notification when a dimension switches from collected to not collected frequently"
### Discussed in https://github.com/netdata/netdata/discussions/12224

<div type='discussions-op-text'>

<sup>Originally posted by **stelfrag** February 23, 2022</sup>
Currently for every dimension in a chart we transmit its "liveness" along with the first collected timestamp that the agent knows
about that dimension.

**Current implementation**
- The chart (and dimension) is considered live after

[2022-03-01 16:12] ilyam8 commented on #12189
@Whisper40 Yes, I am pretty sure. When the space usage is being increased/decreased check "Applications->disk" charts to find out which process is doing that. Those charts show disk io for process groups. To find out the exact process - use [iotop](https://linux.die.net/man/1/iotop).

[2022-03-01 16:14] #12189 closed

[2022-03-01 16:17] ilyam8 commented on #12204
Hi, @aehlke. You are correct, we have no collector for NGINX Unit. Brief googling showed that it [doesn't expose any metrics](https://github.com/nginx/unit/issues/427). Am I missing something? Do you know how to gather metrics from NGINX Unit?

[2022-03-01 16:37] #12243 closed

[2022-03-01 16:50] shyamvalsan commented on #12180
Staggering within the training cycle (default 1 hour) reduces the really high peaks but the overall spike still exists and will "jump out" to the user.

For example, the constant dimensions, if we do require trained models for them why not wait one or more training cycles before training those dimensions for the first time? Won't that reduce the CPU spikes and we won't lose much in the bargain.

[2022-03-01 17:34] ilyam8 commented on #12187
Hi, @Mic-Po. Thanks for the request, implemented in #12285. Can you help us to test it?

[2022-03-01 17:43] Ferroin commented on #12256
I was never the one who set things up this way, it dates from before I joined the company.

We ourselves say that you should not expose Netdata to the public internet without some form of authentication. Our current default access control list is consistent with this, so we should not need to change anything here.

[2022-03-01 17:50] Mic-Pod commented on #12187
Sure, I'll gladly test it.

[2022-03-01 19:24] Mic-Pod commented on #12187
@ilyam8 I have tested nut.conf and it seems to be working. I have unplugged UPS from the power and alerts were working fine.

[2022-03-01 22:38] ktsaou commented on #12283
Yes, I think this is super!

[2022-03-01 23:38] godismyjudge95 opened #12286 "[Bug]: Netdata Updater outputs to stderr even on success"
### Bug description

It appears that the Netdata updater outputs to stderr when checking to see if a tmp directory can be used.
This is an issue since some systems are setup to email the root (or other users) when cron jobs output to stderr.

The fix for this is relatively simple, but I don't have enough time at the moment to submit a pull request.

This is the line causing the issue: https://gith

[2022-03-01 23:50] godismyjudge95 commented on #9863
So I found that our servers were having two separate issues.
I did have to set the tmp directory because even after uninstalling and re-installing netdata it was still having an issue not being able to execute inside the /tmp directory.
Netdata updates properly after putting the following in the `/root/.bash_profile`:
[code]

However, there is a 2nd issue which I have opened a new bug report for:

[2022-03-02 10:50] ktsaou commented on #12256
I am sorry if I offended you. It was not my intention.

Still binary packages as we ship them today, bind to `lo`. Please make them bind to `*` (remove the setting from `netdata.conf`). Actually we shouldn't ship any netdata.conf by default (this is why we also agreed to remove the web file check).

Please make this happen.

As I said, this is separate discussion. Only `netdata.conf` is protected

[2022-03-02 11:12] dionysis-netdata opened #12290 "[Bug]: Info API returns incorrect values with regards to node's OS"
### Bug description

The script on the agent:
[code]

So, the script is ok.

Let's see /api/v1/info:

[code]

Look at this:
[code]

### Expected behavior

Correct OS values are returned from API

[2022-03-02 13:10] cpipilas opened #12291 "[Feat]: Improve detection of cpu details"
### Problem

CPU frequency on some nodes may not be properly detected:

![0hz](https://user-images.githubusercontent.com/30462769/156366810-b05391e5-fd74-45b1-b0f0-15bbd3375ff0.png)

### Description

There are cases with machines/containers in which CPU frequency is not properly detected. For example on a mac:

[code]

### Importance

nice to have

### Value proposition

- Improve clarity in cloud

[2022-03-02 13:11] cpipilas commented on #12291
cc @MrZammler

[2022-03-02 14:17] myin142 commented on #12172
I also tried this option. Some requests (I think only OPTIONS) did send with the authentication data. Most of the other used the normal URL without authentication.

[2022-03-02 14:20] Ferroin commented on #12274
OK, we’ve got approvals on (most) of the above open PRs.

I’m going to do a staged series of merges so that we can more easily identify the point of failure in the event that something goes horribly wrong.

First phase will be merging https://github.com/netdata/netdata/pull/12199 (because it’s the oldest PR and has been an issue for the longest) and https://github.com/netdata/netdata/pull/12202 (b

[2022-03-02 14:26] myin142 commented on #12139
I am relatively new to all this monitoring but doesn't every bit of information help finding problems. If there are suddenly many zombie processes I would assume there is some kind of problem. Or are zombie processes something completely normal that you shouldn't pay attention to?

[2022-03-02 14:49] ilyam8 commented on #12139
I think they are not normal and usually, you want to find the cause. cc @Ferroin

[2022-03-02 14:52] Ferroin commented on #12274
Also, draft PR is up for the C++ compiler issue: https://github.com/netdata/netdata/pull/12294

It still needs testing, but _should_ work without issue in a majority of cases.

[2022-03-02 15:49] Ferroin commented on #12274
Initial draft PR is also up for finishing he changes required to allow auto-updates for native packages: https://github.com/netdata/netdata/pull/12296

It also still needs testing, which will have to wait until tomorrow (because it requires the changes from https://github.com/netdata/netdata/pull/12202 to be in the nightlies).

[2022-03-02 15:52] shyamvalsan commented on #12177
@andrewm4894 So let's say we just exclude `netdata` stuff and everything else is included by default + we have @vkalintiris recent change to ensure constant dimensions are not re-trained.

For internal dog-fooding we should just leave all dimensions in and see how it fares.

Then we can take a look at the anomaly rate variation (and CPU/perf cost) and decide if we need to exclude more dimensions.

[2022-03-02 16:21] shyamvalsan commented on #12173
Snapshots from @erdem2000 testing so far

https://drive.google.com/drive/folders/1NsjPDun_Yexjr1UlN2NhYgoYpEDtbwXe

Visually there's not a lot of difference here, currently exploring if there's a more concrete way of measuring the difference.

[2022-03-02 16:40] andrewm4894 commented on #12173
@k-manolis hey im wondering if we would be able to use the terraform and ansible work you have been doing to create and configure the various vm's and configs we would need to do this in a fully automated and repeatable way.

idea would be to create the following nodes, all claimed into a new space in staging:

- `ml-stress-enabled`: a `n2-standard-2` instance using ubuntu with ml enabled and defa

[2022-03-02 18:07] Ferroin commented on #12291
At least for Linux, there are some cases we simply can’t get this info.

On Linux, we have three possible mechanisms for finding the CPU frequency, and all of them can fail:

* The `lscpu` command, which may or may not be installed, and cannot always get the CPU frequency itself.
* The `dmidecode` command, which may or may not be installed, only works if run on actual hardware (not guaranteed to w

[2022-03-02 18:11] Ferroin commented on #12286
@godismyjudge95 Would you be willing to open a PR with the change you proposed? I can do so instead if you want, but I would much rather see you get proper credit for the fix here if possible.

[2022-03-02 18:17] ilyam8 commented on #12291
This issue will be closed automatically when #12293 is merged. It fixes your specific problem @cpipilas (x86_64 macOS). If this issue is supposed to fix a more general problem - let me know.

[2022-03-02 18:33] godismyjudge95 commented on #12286
Done, I thought there was more of a procedure to submitting a pull request, but it appears I just needed to be on the master branch.

[2022-03-02 19:53] ktsaou opened #12300 "[Bug]: web_log sometime runs from python.d.plugin and sometimes from go.d.plugin"
### Bug description

It is random which of the 2 versions of the plugin will be used.
Locking does work, so only one starts, but you can never tell which one.

### Expected behavior

go.d.plugin should be preferred by default.

### Steps to reproduce

1. Start netdata a few times

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_

[2022-03-02 19:54] ktsaou commented on #12300
@ilyam8 have a look

[2022-03-02 21:41] DShreve2 opened #12301 "[Bug]: Netdata node connection issue MacOS"
### Bug description

Trying to connect my Mac for Product training using the Mac script. Receiving the attached error:

Sorry! netdata failed to build...

You may need to check these:

1. The package uuid-dev (or libuuid-devel) has to be installed.

   If your system cannot find libuuid, although it is installed
   run me with the option:  --libs-are-really-here

2. The package zlib1g-dev (or zlib

[2022-03-03 01:35] Divya-kalluru opened #12303 "[Bug]: Netdata server consuming a lot of memory."
### Bug description

netdata-server is utilizing a lot or memory on all our environments. This is the issue we are facing from the past 6 months, but nothing worked out to resolve this. Tried updating the netdata version to 1.33.0 to fix the issue. But, still see that  netdata-server memory consumption is too high. Within 2 hours, it consumed around 2GB of memory.

On one of your environments, we

[2022-03-03 03:05] jarodlee commented on #248
configure: error: libuv required but not found. Try installing 'libuv1-dev' or 'libuv-devel'.
 FAILED

  ^
  |.-.   .-.   .-.   .-.   .-.   .  netdata  .-.   .-.   .-.   .-.   .-.   .-
  |   '-'   '-'   '-'   '-'   '-'               '-'   '-'   '-'   '-'   '-'
  +----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--->

Sorry! netdata failed to build...

You may need to check th

[2022-03-03 07:21] stelfrag commented on #12303
@Divya-kalluru thank you for bringing this up. We are working to reduce the memory consumption of the agent

The reason for this is in-memory metadata needed for the query engine to work which we plan to move to a disk file.

It should being a significant improvement in RAM consumption. At the same time we are being careful not to sacrifice performance (although it will take a slight hit)

[2022-03-03 07:40] erdem2000 commented on #10553
@ilyam8 and I could not reproduced the issue again. So It is closed.

[2022-03-03 07:40] #10553 closed

[2022-03-03 12:15] #12286 closed

[2022-03-03 12:41] #12291 closed

[2022-03-03 12:53] Ferroin commented on #12274
Further update, https://github.com/netdata/netdata/pull/12282 and https://github.com/netdata/netdata/pull/12273 are now merged as well.

This just leaves #12294 and #12296, which I expect to merge some time next week.

[2022-03-03 15:18] Steve8291 opened #13318 "mysql module has aborted connection error on netdata restart or stop"
My system:
MariaDB:    10.6.7
Netdata:    v1.33.1-56-g0937e4c8d
go.d/mysql collector configured with a my.cnf file.

With the go.d/mysql collector enabled.
On every restart of netdata `systemctl restart netdata.service` the following error is logged to my mysql error log:

This error also occurs when running a debug of the collector and gets thrown when I exit the debug mode using <control C> and

[2022-03-03 16:17] Divya-kalluru commented on #12303
@stelfrag thank you for your comment. Just an FYI, We are using both the netdata-server and the netdata-agent. I can see a significant spike in the memory usage for the netdata-server, but for netdata-agent the memory usage is normal. Below are the details I can see in one of our environments right now.

**docker ps:**

CONTAINER ID        IMAGE                   COMMAND                  CREATED

[2022-03-03 18:07] ktsaou opened #12314 "[Bug]: Relative queries return old data"
### Bug description

When we call `/api/v1/data` with a relative timeframe (e.g. `before=0` and `after=-600` to show the last 10 minutes), the agent responds with the relative timeframe against the last time a chart was collected.

This means that:

1. for charts that are currently being collected, the agent responds with the last 10 minutes.
2. for charts that are no longer being collected, the a

[2022-03-03 18:32] ktsaou commented on #248
@jarodlee we have binary packages now for ubuntu. You don't need to compile netdata.
Check this: https://learn.netdata.cloud/docs/agent/packaging/installer/

[2022-03-03 19:36] ktsaou opened #12315 "[Bug]: alarm "10s ipv4 tcp resets sent" does not trigger when it should"
### Bug description

![image](https://user-images.githubusercontent.com/2662304/156639173-e337c364-6dde-4230-aec6-77505ebde06d.png)

The `recieved` alert has a multiplier of 10, while the `sent` alert has a multiplier of 20. So, the `sent` alert does not trigger in most cases.

### Expected behavior

Do this against a host running netdata:

[code]

The "10s ipv4 tcp resets sent" should be triggere

[2022-03-03 20:22] ktsaou opened #12316 "[Bug]: deadlock while starting netdata and hitting "/api/v1/charts""
### Bug description

Run this:

[code]

During the locks, netdata logs this:

[code]

### Expected behavior

`/api/v1/charts` should not deadlock netdata.

### Steps to reproduce

Run the script above.

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

Even on non IoT, netdata still locks. Not for so much time, but `/api/v1/charts`

[2022-03-03 20:28] ktsaou commented on #12316
Disabling `health` is disabled, then the problem goes away.
I understand that this is somehow related to alarms creation (not execution).

[2022-03-03 20:44] stelfrag commented on #12314
This will generate "null" values as needed.

[2022-03-03 20:54] stelfrag commented on #12314
Sample --- chart stopped being collected at 1646340628

Query executed `http://127.0.0.1:19999/api/v1/data?chart=system.cpu&after=-30&options=jsonwrap`

[code]

[2022-03-03 20:57] stelfrag commented on #12316
We will investigate

[2022-03-04 08:52] ktsaou commented on #12316
@stelfrag the problem is this function: https://github.com/netdata/netdata/blob/69ea17d6ec534e1ed796a92fd042bd76a3ca9215/database/rrddim.c#L13-L28

Why do you need to write lock the host at that point? A read lock would suffice. No?

[2022-03-04 09:19] ktsaou commented on #12314
[code]

and

Now is:

[code]

`before` as returned in jsonwrap:

[code]

It returns stale data!

[2022-03-04 10:10] HolgerHees commented on #11397
any progress here? Just to avoid that this "small ugliness" is forgotten.

On my homeserver I follow the zero error message rule for all my logs. And the netdata error messages are the only leftovers ;-)

any my setup is not a small one. I run 27 containers. https://github.com/HolgerHees/smartserver

[2022-03-04 10:17] ilyam8 commented on #11397
Hi, @HolgerHees. No, there is no progress. @vlvkobal let's discuss this issue when you are available.

[2022-03-04 10:46] AlexGhiti opened #12319 "[Bug]: Release 1.33.1 fails to build from source on riscv64"
### Bug description

Hi guys,

As can be seen at [1], netdata fails to build on riscv64 because the gcc command line lacks `-latomic`. Indeed, I checked and none of the conditions in configure.ac line 1526 (my head is at commit c4d2498d7617) allow to set `OPTIONAL_ATOMIC_LIBS`. So there may be a missing condition here to allow riscv64 to set `OPTIONAL_ATOMIC_LIBS`.

But in the meantime, as stated

[2022-03-04 14:01] #12315 closed

[2022-03-04 15:30] ilyam8 commented on #12301
Hi, @DShreve2. Can you show the whole output? Also, if you need just to install it (and not install specifically from the source), consider using [brew](https://formulae.brew.sh/formula/netdata).

[2022-03-04 22:25] meguroyama commented on #5158
No longer seeing this issue as of latest release.

[2022-03-04 22:58] ktsaou opened #12324 "[Bug]: netdata stops working when disk if full"
### Bug description

On a test raspberry pi I have, I experienced this issue:

1. netdata was running
2. disk got almost full
3. netdata agent properly raised disk full alarm to WARNING, which was sent to the cloud
4. disk got almost 100% full
5. netdata agent tried to commit dbengine data to disk, which failed
6. `10min_dbengine_global_io_errors` was raised and the alarm was sent to the cloud
7.

[2022-03-04 23:04] ktsaou commented on #12324
@stelfrag @cpipilas please check this.

[2022-03-04 23:49] ktsaou opened #12325 "[Bug]: access.log does not always log the hostname for cloud requests"
### Bug description

[code]

### Expected behavior

1. The hostname should always be there (instead of N/A).
2. We would also appreciate some uniformity on this log (since you have decided to log requests and responses separately please also mark the lines `ACLK REQ` and `ACLK RES`)

[code]

### Steps to reproduce

[code]

### Installation method

kickstart.sh

### System info

[code]

### Netdata

[2022-03-06 08:10] mingtianshi opened #12328 "[Feat]: How to open .ndf files and .njf and .snapshot files"
### Problem

How to open .ndf files and .njf and .snapshot files？

### Description

i don't know,How do they open

### Importance

nice to have

### Value proposition

1.
2.
3.
...

### Proposed implementation

_No response_

[2022-03-07 12:14] Ferroin commented on #12274
Updates on this:

* Number of installs reporting as custom since the merge of #12282 has started to go down (albeit slowly).
* #12294 has been merged now, so we should start to see the number of nodes without protobuf support at all going down starting tomorrow.
* I’m holding off on merging #12296 until a bit later this week once we see that everything else is working.

[2022-03-07 12:26] Ferroin commented on #11460
Based on further investigation, this is a result of issues in how openSUSE chooses to handle systemd (namely, they blindly assume that there is a running instance of systemd no matter whether this actually makes sense or not). Given this, it should actually affect _any_ type of containerization that does not run an init process.

Our own package does the best it can within the constraints we have

[2022-03-07 12:32] Ferroin commented on #12324
I generally agree that the preallocated space solution should probably be the default here (and I’m 99% certain that there is a way to get SQLite to preallocate space too). In most cases, that should actually improve performance for us and lower the overall impact on the rest of the system.

However, it will not fix this issue in all cases. Specifically, on filesystems that use copy-on-write seman

[2022-03-07 14:47] maneamarius opened #12333 "[Bug]: inconsistency with netdata installer for opensuse in docker"
### Bug description

we are seeing a different version in the output of `netdata -v` when netdata is installed in opensuse/docker
I compared the output with netdata in centos/ubuntu also in docker

### Expected behavior

output of `netdata -v` should be the same on all distributions

### Steps to reproduce

1. run `sudo docker run -it opensuse/leap:15.2`
2. install netdata using `wget -O /tmp/netd

[2022-03-07 14:58] Ferroin commented on #12333
Not a distro-specific thing.

This is a result of versioning differences in our native packages for nightly builds from what we use elsewhere.

[2022-03-07 15:02] rdf6 opened #12334 "[Bug]: One-line installer not pulling from Netdata repo"
### Bug description

When using the latest one-line install method [1], if the Netdata agent package is available in more than one repo, it will not default to installing from the Netdata repo, but rather it will pull from whichever repo has the newest version of the agent.  For example, on RHEL 7.x, the agent is available in both the Netdata repo (v1.33.1-1) and the EPEL repo (v1.33.1-2).  In my

[2022-03-07 15:28] ilyam8 commented on #12334
Hi, @rdf6. Thanks for reporting. The fix is a work in progress - [Set repo priority in YUM/DNF repository configuration](https://github.com/netdata/netdata/pull/12332).

[2022-03-07 18:27] erdem2000 commented on #12314
Started working on it...

[2022-03-07 19:27] erdem2000 commented on #12314
When I check with the latest netdata agent commit ([297f02fee3e00205ab69ce2d67312fd043c38034](https://github.com/netdata/netdata/commit/297f02fee3e00205ab69ce2d67312fd043c38034)), it returns expected output for offline gaps like below :thinking:;

![2022-03-07T22_03_21](https://user-images.githubusercontent.com/51407/157101322-1176dcfb-3871-4d75-ba33-090554b23563.png)
[code]
I first experienced `n

[2022-03-08 01:13] thiagoftsm opened #12925 "[Feat]: Change `charttype` of the eBPF plugin charts to heatmap"
As discussed in the main [issue](https://github.com/netdata/netdata-cloud/issues/265), when we have `heatmaps` available in agent, it will be necessary to change some latency charts like `filesystem`,  and `disk`.

We do not expect to change the plugins logic (at least for eBPF), so we will only change the `charttype`.

[2022-03-08 01:27] thiagoftsm opened #12926 "Update swagger"
As soon netdata agent is capable to store the new `charttype`, we need to update the swagger definitions ([json](https://github.com/netdata/netdata/blob/master/web/api/netdata-swagger.json) and [yaml](https://github.com/netdata/netdata/blob/master/web/api/netdata-swagger.yaml) ) , before to bring new charts.

[2022-03-08 06:33] #12139 closed

[2022-03-08 07:25] erdem2000 commented on #12314
I get expected result with stale data scenario, too. I am going to discuss with @stelfrag if I miss something to reproduce the issue and then take action to find root problem.

[code]

[2022-03-08 07:38] ktsaou commented on #12314
I think it is here:

https://github.com/netdata/netdata/blob/d8b7b6a25f7fc0ec4d79a7f8a72c779e3bf4afd7/web/api/queries/query.c#L761-L831

[2022-03-08 07:57] #12290 closed

[2022-03-08 08:27] stelfrag commented on #12328
Hi @mingtianshi

The .ndf and .njf files are used by the agent to store the collected metrics and related index to those metrics respectively. You can not use / open them directly.

The .snapshot file can be viewed by selecting ![image](https://user-images.githubusercontent.com/52996999/157196730-f1910a98-702d-4e73-93a1-077e6e8ebf23.png) on the agent dashboard

[2022-03-08 08:30] #12256 closed

[2022-03-08 09:01] TonyPath opened #12340 "[Feat]: Enrich response payload of 404"
### Problem

Agent may respond with 404 for two different cases:
- resource not found
- host not found

Cloud cannot differentiate the two cases.  An additional info is needed in response payload of the agent so to identify and handle them separately from cloud side

### Description

full context can be found https://github.com/netdata/product/issues/2847

### Importance

really want

### Value pr

[2022-03-08 12:21] #12333 closed

[2022-03-08 13:57] mingtianshi commented on #12328
so how do i use ndf and .njf

[2022-03-08 14:03] cronlabspl commented on #10061
Hello everyone,

Also having this issue. Unfortunately no solution from above worked. I call @ktsaou on this; he should be interested and get involved.

[2022-03-08 15:03] ktsaou commented on #10061
Thanks @cronlabspl !

This is a very interesting discussion!

@Ferroin could you please help? Should we register and unregister the `netdata` user somehow?

[2022-03-08 15:08] Ferroin commented on #10061
We actually do, the issue arises from the (now old) uninstaller script not properly handling package-based installs. As of the merge of https://github.com/netdata/netdata/pull/12195 this should not occur on new installs.

Existing installs can ensure it does not happen by either using the package manager, or ensuring they follow the instructions to fetch the uninstaller at the bottom of https://le

[2022-03-08 16:18] thiagoftsm opened #12343 "[Feat]: change the default eBPF load mode to CO-RE"
### Problem

We are loading eBPF legacy code by default, we should change this when all `CO-RE` code is merged.

I am creating this issue after to receive [comment](https://github.com/netdata/netdata/pull/12318#discussion_r821477391).

### Description

To use `CO-RE` will allow us to monitor metrics reducing overload on host.

### Importance

must have

### Value proposition

1. this will allows t

[2022-03-08 16:47] cronlabspl commented on #10061
@Ferroin the Message you provided does nothing. I'm in the middle of taking care of it by some "deepdiving" into system core. Will report once it's done.

[2022-03-08 18:06] #12283 closed

[2022-03-08 19:07] stelfrag commented on #12314
@erdem2000 This is the start of it -- line 791

- Start an agent and let it run a few minutes
- Execute http://127.0.0.1:19999/api/v1/data?chart=system.cpu&after=-30&options=jsonwrap and see that you get the latest data as they are collected
- Stop the agent
  - Go to netdata.conf  `[plugins]` and set `proc = no`
 - Start the agent and do http://127.0.0.1:19999/api/v1/data?chart=system.cpu&after=-

[2022-03-08 19:11] stelfrag commented on #12316
Quite possible yes, we will investigate  -- @vkalintiris this what we were discussing ; please have a look

[2022-03-08 20:11] misaka-eth opened #12346 "[Bug]: Missing apcaccess tool in docker"
### Bug description

APC UPS monitoring not working in docker container because off missing `apcupsd` package

### Expected behavior

Monitoring shows data after configuration by guide: https://learn.netdata.cloud/docs/agent/collectors/charts.d.plugin/apcupsd

### Steps to reproduce

1. Install netdata in docker
2. Configure APC UPS Monitoring: https://learn.netdata.cloud/docs/agent/collectors/cha

[2022-03-09 08:14] stelfrag commented on #12328
You don't use them directly, the agent uses those internally to store metrics

[2022-03-09 12:45] Ferroin commented on #12346
To clarify, does installing apcupsd actually allow the plugin to work correctly? I was under the impression that it needs hardware access in a way that we can’t provide from inside a Docker container.

[2022-03-09 14:28] misaka-eth commented on #12346
Installing `apcupsd` allow the plugin to work correctly, but host must also have `apcupsd` installed and service `apcupsd.service` must be running.

my configuration in `charts.d/apcupsd.conf`:
[code]
![image](https://user-images.githubusercontent.com/98682539/157461355-19ec620a-bb4a-4810-96f2-809d66784492.png)

[2022-03-09 18:18] #12328 closed

[2022-03-10 07:22] #12217 closed

[2022-03-10 09:45] AlexGhiti commented on #12319
For completeness, this is what I am about to upload as a patch in the Ubuntu archive:

[code]

[2022-03-10 09:52] vkalintiris commented on #12319
Yes, I think this is what we should do. Considering the complexity of trying to handle every different toolchain/distro, it's better to link against libatomic unconditionally.

[2022-03-10 09:54] AlexGhiti commented on #12319
Then I let the build finish with this slightly different patch that I pasted above and I'll do a PR when everything's ok.

Thanks,

Alex

[2022-03-10 11:55] erdem2000 commented on #12314
Thank both of you for the detail info which helped a lot to figure out the root problem.

I created a PR to fix the issue, but there is also another scenario which can be an issue related with this topic. This bug is subjecting the timeline after last entry and we only check "after" parameter with first entry currently.
**Should we also consider the timeline before the first entry (obviously there

[2022-03-10 12:17] ktsaou commented on #12314
Thank you @erdem2000 .

I think the timestamps of the data should not be considered at all.

What an absolute query currently does? So, if I request a absolute time-frame for `t1` to `t2`, does it return `null` even if `first_t` is after the absolute `after` parameter wanted?

Generally, relative and absolute queries should behave exactly the same for the same timeframe.

[2022-03-10 12:24] stelfrag commented on #12314
There is an option `allow_past` that will do that (return null for the missing entries before that first_t)

[2022-03-10 13:22] sashwathn opened #12360 "[Bug]: Unable to start / restart Netdata Agent after node restart"
### Bug description

I am unable to restart my Netdata agent after a node restart.

The error log says this:
https://files.slack.com/files-pri/TCC5DL092-F036FJLA6G3/image.png

The OS details: **macOS Monterey 12.2.1**

Attaching the error logs.
[error.log](https://github.com/netdata/netdata/files/8223685/error.log)

### Expected behavior

The Netdata agent should automatically start after node res

[2022-03-10 13:53] duartegithub opened #12361 "[Bug]: The option to print a dashboard resets the time window and shows the last 10 minutes instead."
### Bug description

When accessing the local agent via port 19999, the option to "Print the dashboard" doesn't consider the selected time window and shows the last 10 minutes of activity, always.

In the window it opens to print the .pdf, the URL shows after=0 and before=0 instead of the selected custom time window.

### Expected behavior

When clicking "Print the dashboard", the selected time wi

[2022-03-10 14:04] tovshooo commented on #2938
Hello every one
i can't uninstall netdata. Not found .environment file .Please help me

[2022-03-10 14:21] hugovalente-pm opened #12362 "[Bug]: "osName": "\"Raspbian GNU/Linux\"" value causing issues on JSON parsing"
### Bug description

When `osName` attribute is passed on `/info` and on UpdateNodeInfo messages it was identified the case of having a value like ` "\"Raspbian GNU/Linux\""`.

This causes issues when endpoints, that rely on this information, create a JSON payload with it and cause issues on the parsing side of it.

### Expected behavior

Attribute values for `osName` shouldn't cause invalid JSON

[2022-03-10 14:35] ilyam8 opened #12363 "[Bug]: `/usr/libexec/netdata/plugins.d/ebpf.d` not empty so not removed"
### Bug description

There are 4 non-empty directories when uninstalling Netdata on Debian.

[code]

The first three are expected. The last one - no.

[code]

The directory content:

[code]

### Expected behavior

`/usr/libexec/netdata` gets removed when uninstalling Netdata.

### Steps to reproduce

1. `curl -s https://packagecloud.io/install/repositories/netdata/netdata/script.deb.sh | sudo bash

[2022-03-10 14:44] ilyam8 commented on #12362
Hi, @hugovalente-pm.

That is a pretty old version. How did you install it? Can you upgrade your Netdata instance and check /api/v1/info again?

[2022-03-10 14:46] iigorkarpov commented on #12291
`sysctl -n machdep.cpu.brand_string | awk '{print $NF}'`

[2022-03-10 14:50] ilyam8 commented on #12362
@hugovalente-pm I checked one of his RPi's that has installed the latest nightly. No problem.

[code]

[2022-03-10 14:54] ktsaou opened #12364 "[Bug]: static updater issue"
### Bug description

[code]

### Expected behavior

Should not print an error.

### Steps to reproduce

Check script above.

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

@Ferroin

[2022-03-10 14:56] hugovalente-pm commented on #12362
@ktsaou do you think you can upgrade the following agents for us to check if this gets solved?
![image](https://user-images.githubusercontent.com/82235632/157688426-264de091-f498-488a-add6-ca7c3762fa99.png)

[2022-03-10 15:10] ilyam8 commented on #12362
I see that is an "expected" bug for v1.19.0

https://github.com/netdata/netdata/blob/5000257f0171271cb3ee2cf0fe02e8a2154ddf2e/daemon/system-info.sh#L110

Fixed since v1.20.0

[2022-03-10 15:22] ilyam8 commented on #12364
The reason is the GitHub API rate limit.

I think we need to split [downloading and parsing](https://github.com/netdata/netdata/blob/4116afa0756f0c9bb7fad8ffa4a0a2b449ce9875/packaging/installer/netdata-updater.sh#L375-L381). Do parsing only when get the expected response and not

[code]

[2022-03-10 15:32] ilyam8 commented on #12291
@iigorkarpov why the problem? We use `sysctl -n hw.cpufrequency` for Darwin/x86_64.

[2022-03-10 15:35] iigorkarpov commented on #12291
@ilyam8 I read `system-info.sh` _after_ my first answer, sorry. And yes, the script works for me. Need a case when it does not.

[2022-03-10 15:36] Ferroin commented on #12346
I’ve created a PR to add apcupsd to our default Docker images (and clean up our other dependencies in the Docker images as well, because we’ve needed to tidy things up there for a while now). It should hopefully be merged some time early next week (if it doesn’t get approvals today, we’re likely to hold off merging until Monday), at which point the next nightly build will include these changes. I’

[2022-03-10 16:09] Ferroin commented on #12364
Yeah, there’s actually two bugs here.

The first is the issue of handling errors for the GH API that we’re hitting to check the commit date.

The second is that `date` does not like the arbitrarily distant in the future date I picked as the fallback date to use when comparing the local version to the upstream version.

[2022-03-10 16:11] Ferroin commented on #12364
Part of the issue on the parsing side of things is that the format is different if things succeed from if they fail.

We actually can still do this with a Python one-liner, but will have to drop usage of `jq` for sanity reasons...

[2022-03-10 16:16] Ferroin commented on #12364
And the other part of the issue is that GitHub refuses to use correct HTTP response codes when they should be.

This particular case should actually be returning a 429 response code, not an effing 200...

[2022-03-10 16:32] Ferroin commented on #12364
And in working on this have found another bug, the check does not work correctly on FreeBSD or macOS. I’ll fix all three issues in one PR.

[2022-03-10 18:15] ilyam8 commented on #12362
Ok, it seems there is an issue.

- RPi v1.19 streams to the parent.
- The parent connected to the Cloud.

It looks like:
- the parent instance doesn't do any validation/escaping/fixing when receiving /api/v1/info from a child.
- the child doesn't do any validation/escaping/fixing either when parsing system info data.

If I

[code]

Then `/api/v1/info` returns invalid JSON.

@stelfrag @underhood wh

[2022-03-10 19:15] bioshazard commented on #6523
I found I was able to pull a list of objects with `queryObjects(Dygraph)` and even set annotations by finding a raw value timestamp like `temp2.setAnnotations([{series:"requests", x:1646936596000, shortText: "X", text:"TEST"}])` per https://dygraphs.com/annotations.html but the `X` renders at the top left away from the tick mark added to the DyGraph at the right timestamp.

[2022-03-10 19:21] bioshazard commented on #6523
![image](https://user-images.githubusercontent.com/5616668/157738679-7d9c8fd4-948f-49d6-89e6-fd1bfaed2cdb.png)

This is with `temp1.setAnnotations([{series:"requests", x:1646939856000, shortText: "Annotation", text:"Full Text"}])`

[2022-03-11 08:35] underhood commented on #12362
Streaming should do escaping/unescaping on both sides only in the manner needed for streaming connection. In memory the string should be stored unescaped (as UTF-8 string).

Any consumer of this data has to then escape it in manner necessary for the output... e.g. if output is JSON -> JSON-C will do all the necessary escaping. If output is XYZson then XYZson should do necessary escaping.

As far a

[2022-03-11 08:44] ktsaou commented on #12362
Guys, all strings collected from 3rd parties should be properly checked for invalid characters. Netdata may be running on IoT hardware and we may be collecting garbage from them (bad memory modules, etc).

There are already a couple of functions that guarantee proper strings in ASCII:
https://github.com/netdata/netdata/blob/master/libnetdata/libnetdata.c#L197-L226

[2022-03-11 09:18] MrZammler opened #12368 "[Bug]: Investigate and reduce the amount of removed alert events on obsoleted charts."
### Bug description

Opening this to keep track. It seems there are cases that charts become obsolete often maybe due to not being collected for a while, then be collected again, etc, in a short while. This creates a umber of removed alert events every time it happens. We could consider setting a delay with last_collected.

Needs investigation if this is the root cause.

### Expected behavior

Don

[2022-03-11 09:29] MrZammler opened #12369 "[Bug]: Don't queue alerts to cloud if they don't have alert config hash."
### Bug description

It seems in some cases alert events that miss config hashes are pushed to the cloud. One reason might be the queuing of older events already present in the database upon first connection to the cloud. Needs investigation.

### Expected behavior

Don't queue those events, because of the missing alert hashes they can not be processed.

### Steps to reproduce

Will update the tic

[2022-03-11 09:45] MrZammler opened #12370 "[Bug]: Don't send an alert snapshot with snapshot id 0"
### Bug description

In some cases the agent receives 2 snapshot requests before it manages to send the first. Both are queued, but at the end of the process the snapshot id is reset to 0, so the next one goes out with snapshot id 0.

This is related to https://github.com/netdata/cloud-backend/issues/45. Cloud backend will try to investigate, we should also consider protecting against it.

### Exp

[2022-03-11 10:29] shyamvalsan commented on #12173
cc: @ktsaou

[2022-03-11 12:32] andrewm4894 commented on #12173
FYI These nodes all live in here: https://staging.netdata.cloud/spaces/mlstress/rooms/general/overview#_f=

For example, you can indeed see the different cpu usage profile on the parent (orange) that is running ml on itself and its 10 children.

![image](https://user-images.githubusercontent.com/2178292/157867475-7ebaa5f8-4f94-4813-993e-b9dc9ee48e3e.png)

@k-manolis can you invite @ ktsaou too if

[2022-03-11 12:35] andrewm4894 commented on #12173
also big shout out to @k-manolis for automating all this via terraform and ansible! this will be very very useful to enable us to quickly iterate on stress testing and experimental set ups like this in a repeatable and consistent way.

and the whole set up is something we'd love to wrap up into a public repo and some tutorials or blog posts or webinars to help users who would like to automate thie

[2022-03-11 13:41] dimko opened #12376 "[Bug]: Alert email for a child re-directs to the parent"
### Bug description

**Preconditions:**
- 2 nodes in a parent/child setup
- Child streams data through the parent
- alert configuration for the child lives on the parent
- alert is raised for the child in the parent
- smtp settings are configured in parent so it can send emails for alerts

When a user clicks the Go To Chart CTA button inside the alert email for an alert raised for the child, she g

[2022-03-11 13:49] dimko commented on #12376
Affects https://github.com/netdata/cloud-frontend/issues/2955

[2022-03-11 14:32] Saruspete commented on #6523
I guess the questions related to javascript may be better answered in the [dashboard repo](https://github.com/netdata/dashboard), the current one being mostly for the agent that collects and store the data.

On the agent, there was a poc for storing these events in sqlite (#9815) but I don't know if it was finished or abandonned.
It would be good to have this feature available through the API or v

[2022-03-11 14:41] bioshazard commented on #3198
Found an article covering how to drop metrics by regex. Planning to drop any metric other than my whitelisted set to achieve this outcome until it becomes supported natively. https://www.robustperception.io/dropping-metrics-at-scrape-time-with-prometheus

[2022-03-11 14:52] bioshazard commented on #6523
I will check the dashboard repo ty. At this point, I would be happy to just have some way to plugin to the annotation system at all. Likely going to wind up exporting the few metrics I want to annotate to Prometheus\Grafana until NetData gets native support. Thanks for the tips.

[2022-03-11 15:58] Divya-kalluru commented on #12303
Hi @stelfrag ,

Happy Friday!!!
Any update on this ticket.

[2022-03-11 16:22] #12251 closed

[2022-03-11 16:22] #12254 closed

[2022-03-12 12:48] ktsaou commented on #3198
Thank you @bioshazard !

@ilyam8 @stelfrag @cpipilas since this is a much needed feature, I suggest to reconsider and implement it. We could also support simple patterns at the URL.

[2022-03-12 12:57] ktsaou commented on #12173
Guys, what we are saying is that the orange spikes on the chart posted above, come from ML training?

If yes, we have to make the work spread over time. There should be no spikes at all.

So, after each metric training, to calculate the sleep time to start the next one, we have to take into account the remaining time and the number of metrics remaining to be trained. So, depending on how fast it i

[2022-03-12 22:44] gfay63 opened #12383 "macos connection problem with ACLK-available-is-false"
### Bug description

After multiple installs, and attempts to claim my one and only initial macos node, I get issues connecting via the cloud. The installs are successful w/o error and all looks perfect locally on localhost:19999. I am able to claim the node and it DOES appear in the cloud, however, the cloud shows "unreachable".

After "semi-successful" claim (only the message **uv_pipe_connect()

[2022-03-13 11:11] ktsaou opened #12384 "[Bug]: netdata crash due to buffer overflow at the stack"
### Bug description

[code]

### Expected behavior

Not crash

### Steps to reproduce

I am not sure. Probably by `netdatacli aclk-state`. Probably related to #12217 and #12231
@underhood

I was repeatedly running `netdatacli aclk-state` while child nodes were connecting to this parent.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional i

[2022-03-13 11:25] ktsaou commented on #12384
What is stack smashing detected?

Usually, the compiler generates the stack smashing detected error in response to its defense mechanism against buffer overflows. A buffer​ overflow occurs when the user input exceeds the buffer capacity. The following C code can cause the buffer to overflow if the user enters more than ten characters.

So, there may be a buffer overflow...

[2022-03-13 11:26] ktsaou commented on #12384
cc: @stelfrag

[2022-03-13 23:02] thiagoftsm commented on #11397
Hello everybody,

I made a PR that is fixing an analogous problem for `ebpf.plugin`, as soon it is merged, we will address this issue.

Best regards!

[2022-03-13 23:06] gfay63 commented on #12383
Update:

I noticed that I could not run netdatacli without a similar error:

`uv_pipe_connect(): connection refused`

Upon digging deep, I realized that the "netuser" account default bash shell was the old mac bash 3.x, even though I'd upgraded and installed it with the 5.1 as "my" user default bash shell. So looks like the various scripts need to check the bash shell version issue for this netuse

[2022-03-13 23:10] gfay63 commented on #12383
...and here are the logs, which though have the same errors, may have some slightly different information in them if it helps...

[code]

[2022-03-13 23:16] gfay63 commented on #12383
Additionally, after seeing that "alarm_notify.sh" issue in these new logs, I do see that I also **do not have any Alarms** whatsoever on my local dashboard, even though it otherwise works...

![image](https://user-images.githubusercontent.com/4573115/158083423-39b6a8a7-8832-4c48-8be7-dc1ef918b28b.png)

When I click on the alarm icon (top left), nothing happens. Perhaps another install issue...

[2022-03-14 05:45] gfay63 commented on #12383
Additional info that may be needed...

bash-5.1$ netdata -W buildinfo

[code]
bash-5.1$ netdatacli aclk-state

[code]

bash-5.1$ grep -i ACLK /usr/local/netdata/var/log/netdata/error.log

[code]

[2022-03-14 08:03] #12363 closed

[2022-03-14 08:33] ilyam8 opened #12389 "[Bug]: ci triggers publishing a new nightly release if no commits have been made"
### Bug description

- ci bumps the version.
- ci triggers publishing a new nightly release if no commits have been made.

This issue was [fixed for Travis](https://github.com/netdata/netdata/issues/10298) but was not taken into account during the transition to GHA (or there is a bug 🤷‍♂️).

### Expected behavior

No nightly release if no commits have been made.

### Steps to reproduce

Check comm

[2022-03-14 09:33] vkalintiris commented on #12173
That was the initial implementation. The reason we changed this is because training of all dimensions would take at least `[ml] TrainEvery = xxx` seconds. FWIW, I believe that the previous implementation was the better approach.

[2022-03-14 09:50] ilyam8 commented on #12259
Thanks for reporting the issue, @com6056. Fixed in #12380.

[2022-03-14 10:03] ktsaou commented on #12384
Still happenning:

[code]

It happened again after repeatedly calling `netdatacli aclk-state`

[2022-03-14 10:25] ktsaou opened #12391 "[Bug]: Netdata agent crash at ACLK"
### Bug description

[code]

### Expected behavior

Not crash

### Steps to reproduce

Started latest netdata

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

@stelfrag @underhood

[2022-03-14 10:35] ktsaou commented on #12391
https://github.com/netdata/netdata/blob/d8aba23d0f471ccb3f0107c4aac119cf35753f94/database/sqlite/sqlite_aclk_alert.c#L565-L575

If the `host` is `NULL`, line 572 leads to a crash.

[2022-03-14 10:37] MrZammler commented on #12391
Yes, just looking at that, will/should guard.

[2022-03-14 10:58] underhood commented on #12384
problem is `send_command_reply` not properly guarding the size of reply_string so if you have many children aclk_state will generate reply big enough to uncover this bug

[2022-03-14 11:15] Ferroin commented on #12389
Actually, it never got properly implemented in Travis, see: https://github.com/netdata/netdata/pull/11486.

This _is_ something we want though, it’s just not an especially high priority right now.

[2022-03-14 11:58] jurgenhaas opened #12395 "[Bug]: Recommended fix to enabling auto update does not work"
### Bug description

Following your advise at https://community.netdata.cloud/t/known-issue-with-automatic-updates-in-netdata-v1-33-1-28-nightly/2648 I wanted to apply that fix but received the error message `/usr/libexec/netdata/netdata-updater.sh: line 44: 3: Bad file descriptor`

Then I downloaded the latest script from https://raw.githubusercontent.com/netdata/netdata/master/packaging/installe

[2022-03-14 12:17] #12391 closed

[2022-03-14 12:23] underhood opened #12396 "[Bug]: netdatacli limits the message size"
### Bug description

netdatacli has limit for output size of 4096

### Expected behavior

do we just increase this limit or make it transfer arbitrary message sizes?

[2022-03-14 12:26] underhood opened #12397 "[Bug]: netdatacli uses uv_write on string in stack"
### Bug description

`send_command_reply` calls `uv_write` on string in stack but `uv_write` documentations says:

Therefore between call to `uv_write` and until `pipe_write_cb` is called the pointer might point to invalid memory.

[2022-03-14 12:29] #12346 closed

[2022-03-14 12:41] Ferroin commented on #12395
@jurgenhaas Can you share the output of `sh -x ./netdata-updater.sh` run with the downloaded copy of the updater script?

[2022-03-14 12:45] jurgenhaas commented on #12395
The output is this:

[code]

The script is what I've just downloaded from https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/netdata-updater.sh

[2022-03-14 12:46] shyamvalsan commented on #12173
@andrewm4894 @ktsaou I think spreading out the training is the right thing to do - even if it means that training *all* dimensions would take at least `TrainEvery` seconds (which is 1 hour by default). Once the system is up and running shouldn't the effect of taking a little longer to train all dimensions be near negligible.

Do you disagree? What am I missing here?

[2022-03-14 12:55] Ferroin commented on #12396
I would vote for arbitrary message sizes, we should be future-proofing this if at all possible.

[2022-03-14 13:21] Ferroin commented on #12395
Just noticed this, but the system you appear to be attempting this on _shouldn’t_ be affected by the bug outlined in https://community.netdata.cloud/t/known-issue-with-automatic-updates-in-netdata-v1-33-1-28-nightly/2648, given that it’s a stable install. There is, however, an unrelated issue in v1.33.1 and earlier in that our native packages lack direct support for automatic updates. That one is

[2022-03-14 13:31] andrewm4894 commented on #12173
howdy - i have a feeling this might be running from a previous branch that did not have the latest 'spread the cost' optimizations from @vkalintiris

https://github.com/netdata/analytics-bi/blob/master/ansible/ansible-netdata-branch-role/defaults/main.yml#L1

@k-manolis would we be able to update it all to use netdata nightly by default everywhere?

(i have a feeling i originally asked you to use

[2022-03-14 13:34] vkalintiris commented on #12173
This is indeed an out-of-date branch but it does include the scheduling changes we are discussing in this thread.

[2022-03-14 13:37] andrewm4894 commented on #12173
I wonder then if could be a sign that the scheduling changes might not be behaving as expected on the parent for some reason. I'll work with @k-manolis to make sure its all defaulting to nightly and default config params to begin with and once we sure on that we can dig into this if those spikes stay so pronounced.

[2022-03-14 13:48] #12368 closed

[2022-03-14 13:58] andrewm4894 commented on #12173
actually i was wrong - above is all using nighties on master.

@vkalintiris if i look at my own latest devml node i see this profile:

![image](https://user-images.githubusercontent.com/2178292/158185697-30e75c43-6aee-4da1-8144-4c95830694c3.png)

So i think it is being spread out better than before but just gets exaggerated on a parent node where you have 10 of them on same schedule.

As another e

[2022-03-14 14:11] vkalintiris commented on #12173
Yes, that's the _expected_ behavior. The current scheduling policy is to start training a dimension as soon as it becomes available for training.

The older scheduling policy (it was removed several months ago), was to spread out the training of each dimension over the duration specified by the `TrainEvery` option.

We switched from the older scheduling policy to the new one, because it would fini

[2022-03-14 15:41] #12257 closed

[2022-03-14 17:14] #12384 closed

[2022-03-14 19:09] gfay63 commented on #12383
Awesome. Thank you so much! I've spent days on this, and can't seem to figure anything out. I've also tried deleting from the cloud and re-claiming. No luck. LMK if anything else is needed from my end.

I'm excited to use this if can get it working. Eventually, I'll have other systems to centralize this on as the environment grows, but currently just have this Mac Pro Server managing several Windo

[2022-03-14 21:59] ktsaou commented on #12173
@vkalintiris could you please explain how ML works in the agent?

From the code I see the following (correct me if my conclusions are wrong):

I see there is a Training and a Detection thread per host (per child and parent).
https://github.com/netdata/netdata/blob/69ea17d6ec534e1ed796a92fd042bd76a3ca9215/ml/Host.cc#L500-L503

Question 1: Why you need a detection thread? Just to fill the detection

[2022-03-14 22:32] ilyam8 opened #12404 "[Bug]: Netdata packages installed by kickstart should have the same netdata.conf file"
### Bug description

deb and rpm packages use custom [netdata.conf](https://github.com/netdata/netdata/blob/master/system/netdata.conf) file. The file is no longer needed after #12257 and #12256 issues have been fixed.

The goal is to have the same experience regardless of the installation method (native packages, static, build).

### Expected behavior

deb/rpm packages shouldn't use a custom conf

[2022-03-14 23:07] vkalintiris commented on #12173
The detection thread detects anomaly events (and saves them when to the DB when they occur), calculates anomaly rates, and computes a number of stats to present in charts.

You're right. This effectively matters only for the data that we feed into the charts, not the anomaly events and the anomaly rates. The charts was the last functionality that I added hence the lack of proper per second alignme

[2022-03-14 23:18] ktsaou opened #12405 "[Bug]: timex plugin is cryptic"
### Bug description

On one of my servers, I have an alarm about `system_clock_sync_state` having `0 synchronization state`.

I tried to find what is happening. How this plugin finds out about it?

Nothing about it here:
![image](https://user-images.githubusercontent.com/2662304/158275543-d561f0f4-e683-4af8-9fc4-9982f3fe60f5.png)

Nothing about it here:
![image](https://user-images.githubuserconte

[2022-03-15 06:03] jrca025 opened #12406 "[Bug]: Node is unreachable but service is running"
### Bug description

I received an email around (1:44pm) that one of my node is unreachable but when I connect to that specific node, the netdata service is running.

### Expected behavior

It should not be unreachable because the service is running. And the available resources for that node is sufficient enough

### Steps to reproduce

I do not have steps to reproduce because it is intermittent.

[2022-03-15 09:32] jrca025 commented on #12406
Closing this since this might be affected by the Cloud vendor problem. I'll try to monitor on my end after the issue has been resolved

[2022-03-15 09:32] #12406 closed

[2022-03-15 09:44] ktsaou opened #12409 "[Feat]: When ACLK is not connected, it should state when it will reconnect"
### Problem

When a node is not online, `aclk-state` should indicate when it will be the next time to reconnect:

[code]

Also, it would be useful to state:

1. The time it was last connected
2. The time it last attempted to connect and
3. The reason of the last disconnection or last failed connection attempt

Something like:

[code]

### Description

As above.

### Importance

must have

### Valu

[2022-03-15 09:45] ktsaou commented on #12409
@underhood

[2022-03-15 09:46] ktsaou commented on #12409
Also, does `Reconnect count` include connection attempts?
It does not seem to...

[2022-03-15 10:50] #7017 closed

[2022-03-15 10:54] ktsaou commented on #12173
When you say "anomaly events" you mean "node level anomalies" or "per metric data collection outliers" (the ones that are stored in the database for every point) ?

Since all these are separate threads, we should be able to measure their resource utilization and have a dedicated chart for the CPU resources consumed from ML threads. So, it shouldn't be statistical. We can be very accurate about thi

[2022-03-15 10:59] #12364 closed

[2022-03-15 11:07] underhood commented on #12383
Tried on Mac M1 VM just now, connects to the cloud with charts being visible. Could you send me your current claim_id so that we can take a look at this specific node(s) also from the cloud side?

[2022-03-15 11:10] underhood commented on #12409
I considered `reconnect count` to mean naturally `MIN( (successful_connections_to_cloud - 1) , 0)` and that is exactly how is it implemented.

[2022-03-15 11:10] ktsaou commented on #12173
Also, I see you have structured the anomaly charts like this:

[code]

You have set the `title` to human readable and both `id` and `name` with GUIDs.
I suggest you also set the `name` to be human readable too, like this:

[code]

Please note that the chart `name` is added to the `title` during json generation. It is not there really (don't add it in the code). Titles should never include instance

[2022-03-15 11:13] ktsaou commented on #12409
ok. @underhood we need however to provide more transparency. The way it is now, users cannot tell when their nodes will reconnect.

[2022-03-15 15:04] Xalaxis opened #12413 "[Bug]: Docker container rapidly fills log file with apcaccess error"
### Bug description

I auto-update my Docker containers daily. This morning my Netdata container started rapidly filling my filesystem until it was full (approximately 600GB of data). After some investigation, a temporary file has been created that contains millions of lines of "charts.d: : apcupsd: command 'apcaccess status 127.0.0.1:3551 ' failed with code 1". This file is created every time the

[2022-03-15 15:36] MrZammler commented on #12413
Hi @Xalaxis thanks for your report, we will look into it. Thanks.

[2022-03-15 15:51] gfay63 commented on #12383
Yeah, just ran again to confirm...

[code]

[2022-03-15 16:15] Ferroin commented on #12413
Looks like a bug in the APCUPSD collector in the charts.d plugin. We recently added the tooling this collector requires to our Docker images, and the plugin is enabled by default and seems to (incorrectly) assume that if the tooling is present it’s correctly configured.

Short-term fix is to manually disable the APCUPSD plugin. This can be done by creating a file called `/etc/netdata/charts.d.conf

[2022-03-15 16:16] aberaud opened #12414 "[Bug]: dev Dockerfile based on unsupported/insecure Ubuntu version"
### Bug description

Docker image `netdata/devenv` is based on Ubuntu Groovy (20.10) [which is unsupported since July 22 2021](https://fridge.ubuntu.com/2021/07/25/ubuntu-20-10-groovy-gorilla-end-of-life-reached-on-july-22-2021/).

This is insecure and causes many issues when using the Dockerfile.

### Expected behavior

Docker images should be based on a supported Ubuntu version, such as 20.04, 2

[2022-03-15 19:02] Ferroin commented on #12413
A Docker image with a temporary fix has been published with the `latest` and `edge` tags. A more permanent fix is being worked on and will be published as part of the regular nightly builds.

[2022-03-15 19:33] Xalaxis commented on #12413
Much appreciated, thanks for all your rapid work on this!

[2022-03-15 19:47] cakrit opened #12419 "[Bug]: Problem naming containers when using Hashicorp Nomad"
### Bug description

We have a user with [Hashicorp's Nomad](https://www.nomadproject.io/) for container orchestration.
The [container identification script](https://github.com/netdata/netdata/blob/master/collectors/cgroups.plugin/cgroup-name.sh.in) doesn't seem to work in their case, so all the containers appear as ids.

It's likely that we get similar errors as the ones reported in https://githu

[2022-03-16 08:46] underhood commented on #12383
Problem seems to be that your Mac generated uuid with all caps, while mine does it with small letters for some reason (perhaps different `uuidgen` was used) same as Linux version does. We are looking into the issue on the cloud side.

[2022-03-16 08:49] underhood commented on #12383
As a workaround until this is properly fixed we could manually generate the new claim_id with lowercase while agent is not running and then claiming it again (with claim_id already being there).

[2022-03-16 09:04] underhood opened #12421 "[Bug]: UUIDGEN on mac creates uppercase UUID this breaks cloud"
### Bug description

`uuidgen` on mac os generates uppercase uuid.

This results in agent being disconnected from VerneMQ soon after connecting + other issues on the cloud.

claim script needs to ensure uuid is lowercase in every case

### Expected behavior

claim_id should always be lowercased as per RFC of UUIDs which says:
- generators of UUID must emit lowercase
- consumers must be case insens

[2022-03-16 11:06] underhood opened #12424 "[Bug]: Agent should follow RFC when loading claim_id"
### Bug description

if claim_id for whatever reason has some uppercase character in it cloud will not properly recognize it as same uuid
therefore agent on load of uuid and after it is validated to be real UUID should ensure it is later sent as lowercase (when sent/stored in string form)

### Expected behavior

always output lowercase claim_id even if stored otherwise in file.

### Steps to repro

[2022-03-16 11:13] stelfrag commented on #12303
Hi @Divya-kalluru not yet

[2022-03-16 11:18] ktsaou opened #12426 "[Bug]: Cannot install on FreeBSD with kickstart.sh - Tarball checksum validation failed"
### Bug description

I get the following error:

[code]

Full log:

[code]

### Expected behavior

install netdata

### Steps to reproduce

Run kickstart.

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

@Ferroin

[2022-03-16 11:23] ktsaou commented on #12426
@Ferroin I understand this may be a more generic problem. The checksum does not match the source tarball.

[2022-03-16 11:31] #12421 closed

[2022-03-16 11:44] ktsaou opened #12427 "[Bug]: Instructions to install netdata from source, are incomplete and confusing."
### Bug description

There are quite a few documentation pages on installing netdata from source:

* https://learn.netdata.cloud/docs/agent/packaging/installer/methods/source
* https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual

Still the steps are quite simple and straight forward.

1. `sudo su`
   To become root. You may use any other method to run the following commands a

[2022-03-16 12:03] ilyam8 commented on #12426
Duplicate of #12060

[2022-03-16 12:03] #12426 closed

[2022-03-16 12:12] Ferroin commented on #12427
@ktsaou Just making sure I understand this: You want us to make it _easier_ for people who do not have experience dealing with building things by hand to build and install Netdata in a way we officially do not provide support for?

To clarify a bit further: The _only_ reason we have these documents at all is to make life easier for people who are packaging Netdata (for example, the people who main

[2022-03-16 12:51] ktsaou commented on #12427
I want our documentation to be accurate and work for our users.

I don't agree this is the only reason. There are many reasons. Top of my mind:

1. Our packaging does not provide packages for them (eg FreeBSD, WRT, exotic Linux distros, etc)
2. Our `kickstart.sh` fails to compile it (it failed for me #12426 )
3. They are contributors and they need to build it on their own to test their contributio

[2022-03-16 13:39] ktsaou commented on #12060
@ilyam8 this is easy to be fixed. Can we fix it so that the `kickstart.sh` can install it from source?

Also, @Ferroin can we provide a FreeBSD ports package that is automatically built by us?

[2022-03-16 14:43] Ferroin commented on #12427
_WE DO NOT OFFICIALLY SUPPORT BUILDING NETDATA BY HAND_. We _cannot_ support this sanely because we’ve backed ourselves into a corner with our complicated mess of split repositories and secondary components, and there is no ‘simple’ way to install by hand. Anybody who meets both of the first two categories should be reporting a bug, and probably can’t use the `netdata-installer.sh` script either b

[2022-03-16 14:48] Ferroin commented on #12060
There are a couple of reasons why we haven’t done this yet and are likely to not be realistically able to for the foreseeable future:

* Our current hosting provider for package repositories does not support FreeBSD. This is hopefully going to change in the near future as we are looking into moving to self-hosting our package repositories for other reasons (namely that our current provider has all

[2022-03-16 15:26] ktsaou opened #12430 "[Bug]: kickstart.sh installs netdata to /usr/local on FreeBSD"
### Bug description

The kickstart shows this:

[code]

After it finished:

[code]

### Expected behavior

I am  not sure. I would expect either `/opt/netdata` or install it at `/`.

### Steps to reproduce

Run kickstart.sh on FreeBSD.

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-16 15:32] ilyam8 commented on #12430
`/usr/local` is the default install prefix on FreeBSD when `--install` is not provided.

https://github.com/netdata/netdata/blob/121129aaeb60aa40d9c2572979cda98d12daccf5/packaging/installer/kickstart.sh#L781-L796

[2022-03-16 15:46] ktsaou opened #12432 "[Feat]: Collect VM information from cloud providers as part of system-info.sh"
### Problem

Instance type & availability zone are important information to be collected from cloud providers.

Depending on the cloud provider, there may be CLI tools we can use to get this information.

### Description

In netdata cloud, I would like to see the type of VM each node is.

### Importance

must have

### Value proposition

Cloud provider node information defines the quality of the v

[2022-03-16 16:13] ktsaou commented on #12427
Thank you. This is what I said in the first place.

[2022-03-16 16:14] ktsaou commented on #12430
Why?

[2022-03-16 16:34] MikeJakubik commented on #12060
Hello,

I worked with the guy maintaining the port on FreeBSD. I am pretty sure Gitlab runner works just fine on FreeBSD ( https://www.freshports.org/devel/gitlab-runner/ ) unless there is some difference between Gitlab and Github. Not sure what you mean by strict, but the ports tree is kept up to date separately from actual FreeBSD versions and dependencies can specify specific versions i.e. p5-S

[2022-03-16 17:15] Christophe31 opened #12433 "[Bug]: cgroup_10min_cpu_usage "Critical" notifications while no limitation (-1) on netdata restart"
### Bug description

I get for most of my containers a mail of cgroup_10min_cpu_usage with values like 45000% (but also some under 100%) while there are no specified limitation and ```cat /sys/fs/cgroup/cpu/docker/*/cpu.cfs_quota_us``` returns only -1 values

### Expected behavior

no mails as long as my main CPU is ok when no cgroups cpu limitations

### Steps to reproduce

1. have a docker compo

[2022-03-16 17:25] gfay63 commented on #12383
That worked!! I am connected now.

However, I cannot update Netdata from last night's build, which the dashboard told me was out-of-date this morning. Evidently, the auto-update must have failed overnight. I tried manually two different ways, given my initial install was with the kickstart script:

[code]

so I tried a full reinstall (so it wouldn't overwrite my config) via

`bash-5.1$ curl https:

[2022-03-16 18:26] Ferroin commented on #12430
Because `/opt` is not a standard install prefix for _anything_ on FreeBSD, and _NOTHING_ should be installing in `/` directly on FreeBSD (even native packages install under `/usr/local`, `/` is _only_ for core OS components).

[2022-03-16 18:26] Ferroin commented on #12430
To clarify further, this is expected behavior for _normal_ FreeBSD users, and was specifically requested by them.

[2022-03-16 18:38] ktsaou opened #12434 "[Bug]: libvirt VMs are monitored twice"
### Bug description

Every VM spawned by libvirt, now has 2 entries, one with the VM name and another with the VM name and `libvirt` appended.
The right one to monitor is the second one (with `libvirt`) and it is the one that also tracks disk and network.

![Peek 2022-03-16 20-30](https://user-images.githubusercontent.com/2662304/158661933-45ff1dc6-8b4a-4d4e-94be-2ca4e8a5fcd3.gif)

### Expected be

[2022-03-16 18:53] underhood commented on #12383
True, we do seem to try to use exact `protoc` when using bundled one which seems to work at least in most cases... interesting
[code]

[2022-03-16 20:11] ktsaou commented on #12434
On this line:

https://github.com/netdata/netdata/blob/4dca6582bd42b2ffc954c6e35bce0f3bc65e1ef4/collectors/cgroups.plugin/sys_fs_cgroup.c#L406

It should say:

[code]

(an asterisk is missing).

But, using the setup, on non-unified cgroups tree, the cgroup does not have any disk I/O reported.
The problem is that we need to parse the `blkio*_recursive` files too, and add a new family called `disk r

[2022-03-16 20:51] ktsaou commented on #12430
ok, great! The way we install it is it right? Like `/usr/local/usr/sbin/netdata` ?

[2022-03-16 23:51] MikeJakubik commented on #12430
This is the correct location based on FreeBSD standards, either use the port or this script, but not both. Please don't pollute heir with Linux dirs like /opt.

https://www.freebsd.org/cgi/man.cgi?hier(7)

[2022-03-17 07:57] ilyam8 opened #12436 "[Bug]: apps.plugin creates "System Processes State" chart with Linux-specific states on FreeBSD"
### Bug description

ssia

### Expected behavior

apps.plugin **doesn't** create "System Processes State" chart with Linux-specific states on FreeBSD.

### Steps to reproduce

1. Install Netdata on FreeBSD
2. Check "System Overview -> processes" on the dashboard.

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-17 08:23] ilyam8 opened #12437 "[Feat]: use `ntp_adjtime` instead of `adjtimex` in timex.plugin"
### Problem

[adjtimex()](https://man7.org/linux/man-pages/man2/adjtimex.2.html) is a Linux-specific call, therefore [timex.plugin](https://github.com/netdata/netdata/tree/master/collectors/timex.plugin#timexplugin) works only on Linux systems.

### Description

Using `ntp_adjtime()` will allow us to have `timex.plugin` on FreeBSD and macOS.

I compiled the following code on FreeBSD and macOS and

[2022-03-17 09:03] ilyam8 commented on #12430
Closing the issue because using `/usr/local` as install prefix is the correct way. Thanks @MikeJakubik and @Ferroin.

[2022-03-17 09:42] AreAArseth opened #12439 "[Bug]: https://my-netdata.io/kickstart.sh checksum does not match documentation."
### Bug description

Reading https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart#verify-script-integrity I see a way to verify the installer:
[ "8ce9f7ab7250dd7c52a3ee4fe6ae0a5a" = "$(curl -Ss https://my-netdata.io/kickstart.sh | md5sum | cut -d ' ' -f 1)" ] && echo "OK, VALID" || echo "FAILED, INVALID"
And it fails:
$ [ "8ce9f7ab7250dd7c52a3ee4fe6ae0a5a" = "$(curl -Ss htt

[2022-03-17 09:59] ilyam8 commented on #12439
Will be fixed by https://github.com/netdata/learn/pull/938

[2022-03-17 10:01] ilyam8 commented on #12439
Hi, @AreAArseth. There is a delay between updating the kickstart.sh script and the actual page on our learn website.

[2022-03-17 10:29] GoAdvisedGroup opened #12442 "[Bug]: Netdata process using 200% CPU on"
### Bug description

When I got to the office this morning I noticed a higher load then normal on one of our cloud servers. After further inspection it seems that Netdata is the culprit.
![image](https://user-images.githubusercontent.com/83397704/158789315-3ff5f7da-05a1-477c-8970-c9818ab7164c.png)
Somehow it is using 2 full cores on our server.
I tried to update netdata but it was already the most

[2022-03-17 10:51] vkalintiris commented on #12316
Marked this as low priority because:

1. hitting the agent in a tight loop with no delay is not a scenario we'd expect to happen frequently.
2. we need to discuss how to proceed and properly fix this.

I'll post a follow up comment later on to share my thoughts/concerns.

[2022-03-17 11:32] ktsaou opened #12443 "[Bug]: agent does not propagate the right chart and dimension liveness to cloud"
### Bug description

There are many cases:

1. Charts being live on the agent, but not live at the cloud
2. Charts being obsolete on the agent, but live at the cloud

The way this works now, the cloud is out of sync on charts and dimensions, presenting either incomplete or wrong information about the charts that are available on the cloud.

This is a critical issue, that deserves first priority re

[2022-03-17 11:52] ktsaou commented on #12443
@ralphm the answer to your missing charts.

[2022-03-17 12:37] ralphm commented on #12443
I am not sure this is the same case. In my node, I don't have containers, some of the basic charts are missing, and also what I see in cloud is a strict subset of what the agent has.

[2022-03-17 12:52] ilyam8 commented on #12434
I am in favor of

A note: the fix is only for Cgroups v1.

[2022-03-17 13:02] #12389 closed

[2022-03-17 13:29] gert28 commented on #12442
I see the same issue on this version

[2022-03-17 13:29] PanosJee commented on #12432
By having the instance type could find some more metadata (network interface max speed, storage type) by looking up in some public [datasets](https://instances.vantage.sh/).

[2022-03-17 13:30] ktsaou commented on #12434
Me too.

[2022-03-17 13:35] vkalintiris commented on #12442
Can you share any non-default configuration options that you might be using in `netdata.conf`?

Curious, is the agent's dashboard still accessible while on high CPU usage?

[2022-03-17 13:50] ktsaou commented on #12316
@vkalintiris I think the problem is that the host is write locked for inserting alarms to it. If we introduce a new mutex for that, the problem will be solved.

To my understanding this is not low priority, mainly because it is random if an alarm can be inserted or not. The code tries 5 times to get a write host lock and then it gives up. I am sure this is triggered many times even in cases we don

[2022-03-17 13:59] ktsaou opened #12447 "[Bug]: cups.plugin set contexts without a '.' in them, so cups families are turned into top level menu in composite dashboards"
### Bug description

netdata cloud composite dashboard (note the `dest`, `job num` and `job size` menu items on the lower right):

![image](https://user-images.githubusercontent.com/2662304/158824677-be48c6ab-ea52-4b43-8921-cb03a6eb15c3.png)

See the contexts of the charts:

![image](https://user-images.githubusercontent.com/2662304/158824978-db94de88-b1bb-4cd0-ade0-06ff4a816fda.png)

### Expected

[2022-03-17 14:23] Ferroin commented on #12430
Reopening, because if we’re dumping things in `/usr/local/usr/sbin` then that is blatantly wrong, but for different reasons from why the issue was originally opened...

[2022-03-17 14:34] ilyam8 commented on #12442
Some good news:
 - it is not 200%, but 100% 😅
 - the problem is found, will apply the fix and republish nightly packages asap.

[2022-03-17 16:45] #12442 closed

[2022-03-17 16:47] Ferroin commented on #12432
We can, for most providers, do a `whois` lookup on the external IP to ID the provider, though this won’t always work. This could actually be done in the Cloud itself directly, and would probably be more efficient than having the agent do the lookup (but OTOH would not work for child nodes).

Beyond that though it’s complicated to reliably fetch this info.

* AWS EC2 provides a metadata API this in

[2022-03-17 19:08] ktsaou opened #12453 "[Bug]: cgroup network interface charts should have context cgroups.*"
### Bug description

Network interfaces belonging to cgroups, are detected via `cgroup-network` and renamed to the cgroup category.

During this renaming, netdata changes `id`, `name`, `family` and `priority`.

`context` should also be changed from `net.*` to `cgroup.net_*`. So:

1. `net.net` should become `cgroup.net_net`
2. `net.carrier` should become `cgroup.net_carrier`
3. `net.mtu` should bec

[2022-03-17 20:46] stelfrag commented on #12316
Checking...

[2022-03-17 22:12] ktsaou commented on #12316
When I wrote that code it was working like this:

1. We get a read lock of the host, to walk through `rrdset_foreach_read()`, the host charts, because other threads may be touching that linked list (new collectors adding their charts, etc).

2. For the RRDCALC, the only thread changing the linked list was the health thread. There were other probable readers that may be reading the same linked list

[2022-03-17 23:25] kickoke commented on #12427
Okay, I just caught up with the thread. While I _can_ update the docs, I can tell you directly:
I probably _can't_ build Netdata from source: I don't have the skillset of a package maintainer and I won't know if I did it right (assuming I won't run into any errors). If I do get errors along the way, I will probably not know how to resolve them.

So the best way I can help is create a new PR and tr

[2022-03-18 08:37] PanosJee commented on #12432
AWS has a couple of ways for an instance to expose it's metadata that is easily queryable from within either via an HTTP call or CLI

- [URI](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html)
- [CLI](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-discovery.html)

[2022-03-18 09:19] vkalintiris commented on #12316
I have no indication that the health code is fundamentally broken. I've run the agent under thread sanitizer for multiple scenarios and the health code looks pretty much ok as far as locking is concerned.

There are a couple of things that we need to address in order to allow us to reason about locking quickly, but this can be done over the next couple weeks.

[2022-03-18 09:24] maneamarius commented on #12122
This should be resolved now, I believe we can close it.

[2022-03-18 09:28] maneamarius commented on #8527
I believe we could upload to Alibaba cloud.. would that be an option?

[2022-03-18 09:58] startryst commented on #8527
looks a viable option

[2022-03-18 10:00] #12447 closed

[2022-03-18 10:26] guerby commented on #8594
Hi, any news on this? NVME are more common now. Thanks!

[2022-03-18 10:28] ilyam8 commented on #12453
@ktsaou you can test #12454, it is a draft because I haven't added alarms, but the network charts context is fixed.

[code]

[2022-03-18 10:28] ktsaou commented on #12316
I see in the code that these functions are called from RRDSET and RRDDIM creation, so multiple threads are calling them.

Another solution would be to remove the host lock entirely and introduce specific locks for every item we want to protect. In that case, we should probably use mutexes not rdwr locks, as mutexes are a lot faster.

The whole point is that every lock should have a specific protec

[2022-03-18 11:13] ktsaou commented on #12453
It works! Let's merge it!

[2022-03-18 11:15] Ferroin commented on #12427
@kickoke Actually, I havne’t opened one for _this_ yet, the one you probably saw is adding documentation for how to build the packages using our own package build infrastructure for testing purposes, which is unrelated to this.

I should have a PR up for this later today.

[2022-03-18 11:20] ilyam8 commented on #12453
I need to update:
 - health (add alarms)
 - the charts info (dashboard_info.s)

[2022-03-18 11:46] ktsaou commented on #12427
The above can be simplified as:

* `git clone --recursive https://github.com/netdata/netdata.git netdata.git --depth=1`
   Clone the netdata source from github. This will create the directory `netdata.git`.

* `cd netdata.git`
   Enter the source directory just downloaded.

I am not sure about the implications of `--depth=1` into future updates of the repo.

[2022-03-18 11:48] ktsaou commented on #12427
Another issue with these instructions, is that the source is compiled as `root`, which is probably not that good.

[2022-03-18 12:02] Ferroin commented on #12427
We can’t avoid that for the `netdata-installer.sh` script. It blindly assumes that it’s being run as root and we cannot really change that without an extremely invasive overhaul.

[2022-03-18 12:02] stelfrag commented on #12443
@papazach please check

I observe that for a parent / child setup
- Parent starts (3043d49c-53c3-41b3-a9ba-9c50dc662626)
- A child previously connected is offline (node 447f21d2-c4a9-42f9-9be9-2f4c876921ee)
- Parent reports that this child is not live (live=0, queryable=1)
  - Shouldn't this "mark" that everything related to that node is not live ?
     - The `last_entry` for charts for this node

[2022-03-18 12:26] papazach commented on #12443
Sorry I quite did not get that. The only thing that we do when we are informed that a node instance is not live, is to update its liveness state in a table where we keep such informational fields about all node instances and that's it.

Do you mean that in such case we should go ahead and update all NULL last_entries of all dimensions and charts with the current timestamp?

Correct, we do NOT send

[2022-03-18 12:38] Ferroin commented on #12432
@PanosJee If that also works for Lightsail instances and not just EC2, that would be great, but we still have to remember that every cloud provider is different here. This isn’t some ‘one-and-done’ type thing unless we look at it solely as a set of multiple requests on a per-provider basis.

[2022-03-18 12:51] PanosJee commented on #12432
Yes indeed but just covering AWS for starters is a big enough market to
give some very useful dataset.

On Fri, Mar 18, 2022 at 2:38 PM Austin S. Hemmelgarn <
***@***.***> wrote:

[2022-03-18 13:17] Ferroin commented on #12432
Indeed. I’ll look into adding this for AWS at some point later today. We’ll probably just use the URI approach since we can count on having `curl` or `wget` but not necessarily the AWS CLI tools.

Depending on how involved it is, I will probably also look at doing the same for GCP.

[2022-03-18 13:31] underhood commented on #12409
https://github.com/netdata/netdata/pull/12458 implements most of it except the reason for the last connection failure -> reason we currently don't have a single place/variable where we decide this. We log it always but in code, it is all over the place.

[2022-03-18 14:53] stelfrag commented on #12443
As discussed, we need this so a parent can send the necessary information to allow the cloud can do a cleanup of charts/dimensions.

[2022-03-18 15:30] gert28 commented on #12442
Good to hear that this is solved. But how can I fix this on my install? I just have to wait for the next release?

[2022-03-18 15:32] Ferroin commented on #8527
It’s more complicated than just hosting the data multiple places:

* We would need to mirror _everything_, not just the nightly artifacts.
* We would need working geolocation to identify where to try and download the data from, or a sane fallback mechanism that tries alternative sources.
* We would still need to meet relevant regulatory compliance requirements. This is _not_ trivial since we’re te

[2022-03-18 15:36] ilyam8 commented on #12442
@gert28 You need to update Netdata

[code]

[2022-03-18 15:40] papazach commented on #12443
Ok, I'll perform the change and release it really soon.
The only thing that I am not sure about @stelfrag is whether this should be the only change that the Cloud should perform, or not.

Should we also do this?

[2022-03-18 15:57] stelfrag commented on #12443
This will be tricky, because if the node goes live, you will not receive "active" dimensions again because that was the last state transmitted (agent will generate an identical payload and figure out you already have it)

I think this should be done more efficiently. This is because a parent starting will always "announce" children as "live=false" if the children are not yet connected (but eventua

[2022-03-18 16:05] papazach commented on #12443
Noted yes it should be much better performance-wise.

I will create the tickets to perform those changes and ping you to re-test your scenarios right after.

cc @juacker @TonyPath

[2022-03-18 16:57] #12453 closed

[2022-03-18 16:58] #12439 closed

[2022-03-18 18:03] taha-yassine commented on #12442
I don't why but for some reason my netdata running on docker is stuck on v1.33.1-189-nightly so one version behind the build that comes with the fix. I checked the docker image and it is up to data. Maybe something went wrong with the docker build job. So I guess I'll have to wait for a new image to be pushed before I can fix my buggy version.

[2022-03-18 18:54] ilyam8 commented on #12442
@taha-yassine the latest published docker image is v1.33.1-195-nightly

[code]

[2022-03-18 19:19] taha-yassine commented on #12442
@ilyam8 you are right, for some reason docker-compose wasn't pulling the latest image. Thanks for your help!

[2022-03-19 01:26] aehlke commented on #12204
Good question and amazingly it seems you're right :( Subscribed to the issue to monitor

[2022-03-19 05:40] emanzx commented on #5679
hi, would it possible to move the log file to somewhere better.. mine netdata updater keep failing causing the log keep growing untill all the space has been used. if it log in /var/log/netdata I would have set the quota so it wont grow more than hundred of megabytes.. i have many instances and now having problem and need  to disable all auto update..

[2022-03-19 07:09] ilyam8 commented on #12433
Hi, @Christophe31. If `cpu.cfs_quota_us` is -1 we set the limit to numOfCPU * 100, see #10757.

Can you show the following for any "values like 45000%" container (assuming you use cgroups v1):

[code]

Also, let's check calculated limits:

[code]

[2022-03-19 13:35] ilyam8 commented on #12434
Hi, @ktsaou. Can you test #12462?

[2022-03-19 17:47] gfay63 commented on #12383
I did try another `--reinstall` this morning, in case you guys had fixed anything. It goes beautifully all through it but crashes again at those same errors related to the initial `...older version of protoc...` errors.

Here is the full install output if it helps:
[Terminal Netdata Reinstall Output.pdf](https://github.com/netdata/netdata/files/8309773/Terminal.Netdata.Reinstall.Output.pdf)

I did

[2022-03-20 02:41] NightHawkATL opened #12463 "[Feat]: add support for gotify notifications"
### Problem

Support for gotify notifications through web services.

### Description

I run my own gotify notifications and would like to add netdata as an option to get notifications from.

### Importance

nice to have

### Value proposition

1. Customers can use locally hosted service that wouldn't impact netdata servers
2. Customers will be able to get local alerts
3. Should be fairly straightf

[2022-03-20 14:36] ktsaou commented on #12316
Just saw this happening on a parent with 10 children, on startup, without hitting `/api/v1/charts`.

Is it possible that this is also be responsible for the problem we see with parent scalability?

[code]

[2022-03-21 02:23] lgg commented on #4736
**TL;DR:**

## Solution

* use this image: https://github.com/D34DC3N73R/netdata-glibc instead of original image of netdata
  * details about how it works: https://github.com/netdata/netdata/issues/4736

## Screenshots

![image](https://user-images.githubusercontent.com/12018713/159197540-5eee51e9-3c5f-4b0b-815c-88dfe6641267.png)

![image](https://user-images.githubusercontent.com/12018713/1591975

[2022-03-21 02:27] lgg commented on #4736
@Ferroin are you okay with it - if I will add info about using netdata with nvidia-smi in docker to docs (https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/nvidia_smi/README.md) referring to external image's repo: https://github.com/D34DC3N73R/netdata-glibc?

Or this won't be merged?

[2022-03-21 08:41] shyamvalsan commented on #12177
@andrewm4894 @ktsaou

So are we OK to now make the below change?

**Current:**
`# charts to skip from training = !system.* !cpu.* !mem.* !disk.* !disk_* !ip.* !ipv4.* !ipv6.* !net.* !net_* !netfilter.* !services.* !apps.* !groups.* !user.* !ebpf.* !netdata.* *
`
**Proposed:**
`# charts to skip from training = netdata.* *`

[2022-03-21 09:35] iigorkarpov commented on #8527
China has its own platform, [Gitee](https://gitee.com). Given the size of potential marker, couldn't we have an outpost there?

[2022-03-21 09:59] vkalintiris commented on #12173
@ktsaou Good points, I'll address some of them in the following day(s) because I was busy with https://github.com/netdata/netdata/issues/12316 last week.

@andrewm4894 I built an agent that randomly samples the extracted features, ie. we perform feature extraction of the 4-hour window and randomly select:

1. 2000 features,
2. MaxTrainingSamples / LagN -> 4 * 3600 / 5 = 2880 features, and
3. 3600

[2022-03-21 10:08] vkalintiris commented on #12316
It might be a contributing factor. The main problem when multiple children are connected to a parent at the same time, is the number of SQL transactions that we have to perform. Roughly speaking we are doing `3 * number of dimensions` transactions for each new host. With https://github.com/netdata/netdata/pull/12214, we bundle these transactions into 1 per chart.

[2022-03-21 10:11] vkalintiris commented on #12177
FWIW, `interrupts + softirqs` related charts & dimensions are very noisy on my host.

[2022-03-21 10:14] ktsaou commented on #12316
@vkalintiris I have been thinking about this.

I think the `trylock` thing is totally wrong. Why we don't `rwlock` immediately? It is like we are not trusting that this is not already locked by that thread.

@stelfrag I see you wrote that part. Why you use `trylock` in the first place?

[2022-03-21 10:47] vkalintiris commented on #12316
Performance-wise, it's wrong. Semantically-wise, it's correct because it ensures a host is not locked twice.

Because [calc_link_to_rrddim()](https://github.com/netdata/netdata/blob/69ea17d6ec534e1ed796a92fd042bd76a3ca9215/database/rrddim.c#L6) is called by [rrddim_add_custom()](https://github.com/netdata/netdata/blob/69ea17d6ec534e1ed796a92fd042bd76a3ca9215/database/rrddim.c#L223), which can be c

[2022-03-21 10:53] ralphm commented on #12250
I looked into this a bit, as I encountered the problem in a fresh virtual machine. This [question](https://unix.stackexchange.com/questions/274624/automatically-enable-systemd-services-installed-using-deb) has several answers, and I _think_ that we need to explicitly add `dh-systemd` as a `Build-Depends` in the `control` file, to have it create instructions in `postinst` to enable the service as p

[2022-03-21 10:57] shyamvalsan commented on #12177
**Proposed:**
`# charts to skip from training = netdata.* * cpu.interrupts.* cpu.softirqs.*`

Yes, we would expect those two to be noisy. So considering the proposed list here, we're not going to gain a lot in terms of performance by excluding these metrics but we should reduce unnecessary anomaly triggers.

[2022-03-21 11:08] Ferroin commented on #12395
OK, both issues here should be fixed completely now.

[2022-03-21 11:43] underhood opened #12470 "[Bug]: Minor - eBPF configure bug"
### Bug description

Configure step prints empty line with `no` on systems other than linux:
[code]

this is caused by following eBPF `configure.ac` code:
<details>

<summary> configure.ac excerpt </summary>

[code]
</details>

as it is not calling `AC_MSG_CHECKING` before `AC_MSG_RESULT` if OS!=linux

### Expected behavior

No funky configure output which makes you think there is something wrong

[2022-03-21 12:08] underhood commented on #12383
@gfay63 looking into the build issue. Yep as you mentioned it would be best to split all issues you found into separate ones and closing this one.

[2022-03-21 12:20] #12434 closed

[2022-03-21 12:22] Ferroin commented on #4736
@lgg Provided there is an explicit mention that it’s provided by a third party (I want to make sure users know this ahead of time instead of being caught completely off guard when we ask them to reproduce an issue unrelated to this with an official image) I see no reason not to mention it in the documentation.

[2022-03-21 12:23] Ferroin opened #12473 "[Feat]: Support for user-selectable compression parameters for dbengine."
### Problem

Currently, we only use LZ4 in a single, specific operational mode for compressing metrics data in the dbengine. This assumes a particular trade-off between CPU utilization and I/O, but for some users it may be desirable to either reduce CPU utilization even further at the expense of increased I/O, or reduce I/O even further at the expense of CPU utilization.

### Description

I propos

[2022-03-21 12:25] ktsaou commented on #12434
Thanks. It works!

[2022-03-21 12:25] andrewm4894 commented on #12173
@vkalintiris i love this and it is exactly what i would have expected in terms of the ML - most of the feature vectors in any training window are fairly redundant and likely not actually all that important of contributing to the model fit. As long as we manage to see enough of the [high leverage points](https://en.wikipedia.org/wiki/Leverage_(statistics)) (in terms of representing the different no

[2022-03-21 12:27] andrewm4894 commented on #12173
cross linking this discussion since this is essentially a version of what @vkalintiris has done above.

https://github.com/netdata/netdata/discussions/12350

[2022-03-21 12:36] vkalintiris opened #12474 "Fix ML build on Fedora 36"
#### Summary

Fails at linking stage because it can't find the hypot function from libm that is referenced in dlib.

[2022-03-21 12:37] vkalintiris opened #12475 "#12474"

[2022-03-21 12:37] ktsaou opened #12476 "[Bug]: wrong metric count at /api/v1/info"
### Bug description

In `/api/v1/charts` we have:

[code]

in `/api/v1/info` we have:

[code]

So, we report 3210 in info and 1702 in charts.

### Expected behavior

Report the same number

### Steps to reproduce

Hit `/api/v1/info` and `/api/v1/charts` on the agent

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-21 12:45] andrewm4894 commented on #12476
seems like agent dashboard is populating it here: https://github.com/netdata/dashboard/blob/895df0c6d3bde10eabfedd40280116254fd8e1a9/src/main.js#L1455

[2022-03-21 12:55] ktsaou commented on #12476
I believe `/api/v1/info` responds for all children together. It should respond only for the host it is asked for.

[2022-03-21 13:10] ktsaou commented on #12476
Also, I think that the `metric-count` in `/api/v1/info` may also include stale metrics found in the database. However we are interested for the live metrics, as reported by `/api/v1/charts`.

[2022-03-21 13:44] #12475 closed

[2022-03-21 14:15] Nirjonadda opened #12478 "[Bug]: eBPF explicitly disabled"
### Bug description

 --- eBPF Kernel Collector ---
 FAILED  eBPF explicitly disabled.

![ScreenShot00482](https://user-images.githubusercontent.com/6899856/159279440-2ca969f5-f743-4305-ba90-f57d29746026.png)

### Expected behavior

 --- eBPF Kernel Collector ---
 FAILED  eBPF explicitly disabled.

### Steps to reproduce

wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /

[2022-03-21 14:38] vkalintiris commented on #12474
@Ferroin

[code]

Fails with:

[code]

[2022-03-21 15:39] thiagoftsm commented on #12478
Hello @Nirjonadda ,

Thank you for your report, as soon this [PR](https://github.com/netdata/netdata/pull/12471) is merged, I will work on this issue.

Best regards!

[2022-03-21 15:41] #12470 closed

[2022-03-21 15:42] ralphm commented on #12250
Right. I'll dig some more then.

[2022-03-21 17:48] ralphm commented on #12250
After a bit of digging by building the package myself, it turns out that including `db_systemd` as above triggers the section inserted at `#DEBHELPER#` to include the following snippet. This properly enables the service as expected and isn't there in the packages we publish. So there is some _magic_ involved by the inclusion of this dependency.

[code]

I understand that `dh-systemd` is a transiti

[2022-03-21 18:24] #12340 closed

[2022-03-21 19:12] underhood opened #12480 "[Feat]: aclk-state info about last connection failure reason"
### Description

We should show reason for last failed connection attempt or last connection failure reason if we have some details there.

This has been split from https://github.com/netdata/netdata/issues/12409

### Importance

nice to have

### Value proposition

1. easier for user to know the problem than having to grep it from `error.log`
2. eventually this will be shown also in the agent UI

[2022-03-21 19:18] thiagoftsm commented on #12478
@Nirjonadda ,

I ran two tests using `Vagrant Alma Linux` image:

- The first I cloned netdata repo, and after this I ran `dnf --enablerepo=powertools install autoconf-archive autogen libuv-devel`, `./packaging/installer/install-required-packages.sh --dont-wait` and finally I ran `./netdata-installer.sh --install /opt`.
     - I had to use `dnf`, because the `install-required-packages.sh`  is miss

[2022-03-21 19:22] underhood opened #12481 "[Feat]: Finish new MQTT client"
### Problem

_No response_

### Description

Replace current MQTT-C with custom implementation (in scope needed/used by netdata - not a full MQTT5 spec).

Main reasons:
- this was my plan since beginning of what was ACLK-NG and is now just ACLK
- reduced memory usage -> current impl. has to copy whole message content into its internal buffer, this buffer must be allocated whole time no matter how

[2022-03-21 19:34] underhood opened #12482 "[Feat]: Add capabilities list into NodeInfo message"
### Problem

_No response_

### Description

Implement https://github.com/netdata/aclk-schemas/pull/29 in agent

### Importance

must have

### Value proposition

1. capabilities list for easier introduction of new agent capas (without modifying protobuf definitions all the time)
2.
3.

### Proposed implementation

_No response_

[2022-03-21 20:30] thiagoftsm commented on #12027
I am reopening the issue, because final code was not merged in this repo.

[2022-03-21 21:50] ralphm commented on #12250
Possibly, this doesn't work as expected in the way we currently have it because the compat level we use is 9, whereas level 10 has the systemd stuff included in the init sequence.

[2022-03-22 08:49] myin142 opened #12484 "[Bug]: plugins stops collecting data on high load?"
### Bug description

The plugins stopped collecting or at least showing new data. They all stopped around the same time. System information like CPU, Memory or docker containers are still collecting metrics. It's mostly custom metrics like httpcheck, prometheus or nginx.

When executing `/usr/libexec/netdata/plugins.d/go.d.plugin -m httpcheck -d`, it still shows data being collected and that it's

[2022-03-22 09:49] ilyam8 commented on #12484
Hi, @myin142. Since you are using nightlies, can you update to the latest master and see if the problem still exists? We [changed Netdata scheduling policy](https://github.com/netdata/netdata/pull/12271) recently, it is 141's commit (you are on 93).

[2022-03-22 11:15] atriwidada opened #12485 "[Bug]: several freeipmi plugin problems"
### Bug description

1. Debugging steps explained in collectors/freeipmi.plugin/README.md does not work on default install.
2. Package dependency for netdata-plugin-freeipmi need to include libipmimonitoring6.

### Expected behavior

$ sudo su -s /bin/sh netdata
$ /usr/libexec/netdata/plugins.d/freeipmi.plugin 20 debug

(should runs fine ...)

### Steps to reproduce

On a clean system with netdata

[2022-03-22 12:01] ralphm commented on #12250
I have rebuilt with compat level 10, and that seems to work as expected, so maybe we should consider upping this?

[2022-03-22 12:06] Ferroin commented on #12474
You’ve got build artifacts left over from a previous build with a different protobuf version.

Because we use submodules, a simple `git clean -dxf` is not sufficient by itself to get rid of all build artifacts, you also need to run `git submodule foreach --recursive -- git clean -dxf`.

[2022-03-22 12:15] Ferroin opened #12486 "Installer and packaging code should properly recognize AlmaLinux as an RHEL/CentOS clone."
Alma Linux is one of the major CentOS alternatives to arise out of Red Hat’s recent handling of CentOS. We currently do not properly identify it as an RHEL clone like we do for Rocky Linux or CentOS, which can potentially cause installation issues there.

[2022-03-22 12:21] Ferroin commented on #12478
We appear to not correctly recognize Almalinux as an RHEL/CentOS clone in our installer, and this may be affecting things here. See https://github.com/netdata/netdata/pull/12487 for a fix for that.

[2022-03-22 12:31] Ferroin commented on #12250
Ah, yeah, we probably should do that. I had completely forgotten we were still on compat level 9 even though we no longer have any platforms we build for that use debhelper 9. I’ll get a PR opened shortly to bump that.

[2022-03-22 12:43] myin142 commented on #12484
I am now on `netdata v1.33.1-195-nightly` which I installed with `kickstart.sh --reinstall`. It's not `v1.34.0` like mentioned in the docs but it is still using the batch policy. I will run it for a while and see what happens.

[2022-03-22 14:14] #12409 closed

[2022-03-22 15:06] underhood commented on #12409
@ktsaou #12458 doesn't implement your point No.3 as that has some prerequisites to be done. I created https://github.com/netdata/netdata/issues/12480 so it doesn't get forgotten

[2022-03-22 16:19] DanTheMediocre commented on #12405
The timex plugin appears to only look at the return values of adjtimex(&timex{ }) in order to determine system_clock_sync_state, checking whether it is equal to the TIME_ERROR value or not. It seems the required information for why the alarm was raised and how it can be resolved would be part of the NTP info which already has the NTPD collector as part of the python.plugins orchestrator. Or am I m

[2022-03-22 19:52] EnesPalit opened #12490 "[Bug]: //usr/libexec/netdata/netdata-updater.sh: 56: 3: Bad file descriptor WARNING Failed to enable auto updates. Netdata will still work, but you will need to update manually."
### Bug description

When installing Netdata I got this output and error:

[code]

I tried uninstalling and reinstalling but it stays the same. Also tried stable and nightly but no difference.

Netdata works but because of that error/warning I can't add claim it to my room:

[code]

### Expected behavior

That it installs without any errors/warnings.

### Steps to reproduce

`wget -O /tmp/netdata-

[2022-03-23 10:05] ilyam8 commented on #12405
@DanTheMediocre it was indeed an sync issue because of

[2022-03-23 10:43] ktsaou commented on #12405
Guys, this ticket is about adding proper information at dashboard_info.js

1. at `dashboard_info.js` to explain the source of the data.
   The current text is:

   I think it should also state that: This information is provided by the `ntp_adjtime()` system call and reflects the status of the system kernel regarding clock synchronization.

2. The same addition should be made to the timex.plugin pa

[2022-03-23 11:17] DanTheMediocre commented on #12405
The collector could be checking against the status field of the timex struct instead of its return value? this contains all the different flags that currently would trigger an unsync alarm, and can distinguish between an unsynced clock and a hardware clock error.
I'm unsure that the timedatectl warning triggers the alert, it is a different check that tells us the same thing: there is a setting (lo

[2022-03-23 11:41] Ferroin commented on #12490
Bug in the updater, should only affect installs that would use native packages, working on a fix.

[2022-03-23 11:42] #12490 closed

[2022-03-23 12:06] DanTheMediocre commented on #12405
I have made some adjustments to the dashboard, readme and alarm info wrt the info source and alarm description, would it okay to do a pull request for these @ilyam8?

[2022-03-23 12:36] ilyam8 commented on #12405
Thanks for helping us to resolve this issue, @DanTheMediocre.

---

I think we checked the flags and there are really only two possible cases (you mentioned both of them: unsynced clock, hardware clock error).

[2022-03-23 12:59] Ferroin opened #12496 "[Bug]: Kicktstart script should not try to invoke the updater to enable auto-updates in dry-run mode."
### Bug description

Attempting to run the kickstart script in dry-run mode results in the updater script being invoked to enable auto-updates unless the user also specifies `--no-updates`.

### Expected behavior

The updater script is not invoked to enable auto-updates when the kickstart script is run in dry-run mode.

### Steps to reproduce

1. Attempt to run the kickstart script in dry-run mode

[2022-03-23 13:27] DanTheMediocre commented on #12405
those 2 cases would refer to whether the STA_UNSYNC or the STA_CLOCKERR flag is set, the current flag is a combination of those and the PPS flags. It is of course also possible to not report on the PPS flags though, but if the status mask is checked anyways why not include checks those potential error causes? But the easy solution is just to differentiate between unsync and clockerr

       TIME_E

[2022-03-23 15:17] andresg747 commented on #12490
Hello!
I see it's been fixed within #12491 now merged to master.
How can I target that specific version?

I'm getting this error running:
`bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

thanks in adv

[2022-03-23 16:31] Ferroin commented on #12490
Correction, looks like GitHub Actions is still not fully recovered at this point, so it looks like it will probably be tomorrow (nightlies normally get triggered around 00:00 UTC each day, and the relevant parts are generally published by 02:00 UTC).

[2022-03-23 17:30] DanTheMediocre opened #12500 "[Feat]: add new chart for timex.plugin synchronization fault source"
### Problem

Looking at the timex plugin for issue #12405, it is apparent that a system_clock_sync_state value of 0 is the result of return value TIME_ERROR by the ntp_adjtime(&timex{}) function (https://man7.org/linux/man-pages/man2/adjtimex.2.html).

This TIME_ERROR can be caused by 2 distinct sources, a synchronization fault or a hardware clock fault, which can be checked by verifying in the ti

[2022-03-23 18:12] ilyam8 commented on #12405
@tkatsoulas check 3 in https://github.com/netdata/netdata/issues/12405#issuecomment-1076218116

[2022-03-23 18:54] #12405 closed

[2022-03-23 21:40] shyamvalsan commented on #12173
@ktsaou @andrewm4894 @vkalintiris

Considering the further performance gain from @vkalintiris [latest changes](https://github.com/netdata/netdata/pull/12494) and the testing and dogfooding done so far, are there any pending actions on this ticket?

[2022-03-24 06:54] vkalintiris commented on #12173
Nothing else I can think of from my side. The chart title/id/context changes mentioned by @ktsaou will be updated in a separate PR.

[2022-03-24 08:29] #12370 closed

[2022-03-24 09:14] ktsaou opened #12505 "[Feat]: nightlies should be built with debug symbols enabled"
### Problem

Today, when netdata crashes we don't have any visibility on why that happened.
We need to be in position to get stack traces back, that will help us identify the problem.

### Description

Under systemd, the default handling of core dumps is this:

[code]

Systemd-coredump manual is here: https://www.freedesktop.org/software/systemd/man/systemd-coredump.html

It says:

We need these s

[2022-03-24 09:14] ktsaou commented on #12505
@stelfrag @ilyam8

[2022-03-24 09:42] vkalintiris commented on #12474
@Ferroin netdata with ml feature enabled builds correctly on latest master for me. Can you give it a try one more time?

[2022-03-24 09:47] maneamarius commented on #12154
I open this PR to fix the issue:
https://github.com/netdata/netdata/pull/12506

[2022-03-24 10:58] #12437 closed

[2022-03-24 11:02] #12500 closed

[2022-03-24 11:03] ilyam8 commented on #12500
Thanks for the detailed feature request, @DanTheMediocre.

[2022-03-24 11:06] DanTheMediocre commented on #12500
Thank you for such a swift pickup of the issue, was gonna learn how to properly add to the collector and dash as an exercise this morning when I saw you already had a good PR

[2022-03-24 11:22] maneamarius commented on #12154
Issue should be resolved now, closing.

[2022-03-24 11:22] #12154 closed

[2022-03-24 11:25] ilyam8 commented on #12500
@DanTheMediocre see my comment in the PR about additional cases when we can get TIME_ERROR. I haven't checked it properly, but the quick checking of the Linux src code showed that we can be interested in other time_status bits too. If you are interested in this topic you can investigate and do a PR that adds needed status bits dimensions to the "System Clock Status" chart.

[2022-03-24 11:45] Ferroin commented on #12505
@ktsaou Can you provide some info about what _exact_ install methods you are not able to get symbolic backtraces out of?

There’s a _very_ big difference between the results of adding `-ggdb` to the compiler flags and what is required to get symbolic backtraces (potentially hundreds of MB of difference in binary size and significantly longer compile times to start with), and as far as I know, we a

[2022-03-24 11:56] DanTheMediocre commented on #12500
the other options are for additional Pulse-Per-Second synchronisation that improves the accuracy of the NTP down to a couple microseconds, but this is from what I can tell not really that commonly used. The actual TIME_ERROR flag is encoded as
(STA_UNSYNC|STA_CLOCKERR) | (STA_PPSTIME & (STA_PPSJITTER | !STA_PPSSIGNAL)) | (STA_PPSFREQ & (STA_PPSWANDER | !STA_PPSSIGNAL)
Or in plain speak, the other

[2022-03-24 12:03] Ferroin commented on #12474
Indeed, it looks like things are working now. My guess is that we were seeing fallout from some issue in Fedora 36 itself, not our own code.

Closing this as it appears to be resolved.

[2022-03-24 12:03] #12474 closed

[2022-03-24 12:37] MrZammler opened #12509 "[Feat]: Keep track of proto messages to the cloud"
### Problem

We could consider adding a form of keeping track of certain(all?) proto messages to and from the cloud, and add some logic to react on certain occasions. An example could be that e.g. no streaming start message is received after some time. In that case, perhaps we need to re-sent the registration message to the cloud.

For some particular messages we also might need to record success

[2022-03-24 12:38] vlvkobal opened #12510 "[Bug]: A lot of memory leaks on Netdata exit."
### Bug description

Valgrind reports a lot of errors on Netdata exit. This makes memory leak debugging very difficult.
[code]

### Expected behavior

Netdata should exit without memory leaks.

### Steps to reproduce

1. Build Netdata, run it with Valgrind, press Ctrl+C.

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-24 13:08] ilyam8 commented on #12500
Perhaps you are right.

TIME_ERROR occurs when:

1. **loss of synchronization**: either STA_UNSYNC or STA_CLOCKERR is set.
2. **loss of PPS signal**: STA_PPSFREQ or STA_PPSTIME is set and STA_PPSSIGNAL is clear.
3. **jitter exceeded**: both STA_PPSTIME and STA_PPSJITTER are set.
4. **wander exceeded**: STA_PPSFREQ is set and either STA_PPSWANDER or STA_PPSERROR is set.

I don't have enough knowled

[2022-03-24 18:45] sergioadofaci commented on #12490
Hello,

I think we have to wait for the next build to run successfully : https://github.com/netdata/netdata/actions/runs/2031479078

[2022-03-24 19:47] gfay63 opened #12513 "macos reinstall/uninstall flows of kickstart script not correcting/removing LaunchDaemons plist file"
_Originally posted by @gfay63 in https://github.com/netdata/netdata/issues/12383#issuecomment-1066201482_

[2022-03-24 19:53] ilyam8 commented on #12513
Hi, @gfay63. Thanks for creating the issue, but could you re-create it [using the bug report template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2Cneeds+triage&template=BUG_REPORT.yml&title=%5BBug%5D%3A+)? Thanks in advance.

[2022-03-24 19:57] gfay63 commented on #12513
Ah, gotcha. Will do.

[2022-03-24 20:07] gfay63 commented on #12513
@ilyam8 Quick question. Sry, but how do I do that and properly reference the other issue? When I click on "Reference in new issue" from the original one, it just provides a simple quote reply dialog without the bug report template. I need to do for several so wanted to make sure I'm doing right so the new ones have the context...

![image](https://user-images.githubusercontent.com/4573115/16000100

[2022-03-24 20:12] ilyam8 commented on #12513
@gfay63 you just use [the bug report template](https://github.com/netdata/netdata/issues/new?assignees=&labels=bug%2Cneeds+triage&template=BUG_REPORT.yml&title=%5BBug%5D%3A+) (click on the link). And you can mention the issue in the "Bug description" section.

[2022-03-24 20:34] gfay63 opened #12514 "[Bug]: macos reinstall/uninstall flows of kickstart script not correcting/removing LaunchDaemons plist file"
### Bug description

On macos, the kickstart script is not addressing the LaunchDaemons in either the uninstall or reinstall flows.

### Expected behavior

In the case of Uninstall: Should **remove** the LaunchDaemons com.github.netdata plist file.

In the case of Re-install: Should **update** the LaunchDaemons com.github.netdata plist file.

### Steps to reproduce

1. Installed a new node on maco

[2022-03-24 20:35] #12513 closed

[2022-03-24 20:35] gfay63 commented on #12513
resubmitted bug with template

[2022-03-24 21:18] gfay63 opened #12515 "[Bug]: cannot update my macos node installation"
### Bug description

On my macos node, even though I have auto-update enabled, it is not updating.

And when I try to update manually, it crashes. The result of:

`curl https://my-netdata.io/kickstart.sh > /tmp/netdata-kickstart.sh && sh /tmp/netdata-kickstart.sh`

is the following:

[code]

### Expected behavior

Expect the update to complete and update my macos node both automatically via auto-u

[2022-03-24 21:30] gfay63 opened #12516 "[Bug]: Unable to reinstall macos node due to google protocol buffers conflict (now also same issue with "install")"
### Bug description

On macOS, node reinstall via the kickstart script gets very far into it, but then crashes with

[code]

### Expected behavior

The kickstart script should complete with an updated macos node installation.

### Steps to reproduce

1. I have a valid and functioning macOS node installation.
2. Due to failures with auto-update and manual updates via the kickstart script (see #1238

[2022-03-24 22:16] ilyam8 commented on #12419
I installed [nomad](https://www.nomadproject.io/docs/install) and started [example.nomad](https://learn.hashicorp.com/tutorials/nomad/get-started-run?in=nomad/get-started) job. As a result, a docker container was created. It appears that the job uses [Docker driver](https://www.nomadproject.io/docs/drivers). So for Netdata, it is just a Docker container and the name resolution script works. I thin

[2022-03-24 22:25] EnesPalit commented on #12490
Just tried this again `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh`
But doing `netdata -W buildinfo`
Still returns same version: `Version: netdata v1.33.1-195-nightly`
How do I get the latest fixed nightly build?

[2022-03-25 00:50] nderambure opened #12517 "[Bug]: Install does not finish - Warning : Could not find netdata-updater.sh. This means that auto-updates cannot (currently) be enabled on this system."
### Bug description

Install tries to invoke netdata-updater.sh which does not exists and seems to stop there and not finishing install.
Note that uninstall netdata does not work as expected neither since something went wrong, so I have cleaned the netdata dir and files manually after broken install.

I've tried on Debian 10 and Debian 11.

### Expected behavior

A seemless install ;)

### Steps t

[2022-03-25 00:52] nderambure commented on #12517
It seems as the same behaviour than in #12490, but nightly brokes too.

[2022-03-25 03:47] doublescotch commented on #12490
Hello, iv have tried installing netdata a few minutes ago, and issue is still there,  im getting  `Version: netdata v1.33.1-195-nightly`
after a `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`
and my netdata-updater.sh dont work

The update should be uploaded tomorow?
Thanks

[2022-03-25 09:38] surajnpn commented on #12516
I have noticed similar behavior in FreeBSD

[2022-03-25 13:19] hugovalente-pm commented on #12443
This relates to the stale charts existing bug netdata/product#2771

[2022-03-25 14:57] rogeriojlle opened #12520 "[Bug]: fail on logrotate, permission denied"
### Bug description

[code]

### Expected behavior

no error on logrotate

### Steps to reproduce

system logrotate run

### Installation method

kickstart-static64.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-25 17:23] ilyam8 commented on #12517
Hi, @nderambure. You are correct, the problem is the latest Debian package in our Packagecloud repo is 1.33.1-195-nightly (the latest commit in the master is 234).

[2022-03-25 18:35] ktsaou commented on #12443
Guys, this is critical for the cloud to cleanup chart states. Implementing the tasks mentioned here will greatly improve the stability and reliabity of the cloud.

I think this also happens on childs. Obsolete charts do show up as current. Do you want me to find such cases?

[2022-03-25 19:22] ilyam8 commented on #12490
@EnesPalit @doublescotch there is a bug in our release workflow - nightly Debian packages haven't been published. The fix is #12522.

[2022-03-25 22:01] #12517 closed

[2022-03-25 23:39] thiagoftsm commented on #12510
@vlvkobal when I was testing a streaming right now, I also observed the following memory leak:

[code]

[2022-03-26 00:14] gfay63 commented on #12516
So frustrating, now that my macos node install isn't working at all. Can't reinstall due to this issue.
FYI re: protoc...
[code]

[2022-03-27 06:07] metajiji opened #12523 "[Bug]: Where is v1.33.1 release?"
### Bug description

The latest release is v1.33.1, but github think what latest release v1.33.0.
![image](https://user-images.githubusercontent.com/3463175/160268963-66e363c1-a3d8-4647-80b6-69c8ef104fa2.png)

Meanwhile direct link is still available https://github.com/netdata/netdata/releases/tag/v1.33.1

Also github badges show latest release is v1.33.0
![image](https://user-images.githubusercon

[2022-03-27 07:22] doublescotch commented on #12490
Hi, update worked, but something like half for me, as i need to laucnh` wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh` trought a `sudo -i` opening, if i do regular sudo i will have an error about cron creation, and if i do whitout sudo, i will have  more error ( but the https://learn.netdata.cloud/docs/agent/packaging/installer/ say to run the

[2022-03-27 09:33] doublescotch commented on #12490
this is the error im getting at the end of installation, abour cron permission :
[code]
so i try to launch the updater mannualy :
[code]
its reporting me :
`Sun 27 Mar 2022 19:58:36 ACDT : ERROR:  FAILED TO UPDATE NETDATA : You are running this script as user with uid 0. We recommend to run this script as root (user with uid 0)`
the same as when i launch all the process from a `sudo -i`

[2022-03-27 10:20] doublescotch commented on #12490
as a temporary solution for me, isnt there any way to add the cloud connect token whitout using the updater? like a command that just set the token whitout using netdata-updater.sh?

or maybe an option at the fresh install with kickstart, by including the token directly at the installation?

[2022-03-27 10:21] ilyam8 commented on #12490
@doublescotch you are right, there is another bug 🙈 - deb packages (I guess rpm too) have no `/etc/netdata/.environment` file which contains some needed info for the updater. I will open a new issue.

[2022-03-27 10:34] doublescotch commented on #12490
oh okay thanks i will wait so, i was sure that i was messing with my permissions somewhere, i have even tried to launch the updater trought the netdata user created by kickstart, but no way haha

this product seems really awesome and powerfull, sad to discover it just at the moment you cant do the full install to try its full potential ^^

last question, if i choose to use it just trought 19999 fo

[2022-03-27 10:39] ilyam8 commented on #12490
@doublescotch you can upgrade using "sudo apt-get update && sudo apt-get upgrade"

[2022-03-27 10:45] doublescotch commented on #12490
oh okay sorry, i didnt thought this will work for netdata
thanks

[2022-03-27 11:35] doublescotch commented on #12490
I dont know if there is a link with this `/etc/netdata/.environment` issue, ui is working, but after the first hardware reboot after fresh installation, my netdata ui page become stuck on the first grey background with netdata writted in white when trying to open it, and then if i reload the page again, the port dosnt answer anymore
If i do an apt remove and then install, it will work again, until

[2022-03-27 12:34] ilyam8 opened #12525 "[Bug]: the `netdata-updater.sh` script fails when executed manually on Debian"
### Bug description

There are several problems.

- The following check always fails on binpkg installs, because we don't create `.environment` file (`INSTALL_UID` comes from there).

https://github.com/netdata/netdata/blob/b0e6c0700e6ea9615d9b2f4d4352ec8ea965eb05/packaging/installer/netdata-updater.sh#L850-L852

- If we skip the check, the script wants to remove `netdata-repo-edge` and install `n

[2022-03-27 12:44] ilyam8 commented on #12490
@doublescotch there are several bugs, I've found 2 so far, the fixes: #12524 (fix netdata-updater.sh on Debian/Ubuntu), #12526 (fix enabling auto-updates when using kickstart.sh)

[2022-03-27 13:08] ilyam8 opened #12527 "[Bug]: kickstart fails to enable auto-updates when executed as a normal user"
### Bug description

The kickstart script fails to enable auto-updates when executing as non-root user.

[code]

### Expected behavior

Have enabled auto-updates after executing kickstart as a normal user.

### Steps to reproduce

1. execute ./kickstart.sh --auto-update` as a normal user

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional

[2022-03-27 13:11] ilyam8 commented on #12490
I created 2 issues:
 - #12525
 - #12527

[2022-03-27 14:54] ilyam8 opened #12530 "[Bug]: deb/rpm packages use custom `netdata.conf` that provides no value"
### Bug description

Using [custom netdata.conf](https://github.com/netdata/netdata/blob/master/system/netdata.conf) no longer relevant after #12339.

Problems:
- different experience depends on the installation method
  - static, from source: "netdata.conf" with the actual config with all available options.
  - native packages: "netdata.conf" almost empty config.
- user have to download "netdata.

[2022-03-27 17:10] hugovalente-pm commented on #12443
one of the tasks has already been completed by last week netdata/cloud-backend#79 by @juacker and the remaining one has been started by @papazach netdata/cloud-backend#80, hopefully this week we'll be able to test and confirm if these are the fix or something unknow is there

[2022-03-27 17:20] gfay63 commented on #12516
@underhood et al - FYI that I gave in since it's not working at all now and did a complete uninstall. But now even trying a brand new clean install on macos with the kickstart script is failing with the exact same protobuf issues as the "--reinstall" issue. Things were working fairly well before, and haven't done anything out of the ordinary to my system other than trying to get netdata going. So

[2022-03-27 22:46] EnesPalit opened #12531 "[Bug]: ERROR: FAILED TO UPDATE NETDATA : You are running this script as user with uid 0. We recommend to run this script as root (user with uid 0)"
### Bug description

I got a problem while installing netdata but it was sorted in [12490](https://github.com/netdata/netdata/issues/12490)

Now after installing I wanted to Connect an agent running in Linux.

When I tried `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token qi4792HvAVrb-g2orhhjuhu764OBz7yEnT7rPngJaNfN9VYmary_td_Qn8r7l

[2022-03-27 22:48] EnesPalit commented on #12490
The fix let me install netdata but when I try to clain it gives me another error in [12531](https://github.com/netdata/netdata/issues/12531)

[2022-03-28 05:13] ilyam8 commented on #12531
Hi, @EnesPalit. This issue is a duplicate of #12525 (that I created yesterday).

[2022-03-28 05:13] #12531 closed

[2022-03-28 08:11] ralphm commented on #12250
I just checked the most recent nightly (236), but it seems that `postinst` still doesn't have the expected bits for enabling the package, even though my locally created package does. There must be something different between the build machine and mine.

[2022-03-28 09:21] #12476 closed

[2022-03-28 09:40] stelfrag opened #12539 "[Bug]: Agent crashes during ACLK sync"
### Bug description

The agent crashes when executing a push alert event

[code]

### Expected behavior

The agent should handle this situation and not crash

### Steps to reproduce

Cannot be reproduced every time but it happens.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-03-28 09:46] iigorkarpov commented on #12520
[code]
“Curiouser and curiouser!” Cried Alice