[2022-07-26 15:26] caroffer12 commented on #13430
Hi @MrZammler,

When i tried to claim . it says node is already registered. As per the documentation i tried deleting `cloud.d` folder. It got claimed but still i am not able to see the server on Dashboard.

[code]

[2022-07-26 15:41] MrZammler commented on #13430
It seems the claim succeded. When you run netdata now (leave it running a bit), what does /api/v1/info say ?

[2022-07-26 16:01] caroffer12 commented on #13430
Hi @MrZammler ,

Netdata is running for 30 mins now . But still i see agent-claimed is false

[code]

[2022-07-26 17:04] Superpaul209 commented on #13433
I can't confirm that the issue is occuring on version 215 nightly because I don't have the problem since 2 weeks on my nodes... weird but I still think the issue could happens anytime when there is a update.

[2022-07-27 07:26] mfinelli commented on #13428
The biggest issue with the kickstart script is that it's not easily automate-able. Ideally I want to be able to plugin to my ansible playbook something like

[code]

And then push out a config file if necessary and be done. And then updates are managed as normal using `apt` (personally, I really don't like auto-updating software though I know that you can pass a flag to the kickstart script).

I m

[2022-07-27 09:34] MrZammler commented on #13430
Ok... strange...

So, you installed Netdata, and it's working, under /opt/ using a static install.
You then run the kickstart script with the claim parameters, but the agent was not claimed (There's still nothing under `/opt/netdata/var/lib/netdata/cloud.d/cloud.conf`, right?)

Will try to reproduce the above scenario, see if there is anything wrong there with claiming.

Thanks!!

[2022-07-27 10:40] caroffer12 commented on #13430
Hi @MrZammler,

I don't see any files under this folder
[code]
But i see files under this folder
[code]

[code]

[2022-07-27 10:53] MrZammler commented on #13430
Ok, so there are left-overs from the previous installation, and kickstart detects that...

Is there anything under `/etc/netdata` ?

[2022-07-27 11:21] ilyam8 commented on #13317
A bunch (for every data collection job) of "last collected secs" alarms means the plugin got stopped/disabled by Netdata. There should be a reason why in the logs (`grep -i plugsind error.log`).

[2022-07-27 11:25] ilyam8 commented on #12013
Closing due to no response.

[2022-07-27 11:25] #12013 closed

[2022-07-27 11:56] Ferroin commented on #13428
FWIW, on platforms we publish packages for, if you turn off auto-updates you can, in fact, just use the system package manager after installing with the kickstart script. The script itself is also intended to be safe to run against an existing install (and mostly idempotent as well for that matter), but there’s currently no good way to detect whether it changed anything or not.

Actually, provided

[2022-07-27 12:12] caroffer12 commented on #13430
Hi @MrZammler

There is no netdata folder
[code]

[2022-07-27 12:19] Ferroin commented on #13242
Quick update on this. It looks like `--prefix=/foo` actually works correctly, the issue seems to actually be in how the install/build code is invoking the config script (specifically, we’re explicitly adding `/usr` when we should not be). Fixing that should be dead simple, but actually testing the fix is not likely to be trivial as I suspect we have some code that blindly assumes the `/usr` compon

[2022-07-27 12:42] shyamvalsan commented on #13394
RDS metrics collected by Amazon CloudWatch are listed [here](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/rds-metrics.html)

<html>
<body>
<h2 id="rds-cw-metrics-instance" style="color: rgb(22, 25, 31); border-top-width: 1px; border-top-style: solid; border-color: var(--color-background-control-disabled-0y91m8,#d5dbdb); font-size: 1.625em; font-weight: 600; line-height: 1.226em; margin-b

[2022-07-27 14:12] shyamvalsan opened #13442 "[Feat]: Update dashboard info for PostgreSQL collector"
### Description

Updating dashboard info for PostgreSQL collector

### Importance

must have

### Value proposition

1. Providing useful and accurate information to make the metrics being visualized meaningful

### Proposed implementation

_No response_

[2022-07-27 21:54] ktsaou opened #13443 "[Bug]: tiering issues"
### Bug description

1. Tiering misses the last incomplete point of higher tiers. So, when a metric stops being collected, the last incomplete point is never written to the database.
2. Tiering misses entire metrics if the metrics do not collect at least a full point to satisfy a tier. So, if a metric is collected for 30 seconds and then it stops, it will never appear in tier1 (60 seconds), or tie

[2022-07-28 09:30] ilyam8 commented on #13329
@Isalg can you try again using netdata/netdata image?

[2022-07-28 11:27] shyamvalsan commented on #13279
This has now been merged to Alpine Linux 3.16

https://gitlab.alpinelinux.org/alpine/aports/-/commit/a4d2231b8307dc238907a873868fb4bbfc1e752e

[2022-07-28 11:34] ilyam8 commented on #13387
Current status:

- [X] [QUERY_WAL](https://github.com/netdata/netdata/blob/221fd512873613a10b3d95b25a8a4d542b2c4801/collectors/python.d.plugin/postgres/postgres.chart.py#L174)
- [X] [QUERY_ARCHIVE](https://github.com/netdata/netdata/blob/221fd512873613a10b3d95b25a8a4d542b2c4801/collectors/python.d.plugin/postgres/postgres.chart.py#L231)
- [X] [QUERY_BACKEND_USAGE](https://github.com/netdata/netdat

[2022-07-28 11:38] ced1check opened #13858 "[Feat]: Add monitoring of Table_open_cache_overflows for mariadb/mysql"
### Problem

Any Table_open_cache_overflows  will cause slowdown of the server. If part of a galera cluster this will possibly result in the whole cluster slowing down.

### Description

Table_open_cache_overflows is a good indicator of possible server slowdown.

### Importance

must have

### Value proposition

1.
Monitoring for non zero values could help pin-point configuraiton problems very eas

[2022-07-28 11:50] MrZammler commented on #13430
We will most likely need to remove by hand any left-overs from the previous install...

Could you (very carefully) remove the following if they exist?

`/var/lib/netdata`
`/var/cache/netdata`
`/var/log/netdata`
`/usr/lib/netdata`
`/usr/libexec/netdata`
`/usr/share/netdata`

And any files like `/usr/sbin/netdata`, `/usr/sbin/netdatacli` and `/usr/sbin/netdata-claim.sh` ?

After that please try to r

[2022-07-28 12:37] anayrat commented on #13387
Yes, it is really weird how the calculation is done. Maybe you can look at how it is done check_pgactivity https://github.com/OPMDG/check_pgactivity/blob/master/check_pgactivity#L2347

I don't think we need this if we use a query like the one I mentioned above. We just want how many backends are waiting for a lock.

I think yes, I could be useful to know what kind of autovacuum is running.

[2022-07-28 14:04] ilyam8 commented on #13387
Ok, possible "workers"

- [src](https://github.com/postgres/postgres/blob/9e4f914b5eba3f49ab99bdecdc4f96fac099571f/src/backend/postmaster/autovacuum.c#L3168-L3183)
  - `autovacuum: VACUUM`
  - `autovacuum: VACUUM ANALYZE`
  - `autovacuum: ANALYZE`

^^ All these 3 can have `(to prevent wraparound)`
- [src](https://github.com/postgres/postgres/blob/9e4f914b5eba3f49ab99bdecdc4f96fac099571f/src/backen

[2022-07-28 14:57] caroffer12 commented on #13430
Thanks @MrZammler . It Worked i am able to see the server in the https://app.netdata.cloud/.

I have 1 more server where "aclk-available": false,

[code]
[code]

[2022-07-28 15:11] MrZammler commented on #13430
Alright! Glad it did!

Now, this one, I think you should first try to update it. Can you run the kickstart script on it ? (No need to use any parameters like re-install etc).

[2022-07-28 15:20] ilyam8 commented on #13387
Ok, I think our query is wrong because all "to prevent wraparound" should go into "vacuum_free" - https://github.com/OPMDG/check_pgactivity/blob/4e6d9c4076f7f7b680c57b2b7cf1dac8406f8052/check_pgactivity#L2135-L2145

[2022-07-28 15:20] caroffer12 commented on #13430
@MrZammler Thanks It worked.

[2022-07-28 18:51] ilyam8 commented on #13387
@unhandled-exception @anayrat I have a question regarding QUERY_STANDBY%% queries.

- I set up replication following this [Digital Ocean guide](https://www.digitalocean.com/community/tutorials/how-to-set-up-physical-streaming-replication-with-postgresql-12-on-ubuntu-20-04). I use docker, so all the standby instances have the same IP address (127.0.0.1).
- I see we use `pg_replication_slots.slot_na

[2022-07-29 02:02] yezhem opened #13453 "[Feat]: apps.plugin support shared memory collect."
### Problem

I found the apps.plugin only gets VmRSS, RssFile, RssShmem by read /proc/{pid}/status.
Calc mem = VmRss - (RssFile + RssShmem), here mem also = RssAnon, can get RssAnon directly?
Also, RssFile and RssShmem are important, can create new charts for them?

### Description

1. collect RssAnon(mem) instead of using VmRss - (RssFile + RssShmem)
2. collect shmem = (RssFile + RssShmem) metric

[2022-07-29 07:21] MrZammler commented on #13430
Great! Thank you!!

[2022-07-29 07:21] #13430 closed

[2022-07-29 07:46] vlvkobal commented on #13453
Could you elaborate a bit on why this is important?

[2022-07-29 08:45] simon-shlomo opened #13454 "[Bug]: Recurrent dropped mqtt connection"
### Bug description

Since July 27th we have seen frequent disconnection of our netdata nodes
We get alerts saying "Node unreachable" - after a few minutes the node we get a new alert saying "node is reachable"

Checking our logs we see
**access.log**
2022-07-28 16:11:18: ACLK DISCONNECTED
2022-07-28 16:14:12: ACLK CONNECTED

**error.log**
2022-07-28 16:11:18: netdata ERROR : ACLK_Main : [mqtt_wss

[2022-07-29 09:36] yezhem commented on #13453
shared memory is also like anon memory, if your process malloc shared memory, there are no metrics to trace that.
some processes may use shared memory instead of anon memory, so the memory cannot be traced.

[2022-07-29 09:57] yezhem commented on #13453
@vlvkobal there also need the pss memory usage, can read from /proc/{pid}/smaps_rollup,
because now the apps.plugin code only read metric data from /proc/pid/status, and cannot calc the average shared memory usage.
I want to know the physical memory used by the process, it can calc by anon_mem + shared_mem / process_num
and this metric can read by /proc/{pid}/smaps_rollup directly.

[2022-07-29 11:53] #13315 closed

[2022-07-29 12:14] Ferroin commented on #10481
Further update: This is currently stalled pending completion of the migration of our package repositories from Package Cloud to self-hosted infrastructure.

It’s still on the TODO list though, it just has no clear ETA at the moment.

[2022-07-29 12:22] andrewm4894 opened #13457 "[Bug]: anomaly_detection.anomaly_rates chart should not be visible in cloud."
### Bug description

The special `anomaly_detection.anomaly_rates` chart used for the ranking behind the AA tab should not be visible in the Overview tab of netdata cloud.

Since this chart is massive if you interact with it it will kill your browser tab.

### Expected behavior

`anomaly_detection.anomaly_rates` should not be in NC anywhere.

### Steps to reproduce

1. click this link: https://app

[2022-07-29 12:25] Ferroin commented on #12514
The reinstall case here _should_ end up fixed by https://github.com/netdata/netdata/pull/13451.

The uninstall case will need more work, but should be relatively easy to fix.

[2022-07-29 12:27] Ferroin commented on #12881
First steps towards fixing this in https://github.com/netdata/netdata/pull/13451

Once that’s merged, I’ll be opening a followup PR to modify the updater so it uses the files that will then be under `/usr/lib/netdata/system` if they exist instead of blindly assuming the installer handled things correctly, which should in turn fully resolve this issue.

[2022-07-29 12:32] Ferroin commented on #13212
This should (hopefully) be mostly resolved by https://github.com/netdata/netdata/pull/13451.

[2022-07-29 12:34] Ferroin commented on #13222
I’ve still not figured out a root cause, but have at least figured out a workaround on our end to hopefully prevent this from happening again.

I’m leaving this open until we have a patch release published that actually has the correct version number.

[2022-07-29 12:41] Ferroin commented on #12659
@DShreve2 We ideally should have a reminder about this in the release notes.

The PR to actually finish things here will probably not be ready before the release, but is likely to be ready and merged by mid August, so I’m thinking we should just remind users about the impending change.

[2022-07-29 13:45] ilyam8 commented on #9822
Closing in favor of #13387. This is already implemented in go version.

[2022-07-29 13:45] #9822 closed

[2022-07-29 13:52] #13454 closed

[2022-07-29 14:46] cakrit commented on #9358
FYI this functionality has been greatly improved with yesterday's deployment. If you access the space settings and go to Nodes, you see the following table that allows you to filter all offline nodes, mass select them and bulk delete them. No more deleting one by one and it works great for the "All nodes" room too.

<img width="703" alt="image" src="https://user-images.githubusercontent.com/432945

[2022-07-29 14:52] cakrit commented on #9002
Here's a more updated community link: https://community.netdata.cloud/t/deleting-a-node-from-the-ui/28/15

The delete functionality was added a little over a month ago, and has been greatly improved with yesterday's deployment. If you access the space settings and go to Nodes, you see the following table that allows you to filter all offline nodes, mass select them and bulk delete them. No more de

[2022-07-29 14:58] cakrit commented on #9741
See https://github.com/netdata/netdata/issues/9358#issuecomment-1199437124 for the latest update on this.

[2022-07-29 15:34] ktsaou commented on #13426
Using the same schematics as the `countif` function, we could provide 2 aggregation methods:

1. `trimmed-mean` supporting a parameter to define the percentage, by default 5%.
2. `percentile` supporting parameter to define the percentage, by default 95%.

[2022-07-29 15:36] ktsaou commented on #13426
I also think that when these aggregation methods are requested, we should always use tier0, when available.

[2022-07-29 15:59] #11305 closed

[2022-07-29 16:43] cakrit opened #13461 "[Feat]: AWS CloudWatch collector beginnings"
### Problem

We don't collect any metrics for AWS "serverless" services, i.e. the ones where our users don't have access to the underlying nodes. Many services are offered this way by AWS, so we need to cover this gap.

### Description

We have had a few requests for a collector for AWS statistics in the past.
A recent ask is in https://community.netdata.cloud/t/netdata-cloudwatch-plugin/3163 , wi

[2022-07-29 16:44] cakrit commented on #13394
I created https://github.com/netdata/netdata/issues/13461 for the more generic requirement of a Cloudwatch collector.

[2022-07-29 17:17] stoleyourburger opened #13462 "[Feat]: Collect data on each Wireguard (Deployed in Docker) peer's traffic usage."
### Problem

To receive the information from 'docker exec wireguard wg show' about each peer information (IP, Latest handshake, inbound and outbound traffic) and put it into monitoring system to see how much traffic each peer consumes. With possibility to append custom names to each peer for better visibility.
Initially I requested it here: https://community.netdata.cloud/t/asking-for-a-help-with-

[2022-07-29 18:40] blankster commented on #9358
@cakrit, thanks a lot. That made Netdata a lot nicer for people who love keeping their structures clean 👏

[2022-07-29 20:16] #6882 closed

[2022-07-30 00:39] Garahk opened #13465 "[Bug]: Netdata with Kubernetes - custom alarm templates not recognized by health and netdatacli reload-health not working"
### Bug description

Deployed netdata with helm-chart in a kubernetes kind cluster with 3 nodes, 1 kind-control-plane and 2 workers

![image](https://user-images.githubusercontent.com/99432183/181862291-130574a8-5bb8-4586-a89f-e605ab0d8c01.png)

Health has been enabled in the childs, there's 3 childs, one per node of the cluster, as I want the metrics and alarms of the cgroups cpu/mem usage, as we

[2022-07-30 08:57] PanosJee commented on #12957
I think a PubSub export is what you need ([where you can now have a BigQuery subscription](https://cloud.google.com/blog/products/data-analytics/pub-sub-launches-direct-path-to-bigquery-for-streaming-analytics))

[2022-07-30 13:20] Ferroin opened #13467 "[Bug]: Agent does not scale well when dealing with very large numbers of disk devices."
### Bug description

When dealing with a large number of disk devices (many hundreds), the Netdata agent runs into significan performance issues.

On my home server system, currently with 1136 device mapper nodes, it takes almost 90 seconds for the dashboard to load over a local network connection, almost five minutes for data to start appearing, and even once data shows up the display is very cho

[2022-07-30 17:26] zzvara opened #13468 "[Bug]: `netdata` can not start with `containerd` configured as `LimitNOFILE=infinity`"
### Bug description

Running Kubernetes sprayed using `kubespray` release `2.19`, that is, running Kubernetes `1.23.7` and `containerd` `1.6.6`.

`netdata` containers can not start up and the provide no logs.

However, changing `LimitNOFILE=Infinite` to `2000000` as follows:

[code]

and then `systemctl daemon-reload && systemctl restart containerd` on all nodes, then deleting all `netdata` Pods w

[2022-07-30 22:11] ktsaou commented on #13426
@andrewm4894 according to these definitions, the truncated mean excludes blindly the bottom and top X points from the sorted series.

But there is another, probably more useful approach. To calculate and min and the max of the series, find the `delta = X% of (max - min)` and then average all the values that are between `min + delta` and `max - delta`. This way we don't exclude a specific amount of

[2022-07-31 07:18] xkisu commented on #12419
Nomad exposes all the job information via environment variable in the container, these environment variables are stable and [well-documented](https://www.nomadproject.io/docs/runtime/environment) so they should be reliable for scripted detection.

Using some bash scripting we can extract information about the Nomad naming without even touching the Nomad API:
[code]

For a Nomad-related name to be

[2022-07-31 15:27] ilyam8 commented on #13468
@zzvara Hi. I guess "Infinite" doesn't work. See https://github.com/containerd/containerd/issues/3201 and linked issues.

[2022-07-31 17:22] zzvara commented on #13468
@ilyam8 sorry, I made a mistake. The default value is `infinity` and it is the default when Kubespray installs a cluster. When it is set to `infinity`, neither Netdata nor Couchbase can start up. These are the two programs that we encountered are affected by this setting.

[2022-07-31 18:02] Ferroin commented on #13467
On further inspection, it appears this is an issue with the dashboard code specifically, albeit probably at least partially caused by the design of the REST API.

Manually querying `/api/v1/charts` on the system in question gets a complete response in less than one second. Trying to load that endpoint with the developer console open in Chrome actually crashes the developer console due to running o

[2022-07-31 18:56] ilyam8 commented on #13468
@zzvara, the name doesn't matter, my point remains - check the referenced issue, `infinity` doesn't work - the feature has been reverted https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?id=60fd760fb9ff7034360bab7137c917c0330628c2. I think you need to open an issue in the Kubespray repo.

[2022-08-01 02:53] xkisu commented on #13462
I'm also interested in a Wireguard collector - not running in Docker, but the same approach could be applied to both by running the command either on the host or via the Docker CLI/API and parsing the command output using a platform-agnostic method.

I did some quick research and [it looks like](https://www.procustodibus.com/blog/2021/01/how-to-monitor-wireguard-activity/) using `wg show all dump`

[2022-08-01 07:58] #13380 closed

[2022-08-01 08:52] ilyam8 commented on #13462
What permissions do we need to execute `wg show all`?

---

If Wireguard is not running in a Docker container, I think we could use https://github.com/WireGuard/wgctrl-go.

- the lib client discovers the [list of devices](https://github.com/WireGuard/wgctrl-go/blob/3d4a969bb56bb6931f6661af606bc9c4195b4249/internal/wginternal/client.go#L18).
- every device has a list of [associated peers](https://g

[2022-08-01 09:17] #13457 closed

[2022-08-01 11:10] shyamvalsan commented on #13394
@cakrit should we just use the generic ticket and close this one then?

[2022-08-01 14:04] cakrit commented on #13394
I think that this one is specific to RDS and will be useful. We'll probably have additional tickets specific to other use cases. The generic collector might just offer the capability to ingest all metrics and we'd need to provide configs to define which charts would be generated, I don't know. Let's keep it until we have a design in the other ticket.

[2022-08-01 18:07] cakrit commented on #12419
I simply followed https://learn.hashicorp.com/tutorials/nomad/get-started-run?in=nomad/get-started up to running the example command, opened the netdata UI and saw the name of the container composed of `[NOMAD_TASK_NAME]_[NOMAD_ALLOC_ID]`.

Here are the details:
[code]

Netdata log:
[code]

The following command will show exactly what Netdata did...
[code]

...but essentially it used this:
[code]

[2022-08-01 18:40] ilyam8 commented on #12419
@cakrit Docker is one of Nomad task drivers, see https://github.com/netdata/netdata/issues/12419#issuecomment-1078434388

So it is a Docker container **and** Nomad task at the same time. My understanding is that we need somehow to identify that a docker container (or not Docker if using another driver) is a Nomad task and use the task name, not the docker container name.

[2022-08-01 20:46] xkisu commented on #12419
@cakrit The `<task_name>-<alloc_id>` naming is hard-coded as part of Nomad's standard Docker driver as it's used for correlation by Nomad to associated running containers on the host with a running Nomad job, relevant part of the docs:

https://www.nomadproject.io/docs/drivers/docker#container-name

While this naming does give admins/operators the task name and allocation ID, in systems that are u

[2022-08-01 21:05] xkisu commented on #13462
every device has a list of [associated peers](https://github.com/WireGuard/wgctrl-go/blob/3d4a969bb56bb6931f6661af606bc9c4195b4249/wgtypes/types.go#L64-L65).
every peer has [received/transmitted bytes counters](https://github.com/WireGuard/wgctrl-go/blob/3d4a969bb56bb6931f6661af606bc9c4195b4249/wgtypes/types.go#L155-L202).
To collect these metrics CAP_NET_ADMIN is needed.

Looks like `wgctrl-go` w

[2022-08-01 21:14] Garahk commented on #13465
I have a test cluster as well, also based on Kind, which has only 1 node, therefore all pods are scheduled in this one. It's worth mentioning that this one node kind cluster has no issues with custom alerts, I had 4 files uploaded to the child pod at /etc/netdata/health.d, with very low thresholds so the alarms are triggered with very few resource consumption and almost immeadiatly after the servi

[2022-08-02 06:44] ilyam8 commented on #13465
Hi, @Garahk. Use the Replicated Nodes menu, you can go to any child dashboard from there.

<img width="1727" alt="Screenshot 2022-08-02 at 09 43 12" src="https://user-images.githubusercontent.com/22274335/182309200-2b27ccec-71f2-487b-b000-d6c1518e21b0.png">

[2022-08-02 06:47] ilyam8 commented on #13465
The correct way is using [child.configs](https://github.com/netdata/helmchart/blob/b47b20c53b2922b09b15e424560019c370b13c14/charts/netdata/values.yaml#L266). Add your custom alarms to the child.configs option.

[2022-08-02 08:48] andrewm4894 commented on #13426
Yep - i think a more flexible approach based on the countif idea could be useful. We had thought that maybe something like that could also be useful for different ways to aggregate and summarize the anomaly rate potentially too (eg number of times it crosses over some threshold, or counting "runs" of consequtive anomaly bits - all gets a bit convoluted though so we shelved it).

I think percentile

[2022-08-02 08:49] andrewm4894 commented on #13426
Also think if this can all be dont in a way to make these aggragations available to the health engine that could be also very useful.

e.g. set an alarm based on the p90 value of a metric etc.

[2022-08-02 15:49] cakrit commented on #12419
Makes sense gents, @ilyam8 I'll try to do it on my local install and do a PR.

[2022-08-02 16:03] Garahk commented on #13465
On the other hand, I wondered myself what would happen if instead of placing the conf files in the child pods, I placed them in the parent pod, and got what was expecting, alarms in all of the child pods, I was looking specially at the cgroups alarms, since the cluster's services have been distributed amongts the 3 nodes, and we want to have track of the resource consumption by each of the pods.

[2022-08-02 23:14] ktsaou commented on #13426
@andrewm4894 I implemented `trimmed-median`, `trimmed-mean` and `percentile`.

For the trimmed versions, I have provided aliases for quickly setting 1, 2, 3, 5, 10, 15, 20 and 25%.
For the percentile, the aliases as 25, 50, 75, 80, 90, 95, 97, 98, 99.

In all versions any percentage may be specified with the `group_options` query parameter.
All aliased versions can be used in health alerts (curren

[2022-08-03 06:07] fabriba opened #13476 "[Bug]: This agent was built with --disable-cloud and cannot be claimed (Debian)"
### Bug description

usr/sbin/netdata-claim.sh -token=blablablabla -rooms= -url=https://app.netdata.cloud
This agent was built with --disable-cloud and cannot be claimed
 FAILED

 WARNING  Unable to claim node due to missing dependencies. Usually this means that the Netdata Agent was built without support for Netdata Cloud. If you built the agent from source, please install all needed dependencies

[2022-08-03 06:19] fabriba commented on #13476
it works if I uninstall and just reinstall via
wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh # no flags

[2022-08-03 06:20] #13476 closed

[2022-08-03 09:36] vlvkobal commented on #13453
So, what's your final proposal? One chart to change and two new charts?
1.  Use `RssAnon` instead of `VmRss - (RssFile + RssShmem)`. Doesn't really change anything because it just simplifies calculations a bit. VmRSS is the [sum of RssAnon, RssFile, and RssShmem](https://docs.kernel.org/filesystems/proc.html?highlight=vmrss#id8).
2. Add shared memory as `RssFile + RssShmem` (Size of resident file

[2022-08-03 09:48] yezhem commented on #13453
1. One chart "mem" for anon mem and shared memory
2. Another chart for "pss mem"

I am working on some projects, due to one process needing to communicate with other processes, usually, its anon mem is too small and unchanged, but will using large shared memory.

[2022-08-03 10:03] vlvkobal commented on #13453
You can't have two dimensions in one chart in appls.plugin.

[2022-08-03 10:05] yezhem commented on #13453
So there needs another chart for shared memory.

[2022-08-03 10:13] vlvkobal commented on #13453
I'm sorry. I don't understand. Do you think that the list of the charts should be different than in https://github.com/netdata/netdata/issues/13453#issuecomment-1203716110? Then please write a list with metrics you'd like to see in the apps plugin.

[2022-08-03 10:33] yezhem commented on #13453
just like your comment list, its all I want.

[2022-08-03 11:12] vlvkobal commented on #13453
@ilyam8 found a  [commit](https://patchwork.kernel.org/project/linux-fsdevel/patch/20170810001557.147285-1-dancol@google.com/#20801969) with an interesting description. Taking into account that "PSS would be too expensive (by a few orders of magnitude) to collect relative to what's already emitted as part of /proc/pid/status", even if we add it, it should be disabled by default.

[2022-08-03 11:58] yezhem commented on #13453
its reasonable to disable collect smaps_rollup by default.

[2022-08-03 15:06] ilyam8 commented on #13317
@ekexcello closing for now. I will reopen if there is new info.

[2022-08-03 15:06] #13317 closed

[2022-08-03 15:28] cakrit commented on #13461
Kinesis Firehose team replied that they get multiple requests for partner additions, so they have been mandated to adhere to those where the ask is from minimum of 3 customers (of the partner) who are looking to send their data through Firehose.

So we'll need to put together such a list. Reaching out to the community thread and Discord so that I can collect the data.

What we will build needs to

[2022-08-03 17:04] cakrit commented on #9358
The kudos go to @AlexNti @jacekkolasa @burbuli8ra @christophidesp @hugovalente-pm and @dimko

[2022-08-03 17:08] hugovalente-pm opened #13482 "[Feat]: Implement an endpoint to provide statiscal information on the agent metrics"
### Problem

We would like to get statistical information provided directly from an endpoint on the agent and don't reply on data available from other sources: spread on other endpoints and not "crunched" and/or messages.

### Description

The statistical information that we would like to have available is:

**Metrics/Dimensions/Collectors**
* Number of metrics collected (dimensions)
* Number of m

[2022-08-03 17:09] hugovalente-pm commented on #13482
@amalkov @papazach @stelfrag the initial ideation ticket for the statistics endpoint to be made available on the agent

[2022-08-03 21:23] #12419 closed

[2022-08-04 07:46] ilyam8 commented on #13462
WireGuard collector is added in netdata/go.d.plugin#744

The current requirement is to manually add CAP_NET_ADMIN to go.d.plugin.

[code]

We will need to add this to installer cc @Ferroin. I will take a look, probably I will be able to do it myself.

[2022-08-04 08:05] #13462 closed

[2022-08-04 08:08] ilyam8 commented on #13462
@stoleyourburger, hey. I haven't tested it when WireGuard is deployed in the Docker container. Please, do. I plan to release a new version of go.d.plugin with wireguard today (will be available in nightlies tomorrow).

If you have any ideas about actual implementation - share your thoughts on how to do the mapping.

[2022-08-04 08:19] ilyam8 commented on #13387
Closing this issue because the [initial implementation](https://github.com/netdata/go.d.plugin/tree/master/modules/postgres#postgresql-monitoring-with-netdata) is done. Go version collects the same metrics (slightly different grouping, metric names) + adding/removing new databases/replication standby at runtime (was requested in #9822).

The new version of go.d.plugin with Postgres collector will

[2022-08-04 08:19] #13387 closed

[2022-08-04 09:09] ilyam8 commented on #13462
Are you using the nightly version of Netdata? If so, just to check, you will need to excute go.d.plugin in debug mode (tomorrow).

[code]

[2022-08-04 12:01] ilyam8 commented on #13462
No, nothing will appear on the charts. Debug mode means running manually on terminal, will see the plugin output.

Do `./go.d.plugin -v` before, should be `v0.34.0`.

[2022-08-04 12:27] ilyam8 commented on #13465
Yes, that is the preferred way.

- health on the parent: check the children nodes alarms via the parent's Replication Nodes menu.
- health on children: check the children nodes alarms by accessing their dashboard.
- custom alarms work, mounting them under `/etc/netdata/health.d/` is correct. If an alarm doesn't work - error.log is a good place to start to debug (e.g. could be health alarm syntax e

[2022-08-04 14:20] cakrit opened #13486 "[Feat]: Allow users to define labels at the collection job level"
### Problem

We now have support for chart labels in the agent and the cloud (adding filtering by labels on Monday), but no way for users to add their own label key/value pairs.

### Description

As a quick win, allow users to define label keys and values at the **data collection job** level (e.g. different labels for each DB instance connected to). The collector will be responsible to add lower l

[2022-08-04 14:47] ilyam8 commented on #13468
Closing because the question is answered. @zzvara If you have any questions - feel free to ask. We will reopen the issue if I missed something.

[2022-08-04 14:47] #13468 closed

[2022-08-04 20:06] heapxor commented on #12578
so how can one properly restart it on osx?

[2022-08-05 06:55] xkisu opened #13606 "[Bug]: Chart data not displaying collected points in certain areas"
### Bug description

I was testing some different memory mode configurations on the collector agent (before I saw that was I was trying [wasn't supported](https://github.com/netdata/netdata/pull/9832)) and restarting it a few times (streaming collector to parent), when some charts completely stopped displaying data. I could tell the data was still coming in because some specific charts where still

[2022-08-05 08:33] mmattel commented on #13389
hmmm, for the time being until it is fixed, the documentation could be updated with the info I have provided which is written more or less as copy paste (as I am a doc writer too). This would improve the product.

[2022-08-05 09:50] #13426 closed

[2022-08-05 13:04] cakrit commented on #13319
This has been here for too long and it's an edge case that is problematic for us to replicate, since we need to keep getting 60 day trials and reinstalling every time we want to try something.

The workaround is to restart netdata after a vcenter restart.

[2022-08-05 13:04] #13319 closed

[2022-08-05 13:18] cakrit commented on #13320
We have done a workaround for this in changing how we name topics, but the general product limitation remains. When we have too many dimensions, we either need to generate a lot of charts, or a lot of dimensions in a single chart.

- For a lot of charts, the bug is at https://github.com/netdata/dashboard/issues/437
- For a lot of dimensions in a chart, the bug is this one and needs to be handled b

[2022-08-05 14:05] gfay63 commented on #12578
@cpipilas @MrZammler

I'm not sure how to reopen...

I waited a few months hoping this might get fixed, and finally got around to trying this again. Unfortunately, the issue still exists. However, several new bits of information are in the error logs before it is shut down with the `STREAM_COMPRESSION: Compressor Reset`.

Particularly this one: `2022-08-05 08:47:21: netdata ERROR : MAIN : THREAD_C

[2022-08-05 14:07] gfay63 commented on #12578
@heapxor

I had to do

`sudo killall netdata`

followed by

`sudo /usr/local/netdata/usr/sbin/netdata`

[2022-08-05 14:17] MrZammler commented on #12578
Hi Greg.

Thank you for this and sorry we let it...

Right now I suppose our suggested method of using Netdata on MacOS is via homebrew.

We can go through it and see though if some of these issues are fixable (or if homebrew version suffers from the same).

[2022-08-05 15:07] #13390 closed

[2022-08-05 16:06] vlvkobal commented on #13116
At the moment we read `scaling_cur_freq` which is the current frequency of the CPU as seen by the kernel. The is also `cpuinfo_cur_freq` that provides CPU frequency obtained from the hardware. More information can be found in the [kernel documentation](https://www.kernel.org/doc/html/latest/admin-guide/pm/cpufreq.html#policy-interface-in-sysfs).

I think we should add a separate chart for the valu

[2022-08-05 19:54] vlindhol commented on #5158
This has been bugging me as well, finally tracked it down to STP: https://serverfault.com/questions/1053889/stp-packet-filtering

`sudo modprobe stp` made the dropped packets drop to zero <3

[2022-08-05 21:33] heapxor commented on #12578
its not working i installed it via homebrew, then i did
killall netdata
followed by
sudo /usr/local/netdata/usr/sbin/netdata

![image](https://user-images.githubusercontent.com/64676/183210489-dcb2de62-9bd8-40fc-9fc2-e7a70d51f219.png)

[2022-08-07 13:44] #4812 closed

[2022-08-07 14:08] ilyam8 commented on #4812
Ok, guys. I've added the initial version of the PgBouncer collector. Initially, I used the python version as an example, but pretty fast realized that it had some problems and ended up reading PgBouncer-related articles, PgBcouner GitHub repo issues, and source code. The [PgBouncer documentation](http://pgbouncer.org/usage.html) seems simple at first, but in fact, is not very descriptive and kind

[2022-08-07 17:48] ilyam8 commented on #13442
Fixed in #13474

[2022-08-07 17:48] #13442 closed

[2022-08-08 15:54] Ferroin commented on #13389
Reopening this to track the updates to the docs.

I’ll open a separate feature request for the actual changes to the script so that it doesn’t get forgotten (overhauling the script itself is on my TODO list at some point, but I have no idea when I’ll get to it).

[2022-08-08 15:57] Ferroin opened #13495 "[Feat]: edit-config script should be able to copy stock configs out of a running Docker container."
### Problem

See https://github.com/netdata/netdata/issues/13389.

### Description

In short, handling of stock config files from outside of a container is currently complicated in ways it does not need to be.

### Importance

nice to have

### Value proposition

Users who mount the config directory on the host will be able to use the edit-config script from the host without significant effort.

#

[2022-08-08 18:26] ilyam8 commented on #13389
I added a note in #13487. And I [disagree](https://github.com/netdata/netdata/issues/13389#issuecomment-1190459186) with adding the "workaround" to the documentation.

If you think we need to add something @Ferroin just go ahead and make a PR, I don't think we need to keep this issue open.

[2022-08-08 18:26] #13389 closed

[2022-08-08 19:19] caroffer12 opened #13498 "[Bug]: Netdata cloud Installation fails"
### Bug description

Hi Team,

My netdata cloud agent stopped working. I tried to reinstall the agent .

[code]

### Expected behavior

Netdata needs to run on the server without any error and I should be able to see my server on the cloud url. https://app.netdata.cloud/spaces/xxxxxxxx

### Steps to reproduce

1. `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netd

[2022-08-09 08:24] ktsaou opened #13499 "[Bug]: Service thread crashes"
### Bug description

I get a segmentation fault by the service thread:

[code]

Although netdata is compiled with gdb options, I get no output from gdb:

[code]

[code]

### Expected behavior

Not crash

### Steps to reproduce

I am not sure.
This is a parent.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-08-09 08:48] MrZammler commented on #13499
Costa hi! Just to make sure, it's a fresh core, despite date of file being May 8?

[2022-08-09 09:17] ktsaou commented on #13499
I am closing this. I will try to reproduce.

[2022-08-09 09:18] #13499 closed

[2022-08-09 09:26] ktsaou opened #13500 "[Bug]: fatal on rrdcontext during rrddim_free()"
### Bug description

On a parent, when the child `costa-pc` disconnected, I got this fatal:

[code]

### Expected behavior

Not fatal.

### Steps to reproduce

Not sure.

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-08-09 09:33] ktsaou commented on #13500
The entire log from 1 hour ago:

[code]

[2022-08-09 13:29] #13500 closed

[2022-08-09 17:16] vlvkobal commented on #13116
I'm closing this because Netdata needs root permissions to read `cpuinfo_cur_freq` so the chart has very limited application. @SteveBox0 You can use `scaling_cur_freq filename to monitor = /sys/devices/system/cpu/%s/cpufreq/cpuinfo_cur_freq` to monitor the frequency reported by the hardware if you are ok with granting Netdata root permissions.

[2022-08-09 17:16] #13116 closed

[2022-08-09 22:02] bohannin opened #13505 "[Bug]: netdata agent update removes manually set CAP_NET_ADMIN from go.d.plugin"
### Bug description

Manually added capability CAP_NET_ADMIN for go.d.plugin is lost when agent is updated and file replaced, breaking wireguard collector

### Expected behavior

File capability retained if present before update

### Steps to reproduce

1.  sudo setcap CAP_NET_ADMIN+epi <INSTALL_PREFIX>/usr/libexec/netdata/plugins.d/go.d.plugin
2. verify capability is added: sudo getcap <INSTALL_P

[2022-08-10 07:49] MrZammler commented on #13498
Hi @caroffer12 !

This is similar to #13430 somehow .. ? Can we check a bit the part `My netdata cloud agent stopped working.` ? Did something happened that caused it to stop working? Was the installation made through the package manager ?

[2022-08-10 08:48] shyamvalsan opened #13506 "[Bug]: PostgreSQL buffer cache hit ratio averaging across DBs is misleading"
### Bug description

Buffer cache hit ratio is being averaged across all DBs present in Postgres server.

This includes DBs which are idle and where no operations are taking place - these idle DBs have a cache hit ratio of 0% since nothing is going on.

On averaging, these 0% DBs bring down the average and the overall cache hit ratio ends up being a misleading number.

### Expected behavior

Cache

[2022-08-10 14:18] caroffer12 commented on #13498
@MrZammler . I am not sure why it stopped working. when i check the `curl http://localhost:19999/api/v1/info`  it show  "agent-claimed": false,
 "aclk-available": false,
so  i deleted all the existing files as per https://github.com/netdata/netdata/issues/13430 . Then i run this command wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-tok

[2022-08-10 16:59] ilyam8 commented on #13505
Thanks for reporting, @bohannin. Fixed in #13507.

[2022-08-10 19:04] Garahk commented on #13251
Hi @ilyam8 , I see that a version `v1.36.0` has been comitted, wondering if such version contains already the fixes you helped develop for this issue, and the k8sState enabled by default already.

[2022-08-10 19:18] ilyam8 commented on #13251
Thanks for the reminder 👍 I made a [PR](https://github.com/netdata/helmchart/pull/299).

[2022-08-10 19:31] Garahk commented on #13251
Sure!, so will you include in this PR the fixes for the name resolution? or has this already been included in `v.136.0`?

[2022-08-10 19:39] ilyam8 commented on #13251
v.1.36.0 has all the fixes

[2022-08-11 07:36] ced1check opened #13548 "[Bug]: Lost all historical data upgrading from 1.35 to 1.36"
### Bug description

After the upgrade to 1.36, all historical data are gone

### Expected behavior

Keep historical data as defined in configuration file.

### Steps to reproduce

1. Upgrade from 1.35 to 1.36

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Version [e.g. 22]

### Additional context

_No response_

[2022-08-11 07:54] ced1check opened #13549 "[Bug]: Critical alert mysql_galera_cluster_status"
### Bug description

Since upgrade 1.36, I receive a critical alert incorrectly on mysql_galera_cluster_status.

galera node cluster component status (-1: unknown, 0: primary/quorum present, 1: non-primary/quorum lost, 2: disconnected). Any other value than primary indicates that the node is part of a nonoperational component.

All nodes are actually connected and in Primary status:

wsrep_cluster

[2022-08-11 08:08] MrZammler commented on #13498
Hi @caroffer12. I think we need to check why it stops working. Is the only thing affected when this happens the cloud connectivity? If going to the local dashboard, do you see also past metrics missing?

Is there any clue as to what might have caused it? It seems like something deleted files in netdata's installation. Maybe a system update or similar?

Was the old installation made using kickstart

[2022-08-11 10:07] caroffer12 commented on #13498
@MrZammler . Not sure what caused it to stop working. previous installation is through kickstart only. i have deleted `/etc/netdata`  how do i proceed further

[2022-08-11 10:07] MrZammler commented on #13498
Try again the kickstart command please.

[2022-08-11 10:22] caroffer12 commented on #13498
[code]

[2022-08-11 11:52] MrZammler commented on #13498
Can you try to just install first, and then claim? I.e. first run:

`wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh`

and then re-run it with the token parameters?

[2022-08-11 12:07] caroffer12 commented on #13498
@MrZammler same error.
[code]

[2022-08-11 12:56] Ferroin commented on #13498
Most likely it’s seeing a `netdata` binary left over from a previous install (but not seeing an install type marker, hence can’t determine the install type). Running with `--reinstall` _should_ get things working again (it should prompt you about whether you really want to reinstall or not).

[2022-08-11 13:36] ntsanq commented on #10665
@xiang-xx thanks for your cmt

[2022-08-11 14:44] caroffer12 commented on #13498
@MrZammler . I tried with reinstall

[code]
[code]
I tried to start the netdata service it still fails

[2022-08-11 15:25] ilyam8 commented on #13462
Hi. No, I have no ideas. I will try to set up WireGuard in docker and see. I won't be doing it any time soon because I am on vacation.

[2022-08-11 15:36] shyamvalsan opened #13510 "[Feat]: Add more metrics to PostgreSQL Go collector"
### Problem

PostgreSQL collector is missing some important metrics

### Description

<details>
<summary>Add following metrics to Go collector:</summary>

1. Database count
2. Backend count
3. Dead Row Ratio
4. Number of active queries
5. Number of idle queries
6. Number of idle in transaction queries
7. Number of slow queries (>10s)
8. Number of slow queries (>1s)
9. Number of slow queries (>100m

[2022-08-11 15:37] shyamvalsan commented on #13510
cc: @thiagoftsm @vlvkobal @ilyam8

[2022-08-11 15:38] shyamvalsan commented on #13510
There's a few more remaining, but those need some more work, will create a separate ticket for those. Also need to spec out how we'll visualize queries/tables/indexes in tabular form.

cc: @cakrit @sashwathn @amalkov

[2022-08-11 15:57] #13505 closed

[2022-08-11 17:39] thiagoftsm commented on #13510
Hello @shyamvalsan,

Some questions and suggestions:

- why do you consider that `> 100ms` is slow?
- Are we going to show datnames without a name?
[code]
- Let us avoid one run more than one query to get data from one table, I suggest to use:
[code]

and create charts for the queries.
- Probably we want to use [width_bucket](https://database.guide/how-width_bucket-works-in-postgresql/) to work wi

[2022-08-11 17:50] ilyam8 commented on #13510
[We have it](https://github.com/netdata/go.d.plugin/blob/d45f13cd36e6882367d2dd53e301373605fc80ec/modules/postgres/charts.go#L417-L438)

[2022-08-11 18:36] shyamvalsan commented on #13510
@ilyam8 - I've removed "Backend per database" from the description. I missed it somehow 😄

@thiagoftsm - good suggestions.

- For queries I would have ideally liked a histogram chart and we could put queries into 0-100ms, 100-1000ms, 1000-10000ms and 10000+ buckets. Is that feasible? 100ms is not necessarily slow, but a 900ms query is slow.. a histogram would be the best way to display all of this

[2022-08-11 18:44] thiagoftsm commented on #13510
@shyamvalsan this was my thought when I suggested to use `width_bucket`, probably we could create a chart like we have now for filesystem latencies.

[2022-08-11 18:58] shyamvalsan commented on #13510
Hmm - if we can do histogram view, then there might be a quick win to show:
- Table bloat
- Index bloat

As histograms, so we can see, for example, what % of tables have a bloat > 10%

I was previously considering we needed the new table charts to show this data - and we still do, to be able to pin point which table or index has how much bloat. But a quick indication of whether or not you have a b

[2022-08-11 19:24] thiagoftsm commented on #13510
@shyamvalsan I agree that we still need a chart type for this, but for while we are using `stack` charts.

[2022-08-12 06:39] olivluca commented on #13094
Most of my nodes are now on v1.36.0 but the visited nodes are still empty.

[2022-08-12 11:46] sashwathn opened #13512 "[Bug]: Postgres db read throughput metrics are inaccurate"
### Bug description

The db_rows_read_ratio is showing the wrong ratio of fetched to returned rows. The actual calculation should be a simple:
{$fetched} * 100 / {$returned}. But currently it is being calculated as {$fetched} * 100 / ({$returned} + {$fetched}).

Also, we should only collect the fetched ratio and there is no need to show the returned ratio as it will always be 100%.

cc: @ilyam8 ,

[2022-08-12 12:05] ilyam8 commented on #13512
Why? The chart shows fetched/returned distribution. 50/50% means equal (num of fetched rows == num of read/scanned rows). Any other distribution makes sense too.

[2022-08-12 12:13] ilyam8 commented on #13512
I think there is a misunderstanding about the chart - it is the **same** as `postgres.db_rows_read` (which shows rows/s), but shows percentages.

[2022-08-12 12:13] sashwathn commented on #13512
@ilyam8 : The intention of this metric is to check how many rows were scanned (returned) for the number of rows to be fetched to the client. The total number of rows (denominator) should be the number of rows scanned (returned) and the number of rows fetched is a ratio of the returned.
https://documentation.solarwinds.com/en/success_center/dpa/content/dpa-postgre-resource-metrics.htm#:~:text=The%2

[2022-08-12 12:16] sashwathn commented on #13512
The dashboard_info says and this should ideally give us a ratio of the number of fetched rows against the number of returned rows. The chart as a percentage of the postgres.db_rows_read does not make much sense here.

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/96257330/184351892-fc8b3446-606f-4706-a00b-f5bedc1e4c4e.png">

[2022-08-12 12:24] ilyam8 commented on #13512
90/10 - returned 9 times more than fetched. It doesn't make sense to you?

I don't do any calculations in the collector, just use the [percentage-of-incremental-row](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#dimension) dimension algorithm.

Doing it differently means adding complexity: save prev fetched/returned values for every database, calculate delta manually and then calcula

[2022-08-12 12:52] shyamvalsan commented on #13512
Ratio of rows fetched : rows returned = (rows fetched * 100) / (rows returned)

Let's take an example

At 15:31:30 for the charts db in production there were:
- 593,253 rows fetched
- 979,258 rows returned

![image](https://user-images.githubusercontent.com/24860547/184356117-d1f9072a-9aa8-46de-a5a2-2cedbee9b3e2.png)

So the ratio of rows fetched : rows returned = (593253*100)/979258 = 60.58%

ie.

[2022-08-12 12:58] ilyam8 commented on #13512
@shyamvalsan I understand the confusion, but the ratio chart shows it, the problem is the interpretation of the data - 50/50 means the best possible distribution, 64/36 means returned is (almost) 2 times more.

The "problem" is very clear and I don't say we don't have it. Just saying that it (IMO) shows "how efficient the database", just not that explicit probably.

[2022-08-12 12:58] shyamvalsan opened #13513 "[Feat]: Anomaly rate per section"
### Problem

_No response_

### Description

There should be a way to fetch the anomaly rate per family or per section. The user should be able to see the anomaly rate of only metrics related to a particular collector if they so wish.

Eg. 10% of Postgres metrics are anomalous right now.

### Importance

really want

### Value proposition

1. Improved usability
2. Faster monitoring and troubleshoo

[2022-08-12 12:59] shyamvalsan commented on #13513
cc: @MrZammler @andrewm4894 @sashwathn

[2022-08-12 12:59] sashwathn commented on #13512
@ilyam8 : As Shyam pointed out above, the fetched and returned are related to each other and the fetched rows is a subset of the returned and will be better to show it that way.

There is nothing wrong with the current one but the 50% vs 50% actually means we have a fully indexed database and no action for the user. We could rather show this as a 100% fetched metric which says it in as many words.

[2022-08-12 13:33] cakrit commented on #13512
There is something wrong with this one, we need the single value.

[2022-08-12 13:46] #13318 closed

[2022-08-12 13:56] bohannin commented on #13505
Confirmed - fixed in latest nightly release.  Thanks!

[2022-08-12 14:01] cakrit commented on #13512
In https://github.com/netdata/product/issues/2990 @ilyam8 said that

The full picture as explained [here](https://www.cybertec-postgresql.com/en/postgresql-indexing-index-scan-vs-bitmap-scan-vs-sequential-scan-basics/) is that we have three things that could happen:
 - Index scan: All the data we want to return exist already in the index, so we don't need to read any rows from the actual table. Mo

[2022-08-12 15:07] shyamvalsan commented on #13512
Let's go to the source :)

https://github.com/postgres/postgres/blob/master/src/include/pgstat.h#L149

[code]

That wasn't very helpful tbh..

Most other references to this I could find (not just datdog) refers to rows fetched being the actual rows that contained the data that was being queried for while rows returned is number of rows returned by the storage layer to be scanned.

Here's what @sas

[2022-08-12 15:10] shyamvalsan commented on #13506
This is applicable for many metrics not just buffer cache hit ratio.

Basically anything we're averaging across DBs and include inactive DBs will deflate the average. Also averaging percentage values across DBs in this case causes composite charts to show weird looking outputs where the sums do not add up to 100%.

![image](https://user-images.githubusercontent.com/24860547/184385071-0c659c07-a2d7

[2022-08-12 15:13] shyamvalsan commented on #13506
cc: @papazach @cakrit @sashwathn

[2022-08-12 16:52] ilyam8 commented on #13512
Related:
 - [commit](https://github.com/postgres/postgres/commit/3465c8a8692fb628bc2710fbeedb9aeb534b0400)
 - [discussion](https://postgr.es/m/9eeeccdb-5dd7-90f9-2807-a4b5d2b76ca3@oss.nttdata.com)

[2022-08-12 17:09] ilyam8 commented on #13512
@anayrat @unhandled-exception can you help?

[2022-08-13 15:07] ilyam8 commented on #13462
@stoleyourburger it will help me if you give me a guide (docker-compose?) on how to setup WireGuard in docker

[2022-08-13 17:57] rondior opened #13516 "[Bug]: Claiming a node fails"
### Bug description

 Failed to claim node for an unknown reason.

### Expected behavior

Add node to my war room and for node to install properly

### Steps to reproduce

1.ADD NODE: Run the script below on your node's terminal
2.Attempting to claim agent
3. WARNING  Failed to claim node for an unknown reason
4. Unknown HTTP error message"

### Installation method

kickstart.sh

### System info

[2022-08-13 18:04] ilyam8 commented on #13516
Hi, @rondior. Can you show the script output related to

[2022-08-13 18:10] rondior commented on #13516
Hi @ilyam8 love the fallout logo!
I'll apologize ahead of time. Im new to githum and networking so may take some patience getting me to find you the right info you need. :/

[2022-08-13 18:11] rondior commented on #13516
--- Attempting to claim agent to https://app.netdata.cloud ---
 --- Attempting to claim agent to https://app.netdata.cloud ---
174467
174471
[/tmp/netdata-kickstart-nOmYwNJfgw]# /usr/sbin/netdata-claim.sh -token=AXfib8BTXvEo89AANvPPT1TEuFJsTaicI_26Y4KfQqTykwUXOJuSzgmYReELSsBppllTFewNs1HidtMoXlb2fg1VTq-cShySYod2-1jII3aeJGJ8SFR-2U3J5cAoVz3OcSAnoys -rooms= -url=https://app.netdata.cloud
Unable to com

[2022-08-13 18:11] rondior commented on #13516
WARNING  Failed to claim node for an unknown reason. This usually means either networking problems or a bug. Please retry claiming later, and if you still see this message file a bug report at https://github.com/netdata/netdata/issues/new/choose

The following non-fatal warnings or errors were encountered:

  - Command "/usr/sbin/netdata-claim.sh -token=AXfib8BTXvEo89AANvPPT1TEuFJsTaicI_26Y4KfQqTy

[2022-08-13 18:14] rondior commented on #13516
I believe that is what you have asked for.  If not let me know.
thanks

[2022-08-13 20:53] snwflake opened #13518 "[Bug]: go.d.plugin/mysql collects MyISAM stats, despite the engine being disabled"
### Bug description

The external `go.d.plugin` `mysql` collects and displays chart information for the `MyISAM` storage engine, despite being disabled via conf:
[code]

### Expected behavior

The plugin should not collect and display metrics for storage engines that are disabled.

### Steps to reproduce

1. add agent to a db node, running mysql ^8.*
2. disable `MyISAM` storage engine
3. configure

[2022-08-13 21:01] amalkov commented on #13482
https://github.com/netdata/cloud-frontend/issues/3697

[2022-08-13 21:06] snwflake commented on #13518
Addendum:
The same behavior exists for the `binlog`. On my testing node, the binlog is deliberately disabled, but netdata charts it anyway.

[2022-08-14 11:05] ilyam8 commented on #13518
Hi, @snwflake.

I see there are 3 charts:

- [**MyISAM Key Cache Blocks**](https://github.com/netdata/go.d.plugin/blob/0287d62a6777146a55c90d08b52a04a003d1547a/modules/mysql/charts.go#L374)
- [**MyISAM Key Cache Requests**](https://github.com/netdata/go.d.plugin/blob/0287d62a6777146a55c90d08b52a04a003d1547a/modules/mysql/charts.go#L386)
- [**MyISAM Key Cache Disk Operations**](https://github.com/n

[2022-08-14 13:16] petecooper opened #13519 "[Bug]: `plugins.d/xenstat.plugin` triggers `apport` dump on clean install"
### Bug description

A Netdata install to a new Ubuntu 20.04LTS triggers a `xenstat.plugin` dump via `apport`. Extract from `apport.log`:

[code]

[_usr_libexec_netdata_plugins.d_xenstat.plugin.0.crash.zip](https://github.com/netdata/netdata/files/9333414/_usr_libexec_netdata_plugins.d_xenstat.plugin.0.crash.zip)

[apport.log.zip](https://github.com/netdata/netdata/files/9333415/apport.log.zip)

#

[2022-08-14 15:21] snwflake commented on #13518
Hi @ilyam8,

`SHOW GLOBAL STATUS;` does indeed expose them, despite being disabled. So this should be treated as a feature request from now on.

I don't think it makes much sense to bloat the charts with useless metrics.
According to mysql docs, the aforementioned `key_*` metrics are restricted to MyISAM:

- MyISAM Cache Key Blocks
  - [Key_blocks_unused](https://dev.mysql.com/doc/refman/8.0/en/se

[2022-08-15 03:50] snwflake commented on #13518
I drafted the rough idea, my knowledge of golang is rudimentary at best, so it's probably not optimal.

[2022-08-15 08:17] JohannesNeu opened #13520 "[Bug]: netdata v1.36.0 build fails to build on freebsd 13.1 (OPNsense) with ld: error: undefined symbol errors"
### Bug description

Hi,
netdata v1.36.0 is part of the ports collection of OPNsense which is based based on the Freebsd 13.1 ports collection.
Building an OPNsense image triggers the compilation of net-mgmt/netdata, which results in "ld: error: undefined symbol" errors.
I am building on a raspberry pi 4 on aarch64.

### Expected behavior

I would expect there to be no linking errors and building

[2022-08-15 12:51] #10304 closed

[2022-08-15 13:00] Ferroin commented on #13520
The issue here is entirely due to the fact that you’re trying to cross-compile. We unfortunately don’t (currently) support that properly due to some of the code we have had to vendor not working properly for that case.

I believe there are plans to fix this long-term, but I have no idea what type of timeframe we would be looking at for fixes.

[2022-08-15 13:24] vlvkobal commented on #13519
Do you use Xen? Do you need the plugin running?

[2022-08-15 13:28] petecooper commented on #13519
- [ ] No, and no. My report was to register it as a potential issue for other users who _do_ have an active use for the Xen functions.

[2022-08-15 13:55] petecooper commented on #13519
I use `libyajl-dev` for other functionality elsewhere, but the two `libxen*` packages are not installed:

[code]

I will do that.

[2022-08-15 15:29] MikeJakubik opened #13522 "[Bug]: Can't compile on FreeBSD, something wrong with Judy"
### Bug description

Can't compile on FreeBSD, it does not like something with Judy

### Expected behavior

Compile cleanly

### Steps to reproduce

1. cd /usr/ports/net-mgmt/netdata && make

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-08-15 15:56] ilyam8 commented on #13519
@vlvkobal is this a bug? Do we need to reproduce it and fix the crash?

[2022-08-15 16:10] Ferroin commented on #13520
Correction, it looks like there is indeed a more general build issue on FreeBSD right now.

[2022-08-15 16:16] ilyam8 commented on #13522
Hi, @MikeJakubik. Is this a duplicate of #13520?

[2022-08-15 16:20] MikeJakubik commented on #13522
It looks like the same error, but I'm not cross-compiling anything. Something changed in Netdata here.

[2022-08-15 16:29] Ferroin commented on #13522
Indeed, I’m pretty sure now that it’s not actually a cross-compilation issue there (that particular case is expected to fail due to issues with Judy, but not without output like that).

My gut instinct here is that it’s something with LTO (missing symbols at link time are a classic symptom of LTO problems).

[2022-08-15 16:34] MikeJakubik commented on #13522
You are correct sir, I disabled LTO via the port's config and it compiles cleanly.

[2022-08-15 16:57] ilyam8 commented on #13520
@JohannesNeu can you try compiling with disabled LTO?

[2022-08-15 17:09] #13518 closed

[2022-08-15 17:20] JohannesNeu commented on #13520
@Ferroin: Just to clarify: I am compiling on aarch64 for aarch64, so no cross compiling necessary. I started building it without the OPNsense scripts (just make build). It just finished.

@ilyam8: when I started the build 4h ago I did not know about disabling LTO  so I built with it and got the same error:
[code]

I will try now without:
![lto_off](https://user-images.githubusercontent.com/3932863

[2022-08-15 18:10] marigbede commented on #12419
@cakrit Thanks for this. Please when will the modifications here be released for use?

[2022-08-15 18:40] ilyam8 commented on #12419
@marigbede it's been released, the changes are in the latest stable/nightly release.

[2022-08-15 19:30] JohannesNeu commented on #13520
I tested and I am a bit puzzled, because this time the building process was a lot faster, so maybe some kind of cache was used and might mix up the results? I did the following though:
1. Download the sources again
2. make build in the net-mgmt/netdata directory and see the error above
3. I did make clean in the directory
4. removed the LTO flag using make config
5. and did make build again afterw

[2022-08-15 19:42] forkbomb9 commented on #13522
I'm the maintainer for net-mgmt/netdata on FreeBSD, and the port should depend on Judy when LTO is enabled.
A patch has been submitted and this should be fixed with the v1.36.1 port release.

What seems could be improved is netdata failing to compile in a more "hey so you're missing something here" way rather than undefined symbols?

[2022-08-15 19:44] forkbomb9 commented on #13520
It seems netdata needs judy installed when building with LTO enabled. This should be fixed on the v1.36.1 port release, see https://github.com/netdata/netdata/issues/13522#issuecomment-1215689462

[2022-08-15 19:51] JohannesNeu commented on #13520
@forkbomb9 I checked whether Judy was already installed and pkg says it is:

[code]
if that is the case, then there should not have been an error building netdata with LTO enabled, right?

[2022-08-15 20:22] forkbomb9 commented on #13520
Hmm you are right. Disabling either LTO or DBENGINE works, so it seems to be something related to the database engine.

[2022-08-15 21:52] diizzyy commented on #13520
This issue is the integration done here: https://github.com/netdata/netdata/commit/014c9f3259264f54d939958449477504dff6133e

This removes the possibility of using (lib)Judy externally and instead forces usage for the included sources (please fix this).
While that doesn't seem to be the issue itself it seems like the wrong version or ar and ranlib is used instead of llvm-ar and llvm-ranlib by autot

[2022-08-15 21:57] forkbomb9 commented on #13520
@diizzyy funny, I just figured out that must be the issue at the same time as you.
Indeed, using `BINARY_ALIAS` works.

[2022-08-15 22:16] diizzyy commented on #13520
@Ferroin
Regarding https://github.com/netdata/netdata/issues/13086 , it seems to be rather well adopted ( https://repology.org/project/judy/versions https://repology.org/project/libjudy/versions ) and if you either do a bug report and/or submit a simple patch including your fixes (basically https://github.com/netdata/libjudy/commit/e95874a4e271d0f8535ab78862af3d57d33e9d1e as far as I can tell ) it

[2022-08-16 00:07] forkbomb9 commented on #13520
A fix has been [commited](https://cgit.freebsd.org/ports/commit/?id=2716a56c993d2c31443eaeb878759c830de9df7f) to the FreeBSD ports, v1.36.1-1 should build correctly.
Thanks @diizzyy for the `BINARY_ALIAS` trick.

[2022-08-16 00:09] forkbomb9 commented on #13522
We figured out it's an issue with the vendored judy netdata includes since https://github.com/netdata/netdata/pull/13362 / https://github.com/netdata/netdata/commit/014c9f3259264f54d939958449477504dff6133e
It has been patched in the FreeBSD ports, v1.36.1-1 should build correctly.

[2022-08-16 06:08] diizzyy commented on #13520
That's a hacky workaround not fixing the real issue though

[2022-08-16 06:36] olivluca commented on #13094
Still not fixed in 1.36.1.

[2022-08-16 07:54] ktsaou commented on #13513
This is interesting...

[2022-08-16 08:00] ktsaou commented on #13506
We have to find a generic way to do this. Since this is required for many metrics, we need to find a rule at our metric types document for them.

[2022-08-16 08:00] ktsaou commented on #13506
Please don't implement this until we agree on a generic rule.

[2022-08-16 08:46] ktsaou opened #13524 "[Bug]: According to the CLA, Netdata holds all copyright of every contribution"
### Bug description

I many places in Netdata code we see Copyright notices of different people.
According to the CLA, all copyright is transferred to Netdata when a pull request is made and the CLA is signed by the contributor.

### Expected behavior

The Copyright of all code that has been submitted to Netdata should mention Netdata as the copyright holder.
The original author should still be me

[2022-08-16 09:02] ktsaou commented on #13482
Something like this is already implemented: http://localhost:19999/api/v1/dbengine_stats
We implemented this for the calculator.

Per node instance is not implemented. It can be tricky, because the figures are per bound to each database tier.

[2022-08-16 09:59] ilyam8 commented on #12816
We have merged several patches that fix the core dump on shutdown.  Closing the issue, because the problem is likely fixed. @bnesbitt if you still have the bug with latest stable, please comment and we will reopen the issue.

[2022-08-16 09:59] #12816 closed

[2022-08-16 10:02] caroffer12 commented on #13498
@MrZammler . Any update on the issue

[2022-08-16 10:02] ilyam8 commented on #12893
@Ferroin that looks like an easy problem to fix (docs only), can you make a PR so we can close the issue?

[2022-08-16 10:17] ilyam8 commented on #13018
Closing the issue because it is not a bug really. Netdata can't graph a oom kill when its Netdata that gets killed.

[2022-08-16 10:17] #13018 closed

[2022-08-16 10:21] ilyam8 commented on #13186
Is it really all or MySQL only? Do you still have the issue @ced1check?

[2022-08-16 10:24] ilyam8 commented on #13003
@thunko, hey. Do you still have the problem with the latest stable version (v1.36.1)? We can't reproduce the issue (we use both stable and nightly versions of Netdata in K8s), no other reports have been submitted since you created the issue. I think there is something specific to your setup, so it is hard to debug for me.

[2022-08-16 10:32] MrZammler commented on #13498
Can you please send your `/var/log/netdata/error.log` to manolis at netdata.cloud ? Thanks!

[2022-08-16 11:18] ced1check commented on #13186
Yes, all data is lost. I recently had this issue upgrading from 1.35 to 1.36 (stable releases).

[2022-08-16 11:23] ilyam8 commented on #13186
Is it on upgrade only or happens on restart too?

[2022-08-16 11:24] ced1check commented on #13186
I've never seen this issue after a restart and I did many. Did restart netdata each time I had to restart mysql after a synchro. Never seen this issue either after any reboot (maintenance every other weeks for upgraded kernels on 6 servers).

[2022-08-16 11:34] ilyam8 commented on #13186
I 🤷 then, my assumption was: we had both python and go versions of MySQL collector and on restart (or upgrade) one of them (random order) starts collecting data. We have had removed python versions from the repo, but it affects clean installs, you still have them.

If you hover on a chart date you can see what collector produces metrics, e.g. (go.d/mysql)

<img width="1348" alt="Screenshot 2022-08

[2022-08-16 12:31] caroffer12 commented on #13498
@MrZammler . There is no error.log file

[code]

[2022-08-16 12:45] Ferroin commented on #13524
I think we need a comprehensive audit here, not just of the code in this repo, but of our code in general. I regularly come across places where we’re missing license information or copyright notices.

[2022-08-16 13:01] Ferroin commented on #12893
@ilyam8 Indeed, this one just kind of slipped through the cracks. Will try to have a PR up later today.

[2022-08-16 13:04] MikeJakubik commented on #13522
Confirmed, I can compile with LTO now.

[2022-08-16 13:12] ced1check commented on #13186
I tried to hover onto chart date, hower it never popped-up anything and the date always shows 'latest: ...' like this:
![image](https://user-images.githubusercontent.com/104206200/184887961-7e99d33b-818a-401d-9223-a5d24d0a1672.png)

It would seem you access those graphs from somewhere else? Maybe locally, which I can't.

[2022-08-16 13:15] ilyam8 commented on #13186
Yes, I used the local dashboard. You can check it from the single node **view** (not overview) by clicking on the Info icon:
<img width="1279" alt="Screenshot 2022-08-16 at 16 15 16" src="https://user-images.githubusercontent.com/22274335/184888706-c5610bc1-b611-4799-87b2-08521e0b1cbe.png">

[2022-08-16 14:29] andrewm4894 commented on #13513
We had talked about the ability to add "Saved Views" onto the AA tab in some way such that you could just filter the space of stuff being looked at in the AA tab.

Idea here was if you keep seeing things you dont care about in the AA tab results then you could just build up some sort of saved filter or something.

So "Postgress" for example could just be a simple pattern or regex or something over

[2022-08-16 14:31] andrewm4894 commented on #13513
maybe its just a way for users to define and save netdata simple patterns that can then bew applied like a filter in some easy way.

https://learn.netdata.cloud/docs/agent/libnetdata/simple_pattern

[2022-08-16 14:42] forkbomb9 commented on #13520
Agreed, this should be fixed on the netdata side. But it's that or disabling lto as broken on the port for now.

Should this issue's title be changed to 'netdata uses the wrong ar linker when building vendored judy' or something along these lines? And #13522 marked as duplicate?

[2022-08-16 14:52] ilyam8 commented on #13520
@forkbomb9 you can open a new issue with the proper title/description and we will close both 13522 and this one.

[2022-08-16 16:06] #9554 closed

[2022-08-16 16:09] #12893 closed

[2022-08-16 17:36] forkbomb9 opened #13527 "[Bug]: netdata v1.36.1 fails to link libJudy correctly with LTO enabled on FreeBSD"
### Bug description

Netdata uses plain `ar` to link libJudy, which causes the build to fail due to LTO link errors under FreeBSD[^1][^2].

This can be fixed by setting `AR` to the output of `cc --print-prog-name=llvm-ar`[^3] when compiling with Clang. It has the added benefit of working even when multiple clang/llvm versions are installed.

In theory this should be reproducible under Linux too. U

[2022-08-16 17:36] forkbomb9 commented on #13520
@ilyam8 opened https://github.com/netdata/netdata/issues/13527

[2022-08-16 17:39] ilyam8 commented on #13520
Closing in favor of #13527

[2022-08-16 17:39] #13520 closed

[2022-08-16 17:40] ilyam8 commented on #13522
Closing in favor of #13527

[2022-08-17 07:38] ced1check commented on #13186
Here's apache's info:
![image](https://user-images.githubusercontent.com/104206200/185061811-d9cc0e44-7d3e-44dd-9884-f0bf678fb1ca.png)

And MariaDB's:
![image](https://user-images.githubusercontent.com/104206200/185061996-ad13a7c9-b48c-42a1-a3b3-650aa53b88a1.png)

[2022-08-17 09:09] svrnwnsch opened #13528 "[Bug]: Netdata crashes with "Cannot allocate dbengine page cache page, with mmap() # : Invalid argument""
### Bug description

After updating my monitoring parent to version v1.36.1 within docker it crashes repeatedly after running for several minutes. The last error messages are:

[code]

it looks like the configuration `page cache uses malloc = yes` seems to be no longer supported (see config down below)? But searching through the repository I found this commit which https://github.com/netdata/netda

[2022-08-17 09:24] sashwathn commented on #13513
@andrewm4894 : I agree with Shyam above and for every section in our Overview, we can probably create default "views" to display the anomaly rate per section and also expose these views in the AA tab for power users to slide and dice.

[2022-08-17 09:39] svrnwnsch commented on #13528
found a problem with my configuration `page cache uses malloc = yes` needs to be under `[global]`

[2022-08-17 09:50] anayrat commented on #13512
Hello,
I will look at this in a few days, sorry for the delay.

[2022-08-17 10:21] Isalg commented on #13329
Hi @ilyam8

I tried but still the same.

I attach new logs:
[log1708.txt](https://github.com/netdata/netdata/files/9358713/log1708.txt)

[2022-08-17 11:41] svrnwnsch commented on #13528
as this seems to be running now for 2h I guess this fixed my problem.

[2022-08-17 11:41] #13528 closed

[2022-08-17 12:40] ilyam8 commented on #13186
Ok. If you lose metrics only for web log apache/MySQL:

[code]

If my assumption is correct this should fix the problem (I think there is an open issue for that, I will try to find it). If not - we can't reproduce the problem and there are no similar reports.

[2022-08-17 13:11] Ferroin commented on #13527
Confirmed that this is an issue on Linux as well (tested building with Clang 14.0.6 on my laptop), and also confirmed that the fix works there.

We ideally need something in the configure script (and CMake) to set this automatically so that a manual workaround is not needed.

I’m updating the labels here to mark this as a build system issue and not a packaging issue (because we need to handle this

[2022-08-18 06:29] Isalg commented on #13329
Hi,

Is strange but the node is connected now. When I started the container using docker-compose it wasn't. Only after restarting the container has been able to do it.

Thank you all for helping!

[2022-08-18 06:29] #13329 closed

[2022-08-18 09:48] ced1check commented on #13186
So if I remove those chart.py files now, it should prevent the issue next time agent is updated?

[2022-08-18 09:49] ced1check commented on #13186
Actually I don't have those files. Could they have been removed during 1.36 update?

[2022-08-18 10:03] carstenjaksch commented on #10070
I just tried to claim an ipv6-only node and that failed. After adding ipv4 to the node, claiming works fine.

Please consider adding ipv6 support.

[2022-08-18 10:15] webdock-io commented on #6171
@Ferroin

This is exactly what I'd like to accomplish on my systems. I have tried googling a bit and looking at the docs, but Netdata has changed a lot since 2019 :)

Do you have any quick and easy guidelines on how to accomplish this anno 2022? I would like to script this so whenever I spin up a VM I automatically install netdata with the correct config to stream metrics to the host, which then p

[2022-08-18 10:50] ilyam8 commented on #13186
Ah, I see, somehow I missed that you installed v1.35.0+. We removed those collectors in v1.35.0.

[2022-08-18 12:06] ced1check commented on #13186
Well, I couldn't find this ticket so I opened a new one :(
https://github.com/netdata/netdata-cloud/issues/543

Now I realize I was on netdata-cloud so I couldn't see this one on netdata!

Last update was from 1.35 stable to 1.36 and I lost everything on 6 servers. I suppose this was execpted because of those files?

[2022-08-18 12:19] ilyam8 commented on #13186
No, it wasn't because of the files. It was just my assumption that proved to be wrong.

---

Why? If you have the local dashboard disabled, can you enable it just for testing? What is your setup: parent/child or standalone instances? What configuration parameters did you change? Any non-default config parameters? What memory mode do you use (can be found in `http://<IP>:19999/api/v1/info`)?

[2022-08-18 13:50] shyamvalsan opened #13532 "[Feat]: Add a summary dashboard section to PostgreSQL"
### Description

Add a summary section for PostgreSQL

Summary should contain:
- Total DB size
- Total connection utilization
- Cache Hit Ratio
- Rows Fetched vs Returned
- Uptime

### Importance

must have

### Value proposition

1. Quick summary view of PostgreSQL before diving into individual charts

[2022-08-18 14:09] vlvkobal commented on #13519
I was able to reproduce the crash
[code]

[2022-08-18 17:26] ilyam8 commented on #13532
@shyamvalsan #13534 has been merged, should we close the issue?

[2022-08-18 17:35] underhood commented on #13516
@rondior not sure how comfortable would you be to modify the claiming script to add some debug info?

[2022-08-18 17:59] MrZammler commented on #13516
This is kinda weird. It should have the machine guid there I think, either from when the agent run and created it, or created by the script itself...

@rondior Is the agent running ok ? (aside from not being claimed) ?

[2022-08-18 18:55] #13532 closed

[2022-08-18 20:42] rondior commented on #13516
How do I check to see if the agent is running ok?

[2022-08-19 06:05] underhood commented on #13516
- Is there any netdata process running?
-  If running as service what does `systemctl status netdata` say (assuming you are running systemd distro)?
-  How about netdata error log (/var/log/netdata/error.log assuming you installed into default location)?

[2022-08-19 06:06] underhood commented on #13516
are you running claim script as privileged user (sudo/root?)

[2022-08-19 10:10] caroffer12 commented on #13498
@MrZammler Any update on this

[2022-08-19 10:19] ilyam8 commented on #13498
Hi, @caroffer12. Can you show

- `ps faxu | grep netdata`
- `dpkg -l | grep netdata`
- `cat /etc/passwd | grep netdata`

[2022-08-19 12:09] shyamvalsan commented on #13510
@ilyam8 @vlvkobal I have updated the ticket description to add more metrics (metrics 17 to 30 are newly added, quoting them below) - have also updated the proposed implementation section to list the queries that will give the values for these metrics OR links to the queries in GH.

Please let me know in case something doesn't make sense.

cc: @amalkov @sashwathn

[2022-08-19 12:35] MrZammler commented on #13498
Also please if possilble `dpkg -L | grep netdata` ?

[2022-08-19 13:06] caroffer12 commented on #13498
@MrZammler . I am getting error

[code]

[2022-08-19 13:33] ilyam8 commented on #13498
Better to do the following

[code]

[2022-08-19 13:40] shyamvalsan opened #13542 "[Feat]: Update postgreSQL metrics organization"
### Description

This is the updated proposal for PostgreSQL metric organization.

The main difference from what exists today, that is being proposed (based on discussion with @amalkov @sashwathn) is to organize metrics by functionality and not by whether they are global or grouped by database. So we won't have any more "db_" sections, and instead we will have the following sections.

- summary

[2022-08-19 13:44] shyamvalsan commented on #13542
Here's a more detailed list which lists what metrics (and charts) should be present in each section. Charts which should be "Grouped by database" by default are specifically called out. Charts in italics do not exist yet, and are [to be added](https://github.com/netdata/netdata/issues/13510).

- summary
  _- count of databases_
  - uptime
- size
  - _total db size vs available disk space_
  -  db_

[2022-08-19 13:47] shyamvalsan commented on #13542
note that this is not the final vision for how these metrics should be organized. Eventually, once TOC can support extra layers of [nesting](https://github.com/netdata/netdata-cloud/issues/550) we should have sections per database name and each database would have nested sections underneath which preserve the organization so all per DB metrics don't get clubbed together. Charts that show up nested

[2022-08-19 13:48] shyamvalsan commented on #13542
cc: @ilyam8 @vlvkobal @amalkov @sashwathn @ralphm @cakrit

[2022-08-19 13:51] ilyam8 commented on #13542
Do you think that the number of databases and uptime are the most important metrics (top section)?

[2022-08-19 14:03] shyamvalsan commented on #13542
@ilyam8 they aren't - they are the least important to me, I really just want them to show in the summary section. But they didn't really match to put under any of the other sections and I do not want to see separate TOC menu sections for them. So my suggestion was to just have them after summary, but open to better suggestions

[2022-08-19 14:20] caroffer12 commented on #13498
@MrZammler @ilyam8 . I did the following

[code]
Then when i checked dpkg list i am seeing this

[code]
Let me know if i can install  netdat now.

[2022-08-19 14:21] Pihaar opened #13543 "[Feat]: Enable Build repositories for opensuse and suse 15 SP4"
### Problem

It is currently not possible to install netdata on opensuse and SUSE 15 SP4 using the "native binary packages", the installer falls back to the static build method.

### Description

I've opdated my opensuse server from version 15 SP3 and SP4 and noticed that there is no release repository for SP4.
Is it possible to activate that?

I've tried to reinstall netdata, this was the result:

[2022-08-19 14:35] MrZammler commented on #13498
Yes, please try now.

[2022-08-19 15:01] caroffer12 commented on #13498
@MrZammler . Thanks it worked

[2022-08-19 15:26] MrZammler commented on #13498
Nice to hear! Can you please post the output of `netdata -W buildinfo`. ?

Is it now claimed to the cloud as well? Do let us know if it somehow loses cloud connection again please.

[2022-08-19 15:37] #13498 closed

[2022-08-19 15:39] caroffer12 commented on #13498
@MrZammler . Please find the output of buildinfo. Sure will let you if something goes wrong.

[code]

[2022-08-19 15:53] rondior commented on #13516
root@vmi957476:~# systemctl status netdata
● netdata.service - Real time performance monitoring
     Loaded: loaded (/lib/systemd/system/netdata.service; enabled; vendor preset: enabled)
     Active: activating (auto-restart) (Result: exit-code) since Fri 2022-08-19 08:52:46 PDT; 6s ago
    Process: 2850589 ExecStart=/usr/sbin/netdata -D $EXTRA_OPTS (code=exited, status=1/FAILURE)
   Main PID: 285

[2022-08-19 16:16] ilyam8 commented on #13516
@rondior can you try [uninstalling Netdata](https://github.com/netdata/netdata/issues/13498#issuecomment-1220689866) and installing it again?

[2022-08-19 16:23] #12705 closed

[2022-08-19 16:24] rondior commented on #13516
root@vmi957476:~# sudo apt-get purge netdata
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libnetfilter-acct1 libprotobuf17 libsnappy1v5
Use 'sudo apt autoremove' to remove them.
The following packages will be REMOVED:
  netdata*
0 upgraded, 0 newly installed, 1 to remove an

[2022-08-19 16:25] rondior commented on #13516
I hit Y and then it said "abort"?  Was that supposed to happen?

[2022-08-19 16:30] ilyam8 commented on #13516
That is supposed to remove Netdata.

[2022-08-19 17:23] rondior commented on #13516
Ok cool.  I will try to reinstall then

[2022-08-19 17:34] rondior commented on #13516
Ok i reinstalled it.  It said it was successful.  The node showed up in my war room but it says it's OFFLINE.  Node info unknown.

[2022-08-19 17:35] rondior commented on #13516
--- Using /tmp/netdata-kickstart-8ydOVnB3Bo as a temporary directory. ---
 --- Checking for existing installations of Netdata... ---
 --- Found an existing netdata install at /, with installation type 'binpkg-deb'. ---
[/tmp/netdata-kickstart-8ydOVnB3Bo]# //usr/libexec/netdata/netdata-updater.sh --interactive --not-running-from-cron
Fri 19 Aug 2022 10:29:22 AM PDT : INFO: netdata-updater.sh:  Chec

[2022-08-19 17:42] rondior commented on #13516
![Screen Shot 2022-08-19 at 1 40 27 PM](https://user-images.githubusercontent.com/29822150/185676637-f67f884b-f7c6-4175-8dd8-b4e47e8acaeb.png)

Node still offline after restart.  Clicked on node it says trying to load charts but its just stuck on that page.  Nothing loads.

[2022-08-20 21:07] ralphm opened #13544 "[Bug]: python.d.plugin/sensors skips sensors that report 0 at start"
### Bug description

My laptop has two USB-C ports, each of which are reported as power supplies that have sensors for voltage and current. However, there will only be charts for these if the value reports something else than 0 when the plugin is loaded at Agent start.

### Expected behavior

Dynamically create charts for these sensors so their values are properly recorded.

### Steps to reproduce

[2022-08-21 18:22] ilyam8 commented on #13544
Hi, @ralphm. Thanks for reporting the problem. Can you tet #13545?

[2022-08-21 20:01] thiagoftsm commented on #13542
@shyamvalsan I agree with @ilyam8 . Probably on summary we could have:
- Active connections.
- Size
- Queries runnning.

[2022-08-21 20:05] donaldsteele commented on #13427
I am experiencing this issue as well. I have a percona 8 cluster setup and am running the latest build of the netdata client.

[2022-08-22 06:30] hugovalente-pm commented on #13094
@jacekkolasa do you think you can take a look at this?

[2022-08-22 07:52] shyamvalsan commented on #13542
let's discuss over a call @thiagoftsm @ilyam8 I will set something up.

[2022-08-22 07:56] MrZammler commented on #13516
Hi @rondior

Can you try a `systemctl status netdata` and then most likely `systemctl start netdata` ? It seems the agent is not running...

[2022-08-22 08:20] hugovalente-pm commented on #13548
@ced1check guess this is then a duplicate of https://github.com/netdata/netdata/issues/13186, right?
can we close this one?

[2022-08-22 08:21] hugovalente-pm commented on #13549
@MrZammler is this an issue on our stock alert configs?

[2022-08-22 08:28] ced1check commented on #13549
Yes, that alert is one of those default/stock alerts as I've not added any so far.

[2022-08-22 08:30] ced1check commented on #13548
Yes sorry for the dups.

[2022-08-22 08:32] MrZammler commented on #13549
Not sure why this poped up in 1.36. The alert itself hasn't been changed for a while.

I'm not sure then if something changed in the collector to trigger this. @ced1check mind if you open a PR for the fix in `mysql.conf` so other team members can have a look as well please ?

[2022-08-22 08:38] ced1check commented on #13549
Created the PR: https://github.com/netdata/netdata/pull/13550

[2022-08-22 08:42] #13548 closed

[2022-08-22 09:20] #13519 closed

[2022-08-22 11:46] Ferroin commented on #13543
This is a result of our upstream repository hosting provider (PackageCloud) still not supporting openSUSE 15.4. I’ve complained to them (three times) about this but notthing seems likely to change there any time soon unfortunately.

That said, we’re in the process of migrating off of them to a self-hosted setup that should avoid issues like this in the future, but there’s unfortunately currently n

[2022-08-22 12:18] MrZammler commented on #13186
If we determine that you lose the data and but your configuration stays the same, then the only other reason it could happen if the dbengine files are lost (are you using dbengine?)

Can you do please an `ls -l /var/cache/netdata/dbengine` on an affected server?

[2022-08-22 12:26] ilyam8 commented on #13549
@ced1check can you show the chart? @MrZammler what does `0-` (the value, what is that `-`?) mean?

[2022-08-22 12:33] ced1check commented on #13549
Chart is a flat and constant 0.
Values are defined like this in alert definition:
-1: unknown, 0: primary/quorum present, 1: non-primary/quorum lost, 2: disconnected

The values I've seen so far are 'Primary' or 'Disconnected'.

From documentation:

Possible values are PRIMARY (primary group configuration, quorum present), NON_PRIMARY (non-primary group configuration, quorum lost) or DISCONNECTED

[2022-08-22 12:35] ilyam8 commented on #13549
There are [3 possible values](https://github.com/codership/wsrep-API/blob/eab2d5d5a31672c0b7d116ef1629ff18392fd7d0/wsrep_api.h#L278-L281):
 - primary
 - non-primary
 - disconnected

[2022-08-22 12:37] ced1check commented on #13549
Whatever the values when it's set to 'Primary' I kept receiving a critical alert as shown in screenshot, until I made the change explained in first comment.

[2022-08-22 12:43] ilyam8 commented on #13549
I have already [explained](https://github.com/netdata/netdata/pull/13550#discussion_r951353408) that the change is not correct (e.g. removing the alarm will also _solve_ the problem, but is not the correct way too).

Then the `$this != 0` condition shouldn't trigger the alarm.

Can you send me a [snapshot](https://learn.netdata.cloud/docs/dashboard/import-export-print-snapshot#export-a-snapshot) f

[2022-08-22 12:53] ced1check commented on #13549
I can't find any export button in the graphs, but here is a screenshot showing 0 for the past 2 days:
![image](https://user-images.githubusercontent.com/104206200/185925750-0e472ce6-4966-4594-8364-7c16cd4ffcdc.png)

And if I revert the configuration change, the critical alert is back.

[2022-08-22 12:55] ilyam8 commented on #13549
Ok, I will set up a Galera cluster and see if I had the same problem.

[2022-08-22 13:57] shyamvalsan commented on #13542
Had a quick discussion with @thiagoftsm @vlvkobal @sashwathn

- add something to the summary to indicate active connections, for now this will just be a pie chart, maybe in future we can show a trend line to add more context.
- keep the db count in summary, as there's no other clean way of telling the user how many DBs are being monitored. Since we auto discover new DBs, there's no simple way to k

[2022-08-22 14:41] ilyam8 commented on #13549
We found the problem:

[galera_cluster_status](https://github.com/netdata/go.d.plugin/blob/faa01a27a40818eeef5b849ae599353ab000dc48/modules/mysql/charts.go#L751-L759) dimension is `cluster`. So this line
https://github.com/netdata/netdata/blob/c414aca77ab8f83fba9f8b22fa2c6448b5a5a5e4/health/health.d/mysql.conf#L161

should be changed to `calc: $status`, but it doesn't really a fix because `$status

[2022-08-22 14:51] shyamvalsan opened #13552 "[Feat]: Add interactive queries to PostgreSQL collector for DB exploration"
### Problem

There is no way to explore or troubleshoot the PostgreSQL database in more detail to understand which queries or tables or indexes are problematic.

### Description

The following interactive queries must be added to PostgreSQL Go collector, these should only be triggered on-demand.

Blocked by https://github.com/netdata/netdata/issues/13422

### Queries

- Top 10 queries by
  - total

[2022-08-22 14:53] ilyam8 commented on #13542
An organization when we have a lot of db scope charts or mixing db scope with global scope charts will be very hard to navigate on the local/single node dashboards.

Not a blocker, just saying.

[2022-08-22 14:55] shyamvalsan commented on #13552
cc: @ilyam8 @vlvkobal @thiagoftsm Creating this final ticket for what we need to get out of PostgreSQL - I know we don't have the capability to do this yet. But once https://github.com/netdata/netdata/issues/13422 is implemented, here's what we should use that infra to query and retrieve.

As to how this should be displayed, I think we need to have more discussions on this topic. Personally I don'

[2022-08-22 14:55] ilyam8 commented on #13552
@shyamvalsan I suggest adding the `blocked` label to all the feature requests that rely on non-implemented functionality and adding a reference to an issue for that functionality (if there is any).

[2022-08-22 15:35] shyamvalsan commented on #13542
@ilyam8 hopefully it will be alleviated when we get nested sections in TOC and the per db metrics move under the "performance" section each individual DB.

[2022-08-22 15:43] #13003 closed

[2022-08-22 17:30] thunko commented on #13003
@ilyam8 hi. I didn't test the latest table version.
how to reproduce it is was just a simple deploy and get the pods not ready. due to live probeness failure.
possibly what you mention. didn't try further.
Thanks.

[2022-08-22 23:56] accessiblepixel opened #13556 "Can't disable "Discover the free benefits of Netdata Cloud" even though I compiled without cloud support."
### Problem

Can't disable "Discover the free benefits of Netdata Cloud:" even though I have cloud enabled set to "no" and cloud base url set to something non public.

I have tried recompiling as there was a suggestion I found online that this would get rid of it, but it doesn't.

The version packaged for opnsense doesn't have this "Discover the benefits of netdata cloud". I tried out the cloud ve

[2022-08-23 06:48] mpohle-transporeon opened #13557 "[Bug]: dbengine data retention not working as expected"
### Bug description

Hi everbody,
since one of the latest updates of netdata old data is not deleted as configured.

We configured the following settings in the netdata config:

[code]

On disk with this configuration there are almost 2GB used.
[code]

### Expected behavior

dbengine should not use more than 100MB.

### Steps to reproduce

Will happen without doing anything after some days/weeks.

[2022-08-23 07:14] MrZammler commented on #13556
Hi @accessiblepixel !

We have this request from other users too, but currently there is no way as it seems to disable. Will update the ticket when we have more news.

cc @hugovalente-pm

Thanks for your input!

[2022-08-23 08:33] amalkov opened #13558 "[Bug]: Misleading notification about the cloud support"
### Bug description

On the Agent local dashboard, receiving the notification about the limited support after the 1st of March.

<img width="460" alt="image" src="https://user-images.githubusercontent.com/423236/186109702-8f2f4fd3-1534-420c-9466-85c9abfe97f4.png">

@MrZammler can it be related to the recent protocol cleanup?

### Expected behavior

Do not display notification

### Steps to reprodu

[2022-08-23 09:37] MrZammler commented on #13557
Hi!

Can you please send the output of `http://localhost:19999/netdata.conf` to `manolis@netdata.cloud` ? Also if possible the `error.log` ?

There is a new version (1.36.1) which you can check, there where some changes to the config entries during that time, not sure though if it's related.

Thanks!

[2022-08-23 10:15] #13549 closed

[2022-08-23 10:15] #13544 closed

[2022-08-23 12:28] odidev commented on #12895
Gentle Reminder...
Please let us know your opinion on above suggestion.

[2022-08-23 12:44] #12343 closed

[2022-08-23 13:03] Forza-tng opened #13560 "[Feat]: Better diskstats for multiple-volume Btrfs filesystems"
### Problem

## Background
Netdata can use `/dev/disk/by-label/<label>` to monitor disk performance instead of plain `/dev/sdX`.

Let's use the filesystem with label `btrfs-root` as an example.
### netdata.conf
[code]
This gives a nice graph with all the performance metrics, just as if it was a plain device. Great!
![image](https://user-images.githubusercontent.com/68693597/186160176-d26f38bf-0386

[2022-08-23 13:13] ilyam8 commented on #13427
@donaldsteele do you have more than one Percona instances on a host?

[2022-08-23 13:30] Forza-tng opened #13561 "[Feat]: Monitor Btrfs device stats (btrfs device stats)"
### Problem

Missing feature

### Description

Btrfs collects statistics on various types of errors it encounters. It would be great if  Netdata could monitor these and trigger alarms when they change.

`btrfs device stats` can be used on a mount point or on an individual device:

[code]
Normally they should all be 0. If there is an IO error that causes an error the counters increase. They do not

[2022-08-23 13:38] ilyam8 commented on #13561
Closed by accident.

Hi, @Forza-tng. Netdata gathers BTRFS metrics by reading files under `/sys/fs/btrfs/*`. Netdata doesn't use `btrfs` or any other executable. If the desired metrics can be found in the directory then we can add them. Can you check that? Using an executable is likely no-go (at least for the current btrfs collector implementation).

[2022-08-23 13:40] ilyam8 commented on #13427
I plan to set up 3 nodes Galera cluster and see if I can reproduce the problem.

[2022-08-23 14:29] donaldsteele commented on #13427
@ilyam8 only 1 install / instance per server in my configuration.

[2022-08-23 14:56] ilyam8 commented on #13427
I think all the timing _issues_ come from my not understanding the lookup absolute option 🤷‍♂️

https://github.com/netdata/netdata/blob/575986a692003638f09c975da847062637b915f4/health/health.d/mysql.conf#L112-L117

We can change the line to `max -2m at -1m unaligned`

- current < max: stays 3 minutes + up to 10 seconds.
- current > max: stays 1 minute + up to 10 seconds.

[2022-08-23 15:31] alfrenovsky opened #13564 "[Bug]: Alert links to app.netdata.cloud even for standalone servers"
### Bug description

Alerts links (at least the ones sent by telegram) are in the form:

https://app.netdata.cloud/alarms/redirect?agentId= ............. &host= .... &chart=disk_backlog.vdb&family=vdb&alarm=10min_disk_backlog&alarm_unique_id=1598220472&alarm_id=1660736851&alarm_event_id=3&alarm_when=1661266973&alarm_status=WARNING&alarm_chart=disk_backlog.vdb&alarm_value=10977%20ms

even when my s

[2022-08-23 15:32] ilyam8 commented on #13427
I adjusted the alarm to make time in warn/crit state more predictable in #13563. The important part: an alarm state != sending notifications.

The alarm has the following line:

https://github.com/netdata/netdata/blob/575986a692003638f09c975da847062637b915f4/health/health.d/mysql.conf#L133

See [alarm-line-delay](https://learn.netdata.cloud/docs/agent/health/reference#alarm-line-delay) for details

[2022-08-23 15:32] #13427 closed

[2022-08-23 15:34] ilyam8 commented on #13427
Despite the issue being closed, I am happy to continue discussion/trying to reproduce the issue (can follow a step-by-step guide - fortunately, it is easy to set up Galera cluster using Docker).

[2022-08-23 16:03] ilyam8 commented on #13510
30 queries. We need to measure how much doing so many queries a second affects Postgres. In addition, all of them should be tested with Postgres starting from version 10 (100% some of the queries are version specific).

[2022-08-23 19:22] thiagoftsm commented on #13510
I agree with every word written here. We cannot run this every second, else we could become the client consuming more resources from server (Of course this would happen on small servers), probably this needs to be at least every 10 seconds.

[2022-08-24 06:56] shyamvalsan commented on #13510
@ilyam8 @thiagoftsm Agree.

- We do not really need every metric listed here at 1 second granularity, that will be overkill. For some of these metrics a 30s or even longer granularity is perfectly acceptable. Will review the list from that perspective.

- While some of the queries (and metrics) are version specific, if my memory serves, most (all?) should work with version 10+ (but definitely shou

[2022-08-24 08:40] MrZammler commented on #13564
Hi @alfrenovsky

It is part of the process that eventually re-directs to the local dashboard. Does it not work for you ?

[2022-08-24 09:13] MrZammler commented on #13557
I can't see something really wrong in the logs (thanks for sending!), but I will continue to look. It seems to be deleting journal and datafiles as it creates new ones. I will try to replicate with 1.35.1

It appears that at some point you deleted the contents of the `dbengine` directory and restarted? Is it possible to update to 1.36.1 and continue to monitor it?

[2022-08-24 09:50] tms0 commented on #13222
Hi @Ferroin,

It seems fixed on v1.36.1.
The displayed version is correct and the kickstarter script is working as expected.

Thank you :-)

[2022-08-24 10:02] MrZammler commented on #13222
Hey @tms0 thank you very much for the follow up!

[2022-08-24 10:02] #13222 closed

[2022-08-24 10:06] grinapo opened #13565 "[Bug]: stream compression incompatibility may fill the logs"
### Bug description

When a stream source is upgraded beyond 1.33 it seems to have `[stream] enable compression = yes`.
If the receiver is below v1.33 (or it doesn't support compression) then it seems that the sender connects to the receiver, the connection breaks due to mismatching compression, then the sender tries to reconnect in a few milliseconds, loop forever. This may have small visibility

[2022-08-24 10:12] grinapo commented on #13565
Hmm, after heavy filtering it turns out that maybe not even that is the problem:
`established communication with a parent using protocol version 4 - ready to send metrics...`
I close this now, since the disconnects caused by sometihng else between 1.36 and 1.29.3. :-(

[2022-08-24 10:12] #13565 closed

[2022-08-24 10:40] thiagoftsm commented on #13510
@shyamvalsan only to confirm, when you say `latest` postgresql, are you talking about `latest`stable or the `beta`? The mentioned versions are [here](https://www.postgresql.org/about/news/postgresql-145-138-1212-1117-1022-and-15-beta-3-released-2496/).

[2022-08-24 11:23] ilyam8 commented on #13510
Great, but it is not supported by go.d.plugin. Current implementation - all the data collection job charts have the same update every.

[2022-08-24 11:33] shyamvalsan commented on #13510
Ah, I remember hearing about this limitation. But what is the reason behind it? Just the way things have always been or any technical blockers?

[2022-08-24 12:44] sashwathn commented on #13510
@shyamvalsan : I had identified a couple of alerts and I am not sure if we have the necessary metrics for these:

- [ ] Too many sequential scans on the database (Suggestion to create indexes on frequently accessed tables)
- [ ] Resource intensive queries > 10% (Amount of data written temporarily to disk to execute queries. Suggestion to check the work_mem)

Do we have a way of identifying the seq

[2022-08-24 13:18] shyamvalsan commented on #13510
@sashwathn @thiagoftsm I thought we already had sequential vs index scan ratio :) good catch that we missed it.

It's available in `pg_stat_user_tables `at a per table level

[code]

[2022-08-24 13:20] shyamvalsan commented on #13510
@sashwathn as for resource intensive queries, would [this](https://dev.to/bolajiwahab/postgresql-temp-files-usage-1gb9) be what you are looking for?

[2022-08-24 14:16] anayrat commented on #13512
Thanks for raising this issue. From a user point of view, maybe we should have one metric has explained by @sashwathn https://github.com/netdata/netdata/issues/13512#issuecomment-1213085132

The best case is when we read has many rows that are needed i.e fetched = returned => 100%
The worst case is when we read too many rows and fetch none 0%

So, the formula `{$fetched} * 100 / {$returned}` make

[2022-08-24 14:19] sashwathn commented on #13512
Thanks @anayrat for your valuable inputs.
@ilyam8 / @vlvkobal : Can we modify our ratios accordingly?

cc: @shyamvalsan @amalkov @ralphm @thiagoftsm

[2022-08-24 14:26] anayrat commented on #13510
You shouldn't put bloat queries in this. They are pretty expensive and could overload big databases.

[2022-08-24 14:42] rondior commented on #13516
It seems like whatever was done during this fixed the issue.  The node is now online.  Thanks to everyone for all the help with this. Hopefully something was learned... Closing now.

[2022-08-24 14:42] #13516 closed

[2022-08-24 14:53] sashwathn commented on #13510
@shyamvalsan Yes this is what I was looking for and it will be a good add on to our list of metrics where we can point to specific queries that cannot work with the current work_mem.

[2022-08-24 14:55] shyamvalsan commented on #13510
@anayrat do you mean we shouldn't query for bloat very often or not at all? we were thinking of allowing users to do a live query for top tables by bloat if they wanted to see it.

[2022-08-24 15:04] anayrat commented on #13510
Not often should be fine.

[2022-08-24 18:30] shyamvalsan commented on #13510
Should we create a feature request to support multi granularity metrics per collector?

@ilyam8 ?

[2022-08-25 09:48] MrZammler commented on #13557
I don't think 1.36.1 should have any fix in this regard...

Can you please check from `http://localhost:19999/api/v1/charts` the values of `charts_count` and `dimensions_count` ? Also, your error.log does not indicate as such, but just to make sure, is this agent configured as a parent, i.e. other agents streaming to it?

Thanks!

[2022-08-25 11:46] MrZammler commented on #13433
Hi @Superpaul209, has the problem appeared since then?

[2022-08-25 11:48] MrZammler commented on #13465
Hi @Garahk . Have you maybe checked the error.log ? Or have you gone with the route of using the parent for the alerts?

[2022-08-25 13:52] Sloth-on-meth commented on #2938
This shit is basically malware. i cannot get it off my goddamn system. the uninstall script is nowhere to be found
!!!!!!1

[2022-08-25 13:52] Superpaul209 commented on #13433
Hello @MrZammler, I received today at 1:13 PM email that tells me 5 nodes are unreachable again. I have looked kernel log and netdata logs but there aren't any errors like last time. No system reboot or service restart at this time. It seems the stop timeout issue is fixed because I haven't had any emails since sometime.

[2022-08-25 13:54] Sloth-on-meth opened #13569 "[Bug]: impossible to uninstall"
### Bug description

i dont remember when i installed this, but i need it off my machine NOW.  the uninstall script is nowhere to be found.

### Expected behavior

uninstaller.sh

### Steps to reproduce

1.
2.
3.
...

### Installation method

other

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-08-25 14:07] ilyam8 commented on #13569
Hello.

- If you install Netdata using the package manager - use it to uninstall (`sudo apt-get purge netdata`).
- If you compiled it from the source - use the uninstaller script which is located at
  -  `usr/libexec/netdata/netdata-uninstaller.sh --yes` or (depends on your install prefix)
  - `sudo /opt/netdata/usr/libexec/netdata/netdata-uninstaller.sh. - yes`

If you are still not able to find

[2022-08-25 14:08] Sloth-on-meth commented on #13569
the whole uninstaller.sh is nowhere to be found, but i deleted everything netdata related from cron, services etc. so lets hope it stays gone.

[2022-08-25 18:39] phiberoptick opened #13572 "[Bug]: Netdata service/daemon dies after startup with segfault in libuuid.so.1.3.0"
### Bug description

Have been running netdata for awhile on this box but now when attempting to start the netdata service it quickly dies and shows segfaults in the logs:

[code]

The error log shows it always seems to die right after:
[code]

### Expected behavior

Proper startup and running of the netdata daemon.

### Steps to reproduce

1. Attempt to start Netdata service (systemctl start netd

[2022-08-26 13:19] dominiwe commented on #3495
I have the same issue. I turned on the registry and the link is still pointing to the netdata cloud.
However, I don't even want to turn on the registry... is there really no way to customize the alarm notifications to just remove that link?

[2022-08-27 15:02] mailinglists35 opened #13576 "[Bug]: nvidia-smi is spawned with 1 second polling even if netdata.conf has a global different value of update_every"
### Bug description

in netdata.conf:

[global]
        update every = 5

in pgrep -a nvidia-smi:

25151 /usr/bin/nvidia-smi -x -q -l 1

### Expected behavior

25151 /usr/bin/nvidia-smi -x -q -l 5

### Steps to reproduce

1. enable nvidia-smi as per doc https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/nvidia_smi/, only uncomment but not edit the nvidia_smi.conf file
2.
3.
...

###

[2022-08-27 15:16] mailinglists35 opened #13577 "[Feat]: nvidia-smi should log also the pstate"
### Problem

nvidia-smi can show the power state of the device (P0,P5,P8 etc - https://docs.nvidia.com/gameworks/content/gameworkslibrary/coresdk/nvapi/group__gpupstate.html)

however the plugin does not seem to collect this metric, neither the doc mentions it (https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/nvidia_smi/)

it would be nice to also see this added to monitor.

nvidi

[2022-08-27 15:52] ilyam8 commented on #13576
Hi, @mailinglists35. Polling interval controlled by

https://github.com/netdata/netdata/blob/84b07e6e286ffa6db4f9f9d082e886e609bb6104/collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf#L65

[2022-08-27 15:54] mailinglists35 commented on #13576
I understand that, but shouldn't all plugins respect the global "update every"?

[2022-08-27 15:57] ilyam8 commented on #13576
They respect. Polling is not "update every".

I think the change should be pretty simple, can you change this line

https://github.com/netdata/netdata/blob/96e64963ef866cc7c008310ee822228d4e1e6777/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L453

to

[code]

and see if it works.

[2022-08-27 16:05] ilyam8 commented on #13577
Hi, @mailinglists35. Unfortunately, I have no access to a server with Nvidia GPU.

I plan to do that when I have access to a server with Nvidia GPU (and rewrite python=>go). Unfortunately, I have no at the moment.

[2022-08-27 16:47] mailinglists35 commented on #13576
yes it works, thank you!

[2022-08-27 16:54] mailinglists35 commented on #13577
I see.
until then, would this xml output from current setup help you adjust the plugin to also log the power state?

it seem to be exposed in two places, but nonetheless they both reflect the current power state, tested with load and on idle, load P0, idle P8. grep for capital letter P to locate it in the output

[usr-bin-nvidia-smi-x-q.txt](https://github.com/netdata/netdata/files/9438335/usr-bin

[2022-08-27 19:23] ilyam8 commented on #13577
@mailinglists35 can you test #13580?

[2022-08-27 19:25] mailinglists35 commented on #13577
sure, in about 20 minutes

[2022-08-27 19:34] ilyam8 commented on #13577
I made it a dimension per Power State, not just a dimension with 0-15 values because averaging (and aggregated view on the Netdata Cloud) would be misleading.

[2022-08-27 20:05] mailinglists35 commented on #13577
works, thank you!

[2022-08-27 20:14] mailinglists35 commented on #13577
![image](https://user-images.githubusercontent.com/2054302/187046579-2fc92317-3320-4839-8f57-a909af50c1dc.png)

[2022-08-27 20:15] mailinglists35 commented on #13577
![image](https://user-images.githubusercontent.com/2054302/187046585-6f5cc0df-5d2f-49c1-89ce-929c3bfb58fe.png)

[2022-08-27 20:16] ilyam8 commented on #13577
Thanks for testing, @mailinglists35 👍

[2022-08-27 20:57] #13576 closed

[2022-08-27 21:00] #13577 closed

[2022-08-29 07:06] shyamvalsan opened #13581 "[Feat]: Multi granularity support for metric data collection on Netdata agent"
### Problem

There are many metrics which are important for the user and Netdata should be collecting but where a granularity of 1s does not make sense. Certain metrics make sense at a 30s/60s/300s granularity for example. Other metrics do indeed provide more value at a 1s granularity.

Currently there is a limitation that all metrics need to be collected at the same granularity which causes a pro

[2022-08-29 07:07] shyamvalsan commented on #13581
cc: @ilyam8 @ktsaou @ralphm @cakrit @amalkov @sashwathn

[2022-08-29 07:07] marliyev opened #13582 "[Bug]: war room deleted, notification diabled but still receiving alerts"
### Bug description

Hey guys,

I have disabled mail alerts for some war rooms, but still receiving mail alerts, i went to delete those war rooms in hope to stop receiving mail alerts but still receiving all alerts related to deleted war rooms. it has been already few weeks.

Thanks

### Expected behavior

Expected behavior

### Steps to reproduce

1.
2.
3.
...

### Installation method

kickstart.

[2022-08-29 08:09] fliespl opened #13583 "[Bug]: Netdata missing / (root) disk space usage"
### Bug description

Netdata returns only information about disk usage from some of the disks.

Even though root is visible: https://ss.codeone.pl/ss-2022-08-29-10-04-14-1661760254-F769uAaE.png

It doesn't return disk usage either from webui or api.

As can be seen here:
/var/tmp
/var/spool
/var/log
/var/lib/netdata
etc

show disk usage, while root (/) is missing.

[code]

[code]

[code]

[code]

[2022-08-29 08:25] mpohle-transporeon commented on #13557
"charts_count": 562,
"dimensions_count": 2955,

No the agent is standalone and not configured to send data to somewhere else.

[2022-08-29 08:28] shyamvalsan commented on #13506
Discussion happened w/ @ktsaou @ralphm @amalkov @sashwathn @hugovalente-pm @shyamvalsan and some of the points discussed:

- There needs to be a general rule on how to handle metrics where aggregation could lead to misleading values
- In the case of buffer cache, we could use (100 - miss%) to get the hit% but this will be a one-off custom logic and @ralphm suggested to wait until we agree on a gen

[2022-08-29 08:29] shyamvalsan commented on #13506
@ktsaou @ralphm @ilyam8 and others please add your thoughts so we can take this discussion forward asynchronously.

[2022-08-29 08:37] fliespl commented on #13583
Didn't realize I had outdated version. Sorry about it.

[2022-08-29 08:37] #13583 closed

[2022-08-29 10:27] andrewm4894 opened #13584 "[Feat]: Anomaly Detection extend training window"
### Problem

Following on from discussion here: https://github.com/netdata/netdata/discussions/12763

We need to, effectivley, extend the training window for the ML based anomaly detection.

There are many ways to do this and what we have decided to do is save trained models to essentially achieve an extended training window.

### Description

We have a branch here that implements our ideas

https

[2022-08-29 10:31] andrewm4894 opened #13585 "[Feat]: save ML models to database"
### Problem

Currently on agent restart all models are lost and user must wait until training is complete again.

### Description

We need to save the trained ml models to the database so that they can quickly be loaded on agent restart and scoring can begin asap.

### Importance

must have

### Value proposition

1. more robust and stable anomaly detection capabilities.
...

### Proposed implemen

[2022-08-29 10:34] andrewm4894 opened #13586 "[Feat]: Anomaly detection - simplifly agent anomaly detector logic"
### Problem

Existing logic is too complex and hard to maintain.

### Description

We need to simplifly the logic behind the `anomaly_detection.anomaly_detector` chart.

### Importance

must have

### Value proposition

1. clearer logic for users to understand and reason about.
2. easier code to maintain with reduces overhead on agent.
...

### Proposed implementation

As discussed with @vkalintir

[2022-08-29 11:03] vkalintiris commented on #13506
Driver-by comment: It sounds to me that this problem is similar to the one we've already solved in alarms, ie. specifying the lookup expression that defines the value of an alarm. I'd guess that we could follow a similar approach to allow users to override the default aggregation method of a chart for multiple hosts.

[2022-08-29 13:59] sashwathn opened #13593 "[Feat] [Use-cases]: Consul Monitoring with Netdata"
### Problem

Netdata currently does not support monitoring Consul applications / metrics and we now need to support this use-case.

### Description

# KEY METRICS

# CONSUL

- [ ] Number of Consul Servers by DC
- [ ] Consul Nodes by Service Toplist
- [ ] Leader last contact with followers
- [ ] Number of Consul nodes by service
- [ ] Number of Consul nodes
- [ ] Leader time to append entries
- [ ]

[2022-08-29 14:24] fliespl opened #13588 "[Feat]: Support unmounted THIN LVMs"
### Problem

Currently if not mounted, they won't be shown in dashboard.

### Description

It's possible to collect those metrics using:

[code]

Df showing that local-lvm is not mounted and hence not available as metric.
[code]

### Importance

nice to have

### Value proposition

Not possible to monitor thin lvm partitions.

### Proposed implementation

_No response_

[2022-08-29 18:29] ktsaou opened #13590 "[Bug]: dbengine returns wrong timestamps"
### Bug description

On a few of my servers, upon netdata restart app.plugin charts look like this:

![image](https://user-images.githubusercontent.com/2662304/187271629-05a6030f-0109-4cc5-ba49-9a3691dff2c9.png)

The data on the far left of the chart are updated, but only a few points, not the whole chart.

The data returned by the API look like this:

[code]

I added a log in query.c to find out

[2022-08-29 18:29] ktsaou commented on #13590
@stelfrag this is important.

[2022-08-29 18:30] ktsaou commented on #13590
Also, after some time without restarting netdata, the problem disappears. But a restart of the agent triggers it again.

[2022-08-29 18:31] ktsaou commented on #13590
I have seen this in apps.plugin and go.d.plugin. The internal modules do not seem affected by it.

[2022-08-29 18:34] ktsaou commented on #13590
The logging I added is like this:

At `rrd2rrdr_do_dimension()` at the top, I added:

[code]

Then just below the line: `STORAGE_POINT sp = ops.next_metric(&ops.handle);`, I added:

[code]

The query I tried looks like this:

[code]

(I copied it from the web browser's network console).

[2022-08-29 18:39] ktsaou commented on #13590
The problem seems to disappear about 17 minutes after the agent restart.

Like this (at the beginning the timestamps are wrong, then about 17 minutes after the agent restart):

[code]

[2022-08-30 08:29] harpo commented on #13572
Same problem here with Debian-10+deb10u2

uname -a
4.19.0-21-amd64 #1 SMP Debian 4.19.249-2 (2022-06-30) x86_64 GNU/Linux

`# netdata -W buildinfo
Version: netdata v1.36.1
Configure options:  '--build=x86_64-linux-gnu' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--disable-silent-rules' '--libdir=${prefix}/lib/x86_64-linux-gnu' '--libexecdir=${p

[2022-08-30 09:22] MrZammler commented on #13590
Hi Costa. I tried reproducing (on a clean build) but can't. Tried with storage tiers 3. Do you have any special configuration details ?

[2022-08-30 09:32] stelfrag commented on #13590
I will take a look

[2022-08-30 10:21] MrZammler commented on #13572
@harpo Is it also possible to have the error.log that contains this crash please? Could you send it to `manolis@netdata.cloud` ?

[2022-08-30 10:41] harpo commented on #13572
You mean https://app.netdata.cloud/? Yes they are,

[2022-08-30 12:08] ktsaou commented on #13590
Nothing special about them. They are both parents, but this only happens on their own charts. Not the children's ones.

[2022-08-31 08:11] ilyam8 commented on #13506
My thought is that "incorrect values" is questionable. Using this logic you can say the same for **every metric**. I think that averaging is perfectly fine (also, at what point does the DB become _active_?).

[2022-08-31 08:12] ilyam8 commented on #13506
@shyamvalsan I don't understand why this is a bug in collectors and how I am supposed to fix it.

[2022-08-31 08:15] athimannil commented on #3698
It happened two times, as solution deleted the bot and made new one which is crazy

[2022-08-31 08:24] shyamvalsan commented on #13506
@ilyam8 there were discussions on changing the value collected to a NULL or something indicating Invalid/Not applicable - this is why it is in the agent/collectors area now. There could of course be other ways to fix this problem.

The point regarding incorrect values is this.

Currently if we look at our cache hit rate summary (here's a snapshot from Grafana using Netdata) it says 71% - in terms

[2022-08-31 08:27] solution-al opened #13596 "[Bug]: httpcheck bad_status alert is not raised"
### Bug description

Using `go.d/httpcheck.conf` does not raise any alarms on unsuccessful checks.

We have set up netdata on another server some time ago using version `v1.33.1-28-nightly` to check some HTTP endpoints and we confirmed just now that if check is unsuccessful an alarm will be raised. However, using similar conf on another machine with netdata version `v1.36.1` does not raise any ala

[2022-08-31 08:34] ilyam8 commented on #13506
@shyamvalsan even if we consider this as a problem (which I don't see as a problem), that is applicable to a lot of metrics, not Postgres DB cache hit ratio specific.

Ok, but the fact the discussion happened doesn't mean I have to do something, right? I don't understand what "changing the value collected to a NULL" means - it is not currently supported by Netdata. If the idea was to skip collecti

[2022-08-31 08:59] shyamvalsan commented on #13506
@ilyam8

- Yes, this problem is not specific to Postgres DB cache hit ratio, it affects a lot of other metrics as well. And we should fix those too. The reason this metric was highlighted is because we cannot "launch" the PostgreSQL use-case with this value in its current state.

- Understand your concern, unassigning for the time being since we do not have an agreed way forward here.

But @ktsaou

[2022-08-31 09:03] MrZammler commented on #13596
Hi @solution-al thank you for your report. We will try to reproduce it and update the ticket. Thanks.

[2022-08-31 09:33] MrZammler commented on #13596
Hi @solution-al . Indeed there is a problem with the alert and the dimensions of the chart.

The alert defines a lookup on dimension `bad_status` however the dimension on the chart is `bad status`, i.e. -> https://github.com/netdata/netdata/blob/a150694aa43b2a410a2c3f7d9f493eeb408ebf41/health/health.d/httpcheck.conf#L38

We will change the chart's dimension to be `bad_status` most likely (and of t

[2022-08-31 11:14] #13596 closed

[2022-08-31 13:11] MrZammler commented on #13572
Thank you @harp for your help.

Most likely this is caused by an entry in the sqlite db, in the charts table, that is missing a chart_id. We will add a check there to make sure the agent doesn't crash when reading that. Not sure though how it got there.

@phiberoptick what worked for @harpo (still checking though) is to manually delete this line from the db (or wait for a nightly with a fix). In `

[2022-08-31 17:22] mcinquin opened #13604 "[Bug]: config validation: 'charts' are required but not set"
### Bug description

Hi,

I just moved to go.d snmp plugin and I have an issue with the configuration.

When I use the troubleshoot command, I have the following message:
[code]

### Expected behavior

go.d snmp work the same way as node.d snmp

### Steps to reproduce

Here is my configuration file
[code]

### Installation method

kickstart-static64.sh

### System info

[code]

### Netdata build i

[2022-08-31 17:29] ilyam8 commented on #13604
Hi, @mcinquin.

See

[code]

There is no `snmp.conf` in `/etc/netdata/go.d/` and `/usr/lib/netdata/conf.d/go.d`. What is absolute path to your config file?

[2022-08-31 17:35] mcinquin commented on #13604
[code]

[2022-08-31 17:41] ilyam8 commented on #13604
Can you `cd /opt/netdata/usr/libexec/netdata/plugins.d/` first and then run the plugin in the debug mode.

[2022-08-31 18:47] ktsaou opened #13605 "[Bug]: when ML is enabled, all RRD structures are locked while detectOnce() is running"
### Bug description

In ML, there is Mutex to protext a Map of dimensions to be detected:

https://github.com/netdata/netdata/blob/340d0e504c7ffd6637b420553d4e17ee510c37a8/ml/Host.cc#L423

This is the same Mutex used when adding a new dimension into the RRD structures:

https://github.com/netdata/netdata/blob/340d0e504c7ffd6637b420553d4e17ee510c37a8/ml/Host.cc#L269

So, while `detectOnce()` is wor

[2022-08-31 20:20] mcinquin commented on #13604
[code]

[2022-08-31 20:23] mcinquin commented on #13604
I found the issue!

[code]

Thanks for the help @ilyam8

[2022-08-31 20:23] #13604 closed

[2022-09-01 05:42] phiberoptick commented on #13572
@MrZammler, that did it!  Everything appears to be operating normally again.  Thanks!

[2022-09-01 05:42] #13572 closed

[2022-09-01 07:56] solution-al commented on #13596
@MrZammler thank you for your reply.

Looking at the [commit](https://github.com/netdata/go.d.plugin/pull/788) made by @ilyam8 it seems that the solution is not the one you said to be most likely. What should we done with our current stable installation so that it would start work and would not break after updating netdata in the future?

[2022-09-01 09:38] sashwathn commented on #13593
@ilyam8 @vlvkobal @thiagoftsm : Can you please take a look at this and see if any information is missing?

The consul metrics are available through APIs mentioned here and should be relatively easy to implement a collector for these -
- https://www.consul.io/api-docs/agent.
- https://www.consul.io/docs/agent/telemetry
- https://www.consul.io/docs/k8s/connect/observability/metrics

And this link pr

[2022-09-01 10:34] Dim-P opened #13610 "[Feat]: User-friendly tool to collect and submit debugging reports"
### Problem

Currently, there isn't a standardised way for users to collect and submit data and other critical information for debugging (e.g. buildInfo, error.log at minimum). This:

1. creates problems due to the bug templates varying depending on the platform the user is using to report a bug or an issue and
2. wastes time, as it often takes a couple of back and forth posts to request the neces

[2022-09-01 10:47] shyamvalsan commented on #13610
A thing to keep in mind is that this tool should run near instantly (as far as feasible) - because the user is running it because they ran into a problem, and then making them wait even longer is not very user friendly.

Maybe have a hard threshold, after which if the tool is still running then we cut our losses and end data collection with what we have so far.

[2022-09-01 11:07] Dim-P commented on #13610
I would think in the first place it would just collect data based on previous executions, not live data collection from a new session.

[2022-09-01 15:14] ilyam8 commented on #13510
[pg_stat_user_tables](https://www.postgresql.org/docs/current/monitoring-stats.html#MONITORING-PG-STAT-ALL-TABLES-VIEW) contains data for the current database (the one we connected to). So, two questions:

 - Do we need per table charts (metrics from `pg_stat_user_tables`, labels "database", "table", "schema") ?
 - Do we need to collect table metrics from all databases? It means we need num of con

[2022-09-01 16:28] Dim-P commented on #13610
@shyamvalsan Is it OK to collect data from http://localhost:19999/api/v1/info into the tarball? I know we collect that through anonymous statistics by default, however in this case it won't be anonymised as we will know the user who submitted the data.

[2022-09-01 19:17] shyamvalsan commented on #13610
IMO since this is a user triggered action it should be OK to collect this @Dim-P and maybe hav a page in learn that lists everything this tool collects for full transparency.

[2022-09-02 07:37] MrZammler commented on #13557
Just an update on this, from the following chart:

![image](https://user-images.githubusercontent.com/1905463/188084061-fe42b09e-6755-495f-b487-24ad8803a750.png)

It seems used_by_collectors is constantly growing, which is used when testing dbengine quota.

It could be a runaway collector, or something in the system that is constantly creating new dimensions (without actually collecting them thoug

[2022-09-02 10:16] jacekkolasa commented on #13094
@olivluca Sorry it took so long, fix landed on nightlies (should be available now). Please reopen if you'll have any issues

[2022-09-02 13:10] olivluca commented on #13094
No problem, is not a showstopper

[2022-09-02 13:41] shyamvalsan opened #13616 "[Bug]: Installing via kickstart on Ubuntu requires a manual restart to start agent"
### Bug description

In both of the below cases I have to manually restart agent for it to connect to cloud, post a successful claim

1. Installed Ubuntu (22.04.1 LTS) on docker running on a Windows host. Installed Netdata via kickstart, successfully claimed but agent not reachable. Had to manually do "service netdata restart" for cloud connection.

3. Installing Netdata on a Google Colab Notebook

[2022-09-02 14:44] hugovalente-pm opened #13625 "[Bug]: Test bug"
### Bug description

test

### Expected behavior

test

### Steps to reproduce

test

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Version [e.g. 22]

### Additional context

_No response_

[2022-09-02 15:15] nil0x42 opened #13617 "[Bug]: File `health.d/postgres.conf` is not found in `/usr/lib/netdata/conf.d`"
### Bug description

After having a hard time trying to figure out how to set an alarm when postgres connections reaches 50% allowed connections, i ended up trying to use `health.d/postgres.conf`, which is slightly mentionned in https://learn.netdata.cloud/docs/configure/nodes#use-edit-config-to-edit-configuration-files

`# ./edit-config health.d/postgres.conf`
[code]

### Expected behavior

Accor

[2022-09-02 16:08] ilyam8 commented on #13617
Hi, @nil0x42. Added the alarm in #13620. You can use it as a template and modify warn/crit conditions.

[2022-09-02 17:04] cakrit commented on #13569
`kickstart.sh --uninstall` is the most typical way of uninstalling now, the documentation is obsolete and will need to be updated.

[2022-09-02 19:43] #13617 closed

[2022-09-02 23:08] ekexcello commented on #13427
Hello @ilyam8
Sorry for the long delay.
Unfortunately, attempt to adjust health check definitions in the way you wrote above are not enough.
Now we run go.d plugin 0.37.2 and netdata 1.36.1.
After netdata restart we have following values displayed on 'Raised Alarms' window:

mysql galera cluster state --
mysql galera cluster status --

Mean, values are "-" (that is NAN). However, on charts you the

[2022-09-03 11:00] ilyam8 commented on #13427
Encoding the state as an integer was wrong, I changed it to a dimension per state. The value is either 1 (in the state) or 0. See [new charts](https://github.com/netdata/go.d.plugin/blob/01922de1dd4429f5bc112c0444093f35a3811692/modules/mysql/charts.go#L751-L779). I did test the alarms (see [set up Galera using Docker](https://github.com/netdata/netdata/pull/13563)).

[2022-09-03 12:43] ktsaou opened #13622 "[Bug]: ML is doing invalid reads on netdata exit"
### Bug description

[code]

### Expected behavior

Exit politely.

### Steps to reproduce

1. Run netdata with valgrind
2. Press CTRL-C to stop it
3. Watch the errors

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-09-03 15:12] ceewanna commented on #10656
Today, I get on and on motion.service Restart=always RestartSec=3 with journalctl full of these code=killed, status=11/SEGV.

They seem to happen every few seconds after restart under environment where quite a number cameras experiences motion at the same time. When most of the traffic motions have gone, it works fine without getting killed. I am wondering if it has something to do with machine ca

[2022-09-04 23:50] ktsaou commented on #13605
We can replace the Map and the Mutex with a dictionary.

The dictionaries have a REENTRANT lock mode while traversing them. In this mode, the traversal gets and releases a read lock between each iteration. This allows safe dictionary traversal while others are reading or even manipulating it. Even the current item can be deleted by others in a safe way (it uses a reference counter and a garbage co

[2022-09-05 06:59] vkalintiris commented on #13605
The detection step runs once per second and even on an rpi takes at most a couple msecs, ie. whichever other thread wants to create thousands of dimensions has ample time to do so. I suspect something else is going on here and makes the detection step to consume full CPU. Is this consistently reproducible?

[2022-09-05 07:18] Fabi commented on #10070
when

[2022-09-05 07:51] vkalintiris commented on #13605
https://github.com/netdata/netdata/blob/544aef1fde6e79ac57d2dea85d3f063076d7f885/ml/Dimension.h#L120 is causing the issue. Following screenshot is from an agent without that update, running a plugin that creates 500 new charts with 10 dimensions every 60 seconds (compiled with -O0):

<img width="1388" alt="Screenshot 2022-09-05 at 10 46 33 AM" src="https://user-images.githubusercontent.com/2548081

[2022-09-05 08:13] hugovalente-pm commented on #13625
completing test so closing it

[2022-09-05 08:13] #13625 closed

[2022-09-05 08:14] vkalintiris commented on #13605
FWIW, the real culprit is: https://github.com/netdata/netdata/blob/544aef1fde6e79ac57d2dea85d3f063076d7f885/database/rrddim.c#L502. The performance degradation happens only when rrd context is enabled (again compiled with -O0):
<img width="1680" alt="Screenshot 2022-09-05 at 11 10 15 AM" src="https://user-images.githubusercontent.com/25480816/188401352-8528915e-68c2-4cd4-b554-2cb306523cd9.png">

[2022-09-05 10:22] ktsaou commented on #13605
This was revealed during a test of an agent with 30k charts, 10 dimensions each, all at the same context. We did changes in rrdcontexts to make them more performant in this case and the rrdcontext call from rrddim_set_by_pointer was later removed.

We will repeat the test to see if it still there.

[2022-09-05 10:30] vobruba-martin opened #13626 "[Bug]: High %sys usage of eBPF plugin when all programs are turned off"
### Bug description

I'm trying to figure out which eBPF program is causing me problem. First I turned off the whole eBPF plugin in `netdata.conf` => `ebpf = no`. Problem disappeared, so I turned all programs off and set `ebpf = yes`:

[code]

See the spike with running `ebpf = yes` without any of its program:

![image](https://user-images.githubusercontent.com/6897988/188428206-025860b9-da92-42ee

[2022-09-05 12:42] thiagoftsm commented on #13626
Hello @vobruba-martin ,

Since `1.36` was released, we started working to fix this issue. We already merged the PRs https://github.com/netdata/netdata/pull/13397 and https://github.com/netdata/netdata/pull/13530. Now I am finishing the PR https://github.com/netdata/netdata/pull/13624 that will fix this issue and others that we identified.

I know you are running `1.36.1`, but this patch release di

[2022-09-05 12:52] thiagoftsm commented on #13626
A last update from my end, I am now testing another PR that already has codes from the two merged PRs, and as you can see:

![Screenshot_20220905_124958](https://user-images.githubusercontent.com/49162938/188453658-9f4cab87-ba7a-474c-be6b-ea5718ba9248.png)

eBPF.plugin is using much less CPU with latest master, instead the stable branches.

[2022-09-05 13:20] thiagoftsm commented on #13626
Thank you for your update!

Yes, everything will be available when `Netdata 1.37` is released, but it is already present in nightly versions.

The `VFS` thread was already fixed with PR https://github.com/netdata/netdata/pull/13530.

You're welcome!

[2022-09-05 19:36] Forza-tng opened #13628 "[Bug]: ksm does not work with `dbengine page cache with malloc = yes`"
### Bug description

I had some issues with dbengine corruption and it was suggested on Discord to enable `dbengine page cache with malloc = yes`. While this seems to have fixed the dbengine corruptions, ksm is no longer active. The kernel cannot se any mergeable pages since Netdata was restarted with the new config.

### Expected behavior

ksm should still be active.

### Steps to reproduce

1. A

[2022-09-05 21:12] ktsaou commented on #13605
I removed RRDCONTEXT processing from data collection, with PR https://github.com/netdata/netdata/pull/13629

Still, when ML is enabled, there are several issues at the agent, slowing down data collection.

Even 1 second latency to add dimensions to netdata is serious when the agent is processing 500k dimensions or more.
Let's discuss this tomorrow.

[2022-09-06 09:34] ilyam8 commented on #13512
`{$fetched} * 100 / {$returned}` added in netdata/go.d.plugin#801. However, we have the same _problem_ as with all positive ratios (0 value ambiguity). Perhaps we need to convert it to fetched_miss_ratio?

[2022-09-06 10:16] ralphm commented on #13160
What about the following?

- Introduce a configuration option `ephemeral` in the `global` section.
  - It will have values `yes` and `no` (default).
  - Users will immediately have the ability to mark nodes ephemeral, according to their definition of ephemeral.
  - Possibly we can have `auto` in the future, and make that the default. It could look at things like the node belonging to a managed k8s

[2022-09-06 10:20] sashwathn commented on #13512
We will need to figure out a solution which is global.. Right now, if we consider zero fetched and zero returned for most cycles as 100%, the average will always be skewed higher than usual.

@shyamvalsan any suggestions?

[2022-09-06 10:21] andrewm4894 commented on #13160
would using a host label be too weak a signal? e.g a special host label like `netdata_node_type = ephemeral` and then Netdata can take action accordingly based on the value of `netdata_node_type` host label.

just wondering if we can use host labels since they might be easier then to build FE features off and maybe more easily extendable etc.

perhaps default value would be that all hosts have a l

[2022-09-06 10:22] ralphm commented on #13160
Host labels with an underscore are reserved, so we can use them ourselves, and it is already _special_. The others are user-defined and we shouldn't mix them.

[2022-09-06 10:29] ralphm commented on #13160
By the way, by doing it this way, you can also use ephemerality in alerts, exports, etc.

[2022-09-06 10:49] Dim-P commented on #13556
Somewhat relevant: [[Feat]: Disable cloud sign-in dialog](https://github.com/netdata/netdata/issues/12654)

[2022-09-06 10:50] Dim-P commented on #13610
Relevant: https://github.com/netdata/netdata/issues/6123

[2022-09-06 10:55] ilyam8 commented on #13510
I added metrics that were kind of easy to understand for me. The rest metrics are questionable and I will postpone adding them until additional explanation/confirmation.

Not clear what we need here. `pg_stat_activity` contains both ended and running queries. I guess running?

I don't understand where 24 come from, why not 12, and if that is even possible (24hr + transactions). Can we see a reason

[2022-09-06 11:00] ilyam8 commented on #13512
Also, probably we need to add overall ratio metrics (the ones we add are per data collection ratios, not overall).

[2022-09-06 11:28] shyamvalsan commented on #13510
@ilyam8 OK, will try to go metric by metric for the pending ones. (@sashwathn please add your thoughts as well)

### Number of slow queries

The intent is to discover the prevalence of slow queries and to potentially alert users if there are a lot of slow queries so they can investigate further and take action.

As @thiagoftsm suggested above, a histogram view is the best option - we do NOT need s

[2022-09-06 11:41] shyamvalsan commented on #13512
While aggregating `db_rows_read_ratio `across multiple databases, I think we should first `SUM()` on the `rows_returned `and the `rows_fetched` and then take the ratio. In this way the ratio returned will be a true aggregate and we won't have a problem with handling the zero ambiguity either.

DB1: 100 rows fetched, 200 rows returned
DB2: 1 rows fetched, 10 rows returned
DB3: 0 rows fetched, 0 row

[2022-09-06 11:42] #13512 closed

[2022-09-06 11:54] ilyam8 commented on #13510
As I mentioned, there are running and ended queries. This query could have already ended. But the `query_start` is still there. I don't know how to not count the same "slow" query several times.

Ok, not needed then according to your explanation. I am not sure metrics with placeholders fall into the important category.

According to the description that is something that shouldn't be collected eve

[2022-09-06 12:03] shyamvalsan commented on #13510
@ilyam8 fair point - will keep in mind when creating tickets next time. For now maybe we can break out certain metrics to a separate ticket?

We shouldn't filter them out - we should show all of them, including ended queries, as long as there is no double counting.

As for the metrics we can't (or shouldn't) collect every 1 second let's create another ticket and move them there. We need to support

[2022-09-06 12:12] ilyam8 commented on #13510
I don't know how to do that. For idle/idle-in-transaction – this is the last query that started at query_start and finished at state_change. Next time the query will return it again. So `now() - query_start` doesn't work for those states, only for `active`.

[2022-09-06 12:16] ilyam8 commented on #13510
Want to highlight again in case I made no it clear - this query returns the overall cache hit rate. I believe you didn't mean it, but the data collection (per second or whatever update every is) hit rate.

[2022-09-06 13:56] shyamvalsan commented on #13510
@ilyam8 Now I am confused. These two are different. I assume the first one is what we are collecting today, I was asking for 2nd one to be added too.

**Postgres cache hit ratio**
SELECT
  sum(heap_blks_read) as heap_read,
  sum(heap_blks_hit)  as heap_hit,
  sum(heap_blks_hit) / (sum(heap_blks_hit) + sum(heap_blks_read)) as ratio
FROM
  pg_statio_user_tables;

**Postgres index cache hit ratio**
S

[2022-09-06 13:59] ilyam8 commented on #13510
What is 1st, and what is 2nd? All ratios we collect are not overall ratios but per update_every.

[2022-09-06 14:02] shyamvalsan commented on #13510
`SELECT COUNT(*) query FROM pg_stat_activity WHERE now() - query_start > '0.1 seconds'::interval;`

A query like this returns the current number of queries that matched the condition at any given instant - so why does query_start or state_change matter? Maybe I am not getting your concern with this one.

[2022-09-06 14:02] shyamvalsan commented on #13510
1st = data you get from `pg_statio_user_tables `(db buffer cache hit)
2nd = data you get from `pg_statio_user_indexes` (index cache hit)

[2022-09-06 14:04] ilyam8 commented on #13510
The query doesn't work because of the reasons I mentioned above. We need an additional condition - the state should be `active`. Or should be a different metric.

[2022-09-06 16:02] cakrit commented on #13506
To begin with, we need a rule for the BE to implement for specific contexts, based on the value of a reserved label. So, no involvement from the collector side. Eventually that label will become a metric type.

[2022-09-06 17:08] cakrit commented on #13506
@papazach can you come up with a reasonable proposal to do this in the service that collects and aggregates the responses? Not sure who will implement it when, but I think you'll have the best idea on how to progress here.

[2022-09-07 01:48] thiagoftsm opened #13636 "Warnings on X86_64"
### Bug description

When compiled on `Ubuntu 18.04` netdata reports the following warning:

[code]

### Expected behavior

Compile without warnings

### Steps to reproduce

1. Compile netdata with following flags:
[code]

### Installation method

from source

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-09-07 02:22] thiagoftsm opened #13637 "Warnings on Armvl7"
### Bug description

When Compiled on Raspbery Pi, `netdata` has around 40 [warnings](https://github.com/netdata/netdata/files/9502193/arm_warning.txt) in different areas of our code and also in protobuf code.

<details>
<summary>Warnings</summary>

[code]

</details>

### Expected behavior

Compile netdata without warnings on `Raspberry PI`.

### Steps to reproduce

1.Compile netdata with flags:

[2022-09-07 02:23] thiagoftsm commented on #13636
@vlvkobal  I isolated this issue from the others listed [here](https://github.com/netdata/netdata/issues/13637), because this is the unique that happens on `x86_64`.

[2022-09-07 08:08] ilyam8 commented on #13636
This issue is a duplicate of #6218 which is a duplicate of #2504. It is [been found](https://github.com/netdata/netdata/issues/6218#issuecomment-499061184) that the issue is the bug in autoconf of Ubuntu 18.04.

[2022-09-07 08:08] #13636 closed

[2022-09-07 10:09] ilyam8 commented on #13510
For active queries running time I use the [following query](https://github.com/netdata/go.d.plugin/blob/93bf1c340ac75abf897bd149c807a34544ce9efa/modules/postgres/queries.go#L245-L253):

[code]

The [default buckets](https://github.com/netdata/go.d.plugin/blob/93bf1c340ac75abf897bd149c807a34544ce9efa/modules/postgres/postgres.go#L27) are:

[code]

The buckets are user configurable.

[2022-09-07 10:22] shyamvalsan commented on #13510
@ilyam8 should the default aggregation be something other than avg for the active queries running time? 3.38 queries/second sounds a little odd.

![image](https://user-images.githubusercontent.com/24860547/188854904-8cfac36d-927d-49d8-80f2-1ffbf9689e61.png)

Maybe SUM?

![image](https://user-images.githubusercontent.com/24860547/188855149-77972461-3434-41f9-85b7-37aef8a07e79.png)

[2022-09-07 10:28] ilyam8 commented on #13510
It doesn't do any aggregation, it is Netdata interpolation for incremental metrics.

[2022-09-07 10:29] shyamvalsan commented on #13510
Yes, I meant the chart option for interpolation, is this something that needs to be set on FE or collector for a particular chart?

[2022-09-07 10:34] ilyam8 commented on #13510
@shyamvalsan it is how Netdata works. It calculates per second (0, 1, 2, 3, ...) **rate** for incremental metrics (all charts with `*/s` prefix).

[2022-09-07 12:38] Ferroin commented on #13628
This is expected behavior resulting from a fundamental limitation in the design of KSM.

KSM requires memory regions to be marked using a specific `madvise()` call, which in turn requires anonymous mappings created using `mmap()`, so anything that’s using `malloc()` simply can’t use KSM.

---

That said, we obviously should still properly fix the data corruption issue that prompted this particular

[2022-09-07 12:38] #13628 closed

[2022-09-07 13:09] shyamvalsan opened #13639 "[Feat]: Add bloat metrics and other important low-fidelity metrics to PostgreSQL collector"
### Problem

Netdata does not monitor PostgreSQL bloat metrics.

### Description

It is crucial to understand bloat statistics regarding PostgreSQL tables and indexes

The following metrics should be collected - every hour (3600seconds).

~~- [ ]   [Percentage of tables with bloat](https://github.com/ioguix/pgsql-bloat-estimation/blob/master/table/table_bloat.sql)~~
- [x]   [Total size of table bl

[2022-09-07 14:12] stvhay commented on #13556
Very awesome tool, team--but I must admit I could do with less of the screen real estate and buttons dedicated to selling the paid product.

- The arrow button on the side causes an expansion of ~ 1/4 of the screen to ask for a cloud login. Please get rid of that.
- Status indicator "Connection to cloud." Please get rid of that.
- A whole horizontal bar "Discover the benefits of Netdata Cloud." Pl

[2022-09-07 14:14] papazach commented on #13506
To be honest I share the same opinion as @ilyam8 on this one:

Additionally, the user knowing which DBs are _inactive_ and are rendering his composite view potentially _misleading_, could very well filter them out using the _filtered by_ **conditions** dropdown and selecting only the databases having "correct values". Am I missing something?

[2022-09-07 14:48] shyamvalsan commented on #13506
@papazach I have to disagree here.

In this example, we have 4 dbs with only one of them active (with a cache hit ratio of 99%) but here's what Netdata shows on the composite chart. This makes no sense at all. I know that if you average the individual dbs (including the ones with hit ratio and miss ratio 0% because they were inactive) you will get this number, the problem is not in the value itsel

[2022-09-07 15:09] shyamvalsan commented on #13506
@papazach for further reference, here's a Grafana dashboard using Netdata metrics which shows an accurate composite cache hit ratio (this is from our production k8s room btw). Formula is:
`composite cache hit ratio = ((sum(memory_reads) - sum(disk_reads))*100)/sum(memory_reads)`

https://grafana.corp.staging.netdata.cloud/goto/u4dzRoMVz?orgId=1

![image](https://user-images.githubusercontent.com/2

[2022-09-07 15:31] hugovalente-pm commented on #13506
@shyamvalsan considering the example you showed, what seems that would help solve this, and maybe other wrongly reported metrics, is allowing some of the flexibility of Grafana, making a composite chart out of metric that is combined/derived as a result of computations between different metrics - these formulas we would need to provide out of the box for the charts on Overview / Single Node view a

[2022-09-07 15:40] Ferroin opened #13643 "[Feat]: apps.plugin: support for multiple config files."
### Problem

Due to how we handle config files, users who wish to use custom local configurations cannot do so without giving up on being able to track upstream configuration changes in those same config files in cases where there are not defaults baked into the component being configured.

This is most noticeable with the application group configuration for the apps plugin, which is both somethin

[2022-09-07 15:46] thiagoftsm commented on #13643
When we bring this feature, it will be good to store the `dictionaries`, `link lists` or any other necessary object inside a shared memory, this will simplify integration with `ebpf.plugin`.

[2022-09-07 16:05] ilyam8 commented on #13510
The query is per table, schema, and index. I am not adding it, because I am not sure we need such details.

Added collecting [pg_statio_user_tables](https://www.postgresql.org/docs/current/monitoring-stats.html#MONITORING-PG-STATIO-ALL-TABLES-VIEW) in netdata/go.d.plugin#808 that contains disk/memory reads from all indexes on a table. The view (**per table**) contains:

- disk/memory reads.
- inde

[2022-09-07 17:28] ilyam8 commented on #13510
Sharing this in case I made a mistake (not as a specialist).

Update query running time in netdata/go.d.plugin#810 to

[code]

So we have both transactions and queries running time histogram. The default buckets for both are the same (`.1, .5, 1, 2.5, 5, 10`).

[2022-09-07 17:35] #13510 closed

[2022-09-07 17:43] thiagoftsm opened #13644 "Libasan error report"
### Bug description

Sometimes Netdata is ending due SIGSEGV, today I got it two times on two different environments:

- On Slackware current I had this [error.log](https://github.com/netdata/netdata/files/9508389/error.log)
- On Ubuntu 22.04 I had this [error.txt](https://github.com/netdata/netdata/files/9508393/error.txt)

### Expected behavior

Run netdata without crashes

### Steps to reproduc

[2022-09-07 17:48] shyamvalsan commented on #13506
yeah that's probably the right way to solve this and other similar issues. We should be able to create derived metrics on the cloud, without requiring any collector level changes.

@hugovalente-pm should we move this ticket to cloud repo?

[2022-09-07 18:49] shyamvalsan commented on #13510
@ilyam8 Looks ok to me but need to see the values in an actually operational DB, was wondering why the values are same but it is expected in this scenario I think https://pgstats.dev/pg_stat_activity

![image](https://user-images.githubusercontent.com/24860547/188954978-46a92ba8-bfce-4da9-9288-c57e0b9b65fd.png)

![image](https://user-images.githubusercontent.com/24860547/188954910-4afd68b5-0805-4a

[2022-09-07 19:09] ilyam8 commented on #13510
@shyamvalsan probably the query is wrong and we need to take into account not only `active` state for transactions, but `idle in transaction` and `idle in transaction (aborted)` too. At the moment I don't have enough understanding to confirm/deny that.

[2022-09-07 19:27] ilyam8 commented on #13510
@shyamvalsan we see only the snapshot but not the history between data collections - the number of transactions will be equal to the number of queries and that is expected (when using only `active`). And I just understand that units are wrong - it is not the number of queries/s or transactions/s but the number of observations, because it if the query/transaction is long-running we will be seeing i

[2022-09-07 20:04] ktsaou commented on #13644
@thiagoftsm

1. the first is fixed now.
2. the second comes from an old master - it was fixed yesterday by @stelfrag

[2022-09-07 20:04] #13644 closed

[2022-09-07 20:21] thiagoftsm commented on #13644
All right @ktsaou , I am testing latest `master` right now. :handshake:

[2022-09-07 20:29] ilyam8 commented on #13510
Updated the query in netdata/go.d.plugin#812 and now the number of observed transactions > queries is expected (because we track "idle in transaction" state).

[2022-09-07 21:13] hugovalente-pm commented on #13506
@shyamvalsan if others agree I think so, but would be good to also get @cakrit @papazach (who have recently been involved in the discussion)

[2022-09-07 21:18] thiagoftsm commented on #13644
After one hour I can confirm the issue is fixed, thanks @ktsaou !

[2022-09-07 22:33] ilyam8 commented on #13639
Found this [beauty](https://github.com/bucardo/check_postgres/blob/9f536c724397906557585ecae4d1cb6c68db26f9/check_postgres.pl#L4336). We need to check, probably using it (one query vs 6) is better.

pgdash guys [use it](https://github.com/rapidloop/pgmetrics/blob/35516b55da71f8aa05b84f360032e9ca68b6d830/collector/collect.go#L3141-L3147).

[2022-09-08 07:49] shyamvalsan commented on #13506
Completely agree that providing workarounds/exceptions is not the right way forward - for the reasons you listed. Ideally this shouldn't be solved in a way specific to this particular metric (buffer cache hit ratio).

Having derived metrics on the cloud (imo) offers a generic solution that goes beyond this particular metric.

[2022-09-08 07:51] vkalintiris opened #13647 "[Bug]: Thread sanitizer errors with `-W dicttest`"
### Bug description

The thread sanitizer reports errors when running the dictionary unit tests.

### Expected behavior

Ideally, not even false-negative reports from the sanitizer.

### Steps to reproduce

1. `CFLAGS='-Wall -Wextra -g -O0 -fsanitize=thread -fno-omit-frame-pointer' ./netdata-installer.sh --disable-ml --dont-wait --dont-start-it --install ~/opt/master/`
2. ./usr/sbin/netdata -W dic

[2022-09-08 08:08] hugovalente-pm commented on #13506
exactly, the idea of suggesting derived metrics on cloud is to avoid putting just some _nail_ to fix one specific metric. with such a feature we have the flexibility to _manipulate_ charts which have metrics that we consider aren't helpful or misleading as well as provide flexibility for users to create their own derived metrics on custom dashboards.

@papazach the goal is to not spec out a featur

[2022-09-08 08:27] hugovalente-pm commented on #13506
one additional point, we should evaluate if some of the calculations can be done on the agent before sending the data to Cloud, but probably we can only confirm this once we start thinking on some concrete examples

[2022-09-08 09:08] shyamvalsan commented on #13639
@ilyam8 is the worst case scenario so bad? For the 1st two hours your bloat charts will not have data - but after that they will always have data.

What am I missing here?

[2022-09-08 09:15] sashwathn commented on #13506
@hugovalente-pm : I think derived metrics is indeed the solution. In many cases we have 2 charts for essentially the same metric - one to visualise "raw values" and another to show the ratio / utilisation etc. By introducing derived metrics, we can make do with this and actually play around with aggregations etc which will be more meaningful.

[2022-09-08 12:56] HariVamsiK commented on #13616
Hi
I want to work on this issue. Could you please assign it to me, it would be beneficial for my academics too.
Thanks

[2022-09-08 19:24] andrewm4894 commented on #13584
@vkalintiris do you think you can get back on this next week or week after?

[2022-09-09 08:30] vkalintiris commented on #13584
@andrewm4894 can you check https://github.com/vkalintiris/netdata/tree/multiple-ml-models? The branch has the entire logic for handling multiple models, except for serialization/deserialization to/from disk. If it works correctly, I can add this functionality next week.

[2022-09-09 08:30] vkalintiris commented on #13584
@andrewm4894 can you check https://github.com/vkalintiris/netdata/tree/multiple-ml-models? The branch has the entire logic for handling multiple models, except for serialization/deserialization to/from disk. If it works correctly, I can add this functionality next week.

[2022-09-09 09:01] andrewm4894 commented on #13584
Will do, was just unsure if that branch needed to be rebased or anything with all other changes in agent recently. Will make a node today from it and test again.

[2022-09-09 09:54] vkalintiris commented on #13584
I rebased it on top of master 1-2 hours ago.

[2022-09-09 12:28] shyamvalsan commented on #13542
@ilyam8 for metrics you have already added, please use the following organization

- connections
  -  connnections_utilization
  -  connections_usage
  -  connections_state
  -  db_connections_utilization
  -  db_connections
- transactions
  -  db_transactions_ratio
  -  db_transactions
  -  oldest_transaction_xid
  -  percent_towards_txid_wraparound
  -  transactions_running_time_histogram
- thro

[2022-09-09 15:18] underhood opened #13652 "[Bug]: Build Judy regardless of dbengine"
### Bug description

We need to build it even if dbengine is off now.

### Expected behavior

Judy is always built

[2022-09-12 08:04] vlvkobal commented on #10568
#10569 didn't really fix the issue. The same problem was [reported](https://community.netdata.cloud/t/netdata-installed-in-lxc-retrieves-statistics-from-bare-metal/3175) recently for the Proxmox environment
[code]
I also tested the script on Proxmox installed in VMware ESXi and got
[code]
The `lxc` virtualization technology is container virtualization so it is returned by `systemd-detect-virt -c`.

[2022-09-12 10:25] vlvkobal opened #13655 "[Bug]: Can't build Netdata with CMake if cloud is disabled"
### Bug description

If the cloud is disabled in `config.h` and you try to build Netdata with CMake, make reports link errors
[code]

### Expected behavior

You can build Netdata with CMake when the cloud is disabled.

### Steps to reproduce

[code]

### Installation method

from git

### System info

[code]

### Netdata build info

[code]

### Additional info

_No response_

[2022-09-12 14:22] #10568 closed

[2022-09-12 15:15] ilyam8 commented on #13639
I decided to go with [this query](https://github.com/netdata/netdata/issues/13639#issuecomment-1239974698) (because it is one).

I am confused by the total word. Do you mean global scope metrics or what? I added per table (table_bloat_size, table_bloat_size_perc).

[2022-09-12 19:31] ilyam8 commented on #13639
Ok, I added

I didn't add

The query counts the number of distinct values in a column. I tried but didn't find any rationale why collect the value. Is it a problem if it is only one distinct value? And not a problem if there are two!

Ok, we have per table and per index bloat %. Are you suggesting calculating those two as global?

[2022-09-12 19:35] ilyam8 commented on #13639
Btw there are [3 tables, index views](https://www.postgresql.org/docs/current/monitoring-stats.html#MONITORING-PG-STAT-ALL-TABLES-VIEW):
 - user
 - system
 - all (user + system)

I use only the user one when collecting table/index stats.

[2022-09-12 19:41] shyamvalsan commented on #13639
@ilyam8 I have removed some of the metrics from the ticket description for now - as they maybe overkill.

The only pending one is unused indexes, if we can show the actual indexes themselves in this chart that is the best.

[2022-09-12 19:44] shyamvalsan commented on #13639
The query actually returns the list of unused indexes, so if we can have a chart where only unused indexes have a value that could work

[code]

[2022-09-12 19:49] shyamvalsan commented on #13542
Added the pending metrics to the list

- connections
  -  connnections_utilization
  -  connections_usage
  -  connections_state
  -  db_connections_utilization
  -  db_connections
- transactions
  -  db_transactions_ratio
  -  db_transactions
  -  oldest_transaction_xid
  -  percent_towards_txid_wraparound
  -  transactions_running_time_histogram
- throughput
  -  db_rows_fetched_ratio
  -  db_ro

[2022-09-12 20:07] ilyam8 commented on #13639
I added index_usage_status for every index

<details>
<summary>screenshot</summary>

<img width="1324" alt="Screenshot 2022-09-12 at 23 07 32" src="https://user-images.githubusercontent.com/22274335/189747528-a5dcbdf6-2769-4542-91b1-cc21f946c3fb.png">

</details>

[2022-09-12 20:14] #13639 closed

[2022-09-13 07:55] shyamvalsan commented on #13542
@ilyam8 made some minor updates above.

[2022-09-13 08:11] VarletNicolas opened #13658 "[Bug]: Netdata STATSD plugin CPU utilization overload"
### Bug description

Hi,

Following a request on the help section of the Discord, I was advised to declare a bug.

What is the problem ?

The CPU consumption of the Netdata agent is exponential. When we take a closer look, we see that it is the statsd worker that consumes more than 98% of the allocated core.

![image](https://user-images.githubusercontent.com/14819956/189844416-c7d9146d-ffde-4928-

[2022-09-13 08:47] hugovalente-pm commented on #13556
@ilyam8 I'm re-opening since the fix hasn't yet been merged
@AlexNti will let us know once it is merged and then it will be available on the next nightly

[2022-09-13 09:31] ilyam8 commented on #13556
@hugovalente-pm it has been merged 2 hours ago. We usually don't wait for a nightly release when closing an issue. We follow merge = fixed => close.

[2022-09-13 10:10] ilyam8 commented on #13542
The organization seems confusing to me - e.g. "throughput" has db data, "cache" has both db and tables data, "tables" is catch-all for the rest of tables metrics, "size" has db size, but not table or index, etc.

I think we need to either have everything throughput-related or "db throughput" and "table throughput", at least that looks like a pattern I can understand.

I tried to follow 2nd approac

[2022-09-13 10:26] ilyam8 commented on #13542
1st approach example would be:

- connections
- transactions
- queries
- throughput
- cache performance
- size & bloat
- vacuum & analyze
- maintenance
- replication
- wal
- buffers
- checkpointer
- bgwriter
- txid exhaustion
- locks
- relations
- uptime

buffers, checkpointer and bgwriter can be aggregated into one category (don't know how to name it.)

[2022-09-13 11:29] #13556 closed

[2022-09-13 11:30] andrewm4894 opened #13659 "[Feat]: A generic "sql-query" collector"
### Problem

I have data in an SQL database that i'd like to chart and monitor in Netdata. I want to be able to configure a netdata collector to make a query against this data to update a chart in netdata.

This would open up more general/generic data monitoring capabilities in netdata.

### Description

I want to be able to define a query to run against some sql database where each query returns

[2022-09-13 11:37] #13542 closed

[2022-09-13 11:51] vlvkobal commented on #13658
I can't reproduce that behavior. I have a couple of questions.
- How much time does it take for Netdata to start using a lot of CPU resources after restart?
- Has the CPU usage dropped suddenly? Or is it connected to a Netdata restart?
- How reproducible is this behavior?

Please provide the output of `grep -i statsd /var/log/netdata/error.log`

[2022-09-13 14:08] ktsaou commented on #13658
Can you also disable statsd and retry? In netdata.conf under `[plugins]` set `statsd = no` (and uncomment the line), then restart netdata.

[2022-09-13 14:09] ktsaou commented on #13652
I think it already is. No?

[2022-09-13 17:57] shyamvalsan commented on #13659
@cakrit @amalkov @sashwathn might be a good addition to the use-case list. This one is about monitoring the data that the database contains, rather than the database performance. And it can be generic to any SQL based database.

-  "How to monitor your Snowflake data using Netdata"
- "How to monitor your BigQuery data using Netdata"
- etc.

Not to mention we could be dogfooding our own internal KP

[2022-09-13 18:02] cakrit commented on #13659
Really nice idea!

[2022-09-13 18:09] cakrit commented on #3495
@dominiwe  Of course there is! Just use [custom notifications](https://learn.netdata.cloud/docs/agent/health/notifications/custom).

[2022-09-13 18:19] ilyam8 commented on #13659
I didn't really understand anything except this general idea

For me, it is user-defined SQL queries ([e.g.](https://github.com/CrunchyData/pgmonitor/blob/a65c7cf1aa62620935a7abcf3fe9f583dff41a20/postgres_exporter/common/pg14/queries_general.yml)) data from which (labels and values) is used to create user-defined charts. Where _anything_ is limited to existing go SQL drivers.

An example of such f

[2022-09-14 06:58] VarletNicolas commented on #13658
Hello,

to answer your questions and bring more information, context :

- The Netdata agent has been running on the machine for several weeks without any problem.
- The problem occurred after the auto reboot of the service the day after a yum update and yum upgrade.
- We left some time to see if it was only temporary. Several days after this phenomenon we rebooted the netdata service and the behav

[2022-09-14 07:20] VarletNicolas commented on #13658
By deactivating the EBPF plugin because I don't use it on this vm & statsd :

![image](https://user-images.githubusercontent.com/14819956/190087510-0ba03623-f02f-4d8c-bfeb-50f410e3f957.png)

systemctl status netdata :
![image](https://user-images.githubusercontent.com/14819956/190086998-0639f0aa-14fd-41ad-be06-7d9f61b1cd22.png)

grep -i statsd /var/log/netdata/error.log
[code]

[2022-09-14 07:22] VarletNicolas commented on #13658
The solution for me is to disable statsd. But that doesn't explain why it went to hell and potentially can start over on another infra where statsd is enabled.

[2022-09-14 08:09] shyamvalsan commented on #13659
@ilyam8 yes, this is similar to the telegraf plugin you linked to. Basically, Netdata can become a nice monitoring platform with built in anomaly detection capability for data that can be retrieved via SQL.

[2022-09-14 10:53] vlvkobal commented on #13658
Unfortunately, I don't see how we can identify and fix the bug if it appeared just once and is not reproducible. If you face the issue once more it would be nice to look at what is happening using `sudo perf top -p <Netdata PID>`

[2022-09-14 11:21] shyamvalsan opened #13663 "[Feat]: Change order of sections in K8s tab"
### Problem

The K8s containers section contains the map view which should be visible when a user enters the K8s tab - but instead it is the final section and can only be seen after user scrolls all the way down

### Description

Kuberentes containers should be on top so this view will be seen immediately

![image](https://user-images.githubusercontent.com/24860547/190140580-1edf175e-ee46-423f-83a

[2022-09-14 11:22] shyamvalsan commented on #13663
@cakrit assuming this is what you asked for yesterday - unless I am wrong.

[2022-09-14 11:22] sashwathn opened #13664 "[Collectors]: Add Alerts for the Postgres Collector"
### Problem

The alerts for the postgres collector are work in progress and will need to be merged once the metrics are in production.

### Description

I am working on the Postgres alerts and will upload the file with all the alerts here once they are ready. They will need a quick test, review and merge once the go.plugin update and other postgres related stuff are merged.

### Importance

must h

[2022-09-14 11:24] ilyam8 commented on #13663
The current order was requested in #5824

[2022-09-14 11:31] ilyam8 commented on #13663
The fix is changing the hardcoded priority for k8s_kubeproxy, k8s_kubelet, and k8s_state charts. Am I right, @cakrit? Or there are some plans to overwrite the priority by the frontend?

[2022-09-14 13:27] VarletNicolas commented on #13658
I wouldn't miss it.

Thank you for your help.

See you soon ++.

[2022-09-14 13:27] #13658 closed

[2022-09-14 13:56] ktsaou commented on #13647
I addressed these issues.
I decided to keep one data race, since I don't see any problems with it.

[2022-09-14 14:34] shyamvalsan commented on #13664
@sashwathn as we discussed on the call - let's mark all anomaly related metrics as "silent" and play with it in production and demo before releasing them on the world.

[2022-09-14 14:42] #13316 closed

[2022-09-14 14:42] #13663 closed

[2022-09-14 14:47] vlvkobal commented on #13664
Why do you use `calc: (100 - $this)`? I think it's better to use the metrics as they are.

[2022-09-14 15:48] cakrit commented on #13506
I don't understand how derived metrics can solve this generically, what exactly would we do?

@vkalintiris I didn't see an explanation of how you solved the problem with a lookup. How would it apply here?

An additional suggestion:
Add new parameter with a cloud UI option on each chart of the overview tab to "exclude zero values" and perhaps also "exclude negative values" or "exclude positive valu

[2022-09-14 16:39] sashwathn commented on #13664
@vlvkobal : The only reason for this is the more accepted "cache hit ratio" metric which our users understand. And given that these are node specific we will never encounter the aggregation problem we faced earlier.
But let me also check with @cakrit and @amalkov what they think.

[2022-09-14 18:41] Forza-tng commented on #13560
It is probably be better to use the `/sys/fs/btrfs{fs_uuid}` interface to enumerate filesystems and their member devices.
[code]

`label` contains the filesystem label
`devices/` contains links to each block device
[code]

[2022-09-15 07:13] sashwathn commented on #13664
@shyamvalsan / @ilyam8 : I am now uploading the new postgres.conf file with all the anomaly rate based alerts silenced. Attaching it here. I have also updated the alerts list details above.

[postgres.conf.latest.txt](https://github.com/netdata/netdata/files/9572750/postgres.conf.latest.txt)

[2022-09-15 07:46] marliyev opened #13667 "[Bug]: netdata install failing on k8s"
### Bug description

Hey guys, copy pate from netdata dash to install on k8s cluster and getting error below:

Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: resource mapping not found for name: "netdata-psp" namespace: "" from "": no matches for kind "PodSecurityPolicy" in version "policy/v1beta1"
ensure CRDs are installed first

k8s version v1.25.0

### Exp

[2022-09-15 08:06] BillKalaitzis commented on #13667
Hey @marliyev,

This seems like an API incompatibility issue.
Since Kubernetes v1.25, the `PodSecurityPolicy` object has been [deprecated](https://kubernetes.io/docs/reference/using-api/deprecation-guide/).
We'll need to do some work to migrate away from it on our helmchart and we'll get back to you!

cc @netdata/cloud-sre @ilyam8

[2022-09-15 08:09] marliyev commented on #13667
cool, waiting for update, thnx

[2022-09-15 08:42] ilyam8 commented on #13667
Thanks for reporting, @marliyev. Fixed in netdata/helmchart#308.

[2022-09-15 18:08] amalkov commented on #13659
We already discussed this suggestion with @andrewm4894 and I agree, it would be really helpful to have it.

PS: probably it would be good to set default collect every to something big, for example 10 mins or even 1 hour.

For people to think first before changing it as it will add an extra load to the DB.

[2022-09-15 18:42] shyamvalsan commented on #13659
Agree - default interval can be something higher, user can set it lower if they want to.

[2022-09-15 19:39] ilyam8 commented on #13659
If the default value is 1hr+ - a person will open a bug report earlier than the chart will appear on the dashboard (up to 2 hrs) 🤣 Anyway, that is a minor technical detail not really worth discussing in my opinion.

[2022-09-16 06:23] shyamvalsan commented on #13581
@ktsaou @stelfrag @ilyam8 following on from @ilyam8 comment https://github.com/netdata/netdata/issues/13639#issuecomment-1240433894

How can we improve Netdata to not have this limitation? User should be able to select a collection interval of their choosing - many metrics make more sense to be collected every 5min/1hr/daily/etc.

If the first 2 intervals being empty is the problem then can we not

[2022-09-16 07:23] andrewm4894 commented on #13659
Yeah interval maybe should have to be part of the config of each query or job.

[2022-09-16 07:43] #13667 closed

[2022-09-16 07:48] ilyam8 commented on #13659
Yes, I had this in mind (because goes without saying) and was wondering why to bother.

[2022-09-16 10:17] pgassmann opened #13670 "[Bug]: old timestamps in prometheus after high load"
### Bug description

After a server was under high load, we get warnings from victoriametrics (prometheus alternative) that some values have an old timestamp.
The delayed timestamps continue even after the load is back to normal.

[code]

the timestamp is set by netdata and is somehow not the same for all metrics:
[code]

I assume its be because netdata is designed and configured to have low prior

[2022-09-16 12:33] amalkov commented on #13581
The idea is good, and I agree that we need flexibility. the question when do we need to do it and how long will it take? Higher granularity means that we are outside the troubleshooting mode, it is more about monitoring and reporting...

We need to understand the effort first.

[2022-09-16 13:33] k0ste opened #13673 "[Bug]: Netdata losts downed network links"
### Bug description

We have two LACP links on host:
* `bond0`: `ten0` + `ten1` physdev's
* `bond2`: `ten2` + `ten3` physdev's

The case: some TX issues on switch-side SFP+ transceiver. The problem link should be `ten3`, to troubleshot it I was set `ten2` interface down:

[code]

The kernel:
[code]

Then `netdata` lost this link for ever:

[code]

When we replaced SFP+ transceiver for `ten3` link

[2022-09-16 13:35] k0ste commented on #13673
Bug created as suggested by @ilyam8 at netdata community [here](https://community.netdata.cloud/t/netdata-losts-downed-network-links/3289)

[2022-09-16 14:11] ktsaou commented on #13647
I also removed the data race that I said above I decided to keep.
Now it should be 100% clean.

[2022-09-16 15:16] Ferroin commented on #13581
To clarify this a bit, the issue is not so much that all metrics have to be the same granularity (we _can_ set specific collection frequencies on external collectors, for example the Postfix queue collector is a 3 second default collection interval, and there are a handful of others that are 5 or 10 second defaults), it’s that the current chart handling means that collecting on long intervals lead

[2022-09-16 16:07] ilyam8 commented on #13581
Guys, it is non-fixable problem in general, at least for counters (incremental values in Netdata). You need 2 samples to calculate the delta (or rate). So **minimum** time would be update_every, whatever it is (e.g. 1hr).

If I am not mistaken, the same goes for gauges (absolute values in Netdata), the chart shows the first value after 2 data collections. That looks like a _bug_ to me - we don't c

[2022-09-16 16:15] ilyam8 commented on #13581
What we do now is:
 - do _slow_ data collection every _configured time_.
 - cache response.
 - send values to Netdata every update_every.

Pros:
 - Charts are alive (expected by Netdata users). Imagine a frozen chart (updates every hour) - it wouldn't be clear if something is broken or just this particular chart is _a slow_ chart. We have no UI elements to show that.
 - Very easy to implement in a

[2022-09-16 17:49] ilyam8 commented on #13673
Hi, @k0ste.

just changes the interface operstate (/sys/class/net/X/operstate). There is no problem if /sys/class/net/X/operstate is readable.

---

These steps I didn't get. Are they separate cases or not?

---

How it works now:

- Netdata reads
  - /sys/class/net/X/duplex
  - /sys/class/net/X/carrier (physical state)
  - /sys/class/net/X/operstate (admin state)
- All good if open() and read() c

[2022-09-19 07:46] putnam commented on #5590
We're coming up on a year here -- is there anything stopping netdata from just using zfs list / zpool list? These utilities are designed with scripting in mind. I have the same problem where I get inundated with emails by netdata when inodes/disk consumption look to be trending a certain way--one for every single dataset!

[2022-09-19 10:24] #13486 closed

[2022-09-19 12:26] #13664 closed

[2022-09-19 12:40] ilyam8 commented on #5590
@cakrit the OP issue is fixed in #11071 @putnam (correct me if I am wrong) is asking about usage/utilization metrics for ZFS pools.

[2022-09-19 13:43] michaelweinold opened #13676 "[Bug]: Node is shown as "offline" randomly"
### Bug description

Netdata cloud dashboard shows node as "offline" sometimes. When I connect to the headless Raspberry Pi node via VNC and open the browser, the node comes back online in the Netdata cloud dashboard. When back online, the dashboard shows history also for the time during which the node was offline.

### Expected behavior

The node is online without interruption.

### Steps to repr

[2022-09-19 13:49] MrZammler commented on #13676
Hi @michaelweinold

Can you grep your `error.log` file for `ACLK` ? It should show if there was any cases of disconnections or other problems with cloud connectivity. Thanks!

[2022-09-19 14:09] michaelweinold commented on #13676
I could't find the logs at `/var/log/netdata/`, [where they are supposed to be according to the documentation](https://learn.netdata.cloud/docs/configure/nodes).

Instead, the file was at `./opt/netdata/var/log/netdata/error.log`. Searching for `ACLK` gave:

📄 [error.log](https://github.com/netdata/netdata/files/9599632/error.log)

[2022-09-19 14:24] MrZammler commented on #13676
Indeed there are a lot of "Connection Error or Dropped" messages in the log... Can we assume that the network connection of the Raspberry is ok in general, i.e. you don't have any other network problems in general ?

(Your log file is in /opt/ since most likely you are running a pre-compiled static version of the agent).

Have you noticed this problem recently? Can you please also post the part fr

[2022-09-19 14:50] herauthon opened #13677 "[Bug]: Judy"
### Bug description

/usr/bin/ld: libnetdata/dictionary/dictionary.o: in function `dictionary_get_name_value_unsafe':
dictionary.c:(.text+0x1b5): undefined reference to `JudyHSGet'
/usr/bin/ld: libnetdata/dictionary/dictionary.o: in function `string_strdupz':
dictionary.c:(.text+0x697): undefined reference to `JudyHSGet'
/usr/bin/ld: dictionary.c:(.text+0x732): undefined reference to `JudyHSIns'
/

[2022-09-19 14:51] hugovalente-pm commented on #13506
@cakrit the idea of derived metrics came from this comment from @shyamvalsan https://github.com/netdata/netdata/issues/13506#issuecomment-1239519315, where if a formula like this was applied we could solve the "wrong" value of the cache hit ratio

I'm not sure adding the chart options would help solve this issue since we may have values from the collector that could be a correct/valid zero and oth

[2022-09-19 15:16] MrZammler commented on #13677
Hi @herauthon !

Can you please post the exact steps you're using and the exact commands? I'm guessing you are not using the kickstart script, right? Are you cloning from master?

[2022-09-19 16:47] cakrit commented on #13663
Sorry for not replying here, indeed we had agreed to do a hardcoded change in the FE which I see still hasn't been done.

[2022-09-19 16:48] michaelweinold commented on #13676
I've only been using Netdata for a day - so unfortunately, I don't have anything to compare the current intermittent connection against.

The Raspberry is on a stable wired network connection.

`http://localhost:19999/api/v1/info`: 📄 [api-info.log](https://github.com/netdata/netdata/files/9600842/api-info.log)

[2022-09-19 18:33] cakrit commented on #13506
The % metric that we were discussing before wasn't about cache hit %, it was returned rows vs rows fetched from the DB and would practically never have a 0% value in reality.

I understand the concerns, but perfect is the enemy of good. If we can't think of anything that will let us produce valid aggregate charts without changing the values returned by the agent, it's time to extend the agent and

[2022-09-19 20:46] #13647 closed

[2022-09-20 02:31] thiagoftsm opened #13680 "[Bug]: SIGABRT netdata"
### Bug description

After we merge the PR https://github.com/netdata/netdata/pull/13646 I began to have `SIGABRT` on `Raspberry PI` when I stop netdata:

[code]

### Expected behavior

Stop netdata without any issues.

### Steps to reproduce

1. Compile netdata with flags `CFLAGS="-Og -ggdb -Wall -Wextra -fno-omit-frame-pointer -Wformat-signedness -fstack-protector-all -Wformat-truncation=2 -Wunu

[2022-09-20 09:23] ilyam8 commented on #13663
I changed the collectors priority.

[2022-09-20 09:47] ralphm opened #13682 "[Feat]: Connect to api.netdata.cloud by default"
### Problem

The domain used for the initial connection to Cloud is currently `app.netdata.cloud`. This should be changed to `api.netdata.cloud`.

### Description

The Agent uses the `env` endpoint to determine where to go for authentication and eventually connecting to Cloud via MQTT. This initial connection should be done to `api.netdata.cloud` instead of `app.netdata.cloud`.

### Importance

mu

[2022-09-20 13:22] dainogu opened #13686 "[Bug]: Isnt installed netdata cloud"
### Bug description

--2022-09-20 09:16:49--  https://my-netdata.io/kickstart.sh
Resolving my-netdata.io (my-netdata.io)... 188.114.96.1, 188.114.97.1, 2a06:98c1:3120::1, ...
Connecting to my-netdata.io (my-netdata.io)|188.114.96.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/octet-stream]
Saving to: ‘/tmp/netdata-kickstart.sh’

/tmp/netdata-ki

[2022-09-20 13:30] #13686 closed

[2022-09-20 13:51] MrZammler commented on #13676
Thanks for this. We'll check to see if we can spot anything weird from the cloud side.

[2022-09-20 14:02] hugovalente-pm commented on #13676
for x-reference, this seems similar to this bug https://github.com/netdata/netdata-cloud/issues/329

[2022-09-20 16:47] shyamvalsan opened #13687 "[Feat]: Add metrics to Redis go collector"
### Description

Add the following metrics to the Redis Go collector:

- [x] Latency
  - Latency measures the average time in milliseconds it takes the Redis server to respond.
  - This metric is not available through the Redis info command. To see latency use:
`./redis-cli --latency -h ‘host’ -p ‘port’`
  - While	times	depend on your actual setup,	typical latency for a 1GBits/s network is	about	2

[2022-09-20 16:52] shyamvalsan opened #13688 "[Feat]: Re-organize Redis metrics"
### Description

Here's the proposed organization for Redis metrics - this is pretty close to what exists now, the extra ask is to add a new **Performance** section and to move some metrics to other sections. For example Evicted keys/second is related to maxmemory limit being hit and should be in memory section.

- Connections
  - Accepted, rejected connections
  - Clients (blocked, connected, in_

[2022-09-20 19:49] GitKepler opened #13689 "[Feat]: Summary chart for containers resource usage"
### Problem

Netdata already provides charts describing CPU/memory/network usage for each container.
These metrics are very useful to identify containers hogging resources (e.g. memory leaks, high cpu usage ...)
However, on hosts running more than 20 containers, it becomes cumbersome to check which container is causing a resource shortage.

### Description

The idea is to have a stacked chart with

[2022-09-20 22:05] lamka02sk opened #13690 "[Bug]: Netdata agent installed without go.d.plugin"
### Bug description

After installing netdata from apt repositories on my Ubuntu 22.04.1 server, go.d plugin is completely missing from the installation.
`./edit-config go.d.conf` returns `File 'go.d.conf' is not found in '/usr/lib/netdata/conf.d'`

### Expected behavior

go.d.plugin is installed automatically by default

### Steps to reproduce

1. Run `apt install netdata`
2. Try to setup collect

[2022-09-21 07:17] shyamvalsan opened #13691 "[Feat]: Add alerts for Redis metrics"
### Problem

Netdata Redis collector does not have any pre-configured alerts

### Description

The following metrics should have pre-configured alerts:

1. [ ] **redis.mem_fragmentation_ratio**
   - The mem_fragmentation_ratio metric gives the ratio of memory used as seen by the operating system (used_memory_rss) to memory allocated by Redis (used_memory).
   - mem_fragmentation_ratio > 1.5 indica

[2022-09-21 07:31] MrZammler commented on #13690
Hi @lamka02sk

Most likely this is from the ubuntu repositories, and it's an older version as well. Can you try to purge/remove netdata and try using our [kickstart script](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart) ? It will setup a new repository, install a newer netdata agent version and most likely go.d plugin should also be ok.

[2022-09-21 07:52] ilyam8 commented on #13691
@shyamvalsan I don't think we are at the point where we can add anomaly alerts by default:

 - no tested.
 - no certain action from a user perspective (anomalous and what do I do?).

What makes you think we need anomaly alarms? Have we tested them and they proved to be useful?

[2022-09-21 08:22] shyamvalsan commented on #13691
@ilyam8 not done with this ticket, I am still working on it - maybe we won't need anomaly alerts for some of them. Assigned ticket to myself until its ready.

[2022-09-21 09:57] MrZammler opened #13693 "[Feat]: Pass auto accept to package managers when using --non-interactive"
### Problem

This was requested by a user on discord. Assuming kickstart runs as root, could we extend when running kickstart with `--non-interactive` to pass similar flags (e.g. `-y` to to `apt-get`) to package managers to bypass install questions from them?

### Description

If kickstart is run as root, then when using `--non-interactive` it should also try to auto accept any package manager req

[2022-09-21 10:28] k0ste commented on #13673
I checked this case (with `netdata v1.36.1`)

[code]

Then put copper `gig0` link down:
[code]

All except `operstate` metric is gone
[code]

The files in sys `/sys`:

[code]

Try to read files:
[code]

So, I think the case can be covered with `if NETDEV_OPERSTATE_DOWN ` don't try to drop this link, just wait for `NETDEV_OPERSTATE_UP`, and then try to `open()` and `read()` the `duplex`, `carrier`,

[2022-09-21 10:31] k0ste commented on #13673
Also, another experiment - put down the ethernet port from switch side:

[code]

In this case, in linux, the link state is "up, but no-carrier", e.g. "cable unplugged". Seems `netdata` knew how-to work with this (wait for carrier) and works as expected 👌

[2022-09-21 14:18] vobruba-martin opened #13694 "[Bug]: STREAM_RECEIVER segfaults"
### Bug description

STREAM_RECEIVER thread segfaults from time to time. I can see days without any segfault and I can see days when it segfaults every a few minutes. Netdata crashes and is restarted after 2 minutes.

Is there any way how to debug this? All I see is this:

syslog:
[code]

netdata error.log
[code]

### Expected behavior

No segfaults

### Steps to reproduce

Unknown

### Installati

[2022-09-21 15:22] Ferroin commented on #13693
We currently do all of the following when running non-interactively, irrespective of running as root or not:

- Add `-n` to any invocations of `sudo` or `doas`, to make them throw an error if they would prompt.
- Add `-y` to any package manager invocations, to auto-accept any questions they would ask.
- Set `DEBIAN_FRONTEND=noninteractive`, to force debconf on Debian/Ubuntu systems to behave corre

[2022-09-21 15:27] ilyam8 commented on #12719
@thiagoftsm is this issue fixed/you r working on/can't reproduce/etc?

@vobruba-martin it's been a while and @thiagoftsm added some changes to the ebpf plugin. Can you check the latest (nightly) Netdata?

[2022-09-21 15:53] ktsaou commented on #13694
Ooops! We are very sorry for that! We are doing major changes to the internals of the agent and it seems that there is a case we didn't catch.

@MrZammler please help here. We need a backtrace to understand where the bug is. More likely `coredumpctl` will have more info.

[2022-09-21 15:55] thiagoftsm commented on #12719
Hello @ilyam8 ,

This is fixed and will be available in next stable-release, but the nightly already have the code merged.

[2022-09-21 15:55] #12719 closed

[2022-09-21 15:58] ilyam8 commented on #13694
@vobruba-martin if possible compile the Agent with gdb

[2022-09-21 20:03] zyxep commented on #13693
ahh thx for clarifying this.

[2022-09-22 06:57] MrZammler commented on #13693
Didn't check to be honest (sorry), I should have, thanks @Ferroin !

[2022-09-22 06:57] #13693 closed

[2022-09-22 09:16] MrZammler commented on #13694
@vobruba-martin Do let us know if you need any help with what Kostas and Ilya mentioned.

[coredumpctl](https://www.freedesktop.org/software/systemd/man/coredumpctl.html) can provide some info after the crash. If there's not enough then an install of a compiled version of Netdata with debug symbols can help.

You can also send me your `/var/log/netdata/error.log` to manolis@netdata.cloud it might

[2022-09-22 09:28] vobruba-martin commented on #13694
@MrZammler I've installed coredumpctl and I'm waiting for another crash. I will let you know then.

[2022-09-22 10:17] shyamvalsan opened #13700 "[Feat]: Create a collector for Cassandra"
### Problem

Netdata does not currently monitor Cassandra metrics

### Description

Create a new collector for Cassandra

The following metrics should be collected and organized in the charts as per structure shown below:

- **Throughput** (available via JMX, Jconsole)
  - **Reads** (Read requests/second)
  - **Writes** (Write requests/second)
- **Latency** (available via nodetool, JMX, Jconsole)

[2022-09-22 11:31] Ferroin commented on #13693
@MrZammler It’s OK, despite being the person who wrote the code _I_ actually had to search through it to double check all of this myself.

[2022-09-22 12:28] underhood commented on #13652
AFAIK currently build with disabled dbengine fails, i will make PR today

[2022-09-22 13:48] CreeperFace00 commented on #13694
I am also encountering these crashes, it's persisted across 2 fresh Ubuntu 22.04.1 installs. I thought I had compiled with debug symbols, but it appears not. Here's the output of coredumpctl debug on the latest crash this morning:
[https://gist.github.com/CreeperFace00/68ab129c9b54c368b6cb1882e4bf5107](https://gist.github.com/CreeperFace00/68ab129c9b54c368b6cb1882e4bf5107)

[2022-09-22 14:02] MrZammler commented on #13694
Thanks @CreeperFace00 !

Based on that gist, is it possible to test for a while with ML disabled? In `netdata.conf` under the `[ml]` section, use `enabled = no` ?

[2022-09-22 14:04] CreeperFace00 commented on #13694
I'll try that and let you know.

[2022-09-22 14:12] MrZammler commented on #13694
Also, if you have any core files, can you examine them with gdb? I see you have a custom install, maybe you could add in `CFLAGS` as @ilyam8 suggested, and with ulimit to unlimited should get a core dump.

Thanks for your help!

[2022-09-22 14:48] ilyam8 commented on #13700
Why?

[2022-09-22 15:08] thiagoftsm commented on #13700
@ilyam8 ,

We cannot collect [JMX](https://en.wikipedia.org/wiki/Java_Management_Extensions) directly, so we need a software that can expose the data for us.

About `jmx_exporter`, I had a talk with our user, and this is one of the most used tool to expose metrics from `Apache` tools, so users are already have it installed. This will simplify users life.

I am thinking that instead a module exclus

[2022-09-22 15:19] ilyam8 commented on #13700
@thiagoftsm thanks for the explanation, but my question is not about JMX.

[2022-09-22 15:25] thiagoftsm commented on #13700
All right, let me be more clear, because I was not with last comment. We expect something like this:

- Users will have an apache tool (Zookeeper/Kafka/Cassandra).
- Together these tools they will install the `jmx_exporter` that will expose metrics in `Prometheus` format.
- We will use `prometheus/client_golang` to access the endpoint and parse data for us.

This is the simplest road that I verifi

[2022-09-22 15:29] ilyam8 commented on #13700
Ah, I see, it is not clear what I was asking about. The question was about the [quoted sentence](https://github.com/netdata/netdata/issues/13700#issuecomment-1255137049).

[2022-09-22 15:31] #13652 closed

[2022-09-22 15:35] thiagoftsm commented on #13700
ok, I will see the modules that are parsing these prometheus metrics. Remember I was 20 months without to touch `go.d.plugin`, so I completely forgot that we had this library. :(

[2022-09-22 15:45] CreeperFace00 commented on #13694
Hmm, well having a custom install wasn't intentional, might have been due to me compiling from source with the debug flags on, the ones I found [here](https://learn.netdata.cloud/docs/agent/daemon#debugging)

I compiled with debugging enabled again and added `* soft core unlimited` to /etc/security/limits.conf for the coredumps.

[code]

I'll keep an eye on it and see if it happens again. Yesterda

[2022-09-22 16:03] ilyam8 commented on #13700
Thanks. If this won't be a problem for you, please share Cassandra's metrics (jmx exporter) sample here.

[2022-09-22 16:12] ralphm commented on #9124
As an additional update, we have since added bulk remove. I believe this ticket can be closed now.

[2022-09-22 16:12] #9124 closed

[2022-09-22 16:21] ilyam8 commented on #13688
Summing up all the changes:

 - Processed commands: commands => performance.
 - Keys lookup hit rate: keyspace => performance.
 - Evicted keys due to maxmemory limit: keyspace => memory.
 - merge "persistence rdb" and "persistence aof" into "persistence" (not sure tho, I guess you missed the "AOF file size" chart). Am I correct about this one?

@shyamvalsan, hey 🙋 Please add the changes list next

[2022-09-22 16:33] underhood opened #13705 "[Feat]: Claiming should send some stats"
### Problem

_No response_

### Description

During issue investigations we noticed we dont have data on agent/os version during claiming (for agents that never connect to cloud post claiming)

### Importance

must have

### Value proposition

1. as above it would be very useful in cases agent claim but never connect to diagnose what might be the issue
2.
3.
...

### Proposed implementation

- sen

[2022-09-22 16:37] ilyam8 commented on #13705
@underhood, hey 🙋 Is it only "agent/os version" or is the request ~~is WIP~~ will be updated later. Asking because "Proposed implementation" is to send _some_.

[2022-09-22 16:50] underhood commented on #13705
I see: reword would be send at least agent version and os version if possible, if we can send more... great

[2022-09-22 16:51] ilyam8 commented on #13688
@shyamvalsan if you don't mind I am going to close this ticket by merging netdata/go.d.plugin#848. Some metrics (requested in #13687) are missing, but I think one issue is enough, we don't need both.

[2022-09-22 16:58] #13688 closed

[2022-09-22 19:45] thiagoftsm commented on #13700
@ilyam8 and @shyamvalsan studying Cassandra I found this [link](https://cassandra.apache.org/doc/latest/cassandra/operating/metrics.html) with some metrics it has.

[2022-09-22 22:20] thiagoftsm commented on #13700
I finally configured everything necessary to proceed, so I am sharing the configuration used with `jmx_exporter` and the metrics that I got:

| Software | Configuration | Metrics |
|--------------|-------------------|-----------|
|Cassandra | [cassandra_cfg.txt](https://github.com/netdata/netdata/files/9629703/cassandra_cfg.txt) | [cassandra.txt](https://github.com/netdata/netdata/files/9629706/ca

[2022-09-23 05:37] vobruba-martin commented on #12719
Hello @thiagoftsm @ilyam8 ,

Do you plan to release the next stable in near future? I have bad experiences with nightlies so I'd rather wait for the stable release.

[2022-09-23 07:01] ilyam8 commented on #12719
@vobruba-martin are you on nightly and the problem is not fixed? Can you show your Netdata Agent version?

[2022-09-23 07:51] shyamvalsan commented on #13691
@ilyam8 I have updated the description - removed some alerts which were related (one triggering would mean the other would also trigger). There's nothing anomaly bit based for now.

[2022-09-23 08:36] AvMavs opened #13709 "[Bug]:"
### Bug description

I cannot deploy the Netdata container on docker.

Here's my docker compose:

[code]

It does not create all the files needed. I thought it might be permissions issue, so I tweaked around with that, but it still didn't work.

### Expected behavior

The container works and the web UI loads.

### Steps to reproduce

1. Use the docker compose file mentioned. (${} are mapped folder

[2022-09-23 09:07] ilyam8 commented on #13687
We definitely not using `./redis-cli --latency` directly. Internally it just sends the PING command and measures the response (does it thousands of times). We can do the same but send just a few. It measures the latency between the client (go.d.plugin) and your Redis server. Not sure if that is something useful to monitor constantly, and should we go with min/avg/max or histogram?

As for latency-

[2022-09-23 09:17] MrZammler commented on #13709
Hi @AvMavs ! Thanks for your report. We will try to reproduce the issue.

[2022-09-23 10:00] ilyam8 commented on #13687
@shyamvalsan I went with 5 PINGs and min/max/avg.

[2022-09-23 10:05] vobruba-martin commented on #12719
@ilyam8 No, I run current stable version and I'd like to wait for the next stable release to test if this issue is fixed.

[2022-09-23 10:24] MrZammler commented on #13694
@CreeperFace00 after #13707 is it possible to check with tommorow's nightly that includes that patch, and ML enabled?