[2020-01-23 19:09] waldner commented on #7813
The problem is, for me as a user, not being able to know whether I need to take some action (like running netdata as root or adding user netdata to some group) or not.

[2020-01-23 19:12] ilyam8 commented on #7833
I think that we need to split validation and connecting and add something like validating step. If there is at least one invalid dst in the destinations list we shouldnt try to connect to any and exit with error - because it would be unexpected behavior for a user. At least i see it this way.

[2020-01-23 19:17] ilyam8 commented on #7833
Example:

[code]

I expect Netdata connects in this order. I dont want netdata to connect to `dst3` if `dst1` and `dst2` syntax is invalid.

Because if `dst1` and `dst2` syntax is invalid and Netdata export works it means that this list was implicitly changed to

[code]

[2020-01-23 19:17] thiagoftsm commented on #7833
I respect your opinion, but I think that Netdata gives for the user the option to list various destinations to be sure that it will be possible to connect to at least one.

Let us extend the discussion with others. @cosmix , @amoss, @mfundul , @stelfrag  and @vlvkobal I would like to hear your opinion about this subject that we are discussing here before we take the decision about what to do with

[2020-01-23 19:18] cosmix commented on #7807
That’s an interesting point @amoss — are you sure it uses `/dev/random`? I thought it was `/dev/urandom`. Either way, I don’t think it’d be a problem, at least, given a protocol that tries to minimize the number of messages sent (e.g. by bundling messages together when possible etc.)

Let’s find out if it’s `urandom` or `random` first. If it’s `urandom` I think we’ll be alright as the probability

[2020-01-23 19:18] ilyam8 commented on #7833
Yes.

If one of them doesnt respond/alive and not if one of them has invalid destination syntax.

[2020-01-23 19:30] ilyam8 commented on #7813
Ok, so it is duplicate of #6038

You are right, this is a problem.

[2020-01-23 19:33] waldner commented on #7813
Thanks.

[2020-01-23 19:33] #7813 closed

[2020-01-23 20:41] thiagoftsm commented on #7810
Hi guys,

I created the PR that brings what we need, please, let me know whether it is necessary to change anything for we merge it.

best regards!

[2020-01-23 20:42] yasharne opened #7837 "Writing different replication lag for a specific mariadb server"
##### Question summary
I have 6 MariaDB servers (1 master and 5 slaves) which are streamed to a central netdata server. I have defined replication lag of 15 minutes for all the slaves by editing the existing templates:
[code]
But now I want to make an exception, mariadb2 should have replication lag of 6 hours and 30 minutes, so I replaced the previous rule with these two rules:
[code]
and
[code]
B

[2020-01-23 20:45] Pingger opened #7838 "Netdata cloud not properly forwarding to nodes"
Hi
##### Question summary
First things First: I have very likely misconfigured something.
I'm currently having an issue with Netdata notifications (over Telegram), that link to my netdata server. The cloud link provided does not properly forward:
http://netdata.cloud/alarms/redirect?agentID=77a15fdc-2a8f-11ea-8c13-1af8315ad190&host=iskariot.info&chart=fping.45_11_18_138_latency&family=45_11_18_138

[2020-01-23 21:12] yasharne commented on #7837
Found the problem! I should have followed the order mentioned [here](https://docs.netdata.cloud/libnetdata/simple_pattern/) so using this pattern solves the problem:
[code]

[2020-01-23 21:12] #7837 closed

[2020-01-23 21:20] thiagoftsm commented on #7838
Hi @Pingger ,

I think it is also possible to have relationship with cloud, I assigned to our guys for them see this, but there is something that called my attention. You said `the local port 19999 is blocked, because I want SSL encryption` , but Netdata can use TLS it is only necessary to do the configuration described at https://docs.netdata.cloud/web/server/#enabling-tls-support .

Best regards

[2020-01-23 21:40] espensgr commented on #7350
I can reproduce this, all my digital ocean servers have this problem.
The fix with `rm /etc/cron.daily/netdata-updater` and then running the `kickstart.sh` works.
The only thing is i had to run the rm with sudo.

[2020-01-23 21:47] ilyam8 commented on #7350
seems related https://github.com/netdata/netdata/issues/5272

i recall we had such problem

[2020-01-23 21:57] cakrit commented on #7671
I suggest we extend what we have as follows:
- The existing directory `web/gui/custom` gets subdirectories, one for each user-contributed custom dashboard.
-  `web/gui/custom/README.md` lists those directories, with a short explanation of what each one contains, perhaps an image with a screenshot as mentioned above and a link to the README of the particular directory.
-  e.g We move `dash-example.

[2020-01-23 22:12] Pingger commented on #7838
Additionally apache keeps good logs about which IP tries to access what resources and allows for http authentication

[2020-01-23 22:14] cakrit opened #7840 "ACLK complete support for proxies (HTTP/SOCKS5) (Claiming/Auth/Link)"
##### Feature idea summary
Outbound connections from agents to the cloud may need to go through a transparent proxy. As a user, I want to be able to provide the proxy information to netdata, so that my agent can work correctly with the cloud, through a transparent proxy.

##### Expected behavior

- The `https_proxy` definition consists of a proxy ip/hostname, port, and optionally username and pass

[2020-01-23 22:22] prologic commented on #6943
I mostly meant only as a temporary work-around for @mickae1 :)

[2020-01-23 22:25] prologic commented on #6688
Thanks! And what's so horrible about it that we want to move away from it? We have very little usage of it AFAICT anyway. What are our alternatives? Just write regular shell scripts to test our flows?

[2020-01-23 23:32] prologic commented on #6967
I _have_ to wonder how folks are expected to do any kind of Development on RHEL 8 / CentOS 8 ? I mean we're going to have to figure this out ourselves and we intend to solve many "build" issues by providing Binary Packages in general (See: #7826)

I _think_ a better upstream bug report to link to is this one:

- https://bugs.centos.org/view.php?id=16626

[2020-01-23 23:59] yasharne opened #7842 "netdata out of disk space time says problem fixed when disk is full"
##### Bug report summary
As you can see in this screenshot netdata says the problem of out of disk space is solved by 2:44:
![image](https://user-images.githubusercontent.com/7656049/73034077-290dc080-3e59-11ea-8c1b-ea2e31e5f543.png)
whereas the disk free space is zero on that time:
![image](https://user-images.githubusercontent.com/7656049/73034112-46428f00-3e59-11ea-82a6-6e842d68d06c.png)

#####

[2020-01-24 01:49] tnyeanderson commented on #7671
I personally think they should be for reference in the repo, not installed in `/usr/share`.

[2020-01-24 02:12] prologic commented on #7831
Possibly related #6432

[2020-01-24 02:32] prologic opened #7844 "Install the improved SystemD Unit file on systems with SystemD v235+"
##### Feature idea summary

This to remind us that we _should_ take advantage of the work done in #7790 (_thank you @amishmm_) and actually install/ship the improved SystemD Unit file on systems that have SystemD v235+

We need to support both at this stage as we have significant systems on older SystemD.

##### Expected behaviour

Install the _appropriate_ SystemD Unit file depending on what vers

[2020-01-24 02:39] #6933 closed

[2020-01-24 05:38] prologic commented on #7292
Unfortuantely I was not able to reproduce the race condition as described by @mniestroj here.

This was my repro steps:

[code]
$ docker run -i -t --rm -v $PWD:/netdata -w /netdata alpine ./test.sh
[code]

[2020-01-24 06:33] stelfrag commented on #7807
I tried uuid_generate. It will use /dev/urandom if available. From the man page:

[2020-01-24 09:25] ilyam8 commented on #7842
Hi @yasharne

It is not really `out of disk space` alarm, it is

https://github.com/netdata/netdata/blob/f1d133190bda44504a7f55834ec626ab4e3d32ee/health/health.d/disks.conf#L64-L66

There is an alarm that calculates disk fill rate

https://github.com/netdata/netdata/blob/f1d133190bda44504a7f55834ec626ab4e3d32ee/health/health.d/disks.conf#L48-L61

and `out_of_disk_space_time` uses it

[2020-01-24 09:29] amoss commented on #7807
Interestingly the code does not match the man-page:
https://sourceforge.net/p/libuuid/code/ci/master/tree/randutils.c

If you look inside the `random_get_fd()` then you can see that it tries `/dev/urandom` first, then falls back to `/dev/random` if that fails. On Linux and FreeBSD both will be available so `/dev/urandom` will be used. I'm not aware of any systems where only `/dev/random` would be

[2020-01-24 09:53] cosmix commented on #7807
Thanks @amoss! I admit, I didn't look at the code. I don't see how `urandom` can fail, unless, as you write, it's not available. I don't know of any systems without `urandom`, and don't remember ever encountering one either. In theory there may be (legacy) systems without both (in the FreeBSD world, `urandom` is an alias to `random`)

Re: containers: I believe that (at least) docker starts with a

[2020-01-24 09:57] stelfrag commented on #7807
Yes I saw the code .. weird :-)
Ok so are we worried about code blocking and/or non unique UUIDs (per agent?)

[2020-01-24 09:59] amoss commented on #7807
I was initially worried about the potential for blocking slowing down message transmission, but it would not seem to be a problem. For collisions I'm happy that libuuid (or directly calling `getrandom()` would be fine as the probability is negligible.

[2020-01-24 10:06] underhood commented on #7840
We should support read also environment variables `http_proxy` and `https_proxy` not just our config
`http_proxy=http://USERNAME:PASSWORD@SERVER:PORT/`

[2020-01-24 10:17] cakrit commented on #7840
Nice! Though we ONLY use https of course, but sure, let's follow any conventions that exist already.

[2020-01-24 10:58] arabiran commented on #7811
Hi @ilyam8
Thank's.
But you mean netdata can not show the sum of queries for just One Day  I mean from 00:00:00 Until now?

[2020-01-24 11:19] ilyam8 commented on #7811
before/after

You need to calc absolute unix timestams/offset from now and use it in your request.

[2020-01-24 11:44] knatsakis opened #7848 "Upgrade NetData agent to version 1.21 in all of the demo sites."
##### Feature idea summary
We need to upgrade the NetData agent on all of our demosites to 1.21 with eBPF enabled.

Also, please consider adding the upgrade step to our 'Releasing the Agent' documentation (so that we are reminded to upgrade after each release) and/or automating the upgrade process.

**WARNING:** *This excludes the London demo site, which we need to upgrade _manually and not automa

[2020-01-24 12:19] #6619 closed

[2020-01-24 12:19] #7298 closed

[2020-01-24 12:19] #7299 closed

[2020-01-24 12:19] #7300 closed

[2020-01-24 12:19] #7301 closed

[2020-01-24 12:19] #7332 closed

[2020-01-24 12:53] marcelmfs commented on #14
By the way my netdata aggregator server is showing the `TCP: out of memory -- consider tuning tcp_mem` in dmesg. RAM usage and the number of used sockets (not a huge sudden increase) during these error messages seem normal, maybe there's something else leaking TCP memory?

[2020-01-24 13:16] #7798 closed

[2020-01-24 14:15] jurgenhaas opened #7850 "Monitoring Alerta"
##### Feature idea summary

Alerta (https://alerta.io) is already being supported as a channel for notifications. In addition to that it would be great to be able to monitor the health of Alerta as an application. And there are certain components that yould be watched:

- is alerta up and running: that's probably as simple as a http check and doesn't require extra development
- is the alerta api r

[2020-01-24 14:15] underhood commented on #7840
I would say it should be in following order:
[code]
not 100% sure about 2/3 order though

[2020-01-24 14:20] stelfrag commented on #7840
I agree with the order.

ENV affects the whole system, so it should be 2 and netdata.config overrides it

[2020-01-24 14:38] Ferroin commented on #7731
Do we have anything conclusive yet about how picky we want to be about disks?

A naive implementation would involve checking the contents of `/sys/block/*`, filtering by name and presence of the `removable` attribute, and then summing the total sizes reported there, which should cover what we need, but won't be very  I'm going to look into trying to use `lsblk` as well if it can be found, but that

[2020-01-24 14:44] stelfrag commented on #7731
Suggestion:
A lot of work has already be done and can be merged.

Can the disk part should be another issue that will allow us to think about it more? Thoughts?

[2020-01-24 14:46] Ferroin commented on #7731
I was planning on handling the disk part as a separate PR, but intended to have that one close this issue instead of needing a separate issue. However, if having a separate issue for it is preferred, that's fine by me.

[2020-01-24 14:50] stelfrag commented on #7731
Oh yes separate PR is just as good IMO

[2020-01-24 14:56] amoss commented on #7731
I had forgotten about the disk capacity. On linux would it not be something like:
[code]

[2020-01-24 15:02] stelfrag commented on #7731
The command Austin initially wrote is very close I think  (I added squashfs to skip the /dev/loop devices)

`df -x tmpfs -x devtmpfs -x squashfs -l --total -BM --output=size | tail -n 1`

[2020-01-24 15:12] Ferroin commented on #7731
The problem with that is you're dependent on what's actually being used off of disks, and you have to contend with stuff like LVM being involved, and the possibility of filesystems (like BTRFS) having definitions of otal capacity that don't match up with what users expect, so it's potentially horribly inaccurate (like, possibly multiple TB high or hundreds of GB low even with common storage config

[2020-01-24 15:46] ilyam8 commented on #7840
if

which sounds correct, then netdata.config should be 2, right?

[2020-01-24 16:01] underhood commented on #7739
Update about status as of now.

### Quick overview of how it works:
Way it works: small patch (~7 lines changed) to libmosquitto allowing us (netdata) to be called in place of system socket read and write calls. Websocket loop is used with libmosquitto loop mostly avoided.

### What works:
-> MQTT over WSS (yes with TLS) to Mosquitto server
-> MQTT over WSS (secure) to VerneMQ

### Stability:
Curr

[2020-01-24 16:09] stelfrag commented on #7840
Yes @ilyam8 you are correct. :slightly_smiling_face:

[2020-01-24 16:17] stelfrag commented on #7739
Excellent work @underhood!! 😀

[2020-01-24 16:41] manos-saratsis opened #7852 "Command to reload netdata configuration"
##### Feature idea summary
[Via the "service" command](https://github.com/netdata/netdata/blob/master/docs/getting-started.md#start-stop-and-restart-netdata) we can start, stop and restart a Netdata agent. The option to [reload](https://docs.netdata.cloud/health/quickstart/#reload-health-configuration) might be a useful addition to the wrapper script.

##### Expected behavior
To reload configurati

[2020-01-24 16:57] thiagoftsm commented on #7852
Hi @manos-saratsis ,

We have `netdatacli` that allows to reload `labels` and `alarms`, probably it is only necessary to call it to solve part of the problem, on the other hand, for Netdata to reload the whole configuration and reconnect to backends it will be necessary bigger changes.

Best regards!

[2020-01-24 17:14] joelhans opened #7854 "Update documentation with post-install instructions for GCP users"
Given #7786 and other feedback from users on GCP, we need to document how users can quickly fix some common configuration issues, particularly around firewalls that prevent users from accessing the Netdata dashboard.

This could also be extended with details about other platforms, but for the sake of this issue we'll document GCP and I'll research if we have documented solutions for other cloud pr

[2020-01-24 17:22] joelhans opened #7855 "Update documentation in health/quickstart.md to clarify /usr/lib/netdata vs. /etc/netdata"
@manos-saratsis pointed out to me that in the health quickstart page (`health/quickstart.md`), there's a little confusion around the differences, if any, between health config files in `/usr/lib/netdata/` and `/etc/netdata`.

Given that we don't want users directly editing the files in `/usr/lib/netdata/`, this section of the quickstart guide should be clarified to say they can _find_ they files t

[2020-01-24 17:40] ilyam8 commented on #7850
Hi @jurgenhaas

What python script are you talking about? Where could i see it?

This is alerta http api documentation

https://docs.alerta.io/en/latest/api/reference.html

please check it and tell what calls we need to use and in what order

[2020-01-24 18:16] thiagoftsm commented on #7855
This is correct @joelhans , we always expect the alarms from our users inside `/etc/netdata/health.d` .

[2020-01-24 19:49] mailinglists35 commented on #6061
Hi,

Is there currently some workaround/manual editing available to zoom out much more than the gui allows?

I definitely understand netdata is designed with short term data retention, but I was wondering if it is possible to condense even more than the currently maximum possible that the minus sign allows (for example I'd like to fit in the display the entire past hour or the entire past 24 hours

[2020-01-24 20:27] joelhans commented on #5941
Thought I'd check in to see, roughly, the progress on reducing these errors. I just got 7533, which is a lot, but significantly down from 18400+ as reported in #6664.

I'm adding some more of this cleanup to my long-term roadmap now.

[2020-01-24 20:40] ilyam8 commented on #6061
hi @mailinglists35

i think no. Actually you can zoom out manualy for whatever period you want and do it faster then pushing over 9k times on `-` button

See `after`/`before` options, they are unixtimestamps, you can calc it yourself... 😄

But it is just a snapshot, dashboard wont be updating 😢

Probably i am missing something lets ask @jacekkolasa

[2020-01-24 21:14] waldner opened #7856 "Replace dots in hostname when sending to backend"
---- Feature idea summary

If I have `hostname = server.example.com` and send metrics to a graphite backend, the `prefix.hostname.chart.dimension` schema that netdata uses results in creation of (for example) `netdata.server.example.com.cpu....` which is probably not desired. Other tools (eg collectd) offer the option to replace dots with other characters when sending to a TSDB.
See for example ht

[2020-01-24 21:39] jacekkolasa commented on #6061
No, unfortunately there is no other, hidden way... Well, fastest zooming out is probably when ALT+mouse-scroll. But i think we're getting quite close to releasing features to FE, date-range picker should come soon!

[2020-01-24 22:14] jacekkolasa commented on #7830
Hi @Tommuh, thanks for asking!

Re: 2.
There is a tricky way to force less updates - by providing small `data-points` attributes to `data-netdata` nodes. If default `data-after` is -300 (s), and you'll set `data-points=5`, then the charts will update every minute. The same thing applies to `charts` which display one single, last value (it's done this way so you can hover on dygraph chart and singl

[2020-01-25 00:20] prologic commented on #7848
Couple of refinement points here:

- Can we enumerate the list of all demo sites/machines we currently have?
- Are these managed by code today? If not let's take this opportunity to Terraform it?
  - Same as above -- We can (_if not already_) just add this to our CI/CD pipelines and fully automate it.

[2020-01-25 01:33] prologic opened #7857 "Files listed twice in RPM builds"
#### Summary

Seeing a lot of warnings about files listed twice in our new RPM build flows:

Example:

[code]

[2020-01-25 01:56] johnramsden commented on #6999
@Ferroin Right now there hasn't been a new release so I haven't been able to trigger the bug with the updater yet. I'm just waiting for a new nightly.

Not sure if it's even still wanted since a fix potentially went in #7814 ?

[2020-01-25 01:57] prologic commented on #7786
Closing in favour of #7854 where we will document this more widely for NetData running in Cloud Providers for at least AWS, Azure, GCP and maybe a few others...

[2020-01-25 01:57] #7786 closed

[2020-01-25 02:24] #7292 closed

[2020-01-25 04:29] prologic commented on #5941
Working on a a reviewdog based Github Action to run `remark-lint`: https://github.com/prologic/action-remark-lint

[2020-01-25 09:56] jurgenhaas commented on #7850
Hi @ilyam8 the python script I meant is the CLI wrapper at `/usr/local/bin/alerta` which utilises the Alerta API:

[code]

To write our own client to retrieve information from Alerta there is some documentation available at https://docs.alerta.io/en/latest/development.html#examples and their Python SDK is documented at https://github.com/alerta/python-alerta-client

So, to retrieve data for the 3

[2020-01-25 10:14] lkraav commented on #5611
As of 1.19, it's not clear from following the PR trail what's the process to overriding partial alarm parameters now?

Would love

[code]

[2020-01-25 11:33] prologic commented on #5941
So I spent some time this weekend on figuring out what we can do here. Het's what I did:

Built two Github Actions:

- https://github.com/prologic/action-remark-lint
- https://github.com/prologic/action-markdownlint

Published both to the Github Action Marketplace (_who knows perhaps they can be made useful to others?_).

Tested it here: https://github.com/prologic/bitcask/pull/126

Which you can

[2020-01-25 14:30] Steve8291 opened #7858 "Add Alarm Line: message"
##### Feature idea summary
Don't know if this has ever been suggested but I would find it very useful to be able to add messages to my alarm configs.
My reasoning for this is that I often forget what I need to adjust to fix the alarm I have set. For instance, if an alarm is triggered I would like to get the usual critical or warning message but with some text I've added like:

I realize that I cou

[2020-01-25 19:07] yasharne opened #7859 "How to disable recovered alerts"
##### Question summary
When some warning or critical alert is sent to the channel (rocketchat and slack in my case), netdata sends a recovered message once the problem is solved. I wonder if it is possible to disable these recovered alerts.

##### OS / Environment
Ubuntu 16.04
netdata v1.19.0
##### Component Name
health.d
##### Expected results
option to disable recovered alerts

[2020-01-26 00:30] admun opened #7860 "netdata install via docker lost guid after upgrade"
##### Bug report summary
I am running netdata using netdata/netdata:latest docker image, when upgrade netdata image to new version, it reports "wrong machine GUID".

Is there a way to retain GUID after container image update?

##### OS / Environment
CentOS 7

##### Netdata version

 bash-4.4# $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V
netdata v1.19.0-335-g4c6714be

##### Component Name
n/a
###

[2020-01-26 00:44] prologic commented on #7860
Yes there _is_ a way to retain the GUID AFAIK _now_. That is to use a local volume or bind mount `/var/lib/netdata` -- Both _should_ work.

e.g:

[code]

or:

[code]

cc @cakrit

And there are some related issues that are either similar or duplicates here too where this has come up before (_except I can't find them easily through the Github issue type-ahead; if I find them I'll link them alter her

[2020-01-26 00:46] prologic commented on #7860
#7265 is similar here -- specifically [my comment](https://github.com/netdata/netdata/issues/7265#issuecomment-576459927)

[2020-01-26 01:43] admun commented on #7860
Oh I see. In my case, the containers are not ephemeral but the effects the same.

Let me try to add the /var/lib/netdata mount to the container and retry.

will report back. Thanks for the quick response.

[2020-01-26 02:50] prologic commented on #7860
Don't necessarily bind-m0unt your Host's `/var/lib/` -- But either a) use a named volume with `docker volume create -d local ..` and mount that or b) bind-mount `/some/host/path/netdata` to `/var/lib/netdata` into the container.

Keen to hear how this goes for you :) -- I do this all the time for various reasons or another with Docker / Docker Swarm in general so the same concepts _should_ work.

[2020-01-26 08:42] admun commented on #7860
@prologic I confirm giving the container a /var/lib/netdata allow the GUID survives docker pull netdata/netdata:latest

I guess this is not really a bug in my case, but I think maybe documentation can use a update for this bit of info.

[2020-01-26 09:37] lopoki opened #7861 "Netdata behind nginx+cloudflare "Cannot load required JS Library""
netdata v1.19.0-336-nightly Ubuntu 18.04.3 LTS

So I'm trying to setup netdata behind nginx reverse prozy with DNS from cloudflare.
accessing https://mydomain/nd/#;theme=white;help=false gets error "Cannot load required JS Library"
So the page itself loads but empty because no JS loaded.

user_browser --> cloudflare --> server

How can I fix this?

My netdata, nginx conf:
https://docs.netdata.clou

[2020-01-26 09:40] prologic commented on #7860
I agree -- IHMO its just lacking documentation. I would live to improve this situation; and I'll make sure we do -- We just have to decide how we want to solve this for the general case -- i.e: technically by some different mechanisms of computing a "GUID" or by way of improving our packaging / documentation.

I'll keep this open for now until I've worked out which way we're going with this -- In

[2020-01-26 11:50] #7572 closed

[2020-01-26 19:55] Nextr0n commented on #1409
Hey, how did you manage to solve the problem? I cannot connect to the url:19999 either (getting the same error message on Firefox), but it works in a private window, leading me to believe it is a HSTS problem. Would you mind sharing a solution?

[2020-01-26 21:29] thiagoftsm commented on #1409
Hi @Nextr0n ,

In normal situation the error `SSL_ERROR_RX_RECORD_TOO_LONG` is due miss configuration on server side or HSTS, please, try one of the following actions:

1 - Case your Netdata has a TLS certificate, please, verify whether Netdata has permission to access the certificate.
2 - Case it does not have, it can be at least 6 different possibilities related to Firefox configuration, for mor

[2020-01-27 07:57] jurgenhaas commented on #7850
Just did some tests and using `get_history()` is not the correct function to retrieve currently open alerts. The correct function call should look like `client..get_alerts([('status', 'open')])`

[2020-01-27 09:25] startryst commented on #7775
Also, another request is to list all different nodes the real-time traffic distribution, like for example tinc server A is use for client B, C, D, what's the B, C, D traffic usage in real-time monitoring...

[2020-01-27 09:52] amoss commented on #7807
Removing the estimate as the definition of this task has changed completely during the sprint.

[2020-01-27 09:55] Tommuh commented on #7830
@jacekkolasa thank you for your reply.

**2.**
I will try the data-points trick.

**1.**
Alright, maybe this is a good feature?

For example, set a value identifying as a group and combine those requests as one request and fetch all the data needed for those charts...

**3.**
OK :)

[2020-01-27 10:36] thiagoftsm commented on #7751
Hi @Ferroin ,

Please, could you change the `daemon/system-info.sh` to bring the `Sum of available capacity on disks`?

Thank you!

[2020-01-27 11:54] thiagoftsm opened #7863 "API info has two patterns in the code."
##### Bug report summary
After we merge the PRs that brought containers to `web/api`, it would be good to have only one pattern for the code.

##### OS / Environment
[code]

##### Netdata version

##### Component Name
Web
##### Steps To Reproduce

1. Read the code

##### Expected behavior
To have the same number of elements in the response, independent of what is running on the host.

[2020-01-27 12:24] Ferroin commented on #7848
Enumerating all of them is easy, all of them are listed on the main page of https://www.netdata.cloud/.

[2020-01-27 13:00] andrewm4894 opened #7865 "Implement TTL/Data Expire on Mongo Backend config"
It would be nice to have the option to set a [mongo ttl](https://docs.mongodb.com/manual/tutorial/expire-data/) on the mongo data as part of the config for the mongodb backend.

I believe i was able to add such an index to the existing `timestamp` field by using a mongo cli command like below:

[code]

It might be nice to be able to set such a `expireAfterSeconds` optional index in the `mongodb.co

[2020-01-27 13:01] andrewm4894 commented on #7865
@thiagoftsm not sure if i'm missing any labels on this or not. Happy to provide more info if needed.

[2020-01-27 13:03] thiagoftsm commented on #7865
For now I think we do not need more nothing, everything is right! :)

[2020-01-27 13:20] thiagoftsm commented on #7858
Hi @Steve8291 ,

The `info` line can be changed to give the message that you want, you only need to create a file inside `/etc/netdata/health.d`, case the alarms already exists, you only need to run the command `./etc/netdata/edit-config ALARM_NAME`  and change it.
Case you believe our messages are not good enough, please, give us a PR with the newest messages and we will check and merge them to i

[2020-01-27 13:35] thiagoftsm commented on #7859
Hi @yasharne ,

It is not possible to disable this specific case, because we consider this as good for our users to know that the problem was fixed.

Best regards!

[2020-01-27 13:57] ilyam8 commented on #7863
it is not clear for the OP what is the problem.

Steps to reproduce 👍 😃

Os/Env is not relevant to the problem. Is it a bug btw?

[2020-01-27 14:17] thiagoftsm commented on #7863
It is not a bug, it was only to adjust the response.
We were having a response with X values when there was container and we had with (X-5) without containers.
This rule was applied only to containers, for all the other variables in the response we were setting `null` values when there was not any value, so I am bringing the same concept for the whole response,

[2020-01-27 14:17] thiagoftsm commented on #7863
About the OS, I only set it, because it is one of the fields expected.

[2020-01-27 14:23] stelfrag commented on #7742
- Need to add code to parse incoming JSON requests from the cloud

[2020-01-27 14:28] ilyam8 commented on #7863
probably this should be in the OP with examples instead of

My point that it is not clear what and why you are doing, is this a bug or not,etc.

[2020-01-27 14:36] Ferroin commented on #5941
Possibly stupid idea, but why not wrap the linter in a script that looks for warnings in the output and exits with an exit code other than 0 if it finds any?

[2020-01-27 17:31] BH1NBN opened #7867 "How do I customize the data?"
I have some data obtained in my own way
{"Cpu0": {"total": "17367161", "usage": "1148016"}, "cpu1": {"total": "17960729", "usage": "126202"}, "cpu2": { "Total": "17951659", "usage": "133376"}, "cpu3": {"total": "17953410", "usage": "127798"}}} \ n; \ nmemInfo = {"total" : "1048576", "Free": "469552", "Used": "579024"}
Can I transfer this data to a netdata chart in real time?
If yes, what should I

[2020-01-27 17:56] ilyam8 commented on #7867
Hi @BH1NBN

You can write a python.d module to get/process this data and convert it into charts

Check this
https://docs.netdata.cloud/collectors/python.d.plugin/#how-to-write-a-new-module

[2020-01-27 17:57] ekexcello opened #7868 "documentation on phpfpm plugin confusing"
##### Question summary

Trying to interpret PHP-FPM Request Memory graph. Searches on this word combination points to netdata code only, attempt to find explanation on https://docs.netdata.cloud/collectors/python.d.plugin/phpfpm/ failed as documentation on that page seems to be outdated as it describes only first 3 graphs the module creates. Unclear things are
- What's shown in fact on the graph?

[2020-01-27 18:17] ilyam8 commented on #7868
Hi @ekexcello

Yes, documenation is outdated 😅

About memory, see

min - min value among all processes
max - max value among all processes
avg - average = sum / count

[2020-01-27 18:37] joelhans commented on #6787
This was actually fixed by #7688. Closing!

[2020-01-27 18:37] #6787 closed

[2020-01-27 19:02] ekexcello commented on #7868
Thank you for explanation, @ilyam8
BTW, won't it be good to rename graph from "Request memory" to "Last request memory" in that case?

[2020-01-27 19:08] thiagoftsm commented on #7863
Considering the explanation given at https://github.com/netdata/netdata/pull/7864#issuecomment-578783031 , I am closing this issue.

[2020-01-27 19:08] #7863 closed

[2020-01-27 21:02] candrews opened #7869 "Fails to build with `-fno-common` / GCC 10"
##### Bug report summary
gcc-10 and above flipped a default from -fcommon to -fno-common: https://gcc.gnu.org/PR85678

netdata currently fails to compile when given the CFLAG `-fno-common`:
[code]

Here's the the build log showing the failure:
[net-analyzer:netdata-9999:20200127-204109.log](https://github.com/netdata/netdata/files/4119330/net-analyzer.netdata-9999.20200127-204109.log)

Here's some

[2020-01-27 22:15] thiagoftsm commented on #7869
Hi @candrews ,

I was studying the compilation logs now and I have few questions for you:

1 - I verified that you are linking with `json-c`, what is the `json-c` version that you have installed?
2 - I also could see that Gentoo has the same gcc version that I am using on Slackware, please, can you give us the output of `gcc -v`?  I also suspect that the final binary can be missing some option.

B

[2020-01-27 22:28] candrews commented on #7869
1. json-c version is 0.13.1
2. ``` # gcc --version
gcc (Gentoo 9.2.0-r3 p4) 9.2.0
Copyright (C) 2019 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. ```

You can see this problem in Travis CI at #7870 (it's not a Gentoo specific problem, it happens whenever `-fno-co

[2020-01-27 22:33] thiagoftsm commented on #7869
I understood the problem, I saw your PR, but I found interesting the fact that I do not have the problem using the same libraries and the same compiler, this was the motive I made the questions.

I will request a final test for you, please, instead to use:

[code]

could you compile with the following options:

[code]

Best regards!

[2020-01-27 22:46] candrews commented on #7869
That works, which is expected, as `-fno-common` isn't explicitly set and I'm not using >=GCC 10.

[2020-01-27 23:01] thiagoftsm commented on #7869
Thank you, this is what I wanted to confirm!
I also compiled Netdata with -fno-common, so let us wait the `sre-team` moves in front with your PR.

[2020-01-27 23:02] cakrit commented on #5611
Yes, that's what we did instead, added notification silencers. It's been a while since that was deployed definitely long before 1.19.

[2020-01-27 23:10] cakrit commented on #7860
Let's add the instructions to mount additional volumes for the following:
- `/var/cache/netdata` - Database Engine, persist metrics
- `/var/lib/netdata` - GUID, alarm log, private registry, notification silencers config
- `/etc/netdata`  - User config (see also https://github.com/titpetric/netdata#adding-custom-alarms-charts-and-configuration-overrides)

Perhaps even do a PR on `titpetric/netdata`

[2020-01-27 23:15] mateon1 opened #7871 ""System RAM used" metric uses confusing denominator in formula"
##### Bug report summary
Note: this is NOT #3381 (but involves the same metric) - this issue refers to the metric being confusing even outside of a container.

---

The formula for calculating the memory use is either wrong, or at the very least confusing.
`system.ram.ram_in_use` uses the following expression:
[code]
with `$used_ram_to_ignore` being the ZFS arc size, and documented as "memory that

[2020-01-28 00:07] pree-t1 commented on #7854
Sorry for the delayed response.
In front of each google cloud instance, there are three vertical dots, right click on that and select `Network interface details`. Then select `Firewall rules`. You can create a new firewall rule then.
Here is the link for reference: https://cloud.google.com/vpc/docs/using-firewalls

[2020-01-28 03:50] prologic commented on #7860
Yes! 👍

We have #7819 to import those improvements which will also include improvements for this specif issue too.

[2020-01-28 04:14] prologic commented on #7848
Well I have access to the machines now Thanks @knatsakis -- We can at least enuemrate what they're all running now :)

[code]

[2020-01-28 04:16] prologic commented on #7848
Unless there's a special reason we need to run different versions for some reason or another (_eg development/testing purposes_) I'd just Terraform this and stick it into out CI/CD flows so they're always kept up-t-date. Developers are always free to spin up their own temporary machines for whatever reason and if we need to make this simpler we will :)

[2020-01-28 04:25] prologic commented on #7848
In addition; we should also properly manage DNS entries for these machines as well as the CloudFlare resources in front of them. Right now we have to do manual SSH configuration individually to get to the right machines.

[2020-01-28 04:33] prologic commented on #5941
Oc course we can do that -- But that's largely what ReviewDog was written to do. It works quite well. It has the added benefit of doing in-PR reviews (_which we can't do with our forking model at this time -- until Github figure out a way to support this without violating security concerns_); but also keeps the output all consistent anyway.

But of course I can just write some hacky shell script G

[2020-01-28 05:29] prologic commented on #7869
@thiagoftsm Adding this options fails in our CI/CD build environments too -- so I don't its specific to @candrews 's environment per se.

[2020-01-28 05:30] prologic commented on #7869
I don't think we can merge the PR as-is. it currently breaks our builds. See my reply on the PR.

[2020-01-28 05:44] prologic commented on #7473
@mmangione Would we be able to schedule some time with you over a call or Slack/IRC/Messenger/Signal/whatever to help fix/resolve this? I'm still having a hard time reproducing this on any pfSense environment I can produce; but I'm convinced there is some subtle differences.

[2020-01-28 06:14] BH1NBN commented on #7867
@ilyam8
 I know a little about python but I'm not very proficient! Is there an easy-to-understand example? I want to refer to it! I tried to understand the connection you provided, but I don't know how to start writing.

[2020-01-28 06:17] ilyam8 commented on #7867
the link i gave you is a good place to start

take a look at this module as an example

[2020-01-28 06:19] BH1NBN commented on #7867
@ilyam8
Thank you for your guidance. I also saw your example, I will try to write an example to run! thank you for your reply!
https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/example/example.chart.py

[2020-01-28 06:20] ilyam8 commented on #7867
Actually it depends on the way of gathering data. If you use http req then `dnsdist` is a corrcet example.

[2020-01-28 06:25] BH1NBN commented on #7867
@ilyam8
1. My idea is that python can access http requests
2. Get the result and present it in a netdata chart

[2020-01-28 09:18] ibantxo opened #7872 "disk_usage missing in varnish stats"
##### Question summary
When "SSD disk" is used as cache storage, I cannot find "disk usage" in the stats.
Similar to "Memory_usage", is it possible to get the "Disk Usage"?
##### OS / Environment
Ubuntu Server 18.04
netdata v1.9.0
varnish v.6.3.1
##### Component Name
python.d/varnish
##### Expected results
"disk usage" item
![image](https://user-images.githubusercontent.com/5004479/73250622-7bcbdd

[2020-01-28 10:15] mfundul commented on #7848
@prologic don't forget the LXC containers that run the netdata slaves, which are version 1.12 or something.

[2020-01-28 11:08] #4696 closed

[2020-01-28 11:11] ilyam8 commented on #4696
cockroachdb is a complex thing and grouping is hard because of it and netdata dashboard limitations, both cockroachdb (built-ing) and grafana dashboards have same problem - they mix dimension with diferent units.

I did some initial grouping but it can be improved

https://github.com/netdata/go.d.plugin/tree/master/modules/cockroachdb#charts

[2020-01-28 11:20] ilyam8 commented on #7872
Hi, i think it is not related to SSD. There is not `disk usage` chart at all.

Does `varnish` exposes disk usage statistics?

Varnish collector uses `varnishstat - 1` command to gather metrics.

[2020-01-28 11:21] ilyam8 commented on #7867
Then example from [my prev post](https://github.com/netdata/netdata/issues/7867#issuecomment-579097780) is nice. You only need to replace charts and add a little bit of processing.

[2020-01-28 11:55] thiagoftsm commented on #7772
This issue was finished, we already have the basis for the charts and the new collector will move in front improving the charts and bringing new features for Netdata.

[2020-01-28 11:55] #7772 closed

[2020-01-28 11:58] thiagoftsm opened #7873 "eBPF process and Apps.plugin integration"
##### Feature idea summary
We already have a global vision of what is happening with process, but it would be interesting to have the same vision per process group, so we need to do integration with eBPF plugin.

For while we are working with these possibilities to move in front with the integration:

1 - Shared Memory: Here we will create a common memory region between `apps.plugin` and `ebpf.plu

[2020-01-28 12:33] candrews commented on #7869
Yes, this PR should not be merged right now.

My intent is for this PR is twofold:
1. Demonstrate in a clear, reproducible fashion on netdata's own systems (so it's clear that the issue is not distro related, for example) that netdata currently fails to build with the `-fno-common` CFLAG which will be set by default in GCC 10 (so in GCC 10, no explicit CFLAG setting is necessary - netdata fails by

[2020-01-28 12:37] Ferroin commented on #7869
To clarify so nobody has to follow the links about the fix, the issue here is that with `-fno-common`, GCC will emit assembly that uses the `.data` section for uninitialized globals instead of the `.bss` section, which results in the duplicate definition errors seen in the first comment when there are multiple definitions of the same global variable.

The correct fix is, as documented in link to t

[2020-01-28 13:08] davent opened #7874 "dbengine files not deleting"
##### Bug report summary
Old dbengine files are not being deleted. The /var/cache/netdata/dbengine directory is filling out of control due to old files not being cleaned up/deleted. Once this occurs new files are created but all existing files remain slowly filling the disk.

The old files will be cleaned up on restart of netdata.

A successful creation and deletion of the dbengine files prior to

[2020-01-28 13:36] mfundul commented on #7874
@davent there has been a bug with identical behaviour that has been fixed before. You should upgrade to the latest code and see if this fixes the problem for you.

[2020-01-28 13:36] amoss opened #7875 "Remove global declarations from header files."
##### Bug report summary

Netdata will not build with `-fno-common` set. This is because of the following global variable declarations in header files:

[code]

Please work out which translation these should be declared in.
* Move the declaration into the C file.
* Insert `extern` defs into any other C file that access it.

##### OS / Environment
All.

##### Netdata version
All.

##### Component N

[2020-01-28 13:38] amoss commented on #7869
Ok, so after the new issues is fixed and merged we will retest this PR so that it can be merged. @candrews Thank you for pointing this out, it will save us a lot of trouble in the future.

[2020-01-28 13:39] davent commented on #7874
@mfundul I could not find any bugs like this. Please could you provide the the issue number so that I can test the version containing the fix please?

[2020-01-28 14:09] mfundul commented on #7874
@davent the commit version you should test is anything newer than #7565
It is kind of complicated to keep track of what exactly happened with the connected issues, but you can examine the description if you like.

[2020-01-28 14:14] thiagoftsm commented on #7875
It is ready waiting for review!

[2020-01-28 14:26] davent commented on #7874
@mfundul I do not see a direct relation between the issues I witness and that merge but maybe still related?

As this fix is unreleased atm it will be harder to test as we are only seeing the issue on a handful of servers out of thousands. Therefore I will need to wait for the next release containing this branch before I can safely upgrade enough machines to see if it has any affect.

[2020-01-28 15:27] ilyam8 commented on #7868
Hm, fixing chart titles i realized that we are taking into account only processes in `idle` state, which makes sense for:

- last request cpu
- last request memory

because for both metrics

Which is not the case for `request duration`

in the #7876 i changes chart title accordnig to current logic

But

i think we dont need to skip idle state processes calculating request duration average. What do

[2020-01-28 15:37] #7875 closed

[2020-01-28 16:01] #7868 closed

[2020-01-28 16:05] mfundul commented on #7874
It's related based on private logs that I examined, but there is no public visibility unfortunately. You could try the nightly builds to test this, or wait, your choice.

[2020-01-28 16:33] ilyam8 opened #7878 "outdated docs: stale info about supported collectors"
##### Bug report summary

[Removing](https://github.com/netdata/netdata/pull/7853) `unbound` python module from the docs i noticed that following md files are outdated:

-   [/README.md](https://github.com/netdata/netdata/blob/master/README.md)
-   [/docs/what-is-netdata.md](https://github.com/netdata/netdata/blob/master/docs/what-is-netdata.md)
-   [/docs/Add-more-charts-to-netdata.md](https://gi

[2020-01-28 17:42] ekexcello opened #7879 "SQL queries statistics"
##### Feature idea summary
In order to analyze behavior of mysql engine, it would be helpful to have a chart displaying how quick response mysql provides, including
* number of queries in processlist (**_Cp_**, can be also split into client queries and engine processes)
* time to fetch processlist (**_Tp_**), uS
* longest running query time withing running queries (**_Ts_**), S

This can help to i

[2020-01-28 17:57] thiagoftsm commented on #7859
@yasharne I am closing this question, but be free to reopen case the doubt was not solved.

Best regards!

[2020-01-28 17:57] #7859 closed

[2020-01-28 18:13] underhood opened #7880 "Integrate MQTT/WSS code from SPIKE #7739 with @stelios ACLK work"
The SPIKE #7880 (code in https://github.com/underhood/netdata/tree/mqtt_lws) result was successful but need to be merged into the code in a deployable way.

* The PR from @stelfrag's work on the application-layer needs to be merged first.
* The PoC code from the spike needs to be integrated in Netdata on top of this code.
* Any changes to netdata/mosquitto that result during #7740 need to be updat

[2020-01-28 18:56] jacekkolasa commented on #7830
hey @Tommuh, i actually missed one attribute which we have especially for this case, called obviously `data-update-every`, which will override all other settings.

Re: 1, could you check what is your setting under `NETDATA.options.current.concurrent_refreshes;`? Setting it to `true` should actually keep sending synced requests, maybe that will fix your problem?

[2020-01-28 19:37] joelhans opened #7881 "Improve updating docs (UPDATE.md) with per-method instructions"
During the big overhaul of installation docs (#7841), @Ferroin pointed out some issues with the document about updating Netdata. The product team has recently informed me that we'll need a very concise and up-to-date document about updating Netdata agents to help users access Netdata Cloud once the current entrypoint (Nodes View) is disabled.

This document should contain specific update methods f

[2020-01-28 20:52] cosmix commented on #7861
Possibly related to #7641 cc @jacekkolasa @thiagoftsm @amoss

[2020-01-28 20:59] cosmix commented on #7831
Hello @CSawyerLDN,

We do not currently have plans for a configuration UI on the agent, but we are going to offer a number of UI-based features on our Netdata.Cloud platform later this year. While you cannot do this from the UI, you could easily both disable the collectors and/or create a custom dashboard (https://docs.netdata.cloud/web/gui/custom/) where you'd only choose the charts you're intere

[2020-01-28 21:04] #7708 closed

[2020-01-28 21:15] thiagoftsm commented on #7869
Thank you @candrews , we merged your PR after we fix the error.
I will close this issue, but feel free to reopen!

[2020-01-28 21:15] #7869 closed

[2020-01-28 21:20] manos-saratsis commented on #7855
@joelhans I would add instructions on how to setup your preferred editor with `edit-config`.

[2020-01-28 21:31] prologic commented on #7848
Do not know about this (_thanks!_) -- Can you help me understand; Why are we doing this? Why LXC? What are these other LXC-managed instances used for? Thanks 😀

[2020-01-28 21:33] ilyam8 commented on #7879
hi @ekexcello

Could you share output from suggested request?

[2020-01-28 21:38] joelhans commented on #7878
I agree 100% we should have a single comprehensive list of collectors, and it should probably not exist in any of those 3 files you listed. I'd prefer for it to exist somewhere else, maybe `collectors/collectors.md` or `collectors/list.md`, and it would be a dedicated page just for listing all the collectors. It's kind of like what we do with the distribution support matrix.

To your points exactl

[2020-01-28 21:45] ilyam8 commented on #7878
I dont really get what purpose `Add-more-charts-to-netdata.md` serves. How to write a collector?

[2020-01-28 22:33] prologic commented on #7290
Hi @masterkain -- Apologies for the delay in responding to this issue. Are you still experiencing issues with this? I had a look and we don't seem to have published (_or we removed it_) a `v1.12.0-rc2` tag for our Docker images in [Docker Hub repo](https://hub.docker.com/r/netdata/netdata/tags?page=1&name=v1.12.0)

Considering the latest version is also `v1.19.x` I'd also recommend upgrading if yo

[2020-01-28 22:37] prologic commented on #7347
@jacekkolasa What's the state of jQuery in the NetData Web component these days? Is this still an open issue or is jQuery being actively replaced in favour of something else? I'll remove the "Needs Triage" in the meantime. Feel free to close if old/obsolete.

[2020-01-28 22:38] prologic commented on #7347
Related #7348 -- Same questions/comments.

[2020-01-28 22:41] prologic commented on #7374
@jacekkolasa Is this something we can work on or plan to work on in the near future? I haven't played with this aspect of the NetData UI yet myself.

[2020-01-28 22:43] prologic commented on #7380
Hi @RealKelsar ; Apologies for the late reply to your issue.

Can you help me understand what you mean by:

I understand mostly the gist of the rest of what you're saying but not this "prefix" bit and link generation?

[2020-01-28 22:46] prologic commented on #7454
@Helios-23 Apologies for the late reply. Are you still experiencing issues with this even with the latest version `v1.19.x`? What OS / Distro and version of NetData were you experiencing this issue with?

[2020-01-28 22:50] prologic commented on #7474
Hi @BH1NBN Apologies for the late response. Have you already tried our [Installing NetData with kickstart.sh](https://docs.netdata.cloud/packaging/installer/methods/kickstart/) method?

We do already support building NetData on non-x86 architectures and our Docker Images already support this as well. I don't have access to the exact hardware platform you mention; but we are also actively working o

[2020-01-28 22:56] prologic commented on #7657
Hi @Saruspete ; Apologies for the late reply!

@Ferroin @ilyam8 (_and others_) I know we've done a bunch of work amending our Github Issue templates. Is this enough? Should we go to the effort of building such a script/tool or park this?

Long-term I feel that we _may_ need this anyway -- especially once we consider Windows support -- And writing a tool (_say in Go for portability reasons and just

[2020-01-28 23:01] jacekkolasa commented on #7347
@prologic it will be updated very soon when we'll replace dashboard with rewritten version in https://github.com/netdata/dashboard

[2020-01-28 23:02] prologic commented on #6999
@Ferroin Let's get this refined and someone on it to fix the underlying root cause here (_if still relevant_).

[2020-01-28 23:03] jacekkolasa commented on #7374
it's a nice idea, thanks for asking, i'll keep it in the backlog!

[2020-01-28 23:19] ilyam8 commented on #7657
At some point yes 😄

[2020-01-28 23:21] #7141 closed

[2020-01-28 23:48] thiagoftsm commented on #7861
Hi @lopoki ,

When I worked with nginx as reverse proxy, I used a configuration more or less like yours, but I had the following differences:

[code]

In my case, I had Netdata with SSL certificate, so it could not be 100% like yours.

Best regards!

[2020-01-29 00:03] #7295 closed

[2020-01-29 00:50] thiagoftsm opened #7884 "Software life cycle"
##### Feature idea summary
We are working to bring an eBPF collector that monitor the life cycle of processes running on the computer. This collector will monitor all IO operations, thread creations and software end.

- [x] A new configuration file for this collector
- [x] Convert the unique eBPF collector to 2 eBPF collectors: Kprobe and Kretprobe
- [x] Split the current chart that monitors `_do_

[2020-01-29 00:53] thiagoftsm commented on #7884
An example of configuration file for this specific collector:

[code]

[2020-01-29 01:02] thiagoftsm opened #7885 "Extend monitoring process to hardware level on Intel [SPIKE]"
##### Feature idea summary
The new eBPF collector responsible to monitor process is already monitoring calls for syscalls that allow us to monitor IO, process creation and process end, but eBPF also allows to monitor hardware information that can be very useful to monitor process behavior.

##### Expected behavior

This spike should give the following output :

- [x] What can be collected via eBPF

[2020-01-29 01:17] thiagoftsm opened #7886 "Socket per process"
##### Feature idea summary
After we start to monitor IO per process, it is also interesting to expand this concept to the other eBPF collector (Network viewer) in development, we expect to have the following features with this collector:

- [x] Charts per process: It won't be visible for while, but internally all the statistic information will be grouped using the PID.
- [x] IP range specified tog

[2020-01-29 01:20] fatt0ny opened #7887 "Bluetooth interfering with netdata"
##### OS / Environment
Archlinux
netdata: v1.19.0

##### Question summary
As soon as a device (Logitech harmony hub) connects via bluetooth to the host system i am experiencing the following  errors...

netfilter last collected secs = 00:00:11 ago
ipv4 udperrors last collected secs = 00:00:11 ago
ipv4 tcphandshake last collected secs = 00:00:11 ago

These errors continue until the bluetooth device

[2020-01-29 01:20] thiagoftsm opened #7888 "Stack trace per process [SPIKE]"
##### Feature idea summary
eBPF allow us to monitor Stack, it will be interesting to bring this kind of information for the developer log when some error happens.

##### Expected behavior
It is expected to have the roadmap to bring stacktrace to Netdata.

[2020-01-29 06:44] mfundul commented on #7848
I know is that there are some scripts in the netdata-demo-site that set-up a server automatically. These scripts set-up LXC containers to create a streaming scenario with netdata master and slaves. I also know that @cakrit wants all netdata versions updated, that is both the master netdata binaries and the slave netdata binaries.

In my opinion those scripts need to be rewritten to maybe use docke

[2020-01-29 06:56] prologic commented on #7848
It _might_ actually be valuable to do this; so yes maybe.

[2020-01-29 06:59] mmangione commented on #7473
@prologic Yep. I can hop on any of the above. Whichever is most convenient. My evenings are usually pretty good. What does your schedule look like?

[2020-01-29 07:06] ibantxo commented on #7872
That's correct. It is not related to SSD. It is related to HARD DISK. I am using SSD because it is "big & quite fast". I cannot reach so much capacity using RAM.

Yes, varnishstat exposes disk usage statistics. In this example I have named my storage as "ssdStorage"
![image](https://user-images.githubusercontent.com/5004479/73334837-10911200-426e-11ea-8dec-450fbbe349b8.png)

[2020-01-29 08:02] ilyam8 commented on #7872
@ibantxo could you share `varnishstat -1` output (not screenshot)

[2020-01-29 08:06] amoss commented on #7738
The grooming session to finalize the details of how we do this (the lifetime of the session key and its relationship to the challenge-response) is on Friday so this task cannot be performed in this sprint. Removing milestone so that we can put it in the next sprint.

[2020-01-29 08:43] prologic commented on #7473
Pretty clear. I'll keep it open to tee up with you. I want to get this resolved! I'm `@prologic` on FreeNode and I'm hanging around on the #freebsd channel. Feel free to PRIVMSG me. Just give me a time window :)

[2020-01-29 08:53] underhood commented on #7739
The result of SPIKE is code in underhood/netdata mqtt_lws branch and patch for libmosquitto in underhood/mosquitto hook branch

[2020-01-29 09:03] #7739 closed

[2020-01-29 09:11] mfundul opened #7891 "Propose a design for persistent metadata in the netdata agent database"
##### Feature idea summary
Propose a design for persistent metadata in the netdata agent database.

Assumptions:
- All metadata fit in memory.

Requirements:
- We need a way to query and display metrics that are not being actively collected.
- This design needs to be forwards-compatible so that in the future we can add:
   - Labels at the host/chart/metric level
   - Status Information
   - Logs

[2020-01-29 09:15] mfundul opened #7892 "Propose a log format for the new netdata agent database"
##### Feature idea summary
 Propose a log format for the design for persistent metadata in the netdata agent database in #7891

[2020-01-29 09:18] mfundul opened #7893 "Discuss pros and cons of the new database log format"
##### Feature idea summary
Discuss the pros and cons of the new database log format versus checkpointing and compaction. Examine the performance trade-offs and decide what will be the way forward.

[2020-01-29 09:48] ilyam8 commented on #7887
Hi @fatt0ny

Have you checked netdata error.log during the problem?

[2020-01-29 09:52] ilyam8 commented on #4696
will be available when https://github.com/netdata/netdata/pull/7882 is merged

[2020-01-29 10:41] ibantxo commented on #7872
MGT.uptime               92971         1.00 Management process uptime
MGT.child_start              1         0.00 Child process started
MGT.child_exit               0         0.00 Child process normal exit
MGT.child_stop               0         0.00 Child process unexpected exit
MGT.child_died               0         0.00 Child process died (signal)
MGT.child_dump               0         0.00 Chil

[2020-01-29 11:25] RealKelsar commented on #7380
Hi @prologic,
I think I meant to make the whole Host + URL Part configurable, like beeing able to define the dashboard would be reachable via this Host and Path, while Netdata itself does not need that.

Basically i called it Prefix because it would prefix the Netdata internal URLs, like if the Netdata Master itself would be

[code]

With a 'prefix'([]) it could be:

[code]

[2020-01-29 11:41] ekexcello commented on #7879
Hello @ilyam8

Not sure that I understood you right.
Now I have only text files generated based on this query, in the form of table they would look like:

[code]
It would be heplful to have these table as a graph.

These columns are created every 15 seconds based on mentioned query output in the very way I described them. Query output lines looked like (column Info dropped here):

[code]

In this

[2020-01-29 12:19] #7731 closed

[2020-01-29 12:22] Ferroin opened #7895 "Improve collection of disk info in `system-info.sh`."
The current code is known to report inaccurately in the following cases:

* APFS on macOS: Counts volumes once for each place they are mounted. There is no 'correct' fix for this AFAICT, but a close approximation is not too hard (it requires a lot more filtering on the `df` output though). Estimated to be equivalent to 5-6 LoC extra to handle this case, but the result will introduce a chance of re

[2020-01-29 12:22] stelfrag opened #7896 "ACLK Integration with cloud and WSS"
This issue will deliver the actual ACLK connection based on the revised design.

- Handle the initial agent connection and reconnection on failures
  - Certificates for user / pass decryption
  - Challenge response with the cloud
- Handle the WSS upgrade code
  - Integrate with the libmosquitto library
    - Handle the mosquitto local fork build and own changes to the code
  - Integrate libmosquit

[2020-01-29 12:27] ilyam8 opened #7897 "[discussion] external data collection 2.0"
### Feature idea summary

This is about data collection written in go (our plan is to move almost all application monitoring in go).

Netdata **plugin output is charts** (see [docs](https://docs.netdata.cloud/collectors/plugins.d/#external-plugins-api)).
Plugin:
- creates charts
- updates charts

Chart creating:

[code]

Chart updating:

[code]

As a result collection and charts managing are highl

[2020-01-29 12:34] Ferroin commented on #6999
With #7814 being merged, it's going to be non-trivial to reproduce this long term. I'd still kind of like to get this fixed eventually, but it shouldn't be affecting users anymore.

Given that and the fact that we don't currently know what exactly is causing this, I'm dropping the priority to low and adding the 'needs triage' flag.

[2020-01-29 12:37] Ferroin commented on #7657
Agreed, it's not unusual for people to have no idea how to get the info we're likely to want on Windows.

[2020-01-29 12:47] Ferroin commented on #7885
We need to remember to keep the hardware-level stuff optional, and probably off by default. It significant potential to cause performance issues and/or interfere with other tools.

[2020-01-29 12:47] amoss opened #7898 "Check the final state / integration of the host labels tasks."
#### Summary

The work for the host labels was split into many pieces, and each one was tested individually. We need to run through a final series of tests to check that they all integrate successfully and demo the finished result.

#### Expected Outcome

Each of the individual cases for host labels needs to work:
* Config file specified labels
* Auto-detected labels
* Labels supplied through dock

[2020-01-29 12:58] ilyam8 commented on #6151
Why havent we removed them so far? @Ferroin wy didnt we merge https://github.com/netdata/netdata/pull/4104 ?

we could use same logic as in python plugin

https://github.com/netdata/netdata/blob/f5a043ce21642a68c7bef7363163d308edd97074/collectors/python.d.plugin/python.d.plugin.in#L128-L139

[2020-01-29 13:03] amoss opened #7899 "Docker files for dev / testing."
#### Summary

One of the problems that we face in reviewing PRs is that there are many complex configurations for Netdata that are difficult to setup and use for testing. The current approach is to use a set of VMs that contain various OS configurations, Netdata installs and all of the other tools that we need for a full monitoring stack. The problem with this is that it is not robust, easy to mai

[2020-01-29 13:03] amoss commented on #7741
Closed in favor of #7899.

[2020-01-29 13:03] #7741 closed

[2020-01-29 13:05] amoss commented on #7899
Uses a re-written version of the Dockerfiles from #7754 - will close that and clean up.

[2020-01-29 13:23] Ferroin commented on #7887
Note that this is probably not Netdata specific. The normal cause for gaps like this is that the system can't keep up with the incoming data that needs to be processed, which means that other software might be affected too.

Most likely root cause is a combination of lots of Bluetooth traffic from the connected device combined with efficiency issues in whatever drivers or software are handling thi

[2020-01-29 13:33] #7729 closed

[2020-01-29 13:50] cakrit opened #7900 "Compilation error"
Compilation of latest netdata failing on Ubuntu 18.04 with cmake (via CLion)
[code]

[2020-01-29 13:58] Ferroin commented on #6151
@ilyam8 Details are present in the discussion. The quick explanation is that we have a crappy updater script that doesn't remove the files that the previous version installed which weren't included in the new version, so we have to do rather stupid handling for the old collectors that are being removed.

Overall, I'm of the opinion right now that _that_ needs fixed first, and then we can do exactl

[2020-01-29 14:00] ilyam8 commented on #6151
Yes, i know, but it doesnt stop us to deprecate python collectors (hardcoded logic in orchestrator).

[2020-01-29 14:00] Ferroin commented on #7899
This is on the list of things to do in the near future for the SRE team once we have the binary packaging stuff working correctly.

[2020-01-29 14:04] Ferroin commented on #6151
That doesn't really help us much here though. We already have the relevant collectors disabled by default, the issue is that we can't _remove_ them completely, because the files stick around after an uninstall. That's why we still need the line for `unbound` in the Python collector too for that matter.

Yes, we can remove the files, have at it if you want to do so, but the updater needs fixed too

[2020-01-29 14:09] Ferroin opened #7901 "Updates via `netdata-updater.sh` or the kickstart scripts don't remove files left over from the previous installation."
When using our install scripts or the automatic updater script, we blindly install on top of what is already there, and then don't remove old files that were part of the previous installation but aren't included in the new installation.

Aside from potentially causing problems for users, this means that we need to be careful when we remove files from the installation process, especially collectors

[2020-01-29 14:28] ilyam8 commented on #6151
Well, you will have these lines either in charts.d.plugin or installer. I mean it is easy to add them to charts.d and remove files atm and fix installer later.

[2020-01-29 15:40] #7746 closed

[2020-01-29 15:40] #7745 closed

[2020-01-29 15:40] #7744 closed

[2020-01-29 15:40] #7748 closed

[2020-01-29 15:40] #7747 closed

[2020-01-29 15:40] #7743 closed

[2020-01-29 15:51] Ferroin commented on #7895
I'm splitting off the GEOM, BTRFS, and DM multipath parts to their own issues. Each is complicated enough to warrant it's own PR to simplify the review process.

[2020-01-29 16:16] cakrit opened #7903 "Metric Collection: Kubernetes Service Discovery"
### Target
- Enable Netdata Agent to collect metrics from apps that are running inside Kubernetes containers

### Why?
- Zero visibility. Apps/processes that are running in Kubernetes containers are not currently monitored.
- A nested architecture. Kubernetes is a container-orchestration that has a nested architecture. As a result collecting data and making sense out of them will require additiona

[2020-01-29 16:28] Ferroin opened #7904 "Properly handle DM multipath on Linux in `system-info.sh` when collecting disk sizes."
Currently, we completely ignore device-mapper devices on Linux when calculating disk sizes using the contents of `/sys/block`. This is usually a good thing, but it means that we overreport disk sizes on systems that use multipathing.

For at least the case of DM multipath (the common case), we can work around this by parsing the DM table for each DM target to see if it's a multipath target, and if

[2020-01-29 16:31] hvisage opened #7905 "[Bug]: https:// repos breaks on apt-cacher-ng setups"
##### Bug report summary
In my environment, I've setup apt-cacher-ng for all my hosts, and any https:// repos are broken when not changing the urls to https://HTTPS///<repo_address>

##### OS / Environment

[code]

##### Netdata version

 Current online installation script

##### Component Name

Installation scripts

##### Steps To Reproduce

1. setup apt-cacher-ng
2. configure apt cache to point

[2020-01-29 16:31] Ferroin commented on #7895
GEOM on BSD seems to be a non-issue after further investigation (the types of configuration that would cause problems for us seem to be rather uncommon).

[2020-01-29 16:39] Ferroin commented on #7905
This is an upstream issue with PackageCloud and should be taken up them, as we are not the people providing the script that is causing your issue.

Additionally, our packages are not currently signed (we plan to do this eventually, you can track the status of this in #7773), so it is recommended that at least for the upstream connection from your local mirror/apt-cacher instance you use HTTPS (not

[2020-01-29 17:03] amoss opened #7906 "ACLK - Packaging and deploying the custom fork of libmosquitto"
##### Feature idea summary
In order to deploy the ACLK feature into production we are using a custom version of libmosquitto that has been upgraded to support our use-case (wss+MQTT). This currently exists as a repo that we have forked. The long-term plan is to push the changes upstream and improve the external library.

In the short-term we must deploy our custom version to be able to establish t

[2020-01-29 17:32] JFMillerUSA opened #7907 "404 Not Found"
Err:1 http://security.ubuntu.com/ubuntu bionic-updates/main amd64 linux-libc-dev amd64 4.15.0-50.54
  404  Not Found [IP: 91.189.88.24 80]
Fetched 176 kB in 1s (160 kB/s)
E: Failed to fetch http://security.ubuntu.com/ubuntu/pool/main/l/linux/linux-libc-dev_4.15.0-50.54_amd64.deb  404  Not Found [IP: 91.189.88.24 80]

[2020-01-29 17:36] ilyam8 commented on #7907
Hi @JFMillerUSA could you format your message and make it more clear what is the problem?

[2020-01-29 17:42] amoss commented on #7899
That sounds good. I have a half-written version and I need it for a task in this sprint so my plan is to make it work and then hand it over for you guys to polish / maintain.

[2020-01-29 17:53] Ferroin commented on #7773
Based on doing further digging into #7905, PackageCloud appears to have native support for GPG signing packages as they are uploaded. We probably should take advantage of that.

[2020-01-29 17:55] Ferroin commented on #7773
Correction, it supports verification on upload, not actual signing. We probably want that though once we get signing figured out.

[2020-01-29 17:56] cakrit commented on #7897
As I understand the OP, this is basically describing the solution we agreed on (at a high level), in different words:

<img width="1266" alt="prom" src="https://user-images.githubusercontent.com/43294513/73382552-9320ce00-427c-11ea-9a1c-dbab450a0ca9.png">

The "Charts handling" mentioned in the OP is called "Prom metrics to charts module". As mentioned in the internal discussion, the "chart config

[2020-01-29 18:03] Ferroin commented on #7905
I've sent an upstream report to PackageCloud, and will post here when there are any updates.

I'm also going to update our install documentation to indicate what's required to use PackageCloud with apt-cacher-ng.

[2020-01-29 18:18] thiagoftsm opened #7908 "Audit for errors during system calls"
### Target
* Audit of errors during system calls

### Why?
* Logs provide context to performance metrics

### What?
* Utilise eBPF collector to collect error logs which are generated by syscalls (i.e. functions inside the kernel).

* Capture Errors
 -permission denied
 -no such file or directory

* Associate errors with additional information
    -PID = process id
    -errno = retuned error (conve

[2020-01-29 18:45] thiagoftsm opened #7910 "Describe alarm names"
##### Feature idea summary
We notice that our documentation is not according with the code when the subject is alarm name, we need to bring fixes for our documentation.
##### Expected behavior
A clarification about possible values for alarm name

[2020-01-29 19:26] ilyam8 commented on #7897
As a result - we do not receive a lot of contributions. Only Netdata users are interested in them.
It makes keeping them up to date very difficult and sometimes impossible. Which is a big problem because our user rely on netdata.

This is the main problem i would like to solve. It is a completely different way we are writing collectors actually.

My point is to **make collectors usable outside of

[2020-01-29 19:50] thiagoftsm commented on #7908
An example of configuration file for this specific collector:

[code]

[2020-01-29 20:33] fatt0ny commented on #7887
Hi thanks for your input!

@Ferroin
This makes sense, although there is only one bluetooth device connected & it is a hub for a remote control/keyboard, i would not have expected this to have high data needs.

@ilyam8
Here is an excerpt from the netdata log. I have also attached the full log.

I connected the bluetooth device @ 20:17:16
[error.log](https://github.com/netdata/netdata/files/4130549/

[2020-01-29 20:49] fatt0ny commented on #7887
Should also point out that:

2020-01-29 20:17:45: netdata ERROR : PLUGIN[proc] : Cannot read file '/sys/class/power_supply/hid-00:04:20:fd:85:ed-battery/capacity'

specifically "00:04:20:fd:85:ed" is the mac address of the bluetooth device in question.

[2020-01-29 21:09] Ferroin commented on #7887
OK, can you try disabling the power supply collector by adding the following to your Netdata config:

[code]

[2020-01-29 21:16] prologic commented on #7897
Do we mean Prometheus `/metrics` endpoints here?

[2020-01-29 21:28] prologic commented on #7773
I would fully expect the signing process to occur in our build scripts in CI/CD (_Github Actions_) and we can store our GPG key there in Github Secrets.

[2020-01-29 21:31] fatt0ny commented on #7887
@Ferroin
This has stopped the errors!! & the graphs are receiving a continual flow of data

Any chance you could explain what that has done?

looks like the bluetooth device is reporting there is a battery where there should be none
Any reason to be concerned this error is causing other errors on the system?

Thanks, really appreciate your help, this has driven me mad for 2 weeks!!

[2020-01-29 21:34] prologic commented on #7899
We _should_ be able to do this fairly easily. I've typically been doing this a fair bit already:

[code]

And:

[code]

So unless you need something drastically more complicated; I _think_ we can do this now.

I'm also a little sad that the `Dockerfile` for our upstream `netdata/netdata` Docker Image lives in `./packaging/docker/` with a bunch of complicated scripts and docs for when all you want

[2020-01-29 22:07] yasharne opened #7913 "Cannot add order dynamically to plugin: 'Service' object has no attribute 'order'"
##### Question summary
I'm writing a plugin to connect to my open nebula server and I want my `order` and `definitions` get updated every  time the script runs so I have something like this in my code:
[code]
But when I run it in the debug mode I get this error:
[code]
Is there any way to solve my problem?

##### OS / Environment
Ubuntu 18
netdata v1.19.0
##### Component Name
plugin.d
##### Expect

[2020-01-29 22:58] prologic commented on #7380
Thanks @thiagoftsm and @underhood for taking this on! My intention was to go through old outstanding issues we haven't responded to yet and get on top of them :)

Thanks @RealKelsar for the updated explanation :)

[2020-01-29 23:01] prologic commented on #6999
Did we ever manage to get a Stack Trace / Core Dump at all? We should still be able to reproduce this locally in our own dev environments and produce a Stack Trace?

[2020-01-29 23:05] prologic commented on #7901
This is precisely how the [CRUX](https://crux.nu) package manager works :) So +1

[2020-01-29 23:49] #7405 closed

[2020-01-29 23:49] #7366 closed

[2020-01-29 23:49] #7404 closed

[2020-01-30 04:28] prologic opened #7917 "Add support for CRUX with kickstart.sh / install-required-packages.sh"
##### Feature idea summary

As per title.

##### Expected behavior

- Kickstart installer works.
- Install required packages works.

----

Currently this fails with:

[code]

FYI:

 - Package manager on CRUX is: `ports` and `prt-get`
 - Arch Linux is a direct derivative of CRUX (history lesson_) 😀-- Which is why `PKGBUILD`(s) are so similar to `Pkgfile`(s) 🤣

[2020-01-30 06:23] Androz2091 opened #7919 "The package uuid-dev (or libuuid-devel) has to be installed."
##### Question summary
I'm getting the following error when I run the installer:
[code]
I tried to run the installer like this:
`./netdata/netdata-installer.sh --libs-are-really-here`
But it doesn't work.

When I run `apt-get install uuid-dev zlib1g-dev`, it shows the following:
[code]
How can I fix this problem? I setup a lot of VPS with Netdata on Debian 9 and this never happened to me...
And of

[2020-01-30 06:43] J-Siu opened #7920 "netdata IPv6 chart exist but empty"
##### Bug report summary

Installed netdata via docker-compose. IPv6 chart exist but empty.

##### OS / Environment

[code]

##### Netdata version

/ # netdata -V
netdata v1.19.0-335-g4c6714be

/ # $(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V
netdata v1.19.0-335-g4c6714be

PS: This is done inside docker-compose container: docker-compose -f netdata.docker-compose.yml exec netdata sh

##### Compon

[2020-01-30 06:44] prologic commented on #7919
Hi @Androz2091 !

Can you try to run `packaging/installer/install-required-packages.sh | tee install-deps.log` and if that fails for any reason attach the `install-deps.log` file here in your next comment? :)

[2020-01-30 07:22] ilyam8 commented on #7913
Hi @yasharne
There is no `order` and `definition` in runtime, there is only `charts`.

SimpleServie deletes `order` and `definition` in `create` (called once, right after `check`)

see

https://github.com/netdata/netdata/blob/ee0f3c0fd856778085738a287d38afbb100c0a76/collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py#L129-L171

charts

___

something like this, not w

[2020-01-30 07:32] ilyam8 commented on #7887
I dont know what is going on there, but i think in general the problem with our internal `/proc` plugin, it is a part of the netdata daemon and if it hangs all netdata hangs.

other rel issue

https://github.com/netdata/netdata/issues/6741#issuecomment-527143969

[2020-01-30 07:48] underhood commented on #7840
Currently the proxy support depends completely on the libwebsockets library and its support for proxies.

Quick Googling shows
https://libwebsockets.org/lws-api-doc-master/html/md_README_8test-apps.html
Search for `proxy support` on that page says:

Therefore it seems we have good and bad news
- Good:
    - libwebsockets does already take enviroment variable http_proxy into account
    - this can

[2020-01-30 09:19] ilyam8 commented on #7872
@ibantxo btw, there is an issue

https://github.com/netdata/netdata/issues/7872

[2020-01-30 09:34] prologic commented on #7818
@Ferroin #7918 _might_ make this obsolete where I'm taking a bit of a different approach here as we discussed in person.

[2020-01-30 10:51] Tommuh commented on #7830
@jacekkolasa  sorry for late reply.

The requests are sync now with the **concurrent_refreshes** on true.
I tried the "data-update-every", it work like a charm!

Thank you very very much!

[2020-01-30 11:31] ilyam8 opened #7921 "installer: ./netdata-installer.sh: line 890: [: : integer expression expected"
##### Bug report summary

I see this error during install

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.19.0-392-gee0f3c0f

##### Component Name

./netdata-installer.sh

##### Steps To Reproduce

1. run installer script
2. see its output

##### Expected behavior

no `./netdata-installer.sh: line 890: [: : integer expression expected ` error during install

[2020-01-30 11:44] ilyam8 opened #7922 "installer: wrong permissions for sevaral plugins"
##### Bug report summary

Plugins with wrong permissions

[code]

As a result `netdata` user cant execute those plugins

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.19.0-392-gee0f3c0f

##### Component Name

./netdata-installer.sh

##### Steps To Reproduce

1. install netdata from source as a `root` user with `sudo`

##### Expected behavior

installer sets correct perm

[2020-01-30 11:54] prologic commented on #7922
I _could_ be wrong but it might have been #7632 @ilyam8 Can you confirm that change broke this?

[2020-01-30 12:46] #7855 closed

[2020-01-30 12:55] Ferroin commented on #6999
Not that I know of, but yes, we should be able to repro this in our dev environments, since it _should_ happen also if you run the unpatched kickstart script to do an upgrade.

[2020-01-30 12:56] Ferroin commented on #7901
Not just CRUX, but almost all work this way, with varying degrees of verification that the user didn't modify the files that are to be removed before removing them.

[2020-01-30 13:06] #7766 closed

[2020-01-30 13:06] #7767 closed

[2020-01-30 13:20] Ferroin commented on #7887
@fatt0ny Netdata has a collector that queries state for power supply devices exposed by the Linux kernel which is enabled by default. Most battery-powered Bluetooth devices expose battery information through the same interface, so they'll get queried by the plugin as well. However, there are some Bluetooth devices which expose the interface to query a battery but don't actually implement it correc

[2020-01-30 14:03] #7791 closed

[2020-01-30 14:13] thiagoftsm commented on #7791
Hi @arabiran ,

@underhood brought the feature to Netdata. Thank you for you suggestion and Thank you @underhood for the amazing work!

[2020-01-30 14:26] thiagoftsm commented on #7771
An additional information, for kernels 5.4.x, some eBPF codes are compiled  only when we comment the following line

[code]

inside the file:

`/lib/modules/5.4.x/build/include/generated/autoconf.h`

[2020-01-30 14:50] #7922 closed

[2020-01-30 16:14] Androz2091 commented on #7919
It shows the following help page:

<img width="731" alt="Capture d’écran 2020-01-30 à 17 13 42" src="https://user-images.githubusercontent.com/42497995/73467657-e7fb3c00-4383-11ea-8230-fb3b2a23480f.png">

[2020-01-30 16:45] alexandernst commented on #7179
Can confirm this happening on v1.19.0 on a Debian 10. Tried to symlink the stream.conf file and got the same error: `File '/etc/netdata/stream.conf' is physically at '/var/www/webapp/conf/netdata/stream.conf', which is not in '/etc/netdata'. Aborting.`

[2020-01-30 16:58] thiagoftsm commented on #7179
Hi @alexandernst ,

Only to confirm, when you installed Netdata did  you append `/` at the end of the path?

Best regards!

[2020-01-30 16:59] alexandernst commented on #7179
I installed from the package cloud repo.

[2020-01-30 17:40] cakrit commented on #7897
This is exactly what is meant here. It's a possibility that's worth discussing further, but our first priority is to build the system that can actually ingest `/metrics` endpoints and we have some work to do there.

[2020-01-30 18:02] alexandernst opened #7928 "How to debug slave/master config that is not working or logging anything at all?"
##### Question summary

I have a simple slave/master setup. The config is as follows:

**master netdata.conf**

[code]

**master stream.conf**

[code]

**slave netdata.conf**

[code]

**slave stream.conf**

[code]

The problem that I'm having is that the master doesn't seem to be receiving the data from the slave (or maybe the slave isn't trying to send anything?). I have no clear way to say what'

[2020-01-30 19:28] stelfrag commented on #7928
Hi @alexandernst

Could you check the permissions on the `stream.conf` on the slave and make sure it is in the correct
directory?

Assuming a default installation path, it should be   `/etc/netdata/stream.conf`

Your configuration should at least give STREAM error messages on the slave (even if the master is down). For example
[code]

[2020-01-30 19:32] alexandernst commented on #7928
Oh, strange. I just checked my log again and now I see some more details. Mainly:

[code]

Current permissions (`/etc/netdata/stream.conf`)

[code]

[2020-01-30 19:35] stelfrag commented on #7928
Ok the netdata user cannot read the `stream.conf`

Please try

`sudo chown root:netdata /etc/netdata/stream.conf`
`sudo chmod u=rw,g=r /etc/netdata/stream.conf`

and restart the slave

[2020-01-30 19:41] alexandernst commented on #7928
Great! We're making progress. I applied the same permissions to the master and now I see that the slave is sending data to the master. Now it seems that both machine have the same GUID and thus the master is refusing to receive the data (¿?)

[code]

Is that something common? (both machines are AWS instances launched from the same template and at the same time)

[2020-01-30 19:45] alexandernst commented on #7928
Oh... I just saw the part of the docs that talks about the `/var/lib/netdata/registry/netdata.public.unique.id`

[2020-01-30 19:47] stelfrag commented on #7928
The error is due to the API key that is on the stream.conf (on master and slave) and as the error suggests it is the one of the master.

At the command line, you can generate a new one by typing

`uuid`

and use that at the appropriate place in the `stream.conf` in the slave and master

Restart both and you should be fine

[2020-01-30 19:49] alexandernst commented on #7928
Great! One last question. Now I see my slave twice:

![slave_netdata_dashboard_y_install_netdata_sh_—_expressjs-ami](https://user-images.githubusercontent.com/89727/73484677-07a15d00-43a2-11ea-9920-9af7cfc0784b.png)

Why is that happening?

[2020-01-30 19:52] alexandernst commented on #7928
Oh, nevermind, it was just a cache problem. I think I'm good now :)  Thank you for the excelent support!

[2020-01-30 19:52] #7928 closed

[2020-01-30 20:20] fatt0ny commented on #7887
Thank you both for your help.
Regards

[2020-01-30 20:20] #7887 closed

[2020-01-30 20:46] prologic commented on #7921
🤦‍♂️

[2020-01-30 20:55] prologic commented on #7179
I've had a quick look into this; I _think_ its something we can probably fix (_maybe_); But can someone (_preferably someone with background/context_) help me understand why we did this:

https://github.com/netdata/netdata/blob/5ecdecce05a1a0dd2317efa0b426331290f49635/system/edit-config.in#L41-L58

[2020-01-30 20:56] prologic commented on #7179
I'll create a repro case and post here later today.

Is this a common setup having `/opt` symlinked to `/var/opt`?

[2020-01-30 21:00] prologic commented on #7897
Given the discussion we had internally (_the long one 🤣_) I _think_ / _believe_ we're good here!

[2020-01-30 21:01] #7854 closed

[2020-01-30 21:02] prologic commented on #7897
Sorry by "here" -- I meant having a collector that consumes Prometheus `/metrics` endpoints.

This issue is still relevant in general in terms of decoupling our collector logic from charts and generally improving our collectors overall and making them useful to contributors beyond the context of NetData itself.

[2020-01-30 21:11] joelhans commented on #7881
I'm going to remove myself as the assignee here and let @Ferroin take the lead on figuring out how to best address the concerns he brought up with these documents as he has time. I don't have the bandwidth nor expertise to test all the various possibilities here.

[2020-01-30 21:13] prologic commented on #7919
Sorry I told you the wrong thing 🤦‍♂️

Try this:

[code]

[2020-01-30 21:13] prologic commented on #7919
I'm not even sure to be honest why our usage of the script shows everything as optional; but we only print a help/usage message when no arguments are passed. @Ferroin ?

[2020-01-30 21:19] prologic opened #7930 "./packaging/installer/install-required-packages.sh with no arguments prints usage/help"
##### Bug report summary

Discovered in #7919 I _believe_ this to be either a bug or a bug in the usage/help string of the script `./packaging/installer/install-required-packages.sh`.

[code]

##### OS / Environment

Any

##### Netdata version

Any

##### Component Name

area/packging

##### Steps To Reproduce

1. Run `./packaging/installer/install-required-packages.sh` without any arguments

####

[2020-01-30 22:01] prologic commented on #7179
Reproducer:

[code]

Produces:

[code]

[2020-01-30 22:06] prologic commented on #7179
Just commenting out the `file_is_in_path` calls fixes this;

[code]

No more problems.

[code]

So the question is why were/are we doing this in the first place? Can we just test for write-ability with `test -w /path/to/file`? and `test -w /path/todir`? I _assume_ `test` is smart enough to handle symbolic links?

[2020-01-30 22:13] prologic opened #7931 "Smoke Tests for Agent Plugins"
##### Feature idea summary

To prevent regressions like what occurred in #7632 and fixed in #7923 we should do some basic validation and smoke testing of the NetData Agent Plugins as we do for the NetData Agent itself.

Ensure they run at a basic level and appear to operate normally. This might require hitting an API endpoint or querying for a metric to ensure this or simply introspecting the agen

[2020-01-30 23:28] prologic opened #7935 "SyntaxError in netdata-updater script"
While trying to fix #7195 I noticed a bug in our updater script:

[code]

[2020-01-30 23:41] prologic commented on #7935
On current master this fails differently:

[code]

[2020-01-30 23:41] prologic commented on #7935
Ahh there we go: Same result on master:

[code]

[2020-01-30 23:45] prologic commented on #7935
Hmm

[code]

[2020-01-31 00:49] prologic commented on #7935
Hmmm 🤔 this might just be a duplicate / manifestion of #7195

During a first-time installation we see something like this twice:

[code]

^^^ This time we see a failure as described here; but it _could_ be a bug in the `netdata-updater.sh` script in the `v1.19.x` release.

Then if we manually run another update for a 3rd time things work okay:

[code]

This is what we want to get to in #7195 in th

[2020-01-31 03:07] alfredvalderrama98 opened #7936 "Cent OS Dependency problem"
##### Question summary

Press ENTER to run it >
yum install Judy-devel autoconf-archive autogen libmnl-devel libuuid-devel libuv-devel lz4-devel
Last metadata expiration check: 0:02:23 ago on Fri Jan 31 10:25:00 2020.
No match for argument: Judy-devel
No match for argument: autoconf-archive
No match for argument: autogen
No match for argument: libmnl-devel
No match for argument: libuv-devel
Error:

[2020-01-31 03:23] prologic commented on #7935
I _think_ this bug report isinvalid; but I can't prove we fixed it or can't find where/how we fixed what I was seeing here; but with my inbound PR for #7195 I can no longer reproduce this.

[2020-01-31 03:23] #7935 closed

[2020-01-31 03:36] prologic commented on #7195
This is now the end result:

[code]

[2020-01-31 04:18] prologic commented on #7936
Duplicate of #6967 and fixed by #7890 and #7918

Please help me test the fixes :) These PRs will be merged soon!

[2020-01-31 09:11] stelfrag commented on #7759
I think this can be closed. Please reopen if needed

[2020-01-31 09:11] #7759 closed

[2020-01-31 12:00] underhood commented on #7906
Overview:
- Fork of mosquitto located at (netdata/mosquitto) that needs to be pulled into `mosquitto` folder.
[code]
- it has to be built as static library. Currently achieved manually by:
[code]
Which will build mosquitto/lib/libmosquitto.a for the build process to use (this will be the core team responsibility to update the cmake and autotools build system to use that library).

[2020-01-31 12:29] Ferroin commented on #7919
I think the intent was that this could be used after initial setup of Netdata to pull in the packages for some specific collector that may now be needed on the system. I agree that the base (`netdata`) part should probably be non-optional and just be enabled by default as well.

[2020-01-31 12:31] amoss commented on #7906
This approach has a problem - it assumes that the installer is being run by a github user who has their key accessible to sshd. This is not (necessarily) true for all install methods. Take a look at `install_go` in `netdata-installer.sh` to see how to download it without needing a github key.

[2020-01-31 12:42] cakrit commented on #7366
Just a reminder that the website change is still pending. We have started a project that includes the following change to it (ETA end of Feb):

[code]

[2020-01-31 12:46] jacekkolasa commented on #7830
glad it helped!

[2020-01-31 12:46] #7830 closed

[2020-01-31 12:52] #7921 closed

[2020-01-31 12:53] cakrit commented on #7840
I guess we'll need to extend it? See https://libwebsockets.org/pipermail/libwebsockets/2015-June/001837.html

So we need yet another case to be described in our claiming process and docs, that requires cntlm to be installed. (@manos-saratsis @rduffield)

[2020-01-31 12:55] jacekkolasa opened #7940 "add feature flag for new dashboard release"
##### Feature idea summary
We want to release new Dashboard but still have an option to fallback to old version, in case of bugs or bad experience.

##### Expected behavior
- we should add a new flag (feature flag) to Netdata, called `use new dashboard`
- flag should be OFF by default, at least right now, until we test it internally
- when that flag is ON, requests to `index` (`/`) in web server s

[2020-01-31 13:19] #7872 closed

[2020-01-31 13:50] Ferroin opened #7941 "RPM builds failing due to not correctly handling cache and log directories."
Our RPM build process is currently failing due to the spec file not including explicit installation of the log and cache directories, which in turn is causing the rpmbuild process to bail at the end even though it technically works fine.

[2020-01-31 13:51] cakrit commented on #7831
@CSawyerLDN I think you're missing something. You don't need to put any of that output into your `netdata.conf`. You can just add overrides for whatever you want to change from that enormous list. So your `netdata.conf` can just have a few lines in it, just with your changes.

I seldom download the entire `netdata.conf`, I just add the `[sections]` I want to modify and the few parameters that I wa

[2020-01-31 13:57] CSawyerLDN commented on #7831
It would, but i have 859 active [sections] :/,  Are [sections] that aren't defined in netdata.conf by default "enabled = no"?

[2020-01-31 14:00] ilyam8 commented on #7920
Hi @J-Siu

These metrics are in `/proc/net/snmp6`, ensure that it is readable by netdata from the container.

[2020-01-31 14:04] sneak commented on #7366
Note that calling these “anonymous statistics” is a lie. Google Analytics receives your IP address when reporting them, which is PII.

[2020-01-31 14:20] Ferroin commented on #7771
@prologic Per discussion with @cakrit in the core team sync today, this is being bumped to high priority to be ready for the next release for at least the `kickstart-static64.sh` builds. You seem to have a better idea what needs to be done here than I do, so I'd appreciate if you could take this over (I should be fine handling the packaging stuff solo for the time being).

[2020-01-31 14:23] cakrit commented on #7831
No, the defaults are exactly what you see at `localhost:19999/netdata.conf`.

Take a look at http://london3.my-netdata.io/netdata.conf. This enormous list of sections and params can be generated without a `netdata.conf` file existing at all. If I wanted to make any changes to that machine's netdata.conf , I would certainly not download that file and go looking. Instead, I would just add changes to

[2020-01-31 14:26] Ferroin commented on #7906
Adding @prologic and myself to this, as special consideration will potentially be needed for the package builds and docker images, as well as handling of prepping the compiled static library for download.. @underhood Once you've gotten a complete build process pinned down, please ping @prologic and me either here on GitHub or on Slack so we can start on the CI parts for this.

[2020-01-31 14:39] ElleshaHackett commented on #7860
I will post my question here as it seems most related to this issue. I found out about Netdata yesterday, got so excited I deployed it on all servers today. I used docker for that.

I firstly started my docker containers according to the documentation like this:

[code]

But then of course the Docker ID would be used as hostname and after searching I noticed that I could not change the hostname un

[2020-01-31 14:52] J-Siu commented on #7920
@ilyam8 /host/proc/net/snmp6 is readable inside the container, but when I compare the content with /proc/net/snmp6 outside the container, they are very different.

Inside the container, almost everything is 0.

[code]

[2020-01-31 15:49] thiagoftsm commented on #7940
Before I start to create the PR that will bring this new feature, I will give a suggestion, can we use a more generic variable name instead `use new dashboard`? Because case we update the dashboard again next year, we won't have condition to select the dashboards only based in the word `new`, unless we are sure we will have only two dashboards running in parallel forever.

[2020-01-31 16:43] cakrit commented on #7860
@ElleshaHackett welcome to the wonderful world of Netdata!
Really impressive, how much you figured out so soon. The first thing I would do, would be to persist the machine guid, by mounting `/var/lib/netdata`, as discussed in this issue. I would also give it a new hostname, so that we can cleanly delete all the old nodes and machine guids.

With a brand new hostname and a persistent GUID, you'll o

[2020-01-31 16:47] Androz2091 commented on #7919
Here is the result for `./packaging/installer/install-required-packages.sh --dont-wait`:
[code]

[2020-01-31 17:48] amoss commented on #7873
@thiagoftsm Please explain the different options in this issue so that we can have an asynchronous discussion leading up to the grooming meeting.

[2020-01-31 18:41] ilyam8 commented on #7897
It means **ingest prometheus metrics**.

No matter how we get them:
- scraping endpoint
- importing collector as a lib and invoking its `Collect`

What we have now - bunch of collectors in the `go.d.plugin` repo.

They are coupled with charts - impossible to use outisde of netdata context.

My main point: **lets make them usable by monitoring community**. We will use consume their output.

- conve

[2020-01-31 18:42] ilyam8 commented on #7897
so yes

but lets make our collectors prometheus metrics producers

it doesnt add much cost for development

[2020-01-31 19:13] jacekkolasa commented on #7940
I was thinking that this flag will last for very short time, when we'll confirm that it's experience is better, we'll remove the old version. Especially considering changes with SSO.
But, that doesn't stop us from having different name, of course :) Do you have any suggestions? `use react dashboard`?

[2020-01-31 19:45] thiagoftsm commented on #7940
I loved this last suggestion(`use react dashboard` ), I will move in front with it. :)

[2020-01-31 22:05] #7700 closed

[2020-01-31 23:53] prologic commented on #7771
I thought as much from my Slack discussion with Timo last night :)

[2020-02-01 00:03] prologic commented on #7919
@Androz2091 Okay... Is there anything special about your Debian 9 system I should know about? I'll try to repro this locally.

[2020-02-01 00:06] prologic commented on #7366
@joelhans Can you create an issue for this to update the docs/website? (_if you don't already have one_); Otherwise I can :)

[2020-02-01 00:20] abhinav1107 commented on #2533
getting similar logs in influxdb server log.
[code]

The installation is managed using ansible and backend configuration template for netdata looks like this:
[code]
netdata version is `netdata-1.19.0-1.el7.x86_64`

influxdb version is `1.3.1-1`
[code]
and the opentsdb configuration looks like this:
[code]

are these malformed lines in influxdb log expected?

[2020-02-01 08:47] Androz2091 commented on #7919
Here are some other informations about the VPS:
[code]

[2020-02-01 10:18] prologic commented on #7919
I mostly meant if you had tweaked or customized the Debian 9 system in any interesting ways. But if you haven't; that's okay I'll just repro with a clean Debian 9 VM and see what's going on here. Thanks!

[2020-02-01 10:20] vlvkobal commented on #2533
I think you should use `hostname = vm_name`. You don't need braces around the vm_name.

[2020-02-02 10:46] J3K commented on #7919
`apt install libuv1-dev`

[2020-02-02 11:05] Androz2091 commented on #7919
It's a debian server...

[2020-02-02 15:24] kdy1968 opened #7947 "Pfsense\freebsd sysctl(vfs.bufspace...) failed: Cannot allocate memory (errno 12, Cannot allocate memory)"
##### Bug report summary

[code]

##### OS / Environment
[code]

##### Netdata version

netdata v1.19.0

##### Component Name

##### Steps To Reproduce

1. ...removed and re-added netdata, upgraded from freebsd 11.2 to 11.3
2. ...

##### Expected behavior
system.ram chart to be displayed in console

[2020-02-02 18:57] mailinglists35 opened #7948 "ram_available / mem.available calculation on linux os (kernel 3.14+)"
#### Summary
Looking at `health.d/ram.conf`, I observe the following calculation of value of available memory:

`calc: ($avail + $system.ram.used_ram_to_ignore) * 100 / ($system.ram.used + $system.ram.cached + $system.ram.free + $system.ram.buffers)`

But at the same time, modern linux kernel (since v3.14 - https://github.com/threez/ruby-vmstat/issues/16) provides the total estimated amount of ava

[2020-02-02 22:47] alexandernst commented on #6718
How is this going? Any progress doing an augeas lens for netdata?

[2020-02-03 08:04] ilyam8 commented on #6718
Hi @alexandernst no progress so far but this is still on our roadmap

[2020-02-03 08:59] cosmix commented on #7728
@setop hey. We need additional information about your environment, Netdata version and installation method before continuing. If you intend to provide this info please reopen.

[2020-02-03 08:59] #7728 closed

[2020-02-03 09:05] yasharne opened #7953 "send data with POST in httpcheck plugin"
##### Question summary
I want to check a URL with the post method, but I didn't find anything on how to pass the data in POST request, so I took a look at the `httpcheck.chart.py` and saw it using `urllib3` library in python, so I read the documentation and found out that you can pass the data to the request through the `body` variable, then I changes my `httpcheck.conf` file like this:
[code]
But

[2020-02-03 09:15] ilyam8 opened #7954 "netdata-updater.sh: bug when running on terminal"
##### Bug report summary

When `netdata-updater.sh` script running on terminal it:
- executes twice
- exits with following error

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.19.0-336-nightly

##### Component Name

`/packaging/installer`

##### Steps To Reproduce

1. run `./netdata-updater.sh` manually

##### Expected behavior

Updater runs once on terminal and exits w

[2020-02-03 09:38] ilyam8 commented on #7953
Hi, i see go version has `body` option (type - string)

https://github.com/netdata/go.d.plugin/blob/3c5c32ef40c9eab4eee20a6cb2a2f443febb9d21/config/go.d/httpcheck.conf#L109-L112

Make you body compact

use the line as body param

[2020-02-03 09:52] ilyam8 commented on #7953
@yasharne

try this patch

[code]

[2020-02-03 09:54] #7954 closed

[2020-02-03 10:16] yasharne commented on #7953
Hi @ilyam8
Thanks, this solved the problem

[2020-02-03 10:41] prologic opened #7957 "Automate the deployment of kickstart-stack64.sh to the NetData website."
##### Feature idea summary

Currently we don't seem to have this autoamted. The steps are roughly:

[code]

Ens ensure the checksums match:

[code]

This probably needs to get deployed on pushes of these scripts to the
`master` branch.

##### Expected behavior

We don't have to do this by hand.

[2020-02-03 10:50] dimitriskr opened #7958 "Issues when selecting another servers"
#### Summary
1) Shows message "Nesting of hosts is not allowed" after I change the host on my master Netdata.
2) Cannot go back

#### Details
I have 2 slave Netdatas streaming their databases to one master and it is working fine, I can see the statistics just fine.
**Steps**
When I go to the dashboard first time, it shows me the master's stats.

I click on the menu to select one of the slaves, all

[2020-02-03 12:20] ilyam8 commented on #7958
Hi @dimitriskr

i searched `nesting`, check thi topic

https://github.com/netdata/netdata/issues/5903#issuecomment-486793963

[2020-02-03 12:30] #7941 closed

[2020-02-03 12:56] ilyam8 opened #7959 "test feature req template"
##### Feature idea summary

test feature req template

##### Expected behavior

[2020-02-03 12:56] #7959 closed

[2020-02-03 13:02] Ferroin commented on #7857
Marking this low priority. I can repro it reliably, but I'm not sure what the fix might be in our case, and it's also not causing the RPM builds to fail or preventing the built RPM's from working, so it doesn't seem like much more than an annoyance.

[2020-02-03 13:32] #7953 closed

[2020-02-03 13:41] underhood commented on #7880
Work for this commit can be tracket at `underhood/netdata` branch `aclk_link_2` before it becomes an PR

[2020-02-03 14:56] ElleshaHackett commented on #7468
I currently have the same issue on one machine.

On that machine the warning is:
`netdata.dbengine_global_errors: 2875 errors`

GUI shows:
`Every second, Netdata collects 3.178 metrics on XXX, presents them in 312 charts and monitors them with 137 alarms.`

What can I do about it?

[2020-02-03 14:57] Ferroin commented on #7906
Based on limited discussion, this is going to quickly get complicated since we have to support FreeBSD, and a vast majority of CI platforms seem to think that BSD just doesn't exist. I'll be discussing this later today with the SRE team and once we've figured out how we want to handle this I'll comment here again with info on how we're moving forwards.

[2020-02-03 15:01] ilyam8 commented on #7468
hi @ElleshaHackett i see there is a fix https://github.com/netdata/netdata/pull/7777, i think it will be merged soon

[2020-02-03 15:05] mfundul commented on #7468
@ilyam8 I don't think it's related. @ElleshaHackett look at your alarms and see which one is the problematic one of the "10min_dbengine_global_fs_errors", "10min_dbengine_global_io_errors" or "10min_dbengine_global_flushing_errors". Also please check your `var/log/netdata/error.log` for any relevant messages.

[2020-02-03 15:24] BH1NBN opened #7961 "Error occurs when I run python writing plugin"
The command to run is [here](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin#how-to-debug-a-python-module)：

The result is as follows：

[code]

[Try to run the instance](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/example/example.chart.py):

Honestly, I did n’t really understand it. The plug-in I want to write should be placed in that directo

[2020-02-03 15:59] cakrit commented on #7897
??? For every collector, we need to convert it (if a prometheus exporter doesn't already exist), write the chart generation config, test, update CI/CD, look at migration, documentation and I'm not sure what else. You can do a pilot with a new collector and then migrate one, to see how much work it is.

[2020-02-03 16:18] ilyam8 commented on #7961
Hi @BH1NBN

See the info message

example module is disabled by default, should be explicitly enabled in the `python.d.conf`

[2020-02-03 16:19] ilyam8 commented on #7468
oh, ok, in my defence

the pr fixes the issue and i see `I currently have the same issue` 😄

[2020-02-03 17:02] eviemsrs commented on #7133
Our JANUARY CONTRIBUTORS are announced! Please contact us with your username and physical address to receive your gift!!!
rewards@netdata.cloud

@varyumin
@etienne-napoleone
@karuppiah7890
@kareem-elsayed
@kam1kaze
@charlieegan3
@josecv
@joshw123
@NAJIYASIGEEF
@ktsakalozos
@huzlak
@dougsland
@MansM
@startryst

[2020-02-03 17:38] #7900 closed

[2020-02-03 18:08] andrewm4894 commented on #7865
The index on the `timestamp` field would also be useful for when querying the mongo database based on timestamp. Seems like there is no index on `timestamp` by default so this would be another use case for this index.

[2020-02-03 19:23] lucasRolff commented on #7133
Hi Evanthia!

I’m @lucasrolff

Address:
Lucas Rolff
Leeuwenstraat 57C
1211ET Hilversum
The Netherlands

Thanks a lot!

Best Regards,
A happy netdata user - Lucas

From: Evanthia Moussouras <notifications@github.com>
Reply-To: netdata/netdata <reply@reply.github.com>
Date: Monday, 3 February 2020 at 20.21
To: netdata/netdata <netdata@noreply.github.com>
Cc: Lucas Rolff <lucas@slcoding.com>, Mention

[2020-02-03 19:25] cakrit commented on #7133
Please, no comments with personal information here. Just send an email to rewards@netdata.cloud.
The previous comment was deleted, I will contact you @lucasRolff

[2020-02-03 19:29] cakrit commented on #7831
Did this help @CSawyerLDN? Can we close the issue?

[2020-02-03 19:44] ilyam8 commented on #7947
i see the problem in the freebsd.plugin @vlvkobal

[2020-02-03 20:08] ElleshaHackett commented on #7860
@cakrit thanks for the feedback. Somehow the problem has solved itself. Before I tried your solution. I'm not sure how to mount which mounting point from the host to the container as the documentation seems to differ from the image. I used this:

https://hub.docker.com/r/netdata/netdata

In the docs there it seems they are mounting stuff with `/host/*`. Also it was confusing to find out that in th

[2020-02-03 20:24] spytzo commented on #7133
Sorry to intervene but please people, do not share your addresses on a
mailing list :-)

On Mon, Feb 3, 2020 at 9:23 PM Lucas Rolff <notifications@github.com> wrote:

[2020-02-03 20:30] lucasRolff commented on #7133
@spytzo thanks for then continuing to share it by quoting the whole email ;)

[2020-02-03 21:03] joelhans opened #7965 "Restructure security-related documentation"
Per an internal discussion, our documentation could do a better job of introducing users to the concept of putting Netdata behind a web server proxy to improve security. In addition, we have existing documentation that answers many common questions about Netdata's security model, but users don't seem to be able to find it easily.

Here are the immediate steps to take:

- [ ] Move `docs/security-de

[2020-02-03 21:19] ElleshaHackett commented on #7468
![image](https://user-images.githubusercontent.com/5116641/73691661-1013d380-46d3-11ea-91c7-5235b956f6f2.png)

[2020-02-03 21:24] Millificent opened #7966 "Error installing"
##### Question summary

Receiving the following error

Press ENTER to run it >
yum install Judy-devel autoconf autoconf-archive autogen automake gcc libmnl-devel libuuid-devel libuv-devel lz4-devel make nmap-ncat openssl-devel python2 zlib-devel
Last metadata expiration check: 2:58:10 ago on Mon Feb  3 19:24:23 2020.
No match for argument: Judy-devel
No match for argument: autoconf-archive
No matc

[2020-02-03 21:36] prologic commented on #7906
As discussed in our sync today; I _think_ we can do this easily with just regular SSH/Shell to a BSD VM / Machine. No need to have a CI that supports BDS natively. Also this means Github Actions works just fine if we do it this way.

Also let's be sure to document and properly decide one way or another which CI system we're going to end up using and do a decision matrix.

[2020-02-03 21:38] prologic commented on #6605
@cosmix Since we've already explored some other CI/CD systems recently and we now have a mix of Travis Ci and Github Actions I'd like to close this and consider this "SPIKE" Done.

Also FWIW between all of us we have experience in the following:

- Jenkins
- CircleCI
- Build Kite
- Drone CI
- Gitlab CI
- Travis CI
- Github Actions
- _and probably a few others_

I _think_ we have more than enough e

[2020-02-03 21:38] #6605 closed

[2020-02-03 21:40] Millificent commented on #6967
Sorry I logged this as a separate issue. Is it still broke?

[2020-02-03 21:44] prologic commented on #6967
Sorry I should wait until all the PR(s) listed here are merged before I let Github Close it by Merging :)

[2020-02-03 21:44] prologic commented on #6967
We're pretty close :) PR(s) merging soon!

[2020-02-03 21:45] Millificent commented on #6967
Is there a manual way to do it rn or best waiting for auto installer? (sorry)

[2020-02-03 21:46] mfundul commented on #7468
@ElleshaHackett it looks like it's similar after all, it's probably going to be fixed by #7777 .

[2020-02-03 21:50] ElleshaHackett commented on #7468
@mfundul thanks. Hopefully it will be fixed soon

[2020-02-03 22:06] prologic commented on #6967
Yes!

See this initial `Dockerfile.centos8`:

[code]

This is also documented in #7890

Take special note of the `(NEW)` comments above.

[2020-02-03 22:27] #6967 closed

[2020-02-03 23:53] prologic commented on #7966
Duplicate of #6967 and fixed by #7890 and #7918

Please help me test the fixes :) These PRs will be merged soon!

[2020-02-03 23:54] prologic commented on #7966
See also comments in #7936

[2020-02-03 23:58] snub-fighter opened #7967 "Does UrlService allow for API queries?"
I have my own query that functions and Im trying to utilize the UrlService instead if possible to just grab the API information.  Is this supposed to work?

[code]

[2020-02-04 00:13] prologic opened #7968 "[SPIKE]: Setup and Explore Scaleway ARM for GHA Self-Hosted Runner"
#### Summary

- [ ] Get Scaleway account and access to ARM Instances
- [ ] Setup a Instance with Self-Hosted Github Runner + Docker
- [ ] Test some of our CI with it for ARM builds (e.g: helper-images)

[2020-02-04 03:44] prologic commented on #7919
@Androz2091 Sorry I _think_ I told you the wrong thing; there's actually more arguments to be passed to get the right dependencies installed.

Can you try this:

[code]

Which _should_minimally install the dependencies required to build the agent. Let me know how that goes!

[2020-02-04 06:10] BH1NBN commented on #7961
@ilyam8
An error was prompted after changing to yes

root@DiskStation-102:/opt/netdata/sbin# /opt/netdata/usr/libexec/netdata/plugins.d/python.d.plugin example debug trace
2020-02-04 14:06:39: python.d INFO: plugin[main] : using python v2
2020-02-04 14:06:39: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/opt/netdata/etc/netdata', '/opt/netdata/usr/lib/netdata/conf.d']
2020-02-04

[2020-02-04 06:32] ilyam8 commented on #7961
It seems you changed `example` module, if you want to write your own i suggest to copy it.

`cp example.chart.py my_mod_name.chart.py`

You are writing custom module, right? If so you are the only person who knows the code.

[2020-02-04 06:38] BH1NBN commented on #7961
@ilyam8
Hello: I haven't changed anything, I copied the file directly to the following path
![QQ截图20200204143455](https://user-images.githubusercontent.com/47279146/73720009-ef439080-475b-11ea-928d-f981b68bcac0.jpg)
![QQ截图20200204143504](https://user-images.githubusercontent.com/47279146/73720011-ef439080-475b-11ea-86bb-b1a9c264460d.jpg)

[2020-02-04 06:39] BH1NBN commented on #7961
Or did I do it wrong from the start?

[2020-02-04 06:40] ilyam8 commented on #7961
@BH1NBN what are you trying to achieve?

[2020-02-04 06:45] BH1NBN commented on #7961
@ilyam8
First I want to write a plug-in that can collect my own data through python. Before that, I asked how to collect custom data for netdata. After that, you responded and provided some connections. I am following your connection and I want to try to run the plugin you gave me before and then I am making changes after knowing the process!

Maybe I'm someone who doesn't know much about python,

[2020-02-04 06:48] ilyam8 commented on #7967
Hi @snub-fighter

UrlService does http request and returns response (`_get_raw_data`).

python.d.plugin has debug mode, it will help you during developing, see

[2020-02-04 06:59] ilyam8 commented on #7961
You dont need to create directory in the `python.d`, you need to create `some_name.chart.py` file.

2nd screen

you dont need to do that since it is not source code

[2020-02-04 07:09] #7799 closed

[2020-02-04 07:38] amoss commented on #7899
Please don’t close this issue until I have finished working on it. The linked PR reruns the netdata installer instead of renaming the build incrementally and it does not allow injection of partial configuration.

[2020-02-04 07:41] prologic commented on #7899
Sorry about this :) -- I was going to reach out to you actually to see what more we can/should do here. When we both have some time let's discuss in Slack?

[2020-02-04 08:29] ponizovje opened #7972 "Alarm setting for each host on stream environment."
Dear all.
Streaming to master in master-slave environment.
Can I create multiple alert conditions on the master environment?
I want to change alert conditions for each host.
Ex) load_average_1

[code]

[2020-02-04 08:36] ilyam8 commented on #7972
hi @ponizovje i think yes, have you tried it?

[2020-02-04 08:40] ponizovje commented on #7972
Hi, @ilyam8
Thank you for reply.

sorry. I have not tried.
I read the documentation but found no such description.
could you please tell me?

[2020-02-04 08:54] ilyam8 commented on #7972
Well, this is `hosts` line description

https://docs.netdata.cloud/health/reference/#alarm-line-hosts

Streaming docs

https://docs.netdata.cloud/streaming/#supported-configurations

[2020-02-04 09:18] ponizovje commented on #7972
Problem was solved by dividing load.conf into multiple parts.
I thought that only one load.conf could be created, but it was different.
Thank you for your help.

load_all.conf
[code]
load_host1.conf
[code]

[2020-02-04 09:34] ilyam8 commented on #7972
Yeah, but i think you need to give them different names. Both alarms has same names in your example.

[2020-02-04 09:56] ponizovje commented on #7972
I see!
I configure them on master.
Do I just need to change the alarm name?
I couldn't understand this setting from the documentation.
Could you  please help me?

load_all.conf
[code]

load_host1.conf
[code]

[2020-02-04 10:03] ilyam8 commented on #7972
They should be unique for netdata instance.

[2020-02-04 10:31] underhood commented on #7840
In regards to claiming script now it is using `wget` and `curl` which already will take ENV variables into account. Task here will be to pass override values from `netdata.conf`/commadnline flag to the script when we want to ignore the env variables.

[2020-02-04 11:26] CSawyerLDN commented on #7831
Thanks for everyone's input.  @cakrit, my systems are vastly more complex than the example you cited.  Your methodology is sound but i'd have to apply dozens of highly selective greps to achieve the same results - it's actually easier to just bash through the config file.  That the generated config file between any two systems isn't the same further complicates matters - i've never had success cop

[2020-02-04 12:24] Ferroin commented on #6605
Agreed, I'll try to get started on the basic matrix today.

[2020-02-04 12:36] cosmix commented on #7831
Thanks for the input @CSawyerLDN and sorry we couldn’t be of much help this time. We’ll certainly take this into account when considering new functionality for the agent. Cc @rduffield @manos-saratsis @cakrit

[2020-02-04 12:36] #7831 closed

[2020-02-04 12:40] ilyam8 commented on #7878
@joelhans

i added list of all collection plugin/modules to the OP. The list is still wip, i am going to add proper description for modules.

We need to think what other fields we need in the tables (for example type `system/application/...` or application type `web server/databse/...`) to build other grouping using scripts (like here https://github.com/netdata/netdata/blob/master/docs/Add-more-ch

[2020-02-04 12:43] ilyam8 commented on #7878
@joelhans

Probably we could have a json file with all collectors and build different pages using it. Is it possible?

[2020-02-04 13:01] ilyam8 commented on #7879
@ekexcello

I'm trying to figure out which algorithm we need here.

- execute `select ID,TIME,COMMAND,State,MAX_MEMORY_USED,info from INFORMATION_SCHEMA.PROCESSLIST WHERE Info IS NOT NULL AND Info NOT LIKE "%PROCESSLIST%" ORDER BY TIME ASC;` query
- measure time to fetch the answer (`Tp`)
- go trhough list and find process with largest Time (`Ts`)
- cound number of processes in the list (`Cp`)

`C

[2020-02-04 13:39] ekexcello commented on #7879
Hello @ilyam8
Everything is correct.

Two small notes.
a) you can remove 'info' field from query, this is running query details, this information will be discarded anyway. You can make it more simple removing everything except ID and TIME.
b) no need to go through the list for finding largest time as list is ordered by time. You can even make things easier is you use `ORDER BY TIME DESC` instead o

[2020-02-04 13:49] cakrit commented on #7831
@CSawyerLDN please drop us an email to info@netdata.cloud, I'd like us to set up a call and discuss your needs a bit more, with our product team.

[2020-02-04 14:34] ilyam8 commented on #7879
What permissions do we need for that query?

[2020-02-04 14:37] ilyam8 commented on #7920
i dont think so

@Ferroin any ideas?

[2020-02-04 14:43] ekexcello commented on #7879
Required should be SELECT and PROCESS.
I tested running the query as 'netdata' sql user, it worked.

For now `Netdata` user requires following privileges for working with mysql (python) plugin:
`*.*:SELECT,SHOW DATABASES,PROCESS,USAGE,REPLICATION CLIENT`
This means that it has PROCESS and SELECT required for the mentioned query as far as I can guess, thus no additional privileges required.

[2020-02-04 14:44] ilyam8 commented on #7879
How to do it?

[2020-02-04 14:55] ekexcello commented on #7879
Sorry, I slightly mislead you, not 'engine processes' but 'system processes'.

This requires additional column to be selected, especially, `User`. In that case you will have to count result lines containing `system user`, those will be system processes... However, this makes query process more complex as you have to read every line.

[2020-02-04 14:59] ilyam8 commented on #7879
doesnt sound like a problem at all

[2020-02-04 15:13] ilyam8 commented on #7879
Link: [click](https://dev.mysql.com/doc/refman/8.0/en/processlist-table.html)

[2020-02-04 15:17] J-Siu commented on #7920
I did some digging and testing during the weekend. Two ways the make this work:
1. Use docker run (not docker-compose) with host mode network
2. Use fakenet.sh with docker-compose as suggested https://scene-si.org/2016/11/22/bypassing-docker-network-isolation-hack/

[2020-02-04 15:31] BH1NBN commented on #7961
I can now run the debug instance, so how do I render it in netdata's charts data-netdata How should I fill it in?

[2020-02-04 15:33] ilyam8 commented on #7961
Share your code

[2020-02-04 15:35] BH1NBN commented on #7961
@ilyam8
What way do I need to give you?

[2020-02-04 15:41] BH1NBN commented on #7961
@ilyam8
![QQ截图20200204234136](https://user-images.githubusercontent.com/47279146/73760132-e9739c80-47a7-11ea-883c-f964dfcc404f.jpg)

[2020-02-04 15:45] ilyam8 commented on #7961
@BH1NBN

This is example module source code

i dont get you, sorry.

[2020-02-04 15:46] ilyam8 commented on #7961
Have you something written? What is the problem atm?

[2020-02-04 15:49] BH1NBN commented on #7961
OK, I have successfully run your instance and named it test. Therefore, I want to display this running data in a chart using ui. what should I do? Just like my custom html page, I can always get the data for this test run. Since my English is not very good, please forgive me!

![1](https://user-images.githubusercontent.com/47279146/73760588-85050d00-47a8-11ea-8dac-1e4786444398.jpg)

[2020-02-04 15:57] ilyam8 commented on #7961
That is actually all you need - to write a script and put in in the `/python.d/`.

Check the dashboard, it should be there.

So you flow is:
 - code
 - debug
 - it doesnt work, go to code

At some point you will have your module working 😄

[2020-02-04 16:05] BH1NBN commented on #7961
@ilyam8
I just restarted netdata and it shows fine! is my problem! Thank you very much for your patience with newbies! Your carefulness is accompanied by the moment when customers are happy! Hope you can continue! thank

[2020-02-04 16:09] yasharne opened #7974 "Cannot install netdata on the debian stretch server"
##### Bug report summary
I'm trying to install prebuilt netdata on a debian server, but after the installation I get a message unit systemd is not started, here is the output of `systemctl status netdata`:
[code]
The output of `journalctl -xe`:
[code]
I'm streaming this server to a master server.
When I remove the user and the group `netdata` in the systemD unit, the service starts successfully bu

[2020-02-04 16:10] ilyam8 commented on #7961
Ok @BH1NBN, i see your problem is solved so i am closing the issue. You can ask here if you have any questions.

[2020-02-04 16:10] #7961 closed

[2020-02-04 16:11] HighWatersDev opened #7975 "Need help configuring new services in Netdata"
##### Question summary
I install Netdata on my server using one-liner installer and it discovers the basic services just fine. However, I try to add new service configuration files under python.d directory but nothing gets discovered and no new dashboards show up for those services. The example would be apache.conf/postgresql.conf. All of the files under /etc/netdata directory owned by root:root e

[2020-02-04 16:14] ilyam8 commented on #7975
Hi @HighWatersDev

Try to run python.d.plugin in debug mode

https://docs.netdata.cloud/collectors/python.d.plugin/#how-to-debug-a-python-module

[2020-02-04 16:22] BH1NBN opened #7976 "Monotonic.py bugs and solutions"
When installing netdata under synology system, an exception occurs when running

[code]

Cause of error: ld.so.conf does not exist in / etc under synology

Monotonic.py will throw exceptions

The current solution is to replace the following code

[code]

After replacement

[code]
Hope you guys can improve it in the next version

The discovery and solution of the above problem was assisted by a sen

[2020-02-04 16:33] ilyam8 commented on #7976
@BH1NBN there is no problem for python3, py2 is deprecated.

I guess we could add some `elif` to this part

https://github.com/netdata/netdata/blob/b5dcce7238a325a30223a573eabb73fcd2d927e0/collectors/python.d.plugin/python_modules/third_party/monotonic.py#L134-L140

@BH1NBN is there a way to get a PR with proper fix from your linux friend?

[2020-02-04 16:38] yasharne commented on #7974
UPDATE: setting user and group to `root` and chwon -R root:netdata /opt/netdata fixed the problem

[2020-02-04 16:43] BH1NBN commented on #7976
@ilyam8
There is currently no way!  Because he's busy!  For this he has contributed 5 hours to solve this piece of code I posted!  But he also gave me a solution!  The rest is to find the position of that rt!  That is the short code I replaced below!  But when I have time, I will try to solve this problem according to his ideas!  I have made some notes!  One librt.so was not found so I try to fix

[2020-02-04 16:53] ilyam8 commented on #7976
Found

https://github.com/atdt/monotonic/issues/23#issuecomment-565844421

[2020-02-04 16:55] ilyam8 commented on #7976
it seems we need following to get py2 working on synology

[code]

[2020-02-04 18:36] HighWatersDev commented on #7975
Looks like I uncommented things that were not meant to be uncommented

bash-4.2$ /usr/libexec/netdata/plugins.d/python.d.plugin postgres debug trace
2020-02-04 11:40:34: python.d INFO: plugin[main] : using python v2
2020-02-04 11:40:34: python.d DEBUG: plugin[main] : looking for 'python.d.conf' in ['/etc/netdata', '/usr/lib/netdata/conf.d']
2020-02-04 11:40:34: python.d DEBUG: plugin[main] : loadi

[2020-02-04 18:50] ilyam8 commented on #7975
Yes.

Is the problem solved?

[2020-02-04 18:58] marienfressinaud commented on #7457
I would love to see this feature implemented, but note you can disable HTTP basic authentication for specific IPs. E.g. for Nginx:

[code]

I hope it can help while the feature is not implemented.

[2020-02-04 18:58] HighWatersDev commented on #7975
The issue is resolved. However, if I may suggest making it more distinct in conf files which lines are as guidance and which lines actually need to be uncommented.
Thanks for your help!

[2020-02-04 19:26] ilyam8 commented on #7975
There is an example in the readme

https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/postgres#configuration

Description in the config

https://github.com/netdata/netdata/blob/b5dcce7238a325a30223a573eabb73fcd2d927e0/collectors/python.d.plugin/postgres/postgres.conf#L50-L63

List of predefined jobs

https://github.com/netdata/netdata/blob/b5dcce7238a325a30223a573eabb73fcd2d

[2020-02-04 19:26] #7975 closed

[2020-02-04 19:52] #7936 closed

[2020-02-04 21:29] prologic commented on #7974
cc @Ferroin I know we did some tweaks to permissions/ownerships recently. Do you mind taking a look at this one?

[2020-02-04 21:50] ilyam8 commented on #7974
i installed netdata using `kickstart-static64.sh` on debian10, no problems for me

[code]

[2020-02-04 22:10] #7179 closed

[2020-02-05 01:03] ponizovje commented on #7972
I'm trying various things.
Will inform you soon.

[2020-02-05 01:44] ponizovje commented on #7972
Hi, @ilyam8
It worked fine with a unique name for alarm.
Thank you for your help;)

[2020-02-05 05:38] #7195 closed

[2020-02-05 05:38] #7196 closed

[2020-02-05 05:53] #7972 closed

[2020-02-05 06:10] BH1NBN commented on #7976
for Synology 6.+
Following are the paths of the two files：
/usr/lib/librt.so.1
/usr/lib/libc.so.6
Hope to fix this soon

[2020-02-05 06:40] Androz2091 commented on #7919
I ran the `install-required-packages.sh` script with the updated args and it worked! Then, I ran the `netdata-installer.sh` script and it worked too. Thank you very much!

[2020-02-05 06:40] #7919 closed

[2020-02-05 06:46] prologic commented on #7919
You're very welcome! I'm glad it worked for you in the end! 😀

[2020-02-05 06:50] prologic commented on #6688
Another case of failure:

[code]

From [this build](https://travis-ci.com/netdata/netdata/jobs/283655806)

I _feel_ indifferent about this personally. Personally I _think_ we can just do a good job at testing things with regular 'ol Shell; but

[2020-02-05 06:52] prologic commented on #7771
- netdata/kernel-collector#4
- netdata/kernel-collector#5

[2020-02-05 08:31] amoss commented on #7899
I've connected the PR from the cross_hosts branch that you've already seen. I think that the PR that you merged was a little bit too simplified:

* We need multiple user-lands inside the docker containers (not just Alpine)
* Caching the netdata-installer step is not sufficient.

Take a look at the pair of Debian Dockerfiles to see what I'm trying to do - the `make install` step is the one that sho

[2020-02-05 08:33] amoss commented on #7899
The next step that I will look at is getting the CentOS version into the same state as Debian. I could not do this on the mac as there is a problem with the base CentOS image on Docker For Mac (it seems to hang for no reason). Now that I'm back in front of a linux machine I can fix this up.

[2020-02-05 08:34] prologic commented on #7899
Why do you need this specifically? If we can do CI test runs against all the things we care about then is it enough that your build on one works sufficiently?

[2020-02-05 08:37] prologic commented on #7899
Hmmmm 🤔 I'm still of the opinion that there's quite a bit of overlap here. We have pre-built images with all "build dependencies" we use in CI today in netdata/helper-iamges

See my comment above however about "Why?"; Maybe I'm missing something important here?

[2020-02-05 08:38] prologic commented on #7899
Can you elaborate on this a bit?

[2020-02-05 09:09] underhood commented on #7840
Work on this is can be tracked in `underhood/netdata` branch `aclk_agent_proxy`

[2020-02-05 09:21] underhood commented on #7840
HTTP proxy support - in LWS
Socks proxy support - in LWS
HTTPS proxy support - unknown/unsure yet !!

[2020-02-05 10:07] amoss commented on #7899
* If we are fixing a bug that only shows up on a particular distro then we need to do the dev builds in that that distro.
* If we are doing dev that requires a certain user-land (e.g. the host-labels work recently, or collectors that only exist on a certain distro) then we need to build against that user-land.

[2020-02-05 10:08] sneak opened #7981 "netdata spyware still tracks user even after the user has opted out of telemetry"
The documentation for netdata, comprising of a bunch of README files across various collectors and other directories, do not respect the tracking opt-out provided.

# Steps To Reproduce

1. Install netdata using the appropriate flags or env vars to disable its spyware
1. View netdata's markdown documentation on your system
1. Telemetry is still sent to Google Analytics, including the user's PII

A

[2020-02-05 10:20] justinvvitale commented on #423
Just for others, to get it to update always do this to the URL:
http://IP:19999/#menu_system;theme=slate;help=false;update_always=true

[2020-02-05 10:25] LeoWinterDE commented on #7356
Would like to see a [Netdata plugin](https://www.freenas.org/plugins/) for FreeNas.
I'll take a closer look at it when I have some time to build it - https://www.ixsystems.com/documentation/freenas/11.3-RELEASE/plugins.html#create-a-plugin

[2020-02-05 10:46] prologic commented on #7899
I _suspected_ as much and I _think_ you can re-use our `netdata/package-builder` images for this purpose. Let me think about though..

[2020-02-05 10:49] amoss commented on #7899
Try:
[code]
The unusual thing is the way that the image is built from itself applying only the latest changes to the source tree. Note what gets rebuilt inside the container and what doesn't.

[2020-02-05 13:37] cakrit commented on #7897
I had a discussion with Costa on this and he has proposed basing the generic prometheus collector on the statsd plugin, perhaps even by extending the existing code. I will discuss first with @cosmix. And then get back to this.

[2020-02-05 13:41] BH1NBN opened #7983 "About memory issues"
How do I get the real memory usage? I now have 16g of memory but only 14g. Not only that, the actual used capacity is assumed to be 32% of the total memory used, but this 32% does not include those used by dcoker and vm. What about memory?
netdata runs on synology platform

data-netdata="system.ram"

[2020-02-05 14:00] ilyam8 commented on #7983
Hi @BH1NBN

Your question is not clear.

Why do you think so? `system.ram` chart show system memory usage.

[2020-02-05 14:03] BH1NBN commented on #7983
@ilyam8
1.I actually installed memory 16G but netdat shows 14g
2. Suppose I did not enable 10% of the virtual machine's memory usage, and it still remains at 10%.

[2020-02-05 14:05] ilyam8 commented on #7983
@BH1NBN

see `free -h` output

Where? sum of all dimensions of `system.ram` is 16? could you show?

[2020-02-05 14:09] BH1NBN commented on #7983
@ilyam8
[code]
That's it. I understand what you mean now!
But why the memory occupied by the virtual machine does not change?
I started the vm virtual machine in synology. I can obviously see the increase in memory usage but no change in netdata.

[2020-02-05 14:19] ilyam8 commented on #7983
Netdata collects memory info from `/proc/meminfo`.

I think there are changes. If there are changes in the `/proc/meminfo` they are reflected in the charts.

[2020-02-05 15:01] Ferroin commented on #7906
https://github.com/netdata/mosquitto/pull/2 Handles part of the requirements on the libmosquitto side. It only takes care of Linux (but it does handle ARM correctly). I'll be doing separate PR's there for the FreeBSD and macOS parts.

The current approach on that side requires creating a release for our fork of libmosquitto, which will then trigger the GHA workflow added by the aforementioned PR,

[2020-02-05 15:32] Ferroin commented on #7981
The markdown documentation is hosted at docs.netdata.cloud, and has no relation whatsoever to any particular installation of Netdata on your local systems. The pages have no way to know if you even have Netdata installed on your system, let alone if you happened to tell it at install to opt out of tracking (in fact, if they did, that would be a much more serious security issue than us happening to

[2020-02-05 15:43] BH1NBN commented on #7983
@ilyam8 ok

[2020-02-05 17:02] #7981 closed

[2020-02-05 19:40] ElleshaHackett commented on #1960
I would really love to see this supported in Netdata as we use a lot of node processes and pm2 to manage them. I think using `pm2 jlist` for easy JSON parsing as @gc suggested is a good way to go. That seems more logic then to use pm2-prometheus-exporter for the simple reason that the exporter would introduce more overhead.

[2020-02-05 20:13] #7804 closed

[2020-02-05 20:33] ilyam8 commented on #1960
@ElleshaHackett could you share `time pm2 jlist` output?

[2020-02-05 21:26] #7068 closed

[2020-02-05 21:26] prologic commented on #7068
@r10r Apologies for the delay in in merging your PR. Thanks for submitting it!

[2020-02-05 22:36] prologic commented on #7818
@Ferroin This is done. I did this and automatically installed them optionally now. Closing :)

[2020-02-05 22:36] #7818 closed

[2020-02-05 22:50] snub-fighter commented on #7967
Im really enjoying netdata and I apologize if Im asking simplistic questions.   I used the existing nginx module as a framework for building the above.

I have viewed that and used the debug.  All Im getting is that the http request times out.  I see that it identifies the port for me so I dont have to put in a param (as far as I can tell).  I have tested **independent of netdata** on the same box

[2020-02-06 00:21] ponizovje opened #7986 "About host list of netdata/fping.conf"
Dear, All
I have more than 300 servers.
The hosts in fping.conf are too long.
Is there a solution? or could you tell me how to use it correctly?

I have a master-slave(Stream) environment.
I want to fping from master to all slaves.

netdata/fping.conf
[code]

[2020-02-06 06:24] ilyam8 commented on #7986
Hi @ponizovje

See https://github.com/netdata/netdata/issues/6376

[2020-02-06 06:30] #7976 closed

[2020-02-06 06:38] ilyam8 commented on #7967
try to increase timeout:

- `timeout: N` in the job config
- `self.timeout = N` in the code

[2020-02-06 08:38] amoss commented on #7947
@ilyam8 When you say that you can see the problem could you please provide a little more information - can you see a bug in the code or do you mean that you can replicate the problem on a similar system?

[2020-02-06 08:41] ilyam8 commented on #7947
@amoss, no i cant replicate the problem (didnt try). @thiagoftsm assigned sre team guys.

I see in the OP

and assume that correct person is @vlvkobal

[2020-02-06 09:03] BH1NBN commented on #6848
@paulkatsoulakis  See your conversation, are you sure? I no longer see the available ipk? I just get the ipkg command for the program used by my device, but I am a little sad to see that I did not prepare the IPK file

[2020-02-06 09:48] ilyam8 commented on #7878
@joelhans i finished the list. If you think i need to reformat it somehow feel free to suggest.

[2020-02-06 11:02] amoss commented on #7947
I think the question is who can try to replicate the problem most effectively - @vlvkobal is more familiar with that part of the code but may not have a pfsense configuration for testing. We need to replicate the problem to check that it is a bug and not part of the configuration on the original system. Who can try a pfsense configuration most effectively (because they already have one available)

[2020-02-06 12:10] thiagoftsm opened #7987 "Benchmark apps.plugin and ebpf.plugin"
##### Feature idea summary
We need to have a better idea about what is necessary to move from apps.plugin to ebpf.plugin. To take this final decisions, it was suggested we have a benchmark with both plugins, as suggestion we received the following papers/benchmark to move in front :

https://github.com/cloudflare/ebpf_exporter/tree/master/benchmark
https://publications.polymtl.ca/3816/1/2018_Gebai

[2020-02-06 14:36] Ferroin opened #7991 "Package builds for CentOS 7 are failing."
Sample build failure: https://travis-ci.com/netdata/netdata/jobs/284172166

This does not appear to be be a blanket issue, as testing with `packaging/Dockerfile.packager` shows no issues.

[2020-02-06 14:40] Ferroin commented on #7991
Most likely root cause candidates are:

#7927
#7794
#7632

[2020-02-06 14:47] vlvkobal commented on #7856
Dots are [expected](https://graphite.readthedocs.io/en/latest/feeding-carbon.html#step-1-plan-a-naming-hierarchy) in the metic path. In addition, I can't find any mentions about the dot as an escape character in the Graphite documentation. So, I think the request is not valid. @waldner, do you have any problems with the current backend subsystem behavior?

[2020-02-06 14:49] Ferroin commented on #7991
Exact cause unknown, seems to be soemthing with the `go.d.plugin` based on https://travis-ci.org/Ferroin/netdata/jobs/646895741.

[2020-02-06 16:51] Ferroin commented on #7991
Last known good commit is e6f14cf782d5448a9050c33135d2bd65f64fa79a, bisect in progress.

[2020-02-06 19:58] #7268 closed

[2020-02-06 20:12] #7991 closed

[2020-02-06 20:25] joelhans opened #7994 "Docs: Emphasize DB engine and promote long-term metrics storage"
We are still running into issues where users think that Netdata can't store metrics for more than an hour. Furthermore, they are finding artifacts in the documentation pointing to changing the `history` config or otherwise configuring the `save`/`map` modes, instead of seeing information about configuring DB engine.

I'm planning on the following:

- [x] Remove references to old/non-DBengine conte

[2020-02-06 21:57] cakrit commented on #7860
@ElleshaHackett for the second (off topic thing), I suggest you split it in a separate issue. We're not very happy with how easy it is to add a new collector either and we'll be working on that.  The [relevant page](https://docs.netdata.cloud/collectors/plugins.d/#external-plugins-overview) needs a lot of love (wink at @joelhans and @ilyam8 ). But you don't need to understand everything about it,

[2020-02-06 22:02] ilyam8 commented on #7860
If you are going to make a PR please no `node.js`. As for python - there is no such thing as install plugin. You name your script `*.chart.py` and drop it into the `/python.d/`, that is pretty much it.

[2020-02-06 23:39] ponizovje commented on #7986
Hi @ilyam8

Thank you very much!
I couldn't find the question.

Will it be modified to handle more than 300 hosts in the future?
Or should I consider another way?

[2020-02-07 00:26] ilyam8 commented on #7986
it is fping limitation, you need several fping instances running

[2020-02-07 00:27] ilyam8 commented on #7986
What port?

[2020-02-07 00:30] ponizovje commented on #7986
Oh, I see.

For example, a port 80 down alert is issued.
I log in to the host and try to fix the problem.
However, I cannot log in to the host.
In that case, I will recognize that the host is down.
(But it's not very good.)

[2020-02-07 00:35] ponizovje commented on #7986
Oh, I see.

I felt I could fping over 300 hosts in this way.
https://github.com/netdata/netdata/tree/master/collectors/fping.plugin

[2020-02-07 00:59] ponizovje commented on #7986
For example, port 80 goes down.
I access the host, but I can't.
I will determine that the host is down or sshd is down.
(But this is the worst.)

[2020-02-07 02:02] kmlucy opened #7998 "NUT collector broken"
##### Bug report summary
When updating to the newest version of netdata, my NUT collectors stop working.

##### OS / environment
I am running in a Docker container. The information below is for my host system.
[code]

##### Netdata version
Working: `netdata v1.19.0-313-g4d958b8c`
Broken: `netdata v1.19.0-450-g35909a8c`

##### Component name
NUT

##### Steps to reproduce
1. I have NUT running in an

[2020-02-07 07:03] ilyam8 commented on #7998
Hm, we change only formatting (https://github.com/netdata/netdata/pull/7973/commits/53caf3a69b16fee64c700f0355b025dfcdef464e)

tabs -> spaces mainly

https://github.com/netdata/netdata/blob/ff88fc5cdd4fa0c036e852676b2fc545c8f8516b/collectors/charts.d.plugin/charts.d.plugin.in#L278-L310

___

so

`timeout ${t} "${@}" 2>"${TMP_DIR}/run.${pid}"`

results in

`timeout: can't execute '9': No such file

[2020-02-07 07:39] ilyam8 commented on #7998
@kmlucy can you reproduce it locally?

is

`timeout 9 upsc nautilus@nut.nut`

[2020-02-07 08:59] ilyam8 commented on #7998
and it is easy to rewrite this collector in go

@kmlucy could you share

echo "LIST UPS\n" | nc <ups ip> 3493

[2020-02-07 09:05] ilyam8 opened #7999 "VerneMQ collector"
##### Feature idea summary

We are using `VerneMQ`, it would be nice to have the collector.

`VerneMQ` [exposes data in prometheus format](https://docs.vernemq.com/monitoring/prometheus).

Exposed metrics ([installed in docker](https://github.com/vernemq/docker-vernemq), no load):

<details>
<summary>Click!</summary>

[code]

</details>

##### Expected behavior

vernemq collector

[2020-02-07 09:39] #7742 closed

[2020-02-07 10:12] underhood opened #8000 "ACLK - MQTT/LWS refinement"
#### Feature idea summary

#7880 added the basic MQTT/LWS support.

- [ ] Improve logging considerably (connection drops etc.) for users to be able to troubleshoot
- [x] Reconnection handling as per ACLK docu - Add callback for Stelios on connection drop on LWS layer
- [ ] Write buffer optimisation - Avoid mallocs and frees
- [x] clarify if we ever want to use websocket without TLS and handle `int

[2020-02-07 10:39] waldner commented on #7856
I never mentioned dot as an escape character whatsoever. I'm only saying that graphite allows _replacing_ dots with other characters, to avoid creating useless (and confusing) extra levels of label hierarchy in graphite. Netdata does not currently offer an equivalent option.
If my hostname is server.example.com, I want that to be a single element in graphite's labels, but if dots are not replaced,

[2020-02-07 11:04] vlvkobal commented on #7856
Yes, the page you mentioned states that the dot is an escape character, but it's not the official documentation for the Graphite.

Anyway, after you elaborated on your point it became more clear to me what is the essence of your request. Thank you.

You can use `hostname = server_example_com` to avoid extra levels. Is it worth to make it more complicated?

@Ferroin what do you think on the matter?

[2020-02-07 11:13] kmlucy commented on #7998
@ilyam8 I'm not sure what you are asking me to reproduce, but here are some commands (run inside the netdata container):
[code]
I cut off the results, but it lists the full list of variables.
[code]

[code]

[2020-02-07 11:16] kmlucy commented on #7998
[code]

Where does `NETDATA_SYSTEM_OS_ID` come from? It looks like that is the cause of the problem. The correct command in alpine is the first one, which is properly running in the old version of netdata, but in the new version it running the second timeout command and failing due to incorrect syntax.

[2020-02-07 11:17] ilyam8 commented on #7998
try

or

[2020-02-07 11:19] ilyam8 commented on #7998
timeout: can't execute '9': No such file or directory

does `timeout -t 9 upsc nautilus@nut.nut` work?

[2020-02-07 11:20] kmlucy commented on #7998
[code]

Yes, adding the `-t` flag does work:
[code]

[2020-02-07 11:22] ilyam8 commented on #7998
[code]

nice

please do

[code]

[2020-02-07 11:25] kmlucy commented on #7998
Each one is the same, more or less, so I've just included the results for one:
[code]

[2020-02-07 11:26] ilyam8 commented on #7998
what is your `NETDATA_SYSTEM_OS_ID`?

i think you can see it in the `http://x.x.x.x:19999/api/v1/info` response

(os_id)

[2020-02-07 11:27] ilyam8 commented on #7998
It would be nice to know difference

[2020-02-07 11:30] kmlucy commented on #7998
[code]

[code]

[2020-02-07 11:31] ilyam8 commented on #7998
related issue: https://github.com/netdata/netdata/issues/5935

[2020-02-07 11:33] kmlucy commented on #7998
Old:
[code]

New:
[code]

[2020-02-07 11:35] kmlucy commented on #7998
`os_id` changed from `alpine` to `unknown` when going from the working version to the non-working version.

[2020-02-07 11:38] ilyam8 commented on #7998
I see i see, that is the script

https://github.com/netdata/netdata/blob/master/daemon/system-info.sh

it is in the `plugins.d/` dir

[code]

[2020-02-07 11:44] stormi commented on #7857
The fix usually is simply not listing files twice in the RPM spec file. I suspect the recent changes to fix file permissions have not completely taken into account how RPM selects files in the %files section.

[2020-02-07 11:50] ilyam8 commented on #7998
I installed netdata in docker

`charts.d.plugin` doesnt work because of incorrect invoking of `timeout` (w/o `-t` argument).

`os_id` is debian, but `container_os_id` is `Alpine`

[2020-02-07 11:52] prologic commented on #7860
I _think_ the PR is to the docs  for how to properly configure and run NetData via Docker?

[2020-02-07 12:04] ilyam8 commented on #7998
@Ferroin should we use `NETDATA_CONTAINER_OS_ID` if it is set and only if it is not set `NETDATA_SYSTEM_OS_ID`?

like

[code]

[2020-02-07 12:07] stormi opened #8001 "/var/cache/netdata/dbengine growing out of control"
### Question summary
I'm the main packager for the open source virtualisation platform XCP-ng.
A few months ago, we chose to offer netdata in our repositories for users to install on their controller domain. That domain is a minimal CentOS-like OS that controls all devices and VMs.

netdata seemed to be lightweight enough to run on that control domain without impeding the performance of the VMs. C

[2020-02-07 12:25] Ferroin commented on #7857
Probably not, given that prior to working for Netdata all the work I did with RPM's was with much simpler (and far less correct (in the best-practices sense) packages.

[2020-02-07 12:32] Ferroin commented on #7998
Probably.

[2020-02-07 12:49] ilyam8 commented on #7998
I added those changed and build a docker container, it seems fix the issue

@kmlucy

can you test it

[code]

[2020-02-07 12:56] kmlucy commented on #7998
@ilyam8 I added NUT to the container to testit , and it seems to be working well. NUT is collecting data properly with no errors.

[2020-02-07 13:02] ilyam8 commented on #7998
@kmlucy nice, i am going to do a PR with the fix

[2020-02-07 13:15] underhood commented on #7740
work on this is in `underhood/netdata` branch `aclk_agent_7740` but #7739 has to be merged first for PR to be created

[2020-02-07 13:45] Ferroin opened #8003 "Properly retry failed jobs on Travis."
##### Feature idea summary

Travis CI, unfortunately, appears to have rather spotty network connections at times. This causes failed jobs in builds on a semi-regular basis for us, requiring us to manually restart the jobs to have the builds finish. Ideally, we should be automatically retrying on errored builds and some failures as well so that we don't need to manually intervene all the time.

###

[2020-02-07 14:39] stormi commented on #7857
I haven't reviewed those recent changes yet (planned to do it when next release is out to adapt my own package from it), but maybe my spec file of 1.19.0 could give some ideas. It tries to fix the permissions issues that I had reported initially. It's not perfect, there are still 5 files listed twice.
https://github.com/xcp-ng-rpms/netdata/blob/master/SPECS/netdata.spec#L394

[2020-02-07 15:05] Ferroin commented on #8001
Are you streaming data from other nodes? That's one of the places where this gets a bit confusing, as each noed that data is being streamed from has it's own dbengine instance with it's own space usage settings.

[2020-02-07 16:32] joelhans opened #8006 "Docs: Change titles of collectors to "X monitoring with Netdata""
When #7997 is merged, we can use different strings for the `h1` heading in collector `README.md` files and for their name in the left-hand navigation. This will keep the navigation sane while also starting to improve the SEO value of individual collector pages.

For this PR, let's just focus on collectors inside of the following folders:

- `collectors/python.d.plugin/`
- `collectors/node.d.plugin

[2020-02-07 17:24] joelhans opened #8007 "Docs: Get mkdocs to use h1 heading as page title for collectors pages"
With #7997, we can use different strings for the main heading on a collector page and its associate entry in the left-hand navigation:

![image](https://user-images.githubusercontent.com/1153921/74049815-2a2f0980-4992-11ea-9590-853a31009b29.png)

But, the page title—the string that shows on the browser tab/window—is still the same as the navigation:

![image](https://user-images.githubusercontent.

[2020-02-07 17:30] mfundul commented on #8001
This is a bug, not a normal condition, a single file being this big that is. Please see if it's fixed by #7777
You can manually clean up the buggy set of files by  deleting the matching `.ndf` and `.njf` files when the service is not running.

The 256MiB limit is per database instance, so for example if you're streaming, each slave will also allocate this amount, see [here](https://github.com/netd

[2020-02-07 19:14] amoss commented on #7807
Document is finished and in the docs repo under `architecture/agent`.

[2020-02-07 19:14] #7807 closed

[2020-02-07 19:16] amoss commented on #7898
Assigning this to Vlad as he has checked the cases and will take the demo in the review next week.

[2020-02-07 20:13] #7810 closed

[2020-02-07 20:14] #7751 closed

[2020-02-07 20:21] ilyam8 commented on #8007
[code]

Unfortunately 😢

[2020-02-07 21:01] ilyam8 commented on #8007
ok, found the solution 🎉 We need to use `metdata`.

https://squidfunk.github.io/mkdocs-material/extensions/metadata/#usage

[code]

<img width="740" alt="Screenshot 2020-02-08 at 00 00 52" src="https://user-images.githubusercontent.com/22274335/74065497-19b87680-4a06-11ea-9e05-971cd4b81b12.png">

[2020-02-07 21:20] ilyam8 commented on #8007
@joelhans

if the goal is exactly

Then the quick way to do it is to use my dirty hack from [this pr](https://github.com/netdata/netdata/pull/7992/files)

[code]

What it does is

[code]

=>

[code]

it expects **first line** starts with `#`, second symbol is space, rest is header.

[2020-02-07 21:20] ilyam8 commented on #8007
[code]

[2020-02-08 00:35] #7648 closed

[2020-02-08 00:53] skanadian opened #8008 "Allow CIDR ranges in webserver access lists"
In the [web] allow ACLs, is it possible to implement CIDR ranges instead of wildcards?

ie.
192.168.0.0/27 is more secure than 192.168.0.* and easier than writing 32 different IPs.

Thank you.

[2020-02-08 06:50] underhood commented on #7740
To document the plan in GitHub. This issue should:
- if environment var `ACLK=yes` when `autoreconf -ivf` is run *(ACLK env var is the master ACLK disable flag until it is ready to be released)*
- then configure should have 3 options:
    1. default `detect` - no param given: configure will check if both `libmosquitto.a (custom static lib)` and `-lwebsockets (shared lib)` are present and in case y

[2020-02-08 16:48] #7689 closed

[2020-02-08 19:32] thiagoftsm opened #8010 "Missing information on stream"
##### Bug report summary
We are missing all container variables when the stream is started from slave to master, it is necessary to bring this new information to the protocol.

##### OS / Environment
[code]

##### Netdata version
netdata v1.19.0-463-g9cf6f461

##### Component Name
Stream

##### Steps To Reproduce
1. Set master Netdata and start it
2. Configure stream.conf and starts the stream
3.

[2020-02-08 23:30] #7910 closed

[2020-02-08 23:54] #8007 closed

[2020-02-09 06:06] BH1NBN opened #8012 "How to set the unit of network traffic such as mb / s"
I have added units in the following code but this does not work
[code]
The result he eventually showed was: 2,300
Without any conversion
Following is my custom python script
[code]

[2020-02-09 13:03] stelfrag commented on #8010
I compiled a new master / slave with the PR applied and here are the differences:

On the left side is how the host appears to the master (via /host/slave/api/v1/info) and on the
right it is the info from the slave directly.

The `host_labels` are the same, just in reverse order in the object.

![image](https://user-images.githubusercontent.com/52996999/74102517-bb49e000-4b4c-11ea-858b-81a3ff22e92

[2020-02-09 13:19] stelfrag commented on #8010
The same test on a RPI slave shows an additional difference in the kernel_version

On the left side is how the host appears to the master (via /host/slave/api/v1/info) and on the
right it is the info from the slave directly.

The host_labels are the same, just in reverse order in the object.

![image](https://user-images.githubusercontent.com/52996999/74102744-344a3700-4b4f-11ea-91a2-48d8cf36e6c9.

[2020-02-09 18:25] ndom91 commented on #6515
Hey just wondering what the status of this issue is? Has this been shipped? It doesnt seem to be mentioned anywhere else in the docs.

[2020-02-09 18:51] nuumio commented on #5490
Sorry to bump up an old issue but I just had exactly same symptoms (`undefined symbol: libsensors_version`) with sensors plugin.

The problem turned out to be `ctypes.util.find_library` not finding any libraries at all. That was because I'm running netdata in a Buildroot based system which lacks all tools Python 2.7 needs to find libraries (`/sbin/ldconfig`, `gcc`, and `objdump`, see https://docs.

[2020-02-09 20:45] thiagoftsm commented on #8010
The problems with the 4 missing variables, it was fixed.
Now about the kernel version, the plus sign at the end, case it was sent different of an encoded value, this is a problem for master, and I believe this happened, please, can you confirm that it was not encoded to '%2B'?

Best regards!

[2020-02-09 21:29] thiagoftsm commented on #8010
I was thinking here @stelfrag , case you do not see any '%2B' in the stream, something that I am almost sure will happen, this means that the stream has a bug to be fixed, and this bug does not have direct relationship with this problem that we are working here, so when you confirm this, please create another issue and assign it to me for I work next sprint on it.

[2020-02-10 01:39] J-Siu commented on #7920
Docker-compose actually can use host mode also:

[code]

I am not sure about the security impact/concern about using host mode. But the doc should be updated as it is not working with just mounting /proc.

[2020-02-10 02:31] #7986 closed

[2020-02-10 06:34] yasharne opened #8014 "How to access alarms and templates per hosts via"
##### Question summary
I'm trying to make a sort of auto document generator for our netdata monitoring system. Right now, we have about 150 servers stream their metrics to a central netdata server, I can get the hostnames monitored by the netdata in this URL: `/api/v1/info`
Is there any way to access the templates or alarms per host via the API?
For example some in some templates on some hosts we

[2020-02-10 07:10] stelfrag commented on #8014
Hi @yasharne thank you for using Netdata!!

Please check if `http://netdata/host1/api/v1/alarms` works for you

[2020-02-10 07:29] stelfrag commented on #8010
There is a **+** (plus sign) in the stream data. The part in question inthe stream data, has

[code]

[2020-02-10 07:51] vlvkobal commented on #7948
The value of the `MemAvailable` is accessible through the `$mem.available.avail` variable.

[2020-02-10 08:00] vlvkobal commented on #7871
@Ferroin please have a look at it.

[2020-02-10 08:05] admlke opened #8015 "Cannot access with IP: 19999 after installation，Access to file is not permitted: ***"
##### Question summary
Cannot access with IP: 19999 after installation，Access to file is not permitted: /usr/share/netdata/web//index.html
##### OS / Environment
centos 7
##### Component Name
netdata v1.13.0
##### Expected results
![image](https://user-images.githubusercontent.com/24238594/74131350-151ada80-4c1f-11ea-9af4-0e7cda223406.png)

[2020-02-10 08:17] yasharne commented on #8014
Hi @stelfrag, Thanks for your response. Yes, I have already read the API documentation and tried the link you provided but it only gives me the rised alarms at the moment for the given host, not all the templates or alarms defined for the host.

[2020-02-10 08:22] stelfrag commented on #8014
Try with the ?all parameter -- e.g. `http://netdata/host1/api/v1/alarms?all`

[2020-02-10 08:22] dimitriskr commented on #7958
Thanks @ilyam8 !

The title of this issue wasn't much descriptive for this so I didn't take a look at it.
For anyone looking: Don't use spaces in your hostnames!

[2020-02-10 08:22] #7958 closed

[2020-02-10 08:57] ilyam8 commented on #8015
hi @admlke

How did you install it?

1.13.0 is pretty old, we are about to release 1.20.0

[2020-02-10 09:00] tlo8640 commented on #7856
Hello,
I support this request.
I came across the same problem.
I was thinking about using netdata as addition to icinga2.
We are using here icinga2 for monitoring and we forward performance data to graphite.
the hostnames will be converted from host.example.com to host_example_com.
The escaping schema is documented here: https://icinga.com/docs/icinga2/latest/doc/14-features/#graphite-schema
in Gr

[2020-02-10 09:06] yasharne commented on #8014
Great! that's what I've been looking for
Thanks

[2020-02-10 09:06] #8014 closed

[2020-02-10 09:08] ilyam8 commented on #8012
Hi @BH1NBN try `kilobits/s` instead of kB

[2020-02-10 09:09] #7998 closed

[2020-02-10 09:25] admlke commented on #8015
Thank you. I have reinstalled v1.19.0

[2020-02-10 09:26] BH1NBN commented on #8012
perfect

[2020-02-10 09:27] ilyam8 commented on #8012
did it solve your problem?

[2020-02-10 09:28] ilyam8 commented on #8015
Did it solve the problem?

[2020-02-10 09:28] BH1NBN commented on #8012
Yes, very accurate guidance

[2020-02-10 09:28] #8012 closed

[2020-02-10 09:50] BH1NBN opened #8016 "How to control the continuity of the chart?"
I think the netdata chart runs almost every second to collect the data and a perfect streamline curve can be observed from the chart
The plugin I wrote will break the curve!
In other words, the plugin uses api to remotely access xxx.xxx.xxx.xxx/api to obtain data. This time is not fixed, sometimes 3 seconds, sometimes 1 second, it may take 5 seconds to collect data. netdata will be missing for 3 s

[2020-02-10 10:22] ilyam8 commented on #8016
I would change module `update_every` to 5 seconds.

[2020-02-10 10:27] BH1NBN commented on #8016
[code]
???

[2020-02-10 10:32] ilyam8 commented on #8016
Yes (it will collect data every 5 seconds).

[2020-02-10 10:56] BH1NBN commented on #8016
ok

[2020-02-10 11:10] stormi commented on #8001
So, after restarting the netdata service once more on lab3, it finally decided to clean the old entries as lab2 did. I did not restart the service on lab1, on purpose.

After the whole week-end, the new status is:
* lab2: 341M, no file with an unexpected length
* lab3: 523M, no file with an unexpected length

In both cases, none of the db files created since the service was restarted on friday was

[2020-02-10 11:13] thiagoftsm commented on #8010
Our web server when receive this information process it and changes, so we need to change the stream on the client to encode the values before to send.

[2020-02-10 11:16] underhood opened #8018 "Check about how to handle systems with libwebsockets version <3.X.X"
##### Feature idea summary

* Define the oldest version we need to support.
* Find out which changes occurred in which version.
* Some functions have changed names.
* Ring-buffer support was added, how to support in previous versions?
* How to handle missing functions?

As @stelfrag pointed out on Ubuntu (in his case Ubuntu 19.10) there is no libwebsockets 3 currently present. Current ACLK MQTT/LW

[2020-02-10 11:18] #8010 closed

[2020-02-10 11:32] amoss commented on #7892
The current details of the protocol in the `examples.md` file need to be extracted and merged with the details in `metata-log.md` to make a concrete proposal for the syntax of the new protocol. This document should explain the impact on `plugins.d`, in particular the need to convert to an incremental parser and the need to resolve the locking issues and leakage of host pointers.

The new proposed

[2020-02-10 11:37] amoss commented on #7893
This issue has become more complex that was understood at the beginning of the sprint. A new problem has emerged during the definition of these two approaches. We need to discuss the current locking scheme for the data-structures that will be manipulated in either of these two approaches. We have a proposal for a new locking scheme, however:
* It has not been validated - we do not know if it works

[2020-02-10 11:40] amoss commented on #7893
The work in the TODO list (in `examples.md`) will "complete" this task in the following sense:
* The description of compaction will be complete.
* The description of checkpoint is complete modulo the new locking proposal.

Although this is "complete" it is not done - and it is not clear how to reach a definition of done here as we need to understand the locking proposal.

[2020-02-10 11:42] stormi opened #8019 "xenstat plugin flooding error logs"
##### Bug report summary
On [XCP-ng](https://xcp-ng.org/), netdata installed from my own packaging (based on your spec file) is flooding the error log.

Extract:
[code]

I checked that and reproduced this on all hosts that I checked.

##### OS / Environment
XCP-ng 8.0, XCP-ng 8.1 beta

##### Netdata version
netdata v1.19.0

##### Component Name
xenstat plugin

##### Steps To Reproduce
* Install XC

[2020-02-10 11:52] stelfrag commented on #8018
The way mosquitto handles it (the support of lws in the broker with older version) is in  `mosquitto_broker_internal.h`. There it remaps the available functions from a previous version to the new one

Of course not all of them will be available (like the ring buffer functions)

sample below

[code]

[2020-02-10 11:55] BH1NBN opened #8020 "Export chart"
Can I add export chart options to a custom page?

[2020-02-10 12:03] underhood commented on #8018
I just 5 minutes ago get my VM ready with `Ubuntu 18.04 LTS` and luckily it is not all `lws_*` functions. There seems to be mainly the ringbuffer missing (which I can pull into the code base and compile if older version is detected).

Then some defines are missing etc. but good news is it is not all/everything (so we no need to rewrite or keep separate version for older websockets). I will have to

[2020-02-10 12:03] mfundul opened #8021 "Improve netdata agent locking scheme, discuss proposal"
##### Feature idea summary

* Analyse what the current locking behavior is in the Agent.
* Work out which parts of the code use the current convention that we think people work to.
* Identify what can go wrong in the places that do not.
* Identify the performance impact of the proposal.
* Groom with the team the new locking proposal for correctness -> is this a valid design?

##### Expected output

[2020-02-10 12:03] stormi commented on #7857
I've added comments to https://github.com/netdata/netdata/commit/de9a08df6cc8f8a9ec381564599ad0c8d3f4e352#diff-0a50dacf9f884f4ec0a5b5103b83b940R425 to explain why the files are listed twice in your current spec file.

[2020-02-10 12:04] vlvkobal commented on #8019
Is it possible that the number of VCPUs is changing constantly? Please run `xenstat.plugin` separately. Do VCPU chart definitions (the `CHART` keyword with the following `DIMENSION` keywords) differ on every iteration?

[2020-02-10 12:20] stelfrag opened #8022 "Missing character for kernel version reported in /api/v1/info on a master for a slave"
##### Bug report summary
In a master slave configuration, if the slave kernel version contains a **+** (plus) sign, the
character is stripped from the /api/v1/info on the master when viewed  via `/host/slave/api/v1/info`

It appears correctly when accessing the slave directly via `/api/v1/info`
##### OS / Environment

[code]
##### Netdata version

##### Component Name
Streaming

##### Steps To Rep

[2020-02-10 12:21] stormi commented on #7857
In a nutshell, here's what one must *not* do in a spec file:
[code]
... because then somefileordirectory is listed twice (as well as everything it contains if it's a directory).

If you want differing attributes inside `/foo/bar`, then:

[code]

In general, when it's not too tedious, it's better to be specific in the %files section rather than list whole directories that have themselves lots of su

[2020-02-10 12:27] stormi commented on #8019
The DIMENSION is not changing.
What's changing on each iteration for a given domain is those values: `SET used = 1166355580006` and `SET vcpu0 = 1166355626809`.

[2020-02-10 12:38] stelfrag commented on #7896
#### Update
- Handle the initial connection and metadata submission to the cloud when the agent enters a stable state.
  - Popcorning is used to monitor chart updates and the agent enters a stable state when no chart updates are received after X seconds
  - When the agent enters a stable state the on connect metadata is sent to the cloud

- Initial integration with the libmosquitto  / libwebsocket

[2020-02-10 12:41] mfundul commented on #8001
About the `stream.conf` and the offline server, I don't think it explains the issue.

About #7777, since it has been merge to master branch, you could compile from source as the instruction say. Alternatively, you could install nightly binary packages from [here](https://packagecloud.io/netdata/netdata-edge).

[2020-02-10 13:30] ilyam8 commented on #8020
Hi @BH1NBN 👋 Could you reword? I dont get it 🤷‍♂

[2020-02-10 13:30] ilyam8 commented on #8020
What exactly do you want? Please give some examples.

[2020-02-10 13:32] vlvkobal opened #8023 "Implement Google Cloud Pub/Sub exporting connector"
##### Feature idea summary
We need to analyze a huge amount of data from Netdata using big data instruments. We prefer to use Google Cloud services for the task. It's not convenient to use a TSDB and then convert the data to an appropriate format. So, we need a new exporting connector.

One possibility we have is to use a columnar file format and push data to the Google Cloud Storage service. The

[2020-02-10 13:48] joelhans commented on #7878
| plugin                                           | O/S     | Description                                                                                | Configuration file                      |
| :------------------------------------------------| :-------| :------------------------------------------------------------------------------------------| :-------------------------------------- |
| [c

[2020-02-10 13:54] BH1NBN commented on #8020
https: // local: 199999 when visiting, there is pdf or jpg download in the previous menu
I want to implement this function in my custom page

[2020-02-10 13:57] BH1NBN commented on #8020
@ilyam8  print this dashboard to PDF

[2020-02-10 13:59] amoss opened #8024 "Placeholder for K8s dogfooding task"
#### Summary

This is a blank placeholder for the work @ilyam8 will do in the next sprint. Please sync with @cakrit and @ncmans about the work and cut this into an appropriate number of well-described issues.

[2020-02-10 13:59] ilyam8 commented on #8020
You mean only one chart? It is impossible, you can export the whole dashboard only

[2020-02-10 14:00] BH1NBN commented on #8020
ok i understand
@ilyam8

[2020-02-10 14:10] joelhans commented on #7402
This functionality is now live on the site: https://www.netdata.cloud/#installation

Closing this issue.

[2020-02-10 14:10] #7402 closed

[2020-02-10 14:16] ilyam8 commented on #8020
or pdf export of custom dashboard?

[2020-02-10 14:26] joelhans opened #8026 "Update and improve design of infographic on main README"
The infographic in our [main README](https://github.com/netdata/netdata#infographic) is out-of-date and doesn't really look that great. @ilyam8 and I discussed for a bit that it's in need of an update and refresh.

@ilyam8 can edit this list or comment below with other specific things to fix.

- Update `metrics database` section to clarify we're using the database engine with **long-term metrics s

[2020-02-10 14:34] BH1NBN commented on #8020
yes

[2020-02-10 14:47] ilyam8 commented on #8020
i dont think it is something we plan to implement

cc @jacekkolasa

[2020-02-10 14:51] ilyam8 commented on #8026
For me the whole thing doesnt looks like `high level feature set and architecture of netdata`, it looks like the opposite - very detailed view (i see there are all our collectors!).

I think if we want it to be `high level feature set` we need to remove all detailes from there. Currently it is hard to read - a lot of detailes - it is always out-of-date.

[2020-02-10 14:55] gmeszaros opened #8027 "manually executed updater compares current to current version, instead of current to latest"
##### Bug report summary
When disabling auto-updater and calling it manually, the updater script compares wrong environment variables. It should compare current to latest, but it compares current to current, which always evaluates to true, hence skipping update.

##### OS / Environment
This is a bug in the updater script, applies to bash based installations (at least Ubuntu)

[code]

##### Netdata

[2020-02-10 15:37] SuperSandro2000 commented on #5490
This should only be used as a fallback and clearly noted in debug logs. The risk is that we load the wrong libc.so or lib.sosensors.so and this causes always major headaches if someone played with library paths. The more correct way would be to fix your system and not netdata.

[2020-02-10 15:40] #7604 closed

[2020-02-10 15:41] ilyam8 opened #8029 "installer: netdata-updater.sh errors when run manually"
btw

first of all

https://github.com/netdata/netdata/blob/d3fa405141a8d2e6689c2dedb4bedb7cf9120044/packaging/installer/netdata-updater.sh#L141

doesnt work because `Netdata` is not in `PATH` pretty often.

It means that following code

https://github.com/netdata/netdata/blob/d3fa405141a8d2e6689c2dedb4bedb7cf9120044/packaging/installer/netdata-updater.sh#L147-L148

doesnt work at all and only prod

[2020-02-10 16:07] andrewm4894 commented on #7865
Just an update on this - looks like the TTL needs to be applied on a [`Date()`](https://docs.mongodb.com/manual/reference/bson-types/#document-bson-type-date) type. So `timestamp` is a number or integer and so the ttl is not being applied in my case above.

We would need to have a Date() type field that the ttl could be applied to.

[2020-02-10 16:31] amoss commented on #8021
The estimate for this task is not a effort-based estimate, it is a time-boxed estimate that this task will take a full sprint.

[2020-02-10 17:03] amoss commented on #7987
There was a rough consensus that the cost of the benchmark identification and execution might be a 5, but with the unknown effort in extending the eBPF collector to handle grouping we settled on an 8.

[2020-02-10 17:35] cakrit commented on #4438
Reassigned this, gents please close if you don't think we need it any more.

[2020-02-10 17:42] cakrit commented on #6702
We will need to do this one without the Configuration Manager, perhaps with an addition to the plugins.

[2020-02-10 17:53] cakrit commented on #3369
Please see the last part of this long thread, this issue was forgotten.

[2020-02-10 17:58] cakrit commented on #6876
I believe we've fixed this and forgot to close the issue. We're changing the entire cloud implementation  very soon, so we'll ensure deletion works properly during QA.

[2020-02-10 17:58] #6876 closed

[2020-02-10 17:59] #5280 closed

[2020-02-10 18:21] ilyam8 commented on #7987
i think we need to define what we need from ebpf thing to get it comparable with apps.plugin.

like:

apps.plugins features:
- 1
- 2
...
- 10

To make fair comparison we need [1-4], 5, [9-10].

ebpf has:
 - 1, 2, 3, 4

Questions are:
 - needed feature set to make fair comparsion
 - time to add that feature set

[2020-02-10 18:28] amoss commented on #7740
Why do we need to pass an environmental variable into `autoreconf` ? I think that configure should have both options described (and the default auto-detect behaviour) in all configurations. Is there a specific problem created by doing this?

[2020-02-10 18:31] underhood commented on #7740
Hi this comes from ACLK 1 from @stelfrag and the idea is that we do not even try to compile or do anything if ACLK!=yes to be able to merge code step by step while it is not yet exactly production ready.

[2020-02-10 18:38] cakrit commented on #7860
Precisely.

[2020-02-10 18:42] thiagoftsm commented on #7987
As I said today, we have the internal group for the ebpf.plugin that is not explicit now.
The ebpf.plugin is for while monitoring the following behaviors of a process:

- Open/close file descriptors
- Start/end of process and threads
- IO on file systems when they are using VFS functions.
- Delete files.

[2020-02-10 18:55] cakrit commented on #7169
Credentials sent in slack.

[2020-02-10 19:28] amoss commented on #7740
There is a reason for gating the code that will be executed behind a feature flag, but the same reasoning does not apply to linking in the library if it is available. I don't think we need this here.

[2020-02-10 19:29] vlvkobal commented on #3369
I have no idea how can I help. SRE team, @stelfrag, does anybody has any thoughts about what should be done here?

[2020-02-10 19:44] stelfrag commented on #7740
Everybody is right :smile:

The feature flag (in the code that got merged) disabled everything because a few days go we didn't have the library available during installation.

Actually  it would compile the code (with the MQTT related functions as stubs). Based on some review comments I changed it to skip the aclk/ directory entirely.

As we are now getting to the point of having the library avail

[2020-02-10 19:46] nuumio commented on #5490
Fixing the system works too: I just took a look at Buildroot and found out why `ldconfig` was missing from target: glibc package didn't have install commands for utils which include `ldconfig`. That was just recently added to Buildroot and my version didn't have it. Adding missing install commands fixed that.

So now netdata works for me without patching.

[2020-02-10 19:49] cakrit commented on #3918
@rduffield and @manos-saratsis, this issue contains some suggestions for a cloud-based k8s dashboard. With the addition of labels we're getting closer to this, but we'll need a proper ideation phase, that won't happen in this issue. So please close when you have created a relevant epic in the cloud repo.

[2020-02-10 20:12] mfundul commented on #7730
Closed by https://github.com/netdata/docs/pull/93

[2020-02-10 20:12] #7730 closed

[2020-02-10 20:13] cakrit commented on #7897
Getting back to this. The main idea we discussed with @ktsaou was to base the new, generic prometheus collector, on the `statsd` implementation. Reasoning:

- Since we've agreed to strategically move many of our collectors to scrapers of `/metrics` endpoints and even provide our own such endpoints where none exist, performance will be crucial. The `statsd` collector is optimized to death and can h

[2020-02-10 20:13] cakrit commented on #7897
cc @cosmix @vlvkobal @amoss
Plz check the above.

[2020-02-10 20:49] prologic commented on #6878
@majodev Would you be willing to put up a PR for adding PGID support to the entry-point for our docker images?

[2020-02-10 21:00] ilyam8 commented on #7987
Then they are not comparable. We need to define feature set we need to compare them and then we need to add these feature to the ebpf.

cc @amoss looks like a separate issue to me (which is bloker for this issue)

[2020-02-10 21:21] prologic commented on #8029
I'll pick this up today and resolve this.

[2020-02-10 21:24] prologic commented on #7604
@Ferroin @cakrit Hmm this is likely still an issue and I _think_ we should still fix/address this. It feels very similar to persisting the Agent GUID problem. Worth adding this to an EPIC to overhaul our official Docker image(s) and their documentation.

[2020-02-10 21:26] ilyam8 commented on #8029
@prologic probably can be fixed in https://github.com/netdata/netdata/pull/8028

[2020-02-10 21:28] prologic commented on #7346
@Ferroin Can we turn this into an EPIC? I can't tell how far along we are with this and/or if you need any help? :) I'm pretty full up at the moment with eBPF but I'd love to help you here if you need it!

[2020-02-10 21:28] ilyam8 commented on #8029
But if you want to improve current_version detection, then yes. But

https://github.com/netdata/netdata/pull/8028#issuecomment-584185808

it seems we dont really need it

https://github.com/netdata/netdata/pull/8028#issuecomment-584345612

[2020-02-10 21:43] prologic commented on #8029
I _think_ this issue is also a duplicate somehow too right? (_sorry just catching up!_)

[2020-02-10 22:25] prologic commented on #8029
Closing this as a duplicate of #8027 where #8028 _should_ fix this.

[2020-02-10 22:25] #8029 closed

[2020-02-10 22:31] ilyam8 commented on #8029
Well, almost.

#8027 doesnt mention

[2020-02-10 22:34] prologic commented on #8029
I'll make sure that gets fixed too!

[2020-02-10 22:59] thiagoftsm commented on #7987
@ilyam8 I have a specific issue to measure memory usage and cycle per process with eBPF, you can see it in this link https://github.com/netdata/netdata/issues/7885 , according with your conclusion, I should work on it firstly and after to return here. Or I can split this issue in two tasks, the first would be to conclude #7885 and after this to return here.

[2020-02-11 07:04] stelfrag commented on #3369
I will check it @vlvkobal

[2020-02-11 08:25] amoss commented on #7738
This has changed again (it was redefined at the weekend) but the definition should now be stable so that we can implement this. Removing the estimate as it was not agreed by the team.

[2020-02-11 08:48] amoss commented on #7896
Some parts of this cannot be completed without further synchronisation with the cloud team. I suggest that some of the good-to-have features should be delayed until after the release, specifically:
* The agent-side hashing of collector state changes
* Additional configuration options for parameter tuning.

[2020-02-11 09:14] BH1NBN opened #8033 "Can I access it using https?"
Appears when accessing using https

This site cannot provide a secure connection 192.168.2.102 The response sent is invalid.
Try running Windows Network Diagnostics.
ERR_SSL_PROTOCOL_ERROR

[2020-02-11 09:20] ilyam8 commented on #8033
Hi

Yes, see https://docs.netdata.cloud/web/server/#enabling-tls-support

Acess what? Provide more details.

[2020-02-11 10:44] stelfrag opened #8034 "ACLK improvements"
#### Summary

- Additional configuration options for parameter tuning
  - Retrieve parameters early enough so that defaults are set and show up in the runtime configuration
  - Eg. Max reconnection timeout, ACLK disable option via a config option
- Ensure that the ACLK configuration (default values) appear in the netdata.conf
  - The values are now fetched only when an agent is claimed and there i

[2020-02-11 11:03] stelfrag opened #8035 "ACLK Send alarms to the cloud"
#### Summary
- Add a hook for when new alarms are written to the alarm_log.
- Decide if the payload for the new message is the same as the JSON transport for the alarm_log (on the ACLK).
- Pack the alarm data into the JSON structure.
- Integrate with the health_log and send alarms as they are triggered  (hook already there)
  - This will happen after the agent enters a stable state and the on_conn

[2020-02-11 11:22] stelfrag opened #8036 "ACLK Integration testing with the cloud"
#### Summary
In order to do the testing a cloud endpoint must be available to test the functionality of the
ACLK code in a real environment. Tests currently are done from the agent side against
a broker that simple dumps the messages on the console to ensure delivery.

The following must be done in coordination with the cloud team - these tests will be performed manually against a single snapshot

[2020-02-11 12:19] Ferroin commented on #7346
I don't know that an EPIC really fits in this case, as there are only two intermediary steps, both are done, and neither have a direct user-visible impact.

As far as progress, right now I'm just trying to find the time to actually test the GHA workflows I've put together for this. I'd be happy to push the branch to my fork if you want to look at it and try testing it though.

[2020-02-11 12:33] stelfrag opened #8038 "ACLK SSO investigation"
#### Summary
Review the SSO document and implement the functionality that is needed in the agent during startup.

[2020-02-11 12:35] vlvkobal opened #8039 "Netdata can't be built with AWS Kinesis support enabled using AWS SDK 1.7.0"
##### Bug report summary
When Netdata is built with AWS SDK 1.7+ installed, there is a compilation error
[code]

Starting from AWS SDK for C++ 1.7.0 the [`aws-c-common`](https://github.com/awslabs/aws-c-common), [`aws-checksums`](https://github.com/awslabs/aws-checksums), and [`aws-c-event-stream`](https://github.com/awslabs/aws-c-event-stream) libraries should be installed as dependencies. They s

[2020-02-11 12:55] prologic commented on #7346
Please by all means :D early feedback is always better! I can help you test it :)

[2020-02-11 12:59] Ferroin commented on #7346
OK, the branch is up. It's called `gha-packaging`. Right now it's just doing amd64 packages, but it covers all 5 distros we use with all versions we support (and takes significant advantage of YAML's anchor map merging to avoid duplication). It's also using a custom local action to do the commit filtering, because there not only isn't any support for this in GHA, but there isn't any published acti

[2020-02-11 13:01] ilyam8 commented on #3369
The issue is

and it is from `30 Jan 2018`. I am sure we do some improvements for name resolution process since then.

Hi @angelbarrera92 👋 Any chance you could check latest version? Probably it is fixed.

[2020-02-11 13:20] cakrit commented on #7604
You are correct, we've already discussed the need to add a LOT more features and documentation to our docker image. Please create that issue (I wouldn't call it an epic). Custom dashboards is one thing I missed from the k8s helmchart as well. I think that a better solution than the one suggested here is to instruct users to put their custom dashboards in a subdirectory under `/usr/share/netdata/we

[2020-02-11 13:24] #7994 closed

[2020-02-11 14:06] ilyam8 commented on #8024
- [ ] Autodiscovery

___

Applications:

- [ ] VerneMQ
- [X] CockroachDB
- [ ] MongoDB
- [ ] Redis
- [ ] Traefik
- [ ] Apache Pulsar

[2020-02-11 14:27] yasharne opened #8041 "netdata redis send wrong alarm on rdb_last_bgsave_status"
##### Bug report summary
netdata on redis instances fires wrong alarm on rdb_last_bgsave_status but the status on the charts is ok, both alarm and tha chart is visible in the screenshot below:
![image](https://user-images.githubusercontent.com/7656049/74244493-c476b080-4cf6-11ea-8399-96e4fb6afbbb.png)
here is the output of `info` on the `redis-cli` command:
![image](https://user-images.githubuserc

[2020-02-11 14:32] yasharne opened #8042 "netdata mariadb plugin shows behind the master critical error of 120 days"
##### Bug report summary
netdata says the MariaDB slave is 120 days behind the master for 10 seconds but it comes back to normal:
![image](https://user-images.githubusercontent.com/7656049/74245576-76fb4300-4cf8-11ea-921f-e16b028f36ec.png)

##### OS / Environment

[code]

##### Netdata version

netdata v1.19.0

##### Component Name

python.d

[2020-02-11 14:47] yasharne opened #8043 "Is there any way to go to host from alarm without already opening the particular host?"
##### Question summary
Right now we have around 200 servers streaming metrics to our central netdata server, every time I see an alert in our rocket chat channel when I click on it, it takes me to the particular chart of the particular host on the given time if I have already opened that host, else, I get this error:
![image](https://user-images.githubusercontent.com/7656049/74246275-7e6f1c00-4cf9

[2020-02-11 14:47] ilyam8 commented on #8041
Hi @yasharne

I tested it with the latest

[code]

I see no such problem

<img width="932" alt="Screenshot 2020-02-11 at 17 45 00" src="https://user-images.githubusercontent.com/22274335/74246866-3bf81000-4cf6-11ea-8c12-9a9ab56262c7.png">

[2020-02-11 14:53] ilyam8 commented on #8042
Hi @yasharne

I see module does no processing, it reads ``SHOW SLAVE STATUS;` query response and returns `Seconds_Behind_Master` value from there.

[2020-02-11 15:15] yasharne commented on #8042
Thanks @ilyam8
I found [this](https://www.percona.com/blog/2017/01/27/wrong-seconds_behind_master-with-slave_parallel_workers-0/) article on `Seconds_Behind_Master`  telling the wrong seconds. I think I need to follow up on the issue with our DBA team.

[2020-02-11 15:18] #8042 closed

[2020-02-11 15:39] amoss commented on #8036
We could not converge on an estimate for this task - it is either a 5 or an 8.

[2020-02-11 15:48] cakrit commented on #3369
The user has problems monitoring k8s containers from **outside** the k8s cluster.
I believe I found the solution, but not sure of one thing:

When running from outside the cluster, the command
`curl -sSk -H "Authorization: Bearer $KUBE_TOKEN"  "https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_PORT_443_TCP_PORT/api/v1/pods"`

needs to be replaced with
`kubectl get pods --all-namespaces -o json`

The re

[2020-02-11 16:01] cakrit commented on #3369
Actually, there's more in this issue than just that, the conversation is very long. I will attach individual issues to epic #7903

[2020-02-11 16:04] cakrit opened #8044 "Apply consistent k8s container naming when running inside and outside the cluster"
The user has problems monitoring k8s containers from **outside** the k8s cluster.
I believe I found the solution, but not sure of one thing:

When running from outside the cluster, the command
`curl -sSk -H "Authorization: Bearer $KUBE_TOKEN"  "https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_PORT_443_TCP_PORT/api/v1/pods"`

needs to be replaced with
`kubectl get pods --all-namespaces -o json`

The re

[2020-02-11 16:21] cakrit commented on #3369
Nope, the rest of the items seem to have been covered. I just moved the inside/outside thing to issue #8044, closing this one.

[2020-02-11 16:21] #3369 closed

[2020-02-11 16:24] cakrit commented on #5729
We removed the dependency from configuration management, which is a large project. Moving along with this, just for k8s

[2020-02-11 16:25] cakrit commented on #5392
closing this one, tracking in #7903

[2020-02-11 16:25] #5392 closed

[2020-02-11 16:26] cakrit commented on #6702
Duplicate, I reopened another issue. See epic #7903

[2020-02-11 16:26] #6702 closed

[2020-02-11 16:31] #6704 closed

[2020-02-11 16:35] cakrit commented on #8024
Removed autodiscovery from here, it will be covered in #5729 and the follow-up implementation task. Linked this to the epic.

[2020-02-11 16:43] angelbarrera92 commented on #3369
Thanks for recover this issue. I will follow #8044

[2020-02-11 16:45] cakrit opened #8045 "RFC: Redesign Agent right navbar for Kubernetes"
#### Feature idea summary

We currently just show a meaningless list of pods/containers on the right menu for k8s containers. We **probably** need to organize the information in a more meaningful hierarchy, perhaps taking into account labels, services and/or other information provided for each pod.

However, the stand alone FOSS agent will never display information from multiple hosts in a single

[2020-02-11 17:08] cakrit opened #8046 "Add a "what's new" button to the agent UI"
##### Feature idea summary

Add a way to the UI, to notify users of significant changes/improvements. Requirements to be specified, in should not be obtrusive.

[2020-02-11 17:53] #7756 closed

[2020-02-11 19:52] amoss opened #8048 "Agent navigation bars when ACLK is not available"
### Summary

Ensure that requirements on product#277 are met.

- [ ] If user disabled aclk on purpose do not show anything
- [ ] Show info message on dashboard if user didn't purposefully disable ACLK informing him he is missing out
- [ ] If agent is claimed already but there is no ACLK make it a well visible error. (User claimed already so he wants cloud and maybe update made it not build on his

[2020-02-11 19:53] amoss opened #8049 "As an agent user, I have options to disable Cloud"
#### Summary

In case user purposely disabled cloud features he should not be bothered by it anywhere:
- [ ] No sign up for Cloud
- [ ] No agent-cloud link establishment
- [ ] No agent-cloud link errors
- [x] The agent does not download and attempt to build the custom libraries for the ACLK and they are not linked into the executable (when installing)

Ensure that the requirements on product#288 a

[2020-02-11 19:56] amoss opened #8050 "During the agent installation, if the ACLK fails to be built, show an error message to the user"
#### Summary

Ensure that the requirement in product#282 are met.

- [x] If ACLK error reporting not set yet by #8051 define it with this issue
- [x] If ACLK build fails make it prominent to the user so he knows about it. It should not be just small line easily overlooked in log. @amoss will speak to @jacekkolasa about this separately.
- [x] Netdata should log on startup it is build without ACLK
-

[2020-02-11 19:58] amoss opened #8051 "Report cases where the Agent Cloud link is blocked by firewall"
#### Discussion for the planning meeting on Wednesday

* This needs to be groomed before we can estimate the complexity.
* If this is needed by March 25 then this causes a problem in how it can be placed in the upcoming sprint.

#### Summary

Ensure that the requirements of product#243 are met.

- [x] Define endpoint for ACLK connection failures with SRE team if not done by #8050 already. Endpoint

[2020-02-11 20:32] jeremyfritzen opened #8053 "Automatic updates don't work"
##### Bug report summary
**Automatic updates don't work.**

I installed netdata on 3 debian VMs with the automatic one-line installation script, as described in the [official documentation](https://docs.netdata.cloud/packaging/installer/#automatic-one-line-installation-script).

I can see that the script is indeed present in the directory /etc/cron.daily/ but the software doesn't update automatica

[2020-02-11 20:38] Ferroin commented on #8053
This is a known issue and is being worked on with high priority. There should be a fix some time within the next 24 hours, though a manual reinstall will be required to get things working again (you would just need to re-run the same install command you used originally on each system).

Progress can be tracked at #8027 and #8028.

[2020-02-11 20:38] #8053 closed

[2020-02-11 20:56] #7740 closed

[2020-02-11 20:57] jeremyfritzen commented on #8053
Thanks!
Sorry for not having noticed the previous posts.

[2020-02-11 21:15] prologic commented on #7966
Closing this issue as I believe it to be resolved. Please open a new issue if you are still facing problems with installing NetData on CentOS 8.x

[2020-02-11 21:15] #7966 closed

[2020-02-11 21:30] #7906 closed

[2020-02-11 23:59] #8027 closed

[2020-02-12 00:02] prologic commented on #8027
**FYI:**

Our sincerest applogies for breaking the Automatic Updater (_usually run by Cron_). The fix has been merged and tested. If you are running on NetData `v1.19.0-432`, in order to get past this broken updater and to the newest nightly, Please re-run the NetData installer as per normal. The process of re-installation also gets you the newest version.

Thank you!

[2020-02-12 00:07] prologic opened #8054 "Investigate LifeCycle Tests in CI"
When I put up the PR for #7939 we missed a few things:

- The logic was inverted and wrong.
- The LifeCycle Tests didn't catch the fact that Automatic Updates would have failed (TBD).

#8027 was raised (_and some duplicates_) as a result from our of our users and promptly fixed by #8028

This issue is to investigate what happened, why and how we can improve this situation and not get biten buy thi

[2020-02-12 01:02] prologic commented on #7346
Thanks I'll check it out! Can you put the PR itself up too in Draft form?

yeah this is okay; thats why actions are so flexible, GHA doesn't need to support this natively per se.

[2020-02-12 01:09] prologic opened #8055 "Update docs on persisting Dashboards in Docker run NetData"
See #7604 for background;

- Add improved instructions on our [docs](https://docs.netdata.cloud/) to help users persist their custom Dashboards

Something like:

[code]

We should also test/verify the accuracy of this information before putting up the PR to amend the docs.

[2020-02-12 01:09] prologic commented on #7604
Agreed. I'll file an issue. #8055

[2020-02-12 01:38] prologic opened #8056 "ANN: NetData v1.19.0-432 broke the Automatic Updater"
# If you are on NetData v1.19.0-432 read on...

#7939 broke the NetData Automatic Updater (_usually run via Cron_).

If you are on this version; you have two quick-fixes:

1. Amend the script with this patch:

[code]

This is usually located in `/usr/libexec/netdata/netdata-updater.sh` under a normal installation. You can easily find it by using `find`:

[code]

2. Re-running the Installer which w

[2020-02-12 04:29] amoss opened #8059 "User documentation for ACLK"
#### Summary

Start ACLK documentation on Core team side (list of config keys, overview) and then cooperate with @joelhans to finish documentation of ACLK in agent.

Ensure that the requirements of product #285 are met.

[2020-02-12 06:28] PNRxA commented on #6839
So we've been getting this issue on a few more of our servers recently.
They all run the default configuration which would be mean the dbengine memory mode is what they're using.
They are also all running 1.19.0 stable.

It's happened a few times just today. Here's an example from right now:
![image](https://user-images.githubusercontent.com/16978632/74308661-e33f7a80-4dbc-11ea-9c20-369bcfeb7845.p

[2020-02-12 08:46] vlvkobal commented on #6839
Are there any errors with the `DISKSPACE` keyword in the `error.log`?

[2020-02-12 08:47] MansM opened #8060 "netdata fail to resolve in kubernetes"
Running on kubernetes 1.17
netdata slaves fail to resolve svc name.
all other pods have zero issues resolving netdata, except for the netdata pods (unless it on the host where netdata master runs).

when I run a pod on the same host as the non working slave they do resolv. I can only reproduce it using the netdata  pods installed with the helm chart
[code]

##### Bug report summary

##### OS / Env