[2020-05-19 15:48] cakrit commented on #9036
We are making privacy policy and other changes to link usage of the cloud with acceptance of tracking. So yes, DNT should prevent users from accessing Netdata Cloud and the documentation should reflect that fact.

[2020-05-19 15:54] asdokfgsopdkg commented on #9065
@jacekkolasa I can confirm adding a `/` fixes the problem
(that is right click on a streaming host, copy link, paste, add /)

[2020-05-19 16:37] ovv opened #9102 "Visual indication for n° of silenced alarm"
##### Feature idea summary

Display some kind of indicator in the web UI showing the number of silenced alarms and/or if all alarms are silenced.

It sometime happen that I forget to turn on alarms after doing some work on the server, a visual indicator of that would be a nice way to remember I forgot something.

[2020-05-19 16:45] ilyam8 commented on #9100
hi @pureexe is order correct on the agent dashboard?

[2020-05-19 16:47] ilyam8 commented on #9100
ok, i checked the code, the order is correct 100%

https://github.com/netdata/netdata/blob/d1a463a01b26e039d33b4d279bc3922fe76cc48e/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L430-L434

[2020-05-19 16:47] joelhans commented on #9095
Thanks for taking the time to write up the steps that worked for you! We rely quite heavily on the communities for our various supported operating systems to make sure the docs are up-to-date.

We could also make an effort to "port" some of this information to https://github.com/netdata/netdata/blob/master/packaging/installer/methods/freebsd.md, since you say those instructions did not work for yo

[2020-05-19 16:48] ilyam8 commented on #9100
@manos-saratsis it seems the charts are not sorted by chart priority

[2020-05-19 17:20] ilyam8 commented on #9101
@mperochon 👋

Can you show container logs right after restart?

[2020-05-19 18:20] pureexe commented on #9100
![image](https://user-images.githubusercontent.com/1303847/82363438-04f17300-9a38-11ea-8e9b-faf3de261894.png)
It sorted correctly in agent dashboard

[2020-05-19 18:26] #9085 closed

[2020-05-19 19:26] thoggs commented on #9095
Yes, I find it much more interesting to create a PR that instructs FreeBSD users to install Netdata on FreeBSD

[2020-05-19 19:28] thoggs commented on #9095
Great, I am interested, we can talk about it when you have free time...

[2020-05-19 19:48] thiagoftsm commented on #9095
Hi @thoggs ,

Considering that @joelhans, our specialist, already gave us the link talking about the Netdata installation on FreeBSD, I will give a suggestion to you, change the specified file that he gave us and create your PR with the text you made.

Best regards!

[2020-05-19 20:09] thoggs commented on #9095
Perfect, I'll do it tomorrow, I'm already putting it as one of my activities ...

Lengths, my noble friend!

[2020-05-19 20:47] joelhans opened #9106 "Improve dbengine calculator/docs for multi-node setups"
After receiving some feedback, both internally and from users, I think we need to explain a few things about the database engine a little more clearly.

Most of the confusion is around multi-node setups, how much disk space is required to store all the streamed metrics, and what they should set `dbengine disk space` to. See this image for a situation that caused confusion for the user.

![image001

[2020-05-19 21:01] jacekkolasa commented on #9056
@projik you're right, there is a bug, thanks for submitting the issue! I think the bug was also present in old dashboard (<1.22). I've fixed this, it should land soon in nightly build

[2020-05-19 21:03] mperochon commented on #9101
Sure, this my logs :
`Netdata entrypoint script starting
Creating docker group 1002
Assign netdata user to docker group 1002
addgroup: /etc/group: Read-only file system
Could not add group docker with ID 1002, its already there probably
usermod: group '1002' does not exist
Could not add netdata user to group docker with ID 1002
2020-05-19 21:00:22: netdata INFO  : MAIN : CONFIG: cannot load cloud

[2020-05-19 21:14] sebastianopilla commented on #9035
I have the same setup (netdata behind nginx, in a subdirectory) and I can confirm that I have the same problem with 1.22.1. The requests for the 4 above mentioned js files return a 404 error to the browser.

Sample screenshots:

![Screenshot_20200519_230044](https://user-images.githubusercontent.com/1286189/82378460-6f4ce800-9a25-11ea-8e3c-67a06b21ceb3.png)
![Screenshot_20200519_230117](https://us

[2020-05-19 22:02] #8679 closed

[2020-05-19 22:27] prologic commented on #9001
Thank you! I'll look into this!

[2020-05-19 22:37] prologic commented on #9061
It can be. I've been in touch with the maintainer already; but I'll put up a PR to fix this myself this time. Stay tuned, I'll try to get this done today.

[2020-05-19 22:40] prologic commented on #9057
Assuming this was about `kickstart-static64.sh` I am closing this as "won't fix". As @Ferroin stated this is rather hard to do realistically and we _have_ to make certain assumptions with our statically built agent that we distirbute via `kickstart-static64.sh` so we can guarentee things work correctly.

[2020-05-19 22:40] #9057 closed

[2020-05-19 22:42] prologic commented on #8877
I'm actually really confused here. Can someone fill me in on a theory as to what's going on here? Alarms just don't suddenly start firing false positive and I find it hard to believe a compilation option would have affected this per se?

[2020-05-19 22:50] prologic commented on #6879
@mixe3y Can you please confirm:

- Your System OS/Version
- Your Yum repositories enabled

Thanks!

[2020-05-19 22:51] prologic commented on #8242
I think we can close this now that #8665 is merged?

[2020-05-19 22:52] prologic commented on #8242
i.e: eBPF is installed and enabled by default starting from today's nightly.

[2020-05-19 23:00] thiagoftsm commented on #9035
@jacekkolasa , please, take a look on this for us.

[2020-05-20 04:15] manjotsc opened #9109 "Netdata Cloud Agent on FreeBSD"
Can't add netdata to netdata cloud.

![Inked82404344-0f5b3f00-9a2f-11ea-8955-df549ec7ff5c_LI](https://user-images.githubusercontent.com/51430971/83343055-dbe8a200-a2c3-11ea-85f4-03332f42a692.jpg)

[2020-05-20 04:17] prologic commented on #8967
Good news! Thanks to all of you that responded and especially to @Kamik for his `$HOME/.curlrc` config I'm able to reproduce this reliably (_truth be told I've never bothered having a custom `$HOME/.curlrc` so never thought to look there for clues_):

[code]

[2020-05-20 04:18] prologic commented on #8967
And the reproducer is pretty clear to me:

[code]

[2020-05-20 04:21] pureexe opened #9110 "[Cloud] Sensor temperature on 2950x always show over heat in cloud dashboard. but it work fine in agent dashboard"
##### Bug report summary
Machine that use Threadripper 2950x is show incorrect sensor temperature in cloud but it show correctly in agent.

However, This problem doesn't happend in Threadripper 2920x and 3960x

![image](https://user-images.githubusercontent.com/1303847/82402613-16ae3700-9a87-11ea-94aa-2a5572378ae8.png)

##### OS / Environment

[code]

##### Netdata version

 netdata v1.22.1-59-nig

[2020-05-20 06:39] yasharne commented on #9023
Thanks @thiagoftsm , your explanations helped me find the solution, I ended up creating a `payload` variable and pass it to the `--data-raw` to fix the problem

[2020-05-20 06:39] #9023 closed

[2020-05-20 06:55] kromit opened #9111 "Static kickstarter update replaces modified netdata.conf in /etc"
##### Bug report summary

After an automatic update `netdata.conf` was replaced by default empty file, opening previously closed port.

##### OS / Environment

[code]

##### Netdata version

 v1.22.1-74-gd218786a

##### Component Name

authomatic update

##### Steps To Reproduce

1. install netdata using static kikstarter
2. change `/opt/netdata/etc/netdata/netdata.conf`
3. wait for netdata update

[2020-05-20 07:06] ilyam8 commented on #9109
@manjotsc hi, how did you install netdata?

[2020-05-20 07:48] dim08 commented on #9097
Hi there! Thank you for your positive feedback. We will add this feature in our roadmap. Would you be interested in sharing some data to help us during the design phase? (i.e. a snapshot of the agent)

[2020-05-20 07:50] eXcalibre commented on #9061
That’s great Prologic James. Thanks and looking forward to the post.

[2020-05-20 08:04] nicknaychov commented on #9097
hi

thank you for your response. Sure I can do that, let me know how, when
and what you need from me.

On 5/20/2020 10:49 AM, dim08 wrote:

[2020-05-20 08:28] mixe3y commented on #6879
I'm using CentOS 7
It's easily reproducible using docker.

Steps:
- install epel
- install netdata from epel
- remove netdata
- install netdata repo from packagecloud
- install netdata

The cause of the issue is that netdata-data and netdata-conf is installed even after removing netdata from epel.

[code]

[2020-05-20 09:33] #2496 closed

[2020-05-20 10:54] prologic commented on #6879
Looks like #9108 _might_ solve this! Thanks @Saruspete !

I will review the associated PR(s) soon.

[2020-05-20 10:59] prologic commented on #9111
I believe this was fixed with #9046 and a duplicate of #8531 and #8679 -- The fix should be in the latest nightly. Please if this is not the case feel free to reopen this issue or comment.

[2020-05-20 10:59] #9111 closed

[2020-05-20 11:23] kromit commented on #9111
Since I've had to re-install a stable release on 10+ nodes and disable all updates entirely, I am sure, I will never enable it again. So you have to wait until it deletes some production config of someone else. 😉 cheers

[2020-05-20 12:12] vbakayev commented on #8132
As I said, as a temporary measure, static binary works for us.

[2020-05-20 12:21] mfundul commented on #9106
Your impression is correct. This will have to change when we implement multi-host database. Then there will only be 1 database for all hosts in the agent.

[2020-05-20 12:33] joelhans commented on #9106
@mfundul Thanks. I'll take care of putting together some updates and ping you as a reviewer when it's ready.

[2020-05-20 12:53] prologic commented on #9077
@thoggs Hi 👋-- To be clear your issue is that we don't install the cron job for the `netdata-updater` on your system? If so this is a bit of a KP and we lack support for cronie, busybox's cron and maybe others (_those are just the ones I'm  aware of_).

[2020-05-20 13:07] prologic commented on #9072
Hello @ffMathy! Thank you for your suggestion. It is of course a great idea; However the types of test scenarios we actually need to cover, a Docker-based solution will not really help us cover. We also need to use virtual machine, bare-metal machines as well as eBPF which are only available on Kernels 4.11+ with KPROBES (_and other required options_) enabled.

On top of that, we also need to ensu

[2020-05-20 13:09] prologic commented on #8734
@Ferroin Your "Maintainer's Guide" you are putting together could #Closes #xxx" this issue.

[2020-05-20 13:34] nghtrifork commented on #7812
Hi @ilyam8. I was trying to read upon what you have said, but I am not sure I understand it properly.

We are running netdata in docker (which runs on top of alpine as far as I can see). We are collecting metrics through netdata and we want to send them as UDP packets to our graphite backend. And that works to the extend that we do collect them and we do send them. However, I do not see any way of

[2020-05-20 13:51] ffMathy commented on #9072
Thank you for your reply - much appreciated.

Your situation is of course perfectly understandable and makes a lot of sense.

I assumed part of your application and some types of features would be enough to test in Docker, so that it would still provide value in some way, but I guess there aren't a lot of features or additions that are of that kind 👍

One final thing... If Kubernetes was supported

[2020-05-20 14:25] #9070 closed

[2020-05-20 14:25] #9084 closed

[2020-05-20 14:28] #9032 closed

[2020-05-20 14:30] amoss commented on #9032
@momon Hi, we've fixed the problem in the agent that happened when re-claiming the agent, and the issue that we discovered on the other side of the link. The patch is currently merged into master and should fix your problem. Please let me know if you see any more problems.

[2020-05-20 14:56] bashirs-investing opened #9113 "netdata: spawn/spawn.c:202: create_spawn_server: Assertion `ret == 0' failed."
Hi ,
netdata stoped working on the server
is it a known issue for you , since i looked up for this issue and couldn't find information  / solution regarding it

 when try to restart the service get this error :
Starting netdata...2020-05-20 14:45:30: netdata INFO  : MAIN : CONFIG: cannot load cloud config '/var/lib/netdata/cloud.d/cloud.conf'. Running with internal defaults.
2020-05-20 14:45:30: n

[2020-05-20 15:24] mfundul commented on #9113
I don't see this problem with CentOS 6 and `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` installation method.

How did you install?

[2020-05-20 15:27] bashirs-investing commented on #9113
i did install it using the same method.

[2020-05-20 15:32] mfundul commented on #9113
Did you give any special arguments? Did you install libuv yourself or did the script install it? What's you libuv version?

[2020-05-20 15:33] mfundul commented on #9113
Ah, another thing is that I've got a more up-to-date CentOS installation, which is:
[code]

[2020-05-20 15:51] bashirs-investing commented on #9113
libuv-devel-1.7.5-1.el6.x86_64
libuv-1.7.5-1.el6.x86_64

and it was installed  by the script

[2020-05-20 15:59] mfundul commented on #9113
Your system packages seem to be at least 3 years old. Centos 6.9 was release on April 5, 2017 and you have 6.8

However, I don't necessarily think the packages themselves are related to this problem.

1. Do you have any special configuration in `/etc/netdata.conf` regarding netdata users and permissions?

2. Is the netdata binary located in `/usr/sbin/netdata`? Can you run `ls -lZ /usr/sbin/netdat

[2020-05-20 16:53] thoggs commented on #9077
I am happy for the work in progress; the Netdata development team is amazing.

[2020-05-20 17:49] thoggs opened #9114 "Inconsistent information on Netdata Cloud"
Hello people,
I know that the Netdata Cloud project is recent, and with that it is a fact that we will have some small problems; still, for the progress of the project, which I like a lot and, I use it daily; I would like to report what is happening to me:

**NOTE:** Occurs with machines running Linux and FreeBSD; both clean installations, from scratch, with no other software running, ie only Netd

[2020-05-20 17:59] #8817 closed

[2020-05-20 18:01] #8306 closed

[2020-05-20 18:03] thiagoftsm commented on #9114
Hello @thoggs ,

@Ferroin could be a problem with our `daemon/system-info.sh` script?
@thoggs , please, could you run `daemon/system-info.sh` and verify if it is identifying your computer information correctly?

Best regards!

[2020-05-20 18:08] thoggs commented on #9114
Hello @thiagoftsm,

Here is the output from the script `system-info.sh`:

![Captura de Tela 2020-05-20 às 15 06 01](https://user-images.githubusercontent.com/43221193/82481461-b8477f80-9aab-11ea-92e7-1f0468a71611.png)

[2020-05-20 18:13] thiagoftsm commented on #9114
Thank you very much @thoggs !
Is the script output matching your hardware?

[2020-05-20 18:20] thoggs commented on #9114
So in reality yes, but in parts, for example:

**NETDATA_SYSTEM_TOTAL_DISK_SIZE=3097889267712** (this will give 3 terabyte right?)
In this case, no, because I don't have 3 terabytes of disk installed on this hardware.

[2020-05-20 18:27] thiagoftsm commented on #9114
Thank you for the additional information!

In this case, no, because I don't have 3 terabytes of disk installed on this hardware.

@Ferroin , please, can you take a look on this?

[2020-05-20 19:10] ilyam8 commented on #8770
hi @carsten-AEI

Could you elaborate a bit? Probably give some example with (what it would be)

[2020-05-20 19:11] ilyam8 commented on #9101
@mperochon thx!

@vlvkobal please take a look

[2020-05-20 19:58] vlvkobal commented on #9101
Please look at https://github.com/netdata/netdata/issues/5071#issuecomment-511764911

[2020-05-21 00:02] #8697 closed

[2020-05-21 00:44] prologic commented on #8967
I have a fix for this in the works. It involves changing every invocation of `curl` in our tooling to have `-q` as the first option. According ot the man page:

But _of course_ it is special and __absolutely__ must be the very first option all on its own!

I _think_ this will ensure any weird shenanigans from random curl configs out in the wild so we can be sure of what we're running.

[2020-05-21 00:46] TheOldMan2000 opened #9117 "Is there a way to prevent Netdata from regularly removing my netdata.conf?"
##### Question summary
How to prevent Netdata from removing my netdata.conf when it updates?

##### OS / Environment

CENTOS 7.8 virtuozzo [vpsxxxxxx]  v86.0.21
Server Version: Apache/2.4.43 (cPanel) OpenSSL/1.1.1g mod_bwlimited/1.4 mod_fcgid/2.3.9 mod_cpanel/1.4
Server MPM: event
48 core cloud VPS 6GB
LSAPI PHP Handler

##### Component Name
Netdata.conf

##### Expected results

After reinstalling

[2020-05-21 00:51] prologic commented on #9114
@Ferroin Don't have you a PR to improve this? Can we get that merged? I believe it is #7902

[2020-05-21 00:52] prologic commented on #9077
Thank you ! We appreciate the positive feedback. I will make sure we support more Corn schedulers. At least the two I mention. I also want support for busybox's userland myself.

[2020-05-21 00:56] prologic commented on #9072
There are of course many scenarios we can test with Docker containers. And we do already and are working on increasing this coverage.

Possibly. But like everything we would evaluate the feasability of the solutions.

[2020-05-21 01:01] #8667 closed

[2020-05-21 01:22] prologic commented on #9016
@stdedos Looks like you just volunteered 🤣PR welcome!

[2020-05-21 01:28] prologic commented on #8905
I have noticed this too. Btw what `CFLAGS` are you referring to here? I need to get back to this and get this working and working with Netdata cloud. The PR changes are not quite enough.

[2020-05-21 01:30] prologic commented on #8943
Okay so you should also run (_before hand_) `./packaging/installer/install-required-packages.sh`

This is what `kickstart.sh` also uses to ensure you have the right dependencies on your system in order to build the Netdata agent which uses `netdata-installer.sh` as well. Have you done this?

[2020-05-21 02:05] prologic opened #9119 "Update kernel-collector to v0.2.0 for eBPF Plugin"
This brings fixes for some Debian and RHEL systems where the kernel-collector libraires/programs were not correctly working in `v0.1.0`

[2020-05-21 02:05] prologic commented on #9119
cc @thiagoftsm

[2020-05-21 02:32] prologic commented on #9117
This was fixed with #9046 and a duplicate of #8531 and #8679 -- The fix should be in the latest nightly. Please if this is not the case feel free to reopen this issue or comment.

And now a duplicate of #9111

I am therefore closing this as such. If this is not correct and the problem persist, please lte me know!

[2020-05-21 02:32] #9117 closed

[2020-05-21 02:44] prologic commented on #9101
@Ferroin YOu have an outstanding PR to fix/address/improve this (_this was mentioned in another issue too for other reasons-) => #7902 Please get this rebased and let's get it reviewed/merged/etc. 😀

[2020-05-21 02:46] kgns commented on #8967
is there any particular reason for not using `-o` option of curl?

[2020-05-21 02:58] prologic commented on #9065
Could this have something to with it?

https://github.com/netdata/netdata/blob/5675f2f48ae4b66526e739c4c5094da1b85ce0e9/web/server/web_client.c#L1346-L1351

[2020-05-21 03:11] prologic commented on #8967
Because a) it doesn't actually fix the problem if you have the aforementioned above `.curlrc` and b) We want to preserve the "single-line" installer method we have in place on https://netdata.cloud/

As it is right it's unclear to me how else `curl` would produce erroneous `\n`(s) in the output besides disabling any default or user configs with the aforementioned `-q` above.

I'm open to suggestio

[2020-05-21 03:39] prologic commented on #9087
So... I wasn't able to reproduce this with a Raspbian 10 VM. Therefore this kind of smell to me like bad memory. Are you able to run memtest on that RPi and see if it turns up anything?

[2020-05-21 03:44] plexmini commented on #9087
Thanks for looking into it. I'll see how I go about doing a memtest and report back.

[2020-05-21 03:49] prologic commented on #9055
@dosiek As others here have pointed out this is the netdata-updater doing this by default unless you installed with `--no-updates` via `kickstart.sh`.

Secondly; we actually encourage all users to use Nightly if they can because that's where you get all the latest features and bug fixes and we try very hard to keep this "green".

Thirdly, I really would not be running the source-built Netdata here

[2020-05-21 04:02] prologic commented on #9037
Hello! 👋Please follow the instructions [here}(https://learn.netdata.cloud/docs/agent/packaging/docker) and if you still have problems please let us know! Based on your desc I have a feeling you might be missing some mount points and other required facilities.

[2020-05-21 06:15] plexmini commented on #9087
Here's the output of memtest. I don't know much about it, but don't see any errors?

`
pi@raspberrypi2:~ $ sudo memtester 500 10
memtester version 4.3.0 (32-bit)
Copyright (C) 2001-2012 Charles Cazabon.
Licensed under the GNU General Public License version 2 (only).

pagesize is 4096
pagesizemask is 0xfffff000
want 500MB (524288000 bytes)
got  500MB (524288000 bytes), trying mlock ...locked.
Loop

[2020-05-21 06:39] prologic commented on #9087
Do you have another RPi you can test with? Unfortunately my last RPi 3b+ got destroyed on em :/

[2020-05-21 06:46] bashirs-investing commented on #9113
1. no special configuration . still with the default configuration from the install .

2. yes it's located at : /usr/sbin/netdata
-rwxr-xr-x root root ?                                /usr/sbin/netdata

Can you share your var/log/netdata/error.log?

# cat /var/log/netdata/error.log
2020-05-21 06:45:30: netdata INFO  : MAIN : resources control: allowed file descriptors: soft = 350000, max = 350000

[2020-05-21 06:48] plexmini commented on #9087
I have another one that already has Netdata installed on it and working for a number of months before I got this second one. The second one (the one having problems) had a different OS on the SD card that I since wiped and put Raspbian on. I currently have pihole running on it with no issues, but could the SD card be bad, or going bad? Otherwise, it's the same model, same OS, etc as the other Pi t

[2020-05-21 07:09] prologic commented on #9087
Yeah why don't you try a new SD card. It's possible that some kind of bit rot might be affecting one or more files on disk and potentially causing compilation to fail. Alternatively you could run our Docker ARM image on it?

[2020-05-21 07:39] stdedos commented on #9016
https://www.youtube.com/watch?v=nr9M7XF_CBg

[2020-05-21 07:55] prologic commented on #9016
🤣😂😂

[2020-05-21 08:20] lassebm commented on #8905
@prologic I need `-DACLK_SSL_ALLOW_SELF_SIGNED` for cloud connectivity on Ubuntu 14.04.

[2020-05-21 08:25] manjotsc commented on #9109
freebsd : pkg install http://pkg.freebsd.org/FreeBSD:11:amd64/latest/All/netdata-1.22.1.txz

[2020-05-21 08:39] ilyam8 commented on #9020
i added [following checks]( https://github.com/netdata/agent-service-discovery/tree/master/.github/workflows)

- go vet
- go test
- go format
- yamllint
- golangci-lint

Having all those checks allows me continue working on it and have all PRs tested.

---

I am closing this issue, its main purpose was to add basic ci/cd.

There is no main pkg atm, nothing to build (`build` step will be added late

[2020-05-21 08:39] #9020 closed

[2020-05-21 08:47] ilyam8 commented on #9020
@prologic ^^

[2020-05-21 09:16] HolgerHees commented on #9037
Hi, I completely followed your documentation.

and my mountpoints are

[code]

and if I use "--pid host" together with "--privileged" everything works. So for me it sounds like a permission problem.

I'm deploying it with ansible
[code]

[2020-05-21 09:45] jacekkolasa commented on #9035
I think it's a cache problem (related to https://github.com/netdata/netdata/issues/8889), @sebastianopilla @djmattyg007 can you please check if the same situation happens in private mode? I see in screenshots that it's loading old Dashboard (1.21 or older). New dashboard (with different navbars) looks like this: https://frankfurt.my-netdata.io/

The `../${url}` in /web/gui/main.js@v1.22.1#L1932 wa

[2020-05-21 09:49] jacekkolasa commented on #8889
We agreed with @amoss that ETags is a way to go here

[2020-05-21 09:58] jacekkolasa commented on #9065
@prologic yeah, that's possible, very good catch! Now i know why our demo sites, under `https://` were always switching to `http://`. We should definitely respect requested protocol in redirect. @thiagoftsm can you groom/take this task?

Separately from this, trailing slashes will be placed on FE side

[2020-05-21 09:59] mfundul commented on #9113
I cannot reproduce this problem for some reason.

Can you try installing the statically built netdata binary? This could solve any dependency related issues.  First you should uninstall by running `/usr/libexec/netdata/netdata-uninstaller.sh`.

Then you can install the static binaries following the [instructions](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart-64).

[2020-05-21 10:20] #9014 closed

[2020-05-21 10:33] bashirs-investing commented on #9113
now getting this error :

2020-05-21 10:31:27: netdata INFO  : MAIN : resources control: allowed file descriptors: soft = 350000, max = 350000
2020-05-21 10:31:27: netdata INFO  : MAIN : Adjusted my Out-Of-Memory (OOM) score from 0 to 1000.
2020-05-21 10:31:27: netdata ERROR : MAIN : Cannot adjust netdata scheduling policy to idle (5), with priority 0. Falling back to nice. (errno 38, Function not

[2020-05-21 10:44] Pingger commented on #8877
Ok, interresting thing:
When the `value` of the time remaining is greater than `256000h`, the alarm stops being raised. The wrong value, that is displayed in the dashboard, is the value, that is used to determine if the alarm should be raised.
![Screen Shot 2020-05-21 at 12 42 05](https://user-images.githubusercontent.com/4761298/82551452-85ab8e80-9b60-11ea-86e9-f627d24db06a.png)

So the issue is

[2020-05-21 10:47] mfundul commented on #9113
What are the contents of `etc/netdata/netdata.conf`?

[2020-05-21 11:10] Ferroin commented on #9114
#7902 wouldn't fix this (it does nothing in the FreebSD case), but is indeed related.

@thoggs Can you share the output from `df` on the same system you shared the `system-info.sh` output for above?

[2020-05-21 11:11] drayvs opened #9121 "Server went "Unreachable" and I got NO notification"
I am wondering if its possible to create notifications on netdata cloud, so if server in question is unreachable I know about it ?

My server runs on Ubuntu 18.04 LTS.

Another question I have is about customizing notifications, so I don't get spammed about FIFO errors for example (I get 10-20 notices about those a day, how they are >0, and how they fixed themselfs)...

I am sorry if my questions

[2020-05-21 11:14] ilyam8 commented on #9121
Actually a good idea.

@manos-saratsis take a look

[2020-05-21 11:17] ilyam8 commented on #9121
The only way to tune an alarm is

- copy the alarm from stock dir to the user dir (there is `edit-config` helper script in the `/etc/netdata`)
- tune the alarm
- restart netdata service

If you want to disable an alarm

[2020-05-21 11:19] kgns commented on #8967
I'm not a bash expert myself, but `.curlrc` can be used for setting a permanent proxy for curl to work with (if the server is behind a NAT or firewall etc.). `-o` option fixes the problem because it saves the response body to the specified file, not the whole stdout. you can add extra output to stdout by using .curlrc but cannot modify the response body as far as I know, but as I said I'm not an e

[2020-05-21 11:22] bashirs-investing commented on #9113
[netdata.conf.txt](https://github.com/netdata/netdata/files/4662143/netdata.conf.txt)

default didn't changed anything in it

[2020-05-21 11:31] bashirs-investing commented on #9113
by the way i have another servers that  stoped working with centos 6.10
CentOS release 6.10 (Final)
3.10.80-1.el6.elrepo.x86_64

and have another server that atill working fine :
CentOS release 6.10 (Final)
3.10.105-1.el6.elrepo.x86_64

[2020-05-21 11:32] Ferroin commented on #9101
@prologic Unless I'm mistaken about the intent of this issue, that's completely orthogonal to what's being discussed here.

[2020-05-21 11:34] Ferroin commented on #9055
It's an ARM system (per GCC path/name in the output in the description), so unfortunately that's not an option right now.

[2020-05-21 11:38] mfundul commented on #9113
That doesn't look right.
The installation folder should have changed to be under `/opt/` for the static binaries.
Can you verify that you're indeed running netdata under `/opt/`?
There should be `/opt/netdata/usr/sbin/netdata` and `/opt/netdata/etc/netdata/netdata.conf`.

Can you run `ldd /opt/netdata/usr/bin/srv/netdata`?

[2020-05-21 11:43] bashirs-investing commented on #9113
sorry sent you the wrong conf from different server
this is the conf form /opt/netdata/etc/netdata/netdata.conf

--> cat netdata.conf
# netdata can generate its own config which is available at 'http://<netdata_ip>/netdata.conf'
# You can download it with command like: 'wget -O /opt/netdata/etc/netdata/netdata.conf http://localhost:19999/netdata.conf'

 -->ldd /opt/netdata/usr/bin/srv/netdata
	sta

[2020-05-21 11:48] mfundul commented on #9113
For the sake of debugging, what happens if netdata runs as root? To test this you can add this to the global netdata configuration in `netdata.conf`:
[code]
and restart the service.

[2020-05-21 11:52] bashirs-investing commented on #9113
same error

[2020-05-21 11:56] prologic commented on #9101
You are right of course; but let's get that mentioned PR merged so we can fix more issues reported orthogonal or otherwise :)

[2020-05-21 12:01] prologic commented on #9020
I saw :)

[2020-05-21 12:02] prologic commented on #8905
Perfect! Let me add that to this PR and do you mind helping me re-test this? I'm not sure I have an Ubuntu 14.04 VM but I'll go spin one up...

[2020-05-21 12:02] #8888 closed

[2020-05-21 12:04] prologic commented on #9055
Oh !@#$ I missed that. How hard would it be to build a static binary for ARM already? I'm sure we can do it!

[2020-05-21 12:04] prologic opened #9123 "Add Netdata Static ARM builds (kickstart-static-arm)"
ssia See [comment](https://github.com/netdata/netdata/issues/9055#issuecomment-632049417)

[2020-05-21 12:04] lassebm commented on #8905
@prologic Sure, no problem.

[2020-05-21 12:08] prologic commented on #8967
Sure. I can replace invoications of `curl` that write the payload to stdout within `kickstart.sh` and `netdata.installer.sh` -- That's no problems. What I cannot do hwoever is change this:

[code]

AFAIK however `curl` will still repsect `http_proxy` / `https_proxy` environment variables even if told to ignore a `.curlrc` with `-q` right?

So perhaps the solution here is to do both. As I keep sayi

[2020-05-21 12:10] prologic commented on #9037
@ilyam8 Are you able to chime in here?

[2020-05-21 12:28] drayvs commented on #9121
I am sorry if this is a stupid question, but where is "stock dir" on Ubuntu 18.04 ?

[2020-05-21 12:31] mfundul commented on #9113
I need you to compile a C test program to compare your machines that work to the machines that don't work, to try and find out why exactly netdata fails.

You should create a `test.c` file with contents:
[code]

You build it by running `gcc test.c -o test -luv`. This will create the `./test` binary. Then you can run this program in the good CentOS machine and the bad one, and share the output to s

[2020-05-21 12:37] kgns commented on #8967
ah you were talking about the kickstart.sh! yea that you can probably not change that if you want a one-liner. but the script does not control the checksum of itself anyway, that's why we don't have any problems starting to run the script, even with custom .curlrc files. the problem only exists while downloading the latest tarball of netdata source code, because the script checks the file's hash a

[2020-05-21 12:54] AndreasUfert opened #9124 "Remove nodes from netdata cloud"
##### Question summary

In an automated environment, adding nodes to netdata cloud is really simple: just run the claim script. I wonder whether there's a possibility to remove terminated nodes in a similar manner. Like if there's a "un-claim script" that removes the node from netdata cloud.

##### OS / Environment

Any. Ubuntu 18.04 in my case.

##### Component Name

netdata cloud

##### Expected

[2020-05-21 13:16] #7895 closed

[2020-05-21 14:34] bashirs-investing commented on #9113
same output on both
ret=0 size=10 path="/root/test"

[2020-05-21 14:44] mfundul commented on #9113
What if you put the `./test` binary in `/usr/sbin` and run it as root and as netdata user?
E.g.
[code]

[2020-05-21 14:50] bashirs-investing commented on #9113
on both server same result with root and netdata users   , but i see the size is different than running in /root

 ret=0 size=14 path="/usr/sbin/test"

[2020-05-21 14:52] #6879 closed

[2020-05-21 15:03] ilyam8 commented on #9121
see

---

i installed Netdata in `/opt`

in my case, stock dir is

[code]

user dir

[code]

[2020-05-21 15:08] nthuemmel opened #9127 "Disable XHRs to github.com made by dashboard"
Is there a way to disable the XHR sent to `https://api.github.com/repos/netdata/netdata/releases/latest` by the netdata dashboard? If not, would it be possible to add an option to do so?

Background: I'm running netdata behind another webserver which sets a fixed `Content-Security-Policy` header. This header forbids access to external sites. The connection attempts made by the netdata dashboard tr

[2020-05-21 15:09] thoggs commented on #9114
Following request:

![Captura de Tela 2020-05-21 às 12 08 47](https://user-images.githubusercontent.com/43221193/82573272-f4d2b400-9b5b-11ea-9225-e98844f9d4c1.png)

[2020-05-21 15:25] bbusschots commented on #9061
I am getting the same error but on CentOS 6 using the official installer script!

[2020-05-21 18:01] vlvkobal commented on #8461
We won't even create an issue for this. Let users make a feature request if they need it.

[2020-05-21 18:01] csch42 commented on #8930
Sorry it took so long. "Real life" intervened with other issues ...

Also: I am not publicly posting the pcap (for obvious reasons), but I'll happily provide the raw pcap via DM, if needed.

However, it doesn't show much. You see the otherwise uneventful TCP-SYN/ACK exchange (my setup uses IPv6, btw.), then the streaming client sends its hello:

[code]

... at which point the server, without any h

[2020-05-21 18:06] vlvkobal commented on #8461
Do we need to set a reminder in a new issue? We can design it when the time comes.

[2020-05-21 18:25] Ferroin commented on #9055
It shouldn't be _too_ hard, the tricky parts are figuring out how we want to handle support of different ARM sub-architectures and ABI's and then ensuring proper testing and verification.

[2020-05-21 18:32] thiagoftsm commented on #8461
I agree with you, right now it is not necessary, so we can postpone this.

[2020-05-21 18:45] Ferroin commented on #9123
Just my opinions on this:

* For 32-bit ARM, we should only support EABI systems, not OABI (different kernel+libc ABI's, OABI has been deprecated for years now, but there are still some systems in the wild using it).
* There are 3 sub-architectures that I would say are worth supporting:
    * ARMv6: This gets us support for a number of older ARM systems. We should probably build it using softfloat

[2020-05-21 19:01] cosmix commented on #8889
Etags are indeed the best way forward. Thanks

[2020-05-21 21:02] #9012 closed

[2020-05-21 22:11] ilyam8 commented on #9109
@manjotsc we dont maintain [netdata freebsd pkg](https://www.freebsd.org/cgi/ports.cgi?query=netdata&stype=all)

@mmokhi can you help?

[2020-05-22 03:20] superchap opened #9133 "Command to uninstall and to make sure none of your code is still on system?"
##### Question summary

I really wanted a real time network monitoring tool to see how much bandwidth (download) I was using at any given time. Netdata looked GREAT! Download for Linux Mint was going swimmingly. Unfortunately, I have ZERO interest in providing ANY DATA ('anonymous' or not) to Google. I tried to 'pass some code' or wuddever to avoid having any information go to Google Analytics and

[2020-05-22 06:59] #8710 closed

[2020-05-22 08:06] lds-lds opened #9135 "error with kickstart (install or upgrade)"
Hello since this morning when i launch or try to upgrade with bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh) I get this error and netdata does not launch

[code]

Yet the file does exist:

[code]

[2020-05-22 08:42] vladsol commented on #9061
Yep.

[2020-05-22 09:18] ilyam8 commented on #9037
hi @HolgerHees

check

[2020-05-22 09:46] moucho commented on #9135
same here

[2020-05-22 09:47] amoss commented on #9114
It sounds as if the problem is that we treat bare-metal installs as `unknown` virtualization. If we reach the end of the cases in the `system-info.sh` without detecting any virtualization then we should assume that we are running on bare metal. We could overwrite the `unknown` value with `none` at this point, but I think it will still require a change to the display on the cloud side.

[2020-05-22 09:50] amoss commented on #9121
@manos-saratsis / @dim08 This is a good idea. One way to achieve this would be to add an ACLK chart to the agent that shows the current connection state / usage and allow alarms to be defined on it.

[2020-05-22 09:51] boxintense commented on #9135
Here as well

[2020-05-22 10:10] amoss commented on #8825
The basic problem is that when we receive a duplicate connection (from the same machine GUID) we choose to keep the old dead connection rather than the new live connection. I'm currently doing some work in the streaming code and I can replicate this bug on my setup. The fix will be part of a PR that adds a new feature - should be the middle of next week.

[2020-05-22 10:13] amoss commented on #8930
Looks like the same problem as #8825 - fix will be the same PR, estimated to be middle of next week.

[2020-05-22 10:54] #8878 closed

[2020-05-22 11:02] #8852 closed

[2020-05-22 11:07] prologic commented on #9123
Fine. We should only start with work once we have access to ARM hardware virtual or bare-metal. THis reminds me to follow up with TerraSwitch who are poised to provide us with virtual ARM resources.

[2020-05-22 11:17] Snuggle commented on #9135
How odd. Trying to run the binary directly returns error code `125`.

[code]

[2020-05-22 12:32] Ferroin commented on #9135
There's currently a known issue with our static builds (namely, they're not getting statically linked). We're working on this right now but are currently unsure of when there may be a fix (we've been working on it since yesterday but still haven't managed to figure out why it's happening).

[2020-05-22 12:46] lds-lds commented on #9135
Ok, thanks for your work, i'm waiting for the fix

[2020-05-22 13:15] Ferroin commented on #9135
Relevant PR is #9130. The next nightly after that gets merged will have the fix for this.

[2020-05-22 16:15] thiagoftsm commented on #8467
Dupplication of #9093 .

[2020-05-22 16:15] #8467 closed

[2020-05-22 16:43] amoss commented on #7327
Reassigning this to myself as it relates to a bug that I’m looking at in the streaming code. I will take another look at replicating this next week.

[2020-05-22 17:26] jeremyjpj0916 commented on #7327
glad something might come of this yet. I am sticking to a really old version of netdata where I don't have this problem and I build from source for now. I don't use netdata for much fancy stuff so am happy to sit on ancient version 😆  .

[2020-05-22 19:02] sean-perryman commented on #9061
I am adding my +1 on the official install script not working for my running CentOS 6.

[2020-05-22 20:39] dpointk commented on #3428
on CentOs 6.10 I was missing `yum install MySQL-python`

[2020-05-22 20:44] jacekkolasa commented on #9127
@dim08 @cakrit currently we do this call to know if users have newest version. Do you think we should add an option in `netdata.conf` to disable that check?

[2020-05-22 22:01] QuantumlyTangled opened #9136 "Question: Long term health alarms"
##### Question summary

My question is, if it is possible to get metrics from the past weak and avg them out. If I can do that may I be pointed in the right direction? I get that I can set a check interval but if possible I would like to check every day for the last 9 days to average out the total bandwith use. Reason for that is Contabo's bandwith policy.

##### OS / Environment
Ubuntu 18.04

[2020-05-22 22:29] thiagoftsm commented on #9136
Hello @QuantumlyTangled ,

Take a look on this issue https://github.com/netdata/netdata/issues/8877, I am working with a person there that is monitoring the whole month of data, the user gave example of alarms that he is using. If this  cannot help you, please, let me know.

Best regards!

[2020-05-23 02:08] prologic commented on #9135
Rather than wait for the fix and CI check to prevent this in future let's just revert the offending PR => https://github.com/netdata/netdata/pull/9137

Let's get this merged ASAP and static builds functioning again.

[2020-05-23 02:27] prologic commented on #8862
#8865 that fixed builds for macOS is __reverted__ due to #9135 (_but was found earlier then user reports_). Putting this back in my backlog after #9130 is cleaned up and merged.

[2020-05-23 02:28] prologic commented on #9135
Sorry for the premature close (_silly Gihtub_). I've reverted the offending PR. I will rebuild the static builds and publish new ones manually that fixes this for all. I'll comment back when done and close the issue out. Thanks for all your patience!

[2020-05-23 03:32] prologic commented on #9135
I prefer to fix this now and manually rebuild and republish the statically built Netdata so `kickstart-staic64.sh` can work again sooner.

[2020-05-23 05:14] thoggs commented on #9114
I understand, in other words, is there anything that the user can do?

[2020-05-23 05:23] prologic commented on #9135
This has been fixed. The version you should get from `kickstart-static64.sh` should be `v1.22.1-108-gd1b0cc3c`

<details>
<summary>Test Results</summary>

[code]
</details>

[2020-05-23 05:23] #9135 closed

[2020-05-23 05:31] startryst opened #9138 "Can't be installed in China (one line installation script)"
`raw.githubusercontent.com`, and `storage.googleapis.com` is unable to connect within china, I assume everyone knows the reason, so any plan to have a secondary repository to let the broader China users to enjoy the simplicity of one line installation script?

I tried other methods as well: rpm by package cloud, but it turns out the netdata.conf is different than the one line installation script.

[2020-05-23 05:34] startryst commented on #8527
This is no long about DNS, it's also about the IP address, if you're talking about to build a secondary repository in netdata.cloud(which is not hosting in google), I assume highly likely to be working

[2020-05-23 05:38] startryst commented on #8527
Also, it doesn't means the Internet in China is totally blocked for all external cloud services, and in fact only a few, and unfortunately, google is one of them, so either have a provider in China, or outside China are both valid option, as long as it's not the well-known blocked one, will be fine.

And for your information: AWS(Global/China), Azure or Alibaba are the players have a bigger footpr

[2020-05-23 05:59] amoss commented on #9114
I don’t think there is anything that you can do immediately, we need to release a patch to change the script. @manos-saratsis could you check with the Cloud Team how we can fix this?

[2020-05-23 08:28] phunckster commented on #3707
Sadly I followed the Info about a new netdata Version. After update it doesn't work anymore giving the error 'Cannot load required JS library: dashboard_info.js' :(
Everything was fine...sometimes you simply should'nt update. Ok that's also no solution.
Funny, after I uninstalled netdata it still shows the error when I visit the adress. Still active the webthingie
here's a screenshot of the error

[2020-05-23 13:09] sebastianopilla commented on #9035
@jacekkolasa Thanks for your input, I see the same issue in private mode.

I tried a manual install of the new dashboard, replacing the old one: I didn't get the 4 JavaScript alerts above, but instead a different JavaScriptalert about a missing  `dashboard_info.js` file.

In the end, what made it all work for me was reinstalled (manually) the old dashboard code, and then adding on top the new dash

[2020-05-23 13:38] mologie commented on #8820
This also affects the netdata release distributed with Ubuntu 20.04 LTS.

A less intrusive workaround is to add a systemd override file via `systemctl edit netdata.service` with the following content:

[code]

Note: systemctl edit merely writes your changes to `/etc/systemd/system/netdata.service.d/override.conf` and reloads the service file.

Afterwards, restart netdata via `systemctl restart net

[2020-05-23 16:00] rafariossaa opened #9139 "Install error: possibly undefined macro: AC_MSG_NOTICE"
##### Bug report summary

When installing with :
[code]
finally I got the following error:

[code]

I was able to fix it by installing `pkg-config` package.

##### OS / Environment

[code]

##### Netdata version

It was not installed, so I picked it from the `/tmp/` directory name:
`/tmp/netdata-kickstart-WEgiIh/netdata-v1.22.1`

##### Component Name

##### Steps To Reproduce

1. run:
```bash <(cu

[2020-05-23 16:48] vsc55 opened #9140 "Fail installation in Gentoo Linux"
##### Bug report summary
When executing the installation with `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` the following error occurs:
[code]
A `emerge --sycn` was run just before starting the installation.

##### OS / Environment
[code]

##### Netdata version
Not installed.

##### Component Name

##### Steps To Reproduce
1. Run: `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

####

[2020-05-23 16:52] vsc55 commented on #9140
The package Name `openssl-devel` is incorrect, the correct name is `dev-libs/openssl`.

[2020-05-23 18:50] Akkor70 opened #9142 "Monitoring Apache"
##### Question summary
Apache Monitoring
##### OS / Environment
Ubuntu Server 18.04
##### Component Name

##### Expected results
Monitor Apache

I would like to monitor apache with netdata but I havent' found an example on how to
I try to follo the guide found under /etc/netdata/python.d/apache.conf but I'm not able to obtain the goal
Could You help me to correctly configure Netdata ?

[2020-05-23 19:03] thoggs opened #9143 "Netdata não compila no FreeBSD após Nightly Netdata-v1.22.1-96"
Hello,
Today I noticed that starting with version v1.22.1-96 of Netdata, I can't compile using the script netdata-installer.sh; I had already reported problems in relation to dependencies (#9095), but this time I cannot say with the same precision.

Due to this problem, I ended up changing the installation method to FreeBSD in the installation document, which is still an unapproved PR #9116 (for o

[2020-05-23 20:29] ilyam8 commented on #9142
Hi

check

you need to copy apache.conf to use dir and configure a job

If there are any problems `python.d.plugin` has debug mode

[2020-05-23 20:51] #8055 closed

[2020-05-23 20:51] #8737 closed

[2020-05-23 20:51] #8735 closed

[2020-05-23 21:49] rjsears opened #9144 "Adding Raspberry Pi CPU temp sensor graph to custom webpage"
I have setup Netdata to see my Raspberry Pi temps on my main page as well as the netdata.cloud view of my Pi. However when I attempt to add it to a small custom page, it fails and shows "No Data" instead of the graph

I pulled the data-netdata line (`<div data-netdata="sensors.temp_thermal_zone0_thermal_thermal_zone0"`) directly from my dashboard and any change to it results in the "chart not foun

[2020-05-24 01:18] Pingger commented on #8877
Well, I just found this in the documentation (https://github.com/netdata/netdata/blob/master/health/REFERENCE.md):

This information should be placed at the `red` and `green` property documentation and not somewhere miles below.

Closing this as it seems to be intended behaviour.
Also after changing all alarms in the given file to not use `red` and `green`, the alarm now actually trigger when they

[2020-05-24 01:18] #8877 closed

[2020-05-24 01:21] Pingger commented on #9136
Also keep in mind the pitfall I found: https://github.com/netdata/netdata/issues/8877#issuecomment-633162797

[2020-05-24 01:27] gecube commented on #7824
Hi!

What about pre-packaged DEBs for Ubuntu (aarch64) ?

[2020-05-24 01:39] fzyzcjy commented on #284
Hi! I wonder whether we can have a `hit ratio` figure? We already have two separate graphs showing the `Innodb_buffer_pool_read_requests` & `Innodb_buffer_pool_reads`, and the `hit ratio` is just the quotient of the two. Since hit ratio is a useful indication, could we have that? Thanks very much!

By the way, thanks for the wonderful Netdata! Now I really get addicted to it!

[2020-05-24 02:32] djmattyg007 commented on #9035
To confirm, I had the exact same experience as @sebastianopilla

I'm using the official Arch Linux package, which only provides a single package with everything bundled together. I tried opening Netdata in private browsing mode, and that didn't change anything. I'm still seeing what is apparently the old dashboard too.

I'm not sure how reinstalling would help in this situation. I hadn't opened Ne

[2020-05-24 02:47] StaticReality opened #9145 "cant uninstall 64bit netdata that was installed via kickstart"
##### Question summary
I installed and been updating 64bit netdata via kickstart
`bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)`
current netdata version installed: v1.22.1-109-gaf1aecea

I want to remove all of netdata and use the RHEL repo instead to manage / update the install. When I looked up the uninstall method:
https://learn.netdata.cloud/docs/agent/packaging/installer/uninst

[2020-05-24 10:26] Akkor70 commented on #9142
Sorry but in wich path I have to copy apache.conf ? inside /etc/netdata ?
How to correctly edit apache.conf file to show apache charts in netdata ?

[2020-05-24 14:51] #8746 closed

[2020-05-24 15:15] ilyam8 commented on #9142
it is enabled, as i said, have you tried debug mode?

---

This is default configuration

https://github.com/netdata/netdata/blob/68c1145cb31e4ce4253ba9279283633b8b4f5c4e/collectors/python.d.plugin/apache/apache.conf#L75-L85

If you need to change something you need to cd `/etc/netdata` (the path depends on your install path) and

`./edit-config pyhton.d/apache.conf`

[2020-05-24 15:16] ilyam8 commented on #9142
btw it is in the module readme

[2020-05-24 17:04] Akkor70 commented on #9142
I'm on Ubuntu server 18.04 and I don't have none of this path written in the debug

# execute the plugin in debug mode, for a specific module
/opt/netdata/...................
/usr/libexec/........................

[2020-05-24 18:43] edgify-admin opened #9146 "Netdata cgroup Memory Activity"
Can someone please explain what is "Memory Activity for cgroup" image container.

[2020-05-24 19:57] dosiek commented on #9055
I fixed it by deleting netdata-updater from cron.

[2020-05-24 19:57] #9055 closed

[2020-05-24 20:09] drayvs commented on #9121
Ok, sorry for long reply, I had to change server... Because old one was going unreachable for no apparent reason.
So you told me to copy alarm from stock, and tune it.

First question What is Alarm? I can only assume you talk about health_alarm_notify.conf
which I already have in /etc/netdata ( I had to set it up for my Telegram notifications).

But I don't see any mentions of "net_fifo.enp1s0" er

[2020-05-24 20:33] ilyam8 commented on #9121
@drayvs

[2020-05-24 20:46] drayvs commented on #9121
@ilyam8
Ok, i think I figured it out, I need to copy
/usr/lib/netdata/conf.d/health.d/net.conf
into
/etc/netdata/health.d/

And edit
# FIFO errors
As I see fit, then restart netdata service.

Did I get it right? And then I have to repeat this on every server.

[2020-05-24 21:48] CaptInsano commented on #6882
Just checking up on this issue again for progress.

I found this project/script that offers a stop-gap solution of linking veth interfaces to docker container names:

https://github.com/micahculpepper/dockerveth

Hopefully the script source may offer insight in linking veth interfaces to docker containers in netdata.

Thanks again for all your work!

[2020-05-24 22:10] vsc55 commented on #9124
Hi,
That same problem I have encountered.
The way I've fixed it is by removing the cloud node by hand.
And on the node, removed all the files in "/var/lib/netdata/cloud.d/" except cloud.conf

[2020-05-24 22:17] manjotsc commented on #9109
@mmokhi help needed

Thanks,

[2020-05-25 00:34] tixetsal commented on #9035
I'm on Arch and also have the same issue.

[2020-05-25 03:28] prologic opened #9147 "Add CI check for Static builds (kickstart-static64)"

[2020-05-25 03:38] thiagoftsm commented on #8612
@underhood I have a doubt, can we close this issue?

[2020-05-25 03:48] #8758 closed

[2020-05-25 04:12] prologic commented on #9055
There is also an option to not include the auto updater by passing `--no-updates` to the kickstart script when installing.

[2020-05-25 04:16] prologic commented on #9145
You need only do two things:

1. Stop Netdata with e.g: `sudo systemctl stop netdata`
2. Remove Netdata with e.g: `sudo rm -rf /opt/netdata`

This is the only place where Netdata static installs itself to via `kickstart-static64.sh`

Alternatively the uninstallation scripts _always_ work regardless of installation method:

[code]

[2020-05-25 04:16] prologic commented on #9145
If you have any further queries please don't hestitate to ask!

[2020-05-25 04:16] #9145 closed

[2020-05-25 04:22] prologic commented on #9143
Are you working out of.a Git tree?

If so can you rebase to HEAD@master and try again?

[2020-05-25 05:00] prologic commented on #9139
I am not able to reproduce this error:

[code]

So I would ask that firstly you try again and if the problem persists I'll need to know more about your system.

[2020-05-25 05:02] prologic commented on #9114
If you're talking about the `./daemon/system-info.sh` script; We can probably update this.

[2020-05-25 05:05] prologic commented on #8527
Next question; Is there a reliable way we can detect that we are in China from within `kickstart.sh` / `kickstart-static64.sh`? If so it makes this a whole lot easier because we can just duplicate what we publish to "some other place" and change the `BASE_URL` (_which I have PRs for_) if we detect we're in China.

[2020-05-25 05:10] prologic commented on #9061
__Please note:__ This issue only affects Homebrew users on macOS. This should not be affecting other systems; if you are experiencing similar problems on other systems please either open a new ticket with details or briefly comment here what's going on with your installation. Unless you are installing Netdata explicitly with `--disable-cloud` you should not be seeing this on systems like CentOS. A

[2020-05-25 05:17] prologic commented on #9037
Ahh yes @ilyam8 is right, I forgot about this. You have to use host networking otherwise the container is restricted to only its network namespace.

[2020-05-25 05:21] startryst commented on #8527
Glad to see conversation moved to something concrete. And yes, and the solution is pretty easy, take ipinfo.io as an example, they provide API:
[code]

And you can parse from the above json from there, there're tons of such free GEO IP api service in the internet, the above is just an example.

[2020-05-25 05:21] HolgerHees commented on #9037
I found this already out and my netdata container is running with host networking. But still I get the described error regarding pid's

[2020-05-25 05:26] prologic commented on #8527
Sounds like a reasonable approach to me as long as the GeoIP service itself isn't blocked :)

[2020-05-25 05:50] prologic commented on #9138
Duplicate of #8527

[2020-05-25 05:50] #9138 closed

[2020-05-25 06:00] startryst commented on #8527
No worries, no reasons to foresee any of those sites been blocked, and can you help to notify me when this will be ready,  or any approach I can subscribe for this feature?

[2020-05-25 06:02] prologic commented on #9133
Hello @superchap 👋

I can only assume you installed Netdata like this:

[code]

if you look at the "Get Agent" section of our [website](https://www.netdata.cloud/#installation) you'll note the following options:

<img width="647" alt="Screen Shot 2020-05-25 at 15 59 15" src="https://user-images.githubusercontent.com/1290234/82782888-b3663f80-9ea0-11ea-8710-bee6336c9aea.png">

If you untick "Anonym

[2020-05-25 06:05] prologic commented on #8527
So there's a few things that need to happen to make this work:

- [ ] Add `BASE_URL` support to our tooling so we can selectively change where we get sources and dependenices from (_This is already in the works for other reasons_).
- [ ] Setup some alternative hosting for the Source dist and Static builds elsewhere that are suitable for access within China
- [ ] Modify `kickstart.sh` and `kickstar

[2020-05-25 06:06] superchap commented on #9133
Thank you!
Appreciate the follow up.
Honorable.

On Mon, May 25, 2020 at 1:02 AM James Mills <notifications@github.com>
wrote:

[2020-05-25 07:00] #8612 closed

[2020-05-25 07:02] prologic commented on #9133
You're welcome! Please let me know what you do so I can close this issue out. Otherwise feel free to ask more questions here I'll do the best I can to answer!

[2020-05-25 07:06] startryst commented on #8527
Happy to be the testers. :-)

[2020-05-25 07:09] superchap commented on #9133
Please leave it with me James. I'll reconsider with the new information
you've provided.
https://youtu.be/_CWWkuz0u3s

On Mon, May 25, 2020 at 2:02 AM James Mills <notifications@github.com>
wrote:

[2020-05-25 07:40] prologic commented on #9061
I've just realized circling back on this that updating the Formulae in homebrew-core is probably going to be quite hard as we unfortunately bundle libmosquitto and libwebsockets at this time because we need special patches for the ACLK. I _might_ have to provide a different Homebrew Formulae here as a Tap. cc @Ferroin

[2020-05-25 09:34] knatsakis commented on #8600
Hi @agustinvinao, I am not sure what you mean here?

Do you mean a public traefik v2 instance that provides metrics? If, so, unfortunately, no, I don't have an instance to provide.

Could you clarify a bit?

[2020-05-25 10:51] vladsol commented on #9061
Well... As i said, on CentOS 6, without --disable-cloud, i got the same error "This agent was built without the dependencies for Cloud and cannot be claimed".
Nothing special. Installed with bash <(curl -Ss https://my-netdata.io/kickstart.sh) --stable-channel --disable-telemetry

[2020-05-25 10:54] #8973 closed

[2020-05-25 11:11] agustinvinao commented on #8600
@knatsakis Im trying to use netdata using docker and traefik:

[code]

This is my docker-compose file, but it doesn't work. If you have a docker-compose setup that may help

[2020-05-25 12:06] patidarashok opened #9149 "question - how to setup netdata for mutiple domain"
Hello,

I installed netdata on ubuntu 16.04 for getting insight of nginx
I can see nginx.local over the dashboard.

I have setuped 5 different virutal host on  /etc/nginx/site-availbe/1.conf 2.conf 3.conf etc.
and setup separate access/error log for each domain, which is written in /var/log/nginx

My Question/issue is
I cant see separate error logs of each domain and i also want to get error logs

[2020-05-25 12:31] cakrit commented on #6882
@dim08 this one is important and requires some planning, because testing isn't trivial.

[2020-05-25 13:43] knatsakis commented on #8600
I am using the following:

[code]

for netdata and:

[code]

for traefik.

Hope it helps!

[2020-05-25 14:29] vlvkobal commented on #7172
Done.

[2020-05-25 14:29] #7172 closed

[2020-05-25 14:45] cakrit commented on #9127
Sure, why not? Simple and effective.

[2020-05-25 15:12] #8738 closed

[2020-05-25 17:18] zack-shoylev opened #9152 "CentOS 6.x via kickstart has no cloud support"
##### Bug report summary

##### OS / Environment
CentOS 6

##### Netdata version
netdata v1.22.1-96-nightly
Installed via kickstart script

##### Component Name
Cloud claiming not working - agent built without cloud dependencies

##### Steps To Reproduce
Use kickstart script to install agent on centos 6
copy-and-paste claim command

##### Expected behavior
Claiming should work when agent is instal

[2020-05-25 17:25] zack-shoylev opened #9153 "CentOS 7 no metrics displayed for nodes"
##### Bug report summary
Nodes do not load any metrics

##### OS / Environment
CentOS 7

##### Netdata version
Agent v1.22.1-96-nightly

##### Component Name
Cloud

##### Steps To Reproduce
Claim 5 CentOS 7 nodes in the same space
Only one of them shows any metrics

##### Expected behavior
Metrics should be displayed for all nodes

also see https://netdata.zendesk.com/agent/tickets/111

[2020-05-25 17:25] #8180 closed

[2020-05-25 20:03] #8019 closed

[2020-05-25 20:58] llevet opened #9154 "CentOS 7 with netdata v1.22.1 with SSL + firefox => dashboard loading problem."
netdata v1.22.1
Firefox 76.0.1 (64 bits) client.
Server CentOS Linux release 7.8.2003 (Core)
openssl-1.0.2k

Problem :
When loading dashborad in https only a part is loaded with firefox.
error appear in firefox console :

ChunkLoadError: "Loading chunk 0 failed.
(error: https://www.xxxxxxxxx.net:19999/static/js/0.0a2b85cc.chunk.js)"
    e (index):16
    me index.tsx:11
    Pu 6.e6ac6641.chunk.js:2

[2020-05-25 21:38] thiagoftsm commented on #9154
@jacekkolasa is the dashboard recognizing the protocol specified every time the page is loaded?

[2020-05-26 01:28] #9051 closed

[2020-05-26 02:02] prologic opened #9155 "Automatically add mount(s) for tracefs and debugfs during installation for eBPF support"
See [this comment](https://github.com/netdata/netdata/pull/9118#issuecomment-633769257)

This is [well documented here](https://learn.netdata.cloud/docs/agent/collectors/ebpf.plugin/#mount-debugfs-and-tracefs)

Our users should not have to go do this by hand.

cc @thiagoftsm

[2020-05-26 02:19] #9147 closed

[2020-05-26 02:29] prologic commented on #9061
For CentOS 6.x specifica issues related to Netdata Cloud and claiming or lack of support for please see #9152

[2020-05-26 04:25] TheOldMan2000 commented on #9117
Netdata didn't update despite telling me an update was available for a few days, so I just ran the kick64 command to update it and v1.22.1-123-gb17a9f91 immediately reset (destroyed) my Netdata.conf file again. Cue the ridiculous onslaught of health email notifications and hours configuring everything again, copying and pasting TLS certs from WHM into Netdata via SSH (why doesn't it automatically

[2020-05-26 04:46] thoggs commented on #9051
Hello,
Tested, problem solved...

![Captura de Tela 2020-05-26 às 01 15 35](https://user-images.githubusercontent.com/43221193/82861328-ac681d00-9ef2-11ea-91a3-52cb147c70c6.png)

[2020-05-26 04:49] prologic commented on #9117
@Ferroin You fixed this in #9046 Can you please investigate and if necessary reopen if this is still a problem. Thanks!

[2020-05-26 05:00] thoggs commented on #9143
Yes, without any problem, I will do and post the result here...

[2020-05-26 05:47] prologic commented on #8330
I do not see this happening and this is very low priority. if this still needs to happen please open _specific_ issues to address appropriate TODO(s) in subsections of codebases. An all-encompassing issue will not work here at this time.

[2020-05-26 05:47] #8330 closed

[2020-05-26 06:33] Jessimon opened #9156 "python.d, charts.d, go.d not working any more in v1.22.1-123-nightly"
Hello Everyone,

As of version v1.22.1-123-nightly go.d.plugin does not work any more.

Here are the lines from the error log:

[code]

When i run the plugin manually ./go.d.plugin -d -m apache i get the expected results.
I only have this issue on servers that have installed the v1.22.1-123-nightly, all other servers are working normally.

Hope this helps.

[2020-05-26 06:56] ilyam8 commented on #9156
Possible cause - https://github.com/netdata/netdata/pull/9074

I suspect `python.d` doesnt work too

[2020-05-26 07:11] Tommuh commented on #9156
Correct, I think.

Apache, Redis, MySQL not working.

[2020-05-26 07:14] stelfrag commented on #9156
Issue most likely identified. I am working on a fix for this

[2020-05-26 07:45] ilyam8 commented on #9156
Thx for reporting 😅 it is fixed in #9158 😅

[2020-05-26 08:23] #3255 closed

[2020-05-26 08:26] Joohansson commented on #9156
Oh wow, just spent 2h and rebuilt my whole custom netdata project, reinstalled 3 times and almost gone mad trying to get my python plugins working =) Good to see there is a fix! How do I apply this fix, or will there be a new build that I can install?

[2020-05-26 08:28] MisterPaf commented on #9156
How can i apply this fix plz ?  should i wait for the automatic update or can i do it manually?  Thanks

[2020-05-26 08:28] #2637 closed

[2020-05-26 08:48] ilyam8 commented on #9156
If you guys on the nightly channel and update cron job is installed the fix will be uplied tonight

[2020-05-26 08:53] MisterPaf commented on #9156
Thanks a lot.

Can I safely restart the installation script to switch to the stable version on a production system?

[2020-05-26 09:04] manos-saratsis commented on #9124
@AndreasUfert @vsc55 Thanks for using Netdata Cloud. We will soon ship a feature to unclaim nodes initially via running the claim script with certain parameters.

[2020-05-26 09:05] Joohansson commented on #9156
@MisterPaf I would guess it's possible from here: https://packagecloud.io/netdata/netdata

[2020-05-26 09:12] MisterPaf commented on #9156
I was just thinking of restarting the by changing the parameters : bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --stable-channel  Is this valid?

[2020-05-26 09:13] Joohansson commented on #9156
It does not support that from what I can see
https://github.com/netdata/netdata/blob/master/packaging/installer/kickstart.sh

[2020-05-26 09:18] ilyam8 commented on #9156
i think it installs latest by default

[2020-05-26 09:21] Joohansson commented on #9156
@ilyam8 No it worked for me, I'm back at 1.22.1 now with python working again!
bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --stable-channel

[2020-05-26 09:22] #9156 closed

[2020-05-26 09:23] ilyam8 commented on #9156
keep in mind `--no-updates` means you need to manually update netdata

[2020-05-26 09:23] amoss commented on #9156
@stelfrag has fixed the parser, if you pull the latest copy from our master branch the fix is in there, or if you wait until tonight it will be in the nightly channel for the auto updater.

[2020-05-26 09:25] dim08 commented on #9028
Hi there, thank you very much for your feedback and support!
Since this issue is a deep change that may affect multiple new functionalities on the agent right nav bar, would you like to share with us a more concrete technical design before start coding?
We will definitely encourage you to write a PR but let's first assess the wider impact.

[2020-05-26 09:48] ofirule commented on #8311
Same problem running
`docker rm -f netdata && docker run -d --name=netdata \
  --net=host \
  -v /proc:/host/proc:ro \
  -v /sys:/host/sys:ro \
  -v /var/run/docker.sock:/var/run/docker.sock:ro \
  --cap-add SYS_PTRACE \
  --cap-add NET_ADMIN \
  -e PGID=999 \
  --security-opt apparmor=unconfined \
  --restart=always \
  netdata/netdata
`

Your netdata version: v1.21.1-159-gca3019e4

[2020-05-26 10:09] vlvkobal commented on #9028
I think there are two things we should define before implementing the feature: parsing logic for `/proc/PID/cgroup` and configuration syntax. @mbarper please elaborate on your suggested design.

BTW

Is the ID number always 1 for `systemd`? How does it look in the cgroups version 2?

[2020-05-26 10:27] penguennoktanet opened #9159 "Working modules stopped working."
### Question summary
I was using netdata with prometheus and grafana for last 2 months. Suddenly this morning 2 of my netdata started to behave strangely.

1 of the netdata stopped spooling apache2 data. I debugged the apache module with debug and everything seems fine (/usr/libexec/netdata/plugins.d/python.d.plugin apache debug trace). Also on error log, notting seems relevant about apache exists

[2020-05-26 10:34] carsten-AEI commented on #8770
Sorry for the delayed reply.

Right now, every alert needs to be linked to a chart - unless I did not understand the docs correctly - and a typical alert by email looks like:

[code]

For example, we monitor/test various autofs NFS mounts between our servers as a client check. In order not to overwhelm the network and servers, we randomly choose a few from a list and in case a problem appears send

[2020-05-26 10:45] stelfrag commented on #9159
Hi @penguennoktanet, you do not mention the version you are using, but most likely you are affected by #9156. You can view that issue for more details.

A fix has been applied to master.

[2020-05-26 10:56] penguennoktanet commented on #9159
Yes, you are right. This is why I hate auto updates. :) I did not realized it is auto-updated too. I revert with  "bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --stable-channel" to 1.22.1 and problem is gone.

Thanks for the help..

[2020-05-26 10:56] #9159 closed

[2020-05-26 11:14] Dmitry-SoftServe opened #9160 "Switching from nightly to stable releases"
##### Question summary
Hello. Is it possible to switch from nightly to stable releases without netdata reinstall?
##### OS / Environment
Ubuntu 16.04

[2020-05-26 11:56] prologic opened #9162 "[SPIKE]: Investigate standing up github-actions-runner (Golang) on FreeBSD to do CI"
See: https://github.com/aweris/github-actions-runner

[2020-05-26 11:59] amoss opened #9163 "Broken build on FreeBSD"
##### Bug report summary

On a system with automake 1.16.1 the `netdata-installer.sh` fails with the following output:
[code]

Adding the suggested flag does not fix the problem. There is an incompatibility between `automake` 1.16.1 and the default (BSD) make.

The work-around is to add the `--disable-dependency-tracking` flag to `./configure` and use `gmake` instead of `make` in the installer.

#

[2020-05-26 12:10] Ferroin commented on #9143
Looks like the same thing as #9163.

[2020-05-26 12:29] amoss commented on #9143
It is the same problem, the work-around should work until we fix the installer.

[2020-05-26 13:12] #4685 closed

[2020-05-26 13:25] TSKimball opened #9164 "[Gentoo] Go collector not starting after 1.22.1 auto-update"
##### Bug report summary
Go.d plugin unable to start after it auto-updated last night; this has disabled apache monitoring.

Running the below plugin manually (as the netdata user in foreground) shows correct stream data.  So it should be running and collecting.

Disabled python.d completely to rule out startup confilcts, didn't help, but it did begin to start loading the module at least.  With Py

[2020-05-26 13:26] Ferroin commented on #9117
This is indeed still an issue, reopening the original issue.

[2020-05-26 13:26] dim08 commented on #8953
Hi there, thank you for sharing your feedback. It is an interesting idea that we need to assess further. So I will add it on our funnel for future review. Since, we currently have limited capacity we cannot guarantee that this feature will be prioritised anytime soon.

[2020-05-26 13:26] Ferroin commented on #8531
This appears to still be an issue, though I'm honestly not sure _why_ it's an issue. Reopening this for further investigation and tracking.

[2020-05-26 13:29] stelfrag commented on #9164
Hi @TSKimball,  you are affected by #9156. You can view that issue for more details.

A fix has been applied to master.

[2020-05-26 13:29] #9164 closed

[2020-05-26 14:19] dim08 commented on #3824
Hi there, we are very sorry for the late response. This is an interesting feature. However due to limited capacity we would like your support. Please feel free to implement an PR.

[2020-05-26 14:36] prologic commented on #8967
Hi all! Sorry for the long delay, hopefully #9165 solves this once and for all. Anyone is welcome to help test it as I put up some temporary artifacts that you can use to test the PR. I had to add support for swapping out where we get artifacts from so I could properly test the flow e2e.

[2020-05-26 14:53] Steve8291 opened #9166 "Plugins no longer generating charts"
##### Question summary
I lost all of my charts today except for the ones generated by the Netdata Internal Plugin.
I didn't know if this had anything to do with the new nightly build or something else.
I initially thought it might be a problem with not enough file descriptors but I checked:
`sysctl fs.file-nr`
`fs.file-nr = 4000	0	1598778`
That looks like I have plenty of file descriptors not in u

[2020-05-26 15:02] stelfrag commented on #9166
Hi @Steve8291. Thank you very much for the report. Unfortunately you are affected by  #9156. You can view that issue for more details.

A fix has been applied to master.

[2020-05-26 15:19] #9166 closed

[2020-05-26 15:35] zack-shoylev opened #9167 "WMI exporter not working with Netdata"
##### Bug report summary
Could not get the WMI exporter to work with Netdata as per https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/wmi/

##### OS / Environment
Ubuntu 18.04.4 LTS

##### Netdata version
v1.22.1-104-nightly

##### Component Name
WMI Exporter

##### Steps To Reproduce
Install WMI exporter on monitored machine
Configure Netdata machine go.d/wmi.conf with edit-co

[2020-05-26 15:43] zack-shoylev opened #9168 "Dependencies fail when installing to CloudLinux with kickstart.sh"
##### Bug report summary
No package python3-pymongo available on CentOS/CloudLinux 7.8 when installing with kickstart.sh, missing charts.

##### OS / Environment
CentOS/CloudLinux 7.8

##### Netdata version
v1.22.1-109-nightly

##### Component Name
python dependency missing / agent charts missing

##### Steps To Reproduce
[code]

##### Expected behavior
kickstart.sh should install Netdata without

[2020-05-26 15:48] scatenag commented on #9004
Trying to investigate...

The user seems to be correctly parsed.
The problem seems to be another...

On slapd server, I read

for a successful ldapsearch

[code]

while on python.d.plugin openldap debug trace
[code]

Could be the self="[anonymous]" vs self="cn=monitor,dc=it"  the problem ?

@ekartsonakis: have you any thoughts? Want you a complete slapd log?

Thanks

[2020-05-26 15:51] zack-shoylev opened #9169 "Cannot connect to cloud from amazon linux 2."
##### Bug report summary
Cannot connect to cloud from amazon linux 2.
Failed to connect to https://app.netdata.cloud, return code 5

##### OS / Environment
amazon linux 2

##### Netdata version
netdata v1.22.1

##### Component Name
aclk

##### Steps To Reproduce
[code]
aclk-available: false
Failed to connect to https://app.netdata.cloud, return code 5

##### Expected behavior
aclk should work

[2020-05-26 17:05] #8111 closed

[2020-05-26 17:05] #8847 closed

[2020-05-26 17:45] vlvkobal commented on #7015
Done.

[2020-05-26 17:45] #7015 closed

[2020-05-26 17:48] ilyam8 commented on #9167
Hi @zack-shoylev

There is debug mode

Have you tried it? The problem should be clear from the output. If it is not - share debug output.

[2020-05-26 18:16] steenh65 commented on #9167
Hi Zack,
Here is the files that you ask for:
[error.log.2.gz](https://github.com/netdata/netdata/files/4684153/error.log.2.gz)
[error.log](https://github.com/netdata/netdata/files/4684154/error.log)
[wmi.txt](https://github.com/netdata/netdata/files/4684193/wmi.txt)

Best Regards,

Steen

[2020-05-26 18:49] Treadstone06 commented on #9169
Here is the requested error log.  Thanks for your time!
[error.log](https://github.com/netdata/netdata/files/4684372/error.log)

[2020-05-26 18:50] ilyam8 commented on #9167
hi @steenh65

see my post above

---

From the error log

[code]

It means there is error in your `wmi.conf` - it is in [YAML](https://yaml.org/) format.

There is online YAML syntax validator

[2020-05-26 18:56] #9119 closed

[2020-05-26 19:48] jacekkolasa commented on #9154
I don't understand how dashboard could have something to do with protocol, but maybe i'm missing something. @llevet can you access that file from last line directly? (from new tab):

This file is from last build, so it's not a cache problem. @thiagoftsm Do you think it could be some Agent server issue? From the error log i see that the assets are not loading sometimes

[2020-05-26 20:08] jacekkolasa commented on #9154
I was able to recreate the problem, and it always happens when i see `net::ERR_HTTP2_PROTOCOL_ERROR` response status. Looks like we'll need to experiment a little bit, there could be tons of different reasons: https://stackoverflow.com/questions/58215104/whats-the-neterr-http2-protocol-error-about

[2020-05-26 20:36] plexmini commented on #9087
Cloned the other Raspberry Pi's SD card to this one that isn't working, and all is happy now. Must have been some SC card weirdness. Appreciate the support.

[2020-05-26 20:36] #9087 closed

[2020-05-26 20:39] llevet commented on #9154
Attached file.
[js1.4b7938c8.chunk.js.txt](https://github.com/netdata/netdata/files/4684910/js1.4b7938c8.chunk.js.txt)

Also i have in debuger part of firefox :
blob:https://xxxxxxxxx.net:19999/1a144a9f-407f-4ca8-af4a-6b46b6966237
Error loading the URI : Unknown source
blob:https://xxxxxxxxx.net:19999/f1871a38-8986-4e12-b7a1-750d3725be6c
Error loading the URI : Unknown source

If i copy / paste un

[2020-05-26 20:49] modem7 opened #9175 "Nvidia-smi, Nginx, Smartd gone, APCUPSD showing far less info than before"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 netdata v1.22.1-123-nightly

##### Component Name

Nvidia-smi, Nginx, Smartd and APCUPSD

##### Steps To Reproduce

1. Since latest update nvidia-smi stats have dissapeared and apcupsd is only showing battery level, no voltages no frequency, no time left etc.
2. ... No changes have been made in configs.

##### Expect

[2020-05-26 20:54] llevet commented on #9154
Hum .... disabling gzip (enable gzip compression = no) under SSL make Chrome to not load dashboard with message in console : net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK)

[2020-05-26 20:54] vsc55 opened #9176 "apcupsd.chart does not generate the graph"
##### Bug report summary
The apcupsd.chart.sh script fetches the data correctly, but the graph says there is no data.

![image](https://user-images.githubusercontent.com/13438676/82949575-260c1380-9fa4-11ea-8ffe-f49ff2995e53.png)

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-123-nightly

##### Component Name
charts.d/apcupsd.chart
web??

##### Steps To Reproduce
1. config a

[2020-05-26 21:40] vsc55 commented on #9176
Json api:
`http://localhost:19999/api/v1/data?chart=apcupsd_local.charge&_=1590529034013&format=json&points=411&group=average&gtime=0&options=ms%7Cflip%7Cjsonwrap%7Cnonzero&after=-480`
[code]

[2020-05-26 21:57] ilyam8 commented on #9176
hi @vsc55 it is likely duplicate of #9166

[2020-05-26 21:59] ilyam8 commented on #9176
The problem is fixed in latest, check it. Im closing the issue, if there are still problems please report back.

[2020-05-26 21:59] #9176 closed

[2020-05-26 22:00] ilyam8 commented on #9175
it is likely duplicate of #9156

[2020-05-26 22:01] ilyam8 commented on #9175
It is fixed in latest.

[2020-05-26 22:01] #9175 closed

[2020-05-26 22:06] AlexHeylin commented on #3824
To avoid potentially reinventing the wheel - there is a pending PR for Telegraf which adds Netdata as a data source. Telegraf of course supports InfluxDB as an output. I can confirm the PR works as I'm using it myself.
https://github.com/influxdata/telegraf/pull/2039
Caveat - there does tend to be some differences in the metrics, but usually max() will return data close to the Netdata native. Any

[2020-05-26 22:47] thiagoftsm commented on #8796
We merged today a solution for this specific problem.
@elbourki, please, let us know if we fixed the problem.

[2020-05-26 23:03] elbourki commented on #8796
I'm already using netdata in production (with OpenSSL) but I just built another docker image with libressl and it worked nicely!
Well done, you can close this issue now 👌

[2020-05-26 23:32] thiagoftsm commented on #8796
Thank you for the feedback @elbourki!

[2020-05-26 23:32] #8796 closed

[2020-05-27 00:36] fzyzcjy commented on #4819
Interested to see the monitoring here! Though I am not an expert in Kafka so maybe not much insights... To me, maybe monitor the rate of message generation, rate of consumption, not-yet-consumed message count. :)

[2020-05-27 00:38] OneCricketeer commented on #4819
Those all already exist as JMX metrics

[2020-05-27 01:10] fzyzcjy commented on #4819
@OneCricketeer Thanks! It seems that the JMX collector is still under development...? https://github.com/netdata/netdata/issues/364

[2020-05-27 01:11] fzyzcjy commented on #4819
@OneCricketeer Thanks!

[2020-05-27 01:55] thiagoftsm opened #9179 "Coverity error 358988"
##### Bug report summary
[code]

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-148-gd55cd725

##### Component Name
Exporting

##### Expected behavior
Remove the error

[2020-05-27 05:21] #9140 closed

[2020-05-27 05:25] prologic commented on #9087
@plexmini I'm a bit confused by your previous comment. Did you get it working or rule out a bad SD card?

[2020-05-27 05:43] prologic commented on #8311
@ofirule Sorry about the late response. Please have a read of the following comments in other related issues (_I think_):

- https://github.com/netdata/netdata/issues/5071#issuecomment-460442980
-https://github.com/netdata/netdata/issues/5071#issuecomment-511764911

If I understand the issue at hand correctly if you bind-mount `/` and `/media/sdcard` from the host into the container somewhere Netd

[2020-05-27 05:49] Akkor70 commented on #9142
Any help ?

[2020-05-27 05:59] ilyam8 commented on #9142
Show debug mode output? It is impossible to help without it.

[2020-05-27 06:05] Steve8291 opened #9181 "eBPF Collector installation fails on Ubuntu"
##### Bug report summary
Unable to get the required `libnetdata_ebpf.so.4.16.18` library when running the `kickstart.sh` script. It looks like there is currently work happening on the bugs with this but I wanted to report this in case it helps the effort.
Running the `kickstart.sh` script I get:

I have run the `check-kernel-config.sh` and it produces no output. So I manually checked to see if I h

[2020-05-27 06:05] plexmini commented on #9087
I have an already existing Raspberry Pi that had Netdata working fine. I imaged that SD card, and copied that image to the SD card of the Raspberry Pi that was not originally working. With the image of the first SD card copied to the second SD card, it all seems to be working.

I don't know, however, what that means. Does that mean the original file structure or partition was bad on the SD card, a

[2020-05-27 06:15] prologic commented on #9163
Did we introduce changes to our build system that introduced this breakage? I suspect we _might_ have because FreeBSD builds were working without too much fuss at one point. Also I'd like to refocus (_time/bandwidth permitting_) on finally getting some form of FreeBSD CI/Testing going and so #9162

[2020-05-27 06:17] prologic commented on #9160
Hello! A Netdata reinstall is mostly equivalent to an update. Recommend you backup your `/etc/netdata` first with `cp -a ...` first; but if you just run `kickstart.sh` with the appropriate options you should be fine.

[2020-05-27 06:19] prologic commented on #9156
FWIW Its the `./netdata-installer.sh` (_source-based build tool_) that __does not__ support distirbutinon channels; But the kickstart*.sh do.

[2020-05-27 06:19] fqx commented on #8966
Same issue on Amazon Linux AMI

[2020-05-27 06:23] prologic commented on #6873
Actually I'm with @amoss on this one. I don't understand why we would want to support turning the Netdata Agent into a more feature-rich web server. But I confess I did not read the older issue; just finding it really hard to come up with a use-case for this.

[2020-05-27 06:28] prologic commented on #9087
Yeah like I said I don't actually have any RPi(s) with me at present (_I have a few Model 4b+'s coming soon from Amazon_) but yeah it smells a bit like hardware failure to me. It's always tricky to tell though. But usually a compiler failure like this is pretty reminiscent of hardware failure.

[2020-05-27 06:45] prologic commented on #9181
Yes. Sorry about this. PR up for fix pending a full e2e test/verification.

[2020-05-27 06:50] prologic commented on #9015
cc @netdata/infra

[2020-05-27 07:00] #8678 closed

[2020-05-27 07:06] prologic commented on #9181
Oh boi. I have a pending fix in #9182 but I've run into some other problems we clearly missed :/

[code]

:(

[2020-05-27 07:07] zeleznikm commented on #8966
Same issue on Red Hat Enterprise Linux Server release 7.7 (Maipo)

[2020-05-27 07:09] MuhammadMunir12 opened #9184 "OVS and DPDK in Netdata"
##### **Question summary**
I was looking for a plugin that can help getting stats of OVS (open virtual switch) and DPDK (data plane development kit). I couldn't find any collector(internal or external) that supports these two.
Is there any other way to integrate these two with Netdata using available plugins? Or we have to write a custom plugin? If yes, then how it can be done?

##### **OS / Envir

[2020-05-27 07:19] vlvkobal opened #9185 "Incremental parser broke CMake build"
##### Bug report summary
#9074 broke CMake build
[code]

##### Netdata version
netdata v1.22.1-148-g9426ade1

##### Component Name
build

##### Steps To Reproduce
Build Netdata using CMake.

##### Expected behavior
You can build Netdata using CMake.

[2020-05-27 07:22] #9179 closed

[2020-05-27 07:29] ilyam8 commented on #9184
hi @MuhammadMunir12

There is no such collectors, yes.

It looks like we can use this library to get ovs stats

stats
- https://github.com/digitalocean/go-openvswitch/blob/8ce3b42187295b76795386bf309a9ee49c5d9ad1/ovsnl/datapath.go#L77-L88

- https://github.com/digitalocean/go-openvswitch/blob/8ce3b42187295b76795386bf309a9ee49c5d9ad1/ovsnl/datapath.go#L90-L97

[2020-05-27 07:35] prologic commented on #9181
All fixed:

[code]

[2020-05-27 07:36] prologic commented on #9181
And confirmed to be working in my test VM.

[2020-05-27 08:04] #9181 closed

[2020-05-27 08:23] kevinp1005 commented on #4021
@thiagoftsm any updates on this ?

[2020-05-27 09:11] cakrit opened #9187 "using backends for long term storage"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#131](https://netdata.zendesk.com/agent/tickets/131)
**Group:** Support
**Requester:** sk@rose.dental
**Assignee:** Zack
**Issue escalated by:** Christopher Akritidis

**Original ticket description:**

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr">hi,<div><br></div><div>i configured a graphite&nb

[2020-05-27 10:31] vlvkobal opened #9189 "Reduce the number of HTTP headers in messages sent by OpenTSDB exporting connector"
##### Feature idea summary
In order to avoid excessive buffer copying we attach HTTP headers to every metric in the OpenTSDB exporting connector. We can reduce the number of headers.

We can use connector specific data and add a message_header variable to the connector specific data for the simple connector and send it before the buffer with metrics if it's not NULL.

##### Expected behavior
HTTP

[2020-05-27 10:39] vlvkobal opened #9190 "Improve unit tests for the exporting engine"
##### Feature idea summary
- [ ] Fix unit tests when connectors are disabled.
- [ ] Test `read_exporting_config()` using a fake `exporting_config` structure.
- [ ] Test `exporting_select_type (an excessive test?).
- [ ] Check if indexes of connector instances are handled correctly.
- [ ] Test `prepare_graphite_http_header()` buffer formatting
- [ ] Update `test_simple_connector_init()` - creation

[2020-05-27 11:20] vlvkobal opened #9191 "Implement http endpoint and basic authentication in exportig destinations"
##### Feature idea summary
Some databases/services are not accessible at root endpoint, URL path should be used. Also, credentials for basic HTTP authentication can be encoded in a URL. We should implement support for a fully-fledged URL in `destination` option.

Related: #3824

##### Expected behavior
User can set a `destination` in the following form: `http://user:password@host:port/endpoint`

#

[2020-05-27 11:20] #8461 closed

[2020-05-27 11:56] ncmans commented on #9015
@knatsakis you've already provided access, correct?

[2020-05-27 12:18] thiagoftsm commented on #9187
@vlvkobal I think we could answer this question given instructions to configure the exporting.

[2020-05-27 12:41] vlvkobal commented on #9187
The question was

`nc -l -p 2003`

[2020-05-27 12:51] prologic commented on #9015
Yes he did.

[2020-05-27 13:08] underhood opened #9193 "Linux new readfile syscall"
##### Feature idea summary
This is to keep track of this by self assigning as it might be interesting for netdata when released (ETA kernel 5.8?).

New syscall READFILE is proposed in linux kernel to avoid 3 syscalls **(open, read, close)** when reading small files **(replacing it by one call)**. The description in the patch says:

[code]

This might be interesting for us as we do that quite often

[2020-05-27 13:44] xxdesmus commented on #9061
Debian 10 -- official installer script, same issue. Additionally, the updater says I am up to date.
[code]

[2020-05-27 14:21] mvmagalhaes commented on #9152
This agent was built without the dependencies for Cloud and cannot be claimed - centos6

[2020-05-27 15:22] fayak opened #9197 "Server type indication to adapt default alarms thresholds"
#### Feature idea summary

##### Context/Problem

I really appreciate netdata and its way of working, however there's something that bother me every time I deploy it to a new infra. All the default alarms make a lot of sense, but they don't take into account the kind of server there are deployed into. I have to trick using ansible the alarm configuration and threshold to avoid being flooded by ala

[2020-05-27 16:51] zack-shoylev commented on #8905
There are (related) CentOS, Ubuntu 14, Debian 7 issues:
https://github.com/netdata/netdata/issues/9152
https://github.com/netdata/netdata/issues/9153
@ktsaou told me this is probably caused by SSL problems with self-signed certs. On some systems autoconf may have to allow self-signed and also host verification will have to be disabled.

[2020-05-27 18:31] cakrit commented on #9187
*Comment made from Zendesk by Zack on 2020-05-27 at 18:31:*

<blockquote><div class="zd-comment" dir="auto">Hello Sebastian!<br><br>Please have a look at <a href="https://github.com/netdata/netdata/issues/9187" rel="noreferrer">https://github.com/netdata/netdata/issues/9187</a><br></div></blockquote>

[2020-05-27 22:20] BrunoAFK commented on #9032
I just had the same problem. I did the same thing as @momon

[2020-05-28 00:38] #8804 closed

[2020-05-28 03:36] prologic commented on #8905
Allowing self-signed certs is one thing, turning off host verification is rather dangerous and should be considered very carefually/seriously. @amoss What do you want to have happen here?

[2020-05-28 05:09] #9185 closed

[2020-05-28 05:21] MuhammadMunir12 commented on #9184
Hey, @ilyam8
Thank you for your response.

As you mentioned the library to use for getting ovs stats, let me check if I can get any outcome from this, otherwise i would have to wait for its collector from Netdata or anyone who has written its collector.

Anyways, thanks.

[2020-05-28 06:28] amoss commented on #8905
I don't think that we should turn off security features without explicit consent from the user.

[2020-05-28 06:42] djrm05 opened #9200 "Netdata service wait for network"
Hi,

Im  running netdata on Ubuntu 20.04 and it seems any time the machine is rebooted, specifically the node.d module for snmp doesn't work at start. Looking to the netdata.service it is due to use network.target instead of network-online.target, so using the second one system can be rebooted and netdata is perfectly starting later on. Now the question is if there is any other workaround for this

[2020-05-28 06:54] dotob commented on #9187
thanks a lot. netdata does send...so it must be something different.

[2020-05-28 07:40] knatsakis commented on #9015
@ncmans yes I did.

[2020-05-28 07:41] gamefundas opened #9201 "Netdata offline install ebpf collector is missing"
I am trying to upgrade from 1.20.0 to the latest offline version (netdata-v1.22.1.gz.run) on CentOS 6.5 and seeing that the install completed but there is no trace of the ebpf collector.

Ran the check for compatibility and it didn’t return any errors. The mount steps were carried out successfully as well. In the plugin location I see a ebpf_process.py. Thought there should be ebpf.py. Wonder what

[2020-05-28 07:45] manval70 opened #9202 "netdata-claim.sh: command not found"
When creating a bug report please: When run script to claim a node

##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 1.9

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2020-05-28 07:55] ilyam8 commented on #9015
confirm, he did

[2020-05-28 08:19] ilyam8 commented on #9184
Yeah, check it, interface is pretty simple

https://github.com/digitalocean/go-openvswitch/tree/master/ovsnl#ovsnl

[2020-05-28 08:29] #8174 closed

[2020-05-28 08:31] prologic commented on #8905
110% Agreed.

[2020-05-28 08:37] Akkor70 commented on #9142
I have tryed to launch this debug command as netdata user and I have this output. What does it means ?

[code]

[2020-05-28 08:37] prologic commented on #9202
Looks like we don't include the script in the source dist:

[code]

@amoss @Ferroin Any reason we omitted it or just forgot to add it?

[2020-05-28 08:43] amoss commented on #9202
It is generated during the build (there is a substitution that needs to execute based on the target installation directories). It should be present *after* the installer is run - not before.

[2020-05-28 08:45] prologic commented on #9202
@manval70 Can you please provide more details? Your bug report is very sparse and contains few details. Can you produce some output logs we can look at? Thanks!

[2020-05-28 08:50] amoss opened #9203 "The dashboard randomly shows without navbars"
##### Bug report summary

The agent randomly shows an old-style dashboard without the new nav-bars. I do not have a good way to replicate this yet, but it seems to happen sometimes after a slave connects.

![wrong-navbars](https://user-images.githubusercontent.com/1043609/83119904-987a1200-a0d0-11ea-9c41-c53fce45606f.png)

Dump of the info endpoint from the same instance (it is currently connected

[2020-05-28 08:59] ilyam8 commented on #9202
possible cause - `netdata-claim.sh` is not in PATH

[code]

[2020-05-28 09:02] ilyam8 commented on #9142
cd to plugins.d and do `ls -l`

[2020-05-28 09:10] manval70 commented on #9202
I think the installation for ubuntu repo (sudo apt-get install netdata) does not include netdata-claim.sh.
I re-install netdata using bash <(curl -Ss https://my-netdata.io/kickstart.sh) and it's ok now.

[2020-05-28 11:06] Akkor70 commented on #9142
Do You need this ?

[code]

[2020-05-28 12:01] ilyam8 commented on #9142
how did you install netdata? what is your netdata versrion?

[2020-05-28 12:03] Akkor70 commented on #9142
I installed with default ubuntu/debian command apt install netdata

netdata 1.9.0

[2020-05-28 12:13] ilyam8 commented on #9142
1.9.0 is ancient, latest is 1.22.1

remove it using your package manager

Install latest

[2020-05-28 12:35] Akkor70 commented on #9142
Installed .....now I see fail2ban monitor but nothing about apache

[2020-05-28 13:06] ilyam8 commented on #9142
Can you get data from `http://127.0.0.1/server-status?auto` ?

default job uses that address

[2020-05-28 13:11] thiagoftsm opened #9204 "Hashmap on ebpf.plugin"
##### Feature idea summary
We need to change from simple vectors to hash maps the data destination when we are moving data from kernel ring to user ring.

##### Expected behavior
Simplify future expansion of the plugin.

[2020-05-28 13:15] Akkor70 commented on #9142
ok solved.....find a vhost that was obfuscating server status
Thanks

[2020-05-28 13:15] #9142 closed

[2020-05-28 14:19] Nirjonadda opened #9206 "Netdata Cloud Unreachable"
Netdata Cloud Unreachable and Can not connect. Please let me know that how can fix this issue.

![ScreenShot00001](https://user-images.githubusercontent.com/6899856/83152965-b199b780-a0fe-11ea-8037-7305ba9f203d.png)

![ScreenShot00003](https://user-images.githubusercontent.com/6899856/83152985-b5c5d500-a0fe-11ea-9fd8-5f0edd90f78b.png)

[2020-05-28 14:57] Steve8291 opened #9207 "ebpf.plugin inserting binary data into error.log"
##### Bug report summary
eBPF is working wonderfully on my system right now! I have all the charts showing and no errors.
It is, however, inserting binary data into the error.log
See 5th line below: `<DD><FD>^? for the current kernel.`
[code]
`4.15.0-101-generic` is my current kernel. I don't know if the netdata installer is supposed to build that library or not but it seems like there is somethin

[2020-05-28 15:19] gamefundas opened #9208 "Manual install throws various errors in Amazon Linux 2"
Netdata 1.22.1
OS - Amazon Linux 2 (CentOS/RHEL)

I am dealing with too many installation issues with newer versions of Netdata. Upgrading has become a huge hurdle recently.

After trying the gz.run file which works fine but couldnt get ebpf collector running I tried the manual install and here I starting seeing various other problems.

1. dashboard.tar fails with following errors, I dont know wha

[2020-05-28 15:27] manval70 opened #9209 "Ubuntu Server in Azure: This agent was built without the dependencies for Cloud and cannot be claimed"
When creating a bug report please: Running the script to claim a node

##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 netdata v1.22.1-151-nightly

##### Component Name

##### Steps To Reproduce

1. ...
2. ...

##### Expected behavior

[2020-05-28 15:30] manval70 commented on #9209
Error message: The installer could not prepare the required dependencies to enable Netdata Cloud functionality
![image](https://user-images.githubusercontent.com/65911684/83161625-57eeb880-a111-11ea-8a6c-fa50ef54c628.png)

[2020-05-28 15:47] #8731 closed

[2020-05-28 15:50] thiagoftsm commented on #9206
Hi @Nirjonadda ,

Do you have logs related to ACLK inside your `error.log`?
Does this start after an update?

best regards!

[2020-05-28 15:54] gamefundas commented on #9201
Running the plugin manually throws the following error

./ebpf_process.plugin
2020-05-28 15:50:56: ebpf_process.plugin INFO  : MAIN : [EBPF PROCESS] does not have a configuration file. It is starting with default options.
2020-05-28 15:50:56: ebpf_process.plugin ERROR : MAIN : [EBPF_PROCESS] Cannot load /opt/netdata/usr/libexec/netdata/plugins.d/libnetdata_ebpf.so. (errno 22, Invalid argument)
202

[2020-05-28 16:01] thiagoftsm commented on #9201
Hello @gamefundas ,

Please, correct if I am wrong, but I think CentOS `6.x` uses kernel `2.6.x` as its basis, and the eBPF was brought with kernel 3.10.x.
I also would like to call attention for the fact that CentOS 7.6 or newer only can run the eBPF, because RH team brought a lot of updates to it, because the kernel would not have conditions to run. the collector.

Best regards!

[2020-05-28 16:01] thiagoftsm commented on #9201
@prologic we should not install eBPF plugin on kernels that is not compatible, we need to take a look on this.

[2020-05-28 16:57] gamefundas opened #9210 "JVM metrics collector very much desired"
Thought we already had this for some reason. I recently switched from Spring boot apps to a native Java servlet based server mainly for low latency and performance reasons. When looking to capture JVM metrics via JMX or Jolokia I came across the fact that there is nothing at the moment that can be used out of the box.

@simonnagl had something going on in this area and it doesn't look like the imp

[2020-05-28 17:10] Nirjonadda commented on #9206
Where the error.log location? Also how can update? Already using stable 20.21.1 version.

[2020-05-28 17:31] underhood commented on #9208
Hello there, sad to hear netdata is giving you trouble,

as you already seem to have found out the installer needs access to internet to download some archives to work.
Since you mention the system doesn't have internet access did you try to take a look at the docu for Offline installation documentation: https://learn.netdata.cloud/docs/agent/packaging/installer/methods/offline

[2020-05-28 19:11] thiagoftsm commented on #9207
Thank you @Steve8291  for your report.
We expect that when the PR #9212 is merged this problem won't exist more. I tested now on Ubuntu 18.04 and my logs are correct.

[2020-05-28 19:13] amoss commented on #9063
Scope was simplified in the planning meeting with @ktsaou, we are working on the assumption that both ends are using NTP so we don't need to track changes in slew. The slew is measured at connection time to account for differences in timezone and the gap measured.

[2020-05-28 19:16] gamefundas commented on #9208
Offline install using local files as much as I know are the tar.gz and gz.run methods behind the scenes wrapped with the kickstart-static64.sh script. Using the tar method leads to lot of undesirables as we noticed in the issue described above. With the gz.run I am able to install but ebpf mode cant be activated due to some missing libraries as part of the bundle which is I opened another issue #9

[2020-05-28 21:06] amoss commented on #9206
Which Linux district / version do you have?

[2020-05-28 21:08] amoss commented on #9206
If you installed in the standard paths it is in `/var/log/netdata/error.log`. Please post the results of `grep ACLK /var/log/netdata/error.log`.

[2020-05-28 21:26] ninja85a opened #9215 "would it be possible to have an option in the installer to not install netdata with the netdata cloud portion so its all locale?"
##### Question summary
to have the option to have an install of netdata with no cloud portion installed
##### OS / Environment
all supported
##### Component Name
netdata cloud I guess
##### Expected results
to have a installer option to not install anything related to the cloud so its all local

[2020-05-28 21:30] ilyam8 commented on #9215
hi @ninja85a

https://github.com/netdata/netdata/blob/acf797af761c19ca5f27fd4a78e44cbbaf27e35f/netdata-installer.sh#L196

[2020-05-28 21:30] ninja85a commented on #9215
thanks I really should look for this stuff closer

[2020-05-28 21:30] #9215 closed

[2020-05-28 22:29] thiagoftsm commented on #9208
Hi @gamefundas ,

I was reading your message and I detected the possible problem that are not allowing to install:

1 - You have an installation that to d download of  kernel 4.14, please, can you run the following commands and give us the output? I want to confirm that you are using the kernel `3.10.0-x`.

[code]

About the issue #9201, I gave an answer for you there, if you are using CentOS 6.5

[2020-05-28 23:01] prologic commented on #9208
@gamefundas This has always been the case since I joined the company at least. But you are right; we can and probably should just bundle everything into a single source dist tarball. We do for the static prebuilt Netdata for x86_64 anyway (_obviously_), no reason we can't bundle all required sources for the source dist.

However is there any particular reason you want to compile from source and no

[2020-05-28 23:10] prologic commented on #9201
There are two ways to handle this;

a) We skip installing the kernel-collector in the Netdata installer -- We used to do this; but now I _need_ this to always be effectively installed because we also want to support the Netdata Static kickstartf64 + eBPF -- Which we do not know the Kernel ahead of time.
b) We teach `ebpf.plugin` to just bail and stable itself permanately if it is being run on a Ke

[2020-05-28 23:40] thiagoftsm commented on #9201
When I create a PR to compile Netdata with static libraries, I will bring `b)`.

[2020-05-29 00:57] plexmini commented on #9087
Using a brand new SD card works. So, tossing out that other SD card. Thanks again.

[2020-05-29 01:06] gamefundas commented on #9208
cat /proc/version
Linux version 4.14.154-128.181.amzn2.x86_64 (mockbuild@ip-10-0-1-129) (gcc version 7.3.1 20180712 (Red Hat 7.3.1-6) (GCC)) #1 SMP Sat Nov 16 21:49:00 UTC 2019

[2020-05-29 01:08] gamefundas commented on #9208
And some more info...

cat /etc/*elease
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"
Amazon Linux release 2 (Karoo)

[2020-05-29 01:11] gamefundas commented on #9208
Yea guess I will have to settle down for non eBPF install as the full packaged binary bundle (gz.run) installs fine. Was hoping this will work on Amazon Linux 2.

[2020-05-29 01:17] thiagoftsm commented on #9208
Thank you for the information.
@prologic we will need to bring another RHEL version for our Repository, right now we are not considering this RHEL flavor.

[2020-05-29 01:54] gamefundas commented on #9201
Amazon Linux is a cocktail of CentOs Redhat and Fedora so not much clue what exact version of CentOs its based on. This is what I get from the release information.

cat /etc/*elease
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"
Amazon

[2020-05-29 02:02] thiagoftsm commented on #9201
Amazon is a special case that we will need to take a look, this distribution is working like Debian, Ubuntu and RHEL family, it has their own configuration, this means that probably on kernel 4.14 they are using the ABI that was released with kernel 4.15 and this is not allowing you to run .

I will confirm this with the SRE team and we will bring a patch ASAP.

[2020-05-29 02:17] prologic commented on #9201
@gamefundas I have an interesting perhaps silly question; but let's see... :)

How would you feel about using a custom AMI based off of "some" Amazon LInux that we install a custom (_non-hacked up_) Kernel complete with Netdata pre-installed ready to go?

Alternatively we could reach out to AWS and work with their engineers to help us bring Netdata + eBPF monitoring to their flavor of LInux :)

[2020-05-29 02:19] prologic commented on #9208
We're working on expanding support for `netdata-static` (kickstart-static6) + eBPF -- But its honestly actually very early stages and we haven't even merged the PR yet! We have to get this working on the systems we know about and fix bugs before we can even consider other more esoteric ones like AmazonLinux :)

[2020-05-29 02:20] prologic commented on #9087
Your most welcome! Try not to write too much to that new SD card :D

[2020-05-29 02:27] #9093 closed

[2020-05-29 07:39] underhood commented on #9153
@zack-shoylev did you clone VM? does each node have unique id different from the other ones?

Can you check `cat /var/lib/netdata/registry/netdata.public.unique.id` *(or equivalent dir if you installed into prefix)*

[2020-05-29 07:42] E46-S54 opened #9217 "Alert for Slave Going Down / Unreachable"
Hey Netdata team,

It seems that there have been a few questions/feature requests regarding a slave going down or becoming unreachable. Unless I've missed something it still unfortunately seems like it's a missing feature, one that a lot of people would see as quite important.

I have looked into this to see if there is a way to implement this, by dynamically generating an `fping` config using the

[2020-05-29 10:01] amoss commented on #8930
We've found the problem - it was the stability fixes that were added in March to handle large numbers of slaves. They had an unexpected interaction with the code that rejects multiple connections from the sender. The fix is being delayed slightly because it interacts with another piece of work that is in progress (fixing the gaps in charts when slaves restart). The PR should be complete by the end

[2020-05-29 10:04] amoss commented on #8930
Now that we've found the problem - this is the same as issue #8825. I'll close this one and use #8825 for feedback.

[2020-05-29 10:04] #8930 closed

[2020-05-29 10:04] amoss commented on #8825
(repeating here from the comment on #8930)

We've found the problem - it was the stability fixes that were added in March to handle large numbers of slaves. They had an unexpected interaction with the code that rejects multiple connections from the sender. The fix is being delayed slightly because it interacts with another piece of work that is in progress (fixing the gaps in charts when slaves re

[2020-05-29 11:56] Nirjonadda commented on #9206
[code]

[2020-05-29 12:44] coffeina opened #9219 "Netdata, slack notification MacOS"
##### Question summary
How to check the connection between netdata and slack if netdata is installed on  OSX Mojave?
I used `/usr/libexec/netdata/plugins.d/alarm-notify.sh test` but is seemas like this command does not work at all.
##### OS / Environment
MacOS, Mojave
##### Component Name

##### Expected results

[2020-05-29 13:00] ilyam8 commented on #9219
Hi @coffeina

what is the output from `/usr/libexec/netdata/plugins.d/alarm-notify.sh test` ?

What is your `bash` version? Ther is ancient version of `bash` on macOS by default.

[2020-05-29 13:10] coffeina commented on #9219
Hi @ilyam8
autput of: `/usr/libexec/netdata/plugins.d/alarm-notify.sh test`

is `$ /usr/libexec/netdata/plugins.d/alarm-notify.sh test
-bash: /usr/libexec/netdata/plugins.d/alarm-notify.sh: No such file or directory`
`
Bash version:
`$ bash --version
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin18)
Copyright (C) 2007 Free Software Foundation, Inc.
`

[2020-05-29 13:14] coffeina commented on #9219
The whole installation was performed using: `brew install netdata` command

[2020-05-29 13:28] amoss commented on #9206
The log indicates that your node does not have the same credentials stored that the cloud expects. Probably there has been a change of state / multiple installation attempts and they are out of sync. Try the instructions in the "Remove and reclaim a node" section here: https://learn.netdata.cloud/docs/agent/claim#remove-and-reclaim-a-node

[2020-05-29 13:29] ilyam8 commented on #9219
oh, it is not in `/usr/libexec/netdata/plugins.d/`

check directories

---

i am not sure it works with bash 3.x, it is likely you need install latest bash (brew install bash)

[2020-05-29 13:34] coffeina commented on #9219
[code]

[2020-05-29 13:59] ilyam8 commented on #9219
so it is in `/usr/local/Cellar/netdata/1.22.1/libexec/netdata/`

[2020-05-29 14:18] coffeina commented on #9219
ok you are right

[2020-05-29 14:18] #9219 closed

[2020-05-29 14:24] Nirjonadda commented on #9206
Can not Remove and reclaim a node. See here: https://github.com/netdata/netdata/issues/9002

[2020-05-29 14:51] lorddaren opened #9220 "Exporting using prometheus remote_write directly to Cortex"
##### Question summary
Based on the documentation [remote_write](https://learn.netdata.cloud/docs/agent/exporting/prometheus/remote_write) and based on the link [Storage Providers](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage) I thought it was possible to do a remote write directly to Cortex. I wanted to accomplish this so that I did not have to set up a Promethe

[2020-05-29 14:57] manos-saratsis commented on #5993
@JessedeJonge I am not sure if there is a single API call which can give you all alarms but you can use the /host/$hostname/api/v1/alarms and fire multiple API calls to get your slaves alarms.

It's in our immediate roadmap to support replication and have Custom Dashboards on Cloud.

Even today you can claim all your slave nodes into a Space, add them to a War Room and have access to all their act

[2020-05-29 15:17] manos-saratsis commented on #9102
@ovv thanks for the hint. We should add it both on the Agent and the Cloud
Cc @oyabun @AndyWindy

[2020-05-29 15:25] thiagoftsm commented on #5993
Hi @manos-saratsis ,

You are right, we need to go trough all hosts right now.

best regards!

[2020-05-29 15:25] manos-saratsis commented on #9102
Closing this, is tracked with a different issue

[2020-05-29 15:25] #9102 closed

[2020-05-29 15:39] fayak opened #9221 "ebpf.plugin error on debian 10 : Cannot load library ../libnetdata_ebpf.so.4.19.0-9-amd64"
##### Bug report summary

While trying to test the new ebpf feature, I notice it is not working under debian 10.

Error log reports things similar to [troubleshooting](https://learn.netdata.cloud/docs/agent/collectors/ebpf.plugin#troubleshooting):
[code]

[code]

Am I missing something ?

##### OS / Environment

[code]

##### Netdata version
[code]

##### Component Name

ebpf.plugin

##### Steps T

[2020-05-29 15:52] fayak commented on #9221
I imagine it is due to missing https://github.com/netdata/kernel-collector plugins. I tried
[code]

[2020-05-29 16:02] ilyam8 commented on #9221
[code]

[2020-05-29 16:03] fayak commented on #9221
Ok, I believe it is not yet in the netdata-edge repository. I'll wait for it :)

[2020-05-29 16:29] #8787 closed

[2020-05-29 16:29] #8745 closed

[2020-05-29 16:29] #8778 closed

[2020-05-29 16:29] #8733 closed

[2020-05-29 16:29] #8761 closed

[2020-05-29 16:29] #8445 closed

[2020-05-29 16:44] thiagoftsm commented on #9221
Hi @fayak ,

You do not need to compile against your specific kernel, but for sure the version that you installed had a problem as @ilyam8 answered you. I tested yesterday after we release the bug fix on Debian 10.4 and I could run without any problem.

I am not sure what is happening on `apt` repository. @Ferroin and @prologic did we already bring eBPF for RPM and APT repository?

[2020-05-29 18:02] amoss commented on #9206
That bug has been fixed (the PR is attached to #9002) - you should now be able to remove and reclaim the node.

[2020-05-29 18:09] MuhammadMunir12 opened #9222 "Monitoring kernel events with eBPF"
##### **Question summary**
As mentioned in plugin guide what metrics eBPF can provide when enabled. My concern is about monitoring other kernel events which are not covered by eBPF. How can we monitor them? Like if we have to write some script along with eBPF or need to add configuration in ebpf collector or what so ever. I am interested in knowing if we can do above mentioned thing, what would be

[2020-05-29 18:43] thiagoftsm commented on #9222
Hello @MuhammadMunir12 ,

What kind of events are you thinking to monitor?

Let me explain a little bit about the newest structure that we are bringing to try help you. You have the following roads to follow:

1 - If the structure is available on `/proc` or `/sys` you can create a collector for it. If it is a `/proc` file, please, create a PR to change our `proc.plugin`. This is the simplest optio

[2020-05-29 18:51] Nirjonadda commented on #9206
@amoss Still can not unclaimed our nodes.

![ScreenShot00004](https://user-images.githubusercontent.com/6899856/83294750-1ed84600-a1ee-11ea-876a-5c9b04b0377c.png)

[2020-05-29 18:59] amoss commented on #9206
Ah ok - there are two different things here, let me try to clarify :)

The interface in the cloud has not been updated yet to support unclaiming, it's on our roadmap but I'm not sure when the cloud team has scheduled it. Until that functionality is added the only way to remove the node from the interface is to delete the room.

We had a bug in the agent as well that stopped nodes from being reclai

[2020-05-29 20:00] ovv commented on #9102
@manos-saratsis can you give a link to the other issue

[2020-05-29 20:02] MuhammadMunir12 commented on #9222
Hey, @thiagoftsm
Thanks for your concerns and detailed response. Appreciate that.

I needed to ask for tracepoints as my concern is tracing the events using ebpf or along with ebfp with a helping script and where I'll be exposing that script for tracing the events (example, interface events or tracepoints), I missed, unfortunately, to mention in question. But thanks you got my point.

So as you've

[2020-05-29 20:17] stevenh commented on #9109
This is because of the libwebsockets and mosquitto, why are these internal deps and static?

[2020-05-29 20:21] MuhammadMunir12 opened #9223 "eBPF enabling issue in CentOS 7"
##### **Question summary**

Initially, when I installed Netdata with one-liner script installation the ebpf was not enabled, I tried with --enable-ebpf flag, and stable release flag too but it resulted in the failure of ebpf enabling during installation with message ebpf failed to enable. The issue was with the script I guess, then I had to reinstall Netdata by closing repo and running ./netdata-i

[2020-05-29 22:16] Caffe1neAdd1ct opened #9224 "tmpfs monitored mounts for diskspace"
#### Question summary

Is it possible for the diskspace plugin to monitor a tmpfs mounted folder? The entry shows up in netdata.conf, however changing auto to yes doesn't appear to do anything after restarting netdata service.

##### OS / Environment

CentOS

##### Component Name

diskspace

##### Expected results

/etc/fstab
[code]

/etc/netdata/netdata.conf
[code]

![image](https://user-images.g

[2020-05-29 22:32] Caffe1neAdd1ct commented on #9224
A case of read the docs:

[code]

[2020-05-29 22:32] #9224 closed

[2020-05-29 22:40] thiagoftsm commented on #8242
Hi @Nirjonadda, @chrisfw and @hvisage ,

I tested now on CentOS 7.8 the installation with `./netdata-installer.sh` using the master branch  and it is running without any problem now,  please, can you confirm that you are able to run on CentOS the current branch?

Best regards!

[2020-05-29 22:52] thiagoftsm commented on #9223
Hi @MuhammadMunir12 ,

This flag was removed recently, because `ebpf.plugin`  is becoming a default collector, if you have this option yet, this means that you are using an old version and old versions did not have support to RHEL family.

Please, can you copy all information related to `ebpf` from `error.log` for we analyse the output?

I am thinking that probably you are missing other things. Li

[2020-05-30 00:24] thiagoftsm opened #9225 "Change ebpf.plugin to compile with static library"
#### Feature idea summary
`ebpf.plugin` has only pointers to functions that are filled when it is loaded, but we do not need them when we link the binary statically, it is necessary to remove these references to compile Netdata statically.

We have different possibilities that can be used to bring the static library for the eBPF.plugin, but all them must remove the dynamic loading from the ebpf.pl

[2020-05-30 05:48] rsyncOSX opened #9227 "Build fails on FreeBSD"
On:
FreeBSD freebsd.local 12.1-RELEASE-p5 FreeBSD 12.1-RELEASE-p5 GENERIC  amd64

##### Bug report summary

config.status: creating config.h
config.status: executing depfiles commands
config.status: error: in `/root/netdata':
config.status: error: Something went wrong bootstrapping makefile fragments
    for automatic dependency tracking.  Try re-running configure with the
    '--disable-dependenc

[2020-05-30 07:05] manjotsc commented on #9109
@stevenh where can I get those for FreeBSD.
Thanks

[2020-05-30 08:02] yasharne opened #9228 "mongodb plugin cannot connect to the database"
##### Bug report summary

I have a monitoring user with the following permissions:
[code]
And I have `pymongo version 2.5.2` installed
Here is my `mongodb.conf` file:
[code]
But when I debug it, I see this error:
[code]
But I can connect to the Mongo via these parameters:
[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1
##### Component Name

python.d

[2020-05-30 08:24] ilyam8 commented on #9228
hi @yasharne

2800 != 28000

[2020-05-30 10:25] Issam2204 opened #9229 "Ubuntu Server 20.04 - Raspberry Pi 4 - Unmet Dependencies libjson-c-dev"
I'm trying to install Netdata on my Raspberry Pi 4 using Ubuntu Server 20.04. At some point I get the following unmet dependicies error:

The following packages have unmet dependencies: libjson-c-dev : Depends: libjson-c4 (= 0.13.1+dfsg-7) but 0.13.1+dfsg-7ubuntu0.3 is to be installed E: Unable to correct problems, you have held broken packages.

When going to the Ubuntu packages website I do see

[2020-05-30 14:40] Nirjonadda commented on #8242
@thiagoftsm I am not using copy `./netdata-installer.sh`. We have installed netdata from [PackageCloud](http://packagecloud.io/netdata/netdata) (stable release) repo. So how can check for PackageCloud repo?

[2020-05-30 15:44] yasharne commented on #9228
Thanks for noticing

[2020-05-30 15:44] #9228 closed

[2020-05-30 16:05] thiagoftsm commented on #8242
I am not sure about PackageCloud, @prologic and @Ferroin  did we already upload the new packages on PackageCloud?

[2020-05-30 19:58] unixfox commented on #9061
I also encounter the same error when installing netdata from the official repositories of ArchLinux: https://www.archlinux.org/packages/community/x86_64/netdata/

[2020-05-30 19:59] stevenh commented on #9227
I think it assumes `make` is `gnu make` which is not the case. It would need to use `gmake` or set `MAKE=gmake`

[2020-05-30 20:00] stevenh commented on #9163
duplicate of https://github.com/netdata/netdata/issues/9227

[2020-05-30 20:05] stevenh commented on #9109
They are in the ports tree but they are old.

I have an updated port I'm working on which now compiles and links to shared libs but still doesn't work I get the following:
[code]
I suspect my patching of `mosquitto` may have an issue as `netdata` depends on a custom version :(

[2020-05-30 20:14] rsyncOSX commented on #9227
I might try to change. But I have every second week, for the last two-three years, pulled last changes and compiled netdata.. The error occurred  for about one week ago, no changes to FreeBSD before and after last successful compile...

[2020-05-30 20:24] Jafar412 opened #9230 "Installation error related to netdata cloud"
Whenever I open netdata an error message displays with "Installation error , The installer could not prepare the required dependencies to enable Netdata Cloud Functionality"
What could be that ?

Thanks

[2020-05-30 20:45] stevenh commented on #9109
Ok found the issue if `libwebsockets` is compiled with `IPv6` you get this error, at least if the host itself doesn't have valid `IPv6` configuration.

[2020-05-30 21:14] PegasisForever opened #9231 "Memory leak / Too much memory used in the dashboard"
##### Bug report summary
The dashboard takes more and more ram over time and crash the tab at the end.

##### OS / Environment

[code]

##### Netdata version

netdata v1.22.1-170-nightly

##### Chrome version

83.0.4103.61 Linux

##### Component Name

Web

##### Steps To Reproduce

1. Open the netdata dashboard
2. Set "When to refresh the charts" to always
3. Wait for one day, don't scroll it or c

[2020-05-30 22:19] stevenh commented on #9109
@manjotsc the following 3 bug requests include the patches needed to add cloud support the ports tree version of netdata.

Also note that you must configure libwebsockets with IPv6 disabled based on my experience above.
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=246878
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=246880
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=246884

[2020-05-30 22:21] stevenh commented on #9109
@ilyam8 could you add a FreeBSD label so its easy to find all the FreeBSD related issues?

[2020-05-30 22:32] ilyam8 commented on #9109
[added](https://github.com/netdata/netdata/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aos%2Fbsd)

[2020-05-30 22:33] stevenh commented on #9109
Thanks much appreciated, if you see any other label them and I'll do my best to have a look.

[2020-05-30 23:38] thiagoftsm commented on #9230
Hi @Jafar412 ,

When you were installing or updating Netdata, did you received any error message while you were installing?
What is the Linux distribution or BSD system that you tried to install?

Best regards!

[2020-05-31 01:20] Jafar412 commented on #9230
Hi @thiagoftsm

No as I remember there were no error messages ,

The linux distribution is ubuntu 18.04

Thanks

[2020-05-31 01:24] PegasisForever commented on #9231
This is a heap snapshot after I let it sit for about 4 hours and it's taking around 500mb of memory: https://drive.google.com/file/d/1UPsNJ-w3Wpjz2zT9OO3W4RJuGx0865pu/view?usp=sharing

[2020-05-31 01:51] technsandiego01 opened #9232 "Netdata crashes daily on my Arch Linux system. Is there a log file I can send you? I also need the uninstall instructions."
##### Question summary

##### OS / Environment

##### Component Name

##### Expected results

[2020-05-31 05:05] yasharne commented on #9232
Hi @technsandiego01 ,
you can read you configuration file using `http://YOUR_NETDATA_ADDRESS:19999/netdata.conf`,
It is probably inside `/var/log/netdata/debug.log` or `/opt/netdata/var/log/netdata/debug.log`
You can also uninstall your netdata using the script located in `/usr/libexec/netdata/netdata-uninstaller.sh` or `/opt/netdata/usr/libexec/netdata/netdata-uninstaller.sh`

[2020-05-31 05:10] drkt7 commented on #9135
Hi

if my cron run: /opt/netdata/usr/libexec/netdata/netdata-updater.sh

this file reset and clear my netdata.conf and netdata nor work each time...
(Centos 6)

[2020-05-31 05:25] yasharne opened #9233 "Cannot monitor mongodb: Auth mechanism not specified"
##### Question summary
I have configured the mongodb plugin like bellow in the `mongodb.conf` file:
[code]
but when I runt the debug mode I get this error:
[code]

##### Component Name
Python.d

[2020-05-31 07:18] ilyam8 commented on #9233
similar issue

https://github.com/netdata/netdata/issues/5056

the problems there was an outdated pymongo pkg

[2020-05-31 11:38] yasharne commented on #9233
Thanks @ilyam8
I installed pymongo using the yum package manager which installed the old pymongo library.
Installing it using pip fixed the problem

[2020-05-31 11:38] #9233 closed

[2020-05-31 12:10] gilwi commented on #9149
Hello,
I'm willing to help, so I'll try reproduce your setup and see if I can help.
It would be kind to:
 - tell how you installed netdata on your ubuntu instance (git clone, script, apt)?
 - be more specific when you describe your problem (`/etc/nginx/site-availbe/1.conf` has some typos I guess)
For that last point, can you please execute these commands and post your outputs (of course replace an

[2020-05-31 12:46] thiagoftsm commented on #9230
Hi @Jafar412 ,

Considering that the installation was fine, I have more two doubts:

1 -  Did you claim your host?
2 - Do you have additional errors inside your `error.log` talking about ACLK?

Best regards!

[2020-05-31 16:33] Jafar412 commented on #9230
Hi @thiagoftsm

For the first point what do you mean by claim you host? Can you explain more pls

For the second port there was nothing mention ACLk in the error.log of netdata

Thanks!

[2020-05-31 16:57] Simonmicro commented on #8782
Hi, I wonder when this will be fixed. Netdata has a ton of daily installations (![badge](https://registry.my-netdata.io/api/v1/badge.svg?chart=web_log_nginx.requests_per_url&options=unaligned&dimensions=kickstart&group=sum&after=-86400&label=today&units=installations&precision=0)) and this breaks the update function for every static install of them (and I can imagine that this is also a huge perce

[2020-05-31 18:11] underhood commented on #9232
Hi @technsandiego01 it is sad to hear you have issues with netdata.
It would be great help if you could send us `debug.log` and `error.log` from your machine after the crash happens so that we can look into the issue and fix it. (@yasharne already gave you instructions on where to find those logs.)

Thank you

[2020-05-31 18:41] thiagoftsm commented on #9230
Hi @Jafar412,

When the new cloud was released, it was brought the necessity to [claim](https://learn.netdata.cloud/docs/agent/claim) the node for we have condition to see the agent on the [new cloud](https://app.netdata.cloud/). The claim in the context that I asked you, it is an action with the script `netdata-claim.sh` to register a host on the cloud.

About the ACLK messages, I suspect that yo

[2020-05-31 18:45] drkt7 opened #9237 "This request in cron ./netdata-updater.sh reset and clean each time the netdata.conf file."
Hi

if my cron run: /opt/netdata/usr/libexec/netdata/netdata-updater.sh

this file reset and clear my netdata.conf and netdata not work each time...

I have to rewrite the whole configuration each time

- netdata version: v1.22.1-175
- Centos 6-7

Thanks

[2020-05-31 20:18] Pingger opened #9238 "HTTP Content-Security-Compliance for (java)script"
##### Feature idea summary
Webinterface compliance to the Content-Security-Compliance `script-src` (see https://content-security-policy.com/)

##### Expected behavior
Hi,

when the Content-Security-Compliance `script-src 'self'; resource-src 'self'` is set, the webinterface does not work. To make it work the additional setting `'unsafe-inline'` is required `script-src 'self' 'unsafe-inline'; resou

[2020-05-31 23:34] TheOldMan2000 commented on #9117
Hi folks,
Sadly this is still occurring every time Netdata updates, it resets the Netdata.conf
Happened again after upgrading to v1.22.1-175-ga97709b7

It's very time consuming setting everything back up!

[2020-05-31 23:45] DougParker1992 commented on #8782
This is an issue for me too. I have 7-10 instances that have to be manually updated and it's a big pain.

[2020-06-01 01:47] prologic commented on #8242
AFAIK No. These would need an additional set of packages. We should file an issue for this and add to our backlog (_but first we need to decide the direction we're taking with regards to native packaging_).

[2020-06-01 02:11] prologic commented on #9221
We don't have a `kernel-collector` (_or whatever we want to call the packages_) DEB/RPM packages yet...

[2020-06-01 02:19] prologic commented on #8782
Relevant PR that fixes this is #8808

[2020-06-01 02:21] prologic commented on #9117
See #8531 where the issue was reopened. @Ferroin is working on it.

[2020-06-01 02:22] prologic commented on #9237
Duplicate of #8531

[2020-06-01 02:22] #9237 closed

[2020-06-01 02:29] prologic commented on #9230
@Jafar412 Did you upgrade your Netdata agent(s)? This is required.

See the doc son [getting started](https://learn.netdata.cloud/docs/cloud/get-started); specifgically:

Easiest way to do this is to just re-run `kickstart.sh` or `kickstart-static64.sh` on your system.

[2020-06-01 02:32] prologic commented on #9135
@drkt7 What you describe is a _different problem_. Please see #8531 Thanks!

[2020-06-01 02:34] prologic commented on #9227
I _believe_ this is a duplicate of #9163 . If this is not correct please comment or reopen. Thanks!

[2020-06-01 02:34] #9227 closed

[2020-06-01 02:35] prologic commented on #9163
Other way around :) We're tracking progress here.

[2020-06-01 02:47] prologic commented on #9209
@manval70 How did you install the Netdata agent on this system?

[2020-06-01 02:52] prologic opened #9239 "This agent was built without the dependencies for Cloud and cannot be claimed"
If you are seeing the following error message:

Please note that specific issues that affect your specifc system:

- [ ] macOS (_via [Homebrew](https://brew.sh)_) => https://github.com/netdata/netdata/issues/9061
- [x] Amazon Linux 2 (_on [EC2](https://aws.amazon.com/ec2/)_) => https://github.com/netdata/netdata/issues/9169
- [x] CentOS 6.x => https://github.com/netdata/netdata/issues/9152
- [X] #

[2020-06-01 02:52] TheOldMan2000 commented on #8531
Thanks for working on this. Netdata wiped my netdata.conf again upgrading to v1.22.1-179-g2fe9e1b6

[2020-06-01 02:53] prologic commented on #9239
cc @zack-shoylev @Ferroin

[2020-06-01 05:07] prologic commented on #8531
@Ferroin In case you are still investifgating... We have some functions that seem to do things related to `netdata.conf` in our Static Netdata distribution:

[code]

[2020-06-01 05:07] prologic commented on #8531
Specifically this `create_netdata_conf()` function -- I'm not sure what it does (_haven't looked yet_).

[2020-06-01 05:08] prologic commented on #8531
I notice at the end of every installation of our Makeself archive (`*.gz.run`) it ends with:

[code]

So it got me thinking 🤔

[2020-06-01 05:37] MuhammadMunir12 commented on #9223
Hi, @thiagoftsm
Let me share few information with you so you might help where and which thing I have missed somewhere.

The plugin is enabled in **netdata.conf** :

[plugins]
        # PATH environment variable = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
        # PYTHONPATH environment variable =
        # proc = yes
        # diskspace = yes

[2020-06-01 05:41] prologic commented on #9229
Hi @Issam2204 We (Netdata) do not specifically maintain [this Ubuntu netdata package](https://packages.ubuntu.com/focal/netdata) package. We'll see if we can get the maintainers in the community to fix this. In the meantime I would suggest you use our static installer.

[2020-06-01 07:02] vlvkobal commented on #9220
Please check your Netdata setup using a [Remote Write Adapter Example](https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage/example_write_adapter).

[2020-06-01 07:29] TheOldMan2000 commented on #8531
If it helps, I get that too, here's a copy of the installer output from my CentOS7 Virtuozzo install (64 bit). It also mentions not knowing what the auto-update option is.

`
/etc/cron.daily/netdata-updater:

Entering /tmp/netdata-updater-dNQI9P

  ^
  |.-.   .-.   .-.   .-.   .  netdata
  |   '-'   '-'   '-'   '-'   real-time performance monitoring, done right!
  +----+-----+-----+-----+-----+---

[2020-06-01 07:51] manval70 commented on #9209
I'm not sure. I think using sudo apt-get install netdata.
I will re-install netdata using bash <(curl -Ss https://my-netdata.io/kickstart.sh) to see if it works.

[2020-06-01 07:53] ncmans commented on #8966
Looked further into this and here're my findings:
- [ACME does not provide CA cert](https://github.com/jetstack/cert-manager/issues/1571#issuecomment-486204017) and hence cert-manager does not either. This is correct behavior. See next point.
- Our cloud TLS termination is doing the right thing. It does not provide CA cert and does not need to ([as mentioned](https://github.com/netdata/netdata/iss

[2020-06-01 08:25] manval70 commented on #9202
Yes... It works!.
I uninstall netdata and install again using bash <(curl -Ss https://my-netdata.io/kickstart.sh) .
![image](https://user-images.githubusercontent.com/65911684/83390481-97abed80-a3fa-11ea-822e-b3b1c814a9d0.png)

[2020-06-01 08:37] underhood commented on #8966
I will retest this after commit 1ac12904b0697f1a3131af2f9ed3addc6b396ad9 CentOS6 can connect to cloud. I will take a look at situation on CentOS8.

[2020-06-01 09:10] #9017 closed

[2020-06-01 09:56] djrm05 commented on #9200
anyone?

[2020-06-01 10:04] #9202 closed

[2020-06-01 10:07] manval70 commented on #9209
Yes... It works!.
I uninstall netdata and install again using bash <(curl -Ss https://my-netdata.io/kickstart.sh) .
![image](https://user-images.githubusercontent.com/65911684/83398849-d648a480-a408-11ea-9a63-a6780d050cf1.png)

[2020-06-01 10:07] #9209 closed

[2020-06-01 10:10] ilyam8 commented on #9200
hi @djrm05

This is totally make sense, the problem is

---

[2020-06-01 10:25] amoss commented on #9239
This issue in the default CentOS 8 config may affect more distros.

https://github.com/netdata/netdata/issues/8966#issuecomment-636676683

[2020-06-01 10:43] manos-saratsis commented on #9102
@ovv I cannot but when is done I'll let you know with a comment on this one

[2020-06-01 10:52] underhood commented on #9239
For CentOS6 there was patch merged recently (1ac12904b0697f1a3131af2f9ed3addc6b396ad9). I am able to connect and claim my CentOS6 node after that patch.

[2020-06-01 10:54] prologic commented on #9239
I saw. :) Does this properly close out #9152? If so I will close it as such.

[2020-06-01 10:59] underhood commented on #8966
I just used the `./netdata-installer.sh` method and was able to connect to the cloud with the latest master.
![Screenshot from 2020-06-01 12-58-38](https://user-images.githubusercontent.com/6674623/83402777-ab118580-a407-11ea-9d19-1003f0c54c48.png)

I will investigate further if it is the `1ac1290` or different install method that makes it work

[2020-06-01 11:01] Jafar412 commented on #9230
@prologic yes , I upgraded it before

 Ok I'll check it again @prologic @thiagoftsm

Thanks!

[2020-06-01 11:20] aokanarik opened #9241 "i cannot display oracledb metrics"
##### Question summary
Although I did configure https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/oracledb as in the link,
I can't view oracle db metrics on the netdata ui screen. can you help me?

##### OS / Environment: Oracle Linux 7

##### Component Name: oracledb collector

##### Expected results

[2020-06-01 11:21] underhood commented on #9239
Well it fixes some cases of CentOS6 ACLK build failures .Hard to tell what exactly broke in case of #9152 as there is not much info to go by. But probably yes. I am closing it. Worst case Zack will reopen it and i will query more info

[2020-06-01 11:28] thiagoftsm opened #9242 "Musl cannot load ebpf programs"
##### Bug report summary
According official [documentationt](https://wiki.musl-libc.org/functional-differences-from-glibc.html) musl does not work with the current flags we are passing to `dlopen`, it is necessary to change them.

##### OS / Environment
[code]

##### Netdata version
netdata v1.22.1-182-g41c31b52

##### Component Name
ebpf collector

##### Steps To Reproduce

1. Install Netdata usi

[2020-06-01 11:48] ilyam8 commented on #9241
Hi @aokanarik

Python plugin has debug mode, see

https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin#how-to-debug-a-python-module

[2020-06-01 11:48] underhood commented on #8966
@Ferroin I might need some of your insight here as it seems to be related to `kickstart-static64.sh` only. I am double checking this claim right now. But both installing with `netdata-installer.sh` and normal `kickstart` my agent can connect to the cloud with CentOS8

[2020-06-01 11:50] underhood commented on #9152
@zack-shoylev by kickstart you mean regular one or `kickstart-static64`?

[2020-06-01 11:57] #8531 closed

[2020-06-01 12:21] underhood commented on #9239
@prologic please wait with closing that issue. I will retest. Additionally, it seems so that we have a problem with `kickstart-static64` on some systems (CentOS8). So CentOS6 might be affected by both actually (1ac1290 one and one I just mentioned as well)

[2020-06-01 12:26] aokanarik commented on #9241
Thank you, I solved the problem.

[2020-06-01 12:26] #9241 closed

[2020-06-01 12:43] Ferroin commented on #9109
libmosquitto currently requires special patches that aren't upstream (we've been working to get the required changes upstream, but I'm not certain of the current status of this).

libwebsockets currently needs to be built with an option that most Linux distributions do not build it with (because we for some reasond ecided to handle SOCKS5 support in a non-standard way, note that I'm not hugely hap

[2020-06-01 12:48] underhood commented on #9169
This is a duplicate of #8966 . @zack-shoylev we now have known issue that kickstart-static64 cannot connect to cloud on some systems. Other install methods work on same system

[2020-06-01 13:01] underhood commented on #9169
@Treadstone06 Looking at your logfile you seem to be trying to use proxy for outgoing connection? Can you share some insight into what kind of proxy are you using and how is it configured?

[2020-06-01 13:02] underhood commented on #9169
@zack-shoylev I am bit confused now .did you open this issue in for the problem that @Treadstone06 is experiencing?

[2020-06-01 13:43] Xorso commented on #9220
Running the server mentioned in the comment above shows that stats are posting like they from netdata. I am guessing this is an issue with Cortex. I did notice in the Cortex docs that a header needs to be sent along with the payload. Is there a way to configure Netdata to send header information during post?

Entry from remote_writer server:
[code]

[Cortex Remote Write Header Details](https://cor

[2020-06-01 13:51] Ferroin commented on #8531
OK, this should _really_ be fixed now starting with tonight's nightly builds.

[2020-06-01 14:16] zack-shoylev commented on #9169
@underhood this came from this ticket https://netdata.zendesk.com/agent/tickets/116 and yes

[2020-06-01 14:21] thiagoftsm commented on #9223
Hi @MuhammadMunir12 ,

The following message

[code]

in normal situation happens when an user different of `root` tries to write on `/sys` files, please, what is the owner of the file

[code]

I suspect that on CentOS it probably has a different permission and ower. Yesterday we identified a bug on `kickstart` that can be the problem you are having.

About the `command option` if you want enable

[2020-06-01 14:35] Treadstone06 commented on #9169
I'm not, or at least not intentionally.  I did attempt to work through troubleshooting a bit and may've installed it there.  Originally, I just installed straight without any proxy attempt and had the same issue for what it's worth.

[2020-06-01 14:48] Ferroin commented on #9117
This should now be properly fixed in tonight's nightly builds.

[2020-06-01 14:51] underhood commented on #9152
I think this one should be solved by 1ac12904b0697f1a3131af2f9ed3addc6b396ad9

[2020-06-01 14:51] #9152 closed

[2020-06-01 15:07] Ferroin commented on #8966
This is technically an upstream issue in RHEL/CentOS (and as a result their derivatives like OEL and Amazon Linux) resulting from their incomplete handling of using `/etc/pki/tls` instead of `/etc/ssl`. I've opened an upstream bug report against CentOS about this as it will impact any other program that's built under the same circumstances  as Netdata's static installer which uses OpenSSL. The ups

[2020-06-01 15:08] underhood commented on #9239
OK so issue here is only with static install with `kickstart-static64`. Other methods work on the same OS.

The reason seems to be that in static install we include static build of openssl in the executable. That executable together with openss library is build on Alpine Linux. Alpine linux and some RHEL like distros (example CentOS) have incompatible paths for certificates. openssl config file et

[2020-06-01 15:12] underhood commented on #8966
OK so issue here is only with static install with kickstart-static64. Other install methods (source, normal nonstatic kickstart) work on the same OS (CentOS8 tested for example).

The reason seems to be that in static install we bundle the static build of OpenSSL in the executable. That executable together with OpenSSL library is built on Alpine Linux. Alpine Linux and some RHEL like distros (e.g.

[2020-06-01 15:17] underhood commented on #9169
from the log you provided i can see :
[code]
which seems to point to an attempt to use an HTTP proxy that doesn't work. Do you have logfile where the agent cannot connect with `proxy = none`?

[2020-06-01 15:51] underhood commented on #9109
@Ferroin  SOCKS5 support we use standard from libwebsockets... problem was many distros had libwebsockets without SOCKS5 support compiled in.

[2020-06-01 16:58] Ferroin commented on #9109
@underhood Yes, because they assume that apps will use libsocks from Dante instead of using the LWS functionality because most tools that use SOCKS need more than just WebSockets to work over it.

IOW, we're using the LWS provided SOCKS implementation, but that's not the standard way to use SOCKS on Linux.

[2020-06-01 17:22] underhood commented on #9153
@zack-shoylev, I cannot access the zendesk, can you provide any more details? It sounds like the case of duplicated netdata ids? Could it be? Do we have any information to support or dismiss this?

[2020-06-01 17:37] underhood commented on #9169
OK, I just tested with Amazon Linux 2 in VM fresh install with:
`bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)  --stable-channel`
no other commands/tweaks used and it compiled with ACLK enabled:
[code]

Error log shows following:
`ACLK_Main : Libwebsockets: SSL error: unable to get local issuer certificate (preverify_ok=0;err=20;depth=1)`

Which is the same case as in #8966 and is c

[2020-06-01 17:48] underhood commented on #9169
additionally I installed with:
`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --stable-channel`
and claimed again,
`netdata` connects to cloud successfully
[code]
![Screenshot from 2020-06-01 19-45-59](https://user-images.githubusercontent.com/6674623/83437837-be8d1280-a440-11ea-99ad-38f27dd4038c.png)

I am therefore closing this as a duplicate of #8966

[2020-06-01 17:48] #9169 closed

[2020-06-01 18:09] zack-shoylev commented on #9153
Similar in https://netdata.zendesk.com/agent/tickets/144

Deleted war room, reclaimed nodes, but metrics are missing.

[2020-06-01 18:10] zack-shoylev commented on #9153
I do not believe either case had anything to do with VM cloning or similar.

[2020-06-01 18:14] SyntrophicConsortium opened #9244 "Netdata Cloud Agent on Arch Linux"
Latest Netdata on Arch-based distros was built without dependencies for Cloud. I discovered this when trying to run netdata-claim.sh:

`This agent was built without the dependencies for Cloud and cannot be claimed`

netdata -V:
`netdata v1.22.1-182-g41c31b52`

I run updates on my Manjaro Linux system using pacman.

Let me know if there's further information I can provide.

[2020-06-01 18:14] underhood commented on #9153
@zack-shoylev can you send me the info from zendesk i do not have access.
@cakrit should i have access for zendesk?

[2020-06-01 18:42] hexchain commented on #9244
The Arch package is not built with ACLK support. But also, it seems that ACLK currently requires the static libraries of libmosquitto and libwebsockets, which are not present on Arch, because Arch by default does not ship **static** libraries, only **dynamic** ones.

[2020-06-01 19:34] Ferroin commented on #9244
We can't get around needing a custom build of mosquitto at the moment.

LWS is potentially more flexible, but needs to be built with SOCKS5 support (which a vast majority of distros don't do).

[2020-06-01 19:35] Ferroin commented on #9244
#8961 is also relevant here.

[2020-06-01 21:51] #9018 closed

[2020-06-01 21:54] stevenh commented on #9109
Thanks for detailed info @Ferroin

Once I get a little bit of free time I will extract my automake changes from the FreeBSD port and put in the PR, that will allow it netdata to be compiled with local shared or static if thats of interest?

[2020-06-02 00:47] RubenKelevra commented on #9244
Is there a patchset available? This way we could add it to the AUR and build a custom Netdata client with 'Netdata Cloud' enabled for testing.

The [LWS package](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/libwebsockets) on ArchLinux is built with `LWS_WITH_SOCKS5=ON`.

[2020-06-02 01:03] Jafar412 commented on #9230
Hi @thiagoftsm @prologic
I did try to reinstall and upgrade it
It worked with no problems,Thanks all!
I'm going to close it

[2020-06-02 01:03] #9230 closed

[2020-06-02 01:42] RubenKelevra opened #9247 "can't claim nodes"
##### Bug report summary
I tried to add 4 nodes in 4 different locations around the world to my Cloud account, all 4 fail repeatedly with

[code]

##### OS / Environment

2x ArchLinux
2x CentOS 7

##### Netdata version
Both CentOS 7:

```netdata v1.22.1-184-nightly```

Both ArchLinux:

```netdata v1.22.1-179-nightly```

[2020-06-02 02:46] RubenKelevra commented on #9247
Just tried it again, got 2 timeouts, but was able to add all 4 nodes now.

[2020-06-02 07:56] underhood commented on #9239
@amoss I am able to look into all of those except MacOS failures

[2020-06-02 09:18] berendt commented on #8906
@prologic Can you take a look at this, please?

[2020-06-02 11:07] smsuresh opened #9250 "New install using script - not working"
##### Question summary
Just installed this exciting tool, using the below URL
https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart
everything went fine, , but unable to access the GUI   using http://1.2.3.4:19999/

##### OS / Environment
3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

##### Component Name
eBPF issue? Seeing the

[2020-06-02 11:15] Ferroin commented on #9244
The code can be found at https://github.com/netdata/mosquitto.

We're working on a comprehensive document including all of this info specifically for maintainers and people who want to build Netdata completely by hand. I'll make a point to drop a link back here when that finally is finished and published.

As mentioned above, see #8961

[2020-06-02 11:19] smsuresh commented on #9250
Below is from  error.log

Spawn server is up.
2020-06-02 02:30:49: netdata INFO  : MAIN : NETDATA_CONTAINER_OS_NAME=none
2020-06-02 02:30:49: netdata INFO  : MAIN : NETDATA_CONTAINER_OS_ID=none
2020-06-02 02:30:49: netdata INFO  : MAIN : NETDATA_CONTAINER_OS_ID_LIKE=none
2020-06-02 02:30:49: netdata INFO  : MAIN : NETDATA_CONTAINER_OS_VERSION=none
2020-06-02 02:30:49: netdata INFO  : MAIN : NETDAT

[2020-06-02 11:39] Ferroin commented on #9109
I can't comment on the position of the team as a whole on this, but I for one would be ecstatic to have such an option.

[2020-06-02 13:48] #8950 closed

[2020-06-02 14:15] prologic commented on #8575
Duplicate of #8117 (_which I'm choosing in preference to put at the top of my Backlog_).

[2020-06-02 14:15] #8575 closed

[2020-06-02 14:21] ilyam8 commented on #8950
btw we use net-snmp that is shipped with netdata

https://github.com/netdata/netdata/blob/master/collectors/node.d.plugin/node_modules/net-snmp.js

[2020-06-02 14:46] #8967 closed

[2020-06-02 15:12] joelhans commented on #8117
@prologic I think you and Andrew are on the same page about where to go with this, but let me know if you need any feedback about the desired output for the changelog.

[2020-06-02 15:56] underhood commented on #9250
Can you try to take a look at debug console of browser, tab network and then refresh?
Something like this (chrome has the same thing just in slightly different place):
![Screenshot from 2020-06-02 17-54-01](https://user-images.githubusercontent.com/6674623/83541685-42570580-a4fa-11ea-9f77-c40c8e9a0cbf.png)

[2020-06-02 16:08] thiagoftsm commented on #9250
Hi @smsuresh ,

I observed that the `ebpf` was initialized with success around `02:30:49` and it was closed after `02:52:23`, I also observed that you are running on a RHEL. I remember that we had initial problems with systemd, but I am not sure if this was fixed.

Considering the exit message that you had:

[code]

I suspect the thread was finalized together Netdata. Can you confirm this?

About

[2020-06-02 16:15] underhood commented on #9247
would you be willing to share `claimed_id` of those nodes? This way we can check the logfiles on the Cloud side.

You can find the claimed_id by:
`cat /var/lib/netdata/cloud.d/claimed_id`
or the same folder prefixed by `/opt/netdata` depending on your install method

[2020-06-02 16:20] fayak opened #9253 "netdata cloud ACLK fail: data too large for modulus"
##### Bug report summary

I can't register some netdata nodes to netdata cloud. I followed the instructions, and error.log reports periodically :

[code]

`/api/v1/info` returns:
[code]

##### OS / Environment

debian 10

[code]

Also:

[code]

##### Netdata version

installed from -edge apt repo

[code]

##### Component Name

Netdata cloud I reckon

##### Steps To Reproduce

1. install netdata fr

[2020-06-02 17:24] youreunwelcome opened #9254 "QEMU metrics incorrect and crashing dashboard"
##### Bug report summary

Netdata appears to be grabbing all data for both LXC containers and the one KVM VM i have, and putting them all under a single "qemu" section. It lists all virtual nics, as well as all vcpus, and when i go to that section it updates for about 5 seconds before completely crashing whatever tab its running in, and occasionally the entire browser.
![Capture](https://user-imag

[2020-06-02 18:58] ilyam8 commented on #9254
@underhood since you [are working](https://github.com/netdata/netdata/pull/9249) with cgroups code i hope you can help with the issue, please take a look

[2020-06-02 18:59] ilyam8 commented on #9254
@jacekkolasa

[2020-06-03 03:57] prologic commented on #9239
macOS has known issues that I have in my Backlog, but other things are getting in the way.

[2020-06-03 04:05] prologic commented on #8531
With #9174 merged. Please please please let us know if there are any further issues here. The PR was throughly tested (_again_) and I hope we don't have this issue reoccur.

[2020-06-03 04:14] prologic commented on #8967
With #9165 merged, please let me know if you see/observe/experience any occurrences of checksum failures that are related to transient issues with `curl` or weird `\n` as per the above thread. Hopefully we'll never see this again as I ensured we use both `-q` and `-o-` eveyrwhere.

[2020-06-03 05:18] prologic commented on #9242
IHMO this is not a bug per se but a design decision by the musl developers. It has come up a few times over the years in various mailing list threads. I'm not sure we can really "fix" this except to redesign how we appraoch this?

[2020-06-03 06:38] #8825 closed

[2020-06-03 06:38] #8921 closed

[2020-06-03 06:38] #9063 closed

[2020-06-03 06:42] amoss commented on #8825
@yasharne / @stohn We had a delay in reviewing the PR but it has now been merged with the bug-fix. It is in the master branch now and will be picked up for the nightly build at the end of the day. Please let me know if it improves the behaviour that you see on your configurations, and re-open this issue if it does not fix the problem.

[2020-06-03 07:49] underhood commented on #9253
Would you be willing to share your agent claimed_id? This way we can go and take a look also from the cloud side.

normally it is stored here `/netdata/var/lib/netdata/cloud.d/claimed_id` or that folder prefixed by `/opt/netdata/...`

Also did you try to reclaim node as suggested by #9206. See https://learn.netdata.cloud/docs/agent/claim#remove-and-reclaim-a-node and last comment on #9206

[2020-06-03 07:57] fayak commented on #9253
Yes, it's already in the logs I pasted ;) `60f9eb64-8e0d-11ea-bc11-525400a597de`

No I did not, I tried to claim it again, but without removing `cloud.d`, I'll try whenever I can and let you know how it goes

[2020-06-03 08:08] fayak commented on #9253
Ok so it seems to be working, but I now have 2 servers on netdata cloud, and I don't find how to remove the inactive one ...

[2020-06-03 08:12] fayak opened #9256 "Netdata cloud UI improvement - hiding menu on domain-click"
##### Feature idea summary

That's a simple one ....

Could it be possible to have to same behavior when clicking on n°1 than the one when we click on n°2 ? (see attached screenshot)

It's a bit counter-intuitive, I always fall for it first

![netdata](https://user-images.githubusercontent.com/11300056/83612384-a1f8f380-a582-11ea-99ac-b0531714a647.jpg)

##### Expected behavior

The menu hides when

[2020-06-03 08:14] underhood commented on #9253
@fayak thanks, didn't notice that (already shared claimed id) :D. That GitHub scrolling is really awkward :/.

Ok 1st in top left corner of cloud:
![Screenshot from 2020-06-03 10-11-23](https://user-images.githubusercontent.com/6674623/83612603-e97f7f80-a582-11ea-9663-269791c7ca33.png)

Then on right side pannel should open and continue like this:
![Screenshot from 2020-06-03 10-11-49](https://use

[2020-06-03 08:17] fayak commented on #9253
Awesome, thanks ! I never found that button !

So problem fix for me, I'll let you judge whether this issue should be closed or not

[2020-06-03 08:19] underhood commented on #9253
Glad to be able to help and thanks for cooperation from your side as well.

Well, our product team already knows about this kind of stuff (not exclusively from #9206).
Just to make sure I am pinging:
- @manos-saratsis I think are improvements planned already.
- @joelhans any docu improvements necessary?

[2020-06-03 08:19] #9253 closed

[2020-06-03 13:33] splastunov commented on #8876
@thiagoftsm any updates about bug with timeouts?

[2020-06-03 14:05] okasap opened #9258 "How to use vendor specific SNMP MIB ?"
##### Question summary
I want to use PAN snmp collector with PAN fw specific mibs. How can i install this PAN-COMMON-MIB and run on netdata
##### OS / Environment
I am running docker version on my MAC.
Linux version 4.19.76-linuxkit  (gcc version 8.3.0 (Alpine 8.3.0)) #1 SMP Tue May 26 11:42:35 UTC 2020

##### Component Name
netdata
v1.22.1-58-ga01364a8
##### I am getting the error below when I ra

[2020-06-03 14:18] underhood opened #9259 "Last Chart cannot be stretched on cloud"
##### Bug report summary
On the screenshot below, you can see the local dashboard on left side and cloud one on right.
Due to cloud missing copyright information in the bottom you are not able to increase the vertical size of chart with the button marked red (red arrow pointing to it).

![Screenshot from 2020-06-03 16-13-57](https://user-images.githubusercontent.com/6674623/83647880-b3a7be80-a5b5-

[2020-06-03 14:48] thiagoftsm commented on #8876
@amoss are the fixes that you are working right now also solving this problem?

[2020-06-03 14:50] thiagoftsm commented on #8876
Hi @splastunov ,

We are working with stream these days and we are fixing some bugs and bringing improvements. I will let the @amoss to answer you, because he is the person working with stream these days.

best regards!

[2020-06-03 15:17] #8239 closed

[2020-06-03 16:06] ilyam8 commented on #8949
ok, i've found the problem

There is hack in netdata daemon

https://github.com/netdata/netdata/blob/ae0d6007f1b2caf32202c95bd47a3e5ccfe80fa0/daemon/main.c#L585-L588

It breaks golang std lib local time identification, it fallbacks to UTC

https://github.com/golang/go/blob/5aaeda19c1876ecec85406726b544ac49c8f799b/src/time/zoneinfo.go#L74-L80

https://github.com/golang/go/blob/5aaeda19c1876ecec8540

[2020-06-03 16:20] ilyam8 commented on #8949
@amoss please take a look too, @mfundul said you are the right person to fix!

[2020-06-03 17:00] RubenKelevra opened #9264 "btrfs: false alarm for disk space"
##### Bug report summary
I got a critical alarm on netdata today, regarding a btrfs volume - which seems to be false.

`df` shows the following:

[code]

`btrfs` shows the following:

[code]

The alarm:

![Screenshot_20200603_185356](https://user-images.githubusercontent.com/614929/83665707-13a95f80-a5cc-11ea-8437-09fad685f75f.png)

##### OS / Environment

[code]

##### Netdata version
netdata v1.

[2020-06-03 19:16] ilyam8 commented on #9264
Hi @RubenKelevra

The alarm is

https://github.com/netdata/netdata/blob/380a3a7f56f1f644172921acc4019be26f7d6423/health/health.d/btrfs.conf#L2-L14

Are you willing to fix the alarm? A PR would be nice 😄

[2020-06-03 20:15] ilyam8 commented on #9258
hi @okasap

can you get a response using `snmpget` from cmd?

[2020-06-03 23:39] #9106 closed

[2020-06-04 00:17] zack-shoylev commented on #9153
Sorry for the delay, this was traces to the 500 errors/server side problems, which should be now resolved.

[2020-06-04 00:17] #9153 closed

[2020-06-04 00:53] DSpeichert commented on #9206
I seem to have a similar problem but slightly different error:
[code]

Not sure what file is missing, possibly root CA certs? I can see  that netdata seems to come with its own `curl` installation, maybe it is somehow not using the `/etc/pki` system-wide trust store?

[2020-06-04 06:35] okasap commented on #9258
no..

SNMPv2-SMI::enterprises.25461.2.1.2.3.9.1.7 = No Such Instance currently exists at this OID

[2020-06-04 07:33] ilyam8 commented on #9258
well, try `snmpwalk`

[2020-06-04 08:21] underhood opened #9267 "libJudy cmake detection error in Fedora 31"
##### Bug report summary
![Screenshot from 2020-06-04 10-19-28](https://user-images.githubusercontent.com/6674623/83732875-fd8fb380-a64c-11ea-905b-dc6bc32d98db.png)

##### OS / Environment
FC31 AMD64

##### Component Name
cmake

[2020-06-04 09:40] jurgenhaas commented on #9239
I'm seeing this on Ubuntu 18.04 - in my local network I have 3 hosts with similar setup and all 3 got installed through git clone and using the installer script. One of the 3 works ok, the other 2 respond with `This agent was built without the dependencies for Cloud and cannot be claimed` - not sure what's the difference though.

[2020-06-04 09:47] amoss commented on #8876
Hi @splastunov, the patch that I am working on now will fix your problem. When the receiving netdata restarts it will replicate the missing data from the sender to fill the gap in the chart. It's under development now, it should be in the nightly build next week.

[2020-06-04 09:54] okasap commented on #9258
snmpwalk -m PAN-COMMON-MIB -v 2c  -c public 192.168.55.10 1.3.6.1.4.1.25461.
2.1.2.3.9.1.7
PAN-COMMON-MIB::panVsysActiveUdpCps.1 = INTEGER: 0

[2020-06-04 09:56] amoss commented on #8949
It doesn't look like it requires any specialist knowledge - we should read the timezone properly on startup and cache the result. @dim08 can add it to the current list of bugs and whoever has capacity next week when the current dev-cycle finishes can fix it.

[2020-06-04 10:04] amoss commented on #9206
@DSpeichert / @Nirjonadda We've been looking into this over the past week. Are you both using a CentOS (or other redhat deriviative) and the kickstart64 installation method?

[2020-06-04 10:08] amoss commented on #9239
Can we take a look at the `config.log` from one of the 2 installs that report a problem? It will show us which of the dependencies failed to build.

[2020-06-04 10:09] ilyam8 commented on #8949
if [i understand the problem](https://stackoverflow.com/questions/4554271/how-to-avoid-excessive-stat-etc-localtime-calls-in-strftime-on-linux) it is not about us caching/not caching

[2020-06-04 10:13] ilyam8 commented on #9258
then it is

`1.3.6.1.4.1.25461.2.1.2.3.9.1.7.1`

---

this should work

[2020-06-04 10:27] jurgenhaas commented on #9239
Where would I find that config.log? It isn't in the current directory and it's not in /var/log/netdata

[2020-06-04 10:52] stohn commented on #8825
I installed the new version and it seems the reconnection problem disappeared.

* log shows the reconnect problem
[code]
* stop old netdata
[code]
* you can see old version did not even output a DICONNECT for problematic 'host3'

---

* start new nedtata (git clone + compile of current version)

[code]

A bit later I also had 3 more blackouts from my problematic streaming client 'host3'  but every

[2020-06-04 10:54] ilyam8 commented on #9239
@jurgenhaas in the source code dir

[2020-06-04 10:56] r3flow commented on #5613
related #2631

[2020-06-04 11:05] #9056 closed

[2020-06-04 11:13] jurgenhaas commented on #9239
Here you go. It contains a lot of string `error` but with my knowledge I wasn't able to identify which one could be the cause of the problem:

[config.log](https://github.com/netdata/netdata/files/4729565/config.log)

[2020-06-04 11:18] Horkyze opened #9270 "Streaming of metrics in netdata 1.12.0-1+deb10u1 (debian.org repo)"
##### Question summary

Should the streaming of metrics from one netdata instance to another work in the netdata version that is in the official Debian repo - https://packages.debian.org/buster/netdata ?

I have tried it, on Debian Buster, but in the left top corner, I am not able to select the host.
![image](https://user-images.githubusercontent.com/1040383/83748957-45b9d080-a663-11ea-92a5-334c34

[2020-06-04 11:24] Jessimon opened #9271 "Go web_log - bad req url"
##### Bug report summary
I use the web_log module of netdata to get metrics for my apache logs. I use the go version.For most logs this works as expected, but for some logs i see that the url is viewed as bad.

'http://cxgatesdev1inc.testabcd.be/cxContent/cxMain/vacanciesPublic.php?txtSearchTerm=0&chkFunctionGroups=0&selSearchCountry=0&selSearchRegion=0&thisPage=1&wpSite=&wpSiteID=11&wpHost=devlog

[2020-06-04 11:46] amoss commented on #9239
Lots of errors is normal - the automake / autotools is a big bag of heuristics that try different compilations to see what works and what fails, this builds up a profile of your system that is used to configure the netdata compilation. It looks like two of the dependencies failed to build - json-c and libwebsockets.
[code]
When you run the installer it generates a lot of output, but among that out

[2020-06-04 11:47] mailinglists35 opened #9272 "default green/red WARNING/CRITICAL threshold values are set too low for normal operations"
##### Feature idea summary
I would not consider this a bug, but I get flooded with notifications whenever I fart in machines where netdata is installed. A bit of file copying -> alerts. a bit of cpu usage -> alerts. a bit of load -> alerts. a bit of iscsi network traffic -> alerts.

This is insane and returning to normal alertless life (for situations where there is really nothing to worry because

[2020-06-04 11:50] amoss commented on #8825
That's great news! Happy to hear it. The frequent reconnections will be become less of a problem next week as we are patching the connection to replicate any missing data from the gap. The underlying cause can be many different things. If the connections are simply timing out then it could be packet loss. You mentioned above that you are using SSL - because the transport layer exchanges more packe

[2020-06-04 11:50] okasap commented on #9258
Thanks.. this works ..

[2020-06-04 11:50] #9258 closed

[2020-06-04 12:22] ilyam8 commented on #9271
hi @Jessimon

No.

URL check method was

https://github.com/netdata/go.d.plugin/blob/b33118b931768edbb5803166905555576e4c17db/modules/weblog/logline.go#L492-L498

https://github.com/netdata/go.d.plugin/blob/b33118b931768edbb5803166905555576e4c17db/modules/weblog/logline.go#L500-L509

I changed it because of

https://github.com/netdata/go.d.plugin/issues/377

to

https://github.com/netdata/go.d.plu

[2020-06-04 12:32] ilyam8 commented on #9271
ok

From the internet

I dont get why there is `http://...`

[2020-06-04 12:34] ilyam8 commented on #9270
Hi @Horkyze

is ancient

[2020-06-04 12:43] DominikTrenz commented on #8825
Thanks for the fix! Do we only have to update the master or does every slave need an update?

[2020-06-04 13:06] jurgenhaas commented on #9239
I only saw the errors in the attached config.log above - during installation I don't see any because I always deploy with Ansible. Do you know which libraries or packages I should install on the host in order to provide json-c and libwebsockets?

[2020-06-04 13:29] jurgenhaas commented on #9239
I have installed `libjson-c-dev` and `libwebsockets-dev` and re-installed netdata, but the problem remains the same.

[2020-06-04 13:30] splastunov commented on #8876
@amos thank you for great news!

During investigation of sync problem I found another bug that is described [here](https://github.com/netdata/netdata/issues/8876#issuecomment-622951786)
I thought that you are working on it now : )

[2020-06-04 13:31] timchou opened #9275 "Not send telegram notifications when a critical alarm?"
here is health_alarm_notify.conf:
`SEND_TELEGRAM="YES"

TELEGRAM_BOT_TOKEN="1168xxxxxxxx"

DEFAULT_RECIPIENT_TELEGRAM="-47xxxxxx"`

when I run test alarm ,I can receive alarms:
/usr/libexec/netdata/plugins.d/alarm-notify.sh test

But I never received a real notification...

Here is a critical situation:

![image](https://user-images.githubusercontent.com/352302/83762798-81c45400-a6aa-11ea-9dd2-9f8

[2020-06-04 13:37] ilyam8 commented on #8876
@splastunov if there is another bug it makes sense to open a new issue (if @amoss fix doesnt fix it)

[2020-06-04 13:40] ilyam8 commented on #9275
Hi @timchou

Did you check `error.log`?

[2020-06-04 13:51] dannysauer commented on #8393
Whoops. I forgot to follow up; this also worked for me. Thanks. :)

[2020-06-04 14:14] timchou commented on #9275
hi @ilyam8 ,Thanks for replying.

/var/log/netdata/error.log is empty..

[2020-06-04 14:22] amoss commented on #8825
There are heavy change to both the receiver side and the sender side - I would update both to make sure.

[2020-06-04 14:29] amoss commented on #8876
@splastunov I would treat that as more of a feature than a bug :) Have you tried increasing the timeout so that it is longer than the `update_every` interval?

[2020-06-04 14:37] splastunov commented on #8876
@amoss if timeout is longer than ```update_every``` all is fine.
It seems that it is really some kind of feature.

If you will fix data synchronization, there will be no need to set timeout shorter then ```update_every```.

[2020-06-04 14:51] jurgenhaas commented on #9239
Ansible is just a provisioning tool and logging is configurable. For proven processes I tend to minimize log output as it is not helpful normally.

I have now called the install script manually and saw, that cmake was missing. Installed that too and now registration works just fine.

[2020-06-04 15:06] soroshsabz commented on #92
I think native support of windows is needed, and WSL is not best match solution, if the performance is acceptable, still WSL is just work around solution.

Sent from Outlook Mobile<https://aka.ms/blhgte>
________________________________
From: Jonah Kowall <notifications@github.com>
Sent: Thursday, June 4, 2020 7:16:14 PM
To: netdata/netdata <netdata@noreply.github.com>
Cc: soroshsabz <soorosh_abi@

[2020-06-04 15:21] Silvenga commented on #92
@jkowall doesn't WSL2 execute in a VM? It doesn't have access to the host's information. Even WSL1 had very limited access to the host (and if the host had Hyper installed, no information about the host, only the management VM).

Remember that HyperV is a type 1 hypervisor. On a server with HyperV roles installed, only performance counters have access to host outside of the management OS VM.

[2020-06-04 16:28] amoss commented on #9239
Oh yes - that is required for the libwebsockets build. Happy to hear that it is working.

[2020-06-04 16:39] csch42 commented on #8825
Confirmed. Works even for old clients (not unexpectedly).

Thanks!

	Clemens

[2020-06-04 17:05] joelhans commented on #8990
Closing this, as I've accomplished all the tasks involved in removing old CI and creating new CI to enforce the necessary checks in the repo. We'll plan out and prioritize the deploy previews portion of this in the weeks ahead.

[2020-06-04 17:05] #8990 closed

[2020-06-04 17:07] amoss commented on #9239
I think this is possible - @Ferroin is there an option for this in the installer?

[2020-06-04 17:27] jkowall commented on #92
@Silvenga correct it's inside a VM, but they've done a lot of integrations and GUI support is coming soon for apps on linux (X). It does have a lot of access to host info including CPU measurements and such. I can see them from within the app. You can also measure the physical volumes from WSL, so some things are working, but others don't for netdata.

[2020-06-04 17:53] andrema2 opened #9276 "Netdata won't start on Pfsense 2.4.5"
I installed the netdata as directed in this page [https://learn.netdata.cloud/docs/agent/packaging/installer/methods/pfsense].

Trying to start the service doesn't return an error on the screen, but when I try to access the Netdata page it shows up without any data and it fails a second attempt.

I did not find where the logs are.

In the same hw I used to run opnsense which is very similar, so it

[2020-06-04 18:55] DSpeichert commented on #9206
`https://my-netdata.io/kickstart-static64.sh` on CentOS 7 here.

[2020-06-04 20:59] ilyam8 commented on #9275
Literally empty? It seems it was rotated, check `error.log.1`

And

i see `china` and `telegram`, any chance it is blocked or something? 😄

[2020-06-04 22:47] prologic commented on #9239
Be sure to use @netdata/infra as it tags the whole team :)

To answer your question; no not really (_sort or / kind of / but not really_). Our installer _does_ support "offline installs" but it really needs a lot of love to make it easier for our users.

Supporting installation of Netdata whtini mainland China is also a KP and tracked by #9138

[2020-06-04 22:49] prologic commented on #9276
There are some improvements to our documentation coming for Netdata on pfSense. These might help. Search for "pfSense" in our issue tracker and pull request and see if any of the informaiton being provided/updated by the community helps here and let us know.

[2020-06-04 23:04] okasap opened #9277 "SNMP config"
##### Question summary
I am polling 2 interfaces Bandwith data successfully whenever I add aconfig to pull some session statistics , the 3rd graph does not appear and it stops polling data  for interfaces on dashboard.
##### OS / Environment
I am running docker version on my MAC.
Linux version 4.19.76-linuxkit (gcc version 8.3.0 (Alpine 8.3.0)) #1 SMP Tue May 26 11:42:35 UTC 2020
##### Component N

[2020-06-04 23:52] Ferroin commented on #4873
Hate to revive a functionally dead issue, but I'm willing to sponsor this (though I unfortunately don't have the background in C or how our C collectors work to do the actual coding myself).

There are not (as far as I can tell) any special statistics for dm-cache itself, but the UX relating to the regular disk stats for dm-cache could be significantly improved by grouping the basic disk statistic

[2020-06-05 00:58] timchou commented on #9275
I use VPN :)

I will check the log later, any keyword I can search?

[2020-06-05 04:28] #8915 closed

[2020-06-05 05:55] ilyam8 commented on #9275
reported 👮‍♂️ 😄

---

There is a way to test notifications

Check it too, it should send message to your tg channel

[2020-06-05 06:26] smsuresh commented on #9250
Hi @underhood @thiagoftsm ,
 Thank you for your time!  I am using firefox.
 btw, i just added a reverse proxy with nginx, it is working perfect!

I believe, netdata is receiving requests only from localhost, Can you help to change that as 0.0.0.0 or likewise..

Thanks in Advance!

[2020-06-05 07:35] underhood commented on #9250
@smsuresh did you take a look at https://learn.netdata.cloud/docs/agent/web/server ?

[2020-06-05 07:37] timchou commented on #9275
[Doge]

@ilyam8 ,the notification test was successfully.I can receive test notifications.
But I never received a REAL notification.Even there are critical alarms in netdata.

Also I didnt see any error about notifications in error.log:(

[2020-06-05 07:42] ilyam8 commented on #9275
Stock alarm

https://github.com/netdata/netdata/blob/5776deefc2ab4a9c0c47c9ccb78d75d50187f3ab/health/health.d/ram.conf#L26-L37

It has no `delay: up` option, so an notification should have been sent right after the alarm is up.

I suggest to trigger the ararm and check right after it.

[2020-06-05 08:15] smsuresh commented on #9250
Thankyou @underhood
So, shoud i alter

 # bind to = *   as

 bind to = 0.0.0.0

Below is the current config:

[web]
        # ssl key = /etc/netdata/ssl/key.pem
        # ssl certificate = /etc/netdata/ssl/cert.pem
        # tls version = 1.3
        # tls ciphers = none
        # ses max window = 15
        # des max window = 15
        # mode = static-threaded
        # listen backlog = 4096

[2020-06-05 08:32] amoss commented on #9206
Then we know what the problem is - it's the different directory used for the CA roots, and https://github.com/netdata/netdata/pull/9263 should fix your problem when it is merged.

[2020-06-05 08:38] tinyhammers commented on #9217
+1 from me.
Its the one thing that I wish ND did better. Maybe if a node is set to master, it can have an additional feature to ping all its hosts and alert if one doesn't respond? (Is that what health checks do on that master?)
Or, could that/is that something that Netdata Cloud could do? Send an alert if one of the collected nodes doesn't report in?

[2020-06-05 09:37] amoss commented on #9217
@dim08 A question for product to consider.

[2020-06-05 11:40] ilyam8 commented on #9277
[code]

i think that is the problem. Values are not ints.

Do you mean bandwidth works? Do you see bandidth charts?

[2020-06-05 12:24] underhood commented on #9206
@amoss && @DSpeichert just got merged should be in next nightly (and should fix all RHEL alike distros)

[2020-06-05 12:58] aokanarik opened #9280 "i cannot export metrics to mongodb"
##### Question summary
Hello to everyone,

I cannot export metrics to mongodb, even though I have made the destination according to mongo connection string uri and the requirements and configuration settings on exporting engine reference page.

Is there anyone can help me?

##### OS / Environment Oracle Linux 7

##### Component Name Exporting MongoDB

[2020-06-05 13:01] ilyam8 commented on #9280
Hi @aokanarik

What is your nd version? Did you check `error.log`? What is your exporting configuration?

[2020-06-05 13:03] Dimitrisgian1 opened #9281 "plugin metrics don't show up in Prometheus"
##### Bug report summary
I added a custom plugin to Netdata, which works fine on the Netdata UI and I can see the metrics on http://host:19999/api/v1/allmetrics , but on Prometheus I don't have the option to view my plugin's metrics. I can see all other Netdata metrics on Prometheus and even see the netdata_netdata_pythond_runtime_ms_average with the name of my plugin in the chart name, but none o

[2020-06-05 13:05] Jessimon commented on #9271
I tested with the python version of web_log and there all work fine.
As i understand it netdata recommends to use go in stead of python.

[2020-06-05 13:19] aokanarik commented on #9280
nd version is netdata v1.22.1-206-nightly.

Yes, I check it. I saw that:

"""2020-06-05 16:04:50: netdata LOG FLOOD PROTECTION too many logs (201 logs in 880 seconds, threshold is set to 200 logs in 1200 seconds). Preventing more logs from process 'netdata' for 320 seconds."""

And here you are: export config
[exporting:global]
       enabled = yes
    # send configured labels = yes
    # send aut

[2020-06-05 13:31] vlvkobal commented on #9280
Please grep for EXPORTING in your log.

[2020-06-05 13:47] Dimitrisgian1 commented on #9281
By the way, I do the installation this way because I am doing it through an Orchestrator (OSM) and using the one liner has issues.

[2020-06-05 13:49] ilyam8 commented on #9271
Yeah, it is better (performance, features). I will fix the _bug_. Will be fixed in the new version of go.d (next week).

[2020-06-05 13:55] ilyam8 commented on #9281
do you see them in?

[2020-06-05 13:56] aokanarik commented on #9280
netdata ERROR : EXPORTING : MongoDB support isn't compiled

[2020-06-05 13:57] Dimitrisgian1 commented on #9281
yes!

![Capture](https://user-images.githubusercontent.com/30804541/83884446-9148a900-a74d-11ea-85b2-e6de0c292180.PNG)

[2020-06-05 14:00] vlvkobal commented on #9280
Look at the [documentation](https://learn.netdata.cloud/docs/agent/exporting/mongodb#prerequisites). You should [install libmongoc](http://mongoc.org/libmongoc/current/installing.html).

[2020-06-05 14:18] aokanarik commented on #9280
Package mongo-c-driver-1.3.6-1.el7.x86_64 already installed and latest version

[2020-06-05 14:21] TheOldMan2000 commented on #9117
Woohoo, thanks for saving my sanity. Working fine now.

[2020-06-05 14:32] vlvkobal commented on #9280
Have you reinstalled Netdata from the source? Find what's wrong with MongoDB support in `config.log` in the Netdata source directory.

[2020-06-05 14:33] ilyam8 commented on #9280
Probably an order? 🤔  you need compile netdata after the package is intalled

[2020-06-05 14:35] aokanarik commented on #9280
i have reinstall with this command. (curl -Ss https://my-netdata.io/kickstart.sh)

[2020-06-05 14:37] aokanarik commented on #9280
How can I do that?

[2020-06-05 14:41] ilyam8 commented on #9281
metrics name is `netdata + chart context + units`, you need to add prexix to your context.

See

https://github.com/netdata/netdata/blob/2b9246a4ae7b69c0bde8466881ebdd5384b9a7a2/collectors/python.d.plugin/apache/apache.chart.py#L26-L27

we always add `collector_name.context`, ^^ `apache.workers`

[2020-06-05 14:42] TheOldMan2000 opened #9282 "Add LSPHP to list of PHP Handlers in apps_groups.conf"
##### Feature idea summary

If you are using Litespeed's PHP Handler called LSAPI which is available and supported in recent WHM/CPanel versions then PHP resources are not shown in PHP stats throughout the dashboard (they show as 0 or -).

Please can you therefore add LSAPI recognition by editing the line php: in the web/ftp section of apps_groups.conf to include **lsphp***

`php: lsphp* php*`

##

[2020-06-05 14:44] vlvkobal commented on #9280
[Install Netdata on Linux manually](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual). Use [`netdata-installer.sh`](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/manual#install-netdata).

[2020-06-05 14:50] TheOldMan2000 opened #9283 "Add Imunify antivirus to apps_groups.conf"
##### Feature idea summary

Please add recognition for Imunify antivirus malware scanner by editing the antivirus section of apps_groups.conf to include **imunify360*** as below

`antivirus: clam* *clam imunify360* `

##### Expected behavior

Netdata to recognise Imunify malware/antivirus solutions in WHM/CPanel similar to ClamAV.

Thank you.

[2020-06-05 14:59] Dimitrisgian1 commented on #9281
IT'S ALIVE !!! It worked perfectly! Thank you very much for this, I appreciate it very much! You are the best!

[2020-06-05 15:04] #9281 closed

[2020-06-05 15:06] ilyam8 commented on #9283
hi @TheOldMan2000

Are you willing to make a PR?

[2020-06-05 15:07] ilyam8 commented on #9282
Same https://github.com/netdata/netdata/issues/9283#issuecomment-639553204

If you are, please make it one PR (both this issue and #9283)

[2020-06-05 15:09] okasap commented on #9277
<img width="1156" alt="Screen Shot 2020-06-05 at 12 40 27" src="https://user-images.githubusercontent.com/53174432/83892684-aaeeee00-a757-11ea-886f-14df0ef8c5ba.png">

[2020-06-05 15:11] ilyam8 commented on #9277
What about `error.log`? do

[2020-06-05 15:11] aokanarik commented on #9280
i have reinstalled that way. but issue go on

[2020-06-05 15:17] okasap commented on #9277
error.log is empty

/var/log/netdata # grep -i "node.d" error.log

^C

[2020-06-05 15:30] manos-saratsis commented on #9256
@fayak We will not implement your suggestion because by clicking on the Space icons users can navigate to different spaces. Thx for using Netdata Cloud and for sharing your idea with us though!

[2020-06-05 15:30] #9256 closed

[2020-06-05 15:30] TheOldMan2000 commented on #9283
Sorry, I'm new to Github and don't understand that side of it yet!

[2020-06-05 15:32] TheOldMan2000 commented on #9282
Sorry, newbie here! Don't want to mess it up!

[2020-06-05 15:42] aokanarik commented on #9280
![21](https://user-images.githubusercontent.com/32803162/83896129-5437e300-a75c-11ea-94e4-aaf284e046c3.PNG)

this error.log

[2020-06-05 16:01] thiagoftsm commented on #9282
Hi @TheOldMan2000 I created a PR to bring the requested changes, please, test it for us.

[2020-06-05 16:02] thiagoftsm commented on #9283
I created only one PR to fix both requests.

[2020-06-05 16:21] ilyam8 commented on #9277
@okasap do the netdata.service restart and grep after it

[2020-06-05 16:54] #7965 closed

[2020-06-05 19:56] TheOldMan2000 commented on #9282
Thanks, that will do nicely sir.

[2020-06-05 20:04] TheOldMan2000 opened #9286 "Is it still intended to be able to resize chart height using touch iOS iPad?"
##### Question summary
Not sure if it's just me, can anyone with an iPad or a touch enabled device please confirm whether it's still possible to resize the height of individual charts on the Netdata Dashboard? It stopped working for me around when the new UI was released with the left-side panel.

##### OS / Environment
iOS 13.4.1 Safari and Chrome browsers.
CentOS 7 Virtuozzo Cloud VPS

##### Com

[2020-06-05 20:22] jiuchen1986 opened #9287 "Netdata can not show cgroups/containers ran by kubelet without access to kubernetes cluster information"
##### Bug report summary

When we upgrade netdata to 1.22.1, it can not show cgroups/containers ran by kubelet without access to kubernetes cluster information, which worked before 1.20. I've checked out the code, and I believe the problem is here:
![image](https://user-images.githubusercontent.com/33239761/83919496-8b43cf80-a72f-11ea-8226-17344e836109.png)

##### OS / Environment

[code]

##### N

[2020-06-05 20:40] ilyam8 commented on #9287
related PR: #7416

copying [my comment](https://github.com/netdata/netdata/pull/7416#issuecomment-636196712) from there

https://github.com/netdata/netdata/blob/885caf08dd41a770489f91db6d226260122e0b94/collectors/cgroups.plugin/sys_fs_cgroup.c#L1171-L1174

https://github.com/netdata/netdata/blob/885caf08dd41a770489f91db6d226260122e0b94/collectors/cgroups.plugin/cgroup-name.sh.in#L114-L117

[2020-06-05 21:11] thefiredragon commented on #5590
@skurfuerst  any updates to this here?

[2020-06-05 21:25] okasap commented on #9277
It still empty.. should i set sth for logging in docker environment ?

bash-4.4# pwd
/var/log/netdata
bash-4.4# ls -altr
total 8
drwxr-xr-x    1 root     root          4096 May 19 00:31 ..
lrwxrwxrwx    1 root     root            11 May 19 00:31 error.log -> /dev/stderr

I see some errors on terminal after i restart the service..

020-06-05 20:52:03: netdata ERROR : ACLK_Main : Unknown LWS callbac

[2020-06-05 22:20] RubenKelevra commented on #1922
Why not use nftables to count the traffic/packages?

Sure it would require a huge amount of filter rules, if you want to do AS-Network resolutions etc. but it's designed for exactly this task and does this very efficient.

[2020-06-05 22:54] aokanarik commented on #9280
i saw that in config.log  but i did not find the version of requested. what can you suggest for this error?
![image](https://user-images.githubusercontent.com/32803162/83928441-7baca100-a798-11ea-9f6f-4fb340ba68d5.png)

[2020-06-06 10:56] kachunkachunk commented on #8343
@prologic - It really is a bit of a bear getting a Synology VM going, but you can start here: https://xpenology.com/forum/topic/13061-tutorial-install-dsm-62-on-esxi-67/, and if it's too much of a pain in the rear, I can make one for you (eventually). Mostly just need to know what your host CPU would be, and what hypervisor.

As for this issue and impending PR, only thing I can add is that Synolog

[2020-06-06 13:45] ilyam8 commented on #9277
i am not sure why there are no logs, if something doesnt behave normally the logs is the first place to look in (all errors are in there).

[code]

[2020-06-06 13:59] Duffyx commented on #8707
I don't know, its consistent in spitting out this error when my history has run out. eg: history = 86400 in netdata.conf, after this time has passed the plugin stops working while the others continue to run losing previous data and replacing it with new data like I expect.

[2020-06-06 14:05] ilyam8 commented on #8707
A good finding! I suggest to decrease the history and see it is always the case.

[2020-06-06 16:15] DSpeichert commented on #9206
@amoss & @underhood

I don't think that helped. I installed latest nightly and see the symlink:
[code]

Yet the error is exactly the same as before.

[2020-06-06 16:29] davidak opened #9288 "Add Drone CI Server plugin"
##### Feature idea summary

The Drone CI Server exposes some metrics. It would be nice to have a graph from the data.

https://docs.drone.io/server/metrics/

This is how the data looks: https://gist.github.com/davidak/88d4bfedc04806fedf7f6bf3c91934fe

For example:

**Drone CI Stats**

- drone_build_count
- drone_user_count
- drone_repo_count

**Drone CI Builds**

- drone_pending_builds
- drone_run

[2020-06-06 22:56] Mormacill commented on #9110
Same Problem here.
![1](https://user-images.githubusercontent.com/31103546/83956030-b9bdc980-a859-11ea-9df6-414a0d6d2930.PNG)

[2020-06-07 03:29] startryst opened #9289 "Netdata crashed due to low memory? CentOS7 on latest nightly release"
[code]

And the host is running on 512MB memory, the related configuration of netata.conf is as below:
[code]

But some how, the dashboard will appear like this:
![image](https://user-images.githubusercontent.com/22472752/83959553-befa3300-a8b0-11ea-9073-53253407714d.jpeg)
which looks like the RAM is run out of it, and then netdata process is crashed?

attached the log of above vacuum time period:

[2020-06-07 06:41] ilyam8 commented on #9289
Hi @startryst

See

[2020-06-07 07:15] startryst commented on #9289
@ilyam8 Thanks, changed to keep, and monitor for a week to see how it goes, and then close this case.

[2020-06-07 08:26] amoss commented on #9206
@Ferroin Could you investigate if this a different problem?

[2020-06-07 08:51] aokanarik commented on #9280
someone can help me?

[2020-06-07 09:08] xPaw opened #9290 "Horizontal scrollbar while netdata is loading"
##### Bug report summary
While netdata is loading and before the CSS fully kicks in, there's a horizontal scrollbar on the page. I believe this happens before bootstrap css loads, and there's no `border-box` styles, which causes the padding on body to overflow.

![image](https://user-images.githubusercontent.com/613331/83964736-9fb2d400-a8b7-11ea-9310-ab7d00327146.png)

##### OS / Environment
Wind

[2020-06-07 11:30] davidmehren opened #9291 "Segfault after upgrade to 1.22.1218"
##### Bug report summary
Netdata segfaults a few seconds after starting.

##### OS / Environment
A Ubuntu 18.04 LXC container on Proxmox 6/Debian 10.
Kernel: `Linux legion 5.4.41-1-pve #1 SMP PVE 5.4.41-1 (Fri, 15 May 2020 15:06:08 +0200) x86_64 GNU/Linux`

##### Netdata version
The problems started after an apt upgrade to `1.22.1218`. I can also reproduce the problem with `v1.22.1-221-gff326cec`

[2020-06-07 11:34] thiagoftsm commented on #9280
Hi @aokanarik ,

According your `config.log`, it was identified the version `1.3.6` of libmongoc on your system, this was the motive that your netdata was not installed with support to `libmongoc`.

I saw you wrote:

[code]

I am supposing you used the package manager to install the package. This means that your distribution is not updating `libmongoc` frequently, because the latest version is [1.

[2020-06-07 11:38] thiagoftsm commented on #9291
Hi @davidmehren ,

Do you have stream enabled on this Agent?

Best regards!

[2020-06-07 11:40] davidmehren commented on #9291
Yes, this Agent is the master node for about two dozen or so other agents that stream their metrics.

[2020-06-07 12:18] davidmehren commented on #9291
Alright, I think I got it: We have a host called "null" (german for "zero"). When I disable Netdata on it, the master does not crash, if I start it again, it crashes. I extracted the following from `error.log`:
[code]

I get that naming a host `null` might be a debatable idea, but fact is that Netdata had no problem with the name until the update.

[2020-06-07 12:40] thiagoftsm commented on #9291
Hi @davidmehren ,

I am working with other PR, and I did not have to test this yet, but I am glad you could find the problem.
We changed the code for stream recently, and I am not sure if we brought restrictions for names, @amoss considering that you changed the code, can you identify the possible place that is creating this error?

Best regards!

[2020-06-07 13:02] Jiab77 commented on #9022
I was going to create an issue about the fact there is no more tooltips or indication about the meaning of the icon. Why this decision? It's a non-sense regarding the understanding of the UI.

[2020-06-07 15:00] hostingfuze opened #9292 "Capture tcpdump"
##### Feature idea summary
When a ddos attack occurs, the server informs me by email, but I also want to save those traffic captures with the following command:

#    tcpdump -nn -vvv -c 10000 -w ddos-`date +%F_%T`.pcap

where to be saved in a folder for a web server to be easily downloaded and hosted.

##### Expected behavior

[2020-06-07 18:01] amoss commented on #9291
Reading the valgrind trace and the `error.log` I suspect that we have two problems:
1. The dbengine is refusing to create the data file for the host.
2. This fast rejection happens as the receiver thread is starting up, and the cleanup code for the thread is called earlier than expected.

The second part is probably easy to fix - it sounds like a race hazard in the code that I changed recently and

[2020-06-07 20:41] rsyncOSX commented on #9227
Downloaded **version 1.22.1**, builds with no problem on FreeBSD 12.

Pulled last code from master repository **7 June 2020**, build fails
config.status: error: in `/root/tem/netdata':
config.status: error: Something went wrong bootstrapping makefile fragments
    for automatic dependency tracking.  Try re-running configure with the
    '--disable-dependency-tracking' option to at least be able to

[2020-06-07 20:54] ilyam8 commented on #9227
Lets see!

[2020-06-07 20:55] ilyam8 commented on #9227
oh, #9163 is not fixed, @rsyncOSX please post there

[2020-06-07 22:02] #9271 closed

[2020-06-07 22:04] ilyam8 commented on #9271
fixe, but new version is not realeased. In a few days.

[2020-06-08 00:11] startryst commented on #9289
@ilyam8 unfortunately, after I changed OOM to keep, same situation happened again:
[code]
![image](https://user-images.githubusercontent.com/22472752/83983207-12c35580-a95f-11ea-9b17-41d8aab3d806.jpeg)

it happened around 02:19:48AM, and got back at 02:34:18AM, so below is relevant log to that time span:
[code]

[2020-06-08 00:26] startryst commented on #9289
And I believe this is also due to out-of-memory issue which apparently is straightforward, but what confuse me is, another similar server which has the same memory and running almost the same apps, also with very limited 'free' in terms of the RAM, but never encounter this:
![image](https://user-images.githubusercontent.com/22472752/83983462-456e4d80-a961-11ea-9c2e-4e6e4f706c2a.jpeg)

So, since I'

[2020-06-08 02:15] timchou commented on #9275
Hi @ilyam8 Here is a disk space usage alarm happened just now.
and again I didn't receive telegram notify.
Please take a look :)

![image](https://user-images.githubusercontent.com/352302/83986503-98e79800-a96f-11ea-87f4-fa321e789683.png)
this is alarm

![image](https://user-images.githubusercontent.com/352302/83986518-a2710000-a96f-11ea-9005-4712e4e344ba.png)
error log is empty

![image](https://

[2020-06-08 02:59] #8282 closed

[2020-06-08 03:06] thiagoftsm commented on #9275
Hi @timchou ,

I was seeing the your files, and I was thinking in the possibility of the Linux is not rotating the logs, if this is happening your `error.log.1` could have data for June 1st, please, can you check if you had the log inside `error.log.1`?

About the telegram, I remember that when I tested the original PR, I had problems to create the configuration, but I found [this link](https://st

[2020-06-08 03:16] prologic commented on #8343
@kachunkachunk Thanks for the update! Appreciate it. Unfortunately I actually tried to get a Synology VM going here and I wasn't able to (_easily_). Short of buying a Synology NAS myself its going ot be a bit hard for me to make the necessary changes here and throughly test them. We still need communiry fuppsort for this.

If you are able to provide a VMDK or QCOW disk image of a running Sinology

[2020-06-08 03:25] timchou commented on #9275
Hi @thiagoftsm
Thanks for replying.

I checked error.log.1, there is no info after 2020-5-31:
![image](https://user-images.githubusercontent.com/352302/83989502-35626800-a979-11ea-9c2e-b4eea11ec097.png)

About telegram, I can receive test notify,so I think the group chat id is correct.
![image](https://user-images.githubusercontent.com/352302/83989560-5fb42580-a979-11ea-843d-2d226b745513.png)

any

[2020-06-08 07:53] ilyam8 commented on #9289
@mfundul please take a look

[2020-06-08 08:03] ilyam8 commented on #8934
Fixed in #9196

[2020-06-08 08:03] #8934 closed

[2020-06-08 08:51] aokanarik commented on #9280
thank you so much, it works.

[2020-06-08 08:51] #9280 closed

[2020-06-08 10:53] cakrit commented on #9210
Strategically, we intend to move as much as possible towards [OpenTelemetry](https://opentelemetry.io). Issues #7897 and #8613 are in the direction of generically and easily ingesting data from Prometheus exporters.

Would something like the [Prometheus JMX exporter](https://github.com/prometheus/jmx_exporter) cover the needs for this? I understand it's not out of the box of course...

[2020-06-08 10:58] underhood commented on #9206
Let me check on Centos7 as well

[2020-06-08 11:12] cakrit commented on #5993
Closing, as this is covered by the cloud.

[2020-06-08 11:12] #5993 closed

[2020-06-08 11:23] cakrit commented on #9287
Please first approve and merge #8671
After that, we can change the top-level logic to default to the normal container handling, when the k8s-specific naming fails for any reason.

[2020-06-08 11:30] kovacshuni commented on #9221
same issue here :(

[2020-06-08 11:53] thiagoftsm commented on #9275
I will do another request for we understand exactly what is happening on `alarm-notify.sh`, because we are missing the error.log, this is another problem that we will need to take a look.

Let us change the file `/usr/libexec/netdata/plugins.d/alarm-notify.sh` Please, add the following line inside the function `send_telegram` between the lines `http_code=$(docurl.. )` and before the line `if [ "$h

[2020-06-08 12:28] underhood commented on #9206
confirmed CentOS7 gets still:
[code]
i will try and check what is going on

[2020-06-08 12:34] underhood commented on #9206
@Ferroin, it still tries access here?:
[code]

[2020-06-08 12:48] rsyncOSX commented on #9227
[config.log](https://github.com/netdata/netdata/files/4745997/config.log)
[netdata-installer.log](https://github.com/netdata/netdata/files/4746000/netdata-installer.log)

[2020-06-08 13:31] underhood commented on #6515
@jacekkolasa should we close this?