[2020-08-13 17:04] amoss commented on #9701
I agree that it is a bug - if we support the option to change the username then we have to support it everywhere.

[2020-08-13 17:10] amoss commented on #7005
Could you raise a new issue - nobody will see a notification on this old issue.

[2020-08-13 17:21] wcallgair commented on #9732
Sorry, I should have specified. The rpm was built with https://github.com/netdata/netdata/blob/master/contrib/rhel/build-netdata-rpm.sh

The only modification I have made was to line 8 and 9 of the configure.ac as you cannot have dashes in the versions

`define([VERSION_STRING], m4_esyscmd([git describe 2>/dev/null | tr - . | tr -d '\n']))
 define([VERSION_FROM_FILE], m4_esyscmd([cat packaging/ver

[2020-08-13 17:32] zack-shoylev commented on #9578
@glaszig The Safari issue is likely separate and has to do with CSS (though I haven't been able to reproduce). We may have to look into it a bit more. It is also likely Safari specific.

The CPU usage spiking is expected with GPU acceleration off, I think. In any browser. Turn it on and give it a try.

[2020-08-13 17:35] amoss commented on #9730
The container wires the logs to `stdout` so that the logging is handled by docker on the host instead of inside the container. You can then retrieve from docker using something like (assuming your container name):
[code]

[2020-08-13 18:06] ilyam8 commented on #9742
it does not. Debian 10 droplet on DO.

[code]

[2020-08-13 18:17] ilyam8 commented on #9742
[code]

[2020-08-13 18:20] thiagoftsm commented on #9742
A suggestion, add a sleep command to have time to raise alarms. In my case I was sending -USR2 once per minute.

[2020-08-13 18:37] krunkcraig commented on #5590
@skurfuerst thanks for working out this enhancement, is there any progress?

[2020-08-13 18:37] genevera commented on #9061
@prologic still not working as of 13 Aug 2020

[2020-08-13 18:45] joelhans commented on #9578
![](https://github.trello.services/images/mini-trello-icon.png) [Improve performance on PageSpeed/Lighthouse](https://trello.com/c/Kakfaw9E/243-improve-performance-on-pagespeed-lighthouse)

[2020-08-13 18:45] ilyam8 commented on #9742
It is not in the OP

Can you provide exact command/script to trigger the issue?

[2020-08-13 22:13] mccarthyryanc opened #9745 "Dashboard shows background only"
##### Bug report summary
Nothing displayed from web dashboard except netdata background:

![Selection_011](https://user-images.githubusercontent.com/997120/90191508-e15b7180-dd75-11ea-81b0-1db825cd4c98.png)

Tested in Firefox and Chrome, but here is the js console errors in chrome:

![js-errors](https://user-images.githubusercontent.com/997120/90192106-161bf880-dd77-11ea-9284-afa182ba045e.png)

##

[2020-08-14 01:45] thiagoftsm commented on #9342
I finished the tests to understand what is happening, I had to use two different versions of Netdata, because the spawn server has a bug that was not allowing me to do the number of tests I wanted. I used Netdata 1.20.0 and netdata v1.24.0-26-gd897c6512.

I continued the tests that I described in the [link](https://github.com/netdata/netdata/issues/9342#issuecomment-671675113). I added the debug m

[2020-08-14 06:11] #8739 closed

[2020-08-14 06:53] stelfrag opened #9746 "Workload generator aborts in v1.24.x"
#### Summary

The workload generator stopped working in v1.24

Running in v1.23.2
[code]

while in v1.24.0-30-g1d4c8a48

[code]

[code]

[2020-08-14 08:50] mbarper opened #9747 "Is it possible to get time sync deviation from Netdata?"
#### Question summary

I know I can get the status of my time sync process like ntp, timesyncd, etc... but I was wondering if it is possible to know the time deviation because I need to control my servers are always in the right time or trigger and allert

##### OS / Environment

Mainly Ubuntu 18, but I guess this could be important for any distribution

##### Component Name

Netdata? a plugin? I

[2020-08-14 09:25] vlvkobal commented on #9512
The issue was fixed in #9748.

[2020-08-14 10:38] vlvkobal commented on #9607
The simple connector worker utilizes the same simplest flow of handling the main loop of a connector instance that was used in the backends subsystem. The new exporting engine is multithreaded though, so we need to protect data using mutexes. We can't use blocking calls while the data is locked, so they are called before the connector starts waiting for data.

It's not a problem for persistent con

[2020-08-14 10:43] mfundul commented on #9363
Does this mean that you never saw the `RRDVAR: Attempted to delete variable` print in your test scenario @thiagoftsm ?

[2020-08-14 10:59] ilyam8 commented on #9745
Hi @mccarthyryanc 👋

Show `HOST:api/v1/info` output

[2020-08-14 11:16] #8580 closed

[2020-08-14 11:23] ilyam8 commented on #9732
I dont know why there is no `lock` dir

was added in https://github.com/netdata/netdata/pull/9584

https://github.com/netdata/netdata/blob/676cf1801c2e741282186c98c6c6933fc66277f1/daemon/daemon.c#L91

If the dir was not created then there is an error in the `error.log`

https://github.com/netdata/netdata/blob/676cf1801c2e741282186c98c6c6933fc66277f1/daemon/daemon.c#L46-L59

---

[code]

[2020-08-14 11:23] ilyam8 commented on #9732
@Ferroin any ideas considering https://github.com/netdata/netdata/issues/9732#issuecomment-673604355 ?

[2020-08-14 12:14] amoss commented on #9737
@ilyam8 When you get back from vacation please link this to the similar issue (where the backslashes in the windows-style paths cause the same problem) and fix both by sanitizing the chart and dimension names.

[2020-08-14 12:19] Ferroin commented on #9747
It's not realistically possible to track the system clock's offset from 'real' time unless you have a high precision time source locally available (such as a WWVB receiver or a GPS timecode unit), and at that point you should just tell NTPD (or whatever other tool) to use that as a reference clock for the system, at which point you should have an offset of exactly zero from that reference. All you

[2020-08-14 12:23] amoss commented on #9735
Options here include:
* Backing out of the host lock and reacquiring the locks in the correct order (moving the flag changes onto the appropriate code paths at the right time).
* Adding a fine-grained lock for accessing the calculation variables (and updating the other access sites in the code to use it).

[2020-08-14 12:24] BKPepe opened #9750 "1.24.0 can not be crosscompiled due to libbpf (externaldep)"
##### Bug report summary
[code]

##### OS / Environment
My OS:
[code]

##### Steps To Reproduce

1. Download SDK for OpenWrt
2. Use this Makefile https://github.com/openwrt/packages/commit/2de28dd95b8c92e2e76038314cab2e180a4cd554
and change version and hash

##### Expected behavior
It should be compiled even when cross compiling, because package libbpf is not available in OpenWrt
https://github.co

[2020-08-14 12:26] Ferroin commented on #9732
Unfortunately not really, other than wanting to point out (again) that we should be creating required directories on startup if possible (and this one _should_ be possible, because _we_ own `/var/lib/netdata`).

[2020-08-14 12:31] #9663 closed

[2020-08-14 12:40] mfundul commented on #9739
Did randomly reproduce it once yesterday but I have failed to recreate the conditions since.

[2020-08-14 12:47] thiagoftsm commented on #9363
@mfundul I did not verify if there were messages like this in the previous tests, but when I recompiled the tests and I recreated the poblem again, I can say that the message was never there:

[code]

I also verified that I do not have any messages for `RRDVAR`:

[code]

I am attaching the error.log for you have a better understand of the problem.

[error.log](https://github.com/netdata/netdata/fi

[2020-08-14 13:09] #8384 closed

[2020-08-14 13:09] #9730 closed

[2020-08-14 13:41] jspasiuk commented on #9707
Same issue here! Ubuntu 16.04.6 LTS

[2020-08-14 14:15] shoopdawoop commented on #9471
Thanks, cakrit.

I just looked into the issue again today and it seems like updating to v1.24.0 stable solved the issue on a Ubuntu 20.04 LTS VM and on a Ubuntu 18.04.5 LTS VM, both running with 1 GB RAM. I'm not sure if I was missing something before, but for now I consider this problem solved.

[2020-08-14 14:15] #9471 closed

[2020-08-14 14:45] mccarthyryanc commented on #9745
@ilyam8 , Here is the JSON from that endpoint:
<details>
<summary> HOST:api/v1/info </summary>

[code]

</details>

[2020-08-14 14:48] Saruspete commented on #9705
Sorry, forgot to push the associated PR.

[2020-08-14 15:11] thiagoftsm opened #9753 "Exporting hidden prefix when labels are enabled"
##### Bug report summary
When Netdata has labels and the exporting is sending data to graphite, the prefix is completely ignored and the metrics are stored as `_tagged`.

##### OS / Environment
[code]

##### Netdata version
netdata v1.24.0-40-gdd6dc1f3f

##### Component Name
Exporting (Graphite)

##### Steps To Reproduce
1. Configure `netdata.conf`
[code]
2. Configure `exporting.conf` with a speci

[2020-08-14 15:15] doodie commented on #9727
same issue here.

OS - CentOS Linux release 7.7.1908 (Core)
Netdata - netdata v1.24.0-35-nightly
install - bash <(curl -Ss https://my-netdata.io/kickstart.sh)

<img width="516" alt="Screen Shot 2020-08-14 at 8 04 41 AM" src="https://user-images.githubusercontent.com/1712241/90264680-4f4f7980-de06-11ea-9471-4e6d8c392a84.png">
<img width="935" alt="Screen Shot 2020-08-14 at 8 15 02 AM" src="https://

[2020-08-14 15:16] #9599 closed

[2020-08-14 15:32] thiagoftsm commented on #9727
Hi @doodie ,

I merged a PR now that can fix this problem on CentOS 7.x, tomorrow after the nightly to be released, this should be fixed, please, let us know if this does not happen.

Best regards!

[2020-08-14 16:19] mbarper commented on #9747
In first place thank you very much for your detailed explanation. Impressive!

Secondly, what I would like to check is exactly what you said: "tracks the system clock's offset relative to the active peer being used for time synchronization", the think is that if we don't have a similar collector for systemd-timesyncd and chrony would be a problem for me now as I have multiple instances with differ

[2020-08-14 16:56] jacekkolasa commented on #9663
it got close automatically (when i wrote "fixes #9663` in the dashboard PR and merged it). The fix will come here soon, i'll make a dashboard release

[2020-08-14 17:35] jacekkolasa commented on #9708
thanks @Saruspete! I see there is an issue when the private registry is setup and it's not reachable. Can you please check if you have changed the default registry? (`registry to announce` field in netdata.conf). Can you check if any other calls are pending in your case?

[2020-08-14 18:22] Ferroin commented on #9747
FWIW, there _is_ a collector for Chrony, I've just never used it so I don't know if it has equivalent metrics or not. I suspect it probably provides something similar, as this information is an important part of NTP in general, but I can't say for sure simply because I've never really looked at it.

[2020-08-14 18:44] skurfuerst commented on #5590
sorry, did not manage to do anything yet :( Sorry for that...

[2020-08-14 20:44] thiagoftsm commented on #9742
Yes, let's go by steps:

1 - I am using the following alarm:

[code]

2 - I start the `parent` with at least 1 `child` connected to it.
3 - I run the following script after one minute running:

[code]

As you can see on my computer, after Netdata crashes due spawn server, I only have `python.d.plugin` the remaining process were closed when they received `SIGPIPE`.

[2020-08-15 03:56] #9496 closed

[2020-08-15 03:56] #9488 closed

[2020-08-15 03:56] #9478 closed

[2020-08-15 04:14] zeacot opened #9757 "Netdata (ebpf.plugin) consuming 50% CPU"
##### Bug report summary

After Install of netdata, in some time it starts consuming arounf 50% of CPU. I have to restart it everytime. After Restart it settles down. But in sometime it again reaches 50%.
I have attached my htop output of netdata. Check below link
https://imgur.com/smQUdfs

I use Netdata for monitoring my servers. I am facing this issue since past 4-5 days.
##### OS / Environment

[2020-08-15 10:29] ilyam8 commented on #9757
hi @zeacot check `Applications` sections, is it `ebpf.plugin`?

See https://github.com/netdata/netdata/issues/9727

[2020-08-15 10:35] ilyam8 commented on #9745
i think disabling prometheus collector will do (`go.d.conf`)

https://github.com/netdata/go.d.plugin/blob/5f61c42fdd4e0e4b4801d4ac574cc78a5f9a0dec/config/go.d.conf#L45

[2020-08-15 11:37] thiagoftsm commented on #9757
Hi @zeacot ,

If it has relationship with `ebpf.plugin`, please, take a look in the comment https://github.com/netdata/netdata/issues/9727#issuecomment-674131475 , instead to get the stable, you could install the latest nightly that should have the problem fixed.

Best regards!

[2020-08-15 13:30] Saruspete commented on #9708
Hi @jacekkolasa  !
we didn't change the default registry, but disabled it (`[registry] enabled = no`). Our proxy is kinda restrictive and sometimes doesn't refuse properly (eg with 403) urls.
In the "network" tab of the browser debugger, it's the "app.netdata.cloud" that is taking 90sec, matching the delay I had with the rendering of graphs.

Also, the cloud related features, like the options / "3

[2020-08-15 13:44] bighippo999 opened #9758 "How to reinstall?? after installing cmake"
##### Question summary
I'm trying to connect to cloud and getting 'This agent was built without the dependencies for Cloud and cannot be claimed'
I believe cmake wasn't installed on the server, so I've installed it.
but I can't figure out how to convince 'bash <(curl -Ss https://my-netdata.io/kickstart.sh)' to reinstall.
It keeps checking the versions and exiting "INFO:  Newest version (current=00

[2020-08-15 15:56] doodie commented on #9727
@thiagoftsm ,

confirming that the nightly build fixed the issue for myself. CPU is now around the low single digits.

Thanks.

[2020-08-15 22:15] nodiscc opened #9759 "Requests to app.netdata.cloud even with cloud functionality disabled"
##### Bug report summary

After disabling telemetry and cloud-related functionality (create `/opt/netdata/etc/netdata/.opt-out-from-anonymous-statistics`, create `/opt/netdata/var/lib/netdata/cloud.d/cloud.conf` (https://learn.netdata.cloud/docs/agent/aclk#enable-and-configure-the-aclk) with the following contents):

[code]

I am still seeing requests sent to `app.netdata.cloud` in the browser con

[2020-08-15 22:36] xenforq opened #9760 "Netdata Agent only for cloud usability"
##### Question summary
Does the agent support toggling features to make the only function sending statistics and data to Netdata Cloud?

##### OS / Environment
Any already supported environment.

##### Component Name
n/a

##### Expected results
- Disable the locally hosted dashboard
- Keep sending statistics to the cloud per usual
- Convert the agent to a monitor that just sends data

[2020-08-15 23:57] nodiscc commented on #9759
Sorry, I think this is a duplicate of https://github.com/netdata/netdata/issues/9043

[2020-08-15 23:57] #9759 closed

[2020-08-16 00:12] nodiscc commented on #9371
This also happens if you set `user_pref("intl.accept_languages",				"en-US, en");` in a Firefox user.js file (such as https://github.com/pyllyukko/user.js/blob/master/user.js#L216). Disabling this preference makes the dashboard work again.

[2020-08-16 08:41] #9657 closed

[2020-08-16 08:42] #9505 closed

[2020-08-16 10:16] StaticReality opened #9761 "netdata down after latest update (netdata v1.24.0-49-nightly) auto restart loop"
##### Bug report summary

Netdata is broken after latest update. Noticed the graphs stopped updating (instead of the usual gap from the update), and when issuing a refresh on the browser received a: ERR_CONNECTION_REFUSED. Found system in a dead state so issued a restart and service is stuck in an "auto-restart" loop. Verify nothing else is running on the netdata port via `netstat -nap`

##### OS

[2020-08-16 10:17] StaticReality commented on #9761
Tried restarting, or at least initializing the installer and it fails saying on latest version already:
[code]

[2020-08-16 11:56] ilyam8 commented on #9742
Do i really need parent/child setup?

Why the user is `thiago`?

[2020-08-16 12:47] thiagoftsm commented on #9758
Hi @bighippo999 ,

The message you are showing `INFO: Newest version (current=001024000045 >= latest=001024000045) is already installed` is print when `netdata-updater` runs on your system, this is done by `kickstart` when it finds the script installed:

https://github.com/netdata/netdata/blob/5625d4727f38fc1d3060ab890f18d80ea8cf7d7e/packaging/installer/kickstart.sh#L299

. I think the simplest wa

[2020-08-16 12:48] thiagoftsm commented on #9727
Thank you to confirm @doodie, I am closing this issue now, please, be free to reopen if the problem appears again.

[2020-08-16 12:48] #9727 closed

[2020-08-16 13:18] thiagoftsm commented on #9761
@prologic and @Ferroin it looks like this is the same issue we had reported at #9758 .

[2020-08-16 13:20] thiagoftsm commented on #9742
No it is possible to crash spawn server with only one Netdata, the requirement is an alarm that is raising many times during a minute.

To simplify my life while I am working with Netdata.

[2020-08-16 13:35] ReddotCleaner opened #9762 "Reinstall netdata run into a problem"
##### Question summary
Reinstall run into a problem. At first installation, I have some network problems, but the installation was complete and I can get into the netdata web. But it shows a info says that i cant add the host to cloud(something like that,sry i forgot to take screenshot). Then i follow this(https://learn.netdata.cloud/docs/agent/packaging/installer/uninstall) to unisntall netdata t

[2020-08-16 13:46] TheOldMan2000 commented on #9745
I've experienced this a lot when scrolling or jumping to charts near the bottom of the page, usually they just suddenly disappear. I thought it was an iPad issue.

[2020-08-16 14:51] TheOldMan2000 opened #9763 "Netdata nightly builds not updating automatically"
Using Nightly builds, 64bit Netdata. Automated updates stopped working again for last few weeks. If I run the updater or one line static installer (with or without --nightly-builds option) it is disabled forcing manual updates.

Other issues I'm having, in case somehow related:

- SystemD charts section enabled in Netdata config but not displayed for some time, several weeks or so.
- Chart height

[2020-08-16 15:06] TheOldMan2000 opened #9764 "Redis chart to show max memory, not just how much used"
##### Feature idea summary

Python.d Redis chart to show memory allocated to the displayed Redis instance memory chart, not just how much is used.

Existing display:

<img width="809" alt="Redis memory chart on netdata dashboard" src="https://user-images.githubusercontent.com/13329789/90337290-6d210800-dfd9-11ea-90c5-7241d9f564b5.png">

##### Expected behavior

My community forum software for exam

[2020-08-16 15:18] Ferroin commented on #9761
Yes, it is the same as #9750, closing this as a duplicate and properly recategorizing that one.

[2020-08-16 15:18] #9761 closed

[2020-08-16 15:23] Ferroin commented on #9758
There currently is not an option to force a reinstall if there's an existing install that we can run the updater against. This was an oversight on my part when I reworked the detection and handling of existing installations in #9408. I'll make a point to work on fixing this tomorrow.

Short term, just removing the updater script as @thiagoftsm should work to force a reinstall.

[2020-08-16 15:26] Ferroin commented on #9762
I'm not sure what's going on here, but I'm 99% certain it's a bug in our code so I've recategorized this as such.

@ReddotCleaner could you please post the output of `comand -v netdata` run as root on the system where you're seeing this issue?

[2020-08-16 15:33] ilyam8 commented on #9742
didnt really work for me https://github.com/netdata/netdata/issues/9742#issuecomment-673629368

I try to reproduce exactly same conditions, it is hard because of lack of details in OP

[2020-08-16 15:41] ilyam8 commented on #9764
Hi @TheOldMan2000

Can you show [`INFO` output](https://redis.io/commands/info#return-value)?

---

I see there is [`MEMORY STATS`](https://redis.io/commands/memory-stats) and [`MEMORY USAGE`](https://redis.io/commands/memory-usage) commands, probably we need them.

[2020-08-16 15:44] ilyam8 commented on #9745
@TheOldMan2000 that is another problem. I suggest to record a short video and open an issue.

If i undertand you right the problem exists only on ipad. Am i right?

[2020-08-16 16:01] ilyam8 commented on #9742
ok, `60` is to long, i made it `5`

[code]

[code]

---

cant reproduce, my distro is manjaro, latest netdata

[2020-08-16 16:48] TheOldMan2000 commented on #9764
Hi there,

Here is the output of Info Memory section only:

[code]

Memory Stats command:

[code]

Info command output in full:-

[code]

[2020-08-16 16:55] thiagoftsm commented on #9742
I will verify with other distribution and update the information here.

[2020-08-16 16:57] TheOldMan2000 commented on #9745
Okay, thanks. It just looks the same as the screenshot the OP posted above, all of the graphs just suddenly disappear but it happens randomly. I thought it may be my 128GB device but it has plenty of free memory.

"If i undertand you right the problem exists only on ipad. Am i right?"

I think so but not 100% sure, it reaches 36C in my attic home office with the windows open so using my iPad downs

[2020-08-16 16:57] ilyam8 commented on #9764
@TheOldMan2000

We collect only

- `used_memory`: total number of bytes allocated by Redis using its allocator.
- `used_memory_lua`: number of bytes used by the Lua engine.

https://github.com/netdata/netdata/blob/5625d4727f38fc1d3060ab890f18d80ea8cf7d7e/collectors/python.d.plugin/redis/redis.chart.py#L53-L59

---

What else do we need? Only `maxmemory`? (the value of the maxmemory configuration d

[2020-08-16 16:59] nikobearrr commented on #9580
I am not fully aware to the full extend of the SNMP protocol.
Could this result be device based? My configuration is the same (excluding different interfaces + uptime). However it seems I get an `error` and you get pass this.
In general it does not look like it's a netdata issue at all and probably there is not much you guys can do.

Perhaps I can do what @cakrit suggests and try to split it in so

[2020-08-16 17:00] ilyam8 commented on #9764
Try

https://github.com/netdata/netdata/blob/5625d4727f38fc1d3060ab890f18d80ea8cf7d7e/collectors/python.d.plugin/redis/redis.chart.py#L53

=>

[code]

[2020-08-17 00:40] thiagoftsm commented on #8751
Hi everyone,

I worked today on this issue and I have observed that there was progress with Netdata 1.23 when the function  rrdhost_update was created

https://github.com/netdata/netdata/blob/5625d4727f38fc1d3060ab890f18d80ea8cf7d7e/database/rrdhost.c#L396

I repeated the tests @ilyam8 suggested [here](https://github.com/netdata/netdata/issues/8751#issuecomment-615899174) and I observed that after

[2020-08-17 04:54] git1977 opened #9765 "installation directory differences between kickstarter.sh"
I have 3 questions:
Q1
I see when i run the script in this [link](https://learn.netdata.cloud/docs/agent/packaging/installer#automatic-one-line-installation-script)  it is installing in /etc/netdata but if I use the script in this [link](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart-64) , it is installing netdata in /opt/netdata. Not sure why is the difference. when

[2020-08-17 07:25] #9512 closed

[2020-08-17 07:51] prologic commented on #9578
Done.

[2020-08-17 08:27] amoss commented on #8751
That is interesting. So the call at the beginning of the stream will be the metadata reload that puts the chart into archive mode?

[2020-08-17 09:11] bighippo999 commented on #9758
Thanks guys,

Unfortunately removing netdata-updater.sh didn't work (the 2nd bit of this):
`root@HODR01:~# bash <(curl -Ss https://my-netdata.io/kickstart.sh)
 --- Found existing install of Netdata under: / ---
 --- Attempting to update existing install instead of creating a new one ---
[/root]# //usr/libexec/netdata/netdata-updater.sh --not-running-from-cron Mon Aug 17 10:01:32 BST 2020 : INFO:

[2020-08-17 09:33] vlvkobal commented on #9753
You should use other methods for [exploring tagged metrics](https://graphite.readthedocs.io/en/latest/tags.html#exploring-tags) in Graphite.

![image](https://user-images.githubusercontent.com/22008543/90381139-9eefa880-e085-11ea-8bf9-1a8da4fb65b0.png)

But if you use a proper request you can see the metric name and its tags
[code]
[code]

[2020-08-17 09:33] #9753 closed

[2020-08-17 10:03] TheOldMan2000 commented on #9764
Hi,
This works great thank you!
<img width="774" alt="vps com netdata dashboard" src="https://user-images.githubusercontent.com/13329789/90384299-3f8b9b80-e079-11ea-906c-0ba9c7afbd1a.png">

[2020-08-17 10:19] #6975 closed

[2020-08-17 10:47] #9744 closed

[2020-08-17 11:17] Ferroin commented on #8962
Don't know how this slipped off my radar.

Currently, the only endpoint I know of which is blocked b default when no ACLs are specified is `/netdata.conf`.

[2020-08-17 11:17] Ferroin commented on #8962
And it seems that it might not be just UNIX sockets, see #9765

[2020-08-17 11:20] Ferroin commented on #9765
The normal 'kickstart.sh' install currently builds a copy of Netdata locally This is why it takes so much time, and why it's able to let the user specify what prefix they want Netdata installed under (which is none by defualt). `kickstart-static64.sh` uses a pre-built statically linked copy of Netdata, and thus can only install in a fixed prefix. It's intended to be used on systems where you can't

[2020-08-17 11:24] #9764 closed

[2020-08-17 11:37] amoss commented on #9217
Hello, this is a good idea for a feature. I agree that it will add something of value to Netdata when monitoring collections of child nodes. Internally we need to have a discussion with @netdata/product about the ways in which we could do this, and how they would look for users. In addition to that we want to have a discussion with you about the different options for doing this, and which ones wou

[2020-08-17 11:45] thiagoftsm commented on #8751
Yes, we are doing this and I do not think we need to remove the health reload from this position, because it has the potential to apply the most recent changes on charts, but we cannot discard to reload the alarms when dimensions are set as `hidden`. I am considering the following reloads for alarms:

1 - When `child` connects with parent.
2 - After the new chart definitions are received.
3 - Fina

[2020-08-17 11:54] amoss commented on #8751
Yes I think that you are correct. When the `REPEND` is received the state in the `RRSET` and `RRDDIM` jumps over a window of time (that matches the replication block). So each of the calculated values can change in this window.

Not all replication blocks are current - some of them are old. The processing of `REPMETA` indicates that the receiver has caught up with the current data on the sender, t

[2020-08-17 12:41] Ferroin commented on #9758
This is probably going to be a bit more involved than I first thought, digging into it has revealed a number of other bugs in the associated code that I had not previously noticed, and it's going to be easier long-term to fix all of those in one pass. I hopefully should still have a PR up some time later today or tomorrow though.

In the immediate short term, removing the netdata-updater script an

[2020-08-17 13:42] vlvkobal commented on #9089
Netdata doesn't have `# HELP lines`. The purpose of `# COMMENT` is different and we can't convert it to `# HELP`. Look at https://github.com/netdata/netdata/issues/1497#issuecomment-270218288.

I'm closing the issue and the corresponding PR.

[2020-08-17 13:42] #9089 closed

[2020-08-17 14:29] vlvkobal commented on #9088
Netdata doesn't have `# HELP` lines, look at https://github.com/netdata/netdata/issues/9089#issuecomment-674889387. Both, `# COMMENT` and `# TYPE` lines are different for every dimension. We can't fix the issue while our existing data model is used so I'm closing it.

You are welcome to share your ideas on Netdata redesign. There are a lot of open issues with discussions, related to the data model

[2020-08-17 14:29] #9088 closed

[2020-08-17 14:45] amoss commented on #8751
We have several related problems in this area and after discussing it with @thiagoftsm we would suggest the following solution:

* Add a new state to alarms in Netdata that is `unknown`.
* If there is no data received during the collection window for an alarm it would transit into the `unknown` state.
* New data being received from a collector would then flip from `unknown` into the correct state

[2020-08-17 14:53] mccarthyryanc commented on #9745
@ilyam8 disabling prometheus worked! For the curious, here is what I did:
[code]
and then modified `#  prometheus: yes` to `  prometheus: no`, and the restart:
[code]

I didn't really think about this before, but this same instance is running GitLab, which comes with prometheus monitoring. Is it possible the two are intefering with each other? Searching through `/etc/netdata/netdata.conf` I notice

[2020-08-17 14:55] ReddotCleaner commented on #9762
Did you mean command, if it is, here is the result:
![image](https://user-images.githubusercontent.com/34325738/90408390-57dfd280-e0da-11ea-9f34-cafa10794ac4.png)
And, FYI, I follow this issue remove all that dirs, then  i can reinstall netdata successfully.
So I think is the residual dirs are affecting the reinstallation.
I uninstall the netdata again, lets find that bug! 👍

[2020-08-17 14:55] ilyam8 commented on #9745
@mccarthyryanc same issue https://github.com/netdata/netdata/issues/9737

i am closing this one in favour of #9737

[2020-08-17 14:55] #9745 closed

[2020-08-17 15:31] joelhans commented on #9672
@LimeZky Thanks for requesting to pitch in! While @cakrit is right that the docs are still undergoing some big changes, the bigger blocker to localization is that framework for the docs site doesn't yet support translations. They're working on it (see facebook/docusaurus#2651), but it may be a few more months until they merge the necessary code.

I'll close this for now, write your username down i

[2020-08-17 15:31] #9672 closed

[2020-08-17 15:35] vince-lessbits opened #9768 "Long statsd timer names break streaming replication"
##### Bug report summary

Long statsd timer names are breaking replication.  We generate statsd statistics names programmatically to reflect module paths within our application.

The streaming receiver keeps closing the connection to the sender upon receiving chart definitions with long names.

This causes gaps in collection which can be seen in the Netdata UI.

This also effectively breaks centra

[2020-08-17 15:37] vince-lessbits commented on #9768
My apologies for the duplication with https://github.com/netdata/netdata/issues/9734

I didn't see the reply on the community site.

[2020-08-17 15:49] Ferroin commented on #9762
Is the posted output from before or after uninstalling Netdata? If it's after, then something went wrong in the uninstall process (significantly so in fact), and that's what's causing the issue on reinstall attempts (we look for the `netdata` binary to detect if there's an existing install).

[2020-08-17 15:55] joelhans commented on #6308
@gamefundas I'm not sure if you're still looking for ideas for this, but I'll leave some answers for anyone else who might be looking for thoughts on this.

**Binary install**: Because you can't run `kickstart-static64.sh` the normal way due to limited internet, you could use our [offline installation method](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/offline), which suppor

[2020-08-18 02:16] pnunn opened #9772 "Netdata update failing."
#### Question summary
I seem to be unable to update my netdata installation.  I am running netdata v1.23.2-79-nightly and was prompted to update today.

Unfortunately when I try and update I'm getting

bash kickstart.sh
 --- Found existing install of Netdata under: / ---
 --- Existing install appears to be handled manually or through the system package manager. ---
 ABORTED  Existing installation

[2020-08-18 02:39] ReddotCleaner commented on #9762
After. What to do next?

[2020-08-18 03:34] thiagoftsm commented on #9743
The source of this issue is happening in the next line

https://github.com/netdata/netdata/blob/a77a56c81c2e1ff4deed900ae0da7a3b1b5edae5/health/health.c#L450

when an alarm entry is given as argument and this structure has the variable `exec_spawn_serial` set as zero, but this was not expected according the comments we have in the next two lines:

https://github.com/netdata/netdata/blob/a77a56c81c

[2020-08-18 06:41] hyperxpro commented on #6967
`http://mirror.centos.org/centos/8/PowerTools/x86_64/os/Packages/Judy-devel-1.0.5-18.module_el8.1.0+217+4d875839.x86_64.rpm` is now returning HTTP Status: 404.

[2020-08-18 07:38] amoss commented on #9734
Closing in favor of #9768

[2020-08-18 07:38] #9734 closed

[2020-08-18 07:42] amoss commented on #9768
Thanks for the bug report - very easy to track down the problem with your replication steps.

Supporting arbitrarily long chart names is not an option for us. They are packed into a structure in memory that needs to be a fixed size for efficiency reasons. Reworking that aspect of Netdata would affect the database and the legacy memory modes.

We will need to find a way to mitigate the problem in t

[2020-08-18 08:26] vlvkobal commented on #9768
Probably, the simplest way is to truncate the name and add a UUID to the end of the string.

[2020-08-18 08:41] amoss commented on #9768
That could work. If we use a hash of the full (untruncated name) then we don't need to track UUIDs. So the example from @vince-lessbits 's test case is:
[code]
This would get truncated to some prefix and then the hash of the name, e.g.:
[code]
I'm looking in the code to see which length limit it exceeded. It doesn't look like `RRD_ID_LENGTH_MAX` as it is not long enough. Perhaps a limit in the con

[2020-08-18 08:51] ilyam8 commented on #9768
Does it make sense? The gist of long names is to give some meaning, if we remove the meaning do we need the metric at all?

[2020-08-18 08:54] vlvkobal commented on #8707
I've found a huge amount of _"Cannot allocate memory"_ messages in your `error.log`. You should have had problems with apps plugin and `net.*` charts as well. Do you still have these messages in `error.log`?

[2020-08-18 09:08] amoss commented on #9768
It maximizes the amount of meaning that we can provide within a fixed amount of space.

[2020-08-18 09:16] vlvkobal commented on #8707
Probably, [changing `memorylocked` resource limit](https://forums.FreeBSD.org/threads/kvm_open-kvm_getprocs-cannot-allocate-memory.37602/post-208357) could solve the issue. You can find more information about resource limits in the [FreeBSD documentation](https://www.freebsd.org/doc/handbook/security-resourcelimits.html).

[2020-08-18 09:20] vlvkobal commented on #7947
@kdy1968 could you check for _"Cannot allocate memory"_ messages in your `error.log`. Do you have a lot of them? Please try increasing `memorylocked` resource limit (look at https://github.com/netdata/netdata/issues/8707#issuecomment-675364099).

[2020-08-18 09:23] fzyzcjy opened #9774 "Custom service-discovery for more services (e.g. Redis/Kafka/Elastic)? (With my attempts inside)"
##### Question summary

Hi thanks for the wonderful netdata! I [know](https://learn.netdata.cloud/guides/monitor/kubernetes-k8s-netdata#service-discovery-services-running-inside-of-pods) netdata supports 22 apps for service discovery. However, I need to monitor things like Redis and Kafka, which is not in the list. I wonder **how to add my custom service-discovery**?

My attempts:

1. I found that

[2020-08-18 09:50] cakrit commented on #9580
Just to explain why a specific OID can work today and fail tomorrow, a lot of indexes are dynamic and could even [contain gaps](https://www.ibm.com/support/pages/discovery-does-not-handle-gaps-oids-returned-snmp-agent). So e.g. I could have OID a.b.x, where x identifies one of three possible devices. Depending on how the manufacturer decides which value identifies which device, it's possible that

[2020-08-18 09:56] stelfrag commented on #8751
We may want to reconsider the "send the active alarms from the alarm log" altogether after all. Alarms start "uninitialized" and change state as needed :thinking:

[2020-08-18 10:35] ilyam8 commented on #9768
@vince-lessbits [what do you think](https://github.com/netdata/netdata/issues/9768#issuecomment-675350635)?

[2020-08-18 11:11] pnunn commented on #3296
I know this has been closed, but did anyone manage to get this working? I've just tried on netdata v1.24.0-64-gd9f89dc7 installed from statically linked 64 bits and I'm getting the following... (the paths are different too as it is installed into /opt/netdata, but...

`
 ../opt/netdata/usr/libexec/netdata/plugins.d/charts.d.plugin debug 1 strongswan
2020-08-18 14:57:11: charts.d: INFO: main: start

[2020-08-18 11:23] Ferroin commented on #9762
OK, something is seriously wrong with the uninstall script then, Can you remove `/usr/sbin/netdata`, re-run the kickstart script (this should successfully reinstall Netdata), and then re-run the uninstaller script and post the output here?

[2020-08-18 11:32] cakrit commented on #8962
#9765 sounds like the way it's supposed to work, I expect the user isn't trying to access netdata.conf from a local IP and would need to change their ACL.
@thiagoftsm or @amoss who can look into the code to see what's happening with UNIX sockets? In #5181 I had added a "temporary" (yeah right), fix to allow all requests coming via a socket. See e.g.
https://github.com/netdata/netdata/blob/master/l

[2020-08-18 11:32] Ferroin commented on #9772
Pretty sure this is a bug (not entirely sure _where_ yet though), so I'm recategorizing it as such.

Could you please share the contents of `/etc/netdata/.environment` from the system you're seeing the issue on? If you installed under a prefix (such as `/opt/netdata`) it would be at that path under the prefix instead.

[2020-08-18 11:33] cakrit commented on #9217
Charts. Definitely charts. Great idea @amoss !

[2020-08-18 11:34] ilyam8 commented on #3296
2020-08-18 14:57:11: charts.d: ERROR: libreswan: module's 'libreswan' check() function reports failure.

https://github.com/netdata/netdata/blob/ccd9472911d8c4c7a1f0efbabbf91cc6d0d69c37/collectors/charts.d.plugin/libreswan/libreswan.chart.sh#L100-L103

[2020-08-18 11:35] Ferroin commented on #9763
Could you please share the contents of `/opt/netdata/etc/netdata/.environment from the system you're seeing this issue on?

[2020-08-18 11:57] amoss commented on #8962
That might get overwritte, I had a quick look and the problem will be:
[code]

The assumption in that code is that the ip addresses are valid. There is a simple pattern in the config default `fd*` to cover the unix socket case but the `client_ip` might not be set to an appropriate filename.

[2020-08-18 12:18] cakrit commented on #9774
- @joelhans  Does https://github.com/netdata/agent-service-discovery/ appear in https://learn.netdata.cloud? I haven't found it.
- @ilyam8 The service discovery readme doesn't mention where the config file is located in a default netdata installation. Do we also edit with with edit-config?
- @joelhans We really should add something in the netdata/helmchart readme as well, to tell people how they c

[2020-08-18 12:23] vlvkobal commented on #9631
@den1s2 could you try configuring Netdata and InfluxDB manually? Let's create a valid configuration first, before using any managers.

[2020-08-18 12:29] ReddotCleaner commented on #9762
`root@ubuntu:/usr/libexec/netdata# ./netdata-uninstaller.sh --yes --env /etc/netdata/.environment
Stopping a possibly running netdata...
[/usr/libexec/netdata]# rm -v -i /etc/logrotate.d/netdata
rm: remove regular file '/etc/logrotate.d/netdata'?
 OK

[/usr/libexec/netdata]# rm -v -i /lib/systemd/system/netdata.service
rm: remove regular file '/lib/systemd/system/netdata.service'?
 OK

[/usr/libex

[2020-08-18 12:37] fzyzcjy commented on #9774
@cakrit Thanks very much! So will "the next step" you mentioned be done soon?

I really love Netdata (it is sooooo powerful!) and do not want to go to other solutions, so I can wait for one or two weeks :)

[2020-08-18 12:44] TheOldMan2000 commented on #9763
Yes, no problem:

[code]

[2020-08-18 12:51] ilyam8 commented on #9774
it is only for k8s == there is `ConfigMap`

https://github.com/netdata/helmchart/blob/de2587edcef4074a0a14a3804962ffa8268558b9/values.yaml#L10-L17

ConfigMap source by default is the text file in the helmchart repo

---

Yes.

Yes, we plan it to add some prometheus endpoints identification patterns to [the default service-discovery config](https://github.com/netdata/helmchart/blob/de2587edcef4074a

[2020-08-18 13:03] Ferroin commented on #9762
Can you please confirm that after running that `/usr/sbin/netdata` still exists on the system?

[2020-08-18 13:06] ReddotCleaner commented on #9762
`code`

![image](https://user-images.githubusercontent.com/34325738/90516468-9b981200-e196-11ea-9b98-19113330d9a5.png)
confirmed

[2020-08-18 13:16] #7676 closed

[2020-08-18 13:34] vlvkobal commented on #7203
@Saruspete, @vobruba-martin any progress so far?

[2020-08-18 13:49] fzyzcjy opened #9777 "Netdata Cloud is extremely slow for users in countries like China (because of GFW)"
##### Bug report summary

Hi thanks for the wonderful library! I want to use Netdata Cloud very much. However, in China there is "the great firewall" which bans us from accessing part of the global network. Thus, visiting Netdata Cloud is extremely slow here. IMHO, the nodes (with Netdata Agent installed on them) need to communicate with app.netdata.cloud. However, it is illegal to install any pro

[2020-08-18 13:53] Ferroin commented on #9762
OK, one last thing, are you running the `netdata-uninstaller.sh` script as root, or as some other user? In theory it _should_ be spewing errors if run as a non-root user against an unprefixed install, but it would not surprise me if it was just silently ignoring them...

[2020-08-18 13:58] ReddotCleaner commented on #9762
I ran it as root.

[2020-08-18 14:02] churnd commented on #9632
Thanks, I see all the named slaves showing up in netdata now without any changes on my part other than netdata automatically updating, but netdata isn't showing any of their values.  Do I need to set a configuration to allow this?

[2020-08-18 14:09] svrnwnsch commented on #9730
I updated the parent server to docker hubs `netdata:latest` and I can confirm that the problem no longer exists.

[2020-08-18 14:11] ilyam8 commented on #9632
I believe `REPLICATION CLIENT` is enough

---

I add mariadb test data (`ALL SLAVE STATUS`)

https://github.com/netdata/go.d.plugin/blob/master/modules/mysql/testdata/MariaDBv10.5.4-%5Ball_slaves_status%5D.txt

This is test case

https://github.com/netdata/go.d.plugin/blob/86a93241f56a5cee970a95bdf978d9c6d2931abb/modules/mysql/mysql_test.go#L221-L393

These are metrics

https://github.com/netdata/

[2020-08-18 14:11] ilyam8 commented on #9632
Share the screenshot

[2020-08-18 14:14] amoss commented on #9730
Good news. @mfundul will be happy to hear it when he returns next week.

[2020-08-18 14:23] aiddroid opened #9778 "Wrong stats for Applications"
I started my app from bash(just one process) and added it in apps_groups.conf as following, but the stats for application are totaly wrong!
[code]

##### Bug report summary
wrong memory stats,
real memory
[code]

reported memory:
![image](https://user-images.githubusercontent.com/3241146/90524772-0b12ff00-e1a1-11ea-8f59-bf18ce9e3466.png)

---------------------

reported threads:
![image](https://u

[2020-08-18 14:23] Saruspete commented on #7203
I couldn't reproduce the behavior, and without output from ftrace, I can't get where the lock is happening.

Got the pagetypeinfo & slabinfo modules running on my servers without issue either. It may be highly depending on the workload, but without details hard to tell.

Will try another set of combinations when back home.

[2020-08-18 14:43] Ferroin commented on #9762
OK, there's definitely something wrong with the uninstaller script then, though I'm not 100% certain yet exactly what.

[2020-08-18 15:12] churnd commented on #9632
![image](https://user-images.githubusercontent.com/683720/90531025-8d6cd600-e143-11ea-9b70-c91de1f2312e.png)

[code]

[code]

[code]

[code]

[2020-08-18 15:20] #9778 closed

[2020-08-18 15:23] ilyam8 commented on #9632
Ok, i see what is the problem

https://github.com/netdata/go.d.plugin/blob/86a93241f56a5cee970a95bdf978d9c6d2931abb/modules/mysql/collect_slave_status.go#L71

Charts have `slave_io_running_PROD_zz` dim but metrics `slave_io_running_prod_zz`

😅

[2020-08-18 15:33] churnd commented on #9632
Aw ok, something I can do to fix this up?

[2020-08-18 15:43] ilyam8 commented on #9632
@churnd i added the fix. If you dont want wait for the next release you can build the plugin from source.

[2020-08-18 15:47] churnd commented on #9632
Thank you!

[2020-08-18 15:57] ilyam8 commented on #9632
To build use

[code]

[2020-08-18 16:26] UltimateByte commented on #9579
Hey,

I additionally had to do rm -rf /tmp/netdata* to be able to install, after remounting /tmp with write permissions on my CentOS 7.

Hope it helps somebody :)

[2020-08-18 21:09] vince-lessbits commented on #9768
Thank you for the replies and thank you for making netdata!

I will agree that "arbitrarily long" chart names might be unnecessary, but I believe the test case is a reasonable length to support.  I really hope there's a way to get this fixed. I think that the hash would be difficult to explain to my coworkers.

I have experimented with the source code a little bit and I found that increasing this

[2020-08-18 23:54] pnunn commented on #3296
Yep... and its not libreswan. I'm trying to get strongswan working.. which I see is also failing check() for some reason..

[2020-08-19 00:02] pnunn commented on #9772
OK, I don't have a .environment file anywhere on this system associated with netdata (searched the entire disk).

Is that the problem, faulty install by the sounds.

[2020-08-19 01:31] thiagoftsm commented on #8962
We were missing the `UNKNOWN` value inside `web_allow_netdataconf_dns`, and thanks this we could not access `netdata.conf` when we were using the `kickstart-static64`.

I would like to call attention for the fact that this problem was happening, if and only if, we were using `kickstart-static64` to install Netdata, I tested different nginx configurations when I did the normal installation and I ne

[2020-08-19 01:51] pnunn commented on #3296
OK, I created a strongswan.conf file in /opt/netdata/usr/lib/netdata/conf.d/charts.d based on the libreswan.conf file (basically just changed libreswan to strongswan and uncommented teh lines) then simlinked it to /opt/netdata/etc/netdata/charts.d but I'm still getting "strongswan: module's 'strongswan' check() function reports failure. (although it is now loading the configuration file by the loo

[2020-08-19 03:54] git1977 opened #9782 "How to install netdata on all available EC2 instances"
I am not sure if this question can be asked as its related to AWS, but I am looking to install netdata programatically on all EC2 instances. I am looking for a simple bash script and not using configuration management tools like ansible.

[2020-08-19 04:41] prologic commented on #8905
Thanks @joelhans !

[2020-08-19 04:45] prologic commented on #9061
This is still in our backlog and is unfortunately not trivial to support the current form of the brew formulae on core. Building from source however should work on macOS (_many of us do dev on macOS for example_), you could try this method as a work-around in the meantime? Thanks for your patience!

[2020-08-19 05:34] pnunn commented on #3296
So, the sed command is incorrect for the current version of strongswan.

The output from statusall is

[code]
IP address changed obvoiusly.

No idea at this stage how to fix the regex but I'm looking at it..

Peter.

[2020-08-19 05:44] #7391 closed

[2020-08-19 08:04] amoss commented on #9768
The limit on the names should be 200 characters. If increasing that buffer fixes your problem then it suggests there is a problem with reassembling the lines before they are fed into the parser. I will take a look at what we are doing.

[2020-08-19 08:18] vlvkobal commented on #9585
I'm closing this since the issue lacks information for reproducing and analyzing it. @stdedos feel free to reopen the issue if you have more data.

[2020-08-19 08:42] amoss commented on #9768
Yes, your analysis is correct. The buffer in the receiver is too small to allow the line to be reassembled before it hits the parser. Thank you for looking into it. I'll create a PR for it now and we should get it reviewed and into the master branch quickly.

[2020-08-19 08:55] amoss commented on #9768
@vince-lessbits Thank you for the effort in digging into the problem and fixing it. I've asked our Marketing people to add you to the contributor of the month list so they should send you some free Netdata swag :)

[2020-08-19 09:06] #9768 closed

[2020-08-19 09:14] Bearzooka opened #9784 "Custom Hangouts alerts"
##### Feature idea summary

Google Hangouts notifications are a great mechanism to notify people, but the current behaviour sends all the information as an attachment that is not visible in the notification of mobile devices.

It would be more useful to have a line of text with the summary for the alert (Host, Context, Level, etc.) at the top of the message and then the attachment, that way mobile

[2020-08-19 09:16] vlvkobal commented on #4698
I'm closing the issue given that it's stale. @AleAntunez feel free to reopen it if you can provide more data.

[2020-08-19 09:16] #4698 closed

[2020-08-19 09:35] vlvkobal commented on #6295
I'm closing the issue. We implemented workarounds. Further development is discussed in #6432.

[2020-08-19 09:35] #6295 closed

[2020-08-19 10:03] Bearzooka opened #9785 "Threads for Hangouts Alerts"
##### Feature idea summary
Instead of each new alert creating a new thread, it would be useful to have pre-created threads in Google Hangouts and configure them in NetData so it appends new messages to them, to create better traceability of an issue.

##### Expected behavior
The configuration file could have, in addition to the URL for the webhook, a field for the thread, that if provided will be

[2020-08-19 10:07] Bearzooka commented on #9785
This is the code I use to insert the thread on another application.

[code]

[2020-08-19 10:14] prologic commented on #9765
@git1977 Does this answer your questions? As for when you should use `kickstart.sh` vs. `kickstart-static6.sh` -- The difference is only that `kickstart.sh` (_currently_) builds from source whilst `kickstart-static64.sh` just installs a prebuilt static binary as @Ferroin explained. If you want the fastest installation go with `kickstart-static64.sh`.

Does this all help and answer your questions?

[2020-08-19 10:16] stdedos commented on #9585
I doubt you'll find anything useful, but there you go: [error.zip](https://github.com/netdata/netdata/files/5095674/error.zip)

[code]

[2020-08-19 10:44] vlvkobal commented on #7127
What OS do you use? What is the output of `sudo docker logs netdata 2>&1 | grep cgroup`.

[2020-08-19 11:10] Ferroin commented on #9772
Yeah, that sounds like it's a bad install. If you add `--allow-duplicate-install` to the kickstart command you should be able to use the kickstart script to reinstall the existing install and that _should_ get you to a working state.

[2020-08-19 11:24] #8962 closed

[2020-08-19 11:26] prologic commented on #9777
cc @manos-saratsis @cakrit

AFAIK we _do_ have plans for self-hosting Netdata Cloud one day, its on the long-term roadmap.

Regarding installing servers in CN, I'm not sure how feasible that would be in terms of Netdata Cloud.

[2020-08-19 11:28] prologic commented on #9777
Related issue #8527

[2020-08-19 11:33] prologic commented on #9782
What about adding the one-liner to your user-data startup scripts on all your EC2s? Or just simply run `kickstart-static64.sh` across all machines via some parallel ssh tool?

[2020-08-19 11:39] #9758 closed

[2020-08-19 11:43] ilyam8 commented on #9777
I assume it is no go. @cakrit correct me if i am wrong.

[2020-08-19 12:09] kjellgren opened #9787 "dashboard_info.js Error 400"
##### Bug report summary
Dashboard display :
Cannot load required JS library: http://myserver:19999/dashboard_info_custom.js

F12/Network in in the browser show that :
"Requested URL: http://myserver:19999/http://myserver:19999/dashboard_info_custom.js"
(base URL twice)

 http://myserver:19999/dashboard_info_custom.js load fine in the browser

##### OS / Environment
RHEL (RedHat) 7.6 x86_64

#####

[2020-08-19 12:15] thiagoftsm commented on #9784
This issue has relationship with #9785 , when this is closed, the other also needs to be.

[2020-08-19 12:26] vince-lessbits commented on #9768
@amoss Thank you and the netdata team for the quick fix!

[2020-08-19 12:27] amoss commented on #9768
Thank you again. I think you did all the work here :) All I did on the PR was check the defines and the other points in the code that touch the buffer. Nice investigative work to find the problem and work out how to fix it.

[2020-08-19 12:33] fzyzcjy commented on #9777
@ilyam8 @prologic Sad to hear that :( Actually there are more than 1 billion people in China, so this is really a HUGE portion of users of Netdata.

[2020-08-19 12:35] thiagoftsm commented on #9785
Hi @Bearzooka ,

To bring this new feature we will need to change the payload send  to hangout

https://github.com/netdata/netdata/blob/b1505b45f87de267f7a374f5c4a2dee33056a5b8/health/notifications/alarm-notify.sh.in#L1886

we will also need to add a structure like we have for email

https://github.com/netdata/netdata/blob/b1505b45f87de267f7a374f5c4a2dee33056a5b8/health/notifications/alarm-notify.

[2020-08-19 13:10] git1977 commented on #9782
Any refernce on how to add that script automatically on all EC2s and also run across all machines?

[2020-08-19 13:11] roedie commented on #9707
This is because of #8996. It tries to chmod the ebpf plugins which isn't in the package.

[2020-08-19 13:12] git1977 commented on #9765
For kickstart-static64.sh, how would I change the installation path similar to kickstart.sh?

[2020-08-19 13:20] jacekkolasa commented on #9787
Hi @kjellgren, can you write what you have in the response from `http://myserver:19999/api/v1/charts`, in `"custom_info"` field?

[2020-08-19 13:32] Ferroin commented on #9765
It's not possible to do so. There are some paths we have to configure at compile time which can't be changed at install time, so we unfortunately have to have a fixed installation path for any prebuilt copies of Netdata.

[2020-08-19 13:36] nsturtz opened #9788 "When will custom alarms be built in and can I help test it?"
I am asking about the GUI alarms and what can I do to help? I would also like to say Thank you to everyone who has worked on the wonderful project!

[2020-08-19 13:49] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 13:50] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 13:50] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 13:50] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 13:50] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 13:50] kjellgren commented on #9787
Hi @jacekkolasa

custom_info: "dashboard_info_custom.js"

[2020-08-19 14:13] Nirjonadda commented on #9002
@manos-saratsis Please do you have any update?

[2020-08-19 14:45] vlvkobal commented on #9585
Please also provide the contents of
`/proc/self/mountinfo`
`/proc/1/mountinfo`
and `[plugin:proc:diskspace]` section from `http://localhost:19999/netdata.conf`

[2020-08-19 15:04] #8337 closed

[2020-08-19 15:05] joelhans commented on #8431
Fixed by #8837!

[2020-08-19 15:05] #8431 closed

[2020-08-19 15:19] joelhans commented on #9774
![](https://github.trello.services/images/mini-trello-icon.png) [Supplement service discovery documentation](https://trello.com/c/UDR1jjNF/248-supplement-service-discovery-documentation)

[2020-08-19 15:23] joelhans commented on #9774
@cakrit The service discovery README isn't current on Learn. I'm making a note to edit the ingest process to make that happen. Either you or @ilyam8 have recommendations on where it should go? **Collecting metrics -> External plugins -> Service discovery**?

I'll also work with Ilya on adding some configuration details to the Helmchart README.

Speaking of the Helmchart... should we have that on L

[2020-08-19 16:44] #9065 closed

[2020-08-19 16:56] git1977 commented on #9765
ok thank you.

[2020-08-19 16:56] #9765 closed

[2020-08-19 17:24] thiagoftsm commented on #9788
Hi @nsturtz,

If I understood correctly your question, we will need to do the following steps:

FrontEnd:

1 - It is necessary to create a PR at github.com/netdata/dashboard/ that will bring the new GUI. This GUI will need to give conditions for the users to set the possible values present in this [link](https://learn.netdata.cloud/docs/agent/health/reference)
2 - If you want to load the alarms ap

[2020-08-19 19:33] jacekkolasa commented on #9787
it's hard for me to reproduce it. Can you confirm that you see the version with new nav bar/sidebar, like here: https://frankfurt.my-netdata.io/ ?

[2020-08-19 19:34] karabakin opened #9789 "statsD graphite backend averaging issue"
**Problem summary**
We are collecting data through statsD and using graphite backend.

When backend data source is **average**, data sent to graphite _sometimes_ quite different than expected.
Correct:
[code]
Incorrect:
[code]

I'm trying to investigate this problem and found that applications that sends their metrics to statsD have some jitter on data storing to collector.
[code]

Which looks in

[2020-08-19 20:01] nsturtz commented on #9788
Ok thank you and I can help test.

[2020-08-19 20:18] jacekkolasa commented on #9708
hi @Saruspete , i still haven't been able to reproduce your issue. I assume that you've checked that there are no other calls that take the same amount of time? (90s). I've applied a fix (here)[https://github.com/netdata/netdata/pull/9786] to newest Netdata that can help in one case. Can you please check if reinstallation helps?

[2020-08-19 21:54] ipsq commented on #5516
Any update on this?

[2020-08-19 22:38] prologic commented on #9777
Its not really up to us, we have to prioritise our efforts and use resources accordingly. This is up to @cakrit and @ktsaou really. I _think_ from a technical perspective we can definitely provide both Netdata Agent installation (_in the same easy to use 1-liner_); the Netdata Cloud SaaS however I'm not 100% sure on; maybe but maybe @manos-saratsis can chime in here with "technical feasibility"? F

[2020-08-19 22:41] prologic commented on #5516
Please review our [documentation](https://learn.netdata.cloud) and if you __do not__ find the information you are after please let us know by filing a new issue! We have documented persistence of various pieces of data Netdata Agent stores disk _quite well_ AFAIK. We _also_ "Dog-food" Netdata Agent(s) in our own k8s infra for Netdata Cloud so we _know_ things are working properly there.

[2020-08-19 22:42] prologic commented on #9707
I _think_ there's an inbound PR to fix this... Let me see if I can find it...

[2020-08-19 22:43] prologic commented on #9707
I _think_ [this PR](https://github.com/netdata/netdata/pull/9752) from @Saruspete _might_ fix this situation! 🎉 We'll try to get this merged today!

[2020-08-19 22:43] nyetwurk commented on #5516
I worked around this by mounting `/etc/passwd` in the container:
[code]
I believe those are both recommended mounts anyway.

[2020-08-19 22:45] prologic commented on #9782
It is [documented here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html) 😀

[2020-08-19 22:49] prologic commented on #9750
@BKPepe I've aded this to our backlog, not sure when we'll be able to get to it.

In the meantime, what are you cross-compiling from and to?

Yes I _think_ we should have a flag to disable eBPF (_if we don't already_).

[2020-08-20 00:00] fzyzcjy commented on #9777
@prologic Unfortunately, we do NOT have Google here. So I HAVE TO use a paid proxy to go to the outside world every day (you know, I cannot do programming without google).Proxy on my own computer is ok (though also illegal); but for Netdata Cloud, the agent on *the production server* has to connect to the cloud, but this is *not ok* since that server will be *banned* by the government once it find

[2020-08-20 00:40] prologic commented on #9624
Okay I'll spin up an EC2 and have a play today... Sorry about the delay!

[2020-08-20 00:45] pnunn commented on #3296
I took off the -n from the sed command, now getting
/dev/fd/63: line 1: syntax error near unexpected token `('
/dev/fd/63: line 1: `Status of IKE charon daemon (strongSwan 5.6.2, Linux 4.15.0-106-generic, x86_64):'

Not sure which ( its talking about though.

[2020-08-20 04:20] pnunn commented on #3296
OK, seems the regex needs to be

`
\(.*\){\([0-9]\+\)}:[[:space:]]\+ .* \([0-9]\+\) bytes_i .* \([0-9]\+\) bytes_o .* rekeying in \([0-9]\+\) \([[:alpha:]]\+\)
`
So, now have it running, but how do I get the chart to show up?

[2020-08-20 05:27] kjellgren commented on #9787
Sorry forgotten a important pice of information. I am talking about the old dashboard  http://myserver:19999/old
And I have installed Netdata using RPMs
[code]

[2020-08-20 05:29] BKPepe commented on #9750
The last time, when I checked it, there wasn't any flag to disable eBPF. I'm cross-compiling locally from Ubuntu 20.04 to several OpenWrt devices mostly Turris routers - powerpc 8540, arm_cortex-a9_vfpv3-d16, aarch64_cortex-a53.

[2020-08-20 07:35] dids50x opened #9791 "Issue when upgrading Netdata to 1.24.0 on offline system"
##### Bug report summary

When trying to upgrade Netdata (1.23.0 to 1.24.0) on an offline system, I got the following error :

[code]

The check for an already existing Netdata installation was not present in previous kickstart file.
I haven't found how to work arround this.

I think it's not normal because I specified the local files to use.
Or I don't do it the right way?

Could you provide help

[2020-08-20 07:43] ilyam8 commented on #3296
Why do yoy think so? Do you see charts in the debug mode?

[2020-08-20 07:46] amoss commented on #9757
@zeacot Are you able to install the nightly to see if the patch fixes your issue?

[2020-08-20 07:49] amoss commented on #9742
Is there any progress on finding a way to reproduce this or should it be closed?

[2020-08-20 07:54] ilyam8 commented on #9742
I know that `python.d.plugin` has keepalive func and it writes `\n` every second, and i rememeber i added it to fix exactly this issue and it was fixed.

I could reproduce it, i [couldnt even reproduce](https://github.com/netdata/netdata/issues/9742#issuecomment-674544440) `netdata` crash sending `USR2`.

[2020-08-20 07:55] pnunn commented on #3296
Umm.. no, actually I don't.

2020-08-20 17:52:25: charts.d: DEBUG: strongswan: sleeping for 4.957 seconds.
BEGIN strongswan.103_127_113_10qld_net 5000000
SET in = 28640464
SET out = 6690712
END
BEGIN strongswan.103_127_113_10qld_rekeyring 5000000
SET rekeyring = 0
END
BEGIN netdata.plugin_chartsd_strongswan 5000000
SET run_time = 30
END
2020-08-20 17:52:30: charts.d: DEBUG: strongswan: sleeping fo

[2020-08-20 07:57] ilyam8 commented on #3296
The output looks ok, did you debug it as `netdata` user? It could be the problem - works for `root`, doesnt work for `netdata`

[2020-08-20 08:05] amoss commented on #9791
Looking at the kickstart and updater scripts it looks as if we do not currently support updating offline installations. One of the SRE team can give a more definite answer later. A temporary work-around would be to uninstall the old version before installing 1.24.0. @prologic It looks as if we should add support for offline installs to the updater?

[2020-08-20 08:11] amoss commented on #9789
You can access the raw RRD data in .json format via the web api, e.g.
[code]
Internally Netdata does not store the raw stats.d values. We store a time-series where the data has been mapped onto one-second samples so the raw values will be changed slightly if the collection does not occur exactly every second.

[2020-08-20 08:14] amoss commented on #9300
@kromit Hello, did you try removing the `^SSL=optional` from your configuration to see if it fixes the problem?

[2020-08-20 08:16] amoss commented on #6679
@tctovsli Hello, I'm checking up on old bug reports that are still open. Have you upgraded to a new version of Netdata and are you still seeing problems with the node using kickstart? The agent has changed a lot in the past year and this part of the code has been rewritten. Could you let us know if you are still having problems?

[2020-08-20 08:18] amoss commented on #7327
Hi @jeremyjpj0916, we made some major changes to the streaming code that may affect the issue that you were seeing. Could you try a new version and let us know if you still see the problem?

[2020-08-20 08:22] pnunn commented on #3296
Yeh, it's the netdata user running the command.

[code]

[2020-08-20 08:33] ilyam8 commented on #3296
check `error.log`

- restart netdata.servic
- grep strongswan error.log

[2020-08-20 08:43] Snuggle commented on #9059
@mfundul Is correct, though. I have qemu opening two block devices directly.

[2020-08-20 08:56] pnunn commented on #3296
Arrggg looks as though debug is lying... :)

2020-08-20 18:55:51: charts.d: ERROR: strongswan: module's 'strongswan' check() function reports failure.

[2020-08-20 09:01] ilyam8 commented on #3296
We need detailes - what `check` does, why it reports failure, etc.

Since it is your custom module try to add more log messages to understand the problem.

I dont know why it works in debug and doesnt in normal mode.

[2020-08-20 09:07] pnunn commented on #3296
The module does what this thread is about. The code is as posed by ktsaou above using strongswan as an ipsec tunnel source.

The only difference from the code above is the regex I posted here.

The ipsec statusall command returns

`
Status of IKE charon daemon (strongSwan 5.6.2, Linux 4.15.0-106-generic, x86_64):
  uptime: 57 days, since Jun 24 14:00:00 2020
  malloc: sbrk 1966080, mmap 0, used 10

[2020-08-20 09:09] pnunn commented on #3296
So it should be pulling out the active connection (103.127.113.10QLD), the bytes_i (37611024), bytes_o (8723888) and rekey time (2) and units (hours) and graph them, as far as I can tell.

[2020-08-20 09:21] ilyam8 commented on #3296
What i am saying is lets try to get more details about the failure. `check() function reports failure` doesnt say much.

I see there are some messages that help to identify what fails

https://github.com/netdata/netdata/blob/eed186cffa7686a4459304d2e9a9be0ece7e093a/collectors/charts.d.plugin/libreswan/libreswan.chart.sh#L91-L114

If it is not enough try to add more error logging to understand the

[2020-08-20 09:46] amoss commented on #9059
I think the alarm is not tracking the most useful values, inside the collector we do this:
[code]
This is not strictly correct as @mfundul mentioned above. Some of the cached memory may be dirty in which case it should be considered used, but we can't see that detail from the `/proc` interface. There is a lot more detail about why this is inaccuracte here: https://git.kernel.org/pub/scm/linux/kern

[2020-08-20 09:47] jacekkolasa commented on #9787
Indeed, the problem exists in old dashboard. I've pushed a fix. Thanks!

[2020-08-20 10:20] stdedos commented on #9585
Not interesting, but again, there you go:
[code]

[2020-08-20 10:21] amoss commented on #9059
@thiagoftsm / @stelfrag Can you look at the PR to change the alarm definitions. The original definition of the alarm was wrong in the way that @Snuggle reported. We cannot assume that all of the memory in use in buffers is in use.

With the change please consider if the two alarms are now redundant: do we need to track our estimate of used memory if we have an alarm triggered by the kernel's estim

[2020-08-20 11:18] Ferroin commented on #9750
Yeah, we're missing an option to disable this in the configure script. The install script option only coincidentally works because it involves bundling a library...

[2020-08-20 11:27] kmlucy commented on #9714
Postgres is fixed with `v1.24.0-85-g07e67c4b`, but I still have the same logs for MySQL:
[code]

[2020-08-20 11:30] kmlucy commented on #9714
I don't use any of the others, but a lot of dependency modules seem to be missing, though I don't know if this is new or not:

[code]

[2020-08-20 11:32] ilyam8 commented on #9714
Yeah, i suggest to use [go mysql module](https://github.com/netdata/go.d.plugin/tree/master/modules/mysql#mysql-monitoring-with-netdata)

What we plan to do with all those deps - rewrite modules in go, so we dont need any external libs

[2020-08-20 11:35] ilyam8 commented on #9714
have go versions:

- python-dnspython
- MySQLdb

have no:

- beanstalkc
- rados
- docker
- python-ldap
- cx_Oracle
- rethinkdb

[2020-08-20 11:49] kmlucy commented on #9714
I wasn't aware to the MySQL go module. I've transitioned my config over and am okay closing out this issue unless you'd rather keep it open.

[2020-08-20 11:52] #6470 closed

[2020-08-20 11:53] dids50x commented on #9791
@amoss Thank you for your reply.
However, how can I do if I want to upgrade Netdata master, which also is an offline system, without losing metrics history?

[2020-08-20 12:28] cakrit commented on #9774
The instructions for the Helmchart are where people expect them to be, on the chart itself, so I wouldn't bother adding it to learn, as long as the search brings up a result that links to it.

Service Discovery only works for go.d plugins, so it belongs there. It also just works in Kubernetes now, so it needs a link from whatever we have on k8s.

[2020-08-20 12:32] cakrit commented on #9788
This is part of the configuration management epic, which we haven't put on the roadmap yet. So closing it as duplicate of #6432

[2020-08-20 12:32] #9788 closed

[2020-08-20 12:39] nodiscc opened #9794 "Plugin to check time since last modification of a file"
##### Feature idea summary

When monitoring periodic/scheduled tasks such as `cron` job runs, one often wants to ensure a generated file is not older than an acceptable threshold - for example for a daily backup, a file updated on backup success should not be older than 24h (+/- tolerance for varying backup durations).

##### Expected behavior

I have looked in existing netdata plugins but did not

[2020-08-20 12:53] amoss commented on #9791
That is more difficult. There are two options, one safer and one more dangerous. The safer option would be to wait until we add support for updating an offline installation - this is what I would recommend. The more dangerous option would be to manually insert the dbengine data-files into a new installation. I would recommend against this as we changed the dbengine between 1.23 and 1.24 and I can'

[2020-08-20 12:53] Ferroin commented on #9794
For the record, you can kind of do this using the monit collector, because monit itself can track this, but it's a bit complicated and you'd end up having to set the limits in the monit configuration, not the Netdata configuration.

However, I do think having such a plugin natively would be useful, though I would personally probably take a different approach (one dimension per monitored filesystem

[2020-08-20 12:54] Unfairz opened #9796 "REST API / Charts not displaying correctly"
##### Bug report summary

Hello, it appears that recently the netdata API isn't returning properly formed JSON and visualizing the charts is failing. I have also double-checked the code on here - https://learn.netdata.cloud/docs/agent/web/api and can confirm that the code, grabbing the charts is the same, however, in the console output, I am getting malformed JSON errors.

[code]
##### OS / Enviro

[2020-08-20 12:55] ilyam8 commented on #9794
We have:

- [httpcheck](https://github.com/netdata/go.d.plugin/tree/master/modules/httpcheck)
- [portcheck](https://github.com/netdata/go.d.plugin/tree/master/modules/portcheck)
- [x509check](https://github.com/netdata/go.d.plugin/tree/master/modules/x509check)

We could add `filecheck`.

Yes, it very easy to write it in go.

[2020-08-20 12:56] ilyam8 commented on #9794
Lets discuss/agree on implementation and we add it.

[2020-08-20 13:06] nodiscc commented on #9794
Well since it would be a generic `filecheck` plugin, here a some use cases that it should probably cover:
- alert when a file is older/newer than a certain time
- alert when a file is present/absent
- alert when a directory contains more/less than `n` files
- alert when a file size is above/below `n` b/kb/Mb...

Why not... but it might make the chart hard to read (suppose you have a file with a no

[2020-08-20 13:12] ilyam8 commented on #9796
Hi

could you show https://github.com/netdata/netdata/issues/9745#issuecomment-674019270

could be the same issue

[2020-08-20 13:30] Unfairz commented on #9796
Sure! Here is the output:

<details>
<summary>JSON Output</summary>

[code]
</details>

[2020-08-20 13:42] ilyam8 commented on #9796
Ok, seems it is another problem, there is no `prometheus` module in the output 🤔

[2020-08-20 13:48] thiagoftsm commented on #9757
@amoss the ebpf issue https://github.com/netdata/netdata/issues/9727#issuecomment-674131475 was closed after we received the confirmation that the issue was fixed, I did not close this, because @zeacot did not say the problem had relationship with ebpf.plugin.

[2020-08-20 13:52] Unfairz commented on #9796
It's a bit of an odd one indeed!

The code in the API docs is also returning "Script errors" which I would assume would the malformed JSON as well. :frowning:

[2020-08-20 13:53] Ferroin commented on #9794
For this specifically, we should probably allow the user to match on any of atime, mtime, ctime, or btime.

Monitoring what type of file it is likely to be useful and not too hard to do, same (potentially) for the hard link count.

My thought was to still allow for having multiple jobs but allowing the user to configure a single job to monitor multiple objects. IOW, users could still configure one

[2020-08-20 13:53] ilyam8 commented on #9796
@jacekkolasa any ideas?

[2020-08-20 13:58] amoss commented on #9757
Not explicitly :) But the screenshot of htop shows ebpf. I've changed the issue title to reflect this.

[2020-08-20 14:09] cakrit commented on #9777
Hold on for a week or two, we'll need to have an internal discussion on what we'll do with China.

[2020-08-20 14:24] thiagoftsm commented on #9757
My fault, I missed the screenshot.

@zeacot I am closing this issue, because it was already fixed. I apologize for the problem we created for you and our users.
Please, be free to reopen the issue if it is affecting you yet, for I do a more deeper investigation, but it looks like the exact same problem reported at #9727.

Best regards!

[2020-08-20 14:24] #9757 closed

[2020-08-20 14:31] ilyam8 commented on #9794
Ok, it is getting ~~complicated~~ interesting! 😄

I see we need to collect:

- file stats:
  - size
  - mod time
  - creation time ??
  - present/absent

- dir stats:
  - num of files

~ telegraf plugins:
 - https://github.com/influxdata/telegraf/tree/master/plugins/inputs/filecount
 - https://github.com/influxdata/telegraf/tree/master/plugins/inputs/filestat

[2020-08-20 14:42] ilyam8 commented on #9714
postgress is added, mysql is wontfix i think, so i am closing the issue

[2020-08-20 14:42] #9714 closed

[2020-08-20 14:46] ilyam8 commented on #9788
@cakrit gratz on closing 5000th issue 🎉

[2020-08-20 14:54] amoss commented on #3381
The calculation of the `ram in use` alert was wrong as it did not include the size of buffers when calculating the total. I've changed this in a PR this morning for another issue (https://github.com/netdata/netdata/pull/9793). This should fix the negative value that you are seeing, but as I commented on the other issue (https://github.com/netdata/netdata/issues/9059) I think we should just remove

[2020-08-20 14:55] amoss commented on #3381
If the change in the PR still produces negative values in your use case please post the output of `/proc/memstat` so that I can the numbers and work out why we are calculating the wrong total.

[2020-08-20 14:58] dids50x commented on #9791
@amoss Do you think that Netdata's development team will be able to fix this in a few weeks?

[2020-08-20 14:59] amoss commented on #9791
@prologic is in a different timezone but he will be able to answer later on when he sees these messages.

[2020-08-20 15:11] ilyam8 commented on #9774
Yeah,

This issue is about service discovery, so:

This is go.d overview diagram

https://drive.google.com/file/d/1DeXZu9TxUc4MRqYB3D5EguKvrvkwtWMv/view?usp=sharing

There is `File Discovery` which reads/watches files and produces job configs.

It is likely we add some other sources directly to the go.d at some point (ex.: parse /proc, call `ps` or something like that).

Any ideas are welcome.

[2020-08-20 15:13] Ferroin commented on #9791
Yes, we should be able to fix this relatively quickly (I plan to work on this either today or tomorrow, and the fix should be ready by some time next week at the latest). Once the fix is in, you should be able to pull the `kickstart-static64.sh` script directly from the Netdata repo and use that to do the upgrade.

For the record, this is expected but unintended behavior resulting from changes to

[2020-08-20 15:24] thiagoftsm commented on #9059
@amoss I made a request `https://localhost:19999/host/zeus/api/v1/alarm_variables?chart=system.ram` to check both alarms. I agree with two things that I could see on your PR:

1 - The math for `ram_in_use` looks more accurate now.
2 - I also agree that users will receive two alarms, one saying that `ram available` is less than 10% and `ram in use` is more than 90%. They won't receive in the exactl

[2020-08-20 15:50] #9728 closed

[2020-08-20 15:52] lucasRolff opened #9798 "Gaps in chart when using 5 second update interval"
##### Question summary

using a custom chart.d bash plugin, I experience gaps in between collection interval.

Example of chart:

![https://snaps.hcdn.dk/IQcZUEAw5ps2Bjj00TU7IJ2RcXU2ew46c4bw6MDUvC.png](https://snaps.hcdn.dk/IQcZUEAw5ps2Bjj00TU7IJ2RcXU2ew46c4bw6MDUvC.png)

##### OS / Environment

Vultr High Frequency VM with Ubuntu 20.04 (KVM)

##### Component Name

`collectors/charts.d.plugin` cus

[2020-08-20 15:54] lucasRolff commented on #9798
p.s. I did #5506 in advance, and there the solution was setting the `dnsmon_update_every` - which is already set in this case :)

[2020-08-20 15:56] amoss commented on #9059
Hello. @thiagoftsm you are supposed to be on vacation, please stop working :)

I added a link to the PR on https://github.com/netdata/netdata/issues/3381 as it should fix the problem there as well.

I would recommend keeping `ram_available` and removing `ram_in_use` as the kernel estimate will be more accurate than our estimate.

[2020-08-20 16:08] vlvkobal commented on #9585
Could you show all `disk_space.*` objects from `http://localhost:19999/api/v1/charts`?

Stop Netdata, delete (or just rename, if you need to keep the data) its database `/var/cache/netdata` and start the service again. Can you see the chart?

[2020-08-20 16:15] #6308 closed

[2020-08-20 16:22] ilyam8 commented on #9798
Hi

Lets see debug output

[2020-08-20 16:40] PatTheMav opened #9799 "Netdata update triggers ipv4.tcphandshake alerts"
##### Bug report summary
For a few versions now a scheduled netdata update will lead to `ipv4.tcphandshake` alerts, specifically about a high number (between 66 and 100+) of ipv4 tcp resets received in a 10-second window.

From looking at the system log, the order of events seems to be as follows:

1. Netdata service is restarted after scheduled update
2. The same log line for the ebpf.plugin are

[2020-08-20 16:42] ilyam8 commented on #9798
wrong chart definition:

[code]

correct:

[code]

[2020-08-20 16:43] ilyam8 commented on #9798
See https://learn.netdata.cloud/docs/agent/collectors/plugins.d#chart

[2020-08-20 17:00] lucasRolff commented on #9798
That seems to do the trick, thanks!

Now I just need to figure out why `date +%s` only increments every 100 seconds, and not every 5 seconds as the debug information shows :-D

[2020-08-20 17:03] amoss commented on #9585
The chart is called `disk_space._home` rather than `disk_space._home` - I only mention this in-case you are accessing the api via a script and have the same typo. The only reason that I can see that the plugin would skip the chart is if it is a bind mount.

[2020-08-20 17:45] stdedos commented on #9585
Apologies, but you said the same thing twice:
![image](https://user-images.githubusercontent.com/133706/90806654-fad85c80-e325-11ea-9d76-7efe2ab184b2.png)

With regards to

let's see about that tomorrow.

[2020-08-20 18:16] ilyam8 commented on #9774
It is not specififc thing, you can edit any resource using `kubectl edit` (i guess internally it is download & apply).

[2020-08-20 18:34] GemzzK opened #9800 "How to disable/remove unwanted charts from netdata default dashboard."
want to know proper way to disbale/remove unwanted graphs/charts from right side menu. Like from below picture you can see highlighted areas that i want to remove from list and dont want to monitor. I`ve already changed options from netdata.conf file for ipv6 under [Plugins:proc] sockstat6 and snmp6 but no luck
![image](https://user-images.githubusercontent.com/67978637/90811010-4cd8ac80-e33d-11ea

[2020-08-20 20:00] thiagoftsm commented on #9059
The final result will be the same, @stelfrag , @ilyam8 , @Ferroin and @vlvkobal you are also reviewers on this, what do you think?

[2020-08-20 20:56] thiagoftsm commented on #9742
@ilyam8 I am attaching my current [alarm log](https://github.com/netdata/netdata/files/5105366/db.zip) that will help you to recreate the problem.  To create the problem I used the following alarms:

[code]

and

[code]

We discovered that while I was working to create the PR #9773 that the problem happens when Netdata tries to schedule a command that was never executed when it is updating the ala

[2020-08-20 21:03] ilyam8 commented on #9742
I am not really understand what it means, i feel like we are going rounds. Sorry for keep asking that again and again but can you just give me a list of actions i need go reproduce it, like

 - do this
 - do that

---

It seems i cant understand the sequence, i did

no luck

[2020-08-20 21:24] jeremyjpj0916 commented on #7327
I will try to pull down a  new build over the next few weeks and deploy it out in dev/stage and see how it goes. Will reach back out here with results @amoss .

[2020-08-20 21:46] Saruspete commented on #9708
Yeah, checked no other call was in progress, with firefox & chromium.

I'm out of office and cannot test before end of month, but will ask a colleague to try in the meantime. I'll be able to gather more details when back at the office.

[2020-08-20 22:49] thiagoftsm commented on #9800
Hi @GemzzK ,

You will need to change your `netdata.conf` and set for the collector that you do not want to see charts the option `enabled = no`, for example, to disable information about IPV6 and udp, you need to change the following lines:

[code]

Best regards!

[2020-08-20 23:00] thiagoftsm commented on #9742
No problem, let me try to clarify for you.

Firstly I will remember what Netdata does, every time that Netdata is running we are storing values inside `health_alarm_log` like the flags, and when the spawn server executes a command it can store the flag HEALTH_ENTRY_FLAG_EXEC_IN_PROGRESS. When an event with this flag is loaded again, it is loading the flag as it was stored and if this alarm entry i

[2020-08-20 23:56] fzyzcjy commented on #9777
@cakrit Thanks soooooo much!

[2020-08-21 00:02] GemzzK opened #9801 "Netdata Stream option 3. how to get this working and bit explanation"
I was exploring net data streaming options because i have 4 slaves sitting behind same public ip. Master confuses them and doesn't show all of them in list i have to restart netdata on master server and after doing that netdata shows different slave but doesn't show all of them. So, it only shows one slave at a time because they are sitting behind same public ip. So, i was searching through option

[2020-08-21 05:55] #7482 closed

[2020-08-21 06:25] fzyzcjy commented on #9774
Hi sorry for disturbing, I wonder when will prometheus be added (since my project will be soon released)? If not very soon, can I do it and will you accept PRs :)

[2020-08-21 06:29] pnunn commented on #3296
OK, the sed command is still not right, its not finding any tunnels. I'll keep trying.

[2020-08-21 06:34] andrezaycev opened #9802 "Mass Alarm "out of disk space time = 0h" "out of disk inodes time = 0h""
##### Bug report summary

Every day received mass alarm _"out of disk space  time = 0h _" "_out of disk inodes time = 0h_" from multiply nodes. it's happened at the same period everyday - (02:50-03:00 UTC). I have about 15 nodes in production with netdata and 3-4 of them send me alarms with all existed partitions(for example `/, /dev/shm, /run/netdata, /run/lock`). Different nodes send alarms ever

[2020-08-21 07:08] pnunn commented on #3296
I think I give up. The sed that seems to work on the linux command line is just dumping all of the variables into each other when run under netdata.  This is beyond me. I'll have to look an a different monitoring app I guess. Just for clarity this has NOTHING to do with the LIBRESWAN chart. This is all to do with the code posted at comment #2 in this thread.

[2020-08-21 07:32] amoss commented on #9585
Ah yes, worst possible place for a typo :)

You reported the issue on `disk_space__home` but the chart is called `disk_space._home` (the first `_` is a `.`). I realize this might just be a typo in the issue on github, but I wondered if you were accessing over the api as `/api/v1/data?chart=disk_space__home` by accident.

[2020-08-21 07:34] amoss commented on #9059
No, the final result will be different. The calculation on `ram_in_use` assumes that all memory in cache and buffers is available. This is not accurate, as explained in the thread that I linked to above. The `ram_available` relies on the kernel to do the calculation and it has a more accurate view of the system.

[2020-08-21 07:49] #9798 closed

[2020-08-21 07:53] BKPepe commented on #6509
I think there was no change since I reported this issue, right? OpenWrt is now using WolfSSL by default instead of MbedTLS and would be good if there is support for it as well instead of relying only on OpenSSL.

[2020-08-21 08:00] lucasRolff opened #9803 "Wrong number visualized when using unix timestamp as an example"
##### Question summary

Based on #9798 -  I see if I have an external plugin that e.g. logs the unix timestamp, when calling the chart directly from command line, I see increments happening every second as expected, however, looking at the web UI the number only seems to update every 100 seconds that passes:

![https://snaps.hcdn.dk/6bZpVqfYVZScslvoyzATipx6EQvZoccOo7GHK7l1OH.png](https://snaps.hcd

[2020-08-21 08:38] ilyam8 commented on #9803
Indeed, i have same problem with `Code example` script

I changed update func to

[code]

and it works fine

---

So it seems the problem with big number? :thinking:

[2020-08-21 08:48] ilyam8 commented on #9803
@mfundul @stelfrag take a look

[code]

[2020-08-21 08:50] ilyam8 commented on #9774
Well, soon ~ 2 weeks.

What prometheus endpoints do you want to monitor?

[2020-08-21 08:58] vlvkobal commented on #9554
As I see it, there are two ways of solving the problem, both of them aren't simple.
1. We can rename the family when a new chart is created with a previously existing id but in this case, we need at least to rebuild variables for the changing chart. There may also be other dependencies. That will mend the name in the menu but previous data will still be displayed in the same chart as far as the ch

[2020-08-21 13:41] kaiomatico opened #9806 "Documentation: Fix dashboard web directory"
Hi, thank you for the awesome Netdata Project! I have found a bug in the docs on this link: https://learn.netdata.cloud/docs/agent/web/gui/custom
there it is stated that the default web root directory is `/usr/share/netdata/web`, but in reality it actually is `/var/lib/netdata/www` (at least with the official Ubuntu 20.04 .deb package).

I have not found a docs github repo so I don't know how to f

[2020-08-21 13:47] viktak opened #9807 "How do I access the netdata.conf file in a Docker container?"
##### Question summary
I have a netdata container running smoothly in Docker with the default settings. Now I would like to modify some settings in `/etc/netdata/netdata.conf`, but I can't seem to find a way to access it.

This is the command I am trying to use:
[code]
This is the error I am getting:
[code]
The same syntax seems to be working with my other containers..

If I run it without without

[2020-08-23 10:38] #9807 closed, assigned to nobody

[2020-08-23 14:37] TheOldMan2000 opened #9810 "Dashboard gauges missing in Go.d version of web_log"
Please can you add the dials or equivalent that are in the original Python.d version of web_log into the go.d version?

Python.d version from your London demo:

<img width="1024" alt="london3 my-netdata io netdata dashboard" src="https://user-images.githubusercontent.com/13329789/90981039-aff15b80-e556-11ea-870e-27819c84dac5.png">

My Go.d version Netdata v1.24.0-97-gf717969c:

<img width="824" al

[2020-08-23 17:31] jacekkolasa commented on #9477
@yasharne in case you'll see this again, can you also check if you see the same result when you access netdata `/old/` suffix in url?

[2020-08-24 07:12] roedie commented on #9801
Hi,

This is not an issue with having multiple hosts behind the same IP. I have lots of hosts behind the same IP and it just works since all the hosts have a different GUID. Can you share your config of both the parent and child hosts?

Maybe there is also a hint in the error log.

[2020-08-24 07:50] amoss commented on #8528
This is expected behaviour. Netdata tries to send its logs to one location. The normal default running in a container is to write everything to `stdout` (by linking the default file paths to redirect the output). Docker picks up everything on `stdout` and `stderr` from the main process in a container and stores it in the docker log.

If you set the logging output to `syslog` then Netdata will happ

[2020-08-24 08:48] amoss commented on #9109
I'm about to review @stevenh's PR to see if we can merge it. @underhood what is the status of getting our changes to LWS upstream so that we can rely on a particular version number in the system instead of our custom port?

[2020-08-24 10:23] jacekkolasa commented on #8980
closing, 2 fixes (one with trailing slash, second with [https redirect](https://github.com/netdata/netdata/issues/9154)) are in nightlies, and will be included into next stable release

Thanks for help @svrnwnsch

[2020-08-24 10:23] #8980 closed

[2020-08-24 10:27] jacekkolasa commented on #8881
@yasharne i'm closing this issue since it was related to old dashboard version, but if you'll have more problems, please feel free to reopen or create new ticket. Thanks!

[2020-08-24 10:27] #8881 closed

[2020-08-24 10:30] jacekkolasa commented on #3449
closing, the problem is not relevant now, with the new dashboard

[2020-08-24 10:30] #3449 closed

[2020-08-24 10:42] jacekkolasa commented on #1829
I'm setting it as low-priority because i'm not sure how needed is this feature in 2020. During refactoring i didn't had to change css, so "dashboard.js" part is still not isolated.

[2020-08-24 10:50] prologic commented on #9624
I was also successfully able to claim an EC2 instance to Netdata Cloud.

[code]

<img width="1312" alt="Screen Shot 2020-08-24 at 20 48 47" src="https://user-images.githubusercontent.com/1290234/91036819-5585f700-e64b-11ea-866f-63fbef24d9a5.png">

[2020-08-24 10:51] dim08 commented on #6509
@thiagoftsm please do so

[2020-08-24 10:52] prologic commented on #9624
@rdifrancesco If there's something you'd like me to try on my end to help you debug this I'll leave this EC2 instance up for a few days...

Nothing special here; just an ordinary EC2, mostly with defaults. Ran the same command you did above to install the Netdata Agent, then followed the instructions on [app.netdata.cloud](https://app.netdata.cloud) in one of my War Rooms to claim it.

[2020-08-24 11:41] mfundul commented on #9743
The issue is not solved yet. What's happening here is the following:
- Alarm notifications used to be synchronous and inside the host-lock.
- Health reload held the host lock, which implicitly waited for all outstanding notifications of that host to finish.

Now this doesn't apply anymore. Holding the host lock during health-reload does not guarantee that all notifications of this host have finish

[2020-08-24 11:44] mfundul commented on #9743
Another more drastic and brute force idea is to preempt all health during health reload, by using a write-lock instead of `rrd_rdlock();` in `health_reload()`.

[2020-08-24 12:17] Ferroin commented on #9671
Do you possibly have multiple versions of OpenSSL installed? Usually stuff like this crops up when trying to build on a system which has multiple API incompatible versions of OpenSSL (for example, 0.9 and 1.1) installed at the same time.

[2020-08-24 12:19] #9705 closed

[2020-08-24 12:24] Ferroin commented on #9763
Sorry about the delay in responding.

It looks like this is probably a duplicate of #8782 and will thus probably be fixed by #8808

[2020-08-24 12:49] amoss commented on #9803
The details are in https://github.com/netdata/netdata/tree/master/libnetdata/storage_number

From my reading of the code I think the rationale behind it was two-fold:
* To save enough space to store some flags within the 32-bits.
* To provide nicer rounding modes for the values on the charts.

The large steps are caused by the range hitting a region where it needs to set the `SN_EXISTS_100` flag,

[2020-08-24 12:57] lucasRolff commented on #9803
If it ain't possible to get accuracy closer than 100 apart when using "big" numbers, then what's the workaround? If we have metrics that are based e.g. on the unix timestamp (serial in DNS for example) or just any other really large number, then we'd have a hard time ever measuring changes in Netdata.

In my particular case, I'm having a bunch of cronjobs to use the Prometheus PushGateway to make

[2020-08-24 13:05] amoss commented on #9802
I get similar alerts from production servers. That alarm works by taking the current rate of disk-fill and projecting it forwards to see when the limit will be reached. The problem that I've seen is that it cannot know how long to average this measurement over  so if there is a burst of disk writes that fill the sample window for the alarm then it (correctly) predicts that the disk will fill if th

[2020-08-24 13:09] amoss commented on #9801
The public IP address is not used to identify the child nodes - the hostname is used. If all four child nodes have the same hostname then they will not be shown as different nodes. There is an explicit setting in the `netdata.conf` that can be used to override the hostname for an agent if this is the problem.

Another possibility is that the four nodes all have the same `GUID` (perhaps they were c

[2020-08-24 13:15] thiagoftsm commented on #9743
@mfundul I understood what you are saying, and I will work on this soon, but I think the work around must be kept, because we will continue storing the flags, and we should schedule commands only if they have a valid `exec_spawn_serial`.

[2020-08-24 13:20] amoss commented on #9796
There is a problem with the code in the jsfiddle (@jacekkolasa / @joelhans ) please take a look. It seems to be something different to the report above. @Unfairz - the json output that you posted is part of the respone to an `/api/v1/info` request but something has removed the quotes from the output which is why it does not validate. That is not the format returned by the agent.

[2020-08-24 13:23] amoss commented on #9803
@mfundul / @stelfrag Do you have any ideas?

[2020-08-24 13:33] Ferroin commented on #9794
Personally, my suggestion for the structure would be to allow each job to define one set of conditions to monitor, and then have a key for a list of paths to check.

Something along the lines of (borrowing existing Go plugin conf syntax):

[code]

I wouldn't differentiate between file/dir for the things we can monitor, would suggest using raw dirent counts instead of explicitly trying to handle th

[2020-08-24 13:42] thiagoftsm commented on #9799
Hi @PatTheMav ,

How did you install your Netdata? I would like to repeat the same steps to be sure I can repeat the error that you are reporting.

In normal situation it is expected that `ebpf.plugin` only collects TCP data, and in a near future we expect it doing UDP requests, considering that we do not have any TCP request inside it, it is possible that is related with other process, please, pa

[2020-08-24 13:44] PatTheMav commented on #9799
@thiagoftsm Default kickstart script iirc:

[code]

All I did after was enable/disable my desired plugins.

[2020-08-24 13:55] GemzzK commented on #9801
If i have to set GUID for multiple host behind same ip. how this can be achieved. Currently, im using API key for all hosts and the hosts behind same ip are having this issue. So, i thought of using GUID but im not sure how this can be done. I need to know which settings i have to modify to achieve tihs.

[2020-08-24 16:47] TheOldMan2000 commented on #9763
Thank you, much appreciated.

[2020-08-24 17:48] roedie commented on #9801
The API key can be the same for all hosts. I have that as well. The settings you post above are not going to help you. You need to figure out why only one hosts can connect. So, please have a look at my first reply.

[2020-08-24 18:19] nodiscc commented on #9794
I think it should be one generic module which handles all kinds of filesystem objects using `stat()` (unless that introduces unnecessary complexity for the configuration or maintenance...)

Another useful feature would be counting the number of lines in a file matching a regex (which should be disabled by default). For example I would like to count the number of `warnings`, `error`s and `suggestio

[2020-08-25 05:10] #9707 closed

[2020-08-25 05:11] #9791 closed

[2020-08-25 05:25] #8782 closed

[2020-08-25 05:25] #9763 closed

[2020-08-25 07:33] amoss commented on #9743
I agree with the need for a new lock, but this approach sounds dangerous. I assume that it would be happening during a period that new alarms could trigger - how can we be sure that the reload will terminate?

[2020-08-25 07:40] mfundul commented on #9743
Since this particular host is locked, you only need to wait for alarm entries of this host, which would terminate. But it's probably best to quiesce health as a whole, the same way streaming does when it adds a new child, which is by taking the global lock.

[2020-08-25 08:05] amoss commented on #9743
We don't know how long any external scripts will take to execute so the length of the delay is unbounded. What is the effect of deliberating blocking health for an unknown length of time - which parts of the system will be suspended?

[2020-08-25 08:24] stelfrag commented on #9803
I think the main idea was saving memory (and integers are easier to work with) with an "acceptable" precision loss (in most cases).

- Changing the storage number (now 4 bytes) will impact memory usage (e.g 2000 metrics now need about 8Mib of memory for ~17 min of data).

Say we go to 8 bytes (either a similar 64bit enhanced compaction or float that plays well on all systems)
- It will break compa

[2020-08-25 08:27] mfundul commented on #9743
Well, taking the host lock can potentially lock out all the collectors. However, this is not a regression, since this was already the case before introducing the spawn server. That is, health reload waited for all external scripts to finish executing **serially**. With the spawn server we have the opportunity to run those scripts in parallel.

[2020-08-25 08:32] mfundul commented on #9803
Changing the internal number representation will affect the users in the following ways:
- Breaks compatibility of persisted metrics on disk for all persistent memory modes.
- Halves the retention period for the same amount of memory/disk space.

As far as development goes, we would need to refactor the agent to be able to function in 2 modes, 32-bit and 64-bit internal number modes. This could po

[2020-08-25 08:35] amoss commented on #9743
It might not be a regression, but it is still a problem. Some of the notification scripts wait for network delays of unpredictable length.

An alternative would be to stop new notifications, i.e. introduce a new state for the alarm to indicate that the notification has not yet been made. Any new alarms during the quiescence period could be put directly into the log with this state. Once the curren

[2020-08-25 08:37] fzyzcjy commented on #9774
By the way, IMHO, I may also need to hint the port to be scraped somewhere (e.g. in the annotations)

[2020-08-25 09:08] amoss commented on #9803
So the summary is that what looks like a small change on a chart is a fundamental rewrite of Netdata. It would improve the use of Netdata against arbitrary metrics coming from Prometheus but given the huge amount of development work involved I cannot estimate the benefit vs the cost of the change. I think @cakrit should be involved in the discussion (although he is on vacation so there won't be an

[2020-08-25 09:43] stelfrag commented on #9743
This could be a just in memory information to "mark" a list of alarms as pending. It may need to handle cases when the health reload disables (simple) / reconfigures (harder) an alarm that was marked with the indication to be send later.

This shouldn't necessarily go to the health-log.db because the health reload does not cause a `health-log.db` reload (it's in memory). If i goes to disk, then it

[2020-08-25 10:02] stelfrag commented on #9802
I will play a little bit with it but in general it does what it is supposed to do.

The assumption here is that the fill rate is "expected regular system activity". Any spikes will throw it off.

So if at 3am there is a job that:

- Fetches 500MB from the internet
- Processes and produces 2.5 GB of data in the next 40 mins
- Processes the data and outputs a final report file of just a few KBs
- De

[2020-08-25 10:50] jacekkolasa commented on #9035
Thanks a lot for the screens, and information! I wasn't aware that other packages are hosting our old dashboard. We normally don't support 3rd party packaging, but a smaller fix was possible here, so I've made a pr. To test it you can get the main.js file from https://github.com/jacekkolasa/netdata/blob/9035-fix-old-dashboard-3rd-party-packaging/web/gui/main.js and put it in proper location (typic

[2020-08-25 11:22] jacekkolasa commented on #9477
@ilyam8 on dashboard there is no time manipulation, other than time zone. But this is not the issue here since we don't see time zone abbreviation near the time. The time and date come directly from /data call. Perhaps the server has wrong clock?

[2020-08-25 11:32] ilyam8 commented on #9477
I asked

Since we have no answer and this could be related to some old bugs i suggest to close it until we have more feedback from @yasharne

@yasharne if the probem is not fixed in latest we will reopen the issue

[2020-08-25 11:32] #9477 closed

[2020-08-25 12:00] amoss commented on #9743
How should this interact with the graceful shutdown sequence to prevent duplicate alarms, but ensure delivery?

[2020-08-25 12:01] stelfrag opened #9815 "SQLite POC 2"
#### Summary
Following the investigation done in #9658

We need to investigate more on the usability of the sqlite library

- Support the rest of the pluginsd language commands (CHART, HOST)

Note that support of those two commands will allow us to rewrite the archivedcharts endpoint so that it will use just two queries in the database.
- Query to scan all charts, ordered by chart_uuid
  - Query t

[2020-08-25 13:11] jacekkolasa commented on #9796
The output from `format=datasource` is actually not JSON, but a format prepared specifically for Google Charts. You can see it for example in the response from https://london3.my-netdata.io/api/v1/data?chart=system.cpu&after=-60&format=datasource&options=nonzero. We don't use that library in our standard dashboard, so that functionality is not well known. I will need some time to figure out what i

[2020-08-25 13:16] Unfairz commented on #9796
Thank you for your time looking into this!

I have been using Google Charts mainly due to the fact that I wasn't aware ot the Dashboard JS option, which I will surely look into now as it seems much nicer to deal with. :rocket:

Thank you for your time once again.

[2020-08-25 14:22] Ferroin commented on #9558
@skibbipl Can you please confirm if this is still an issue? We've made a lot of changes to the installer code recently and it may be fixed as a result.

[2020-08-25 14:41] stelfrag commented on #9743
Assuming that the agent is running and eventually the notification will unblock (no other fatally blocking issues)
- What if it unblocks after 10 minutes?  Is the alarm queue for that event still valid?. Suppose we have queued
  the following alarms (oldest alarm on the left)

  CLEAR -> WARNING -> CLEAR -> CRITICAL -> CLEAR -> WARNING -> CRITICAL -> CLEAR

  Do we send them all?

If we decide how

[2020-08-25 15:10] tinyhammers commented on #9002
Hey guys...
+1 for this from me too.
I've removed the node from the War Room, and deleted the `/var/lib/netdata/cloud.d` directory, but I'd like to be able to remove it completely from the Space, as I'm trying to automate deployment with Ansible, so need to keep re-running my playbooks, but I'm getting the already claimed error as well.

[2020-08-25 15:48] lucasRolff commented on #9803
So based on the info from @stelfrag - it would mean ~ 8Mib for 8 minutes of data, containing 2000 metrics.

While doubling memory on embedded devices or super tiny machines, I can see this being a problem.

On one of my smaller systems (2GB RAM), Netdata is currently using 52MiB of memory (26MiB private, 26MiB shared), it keeps 900 seconds of metrics (15 minutes), and collects 1819 metrics every s

[2020-08-25 17:26] Ferroin commented on #9168
We need special casing on CentOS 7 for this, as the correct name is 'python36-pymongo'.

I cannot easily verify on Cloud Linux as they don't appear to provide free developer access of any kind.

[2020-08-25 17:31] Ferroin commented on #9168
`pymongo` does not appear to be the only package we're mishandling here. I'm going to just make a full pass over the python3 stuff for CentOS-like systems so that we have proper RHEL and CentOS overrides for all of them.

[2020-08-25 17:38] mbarper opened #9816 "Detect OOM killer over an app"
##### Question summary

It is possible to detect with Netdata when the OS perform a OOM killer action over a running application?

##### OS / Environment

Ubuntu 18, CentOS7

##### Component Name

Netdata, maybe a Netdata plugin

##### Expected results

Get a metric with the OOM killer instances happened or a way to know some app is being killed.

[2020-08-26 02:01] oleotiger opened #9818 "What to do if I wanna use collector only?"
If I wanna use collector only to get metrics and information about my system/service/app, what should I do?

Can I have a main function as interface with `-h` printing help infomation?

What if I wanna to control collector flexibly? For example, get all metrics 1 time and after 5s get another round of all metrics.

[2020-08-26 05:13] prologic commented on #8602
@Ferroin I'm assigning this to you as I _believe_ the work you are doing to bundle libjudy will also solve this issue. 🙇‍♂️

[2020-08-26 06:19] skibbipl commented on #9558
`netdata-v1.24.0.gz.run` seems to be working fine for offline installation.

[2020-08-26 06:19] #9558 closed

[2020-08-26 09:03] Ancairon commented on #6133
I digged a little into the processes.conf file and figured I would try and alter it to calculate percentages. Here is what I came up with (for the linux os part):

[code]
Will this work or it will still be hardcoded cause I use `used`?

Excuse me if I'm wrong, I am kinda new here🙂

[2020-08-26 09:38] vlvkobal commented on #7947
What version of `json-c` is installed on your machine? Please upgrade it to 0.14. My FreeBSD 11.3 VM with working Netdata v1.24.0-123-ga11d33bb reports
[code]

[2020-08-26 11:01] Ferroin commented on #8602
Yes, it should be fixed by #9776 (and I've already got a 'Fixes' tag there for this issue).

[2020-08-26 12:30] yasharne opened #9821 "Netdata parent web stops working after a while"
##### Bug report summary
After upgrading our parent servers to version `1.24.0`, every few hours, we lost metrics on the grafana dashboards and few minutes later we start to get lots of `last collected` indicating children cannot send metrics to the parent.
The children are not `v1.24.0` and They range from `1.20.0` to `1.23.0`.
Here is an error log I found in the logs which seems related:
[code]

[2020-08-26 12:30] merspieler opened #9822 "Question: Getting Netdata to reload psql database list"
##### Question summary
I've got an application, which creates and destroys psql databases on demand.
Netdata lags behind, when it comes to displaying new databases as well as shows dropped databases as warnings. How do I get netdata to stay up-to-date with the changes on the databases?

It seems to me, that netdata only reads the lists of databases at startup.

Dropped databases stick around and g

[2020-08-26 15:28] mailinglists35 commented on #9322
there is a 10mb libleak output, running since starting with libleak
I don't understand what it means, but I've uploaded if you wish to examine.
[libleak.zip](https://github.com/netdata/netdata/files/5130802/libleak.zip)

[2020-08-26 17:38] Ferroin opened #9824 "Build failures on Arch Linux due to system not being up to date."
Minimal reproducer:

1. From the Netdata source directory, start an Arch environment with `docker run -it --rm -v $PWD:/netdata archlinux:latest /bin/bash`
2. Run `/netdata/packaging/installer/install-required-packages.sh --dont-wait --non-interactive netdata-all`
3. Run `cd /netdata && autoreconf -ivf && configure`

The configure script will fail to find libuv, however `pkg-config --modversion li

[2020-08-26 18:26] Zorgji commented on #9741
![Screen Shot 2020-08-27 at 12 54 15 AM](https://user-images.githubusercontent.com/36134132/91341702-ea315600-e7ff-11ea-9b41-01aeee42c284.png)
[code]

[2020-08-26 18:26] #9741 closed

[2020-08-26 18:48] jacekkolasa commented on #9796
@Unfairz I'm glad that option is ok for you! We shouldn't have not working docs, for sure.

Re: jsfiddles, something is wrong with that usage of Google Charts, maybe their api has changed, or we broke something? Anyway, this use case is very old, we shifted our efforts to `data-netdata=""` charts (static custom dashboards), and dygraph charts instead of google. Also that version of Google Charts i

[2020-08-26 21:22] stelfrag commented on #9815
##### Update
- Limited initialization of the dimension structure is in place
  - Dimension memory is released when the query is done
- Chart creation in place (values stored in the database)
  - Joined queries are now possible between the chart and dimension tables (on chart_uuid)

[2020-08-26 21:23] joelhans commented on #9796
@jacekkolasa Yeah, let's remove that information, as it's not really a supported use of the API any more. I'll make a PR for it momentarily.

[2020-08-26 23:48] kdy1968 commented on #7947
yes i have verified that info:
pkg info json-c
json-c-0.14
Name           : json-c
Version        : 0.14

i also tried to remove and reinstall that package..

i found this thread https://github.com/netdata/netdata/issues/7030
the error is slightly different
results of ldd /usr/local/sbin/netdata

        libm.so.5 => /lib/libm.so.5 (0x8008ee000)
        libz.so.6 => /lib/libz.so.6 (0x800b1e000)

[2020-08-27 03:33] Odroid-Dude commented on #9660
I'm getting the same error on macOS (mojave) after running.
`sudo LDFLAGS="-L/usr/local/opt/openssl@1.1/lib" ./netdata-installer.sh --install /usr/local --disable-telemetry --require-cloud`
I was running that because after trying o install via Homebrew I was receiving error `netdata-claim.sh: command not found` when trying to claim a node in netdata_cloud. From here [https://github.com/netdata/net

[2020-08-27 04:07] yasharne commented on #9821
After downgrading the parent to `v1.23.2` everything seems fine.

[2020-08-27 05:29] prologic commented on #9660
This worked fine for me on macOS Catalina 🤷‍♂️ I don't easily have a way to test this on an older macOS version. Some help would be appreicated by the community here.

[2020-08-27 05:47] stelfrag commented on #9658
POC 2 in #9815

[2020-08-27 05:47] #9658 closed

[2020-08-27 06:09] joshuabeny1999 opened #9827 "Netdata still sends notifications to telegram, but notification is set to slient"
##### Bug report summary

I enabled Netdata on my servers and disabled the disk_space time notification. Due it will fire every night for my backup disk.
![image](https://user-images.githubusercontent.com/55023662/91394672-fa1a5b80-e83a-11ea-8f69-2652ac2be56f.png)

But I still get the notifications via Telegram:
![image](https://user-images.githubusercontent.com/55023662/91396029-6006e300-e83b-11e

[2020-08-27 07:52] amoss commented on #9322
Interesting answer. So the leaks detected are not from the Netdata agent (the main process written in C). They are from the external python.d collector. A typical entry looks like this:
[code]
The leak report is a C-level view of the python interpreter, rather than a view of what is happening at the python-language level, so we can't see what is leaking inside the python collector. What we are sho

[2020-08-27 07:59] vlvkobal commented on #9799
Please make a screenshot of the `ipv4.tcphandshake` chart after Netdata restart.

What is the output of `sudo tcpdump -n 'tcp[tcpflags] & tcp-rst != 0'`?

[2020-08-27 08:02] ilyam8 commented on #9322
That callstack says nothing to me unfortunately.

[2020-08-27 08:09] amoss commented on #9821
@mfundul The main difference between 1.23.2 and 1.24 would be the multihostdb and the problem seems to be related to the number of file descriptors.

[2020-08-27 08:10] davidmehren opened #9829 "Curl error while running netdata-updater"
##### Bug report summary
I'm running netdata nightly on a number of hosts. This morning, I got a cron mail from each of them, as `/etc/cron.daily/netdata-updater` seems to output either `curl: (3) <url> malformed
` or `curl: (3) URL using bad/illegal format or missing URL` to stderr.
Running `netdata-update` manually yields (the output seems to be the same on all hosts affected, just with the diff

[2020-08-27 08:25] mfundul commented on #9821
But netdata is only using 280 file descriptors of the 65536 available here.

[2020-08-27 08:25] kimmoahola commented on #9829
I have the same problem, appeared today. I have the same `Current Version: 001024000128`. Using debian 10.

[2020-08-27 08:30] mfundul commented on #9821
@yasharne are you limiting netdata to 280 file descriptors?

[2020-08-27 09:06] mfundul commented on #9821
@yasharne version 1.24 introduces the multihost DB, so take a look [here](https://github.com/netdata/netdata/blob/master/database/engine/README.md#legacy-configuration) if you haven't.

In theory, multihost DB will use much fewer file descriptors than versions < 1.24. However, there are also the legacy dbengine instance folders, which are kept in the netdata cache for backward compatibility. You c

[2020-08-27 09:38] mfundul commented on #9363
@gaia do we have any updates on this? Should I close this issue?

[2020-08-27 09:43] tinyhammers opened #9830 "ARGH! Segfault"
Hey guys...

For some reason this morning, my Netdata master box is not playing at all nicely.
From what I can see, Netdata is segfaulting.
I'm getting this error
[code]
That is from `dmesg`

Have you come across this before? I'm not too sure what to do.
I have updated to 1.24.0, but the error is persisting.

[2020-08-27 10:26] tinyhammers commented on #9830
UPDATE:
Yesterday I updated a bunch of nodes to v1.24. Myself and my boyzzz have been looking to see if there are any discrepancies and running `curl 'http://127.0.0.1:19999/api/v1/info' |grep -A30 label` has shown that the virtualization value is null on the updated machines.
[code]

[2020-08-27 10:28] tinyhammers commented on #9830
UPDATE UPDATE:
Looks like its this issue https://github.com/netdata/netdata/pull/9715
I'm going to try pulling that fixed file to the boxes I updated yesterday, hopefully that should do it, so mebbe that file just needs merging into the release.
I'll update you when its done.

[2020-08-27 10:59] vlvkobal commented on #7947
I can reproduce the error on both FreeBSD and PfSense. `http://pkg.freebsd.org/FreeBSD:11:amd64/latest/All/netdata-1.24.0.txz` is broken:
[code]
@Ferroin @prologic can we do anything about the broken package?

@kdy1968 Please remove the netdata package and install the following one:
[code]

[2020-08-27 11:03] #9824 closed

[2020-08-27 11:17] #9626 closed

[2020-08-27 11:25] amoss commented on #9830
That fix went into the nightly after the release so grabbing the latest nightly may fix your problem.

[2020-08-27 11:27] #9521 closed

[2020-08-27 11:38] Ferroin commented on #9829
Root cause is https://github.com/netdata/netdata/commit/11c610af7417ffa8903b40f940a94b4099b4eab7. I'll have a PR up to fix this shortly, which should be merged either tomorrow or Monday.

Once this is fixed however, you're unfortunately going to need to manually handle the update to get it tow work, either by uninstalling and reinstalling Netdata, _or_ by manually running the updater script with `

[2020-08-27 11:49] Ferroin commented on #9829
Slight clarification, anybody affected by this will have to manually update _after the next nightly build after this gets fixed goes out_ to get updates working again.

[2020-08-27 12:28] tinyhammers commented on #9830
Jaysus. So that was a mission. Thought I'd sorted it but I missed machine somewhere and it kept crashing.
Found it and updated the file and its all working now, so can confirm that has fixed it.
Cheers chaps 😃

[2020-08-27 12:31] #9830 closed

[2020-08-27 12:39] ilyam8 commented on #6402
@vlvkobal this could be fixed by changing `bug` label to `feature request` 😉

[2020-08-27 13:00] ilyam8 commented on #9829
If updated should work when running manually - it doesnt work after the #9831

[code]

[2020-08-27 13:00] vlvkobal commented on #7202
I'm able to reproduce the issue
[code]

[2020-08-27 13:16] Ferroin commented on #9829
@ilyam8 Is that specifically running the fixed version from #9831, or is that a copy you had already installed?

[2020-08-27 13:20] ilyam8 commented on #9829
yes, i had that output before #9831 and have it after #9381

[2020-08-27 13:39] ilyam8 commented on #9322
If it is python then `python.d.plugin` mem chart (`Applications` section) would show it. If it is the case then we need list of running py collectors 🤷‍♂️

[2020-08-27 13:41] ilyam8 commented on #9387
I doubt we want to add it to bash/node.d plugins

[2020-08-27 13:41] #9387 closed

[2020-08-27 13:51] Ferroin commented on #9829
Looks like #9381 did not, in fact, fix this. I'm not sure what's actually wrong here, but I'm reopening this until it is properly fixed.

[2020-08-27 13:52] wccropper opened #9833 "exporting metrics sent - health alarms"
##### Question summary
Moved from backend to exporting.conf. Now receiving alarms:
`exporting metrics sent = -
percentage of metrics sent to the external database server`
It is unclear what is causing this and how to keep it from happening.
##### OS / Environment
CentOS7
##### Component Name
netdata.exporting alarms
##### Expected results
No new alarms after the move to exporting. Hundreds of emai

[2020-08-27 13:55] vlvkobal commented on #6402
We had a discussion with @ilyam8. I'm closing this since it is a very low priority issue and it will most likely be fixed during the next refactoring of `pluginsd`.

[2020-08-27 13:55] #6402 closed

[2020-08-27 14:07] Ferroin commented on #9829
OK, _actually_ figured this out now, #8808 missed one place we were using a variable that it renamed. PR will be up shortly.

[2020-08-27 14:44] underhood commented on #9109
The changes were for Mosquitto not LWS. I can't remember the reason anymore but there was no attempt to get the changes upstream.

[2020-08-27 15:04] vlvkobal commented on #7202
This happens because of the existence of
[code]
The `FATAL` label is not that serious as it sounds. The `fatal()` call just cause `cgroup-network` helper to exit with an error.

[2020-08-27 15:11] ilyam8 commented on #5945
@dancvrcek if you could provide guide how to setup an env with mysql8 and group replication (docker i think) it would be nice.

[2020-08-27 15:13] #9796 closed

[2020-08-27 15:23] joelhans commented on #8779
I have access to a k8s cluster again, so I'll be experimenting with claiming and figuring out how to best document the process.

[2020-08-27 15:47] #9829 closed

[2020-08-27 16:02] Ferroin commented on #9829
OK, this is actually fixed now.

Users who are affected by this issue need to wait until the next nightly build is published (it should be fully published by 2020-08-28 01:30 UTC, the below options will _technically_ work before then, but the next update will fail the same way and you'll have to fix it again), and then can use one of three approaches to manually fix this:

* Download the fixed upd

[2020-08-27 17:59] yasharne commented on #9821
@mfundul as I mentioned previously, we have fd limit of `65536` and I have tried both new multi-host DB engine and legacy dbengine configuration and both had the same issue

[2020-08-27 18:24] webash commented on #7133
I haven't had a reply to the May 2020 email and my follow-up a month or so ago. All OK?

[2020-08-27 18:34] cryptoluks commented on #7133
Same here (April).

[2020-08-27 19:17] thiagoftsm commented on #9818
Hello @oleotiger ,

Netdata allows you to enable only the collectors you want, but we start all to simplify users' life. To disable collectors you can set inside your `netdata.conf` the option  `enabled = no` for all collectors that you do not wanna see data.

Best regards!

[2020-08-27 19:50] thiagoftsm commented on #7947
Hi guys,

This is a well known problem, every time that FreeBSD updates json-c we have it. I remember I made a [quick fix](https://github.com/netdata/netdata/pull/7041) in the past.

A simple quick fix would be to create the necessary symbolic link, but this is not the final fix for the problem.

Best regards!

[2020-08-27 19:52] jlbriston commented on #7133
Hey @webash & @cryptoluks sincerest apologies! We are more than happy to resend your gift. To ensure delivery, can you please email rewards@netdata.cloud with the following info?

- First Name
- Last Name
- Email
- Phone
- Full Shipping Address (including city, state, zip, & country)

Thank you again for your contributions!

[2020-08-27 20:00] #7202 closed

[2020-08-27 20:09] Izorkin commented on #7133
Hi. I also do not have an answer to the mail. I sent the mail again.
Thanks.

[2020-08-27 21:54] vsc55 commented on #7133
Hi,
I sent the data a couple of months ago and nothing has arrived.
Is it normal that the shipment takes so long?

[2020-08-27 23:59] djmattyg007 commented on #9035
A lot of people are absolutely going to prefer installing a package provided by their distribution over an installation script provided by a software maintainer. If my distribution (eg. Arch) provides a package for something, 99.99% of the time I'm going to use that instead of installing the software manually. Doing so provides a clear managed path for upgrades, and a central point of trust for wh

[2020-08-28 00:04] carehart commented on #7133
FWIW, I had done the same, back on 5/5, send to the rewards@netdata.cloud <mailto:rewards@netdata.cloud>  address. I can send it again.

BTW, I didn’t press about it a) because of covid and b) because it was just a nice gesture from you, but I share this now like others here in case it’s a helpful datapoint, if something unexpected is amiss.  :-)

/charlie

From: Javier Pastor <notifications@githu

[2020-08-28 00:32] kdy1968 commented on #7947
@vlvkobal thanks i went back to 1.23.1,,as i wasnt sure what to link..netdata is running again, to the original question, i did have some cannot allocate memory errors in the log previously, i ran the limits command, which showed memorylocked         infinity kB...

[2020-08-28 03:11] prologic commented on #9035
Our _own_ packages we can easily fix. @Ferroin  Do you know if we need to do anything here?

Any _other_ packages maintained by the community need "community reach-out". cc @zack-shoylev

[2020-08-28 03:56] prologic commented on #9782
I am closing this due to inactivity. EC2 is well documented. If you are still having problem please feel free to comment or open a new specific issue related to your problem.

[2020-08-28 03:56] #9782 closed

[2020-08-28 04:01] #9772 closed

[2020-08-28 04:12] prologic commented on #9671
@Ferroin is right and this is [documented here](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/source#linking-errors-relating-to-openssl) as such I am closing this issue. Please refer to the documentation. Alternatively please consider [Installing the static version](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kickstart-64).

[2020-08-28 04:12] #9671 closed

[2020-08-28 07:08] vlvkobal commented on #9833
![image](https://user-images.githubusercontent.com/22008543/91531482-8731e300-e915-11ea-8af9-a3e0f732a0db.png)
You receive the alarm when not 100% of metrics were sent to an external database.

Look at `netdata.exporting_<your_instance>_metrics` chart in "Netdata Monitoring" -> "exporting <your_instance>" section in the dashboard menu.

[2020-08-28 07:11] amoss commented on #9821
@yasharne Is it possible for us to take a look at the full `error.log` for a parent node? If you are willing to share it then you can email it to either mfundul@netdata.cloud or andrew@netdata.cloud so that we can try to diagnose your issue.

[2020-08-28 08:23] mickae1 commented on #7826
hi,I would like to know if there is a script to generate a deb file ?

[2020-08-28 08:35] amoss commented on #7947
Our packaging has changed a bit since that fix by @thiagoftsm and the latest versions of netdata build a local copy of json-c and then statically link it into the binary to avoid problems. If we do not maintain the external port then we cannot fix it - can you build directly from source instead?

[2020-08-28 10:09] #9043 closed

[2020-08-28 10:09] #9371 closed

[2020-08-28 10:09] #9386 closed

[2020-08-28 10:09] #9659 closed

[2020-08-28 10:11] jacekkolasa commented on #9043
@xPaw thanks for your help and reminders, the fix will be in nightlies in several hours, and in next stable release.

[2020-08-28 10:14] jacekkolasa commented on #9659
@ilyam8 fix is merged. Your precise ticket helped a lot fixing few things related to auto-scaling, big thanks!

[2020-08-28 10:15] jacekkolasa commented on #9371
@amichelic @nodiscc thanks for your input! The fix is merged and will be added in next release

[2020-08-28 10:16] jacekkolasa commented on #9386
@NoahTroy you were absolutely right, d3pie was not using auto-scaling properly, fix is merged, thanks!

[2020-08-28 12:18] manos-saratsis commented on #9762
@Ferroin @prologic I had this issue with a fresh Debian 10 VM:

root@debian-2gb-nbg1-6:~# uname -a
Linux debian-2gb-nbg1-6 4.19.0-10-amd64 #1 SMP Debian 4.19.132-1 (2020-07-24) x86_64 GNU/Linux

Steps to reproduce:
root@debian-2gb-nbg1-6:~# history
    1  bash <(curl -Ss https://my-netdata.io/kickstart.sh)
    2  sudo netdata-claim.sh -token=I37g*******
    3  ${NETDATA_PREFIX}/usr/libexec/netdata

[2020-08-28 12:41] vlvkobal opened #9840 "Installation script is broken on FreeBSD and macOS"
##### Bug report summary
There is an error on FreeBSD after #9797 has been merged:
[code]

On macOS:
[code]

##### OS / Environment
[code]
[code]

##### Netdata version
netdata v1.24.0-73-g257856e7

##### Component Name
installation script

##### Steps To Reproduce
Run `./netdata-installer.sh` on FreeBSD or macOS.

##### Expected behavior
Netdata can be installed from the sources on FreeBSD and ma

[2020-08-28 12:41] Ferroin commented on #8602
#9839 will fix the pymongo error mentioned here.

[2020-08-28 12:44] Ferroin commented on #9840
Huh, apparently `/bin/echo` on macOS and FreeBSD is not POSIX compliant...

[2020-08-28 12:45] Ferroin commented on #9840
No, NVM, I misunderstood POSIX compliance requirements for `/bin/echo` when writing the code...

[2020-08-28 12:50] geraldo-netto opened #9841 "Migrating data from native/standard NetData database to MongoDB"
##### Question summary
Dear Friends, I'm trying to migrate all metrics from native/standard NetData database to MongoDB
and I could not find a specific tutorial on it which makes me guess that there is no straight forward process to do it
Do you happen to have by any chance, any suggestion on how to do it?
I'm interested not only in writing the new/real-time data that I saw I can do with the expor

[2020-08-28 12:50] jlbriston commented on #7133
Hey all! Our sincerest apologies on not receiving your gifts, we've made a few changes over the months and this was caught up in the mix.

To ensure delivery we need the info. below, if you've emailed this previously, we also need your **phone number** as we're shipping globally and this will make sure you get your items :)

As always, we love our community and the contributions you've made. Thank

[2020-08-28 13:07] Komic commented on #2737
Hi guys, I hope you don't mind me bumping this one. Keep it up! 💯

[2020-08-28 14:21] thiagoftsm commented on #9841
Hello @geraldo-netto ,

To export all the data to a MongoDB, you can follow this [tutorial](https://learn.netdata.cloud/docs/agent/exporting/mongodb) and of course, if you have any other doubt, please let us know.

Best regards!

[2020-08-28 14:25] geraldo-netto commented on #9841
Hello @thiagoftsm ,

But will it synchronize MongoDB with past values?
As far as I understood, if the exporter is configured, it will start pushing data from now on, not the past data
Or am I missing something?

Thank You Very Much :)

[2020-08-28 15:00] thiagoftsm commented on #9841
Hello @geraldo-netto ,

Unfortunately this won't do synchronization, Netdata is starting to work with synchronization on streams, but is a working in progress, for sure it is a good idea to also have this for exporting and  I will talk with our team (@vlvkobal , @amoss and @dim08 ) about this.

For while, until where I know, we only export from the moment the exporting is configured.

On the other

[2020-08-28 15:10] #9841 closed

[2020-08-28 15:26] OdysLam opened #9846 "netdata-swagger.json produces error in Swagger Editor"
Swagger editor: https://registry.my-netdata.io/swagger/#/
Source file: https://github.com/netdata/netdata/blob/master/web/api/netdata-swagger.json

Possibly the .yaml file could be affected as well.

[2020-08-28 15:27] OdysLam commented on #9846
![](https://github.trello.services/images/mini-trello-icon.png) [Fix netdata-swagger syntax error](https://trello.com/c/M0NDcAl3/55-fix-netdata-swagger-syntax-error)

[2020-08-28 16:15] fluxcap1 opened #9848 "pam_unix(sudo:auth): conversation failed"
I am running netdata (netdata-1.10.0-lp152.3.7.x86_64) on openSUSE_Leap_15_2. When I start the service I see these error messages in the service status -

[code]

The errors are last two lines, I can access the UI just fine. Do I need to configure pam for this?, if not how to fix this?

[2020-08-28 17:16] Ferroin commented on #9848
I'm fairly certain what you're seeingis an error message from one of the data collectors. A small handful of them need to use `sudo` to call out to the commands they use to get the data they collect, and like most of the other collectors they run a check at startup to see if they can run and then log an error if they can't.

[2020-08-29 02:01] fluxcap1 commented on #9848
netdata is running as netdata user and as a group member of netdata, wheel. I have set NOPASSWD in sudoers for the members of wheel group (this is not the best thing to do but in order to debug I did this. The error still persists. Why not use pam type setup similar to cockpit? Please let me know if you need more information, I will get back to you as soon as I can.

[2020-08-29 03:42] fluxcap1 commented on #9848
This issue is resolved after appending sudoers file -

[code]

[2020-08-29 03:42] #9848 closed

[2020-08-29 04:03] fluxcap1 commented on #9848
````pam_unix(sudo:auth): conversation failed````

exists.

[2020-08-29 07:54] greg-redefined opened #9850 "libwebsockets SSL errors trying to get 1.24 working on pfSense 2.4.5-p1 (FreeBSD 11.3-STABLE)"
##### Question summary
Not sure if I'm doing something wrong, or if this is a terrible approach... The desired end result is that I have netdata-1.24 running on my pfSense firewall, claimed with the cloud dashboard.

Since pfSense doesn't allow you to build packages directly on the system itself, I built a FreeBSD 11.3 system to build all the components. pfSense has its own [FreeBSD-ports repo](ht

[2020-08-29 19:20] #9121 closed

[2020-08-29 19:20] #9596 closed

[2020-08-29 19:20] #9561 closed

[2020-08-29 23:51] kdy1968 commented on #7947
installing via netdata-installer.sh and via bash <(curl -Ss https://my-netdata.io/kickstart.sh) all
results in:
Unable to find a usable temprorary directory. Please set $TMPDIR to a path that is both writable and allows execution of files and try again.

appears this is a know issue...
https://github.com/netdata/netdata/pull/9842

[2020-08-30 05:27] yasharne commented on #7133
Same here (January)
I just resent the email to `rewards@netdata.cloud`

[2020-08-30 05:32] yasharne commented on #9821
@mfundul I sent the email to mfundul@netdata.cloud

[2020-08-30 07:34] mfundul commented on #9821
Sorry @yasharne , this was the wrong e-mail. Please send it to markos@netdata.cloud

[2020-08-30 07:37] yasharne commented on #9821
@mfundul Done

[2020-08-30 08:08] mfundul commented on #9821
This looks like a combination of multihost DB in v1.24 and https://github.com/netdata/netdata/issues/8384. I would expect using the code from git master branch or the nightly packages would resolve this.

[2020-08-30 09:25] PatTheMav commented on #9799
@vlvkobal I finally managed to manually run that restart, here's the info you requested:

[code]

That is the only output from `tcpdump` that seems to be related to the restart, all other entries are external requests coming in to my server (it's a web server). There's also a 5-6 second gap before the next entry, which aligns with this graph:

![2020_08_30-tcp_handshake_chart](https://user-images.

[2020-08-30 12:48] fzyzcjy opened #9851 "Snappy/protobuf/... installation in docker image in order to use prothmethus remote write"
##### Question summary

Hi thanks for this wonderful lib! I am trying to use the [promethus remote write](https://learn.netdata.cloud/docs/agent/exporting/prometheus/remote_write) functionality, but it says that I need to install snappy & protobuf and re-install netdata from source. However, I do not see such dependencies in [the netdata dockerfile](https://github.com/netdata/netdata/blob/master/p

[2020-08-30 23:55] ysamouhos opened #9852 "Zookeeper plugin reports zookeeper[local] error on collecting 'mntr' : read line limit exceeded (500)"
It looks like there is an issue with zookeeper 3.6.1 (did not try earlier version)
mntr is whitelisted
# echo mntr | nc localhost 2181
[code]
# echo mntr | nc localhost 2181 | wc -l
541

So there is a limit of 500 entries in the reponse but 3.6.1 outputs more.. (at least 541 from above test)

[2020-08-31 04:00] prologic commented on #9660
I am closing this as I cannot reproduce this problem on either macOS nor CentOS 8. We actually have CI for the later, so _this_ very likely bois down to an environment problem. If you are still experiencing this problem on either platform, __please__ file a bug report with reproducible details we can verify and fix! Thank you. 🙇‍♂️

[2020-08-31 04:00] #9660 closed

[2020-08-31 04:03] prologic commented on #9624
I am closing this as stated above, We cannot reproduce this even on a live EC2 instance on AWS. If you are sitll having troubles with this, __please__ file a bug report with some reproducible steps we can verify and fix! Thank you. 🙇‍♂️

[2020-08-31 04:03] #9624 closed

[2020-08-31 07:00] ilyam8 commented on #9852
Hi @ysamouhos 👋

I see they added a lot of metrics, 3.5.5 versions [exposes much less metric](https://github.com/netdata/go.d.plugin/blob/master/modules/zookeeper/testdata/mntr.txt)

---

Indeed, there is `500` limit

https://github.com/netdata/go.d.plugin/blob/3bc3008cdd0ba84e81d00e993ff521248ccc7abb/modules/zookeeper/client.go#L113-L128

I will fix it

[2020-08-31 07:03] ilyam8 commented on #9821
https://github.com/netdata/netdata/issues/8949#issuecomment-638294959

[2020-08-31 07:23] amoss commented on #9821
Yes, I thought that might be the cause. The 0.5 hour part threw me a little but maybe the host timezone has an unusual definition of summer time?

[2020-08-31 09:00] yasharne commented on #9821
@amoss It is an EXT4 local disk

[2020-08-31 09:25] amoss commented on #9821
Why do the logs have no entries between the restarts - is the disk saturated so that writes are being dropped or is something else happening?

[2020-08-31 09:52] vlvkobal commented on #9851
@Ferroin, @prologiс, your comments are welcome 😉.

[2020-08-31 10:53] jacekkolasa commented on #9674
@xPaw No, unfortunately there is no option to specifically assign colors to dimensions. But if the order is always the same, you can override colors in dashboard_info.js, for example:

[code]

[2020-08-31 10:54] yasharne commented on #9821
@amoss I'm not sure if it is related to the disk, since we have 4 more parent netdata on the same Baremetal and all of them are working fine and as soon as I downgraded this parent to `v1.23.2`, the problem disappeared. (Other parents are `v1.23.0`)

[2020-08-31 11:30] mfundul commented on #9821
I think log flood protection.

[2020-08-31 11:32] TheWojtek commented on #9061
Built from source using
`$ brew install --build-from-source netdata `

- still no cloud dependencies. I assume it's not only netdata that needs to be compiled?

[2020-08-31 11:35] rickard-von-essen commented on #9061
@TheWojtek no like this 👉  https://github.com/netdata/netdata/blob/master/packaging/installer/README.md#automatic-one-line-installation-script

[2020-08-31 11:42] amoss commented on #9821
I didn't see the log protection messages but that is possible.

@yasharne If the problem disappears with the downgrade then it seems most likely that it is the combination of multihost DB and the flushing problem that @mfundul pointed to above. Does upgrading to the nightly that has the flushing fix in it work?

[2020-08-31 12:09] fzyzcjy commented on #9851
@vlvkobal @Ferroin @prologic Thanks!

[2020-08-31 12:49] TheWojtek commented on #9061
@rickard-von-essen This doesn't install the Homebrew version of Netdata, which is the whole point of this thread.

`Last login: Thu Aug 27 17:36:39 on ttys000

➜  ~ bash <(curl -Ss https://my-netdata.io/kickstart.sh)
/var/folders/cg/85crdrh11rxcrw1s5ppbk33w0000gn/T/netdata-test.XXXXXXXXXX.htxU2b6f: line 1: -e: command not found
/var/folders/cg/85crdrh11rxcrw1s5ppbk33w0000gn/T/netdata-test.XXXXXXXX

[2020-08-31 12:55] rickard-von-essen commented on #9061
@TheWojtek no it doesn't and he didn't say it would.

[2020-08-31 12:58] TheWojtek commented on #9061
@rickard-von-essen OK, thanks, I assumed that in a thread regarding Netdata from Homebrew the actual context is Homebrews "--build-from-source", not "generally build from source".
The script never worked on my Macs anyway, which is why I used Homebrew.

OK, seems it's a matter of sitting patiently until the relevant patches for the dependencies are included in the Homebrew repositories.

[2020-08-31 13:00] #9840 closed

[2020-08-31 13:02] #9750 closed

[2020-08-31 13:10] Ferroin commented on #9851
This is probably something we should add to our official Docker images. I actually thought we had it in them, but apparently i was mistaken.

[2020-08-31 14:45] scatenag commented on #9004
Okay, I should have been able to fix it.

The problem was that, since [`ldaps:// `is deprecated](https://www.openldap.org/faq/data/cache/605.html), I use TSL over `ldap://` with `start_tsl`;
that case is not covered by the code.

I added the option `use_start_tls` by `sudo ./edit-config python.d/openldap.conf` and managed them in  `/usr/libexec/netdata/python.d/openldap.chart.py` in [a PR](https:/

[2020-08-31 18:41] Pomdre opened #9856 "Editing cgroups alarm"
I have alarms from cgroups but can not find the alarm file under /etc/netdata/health.d/ Where can I find it?
Thanks 👍

[2020-08-31 19:52] thiagoftsm commented on #9856
Hello @Pomdre ,

For you have alarms defined inside `/etc/netdata/health.d/ ` you need to edit yourself or to used the script `/etc/netdata/edit-config`. When you do not have alarms inside this directory, this means that you are using stock alarms that are stored inside `/usr/lib/netdata/conf.d/health.d/`

Best regards!

[2020-08-31 20:11] #9856 closed

[2020-09-01 01:19] fzyzcjy commented on #9851
@Ferroin Thanks! Looking forward to see the new image :)

[2020-09-01 04:23] prologic commented on #9762
I am not able to reproduce this I've tried several ways from Sunday without success. Unless I have some _more specific_ steps I can try I will close this as "cannot reproduce".

[2020-09-01 05:00] prologic commented on #9851
Added to our backlog! Can't say exactly when we'll get to this, but hopefully soon as we're nearing the end of our "bug fix" rampage :)

[2020-09-01 05:03] prologic commented on #9061
Thanks for your patience! We _do_ plan to work on fixing/addressing this, but it is a non-trivial amount of work and I _think_ we would have to basically start having out own Homebrew tap that contains our dependences. Bare with us!

[2020-09-01 05:04] prologic commented on #9061
@Ferroin Added to "Refinement" so we can discuss how to approach this as per my comment above.

[2020-09-01 05:07] prologic commented on #9605
This is being fixed by #9776

[2020-09-01 05:33] rickard-von-essen commented on #9061
Don't think that would make a big difference. The only really good reason to have your own tap is that your formula doesn't follow the rules that `homebrew-core` has.

[2020-09-01 05:34] rickard-von-essen commented on #9061
I started to work on this yesterday a bit... I'll report back in a few days.

[2020-09-01 05:41] prologic commented on #9403
Not stale.

[2020-09-01 05:42] prologic commented on #9123
Not stale.

[2020-09-01 05:43] prologic commented on #7826
There is, but have you checked out [repo](https://packagecloud.io/netdata/netdata)?

[2020-09-01 05:46] mickae1 commented on #7826
I tried, but after adding the repo to my source list,

Apt-get update
Apt-get install netdata
Answer : no package exist with this name ..

Where is the script to create .deb package?

[2020-09-01 06:11] fzyzcjy commented on #9851
@prologic Thanks! Btw, could you please provide some advice if I need to do it myself? IMHO I will need to copy the official dockerfile, modify it, and build on my own

[2020-09-01 07:24] amoss opened #9857 "Group operation is sum instead of average"
##### Netdata version
All versions

##### Component Name
webapi

##### Steps To Reproduce
1. Execute a query where the group operation is set to average and the group size > 1.
2. The results are the sum of the values in the group

Example:
[code]

##### Expected behavior
The result should be the average of the values in the group.

[2020-09-01 08:33] mfundul commented on #9675
@marcelmfs if you see this problem again feel free to comment in this issue so that we can reopen it if needed.

[2020-09-01 08:48] amoss commented on #6015
I wasn't aware of this old discussion when I opened https://github.com/netdata/netdata/issues/9857.

For some metrics we currently interpret the request to calculate an average as a sum. This is wrong and needs to be fixed. If the user requests an average of the values over time in a time-series then we should either:

* Honor the request and calculate the average. The answer may not be meaningful

[2020-09-01 09:30] MaikStohn commented on #7327
I want to report that I had similar issues with one of my (multiple) streaming nodes, which was always loosing connection, resulting in gaps and alerts.

I tried increasing buffers, changing network connections, always used latest version of netdata... but nothing helped.

**Finally, last week I upgraded my stream receiver server (now much faster CPU + HDD) and since then I never had a gap or aler

[2020-09-01 09:39] manos-saratsis commented on #9762
@prologic I cannot be more specific. Ping me if you would like to do a session or have ssh access

[2020-09-01 09:40] rickard-von-essen commented on #9061
Success! 🎉

<img width="1428" alt="Screenshot 2020-09-01 at 11 39 17" src="https://user-images.githubusercontent.com/557699/91834066-d8a8dd80-ec47-11ea-8dbd-f3e1ddf68a8f.png">

I'll clean it up and then submit a PR for review.

[2020-09-01 09:50] yasuokav commented on #9762
I have the same problem in Debian 10.5. The files will be kept if I do not enter "y" when prompted.
[code]

[2020-09-01 09:54] cakrit opened #9858 "Support Opsgenie alarm notifications"
#### Feature idea summary
Create alerts in Opsgenie.
We had a call with Atlassian and the first action point is to create alerts in OpsGenie from the agent.

https://docs.opsgenie.com/docs/alert-api#create-alert
https://docs.opsgenie.com/docs/integrations-framework

##### Expected behavior
Add Opsgenie notifications, create alarms.

[2020-09-01 10:13] rickard-von-essen commented on #9061
See https://github.com/Homebrew/homebrew-core/pull/60472

[2020-09-01 10:22] tinyhammers commented on #9858
+1,000,000,000 from me for this. Currently using Zapier to shunt stuff from Netdata to OpsGenie.
Native integration could be the one thing to redeem the horror that has been 2020 so far.

[2020-09-01 10:52] prologic commented on #9061
Oh wow! 😲 Thank you @rickard-von-essen  Very nicely done ! I'll take a look at this.

[2020-09-01 10:55] prologic commented on #9061
@Ferroin Please have a look at the PR in Homebrew/homebrew-core#60472

[2020-09-01 10:57] rickard-von-essen commented on #9061
@prologic yes please have a look. I haven't used Netdata Cloud before so I might have missed something. But at least I managed to run the `netdata-claim.sh` script and hook up my MacBook to my account.

[2020-09-01 10:58] prologic commented on #9762
There are only two scenarios where this would fall apart (_as @Ferroin pointed out_):

- You didn't say `y` to some of the prompts and didn't use `-f/--force` in the uninstaller, thus leaving some stuff lying around.
- Something else went wrong the uninstaller and left  some lying around.

@yasuokav In your case, are you saying you didn't type `y` on some of the prompts and left the `netdata` bina

[2020-09-01 11:00] prologic commented on #7826
The regular Debian control files are on `contrib/debian` you can build the DEB packages there using the normal tooling. Looks like you're trying to get Netdata on an ARM system with Debian packages? (_which AFAIK we don't support at this time_).

[2020-09-01 11:04] #9168 closed

[2020-09-01 11:07] yasuokav commented on #9762
Yes. I tested it manually.
[code]

[2020-09-01 11:10] OdysLam commented on #9846
File at https://github.com/netdata/netdata/blob/master/web/api/netdata-swagger.json does not have the error. I assume that we have fixed the .json file but the change has not propagated to https://registry.my-netdata.io/netdata-swagger.json.

[2020-09-01 11:14] Ferroin commented on #9851
@fzyzcjy In this case the Dockerfiles that need updated are actually in https://github.com/netdata/helper-images. https://github.com/netdata/helper-images/blob/master/builder/Dockerfile (which is what gets used to actually build Netdata for the final Docker image) will need to be updated to have the development packages for these, and https://github.com/netdata/helper-images/blob/master/base/Docke

[2020-09-01 11:28] #9852 closed

[2020-09-01 11:29] ilyam8 commented on #9852
thx for reporting @ysamouhos, i fixed it, the fix will be in the next go.d release (this week i think)

[2020-09-01 11:41] amoss commented on #7327
We are seeing similar problems on other issues (for example https://github.com/netdata/netdata/issues/9821) where we are trying to track down if the system is being starved or there is something in the code that is not servicing the path from network to disk quickly enough.

The underlying problem is that our current streaming code is best-effort only. So if points are missed, or the connection dr

[2020-09-01 11:56] prologic commented on #9851
@fzyzcjy I would _prefer_ if you contributed a PR to our Docker images as pointed out by @Ferroin above. This would be great, we can help you review this and get it merged!

[2020-09-01 12:20] thiagoftsm commented on #9827
Hello @joshuabeny1999 ,

Firstly I apologize the delay to answer you, but I was in vacation.

Today I was working with this issue, and I observed that we have a string comparison to avoid send notifications inside our main script:

https://github.com/netdata/netdata/blob/d8e96eba6b241905e7ec84e75223a290acc67149/health/notifications/alarm-notify.sh.in#L637

this is working as expected.

I also obse

[2020-09-01 12:37] amoss commented on #9464
Let's leave this open until after the charts meeting as we may end up needing this. Feel free to re-close after the meeting if this is no longer relevant.

[2020-09-01 12:43] amoss commented on #9464
Let's leave this open until after the charts meeting as we may end up needing this. Feel free to re-close after the meeting if this is no longer relevant.

[2020-09-01 12:43] fzyzcjy commented on #9851
Thanks and I will have a try!

[2020-09-01 12:48] #8153 closed

[2020-09-01 12:58] ilyam8 commented on #9004
I beleive this is fixed in #9853

[2020-09-01 12:58] #9004 closed

[2020-09-01 12:58] ilyam8 commented on #9004
good work @scatenag

[2020-09-01 13:12] Saruspete commented on #9708
Seems to have fixed the issue.

Thanks a lot @jacekkolasa !

[2020-09-01 13:12] #9708 closed

[2020-09-01 13:32] joshuabeny1999 commented on #9827
Hi @thiagoftsm
Thanks for your reply.

Hope you had a great vacation.

For me this does not work. I set int the alarm config `to: slient` for the out_of_disk_space time alarm but I still get the telegram notification every night during backup. There a screenshot from last night:
![image](https://user-images.githubusercontent.com/55023662/91856552-00f40480-ec67-11ea-8952-6292636e4934.png)

Have I c

[2020-09-01 13:40] jacekkolasa commented on #9708
Great news @Saruspete , thanks for your help on this issue!

[2020-09-01 14:17] Ferroin commented on #9732
I'm not entirely sure that the 'needs triage' label is accurate here. Irrespective of whether or not the installation process creates the lock directory, there's a trivially reproducible and easily understood bug in the agent itself in that it does not try to create the lock directory at runtime if it does not exist, and fixing _that_ will solve this issue (and it should be fixed even if we 'fix'

[2020-09-01 14:22] Ferroin commented on #9643
Testing with both current stable (1.24.0) and the current nightlies, I am unable to reproduce this issue.

[2020-09-01 14:36] Ferroin commented on #9594
I cannot reproduce this locally using the official CentOS 8 Docker images.

[2020-09-01 14:36] amoss commented on #9464
@dim08 You win this time :)

[2020-09-01 14:36] #9464 closed

[2020-09-01 14:45] Ferroin commented on #9061
Sounds like we have official reason to have one now: https://github.com/Homebrew/homebrew-core/pull/60472#discussion_r481074604

[2020-09-01 14:46] #6133 closed

[2020-09-01 14:46] Ferroin commented on #8961
This is now functionally blocking us from getting a full featured package in Homebrew: https://github.com/Homebrew/homebrew-core/pull/60472#discussion_r481074604

[2020-09-01 14:54] Ferroin commented on #9356
This will be solved by #9859.

[2020-09-01 14:56] Ferroin commented on #9267
This seems to be solved by #9776 and #9859.

[2020-09-01 15:52] thiagoftsm commented on #9827
Hi @joshuabeny1999 ,

Fortunately everything was fine. Thank you!

I also have telegram configured in my side. The silent is not associated with `unknown` role and you do not need to add the id.

Now about the alarm you copied here, it looks like that there  was a typo error, please, take a look in the next line:

[code]

Instead `silent`, we have the  word `slient`. I think this is the source of

[2020-09-01 16:06] joshuabeny1999 commented on #9827
Hi @thiagoftsm

That could be it. I will update the configuration from 'slient' to 'silent'. This is a nasty typo i made...

I will check if the notifications are gone this night and then will set this bug to close if it then is fixed. Or do you want to keep the bug open for this issue you had with the dashboard? For me it is fine if I login to netdata cloud or connect to the dashboard to still se

[2020-09-01 16:10] thiagoftsm commented on #9827
You can close this issue if your problem is fixed, we will have an internal discussion and I will open another issue for the dashboard if it is necessary.

Thank you to show us this error in our documentation, I will create a PR to fix it right now.

[2020-09-01 16:36] thiagoftsm commented on #9799
Hi @PatTheMav ,

Firstly I apologize the delay, I was in vacation so I did not have conditions to move forward some tests here.

I observed that you wrote in the issue that the bug could have relationship with ebpf.plugin ( `(Maybe) ebpf.plugin`), but today I started Netdata with `ebpf.plugin` enabled and without to have it `enabled` and for both cases I had more or less the same value in both res

[2020-09-01 17:18] juztas opened #9861 "iproute2 not installed inside docker container"
##### Bug report summary
Inside docker container
[code]

docker container started with:
[code]
##### OS / Environment

[code]

##### Netdata version

v1.24.0-153-g9fc6670e

##### Component Name

QoS (tc)

##### Steps To Reproduce

docker pull netdata/netdata
docker run -d --name=netdata   -p 19999:19999   -v /proc:/host/proc:ro   -v /sys:/host/sys:ro   -v /var/run/docker.sock:/var/run/docker.sock:

[2020-09-01 17:43] mfundul commented on #9627
I did an experiment with 1000 child hosts using memory mode `ram` for the storage in the parent node.

I set the host obsoletion configuration variable as follows:
[code]

What happens is that host `CentOS-7-mfundul-lxc-centos7-454` crashes with segmentation fault due to use after free. The timeline is:
[code]

We notice that streaming got disconnected for this host, probably due to high load some

[2020-09-01 18:10] rickard-von-essen commented on #9061
@Ferroin give them a few days to debate it.

[2020-09-01 19:05] mfundul commented on #9627
@amoss I also get different values between `rpt->hostname` and `rpt->host->hostname`.

[2020-09-01 19:47] ndsda opened #9863 "[Bug]: the source directory does not include netdata-installer.sh"
I run  `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`

The first line output says `/dev/fd/63: line 167: /tmp/netdata-test.GTtLvJePOp: Permission denied`

And it ends:
`ABORTED Cannot install netdata from source (the source directory does not include netdata-installer.sh). Leaving all files in /tmp/netdata-kickstart-Q30do8Yo21`

**It's the first time I get an error when installing Netdata.

[2020-09-01 19:57] thiagoftsm commented on #9863
Hello @ndsda ,

It looks like that your `/tmp` is mounted readonly or without exec permission, please, can you run the following command before to start the installation:

[code]

as you can see in [this comment](https://github.com/netdata/netdata/issues/9579#issuecomment-665384044) other users already had problems like this and to remount `/tmp` fixed the problem for them.

Best regards!

[2020-09-01 20:13] UAnton opened #9864 "Can't claim node"
##### Bug report summary
Can't claim node to the cloud. Get errors:
`Failed to claim node with the following error message: "Gateway Timeout"`
`Failed to claim node with the following error message:"Unknown HTTP error message"`

##### OS / Environment
[code]

##### Netdata version

 netdata v1.24.0-160-nightly

##### Steps To Reproduce

1. Install netdata
2. Try claim node

[2020-09-01 21:08] ndsda commented on #9863
Hi @thiagoftsm ,

I've tried remounting `/tmp` but I still encounter the same problem.

`/dev/fd/63: line 167: /tmp/netdata-test.5wLY4JpoF6: Permission denied`

[2020-09-01 21:35] thiagoftsm commented on #9863
@Ferroin and @prologic can you give us a tip for this problem on CentOS?

[2020-09-01 22:09] #9864 closed

[2020-09-02 02:10] ReddotCleaner commented on #9762
I didnt see where prompts to say "y"

[2020-09-02 04:33] joshuabeny1999 commented on #9827
It worked. This night I did not get the notification. Thanks for your help.

[2020-09-02 04:33] #9827 closed

[2020-09-02 05:34] #9356 closed

[2020-09-02 05:34] #9605 closed

[2020-09-02 05:52] prologic commented on #9643
@Ferroin Following the Instructions from [here](https://packagecloud.io/netdata/netdata-edge/install#bash-rpm) I run into numerous installation errors:

<details>
<summary>Logs</summary>

[code]
</details>

How did you test/verify the non-reproducibility? 🤔 (_This llooks really broken to me 😢_)

[2020-09-02 05:59] prologic commented on #8961
I'm very frustrated by this honestly. 😢

[2020-09-02 06:19] prologic commented on #9061
I'll give them to next week to umm and ahh over this. 😀

[2020-09-02 06:22] prologic commented on #9863
@ndsda Could you please list the contents of `/tmp/netdata-kickstart-y8DEbXhhIM` in a [Gist](https://gist.github.com)? Thanks! Could you also include the output of `mount` in that same Gist too please either as a comment or additional file.

[2020-09-02 06:26] prologic commented on #9762
The _only_ two recent change I see to the uninstaller are:

[code]

 * 1d03fbe2 2020-08-28 | Don't falsely report that the group was not deleted (#9835) [Michalis Macheras]
 * 067089db 2020-08-06 | Remove obsoleted libraries from install/uninstall scripts (#9661) [Vladimir Kobal]

I'll have to have a look at this more closely and see what's going on. Problem is I still cannot reproduce this behavi

[2020-09-02 06:31] prologic commented on #9762
@Ferroin Can you have a look at this today? Thanks! 🙇‍♂️

[2020-09-02 06:51] prologic commented on #9861
@juztas Sorry I'm a bit confused. Are we talking about `iproute2` being missed here on some other piece of software?

[2020-09-02 06:52] prologic commented on #9594
I will test this too.

[2020-09-02 07:16] fzyzcjy commented on #9851
PR created :) https://github.com/netdata/helper-images/pull/87

[2020-09-02 07:36] amoss commented on #9627
This could be valid if the receiver has been detached from the host and a different receiver has been attached. I'm still looking at your PR and the stack trace above though so I don't know if it is valid in this case yet.

[2020-09-02 07:51] amoss commented on #9827
The instructions in the notification are out of date - we should be asking users to use netdatacli to reload the the health instead.

[2020-09-02 07:55] amoss commented on #9061
I don't really want to jump into the Homebrew thread as well but the argument seemed strange to me. Why is it ok for python to vendor libraries "because they are different to the system versions" but not Netdata?

[2020-09-02 07:57] underhood commented on #9846
@OdysLam yes you are right the file that is served by link from https://learn.netdata.cloud/docs/agent/web/api serves file https://registry.my-netdata.io/netdata-swagger.json
and it is different from latest version from git which is ok:
![Screenshot from 2020-09-02 09-55-10](https://user-images.githubusercontent.com/6674623/91954841-a7411800-ed02-11ea-8d79-d40223706760.png)

So solving this will r

[2020-09-02 08:21] Redominus commented on #9863
It also happens to the updater cron(happening in centos6.10 and centos 7)
`/etc/cron.daily/netdata-updater:

/etc/cron.daily/netdata-updater: line 77: /tmp/netdata-test.huHeA0BnbW: Permission denied
Wed Sep  2 04:05:55 CEST 2020 : INFO:  Current Version: 001024000137
Wed Sep  2 04:05:55 CEST 2020 : INFO:  Latest Version: 001024000171
./netdata-latest.tar.gz: OK
Wed Sep  2 04:05:55 CEST 2020 : INFO

[2020-09-02 08:47] arbabkhalil commented on #9864
I am also facing the gateway timeout issue

[2020-09-02 09:07] underhood commented on #9267
@prologic this is error if we try to use cmake build system instead of default autotools and was not fixed by judy bundling

[2020-09-02 09:19] arbabkhalil commented on #9864
@UAnton I am still facing this issue.

[2020-09-02 10:44] Ancairon commented on #8883
@Ferroin I did some searching and that could be quite something because the way `proc_diskstats.c` handles the disk utilization time from what I see is: it calculates the busy time in ms so it can be used in the respective `.conf` file. The eqivalent .c file for ram (memory) doesn't use the same method and instead gives us `free`,`used`,`cached` and `buffers`. Would it be possible to implement the

[2020-09-02 10:52] ndsda commented on #9863
@prologic Thank you!
https://gist.github.com/ndsda/65787f77095b5df668e63ed3c1f61ac5

[2020-09-02 10:58] thiagoftsm commented on #9827
Hi everybody,

I am glad we could help you @joshuabeny1999 !
@amoss I will bring an update for our documentation.

Best regards!

[2020-09-02 11:13] cakrit commented on #6999
Closing until we have a reoccurence.

[2020-09-02 11:14] weijing24 opened #9868 "lack much infomation in macOS"
##### Question summary
I have tried netdata in linux and it's really gorgeous. Now I want to try it on my macbook-pro. I install netdata with brew and I found there was a little different from linux. Here is my question:

- Why there is no memory info in my dashboard, Is there any limitaion?
![image](https://user-images.githubusercontent.com/8737314/91974249-14c76580-ed50-11ea-849b-75831fe7703a.pn

[2020-09-02 11:21] vlvkobal commented on #9868
Please check if there are any errors in `error.log`.
[code]
![image](https://user-images.githubusercontent.com/22008543/91975020-68718900-ed27-11ea-8527-d657c052a207.png)

[2020-09-02 11:35] Ferroin commented on #9643
@prologic You're missing EPEL, and therefore couldn't get Judy or libuv. I thought we had this pre-dependency documented somewhere but we apparently do not...

[2020-09-02 11:38] Ferroin commented on #9061
@amoss Their argument revolves around the fact that getting `pip` to properly handle things in a usable way on macOS for a custom Python install (instead of the system copy of Python) is exceedingly difficult.

Their argument about us needing to support system copies of LWS is perfectly valid and not unique to Homebrew at all. Their insistence on mosquitto not being vendored is a bit more excessiv

[2020-09-02 11:53] Ferroin commented on #8883
I'm curious what, exactly, you think 'memory busy time' should be.

'disk busy time' literally tracks the amount of time that the storage controller spends transferring data to and from a given disk. it's very well defined and trivial to measure.

There's not really any equivalent for RAM though. The only possibility I can think of is measuring time spent migrating pages between nodes on NUMA syst

[2020-09-02 11:59] Ancairon commented on #8883
Thats what I thought considering latency it didn't make sense... So this request is actually not possible to implement in the same way it is used in the disks.

[2020-09-02 12:01] fzyzcjy commented on #8883
@Ancairon @Ferroin Thanks very much! My naive thought (when creating this issue in May) is to look at memory bottlenecks. For instance, say I have lots of memory and lots of Redis instances (or Memcached), then is its performance bound by memory, or bound by CPU? i.e. maybe the memory is very busy and cannot do anything more but the CPU is idle, or the memory is free and sleeping while the CPU is

[2020-09-02 12:04] mfundul commented on #8883
I wouldn't say it's impossible. I would even say it is in the roadmap to do something related to CPU IPC (instructions per cycle). This can depend on the CPU architecture, but the high level idea is that low IPC means you're hitting a memory bottleneck, whereas high IPC means you're hitting a CPU bottleneck. In any case, this is something more sophisticated than a simple disk utilization calculati

[2020-09-02 12:07] mfundul commented on #8883
Found a related issue, there may be more: https://github.com/netdata/netdata/issues/3232

[2020-09-02 12:18] amoss commented on #9061
Hmmm. Getting our product to work correctly with a system install of mosquito is exceedingly impossible. I can see their point about LWS. Does the system copy have the libcap support that caused us problems?

[2020-09-02 12:20] fzyzcjy commented on #8883
@mfundul Thanks very much! The IPC and the tool in that issue sound promising

[2020-09-02 12:21] Ferroin commented on #9665
This should be fixed.

[2020-09-02 12:21] #9665 closed

[2020-09-02 12:28] Ferroin commented on #9061
libcap wasn't the issue IIRC, it was that we insist on SOCKS5 support even for users who are never going to use it.

[2020-09-02 12:30] Ferroin commented on #8883
Short-term, [pressure stall information](https://www.kernel.org/doc/html/latest/accounting/psi.html#:~:text=The%20psi%20feature%20identifies%20and,workloads%20or%20even%20entire%20systems.) seems to cover what you are interested in. On systems that actually have the required kernel options enabled (which I believe includes most major distros official kernels at this point) Netdata will automatical

[2020-09-02 12:32] amoss commented on #9061
Wow. I thought that we had a silent failure at link time if libcap support wasn't compiled into the target library. Was that a different issue?

If it is only the SOCK5 support then we should make it optional so that we can install against the system library.

[2020-09-02 12:55] Ferroin commented on #9061
No, wait, you're right, there was some issue related to linking involving libcap, but I thought it was that _we_ needed to link libcap in if we tried to statically link a version of LWS that had been built against libcap.

The SOCKS5 thing was the big one though, because most distros _don't_ build LWS with SOCKS5 support (they kind of assume you're going to use libsocks instead of the SOCKS5 funct

[2020-09-02 13:08] fzyzcjy commented on #8883
@Ferroin Thanks very much! I will have a look at it

[2020-09-02 13:49] arbabkhalil commented on #9864
Got solved for me now, i think it is an intermittent issue.

[2020-09-02 14:25] rienath commented on #9594
I would suggest installing openhpc before netdata

[2020-09-02 14:38] juztas commented on #9861
It is missing inside netdata docker container. This docker: https://hub.docker.com/r/netdata/netdata, is maintained by you?

[code]

So iproute2 is not installed inside the netdata/netdata docker container and QoS graphs are not shown. I manually installed iproute2 inside docker container (`apk add iproute2`) and QoS shows correctly.

[2020-09-02 16:08] thiagoftsm opened #9870 "Support StackPulse"
##### Feature idea summary
Create alerts in StackPulse

More details will come after to study API.
##### Expected behavior

[2020-09-02 16:39] gamefundas opened #9872 "Export dashboard results via http link and time range"
I am trying to find a way to extract and archive the dashboard snapshots as part of our performance tests and see that there is a way to restrict the dashboard view to a certain time window using the "after/before" url parameters. Then I can manually choose to export the dashboard view in to a netdata archive/snapshot which can then be loaded in the future for analysis.

Is there a way for me to a

[2020-09-02 18:02] FedericoCeratto opened #9873 ""web service up" badge is always grey"
On Netdata 1.12.0 the "web service up" badge appears as always grayed-out. However the service is healthy and is reported healthy on the HTTP status chart.

Live example: http://5.255.91.77/api/v1/badge.svg?chart=httpcheck_codesearch.status&alarm=web_service_up&refresh=auto

Also, the badge does not contain the service name and there is no documentation on how to override the string "web service u

[2020-09-02 18:06] Ferroin commented on #9762
I'm having no luck reproducing this locally either,so I'm not really sure what might be going wrong here.

At minimum though, we should update the uninstaller to properly report failures to remove files it has been asked to remove, and might want to consider printing a list of files we would have removed which were left behind instead at the request of the user.

[2020-09-02 18:15] thiagoftsm commented on #9873
Hi @FedericoCeratto ,

We are currently working to release Netdata 1.25, so I will suggest you to upgrade your Netdata.

I also remember we made upgrades for badges like [this](https://github.com/netdata/netdata/pull/7809) in recent new versions. You can also take a look in our [documentation](https://learn.netdata.cloud/docs/agent/web/api/badges) to see more options about badges.

Best regards!

[2020-09-02 18:18] FedericoCeratto commented on #9873
Thank you @thiagoftsm , I'm aware of the new releases but this is a production server.

[2020-09-02 18:41] thiagoftsm commented on #9873
All right @FedericoCeratto ,

I am not sure that is your case, but I remember other users that were using old versions, because they were not using our  [official repo](https://packagecloud.io/netdata/netdata), if this is your case, it is possible you add it to your list and start using the new features.

Best regards!

[2020-09-02 20:20] git1977 commented on #9720
I am using prometheus.

[2020-09-02 20:28] ilyam8 commented on #9720
@vlvkobal for some reason we dont add `units` if `as-collected`

example

https://github.com/netdata/netdata/blob/75a56ff0b241910eefad68c87b3f95fe786ebd2d/exporting/prometheus/prometheus.c#L592-L618

[2020-09-02 21:37] ThoSap commented on #5590
This feature would be awesome! 😍

[2020-09-03 02:41] weijing24 commented on #9868
Here is all my `ERROR` in error log. I didn't find anything useful.

  <details><summary>error.log</summary>

[code]

  </details>

I install netdata with brew and use `brew services start netdata`. And I use default config without any changing. Comparing with your picture, I found lack of ram、swap、network、uptime in `System Overview`. Do I need to install some plugin config ? Or maybe macOS SIP li

[2020-09-03 03:22] weijing24 commented on #9868
I exec the script `system-info.sh` in /usr/local/opt/netdata/libexec/netdata/plugins.d, and here is the result:
![image](https://user-images.githubusercontent.com/8737314/92066765-45051780-edd5-11ea-8950-309d8c11bbbc.png)

My device model is `MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)`.

I'm not familiar with the difference between freebsd and darwin.  But In `system-info.sh -> Detect th

[2020-09-03 03:37] weijing24 commented on #9868
Update:

I tried add Darwin in `system-info.sh -> Detect the total system RAM `, and I can see RAM info in error.log. Web still keeps no change.
![image](https://user-images.githubusercontent.com/8737314/92068415-6c5de380-edd9-11ea-85ad-482293189094.png)
![image](https://user-images.githubusercontent.com/8737314/92068500-b21aac00-edd9-11ea-98e2-499dfe39a3b1.png)

[2020-09-03 08:00] mickae1 commented on #7826
can you explain me how to proceed ?

[2020-09-03 08:51] Rybue opened #9874 "Node does not show data in Netdata Cloud"
After I added node to Netdata Cloud, it does not show up any monitoring data.

![image](https://user-images.githubusercontent.com/1950277/92092674-10945a00-eddb-11ea-964c-e6bf47459deb.png)

I checked HTTP request that cloud make to get the node monitoring data and I see error like this:

![image](https://user-images.githubusercontent.com/1950277/92092955-6cf77980-eddb-11ea-95f8-01ca7565a90e.png)

[2020-09-03 08:54] nguyentuandat commented on #9863
I have the same issue here, I am using Ubuntu 18.04.5 LTS

[2020-09-03 14:35] Rybue commented on #9874
Logs related to ACLK after agent restart:

[code]

I don't see any errors, but the data not showing up in the cloud

[2020-09-03 15:39] manos-saratsis commented on #9124
For Unclaiming users will have to wait a bit as we prioritized other cool feature and the work-around is sufficient for now.

[2020-09-03 17:04] JPAMaia opened #9876 "Estimate the remaining time of free RAM"
Hi, I'm new to netdata and i would like to know if it's possible to estimate the remaining time until the memory runs out.
I've tried the following example https://learn.netdata.cloud/docs/agent/health/reference?q=units&size=n_20_n#example-3, but adapted to the mem.available chart.
However, it's not possible to use something like a linear regression function to calculate the remaining time?

[2020-09-03 17:18] #9874 closed

[2020-09-03 17:19] Rybue opened #9877 "Node does not show data in Netdata Cloud"
##### Bug report summary
After I added node to Netdata Cloud, it does not show up any monitoring data.

![image](https://user-images.githubusercontent.com/1950277/92092674-10945a00-eddb-11ea-964c-e6bf47459deb.png)

I checked HTTP request that cloud make to get the node monitoring data and I see error like this:

![image](https://user-images.githubusercontent.com/1950277/92092955-6cf77980-eddb-11ea

[2020-09-03 17:20] Rybue commented on #9874
Create issue in a correct way

[2020-09-03 17:21] Rybue commented on #9877
grep from the logs, regarding `ACLK`
[code]

[2020-09-04 00:02] thiagoftsm commented on #9858
Hello @tinyhammers ,

If you have conditions, please, could you test the PR #9879? I used the official Opsgenie documentation to integrate Netdata with Opsgenie, but I do not have a big experience with the platform, so it is possible I missed something.

Thank you!

[2020-09-04 03:38] marty1885 commented on #9035
FYI,

https://bugs.archlinux.org/task/66257?project=5&string=netdata
There's already a bug report for the exact issue on Arch's package. But the maintainer doesn't seem have fixed it. I'd like to make a patch but don't have the authorization. Any Trusted Arch User here?

[2020-09-04 05:22] greg-redefined commented on #9850
Finally got this working!

I visited app.netdata.cloud in a Chrome browser, saved the root certificate (dst_root_ca_x3.pem) and intermediate certificate (lets_encrypt_authority_x3.pem), and copied to my pfSense VM at `/usr/local/ssl/certs`.

I checked to see what the openssl directory was:
[code]

I noticed that directory did not have a certs directory, so I created a symbolic link:
[code]

Then,

[2020-09-04 05:22] #9850 closed

[2020-09-04 09:31] amoss commented on #9877
We had an incident last night in the Cloud infrastructure. There was a hot-fix for this last night to avoid the problem until a more permanent fix is found -  could you take another look and let us know if your view of the node is working again?

[2020-09-04 09:32] amoss commented on #9877
To add a little information - it affected newly claimed nodes up to the point that they were restarted and the Cloud refreshed its view of the state of the node.

[2020-09-04 09:34] amoss commented on #9873
I'm closing this as it is a bug that affects a very old version of Netdata. If you upgrade to a new version and still see the bug then please reopen this issue for us to look into.

[2020-09-04 09:34] #9873 closed

[2020-09-04 09:36] amoss commented on #9872
@jacekkolasa Do we have a way to do this via a URL?

[2020-09-04 09:39] amoss commented on #9876
We don't have any operators in the alarm expression language that would allow you to encode linear regression. The approach in the disk-space alarm (calculate the rate and calculate when it would intersect zero) is the most that can be done with the arithmetic operators that we support.

[2020-09-04 09:43] amoss commented on #9868
We have a much wider range of collectors in Linux because that is the majority of our user-base. We would love to add more support to the MacOS version but it would take resources away from improving the experience on Linux. We would love to see PRs from the community to help in this area.

[2020-09-04 09:52] amoss commented on #9818
We don't support the collectors in a stand-alone configuration, they are designed to be integrated into the Netdata application. It would be possible to use them stand-alone by running them in the same way that Netdata does:

* For each of the external collectors look at how they are spawned in the C code.
* They can be spawned directly from a shell if you set the environment up the same way.
* Th

[2020-09-04 09:52] #9818 closed

[2020-09-04 09:53] amoss commented on #9822
@ilyam8 How complex would this be to implement - would it fit well with migrating the collector from python to go?

[2020-09-04 09:56] amoss opened #9880 "Update query language to v2"
#### Summary

* Add required support for composite charts.
* Fix any related bugs in the area of queries.
* Decouple long-running queries from the web-server.

[2020-09-04 09:57] ilyam8 commented on #9822
Migrating postgres to go is far from simple, we need to add this feature to python module

[2020-09-04 09:58] ilyam8 commented on #9822
As for complexity - shouldnt be a lot of work, but i didnt really check how many changes we need to do.

[2020-09-04 09:59] ilyam8 commented on #9822
yes, indeed

[2020-09-04 10:03] #9627 closed

[2020-09-04 10:29] JPAMaia commented on #9876
Ok. Many thanks!

[2020-09-04 10:29] #9876 closed

[2020-09-04 10:41] marcelmfs commented on #9675
I've updated yesterday and saw this today:

[code]

[2020-09-04 10:45] mfundul commented on #9675
I think this is probably https://github.com/netdata/netdata/issues/9713 , Does this problem go away if you clear your cache (`var/cache/netdata/`)?

[2020-09-04 11:03] mfundul commented on #9675
@marcelmfs can you also send me `var/log/netdata/error.log` to markos@netdata.cloud ?

[2020-09-04 11:12] Ferroin commented on #9868
@amoss Unless I'm mistaken, this is something that _was_ working but is not working any longer.

[2020-09-04 12:21] vlvkobal commented on #9868
It's an internal macOS plugin. It should work from the box. And it works, look at https://github.com/netdata/netdata/issues/9868#issuecomment-685652330. The problem in this issue is probably connected with some restrictions:

[2020-09-04 12:25] ilyam8 commented on #9868
That is not related to the issue but that seems a good addition to the sytem info script @Ferroin

https://github.com/netdata/netdata/issues/9868#issuecomment-686231142

[2020-09-04 12:25] tinyhammers commented on #9858
Hey @thiagoftsm...

That works perfectly. Alert came through as expected.
Are you able to set the priority of the alerts? So Critical alert is P1, Needs Attention is P2?
That would be the only thing I would say was needed.

Thanks for this 👍

[2020-09-04 12:29] amoss commented on #9868
Ah ok, then disregard my comment.

[2020-09-04 12:46] Ferroin commented on #9868
@weijing24 Would you possibly be wiling to open a PR with that change to the `system-info.sh` script? As you mentioned it doesn't fix the issue here, but it's still a nice improvement to have. If you would prefer, I could put together a PR to add it instead, I'd just much rather you get full credit for it.

[2020-09-04 12:58] weijing24 commented on #9868
OK，I can try it.

[2020-09-04 13:15] bolemo commented on #8453
Still valid on Synology DiskStation ds414j

Can only install older version from Entware. Can not build it (same issues as described here)

[code]

[2020-09-04 13:30] tinyhammers commented on #9858
OpsGenie ranks alerts like this:

P1 - Critical
P2 - High
P3 - Moderate
P4 - Low
P5 - Informational

I'd say your choice is right for a default.

Users can filter alerts in the OpsGenie integration anyway, so you can assign your own priorities based on the alert contents if that's your cup of tea.

<img width="400" alt="Screenshot 2020-09-04 at 14 25 11" src="https://user-images.githubusercontent.

[2020-09-04 14:55] thiagoftsm commented on #9858
Thank you to give us this explanation!

I pushed an update for the PR few minutes ago and after we receive the answer we are waiting for, we will move forward the PR.

[2020-09-04 15:03] tinyhammers opened #9883 "Alerting for process time"
Hey guys...

Is it possible to measure the time a child process has been running for?
Had an issue where a mysql child process hung, created a massive ibdata1 file, which we got an alert about when the disk was 90% full.
Be nice to catch the processes if they hang around too long.

I've split out mysql from sql in apps_groups.conf, so I can see that specifically in User groups > Processes, but its

[2020-09-04 16:37] thiagoftsm commented on #9883
Hi @tinyhammers ,

Netdata has the chart `apps.uptime` that shows the period of time that a process is running. There are years that I do not work with mysql, but I remember it is a multi thread database instead a multi process. If you have conditions to give name for the threads, you can create a group specific for these threads and create an alarm for them.

Best regards!

[2020-09-04 17:24] kiranos commented on #250
Hi is there any progress on this topic ?

[2020-09-04 17:38] tinyhammers commented on #9883
Ahh, OK.
I'll look at that.
Thanks 😃

[2020-09-04 17:42] kdy1968 commented on #7947
@vlvkobal nolonger getting the temp folder error, however im unable to build:

`[2.4.5-RELEASE][admin@venus.mecury.local]/root/netdata-master: ./netdata-installer.sh

  ^
  |.-.   .-.   .-.   .-.   .  netdata
  |   '-'   '-'   '-'   '-'   real-time performance monitoring, done right!
  +----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--->

  You are about to build and instal

[2020-09-04 17:50] ilyam8 commented on #250
yes there is progress, i am not aware of the feature release date but it is wip

[2020-09-04 19:58] jacekkolasa commented on #9872
@gamefundas unfortunately not. When you're taking snapshot, there are some metadata stored too, so some logic already written in javascript is needed. But i agree it would be good to have this snapshot feature available as an URL, automatically outputting the exported file. Right now the only automated solution which i think of could be something like `iMacros` (browser extension, in where you can

[2020-09-04 20:29] gamefundas commented on #9872
What we have right now is pretty close to my requirements, I am able to query the dashboard by passing a time range. All I need to do is find a way to script the export call and the confirm button that shows up in the modal dialog. Perhaps Selenium in headless mode might do the trick. Will see if that does it. Thanks for the quick response.

If there is a chance of this feature getting implemented

[2020-09-04 20:53] RayGo75 opened #9884 "netdata-installer.sh fails on Ubuntu 20.04"
##### Bug report summary

I am trying to install netdata on my Ubuntu 20.04 laptop that is running slow. My hope is that it will help me figure out what I need to do to speed it up. This machine runs my PLEX media server so I need it to run as fast as possible.
I used the instructions found on

https://pure-media.info/index.php/2017/07/20/set-real-time-performance-monitoring-netdata-ubuntu-16-04/

[2020-09-04 21:52] gamefundas opened #9885 "Netdata loses track of metrics when host is replaced by a new instance"
I am using Netdata in Master/slave mode where agents are steaming metrics to a central collector which is eventually stored in InfluxDB backend. Whenever we under go deployments for our applications, all of them hosted in AWS the new instances are launched in a new container with new IP addresses. They continue to use the same host name and I can see the data flowing in to Master, registry updated

[2020-09-05 03:00] edhemphill commented on #770
it should be possible to monitor the amdgpu drivers via [ROCm-SMI](https://github.com/RadeonOpenCompute/ROC-smi)  which itself just looks at parts of `/sys`

[2020-09-05 06:54] danimart1991 commented on #5782
Hi.

Maybe an option at this moment is to use the commands in run.sh in docker-compose installation option.

`sed -i -e "s@SLACK_WEBHOOK_URL=\"\"@SLACK_WEBHOOK_URL=\"${SLACK_WEBHOOK_URL}\"@" /etc/netdata/health_alarm_notify.conf`

but I don't know how to exec this command because at first Netdata run, there is no health_alarm_notify.conf file and must be copied with another command. Maybe using so

[2020-09-05 08:45] yasharne commented on #9821
@amoss Unfortunately duo to our policy I cannot upgrade to nighly releases, I guess I have to wait until the next stable release

[2020-09-05 19:25] #9609 closed

[2020-09-05 19:25] #9616 closed

[2020-09-05 19:46] ElleshaHackett commented on #5516
I am very frustrated after wasting hours without a proper solution to this. Running netdata inside a docker container is peanuts and takes 30 seconds. But getting a mountpoint with some kind of config folder that is accesible from the host seems impossible and undocumented. I simply want a config folder mounted, shared with host. This way my config is persistant and I can move it to another docker

[2020-09-06 12:28] dginhoux commented on #7590
This is a similar problem with the docker image.

I hope they will correct it in the next release.

[2020-09-06 13:36] ilyam8 commented on #5516
Hi.

There are 2 ways. Each of them has its own advantages and disadvantages:
 - bind mounts
 - volumes

This looks like you want option 1.

Seq is:
 1. manually create a dir
 2. run temp netdata
 3. copy `/etc/netdata` content to that dir
 4. remove temp netdata
 5. mount the dir to your netdata to `/etc/netdata`

You need 1-4 only if you run netdata first time.

[code]

Configs are in `$(pwd)/ne

[2020-09-06 16:14] thiagoftsm commented on #9617
Hi @seagel ,

Yesterday the `stale[bot]` called attention that there are not more iterations in this issue, could you solve your problem with Slack?

Best regards!

[2020-09-06 16:49] thiagoftsm commented on #9412
Hi @dwdixon ,

I am closing this issue, because the PRs #9698 and #9740 are fixing this issue and the confusion that our documentation was creating, but if the problem persists in your side, please, let us know.

Best regards!

[2020-09-06 16:49] #9412 closed

[2020-09-07 07:40] vlvkobal commented on #9609
Do you mean that you are creating new containers? Names and IDs don't change on stop/start.

Can't you use the [`--name` option](https://docs.docker.com/engine/reference/run/#name---name) to make container names persistent?

[2020-09-07 08:53] lassebm opened #9889 "dbengine not built in Docker image due to unrecognized libjudy option"
##### Bug report summary
`configure` fails with `configure: WARNING: unrecognized options: --with-libjudy`. See: https://travis-ci.com/github/netdata/netdata/jobs/381699001#L1691.

##### OS / Environment
Docker image.

##### Netdata version
`master` branch.

##### Component Name
Packaging.

##### Steps To Reproduce
Build Docker image.

##### Expected behavior
dbengine built in Docker image.

[2020-09-07 11:50] manos-saratsis commented on #9002
@Nirjonadda @tinyhammers thx for your patience. Unclaiming is important but we focus on other features first that will improve the monitoring capability of Cloud. Please stay tuned and use the workaround for now.

[2020-09-07 11:52] manos-saratsis commented on #250
@kiranos @gamefundas The feature is on its way, expected early October.

[2020-09-07 12:11] Jolin-blank opened #9891 "Centos6 rpmbuild"
netdata-v.1.24.0
libbpf.c: In function ‘bpf_program__attach_perf_event’:
libbpf.c:7586: error: ‘PERF_EVENT_IOC_SET_BPF’ undeclared (first use in this function)
libbpf.c:7586: error: (Each undeclared identifier is reported only once
libbpf.c:7586: error: for each function it appears in.)
libbpf.c: In function ‘perf_buffer__new’:
libbpf.c:8407: error: ‘PERF_COUNT_SW_BPF_OUTPUT’ undeclared (first use

[2020-09-07 12:57] marcelmfs commented on #9675
I already do this (`pkill -9u netdata;rm -rf /var/cache/netdata; systemctl start netdata`) every 4 hours or so on a cronjob but it keeps failing...

Error logs sent via email. Cheers!

[2020-09-07 14:20] #9801 closed

[2020-09-07 19:50] Rybue commented on #9877
Hi, thanks for the reply.

Indeed, everything seems to be OK now. Thank you!

[2020-09-08 00:03] gamefundas opened #9892 "Feature - Ability to add annotation, tags and notes to charts/dashboard"
Currently our project is looking for ways to integrate Netdata in to our performance/load testing harness. The state of the infrastructure is equally an important metric to analyze along with application performance. Netdata allows us to take snapshots of the dashboard and keep them for offline analysis.

In addition to this what might prove to be useful is ability for us to add notes/comments or

[2020-09-08 02:16] gamefundas commented on #9210
Adding agents to Java applications do have performance implications no matter how small it is still affects it. OpenTelemetry, Prometheus JMX Exporter all require an agent to be wired to the program startup. Since netdata already has its agent running on the host wouldn't it make sense for it talk to the application via a local JMX port. Alternately jolokia endpoints can be queried if HTTP is pref

[2020-09-08 06:09] prologic commented on #9594
Why would installing another piece of software having any effect here? Specifically `openhpc`?

[2020-09-08 06:11] prologic commented on #9594
In fact (_I didn't notice this before_), somehow you are using some non-standard toolchain here from openhcp? Why? How is this your default compiler?

[2020-09-08 06:12] prologic commented on #9594
Furthermore I don't know _anything_ about `openhpc`:

[code]

Can you please provide us reproducible steps we can work with? As far as I'm conferned our installer works correctly as intended on a fresh CentOS 7/8 system.

[2020-09-08 06:41] vlvkobal commented on #9892
A duplicate of #6523?

[2020-09-08 08:05] vlvkobal commented on #7947
An easy part - update `pkgconf` to the newest version
[code]
Then you can install a gcc compiler
[code]
But it's still not enough to build Netdata
[code]
We can continue and eliminate problems step by step, but I think it's much more simple to build Netdata package on FreeBSD and install it on pfSense.

[2020-09-08 10:55] webash commented on #7133
I've resent again a 3rd time - again like @carehart I'm not chasing for it as its definitely just a nice thing! but just found it strange I hadn't heard anything, nor received anything, but there were still rewards being issued.

[2020-09-08 11:39] Ferroin commented on #9889
This actually affects all bundling of libJudy, not just the Docker images, PR will be up shortly to fix it.

@prologic

[2020-09-08 11:54] Ferroin commented on #9889
This actually got fixed by #9893, which i hadn't realized before going to work on a PR to fix it.

[2020-09-08 11:54] #9889 closed

[2020-09-08 12:06] Ferroin commented on #9884
Can you check if you still have issues after following our [official installation guide](https://learn.netdata.cloud/docs/agent/packaging/installer)? I very strongly suspect that you're having issues due to the instructions in the article you linked being more than three years old (a _lot_ has changed since then).

[2020-09-08 12:20] ilyam8 commented on #5516
@prologic @Ferroin correct me if i missed something or suggested something wrong https://github.com/netdata/netdata/issues/5516#issuecomment-687791386

@joelhans indeed, we have no `/etc/netdata` persistence in the docs, i think we need to fix it

[2020-09-08 12:28] Ferroin commented on #5516
I'd add to that that we need a way to make this easier for first-time setup for users. Possibly add some code to the container entrypoint to copy any default config files that aren't already there to `/etc/netdata` on startup if it's a mount point inside the container.

[2020-09-08 13:14] prologic commented on #8602
As #9839 is merged I _think_ we can close this.

[2020-09-08 13:14] #8602 closed

[2020-09-08 15:37] RayGo75 commented on #9884
That did the trick... Thank you.

[2020-09-08 15:37] #9884 closed

[2020-09-08 15:38] RayGo75 commented on #9884
Used the one step installation script and it worked flawlessly.

[2020-09-08 16:32] hamedbrd commented on #6683
@ilyam8 I would like to pick up this issue. I'm writing my understanding of this issue to make sure I'm in the right direction.

if I understood correctly the issue is, there is no ability to monitor whether systemd unit is running or not, right?
So as you @ilyam8 mentioned earlier we need to check what node exporter is doing for systemd collector: [link](https://github.com/prometheus/node_exporte

[2020-09-08 16:44] ilyam8 commented on #6683
Yeah, we need to see what metrics are available. This issue request is

I guess same info `systemctl` produces.

[code]

But the first step is to see all systemd units metrics that are available. When we have them we can agree on charts, configuration options, etc.

[2020-09-09 04:56] KrisShannon commented on #9643
Hi,

This wasn't a problem with EPEL.

This was specifically an issue with the [netdata-1.23.2-1.el7.x86_64.rpm](https://packagecloud.io/netdata/netdata/packages/el/7/netdata-1.23.2-1.el7.x86_64.rpm) on packagecloud.

It was linked against a version of glibc which doesn't exist in either the CentOS 7 or EPEL 7 repositories.

Looking at the differences between the "Requires" for this rpm and for pr

[2020-09-09 07:05] amoss commented on #9885
The new instances probably have a fresh machine GUID. Internally we use this as the key to identify the child node that metrics are received from. The host-name is only used for presentation, and the IP address for logging. If no machine GUID is supplied to Netdata when it starts up then a random GUID is chosen, this is probably what is happening when you launch a fresh container.

You can make th

[2020-09-09 07:06] #9880 closed

[2020-09-09 07:08] amoss commented on #9892
This is a feature that we are currently very interested in adding, and we are talking internally about ways to implement it. @dim08 / @manos-saratsis perhaps you could talk about use-cases and get some initial input for your ideation?

[2020-09-09 07:08] amoss commented on #9877
Hotfix in place, closing issue.

[2020-09-09 07:08] #9877 closed

[2020-09-09 07:11] amoss commented on #9857
Costa has a different view on the meaning of the `gtime` parameter, the suggestion is that we add a different argument to the URL to do grouping as `gtime` is only for resampling rates.

[2020-09-09 07:11] #9857 closed

[2020-09-09 08:04] hamzash9500 opened #9899 "metric for monitor service running or not"
##### Question summary
please can you provide me with the metric that can monitor the service is running or not?
##### OS / Environment
ubuntu 18
netdata version : v1.23.0

[2020-09-09 09:19] mfundul commented on #9675
Reopening.

[2020-09-09 10:24] thiagoftsm commented on #9899
Hi @hamzash9500 ,

Netdata has [apps.plugim](https://learn.netdata.cloud/docs/agent/collectors/apps.plugin) to monitor specific group of software. This plugin has a chart called `apps.uptime` that shows how long an application is running since Netdata restart. I think this is what you are looking for, but if I am wrong, please, let us know.

Best regards!

[2020-09-09 11:07] Ferroin commented on #9643
@KrisShannon I understand your issue had nothing to do with EPEL, I was pointing out that @prologic was missing EPEL on his test system, which is why he got the errors he did.

Thank you for digging deeper though, given what you're seeing it looks like your issue was a result of some issues we had with packaging the eBPF collectors a while back, so it should indeed no longer be a problem (and I'm

[2020-09-09 11:07] #9643 closed

[2020-09-09 11:41] JPAMaia opened #9901 "Alarms are not logged in netdata when the repeat option is enabled"
##### Bug report summary
Netdata alarms do not appear in the netdata alarm log section when they are configured to repeat the notifications.

##### OS / Environment
[code]

##### Netdata version
 netdata v1.24.0 -> installed from script kickstart-static64.sh with arguments stable-channel and no-updates

##### Component Name
Health

##### Steps To Reproduce
Test-case scenario: mem.available alarm

[2020-09-09 12:46] kdy1968 commented on #7947
@vlvkobal , i have limited knowledge on this, how do i go about building the package, on freebsd so that i can move it over to the pfsense box

[2020-09-09 12:56] thiagoftsm commented on #9901
Hello @JPAMaia ,

When the repeat was developed, the original idea was storing inside the alarm-log only when the events changed the status, like the alarms without `repeat`, and thanks this motive conditions like

https://github.com/netdata/netdata/blob/a195025ec69bef0ebfaf0e979b41d8a9a0f4097c/health/health.c#L934

were inserted in the code, but I liked your idea.  Considering that other users co

[2020-09-09 13:34] jlbriston commented on #7133
August 2020 Contributors of the Month 🙌

@vince-lessbits @Ancairon @michmach @pando85 @devinrsmith @florianmagnin @lassebm

Thank you for your contributions this past month! We appreciate all the help you've provided to Netdata and we'd like to thank you.

Please email us at rewards@netdata.cloud with the following information to ensure you receive your Netdata swag 😎

- GitHub Username
- First Na

[2020-09-09 13:44] JPAMaia commented on #9901
Hi @thiagoftsm ,

Thanks for looking into this issue!
I agree with the idea of having an option to customize the alarm log.
A suggestion would be to extend this and create an option to filter the wanted alarm status.
For example,
[code]
This could help users filter alarms and status they do not wish to see.

Best Regards!