[2020-11-17 19:34] jacekkolasa commented on #10132
@Kuro-Maii sorry for late reply. Having settings that allow users to force some y-axis range is nice idea, we just need to build UI for it. As for getting min/max since installation time - this is currently not available via Agent API, so it would need some work in the agent. (@stelfrag do you know if it would be hard to build that, ie. storing extreme values across all history?)

Right now we nee

[2020-11-17 19:36] Ferroin commented on #10073
The individual node view on app.netdata.cloud would honestly benefit from this as well, as it has the exact same issues WRT over-crowded CPU charts.

[2020-11-17 19:39] jacekkolasa commented on #9533
i need to prioritise it lower since i cannot recreate it and perhaps that issue doesn't cause that many problems..

[2020-11-17 20:37] stelfrag commented on #10132
We can't store min/max just yet and running a query across all dimensions to get the values would be very expensive. We will need to work a way to store min/max as metrics are being collected so it will be available instantly.

[2020-11-17 20:37] limbo127 opened #10250 "Qos : tc-qos-helper nest class group"
Hello
https://firehol.org/fireqos-manual/fireqos-class/
fireqos permit group class but it seems not work with netdata

Exe :
class6  group cebox prio 1 max $WAN_SPEED commit 80%
class6 10_192_30_67_64125 prio 3
..

tc-qos-helper seems to be parse correctly with name class cebox/10_192_30  but nothing display
Regards,
Nicolas

[2020-11-17 22:22] Pixcell opened #10251 "Embed netdata graphs using a reverse proxy"
##### Question summary

I'm trying to embed some netdata charts in my web application.
My application is served by express, and the host of my netdata server will vary every single time, and will not always be directly accessible from the browser.

So, instead of going the easy way of
[code]
(I tried this, it works perfectly fine)

I would like to do something like
[code]

This is my express confi

[2020-11-17 22:36] Pixcell commented on #10251
I found the issue.
Turns out express-http-proxy does not play nice with bodyparser.

I moved the logic handling the proxy before running my bodyparser commands, and it works perfectly fine!

Sorry for the inconvenience, feel free to delete the issue, or leave it here for anyone else to stumble across it

[2020-11-17 22:36] #10251 closed

[2020-11-18 08:29] arnowelzel opened #10255 "Why does Netdata stop collecting data from Apache or see log entries as "unmatched"?"
##### Question summary

I usually get at least one alert per day that Netdata stopped collecting data for Apache: the alert is about "apache last collected secs" and when I open Netdata I can see that there are is no more data for Apache. On some days this happens multiple times a day. The same applies to "unmatched" values - sometimes Netdata sees all(!) data from Apache is "umatched", so there a

[2020-11-18 15:21] #7903 closed

[2020-11-18 15:21] #6503 closed

[2020-11-18 18:50] csmarshall opened #10256 "Example of python urlservice accessing session cookie auth resources."
#### Question summary
I wrote a plug to pull out metrics from my arris surfboard modem a few weeks back here:
https://github.com/csmarshall/netdata-arris-surfboard-modem-plugin-python/

And it worked great, until the modem died and I replaced it, in the interim comcast pushed a software update and now one is required to authenticate with a session cookie to your own modem :gruble:

Looks like a va

[2020-11-19 00:56] TerminalAddict opened #10257 "Discourse forum not sending email"
can't login to https://community.netdata.cloud/
and when I "forgot my password" , I never receive an email.

I couldn't find any other way to contact you

[2020-11-19 09:16] jamesnr commented on #10128
Can I ask if anyone is looking at this given a week has past? Thank you.

[2020-11-19 09:58] JOOSTR opened #10258 "System crashes when enabling ebpf plugin in netdata"
##### Question summary

Hello, we are running into an issue where the entire system crashes if we enable the ebpf plugin.

I ran this curl -sSL https://raw.githubusercontent.com/netdata/kernel-collector/master/tools/check-kernel-config.sh | sudo bash and it does not report any errors.

It works as expected without the plugin enabled.

##### OS / Environment
Ubuntu Server 18.04 LTS (GNU/Linux 4.18.

[2020-11-19 11:52] Ferroin commented on #10128
Apologies for the delays on this one. I’m currently working on a number of improvements to the updater that should include a fix for this.

[2020-11-19 12:02] jamesnr commented on #10128
Understand, I will wait, now I know. Thank you.

[2020-11-19 12:44] thiagoftsm commented on #10258
Hello @JOOSTR ,

I am trying to recreate the problem now to fix, and I have few questions for you:

- How did you install your Netdata?
- What is Netdata version you are running?
- Please, can you run the command `cat /proc/version_signature` and give us the output?

Best regards!

[2020-11-19 13:04] ilyam8 commented on #10256
Hi @csmarshall 👋

`UrlService` uses [urllib3](https://urllib3.readthedocs.io/en/latest/), so if the library allows it we can do it. We need to check it.

[2020-11-19 13:10] JOOSTR commented on #10258
Installed using netdata kickstarter.
We are using Netdata 1.26
This is the output: Ubuntu 4.18.0-25.26-generic 4.18.20

[2020-11-19 14:00] fayak opened #10260 "Missing network graph for some cgroup containers"
##### Bug report summary

I'm monitoring some Docker containers using Netdata. Most of them have the network bandwidth graphs (`Bandwidth (cgroup_engage_utils_instance1.net_eth0)` and `Packets (cgroup_engage_utils_instance1.net_packets_eth0)`), but some don't. I don't know why the graphs are missing, since the containers are using the network.

Using `docker inspect` and by looking at files in /sy

[2020-11-19 14:03] tmikaeld commented on #6511
I'm still seeing 10min_disk_utilization warning, it's been constant, happens on all default proxmox installations.

[2020-11-19 14:14] ilyam8 commented on #10260
Hi @fayak

Could it be you that are using [host network driver](https://docs.docker.com/network/network-tutorial-host/) for those containers?

[2020-11-19 14:16] ilyam8 commented on #10260
Are there any `veth*` interfaces in the `Network Interfaces` dashboard section?

[2020-11-19 14:18] ilyam8 commented on #10257
Hi @TerminalAddict 👋 Thx for reporting!

@OdysLam please take a look.

[2020-11-19 14:39] fayak commented on #10260
Hey @ilyam8 ,

docker inspect reports `"NetworkMode": "bridge",` and
[code]

for this container.

The `Network Interfaces` dashboard has indeed 2 `veth*` interfaces, including `vethbfa5874`.
The host has 35 veth interfaces (`ip a | grep veth | wc -l`) and 35 docker containers (`docker ps | wc -l` - 1).

I don't know why this veth interface shows up on the Network Interfaces section and not on the

[2020-11-19 14:48] ilyam8 commented on #10260
Good, because if it wasn't bridge then lack of network iface metrics is expected.

I guess you have 2 containers w/o `net eth0`?

[2020-11-19 14:53] fayak commented on #10260
Exactly :smile:

[2020-11-19 15:05] ilyam8 commented on #10260
Did you try `netdata.service` restart?

[2020-11-19 15:54] fayak commented on #10260
Just did, and it fixed it. Do you have any idea how to prevent this from happening again ?

[2020-11-19 16:00] OdysLam commented on #10257
Hey @TerminalAddict, the issue has been resolved, I think. Thank you for reporting this, I am sorry for the inconvenience.

Thanks @ilyam8 for the ping ! :)

[2020-11-19 16:02] ilyam8 commented on #10260
I think it should happen pretty rare.

@vlvkobal any ideas why/when is it happening?

[2020-11-19 16:43] vlvkobal commented on #10260
No ideas so far.

We are waiting before renaming cgrops and network interfaces because Docker has a lag (#5557). @fayak, have you changed `check for new cgroups every`?

Next time you face the issue, please `grep cgroup error.log` and look at messages with `cgroup-network` and around them.

[2020-11-19 17:10] fayak commented on #10260
No I did not, cgroups plugin configuration is the default one.

Yes I will, but I don't know when it will reproduce, if it will

[2020-11-19 17:14] ilyam8 commented on #10260
Since it happens occasionally and rare and we don't know how to reproduce it, i think it is ok to close this issue for now.

@fayak if there are any updates we will reopen the issue.

[2020-11-19 18:24] thiagoftsm commented on #10258
Hello @JOOSTR ,

I installed the kernel version that you were running, and I discovered that if I run direct on terminal `/usr/libexec/netdata/plugins.d/ebpf.plugin` as root user, it needs more time to crash then when it is called from Netdata. This has relationship either with `libbpf` or the plugin, I will bring a kick hotfix that will disable the plugin when Netdata is running on Ubuntu with th

[2020-11-19 18:42] thiagoftsm commented on #10258
An additional information, after 10 minutes running on kernel `Linux test 5.4.0-54-generic #60~18.04.1-Ubuntu SMP Fri Nov 6 17:25:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux` I did not have any problems with `ebpf.plugin`, so it is also possible that the kernels `4.15` and `4.18` running on Ubuntu are not supported, but I prefer do not consider this for while.

[2020-11-19 19:14] jacekkolasa opened #10263 "snapshot exported second time in a session fetches only single chart"
##### Bug report summary
Exporting a snapshot for a second time in given session only exports single chart.

##### Netdata version
1.26

##### Component Name
Dashboard

##### Steps To Reproduce
1. In dashboard, export a snapshot, save.
2. Close snapshot window, repeat step 1
3. Importing that snapshot (in current or new session) gives only single chart as result.

##### Expected behaviour
Exportin

[2020-11-19 19:25] #10258 closed

[2020-11-19 21:36] scatenag opened #10264 "nvidia-smi user statistics broken for LDAP users (not in /etc/passwd)"
With latest updates to nvidia stack and netdata something is broken in nvidia-smi users charts:
nvidia_smi.gpu0_processes_mem shows correctly the process by the nvidia_smi.gpu0_user_mem and nvidia_smi.gpu0_user_num are empty.

![broken](https://user-images.githubusercontent.com/46522361/99726296-9bb9ed80-2ab6-11eb-8ab2-e7a9cb900e46.png)

netdata version: v1.26.0
NVIDIA-SMI 455.45.01    Driver Vers

[2020-11-19 21:36] Kyngo commented on #10213
@AWHubGit I'm having the same problem here, with the same version of OSX. How did you install libJudy?

[2020-11-19 21:46] ilyam8 commented on #10264
Hi @scatenag

check `passwd_file` content

[2020-11-19 21:47] scatenag commented on #10264
Ok; I think I found the cause but not the solution:

the user is an LDAP user;

passwd_file does not contains it.

it's weird because I could have sworn it worked with LDAP users until recently.

[2020-11-19 21:49] ilyam8 commented on #10264
We look for a pid in the `/etc/passwd` file.

https://github.com/netdata/netdata/blob/149a7c3f3665545253cbe243afa642101764243f/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L247-L269

[2020-11-19 21:50] scatenag commented on #10264
yep, but LDAP users are not in /etc/passwd ...

[2020-11-19 21:52] ilyam8 commented on #10264
It is expected then, but we need to mention in in the module readme to avoid confusions.

[2020-11-19 21:57] scatenag commented on #10264
oh no! It is true: it never worked with LDAP users!

I should invent something for LDAP user !
(ps -p Is is capable; we must be too !)
any thoughts ?

[2020-11-19 22:00] ilyam8 commented on #10264
I have no expirience with LDAP, so 🤷‍♂️, unfortunately 😄

Since you are using LDAP - try to look for solutions/test stuff.

[2020-11-19 22:17] ilyam8 commented on #10264
@scatenag workaround is to use user `uid` if there is no user in `/etc/passwd`, does it sound any good?

[2020-11-20 00:02] quaint-engineer commented on #9617
I faced the same issue on my macOS setup. The issue was that the `alarm-notify.sh` script was still the system's bash `/bin/bash` rather than `/usr/local/bin/bash`.

My work around was to edit the file's interpreter directive

[code]

/usr/local/Cellar/netdata/1.26.0/libexec/netdata/plugins.d/alarm-notify.sh

I hope this helps.

[2020-11-20 06:14] AWHubGit commented on #10213
I followed the instrucs here
[netdata macOS](https://github.com/netdata/netdata/blob/master/packaging/installer/methods/macos.md)
Therein is written to install judy library. Downloaded judy-1.0.5 from sourceforge and did usual as per readme ./configure, make check, make install. No errors when compiling.

[2020-11-20 07:43] stelfrag commented on #10243
Hi @laguill
I only have access to an android device to try termux on, so I don't know the esp32 specifics. Trying from sources, it will not compile at this point due to pthread dependency.

[2020-11-20 07:56] laguill commented on #10243
Hi
Thank you for your answer. The esp32 is just use to send data with mqtt.
So if I understand I cannot install netdata server on android ?
Is there an alternative ?

[2020-11-20 08:53] scatenag commented on #10264
@ilyam8 using `uid` is better than nothing, but I think is not a good overall solution...we could do better.

I mean: both the following solutions (using psutil or pwd) are able to retrieve the correct username:

[code]

and

[code]

How we can proceed ?

[2020-11-20 09:20] ilyam8 commented on #10264
Well, i think `pwd` reads data from `/etc/passwd` 🤔

Instead of `pwd.getpwuid` we do

https://github.com/netdata/netdata/blob/149a7c3f3665545253cbe243afa642101764243f/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L285

and `passwd_file` is

[code]

---

are you sure `pwd.getpwuid` works for LDAP user when you call it as `netdata` user?

[2020-11-20 10:00] scatenag commented on #10264
yes, it is.

using
[code]

[2020-11-20 10:18] ilyam8 commented on #10264
`pwd` is python built-in (std library)

[code]

We can use it, i don't remember why we decided to not use it 🤔

[2020-11-20 10:18] scatenag commented on #10264
For docker compatibility

[2020-11-20 10:22] ilyam8 commented on #10264
well then we need to fallback to our custom implementation only if we are inside docker, `pwd` otherwise.

[2020-11-20 10:58] scatenag commented on #10264
something like the following ?

[code]

then

[code]

[2020-11-20 11:13] DonZheng commented on #5690
@ilyam8 After enabled openvpn via go.d.conf, I was able to activate openvpn plugin. Now I notice I can no longer execute 'telnet localhost 7505‘ on the machine where openvpn is installed.

I am assuming this is result of netdata openvpn plugin.

Is there anyway I can enable netdata openvpn plugin while being able to manually check openpvn management interface at the same time?

Thanks

[2020-11-20 11:22] ilyam8 commented on #5690
Hi @DonZheng

See https://github.com/netdata/go.d.plugin/tree/master/modules/openvpn#configuration

It is OpenVPN limitation unfortunately.

[2020-11-20 11:23] DonZheng commented on #5690
@ilyam8 O well. Thanks for your prompt response. Much appreciated.

[2020-11-20 12:38] adia opened #10266 "Badges: transform value to text based on conditions"
First of all, I don't know if this feature is in scope, so feel free to reject it. Thanks!

I think it would be useful to have a way to display a string in the value spot of badges, similar to how the value_color parameter works. So, something like:

```value_string=Unknown:null|Very Slow>100|Slow>30|Fast```

... will display "Unknown" if no value has been collected, "Very Slow" if the value is mo

[2020-11-20 13:10] Tommuh opened #10267 "Redis connections chart question"
Hi guys,

I have a question about a Redis chart, it is about the **redis_local.clients**
Where does this value come from?

We have some issues regarding Redis and connections that we try to resolve - this chart always seems to cap at 100/101 when those issues occur. I'm not here to get help with Redis, just curious where this value is based on.

![image](https://user-images.githubusercontent.com/2

[2020-11-20 14:57] ilyam8 commented on #10264
@scatenag hey, could you test #10268?

[2020-11-20 15:14] ilyam8 commented on #10267
Hi, that chart

https://github.com/netdata/netdata/blob/333badb3a7da910c8926b72adfab93c0bb999305/collectors/python.d.plugin/redis/redis.chart.py#L95-L100

Metrics descriptions: https://redis.io/commands/info#notes

- `connected_clients`: Number of client connections (excluding connections from replicas).
- `blocked_clients`: Number of clients pending on a blocking call (BLPOP, BRPOP, BRPOPLPUSH, B

[2020-11-20 15:35] ilyam8 commented on #10255
Hi @arnowelzel 👋

Let's start with

I think you are referring to web_log apache job, correct?

Does it restart data data collection after some time?

[2020-11-20 15:43] Tommuh commented on #10267
Thank you for your quick response.

[2020-11-20 15:43] #10267 closed

[2020-11-20 15:45] manos-saratsis commented on #9419
@Ferroin do you have a hint?

[2020-11-20 15:53] arnowelzel commented on #10255
Yes, it's web_log apache and usually it restarts collecting data after some time - sometimes after a few minutes, but often it takes at least 2-3 hours before it starts collecting agin. However I like to know how I can find out why it stops.

[2020-11-20 18:26] Ferroin commented on #9419
No idea. `--reinstall` _should_ do it provided that the same type of install (regular kickstart.sh versus kickstart-static64.sh) is done.

I’d need to see the output from actually running the installer to figure out what’s going on here.

[2020-11-20 18:26] Ferroin commented on #9419
Also, reopening this, it’s still an issue...

[2020-11-20 20:28] stdedos commented on #9419
Well, "I think" I used `kickstart.sh` and not `kickstart-static64.sh` because (a) I didn't know it, and (b) I don't really need it.

[code]

[2020-11-20 20:36] #10124 closed

[2020-11-21 02:51] fantastic2085 opened #10272 "About activating Ceph monitoring"
version：
![image](https://user-images.githubusercontent.com/4116773/99865699-8643e100-2be6-11eb-8600-896401bcaa68.png)

After executing this command  **./edit-config python.d/ceph.conf**, see the following figure
![image](https://user-images.githubusercontent.com/4116773/99865737-db7ff280-2be6-11eb-9e65-72961bd2724c.png)

Ceph has been installed, as shown below:
![image](https://user-images.github

[2020-11-21 07:41] #10021 closed

[2020-11-21 17:11] ilyam8 commented on #10272
Hi @fantastic2085 👋

If there any problems with python collector, good first step is to try it in the debug mode, see https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin#how-to-debug-a-python-module

---

I see your configuration file has YAML syntax errors (it is likely you will see them in the debug mode).

It should be like

[code]

[2020-11-22 02:22] oguzhansrky opened #10273 "vsphere monitor not working"
hi everyone,

[code]

https://github.com/netdata/netdata/issues/9481

I'm looking at the solution here but I can't update the go.d plugin. how can i solve this

[2020-11-22 17:30] ilyam8 commented on #10273
Hi @oguzhansrky 👋

Why did you mention that issue? It was fixed.

---

It seems you have no active jobs in the file. I assume they are commented out 🤔

[2020-11-23 00:26] ShagoY opened #10274 "Raspberry Pi CPU temp"
Hello,

According to your docs, and [here](https://github.com/netdata/netdata/issues/8603), only the charts.d module allows to do it.

However while installing my new RPI, I discovered a rather strange behavior...
I installed by accident the lm-sensors package and even if it doesn't discover any sensors (and even without launching the discovery), Netdata discovered the Raspi temperature via "cpu_t

[2020-11-23 08:32] scatenag commented on #10264
As replied on the PR:
Tested outside docker: it is running fine!
@ilyam8 Great work!

[2020-11-23 09:30] oguzhansrky commented on #10273
hi @ilyam8,

There is a machine inside.

I opened this problem because it does not pull any data.

the following line continues like that, no data is received. I will check again and be back during the day

[DEBUG] run [manager] run.go: 41 tick 0
[DEBUG] run [manager] run.go: 41 tick 1
[DEBUG] run [manager] run.go: 41 tick 2
[DEBUG] run [manager] run.go: 41 tick 3

Thank you very much for your att

[2020-11-23 09:48] fayak commented on #10165
I have the same issue. On archlinux, install netdata with `pacman` -> (`netdata v1.26.0`).

Go to `/etc/`, `./edit-config exporting.conf`, and set

[code]

`systemctl restart netdata` to apply changes, and nothing is applied.

[code]

[code]
(first is from stock install I guess, second is mine)

[2020-11-23 09:51] fayak commented on #10165
I'm actually trying to add a prometheus label to my metrics, and interested in the `send configured labels`, but even if I have the label in `http://127.0.0.1:19999/api/v1/info` (configured in `netdata.conf`), it is never exported in `api/v1/allmetrics?format=prometheus`

[2020-11-23 10:02] ilyam8 commented on #10264
@scatenag great, still would be nice to know what source `pwd` uses to get users data 🤷‍♂️ 😄 But nice it works!

[2020-11-23 10:15] ilyam8 commented on #10165
@fayak 👋

@vlvkobal is on vacation this week, we will check the problem right after he is back

[2020-11-23 10:28] ilyam8 commented on #10273
@oguzhaninan yes, it is not clear from the logs are there any configured jobs or not, i added more logging in the latest version of go.d.plugin.

[code]

[code]

See the last line^^

[2020-11-23 10:58] OdysLam commented on #10243
Hey @laguill,

Welcome to our community :)

I think it would be best to run Netdata on a Raspberry pi and then collect the data with a [custom python collector](https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin). For your use-case, it would be best perhaps to simply push the metrics to a hosted InfluxDB (it can run locally too). To push the metrics, you can do a simple HTTP request

[2020-11-23 10:58] OdysLam commented on #10243
BTW, if you do manage it to run on termux , please tell us how! We would love to enrich our documentation. Cheers!

[2020-11-23 11:00] OdysLam commented on #10258
Hey @JOOSTR  and welcome to our community! I understand that it must have been frustrating, but thankfully we have amazing engineers like @thiagoftsm, so it got fixed pretty fast.

If you do have any other issue, please don't hesitate to contact us at our forums: https://community.netdata.cloud

[2020-11-23 11:00] OdysLam commented on #10266
Hey @adia,

Thanks for this feature request and welcome to our community! The agent team will respond shortly!

[2020-11-23 11:33] JOOSTR commented on #10258
Yes, thank you for your help.

[2020-11-23 11:34] ilyam8 commented on #10274
Hi @ShagoY, yeah, `lm-sensors` in the repo, but it does not produce the expected results.

[2020-11-23 11:42] laguill commented on #10243
Hi @OdysLam thank you for answering me.
Unfortunatly I want to reuse an android tablet. Maybe this is not the best reliable device but I like the idea of recycling things.
If I can't use netdata then I'll probably use sqlite3 and node-red dashboard
Thank you for your help.

And if someone has alredy done that or think of a better way I will be glad to hear from him.

[2020-11-23 12:04] thiagoftsm commented on #10258
And thank you to report the problem for us!  :)

[2020-11-23 12:15] #10264 closed

[2020-11-23 12:36] thiagoftsm commented on #10165
Hello @fayak ,

According to this message:

[code]

You do not have the file `/etc/netdata/exporting.conf` and it is possible this is your problem, please, can you check if the file exists?

Best regards!

[2020-11-23 12:41] OdysLam commented on #10243
Having fiddled with IoT quite a lot, I am not sure that sqlite is the best option. Maybe look into TimescaleDB and InfluxDB?

[2020-11-23 12:42] fayak commented on #10165
As mentionned, this log is for the first time netdata is ran when installing it with pacman. The file name is correct, and its content is the one I sent on my prev. message ;)

[2020-11-23 13:13] OdysLam commented on #10256
Hey @csmarshall welcome to our community and thanks for the new plugin. We would love you to see PRing the collector or PR an improvement (perhaps a new method?) to the urlservice function that would enable the cookie authentication.

Apparently, urllib3 can support [cookies](https://stackoverflow.com/questions/2422922/python-urllib3-and-how-to-handle-cookie-support), so we would love to see this

[2020-11-23 13:26] thiagoftsm commented on #10266
Hello @adia ,

I took a fast look in our webserver, and to bring this feature we would need to change  the functions:

- [calc_colorz](https://github.com/netdata/netdata/blob/4de1c2e6cca67d8fcd87ebd88879293042aeda8c/web/api/badges/web_buffer_svg.c#L558) - Responsible to write the value to the badge.
- [buffer_svg](https://github.com/netdata/netdata/blob/4de1c2e6cca67d8fcd87ebd88879293042aeda8c/web

[2020-11-23 14:30] laguill commented on #10243
I know there is a pkg request for influxdb and with TimescaleDB I don't know how to use it.
I installed postgresql within termux but then I don't have enough knowledge :/

[2020-11-23 14:34] ilyam8 commented on #10274
@ShagoY thx for noticing this and being an active user 👍 However, for my knowledge, `lm-sensors` doesn't really work in RPi.

[2020-11-23 14:34] #10274 closed

[2020-11-23 15:35] andrewm4894 commented on #8597
I have looked a bit more at this today and starting to form an opinion that something like a self hosted PostHog could be a good option.

**Pros:**
- active open source project.
- seems like a developer friendly project as opposed to a more commercial/marketing focused type one.
- we can host it ourselves.
- has a Go integration/SDK https://posthog.com/docs/integrations/go-integration. For example

[2020-11-23 16:54] Saruspete commented on #10200
Hello,

From the package name, it seems to be coming from EPEL, not netdata upstream.
I think the EPEL specfile for Centos7 is here: https://src.fedoraproject.org/rpms/netdata/blob/epel7/f/netdata.spec which does not provide the ebpf plugin.
Compare it to our official specfile which conditionally includes ebpf if the required packages are installed on the system (and is not explcitely disabled fro

[2020-11-23 16:57] Saruspete commented on #10169
Please bear in mind we also have "system-team managed" versions from the packages (either rebuilt per-use from the scripts, or provided by distributions maintainers). So an option to set in the configuration here would definitively be better.

[2020-11-23 17:55] kjellgren commented on #10200
Hello,
I download the RPM file from [packagecloud.io](https://packagecloud.io/netdata/netdata/packages/el/7/netdata-1.26.0-1.el7.x86_64.rpm)

[2020-11-23 18:11] thiagoftsm commented on #10200
@Ferroin , please, can you take a look on this when you have a time.

[2020-11-23 20:18] thiagoftsm commented on #10245
Hello @dlevene1 ,

Firstly I apologize the delay to work on this, but I was busy with other tasks.
I made an environment like yours and I could recreate the reported bug:

[code]

I am making a PR right now to fix this.

Thank you  for your report!

[2020-11-23 21:56] dlevene1 commented on #10245
Hi @thiagoftsm,

Fantastic, I see a PR has been raised - thanks for fixing quickly.

Kudos to you and the team for a great product.

[2020-11-24 01:45] kiwik commented on #7824
Would like to see aarch64 package landing. :)

[2020-11-24 10:41] hitmoon opened #10277 "netdata crash when startup on centos 7"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 v1.25.0-83-nightly (e3b04fb39a06991d9a2deed0488044dd7d340e3f)

##### Component Name

##### Steps To Reproduce

1. sudo systemctl start netdata

2. netdata killed by SEGV

##### Extra info:
I debug netdata by gdb and found it always crashed at appconfig_value_create, similary to https://github.com/netdata/netdata/issu

[2020-11-24 12:32] mfundul commented on #10277
@hitmoon have you modified the source code in any way?

Can you provide some logs (usually located at `var/log/netdata/error.log`)?

[2020-11-24 12:56] ekexcello commented on #4852
Hello @ilyam8

As we are using supervisord and netdata in everyday work, we also require plugin to monitor it.
From our point, metrics would look as follows:
* list of configured supervised jobs
* number of running processes for every job
* number of *not* running processes per job
* status of each process (running/starting/failed etc)
* uptime of each process (combined to 1 chart for every config

[2020-11-24 13:48] KickerTom opened #10278 "Compilation of master fails it https is disabled."
##### Bug report summary
Compilation fails if https is disabled (e.g. via --enable-https=no).

[code]

##### OS / Environment
Linux

##### Netdata version
git master

##### Component Name
core

##### Steps To Reproduce
1. ./configure --enable-https=no
2. make

##### Expected behavior
Build works :-).

[2020-11-24 14:36] ilyam8 commented on #4852
@ekexcello short guide how to setup a lab (docker) with supervisord with several jobs/processes is very welcome!

[2020-11-24 15:47] ShagoY commented on #10274
@ilyam8 Sorry if I wasn't clear... English is not my native language ;-)
But that's exactly what I tried to say. Lm-sensors are strictly useless on Raspberry but the simple fact of installing it (without even configuring it) allows Netdata to get the CPU temperature back :)

[2020-11-24 17:57] ilyam8 commented on #10245
@dlevene1 thx for testing it, we made some changes and i am pretty sure they work, but if you have time to test it again, please do 😉

[2020-11-24 18:34] lucasRolff opened #10281 "MySQL go.d.plugin fails on Ubuntu 20.04 with MariaDB 10.5"
##### Bug report summary

On Ubuntu 20.04 we're seeing the MySQL go.d.plugin doesn't work as it should with certain versions of MariaDB.

[code]

The actual MariaDB version:

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.26.0-242-nightly

##### Component Name

go.d.plugin mysql

##### Steps To Reproduce

1. Install Ubuntu 20.04 (Focal)
2. Install MariaDB 10.5 from the o

[2020-11-24 18:39] ilyam8 commented on #10281
Hi @lucasRolff

This bug was fixed in https://github.com/netdata/go.d.plugin/pull/498

Will be in the master this week

[2020-11-24 18:40] #10281 closed

[2020-11-24 18:42] lucasRolff commented on #10281
Thanks @ilyam8 I didn't realize go.d.plugins was a separate repo! That explains why it didn't turn up here!

[2020-11-24 18:45] ilyam8 commented on #10281
Yeah, it is a separate repo, netdata's installer download latest version from [releases page](https://github.com/netdata/go.d.plugin/releases) if actual < latest.

[2020-11-24 22:36] dlevene1 commented on #10245
@ilyam8 - tested again, and it looks to be working as expected. Thanks.
![image](https://user-images.githubusercontent.com/10554724/100159363-8d783100-2efd-11eb-8be2-d32f44336686.png)

[2020-11-25 00:13] #10056 closed

[2020-11-25 00:13] #10054 closed

[2020-11-25 02:19] hitmoon commented on #10277
@mfundul No, just checkout that commit and build a rpm package

systemctl start netdata error:
![netdata-crash](https://user-images.githubusercontent.com/3981296/100174299-1c3d7b80-2f07-11eb-995d-618efaac4652.png)

Here is the log
[error.log](https://github.com/netdata/netdata/files/5594008/error.log)

[2020-11-25 03:50] hitmoon commented on #10277
UPDATE:

Another crash case:
[code]

Here the parser is point to a ***invalid address***: 0x7ffff7ff1010
[code]
And the parser's content is :
[code]
Which leads to the following code to crash:
[code]

See following logs from error.log:
[code]
Now I suspect that the main thread exit before the child thread terminates, and child thread will access the ***released memory***, which is of course corrup

[2020-11-25 06:49] OdysLam commented on #10272
@ilyam8 another github issue that is more of a support request. I think it's best to start implementing the new policy. Thoughts?

[2020-11-25 06:50] OdysLam commented on #10272
@fantastic2085 welcome to our community btw, we are going to sort everything out! We are sorry that you are experiencing this issue. :)

[2020-11-25 07:12] ilyam8 commented on #10273
For me - i see no bug so far.

[2020-11-25 07:16] OdysLam commented on #10273
Okay, so let's close the issue and @oguzhaninan please open a topic in our support category in the forums: https://community.netdata.cloud/c/support/netdata-agent/14

We would be happy to continue the discussion there and why not, help more users in the process! We will figure it out, no worries 💪

[2020-11-25 07:16] #10273 closed

[2020-11-25 07:38] ilyam8 commented on #10272
Border between a support request/bug is not clear for a user. Something doesn't work so it is understandable to see it as a bug.

[2020-11-25 07:40] OdysLam commented on #10272
That' s an interesting notion Ilya. Do you think we can improve the template so that it's more clear and save the user that extra step of opening an issue and then us closing it.

[2020-11-25 07:54] mfundul commented on #10277
Nice work @hitmoon
Can you please also share your `etc/netdata/netdata.conf` file?

[2020-11-25 07:54] 42Network commented on #10137
Any updates?

[2020-11-25 08:10] 42Network commented on #10213
I have similar problem building on macOS. I got Judy to work, but not mosquito. See #10137.

[2020-11-25 08:11] OdysLam commented on #10137
Hey @42Network,

Thanks for pinging us again on this one. It seems that we dropped the ball, we are sorry! I am pinging our engineers and they will respond shortly. Thanks for the patience :)

[2020-11-25 08:14] OdysLam commented on #10213
Although this is not a solution at all, can I suggest to use docker?  I know that docker runs inside a VM on macos, so I am not sure what system metrics it will have access to, but if you want to use it for application monitoring, it will be able to function without a problem, *I think*.

Installation instructions: https://learn.netdata.cloud/docs/get

[2020-11-25 08:45] stelfrag commented on #10213
There is work in progress that will address this issue (remove libmosquitto dependency). Stay tuned!

[2020-11-25 09:13] underhood commented on #10137
@OdysLam I created PR https://github.com/netdata/mosquitto/pull/10 that should fix it. Need somebody who has actual access to MacOS to test it

[2020-11-25 09:26] hitmoon commented on #10277
@mfundul sure.
Here it is:
[code]
Now I can confirm this:

on_pipe_read function got a UV_EOF, and set server_shutdown = 1:
[code]
then, code goes to:
[code]
And ***exit(0)*** was called !

Maybe this is a libuv library compatibility problem.
PS: My version is : libuv-1.40.0-1.el7.x86_64

[2020-11-25 13:39] underhood commented on #10137
https://github.com/netdata/netdata/pull/10283 should fix this when it is merged :)

[2020-11-25 14:52] cakrit opened #10285 "cgroups collection gaps in dynamic environments"
##### Bug report summary
When cgroups get dynamically updated (e.g. our k8s infra), the cgroup collector is blocked and we lose data.

##### OS / Environment
Netdata production k8s infra

##### Netdata version
Latest

##### Component Name
cgroups

##### Steps To Reproduce
trigger running of cgroup-name.sh (new cgroup detected) in an infra with many containers

##### Expected behavior
The bash scri

[2020-11-25 14:52] cakrit commented on #10285
cc @mfundul who helped with the triage

[2020-11-25 15:12] #10137 closed

[2020-11-25 16:05] #10245 closed

[2020-11-25 16:47] arnowelzel commented on #10255
Again I have the alert for "web_log_apache_vhosts.excluded_requests" which is 96.5%.

I still don't know, what "Excluded Requests (web_log_apache_vhosts.excluded_requests)" means. Is there a documentation about this?

When I restart netdata with `systemctl restart netdata` the "Excluded Requests" are again back to less then 10 per second.

So what can I do to avoid this?

[2020-11-25 16:50] arnowelzel commented on #10255
Here is a screenshot of the situation - in the middle is the point where I restarted Netdata. Before restarting nearly **every** request was excluded. After the restart it got back to normal again.

![grafik](https://user-images.githubusercontent.com/6613614/100257898-bb359800-2f46-11eb-8c8a-46d5f2ea059a.png)

[2020-11-25 18:17] OdysLam commented on #7824
Welcome @kiwik to our community! Thanks for chiming in. Every voice is being heard and we value your feedback.

Cheers ;)

[2020-11-25 18:25] meme1337 opened #10286 "Netdata interface is not reachable anymore"
##### Bug report summary

It's been some months already that this issue is occuring. Netdata was running flawlessly, sending notification when needed via slack. It also helped me discover issues on some external software that was running on my machine.

What I experience is that after some random time (usually hours) if I try to connect to the interface, it's not reachable anymore.

this is output

[2020-11-26 06:33] kevinkk525 opened #10288 "Disabling prometheus plugin not working"
##### Bug report summary

I'm trying to disable the plugin "prometheus" that pulls data from all prometheus endpoints.
I tried adding to /etc/netdata/netdata.conf:
[code]
Neither of these options work. The only way that worked was to disable the whole go.d plugin completely, which is not quite what I want to do..

##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0-255-nightly

[2020-11-26 06:51] NathanTheGr8 commented on #10061
I just ran into this same issue after uninstalling netdata with the /usr/libexec/netdata/netdata-uninstaller.sh script. @mcnaveen  I don't understand your grep solution. I tried running it but I received no output. Iam I looking for a file path in dpkg-statoverride?

[code]

[2020-11-26 07:03] alexbogias commented on #2655
I added all of these but is still alerts me :(
[code]

[2020-11-26 07:22] mcnaveen commented on #10061
Honestly, I'm not sure how this helped. But it worked for me.

Please follow the official documentation. https://learn.netdata.cloud/docs/agent/packaging/installer/uninstall

[2020-11-26 08:38] ilyam8 commented on #10288
Hi @kevinkk525

To disable specific go collector you need to edit [`go.d.conf`](https://github.com/netdata/go.d.plugin/blob/master/config/go.d.conf)

[code]

cd to `/etc/netdata/` and `sudo ./edit-config go.d.conf`

[2020-11-26 08:50] Sweepr commented on #2655
@alexbogias

Did you do restart 'csf -r' ?

[2020-11-26 08:50] kevinkk525 commented on #10288
oh, thanks a lot! That makes sense.. Didn't find that in the documentation (or didn't make the right conclusion, there is not much about disabling plugins).
Thanks for the help.

[2020-11-26 08:50] #10288 closed

[2020-11-26 09:33] ilyam8 commented on #10288
Indeed i couldnt find it too, at least it is not clear

[`Enable, configure, and disable modules`](https://learn.netdata.cloud/docs/agent/collectors/reference#enable-configure-and-disable-modules) points to [`collectors quickstart`](https://learn.netdata.cloud/docs/agent/collectors/quickstart) which has not `disabling` section. @joelhans

[2020-11-26 09:54] Sweepr commented on #2655
@alexbogias and restarted LFD too i guess?

[2020-11-26 09:57] alexbogias commented on #2655
@Sweepr hmmm I use webmin and when I save file it says:

So I sure did. But it says that only LFD is needed...

I'll restart CSF also now and let you know in next update. Thanks

[2020-11-26 09:57] OdysLam commented on #2655
Hey @alexbogias, welcome to our community.

Ooh boy this is an old thread, I would be very curious to see how you handle the issue. Perhaps we can add a small tip in our docs (cc @joelhans).

Also folks, we are in the process of migrating the community to our brand new forum! Make sure you join us at https://community.netdata.cloud ! ✌️

[2020-11-26 09:57] ilyam8 commented on #10255
@arnowelzel do you change log format? 🤔

That is how weblog works:
 - opens log file on start and reads last line from there
 - if log format not set (set to `auto`) it tries to find appropriate log format, see [docs](https://github.com/netdata/go.d.plugin/blob/master/modules/weblog/README.md#log-parser-auto-detection).
 - if set in the config it parses the line using it.
 - if parsing fails it lo

[2020-11-26 10:00] ilyam8 commented on #10255
if you run the plugin in [debug mode](https://github.com/netdata/go.d.plugin/tree/master/modules/weblog#troubleshooting) it logs all formats it is trying to use

https://github.com/netdata/go.d.plugin/blob/3ef9daf8a5a99988025cc7c0f2993615514c8bab/modules/weblog/init.go#L126

[2020-11-26 10:00] alexbogias commented on #2655
Nice finding you all here @OdysLam
Καλησπέρα :P

Sorry for resurrecting such an old thread for an off topic "csf" question, but I am trying to mute those alerts for a long time now :(

[2020-11-26 10:06] ilyam8 commented on #10255
It is an interesting problem, would be nice to have more details:
 - log file name
 - log rotation schedule
 - [log format](http://httpd.apache.org/docs/current/mod/mod_log_config.html) (somewhere in the apache config files, don't rememeber exact file name).
 - active web_log job configuration (`web_log.conf`)
 - log lines sample

[2020-11-26 10:15] djmattyg007 commented on #9035
So what's the path forward here? If this is just an issue with the "old" dashboard that won't be fixed, shouldn't this issue just be closed?

[2020-11-26 10:33] ilyam8 commented on #9035
@jacekkolasa added `wontfix` label, so it seems to be the case, i am closing the issue. @jacekkolasa repoen if i am wrong.

[2020-11-26 10:33] #9035 closed

[2020-11-26 11:25] arnowelzel commented on #10255
Thanks for the clarification and the pointer to the documentation.

The log format was never changed since the machine was set up. The collection just starts switching to "unmatched" randomly and also just stop collecting at all randomly.

So I think, my first try will be to set a fixed format in web_log.conf (so far there is no specific format and thus the parser needs to auto detect it).

Some s

[2020-11-26 11:27] ilyam8 commented on #10285
`cgroup-name.sh` is indeed a problem and very slow/cpu expensive.

We added 2nd http call to get `cluster_id` in [Kubernetes labels PR](https://github.com/netdata/netdata/pull/10107)

i did some optimizations:
 - `/api/v1/pods` call: reduce number of returned data by [adding `fieldSelector` query parameters](https://github.com/netdata/netdata/pull/10107/commits/024d1538a9b7ab97ccf37d151e5cbe6f8081

[2020-11-26 11:34] ilyam8 commented on #10255
@arnowelzel thx!

Let's see weblog debug output

[2020-11-26 16:01] stemy2 opened #10291 "Unable to start netdata service"
##### Bug report summary
I can't load the monitors, the app is blocked on the splash screen. According my webmin, the app is marked as "auto-start", and in journalctl, i got this:

[code]

##### OS / Environment

[code]

##### Netdata version

 1.26

##### Component Name

Don't know
##### Steps To Reproduce

It appeared itself out of the blue.
##### Expected behavior
An usable app.

[2020-11-26 18:40] OdysLam commented on #10291
Hey @stemy2 ,

Can you please open a support topic on our Community? We have migrated our support process there. DOn't worry, we are solving this one way or another 💪

[2020-11-26 18:40] #10291 closed

[2020-11-26 18:42] OdysLam commented on #10286
Hey @meme1337,

Welcome to the community :) We have migrated our support process to our forums so that we can better manage it!
Please open a topic with your issue here: https://community.netdata.cloud/c/support/agent-support/14

Also, please give us more information on how it helped you find issues with your application. We love to hear user stories!

[2020-11-26 18:42] #10286 closed

[2020-11-26 21:24] NathanTheGr8 commented on #10061
the uninstallation documentation was not helpful. This [stack overflow](https://askubuntu.com/questions/335538/unknown-user-in-statoverride-file) helped me understand how to fix the issue.
[code]

[2020-11-26 21:27] mcnaveen commented on #10061
Glad it worked. Enjoy 🎉

[2020-11-26 23:31] vjt commented on #5158
For anybody stumbling into this same alarm on ESX infrastructures, [vMotions generate RARP packets](http://rickardnobel.se/vswitch-notify-switches-setting/) and these are by default dropped by the Linux kernel, and at least for me were accounting for plenty of packets dropped alarms.

If you have a recent enough kernel, the solution by @Seji64 above would work perfectly well to drop these out earl

[2020-11-27 06:39] OdysLam commented on #5158
Hey @vjt,

Thanks for this. If we wanted to put this tip in our documentation, where would you expect it to find it? Existing documentation piece or a new one?

[2020-11-27 07:02] alexbogias commented on #2655
@Sweepr Netdata updated and CSF send an alert mail again... Something is wrong :/

[2020-11-27 07:03] OdysLam commented on #2655
Let's try and get the agent team in here, this is well beyond my expertise 😅

[2020-11-27 07:07] alexbogias commented on #2655
I will try to add them here:
/etc/csf/csf.dirwatch

[2020-11-27 07:18] Sweepr commented on #2655
in `/etc/csf/csf.pignore` i have put `exe:/usr/sbin/netdata` and did `service lfd restart`

I'm not getting any notifications now.

[2020-11-27 07:25] alexbogias commented on #2655
OK I removed everything else except this one... Thanks @Sweepr

[2020-11-27 07:59] underhood commented on #10243
@laguill I am in fact doing something similar. Made home-made thermostat with e-ink display with esp8266 (older version of esp32) with my own custom firmware based on Sming framework. It sends data to RPi however (with MQTT).
Depending on workload next days I might find some time and try if it is possible to use netdata on termux in some android emulator... (never tried such thing)

[2020-11-27 09:58] underhood commented on #10243
@laguill I am almost able to make it work like this:
[code]
Problem seems to be Android doesn't implement `pthread_setcancelstate` for some weird reason. I will try and find some workaround for this but it might take a while. After this is solved I do not see any reason why netdata can't run on the termux.

![Screenshot from 2020-11-27 10-53-45](https://user-images.githubusercontent.com/6674623/10

[2020-11-27 10:18] underhood commented on #10243
@laguill Unfortunately it looks like making it work on Termux would require us patching Netdata to work on this specific platform. :(

[2020-11-27 10:41] laguill commented on #10243
Hi @underhood
Wow you are much better than me !
I'm afraid I won't be able to help you.

I'm able to run
home assistant with configurator and hacs
node-red
esphome

My device is a tablet asus memo pad 7 with i686 arch
It is rooted with lineage os 16.0

For now it is doing the job. But if I want to store temperature data to compare with previous years I am a bit stuck.
I've heard I can use a Hdd in

[2020-11-27 11:32] underhood commented on #10243
@laguill well sorry I don't have better news for you. I managed to make it work in the end even with Cloud support but that requires heavy patching and had to disable almost all internal plugins (collectors) of netdata as those had additional requirements that Termux was not able to satisfy. This is not however way I can recommend to any user as it is too complex and hacky.

[2020-11-27 11:49] vjt commented on #5158
Hi @OdysLam! I would create a new page in the Health section [of the current documentation](https://learn.netdata.cloud/docs/agent/health) such as "notable alarms tuning / common pitfalls" or something on those lines.

That is because if googling "netdata alarms configuration" one immediately lands on that page ;-)

Cheers

[2020-11-27 11:52] mfundul commented on #10243
Could it be that we're just not setting the correct CFLAGS and LDFLAGS for libpthread in Android?

[2020-11-27 12:18] underhood commented on #10243
@mfundul no, I have found just those functions don't exist on android, other pthreads functions are available. I managed to build it in the end. But had to get rid of those functions and manually disable all internal plugins (as they had other unmet dependencies not present in termux).
Also went in contact with termux guys and they told me they are manually patching those functions for example emu

[2020-11-27 14:13] badkaktus commented on #10212
Sorry for delay.

All external info in attachments:
[conf.zip](https://github.com/netdata/netdata/files/5608184/conf.zip)
[error_slave04.log](https://github.com/netdata/netdata/files/5608185/error_slave04.log)
[error_master.log](https://github.com/netdata/netdata/files/5608186/error_master.log)

[2020-11-29 06:32] arnowelzel commented on #10255
I'm not able to get any debug output. Using `./go.d.plugin -d -m web_log` as user `netdata` will only output `./go.d.plugin: No such file or directory`. So where exactly has this command to be executed?

[2020-11-29 06:52] arnowelzel commented on #10255
I now defined the format manually in `/etc/netdata/go.d/web_log.conf`:

[code]

If it starts with "unmatched" values again I'll check, if there was anything special in the log at that time.

[2020-11-29 08:27] ilyam8 commented on #10255
@arnowelzel `go.d.plugin` binary is in the `plugins.d/` directory, usually it is `/opt/netdata/usr/libexec/netdata/plugins.d/` or `/usr/libexec/netdata/plugins.d/` depends on your install.

[2020-11-29 11:56] #9162 closed

[2020-11-29 11:56] #8304 closed

[2020-11-29 11:56] #10089 closed

[2020-11-29 12:13] #10105 closed

[2020-11-29 12:13] arnowelzel commented on #10255
Since I've set the format in `/etc/netdata/go.d/web_log.conf` I did not have any issues with unmatched log entries yet. But I will see, if this keeps like this within the next 24-48 hours. Usually the "unmatched" issue starts within 12-20 hours.

For completeness - this is the debug output (sensitive data is anonymized with `XXXX`:

[code]

[2020-11-29 15:05] ilyam8 commented on #10255
Ok, there are 2 _success_ jobs:

- `name:apache` (format auto detection)
  - `path:/var/log/apache2/access.log`
  - `last line: '127.0.0.1 - - [29/Nov/2020:13:07:24 +0100] "GET /server-status?auto HTTP/1.1" 200 837 "-" "Go-http-client/1.1"'`
  - `created parser: csv: $remote_addr - - [$time_local] "$request" $status $body_bytes_sent`

- `name:apache_vhosts` (format set in the config file)
  - `pat

[2020-11-29 18:50] kozicpetar commented on #9941
@OdysLam
Hi, I didn't manage that. I don't have time right now, but I will check your project for sure. Thank you.

[2020-11-29 20:44] arnowelzel commented on #10255
For `apache` I never had any issues so far.

For `apache_vhosts` the collector frequently started ignoring all records as "unmatched", before I started using a fixed format in `/etc/netdata/go.d/web_log.conf`. Unfortunately it's hard to tell when exactly this happend - some days this did not happen at all and on other days I had this multiple times a day.

I'll let you know, if this happens again

[2020-11-29 21:21] ilyam8 commented on #10255
yeah, if it will happen let's check log lines right before that moment and after.

[2020-11-29 21:42] ilyam8 commented on #10255
@arnowelzel i added logging parse error on collect so we see what the problem is.

If you have time and it is ok to use your system to debug the problem, we need (golang needed):
 - clone go.d.plugin repository
 - build the plugin
 - replace `go.d.plugin` with the new binary
 - wait for unmatched lines, check logs (`grep "unmatched line" error.log`)

[code]

[2020-11-29 21:47] namlegief commented on #6620
Hi , have the same issue with docker
netdata # cat /etc/os-release
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.12.1
PRETTY_NAME="Alpine Linux v3.12"
HOME_URL="https://alpinelinux.org/"
BUG_REPORT_URL="https://bugs.alpinelinux.org/"
Please advise.

[2020-11-30 01:31] startryst commented on #8527
Update to keep the issue opened

[2020-11-30 07:02] #10257 closed

[2020-11-30 08:14] ilyam8 commented on #9941
@kozicpetar the correct link is https://github.com/netdata/community/tree/main/configuration-management/consul-quickstart#configuration-management-with-consul

[2020-11-30 11:55] OdysLam commented on #6620
Hey @namlegief,

We are so sorry that you are encountering this issue. We have switched our support process to our forums at https://community.netdata.cloud/c/support/agent-support/14 for the Netdata Agent. Please do sign up and create a new topic. It is very important to state if you used our own image for the docker container or another image, in which case the dockerfile will help us enormously

[2020-11-30 11:59] OdysLam commented on #5158
Thanks @vjt for the tips, we will discuss it with @joelhans who is leading our efforts in documentation.

Joel, I feel that this would be a very good candidate for our FAQ/Knowledge base, which I feel that the need is amount by the day. Let's discuss one of these days!

[2020-11-30 12:32] Ferroin commented on #9419
OK, that’s expected output without the `--reinstall` option. Because the installer is seeing an existing installation, it’s just trying to update that (which intentionally does not modify the installation options on the existing install, so that people can just run the installer and not have to remember what options they initially passed in). The `--reinstall` option should skip that check and jus

[2020-11-30 12:45] Ferroin commented on #10274
The Pi 4 is a different SoC from the earlier versions, so the CPU temperature sensor may be exposed in a different way which happens to work.

Alternatively, the Pi Foundation may have finally listened to all the people in the community asking them to enable the kernel config that exposes sensors handled by the kernel’s thermal-management API as hwmon devices, which would mean this now works on an

[2020-11-30 12:56] ShagoY commented on #10274
Thank you for this information, also know that the "tip" also works on the 3b/3b+/3a+ version.

I admit I don't know if it comes from the new kernel or not, I used the chart.d script before.

It would be interesting if Netdata could recover the CPU temperature without the installation of the lm-sensors package, especially knowing that the chart.d script is deprecated compared to the python one.

T

[2020-11-30 13:00] stdedos commented on #9419
Currently, it seems that this is not an option (as my output is effectively the same as the one above)

Write the `--reinstall` workaround too in that case

[2020-11-30 13:04] #10278 closed

[2020-11-30 14:24] jamesefhawkins commented on #8597
Hey all, I'm one of the founders of PostHog. Just wanted to answer to give a little reassurance on this one (and it's fun working with other repos in GitHub directly...!)

We make [our strategy public](https://posthog.com/handbook/strategy/strategy) - being open source is our primary competitive differentiation - product analytics is a busy space, so we will forever have this :) [This post talks a

[2020-11-30 16:09] krital opened #10297 "Netdata Agent installation fails to compile libwebsockets and produce a Netdata.cloud capable agent"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

##### Component Name

##### Steps To Reproduce

1. sudo ./netdata-installer.sh --install /usr/local
2. While building libwebsockets we get:

[  1%] Building C object CMakeFiles/websockets.dir/lib/core/alloc.c.o
In file included from /var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/netdata-libwebsockets-XXXXXX.pH7jClqv

[2020-11-30 16:16] InvisibleSymbol opened #10298 "Travis: Don't trigger nightly update if no new commits have been made"
It seems like you guys are using a cron job with travis to trigger a new nightly version daily _even if there are no new changes_ (as seen in https://github.com/netdata/netdata/commit/c9fea34095b2035e43c8e4c05d89ee272640b523, for reference [this](https://travis-ci.com/github/netdata/netdata/jobs/449994456#L13456) should be the travis "build").
![](https://i.imgur.com/RwR2z2u.png)
I suggest adding

[2020-11-30 19:17] angelss197200 commented on #5158
I have the same issue with systemd-networkd and networkmanager, but not in dhcpcd

[2020-12-01 06:57] underhood commented on #10297
@kaskavel During your tests after recent Mac fixes what was Mac OS version you used? (I try to find what is the difference here) Did you use system libwebsockets or the one build by installer?

[2020-12-01 07:38] xgdgsc commented on #10228
Here the nvidia-smi tab disappears after running for a day or two. Any ideas?

[2020-12-01 07:59] kaskavel commented on #10297
@underhood the MacOS version was identical (10.15.7) also I see that I use libwebsockets-3.2.2 in building. The only difference I can recall is that I had to install cmake for the installation to be successful.

@krital may I propose to run a 'brew install cmake' and try again?

[2020-12-01 08:43] ilyam8 commented on #10228
Hi. I would check error.log

[code]

and try debug mode (as `netdata` user)

[code]

[2020-12-01 09:31] fayak commented on #10165
Hello !

Should I create a new issue ?

[2020-12-01 09:33] xgdgsc commented on #10228
[nvnetdata.log](https://github.com/netdata/netdata/files/5621588/nvnetdata.log)

log like this

[2020-12-01 10:04] ilyam8 commented on #10228
Let's see debug output

[2020-12-01 13:45] Ferroin commented on #8205
Finished in https://github.com/netdata/netdata/pull/10241

[2020-12-01 13:45] #8205 closed

[2020-12-01 14:22] Ferroin commented on #10298
This is actually something I’ve been meaning to do for quite some time now, but just hadn’t found the time. It’s on my list now for some time in the near future (probably within the next two weeks).

[2020-12-01 14:57] krital commented on #10297
I already have the latest version of cmake. As i mentioned above libwebsockets 3.2.2 fails to compile on its own with the same error message:

/Users/krital/dev/libwebsockets/lib/plat/unix/private.h:167:9: error: 'MSG_NOSIGNAL' macro redefined
      [-Werror,-Wmacro-redefined]
#define MSG_NOSIGNAL SO_NOSIGPIPE
        ^
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer

[2020-12-01 16:12] Ferroin opened #10304 "Systemd unit file should not prefix PID file path with our local state directory when installed to `/`."
##### Bug report summary

Our systemd unit file currently always prefixes the PID file path with our local state directory. This is incorrect behavior when installed in `/` instead of an install prefix (actually, it’s arguably incorrect even for an install prefix if we are installing the service globally).

##### OS / Environment

Any systemd-based Linux system.

##### Netdata version

All

#####

[2020-12-01 16:56] vlvkobal commented on #10165
I reinstalled Netdata using `pacman` and it reads the configuration file without any issues. Please show the output of `ls -l /etc/netdata/exporting.conf`.

The options aren't working indeed. I'll look at that tomorrow.

[2020-12-01 18:30] OdysLam commented on #5158
Hey @angelss197200,

Since we have switched our support to our forums at https://community.netdata.cloud, please go ahead and open a topic for any problem that you may have in the support category!

[2020-12-01 18:34] OdysLam commented on #8597
Hey, @jamesefhawkins thanks for that writeup and welcome to our community :)

I know for a certainty that we are going to look into these resources.

Since you are here, if you have any questions about Netdata, please do reach out!

Cheers and welcome again to [Netdata Community](https://community.netdata.cloud).

[2020-12-02 02:53] xgdgsc commented on #10228
[code]

[2020-12-02 03:08] xgdgsc commented on #10228
[netdata.zip](https://github.com/netdata/netdata/files/5626728/netdata.zip)

[2020-12-02 08:03] ilyam8 commented on #10228
@xgdgsc it seems we have `Unknown` as a value in the _data_

https://github.com/netdata/netdata/blob/94fc082263b81c662997986acc6c91207ab7c162/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py#L474

Let's add _data_ logging

[code]

and see debug output again

[2020-12-02 10:34] dgsus commented on #250
hi team,

im having an issue with this date and time picker....the issue is that sometimes its there and sometimes its not. i really dont understand what causes this to happen...

any insight is much appreciated!

![image](https://user-images.githubusercontent.com/30906366/100861622-017c8100-348a-11eb-9dc3-b7ab114f3a1a.png)

![image](https://user-images.githubusercontent.com/30906366/100861629-047

[2020-12-02 10:37] fayak commented on #10165
[code]

[2020-12-02 13:31] Andrew7374 opened #10306 "Increase history of netdata"
I want increase amount of time (history) in netdata. I find post:
https://learn.netdata.cloud/guides/longer-metrics-storage
but I don't know how get amount of metrics to calculate.

Also, I find somewhere in internet information that netdata holding only last 5 minutes and I have missunderstanding, because I see now data from 7:04 to now.
My netdata.conf - [global] history looks like:

[global]
	#

[2020-12-02 14:16] Ferroin opened #10307 "Publish Docker images on Amazon ECR and GitHub Packages in addition to Docker Hub."
As in the title. Both will provide options for users that are not subject to the rather draconian rate limits imposed by Docker Hub for unpaid users.

[2020-12-02 14:42] sniffski commented on #7473
I'll just put this here... hope it helps further resolving as I'm also experiencing the same issue:
root: /usr/local/sbin/netdata
/usr/local/lib/libjson-c.so.5: version JSONC_0.14 required by /usr/local/sbin/netdata not defined

[2020-12-02 14:53] sniffski commented on #7473
and temp solution:
pkg delete -f json-c-0.14
pkg add http://pkg.freebsd.org/FreeBSD:11:amd64/latest/All/json-c-0.15_1.txz
then shellcmd: /usr/sbin/daemon -c -f /usr/local/sbin/netdata -u netdata -P /var/db/netdata/netdata.pid

[2020-12-02 16:31] LtSich commented on #9002
I try to delete 1 node to claim it on another account.
I have delete the cloud.d directory and run the claim command with -id=$(uuidgen), this generate a new ID but I have this error :
Failed to claim node with the following error message:"Unknown HTTP error message"
And without the -id param I've got the error that this node is already claimed...
And claimed_id is always the same, must be stored

[2020-12-02 19:04] nodiscc opened #10309 "Include `<img>` element showing the related badge in (mail) alarm notifications"
##### Bug report summary

In the default (mail) alarm notification template, it would be useful to include the URL/`<img>` element to the corresponding alarm badge.

##### OS / Environment

Desktop or web mail client as main notification method/recipient.

##### Netdata version

v1.26.0

##### Component Name

health

##### Steps To Reproduce

I use mail as my main notification method for monitorin

[2020-12-02 21:52] stathis commented on #8681
This would indeed be very useful.

[2020-12-03 01:44] xgdgsc commented on #10228
[netdata2.zip](https://github.com/netdata/netdata/files/5633134/netdata2.zip)

[2020-12-03 07:23] ilyam8 commented on #10228
I see, it is

[2020-12-03 08:26] ilyam8 opened #10311 "python.d/nvidia_smi: ValueError: invalid literal for int() with base 10: 'Unknown'"
[code]

_Originally posted by @xgdgsc in https://github.com/netdata/netdata/issues/10228#issuecomment-736954633_

[2020-12-03 08:45] junsionzhang commented on #5477
halo,I came into the same problem in docker environment ,but not netdata. I just wonder whether it is a cgroup bug and what is the solution for it now, thank you in advance

[2020-12-03 08:45] ilyam8 commented on #10311
causes the issue

[2020-12-03 09:59] ilyam8 commented on #5477
@junsionzhang hi 👋

Could you give more details? What values do you see? Why do you think they are incorrect?

[2020-12-03 10:20] #10311 closed

[2020-12-03 10:43] spithash commented on #7133
Thank you very much

[2020-12-03 12:10] arpogo commented on #9002
What is connection with current topic ? Please check FAQ there is good description how to reclaim your node.

[2020-12-03 14:35] planetahuevo commented on #9358
I just came here to read how to do this. It could be improved...

[2020-12-03 15:26] manos-saratsis commented on #9002
@LtSich Apologies for the inconvenience. Unclaiming will be delivered within the first months of 2021.
I advice to use the instructions in our documentation https://learn.netdata.cloud/docs/agent/claim#remove-and-reclaim-a-node

[2020-12-03 15:33] manos-saratsis commented on #9358
@planetahuevo sorry for this. We will offer unclaiming early in 2021.
Until then https://learn.netdata.cloud/docs/agent/claim#remove-and-reclaim-a-node
Thx for using Netdata Cloud!

[2020-12-03 15:34] vlvkobal commented on #3202
Implemented in #10192.

[2020-12-03 15:34] #3202 closed

[2020-12-03 20:24] geiseri opened #10316 "ebpf.plugin aborts on Ubuntu bionic AMD system"
##### Bug report summary

I have two systems, one an Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz and the other a AMD Ryzen Threadripper 1950X 16-Core Processor.  For some reason the ebpf.plugin will crash only on the AMD with the following error:
[code]

One thing I noticed was on the Intel system I saw the following:
[code]
If I compare that with the AMD startup I see the ```2020-12-03 15:18:30: ebp

[2020-12-03 20:40] thiagoftsm commented on #10316
Hello @geiseri ,

We already had people reporting problems with different kernel versions running on Ubuntu Bionic `4.18`, as a quick "fix" we created a [file](https://github.com/netdata/netdata/blob/master/collectors/ebpf.plugin/ebpf_kernel_reject_list.txt) that is not allowing the `ebpf.plugin` to run on these specific kernels.

Ubuntu kernel is the Linux kernel with different patches, and someh

[2020-12-03 20:42] thiagoftsm commented on #10316
@geiseri a doubt that I remember now that will help me next week, are you using the official Ubuntu kernel present on their repository? Or did you install from an unofficial repository?

[2020-12-03 23:12] ekexcello commented on #4852
Hello @ilyam8
Sorry for the delay.
You can find set of files to create docker running supervisor and testing jobs to experement [here](https://github.com/ekexcello/supervisor_laba). This is common case with supervisor started as root.
Please feel free to ask for detail if required.

[2020-12-04 09:35] kaskavel commented on #10297
I have tried the installation after updating to latest version of xcode and indeed I verify the same behavior on my machine as well.

Two things to note here:

a) A fix should be planned for the libwebsockets build failure in this particular case
b) A future CI for iOS platforms should take into account the xcode version of the system

[2020-12-04 10:15] ashish1099 commented on #2189
@ktsaou I think this is an issue

when setting up the haproxy config to use `via_url`, it tries to hit the haproxy twice.

1. stats
2. info

but in case of info there is no info in the haproxy stats page, not sure why we are doing this.
it's resulting in 503 all the time.

[code]

I think we should even try to hit the haproxy for info when its based on `via_url`, let me know if you are, I can rais

[2020-12-04 10:33] ashish1099 opened #10321 "Haproxy python plugin"
Issue reported but closed https://github.com/netdata/netdata/issues/2189

##### OS / Environment
Xenial 16.04

##### Netdata version
1.26

##### Component Name
Haproxy python.d plugin

##### Steps To Reproduce
1. enable haproxy stats under any frontend
2. enable the haproxy plugin
[code]
3. monitor the haproxy log and you would two entries
[code]

##### Expected behavior
when setting up the haprox

[2020-12-04 11:00] ilyam8 commented on #10321
@ashish1099 hi 👋  thx for reporting!

I checked haproxy code and to be honest a little bit confused 😄

Could you try to change `_get_data` to

[code]

and check if it fixes the problem?

[2020-12-04 11:07] ilyam8 commented on #10321
Oh, i see

https://github.com/netdata/netdata/issues/2189#issuecomment-301779436

Module does HTP requests
 - `http://ip.address:port/haproxy_stats;csv`: stats in csv format.
 - `http://ip.address:port/haproxy_stats`: same stats + idle metrics but in html format.

so we do it only to get `idle`.

[2020-12-04 11:12] ilyam8 commented on #10321
So threre no `info` page, we fetch `/haproxy_stats` in csv and html formats.

https://github.com/netdata/netdata/blob/307a974c7ed6e3fb5e3b1899d208627c1b94dd2d/collectors/python.d.plugin/haproxy/haproxy.chart.py#L218-L220

 - `http://127.0.0.1:7000/haproxy_stats;csv;norefresh'`
 - `http://127.0.0.1:7000/haproxy_stats'`

[code]

[2020-12-04 11:37] ashish1099 commented on #10321
@ilyam8 hey thanks for picking this up.

The fix seems to me and I had the same plan to fix it as well and yes even I got confused as well because there is `info` on the stats page if we expect the same output what we get from the `socket` file

let me know, if we are on the same page, so I can just test and send a patch of it

[2020-12-04 11:41] ashish1099 commented on #10321
But another problem lies that we have to fix the documentation, that we need the `stats uri /haproxy_stats` to be present in the haproxy.cfg otherwise haproxy will just end up in 503.

so I see two fixes.

1. if we go ahead with the same code, fix the documentation that the haproxy needs to have `stats uri <path> present in the haproxy config
2. we fix the plugin and get rid of the `info` stuff

[2020-12-04 11:57] ilyam8 commented on #10321
i think 1.

We are [moving python collectors to go](https://github.com/netdata/go.d.plugin/issues/483) and i will fix it in the new version.

[2020-12-04 12:03] ashish1099 commented on #10321
perfect then should I raise a PR for the doc fix ?

[2020-12-04 12:07] ilyam8 commented on #10321
Would be perfect!

[2020-12-04 12:11] ashish1099 commented on #10321
done https://github.com/netdata/netdata/pull/10322

[2020-12-04 13:02] Simonmicro commented on #9494
Hi, when exactly was this fixed? As I'm still experiencing this issue on multiple machines:
[code]

To make sure it is not my fault I also tried reinstalling the current kickstart static 64 version - no change... What is going on here?

Just in case - my os metadata:
[code]

[2020-12-04 13:31] vlvkobal commented on #10165
The problem with the options was fixed in #10323.

[2020-12-04 14:21] krital opened #10325 "Agent installation script fails to compile libJudy on OSX"
##### Bug report summary

Agent installation script fails to compile libJudy on OSX because it tries to use libtool and libtoolize. As Apple bundles its own libtool, to avoid conflicts brew renames it to glibtool (and glibtoolize) on osx. So we need the following to happen:

1. Change the install script to call glibtool / glibtoolize when running OS=`Darwin'
2. Modify the documentation to include

[2020-12-04 14:25] krital commented on #10297
With regards to libwebsockets fix does this mean we will open a new issue or handle here?

With regards to CI I suggest we aim to support latest version of Xcode plus 2 previous releases. We would need a separate OSX VM for each versions as we can have more than one installed AFAIK.

[2020-12-04 14:35] Ferroin commented on #10297
@krital Can you check if LWS 3.2.3 has the same build issue as 3.2.2? Long term we need to be on LWS 4.x, but short term if 3.2.3 works we can upgrade that without having to worry about rigorous testing to the same degree as switching to using 4.x would warrant.

[2020-12-04 14:46] kaskavel commented on #10297
@Ferroin I did try LWS 3.2.3 and I get the same error:

/Library/Developer/CommandLineTools/SDKs/MacOSX11.0.sdk/usr/include/sys/socket.h:584:9: note: previous definition is here
#define MSG_NOSIGNAL    0x80000         /* do not generate SIGPIPE on EOF */

I am however in position to build successfully the latest LWS (4.1.6).

[2020-12-04 14:50] Ferroin commented on #10297
OK, the issue is I’m not entirely sure if we actually work correctly with LWS 4.1. @underhood do you know for certain if 4.1 works correctly for us?

[2020-12-04 14:51] ilyam8 commented on #10285
`cgroups` collector checks for new cgroups every 10 by default.
If there is any it calls `cgroup-name.sh` script _NumberOfNewCgroups_ times.

I didnt check other sources, but for k8s we need only one HTTP call, so it would be much better to pass a list of ids and get a list of names.

Just thinking out loud here 🤔

[2020-12-04 15:01] underhood commented on #10297
should after my fixes. Let me find that PR with list of tested versions

[2020-12-04 15:05] underhood commented on #10297
https://github.com/netdata/netdata/pull/9984
latest tested is `4.1.4` but I remember going version by version and testing. Tested build && node connects to cloud and works. Didn't test long term stability.... so there might be some issues that show up.

[2020-12-04 15:06] underhood commented on #10297
oh yes it's there in the comment. Tested:
`3.2.2`, `4.1.0`, `4.1.1`, `4.1.2`, `4.1.3`, `4.1.4`
But again testing here means builds and connects to cloud (maybe 5 minutes scrolling cloud dashboard)

[2020-12-04 16:30] krital commented on #10297
This fixes the compilation problem for me:

diff --git a/lib/plat/unix/private.h b/lib/plat/unix/private.h
index 5b3281d6..43e69544 100644
--- a/lib/plat/unix/private.h
+++ b/lib/plat/unix/private.h
@@ -164,6 +164,8 @@ delete_from_fd(const struct lws_context *context, int fd);
  * but happily have something equivalent in the SO_NOSIGPIPE flag.
  */
 #ifdef __APPLE__
+/* iOS SDK 12+ seems to define

[2020-12-04 16:43] underhood commented on #10297
@krital if that is also fix from upstream we should go ahead and put it in our fork and create new release... I can do that after meeting today

[2020-12-04 16:48] krital commented on #10297
well they seem to have simply added an undef because on IOS12+ it is already defined so i did the same on my local header of 3.2.2 and it compiled. So if we could patch that header before we build we might be done

[2020-12-04 16:52] rcmelendez commented on #10195
Hey @thiagoftsm
I had the same error on the same FreeBSD version as well. I had to install Judy via `sudo pkg install Judy` and then create symbolic links because the netdata installer script was looking for Judy libraries in `/usr/lib` and `/usr/include` and the FreeBSD package manager installed them in `/usr/local/lib` and `/usr/include`. It worked for me:

[code]

[2020-12-04 17:32] underhood commented on #10297
@Ferroin what you think?
1. fork websockets and patch
2. update websockets to 4.1 and test properly to ensure no regressions
3. patch by installer? (seems bit hacky to me, but let's consider)

[2020-12-04 17:59] Ferroin commented on #10297
2 is the best log-term option, we need to be on 4.x anyway to get bug fixes.

3 is actually not all that difficult for our usage, we don’t even need a custom patch file (we can embed it as a heredoc in the installer script itself).

[2020-12-04 18:54] OdysLam commented on #2189
Hey @ashish1099,

This is an extremely old issue! @ilyam8 is the appropriate person to respond and guide you for a PR (or not). Welcome to our community and thank you for wanting to contribute. It means a lot to us.

cheers 🙇‍♂️

[2020-12-04 18:57] OdysLam commented on #7473
Hey @sniffski,

Thanks for the update and welcome to our community! I think Netdata should work with pfsense, pinging @Ferroin in case we need to add this solution to our docs.

Cheers

[2020-12-04 20:31] ilyam8 commented on #250
There is pretty old dashboard on the 2nd screenshot. How do you get it? Using same url?

[2020-12-05 11:19] arnowelzel opened #10327 "Apps Open Files (app.files) reports more than 100% usage"
##### Bug report summary

I get alerts by Apps Open Files (app.files) that the number of open files is 177%. However the total number is way less than limit of 100000. It looks like the calculation is done based on a limit of 1024 and the not the real limit.

![grafik](https://user-images.githubusercontent.com/6613614/101241113-b6fe3d00-36f3-11eb-9c92-33be79e53011.png)

![grafik](https://user-imag

[2020-12-05 12:05] ilyam8 commented on #10327
Hi @arnowelzel

The alarm and `fdperc` chart variable were added in https://github.com/netdata/netdata/pull/10192

- `/proc/sys/fs/file-max` is per system limit
- [`_SC_OPEN_MAX`](https://github.com/Ancairon/netdata/blob/2ee5379c434c7745811c5da93ef4e663a348e5f6/collectors/apps.plugin/apps_plugin.c#L3618) is [per process limit](https://man7.org/linux/man-pages/man3/sysconf.3.html).

if i understand

[2020-12-05 15:23] arnowelzel commented on #10255
When I tried to build your test version I got the following error:

[code]

golang is installed since I need this to build another project as well.

However - so far I also did not have any more errors with unmatched records since I defined a fixed format in `/etc/netdata/go.d/web_log.conf`. So this will fix my problem as well.

[2020-12-05 15:29] arnowelzel commented on #10255
JFTR: I just checked `/var/log/netdata/error.log` for `unmatched line` and found some entries - but these are just a few (maybe 20-30 records in 12 hours), so they don't bother me:

[code]

[2020-12-05 15:54] ilyam8 commented on #10255
Well well, shouldnt be a problem

`isReqMethodValid` function contains `PROPFIND`.

https://github.com/netdata/go.d.plugin/blob/d3ece5befbff89e448f6cf328a648f26f8a65d99/modules/weblog/logline.go#L497-L508

---

So there is `REPORT` method and it is not supported.

I guess i need to add all methods from https://www.iana.org/assignments/http-methods/http-methods.xhtml

[2020-12-05 16:11] arnowelzel commented on #10255
Indeed I found a number of records with `REPORT`, sinimilar to this one:

[code]

This is a CalDAV client getting calendar entries from a Nextcloud server. Yes, adding all methods from https://www.iana.org/assignments/http-methods/http-methods.xhtml seems to be good idea.

[2020-12-05 16:23] ilyam8 commented on #10255
Added the fix, this issue is going to be closed when it is merged. Will be in a new version of go.d.plugin in a week or so.

[2020-12-05 16:23] ilyam8 commented on #10255
If there are any other unmatched lines feel free to post here.

[2020-12-05 16:25] #10255 closed

[2020-12-05 17:00] arnowelzel commented on #10327
Thanks for the explanation. However - the per process limit on the affected machine is configured to be 4096 and not 1024.

Some code in C to check this:

[code]

And the result:

[code]

The process with the largest number of file descriptors on the affected machine is MariaDB with about 1787. But this is well within the limit of 4096 and not 176%. If `sysconf(_SC_OPEN_MAX)` does not work properl

[2020-12-06 13:08] krital commented on #10297
For a tactical solution I prefer solution 3 especially if its so easy

[2020-12-06 20:05] gouthamravee opened #10330 "Installation issue: Found existing install of Netdata under: /"
##### Bug report summary
Re-installing netdata using the kickstarter script on a Proxmox machine results in the error below:
[code]

Using bash `<(curl -Ss https://my-netdata.io/kickstart.sh) --allow-duplicate-install `works

I also found a symlink to netdata-updater and a file called 'netdata-updater.log.UKLJ5O' in / on the proxmox server.
Contents of the log file are:
[code]

I saw a similar bug

[2020-12-06 23:05] ilyam8 commented on #6169
@ernestojpg hey 👋

I see you are interested in varnish collector and uses Commercial/Enterprise version.

Current python implementation was written long time ago and not good: number of collected metrics, grouping, etc.

If you have time and willing to help it would be very nice 🙇‍♂️

[2020-12-07 07:38] ernestojpg commented on #6169
Hello @ilyam8 !

Yes, I could add more metrics easily. Do you want me to propose what would be the more relevant metrics?

[2020-12-07 09:36] underhood commented on #10297
what i do not like about 3 is added level of obscurity... in few months everybody will forget there is patch added in installer...
@Ferroin can we prepare PR with some version of LWS 4.1 and test it? In case we find any nontrivial to fix trouble we revert to patching.

[2020-12-07 09:39] kaiomatico opened #10332 "Repeat only sends clear notification after duration"
##### Bug report summary

When setting the the global repeat duration for health alarms, the clear notifications are also being delayed with the duration. Example `/etc/netdata/netdata.conf`
[code]
##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0, installed deb from packagecloud for ubuntu/debian

##### Component Name

Every health check is affected
##### Steps To Reproduce

[2020-12-07 10:47] vlvkobal commented on #10327
Well, I've checked `_SC_OPEN_MAX` and it depends on `ulimit -n`, so the value can be different for different users. Is there a system-wide limit per process? How can we get it? @Ferroin, any thoughts?

[2020-12-07 11:04] vlvkobal commented on #10327
We can read the soft limit from `/proc/<pid>/limits` for every process and calculate the alarm based on this data. But I saw a process with the limit = 2. If that process has 2 open files, the fd usage will always be 100% which is not useful.

[2020-12-07 11:29] krital commented on #10297
Indeed but the aim here is to fix the agent working for OSX as fast as possible and with the least amount of risk. We won't leave it like that because we have your work on ACLK-NG / Paho client spike etc. If you think though that this an equally fast and safer approach lets do it.

[2020-12-07 11:31] Thumpxr commented on #10327
I've got the same problem on my machine aswell.
`cat /proc/sys/fs/file-max
65535`

Usage is at 187%

[2020-12-07 11:41] ilyam8 commented on #10327
not that bad, my friend showed me an alarm with 1480% 😄 Will wil fix it!

[2020-12-07 11:42] ilyam8 commented on #10327
@vlvkobal we can set limits as variables and calculate percentage in the alarm. So we can add some conditions, for example if limit > N, etc.

[2020-12-07 11:42] underhood commented on #10297
@krital @Ferroin ok, lets go with patch then

[2020-12-07 11:43] thiagoftsm commented on #10195
Thank you for your update @rcmelendez !
@Ferroin , we had issues like this reported when Netdata is compiled on PFsense, probably we need to take a look at FreeBSD installation process.

[2020-12-07 11:46] arnowelzel commented on #10327
As a default I would set this variable to 1024 - this is the default on Linux.

[2020-12-07 12:14] Ancairon commented on #10327
This was my initial way of doing this, I had a function that was reading from a file the limits and initializing as you said to 1024 (although I was pointing to file-max which was wrong). But from the suggestion https://github.com/netdata/netdata/pull/10192#issuecomment-731748674 I changed it to use the function that probably isn't correct. My own system had a huge number for the file-max file, so

[2020-12-07 12:48] Ferroin commented on #10330
This is expected behavior if the kickstart script cannot figure out what type of install the existing installation is. It’s a safety net to prevent people from ending up with completely broken installs by doing things like installing through their package manager, installing over top of that with the kickstart script, and then removing the version from the package manager (which will usually break

[2020-12-07 12:49] #10249 closed

[2020-12-07 12:59] Ferroin commented on #10297
I still think we should verify support for 4.1 and start using that if it works, but I agree that patching at build time is a beter option as a quick fix.

[2020-12-07 14:54] gouthamravee commented on #10330
Thank you for the reply Ferroin!

Its been a while since I setup both my proxmox servers but I have setup netdata on both in different manners over time so you're right, its possible I have some bad netdata installs on there.

I have tried to remove all netdata installs through apt and by running the uninstall script as described in the "Netdata Version" section in the report. Are there any other

[2020-12-07 15:44] arnowelzel commented on #10327
Just for clarification:

`/proc/sys/fs/file-max` is the system wide total of allowed open files for all processes together while `ulimit -n` or `sysconf(_SC_OPEN_MAX)` is the limit per process.

Eventhough it seems logical to check the number of open files of each single process compared to its allowed maximum, this may not be enough. Even if a process stays within its limits, the total number of

[2020-12-07 16:07] Ferroin commented on #10330
If you’ve tried through both the package manager and the uninstaller, that _should_ cover everything. If it doesn’t it’s probably a bug somewhere.

More specifically, what the installer is actually doing here is looking for `netdata` in in the configured binary search path, and if it finds it then looking for the file `/etc/netdata/.environment`. If that file is present, it assumes that this is an

[2020-12-07 17:44] underhood commented on #10297
@Ferroin lets go ahead with #10333 as quick fix for this release. After this release is done we can make PR to use new LWS 4.1 and let us test it for few weeks (until next release). Should give us enough time to test and release with next agent version.

[2020-12-07 18:05] nodiscc commented on #6592
I would expect this feature to not depend on a third-party service

[2020-12-07 18:55] cakrit commented on #9366
We've done a lot of work on this already. Closing and we can add other features as we discover additional needs.

[2020-12-07 18:55] #9366 closed

[2020-12-07 19:00] gouthamravee commented on #10330
Yup i tried the package manager and uninstaller methods, so probably some weird remnant somewhere. I believe the uninstaller deletes every possible file that's related to netdata.

Anyways if you want to close this ticket by all means go ahead, the allow duplicates flag lets me install without issues and I only had this issue with proxmox. One thing to note is I had this issue on both my proxmox s

[2020-12-07 19:05] #10174 closed

[2020-12-07 20:00] playday3008 opened #10337 "Can't update netdata"
##### Bug report summary

Ill trying to update netdata from `v1.19.0-239-nightly` to latest

##### OS / Environment

[code]

##### Netdata version

netdata v1.26.0-325-nightly (after "updating")
netdata v1.19.0-239-nightly (before)

##### Steps To Reproduce

[code]

##### Expected behavior

[code]

[2020-12-07 20:05] playday3008 commented on #10337
Thats a modified Raspbian OS Lite (MajorDoMo for Raspberry Pi)
used this image file https://drive.google.com/uc?id=1OflJo9q5-SmSkfTZV6sGRfk5Z5DvvfL3&export=download

[2020-12-07 23:18] nrhtr opened #10339 ""hostname" setting not being respected by Graphite exporter"
##### Bug report summary

After setting the "hostname" setting for a graphite exporter in "exporting.conf", Netdata continues to send metrics with the global hostname setting

##### OS / Environment

Running in a docker container.
[code]

##### Netdata version

[code]

##### Component Name

Graphite exporter

##### Steps To Reproduce

1. Configure netdata with hostname = "foo.bar"
2. Configure gra

[2020-12-08 01:53] diegomontoya commented on #8967
Just got this on Ubuntu 20.04.

Removing the /temp/* files and trying again did not help.

[code]

[2020-12-08 01:54] diegomontoya opened #10340 "Tarball checksum validation failed"
Ubuntu 20.04
X86-64

[code]

Exactly same as https://github.com/netdata/netdata/issues/8967

[2020-12-08 01:56] playday3008 commented on #10337
Also, after "update" node in Netdata cloud unreachable and need update

[2020-12-08 09:56] Jessimon opened #10341 "Metric problems with v1.26.0-333-nightly"
Hello,

This morning a number of my servers installed v1.26.0-333-nightly.
From then on i am missing a lot of metrics in Grafana (I use a Netdata - Prometheus - Grafana stack)

Example of metrics that stopped working:
netdata_apps_mem_MiB_average
netdata_cpu_cpu_percentage_average
netdata_disk_space_GiB_average

**_Setup_**
I have about 30 servers with natdata on it.
The local Netdata streams the

[2020-12-08 10:07] vlvkobal commented on #10341
Do you have `exporting.conf` in your configuration directory? It has a higher priority than the `[backend]` section of `netdata.conf`. There was [a bug in the exporting configuration](https://github.com/netdata/netdata/issues/10165#issuecomment-732048355) and a fix for that (#10323) was merged yesterday.

[2020-12-08 10:12] Jessimon commented on #10341
It is not in my /etc/netdata folder, but i see the file in /etc/netdata/orig
For the moment 333 is the latest build that is available.

Should i delete the file?

[2020-12-08 10:32] Jessimon commented on #10341
Can it be that the labels of the metrics have changed?
For example netdata_cpu_cpu_percentage_average -> netdata_cpu_cpu

I hope this is a bug, otherwise i have to change all my Grafana dashboards and this practicly also means that i lost all my historical data. (It is still there but a pain to see)

[2020-12-08 10:37] vlvkobal commented on #10341
Yes, this is a bug. I'm looking into it.

[2020-12-08 13:01] Befisch commented on #10341
We are also affected. Let us know if we can provide any further insights. (Testdata, affected metrics, ..)
Thank you, appreciate the work!

[2020-12-08 14:00] OdysLam commented on #7133
![](https://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif?cid=ecf05e47dxx7469m633ygdbmkpisl6ob5cinlgzlj0sfc3fj&rid=giphy.gif)

As every month, we couldn't come back here to this venerable GitHub issue and celebrate the Contributors of the Month.

So, we thank (humbly might I add) the following contributors:
- @ctrlaltdel for contributing a **new collector** (Jitsi videobridge): https://github.com

[2020-12-08 15:37] krital commented on #10325
any chance we can include this in the release? should be a very simple change only for OSX

[2020-12-08 15:41] krital commented on #10297
I think that keeping our old patched libMosquitto but upgrading to latest libWebsockets is going to unchartered waters for no reason. I would rather move our patch to the latest versions instead.

[2020-12-08 15:49] underhood commented on #10297
Well updating libMosquitto is much higher risk than updating libWebsockets but certainly thing to consider.
But also thinking of ACLK-NG and maybe in future paho-c not sure how high prio to put on this. We will see as the situation evolves

[2020-12-08 15:54] #10297 closed

[2020-12-08 16:37] #10341 closed

[2020-12-08 16:51] #10325 closed

[2020-12-08 17:13] vlvkobal commented on #10339
You can set `hostname` in `[exporting:global]`. I don't think it is reasonable to set a different hostname for every connector instance.

[2020-12-08 17:27] vlvkobal commented on #10339
Anyway, it's a bug. Either in the documentation or in the code. Should we override the option in an instance configuration or mention in the documentation that `hostname` is available only in `[exporting:global]`?

@dim08, @ilyam8 - any thoughts?

[2020-12-08 18:47] ilyam8 commented on #6169
@ernestojpg

This. I feel like we need to forget that we have python version and start from the beginning:
 - use latest stable version (both free and enterprise version)
 - get list of metrics, compare with metrics docs
 - go through the list and find everything we want to collect
 - group metrics into charts
 - think about alarms

---

Quick google search:

- https://www.section.io/docs/modules/

[2020-12-08 21:38] joelhans commented on #7465
@jacekkolasa Made a tweak to this. Thanks for the feedback!

[2020-12-09 08:26] stevenans9859 opened #10350 "packages installer failed"
The experimental packages installer failed.

This is what it says:

[code]

[2020-12-09 11:24] Redominus commented on #9863
Sorry to inform the error has not been fixed. noexec flag keeps breaking the installer.
Installer output:
`Cannot install netdata from source (the source directory does not include netdata-installer.sh). Leaving all files in /tmp/netdata-kickstart-5A3lNliAvd`
ls command output:
`ls -l /tmp/netdata-kickstart-5A3lNliAvd/netdata-v1.26.0-333-gae04be5a/ | grep installer `
`-rwxrwxr-x  1 2000 2000  6667

[2020-12-09 11:35] rbike opened #10351 "daily and manual netdata update fails"
##### Bug report summary
Daily netdata update cron job reports error 127
Manual netadata update with "bash <(curl -Ss https://my-netdata.io/kickstart.sh)" is not working (runs indefinitely)

##### OS / Environment
/etc/lsb-release:DISTRIB_ID=Ubuntu
/etc/lsb-release:DISTRIB_RELEASE=20.04
/etc/lsb-release:DISTRIB_CODENAME=focal
/etc/lsb-release:DISTRIB_DESCRIPTION="Ubuntu 20.04.1 LTS"
/etc/os-releas

[2020-12-09 12:27] Ferroin commented on #9863
Just to clarify, are you saying that if you remount `/tmp` without the `noexec` flag, this does not happen?

[2020-12-09 12:39] Ferroin commented on #10351
Both appear to be a result of the same problem. Should have a PR up to fix this shortly.

[2020-12-09 13:03] kozicpetar commented on #9863
@Ferroin does it exists some solution without remounting /tmp without noexec because that is hard on WHM servers. In general I think anyone don't  want to remount /tmp on dozen server that can update netdata.
Make sense?

[2020-12-09 14:41] Ferroin commented on #9863
@kozicpetar You can set `$TMPDIR` for the script to a location that is both writable by the user the script is running as and allows running of executables.

The logic at the moment around the `noexec` thing is:

* If `$TMPDIR` is set, allows writing files, and allows execution, use that path for our temporary files.
* Otherwise, try the same checks on `/tmp` and if they pass use that.
* If both o

[2020-12-09 14:52] kozicpetar commented on #9863
@Ferroin thank you for answer. I understand this.
Where I can found some walk-throught for updating existing installation which they could not auto update in the past one month?

I tried to run but failed:
`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstall --dont-wait --stable-channel`

Thank you !

[2020-12-09 15:03] Ferroin commented on #9863
If you’re using the stable channel, then there should not have been an update since 2020-10-14 (just short of two months ago). The next stable release should be out within the next two weeks (originally planned for 2020-12-14, possibly delayed due to a criticla bug in the updater).

[2020-12-09 15:10] KickerTom opened #10353 "Redefinition of abs() macro causes problems with C++ plugins."
##### Bug report summary
Related to #10178. When using libnetdata from C++, it is easy to hit a problem with redefinition of abs macro in libnetdata.h, as C++ does not allow this kind of redefinitions. Also, it can be a bit misleading to redefine "standard" functions.

##### Netdata version
master from git

##### Component Name
libnetdata, netdata core.

##### Steps To Reproduce
Include libnetdata

[2020-12-09 15:10] kozicpetar commented on #9863
@Ferroin
Sure, but on servers is netdata update cron which trying to update every day and fails.
Do I need to do some manual step when new stable release?
Thank you.

[2020-12-09 15:39] Ferroin commented on #9863
By ‘fails’ do you mean it reports that there is no newer version, or that you actually see some failure?

[2020-12-09 15:40] kozicpetar commented on #9863
@Ferroin
[code]

[2020-12-09 17:31] krital opened #10356 "Install script incorrectly sets PATH environment for agent binaries causing claim to fail on OSX"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0-344-ga3ada604

##### Component Name

Installer script

##### Steps To Reproduce

1. sudo ./netdata-installer.sh --install /usr/local
2. Copy claim command from cloud and run sudo netdata-claim.sh -token=<XYZ> -rooms=<ABC> -url=https://app.netdata.cloud
3. Get sudo: netdata-claim.sh: command not found

[2020-12-09 17:57] Ferroin commented on #10356
Option A isn’t really an option unless we want to stop giving an exact command and instead tell users how to construct the command they need (I think we should do this regardless though, this is going to continue to be an issue no matter what platform).

Option B is not an option. We should not be mucking about with core OS-level configuration just to support a feature that not all users will want

[2020-12-09 18:43] #10351 closed

[2020-12-09 19:16] Simonmicro opened #10359 "Alarm notification for Telegram does not work using the kickstart-static64.sh installation"
_This has been reported before in #9494, but did not receive any response since it has been considered fixed._

##### Bug report summary
Telegram notifications does not work for real alarms (see the log below). Using the test (https://learn.netdata.cloud/docs/agent/health/notifications/email/) they work normally.

[code]

##### OS / Environment
[code]

##### Netdata version
[code]

##### Component

[2020-12-10 09:24] vlvkobal commented on #10339
I decided, that it's better to support the `hostname` option on the instance level. So, here's the fix.

[2020-12-10 11:01] ilyam8 opened #10362 "nvidia_smi: consumes a lot of cpu, should use `--query-gpu` and `--format=csv` to improve performace"
##### Bug report summary

See https://github.com/influxdata/telegraf/issues/8534

Lets check run statistics (my PC, 1 GPU).

 - current implementation

[code]

- using `--query-gpu`

[code]

The difference would be more significant if i ran the test on a server with a lot of GPUs. We got some complains that nvidia_smi is slow/consumes a lot of cpu on servers with several GPUs (@manos-saratsis) - w

[2020-12-10 11:03] rcsheets commented on #2664
Still seeing this issue using ceph-fuse, which reports zero free inodes. Is this to be considered a ceph bug because it should report -1 rather than 0, or is there a possibility of having this issue fixed in netdata?

[2020-12-10 11:26] krital commented on #10356
Ok in that case can I suggest we add symlinks (option C) to netdata, netdatacli and the updater / claim scripts in /usr/local/sbin which is in line with what brew does?

[2020-12-10 17:13] arnowelzel opened #10366 "Netdata update fails with "bash: warning: shell level (1000) too high, resetting to 1""
##### Bug report summary
When I try to update an existing Netdata installation with `bash <(curl -Ss https://my-netdata.io/kickstart.sh)` I only get the following error and Netdata will not be updated:

[code]

The last line `bash: warning: shell level (1000) too high, resetting to 1` will repeat until I stop the script with Ctrl+C.

##### OS / Environment

[code]

##### Netdata version

netdata v

[2020-12-10 17:30] OdysLam commented on #10359
Thanks for posting this bug @Simonmicro , we will make sure to get back to you!

[2020-12-10 17:32] OdysLam commented on #10353
Thanks, @KickerTom for reporting this. We have communicated it internally and we will come back to you shortly!

[2020-12-10 17:33] OdysLam commented on #10350
Hey @stevenans9859,

Thanks for posting this. Can you please provide more information regarding this bug?

[2020-12-10 17:34] OdysLam commented on #10337
Hey @playday3008,

We have currently a known issue with our updater, although I am not sure if it is related to your issue. We have taken note and one of our engineers will come back to triage this.

Thank you!

[2020-12-10 17:35] OdysLam commented on #10340
Hey @diegomontoya ,

Thanks for posting this issue. I think this is related to a problem we have identified with our updater. Please be patient and one of our engineers will come back with more information. Perhaps @Ferroin can provide more context?

[2020-12-10 18:06] Ferroin commented on #10337
It looks like you are running into a bug in that particular version (v1.19.0-239) of the updater script.

By default, current copies of the kickstart install script will attempt to update an existing install using the updater script instead of creating a new install over top of the existing one. You can bypass this by adding `--reinstall` to the install command, which should both get you the newes

[2020-12-10 18:12] Ferroin commented on #10366
This is a known bug that has been fixed in the current nightlies.

You will need to manually re-run the installer you originally used, adding the `--reinstall` option to get the newest version.

Please see: https://community.netdata.cloud/t/periodically-anacron-job-cron-daily-on-localhost-reports-a-problem-with-netdata-updater-sh/612 for more info.

[2020-12-10 18:12] #10366 closed

[2020-12-10 18:12] Ferroin commented on #10366
Pinning this issue for visibility to users.

[2020-12-11 01:03] thiagoftsm commented on #10359
Hello @Simonmicro ,

I want to confirm something with you, but before I will say what I did:

1 -  I created a VM with Slackware Current and I installed Netdata using `kickstart-static64.sh`.
2 - I shutdown `netdata` process
3 - I edited the file `/opt/netdata/etc/netdata/health_alarm_notify.conf` to add my `Telegram` configuration.
4 - I changed permission of the file for `netdata.netdata`.
5 - I

[2020-12-11 03:51] gregjhogan opened #10367 "freeipmi plugin stops reporting data"
##### Bug report summary
netdata shows it is up and running, but ipmi data is stale (many hours old)
[code]

example where data stopped reporting data today @ 15:49:17:
![image](https://user-images.githubusercontent.com/4112046/101859304-4f475800-3b20-11eb-90ad-79c8b396de2d.png)

but around that time there are no errors in the log:
[error.log](https://github.com/netdata/netdata/files/5676958/error

[2020-12-11 04:47] gregjhogan commented on #10367
FYI, I still have the machine in this broken state if you need any additional info

[2020-12-11 09:03] stdedos commented on #10351
Apologies - but now that this is in, how do we force an update to happen?

Or do we have to manually apply the patch?

[2020-12-11 09:09] orgoj commented on #9981
On our server fan is missing too. Values are in percent.

/usr/libexec/netdata/plugins.d/freeipmi.plugin 5 debug:

Unknown reading type - Ignoring sensor record for sensor '', id 0, number 0, type 65535, state 3, units 255, reading_type 255
Allocating new sensor data record for sensor 'UID Light', id 1, number 1, type 192, state 3, units 0, reading_type 255
Unknown reading type - Ignoring sensor r

[2020-12-11 09:09] stdedos commented on #10351
I did that 😕
[code]

ad infinitum (I didn't let it run for a long time, I have history of fork-bombing my workstation 😂)

[2020-12-11 09:10] drkt7 opened #10368 "Problem: netdata-updater.sh"
Hi

with netdata (Your netdata version: v1.26.0-333-gae04be5a), i have this message: (with cron)

/etc/cron.daily/netdata-updater:
/etc/cron.daily/netdata-updater: line 31: /etc/cron.daily/netdata-updater.sh: No such file or directory

Thanks

[2020-12-11 09:18] ilyam8 commented on #10368
Hi @drkt7 👋

Looks like same issue https://github.com/netdata/netdata/issues/10351

Fixed in https://github.com/netdata/netdata/issues/10351

See https://github.com/netdata/netdata/issues/10366#issuecomment-742699376 (basically you need reinstall latest master)

[2020-12-11 09:19] #10368 closed

[2020-12-11 10:28] splastunov commented on #8876
Hello!

Is there any update on syncing data between ephemeral(slave) nodes and master?
I have updated to latest version, but still have gaps when netdata restarts on master node.

My work around with dynamic reloading stream.conf does not work correctly.
After reloading stream.conf without netdata restart, netdata begin mixing data from different ephemeral(slave) nodes...
So I have to restart netd

[2020-12-11 11:14] Saruspete commented on #9981
@orgoj from [freeipmi headers](https://github.com/chu11/freeipmi-mirror/blob/b780823d549c9673411adc9d8d655d49628be4aa/libipmimonitoring/ipmi_monitoring.h.in#L185-L192), the `reading_type 255` is `IPMI_MONITORING_SENSOR_READING_TYPE_UNKNOWN`, which yields the "Unkown reading type".

I would tend to say it's an issue to be addressed by your firmware vendor, as this "unknown" type should not be accep

[2020-12-11 15:09] thiagoftsm opened #10370 "New eBPF charts"
During our meeting last week, it was required the following new charts on `apps.plugin` that are collected by `ebpf.plugin`:

- Calls for `tcp_sendmsg`
- Calls for `tcp_retransmit_skb`
- Calls for `tcp_cleanup_rcv`
- Calls for `udp_sendmsg`
- Calls for `udp_recvmsg`

We also need to update the `dashboard_info.js` adding links for some `syscalls`.

[2020-12-11 17:36] gaia opened #10372 "netdata-updater.sh: No such file or directory"
##### Bug report summary
[code]

[2020-12-11 18:39] Simonmicro commented on #10359
@thiagoftsm Hmm, I executed `sudo /opt/netdata/etc/netdata/edit-config health_alarm_notify.conf` to edit the respective file and inserted the needed credentials. I'll resetup it from scratch later on and will then document every command I executed in which order and what actions I took.
Stay tuned :)

[2020-12-11 18:59] ilyam8 commented on #10372
Hi @gaia, thx for reporint! Unfortunately updater in `netdata v1.26.0-333-nightly` is broken. The problem is fixed in master.

To fix it you need to re-run the installer, see https://github.com/netdata/netdata/issues/10366#issuecomment-742699376

[2020-12-11 19:28] TSKimball opened #10376 "[gentoo] install-required-packages.sh has package conflict"
##### Bug report summary
[gentoo] install-required-packages.sh has package conflict and dies

##### OS / Environment
[code]

##### Netdata version
N/A

##### Component Name
Installer  (pre-install script for Source install)

##### Steps To Reproduce
Start with a current-emerged Gentoo x86_64 host (updated on 12/9/2020).

Following this command:  bash /tmp/install-required-packages.sh -i netdata
Ge

[2020-12-11 20:36] orgoj commented on #9981
OS is Ubuntu 16.04. Netdata use libipmimonitoring-dev which end in libfreeipmi16. Ipmitools default use openipmi project. Freeipmi sensors command-line tools is ipmi-sensors, which in default in default don't show fan speed. It require to use workaround on my server.

ID | Name  | Type | Reading    | Units | Event
8  | Fan 1 | Fan  | N/A        | N/A   | 'transition to Running'
root@l1:~# ipmi-sen

[2020-12-11 21:04] Ferroin opened #10377 "Persist `$TMPDIR` from environment on install to allow usage in updater."
As in the title.

This would allow users who install Netdata and set a custom value for `$TMPDIR` to not need to change anything to use the same location for the updater script when using auto-updates.

Should still be overridden if `$TMPDIR` is set at updater runtime, but should take precedence over `/tmp` and `$PWD` when trying to find a location to place temporary files.

[2020-12-11 21:06] Simonmicro commented on #10359
Okay, I was - again - able to reproduce the bug. As I have no idea how to create a custom alarm I went with my `fallocate` (more realistic) trigger again - here are my notes:
[code]

And just to be sure: The same behaviour after rebooting the fresh vm.

2 - What are the file owner?
3 - Do you have some health errors inside your /opt/netdata/var/log/netdata?

1: Idk - `edit_config` did everything i

[2020-12-11 21:52] orgoj commented on #9981
I found discrete reading flag enabled in netdata. This may be error in libipmimonitoring

   30 o Fix DISCRETE_READING workaround in libipmimonitoring.

Ubuntu 16.04 have libipmimonitoring version 1.4.x

[2020-12-11 21:53] gaia commented on #10372
thanks, sorry i didn't see it before i posted!

[2020-12-12 00:42] lamka02sk commented on #10340
This should be a priority, the installer is broken completely 😞

[2020-12-12 03:31] therealgilles commented on #10377
One option would be to add the variable to /etc/netdata/netdata.conf or a separate config file, and have the updater read it.

[2020-12-12 14:25] Saruspete commented on #9981
The "discrete_reading" of the ipmi-sensors is doing what I said : it ignores the filtering of "unknown" fields.
It's in [ipmi_monitoring.h](https://github.com/chu11/freeipmi-mirror/blob/b780823d549c9673411adc9d8d655d49628be4aa/libipmimonitoring/ipmi_monitoring.h.in#L288-L292) and the comment matches my concerns :

So, it's clearly not something to be changed by default. On my Dell servers, it woul

[2020-12-12 14:35] gaia commented on #10372
still happening

[code]

[2020-12-12 20:45] #9815 closed

[2020-12-12 20:45] #10111 closed

[2020-12-12 20:45] #10173 closed

[2020-12-12 20:45] #10182 closed

[2020-12-12 20:45] #10022 closed

[2020-12-13 00:36] startryst commented on #10222
update to keep it alive

[2020-12-13 00:36] startryst commented on #10221
Thanks, that works for me

[2020-12-13 00:37] #10221 closed

[2020-12-13 11:13] LordBrud commented on #10372
I fixed it by changing Line 31 in `netdata-updater.sh`.
I changed `script_source="$("$(CDPATH='' cd -- "$(dirname -- "$0")" && pwd -P)/netdata-updater.sh")"`  (https://github.com/netdata/netdata/commit/7a416ecdcba6c1f4dda389731404afa7cc62a3f3#diff-4ecececabbbf75e2b00768f09ba63bef87a6c323c8b1959ad9d79faca7b9f5c9)
to  `script_source=""$(CDPATH='' cd -- "$(dirname -- "$0")" && pwd -P)/netdata-updater

[2020-12-13 12:25] thiagoftsm commented on #10222
@Ferroin , when you have a time, please, take a look on this issue.

[2020-12-13 15:28] emperinter commented on #5721
It worked on my service,I wonder why it can not be solved at original file place ?

[2020-12-13 19:40] ilyam8 commented on #4852
@ekexcello thx, i setup the lab and get processes info metrics ([`supervisor.getAllProcessInfo`](http://supervisord.org/api.html#supervisor.rpcinterface.SupervisorNamespaceRPCInterface.getAllProcessInfo)):

[code]

number of running processes for every job
number of not running processes per job
status of each process (running/starting/failed etc)
uptime of each process (combined to 1 chart for ev

[2020-12-14 02:03] thiagoftsm commented on #10316
Hello @geiseri ,

Today I made the PR https://github.com/netdata/kernel-collector/pull/183 that will fix the reported bug, when it is merged, I will generate a new `eBPF` release and after this I will make a new PR here.

Best regards!

[2020-12-14 08:05] krital opened #10380 "Agent deadlock on OSX"
##### Bug report summary

The agent on OSX, while initially working fine, has stopped producing any data. This includes both the cloud console where the node appears to be unreachable but also the local agent web page which loads but all graphs are empty.

##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0-344-ga3ada604

##### Component Name

Agent
##### Steps To Reproduce

1.

[2020-12-14 08:08] krital commented on #10380
Tail of agent error log

`2020-12-13 17:51:38: cups.plugin ERROR : MAIN : heartbeat missed 1081735 monotonic microseconds
2020-12-13 17:55:02: cups.plugin ERROR : MAIN : heartbeat missed 990036 monotonic microseconds
2020-12-13 17:57:35: cups.plugin ERROR : MAIN : heartbeat missed 1246852 monotonic microseconds
2020-12-13 17:58:06: cups.plugin ERROR : MAIN : heartbeat missed 746697 monotonic micro

[2020-12-14 08:35] rigas40 commented on #10209
maybe script

[2020-12-14 08:36] krital commented on #10380
<img width="1652" alt="Screenshot 2020-12-14 at 10 35 54 AM" src="https://user-images.githubusercontent.com/6292523/102058483-3d9fd200-3df8-11eb-97e0-d5bb0668c07b.png">

[2020-12-14 09:05] stdedos commented on #10351
@ilyam8 ping

[2020-12-14 09:09] krital commented on #10380
I can see 2 Netdata processes running and I have taken a sample for each...

1st Process

[Sample of netdata.txt](https://github.com/netdata/netdata/files/5687678/Sample.of.netdata.txt)

2nd Process

[Sample of netdata2.txt](https://github.com/netdata/netdata/files/5687681/Sample.of.netdata2.txt)

[2020-12-14 09:36] ilyam8 commented on #10351
@stdedos i am pretty sure updates is fixed in master - i tested https://github.com/netdata/netdata/pull/10352

Before the PR it was indeed an infinite loop (netdata v1.26.0-333-nightly), but it is fixed now.

Make sure you reinstalled nd, check nd version

---

Please post seq of commands you did (copy from terminal)

[2020-12-14 09:51] stdedos commented on #10351
I _am_ on the aforementioned version.

I am doing `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --disable-telemetry --disable-cloud --reinstall`, no progress is done: I just see `found existing install`, `sudo //usr/libexec ...` and after a while `fork: retry: No child processes`

[2020-12-14 10:19] ilyam8 commented on #10351
@Ferroin please take a look^^

[2020-12-14 10:31] fayak commented on #10260
Ok so this bug is still happening, and is frequent. I now have 7 containers with their network monitoring "detached" for a single given node.

If I grep the name of one of them, I have:
[code]

[code]

However, I don't have the `veth3f3c8b1` chart under `Network interfaces`. Looking at the current container's veth
[code]
I do have `vethcd4d326` under `Network interfaces`. Grepping `vethcd4d326` in

[2020-12-14 13:46] underhood commented on #10243
@laguill unfortunately this is not currently feasible. We might revisit this issue when libuv migration is finished as that might remove some of the problems of why netdata can't currently run on termux.

[2020-12-14 13:46] #10243 closed

[2020-12-14 14:25] #10339 closed

[2020-12-14 14:34] Ferroin commented on #10372
Indeed, manually patching the file as outlined in the above-mentioned commit should fix it. The other option is to run the installer again using the same options you originally installed with and adding `--reinstall` (without the `--reinstall` it will try to run the updater, and get stuck in an infinite loop because of the same bug).

[2020-12-14 14:34] underhood commented on #10380
@krital did you check browser devel/debug console? Are the requests timed out? can you look at `api/v1/info` and `api/v1/charts` ?

[2020-12-14 14:56] Ferroin commented on #10340
Has anybody actually retried this? It’s a known issue if you try to update right around the same time that our nightly releases get published due to Google Cloud Storage not preemptively invalidating their edge caches when the build assets are updated (and we have no way to work around this), resulting in the files not matching on occasion when fetched around about 00:30-01:30 UTC.

If you are _st

[2020-12-14 14:58] Ferroin commented on #10351
@stdedos Can you try `bash -x <(curl -Ss https://my-netdata.io/kickstart.sh) --disable-telemetry --disable-cloud --reinstall` and post the exact output (it will probably be quite a lot)?

I’m not seeing the same issue myself here, which makes it rather difficult for me to figure out what exactly is going on in your case.

[2020-12-14 15:14] stdedos commented on #10351
It's very complicated to extract anything from that system to post it on Github 😕

I see exactly the same behavior that I see on the ticket: I cannot update, because the script keeps forking itself ad infinitum.

Anyway; this is taking too long - I'll just patch crudely patch the script and run the update....

[2020-12-14 15:37] krital commented on #10380
Unfortunately I didn't at the time but I have not restarted the agent yet... I just tried to do so now and both the UI and the API endpoints are not responding at all

[2020-12-14 15:38] gaia commented on #10372
I did that but I am still having the issue.

[2020-12-14 15:49] underhood commented on #10380
Looks like proper deadlock then... does Mac do sth. like coredump if you kill it? To see where it got stuck?

[2020-12-14 15:51] krital commented on #10380
The process samples I have attached above should show where it was stuck a few hours ago, I will now take new ones as it seems to have slight changed as I can not access the UI anymore (earlier I could but was getting no data)

[2020-12-14 15:54] underhood commented on #10380
@krital aaah sorry missed that somehow... I think the difference might be just browser cached some static parts of dashboard before...

[2020-12-14 15:55] stelfrag commented on #10380
As I understand this happened after a few days of suspend/resume. All those days (except today) things worked as expected.

Before the suspend (in general), do you close the browser tabs to the netdata dashboard?

[2020-12-14 16:00] krital commented on #10380
Yes that is correct. However I have another 2 Macs claimed which did not experience the same, all running the same version of the agent.

[2020-12-14 16:02] krital commented on #10380
Please find attached the current stack sample of the 2 Netdata processes as they are now (no UI or API responding)

1st process
[Sample of netdata3.txt](https://github.com/netdata/netdata/files/5689980/Sample.of.netdata3.txt)

2nd process
[Sample of netdata4.txt](https://github.com/netdata/netdata/files/5689982/Sample.of.netdata4.txt)

[2020-12-14 16:12] stelfrag commented on #10380
Looks like an internal deadlock (the web threads seem to be stuck). You may or may not be able to telnet to port 19999 (as if a child would begin streaming, but I don't see it progressing other than that)

[2020-12-14 16:24] Ferroin commented on #10372
@gaia Can you try `bash -x <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstall` (with any extra options you used on install added to the end) and post the output. This will fail in the same way, but will produce debugging output for the script itself, which should help us figure out why exactly it’s trying to run the updater instead of doing a clean install.

[2020-12-14 17:09] #10370 closed

[2020-12-14 17:09] gaia commented on #10372
I had done it w/o `-x` before, tried now with it. it reinstalls fine, i only get the alert when cron runs. the reinstall output looks good.

[2020-12-14 20:44] vlvkobal commented on #10260
Please set `debug flags = 0x0000000000100000` and look at `debug.log` for messages like
[code]

[2020-12-14 22:17] artichostllc commented on #10380
[VPS](https://artichost.com) I believe I just had this deadlock on OSX, any data I can gather?

[2020-12-15 10:33] OdysLam commented on #10340
Since this is a recurring theme, perhaps @manos-saratsis @dim08 you are interested in tackling this from a product perspective. Perhaps a different error message?

[2020-12-15 10:48] lamka02sk commented on #10340
@Ferroin Today, I tried running the installer again and it worked. It looks like I hit the mentioned invalid cache window since I commented right around that time.

[2020-12-15 11:09] toxic0berliner opened #10389 "Install Netdata fails on proxmox"
##### Bug report summary
Suffering from a known bug I needed to reinstall (current issue is that cron netdata-updater.sh fails on line 31, I get a daily email about this failure to update). The proposed solution was to update, so I tried using the same method I used to install : the kickstarter.
The script is spawning so many threads that it overloads everything, I was thinking about increasing th

[2020-12-15 11:49] krital opened #10390 "Agent installed using installer script needs sudo to run on OSX"
##### Bug report summary

Agent installed using installer script needs sudo to run on OSX. This is because the script that runs as sudo seems to create some files as root instead of the netdata user. As a result you need sudo to start the agent.
##### OS / Environment

[code]

##### Netdata version

 netdata v1.26.0-344-ga3ada604

##### Component Name

Agent installer script
##### Steps To Reprodu

[2020-12-15 11:51] krital commented on #10380
I guess you could also upload a process sample (You do that from activity monitor), so that we can compare the stack trace

[2020-12-15 13:21] #10376 closed

[2020-12-15 13:58] Ferroin commented on #10372
@gaia To clarify, you are still seeing the issue even _after_ reinstalling?

[2020-12-15 14:11] mjtice opened #10392 "Setting 'data source' in exporting.conf for prometheus doesn't seem to be honored"
##### Bug report summary
We're attempting to set 'data source = as collected` in our `[prometheus:exporter]` but the value doesn't seem to be honored.

##### OS / Environment
[code]

##### Netdata version
[code]

##### Component Name
Prometheus in exporting.conf

##### Steps To Reproduce
1 Configure `exporting.conf` like:
[code]
2 Restart netdata.
3 Navigate to prometheus metrics on the host.
[cod

[2020-12-15 14:29] thiagoftsm opened #10393 "ebpf.plugin crashes with default configuration"
##### Bug report summary
When running on Ubuntu 20.04LTS an user report that Netdata `ebpf.plugin` was generating core dump with the following stack trace:

[code]

##### OS / Environment
[code]

##### Netdata version
netdata v1.26.0-395-gc6083cc97

##### Component Name
ebpf.plugin

##### Steps To Reproduce
1. Remove /etc/netdata/ebpf.conf
2. Go to plugins directory `/usr/libexec/netdata/plugins.d

[2020-12-15 14:50] Ferroin commented on #10389
It looks like our kickstart install script has a bug in the option parsing.

Short-term workaround is to put `--reinstall` at the beginning of the options instead of the end, working on a long-term fix right now.

[2020-12-15 14:54] Ferroin commented on #10372
@gaia Further update, there’s apparently a bug in the option parsing for the kickstart installer that is causing it to care about the order of the options passed to it. Working on a fix now, but in the short term you should be able to work around this by putting `--reinstall` as the first option instead of putting it later in the option list.

[2020-12-15 15:33] toxic0berliner commented on #10389
Thanks a lot @Ferroin !!! It didn't occur to me to change the order of the options. Just started it and install seems to be running ! Now hooping it'll finish properly and hopefully free me of the daly email about cron update failing ;)

[2020-12-15 15:53] #10393 closed

[2020-12-15 16:21] toxic0berliner commented on #10389
So far so good :
[code]

We can close this issue, we'll see tomorrow if it also fixed my daily email thing on the other issue ;)

[2020-12-15 16:22] toxic0berliner commented on #10389
or leave the issue open while you try to sort out the argument order thing, as you wish ;)

[2020-12-15 17:00] gaia commented on #10372
Yes, reinstalled twice, once with once without the `-x`. Still:

[code]

That was my only option on both runs.

[2020-12-15 17:46] #10389 closed

[2020-12-16 08:53] #4811 closed

[2020-12-16 09:05] fayak commented on #10260
Hello @vlvkobal ,

I changed `netdata.conf` 2 days ago to put the following:
[code]

`systemctl restart netdata` to apply the changes, but unfortunately there's nothing in `debug.log, and the problem occurred again. Did I missed something ?

[2020-12-16 09:31] ilyam8 commented on #4811
Thx for @hamedbrd we added [couchbase collector](https://github.com/netdata/go.d.plugin/tree/master/modules/couchbase#couchbase-monitoring-with-netdata), initial version collects only buckets basic stats (`/pools/default/buckets` endpoint).

Couchbase exposes a lot of metrics, there are a lot of endpoints we can gather metrics from. If there is any interest in improving our collector, consider to

[2020-12-16 09:34] vlvkobal commented on #10260
Sorry, I forgot to mention. You should reinstall Netdata using `sudo CFLAGS="-DNETDATA_INTERNAL_CHECKS=1" ./netdata-installer.sh`.

[2020-12-16 09:53] fayak commented on #10260
This require to rebuild netdata, which I can't do on the production server where I encounter this issue (It's installed by apt. I found a staging server that had this issue once, so I'll try there, but I don't know if it'll reproduce again, and how much time I'll have to wait for it to reproduce again, I'll let you know

[2020-12-16 09:54] ilyam8 commented on #4811
Ok, it is a little bit more complex, according [couchbase-monitoring-best-practices](https://developer.couchbase.com/resources/best-practice-guides/monitoring-guide.pdf) all those cluster-wide endpoints are informational

entire and cluster and the best practice is to monitor each node individually

I guess we need to go through that best-practices document first (checked it briefly)

[2020-12-16 09:59] ilyam8 commented on #10260
simple way is to build a docker container with `CFLAGS="-DNETDATA_INTERNAL_CHECKS=1"` and install it

[2020-12-17 20:39] kchiem commented on #10094
I can confirm having the same problem, but on FreeBSD 12.2:

[code]
![ScreenClip](https://user-images.githubusercontent.com/17679003/102541061-c458e700-4064-11eb-89ff-24c79a6d1ef8.png)

![ScreenClip](https://user-images.githubusercontent.com/17679003/102541068-c91d9b00-4064-11eb-87c8-e8a275e0b91e.png)

[2020-12-17 22:53] nightingale0131 opened #10402 "Unable to load snapshot"
##### Bug report summary
I'm unable to load a netdata snapshot. The snapshot loads fine on other servers, just not on my local server.

##### OS / Environment
netdata is monitoring my local server.
[code]

##### Netdata version
Version: netdata v1.26.0-404-nightly

##### Component Name
web component

##### Steps To Reproduce
Sorry, I'm not really sure how to reproduce it. As I said,  the snapshots

[2020-12-17 23:10] nightingale0131 commented on #10402
Nevermind, it looks like netdata never updated to 1.26 (originally on 1.11). After restarting it works fine.

[2020-12-17 23:10] #10402 closed

[2020-12-18 00:35] dtipro opened #10403 "1.27.0.deb built without Cloud dependencies"
##### Bug report summary
After updating to 1.27.0 via the .deb package my existing nodes are no longer able to communicate with Netdata Cloud and new nodes are unable to be claimed.  When opening the dashboard I see a message stating:

When trying to claim a node I receive:

This was working with the 1.26.0 .deb package and works if 1.27.0 is installed via the kickstart script.

##### OS / Environ

[2020-12-18 04:41] stevecorya commented on #10403
I have the same issue with Debian 10; upgrade from 1.26.0 to 1.27.0 causes eight nodes to display "All nodes have errors" in the dashboard. Downgrading to 1.26.0 brings them all back up.

I have not tried re-installing 1.27.0 with the kickstart script.

[2020-12-18 08:35] #10380 closed

[2020-12-18 13:17] manos-saratsis commented on #10340
@OdysLam I think the message is fine. An idea for improvement would be to ask the user to redo the installation @Ferroin what's your thoughts on this.

[2020-12-18 14:26] Ferroin commented on #10403
There was a bug with the Cloud code in 1.27.0 that we unfortunately did not catch until after the release. We’re in the process of doing a new release that includes a fix for this.

[2020-12-18 14:27] Ferroin commented on #10340
Indeed, I think we could probably update the message to suggest retrying the install in about an hour. I could even code it to only display this around the time we typically publish nightly releases if we want.

[2020-12-18 14:49] darsys commented on #10372
I had the same original issue and I followed the instructions to reinstall using
`/etc/cron.daily/netdata-updater: line 44: 3: Bad file descriptor'

Here is a pastebin of my output: [https://pastebin.com/rvbkYL4b](url)

After running this (and restarting netdata service), the updater now does this:
`/etc/cron.daily/netdata-updater: line 44: 3: Bad file descriptor

This is  dell 610 server with upd

[2020-12-18 17:43] manos-saratsis commented on #10340
@Ferroin great. Please always suggest to reinstall when the checksum fails.

[2020-12-18 19:11] derobert commented on #10403
Seeing this with 1.28.0 from packagecloud / Ubuntu Xenial too.

[2020-12-19 09:25] benpro opened #10406 "Cannot update netdata with netdata-updater.sh"
##### Bug report summary

[code]

Same with bash -x :

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Component Name

##### Steps To Reproduce

1. Try to update
2. It loops

##### Expected behavior

Should update sucessfully.

[2020-12-19 09:27] benpro commented on #10406
Seems related to this part:

[code]

[2020-12-19 09:29] benpro commented on #10406
[code]

I have neither `jq` nor `python` so it fails.
With `python3` it's OK.

[code]

[2020-12-19 10:48] rider8581 opened #10407 "Date-picker for custom dashboard"
Good day!

Thank you for creating this awesome project.

I am impressed cause this project is very useful and easy-to-use.

Now I am trying to create the custom dashboard, however, I couldn't place a date-picker on my custom dashboard.

![image](https://user-images.githubusercontent.com/52605718/102687515-9cc96200-41bd-11eb-87ba-f518c1927808.png)

Would you kindly confirm if it is possible to put

[2020-12-19 18:52] ndsda commented on #9863
I get exactly the same error as I got on 1 Sep.

[2020-12-20 00:28] aldem commented on #10208
In the meantime - is there any way to get it back by editing some configuration file or dashboard source (without recompiling anything) or downgrading is the only option?

To be honest, changes like this without any option to preserve old look and feel are quite inconvenient - and this was really significant change. Reading new bottom placed legends is very difficult to compare values, and takes s

[2020-12-20 17:00] kaplandani commented on #10406
I'm on 26 version, and attempt to update netdata results in something like this (this is ps -ef
 | grep netdata)

root     72704 72701  0 10:58 pts/13   00:00:00 bash //usr/libexec/netdata/netdata-updater.sh
root     72708 72704  0 10:58 pts/13   00:00:00 bash //usr/libexec/netdata/netdata-updater.sh
root     72711 72708  0 10:58 pts/13   00:00:00 bash //usr/libexec/netdata/netdata-updater.sh
root

[2020-12-20 17:01] kaplandani commented on #10372
when it moves to run netdata updater  is stuck in a look forking more and more netdata_updater.sh processes

[2020-12-20 18:40] thefiredragon commented on #5590
Its allowed to bump here?
This Feature of Monitoring and alerting would be really helpful also with the New netdata cloud Integration

[2020-12-20 18:45] Daniel15 commented on #6529
I know this is an old issue, however it helped me. I couldn't get streaming connections working using Let's Encrypt certs until I modified the config to set:
[code]

I wonder if Netdata should automatically use these paths on Debian?

[2020-12-20 22:06] dolohow opened #10408 "Netdata fails to update from cron from v1.27.0"
##### Bug report summary
When running:
[code]
I get:
[code]
Same happens with:
[code]

##### OS / Environment
[code]

##### Netdata version
v1.27.0

##### Component Name
Updater

##### Steps To Reproduce
Try update from v1.27.0 to v1.28.0 using cron script

##### Expected behavior
Netdata is updated to v1.28.0 without errors.

[2020-12-21 07:35] sniffski opened #10409 "netdata: symbol lookup error: netdata: undefined symbol: _ZN6google8protobuf8internal24proto3_preserve_unknown_E"
##### Bug report summary
I was trying to update from v1.26.0-333-nightly to 1.28.0 stable and got the following error when trying to start the service
"netdata: symbol lookup error: netdata: undefined symbol: _ZN6google8protobuf8internal24proto3_preserve_unknown_E"
Already tried updating protobuf with pip, but that doesn't solve the issue.

##### OS / Environment
[code]

##### Netdata version
$ dp

[2020-12-21 09:04] vlvkobal commented on #10409
Do you have `libprotobuf` installed? What version?

[2020-12-21 09:26] vlvkobal commented on #10094
Please show the settings of the `plugin:freebsd:getifaddrs` section in `http://localhost:19999/netdata.conf`. What interfaces do you have on your system?

[2020-12-21 09:55] stelfrag commented on #10372
Hi @kaplandani

Unfortunately there has been an issue with the updater (this is really bad and we will try our best not to have this happen again :disappointed:).

Please proceed with a reinstall as described in

[https://learn.netdata.cloud/docs/agent/packaging/installer#automatic-one-line-installation-script](https://learn.netdata.cloud/docs/agent/packaging/installer#automatic-one-line-installat

[2020-12-21 10:02] sniffski commented on #10409
below:
[code]

[2020-12-21 10:09] stelfrag commented on #10408
Hi @dolohow

could you please try

`bash <(curl -Ss https://my-netdata.io/kickstart.sh) --stable-channel --reinstall`

[2020-12-21 10:22] dolohow commented on #10408
That works, thanks :)

[2020-12-21 10:22] #10408 closed

[2020-12-21 10:32] kchiem commented on #10094
When I go to that URI, I get "You are not allowed to access this resource."

There's only one interface on it, re0.

[2020-12-21 10:59] kaplandani commented on #10372
will it remove any current settings / enabled plugins ?
Thanks.

On Mon, Dec 21, 2020 at 11:55 AM Stelios Fragkakis <notifications@github.com>
wrote:

[2020-12-21 11:10] stelfrag commented on #10372
No it will not affect settings

[2020-12-21 11:17] kaplandani commented on #10372
The installer tries to upgrade libcurl3 and remove php5-culr which I cannot
allow (php5 is installed on the server)
is there any breaking dependencies on version 28 that needs to be installed
after version 26 is installed ?
Dani

On Mon, Dec 21, 2020 at 1:10 PM Stelios Fragkakis <notifications@github.com>
wrote:

[2020-12-21 11:24] fate8383 opened #10410 "Big sur MAC os 11.1, agent is working but no web view"
Big sur MAC os 11.1

I cannot get to the web view, localhost:19999 or any other local IP i bind it to. I cannot get to see the web view. Installed via home-brew, also tried from source. Reinstalled, removed many times both homebrew and netdata itself still not able to. I can see in the net stat port and IP are listening, Curl returns HTTP ok but no content. Webview is just hanging to load but noth

[2020-12-21 12:25] vlvkobal commented on #10409
Hmm, I can't reproduce the issue. Could you remove all `libprotobuf` packages, run `apt autoremove` and install Netdata again?

[2020-12-21 12:29] vlvkobal commented on #10094
To access the effective configuration, you should uncomment `allow netdata.conf from` in the `web` section of `netdata.conf` and add your IP to the list of allowed hosts.

[2020-12-21 12:43] sniffski commented on #10409
that definitely made my heart skip a few beats... it removed gnome-session, dgm and few others... :D
anyway I reinstalled some of them before autoremove and now I have the same netdata issue and only three of these protobuf packages:
[code]

[2020-12-21 14:04] vlvkobal commented on #10409
:scream: I'm sorry about that.

What is the output of
`ldd /sbin/netdata | grep protobuf`,
`ldconfig -p | grep protobuf`, and
`nm -D /lib/x86_64-linux-gnu/libprotobuf.so.17 | grep unknown_E`
on your system?

[2020-12-21 14:04] neobiz opened #10411 "Unable to locate package libjson-c-dev liblz4-dev libuv1-dev"
#### Summary
Hello,

I'm trying to install Netdata on Debian (7.11  Wheezy) after "apt update & apt upgrade" I'am using this command :

bash <(curl -Ss https://my-netdata.io/kickstart.sh) --stable-channel --disable-telemetry

Unfurtunately I have the error message :

E: Unable to locate package libjson-c-dev
E: Unable to locate package liblz4-dev
E: Unable to locate package libuv1-dev

I have also

[2020-12-21 14:07] sniffski commented on #10409
Thank you for your time in investigating this with me! Below is the info:
[code]

[2020-12-21 14:14] stelfrag commented on #10372
Since you have 1.26 running, 1.28 does not have different dependencies as far as the agent is concerned

If you choose to say **n** to the update command (apt-get install or equivalent) that wants to upgrade libcurl3 and remove php5-curl then you will get something like

[code]

[2020-12-21 14:22] vlvkobal commented on #10409
You have two libraries installed in different places and the one Netdata is linked against is definitely a lame one - it doesn't have the `_ZN6google8protobuf8internal24proto3_preserve_unknown_E` symbol. How did you install `/usr/local/lib/libprotobuf.so.17`? Is it possible that you installed it from the source? You should delete it. Look at the output on my machine:
[code]

[2020-12-21 14:25] sniffski commented on #10409
I think initially the nightly version was installed from source then I've tried updating with stable version from apt. Can you advice how do I remove completely netdata and then install stable version from apt?

[2020-12-21 14:36] sniffski commented on #10409
quite destructive :D
[code]

[2020-12-21 14:51] vlvkobal commented on #10409
Can you find `_ZN6google8protobuf8internal24proto3_preserve_unknown_E` in any file from the `ldconfig` list?

[2020-12-21 14:53] jamesnr commented on #10128
May I ask, as it's been over a month when you hope to make the changes to the updater?

Much appreciated and hoping Covid isn't impacting.

Thank you.

[2020-12-21 14:56] vlvkobal commented on #10409
What do the following commands show?
[code]

[2020-12-21 15:01] sniffski commented on #10409
Not sure if that's what you asked, but:
[code]

[2020-12-21 15:02] sniffski commented on #10409
[code]

[2020-12-21 15:08] vlvkobal commented on #10409
Quite a thick ld path configuration :grin:

[2020-12-21 15:14] vlvkobal commented on #10409
Well. We don't know if any software, installed on your machine, depends on `/usr/local/lib/libprotobuf.so.17` and we don't know how to delete it correctly. You can try simply renaming `/usr/local/lib/libprotobuf.so.17` -> `/usr/local/lib/libprotobuf.so.17.bak` and run `ldconfig` without any options.

[2020-12-21 15:16] vlvkobal commented on #10409
... and check if Netdata will be linked to `/usr/lib/x86_64-linux-gnu/libprotobuf.so.17` (`ldd /sbin/netdata | grep protobuf`).

[2020-12-21 15:17] vlvkobal commented on #10409
If something goes wrong with other software, rename the library back and run `ldconfig`.

[2020-12-21 15:21] sniffski commented on #10409
$ ldd /usr/sbin/netdata | grep protobuf
	libprotobuf.so.17 => /usr/local/lib/libprotobuf.so.17 (0x00007f0ef0412000)

[2020-12-21 15:23] sniffski commented on #10409
f.. it! that won't be under your issues trend! :rofl:

[2020-12-21 15:28] sniffski commented on #10409
ldconfig always restore back the link to shitty /usr/local/lib...

[2020-12-21 15:40] vlvkobal commented on #10409
I've found a way to delete the library. `ldconfig` is too smart. It searches for libraries and makes fresh links to them. You should move the library out of its directory to a place that is not configured in `ld.so.conf`.

[2020-12-21 15:47] sniffski commented on #10409
Just did exactly the same! Thanks! I think it is solved now! :smile:

[2020-12-21 15:50] #10409 closed

[2020-12-21 21:24] kchiem commented on #10094
There was no web section, which added to the confusion.  Everything in the getifaddrs sections is commented out:

[code]

Everything here comes from a straight `$ pkg install netdata`.

[2020-12-22 08:40] vlvkobal commented on #10094
Please add
`set physical interfaces for system.net = igb* ix* cxl* em* ixl* ixlv* bge* ixgbe* vtnet* vmx* re*`
to the `plugin:freebsd:getifaddrs` section in your `netdata.conf`. Can you see network bandwidth data?

[2020-12-22 09:03] kchiem commented on #10094
Yes!

[2020-12-22 09:33] vlvkobal commented on #10094
Cool, then I'm making a PR...

[2020-12-22 09:41] DominikTrenz opened #10413 "Netdata process crash after high system load"
Hello,
i'm expiriencing crashes of netdata while the machine it is running on is under stress. The netdata process is running as docker container and working fine for weeks but as soon as the ram is at 100% for a few minutes it crashes and the docker deamon looses control. It switches to state "Up (unhealthy)" and can't be stopped or restarted. I can force remove the container and it's network, ki

[2020-12-22 09:56] vlvkobal commented on #10413
Please look at [the documentation](https://learn.netdata.cloud/docs/agent/daemon#oom-score). Does it help you?

[2020-12-22 10:00] DominikTrenz commented on #10413
It's ok for netdata to get killed at first but then it should be able to restart when there are resources available again. And all the docker commands stop working as soon as the crash/kill happens. I guess it's not killed entirely and there are still processes running so docker can't restart the container but it's not working either.

[2020-12-22 20:05] thiagoftsm commented on #6529
Hello @Daniel15 ,

As you said this looks like a Let's encrypt issue, probably we need to add a new topic to our documentation related to Let's Encrypt certificate. I remember that  I also had problems with Let's encrypt certificate on CentOS. @joelhans we need to think something about this.

Best regards!

[2020-12-22 21:00] bmatheny opened #10417 "/etc/cron.daily/netdata-updater fails"
Found https://community.netdata.cloud/t/periodically-anacron-job-cron-daily-on-localhost-reports-a-problem-with-netdata-updater-sh/612 but this workaround does not fix my issue.

##### Bug report summary
cron has been failing to run netdata-updater (`/etc/cron.daily/netdata-updater`) for a while now:

[code]

I found the above thread and tried to `--reinstall` but that didn't fix the issue. After

[2020-12-22 21:57] mojtaba7b commented on #10350
Hi
I have this error
CentOS-8 - AppStream                            3.6 kB/s | 4.3 kB     00:01
CentOS-8 - Base                                 3.9 kB/s | 3.9 kB     00:00
CentOS-8 - Extras                               1.6 kB/s | 1.5 kB     00:00
Extra Packages for Enterprise Linux Modular 8 -  24 kB/s |  33 kB     00:01
Extra Packages for Enterprise Linux 8 - x86_64   25 kB/s |  35 kB     00:01

[2020-12-23 07:42] #10094 closed

[2020-12-23 11:06] krital commented on #8285
What is the current status of this? I have found some additional issues with kickstart script and wondering if they should be added here or to a new issue

[2020-12-23 13:15] animosity22 opened #10419 "Autoupdate issue on Ubuntu 20.04"
##### Bug report summary
After a fresh install and the update tries to run, it generates the error below.

##### OS / Environment
[code]

##### Netdata version
[code]

##### Component Name
/etc/cron.daily/netdata-updater:

##### Steps To Reproduce
Let the cron job run and it produces:

[code]

##### Expected behavior
Update works.

[2020-12-23 14:41] skibbipl opened #10420 "/etc/cron.daily/netdata-updater: line 168: [: : integer expression expected"
##### Bug report summary
There is some problem with netdata updater. I have 2 raspberry pis and on both I'm getting the same error.
[code]
##### OS / Environment
[code]

##### Netdata version
netdata v1.28.0-10-nightly

##### Component Name
netdata-updater

##### Steps To Reproduce
run `/etc/cron.daily/netdata-updater`

##### Expected behavior
No errors

[2020-12-23 18:23] mapl commented on #10417
Have exactly the same issue on Ubuntu 20.04.1 LTS (Focal Fossa), however on "Debian GNU/Linux 10 (buster)", it works.

[2020-12-24 07:21] Jolin-blank opened #10421 "rpm build faild"
[code]

[2020-12-24 09:15] ensemblebd commented on #4829
If you are interested in a sponsor on this, I am willing and able.
My IIS experience is about 5-6 years on a small company, hosting a little over 150 app pools across various platforms (php, .net, core, node, and cfusion).
IIS Metrics (via performance counters) give everything you could want, except for access-requests, which require logs analysis (re: filebeat for elastic via grok parser) - which

[2020-12-24 11:05] krital commented on #10410
Is this on Intel or M1 hardware? I have no issues on Intel but we don't have M1 hardware to try yet.

[2020-12-24 11:20] krital opened #10422 "Kickstart script needs to support Mac OS Big Sur"
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

 netdata v1.28.0-21-g80b91811

##### Component Name

kickstart script on https://my-netdata.io/kickstart.sh
##### Steps To Reproduce

1. bash <(curl -Ss https://my-netdata.io/kickstart.sh)
2. The following output is printed:

administrator@adminisatorsmac ~ % bash <(curl -Ss https://my-netdata.io/kickstart.sh)
System 

[2020-12-24 11:28] osmanlicilegi commented on #10403
Same here with 1.28.0 from packagecloud on Ubuntu Bionic.

[2020-12-24 12:24] thiagoftsm commented on #4829
Hello @ensemblebd ,

After to read your answer I reopen the issue for we move forward it, please, can you give us all the information that @ilyam8 wrote [here](https://github.com/netdata/netdata/issues/4829#issue-386485311)?

Best regards!

[2020-12-24 13:21] Dlizzz commented on #10417
+1

[2020-12-24 14:45] geiseri commented on #10316
Sorry for the late response.  The kernel is `linux-image-5.4.0-37-generic` from https://packages.ubuntu.com/bionic-updates/linux-image-5.4.0-37-generic

[2020-12-25 08:12] maciejasembler opened #10423 "High parent memory usage with a lot of ephemeral charts"
##### Bug report summary

TL;DR current workaround is https://github.com/netdata/netdata/issues/10423#issuecomment-808945886

---

Parent netdata process  seems to be leaking memory in AWS EKS environment or ignoring desired memory mode setting and history settings.

Netdata application ram usage reported on the node, note that despite setting history to 3600 (1 hour of data) I can see 12 hours of

[2020-12-25 08:58] fate8383 commented on #10410
Intel, I had no problem either on Catalina. Upgraded to Big Sur and it was again ok on v1.26 then netdata update happened to v1.27, it stopped working. Also updated to v1.28 still not working. Uninstalled reinstalled all dependencies and netdata itself, still no luck

[2020-12-25 11:21] #10047 closed

[2020-12-27 03:39] douglasparker commented on #10417
It seems like the automatic updater is always broken. :/

[2020-12-27 05:52] Daniel15 opened #10426 "Email alerts not working"
##### Bug report summary

I stopped receiving emails from all my Netdata instances around December 18:
![](https://d.sb/2020/12/firefox_26-21.49.06.png)

This is happening across several nodes so I don't think it's anything to do with the node configuration. I followed the instructions at https://learn.netdata.cloud/docs/agent/health/notifications/email to send a test alert, which worked fine (it'

[2020-12-27 06:13] Daniel15 opened #10427 "MySQL replication alert broken due to difference in behaviour between Python and Go implementations"
##### Bug report summary
`mysql_local.slave_thread_running` should fire if MySQL replication has stopped. One of my replicas stopped working recently:
[code]

However, Netdata did not fire an alert.

The alert calculation is defined as the following:
[code]

The breakage appears to be due to a difference between the Python and the Go implementations. The Python one returns `1` for running and `-1`

[2020-12-27 06:14] Daniel15 commented on #10426
This was completely my fault... I added these nodes to Netdata Cloud and didn't realise that Cloud has its own email configuration. It was turned off for some reason.

[2020-12-27 06:14] #10426 closed

[2020-12-27 09:58] Ma3xl3 commented on #10417
Same problem.
Netdata v1.26.0 worked well. On v1.27.0 and v1.28.0 the error occurs.

[2020-12-27 10:32] i0466lt opened #10430 "HPSSA: not allowed to run sudo for command ..."
##### Bug report summary

Good morning all,
I'm unable to get the module HPSSA working.
User netdata is correctly in sudoers file, hpssa is enabled in hpssa.conf.
I'm able to run `sudo -n ssacli ctrl all show config detail` as netdata user.

[code]

##### OS / Environment

[code]

##### Netdata version

netdata v1.28.0-35-nightly

##### Component Name

hpssa

[2020-12-27 10:48] ilyam8 commented on #10430
Hi @i0466lt

I suspect systemd capabilities issue 🤔

Try https://github.com/netdata/netdata/issues/10079#issuecomment-709636484 or https://github.com/netdata/netdata/pull/10201

[2020-12-27 12:53] i0466lt commented on #10430
@ilyam8 many thanx

Following [your comment on #10079](https://github.com/netdata/netdata/issues/10079#issuecomment-720983709) now hpssa is working

[2020-12-27 15:11] ilyam8 commented on #10430
@i0466lt could you also test https://github.com/netdata/netdata/pull/10201?

adding `CapabilityBoundingSet=CAP_SETGID CAP_SETUID` should fix the problem too

[2020-12-27 18:31] krital commented on #10410
Could please ensure you have followed the instructions here for installing from source? https://github.com/netdata/netdata/blob/master/packaging/installer/methods/macos.md

Specifically:
`
1. xcode-select --install
2. brew install ossp-uuid autoconf automake pkg-config libuv lz4 json-c openssl@1.1 libtool cmake
3. git clone https://github.com/netdata/netdata.git
4. cd netdata/
5. sudo ./netdata-in

[2020-12-27 22:48] Lamera commented on #10417
Same issue on alpine linux.
I fixed the issue with this added lines: https://github.com/skibbipl/netdata/commit/18c4f99282695f7318bbb6bf6c5eff2b685d4e39

[2020-12-27 22:52] Lamera commented on #10420
Same issue #10417

[2020-12-27 22:52] Lamera commented on #10420
Duplicate of #10417

[2020-12-27 22:58] fate8383 commented on #10410
yes, i might have done something wrong, multiple times. I will look into that...it woks now. thanks!
is access list (allow connections from) working on this install? I tried to access after changing the netdata conf file for "bind to" and "allow connections from", but i cannot access from another device in the network. I have another netdata setup on another device i followed the same way and it i

[2020-12-27 23:13] douglasparker commented on #10417
I can confirm that this fix also works for Ubuntu 20.04.

[2020-12-28 08:57] krital commented on #10410
I am glad this worked for you. Could I please ask you to open a new issue for this to keep them separate?

[2020-12-28 08:57] #10410 closed

[2020-12-28 15:41] ilyam8 commented on #10427
Hi @Daniel15, thx for reporting the issue!

TO be honest i dont like having `-1` for `No` (or no value, anything except `Yes`), i dont remember why we did it like that 🤔

Probably because of

(which i dont really like too as default).

[2020-12-28 16:57] i0466lt commented on #10430
Hi @ilyam8
I've tested but no, not working.

Here is the output of error.log

[code]

[2020-12-28 18:29] mapl commented on #10417
As the command "python" was not found. I used the described way to create a symbolic link of python to python3

https://stackoverflow.com/a/50331137

[code]
This gives a priority of 10 for the path of python3.

[2020-12-29 08:13] smzcs commented on #9777
cannot install netdata:

curl -q -sSL --connect-timeout 10 --retry 3 --output /tmp/netdata-kickstart-ckglkAc4NR/sha256sum.txt https://storage.googleapis.com/netdata-nightlies/sha256sums.txt curl: (28) Operation timed out after 10000 milliseconds with 0 out of 0 bytes received
 FAILED

GFW, really a bad thing for the Chinese people

[2020-12-29 11:16] fate8383 opened #10431 "Big sur MAC os 11.1 “allow connection from” is not working"
I have realized that "allow connection from" is not doing anything. This was working on v1.26 but now I am on latest version (nightly). Not sure where it stopped working but I cannot access from another network device to netdata agent web. I used "bind to" to the device IP, which is working I can see on listening IP and the port but not accessible by another device in the network. Access logs show

[2020-12-29 14:47] hannorein commented on #10316
I'm not sure if this is related, but I'm seeing a similar issue on debian buster (4.19.0-13-686-pae #1 SMP Debian 4.19.160-2 (2020-11-28) i686 GNU/Linux)

dmesg:
[code]

running the bppf.plugin:
[code]

[2020-12-29 15:26] Martin-Luther commented on #10070
Any news ?

[2020-12-29 15:48] thiagoftsm commented on #10316
Hello guys,

I am addressing all the problems you are reporting with this [PR](https://github.com/netdata/kernel-collector/pull/184). When it is merged, I will create another PR here at `netdata/netdata` to bring the new ebpf release with the fixes.

I tested the code present in the cited PR on `Ubuntu 18.04` and `Ubuntu 20.04` and I did not have any error.

Best regards!

[2020-12-29 16:32] skibbipl opened #10432 "Matrix/Rocket chat notifications are not working"
##### Bug report summary
I've set up matrix notifications for my own matrix server. But what I'm seeing in the logs is following:
[code]
But when I started debugging notifications I can see them sent to matrix and I can see them in the chat:
[code]
##### OS / Environment
[code]

##### Netdata version
v1.28.0 installed from prebuild static 64-bit binaries.

##### Component Name
Notifications

#####

[2020-12-30 09:59] pickfire commented on #10165
I still get the same issue `EXPORTING : CONFIG: cannot load user exporting config '/etc/netdata/exporting.conf'. Will try the stock version.` after upgrading to v1.28.0, even with just a simple one, it does not work.
[code]
I am using kubernetes for deployment, the configuration is as follow for helm values:
[code]
I was planning to use `prometheus_remote_write` as well but I am surprised even aft

[2020-12-30 10:44] skibbipl commented on #10432
#10359 looks pretty similar, perhaps the root cause is the same?

[2020-12-30 13:30] thiagoftsm commented on #10165
Hello @pickfire ,

The error that you are giving us means that either  Netdata could not find the file `/etc/netdata/exporting.conf` or it does not have permission to read the file, please, can you run the following command for we identify what is the problem:

[code]

Best regards!

[2020-12-30 15:45] cccaballero opened #10435 "Too high Http Check response times"
##### Bug report summary
I have two VPSs, on VPS1 I have a couple of websites, and on VPS2 I have netdata installed and Http Check configured to monitor the websites hosted on VPS1. Netdata is reporting response times of around 4000 ms (very long) for the web while, if I use curl from the VPS2 itself to measure response times, it returns around 350 ms which is expected.

##### OS / Environment

[c

[2020-12-30 18:14] phpmydev commented on #2938
for me the command was sudo /usr/libexec/netdata-uninstaller.sh --yes

[2020-12-31 01:58] stevenans9859 opened #10436 "Try"
Try

_Originally posted by @stevenans9859 in https://github.com/netdata/netdata-cloud/issues/33#issuecomment-751659131_

[2020-12-31 08:58] cepn-itadmin commented on #10408
You may also do:
[code]
which fix this issue without modifying updater script

[2020-12-31 09:01] skibbipl commented on #10432
Also the same issue is for Rocket chat.

[2020-12-31 11:58] ilyam8 commented on #10436
@stevenans9859 hi, you seem forget to add the issue description, probably opened it by mistake. Closing it.

[2020-12-31 11:58] #10436 closed

[2020-12-31 12:00] ilyam8 commented on #10432
@skibbipl thx for reporting it, looks like there is a problem when netdata installed from prebuild static 64-bit binaries 🤔 We will check it!

[2020-12-31 12:16] ilyam8 commented on #10435
https://github.com/davecheney/httpstat

`time_starttransfer` seems is [Time to first byte](https://en.wikipedia.org/wiki/Time_to_first_byte). Httpcheck module doesn't measure it.

https://github.com/netdata/go.d.plugin/blob/47505d59438c246a7f5e3f82823011e1d2d2cd77/modules/httpcheck/collect.go#L33-L35

I think there is what we need - https://github.com/davecheney/httpstat

 - dns lookup time
 - tcp

[2020-12-31 12:31] jobenvil commented on #10417
Meanwhile I have done:

1. `bash <(curl -Ss https://my-netdata.io/kickstart.sh) --reinstalll` -> NOK
2. `./netdata-uninstaller.sh --yes  && bash <(curl -Ss https://my-netdata.io/kickstart.sh)` --> NOK
3. `sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10`  -- > **OK**

@mapl I think that's a good non intrusive WA. Thanks!
[code]

[2020-12-31 12:33] dolohow commented on #10408
I forgot to mention that while it updated to newest version, next runs of scripts yielded same problem.

I did:
[code]

Which probably using symlinks under the hood.

Thanks @cepn-itadmin

[2020-12-31 15:49] thiagoftsm commented on #10432
I agree with @ilyam8 , I tried to replicate yesterday compiling Netdata from scratch, and I did not have any problems. I will try to use the prebuild to confirm this.

[2020-12-31 23:39] easaw commented on #9863
After some trials, I've found a way that seems to work for Ubuntu 20.04

`bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)  --stable-channel --disable-telemetry`
(This assumes you do not want nightly)

rather than
`cd /etc/netdata`
another location might be:
`cd /opt/netdata/usr/sbin/`
then do this:
`sudo chmod +x netdata-claim.sh`

finally, while still in the /sbin directory use
`sudo

[2021-01-01 03:11] pickfire commented on #10165
Ah, I figured it out. I was looking at the wrong container, I looked at the parent instead of the child, I was confused about it for a bit.

[2021-01-01 03:32] montyfudd commented on #10165
nice!
-monty

[2021-01-01 14:07] Slind14 commented on #10247
If it is possible to trigger the alert if it doesn't decrease over time then a higher initial value would be great. Maybe 10 times of that.

[2021-01-01 17:03] mailinglists35 commented on #10389
this is still happening

[code]

[code]

ubuntu 18.04.5 lts

[2021-01-01 17:05] mailinglists35 commented on #10389
the first cron mail from netdata updater failure is from december 9 - i just didn't have time to report.

[2021-01-02 04:21] CberYellowstone commented on #9239
@prologic now I have the same problem on my `centos7.9` ,and I don't know how to fix this problem
my netdata version is `1.28.0`, and it's installed by rpm from the `packagecloud` source
so is there any bugs not fix yet?
![image](https://user-images.githubusercontent.com/37031767/103450708-06388d00-4cf5-11eb-862e-f8d46ab24010.png)

[2021-01-02 08:56] stemy2 opened #10437 "Notifications still active even when set to silent"
##### Bug report summary
I wanted to silence some alarm, so i modified their config file to set their "to:" to "silent". I even restarted the netdata service, but i still receive the notifications.

##### OS / Environment

[code]

##### Netdata version

Don't know, the commands return me "command not found" and "syntax error".
##### Component Name

Alarms
##### Steps To Reproduce

1. Set all alarm

[2021-01-02 12:58] snorkrat commented on #8625
Sorry to resurrect this old issue, but I seem to be having a similar issue.  I used `brew upgrade` and noticed that netdata wasn't working after that.  By not working I mean that the webUI would look like it was constantly trying to load but not displaying anything.  I then performed the following, in order: `brew stop netdata` `brew uninstall netdata` `brew update` `brew install netdata` `brew st

[2021-01-02 13:27] snorkrat commented on #8625
Figured it out.  Looking through the logs I could see that it was trying to load cached files in `/usr/local/var/cache/netdata/` I assumed these were left over from my previous netdata install.

I then uninstalled netdata, deleted the `/usr/local/var/cache/netdata/` folder completely, installed netdata again via homebrew and all is working.

[2021-01-02 14:13] snorkrat opened #10438 "Incorrect disk space reported."
##### Bug report summary

Netdata reports incorrect disk usage for multiple disks.

##### OS / Environment

[code]

##### Netdata version

 v1.28.0

installed via homebrew

##### Component Name

##### Steps To Reproduce

1. View reported disk usage on netdata
2. View reported disk usage on macOS
3. See that they are different

##### Expected behavior

Disk usage on Netdata should match that report

[2021-01-03 13:00] netblues commented on #10187
Well, removing json-c-0.14 and adding jason-c-0.15 did the trick and netdata is working on pfsense 2.4.5p1
No issues in a rather vanilla install.

Will test in a more complicate setup

[2021-01-03 15:43] Pingger opened #10439 "Updater deadlocks"
##### Bug report summary

Since a few weeks the update script no longer works. IT spawns >5000 Copies of itsself until aborted (with SIGINT).

##### OS / Environment

[code]

##### Netdata version

```netdata v1.26.0-333-nightly```

##### Component Name

packaging? (Updater)

##### Steps To Reproduce

[code]
stuck here with around 5000-7000 processes (continueally increasing)
![image](https://user

[2021-01-03 18:58] serge1peshcoff opened #10440 "A lot of "curl: (3) URL using bad/illegal format or missing URL" in logs"
##### Bug report summary

When the app is started, I get a lot of following messages in logs:

[code]

Additionally, I receive this notification (on Telegram as I have it as a alert platform), so this may be connected (the hostname matches the docker container's `hostname` output):
[code]

##### OS / Environment

[code]

##### Netdata version

[code]

##### Component Name

##### Steps To Reproduce

[2021-01-04 08:27] vlvkobal commented on #10440
Please read about [Docker container names resolution](https://learn.netdata.cloud/docs/agent/packaging/docker#docker-container-names-resolution).

[2021-01-04 09:11] underhood commented on #10439
There has been a bug in the updater recently that has been fixed. Take a look:
- https://github.com/netdata/netdata/issues/10366
- https://community.netdata.cloud/t/periodically-anacron-job-cron-daily-on-localhost-reports-a-problem-with-netdata-updater-sh/612

Quoting @Ferroin:

[2021-01-04 09:11] #10439 closed

[2021-01-04 09:17] underhood commented on #10406
There has been a fixed bug in `netdata-updater.sh` unfortunately to update it (the update script) you have to reinstall. Quoting @Ferroin:

Additional info:
- #10366
- https://community.netdata.cloud/t/periodically-anacron-job-cron-daily-on-localhost-reports-a-problem-with-netdata-updater-sh/612

[2021-01-04 09:17] #10406 closed

[2021-01-04 09:22] underhood commented on #10337
@playday3008 were you able to fix your issue with the steps @Ferroin lists above?

[2021-01-04 09:24] serge1peshcoff commented on #10440
@vlvkobal I have the PGID env variable set in the container though:
[code]

can it be something else causing this?

[2021-01-04 10:13] underhood commented on #10420
@Lamera is correct this is duplicate.
@skibbipl closing this as duplicate of #10417 to track the issue in single place. Thank you reporting and contributing PR with possible fix.

[2021-01-04 10:13] #10420 closed

[2021-01-04 10:20] vlvkobal commented on #10440
Have you mounted `docker.sock`? You can do something like this:
[code]
Don't forget to check `docker` group id using "grep docker /etc/group | cut -d ':' -f 3" and change `PGID` accordingly.

[2021-01-04 10:32] yasharne opened #10443 "Netdata not showing CPU usage correctly"
##### Bug report summary

htop shows an instance is using 30 to 40 percent of CPU on average but netdata is now showing the CPU usage correctly

htop output:
![image](https://user-images.githubusercontent.com/7656049/103525759-0a031580-4e95-11eb-91b5-dd06ae5de28d.png)
netdata output:
![image](https://user-images.githubusercontent.com/7656049/103525818-1f783f80-4e95-11eb-9c3a-d6b445e41fa1.png)
refr

[2021-01-04 11:05] yasharne commented on #10443
UPDATE: restarting the netdata unit didn't fix the issue but rebooting the machine fixed the issue

[2021-01-04 11:23] nabijaczleweli opened #10444 "Updater doesn't message the installer correctly"
##### Bug report summary
I've been getting root mail to this effect since December 17th:
[code]

Using kickstart manually does work, but this reappears the following run.

##### OS / Environment
[code]

##### Netdata version
[code]

##### Component Name
Updater/installer?

##### Steps To Reproduce
1. Install netdata
2. Try to update it from the updater script

##### Expected behavior
I expected it

[2021-01-04 11:39] jacekkolasa commented on #10208
We will add this option soon, until then there is unfortunately no way to hack around... You can only revert to older dashboard version by modifying `packaging/dashboard.checksums` and `...version` files as they were before this change - https://github.com/netdata/netdata/commit/db02098d667569438615de721c42d288f4199065

But that will unfortunately remove date-picker as well.

[2021-01-04 11:41] #7465 closed

[2021-01-04 12:11] #10377 closed

[2021-01-04 12:52] vlvkobal commented on #10438
Disk Utility shows the size in TB, Netdata in TiB. You can run `df -hg` in Terminal and check the size in GiB - just multiply it by 1024 to get TiB.

You can read about the difference between these units at https://en.wikipedia.org/wiki/Megabyte.

[2021-01-04 13:18] RicardoJSTeixeira commented on #2302
/old saved me from the new legend view. Thanks

[2021-01-04 14:04] jacekkolasa commented on #10407
Hi @rider8581 ! This is currently not possible, but I agree it would be good to have.

[2021-01-04 14:08] #10263 closed

[2021-01-04 14:19] Ferroin commented on #10128
The primary issue should be fixed in master now, but the fix for that introduced a different bug that should be fixed by #10447

[2021-01-04 14:23] jacekkolasa commented on #10177
@KickerTom thanks for those ideas!
That feature would be good to have, but we need first to rethink current configuration process. Dashboard_info.js is for some users hard to use and there are problems with propagating custom configuration to Netdata Cloud (because it's javascript, it cannot be imported there due to XSS security reasons). Maybe we will need to transform it to DSL, or we will have

[2021-01-04 14:24] Ferroin commented on #10411
We no longer support local builds via our kickstart installeron Debian 7.x due to it not providing packages we need for the install (specifically a new enough version of `libuv`).

There are two options to get Netdata working there:

* If you have a 64-bit x86 system, you can use our static installer as outlined [here in our documentation](https://learn.netdata.cloud/docs/agent/packaging/installer

[2021-01-04 14:27] Ferroin commented on #8285
At this point, I think this should probably be closed (I actually thought we had gotten it working) and then have separate issues opened for the specific problems.

[2021-01-04 14:37] Ferroin commented on #10417
Should be fixed in master now.

[2021-01-04 14:37] #10417 closed

[2021-01-04 14:48] manos-saratsis commented on #10177
@KickerTom thx for the feedback. We shall offer more customization options in the future and we will track this with an internal ticket. Closing this.

[2021-01-04 14:48] #10177 closed

[2021-01-04 14:57] jacekkolasa commented on #10169
@manos-saratsis @Ferroin Currently on stable installs we check against newest stable versions. Please correct me if you've seen different behaviour.

[2021-01-04 15:58] jamesnr commented on #10128
Thanks, Ferroin!!

I will wait a bit for the fix to work its way through to release, ie keep an eye on its progress and advise when tried and all working again. Appreciate the work!

[2021-01-04 16:02] playday3008 commented on #10337
No, bcoz netdata preinstalled and preconfigurated and integrated into MajorDoMo home page, after `--reinstall` option I don't know how to correctly configure netdata same as before

[2021-01-04 16:36] krital commented on #8285
Ok I have created another issue for my new issues and from my point of view happy to close this one. The new issue is https://github.com/netdata/netdata/issues/10422

[2021-01-04 18:18] mfundul opened #10449 "Troubleshoot coverity missing defects in netdata source code"
##### Bug report summary

Coverity missed the flaw [here](https://github.com/netdata/netdata/pull/10391). We need to understand how to tune coverity to cover more code.

[2021-01-04 20:13] cube-dan opened #10450 "CentOS 7: netdata-installer.sh fails without 'yum install Judy-devel' and $TMPDIR check fails during lib-judy build"
##### Bug report summary

Greets netdata,

I was hitting this error while running the `netdata-installer.sh` script:

[code]
For a bit of context I'll mention that to get the install working I'm having to apply a [previous workaround](https://github.com/netdata/netdata/issues/9863#issuecomment-693588016) for the error `the source directory does not include netdata-installer.sh` — which is beside t

[2021-01-05 09:06] cepn-itadmin commented on #10417
Still not fix as each time a new version of the netdata-updater.sh is downloaded this error is fired.

To test it : modify the date of the /usr/libexec/netdata/netdata-updater.sh :
[code]

Then run again the cron.daily/netdata_updater and voilà:
[code]

[2021-01-05 09:38] skibbipl commented on #10417
Yes, I can confirm that issue on my raspberries. Even when I symlinked python to python3.

[2021-01-05 13:49] AshleyHunter01 opened #10452 "Error on install and uninstall"
Can't install:
root@SliceSMP:~# bash <(curl -Ss https://my-netdata.io/kickstart.sh)
 --- Found existing install of Netdata under: / ---
 --- Existing install appears to be handled manually or through the system package manager. ---
 ABORTED  Existing installation detected which cannot be safely updated by this script, refusing to continue.

root@SliceSMP:~# sudo <(curl -Ss https://my-netdata.io/ki

[2021-01-05 14:18] Ferroin commented on #10417
That’s an unrelated bug that will be fixed when #10447 gets merged.

[2021-01-05 14:21] Ferroin commented on #10452
Indeed, it looks like something broke your install, though I’m not sure what.

The `--allow-duplicate-install` option _should_ work, the error message there indicates some networking issue trying to actually fetch one of the files needed for the install, though I couldn’t begin to guess what might be wrong there.

[2021-01-05 14:55] mfundul commented on #10449
After studying coverity user models I have concluded they can't help with what we want. User models cannot force coverity to cover code that hasn't been covered, or to interpret self-contained code differently. Their primary purpose is to define external dependency behaviour and the primary benefit is reducing false positives. Catching more bugs than before is only possible when external code has

[2021-01-05 15:00] krital commented on #10449
Thanks @mfundul great progress. So it looks like we can not depend much on Coverity scans for detecting security problems. Do you agree that we can increase coverage though by getting to scan more of our code by increasing what we compile in either a single or multiple scans? My idea on this was to have a mode where tests are executed, the dependencies of which cause more plugins to be compiled an

[2021-01-05 15:03] mfundul commented on #10449
I agree that attempting to enable everything sounds like a good idea. A maximal linux configuration sounds best to me. I don't know what we can do about BSD or Mac OS.

[2021-01-05 15:04] krital commented on #10449
Well that would be huge improvement compared to now. We could then look at VMs to performa additional scans (e.g. OSX VMs on AWS)

[2021-01-05 15:51] Habetdin commented on #9239
Upgraded my `netdata` to `v1.28.0` (I'm using netdata/netdata packagecloud) @ `Ubuntu 18.04` and got same message in the Web UI:

And the next message when I'm trying to use `netdata-claim.sh`:

[2021-01-05 22:15] dgsus opened #10454 "Prometheus Remote Write support isn't compiled"
Hi,

i cant seem to enable remote write on the latest stable version 1.28

after a fresh install (bash <(curl -Ss https://my-netdata.io/kickstart.sh) --disable-cloud --disable-telemetry --stable-channel - and no errors during install/compile apart from ebpf) im getting:

2021-01-05 21:35:26: netdata INFO  : EXPORTING : thread created with task id 108018
2021-01-05 21:35:26: netdata INFO  : EXPORTI

[2021-01-06 04:27] #10452 closed

[2021-01-06 08:45] dmoneymaker commented on #10452
Following

[2021-01-06 10:39] vlvkobal commented on #10454
Have you installed the `protobuf` and `snappy` libraries?
Check the `configure` script output:
[code]

[2021-01-06 12:01] Habetdin commented on #9239
cc @underhood

_Should me and @CberYellowstone open a new issue for this problem?_

[2021-01-06 13:06] andrewm4894 opened #10456 "Anomalies collector custom models update() unhandled exception: Found array with 0 feature(s) ... while a minimum of 1 is required."
##### Bug report summary

##### OS / Environment

[code]

##### Netdata version

netdata v1.26.0-325-nightly

##### Component Name

collectors/python.d.plugin/anomalies

##### Steps To Reproduce

1. Uncomment out custom model example in `anomalies.conf` lines 106, 109, 110.
2. Restart Netdata agent.

##### Expected behavior

We should after a little while see an additional anomaly score dimension

[2021-01-06 13:13] CberYellowstone opened #10457 "Incomplete package from PackageCloud"
When I install netdata `v1.28.0` from the `packagecloud`,  Web UI send a massage like this

![image](https://user-images.githubusercontent.com/37031767/103771607-fefde000-5062-11eb-81e7-d9dc4de1e41b.png)

Both `.rpm` or `.deb` have this problem, And there is also a message from `netdata-claim.sh`:

I'm not the only one with this problem, @Habetdin has this problem, too

the system I use is `centos

[2021-01-06 13:13] CberYellowstone commented on #9239
#10457

[2021-01-06 13:16] CberYellowstone commented on #10403
centos7.9 from packagecloud have this bug too

[2021-01-06 13:20] CberYellowstone commented on #10403
but the bug is still in 1.28.0

[2021-01-06 13:24] andrewm4894 commented on #10456
@joelhans hey - i have done a bit of digging on this and think i understand what is going on.

I think i understand what is going on here and should be able to fix it.

It boils down to the `null` values in the image below:

![image](https://user-images.githubusercontent.com/2178292/103772867-19639980-5022-11eb-8bf8-6cb9d2d0c1bc.png)

So at prediction time the `null` values will just be missing co

[2021-01-06 13:37] feldsam opened #10458 "Entropy alarms false positives?"
##### Bug report summary
I am getting many times a day low entropy alarms, but looks like false positives.

I geting following warnings

[code]

but when I login to host immediatelly and run following command I get much higher value

[code]

##### OS / Environment

[code]

##### Netdata version
netdata v1.28.0

##### Component Name
system.entropy

##### Expected behavior
No false positives, or mis

[2021-01-06 14:50] Ferroin commented on #10403
The bug in the cloud code was unrelated to the bug causing the binary packages to not have cloud support. I’ve just opened a PR that (should) fix cloud support in our binary packages (it’s actually been broken since the end of October).

[2021-01-06 15:55] gaia commented on #10372
on the current version as of yesterday, in the same system as my OP, the issue now is `/etc/cron.daily/netdata-updater: line 101: _cannot_find_tmpdir: command not found`

should I open a separate issue?

[2021-01-06 16:24] a-schaefers opened #10461 "/etc/cron.daily/netdata-updater: line 101: _cannot_find_tmpdir: command not found"
After the recent updater broke, we used kickstart.sh --reinstall to fix the updater, but now we get a new error on updates,

[code]

Ubuntu 18.04

[2021-01-06 16:26] a-schaefers commented on #10461
Someone else is affected here: https://github.com/netdata/netdata/issues/10372#issuecomment-755383621

[2021-01-06 16:27] Ferroin commented on #10372
@gaia It is indeed an unrelated issue, but someone already beat you to it. See: #10461.

[2021-01-06 16:28] Ferroin commented on #10461
For reference, this should not prevent the updater from updating the system in _most_ cases.

I will have a PR to fix it up shortly however.

[2021-01-07 03:38] ChrisG661 commented on #10419
I also ran into this issue, except it fails on line 354.

[2021-01-07 07:04] yasharne opened #10463 "last collected alert is not fixed in the dashboard and the alert is not sent to the channels"
##### Bug report summary

In our parent/child architecture, a netdata agent on a MySQL database server is transmitting the metrics to a parent server.
Today I accidentally opened this dashboard from the parent's web UI and realized there is an alert on the dashboard:
![image](https://user-images.githubusercontent.com/7656049/103861511-c990db00-50d2-11eb-9547-d91ef4e93414.png)
Here is the state of

[2021-01-07 08:21] jamesnr commented on #10128
Ferroin, may I ask, will the normal overnight update pick up the change, or a manual "./netdata-installer.sh", or is a remove and re-install required in my case, as tried previously?

Thanks!

[2021-01-07 09:39] underhood commented on #10457
@CberYellowstone @Habetdin thanks for reporting the issue. There is a PR that should fix this already. Apologize for the delayed answer during the Christmas holidays.

[2021-01-07 10:13] jobenvil commented on #10461
@Ferroin fighting since last weeks due to netdata and cron spam messages.

Yesterday:

[code]

Today morning:
[code]
I'm considering to stick to stable since I reinstalled netdata probably 20 times already (having 5 servers). It's little bit annoying.

Nevertheless thanks for Netdata and taking care so quick & fix.

[2021-01-07 11:06] dgsus commented on #10454
Hi @vlvkobal ,

indeed, "computer says no"

checking for PROTOBUF... no
checking for snappy::RawCompress in -lsnappy... no
checking for protoc... no
checking for g++... (cached) no
checking if prometheus remote write backend should be enabled... no

however i have the python and el7 packages:

[root@xxxxxconf]# pip show protobuf
Name: protobuf
Version: 3.14.0
Summary: Protocol Buffers
Home-page: h

[2021-01-07 11:37] dgsus commented on #10454
i just installed snappy devel package and now i see snappy ok but still no protobuf... i also tried installing the devel package but no luck.

checking for PROTOBUF... no
checking for snappy::RawCompress in -lsnappy... yes
checking for protoc... /bin/protoc
checking for g++... (cached) /bin/g++
checking if prometheus remote write backend should be enabled... no

[2021-01-07 13:41] Ferroin commented on #10128
The issues other than the one mentioned above that has a currently unmerged PR to fix it will likely need a manual re-run of the install.

The issue mentioned above that currently has an unmerged PR to fix it will automatically have the fix picked up by the regular updater when merged, as should almost all other issues with the updater code from now on (adding this functionality was part of what I

[2021-01-07 13:45] Ferroin commented on #10461
@jobenvil Apologies for all the issues with the updater recently, a couple of recent changes that were intended to make it simpler for users to recover from updater bugs ironically introduced a slew of bugs, and we’re still dealing with the fallout from that (and it’s been a bit slow because of the holidays).

There’s a PR up to fix this particular issue (the one you are seeing currently) and it w

[2021-01-07 14:22] OdysLam commented on #1508
This thread was mentioned on [Hacker News](https://news.ycombinator.com/item?id=25622322#up_25623322).

[2021-01-07 16:14] Gooman-rus opened #10465 "OpenVPN chart is not available in netdata web interface"
##### Bug report summary

I have configured OpenVPN monitoring via management interface using [this manual](https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/openvpn#charts). Debugging of the collector shows that it is working well but there is no chart of OpenVPN in the web interface. Debug looks like this:
[code]

##### OS / Environment

[code]

##### Netdata version

 netdat

[2021-01-07 16:18] OdysLam commented on #10187
Hello everyone and happy new year!

Thanks @LaurentDumont for being so eager to help! The good thing is that our [documentation](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/pfsense) does mention the correct version of `json-c`.

Please @netblues, do share any new insights that you gather.

Thank you everyone!

[2021-01-07 18:29] dgsus commented on #10421
im getting the same but via the kickstart script on centos 6

no problem on dependencies
Loading /etc/centos-release ...
You should have EPEL enabled to install all the prerequisites.
Check: http://www.tecmint.com/how-to-enable-epel-repository-for-rhel-centos-6-5/

We detected these:
Distribution    : CentOS
Version         : 6.10
Codename        : Final
Package Manager : install_yum
Packages Tree

[2021-01-07 19:38] Simonmicro commented on #10359
*Bump*

[2021-01-07 20:50] netblues commented on #10187
I also managed to make it run in an older installation I was experimenting in the past.
What is really needed is a script that would lookup current library versions from freebsd.org and adjust installation accordingly.
Older point versions disappear from freebsd repo making any copy-paste instructions obsolete rather fast.

[2021-01-08 08:07] underhood commented on #10421
@Jolin-blank what is the os? How you build the RPM package?

[2021-01-08 08:53] jamesnr commented on #10128
Thanks Forroin, I'll wait for the merge to complete and the new updater to be live and try it. If I need to do an uninstall and re-install I will and will then report back, success or not. Response appreciated.

[2021-01-08 09:18] moeinrahimi opened #10469 "netdata behind nginx not working"
netdata behind nginx results to this error. it cannot load some js files. it works fine accessing directly.
I get this message in browser console and it's same across other browsers like chrome and firefox, it's same message on both http and https.
[code]
![netdata bentoapp org_ (1)](https://user-images.githubusercontent.com/13715024/103996824-9f611b00-51af-11eb-908e-aa1f8d31f710.png)

my nginx co

[2021-01-08 13:53] underhood commented on #10421
@dgsus Thanks for info. I have made a PR that fixes this (#10470) and tested on CentOS 6 from archive.
Reason is older compiler on your CentOS 6 system.
Please take into account CentOS 6 is EOL and was removed also from CI/CD pipeline (which is the reason we didn't catch this problem).
As the CentOS 6 is EOL we cannot guarantee Netdata will work on it anymore and it is expected things can break in

[2021-01-08 14:30] jrevillard commented on #4819
Hi all,

JMX is one thing but you might know that there are now some monitoring tool which are quite "standard" to use to monitor different part of your kafka cluster. I would mainly speak about the linkedin tools  Burrow and Cruise-control.

Both of them exposes very nice APIs which can provide all that we need to properly monitor a Kafka Cluster (https://github.com/linkedin/cruise-control/wiki/R

[2021-01-08 16:00] Ziars opened #10471 "High RAM usage by netdata-master"
##### Bug report summary

I have Netdata master on the host system and ~50-60 Netdata slaves in LXD containers. Every second one slave collects ~1000-1200 metrics. Your [calculator](https://learn.netdata.cloud/docs/store/change-metrics-storage#calculate-the-system-resources-ram-disk-space-needed-to-store-metrics) tells that Netdata must use ~1100-1300MB of RAM. But in our case netdata-master consu

[2021-01-08 16:31] mfundul commented on #10471
The calculator doesn't compute the netdata agent's total memory usage, but only what `memory mode = dbengine` demands. Granted, this should be the majority of the memory usage in your scenario.

If I use the calculator I get something around 5.5GiB:
![image](https://user-images.githubusercontent.com/44345837/104039752-6e004380-51df-11eb-9a2c-af720fc9a65d.png)

Moreover, memory usage [scaling](http

[2021-01-08 19:52] cccaballero commented on #10435
@ilyam8 thanks for your answer and help. I have just tested using httpstat and I'm still getting really high response times in comparison. For example, the site https://daxslab.com using httpstat is reporting ~400 ms, but netdata values are around 2000 ms, with peaks of 4000+ (all measurements taken from the same server)

[2021-01-08 20:06] OdysLam commented on #4819
Hey @jrevillard,

Thanks for chiming in! If you could guide us in structuring the available metrics in charts that make sense, that would be a huge help for us. We can do the development alright, although @ilyam8 will have more information in regards to our priorities. The hard part is finding people such as yourself, who are willing to guide us through the available metrics, select the ones that

[2021-01-08 22:01] cube-dan commented on #10450
A quick update here team netdata ... setting the full path to $TMPDIR to where you're running the `netdata-installer.sh` script from, as mentioned in my previous post in this thread, works to squelch the `autom4te` error; this:
[code]

**For future google users:**

For those of you having problems updating netdata, here's what works for me to update or reinstall netdata on CentOS 7:

**TL:DR;**
Fo

[2021-01-09 08:04] mdhz commented on #10452
@AshleyHunter01 Did you find any solution as I'm having the same problem?
Using Ubuntu 18

[2021-01-09 09:36] yasharne commented on #10432
@ilyam8 @thiagoftsm  same problem here #10463

[2021-01-09 11:29] petecooper opened #10472 "`netdata-updater.log.*` written to `/` around time of update checks, and not removed"
##### Bug report summary

Netdata writes log files to `/`, around the time of the `crontab` update checks, comprising the following text:

[code]
Files are named `netdata-updater.log` plus an appended six character (random?) alphanumeric string:

[code]

##### OS / Environment

[code]

##### Netdata version

[code]

[code]

##### Component Name

Packaging (tbc)

##### Steps To Reproduce

1. Instal

[2021-01-09 15:58] jilleJr commented on #7572
Just for others looking for answers; I had to add `/var/lib/netdata` as a valid home directory to my apparmor config to get this to work.

So, besides making sure the `.msmtprc` file has the correct access (via `chmod` & `chown`), I also edited `/etc/apparmor.d/tunables/home` like so:

[code]

Then refresh the apparmor config like so:

[code]

And then it worked fine. Changing this should also mak

[2021-01-10 13:45] ariyansbr commented on #9239
same problem on `Ubuntu 16.04` and `netdata v1.28.0-96-g53fca84`  when I'm trying to use netdata-claim.sh:

    This agent was built without the dependencies for Cloud and cannot be claimed

[2021-01-10 16:16] maciejasembler commented on #10471
I am experiencing the same, reported here:

https://github.com/netdata/netdata/issues/10423

I would expect the ram usage to stabilize after time defined in "history" setting. Is that not honoured with dbengine anymore ?

[2021-01-10 19:08] mfundul commented on #10471
As described in the [docs](https://learn.netdata.cloud/docs/agent/database/engine#configuration) `history` is indeed not honoured: "The Agent ignores the history setting when using the database engine.".

The memory leak though could be something else, so I will take a look at the original issue.

[2021-01-10 19:10] maciejasembler commented on #10471
This might be an effect of me misunderstanding how DBEngine works.

I will revisit it with changing "dbengine multihost disk space" and update the original issue.

Thank you for linking this.

[2021-01-10 19:10] mfundul commented on #10423
@maciejasembler please configure `dbengine` as described in the [docs](https://learn.netdata.cloud/docs/agent/database/engine#configuration) since `history` does not apply for `dbengine`. After that, let's see if the memory leak persists.

[2021-01-11 08:01] #10421 closed

[2021-01-11 09:11] underhood commented on #9239
@ariyansbr in case you installed binary package fix for this is already pending here #10460. Thank you for reporting and in case you used different install method or believe $10460 won't fix it please let me know.

[2021-01-11 09:17] underhood commented on #10471
@kaskavel similar to what we have been talking on friday :)

[2021-01-11 10:58] jrevillard commented on #4819
Hi @OdysLam,

As I said I'm willing to help if I can... but please apologize in advance if I'm not always very reactive because I really have a lot of stuff at work.

So concerning cruise-control, you can see [here](https://github.com/linkedin/cruise-control#features) the different metrics that they have already:

* Anomaly detection, alerting, and self-healing for the Kafka cluster, including:

[2021-01-11 11:15] OdysLam commented on #7133
![image](https://user-images.githubusercontent.com/13405632/104174005-11836b00-540f-11eb-9a20-b3af7817d356.png)

Hello everyone and happy new year, 2020 was rough.

As always, we thank the contributors who make sure that Netdata Agent is becoming increasingly better, for everyone, for free. These people are not the only ones who contributed, but they are the first-time contributors and as custom g

[2021-01-11 11:54] badkaktus commented on #10212
@stelfrag i added info. thanks

[2021-01-11 12:01] #10256 closed

[2021-01-11 12:14] thiagoftsm commented on #10432
Helo @yasharne ,

Sorry for the delay, I was on vacation, I am installing Matrix/Rocket to understand the problem.

Best regards!

[2021-01-11 12:16] arpogo commented on #9002
Still relevant...still waiting...

As we have dynamic infrastructure it's really taking some time daily to remove dead instances.
Also, couldn't find any API to do that..
Would be great to have ability to identify instance by some name/id that can be same reused when old instance is dead.

[2021-01-11 12:18] stdedos commented on #9419
@stale, it's your teams' lack of activity

[2021-01-11 12:25] startryst commented on #8527
Update to keep this issue opened

[2021-01-11 13:21] #10403 closed

[2021-01-11 13:21] #10457 closed

[2021-01-11 13:27] thiagoftsm commented on #10469
Hello @moeinrahimi ,

I tested now Netdata behind `nginx 1.12.2` and I could not recreate the problem, I ma using the following configuration with self-signed certificate:

[code]

I think you can have two problems:

1 - Our SSL configuration is not the same, but I am not a Nginx specialist to measure the impact of this difference.
2 - What is the browser version you are using to access Netdata?

[2021-01-11 13:37] thiagoftsm commented on #10469
I updated now for the version `1.18` and I did the following change in the previous configuration:

[code]

I did not have problems to access Netdata and I understood the difference between our configuration, please, take a look in the other options I am using that are not present in your configuration file.

Best regards!

[2021-01-11 14:13] autoalan commented on #7133
GitHub Username: autoalan
First Name: Alan
Last Name: Haynes
Email: alan@nre.dev
Phone: 678-779-6167
Full Shipping Address (including city, state, zip, & country): 227 West Lakeshore Drive, Rome, GA 30161 US
Thanks!

From: Odysseas Lamtzidis<mailto:notifications@github.com>
Sent: Monday, January 11, 2021 6:16 AM
To: netdata/netdata<mailto:netdata@noreply.github.com>
Cc: Alan Haynes<mailto:Alan@nre

[2021-01-11 14:24] OdysLam commented on #7133
I edited-out the information on your message @autoalan , because you replied in this GitHub issue instead of sending an email to the email address we provide.

Please folks, don't post your personal information here. The world is dark and full of terrors 😅

[2021-01-11 14:26] OdysLam commented on #9419
Thanks @stdedos for bringing this up on our attention. It seems that we dropped the ball on this one.  We are sorry for not getting back to you earlier.

Pinging @Ferroin  and @manos-saratsis again.

[2021-01-11 15:23] #10392 closed

[2021-01-11 15:54] ekexcello commented on #4852
Hello Ilya,

Your proposed chart structure looks perfect!
It would be nice to have subsection per job if possible. However, on some setups number of supervised jobs can be high (over 20 groups, for example), thus it would be also good to have configuration option to enable or disable charts of certain type (for example, someone won't need 'exit statuses chart' or some other chart and would like to

[2021-01-11 16:38] Ferroin commented on #10472
This has been a known issue for a while but has never really been high enough priority to fix it.

In practice, you should only be seeing these if the updater is failing (which it probably is in your case, as there is a known bug with a pending fix right now, see https://github.com/netdata/netdata/pull/10447 for more details on that), as we only leave behind log files when the update was not succe

[2021-01-11 17:02] ilyam8 commented on #10435
@cccaballero 🤔  show [debug output](https://github.com/netdata/go.d.plugin/tree/master/modules/httpcheck#troubleshooting)

[2021-01-11 17:23] petecooper commented on #10472
Thanks @Ferroin – I'll close given it's a known issue, I appreciate the link!

[2021-01-11 17:43] thiagoftsm commented on #10359
Hello guys,

I returned to this problem today, and I observed that when I installed Netdata using [this](https://github.com/netdata/netdata/releases/download/v1.28.0/netdata-v1.28.0.gz.run) static binary, I did not have problems to receive alarms on Telegram or Slack, I will test now `kickstart-static64.sh`.

Best regards!

[2021-01-11 17:48] Ferroin commented on #10472
@petecooper Actually, unless you mind I’d like to leave this open as we don’t have an issue tracking the log-handling problem and it’s something that we really should fix (not having anything tracking it is pat of why it’s never ended up being a high enough priority to fix it).

[2021-01-11 18:01] thiagoftsm commented on #10359
I tested again using the link `bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)` and I had success to received alarms on Telegram and Slack. I had success using the following enviroment:

[code]

My `health_alarm_notify.conf` has the following configuration for Telegram:

[code]
please, pay attention that `DEFAULT_RECIPIENT_TELEGRAM` is a negative value.

I had analogous results using

[2021-01-11 19:57] ilyam8 commented on #10359
@Ferroin

see

[code]

i have same problem

[code]

=>

[code]

I think it should be `ca-certificates.crt`, not `ca-bundle.crt`.

[2021-01-11 20:26] ilyam8 commented on #10359
system `curl`

[code]

[bundeld `curl`](https://github.com/netdata/netdata/blob/40da71e1eb0b65e24745df332d8e28a716830b00/packaging/makeself/jobs/50-curl-7.73.0.install.sh#L26)
[code]

[2021-01-11 20:29] ilyam8 commented on #10432
There is problem with static netdata, see https://github.com/netdata/netdata/issues/10359#issuecomment-758202948

[2021-01-11 20:42] thiagoftsm commented on #10359
@ilyam8 I agree that this is the problem, but I installed Netdata using kickstart-static64 on a Debian 10.7 VM and I verified that we do not have more the symbolic link at `/opt/netdata/etc`, and thanks this I can send alarms and I also could claim the agent.

@Simonmicro , please, could you run the following commands:

[code]

And after this, please, restart Netdata.

Best regards!

[2021-01-11 22:32] ilyam8 commented on #10389
@mailinglists35 hi

try adding `--reinstall` as first option to the installer, like [Ferroin suggested](https://github.com/netdata/netdata/issues/10389#issuecomment-745342004), it should [fix the issue](https://github.com/netdata/netdata/issues/10389#issuecomment-745369663).

[2021-01-12 02:13] nikooo777 commented on #10208
hey guys, I'm just chiming in to also say that the legend moving to the bottom is really making charts harder to read. I really hope a configuration option comes in as soon as possible, I'd have to be forced to rollback.

Best regards

[2021-01-12 06:32] westphaldp opened #10481 "[Bug]: Source RPM's Are Not Deployed"
Source RPM's are not being deployed to packagecloud.

It appears that the Travis pipeline intends to deploy the source RPM's, but I can't find any in the EL 7 SRPMS repository.

https://travis-ci.com/github/netdata/netdata/jobs/462417405#L7318

[2021-01-12 08:20] decentral1se commented on #8600
Oh darn, was just trying to configure this and realised it is not supported. Has anyone got any idea how this can be upgraded to support the new version? And are PRs being accepted for this? For example, this would be a breaking change in the plugin?

[2021-01-12 08:54] oleotiger opened #10485 "Postgresql support？"
##### Bug report summary
https://learn.netdata.cloud/docs/export/external-databases lists all supported database through connectors, including postgresql ( with Prometheus remote write).

But the [storage providers](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage) show that only
PostgreSQL/TimescaleDB is supported. Here PostgreSQL/TimescaleDB is not the native postg

[2021-01-12 09:26] ilyam8 commented on #10465
Hi @Gooman-rus

`openvpn` collector is disabled by default, see https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/openvpn#configuration

Reason

If we enable it by default it can break other tools that use management interface (example - https://github.com/furlongm/openvpn-monitor).

You need to explicitly enabled it in the `go.d.conf`

[code]

=>

[code]

[2021-01-12 09:36] ilyam8 commented on #10485
Hi @oleotiger

I think you are right, @vlvkobal please take a look

[2021-01-12 09:48] ilyam8 commented on #10437
Hi @stemy2

This is not expected, knowing netdata version is important, so lets try to fix the problem.

- `netdata -V`

Doesn't work if `netdata` is not in `PATH`, it is expected.

- `$(ps aux | grep -E -o "[a-zA-Z/]+netdata ") -V`

Should work if `netdata` process is up and running.

[code]

^^ Do you get _syntax error_ executing that command? Could you copy paste your cmd with the error like i

[2021-01-12 10:37] ilyam8 commented on #10443
@yasharne hi

How it is going after the restart, no more problem?

---

And old legend? Do you use `/old` endpoint?

And `systemd.cpu` chart has negative values 🤔

[2021-01-12 11:13] stemy2 commented on #10437
I forgot the $
`netdata v1.28.0`

[2021-01-12 11:13] vlvkobal commented on #10485
@oleotiger you are right. PostgreSQL doesn't support Prometheus remote write natively. TimescaleDB or a new [PostgreSQL Prometheus Adapter](https://www.postgresql.org/about/news/postgresql-prometheus-adapter-initial-release-2070/) should be used to export data to PostgreSQL.

[2021-01-12 11:42] ilyam8 commented on #10485
@vlvkobal then we need to update our documentaion?

[2021-01-12 11:42] ilyam8 commented on #10437
Do you want to disable [health monitoring](https://learn.netdata.cloud/docs/agent/health) completely?

Or some specific alarms?

[2021-01-12 11:48] stemy2 commented on #10437
This.

[2021-01-12 11:49] stemy2 commented on #10437
Only silence mail notifications.

[2021-01-12 11:54] ilyam8 commented on #10437
Then i suggest to change `SEND_EMAIL="YES"` to `SEND_EMAIL="NO"` in the `health_alarm_notify.conf`

[2021-01-12 11:55] ilyam8 commented on #10437
See [notifications docs](https://learn.netdata.cloud/docs/agent/health/notifications#configuration)

[2021-01-12 12:32] #10372 closed

[2021-01-12 12:32] #10419 closed

[2021-01-12 12:32] #10444 closed

[2021-01-12 12:32] #10461 closed

[2021-01-12 12:39] Ferroin commented on #10128
The above-mentioned PR has now been merged, so the next automatic update should work correctly without needing any user intervention.

[2021-01-12 12:41] oleotiger opened #10486 "/usr/sbin/netdata: error while loading shared libraries: libprotobuf.so.25: cannot open shared object file: No such file or directory"
##### Bug report summary
netdata service cannot start correctly. I got `netdata[9852]: /usr/sbin/netdata: error while loading shared libraries: libprotobuf.so.25: cannot open shared object file: No such file or directory` with `journalctl -xe`

##### OS / Environment
OS: CentOS Linux release 7.9.2009
Netdata is running on the server directly without vm/docker or any other container.
netdata versio

[2021-01-12 12:45] kozicpetar commented on #10128
@Ferroin
May I run now to check:

`/bin/bash /usr/libexec/netdata/netdata-updater.sh`

[2021-01-12 13:02] petecooper commented on #10469
@moeinrahimi - try temporarily disabling your anti-virus software, does that help?

https://thisinterestsme.com/err_incomplete_chunked_encoding/

Also, try disabling "Predict network actions to improve page load performance" in Chrome if that is enabled.

[2021-01-12 13:11] manos-saratsis commented on #9002
@arpogo apologies for all the delay. Currently you can remove them from a War Room only manually. We understand that this is not convenient and we will be soon working both on unclaiming from GUI and from the claiming script but also on improving War Room management. We do not plan to expose an api for now.

[2021-01-12 13:14] louis-lau commented on #9002
For dynamic infra a setting to automatically delete a node after it's been offline for a while would also be nice idea.

[2021-01-12 13:15] Ferroin commented on #8673
Of the plugins in question:

* `apps.plugin` actually does need those exact capabilities in a vast majority of cases.
* None of the plugins need `CAP_SETUID`.
* The `cgroup-network` plugin needs to be SUID root because it needs to run other commands as root that are not themselves SUID root (and cannot be made SUID root because they are shell scripts).
* `perf.plugin` can probably get by with `CAP

[2021-01-12 13:16] thiagoftsm commented on #10486
Hello @oleotiger ,

Please, can you run the following command on your host:

[code]

In my case I have an old `protobuf` installed.

Best regards!