[2020-03-03 13:42] thiagoftsm commented on #8269
Hi @noobiek ,

I answered firstly @tinyhammers , but now I am working on yours.
When I compared this master error message:

[code]
with the slave message:

[code]

The first conclusion that I arrived were that they are different hosts, but you are having problems on your whole network so I can treat both errors as common error.
The errno 22 on the master side can mean that the master could not rea

[2020-03-03 13:48] noobiek commented on #8269
@thiagoftsm,

Yes, I am using dbengine, as I stated in my first post :)
[code]

Hostnames are:
[code]

So far I did not notice any issues with network. Just in case, I started pinging Master from the wtdb1 slave, I'll check it within 1 hour or so.

[2020-03-03 14:08] noobiek commented on #8269
Well, I gave it some time, here are network "resulsts":
[code]

[2020-03-03 14:17] mjtice opened #8273 "godplugin doesnt handle job names with spaces"
##### Bug report summary
The x509check (go.d) chart shows `no data`

##### OS / Environment
`CentOS Linux release 7.2.1511`

Netdata was installed via RPM
[code]
Because it doesn't appear that the go.d plugin is packaged with the RPMs, I installed the plugin manually via:
[code]

##### Netdata version
[code]

##### Component Name
`go.d.plugin`

##### Steps To Reproduce
I'm trying to evaluate the e

[2020-03-03 14:31] ilyam8 commented on #8273
@mjtice 👋

It is job execution time - how much time it takes to collect data. You can see this chart under `Netdata Monitoring->go.d` section.

Collected data is

[code]

[2020-03-03 14:32] mfundul commented on #8269
@noobiek please check your master logs and alarms for any file descriptor errors. [These](https://docs.netdata.cloud/database/engine/#file-descriptor-requirements) are the requirements.

[2020-03-03 14:33] ilyam8 commented on #8273
Default update every for the module is 60 seconds

https://github.com/netdata/go.d.plugin/blob/5146e9b1c498fd876c1dfc19f866c57d3e3dceb6/modules/x509check/x509check.go#L20

Data on chart appear after 2nd collect iteration.

So you need to wait or change `update_every` in the module configuration file.

[2020-03-03 14:34] ilyam8 commented on #8273
latest is `v0.16.0` btw

[2020-03-03 14:34] ilyam8 commented on #8273
latest is `v0.16.0` btw

[2020-03-03 14:39] noobiek commented on #8269
If I check through web insterface - this is the only alert I see on the 'dev' host (which is Master). But again, it's metrics are frozen just like other slaves'. Is there a way to check alerts by any other means?
![image](https://user-images.githubusercontent.com/13305123/75786007-ac360680-5d75-11ea-8d75-a7ac33206197.png)

[2020-03-03 14:41] noobiek commented on #8269
Too bad I cannot see date on this tab
![image](https://user-images.githubusercontent.com/13305123/75786361-35e5d400-5d76-11ea-814d-9a661f8afbf4.png)

[2020-03-03 14:43] ilyam8 commented on #8273
hm, there is a bug, please remove spaces from the job name

[code]

[2020-03-03 14:59] mfundul commented on #8269
You could also see this kind of errors in `error.log` in the master netdata server side. I see your swap memory is 97% used, that looks bad. It may be possible you're out of memory and everything becomes painfully slow.

[2020-03-03 15:07] noobiek commented on #8269
Could you please tell me which keyword to grep?

No, not that much. Plus, it's just a monitoring machine.
![image](https://user-images.githubusercontent.com/13305123/75788707-ab06d880-5d79-11ea-9379-22ccdbe82bc3.png)

[2020-03-03 15:16] mjtice commented on #8273
Ah, good to know, thanks @ilyam8.  I removed the spaces from the name and restarted the process.  Data is now showing up in the chart!

[2020-03-03 15:30] mfundul commented on #8269
Can you run:
[code]
in the master server node?

[2020-03-03 15:30] yasharne commented on #8251
@vlvkobal I sent you the email
@mfundul our server has 128Gb of ram and 8cores of CPU

[2020-03-03 15:45] noobiek commented on #8269
Sure
[code]

[2020-03-03 15:45] mfundul commented on #8251
The CPU is what I'm concerned about, is it 8 real cores or is it 4 cores with 8 hardware threads? Maybe you can share the `lscpu` output?

[2020-03-03 15:57] mfundul commented on #8269
I think this sounds about right. If you don't have anything in the `error.log` about file descriptors and no alarm about them then it's probably not related to file descriptor limits. Make sure however that your limit is over 1024 to be sure, following [these](https://docs.netdata.cloud/database/engine/#file-descriptor-requirements) instructions.

[2020-03-03 16:06] yasharne commented on #8251
Sure @mfundul
[code]

[2020-03-03 16:07] noobiek commented on #8269
Sure, it is already as required
![image](https://user-images.githubusercontent.com/13305123/75794682-34220d80-5d82-11ea-93d1-25d79e591ba8.png)

[2020-03-03 18:27] mfundul commented on #8251
Ok, so this is 8 virtual cores at relatively low clock on different NUMA domains. This also means that a 60 second query would take about half the time in a modern desktop architecture than a virtualized Haswell core at 2.2GHz. Maybe we should look into parallelizing this kind of queries. However, we must also see how much we can improve single-threaded performance.

[2020-03-03 18:53] mfundul commented on #8269
@noobiek can you give us the output of`ps -Lewwo "pid,tid,ppid,user,comm,wchan:20,args"`?

[2020-03-03 19:07] Ferroin opened #8274 "`netdata-installer.sh` does not try to download correct version of libwebsockets."
For some reason it's trying to download `v.tar.gz` instead of an actual versioned source tarball.

[2020-03-03 19:14] noobiek commented on #8269
I hope it is fine to post it here... otherwise I can attach as file.
[code]

[2020-03-03 19:15] Ferroin commented on #8274
Root cause is the required files not being included in `make dist`.

[2020-03-03 19:22] mfundul commented on #8269
No problem, is the current state you pasted just now of the problematic situation with no charts working? What's the problem with this state exactly now?

[2020-03-03 19:24] knx commented on #4830
There is a possibility to query local passenger API which does output JSON.

For example:
`passenger-config api-call GET /server.json`

I think it would be better to use instead of passenger-status

There is a lot of metrics that can be utilised.

[2020-03-03 19:28] knx commented on #4830
I would have to research this further but I think that this API can be also accessed without using the command line utility, trough a unix socket.

[2020-03-03 19:53] noobiek commented on #8269
Yes.
And what I see on chats is

for host 'dev' (master)
![image](https://user-images.githubusercontent.com/13305123/75813853-c980ca00-5da1-11ea-96e2-69265fb40096.png)

for host 'wtdb1' (slave)
![image](https://user-images.githubusercontent.com/13305123/75813886-d998a980-5da1-11ea-9e98-1c49a81c402e.png)

[2020-03-03 19:57] mfundul commented on #8269
So are you saying that the charts are ok for the master but not for the slave?

[2020-03-03 20:03] mfundul commented on #8269
Maybe it's related to #8218?

[2020-03-03 20:11] noobiek commented on #8269
No, don't think so. I don't see 504 from web server. :)
It is "simply" a "no data" situation:
![image](https://user-images.githubusercontent.com/13305123/75815318-3dbc6d00-5da4-11ea-974d-5ea00271ca19.png)

[2020-03-03 20:21] mfundul commented on #8269
By [converting](https://www.epochconverter.com/) your image's timestamp from `last_entry`'s epoch 1583291545 to date it appears to be 7 hours in the future. Is it possible that your unix time got all messed up at some point?

[2020-03-03 20:50] noobiek commented on #8269
That one is a nice catch! 👍
But on the server I see date as GMT+3, which is correct.
![image](https://user-images.githubusercontent.com/13305123/75817594-7100fb00-5da8-11ea-856a-f58129672a82.png)

Considering it is moving forward (now - 1583296185), it is somewhere in configuration files, right?
How exactly is this last_entry being set?

[2020-03-03 21:00] mfundul commented on #8269
This is set by the master side's database contents in `/opt/netdata/var/cache/netdata`. Somehow this timestamp got into the database and may be confusing the dashboard query logic.

If I'm correct then data are still being collected and the dashboard should fix itself after 7 hours.

But what might be simpler at this point is what you initially proposed, deleting the database itself:
[code]
Those

[2020-03-03 21:25] noobiek commented on #8269
Nope. Deleting did not help.
I stopped ND, deleted folders, started ND, gave it some time to heat-up. After 10 minutes still no data.
Funny thing is, `last_entry` is now 3 minutes in the future. Well, it definitely is progress. :D

[2020-03-03 21:37] mfundul commented on #8269
That's strange. Can you get data any other way? E.g.
[code]
By using the correct IP:PORT address? Is it possible you're having problems with your browser?

[2020-03-03 22:21] noobiek commented on #8269
Well... I followed your lead. I use Chrome, but tried Firefox and indeed Firefox showed data well.
And then I checked requests sent to server and noticed that there are parameters `after` and `before`
![image](https://user-images.githubusercontent.com/13305123/75824807-3d789d80-5db5-11ea-9204-affd0fe8b805.png)

So I pressed "Reset chart" button in the UI... And lesson learnt. Press "Reset chart" b

[2020-03-03 22:33] lordraiden commented on #8160
Withis this the Docker version of netdata will identify docker names?
Will change something in docker config or is just an internal change?

a57393a79e26a731be0c5132405a9e73d968dacfa98986e26c9a2a19dfdc7fae

![imagen](https://user-images.githubusercontent.com/17175395/75826188-38145680-5da7-11ea-99ff-1edcd4e55f08.png)

[2020-03-03 22:46] noobiek commented on #8269
Let me know if I should close this issue now.

[2020-03-03 22:49] mfundul commented on #8269
We can close this for now as this theory about timestamps injecting in the database is going to be impossible to test now that we deleted everything. Feel free to reopen this if the problem repeats itself.

[2020-03-03 22:49] #8269 closed

[2020-03-04 00:57] thiagoftsm commented on #8176
I have intention to use different programs to demonstrate the errors and we improve the logs, for while I am starting with this shell script:

[code]

That displays the following output:

[code]

And it generates the following logs:

[code]

It is important to call attention for the fact that we are not monitoring all the functions inside the kernel, so we won't generate all errors.

[2020-03-04 01:20] thiagoftsm commented on #8176
Now from Netdata during a normal running:

[code]

[2020-03-04 01:23] thiagoftsm commented on #8176
The most common error that I am detecting during all the tests:

[code]

[2020-03-04 01:26] thiagoftsm commented on #8176
I also started `apache` and I tried to access a file that does not exist on my webserver directory and I got the following errors:

[code]

[2020-03-04 05:41] yasharne commented on #8251
@mfundul Is there any solution to fix this temporarily? We have tried to disable unnecessary charts to reduce the size of the metrics but it wasn't enough and people call us from Call Center or DevOps asking what's wrong with the dashboards and are we down?

[2020-03-04 05:47] mfundul commented on #8251
Since changing `memory mode` does not solve the problem I am not aware of any workaround currently. Is this the first time you see this problem in this set-up? Do you think it's related to version 1.20 somehow?

[2020-03-04 05:54] ilyam8 commented on #8251
How about to split the load and have 2 masters? 125 slaves per master.

I dont think we have tested such big load, we need to consider to do it @mfundul

[2020-03-04 06:00] mfundul commented on #8251
Agreed. I'm just wondering if this is a regression of some sort.

Are you suggesting a set-up of:
[code]

[2020-03-04 06:03] yasharne commented on #8251
@mfundul We already had problem #8218 on version 1.19 but upgrading to version 1.20 didn't fix it until I took 25 slaves out of it and added them again after a while, but this can happen again after a while.
@ilyam8 We haven't added all the machines yet, so we still have more than  150 machines to add

[2020-03-04 06:05] ilyam8 commented on #8251
No, just 2 masters. Prometheus will scrape data from both of them.

[2020-03-04 06:09] ilyam8 commented on #8251
Perhaps there is a limit at which Netdata is not stable and different weired bugs can appear.

As for now it seems you need to split the load to avoid

And we need to setup lab enviroment and try to understand what is wrong and try to fix it.

[2020-03-04 07:52] yasharne opened #8277 "How to check if X509 certificate is revoked or not"
##### Feature idea summary
Is there any way to check if a certificate is revoked or not? I saw a configuration in the `X509check.conf` which is `tls_skip_verify` but I haven't seen it being used in the code and there is no chart for it in the netdata.
I tried to monitor a webpage with revoked certificate (https://revoked.grc.com/) with this configuration:
[code]
But It tells me the expiry and does

[2020-03-04 08:34] yasharne opened #8278 "How can I contribute to go modules?"
##### Question summary
I've tried to contribute a go plugin but didn't find an instruction on how to achieve this. There is a link [here](https://github.com/netdata/go.d.plugin/) but it is broken and the contribution link is not working

##### Component Name
go.d

[2020-03-04 08:57] ilyam8 commented on #8277
Hi @yasharne. Currently there is no such functionality.

[2020-03-04 09:01] ilyam8 commented on #8278
Hi @yasharne

You need to open a PR in the https://github.com/netdata/go.d.plugin

What kind of contribution are you talking about? New module? Improve of existing module?

[2020-03-04 09:06] amoss opened #8279 "Fix outstanding issues on the ACLK implementation"
#### Summary

This is a list of outstanding implementation issues for tracking.

[2020-03-04 09:10] amoss commented on #7749
Closed in favor of #8279.

[2020-03-04 09:10] #7749 closed

[2020-03-04 09:14] amoss commented on #8279
Things that have not been converted to issues yet (depends on whether they are fixed as part of ongoing work or handled separately):
* Memory leaks, e.g. https://github.com/netdata/netdata/pull/8167#issuecomment-590064204
* The uninitialised variables inside the JSON parser that valgrind is complaining about.
* On a reconnect `mqtt_init` is called again and causes a memory-leak.
* The LWS event-lo

[2020-03-04 09:27] yasharne commented on #8278
Hi @ilyam8
I want to improve an existing module but I have no idea on where to put the modified go file to test the functionality

[2020-03-04 09:55] Saruspete commented on #6806
Hello,

The soft I needed this for is updated to provide realtime statistics, so I don't need it anymore
As nobody else has manifested interest in this feature, closing the request.

Thank you all ! :)

[2020-03-04 09:55] #6806 closed

[2020-03-04 10:22] ilyam8 commented on #8062
Hi @aahmed-se

I noticed you are the author of https://github.com/apache/pulsar/pull/3047 😄

How do i change `statsUpdateFrequencyInSecs` when i run `Pulsar` in a standalone mode in a docker container?

I changed `statsUpdateFrequencyInSecs` in the `conf/broker.conf`, restarted container but it doesnt seem to take any affect (value in the config is changed, but `statsUpdateFrequencyInSecs` in fact

[2020-03-04 10:24] ilyam8 commented on #8278
Well, every module has its own dir with its source code (testdata, tests, etc).

You clone repo, create a branch, add changes, commit them and make the PR.

If you give me more details what are you going to do probably i could give a more detailed instruction.

[2020-03-04 10:30] yasharne commented on #8278
@ilyam8 Thanks for your clarification, But where can I test my changes? For example, When I'm developing a python module for netdata, I put the python file in the format of `my-plugin.chart.py` in `usr/libexec/netdata/python.d/` and the configuration file in `/etc/netdata/python.d/my-plugin.conf`.
My question is after I made the changes inside the go module, where should I place it in my local net

[2020-03-04 10:36] ilyam8 commented on #8278
Oh, you mean real test, i was thinking about tests like

You need to compile the plugin and replace existing one or just run it in the debug mode.

See

https://github.com/netdata/go.d.plugin/pull/352#issuecomment-592986100

[2020-03-04 10:37] ilyam8 commented on #8278
I usually compile it with the default params i need to run it in debug mode

[2020-03-04 10:54] E46-S54 commented on #8008
This would be a really useful feature!

[2020-03-04 11:24] thiagoftsm commented on #8008
Considering that more than one person is requesting this feature, I moved it from the status of `New Issue` to `Sprint backlog`, this way we can plan it and bring in a near future to Netdata.

Best regards!

[2020-03-04 12:08] ilyam8 commented on #8069
Initial break down of **external modules** by monitoring area. It is far from good/complete, should be adjusted.

We need to add internal collectors and build a good and not complex structure.

Top levels should be something like:

- System
- Application
- Remote devices
- ???

Any help appreciated.

cc @joelhans @manos-saratsis

___

### Databases and KV Stores

- [cockroachdb](go.d.plugin/module

[2020-03-04 12:14] #8274 closed

[2020-03-04 12:58] amoss opened #8281 "Discuss the disconnection changes"
#### Summary

* Meet with the cloud team.
* Discuss https://github.com/netdata/docs/pull/143/files
* Check implementation is available in libmosquitto.
* Create issues to implement.

[2020-03-04 13:10] Ferroin opened #8282 "Support macOS with Homebrew in `install-required-packages.sh"
##### Feature idea summary

Currently, the `install-required-packages.sh` script does not work correctly on macOS, exiting early because it doesn't recognize the system.

This has two significant implications:

* The `kickstart.sh` installer quite simply does not work on macOS.
* Setting up a macOS system to manually install Netdata is somewhat challenging.

We should add support for detecting mac

[2020-03-04 13:22] Ferroin opened #8283 "RPM versioning is broken."
In short, as of #7794, RPM package builds don't work outside of our own CI workflows.

This comes down to the fact that we end up with a version in the RPM spec file after templating that does not match up with the tag in `git`.

Fixing this requires:

1. Removing the code stripping the `v` from the version number in the tag in our CI workflow for building RPM packages.
2. Reverting #7794.

[2020-03-04 13:44] Ferroin opened #8284 "Add more robust checking of `make dist`."
As of right now, our validation of `make dist` only reliably catches issues resulting from mandatory components in the install failing.

However, we now have a number of important optional components that we need to verify work correctly.

As a result, we need to update our checking to more robustly verify that installing from a tree prepared with `make dist` pulls everything in correctly.

[2020-03-04 15:29] Ferroin opened #8285 "Support macOS in `kickstart.sh`"
##### Feature idea summary

Currently, the `kickstart.sh` script does not work correctly on macOS.

While we encourage our users to use Homebrew there to install Netdata, we should still make sure our generic install mechanism works correctly.

##### Expected behavior

You can install Netdata on macOS using `kickstart.sh` just like on most other systems.

[2020-03-04 16:12] #8200 closed

[2020-03-04 16:16] Ferroin opened #8287 "Travis CI builds are not being successfully triggered."
Failed requests can be seen at: https://travis-ci.com/netdata/netdata/requests

Root cause is 8d73d4b5501e88a6a16273bd551f1dabea8341b7, which does not properly escape YAML metacharacters.

[2020-03-04 17:09] rob-duewer commented on #8160
Just in case it's useful to you, I don't think so.
All my suggestion does is internally manipulate the name string, when what's coming into the cgroup-name plugin helper script matches the pattern.  So if the internally incoming determined cgroup identifier doesn't have the docker- and then later, the mesos- naming structure; it won't affect what you see at all.  And the way I wrote it thus far, t

[2020-03-04 17:35] #8287 closed

[2020-03-04 17:38] CaptInsano commented on #6882
I am aware that this issue is closed but rather than creating a new issue, I thought it would be better to ask here.

Is there likely to be any progress on this issue?

I also run netdata within a docker container, I have used the correct PGID variable to correctly populate other container names I have running within the netdata UI but all network interfaces for docker containers still appear as "

[2020-03-04 17:47] yasharne commented on #8251
@ilyam8 @mfundul So I made another master and migrated 30 hosts (the ones with the most metrics) to the new master (the metric size on the first master reduced from 160Mb to 109Mb), although the situation got far better than what we had, we still see some drops:
![image](https://user-images.githubusercontent.com/7656049/75907182-22616880-5e5d-11ea-8238-e68b700b2ddb.png)
As you can see, at 18:43 pr

[2020-03-04 18:11] #8247 closed

[2020-03-04 18:22] aahmed-se commented on #8062
for standalone you need to change standalone.conf

[2020-03-04 18:34] eviemsrs commented on #7133
FEBRUARY CONTRIBUTORS
Thank you for your contribution!
Please email us your username and physical address to receive your gift!!!
**rewards@netdata.cloud**

@stevenh
@k0ste
@rushikeshjadhav
@DefauIt
@blaines
@gmeszaros
@ManuelPombo
@petarkozic
@stevenans9859
@YorikSar
@Mic92
@patrickdevivo
@gillg
@grinapo
@m-rey
@hmoragrega
@dnburgess

[2020-03-04 18:41] ilyam8 commented on #7133
gratz @hmoragrega 🎉

[2020-03-04 19:04] ilyam8 commented on #8277
is used to create `tls.Config`

https://github.com/netdata/go.d.plugin/blob/master/pkg/web/tls.go

	// server's certificate chain and host name.
	// If InsecureSkipVerify is true, TLS accepts any certificate
	// presented by the server and any host name in that certificate.
	// In this mode, TLS is susceptible to man-in-the-middle attacks.
	// This should be used only for testing.

[2020-03-04 19:05] ilyam8 commented on #8277
It is not `x509check` specific option, every module that does http requests has it.

[2020-03-04 20:31] cosmix opened #8293 "Netdata shouldn't fail if /run/netdata or /var/run/netdata don't exist."
These directories are not reliable going to be there, because `/run` and `/var/run` get wiped on most systems on reboot. Netdata should be creating this directory on startup, but isn't reliably for some reason.

[2020-03-04 20:36] cosmix commented on #8165
We haven't received an answer to this issue @markusdd -- we're closing, if you feel this is in error, please re-open.

[2020-03-04 20:36] #8165 closed

[2020-03-04 20:41] Ferroin opened #8294 "Don't create `/etc/netdata.new` on install."
if i install it twice it creates `netdata.new` and changes perms of `netdata`, see

[code]

_Originally posted by @ilyam8 in https://github.com/netdata/netdata/issues/8186#issuecomment-590525915_

[2020-03-04 20:44] prologic opened #8295 "Add CI checks for lint'ing YAML"
This is needs to prevent failures like #8203 specifically:

[code]

And more specifically:

[code]

We should have caught this in CI :/

[2020-03-04 20:44] cosmix commented on #8186
Ok guys, we'll update documentation to advise people not to run kickstart.sh twice, until we resolve these issues in issues #8294, #8198. And we'll update kickstart to not clobber existing installs if run multiple times.

[2020-03-04 20:53] prologic opened #8296 "Add cron-based CI checks to verify nightlies ran succesfully"
Since we've been bitten by this twice now and both times it was me :( We should fix this.

Proposed fix is simply to add a Github Actions cron-based Workflow to verify and validate that we actually successfully created a nightly build.

[2020-03-04 21:01] Ferroin commented on #8296
These need to _not_ be in whatever our primary CI system is.

There's no point in checking from Travis if our Travis builds finished, since failures that we wouldn't otherwise notice will cause the check that they ran to not run.

[2020-03-04 21:17] prologic opened #8297 "Ensure `act` works without major issues"

[2020-03-04 21:18] prologic opened #8298 "Create custom docker images for GHA workflows to match runners for our workflows"

[2020-03-04 21:19] prologic opened #8299 "Create .actrc config for `act` to run GHA workflows locally"

[2020-03-04 21:19] prologic opened #8300 "Run GHA CI/CD Workflows locally"

[2020-03-04 21:19] joelhans commented on #7398
Closing this in favor of smaller epics/issues for each overhaul, otherwise this will remain open forever.

[2020-03-04 21:19] #7398 closed

[2020-03-04 21:21] #8295 closed

[2020-03-04 22:01] prologic commented on #601
We're actively working on FreeBSD support and we already support macOS (_not really BSD but once upon a time maybe_).

- #8120
- #8130
- #8131

[2020-03-04 22:09] Ferroin opened #8303 "Re-enable 'truthy' yamllint check when upstream bug is fixed."
Relevant bug is https://github.com/adrienverge/yamllint/issues/158

[2020-03-04 22:16] Ferroin commented on #3246
There's been no further response on this since @cakrit commented last year, and SLES11 is out of general support as of the end of this month.

Closing this for now. If it's still an issue, please comment and we'll reopen it.

[2020-03-04 22:16] #3246 closed

[2020-03-04 22:29] prologic opened #8304 "FreeBSD Support"

[2020-03-04 22:38] prologic commented on #4736
As discussed internally we _believe_ we can add appropriate documentation to our [docs](https://docs.netdata.cloud) however this isn't something we can make this automatic.

[2020-03-04 22:40] Ferroin commented on #4736
Relevant devices that need passed through should be something like `/dev/dri/card0` on most Linux systems.

[2020-03-04 22:44] Ferroin commented on #5052
Unless I'm mistaken, this should be indirectly fixed by the new dashboard.

Longer term, I'm hoping to have a separate package for the dashboard, which should simplify this significantly.

[2020-03-04 22:51] Ferroin commented on #5360
We cannot reproduce this with a current version of Netdata. It's very likely that this has been fixed in one of the changes to the install scripts.

If this is still an issue, feel free to comment here.

[2020-03-04 22:51] #5360 closed

[2020-03-04 23:11] Ferroin commented on #8120
For macOS, the build itself should be done via `brew sh`.

[2020-03-04 23:14] prologic commented on #5738
As discussed internally we cannot repro this:

[code]

Closing as "cannot reproduce". Please open a new issue if this is still an issue or comment here.

[2020-03-04 23:14] #5738 closed

[2020-03-04 23:22] prologic commented on #5963
As we already have active support for a limited set of RPM and DEB packages _and_ #7826 is actively being; worked which expands our support for binary packages and close to being delivered, I am closing this as "done" as the infra as per the title is mostly there anyway.

[2020-03-04 23:22] #5963 closed

[2020-03-04 23:33] Ferroin commented on #5983
Based on discussion with @prologic, we're not going to worry about this for now since we're working around it just fine for DEB packages.

If it becomes a further issue in the future, we'll reevaluate it then.

[2020-03-04 23:33] #5983 closed

[2020-03-04 23:34] Ferroin commented on #6151
Closed by #7962

[2020-03-04 23:34] #6151 closed

[2020-03-04 23:37] prologic commented on #6211
As discussed internally this i no longer relevant as we have made the decision t migrate away from Travis CI to Github Actions and we do plan to be able to support running CI/CD workflows locally #8300

[2020-03-04 23:37] #6211 closed

[2020-03-04 23:38] prologic commented on #6408
Pretty sure this is done and working.

[2020-03-04 23:38] #6408 closed

[2020-03-04 23:39] Ferroin commented on #7968
Closing, Scaleway is not an option due to their lack of IAM support.

[2020-03-04 23:39] #7968 closed

[2020-03-04 23:41] Ferroin commented on #8003
Partially fixed by: #8203

[2020-03-04 23:43] prologic commented on #7184
As discussed internally we don't build packages for this version of Ubuntu anymore so closing.

[2020-03-04 23:43] #7184 closed

[2020-03-04 23:47] prologic commented on #4256
This was added some time ago. Closing.

<img width="600" alt="Screen Shot 2020-03-05 at 09 46 52" src="https://user-images.githubusercontent.com/1290234/75933670-486f2300-5ec6-11ea-953e-ea5f3d921723.png">

[2020-03-04 23:47] #4256 closed

[2020-03-04 23:50] prologic commented on #8080
As discussed internally this is no longer relevant as the OP did not install the EPEL repo which our `./packaging/installer/install-required-packages.sh` script automatically does not (_in non-interactive mode_) or prompts the user to do so otherwise. This is a pre-req for the source-based installer to work correctly.

[2020-03-04 23:50] #8080 closed

[2020-03-04 23:51] Ferroin opened #8306 "Properly document that we have issues with multiple installed versions of OpenSSL."
Wehn users have both a distro installed version of OpenSSL and a manually installed local version, the build fails in strange and non-obvious ways.  We should document that we don't support building in such circumstances.

Long term I see low value in actually fixing the build for this, as it is going to become a much less common situation as OpenSSL 1.1 becomes more and more common.

[2020-03-05 01:44] thiagoftsm commented on #7885
During the spike and development, it was confirmed that good part of the necessary work can be done using kprobes, and we have results like this:

![latency](https://user-images.githubusercontent.com/49162938/75933159-27c8ae00-5e71-11ea-93fa-58c0b6757ef4.png)

I would like to call attention for two things in the previous image that will be important for we move in front  future benchmarks and also

[2020-03-05 01:50] thiagoftsm commented on #7885
A complement, for IPC good part of the code we need is inside the file `builtin-stat.c` inside the directory `tools/perf` of the kernel source.

[2020-03-05 04:31] diwap opened #8307 "python.d ERROR: mongodb: local: Type: <type 'exceptions.KeyError'>, error: 'mapped'"
##### Bug report summary

While trying to monitor mongod using netdata, I got KeyError

##### OS / Environment

[code]

##### Netdata version

 netdata v1.12.0-rc2-24-ga521498

##### Component Name

python.d.plugin mongodb

##### Steps To Reproduce

1. `sudo su -s /bin/bash netdata`
2. `/usr/libexec/netdata/plugins.d/python.d.plugin mongodb debug trace`

##### Output

[code]

[2020-03-05 04:51] ilyam8 commented on #8307
Hi @diwap

`v1.12.0` is ancient, the bug is fixed in latest.

[2020-03-05 04:52] #8307 closed

[2020-03-05 04:54] ilyam8 commented on #7885
@thiagoftsm minor note: units should be ns/ms/us, not interval.

[2020-03-05 05:50] diwap commented on #8307
Got it

[2020-03-05 08:14] amoss commented on #8281
It looks like the appropriate call on the agent side is https://mosquitto.org/api/files/mosquitto-h.html#mosquitto_will_set. The relevant part of the comments seems to be:

This implies that we need to know the topic in advance so we need to decide on naming for fixed topics.

[2020-03-05 08:17] amoss commented on #8281
A consequence of setting the LWT before making the connection is that we cannot flip the message between graceful disconnection and unexpected as described in the docs PR.

[2020-03-05 08:32] underhood commented on #8281
Should be possible... LWT is sent only on ungraceful disconnect. If we are going to disconnect because we want to we send manually the `disconnect_grateful` message and LWT is not sent.

I am basing this of this documentation:

[2020-03-05 08:35] 01CGAT commented on #8080
I should have mentioned it earlier, but the EPEL and Okay repo's are now installed, after which the same OpenSSL related error's appear due to the difference in installed distribution version and a manually installed local version of OpenSSL, as mentioned by @Ferroin

PS. the following cosmetic error appears when running the current version of the installer:

/tmp/netdata-kickstart-upDGJD/install-

[2020-03-05 08:39] amoss commented on #8271
@vlvkobal The problem specific to the ACLK flag is fixed in the latest version but the CMake build does not work correct on master. The target prefix is hardcoded to `/` and there does not seem to be a way to set it?

[2020-03-05 08:42] underhood commented on #8281
I checked also MQTT 5 docu and it seems to remain same:

[2020-03-05 09:46] cosmix commented on #8281
Hello guys. We do know the topic. It's `/agent/<ID>/outbound/meta`.

[2020-03-05 09:46] cosmix commented on #8281
Could you please explain why you think that's the case?

[2020-03-05 09:47] cosmix commented on #8281
That's correct @underhood !

[2020-03-05 09:50] amoss commented on #8281
I think you are working from outdated comments - as I commented in the docs repo this has already been explained and resolved.

[2020-03-05 09:51] cosmix commented on #8281
There's no indication of 'outdated' anywhere, so that'd be impossible to know. Good to hear it's resolved!

[2020-03-05 09:57] amoss commented on #8281
How about this for the expected case:
[code]
and this for the LWT:
[code]
?

[2020-03-05 09:57] cosmix commented on #8281
@amoss outdated comments etc. See the docs repo for the JSON structure. :)

[2020-03-05 09:58] mfundul commented on #8218
I may have reproduced something similar:
![image](https://user-images.githubusercontent.com/44345837/75969978-62b1fc80-5ed8-11ea-8bda-de0474cbb108.png)

After a certain amount (hundreds) of slave hosts the API loses responsiveness. It does not appear to be a deadlock though, since stopping the slave hosts restores the netdata functionality.

Will investigate further.

[2020-03-05 10:00] WinstonBlue opened #8309 "Dockerd module in python plugin not showing graphs"
##### Question summary
Netdata slave pod doesn't visualize dockerd module graphs (healthy/unealthy) and alarms.
##### OS / Environment
Netdata installed with helmchart on a kubernetes cluster in Centos7 VMs
##### Component Name
External Python plugin/dockerd module
##### Expected results
Netdata showing healthy/unhealthy container graphs and alarms

Hi,

I've installed netdata in a Kubernetes clus

[2020-03-05 10:16] ilyam8 commented on #1960
do we need `sudo` to execute `pm2 jlist`? or it is enough to add `Netdata` to some group?

[2020-03-05 10:22] ilyam8 commented on #8309
Hi @WinstonBlue

Have you checked `error.log`?

See `grep python error.log`

[2020-03-05 10:44] gc commented on #1960
As far as I know - you only need `sudo` if `pm2`  was started with `sudo`. For example, if pm2 is currently not running and you do `sudo pm2 start`, all future pm2 commands will require `sudo` until you `pm2 kill` to shut it down.

[2020-03-05 10:46] #8271 closed

[2020-03-05 10:50] WinstonBlue commented on #8309
Hi @ilyam8 ,
thank you for your prompt response.
I checked error.log in /var/log/netdata but i can see no logs.
Python debug shows me the following logs:

2020-03-05 10:44:53: python.d DEBUG: dockerd[local] : update => [OK] (elapsed time: 31, failed retries in a row: 0)
BEGIN dockerd_local.unhealthy_containers 993273
SET 'unhealthy_containers' = 0
END

BEGIN dockerd_local.healthy_containers 993273

[2020-03-05 11:00] ilyam8 commented on #8309
@WinstonBlue do you run it as `netdata` user?

[2020-03-05 11:32] ilyam8 commented on #1960
So `pm2 jlist` can be executed by any user? Any user gets data from `pm2 jlist`? @gc could you check if `netdata` user is able to run it?

[2020-03-05 11:44] gc commented on #1960
Would be happy to test this. I tried doing `su - netdata` to switch to `netdata` user, and its asking me for the password of that account. Does netdata automatically give it a password or something? or should I use sudo to force change the password? Apologies I'm not very experienced with linux. (I am using Ubuntu)

[2020-03-05 11:49] ilyam8 commented on #1960
try `sudo su -s /bin/bash netdata` (require `root` password)

[2020-03-05 11:53] gc commented on #1960
Ok - on the `netdata` account, when using any PM2 command, its spinning up a new and separate instance of PM2, so when I go to `netdata` account, its like i havent even started it yet, but switching back to my  account, my normal pm2 apps are still there.

[2020-03-05 12:09] thiagoftsm commented on #7885
Thanks @ilyam8 , I will update the dimension names.

[2020-03-05 12:12] WinstonBlue commented on #8309
@ilyam8 yes.

[2020-03-05 12:37] Ferroin commented on #6723
Removing the packaging label as this is a build system problem, not a packaging problem.

[2020-03-05 12:38] thiagoftsm commented on #7885
The final conclusion for this spike is that it is better to have two new collectors, one that will present the latencyes and other that will deal with CPU statistics including IPC.

[2020-03-05 12:40] ilyam8 commented on #8309
It seems it doesnt work because you install it after netdata, `python.d.plugin` should be restarted. I am not a specialist but i think you get the idea.

[2020-03-05 12:57] Ferroin commented on #8294
Based on investigation, this appears to be an artifact of the code used to migrate from older installs that kept sotck configuration in `/etc/netdata`. I'm not sure _why_ it's getting run outside of those situations though.

[2020-03-05 14:16] cakrit commented on #4830
[This approach](https://stackoverflow.com/questions/49071265/expose-phusion-passenger-status-via-http) seems better and can be used in Kubernetes as well. The exporter itself uses Ruby and adds some dependencies though.

Ideally, the maintainers would do something to expose the metrics themselves via TCP, after all there's a paid version of the software as well.

[2020-03-05 14:49] cakrit commented on #8278
Let's get this in the documentation.

[2020-03-05 14:50] #4040 closed

[2020-03-05 14:53] #8184 closed

[2020-03-05 15:01] cakrit commented on #6882
What @CaptInsano mentioned about the PGID is what's [in our documentation](https://docs.netdata.cloud/packaging/docker/#docker-container-names-resolution). @stelfrag let's continue this work with the assumption that we do have the access provided via the PGID and see what else is needed to resolve the veth interfaces. We could suggest mounting all of `/sys/class/net`, if that's what it takes.

[2020-03-05 15:03] ofirule opened #8311 "netdata show root disc statistics for sdcard disc"
##### OS / Environment
<pre><code>$ uname -a
Linux tegra-ubuntu 4.4.38-docker #1 SMP PREEMPT Sat Aug 4 14:06:35 UTC 2018 aarch64 aarch64 aarch64 GNU/Linux
</pre></code>

##### Netdata version

version: v1.20.0
running on docker for aarch64

##### Explanation

These are my file system disk space usage:
<pre><code>$ df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/root        28G  8.7G

[2020-03-05 15:33] hrs-io commented on #8309
@ilyam8,
thank you so much!
You solved my problem.

[2020-03-05 15:38] #8195 closed

[2020-03-05 15:40] thiagoftsm opened #8312 "Login missed when I refresh"
##### Bug report summary
When I have my register at a remote computer inside my network, and I tried to `Sign in` to verify a more information about the alarms I had the impression that everything was fine, but when I click on the alarm it redirects me to a page with the message:

[code]

And when I do the refresh my name disappear on top menu.

On the other hand, case I go to the machine with the

[2020-03-05 16:03] ilyam8 commented on #8309
@hrs-io what problem? 😄 Did you have same problem as @WinstonBlue ? 😄

[2020-03-05 16:49] WinstonBlue commented on #8309
@ilyam8,
ok. I've restarted the python plugin and now I can see the docker module graphs and alarms.
Thank you very much.
I close the issue.

[2020-03-05 16:49] #8309 closed

[2020-03-05 17:15] D34DC3N73R commented on #4736
Nvidia cards take more than just passing /dev/dri. They also need drivers from the host system. The [nvidia-container-toolkit](https://github.com/NVIDIA/nvidia-docker) takes care of this but needs to be installed on the host system. Even with docker natively supporting GPUs in their runtime, this package still needs to be installed. For AMD cards to work, they'll have to make a similar package. Th

[2020-03-05 18:12] ilyam8 commented on #4830
this would be awesome

there is the code

https://github.com/phusion/passenger/blob/stable-6.0/src/ruby_supportlib/phusion_passenger/config/api_call_command.rb

[2020-03-05 18:16] ilyam8 commented on #4830
Probably @FooBarWidget could help us

[2020-03-05 18:25] SamK commented on #8173
Hi,

I just discovered netdata today and stumbled upon more or less the same issue.
Netdata seems really awesome so I provided a PR that fixes the problem.
I'm not sure I did it the right way though so.. wait and see.

[2020-03-05 18:59] Ferroin commented on #8294
I can't reproduce this, tested in Docker containers for Debian 10, CentOS 7, and Ubuntu 19.04.

@ilyam8 Can you double check that you still get the described behavior and if so provide some more details?

[2020-03-05 19:40] Ferroin opened #8316 "Switch `install-required-packages.sh` to use Python 3 by default."
Python 2 was officially EOL as of 2020-01-01. The final bugfix release is comming out in April, but will have no 'new' fixes other than those finished before 2020-01-01.

All major distributions we officially support have at least _some_ version of Python 3 in their most recent release, and some will actually be removing Python 2 support in their next release (at least Debian 11 and Ubuntu 20.04 w

[2020-03-05 20:32] cosmix commented on #8103
@cakrit could you please comment on this? I feel you should have the chance to state your opinion on this before it gets approved/rejected.

[2020-03-05 20:34] ilyam8 commented on #8294
i used `bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh) --stable-channel --disable-telemetry`. Just install it two times in a row.

[2020-03-05 20:53] Ferroin commented on #6739
This will likely be closed when #7346.

The actual work for this is functionally done, but it uses Docker, so it won't be in use until we switch away from LXC properly.

[2020-03-05 21:03] prologic commented on #6749
Asked the team if we still use this as we have two other static code analysers  we use actively LGTM and Codeacy. @cakrit Are we playing for this at all? We're leaning towards removing this entirely and closing this out if we can the consensus we need.

[2020-03-05 21:16] Ferroin commented on #6849
libuv is in EPEL, as is Judy, so this is currently invalid.

Long term, it would, however, be nice to vendor Judy because it's not present on an increasing number of systems we want to support, but there's a separate issue for that (#8153).

[2020-03-05 21:16] #6849 closed

[2020-03-05 21:17] #7867 closed

[2020-03-05 21:27] Ferroin commented on #7016
Closing this in favor of #8306. Actually fixing this is somewhat complicated to do, so we're just going to document we don't support this for the time being and be done with it.

[2020-03-05 21:27] #7016 closed

[2020-03-05 21:37] Ferroin commented on #7131
I can't reproduce this in a clean Debian 9 container. Closing for now, please comment if it's still an issue.

[2020-03-05 21:37] #7131 closed

[2020-03-05 21:54] Ferroin commented on #7294
Closing this as there's been no response from the OP, and Devuan appears to have become abandonware AFAICT. If it's still an issue, please comment here (ideally with links pointing to proof that Devuan is not functionally dead) and we'll reopen it.

[2020-03-05 21:54] #7294 closed

[2020-03-05 22:03] prologic commented on #7474
We are closing this in favour of #6847 as we cannot realistically test or reproduce this in any of our lab environments and we feel it would be better to support static builds of the agent for other platforms with `kickstart-static*.sh`

[2020-03-05 22:03] #7474 closed

[2020-03-05 22:19] prologic commented on #8117
cc @joelhans @shortpatti Do you guys have plans for handling the ChangeLog / Release Notes in some better ways going forward for the next release/etc?

[2020-03-05 22:32] #7364 closed

[2020-03-05 22:32] #8316 closed

[2020-03-05 22:35] thiagoftsm opened #8320 "Latency Charts"
### Target
* To measure File system latency, IO latency and schedule latency (how long the OS takes to load specific apps).

### Why?
* Provide additional metrics for hardware heath

### What?
* Create a new module in eBPF collector that will generate the following charts
- File System: We will probe the same VFS functions that we are using on `ebpf_process` collector ( `vfs_read`, `vfs_readv`,  `

[2020-03-05 23:04] cakrit commented on #8103
I'm sorry, but I just don't see the value of putting this in our main README. Let's just create  one or more issues and get rid of the TODOs altogether.

[2020-03-06 00:06] thiagoftsm commented on #6749
I agree with @mfundul the emails that Coverity is sent to us are very useful when we merge a code with possible problems.

[2020-03-06 00:19] #8283 closed

[2020-03-06 00:20] prologic commented on #8283
Fixed by #8305

[2020-03-06 00:27] #8173 closed

[2020-03-06 00:28] thiagoftsm opened #8322 "Update kernels on netdata-installer"
##### Feature idea summary
It is necessary to bring the new kernels present on `netdata/kernel-collector` to `netdata-installer`, it is also necessary to create a new release with these kernels.

##### Expected behavior
To install eBPF collector on 13 different kernel versions.

[2020-03-06 03:37] prologic opened #8330 "Address and fix TODO(s) in codebase"
#### Summary

As per [this comment](https://github.com/netdata/netdata/issues/8103#issuecomment-595490380) we want to address and fix (_remove all_) `TODO|XXX|FIXME`(s) from our codebase. This issue is to track that work.

Currently at the time of wriring:

[code]

[2020-03-06 03:38] prologic commented on #8103
[code]

We'll need to figure out how to divide up the work to fix this.

=> #8330

[2020-03-06 03:38] #8103 closed

[2020-03-06 04:32] prologic commented on #6749
Yeah its okay we got to the above points in the Slack thread :)

The PR that is up now that will fix/close this issue is to migrate off of Travis :D

[2020-03-06 04:42] prologic commented on #7473
As I still cannot reproduce and haven't heard from @eliezerlp in some days I'm re-closing this. There is on-going work to properly support FreeBSD in #8304 (_and other issues_) so we'll hopefully have better support for FreeBSD there and eventually pfSense (_I hope_); but I cannot repro this issue with any pfSense I can manage to install.

[2020-03-06 04:42] #7473 closed

[2020-03-06 08:22] prologic commented on #5983
😲

[2020-03-06 08:51] prologic commented on #8132
@Agronis If you can get my a rootfs or disk image of the system in question I can help get this fixed. Let me know if you can make that happen :)

[2020-03-06 09:16] amoss commented on #8281
Meeting cancelled, we have an agreement about how to implement this.

[2020-03-06 09:16] #8281 closed

[2020-03-06 09:54] amoss commented on #8176
Alternative suggestion
[code]

[2020-03-06 10:09] nghtrifork opened #13319 "`vsphere` plugin won't grab statistics on vCenter restart"
Environment:
- netdata 1.20
- go.d.plugin 0.16.0
- ubuntu 64bit

I have done a restart of the vcenter and the vsphere plugin wouldn't be able to grab the metrics again. This is the message I have seen in the logs:

`2020-03-04 09:30:35: go.d ERROR: vsphere[vcenter1] error on discovering : discovering resources : ServerFaultCode: The object 'vim.view.ContainerView:session[52392fb3-6476-9880-46da-41

[2020-03-06 10:45] thiagoftsm commented on #8176
- We will support both formats, ltsv and json, and the ltsv will be the default format
- We will use date format as ISO 8601
- instead to have a `dev` option for the `load` option, we will have a new variable to enable or disable the developer mode.
- A flag variable to define what will be shown in the developer mode

- It is also necessary too verify the `uprobes` attached to memory. It is necess

[2020-03-06 13:42] mfundul commented on #8218
Current status of the investigation (spawning hundreds of slaves):

- There is very high CPU utilization (almost 100% even in a 32-thread bare-metal server) when executing alarms for every slave at the same time, which lasts for many seconds. Mainly this code:
[code]

- There appears to be heavy amount of lock contention when slaves use `dbengine` and collectors get serialized due to locking (e.g.

[2020-03-06 14:03] cakrit commented on #8218
@yasharne and @mfundul can you please increase the `run at least every seconds` in the `netdata.conf` `[health]` section to 30, to see if it gets better and by how much?

Line 311 of `health.c` executes `alarm_notify.sh`. We've talked a lot in the past about replacing this script with internal C code, which of course is a project. Perhaps the locking around the execution of this command can be imp

[2020-03-06 14:19] knx commented on #4830
I did some research on the socket API access and I think it could be used here (I used curl for example purposes)

`curl --unix-socket /tmp/PASSENGER_DIR/agents.s/core_api "ro_admin:PASSWORD@localhost/server.json"`

This will give you a complete set of metrics in JSON. And can be run by netdata user. But there are two caveats:

- you need to find out PASSENGER_DIR in /tmp - it will look something

[2020-03-06 14:20] cakrit opened #8336 "Algolia search challenges in docs"
I couldn't find this configuration setting from the search bar. Can we do something to make it work?

<img width="621" alt="health" src="https://user-images.githubusercontent.com/43294513/76091427-62fed600-5f72-11ea-9c84-d7b82934e46e.png">

[2020-03-06 14:24] ilyam8 commented on #4830
Great job @knx 👍 Could you share the json output? And it would be nice to have a guide how can i setup a test lab to write the module.

[2020-03-06 14:25] mfundul commented on #8218
The number of slaves can directly affect things when:
- slaves share the bare metal host with the master
- slaves share other kinds of resources such as network, storage etc.
When there is sharing of this kind, a critical alarm can easily apply for thousands of slaves at the same time.

[2020-03-06 14:26] cakrit opened #8337 "Health configuration interconnections"
The [netdata.conf health section](https://docs.netdata.cloud/daemon/config/#health-section-options) doesn't seem to be referenced in the guide or anywhere under "Health Monitoring and Alerts"

[2020-03-06 14:27] knx commented on #4830
`{
   "thread1" : {
      "active_client_count" : 0,
      "active_clients" : {},
      "client_accept_speed" : {
         "1h" : {
            "averaged_over" : "1 hour",
            "per" : "minute",
            "value" : 17.879999999999999
         },
         "1m" : {
            "averaged_over" : "1 minute",
            "per" : "minute",
            "value" : 14.699999999999999
         }

[2020-03-06 14:30] cakrit commented on #8218
Very cool point! :)

[2020-03-06 14:32] knx commented on #4830
For the testing lab, I guess you will require a passenger + Nginx instance with some Rails application deployed there.

[2020-03-06 15:08] mfundul commented on #8218
`rrddim_set_by_pointer()->now_realtime_timeval()` accounts for 27% of our master server's netdata overhead when the collectors overlap. It appears we must significantly lower the number of `clock_gettime()` system calls.

[2020-03-06 15:31] #8089 closed

[2020-03-06 15:33] thiagoftsm commented on #8218
To complement your suggestion, according the function manual (`man 2  gettimeofday`):

[code]

[2020-03-06 17:17] gwingnhbc opened #8338 "How monitor multiple tomcat instances with python.d?"
Sorry, newbie to netdata here.

I am trying to monitor three seperate tomcat instances, on different ports, that we have on our server and then display their charts on the main netdata console but struggling with this.  I can modify the existing tomcat plugin config so as to connect to the tomcat manager app at any one of the instances and display charts for that - but only one instance at a time.

[2020-03-06 17:31] ilyam8 commented on #8338
Hi @gwingnhbc

Check this issue

[2020-03-06 17:48] gwingnhbc commented on #8338
Thanks for the super fast reply.

So easy!  I just defined the multiple jobs and it worked straight away. I *thought* I had already tried that as my first attempt at getting it working but I must have done something different/wrong the first time around :-)

[2020-03-06 17:48] #8338 closed

[2020-03-06 18:28] Ferroin commented on #8294
Ah, OK, that's what I missed, you're using the static installer.

That should be fixed in #8315.

[2020-03-06 23:15] prologic commented on #7454
I cannot reproduce this with the latest version on a Debian 10 system:

[code]

[2020-03-06 23:15] #7454 closed

[2020-03-06 23:16] prologic commented on #7454
Please open a new issue or comment on this one if the problem still persists and please share details of the version and OS/Distro being used.

[2020-03-07 02:42] prologic commented on #4736
@D34DC3N73R Since you clearly know a fair bit about NVIDIA GPU(s) here and how to run them inside Docker containers (_none of us currently have access to such things at the moment_); Would you be willing to put up a PR that documents this? I don't think we can support this type of setup more than documenting how it can be done. Thoughts?

[2020-03-07 03:22] prologic commented on #8080
I can reproduce that error with:

[code]

[2020-03-07 03:28] prologic commented on #8080
We should not be doing integer arithmetic or comparison on floats which I'm not even sure any Shell supports :)

[code]

Is the fix => #8339

[2020-03-07 03:43] prologic commented on #8120
As mentioned in another PR by @cosmix and myself in person; I didn't even know about `brew sh` at all :) And I _think_ we should make things work without. It is/wasn't that hard to do and I don't think many users will drop into a `brew sh` just to run the installer.

[2020-03-07 03:47] prologic commented on #8296
As discussed in person I have a different approach than the original wording of this issue. I'll put up a PR soon and we can discuss against real code :) But basically the idea is to simply have a Cron workflow that does:

- Check Docker Hub
- Checks PackageCLoud
- Checks Nightlies Storage

For "Last Updated" times of key files.

If > 48h ago, fail the job (_we'll get an email_).

Otherwise all go

[2020-03-07 03:54] prologic commented on #7155
@scomoletti Sorry for the very very delayed response (_I only recently joined the company this year_); I _have_ nearly managed to get NetData on an LFS-ish system. I'll be sure to update this issue if/when I succeed. In theory its possible. you just have to manage/handle the dependencies yourself -- I would probably advise you try the static installer as a first bet.

Trying to compile NetData on

[2020-03-07 04:03] prologic commented on #8215
@EnzoAkira Are you also seeing the downloaded `sha256sum.txt` file empty too?

[2020-03-07 09:13] D34DC3N73R commented on #4736
I'm afraid I don't know of a solution that allows netdata to support GPUs in docker containers other than adding the [glibc package](https://github.com/sgerrand/alpine-pkg-glibc) to the official image. That's essentially the only thing [my netdata image](https://github.com/D34DC3N73R/netdata-glibc) does, other than enabling the nvidia-smi module in python.d.conf by default.

After the glibc packag

[2020-03-07 09:21] #7967 closed

[2020-03-07 11:25] patrickdevivo commented on #8103
Thanks for considering!

FWIW - adding support for more and custom phrases like `FIXME`, `XXX`, `HACK` etc is on the top of my `// TODO` list!

[2020-03-07 13:48] 161134050 commented on #3948
That link 404's

[2020-03-08 02:05] cakrit commented on #4830
Let me repeat here that the unix socket solution will be problematic with kubernetes, as it will require a sidecar container. @ilyam8 you could potentially use this one to pilot the light, exporter-like Netdata installation you always wanted us to have. I think that the result would be a go-based prometheus exporter though, so I think it's worth discussing this more. It's a very nice use case, tha

[2020-03-08 04:18] ddddoooo1243 opened #8341 "Cant access Netdata dashboard via HTTPS"
After I install netdata im trying to access my dashboard from https://server-ip:19999 and it just says This site can’t provide a secure connection

Im using centos 7

[2020-03-08 12:34] thiagoftsm commented on #8341
Hi @ddddoooo1243 ,

By default Netdata does not enable TLS connections, because it is necessary to have an TLS certificate for this works, please, take a look on https://docs.netdata.cloud/web/server/#enabling-tls-support and let us know case you have any doubt.

Best regards!

[2020-03-08 13:01] RedEpicness opened #8342 "Shift-scroll to zoom causes too many calls to `history.replaceState()`"
##### Bug report summary
In Safari, when interacting with a graph consistently and quickly (most notable in zooming in/out with scroll wheel), javascript can exceed the limited amount of `history.replaceState()` calls allowed. This causes each subsequent call to error and prevent the graph to update correctly sometimes.

##### OS / Environment
MacOS:
[code]

Safari:
`Version 13.0.5 (15608.5.11)`

[2020-03-08 14:04] skurfuerst commented on #5590
Hey :)

You could easily simply read `/proc/spl/kstat/zfs/<zfs-pool-name>/state`, which is a string `ONLINE` (all good), `DEGRADED` (e.g. a disk failed; but the storage pool operates normally), ... - full reference at https://docs.oracle.com/cd/E19253-01/819-5461/gamno/index.html

I don't know how to fetch the pools via the proc filesystem; but one could simply check for a "state" file by searchin

[2020-03-08 14:08] skurfuerst commented on #5590
ah... one would count the number of unhealthy pools... and maybe additionally the number of healthy pools as well? then one has an overview how many pools exist; and how many of them in unhealthy state.

[2020-03-08 14:12] micah opened #8343 "Netdata on synology: Access to file is not permitted: /opt/netdata/usr/share/netdata/web//index.html"
##### Bug report summary
I installed Netdata on Synology, as described on https://docs.netdata.cloud/packaging/installer/methods/synology/. First I created a user/group called 'netdata', then I installed using: https://docs.netdata.cloud/packaging/installer/methods/kickstart-64/

I then ran the chown commands detailed on the synology installation page, and then I attempted to go to http://192.168.

[2020-03-08 14:22] micah commented on #8343
I changed `netdata.conf` to have `web files owner = root` and `web files group = netdata` and restarted netdata, and now it works. The default config file had `users` as the group.

It seems that the Synology instructions should be updated to show people how to get the netdata.conf and edit it for these settings.

Is it not possible to have the web files owned as `netdata`?

[2020-03-08 14:32] ilyam8 commented on #5590
Hi @skurfuerst

Sounds good 👍

`ONLINE` is 0, `DEGRADED` is 1, etc.

[2020-03-08 16:24] skurfuerst commented on #5590
@ilyam8 do you have a small pointer where this would be roughly added codewise? A few bullet points / code pointers would be awesome :)

[2020-03-09 00:42] prologic commented on #8341
Hi @ddddoooo1243 as per @thiagoftsm 's comments please follow the documentation on how to enable TLS. Otherwise http://<server_ip>:19999 should work out of the box.

[2020-03-09 00:47] prologic commented on #3948
Please use this link: https://docs.netdata.cloud/packaging/installer/

[2020-03-09 01:32] knx commented on #4830
From my user perspective, either solution will be satisfactory, so I leave it up to you to decide. Although the socket one seems simpler to configure, and we don’t use kubernetes.

[2020-03-09 01:39] thiagoftsm opened #8344 "Developer mode"
##### Feature idea summary
The eBPF collectors can detect errors reported when functions are called from other software and it also has the capability to get the function return. With these information we can generate logs that help our users and ourselves to remove bugs from software.

After the discussion done on #8176, we have conditions to bring logs with the following specification:

- We wil

[2020-03-09 01:53] thiagoftsm opened #8345 "[SPIKE] uprobe and memory"
##### Feature idea summary
During the research for CPU and Memory utilization, it was identified that we can use trace points to trace all the kernel functions that allocate memory, but we also arrived in the conclusion that they are not so useful to bring memory leak information for our users in the developer mode, we need to work with `uprobes` to determine a  more useful  information for our us

[2020-03-09 01:54] thiagoftsm commented on #8176
With the creation of #8344 and #8345 I am closing this issue.

[2020-03-09 01:54] #8176 closed

[2020-03-09 01:59] thiagoftsm opened #8346 "CPU statistics using eBPF"
##### Feature idea summary
During the spike #7885 , it was identified that we can bring CPU monitoring using `perf` events like the command `perf` does. And considering what we have as output from this command,  it is possible to say that we can bring a general CPU statistic using `perf` events.

##### Expected behavior
To have new charts that will demonstrate the following information per PID:

[

[2020-03-09 02:00] thiagoftsm commented on #7885
I am closing this SPIKE, because other two issues were created to bring the results to Netdata.

[2020-03-09 02:00] #7885 closed

[2020-03-09 03:38] prologic commented on #8343
@micah Thanks for reporting! Are you okay with the current work-around you've found? I haven't been able to repro this issue yet as getting a hold of a Sinology environment has been tricky (_trying to get [this working](https://xpenology.club/install-dsm-6-1-on-virtualbox/)..._)

[2020-03-09 05:17] prologic commented on #8054
- #8296 will help ensure we always have nightlies
- #8334 fixed our ability to do lifecycle updater tests locally and in CI

[2020-03-09 05:17] #8054 closed

[2020-03-09 05:22] #8296 closed

[2020-03-09 08:43] amoss commented on #8270
These were all fixed during https://github.com/netdata/netdata/pull/8317

[2020-03-09 08:43] #8270 closed

[2020-03-09 09:37] ilyam8 commented on #5590
@vlvkobal please ^^

[2020-03-09 10:49] yasharne opened #8348 "Difference between bandwidth of server interface and sum of web_log bandwidth"
##### Bug report summary
We have an Nginx load balancer which we monitor all the v hosts using the web_log module. The log format is like bellow:
[code]
The only service which is running on this server is the `nginx`, but when I compare `netdata_web_log_bandwidth_kilobits_persec_average` metric with `netdata_system_ip_kilobits_persec_average` there is huge difference among them:
![Untitled](https:

[2020-03-09 11:38] #8077 closed

[2020-03-09 11:47] Ferroin commented on #8120
For the installer itself, yeah, people won't run it from `brew sh` most of the time.

_However_, I'd be willing to be a a large sum of money that most of our users on macOS are using Homebrew, not the install script, and the build environment that Homebrew uses is equivalent to `brew sh`.

[2020-03-09 13:09] ezbot21 commented on #7323
@gramakri may i know has cloudron team fix the firewall issue already? Or what is the workaround for the time being? manually edit the firewall using sudo ufw allow 19999... Please advice. Thank you. :)

[2020-03-09 13:42] mfundul commented on #8218
@yasharne can you see if changing the line to:
[code]
in `stream.conf` fixes some of your problems?

[2020-03-09 13:56] joelhans commented on #8117
@prologic I'm adding items to the release notes on an ongoing basis. I look at [commits](https://github.com/netdata/netdata/commits/master), investigate the PR a bit, and then add text to [the v1.21 release notes](https://github.com/netdata/marketing/blob/master/release-1.21.md) (not sure if you can see that).

Basically, I don't trust `CHANGELOG.md` any more.

This doesn't really improve the proc

[2020-03-09 13:58] mfundul commented on #8218
`cgroups.plugin` can take up multiple gigabytes of RAM and a huge amount of CPU time until it finishes enumerating 500 LXC containers. The RAM footprint remains, but fortunately CPU time drops when things become more stable.

[2020-03-09 14:15] mfundul commented on #8263
https://github.com/netdata/netdata/blob/fd343ac0c262cd6a1535b67e7894d06760e10259/claim/netdata-claim.sh.in#L219

This line of code should make sure that `HTTP_STATUS_CODE` has valid contents before testing against `204`.

[2020-03-09 14:21] amoss commented on #8000
Most of this has been completed in another task, we've agreed that the left-over parts (optimisation of memory allocation) is nice to have but essential to the March 25th release.

[2020-03-09 14:29] amoss commented on #8048
* If the installer / build succeeded in providing the components required for the ACLK then this needs to be communicated.
* The `--disable-cloud` flag on the installer needs to be passed into the code.

[2020-03-09 14:42] amoss commented on #8048
This issue cannot be implemented until the communication between the dashboard and the agent is clarified on product#277.

[2020-03-09 14:45] amoss commented on #8035
This can be tested during the current smoke-test - if it works then the code is already merged into the feature branch and the issue can be closed.

[2020-03-09 14:51] amoss commented on #8059
After the meeting this morning this task will not involve significant on-going effort from the team.
* The results of the smoke-testing task will give @joelhans a guide to work through.
* We will available to provide assistance if there are problems.
* There could be another meeting to check the walk-through / diagnostics if necessary.
* We can review the writing.

[2020-03-09 14:53] amoss commented on #8051
Please groom in the upcoming sprint how we will do this.

[2020-03-09 15:06] amoss commented on #8049
The discussion for #8048 needs to be concluded with a description of how information will be carried between the agent and the dashboard. This issue cannot be estimated until the complexity of this is known.

[2020-03-09 15:15] #8155 closed

[2020-03-09 15:15] #8294 closed

[2020-03-09 15:35] amoss opened #8349 "Fix the JSON parsing issues on the ACLK."
#### Summary

We need to fix problems that were observed during the smoke-test.
* The uninitialised variables inside the JSON parser that valgrind is complaining about.
* The behavior depends on which json parser is in use. If the JSONC external dependency is available then it works, it seems to break on the internal version.

Currently there are somehwere up to three different json parsers in use

[2020-03-09 15:58] amoss opened #8350 "Fix the pop-corning implementation in the ACLK."
#### Summary

* Before the beginning of the sprint clarify with product what should happen to queries / commands on the ACLK before the popcorning process has finished.
* All queries are ignored (dropped) during pop-corning, but commands from the cloud are in the same queue for processing so the agent would ignore requests during this period.
* Any query resets the pop-corning timer (including enc

[2020-03-09 16:42] yasharne commented on #8348
I think I found the answer, `web_log` calculates the bandwidth used for the requests which arrive to the Nginx (like `GET HTTP`) and  the response made by Nginx (like `200 HTTP`) from the log files, so it is not aware of things like `TCP handshake` or `SSL handshake` or `TCP retransmission` etc. thats why we get more traffic in interface chart rather than in the web_log charts.

[2020-03-09 16:42] #8348 closed

[2020-03-09 16:47] ilyam8 commented on #8348
Yes, it depends on used parameter.

For example:

- `$bytes_sent` (`%O`) - Bytes sent to a client, including request and headers.

- `$body_bytes_sent` (%B/%b) - Bytes sent to a client, not counting the response header.

[2020-03-09 18:32] amoss opened #8353 "Add script to change dashboard used in the agent."
##### Feature idea summary

We need to deploy the new react-based dashboard so that we can receive feedback from users. This is a substantial change to the code-base so we want an easy way to revert to the existing dashboard if any problems are discovered after it is deployed.

A new script will be added `netdata-switch-dashboard.sh` to `sbin`.
* Accept a single parameter with two posible values:

[2020-03-09 18:33] amoss commented on #8353
@cakrit / @cosmix / @jacekkolasa / @Ferroin Please check this description and explicitly approve it with a comment below before the work starts.

[2020-03-09 18:36] cakrit commented on #8353
I only disagree with the use of sbin

[2020-03-09 18:37] thiagoftsm commented on #8353
A complement, bugs should be report on `netdata/dashboard` repository.
I agree with Chris, considering that `www` has the same owner of netdata, we do not need sbin.

[2020-03-09 18:39] amoss commented on #8353
The `sbin` directory is assumed to be in the path, I don't think that plugins.d has the same assumptions. I don't mind where it is installed as long as the decision is taken before the the implementation starts :).

[2020-03-09 18:53] Ferroin commented on #8353
Note that if we're removing the files from the dashboard that isn't in use, this will require significantly more work than just replicating what we had in #8212  I'm not saying I disagree with the reasoning on that aspect, just that it will take me longer to get it working since it will probably involve changing where the old dashboard actually gets installed in the resulting system.

Is there any

[2020-03-09 19:35] amoss commented on #8353
My mental of how this would work is that we have three locations:
1. The target webroot in the installation prefix.
2. The source location for the old dashboard.
3. The source location for the new dashboard.

I'm viewing it as basically `rm -rf`ing the current target webroot and `cp -r` one of the two sources based on the argument. Is this a naive view of how this will work - is there some complex

[2020-03-09 19:58] Ferroin commented on #8353
@amoss That's kind of what I was thinking too.

Does the web server properly handle the case of the web root being a symbolic link? If so, that would actually make this exponentially easier to do, switching dashboards would just be updating the symlink.

[2020-03-09 20:00] amoss commented on #7940
After reviewing the results we have decided to take a different approach on the feature flag.

[2020-03-09 20:00] #7940 closed

[2020-03-09 20:01] amoss commented on #8353
That raises an interesting problem - what happens if the user deletes the source directory after install but decides to switch the dashboard?

Perhaps we should put both versions in the target prefix instead.

[2020-03-09 20:16] Ferroin commented on #8353
Both side-by-side is what the earlier PR had. It works reasonably well, provided you use the right index.

[2020-03-09 21:10] #8062 closed

[2020-03-09 21:48] prologic commented on #8120
This is true :)

[2020-03-09 22:09] prologic commented on #8117
Yeah the only way to improve the process as far as I'm concerned is with #8199 __and__ enforced checks on Pull Requests so what eventually gets merged in follows a set of conventions/rules you can easily follow that _could_ be relied upon and trusted for future ChangeLog / Release Notes automation (_even if partial_). Just my $0.02 worth :) -- This is a hard thing :D

[2020-03-09 22:26] #6749 closed

[2020-03-10 08:27] vlvkobal commented on #5590
If root access isn't needed to read these files, then [`collectors/proc.plugin`](https://github.com/netdata/netdata/tree/master/collectors/proc.plugin) is a proper place for the code. We have arcstats in [`proc_spl_kstat_zfs.c`](https://github.com/netdata/netdata/blob/master/collectors/proc.plugin/proc_spl_kstat_zfs.c) but it might be better to have a separate file for ZFS pool status.

[2020-03-10 08:44] skurfuerst commented on #5590
@vlvkobal thanks :) Just tested - Root access is not necessary :) I'll try my best in the upcoming weeks....

[2020-03-10 10:00] #7738 closed

[2020-03-10 10:24] amoss commented on #8048
How should this information be communicated between the agent and the dashboard?

The best suggestion that we have so far is to add it to the `/api/v1/Registry?action=hello` endpoint. Currently this produces:
[code]
So we would add the following fields:
[code]
* Should we do expose this information public-ally - as we have no private communication channel between the dashboard and the agent?
* I d

[2020-03-10 10:38] Gankarloo opened #8359 "Not grouping container interfaces on lxc host"
##### Bug report summary
Not grouping container interfaces on lxc host

##### OS / Environment

Proxmox VE 6.1-7
Netdata is running on the virtualization hosts.
[code]

##### Netdata version

 netdata v1.20.0-103-nightly

##### Component Name

My guess is it has to do with the cgroup plugin.
#### Scenario 1 Installed from Packagecloud

cat /etc/apt/sources.list.d/netdata_netdata-edge.list
[code]

[2020-03-10 11:43] mfundul commented on #8218
It appears that there is a huge bottleneck when initially creating charts during streaming for multiple clients in the server side. The function `rrdset_create_custom()` is blocked here:
[code]
Waiting to allocate configuration space sequentially in the netdata global configuration, effectively serializing all chart creations in netdata regardless of which host the chart belongs to.

[2020-03-10 11:59] JayKus commented on #7182
Might be redundant, but making it explicit: it would be very much appreciated that this could be set through docker environmental settings `-e` once implemented.

Much appreciated!

[2020-03-10 12:33] thiagoftsm commented on #7182
Hi @JayKus ,

I moved the status from `new  issue` to `Read for Dev`, this way we will create plan to bring this additional feature in a near future.

Best regards!

[2020-03-10 12:42] E46-S54 opened #8361 "Specific Metrics using prometheus_all_hosts"
#### Question summary
I am running netdata 1.20 and am experimenting with the prometheus_all_hosts exporter.

I'd like to extract a single metric for all my hosts from a netdata master, say for example IO WAIT or whatever it may be.

Is there a way I can use the API to pull just all IO WAIT metrics for all hosts, rather than every metric for every host using `api/v1/allmetrics?format=prometheus_al

[2020-03-10 12:48] underhood commented on #8048
with the `agent-claimed` i think this has to be updated during run as claiming AFAIK (correct me if I am wrong) should be possible during agent run without restart.

[2020-03-10 13:16] jacekkolasa commented on #8353
that will work, thanks @Ferroin !

[2020-03-10 13:21] cosmix commented on #8353
I disagree with the coexistence of both dashboards in the 'live' (web root) folder. I'm good with copying the files from the 'selected' source folder to the web root.

If the user decides to delete one of the source directories (either) that's their problem and our script should fail. I wouldn't put both versions in the web root; it's cleaner if we have a clean directory with the 'live' version an

[2020-03-10 13:37] micah commented on #8343
It does seem like it works.

The only thing I'm concerned about is discussion elsewhere about having
the files owned as `root`, but that seems like an orthogonal issue.

[2020-03-10 13:45] vlvkobal commented on #8361
No, it's not possible at the moment.

[2020-03-10 13:47] jacekkolasa commented on #8353
I just want to point out one more time that it's crucial to have the script work in both ways. This way it will be easy for us & users to test and compare both versions.

[2020-03-10 13:50] E46-S54 commented on #8361
Thanks @vlvkobal

[2020-03-10 13:50] #8361 closed

[2020-03-10 13:52] Ferroin commented on #8353
Based on apparent consensus, I'm starting on this now using the original proposal outlined here with `sbin` changed to our libexec directory.

I'll be reusing some of the code that as done for the original PR to save some time, but still expect that this will probably take me at least the rest of the day to get working properly with appropriate testing.

I'll open a draft PR attached to this issue

[2020-03-10 13:59] Ferroin commented on #8353
Also, note that the initial implementation will _not_ cover handling this for binary packages. There's enough complexity there that we _really_ need to cover them with a separate issue (I'll open one for that once development of this is finished).

[2020-03-10 14:11] underhood commented on #8051
Where: Google Analytics
How: Call the script
Event types/details of fields: @manos-saratsis where do we get this info?
If we are completely blocked it makes no sense to retry/try storing informations anywhere IMHO Therefore we try sending and ignore the result.

[2020-03-10 14:48] webrockey commented on #2621
hello....plz can some one tell me.... what minimum server configuration required for install netdata on VPS

 i have
2 core
4GB RAM
KVM
is that ok for install netdata

thank you

[2020-03-10 15:44] mfundul opened #8366 "Reduce overhead of collectors"
##### Feature idea summary
`rrddim_set_by_pointer()->now_realtime_timeval()` accounts for 27% of a netdata master server's overhead when the collectors overlap. The `clock_gettime()` system-call overhead is what dominates.

Reduce overhead of collectors by utilizing `CLOCK_MONOTONIC_COARSE` for `clockgettime()` when applicable.

[2020-03-10 15:47] mfundul opened #8367 "Improve page allocation performance of dbengine"
##### Feature idea summary
There appears to be heavy amount of lock contention when slaves use dbengine and collectors get serialized due to locking (e.g. health processing blocking them). If this coincides with new page creation there will be crazy contention at this point in the code:
[code]
Improve page allocation performance of dbengine by disassociating the committed_page_index from the page_

[2020-03-10 15:51] underhood commented on #8104
Parse of messages (verify that the message sent is parse and stored correctly) - Core has to fix the topics
Handle double messages (verify the cloud side processing) - verify later

[2020-03-10 16:00] mfundul opened #8368 "Improve the impact of health code on netdata scalability"
##### Feature idea summary
There is very high CPU utilization (almost 100% even in a 32-thread bare-metal server) when executing alarms for every slave at the same time, which lasts for many seconds. Mainly this code:

[code]

We can improve the impact of health code on netdata scalability by taking alarm execution and notification outside the critical region of the health main thread.

[2020-03-10 16:44] Ferroin commented on #8353
PR is ready for review, I'm adding everyone on the core team as reviewers, as well as @jacekkolasa and the appropriate code owners.

[2020-03-10 16:56] stelfrag opened #8369 "ACLK Last Will Testament implementation"
#### Summary
The ACLK should define a Last Will Testament (LWT) that will be triggered when there is an abnormal link failure (described in the ACLK specifications document)

The LWT message will be (example):

[code]

The payload value **unexpected** denotes that the disconnection was not initiated by the agent.

If the agent initiates the disconnection, e.g. when the agent is shutdown, then the

[2020-03-10 16:57] joelhans commented on #8069
@ilyam8 I edited your list with a few changes:

- Ordered them alphabetically.
- Added (Go) or (Python) when applicable.
- Changed some of the headings to use spelled-out terms instead of acronyms.

I don't have any immediate objections to how you've organized the types, but I also don't know nearly as much about this as you do. It _looks_ fine to me.

I'm struggling to think about how we add all

[2020-03-10 17:05] underhood commented on #8369
Is there any case where cloud disconnects gracefully (e.g. update on cloud side) when it is expected?

[2020-03-10 17:09] WerdPress opened #8370 "Mysql Chart Not Showing Up"
For some reason I cannot get Mysql monitor to showup on the front end. I have tested from commandline to see if there were any issues with:

`./go.d.plugin -d -m mysql`

Connects fine and looks to work ok.

Logs don't show any issues but nothing on front, see screen. Not really sure where to look next.

![netdata011](https://user-images.githubusercontent.com/62028949/76339285-40512200-62d0-11ea-85

[2020-03-10 17:40] ilyam8 commented on #2621
@webrockey yes, it is ok (if it is not master/slave config and the server is master)

[2020-03-10 18:11] ilyam8 commented on #8370
Hi @WerdPress

Go version of mysql is disabled by default atm, so you either use [python version ](https://github.com/netdata/netdata/tree/master/collectors/python.d.plugin/mysql) (collects more metrics but you need to install MySQLdb lib) or [enable go version](https://github.com/netdata/go.d.plugin#why-disabled-how-to-enable).

[2020-03-10 20:33] WerdPress commented on #8370
@ilyam8

Thanks for that. I have made sure python version is disabled and enabled go version and restarted netdata. But it still refuses to showup on the front-end. Can you think of anything else I might check to help me figure out why it is still missing?

[2020-03-10 20:36] ilyam8 commented on #8370
Did you run it as `netdata` user?

And check `error.log`

[2020-03-10 21:08] WerdPress commented on #8370
@ilyam8

Thanks, I got it sorted out, few things that I had missed or messed up.

1.) In "go.d.conf" I had uncommented mysql line but accidentally removed space from start.
2.) My go.d/mysql.conf was broken

[2020-03-10 21:08] #8370 closed

[2020-03-11 08:45] amoss commented on #8104
The expected outcome on this task is described in the OP above. When the ACLK is connected we need a documented method to test:
* Incoming message are parsed correctly.
* Duplicate message are dropped.
* Outgoing messages are correctly generated for new collectors.
* Outgoing messages are correctly generated for new charts.
* Outgoing messages are correctly generated for new alarms.

If the cloud-

[2020-03-11 09:29] jbfuzier commented on #7468
Hi,

I am having the same issue in v1.20 with the following setup :

- 10 headless, memory = none collectors, streaming to a central colector
- Around 5k metrics / collector => ~50k metrics on the central collector
- Central collector is running in a lxc container (proxmox), storage is on a dedicated SSD (memory=dbengine)

- OS / Environment

- Netdata Version

- Component  Name

In error.log I ge

[2020-03-11 10:32] ilyam8 commented on #8069
Yes, i think about it too. If the goal is to have a long list to provide wow effect we need to put all of them.

There is datadog integrations page:

It is a flat "list", all system metrics (most of our internal plugins collect system metrics) are under `system` intergration, it is just a one item.

[2020-03-11 11:27] mfundul commented on #7468
It seems like those errors are only about one of the netdata slaves, namely `e295a868-5042-11e7-9bce-3863bb3e6c28`. Can you share some history from `error.log` that may relate to what's happening to `e295a868-5042-11e7-9bce-3863bb3e6c28`? Did an event happen immediately before those errors, or do those errors happen constantly with a certain frequency?

[2020-03-11 12:43] mfundul commented on #8218
During a big netdata master server load (due to too many slaves) a particular netdata slave client may timeout like this:
[code]
and close its connection.

However, the netdata master server will continue to process any outstanding events for this client (such as chart creation commands) and will not take notice of the socket disconnection for about ~15 minutes.

During those ~15 minutes the clien

[2020-03-11 13:00] jbfuzier commented on #7468
It happen constantly :

![image](https://user-images.githubusercontent.com/4688432/76419312-6b0aab80-63a0-11ea-8108-3c26d94a0a74.png)
![image](https://user-images.githubusercontent.com/4688432/76419359-7cec4e80-63a0-11ea-9ddf-8c1718b4dfd4.png)

I think this UID is the central collector. How can I find which host is being a given uid ?

[2020-03-11 13:04] mfundul commented on #7468
The master server would be at `/opt/netdata/var/cache/netdata/dbengine`, this is one of the slaves.

You can check your slave's netdata installation folders, the UUID should be under `var/lib/netdata/registry/netdata.public.unique.id`. For example, for your netdata master server it would be under:
`/opt/netdata/var/lib/netdata/registry/netdata.public.unique.id`.

[2020-03-11 13:34] mfundul commented on #7468
Can you highlight the "flushing_pressure_deletions" dimension instead of the "deletions" dimension for me please?

[2020-03-11 13:38] jbfuzier commented on #7468
Here are the error log from the slave e295a868 and from the central instance :

[error_log.zip](https://github.com/netdata/netdata/files/4318502/error_log.zip)

This slave instance collects lots of metric using statsd, those metrics are used in the graphite backend, we are using netdata just to centralise & collect them.

On  e295a868 :

![image](https://user-images.githubusercontent.com/4688432/7

[2020-03-11 13:43] mfundul commented on #7468
This shouldn't be a problem. I will take a look at the logs.

[2020-03-11 14:36] ilyam8 commented on #8106
families: *
      on: dns_query_afranet_servers_from_afranet_dns.query_time

should be `alarm`

templates `on` on context, alarms on `char id`

[2020-03-11 14:43] ilyam8 commented on #8106
Keep in mind that `alarm` applies only on the specific chart, if you have several  dns_query jobs, you need to use `template`.

[2020-03-11 14:43] #8106 closed

[2020-03-11 15:53] amoss commented on #8049
@jacekkolasa We need to discuss the first point on how to suppress the sign-up. The other parts are complete in the agent already.

[2020-03-11 15:53] #8049 closed

[2020-03-11 16:14] petecooper opened #8377 "[docs] 404 errors on `go.d` collector links, 'name' column"
##### Bug report summary

404 errors on `go.d` collector links, specifically the 'name' column:

https://github.com/netdata/netdata/blob/master/collectors/COLLECTORS.md#go-god

Leaving this here as a note to myself, I will investigate and raise a PR if/when I find correct links.

[2020-03-11 16:24] amoss opened #8378 "Remove the feature flag for ACLK."
### Summary

* Confirm with @cosmix
* Check installer state
* Check code state
* Add soft feature flag in config file.
* Fix product 535

[2020-03-11 16:34] petecooper commented on #8377
Actually, I'm going to have to defer to someone else - the target directory https://github.com/netdata/netdata/blob/master/collectors/go.d.plugin/modules/ and its parent (https://github.com/netdata/netdata/blob/master/collectors/go.d.plugin/) appear to be missing and my search foo isn't able to locate it.

[2020-03-11 16:39] mfundul commented on #7468
It seems like it's always related to the netdata slave `pleistocene11` from localhost not updating its own local statsd metrics frequently enough, e.g.:

[code]

It seems like those metrics are not being collected for tens of minutes at a time for some reason.

[2020-03-11 16:55] mfundul commented on #7468
@jbfuzier do you have any idea why that may be happening to `pleistocene11`? Can you give me additional information about this specific netdata agent?

[2020-03-11 17:00] ilyam8 commented on #8377
thx for reporting @petecooper!

[2020-03-11 17:14] mfundul commented on #7468
I'd also like to know how many total metrics are in this agent (5K again?) and how many charts. I'd like to get a feeling of the average amount of metrics per chart in `pleistocene11`. Doing a query at `localhost:19999/api/v1/charts` would be useful (or whatever IP address is the correct one for this netdata agent).

[2020-03-11 17:19] racile commented on #423
Netdata v1.20.0-1190-nightly

i'm using multiple screen to monitor multiple nodes at the same time, on the main dashboard the onfocus event problem was solved by the option in:

Settings > Performance > When to refresh the charts?
Change from **On Focus** to **Always**

when i refresh the page it added the **update_always=true** on the url and it works.
http://my.netdata:19999/#menu_system;theme=s

[2020-03-11 18:22] jbfuzier commented on #7468
Every second, Netdata collects 5,460 metrics on pleistocene11, presents them in 2,232 charts and monitors them with 247 alarms.

[2020-03-11 18:27] mfundul commented on #7468
Is there a chance there may be some huge charts (lots of dimensions per very few charts)? How many charts are produced by statsd? Could you identify what the largest chart is from statsd? How many dimensions in it?

[2020-03-11 18:35] jbfuzier commented on #7468
Is it ok if I collect the /api/v1/charts through the central netdata through <my_central_netdata>/host/pleistocene11/api/v1/charts ? Or do I need to do it on the slave itself ?

I can send the file to you if you send me your email (I can not post this publicly)

From you question on what my be happening, pleistocene11 has the folowing config :

[code]

There are lots of different scripts that run

[2020-03-11 18:42] jbfuzier commented on #7468
All my statsd charts are single dimension charts. 1241 charts currently.

Here is a typical chart :
[code]

This is from one script which query the syslog-ng daemon on the server every 60s, get the number of event received for each host sending logs to the syslog server, send this data to statsd.

[2020-03-11 18:46] mfundul commented on #7468
You can send it to me at markos@netdata.cloud but that may not be necessary if the statsd charts are single dimension charts.

@ilyam8 @vlvkobal do you have any insight on the effects of this statsd batch effect?

[2020-03-11 19:29] mfundul opened #8384 "Repeated dbengine global flushing errors for statsd"
Hi,

I am having the same issue in v1.20 with the following setup :

- 10 headless, memory = none collectors, streaming to a central colector
- Around 5k metrics / collector => ~50k metrics on the central collector
- Central collector is running in a lxc container (proxmox), storage is on a dedicated SSD (memory=dbengine)

- OS / Environment

- Netdata Version

- Component  Name

In error.log I ge

[2020-03-11 19:30] mfundul commented on #7468
Let's keep track of this problem in #8384.

[2020-03-11 19:30] #7468 closed

[2020-03-11 19:37] mfundul commented on #8384
Ok, I think the problem is with the interaction of the statsd native collector with memory mode `dbengine`, and the fact that the batching can create an unpredictably large number of outstanding pages. By calling the collector every 2 hours for instance it's possible that the corresponding `dbengine` instance runs out of free pages.

[2020-03-12 02:08] sk33lz commented on #8094
These cookies are now being completely blocked in Chrome 80.0.3987.132.

```A cookie associated with a cross-site resource at http://registry.my-netdata.io/ was set without the `SameSite` attribute. It has been blocked, as Chrome now only delivers cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>

[2020-03-12 07:26] ilyam8 opened #8390 "`go.d.conf` modules format is confusing"
@ilyam8

Thanks, I got it sorted out, few things that I had missed or messed up.

1.) In "go.d.conf" I had uncommented mysql line but accidentally removed space from start.
2.) My go.d/mysql.conf was broken

_Originally posted by @WerdPress in https://github.com/netdata/netdata/issues/8370#issuecomment-597318547_

- `python.d.conf`

[code]

 - `go.d.conf`

[code]

go.d.conf modules format is a sou

[2020-03-12 07:31] ilyam8 commented on #8390
Related:
 - https://github.com/netdata/netdata/issues/8370#issuecomment-597318547
 - https://github.com/netdata/netdata/issues/8072#issuecomment-585411890
 - https://github.com/netdata/netdata/issues/7371#issuecomment-558953658
 - https://github.com/netdata/netdata/issues/7546#issuecomment-566440368
 - https://github.com/netdata/netdata/issues/7077#issuecomment-541690904

actually there is more, s

[2020-03-12 07:45] #8377 closed

[2020-03-12 09:20] stelfrag commented on #8350
In sync with the product team it was decided that queries during pop-corning will be ignored. We will re-examine this in the future if there are new commands sent to the agent that need to be handled in a different way.

[2020-03-12 09:49] amoss opened #8391 "Fix any ACLK connection issues"
#### Summary

* Investigate the latency and throughput of the ACLK.
* Test large on-connect payloads and verify the transit time to the broker.
* Fix any performance issues discovered.
* Investigate the error message about multiple connection, and fix any underlying issues.
* Verify the message encapsulation and encoding.

[2020-03-12 10:12] #8390 closed

[2020-03-12 10:28] amoss commented on #8391
The code to handle UTF-8 escaping that should process the strings within the JSON is being executed across the whole of the buffer so it is re-encoding every tab and newline outside of the strings. This needs to be re-written so that it only encodes the embedded strings and not the context around them.

[2020-03-12 10:36] #8273 closed

[2020-03-12 10:46] stelfrag commented on #8350
- Added check so that incoming requests from the cloud will be ignored if the agent is still initializing. There is no attempt to queue the commands.

The timer is not affected by the cloud commands anymore

[2020-03-12 10:57] stelfrag commented on #8350
The interval will be reduced / tuned. As it is now, it will always sleep X seconds (defined as 10 now) so if the last activity is detected on _agent_start_ + 9 seconds, it will sleep another 10 seconds so the agent will be marked stable on _agent_start_ + 19 seconds

[2020-03-12 11:28] #7175 closed

[2020-03-12 12:52] #8367 closed

[2020-03-12 13:43] amoss commented on #8391
Measuring the latency between the ACLK task in the agent and a client connected to VerneMQ.

22KB message: 3 seconds.
730KB message: 111 seconds.

[2020-03-12 14:01] Ferroin commented on #6740
I'm going to look into implementing this in GitHub Actions as part of the Build & Install test workflow.

[2020-03-12 14:02] Ferroin commented on #6740
PR will be forthcomming after #8383 is merged (as I'm basing the work on that).

[2020-03-12 14:23] #8022 closed

[2020-03-12 15:05] #8366 closed

[2020-03-12 15:09] thiagoftsm commented on #7338
This feature request was already implemented.

[2020-03-12 15:09] #7338 closed

[2020-03-12 15:24] mfundul commented on #8251
@yasharne can you test #8375 for your master netdata server? It should be much better for #8251 and especially #8218

[2020-03-12 16:57] joelhans commented on #8069
Now that I think about it, there's no way we can list all of the different things collected by something like proc.plugin. If we did that, we might as well list _all_ the charts from _all_ the collectors, and that would get ridiculous really fast.

Maybe we can borrow from the old README though. I can get started on this tomorrow, maybe.

## System metrics

[](proc.plugin/README.md)
[Block devices

[2020-03-12 19:39] pickscrape opened #8393 "Can't install from packagecloud on Ubuntu 19.10 (eoan)"
##### Bug report summary

With the packagecloud.io repository set up, I see the latest netdata version to be 1.20.0 (as opposed to the ubuntu repository's 1.16.1-2). However, the package will not install due to missing dependencies:

[code]

##### OS / Environment

[code]

##### Netdata version

N/A

##### Steps To Reproduce

1. Try to install on Ubuntu 19.10 via packagecloud.

##### Expected beha

[2020-03-12 20:38] PewPewFingerGuns opened #8395 "SNMPv3 - AES?"
I as reading the documentation regarding the SNMPv3 implementation and noticed only two options are available:

"none",
"DES".

Am I correct in assuming AES is not yet supported?

[2020-03-12 20:45] Ferroin commented on #8393
Correct deps for 19.10 should be `libjson-c4` and `libprotoc17`.

[2020-03-12 21:01] Ferroin opened #8396 "`install-required-packages.sh` doesn't pull in packages for some optional features."
Currently, to build all the optional features in netdata, you need to install almost a dozen extra packages beyond what `install-required-packages.sh netdata-all` pulls in.

[2020-03-12 21:19] ilyam8 commented on #8395
Netdata uses [node-net-snmp](https://github.com/markabrahams/node-net-snmp) lib. I see AES support was added 24 Jan

We need to update the lib

[2020-03-12 22:11] prologic commented on #8396
Lets also as part of this work figure out how to prevent this divergence from happening again in addition to fixing the missing dependencies in our tooling.

[2020-03-12 22:12] prologic commented on #8396
I _think_ this can go in our Backlog too as lo-pri at this time. Its not blocking anyone or anything I can think of right now.

[2020-03-12 23:11] prologic commented on #8003
We retry most of the things that fail often and have thus reduce Travis noise considerably. This will get further fixed by #8329 and netdata/infra#233 -- Closing this as "done".

[2020-03-12 23:11] #8003 closed

[2020-03-13 01:44] prologic commented on #8285
@Ferroin This is technically in progress right with #8286 ?

[2020-03-13 01:46] prologic commented on #8284
@Ferroin The "Checks / Dist" workflow is now migrated to GHA. Can you elaborate on what's needed here?

[2020-03-13 01:52] prologic commented on #8149
This got fixed likely by the following commits:

- * ff4eb9c8 2020-03-10 | Fix cosmetic error checking for CentOS 8 version in install-required-packages (#8339) [James Mills]
- * 72d35831 2020-03-05 | Fix RHEL / CentOS 8.x dependencies for Judy-devel and others (#8202) [James Mills]

This no longer repros:

[code]

=> [log](https://gist.github.com/prologic/0c07980b3f7a3fd3f27cf553e6898cf9)

[2020-03-13 01:52] #8149 closed

[2020-03-13 04:57] prologic commented on #8393
This is actually more broken than we realised on Ubuntu 19.10 😳

[code]

Still working on it...

[2020-03-13 05:00] prologic commented on #8393
Wait hold on I _might_ have forgotten `dpkg -i` doesn't handle dependencies? 🤔

[2020-03-13 05:02] prologic commented on #8393
Okay I _assume_ this should work:

[code]

Now I just need to push the updated packages up to PackageCloud.

[2020-03-13 05:05] prologic commented on #8393
And its running:

[code]

I've attached the Debian packages here to this issue in case anyone wants to directly install them on Ubuntu 19.10 by hand.

[artifacts.zip](https://github.com/netdata/netdata/files/4327956/artifacts.zip)

[2020-03-13 06:43] #8277 closed

[2020-03-13 11:11] ilyam8 commented on #8395
We have `node-net-snmp` lib vendored, i see they added mib parsing feature (10k+ lines)

Vendor the latest version means add all those lines to the netdata repo. What do you think guys @cakrit @jacekkolasa ?

[2020-03-13 11:12] ilyam8 commented on #8395
Probably it will work w/o adding mibs

[2020-03-13 11:17] ilyam8 commented on #8395
@markabrahams could you help? We would like to update to the latest but it would be nice to not include mibs and at the same time it would be nice to not change source code.

[2020-03-13 11:50] Ferroin commented on #8396
The way to prevent this from happening in the future is to add a configure option to turn on all the optional dependencies, and then use that option for CI builds.

The simple fact that this stuff was optional is why it got missed.

[2020-03-13 11:52] Ferroin commented on #8285
I'd say it's more logically blocked by #8286. We can't have `kickstart.sh` support working without that, but it's not really the kickstart scripts that it's fixing.

[2020-03-13 11:54] Ferroin commented on #8284
It needs #8382 merged and that flag needs to be used for the `make dist` builds. However, #8382 is effectively blocked pending completion of #8378, which will resolve the build failures being seen in it.

[2020-03-13 13:20] cosmix commented on #8094
@jacekkolasa @Azein let's confirm that this is not going to be a problem going forward.

[2020-03-13 16:14] #7983 closed

[2020-03-13 21:38] #8350 closed

[2020-03-14 15:51] prehonor opened #8402 "error while loading shared libraries: libprotobuf.so.21: cannot open shared object file"
##### Question summary
[code]

when I run netdata in terminal , it says :

[code]

##### OS / Environment
[code]

##### Component Name
packaging

##### Expected results
run netdata

[2020-03-14 17:40] #8391 closed

[2020-03-14 17:53] stelfrag commented on #8035
The alarm hook is already in place.

The alarm update is sent when an entry in the health log is added (The same json structure is generated)

The type of the message should be "status-change"

[2020-03-14 19:18] thiagoftsm commented on #8035
@stelfrag  are we going to send the alarm log? Or we are going to send only alarms when they are created?

[2020-03-15 00:46] toadjaune opened #8405 "Netdata debian package fails to start after fresh install on buster"
##### Bug report summary

On debian Buster, when installing netdata through the stable packages, it fails to start with `Cannot cd to directory '/var/cache/netdata'`.
The edge repository is not affected.

##### OS / Environment
[code]
This is a clean system created with vagrant/libvirt to reproduce this issue, nothing else has been installed on it.

##### Netdata version
[code]
##### Component Nam

[2020-03-15 09:48] #8035 closed

[2020-03-15 11:05] markabrahams commented on #8395
Hi @ilyam8 - at the moment the structure of the module is monolithic, and the MIBs are required for the agent implementation and MIB parsing sections of the module.  Removing these would leave a half-broken module, even though it's a half you might not use in your case.  So your options are to live with the 300KB of extra MIB files, or fork the repo and delete the MIBs - and maybe to be consistent

[2020-03-15 19:20] setop commented on #7728
I used `netdata-v1.19.0.gz.run` on a Linux x86_64 machine.

[2020-03-15 19:35] #8091 closed

[2020-03-16 05:09] prologic commented on #8393
Manually uploaded a `1.20.168` set of Ubuntu eoan packages to our packagecloud repo and it works:

[code]

But I'll have to remove them in case the bumped manual version collides with our CI :/

Hopefully I can get #8397 merged before tomorrow's nightly.

[2020-03-16 07:19] ilyam8 commented on #8395
i dont like it because it will be hard to keep in sync with the upstream.

@amoss what do you think?

[2020-03-16 08:38] amoss commented on #8395
* Which collector will use it and what language is that collector implemented in?
* Is this the main repo or go.d?

[2020-03-16 09:24] ilyam8 commented on #8395
snmp collector - node.js

`node-net-snmp` lib is vendored

It would be nice to update it because lack of AES sounds bad, but to have it updated we need to add +300KB (costs of having something vendored).

[2020-03-16 11:41] mfundul commented on #8251
#8375 has now been merged to master.

[2020-03-16 11:42] #8218 closed

[2020-03-16 13:39] Nirjonadda commented on #8242
@prologic @thiagoftsm Does this issue fixed?

[2020-03-16 14:47] thiagoftsm commented on #8242
Hi @Nirjonadda we merged today on `kernel-collector` repository the eBPF programs that we compiled for the latest Kernel versions of CentOS and RH, we are only missing the changes on `netdata-installer.sh`.
I will work on this today, and it will be possible to also use this collector on RedHat and CentOS.
We apologize the delay, but we are working also working on other features during these days.

[2020-03-16 14:51] thiagoftsm commented on #7886
To confirm that `promiscuous mode` does not affect the eBPF collectors I accessed the url https://www.netdata.cloud/ using Firefox with private window to disable cache. Firstly I open the page without to set `promiscuous mode`, when the page was loaded, I closed the window and I ran the following command:

[code]

to confirm that the interface was set as promisc, I ran the following command:

[cod

[2020-03-16 15:42] thiagoftsm commented on #7886
To set a VLAN on Linux I used the following script:

[code]

After this I started the Virtual Box using `bridge interface` on `wlan0.200`.  After the boot finishes, I ran the following commands inside the VM:

[code]

Some packages were missed when I was testing in this scenario. This has relationship with the functions called inside the kernel on host instead a possible bug with the collector.

[2020-03-16 15:50] Ferroin opened #8409 "Obviously bogus values reported for idlejitter."
##### Bug report summary
The idle jitter collector is reporting obviously bogus values on my home server system. Hardware is a Ryzen 9 3950X with 64GB of DDR4-2666 RAM.

The `min` dimension is stuck reporting 0, `max` is stuck reporting -1, and `average` is seemingly randomly jumping between 0 and 361701000000000000.

![screenshot-7503b3bf](https://user-images.githubusercontent.com/905151/76775416

[2020-03-16 15:54] mfundul commented on #8409
Have you tried different `memory mode`s? Have you enabled HPET?

[2020-03-16 16:00] Ferroin commented on #8409
There's no option to disable the HPET on this hardware. I've not tested yet with a different memory mode though. I'll check that first thing after lunch.

[2020-03-16 16:14] mfundul commented on #8409
What are the values of `dmesg | grep HPET` and `cat /sys/devices/system/clocksource/clocksource0/current_clocksource`?

[2020-03-16 16:25] mfundul commented on #8409
It's possible that the idlejitter data collection thread is hopping from CPU complex to CPU complex and changes clock domains. But that would only make sense if there was no reliable system clock.

[2020-03-16 17:13] Ferroin commented on #8409
It can't be an issue with jumping between domains. First thing I tried right after opening the issue was pinning the idle jitter thread to a single CPU, and that's doing nothing.

Possibly relevant, but it reports 'normal' metrics for a short period of time after the system reboots, typically a few minutes from when Netdata itself starts up, but just restarting Netdata does nothing.

There are thr

[2020-03-16 17:16] Ferroin commented on #8409
Same behavior with `memory mode = ram` and `memory mode = save` as well, so it looks like it's not the dbengine at least.

[2020-03-16 17:21] Ferroin commented on #8409
Also, current clock source appears to be TSC, not HPET. I'll reboot with `clocksource=hpet` to see if that helps at all.

[2020-03-16 17:28] Ferroin commented on #8409
Same behavior with the clocksource forced to be the HPET.

[2020-03-16 17:31] Ferroin commented on #8409
Correction, looks like that _may_ have fixed it. I'm not 100% certain yet though.

[2020-03-16 17:31] Ferroin commented on #8409
Nope, didn't fix it.

[2020-03-16 18:55] stelfrag commented on #8369
Update:

- The LWT is set before the connection is established.
- When the agent shutdowns gracefully:
  - A new message that indicates a `graceful` shutdown is constructed and sent to the ACLKs `outbound/meta` topic.
  - An MQTT disconnect packet is created.
  - The lws layer needs to remain active to deliver the final message to the broker
  - The event loop is called explicitly to handle the pa

[2020-03-16 19:13] mfundul commented on #8409
No, we're not actually talking to it, it is the former. It is actually pretty straightforward code, this is why I was thinking this being a hardware configuration issue.

[2020-03-16 19:14] mfundul commented on #8409
I did change some clock code in the daemon but if the release version 1.20 has the same problem then this is not the cause.

[2020-03-16 19:22] amoss commented on #8104
I had a chat with @fracasula and I will write something to provoke the test cases that we need for the pushed updates.

[2020-03-16 19:34] Ferroin commented on #8409
I can check 1.20 again just to be sure.

I think it probably is something with the hardware configuration though, I'm not seeing the same issues with a functionally identical build of Netdata on any of my other systems, and I was not seeing this behavior prior to upgrading the hardware in question over the weekend. I'm stumped as to what exactly it might be though. The NTP daemon on the same syste

[2020-03-16 19:40] mfundul commented on #8409
I think Ryzen CPUs turn off their clocks during CPU sleep states whereas intel CPUs do not. However, I would expect HPET to solve this kind of problem.

[2020-03-16 19:45] mfundul commented on #8409
Might be related to this? https://www.tomshardware.com/reviews/amd-ryzen-clock-bug-benchmark-scores,6312.html

[2020-03-16 19:50] Ferroin commented on #8409
Possibly, but the discrepancy here seems a bit large for it to be that. 361701000000000000 microseconds translates to roughly 11461 years if I'm doing the math right...It doesn't look much like an overflow error either though. It works out to 5050524A3E75000 in hexadecimal, so it's not at a easy to understand halfway point.

[2020-03-16 19:52] Ferroin commented on #8409
However, I can try rebuilding the kernel with a different timer frequency and see if that changes anything. IIRC, this one is the only system I have running at 100Hz.

[2020-03-16 23:24] prologic commented on #8128
@samuelmf Apologies for the delay on this one, other things got in the way.

I have a few questions for you now that I'm back on this and plan to complete it today.

- Why do you have your setup setup in such a way that `/tmp` is an ext4 partition backed by a disk and with `noexec` mount options? (_I'm mostly curious_)

- Can you (_if the logs are still available_) have a poke around your cron log

[2020-03-16 23:25] prologic commented on #8128
I can also reproduce this artificially by re-mounting `/tmp` with `noexec` and commenting out this line.

[2020-03-17 04:03] prologic commented on #8142
@ritzzbv Apologies for the dealyed response, but this is intended behaviour and although maybe needs clearing up in the `./netdata-installer.sh --help` and the [docs](https://docs.netdata.cloud/packaging/installer/#nightly-vs-stable-releases).

I'm not sure we want to change this at this point as it makes for a more complicated `netdata-installer.sh`.

cc @Ferroin your thoughts?

[2020-03-17 04:04] prologic commented on #8142
As shown `RELEASE_CHANNEL` and thus --release-channel` argument which is passed t othe installer from kickstart affects the NetData installer/updater environmenbt/configuration:

[code]

It is only really used in the updater.

[2020-03-17 04:05] prologic commented on #8142
If you want to install NetData in an offline environment see [Install NetData on offline systems](https://docs.netdata.cloud/packaging/installer/methods/offline/) which _could_ also be used to install specific versions of the agent as well (_since it installs from local files_).

[2020-03-17 09:35] thiagoftsm opened #8415 "Coverity (CID 355076)"
##### Bug report summary
[code]

We have the following call sequence : `appconfig_get_boolean` -> `appconfig_get` , when the function on line 289 inside the file `libnetdata/config/appconfig.c`  is called it tries to find the section that we want and case it is not found, it calls appconfig_section_create and this function also calls `appconfig_wrlock`.

We need to avoid this situation that always

[2020-03-17 11:22] ilyam8 commented on #5729
To get better understanding what is k8s, how it works, how to install/remove/update an app, etc i decided to go through deploying an app process from the beginning.

It is hard to contribute to autodiscovery topic without the good undertanding of the subject.

My practice:

K8s environments:
 - local (installed using minikube tool)
 - testing kubernetes project on GCP

My app:

It is multicontaine

[2020-03-17 11:28] Ferroin commented on #8128
I can't substantiate any specific reason to have `/tmp` backed by a physical partition, but mounting it with `noexec` is a rather common security choice. Most legitimate software never needs to execute files in `/tmp`, and just outright blocking that actually breaks quite a few older rootkits and worms.

[2020-03-17 12:01] Ferroin commented on #8409
Using a kernel with a different timer frequency appears to produce no visible changes in the behavior either.

[2020-03-17 12:10] lab-w commented on #449
Thanks @cakrit and @thiagoftsm , think you are right that there are some more things to change...

Anyway, since I still need a sub-millisecond data visualisation I've tried in a first step to test if it is possible to feed that much data into the database - fast enough.
In my test I've used a bash plugin (charts.d) that is updated every second. in the update function I call a c programm that prin

[2020-03-17 12:23] mfundul commented on #449
Right now the only interface to get data from a plugin is the text protocol of the `Plugins.D` language which also has to go through a pipe. As a result, the overhead is what it is.

The other way to interact with the database is to write a native collector, that does not have to go through this interface. You can check out the `/proc` collectors or the `statsd` collector. This is bound to be much

[2020-03-17 12:57] #8090 closed

[2020-03-17 12:57] #8263 closed

[2020-03-17 15:00] lab-w commented on #449
Thanks @mfundul , I'll check that out.

[2020-03-17 17:22] mfundul commented on #8368
Spawning `alarm-notify.sh` processes may take from 10ms to 200ms depending on:
- Number of file descriptors being closed during `fork()`
- Number of page table entries being copied by `fork()` (depends on netdata memory footprint)

The only way to minimize spawn overhead is to create a separate minimal server process that spawns processes itself and receives commands via IPC.

[2020-03-17 17:32] thiagoftsm commented on #7886
To test the eBPF program on docker, I used the following dockerfile:

[code]

together the https://github.com/netdata/kernel-collector/suites/527521572/artifacts/3027702 .

To build the image and run commands inside the container, it was used the next command:

[code]

When we are inside the docker image, it is necessary to run the next commands before to run the collectors or the tester:

[code]

[2020-03-17 17:38] thiagoftsm commented on #7886
As described previously we will allow our users to set the pair `IP` and `MASK` in three different formats:

[code]
in these format the value in front the separator will always be the  network address and the second the network mask.

[TOP](https://github.com/netdata/netdata/issues/7886#issue-556582294)

[2020-03-17 17:46] thiagoftsm commented on #7886
Users can have different `TCP` and `UDP` ports to monitor, with this in mind we are creating two options inside `network_viewer.conf`:

[code]

As you can se we are also enabled as separators either  commas or spaces.

[TOP](https://github.com/netdata/netdata/issues/7886#issue-556582294)

[2020-03-17 20:02] yasharne opened #8419 "DNS query plugin doesn't detect the dns failure"
##### Bug report summary

We are using the DNS query plugin to monitor one of our services from `1.1.1.1`. The problem is, we got in a situation where we couldn't resolve the query using dig command:
[code]
We even closed the `1.1.1.1` destination on the firewall,
but in the charts we saw a still query time:
![image](https://user-images.githubusercontent.com/7656049/76895407-2e114e00-68a5-11ea-9a8

[2020-03-17 20:21] ilyam8 commented on #8419
Hi 👋

i dont see it caches the response, is there is 2 checks:
 - response code
 - error

So if there is error or response code != success it doesnt add value to the result map

https://github.com/netdata/go.d.plugin/blob/6542eefdc8697a4c8fc1060e620d4ff13575c44d/modules/dnsquery/dnsquery.go#L177-L191

[2020-03-17 20:31] ilyam8 commented on #8419
i tested it

[code]

I created a rule to drop all packets to the dst 8.8.4.4 and enabled it during the debug

 - Disabled

[code]

 - Enbled

[code]

 - Disabled again

[code]

[2020-03-17 20:32] ilyam8 commented on #8419
The chart should froze, dns_query module doesnt return any value in case of error.

[2020-03-17 20:35] ilyam8 commented on #8419
We need to add availability alarm.

[2020-03-17 20:36] yasharne commented on #8419
I have this job:
[code]
and if I get answers from `8.8.8.8` and `9.9.9.9`, the chart won't freeze

[2020-03-17 20:36] ilyam8 commented on #8419
Yes, but there is no new data for `1.1.1.1`

[2020-03-17 20:40] yasharne commented on #8419
Therefore it keeps the old one:
![image](https://user-images.githubusercontent.com/7656049/76899491-ea224700-68ac-11ea-94b5-4070aed7bc26.png)

[2020-03-17 20:41] ilyam8 commented on #8419
<img width="1222" alt="Screenshot 2020-03-17 at 23 41 13" src="https://user-images.githubusercontent.com/22274335/76899539-cd841000-68a8-11ea-9c22-310d6aee7dc0.png">

[2020-03-17 20:43] ilyam8 commented on #8419
It seems your blocking rule doesnt work for the module for some reason, check the debug mode

[2020-03-17 21:01] yasharne commented on #8419
I closed the `1.1.1.1` destination on the firewall again, and here is the output of `/opt/netdata/usr/libexec/netdata/plugins.d/go.d.plugin -m dns_query | grep -i "1_1_1_1"` command:
[code]
But I don't know why I still see it on the chart:
![image](https://user-images.githubusercontent.com/7656049/76901077-cc0a1600-68af-11ea-9460-7f23fcae96e8.png)

[2020-03-17 21:11] hexchain opened #8421 "dbengine loses recent metrics on abnormal exit"
##### Bug report summary
When `dbengine` is in use and netdata abnormally exits, recent metrics are lost.

##### OS / Environment
Arch Linux, kernel version 5.5.9-zen1-2-zen.

##### Netdata version
netdata v1.20.0

##### Component Name
database

##### Steps To Reproduce
1. Run netdata for a few minutes
2. Kill netdata with an abnormal signal, such as ABRT.

##### Expected behavior
Ideally, no metr

[2020-03-17 21:12] ilyam8 commented on #8419
There is no value as you see. There is no magic, we are missing something.

What is your fw rule? `iptables -A OUTPUT --dst 1.1.1.1 -j DROP`?

[2020-03-17 21:13] yasharne commented on #8419
yes

[2020-03-17 21:18] ilyam8 commented on #8419
🤷‍♂ if the request is originated by the server it should go through `OUTPUT` chain.

Is `error on querying` errors in the netdata error.log?

[2020-03-17 21:21] ilyam8 commented on #8419
Probably conntrack? do you `ACCEPT` some RELATED, ESTABLISHED?

[2020-03-17 21:22] yasharne commented on #8419
I see errors on dns_query cannot resolve from `1.1.1.1` and I believe the plugin is working fine because I don't get any output when I run the plugin in the debug mode, but there may be some problem on the APIs repeating the previous number which causes still number (both on the netdata dashboard and Prometheus)

[2020-03-17 21:27] ilyam8 commented on #8419
netdata dashboard shows the data returned by the module. So if it shows values then module returns the values. However i cant reproduce it atm.

[2020-03-18 01:07] NinoM4ster opened #8422 "kickstart.sh not displaying line breaks (\n) correctly."
##### Bug report summary

Hello! While reinstalling Netdata on two Ubuntu systems with the Kickstart script, I noticed that in some parts, the script fails to display a line break properly, instead showing a literal `\n`:

![image](https://user-images.githubusercontent.com/8485761/76914706-e33e0900-6899-11ea-8c78-17b21541226d.png)

##### OS / Environment

[code]

##### Netdata version

 netdata v1

[2020-03-18 01:33] abdulnewswav opened #8423 "Add support for MaxScale"
Hi,

I would like to suggest to add custom plugin to support Maxscale server
you can read more about MaxScale from here:
https://mariadb.com/kb/en/maxscale/
It's a smart database proxy and load balancer, which can redirect queries to different SQL DBs based on predefined rules, I look into internet and i just got few Prometheus exporters, so I think is possible to add a plugin and integrate metric

[2020-03-18 01:37] NinoM4ster opened #8424 "(Solved) Two similar systems, same version, different layout...?"
##### Bug report summary

Hello! I recently reinstalled Netdata on two similar Ubuntu systems, but they still look very different, including the browser icon (which was one of the reasons of the reinstall).

System 1:
![image](https://user-images.githubusercontent.com/8485761/76915656-d1119a00-689c-11ea-8e6d-2bb171d30b66.png)

System 2:
![image](https://user-images.githubusercontent.com/8485761/76

[2020-03-18 01:42] NinoM4ster commented on #8424
Well, this is awkward...

After restarting the Netdata service (`sudo service netdata restart`) and refreshing the browser with Ctrl + F5 it's now looking like it should.

Maybe browser caching is to blame?

Either way, sorry for the useless bug report and thanks for this awesome tool.

-Nino

[2020-03-18 01:43] #8424 closed

[2020-03-18 01:44] thiagoftsm commented on #8424
Hello @NinoM4ster ,

Considering your last comment,  I would say that cache was probably the problem, but case it persists, please, let us know.

Best regards!

[2020-03-18 02:44] #7920 closed

[2020-03-18 07:59] ilyam8 commented on #8423
Hi @abdulnewswav

Does it expose some metrics? How to retrieve them?

I see that module does some monitoring itself

[2020-03-18 08:58] mfundul commented on #8421
Related to  #8384.

[2020-03-18 09:28] abdulnewswav commented on #8423
@ilyam8
Yes it does!
It has a rest api:
https://mariadb.com/kb/en/mariadb-maxscale-24-maxctrl/
It can show threads, services, servers ...
this one: https://mariadb.com/kb/en/mariadb-maxscale-24-maxctrl/#show-service can show how many connections connected to the service
So I think Maxscale server can export a good bunch of data

[2020-03-18 09:44] #7948 closed

[2020-03-18 10:54] jptuomi commented on #3449
Had this problem with netdata on Synology, the offending path was /volume1/@docker which was easily excluded in the diskspace plugin.

However the above error is quite critical as the web-interface stops working as it should with regards to the Alarms popup among other things.

[2020-03-18 11:44] #8016 closed

[2020-03-18 11:54] ilyam8 commented on #3449
@jacekkolasa please take a look

[2020-03-18 11:59] jptuomi commented on #8343
I can confirm that this solves the issue, the guide should be updated with these two settings.
https://docs.netdata.cloud/packaging/installer/methods/synology/

[2020-03-18 12:05] stelfrag commented on #8349
Update:

- In certain occasions the user supplied callback function was not called to fill the user supplied structure with the parsed results

[2020-03-18 12:12] mfundul commented on #8421
@hexchain can you test #8425 ?

[2020-03-18 12:17] ilyam8 commented on #8343
@jptuomi are you willing to make a PR?

[2020-03-18 13:16] hexchain commented on #8421
I still lost all metrics on abnormal exit with #8425. Also, netdata crashes on SIGABRT even if I type "^C" in terminal.

My test environment:
OS: Arch Linux, upgraded to the latest
netdata version: v1.20.0-185-g654f28d7
netdata.conf:
[code]

Crash backtrace:
I've seen two possible backtraces.
[code]

[code]

[2020-03-18 13:24] mfundul commented on #8421
Well, if it crashes it makes sense you're losing the metrics. I have to reproduce those crashes now.

[2020-03-18 13:30] mfundul commented on #8421
Can you share your `error.log`?

[2020-03-18 13:35] mfundul commented on #8421
Does `netdatacli` work for you? It might be possible the netdata command server never set-up correctly in your installation.

[2020-03-18 13:37] hexchain commented on #8421
I believe you can also kill netdata with SIGTERM/SIGQUIT to achieve the same result. SIGABRT also works but the stack trace is different.

Sure, it is at https://paste.xinu.at/9Ki/.

[2020-03-18 13:40] mfundul commented on #8421
It appears there is some problem with your netdata command server, which is why I don't see the crash. Does the cli utility work for you? See [here](https://github.com/netdata/netdata/blob/master/cli/README.md).

[2020-03-18 13:43] mfundul commented on #8421
In the error log I see a problem with the command server:
[code]

It's possible the UNIX socket cannot be created in `/tmp/netdata-ipc`.

[2020-03-18 13:47] cakrit opened #8428 "Installer stop_all_netdata uv_pipe_connect() err"
#### Question summary

In Ubuntu 18.04 I get the following installer error:

```stop_all_netdata uv_pipe_connect() : no such file or directory```

I have my netdata running as user `chris`, but I don't know if it's related.
Do we know where it comes from?

[2020-03-18 13:52] ilyam8 commented on #8428
code is

https://github.com/netdata/netdata/blob/16f835489c1a93b5dbd84747c52c883f43b716f0/cli/cli.c#L134-L160

[2020-03-18 14:00] mfundul commented on #8428
This is because the installer calls `netdatacli` which cannot find the netdata daemon, exactly because it hasn't been installed yet.

[2020-03-18 14:12] uDuCkV commented on #8405
The same applied to Ubuntu Bionic 18.04.4 LTS

[2020-03-18 14:16] mfundul commented on #8421
@hexchain I pushed a fix for your crash, it shouldn't crash any more during shutdown. Can you verify this?

[2020-03-18 14:18] hexchain commented on #8421
There is no `/tmp/netdata-ipc`, and `netdatacli` does not work for me. It says:

[code]

[2020-03-18 14:24] hexchain commented on #8421
Now it works, thanks!

[2020-03-18 14:27] mfundul commented on #8421
However, ideally you should have the unix socket `/tmp/netdata-ipc` for the full functionality of netdata. Do you have any permission issues in `/tmp/`? Are you using something like apparmor or SELinux there?

[2020-03-18 14:30] olivierlambert commented on #8405
I confirm the problem on Debian 10.

[2020-03-18 14:32] mfundul commented on #8421
I see you've put your `dbengine` files in `/tmp/` as well and direct I/O fails. What kind of filesystem is mounted on `/tmp` exactly?

[2020-03-18 14:43] hexchain commented on #8421
I don't have SELinux or AppArmor. This is a pretty vanilla Arch installation, in which`/tmp` is just a `tmpfs`. I also cannot see any permission problems.

[2020-03-18 15:03] mfundul commented on #8421
It is possible that `uv_listen` fails due to a too big backlog in your system. Can you pull the latest commit and try again to see if the fallback I added fixes your problem?

[2020-03-18 15:10] hexchain commented on #8421
It doesn't, unfortunately.

[code]

I cannot see `/tmp/netdata-ipc` at all...

[2020-03-18 15:24] mfundul commented on #8421
There are 2 possibilites that I can think of, either there is another netdata instance in this system, which is unlikely since you don't see the `/tmp/netdata-ipc` file, or something like a security subsystem is blocking netdata from listening.

[2020-03-18 15:28] mfundul commented on #8421
What is your libuv library version?

[2020-03-18 15:33] mfundul commented on #8421
It may be this commit?

https://github.com/libuv/libuv/commit/a629688008694ed8022269e66826d4d6ec688b83

[2020-03-18 15:37] hexchain commented on #8421
Yes, I did have another netdata v1.20.0 instance in this system, but even if I stop that instance before starting this one I still cannot see the socket file. I've tried libuv's pipe-echo-server example but it worked fine.

libuv version is 1.35.0.

[2020-03-18 15:38] mfundul commented on #8421
This exact version breaks the libuv API, I think we can fix it now.

[2020-03-18 15:41] mfundul commented on #8421
I have force pushed some changes, please check out again (you cannot pull).

[2020-03-18 15:55] mfundul commented on #8384
@jbfuzier can you test #8425 ?

[2020-03-18 16:04] hexchain commented on #8421
Now the socket file is there. Thanks!

[2020-03-18 18:00] ilyam8 commented on #8423
This is good.

It would be nice to get some help from on this part. It is not easy to undertand what metrics we need, how to group them, how to represent them in a meaningful way on the Netdata dasbhoard.

This is the list of resources:

Could you go trhrough it and see what resources are important, what we need to monitor?

[2020-03-18 19:02] thiagoftsm opened #8431 "Health Management documentation URL"
##### Bug report summary
The documentation for `Health Management API` is not using Netdata default port  and it is breaking the pattern that was present in the previous sections of the document.

##### Netdata version
netdata v1.20.0-182-g02b38297

##### Component Name
Documentation

##### Steps To Reproduct

1. Access the link https://docs.netdata.cloud/web/api/health/#further-reading

##### Exp

[2020-03-18 19:33] #8349 closed

[2020-03-18 19:37] #8369 closed

[2020-03-18 23:24] thiagoftsm commented on #8415
I reviewed the whole code around this bug described here, and I arrived in the conclusion that Coverity gave us this bug report, because it could not detect that we are locking `sections` and we are doing a loop trough values that cannot be recreated. The maximum that could happen in this situation is we create another option.

The final conclusion is that we have here a false positive. I will cop

[2020-03-19 01:16] thiagoftsm commented on #7873
I will present few scenarios, firstly let us suppose that we want to have an eBPF plugins completely independent of apps.plugin, in this scenario we will have a hash table inside the collector where we will store the relationship between TGIDs and PIDs. We will also have two other hash tables inside the collector, one to store the PID statistic and other to store TGID statistic. We will have the f

[2020-03-19 02:40] thiagoftsm commented on #7873
Case we decide to use with `eBPF` collector what was already created for `apps.plugin`, we need to port the following structures:

- `struct target`: target is the structure that processes are aggregated to be reported to netdata.
- `struct pid_on_target`: structure associated with the previous structure.

We will also need to move functions that manipulate these structures to a shared library, fo

[2020-03-19 09:40] #8033 closed

[2020-03-19 10:17] cakrit commented on #8428
Actually I get the error even when it is already installed and netdata is running.

[2020-03-19 10:53] jbfuzier commented on #8384
Thanks, should I update the slave, the central collector or both ?
Statsd metrics are collected by the slave and streamed to the central collector.

[2020-03-19 10:55] jbfuzier commented on #8384
Also is there an automated build somewhere or should I build this branch myself ?

[2020-03-19 11:07] mfundul commented on #8384
It hasn't been merged to master yet, so you have to build it yourself, you can run `./netdata-installer.sh`. For example:
[code]
Installs netdata under `/opt/netdata`. For more details see the [documentation](https://docs.netdata.cloud/packaging/installer/methods/kickstart/#optional-parameters-to-alter-your-installation).

You should update whatever agent has the problem with dbengine, which I bel

[2020-03-19 11:27] mixe3y commented on #8111
This error is still there and it's not fixed yet.

[2020-03-19 11:42] mfundul commented on #8428
I verified that the only way to get this message is if the agent is down, so it's possible the installer calls `netdatacli` multiple times.

[2020-03-19 11:46] mfundul commented on #8428
By looking at here:
https://github.com/netdata/netdata/blob/fd343ac0c262cd6a1535b67e7894d06760e10259/packaging/installer/functions.sh#L571

It is possible that systemd has stopped netdata already before `netdatacli` is called.

[2020-03-19 12:12] pgassmann commented on #8405
On Ubuntu Bionic:

apt install has two warnings:
[code]
When starting it has first missing directory `/var/cache/netdata`
[code]
when created using `mkdir /var/cache/netdata` then the next missing directory is `/var/log/netdata`

[code]

After creating this directory using `mkdir /var/cache/netdata` systemd continuously restarts the service: `journalctl -xe -u netdata.service`

[code]

[2020-03-19 12:14] pgassmann commented on #8405
cat /lib/systemd/system/netdata.service
[Unit]
Description=netdata real-time system monitoring
After=network.target
it looks like the service file is incomplete when compared to the script-installer.

from apt repository: `cat /lib/systemd/system/netdata.service`

[code]

from script installer (binary-script):

`cat /lib/systemd/system/netdata.service`
[code]

[2020-03-19 12:18] Ferroin commented on #8428
Relabeling this as a bug, there's a logic error there that appears to be causing this.

[2020-03-19 12:28] pgassmann commented on #8405
workaround: Create netdata.service

vim `/etc/systemd/system/netdata.service`
[code]
Reload systemd: `systemctl daemon-reload`
Create log directory: `mkdir /var/log/netdata`
Start Netdata: `systemctl start netdata`

[2020-03-19 12:38] #8124 closed

[2020-03-19 13:18] #8419 closed

[2020-03-19 13:23] DirectRoot opened #8435 "Disabled Alarms Turning Back On?"
##### Question summary

When commenting out alarms in config files, or changing the `to:` field to `silent`, the alarm is reinstated with nightly updates.

Point 2. here states `If the file is there but is not the original shipped by netdata, the installer will not overwrite it.` https://github.com/netdata/netdata/issues/3153#issuecomment-352727888

And the docs mention changing the recipient to `

[2020-03-19 14:06] mfundul commented on #8415
The problem here is that while we already know the `struct section *` value we have to go back and do a lookup by name because the API does not allow us to work on a `struct section *` pointer.

I think the best solution would be to refactor the API a little bit and have 2 functions instead of 1. The outer function remains the same as it is, looks up by name. This function calls the inner function

[2020-03-19 14:19] ilyam8 commented on #8435
Hi, those are stock configs and they are being rewritten on every update.

You need to modify user configuration files

[2020-03-19 14:21] MrAmos123 opened #8436 "Idle Jitter Throwing Bogus Results"
##### Bug report summary
IdleJitter is reporting values of 360 Quadrillion as seen here: https://i.imgur.com/t6nJTJm.png

I've rebooted the entire host and it's still showing it... http://eu.nbsclan.org:19999/#menu_system_submenu_idlejitter;theme=slate;help=true

This used to work fine, not sure what happened. It's stopped working within the last few days.

##### OS / Environment
[code]

##### Net

[2020-03-19 14:21] ilyam8 commented on #8435
There is `edit-config` script in the `/opt/netdata/etc/netdata/` directory (if netdata is installed in `/opt/`). Use it to modify alarms.

[2020-03-19 14:23] MrAmos123 commented on #8409
Hmm, I just raised the same issue. (Sorry about that, I missed this thread)

https://github.com/netdata/netdata/issues/8436

[2020-03-19 14:25] mfundul commented on #8436
Closing as duplicate of #8409

[2020-03-19 14:25] #8436 closed

[2020-03-19 14:28] mfundul commented on #8409
@MrAmos123 can you verify if this problem exists in the official release version v.1.20?

[2020-03-19 14:34] MrAmos123 commented on #8409
I haven't forgotten will edit this comment when I get home and I'm able to do this.

[2020-03-19 14:35] amoss commented on #8415
Reworking the API looks like the good option here - haven't procedures that may / may-not acquire locks depending on the context of the call is dangerous and prone to future error.

[2020-03-19 14:50] jbfuzier commented on #8384
[code]

Done, I hope I built the right one it says v1.20.0-180-nightly.

[2020-03-19 14:50] thiagoftsm commented on #8415
I agree with both, let us try to plan this for next sprints.

[2020-03-19 14:51] mfundul commented on #8409
@Ferroin we have some conflicting information from:
https://github.com/netdata/netdata/issues/8436#issue-584447821

more specifically:
`This used to work fine, not sure what happened. It's stopped working within the last few days.`

Can you retest the release version v1.20? At this point it looks like it could be the commit https://github.com/netdata/netdata/commit/161ba1592f5412bd378ace104979ddb6

[2020-03-19 15:02] and0x000 opened #8439 "Debian package missing directory creation"
##### Bug report summary
with the debian package from https://packagecloud.io/netdata/netdata the installation routine seems to miss some directories.

namely `/var/log/netdata` and `/var/cache/netdata`

##### OS / Environment

[code]

##### Netdata version
[code]

##### Component Name
packaging

##### Steps To Reproduce
Install a fresh Debian 10.3

run
[code]

Check `/var/log/syslog` to find the

[2020-03-19 15:21] mfundul commented on #8384
That doesn't sound right, but it's probably just your dashboard caching this information. You can run `netdata -V` and see what's the real version. It should be something like `v1.20.0-188-gcf618e19`

[2020-03-19 15:23] jbfuzier commented on #8384
root@grafana:~/netdata# /opt/netdata/bin/netdata -V
netdata v1.20.0-180-nightly

[2020-03-19 15:27] mfundul commented on #8384
I believe you should do a `git checkout fix-flushing-errors` in your cloned directory, and run a `git describe` that would give you the expected version. Then you should run the installer again.

[2020-03-19 15:29] mfundul commented on #8384
Hmm, you should run `sudo ./installer.sh ...`.

[2020-03-19 15:29] ilyam8 commented on #8439
Hi @and0x000 it looks this issue is duplicate of #8405

[2020-03-19 15:29] #8439 closed

[2020-03-19 15:31] jbfuzier commented on #8384
[code]

[code]

[code]

Then :
`
./netdata-installer.sh --disable-telemetry --disable-backend-mongodb --disable-backend-kinesis --disable-https --disable-cloud --disable-plugin-freeipmi --install /opt`

[2020-03-19 15:35] bpottier commented on #8405
Another workaround is install 1.19.0 first, then 1.20.0

[2020-03-19 15:38] and0x000 commented on #8439
Indeed, sorry I missed that. I was mostly looking for similar issues bearing the label `area/packaging`. Could you probably add this label to #8405 as well?

[2020-03-19 15:42] mfundul commented on #8384
Hmm, maybe `git describe` failing is the problem with the version number. In any case, you either have to run the installer as `root` user or with `sudo ./netdata-installer.sh`. You can compare your built binary with what's installed to make sure, e.g. `cmp /opt/netdata/usr/sbin/netdata ./netdata`.

[2020-03-19 15:43] PixiBixi opened #8440 "Incorrect netdata hostname"
##### Bug report summary
Hi everyone, i launch netdata with a Docker container, i have an issue to setup the hostname, there's my docker-compose.yml file

[code]

##### OS / Environment
[code]

##### Netdata version
netdata v1.19.0-100-g7278d5bc

##### Component Name
Web component i assume

##### Steps To Reproduce
1. Fresh Debian 10 install with Docker, docker-compose
2. Run my docker-compose (Ex

[2020-03-19 16:10] mfundul commented on #8409
@MrAmos123 can you test https://github.com/netdata/netdata/pull/8441?

[2020-03-19 20:22] prologic commented on #8405
Apologies for the delays in responding here. @toadjaune we'll get to this shortly.

[2020-03-19 20:26] prologic commented on #8428
I'll fix this

[2020-03-19 21:42] prologic commented on #8189
#8444 fixes this. cc @thiagoftsm

[2020-03-19 21:44] MediaMaquina opened #8445 "Question: Can netdata produce a list of the FILES consuming most bandwidth?"
Hello, basically the topic. And if not could you point me on the right direction please?

[2020-03-19 22:09] prologic commented on #8284
All yours then :)

[2020-03-19 22:15] prologic commented on #8396
Let's make it two separate CI jobs? One that builds normally ignoring options features and the other that forces optional features.

[2020-03-20 00:10] prologic commented on #8422
Hi @NinoM4ster this was already fixed by was already fixed by #8326 #8325 and #8324 So if you remove the `--stable-channel` option you won't see this. That being said I've put up #8447 to improve this a bit more as well as #8446 that applies similar fixes for the uninstaller.

Thanks for reporting!

[2020-03-20 01:01] prologic commented on #8405
I can also reproduce this on a fresh Debian 1o (buster) system:

[code]

Apologies for the inconvenience, we don't yet have wide-range testing on all the systems we want for our native binary packages (yet). We're working on it!

[2020-03-20 01:25] prologic commented on #8405
Looksl ike we're not even packaging our `netdata.service` SystemD unit file in our Debian packages?

[code]

That looks like SystemD is auto-generating one for us based on "SysV" init script it just happens to be finding. Hmm 🤔

[2020-03-20 01:27] prologic commented on #8405
Sorry all, This is a bit of a mess, to makes matters worse we actually have a much improved SystemD unit in `system/netdata.service.v235.in in the repo but we aren't installing it yet.

Would anyone here be willing to test `system/netdata.service.v235.in`? @toadjaune ? This is what I'd like to promote and get into our Debian packages for systems with SystemD v235+ -- For older systems I'm going to

[2020-03-20 05:19] patademahesh opened #8448 "charts.d.plugin not exiting while netdata service restart"
##### Bug report summary
We are trying to write a custom plugin for application log monitoring using charts.d collector but while netdata service restart "/opt/netdata/usr/libexec/netdata/plugins.d/charts.d.plugin" this process is not able to exit properly and starts throwing below error in logs.

$ tail -f /opt/netdata/var/log/netdata/error.log| grep 'charts.d'
[code]

Here is my plugin:
$ /opt/n

[2020-03-20 06:01] #7755 closed

[2020-03-20 06:17] ilyam8 commented on #8448
Hi @patademahesh

Have you considered to write it in python?

[2020-03-20 07:08] patademahesh commented on #8448
Yeah we can but it'll take time. Bash was easy for us.

It's a simple script. We don't understand what is the problem. It works very well until we restart the daemon.

[2020-03-20 07:22] ilyam8 commented on #8448
I seems Netdata doesnt send `SIGTERM` to `chart.d.plugin` and `charts.d.plugin` itself doesnt exit on `SIGPIPE`.

There is no such problem for `python.d.plugin` and there is no such problem on not old distributions at all.

Could you show `$log_watch_file_name` content? I suspect it is very easy to write it in python.

[2020-03-20 07:31] patademahesh commented on #8448
`$log_watch_file_name` content is filepath from below var passed in .conf file.

log_watch_files='**/var/log/sample1.log**:my|by|not found error:error;**/var/log/sample2.log**::fatal'

[2020-03-20 07:57] ilyam8 commented on #8448
ok, i mean content of these files, what we need to parse

[2020-03-20 08:08] patademahesh commented on #8448
You can insert anything with string error. If it detects **error** word in the file the counter will be increased. Thats it.

Eg. echo "this is test error line" >> /var/log/sample1.log

[2020-03-20 09:42] toadjaune commented on #8405
I'd be glad to, how can I test it ?

[2020-03-20 11:23] ilyam8 commented on #8448
Do we need to read from one log file? (one log file per job)

[2020-03-20 11:26] ilyam8 commented on #8448
If one per job you could use

https://github.com/netdata/netdata/issues/3729#issuecomment-389719427

(modify it for your needs: chart desc, etc)

[2020-03-20 11:40] Ferroin commented on #8396
I'm fine with either approach, but this needs fixed regardless.

@netdata/core Could we get an up-to-date list of all the optional dependencies for various Netdata features (and ideally info on how to force those features to be built) so we can properly update our testing and prevent issues like this from coming up in the future?

[2020-03-20 11:45] mfundul commented on #8396
I don't think it's as simple as `all` vs `optional`. For instance, `dbengine` support is optional but it should be an enforced dependency for most users because it is important for user experience.

I propose something like `mandatory`, `default`, `optional`. Where some features from `optional` would also be part of the `default` installation.

[2020-03-20 11:49] patademahesh commented on #8448
No we want it for multiple file and single job.

Thank you so much for the link but will it keep track of lines read and read only changed lines ?

[2020-03-20 11:49] Ferroin commented on #8405
@toadjuane It should just amount to downloading the file from https://raw.githubusercontent.com/netdata/netdata/master/system/netdata.service.v235.in, replacing `@bindir_POST@` with the absolute path to the directory Netdata is in (should be `/usr/bin` or `/usr/sbin` on Debian, I forget which though), and then renaming the file and dropping it in the appropriate location to be picked up by systemd

[2020-03-20 11:56] Ferroin commented on #8396
I rather like that idea, possibly add a `netdata-basic` target for `install-required-packages.sh` that only pulls in the stuff that's absolutely required for Netdata to build.

That doesn't change the need though for us to have a proper dependency list somewhere. I can theoretically put that together myself, but it is likely to be far simpler to get info from the people who developed the optional

[2020-03-20 12:01] mfundul commented on #8396
`dbengine` relies on libuuid, libuv1, lz4, Judy, and openssl. I think libuuid and libuv1 are mandatory so that would leave us only lz4, Judy and openssl.

[2020-03-20 12:03] mfundul commented on #8396
There is some information [here](https://github.com/netdata/netdata/blob/master/packaging/installer/methods/manual.md)

[2020-03-20 12:08] ilyam8 commented on #8448
Yes, but it doesnt allow to read from several files. And i think you need adding new log files during runtime.

[2020-03-20 12:09] ilyam8 commented on #8448
related discussion: #7420

[2020-03-20 12:18] Ferroin commented on #8396
Yeah, the install documents are also incomplete. The primary offender I know of right now is the stuff in the exporting engine, but for all I know there could be other things I don't know of.

[2020-03-20 12:26] patademahesh commented on #8448
The actual requirement is we want a plugin like [this](https://checkmk.com/cms_legacy_logfiles.html). In this we can add ignore and match patterns.

The script plugin you shared will only match a line and increase the counter. we cant add ignore patterns in that.

[2020-03-20 12:40] ilyam8 commented on #8448
Yes, that `check_mg` log thing is good. I dont know if it possible to make a generic log plugin that will work in all cases, there is still no decision in #7420 - we need more use cases to understand it.

That simple python script can be easily extended to provide `ignore and match patterns`. The only requirement is 1 log file per job, which seems doesnt work for you.

[2020-03-20 12:41] ilyam8 commented on #8448
Probably the easiest way here is to fix `charts.d.plugin` 🤔

[2020-03-20 12:51] patademahesh commented on #8448
yep. but what is the problem with it ? i still don't understand.

[2020-03-20 12:52] patademahesh commented on #8448
I think this should be the one use case. Please add it to your list.

[2020-03-20 13:26] ilyam8 commented on #8448
I dont know, i think i need to test in in Centos6. I am downloading 6.10, but it is unlikely i will be able to test it soon.

@prologic @Ferroin any ideas?

[2020-03-20 13:31] patademahesh commented on #8448
Okey. Thank you for your help.

[2020-03-20 13:33] DirectRoot commented on #8435
Ah right! I was jumping the gun and not using `edit-config` . Doing so has copied the modified config into `health.d` where I assume it will take priority of the stock config.

If you don't here from me tomorrow, this is solved. Thanks @ilyam8!

[2020-03-20 13:34] ilyam8 commented on #8435
I am sure it is solved, but if it is just say 😄

[2020-03-20 13:34] #8435 closed

[2020-03-20 13:41] Ferroin commented on #8402
@prehonor Sorry about the delay in getting back with you about this issue. Can you provide a bit more info about your particular setup:

* How did you install Netdata? (via portage/manual build/kickstart.sh/something else)
* What version of Netdata are you using? (output of `netdata -V`)
* Are you using any keywords in your Portage configuration? (for example, `~amd64`)

[2020-03-20 15:26] tibra commented on #7677
I'd like to follow up on this just for clarification:

- The moment I enable a basic authentication on my Netdata-Nodes and open the "Nodes View beta", only the node I'm currently on shows information about itself, the rest is just "unreachable".
- When I click on a node and follow the link, I'm redirected without basic auth directly into the node's dashboard.
- Tested in Firefox with disabled Ant

[2020-03-20 15:32] ilyam8 commented on #7677
@jacekkolasa if you have time ^^

[2020-03-20 15:36] #7881 closed

[2020-03-20 15:38] marcomusso opened #8449 "Host tags not present in Prometheus export"
##### Question summary

(Related to #3364)

Hi, I'm using netdata v1.20.0-1 and I added in my conf file:

[code]

But those tags are only present in the netdata_host_tags metric.
From the discussion in #3364 I was expecting those labels to appear on every metric exported from that host even if the last sentence is misleading: does that means that there was a decision to NOT add those labels to eve

[2020-03-20 15:49] jbfuzier commented on #8384
So far so good, I will let it run to see if flushing errors are back.

[2020-03-20 16:14] vlvkobal commented on #8449
Yes, host tags are added only once at host level.

There is a plan to implement labels on the metric level, but it's an epic project which involves a database redesign. Some discussions and links are in #6503, #7891.

[2020-03-20 16:16] marcomusso commented on #8449
Thanks for the quick answer, I'll subscribe to those issues.

[2020-03-20 16:16] #8449 closed

[2020-03-20 19:26] eXcalibre commented on #827
I run on HP hardware running
Centos 8
netdata v1.18.1
and had this issue.
I change the sensor to "no" in
/etc/netdata/conf.d/python.d.conf
Stopped all the horrid alerts.

thanks for this thread. and Netdata. :)

[2020-03-21 14:55] samuelmf commented on #8128
Sorry for the delay guys, this situation of the covid is complicating everything here.
Regarding to question:

Really i dont know, the provisioning team of my server provider do that, i dont have a lot of experience in linux to know that, is taht fixable.

Where i can view for netdata update logs?

[2020-03-21 15:23] zdzichu opened #8451 "python.d plugins not storing data"
##### Bug report summary
Data collected by `python.d` plugins are not displayed in web interface.

##### OS / Environment

[code]

##### Netdata version

 Using distribution packages: netdata-1.20.0-1.fc31.x86_64

##### Component Name

python.d

##### Steps To Reproduce

I can see that plugins are working when run standalone, for example:
[code]
etc. But the web interface doesn't even show Sensors

[2020-03-21 17:54] ilyam8 commented on #8451
@zdzichu 👋

Could you test (w/o module name)

[2020-03-21 20:28] toadjaune commented on #8405
Starting back from a clean system :
[code]
I'm confused.

[2020-03-21 20:44] zdzichu commented on #8451
Without module name collectors also work. I'm attaching output as file, as it is quite big.

[netdata-python-debug.txt](https://github.com/netdata/netdata/files/4364053/netdata-python-debug.txt)

[2020-03-21 21:01] amoss commented on #8396
Why is this a problem? If the features are optional then they should not be in the required packages list.

[2020-03-21 21:04] mfundul commented on #8396
`dbengine` is optional.

[2020-03-21 21:12] amoss commented on #8396
`dbengine` is the default. We should probably treat that differently to something that is optional. Recommended?

[2020-03-21 21:13] ilyam8 commented on #8451
it should work then

do

- `cp /dev/null error.log`
- `systemctl restart netdata.service`
- wait a bit; `grep python error.log`

it should contain all info about started jobs.

Refresh your browser and make sure url has no `after/before`, `Sensors` section should be on the dashboard.

[2020-03-21 21:40] gabsor opened #8453 "syno ds216play install faills even when all reqs are there"
Before I posted this, I've been testing all possibilities and read almost any doc on getting netdata alive..... But I'm stuck. Hope someone can help, highly appreciated.

##### Question summary
Been trying to install netdata on synology ds216play.
It used to be present/part in the optware but running entware now and I cannot find a package / setup that is working.

##### OS / Environment
3.10.105

[2020-03-21 21:50] zdzichu commented on #8451
Sadly, it doesn't work. I waited about ten minutes, no Sensors section.
Any hints on debugging socket communication between python.d and main netdata process?
[netdata_python_error.log](https://github.com/netdata/netdata/files/4364232/netdata_python_error.log)

[2020-03-21 22:49] ilyam8 commented on #8451
[code]

Does your server redirect http to https?

I see the last line is

Btw is it the whole output?

[2020-03-21 23:02] nyetwurk commented on #5516
Is this hardcoded? Is it liable to change? Is there a way to tell it what UID to use?

The issue is for deployment, there needs to be a consistent way of knowing what user/gid should own the underlying mounts on the host.

[2020-03-22 11:14] mfundul commented on #8453
It looks to me you may be missing `pkg-config` or `pkgconfig` or `pkgconf` or whatever its name may be in your platform.

[2020-03-22 11:17] mfundul commented on #8453
You could always try installing a static binary instead of compiling as well, maybe something like [this](https://docs.netdata.cloud/packaging/installer/methods/kickstart-64/)?.

[2020-03-22 11:18] mfundul commented on #8453
There is also synology documentation [here](https://docs.netdata.cloud/packaging/installer/methods/synology/).

[2020-03-22 11:46] zdzichu commented on #8451
Yes, it redirects, but I'm not concerned about `apache` plugin right now. I'm using different server.
This is the full output.

[2020-03-22 12:31] ilyam8 commented on #8451
Lets try to disable `boinc` module in the python.d.conf

also do [same](https://github.com/netdata/netdata/issues/8451#issuecomment-602105456) but w/o grep and share error.log

[2020-03-22 14:53] hazarkarabay opened #8455 "Providing environment variables to plugins"
##### Question summary
I'm trying to use the OracleDB plugin. Oracle client library needs specific environment variables to function and I can't find the correct location to set them in netdata configuration.

This is the plugin debug output without the variables:
[code]

This is the output after I manually set the environment variables (expected result):
[code]

Where can I supply environment var

[2020-03-22 15:01] zdzichu commented on #8451
Here's `error.log` with disabled `boinc=no`

[netdata_error.log](https://github.com/netdata/netdata/files/4365458/netdata_error.log)

[2020-03-22 15:30] ilyam8 commented on #8451
I dont understand what is the problem, there is no info in the `error.log`

It loads all jobs, starts init,check, checks few modules and that is it (according log)

[code]

at the same time

[code]

which means that sensor module job was active 🤷‍♂

[2020-03-22 16:52] MrAmos123 commented on #8409
@mfundul Okay -- So I'm not sure how to downgrade Netdata to an earlier version, however, I installed Ubuntu Server 18.04.4 LTS on a VM locally (fresh from Ubuntu) and installed Netdata on it using the script `bash <(curl -Ss https://my-netdata.io/kickstart.sh)`.

So clean ISO and clean Netdata install and `idlejitter` broken out of the box.

I hope this is somewhat helpful.

If I can get some ins

[2020-03-22 17:20] ilyam8 commented on #8409
@MrAmos123

[code]

remove `/opt` if your current install not in `/opt`

[2020-03-22 19:52] MrAmos123 commented on #8409
This is really odd, I wanted to test it on a HyperV VM and I can't replicate it using the nightly builds. I'll need to close some VM's when I get a chance on my ESXi box to test there, right now I can't test it.

[2020-03-22 21:49] kdy1968 opened #8457 "memory mode save, not keeping appropriate history 86400"
##### Bug report summary
i'm attempting to netdata in memory, the global section of netdata.conf looks like this:
[global]
	# process scheduling policy = keep
	# OOM score = keep
	# glibc malloc arena max for plugins = 1
	# glibc malloc arena max for netdata = 1
	# hostname = pluto
	  history = 86400
	# update every = 1
	# config directory = /etc/netdata
	# stock config directory = /usr/lib/netdat

[2020-03-22 22:18] prologic commented on #8396
It is a problem because we have no continuous way of testing and ensuring the feature builds. Along with appropriate unit tests and forced optional features we can also ensure that the optional feature should in theory also work.

[2020-03-22 22:20] prologic commented on #8405
Sorry y'all this is more complicated than I anticipated. Still working on fixing this.

[2020-03-22 22:22] prologic commented on #8128
@samuelmf Its okay. I have a PR open to fix this anyway. Once its merged and you updated to a new nightly you should see this problem go away.

[2020-03-22 22:22] #8422 closed

[2020-03-22 23:02] #8189 closed

[2020-03-22 23:02] #8428 closed

[2020-03-23 01:09] prologic commented on #8405
According to [DistroWatch](https://distrowatch.com/table.php?distribution=debian) only Debian 10+ has SystemD 235 so I will package the new SystemD Unit and test this.

[2020-03-23 01:11] thiagoftsm opened #8459 "CID 353391"
##### Bug report summary
The Coverity (CID 353391) reported us a bug that could create a memory leak with stream.

##### OS / Environment
[code]

##### Netdata version
 netdata v1.20.0-202-gbd2e33e5

##### Component Name
Stream and labels

##### Expected behavior
Remove the memory leak

[2020-03-23 04:02] hvisage commented on #8242
Is the ebpf collector yet supported in the static64 binary distributed via the `kickstart-static64.sh` process/option? Just tried it on a ProxMox node, and that failed with a ```2020-03-23 04:56:51: ebpf_process.plugin ERROR : MAIN : [EBPF PROCESS] setrlimit(RLIMIT_MEMLOCK) (errno 1, Operation not permitted)``` error. However the "normal" building process of using the `kickstarter.sh` scripts work

[2020-03-23 08:18] prologic commented on #7822
@Ferroin I _know_ you are working on this (_and the other related issues_); How close are we?

[2020-03-23 08:26] prologic commented on #8242
I don't think it is at the moment. cc @thiagoftsm What are your thoughts on supporting this?

It's a different packaging model and different installation tooling for the static `kickstart_static64.sh` -- Namely that it uses [Makeself](https://makeself.io/) and has its own logic.

It _could_ be supported; but we did not target this at the time. If this is useful to you and others and the team agree

[2020-03-23 08:27] mfundul commented on #8457
This global configuration may be overridden per chart, per plugin or for streaming by separate configuration options (e.g. [streaming](https://docs.netdata.cloud/streaming/#configuration)). What is your use case?

[2020-03-23 08:53] hvisage commented on #8242
also @prologic the "normal" installation installs compilers etc. that I don't  want nor need (other than for this portion of netdata) so that also helps to cut on the root partition for VMs and containers

[2020-03-23 10:02] zdzichu commented on #8451
Found it!
Actually the problem was in `ceph` module. My CEPH cluster is not fully healthy right now (ceph-mgrs are failing). ceph monitoring module is basically running `ceph osd pool stats --format json` command.
Without MGRs, above command just hangs waiting for answer. The hanging command halted everything in `python.d`, no job was progressing.
After disabling ceph module, everything works as b

[2020-03-23 10:02] #8451 closed

[2020-03-23 10:21] kdy1968 commented on #8457
I'm using the stock config,  not stream, only changes made were in the global config...

[2020-03-23 10:24] mfundul commented on #8457
How many hours of chart data do you see in your case?

[2020-03-23 10:30] mfundul commented on #8457
It's possible that your configuration file is not formatted correctly, is it missing tab characters? Can you share your `var/log/netdata/error.log` file?

[2020-03-23 10:48] jbfuzier commented on #8384
Still no error, the issue seemed to be corrected, thanks :)

[2020-03-23 10:57] prologic commented on #8242
Yeap I totally understand. Let me bring this up with the team. I don't see why we shouldn't support this; but as I said we didn't initially. We are heavily focused on getting more support for native packages (cc @Ferroin) out the door; but we should bring eBPF to the static installation as well as that is our primary fallback if all else fails.

[2020-03-23 11:15] ilyam8 commented on #8451
I think this should be handled by module/library. I see there is optional timeout parameter for `mon_command`, we need to use it

https://docs.ceph.com/docs/master/rados/api/python/#cli-commands

[2020-03-23 11:20] ilyam8 commented on #8451
Well, i see

@paulmez 👋 any ideas how to handle the hang problem?

[2020-03-23 11:44] Ferroin commented on #8396
More specifically than what @prologic said (which is correct), `install-required-packages.sh netdata-all` should pull in _all_ packages that are needed for a full featured build (that is, every optional feature turned on). Regular installs are done with `install-required-packages.sh netdata`, which only pulls in the requirements for a default install right now. The expectation here is just as much

[2020-03-23 12:00] Ferroin commented on #7822
Reasonably close. I should hopefully hav ethe time to start actively testing the new packaging workflow today.

[2020-03-23 12:54] #8459 closed

[2020-03-23 13:26] #8409 closed

[2020-03-23 13:48] gabsor commented on #8453
Tx for your reply. The[ synology documentation](https://docs.netdata.cloud/packaging/installer/methods/synology/) is only covering the amd64 architecture.

[2020-03-23 13:49] gabsor commented on #8453
pkg-config is there, alive and kicking

[2020-03-23 13:50] gabsor commented on #8453
Also for Intel/AMD 64bit Linux systems only

[2020-03-23 13:52] vlvkobal opened #8461 "Overall cleanup of the exporting engine"
About 30 minor things to implement or to think about. Draft list:

__To implement__
- [x] TLS support in the simple connector worker. OpenTSDB. ( PR #9068 )
- [x] Send anonymous stats for backends and exporting connectors ( PR #9125 )
- [x] Add an alarm to inform users that backends subsystem is deprecated ( PR #9075 )
- [x] Check return values for uv_mutex_init() and uv_cond_init() ( PR #9034 )
-

[2020-03-23 14:17] Ferroin commented on #8453
@gabsor Can you post the output of `pkg-config --modversion uuid`? That will at least tell us if `pkg-config` can find libuuid properly or not.

[2020-03-23 14:22] mfundul commented on #8453
More importantly  this! `checking for gcc... no`

[2020-03-23 14:24] Ferroin commented on #8453
The OP had said in the description that they managed to work around that though. Inability to find `gcc` wouldn't suggest to me that `pkg-config` is broken though, that's a broken filesystem layout.

[2020-03-23 16:50] #8421 closed

[2020-03-23 17:22] beslovas opened #8464 "web_log reports unmatched lines"
web_log plugin reports unmatched lines.

This is my log:

[code]

[2020-03-23 17:37] amoss commented on #8396
That makes sense (thanks @Ferroin for the explanation). So you need to know a full list of required and optional packages to make both configurations works.

[2020-03-23 17:43] amoss commented on #8396
Can we set up a list that will be maintained that lists the available features - for each one specifying:
* Required / recommended (or "default") / optional.
* List of package dependencies for each package manager that we have listed in the manual install instructions.

I'm open to suggestions about syntax / formatting, but the file should be kept in the main repo so that devs can update it as the

[2020-03-23 17:56] Ferroin commented on #8396
I think having a dedicate list is a good idea, but I don't know how viable it will be to verify things in CI unless we also get a way to force trying to enable all the optional features at build time and fail if any deps can't be found.

[2020-03-23 18:50] ilyam8 commented on #8464
Hi @beslovas

What is your log format?

[2020-03-23 19:46] amoss commented on #8396
What if we add the appropriate installer flag to enable the feature to the file - would that allow testing?

[2020-03-23 19:52] Ferroin commented on #8396
That would help significantly, provide that the file is easily parseable from shell script (CSV or TSV would be great, JSON a bit less so (it's a pain to loop over JSON arrays in shell script).

[2020-03-23 20:00] amoss commented on #8396
The rumors of my attachment to JSON have been greatly exaggerated :), if you propose a simple text syntax then we can get feedback from @netdata/core about how it would work.

[2020-03-23 20:12] Ferroin commented on #8396
I'd say just plain TSV should be fine. We need a field for the feature name, a list of dependencies, and the switch to enable the feature. Possibly do separate fields for each package manager we support instead of just one for deps (having just the dependncy names is actually arguably more useful for getting support for new platforms, but of course less useful for users doing installs).

[2020-03-23 21:30] Danissss opened #8466 "Trying to understand the netdata-installer.sh"
Hi, I am trying to understand how netdata compiled/built; so I took look at `netdata-installer.sh` and the standard output of the script, which have a lot of information.

I saw netdata would build each of its components (e.g. `collector`, `web/*`, etc.). Does the `daemon` start all the process such as `web/server` (based on what I saw from `deamon/config/common.h)`?

Thank you!

[2020-03-23 21:32] mfundul commented on #8466
Indeed it does!

[2020-03-23 21:50] prologic opened #8467 "Add support for eBPF to kickstart_static64.sh installation"
As per title.

See [this comment](https://github.com/netdata/netdata/issues/8242#issuecomment-602451624) on #8242

cc @thiagoftsm as watcher and @hvisage as requestor.

[2020-03-23 22:04] prologic commented on #8396
This. If we use `YAML` we can drive the CI/CD system with that. I'm pretty sure we can also generate docs based on this too. cc @joelhans

[2020-03-23 22:06] prologic commented on #8396
Please let's use YAML. We already have the tooling. We can _easily_ use `jq` in our CI/CD systems (_which is already installed anyway_) to handle any kind of query we want (_eg.: looping over arrays_)

[2020-03-23 22:22] samuelmf commented on #8128
I will try to update to the last version and check if the problem dissapears

[2020-03-24 00:12] #8097 closed

[2020-03-24 04:21] Danissss commented on #8466
That's really cool ;)

[2020-03-24 07:25] exetico opened #8469 "apps.plugin: error-log: chartname * on host * already exists"
I've a problem with Netdata, and it look almost like #6819.

Here's the output from my error.log, where it's possible to see the lines, just before `PLUGINSD[apps]` is stopping, and starting again:
[code]
I'm not sure, why it happens. The host itself, has zero problems, other than this.

Is this related to some system performance, or, where should i start?

[2020-03-24 08:43] mfundul commented on #8469
It's the other way around, those lines are *because* the plugin stopped, the plugin did not stop because of those lines.

Those are `INFO` and not `ERROR` messages, declaring that the charts that the plugin defined already exist in the netdata agent's memory, which makes sense since the plugin restarted and redefined them.

The real question is why does the plugin stop?
[code]

You can actually ru

[2020-03-24 09:00] vlvkobal commented on #8469
The plugin automatically [restarts itself](https://github.com/netdata/netdata/blob/master/collectors/apps.plugin/apps_plugin.c#L4211). Costa did it because he was afraid of memory leaks. I suggest removing the check.

[2020-03-24 09:02] beslovas commented on #8464
Hi @ilyam8,
sorry, i didn't read the manual carefully.

Format was defined like this:
[code]

Eventually changed format according to [web_log.conf](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/web_log/web_log.conf#L98) and everything started to work.

[2020-03-24 11:54] mardoyyy commented on #3428
previously i had the same problem
ubuntu 18.04
Netdata installed from wordops stack.

it was clean installed, eventhough mariadb and every mysql stuffs already installed, netdata can't recognized it.

here is my steps to resolved it
--become user netdata
**sudo su -s /bin/bash netdata**

--execute the plugin in debug mode, for a specific module.
--example for the python plugin, mysql module:
--Deb

[2020-03-24 12:56] alexandernst commented on #8173
Since this makes v1.20.0 unusable (without manually creating the mentioned folders), can we expect a v1.20.1 release?

If "no", when will v1.21.0 be released?

[2020-03-24 12:59] Ferroin commented on #8173
v1.21.0 should be out within the next few weeks (current expected release date is 2020-04-01 (yes, seriously April first).

[2020-03-24 13:07] marcomusso opened #8471 "Using python modules in new plugins"
##### Question summary

I managed to write my own python plugin for a custom check and it works fine in debug/trace mode (as `netdata`) according to the docs (snippet):

[code]

When running from the agent I get, in `error.log`:

[code]

This is of course because I'm using the Elasticsearch python module which it seems not being recognised when running from the agent (but it's installed system-wid

[2020-03-24 13:16] Ferroin commented on #8471
There's a known issue with the handling of the Python module search paths being different when running as a plugin from those when just manually running Python. I don't remember if there's an issue open about it or not, but this is likely what you're running into.

[2020-03-24 14:53] marcomusso commented on #8471
But is there a documentation on how to add python modules or shall I consider it a missing feature or a bug?

[2020-03-24 14:54] mfundul commented on #8368
Discussed the general architecture of health and current limitations with @stelfrag @thiagoftsm @underhood .

We have verified that ACLK will not be affected by out of order timestamps in alarm notification if we make notifications asynchronous.

Timo proposed changing `alarm-notify.sh` from a single run script to an iterating script that consumes input to mitigate the need for `fork()` calls. Com

[2020-03-24 14:59] Ferroin commented on #8471
Basic documentation for the plugins can be found at https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/README.md#how-to-write-a-new-module. That doesn't include info on the above-mentioned issue with the module search paths because it's not a very well understood problem (we know it's there, just not why it's happenng or how to fix it). Behaviorally, the issue is that the Py

[2020-03-24 15:02] ilyam8 commented on #8464
np @beslovas

i would suggest [go version of weblog plugin](https://github.com/netdata/go.d.plugin/tree/master/modules/weblog#apachenginx-logs-monitoring-with-netdata)

[2020-03-24 15:02] #8464 closed

[2020-03-24 15:17] marcomusso commented on #8471
Thanks for elaborating further. Indeed I installed system-wide with `pip` and also tried to copy the module(s) to `/usr/libexec/netdata/python.d/python_modules` without success. I'll try with an rpm if available. This is quite impacting for custom scrips: in this case for example I'm interacting with Elasticsearch.... I could probably use simple requests but it quickly becomes a big job without th

[2020-03-24 15:20] ilyam8 commented on #8471
There is problem only when python package installed not system-wide.

[2020-03-24 15:21] Ferroin commented on #8471
@ilam8 No, it's also a problem on some systems with 'system wide' isntalls of modules with `pip`. Gentoo for example suffers from this tpe of module search problem.

[2020-03-24 15:27] ilyam8 commented on #8471
Why? Are they are not in the system.path? I understand that there is no way for `--user` packages to work - Netdata changes `home` var on start. But whats the problem with system-wide installed?

[2020-03-24 15:30] ilyam8 commented on #8471
Anyway there is `PYTHONPATH` option int he `netdata.conf` @marcomusso

and it is no `no module named...` error 🤔

[2020-03-24 15:36] ilyam8 commented on #8471
probably it is not the problem @marcomusso

[2020-03-24 16:16] marcomusso commented on #8471
I'll research a little bit more are report here if I find some workaround...

[2020-03-24 16:59] marcomusso commented on #8471
Disabled selinux
Tried to force different PYTHONPATH with the conf options
Tried enabling full debug (debug flags = 0xffffffffffffffff and restart) =>empty debug.log (!)
Installed module in /usr/libexec/netdata/python.d/python_modules
"simplified" name of script (just before starting banging my head on the desk) to avoid unknown "mistic limitations" :)

No luck yet.

[2020-03-24 17:14] ilyam8 commented on #8471
could you share the script source code?

[2020-03-24 17:17] marcomusso opened #8473 "RabbitMQ: report status per queue"
##### Feature idea summary

The good implementation of rabbitmq monitoring in #1813 and #6686 is working fine but I don't see the number of queued messages per queue (either as a new metric or as a dimension/family). According to my exported metrics for Prometheus and the comments on those issues I don't think this is supported.

##### Expected behavior

Begin able to have metrics (also exported)

[2020-03-24 17:24] ilyam8 commented on #8473
Hi

What endpoint provides messages per queue metrics

[2020-03-24 17:31] marcomusso commented on #8471
Also installed rpm for python2-elasticsearch6.noarch.
I just started writing this scripts so don't expect a good one but it is working in debug mode.

Script:

[code]

[2020-03-24 17:34] marcomusso commented on #8473
No idea right now, I have to check. What I know for sure is that the collectd plugin provides that in our graphite backend. I'll report here as soon as I have time to do some tests.

[2020-03-24 17:38] ilyam8 commented on #8471
There is `elasticsearch` moudle which was imported before your script (alphabetical order).

[2020-03-24 17:44] ilyam8 commented on #8471
See

[2020-03-24 17:45] marcomusso commented on #8473
`curl -s localhost:15672/api/queues | jq '.[].name'` returns all names and it seems that in the payload there are all the needed information (tons of it, per queue). This was already exposed here: https://github.com/netdata/netdata/issues/1813#issuecomment-280790056

I think the most interesting is `messages_unacknowledged` but if an effort is made it's probably worth returning everything. Since t

[2020-03-24 17:47] ilyam8 commented on #8471
@marcomusso

try this fix

https://github.com/netdata/netdata/blob/bb9a7692e35f4317aa73a7c1cd748f4899712ec2/collectors/python.d.plugin/python.d.plugin.in#L174-L176

=>

[code]

[2020-03-24 17:48] ilyam8 commented on #8473
I guess it is expensive call. @Wing924 do you know?

[2020-03-24 20:35] val123456 commented on #7838
I have the same issue on Nodes.

[2020-03-25 01:31] Pingger commented on #7838
A few days ago I was forced to reinstall my server. Issue still occurs with all stock settings. No forwarding, no apache, plain netdata

[2020-03-25 02:21] Danissss commented on #8466
Sorry, more questions about `deamon`.

`deamon` handles the process of data collecting (i.e. using `collectors`) and data transmitting (i.e. send the data to `web/server`).

I was reading `deamon` [config](https://github.com/netdata/netdata/tree/master/daemon/config), and how to customize dashboard [here](https://docs.netdata.cloud/web/gui/custom/).

[code]

May I ask how `data-netdata=""` grab th

[2020-03-25 08:00] Wing924 commented on #8473
If we query it every seconds, it's expensive call if your cluster have many queues.

[2020-03-25 08:17] #8114 closed

[2020-03-25 08:58] marcomusso commented on #8471
Fixed in `/usr/libexec/netdata/plugins.d/python.d.plugin` (rpm...). It works, thanks!

[2020-03-25 09:05] ilyam8 commented on #8471
This issue will be automatically closed when #8474 is merged.

@marcomusso you applied changes from https://github.com/netdata/netdata/issues/8471#issuecomment-603403357, right?

[2020-03-25 09:18] patademahesh commented on #8448
hi @ilyam8 did you get any chance to check this ?

[2020-03-25 09:31] marcomusso commented on #8471
Yes indeed, sorry fo closing it prematurely, now I see your workflow and it’s ok to keep it open.

[2020-03-25 09:41] ilyam8 commented on #8471
Keep in mind that your changes will be overwritten on the next update. I'll try to get #8474 merged today.

[2020-03-25 09:42] marcomusso commented on #8471
Sure, thanks. I can bake that fix in our puppet code until then.

[2020-03-25 10:17] prologic commented on #8173
Fix incoming in #8468

[2020-03-25 10:19] prologic commented on #8128
The PR isn't merged yet; I'll get it merged shortly! Sorry for the ddelay!

[2020-03-25 10:49] marcomusso commented on #8473
But the interval can be set right? The management UI defaults to 5s, with a sensible default I think it can be implemented, I'm planning for example to poll every 30s or 1m...

[2020-03-25 12:16] Kramerican commented on #7197
I am now seeing this exact same behavior resurface. My Netdata installations auto-updated for a while, and now they are stuck on v1.19.0-460-gc92dd8ee

checking /etc/cron.daily reveals that the netdata updater job has been removed from there, once again ...

[2020-03-25 12:20] Kramerican opened #8479 "History config option removed or just broken?"
I have always had in my config:

[code]
But history is not being maintained for 24hours as I want it across my servers. It is quite random how much history I can view across servers. I could not find anything but passing references in the docs to this directive - has this config changed?

[2020-03-25 12:25] mfundul commented on #8479
Default `memory mode` changed from `save` to `dbengine`. You can refresh you `netdata.conf` by running something like `wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf`.

[2020-03-25 12:29] #8471 closed

[2020-03-25 12:30] ikarlo commented on #7197
Also on v1.20 in my installations

[2020-03-25 12:33] stelfrag opened #8480 "Add support to the internal JSON library to handle \uXXXX character decoding"
#### Summary

Review the internal JSON library and provide support for \uXXXX decoding as this is now
not supported.

Example:

Incoming payload from the ACLK
[code]

should be JSON parsed to:

[code]

Handle the `\u0026` to `&` map

[2020-03-25 12:38] Ferroin commented on #8479
Expanding a bit on what @mfundul said:

The new dbengine memory mode doesn't retain metrics based on time, but instead uses disk-usage limits to decide when to drop data. The default limit is 256MB, which actually isn't much for most systems (though it should give more than the default retention period of one hour provided by the old storage backends). More details can be found at https://docs.net

[2020-03-25 12:41] mfundul commented on #8479
This disk space limit also depends on compression rates of the metric data. It's typical to have at least 70% space savings due to compression with dbengine.

[2020-03-25 12:42] Ferroin commented on #8479
Ah, yes, I forgot about the compression. The numbers above give a decent worst-case estimate though.

[2020-03-25 12:49] amoss commented on #7840
Each of the proxy issues has been merged.

[2020-03-25 12:49] #7840 closed

[2020-03-25 12:50] ilyam8 commented on #5729
I am pretty sure we need to use api server watch endpoints, we can get all `added/modified/deleted` events from there.

Datadog uses undocumented kubelet `/pods` endpoint which returns node pods data. The response is huge (thousands of lines) and it is quite expensive to parse it on a regular bases.

What is good that **apiserver returns all historical data on connection**. It means there is no wa

[2020-03-25 12:51] amoss commented on #8000
This has been handled in other issues

[2020-03-25 12:51] #8000 closed

[2020-03-25 13:01] #8278 closed

[2020-03-25 13:09] #8051 closed

[2020-03-25 14:06] ilyam8 commented on #8473
Yes, you can change `update_every` but if i remember it right there is no way to have different `update_every` for the different jobs charts. It is global per job.

[2020-03-25 14:09] ilyam8 opened #8481 "[spike]: study prometheus-operator and CRD"
##### Feature idea summary

Study:
- k8s controllers
- k8s CRD
- prometheus-operator

##### Expected behavior

Decide do we need to start with netdata operator to get auto-discovery.

[2020-03-25 15:07] stelfrag opened #8482 "[SPIKE] Study the db_engine code"
#### Summary

- In memory structures (pages etc)
- Processing threads / event loop
  - Reading / Writing to the filesystem
- Data and journal files
  - File rotation
- Integrity checks
  - Page / journal
- Performance and internals metrics
  - How the db_engine monitors it's performance

### Expected Outcome

[2020-03-25 15:07] stelfrag opened #8483 "ACLK code cleanup"
#### Summary
- Improve main thread cleanup during shutdown
  - There is an issue on how the `netdata_exit` variable is used to terminate the processing loop
- Trace memory leaks in the main ACLK code
   - Include MQTT library and LWS

[2020-03-25 15:20] #8104 closed

[2020-03-25 15:22] #8036 closed

[2020-03-25 15:27] mfundul commented on #8251
The original issue has been mitigated by splitting the load across 2 master servers. The remaining optimization work relates to the netdata health subsystem and we'll keep track on it in #8368

[2020-03-25 15:27] #8251 closed

[2020-03-25 15:30] ilyam8 commented on #8473
@marcomusso

please share

output

[2020-03-25 15:31] ilyam8 commented on #7965
@joelhans please update/remove the milestone

[2020-03-25 16:11] #8024 closed

[2020-03-25 16:29] underhood opened #8484 "[SPIKE] Study Health Code & pick up some issues from Markos"
### Questions to invetigate

### Expected Outcome

[2020-03-25 16:42] cakrit opened #8486 "Claiming improvements"
-[ ] The [command-line parameters](https://github.com/netdata/netdata/tree/master/claim#netdata-agent-command-line) should be the suggested way to do claiming in docker. Add the info to claim/README.md.

@rduffield and @manos-saratsis we need a decision on the following. Both will work, the second is just a bit more awkward.
- [ ]  Option 1: At the end of the claiming script, and based on a comman

[2020-03-25 17:33] Kramerican commented on #8479
Alright thanks a lot for the answers - I'll test it out :)

[2020-03-25 17:33] #8479 closed

[2020-03-25 17:44] val123456 opened #8487 "Node View not working Chrome/OS X"
##### Bug report summary

Viewing local netdata instances, then click Nodes button.  Authenticate via github, Nodes page starts to display, then it bounces back to the auth page.

##### OS / Environment

[code]

##### Netdata version

 netdata v1.20.0-225-nightly

##### Component Name

N/A
##### Steps To Reproduce

Viewing local netdata instances in Chrome, then click Nodes button.  Authenticate v

[2020-03-25 17:51] val123456 commented on #8487
JS console when clicking the drop-down to switch dashboard to another server:

[code]

[2020-03-25 18:39] skanadian opened #8488 "$PATH not set correctly for Linux installs"
I've created my own netdata installer by using build-x86_64-static.sh

When using the installer outside of a normal shell (ie. called from cron via config management) the $PATH is not defined correctly.

This causes problems with "packaging/installer/functions.sh" where anything calling "if command" won't work. (ie. adding users/groups, systemd scripts, etc).  As a result, netdata runs as root and

[2020-03-25 18:59] manos-saratsis commented on #8486
@cakrit option1 is great

[2020-03-25 19:48] jacekkolasa commented on #8487
@val123456 can you please do `localStorage.clear()` in console and try again? there's an old bug, but we'll release very soon a new version of dashboard where this problem will be gone.

There's also another problem with recent updates of Chrome. Sign in will not work properly if you have `Block third party cookies` set `on` in Chrome. It's set in chrome://settings/content/cookies page. Could you

[2020-03-25 20:09] val123456 commented on #8487
@jacekkolasa Third party cookies is off (as much as I would like to set it :-)

Clearing local storage did not make a difference.

[code]

[2020-03-25 20:30] jacekkolasa commented on #8487
Yeah, i also don't like setting third party cookies as off! We cannot do nothing atm, the new browser policies are getting more strict, i hope in the future we'll be able to ask users for cross-site login permissions. FYI single sign on works better on Firefox, they have more user-friendly detection.

Until we fix this error, can you please run this line in console?
[code]

[2020-03-25 20:30] #7201 closed

[2020-03-25 20:39] tycho opened #8490 "Incorrect lstrip() truncates module names"
Commit 198b735f30d1bdbbb8ca87dc1f0b25f9091bfe3b is incorrectly implemented. It uses `self.module_name = self.__module__.lstrip('pythond_')` which assumes that `lstrip` takes an exact string argument, whereas it's really taking a set of characters to strip from the beginning:

https://docs.python.org/3/library/stdtypes.html#str.lstrip

So with that commit, a module named internally as something lik

[2020-03-25 21:14] val123456 commented on #8487
No change . . . I ran it before clicking Nodes.

[2020-03-25 21:21] ilyam8 commented on #8490
linus-vs-nvidia.jpg 😄

___

Thx for reporting @tycho

[2020-03-25 22:09] kdy1968 commented on #8457
I believe it was related to the config files, i recreated the netdata config files and it is work as expected now, closing

[2020-03-25 22:09] #8457 closed

[2020-03-25 22:28] ilyam8 commented on #8448
No 😅  i marked the issue as unread and wll try to find some time to check in upcoming days.

[2020-03-25 23:11] BertHG commented on #4021
Hi, I'm having the same issue. In the log files I see `2020-03-25 23:10:21: netdata ERROR : PLUGIN[proc] : PROCFILE: Cannot open file '/proc/net/sctp/snmp' (errno 2, No such file or directory)`. How did you solve this?

[2020-03-25 23:50] prologic commented on #7197
This was fixed on Jan 10 2020 by @Ferroin  with #7704  -- Are you saying this didn't fix the problem? @Kramerican In your case I can understand that you likely have an old enough version that you would need to manually re-install to get the fix. In fact now that I think about it based on @ikarlo 's comment I _think_ this would affect every NetData install via `kickstart_static64.sh`; I will quickl

[2020-03-26 01:55] prologic opened #8493 "Improve kickstart_static64.sh to be more portable"
As per title.

Currently there are a number of issues I'd like to fix:

- No fallback to `wget` on systems that do not have `curl` installed.
- Relies on `Bash` and the Bash `<(command)` redirection/temporary file mechanism which both do not work on systems without bash such as Busybox systems, non-Linux or custom LFS (_Linux From Scratch_)

We _should_ be making this installation option as portab

[2020-03-26 02:00] prologic commented on #7197
I _can_ confirm this is still an issue:

[code]

Reopening...

[2020-03-26 02:06] prologic commented on #8448
@patademahesh My guess is that one of your sub-processes you spawn in your script is hanging on s pipe and you don't have any cleanup / signal signal handler in this script at all.

You should add one first of all to improve the situation: e.g:

[code]

You should also write a `SIGINT` and `SIGTERM` handler as well:

[code]

See [this blog post](https://www.linuxjournal.com/content/bash-trap-comma

[2020-03-26 02:23] prologic commented on #8120
This is not a bug but a feature-request for our CI

[2020-03-26 02:25] prologic commented on #8396
@Ferroin Do you mind if we remove the bug label here? This isn't really bug but a feature/enhancement to pre-existing flows. We _should_ do this but it was never designed to do so in the first place; so not a bug :)

[2020-03-26 07:33] prologic commented on #7197
Oh I _know_ what's happening here! 🤦‍♂️

These are the important lines:

[code]

The updater and thus the `kickstart_static64.sh` which I _believe_ gets re-runs even on an update isn't smart enough to understand what "hey this is an update, leave existing things alone"; it just goes and clobbers over the top of a previous install that was already installed with "yes please enable auto updates".

H

[2020-03-26 08:14] #8490 closed

[2020-03-26 09:11] jbfuzier commented on #8384
Looks like I spoke too soon, got ~10 of those last night :

![image](https://user-images.githubusercontent.com/4688432/77629049-2dce1e00-6f49-11ea-884a-64adb17c80e5.png)

One occured at 9:58

![image](https://user-images.githubusercontent.com/4688432/77629250-830a2f80-6f49-11ea-979c-ecf940a26b18.png)

![image](https://user-images.githubusercontent.com/4688432/77629368-afbe4700-6f49-11ea-8ca8-2f833

[2020-03-26 09:17] djrm05 opened #8495 "Tun virtual network interfaces not recognized after last upgrade"
Hi,

I upgraded Netdata yesterday and after that the Tun network interfaces (openvpn) are not appearing in the dashboard. I've just upgraded to v1.20.0-243-ga75dce49 and it still the same. So everything else seems to be there except the tun interfaces (in my case 2)

This netdata is running in an Ubuntu 18.04 desktop machine.

[2020-03-26 09:36] marcomusso commented on #8473
Thanks for specifing the update_every limitation, it's ok for me to check all rabbitmq aspects at the same frequency.

Attached responses for two different systems: the bigger one is from an Elasticsearch implementation that is effortlessly indexing at 40k docs/s and the call is quite fast (time reports: 0.01s user 0.01s system 41% cpu 0.045 total).

[api_queues.zip](https://github.com/netdata/net

[2020-03-26 09:39] vlvkobal commented on #8495
Please show all `[plugin:proc:/proc/net/dev...]` sections from your configuration `http://localhost:19999/netdata.conf`.

[2020-03-26 11:03] djrm05 commented on #8495
Please see below. Im able to see only bond0, eno1 and enp2s0 and tun0/tun1 are not...

`[plugin:proc:/proc/net/dev]
	# filename to monitor = /proc/net/dev
	# path to get virtual interfaces = /sys/devices/virtual/net/%s
	# path to get net device speed = /sys/class/net/%s/speed
	# path to get net device duplex = /sys/class/net/%s/duplex
	# path to get net device operstate = /sys/class/net/%s/opersta

[2020-03-26 11:09] ilyam8 opened #8497 "TLS v1.3 support"
Additionally apache keeps good logs about which IP tries to access what resources and allows for http authentication
Also netdata only supports up to TLS 1.2 (which can no longer be considered secure)

_Originally posted by @Pingger in https://github.com/netdata/netdata/issues/7838#issuecomment-577901929_

[2020-03-26 11:25] Ferroin commented on #6158
Marking this as a feature request (it technically is) so that it isn't automatically closed.

[2020-03-26 11:34] Ferroin commented on #8396
@prologic It's technically both a feature request and a bug. The `netdata-all` target for `install-required-packages.sh` is supposed to pull in _everthing_ you need for all features of netdata, and it does not right now, so that's a bug.

[2020-03-26 14:40] vlvkobal commented on #8495
Try setting `enable zero metrics = yes` in the `[global]` section and restart Netdata.

[2020-03-26 14:47] marcomusso commented on #8473
Of course I'm available if you need to test some code...

[2020-03-26 15:38] marcomusso opened #8500 "Correct way of counting running containers"
##### Question summary

I wonder what is the correct way of counting running containers with netdata.
I'm trying with the docker engine plugin which seems to not give the expected results (metrics as exporter to Prometheus):

[code]

Debug run:

[code]

No errors in error.log:

[code]

##### OS / Environment

CentOS 7.6.1810 (Core)
docker-engine-17.05.0.ce-1.el7.centos.x86_64, configured as:
[code

[2020-03-26 15:40] SS88UK commented on #1646
Hi,

I am facing this issue. I have edited nginx.conf because I have a custom location + install. It was working great, then netdata updated and overwrote my files.

I followed this to make the changes: https://docs.netdata.cloud/collectors/python.d.plugin/nginx/

I simply installed netdata as per your homepage with automatic updating turned on.

[2020-03-26 16:04] djrm05 commented on #8495
This fixed it! May I know why this was not an issue in previous versions?

Thanks by the way!! :)

[2020-03-26 16:37] ilyam8 commented on #1646
Hi @SS88UK

see https://github.com/netdata/netdata/issues/8435 (same goes for all user config files)

[2020-03-26 16:42] ilyam8 commented on #8500
Hi, open in browser `http://127.0.0.1:9323/metrics` and search for `engine_daemon_container_states_containers` metric

should something like this

[code]

[2020-03-26 16:43] SS88UK commented on #1646
Hi @ilyam8,

Thanks - understood!

[2020-03-26 16:45] ilyam8 commented on #8495
This `enable zero metrics = no` (default is `no`) option always causes confusions

[2020-03-26 16:49] #8050 closed

[2020-03-26 16:49] djrm05 commented on #8495
well, this option was not included in my conf file.. I was looking in the commented lines in the global section and was not there, so I had to added it. This is why I ask why this was not an issue for previous versions where the TUN adapters were working .

[2020-03-26 16:49] #8495 closed

[2020-03-26 16:50] vlvkobal commented on #8495
I think it's a coincidence. Charts with zero metrics were disabled by default quite a long time ago (a few years ago). The `enable zero metrics` zero option to enable them was introduced only a few months ago.

[2020-03-26 16:52] stelfrag opened #8503 "Enhance the ACLK JSON header with a new timestamp-offset-usec field"
#### Summary

Add a new field to the ACLK JSON header `timestamp-offset-usec` that will provide microseconds offset to the `timestamp` in the range 0 ... 999999

Example:

Existing header

[code]

new header

[code]

[2020-03-26 16:54] djrm05 commented on #8495
thanks @vlvkobal  for your help here :) 👍

[2020-03-26 17:01] ilyam8 commented on #8500
i checked on my local machine

[code]

___

[code]

[2020-03-26 17:21] marcomusso commented on #8500
[code]

No socket access so I suppose no evident permission issues...

Some data is there of course:

[code]

[2020-03-26 17:30] ilyam8 commented on #8500
Well, it seems it doesnt expose those metrics via metric-address on your install

___

[code]

deb 10

[code]

[2020-03-26 17:40] marcomusso commented on #8500
Ok docker doesn't expose those metrics, probably there should be a proper match with the docker engine and the availability of those metrics, I'll check/update if possible.
But reporting 0 is a little misleading because it implies that that number is coming from somewhere... But right now I don't know if NaN is an option (I would prefer it).

[2020-03-26 17:40] EnzoAkira opened #8504 "Alarm-notify with var not replaced"
##### Bug report summary

I created a SRE role in the alarms most important to me, but in Alerta.io I am receiving all the roles.
I checked alarm-notify.sh and saw that some default Netdata paths are not correct, they still have the variables that would be replaced.

##### OS / Environment

[code]

##### Netdata version

 Netdata 1.20

##### Component Name

Netdata alarm notifications

##### Steps

[2020-03-26 17:43] EnzoAkira commented on #8504
Aditional Info:
![imagem](https://user-images.githubusercontent.com/39481527/77678605-52e28100-6f89-11ea-9021-05d0101b7f6d.png)

[2020-03-26 17:44] ilyam8 commented on #8500
I agree, i didnt know about this case. I assumed these metrics are always in place.

[2020-03-26 17:45] marcomusso commented on #8500
I'll report if I find the root cause, right now I suspect an old version of the docker package (possible on CentOS)

[2020-03-26 17:46] ilyam8 commented on #8500
i think it is likely the case, thx

[2020-03-26 17:53] ilyam8 commented on #8504
Hi @EnzoAkira

How did you install Netdata?

I installed in from source and i have no such problem

[code]

[2020-03-26 17:55] EnzoAkira commented on #8504
I'm using an ansible-playbook that runs `sh /tmp/kickstart-static64.sh --dont-wait --stable-channel`

[2020-03-26 18:11] ilyam8 commented on #8504
I dont have such problem using `bash <(curl -Ss https://my-netdata.io/kickstart-static64.sh)` to install Netdata.

[2020-03-26 18:12] ilyam8 commented on #8504
Could be that you are checking source code?

[2020-03-26 18:17] EnzoAkira commented on #8504
I'm not.
I updated netdata on all hosts and implemented the settings for Alerta.io. The example I gave above is of a netdata installation on a host in production.

[2020-03-26 18:19] ilyam8 commented on #8504
@prologic @Ferroin any ideas?

[2020-03-26 18:19] EnzoAkira commented on #8504
By the way. What script replace this vars? netdata-installer or kickstart-static64?

[2020-03-26 18:37] leolb-aphp opened #8506 "/proc/self/mountstats NFS metrics"
##### Feature idea summary

I am trying to get NFS per mount statistics but I could not find a netdata module for it

##### Expected behavior

Information in the dashboard that reflects `/proc/self/mountstats` content such as:

[code]

[2020-03-26 18:37] marcomusso commented on #8500
Ok, on the same machine, I removed the old docker engine and installed CE

# rpm -qa | grep docker
docker-ce-cli-19.03.8-3.el7.x86_64
docker-ce-19.03.8-3.el7.x86_64

It works:

[code]

Definitely an old version not supporting correctly those metrics and a slightly misleading "0" reported by netdata in that case. I suggest to specify a minim version in the docs and possibly reporting NaN instead of

[2020-03-26 18:38] marcomusso commented on #8500
And keep up the good work for netdata!

[2020-03-26 18:45] ilyam8 commented on #8500
I plan to do this, no metric - no value.

[2020-03-26 20:21] prologic commented on #8504
I will take a look today...

[2020-03-26 20:30] prologic commented on #8396
Fair :)

[2020-03-26 20:41] prologic commented on #5516
@nyetwurk Our apologies. I'm actually going to work on this and a few other related Docker issues today/tomorrow. I'll have an update soon hopefully.

[2020-03-26 21:07] prologic commented on #7197
This should now be fixed with #8507

[2020-03-26 21:33] arnowelzel opened #8508 "First characters of plugin names cut off"
##### Bug report summary

Some names of plugins are cut off - sometimes the first two letters are missing, sometimes only one letter:

"postfix" becames "stfix"
"dovecot" becomes "vecot"
"ts3 "becomes "s3"
"nextcloud" becomes "extcloud"

Screenshot:

![grafik](https://user-images.githubusercontent.com/6613614/77698440-e7aca500-6fb0-11ea-9c24-731b5ae5e541.png)

After removing custom plugins "ts3" a

[2020-03-26 21:39] nyetwurk commented on #5516
Currently I'm just doing a simple `docker run --entrypoint id netdata netdata` to extract it from the container.

[2020-03-26 21:42] ilyam8 commented on #8508
Hi @arnowelzel

duplicate of #8490 fixed in #8492

[2020-03-26 21:42] #8508 closed

[2020-03-26 21:43] Kramerican commented on #7197
Awesome - I'll manually update across the line and report back if I see this happening again

[2020-03-26 21:59] prologic commented on #5516
Thanks for the info! It will help me make this better for everyone!

[2020-03-26 22:10] prologic commented on #7197
You'll have to wait for us to create and publish a new Makeself archive. I _think_ ;)

[2020-03-26 22:21] Kramerican commented on #7197
Alrighty - I'll give it a week or so and see if a new version is out by then :)

[2020-03-26 22:46] prologic commented on #7197
You should be able to update and get the fix in a day or so. Once #8507 is approved and merged a new nightly will get built with the fix :)

[2020-03-26 23:03] thiagoftsm commented on #7873
After the last discussion I scheduled a meeting next week to talk with product team about the integration between both plugins. In this meeting we intend to talk about the overlap between both plugins and I will also explain a necessity to create a more generic structure that could allow us to do integration of different plugins .